swagger: '2.0'
info:
  version: '2017-10-25'
  x-release: v4
  title: AWS Cost Explorer Service
  description: '<p>The Cost Explorer API enables you to programmatically query your cost and usage data. You can query for aggregated data such as total monthly costs or total daily usage. You can also query for granular data, such as the number of daily write operations for Amazon DynamoDB database tables in your production environment. </p> <p>Service Endpoint</p> <p>The Cost Explorer API provides the following endpoint:</p> <ul> <li> <p> <code>https://ce.us-east-1.amazonaws.com</code> </p> </li> </ul> <p>For information about costs associated with the Cost Explorer API, see <a href="https://aws.amazon.com/aws-cost-management/pricing/">AWS Cost Management Pricing</a>.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: ce
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/ce-2017-10-25.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/ce/'
host: ce.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://ce.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS Cost Explorer multi-region endpoint
  - url: 'https://ce.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS Cost Explorer multi-region endpoint
  - url: 'http://ce.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS Cost Explorer endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://ce.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS Cost Explorer endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#X-Amz-Target=AWSInsightsIndexService.GetCostAndUsage':
    post:
      operationId: GetCostAndUsage
      description: 'Retrieves cost and usage metrics for your account. You can specify which cost and usage-related metric, such as <code>BlendedCosts</code> or <code>UsageQuantity</code>, that you want the request to return. You can also filter and group your data by various dimensions, such as <code>SERVICE</code> or <code>AZ</code>, in a specific time range. For a complete list of valid dimensions, see the <a href="http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetDimensionValues.html">GetDimensionValues</a> operation. Master accounts in an organization in AWS Organizations have access to all member accounts.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCostAndUsageResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: BillExpirationException
          schema:
            $ref: '#/definitions/BillExpirationException'
        '482':
          description: DataUnavailableException
          schema:
            $ref: '#/definitions/DataUnavailableException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: RequestChangedException
          schema:
            $ref: '#/definitions/RequestChangedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetCostAndUsageRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSInsightsIndexService.GetCostAndUsage
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSInsightsIndexService.GetCostAndUsageWithResources':
    post:
      operationId: GetCostAndUsageWithResources
      description: '<p>Retrieves cost and usage metrics with resources for your account. You can specify which cost and usage-related metric, such as <code>BlendedCosts</code> or <code>UsageQuantity</code>, that you want the request to return. You can also filter and group your data by various dimensions, such as <code>SERVICE</code> or <code>AZ</code>, in a specific time range. For a complete list of valid dimensions, see the <a href="http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetDimensionValues.html">GetDimensionValues</a> operation. Master accounts in an organization in AWS Organizations have access to all member accounts. This API is currently available for the Amazon Elastic Compute Cloud – Compute service only.</p> <note> <p>This is an opt-in only feature. You can enable this feature from the Cost Explorer Settings page. For information on how to access the Settings page, see <a href="https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/ce-access.html">Controlling Access for Cost Explorer</a> in the <i>AWS Billing and Cost Management User Guide</i>.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCostAndUsageWithResourcesResponse'
        '480':
          description: DataUnavailableException
          schema:
            $ref: '#/definitions/DataUnavailableException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: BillExpirationException
          schema:
            $ref: '#/definitions/BillExpirationException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: RequestChangedException
          schema:
            $ref: '#/definitions/RequestChangedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetCostAndUsageWithResourcesRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSInsightsIndexService.GetCostAndUsageWithResources
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSInsightsIndexService.GetCostForecast':
    post:
      operationId: GetCostForecast
      description: 'Retrieves a forecast for how much Amazon Web Services predicts that you will spend over the forecast time period that you select, based on your past costs. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCostForecastResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: DataUnavailableException
          schema:
            $ref: '#/definitions/DataUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetCostForecastRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSInsightsIndexService.GetCostForecast
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSInsightsIndexService.GetDimensionValues':
    post:
      operationId: GetDimensionValues
      description: 'Retrieves all available filter values for a specified filter over a period of time. You can search the dimension values for an arbitrary string. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDimensionValuesResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: BillExpirationException
          schema:
            $ref: '#/definitions/BillExpirationException'
        '482':
          description: DataUnavailableException
          schema:
            $ref: '#/definitions/DataUnavailableException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: RequestChangedException
          schema:
            $ref: '#/definitions/RequestChangedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDimensionValuesRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSInsightsIndexService.GetDimensionValues
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSInsightsIndexService.GetReservationCoverage':
    post:
      operationId: GetReservationCoverage
      description: '<p>Retrieves the reservation coverage for your account. This enables you to see how much of your Amazon Elastic Compute Cloud, Amazon ElastiCache, Amazon Relational Database Service, or Amazon Redshift usage is covered by a reservation. An organization''s master account can see the coverage of the associated member accounts. For any time period, you can filter data about reservation usage by the following dimensions:</p> <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p> </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>SERVICE</p> </li> <li> <p>TAG</p> </li> <li> <p>TENANCY</p> </li> </ul> <p>To determine valid values for a dimension, use the <code>GetDimensionValues</code> operation. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetReservationCoverageResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: DataUnavailableException
          schema:
            $ref: '#/definitions/DataUnavailableException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetReservationCoverageRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSInsightsIndexService.GetReservationCoverage
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSInsightsIndexService.GetReservationPurchaseRecommendation':
    post:
      operationId: GetReservationPurchaseRecommendation
      description: '<p>Gets recommendations for which reservations to purchase. These recommendations could help you reduce your costs. Reservations provide a discounted hourly rate (up to 75%) compared to On-Demand pricing.</p> <p>AWS generates your recommendations by identifying your On-Demand usage during a specific time period and collecting your usage into categories that are eligible for a reservation. After AWS has these categories, it simulates every combination of reservations in each category of usage to identify the best number of each type of RI to purchase to maximize your estimated savings. </p> <p>For example, AWS automatically aggregates your Amazon EC2 Linux, shared tenancy, and c4 family usage in the US West (Oregon) Region and recommends that you buy size-flexible regional reservations to apply to the c4 family usage. AWS recommends the smallest size instance in an instance family. This makes it easier to purchase a size-flexible RI. AWS also shows the equal number of normalized units so that you can purchase any instance size that you want. For this example, your RI recommendation would be for <code>c4.large</code> because that is the smallest size instance in the c4 instance family.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetReservationPurchaseRecommendationResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: DataUnavailableException
          schema:
            $ref: '#/definitions/DataUnavailableException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetReservationPurchaseRecommendationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSInsightsIndexService.GetReservationPurchaseRecommendation
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSInsightsIndexService.GetReservationUtilization':
    post:
      operationId: GetReservationUtilization
      description: 'Retrieves the reservation utilization for your account. Master accounts in an organization have access to member accounts. You can filter data by dimensions in a time period. You can use <code>GetDimensionValues</code> to determine the possible dimension values. Currently, you can group only by <code>SUBSCRIPTION_ID</code>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetReservationUtilizationResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: DataUnavailableException
          schema:
            $ref: '#/definitions/DataUnavailableException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetReservationUtilizationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSInsightsIndexService.GetReservationUtilization
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSInsightsIndexService.GetRightsizingRecommendation':
    post:
      operationId: GetRightsizingRecommendation
      description: '<p>Creates recommendations that helps you save cost by identifying idle and underutilized Amazon EC2 instances.</p> <p>Recommendations are generated to either downsize or terminate instances, along with providing savings detail and metrics. For details on calculation and function, see <a href="https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/ce-what-is.html">Optimizing Your Cost with Rightsizing Recommendations</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRightsizingRecommendationResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetRightsizingRecommendationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSInsightsIndexService.GetRightsizingRecommendation
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSInsightsIndexService.GetSavingsPlansCoverage':
    post:
      operationId: GetSavingsPlansCoverage
      description: '<p>Retrieves the Savings Plans covered for your account. This enables you to see how much of your cost is covered by a Savings Plan. An organization’s master account can see the coverage of the associated member accounts. For any time period, you can filter data for Savings Plans usage with the following dimensions:</p> <ul> <li> <p> <code>LINKED_ACCOUNT</code> </p> </li> <li> <p> <code>REGION</code> </p> </li> <li> <p> <code>SERVICE</code> </p> </li> <li> <p> <code>INSTANCE_FAMILY</code> </p> </li> </ul> <p>To determine valid values for a dimension, use the <code>GetDimensionValues</code> operation.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSavingsPlansCoverageResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: DataUnavailableException
          schema:
            $ref: '#/definitions/DataUnavailableException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetSavingsPlansCoverageRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSInsightsIndexService.GetSavingsPlansCoverage
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSInsightsIndexService.GetSavingsPlansPurchaseRecommendation':
    post:
      operationId: GetSavingsPlansPurchaseRecommendation
      description: 'Retrieves your request parameters, Savings Plan Recommendations Summary and Details.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSavingsPlansPurchaseRecommendationResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetSavingsPlansPurchaseRecommendationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSInsightsIndexService.GetSavingsPlansPurchaseRecommendation
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSInsightsIndexService.GetSavingsPlansUtilization':
    post:
      operationId: GetSavingsPlansUtilization
      description: <p>Retrieves the Savings Plans utilization for your account across date ranges with daily or monthly granularity. Master accounts in an organization have access to member accounts. You can use <code>GetDimensionValues</code> in <code>SAVINGS_PLANS</code> to determine the possible dimension values.</p> <note> <p>You cannot group by any dimension values for <code>GetSavingsPlansUtilization</code>.</p> </note>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSavingsPlansUtilizationResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: DataUnavailableException
          schema:
            $ref: '#/definitions/DataUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetSavingsPlansUtilizationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSInsightsIndexService.GetSavingsPlansUtilization
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSInsightsIndexService.GetSavingsPlansUtilizationDetails':
    post:
      operationId: GetSavingsPlansUtilizationDetails
      description: '<p>Retrieves attribute data along with aggregate utilization and savings data for a given time period. This doesn''t support granular or grouped data (daily/monthly) in response. You can''t retrieve data by dates in a single response similar to <code>GetSavingsPlanUtilization</code>, but you have the option to make multiple calls to <code>GetSavingsPlanUtilizationDetails</code> by providing individual dates. You can use <code>GetDimensionValues</code> in <code>SAVINGS_PLANS</code> to determine the possible dimension values.</p> <note> <p> <code>GetSavingsPlanUtilizationDetails</code> internally groups data by <code>SavingsPlansArn</code>.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSavingsPlansUtilizationDetailsResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: DataUnavailableException
          schema:
            $ref: '#/definitions/DataUnavailableException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetSavingsPlansUtilizationDetailsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSInsightsIndexService.GetSavingsPlansUtilizationDetails
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSInsightsIndexService.GetTags':
    post:
      operationId: GetTags
      description: 'Queries for available tag keys and tag values for a specified period. You can search the tag values for an arbitrary string. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetTagsResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: BillExpirationException
          schema:
            $ref: '#/definitions/BillExpirationException'
        '482':
          description: DataUnavailableException
          schema:
            $ref: '#/definitions/DataUnavailableException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: RequestChangedException
          schema:
            $ref: '#/definitions/RequestChangedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetTagsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSInsightsIndexService.GetTags
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSInsightsIndexService.GetUsageForecast':
    post:
      operationId: GetUsageForecast
      description: 'Retrieves a forecast for how much Amazon Web Services predicts that you will use over the forecast time period that you select, based on your past usage. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetUsageForecastResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: DataUnavailableException
          schema:
            $ref: '#/definitions/DataUnavailableException'
        '482':
          description: UnresolvableUsageUnitException
          schema:
            $ref: '#/definitions/UnresolvableUsageUnitException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetUsageForecastRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSInsightsIndexService.GetUsageForecast
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  GetCostAndUsageResponse:
    type: object
    properties:
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.
      GroupDefinitions:
        $ref: '#/definitions/GroupDefinitions'
        description: The groups that are specified by the <code>Filter</code> or <code>GroupBy</code> parameters in the request.
      ResultsByTime:
        $ref: '#/definitions/ResultsByTime'
        description: The time period that is covered by the results in the response.
  GetCostAndUsageRequest:
    type: object
    required:
      - TimePeriod
    properties:
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: 'Sets the start and end dates for retrieving AWS costs. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.'
      Granularity:
        $ref: '#/definitions/Granularity'
        description: '<p>Sets the AWS cost granularity to <code>MONTHLY</code> or <code>DAILY</code>, or <code>HOURLY</code>. If <code>Granularity</code> isn''t set, the response object doesn''t include the <code>Granularity</code>, either <code>MONTHLY</code> or <code>DAILY</code>, or <code>HOURLY</code>. </p> <p>The <code>GetCostAndUsageRequest</code> operation supports only <code>DAILY</code> and <code>MONTHLY</code> granularities.</p>'
      Filter:
        $ref: '#/definitions/Expression'
        description: 'Filters AWS costs by different dimensions. For example, you can specify <code>SERVICE</code> and <code>LINKED_ACCOUNT</code> and get the costs that are associated with that account''s usage of that service. You can nest <code>Expression</code> objects to define any combination of dimension filters. For more information, see <a href="http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html">Expression</a>. '
      Metrics:
        $ref: '#/definitions/MetricNames'
        description: '<p>Which metrics are returned in the query. For more information about blended and unblended rates, see <a href="https://aws.amazon.com/premiumsupport/knowledge-center/blended-rates-intro/">Why does the "blended" annotation appear on some line items in my bill?</a>. </p> <p>Valid values are <code>AmortizedCost</code>, <code>BlendedCost</code>, <code>NetAmortizedCost</code>, <code>NetUnblendedCost</code>, <code>NormalizedUsageAmount</code>, <code>UnblendedCost</code>, and <code>UsageQuantity</code>. </p> <note> <p>If you return the <code>UsageQuantity</code> metric, the service aggregates all usage numbers without taking into account the units. For example, if you aggregate <code>usageQuantity</code> across all of Amazon EC2, the results aren''t meaningful because Amazon EC2 compute hours and data transfer are measured in different units (for example, hours vs. GB). To get more meaningful <code>UsageQuantity</code> metrics, filter by <code>UsageType</code> or <code>UsageTypeGroups</code>. </p> </note> <p> <code>Metrics</code> is required for <code>GetCostAndUsage</code> requests.</p>'
      GroupBy:
        $ref: '#/definitions/GroupDefinitions'
        description: '<p>You can group AWS costs using up to two different groups, either dimensions, tag keys, or both.</p> <p>When you group by tag key, you get all tag values, including empty strings.</p> <p>Valid values are <code>AZ</code>, <code>INSTANCE_TYPE</code>, <code>LEGAL_ENTITY_NAME</code>, <code>LINKED_ACCOUNT</code>, <code>OPERATION</code>, <code>PLATFORM</code>, <code>PURCHASE_TYPE</code>, <code>SERVICE</code>, <code>TAGS</code>, <code>TENANCY</code>, and <code>USAGE_TYPE</code>.</p>'
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.
  LimitExceededException: {}
  BillExpirationException: {}
  DataUnavailableException: {}
  InvalidNextTokenException: {}
  RequestChangedException: {}
  GetCostAndUsageWithResourcesResponse:
    type: object
    properties:
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.
      GroupDefinitions:
        $ref: '#/definitions/GroupDefinitions'
        description: The groups that are specified by the <code>Filter</code> or <code>GroupBy</code> parameters in the request.
      ResultsByTime:
        $ref: '#/definitions/ResultsByTime'
        description: The time period that is covered by the results in the response.
  GetCostAndUsageWithResourcesRequest:
    type: object
    required:
      - TimePeriod
    properties:
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: 'Sets the start and end dates for retrieving Amazon Web Services costs. The range must be within the last 14 days (the start date cannot be earlier than 14 days ago). The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.'
      Granularity:
        $ref: '#/definitions/Granularity'
        description: 'Sets the AWS cost granularity to <code>MONTHLY</code>, <code>DAILY</code>, or <code>HOURLY</code>. If <code>Granularity</code> isn''t set, the response object doesn''t include the <code>Granularity</code>, <code>MONTHLY</code>, <code>DAILY</code>, or <code>HOURLY</code>. '
      Filter:
        $ref: '#/definitions/Expression'
        description: '<p>Filters Amazon Web Services costs by different dimensions. For example, you can specify <code>SERVICE</code> and <code>LINKED_ACCOUNT</code> and get the costs that are associated with that account''s usage of that service. You can nest <code>Expression</code> objects to define any combination of dimension filters. For more information, see <a href="http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html">Expression</a>. </p> <p>The <code>GetCostAndUsageWithResources</code> operation requires that you either group by or filter by a <code>ResourceId</code>.</p>'
      Metrics:
        $ref: '#/definitions/MetricNames'
        description: '<p>Which metrics are returned in the query. For more information about blended and unblended rates, see <a href="https://aws.amazon.com/premiumsupport/knowledge-center/blended-rates-intro/">Why does the "blended" annotation appear on some line items in my bill?</a>. </p> <p>Valid values are <code>AmortizedCost</code>, <code>BlendedCost</code>, <code>NetAmortizedCost</code>, <code>NetUnblendedCost</code>, <code>NormalizedUsageAmount</code>, <code>UnblendedCost</code>, and <code>UsageQuantity</code>. </p> <note> <p>If you return the <code>UsageQuantity</code> metric, the service aggregates all usage numbers without taking the units into account. For example, if you aggregate <code>usageQuantity</code> across all of Amazon EC2, the results aren''t meaningful because Amazon EC2 compute hours and data transfer are measured in different units (for example, hours vs. GB). To get more meaningful <code>UsageQuantity</code> metrics, filter by <code>UsageType</code> or <code>UsageTypeGroups</code>. </p> </note> <p> <code>Metrics</code> is required for <code>GetCostAndUsageWithResources</code> requests.</p>'
      GroupBy:
        $ref: '#/definitions/GroupDefinitions'
        description: 'You can group Amazon Web Services costs using up to two different groups: either dimensions, tag keys, or both.'
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.
  GetCostForecastResponse:
    type: object
    properties:
      Total:
        $ref: '#/definitions/MetricValue'
        description: 'How much you are forecasted to spend over the forecast period, in <code>USD</code>.'
      ForecastResultsByTime:
        $ref: '#/definitions/ForecastResultsByTime'
        description: 'The forecasts for your query, in order. For <code>DAILY</code> forecasts, this is a list of days. For <code>MONTHLY</code> forecasts, this is a list of months.'
  GetCostForecastRequest:
    type: object
    required:
      - TimePeriod
      - Metric
      - Granularity
    properties:
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: The period of time that you want the forecast to cover.
      Metric:
        $ref: '#/definitions/Metric'
        description: '<p>Which metric Cost Explorer uses to create your forecast. For more information about blended and unblended rates, see <a href="https://aws.amazon.com/premiumsupport/knowledge-center/blended-rates-intro/">Why does the "blended" annotation appear on some line items in my bill?</a>. </p> <p>Valid values for a <code>GetCostForecast</code> call are the following:</p> <ul> <li> <p>AMORTIZED_COST</p> </li> <li> <p>BLENDED_COST</p> </li> <li> <p>NET_AMORTIZED_COST</p> </li> <li> <p>NET_UNBLENDED_COST</p> </li> <li> <p>UNBLENDED_COST</p> </li> </ul>'
      Granularity:
        $ref: '#/definitions/Granularity'
        description: <p>How granular you want the forecast to be. You can get 3 months of <code>DAILY</code> forecasts or 12 months of <code>MONTHLY</code> forecasts.</p> <p>The <code>GetCostForecast</code> operation supports only <code>DAILY</code> and <code>MONTHLY</code> granularities.</p>
      Filter:
        $ref: '#/definitions/Expression'
        description: The filters that you want to use to filter your forecast. Cost Explorer API supports all of the Cost Explorer filters.
      PredictionIntervalLevel:
        $ref: '#/definitions/PredictionIntervalLevel'
        description: 'Cost Explorer always returns the mean forecast as a single point. You can request a prediction interval around the mean by specifying a confidence level. The higher the confidence level, the more confident Cost Explorer is about the actual value falling in the prediction interval. Higher confidence levels result in wider prediction intervals.'
  GetDimensionValuesResponse:
    type: object
    required:
      - DimensionValues
      - ReturnSize
      - TotalSize
    properties:
      DimensionValues:
        $ref: '#/definitions/DimensionValuesWithAttributesList'
        description: '<p>The filters that you used to filter your request. Some dimensions are available only for a specific context.</p> <p>If you set the context to <code>COST_AND_USAGE</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p> </li> <li> <p>DATABASE_ENGINE - The Amazon Relational Database Service database. Examples are Aurora or MySQL.</p> </li> <li> <p>INSTANCE_TYPE - The type of Amazon EC2 instance. An example is <code>m4.xlarge</code>.</p> </li> <li> <p>LEGAL_ENTITY_NAME - The name of the organization that sells you AWS services, such as Amazon Web Services.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>OPERATING_SYSTEM - The operating system. Examples are Windows or Linux.</p> </li> <li> <p>OPERATION - The action performed. Examples include <code>RunInstance</code> and <code>CreateBucket</code>.</p> </li> <li> <p>PLATFORM - The Amazon EC2 operating system. Examples are Windows or Linux.</p> </li> <li> <p>PURCHASE_TYPE - The reservation type of the purchase to which this usage is related. Examples include On-Demand Instances and Standard Reserved Instances.</p> </li> <li> <p>SERVICE - The AWS service such as Amazon DynamoDB.</p> </li> <li> <p>USAGE_TYPE - The type of usage. An example is DataTransfer-In-Bytes. The response for the <code>GetDimensionValues</code> operation includes a unit attribute. Examples include GB and Hrs.</p> </li> <li> <p>USAGE_TYPE_GROUP - The grouping of common usage types. An example is Amazon EC2: CloudWatch – Alarms. The response for this operation includes a unit attribute.</p> </li> <li> <p>RECORD_TYPE - The different types of charges such as RI fees, usage costs, tax refunds, and credits.</p> </li> <li> <p>RESOURCE_ID - The unique identifier of the resource. ResourceId is an opt-in feature only available for last 14 days for EC2-Compute Service.</p> </li> </ul> <p>If you set the context to <code>RESERVATIONS</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p> </li> <li> <p>CACHE_ENGINE - The Amazon ElastiCache operating system. Examples are Windows or Linux.</p> </li> <li> <p>DEPLOYMENT_OPTION - The scope of Amazon Relational Database Service deployments. Valid values are <code>SingleAZ</code> and <code>MultiAZ</code>.</p> </li> <li> <p>INSTANCE_TYPE - The type of Amazon EC2 instance. An example is <code>m4.xlarge</code>.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>PLATFORM - The Amazon EC2 operating system. Examples are Windows or Linux.</p> </li> <li> <p>REGION - The AWS Region.</p> </li> <li> <p>SCOPE (Utilization only) - The scope of a Reserved Instance (RI). Values are regional or a single Availability Zone.</p> </li> <li> <p>TAG (Coverage only) - The tags that are associated with a Reserved Instance (RI).</p> </li> <li> <p>TENANCY - The tenancy of a resource. Examples are shared or dedicated.</p> </li> </ul> <p>If you set the context to <code>SAVINGS_PLANS</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>SAVINGS_PLANS_TYPE - Type of Savings Plans (EC2 Instance or Compute)</p> </li> <li> <p>PAYMENT_OPTION - Payment option for the given Savings Plans (for example, All Upfront)</p> </li> <li> <p>REGION - The AWS Region.</p> </li> <li> <p>INSTANCE_TYPE_FAMILY - The family of instances (For example, <code>m5</code>)</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>SAVINGS_PLAN_ARN - The unique identifier for your Savings Plan</p> </li> </ul>'
      ReturnSize:
        $ref: '#/definitions/PageSize'
        description: The number of results that AWS returned at one time.
      TotalSize:
        $ref: '#/definitions/PageSize'
        description: The total number of search results.
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.
  GetDimensionValuesRequest:
    type: object
    required:
      - TimePeriod
      - Dimension
    properties:
      SearchString:
        $ref: '#/definitions/SearchString'
        description: The value that you want to search the filter values for.
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: 'The start and end dates for retrieving the dimension values. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.'
      Dimension:
        $ref: '#/definitions/Dimension'
        description: 'The name of the dimension. Each <code>Dimension</code> is available for a different <code>Context</code>. For more information, see <code>Context</code>. '
      Context:
        $ref: '#/definitions/Context'
        description: '<p>The context for the call to <code>GetDimensionValues</code>. This can be <code>RESERVATIONS</code> or <code>COST_AND_USAGE</code>. The default value is <code>COST_AND_USAGE</code>. If the context is set to <code>RESERVATIONS</code>, the resulting dimension values can be used in the <code>GetReservationUtilization</code> operation. If the context is set to <code>COST_AND_USAGE</code>, the resulting dimension values can be used in the <code>GetCostAndUsage</code> operation.</p> <p>If you set the context to <code>COST_AND_USAGE</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p> </li> <li> <p>DATABASE_ENGINE - The Amazon Relational Database Service database. Examples are Aurora or MySQL.</p> </li> <li> <p>INSTANCE_TYPE - The type of Amazon EC2 instance. An example is <code>m4.xlarge</code>.</p> </li> <li> <p>LEGAL_ENTITY_NAME - The name of the organization that sells you AWS services, such as Amazon Web Services.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>OPERATING_SYSTEM - The operating system. Examples are Windows or Linux.</p> </li> <li> <p>OPERATION - The action performed. Examples include <code>RunInstance</code> and <code>CreateBucket</code>.</p> </li> <li> <p>PLATFORM - The Amazon EC2 operating system. Examples are Windows or Linux.</p> </li> <li> <p>PURCHASE_TYPE - The reservation type of the purchase to which this usage is related. Examples include On-Demand Instances and Standard Reserved Instances.</p> </li> <li> <p>SERVICE - The AWS service such as Amazon DynamoDB.</p> </li> <li> <p>USAGE_TYPE - The type of usage. An example is DataTransfer-In-Bytes. The response for the <code>GetDimensionValues</code> operation includes a unit attribute. Examples include GB and Hrs.</p> </li> <li> <p>USAGE_TYPE_GROUP - The grouping of common usage types. An example is Amazon EC2: CloudWatch – Alarms. The response for this operation includes a unit attribute.</p> </li> <li> <p>RECORD_TYPE - The different types of charges such as RI fees, usage costs, tax refunds, and credits.</p> </li> <li> <p>RESOURCE_ID - The unique identifier of the resource. ResourceId is an opt-in feature only available for last 14 days for EC2-Compute Service.</p> </li> </ul> <p>If you set the context to <code>RESERVATIONS</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p> </li> <li> <p>CACHE_ENGINE - The Amazon ElastiCache operating system. Examples are Windows or Linux.</p> </li> <li> <p>DEPLOYMENT_OPTION - The scope of Amazon Relational Database Service deployments. Valid values are <code>SingleAZ</code> and <code>MultiAZ</code>.</p> </li> <li> <p>INSTANCE_TYPE - The type of Amazon EC2 instance. An example is <code>m4.xlarge</code>.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>PLATFORM - The Amazon EC2 operating system. Examples are Windows or Linux.</p> </li> <li> <p>REGION - The AWS Region.</p> </li> <li> <p>SCOPE (Utilization only) - The scope of a Reserved Instance (RI). Values are regional or a single Availability Zone.</p> </li> <li> <p>TAG (Coverage only) - The tags that are associated with a Reserved Instance (RI).</p> </li> <li> <p>TENANCY - The tenancy of a resource. Examples are shared or dedicated.</p> </li> </ul> <p>If you set the context to <code>SAVINGS_PLANS</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>SAVINGS_PLANS_TYPE - Type of Savings Plans (EC2 Instance or Compute)</p> </li> <li> <p>PAYMENT_OPTION - Payment option for the given Savings Plans (for example, All Upfront)</p> </li> <li> <p>REGION - The AWS Region.</p> </li> <li> <p>INSTANCE_TYPE_FAMILY - The family of instances (For example, <code>m5</code>)</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>SAVINGS_PLAN_ARN - The unique identifier for your Savings Plan</p> </li> </ul>'
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.
  GetReservationCoverageResponse:
    type: object
    required:
      - CoveragesByTime
    properties:
      CoveragesByTime:
        $ref: '#/definitions/CoveragesByTime'
        description: The amount of time that your reservations covered.
      Total:
        $ref: '#/definitions/Coverage'
        description: The total amount of instance usage that a reservation covered.
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.
  GetReservationCoverageRequest:
    type: object
    required:
      - TimePeriod
    properties:
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: 'The start and end dates of the period that you want to retrieve data about reservation coverage for. You can retrieve data for a maximum of 13 months: the last 12 months and the current month. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>. '
      GroupBy:
        $ref: '#/definitions/GroupDefinitions'
        description: '<p>You can group the data by the following attributes:</p> <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p> </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>TENANCY</p> </li> </ul>'
      Granularity:
        $ref: '#/definitions/Granularity'
        description: '<p>The granularity of the AWS cost data for the reservation. Valid values are <code>MONTHLY</code> and <code>DAILY</code>.</p> <p>If <code>GroupBy</code> is set, <code>Granularity</code> can''t be set. If <code>Granularity</code> isn''t set, the response object doesn''t include <code>Granularity</code>, either <code>MONTHLY</code> or <code>DAILY</code>.</p> <p>The <code>GetReservationCoverage</code> operation supports only <code>DAILY</code> and <code>MONTHLY</code> granularities.</p>'
      Filter:
        $ref: '#/definitions/Expression'
        description: '<p>Filters utilization data by dimensions. You can filter by the following dimensions:</p> <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p> </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>SERVICE</p> </li> <li> <p>TAG</p> </li> <li> <p>TENANCY</p> </li> </ul> <p> <code>GetReservationCoverage</code> uses the same <a href="http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html">Expression</a> object as the other operations, but only <code>AND</code> is supported among each dimension. You can nest only one level deep. If there are multiple values for a dimension, they are OR''d together.</p> <p>If you don''t provide a <code>SERVICE</code> filter, Cost Explorer defaults to EC2.</p>'
      Metrics:
        $ref: '#/definitions/MetricNames'
        description: '<p>The measurement that you want your reservation coverage reported in.</p> <p>Valid values are <code>Hour</code>, <code>Unit</code>, and <code>Cost</code>. You can use multiple values in a request.</p>'
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.
    description: You can use the following request parameters to query for how much of your instance usage a reservation covered.
  GetReservationPurchaseRecommendationResponse:
    type: object
    properties:
      Metadata:
        $ref: '#/definitions/ReservationPurchaseRecommendationMetadata'
        description: 'Information about this specific recommendation call, such as the time stamp for when Cost Explorer generated this recommendation.'
      Recommendations:
        $ref: '#/definitions/ReservationPurchaseRecommendations'
        description: Recommendations for reservations to purchase.
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The pagination token for the next set of retrievable results.
  GetReservationPurchaseRecommendationRequest:
    type: object
    required:
      - Service
    properties:
      AccountId:
        $ref: '#/definitions/GenericString'
        description: 'The account ID that is associated with the recommendation. '
      Service:
        $ref: '#/definitions/GenericString'
        description: The specific service that you want recommendations for.
      AccountScope:
        $ref: '#/definitions/AccountScope'
        description: <p>The account scope that you want recommendations for. <code>PAYER</code> means that AWS includes the master account and any member accounts when it calculates its recommendations. <code>LINKED</code> means that AWS includes only member accounts when it calculates its recommendations.</p> <p>Valid values are <code>PAYER</code> and <code>LINKED</code>.</p>
      LookbackPeriodInDays:
        $ref: '#/definitions/LookbackPeriodInDays'
        description: The number of previous days that you want AWS to consider when it calculates your recommendations.
      TermInYears:
        $ref: '#/definitions/TermInYears'
        description: The reservation term that you want recommendations for.
      PaymentOption:
        $ref: '#/definitions/PaymentOption'
        description: The reservation purchase option that you want recommendations for.
      ServiceSpecification:
        $ref: '#/definitions/ServiceSpecification'
        description: 'The hardware specifications for the service instances that you want recommendations for, such as standard or convertible Amazon EC2 instances.'
      PageSize:
        $ref: '#/definitions/NonNegativeInteger'
        description: The number of recommendations that you want returned in a single response object.
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The pagination token that indicates the next set of results that you want to retrieve.
  GetReservationUtilizationResponse:
    type: object
    required:
      - UtilizationsByTime
    properties:
      UtilizationsByTime:
        $ref: '#/definitions/UtilizationsByTime'
        description: The amount of time that you used your RIs.
      Total:
        $ref: '#/definitions/ReservationAggregates'
        description: The total amount of time that you used your RIs.
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.
  GetReservationUtilizationRequest:
    type: object
    required:
      - TimePeriod
    properties:
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: 'Sets the start and end dates for retrieving RI utilization. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>. '
      GroupBy:
        $ref: '#/definitions/GroupDefinitions'
        description: Groups only by <code>SUBSCRIPTION_ID</code>. Metadata is included.
      Granularity:
        $ref: '#/definitions/Granularity'
        description: '<p>If <code>GroupBy</code> is set, <code>Granularity</code> can''t be set. If <code>Granularity</code> isn''t set, the response object doesn''t include <code>Granularity</code>, either <code>MONTHLY</code> or <code>DAILY</code>. If both <code>GroupBy</code> and <code>Granularity</code> aren''t set, <code>GetReservationUtilization</code> defaults to <code>DAILY</code>.</p> <p>The <code>GetReservationUtilization</code> operation supports only <code>DAILY</code> and <code>MONTHLY</code> granularities.</p>'
      Filter:
        $ref: '#/definitions/Expression'
        description: '<p>Filters utilization data by dimensions. You can filter by the following dimensions:</p> <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p> </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>SERVICE</p> </li> <li> <p>SCOPE</p> </li> <li> <p>TENANCY</p> </li> </ul> <p> <code>GetReservationUtilization</code> uses the same <a href="http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html">Expression</a> object as the other operations, but only <code>AND</code> is supported among each dimension, and nesting is supported up to only one level deep. If there are multiple values for a dimension, they are OR''d together.</p>'
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.
  GetRightsizingRecommendationResponse:
    type: object
    properties:
      Metadata:
        $ref: '#/definitions/RightsizingRecommendationMetadata'
        description: Information regarding this specific recommendation set.
      Summary:
        $ref: '#/definitions/RightsizingRecommendationSummary'
        description: Summary of this recommendation set.
      RightsizingRecommendations:
        $ref: '#/definitions/RightsizingRecommendationList'
        description: Recommendations to rightsize resources.
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token to retrieve the next set of results.
  GetRightsizingRecommendationRequest:
    type: object
    required:
      - Service
    properties:
      Filter:
        $ref: '#/definitions/Expression'
      Service:
        $ref: '#/definitions/GenericString'
        description: The specific service that you want recommendations for. The only valid value for <code>GetRightsizingRecommendation</code> is "<code>AmazonEC2</code>".
      PageSize:
        $ref: '#/definitions/NonNegativeInteger'
        description: The number of recommendations that you want returned in a single response object.
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The pagination token that indicates the next set of results that you want to retrieve.
  GetSavingsPlansCoverageResponse:
    type: object
    required:
      - SavingsPlansCoverages
    properties:
      SavingsPlansCoverages:
        $ref: '#/definitions/SavingsPlansCoverages'
        description: The amount of spend that your Savings Plans covered.
      NextToken:
        $ref: '#/definitions/NextPageToken'
        description: The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size.
  GetSavingsPlansCoverageRequest:
    type: object
    required:
      - TimePeriod
    properties:
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: 'The time period that you want the usage and costs for. The <code>Start</code> date must be within 13 months. The <code>End</code> date must be after the <code>Start</code> date, and before the current date. Future dates can''t be used as an <code>End</code> date.'
      GroupBy:
        $ref: '#/definitions/GroupDefinitions'
        description: 'You can group the data using the attributes <code>INSTANCE_FAMILY</code>, <code>REGION</code>, or <code>SERVICE</code>.'
      Granularity:
        $ref: '#/definitions/Granularity'
        description: <p>The granularity of the Amazon Web Services cost data for your Savings Plans. <code>Granularity</code> can't be set if <code>GroupBy</code> is set.</p> <p>The <code>GetSavingsPlansCoverage</code> operation supports only <code>DAILY</code> and <code>MONTHLY</code> granularities.</p>
      Filter:
        $ref: '#/definitions/Expression'
        description: '<p>Filters Savings Plans coverage data by dimensions. You can filter data for Savings Plans usage with the following dimensions:</p> <ul> <li> <p> <code>LINKED_ACCOUNT</code> </p> </li> <li> <p> <code>REGION</code> </p> </li> <li> <p> <code>SERVICE</code> </p> </li> <li> <p> <code>INSTANCE_FAMILY</code> </p> </li> </ul> <p> <code>GetSavingsPlansCoverage</code> uses the same <a href="http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html">Expression</a> object as the other operations, but only <code>AND</code> is supported among each dimension. If there are multiple values for a dimension, they are OR''d together.</p>'
      Metrics:
        $ref: '#/definitions/MetricNames'
        description: The measurement that you want your Savings Plans coverage reported in. The only valid value is <code>SpendCoveredBySavingsPlans</code>.
      NextToken:
        $ref: '#/definitions/NextPageToken'
        description: The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size.
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The number of items to be returned in a response. The default is <code>20</code>, with a minimum value of <code>1</code>.'
  GetSavingsPlansPurchaseRecommendationResponse:
    type: object
    properties:
      Metadata:
        $ref: '#/definitions/SavingsPlansPurchaseRecommendationMetadata'
        description: Information regarding this specific recommendation set.
      SavingsPlansPurchaseRecommendation:
        $ref: '#/definitions/SavingsPlansPurchaseRecommendation'
        description: 'Contains your request parameters, Savings Plan Recommendations Summary, and Details.'
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.
  GetSavingsPlansPurchaseRecommendationRequest:
    type: object
    required:
      - SavingsPlansType
      - TermInYears
      - PaymentOption
      - LookbackPeriodInDays
    properties:
      SavingsPlansType:
        $ref: '#/definitions/SupportedSavingsPlansType'
        description: The Savings Plans recommendation type requested.
      TermInYears:
        $ref: '#/definitions/TermInYears'
        description: The savings plan recommendation term used to generated these recommendations.
      PaymentOption:
        $ref: '#/definitions/PaymentOption'
        description: The payment option used to generate these recommendations.
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size.
      PageSize:
        $ref: '#/definitions/NonNegativeInteger'
        description: The number of recommendations that you want returned in a single response object.
      LookbackPeriodInDays:
        $ref: '#/definitions/LookbackPeriodInDays'
        description: The lookback period used to generate the recommendation.
  GetSavingsPlansUtilizationResponse:
    type: object
    required:
      - Total
    properties:
      SavingsPlansUtilizationsByTime:
        $ref: '#/definitions/SavingsPlansUtilizationsByTime'
        description: The amount of cost/commitment you used your Savings Plans. This allows you to specify date ranges.
      Total:
        $ref: '#/definitions/SavingsPlansUtilizationAggregates'
        description: 'The total amount of cost/commitment that you used your Savings Plans, regardless of date ranges.'
  GetSavingsPlansUtilizationRequest:
    type: object
    required:
      - TimePeriod
    properties:
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: 'The time period that you want the usage and costs for. The <code>Start</code> date must be within 13 months. The <code>End</code> date must be after the <code>Start</code> date, and before the current date. Future dates can''t be used as an <code>End</code> date.'
      Granularity:
        $ref: '#/definitions/Granularity'
        description: <p>The granularity of the Amazon Web Services utillization data for your Savings Plans.</p> <p>The <code>GetSavingsPlansUtilization</code> operation supports only <code>DAILY</code> and <code>MONTHLY</code> granularities.</p>
      Filter:
        $ref: '#/definitions/Expression'
        description: '<p>Filters Savings Plans utilization coverage data for active Savings Plans dimensions. You can filter data with the following dimensions:</p> <ul> <li> <p> <code>LINKED_ACCOUNT</code> </p> </li> <li> <p> <code>SAVINGS_PLAN_ARN</code> </p> </li> <li> <p> <code>SAVINGS_PLANS_TYPE</code> </p> </li> <li> <p> <code>REGION</code> </p> </li> <li> <p> <code>PAYMENT_OPTION</code> </p> </li> <li> <p> <code>INSTANCE_TYPE_FAMILY</code> </p> </li> </ul> <p> <code>GetSavingsPlansUtilization</code> uses the same <a href="http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html">Expression</a> object as the other operations, but only <code>AND</code> is supported among each dimension.</p>'
  GetSavingsPlansUtilizationDetailsResponse:
    type: object
    required:
      - SavingsPlansUtilizationDetails
      - TimePeriod
    properties:
      SavingsPlansUtilizationDetails:
        $ref: '#/definitions/SavingsPlansUtilizationDetails'
        description: Retrieves a single daily or monthly Savings Plans utilization rate and details for your account.
      Total:
        $ref: '#/definitions/SavingsPlansUtilizationAggregates'
        description: 'The total Savings Plans utilization, regardless of time period.'
      TimePeriod:
        $ref: '#/definitions/DateInterval'
      NextToken:
        $ref: '#/definitions/NextPageToken'
        description: The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size.
  GetSavingsPlansUtilizationDetailsRequest:
    type: object
    required:
      - TimePeriod
    properties:
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: 'The time period that you want the usage and costs for. The <code>Start</code> date must be within 13 months. The <code>End</code> date must be after the <code>Start</code> date, and before the current date. Future dates can''t be used as an <code>End</code> date.'
      Filter:
        $ref: '#/definitions/Expression'
        description: '<p>Filters Savings Plans utilization coverage data for active Savings Plans dimensions. You can filter data with the following dimensions:</p> <ul> <li> <p> <code>LINKED_ACCOUNT</code> </p> </li> <li> <p> <code>SAVINGS_PLAN_ARN</code> </p> </li> <li> <p> <code>REGION</code> </p> </li> <li> <p> <code>PAYMENT_OPTION</code> </p> </li> <li> <p> <code>INSTANCE_TYPE_FAMILY</code> </p> </li> </ul> <p> <code>GetSavingsPlansUtilizationDetails</code> uses the same <a href="http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html">Expression</a> object as the other operations, but only <code>AND</code> is supported among each dimension.</p>'
      NextToken:
        $ref: '#/definitions/NextPageToken'
        description: The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size.
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The number of items to be returned in a response. The default is <code>20</code>, with a minimum value of <code>1</code>.'
  GetTagsResponse:
    type: object
    required:
      - Tags
      - ReturnSize
      - TotalSize
    properties:
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags that match your request.
      ReturnSize:
        $ref: '#/definitions/PageSize'
        description: The number of query results that AWS returns at a time.
      TotalSize:
        $ref: '#/definitions/PageSize'
        description: The total number of query results.
  GetTagsRequest:
    type: object
    required:
      - TimePeriod
    properties:
      SearchString:
        $ref: '#/definitions/SearchString'
        description: The value that you want to search for.
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: 'The start and end dates for retrieving the dimension values. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.'
      TagKey:
        $ref: '#/definitions/TagKey'
        description: The key of the tag that you want to return values for.
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.
  GetUsageForecastResponse:
    type: object
    properties:
      Total:
        $ref: '#/definitions/MetricValue'
        description: How much you're forecasted to use over the forecast period.
      ForecastResultsByTime:
        $ref: '#/definitions/ForecastResultsByTime'
        description: 'The forecasts for your query, in order. For <code>DAILY</code> forecasts, this is a list of days. For <code>MONTHLY</code> forecasts, this is a list of months.'
  GetUsageForecastRequest:
    type: object
    required:
      - TimePeriod
      - Metric
      - Granularity
    properties:
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: 'The start and end dates of the period that you want to retrieve usage forecast for. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.'
      Metric:
        $ref: '#/definitions/Metric'
        description: '<p>Which metric Cost Explorer uses to create your forecast.</p> <p>Valid values for a <code>GetUsageForecast</code> call are the following:</p> <ul> <li> <p>USAGE_QUANTITY</p> </li> <li> <p>NORMALIZED_USAGE_AMOUNT</p> </li> </ul>'
      Granularity:
        $ref: '#/definitions/Granularity'
        description: <p>How granular you want the forecast to be. You can get 3 months of <code>DAILY</code> forecasts or 12 months of <code>MONTHLY</code> forecasts.</p> <p>The <code>GetUsageForecast</code> operation supports only <code>DAILY</code> and <code>MONTHLY</code> granularities.</p>
      Filter:
        $ref: '#/definitions/Expression'
        description: The filters that you want to use to filter your forecast. Cost Explorer API supports all of the Cost Explorer filters.
      PredictionIntervalLevel:
        $ref: '#/definitions/PredictionIntervalLevel'
        description: 'Cost Explorer always returns the mean forecast as a single point. You can request a prediction interval around the mean by specifying a confidence level. The higher the confidence level, the more confident Cost Explorer is about the actual value falling in the prediction interval. Higher confidence levels result in wider prediction intervals.'
  UnresolvableUsageUnitException: {}
  AccountScope:
    type: string
    enum:
      - PAYER
      - LINKED
  AmortizedRecurringFee:
    type: string
  AmortizedUpfrontFee:
    type: string
  AttributeType:
    type: string
  AttributeValue:
    type: string
  Attributes:
    type: object
    additionalProperties:
      $ref: '#/definitions/AttributeValue'
  Context:
    type: string
    enum:
      - COST_AND_USAGE
      - RESERVATIONS
      - SAVINGS_PLANS
  CoverageHours:
    type: object
    properties:
      OnDemandHours:
        $ref: '#/definitions/OnDemandHours'
        description: The number of instance running hours that On-Demand Instances covered.
      ReservedHours:
        $ref: '#/definitions/ReservedHours'
        description: The number of instance running hours that reservations covered.
      TotalRunningHours:
        $ref: '#/definitions/TotalRunningHours'
        description: 'The total instance usage, in hours.'
      CoverageHoursPercentage:
        $ref: '#/definitions/CoverageHoursPercentage'
        description: The percentage of instance hours that a reservation covered.
    description: How long a running instance either used a reservation or was On-Demand.
  CoverageNormalizedUnits:
    type: object
    properties:
      OnDemandNormalizedUnits:
        $ref: '#/definitions/OnDemandNormalizedUnits'
        description: The number of normalized units that are covered by On-Demand Instances instead of a reservation.
      ReservedNormalizedUnits:
        $ref: '#/definitions/ReservedNormalizedUnits'
        description: The number of normalized units that a reservation covers.
      TotalRunningNormalizedUnits:
        $ref: '#/definitions/TotalRunningNormalizedUnits'
        description: The total number of normalized units that you used.
      CoverageNormalizedUnitsPercentage:
        $ref: '#/definitions/CoverageNormalizedUnitsPercentage'
        description: The percentage of your used instance normalized units that a reservation covers.
    description: '<p>The amount of instance usage, in normalized units. Normalized units enable you to see your EC2 usage for multiple sizes of instances in a uniform way. For example, suppose you run an xlarge instance and a 2xlarge instance. If you run both instances for the same amount of time, the 2xlarge instance uses twice as much of your reservation as the xlarge instance, even though both instances show only one instance-hour. Using normalized units instead of instance-hours, the xlarge instance used 8 normalized units, and the 2xlarge instance used 16 normalized units.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ri-modifying.html">Modifying Reserved Instances</a> in the <i>Amazon Elastic Compute Cloud User Guide for Linux Instances</i>.</p>'
  CoverageCost:
    type: object
    properties:
      OnDemandCost:
        $ref: '#/definitions/OnDemandCost'
        description: How much an On-Demand instance cost.
    description: How much it cost to run an instance.
  Coverage:
    type: object
    properties:
      CoverageHours:
        $ref: '#/definitions/CoverageHours'
        description: 'The amount of instance usage that the reservation covered, in hours.'
      CoverageNormalizedUnits:
        $ref: '#/definitions/CoverageNormalizedUnits'
        description: 'The amount of instance usage that the reservation covered, in normalized units.'
      CoverageCost:
        $ref: '#/definitions/CoverageCost'
        description: The amount of cost that the reservation covered.
    description: The amount of instance usage that a reservation covered.
  DateInterval:
    type: object
    required:
      - Start
      - End
    properties:
      Start:
        $ref: '#/definitions/YearMonthDay'
        description: 'The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date.'
      End:
        $ref: '#/definitions/YearMonthDay'
        description: 'The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.'
    description: 'The time period that you want the usage and costs for. '
  ReservationCoverageGroups:
    type: array
    items:
      $ref: '#/definitions/ReservationCoverageGroup'
  CoverageByTime:
    type: object
    properties:
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: The period that this coverage was used over.
      Groups:
        $ref: '#/definitions/ReservationCoverageGroups'
        description: The groups of instances that the reservation covered.
      Total:
        $ref: '#/definitions/Coverage'
        description: 'The total reservation coverage, in hours.'
    description: 'Reservation coverage for a specified period, in hours.'
  OnDemandCost:
    type: string
  OnDemandHours:
    type: string
  ReservedHours:
    type: string
  TotalRunningHours:
    type: string
  CoverageHoursPercentage:
    type: string
  OnDemandNormalizedUnits:
    type: string
  ReservedNormalizedUnits:
    type: string
  TotalRunningNormalizedUnits:
    type: string
  CoverageNormalizedUnitsPercentage:
    type: string
  CoveragesByTime:
    type: array
    items:
      $ref: '#/definitions/CoverageByTime'
  GenericString:
    type: string
  TagValuesList:
    type: array
    items:
      $ref: '#/definitions/TagValues'
  ResourceDetails:
    type: object
    properties:
      EC2ResourceDetails:
        $ref: '#/definitions/EC2ResourceDetails'
        description: Details on the Amazon EC2 resource.
    description: Details on the resource.
  ResourceUtilization:
    type: object
    properties:
      EC2ResourceUtilization:
        $ref: '#/definitions/EC2ResourceUtilization'
        description: 'Utilization of current Amazon EC2 Instance '
    description: 'Resource utilization of current resource. '
  CurrentInstance:
    type: object
    properties:
      ResourceId:
        $ref: '#/definitions/GenericString'
        description: Resource ID of the current instance.
      Tags:
        $ref: '#/definitions/TagValuesList'
        description: Cost allocation resource tags applied to the instance.
      ResourceDetails:
        $ref: '#/definitions/ResourceDetails'
        description: ' Details about the resource and utilization.'
      ResourceUtilization:
        $ref: '#/definitions/ResourceUtilization'
        description: ' Utilization information of the current instance during the lookback period.'
      ReservationCoveredHoursInLookbackPeriod:
        $ref: '#/definitions/GenericString'
        description: ' Number of hours during the lookback period covered by reservations.'
      SavingsPlansCoveredHoursInLookbackPeriod:
        $ref: '#/definitions/GenericString'
        description: Number of hours during the lookback period covered by Savings Plans.
      OnDemandHoursInLookbackPeriod:
        $ref: '#/definitions/GenericString'
        description: ' Number of hours during the lookback period billed at On Demand rates.'
      TotalRunningHoursInLookbackPeriod:
        $ref: '#/definitions/GenericString'
        description: ' The total number of hours the instance ran during the lookback period.'
      MonthlyCost:
        $ref: '#/definitions/GenericString'
        description: ' Current On Demand cost of operating this instance on a monthly basis.'
      CurrencyCode:
        $ref: '#/definitions/GenericString'
        description: ' The currency code that Amazon Web Services used to calculate the costs for this instance.'
    description: Context about the current instance.
  YearMonthDay:
    type: string
    pattern: '(\d{4}-\d{2}-\d{2})(T\d{2}:\d{2}:\d{2}Z)?'
  Dimension:
    type: string
    enum:
      - AZ
      - INSTANCE_TYPE
      - LINKED_ACCOUNT
      - OPERATION
      - PURCHASE_TYPE
      - REGION
      - SERVICE
      - USAGE_TYPE
      - USAGE_TYPE_GROUP
      - RECORD_TYPE
      - OPERATING_SYSTEM
      - TENANCY
      - SCOPE
      - PLATFORM
      - SUBSCRIPTION_ID
      - LEGAL_ENTITY_NAME
      - DEPLOYMENT_OPTION
      - DATABASE_ENGINE
      - CACHE_ENGINE
      - INSTANCE_TYPE_FAMILY
      - BILLING_ENTITY
      - RESERVATION_ID
      - RESOURCE_ID
      - RIGHTSIZING_TYPE
      - SAVINGS_PLANS_TYPE
      - SAVINGS_PLAN_ARN
      - PAYMENT_OPTION
  Values:
    type: array
    items:
      $ref: '#/definitions/Value'
  DimensionValues:
    type: object
    properties:
      Key:
        $ref: '#/definitions/Dimension'
        description: 'The names of the metadata types that you can use to filter and group your results. For example, <code>AZ</code> returns a list of Availability Zones.'
      Values:
        $ref: '#/definitions/Values'
        description: '<p>The metadata values that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.</p> <p>Valid values for the <code>SERVICE</code> dimension are <code>Amazon Elastic Compute Cloud - Compute</code>, <code>Amazon Elasticsearch Service</code>, <code>Amazon ElastiCache</code>, <code>Amazon Redshift</code>, and <code>Amazon Relational Database Service</code>.</p>'
    description: The metadata that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.
  Value:
    type: string
  DimensionValuesWithAttributes:
    type: object
    properties:
      Value:
        $ref: '#/definitions/Value'
        description: The value of a dimension with a specific attribute.
      Attributes:
        $ref: '#/definitions/Attributes'
        description: The attribute that applies to a specific <code>Dimension</code>.
    description: The metadata of a specific type that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.
  DimensionValuesWithAttributesList:
    type: array
    items:
      $ref: '#/definitions/DimensionValuesWithAttributes'
  GenericBoolean:
    type: boolean
  EC2InstanceDetails:
    type: object
    properties:
      Family:
        $ref: '#/definitions/GenericString'
        description: The instance family of the recommended reservation.
      InstanceType:
        $ref: '#/definitions/GenericString'
        description: The type of instance that AWS recommends.
      Region:
        $ref: '#/definitions/GenericString'
        description: The AWS Region of the recommended reservation.
      AvailabilityZone:
        $ref: '#/definitions/GenericString'
        description: The Availability Zone of the recommended reservation.
      Platform:
        $ref: '#/definitions/GenericString'
        description: 'The platform of the recommended reservation. The platform is the specific combination of operating system, license model, and software on an instance.'
      Tenancy:
        $ref: '#/definitions/GenericString'
        description: Whether the recommended reservation is dedicated or shared.
      CurrentGeneration:
        $ref: '#/definitions/GenericBoolean'
        description: 'Whether the recommendation is for a current-generation instance. '
      SizeFlexEligible:
        $ref: '#/definitions/GenericBoolean'
        description: Whether the recommended reservation is size flexible.
    description: Details about the Amazon EC2 instances that AWS recommends that you purchase.
  EC2ResourceDetails:
    type: object
    properties:
      HourlyOnDemandRate:
        $ref: '#/definitions/GenericString'
        description: ' Hourly public On Demand rate for the instance type.'
      InstanceType:
        $ref: '#/definitions/GenericString'
        description: ' The type of Amazon Web Services instance.'
      Platform:
        $ref: '#/definitions/GenericString'
        description: ' The platform of the Amazon Web Services instance. The platform is the specific combination of operating system, license model, and software on an instance.'
      Region:
        $ref: '#/definitions/GenericString'
        description: ' The Amazon Web Services Region of the instance.'
      Sku:
        $ref: '#/definitions/GenericString'
        description: ' The SKU of the product.'
      Memory:
        $ref: '#/definitions/GenericString'
        description: ' Memory capacity of Amazon Web Services instance.'
      NetworkPerformance:
        $ref: '#/definitions/GenericString'
        description: ' Network performance capacity of the Amazon Web Services instance.'
      Storage:
        $ref: '#/definitions/GenericString'
        description: ' The disk storage of the Amazon Web Services instance (Not EBS storage).'
      Vcpu:
        $ref: '#/definitions/GenericString'
        description: ' Number of VCPU cores in the Amazon Web Services instance type.'
    description: ' Details on the Amazon EC2 Resource.'
  EC2ResourceUtilization:
    type: object
    properties:
      MaxCpuUtilizationPercentage:
        $ref: '#/definitions/GenericString'
        description: ' Maximum observed or expected CPU utilization of the instance.'
      MaxMemoryUtilizationPercentage:
        $ref: '#/definitions/GenericString'
        description: ' Maximum observed or expected memory utilization of the instance.'
      MaxStorageUtilizationPercentage:
        $ref: '#/definitions/GenericString'
        description: ' Maximum observed or expected storage utilization of the instance (does not measure EBS storage).'
    description: ' Utilization metrics of the instance. '
  OfferingClass:
    type: string
    enum:
      - STANDARD
      - CONVERTIBLE
  EC2Specification:
    type: object
    properties:
      OfferingClass:
        $ref: '#/definitions/OfferingClass'
        description: Whether you want a recommendation for standard or convertible reservations.
    description: The Amazon EC2 hardware specifications that you want AWS to provide recommendations for.
  ESInstanceDetails:
    type: object
    properties:
      InstanceClass:
        $ref: '#/definitions/GenericString'
        description: The class of instance that AWS recommends.
      InstanceSize:
        $ref: '#/definitions/GenericString'
        description: The size of instance that AWS recommends.
      Region:
        $ref: '#/definitions/GenericString'
        description: The AWS Region of the recommended reservation.
      CurrentGeneration:
        $ref: '#/definitions/GenericBoolean'
        description: Whether the recommendation is for a current-generation instance.
      SizeFlexEligible:
        $ref: '#/definitions/GenericBoolean'
        description: Whether the recommended reservation is size flexible.
    description: Details about the Amazon ES instances that AWS recommends that you purchase.
  ElastiCacheInstanceDetails:
    type: object
    properties:
      Family:
        $ref: '#/definitions/GenericString'
        description: The instance family of the recommended reservation.
      NodeType:
        $ref: '#/definitions/GenericString'
        description: The type of node that AWS recommends.
      Region:
        $ref: '#/definitions/GenericString'
        description: The AWS Region of the recommended reservation.
      ProductDescription:
        $ref: '#/definitions/GenericString'
        description: The description of the recommended reservation.
      CurrentGeneration:
        $ref: '#/definitions/GenericBoolean'
        description: Whether the recommendation is for a current generation instance.
      SizeFlexEligible:
        $ref: '#/definitions/GenericBoolean'
        description: Whether the recommended reservation is size flexible.
    description: Details about the Amazon ElastiCache instances that AWS recommends that you purchase.
  Entity:
    type: string
  Estimated:
    type: boolean
  Expressions:
    type: array
    items:
      $ref: '#/definitions/Expression'
  Expression:
    type: object
    properties:
      Or:
        $ref: '#/definitions/Expressions'
        description: Return results that match either <code>Dimension</code> object.
      And:
        $ref: '#/definitions/Expressions'
        description: Return results that match both <code>Dimension</code> objects.
      Not:
        $ref: '#/definitions/Expression'
        description: Return results that don't match a <code>Dimension</code> object.
      Dimensions:
        $ref: '#/definitions/DimensionValues'
        description: The specific <code>Dimension</code> to use for <code>Expression</code>.
      Tags:
        $ref: '#/definitions/TagValues'
        description: The specific <code>Tag</code> to use for <code>Expression</code>.
    description: '<p>Use <code>Expression</code> to filter by cost or by usage. There are two patterns: </p> <ul> <li> <p>Simple dimension values - You can set the dimension name and values for the filters that you plan to use. For example, you can filter for <code>REGION==us-east-1 OR REGION==us-west-1</code>. The <code>Expression</code> for that looks like this:</p> <p> <code>{ "Dimensions": { "Key": "REGION", "Values": [ "us-east-1", “us-west-1” ] } }</code> </p> <p>The list of dimension values are OR''d together to retrieve cost or usage data. You can create <code>Expression</code> and <code>DimensionValues</code> objects using either <code>with*</code> methods or <code>set*</code> methods in multiple lines. </p> </li> <li> <p>Compound dimension values with logical operations - You can use multiple <code>Expression</code> types and the logical operators <code>AND/OR/NOT</code> to create a list of one or more <code>Expression</code> objects. This allows you to filter on more advanced options. For example, you can filter on <code>((REGION == us-east-1 OR REGION == us-west-1) OR (TAG.Type == Type1)) AND (USAGE_TYPE != DataTransfer)</code>. The <code>Expression</code> for that looks like this:</p> <p> <code>{ "And": [ {"Or": [ {"Dimensions": { "Key": "REGION", "Values": [ "us-east-1", "us-west-1" ] }}, {"Tags": { "Key": "TagName", "Values": ["Value1"] } } ]}, {"Not": {"Dimensions": { "Key": "USAGE_TYPE", "Values": ["DataTransfer"] }}} ] } </code> </p> <note> <p>Because each <code>Expression</code> can have only one operator, the service returns an error if more than one is specified. The following example shows an <code>Expression</code> object that creates an error.</p> </note> <p> <code> { "And": [ ... ], "DimensionValues": { "Dimension": "USAGE_TYPE", "Values": [ "DataTransfer" ] } } </code> </p> </li> </ul> <note> <p>For <code>GetRightsizingRecommendation</code> action, a combination of OR and NOT is not supported. OR is not supported between different dimensions, or dimensions and tags. NOT operators aren''t supported. Dimensions are also limited to <code>LINKED_ACCOUNT</code>, <code>REGION</code>, or <code>RIGHTSIZING_TYPE</code>.</p> </note>'
  TagValues:
    type: object
    properties:
      Key:
        $ref: '#/definitions/TagKey'
        description: The key for the tag.
      Values:
        $ref: '#/definitions/Values'
        description: The specific value of the tag.
    description: The values that are available for a tag.
  ForecastResult:
    type: object
    properties:
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: The period of time that the forecast covers.
      MeanValue:
        $ref: '#/definitions/GenericString'
        description: The mean value of the forecast.
      PredictionIntervalLowerBound:
        $ref: '#/definitions/GenericString'
        description: 'The lower limit for the prediction interval. '
      PredictionIntervalUpperBound:
        $ref: '#/definitions/GenericString'
        description: 'The upper limit for the prediction interval. '
    description: The forecast created for your query.
  ForecastResultsByTime:
    type: array
    items:
      $ref: '#/definitions/ForecastResult'
  Granularity:
    type: string
    enum:
      - DAILY
      - MONTHLY
      - HOURLY
  MetricNames:
    type: array
    items:
      $ref: '#/definitions/MetricName'
  GroupDefinitions:
    type: array
    items:
      $ref: '#/definitions/GroupDefinition'
  NextPageToken:
    type: string
  ResultsByTime:
    type: array
    items:
      $ref: '#/definitions/ResultByTime'
  Metric:
    type: string
    enum:
      - BLENDED_COST
      - UNBLENDED_COST
      - AMORTIZED_COST
      - NET_UNBLENDED_COST
      - NET_AMORTIZED_COST
      - USAGE_QUANTITY
      - NORMALIZED_USAGE_AMOUNT
  PredictionIntervalLevel:
    type: integer
    minimum: 51
    maximum: 99
  MetricValue:
    type: object
    properties:
      Amount:
        $ref: '#/definitions/MetricAmount'
        description: The actual number that represents the metric.
      Unit:
        $ref: '#/definitions/MetricUnit'
        description: The unit that the metric is given in.
    description: The aggregated value for a metric.
  SearchString:
    type: string
  PageSize:
    type: integer
  LookbackPeriodInDays:
    type: string
    enum:
      - SEVEN_DAYS
      - THIRTY_DAYS
      - SIXTY_DAYS
  TermInYears:
    type: string
    enum:
      - ONE_YEAR
      - THREE_YEARS
  PaymentOption:
    type: string
    enum:
      - NO_UPFRONT
      - PARTIAL_UPFRONT
      - ALL_UPFRONT
      - LIGHT_UTILIZATION
      - MEDIUM_UTILIZATION
      - HEAVY_UTILIZATION
  ServiceSpecification:
    type: object
    properties:
      EC2Specification:
        $ref: '#/definitions/EC2Specification'
        description: The Amazon EC2 hardware specifications that you want AWS to provide recommendations for.
    description: Hardware specifications for the service that you want recommendations for.
  NonNegativeInteger:
    type: integer
[...]
