swagger: '2.0'
info:
  version: '2017-10-25'
  x-release: v4
  title: AWS Cost Explorer Service
  description: '<p>The Cost Explorer API allows you to programmatically query your cost and usage data. You can query for aggregated data such as total monthly costs or total daily usage. You can also query for granular data, such as the number of daily write operations for DynamoDB database tables in your production environment. </p> <p>Service Endpoint</p> <p>The Cost Explorer API provides the following endpoint:</p> <ul> <li> <p>https://ce.us-east-1.amazonaws.com</p> </li> </ul>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: ce
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/ce-2017-10-25.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/ce/'
host: ce.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: GetCostAndUsage
      description: 'Retrieve cost and usage metrics for your account. You can specify which cost and usage-related metric, such as <code>BlendedCosts</code> or <code>UsageQuantity</code>, that you want the request to return. You can also filter and group your data by various dimensions, such as <code>SERVICE</code> or <code>AZ</code>, in a specific time range. See the <code>GetDimensionValues</code> action for a complete list of the valid dimensions. Master accounts in an organization have access to all member accounts.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCostAndUsageResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: BillExpirationException
          schema:
            $ref: '#/definitions/BillExpirationException'
        '482':
          description: DataUnavailableException
          schema:
            $ref: '#/definitions/DataUnavailableException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetCostAndUsageRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDimensionValues':
    post:
      operationId: GetDimensionValues
      description: 'You can use <code>GetDimensionValues</code> to retrieve all available filter values for a specific filter over a period of time. You can search the dimension values for an arbitrary string. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDimensionValuesResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: BillExpirationException
          schema:
            $ref: '#/definitions/BillExpirationException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDimensionValuesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetReservationCoverage':
    post:
      operationId: GetReservationCoverage
      description: '<p>Retrieve the reservation coverage for your account. An organization''s master account has access to the associated member accounts. For any time period, you can filter data about reservation usage by the following dimensions. </p> <ul> <li> <p>AZ</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>TENANCY</p> </li> </ul> <p>To determine valid values for a dimension, use the <code>GetDimensionValues</code> operation. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetReservationCoverageResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: DataUnavailableException
          schema:
            $ref: '#/definitions/DataUnavailableException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetReservationCoverageRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetReservationUtilization':
    post:
      operationId: GetReservationUtilization
      description: 'You can retrieve the Reservation utilization for your account. Master accounts in an organization have access to their associated member accounts. You can filter data by dimensions in a time period. You can use <code>GetDimensionValues</code> to determine the possible dimension values. Currently, you can group only by <code>SUBSCRIPTION_ID</code>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetReservationUtilizationResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: DataUnavailableException
          schema:
            $ref: '#/definitions/DataUnavailableException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetReservationUtilizationRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetTags':
    post:
      operationId: GetTags
      description: 'You can query for available tag keys and tag values for a specified period. You can search the tag values for an arbitrary string. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetTagsResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: BillExpirationException
          schema:
            $ref: '#/definitions/BillExpirationException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetTagsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AttributeType:
    type: string
  AttributeValue:
    type: string
  Attributes:
    type: array
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/AttributeType'
        value:
          $ref: '#/definitions/AttributeValue'
  BillExpirationException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    description: The requested report expired. Update the date interval and try again.
  Context:
    type: string
    enum:
      - COST_AND_USAGE
      - RESERVATIONS
  Coverage:
    type: object
    properties:
      CoverageHours:
        $ref: '#/definitions/CoverageHours'
        description: 'The amount of instance usage that a reservation covered, in hours.'
    description: The amount of instance usage that a reservation covered.
  CoverageByTime:
    type: object
    properties:
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: The period over which this coverage was used.
      Groups:
        $ref: '#/definitions/ReservationCoverageGroups'
        description: The group of instances that a reservation covered.
      Total:
        $ref: '#/definitions/Coverage'
        description: 'The total reservation coverage, in hours.'
    description: 'Reservation coverage, in hours.'
  CoverageHours:
    type: object
    properties:
      OnDemandHours:
        $ref: '#/definitions/OnDemandHours'
        description: The number of instance running hours covered by On-Demand Instances.
      ReservedHours:
        $ref: '#/definitions/ReservedHours'
        description: The number of instance running hours covered by reservations.
      TotalRunningHours:
        $ref: '#/definitions/TotalRunningHours'
        description: 'The total instance usage, in hours.'
      CoverageHoursPercentage:
        $ref: '#/definitions/CoverageHoursPercentage'
        description: The percentage of instance hours covered by a reservation.
    description: How long a running instance either used a reservation or was On-Demand.
  CoverageHoursPercentage:
    type: string
  CoveragesByTime:
    type: array
    items:
      $ref: '#/definitions/CoverageByTime'
  DataUnavailableException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    description: The requested data is unavailable.
  DateInterval:
    type: object
    required:
      - Start
      - End
    properties:
      Start:
        $ref: '#/definitions/YearMonthDay'
        description: 'The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, then the cost and usage data is retrieved starting at <code>2017-01-01</code> up to the end date.'
      End:
        $ref: '#/definitions/YearMonthDay'
        description: 'The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if the <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from the start date but not including <code>2017-05-01</code>.'
    description: 'The time period that you want the usage and costs for. '
  Dimension:
    type: string
    enum:
      - AZ
      - INSTANCE_TYPE
      - LINKED_ACCOUNT
      - OPERATION
      - PURCHASE_TYPE
      - REGION
      - SERVICE
      - USAGE_TYPE
      - USAGE_TYPE_GROUP
      - RECORD_TYPE
      - OPERATING_SYSTEM
      - TENANCY
      - SCOPE
      - PLATFORM
      - SUBSCRIPTION_ID
      - LEGAL_ENTITY_NAME
      - DEPLOYMENT_OPTION
      - DATABASE_ENGINE
      - CACHE_ENGINE
      - INSTANCE_TYPE_FAMILY
  DimensionValues:
    type: object
    properties:
      Key:
        $ref: '#/definitions/Dimension'
        description: 'The names of the metadata types that you can use to filter and group your results. For example, <code>AZ</code> returns a list of Availability Zones.'
      Values:
        $ref: '#/definitions/Values'
        description: The metadata values that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.
    description: The metadata that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.
  DimensionValuesWithAttributes:
    type: object
    properties:
      Value:
        $ref: '#/definitions/Value'
        description: The value of a dimension with a specific attribute.
      Attributes:
        $ref: '#/definitions/Attributes'
        description: The attribute that applies to a specific <code>Dimension</code>.
    description: The metadata of a specific type that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.
  DimensionValuesWithAttributesList:
    type: array
    items:
      $ref: '#/definitions/DimensionValuesWithAttributes'
  Entity:
    type: string
  ErrorMessage:
    type: string
  Estimated:
    type: boolean
  Expression:
    type: object
    properties:
      Or:
        $ref: '#/definitions/Expressions'
        description: Return results that match either <code>Dimension</code>.
      And:
        $ref: '#/definitions/Expressions'
        description: Return results that match both <code>Dimension</code> objects.
      Not:
        $ref: '#/definitions/Expression'
        description: Return results that don't match <code>Dimension</code>.
      Dimensions:
        $ref: '#/definitions/DimensionValues'
        description: The specific <code>Dimension</code> to use for <code>Expression</code>.
      Tags:
        $ref: '#/definitions/TagValues'
        description: The specific <code>Tag</code> to use for <code>Expression</code>.
    description: '<p>Use <code>Expression</code> to filter by cost or by usage. There are two patterns: </p> <ul> <li> <p>Simple dimension values - You can set the dimension name and values for the filters that you plan to use. For example, you can filter for <code>INSTANCE_TYPE==m4.xlarge OR INSTANCE_TYPE==c4.large</code>. The <code>Expression</code> for that looks like this.</p> <p> <code>{ "Dimensions": { "Key": "INSTANCE_TYPE", "Values": [ "m4.xlarge", “c4.large” ] } }</code> </p> <p>The list of dimension values are OR''d together to retrieve cost or usage data. You can create <code>Expression</code> and <code>DimensionValues</code> objects using either <code>with*</code> methods or <code>set*</code> methods in multiple lines. </p> </li> <li> <p>Compound dimension values with logical operations - You can use multiple <code>Expression</code> types and the logical operators <code>AND/OR/NOT</code> to create a list of one or more <code>Expression</code> objects. This allows you to filter on more advanced options. For example, you can filter on <code>((INSTANCE_TYPE == m4.large OR INSTANCE_TYPE == m3.large) OR (TAG.Type == Type1)) AND (USAGE_TYPE != DataTransfer)</code>. The <code>Expression</code> for that looks like this.</p> <p> <code>{ "And": [ {"Or": [ {"Dimensions": { "Key": "INSTANCE_TYPE", "Values": [ "m4.x.large", "c4.large" ] }}, {"Tag": { "Key": "TagName", "Values": ["Value1"] } } ]}, {"Not": {"dimensions": { "Key": "USAGE_TYPE", "Values": ["DataTransfer"] }}} ] } </code> </p> <note> <p>Because each <code>Expression</code> can have only one operator, the service returns an error if more than one is specified. The following example shows an Expression object that will create an error.</p> </note> <p> <code> { "And": [ ... ], "DimensionValues": { "Dimension": "USAGE_TYPE", "Values": [ "DataTransfer" ] } } </code> </p> </li> </ul>'
  Expressions:
    type: array
    items:
      $ref: '#/definitions/Expression'
  GetCostAndUsageRequest:
    type: object
    properties:
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: 'Sets the start and end dates for retrieving AWS costs. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.'
      Granularity:
        $ref: '#/definitions/Granularity'
        description: 'Sets the AWS cost granularity to <code>MONTHLY</code> or <code>DAILY</code>. If <code>Granularity</code> isn''t set, the response object doesn''t include the <code>Granularity</code>, either <code>MONTHLY</code> or <code>DAILY</code>. '
      Filter:
        $ref: '#/definitions/Expression'
        description: 'Filters AWS costs by different dimensions. For example, you can specify <code>SERVICE</code> and <code>LINKED_ACCOUNT</code> and get the costs associated with that account''s usage of that service. You can nest <code>Expression</code> objects to define any combination of dimension filters. For more information, see <a href="http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html">Expression</a>. '
      Metrics:
        $ref: '#/definitions/MetricNames'
        description: '<p>Which metrics are returned in the query. For more information about blended and unblended rates, see <a href="https://aws.amazon.com/premiumsupport/knowledge-center/blended-rates-intro/">Why does the "blended" annotation appear on some line items in my bill?</a>. </p> <p>Valid values are <code>BlendedCost</code>, <code>UnblendedCost</code>, and <code>UsageQuantity</code>.</p> <note> <p>If you return the <code>UsageQuantity</code> metric, the service aggregates all usage numbers without taking into account the units. For example, if you aggregate <code>usageQuantity</code> across all of EC2, the results aren''t meaningful because EC2 compute hours and data transfer are measured in different units (for example, hours vs. GB). To get more meaningful <code>UsageQuantity</code> metrics, filter by <code>UsageType</code> or <code>UsageTypeGroups</code>. </p> </note>'
      GroupBy:
        $ref: '#/definitions/GroupDefinitions'
        description: '<p>You can group AWS costs using up to two different groups, either dimensions, tag keys, or both.</p> <p>When you group by tag key, you get all tag values, including empty strings.</p> <p>Valid values are <code>AZ</code>, <code>INSTANCE_TYPE</code>, <code>LINKED_ACCOUNT</code>, <code>OPERATION</code>, <code>PLATFORM</code>, <code>PURCHASE_TYPE</code>, <code>SERVICE</code>, <code>TAGS</code>, <code>TENANCY</code>, and <code>USAGE_TYPE</code>.</p>'
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.
  GetCostAndUsageResponse:
    type: object
    properties:
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.
      GroupDefinitions:
        $ref: '#/definitions/GroupDefinitions'
        description: The groups specified by the the <code>Filter</code> or <code>GroupBy</code> parameters in the request.
      ResultsByTime:
        $ref: '#/definitions/ResultsByTime'
        description: The time period covered by the results in the response.
  GetDimensionValuesRequest:
    type: object
    required:
      - TimePeriod
      - Dimension
    properties:
      SearchString:
        $ref: '#/definitions/SearchString'
        description: The value that you want to search the filter values for.
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: 'The start and end dates for retrieving the dimension values. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.'
      Dimension:
        $ref: '#/definitions/Dimension'
        description: 'The name of the dimension. Each <code>Dimensions</code>is available for different a <code>Context</code>. For more information, see <code>Context</code>.'
      Context:
        $ref: '#/definitions/Context'
        description: '<p>The context for the call to <code>GetDimensionValues</code>. This can be <code>RESERVATIONS</code> or <code>COST_AND_USAGE</code>. The default value is <code>COST_AND_USAGE</code>. If the context is set to <code>RESERVATIONS</code>, the resulting dimension values can be used in the <code>GetReservationUtilization</code> action. If the context is set to <code>COST_AND_USAGE</code>, the resulting dimension values can be used in the <code>GetCostAndUsage</code> operation.</p> <p>If you set the context to <code>CostAndUsage</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is us-east-1a.</p> </li> <li> <p>INSTANCE_TYPE - The type of EC2 instance. An example is m4.xlarge.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account</p> </li> <li> <p>OPERATION - The action performed. Examples include RunInstance and CreateBucket.</p> </li> <li> <p>PURCHASE_TYPE - The reservation type of the purchase to which this usage is related. Examples include: On Demand Instances and Standard Reserved Instances</p> </li> <li> <p>SERVICE - The AWS service such as DynamoDB.</p> </li> <li> <p>USAGE_TYPE - The type of usage. An example is DataTransfer-In-Bytes. The response for the GetDimensionValues action includes a unit attribute, examples of which include GB and Hrs.</p> </li> <li> <p>USAGE_TYPE_GROUP - The grouping of common usage types. An example is EC2: CloudWatch – Alarms. The response for this action includes a unit attribute.</p> </li> <li> <p>RECORD_TYPE - The different types of charges such as RI fees, usage costs, tax refunds, and credits.</p> </li> </ul> <p>If you set the context to <code>RESERVATIONS</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is us-east-1a.</p> </li> <li> <p>INSTANCE_TYPE - The type of EC2 instance. An example is m4.xlarge.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account</p> </li> <li> <p>PLATFORM - The operating system. Examples are Windows or Linux.</p> </li> <li> <p>REGION - The AWS region.</p> </li> <li> <p>SCOPE - The scope of a reserved instance (RI). Values are regional or a single availability zone.</p> </li> <li> <p>TENANCY - The tenancy of a resource. Examples are shared or dedicated.</p> </li> </ul>'
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.
  GetDimensionValuesResponse:
    type: object
    required:
      - DimensionValues
      - ReturnSize
      - TotalSize
    properties:
      DimensionValues:
        $ref: '#/definitions/DimensionValuesWithAttributesList'
        description: '<p>The filters that you used to filter your request. Some dimensions are available only for a specific context:</p> <p>If you set the context to <code>CostAndUsage</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is us-east-1a.</p> </li> <li> <p>INSTANCE_TYPE - The type of EC2 instance. An example is m4.xlarge.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account</p> </li> <li> <p>OPERATION - The action performed. Examples include RunInstance and CreateBucket.</p> </li> <li> <p>PURCHASE_TYPE - The reservation type of the purchase to which this usage is related. Examples include: On Demand Instances and Standard Reserved Instances</p> </li> <li> <p>SERVICE - The AWS service such as DynamoDB.</p> </li> <li> <p>USAGE_TYPE - The type of usage. An example is DataTransfer-In-Bytes. The response for the GetDimensionValues action includes a unit attribute, examples of which include GB and Hrs.</p> </li> <li> <p>USAGE_TYPE_GROUP - The grouping of common usage types. An example is EC2: CloudWatch – Alarms. The response for this action includes a unit attribute.</p> </li> <li> <p>RECORD_TYPE - The different types of charges such as RI fees, usage costs, tax refunds, and credits.</p> </li> </ul> <p>If you set the context to <code>RESERVATIONS</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is us-east-1a.</p> </li> <li> <p>INSTANCE_TYPE - The type of EC2 instance. An example is m4.xlarge.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account</p> </li> <li> <p>PLATFORM - The operating system. Examples are Windows or Linux.</p> </li> <li> <p>REGION - The AWS region.</p> </li> <li> <p>SCOPE - The scope of a reserved instance (RI). Values are regional or a single availability zone.</p> </li> <li> <p>TENANCY - The tenancy of a resource. Examples are shared or dedicated.</p> </li> </ul>'
      ReturnSize:
        $ref: '#/definitions/PageSize'
        description: The number of results that AWS returned at one time.
      TotalSize:
        $ref: '#/definitions/PageSize'
        description: The total number of search results.
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.
  GetReservationCoverageRequest:
    type: object
    required:
      - TimePeriod
    properties:
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: 'The start and end dates of the period for which you want to retrieve data about reservation coverage. You can retrieve data for a maximum of 13 months-the last 12 months and the current month. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>. '
      GroupBy:
        $ref: '#/definitions/GroupDefinitions'
        description: <p>You can group the data by the following attributes. </p> <ul> <li> <p>AZ</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>TENANCY</p> </li> </ul>
      Granularity:
        $ref: '#/definitions/Granularity'
        description: '<p>The granularity of the AWS cost data for the reservation. Valid values are <code>MONTHLY</code> and <code>DAILY</code>.</p> <p>If <code>GroupBy</code> is set, <code>Granularity</code> can''t be set. If <code>Granularity</code> isn''t set, the response object doesn''t include the <code>Granularity</code>, either <code>MONTHLY</code> or <code>DAILY</code>.</p>'
      Filter:
        $ref: '#/definitions/Expression'
        description: '<p>Filters utilization data by dimensions. You can filter by the following dimensions.</p> <ul> <li> <p>AZ</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>TENANCY</p> </li> </ul> <p> <code>GetReservationCoverage</code> uses the same <code>Expression</code> object as the other operations, but only <code>AND</code> is supported among each dimension. You can nest only one level deep. If there are multiple values for a dimension, they are OR''d together.</p>'
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.
    description: You can query for how much of your instance usage was covered by a reservation.
  GetReservationCoverageResponse:
    type: object
    required:
      - CoveragesByTime
    properties:
      CoveragesByTime:
        $ref: '#/definitions/CoveragesByTime'
        description: The amount of time that your reservations covered.
      Total:
        $ref: '#/definitions/Coverage'
        description: The total amount of instance usage covered by a reservation.
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.
  GetReservationUtilizationRequest:
    type: object
    required:
      - TimePeriod
    properties:
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: 'Sets the start and end dates for retrieving reserve instance (RI) utilization. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>. '
      GroupBy:
        $ref: '#/definitions/GroupDefinitions'
        description: Groups only by <code>SUBSCRIPTION_ID</code>. Metadata is included.
      Granularity:
        $ref: '#/definitions/Granularity'
        description: 'If <code>GroupBy</code> is set, <code>Granularity</code> can''t be set. If <code>Granularity</code> isn''t set, the response object doesn''t include the <code>Granularity</code>, either <code>MONTHLY</code> or <code>DAILY</code>. If both <code>GroupBy</code> and <code>Granularity</code> aren''t set, <code>GetReservationUtilization</code> defaults to <code>DAILY</code>.'
      Filter:
        $ref: '#/definitions/Expression'
        description: 'Filters utilization data by using different dimensions. <code>GetReservationUtilization</code> uses the same <code>Expression</code> object as the other operations, but only <code>AND</code> is supported among each dimension, and nesting is supported up to only one level deep. If there are multiple values for a dimension, they are OR''d together.'
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.
  GetReservationUtilizationResponse:
    type: object
    required:
      - UtilizationsByTime
    properties:
      UtilizationsByTime:
        $ref: '#/definitions/UtilizationsByTime'
        description: The amount of time that you utilized your RIs.
      Total:
        $ref: '#/definitions/ReservationAggregates'
        description: The total amount of time that you utilized your RIs.
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.
  GetTagsRequest:
    type: object
    required:
      - TimePeriod
    properties:
      SearchString:
        $ref: '#/definitions/SearchString'
        description: The value that you want to search for.
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: 'The start and end dates for retrieving the dimension values. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.'
      TagKey:
        $ref: '#/definitions/TagKey'
        description: The key of the tag that you want to return values for.
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.
  GetTagsResponse:
    type: object
    required:
      - Tags
      - ReturnSize
      - TotalSize
    properties:
      NextPageToken:
        $ref: '#/definitions/NextPageToken'
        description: The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags that match your request.
      ReturnSize:
        $ref: '#/definitions/PageSize'
        description: The number of query results that AWS returns at a time.
      TotalSize:
        $ref: '#/definitions/PageSize'
        description: The total number of query results.
  Granularity:
    type: string
    enum:
      - DAILY
      - MONTHLY
  Group:
    type: object
    properties:
      Keys:
        $ref: '#/definitions/Keys'
        description: The keys included in this group.
      Metrics:
        $ref: '#/definitions/Metrics'
        description: The metrics included in this group.
    description: One level of grouped data within the results.
  GroupDefinition:
    type: object
    properties:
      Type:
        $ref: '#/definitions/GroupDefinitionType'
        description: The string that represents the type of group.
      Key:
        $ref: '#/definitions/GroupDefinitionKey'
        description: The string that represents a key for a specified group.
    description: 'Represents a group when you specify a group by criteria, or in the response to a query with a specific grouping.'
  GroupDefinitionKey:
    type: string
  GroupDefinitionType:
    type: string
    enum:
      - DIMENSION
      - TAG
  GroupDefinitions:
    type: array
    items:
      $ref: '#/definitions/GroupDefinition'
  Groups:
    type: array
    items:
      $ref: '#/definitions/Group'
  InvalidNextTokenException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    description: The pagination token is invalid. Try again without a pagination token.
  Key:
    type: string
  Keys:
    type: array
    items:
      $ref: '#/definitions/Key'
  LimitExceededException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/ErrorMessage'
    description: You made too many calls in a short period of time. Try again later.
  MetricAmount:
    type: string
  MetricName:
    type: string
  MetricNames:
    type: array
    items:
      $ref: '#/definitions/MetricName'
  MetricUnit:
    type: string
  MetricValue:
    type: object
    properties:
      Amount:
        $ref: '#/definitions/MetricAmount'
        description: The actual number that represents the metric.
      Unit:
        $ref: '#/definitions/MetricUnit'
        description: The unit that the metric is given in.
    description: The aggregated value for a metric.
  Metrics:
    type: array
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/MetricName'
        value:
          $ref: '#/definitions/MetricValue'
  NextPageToken:
    type: string
  OnDemandHours:
    type: string
  PageSize:
    type: integer
  PurchasedHours:
    type: string
  ReservationAggregates:
    type: object
    properties:
      UtilizationPercentage:
        $ref: '#/definitions/UtilizationPercentage'
        description: The percentage of RI time that you used.
      PurchasedHours:
        $ref: '#/definitions/PurchasedHours'
        description: How many RI hours you purchased.
      TotalActualHours:
        $ref: '#/definitions/TotalActualHours'
        description: The total number of RI hours that you used.
      UnusedHours:
        $ref: '#/definitions/UnusedHours'
        description: The number of RI hours that you didn't use.
    description: The aggregated numbers for your RI usage.
  ReservationCoverageGroup:
    type: object
    properties:
      Attributes:
        $ref: '#/definitions/Attributes'
        description: The attributes for this group of reservations.
      Coverage:
        $ref: '#/definitions/Coverage'
        description: How much instance usage this group of reservations covered.
    description: A group of reservations that share a set of attributes.
  ReservationCoverageGroups:
    type: array
    items:
      $ref: '#/definitions/ReservationCoverageGroup'
  ReservationGroupKey:
    type: string
  ReservationGroupValue:
    type: string
  ReservationUtilizationGroup:
    type: object
    properties:
      Key:
        $ref: '#/definitions/ReservationGroupKey'
        description: The key for a specific RI attribute.
      Value:
        $ref: '#/definitions/ReservationGroupValue'
        description: The value of a specific RI attribute.
      Attributes:
        $ref: '#/definitions/Attributes'
        description: The attributes for this group of RIs.
      Utilization:
        $ref: '#/definitions/ReservationAggregates'
        description: How much you used this group of RIs.
    description: A group of RIs that share a set of attributes.
  ReservationUtilizationGroups:
    type: array
    items:
      $ref: '#/definitions/ReservationUtilizationGroup'
  ReservedHours:
    type: string
  ResultByTime:
    type: object
    properties:
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: The time period covered by a result.
      Total:
        $ref: '#/definitions/Metrics'
        description: The total amount of cost or usage accrued during the time period.
      Groups:
        $ref: '#/definitions/Groups'
        description: The groups that are included in this time period.
      Estimated:
        $ref: '#/definitions/Estimated'
        description: Whether or not this result is estimated.
    description: The result that is associated with a time period.
  ResultsByTime:
    type: array
    items:
      $ref: '#/definitions/ResultByTime'
  SearchString:
    type: string
  TagKey:
    type: string
  TagList:
    type: array
    items:
      $ref: '#/definitions/Entity'
  TagValues:
    type: object
    properties:
      Key:
        $ref: '#/definitions/TagKey'
        description: The key for a tag.
      Values:
        $ref: '#/definitions/Values'
        description: The specific value of a tag.
    description: The values that are available for a tag.
  TotalActualHours:
    type: string
  TotalRunningHours:
    type: string
  UnusedHours:
    type: string
  UtilizationByTime:
    type: object
    properties:
      TimePeriod:
        $ref: '#/definitions/DateInterval'
        description: The period of time over which this utilization was used.
      Groups:
        $ref: '#/definitions/ReservationUtilizationGroups'
        description: The groups that are included in this utilization result.
      Total:
        $ref: '#/definitions/ReservationAggregates'
        description: The total number of RI hours that were used.
    description: 'The amount of utilization, in hours.'
  UtilizationPercentage:
    type: string
  UtilizationsByTime:
    type: array
    items:
      $ref: '#/definitions/UtilizationByTime'
  Value:
    type: string
  Values:
    type: array
    items:
      $ref: '#/definitions/Value'
  YearMonthDay:
    type: string
    pattern: '\d{4}-\d{2}-\d{2}'
