openapi: 3.0.0
servers:
  - url: https://dfareporting.googleapis.com/dfareporting/v3.5
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Campaign Manager 360 API
  version: v3.5
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: openapi
      url: https://dfareporting.googleapis.com/$discovery/rest?version=v3.5
      version: "3.0"
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: dfareporting
externalDocs:
  url: https://developers.google.com/doubleclick-advertisers/
tags:
  - name: accountActiveAdSummaries
  - name: accountPermissionGroups
  - name: accountPermissions
  - name: accounts
  - name: accountUserProfiles
  - name: ads
  - name: advertiserGroups
  - name: advertiserLandingPages
  - name: advertisers
  - name: browsers
  - name: campaignCreativeAssociations
  - name: campaigns
  - name: changeLogs
  - name: cities
  - name: connectionTypes
  - name: contentCategories
  - name: conversions
  - name: countries
  - name: creativeAssets
  - name: creativeFields
  - name: creativeFieldValues
  - name: creativeGroups
  - name: creatives
  - name: dimensionValues
  - name: directorySites
  - name: dynamicTargetingKeys
  - name: eventTags
  - name: files
  - name: floodlightActivities
  - name: floodlightActivityGroups
  - name: floodlightConfigurations
  - name: inventoryItems
  - name: languages
  - name: metros
  - name: mobileApps
  - name: mobileCarriers
  - name: operatingSystems
  - name: operatingSystemVersions
  - name: orderDocuments
  - name: orders
  - name: placementGroups
  - name: placements
  - name: placementStrategies
  - name: platformTypes
  - name: postalCodes
  - name: projects
  - name: regions
  - name: remarketingLists
  - name: remarketingListShares
  - name: reports
  - name: sites
  - name: sizes
  - name: subaccounts
  - name: targetableRemarketingLists
  - name: targetingTemplates
  - name: userProfiles
  - name: userRolePermissionGroups
  - name: userRolePermissions
  - name: userRoles
  - name: videoFormats
paths:
  "/reports/{reportId}/files/{fileId}":
    get:
      description: Retrieves a report file by its report ID and file ID. This method supports media download.
      operationId: dfareporting.files.get
      parameters:
        - description: The ID of the report.
          in: path
          name: reportId
          required: true
          schema:
            type: string
        - description: The ID of the report file.
          in: path
          name: fileId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/File"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfareporting
          Oauth2c:
            - https://www.googleapis.com/auth/dfareporting
      tags:
        - files
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /userprofiles:
    get:
      description: Retrieves list of user profiles for a user.
      operationId: dfareporting.userProfiles.list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ddmconversions
          Oauth2c:
            - https://www.googleapis.com/auth/ddmconversions
        - Oauth2:
            - https://www.googleapis.com/auth/dfareporting
          Oauth2c:
            - https://www.googleapis.com/auth/dfareporting
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - userProfiles
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}":
    get:
      description: Gets one user profile by ID.
      operationId: dfareporting.userProfiles.get
      parameters:
        - description: The user profile ID.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ddmconversions
          Oauth2c:
            - https://www.googleapis.com/auth/ddmconversions
        - Oauth2:
            - https://www.googleapis.com/auth/dfareporting
          Oauth2c:
            - https://www.googleapis.com/auth/dfareporting
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - userProfiles
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/accountActiveAdSummaries/{summaryAccountId}":
    get:
      description: Gets the account's active ad summary by account ID.
      operationId: dfareporting.accountActiveAdSummaries.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Account ID.
          in: path
          name: summaryAccountId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountActiveAdSummary"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - accountActiveAdSummaries
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/accountPermissionGroups":
    get:
      description: Retrieves the list of account permission groups.
      operationId: dfareporting.accountPermissionGroups.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountPermissionGroupsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - accountPermissionGroups
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/accountPermissionGroups/{id}":
    get:
      description: Gets one account permission group by ID.
      operationId: dfareporting.accountPermissionGroups.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Account permission group ID.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountPermissionGroup"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - accountPermissionGroups
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/accountPermissions":
    get:
      description: Retrieves the list of account permissions.
      operationId: dfareporting.accountPermissions.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountPermissionsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - accountPermissions
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/accountPermissions/{id}":
    get:
      description: Gets one account permission by ID.
      operationId: dfareporting.accountPermissions.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Account permission ID.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountPermission"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - accountPermissions
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/accountUserProfiles":
    get:
      description: Retrieves a list of account user profiles, possibly filtered. This method supports paging.
      operationId: dfareporting.accountUserProfiles.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Select only active user profiles.
          in: query
          name: active
          schema:
            type: boolean
        - description: Select only user profiles with these IDs.
          explode: true
          in: query
          name: ids
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Maximum number of results to return.
          in: query
          name: maxResults
          schema:
            maximum: 1000
            minimum: 0
            type: integer
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, "user profile*2015" will return objects with names like "user profile June 2015", "user profile April 2015", or simply "user profile 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "user profile" will match objects with name "my user profile", "user profile 2015", or simply "user profile".
          in: query
          name: searchString
          schema:
            type: string
        - description: Field by which to sort the list.
          in: query
          name: sortField
          schema:
            enum:
              - ID
              - NAME
            type: string
        - description: Order of sorted results.
          in: query
          name: sortOrder
          schema:
            enum:
              - ASCENDING
              - DESCENDING
            type: string
        - description: Select only user profiles with the specified subaccount ID.
          in: query
          name: subaccountId
          schema:
            type: string
        - description: Select only user profiles with the specified user role ID.
          in: query
          name: userRoleId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountUserProfilesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - accountUserProfiles
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates an existing account user profile. This method supports patch semantics.
      operationId: dfareporting.accountUserProfiles.patch
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: AccountUserProfile ID.
          in: query
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountUserProfile"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountUserProfile"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - accountUserProfiles
    post:
      description: Inserts a new account user profile.
      operationId: dfareporting.accountUserProfiles.insert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountUserProfile"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountUserProfile"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - accountUserProfiles
    put:
      description: Updates an existing account user profile.
      operationId: dfareporting.accountUserProfiles.update
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountUserProfile"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountUserProfile"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - accountUserProfiles
  "/userprofiles/{profileId}/accountUserProfiles/{id}":
    get:
      description: Gets one account user profile by ID.
      operationId: dfareporting.accountUserProfiles.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: User profile ID.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountUserProfile"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - accountUserProfiles
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/accounts":
    get:
      description: Retrieves the list of accounts, possibly filtered. This method supports paging.
      operationId: dfareporting.accounts.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Select only active accounts. Don't set this field to select both active and non-active accounts.
          in: query
          name: active
          schema:
            type: boolean
        - description: Select only accounts with these IDs.
          explode: true
          in: query
          name: ids
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Maximum number of results to return.
          in: query
          name: maxResults
          schema:
            maximum: 1000
            minimum: 0
            type: integer
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "account*2015" will return objects with names like "account June 2015", "account April 2015", or simply "account 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "account" will match objects with name "my account", "account 2015", or simply "account".
          in: query
          name: searchString
          schema:
            type: string
        - description: Field by which to sort the list.
          in: query
          name: sortField
          schema:
            enum:
              - ID
              - NAME
            type: string
        - description: Order of sorted results.
          in: query
          name: sortOrder
          schema:
            enum:
              - ASCENDING
              - DESCENDING
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates an existing account. This method supports patch semantics.
      operationId: dfareporting.accounts.patch
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Account ID.
          in: query
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Account"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - accounts
    put:
      description: Updates an existing account.
      operationId: dfareporting.accounts.update
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Account"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - accounts
  "/userprofiles/{profileId}/accounts/{id}":
    get:
      description: Gets one account by ID.
      operationId: dfareporting.accounts.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Account ID.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/ads":
    get:
      description: Retrieves a list of ads, possibly filtered. This method supports paging.
      operationId: dfareporting.ads.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Select only active ads.
          in: query
          name: active
          schema:
            type: boolean
        - description: Select only ads with this advertiser ID.
          in: query
          name: advertiserId
          schema:
            type: string
        - description: Select only archived ads.
          in: query
          name: archived
          schema:
            type: boolean
        - description: Select only ads with these audience segment IDs.
          explode: true
          in: query
          name: audienceSegmentIds
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Select only ads with these campaign IDs.
          explode: true
          in: query
          name: campaignIds
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Select default ads with the specified compatibility. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering an in-stream video ads developed with the VAST standard.
          in: query
          name: compatibility
          schema:
            enum:
              - DISPLAY
              - DISPLAY_INTERSTITIAL
              - APP
              - APP_INTERSTITIAL
              - IN_STREAM_VIDEO
              - IN_STREAM_AUDIO
            type: string
        - description: Select only ads with these creative IDs assigned.
          explode: true
          in: query
          name: creativeIds
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Select only ads with these creative optimization configuration IDs.
          explode: true
          in: query
          name: creativeOptimizationConfigurationIds
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Select only dynamic click trackers. Applicable when type is AD_SERVING_CLICK_TRACKER. If true, select dynamic click trackers. If false, select static click trackers. Leave unset to select both.
          in: query
          name: dynamicClickTracker
          schema:
            type: boolean
        - description: Select only ads with these IDs.
          explode: true
          in: query
          name: ids
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Select only ads with these landing page IDs.
          explode: true
          in: query
          name: landingPageIds
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Maximum number of results to return.
          in: query
          name: maxResults
          schema:
            maximum: 1000
            minimum: 0
            type: integer
        - description: Select only ads with this event tag override ID.
          in: query
          name: overriddenEventTagId
          schema:
            type: string
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Select only ads with these placement IDs assigned.
          explode: true
          in: query
          name: placementIds
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Select only ads whose list targeting expression use these remarketing list IDs.
          explode: true
          in: query
          name: remarketingListIds
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "ad*2015" will return objects with names like "ad June 2015", "ad April 2015", or simply "ad 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "ad" will match objects with name "my ad", "ad 2015", or simply "ad".
          in: query
          name: searchString
          schema:
            type: string
        - description: Select only ads with these size IDs.
          explode: true
          in: query
          name: sizeIds
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Field by which to sort the list.
          in: query
          name: sortField
          schema:
            enum:
              - ID
              - NAME
            type: string
        - description: Order of sorted results.
          in: query
          name: sortOrder
          schema:
            enum:
              - ASCENDING
              - DESCENDING
            type: string
        - description: Select only ads that are SSL-compliant.
          in: query
          name: sslCompliant
          schema:
            type: boolean
        - description: Select only ads that require SSL.
          in: query
          name: sslRequired
          schema:
            type: boolean
        - description: Select only ads with these types.
          explode: true
          in: query
          name: type
          schema:
            items:
              enum:
                - AD_SERVING_STANDARD_AD
                - AD_SERVING_DEFAULT_AD
                - AD_SERVING_CLICK_TRACKER
                - AD_SERVING_TRACKING
                - AD_SERVING_BRAND_SAFE_AD
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - ads
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates an existing ad. This method supports patch semantics.
      operationId: dfareporting.ads.patch
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Ad ID.
          in: query
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Ad"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ad"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - ads
    post:
      description: Inserts a new ad.
      operationId: dfareporting.ads.insert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Ad"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ad"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - ads
    put:
      description: Updates an existing ad.
      operationId: dfareporting.ads.update
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Ad"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ad"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - ads
  "/userprofiles/{profileId}/ads/{id}":
    get:
      description: Gets one ad by ID.
      operationId: dfareporting.ads.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Ad ID.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ad"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - ads
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/advertiserGroups":
    get:
      description: Retrieves a list of advertiser groups, possibly filtered. This method supports paging.
      operationId: dfareporting.advertiserGroups.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Select only advertiser groups with these IDs.
          explode: true
          in: query
          name: ids
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Maximum number of results to return.
          in: query
          name: maxResults
          schema:
            maximum: 1000
            minimum: 0
            type: integer
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "advertiser*2015" will return objects with names like "advertiser group June 2015", "advertiser group April 2015", or simply "advertiser group 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "advertisergroup" will match objects with name "my advertisergroup", "advertisergroup 2015", or simply "advertisergroup".
          in: query
          name: searchString
          schema:
            type: string
        - description: Field by which to sort the list.
          in: query
          name: sortField
          schema:
            enum:
              - ID
              - NAME
            type: string
        - description: Order of sorted results.
          in: query
          name: sortOrder
          schema:
            enum:
              - ASCENDING
              - DESCENDING
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvertiserGroupsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - advertiserGroups
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates an existing advertiser group. This method supports patch semantics.
      operationId: dfareporting.advertiserGroups.patch
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: AdvertiserGroup ID.
          in: query
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdvertiserGroup"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvertiserGroup"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - advertiserGroups
    post:
      description: Inserts a new advertiser group.
      operationId: dfareporting.advertiserGroups.insert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdvertiserGroup"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvertiserGroup"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - advertiserGroups
    put:
      description: Updates an existing advertiser group.
      operationId: dfareporting.advertiserGroups.update
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdvertiserGroup"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvertiserGroup"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - advertiserGroups
  "/userprofiles/{profileId}/advertiserGroups/{id}":
    delete:
      description: Deletes an existing advertiser group.
      operationId: dfareporting.advertiserGroups.delete
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Advertiser group ID.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - advertiserGroups
    get:
      description: Gets one advertiser group by ID.
      operationId: dfareporting.advertiserGroups.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Advertiser group ID.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvertiserGroup"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - advertiserGroups
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/advertiserLandingPages":
    get:
      description: Retrieves a list of landing pages.
      operationId: dfareporting.advertiserLandingPages.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Select only landing pages that belong to these advertisers.
          explode: true
          in: query
          name: advertiserIds
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Select only archived landing pages. Don't set this field to select both archived and non-archived landing pages.
          in: query
          name: archived
          schema:
            type: boolean
        - description: Select only landing pages that are associated with these campaigns.
          explode: true
          in: query
          name: campaignIds
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Select only landing pages with these IDs.
          explode: true
          in: query
          name: ids
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Maximum number of results to return.
          in: query
          name: maxResults
          schema:
            maximum: 1000
            minimum: 0
            type: integer
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Allows searching for landing pages by name or ID. Wildcards (*) are allowed. For example, "landingpage*2017" will return landing pages with names like "landingpage July 2017", "landingpage March 2017", or simply "landingpage 2017". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "landingpage" will match campaigns with name "my landingpage", "landingpage 2015", or simply "landingpage".
          in: query
          name: searchString
          schema:
            type: string
        - description: Field by which to sort the list.
          in: query
          name: sortField
          schema:
            enum:
              - ID
              - NAME
            type: string
        - description: Order of sorted results.
          in: query
          name: sortOrder
          schema:
            enum:
              - ASCENDING
              - DESCENDING
            type: string
        - description: Select only landing pages that belong to this subaccount.
          in: query
          name: subaccountId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvertiserLandingPagesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - advertiserLandingPages
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates an existing advertiser landing page. This method supports patch semantics.
      operationId: dfareporting.advertiserLandingPages.patch
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: LandingPage ID.
          in: query
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LandingPage"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LandingPage"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - advertiserLandingPages
    post:
      description: Inserts a new landing page.
      operationId: dfareporting.advertiserLandingPages.insert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LandingPage"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LandingPage"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - advertiserLandingPages
    put:
      description: Updates an existing landing page.
      operationId: dfareporting.advertiserLandingPages.update
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LandingPage"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LandingPage"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - advertiserLandingPages
  "/userprofiles/{profileId}/advertiserLandingPages/{id}":
    get:
      description: Gets one landing page by ID.
      operationId: dfareporting.advertiserLandingPages.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Landing page ID.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LandingPage"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - advertiserLandingPages
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/advertisers":
    get:
      description: Retrieves a list of advertisers, possibly filtered. This method supports paging.
      operationId: dfareporting.advertisers.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Select only advertisers with these advertiser group IDs.
          explode: true
          in: query
          name: advertiserGroupIds
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Select only advertisers with these floodlight configuration IDs.
          explode: true
          in: query
          name: floodlightConfigurationIds
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Select only advertisers with these IDs.
          explode: true
          in: query
          name: ids
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Select only advertisers which do not belong to any advertiser group.
          in: query
          name: includeAdvertisersWithoutGroupsOnly
          schema:
            type: boolean
        - description: Maximum number of results to return.
          in: query
          name: maxResults
          schema:
            maximum: 1000
            minimum: 0
            type: integer
        - description: Select only advertisers which use another advertiser's floodlight configuration.
          in: query
          name: onlyParent
          schema:
            type: boolean
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "advertiser*2015" will return objects with names like "advertiser June 2015", "advertiser April 2015", or simply "advertiser 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "advertiser" will match objects with name "my advertiser", "advertiser 2015", or simply "advertiser" .
          in: query
          name: searchString
          schema:
            type: string
        - description: Field by which to sort the list.
          in: query
          name: sortField
          schema:
            enum:
              - ID
              - NAME
            type: string
        - description: Order of sorted results.
          in: query
          name: sortOrder
          schema:
            enum:
              - ASCENDING
              - DESCENDING
            type: string
        - description: Select only advertisers with the specified status.
          in: query
          name: status
          schema:
            enum:
              - APPROVED
              - ON_HOLD
            type: string
        - description: Select only advertisers with these subaccount IDs.
          in: query
          name: subaccountId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdvertisersListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates an existing advertiser. This method supports patch semantics.
      operationId: dfareporting.advertisers.patch
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Advertiser ID.
          in: query
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Advertiser"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Advertiser"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - advertisers
    post:
      description: Inserts a new advertiser.
      operationId: dfareporting.advertisers.insert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Advertiser"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Advertiser"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - advertisers
    put:
      description: Updates an existing advertiser.
      operationId: dfareporting.advertisers.update
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Advertiser"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Advertiser"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - advertisers
  "/userprofiles/{profileId}/advertisers/{id}":
    get:
      description: Gets one advertiser by ID.
      operationId: dfareporting.advertisers.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Advertiser ID.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Advertiser"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - advertisers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/browsers":
    get:
      description: Retrieves a list of browsers.
      operationId: dfareporting.browsers.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrowsersListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - browsers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/campaigns":
    get:
      description: Retrieves a list of campaigns, possibly filtered. This method supports paging.
      operationId: dfareporting.campaigns.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Select only campaigns whose advertisers belong to these advertiser groups.
          explode: true
          in: query
          name: advertiserGroupIds
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Select only campaigns that belong to these advertisers.
          explode: true
          in: query
          name: advertiserIds
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Select only archived campaigns. Don't set this field to select both archived and non-archived campaigns.
          in: query
          name: archived
          schema:
            type: boolean
        - description: Select only campaigns that have at least one optimization activity.
          in: query
          name: atLeastOneOptimizationActivity
          schema:
            type: boolean
        - description: Exclude campaigns with these IDs.
          explode: true
          in: query
          name: excludedIds
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Select only campaigns with these IDs.
          explode: true
          in: query
          name: ids
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Maximum number of results to return.
          in: query
          name: maxResults
          schema:
            maximum: 1000
            minimum: 0
            type: integer
        - description: Select only campaigns that have overridden this event tag ID.
          in: query
          name: overriddenEventTagId
          schema:
            type: string
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Allows searching for campaigns by name or ID. Wildcards (*) are allowed. For example, "campaign*2015" will return campaigns with names like "campaign June 2015", "campaign April 2015", or simply "campaign 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "campaign" will match campaigns with name "my campaign", "campaign 2015", or simply "campaign".
          in: query
          name: searchString
          schema:
            type: string
        - description: Field by which to sort the list.
          in: query
          name: sortField
          schema:
            enum:
              - ID
              - NAME
            type: string
        - description: Order of sorted results.
          in: query
          name: sortOrder
          schema:
            enum:
              - ASCENDING
              - DESCENDING
            type: string
        - description: Select only campaigns that belong to this subaccount.
          in: query
          name: subaccountId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - campaigns
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates an existing campaign. This method supports patch semantics.
      operationId: dfareporting.campaigns.patch
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Campaign ID.
          in: query
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Campaign"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - campaigns
    post:
      description: Inserts a new campaign.
      operationId: dfareporting.campaigns.insert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Campaign"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - campaigns
    put:
      description: Updates an existing campaign.
      operationId: dfareporting.campaigns.update
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Campaign"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - campaigns
  "/userprofiles/{profileId}/campaigns/{campaignId}/campaignCreativeAssociations":
    get:
      description: Retrieves the list of creative IDs associated with the specified campaign. This method supports paging.
      operationId: dfareporting.campaignCreativeAssociations.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Campaign ID in this association.
          in: path
          name: campaignId
          required: true
          schema:
            type: string
        - description: Maximum number of results to return.
          in: query
          name: maxResults
          schema:
            maximum: 1000
            minimum: 0
            type: integer
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Order of sorted results.
          in: query
          name: sortOrder
          schema:
            enum:
              - ASCENDING
              - DESCENDING
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignCreativeAssociationsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - campaignCreativeAssociations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Associates a creative with the specified campaign. This method creates a default ad with dimensions matching the creative in the campaign if such a default ad does not exist already.
      operationId: dfareporting.campaignCreativeAssociations.insert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Campaign ID in this association.
          in: path
          name: campaignId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignCreativeAssociation"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignCreativeAssociation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - campaignCreativeAssociations
  "/userprofiles/{profileId}/campaigns/{id}":
    get:
      description: Gets one campaign by ID.
      operationId: dfareporting.campaigns.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Campaign ID.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - campaigns
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/changeLogs":
    get:
      description: Retrieves a list of change logs. This method supports paging.
      operationId: dfareporting.changeLogs.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Select only change logs with the specified action.
          in: query
          name: action
          schema:
            enum:
              - ACTION_CREATE
              - ACTION_UPDATE
              - ACTION_DELETE
              - ACTION_ENABLE
              - ACTION_DISABLE
              - ACTION_ADD
              - ACTION_REMOVE
              - ACTION_MARK_AS_DEFAULT
              - ACTION_ASSOCIATE
              - ACTION_ASSIGN
              - ACTION_UNASSIGN
              - ACTION_SEND
              - ACTION_LINK
              - ACTION_UNLINK
              - ACTION_PUSH
              - ACTION_EMAIL_TAGS
              - ACTION_SHARE
            type: string
        - description: Select only change logs with these IDs.
          explode: true
          in: query
          name: ids
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Select only change logs whose change time is before the specified maxChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is "2015-07-18T22:54:00-04:00". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset.
          in: query
          name: maxChangeTime
          schema:
            type: string
        - description: Maximum number of results to return.
          in: query
          name: maxResults
          schema:
            maximum: 1000
            minimum: 0
            type: integer
        - description: Select only change logs whose change time is after the specified minChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is "2015-07-18T22:54:00-04:00". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset.
          in: query
          name: minChangeTime
          schema:
            type: string
        - description: Select only change logs with these object IDs.
          explode: true
          in: query
          name: objectIds
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Select only change logs with the specified object type.
          in: query
          name: objectType
          schema:
            enum:
              - OBJECT_ADVERTISER
              - OBJECT_FLOODLIGHT_CONFIGURATION
              - OBJECT_AD
              - OBJECT_FLOODLIGHT_ACTVITY
              - OBJECT_CAMPAIGN
              - OBJECT_FLOODLIGHT_ACTIVITY_GROUP
              - OBJECT_CREATIVE
              - OBJECT_PLACEMENT
              - OBJECT_DFA_SITE
              - OBJECT_USER_ROLE
              - OBJECT_USER_PROFILE
              - OBJECT_ADVERTISER_GROUP
              - OBJECT_ACCOUNT
              - OBJECT_SUBACCOUNT
              - OBJECT_RICHMEDIA_CREATIVE
              - OBJECT_INSTREAM_CREATIVE
              - OBJECT_MEDIA_ORDER
              - OBJECT_CONTENT_CATEGORY
              - OBJECT_PLACEMENT_STRATEGY
              - OBJECT_SD_SITE
              - OBJECT_SIZE
              - OBJECT_CREATIVE_GROUP
              - OBJECT_CREATIVE_ASSET
              - OBJECT_USER_PROFILE_FILTER
              - OBJECT_LANDING_PAGE
              - OBJECT_CREATIVE_FIELD
              - OBJECT_REMARKETING_LIST
              - OBJECT_PROVIDED_LIST_CLIENT
              - OBJECT_EVENT_TAG
              - OBJECT_CREATIVE_BUNDLE
              - OBJECT_BILLING_ACCOUNT_GROUP
              - OBJECT_BILLING_FEATURE
              - OBJECT_RATE_CARD
              - OBJECT_ACCOUNT_BILLING_FEATURE
              - OBJECT_BILLING_MINIMUM_FEE
              - OBJECT_BILLING_PROFILE
              - OBJECT_PLAYSTORE_LINK
              - OBJECT_TARGETING_TEMPLATE
              - OBJECT_SEARCH_LIFT_STUDY
              - OBJECT_FLOODLIGHT_DV360_LINK
              - OBJECT_ADVERTISER_CUSTOMER_LINK
            type: string
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Select only change logs whose object ID, user name, old or new values match the search string.
          in: query
          name: searchString
          schema:
            type: string
        - description: Select only change logs with these user profile IDs.
          explode: true
          in: query
          name: userProfileIds
          schema:
            items:
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeLogsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - changeLogs
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/changeLogs/{id}":
    get:
      description: Gets one change log by ID.
      operationId: dfareporting.changeLogs.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Change log ID.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeLog"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - changeLogs
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/cities":
    get:
      description: Retrieves a list of cities, possibly filtered.
      operationId: dfareporting.cities.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Select only cities from these countries.
          explode: true
          in: query
          name: countryDartIds
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Select only cities with these DART IDs.
          explode: true
          in: query
          name: dartIds
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Select only cities with names starting with this prefix.
          in: query
          name: namePrefix
          schema:
            type: string
        - description: Select only cities from these regions.
          explode: true
          in: query
          name: regionDartIds
          schema:
            items:
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CitiesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - cities
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/connectionTypes":
    get:
      description: Retrieves a list of connection types.
      operationId: dfareporting.connectionTypes.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionTypesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - connectionTypes
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/connectionTypes/{id}":
    get:
      description: Gets one connection type by ID.
      operationId: dfareporting.connectionTypes.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Connection type ID.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionType"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - connectionTypes
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/contentCategories":
    get:
      description: Retrieves a list of content categories, possibly filtered. This method supports paging.
      operationId: dfareporting.contentCategories.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Select only content categories with these IDs.
          explode: true
          in: query
          name: ids
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Maximum number of results to return.
          in: query
          name: maxResults
          schema:
            maximum: 1000
            minimum: 0
            type: integer
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "contentcategory*2015" will return objects with names like "contentcategory June 2015", "contentcategory April 2015", or simply "contentcategory 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "contentcategory" will match objects with name "my contentcategory", "contentcategory 2015", or simply "contentcategory".
          in: query
          name: searchString
          schema:
            type: string
        - description: Field by which to sort the list.
          in: query
          name: sortField
          schema:
            enum:
              - ID
              - NAME
            type: string
        - description: Order of sorted results.
          in: query
          name: sortOrder
          schema:
            enum:
              - ASCENDING
              - DESCENDING
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContentCategoriesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - contentCategories
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates an existing content category. This method supports patch semantics.
      operationId: dfareporting.contentCategories.patch
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: ContentCategory ID.
          in: query
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContentCategory"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContentCategory"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - contentCategories
    post:
      description: Inserts a new content category.
      operationId: dfareporting.contentCategories.insert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContentCategory"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContentCategory"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - contentCategories
    put:
      description: Updates an existing content category.
      operationId: dfareporting.contentCategories.update
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContentCategory"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContentCategory"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - contentCategories
  "/userprofiles/{profileId}/contentCategories/{id}":
    delete:
      description: Deletes an existing content category.
      operationId: dfareporting.contentCategories.delete
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Content category ID.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - contentCategories
    get:
      description: Gets one content category by ID.
      operationId: dfareporting.contentCategories.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Content category ID.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContentCategory"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/dfatrafficking
          Oauth2c:
            - https://www.googleapis.com/auth/dfatrafficking
      tags:
        - contentCategories
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/userprofiles/{profileId}/conversions/batchinsert":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
[...]
