openapi: 3.0.0
servers:
  - url: 'https://rms.api.bbc.co.uk/'
info:
  description: We encapsulate Radio & Music business logic for iPlayer Radio and BBC Music products on all platforms. We add value by reliably providing the right blend of metadata needed by clients.
  title: Radio & Music Services
  version: 1.0.0
  x-apisguru-categories:
    - media
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/BBC_Radio_logo.svg/140px-BBC_Radio_logo.svg.png'
  x-origin:
    - format: swagger
      url: 'https://rms.api.bbc.co.uk/docs/swagger.json'
      version: '2.0'
  x-providerName: bbc.co.uk
paths:
  /categories.json:
    get:
      description: |
        Retrieve Categories
      operationId: getCategories
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: Filter by provided query. E.g. 'promoted' returns promoted categories
          in: query
          name: kind
          required: false
          schema:
            type: string
            enum:
              - promoted
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryErrorResponse'
      summary: Categories
      tags:
        - Categories
      servers:
        - url: 'http://rms.api.bbc.co.uk/'
  /music/popular/artists:
    get:
      description: |
        List of Most Popular artists from BBC Music.
      operationId: getMusicPopularArtists
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now
          in: query
          name: since
          required: false
          schema:
            type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params
          in: query
          name: until
          required: false
          schema:
            type: string
        - description: 'In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days'
          in: query
          name: decomposed
          required: false
          schema:
            type: boolean
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          schema:
            type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityArtists'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityError'
      summary: Popular Artists
      tags:
        - Music Popularity
      servers:
        - url: 'http://rms.api.bbc.co.uk/'
  '/music/popular/artists/{id}':
    get:
      description: |
        Popularity Artist By Id
      operationId: getMusicPopularArtistById
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now
          in: query
          name: since
          required: false
          schema:
            type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params
          in: query
          name: until
          required: false
          schema:
            type: string
        - description: 'In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days'
          in: query
          name: decomposed
          required: false
          schema:
            type: boolean
        - description: MusicBrainz Id - Used to get single resource score
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityArtists'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityError'
      summary: Single Artist Popularity
      tags:
        - Music Popularity
      servers:
        - url: 'http://rms.api.bbc.co.uk/'
  /music/popular/playlists:
    get:
      description: |
        List of Most Popular playlists from BBC Music.
      operationId: getMusicPopularPlaylists
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now
          in: query
          name: since
          required: false
          schema:
            type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params
          in: query
          name: until
          required: false
          schema:
            type: string
        - description: 'In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days'
          in: query
          name: decomposed
          required: false
          schema:
            type: boolean
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          schema:
            type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityPlaylists'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityError'
      summary: Popular Playlists
      tags:
        - Music Popularity
      servers:
        - url: 'http://rms.api.bbc.co.uk/'
  '/music/popular/playlists/{id}':
    get:
      description: |
        Popular playlist by Id
      operationId: getMusicPopularPlaylistById
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now
          in: query
          name: since
          required: false
          schema:
            type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params
          in: query
          name: until
          required: false
          schema:
            type: string
        - description: 'In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days'
          in: query
          name: decomposed
          required: false
          schema:
            type: boolean
        - description: BBC Music Playlist Id - Used to get single resource score
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityPlaylists'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityError'
      summary: Single Playlist Popularity
      tags:
        - Music Popularity
      servers:
        - url: 'http://rms.api.bbc.co.uk/'
  /music/popular/tracks:
    get:
      description: |
        List of popular tracks for BBC Music. Filter by time, network, artist, playlist or programme.
      operationId: getMusicPopularTracks
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now
          in: query
          name: since
          required: false
          schema:
            type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params
          in: query
          name: until
          required: false
          schema:
            type: string
        - description: Return items with given Network ID
          in: query
          name: network
          required: false
          schema:
            type: string
        - description: Items with given Programme Pid
          in: query
          name: programme
          required: false
          schema:
            type: string
        - description: MusicBrainz artist ID
          in: query
          name: artist
          required: false
          schema:
            type: string
        - description: 'In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days'
          in: query
          name: decomposed
          required: false
          schema:
            type: boolean
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          schema:
            type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityTracks'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityError'
      summary: Popular Tracks
      tags:
        - Music Popularity
      servers:
        - url: 'http://rms.api.bbc.co.uk/'
  '/music/popular/tracks/{id}':
    get:
      description: |
        Popular Track for BBC Music
      operationId: getMusicPopularTrackById
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now
          in: query
          name: since
          required: false
          schema:
            type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params
          in: query
          name: until
          required: false
          schema:
            type: string
        - description: Return items with given Network ID
          in: query
          name: network
          required: false
          schema:
            type: string
        - description: Items with given Programme Pid
          in: query
          name: programme
          required: false
          schema:
            type: string
        - description: MusicBrainz artist ID
          in: query
          name: artist
          required: false
          schema:
            type: string
        - description: 'In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days'
          in: query
          name: decomposed
          required: false
          schema:
            type: boolean
        - description: BBC Music Track Id - Used to get single resource score
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityTracks'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicPopularityError'
      summary: Single Track Popularity
      tags:
        - Music Popularity
      servers:
        - url: 'http://rms.api.bbc.co.uk/'
  /my/music/export:
    get:
      description: |
        Returns status of all previous third party export actions for a given BBC Music user.
      operationId: getMusicExport
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          schema:
            type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportJob'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
      summary: Music Exports
      tags:
        - Music Export
  /my/music/exports/jobs:
    get:
      description: |
        All items associated to a users export request
      operationId: getMusicExportJobs
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: Boolean age check
          in: query
          name: over16
          required: true
          schema:
            type: boolean
        - description: Specify Vendor Jobs
          in: query
          name: vendor
          required: false
          schema:
            type: string
            enum:
              - spotify
              - deezer
              - youtube
              - itunes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportJob'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
      summary: Music Export Jobs
      tags:
        - Music Export
    post:
      description: |
        Create Export Job for a user
      operationId: postMusicExportJob
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: Boolean age check
          in: query
          name: over16
          required: true
          schema:
            type: boolean
        - description: Specify Vendor Jobs
          in: query
          name: vendor
          required: false
          schema:
            type: string
            enum:
              - spotify
              - deezer
              - youtube
              - itunes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportSuccess'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
      summary: Music Export Jobs
      tags:
        - Music Export
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/MusicExportJob'
              type: array
        required: true
  /my/music/exports/tracks:
    get:
      description: |
        Retrieves vendor and status specific tracks
      operationId: getMusicExportTracks
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: Boolean age check
          in: query
          name: over16
          required: true
          schema:
            type: boolean
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          schema:
            type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: Specify Vendor Tracks
          in: query
          name: vendor
          required: false
          schema:
            type: string
            enum:
              - spotify
              - deezer
              - youtube
              - itunes
        - description: Specify Track status
          in: query
          name: status
          required: false
          schema:
            type: string
            enum:
              - failed
              - done
              - pending
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportJob'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
      summary: Music Export Tracks
      tags:
        - Music Export
  /my/music/favourites:
    get:
      description: |
        List of favourited tracks and clips for a given user for BBC Music.
      operationId: getPersonalisedMusicFavourites
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          schema:
            type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: Filters activities based on the type of action
          in: query
          name: action
          required: false
          schema:
            type: string
            enum:
              - favourited
              - unfavourited
        - description: 'Omits music data from the response, defaults to true'
          in: query
          name: music-data
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicFavouritesResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
      summary: Favourite Tracks or Clips
      tags:
        - Personalised Music
    post:
      description: |
        Add multiple tracks and/or clips to a BBC Music user's favourites.

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedMusicFavouritesBatch
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicFavouritesResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
      summary: Favourite Tracks or Clips
      tags:
        - Personalised Music
      requestBody:
        $ref: '#/components/requestBodies/PersonalisedMusicBatchRequestArray'
    put:
      description: |
        Update tracks or clips from a BBC Music user favourites.

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedMusicFavouritesBatch
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicSuccess'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
      summary: Favourite Tracks or Clips
      tags:
        - Personalised Music
      requestBody:
        $ref: '#/components/requestBodies/PersonalisedMusicBatchRequestArray'
  '/my/music/favourites/{type}':
    get:
      description: |
        List of favourited tracks or clips for a given user for BBC Music.
      operationId: getPersonalisedMusicFavouritesByType
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Music favourite types: Clips or Tracks'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - clips
              - tracks
        - description: Filters activities based on the type of action
          in: query
          name: action
          required: false
          schema:
            type: string
            enum:
              - favourited
              - unfavourited
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          schema:
            type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicFavouritesResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
      summary: Favourite Tracks or Clips by Type
      tags:
        - Personalised Music
  '/my/music/favourites/{type}/{id}':
    delete:
      description: |
        Delete track or clip from a BBC Music user favourites.
      operationId: deletePersonalisedMusicFavouritesByTypeById
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Music favourite types: Clips or Tracks'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - clips
              - tracks
        - description: Clip PID or Track ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicSuccess'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
      summary: Favourite Track or Clip
      tags:
        - Personalised Music
    get:
      description: |
        Check to see if a single track or clip entity is in a users favourites - determines UX of add button.
      operationId: getPersonalisedMusicFavouritesByTypeById
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Music favourite types: Clips or Tracks'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - clips
              - tracks
        - description: Clip PID or Track ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicFavouritesResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
      summary: Favourite Track or Clip
      tags:
        - Personalised Music
    post:
      description: |
        Add track or clip to a BBC Music user favourites.

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedMusicFavouritesByTypeById
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Music favourite types: Clips or Tracks'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - clips
              - tracks
        - description: Clip PID or Track ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicFavouritesResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
      summary: Favourite Track or Clip
      tags:
        - Personalised Music
      requestBody:
        $ref: '#/components/requestBodies/PersonalisedMusicRequest'
    put:
      description: |
        Update tracks or clips from a BBC Music user favourites.

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedMusicFavouritesByTypeById
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Music favourite types: Clips or Tracks'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - clips
              - tracks
        - description: Clip PID or Track ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicSuccess'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
      summary: Favourite Track or Clip
      tags:
        - Personalised Music
      requestBody:
        $ref: '#/components/requestBodies/PersonalisedMusicRequest'
  /my/music/follows:
    get:
      description: |
        List of followed networks, categories, artists, playlists and genres for a given user for BBC Music.
      operationId: getPersonalisedMusicFollows
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: Filters activities based on the type of action
          in: query
          name: action
          required: false
          schema:
            type: string
            enum:
              - followed
              - unfollowed
        - description: 'Omits music data from the response, defaults to true'
          in: query
          name: music-data
          required: false
          schema:
            type: boolean
        - description: Specify context to be passed to Music API
          in: query
          name: music_context
          required: false
          schema:
            type: string
            enum:
              - events
              - ivote
              - music
              - musicplaylist
              - programmes
              - radio
              - unknown
        - description: Specify location to be passed to Music API
          in: query
          name: music_within_uk
          required: false
          schema:
            type: boolean
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          schema:
            type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicFollowsResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
      summary: 'Followed Networks, Categories, Artists, Playlists and Genres'
      tags:
        - Personalised Music
    post:
      description: |
        Add networks, categories, artists, playlists, networks, genres or services in a users follows

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedMusicFollowsBatch
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: Filters activities based on the type of action
          in: query
          name: action
          required: false
          schema:
            type: string
            enum:
              - followed
              - unfollowed
        - description: 'Omits music data from the response, defaults to true'
          in: query
          name: music-data
          required: false
          schema:
            type: boolean
        - description: Specify context to be passed to Music API
          in: query
          name: music_context
          required: false
          schema:
            type: string
            enum:
              - events
              - ivote
              - music
              - musicplaylist
              - programmes
              - radio
              - unknown
        - description: Specify location to be passed to Music API
          in: query
          name: music_within_uk
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicSuccess'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
      summary: 'Followed Networks, Categories, Artists, Playlists and Genres'
      tags:
        - Personalised Music
      requestBody:
        $ref: '#/components/requestBodies/PersonalisedMusicBatchRequestArray2'
    put:
      description: |
        Update networks, categories, artists, playlists, networks, genres or services in a users follows

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedMusicFollowsBatch
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: Filters activities based on the type of action
          in: query
          name: action
          required: false
          schema:
            type: string
            enum:
              - followed
              - unfollowed
        - description: 'Omits music data from the response, defaults to true'
          in: query
          name: music-data
          required: false
          schema:
            type: boolean
        - description: Specify context to be passed to Music API
          in: query
          name: music_context
          required: false
          schema:
            type: string
            enum:
              - events
              - ivote
              - music
              - musicplaylist
              - programmes
              - radio
              - unknown
        - description: Specify location to be passed to Music API
          in: query
          name: music_within_uk
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicSuccess'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
      summary: 'Followed Networks, Categories, Artists, Playlists and Genres'
      tags:
        - Personalised Music
      requestBody:
        $ref: '#/components/requestBodies/PersonalisedMusicBatchRequestArray2'
  '/my/music/follows/{type}':
    get:
      description: |
        List of followed networks, categories, artists, playlists, networks, genres, categories or services for a given BBC Music user.
      operationId: getPersonalisedMusicFollowsByType
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Music follows types: Playlists, Services, Genres & Artists'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - playlists
              - services
              - networks
              - genres
              - categories
              - artists
        - description: Filters activities based on the type of action
          in: query
          name: action
          required: false
          schema:
            type: string
            enum:
              - followed
              - unfollowed
        - description: 'Omits music data from the response, defaults to true'
          in: query
          name: music-data
          required: false
          schema:
            type: boolean
        - description: Specify context to be passed to Music API
          in: query
          name: music_context
          required: false
          schema:
            type: string
            enum:
              - events
              - ivote
              - music
              - musicplaylist
              - programmes
              - radio
              - unknown
        - description: Specify location to be passed to Music API
          in: query
          name: music_within_uk
          required: false
          schema:
            type: boolean
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          schema:
            type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicFollowsResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
      summary: 'Followed Networks, Categories, Artists, Playlists and Genres by Type'
      tags:
        - Personalised Music
  '/my/music/follows/{type}/{id}':
    delete:
      description: |
        Remove a single network, category, artist, playlist, network, genre or service entity is in a users follows
      operationId: deletePersonalisedMusicFollowsByTypeById
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Music follows types: Playlists, Services, Genres & Artists'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - playlists
              - services
              - networks
              - genres
              - categories
              - artists
        - description: 'Playlists, Services, Networks, Genres, Categories or Artists ID'
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: 'Omits music data from the response, defaults to true'
          in: query
          name: music-data
          required: false
          schema:
            type: boolean
        - description: Specify context to be passed to Music API
          in: query
          name: music_context
          required: false
          schema:
            type: string
            enum:
              - events
              - ivote
              - music
              - musicplaylist
              - programmes
              - radio
              - unknown
        - description: Specify location to be passed to Music API
          in: query
          name: music_within_uk
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicSuccess'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
      summary: 'Followed Network, Category, Artist, Playlist and Genre'
      tags:
        - Personalised Music
    get:
      description: |
        Check to see if a single network, category, artist, playlist, network, genre or service entity is in a users follows - determines UX of add button.
      operationId: getPersonalisedMusicFollowsByTypeById
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Music follows types: Playlists, Services, Genres & Artists'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - playlists
              - services
              - networks
              - genres
              - categories
              - artists
        - description: 'Playlists, Services, Networks, Genres, Categories or Artists ID'
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: 'Omits music data from the response, defaults to true'
          in: query
          name: music-data
          required: false
          schema:
            type: boolean
        - description: Specify context to be passed to Music API
          in: query
          name: music_context
          required: false
          schema:
            type: string
            enum:
              - events
              - ivote
              - music
              - musicplaylist
              - programmes
              - radio
              - unknown
        - description: Specify location to be passed to Music API
          in: query
          name: music_within_uk
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicFollowsResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
      summary: 'Followed Network, Category, Artist, Playlist and Genre'
      tags:
        - Personalised Music
    post:
      description: |
        Add a single network, category, artist, playlist, network, genre or service entity is in a users follows

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedMusicFollowsByTypeById
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Music follows types: Playlists, Services, Genres & Artists'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - playlists
              - services
              - networks
              - genres
              - categories
              - artists
        - description: 'Playlists, Services, Networks, Genres, Categories or Artists ID'
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: 'Omits music data from the response, defaults to true'
          in: query
          name: music-data
          required: false
          schema:
            type: boolean
        - description: Specify context to be passed to Music API
          in: query
          name: music_context
          required: false
          schema:
            type: string
            enum:
              - events
              - ivote
              - music
              - musicplaylist
              - programmes
              - radio
              - unknown
        - description: Specify location to be passed to Music API
          in: query
          name: music_within_uk
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicSuccess'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
      summary: 'Followed Network, Category, Artist, Playlist and Genre'
      tags:
        - Personalised Music
      requestBody:
        $ref: '#/components/requestBodies/PersonalisedMusicRequest2'
    put:
      description: |
        Update a single network, category, artist, playlist, network, genre or service entity is in a users follows

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedMusicFollowsByTypeById
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Music follows types: Playlists, Services, Genres & Artists'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - playlists
              - services
              - networks
              - genres
              - categories
              - artists
        - description: 'Playlists, Services, Networks, Genres, Categories or Artists ID'
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: 'Omits music data from the response, defaults to true'
          in: query
          name: music-data
          required: false
          schema:
            type: boolean
        - description: Specify context to be passed to Music API
          in: query
          name: music_context
          required: false
          schema:
            type: string
            enum:
              - events
              - ivote
              - music
              - musicplaylist
              - programmes
              - radio
              - unknown
        - description: Specify location to be passed to Music API
          in: query
          name: music_within_uk
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicSuccess'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedMusicErrorResponse'
      summary: 'Followed Network, Category, Artist, Playlist and Genre'
      tags:
        - Personalised Music
      requestBody:
        $ref: '#/components/requestBodies/PersonalisedMusicRequest2'
  /my/music/preferences/export:
    delete:
      description: |
        Remove export preferences (e.g. 3rd party vendors, partner id's) for a given BBC Music user.
      operationId: deleteMusicPreferencesExport
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportSuccess'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
      summary: Music Export Preferences
      tags:
        - Music Export
    get:
      description: |
        Returns export preferences (e.g. 3rd party vendors, partner id's) for a given BBC Music user.
      operationId: getMusicPreferencesExport
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportPreferencesResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
      summary: Music Export Preferences
      tags:
        - Music Export
    post:
      description: |
        Create export preferences (e.g. 3rd party vendors, partner id's) for a given BBC Music user.
      operationId: postMusicPreferencesExport
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportSuccess'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
      summary: Music Export Preferences
      tags:
        - Music Export
      requestBody:
        $ref: '#/components/requestBodies/MusicExportPreferences'
  '/my/music/preferences/export/{vendor}':
    delete:
      description: |
        Remove Vendor specific export preferences (e.g. 3rd party vendors, partner id's) for a given BBC Music user.
      operationId: deleteMusicPreferencesExportVendor
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: Supported 3rd Party Vendor
          in: path
          name: vendor
          required: true
          schema:
            type: string
            enum:
              - spotify
              - deezer
              - youtube
              - itunes
      responses:
        '200':
          description: OK
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
      summary: Music Export Vendor Preferences
      tags:
        - Music Export
    get:
      description: |
        Returns vendor specific export preferences for a given BBC Music user.
      operationId: getMusicPreferencesExportVendor
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: Supported 3rd Party Vendor
          in: path
          name: vendor
          required: true
          schema:
            type: string
            enum:
              - spotify
              - deezer
              - youtube
              - itunes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportPreferencesResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
      summary: Music Export Vendor Preferences
      tags:
        - Music Export
    post:
      description: |
        Create Vendor specific export preferences (e.g. 3rd party vendors, partner id's) for a given BBC Music user.
      operationId: postMusicPreferencesExportVendor
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: Supported 3rd Party Vendor
          in: path
          name: vendor
          required: true
          schema:
            type: string
            enum:
              - spotify
              - deezer
              - youtube
              - itunes
      responses:
        '200':
          description: OK
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
      summary: Music Export Vendor Preferences
      tags:
        - Music Export
      requestBody:
        $ref: '#/components/requestBodies/MusicExportPreferences'
    put:
      description: |
        Update vendor specific export preferences for a given BBC Music user.
      operationId: putMusicPreferencesExportVendor
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: Supported 3rd Party Vendor
          in: path
          name: vendor
          required: true
          schema:
            type: string
            enum:
              - spotify
              - deezer
              - youtube
              - itunes
      responses:
        '200':
          description: OK
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicExportErrorResponse'
      summary: Music Export Vendor Preferences
      tags:
        - Music Export
      requestBody:
        $ref: '#/components/requestBodies/MusicExportPreferences'
  /my/radio/favourites:
    get:
      description: |
        List of favourited episodes and clips for a given user for iPlayer Radio.

        N.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode
        and Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for
         anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification
      operationId: getPersonalisedRadioFavourites
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          schema:
            type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: Sort order for Personalised Radio results
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - programme_titles
              - available_from_date
              - available_to_date
        - description: Include items which have been 'soft' unfavourited in response. I.e items with UAS type of 'unfavourited'
          in: query
          name: show_all_activity
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
      summary: Favourite Episodes and Clips
      tags:
        - Personalised Radio
    post:
      description: |
        Add User favourites

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedRadioBatch
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioSuccessResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
      summary: Favourite Episodes and Clips
      tags:
        - Personalised Radio
      requestBody:
        $ref: '#/components/requestBodies/PersonalisedRadioBatchRequestArray'
    put:
      description: |
        Update user favourites

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedRadioBatch
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioSuccessResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
      summary: Favourite Episodes and Clips
      tags:
        - Personalised Radio
      requestBody:
        $ref: '#/components/requestBodies/PersonalisedRadioBatchRequestArray'
  '/my/radio/favourites/{type}':
    get:
      description: |
        List of followed 'clips' or 'episode' items for a given iPlayer Radio user

        N.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode
        and Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for
         anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification
      operationId: getPersonalisedRadioFavouritesByType
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Radio favourite types: Clips or Episodes'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - clips
              - episodes
        - description: Sort order for Personalised Radio results
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - programme_titles
              - available_from_date
              - available_to_date
        - description: Include items which have been 'soft' unfavourited in response. I.e items with UAS type of 'unfavourited'
          in: query
          name: show_all_activity
          required: false
          schema:
            type: boolean
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          schema:
            type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
      summary: Favourite Episodes and Clips by Type
      tags:
        - Personalised Radio
  '/my/radio/favourites/{type}/{pid}':
    delete:
      description: |
        Remove User favourite
      operationId: deletePersonalisedRadioByActivityTypeById
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Radio favourite types: Clips or Episodes'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - clips
              - episodes
        - description: pid
          in: path
          name: pid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioSuccessResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
      summary: Favourite Episode or Clip
      tags:
        - Personalised Radio
    get:
      description: |
        Check to see if a single clip or episode entity is in a users favourites - determines UX of add button.

        N.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode
        and Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for
         anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification
      operationId: getPersonalisedRadioByActivityTypeById
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Radio favourite types: Clips or Episodes'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - clips
              - episodes
        - description: pid
          in: path
          name: pid
          required: true
          schema:
            type: string
        - description: Include items which have been 'soft' unfavourited in response. I.e items with UAS type of 'unfavourited'
          in: query
          name: show_all_activity
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
      summary: Favourite Episode or Clip
      tags:
        - Personalised Radio
    post:
      description: |
        Add User favourite

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedRadioByActivityTypeById
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Radio favourite types: Clips or Episodes'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - clips
              - episodes
        - description: pid
          in: path
          name: pid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioSuccessResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
      summary: Favourite Episode or Clip
      tags:
        - Personalised Radio
      requestBody:
        $ref: '#/components/requestBodies/PersonalisedRadioRequest'
    put:
      description: |
        Update user favourite

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedRadioByActivityTypeById
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Radio favourite types: Clips or Episodes'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - clips
              - episodes
        - description: pid
          in: path
          name: pid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioSuccessResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
      summary: Favourite Episode or Clip
      tags:
        - Personalised Radio
      requestBody:
        $ref: '#/components/requestBodies/PersonalisedRadioRequest'
  /my/radio/follows:
    get:
      description: |
        List of favourited brands and series for a given user for iPlayer Radio.

        N.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode
        and Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for
         anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification
      operationId: getPersonalisedRadioFollows
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          schema:
            type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: Sort order for Personalised Radio results
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - programme_titles
              - available_from_date
              - available_to_date
        - description: Include items which have been 'soft' unfollowed in response. I.e items with UAS type of 'unfollowed'
          in: query
          name: show_all_activity
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
      summary: Followed Brands and Series
      tags:
        - Personalised Radio
    post:
      description: |
        Add 'brand' or 'series' items to a users iPlayer Radio follows

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedRadioFollowsBatch
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioSuccessResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
      summary: Followed Brands and Series
      tags:
        - Personalised Radio
      requestBody:
        $ref: '#/components/requestBodies/PersonalisedRadioBatchRequestArray2'
    put:
      description: |
        Update 'brands' or 'series' items from a users iPlayer Radio follows

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedRadioFollowsBatch
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioSuccessResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
      summary: Followed Brands and Series
      tags:
        - Personalised Radio
      requestBody:
        $ref: '#/components/requestBodies/PersonalisedRadioBatchRequestArray2'
  '/my/radio/follows/{type}':
    get:
      description: |
        List of followed 'brand' or 'series' items for a given iPlayer Radio user

        N.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode
        and Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for
         anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification
      operationId: getPersonalisedRadioFollowsByType
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Radio follows types: Brands or Series'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - brands
              - series
        - description: Sort order for Personalised Radio results
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - programme_titles
              - available_from_date
              - available_to_date
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          schema:
            type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: Include items which have been 'soft' unfollowed in response. I.e items with UAS type of 'unfollowed'
          in: query
          name: show_all_activity
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
      summary: Followed Brands or Series by Type
      tags:
        - Personalised Radio
  '/my/radio/follows/{type}/{pid}':
    delete:
      description: |
        Remove 'brand' or 'series' items from a users iPlayer Radio follows
      operationId: deletePersonalisedRadioFollowsByTypeById
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Radio follows types: Brands or Series'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - brands
              - series
        - description: pid
          in: path
          name: pid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioSuccessResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
      summary: Followed Brand or Series
      tags:
        - Personalised Radio
    get:
      description: |
        Check to see if a single brand or series entity is in a users follows - determines UX of add button.
      operationId: getPersonalisedRadioFollowsByTypeById
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Radio follows types: Brands or Series'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - brands
              - series
        - description: pid
          in: path
          name: pid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
      summary: Followed Brand or Series
      tags:
        - Personalised Radio
    post:
      description: |
        Add 'brand' or 'series' items from a users iPlayer Radio follows

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedRadioFollowsByTypeById
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Radio follows types: Brands or Series'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - brands
              - series
        - description: pid
          in: path
          name: pid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioSuccessResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
      summary: Followed Brand or Series
      tags:
        - Personalised Radio
      requestBody:
        $ref: '#/components/requestBodies/PersonalisedRadioRequest2'
    put:
      description: |
        Update 'brand' or 'series' items from a users iPlayer Radio follows

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedRadioFollowsByTypeById
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: 'Supported Radio follows types: Brands or Series'
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - brands
              - series
        - description: pid
          in: path
          name: pid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioSuccessResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
      summary: Followed Brand or Series
      tags:
        - Personalised Radio
      requestBody:
        $ref: '#/components/requestBodies/PersonalisedRadioRequest2'
  /my/radio/plays:
    get:
      description: |
        Returns mixed episode and clip plays for a given BBC iPlayer radio user.

        N.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode
        and Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for
         anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification
      operationId: getPersonalisedRadioPlays
      parameters:
        - description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          schema:
            type: string
            default: Bearer OAUTH_TOKEN
        - description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          schema:
            type: string
            default: idv5
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          schema:
            type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: Sort order for Personalised Radio results
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - programme_titles
              - available_from_date
              - available_to_date
        - description: Include expired/unavailable items
          in: query
          name: show_all_activity
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalisedRadioErrorResponse'
      summary: Played Episode or Clip
      tags:
        - Personalised Radio
  /podcasts.json:
    get:
      description: |
        Retrieve all Podcasts
      operationId: getPodcasts
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          schema:
            type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: Sort order for Podcasts results
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - title
              - '-title'
              - available_from_date
              - '-available_from_date'
        - description: Network Master Brand ID (mid)
          in: query
          name: network
          required: false
          schema:
            type: string
        - description: Network URL key
          in: query
          name: network_url_key
          required: false
          schema:
            type: string
        - description: Category ID
          in: query
          name: category
          required: false
          schema:
            type: string
        - description: Search query String
          in: query
          name: q
          required: false
          schema:
            type: string
        - description: 'Local, National or Regional Coverage'
          in: query
          name: coverage
          required: false
          schema:
            type: string
            enum:
              - local
              - national
              - regional
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PodcastsResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PodcastErrorResponse'
      summary: All Podcasts
      tags:
        - Podcasts
      servers:
        - url: 'http://rms.api.bbc.co.uk/'
  /podcasts/featured.json:
    get:
      description: |
        Retrieve featured podcasts
      operationId: getPodcastsFeatured
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
[...]
