swagger: '2.0'
schemes:
  - https
host: cosmicrays.amentum.space
basePath: /parma
info:
  contact:
    x-twitter: amentumspace
  description: |
    High energy galactic cosmic rays and bursts of solar energetic particles  collide with nuclei of gases in the atmosphere,  leading to a cascade of nuclear and electromagnetic reactions.  The result is a complex mix of directly and indirectly ionising radiation, the intensity  and composition of which varies spatially and temporally. Understanding this mix is important for a variety of applications, including estimating  the exposures of aircrew, pilots, and frequent flyers during air travel. <br><br>
    The PARMA model, developed by the Japan Atomic Energy Agency (JAEA), can instantaneously estimate cosmic ray fluxes of neutrons, protons, ions, muons, electrons, positrons, and photons for a given date, latitude, longitude, and altitude. A comprehensive description of PARMA can be found in the publications <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0160390">here</a> and <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0144679">here</a><br><br>
    The Terms and Conditions of PARMA are described  <a href="http://phits.jaea.go.jp/expacs/index.html">here</a>. Use of the API  acknowledges you have read and agreed to those Terms and Conditions.<br><br>
    We provide an open RESTful API to the model and added functionality  to calculate Effective Dose and Ambient Dose Equivalent using conversion coefficients.
    The API is free but usage is limited to 1000 API calls per day. <br><br>
    Amentum Pty Ltd is not responsible nor liable for any loss or damage of any sort incurred as the result of the use of the API. <br><br>
    Copyright <a href='https://amentum.space'>Amentum Pty Ltd</a> 2019.
  title: Cosmic Ray API - calculate intensities and doses in the atmosphere
  version: 1.2.0
  x-apisguru-categories:
    - location
    - open_data
  x-logo:
    url: 'https://twitter.com/amentumspace/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://cosmicrays.amentum.space/api/swagger.json'
      version: '2.0'
  x-providerName: amentum.space
  x-serviceName: cosmic-ray
consumes:
  - application/json
produces:
  - application/json
parameters:
  Altitude:
    description: 'Altitude (in km). The minimum is 0 m, the maximum is 47 km (the upper limit of the stratosphere).'
    in: query
    name: altitude
    required: false
    type: number
  Angle:
    description: Direction cosine. 1.0 is in the downward direction.
    in: query
    name: angle
    required: true
    type: number
  AtmosphericDepth:
    description: |
      Atmospheric depth from the top of the atmosphere (in units of g/cm2). The minimum is 0.913 g/cm2, the maximum is 1032.66 g/cm2. WARNING: you can specify either altitude OR atmospheric depth, not both.
    in: query
    name: atmospheric_depth
    required: false
    type: number
  Day:
    description: Day in DD.
    in: query
    name: day
    required: true
    type: integer
  Latitude:
    description: Latitude. -90 (S) to 90 (N).
    in: query
    name: latitude
    required: true
    type: number
  Longitude:
    description: Longitude. -180 (W) to 180 (E).
    in: query
    name: longitude
    required: true
    type: number
  Month:
    description: Month in MM.
    in: query
    name: month
    required: true
    type: integer
  Particle:
    description: |
      The particle type as a string. Specifying 'total', only used for the dose calculation, returns the dose for all particle types.
    enum:
      - total
      - e-
      - e+
      - mu+
      - mu-
      - gamma
      - neutron
      - proton
      - alpha
    in: query
    name: particle
    required: true
    type: string
  Year:
    description: Year in YYYY.
    in: query
    name: year
    required: true
    type: integer
paths:
  /ambient_dose:
    get:
      description: |
        The ambient dose equivalent, H*(10), is an operational quantity that simulates the  human body by measuring the dose equivalent at a depth of 10 mm within a tissue  equivalent sphere of 300 mm diameter. It is a measurable quantity that is  used to calibrate area monitors for mixed radiation fields. <br> The Cosmic Ray API calculates ambient dose equivalent by combining PARMAS  double differential intensity distributions with published conversion
         coefficients for various particle types [1].<br>
        [1] Pelliccioni, M. Overview of fluence-to-effective dose and fluence-to-ambient  dose equivalent conversion coefficients for high energy radiation calculated using
         the FLUKA code. Radiation Protection Dosimetry 88.4 (2000): 279-297.
      operationId: app.api_parma.endpoints.PARMA.ambient_dose
      parameters:
        - $ref: '#/parameters/Altitude'
        - $ref: '#/parameters/AtmosphericDepth'
        - $ref: '#/parameters/Latitude'
        - $ref: '#/parameters/Longitude'
        - $ref: '#/parameters/Year'
        - $ref: '#/parameters/Month'
        - $ref: '#/parameters/Day'
        - $ref: '#/parameters/Particle'
      responses:
        '200':
          description: Successful dose read operation
          schema:
            properties:
              units:
                type: string
              value:
                type: string
            type: object
      summary: |
        The ambient dose equivalent rate calculated for a single particle type, or accumulated over all particle types.
      tags:
        - Click to view documentation for API endpoints
  /differential_intensity:
    get:
      description: |
        The differential intensity (a.k.a. flux) of a particle is a directional quantity that describes the number of particles per unit area, per unit solid angle, per unit energy, and per unit time. The API leverages the functionality of PARMA to calculate differential intensity distributions with energies in units of MeV and Intensity in units of /cm2/sr/MeV/s.
      operationId: app.api_parma.endpoints.PARMA.differential_intensity
      parameters:
        - $ref: '#/parameters/Altitude'
        - $ref: '#/parameters/AtmosphericDepth'
        - $ref: '#/parameters/Latitude'
        - $ref: '#/parameters/Longitude'
        - $ref: '#/parameters/Year'
        - $ref: '#/parameters/Month'
        - $ref: '#/parameters/Day'
        - $ref: '#/parameters/Particle'
        - $ref: '#/parameters/Angle'
      responses:
        '200':
          description: Successful read of intensity operation
          schema:
            properties:
              energies:
                properties:
                  data:
                    items:
                      type: number
                    type: array
                  units:
                    type: string
                type: object
              intensities:
                properties:
                  data:
                    items:
                      type: number
                    type: array
                  units:
                    type: string
                type: object
            type: object
      summary: The energy differential intensity of a particle at a given zenith angle.
      tags:
        - Click to view documentation for API endpoints
  /effective_dose:
    get:
      description: |
        Effective Dose is a radiation protection quantity defined by the International Commission on
         Radiological Protection (ICRP) and represents the stochastic health
         risk to the human body at low levels of radiation.
        It accounts for the different sensitivities of organs to ionising radiation, as well as the different effectiveness of various types of radiation.<br> The Cosmic Ray API calculates effective dose using double differential intensity distributions, calculated using PARMA, combined with dose conversion
         coefficients for particle types defined in ICRP Publication 116 for an
         isotropic geometry.
      operationId: app.api_parma.endpoints.PARMA.effective_dose
      parameters:
        - $ref: '#/parameters/Altitude'
        - $ref: '#/parameters/AtmosphericDepth'
        - $ref: '#/parameters/Latitude'
        - $ref: '#/parameters/Longitude'
        - $ref: '#/parameters/Year'
        - $ref: '#/parameters/Month'
        - $ref: '#/parameters/Day'
        - $ref: '#/parameters/Particle'
      responses:
        '200':
          description: Successful dose read operation
          schema:
            properties:
              units:
                type: string
              value:
                type: string
            type: object
      summary: |
        The effective dose rate calculated for a single particle type, or accumulated over all particle types.
      tags:
        - Click to view documentation for API endpoints
