swagger: '2.0'
schemes:
  - https
  - http
host: worklink.amazonaws.com
basePath: /
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: 'Amazon WorkLink is a cloud-based service that provides secure access to internal websites and web apps from iOS phones. In a single step, your users, such as employees, can access internal websites as efficiently as they access any other public website. They enter a URL in their web browser, or choose a link to an internal website in an email. Amazon WorkLink authenticates the user''s access and securely renders authorized internal web content in a secure rendering service in the AWS cloud. Amazon WorkLink doesn''t download or store any internal web content on mobile devices.'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon WorkLink
  version: '2018-09-25'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/worklink-2018-09-25.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: worklink
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/worklink/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /UpdateFleetMetadata:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Updates fleet metadata, such as DisplayName.'
      operationId: UpdateFleetMetadata
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              DisplayName:
                description: The fleet name to display. The existing DisplayName is unset if null is passed.
                maxLength: 100
                type: string
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
              OptimizeForEndUserLocation:
                description: 'The option to optimize for better performance by routing traffic through the closest AWS Region to users, which may be outside of your home Region.'
                type: boolean
            required:
              - FleetArn
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateFleetMetadataResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /associateDomain:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Specifies a domain to be associated to Amazon WorkLink.
      operationId: AssociateDomain
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              AcmCertificateArn:
                description: The ARN of an issued ACM certificate that is valid for the domain being associated.
                pattern: 'arn:[\w+=/,.@-]+:[\w+=/,.@-]+:[\w+=/,.@-]*:[0-9]+:[\w+=,.@-]+(/[\w+=/,.@-]+)*'
                type: string
              DisplayName:
                description: The name to display.
                maxLength: 100
                type: string
              DomainName:
                description: The fully qualified domain name (FQDN).
                maxLength: 253
                minLength: 1
                pattern: '^[a-zA-Z0-9]?((?!-)([A-Za-z0-9-]*[A-Za-z0-9])\.)+[a-zA-Z0-9]+$'
                type: string
              FleetArn:
                description: The Amazon Resource Name (ARN) of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
            required:
              - FleetArn
              - DomainName
              - AcmCertificateArn
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateDomainResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /associateWebsiteAuthorizationProvider:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Associates a website authorization provider with a specified fleet. This is used to authorize users against associated websites in the company network.
      operationId: AssociateWebsiteAuthorizationProvider
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              AuthorizationProviderType:
                description: The authorization provider type.
                enum:
                  - SAML
                type: string
              DomainName:
                description: The domain name of the authorization provider. This applies only to SAML-based authorization providers.
                maxLength: 253
                minLength: 1
                pattern: '^[a-zA-Z0-9]?((?!-)([A-Za-z0-9-]*[A-Za-z0-9])\.)+[a-zA-Z0-9]+$'
                type: string
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
            required:
              - FleetArn
              - AuthorizationProviderType
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateWebsiteAuthorizationProviderResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /associateWebsiteCertificateAuthority:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Imports the root certificate of a certificate authority (CA) used to obtain TLS certificates used by associated websites within the company network.
      operationId: AssociateWebsiteCertificateAuthority
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              Certificate:
                description: The root certificate of the CA.
                maxLength: 8192
                minLength: 1
                pattern: '-{5}BEGIN CERTIFICATE-{5}\u000D?\u000A([A-Za-z0-9/+]{64}\u000D?\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\u000D?\u000A-{5}END CERTIFICATE-{5}(\u000D?\u000A)?'
                type: string
              DisplayName:
                description: The certificate name to display.
                maxLength: 100
                type: string
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
            required:
              - FleetArn
              - Certificate
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateWebsiteCertificateAuthorityResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /createFleet:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a fleet. A fleet consists of resources and the configuration that delivers associated websites to authorized users who download and set up the Amazon WorkLink app.
      operationId: CreateFleet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              DisplayName:
                description: The fleet name to display.
                maxLength: 100
                type: string
              FleetName:
                description: A unique name for the fleet.
                maxLength: 48
                minLength: 1
                pattern: '^[a-z0-9](?:[a-z0-9\-]{0,46}[a-z0-9])?$'
                type: string
              OptimizeForEndUserLocation:
                description: 'The option to optimize for better performance by routing traffic through the closest AWS Region to users, which may be outside of your home Region.'
                type: boolean
            required:
              - FleetName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateFleetResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /deleteFleet:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes a fleet. Prevents users from accessing previously associated websites. '
      operationId: DeleteFleet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
            required:
              - FleetArn
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteFleetResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /describeAuditStreamConfiguration:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the configuration for delivering audit streams to the customer account.
      operationId: DescribeAuditStreamConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
            required:
              - FleetArn
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAuditStreamConfigurationResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /describeCompanyNetworkConfiguration:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the networking configuration to access the internal websites associated with the specified fleet.
      operationId: DescribeCompanyNetworkConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
            required:
              - FleetArn
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeCompanyNetworkConfigurationResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /describeDevice:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Provides information about a user's device.
      operationId: DescribeDevice
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              DeviceId:
                description: A unique identifier for a registered user's device.
                maxLength: 256
                minLength: 1
                type: string
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
            required:
              - FleetArn
              - DeviceId
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDeviceResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /describeDevicePolicyConfiguration:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the device policy configuration for the specified fleet.
      operationId: DescribeDevicePolicyConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
            required:
              - FleetArn
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDevicePolicyConfigurationResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /describeDomain:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Provides information about the domain.
      operationId: DescribeDomain
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              DomainName:
                description: The name of the domain.
                maxLength: 253
                minLength: 1
                pattern: '^[a-zA-Z0-9]?((?!-)([A-Za-z0-9-]*[A-Za-z0-9])\.)+[a-zA-Z0-9]+$'
                type: string
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
            required:
              - FleetArn
              - DomainName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDomainResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /describeFleetMetadata:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Provides basic information for the specified fleet, excluding identity provider, networking, and device configuration details.'
      operationId: DescribeFleetMetadata
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
            required:
              - FleetArn
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeFleetMetadataResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /describeIdentityProviderConfiguration:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the identity provider configuration of the specified fleet.
      operationId: DescribeIdentityProviderConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
            required:
              - FleetArn
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeIdentityProviderConfigurationResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /describeWebsiteCertificateAuthority:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Provides information about the certificate authority.
      operationId: DescribeWebsiteCertificateAuthority
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
              WebsiteCaId:
                description: A unique identifier for the certificate authority.
                maxLength: 256
                minLength: 1
                type: string
            required:
              - FleetArn
              - WebsiteCaId
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeWebsiteCertificateAuthorityResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /disassociateDomain:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Disassociates a domain from Amazon WorkLink. End users lose the ability to access the domain with Amazon WorkLink. '
      operationId: DisassociateDomain
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              DomainName:
                description: The name of the domain.
                maxLength: 253
                minLength: 1
                pattern: '^[a-zA-Z0-9]?((?!-)([A-Za-z0-9-]*[A-Za-z0-9])\.)+[a-zA-Z0-9]+$'
                type: string
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
            required:
              - FleetArn
              - DomainName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateDomainResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /disassociateWebsiteAuthorizationProvider:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Disassociates a website authorization provider from a specified fleet. After the disassociation, users can''t load any associated websites that require this authorization provider.'
      operationId: DisassociateWebsiteAuthorizationProvider
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              AuthorizationProviderId:
                description: A unique identifier for the authorization provider.
                maxLength: 256
                minLength: 1
                type: string
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
            required:
              - FleetArn
              - AuthorizationProviderId
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateWebsiteAuthorizationProviderResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /disassociateWebsiteCertificateAuthority:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes a certificate authority (CA).
      operationId: DisassociateWebsiteCertificateAuthority
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
              WebsiteCaId:
                description: A unique identifier for the CA.
                maxLength: 256
                minLength: 1
                type: string
            required:
              - FleetArn
              - WebsiteCaId
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateWebsiteCertificateAuthorityResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /listDevices:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves a list of devices registered with the specified fleet.
      operationId: ListDevices
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
              MaxResults:
                description: The maximum number of results to be included in the next page.
                minimum: 1
                type: integer
              NextToken:
                description: 'The pagination token used to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.'
                maxLength: 4096
                minLength: 1
                pattern: '[\w\-]+'
                type: string
            required:
              - FleetArn
            type: object
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDevicesResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /listDomains:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves a list of domains associated to a specified fleet.
      operationId: ListDomains
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
              MaxResults:
                description: The maximum number of results to be included in the next page.
                minimum: 1
                type: integer
              NextToken:
                description: 'The pagination token used to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.'
                maxLength: 4096
                minLength: 1
                pattern: '[\w\-]+'
                type: string
            required:
              - FleetArn
            type: object
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDomainsResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /listFleets:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves a list of fleets for the current account and Region.
      operationId: ListFleets
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              MaxResults:
                description: The maximum number of results to be included in the next page.
                minimum: 1
                type: integer
              NextToken:
                description: 'The pagination token used to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.'
                maxLength: 4096
                minLength: 1
                pattern: '[\w\-]+'
                type: string
            type: object
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListFleetsResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /listWebsiteAuthorizationProviders:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves a list of website authorization providers associated with a specified fleet.
      operationId: ListWebsiteAuthorizationProviders
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
              MaxResults:
                description: The maximum number of results to be included in the next page.
                minimum: 1
                type: integer
              NextToken:
                description: 'The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.'
                maxLength: 4096
                minLength: 1
                pattern: '[\w\-]+'
                type: string
            required:
              - FleetArn
            type: object
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListWebsiteAuthorizationProvidersResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /listWebsiteCertificateAuthorities:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves a list of certificate authorities added for the current account and Region.
      operationId: ListWebsiteCertificateAuthorities
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
              MaxResults:
                description: The maximum number of results to be included in the next page.
                minimum: 1
                type: integer
              NextToken:
                description: 'The pagination token used to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.'
                maxLength: 4096
                minLength: 1
                pattern: '[\w\-]+'
                type: string
            required:
              - FleetArn
            type: object
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListWebsiteCertificateAuthoritiesResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /restoreDomainAccess:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Moves a domain to ACTIVE status if it was in the INACTIVE status.
      operationId: RestoreDomainAccess
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              DomainName:
                description: The name of the domain.
                maxLength: 253
                minLength: 1
                pattern: '^[a-zA-Z0-9]?((?!-)([A-Za-z0-9-]*[A-Za-z0-9])\.)+[a-zA-Z0-9]+$'
                type: string
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
            required:
              - FleetArn
              - DomainName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RestoreDomainAccessResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /revokeDomainAccess:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Moves a domain to INACTIVE status if it was in the ACTIVE status.
      operationId: RevokeDomainAccess
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              DomainName:
                description: The name of the domain.
                maxLength: 253
                minLength: 1
                pattern: '^[a-zA-Z0-9]?((?!-)([A-Za-z0-9-]*[A-Za-z0-9])\.)+[a-zA-Z0-9]+$'
                type: string
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
            required:
              - FleetArn
              - DomainName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RevokeDomainAccessResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /signOutUser:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Signs the user out from all of their devices. The user can sign in again if they have valid credentials.
      operationId: SignOutUser
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
              Username:
                description: The name of the user.
                maxLength: 256
                minLength: 1
                type: string
            required:
              - FleetArn
              - Username
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SignOutUserResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /updateAuditStreamConfiguration:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates the audit stream configuration for the fleet.
      operationId: UpdateAuditStreamConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              AuditStreamArn:
                description: The ARN of the Amazon Kinesis data stream that receives the audit events.
                type: string
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
            required:
              - FleetArn
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAuditStreamConfigurationResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /updateCompanyNetworkConfiguration:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates the company network configuration for the fleet.
      operationId: UpdateCompanyNetworkConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
              SecurityGroupIds:
                description: The security groups associated with access to the provided subnets.
                items:
                  $ref: '#/definitions/SecurityGroupId'
                maxItems: 5
                type: array
              SubnetIds:
                description: The subnets used for X-ENI connections from Amazon WorkLink rendering containers.
                items:
                  $ref: '#/definitions/SubnetId'
                type: array
              VpcId:
                description: The VPC with connectivity to associated websites.
                pattern: '^vpc-([0-9a-f]{8}|[0-9a-f]{17})$'
                type: string
            required:
              - FleetArn
              - VpcId
              - SubnetIds
              - SecurityGroupIds
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateCompanyNetworkConfigurationResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /updateDevicePolicyConfiguration:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates the device policy configuration for the fleet.
      operationId: UpdateDevicePolicyConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              DeviceCaCertificate:
                description: 'The certificate chain, including intermediate certificates and the root certificate authority certificate used to issue device certificates.'
                maxLength: 32768
                minLength: 1
                pattern: '(-{5}BEGIN CERTIFICATE-{5}\u000D?\u000A([A-Za-z0-9/+]{64}\u000D?\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\u000D?\u000A-{5}END CERTIFICATE-{5}\u000D?\u000A)*-{5}BEGIN CERTIFICATE-{5}\u000D?\u000A([A-Za-z0-9/+]{64}\u000D?\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\u000D?\u000A-{5}END CERTIFICATE-{5}(\u000D?\u000A)?'
                type: string
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
            required:
              - FleetArn
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDevicePolicyConfigurationResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /updateDomainMetadata:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Updates domain metadata, such as DisplayName.'
      operationId: UpdateDomainMetadata
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              DisplayName:
                description: The name to display.
                maxLength: 100
                type: string
              DomainName:
                description: The name of the domain.
                maxLength: 253
                minLength: 1
                pattern: '^[a-zA-Z0-9]?((?!-)([A-Za-z0-9-]*[A-Za-z0-9])\.)+[a-zA-Z0-9]+$'
                type: string
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
            required:
              - FleetArn
              - DomainName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDomainMetadataResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /updateIdentityProviderConfiguration:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates the identity provider configuration for the fleet.
      operationId: UpdateIdentityProviderConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              FleetArn:
                description: The ARN of the fleet.
                maxLength: 2048
                minLength: 20
                type: string
              IdentityProviderSamlMetadata:
                description: The SAML metadata document provided by the customer’s identity provider. The existing IdentityProviderSamlMetadata is unset if null is passed.
                maxLength: 204800
                minLength: 1
                type: string
              IdentityProviderType:
                description: The type of identity provider.
                enum:
                  - SAML
                type: string
            required:
              - FleetArn
              - IdentityProviderType
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateIdentityProviderConfigurationResponse'
        '480':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
definitions:
  AcmCertificateArn:
    pattern: 'arn:[\w+=/,.@-]+:[\w+=/,.@-]+:[\w+=/,.@-]*:[0-9]+:[\w+=,.@-]+(/[\w+=/,.@-]+)*'
    type: string
  AssociateDomainRequest:
    properties:
      AcmCertificateArn:
        $ref: '#/definitions/AcmCertificateArn'
        description: The ARN of an issued ACM certificate that is valid for the domain being associated.
      DisplayName:
        $ref: '#/definitions/DisplayName'
        description: The name to display.
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The fully qualified domain name (FQDN).
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The Amazon Resource Name (ARN) of the fleet.
    required:
      - FleetArn
      - DomainName
      - AcmCertificateArn
    type: object
  AssociateDomainResponse:
    properties: {}
    type: object
  AssociateWebsiteAuthorizationProviderRequest:
    properties:
      AuthorizationProviderType:
        $ref: '#/definitions/AuthorizationProviderType'
        description: The authorization provider type.
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The domain name of the authorization provider. This applies only to SAML-based authorization providers.
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
    required:
      - FleetArn
      - AuthorizationProviderType
    type: object
  AssociateWebsiteAuthorizationProviderResponse:
    properties:
      AuthorizationProviderId:
        $ref: '#/definitions/Id'
        description: A unique identifier for the authorization provider.
    type: object
  AssociateWebsiteCertificateAuthorityRequest:
    properties:
      Certificate:
        $ref: '#/definitions/Certificate'
        description: The root certificate of the CA.
      DisplayName:
        $ref: '#/definitions/DisplayName'
        description: The certificate name to display.
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
    required:
      - FleetArn
      - Certificate
    type: object
  AssociateWebsiteCertificateAuthorityResponse:
    properties:
      WebsiteCaId:
        $ref: '#/definitions/Id'
        description: A unique identifier for the CA.
    type: object
  AuditStreamArn:
    type: string
  AuthorizationProviderType:
    enum:
      - SAML
    type: string
  Boolean:
    type: boolean
  Certificate:
    maxLength: 8192
    minLength: 1
    pattern: '-{5}BEGIN CERTIFICATE-{5}\u000D?\u000A([A-Za-z0-9/+]{64}\u000D?\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\u000D?\u000A-{5}END CERTIFICATE-{5}(\u000D?\u000A)?'
    type: string
  CertificateChain:
    maxLength: 32768
    minLength: 1
    pattern: '(-{5}BEGIN CERTIFICATE-{5}\u000D?\u000A([A-Za-z0-9/+]{64}\u000D?\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\u000D?\u000A-{5}END CERTIFICATE-{5}\u000D?\u000A)*-{5}BEGIN CERTIFICATE-{5}\u000D?\u000A([A-Za-z0-9/+]{64}\u000D?\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\u000D?\u000A-{5}END CERTIFICATE-{5}(\u000D?\u000A)?'
    type: string
  CompanyCode:
    maxLength: 32
    minLength: 1
    type: string
  CreateFleetRequest:
    properties:
      DisplayName:
        $ref: '#/definitions/DisplayName'
        description: The fleet name to display.
      FleetName:
        $ref: '#/definitions/FleetName'
        description: A unique name for the fleet.
      OptimizeForEndUserLocation:
        $ref: '#/definitions/Boolean'
        description: 'The option to optimize for better performance by routing traffic through the closest AWS Region to users, which may be outside of your home Region.'
    required:
      - FleetName
    type: object
  CreateFleetResponse:
    properties:
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
    type: object
  DateTime:
    format: date-time
    type: string
  DeleteFleetRequest:
    properties:
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
    required:
      - FleetArn
    type: object
  DeleteFleetResponse:
    properties: {}
    type: object
  DescribeAuditStreamConfigurationRequest:
    properties:
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
    required:
      - FleetArn
    type: object
  DescribeAuditStreamConfigurationResponse:
    properties:
      AuditStreamArn:
        $ref: '#/definitions/AuditStreamArn'
        description: The ARN of the Amazon Kinesis data stream that will receive the audit events.
    type: object
  DescribeCompanyNetworkConfigurationRequest:
    properties:
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
    required:
      - FleetArn
    type: object
  DescribeCompanyNetworkConfigurationResponse:
    properties:
      SecurityGroupIds:
        $ref: '#/definitions/SecurityGroupIds'
        description: The security groups associated with access to the provided subnets.
      SubnetIds:
        $ref: '#/definitions/SubnetIds'
        description: The subnets used for X-ENI connections from Amazon WorkLink rendering containers.
      VpcId:
        $ref: '#/definitions/VpcId'
        description: The VPC with connectivity to associated websites.
    type: object
  DescribeDevicePolicyConfigurationRequest:
    properties:
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
    required:
      - FleetArn
    type: object
  DescribeDevicePolicyConfigurationResponse:
    properties:
      DeviceCaCertificate:
        $ref: '#/definitions/Certificate'
        description: 'The certificate chain, including intermediate certificates and the root certificate authority certificate used to issue device certificates.'
    type: object
  DescribeDeviceRequest:
    properties:
      DeviceId:
        $ref: '#/definitions/Id'
        description: A unique identifier for a registered user's device.
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
    required:
      - FleetArn
      - DeviceId
    type: object
  DescribeDeviceResponse:
    properties:
      FirstAccessedTime:
        $ref: '#/definitions/DateTime'
        description: The date that the device first signed in to Amazon WorkLink.
      LastAccessedTime:
        $ref: '#/definitions/DateTime'
        description: The date that the device last accessed Amazon WorkLink.
      Manufacturer:
        $ref: '#/definitions/DeviceManufacturer'
        description: The manufacturer of the device.
      Model:
        $ref: '#/definitions/DeviceModel'
        description: The model of the device.
      OperatingSystem:
        $ref: '#/definitions/DeviceOperatingSystemName'
        description: The operating system of the device.
      OperatingSystemVersion:
        $ref: '#/definitions/DeviceOperatingSystemVersion'
        description: The operating system version of the device.
      PatchLevel:
        $ref: '#/definitions/DevicePatchLevel'
        description: The operating system patch level of the device.
      Status:
        $ref: '#/definitions/DeviceStatus'
        description: The current state of the device.
      Username:
        $ref: '#/definitions/Username'
        description: The user name associated with the device.
    type: object
  DescribeDomainRequest:
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain.
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
    required:
      - FleetArn
      - DomainName
    type: object
  DescribeDomainResponse:
    properties:
      AcmCertificateArn:
        $ref: '#/definitions/AcmCertificateArn'
        description: The ARN of an issued ACM certificate that is valid for the domain being associated.
      CreatedTime:
        $ref: '#/definitions/DateTime'
        description: The time that the domain was added.
      DisplayName:
        $ref: '#/definitions/DisplayName'
        description: The name to display.
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain.
      DomainStatus:
        $ref: '#/definitions/DomainStatus'
        description: The current state for the domain.
    type: object
  DescribeFleetMetadataRequest:
    properties:
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
    required:
      - FleetArn
    type: object
  DescribeFleetMetadataResponse:
    properties:
      CompanyCode:
        $ref: '#/definitions/CompanyCode'
        description: The identifier used by users to sign in to the Amazon WorkLink app.
      CreatedTime:
        $ref: '#/definitions/DateTime'
        description: The time that the fleet was created.
      DisplayName:
        $ref: '#/definitions/DisplayName'
        description: The name to display.
      FleetName:
        $ref: '#/definitions/FleetName'
        description: The name of the fleet.
      FleetStatus:
        $ref: '#/definitions/FleetStatus'
        description: The current state of the fleet.
      LastUpdatedTime:
        $ref: '#/definitions/DateTime'
        description: The time that the fleet was last updated.
      OptimizeForEndUserLocation:
        $ref: '#/definitions/Boolean'
        description: 'The option to optimize for better performance by routing traffic through the closest AWS Region to users, which may be outside of your home Region.'
    type: object
  DescribeIdentityProviderConfigurationRequest:
    properties:
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
    required:
      - FleetArn
    type: object
  DescribeIdentityProviderConfigurationResponse:
    properties:
      IdentityProviderSamlMetadata:
        $ref: '#/definitions/SamlMetadata'
        description: The SAML metadata document provided by the user’s identity provider.
      IdentityProviderType:
        $ref: '#/definitions/IdentityProviderType'
        description: The type of identity provider.
      ServiceProviderSamlMetadata:
        $ref: '#/definitions/SamlMetadata'
        description: The SAML metadata document uploaded to the user’s identity provider.
    type: object
  DescribeWebsiteCertificateAuthorityRequest:
    properties:
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
      WebsiteCaId:
        $ref: '#/definitions/Id'
        description: A unique identifier for the certificate authority.
    required:
      - FleetArn
      - WebsiteCaId
    type: object
  DescribeWebsiteCertificateAuthorityResponse:
    properties:
      Certificate:
        $ref: '#/definitions/Certificate'
        description: The root certificate of the certificate authority.
      CreatedTime:
        $ref: '#/definitions/DateTime'
        description: The time that the certificate authority was added.
      DisplayName:
        $ref: '#/definitions/DisplayName'
        description: The certificate name to display.
    type: object
  DeviceManufacturer:
    maxLength: 256
    minLength: 1
    type: string
  DeviceModel:
    maxLength: 256
    minLength: 1
    type: string
  DeviceOperatingSystemName:
    maxLength: 256
    minLength: 1
    type: string
  DeviceOperatingSystemVersion:
    maxLength: 256
    minLength: 1
    type: string
  DevicePatchLevel:
    maxLength: 256
    minLength: 1
    type: string
  DeviceStatus:
    enum:
      - ACTIVE
      - SIGNED_OUT
    type: string
  DeviceSummary:
    description: The summary of devices.
    properties:
      DeviceId:
        $ref: '#/definitions/Id'
        description: The ID of the device.
      DeviceStatus:
        $ref: '#/definitions/DeviceStatus'
        description: The status of the device.
    type: object
  DeviceSummaryList:
    items:
      $ref: '#/definitions/DeviceSummary'
    type: array
  DisassociateDomainRequest:
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain.
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
    required:
      - FleetArn
      - DomainName
    type: object
  DisassociateDomainResponse:
    properties: {}
    type: object
  DisassociateWebsiteAuthorizationProviderRequest:
    properties:
      AuthorizationProviderId:
        $ref: '#/definitions/Id'
        description: A unique identifier for the authorization provider.
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
    required:
      - FleetArn
      - AuthorizationProviderId
    type: object
  DisassociateWebsiteAuthorizationProviderResponse:
    properties: {}
    type: object
  DisassociateWebsiteCertificateAuthorityRequest:
    properties:
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
      WebsiteCaId:
        $ref: '#/definitions/Id'
        description: A unique identifier for the CA.
    required:
      - FleetArn
      - WebsiteCaId
    type: object
  DisassociateWebsiteCertificateAuthorityResponse:
    properties: {}
    type: object
  DisplayName:
    maxLength: 100
    type: string
  DomainName:
    maxLength: 253
    minLength: 1
    pattern: '^[a-zA-Z0-9]?((?!-)([A-Za-z0-9-]*[A-Za-z0-9])\.)+[a-zA-Z0-9]+$'
    type: string
  DomainStatus:
    enum:
      - PENDING_VALIDATION
      - ASSOCIATING
      - ACTIVE
      - INACTIVE
      - DISASSOCIATING
      - DISASSOCIATED
      - FAILED_TO_ASSOCIATE
      - FAILED_TO_DISASSOCIATE
    type: string
  DomainSummary:
    description: The summary of the domain.
    properties:
      CreatedTime:
        $ref: '#/definitions/DateTime'
        description: The time that the domain was created.
      DisplayName:
        $ref: '#/definitions/DisplayName'
        description: The name to display.
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain.
      DomainStatus:
        $ref: '#/definitions/DomainStatus'
        description: The status of the domain.
    required:
      - DomainName
      - CreatedTime
      - DomainStatus
    type: object
  DomainSummaryList:
    items:
      $ref: '#/definitions/DomainSummary'
    type: array
  FleetArn:
    maxLength: 2048
    minLength: 20
    type: string
  FleetName:
    maxLength: 48
    minLength: 1
    pattern: '^[a-z0-9](?:[a-z0-9\-]{0,46}[a-z0-9])?$'
    type: string
  FleetStatus:
    enum:
      - CREATING
      - ACTIVE
      - DELETING
      - DELETED
      - FAILED_TO_CREATE
      - FAILED_TO_DELETE
    type: string
  FleetSummary:
    description: The summary of the fleet.
    properties:
      CompanyCode:
        $ref: '#/definitions/CompanyCode'
        description: The identifier used by users to sign into the Amazon WorkLink app.
      CreatedTime:
        $ref: '#/definitions/DateTime'
        description: The time when the fleet was created.
      DisplayName:
        $ref: '#/definitions/DisplayName'
        description: The name to display.
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
      FleetName:
        $ref: '#/definitions/FleetName'
        description: The name of the fleet.
      FleetStatus:
        $ref: '#/definitions/FleetStatus'
        description: The status of the fleet.
      LastUpdatedTime:
        $ref: '#/definitions/DateTime'
        description: The time when the fleet was last updated.
    type: object
  FleetSummaryList:
    items:
      $ref: '#/definitions/FleetSummary'
    type: array
  Id:
    maxLength: 256
    minLength: 1
    type: string
  IdentityProviderType:
    enum:
      - SAML
    type: string
  InternalServerErrorException: {}
  InvalidRequestException: {}
  ListDevicesRequest:
    properties:
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to be included in the next page.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The pagination token used to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.'
    required:
      - FleetArn
    type: object
  ListDevicesResponse:
    properties:
      Devices:
        $ref: '#/definitions/DeviceSummaryList'
        description: Information about the devices.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The pagination token used to retrieve the next page of results for this operation. If there are no more pages, this value is null.'
    type: object
  ListDomainsRequest:
    properties:
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to be included in the next page.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The pagination token used to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.'
    required:
      - FleetArn
    type: object
  ListDomainsResponse:
    properties:
      Domains:
        $ref: '#/definitions/DomainSummaryList'
        description: Information about the domains.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The pagination token used to retrieve the next page of results for this operation. If there are no more pages, this value is null.'
    type: object
  ListFleetsRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to be included in the next page.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The pagination token used to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.'
    type: object
  ListFleetsResponse:
    properties:
      FleetSummaryList:
        $ref: '#/definitions/FleetSummaryList'
        description: The summary list of the fleets.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The pagination token used to retrieve the next page of results for this operation. If there are no more pages, this value is null.'
    type: object
  ListWebsiteAuthorizationProvidersRequest:
    properties:
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to be included in the next page.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.'
    required:
      - FleetArn
    type: object
  ListWebsiteAuthorizationProvidersResponse:
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.'
      WebsiteAuthorizationProviders:
        $ref: '#/definitions/WebsiteAuthorizationProvidersSummaryList'
        description: The website authorization providers.
    type: object
  ListWebsiteCertificateAuthoritiesRequest:
    properties:
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to be included in the next page.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The pagination token used to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.'
    required:
      - FleetArn
    type: object
  ListWebsiteCertificateAuthoritiesResponse:
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The pagination token used to retrieve the next page of results for this operation. If there are no more pages, this value is null.'
      WebsiteCertificateAuthorities:
        $ref: '#/definitions/WebsiteCaSummaryList'
        description: Information about the certificates.
    type: object
  MaxResults:
    minimum: 1
    type: integer
  NextToken:
    maxLength: 4096
    minLength: 1
    pattern: '[\w\-]+'
    type: string
  ResourceAlreadyExistsException: {}
  ResourceNotFoundException: {}
  RestoreDomainAccessRequest:
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain.
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
    required:
      - FleetArn
      - DomainName
    type: object
  RestoreDomainAccessResponse:
    properties: {}
    type: object
  RevokeDomainAccessRequest:
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain.
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
    required:
      - FleetArn
      - DomainName
    type: object
  RevokeDomainAccessResponse:
    properties: {}
    type: object
  SamlMetadata:
    maxLength: 204800
    minLength: 1
    type: string
  SecurityGroupId:
    pattern: '^sg-([0-9a-f]{8}|[0-9a-f]{17})$'
    type: string
  SecurityGroupIds:
    items:
      $ref: '#/definitions/SecurityGroupId'
    maxItems: 5
    type: array
  SignOutUserRequest:
    properties:
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
      Username:
        $ref: '#/definitions/Username'
        description: The name of the user.
    required:
      - FleetArn
      - Username
    type: object
  SignOutUserResponse:
    properties: {}
    type: object
  SubnetId:
    pattern: '^subnet-([0-9a-f]{8}|[0-9a-f]{17})$'
    type: string
  SubnetIds:
    items:
      $ref: '#/definitions/SubnetId'
    type: array
  TooManyRequestsException: {}
  UnauthorizedException: {}
  UpdateAuditStreamConfigurationRequest:
    properties:
      AuditStreamArn:
        $ref: '#/definitions/AuditStreamArn'
        description: The ARN of the Amazon Kinesis data stream that receives the audit events.
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
    required:
      - FleetArn
    type: object
  UpdateAuditStreamConfigurationResponse:
    properties: {}
    type: object
  UpdateCompanyNetworkConfigurationRequest:
    properties:
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
      SecurityGroupIds:
        $ref: '#/definitions/SecurityGroupIds'
        description: The security groups associated with access to the provided subnets.
      SubnetIds:
        $ref: '#/definitions/SubnetIds'
        description: The subnets used for X-ENI connections from Amazon WorkLink rendering containers.
      VpcId:
        $ref: '#/definitions/VpcId'
        description: The VPC with connectivity to associated websites.
    required:
      - FleetArn
      - VpcId
      - SubnetIds
      - SecurityGroupIds
    type: object
  UpdateCompanyNetworkConfigurationResponse:
    properties: {}
    type: object
  UpdateDevicePolicyConfigurationRequest:
    properties:
      DeviceCaCertificate:
        $ref: '#/definitions/CertificateChain'
        description: 'The certificate chain, including intermediate certificates and the root certificate authority certificate used to issue device certificates.'
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
    required:
      - FleetArn
    type: object
  UpdateDevicePolicyConfigurationResponse:
    properties: {}
    type: object
  UpdateDomainMetadataRequest:
    properties:
      DisplayName:
        $ref: '#/definitions/DisplayName'
        description: The name to display.
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain.
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
    required:
      - FleetArn
      - DomainName
    type: object
  UpdateDomainMetadataResponse:
    properties: {}
    type: object
  UpdateFleetMetadataRequest:
    properties:
      DisplayName:
        $ref: '#/definitions/DisplayName'
        description: The fleet name to display. The existing DisplayName is unset if null is passed.
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
      OptimizeForEndUserLocation:
        $ref: '#/definitions/Boolean'
        description: 'The option to optimize for better performance by routing traffic through the closest AWS Region to users, which may be outside of your home Region.'
    required:
      - FleetArn
    type: object
  UpdateFleetMetadataResponse:
    properties: {}
    type: object
  UpdateIdentityProviderConfigurationRequest:
    properties:
      FleetArn:
        $ref: '#/definitions/FleetArn'
        description: The ARN of the fleet.
      IdentityProviderSamlMetadata:
        $ref: '#/definitions/SamlMetadata'
        description: The SAML metadata document provided by the customer’s identity provider. The existing IdentityProviderSamlMetadata is unset if null is passed.
      IdentityProviderType:
        $ref: '#/definitions/IdentityProviderType'
        description: The type of identity provider.
    required:
      - FleetArn
      - IdentityProviderType
    type: object
  UpdateIdentityProviderConfigurationResponse:
    properties: {}
    type: object
  Username:
    maxLength: 256
    minLength: 1
    type: string
  VpcId:
    pattern: '^vpc-([0-9a-f]{8}|[0-9a-f]{17})$'
    type: string
  WebsiteAuthorizationProviderSummary:
    description: The summary of the website authorization provider.
    properties:
      AuthorizationProviderId:
        $ref: '#/definitions/Id'
        description: A unique identifier for the authorization provider.
      AuthorizationProviderType:
        $ref: '#/definitions/AuthorizationProviderType'
        description: The authorization provider type.
      CreatedTime:
        $ref: '#/definitions/DateTime'
        description: The time of creation.
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The domain name of the authorization provider. This applies only to SAML-based authorization providers.
    required:
      - AuthorizationProviderType
    type: object
  WebsiteAuthorizationProvidersSummaryList:
    items:
      $ref: '#/definitions/WebsiteAuthorizationProviderSummary'
    type: array
  WebsiteCaSummary:
    description: The summary of the certificate authority (CA).
    properties:
      CreatedTime:
        $ref: '#/definitions/DateTime'
        description: The time when the CA was added.
      DisplayName:
        $ref: '#/definitions/DisplayName'
        description: The name to display.
      WebsiteCaId:
        $ref: '#/definitions/Id'
        description: A unique identifier for the CA.
    type: object
  WebsiteCaSummaryList:
    items:
      $ref: '#/definitions/WebsiteCaSummary'
    type: array
x-servers:
  - description: The WorkLink multi-region endpoint
    url: 'http://worklink.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The WorkLink multi-region endpoint
    url: 'https://worklink.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The WorkLink endpoint for China (Beijing) and China (Ningxia)
    url: 'http://worklink.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The WorkLink endpoint for China (Beijing) and China (Ningxia)
    url: 'https://worklink.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
