openapi: 3.0.1
servers:
  - description: Mist AWS US
    url: https://api.mist.com
  - description: Mist AWS EU
    url: https://api.eu.mist.com
  - description: Mist GCP US
    url: https://api.gc1.mist.com
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: |
    > *Version 0.12.4*
    >
    > Date: August 16th, 2021
    >

    ---

    #### Available Documentation
    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)
    * [Open API](https://doc.mist-lab.fr/)

    ---
    #### Useful links
    * [Mist Homepage](https://www.mist.com)
    * [Mist Documentation](https://www.mist.com/documentation)
    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account required)
    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)
    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 0.12.4
  x-apisguru-categories:
    - enterprise
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: "#FFFFFF"
    url: https://cdn.mist.com/wp-content/uploads/logo.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/tmunzer/mist_openapi/main/mist.openapi.yml
      version: "3.0"
  x-providerName: mist.com
security:
  - apiToken: []
  - basicAuth: []
tags:
  - name: Login
  - description: |-
      A Mist account can be linked to OAuth2 providers:
      1. First, login with your Mist account
      2. Obtain the Authorization URL for Linking
        1. in JSON response, more usable for developers. Simply don’t specify the forward parameter when obtaining the authorization URL 
        2. or as GET parameter, for UI where the user flow can be continued. Specify the landing page/url of your choice
      3. Obtain the authorizaiton code by clicking / going through Authorization URL
      Link Mist Account against OAuth2 Provider by using the authorization code
    name: Login With OAuth2
  - name: API Token
  - name: Installer
  - name: Admin
  - name: Mobile
  - name: Msps
  - name: Msps Admins
  - name: Msps Inventory
  - name: Msps Invites
  - name: Msps Org Groups
  - name: Msps Orgs
  - name: Msps Search
  - name: Msps SSO Roles
  - name: Msps SSO
  - name: Msps Stats
  - name: Orgs
  - name: Orgs 128T
  - name: Orgs Admins
  - description: Alarms are triggered based on certain events. Alarms could be configured using an Alarm Template.
    name: Orgs Alarms
  - description: An Alarm Template is a set of Alarm Rules that could be applied to one or more sites (while each site can only pick one Alarm Template), or to the whole org.
    name: Orgs Alarm Templates
  - name: Orgs AP Templates
  - name: Orgs API Tokens
  - name: Orgs Assets
  - name: Orgs Asset Filters
  - name: Orgs Cert
  - name: Orgs Claim
  - name: Orgs Clients
  - name: Orgs Clone
  - name: Orgs CRL
  - name: Orgs Device Profiles
  - name: Orgs Devices
  - name: Orgs Gateway Templates
  - name: Orgs Inventory
  - name: Orgs Invites
  - name: Orgs Licenses
  - name: Orgs Logs
  - name: Orgs Maps
  - name: Orgs MxClusters
  - name: Orgs MxEdges
  - name: Orgs MxTunnels
  - name: Orgs Network Templates
  - name: Orgs Networks
  - name: Orgs Psks
  - name: Orgs RF Templates
  - name: Orgs SDK Clients
  - name: Orgs SDK Invites
  - name: Orgs SDK Templates
  - name: Orgs SecPolicies
  - name: Orgs Services
  - name: Orgs Setting
  - name: Orgs Sitegroups
  - name: Orgs Sites
  - name: Orgs SLEs
  - name: Orgs SSO Roles
  - name: Orgs SSO
  - name: Orgs Stats
  - name: Orgs Subscriptions
  - name: Orgs Templates
  - name: Orgs Tickets
  - name: Orgs VPNs
  - name: Orgs Webhooks
  - name: Orgs Wired Clients
  - name: Orgs Wlans
  - name: Orgs WxRules
  - name: Orgs WxTags
  - name: Orgs WxTunnels
  - description: A site represents a project, a deployment. For MSP, it can be as small as a coffee shop or a five-star 600-room hotel. A site contains a set of Maps, Wlans, Policies, Zones.
    name: Sites
  - name: Sites Alarms
  - description: Applications contains a list of applications users are interested in monitoring / routing / policying
    name: Sites Applications
  - name: Sites Anomaly
  - name: Sites Asset Filters
  - name: Sites Assets
  - name: Sites Beacons
  - name: Sites Clients
  - name: Sites Devices
  - description: |-
      EVPN allows an alternative but more efficient LAN architecture utilizing VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding plane.
      In our implementation, following the steps to deploy EVPN topologies in a Site
    name: Sites Devices EVPN
  - name: Sites Devices Virtual Chassis
  - name: Sites Devices Utilities
  - name: Sites Events
  - name: Sites Guests
  - name: Sites Insights
  - name: Sites Licenses
  - name: Sites Location
  - name: Sites Maps
  - name: Sites Pcaps
  - name: Sites Psks
  - name: Sites Rfdiags
  - name: Sites Rogues
  - name: Sites RRM
  - name: Sites Rssizones
  - name: Sites Setting
  - name: Sites Skyatp
  - name: Sites SLEs
  - name: Sites Stats
  - name: Sites Subscriptions
  - name: Sites UI Settings
  - name: Sites vBeacons
  - name: Sites Webhooks
  - name: Sites Wired Clients
  - name: Sites Wlans
  - name: Sites WxRules
  - name: Sites WxTags
  - name: Sites WxTunnels
  - name: Sites Zones
  - name: Constants
  - name: Self
  - name: Account
  - name: Webhook Samples
paths:
  /api/v1/const/alarm_defs:
    get:
      description: Get Alarm Definitions
      operationId: getAlarmDefinitions
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - display: string
                      fields:
                        - string
                      group: string
                      key: string
                      "marvis_suggestion_category\t": string
                      severity: string
              schema:
                items:
                  properties:
                    display:
                      description: Description of the alarm type
                      type: string
                    fields:
                      description: List of fields available in an alarm details payload (in REST APIs & Webhooks); e.g. `aps`, `switches`, `gateways`, `hostnames`, `ssids`, `bssids`
                      items:
                        type: string
                      type: array
                    group:
                      description: Group to which the alarm belongs
                      type: string
                    key:
                      description: Key name of an alarm type
                      type: string
                    "marvis_suggestion_category\t":
                      description: Marvis defined category to which the alarm belongs
                      type: string
                    severity:
                      description: Severity of the alarm
                      type: string
                  required:
                    - key
                    - display
                    - group
                    - severity
                    - fields
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getAlarmDefinitions
      tags:
        - Constants
  /api/v1/const/ap_channels:
    get:
      description: Get List of Available channels per country code
      operationId: getApChannels
      parameters:
        - $ref: "#/components/parameters/country_code"
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    band24_channels:
                      "20":
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 10
                        - 11
                      "40":
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 10
                        - 11
                    band24_enabled: true
                    band5_channels:
                      "20":
                        - 36
                        - 40
                        - 44
                        - 48
                        - 52
                        - 56
                        - 60
                        - 64
                        - 100
                        - 104
                        - 108
                        - 112
                        - 116
                        - 132
                        - 136
                        - 140
                        - 149
                        - 153
                        - 157
                        - 161
                        - 165
                      "40":
                        - 36
                        - 40
                        - 44
                        - 48
                        - 52
                        - 56
                        - 60
                        - 64
                        - 100
                        - 104
                        - 108
                        - 112
                        - 132
                        - 136
                        - 149
                        - 153
                        - 157
                        - 161
                      "80":
                        - 36
                        - 40
                        - 44
                        - 48
                        - 52
                        - 56
                        - 60
                        - 64
                        - 100
                        - 104
                        - 108
                        - 112
                        - 132
                        - 136
                        - 149
                        - 153
                        - 157
                        - 161
                      dfs:
                        - 52
                        - 56
                        - 60
                        - 64
                        - 100
                        - 104
                        - 108
                        - 112
                        - 116
                        - 132
                        - 136
                        - 140
                    band5_enabled: true
                    code: 840
                    dfs_ok: true
                    key: US
                    name: United States
              schema:
                properties:
                  band24_channels:
                    additionalProperties:
                      items:
                        type: integer
                      type: array
                    required:
                      - "20"
                      - "40"
                    type: object
                  band24_enabled:
                    type: boolean
                  band5_channels:
                    additionalProperties:
                      items:
                        type: integer
                      type: array
                    type: object
                  band5_enabled:
                    type: boolean
                  code:
                    type: integer
                  dfs_ok:
                    type: boolean
                  key:
                    type: string
                  name:
                    type: string
                required:
                  - key
                  - name
                  - code
                  - band24_enabled
                  - band24_channels
                  - band5_enabled
                  - dfs_ok
                  - band5_channels
                type: object
          description: OK
      summary: getApChannels
      tags:
        - Constants
  /api/v1/const/ap_led_status:
    get:
      description: Get AP LED definition
      operationId: getApLedDefinition
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - code: "02"
                      description: Has no link (Seen using power injectors, but not connected to a switch)
                      key: NO_ETHERNET_LINK
                      name: No ethernet link
              schema:
                items:
                  properties:
                    code:
                      type: string
                    description:
                      type: string
                    key:
                      type: string
                    name:
                      type: string
                  required:
                    - code
                    - key
                    - name
                    - description
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getApLedDefinition
      tags:
        - Constants
  /api/v1/const/applications:
    get:
      description: Get a list of applications that Juniper-Mist APs recognize
      operationId: getApplications
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - group: File Sharing
                      key: dropbox
                      name: Dropbox
              schema:
                items:
                  properties:
                    app_id:
                      description: whether it can be used as an app in Service for gateways
                      type: boolean
                    app_probe:
                      description: whether it can be used for app_probing for SRX
                      type: boolean
                    group:
                      type: string
                    key:
                      type: string
                    name:
                      type: string
                  required:
                    - key
                    - name
                    - group
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getApplications
      tags:
        - Constants
  /api/v1/const/client_events:
    get:
      description: Get List of available Client Events
      operationId: getClientEventsDefinitions
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - display: DHCP Success
                      key: CLIENT_IP_ASSIGNED
              schema:
                items:
                  properties:
                    display:
                      type: string
                    key:
                      type: string
                  required:
                    - key
                    - display
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getClientEventsDefinitions
      tags:
        - Constants
  /api/v1/const/countries:
    get:
      description: Get List of available Country Codes
      operationId: getCountryCodes
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - alpha2: US
                      certified: true
                      name: United States
                      numeric: 840
                    - alpha2: JP
                      certified: true
                      name: Japan
                      numeric: 392
              schema:
                items:
                  properties:
                    alpha2:
                      type: string
                    certified:
                      type: boolean
                    name:
                      type: string
                    numeric:
                      type: number
                  required:
                    - alpha2
                    - numeric
                    - name
                    - certified
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getCountryCodes
      tags:
        - Constants
  /api/v1/const/device_models:
    get:
      description: Get a list of AP device models for the Mist Site
      operationId: getApModels
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - ap_type: aph
                      band24:
                        max_clients: 128
                        max_power: 19
                        min_power: 8
                      band5:
                        max_clients: 128
                        max_power: 17
                        min_power: 8
                      ce_dfs_ok: true
                      description: AP-41
                      display: AP41
                      extio:
                        A1:
                          default_dir: IN
                          input: true
                          output: true
                        A2:
                          default_dir: IN
                          input: true
                          output: true
                        A3:
                          default_dir: IN
                          input: true
                          output: true
                        A4:
                          default_dir: IN
                          input: true
                          output: true
                        DI1:
                          default_dir: IN
                          input: true
                          output: false
                        DI2:
                          default_dir: IN
                          input: true
                          output: false
                        DO:
                          default_dir: OUT
                          input: true
                          output: true
                      fcc_dfs_ok: true
                      has_compass: true
                      has_extio: true
                      has_height: true
                      has_module_port: true
                      has_scanning_radio: true
                      has_usb: true
                      has_vble: true
                      has_wifi_band24: true
                      has_wifi_band5: true
                      max_poe_out: 6000
                      model: AP41
                      other_dfs_ok: true
                      vble:
                        beacon_rate: 4
                        power: 8
              schema:
                items:
                  properties:
                    ap_type:
                      type: string
                    band24:
                      properties:
                        max_clients:
                          type: integer
                        max_power:
                          type: number
                        min_power:
                          type: number
                      required:
                        - max_clients
                        - max_power
                        - min_power
                      type: object
                    band5:
                      properties:
                        max_clients:
                          type: integer
                        max_power:
                          type: number
                        min_power:
                          type: number
                      required:
                        - max_clients
                        - max_power
                        - min_power
                      type: object
                    ce_dfs_ok:
                      description: EU-only; whether DFS channels are allowed in EU countries for the AP model
                      type: boolean
                    description:
                      type: string
                    display:
                      type: string
                    extio:
                      type: object
                    fcc_dfs_ok:
                      description: US-only; whether DFS channels are allowed in US for the AP model
                      type: boolean
                    has_compass:
                      type: boolean
                    has_extio:
                      type: boolean
                    has_height:
                      type: boolean
                    has_module_port:
                      type: boolean
                    has_scanning_radio:
                      type: boolean
                    has_usb:
                      type: boolean
                    has_vble:
                      type: boolean
                    has_wifi_band24:
                      type: boolean
                    has_wifi_band5:
                      type: boolean
                    max_poe_out:
                      type: number
                    model:
                      type: string
                    other_dfs_ok:
                      description: JP + all other countries; whether DFS channels are allowed in JP and other remaining countries for the AP model
                      type: boolean
                    vble:
                      properties:
                        beacon_rate:
                          type: number
                        power:
                          type: number
                      required:
                        - beacon_rate
                        - power
                      type: object
                  required:
                    - model
                    - display
                    - description
                    - ap_type
                    - fcc_dfs_ok
                    - ce_dfs_ok
                    - other_dfs_ok
                    - has_scanning_radio
                    - has_extio
                    - has_height
                    - has_usb
                    - has_wifi_band5
                    - has_wifi_band24
                    - band5
                    - band24
                    - max_poe_out
                    - has_module_port
                    - has_compass
                    - has_vble
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getApModels
      tags:
        - Constants
  /api/v1/const/insight_metrics:
    get:
      description: Get Available Insight Metrics
      operationId: getSiteAvailableInsightMetrics
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    num_clients:
                      description: number of client over time
                      example:
                        - 18
                        - 15
                      intervals:
                        10m:
                          interval: 600
                          max_age: 86400
                        1h:
                          interval: 3600
                          max_age: 1209600
                      report_intervals:
                        1d:
                          interval: 86400
                      report_scopes:
                        - site
                      scopes:
                        - site
                        - ap
                      type: timeseries
                      unit: ""
                    top-client:
                      description: top clients
                      example:
                        - bytes: 1232333
                          mac: 5684dae9ac8b
                      intervals:
                        10m:
                          interval: 600
                          max_age: 86400
                        1h:
                          interval: 3600
                          max_age: 1209600
                      key:
                        mac:
                          hint: client
                      report_intervals:
                        1d:
                          interval: 86400
                      report_scopes:
                        - site
                      scopes:
                        - site
                        - ap
                      type: keyvalues
                      values:
                        bytes:
                          unit: bytes
              schema:
                type: object
          description: OK
      summary: getSiteAvailableInsightMetrics
      tags:
        - Constants
  /api/v1/const/languages:
    get:
      description: Get Languages
      operationId: getSiteLanguages
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - display: English (US)
                      display_native: English (US)
                      key: en-US
                    - display: Chinese Traditional (Taiwan)
                      display_native: 中文（台灣）
                      key: zh-TW
              schema:
                items:
                  properties:
                    display:
                      type: string
                    display_native:
                      type: string
                    key:
                      type: string
                  required:
                    - key
                    - display
                    - display_native
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getSiteLanguages
      tags:
        - Constants
  /api/v1/const/mxedge_models:
    get:
      description: Get Mist Edge Models
      operationId: getMxEdgeModels
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - display: ME-Small
                      model: ME-100
                      ports:
                        "0":
                          display: Gigabit Ethernet 0
                          speed: 1000
                        "1":
                          display: Gigabit Ethernet 1
                          speed: 1000
                        "2":
                          display: Gigabit Ethernet 2
                          speed: 1000
                        "3":
                          display: Gigabit Ethernet 3
                          speed: 1000
              schema:
                items:
                  properties:
                    display:
                      type: string
                    model:
                      type: string
                    ports:
                      properties:
                        "0":
                          properties:
                            display:
                              type: string
                            speed:
                              type: integer
                          required:
                            - display
                            - speed
                          type: object
                        "1":
                          properties:
                            display:
                              type: string
                            speed:
                              type: integer
                          required:
                            - display
                            - speed
                          type: object
                        "2":
                          properties:
                            display:
                              type: string
                            speed:
                              type: integer
                          required:
                            - display
                            - speed
                          type: object
                        "3":
                          properties:
                            display:
                              type: string
                            speed:
                              type: integer
                          required:
                            - display
                            - speed
                          type: object
                      required:
                        - "0"
                        - "1"
                      type: object
                  required:
                    - model
                    - display
                    - ports
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getMxEdgeModels
      tags:
        - Constants
  /api/v1/const/system_events:
    get:
      description: Get list of available system events
      operationId: getSystemEventsDefinitions
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - display: AP Reboot
                      group: ap_health
                      key: ap_reboot
              schema:
                items:
                  properties:
                    display:
                      type: string
                    group:
                      type: string
                    key:
                      type: string
                  required:
                    - key
                    - display
                    - group
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getSystemEventsDefinitions
      tags:
        - Constants
  "/api/v1/installer/orgs/{org_id}/alarmtemplates":
    get:
      description: Get the list of alarm templates
      operationId: getInstallerAlarmTemplates
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - id: 684dfc5c-fe77-2290-eb1d-ef3d677fe168
                      name: AlarmTemplate 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                    - id
                    - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getInstallerAlarmTemplates
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
  "/api/v1/installer/orgs/{org_id}/deviceprofiles":
    get:
      description: Get Device Profiles
      operationId: getInstallerDeviceProfiles_WIP_
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                      name: DeviceProfile 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                    - id
                    - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getInstallerDeviceProfiles_WIP_
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
  "/api/v1/installer/orgs/{org_id}/devices":
    get:
      description: Get recently claimed devices
      operationId: getInstallerListOfRenctlyClaimedDevices
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - connected: true
                      mac: 5c5b35000018
                      model: AP41
                      serial: FXLH2015150025
                    - connected: false
                      deviceprofile_name: SJ1
                      name: hallway
                      site_name: SJ1
                    - connected: true
                      height: 2.7
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      orientation: 90
                      x: 150
                      y: 300
              schema:
                items:
                  properties:
                    connected:
                      type: boolean
                    height:
                      type: number
                    map_id:
                      format: uuid
                      type: string
                    orientation:
                      type: number
                    x:
                      type: number
                    y:
                      type: number
                  required:
                    - connected
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getInstallerListOfRenctlyClaimedDevices
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
    post:
      description: This mirrors `POST /api/v1/orgs/{org_id}/inventory` (see Inventory API)
      operationId: claimInstallerDevices
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  - 6JG8E-PTFV2-A9Z2N
                  - DVH4V-SNMSZ-PDXBR
            schema:
              $ref: "#/components/schemas/Model_array_string"
        description: Request Body
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    added:
                      - 6JG8E-PTFV2-A9Z2N
                    duplicated:
                      - DVH4V-SNMSZ-PDXBR
                    error:
                      - PO1025335ohoh
                    inventory_added:
                      - mac: 5c5b35000018
                        magic: 6JG8EPTFV2A9Z2N
                        model: AP41
                        serial: FXLH2015150025
                        type: ap
                    inventory_duplicated:
                      - mac: 5c5b35000012
                        magic: DVH4VSNMSZPDXBR
                        model: AP41
                        serial: FXLH2015150027
                        type: ap
              schema:
                properties:
                  added:
                    items:
                      type: string
                    type: array
                  duplicated:
                    items:
                      type: string
                    type: array
                  error:
                    items:
                      type: string
                    type: array
                  inventory_added:
                    items:
                      properties:
                        mac:
                          type: string
                        magic:
                          type: string
                        model:
                          type: string
                        serial:
                          type: string
                        type:
                          type: string
                      required:
                        - serial
                        - model
                        - type
                        - magic
                        - mac
                      type: object
                    minItems: 1
                    type: array
                    uniqueItems: true
                  inventory_duplicated:
                    items:
                      properties:
                        mac:
                          type: string
                        magic:
                          type: string
                        model:
                          type: string
                        serial:
                          type: string
                        type:
                          type: string
                      required:
                        - serial
                        - model
                        - type
                        - magic
                        - mac
                      type: object
                    minItems: 1
                    type: array
                    uniqueItems: true
                required:
                  - added
                  - duplicated
                  - error
                  - inventory_added
                  - inventory_duplicated
                type: object
          description: OK
        "400":
          description: Bad Request if none of the entries are valid
      summary: claimInstallerDevices
      tags:
        - Installer
  "/api/v1/installer/orgs/{org_id}/devices/{device_mac}":
    delete:
      description: Unassign recently claimed devices
      operationId: unassignInstallerRecentlyClaimedDevice
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: unassignInstallerRecentlyClaimedDevice
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/device_mac"
    put:
      description: "Provision device "
      operationId: provisionInstallerDevices
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  deviceprofile_name: string
                  for_site: true
                  height: 0
                  map_id: 09d2b626-2e4e-45ef-a3c4-e6aeb6c83db1
                  name: string
                  orientation: 0
                  site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                  site_name: string
                  x: 0
                  y: 0
            schema:
              $ref: "#/components/schemas/Installer_devices"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          content:
            application/json:
              examples:
                example-outsite_of_grace_period:
                  value:
                    detail: outside of grace period
              schema:
                properties:
                  detail:
                    type: string
                required:
                  - detail
                type: object
          description: Bad Request
      summary: provisionInstallerDevices
      tags:
        - Installer
  "/api/v1/installer/orgs/{org_id}/devices/{device_mac}/locate":
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/device_mac"
    post:
      description: Locate a Device by blinking it’s LED, it’s a persisted state that has to be stopped by calling Stop Locating API
      operationId: startInstallerLocateDevice
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: startInstallerLocateDevice
      tags:
        - Installer
  "/api/v1/installer/orgs/{org_id}/devices/{device_mac}/unlocate":
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/device_mac"
    post:
      description: Stop it
      operationId: stopInstallerLocateDevice
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: stopInstallerLocateDevice
      tags:
        - Installer
  "/api/v1/installer/orgs/{org_id}/devices/{device_mac}/{image_name}":
    delete:
      description: delete image
      operationId: deleteInstallerDeviceImage
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: deleteInstallerDeviceImage
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/image_name"
      - $ref: "#/components/parameters/device_mac"
    post:
      description: Add image
      operationId: InstallerDeviceImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/image_upload"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: InstallerDeviceImage
      tags:
        - Installer
  "/api/v1/installer/orgs/{org_id}/rftemplates":
    get:
      description: Get RF Template
      operationId: getInstallerRfTemplatesNames
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - id: bb8a9017-1e36-5d6c-6f2b-551abe8a76a2
                      name: RFTemplate 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                    - id
                    - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getInstallerRfTemplatesNames
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
  "/api/v1/installer/orgs/{org_id}/secpolicies":
    get:
      description: Get Secuity Policies
      operationId: getInstallerSecPolicies
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - id: 3bcd0beb-5d0a-4cbd-92c1-14aea91e98ef
                      name: SecuPolicy 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                    - id
                    - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getInstallerSecPolicies
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
  "/api/v1/installer/orgs/{org_id}/sitegroups":
    get:
      description: Get Site Groups
      operationId: getInstallerSiteGroups
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - id: 581328b6-e382-f54e-c9dc-999983183a34
                      name: SiteGroup 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                    - id
                    - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getInstallerSiteGroups
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
  "/api/v1/installer/orgs/{org_id}/sites":
    get:
      description: Get Sites
      operationId: getInstallerSites
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - address: 1601 S. Deanza Blvd., Cupertino, CA, 95014
                      country_code: US
                      id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      latlng:
                        lat: 37.295833
                        lng: -122.032946
                      name: Mist Office
                      timezone: America/Los_Angeles
              schema:
                items:
                  properties:
                    address:
                      type: string
                    country_code:
                      type: string
                    id:
                      format: uuid
                      type: string
                    latlng:
                      properties:
                        lat:
                          type: number
                        lng:
                          type: number
                      required:
                        - lat
                        - lng
                      type: object
                    name:
                      type: string
                    timezone:
                      type: string
                  required:
                    - id
                    - name
                    - timezone
                    - country_code
                    - latlng
                    - address
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getInstallerSites
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
  "/api/v1/installer/orgs/{org_id}/sites/{site_name}":
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/site_name"
    put:
      description: Often the Installers are asked to assign Devices to Sites. The Sites can either be pre-created or created/modified by the Installer. If this is an update, the same grace period also applies.
      operationId: createOrUpdateInstallerSites
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  address: 1601 S. Deanza Blvd., Cupertino, CA, 95014
                  country_code: US
                  latlng:
                    lat: 37.295833
                    lng: -122.032946
                  name: string
                  rftemplate_name: rftemplate1
                  sitegroup_names:
                    - sg1
                    - sg2
                  timezone: America/Los_Angeles
            schema:
              $ref: "#/components/schemas/site"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: createOrUpdateInstallerSites
      tags:
        - Installer
  "/api/v1/installer/orgs/{org_id}/sites/{site_name}/maps":
    get:
      description: Get Maps
      operationId: getInstallerMaps
      responses:
        "200":
          $ref: "#/components/responses/MapsArray"
      summary: getInstallerMaps
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/site_name"
  "/api/v1/installer/orgs/{org_id}/sites/{site_name}/maps/import":
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/site_name"
    post:
      description: Import data from files is a multipart POST which has an file, an optional json, and an optional csv, to create floorplan, assign & place ap if name or mac matches
      operationId: importInstallerMap
      requestBody:
        content:
          multipart/form-data:
            examples:
              example-1:
                value:
                  csv: string
                  file: string
                  json:
                    import_all_floorplans: false
                    import_height: false
                    import_orientation: false
                    vendor_name: ekahau
            schema:
              properties:
                csv:
                  format: binary
                  type: string
                file:
                  format: binary
                  type: string
                json:
                  properties:
                    import_all_floorplans:
                      default: false
                      type: boolean
                    import_height:
                      default: false
                      type: boolean
                    import_orientation:
                      default: false
                      type: boolean
                    vendor_name:
                      enum:
                        - ibwave
                        - ekahau
                      type: string
                  required:
                    - vendor_name
                  type: object
              type: object
        description: ""
      responses:
        "200":
          $ref: "#/components/responses/MapImport"
      summary: importInstallerMap
      tags:
        - Installer
  "/api/v1/installer/orgs/{org_id}/sites/{site_name}/maps/{map_id}":
    delete:
      description: Delete Map
      operationId: deleteInstallerMap
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: deleteInstallerMap
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/site_name"
      - $ref: "#/components/parameters/map_id"
    post:
      description: Create a MAP
      operationId: createInstallerMap
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  flags: {}
                  height: 0
                  latlng_bt:
                    lat: string
                    lnt: string
                  latlng_tl:
                    lat: string
                    lnt: string
                  locked: true
                  name: string
                  orientation: 0
                  origin_x: 0
                  origin_y: 0
                  ppm: 0
                  sitesurvey_path:
                    - coordinate: string
                      id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      name: string
                      nodes:
                        - edges:
                            N2: string
                          name: string
                          position:
                            x: 0
                            y: 0
                  thumbnail_url: string
                  type: image
                  url: string
                  view: roadmap
                  wall_path:
                    coordinate: string
                    nodes:
                      - edges:
                          N2: string
                        name: string
                        position:
                          x: 0
                          y: 0
                  wayfinding:
                    micello:
                      account_key: string
                      default_level_id: 0
                      map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    snap_to_path: true
                  wayfinding_path:
                    coordinate: string
                    nodes:
                      - edges:
                          N2: string
                        name: string
                        position:
                          x: 0
                          y: 0
                  width: 0
            schema:
              $ref: "#/components/schemas/map"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Map"
      summary: createInstallerMap
      tags:
        - Installer
    put:
      description: Update map
      operationId: updateInstallerMap
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/map"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Map"
      summary: updateInstallerMap
      tags:
        - Installer
  "/api/v1/installer/sites/{site_name}/optimize":
    get:
      description: After installation is considered complete (APs are placed on maps, all powered up), you can trigger an optimize operation where RRM will kick in (and maybe other things in the future) before it’s automatically scheduled.
      operationId: optimizeInstallerRrm
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: optimizeInstallerRrm
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/site_name"
  "/api/v1/invite/verify/{token}":
    parameters:
      - $ref: "#/components/parameters/token"
    post:
      description: "NOTE: another call to ```GET /api/v1/self``` is required to see the new set of privileges"
      operationId: verifyAdminInvite
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "404":
          content:
            application/json:
              examples:
                invalid secret:
                  value:
                    detail: invalid secret
                invite created by self:
                  value:
                    detail: invite created by self
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not Found
      summary: verifyAdminInvite
      tags:
        - Admin
  /api/v1/login:
    post:
      description: Log in with email/password
      operationId: login
      requestBody:
        content:
          application/json:
            examples:
              with 2FA:
                value:
                  email: string
                  password: string
                  two_factor: string
              without 2FA:
                value:
                  email: string
                  password: string
            schema:
              properties:
                email:
                  type: string
                password:
                  type: string
                two_factor:
                  type: string
              required:
                - email
                - password
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                2FA Required:
                  value:
                    email: test@mistsys.com
                    two_factor_passed: false
                    two_factor_required: true
                OK:
                  value: {}
              schema:
                properties:
                  email:
                    type: string
                  two_factor_passed:
                    type: boolean
                  two_factor_required:
                    type: boolean
                type: object
          description: Login Success
          headers:
            Set-Cookie:
              description: Session Cookie if login/password authentication is successful
              schema:
                example: csrftoken=vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx; expires=Tue, 15-Mar-2016 19:47:20 GMT; Max-Age=31449600; Path=/
                type: string
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    detail: sso admin login needs to be initiated by IdP
                    forward_url: https://my.sso/idp_sso_url
              schema:
                oneOf:
                  - properties:
                      detail:
                        type: string
                      forward_url:
                        type: string
                    required:
                      - detail
                    type: object
          description: Login Failed
      summary: login
      tags:
        - Login
  /api/v1/login/lookup:
    post:
      description: Login Lookup
      operationId: lookup
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  email: test@mistsys.com
            schema:
              $ref: "#/components/schemas/Model_object_email"
        description: Request Body
      responses:
        "200":
          content:
            application/json:
              examples:
                SSO user exists:
                  value:
                    sso_url: https://my.sso/idp_sso_url
                local user exists:
                  value: {}
              schema:
                properties:
                  sso_url:
                    type: string
                type: object
          description: account exists
        "404":
          description: user does not exist
      summary: lookup
      tags:
        - Login
  "/api/v1/login/oauth/{provider}":
    delete:
      description: Unlink OAuth2 Provider
      operationId: unlinkOAuth2Provider
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: unlinkOAuth2Provider
      tags:
        - Login With OAuth2
    get:
      description: Obtain Authorization URL for Login
      operationId: getOAuth2AuthorizationUrlForLogin
      parameters:
        - in: query
          name: forward
          schema:
            example: http://manage.mist.com/oauth/callback.html
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    authorization_url: https://accounts.google.com/o/oauth2/v2/auth?.....
                    client_id: 173131512-mpbnju32.apps.googleusercontent.com
              schema:
                properties:
                  authorization_url:
                    type: string
                  client_id:
                    type: string
                required:
                  - client_id
                  - authorization_url
                type: object
          description: OK
      summary: getOAuth2AuthorizationUrlForLogin
      tags:
        - Login With OAuth2
    parameters:
      - in: path
        name: provider
        required: true
        schema:
          type: string
    post:
      description: Login via OAuth2
      operationId: loginOAuth2
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  code: 4/S9tegDeLkrYg0L9pWNXV4cgMVbbr3SR9t693A2kSHzw
            schema:
              properties:
                code:
                  type: string
              required:
                - code
              type: object
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: loginOAuth2
      tags:
        - Login With OAuth2
  /api/v1/login/two_factor:
    post:
      description: Send 2FA Code
      operationId: twoFactor
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  two_factor: "123456"
            schema:
              properties:
                two_factor:
                  type: string
              required:
                - two_factor
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: two_factor code is correct
          headers: {}
        "401":
          description: two_factor code is incorrect or the user hasn’t login yet
        "404":
          description: the user doesn’t have 2FA enabled
      summary: twoFactor
      tags:
        - Login With OAuth2
  /api/v1/logout:
    post:
      description: Logout
      operationId: logout
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    forward_url: https://my.sso/custom_logout_url
              schema:
                properties:
                  forward_url:
                    description: if configured in SSO as custom_logout_url
                    type: string
                type: object
          description: OK
      summary: logout
      tags:
        - Login
  "/api/v1/mobile/verify/{secret}":
    parameters:
      - $ref: "#/components/parameters/secret"
    post:
      description: Verify secret
      operationId: activateSdkInvite
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  device_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              $ref: "#/components/schemas/Model_object_device_id"
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    name: Macy's
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    secret: device-specific-secret
              schema:
                properties:
                  name:
                    type: string
                  org_id:
                    format: uuid
                    type: string
                  secret:
                    type: string
                required:
                  - name
                  - org_id
                  - secret
                type: object
          description: OK
      summary: activateSdkInvite
      tags:
        - Mobile
  /api/v1/msps:
    post:
      description: Create MSP account
      operationId: createMsp
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  name: MSP
            schema:
              $ref: "#/components/schemas/Model_object_name"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Msp"
      summary: createMsp
      tags:
        - Msps
  "/api/v1/msps/{msp_id}":
    delete:
      description: Deleting MSP removes the MSP and OrgGroup under the MSP as well as all privileges associated with them. It does not remove any Org or Admins
      operationId: deleteMsp
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: deleteMsp
      tags:
        - Msps
    parameters:
      - $ref: "#/components/parameters/msp_id"
    put:
      description: Update MSP
      operationId: updateMsp
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  name: MSP
            schema:
              $ref: "#/components/schemas/Model_object_name"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Msp"
      summary: updateMsp
      tags:
        - Msps
  "/api/v1/msps/{msp_id}/admins":
    get:
      description: Get MSP Admins
      operationId: getMspAdmins
      responses:
        "200":
          $ref: "#/components/responses/AdminsArray"
      summary: getMspAdmins
      tags:
        - Msps Admins
    parameters:
      - $ref: "#/components/parameters/msp_id"
  "/api/v1/msps/{msp_id}/admins/{admin_id}":
    delete:
      description: This removes all privileges this admin has against the MSP. This goes deep all the way to the sites
      operationId: revokeMspAdmin
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: revokeMspAdmin
      tags:
        - Msps Admins
    get:
      description: Get MSP Admins
      operationId: getMspAdmin
      responses:
        "200":
          $ref: "#/components/responses/Admin"
      summary: getMspAdmin
      tags:
        - Msps Admins
    parameters:
      - $ref: "#/components/parameters/msp_id"
      - $ref: "#/components/parameters/admin_id"
    put:
      description: Update MSP Admin
      operationId: updateMspAdmin
      requestBody:
        content:
          application/json:
            examples:
              example-2:
                value:
                  admin_id: 919c4da0-421a-479a-918d-df80e426d3bf
                  email: user@example.com
                  enable_two_factor: true
                  first_name: string
                  last_name: string
                  oauth_google: true
                  privileges:
                    - for_site: true
                      msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                        - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: string
                      scope: string
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                        - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  session_expiry: 0
                  tags:
                    - string
                  two_factor_verified: true
            schema:
              $ref: "#/components/schemas/admin"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Admin"
      summary: updateMspAdmin
      tags:
        - Msps Admins
  "/api/v1/msps/{msp_id}/inventory/{mac}":
    get:
      description: Get Inventoy By device MAC address
      operationId: getMspInventoryByMac
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    mac: 5c5b35000018
                    model: AP200
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    serial: FXLH2015150025
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    type: ap
              schema:
                properties:
                  for_site:
                    readOnly: true
                    type: boolean
                  mac:
                    readOnly: true
                    type: string
                  model:
                    readOnly: true
                    type: string
                  org_id:
                    format: uuid
                    readOnly: true
                    type: string
                  serial:
                    readOnly: true
                    type: string
                  site_id:
                    format: uuid
                    readOnly: true
                    type: string
                  type:
                    readOnly: true
                    type: string
                required:
                  - serial
                  - model
                  - type
                  - mac
                  - org_id
                  - site_id
                type: object
          description: OK
      summary: getMspInventoryByMac
      tags:
        - Msps Inventory
    parameters:
      - $ref: "#/components/parameters/msp_id"
      - $ref: "#/components/parameters/mac"
  "/api/v1/msps/{msp_id}/invites":
    parameters:
      - $ref: "#/components/parameters/msp_id"
    post:
      description: |-
        Invite MSP Admin

        Note: An email will also be sent to the user with a link to https://manage.mist.com/verify/invite?token=:token
      operationId: inviteMspAdmin
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  email: user@example.com
                  first_name: string
                  last_name: string
                  privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                        - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: string
                      scope: string
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                        - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              $ref: "#/components/schemas/admin"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Admin"
      summary: inviteMspAdmin
      tags:
        - Msps Invites
  "/api/v1/msps/{msp_id}/invites/{invite_id}":
    delete:
      description: Delete admin invite
      operationId: uninviteMspAdmin
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: uninviteMspAdmin
      tags:
        - Msps Invites
    parameters:
      - $ref: "#/components/parameters/msp_id"
      - $ref: "#/components/parameters/invite_id"
    put:
      description: Update MSP admin invite
      operationId: updateMspAdminInvite
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  email: user@example.com
                  first_name: string
                  last_name: string
                  privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                        - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: string
                      scope: string
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                        - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              $ref: "#/components/schemas/admin"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Admin"
      summary: updateMspAdminInvite
      tags:
        - Msps Invites
  "/api/v1/msps/{msp_id}/orggroups":
    get:
      description: Get MSP Org Groups
      operationId: getMspOrgGroups
      responses:
        "200":
          $ref: "#/components/responses/OrggroupsArray"
      summary: getMspOrgGroups
      tags:
        - Msps Org Groups
    parameters:
      - $ref: "#/components/parameters/msp_id"
    post:
      description: Create MSP Org Group
      operationId: createMspOrgGroup
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  name: string
                  org_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              $ref: "#/components/schemas/orggroup"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Orggroup"
      summary: createMspOrgGroup
      tags:
        - Msps Org Groups
  "/api/v1/msps/{msp_id}/orggroups/{orggroup_id}":
    delete:
      description: Delete MSP Org Group
      operationId: deleteMspOrgGroup
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: deleteMspOrgGroup
      tags:
        - Msps Org Groups
    get:
      description: Get MSP Org Group Details
      operationId: getMspOrgGroup
      responses:
        "200":
          $ref: "#/components/responses/Orggroup"
      summary: getMspOrgGroup
      tags:
        - Msps Org Groups
    parameters:
      - $ref: "#/components/parameters/msp_id"
      - $ref: "#/components/parameters/orggroup_id"
    put:
      description: Update MSP Org Group
      operationId: updateMspOrgGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/orggroup"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Orggroup"
      summary: updateMspOrgGroup
      tags:
        - Msps Org Groups
  "/api/v1/msps/{msp_id}/orgs":
    get:
      description: Get MSP Orgs
      operationId: getMspOrgs
      responses:
        "200":
          $ref: "#/components/responses/OrgsArray"
      summary: getMspOrgs
      tags:
        - Msps Orgs
    parameters:
      - $ref: "#/components/parameters/msp_id"
    post:
      description: Create an Org under MSP
      operationId: createMspOrg
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  allow_mist: true
                  name: string
                  orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  session_expiry: 10
            schema:
              $ref: "#/components/schemas/org"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Org"
      summary: createMspOrg
      tags:
        - Msps Orgs
    put:
      description: Assign or Unassign Orgs to an MSP account
      operationId: manageMspOrgs
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  op: assign
                  org_ids:
                    - 2b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              properties:
                op:
                  enum:
                    - assign
                    - unassign
                  type: string
                org_ids:
                  description: list of org_id
                  items:
                    type: string
                  type: array
              required:
                - op
                - org_ids
              type: object
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: manageMspOrgs
      tags:
        - Msps Orgs
  "/api/v1/msps/{msp_id}/orgs/search":
    get:
      description: Search Org in MSP
      operationId: searchMspOrgs
      parameters:
        - $ref: "#/components/parameters/name"
        - description: org id
          in: query
          name: org_id
          schema:
            format: uuid
            type: string
        - description: if this org has sufficient subscription
          in: query
          name: sub_insufficient
          schema:
            type: boolean
        - description: if this org is under trial period
          in: query
          name: trial_enabled
          schema:
            type: boolean
        - description: a list of types that enabled by usage
          in: query
          name: usage_types
          schema:
            items: {}
            type: array
      responses:
        "200":
          $ref: "#/components/responses/OrgsSearch"
      summary: searchMspOrgs
      tags:
        - Msps Orgs
    parameters:
      - $ref: "#/components/parameters/msp_id"
  "/api/v1/msps/{msp_id}/orgs/{org_id}":
    get:
      description: Get MSP Org Details
      operationId: getMspOrg
      responses:
        "200":
          $ref: "#/components/responses/Org"
      summary: getMspOrg
      tags:
        - Msps Orgs
    parameters:
      - $ref: "#/components/parameters/msp_id"
      - $ref: "#/components/parameters/org_id"
  "/api/v1/msps/{msp_id}/search":
    get:
      description: Search in MSP Orgs
      operationId: searchMspOrgGroup
      parameters:
        - description: orgs
          example: orgs
          in: query
          name: type
          required: true
          schema:
            enum:
              - orgs
            type: string
        - $ref: "#/components/parameters/q"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/duration"
      responses:
        "200":
          $ref: "#/components/responses/OrggroupsSearch"
      summary: searchMspOrgGroup
      tags:
        - Msps Search
    parameters:
      - $ref: "#/components/parameters/msp_id"
  "/api/v1/msps/{msp_id}/ssoroles":
    get:
      description: Get MSP SSO Roles
      operationId: getMspSsoRoles
      responses:
        "200":
          $ref: "#/components/responses/SsorolesArray"
      summary: getMspSsoRoles
      tags:
        - Msps SSO Roles
    parameters:
      - $ref: "#/components/parameters/msp_id"
    post:
      description: Create MSP Role
      operationId: createMspSsoRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ssorole"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Ssorole"
      summary: createMspSsoRole
      tags:
        - Msps SSO Roles
  "/api/v1/msps/{msp_id}/ssoroles/{ssorole_id}":
    delete:
      description: Delete MSP SSO Roles
      operationId: deleteMspSsoRoles
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: deleteMspSsoRoles
      tags:
        - Msps SSO Roles
    parameters:
      - $ref: "#/components/parameters/msp_id"
      - $ref: "#/components/parameters/ssorole_id"
    put:
      description: Update SSO Role
      operationId: updateMspSsoRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ssorole"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Ssorole"
      summary: updateMspSsoRole
      tags:
        - Msps SSO Roles
  "/api/v1/msps/{msp_id}/ssos":
    get:
      description: Get MSP SSO Config
      operationId: getMspSso
      responses:
        "200":
          $ref: "#/components/responses/SsosArray"
      summary: getMspSso
      tags:
        - Msps SSO
    parameters:
      - $ref: "#/components/parameters/msp_id"
    post:
      description: Create MSP SSO profile
      operationId: createMspSso
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/sso"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Sso"
      summary: createMspSso
      tags:
        - Msps SSO
  "/api/v1/msps/{msp_id}/ssos/{sso_id}":
    delete:
      description: Delete MSP SSO Config
      operationId: deleteMspSso
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: deleteMspSso
      tags:
        - Msps SSO
    parameters:
      - $ref: "#/components/parameters/msp_id"
      - $ref: "#/components/parameters/sso_id"
    put:
      description: Update MSP SSO config
      operationId: updateMspSso
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  custom_logout_url: string
                  idp_cert: string
                  idp_sign_algo: string
                  idp_sso_url: string
                  ignore_unmatched_roles: true
                  issuer: string
                  name: string
                  nameid_format: email
            schema:
              $ref: "#/components/schemas/sso"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Sso"
      summary: updateMspSso
      tags:
        - Msps SSO
  "/api/v1/msps/{msp_id}/ssos/{sso_id}/failures":
    get:
      description: Get MSP SSO Latest Failures
      operationId: getMspSsoLatestFailures
      responses:
        "200":
          $ref: "#/components/responses/SsoLatestFailures"
      summary: getMspSsoLatestFailures
      tags:
        - Msps SSO
    parameters:
      - $ref: "#/components/parameters/msp_id"
      - $ref: "#/components/parameters/sso_id"
  "/api/v1/msps/{msp_id}/ssos/{sso_id}/metadata":
    get:
      description: Get MSP SSO SAML Metadata
      operationId: getMspSsoSamlMetadata
      responses:
        "200":
          $ref: "#/components/responses/SsoSamlMetadata"
      summary: getMspSsoSamlMetadata
      tags:
        - Msps SSO
    parameters:
      - $ref: "#/components/parameters/msp_id"
      - $ref: "#/components/parameters/sso_id"
  "/api/v1/msps/{msp_id}/ssos/{sso_id}/metadata.xml":
    get:
      description: Download MSP SSO SAML Metadata
      operationId: downloadMspSsoSamlMetadata
      responses:
        "200":
          $ref: "#/components/responses/File"
      summary: downloadMspSsoSamlMetadata
      tags:
        - Msps SSO
    parameters:
      - $ref: "#/components/parameters/msp_id"
      - $ref: "#/components/parameters/sso_id"
  "/api/v1/msps/{msp_id}/stats/licenses":
    get:
      description: Get MSP Licences
      operationId: getMspOrgLicenses
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Licence"
      summary: createMsp
      tags:
        - Msps Stats
    parameters:
      - $ref: "#/components/parameters/msp_id"
  "/api/v1/msps/{msp_id}/stats/orgs":
    get:
      description: Get MSP Orgs Stats
      operationId: getMspOrgStats
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          $ref: "#/components/responses/OrgsArrayStats"
      summary: getMspOrgStats
      tags:
        - Msps Stats
    parameters:
      - $ref: "#/components/parameters/msp_id"
  "/api/v1/or/{org_id}/clients/events/search":
    get:
      description: Get Org Clients Events
      operationId: searchOrgClientEvents
      parameters:
        - description: event type, e.g. MARVIS_EVENT_CLIENT_FBT_FAILURE
          in: query
          name: type
          schema:
            type: string
        - description: for assoc/disassoc events
          in: query
          name: reason_code
          schema:
            type: integer
        - description: SSID Name
          in: query
          name: ssid
          schema:
            type: string
        - description: AP MAC
          in: query
          name: ap
          schema:
            type: string
        - description: 802.11 standard
          in: query
          name: proto
          schema:
            enum:
              - b
              - g
              - n
              - ac
              - ax
              - a
            type: string
        - description: 24 / 5
          in: query
          name: band
          schema:
            enum:
              - "24"
              - "5"
            type: string
        - description: wlan_id
          in: query
          name: wlan_id
          schema:
            type: string
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/duration"
      responses:
        "200":
          $ref: "#/components/responses/EventsSearch"
      summary: searchOrgClientEvents
      tags:
        - Orgs Clients
    parameters:
      - $ref: "#/components/parameters/org_id"
  /api/v1/orgs:
    post:
      description: Org admin can invite people to manage the org. Furthermore, he can dictate the level of security those accounts are. The check is enforced when the invited admin tries to “accept” the invitation and every time the admin tries to login
      operationId: createOrg
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  allow_mist: true
                  msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  name: string
                  orggroup_ids:
                    - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                  session_expiry: 0
            schema:
              $ref: "#/components/schemas/org"
      responses:
        "200":
          $ref: "#/components/responses/Org"
      summary: createOrg
      tags:
        - Orgs
  "/api/v1/orgs/{org_id}":
    delete:
      description: Delete Org
      operationId: deleteOrg
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: deleteOrg
      tags:
        - Orgs
    get:
      description: Get Organization information
      operationId: getOrgInfo
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    allow_mist: true
                    created_time: 0
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    modified_time: 0
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    msp_name: string
                    name: string
                    orggroup_ids:
                      - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    session_expiry: 0
              schema:
                $ref: "#/components/schemas/org_info"
          description: OK
      summary: getOrg
      tags:
        - Orgs
    parameters:
      - $ref: "#/components/parameters/org_id"
    put:
      description: Update Org
      operationId: updateOrg
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/org"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Org"
      summary: updateOrg
      tags:
        - Orgs
  "/api/v1/orgs/{org_id}/128routers/register_cmd":
    get:
      description: 128T devices can be managed/adopted by Mist.
      operationId: getOrg128TRegistrationCommands
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    conductor_cmd: register mist eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmdfaWQiOiIyODE4ZTM4Ni04ZGVjLTI1NjItOWVkZS01YjhhMGZiYmRjNzEiLCJzdmMiOiIxMjhyb3V0ZXIiLCJwcm92aWRlciI6ImF3cyIsImVudiI6ImxvY2FsIiwiZXB0ZXJtX3VybCI6IndzczovL2xvY2FsL3dzIiwiaWF0IjoxNjEzODQ3NDg0LCJleHAiOjE2NDUzODM0ODR9.YnhgThKYAj1uaooi6j-zY8dMipp5YqJxnn79B9TB5XQ
                    registration_code: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmdfaWQiOiIyODE4ZTM4Ni04ZGVjLTI1NjItOWVkZS01YjhhMGZiYmRjNzEiLCJzdmMiOiIxMjhyb3V0ZXIiLCJwcm92aWRlciI6ImF3cyIsImVudiI6ImxvY2FsIiwiZXB0ZXJtX3VybCI6IndzczovL2xvY2FsL3dzIiwiaWF0IjoxNjEzODQ3NDg0LCJleHAiOjE2NDUzODM0ODR9.YnhgThKYAj1uaooi6j-zY8dMipp5YqJxnn79B9TB5XQ
                    router_shell_cmd: 128agent register --registration-code eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmdfaWQiOiIyODE4ZTM4Ni04ZGVjLTI1NjItOWVkZS01YjhhMGZiYmRjNzEiLCJzdmMiOiIxMjhyb3V0ZXIiLCJwcm92aWRlciI6ImF3cyIsImVudiI6ImxvY2FsIiwiZXB0ZXJtX3VybCI6IndzczovL2xvY2FsL3dzIiwiaWF0IjoxNjEzODQ3NDg0LCJleHAiOjE2NDUzODM0ODR9.YnhgThKYAj1uaooi6j-zY8dMipp5YqJxnn79B9TB5XQ
              schema:
                properties:
                  conductor_cmd:
                    type: string
                  registration_code:
                    type: string
                  router_shell_cmd:
                    type: string
                type: object
          description: OK
      summary: getOrg128TRegistrationCommands
      tags:
        - Orgs 128T
    parameters:
      - $ref: "#/components/parameters/org_id"
  "/api/v1/orgs/{org_id}/admins":
    get:
      description: Get a list of people who can manage the Site/Org under the Org
      operationId: getOrgAdmins
      responses:
        "200":
          $ref: "#/components/responses/AdminsArray"
      summary: getOrgAdmins
      tags:
        - Orgs Admins
    parameters:
      - $ref: "#/components/parameters/org_id"
  "/api/v1/orgs/{org_id}/admins/{admin_id}":
    delete:
      description: This removes all privileges this admin has against the org
      operationId: revokeOrgAdmin
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: revokeOrgAdmin
      tags:
        - Orgs Admins
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/admin_id"
    put:
      description: Invite Org Admin
      operationId: updateOrgAdmin
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  email: user@example.com
                  expire_time: 0
                  first_name: string
                  invite_id: string
                  last_name: string
                  privileges:
                    - role: string
                      scope: string
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              $ref: "#/components/schemas/admin"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Admin"
      summary: updateOrgAdmin
      tags:
        - Orgs Admins
  "/api/v1/orgs/{org_id}/alarms/count":
    get:
      description: Count Org Alarms
      operationId: countOrgAlarms
      parameters:
        - in: query
          name: distinct
          schema:
            type: string
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/duration"
      responses:
        "200":
          $ref: "#/components/responses/count"
      summary: countOrgAlarms
      tags:
        - Orgs Alarms
    parameters:
      - $ref: "#/components/parameters/org_id"
  "/api/v1/orgs/{org_id}/alarms/search":
    get:
      description: Search Org Alarms
      operationId: searchOrgAlarms
      parameters:
        - in: query
          name: type
          schema:
            type: string
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/duration"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          $ref: "#/components/responses/AlarmsSearch"
      summary: searchOrgAlarms
      tags:
        - Orgs Alarms
    parameters:
      - $ref: "#/components/parameters/org_id"
  "/api/v1/orgs/{org_id}/alarmtemplates":
    get:
      description: Get Org Alarm Templates
      operationId: getOrgAlarmTemplates
      responses:
        "200":
          $ref: "#/components/responses/AlarmtemplatesArray"
      summary: getOrgAlarmTemplates
      tags:
        - Orgs Alarm Templates
    parameters:
      - $ref: "#/components/parameters/org_id"
    post:
      description: |-
        Available rules can be found in Orgs>Consts>getAlarmDefs

        The delivery dict is only required if different from the template delivery settings.
      operationId: createOrgAlarmTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/alarmtemplate"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Alarmtemplate"
      summary: createOrgAlarmTemplate
      tags:
        - Orgs Alarm Templates
  "/api/v1/orgs/{org_id}/alarmtemplates/suppress":
    parameters:
      - $ref: "#/components/parameters/org_id"
    post:
      description: In certain situations, for example, scheduled maintanance, you may want to suspend alarms to be triggered for a period of time.
      operationId: suppressOrgAlarm
      requestBody:
        content:
          application/json:
            schema:
              description: ""
              properties:
                applies:
                  description: Object defines the scope (within the org e.g. whole org, and/or some site-groups, and/or some sites) for which the alarm service has to be suppressed for some `duration`
                  properties:
                    org_id:
                      description: UUID of the current org (if provided, the alarms will be suppressed at org level)
                      format: uuid
                      minLength: 1
                      type: string
                    site_ids:
                      description: List of UUID of the sites within the org (if provided, the alarms will be suppressed for all the mentioned sites under the org)
                      items:
                        format: uuid
                        type: string
                      type: array
                    sitegroup_ids:
                      description: List of UUID of the site groups within the org (if provided, the alarms will be suppressed for all the sites under those site groups)
                      items:
                        format: uuid
                        type: string
                      type: array
                  required:
                    - org_id
                    - sitegroup_ids
                    - site_ids
                  type: object
                duration:
                  default: 60
                  description: duration, in seconds
                  maximum: 86400
                  minimum: 0
                  type: number
              required:
                - applies
              type: object
              x-examples:
                example-1:
                  applies:
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    site_ids:
                      - 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    sitegroup_ids:
                      - 581328b6-e382-f54e-c9dc-999983183a34
                      - f57096b9-0c2f-4df6-c77b-ae6ae87a3d43
                  duration: 60
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: suppressOrgAlarm
      tags:
        - Orgs Alarm Templates
  "/api/v1/orgs/{org_id}/alarmtemplates/{alarmtemplate_id}":
    delete:
      description: Delete Org Alarm Template
      operationId: deleteOrgAlarmTemplate
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: deleteOrgAlarmTemplate
      tags:
        - Orgs Alarm Templates
    get:
      description: Get Org Alarm Template Details
      operationId: getOrgAlarmTemplate
      responses:
        "200":
          $ref: "#/components/responses/Alarmtemplate"
      summary: getOrgAlarmTemplate
      tags:
        - Orgs Alarm Templates
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/alarmtemplate_id"
    put:
      description: Update Org Alarm Template
      operationId: updateOrgAlarmTemplate
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  delivery:
                    additional_emails:
                      - string
                    enabled: true
                    to_org_admins: true
                    to_site_admins: true
                  name: string
                  rules:
                    adhoc_network:
                      delivery:
                        additional_emails:
                          - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    air_magnet_scan:
                      delivery:
                        additional_emails:
                          - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    ap_offline:
                      delivery:
                        additional_emails:
                          - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    bad_cable:
                      delivery:
                        additional_emails:
                          - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    beacon_flood:
                      delivery:
                        additional_emails:
                          - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    bssid_spoofing:
                      delivery:
                        additional_emails:
                          - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    device_down:
                      delivery:
                        additional_emails:
                          - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    device_restarted:
                      delivery:
                        additional_emails:
                          - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    dhcp_failure:
                      delivery:
                        additional_emails:
                          - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    disassociation_flood:
                      delivery:
                        additional_emails:
                          - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    dot1x_failure:
                      delivery:
                        additional_emails:
                          - string
                        enabled: true
[...]
