swagger: '2.0'
info:
  version: '2019-11-07'
  x-release: v4
  title: Amazon Augmented AI Runtime
  description: '<p>Amazon Augmented AI (Augmented AI) (Preview) is a service that adds human judgment to any machine learning application. Human reviewers can take over when an AI application can''t evaluate data with a high degree of confidence.</p> <p>From fraudulent bank transaction identification to document processing to image analysis, machine learning models can be trained to make decisions as well as or better than a human. Nevertheless, some decisions require contextual interpretation, such as when you need to decide whether an image is appropriate for a given audience. Content moderation guidelines are nuanced and highly dependent on context, and they vary between countries. When trying to apply AI in these situations, you can be forced to choose between "ML only" systems with unacceptably high error rates or "human only" systems that are expensive and difficult to scale, and that slow down decision making.</p> <p>This API reference includes information about API actions and data types you can use to interact with Augmented AI programmatically. </p> <p>You can create a flow definition against the Augmented AI API. Provide the Amazon Resource Name (ARN) of a flow definition to integrate AI service APIs, such as <code>Textract.AnalyzeDocument</code> and <code>Rekognition.DetectModerationLabels</code>. These AI services, in turn, invoke the <a>StartHumanLoop</a> API, which evaluates conditions under which humans will be invoked. If humans are required, Augmented AI creates a human loop. Results of human work are available asynchronously in Amazon Simple Storage Service (Amazon S3). You can use Amazon CloudWatch Events to detect human work results.</p> <p>You can find additional Augmented AI API documentation in the following reference guides: <a href="https://aws.amazon.com/rekognition/latest/dg/API_Reference.html">Amazon Rekognition</a>, <a href="https://aws.amazon.com/sagemaker/latest/dg/API_Reference.html">Amazon SageMaker</a>, and <a href="https://aws.amazon.com/textract/latest/dg/API_Reference.html">Amazon Textract</a>.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: sagemaker-a2i-runtime
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/sagemaker-a2i-runtime-2019-11-07.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/sagemaker/'
host: a2i-runtime.sagemaker.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://a2i-runtime.sagemaker.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon Augmented AI Runtime multi-region endpoint
  - url: 'https://a2i-runtime.sagemaker.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon Augmented AI Runtime multi-region endpoint
  - url: 'http://a2i-runtime.sagemaker.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon Augmented AI Runtime endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://a2i-runtime.sagemaker.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon Augmented AI Runtime endpoint for China (Beijing) and China (Ningxia)
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/human-loops/{HumanLoopName}':
    delete:
      operationId: DeleteHumanLoop
      description: Deletes the specified human loop for a flow definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteHumanLoopResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: HumanLoopName
          in: path
          required: true
          description: The name of the human loop you want to delete.
          type: string
          pattern: '^[a-z0-9](-*[a-z0-9])*$'
          minLength: 1
          maxLength: 63
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeHumanLoop
      description: Returns information about the specified human loop.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeHumanLoopResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: HumanLoopName
          in: path
          required: true
          description: The name of the human loop.
          type: string
          pattern: '^[a-z0-9](-*[a-z0-9])*$'
          minLength: 1
          maxLength: 63
  /human-loops:
    get:
      operationId: ListHumanLoops
      description: 'Returns information about human loops, given the specified parameters.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListHumanLoopsResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: CreationTimeAfter
          in: query
          required: false
          description: '(Optional) The timestamp of the date when you want the human loops to begin. For example, <code>1551000000</code>.'
          type: string
          format: date-time
        - name: CreationTimeBefore
          in: query
          required: false
          description: '(Optional) The timestamp of the date before which you want the human loops to begin. For example, <code>1550000000</code>.'
          type: string
          format: date-time
        - name: SortOrder
          in: query
          required: false
          description: An optional value that specifies whether you want the results sorted in <code>Ascending</code> or <code>Descending</code> order.
          type: string
          enum:
            - Ascending
            - Descending
        - name: NextToken
          in: query
          required: false
          description: A token to resume pagination.
          type: string
          pattern: .*
          maxLength: 8192
        - name: MaxResults
          in: query
          required: false
          description: 'The total number of items to return. If the total number of available items is more than the value specified in <code>MaxResults</code>, then a <code>NextToken</code> will be provided in the output that you can use to resume pagination.'
          type: integer
          minimum: 1
          maximum: 100
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      operationId: StartHumanLoop
      description: 'Starts a human loop, provided that at least one activation condition is met.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartHumanLoopResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: ServiceQuotaExceededException
          schema:
            $ref: '#/definitions/ServiceQuotaExceededException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - HumanLoopName
              - FlowDefinitionArn
              - HumanLoopInput
              - DataAttributes
            properties:
              HumanLoopName:
                description: The name of the human loop.
                type: string
                pattern: '^[a-z0-9](-*[a-z0-9])*$'
                minLength: 1
                maxLength: 63
              FlowDefinitionArn:
                description: The Amazon Resource Name (ARN) of the flow definition.
                type: string
                pattern: 'arn:aws[a-z\-]*:sagemaker:[a-z0-9\-]*:[0-9]{12}:flow-definition/.*'
                maxLength: 1024
              HumanLoopInput:
                description: An object containing the input.
                type: object
                properties:
                  InputContent:
                    $ref: '#/definitions/InputContent'
                    description: Serialized input from the human loop.
              DataAttributes:
                description: Attributes of the data specified by the customer. Use these to describe the data to be labeled.
                type: object
                properties:
                  ContentClassifiers:
                    $ref: '#/definitions/ContentClassifiers'
                    description: Declares that your content is free of personally identifiable information or adult content. Amazon SageMaker may restrict the Amazon Mechanical Turk workers that can view your task based on this information.
  /human-loops/stop:
    post:
      operationId: StopHumanLoop
      description: Stops the specified human loop.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopHumanLoopResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - HumanLoopName
            properties:
              HumanLoopName:
                description: The name of the human loop you want to stop.
                type: string
                pattern: '^[a-z0-9](-*[a-z0-9])*$'
                minLength: 1
                maxLength: 63
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  DeleteHumanLoopResponse:
    type: object
    properties: {}
  ValidationException: {}
  ResourceNotFoundException: {}
  ThrottlingException: {}
  InternalServerException: {}
  DescribeHumanLoopResponse:
    type: object
    required:
      - CreationTimestamp
      - HumanLoopStatus
      - HumanLoopName
      - HumanLoopArn
      - FlowDefinitionArn
      - HumanLoopInput
    properties:
      CreationTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The timestamp when Amazon Augmented AI created the human loop.
      FailureReason:
        $ref: '#/definitions/String'
        description: The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.
      FailureCode:
        $ref: '#/definitions/String'
        description: A failure code denoting a specific type of failure.
      HumanLoopStatus:
        $ref: '#/definitions/HumanLoopStatus'
        description: 'The status of the human loop. Valid values:'
      HumanLoopName:
        $ref: '#/definitions/HumanLoopName'
        description: The name of the human loop.
      HumanLoopArn:
        $ref: '#/definitions/HumanLoopArn'
        description: The Amazon Resource Name (ARN) of the human loop.
      FlowDefinitionArn:
        $ref: '#/definitions/FlowDefinitionArn'
        description: The Amazon Resource Name (ARN) of the flow definition.
      HumanLoopInput:
        $ref: '#/definitions/HumanLoopInputContent'
        description: An object containing information about the human loop input.
      HumanLoopOutput:
        $ref: '#/definitions/HumanLoopOutputContent'
        description: An object containing information about the output of the human loop.
  ListHumanLoopsResponse:
    type: object
    required:
      - HumanLoopSummaries
    properties:
      HumanLoopSummaries:
        $ref: '#/definitions/HumanLoopSummaries'
        description: An array of objects containing information about the human loops.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: A token to resume pagination.
  StartHumanLoopResponse:
    type: object
    properties:
      HumanLoopArn:
        $ref: '#/definitions/HumanLoopArn'
        description: The Amazon Resource Name (ARN) of the human loop.
      HumanLoopActivationResults:
        $ref: '#/definitions/HumanLoopActivationResults'
        description: An object containing information about the human loop activation.
  InputContent:
    type: string
    maxLength: 4194304
  ContentClassifiers:
    type: array
    items:
      $ref: '#/definitions/ContentClassifier'
    maxItems: 256
  ServiceQuotaExceededException: {}
  StopHumanLoopResponse:
    type: object
    properties: {}
  Boolean:
    type: boolean
  ContentClassifier:
    type: string
    enum:
      - FreeOfPersonallyIdentifiableInformation
      - FreeOfAdultContent
  HumanLoopName:
    type: string
    pattern: '^[a-z0-9](-*[a-z0-9])*$'
    minLength: 1
    maxLength: 63
  DeleteHumanLoopRequest:
    type: object
    properties: {}
  DescribeHumanLoopRequest:
    type: object
    properties: {}
  Timestamp:
    type: string
    format: date-time
  String:
    type: string
  HumanLoopStatus:
    type: string
    enum:
      - InProgress
      - Failed
      - Completed
      - Stopped
      - Stopping
  HumanLoopArn:
    type: string
    pattern: 'arn:aws[a-z\-]*:sagemaker:[a-z0-9\-]*:[0-9]{12}:human-loop/.*'
    maxLength: 1024
  FlowDefinitionArn:
    type: string
    pattern: 'arn:aws[a-z\-]*:sagemaker:[a-z0-9\-]*:[0-9]{12}:flow-definition/.*'
    maxLength: 1024
  HumanLoopInputContent:
    type: object
    required:
      - InputContent
    properties:
      InputContent:
        $ref: '#/definitions/InputContent'
        description: Serialized input from the human loop.
    description: An object containing the input.
  HumanLoopOutputContent:
    type: object
    required:
      - OutputS3Uri
    properties:
      OutputS3Uri:
        $ref: '#/definitions/String'
        description: 'The location of the Amazon S3 object where Amazon Augmented AI stores your human loop output. The output is stored at the following location: <code>s3://S3OutputPath/HumanLoopName/CreationTime/output.json</code>.'
    description: Information about where the human output will be stored.
  FailureReason:
    type: string
    maxLength: 1024
  HumanLoopActivationReason:
    type: object
    properties:
      ConditionsMatched:
        $ref: '#/definitions/Boolean'
        description: True if the specified conditions were matched to trigger the human loop.
    description: 'Contains information about why a human loop was triggered. If at least one activation reason is evaluated to be true, the human loop is activated.'
  HumanLoopActivationResults:
    type: object
    properties:
      HumanLoopActivationReason:
        $ref: '#/definitions/HumanLoopActivationReason'
        description: An object containing information about why a human loop was triggered.
      HumanLoopActivationConditionsEvaluationResults:
        $ref: '#/definitions/String'
        description: 'A copy of the human loop activation conditions of the flow definition, augmented with the results of evaluating those conditions on the input provided to the <code>StartHumanLoop</code> operation.'
    description: Information about the corresponding flow definition's human loop activation condition evaluation. Null if <code>StartHumanLoop</code> was invoked directly.
  HumanLoopSummary:
    type: object
    properties:
      HumanLoopName:
        $ref: '#/definitions/HumanLoopName'
        description: The name of the human loop.
      HumanLoopStatus:
        $ref: '#/definitions/HumanLoopStatus'
        description: 'The status of the human loop. Valid values:'
      CreationTime:
        $ref: '#/definitions/Timestamp'
        description: When Amazon Augmented AI created the human loop.
      FailureReason:
        $ref: '#/definitions/FailureReason'
        description: The reason why the human loop failed. A failure reason is returned only when the status of the human loop is <code>Failed</code>.
      FlowDefinitionArn:
        $ref: '#/definitions/FlowDefinitionArn'
        description: The Amazon Resource Name (ARN) of the flow definition.
    description: Summary information about the human loop.
  HumanLoopSummaries:
    type: array
    items:
      $ref: '#/definitions/HumanLoopSummary'
  HumanReviewDataAttributes:
    type: object
    required:
      - ContentClassifiers
    properties:
      ContentClassifiers:
        $ref: '#/definitions/ContentClassifiers'
        description: Declares that your content is free of personally identifiable information or adult content. Amazon SageMaker may restrict the Amazon Mechanical Turk workers that can view your task based on this information.
    description: Attributes of the data specified by the customer. Use these to describe the data to be labeled.
  SortOrder:
    type: string
    enum:
      - Ascending
      - Descending
  NextToken:
    type: string
    pattern: .*
    maxLength: 8192
  MaxResults:
    type: integer
    minimum: 1
    maximum: 100
  ListHumanLoopsRequest:
    type: object
    properties: {}
  StartHumanLoopRequest:
    type: object
    required:
      - HumanLoopName
      - FlowDefinitionArn
      - HumanLoopInput
    properties:
      HumanLoopName:
        $ref: '#/definitions/HumanLoopName'
        description: The name of the human loop.
      FlowDefinitionArn:
        $ref: '#/definitions/FlowDefinitionArn'
        description: The Amazon Resource Name (ARN) of the flow definition.
      HumanLoopInput:
        $ref: '#/definitions/HumanLoopInputContent'
        description: An object containing information about the human loop.
      DataAttributes:
        $ref: '#/definitions/HumanReviewDataAttributes'
        description: Attributes of the data specified by the customer.
  StopHumanLoopRequest:
    type: object
    required:
      - HumanLoopName
    properties:
      HumanLoopName:
        $ref: '#/definitions/HumanLoopName'
        description: The name of the human loop you want to stop.
