openapi: 3.0.0
servers:
  - url: 'https://mandrillapp.com/api/'
info:
  description: |
    Mandrill is a reliable, scalable, and secure delivery API for transactional emails from websites and applications. It's ideal for sending data-driven transactional emails, including targeted e-commerce and personalized one-to-one messages.
  title: Mandrill
  version: '1.0'
  x-apisguru-categories:
    - email
    - marketing
  x-logo:
    url: 'http://mandrill.com/assets/images/brand/logo-vertical-light-735b5657.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/mandrillapp.com/1.0/swagger.yaml'
      version: '2.0'
  x-providerName: mandrillapp.com
  x-unofficialSpec: true
externalDocs:
  url: 'https://mandrillapp.com/api/docs/'
paths:
  /exports/activity.json:
    post:
      description: 'Begins an export of your activity history. The activity will be exported to a zip archive containing a single file named activity.csv in the same format as you would be able to export from your account''s activity view. It includes the following fields: Date, Email Address, Sender, Subject, Status, Tags, Opens, Clicks, Bounce Detail. If you have configured any custom metadata fields, they will be included in the exported data.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/exports_satus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exports_activity'
        required: true
  /exports/info.json:
    post:
      description: 'Returns information about an export job. If the export job''s state is ''complete'', the returned data will include a URL you can use to fetch the results. Every export job produces a zip archive, but the format of the archive is distinct for each job type. The api calls that initiate exports include more details about the output format for that job type.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/exports_info-response'
      requestBody:
        $ref: '#/components/requestBodies/id'
  /exports/list.json:
    post:
      description: Returns a list of your exports.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/exports_list-response'
      requestBody:
        $ref: '#/components/requestBodies/api_key'
  /exports/rejects.json:
    post:
      description: 'Begins an export of your rejection blacklist. The blacklist will be exported to a zip archive containing a single file named rejects.csv that includes the following fields: email, reason, detail, created_at, expires_at, last_event_at, expires_at.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/exports_satus'
      requestBody:
        $ref: '#/components/requestBodies/notify_email'
  /exports/whitelist.json:
    post:
      description: 'Begins an export of your rejection whitelist. The whitelist will be exported to a zip archive containing a single file named whitelist.csv that includes the following fields: email, detail, created_at.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/exports_satus'
      requestBody:
        $ref: '#/components/requestBodies/notify_email'
  /inbound/add-domain.json:
    post:
      description: Add an inbound domain to your account
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inbound_info'
      requestBody:
        $ref: '#/components/requestBodies/domain'
  /inbound/add-route.json:
    post:
      description: Add a new mailbox route to an inbound domain
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/route'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inbound_add-route'
        required: true
  /inbound/check-domain.json:
    post:
      description: Check the MX settings for an inbound domain. The domain must have already been added with the add-domain call
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inbound_info'
      requestBody:
        $ref: '#/components/requestBodies/domain'
  /inbound/delete-domain.json:
    post:
      description: Delete an inbound domain from the account. All mail will stop routing for this domain immediately.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inbound_info'
      requestBody:
        $ref: '#/components/requestBodies/domain'
  /inbound/delete-route.json:
    post:
      description: Delete an existing inbound mailbox route
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/route'
      requestBody:
        $ref: '#/components/requestBodies/id'
  /inbound/domains.json:
    post:
      description: List the domains that have been configured for inbound delivery
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inbound_domains-response'
      requestBody:
        $ref: '#/components/requestBodies/api_key'
  /inbound/routes.json:
    post:
      description: List the mailbox routes defined for an inbound domain
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inbound_routes-response'
      requestBody:
        $ref: '#/components/requestBodies/domain'
  /inbound/send-raw.json:
    post:
      description: 'Take a raw MIME document destined for a domain with inbound domains set up, and send it to the inbound hook exactly as if it had been sent over SMTP'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inbound_send-raw-response'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inbound_send-raw'
        required: true
  /inbound/update-route.json:
    post:
      description: 'Update the pattern or webhook of an existing inbound mailbox route. If null is provided for any fields, the values will remain unchanged.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/route'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inbound_update-route'
        required: true
  /ips/cancel-warmup.json:
    post:
      description: Cancels the warmup process for a dedicated IP.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ip_info'
      requestBody:
        $ref: '#/components/requestBodies/ip'
  /ips/check-custom-dns.json:
    post:
      description: Tests whether a domain name is valid for use as the custom reverse DNS for a dedicated IP.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_check-custom-dns-response'
      requestBody:
        $ref: '#/components/requestBodies/ip_domain'
  /ips/create-pool.json:
    post:
      description: 'Creates a pool and returns it. If a pool already exists with this name, no action will be performed.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_pool'
      requestBody:
        $ref: '#/components/requestBodies/ips_pool-key'
  /ips/delete-pool.json:
    post:
      description: 'Deletes a pool. A pool must be empty before you can delete it, and you cannot delete your default pool.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_delete-pool-response'
      requestBody:
        $ref: '#/components/requestBodies/ips_pool-key'
  /ips/delete.json:
    post:
      description: Deletes a dedicated IP. This is permanent and cannot be undone.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_delete-response'
      requestBody:
        $ref: '#/components/requestBodies/ip'
  /ips/info.json:
    post:
      description: Retrieves information about a single dedicated ip.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ip_info'
      requestBody:
        $ref: '#/components/requestBodies/ip'
  /ips/list-pools.json:
    post:
      description: Lists your dedicated IP pools.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_list-pools-response'
      requestBody:
        $ref: '#/components/requestBodies/api_key'
  /ips/list.json:
    post:
      description: Lists your dedicated IPs.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_list-response'
      requestBody:
        $ref: '#/components/requestBodies/api_key'
  /ips/pool-info.json:
    post:
      description: Describes a single dedicated IP pool.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_pool'
      requestBody:
        $ref: '#/components/requestBodies/ips_pool-key'
  /ips/provision.json:
    post:
      description: 'Requests an additional dedicated IP for your account. Accounts may have one outstanding request at any time, and provisioning requests are processed within 24 hours.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ips_provision-response'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ips_provision'
        required: true
  /ips/set-custom-dns.json:
    post:
      description: Configures the custom DNS name for a dedicated IP.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ip_info'
      requestBody:
        $ref: '#/components/requestBodies/ip_domain'
  /ips/set-pool.json:
    post:
      description: Moves a dedicated IP to a different pool.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ip_info'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ips_set-pool'
        required: true
  /ips/start-warmup.json:
    post:
      description: 'Begins the warmup process for a dedicated IP. During the warmup process, Mandrill will gradually increase the percentage of your mail that is sent over the warming-up IP, over a period of roughly 30 days. The rest of your mail will be sent over shared IPs or other dedicated IPs in the same pool.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ip_info'
      requestBody:
        $ref: '#/components/requestBodies/ip'
  /messages/cancel-scheduled.json:
    post:
      description: Cancels a scheduled email.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/schedulingchange_info'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/messages_cancel-scheduled'
        required: true
  /messages/content.json:
    post:
      description: Get the full content of a recently sent message
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/messages_content-response'
      requestBody:
        $ref: '#/components/requestBodies/id'
  /messages/info.json:
    post:
      description: Get the information for a single recently sent message
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/messages_info-response'
      requestBody:
        $ref: '#/components/requestBodies/id'
  /messages/list-scheduled.json:
    post:
      description: 'Queries your scheduled emails by sender or recipient, or both.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/messages_list-scheduled-response'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/messages_list-scheduled'
        required: true
  /messages/parse.json:
    post:
      description: 'Parse the full MIME document for an email message, returning the content of the message broken into its constituent pieces'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/messages_parse-response'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/messages_parse'
        required: true
  /messages/reschedule.json:
    post:
      description: Reschedules a scheduled email.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/schedulingchange_info'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/messages_reschedule'
        required: true
  /messages/search-time-series.json:
    post:
      description: Search the content of recently sent messages and return the aggregated hourly stats for matching messages
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/timeseries'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/messages_search-time-series'
        required: true
  /messages/search.json:
    post:
      description: 'Search the content of recently sent messages and optionally narrow by date range, tags and senders. This method may be called up to 20 times per minute. If you need the data more often, you can use /messages/info.json to get the information for a single message, or webhooks to push activity to your own application for querying.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/messages_search-response'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/messages_search'
        required: true
  /messages/send-raw.json:
    post:
      description: 'Take a raw MIME document for a message, and send it exactly as if it were sent through Mandrill''s SMTP servers'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/message_send-status'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/messages_send-raw'
        required: true
  /messages/send-template.json:
    post:
      description: Send a new transactional message through Mandrill using a template
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/message_send-status'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/messages_send-template'
        required: true
  /messages/send.json:
    post:
      description: Send a new transactional message through Mandrill
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/message_send-status'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/messages_send'
        required: true
  /metadata/add.json:
    post:
      description: Add a new custom metadata field to be indexed for the account.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/metadata_info'
      requestBody:
        $ref: '#/components/requestBodies/metadata_template'
  /metadata/delete.json:
    post:
      description: 'Delete an existing custom metadata field. Deletion isn''t instataneous, and /metadata/list will continue to return the field until the asynchronous deletion process is complete.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/metadata_info'
      requestBody:
        $ref: '#/components/requestBodies/name'
  /metadata/list.json:
    post:
      description: Get the list of custom metadata fields indexed for the account.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/metadata_list-response'
      requestBody:
        $ref: '#/components/requestBodies/api_key'
  /metadata/update.json:
    post:
      description: Update an existing custom metadata field.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/metadata_info'
      requestBody:
        $ref: '#/components/requestBodies/metadata_template'
  /rejects/add.json:
    post:
      description: Adds an email to your email rejection blacklist. Addresses that you add manually will never expire and there is no reputation penalty for removing them from your blacklist. Attempting to blacklist an address that has been whitelisted will have no effect.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/rejects_add-response'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rejects_add'
        required: true
  /rejects/delete.json:
    post:
      description: 'Deletes an email rejection. There is no limit to how many rejections you can remove from your blacklist, but keep in mind that each deletion has an affect on your reputation.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/rejects_delete-response'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rejects_delete'
        required: true
  /rejects/list.json:
    post:
      description: 'Retrieves your email rejection blacklist. You can provide an email address to limit the results. Returns up to 1000 results. By default, entries that have expired are excluded from the results; set include_expired to true to include them.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/rejects_list-response'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rejects_list'
        required: true
  /senders/add-domain.json:
    post:
      description: 'Adds a sender domain to your account. Sender domains are added automatically as you send, but you can use this call to add them ahead of time.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/sender_domain_info'
      requestBody:
        $ref: '#/components/requestBodies/domain'
  /senders/check-domain.json:
    post:
      description: 'Checks the SPF and DKIM settings for a domain. If you haven''t already added this domain to your account, it will be added automatically.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/sender_domain_info'
      requestBody:
        $ref: '#/components/requestBodies/domain'
  /senders/domains.json:
    post:
      description: Returns the sender domains that have been added to this account.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/senders_domains-response'
      requestBody:
        $ref: '#/components/requestBodies/api_key'
  /senders/info.json:
    post:
      description: 'Return more detailed information about a single sender, including aggregates of recent stats'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/senders_info-response'
      requestBody:
        $ref: '#/components/requestBodies/sender_address'
  /senders/list.json:
    post:
      description: Return the senders that have tried to use this account.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/senders'
      requestBody:
        $ref: '#/components/requestBodies/api_key'
  /senders/time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for a sender
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/time-series'
      requestBody:
        $ref: '#/components/requestBodies/sender_address'
  /senders/verify-domain.json:
    post:
      description: 'Sends a verification email in order to verify ownership of a domain. Domain verification is an optional step to confirm ownership of a domain. Once a domain has been verified in a Mandrill account, other accounts may not have their messages signed by that domain unless they also verify the domain. This prevents other Mandrill accounts from sending mail signed by your domain.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/senders_verify-domain-response'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/senders_verify-domain'
        required: true
  /subaccounts/add.json:
    post:
      description: Add a new subaccount
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccount_info2'
      requestBody:
        $ref: '#/components/requestBodies/subaccount_info'
  /subaccounts/delete.json:
    post:
      description: 'Delete an existing subaccount. Any email related to the subaccount will be saved, but stats will be removed and any future sending calls to this subaccount will fail.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccount_info2'
      requestBody:
        $ref: '#/components/requestBodies/id'
  /subaccounts/info.json:
    post:
      description: 'Given the ID of an existing subaccount, return the data about it'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccounts_info-response'
      requestBody:
        $ref: '#/components/requestBodies/id'
  /subaccounts/list.json:
    post:
      description: 'Get the list of subaccounts defined for the account, optionally filtered by a prefix'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccounts_list-response'
      requestBody:
        $ref: '#/components/requestBodies/url_key'
  /subaccounts/pause.json:
    post:
      description: Pause a subaccount's sending. Any future emails delivered to this subaccount will be queued for a maximum of 3 days until the subaccount is resumed.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccount_info2'
      requestBody:
        $ref: '#/components/requestBodies/id'
  /subaccounts/resume.json:
    post:
      description: Resume a paused subaccount's sending
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccount_info2'
      requestBody:
        $ref: '#/components/requestBodies/id'
  /subaccounts/update.json:
    post:
      description: Update an existing subaccount
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/subaccount_info2'
      requestBody:
        $ref: '#/components/requestBodies/subaccount_info'
  /tags/all-time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for all tags
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/timeseries'
      requestBody:
        $ref: '#/components/requestBodies/api_key'
  /tags/delete.json:
    post:
      description: 'Deletes a tag permanently. Deleting a tag removes the tag from any messages that have been sent, and also deletes the tag''s stats. There is no way to undo this operation, so use it carefully.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tags_delete-response'
      requestBody:
        $ref: '#/components/requestBodies/tag_key'
  /tags/info.json:
    post:
      description: 'Return more detailed information about a single tag, including aggregates of recent stats'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tags_info-response'
      requestBody:
        $ref: '#/components/requestBodies/tag_key'
  /tags/list.json:
    post:
      description: Return all of the user-defined tag information
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tags_list-response'
      requestBody:
        $ref: '#/components/requestBodies/api_key'
  /tags/time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for a tag
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/timeseries'
      requestBody:
        $ref: '#/components/requestBodies/tag_key'
  /templates/add.json:
    post:
      description: Add a new template
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/template_detailed'
      requestBody:
        $ref: '#/components/requestBodies/template'
  /templates/delete.json:
    post:
      description: Delete a template
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/template_detailed'
      requestBody:
        $ref: '#/components/requestBodies/name'
  /templates/info.json:
    post:
      description: Get the information for an existing template
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/template_detailed'
      requestBody:
        $ref: '#/components/requestBodies/name'
  /templates/list.json:
    post:
      description: Return a list of all the templates available to this user
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/templates_list-response'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/templates_list'
        required: true
  /templates/publish.json:
    post:
      description: Publish the content for the template. Any new messages sent using this template will start using the content that was previously in draft.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/template_detailed'
      requestBody:
        $ref: '#/components/requestBodies/name'
  /templates/render.json:
    post:
      description: 'Inject content and optionally merge fields into a template, returning the HTML that results'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/templates_render-response'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/templates_render'
        required: true
  /templates/time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for a template
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/time-series'
      requestBody:
        $ref: '#/components/requestBodies/name'
  /templates/update.json:
    post:
      description: 'Update the code for an existing template. If null is provided for any fields, the values will remain unchanged.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/template_detailed'
      requestBody:
        $ref: '#/components/requestBodies/template'
  /urls/add-tracking-domain.json:
    post:
      description: Add a tracking domain to your account
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tracking-domain-status'
      requestBody:
        $ref: '#/components/requestBodies/domain'
  /urls/check-tracking-domain.json:
    post:
      description: Checks the CNAME settings for a tracking domain. The domain must have been added already with the add-tracking-domain call
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/tracking-domain-status'
      requestBody:
        $ref: '#/components/requestBodies/domain'
  /urls/list.json:
    post:
      description: Get the 100 most clicked URLs
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/url_infos'
      requestBody:
        $ref: '#/components/requestBodies/api_key'
  /urls/search.json:
    post:
      description: Return the 100 most clicked URLs that match the search query given
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/url_infos'
      requestBody:
        $ref: '#/components/requestBodies/url_key'
  /urls/time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for a url
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/urls_time-series-response'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/urls_time-series'
        required: true
  /urls/tracking-domains.json:
    post:
      description: Get the list of tracking domains set up for this account
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/urls_tracking-domains-response'
      requestBody:
        $ref: '#/components/requestBodies/api_key'
  /users/info.json:
    post:
      description: Return the information about the API-connected user
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/users_info-response'
      requestBody:
        $ref: '#/components/requestBodies/api_key'
  /users/ping.json:
    post:
      description: Validate an API key and respond to a ping
      responses:
        '200':
          description: OK
      requestBody:
        $ref: '#/components/requestBodies/api_key'
  /users/ping2.json:
    post:
      description: Validate an API key and respond to a ping (anal JSON parser version)
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/users_ping2-response'
      requestBody:
        $ref: '#/components/requestBodies/api_key'
  /users/senders.json:
    post:
      description: 'Return the senders that have tried to use this account, both verified and unverified'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/senders'
      requestBody:
        $ref: '#/components/requestBodies/api_key'
  /webhooks/add.json:
    post:
      description: Add a new webhook
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/webhook'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webhooks_add'
        required: true
  /webhooks/delete.json:
    post:
      description: Delete an existing webhook
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/webhook'
      requestBody:
        $ref: '#/components/requestBodies/webhook_key'
  /webhooks/info.json:
    post:
      description: 'Given the ID of an existing webhook, return the data about it'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/webhook'
      requestBody:
        $ref: '#/components/requestBodies/webhook_key'
  /webhooks/list.json:
    post:
      description: Get the list of all webhooks defined on the account
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/webhooks_list-response'
      requestBody:
        $ref: '#/components/requestBodies/api_key'
  /webhooks/update.json:
    post:
      description: Update an existing webhook
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/webhook'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webhooks_update'
        required: true
  /whitelists/add.json:
    post:
      description: 'Adds an email to your email rejection whitelist. If the address is currently on your blacklist, that blacklist entry will be removed automatically.'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/whitelists_add-response'
      requestBody:
        $ref: '#/components/requestBodies/email'
  /whitelists/delete.json:
    post:
      description: Removes an email address from the whitelist.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/whitelists_delete-response'
      requestBody:
        $ref: '#/components/requestBodies/email'
  /whitelists/list.json:
    post:
      description: Retrieves your email rejection whitelist. You can provide an email address or search prefix to limit the results. Returns up to 1000 results.
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/whitelists_list-response'
      requestBody:
        $ref: '#/components/requestBodies/email'
components:
  schemas:
    api_key:
      properties:
        key:
          type: string
      type: object
    domain:
      properties:
        domain:
          type: string
        key:
          type: string
      type: object
    email:
      properties:
        email:
          type: string
        key:
          type: string
      type: object
    exports_activity:
      properties:
        api_keys:
          items:
            type: string
          type: array
        date_from:
          type: string
        date_to:
          type: string
        key:
          type: string
        notify_email:
          type: string
        senders:
          items:
            type: string
          type: array
        states:
          items:
            type: string
          type: array
        tags:
          items:
            type: string
          type: array
      type: object
    exports_info-response:
      properties:
        created_at:
          type: string
        finished_at:
          type: string
        id:
          type: string
        result_url:
          type: string
        state:
          type: string
        type:
          type: string
      type: object
    exports_list-response:
      items:
        properties:
          created_at:
            type: string
          finished_at:
            type: string
          id:
            type: string
          result_url:
            type: string
          state:
            type: string
          type:
            type: string
        type: object
      type: array
    exports_satus:
      properties:
        created_at:
          type: string
        finished_at:
          nullable: true
        id:
          type: string
        result_url:
          nullable: true
        state:
          type: string
        type:
          type: string
      type: object
    id:
      properties:
        id:
          type: string
        key:
          type: string
      type: object
    inbound_add-route:
      properties:
        domain:
          type: string
        key:
          type: string
        pattern:
          type: string
        url:
          type: string
      type: object
    inbound_domains-response:
      items:
        properties:
          created_at:
            type: string
          domain:
            type: string
          valid_mx:
            type: boolean
        type: object
      type: array
    inbound_info:
      properties:
        created_at:
          type: string
        domain:
          type: string
        valid_mx:
          type: boolean
      type: object
    inbound_routes-response:
      items:
        properties:
          id:
            type: string
          pattern:
            type: string
          url:
            type: string
        type: object
      type: array
    inbound_send-raw:
      properties:
        client_address:
          type: string
        helo:
          type: string
        key:
          type: string
        mail_from:
          type: string
        raw_message:
          type: string
        to:
          items:
            type: string
          type: array
      type: object
    inbound_send-raw-response:
      items:
        properties:
          email:
            type: string
          pattern:
            type: string
          url:
            type: string
        type: object
      type: array
    inbound_update-route:
      properties:
        id:
          type: string
        key:
          type: string
        pattern:
          type: string
        url:
          type: string
      type: object
    ip:
      properties:
        ip:
          type: string
        key:
          type: string
      type: object
    ip_domain:
      properties:
        domain:
          type: string
        ip:
          type: string
        key:
          type: string
      type: object
    ip_info:
      properties:
        created_at:
          type: string
        custom_dns:
          properties:
            enabled:
              type: boolean
            error:
              type: string
            valid:
              type: boolean
          type: object
        domain:
          type: string
        ip:
          type: string
        pool:
          type: string
        warmup:
          properties:
            end_at:
              type: string
            start_at:
              type: string
            warming_up:
              type: boolean
          type: object
      type: object
    ips_check-custom-dns-response:
      properties:
        error:
          type: string
        valid:
          type: boolean
      type: object
    ips_delete-pool-response:
      properties:
        deleted:
          type: boolean
        pool:
          type: string
      type: object
    ips_delete-response:
      properties:
        deleted:
          type: boolean
        ip:
          type: string
      type: object
    ips_list-pools-response:
      items:
        properties:
          created_at:
            type: string
          ips:
            items:
              properties:
                created_at:
                  type: string
                custom_dns:
                  properties:
                    enabled:
                      type: boolean
                    error:
                      type: string
                    valid:
                      type: boolean
                  type: object
                domain:
                  type: string
                ip:
                  type: string
                pool:
                  type: string
                warmup:
                  properties:
                    end_at:
                      type: string
                    start_at:
                      type: string
                    warming_up:
                      type: boolean
                  type: object
              type: object
            type: array
          name:
            type: string
        type: object
      type: array
    ips_list-response:
      items:
        properties:
          created_at:
            type: string
          custom_dns:
            properties:
              enabled:
                type: boolean
              error:
                type: string
              valid:
                type: boolean
            type: object
          domain:
            type: string
          ip:
            type: string
          pool:
            type: string
          warmup:
            properties:
              end_at:
                type: string
              start_at:
                type: string
              warming_up:
                type: boolean
            type: object
        type: object
      type: array
    ips_pool:
      properties:
        created_at:
          type: string
        ips:
          items:
            properties:
              created_at:
                type: string
              custom_dns:
                properties:
                  enabled:
                    type: boolean
                  error:
                    type: string
                  valid:
                    type: boolean
                type: object
              domain:
                type: string
              ip:
                type: string
              pool:
                type: string
              warmup:
                properties:
                  end_at:
                    type: string
                  start_at:
                    type: string
                  warming_up:
                    type: boolean
                type: object
            type: object
          type: array
        name:
          type: string
      type: object
    ips_pool-key:
      properties:
        key:
          type: string
        pool:
          type: string
      type: object
    ips_provision:
      properties:
        key:
          type: string
        pool:
          type: string
        warmup:
          type: boolean
      type: object
    ips_provision-response:
      properties:
        requested_at:
          type: string
      type: object
    ips_set-pool:
      properties:
        create_pool:
          type: boolean
        ip:
          type: string
        key:
          type: string
        pool:
          type: string
      type: object
    message_send-status:
      items:
        properties:
          _id:
            type: string
          email:
            type: string
          reject_reason:
            type: string
          status:
            type: string
        type: object
      type: array
    messages_cancel-scheduled:
      properties:
        id:
          nullable: true
        key:
          type: string
      type: object
    messages_content-response:
      properties:
        _id:
          type: string
        attachments:
          items:
            properties:
              content:
                type: string
              name:
                type: string
              type:
                type: string
            type: object
          type: array
        from_email:
          type: string
        from_name:
          type: string
        headers:
          properties:
            Reply-To:
              type: string
          type: object
        html:
          type: string
        subject:
          type: string
        tags:
          items:
            type: string
          type: array
        text:
          type: string
        to:
          properties:
            email:
              type: string
            name:
              type: string
          type: object
        ts:
          type: integer
      type: object
    messages_info-response:
      properties:
        _id:
          type: string
        clicks:
          type: integer
        clicks_detail:
          items:
            properties:
              ip:
                type: string
              location:
                type: string
              ts:
                type: integer
              ua:
                type: string
              url:
                type: string
            type: object
          type: array
        email:
          type: string
        metadata:
          properties:
            user_id:
              type: string
            website:
              type: string
          type: object
        opens:
          type: integer
        opens_detail:
          items:
            properties:
              ip:
                type: string
              location:
                type: string
              ts:
                type: integer
              ua:
                type: string
            type: object
          type: array
        sender:
          type: string
        smtp_events:
          items:
            properties:
              diag:
                type: string
              ts:
                type: integer
              type:
                type: string
            type: object
          type: array
        state:
          type: string
        subject:
          type: string
        tags:
          items:
            type: string
          type: array
        template:
          type: string
        ts:
          type: integer
      type: object
    messages_list-scheduled:
      properties:
        key:
          type: string
        to:
          type: string
      type: object
    messages_list-scheduled-response:
      items:
        properties:
          _id:
            type: string
          created_at:
            type: string
          from_email:
            type: string
          send_at:
            type: string
          subject:
            type: string
          to:
            type: string
        type: object
      type: array
    messages_parse:
      properties:
        key:
          type: string
        raw_message:
          type: string
      type: object
    messages_parse-response:
      properties:
        attachments:
          items:
            properties:
              binary:
                type: boolean
              content:
                type: string
              name:
                type: string
              type:
                type: string
            type: object
          type: array
        from_email:
          type: string
        from_name:
          type: string
        headers:
          properties:
            Reply-To:
              type: string
          type: object
        html:
          type: string
        images:
          items:
            properties:
              content:
                type: string
              name:
                type: string
              type:
                type: string
            type: object
          type: array
        subject:
          type: string
        text:
          type: string
        to:
          items:
            properties:
              email:
                type: string
              name:
                type: string
            type: object
          type: array
      type: object
    messages_reschedule:
      properties:
        id:
          type: string
        key:
          type: string
        send_at:
          type: string
      type: object
    messages_search:
      properties:
        api_keys:
          items:
            type: string
          type: array
        date_from:
          type: string
        date_to:
          type: string
        key:
          type: string
        limit:
          type: integer
        query:
          type: string
        senders:
          items:
            type: string
          type: array
        tags:
          items:
            type: string
          type: array
      type: object
    messages_search-response:
      items:
        properties:
          _id:
            type: string
          clicks:
            type: integer
          clicks_detail:
            items:
              properties:
                ip:
                  type: string
                location:
                  type: string
                ts:
                  type: integer
                ua:
                  type: string
                url:
                  type: string
              type: object
            type: array
          email:
            type: string
          metadata:
            properties:
              user_id:
                type: string
              website:
                type: string
            type: object
          opens:
            type: integer
          opens_detail:
            items:
              properties:
                ip:
                  type: string
                location:
                  type: string
                ts:
                  type: integer
                ua:
                  type: string
              type: object
            type: array
          sender:
            type: string
          state:
            type: string
          subject:
            type: string
          tags:
            items:
              type: string
            type: array
          template:
            type: string
          ts:
            type: integer
        type: object
      type: array
    messages_search-time-series:
      properties:
        date_from:
          type: string
        date_to:
          type: string
        key:
          type: string
        query:
          type: string
        senders:
          items:
            type: string
          type: array
        tags:
          items:
            type: string
          type: array
      type: object
    messages_send:
      properties:
        async:
          type: boolean
        ip_pool:
          type: string
        key:
          type: string
        message:
          properties:
            attachments:
              items:
                properties:
                  content:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
                type: object
              type: array
            auto_html:
              nullable: true
            auto_text:
              nullable: true
            bcc_address:
              type: string
            from_email:
              type: string
            from_name:
              type: string
            global_merge_vars:
              items:
                properties:
                  content:
                    type: string
                  name:
                    type: string
                type: object
              type: array
            google_analytics_campaign:
              type: string
            google_analytics_domains:
              items:
                type: string
              type: array
            headers:
              properties:
                Reply-To:
                  type: string
              type: object
            html:
              type: string
            images:
              items:
                properties:
                  content:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
                type: object
              type: array
            important:
              type: boolean
            inline_css:
              nullable: true
            merge:
              type: boolean
            merge_vars:
              items:
                properties:
                  rcpt:
                    type: string
                  vars:
                    items:
                      properties:
                        content:
                          type: string
                        name:
                          type: string
                      type: object
                    type: array
                type: object
              type: array
            metadata:
              properties:
                website:
                  type: string
              type: object
            preserve_recipients:
              nullable: true
            recipient_metadata:
              items:
                properties:
                  rcpt:
                    type: string
                  values:
                    properties:
                      user_id:
                        type: integer
                    type: object
                type: object
              type: array
            return_path_domain:
              nullable: true
            signing_domain:
              nullable: true
            subaccount:
              type: string
            subject:
              type: string
            tags:
              items:
                type: string
              type: array
            text:
              type: string
            to:
              items:
                properties:
                  email:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
                type: object
              type: array
            track_clicks:
              nullable: true
            track_opens:
              nullable: true
            tracking_domain:
              nullable: true
            url_strip_qs:
              nullable: true
            view_content_link:
              nullable: true
          type: object
        send_at:
          type: string
      type: object
    messages_send-raw:
      properties:
        async:
          type: boolean
        from_email:
          type: string
        from_name:
          type: string
        ip_pool:
          type: string
        key:
          type: string
        raw_message:
          type: string
        return_path_domain:
          nullable: true
        send_at:
          type: string
        to:
          items:
            type: string
          type: array
      type: object
    messages_send-template:
      properties:
        async:
          type: boolean
        ip_pool:
          type: string
        key:
          type: string
        message:
          properties:
            attachments:
              items:
                properties:
                  content:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
                type: object
              type: array
            auto_html:
              nullable: true
            auto_text:
              nullable: true
            bcc_address:
              type: string
            from_email:
              type: string
            from_name:
              type: string
            global_merge_vars:
              items:
                properties:
                  content:
                    type: string
                  name:
                    type: string
                type: object
              type: array
            google_analytics_campaign:
              type: string
            google_analytics_domains:
              items:
                type: string
              type: array
            headers:
              properties:
                Reply-To:
                  type: string
              type: object
            html:
              type: string
            images:
              items:
                properties:
                  content:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
                type: object
              type: array
            important:
              type: boolean
            inline_css:
              nullable: true
            merge:
              type: boolean
            merge_vars:
              items:
                properties:
                  rcpt:
                    type: string
                  vars:
                    items:
                      properties:
                        content:
                          type: string
                        name:
                          type: string
                      type: object
                    type: array
                type: object
              type: array
            metadata:
              properties:
                website:
                  type: string
              type: object
            preserve_recipients:
              nullable: true
            recipient_metadata:
              items:
                properties:
                  rcpt:
                    type: string
                  values:
                    properties:
                      user_id:
                        type: integer
                    type: object
                type: object
              type: array
            return_path_domain:
              nullable: true
            signing_domain:
              nullable: true
            subaccount:
              type: string
            subject:
              type: string
            tags:
              items:
                type: string
              type: array
            text:
              type: string
            to:
              items:
                properties:
                  email:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
                type: object
              type: array
            track_clicks:
              nullable: true
            track_opens:
              nullable: true
            tracking_domain:
              nullable: true
            url_strip_qs:
              nullable: true
            view_content_link:
              nullable: true
          type: object
        send_at:
          type: string
        template_content:
          items:
            properties:
              content:
                type: string
              name:
                type: string
            type: object
          type: array
        template_name:
          type: string
      type: object
    metadata_info:
      properties:
        name:
          type: string
        state:
          type: string
        view_template:
          type: string
      type: object
    metadata_list-response:
      items:
        properties:
          name:
            type: string
          state:
            type: string
          view_template:
            type: string
        type: object
      type: array
    metadata_template:
      properties:
        key:
          type: string
        name:
          type: string
        view_template:
          type: string
      type: object
    name:
      properties:
        key:
          type: string
        name:
          type: string
      type: object
    notify_email:
      properties:
        key:
          type: string
        notify_email:
          type: string
      type: object
    rejects_add:
      properties:
        comment:
          type: string
        email:
          type: string
        key:
          type: string
        subaccount:
          type: string
      type: object
    rejects_add-response:
      properties:
        added:
          type: boolean
        email:
          type: string
      type: object
    rejects_delete:
      properties:
        email:
          type: string
        key:
          type: string
        subaccount:
          type: string
      type: object
    rejects_delete-response:
      properties:
        deleted:
          type: boolean
        email:
          type: string
        subaccount:
          type: string
      type: object
    rejects_list:
      properties:
        email:
          type: string
        include_expired:
          type: boolean
        key:
          type: string
        subaccount:
          type: string
      type: object
    rejects_list-response:
      items:
        properties:
          created_at:
            type: string
          detail:
            type: string
          email:
            type: string
          expired:
            type: boolean
          expires_at:
            type: string
          last_event_at:
            type: string
          reason:
            type: string
          sender:
            properties:
              address:
                type: string
              clicks:
                type: integer
              complaints:
                type: integer
              created_at:
                type: string
              hard_bounces:
                type: integer
              opens:
                type: integer
              rejects:
                type: integer
              sent:
                type: integer
              soft_bounces:
                type: integer
              unique_clicks:
                type: integer
              unique_opens:
                type: integer
              unsubs:
                type: integer
            type: object
          subaccount:
            type: string
        type: object
      type: array
    route:
      properties:
        id:
          type: string
        pattern:
          type: string
        url:
          type: string
      type: object
    schedulingchange_info:
      properties:
        _id:
          type: string
        created_at:
          type: string
        from_email:
          type: string
        send_at:
          type: string
        subject:
          type: string
        to:
          type: string
      type: object
    sender_address:
      properties:
        address:
          type: string
        key:
          type: string
      type: object
    sender_domain_info:
      properties:
        created_at:
          type: string
        dkim:
          properties:
            error:
              type: string
            valid:
              type: boolean
            valid_after:
              type: string
          type: object
        domain:
          type: string
        last_tested_at:
          type: string
        spf:
          properties:
            error:
              type: string
            valid:
              type: boolean
            valid_after:
              type: string
          type: object
        valid_signing:
          type: boolean
        verified_at:
          type: string
      type: object
    senders:
      items:
        properties:
          address:
            type: string
          clicks:
            type: integer
          complaints:
            type: integer
          created_at:
            type: string
          hard_bounces:
            type: integer
          opens:
            type: integer
          rejects:
            type: integer
          sent:
            type: integer
          soft_bounces:
            type: integer
          unique_clicks:
            type: integer
          unique_opens:
            type: integer
          unsubs:
            type: integer
        type: object
      type: array
    senders_domains-response:
      items:
        properties:
          created_at:
            type: string
          dkim:
            properties:
              error:
                type: string
              valid:
                type: boolean
              valid_after:
                type: string
            type: object
          domain:
            type: string
          last_tested_at:
            type: string
          spf:
            properties:
              error:
                type: string
              valid:
                type: boolean
              valid_after:
                type: string
            type: object
          valid_signing:
            type: boolean
          verified_at:
            type: string
        type: object
      type: array
    senders_info-response:
      properties:
        address:
          type: string
        clicks:
          type: integer
        complaints:
          type: integer
        created_at:
          type: string
        hard_bounces:
          type: integer
        opens:
          type: integer
        rejects:
          type: integer
        sent:
          type: integer
        soft_bounces:
          type: integer
        stats:
          properties:
            last_30_days:
              properties:
                clicks:
                  type: integer
                complaints:
                  type: integer
                hard_bounces:
                  type: integer
                opens:
                  type: integer
                rejects:
                  type: integer
                sent:
                  type: integer
                soft_bounces:
                  type: integer
                unique_clicks:
                  type: integer
                unique_opens:
                  type: integer
                unsubs:
                  type: integer
              type: object
            last_60_days:
              properties:
                clicks:
                  type: integer
                complaints:
                  type: integer
                hard_bounces:
                  type: integer
                opens:
                  type: integer
                rejects:
                  type: integer
                sent:
                  type: integer
                soft_bounces:
                  type: integer
                unique_clicks:
                  type: integer
                unique_opens:
                  type: integer
                unsubs:
                  type: integer
              type: object
            last_7_days:
              properties:
                clicks:
                  type: integer
                complaints:
                  type: integer
                hard_bounces:
                  type: integer
                opens:
                  type: integer
                rejects:
                  type: integer
                sent:
                  type: integer
                soft_bounces:
                  type: integer
                unique_clicks:
                  type: integer
                unique_opens:
                  type: integer
                unsubs:
                  type: integer
              type: object
            last_90_days:
              properties:
                clicks:
                  type: integer
                complaints:
                  type: integer
                hard_bounces:
                  type: integer
                opens:
                  type: integer
                rejects:
                  type: integer
                sent:
                  type: integer
                soft_bounces:
                  type: integer
                unique_clicks:
                  type: integer
                unique_opens:
                  type: integer
                unsubs:
                  type: integer
              type: object
            today:
              properties:
                clicks:
                  type: integer
                complaints:
                  type: integer
                hard_bounces:
                  type: integer
                opens:
                  type: integer
                rejects:
                  type: integer
                sent:
                  type: integer
                soft_bounces:
                  type: integer
                unique_clicks:
                  type: integer
                unique_opens:
                  type: integer
                unsubs:
                  type: integer
              type: object
          type: object
        unsubs:
          type: integer
      type: object
    senders_verify-domain:
      properties:
        domain:
          type: string
        key:
          type: string
        mailbox:
          type: string
      type: object
    senders_verify-domain-response:
      properties:
        domain:
          type: string
        email:
          type: string
        status:
          type: string
      type: object
    subaccount_info:
      properties:
        custom_quota:
          type: integer
        id:
          type: string
        key:
          type: string
        name:
          type: string
        notes:
          type: string
      type: object
    subaccount_info2:
      properties:
        created_at:
          type: string
        custom_quota:
          type: integer
        first_sent_at:
          type: string
        id:
          type: string
        name:
          type: string
        reputation:
          type: integer
        sent_monthly:
          type: integer
        sent_total:
          type: integer
        sent_weekly:
          type: integer
        status:
          type: string
      type: object
    subaccounts_info-response:
      properties:
        created_at:
          type: string
        custom_quota:
          type: integer
        first_sent_at:
          type: string
        hourly_quota:
          type: integer
        id:
          type: string
        last_30_days:
          properties:
            clicks:
              type: integer
            complaints:
              type: integer
            hard_bounces:
              type: integer
            opens:
              type: integer
            rejects:
              type: integer
            sent:
              type: integer
            soft_bounces:
              type: integer
            unique_clicks:
              type: integer
            unique_opens:
              type: integer
            unsubs:
              type: integer
          type: object
        name:
          type: string
        notes:
          type: string
        reputation:
          type: integer
        sent_hourly:
          type: integer
        sent_monthly:
          type: integer
        sent_total:
          type: integer
        sent_weekly:
          type: integer
        status:
          type: string
      type: object
    subaccounts_list-response:
      items:
        properties:
          created_at:
            type: string
          custom_quota:
            type: integer
          first_sent_at:
            type: string
          id:
            type: string
          name:
            type: string
          reputation:
            type: integer
          sent_monthly:
            type: integer
          sent_total:
            type: integer
          sent_weekly:
            type: integer
          status:
            type: string
        type: object
      type: array
    tag_key:
      properties:
        key:
          type: string
        tag:
          type: string
      type: object
    tags_delete-response:
      properties:
        clicks:
          type: integer
        complaints:
          type: integer
        hard_bounces:
          type: integer
        opens:
          type: integer
        rejects:
          type: integer
        reputation:
          type: integer
        sent:
          type: integer
        soft_bounces:
          type: integer
        tag:
          type: string
        unique_clicks:
          type: integer
        unique_opens:
          type: integer
        unsubs:
          type: integer
      type: object
    tags_info-response:
      properties:
        clicks:
          type: integer
        complaints:
          type: integer
        hard_bounces:
          type: integer
        opens:
          type: integer
        rejects:
          type: integer
        sent:
          type: integer
        soft_bounces:
          type: integer
        stats:
          properties:
            last_30_days:
              properties:
                clicks:
                  type: integer
                complaints:
                  type: integer
                hard_bounces:
                  type: integer
                opens:
                  type: integer
                rejects:
                  type: integer
                sent:
                  type: integer
                soft_bounces:
                  type: integer
                unique_clicks:
                  type: integer
                unique_opens:
                  type: integer
                unsubs:
                  type: integer
              type: object
            last_60_days:
              properties:
                clicks:
                  type: integer
                complaints:
                  type: integer
                hard_bounces:
                  type: integer
                opens:
                  type: integer
                rejects:
                  type: integer
                sent:
                  type: integer
                soft_bounces:
                  type: integer
                unique_clicks:
                  type: integer
                unique_opens:
                  type: integer
                unsubs:
                  type: integer
              type: object
            last_7_days:
              properties:
                clicks:
                  type: integer
                complaints:
                  type: integer
                hard_bounces:
                  type: integer
                opens:
                  type: integer
                rejects:
                  type: integer
                sent:
                  type: integer
                soft_bounces:
                  type: integer
                unique_clicks:
                  type: integer
                unique_opens:
                  type: integer
                unsubs:
                  type: integer
              type: object
            last_90_days:
              properties:
                clicks:
                  type: integer
                complaints:
                  type: integer
                hard_bounces:
                  type: integer
                opens:
                  type: integer
                rejects:
                  type: integer
                sent:
                  type: integer
                soft_bounces:
                  type: integer
                unique_clicks:
                  type: integer
                unique_opens:
                  type: integer
                unsubs:
                  type: integer
              type: object
            today:
              properties:
                clicks:
                  type: integer
                complaints:
                  type: integer
                hard_bounces:
                  type: integer
                opens:
                  type: integer
                rejects:
                  type: integer
                sent:
                  type: integer
                soft_bounces:
                  type: integer
                unique_clicks:
                  type: integer
                unique_opens:
                  type: integer
                unsubs:
                  type: integer
              type: object
          type: object
        tag:
          type: string
        unsubs:
          type: integer
      type: object
    tags_list-response:
      items:
        properties:
          clicks:
            type: integer
          complaints:
            type: integer
          hard_bounces:
            type: integer
          opens:
            type: integer
          rejects:
            type: integer
          reputation:
            type: integer
          sent:
            type: integer
          soft_bounces:
            type: integer
          tag:
            type: string
          unique_clicks:
            type: integer
          unique_opens:
            type: integer
          unsubs:
            type: integer
        type: object
      type: array
    template:
      properties:
        code:
          type: string
        from_email:
          type: string
        from_name:
          type: string
        key:
          type: string
        labels:
          items:
            type: string
          type: array
        name:
          type: string
        publish:
          type: boolean
        subject:
          type: string
        text:
          type: string
      type: object
    template_detailed:
      properties:
        code:
          type: string
        created_at:
          type: string
        from_email:
          type: string
        from_name:
          type: string
        labels:
          items:
            type: string
          type: array
        name:
          type: string
        publish_code:
          type: string
        publish_from_email:
          type: string
        publish_from_name:
          type: string
        publish_name:
          type: string
        publish_subject:
          type: string
        publish_text:
          type: string
        published_at:
          type: string
        slug:
          type: string
        subject:
          type: string
        text:
          type: string
        updated_at:
          type: string
      type: object
    templates_list:
      properties:
        key:
          type: string
        label:
          type: string
      type: object
    templates_list-response:
      items:
        properties:
          code:
            type: string
          created_at:
            type: string
          from_email:
            type: string
          from_name:
            type: string
          labels:
            items:
              type: string
            type: array
          name:
            type: string
          publish_code:
            type: string
          publish_from_email:
            type: string
          publish_from_name:
            type: string
          publish_name:
            type: string
          publish_subject:
            type: string
          publish_text:
            type: string
          published_at:
            type: string
          slug:
            type: string
          subject:
            type: string
          text:
            type: string
          updated_at:
            type: string
        type: object
      type: array
    templates_render:
      properties:
        key:
          type: string
        merge_vars:
          items:
            properties:
              content:
                type: string
              name:
                type: string
            type: object
          type: array
        template_content:
          items:
            properties:
              content:
                type: string
              name:
                type: string
            type: object
          type: array
        template_name:
          type: string
      type: object
    templates_render-response:
      properties:
        html:
          type: string
      type: object
    time-series:
      items:
        properties:
          clicks:
            type: integer
          complaints:
            type: integer
          hard_bounces:
            type: integer
          opens:
            type: integer
          rejects:
            type: integer
          sent:
            type: integer
          soft_bounces:
            type: integer
          time:
            type: string
          unique_clicks:
            type: integer
          unique_opens:
            type: integer
        type: object
      type: array
    timeseries:
      items:
        properties:
          clicks:
            type: integer
          complaints:
            type: integer
          hard_bounces:
            type: integer
          opens:
            type: integer
          rejects:
            type: integer
          sent:
            type: integer
          soft_bounces:
            type: integer
          time:
            type: string
          unique_clicks:
            type: integer
          unique_opens:
            type: integer
          unsubs:
            type: integer
        type: object
      type: array
    tracking-domain-status:
      properties:
        cname:
          properties:
            error:
              type: string
            valid:
              type: boolean
            valid_after:
              type: string
          type: object
        created_at:
          type: string
        domain:
          type: string
        last_tested_at:
          type: string
        valid_tracking:
          type: boolean
      type: object
    url_infos:
      items:
        properties:
          clicks:
            type: integer
          sent:
            type: integer
          unique_clicks:
            type: integer
          url:
            type: string
        type: object
      type: array
    url_key:
      properties:
        key:
          type: string
        q:
          type: string
      type: object
    urls_time-series:
      properties:
        key:
          type: string
        url:
          type: string
      type: object
    urls_time-series-response:
      items:
        properties:
          clicks:
            type: integer
          sent:
            type: integer
          time:
            type: string
          unique_clicks:
            type: integer
        type: object
      type: array
    urls_tracking-domains-response:
      items:
        properties:
          cname:
            properties:
              error:
                type: string
              valid:
                type: boolean
              valid_after:
                type: string
            type: object
          created_at:
            type: string
          domain:
            type: string
          last_tested_at:
            type: string
          valid_tracking:
            type: boolean
        type: object
      type: array
    users_info-response:
      properties:
        backlog:
          type: integer
        created_at:
          type: string
        hourly_quota:
          type: integer
        public_id:
          type: string
        reputation:
          type: integer
        stats:
          properties:
            all_time:
              properties:
                clicks:
                  type: integer
                complaints:
                  type: integer
                hard_bounces:
                  type: integer
                opens:
                  type: integer
                rejects:
                  type: integer
                sent:
                  type: integer
                soft_bounces:
                  type: integer
                unique_clicks:
                  type: integer
                unique_opens:
                  type: integer
                unsubs:
                  type: integer
              type: object
            last_30_days:
              properties:
                clicks:
                  type: integer
                complaints:
                  type: integer
                hard_bounces:
                  type: integer
                opens:
                  type: integer
                rejects:
                  type: integer
                sent:
                  type: integer
                soft_bounces:
                  type: integer
                unique_clicks:
                  type: integer
                unique_opens:
                  type: integer
                unsubs:
                  type: integer
              type: object
            last_60_days:
              properties:
                clicks:
                  type: integer
                complaints:
                  type: integer
                hard_bounces:
                  type: integer
                opens:
                  type: integer
                rejects:
                  type: integer
                sent:
                  type: integer
                soft_bounces:
                  type: integer
                unique_clicks:
                  type: integer
                unique_opens:
                  type: integer
                unsubs:
                  type: integer
              type: object
            last_7_days:
              properties:
                clicks:
                  type: integer
                complaints:
                  type: integer
                hard_bounces:
                  type: integer
                opens:
                  type: integer
                rejects:
                  type: integer
                sent:
                  type: integer
                soft_bounces:
                  type: integer
                unique_clicks:
                  type: integer
                unique_opens:
                  type: integer
                unsubs:
                  type: integer
              type: object
            last_90_days:
              properties:
                clicks:
                  type: integer
                complaints:
                  type: integer
                hard_bounces:
                  type: integer
                opens:
                  type: integer
                rejects:
                  type: integer
                sent:
                  type: integer
                soft_bounces:
                  type: integer
                unique_clicks:
                  type: integer
                unique_opens:
                  type: integer
                unsubs:
                  type: integer
              type: object
            today:
              properties:
                clicks:
                  type: integer
                complaints:
                  type: integer
                hard_bounces:
                  type: integer
                opens:
                  type: integer
                rejects:
                  type: integer
                sent:
                  type: integer
                soft_bounces:
                  type: integer
                unique_clicks:
                  type: integer
                unique_opens:
                  type: integer
                unsubs:
                  type: integer
              type: object
          type: object
        username:
          type: string
      type: object
    users_ping2-response:
      properties:
        PING:
          type: string
      type: object
    webhook:
      properties:
        auth_key:
          type: string
        batches_sent:
          type: integer
        created_at:
          type: string
        description:
          type: string
        events:
          items:
            type: string
          type: array
        events_sent:
          type: integer
        id:
          type: integer
        last_error:
          type: string
        last_sent_at:
          type: string
        url:
          type: string
      type: object
    webhook_key:
      properties:
        id:
          type: integer
        key:
          type: string
      type: object
    webhooks_add:
      properties:
        description:
          type: string
        events:
          items:
            type: string
          type: array
        key:
          type: string
        url:
          type: string
      type: object
    webhooks_list-response:
      items:
        properties:
          auth_key:
            type: string
          batches_sent:
            type: integer
          created_at:
            type: string
          description:
            type: string
          events:
            items:
              type: string
            type: array
          events_sent:
            type: integer
          id:
            type: integer
          last_error:
            type: string
          last_sent_at:
            type: string
          url:
            type: string
        type: object
      type: array
    webhooks_update:
      properties:
        description:
          type: string
        events:
          items:
            type: string
          type: array
        id:
          type: integer
        key:
          type: string
        url:
          type: string
      type: object
    whitelists_add-response:
      properties:
        email:
          type: string
        whether:
          type: boolean
      type: object
    whitelists_delete-response:
      properties:
        deleted:
          type: boolean
        email:
          type: string
      type: object
    whitelists_list-response:
      items:
        properties:
          created_at:
            type: string
          detail:
            type: string
          email:
            type: string
        type: object
      type: array
  requestBodies:
    id:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/id'
      required: true
    api_key:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/api_key'
      required: true
    notify_email:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/notify_email'
      required: true
    domain:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/domain'
      required: true
    ip:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ip'
      required: true
    ip_domain:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ip_domain'
      required: true
    ips_pool-key:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ips_pool-key'
      required: true
    metadata_template:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/metadata_template'
      required: true
    name:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/name'
      required: true
    sender_address:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/sender_address'
      required: true
    subaccount_info:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/subaccount_info'
      required: true
    url_key:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/url_key'
      required: true
    tag_key:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/tag_key'
      required: true
    template:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/template'
      required: true
    webhook_key:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/webhook_key'
      required: true
    email:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/email'
      required: true
