openapi: 3.0.1
servers:
  - description: Mist AWS US
    url: https://api.mist.com
  - description: Mist AWS EU
    url: https://api.eu.mist.com
  - description: Mist GCP US
    url: https://api.gc1.mist.com
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: |-
    > Version: **0.36.1**
    >
    > Date: **March 3, 2022**

    ---

    #### Available Documentation
    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)
    * [Open API](https://doc.mist-lab.fr/)

    ---
    #### Useful links
    * [Mist Homepage](https://www.mist.com)
    * [Mist Documentation](https://www.mist.com/documentation)
    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account required)
    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)
    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 0.36.1
  x-apisguru-categories:
    - enterprise
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_cdn.mist.com_wp-content_uploads_logo.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/tmunzer/mist_openapi/main/mist.openapi.yml
      version: "3.0"
  x-providerName: mist.com
security:
  - apiToken: []
  - basicAuth: []
tags:
  - name: Login
  - description: |-
      A Mist account can be linked to OAuth2 providers:
      1. First, login with your Mist account
      2. Obtain the Authorization URL for Linking
        1. in JSON response, more usable for developers. Simply don’t specify the forward parameter when obtaining the authorization URL 
        2. or as GET parameter, for UI where the user flow can be continued. Specify the landing page/url of your choice
      3. Obtain the authorizaiton code by clicking / going through Authorization URL
      Link Mist Account against OAuth2 Provider by using the authorization code
    name: Login With OAuth2
  - name: API Token
  - name: Installer
  - name: Admin
  - name: Mobile
  - name: Msps
  - name: Msps Admins
  - name: Msps Inventory
  - name: Msps Invites
  - name: Msps Logo
  - name: Msps Logs
  - name: Msps Licenses
  - name: Msps Org Groups
  - name: Msps Orgs
  - name: Msps Search
  - name: Msps SLEs
  - name: Msps SSO Roles
  - name: Msps SSO
  - name: Msps Stats
  - name: Msps Tickets
  - name: Orgs
  - name: Orgs 128T
  - name: Orgs Admins
  - description: Alarms are triggered based on certain events. Alarms could be configured using an Alarm Template.
    name: Orgs Alarms
  - description: An Alarm Template is a set of Alarm Rules that could be applied to one or more sites (while each site can only pick one Alarm Template), or to the whole org.
    name: Orgs Alarm Templates
  - name: Orgs AP Templates
  - name: Orgs API Tokens
  - name: Orgs Assets
  - name: Orgs Asset Filters
  - name: Orgs Calls
  - name: Orgs Cert
  - name: Orgs Claim
  - name: Orgs Clients
  - name: Orgs CRL
  - description: |-
      While Templates / RF Templates / Network Templates / Gateway Templates provides powerful ways to control how a Device’s configuration is derived for a Site. There are cases where you’d like another level of control at the Org Level.
      A Device Profile contains a subset of Device’s configurations you’d like a device to have. It will be merged at runtime when we’re provisioning an AP.
    name: Orgs Device Profiles
  - name: Orgs Devices
  - name: Orgs Devices Utilities
  - description: |-
      EVPN allows an alternative but more efficient LAN architecture utilizing VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding plane.
      In our implementation, following the steps to deploy EVPN topologies in a Site
    name: Orgs Devices EVPN
  - description: API Call for 3rd party devices
    name: Orgs Devices Others
  - name: Orgs Devices SSR
  - description: |
      In Zscaler UI 
       1. add Partner Integration at https://admin.zscalerbeta.net/#administration/partner-integration 
       2. Add Partner Administrator Role at https://admin.zscalerbeta.net/#administration/role-management - Name: Mist - Access: Full 
       3. add Partner Admin at https://admin.zscalerbeta.net/#administration/admin-management with - Login ID: john - email: john@abc.com 
       4. Find the cloud name for ZIA https://help.zscaler.com/zia/what-my-cloud-name-zia
    name: Orgs Devices Zscaler
  - description: Gateway Template is applied to a site for gateway(s) in a site.
    name: Orgs Gateway Templates
  - name: Orgs Guests
  - name: Orgs Inventory
  - name: Orgs Invites
  - description: |-
      Juniper Support Insight is a free service provided to all Mist customers. You can adopt your devices via a few lines CLI comands. Allowing you to 
      * get some basic information about the adopted devices 
      * web shell into device (write privilege required) 
      * upgrade (write privilege required)
    name: Orgs JSI
  - name: Orgs Licenses
  - name: Orgs Logs
  - name: Orgs Marvis
  - name: Orgs Maps
  - name: Orgs MxClusters
  - name: Orgs MxEdges
  - name: Orgs MxTunnels
  - name: Orgs NAC
  - description: |-
      Network template is intended to be applied to a Site. It works like a blueprint of the network of the site.
      All Site Settings can go into Network Templates. See Site:Site Setting for schema
      Moreover, this can be further be overwriten by individual Site Setting
    name: Orgs Network Templates
  - name: Orgs Networks
  - name: Orgs OAuth
  - name: Orgs Premium Analytics
  - name: Orgs Psks
  - description: |-
      PSK Self-Service Portals are for 
        1. **WIFI users** who want to connect to a WLAN with personal PSK, they’re told to connect to a URL where they can login (likely through company’s SSO) and get the WIFI Name / Passphrase - required input fields name, email so we can generate PSK 
        2. **PSK Admins** (they don’t have access to normal Network Admin Portal)
      When a PSK portal is created, an unique URL will be generated (e.g. https://psk.mist.com/xxxxxx)
    name: Orgs Psk Portals
  - name: Orgs RF Templates
  - name: Orgs SDK Clients
  - name: Orgs SDK Invites
  - name: Orgs SDK Templates
  - description: Security Policy is designed to audit / catch discripancies between “what’s intended to be running” versus “what’s actually running” in a network. Many big organizations have separated Security and IT team (for good reasons). Each site can be assigned a security policy. Whenever an AP is provisioned, the configuration will be checked against the security policy. Any violations will be flagged in [Device Config History](#tag/Sites-Devices/operation/searchSiteDeviceConfigHistory) where you can search for the when and where the violation occurs.
    name: Orgs SecPolicies
  - name: Orgs Services
  - name: Orgs Service Policies
  - name: Orgs Setting
  - name: Orgs Sitegroups
  - name: Orgs Sites
  - description: Site template is intended to be applied to a Site. The items in site setting which should be shared for all device types.
    name: Orgs Site Templates
  - name: Orgs SLEs
  - name: Orgs SSO Roles
  - name: Orgs SSO
  - name: Orgs Stats
  - name: Orgs Stats Tunnels
  - name: Orgs Subscriptions
  - name: Orgs Templates
  - name: Orgs Tickets
  - name: Orgs Troubleshoot
  - name: Orgs VPNs
  - name: Orgs Webhooks
  - name: Orgs Wlans
  - name: Orgs WxRules
  - name: Orgs WxTags
  - name: Orgs WxTunnels
  - description: A site represents a project, a deployment. For MSP, it can be as small as a coffee shop or a five-star 600-room hotel. A site contains a set of Maps, Wlans, Policies, Zones.
    name: Sites
  - name: Sites Alarms
  - description: Applications contains a list of applications users are interested in monitoring / routing / policying
    name: Sites Applications
  - name: Sites Anomaly
  - name: Sites Asset Filters
  - name: Sites Assets
  - name: Sites Beacons
  - name: Sites Calls
  - name: Sites Clients
  - description: |-
      Mist provides many ways (device-type specific template, site template, device profile, per-device) to configure devices for different kind of scenarios.
      The precedence goes from most specific to least specific
      Device > Device Profile > RFTemplate (for AP only) > DeviceType-specific Template > Site Template > Site Setting
    name: Sites Devices
  - name: Sites Devices APs
  - description: API Call for 3rd party devices
    name: Sites Devices Others
  - name: Sites Devices Switches
  - description: |-
      EVPN allows an alternative but more efficient LAN architecture utilizing VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding plane.
      In our implementation, following the steps to deploy EVPN topologies in a Site 
    name: Sites Devices Switches EVPN
  - name: Sites Devices Switches Virtual Chassis
  - name: Sites Devices WAN Edges
  - name: Sites Devices WAN Edges HA
  - name: Sites Devices Stats
  - name: Sites Devices Utilities
  - name: Sites Events
  - name: Sites Guests
  - name: Sites Insights
  - name: Sites Licenses
  - name: Sites Location
  - name: Sites Maps
  - name: Sites MxEdges
  - name: Sites MxTunnels
  - name: Sites Pcaps
  - name: Sites Psks
  - name: Sites Rfdiags
  - name: Sites Rogues
  - name: Sites RRM
  - name: Sites Rssizones
  - name: Sites Setting
  - name: Sites Skyatp
  - name: Sites SLEs
  - name: Sites Stats
  - name: Sites Subscriptions
  - name: Sites Synthetic Tests
  - name: Sites UI Settings
  - name: Sites vBeacons
  - name: Sites Webhooks
  - name: Sites Wired Clients
  - name: Sites Wlans
  - name: Sites WxRules
  - name: Sites WxTags
  - name: Sites WxTunnels
  - name: Sites Zones
  - name: Constants
  - name: Self
  - name: Account
  - name: Webhook Samples
paths:
  /api/v1/const/alarm_defs:
    get:
      description: Get brief definitions of all the supported alarm types.  The example field contains an example payload as you would recieve in the alarm webhook output.
      operationId: getAlarmDefinitions
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - display: Device offline
                      example:
                        aps:
                          - d420b02000fa
                        count: 1
                        group: infrastructure
                        hostnames:
                          - Vendor_AP2
                        id: f70c308f-7007-4866-9ecd-0d01842979ea
                        last_seen: 1629753888
                        org_id: 09dac91f-6e73-4100-89f7-698e0fafbb1b
                        severity: warn
                        site_id: dcfb31a1-d615-4361-8c95-b9dde05aa704
                        timestamp: 1629753888
                        type: device_down
                      fields:
                        - aps
                        - hostnames
                      group: infrastructure
                      key: device_down
                      severity: warn
              schema:
                items:
                  properties:
                    display:
                      description: Description of the alarm type
                      type: string
                    fields:
                      description: List of fields available in an alarm details payload (in REST APIs & Webhooks); e.g. `aps`, `switches`, `gateways`, `hostnames`, `ssids`, `bssids`
                      items:
                        type: string
                      type: array
                    group:
                      description: Group to which the alarm belongs
                      type: string
                    key:
                      description: Key name of an alarm type
                      type: string
                    marvis_suggestion_category:
                      description: Marvis defined category to which the alarm belongs
                      type: string
                    severity:
                      description: Severity of the alarm
                      type: string
                  required:
                    - key
                    - display
                    - group
                    - severity
                    - fields
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getAlarmDefinitions
      tags:
        - Constants
  /api/v1/const/ap_channels:
    get:
      description: Get List of Available channels per country code
      operationId: getApChannels
      parameters:
        - $ref: "#/components/parameters/country_code"
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    band24_channels:
                      "20":
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 10
                        - 11
                      "40":
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 10
                        - 11
                    band24_enabled: true
                    band5_channels:
                      "20":
                        - 36
                        - 40
                        - 44
                        - 48
                        - 52
                        - 56
                        - 60
                        - 64
                        - 100
                        - 104
                        - 108
                        - 112
                        - 116
                        - 132
                        - 136
                        - 140
                        - 149
                        - 153
                        - 157
                        - 161
                        - 165
                      "40":
                        - 36
                        - 40
                        - 44
                        - 48
                        - 52
                        - 56
                        - 60
                        - 64
                        - 100
                        - 104
                        - 108
                        - 112
                        - 132
                        - 136
                        - 149
                        - 153
                        - 157
                        - 161
                      "80":
                        - 36
                        - 40
                        - 44
                        - 48
                        - 52
                        - 56
                        - 60
                        - 64
                        - 100
                        - 104
                        - 108
                        - 112
                        - 132
                        - 136
                        - 149
                        - 153
                        - 157
                        - 161
                      dfs:
                        - 52
                        - 56
                        - 60
                        - 64
                        - 100
                        - 104
                        - 108
                        - 112
                        - 116
                        - 132
                        - 136
                        - 140
                    band5_enabled: true
                    code: 840
                    dfs_ok: true
                    key: US
                    name: United States
              schema:
                properties:
                  band24_channels:
                    additionalProperties:
                      items:
                        type: integer
                      type: array
                    description: The property key is the channel width
                    required:
                      - "20"
                      - "40"
                    type: object
                  band24_enabled:
                    type: boolean
                  band5_channels:
                    additionalProperties:
                      items:
                        type: integer
                      type: array
                    description: The property key is the channel width
                    type: object
                  band5_enabled:
                    type: boolean
                  code:
                    type: integer
                  dfs_ok:
                    type: boolean
                  key:
                    type: string
                  name:
                    type: string
                required:
                  - key
                  - name
                  - code
                  - band24_enabled
                  - band24_channels
                  - band5_enabled
                  - dfs_ok
                  - band5_channels
                type: object
          description: OK
      summary: getApChannels
      tags:
        - Constants
  /api/v1/const/ap_led_status:
    get:
      description: Get AP LED definition
      operationId: getApLedDefinition
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - code: "02"
                      description: Has no link (Seen using power injectors, but not connected to a switch)
                      key: NO_ETHERNET_LINK
                      name: No ethernet link
              schema:
                items:
                  properties:
                    code:
                      type: string
                    description:
                      type: string
                    key:
                      type: string
                    name:
                      type: string
                  required:
                    - code
                    - key
                    - name
                    - description
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getApLedDefinition
      tags:
        - Constants
  /api/v1/const/applications:
    get:
      description: Get a list of applications that Juniper-Mist APs recognize
      operationId: getApplications
      responses:
        "200":
          $ref: "#/components/responses/ConstApplications"
      summary: getApplications
      tags:
        - Constants
  /api/v1/const/call_events:
    get:
      description: Get Call Event Definitions
      operationId: getCallEventsDefinitions
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    - description: Client joined the call
                      display: Client joined the call
                      example:
                        app: zoom
                        meeting_id: "87609329850"
                        org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                        site_id: 1916d52a-4a90-11e5-8b45-1258369c38a9
                        timestamp: 1674777600
                        type: CLIENTS_JOINED_CALL
                        wcid: 82c70a73-e2e1-42f9-6da0-97db44b7b9ad
                      key: CLIENT_JOINED_CALL
                    - description: Client got abruptly disconnected from the call
                      display: Client disconnected abruptly from the call
                      example:
                        app: zoom
                        meeting_id: "87609329850"
                        org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                        reason: Network connection error.
                        site_id: 1916d52a-4a90-11e5-8b45-1258369c38a9
                        timestamp: 1674777600
                        type: CLIENT_DISCONNECTED_FROM_CALL
                        wcid: 82c70a73-e2e1-42f9-6da0-97db44b7b9ad
                      key: CLIENT_DISCONNECTED_FROM_CALL
                    - description: Client left the call
                      display: Client left the call
                      example:
                        app: zoom
                        meeting_id: "87609329850"
                        org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                        site_id: 1916d52a-4a90-11e5-8b45-1258369c38a9
                        timestamp: 1674777600
                        type: CLIENT_LEFT_CALL
                        wcid: 82c70a73-e2e1-42f9-6da0-97db44b7b9ad
                      key: CLIENT_LEFT_CALL
                    - description: Zoom/Teams CPU usage is high
                      display: High CPU Observed
                      example:
                        app: zoom
                        org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                        timestamp: 1674777600
                        type: HIGH_CPU_OBSERVED
                      key: HIGH_CPU_OBSERVED
              schema:
                items:
                  properties:
                    description:
                      type: string
                    display:
                      type: string
                    example:
                      properties:
                        app:
                          type: string
                        meeting_id:
                          type: string
                        org_id:
                          type: string
                        site_id:
                          type: string
                        timestamp:
                          type: integer
                        type:
                          type: string
                        wcid:
                          type: string
                      type: object
                    key:
                      type: string
                  type: object
                type: array
                x-examples:
                  Example 1:
                    - description: Client joined the call
                      display: Client joined the call
                      example:
                        app: zoom
                        meeting_id: "87609329850"
                        org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                        site_id: 1916d52a-4a90-11e5-8b45-1258369c38a9
                        timestamp: 1674777600
                        type: CLIENTS_JOINED_CALL
                        wcid: 82c70a73-e2e1-42f9-6da0-97db44b7b9ad
                      key: CLIENT_JOINED_CALL
                    - description: Client got abruptly disconnected from the call
                      display: Client disconnected abruptly from the call
                      example:
                        app: zoom
                        meeting_id: "87609329850"
                        org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                        reason: Network connection error.
                        site_id: 1916d52a-4a90-11e5-8b45-1258369c38a9
                        timestamp: 1674777600
                        type: CLIENT_DISCONNECTED_FROM_CALL
                        wcid: 82c70a73-e2e1-42f9-6da0-97db44b7b9ad
                      key: CLIENT_DISCONNECTED_FROM_CALL
                    - description: Client left the call
                      display: Client left the call
                      example:
                        app: zoom
                        meeting_id: "87609329850"
                        org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                        site_id: 1916d52a-4a90-11e5-8b45-1258369c38a9
                        timestamp: 1674777600
                        type: CLIENT_LEFT_CALL
                        wcid: 82c70a73-e2e1-42f9-6da0-97db44b7b9ad
                      key: CLIENT_LEFT_CALL
                    - description: Zoom/Teams CPU usage is high
                      display: High CPU Observed
                      example:
                        app: zoom
                        org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                        timestamp: 1674777600
                        type: HIGH_CPU_OBSERVED
                      key: HIGH_CPU_OBSERVED
          description: OK
      summary: getCallEventsDefinitions
      tags:
        - Constants
  /api/v1/const/client_events:
    get:
      description: Get List of available Client Events
      operationId: getClientEventsDefinitions
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - display: DHCP Success
                      key: CLIENT_IP_ASSIGNED
              schema:
                items:
                  properties:
                    display:
                      type: string
                    key:
                      type: string
                  required:
                    - key
                    - display
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getClientEventsDefinitions
      tags:
        - Constants
  /api/v1/const/countries:
    get:
      description: Get List of available Country Codes
      operationId: getCountryCodes
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - alpha2: US
                      certified: true
                      name: United States
                      numeric: 840
                    - alpha2: JP
                      certified: true
                      name: Japan
                      numeric: 392
              schema:
                items:
                  properties:
                    alpha2:
                      type: string
                    certified:
                      type: boolean
                    name:
                      type: string
                    numeric:
                      type: number
                  required:
                    - alpha2
                    - numeric
                    - name
                    - certified
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getCountryCodes
      tags:
        - Constants
  /api/v1/const/default_gateway_config:
    get:
      description: Generate Default Gateway Config
      operationId: getGetawayDefaultConfig
      parameters:
        - description: model the default gateway config is intended (as the default LAN/WAN port can differ)
          in: query
          name: model
          schema:
            type: string
        - description: whether the config is intended for HA
          in: query
          name: ha
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    dhcpd_config:
                      lan:
                        ip_end: 192.168.1.254
                        ip_start: 192.168.1.2
                    ip_configs:
                      lan:
                        ip: 192.168.1.1
                        type: static
                    networks:
                      lan:
                        name: lan
                        subnet: 192.168.1.0/24
                        vlan_id: 1
                    path_preferences:
                      wan:
                        paths:
                          - name: wan
                            type: wan
                    port_config:
                      cl-1/0/0:
                        ip_config:
                          type: dhcp
                        name: lte
                        usage: wan
                        wan_type: lte
                      "ge-0/0/0,ge-0/0/7":
                        ip_config:
                          type: dhcp
                        name: wan
                        usage: wan
                      ge-0/0/1-6:
                        port_network: lan
                        usage: lan
                    service_policies:
                      - action: allow
                        name: Internet
                        path_preference: wan
                        services:
                          - any
                        tenants:
                          - lan
              schema:
                additionalProperties: true
                type: object
          description: OK
      summary: getGetawayDefaultConfig
      tags:
        - Constants
  /api/v1/const/device_events:
    get:
      description: Get list of device events
      operationId: getDeviceEventsDefinitions
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - description: AP was assigned to a site
                      display: AP Assigned
                      example:
                        ap: 5c5b35000001
                        audit_id: e9a88814-fa81-5bdc-34b0-84e8735420e5
                        org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                        site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                        timestamp: 1552408871
                        type: AP_ASSIGNED
                      key: AP_ASSIGNED
              schema:
                items:
                  properties:
                    description:
                      minLength: 1
                      type: string
                    display:
                      minLength: 1
                      type: string
                    example:
                      type: object
                    key:
                      minLength: 1
                      type: string
                  required:
                    - key
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
                x-examples:
                  example-1:
                    - description: AP was assigned to a site
                      display: AP Assigned
                      example:
                        ap: 5c5b35000001
                        audit_id: e9a88814-fa81-5bdc-34b0-84e8735420e5
                        org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                        site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                        timestamp: 1552408871
                        type: AP_ASSIGNED
                      key: AP_ASSIGNED
          description: OK
      summary: getDeviceEventsDefinitions
      tags:
        - Constants
  /api/v1/const/device_models:
    get:
      description: Get a list of AP device models for the Mist Site
      operationId: getDeviceModels
      responses:
        "200":
          $ref: "#/components/responses/ConstDeviceModels"
      summary: getDeviceModels
      tags:
        - Constants
  /api/v1/const/insight_metrics:
    get:
      description: Get Available Insight Metrics
      operationId: getSiteAvailableInsightMetrics
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    bytes:
                      description: aggregated bytes over time
                      example:
                        - 185
                        - 197
                        - 250
                      intervals:
                        10m:
                          interval: 600
                          max_age: 86400
                        1h:
                          interval: 3600
                          max_age: 1209600
                      report_durations:
                        1d:
                          duration: 86400
                          interval: 3600
                        1w:
                          duration: 604800
                          interval: 3600
                      report_scopes:
                        - site
                        - org
                      scopes:
                        - site
                        - ap
                        - client
                      type: timeseries
                      unit: byte
                    num_clients:
                      description: number of client over time
                      example:
                        - 18
                        - null
                        - 15
                      intervals:
                        10m:
                          interval: 600
                          max_age: 86400
                        1h:
                          interval: 3600
                          max_age: 1209600
                      report_durations:
                        1d:
                          duration: 86400
                          interval: 3600
                        1w:
                          duration: 604800
                          interval: 3600
                      report_scopes:
                        - site
                        - org
                      scopes:
                        - site
                        - ap
                        - device
                      type: timeseries
                      unit: ""
              schema:
                additionalProperties:
                  properties:
                    description:
                      type: string
                    example:
                      items:
                        anyOf:
                          - nullable: true
                            type: object
                          - nullable: true
                            type: integer
                          - nullable: true
                            type: number
                          - nullable: true
                            type: string
                      type: array
                    intervals:
                      additionalProperties:
                        properties:
                          interval:
                            type: number
                          max_age:
                            type: number
                        type: object
                      type: object
                    report_intervals:
                      additionalProperties:
                        properties:
                          interval:
                            type: number
                        type: object
                      type: object
                    report_scopes:
                      items:
                        type: string
                      type: array
                    scopes:
                      items:
                        type: string
                      type: array
                    type:
                      type: string
                    unit:
                      type: string
                  type: object
                description: The property key is the metric name
                type: object
          description: OK
      summary: getSiteAvailableInsightMetrics
      tags:
        - Constants
  /api/v1/const/languages:
    get:
      description: Get Languages
      operationId: getSiteLanguages
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - display: English (US)
                      display_native: English (US)
                      key: en-US
                    - display: Chinese Traditional (Taiwan)
                      display_native: 中文（台灣）
                      key: zh-TW
              schema:
                items:
                  properties:
                    display:
                      type: string
                    display_native:
                      type: string
                    key:
                      type: string
                  required:
                    - display
                    - display_native
                    - key
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getSiteLanguages
      tags:
        - Constants
  /api/v1/const/mxedge_events:
    get:
      description: Get List of available MX Edge Events
      operationId: getMxEdgeEventsDefinitions
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - description: Config change on ME was triggered as a result of change made by user
                      display: ME Config changed by user
                      example:
                        audit_id: e9a88814-fa81-5bdc-34b0-84e8735420e5
                        mxcluster_id: ed4665ed-c9ad-4835-8ca5-dda642765ad3
                        mxedge_id: 387804a7-3474-85ce-15a2-f9a9684c9c90
                        org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                        service: mxagent
                        site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                        timestamp: 1552408871
                        type: ME_CONFIG_CHANGED_BY_USER
                      key: ME_CONFIG_CHANGED_BY_USER
              schema:
                items:
                  properties:
                    description:
                      type: string
                    display:
                      type: string
                    example:
                      properties: {}
                      type: object
                    key:
                      type: string
                  type: object
                type: array
                x-examples:
                  example-1:
                    - description: Config change on ME was triggered as a result of change made by user
                      display: ME Config changed by user
                      example: {}
                      key: ME_CONFIG_CHANGED_BY_USER
          description: OK
      summary: getMxEdgeEventsDefinitions
      tags:
        - Constants
  /api/v1/const/mxedge_models:
    get:
      description: get available Mx Edge models
      operationId: getMxEdgeModels
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - custom_ports: true
                      display: string
                      model: string
                      ports:
                        "0":
                          display: string
                          speed: 0
                        "1":
                          display: string
                          speed: 0
                        "2":
                          display: string
                          speed: 0
                        "3":
                          display: string
                          speed: 0
              schema:
                items:
                  properties:
                    custom_ports:
                      type: boolean
                    display:
                      type: string
                    model:
                      type: string
                    ports:
                      properties:
                        "0":
                          properties:
                            display:
                              type: string
                            speed:
                              type: integer
                          type: object
                        "1":
                          properties:
                            display:
                              type: string
                            speed:
                              type: integer
                          type: object
                        "2":
                          properties:
                            display:
                              type: string
                            speed:
                              type: integer
                          type: object
                        "3":
                          properties:
                            display:
                              type: string
                            speed:
                              type: integer
                          type: object
                      type: object
                  type: object
                type: array
                x-examples:
                  example-1:
                    - display: X1
                      model: ME-100
                      ports:
                        "0":
                          display: ge0
                          speed: 1000
                        "1":
                          display: ge1
                          speed: 1000
                    - display: X1
                      model: ME-X1
                      ports:
                        "0":
                          display: ge0
                          speed: 1000
                        "1":
                          display: ge1
                          speed: 1000
                    - display: X1-M
                      model: ME-X1-M
                      ports:
                        "0":
                          display: ge0
                          speed: 1000
                        "1":
                          display: ge1
                          speed: 1000
                        "2":
                          display: ge2
                          speed: 1000
                        "3":
                          display: ge3
                          speed: 1000
                    - display: X5
                      model: ME-200
                      ports:
                        "0":
                          display: xe0
                          speed: 10000
                        "1":
                          display: xe1
                          speed: 10000
                    - display: X5
                      model: ME-201
                      ports:
                        "0":
                          display: xe0
                          speed: 10000
                        "1":
                          display: xe1
                          speed: 10000
                    - display: X5
                      model: ME-X5
                      ports:
                        "0":
                          display: xe0
                          speed: 10000
                        "1":
                          display: xe1
                          speed: 10000
                    - display: X5-M
                      model: ME-250
                      ports:
                        "0":
                          display: xe0
                          speed: 10000
                        "1":
                          display: xe1
                          speed: 10000
                        "2":
                          display: xe2
                          speed: 10000
                        "3":
                          display: xe3
                          speed: 10000
                    - display: X5-M
                      model: ME-251
                      ports:
                        "0":
                          display: xe0
                          speed: 10000
                        "1":
                          display: xe1
                          speed: 10000
                        "2":
                          display: xe2
                          speed: 10000
                        "3":
                          display: xe3
                          speed: 10000
                    - display: X5-M
                      model: ME-X5-M
                      ports:
                        "0":
                          display: xe0
                          speed: 10000
                        "1":
                          display: xe1
                          speed: 10000
                        "2":
                          display: xe2
                          speed: 10000
                        "3":
                          display: xe3
                          speed: 10000
                    - display: X10
                      model: ME-300
                      ports:
                        "0":
                          display: xe0
                          speed: 10000
                        "1":
                          display: xe1
                          speed: 10000
                        "2":
                          display: xe2
                          speed: 10000
                        "3":
                          display: xe3
                          speed: 10000
                    - display: X10
                      model: ME-301
                      ports:
                        "0":
                          display: xe0
                          speed: 10000
                        "1":
                          display: xe1
                          speed: 10000
                        "2":
                          display: xe2
                          speed: 10000
                        "3":
                          display: xe3
                          speed: 10000
                    - display: X10
                      model: ME-X10
                      ports:
                        "0":
                          display: xe0
                          speed: 10000
                        "1":
                          display: xe1
                          speed: 10000
                        "2":
                          display: xe2
                          speed: 10000
                        "3":
                          display: xe3
                          speed: 10000
                    - display: VM
                      model: ME-VM
                      ports:
                        "0":
                          display: ge0
                          speed: 1000
                        "1":
                          display: ge1
                          speed: 1000
                    - custom_ports: true
                      model: Custom
          description: OK
      summary: getMxEdgeModels
      tags:
        - Constants
  /api/v1/const/system_events:
    get:
      deprecated: true
      description: Get list of available system events
      operationId: getSystemEventsDefinitions
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - display: AP Reboot
                      group: ap_health
                      key: ap_reboot
              schema:
                items:
                  properties:
                    display:
                      type: string
                    group:
                      type: string
                    key:
                      type: string
                  required:
                    - key
                    - display
                    - group
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getSystemEventsDefinitions
      tags:
        - Constants
  /api/v1/const/traffic_types:
    get:
      description: Get List of identified traffic
      operationId: getTrafficTypes
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - dscp: 0
                      failover_policy: string
                      name: string
                      traffic_class: string
              schema:
                description: Get Traffic Types Constants
                items:
                  properties:
                    dscp:
                      type: number
                    failover_policy:
                      minLength: 1
                      type: string
                    name:
                      minLength: 1
                      type: string
                    traffic_class:
                      minLength: 1
                      type: string
                  required:
                    - name
                    - failover_policy
                    - traffic_class
                    - dscp
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
                x-examples:
                  example-1:
                    - dscp: 0
                      failover_policy: non-revertible
                      name: data_best_effort
                      traffic_class: low
          description: OK
      summary: getTrafficTypes
      tags:
        - Constants
  "/api/v1/installer/orgs/{org_id}/alarmtemplates":
    get:
      description: Get the list of alarm templates
      operationId: getInstallerAlarmTemplates
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - id: 684dfc5c-fe77-2290-eb1d-ef3d677fe168
                      name: AlarmTemplate 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                    - id
                    - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getInstallerAlarmTemplates
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
  "/api/v1/installer/orgs/{org_id}/deviceprofiles":
    get:
      description: Get Device Profiles
      operationId: getInstallerDeviceProfiles_WIP_
      parameters: []
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                      name: DeviceProfile 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                    - id
                    - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getInstallerDeviceProfiles_WIP_
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
  "/api/v1/installer/orgs/{org_id}/devices":
    get:
      description: Get recently claimed devices
      operationId: getInstallerListOfRenctlyClaimedDevices
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - connected: true
                      mac: 5c5b35000018
                      model: AP41
                      serial: FXLH2015150025
                    - connected: false
                      deviceprofile_name: SJ1
                      name: hallway
                      site_name: SJ1
                    - connected: true
                      height: 2.7
                      map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      orientation: 90
                      x: 150
                      y: 300
              schema:
                items:
                  properties:
                    connected:
                      type: boolean
                    height:
                      type: number
                    map_id:
                      format: uuid
                      type: string
                    orientation:
                      type: number
                    x:
                      type: number
                    y:
                      type: number
                  required:
                    - connected
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getInstallerListOfRenctlyClaimedDevices
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
    post:
      description: This mirrors `POST /api/v1/orgs/{org_id}/inventory` (see Inventory API)
      operationId: claimInstallerDevices
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  - 6JG8E-PTFV2-A9Z2N
                  - DVH4V-SNMSZ-PDXBR
            schema:
              $ref: "#/components/schemas/Model_array_string"
        description: Request Body
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    added:
                      - 6JG8E-PTFV2-A9Z2N
                    duplicated:
                      - DVH4V-SNMSZ-PDXBR
                    error:
                      - PO1025335ohoh
                    inventory_added:
                      - mac: 5c5b35000018
                        magic: 6JG8EPTFV2A9Z2N
                        model: AP41
                        serial: FXLH2015150025
                        type: ap
                    inventory_duplicated:
                      - mac: 5c5b35000012
                        magic: DVH4VSNMSZPDXBR
                        model: AP41
                        serial: FXLH2015150027
                        type: ap
              schema:
                properties:
                  added:
                    items:
                      type: string
                    type: array
                  duplicated:
                    items:
                      type: string
                    type: array
                  error:
                    items:
                      type: string
                    type: array
                  inventory_added:
                    items:
                      properties:
                        mac:
                          type: string
                        magic:
                          type: string
                        model:
                          type: string
                        serial:
                          type: string
                        type:
                          type: string
                      required:
                        - serial
                        - model
                        - type
                        - magic
                        - mac
                      type: object
                    minItems: 1
                    type: array
                    uniqueItems: true
                  inventory_duplicated:
                    items:
                      properties:
                        mac:
                          type: string
                        magic:
                          type: string
                        model:
                          type: string
                        serial:
                          type: string
                        type:
                          type: string
                      required:
                        - serial
                        - model
                        - type
                        - magic
                        - mac
                      type: object
                    minItems: 1
                    type: array
                    uniqueItems: true
                required:
                  - added
                  - duplicated
                  - error
                  - inventory_added
                  - inventory_duplicated
                type: object
          description: OK
        "400":
          description: Bad Request if none of the entries are valid
      summary: claimInstallerDevices
      tags:
        - Installer
  "/api/v1/installer/orgs/{org_id}/devices/{device_mac}":
    delete:
      description: Unassign recently claimed devices
      operationId: unassignInstallerRecentlyClaimedDevice
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: unassignInstallerRecentlyClaimedDevice
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/device_mac"
    put:
      description: |-
        Provision or Replace a device 

        If replacing_mac is in the request payload, other attributes are ignored, we attempt to replace existing device (with mac replacing_mac) with the inventory device being configured. The replacement device must be in the inventory but not assigned, and the replacing_mac device must be assigned to a site, and satisfy grace period requirements. The Device replaced will become unassigned.
      operationId: provisionInstallerDevices
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  deviceprofile_name: string
                  for_site: true
                  height: 0
                  map_id: 09d2b626-2e4e-45ef-a3c4-e6aeb6c83db1
                  name: string
                  orientation: 0
                  site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                  site_name: string
                  x: 0
                  y: 0
            schema:
              $ref: "#/components/schemas/Installer_devices"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          content:
            application/json:
              examples:
                invalid mac given for replacing_mac:
                  value:
                    detail: invalid replacing_mac
                inventory device is already assigned:
                  value:
                    detail: device already assigned
                outsite_of_grace_period:
                  value:
                    detail: outside of grace period
                replacing_mac device is not assigned to a site:
                  value:
                    detail: replacing_mac device is unassigned
                replacing_mac device last modified outside of grace period:
                  value:
                    detail: replacing_mac device outside of grace period
              schema:
                properties:
                  detail:
                    type: string
                required:
                  - detail
                type: object
          description: Bad Request
        "404":
          content:
            application/json:
              examples:
                replacing_mac device is not in org inventory:
                  value:
                    detail: replacing_mac inventory not found
                replacing_mac device not found:
                  value:
                    detail: replacing_mac device not found
              schema:
                properties:
                  detail:
                    type: string
                type: object
                x-examples:
                  example-1:
                    detail: replacing_mac inventory not found
          description: Not Found
      summary: provisionInstallerDevices
      tags:
        - Installer
  "/api/v1/installer/orgs/{org_id}/devices/{device_mac}/locate":
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/device_mac"
    post:
      description: Locate a Device by blinking it’s LED, it’s a persisted state that has to be stopped by calling Stop Locating API
      operationId: startInstallerLocateDevice
      requestBody:
        content:
          application/json:
            schema:
              properties: {}
              type: object
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: startInstallerLocateDevice
      tags:
        - Installer
  "/api/v1/installer/orgs/{org_id}/devices/{device_mac}/unlocate":
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/device_mac"
    post:
      description: Stop it
      operationId: stopInstallerLocateDevice
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: stopInstallerLocateDevice
      tags:
        - Installer
  "/api/v1/installer/orgs/{org_id}/devices/{device_mac}/{image_name}":
    delete:
      description: delete image
      operationId: deleteInstallerDeviceImage
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: deleteInstallerDeviceImage
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/image_name"
      - $ref: "#/components/parameters/device_mac"
    post:
      description: Add image
      operationId: addInstallerDeviceImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/image_upload"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: addInstallerDeviceImage
      tags:
        - Installer
  "/api/v1/installer/orgs/{org_id}/rftemplates":
    get:
      description: Get RF Template
      operationId: getInstallerRfTemplatesNames
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - id: bb8a9017-1e36-5d6c-6f2b-551abe8a76a2
                      name: RFTemplate 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                    - id
                    - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getInstallerRfTemplatesNames
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
  "/api/v1/installer/orgs/{org_id}/secpolicies":
    get:
      description: Get Secuity Policies
      operationId: getInstallerSecPolicies
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - id: 3bcd0beb-5d0a-4cbd-92c1-14aea91e98ef
                      name: SecuPolicy 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                    - id
                    - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getInstallerSecPolicies
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
  "/api/v1/installer/orgs/{org_id}/sitegroups":
    get:
      description: Get Site Groups
      operationId: getInstallerSiteGroups
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - id: 581328b6-e382-f54e-c9dc-999983183a34
                      name: SiteGroup 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                    - id
                    - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getInstallerSiteGroups
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
  "/api/v1/installer/orgs/{org_id}/sites":
    get:
      description: Get Sites
      operationId: getInstallerSites
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - address: 1601 S. Deanza Blvd., Cupertino, CA, 95014
                      country_code: US
                      id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      latlng:
                        lat: 37.295833
                        lng: -122.032946
                      name: Mist Office
                      timezone: America/Los_Angeles
              schema:
                items:
                  properties:
                    address:
                      type: string
                    country_code:
                      type: string
                    id:
                      format: uuid
                      type: string
                    latlng:
                      properties:
                        lat:
                          type: number
                        lng:
                          type: number
                      required:
                        - lat
                        - lng
                      type: object
                    name:
                      type: string
                    timezone:
                      type: string
                  required:
                    - id
                    - name
                    - timezone
                    - country_code
                    - latlng
                    - address
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
      summary: getInstallerSites
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
  "/api/v1/installer/orgs/{org_id}/sites/{site_name}":
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/site_name"
    put:
      description: Often the Installers are asked to assign Devices to Sites. The Sites can either be pre-created or created/modified by the Installer. If this is an update, the same grace period also applies.
      operationId: createOrUpdateInstallerSites
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  address: 1601 S. Deanza Blvd., Cupertino, CA, 95014
                  country_code: US
                  latlng:
                    lat: 37.295833
                    lng: -122.032946
                  name: string
                  rftemplate_name: rftemplate1
                  sitegroup_names:
                    - sg1
                    - sg2
                  timezone: America/Los_Angeles
            schema:
              $ref: "#/components/schemas/site"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: createOrUpdateInstallerSites
      tags:
        - Installer
  "/api/v1/installer/orgs/{org_id}/sites/{site_name}/maps":
    get:
      description: Get Maps
      operationId: getInstallerMaps
      responses:
        "200":
          $ref: "#/components/responses/MapsArray"
      summary: getInstallerMaps
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/site_name"
  "/api/v1/installer/orgs/{org_id}/sites/{site_name}/maps/import":
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/site_name"
    post:
      description: Import data from files is a multipart POST which has an file, an optional json, and an optional csv, to create floorplan, assign & place ap if name or mac matches
      operationId: importInstallerMap
      requestBody:
        content:
          multipart/form-data:
            examples:
              example-1:
                value:
                  csv: string
                  file: string
                  json:
                    import_all_floorplans: false
                    import_height: false
                    import_orientation: false
                    vendor_name: ekahau
            schema:
              properties:
                csv:
                  format: binary
                  type: string
                file:
                  format: binary
                  type: string
                json:
                  properties:
                    import_all_floorplans:
                      default: false
                      type: boolean
                    import_height:
                      default: false
                      type: boolean
                    import_orientation:
                      default: false
                      type: boolean
                    vendor_name:
                      enum:
                        - ibwave
                        - ekahau
                      type: string
                  required:
                    - vendor_name
                  type: object
              type: object
        description: ""
      responses:
        "200":
          $ref: "#/components/responses/MapImport"
      summary: importInstallerMap
      tags:
        - Installer
  "/api/v1/installer/orgs/{org_id}/sites/{site_name}/maps/{map_id}":
    delete:
      description: Delete Map
      operationId: deleteInstallerMap
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: deleteInstallerMap
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/site_name"
      - $ref: "#/components/parameters/map_id"
    post:
      description: Create a MAP
      operationId: createInstallerMap
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  flags: {}
                  height: 0
                  latlng_br:
                    lat: string
                    lng: string
                  latlng_tl:
                    lat: string
                    lng: string
                  locked: true
                  name: string
                  orientation: 0
                  origin_x: 0
                  origin_y: 0
                  ppm: 0
                  sitesurvey_path:
                    - coordinate: string
                      id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      name: string
                      nodes:
                        - edges:
                            N2: string
                          name: string
                          position:
                            x: 0
                            y: 0
                  thumbnail_url: string
                  type: image
                  url: string
                  view: roadmap
                  wall_path:
                    coordinate: string
                    nodes:
                      - edges:
                          N2: string
                        name: string
                        position:
                          x: 0
                          y: 0
                  wayfinding:
                    micello:
                      account_key: string
                      default_level_id: 0
                      map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    snap_to_path: true
                  wayfinding_path:
                    coordinate: string
                    nodes:
                      - edges:
                          N2: string
                        name: string
                        position:
                          x: 0
                          y: 0
                  width: 0
            schema:
              $ref: "#/components/schemas/map"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Map"
      summary: createInstallerMap
      tags:
        - Installer
    put:
      description: Update map
      operationId: updateInstallerMap
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/map"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Map"
      summary: updateInstallerMap
      tags:
        - Installer
  "/api/v1/installer/sites/{site_name}/optimize":
    get:
      description: After installation is considered complete (APs are placed on maps, all powered up), you can trigger an optimize operation where RRM will kick in (and maybe other things in the future) before it’s automatically scheduled.
      operationId: optimizeInstallerRrm
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: optimizeInstallerRrm
      tags:
        - Installer
    parameters:
      - $ref: "#/components/parameters/site_name"
  "/api/v1/invite/verify/{token}":
    parameters:
      - $ref: "#/components/parameters/token"
    post:
      description: "**Note**: another call to ```GET /api/v1/self``` is required to see the new set of privileges"
      operationId: verifyAdminInvite
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "404":
          content:
            application/json:
              examples:
                invalid secret:
                  value:
                    detail: invalid secret
                invite created by self:
                  value:
                    detail: invite created by self
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not Found
      summary: verifyAdminInvite
      tags:
        - Admin
  /api/v1/login:
    post:
      description: Log in with email/password
      operationId: login
      requestBody:
        content:
          application/json:
            examples:
              with 2FA:
                value:
                  email: string
                  password: string
                  two_factor: string
              without 2FA:
                value:
                  email: string
                  password: string
            schema:
              properties:
                email:
                  type: string
                password:
                  type: string
                two_factor:
                  type: string
              required:
                - email
                - password
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                2FA Required:
                  value:
                    email: test@mistsys.com
                    two_factor_passed: false
                    two_factor_required: true
                OK:
                  value: {}
              schema:
                properties:
                  email:
                    type: string
                  two_factor_passed:
                    type: boolean
                  two_factor_required:
                    type: boolean
                type: object
          description: Login Success
          headers:
            Set-Cookie:
              description: Session Cookie if login/password authentication is successful
              schema:
                example: csrftoken=vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx; expires=Tue, 15-Mar-2016 19:47:20 GMT; Max-Age=31449600; Path=/
                type: string
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    detail: sso admin login needs to be initiated by IdP
                    forward_url: https://my.sso/idp_sso_url
              schema:
                oneOf:
                  - properties:
                      detail:
                        type: string
                      forward_url:
                        type: string
                    required:
                      - detail
                    type: object
          description: Login Failed
      summary: login
      tags:
        - Login
  /api/v1/login/lookup:
    post:
      description: Login Lookup
      operationId: lookup
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  email: test@mistsys.com
            schema:
              $ref: "#/components/schemas/Model_object_email"
        description: Request Body
      responses:
        "200":
          content:
            application/json:
              examples:
                SSO user exists:
                  value:
                    sso_url: https://my.sso/idp_sso_url
                local user exists:
                  value: {}
              schema:
                properties:
                  sso_url:
                    type: string
                type: object
          description: account exists
        "404":
          description: user does not exist
      summary: lookup
      tags:
        - Login
  "/api/v1/login/oauth/{provider}":
    delete:
      description: Unlink OAuth2 Provider
      operationId: unlinkOAuth2Provider
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: unlinkOAuth2Provider
      tags:
        - Login With OAuth2
    get:
      description: Obtain Authorization URL for Login
      operationId: getOAuth2AuthorizationUrlForLogin
      parameters:
        - in: query
          name: forward
          schema:
            example: http://manage.mist.com/oauth/callback.html
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    authorization_url: https://accounts.google.com/o/oauth2/v2/auth?.....
                    client_id: 173131512-mpbnju32.apps.googleusercontent.com
              schema:
                properties:
                  authorization_url:
                    type: string
                  client_id:
                    type: string
                required:
                  - client_id
                  - authorization_url
                type: object
          description: OK
      summary: getOAuth2AuthorizationUrlForLogin
      tags:
        - Login With OAuth2
    parameters:
      - in: path
        name: provider
        required: true
        schema:
          type: string
    post:
      description: Login via OAuth2
      operationId: loginOAuth2
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  code: 4/S9tegDeLkrYg0L9pWNXV4cgMVbbr3SR9t693A2kSHzw
            schema:
              properties:
                code:
                  type: string
              required:
                - code
              type: object
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: loginOAuth2
      tags:
        - Login With OAuth2
  /api/v1/login/two_factor:
    post:
      description: Send 2FA Code
      operationId: twoFactor
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  two_factor: "123456"
            schema:
              properties:
                two_factor:
                  type: string
              required:
                - two_factor
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: two_factor code is correct
          headers: {}
        "401":
          description: two_factor code is incorrect or the user hasn’t login yet
        "404":
          description: the user doesn’t have 2FA enabled
      summary: twoFactor
      tags:
        - Login With OAuth2
  /api/v1/logout:
    post:
      description: Logout
      operationId: logout
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    forward_url: https://my.sso/custom_logout_url
              schema:
                properties:
                  forward_url:
                    description: if configured in SSO as custom_logout_url
                    type: string
                type: object
          description: OK
      summary: logout
      tags:
        - Login
  "/api/v1/mobile/verify/{secret}":
    parameters:
      - $ref: "#/components/parameters/secret"
    post:
      description: Verify secret
      operationId: activateSdkInvite
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  device_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              $ref: "#/components/schemas/Model_object_device_id"
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    name: Macy's
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    secret: device-specific-secret
              schema:
                properties:
                  name:
                    type: string
                  org_id:
                    format: uuid
                    type: string
                  secret:
                    type: string
                required:
                  - name
                  - org_id
                  - secret
                type: object
          description: OK
      summary: activateSdkInvite
      tags:
        - Mobile
  /api/v1/msps:
    post:
      description: Create MSP account
      operationId: createMsp
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  name: MSP
            schema:
              $ref: "#/components/schemas/Msp"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Msp"
      summary: createMsp
      tags:
        - Msps
  "/api/v1/msps/{msp_id}":
    delete:
      description: Deleting MSP removes the MSP and OrgGroup under the MSP as well as all privileges associated with them. It does not remove any Org or Admins
      operationId: deleteMsp
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: deleteMsp
      tags:
        - Msps
    get:
      description: Get MSP Detail
      operationId: getMspDetails
      responses:
        "200":
          $ref: "#/components/responses/Msp"
      summary: getMspDetails
      tags:
        - Msps Admins
    parameters:
      - $ref: "#/components/parameters/msp_id"
    put:
      description: Update MSP
      operationId: updateMsp
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  name: MSP
            schema:
              $ref: "#/components/schemas/Msp"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Msp"
      summary: updateMsp
      tags:
        - Msps
  "/api/v1/msps/{msp_id}/admins":
    get:
      description: Get MSP Admins
      operationId: getMspAdmins
      responses:
        "200":
          $ref: "#/components/responses/AdminsArray"
      summary: getMspAdmins
      tags:
        - Msps Admins
    parameters:
      - $ref: "#/components/parameters/msp_id"
  "/api/v1/msps/{msp_id}/admins/{admin_id}":
    delete:
      description: This removes all privileges this admin has against the MSP. This goes deep all the way to the sites
      operationId: revokeMspAdmin
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: revokeMspAdmin
      tags:
        - Msps Admins
    get:
      description: Get MSP Admins
      operationId: getMspAdmin
      responses:
        "200":
          $ref: "#/components/responses/Admin"
      summary: getMspAdmin
      tags:
        - Msps Admins
    parameters:
      - $ref: "#/components/parameters/msp_id"
      - $ref: "#/components/parameters/admin_id"
    put:
      description: Update MSP Admin
      operationId: updateMspAdmin
      requestBody:
        content:
          application/json:
            examples:
              example-2:
                value:
                  admin_id: 919c4da0-421a-479a-918d-df80e426d3bf
                  email: user@example.com
                  enable_two_factor: true
                  first_name: string
                  last_name: string
                  oauth_google: true
                  privileges:
                    - for_site: true
                      msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                        - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                        - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  session_expiry: 0
                  tags:
                    - string
                  two_factor_verified: true
            schema:
              $ref: "#/components/schemas/admin"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Admin"
      summary: updateMspAdmin
      tags:
        - Msps Admins
  "/api/v1/msps/{msp_id}/claim":
    parameters:
      - $ref: "#/components/parameters/msp_id"
    post:
      description: Claim an Order by Activation Code
      operationId: claimMspLicence
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  code: ZHT3K-H36DT-MG85D-M61AC
            schema:
              description: ""
              properties:
                code:
                  description: activation code
                  minLength: 1
                  type: string
              required:
                - code
              type: object
              x-examples:
                example-1:
                  code: ZHT3K-H36DT-MG85D-M61AC
        description: ""
      responses:
        "200":
          $ref: "#/components/responses/claimLicense"
        "400":
          description: Response when the key is invalid (or already used)
      summary: claimMspLicence
      tags:
        - Msps Licenses
  "/api/v1/msps/{msp_id}/insights/{metric}":
    get:
      description: Get MSP SLEs (all/worst Orgs ...)
      operationId: getMspSle
      parameters:
        - description: see /api/v1/const/insight_metrics for more details
          in: query
          name: sle
          schema:
            type: string
        - $ref: "#/components/parameters/duration"
        - $ref: "#/components/parameters/interval"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
      responses:
        "200":
          content:
            application/json:
              examples:
                orgs-sle:
                  value:
                    end: 1643706000
                    interval: 3600
                    limit: 100
                    results:
                      - ap-availability: 0.9919400860511628
                        ap-health: 0.967607512909879
                        capacity: 0.7484652273070254
                        coverage: 0.91217567374857
                        num_aps: 13
                        num_clients: 12
                        org_id: 978c48e6-6ef6-11e6-8bbf-02e208b2d34f
                        roaming: 0.991735537682683
                        roaming-exp: 0.991735537682683
                        successful-connect: 0.46052632135780236
                        throughput: 0.6775702123846302
                        time-to-connect: 0.9349112447196916
                      - ap-availability: 0.9990384613092129
                        ap-health: 0.48201754375507955
                        capacity: 0.9702673450306101
                        coverage: 0.8335392334930375
                        num_aps: 1
                        num_clients: 6
                        org_id: 49ff76e0-a283-4e7d-b38d-041f1e9aff3c
                        roaming: 1
                        roaming-exp: 1
                        successful-connect: 1
                        throughput: 0
                        time-to-connect: 1
                      - ap-availability: 1
                        ap-health: 0.982456140612301
                        capacity: 1
                        coverage: 0.9276041182442488
                        num_aps: 2
                        num_clients: 3
                        org_id: 9b9b48f1-15a4-459e-86cc-9cbec9005983
                        roaming: 1
                        roaming-exp: 1
                        successful-connect: 1
                        throughput: 1
                        time-to-connect: 0.8125
                      - ap-availability: 0.9981132070973234
                        ap-health: 0.9991228068084047
                        capacity: 1
                        coverage: 1
                        num_aps: 1
                        num_clients: 0
                        org_id: eb0e1671-7a6b-472b-94c3-c187dafe5274
                        roaming: 1
                        roaming-exp: 1
                        successful-connect: 1
                        throughput: 0
                        time-to-connect: 0.5
                    start: 1643670000
              schema:
                description: ""
                properties:
                  end:
                    type: number
                  interval:
                    type: number
                  limit:
                    type: number
                  results:
                    items:
                      additionalProperties: {}
                      type: object
                    type: array
                    uniqueItems: true
                  start:
                    type: number
                required:
                  - start
                  - end
                  - interval
                  - limit
                  - results
                type: object
          description: OK
      summary: getMspSle
      tags:
        - Msps SLEs
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          example: 000000ab-00ab-00ab-00ab-0000000000ab
          format: uuid
          type: string
      - description: see /api/v1/const/insight_metrics for available metrics
        in: path
        name: metric
        required: true
        schema:
          type: string
  "/api/v1/msps/{msp_id}/inventory/{device_mac}":
    get:
      description: Get Inventoy By device MAC address
      operationId: getMspInventoryByMac
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    mac: 5c5b35000018
                    model: AP200
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    serial: FXLH2015150025
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    type: ap
              schema:
                properties:
                  for_site:
                    readOnly: true
                    type: boolean
                  mac:
                    readOnly: true
                    type: string
                  model:
                    readOnly: true
                    type: string
                  org_id:
                    format: uuid
                    readOnly: true
                    type: string
                  serial:
                    readOnly: true
                    type: string
                  site_id:
                    format: uuid
                    readOnly: true
                    type: string
                  type:
                    readOnly: true
                    type: string
                required:
                  - serial
                  - model
                  - type
                  - mac
                  - org_id
                  - site_id
                type: object
          description: OK
      summary: getMspInventoryByMac
      tags:
        - Msps Inventory
    parameters:
      - $ref: "#/components/parameters/msp_id"
      - $ref: "#/components/parameters/device_mac"
  "/api/v1/msps/{msp_id}/invites":
    parameters:
      - $ref: "#/components/parameters/msp_id"
    post:
      description: |-
        Invite MSP Admin

        **Note**: An email will also be sent to the user with a link to https://manage.mist.com/verify/invite?token=:token
      operationId: inviteMspAdmin
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  email: user@example.com
                  first_name: string
                  last_name: string
                  privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                        - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                        - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              $ref: "#/components/schemas/admin"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Admin"
      summary: inviteMspAdmin
      tags:
        - Msps Invites
  "/api/v1/msps/{msp_id}/invites/{invite_id}":
    delete:
      description: Delete admin invite
      operationId: uninviteMspAdmin
      responses:
        "200":
          $ref: "#/components/responses/OK"
      summary: uninviteMspAdmin
      tags:
        - Msps Invites
    parameters:
      - $ref: "#/components/parameters/msp_id"
      - $ref: "#/components/parameters/invite_id"
    put:
      description: Update MSP admin invite
      operationId: updateMspAdminInvite
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  email: user@example.com
                  first_name: string
                  last_name: string
                  privileges:
                    - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      msp_name: string
                      name: string
                      org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      org_name: string
                      orggroup_ids:
                        - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      role: admin
                      scope: org
                      site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                      sitegroup_ids:
                        - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              $ref: "#/components/schemas/admin"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Admin"
      summary: updateMspAdminInvite
      tags:
        - Msps Invites
  "/api/v1/msps/{msp_id}/licenses":
    get:
      description: Get Msp Licenses
      operationId: getMspLicenses
      responses:
        "200":
          $ref: "#/components/responses/Licence"
      summary: getMspLicenses
      tags:
        - Msps Licenses
    parameters:
      - $ref: "#/components/parameters/msp_id"
    put:
      description: Move or Delete MSP Licenses
      operationId: moveOrDeleteMspLicenseToAnotherOrg
      requestBody:
        content:
          application/json:
            examples:
              Delete License:
                value:
                  op: delete
                  subscription_id: SUB-0000144
              Move License:
                value:
                  dst_org_id: 3eff35f7-c218-894e-bca2-24e5325601cc
                  op: amend
                  quantity: 10
                  subscription_id: SUB-0000144
              Undo the License Move:
                value:
                  amendment_id: 2b9116ab-cd1e-e897-6e08-31fccd88e792
                  op: unamend
            schema:
              properties:
                dst_org_id:
                  description: required if `op`==`amend`, destination org id
                  minLength: 1
                  type: string
                notes:
                  description: required if `op`== `annotate`
                  type: string
                op:
                  enum:
                    - amend
                    - unamend
                    - delete
                    - annotate
                  minLength: 1
                  type: string
                quantity:
                  description: required if `op`==`amend`
                  type: number
                subscription_id:
                  description: required if `op`==`unamend` or `op`== `annotate`
                  minLength: 1
                  type: string
              required:
                - op
              type: object
              x-examples:
                example-1:
                  dst_org_id: 3eff35f7-c218-894e-bca2-24e5325601cc
                  op: amend
                  quantity: 10
                  subscription_id: SUB-0000144
        description: ""
      responses:
        "200":
          $ref: "#/components/responses/OK"
[...]
