swagger: '2.0'
schemes:
  - https
  - http
host: firehose.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>Amazon Kinesis Data Firehose API Reference</fullname> <p>Amazon Kinesis Data Firehose is a fully managed service that delivers real-time streaming data to destinations such as Amazon Simple Storage Service (Amazon S3), Amazon Elasticsearch Service (Amazon ES), Amazon Redshift, and Splunk.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Kinesis Firehose
  version: '2015-08-04'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/firehose-2015-08-04.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: firehose
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/firehose/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=Firehose_20150804.CreateDeliveryStream':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a Kinesis Data Firehose delivery stream.</p> <p>By default, you can create up to 50 delivery streams per AWS Region.</p> <p>This is an asynchronous operation that immediately returns. The initial status of the delivery stream is <code>CREATING</code>. After the delivery stream is created, its status is <code>ACTIVE</code> and it now accepts data. Attempts to send data to a delivery stream that is not in the <code>ACTIVE</code> state cause an exception. To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>A Kinesis Data Firehose delivery stream can be configured to receive records directly from providers using <a>PutRecord</a> or <a>PutRecordBatch</a>, or it can be configured to use an existing Kinesis stream as its source. To specify a Kinesis data stream as input, set the <code>DeliveryStreamType</code> parameter to <code>KinesisStreamAsSource</code>, and provide the Kinesis stream Amazon Resource Name (ARN) and role ARN in the <code>KinesisStreamSourceConfiguration</code> parameter.</p> <p>A delivery stream is configured with a single destination: Amazon S3, Amazon ES, Amazon Redshift, or Splunk. You must specify only one of the following destination configuration parameters: <code>ExtendedS3DestinationConfiguration</code>, <code>S3DestinationConfiguration</code>, <code>ElasticsearchDestinationConfiguration</code>, <code>RedshiftDestinationConfiguration</code>, or <code>SplunkDestinationConfiguration</code>.</p> <p>When you specify <code>S3DestinationConfiguration</code>, you can also provide the following optional values: BufferingHints, <code>EncryptionConfiguration</code>, and <code>CompressionFormat</code>. By default, if no <code>BufferingHints</code> value is provided, Kinesis Data Firehose buffers data up to 5 MB or for 5 minutes, whichever condition is satisfied first. <code>BufferingHints</code> is a hint, so there are some cases where the service cannot adhere to these conditions strictly. For example, record boundaries might be such that the size is a little over or under the configured buffering size. By default, no encryption is performed. We strongly recommend that you enable encryption to ensure secure data storage in Amazon S3.</p> <p>A few notes about Amazon Redshift as a destination:</p> <ul> <li> <p>An Amazon Redshift destination requires an S3 bucket as intermediate location. Kinesis Data Firehose first delivers data to Amazon S3 and then uses <code>COPY</code> syntax to load data into an Amazon Redshift table. This is specified in the <code>RedshiftDestinationConfiguration.S3Configuration</code> parameter.</p> </li> <li> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified in <code>RedshiftDestinationConfiguration.S3Configuration</code> because the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket doesn''t support these compression formats.</p> </li> <li> <p>We strongly recommend that you use the user name and password you provide exclusively with Kinesis Data Firehose, and that the permissions for the account are restricted for Amazon Redshift <code>INSERT</code> permissions.</p> </li> </ul> <p>Kinesis Data Firehose assumes the IAM role that is configured as part of the destination. The role should allow the Kinesis Data Firehose principal to assume the role, and the role should have permissions that allow the service to deliver the data. For more information, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3">Grant Kinesis Data Firehose Access to an Amazon S3 Destination</a> in the <i>Amazon Kinesis Data Firehose Developer Guide</i>.</p>'
      operationId: CreateDeliveryStream
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateDeliveryStreamInput'
        - enum:
            - Firehose_20150804.CreateDeliveryStream
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeliveryStreamOutput'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
  '/#X-Amz-Target=Firehose_20150804.DeleteDeliveryStream':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes a delivery stream and its data.</p> <p>You can delete a delivery stream only if it is in <code>ACTIVE</code> or <code>DELETING</code> state, and not in the <code>CREATING</code> state. While the deletion request is in process, the delivery stream is in the <code>DELETING</code> state.</p> <p>To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>While the delivery stream is <code>DELETING</code> state, the service might continue to accept the records, but it doesn''t make any guarantees with respect to delivering the data. Therefore, as a best practice, you should first stop any applications that are sending records before deleting a delivery stream.</p>'
      operationId: DeleteDeliveryStream
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDeliveryStreamInput'
        - enum:
            - Firehose_20150804.DeleteDeliveryStream
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDeliveryStreamOutput'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=Firehose_20150804.DescribeDeliveryStream':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Describes the specified delivery stream and gets the status. For example, after your delivery stream is created, call <code>DescribeDeliveryStream</code> to see whether the delivery stream is <code>ACTIVE</code> and therefore ready for data to be sent to it.'
      operationId: DescribeDeliveryStream
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDeliveryStreamInput'
        - enum:
            - Firehose_20150804.DescribeDeliveryStream
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDeliveryStreamOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=Firehose_20150804.ListDeliveryStreams':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Lists your delivery streams in alphabetical order of their names.</p> <p>The number of delivery streams might be too large to return using a single call to <code>ListDeliveryStreams</code>. You can limit the number of delivery streams returned, using the <code>Limit</code> parameter. To determine whether there are more delivery streams to list, check the value of <code>HasMoreDeliveryStreams</code> in the output. If there are more delivery streams to list, you can request them by calling this operation again and setting the <code>ExclusiveStartDeliveryStreamName</code> parameter to the name of the last delivery stream returned in the last call.</p>'
      operationId: ListDeliveryStreams
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListDeliveryStreamsInput'
        - enum:
            - Firehose_20150804.ListDeliveryStreams
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeliveryStreamsOutput'
  '/#X-Amz-Target=Firehose_20150804.ListTagsForDeliveryStream':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Lists the tags for the specified delivery stream. This operation has a limit of five transactions per second per account. '
      operationId: ListTagsForDeliveryStream
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForDeliveryStreamInput'
        - enum:
            - Firehose_20150804.ListTagsForDeliveryStream
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForDeliveryStreamOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  '/#X-Amz-Target=Firehose_20150804.PutRecord':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Writes a single data record into an Amazon Kinesis Data Firehose delivery stream. To write multiple data records into a delivery stream, use <a>PutRecordBatch</a>. Applications using these operations are referred to as producers.</p> <p>By default, each delivery stream can take in up to 2,000 transactions per second, 5,000 records per second, or 5 MB per second. If you use <a>PutRecord</a> and <a>PutRecordBatch</a>, the limits are an aggregate across these two operations for each delivery stream. For more information about limits and how to request an increase, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/limits.html">Amazon Kinesis Data Firehose Limits</a>. </p> <p>You must specify the name of the delivery stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KB in size, and any kind of data. For example, it can be a segment from a log file, geographic location data, website clickstream data, and so on.</p> <p>Kinesis Data Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\n</code>) or some other character unique within the data. This allows the consumer application to parse individual data items when reading the data from the destination.</p> <p>The <code>PutRecord</code> operation returns a <code>RecordId</code>, which is a unique string assigned to each record. Producer applications can use this ID for purposes such as auditability and investigation.</p> <p>If the <code>PutRecord</code> operation throws a <code>ServiceUnavailableException</code>, back off and retry. If the exception persists, it is possible that the throughput limits have been exceeded for the delivery stream. </p> <p>Data records sent to Kinesis Data Firehose are stored for 24 hours from the time they are added to a delivery stream as it tries to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p> <important> <p>Don''t concatenate two or more base64 strings to form the data fields of your records. Instead, concatenate the raw data, then perform base64 encoding.</p> </important>'
      operationId: PutRecord
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PutRecordInput'
        - enum:
            - Firehose_20150804.PutRecord
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutRecordOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Firehose_20150804.PutRecordBatch':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Writes multiple data records into a delivery stream in a single call, which can achieve higher throughput per producer than when writing single records. To write single data records into a delivery stream, use <a>PutRecord</a>. Applications using these operations are referred to as producers.</p> <p>By default, each delivery stream can take in up to 2,000 transactions per second, 5,000 records per second, or 5 MB per second. If you use <a>PutRecord</a> and <a>PutRecordBatch</a>, the limits are an aggregate across these two operations for each delivery stream. For more information about limits, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/limits.html">Amazon Kinesis Data Firehose Limits</a>.</p> <p>Each <a>PutRecordBatch</a> request supports up to 500 records. Each record in the request can be as large as 1,000 KB (before 64-bit encoding), up to a limit of 4 MB for the entire request. These limits cannot be changed.</p> <p>You must specify the name of the delivery stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KB in size, and any kind of data. For example, it could be a segment from a log file, geographic location data, website clickstream data, and so on.</p> <p>Kinesis Data Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\n</code>) or some other character unique within the data. This allows the consumer application to parse individual data items when reading the data from the destination.</p> <p>The <a>PutRecordBatch</a> response includes a count of failed records, <code>FailedPutCount</code>, and an array of responses, <code>RequestResponses</code>. Even if the <a>PutRecordBatch</a> call succeeds, the value of <code>FailedPutCount</code> may be greater than 0, indicating that there are records for which the operation didn''t succeed. Each entry in the <code>RequestResponses</code> array provides additional information about the processed record. It directly correlates with a record in the request array using the same ordering, from the top to the bottom. The response array always includes the same number of records as the request array. <code>RequestResponses</code> includes both successfully and unsuccessfully processed records. Kinesis Data Firehose tries to process all records in each <a>PutRecordBatch</a> request. A single record failure does not stop the processing of subsequent records. </p> <p>A successfully processed record includes a <code>RecordId</code> value, which is unique for the record. An unsuccessfully processed record includes <code>ErrorCode</code> and <code>ErrorMessage</code> values. <code>ErrorCode</code> reflects the type of error, and is one of the following values: <code>ServiceUnavailableException</code> or <code>InternalFailure</code>. <code>ErrorMessage</code> provides more detailed information about the error.</p> <p>If there is an internal server error or a timeout, the write might have completed or it might have failed. If <code>FailedPutCount</code> is greater than 0, retry the request, resending only those records that might have failed processing. This minimizes the possible duplicate records and also reduces the total bytes sent (and corresponding charges). We recommend that you handle any duplicates at the destination.</p> <p>If <a>PutRecordBatch</a> throws <code>ServiceUnavailableException</code>, back off and retry. If the exception persists, it is possible that the throughput limits have been exceeded for the delivery stream.</p> <p>Data records sent to Kinesis Data Firehose are stored for 24 hours from the time they are added to a delivery stream as it attempts to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p> <important> <p>Don''t concatenate two or more base64 strings to form the data fields of your records. Instead, concatenate the raw data, then perform base64 encoding.</p> </important>'
      operationId: PutRecordBatch
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PutRecordBatchInput'
        - enum:
            - Firehose_20150804.PutRecordBatch
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutRecordBatchOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Firehose_20150804.StartDeliveryStreamEncryption':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Enables server-side encryption (SSE) for the delivery stream. </p> <p>This operation is asynchronous. It returns immediately. When you invoke it, Kinesis Data Firehose first sets the status of the stream to <code>ENABLING</code>, and then to <code>ENABLED</code>. You can continue to read and write data to your stream while its status is <code>ENABLING</code>, but the data is not encrypted. It can take up to 5 seconds after the encryption status changes to <code>ENABLED</code> before all records written to the delivery stream are encrypted. To find out whether a record or a batch of records was encrypted, check the response elements <a>PutRecordOutput$Encrypted</a> and <a>PutRecordBatchOutput$Encrypted</a>, respectively.</p> <p>To check the encryption state of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>You can only enable SSE for a delivery stream that uses <code>DirectPut</code> as its source. </p> <p>The <code>StartDeliveryStreamEncryption</code> and <code>StopDeliveryStreamEncryption</code> operations have a combined limit of 25 calls per delivery stream per 24 hours. For example, you reach the limit if you call <code>StartDeliveryStreamEncryption</code> 13 times and <code>StopDeliveryStreamEncryption</code> 12 times for the same delivery stream in a 24-hour period.</p>'
      operationId: StartDeliveryStreamEncryption
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartDeliveryStreamEncryptionInput'
        - enum:
            - Firehose_20150804.StartDeliveryStreamEncryption
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartDeliveryStreamEncryptionOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  '/#X-Amz-Target=Firehose_20150804.StopDeliveryStreamEncryption':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Disables server-side encryption (SSE) for the delivery stream. </p> <p>This operation is asynchronous. It returns immediately. When you invoke it, Kinesis Data Firehose first sets the status of the stream to <code>DISABLING</code>, and then to <code>DISABLED</code>. You can continue to read and write data to your stream while its status is <code>DISABLING</code>. It can take up to 5 seconds after the encryption status changes to <code>DISABLED</code> before all records written to the delivery stream are no longer subject to encryption. To find out whether a record or a batch of records was encrypted, check the response elements <a>PutRecordOutput$Encrypted</a> and <a>PutRecordBatchOutput$Encrypted</a>, respectively.</p> <p>To check the encryption state of a delivery stream, use <a>DescribeDeliveryStream</a>. </p> <p>The <code>StartDeliveryStreamEncryption</code> and <code>StopDeliveryStreamEncryption</code> operations have a combined limit of 25 calls per delivery stream per 24 hours. For example, you reach the limit if you call <code>StartDeliveryStreamEncryption</code> 13 times and <code>StopDeliveryStreamEncryption</code> 12 times for the same delivery stream in a 24-hour period.</p>'
      operationId: StopDeliveryStreamEncryption
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopDeliveryStreamEncryptionInput'
        - enum:
            - Firehose_20150804.StopDeliveryStreamEncryption
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopDeliveryStreamEncryptionOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  '/#X-Amz-Target=Firehose_20150804.TagDeliveryStream':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Adds or updates tags for the specified delivery stream. A tag is a key-value pair that you can define and assign to AWS resources. If you specify a tag that already exists, the tag value is replaced with the value that you specify in the request. Tags are metadata. For example, you can add friendly names and descriptions or other types of information that can help you distinguish the delivery stream. For more information about tags, see <a href="https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p> <p>Each delivery stream can have up to 50 tags. </p> <p>This operation has a limit of five transactions per second per account. </p>'
      operationId: TagDeliveryStream
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TagDeliveryStreamInput'
        - enum:
            - Firehose_20150804.TagDeliveryStream
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagDeliveryStreamOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  '/#X-Amz-Target=Firehose_20150804.UntagDeliveryStream':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Removes tags from the specified delivery stream. Removed tags are deleted, and you can''t recover them after this operation successfully completes.</p> <p>If you specify a tag that doesn''t exist, the operation ignores it.</p> <p>This operation has a limit of five transactions per second per account. </p>'
      operationId: UntagDeliveryStream
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UntagDeliveryStreamInput'
        - enum:
            - Firehose_20150804.UntagDeliveryStream
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagDeliveryStreamOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  '/#X-Amz-Target=Firehose_20150804.UpdateDestination':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Updates the specified destination of the specified delivery stream.</p> <p>Use this operation to change the destination type (for example, to replace the Amazon S3 destination with Amazon Redshift) or change the parameters associated with a destination (for example, to change the bucket name of the Amazon S3 destination). The update might not occur immediately. The target delivery stream remains active while the configurations are updated, so data writes to the delivery stream can continue during this process. The updated configurations are usually effective within a few minutes.</p> <p>Switching between Amazon ES and other services is not supported. For an Amazon ES destination, you can only update to another Amazon ES destination.</p> <p>If the destination type is the same, Kinesis Data Firehose merges the configuration parameters specified with the destination configuration that already exists on the delivery stream. If any of the parameters are not specified in the call, the existing values are retained. For example, in the Amazon S3 destination, if <a>EncryptionConfiguration</a> is not specified, then the existing <code>EncryptionConfiguration</code> is maintained on the destination.</p> <p>If the destination type is not the same, for example, changing the destination from Amazon S3 to Amazon Redshift, Kinesis Data Firehose does not merge any parameters. In this case, all parameters must be specified.</p> <p>Kinesis Data Firehose uses <code>CurrentDeliveryStreamVersionId</code> to avoid race conditions and conflicting merges. This is a required field, and the service updates the configuration only if the existing configuration has a version ID that matches. After the update is applied successfully, the version ID is updated, and can be retrieved using <a>DescribeDeliveryStream</a>. Use the new version ID to set <code>CurrentDeliveryStreamVersionId</code> in the next call.</p>'
      operationId: UpdateDestination
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDestinationInput'
        - enum:
            - Firehose_20150804.UpdateDestination
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDestinationOutput'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
definitions:
  AWSKMSKeyARN:
    maxLength: 512
    minLength: 1
    pattern: 'arn:.*'
    type: string
  BlockSizeBytes:
    minimum: 67108864
    type: integer
  BooleanObject:
    type: boolean
  BucketARN:
    maxLength: 2048
    minLength: 1
    pattern: 'arn:.*'
    type: string
  BufferingHints:
    description: 'Describes hints for the buffering to perform before delivering data to the destination. These options are treated as hints, and therefore Kinesis Data Firehose might choose to use different values when it is optimal.'
    properties:
      IntervalInSeconds:
        $ref: '#/definitions/IntervalInSeconds'
        description: 'Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.'
      SizeInMBs:
        $ref: '#/definitions/SizeInMBs'
        description: '<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>'
    type: object
  CloudWatchLoggingOptions:
    description: Describes the Amazon CloudWatch logging options for your delivery stream.
    properties:
      Enabled:
        $ref: '#/definitions/BooleanObject'
        description: Enables or disables CloudWatch logging.
      LogGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.
      LogStreamName:
        $ref: '#/definitions/LogStreamName'
        description: The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.
    type: object
  ClusterJDBCURL:
    minLength: 1
    pattern: 'jdbc:(redshift|postgresql)://((?!-)[A-Za-z0-9-]{1,63}(?<!-)\.)+redshift\.amazonaws\.com:\d{1,5}/[a-zA-Z0-9_$]+'
    type: string
  ColumnToJsonKeyMappings:
    additionalProperties:
      $ref: '#/definitions/NonEmptyString'
    type: object
  CompressionFormat:
    enum:
      - UNCOMPRESSED
      - GZIP
      - ZIP
      - Snappy
    type: string
  ConcurrentModificationException: {}
  CopyCommand:
    description: Describes a <code>COPY</code> command for Amazon Redshift.
    properties:
      CopyOptions:
        $ref: '#/definitions/CopyOptions'
        description: '<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the "Optional Parameters" section of <a href="http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html">Amazon Redshift COPY command</a>. Some possible examples that would apply to Kinesis Data Firehose are as follows:</p> <p> <code>delimiter ''\t'' lzop;</code> - fields are delimited with "\t" (TAB character) and compressed using lzop.</p> <p> <code>delimiter ''|''</code> - fields are delimited with "|" (this is the default delimiter).</p> <p> <code>delimiter ''|'' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth ''venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6''</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON ''s3://mybucket/jsonpaths.txt''</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href="http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html">Amazon Redshift COPY command examples</a>.</p>'
      DataTableColumns:
        $ref: '#/definitions/DataTableColumns'
        description: A comma-separated list of column names.
      DataTableName:
        $ref: '#/definitions/DataTableName'
        description: The name of the target table. The table must already exist in the database.
    required:
      - DataTableName
    type: object
  CopyOptions:
    type: string
  CreateDeliveryStreamInput:
    properties:
      DeliveryStreamName:
        $ref: '#/definitions/DeliveryStreamName'
        description: 'The name of the delivery stream. This name must be unique per AWS account in the same AWS Region. If the delivery streams are in different accounts or different Regions, you can have multiple delivery streams with the same name.'
      DeliveryStreamType:
        $ref: '#/definitions/DeliveryStreamType'
        description: '<p>The delivery stream type. This parameter can be one of the following values:</p> <ul> <li> <p> <code>DirectPut</code>: Provider applications access the delivery stream directly.</p> </li> <li> <p> <code>KinesisStreamAsSource</code>: The delivery stream uses a Kinesis data stream as a source.</p> </li> </ul>'
      ElasticsearchDestinationConfiguration:
        $ref: '#/definitions/ElasticsearchDestinationConfiguration'
        description: The destination in Amazon ES. You can specify only one destination.
      ExtendedS3DestinationConfiguration:
        $ref: '#/definitions/ExtendedS3DestinationConfiguration'
        description: The destination in Amazon S3. You can specify only one destination.
      KinesisStreamSourceConfiguration:
        $ref: '#/definitions/KinesisStreamSourceConfiguration'
        description: 'When a Kinesis data stream is used as the source for the delivery stream, a <a>KinesisStreamSourceConfiguration</a> containing the Kinesis data stream Amazon Resource Name (ARN) and the role ARN for the source stream.'
      RedshiftDestinationConfiguration:
        $ref: '#/definitions/RedshiftDestinationConfiguration'
        description: The destination in Amazon Redshift. You can specify only one destination.
      S3DestinationConfiguration:
        $ref: '#/definitions/S3DestinationConfiguration'
        description: '[Deprecated] The destination in Amazon S3. You can specify only one destination.'
      SplunkDestinationConfiguration:
        $ref: '#/definitions/SplunkDestinationConfiguration'
        description: The destination in Splunk. You can specify only one destination.
      Tags:
        $ref: '#/definitions/TagDeliveryStreamInputTagList'
        description: '<p>A set of tags to assign to the delivery stream. A tag is a key-value pair that you can define and assign to AWS resources. Tags are metadata. For example, you can add friendly names and descriptions or other types of information that can help you distinguish the delivery stream. For more information about tags, see <a href="https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html">Using Cost Allocation Tags</a> in the AWS Billing and Cost Management User Guide.</p> <p>You can specify up to 50 tags when creating a delivery stream.</p>'
    required:
      - DeliveryStreamName
    type: object
  CreateDeliveryStreamOutput:
    properties:
      DeliveryStreamARN:
        $ref: '#/definitions/DeliveryStreamARN'
        description: The ARN of the delivery stream.
    type: object
  Data:
    maxLength: 1024000
    minLength: 0
    type: string
  DataFormatConversionConfiguration:
    description: 'Specifies that you want Kinesis Data Firehose to convert data from the JSON format to the Parquet or ORC format before writing it to Amazon S3. Kinesis Data Firehose uses the serializer and deserializer that you specify, in addition to the column information from the AWS Glue table, to deserialize your input data from JSON and then serialize it to the Parquet or ORC format. For more information, see <a href="https://docs.aws.amazon.com/firehose/latest/dev/record-format-conversion.html">Kinesis Data Firehose Record Format Conversion</a>.'
    properties:
      Enabled:
        $ref: '#/definitions/BooleanObject'
        description: Defaults to <code>true</code>. Set it to <code>false</code> if you want to disable format conversion while preserving the configuration details.
      InputFormatConfiguration:
        $ref: '#/definitions/InputFormatConfiguration'
        description: Specifies the deserializer that you want Kinesis Data Firehose to use to convert the format of your data from JSON.
      OutputFormatConfiguration:
        $ref: '#/definitions/OutputFormatConfiguration'
        description: Specifies the serializer that you want Kinesis Data Firehose to use to convert the format of your data to the Parquet or ORC format.
      SchemaConfiguration:
        $ref: '#/definitions/SchemaConfiguration'
        description: Specifies the AWS Glue Data Catalog table that contains the column information.
    type: object
  DataTableColumns:
    type: string
  DataTableName:
    minLength: 1
    type: string
  DeleteDeliveryStreamInput:
    properties:
      DeliveryStreamName:
        $ref: '#/definitions/DeliveryStreamName'
        description: The name of the delivery stream.
    required:
      - DeliveryStreamName
    type: object
  DeleteDeliveryStreamOutput:
    properties: {}
    type: object
  DeliveryStartTimestamp:
    format: date-time
    type: string
  DeliveryStreamARN:
    maxLength: 512
    minLength: 1
    pattern: 'arn:.*'
    type: string
  DeliveryStreamDescription:
    description: Contains information about a delivery stream.
    properties:
      CreateTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The date and time that the delivery stream was created.
      DeliveryStreamARN:
        $ref: '#/definitions/DeliveryStreamARN'
        description: 'The Amazon Resource Name (ARN) of the delivery stream. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.'
      DeliveryStreamEncryptionConfiguration:
        $ref: '#/definitions/DeliveryStreamEncryptionConfiguration'
        description: Indicates the server-side encryption (SSE) status for the delivery stream.
      DeliveryStreamName:
        $ref: '#/definitions/DeliveryStreamName'
        description: The name of the delivery stream.
      DeliveryStreamStatus:
        $ref: '#/definitions/DeliveryStreamStatus'
        description: The status of the delivery stream.
      DeliveryStreamType:
        $ref: '#/definitions/DeliveryStreamType'
        description: '<p>The delivery stream type. This can be one of the following values:</p> <ul> <li> <p> <code>DirectPut</code>: Provider applications access the delivery stream directly.</p> </li> <li> <p> <code>KinesisStreamAsSource</code>: The delivery stream uses a Kinesis data stream as a source.</p> </li> </ul>'
      Destinations:
        $ref: '#/definitions/DestinationDescriptionList'
        description: The destinations.
      HasMoreDestinations:
        $ref: '#/definitions/BooleanObject'
        description: Indicates whether there are more destinations available to list.
      LastUpdateTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The date and time that the delivery stream was last updated.
      Source:
        $ref: '#/definitions/SourceDescription'
        description: 'If the <code>DeliveryStreamType</code> parameter is <code>KinesisStreamAsSource</code>, a <a>SourceDescription</a> object describing the source Kinesis data stream.'
      VersionId:
        $ref: '#/definitions/DeliveryStreamVersionId'
        description: 'Each time the destination is updated for a delivery stream, the version ID is changed, and the current version ID is required when updating the destination. This is so that the service knows it is applying the changes to the correct version of the delivery stream.'
    required:
      - DeliveryStreamName
      - DeliveryStreamARN
      - DeliveryStreamStatus
      - DeliveryStreamType
      - VersionId
      - Destinations
      - HasMoreDestinations
    type: object
  DeliveryStreamEncryptionConfiguration:
    description: Indicates the server-side encryption (SSE) status for the delivery stream.
    properties:
      Status:
        $ref: '#/definitions/DeliveryStreamEncryptionStatus'
        description: 'For a full description of the different values of this status, see <a>StartDeliveryStreamEncryption</a> and <a>StopDeliveryStreamEncryption</a>.'
    type: object
  DeliveryStreamEncryptionStatus:
    enum:
      - ENABLED
      - ENABLING
      - DISABLED
      - DISABLING
    type: string
  DeliveryStreamName:
    maxLength: 64
    minLength: 1
    pattern: '[a-zA-Z0-9_.-]+'
    type: string
  DeliveryStreamNameList:
    items:
      $ref: '#/definitions/DeliveryStreamName'
    type: array
  DeliveryStreamStatus:
    enum:
      - CREATING
      - DELETING
      - ACTIVE
    type: string
  DeliveryStreamType:
    enum:
      - DirectPut
      - KinesisStreamAsSource
    type: string
  DeliveryStreamVersionId:
    maxLength: 50
    minLength: 1
    pattern: '[0-9]+'
    type: string
  DescribeDeliveryStreamInput:
    properties:
      DeliveryStreamName:
        $ref: '#/definitions/DeliveryStreamName'
        description: The name of the delivery stream.
      ExclusiveStartDestinationId:
        $ref: '#/definitions/DestinationId'
        description: The ID of the destination to start returning the destination information. Kinesis Data Firehose supports one destination per delivery stream.
      Limit:
        $ref: '#/definitions/DescribeDeliveryStreamInputLimit'
        description: The limit on the number of destinations to return. You can have one destination per delivery stream.
    required:
      - DeliveryStreamName
    type: object
  DescribeDeliveryStreamInputLimit:
    maximum: 10000
    minimum: 1
    type: integer
  DescribeDeliveryStreamOutput:
    properties:
      DeliveryStreamDescription:
        $ref: '#/definitions/DeliveryStreamDescription'
        description: Information about the delivery stream.
    required:
      - DeliveryStreamDescription
    type: object
  Deserializer:
    description: 'The deserializer you want Kinesis Data Firehose to use for converting the input data from JSON. Kinesis Data Firehose then serializes the data to its final format using the <a>Serializer</a>. Kinesis Data Firehose supports two types of deserializers: the <a href="https://cwiki.apache.org/confluence/display/Hive/LanguageManual+DDL#LanguageManualDDL-JSON">Apache Hive JSON SerDe</a> and the <a href="https://github.com/rcongiu/Hive-JSON-Serde">OpenX JSON SerDe</a>.'
    properties:
      HiveJsonSerDe:
        $ref: '#/definitions/HiveJsonSerDe'
        description: 'The native Hive / HCatalog JsonSerDe. Used by Kinesis Data Firehose for deserializing data, which means converting it from the JSON format in preparation for serializing it to the Parquet or ORC format. This is one of two deserializers you can choose, depending on which one offers the functionality you need. The other option is the OpenX SerDe.'
      OpenXJsonSerDe:
        $ref: '#/definitions/OpenXJsonSerDe'
        description: 'The OpenX SerDe. Used by Kinesis Data Firehose for deserializing data, which means converting it from the JSON format in preparation for serializing it to the Parquet or ORC format. This is one of two deserializers you can choose, depending on which one offers the functionality you need. The other option is the native Hive / HCatalog JsonSerDe.'
    type: object
  DestinationDescription:
    description: Describes the destination for a delivery stream.
    properties:
      DestinationId:
        $ref: '#/definitions/DestinationId'
        description: The ID of the destination.
      ElasticsearchDestinationDescription:
        $ref: '#/definitions/ElasticsearchDestinationDescription'
        description: The destination in Amazon ES.
      ExtendedS3DestinationDescription:
        $ref: '#/definitions/ExtendedS3DestinationDescription'
        description: The destination in Amazon S3.
      RedshiftDestinationDescription:
        $ref: '#/definitions/RedshiftDestinationDescription'
        description: The destination in Amazon Redshift.
      S3DestinationDescription:
        $ref: '#/definitions/S3DestinationDescription'
        description: '[Deprecated] The destination in Amazon S3.'
      SplunkDestinationDescription:
        $ref: '#/definitions/SplunkDestinationDescription'
        description: The destination in Splunk.
    required:
      - DestinationId
    type: object
  DestinationDescriptionList:
    items:
      $ref: '#/definitions/DestinationDescription'
    type: array
  DestinationId:
    maxLength: 100
    minLength: 1
    type: string
  ElasticsearchBufferingHints:
    description: Describes the buffering to perform before delivering data to the Amazon ES destination.
    properties:
      IntervalInSeconds:
        $ref: '#/definitions/ElasticsearchBufferingIntervalInSeconds'
        description: 'Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).'
      SizeInMBs:
        $ref: '#/definitions/ElasticsearchBufferingSizeInMBs'
        description: '<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>'
    type: object
  ElasticsearchBufferingIntervalInSeconds:
    maximum: 900
    minimum: 60
    type: integer
  ElasticsearchBufferingSizeInMBs:
    maximum: 100
    minimum: 1
    type: integer
  ElasticsearchDestinationConfiguration:
    description: Describes the configuration of a destination in Amazon ES.
    properties:
      BufferingHints:
        $ref: '#/definitions/ElasticsearchBufferingHints'
        description: 'The buffering options. If no value is specified, the default values for <code>ElasticsearchBufferingHints</code> are used.'
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The Amazon CloudWatch logging options for your delivery stream.
      DomainARN:
        $ref: '#/definitions/ElasticsearchDomainARN'
        description: "The ARN of the Amazon ES domain. The IAM role must have permissions for\_<code>DescribeElasticsearchDomain</code>, <code>DescribeElasticsearchDomains</code>, and <code>DescribeElasticsearchDomainConfig</code>\_after assuming the role specified in <b>RoleARN</b>. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>."
      IndexName:
        $ref: '#/definitions/ElasticsearchIndexName'
        description: The Elasticsearch index name.
      IndexRotationPeriod:
        $ref: '#/definitions/ElasticsearchIndexRotationPeriod'
        description: "The Elasticsearch index rotation period. Index rotation appends a timestamp to the <code>IndexName</code> to facilitate the expiration of old data. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-index-rotation\">Index Rotation for the Amazon ES Destination</a>. The default value is\_<code>OneDay</code>."
      ProcessingConfiguration:
        $ref: '#/definitions/ProcessingConfiguration'
        description: The data processing configuration.
      RetryOptions:
        $ref: '#/definitions/ElasticsearchRetryOptions'
        description: The retry behavior in case Kinesis Data Firehose is unable to deliver documents to Amazon ES. The default value is 300 (5 minutes).
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'The Amazon Resource Name (ARN) of the IAM role to be assumed by Kinesis Data Firehose for calling the Amazon ES Configuration API and for indexing documents. For more information, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3">Grant Kinesis Data Firehose Access to an Amazon S3 Destination</a> and <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.'
      S3BackupMode:
        $ref: '#/definitions/ElasticsearchS3BackupMode'
        description: 'Defines how documents should be delivered to Amazon S3. When it is set to <code>FailedDocumentsOnly</code>, Kinesis Data Firehose writes any documents that could not be indexed to the configured Amazon S3 destination, with <code>elasticsearch-failed/</code> appended to the key prefix. When set to <code>AllDocuments</code>, Kinesis Data Firehose delivers all incoming records to Amazon S3, and also writes failed documents with <code>elasticsearch-failed/</code> appended to the prefix. For more information, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-s3-backup">Amazon S3 Backup for the Amazon ES Destination</a>. Default value is <code>FailedDocumentsOnly</code>.'
      S3Configuration:
        $ref: '#/definitions/S3DestinationConfiguration'
        description: The configuration for the backup Amazon S3 location.
      TypeName:
        $ref: '#/definitions/ElasticsearchTypeName'
        description: 'The Elasticsearch type name. For Elasticsearch 6.x, there can be only one type per index. If you try to specify a new type for an existing index that already has another type, Kinesis Data Firehose returns an error during run time.'
    required:
      - RoleARN
      - DomainARN
      - IndexName
      - TypeName
      - S3Configuration
    type: object
  ElasticsearchDestinationDescription:
    description: The destination description in Amazon ES.
    properties:
      BufferingHints:
        $ref: '#/definitions/ElasticsearchBufferingHints'
        description: The buffering options.
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The Amazon CloudWatch logging options.
      DomainARN:
        $ref: '#/definitions/ElasticsearchDomainARN'
        description: 'The ARN of the Amazon ES domain. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.'
      IndexName:
        $ref: '#/definitions/ElasticsearchIndexName'
        description: The Elasticsearch index name.
      IndexRotationPeriod:
        $ref: '#/definitions/ElasticsearchIndexRotationPeriod'
        description: The Elasticsearch index rotation period
      ProcessingConfiguration:
        $ref: '#/definitions/ProcessingConfiguration'
        description: The data processing configuration.
      RetryOptions:
        $ref: '#/definitions/ElasticsearchRetryOptions'
        description: The Amazon ES retry options.
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'The Amazon Resource Name (ARN) of the AWS credentials. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.'
      S3BackupMode:
        $ref: '#/definitions/ElasticsearchS3BackupMode'
        description: The Amazon S3 backup mode.
      S3DestinationDescription:
        $ref: '#/definitions/S3DestinationDescription'
        description: The Amazon S3 destination.
      TypeName:
        $ref: '#/definitions/ElasticsearchTypeName'
        description: The Elasticsearch type name.
    type: object
  ElasticsearchDestinationUpdate:
    description: Describes an update for a destination in Amazon ES.
    properties:
      BufferingHints:
        $ref: '#/definitions/ElasticsearchBufferingHints'
        description: 'The buffering options. If no value is specified, <code>ElasticsearchBufferingHints</code> object default values are used. '
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The CloudWatch logging options for your delivery stream.
      DomainARN:
        $ref: '#/definitions/ElasticsearchDomainARN'
        description: "The ARN of the Amazon ES domain. The IAM role must have permissions for\_<code>DescribeElasticsearchDomain</code>, <code>DescribeElasticsearchDomains</code>, and <code>DescribeElasticsearchDomainConfig</code>\_after assuming the IAM role specified in <code>RoleARN</code>. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>."
      IndexName:
        $ref: '#/definitions/ElasticsearchIndexName'
        description: The Elasticsearch index name.
      IndexRotationPeriod:
        $ref: '#/definitions/ElasticsearchIndexRotationPeriod'
        description: "The Elasticsearch index rotation period. Index rotation appends a timestamp to <code>IndexName</code> to facilitate the expiration of old data. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-index-rotation\">Index Rotation for the Amazon ES Destination</a>. Default value is\_<code>OneDay</code>."
      ProcessingConfiguration:
        $ref: '#/definitions/ProcessingConfiguration'
        description: The data processing configuration.
      RetryOptions:
        $ref: '#/definitions/ElasticsearchRetryOptions'
        description: The retry behavior in case Kinesis Data Firehose is unable to deliver documents to Amazon ES. The default value is 300 (5 minutes).
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'The Amazon Resource Name (ARN) of the IAM role to be assumed by Kinesis Data Firehose for calling the Amazon ES Configuration API and for indexing documents. For more information, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3">Grant Kinesis Data Firehose Access to an Amazon S3 Destination</a> and <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.'
      S3Update:
        $ref: '#/definitions/S3DestinationUpdate'
        description: The Amazon S3 destination.
      TypeName:
        $ref: '#/definitions/ElasticsearchTypeName'
        description: 'The Elasticsearch type name. For Elasticsearch 6.x, there can be only one type per index. If you try to specify a new type for an existing index that already has another type, Kinesis Data Firehose returns an error during runtime.'
    type: object
  ElasticsearchDomainARN:
    maxLength: 512
    minLength: 1
    pattern: 'arn:.*'
    type: string
  ElasticsearchIndexName:
    maxLength: 80
    minLength: 1
    type: string
  ElasticsearchIndexRotationPeriod:
    enum:
      - NoRotation
      - OneHour
      - OneDay
      - OneWeek
      - OneMonth
    type: string
  ElasticsearchRetryDurationInSeconds:
    maximum: 7200
    minimum: 0
    type: integer
  ElasticsearchRetryOptions:
    description: Configures retry behavior in case Kinesis Data Firehose is unable to deliver documents to Amazon ES.
    properties:
      DurationInSeconds:
        $ref: '#/definitions/ElasticsearchRetryDurationInSeconds'
        description: 'After an initial failure to deliver to Amazon ES, the total amount of time during which Kinesis Data Firehose retries delivery (including the first attempt). After this time has elapsed, the failed documents are written to Amazon S3. Default value is 300 seconds (5 minutes). A value of 0 (zero) results in no retries.'
    type: object
  ElasticsearchS3BackupMode:
    enum:
      - FailedDocumentsOnly
      - AllDocuments
    type: string
  ElasticsearchTypeName:
    maxLength: 100
    minLength: 1
    type: string
  EncryptionConfiguration:
    description: Describes the encryption for a destination in Amazon S3.
    properties:
      KMSEncryptionConfig:
        $ref: '#/definitions/KMSEncryptionConfig'
        description: The encryption key.
      NoEncryptionConfig:
        $ref: '#/definitions/NoEncryptionConfig'
        description: Specifically override existing encryption information to ensure that no encryption is used.
    type: object
  ErrorCode:
    type: string
  ErrorMessage:
    type: string
  ErrorOutputPrefix:
    type: string
  ExtendedS3DestinationConfiguration:
    description: Describes the configuration of a destination in Amazon S3.
    properties:
      BucketARN:
        $ref: '#/definitions/BucketARN'
        description: 'The ARN of the S3 bucket. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.'
      BufferingHints:
        $ref: '#/definitions/BufferingHints'
        description: The buffering option.
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The Amazon CloudWatch logging options for your delivery stream.
      CompressionFormat:
        $ref: '#/definitions/CompressionFormat'
        description: 'The compression format. If no value is specified, the default is UNCOMPRESSED.'
      DataFormatConversionConfiguration:
        $ref: '#/definitions/DataFormatConversionConfiguration'
        description: 'The serializer, deserializer, and schema for converting data from the JSON format to the Parquet or ORC format before writing it to Amazon S3.'
      EncryptionConfiguration:
        $ref: '#/definitions/EncryptionConfiguration'
        description: 'The encryption configuration. If no value is specified, the default is no encryption.'
      ErrorOutputPrefix:
        $ref: '#/definitions/ErrorOutputPrefix'
        description: 'A prefix that Kinesis Data Firehose evaluates and adds to failed records before writing them to S3. This prefix appears immediately following the bucket name. '
      Prefix:
        $ref: '#/definitions/Prefix'
        description: 'The "YYYY/MM/DD/HH" time format prefix is automatically used for delivered Amazon S3 files. You can specify an extra prefix to be added in front of the time format prefix. If the prefix ends with a slash, it appears as a folder in the S3 bucket. For more information, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#s3-object-name">Amazon S3 Object Name Format</a> in the <i>Amazon Kinesis Data Firehose Developer Guide</i>.'
      ProcessingConfiguration:
        $ref: '#/definitions/ProcessingConfiguration'
        description: The data processing configuration.
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'The Amazon Resource Name (ARN) of the AWS credentials. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.'
      S3BackupConfiguration:
        $ref: '#/definitions/S3DestinationConfiguration'
        description: The configuration for backup in Amazon S3.
      S3BackupMode:
        $ref: '#/definitions/S3BackupMode'
        description: The Amazon S3 backup mode.
    required:
      - RoleARN
      - BucketARN
    type: object
  ExtendedS3DestinationDescription:
    description: Describes a destination in Amazon S3.
    properties:
      BucketARN:
        $ref: '#/definitions/BucketARN'
        description: 'The ARN of the S3 bucket. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.'
      BufferingHints:
        $ref: '#/definitions/BufferingHints'
        description: The buffering option.
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The Amazon CloudWatch logging options for your delivery stream.
      CompressionFormat:
        $ref: '#/definitions/CompressionFormat'
        description: 'The compression format. If no value is specified, the default is <code>UNCOMPRESSED</code>.'
      DataFormatConversionConfiguration:
        $ref: '#/definitions/DataFormatConversionConfiguration'
        description: 'The serializer, deserializer, and schema for converting data from the JSON format to the Parquet or ORC format before writing it to Amazon S3.'
      EncryptionConfiguration:
        $ref: '#/definitions/EncryptionConfiguration'
        description: 'The encryption configuration. If no value is specified, the default is no encryption.'
      ErrorOutputPrefix:
        $ref: '#/definitions/ErrorOutputPrefix'
        description: A prefix that Kinesis Data Firehose evaluates and adds to failed records before writing them to S3. This prefix appears immediately following the bucket name.
      Prefix:
        $ref: '#/definitions/Prefix'
        description: 'The "YYYY/MM/DD/HH" time format prefix is automatically used for delivered Amazon S3 files. You can specify an extra prefix to be added in front of the time format prefix. If the prefix ends with a slash, it appears as a folder in the S3 bucket. For more information, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#s3-object-name">Amazon S3 Object Name Format</a> in the <i>Amazon Kinesis Data Firehose Developer Guide</i>.'
      ProcessingConfiguration:
        $ref: '#/definitions/ProcessingConfiguration'
        description: The data processing configuration.
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'The Amazon Resource Name (ARN) of the AWS credentials. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.'
      S3BackupDescription:
        $ref: '#/definitions/S3DestinationDescription'
        description: The configuration for backup in Amazon S3.
      S3BackupMode:
        $ref: '#/definitions/S3BackupMode'
        description: The Amazon S3 backup mode.
    required:
      - RoleARN
      - BucketARN
      - BufferingHints
      - CompressionFormat
      - EncryptionConfiguration
    type: object
  ExtendedS3DestinationUpdate:
    description: Describes an update for a destination in Amazon S3.
    properties:
      BucketARN:
        $ref: '#/definitions/BucketARN'
        description: 'The ARN of the S3 bucket. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.'
      BufferingHints:
        $ref: '#/definitions/BufferingHints'
        description: The buffering option.
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The Amazon CloudWatch logging options for your delivery stream.
      CompressionFormat:
        $ref: '#/definitions/CompressionFormat'
        description: 'The compression format. If no value is specified, the default is <code>UNCOMPRESSED</code>. '
      DataFormatConversionConfiguration:
        $ref: '#/definitions/DataFormatConversionConfiguration'
        description: 'The serializer, deserializer, and schema for converting data from the JSON format to the Parquet or ORC format before writing it to Amazon S3.'
      EncryptionConfiguration:
        $ref: '#/definitions/EncryptionConfiguration'
        description: 'The encryption configuration. If no value is specified, the default is no encryption.'
      ErrorOutputPrefix:
        $ref: '#/definitions/ErrorOutputPrefix'
        description: A prefix that Kinesis Data Firehose evaluates and adds to failed records before writing them to S3. This prefix appears immediately following the bucket name.
      Prefix:
        $ref: '#/definitions/Prefix'
        description: 'The "YYYY/MM/DD/HH" time format prefix is automatically used for delivered Amazon S3 files. You can specify an extra prefix to be added in front of the time format prefix. If the prefix ends with a slash, it appears as a folder in the S3 bucket. For more information, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#s3-object-name">Amazon S3 Object Name Format</a> in the <i>Amazon Kinesis Data Firehose Developer Guide</i>.'
      ProcessingConfiguration:
        $ref: '#/definitions/ProcessingConfiguration'
        description: The data processing configuration.
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'The Amazon Resource Name (ARN) of the AWS credentials. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.'
      S3BackupMode:
        $ref: '#/definitions/S3BackupMode'
        description: Enables or disables Amazon S3 backup mode.
      S3BackupUpdate:
        $ref: '#/definitions/S3DestinationUpdate'
        description: The Amazon S3 destination for backup.
    type: object
  HECAcknowledgmentTimeoutInSeconds:
    maximum: 600
    minimum: 180
    type: integer
  HECEndpoint:
    type: string
  HECEndpointType:
    enum:
      - Raw
      - Event
    type: string
  HECToken:
    type: string
  HiveJsonSerDe:
    description: 'The native Hive / HCatalog JsonSerDe. Used by Kinesis Data Firehose for deserializing data, which means converting it from the JSON format in preparation for serializing it to the Parquet or ORC format. This is one of two deserializers you can choose, depending on which one offers the functionality you need. The other option is the OpenX SerDe.'
    properties:
      TimestampFormats:
        $ref: '#/definitions/ListOfNonEmptyStrings'
        description: 'Indicates how you want Kinesis Data Firehose to parse the date and timestamps that may be present in your input data JSON. To specify these format strings, follow the pattern syntax of JodaTime''s DateTimeFormat format strings. For more information, see <a href="https://www.joda.org/joda-time/apidocs/org/joda/time/format/DateTimeFormat.html">Class DateTimeFormat</a>. You can also use the special value <code>millis</code> to parse timestamps in epoch milliseconds. If you don''t specify a format, Kinesis Data Firehose uses <code>java.sql.Timestamp::valueOf</code> by default.'
    type: object
  InputFormatConfiguration:
    description: Specifies the deserializer you want to use to convert the format of the input data.
    properties:
      Deserializer:
        $ref: '#/definitions/Deserializer'
        description: 'Specifies which deserializer to use. You can choose either the Apache Hive JSON SerDe or the OpenX JSON SerDe. If both are non-null, the server rejects the request.'
    type: object
  IntervalInSeconds:
    maximum: 900
    minimum: 60
    type: integer
  InvalidArgumentException: {}
  KMSEncryptionConfig:
    description: Describes an encryption key for a destination in Amazon S3.
    properties:
      AWSKMSKeyARN:
        $ref: '#/definitions/AWSKMSKeyARN'
        description: 'The Amazon Resource Name (ARN) of the encryption key. Must belong to the same AWS Region as the destination Amazon S3 bucket. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.'
    required:
      - AWSKMSKeyARN
    type: object
  KinesisStreamARN:
    maxLength: 512
    minLength: 1
    pattern: 'arn:.*'
    type: string
  KinesisStreamSourceConfiguration:
    description: The stream and role Amazon Resource Names (ARNs) for a Kinesis data stream used as the source for a delivery stream.
    properties:
      KinesisStreamARN:
        $ref: '#/definitions/KinesisStreamARN'
        description: 'The ARN of the source Kinesis data stream. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kinesis-streams">Amazon Kinesis Data Streams ARN Format</a>.'
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'The ARN of the role that provides access to the source Kinesis data stream. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam">AWS Identity and Access Management (IAM) ARN Format</a>.'
    required:
      - KinesisStreamARN
      - RoleARN
    type: object
  KinesisStreamSourceDescription:
    description: Details about a Kinesis data stream used as the source for a Kinesis Data Firehose delivery stream.
    properties:
      DeliveryStartTimestamp:
        $ref: '#/definitions/DeliveryStartTimestamp'
        description: Kinesis Data Firehose starts retrieving records from the Kinesis data stream starting with this timestamp.
      KinesisStreamARN:
        $ref: '#/definitions/KinesisStreamARN'
        description: 'The Amazon Resource Name (ARN) of the source Kinesis data stream. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kinesis-streams">Amazon Kinesis Data Streams ARN Format</a>.'
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'The ARN of the role used by the source Kinesis data stream. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam">AWS Identity and Access Management (IAM) ARN Format</a>.'
    type: object
  LimitExceededException: {}
  ListDeliveryStreamsInput:
    properties:
      DeliveryStreamType:
        $ref: '#/definitions/DeliveryStreamType'
        description: '<p>The delivery stream type. This can be one of the following values:</p> <ul> <li> <p> <code>DirectPut</code>: Provider applications access the delivery stream directly.</p> </li> <li> <p> <code>KinesisStreamAsSource</code>: The delivery stream uses a Kinesis data stream as a source.</p> </li> </ul> <p>This parameter is optional. If this parameter is omitted, delivery streams of all types are returned.</p>'
      ExclusiveStartDeliveryStreamName:
        $ref: '#/definitions/DeliveryStreamName'
        description: The list of delivery streams returned by this call to <code>ListDeliveryStreams</code> will start with the delivery stream whose name comes alphabetically immediately after the name you specify in <code>ExclusiveStartDeliveryStreamName</code>.
      Limit:
        $ref: '#/definitions/ListDeliveryStreamsInputLimit'
        description: The maximum number of delivery streams to list. The default value is 10.
    type: object
  ListDeliveryStreamsInputLimit:
    maximum: 10000
    minimum: 1
    type: integer
  ListDeliveryStreamsOutput:
    properties:
      DeliveryStreamNames:
        $ref: '#/definitions/DeliveryStreamNameList'
        description: The names of the delivery streams.
      HasMoreDeliveryStreams:
        $ref: '#/definitions/BooleanObject'
        description: Indicates whether there are more delivery streams available to list.
    required:
      - DeliveryStreamNames
      - HasMoreDeliveryStreams
    type: object
  ListOfNonEmptyStrings:
    items:
      $ref: '#/definitions/NonEmptyString'
    type: array
  ListOfNonEmptyStringsWithoutWhitespace:
    items:
      $ref: '#/definitions/NonEmptyStringWithoutWhitespace'
    type: array
  ListTagsForDeliveryStreamInput:
    properties:
      DeliveryStreamName:
        $ref: '#/definitions/DeliveryStreamName'
        description: The name of the delivery stream whose tags you want to list.
      ExclusiveStartTagKey:
        $ref: '#/definitions/TagKey'
        description: 'The key to use as the starting point for the list of tags. If you set this parameter, <code>ListTagsForDeliveryStream</code> gets all tags that occur after <code>ExclusiveStartTagKey</code>.'
      Limit:
        $ref: '#/definitions/ListTagsForDeliveryStreamInputLimit'
        description: 'The number of tags to return. If this number is less than the total number of tags associated with the delivery stream, <code>HasMoreTags</code> is set to <code>true</code> in the response. To list additional tags, set <code>ExclusiveStartTagKey</code> to the last key in the response. '
    required:
      - DeliveryStreamName
    type: object
  ListTagsForDeliveryStreamInputLimit:
    maximum: 50
    minimum: 1
    type: integer
  ListTagsForDeliveryStreamOutput:
    properties:
      HasMoreTags:
        $ref: '#/definitions/BooleanObject'
        description: 'If this is <code>true</code> in the response, more tags are available. To list the remaining tags, set <code>ExclusiveStartTagKey</code> to the key of the last tag returned and call <code>ListTagsForDeliveryStream</code> again.'
      Tags:
        $ref: '#/definitions/ListTagsForDeliveryStreamOutputTagList'
        description: 'A list of tags associated with <code>DeliveryStreamName</code>, starting with the first tag after <code>ExclusiveStartTagKey</code> and up to the specified <code>Limit</code>.'
    required:
      - Tags
      - HasMoreTags
    type: object
  ListTagsForDeliveryStreamOutputTagList:
    items:
      $ref: '#/definitions/Tag'
    maxItems: 50
    minItems: 0
    type: array
  LogGroupName:
    type: string
  LogStreamName:
    type: string
  NoEncryptionConfig:
    enum:
      - NoEncryption
    type: string
  NonEmptyString:
    pattern: ^(?!\s*$).+
    type: string
  NonEmptyStringWithoutWhitespace:
    pattern: ^\S+$
    type: string
  NonNegativeIntegerObject:
    minimum: 0
    type: integer
  OpenXJsonSerDe:
    description: 'The OpenX SerDe. Used by Kinesis Data Firehose for deserializing data, which means converting it from the JSON format in preparation for serializing it to the Parquet or ORC format. This is one of two deserializers you can choose, depending on which one offers the functionality you need. The other option is the native Hive / HCatalog JsonSerDe.'
    properties:
      CaseInsensitive:
        $ref: '#/definitions/BooleanObject'
        description: 'When set to <code>true</code>, which is the default, Kinesis Data Firehose converts JSON keys to lowercase before deserializing them.'
      ColumnToJsonKeyMappings:
        $ref: '#/definitions/ColumnToJsonKeyMappings'
        description: 'Maps column names to JSON keys that aren''t identical to the column names. This is useful when the JSON contains keys that are Hive keywords. For example, <code>timestamp</code> is a Hive keyword. If you have a JSON key named <code>timestamp</code>, set this parameter to <code>{"ts": "timestamp"}</code> to map this key to a column named <code>ts</code>.'
      ConvertDotsInJsonKeysToUnderscores:
        $ref: '#/definitions/BooleanObject'
        description: '<p>When set to <code>true</code>, specifies that the names of the keys include dots and that you want Kinesis Data Firehose to replace them with underscores. This is useful because Apache Hive does not allow dots in column names. For example, if the JSON contains a key whose name is "a.b", you can define the column name to be "a_b" when using this option.</p> <p>The default is <code>false</code>.</p>'
    type: object
  OrcCompression:
    enum:
      - NONE
      - ZLIB
      - SNAPPY
    type: string
  OrcFormatVersion:
    enum:
      - V0_11
      - V0_12
    type: string
  OrcRowIndexStride:
    minimum: 1000
    type: integer
  OrcSerDe:
    description: 'A serializer to use for converting data to the ORC format before storing it in Amazon S3. For more information, see <a href="https://orc.apache.org/docs/">Apache ORC</a>.'
    properties:
      BlockSizeBytes:
        $ref: '#/definitions/BlockSizeBytes'
        description: The Hadoop Distributed File System (HDFS) block size. This is useful if you intend to copy the data from Amazon S3 to HDFS before querying. The default is 256 MiB and the minimum is 64 MiB. Kinesis Data Firehose uses this value for padding calculations.
      BloomFilterColumns:
        $ref: '#/definitions/ListOfNonEmptyStringsWithoutWhitespace'
        description: The column names for which you want Kinesis Data Firehose to create bloom filters. The default is <code>null</code>.
      BloomFilterFalsePositiveProbability:
        $ref: '#/definitions/Proportion'
        description: 'The Bloom filter false positive probability (FPP). The lower the FPP, the bigger the Bloom filter. The default value is 0.05, the minimum is 0, and the maximum is 1.'
      Compression:
        $ref: '#/definitions/OrcCompression'
        description: The compression code to use over data blocks. The default is <code>SNAPPY</code>.
      DictionaryKeyThreshold:
        $ref: '#/definitions/Proportion'
        description: 'Represents the fraction of the total number of non-null rows. To turn off dictionary encoding, set this fraction to a number that is less than the number of distinct keys in a dictionary. To always use dictionary encoding, set this threshold to 1.'
      EnablePadding:
        $ref: '#/definitions/BooleanObject'
        description: Set this to <code>true</code> to indicate that you want stripes to be padded to the HDFS block boundaries. This is useful if you intend to copy the data from Amazon S3 to HDFS before querying. The default is <code>false</code>.
      FormatVersion:
        $ref: '#/definitions/OrcFormatVersion'
        description: The version of the file to write. The possible values are <code>V0_11</code> and <code>V0_12</code>. The default is <code>V0_12</code>.
      PaddingTolerance:
        $ref: '#/definitions/Proportion'
        description: '<p>A number between 0 and 1 that defines the tolerance for block padding as a decimal fraction of stripe size. The default value is 0.05, which means 5 percent of stripe size.</p> <p>For the default values of 64 MiB ORC stripes and 256 MiB HDFS blocks, the default block padding tolerance of 5 percent reserves a maximum of 3.2 MiB for padding within the 256 MiB block. In such a case, if the available size within the block is more than 3.2 MiB, a new, smaller stripe is inserted to fit within that space. This ensures that no stripe crosses block boundaries and causes remote reads within a node-local task.</p> <p>Kinesis Data Firehose ignores this parameter when <a>OrcSerDe$EnablePadding</a> is <code>false</code>.</p>'
      RowIndexStride:
        $ref: '#/definitions/OrcRowIndexStride'
        description: 'The number of rows between index entries. The default is 10,000 and the minimum is 1,000.'
      StripeSizeBytes:
        $ref: '#/definitions/OrcStripeSizeBytes'
        description: The number of bytes in each stripe. The default is 64 MiB and the minimum is 8 MiB.
    type: object
  OrcStripeSizeBytes:
    minimum: 8388608
    type: integer
  OutputFormatConfiguration:
    description: Specifies the serializer that you want Kinesis Data Firehose to use to convert the format of your data before it writes it to Amazon S3.
    properties:
      Serializer:
        $ref: '#/definitions/Serializer'
        description: 'Specifies which serializer to use. You can choose either the ORC SerDe or the Parquet SerDe. If both are non-null, the server rejects the request.'
    type: object
  ParquetCompression:
    enum:
      - UNCOMPRESSED
      - GZIP
      - SNAPPY
    type: string
  ParquetPageSizeBytes:
    minimum: 65536
    type: integer
  ParquetSerDe:
    description: 'A serializer to use for converting data to the Parquet format before storing it in Amazon S3. For more information, see <a href="https://parquet.apache.org/documentation/latest/">Apache Parquet</a>.'
    properties:
      BlockSizeBytes:
        $ref: '#/definitions/BlockSizeBytes'
        description: The Hadoop Distributed File System (HDFS) block size. This is useful if you intend to copy the data from Amazon S3 to HDFS before querying. The default is 256 MiB and the minimum is 64 MiB. Kinesis Data Firehose uses this value for padding calculations.
      Compression:
        $ref: '#/definitions/ParquetCompression'
        description: 'The compression code to use over data blocks. The possible values are <code>UNCOMPRESSED</code>, <code>SNAPPY</code>, and <code>GZIP</code>, with the default being <code>SNAPPY</code>. Use <code>SNAPPY</code> for higher decompression speed. Use <code>GZIP</code> if the compression ration is more important than speed.'
      EnableDictionaryCompression:
        $ref: '#/definitions/BooleanObject'
        description: Indicates whether to enable dictionary compression.
      MaxPaddingBytes:
        $ref: '#/definitions/NonNegativeIntegerObject'
        description: The maximum amount of padding to apply. This is useful if you intend to copy the data from Amazon S3 to HDFS before querying. The default is 0.
      PageSizeBytes:
        $ref: '#/definitions/ParquetPageSizeBytes'
        description: The Parquet page size. Column chunks are divided into pages. A page is conceptually an indivisible unit (in terms of compression and encoding). The minimum value is 64 KiB and the default is 1 MiB.
      WriterVersion:
        $ref: '#/definitions/ParquetWriterVersion'
        description: Indicates the version of row format to output. The possible values are <code>V1</code> and <code>V2</code>. The default is <code>V1</code>.
    type: object
  ParquetWriterVersion:
    enum:
      - V1
      - V2
    type: string
  Password:
    format: password
    minLength: 6
    type: string
  Prefix:
    type: string
  ProcessingConfiguration:
    description: Describes a data processing configuration.
    properties:
      Enabled:
        $ref: '#/definitions/BooleanObject'
        description: Enables or disables data processing.
      Processors:
        $ref: '#/definitions/ProcessorList'
        description: The data processors.
    type: object
  Processor:
    description: Describes a data processor.
    properties:
      Parameters:
        $ref: '#/definitions/ProcessorParameterList'
        description: The processor parameters.
      Type:
        $ref: '#/definitions/ProcessorType'
        description: The type of processor.
    required:
      - Type
    type: object
  ProcessorList:
    items:
      $ref: '#/definitions/Processor'
    type: array
  ProcessorParameter:
    description: Describes the processor parameter.
    properties:
      ParameterName:
        $ref: '#/definitions/ProcessorParameterName'
        description: The name of the parameter.
      ParameterValue:
        $ref: '#/definitions/ProcessorParameterValue'
        description: The parameter value.
    required:
      - ParameterName
      - ParameterValue
    type: object
  ProcessorParameterList:
    items:
      $ref: '#/definitions/ProcessorParameter'
    type: array
  ProcessorParameterName:
    enum:
      - LambdaArn
      - NumberOfRetries
      - RoleArn
      - BufferSizeInMBs
      - BufferIntervalInSeconds
    type: string
  ProcessorParameterValue:
    maxLength: 512
    minLength: 1
    type: string
  ProcessorType:
    enum:
      - Lambda
    type: string
  Proportion:
    format: double
    maximum: 1
    minimum: 0
    type: number
  PutRecordBatchInput:
    properties:
      DeliveryStreamName:
        $ref: '#/definitions/DeliveryStreamName'
        description: The name of the delivery stream.
      Records:
        $ref: '#/definitions/PutRecordBatchRequestEntryList'
        description: One or more records.
    required:
      - DeliveryStreamName
      - Records
    type: object
  PutRecordBatchOutput:
    properties:
      Encrypted:
        $ref: '#/definitions/BooleanObject'
        description: Indicates whether server-side encryption (SSE) was enabled during this operation.
      FailedPutCount:
        $ref: '#/definitions/NonNegativeIntegerObject'
        description: The number of records that might have failed processing. This number might be greater than 0 even if the <a>PutRecordBatch</a> call succeeds. Check <code>FailedPutCount</code> to determine whether there are records that you need to resend.
      RequestResponses:
        $ref: '#/definitions/PutRecordBatchResponseEntryList'
        description: 'The results array. For each record, the index of the response element is the same as the index used in the request array.'
    required:
      - FailedPutCount
      - RequestResponses
    type: object
  PutRecordBatchRequestEntryList:
    items:
      $ref: '#/definitions/Record'
    maxItems: 500
    minItems: 1
    type: array
  PutRecordBatchResponseEntry:
    description: 'Contains the result for an individual record from a <a>PutRecordBatch</a> request. If the record is successfully added to your delivery stream, it receives a record ID. If the record fails to be added to your delivery stream, the result includes an error code and an error message.'
    properties:
      ErrorCode:
        $ref: '#/definitions/ErrorCode'
        description: The error code for an individual record result.
      ErrorMessage:
        $ref: '#/definitions/ErrorMessage'
        description: The error message for an individual record result.
      RecordId:
        $ref: '#/definitions/PutResponseRecordId'
        description: The ID of the record.
    type: object
  PutRecordBatchResponseEntryList:
    items:
      $ref: '#/definitions/PutRecordBatchResponseEntry'
    maxItems: 500
    minItems: 1
    type: array
  PutRecordInput:
    properties:
      DeliveryStreamName:
        $ref: '#/definitions/DeliveryStreamName'
        description: The name of the delivery stream.
      Record:
        $ref: '#/definitions/Record'
        description: The record.
    required:
      - DeliveryStreamName
      - Record
    type: object
  PutRecordOutput:
    properties:
      Encrypted:
        $ref: '#/definitions/BooleanObject'
        description: Indicates whether server-side encryption (SSE) was enabled during this operation.
      RecordId:
        $ref: '#/definitions/PutResponseRecordId'
        description: The ID of the record.
    required:
      - RecordId
    type: object
  PutResponseRecordId:
    minLength: 1
    type: string
  Record:
    description: The unit of data in a delivery stream.
    properties:
      Data:
        $ref: '#/definitions/Data'
        description: 'The data blob, which is base64-encoded when the blob is serialized. The maximum size of the data blob, before base64-encoding, is 1,000 KiB.'
    required:
      - Data
    type: object
  RedshiftDestinationConfiguration:
    description: Describes the configuration of a destination in Amazon Redshift.
    properties:
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The CloudWatch logging options for your delivery stream.
      ClusterJDBCURL:
        $ref: '#/definitions/ClusterJDBCURL'
        description: The database connection string.
      CopyCommand:
        $ref: '#/definitions/CopyCommand'
        description: The <code>COPY</code> command.
      Password:
        $ref: '#/definitions/Password'
        description: The user password.
      ProcessingConfiguration:
        $ref: '#/definitions/ProcessingConfiguration'
        description: The data processing configuration.
      RetryOptions:
        $ref: '#/definitions/RedshiftRetryOptions'
        description: The retry behavior in case Kinesis Data Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'The Amazon Resource Name (ARN) of the AWS credentials. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.'
      S3BackupConfiguration:
        $ref: '#/definitions/S3DestinationConfiguration'
        description: The configuration for backup in Amazon S3.
      S3BackupMode:
        $ref: '#/definitions/RedshiftS3BackupMode'
        description: The Amazon S3 backup mode.
      S3Configuration:
        $ref: '#/definitions/S3DestinationConfiguration'
        description: <p>The configuration for the intermediate Amazon S3 location from which Amazon Redshift obtains data. Restrictions are described in the topic for <a>CreateDeliveryStream</a>.</p> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified in <code>RedshiftDestinationConfiguration.S3Configuration</code> because the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket doesn't support these compression formats.</p>
      Username:
        $ref: '#/definitions/Username'
        description: The name of the user.
    required:
      - RoleARN
      - ClusterJDBCURL
      - CopyCommand
      - Username
      - Password
      - S3Configuration
    type: object
  RedshiftDestinationDescription:
    description: Describes a destination in Amazon Redshift.
    properties:
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The Amazon CloudWatch logging options for your delivery stream.
      ClusterJDBCURL:
        $ref: '#/definitions/ClusterJDBCURL'
        description: The database connection string.
      CopyCommand:
        $ref: '#/definitions/CopyCommand'
        description: The <code>COPY</code> command.
      ProcessingConfiguration:
        $ref: '#/definitions/ProcessingConfiguration'
        description: The data processing configuration.
      RetryOptions:
        $ref: '#/definitions/RedshiftRetryOptions'
        description: The retry behavior in case Kinesis Data Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'The Amazon Resource Name (ARN) of the AWS credentials. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.'
      S3BackupDescription:
        $ref: '#/definitions/S3DestinationDescription'
        description: The configuration for backup in Amazon S3.
      S3BackupMode:
        $ref: '#/definitions/RedshiftS3BackupMode'
        description: The Amazon S3 backup mode.
      S3DestinationDescription:
        $ref: '#/definitions/S3DestinationDescription'
        description: The Amazon S3 destination.
      Username:
        $ref: '#/definitions/Username'
        description: The name of the user.
    required:
      - RoleARN
      - ClusterJDBCURL
      - CopyCommand
      - Username
      - S3DestinationDescription
    type: object
  RedshiftDestinationUpdate:
    description: Describes an update for a destination in Amazon Redshift.
    properties:
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The Amazon CloudWatch logging options for your delivery stream.
      ClusterJDBCURL:
        $ref: '#/definitions/ClusterJDBCURL'
        description: The database connection string.
      CopyCommand:
        $ref: '#/definitions/CopyCommand'
        description: The <code>COPY</code> command.
      Password:
        $ref: '#/definitions/Password'
        description: The user password.
      ProcessingConfiguration:
        $ref: '#/definitions/ProcessingConfiguration'
        description: The data processing configuration.
      RetryOptions:
        $ref: '#/definitions/RedshiftRetryOptions'
        description: The retry behavior in case Kinesis Data Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'The Amazon Resource Name (ARN) of the AWS credentials. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.'
      S3BackupMode:
        $ref: '#/definitions/RedshiftS3BackupMode'
        description: The Amazon S3 backup mode.
[...]
