swagger: '2.0'
info:
  version: '2015-08-04'
  x-release: v4
  title: Amazon Kinesis Firehose
  description: '<fullname>Amazon Kinesis Firehose API Reference</fullname> <p>Amazon Kinesis Firehose is a fully-managed service that delivers real-time streaming data to destinations such as Amazon Simple Storage Service (Amazon S3), Amazon Elasticsearch Service (Amazon ES), and Amazon Redshift.</p>'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: firehose
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/firehose-2015-08-04.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
    - format: swagger
      version: '2.0'
      url: 'https://raw.githubusercontent.com/mermade/openapi-definitions/master/aws/firehose/2015-08-04/swagger.yaml'
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
x-logo:
  url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
  backgroundColor: '#FFFFFF'
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/firehose/'
host: firehose.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: CreateDeliveryStream
      description: '<p>Creates a delivery stream.</p> <p>By default, you can create up to 20 delivery streams per region.</p> <p>This is an asynchronous operation that immediately returns. The initial status of the delivery stream is <code>CREATING</code>. After the delivery stream is created, its status is <code>ACTIVE</code> and it now accepts data. Attempts to send data to a delivery stream that is not in the <code>ACTIVE</code> state cause an exception. To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>A delivery stream is configured with a single destination: Amazon S3, Amazon Elasticsearch Service, or Amazon Redshift. You must specify only one of the following destination configuration parameters: <b>ExtendedS3DestinationConfiguration</b>, <b>S3DestinationConfiguration</b>, <b>ElasticsearchDestinationConfiguration</b>, or <b>RedshiftDestinationConfiguration</b>.</p> <p>When you specify <b>S3DestinationConfiguration</b>, you can also provide the following optional values: <b>BufferingHints</b>, <b>EncryptionConfiguration</b>, and <b>CompressionFormat</b>. By default, if no <b>BufferingHints</b> value is provided, Firehose buffers data up to 5 MB or for 5 minutes, whichever condition is satisfied first. Note that <b>BufferingHints</b> is a hint, so there are some cases where the service cannot adhere to these conditions strictly; for example, record boundaries are such that the size is a little over or under the configured buffering size. By default, no encryption is performed. We strongly recommend that you enable encryption to ensure secure data storage in Amazon S3.</p> <p>A few notes about Amazon Redshift as a destination:</p> <ul> <li> <p>An Amazon Redshift destination requires an S3 bucket as intermediate location, as Firehose first delivers data to S3 and then uses <code>COPY</code> syntax to load data into an Amazon Redshift table. This is specified in the <b>RedshiftDestinationConfiguration.S3Configuration</b> parameter.</p> </li> <li> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified in <b>RedshiftDestinationConfiguration.S3Configuration</b> because the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket doesn''t support these compression formats.</p> </li> <li> <p>We strongly recommend that you use the user name and password you provide exclusively with Firehose, and that the permissions for the account are restricted for Amazon Redshift <code>INSERT</code> permissions.</p> </li> </ul> <p>Firehose assumes the IAM role that is configured as part of the destination. The role should allow the Firehose principal to assume the role, and the role should have permissions that allows the service to deliver the data. For more information, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3">Amazon S3 Bucket Access</a> in the <i>Amazon Kinesis Firehose Developer Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeliveryStreamOutput'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDeliveryStreamInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteDeliveryStream':
    post:
      operationId: DeleteDeliveryStream
      description: '<p>Deletes a delivery stream and its data.</p> <p>You can delete a delivery stream only if it is in <code>ACTIVE</code> or <code>DELETING</code> state, and not in the <code>CREATING</code> state. While the deletion request is in process, the delivery stream is in the <code>DELETING</code> state.</p> <p>To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>While the delivery stream is <code>DELETING</code> state, the service may continue to accept the records, but the service doesn''t make any guarantees with respect to delivering the data. Therefore, as a best practice, you should first stop any applications that are sending records before deleting a delivery stream.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDeliveryStreamOutput'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDeliveryStreamInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDeliveryStream':
    post:
      operationId: DescribeDeliveryStream
      description: 'Describes the specified delivery stream and gets the status. For example, after your delivery stream is created, call <a>DescribeDeliveryStream</a> to see if the delivery stream is <code>ACTIVE</code> and therefore ready for data to be sent to it.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDeliveryStreamOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDeliveryStreamInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDeliveryStreams':
    post:
      operationId: ListDeliveryStreams
      description: '<p>Lists your delivery streams.</p> <p>The number of delivery streams might be too large to return using a single call to <a>ListDeliveryStreams</a>. You can limit the number of delivery streams returned, using the <b>Limit</b> parameter. To determine whether there are more delivery streams to list, check the value of <b>HasMoreDeliveryStreams</b> in the output. If there are more delivery streams to list, you can request them by specifying the name of the last delivery stream returned in the call in the <b>ExclusiveStartDeliveryStreamName</b> parameter of a subsequent call.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeliveryStreamsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDeliveryStreamsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutRecord':
    post:
      operationId: PutRecord
      description: '<p>Writes a single data record into an Amazon Kinesis Firehose delivery stream. To write multiple data records into a delivery stream, use <a>PutRecordBatch</a>. Applications using these operations are referred to as producers.</p> <p>By default, each delivery stream can take in up to 2,000 transactions per second, 5,000 records per second, or 5 MB per second. Note that if you use <a>PutRecord</a> and <a>PutRecordBatch</a>, the limits are an aggregate across these two operations for each delivery stream. For more information about limits and how to request an increase, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/limits.html">Amazon Kinesis Firehose Limits</a>. </p> <p>You must specify the name of the delivery stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KB in size, and any kind of data, for example, a segment from a log file, geographic location data, web site clickstream data, etc.</p> <p>Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\n</code>) or some other character unique within the data. This allows the consumer application(s) to parse individual data items when reading the data from the destination.</p> <p>The <a>PutRecord</a> operation returns a <b>RecordId</b>, which is a unique string assigned to each record. Producer applications can use this ID for purposes such as auditability and investigation.</p> <p>If the <a>PutRecord</a> operation throws a <b>ServiceUnavailableException</b>, back off and retry. If the exception persists, it is possible that the throughput limits have been exceeded for the delivery stream. </p> <p>Data records sent to Firehose are stored for 24 hours from the time they are added to a delivery stream as it attempts to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutRecordOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutRecordInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutRecordBatch':
    post:
      operationId: PutRecordBatch
      description: '<p>Writes multiple data records into a delivery stream in a single call, which can achieve higher throughput per producer than when writing single records. To write single data records into a delivery stream, use <a>PutRecord</a>. Applications using these operations are referred to as producers.</p> <p>By default, each delivery stream can take in up to 2,000 transactions per second, 5,000 records per second, or 5 MB per second. Note that if you use <a>PutRecord</a> and <a>PutRecordBatch</a>, the limits are an aggregate across these two operations for each delivery stream. For more information about limits, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/limits.html">Amazon Kinesis Firehose Limits</a>.</p> <p>Each <a>PutRecordBatch</a> request supports up to 500 records. Each record in the request can be as large as 1,000 KB (before 64-bit encoding), up to a limit of 4 MB for the entire request. These limits cannot be changed.</p> <p>You must specify the name of the delivery stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KB in size, and any kind of data, for example, a segment from a log file, geographic location data, web site clickstream data, and so on.</p> <p>Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\n</code>) or some other character unique within the data. This allows the consumer application(s) to parse individual data items when reading the data from the destination.</p> <p>The <a>PutRecordBatch</a> response includes a count of failed records, <b>FailedPutCount</b>, and an array of responses, <b>RequestResponses</b>. Each entry in the <b>RequestResponses</b> array provides additional information about the processed record, and directly correlates with a record in the request array using the same ordering, from the top to the bottom. The response array always includes the same number of records as the request array. <b>RequestResponses</b> includes both successfully and unsuccessfully processed records. Firehose attempts to process all records in each <a>PutRecordBatch</a> request. A single record failure does not stop the processing of subsequent records.</p> <p>A successfully processed record includes a <b>RecordId</b> value, which is unique for the record. An unsuccessfully processed record includes <b>ErrorCode</b> and <b>ErrorMessage</b> values. <b>ErrorCode</b> reflects the type of error, and is one of the following values: <code>ServiceUnavailable</code> or <code>InternalFailure</code>. <b>ErrorMessage</b> provides more detailed information about the error.</p> <p>If there is an internal server error or a timeout, the write might have completed or it might have failed. If <b>FailedPutCount</b> is greater than 0, retry the request, resending only those records that might have failed processing. This minimizes the possible duplicate records and also reduces the total bytes sent (and corresponding charges). We recommend that you handle any duplicates at the destination.</p> <p>If <a>PutRecordBatch</a> throws <b>ServiceUnavailableException</b>, back off and retry. If the exception persists, it is possible that the throughput limits have been exceeded for the delivery stream.</p> <p>Data records sent to Firehose are stored for 24 hours from the time they are added to a delivery stream as it attempts to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutRecordBatchOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutRecordBatchInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateDestination':
    post:
      operationId: UpdateDestination
      description: '<p>Updates the specified destination of the specified delivery stream.</p> <p>You can use this operation to change the destination type (for example, to replace the Amazon S3 destination with Amazon Redshift) or change the parameters associated with a destination (for example, to change the bucket name of the Amazon S3 destination). The update might not occur immediately. The target delivery stream remains active while the configurations are updated, so data writes to the delivery stream can continue during this process. The updated configurations are usually effective within a few minutes.</p> <p>Note that switching between Amazon ES and other services is not supported. For an Amazon ES destination, you can only update to another Amazon ES destination.</p> <p>If the destination type is the same, Firehose merges the configuration parameters specified with the destination configuration that already exists on the delivery stream. If any of the parameters are not specified in the call, the existing values are retained. For example, in the Amazon S3 destination, if <a>EncryptionConfiguration</a> is not specified then the existing <a>EncryptionConfiguration</a> is maintained on the destination.</p> <p>If the destination type is not the same, for example, changing the destination from Amazon S3 to Amazon Redshift, Firehose does not merge any parameters. In this case, all parameters must be specified.</p> <p>Firehose uses <b>CurrentDeliveryStreamVersionId</b> to avoid race conditions and conflicting merges. This is a required field, and the service updates the configuration only if the existing configuration has a version ID that matches. After the update is applied successfully, the version ID is updated, and can be retrieved using <a>DescribeDeliveryStream</a>. You should use the new version ID to set <b>CurrentDeliveryStreamVersionId</b> in the next call.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDestinationOutput'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDestinationInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AWSKMSKeyARN:
    type: string
    pattern: 'arn:.*'
    minLength: 1
    maxLength: 512
  BooleanObject:
    type: boolean
  BucketARN:
    type: string
    pattern: 'arn:.*'
    minLength: 1
    maxLength: 2048
  BufferingHints:
    type: object
    properties:
      SizeInMBs:
        $ref: '#/definitions/SizeInMBs'
        description: '<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>'
      IntervalInSeconds:
        $ref: '#/definitions/IntervalInSeconds'
        description: 'Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300.'
    description: 'Describes hints for the buffering to perform before delivering data to the destination. Please note that these options are treated as hints, and therefore Firehose may choose to use different values when it is optimal.'
  CloudWatchLoggingOptions:
    type: object
    properties:
      Enabled:
        $ref: '#/definitions/BooleanObject'
        description: Enables or disables CloudWatch logging.
      LogGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.
      LogStreamName:
        $ref: '#/definitions/LogStreamName'
        description: The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.
    description: Describes the CloudWatch logging options for your delivery stream.
  ClusterJDBCURL:
    type: string
    pattern: 'jdbc:\(redshift\|postgresql\)://\(\(\?!-\)[A-Za-z0-9-]\{1,63\}\(\?<!-\)\.\)\+redshift\.amazonaws\.com:\d\{1,5\}/[a-zA-Z0-9_$]\+'
    minLength: 1
  CompressionFormat:
    type: string
    enum:
      - UNCOMPRESSED
      - GZIP
      - ZIP
      - Snappy
  ConcurrentModificationException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A message that provides information about the error.
    description: Another modification has already happened. Fetch <b>VersionId</b> again and use it to update the destination.
  CopyCommand:
    type: object
    required:
      - DataTableName
    properties:
      DataTableName:
        $ref: '#/definitions/DataTableName'
        description: The name of the target table. The table must already exist in the database.
      DataTableColumns:
        $ref: '#/definitions/DataTableColumns'
        description: A comma-separated list of column names.
      CopyOptions:
        $ref: '#/definitions/CopyOptions'
        description: '<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the "Optional Parameters" section of <a href="http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows:</p> <p> <code>delimiter ''\t'' lzop;</code> - fields are delimited with "\t" (TAB character) and compressed using lzop.</p> <p> <code>delimiter ''|</code> - fields are delimited with "|" (this is the default delimiter).</p> <p> <code>delimiter ''|'' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth ''venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6''</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON ''s3://mybucket/jsonpaths.txt''</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href="http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html">Amazon Redshift COPY command examples</a>.</p>'
    description: Describes a <code>COPY</code> command for Amazon Redshift.
  CopyOptions:
    type: string
  CreateDeliveryStreamInput:
    type: object
    required:
      - DeliveryStreamName
    properties:
      DeliveryStreamName:
        $ref: '#/definitions/DeliveryStreamName'
        description: The name of the delivery stream. This name must be unique per AWS account in the same region. You can have multiple delivery streams with the same name if they are in different accounts or different regions.
      S3DestinationConfiguration:
        $ref: '#/definitions/S3DestinationConfiguration'
        description: '[Deprecated] The destination in Amazon S3. You can specify only one destination.'
      ExtendedS3DestinationConfiguration:
        $ref: '#/definitions/ExtendedS3DestinationConfiguration'
        description: The destination in Amazon S3. You can specify only one destination.
      RedshiftDestinationConfiguration:
        $ref: '#/definitions/RedshiftDestinationConfiguration'
        description: The destination in Amazon Redshift. You can specify only one destination.
      ElasticsearchDestinationConfiguration:
        $ref: '#/definitions/ElasticsearchDestinationConfiguration'
        description: The destination in Amazon ES. You can specify only one destination.
  CreateDeliveryStreamOutput:
    type: object
    properties:
      DeliveryStreamARN:
        $ref: '#/definitions/DeliveryStreamARN'
        description: The ARN of the delivery stream.
  Data:
    type: string
    minLength: 0
    maxLength: 1024000
  DataTableColumns:
    type: string
  DataTableName:
    type: string
    minLength: 1
  DeleteDeliveryStreamInput:
    type: object
    required:
      - DeliveryStreamName
    properties:
      DeliveryStreamName:
        $ref: '#/definitions/DeliveryStreamName'
        description: The name of the delivery stream.
  DeleteDeliveryStreamOutput:
    type: object
    properties: {}
  DeliveryStreamARN:
    type: string
    pattern: 'arn:.*'
    minLength: 1
    maxLength: 512
  DeliveryStreamDescription:
    type: object
    required:
      - DeliveryStreamName
      - DeliveryStreamARN
      - DeliveryStreamStatus
      - VersionId
      - Destinations
      - HasMoreDestinations
    properties:
      DeliveryStreamName:
        $ref: '#/definitions/DeliveryStreamName'
        description: The name of the delivery stream.
      DeliveryStreamARN:
        $ref: '#/definitions/DeliveryStreamARN'
        description: The Amazon Resource Name (ARN) of the delivery stream.
      DeliveryStreamStatus:
        $ref: '#/definitions/DeliveryStreamStatus'
        description: The status of the delivery stream.
      VersionId:
        $ref: '#/definitions/DeliveryStreamVersionId'
        description: 'Each time the destination is updated for a delivery stream, the version ID is changed, and the current version ID is required when updating the destination. This is so that the service knows it is applying the changes to the correct version of the delivery stream.'
      CreateTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The date and time that the delivery stream was created.
      LastUpdateTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The date and time that the delivery stream was last updated.
      Destinations:
        $ref: '#/definitions/DestinationDescriptionList'
        description: The destinations.
      HasMoreDestinations:
        $ref: '#/definitions/BooleanObject'
        description: Indicates whether there are more destinations available to list.
    description: Contains information about a delivery stream.
  DeliveryStreamName:
    type: string
    pattern: '[a-zA-Z0-9_.-]+'
    minLength: 1
    maxLength: 64
  DeliveryStreamNameList:
    type: array
    items:
      $ref: '#/definitions/DeliveryStreamName'
  DeliveryStreamStatus:
    type: string
    enum:
      - CREATING
      - DELETING
      - ACTIVE
  DeliveryStreamVersionId:
    type: string
    pattern: '[0-9]+'
    minLength: 1
    maxLength: 50
  DescribeDeliveryStreamInput:
    type: object
    required:
      - DeliveryStreamName
    properties:
      DeliveryStreamName:
        $ref: '#/definitions/DeliveryStreamName'
        description: The name of the delivery stream.
      Limit:
        $ref: '#/definitions/DescribeDeliveryStreamInputLimit'
        description: 'The limit on the number of destinations to return. Currently, you can have one destination per delivery stream.'
      ExclusiveStartDestinationId:
        $ref: '#/definitions/DestinationId'
        description: The ID of the destination to start returning the destination information. Currently Firehose supports one destination per delivery stream.
  DescribeDeliveryStreamInputLimit:
    type: integer
    minimum: 1
    maximum: 10000
  DescribeDeliveryStreamOutput:
    type: object
    required:
      - DeliveryStreamDescription
    properties:
      DeliveryStreamDescription:
        $ref: '#/definitions/DeliveryStreamDescription'
        description: Information about the delivery stream.
  DestinationDescription:
    type: object
    required:
      - DestinationId
    properties:
      DestinationId:
        $ref: '#/definitions/DestinationId'
        description: The ID of the destination.
      S3DestinationDescription:
        $ref: '#/definitions/S3DestinationDescription'
        description: '[Deprecated] The destination in Amazon S3.'
      ExtendedS3DestinationDescription:
        $ref: '#/definitions/ExtendedS3DestinationDescription'
        description: The destination in Amazon S3.
      RedshiftDestinationDescription:
        $ref: '#/definitions/RedshiftDestinationDescription'
        description: The destination in Amazon Redshift.
      ElasticsearchDestinationDescription:
        $ref: '#/definitions/ElasticsearchDestinationDescription'
        description: The destination in Amazon ES.
    description: Describes the destination for a delivery stream.
  DestinationDescriptionList:
    type: array
    items:
      $ref: '#/definitions/DestinationDescription'
  DestinationId:
    type: string
    minLength: 1
    maxLength: 100
  ElasticsearchBufferingHints:
    type: object
    properties:
      IntervalInSeconds:
        $ref: '#/definitions/ElasticsearchBufferingIntervalInSeconds'
        description: 'Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).'
      SizeInMBs:
        $ref: '#/definitions/ElasticsearchBufferingSizeInMBs'
        description: '<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>'
    description: Describes the buffering to perform before delivering data to the Amazon ES destination.
  ElasticsearchBufferingIntervalInSeconds:
    type: integer
    minimum: 60
    maximum: 900
  ElasticsearchBufferingSizeInMBs:
    type: integer
    minimum: 1
    maximum: 100
  ElasticsearchDestinationConfiguration:
    type: object
    required:
      - RoleARN
      - DomainARN
      - IndexName
      - TypeName
      - S3Configuration
    properties:
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'The ARN of the IAM role to be assumed by Firehose for calling the Amazon ES Configuration API and for indexing documents. For more information, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3">Amazon S3 Bucket Access</a>.'
      DomainARN:
        $ref: '#/definitions/ElasticsearchDomainARN'
        description: "The ARN of the Amazon ES domain. The IAM role must have permissions for\_<code>DescribeElasticsearchDomain</code>, <code>DescribeElasticsearchDomains</code>, and <code>DescribeElasticsearchDomainConfig</code>\_after assuming the role specified in <b>RoleARN</b>."
      IndexName:
        $ref: '#/definitions/ElasticsearchIndexName'
        description: The Elasticsearch index name.
      TypeName:
        $ref: '#/definitions/ElasticsearchTypeName'
        description: The Elasticsearch type name.
      IndexRotationPeriod:
        $ref: '#/definitions/ElasticsearchIndexRotationPeriod'
        description: "The Elasticsearch index rotation period. Index rotation appends a timestamp to the IndexName to facilitate expiration of old data. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-index-rotation\">Index Rotation for Amazon Elasticsearch Service Destination</a>. The default value is\_<code>OneDay</code>."
      BufferingHints:
        $ref: '#/definitions/ElasticsearchBufferingHints'
        description: 'The buffering options. If no value is specified, the default values for <b>ElasticsearchBufferingHints</b> are used.'
      RetryOptions:
        $ref: '#/definitions/ElasticsearchRetryOptions'
        description: The retry behavior in the event that Firehose is unable to deliver documents to Amazon ES. The default value is 300 (5 minutes).
      S3BackupMode:
        $ref: '#/definitions/ElasticsearchS3BackupMode'
        description: 'Defines how documents should be delivered to Amazon S3. When set to FailedDocumentsOnly, Firehose writes any documents that could not be indexed to the configured Amazon S3 destination, with elasticsearch-failed/ appended to the key prefix. When set to AllDocuments, Firehose delivers all incoming records to Amazon S3, and also writes failed documents with elasticsearch-failed/ appended to the prefix. For more information, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-s3-backup">Amazon S3 Backup for Amazon Elasticsearch Service Destination</a>. Default value is FailedDocumentsOnly.'
      S3Configuration:
        $ref: '#/definitions/S3DestinationConfiguration'
        description: The configuration for the intermediate Amazon S3 location from which Amazon ES obtains data.
      ProcessingConfiguration:
        $ref: '#/definitions/ProcessingConfiguration'
        description: The data processing configuration.
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The CloudWatch logging options for your delivery stream.
    description: Describes the configuration of a destination in Amazon ES.
  ElasticsearchDestinationDescription:
    type: object
    properties:
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: The ARN of the AWS credentials.
      DomainARN:
        $ref: '#/definitions/ElasticsearchDomainARN'
        description: The ARN of the Amazon ES domain.
      IndexName:
        $ref: '#/definitions/ElasticsearchIndexName'
        description: The Elasticsearch index name.
      TypeName:
        $ref: '#/definitions/ElasticsearchTypeName'
        description: The Elasticsearch type name.
      IndexRotationPeriod:
        $ref: '#/definitions/ElasticsearchIndexRotationPeriod'
        description: The Elasticsearch index rotation period
      BufferingHints:
        $ref: '#/definitions/ElasticsearchBufferingHints'
        description: The buffering options.
      RetryOptions:
        $ref: '#/definitions/ElasticsearchRetryOptions'
        description: The Amazon ES retry options.
      S3BackupMode:
        $ref: '#/definitions/ElasticsearchS3BackupMode'
        description: The Amazon S3 backup mode.
      S3DestinationDescription:
        $ref: '#/definitions/S3DestinationDescription'
        description: The Amazon S3 destination.
      ProcessingConfiguration:
        $ref: '#/definitions/ProcessingConfiguration'
        description: The data processing configuration.
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The CloudWatch logging options.
    description: The destination description in Amazon ES.
  ElasticsearchDestinationUpdate:
    type: object
    properties:
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'The ARN of the IAM role to be assumed by Firehose for calling the Amazon ES Configuration API and for indexing documents. For more information, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3">Amazon S3 Bucket Access</a>.'
      DomainARN:
        $ref: '#/definitions/ElasticsearchDomainARN'
        description: "The ARN of the Amazon ES domain. The IAM role must have permissions for\_<code>DescribeElasticsearchDomain</code>, <code>DescribeElasticsearchDomains</code>, and <code>DescribeElasticsearchDomainConfig</code>\_after assuming the IAM role specified in <b>RoleARN</b>."
      IndexName:
        $ref: '#/definitions/ElasticsearchIndexName'
        description: The Elasticsearch index name.
      TypeName:
        $ref: '#/definitions/ElasticsearchTypeName'
        description: The Elasticsearch type name.
      IndexRotationPeriod:
        $ref: '#/definitions/ElasticsearchIndexRotationPeriod'
        description: "The Elasticsearch index rotation period. Index rotation appends a timestamp to IndexName to facilitate the expiration of old data. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-index-rotation\">Index Rotation for Amazon Elasticsearch Service Destination</a>. Default value is\_<code>OneDay</code>."
      BufferingHints:
        $ref: '#/definitions/ElasticsearchBufferingHints'
        description: 'The buffering options. If no value is specified, <b>ElasticsearchBufferingHints</b> object default values are used. '
      RetryOptions:
        $ref: '#/definitions/ElasticsearchRetryOptions'
        description: The retry behavior in the event that Firehose is unable to deliver documents to Amazon ES. Default value is 300 (5 minutes).
      S3Update:
        $ref: '#/definitions/S3DestinationUpdate'
        description: The Amazon S3 destination.
      ProcessingConfiguration:
        $ref: '#/definitions/ProcessingConfiguration'
        description: The data processing configuration.
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The CloudWatch logging options for your delivery stream.
    description: Describes an update for a destination in Amazon ES.
  ElasticsearchDomainARN:
    type: string
    pattern: 'arn:.*'
    minLength: 1
    maxLength: 512
  ElasticsearchIndexName:
    type: string
    minLength: 1
    maxLength: 80
  ElasticsearchIndexRotationPeriod:
    type: string
    enum:
      - NoRotation
      - OneHour
      - OneDay
      - OneWeek
      - OneMonth
  ElasticsearchRetryDurationInSeconds:
    type: integer
    minimum: 0
    maximum: 7200
  ElasticsearchRetryOptions:
    type: object
    properties:
      DurationInSeconds:
        $ref: '#/definitions/ElasticsearchRetryDurationInSeconds'
        description: 'After an initial failure to deliver to Amazon ES, the total amount of time during which Firehose re-attempts delivery (including the first attempt). After this time has elapsed, the failed documents are written to Amazon S3. Default value is 300 seconds (5 minutes). A value of 0 (zero) results in no retries.'
    description: Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon ES.
  ElasticsearchS3BackupMode:
    type: string
    enum:
      - FailedDocumentsOnly
      - AllDocuments
  ElasticsearchTypeName:
    type: string
    minLength: 1
    maxLength: 100
  EncryptionConfiguration:
    type: object
    properties:
      NoEncryptionConfig:
        $ref: '#/definitions/NoEncryptionConfig'
        description: Specifically override existing encryption information to ensure no encryption is used.
      KMSEncryptionConfig:
        $ref: '#/definitions/KMSEncryptionConfig'
        description: The encryption key.
    description: Describes the encryption for a destination in Amazon S3.
  ErrorCode:
    type: string
  ErrorMessage:
    type: string
  ExtendedS3DestinationConfiguration:
    type: object
    required:
      - RoleARN
      - BucketARN
    properties:
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: The ARN of the AWS credentials.
      BucketARN:
        $ref: '#/definitions/BucketARN'
        description: The ARN of the S3 bucket.
      Prefix:
        $ref: '#/definitions/Prefix'
        description: 'The "YYYY/MM/DD/HH" time format prefix is automatically used for delivered S3 files. You can specify an extra prefix to be added in front of the time format prefix. Note that if the prefix ends with a slash, it appears as a folder in the S3 bucket. For more information, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html">Amazon S3 Object Name Format</a> in the <i>Amazon Kinesis Firehose Developer Guide</i>.'
      BufferingHints:
        $ref: '#/definitions/BufferingHints'
        description: The buffering option.
      CompressionFormat:
        $ref: '#/definitions/CompressionFormat'
        description: 'The compression format. If no value is specified, the default is UNCOMPRESSED.'
      EncryptionConfiguration:
        $ref: '#/definitions/EncryptionConfiguration'
        description: 'The encryption configuration. If no value is specified, the default is no encryption.'
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The CloudWatch logging options for your delivery stream.
      ProcessingConfiguration:
        $ref: '#/definitions/ProcessingConfiguration'
        description: The data processing configuration.
      S3BackupMode:
        $ref: '#/definitions/S3BackupMode'
        description: The Amazon S3 backup mode.
      S3BackupConfiguration:
        $ref: '#/definitions/S3DestinationConfiguration'
        description: The configuration for backup in Amazon S3.
    description: Describes the configuration of a destination in Amazon S3.
  ExtendedS3DestinationDescription:
    type: object
    required:
      - RoleARN
      - BucketARN
      - BufferingHints
      - CompressionFormat
      - EncryptionConfiguration
    properties:
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: The ARN of the AWS credentials.
      BucketARN:
        $ref: '#/definitions/BucketARN'
        description: The ARN of the S3 bucket.
      Prefix:
        $ref: '#/definitions/Prefix'
        description: 'The "YYYY/MM/DD/HH" time format prefix is automatically used for delivered S3 files. You can specify an extra prefix to be added in front of the time format prefix. Note that if the prefix ends with a slash, it appears as a folder in the S3 bucket. For more information, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html">Amazon S3 Object Name Format</a> in the <i>Amazon Kinesis Firehose Developer Guide</i>.'
      BufferingHints:
        $ref: '#/definitions/BufferingHints'
        description: The buffering option.
      CompressionFormat:
        $ref: '#/definitions/CompressionFormat'
        description: 'The compression format. If no value is specified, the default is <code>UNCOMPRESSED</code>.'
      EncryptionConfiguration:
        $ref: '#/definitions/EncryptionConfiguration'
        description: 'The encryption configuration. If no value is specified, the default is no encryption.'
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The CloudWatch logging options for your delivery stream.
      ProcessingConfiguration:
        $ref: '#/definitions/ProcessingConfiguration'
        description: The data processing configuration.
      S3BackupMode:
        $ref: '#/definitions/S3BackupMode'
        description: The Amazon S3 backup mode.
      S3BackupDescription:
        $ref: '#/definitions/S3DestinationDescription'
        description: The configuration for backup in Amazon S3.
    description: Describes a destination in Amazon S3.
  ExtendedS3DestinationUpdate:
    type: object
    properties:
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: The ARN of the AWS credentials.
      BucketARN:
        $ref: '#/definitions/BucketARN'
        description: The ARN of the S3 bucket.
      Prefix:
        $ref: '#/definitions/Prefix'
        description: 'The "YYYY/MM/DD/HH" time format prefix is automatically used for delivered S3 files. You can specify an extra prefix to be added in front of the time format prefix. Note that if the prefix ends with a slash, it appears as a folder in the S3 bucket. For more information, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html">Amazon S3 Object Name Format</a> in the <i>Amazon Kinesis Firehose Developer Guide</i>.'
      BufferingHints:
        $ref: '#/definitions/BufferingHints'
        description: The buffering option.
      CompressionFormat:
        $ref: '#/definitions/CompressionFormat'
        description: 'The compression format. If no value is specified, the default is <code>UNCOMPRESSED</code>. '
      EncryptionConfiguration:
        $ref: '#/definitions/EncryptionConfiguration'
        description: 'The encryption configuration. If no value is specified, the default is no encryption.'
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The CloudWatch logging options for your delivery stream.
      ProcessingConfiguration:
        $ref: '#/definitions/ProcessingConfiguration'
        description: The data processing configuration.
      S3BackupMode:
        $ref: '#/definitions/S3BackupMode'
        description: Enables or disables Amazon S3 backup mode.
      S3BackupUpdate:
        $ref: '#/definitions/S3DestinationUpdate'
        description: The Amazon S3 destination for backup.
    description: Describes an update for a destination in Amazon S3.
  IntervalInSeconds:
    type: integer
    minimum: 60
    maximum: 900
  InvalidArgumentException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A message that provides information about the error.
    description: The specified input parameter has an value that is not valid.
  KMSEncryptionConfig:
    type: object
    required:
      - AWSKMSKeyARN
    properties:
      AWSKMSKeyARN:
        $ref: '#/definitions/AWSKMSKeyARN'
        description: The ARN of the encryption key. Must belong to the same region as the destination Amazon S3 bucket.
    description: Describes an encryption key for a destination in Amazon S3.
  LimitExceededException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A message that provides information about the error.
    description: You have already reached the limit for a requested resource.
  ListDeliveryStreamsInput:
    type: object
    properties:
      Limit:
        $ref: '#/definitions/ListDeliveryStreamsInputLimit'
        description: The maximum number of delivery streams to list.
      ExclusiveStartDeliveryStreamName:
        $ref: '#/definitions/DeliveryStreamName'
        description: The name of the delivery stream to start the list with.
  ListDeliveryStreamsInputLimit:
    type: integer
    minimum: 1
    maximum: 10000
  ListDeliveryStreamsOutput:
    type: object
    required:
      - DeliveryStreamNames
      - HasMoreDeliveryStreams
    properties:
      DeliveryStreamNames:
        $ref: '#/definitions/DeliveryStreamNameList'
        description: The names of the delivery streams.
      HasMoreDeliveryStreams:
        $ref: '#/definitions/BooleanObject'
        description: Indicates whether there are more delivery streams available to list.
  LogGroupName:
    type: string
  LogStreamName:
    type: string
  NoEncryptionConfig:
    type: string
    enum:
      - NoEncryption
  NonNegativeIntegerObject:
    type: integer
    minimum: 0
  Password:
    type: string
    minLength: 6
    format: password
  Prefix:
    type: string
  ProcessingConfiguration:
    type: object
    properties:
      Enabled:
        $ref: '#/definitions/BooleanObject'
        description: Enables or disables data processing.
      Processors:
        $ref: '#/definitions/ProcessorList'
        description: The data processors.
    description: Describes a data processing configuration.
  Processor:
    type: object
    required:
      - Type
    properties:
      Type:
        $ref: '#/definitions/ProcessorType'
        description: The type of processor.
      Parameters:
        $ref: '#/definitions/ProcessorParameterList'
        description: The processor parameters.
    description: Describes a data processor.
  ProcessorList:
    type: array
    items:
      $ref: '#/definitions/Processor'
  ProcessorParameter:
    type: object
    required:
      - ParameterName
      - ParameterValue
    properties:
      ParameterName:
        $ref: '#/definitions/ProcessorParameterName'
        description: The name of the parameter.
      ParameterValue:
        $ref: '#/definitions/ProcessorParameterValue'
        description: The parameter value.
    description: Describes the processor parameter.
  ProcessorParameterList:
    type: array
    items:
      $ref: '#/definitions/ProcessorParameter'
  ProcessorParameterName:
    type: string
    enum:
      - LambdaArn
      - NumberOfRetries
  ProcessorParameterValue:
    type: string
    minLength: 1
    maxLength: 512
  ProcessorType:
    type: string
    enum:
      - Lambda
  PutRecordBatchInput:
    type: object
    required:
      - DeliveryStreamName
      - Records
    properties:
      DeliveryStreamName:
        $ref: '#/definitions/DeliveryStreamName'
        description: The name of the delivery stream.
      Records:
        $ref: '#/definitions/PutRecordBatchRequestEntryList'
        description: One or more records.
  PutRecordBatchOutput:
    type: object
    required:
      - FailedPutCount
      - RequestResponses
    properties:
      FailedPutCount:
        $ref: '#/definitions/NonNegativeIntegerObject'
        description: The number of records that might have failed processing.
      RequestResponses:
        $ref: '#/definitions/PutRecordBatchResponseEntryList'
        description: 'The results array. For each record, the index of the response element is the same as the index used in the request array.'
  PutRecordBatchRequestEntryList:
    type: array
    items:
      $ref: '#/definitions/Record'
    minItems: 1
    maxItems: 500
  PutRecordBatchResponseEntry:
    type: object
    properties:
      RecordId:
        $ref: '#/definitions/PutResponseRecordId'
        description: The ID of the record.
      ErrorCode:
        $ref: '#/definitions/ErrorCode'
        description: The error code for an individual record result.
      ErrorMessage:
        $ref: '#/definitions/ErrorMessage'
        description: The error message for an individual record result.
    description: 'Contains the result for an individual record from a <a>PutRecordBatch</a> request. If the record is successfully added to your delivery stream, it receives a record ID. If the record fails to be added to your delivery stream, the result includes an error code and an error message.'
  PutRecordBatchResponseEntryList:
    type: array
    items:
      $ref: '#/definitions/PutRecordBatchResponseEntry'
    minItems: 1
    maxItems: 500
  PutRecordInput:
    type: object
    required:
      - DeliveryStreamName
      - Record
    properties:
      DeliveryStreamName:
        $ref: '#/definitions/DeliveryStreamName'
        description: The name of the delivery stream.
      Record:
        $ref: '#/definitions/Record'
        description: The record.
  PutRecordOutput:
    type: object
    required:
      - RecordId
    properties:
      RecordId:
        $ref: '#/definitions/PutResponseRecordId'
        description: The ID of the record.
  PutResponseRecordId:
    type: string
    minLength: 1
  Record:
    type: object
    required:
      - Data
    properties:
      Data:
        $ref: '#/definitions/Data'
        description: 'The data blob, which is base64-encoded when the blob is serialized. The maximum size of the data blob, before base64-encoding, is 1,000 KB.'
    description: The unit of data in a delivery stream.
  RedshiftDestinationConfiguration:
    type: object
    required:
      - RoleARN
      - ClusterJDBCURL
      - CopyCommand
      - Username
      - Password
      - S3Configuration
    properties:
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: The ARN of the AWS credentials.
      ClusterJDBCURL:
        $ref: '#/definitions/ClusterJDBCURL'
        description: The database connection string.
      CopyCommand:
        $ref: '#/definitions/CopyCommand'
        description: The <code>COPY</code> command.
      Username:
        $ref: '#/definitions/Username'
        description: The name of the user.
      Password:
        $ref: '#/definitions/Password'
        description: The user password.
      RetryOptions:
        $ref: '#/definitions/RedshiftRetryOptions'
        description: The retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).
      S3Configuration:
        $ref: '#/definitions/S3DestinationConfiguration'
        description: <p>The configuration for the intermediate Amazon S3 location from which Amazon Redshift obtains data. Restrictions are described in the topic for <a>CreateDeliveryStream</a>.</p> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified in <b>RedshiftDestinationConfiguration.S3Configuration</b> because the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket doesn't support these compression formats.</p>
      ProcessingConfiguration:
        $ref: '#/definitions/ProcessingConfiguration'
        description: The data processing configuration.
      S3BackupMode:
        $ref: '#/definitions/RedshiftS3BackupMode'
        description: The Amazon S3 backup mode.
      S3BackupConfiguration:
        $ref: '#/definitions/S3DestinationConfiguration'
        description: The configuration for backup in Amazon S3.
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The CloudWatch logging options for your delivery stream.
    description: Describes the configuration of a destination in Amazon Redshift.
  RedshiftDestinationDescription:
    type: object
    required:
      - RoleARN
      - ClusterJDBCURL
      - CopyCommand
      - Username
      - S3DestinationDescription
    properties:
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: The ARN of the AWS credentials.
      ClusterJDBCURL:
        $ref: '#/definitions/ClusterJDBCURL'
        description: The database connection string.
      CopyCommand:
        $ref: '#/definitions/CopyCommand'
        description: The <code>COPY</code> command.
      Username:
        $ref: '#/definitions/Username'
        description: The name of the user.
      RetryOptions:
        $ref: '#/definitions/RedshiftRetryOptions'
        description: The retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).
      S3DestinationDescription:
        $ref: '#/definitions/S3DestinationDescription'
        description: The Amazon S3 destination.
      ProcessingConfiguration:
        $ref: '#/definitions/ProcessingConfiguration'
        description: The data processing configuration.
      S3BackupMode:
        $ref: '#/definitions/RedshiftS3BackupMode'
        description: The Amazon S3 backup mode.
      S3BackupDescription:
        $ref: '#/definitions/S3DestinationDescription'
        description: The configuration for backup in Amazon S3.
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The CloudWatch logging options for your delivery stream.
    description: Describes a destination in Amazon Redshift.
  RedshiftDestinationUpdate:
    type: object
    properties:
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: The ARN of the AWS credentials.
      ClusterJDBCURL:
        $ref: '#/definitions/ClusterJDBCURL'
        description: The database connection string.
      CopyCommand:
        $ref: '#/definitions/CopyCommand'
        description: The <code>COPY</code> command.
      Username:
        $ref: '#/definitions/Username'
        description: The name of the user.
      Password:
        $ref: '#/definitions/Password'
        description: The user password.
      RetryOptions:
        $ref: '#/definitions/RedshiftRetryOptions'
        description: The retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes).
      S3Update:
        $ref: '#/definitions/S3DestinationUpdate'
        description: <p>The Amazon S3 destination.</p> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified in <b>RedshiftDestinationUpdate.S3Update</b> because the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket doesn't support these compression formats.</p>
      ProcessingConfiguration:
        $ref: '#/definitions/ProcessingConfiguration'
        description: The data processing configuration.
      S3BackupMode:
        $ref: '#/definitions/RedshiftS3BackupMode'
        description: The Amazon S3 backup mode.
      S3BackupUpdate:
        $ref: '#/definitions/S3DestinationUpdate'
        description: The Amazon S3 destination for backup.
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The CloudWatch logging options for your delivery stream.
    description: Describes an update for a destination in Amazon Redshift.
  RedshiftRetryDurationInSeconds:
    type: integer
    minimum: 0
    maximum: 7200
  RedshiftRetryOptions:
    type: object
    properties:
      DurationInSeconds:
        $ref: '#/definitions/RedshiftRetryDurationInSeconds'
        description: 'The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value.'
    description: Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift.
  RedshiftS3BackupMode:
    type: string
    enum:
      - Disabled
      - Enabled
  ResourceInUseException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A message that provides information about the error.
    description: The resource is already in use and not available for this operation.
  ResourceNotFoundException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A message that provides information about the error.
    description: The specified resource could not be found.
  RoleARN:
    type: string
    pattern: 'arn:.*'
    minLength: 1
    maxLength: 512
  S3BackupMode:
    type: string
    enum:
      - Disabled
      - Enabled
  S3DestinationConfiguration:
    type: object
    required:
      - RoleARN
      - BucketARN
    properties:
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: The ARN of the AWS credentials.
      BucketARN:
        $ref: '#/definitions/BucketARN'
        description: The ARN of the S3 bucket.
      Prefix:
        $ref: '#/definitions/Prefix'
        description: 'The "YYYY/MM/DD/HH" time format prefix is automatically used for delivered S3 files. You can specify an extra prefix to be added in front of the time format prefix. Note that if the prefix ends with a slash, it appears as a folder in the S3 bucket. For more information, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html">Amazon S3 Object Name Format</a> in the <i>Amazon Kinesis Firehose Developer Guide</i>.'
      BufferingHints:
        $ref: '#/definitions/BufferingHints'
        description: 'The buffering option. If no value is specified, <b>BufferingHints</b> object default values are used.'
      CompressionFormat:
        $ref: '#/definitions/CompressionFormat'
        description: '<p>The compression format. If no value is specified, the default is <code>UNCOMPRESSED</code>.</p> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified for Amazon Redshift destinations because they are not supported by the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket.</p>'
      EncryptionConfiguration:
        $ref: '#/definitions/EncryptionConfiguration'
        description: 'The encryption configuration. If no value is specified, the default is no encryption.'
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The CloudWatch logging options for your delivery stream.
    description: Describes the configuration of a destination in Amazon S3.
  S3DestinationDescription:
    type: object
    required:
      - RoleARN
      - BucketARN
      - BufferingHints
      - CompressionFormat
      - EncryptionConfiguration
    properties:
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: The ARN of the AWS credentials.
      BucketARN:
        $ref: '#/definitions/BucketARN'
        description: The ARN of the S3 bucket.
      Prefix:
        $ref: '#/definitions/Prefix'
        description: 'The "YYYY/MM/DD/HH" time format prefix is automatically used for delivered S3 files. You can specify an extra prefix to be added in front of the time format prefix. Note that if the prefix ends with a slash, it appears as a folder in the S3 bucket. For more information, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html">Amazon S3 Object Name Format</a> in the <i>Amazon Kinesis Firehose Developer Guide</i>.'
      BufferingHints:
        $ref: '#/definitions/BufferingHints'
        description: 'The buffering option. If no value is specified, <b>BufferingHints</b> object default values are used.'
      CompressionFormat:
        $ref: '#/definitions/CompressionFormat'
        description: 'The compression format. If no value is specified, the default is <code>UNCOMPRESSED</code>.'
      EncryptionConfiguration:
        $ref: '#/definitions/EncryptionConfiguration'
        description: 'The encryption configuration. If no value is specified, the default is no encryption.'
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The CloudWatch logging options for your delivery stream.
    description: Describes a destination in Amazon S3.
  S3DestinationUpdate:
    type: object
    properties:
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: The ARN of the AWS credentials.
      BucketARN:
        $ref: '#/definitions/BucketARN'
        description: The ARN of the S3 bucket.
      Prefix:
        $ref: '#/definitions/Prefix'
        description: 'The "YYYY/MM/DD/HH" time format prefix is automatically used for delivered S3 files. You can specify an extra prefix to be added in front of the time format prefix. Note that if the prefix ends with a slash, it appears as a folder in the S3 bucket. For more information, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html">Amazon S3 Object Name Format</a> in the <i>Amazon Kinesis Firehose Developer Guide</i>.'
      BufferingHints:
        $ref: '#/definitions/BufferingHints'
        description: 'The buffering option. If no value is specified, <b>BufferingHints</b> object default values are used.'
      CompressionFormat:
        $ref: '#/definitions/CompressionFormat'
        description: '<p>The compression format. If no value is specified, the default is <code>UNCOMPRESSED</code>.</p> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified for Amazon Redshift destinations because they are not supported by the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket.</p>'
      EncryptionConfiguration:
        $ref: '#/definitions/EncryptionConfiguration'
        description: 'The encryption configuration. If no value is specified, the default is no encryption.'
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: The CloudWatch logging options for your delivery stream.
    description: Describes an update for a destination in Amazon S3.
  ServiceUnavailableException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A message that provides information about the error.
    description: 'The service is unavailable, back off and retry the operation. If you continue to see the exception, throughput limits for the delivery stream may have been exceeded. For more information about limits and how to request an increase, see <a href="http://docs.aws.amazon.com/firehose/latest/dev/limits.html">Amazon Kinesis Firehose Limits</a>.'
  SizeInMBs:
    type: integer
    minimum: 1
    maximum: 128
  Timestamp:
    type: string
    format: date-time
  UpdateDestinationInput:
    type: object
    required:
      - DeliveryStreamName
      - CurrentDeliveryStreamVersionId
      - DestinationId
    properties:
      DeliveryStreamName:
        $ref: '#/definitions/DeliveryStreamName'
        description: The name of the delivery stream.
      CurrentDeliveryStreamVersionId:
        $ref: '#/definitions/DeliveryStreamVersionId'
        description: 'Obtain this value from the <b>VersionId</b> result of <a>DeliveryStreamDescription</a>. This value is required, and helps the service to perform conditional operations. For example, if there is a interleaving update and this value is null, then the update destination fails. After the update is successful, the <b>VersionId</b> value is updated. The service then performs a merge of the old configuration with the new configuration.'
      DestinationId:
        $ref: '#/definitions/DestinationId'
        description: The ID of the destination.
      S3DestinationUpdate:
        $ref: '#/definitions/S3DestinationUpdate'
        description: '[Deprecated] Describes an update for a destination in Amazon S3.'
      ExtendedS3DestinationUpdate:
        $ref: '#/definitions/ExtendedS3DestinationUpdate'
        description: Describes an update for a destination in Amazon S3.
      RedshiftDestinationUpdate:
        $ref: '#/definitions/RedshiftDestinationUpdate'
        description: Describes an update for a destination in Amazon Redshift.
      ElasticsearchDestinationUpdate:
        $ref: '#/definitions/ElasticsearchDestinationUpdate'
        description: Describes an update for a destination in Amazon ES.
  UpdateDestinationOutput:
    type: object
    properties: {}
  Username:
    type: string
    minLength: 1
    format: password
