swagger: '2.0'
schemes:
  - https
host: api.zoom.us
basePath: /v2
info:
  contact:
    email: developer@zoom.us
    name: Zoom Developers
    url: 'https://developer.zoom.us/'
    x-twitter: zoom_us
  description: API Description
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  title: Zoom
  version: 2.0.0
  x-apisguru-categories:
    - telecom
  x-logo:
    url: 'https://twitter.com/zoom_us/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/zoom/api/master/openapi.v2.json'
      version: '2.0'
  x-providerName: zoom.us
externalDocs:
  description: Zoom API Documentation
  url: 'https://zoom.github.io/api'
consumes:
  - application/json
  - multipart/form-data
produces:
  - application/json
  - application/xml
securityDefinitions:
  global:
    in: query
    name: access_token
    type: apiKey
security:
  - global: []
parameters:
  AccountId:
    description: The account ID
    in: path
    name: accountId
    required: true
    type: string
  FromDate:
    description: Start Date
    format: date
    in: query
    name: from
    required: true
    type: string
  GroupId:
    description: The group ID
    in: path
    name: groupId
    required: true
    type: string
  LoginType:
    enum:
      - 0
      - 1
      - 99
      - 100
      - 101
    in: query
    name: login_type
    type: string
    x-enum-descriptions:
      - Facebook
      - Google
      - API
      - Zoom
      - SSO
  Mc:
    default: 'false'
    description: 'Query mc '
    in: query
    name: mc
    type: string
  MeetingId:
    description: The meeting ID
    in: path
    name: meetingId
    required: true
    type: integer
  MeetingId4Metrics:
    description: 'The meeting ID or meeting UUID. If given meeting ID, will take the last meeting instance.'
    in: path
    name: meetingId
    required: true
    type: integer
  MeetingId4Recording:
    description: 'The meeting ID or meeting UUID. If given meeting ID, will take the last meeting instance.'
    in: path
    name: meetingId
    required: true
    type: integer
  MeetingIdNumber:
    description: The meeting ID or uuid
    in: path
    name: meetingId
    required: true
    type: string
  MeetingType:
    default: live
    description: The meeting type
    enum:
      - scheduled
      - live
    in: query
    name: type
    type: string
    x-enum-descriptions:
      - all the scheduled meetings
      - all the live meetings
  MeetingTypePast:
    default: live
    description: The meeting type
    enum:
      - past
      - pastOne
      - live
    in: query
    name: type
    type: string
    x-enum-descriptions:
      - past meetings
      - past one user meetings
      - live meetings
  MeetingTypePast2:
    default: live
    description: The meeting type
    enum:
      - past
      - live
    in: query
    name: type
    type: string
    x-enum-descriptions:
      - past meeting
      - live meeting
  MeetingTypePast3:
    default: live
    description: The meeting type
    enum:
      - past
      - pastOne
      - live
    in: query
    name: type
    type: string
    x-enum-descriptions:
      - past meeting
      - past one user meeting
      - live meeting
  MemberId:
    description: The member ID
    in: path
    name: memberId
    required: true
    type: string
  NextPageToken:
    description: 'Next page token, used to paginate through large result sets. A next page token will be returned whenever the set of available result list exceeds page size. The expiration period is 15 minutes.'
    in: query
    name: next_page_token
    type: string
  OccurrenceId:
    description: The meeting occurrence ID
    in: query
    name: occurrence_id
    type: string
  PageNumber:
    default: 1
    description: Current page number of returned records.
    in: query
    name: page_number
    type: integer
  PageSize:
    default: 30
    description: 'The amount of records returns within a single API call. '
    in: query
    maximum: 300
    name: page_size
    type: integer
  PageSize4Qos:
    default: 1
    description: Number of items returned per page
    in: query
    maximum: 10
    name: page_size
    type: integer
  PageToken:
    description: 'Next page token, used to paginate through large result sets. A next page token will be returned whenever the set of available result list exceeds page size. The expiration period is 15 minutes.'
    in: query
    name: next_page_token
    type: string
  ParticipantId:
    description: 'The participant ID, such as 16778240'
    in: path
    name: participantId
    required: true
    type: string
  RecordingDeleteAction:
    default: trash
    description: The recording delete action
    enum:
      - trash
      - delete
    in: query
    name: action
    type: string
    x-enum-descriptions:
      - move recording to trash
      - delete recording permanently
  RecordingId:
    description: The recording ID
    in: path
    name: recordingId
    required: true
    type: string
  RegistrantId:
    description: The registrant ID
    in: path
    name: registrantId
    required: true
    type: string
  RegistrantStatus:
    default: approved
    description: The registrant status
    enum:
      - pending
      - approved
      - denied
    in: query
    name: status
    type: string
    x-enum-descriptions:
      - registrants status is pending
      - registrants status is approved
      - registrants status is denied
  TSPId:
    description: TSP account index
    in: path
    name: tspId
    required: true
    type: string
  ToDate:
    description: End Date
    format: date
    in: query
    name: to
    required: true
    type: string
  Trash:
    default: false
    description: 'Query trash '
    in: query
    name: trash
    type: boolean
  UserId:
    description: The user ID or email address
    in: path
    name: userId
    required: true
    type: string
  WebinarId:
    description: The webinar ID
    in: path
    name: webinarId
    required: true
    type: integer
  WebinarId4Metrics:
    description: 'The webinar ID or webinar UUID. If given webinar ID, will take the last webinar instance.'
    in: path
    name: webinarId
    required: true
    type: integer
  WebinarTypePast:
    default: live
    description: The webinar type
    enum:
      - past
      - live
    in: query
    name: type
    type: string
    x-enum-descriptions:
      - past webinars
      - live webinars
  WebinarTypePast2:
    default: live
    description: The webinar type
    enum:
      - past
      - live
    in: query
    name: type
    type: string
    x-enum-descriptions:
      - past webinar
      - live webinar
  ZoomRoomId:
    description: The Zoom Room ID
    in: path
    name: zoomroomId
    required: true
    type: integer
tags:
  - description: Account operations
    name: Accounts
  - description: Billing operations
    name: Billing
  - description: User operations
    name: Users
  - description: Meeting operations
    name: Meetings
  - description: Webinar operations
    name: Webinars
  - description: Group operations
    name: Groups
  - description: IM Group operations
    name: IM Groups
  - description: Cloud Recording operations
    name: Cloud Recording
  - description: Report operations
    name: Reports
  - description: Dashboard operations
    name: Dashboards
  - description: TSP operations
    name: TSP
paths:
  /accounts:
    get:
      description: List all the sub accounts under the master account.
      operationId: accounts
      parameters:
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/PageNumber'
      responses:
        '200':
          description: Account list returned
          schema:
            $ref: '#/definitions/AccountList'
      summary: List sub accounts
      tags:
        - Accounts
    post:
      description: Create a sub account under the master account <aside>Your account must be a master account and have this privilege to create sub account. Zoom only assign this privilege to trusted partner. The created user will not receive the confirmation email.</aside>
      operationId: accountCreate
      parameters:
        - description: Account
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Account'
      responses:
        '201':
          description: Account Created
          headers:
            Content-Location:
              description: Location of created Account
              type: string
          schema:
            properties:
              created_at:
                description: Account created date time
                type: string
              id:
                description: Account ID
                type: string
              owner_email:
                description: Account owner email
                type: string
              owner_id:
                description: Account Owner ID
                type: string
        '409':
          description: Account with that email already exists
      summary: Create a sub account
      tags:
        - Accounts
  '/accounts/{accountId}':
    delete:
      description: Disassociate a sub account from the master account
      operationId: accountDisassociate
      parameters:
        - $ref: '#/parameters/AccountId'
      responses:
        '204':
          description: Account deleted
        '404':
          description: Account not found
      summary: Disassociate an account
      tags:
        - Accounts
    get:
      description: Retrieve a sub account under the master account <aside>Your account must be a master account and have this privilege to get sub account. Zoom only assign this privilege to trusted partner</aside>
      operationId: account
      parameters:
        - $ref: '#/parameters/AccountId'
      responses:
        '200':
          description: Account object returned
          schema:
            properties:
              created_at:
                description: Account creation date/time
                format: date-time
                type: string
              id:
                description: Account ID
                type: string
              options:
                $ref: '#/definitions/AccountOptions'
              owner_email:
                description: Account Owner email
                type: string
              owner_id:
                description: Account Owner ID
                type: string
        '404':
          description: User not found
      summary: Retrieve a sub account
      tags:
        - Accounts
  '/accounts/{accountId}/billing':
    get:
      description: Retrieve billing information for a sub account under the master account
      operationId: accountBilling
      parameters:
        - $ref: '#/parameters/AccountId'
      responses:
        '200':
          description: Account billing contact information returned
          schema:
            $ref: '#/definitions/BillingContactRequired'
        '404':
          description: Account not found
      summary: Retrieve billing information for a sub account
      tags:
        - Billing
    patch:
      description: Update billing information for a sub account under the master account <aside>Only for the sub account which is a paid account and paid by master account</aside>
      operationId: accountBillingUpdate
      parameters:
        - $ref: '#/parameters/AccountId'
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/BillingContact'
      responses:
        '204':
          description: Account billing contact information updated
        '404':
          description: Account not found
      summary: Update billing information for a sub account
      tags:
        - Billing
  '/accounts/{accountId}/options':
    patch:
      description: Update a sub account's options under the master account
      operationId: accountOptionsUpdate
      parameters:
        - $ref: '#/parameters/AccountId'
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AccountOptions'
      responses:
        '204':
          description: Account options updated
        '404':
          description: Account not found
      summary: Update a sub account's options
      tags:
        - Accounts
  '/accounts/{accountId}/plans':
    get:
      description: Retrieve plan information for a sub account under the master account  <aside>Only for the sub account which is paid by master account</aside>
      operationId: accountPlans
      parameters:
        - $ref: '#/parameters/AccountId'
      responses:
        '200':
          description: Account plans returned
          schema:
            $ref: '#/definitions/AccountPlans'
        '404':
          description: Account not fond
      summary: Retrieve plan information for a sub account
      tags:
        - Billing
    post:
      description: Subscribe plans for a sub account of the master account <aside>Can only subscribe plans for the sub account which is a free account and paid by master account</aside>
      operationId: accountPlanCreate
      parameters:
        - $ref: '#/parameters/AccountId'
        - in: body
          name: body
          required: true
          schema:
            allOf:
              - properties:
                  contact:
                    $ref: '#/definitions/BillingContactRequired'
                type: object
              - $ref: '#/definitions/AccountPlans'
      responses:
        '201':
          description: Account plans updated
          schema:
            $ref: '#/definitions/AccountPlans'
      summary: Subscribe plans for a sub account
      tags:
        - Billing
  '/accounts/{accountId}/plans/addons':
    post:
      description: Add an additional plan for sub account <aside>Can only add an Additional plan for the sub account which is a paid account and paid by master account</aside>
      operationId: accountPlanAddonCreate
      parameters:
        - $ref: '#/parameters/AccountId'
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AccountPlanRequired'
      responses:
        '201':
          description: Account plans updated
      summary: Add an additional plan for sub account
      tags:
        - Billing
    put:
      description: Update an additional plan for sub account<aside>Can only update an Additional plan for the sub account which is a paid account and paid by master account</aside>
      operationId: accountPlanAddonUpdate
      parameters:
        - $ref: '#/parameters/AccountId'
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AccountPlanRequired'
      responses:
        '204':
          description: Account plans updated
      summary: Update an additional plan for sub account
      tags:
        - Billing
  '/accounts/{accountId}/plans/base':
    put:
      description: Update a base plan for a sub account <aside>Can only update a base plan for the sub account which is a paid account and paid by master account</aside>
      operationId: accountPlanBaseUpdate
      parameters:
        - $ref: '#/parameters/AccountId'
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AccountPlanBaseRequired'
      responses:
        '204':
          description: Account plans updated
      summary: Update a base plan for a sub account
      tags:
        - Billing
  '/accounts/{accountId}/settings':
    get:
      description: Retrieve a sub account's settings under the master account
      operationId: accountSettings
      parameters:
        - $ref: '#/parameters/AccountId'
      responses:
        '200':
          description: Account settings returned
          schema:
            $ref: '#/definitions/AccountSettings'
        '404':
          description: Account not found
      summary: Retrieve a sub account's settings
      tags:
        - Accounts
    patch:
      description: Update a sub account's settings under the master account
      operationId: accountSettingsUpdate
      parameters:
        - $ref: '#/parameters/AccountId'
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AccountSettings'
      responses:
        '204':
          description: Account settings updated
        '404':
          description: Account not found
      summary: Update a sub account's settings
      tags:
        - Accounts
  /groups:
    get:
      description: List groups under your account
      operationId: groups
      parameters: []
      responses:
        '200':
          description: List of groups returned.
          schema:
            $ref: '#/definitions/GroupList'
      summary: List groups
      tags:
        - Groups
    post:
      description: Create a group under your account
      operationId: groupCreate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              name:
                description: Group name.
                type: string
      responses:
        '201':
          description: Group created.
          headers:
            Content-Location:
              description: Location of created group
              type: string
          schema:
            properties:
              id:
                description: Group ID
                type: string
              name:
                description: Group name
                type: string
              total_members:
                description: Group member count
                type: integer
      summary: Create a group
      tags:
        - Groups
  '/groups/{groupId}':
    delete:
      description: Delete a group under your account
      operationId: groupDelete
      parameters:
        - $ref: '#/parameters/GroupId'
      responses:
        '204':
          description: Group deleted.
        '404':
          description: Group not found
      summary: Delete a group
      tags:
        - Groups
    get:
      description: Retrieve a group under your account
      operationId: group
      parameters:
        - $ref: '#/parameters/GroupId'
      responses:
        '200':
          description: Group object returned
          schema:
            allOf:
              - properties:
                  id:
                    description: Group ID
                    type: string
              - $ref: '#/definitions/Group'
        '404':
          description: Group not found
      summary: Retrieve a group
      tags:
        - Groups
    patch:
      description: Update a group under your account
      operationId: groupUpdate
      parameters:
        - $ref: '#/parameters/GroupId'
        - in: body
          name: body
          required: true
          schema:
            properties:
              name:
                description: Group name. Must be unique in one account. Character length is less than 128.
                type: string
      responses:
        '204':
          description: Group updated.
        '404':
          description: Group not found
      summary: Update a group
      tags:
        - Groups
  '/groups/{groupId}/members':
    get:
      description: List a group's members under your account
      operationId: groupMembers
      parameters:
        - $ref: '#/parameters/GroupId'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/PageNumber'
      responses:
        '200':
          description: Group member list returned
          schema:
            $ref: '#/definitions/GroupMemberList'
        '404':
          description: Group not found
      summary: List a group's members
      tags:
        - Groups
    post:
      description: Add members to a group under your account
      operationId: groupMembersCreate
      parameters:
        - $ref: '#/parameters/GroupId'
        - in: body
          name: body
          required: true
          schema:
            properties:
              members:
                description: List of Group members
                items:
                  properties:
                    email:
                      description: 'User email. If ID given, email is ignored.'
                      type: string
                    id:
                      description: User ID.
                      type: string
                maximum: 30
                type: array
      responses:
        '201':
          description: Member added.
          schema:
            properties:
              added_at:
                format: date-time
                type: string
              ids:
                type: string
        '404':
          description: Group not found
      summary: Add group members
      tags:
        - Groups
  '/groups/{groupId}/members/{memberId}':
    delete:
      description: Delete a member from a group under your account
      operationId: groupMembersDelete
      parameters:
        - $ref: '#/parameters/GroupId'
        - $ref: '#/parameters/MemberId'
      responses:
        '204':
          description: Group member deleted.
        '404':
          description: Group or Group member not found
      summary: Delete a group member
      tags:
        - Groups
  /im/groups:
    get:
      description: List IM groups under your account
      operationId: imGroups
      parameters: []
      responses:
        '200':
          description: List of IM Groups returned.
          schema:
            $ref: '#/definitions/IMGroupList'
      summary: List IM Groups
      tags:
        - IM Groups
    post:
      description: Create a IM Group under your account
      operationId: imGroupCreate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              name:
                description: 'Group name, must be unique in one account'
                maxLength: 128
                type: string
              search_by_account:
                description: Members can search others under same account
                type: boolean
              search_by_domain:
                description: Members can search others in the same email domain
                type: boolean
              search_by_ma_account:
                description: 'Members can search others under same master account, including all sub accounts'
                type: boolean
              type:
                default: normal
                description: IM Group type
                enum:
                  - normal
                  - shared
                  - restricted
                type: string
                x-enum-descriptions:
                  - Only members can see the group automatically. Other people can search members in the group
                  - All people in the account can see the group and members automatically
                  - Nobody can see the group or search members except the members in the group
      responses:
        '201':
          description: IM Group created.
          headers:
            Content-Location:
              description: Location of created IM Group
              type: string
          schema:
            properties:
              id:
                description: Group ID
                type: string
              name:
                description: Group name
                type: string
              search_by_account:
                description: Members can search others under same account.
                type: boolean
              search_by_domain:
                description: Members can search others in the same email domain.
                type: boolean
              search_by_ma_account:
                description: 'Members can search others under same master account, including all sub accounts.'
                type: boolean
              total_members:
                description: Group member count
                type: integer
      summary: Create an IM Group
      tags:
        - IM Groups
  '/im/groups/{groupId}':
    delete:
      description: Delete an IM Group under your account
      operationId: imGroupDelete
      parameters:
        - $ref: '#/parameters/GroupId'
      responses:
        '204':
          description: IM Group deleted.
        '404':
          description: IM Group not found
      summary: Delete an IM Group
      tags:
        - IM Groups
    get:
      description: Retrieve an IM Group under your account
      operationId: imGroup
      parameters:
        - $ref: '#/parameters/GroupId'
      responses:
        '200':
          description: IM Group object returned
          schema:
            allOf:
              - properties:
                  id:
                    description: Group ID
                    type: string
              - $ref: '#/definitions/IMGroup'
        '404':
          description: IM Group not found
      summary: Retrieve an IM Group
      tags:
        - IM Groups
    patch:
      description: Update an IM Group under your account
      operationId: imGroupUpdate
      parameters:
        - $ref: '#/parameters/GroupId'
        - in: body
          name: body
          required: true
          schema:
            properties:
              name:
                description: 'Group name, must be unique in one account'
                maxLength: 128
                type: string
              search_by_account:
                description: Members can search others under same account
                type: boolean
              search_by_domain:
                description: Members can search others in the same email domain
                type: boolean
              search_by_ma_account:
                description: 'Members can search others under same master account, including all sub accounts'
                type: boolean
              type:
                description: IM Group type
                enum:
                  - normal
                  - shared
                  - restricted
                type: string
                x-enum-descriptions:
                  - Only members can see the group automatically. Other people can search members in the group
                  - All people in the account can see the group and members automatically
                  - Nobody can see the group or search members except the members in the group
      responses:
        '204':
          description: IM Group updated.
        '404':
          description: IM Group not found
      summary: Update an IM Group
      tags:
        - IM Groups
  '/im/groups/{groupId}/members':
    get:
      description: List an IM Group's members under your account
      operationId: imGroupMembers
      parameters:
        - $ref: '#/parameters/GroupId'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/PageNumber'
      responses:
        '200':
          description: IM Group member list returned
          schema:
            $ref: '#/definitions/GroupMemberList'
        '404':
          description: IM Group not found
      summary: List an IM Group's members
      tags:
        - IM Groups
    post:
      description: Add members to an IM Group under your account
      operationId: imGroupMembersCreate
      parameters:
        - $ref: '#/parameters/GroupId'
        - in: body
          name: body
          required: true
          schema:
            properties:
              members:
                description: List of IM Group members
                items:
                  properties:
                    email:
                      description: 'User email. If ID given, email is ignored.'
                      type: string
                    id:
                      description: User ID.
                      type: string
                maximum: 10
                type: array
      responses:
        '201':
          description: Member added.
          schema:
            properties:
              added_at:
                format: date-time
                type: string
              ids:
                type: string
        '404':
          description: IM Group not found
      summary: Add IM Group members
      tags:
        - IM Groups
  '/im/groups/{groupId}/members/{memberId}':
    delete:
      description: Delete a member from an IM Group under your account
      operationId: imGroupMembersDelete
      parameters:
        - $ref: '#/parameters/GroupId'
        - $ref: '#/parameters/MemberId'
      responses:
        '204':
          description: IM Group member deleted.
        '404':
          description: IM Group or IM Group member not found
      summary: Delete an IM Group member
      tags:
        - IM Groups
  '/meetings/{meetingId}':
    delete:
      description: Delete a meeting
      operationId: meetingDelete
      parameters:
        - $ref: '#/parameters/MeetingId'
        - $ref: '#/parameters/OccurrenceId'
      responses:
        '204':
          description: Meeting deleted
        '404':
          description: Meeting not found
      summary: Delete a meeting
      tags:
        - Meetings
    get:
      description: Retrieve a meeting's details
      operationId: meeting
      parameters:
        - $ref: '#/parameters/MeetingId'
      responses:
        '200':
          description: Meeting object returned
          schema:
            allOf:
              - properties:
                  host_id:
                    description: ID of the user set as host of meeting
                    type: string
                  id:
                    description: 'Meeting ID, also know as meeting number'
                    type: string
                  uuid:
                    description: Meeting unique ID
                    type: string
                type: object
              - $ref: '#/definitions/MeetingInfo'
        '404':
          description: Meeting not found
      summary: Retrieve a meeting
      tags:
        - Meetings
    patch:
      description: Update a meeting's details
      operationId: meetingUpdate
      parameters:
        - $ref: '#/parameters/MeetingId'
        - description: Meeting
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/MeetingUpdate'
      responses:
        '204':
          description: Meeting Updated
        '404':
          description: Meeting not found
      summary: Update a meeting
      tags:
        - Meetings
  '/meetings/{meetingId}/recordings':
    delete:
      description: Delete a meeting's recordings
      operationId: recordingDelete
      parameters:
        - $ref: '#/parameters/MeetingId4Recording'
        - $ref: '#/parameters/RecordingDeleteAction'
      responses:
        '204':
          description: Meeting recording deleted
        '404':
          description: Meeting recording not found
      summary: Delete a meeting's recordings
      tags:
        - Cloud Recording
    get:
      description: Retrieve a meeting’s all recordings
      operationId: recordingGet
      parameters:
        - $ref: '#/parameters/MeetingId4Recording'
      responses:
        '200':
          description: Recording object returned
          schema:
            allOf:
              - $ref: '#/definitions/Recording'
        '404':
          description: Meeting recording not found
      summary: Retrieve a meeting’s all recordings
      tags:
        - Cloud Recording
  '/meetings/{meetingId}/recordings/status':
    put:
      description: Recover a meeting's recordings
      operationId: recordingStatusUpdate
      parameters:
        - $ref: '#/parameters/MeetingId4Recording'
        - in: body
          name: body
          required: true
          schema:
            properties:
              action:
                enum:
                  - recover
                type: string
                x-enum-descriptions:
                  - recover meeting recording
      responses:
        '204':
          description: Meeting recording recover
        '404':
          description: Meeting recording not found
      summary: Recover a meeting's recordings
      tags:
        - Cloud Recording
  '/meetings/{meetingId}/recordings/{recordingId}':
    delete:
      description: Delete one meeting recording file
      operationId: recordingDeleteOne
      parameters:
        - $ref: '#/parameters/MeetingId4Recording'
        - $ref: '#/parameters/RecordingId'
        - $ref: '#/parameters/RecordingDeleteAction'
      responses:
        '204':
          description: Meeting recording file deleted
        '404':
          description: Meeting recording file not found
      summary: Delete one meeting recording file
      tags:
        - Cloud Recording
  '/meetings/{meetingId}/recordings/{recordingId}/status':
    put:
      description: Recover a meeting one recording
      operationId: recordingStatusUpdateOne
      parameters:
        - $ref: '#/parameters/MeetingId4Recording'
        - $ref: '#/parameters/RecordingId'
        - in: body
          name: body
          required: true
          schema:
            properties:
              action:
                enum:
                  - recover
                type: string
                x-enum-descriptions:
                  - recover meeting recording
      responses:
        '204':
          description: Meeting recording recover
        '404':
          description: Meeting recording not found
      summary: Recover a meeting one recording
      tags:
        - Cloud Recording
  '/meetings/{meetingId}/registrants':
    get:
      description: List registrants of a meeting
      operationId: meetingRegistrants
      parameters:
        - $ref: '#/parameters/MeetingId'
        - $ref: '#/parameters/OccurrenceId'
        - $ref: '#/parameters/RegistrantStatus'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/PageNumber'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MeetingRegistrantList'
        '404':
          description: Meeting not found
      summary: List a meeting's registrants
      tags:
        - Meetings
    post:
      description: Register a participant for a meeting
      operationId: meetingRegistrantCreate
      parameters:
        - $ref: '#/parameters/MeetingId'
        - description: 'Occurrence IDs, could get this value from Meeting Get API. Multiple value separated by comma.'
          in: query
          name: occurrence_ids
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/MeetingRegistrant'
      responses:
        '201':
          description: Registration created
          schema:
            properties:
              id:
                description: Registrant ID
                type: string
              join_url:
                description: Join URL for this registrant
                type: string
              registrant_id:
                description: Registrant ID
                type: string
              start_time:
                description: Start time
                format: date-time
                type: string
              topic:
                description: Topic
                type: string
            type: object
        '404':
          description: Meeting not found
      summary: Add a meeting registrant
      tags:
        - Meetings
  '/meetings/{meetingId}/registrants/status':
    put:
      description: Update a registrants status for a meeting
      operationId: meetingRegistrantStatus
      parameters:
        - $ref: '#/parameters/MeetingId'
        - $ref: '#/parameters/OccurrenceId'
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RegistrantStatus'
      responses:
        '204':
          description: Registrant status updated
        '404':
          description: Meeting or Registrant not found
      summary: Update a meeting registrant's status
      tags:
        - Meetings
  '/meetings/{meetingId}/status':
    put:
      description: Update a meeting's status
      operationId: meetingStatus
      parameters:
        - $ref: '#/parameters/MeetingId'
        - in: body
          name: body
          required: true
          schema:
            properties:
              action:
                enum:
                  - end
                type: string
                x-enum-descriptions:
                  - end a meeting
      responses:
        '204':
          description: Meeting updated
        '404':
          description: Meeting not found
      summary: Update a meeting's status
      tags:
        - Meetings
  /metrics/crc:
    get:
      description: 'Get CRC Port usage hour by hour for a specified time period <aside class=''notice''>We will report a maximum of one month. For example, if "from" is set to "2017-08-05" and "to" is "2017-10-10" we will adjust "from" to "2017-09-10"</aside>'
      operationId: dashboardCRC
      parameters:
        - $ref: '#/parameters/FromDate'
        - $ref: '#/parameters/ToDate'
      responses:
        '200':
          description: CRC Usage returned
          schema:
            allOf:
              - properties:
                  from:
                    description: Start date for this report
                    format: date
                    type: string
                  to:
                    description: End date for this report
                    format: date
                    type: string
              - properties:
                  crc_ports_usage:
                    items:
                      properties:
                        crc_ports_hour_usage:
                          items:
                            properties:
                              hour:
                                type: string
                              max_usage:
                                type: integer
                              total_usage:
                                type: integer
                          type: array
                        date_time:
                          description: Date and time
                          type: string
                    type: array
      summary: Retrieve CRC Port Usage
      tags:
        - Dashboards
  /metrics/im:
    get:
      description: Retrieve metrics of Zoom IM
      operationId: dashboardIM
      parameters:
        - $ref: '#/parameters/FromDate'
        - $ref: '#/parameters/ToDate'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/NextPageToken'
      responses:
        '200':
          description: IM setails returned
          schema:
            allOf:
              - properties:
                  from:
                    description: Start date for this report
                    format: date
                    type: string
                  to:
                    description: End date for this report
                    format: date
                    type: string
              - $ref: '#/definitions/PaginationToken'
              - properties:
                  users:
                    items:
                      properties:
                        calls_receive:
                          type: integer
                        calls_send:
                          type: integer
                        email:
                          description: User email
                          type: string
                        emoji_receive:
                          type: integer
                        emoji_send:
                          type: integer
                        files_receive:
                          type: integer
                        files_send:
                          type: integer
                        group_receive:
                          type: integer
                        group_send:
                          type: integer
                        images_receive:
                          type: integer
                        images_send:
                          type: integer
                        total_receive:
                          type: integer
                        total_send:
                          type: integer
                        user_id:
                          description: User ID
                          type: string
                        user_name:
                          description: User display name
                          type: string
                        videos_receive:
                          type: integer
                        videos_send:
                          type: integer
                        voice_receive:
                          type: integer
                        voice_send:
                          type: integer
                    type: array
      summary: Retrieve IM
      tags:
        - Dashboards
  /metrics/meetings:
    get:
      description: List live meetings or past meetings for a specified period
      operationId: dashboardMeetings
      parameters:
        - $ref: '#/parameters/MeetingTypePast'
        - $ref: '#/parameters/FromDate'
        - $ref: '#/parameters/ToDate'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/NextPageToken'
      responses:
        '200':
          description: Meetings Returned
          schema:
            allOf:
              - properties:
                  from:
                    description: Start date for this report
                    format: date
                    type: string
                  to:
                    description: End date for this report
                    format: date
                    type: string
              - $ref: '#/definitions/PaginationToken'
              - properties:
                  meetings:
                    description: Array of meeting objects
                    items:
                      $ref: '#/definitions/MeetingMetric'
                    type: array
      summary: List meetings
      tags:
        - Dashboards
  '/metrics/meetings/{meetingId}':
    get:
      description: Retrieve live or past meetings detail
      operationId: dashboardMeetingDetail
      parameters:
        - $ref: '#/parameters/MeetingId4Metrics'
        - $ref: '#/parameters/MeetingTypePast3'
      responses:
        '200':
          description: Meeting Returned
          schema:
            $ref: '#/definitions/MeetingMetric'
      summary: Retrieve meeting detail
      tags:
        - Dashboards
  '/metrics/meetings/{meetingId}/participants':
    get:
      description: Retrieve live or past meetings participants
      operationId: dashboardMeetingParticipants
      parameters:
        - $ref: '#/parameters/MeetingId4Metrics'
        - $ref: '#/parameters/MeetingTypePast3'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/NextPageToken'
      responses:
        '200':
          description: Meeting Participants Returned
          schema:
            allOf:
              - $ref: '#/definitions/PaginationToken'
              - properties:
                  participants:
                    description: Array of user objects
                    items:
                      properties:
                        device:
                          description: Participant device
                          type: string
                        domain:
                          description: Participant domain
                          type: string
                        harddisk_id:
                          description: Participant hard disk id
                          type: string
                        id:
                          description: Participant UUID
                          format: uuid
                          type: string
                        ip_address:
                          description: Participant IP Address
                          type: string
                        join_time:
                          description: Participant join time
                          format: date-time
                          type: string
                        leave_time:
                          description: Participant leave time
                          format: date-time
                          type: string
                        location:
                          description: Participant location
                          type: string
                        mac_addr:
                          description: Participant MAC Address
                          type: string
                        network_type:
                          description: Participant network type
                          type: string
                        pc_name:
                          description: Participant PC name
                          type: string
                        recording:
                          description: Participant record
                          type: boolean
                        share_application:
                          description: Did participant share application
                          type: boolean
                        share_desktop:
                          description: Did participant share desktop
                          type: boolean
                        share_whiteboard:
                          description: Did participant share whiteboard
                          type: boolean
                        user_id:
                          description: Participant ID
                          format: uuid
                          type: string
                        user_name:
                          description: Participant display name
                          type: string
                        version:
                          description: Participant version
                          type: string
                    type: array
      summary: Retrieve meeting participants
      tags:
        - Dashboards
  '/metrics/meetings/{meetingId}/participants/qos':
    get:
      description: Retrieve list of live or past meetings participants quality of service
      operationId: dashboardMeetingParticipantsQOS
      parameters:
        - $ref: '#/parameters/MeetingId4Metrics'
        - $ref: '#/parameters/MeetingTypePast2'
        - $ref: '#/parameters/PageSize4Qos'
        - $ref: '#/parameters/NextPageToken'
      responses:
        '200':
          description: Meeting Participants Returned
          schema:
            $ref: '#/definitions/QOSParticipantList'
      summary: List meeting participants QOS
      tags:
        - Dashboards
  '/metrics/meetings/{meetingId}/participants/sharing':
    get:
      description: Retrieve sharing/recording details of live or past meetings participant
      operationId: dashboardMeetingParticipantShare
      parameters:
        - $ref: '#/parameters/MeetingId4Metrics'
        - $ref: '#/parameters/MeetingTypePast2'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/PageToken'
      responses:
        '200':
          description: Meeting Participants Returned
          schema:
            allOf:
              - $ref: '#/definitions/PaginationToken'
              - properties:
                  participants:
                    description: Array of participants
                    items:
                      properties:
                        details:
                          description: Array of sharing and recording details
                          items:
                            properties:
                              content:
                                description: Type of content shared
                                type: string
                              end_time:
                                description: End time of sharing
                                type: string
                              start_time:
                                description: Start time of sharing
                                type: string
                          type: array
                        id:
                          description: Participant UUID
                          type: string
                        user_id:
                          description: Participant ID
                          type: string
                        user_name:
                          description: Participant display name
                          type: string
                    type: array
      summary: Retrieve sharing/recording details of meeting participant
      tags:
        - Dashboards
  '/metrics/meetings/{meetingId}/participants/{participantId}/qos':
    get:
      description: Retrieve live or past meetings participant quality of service
      operationId: dashboardMeetingParticipantQOS
      parameters:
        - $ref: '#/parameters/MeetingId4Metrics'
        - $ref: '#/parameters/ParticipantId'
        - $ref: '#/parameters/MeetingTypePast2'
      responses:
        '200':
          description: Meeting Participant QOS Returned
          schema:
            $ref: '#/definitions/QOSParticipant'
      summary: Retrieve meeting participant QOS
      tags:
        - Dashboards
  /metrics/webinars:
    get:
      description: List live webinars or past webinars for a specified period
      operationId: dashboardWebinars
      parameters:
        - $ref: '#/parameters/WebinarTypePast'
        - $ref: '#/parameters/FromDate'
        - $ref: '#/parameters/ToDate'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/NextPageToken'
      responses:
        '200':
          description: Meetings Returned
          schema:
            allOf:
              - properties:
                  from:
                    description: Start date for this report
                    format: date
                    type: string
                  to:
                    description: End date for this report
                    format: date
                    type: string
              - $ref: '#/definitions/PaginationToken'
              - properties:
                  webinars:
                    description: Array of webinar objects
                    items:
                      $ref: '#/definitions/WebinarMetric'
                    type: array
      summary: List webinars
      tags:
        - Dashboards
  '/metrics/webinars/{webinarId}':
    get:
      description: Retrieve live  or past webinars detail
      operationId: dashboardWebinarDetail
      parameters:
        - $ref: '#/parameters/WebinarId4Metrics'
        - $ref: '#/parameters/WebinarTypePast2'
      responses:
        '200':
          description: Webinar Returned
          schema:
            $ref: '#/definitions/WebinarMetric'
      summary: Retrieve webinar detail
      tags:
        - Dashboards
  '/metrics/webinars/{webinarId}/participants':
    get:
      description: Retrieve live or past webinar participants
      operationId: dashboardWebinarParticipants
      parameters:
        - $ref: '#/parameters/WebinarId4Metrics'
        - $ref: '#/parameters/WebinarTypePast2'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/NextPageToken'
      responses:
        '200':
          description: Webinar Participants Returned
          schema:
            allOf:
              - $ref: '#/definitions/PaginationToken'
              - properties:
                  participants:
                    description: Array of user objects
                    items:
                      properties:
                        device:
                          description: Participant device
                          type: string
                        domain:
                          description: Participant domain
                          type: string
                        harddisk_id:
                          description: Participant hard disk id
                          type: string
                        id:
                          description: Participant UUID
                          format: uuid
                          type: string
                        ip_address:
                          description: Participant IP Address
                          type: string
                        join_time:
                          description: Participant join time
                          format: date-time
                          type: string
                        leave_time:
                          description: Participant leave time
                          format: date-time
                          type: string
                        location:
                          description: Participant location
                          type: string
                        mac_addr:
                          description: Participant MAC Address
                          type: string
                        network_type:
                          description: Participant network type
                          type: string
                        pc_name:
                          description: Participant PC name
                          type: string
                        recording:
                          description: Participant record
                          type: boolean
                        share_application:
                          description: Did participant share application
                          type: boolean
                        share_desktop:
                          description: Did participant share desktop
                          type: boolean
                        share_whiteboard:
                          description: Did participant share whiteboard
                          type: boolean
                        user_id:
                          description: Participant ID
                          format: uuid
                          type: string
                        user_name:
                          description: Participant display name
                          type: string
                        version:
                          description: Participant version
                          type: string
                    type: array
      summary: Retrieve webinar participants
      tags:
        - Dashboards
  '/metrics/webinars/{webinarId}/participants/qos':
    get:
      description: Retrieve list of live or past webinar participants quality of service
      operationId: dashboardWebinarParticipantsQOS
      parameters:
        - $ref: '#/parameters/WebinarId4Metrics'
        - $ref: '#/parameters/WebinarTypePast2'
        - $ref: '#/parameters/PageSize4Qos'
        - $ref: '#/parameters/NextPageToken'
      responses:
        '200':
          description: Webinar Participants Returned
          schema:
            $ref: '#/definitions/QOSParticipantList'
      summary: List webinar participant QOS
      tags:
        - Dashboards
  '/metrics/webinars/{webinarId}/participants/sharing':
    get:
      description: Retrieve sharing/recording details of live or past webinar participant
      operationId: dashboardWebinarParticipantShare
      parameters:
        - $ref: '#/parameters/WebinarId4Metrics'
        - $ref: '#/parameters/WebinarTypePast2'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/PageToken'
      responses:
        '200':
          description: Webinar Participants Returned
          schema:
            allOf:
              - $ref: '#/definitions/PaginationToken'
              - properties:
                  participants:
                    description: Array of participants
                    items:
                      properties:
                        details:
                          description: Array of sharing and recording details
                          items:
                            properties:
                              content:
                                description: Type of content shared
                                type: string
                              end_time:
                                description: End time of sharing
                                type: string
                              start_time:
                                description: Start time of sharing
                                type: string
                          type: array
                        id:
                          description: Participant UUID
                          type: string
                        user_id:
                          description: Participant ID
                          type: string
                        user_name:
                          description: Participant display name
                          type: string
                    type: array
      summary: Retrieve sharing/recording details of webinar participant
      tags:
        - Dashboards
  '/metrics/webinars/{webinarId}/participants/{participantId}/qos':
    get:
      description: Retrieve live or past webinar participant quality of service
      operationId: dashboardWebinarParticipantQOS
      parameters:
        - $ref: '#/parameters/WebinarId4Metrics'
        - $ref: '#/parameters/ParticipantId'
        - $ref: '#/parameters/WebinarTypePast2'
      responses:
        '200':
          description: Webinar Participant QOS Returned
          schema:
            $ref: '#/definitions/QOSParticipant'
      summary: Retrieve webinar participant QOS
      tags:
        - Dashboards
  /metrics/zoomrooms:
    get:
      description: List all zoom rooms on account
      operationId: dashboardZoomRooms
      parameters:
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/PageNumber'
      responses:
        '200':
          description: List of Zoom Rooms returned
          schema:
            $ref: '#/definitions/ZoomRoomList'
      summary: List Zoom Rooms
      tags:
        - Dashboards
  '/metrics/zoomrooms/{zoomroomId}':
    get:
      description: Retrieve zoom room on account
      operationId: dashboardZoomRoom
      parameters:
        - $ref: '#/parameters/ZoomRoomId'
        - $ref: '#/parameters/FromDate'
        - $ref: '#/parameters/ToDate'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/PageNumber'
      responses:
        '200':
          description: Zoom Room returned
          schema:
            allOf:
              - $ref: '#/definitions/ZoomRoom'
              - properties:
                  live_meeting:
                    $ref: '#/definitions/MeetingMetric'
                  past_meetings:
                    allOf:
                      - properties:
                          from:
                            description: Start date for this report
                            format: date
                            type: string
                          to:
                            description: End date for this report
                            format: date
                            type: string
                      - $ref: '#/definitions/PaginationToken'
                      - properties:
                          meetings:
                            description: Array of meeting objects
                            items:
                              $ref: '#/definitions/MeetingMetric'
                            type: array
                    type: object
      summary: Retrieve Zoom Room
      tags:
        - Dashboards
  /report/daily:
    get:
      description: 'Retrieve daily report for one month, can only get daily report for recent 6 months.'
      operationId: reportDaily
      parameters:
        - description: Year for this report
          in: query
          name: year
          type: integer
        - description: Month for this report
          in: query
          name: month
          type: integer
      responses:
        '200':
          description: Daily Report Returned
          schema:
            properties:
              dates:
                description: Array of date objects
                items:
                  properties:
                    date:
                      description: Date for this object
                      format: date
                      type: string
                    meeting_minutes:
                      description: Number of meeting minutes on this date
                      type: integer
                    meetings:
                      description: Number of meetings on this date
                      type: integer
                    new_users:
                      description: Number of new users on this date
                      type: integer
                    participants:
                      description: Number of participants on this date
                      type: integer
                type: array
              month:
                description: Month for this report
                type: integer
              year:
                description: Year for this report
                type: integer
      summary: Retrieve daily report
      tags:
        - Reports
  '/report/meetings/{meetingId}':
    get:
      description: Retrieve ended meeting details report
      operationId: reportMeetingDetails
      parameters:
        - $ref: '#/parameters/MeetingId4Metrics'
      responses:
        '200':
          description: Meeting detail Returned
          schema:
            properties:
              duration:
                description: Meeting duration
                type: integer
              end_time:
                description: Meeting end time
                format: date-time
                type: string
              id:
                description: Meeting ID
                type: integer
              participants_count:
                description: Number of meeting participants
                type: integer
              start_time:
                description: Meeting start time
                format: date-time
                type: string
              topic:
                description: Meeting topic
                type: string
              total_minutes:
                description: Number of meeting minutes
                type: integer
              type:
                description: Meeting type
                type: integer
              user_email:
                description: User email
                type: string
              user_name:
                description: User display name
                type: string
              uuid:
                description: Meeting UUID
                format: uuid
                type: string
        '404':
          description: Meeting not found
      summary: Retrieve meeting details report
      tags:
        - Reports
  '/report/meetings/{meetingId}/participants':
    get:
      description: Retrieve ended meeting participants report
      operationId: reportMeetingParticipants
      parameters:
        - $ref: '#/parameters/MeetingId4Metrics'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/NextPageToken'
      responses:
        '200':
          description: Meeting Participants Report Returned
          schema:
            allOf:
              - $ref: '#/definitions/PaginationToken'
              - properties:
                  participants:
                    description: Array of meeting participant objects
                    items:
                      properties:
                        attentiveness_score:
                          description: Participant attentiveness score
                          type: integer
                        duration:
                          description: Participant duration
                          type: integer
                        join_time:
                          description: Participant join time
                          format: date-time
                          type: string
                        leave_time:
                          description: Participant leave time
                          format: date-time
                          type: string
                        name:
                          description: Participant display name
                          type: string
                        user_email:
                          description: Participant email
                          type: string
                    type: array
        '404':
          description: Meeting not found
      summary: Retrieve meeting participants report
      tags:
        - Reports
  /report/telephone:
    get:
      description: Retrieve telephone report for a specified period <aside>Toll Report API is provided for enabled 'Toll Report' option.</aside>
      operationId: reportTelephone
      parameters:
        - description: Audio type
          enum:
            - 1
            - 2
          in: query
          name: type
          type: string
          x-enum-descriptions:
            - Toll-free Call-in & Call-out
            - Toll
        - $ref: '#/parameters/FromDate'
        - $ref: '#/parameters/ToDate'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/PageNumber'
      responses:
        '200':
          description: Telephone Report Returned
          schema:
            allOf:
              - properties:
                  from:
                    description: Start date for this report
                    format: date
                    type: string
                  to:
                    description: End date for this report
                    format: date
                    type: string
              - $ref: '#/definitions/Pagination'
              - properties:
                  telephony_usage:
                    description: Array of telephony objects
                    items:
                      properties:
                        dept:
                          description: User department
                          type: string
                        duration:
                          description: Meeting duration
                          type: integer
                        end_time:
                          description: Meeting end time
                          format: date-time
                          type: string
                        host_email:
                          description: User email
                          type: string
                        host_name:
                          description: User display name
                          type: string
                        meeting_id:
                          description: Meeting ID
                          type: integer
                        phone_number:
                          description: Telephone Number
                          type: string
                        start_time:
                          description: Meeting start time
                          format: date-time
                          type: string
                        total:
                          description: Total
                          type: number
                    type: array
      summary: Retrieve telephone report
      tags:
        - Reports
  /report/users:
    get:
      description: Retrieve active or inactive hosts report for a specified period
      operationId: reportUsers
      parameters:
        - description: Active hosts or inactive hosts
          enum:
            - active
            - inactive
          in: query
          name: type
          type: string
          x-enum-descriptions:
            - Active hosts
            - Inactive hosts
        - $ref: '#/parameters/FromDate'
        - $ref: '#/parameters/ToDate'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/PageNumber'
      responses:
        '200':
          description: Active/Inactive Hosts Report Returned
          schema:
            allOf:
              - properties:
                  from:
                    description: Start date for this report
                    format: date
                    type: string
                  to:
                    description: End date for this report
                    format: date
                    type: string
              - $ref: '#/definitions/Pagination'
              - properties:
                  total_meeting_minutes:
                    description: Number of meeting minutes for this range
                    type: integer
                  total_meetings:
                    description: Number of meetings for this range
                    type: integer
                  total_participants:
                    description: Number of participants for this range
                    type: integer
                  users:
                    description: Array of user objects
                    items:
                      properties:
                        dept:
                          description: User department
                          type: string
                        email:
                          description: User email
                          type: string
                        id:
                          description: User ID
                          format: uuid
                          type: string
                        meeting_minutes:
                          description: Number of meeting minutes for user
                          type: integer
                        meetings:
                          description: Number of meetings for user
                          type: integer
                        participants:
                          description: Number of participants in meetings for user
                          type: integer
                        type:
                          description: User type
                          type: integer
                        user_name:
                          description: User display name
                          type: string
                    type: array
      summary: Retrieve hosts report
      tags:
        - Reports
  '/report/users/{userId}/meetings':
    get:
      description: Retrieve ended meetings report for a specified period
      operationId: reportMeetings
      parameters:
        - $ref: '#/parameters/UserId'
        - $ref: '#/parameters/FromDate'
        - $ref: '#/parameters/ToDate'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/NextPageToken'
      responses:
        '200':
          description: Active/Inactive Hosts Report Returned
          schema:
            allOf:
              - properties:
                  from:
                    description: Start date for this report
                    format: date
                    type: string
                  to:
                    description: End date for this report
                    format: date
                    type: string
              - $ref: '#/definitions/PaginationToken'
              - properties:
                  meetings:
                    description: Array of meeting objects
                    items:
                      properties:
                        duration:
                          description: Meeting duration
                          type: integer
                        end_time:
                          description: Meeting end time
                          format: date-time
                          type: string
                        id:
                          description: Meeting ID
                          type: integer
                        participants_count:
                          description: Number of meeting participants
                          type: integer
                        start_time:
                          description: Meeting start time
                          format: date-time
                          type: string
                        topic:
                          description: Meeting topic
                          type: string
                        total_minutes:
                          description: Number of meeting minutes
                          type: integer
                        type:
                          description: Meeting type
                          type: integer
                        user_email:
                          description: User email
                          type: string
                        user_name:
                          description: User display name
                          type: string
                        uuid:
                          description: Meeting UUID
                          format: uuid
                          type: string
                    type: array
        '404':
          description: User not found
      summary: Retrieve meetings report
      tags:
        - Reports
  '/report/webinars/{webinarId}':
    get:
      description: Retrieve ended webinar details report
      operationId: reportWebinarDetails
      parameters:
        - $ref: '#/parameters/WebinarId4Metrics'
      responses:
        '200':
          description: Webinar detail Returned
          schema:
            properties:
              duration:
                description: Meeting duration
                type: integer
              end_time:
                description: Meeting end time
                format: date-time
                type: string
              id:
                description: Meeting ID
                type: integer
              participants_count:
                description: Number of meeting participants
                type: integer
              start_time:
                description: Meeting start time
                format: date-time
                type: string
              topic:
                description: Meeting topic
                type: string
              total_minutes:
                description: Number of meeting minutes
                type: integer
              type:
                description: Meeting type
                type: integer
              user_email:
                description: User email
                type: string
              user_name:
                description: User display name
                type: string
              uuid:
                description: Meeting UUID
                format: uuid
                type: string
        '404':
          description: Webinar not found
      summary: Retrieve webinar details report
      tags:
        - Reports
  '/report/webinars/{webinarId}/participants':
    get:
      description: Retrieve ended webinar participants report
      operationId: reportWebinarParticipants
      parameters:
        - $ref: '#/parameters/WebinarId4Metrics'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/NextPageToken'
      responses:
        '200':
          description: Meeting Participants Report Returned
          schema:
            allOf:
              - $ref: '#/definitions/PaginationToken'
              - properties:
                  participants:
                    description: Array of webinar participant objects
                    items:
                      properties:
                        attentiveness_score:
                          description: Participant attentiveness score
                          type: string
                        duration:
                          description: Participant duration
                          type: integer
                        join_time:
                          description: Participant join time
                          format: date-time
                          type: string
                        leave_time:
                          description: Participant leave time
                          format: date-time
                          type: string
                        name:
                          description: Participant display name
                          type: string
                        user_email:
                          description: Participant email
                          type: string
                    type: array
        '404':
          description: Webinar not found
      summary: Retrieve webinar participants report
      tags:
        - Reports
  '/report/webinars/{webinarId}/polls':
    get:
      description: Retrieve ended webinar polls report
      operationId: reportWebinarPolls
      parameters:
        - $ref: '#/parameters/WebinarId4Metrics'
      responses:
        '200':
          description: Webinar Polls Report Returned
          schema:
            properties:
              id:
                description: Webinar ID
                type: integer
              questions:
                description: Array of webinar question objects
                items:
                  properties:
                    email:
                      description: Participant email
                      type: string
                    name:
                      description: Participant display name
                      type: string
                    question_details:
                      description: Array of questions from user
                      items:
                        properties:
                          answer:
                            description: Given answer
                            type: string
                          question:
                            description: Asked question
                            type: string
                      type: array
                type: array
              start_time:
                description: Webinar start time
                format: date-time
                type: string
              uuid:
                description: Webinar UUID
                format: uuid
                type: string
        '404':
          description: Webinar not found
      summary: Retrieve webinar polls report
      tags:
        - Reports
  '/report/webinars/{webinarId}/qa':
    get:
      description: Retrieve ended webinar Q&A report
      operationId: reportWebinarQA
      parameters:
        - $ref: '#/parameters/WebinarId4Metrics'
      responses:
        '200':
          description: Webinar Q&A Report Returned
          schema:
            properties:
              id:
                description: Webinar ID
                type: integer
              questions:
                description: Array of webinar question objects
                items:
                  properties:
                    email:
                      description: Participant email
                      type: string
                    name:
                      description: Participant display name
                      type: string
                    question_details:
                      description: Array of questions from user
                      items:
                        properties:
                          answer:
                            description: Given answer
                            type: string
                          question:
                            description: Asked question
                            type: string
                      type: array
                type: array
              start_time:
                description: Webinar start time
                format: date-time
                type: string
              uuid:
                description: Webinar UUID
                format: uuid
                type: string
        '404':
          description: Webinar not found
      summary: Retrieve webinar Q&A report
      tags:
        - Reports
  /tsp:
    get:
      description: List TSP dial-in numbers under account
      operationId: tsp
      parameters: []
      responses:
        '200':
          description: TSP dial-in numbers returned
          schema:
            properties:
              dial_in_numbers:
                items:
                  properties:
                    code:
                      description: Country Code
                      type: string
                    number:
                      description: 'Dial-in number, length is less than 16.'
                      type: string
                    type:
                      type: string
                type: array
              tsp_provider:
                type: string
      summary: List TSP dial-in numbers
      tags:
        - TSP
  /users:
    get:
      description: List users on your account
      operationId: users
      parameters:
        - default: active
          description: User status
          enum:
            - active
            - inactive
            - pending
          in: query
          name: status
          type: string
          x-enum-descriptions:
            - users with active status
            - users with inactive status
            - users with pending status
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/PageNumber'
      responses:
        '200':
          description: User list returned
          schema:
            $ref: '#/definitions/UserList'
      summary: List Users
      tags:
        - Users
    post:
      description: Create a user on your account
      operationId: userCreate
      parameters:
        - description: User
          in: body
          name: body
          required: true
          schema:
            properties:
              action:
                description: Action to take for user creation
                enum:
                  - create
                  - autoCreate
                  - custCreate
                  - ssoCreate
                type: string
                x-enum-descriptions:
                  - User will get an email sent from Zoom. There is a confirmation link in this email. User will then need to click this link to activate their account to the Zoom service. The user can set or change their password in Zoom. <br/>
                  - This action is provided for enterprise customer who has a managed domain. This feature is disabled by default because of the security risk involved in creating a user who does not belong to your domain without notifying the user. <br/>
                  - This action is provided for API partner only. User created in this way has no password and is not able to log into the Zoom web site or client. <br/>
                  - 'This action is provided for enabled "Pre-provisioning SSO User" option. User created in this way has no password. If it is not a basic user, will generate a Personal Vanity URL using user name (no domain) of the provisioning email. If user name or pmi is invalid or occupied, will use random number/random personal vanity URL. <br/>'
              user_info:
                properties:
                  email:
                    description: User's email address.
                    type: string
                  first_name:
                    description: User's first name. Cannot contain more than 5 Chinese words.
                    maxLength: 64
                    type: string
                  last_name:
                    description: User's last name. Cannot contain more than 5 Chinese words.
                    maxLength: 64
                    type: string
                  password:
                    description: User’s password. Only for "autoCreate" action.
                    type: string
                  type:
                    description: User's type
                    enum:
                      - 1
                      - 2
                      - 3
                    type: integer
                    x-enum-descriptions:
                      - basic
                      - pro
                      - corp
                required:
                  - email
                  - type
            required:
              - action
            type: object
      responses:
        '201':
          description: User Created
          headers:
            Content-Location:
              description: Location of created User
              type: string
          schema:
            properties:
              email:
                description: User's email address.
                type: string
              first_name:
                description: User's first name.
                maxLength: 64
                type: string
              id:
                description: User ID
                type: string
              last_name:
                description: User's last name.
                maxLength: 64
                type: string
              type:
                description: User's type
                enum:
                  - 1
                  - 2
                  - 3
                type: integer
                x-enum-descriptions:
                  - basic
                  - pro
                  - corp
        '409':
          description: User with that email already exists
      summary: Create a user
      tags:
        - Users
  /users/email:
    get:
      description: Check if the user email exists.
      operationId: userEmail
      parameters:
        - description: User email
          in: query
          name: email
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            properties:
              existed_email:
                type: boolean
      summary: Check a user's email
      tags:
        - Users
  /users/zpk:
    get:
      description: Check if the zpk is expired. The zpk is used to authenticate a user.
      operationId: userZPK
      parameters:
        - description: User zpk
          in: query
          name: zpk
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            properties:
              expire_in:
                type: integer
      summary: Verify a user's zpk
      tags:
        - Users
  '/users/{userId}':
    delete:
      description: Delete a user on your account
      operationId: userDelete
      parameters:
        - $ref: '#/parameters/UserId'
        - default: disassociate
          description: Delete action type
          enum:
            - disassociate
            - delete
          in: query
          name: action
          type: string
          x-enum-descriptions:
            - Disassociate a user
            - Permanently delete a user
      responses:
        '204':
          description: User deleted
        '404':
          description: User not found
      summary: Delete a user
      tags:
        - Users
    get:
      description: Retrieve a user on your account
      operationId: user
      parameters:
        - $ref: '#/parameters/UserId'
        - $ref: '#/parameters/LoginType'
      responses:
        '200':
          description: User object returned
          schema:
            allOf:
              - properties:
                  id:
                    description: User ID
                    type: string
              - $ref: '#/definitions/User'
              - properties:
                  pic_url:
                    type: string
                  vanity_url:
                    type: string
                  verified:
                    type: integer
        '404':
          description: User not found
      summary: Retrieve a user
      tags:
        - Users
    patch:
      description: Update a user on your account
      operationId: userUpdate
      parameters:
        - $ref: '#/parameters/UserId'
        - description: User
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UserUpdate'
      responses:
        '204':
          description: User updated
        '404':
          description: User not found
      summary: Update a user
      tags:
        - Users
  '/users/{userId}/assistants':
    delete:
      description: Delete all of a user'sassitants
      operationId: userAssistantsDelete
      parameters:
        - $ref: '#/parameters/UserId'
      responses:
        '204':
          description: Assitants deleted.
        '404':
          description: User not found
      summary: Delete a user's assistants
      tags:
        - Users
    get:
      description: List a user's assistants
      operationId: userAssistants
      parameters:
        - $ref: '#/parameters/UserId'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UserAssistantsList'
        '404':
          description: User not found
      summary: List a user's assistants
      tags:
        - Users
    post:
      description: Add assistants to a user
      operationId: userAssistantCreate
      parameters:
        - $ref: '#/parameters/UserId'
        - description: User assistant
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UserAssistantsList'
      responses:
        '201':
          description: Assitant Added
          headers:
            Content-Location:
              description: Location of created assistant
              type: string
          schema:
            properties:
              add_at:
                format: date-time
                type: string
              ids:
                description: User ID
                type: string
        '404':
          description: User not found
      summary: Add assistants
      tags:
        - Users
  '/users/{userId}/assistants/{assistantId}':
    delete:
      description: Delete one of a user's assistants
      operationId: userAssistantDelete
      parameters:
        - $ref: '#/parameters/UserId'
        - description: Assistant's ID
          in: path
          name: assistantId
          required: true
          type: string
      responses:
        '204':
          description: Assitant deleted.
        '404':
          description: User or Assistant not found
      summary: Delete a user's assistant
      tags:
        - Users
  '/users/{userId}/meetings':
    get:
      description: List meetings for a user
      operationId: meetings
      parameters:
        - $ref: '#/parameters/UserId'
        - $ref: '#/parameters/MeetingType'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/PageNumber'
      responses:
        '200':
          description: List of Meeting objects returned
          schema:
            $ref: '#/definitions/MeetingList'
        '404':
          description: User not found
      summary: List meetings
      tags:
        - Meetings
    post:
      description: Create a meeting for a user
      operationId: meetingCreate
      parameters:
        - $ref: '#/parameters/UserId'
        - description: Meeting object
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Meeting'
      responses:
        '201':
          description: Meeting Created
          headers:
            Content-Location:
              description: Location of created Meeting
              type: string
          schema:
            allOf:
              - properties:
                  host_id:
                    description: ID of the user set as host of meeting
                    type: string
                  id:
                    description: 'Meeting ID, also known as meeting number'
                    type: string
                  uuid:
                    description: Meeting unique ID
                    type: string
                type: object
              - $ref: '#/definitions/MeetingInfo'
        '404':
          description: User not found
      summary: Create a meeting
      tags:
        - Meetings
  '/users/{userId}/password':
    put:
      description: Update a user's password
      operationId: userPassword
      parameters:
        - $ref: '#/parameters/UserId'
        - description: User password
          in: body
          name: body
          required: true
          schema:
            properties:
              password:
                description: User’s password. Character length is less than 32.
                type: string
            required:
              - password
            type: object
      responses:
        '204':
          description: Password updated
        '404':
          description: User not found
      summary: Update a user's password
      tags:
        - Users
  '/users/{userId}/picture':
    post:
      description: Upload a user's profile picture
      operationId: userPicture
      parameters:
        - $ref: '#/parameters/UserId'
        - description: 'User picture file, must be a jpg/jpeg file'
          in: formData
          name: pic_file
          required: true
          type: file
      responses:
        '201':
          description: Picture Uploaded
          headers:
            Content-Location:
              description: Location of user's picture
              type: string
        '404':
          description: User not found
      summary: Upload a user's picture
      tags:
        - Users
  '/users/{userId}/recordings':
    get:
      description: List all the recordings
      operationId: recordingsList
      parameters:
        - $ref: '#/parameters/UserId'
        - $ref: '#/parameters/FromDate'
        - $ref: '#/parameters/ToDate'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/NextPageToken'
        - $ref: '#/parameters/Mc'
        - $ref: '#/parameters/Trash'
      responses:
        '200':
          description: List of Recording objects returned
          schema:
            $ref: '#/definitions/RecordingList'
        '404':
          description: User not found
      summary: List all the recordings
      tags:
        - Cloud Recording
  '/users/{userId}/settings':
    get:
      description: Retrieve a user's settings
      operationId: userSettings
      parameters:
        - $ref: '#/parameters/UserId'
        - $ref: '#/parameters/LoginType'
      responses:
        '200':
          description: User settings returned
          schema:
            $ref: '#/definitions/UserSettings'
        '404':
          description: User not found
      summary: Retrieve a user's settings
      tags:
        - Users
    patch:
      description: Update a user's settings
      operationId: userSettingsUpdate
      parameters:
        - $ref: '#/parameters/UserId'
        - description: User Settings
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UserSettings'
      responses:
        '204':
          description: User setting's updated
        '404':
          description: User not found
      summary: Update a user's settings
      tags:
        - Users
  '/users/{userId}/status':
    put:
      description: Update a user's status
      operationId: userStatus
      parameters:
        - $ref: '#/parameters/UserId'
        - description: User status
          in: body
          name: body
          required: true
          schema:
            description: The action
            properties:
              action:
                description: The action type
                enum:
                  - activate
                  - deactivate
                type: string
                x-enum-descriptions:
                  - set users status to active
                  - set users status to inactive
            required:
              - action
            type: object
      responses:
        '204':
          description: Status updated
        '404':
          description: User not found
      summary: Update a user's status
      tags:
        - Users
  '/users/{userId}/token':
    delete:
      description: Revoke a user's SSO token
      operationId: userSSOTokenDelete
      parameters:
        - $ref: '#/parameters/UserId'
      responses:
        '204':
          description: Token deleted
        '404':
          description: User not found
      summary: Revoke a user's SSO token
      tags:
        - Users
    get:
      description: Retrieve a user's token
      operationId: userToken
      parameters:
        - $ref: '#/parameters/UserId'
        - description: User token type
          enum:
            - token
            - zpk
          in: query
          name: type
          type: string
          x-enum-descriptions:
            - Used for starting meeting with client SDK.
            - Used for generating the start meeting url.
      responses:
        '200':
          description: Token returned
          schema:
            properties:
              token:
                description: User ID
                type: string
        '404':
          description: User not found
      summary: Retrieve a user's token
      tags:
        - Users
  '/users/{userId}/tsp':
    get:
      description: List user's TSP accounts
      operationId: userTSPs
      parameters:
        - $ref: '#/parameters/UserId'
      responses:
        '200':
          description: TSP Account list returned
          schema:
            properties:
              tsp_accounts:
                items:
                  $ref: '#/definitions/TSP'
                type: array
        '404':
          description: User not found
      summary: List user's TSP accounts
      tags:
        - TSP
    post:
      description: Add a user's TSP account
      operationId: userTSPCreate
      parameters:
        - $ref: '#/parameters/UserId'
        - description: TSP Account
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TSP'
      responses:
        '201':
          description: TSP Account added
          schema:
            $ref: '#/definitions/TSP'
      summary: Add a user's TSP account
      tags:
        - TSP
  '/users/{userId}/tsp/{tspId}':
    delete:
      description: Delete a user's TSP account
      operationId: userTSPDelete
      parameters:
        - $ref: '#/parameters/UserId'
        - $ref: '#/parameters/TSPId'
      responses:
        '204':
          description: TSP Account deleted
      summary: Delete a user's TSP account
      tags:
        - TSP
    get:
      description: Retrieve a user's TSP account
      operationId: userTSP
      parameters:
        - $ref: '#/parameters/UserId'
        - $ref: '#/parameters/TSPId'
      responses:
        '200':
          description: TSP Account returned
          schema:
            $ref: '#/definitions/TSP'
      summary: Retrieve a user's TSP account
      tags:
        - TSP
    patch:
      description: Update a user's TSP account
      operationId: userTSPUpdate
      parameters:
        - $ref: '#/parameters/UserId'
        - $ref: '#/parameters/TSPId'
        - description: TSP Account
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TSP'
      responses:
        '204':
          description: TSP Account updated
      summary: Update a TSP account
      tags:
        - TSP
  '/users/{userId}/webinars':
    get:
      description: List webinars for a user
      operationId: webinars
      parameters:
        - $ref: '#/parameters/UserId'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/PageNumber'
      responses:
        '200':
          description: List of Webinar objects returned
          schema:
            $ref: '#/definitions/WebinarList'
        '404':
          description: User not found
      summary: List webinars
      tags:
        - Webinars
    post:
      description: Create a webinar for a user
      operationId: webinarCreate
      parameters:
        - $ref: '#/parameters/UserId'
        - description: User
          in: body
[...]
