swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2017-08-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/iotSecuritySolutions.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: security-iotSecuritySolutions
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  FilterParam:
    description: filter the Security Solution with OData syntax. supporting filter by iotHubs
    in: query
    name: $filter
    required: false
    type: string
    x-ms-parameter-location: method
  IotSecuritySolutionData:
    description: The security solution data
    in: body
    name: iotSecuritySolutionData
    required: true
    schema:
      $ref: '#/definitions/IoTSecuritySolutionModel'
    x-ms-parameter-location: method
  SolutionName:
    description: The solution manager name
    in: path
    name: solutionName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Security/iotSecuritySolutions':
    get:
      description: List of security solutions
      operationId: IoTSecuritySolutions_List
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          type: string
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          pattern: '^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$'
          required: true
          type: string
        - $ref: '#/parameters/FilterParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IoTSecuritySolutionsList'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response structure.
            properties:
              error:
                description: Error details.
                properties:
                  code:
                    description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
                    readOnly: true
                    type: string
                  message:
                    description: 'A message describing the error, intended to be suitable for display in a user interface.'
                    readOnly: true
                    type: string
                type: object
                x-ms-external: true
            type: object
            x-ms-external: true
      tags:
        - IoT Security Solutions
      x-ms-examples:
        Get Security Solutions list:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/MyGroup/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default
                    location: East Us
                    name: default
                    properties:
                      disabledDataSources: []
                      displayName: Solution Default
                      export: []
                      iotHubs:
                        - /subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/myRg/providers/Microsoft.Devices/IotHubs/FirstIotHub
                      status: Enabled
                      workspace: /subscriptions/c4930e90-cd72-4aa5-93e9-2d081d129569/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace1
                    tags: {}
                    type: Microsoft.Security/IoTSecuritySolutions
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SecondGroup/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/sec-solution
                    location: East Us
                    name: sec-solution
                    properties:
                      disabledDataSources: []
                      displayName: Second Solution
                      export:
                        - RawEvents
                      iotHubs:
                        - /subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/myRg/providers/Microsoft.Devices/IotHubs/IotHubSecond
                      status: Enabled
                      workspace: /subscriptions/c4930e90-cd72-4aa5-93e9-2d081d129569/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace1
                    tags: {}
                    type: Microsoft.Security/IoTSecuritySolutions
        Get Security Solutions list By IotHub:
          parameters:
            $filter: properties.iotHubs/any(i eq "/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/myRg/providers/Microsoft.Devices/IotHubs/FirstIotHub")
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/MyGroup/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default
                    location: East Us
                    name: default
                    properties:
                      disabledDataSources: []
                      displayName: Solution Default
                      export:
                        - RawEvents
                      iotHubs:
                        - /subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/myRg/providers/Microsoft.Devices/IotHubs/FirstIotHub
                      status: Enabled
                      workspace: /subscriptions/c4930e90-cd72-4aa5-93e9-2d081d129569/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace1
                    tags: {}
                    type: Microsoft.Security/IoTSecuritySolutions
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions':
    get:
      description: List of security solutions
      operationId: IoTSecuritySolutionsResourceGroup_List
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          type: string
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          pattern: '^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$'
          required: true
          type: string
        - description: The name of the resource group within the user's subscription. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: '^[-\w\._\(\)]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/FilterParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IoTSecuritySolutionsList'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response structure.
            properties:
              error:
                description: Error details.
                properties:
                  code:
                    description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
                    readOnly: true
                    type: string
                  message:
                    description: 'A message describing the error, intended to be suitable for display in a user interface.'
                    readOnly: true
                    type: string
                type: object
                x-ms-external: true
            type: object
            x-ms-external: true
      tags:
        - IoT Security Solutions
      x-ms-examples:
        Get Security Solutions list:
          parameters:
            api-version: 2017-08-01-preview
            resourceGroupName: MyGroup
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/MyGroup/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default
                    location: East Us
                    name: default
                    properties:
                      disabledDataSources: []
                      displayName: Solution Default
                      export: []
                      iotHubs:
                        - /subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/myRg/providers/Microsoft.Devices/IotHubs/FirstIotHub
                      status: Enabled
                      workspace: /subscriptions/c4930e90-cd72-4aa5-93e9-2d081d129569/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace1
                    tags: {}
                    type: Microsoft.Security/IoTSecuritySolutions
        Get Security Solutions list By IotHub:
          parameters:
            $filter: properties.iotHubs/any(i eq "/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/myRg/providers/Microsoft.Devices/IotHubs/FirstIotHub")
            api-version: 2017-08-01-preview
            resourceGroupName: MyRg
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/MyRg/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default
                    location: East Us
                    name: default
                    properties:
                      disabledDataSources: []
                      displayName: Solution Default
                      export:
                        - RawEvents
                      iotHubs:
                        - /subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/myRg/providers/Microsoft.Devices/IotHubs/FirstIotHub
                      status: Enabled
                      workspace: /subscriptions/c4930e90-cd72-4aa5-93e9-2d081d129569/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace1
                    tags: {}
                    type: Microsoft.Security/IoTSecuritySolutions
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/iotSecuritySolutions/{solutionName}':
    delete:
      description: Create new solution manager
      operationId: IotSecuritySolution_Delete
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          type: string
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          pattern: '^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$'
          required: true
          type: string
        - description: The name of the resource group within the user's subscription. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: '^[-\w\._\(\)]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/SolutionName'
      responses:
        '200':
          description: Security Solution deleted
        '204':
          description: Security Solution was not exists
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response structure.
            properties:
              error:
                description: Error details.
                properties:
                  code:
                    description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
                    readOnly: true
                    type: string
                  message:
                    description: 'A message describing the error, intended to be suitable for display in a user interface.'
                    readOnly: true
                    type: string
                type: object
                x-ms-external: true
            type: object
            x-ms-external: true
      tags:
        - IoT Security Solutions
      x-ms-examples:
        Create an iot security solution:
          parameters:
            api-version: 2017-08-01-preview
            resourceGroupName: MyGroup
            solutionName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200': {}
            '204': {}
    get:
      description: Details of a specific iot security solution
      operationId: IotSecuritySolution_Get
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          type: string
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          pattern: '^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$'
          required: true
          type: string
        - description: The name of the resource group within the user's subscription. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: '^[-\w\._\(\)]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/SolutionName'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IoTSecuritySolutionModel'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response structure.
            properties:
              error:
                description: Error details.
                properties:
                  code:
                    description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
                    readOnly: true
                    type: string
                  message:
                    description: 'A message describing the error, intended to be suitable for display in a user interface.'
                    readOnly: true
                    type: string
                type: object
                x-ms-external: true
            type: object
            x-ms-external: true
      tags:
        - IoT Security Solutions
      x-ms-examples:
        Get an iot security solution:
          parameters:
            api-version: 2017-08-01-preview
            resourceGroupName: MyGroup
            solutionName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/MyGroup/providers/Microsoft.Security/IoTSecuritySolutions/Locations/eastus/default
                location: East Us
                name: default
                properties:
                  disabledDataSources: []
                  displayName: Solution Default
                  export: []
                  iotHubs:
                    - /subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/myRg/providers/Microsoft.Devices/IotHubs/FirstIotHub
                  status: Enabled
                  workspace: /subscriptions/c4930e90-cd72-4aa5-93e9-2d081d129569/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace1
                tags: {}
                type: Microsoft.Security/IoTSecuritySolutions
    patch:
      description: update exists Security Solution tags. to update other fields use the CreateOrUpdate method
      operationId: IotSecuritySolution_Update
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          type: string
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          pattern: '^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$'
          required: true
          type: string
        - description: The name of the resource group within the user's subscription. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: '^[-\w\._\(\)]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/SolutionName'
        - description: Updated tag information to set into the iot hub instance.
          in: body
          name: securitySolutionTags
          required: true
          schema:
            $ref: '#/definitions/TagsResource'
      responses:
        '200':
          description: Updated
          schema:
            $ref: '#/definitions/IoTSecuritySolutionModel'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response structure.
            properties:
              error:
                description: Error details.
                properties:
                  code:
                    description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
                    readOnly: true
                    type: string
                  message:
                    description: 'A message describing the error, intended to be suitable for display in a user interface.'
                    readOnly: true
                    type: string
                type: object
                x-ms-external: true
            type: object
            x-ms-external: true
      tags:
        - IoT Security Solutions
      x-ms-examples:
        Create an iot security solution:
          parameters:
            api-version: 2017-08-01-preview
            resourceGroupName: myRg
            securitySolutionTags:
              tags:
                foo: bar
            solutionName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/MyGroup/providers/Microsoft.Security/Locations/eastus/IoTSecuritySolutions/default
                location: East Us
                name: default
                properties:
                  disabledDataSources: []
                  displayName: Solution Default
                  export:
                    - RawEvents
                  iotHubs:
                    - /subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/myRg/providers/Microsoft.Devices/IotHubs/FirstIotHub
                  status: Enabled
                  workspace: /subscriptions/c4930e90-cd72-4aa5-93e9-2d081d129569/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace1
                tags:
                  foo: bar
                type: Microsoft.Security/IoTSecuritySolutions
    put:
      description: Create new solution manager
      operationId: IotSecuritySolution_Create
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          type: string
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          pattern: '^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$'
          required: true
          type: string
        - description: The name of the resource group within the user's subscription. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: '^[-\w\._\(\)]+$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/SolutionName'
        - $ref: '#/parameters/IotSecuritySolutionData'
      responses:
        '200':
          description: Updated
          schema:
            $ref: '#/definitions/IoTSecuritySolutionModel'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/IoTSecuritySolutionModel'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response structure.
            properties:
              error:
                description: Error details.
                properties:
                  code:
                    description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
                    readOnly: true
                    type: string
                  message:
                    description: 'A message describing the error, intended to be suitable for display in a user interface.'
                    readOnly: true
                    type: string
                type: object
                x-ms-external: true
            type: object
            x-ms-external: true
      tags:
        - IoT Security Solutions
      x-ms-examples:
        Create an iot security solution:
          parameters:
            api-version: 2017-08-01-preview
            iotSecuritySolutionData:
              location: East Us
              properties:
                disabledDataSources: []
                displayName: Solution Default
                export: []
                iotHubs:
                  - /subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/myRg/providers/Microsoft.Devices/IotHubs/FirstIotHub
                status: Enabled
                workspace: /subscriptions/c4930e90-cd72-4aa5-93e9-2d081d129569/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace1
              tags: {}
            resourceGroupName: MyGroup
            solutionName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/MyGroup/providers/Microsoft.Security/Locations/eastus/IoTSecuritySolutions/default
                location: East Us
                name: default
                properties:
                  disabledDataSources: []
                  displayName: Solution Default
                  export: []
                  iotHubs:
                    - /subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/myRg/providers/Microsoft.Devices/IotHubs/FirstIotHub
                  status: Enabled
                  workspace: /subscriptions/c4930e90-cd72-4aa5-93e9-2d081d129569/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace1
                tags: {}
                type: Microsoft.Security/IoTSecuritySolutions
            '201':
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/MyGroup/providers/Microsoft.Security/Locations/eastus/IoTSecuritySolutions/default
                location: East Us
                name: default
                properties:
                  disabledDataSources: []
                  displayName: Solution Default
                  export: []
                  iotHubs:
                    - /subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/myRg/providers/Microsoft.Devices/IotHubs/FirstIotHub
                  status: Enabled
                  workspace: /subscriptions/c4930e90-cd72-4aa5-93e9-2d081d129569/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace1
                tags: {}
                type: Microsoft.Security/IoTSecuritySolutions
definitions:
  IoTSecuritySolutionModel:
    allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      - $ref: '#/definitions/TagsResource'
    description: Security Solution
    properties:
      location:
        description: The resource location.
        type: string
      properties:
        $ref: '#/definitions/IoTSecuritySolutionProperties'
        description: Security Solution data
        x-ms-client-flatten: true
    type: object
  IoTSecuritySolutionProperties:
    description: Security Solution setting data
    properties:
      disabledDataSources:
        description: Disabled data sources. Disabling these data sources compromises the system.
        items:
          enum:
            - TwinData
          type: string
          x-ms-enum:
            modelAsString: true
            name: DataSource
            values:
              - description: Devices twin data
                value: TwinData
        type: array
      displayName:
        description: Resource display name.
        type: string
      export:
        description: List of additional export to workspace data options
        items:
          enum:
            - RawEvents
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExportData
            values:
              - description: Agent raw events
                value: RawEvents
        type: array
      iotHubs:
        description: IoT Hub resource IDs
        items:
          type: string
        type: array
      status:
        default: Enabled
        description: Security solution status
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: SecuritySolutionStatus
      workspace:
        description: Workspace resource ID
        type: string
    required:
      - iotHubs
      - workspace
      - displayName
    type: object
  IoTSecuritySolutionsList:
    description: List of iot solutions
    properties:
      nextLink:
        description: The URI to fetch the next page.
        readOnly: true
        type: string
      value:
        description: List of security solutions
        items:
          $ref: '#/definitions/IoTSecuritySolutionModel'
        type: array
    required:
      - value
  TagsResource:
    description: 'A container holding only the Tags for a resource, allowing the user to update the tags.'
    properties:
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
