openapi: 3.0.1
servers:
  - url: https://api.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Api
  version: 1.42.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_static1.twilio.com_marketing_bundles_marketing_img_logos_wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_api_v2010.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: api
paths:
  /2010-04-01/Accounts.json:
    description: Twilio accounts (aka Project) or subaccounts
    get:
      description: Retrieves a collection of Accounts belonging to the account used to make the request
      operationId: ListAccount
      parameters:
        - description: Only return the Account resources with friendly names that exactly match this name.
          in: query
          name: FriendlyName
          schema:
            type: string
        - description: Only return Account resources with the given status. Can be `closed`, `suspended` or `active`.
          in: query
          name: Status
          schema:
            $ref: "#/components/schemas/account_enum_status"
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  accounts:
                    items:
                      $ref: "#/components/schemas/api.v2010.account"
                    type: array
                  end:
                    type: integer
                  first_page_uri:
                    format: uri
                    type: string
                  next_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  page:
                    type: integer
                  page_size:
                    type: integer
                  previous_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  start:
                    type: integer
                  uri:
                    format: uri
                    type: string
                title: ListAccountResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new Twilio Subaccount from the account making the request
      operationId: CreateAccount
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: A human readable description of the account to create, defaults to `SubAccount Created at {YYYY-MM-DD HH:MM meridian}`
                  type: string
              title: CreateAccountRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.v2010.account"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - status
      pathType: list
  "/2010-04-01/Accounts/{AccountSid}/Addresses.json":
    description: An Address instance resource represents your or your customer's physical location within a country. Around the world, some local authorities require the name and address of the user to be on file with Twilio to purchase and own a phone number.
    get:
      description: ""
      operationId: ListAddress
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that is responsible for the Address resource to read.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: The `customer_name` of the Address resources to read.
          in: query
          name: CustomerName
          schema:
            type: string
        - description: The string that identifies the Address resources to read.
          in: query
          name: FriendlyName
          schema:
            type: string
        - description: The ISO country code of the Address resources to read.
          in: query
          name: IsoCountry
          schema:
            format: iso-country-code
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  addresses:
                    items:
                      $ref: "#/components/schemas/api.v2010.account.address"
                    type: array
                  end:
                    type: integer
                  first_page_uri:
                    format: uri
                    type: string
                  next_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  page:
                    type: integer
                  page_size:
                    type: integer
                  previous_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  start:
                    type: integer
                  uri:
                    format: uri
                    type: string
                title: ListAddressResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateAddress
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that will be responsible for the new Address resource.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AutoCorrectAddress:
                  description: "Whether we should automatically correct the address. Can be: `true` or `false` and the default is `true`. If empty or `true`, we will correct the address you provide if necessary. If `false`, we won't alter the address you provide."
                  type: boolean
                City:
                  description: The city of the new address.
                  type: string
                CustomerName:
                  description: The name to associate with the new address.
                  type: string
                EmergencyEnabled:
                  description: "Whether to enable emergency calling on the new address. Can be: `true` or `false`."
                  type: boolean
                FriendlyName:
                  description: A descriptive string that you create to describe the new address. It can be up to 64 characters long.
                  type: string
                IsoCountry:
                  description: The ISO country code of the new address.
                  format: iso-country-code
                  type: string
                PostalCode:
                  description: The postal code of the new address.
                  type: string
                Region:
                  description: The state or region of the new address.
                  type: string
                Street:
                  description: The number and street address of the new address.
                  type: string
                StreetSecondary:
                  description: The additional number and street address of the address.
                  type: string
              required:
                - CustomerName
                - Street
                - City
                - Region
                - PostalCode
                - IsoCountry
              title: CreateAddressRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.v2010.account.address"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - validated
        - verified
      parent: /Accounts/{Sid}.json
      pathType: list
  "/2010-04-01/Accounts/{AccountSid}/Addresses/{AddressSid}/DependentPhoneNumbers.json":
    description: Phone numbers dependent on an Address resource
    get:
      description: ""
      operationId: ListDependentPhoneNumber
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the DependentPhoneNumber resources to read.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Address resource associated with the phone number.
          in: path
          name: AddressSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AD[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  dependent_phone_numbers:
                    items:
                      $ref: "#/components/schemas/api.v2010.account.address.dependent_phone_number"
                    type: array
                  end:
                    type: integer
                  first_page_uri:
                    format: uri
                    type: string
                  next_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  page:
                    type: integer
                  page_size:
                    type: integer
                  previous_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  start:
                    type: integer
                  uri:
                    format: uri
                    type: string
                title: ListDependentPhoneNumberResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - phone_number
        - friendly_name
      parent: /Accounts/{AccountSid}/Addresses/{Sid}.json
      pathType: list
  "/2010-04-01/Accounts/{AccountSid}/Addresses/{Sid}.json":
    delete:
      description: ""
      operationId: DeleteAddress
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that is responsible for the Address resource to delete.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Address resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AD[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: An Address instance resource represents your or your customer's physical location within a country. Around the world, some local authorities require the name and address of the user to be on file with Twilio to purchase and own a phone number.
    get:
      description: ""
      operationId: FetchAddress
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that is responsible for the Address resource to fetch.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Address resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AD[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.v2010.account.address"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateAddress
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that is responsible for the Address resource to update.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Address resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AD[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AutoCorrectAddress:
                  description: "Whether we should automatically correct the address. Can be: `true` or `false` and the default is `true`. If empty or `true`, we will correct the address you provide if necessary. If `false`, we won't alter the address you provide."
                  type: boolean
                City:
                  description: The city of the address.
                  type: string
                CustomerName:
                  description: The name to associate with the address.
                  type: string
                EmergencyEnabled:
                  description: "Whether to enable emergency calling on the address. Can be: `true` or `false`."
                  type: boolean
                FriendlyName:
                  description: A descriptive string that you create to describe the address. It can be up to 64 characters long.
                  type: string
                PostalCode:
                  description: The postal code of the address.
                  type: string
                Region:
                  description: The state or region of the address.
                  type: string
                Street:
                  description: The number and street address of the address.
                  type: string
                StreetSecondary:
                  description: The additional number and street address of the address.
                  type: string
              title: UpdateAddressRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.v2010.account.address"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - validated
        - verified
      parent: /Accounts/{Sid}.json
      pathType: instance
  "/2010-04-01/Accounts/{AccountSid}/Applications.json":
    description: An Application instance resource represents an application that you have created with Twilio. An application inside of Twilio is just a set of URLs and other configuration data that tells Twilio how to behave when one of your Twilio numbers receives a call or SMS message.
    get:
      description: Retrieve a list of applications representing an application within the requesting account
      operationId: ListApplication
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Application resources to read.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: The string that identifies the Application resources to read.
          in: query
          name: FriendlyName
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  applications:
                    items:
                      $ref: "#/components/schemas/api.v2010.account.application"
                    type: array
                  end:
                    type: integer
                  first_page_uri:
                    format: uri
                    type: string
                  next_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  page:
                    type: integer
                  page_size:
                    type: integer
                  previous_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  start:
                    type: integer
                  uri:
                    format: uri
                    type: string
                title: ListApplicationResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Create a new application within your account
      operationId: CreateApplication
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that will create the resource.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ApiVersion:
                  description: "The API version to use to start a new TwiML session. Can be: `2010-04-01` or `2008-08-01`. The default value is the account's default API version."
                  type: string
                FriendlyName:
                  description: A descriptive string that you create to describe the new application. It can be up to 64 characters long.
                  type: string
                MessageStatusCallback:
                  description: The URL we should call using a POST method to send message status information to your application.
                  format: uri
                  type: string
                PublicApplicationConnectEnabled:
                  description: "Whether to allow other Twilio accounts to dial this applicaton using Dial verb. Can be: `true` or `false`."
                  type: boolean
                SmsFallbackMethod:
                  description: "The HTTP method we should use to call `sms_fallback_url`. Can be: `GET` or `POST`."
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
                SmsFallbackUrl:
                  description: The URL that we should call when an error occurs while retrieving or executing the TwiML from `sms_url`.
                  format: uri
                  type: string
                SmsMethod:
                  description: "The HTTP method we should use to call `sms_url`. Can be: `GET` or `POST`."
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
                SmsStatusCallback:
                  description: The URL we should call using a POST method to send status information about SMS messages sent by the application.
                  format: uri
                  type: string
                SmsUrl:
                  description: The URL we should call when the phone number receives an incoming SMS message.
                  format: uri
                  type: string
                StatusCallback:
                  description: The URL we should call using the `status_callback_method` to send status information to your application.
                  format: uri
                  type: string
                StatusCallbackMethod:
                  description: "The HTTP method we should use to call `status_callback`. Can be: `GET` or `POST`."
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
                VoiceCallerIdLookup:
                  description: "Whether we should look up the caller's caller-ID name from the CNAM database (additional charges apply). Can be: `true` or `false`."
                  type: boolean
                VoiceFallbackMethod:
                  description: "The HTTP method we should use to call `voice_fallback_url`. Can be: `GET` or `POST`."
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
                VoiceFallbackUrl:
                  description: The URL that we should call when an error occurs retrieving or executing the TwiML requested by `url`.
                  format: uri
                  type: string
                VoiceMethod:
                  description: "The HTTP method we should use to call `voice_url`. Can be: `GET` or `POST`."
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
                VoiceUrl:
                  description: The URL we should call when the phone number assigned to this application receives a call.
                  format: uri
                  type: string
              title: CreateApplicationRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.v2010.account.application"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - date_created
      parent: /Accounts/{Sid}.json
      pathType: list
  "/2010-04-01/Accounts/{AccountSid}/Applications/{Sid}.json":
    delete:
      description: Delete the application by the specified application sid
      operationId: DeleteApplication
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Application resources to delete.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Application resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AP[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: An Application instance resource represents an application that you have created with Twilio. An application inside of Twilio is just a set of URLs and other configuration data that tells Twilio how to behave when one of your Twilio numbers receives a call or SMS message.
    get:
      description: Fetch the application specified by the provided sid
      operationId: FetchApplication
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Application resource to fetch.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Application resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AP[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.v2010.account.application"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Updates the application's properties
      operationId: UpdateApplication
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Application resources to update.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the Application resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AP[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ApiVersion:
                  description: "The API version to use to start a new TwiML session. Can be: `2010-04-01` or `2008-08-01`. The default value is your account's default API version."
                  type: string
                FriendlyName:
                  description: A descriptive string that you create to describe the resource. It can be up to 64 characters long.
                  type: string
                MessageStatusCallback:
                  description: The URL we should call using a POST method to send message status information to your application.
                  format: uri
                  type: string
                PublicApplicationConnectEnabled:
                  description: "Whether to allow other Twilio accounts to dial this applicaton using Dial verb. Can be: `true` or `false`."
                  type: boolean
                SmsFallbackMethod:
                  description: "The HTTP method we should use to call `sms_fallback_url`. Can be: `GET` or `POST`."
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
                SmsFallbackUrl:
                  description: The URL that we should call when an error occurs while retrieving or executing the TwiML from `sms_url`.
                  format: uri
                  type: string
                SmsMethod:
                  description: "The HTTP method we should use to call `sms_url`. Can be: `GET` or `POST`."
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
                SmsStatusCallback:
                  description: "Same as message_status_callback: The URL we should call using a POST method to send status information about SMS messages sent by the application. Deprecated, included for backwards compatibility."
                  format: uri
                  type: string
                SmsUrl:
                  description: The URL we should call when the phone number receives an incoming SMS message.
                  format: uri
                  type: string
                StatusCallback:
                  description: The URL we should call using the `status_callback_method` to send status information to your application.
                  format: uri
                  type: string
                StatusCallbackMethod:
                  description: "The HTTP method we should use to call `status_callback`. Can be: `GET` or `POST`."
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
                VoiceCallerIdLookup:
                  description: "Whether we should look up the caller's caller-ID name from the CNAM database (additional charges apply). Can be: `true` or `false`."
                  type: boolean
                VoiceFallbackMethod:
                  description: "The HTTP method we should use to call `voice_fallback_url`. Can be: `GET` or `POST`."
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
                VoiceFallbackUrl:
                  description: The URL that we should call when an error occurs retrieving or executing the TwiML requested by `url`.
                  format: uri
                  type: string
                VoiceMethod:
                  description: "The HTTP method we should use to call `voice_url`. Can be: `GET` or `POST`."
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
                VoiceUrl:
                  description: The URL we should call when the phone number assigned to this application receives a call.
                  format: uri
                  type: string
              title: UpdateApplicationRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.v2010.account.application"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - date_created
      parent: /Accounts/{Sid}.json
      pathType: instance
  "/2010-04-01/Accounts/{AccountSid}/AuthorizedConnectApps.json":
    description: Authorized Twilio Connect apps
    get:
      description: Retrieve a list of authorized-connect-apps belonging to the account used to make the request
      operationId: ListAuthorizedConnectApp
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the AuthorizedConnectApp resources to read.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  authorized_connect_apps:
                    items:
                      $ref: "#/components/schemas/api.v2010.account.authorized_connect_app"
                    type: array
                  end:
                    type: integer
                  first_page_uri:
                    format: uri
                    type: string
                  next_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  page:
                    type: integer
                  page_size:
                    type: integer
                  previous_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  start:
                    type: integer
                  uri:
                    format: uri
                    type: string
                title: ListAuthorizedConnectAppResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - connect_app_sid
        - connect_app_friendly_name
      parent: /Accounts/{Sid}.json
      pathType: list
  "/2010-04-01/Accounts/{AccountSid}/AuthorizedConnectApps/{ConnectAppSid}.json":
    description: Authorized Twilio Connect apps
    get:
      description: Fetch an instance of an authorized-connect-app
      operationId: FetchAuthorizedConnectApp
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the AuthorizedConnectApp resource to fetch.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Connect App to fetch.
          in: path
          name: ConnectAppSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.v2010.account.authorized_connect_app"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - connect_app_sid
        - connect_app_friendly_name
      parent: /Accounts/{Sid}.json
      pathType: instance
  "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers.json":
    description: Country codes with available phone numbers
    get:
      description: ""
      operationId: ListAvailablePhoneNumberCountry
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) requesting the available phone number Country resources.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  countries:
                    items:
                      $ref: "#/components/schemas/api.v2010.account.available_phone_number_country"
                    type: array
                  end:
                    type: integer
                  first_page_uri:
                    format: uri
                    type: string
                  next_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  page:
                    type: integer
                  page_size:
                    type: integer
                  previous_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  start:
                    type: integer
                  uri:
                    format: uri
                    type: string
                title: ListAvailablePhoneNumberCountryResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://api.twilio.com
    x-twilio:
      className: available_phone_number_country
      defaultOutputProperties:
        - country_code
        - country
        - beta
      parent: /Accounts/{Sid}.json
      pathType: list
  "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json":
    description: Country codes with available phone numbers
    get:
      description: ""
      operationId: FetchAvailablePhoneNumberCountry
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) requesting the available phone number Country resource.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of the country to fetch available phone number information about.
          in: path
          name: CountryCode
          required: true
          schema:
            format: iso-country-code
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.v2010.account.available_phone_number_country"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://api.twilio.com
    x-twilio:
      className: available_phone_number_country
      defaultOutputProperties:
        - country_code
        - country
        - beta
      parent: /Accounts/{Sid}.json
      pathType: instance
  "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/Local.json":
    description: Available local phone numbers
    get:
      description: ""
      operationId: ListAvailablePhoneNumberLocal
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) requesting the AvailablePhoneNumber resources.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of the country from which to read phone numbers.
          in: path
          name: CountryCode
          required: true
          schema:
            format: iso-country-code
            type: string
        - description: The area code of the phone numbers to read. Applies to only phone numbers in the US and Canada.
          in: query
          name: AreaCode
          schema:
            type: integer
        - description: The pattern on which to match phone numbers. Valid characters are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumberlocal-resource?code-sample=code-find-phone-numbers-by-number-pattern) and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumberlocal-resource?code-sample=code-find-phone-numbers-by-character-pattern). If specified, this value must have at least two characters.
          in: query
          name: Contains
          schema:
            type: string
        - description: "Whether the phone numbers can receive text messages. Can be: `true` or `false`."
          in: query
          name: SmsEnabled
          schema:
            type: boolean
        - description: "Whether the phone numbers can receive MMS messages. Can be: `true` or `false`."
          in: query
          name: MmsEnabled
          schema:
            type: boolean
        - description: "Whether the phone numbers can receive calls. Can be: `true` or `false`."
          in: query
          name: VoiceEnabled
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeAllAddressRequired
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeLocalAddressRequired
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeForeignAddressRequired
          schema:
            type: boolean
        - description: "Whether to read phone numbers that are new to the Twilio platform. Can be: `true` or `false` and the default is `true`."
          in: query
          name: Beta
          schema:
            type: boolean
        - description: Given a phone number, find a geographically close number within `distance` miles. Distance defaults to 25 miles. Applies to only phone numbers in the US and Canada.
          in: query
          name: NearNumber
          schema:
            format: phone-number
            type: string
        - description: Given a latitude/longitude pair `lat,long` find geographically close numbers within `distance` miles. Applies to only phone numbers in the US and Canada.
          in: query
          name: NearLatLong
          schema:
            type: string
        - description: The search radius, in miles, for a `near_` query.  Can be up to `500` and the default is `25`. Applies to only phone numbers in the US and Canada.
          in: query
          name: Distance
          schema:
            type: integer
        - description: Limit results to a particular postal code. Given a phone number, search within the same postal code as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InPostalCode
          schema:
            type: string
        - description: Limit results to a particular region, state, or province. Given a phone number, search within the same region as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InRegion
          schema:
            type: string
        - description: Limit results to a specific rate center, or given a phone number search within the same rate center as that number. Requires `in_lata` to be set as well. Applies to only phone numbers in the US and Canada.
          in: query
          name: InRateCenter
          schema:
            type: string
        - description: Limit results to a specific local access and transport area ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)). Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area) as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InLata
          schema:
            type: string
        - description: Limit results to a particular locality or city. Given a phone number, search within the same Locality as that number.
          in: query
          name: InLocality
          schema:
            type: string
        - description: "Whether the phone numbers can receive faxes. Can be: `true` or `false`."
          in: query
          name: FaxEnabled
          schema:
            type: boolean
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  available_phone_numbers:
                    items:
                      $ref: "#/components/schemas/api.v2010.account.available_phone_number_country.available_phone_number_local"
                    type: array
                  end:
                    type: integer
                  first_page_uri:
                    format: uri
                    type: string
                  next_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  page:
                    type: integer
                  page_size:
                    type: integer
                  previous_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  start:
                    type: integer
                  uri:
                    format: uri
                    type: string
                title: ListAvailablePhoneNumberLocalResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - phone_number
        - region
        - beta
      parent: /Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json
      pathType: list
  "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/MachineToMachine.json":
    description: Available machine-to-machine phone numbers
    get:
      description: ""
      operationId: ListAvailablePhoneNumberMachineToMachine
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) requesting the AvailablePhoneNumber resources.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of the country from which to read phone numbers.
          in: path
          name: CountryCode
          required: true
          schema:
            format: iso-country-code
            type: string
        - description: The area code of the phone numbers to read. Applies to only phone numbers in the US and Canada.
          in: query
          name: AreaCode
          schema:
            type: integer
        - description: The pattern on which to match phone numbers. Valid characters are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2) and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3). If specified, this value must have at least two characters.
          in: query
          name: Contains
          schema:
            type: string
        - description: "Whether the phone numbers can receive text messages. Can be: `true` or `false`."
          in: query
          name: SmsEnabled
          schema:
            type: boolean
        - description: "Whether the phone numbers can receive MMS messages. Can be: `true` or `false`."
          in: query
          name: MmsEnabled
          schema:
            type: boolean
        - description: "Whether the phone numbers can receive calls. Can be: `true` or `false`."
          in: query
          name: VoiceEnabled
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeAllAddressRequired
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeLocalAddressRequired
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeForeignAddressRequired
          schema:
            type: boolean
        - description: "Whether to read phone numbers that are new to the Twilio platform. Can be: `true` or `false` and the default is `true`."
          in: query
          name: Beta
          schema:
            type: boolean
        - description: Given a phone number, find a geographically close number within `distance` miles. Distance defaults to 25 miles. Applies to only phone numbers in the US and Canada.
          in: query
          name: NearNumber
          schema:
            format: phone-number
            type: string
        - description: Given a latitude/longitude pair `lat,long` find geographically close numbers within `distance` miles. Applies to only phone numbers in the US and Canada.
          in: query
          name: NearLatLong
          schema:
            type: string
        - description: The search radius, in miles, for a `near_` query.  Can be up to `500` and the default is `25`. Applies to only phone numbers in the US and Canada.
          in: query
          name: Distance
          schema:
            type: integer
        - description: Limit results to a particular postal code. Given a phone number, search within the same postal code as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InPostalCode
          schema:
            type: string
        - description: Limit results to a particular region, state, or province. Given a phone number, search within the same region as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InRegion
          schema:
            type: string
        - description: Limit results to a specific rate center, or given a phone number search within the same rate center as that number. Requires `in_lata` to be set as well. Applies to only phone numbers in the US and Canada.
          in: query
          name: InRateCenter
          schema:
            type: string
        - description: Limit results to a specific local access and transport area ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)). Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area) as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InLata
          schema:
            type: string
        - description: Limit results to a particular locality or city. Given a phone number, search within the same Locality as that number.
          in: query
          name: InLocality
          schema:
            type: string
        - description: "Whether the phone numbers can receive faxes. Can be: `true` or `false`."
          in: query
          name: FaxEnabled
          schema:
            type: boolean
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  available_phone_numbers:
                    items:
                      $ref: "#/components/schemas/api.v2010.account.available_phone_number_country.available_phone_number_machine_to_machine"
                    type: array
                  end:
                    type: integer
                  first_page_uri:
                    format: uri
                    type: string
                  next_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  page:
                    type: integer
                  page_size:
                    type: integer
                  previous_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  start:
                    type: integer
                  uri:
                    format: uri
                    type: string
                title: ListAvailablePhoneNumberMachineToMachineResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - phone_number
        - region
        - beta
      parent: /Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json
      pathType: list
  "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/Mobile.json":
    description: Available mobile phone numbers
    get:
      description: ""
      operationId: ListAvailablePhoneNumberMobile
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) requesting the AvailablePhoneNumber resources.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of the country from which to read phone numbers.
          in: path
          name: CountryCode
          required: true
          schema:
            format: iso-country-code
            type: string
        - description: The area code of the phone numbers to read. Applies to only phone numbers in the US and Canada.
          in: query
          name: AreaCode
          schema:
            type: integer
        - description: The pattern on which to match phone numbers. Valid characters are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2) and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3). If specified, this value must have at least two characters.
          in: query
          name: Contains
          schema:
            type: string
        - description: "Whether the phone numbers can receive text messages. Can be: `true` or `false`."
          in: query
          name: SmsEnabled
          schema:
            type: boolean
        - description: "Whether the phone numbers can receive MMS messages. Can be: `true` or `false`."
          in: query
          name: MmsEnabled
          schema:
            type: boolean
        - description: "Whether the phone numbers can receive calls. Can be: `true` or `false`."
          in: query
          name: VoiceEnabled
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeAllAddressRequired
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeLocalAddressRequired
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeForeignAddressRequired
          schema:
            type: boolean
        - description: "Whether to read phone numbers that are new to the Twilio platform. Can be: `true` or `false` and the default is `true`."
          in: query
          name: Beta
          schema:
            type: boolean
        - description: Given a phone number, find a geographically close number within `distance` miles. Distance defaults to 25 miles. Applies to only phone numbers in the US and Canada.
          in: query
          name: NearNumber
          schema:
            format: phone-number
            type: string
        - description: Given a latitude/longitude pair `lat,long` find geographically close numbers within `distance` miles. Applies to only phone numbers in the US and Canada.
          in: query
          name: NearLatLong
          schema:
            type: string
        - description: The search radius, in miles, for a `near_` query.  Can be up to `500` and the default is `25`. Applies to only phone numbers in the US and Canada.
          in: query
          name: Distance
          schema:
            type: integer
        - description: Limit results to a particular postal code. Given a phone number, search within the same postal code as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InPostalCode
          schema:
            type: string
        - description: Limit results to a particular region, state, or province. Given a phone number, search within the same region as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InRegion
          schema:
            type: string
        - description: Limit results to a specific rate center, or given a phone number search within the same rate center as that number. Requires `in_lata` to be set as well. Applies to only phone numbers in the US and Canada.
          in: query
          name: InRateCenter
          schema:
            type: string
        - description: Limit results to a specific local access and transport area ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)). Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area) as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InLata
          schema:
            type: string
        - description: Limit results to a particular locality or city. Given a phone number, search within the same Locality as that number.
          in: query
          name: InLocality
          schema:
            type: string
        - description: "Whether the phone numbers can receive faxes. Can be: `true` or `false`."
          in: query
          name: FaxEnabled
          schema:
            type: boolean
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  available_phone_numbers:
                    items:
                      $ref: "#/components/schemas/api.v2010.account.available_phone_number_country.available_phone_number_mobile"
                    type: array
                  end:
                    type: integer
                  first_page_uri:
                    format: uri
                    type: string
                  next_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  page:
                    type: integer
                  page_size:
                    type: integer
                  previous_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  start:
                    type: integer
                  uri:
                    format: uri
                    type: string
                title: ListAvailablePhoneNumberMobileResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - phone_number
        - region
        - beta
      parent: /Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json
      pathType: list
  "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/National.json":
    description: Available national phone numbers
    get:
      description: ""
      operationId: ListAvailablePhoneNumberNational
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) requesting the AvailablePhoneNumber resources.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of the country from which to read phone numbers.
          in: path
          name: CountryCode
          required: true
          schema:
            format: iso-country-code
            type: string
        - description: The area code of the phone numbers to read. Applies to only phone numbers in the US and Canada.
          in: query
          name: AreaCode
          schema:
            type: integer
        - description: The pattern on which to match phone numbers. Valid characters are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2) and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3). If specified, this value must have at least two characters.
          in: query
          name: Contains
          schema:
            type: string
        - description: "Whether the phone numbers can receive text messages. Can be: `true` or `false`."
          in: query
          name: SmsEnabled
          schema:
            type: boolean
        - description: "Whether the phone numbers can receive MMS messages. Can be: `true` or `false`."
          in: query
          name: MmsEnabled
          schema:
            type: boolean
        - description: "Whether the phone numbers can receive calls. Can be: `true` or `false`."
          in: query
          name: VoiceEnabled
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeAllAddressRequired
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeLocalAddressRequired
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeForeignAddressRequired
          schema:
            type: boolean
        - description: "Whether to read phone numbers that are new to the Twilio platform. Can be: `true` or `false` and the default is `true`."
          in: query
          name: Beta
          schema:
            type: boolean
        - description: Given a phone number, find a geographically close number within `distance` miles. Distance defaults to 25 miles. Applies to only phone numbers in the US and Canada.
          in: query
          name: NearNumber
          schema:
            format: phone-number
            type: string
        - description: Given a latitude/longitude pair `lat,long` find geographically close numbers within `distance` miles. Applies to only phone numbers in the US and Canada.
          in: query
          name: NearLatLong
          schema:
            type: string
        - description: The search radius, in miles, for a `near_` query.  Can be up to `500` and the default is `25`. Applies to only phone numbers in the US and Canada.
          in: query
          name: Distance
          schema:
            type: integer
        - description: Limit results to a particular postal code. Given a phone number, search within the same postal code as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InPostalCode
          schema:
            type: string
        - description: Limit results to a particular region, state, or province. Given a phone number, search within the same region as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InRegion
          schema:
            type: string
        - description: Limit results to a specific rate center, or given a phone number search within the same rate center as that number. Requires `in_lata` to be set as well. Applies to only phone numbers in the US and Canada.
          in: query
          name: InRateCenter
          schema:
            type: string
        - description: Limit results to a specific local access and transport area ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)). Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area) as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InLata
          schema:
            type: string
        - description: Limit results to a particular locality or city. Given a phone number, search within the same Locality as that number.
          in: query
          name: InLocality
          schema:
            type: string
        - description: "Whether the phone numbers can receive faxes. Can be: `true` or `false`."
          in: query
          name: FaxEnabled
          schema:
            type: boolean
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  available_phone_numbers:
                    items:
                      $ref: "#/components/schemas/api.v2010.account.available_phone_number_country.available_phone_number_national"
                    type: array
                  end:
                    type: integer
                  first_page_uri:
                    format: uri
                    type: string
                  next_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  page:
                    type: integer
                  page_size:
                    type: integer
                  previous_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  start:
                    type: integer
                  uri:
                    format: uri
                    type: string
                title: ListAvailablePhoneNumberNationalResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - phone_number
        - region
        - beta
      parent: /Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json
      pathType: list
  "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/SharedCost.json":
    description: Available shared cost numbers
    get:
      description: ""
      operationId: ListAvailablePhoneNumberSharedCost
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) requesting the AvailablePhoneNumber resources.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of the country from which to read phone numbers.
          in: path
          name: CountryCode
          required: true
          schema:
            format: iso-country-code
            type: string
        - description: The area code of the phone numbers to read. Applies to only phone numbers in the US and Canada.
          in: query
          name: AreaCode
          schema:
            type: integer
        - description: The pattern on which to match phone numbers. Valid characters are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2) and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3). If specified, this value must have at least two characters.
          in: query
          name: Contains
          schema:
            type: string
        - description: "Whether the phone numbers can receive text messages. Can be: `true` or `false`."
          in: query
          name: SmsEnabled
          schema:
            type: boolean
        - description: "Whether the phone numbers can receive MMS messages. Can be: `true` or `false`."
          in: query
          name: MmsEnabled
          schema:
            type: boolean
        - description: "Whether the phone numbers can receive calls. Can be: `true` or `false`."
          in: query
          name: VoiceEnabled
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeAllAddressRequired
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeLocalAddressRequired
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeForeignAddressRequired
          schema:
            type: boolean
        - description: "Whether to read phone numbers that are new to the Twilio platform. Can be: `true` or `false` and the default is `true`."
          in: query
          name: Beta
          schema:
            type: boolean
        - description: Given a phone number, find a geographically close number within `distance` miles. Distance defaults to 25 miles. Applies to only phone numbers in the US and Canada.
          in: query
          name: NearNumber
          schema:
            format: phone-number
            type: string
        - description: Given a latitude/longitude pair `lat,long` find geographically close numbers within `distance` miles. Applies to only phone numbers in the US and Canada.
          in: query
          name: NearLatLong
          schema:
            type: string
        - description: The search radius, in miles, for a `near_` query.  Can be up to `500` and the default is `25`. Applies to only phone numbers in the US and Canada.
          in: query
          name: Distance
          schema:
            type: integer
        - description: Limit results to a particular postal code. Given a phone number, search within the same postal code as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InPostalCode
          schema:
            type: string
        - description: Limit results to a particular region, state, or province. Given a phone number, search within the same region as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InRegion
          schema:
            type: string
        - description: Limit results to a specific rate center, or given a phone number search within the same rate center as that number. Requires `in_lata` to be set as well. Applies to only phone numbers in the US and Canada.
          in: query
          name: InRateCenter
          schema:
            type: string
        - description: Limit results to a specific local access and transport area ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)). Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area) as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InLata
          schema:
            type: string
        - description: Limit results to a particular locality or city. Given a phone number, search within the same Locality as that number.
          in: query
          name: InLocality
          schema:
            type: string
        - description: "Whether the phone numbers can receive faxes. Can be: `true` or `false`."
          in: query
          name: FaxEnabled
          schema:
            type: boolean
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  available_phone_numbers:
                    items:
                      $ref: "#/components/schemas/api.v2010.account.available_phone_number_country.available_phone_number_shared_cost"
                    type: array
                  end:
                    type: integer
                  first_page_uri:
                    format: uri
                    type: string
                  next_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  page:
                    type: integer
                  page_size:
                    type: integer
                  previous_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  start:
                    type: integer
                  uri:
                    format: uri
                    type: string
                title: ListAvailablePhoneNumberSharedCostResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - phone_number
        - region
        - beta
      parent: /Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json
      pathType: list
  "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/TollFree.json":
    description: Available toll free phone numbers
    get:
      description: ""
      operationId: ListAvailablePhoneNumberTollFree
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) requesting the AvailablePhoneNumber resources.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of the country from which to read phone numbers.
          in: path
          name: CountryCode
          required: true
          schema:
            format: iso-country-code
            type: string
        - description: The area code of the phone numbers to read. Applies to only phone numbers in the US and Canada.
          in: query
          name: AreaCode
          schema:
            type: integer
        - description: The pattern on which to match phone numbers. Valid characters are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2) and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3). If specified, this value must have at least two characters.
          in: query
          name: Contains
          schema:
            type: string
        - description: "Whether the phone numbers can receive text messages. Can be: `true` or `false`."
          in: query
          name: SmsEnabled
          schema:
            type: boolean
        - description: "Whether the phone numbers can receive MMS messages. Can be: `true` or `false`."
          in: query
          name: MmsEnabled
          schema:
            type: boolean
        - description: "Whether the phone numbers can receive calls. Can be: `true` or `false`."
          in: query
          name: VoiceEnabled
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeAllAddressRequired
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeLocalAddressRequired
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeForeignAddressRequired
          schema:
            type: boolean
        - description: "Whether to read phone numbers that are new to the Twilio platform. Can be: `true` or `false` and the default is `true`."
          in: query
          name: Beta
          schema:
            type: boolean
        - description: Given a phone number, find a geographically close number within `distance` miles. Distance defaults to 25 miles. Applies to only phone numbers in the US and Canada.
          in: query
          name: NearNumber
          schema:
            format: phone-number
            type: string
        - description: Given a latitude/longitude pair `lat,long` find geographically close numbers within `distance` miles. Applies to only phone numbers in the US and Canada.
          in: query
          name: NearLatLong
          schema:
            type: string
        - description: The search radius, in miles, for a `near_` query.  Can be up to `500` and the default is `25`. Applies to only phone numbers in the US and Canada.
          in: query
          name: Distance
          schema:
            type: integer
        - description: Limit results to a particular postal code. Given a phone number, search within the same postal code as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InPostalCode
          schema:
            type: string
        - description: Limit results to a particular region, state, or province. Given a phone number, search within the same region as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InRegion
          schema:
            type: string
        - description: Limit results to a specific rate center, or given a phone number search within the same rate center as that number. Requires `in_lata` to be set as well. Applies to only phone numbers in the US and Canada.
          in: query
          name: InRateCenter
          schema:
            type: string
        - description: Limit results to a specific local access and transport area ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)). Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area) as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InLata
          schema:
            type: string
        - description: Limit results to a particular locality or city. Given a phone number, search within the same Locality as that number.
          in: query
          name: InLocality
          schema:
            type: string
        - description: "Whether the phone numbers can receive faxes. Can be: `true` or `false`."
          in: query
          name: FaxEnabled
          schema:
            type: boolean
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  available_phone_numbers:
                    items:
                      $ref: "#/components/schemas/api.v2010.account.available_phone_number_country.available_phone_number_toll_free"
                    type: array
                  end:
                    type: integer
                  first_page_uri:
                    format: uri
                    type: string
                  next_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  page:
                    type: integer
                  page_size:
                    type: integer
                  previous_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  start:
                    type: integer
                  uri:
                    format: uri
                    type: string
                title: ListAvailablePhoneNumberTollFreeResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - phone_number
        - region
        - beta
      parent: /Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json
      pathType: list
  "/2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/Voip.json":
    description: Available VoIP phone numbers
    get:
      description: ""
      operationId: ListAvailablePhoneNumberVoip
      parameters:
        - description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) requesting the AvailablePhoneNumber resources.
          in: path
          name: AccountSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of the country from which to read phone numbers.
          in: path
          name: CountryCode
          required: true
          schema:
            format: iso-country-code
            type: string
        - description: The area code of the phone numbers to read. Applies to only phone numbers in the US and Canada.
          in: query
          name: AreaCode
          schema:
            type: integer
        - description: The pattern on which to match phone numbers. Valid characters are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2) and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3). If specified, this value must have at least two characters.
          in: query
          name: Contains
          schema:
            type: string
        - description: "Whether the phone numbers can receive text messages. Can be: `true` or `false`."
          in: query
          name: SmsEnabled
          schema:
            type: boolean
        - description: "Whether the phone numbers can receive MMS messages. Can be: `true` or `false`."
          in: query
          name: MmsEnabled
          schema:
            type: boolean
        - description: "Whether the phone numbers can receive calls. Can be: `true` or `false`."
          in: query
          name: VoiceEnabled
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeAllAddressRequired
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeLocalAddressRequired
          schema:
            type: boolean
        - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address). Can be: `true` or `false` and the default is `false`."
          in: query
          name: ExcludeForeignAddressRequired
          schema:
            type: boolean
        - description: "Whether to read phone numbers that are new to the Twilio platform. Can be: `true` or `false` and the default is `true`."
          in: query
          name: Beta
          schema:
            type: boolean
        - description: Given a phone number, find a geographically close number within `distance` miles. Distance defaults to 25 miles. Applies to only phone numbers in the US and Canada.
          in: query
          name: NearNumber
          schema:
            format: phone-number
            type: string
        - description: Given a latitude/longitude pair `lat,long` find geographically close numbers within `distance` miles. Applies to only phone numbers in the US and Canada.
          in: query
          name: NearLatLong
          schema:
            type: string
        - description: The search radius, in miles, for a `near_` query.  Can be up to `500` and the default is `25`. Applies to only phone numbers in the US and Canada.
          in: query
          name: Distance
          schema:
            type: integer
        - description: Limit results to a particular postal code. Given a phone number, search within the same postal code as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InPostalCode
          schema:
            type: string
        - description: Limit results to a particular region, state, or province. Given a phone number, search within the same region as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InRegion
          schema:
            type: string
        - description: Limit results to a specific rate center, or given a phone number search within the same rate center as that number. Requires `in_lata` to be set as well. Applies to only phone numbers in the US and Canada.
          in: query
          name: InRateCenter
          schema:
            type: string
        - description: Limit results to a specific local access and transport area ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)). Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area) as that number. Applies to only phone numbers in the US and Canada.
          in: query
          name: InLata
          schema:
            type: string
        - description: Limit results to a particular locality or city. Given a phone number, search within the same Locality as that number.
          in: query
          name: InLocality
          schema:
            type: string
        - description: "Whether the phone numbers can receive faxes. Can be: `true` or `false`."
          in: query
          name: FaxEnabled
          schema:
            type: boolean
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  available_phone_numbers:
                    items:
                      $ref: "#/components/schemas/api.v2010.account.available_phone_number_country.available_phone_number_voip"
                    type: array
                  end:
                    type: integer
                  first_page_uri:
                    format: uri
                    type: string
                  next_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  page:
                    type: integer
                  page_size:
                    type: integer
                  previous_page_uri:
                    format: uri
                    nullable: true
                    type: string
                  start:
                    type: integer
                  uri:
                    format: uri
                    type: string
                title: ListAvailablePhoneNumberVoipResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
        - phone_number
        - region
        - beta
      parent: /Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json
      pathType: list
[...]
