swagger: '2.0'
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: Edge gateway operation endpoints and objects.
  title: FabricAdminClient
  version: '2016-05-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/stable/2016-05-01/EdgeGateway.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: azsadmin-EdgeGateway
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  EdgeGatewayParameter:
    description: name of the edge gateway.
    in: path
    name: edgeGateway
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/edgeGateways':
    get:
      description: Get a list of all edge gateways at a certain location.
      operationId: EdgeGateways_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - default: '2016-05-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: OData filter parameter.
          in: query
          name: $filter
          type: string
          x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/EdgeGatewayList'
      tags:
        - EdgeGateways
      x-ms-examples:
        List all edge gateways:
          parameters:
            api-version: '2016-05-01'
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/edgeGateways/AzS-Gwy01
                    location: local
                    name: AzS-Gwy01
                    properties:
                      availableCapacity: 100000000
                      numberOfConnections: 0
                      state: Passive
                      totalCapacity: 100000000
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/edgeGateways
      x-ms-odata: '#/definitions/EdgeGateway'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/edgeGateways/{edgeGateway}':
    get:
      description: Get an edge gateway by name.
      operationId: EdgeGateways_Get
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/EdgeGatewayParameter'
        - default: '2016-05-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/EdgeGateway'
      tags:
        - EdgeGateways
      x-ms-examples:
        Get an edge gateway:
          parameters:
            api-version: '2016-05-01'
            edgeGateway: AzS-Gwy01
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/edgeGateways/AzS-Gwy01
                location: local
                name: AzS-Gwy01
                properties:
                  availableCapacity: 100000000
                  numberOfConnections: 0
                  state: Passive
                  totalCapacity: 100000000
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations/edgeGateways
definitions:
  EdgeGateway:
    allOf:
      - description: Base Resource Object
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: Region Location of resource.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: 'This resource represents a gateway, which provides the configuration needed to provide gateway services to virtual networks.'
    properties:
      properties:
        $ref: '#/definitions/EdgeGatewayModel'
        description: Model which holds information related to edge gateways.
        x-ms-client-flatten: true
    type: object
  EdgeGatewayList:
    description: Pageable list of edge gateways.
    properties:
      nextLink:
        description: URI to the next page.
        type: string
      value:
        description: Array of edge gateways.
        items:
          $ref: '#/definitions/EdgeGateway'
        type: array
    type: object
  EdgeGatewayModel:
    description: Model which holds information related to edge gateways.
    properties:
      availableCapacity:
        description: The available network capacity.
        format: int64
        type: integer
      numberOfConnections:
        description: The current number of connections.
        format: int32
        type: integer
      state:
        description: The current state of the edge gateway.
        type: string
      totalCapacity:
        description: The total network capacity.
        format: int64
        type: integer
    type: object
