openapi: 3.0.1
servers:
  - url: https://app.orbit.love/api/v1
info:
  description: Please see the complete Orbit API documentation at [https://docs.orbit.love/reference](https://docs.orbit.love/reference).
  title: Orbit API
  version: v1
  x-apisguru-categories:
    - customer_relation
  x-logo:
    url: https://avatars.githubusercontent.com/u/55637052?s=200&v=4
  x-origin:
    - format: openapi
      url: https://app.orbit.love/api-docs/v1/swagger.json
      version: "3.0"
  x-providerName: orbit.love
tags:
  - name: Activity Types
  - name: Activities
  - name: Members
  - name: Notes
  - name: Reports
  - name: Users
  - name: Workspaces
paths:
  /user:
    get:
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    created_at: 2021-08-06T15:25:41.197Z
                    email: branden@fisherschneider.net
                    name: AnnisRutherfordV
                    updated_at: 2021-08-06T15:25:41.197Z
                  id: "16"
                  type: user
          description: success
      security:
        - bearer: []
      summary: Get info about the current user
      tags:
        - Users
  /workspaces:
    get:
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      created_at: 2021-08-06T15:25:54.697Z
                      name: Fake Workspace
                      slug: fake-workspace
                      updated_at: 2021-08-06T15:25:54.711Z
                    id: "107"
                    relationships:
                      repositories:
                        data: []
                    type: workspace
                included: []
          description: success
      security:
        - bearer: []
      summary: Get all workspaces for the current user
      tags:
        - Workspaces
  "/workspaces/{workspace_id}":
    get:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    activities_count: 1
                    created_at: 2021-08-06T15:25:54.793Z
                    members_count: 1
                    name: Fake Workspace
                    slug: fake-workspace
                    tags: {}
                    updated_at: 2021-08-06T15:25:55.004Z
                  id: "108"
                  relationships:
                    last_activity:
                      data:
                        id: "38"
                        type: activity
                    last_member:
                      data:
                        id: "55"
                        type: member
                    repositories:
                      data: []
                  type: workspace
                included:
                  - attributes:
                      activities_count: 1
                      avatar_url: http://github.com/avatar.png
                      bio: null
                      birthday: null
                      company: null
                      created: false
                      created_at: 2021-08-06T15:25:54.986Z
                      deleted_at: null
                      devto: null
                      discord: null
                      discourse: null
                      email: null
                      first_activity_occurred_at: 2021-08-06T15:25:54.960Z
                      github: null
                      github_followers: null
                      id: 55
                      languages: null
                      last_activity_occurred_at: 2021-08-06T15:25:54.960Z
                      linkedin: null
                      location: null
                      love: null
                      merged_at: null
                      name: ElianaLind
                      orbit_level: null
                      orbit_url: http://localhost:3000/fake-workspace/members/elianalind
                      pronouns: null
                      reach: 0
                      shipping_address: null
                      slug: elianalind
                      source: installation
                      tag_list: []
                      tags: []
                      teammate: false
                      title: null
                      topics: null
                      tshirt: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2021-08-06T15:25:55.002Z
                      url: null
                    id: "55"
                    relationships:
                      identities:
                        data: []
                    type: member
                  - attributes:
                      action: opened
                      activity_link: https://github.com/
                      created_at: 2021-08-06T15:25:54.988Z
                      key: debbraschultz/gilbert#70
                      occurred_at: 2021-08-06T15:25:54.960Z
                      orbit_url: http://localhost:3000/fake-workspace/activities/38
                      tags:
                        - channel:github
                        - github_organization:debbraschultz
                        - github_repository:debbraschultz/gilbert
                        - github_pull_request:debbraschultz/gilbert/#70
                      type: PullRequestActivity
                      updated_at: 2021-08-06T15:25:54.988Z
                      weight: "1.0"
                    id: "38"
                    relationships:
                      activity_type:
                        data:
                          id: "69"
                          type: activity_type
                      member:
                        data:
                          id: "55"
                          type: member
                      repository:
                        data:
                          id: "7"
                          type: repository
                    type: activity
          description: success
      security:
        - bearer: []
      summary: Get a workspace
      tags:
        - Workspaces
  "/{workspace_id}/activities":
    get:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: query
          name: activity_tags
          schema:
            type: string
        - in: query
          name: affiliation
          schema:
            enum:
              - member
              - teammate
            type: string
        - in: query
          name: member_tags
          schema:
            type: string
        - in: query
          name: orbit_level
          schema:
            enum:
              - "1"
              - "2"
              - "3"
              - "4"
              - n
            type: string
        - in: query
          name: activity_type
          schema:
            enum:
              - discord:message:sent
              - slack:thread:replied
              - discord:message:replied
              - tweet:sent
              - twitter:followed
              - discord:server:joined
              - discourse:topic:created
              - discourse:post:created
              - slack:message:sent
              - note:created
              - post:created
              - issues:opened
              - issue_comment:created
              - pull_requests:opened
              - pull_requests:merged
              - custom:happened
              - slack:channel:joined
              - star:created
            type: string
        - in: query
          name: weight
          schema:
            type: string
        - in: query
          name: identity
          schema:
            enum:
              - github
              - twitter
              - email
              - discourse
              - linkedin
              - devto
              - slack
              - discord
            type: string
        - in: query
          name: location
          schema:
            type: string
        - in: query
          name: company
          schema:
            type: string
        - in: query
          name: start_date
          schema:
            type: string
        - in: query
          name: end_date
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: direction
          schema:
            enum:
              - ASC
              - DESC
            type: string
        - in: query
          name: items
          schema:
            enum:
              - "10"
              - "50"
              - "100"
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - occurred_at
              - member
            type: string
        - in: query
          name: type
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      action: spec_action
                      created_at: 2021-08-06T15:25:42.732Z
                      key: spec_activity_key:2
                      occurred_at: 2021-08-06T15:25:42.730Z
                      orbit_url: http://localhost:3000/yoshikolittel/activities/7
                      tags:
                        - spec-tag-1
                        - spec-tag-2
                      type: SpecActivity
                      updated_at: 2021-08-06T15:25:42.732Z
                      weight: "1.0"
                    id: "7"
                    relationships:
                      activity_type:
                        data:
                          id: "43"
                          type: activity_type
                      member:
                        data:
                          id: "4"
                          type: member
                    type: spec_activity
                included:
                  - attributes:
                      channel: spec_channel
                      key: spec:activity
                      name: Did spec activity
                      short_name: Spec Channel
                      weight: "1.0"
                    id: "43"
                    type: activity_type
                  - attributes:
                      activities_count: 2
                      avatar_url: http://github.com/avatar.png
                      bio: null
                      birthday: null
                      company: null
                      created: false
                      created_at: 2021-08-06T15:25:42.704Z
                      deleted_at: null
                      devto: null
                      discord: null
                      discourse: null
                      email: null
                      first_activity_occurred_at: 2021-08-06T15:25:42.730Z
                      github: null
                      github_followers: null
                      id: 4
                      languages: null
                      last_activity_occurred_at: 2021-08-06T15:25:42.766Z
                      linkedin: null
                      location: null
                      love: null
                      merged_at: null
                      name: MissLolaRenner
                      orbit_level: null
                      orbit_url: http://localhost:3000/yoshikolittel/members/misslolarenner
                      pronouns: null
                      reach: 0
                      shipping_address: null
                      slug: misslolarenner
                      source: installation
                      tag_list:
                        - ruby
                      tags:
                        - ruby
                      teammate: false
                      title: null
                      topics: null
                      tshirt: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2021-08-06T15:25:42.777Z
                      url: null
                    id: "4"
                    relationships:
                      identities:
                        data: []
                    type: member
                links:
                  first: http://localhost:3000/api/v1/yoshikolittel/activities?activity_tags=&activity_type=spec%3Aactivity&affiliation=&company=&direction=DESC&end_date=&filters=true&identity=&items=10&location=&member_tags=&page=1&sort=occurred_at&start_date=&weight=
                  next: null
                  prev: null
          description: success
      security:
        - bearer: []
      summary: List activities for a workspace
      tags:
        - Activities
    post:
      description: Use this method when you know an identity of the member (github, email, twitter, etc.) but not their Orbit ID. Pass fields in the member object to update the member in addition to creating the activity.
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/activity_and_identity"
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  attributes:
                    action: happened
                    created_at: 2021-08-06T15:25:44.853Z
                    custom_description: More info about the thing
                    custom_link: http://link.com/
                    custom_link_text: See the thing
                    custom_title: Did a thing
                    custom_type: custom-type
                    key: thing-123
                    occurred_at: 2021-08-06T15:25:44.828Z
                    orbit_url: http://localhost:3000/corinnaziemedvm/activities/13
                    tags:
                      - product
                      - enterprise
                      - channel:custom
                      - custom_type:custom-type
                      - custom_title:did-a-thing
                    type: CustomActivity
                    updated_at: 2021-08-06T15:25:44.853Z
                    weight: "0.2"
                  id: "13"
                  relationships:
                    activity_type:
                      data:
                        id: "8"
                        type: activity_type
                    member:
                      data:
                        id: "9"
                        type: member
                    user:
                      data:
                        id: "47"
                        type: user
                  type: custom_activity
                included:
                  - attributes:
                      channel: custom
                      key: custom:happened
                      name: Something happened
                      short_name: Custom
                      weight: "1.0"
                    id: "8"
                    type: activity_type
                  - attributes:
                      email: josh@orbit.love
                      name: josh
                      source: email
                      source_host: email.host
                      uid: josh@orbit.love
                      username: null
                    id: "7"
                    type: email_identity
                  - attributes:
                      email: null
                      name: Josh Dzielak
                      source: twitter
                      source_host: twitter.com
                      uid: "45297280"
                      username: dzello
                    id: "8"
                    type: twitter_identity
                  - attributes:
                      email: null
                      name: null
                      source: github
                      source_host: github.com
                      uid: null
                      username: dzello
                    id: "9"
                    type: github_identity
                  - attributes:
                      email: null
                      name: null
                      source: linkedin
                      source_host: linkedin.com
                      uid: null
                      username: dzello
                    id: "10"
                    type: linkedin_identity
                  - attributes:
                      activities_count: 0
                      avatar_url: https://d1ts43dypk8bqh.cloudfront.net/v1/avatars/6ea4f872-04b6-4752-8a90-db508525135a
                      bio: "Co-founder & CTO @OrbitModel - we're hiring! · advocate for dev advocates 🥑 · Rails · JAMstack · DevRel · he/him · #BlackLivesMatter"
                      birthday: null
                      company: Orbit
                      created: true
                      created_at: 2021-08-06T15:25:44.746Z
                      deleted_at: null
                      devto: null
                      discord: null
                      discourse: null
                      email: josh@orbit.love
                      first_activity_occurred_at: 2021-08-06T15:25:44.828Z
                      github: dzello
                      github_followers: null
                      id: 9
                      languages: null
                      last_activity_occurred_at: 2021-08-06T15:25:44.828Z
                      linkedin: dzello
                      location: Paris, Île-de-France, FR
                      love: null
                      merged_at: null
                      name: Josh Dzielak
                      orbit_level: null
                      orbit_url: http://localhost:3000/corinnaziemedvm/members/dzello
                      pronouns: null
                      reach: 8
                      shipping_address: null
                      slug: dzello
                      source: api
                      tag_list:
                        - one
                        - two
                      tags:
                        - one
                        - two
                      teammate: false
                      title: null
                      topics: null
                      tshirt: null
                      twitter: dzello
                      twitter_followers: 4598
                      updated_at: 2021-08-06T15:25:44.864Z
                      url: https://orbit.love/
                    id: "9"
                    relationships:
                      identities:
                        data:
                          - id: "7"
                            type: email_identity
                          - id: "8"
                            type: twitter_identity
                          - id: "9"
                            type: github_identity
                          - id: "10"
                            type: linkedin_identity
                    type: member
                  - attributes:
                      created_at: 2021-08-06T15:25:44.532Z
                      name: ShawnAuer
                      updated_at: 2021-08-06T15:25:44.548Z
                    id: "47"
                    type: user
          description: success
        "422":
          content:
            application/json:
              example:
                errors:
                  base:
                    - Either identity or member name, email, GitHub, Twitter or Discourse is required
                  email:
                    - is invalid
                  name:
                    - is too long (maximum is 250 characters)
                  workspace:
                    - has blocked this identity
          description: unprocessible
      security:
        - bearer: []
      summary: Create a Custom or a Content activity for a new or existing member
      tags:
        - Activities
  "/{workspace_id}/activities/{id}":
    get:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    action: spec_action
                    created_at: 2021-08-06T15:25:42.952Z
                    key: clé
                    occurred_at: 2021-08-06T15:25:42.941Z
                    orbit_url: http://localhost:3000/kayewillms/activities/9
                    tags:
                      - spec-tag-1
                      - spec-tag-2
                    type: SpecActivity
                    updated_at: 2021-08-06T15:25:42.952Z
                    weight: "1.0"
                  id: "9"
                  relationships:
                    activity_type:
                      data:
                        id: "45"
                        type: activity_type
                    member:
                      data:
                        id: "5"
                        type: member
                    repository:
                      data:
                        id: "6"
                        type: repository
                    user:
                      data:
                        id: "35"
                        type: user
                  type: spec_activity
                included:
                  - attributes:
                      channel: spec_channel
                      key: spec:happened:21
                      name: Did spec activity
                      short_name: Spec Channel
                      weight: "1.0"
                    id: "45"
                    type: activity_type
                  - attributes:
                      activities_count: 1
                      avatar_url: http://github.com/avatar.png
                      bio: null
                      birthday: null
                      company: null
                      created: false
                      created_at: 2021-08-06T15:25:42.949Z
                      deleted_at: null
                      devto: null
                      discord: null
                      discourse: null
                      email: null
                      first_activity_occurred_at: 2021-08-06T15:25:42.941Z
                      github: null
                      github_followers: null
                      id: 5
                      languages: null
                      last_activity_occurred_at: 2021-08-06T15:25:42.941Z
                      linkedin: null
                      location: null
                      love: null
                      merged_at: null
                      name: MendyRatke
                      orbit_level: null
                      orbit_url: http://localhost:3000/kayewillms/members/mendyratke
                      pronouns: null
                      reach: 0
                      shipping_address: null
                      slug: mendyratke
                      source: installation
                      tag_list: []
                      tags: []
                      teammate: false
                      title: null
                      topics: null
                      tshirt: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2021-08-06T15:25:42.963Z
                      url: null
                    id: "5"
                    relationships:
                      identities:
                        data: []
                    type: member
                  - attributes:
                      created_at: 2021-08-06T15:25:42.915Z
                      full_name: claude/jeannette
                      name: jeannette
                      owner: claude
                      updated_at: 2021-08-06T15:25:42.915Z
                    id: "6"
                    type: repository
                  - attributes:
                      created_at: 2021-08-06T15:25:42.897Z
                      name: RowenaHarberI
                      updated_at: 2021-08-06T15:25:42.897Z
                    id: "35"
                    type: user
          description: success
      security:
        - bearer: []
      summary: Get an activity in the workspace
      tags:
        - Activities
  "/{workspace_id}/activity_types":
    get:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      channel: content
                      key: post_created
                      name: Created content
                      short_name: Content created
                      weight: "7.0"
                    id: "46"
                    type: activity_type
                  - attributes:
                      channel: product
                      key: activated_accountd
                      name: Activated their account on product
                      short_name: Activated account
                      weight: "4.0"
                    id: "47"
                    type: activity_type
                links:
                  first: /louannswaniawski/activity_types?page=1
                  last: /louannswaniawski/activity_types?page=1
                  next: null
                  prev: null
          description: success
      security:
        - bearer: []
      summary: List all activity types for a workspace
      tags:
        - Activity Types
  "/{workspace_id}/members":
    get:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: query
          name: activity_tags
          schema:
            type: string
        - in: query
          name: affiliation
          schema:
            enum:
              - member
              - teammate
            type: string
        - in: query
          name: member_tags
          schema:
            type: string
        - in: query
          name: orbit_level
          schema:
            enum:
              - "1"
              - "2"
              - "3"
              - "4"
              - n
            type: string
        - in: query
          name: activity_type
          schema:
            enum:
              - discord:message:sent
              - slack:thread:replied
              - discord:message:replied
              - tweet:sent
              - twitter:followed
              - discord:server:joined
              - discourse:topic:created
              - discourse:post:created
              - slack:message:sent
              - note:created
              - post:created
              - issues:opened
              - issue_comment:created
              - pull_requests:opened
              - pull_requests:merged
              - custom:happened
              - slack:channel:joined
              - star:created
            type: string
        - in: query
          name: weight
          schema:
            type: string
        - in: query
          name: identity
          schema:
            enum:
              - github
              - twitter
              - email
              - discourse
              - linkedin
              - devto
              - slack
              - discord
            type: string
        - in: query
          name: location
          schema:
            type: string
        - in: query
          name: company
          schema:
            type: string
        - in: query
          name: start_date
          schema:
            type: string
        - in: query
          name: end_date
          schema:
            type: string
        - in: query
          name: query
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: direction
          schema:
            enum:
              - ASC
              - DESC
            type: string
        - in: query
          name: items
          schema:
            enum:
              - "10"
              - "50"
              - "100"
            type: string
        - in: query
          name: activities_count_min
          schema:
            type: string
        - in: query
          name: activities_count_max
          schema:
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - activities_count
              - company
              - created_at
              - first_activity
              - github_followers
              - id
              - last_activity
              - location
              - love
              - name
              - orbit
              - reach
              - title
              - twitter_followers
              - updated_at
            type: string
        - in: query
          name: type
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      activities_count: 1
                      avatar_url: http://github.com/avatar.png
                      bio: null
                      birthday: null
                      company: null
                      created: false
                      created_at: 2021-08-06T15:25:48.477Z
                      deleted_at: null
                      devto: null
                      discord: null
                      discourse: null
                      email: null
                      first_activity_occurred_at: 2021-08-05T15:25:48.513Z
                      github: null
                      github_followers: null
                      id: 30
                      languages: null
                      last_activity_occurred_at: 2021-08-05T15:25:48.513Z
                      linkedin: null
                      location: null
                      love: null
                      merged_at: null
                      name: Josh
                      orbit_level: null
                      orbit_url: http://localhost:3000/mimidietrich/members/josh
                      pronouns: null
                      reach: 0
                      shipping_address: null
                      slug: josh
                      source: installation
                      tag_list:
                        - ruby
                      tags:
                        - ruby
                      teammate: false
                      title: null
                      topics: null
                      tshirt: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2021-08-06T15:25:48.542Z
                      url: null
                    id: "30"
                    relationships:
                      identities:
                        data:
                          - id: "19"
                            type: spec_identity
                    type: member
                included:
                  - id: "19"
                    type: spec_identity
                links:
                  first: http://localhost:3000/api/v1/mimidietrich/members?activities_count_max=99&activities_count_min=1&activity_tags=&activity_type=&affiliation=&company=&direction=&end_date=&filters=true&identity=&items=10&location=&member_tags=&page=1&query=Josh&sort=&start_date=&weight=
                  next: null
                  prev: null
          description: success
      security:
        - bearer: []
      summary: List members in a workspace
      tags:
        - Members
    post:
      description: This method is useful when you know a member's identity in another system and want to create or update the corresponding Orbit member. Identities can be specified in the identity object or member attributes like member.github. If no member exists, a new member will be created and linked to any provided identities.
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/member_and_identity"
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    activities_count: 0
                    avatar_url: http://github.com/avatar.png
                    bio: Co-founder & CTO @orbit-love · Developer Advocate · formerly @algolia and @keen
                    birthday: null
                    company: "@orbit-love"
                    created: false
                    created_at: 2021-08-06T15:25:51.018Z
                    deleted_at: null
                    devto: null
                    discord: null
                    discourse: null
                    email: null
                    first_activity_occurred_at: null
                    github: dzello
                    github_followers: 171
                    id: 41
                    languages: null
                    last_activity_occurred_at: null
                    linkedin: null
                    location: Paris
                    love: null
                    merged_at: null
                    name: BruceStroman
                    orbit_level: null
                    orbit_url: http://localhost:3000/caseybechtelar/members/brucestroman
                    pronouns: null
                    reach: 8
                    shipping_address: null
                    slug: brucestroman
                    source: api
                    tag_list:
                      - one
                      - two
                    tags:
                      - one
                      - two
                    teammate: false
                    title: null
                    topics: null
                    tshirt: null
                    twitter: dzello
                    twitter_followers: null
                    updated_at: 2021-08-06T15:25:51.250Z
                    url: https://dzello.com/
                  id: "41"
                  relationships:
                    identities:
                      data:
                        - id: "28"
                          type: twitter_identity
                        - id: "30"
                          type: github_identity
                  type: member
                included:
                  - attributes:
                      email: null
                      name: null
                      source: twitter
                      source_host: twitter.com
                      uid: uid-14
                      username: dzello
                    id: "28"
                    type: twitter_identity
                  - attributes:
                      email: null
                      name: Josh Dzielak
                      source: github
                      source_host: github.com
                      uid: "174777"
                      username: dzello
                    id: "30"
                    type: github_identity
          description: success
        "201":
          content:
            application/json:
              example:
                data:
                  attributes:
                    activities_count: 0
                    avatar_url: https://avatars2.githubusercontent.com/u/174777?u=79e423dd07c19122115f52a1c97727ca193e6253&v=4
                    bio: Co-founder & CTO @orbit-love · Developer Advocate · formerly @algolia and @keen
                    birthday: null
                    company: "@orbit-love"
                    created: true
                    created_at: 2021-08-06T15:25:53.197Z
                    deleted_at: null
                    devto: null
                    discord: null
                    discourse: null
                    email: josh@orbit.love
                    first_activity_occurred_at: null
                    github: dzello
                    github_followers: 171
                    id: 50
                    languages: null
                    last_activity_occurred_at: null
                    linkedin: null
                    location: Paris
                    love: null
                    merged_at: null
                    name: Josh Dzielak
                    orbit_level: null
                    orbit_url: http://localhost:3000/senanader/members/dzello
                    pronouns: null
                    reach: 8
                    shipping_address: null
                    slug: dzello
                    source: api
                    tag_list: []
                    tags: []
                    teammate: false
                    title: null
                    topics: null
                    tshirt: null
                    twitter: dzello
                    twitter_followers: null
                    updated_at: 2021-08-06T15:25:53.250Z
                    url: https://dzello.com/
                  id: "50"
                  relationships:
                    identities:
                      data:
                        - id: "49"
                          type: github_identity
                        - id: "50"
                          type: twitter_identity
                        - id: "51"
                          type: email_identity
                  type: member
                included:
                  - attributes:
                      email: null
                      name: Josh Dzielak
                      source: github
                      source_host: github.com
                      uid: "174777"
                      username: dzello
                    id: "49"
                    type: github_identity
                  - attributes:
                      email: null
                      name: null
                      source: twitter
                      source_host: twitter.com
                      uid: null
                      username: dzello
                    id: "50"
                    type: twitter_identity
                  - attributes:
                      email: josh@orbit.love
                      name: josh
                      source: email
                      source_host: email.host
                      uid: josh@orbit.love
                      username: null
                    id: "51"
                    type: email_identity
          description: created
        "422":
          content:
            application/json:
              example:
                errors:
                  base:
                    - Either identity or member name, email, GitHub, Twitter or Discourse is required
                  email:
                    - is invalid
                  name:
                    - can't be blank
                  workspace:
                    - has blocked this identity
          description: unprocessable
      security:
        - bearer: []
      summary: Create or update a member
      tags:
        - Members
  "/{workspace_id}/members/find":
    get:
      description: Provide a source and one of username/uid/email params to return a member with that identity, if one exists. Common values for source include github, twitter, and email.
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: query
          name: source
          schema:
            type: string
        - in: query
          name: source_host
          schema:
            type: string
        - in: query
          name: uid
          schema:
            type: string
        - in: query
          name: username
          schema:
            type: string
        - in: query
          name: email
          schema:
            type: string
        - description: Deprecated, please use source=github and username=<username> instead
          in: query
          name: github
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    activities_count: 0
                    avatar_url: http://github.com/avatar.png
                    bio: null
                    birthday: null
                    company: null
                    created: false
                    created_at: 2021-08-06T15:25:53.707Z
                    deleted_at: null
                    devto: null
                    discord: null
                    discourse: null
                    email: null
                    first_activity_occurred_at: null
                    github: dzello
                    github_followers: null
                    id: 52
                    languages: null
                    last_activity_occurred_at: null
                    linkedin: null
                    location: null
                    love: null
                    merged_at: null
                    name: MsSalvadorFranecki
                    orbit_level: null
                    orbit_url: http://localhost:3000/dorianjohnson/members/mssalvadorfranecki
                    pronouns: null
                    reach: 0
                    shipping_address: null
                    slug: mssalvadorfranecki
                    source: installation
                    tag_list: []
                    tags: []
                    teammate: false
                    title: null
                    topics: null
                    tshirt: null
                    twitter: null
                    twitter_followers: null
                    updated_at: 2021-08-06T15:25:53.707Z
                    url: null
                  id: "52"
                  relationships:
                    identities:
                      data:
                        - id: "54"
                          type: github_identity
                  type: member
                included:
                  - attributes:
                      email: null
                      name: null
                      source: github
                      source_host: github.com
                      uid: uid-18
                      username: dzello
                    id: "54"
                    type: github_identity
          description: success
        "404":
          content:
            application/json:
              example:
                errors: No member matching this identity was found
          description: Not found
      security:
        - bearer: []
      summary: Find a member by an identity
      tags:
        - Members
  "/{workspace_id}/members/{id}":
    delete:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: member deleted
      security:
        - bearer: []
      summary: Delete a member
      tags:
        - Members
    get:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    activities_count: 0
                    avatar_url: http://github.com/avatar.png
                    bio: null
                    birthday: null
                    company: null
                    created: false
                    created_at: 2021-08-06T15:25:48.735Z
                    deleted_at: null
                    devto: null
                    discord: null
                    discourse: null
                    email: null
                    first_activity_occurred_at: null
                    github: null
                    github_followers: null
                    id: 32
                    languages: null
                    last_activity_occurred_at: null
                    linkedin: null
                    location: null
                    love: null
                    merged_at: null
                    name: Josh
                    orbit_level: null
                    orbit_url: http://localhost:3000/perlahagenes/members/josh
                    pronouns: null
                    reach: 0
                    shipping_address: null
                    slug: josh
                    source: installation
                    tag_list: []
                    tags: []
                    teammate: false
                    title: null
                    topics: null
                    tshirt: null
                    twitter: null
                    twitter_followers: null
                    updated_at: 2021-08-06T15:25:48.735Z
                    url: null
                  id: "32"
                  relationships:
                    identities:
                      data:
                        - id: "21"
                          type: spec_identity
                  type: member
                included:
                  - id: "21"
                    type: spec_identity
          description: success
      security:
        - bearer: []
      summary: Get a member
      tags:
        - Members
    put:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/member"
      responses:
        "204":
          description: member updated
      security:
        - bearer: []
      summary: Update a member
      tags:
        - Members
  "/{workspace_id}/members/{member_id}/activities":
    get:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: member_id
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: direction
          schema:
            enum:
              - ASC
              - DESC
            type: string
        - in: query
          name: items
          schema:
            enum:
              - "10"
              - "50"
              - "100"
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - occurred_at
              - member
            type: string
        - in: query
          name: activity_type
          schema:
            type: string
        - in: query
          name: type
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      action: spec_action
                      created_at: 2021-08-06T15:25:45.407Z
                      key: spec_activity_key:6
                      occurred_at: 2021-08-06T15:25:45.405Z
                      orbit_url: http://localhost:3000/alvarobel/activities/18
                      tags:
                        - spec-tag-1
                        - spec-tag-2
                      type: SpecActivity
                      updated_at: 2021-08-06T15:25:45.407Z
                      weight: "1.0"
                    id: "18"
                    relationships:
                      activity_type:
                        data:
                          id: "52"
                          type: activity_type
                      member:
                        data:
                          id: "11"
                          type: member
                    type: spec_activity
                included:
                  - attributes:
                      channel: spec_channel
                      key: bar:activity
                      name: Did spec activity
                      short_name: Spec Channel
                      weight: "1.0"
                    id: "52"
                    type: activity_type
                  - attributes:
                      activities_count: 3
                      avatar_url: http://github.com/avatar.png
                      bio: null
                      birthday: null
                      company: null
                      created: false
                      created_at: 2021-08-06T15:25:45.292Z
                      deleted_at: null
                      devto: null
                      discord: null
                      discourse: null
                      email: null
                      first_activity_occurred_at: 2021-08-06T15:25:45.324Z
                      github: null
                      github_followers: null
                      id: 11
                      languages: null
                      last_activity_occurred_at: 2021-08-06T15:25:45.405Z
                      linkedin: null
                      location: null
                      love: null
                      merged_at: null
                      name: PearlieRoweDDS
                      orbit_level: null
                      orbit_url: http://localhost:3000/alvarobel/members/pearlierowedds
                      pronouns: null
                      reach: 0
                      shipping_address: null
                      slug: pearlierowedds
                      source: installation
                      tag_list: []
                      tags: []
                      teammate: false
                      title: null
                      topics: null
                      tshirt: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2021-08-06T15:25:45.414Z
                      url: null
                    id: "11"
                    relationships:
                      identities:
                        data: []
                    type: member
                links:
                  first: /alvarobel/members/pearlierowedds/activities?page=1&direction=DESC&items=10&sort=occurred_at&activity_type=bar%3Aactivity
                  last: /alvarobel/members/pearlierowedds/activities?page=1&direction=DESC&items=10&sort=occurred_at&activity_type=bar%3Aactivity
                  next: null
                  prev: null
          description: success
      security:
        - bearer: []
      summary: List activities for a member
      tags:
        - Activities
    post:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: member_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/custom_or_post_activity"
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  attributes:
                    action: happened
                    created_at: 2021-08-06T15:25:45.566Z
                    custom_description: More info about the thing
                    custom_link: http://link.com/
                    custom_link_text: See the thing
                    custom_title: Did a thing
                    custom_type: custom-type
                    key: thing-123
                    occurred_at: 2021-08-06T15:25:45.563Z
                    orbit_url: http://localhost:3000/katikassulkeii/activities/19
                    tags:
                      - product
                      - enterprise
                      - channel:custom
                      - custom_type:custom-type
                      - custom_title:did-a-thing
                    type: CustomActivity
                    updated_at: 2021-08-06T15:25:45.566Z
                    weight: "8.0"
                  id: "19"
                  relationships:
                    activity_type:
                      data:
                        id: "8"
                        type: activity_type
                    member:
                      data:
                        id: "12"
                        type: member
                    user:
                      data:
                        id: "56"
                        type: user
                  type: custom_activity
                included:
                  - attributes:
                      channel: custom
                      key: custom:happened
                      name: Something happened
                      short_name: Custom
                      weight: "1.0"
                    id: "8"
                    type: activity_type
                  - attributes:
                      activities_count: 0
                      avatar_url: http://github.com/avatar.png
                      bio: null
                      birthday: null
                      company: null
                      created: false
                      created_at: 2021-08-06T15:25:45.512Z
                      deleted_at: null
                      devto: null
                      discord: null
                      discourse: null
                      email: null
                      first_activity_occurred_at: 2021-08-06T15:25:45.563Z
                      github: null
                      github_followers: null
                      id: 12
                      languages: null
                      last_activity_occurred_at: 2021-08-06T15:25:45.563Z
                      linkedin: null
                      location: null
                      love: null
                      merged_at: null
                      name: DaleSchimmel
                      orbit_level: null
                      orbit_url: http://localhost:3000/katikassulkeii/members/daleschimmel
                      pronouns: null
                      reach: 0
                      shipping_address: null
                      slug: daleschimmel
                      source: installation
                      tag_list: []
                      tags: []
                      teammate: false
                      title: null
                      topics: null
                      tshirt: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2021-08-06T15:25:45.576Z
                      url: null
                    id: "12"
                    relationships:
                      identities:
                        data: []
                    type: member
                  - attributes:
                      created_at: 2021-08-06T15:25:45.501Z
                      name: TerryKessler
                      updated_at: 2021-08-06T15:25:45.506Z
                    id: "56"
                    type: user
          description: success
        "422":
          content:
            application/json:
              example:
                errors:
                  custom_title:
                    - can't be blank
          description: unprocessable entity
      security:
        - bearer: []
      summary: Create a Custom or a Content activity for a member
      tags:
        - Activities
  "/{workspace_id}/members/{member_id}/activities/{id}":
    delete:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: member_id
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: activity deleted
      security:
        - bearer: []
      summary: Delete a post activity
      tags:
        - Activities
    put:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: member_id
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/activity"
      responses:
        "204":
          description: activity updated
        "422":
          description: unprocessable entity
      security:
        - bearer: []
      summary: Update a custom activity for a member
      tags:
        - Activities
  "/{workspace_id}/members/{member_id}/identities":
    delete:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: member_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/identity"
      responses:
        "204":
          description: success; no content
        "422":
          content:
            application/json:
              example:
                errors:
                  identity:
                    - is not attached to this member
          description: identity is invalid or not attached to member
      security:
        - bearer: []
      summary: Remove identity from a member
      tags:
        - Members
    post:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: member_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/identity"
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  attributes:
                    email: josh@orbit.love
                    name: Josh
                    source: twitch
                    source_host: twitch.tv
                    uid: "12345"
                    username: dzello1
                  id: "12"
                  type: other_identity
          description: success
        "422":
          content:
            application/json:
              example:
                errors:
                  identity_id:
                    - has already been taken
                  source:
                    - can't be blank
                  username_or_email:
                    - must be present
          description: identity is invalid
      security:
        - bearer: []
      summary: Add identity to a member
      tags:
        - Members
  "/{workspace_id}/members/{member_id}/notes":
    get:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: member_id
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      body: heyo
                      created_at: 2021-08-06T15:25:47.502Z
                      updated_at: 2021-08-06T15:25:47.502Z
                    id: "2"
                    relationships:
                      member:
                        data:
                          id: "24"
                          type: member
                      user:
                        data:
                          id: "73"
                          type: user
                    type: note
                included:
                  - attributes:
                      activities_count: 1
                      avatar_url: http://github.com/avatar.png
                      bio: null
                      birthday: null
                      company: null
                      created: false
                      created_at: 2021-08-06T15:25:47.469Z
                      deleted_at: null
                      devto: null
                      discord: null
                      discourse: null
                      email: null
                      first_activity_occurred_at: null
                      github: null
                      github_followers: null
                      id: 24
                      languages: null
                      last_activity_occurred_at: null
                      linkedin: null
                      location: null
                      love: null
                      merged_at: null
                      name: SebastianGutmann
                      orbit_level: null
                      orbit_url: http://localhost:3000/estellazieme/members/sebastiangutmann
                      pronouns: null
                      reach: 0
                      shipping_address: null
                      slug: sebastiangutmann
                      source: installation
                      tag_list: []
                      tags: []
                      teammate: false
                      title: null
                      topics: null
                      tshirt: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2021-08-06T15:25:47.469Z
                      url: null
                    id: "24"
                    relationships:
                      identities:
                        data: []
                    type: member
                  - attributes:
                      created_at: 2021-08-06T15:25:47.487Z
                      name: KaleighHomenick
                      updated_at: 2021-08-06T15:25:47.487Z
                    id: "73"
                    type: user
                links:
                  first: /estellazieme/members/sebastiangutmann/notes?page=1
                  last: /estellazieme/members/sebastiangutmann/notes?page=1
                  next: null
                  prev: null
          description: success
      security:
        - bearer: []
      summary: Get the member's notes
      tags:
        - Notes
    post:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: member_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/note"
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  attributes:
                    body: heyo
                    created_at: 2021-08-06T15:25:47.249Z
                    updated_at: 2021-08-06T15:25:47.249Z
                  id: "1"
                  relationships:
                    member:
                      data:
                        id: "23"
                        type: member
                    user:
                      data:
                        id: "71"
                        type: user
                  type: note
          description: note created
      security:
        - bearer: []
      summary: Create a note
      tags:
        - Notes
  "/{workspace_id}/members/{member_id}/notes/{id}":
    put:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: member_id
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/note"
      responses:
        "204":
          description: note updated
      security:
        - bearer: []
      summary: Update a note
      tags:
        - Notes
  "/{workspace_id}/reports":
    get:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: query
          name: start_date
          schema:
            type: string
        - in: query
          name: end_date
          schema:
            type: string
        - in: query
          name: group
          schema:
            type: string
        - in: query
          name: activity_type
          schema:
            type: string
        - in: query
          name: type
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    activities:
                      foo:activity:
                        channel: spec_channel
                        count: 1
                        delta: 1
                        members:
                          active_count: 1
                          active_delta: 1
                          new_count: 1
                          new_delta: 1
                          returning_count: 0
                          returning_delta: 0
                      spec:activity:
                        channel: spec_channel
                        count: 0
                        delta: 0
                        members:
                          active_count: 0
                          active_delta: 0
                          new_count: 0
                          new_delta: 0
                          returning_count: 0
                          returning_delta: 0
                      total_count: 1
                      total_delta: 1
                    members:
                      active_count: 1
                      active_delta: 1
                      new_count: 1
                      new_delta: 1
                      returning_count: 0
                      returning_delta: 0
                    overview:
                      members_on_orbit_level_1_count: 0
                      members_on_orbit_level_2_count: 0
                      members_on_orbit_level_3_count: 0
                      members_on_orbit_level_4_count: 0
                      members_on_orbit_level_none_count: 1
                      total_members_count: 1
                    timeframe:
                      end_date: 2021-08-06
                      end_date_last: 2021-07-06
                      start_date: 2021-07-06
                      start_date_last: 2021-06-05
                    workspace_id: 103
                  id: "103"
                  type: statistics
          description: success
      security:
        - bearer: []
      summary: Get a workspace stats
      tags:
        - Reports
components:
  schemas:
    activity:
      properties:
        activity_type:
          description: The type of activity - what action was done by the member
          type: string
        description:
          description: A description of the activity; displayed in the timeline
          type: string
        key:
          description: Supply a key that must be unique or leave blank to have one generated.
          type: string
        link:
          description: A URL for the activity; displayed in the timeline
          type: string
        link_text:
          description: The text for the timeline link
          type: string
        occurred_at:
          description: The date and time the activity occurred; defaults to now
          type: string
        tags:
          description: "[EXPERIMENTAL] Capture facets of the activity to group by later e.g. locations or channels; replaces existing value"
          items:
            type: string
          type: array
        title:
          description: A title for the activity; displayed in the timeline
          type: string
        weight:
          description: A custom weight to be used in filters and reports; defaults to 1.
          type: string
      required:
        - title
      title: Custom Activity
      type: object
    activity_and_identity:
      properties:
        activity:
          oneOf:
            - $ref: "#/components/schemas/activity_with_member"
            - $ref: "#/components/schemas/post_activity_with_member"
        identity:
          $ref: "#/components/schemas/identity"
      type: object
    activity_with_member:
      allOf:
        - $ref: "#/components/schemas/activity"
        - properties:
            member:
              $ref: "#/components/schemas/member"
          type: object
      title: Custom Activity
    custom_or_post_activity:
      oneOf:
        - $ref: "#/components/schemas/activity"
        - $ref: "#/components/schemas/post_activity"
    identity:
      description: Represents an email address, a profile on networks like github and twitter, or a record in another system.
      properties:
        email:
          description: The email of the person in the source system
          type: string
        name:
          description: The name of the person in the source system
          type: string
        source:
          description: "The type of source: known values include github, twitter, discourse, email, linkedin, devto. Custom values can also be used"
          type: string
        source_host:
          description: Specifies the location of the source, such as the host of a Discourse instance
          type: string
        uid:
          description: The uid of the person in the source system
          type: string
        url:
          description: For custom identities, an optional link to the profile on the source system
          type: string
        username:
          description: The username of the person in the source system
          type: string
      required:
        - source
      type: object
    member:
      properties:
        bio:
          type: string
        birthday:
          type: string
        company:
          type: string
        devto:
          description: The member's dev.to username
          type: string
        email:
          description: The member's email
          type: string
        github:
          description: The member's GitHub username
          type: string
        linkedin:
          description: The member's LinkedIn username, without the in/ or pub/
          type: string
        location:
          type: string
        name:
          type: string
        pronouns:
          type: string
        shipping_address:
          type: string
        slug:
          type: string
        tag_list:
          description: "Deprecated: Please use the tags attribute instead"
          type: string
        tags:
          description: Replaces all tags for the member; comma-separated string or array
          type: string
        tags_to_add:
          description: Adds tags to member; comma-separated string or array
          type: string
        teammate:
          type: boolean
        title:
          type: string
        tshirt:
          type: string
        twitter:
          description: The member's Twitter username
          type: string
        url:
          type: string
      type: object
    member_and_identity:
      properties:
        identity:
          $ref: "#/components/schemas/identity"
        member:
          $ref: "#/components/schemas/member"
      type: object
    note:
      properties:
        body:
          type: string
      required:
        - body
      type: object
    post_activity:
      properties:
        activity_type:
          enum:
            - content
          type: string
        occurred_at:
          description: The date and time at which the content was published; defaults to now
          type: string
        url:
          description: The url representing the post
          type: string
      required:
        - url
        - activity_type
      title: Content Activity
      type: object
    post_activity_with_member:
      allOf:
        - $ref: "#/components/schemas/post_activity"
        - properties:
            member:
              $ref: "#/components/schemas/member"
          type: object
      title: Content Activity
  securitySchemes:
    api_key:
      description: Provide the API key in a query param called api_key. This is the least secure method, please use only for testing.
      in: query
      name: api_key
      type: apiKey
    bearer:
      description: Provide a Authorization header with format 'Bearer <api_key>'. This is the recommended approach. Make sure to include the 'Bearer' part in the text box here.
      in: header
      name: Authorization
      type: apiKey
