openapi: 3.0.1
servers:
  - url: https://app.orbit.love/api/v1
info:
  description: Please see the complete Orbit API documentation at [https://docs.orbit.love/reference](https://docs.orbit.love/reference).
  title: Orbit API
  version: v1
  x-apisguru-categories:
    - customer_relation
  x-logo:
    url: https://avatars.githubusercontent.com/u/55637052?s=200&v=4
  x-origin:
    - format: openapi
      url: https://app.orbit.love/api-docs/v1/swagger.json
      version: "3.0"
  x-providerName: orbit.love
tags:
  - name: Activity Types
  - name: Activities
  - name: Members
  - name: Notes
  - name: Reports
  - name: Users
  - name: Workspaces
paths:
  /activity_types:
    get:
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      category: discord
                      key: discord:message:sent
                      name: Sent a message in Discord
                      short_name: Discord message
                      weight: "0.5"
                    id: "16"
                    type: activity_type
                  - attributes:
                      category: discord
                      key: discord:message:replied
                      name: Replied to a message in Discord
                      short_name: Discord message reply
                      weight: "0.5"
                    id: "17"
                    type: activity_type
                  - attributes:
                      category: discord
                      key: discord:server:joined
                      name: Joined a server in Discord
                      short_name: Discord server join
                      weight: "0.5"
                    id: "18"
                    type: activity_type
                  - attributes:
                      category: discourse
                      key: discourse:post:created
                      name: Created a Discourse post
                      short_name: Discourse post
                      weight: "1.0"
                    id: "11"
                    type: activity_type
                  - attributes:
                      category: discourse
                      key: discourse:topic:created
                      name: Created a Discourse topic
                      short_name: Discourse topic
                      weight: "1.0"
                    id: "12"
                    type: activity_type
                  - attributes:
                      category: github
                      key: star:created
                      name: Starred a repository
                      short_name: GitHub star
                      weight: "0.5"
                    id: "4"
                    type: activity_type
                  - attributes:
                      category: github
                      key: issue_comment:created
                      name: Commented on an issue
                      short_name: Issue comment
                      weight: "1.0"
                    id: "5"
                    type: activity_type
                  - attributes:
                      category: github
                      key: issues:opened
                      name: Opened an issue
                      short_name: Issue opened
                      weight: "1.0"
                    id: "1"
                    type: activity_type
                  - attributes:
                      category: github
                      key: pull_requests:merged
                      name: Had a pull request merged
                      short_name: Merged pull request
                      weight: "2.0"
                    id: "3"
                    type: activity_type
                  - attributes:
                      category: github
                      key: pull_requests:opened
                      name: Opened a pull request
                      short_name: Opened pull request
                      weight: "2.0"
                    id: "2"
                    type: activity_type
                  - attributes:
                      category: orbit
                      key: post:created
                      name: Created content
                      short_name: Content created
                      weight: "1.0"
                    id: "7"
                    type: activity_type
                  - attributes:
                      category: slack
                      key: slack:channel:joined
                      name: Joined a channel in Slack
                      short_name: Slack channel join
                      weight: "0.5"
                    id: "14"
                    type: activity_type
                  - attributes:
                      category: slack
                      key: slack:message:sent
                      name: Sent a message in Slack
                      short_name: Slack message
                      weight: "0.5"
                    id: "13"
                    type: activity_type
                  - attributes:
                      category: slack
                      key: slack:thread:replied
                      name: Replied to a thread in Slack
                      short_name: Slack thread reply
                      weight: "0.5"
                    id: "15"
                    type: activity_type
                  - attributes:
                      category: twitter
                      key: twitter:followed
                      name: Followed on twitter
                      short_name: Twitter follow
                      weight: "0.5"
                    id: "10"
                    type: activity_type
                  - attributes:
                      category: twitter
                      key: tweet:sent
                      name: Tweeted
                      short_name: Twitter mention
                      weight: "1.0"
                    id: "9"
                    type: activity_type
          description: success
      security:
        - bearer: []
      summary: Get all activity types
      tags:
        - Activity Types
  /user:
    get:
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    created_at: 2021-06-04T15:39:11.015Z
                    email: aracely.orn@hand.io
                    name: TerraLeffler
                    updated_at: 2021-06-04T15:39:11.015Z
                  id: "10"
                  type: user
          description: success
      security:
        - bearer: []
      summary: Get info about the current user
      tags:
        - Users
  /workspaces:
    get:
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      created_at: 2021-06-04T15:39:16.506Z
                      name: Fake Workspace
                      slug: fake-workspace
                      updated_at: 2021-06-04T15:39:16.513Z
                    id: "100"
                    relationships:
                      repositories:
                        data: []
                    type: workspace
                included: []
          description: success
      security:
        - bearer: []
      summary: Get all workspaces for the current user
      tags:
        - Workspaces
  "/workspaces/{workspace_id}":
    get:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    activities_count: 1
                    created_at: 2021-06-04T15:39:16.542Z
                    members_count: 1
                    name: Fake Workspace
                    slug: fake-workspace
                    tags: {}
                    updated_at: 2021-06-04T15:39:16.605Z
                  id: "101"
                  relationships:
                    last_activity:
                      data:
                        id: "36"
                        type: activity
                    last_member:
                      data:
                        id: "53"
                        type: member
                    repositories:
                      data: []
                  type: workspace
                included:
                  - attributes:
                      activities_count: 1
                      avatar_url: http://github.com/avatar.png
                      bio:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      birthday:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      company:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      created: false
                      created_at: 2021-06-04T15:39:16.582Z
                      deleted_at:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      devto:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      discourse:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      email:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      first_activity_occurred_at: 2021-06-04T15:39:16.575Z
                      github:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      github_followers:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      id: 53
                      languages:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      last_activity_occurred_at: 2021-06-04T15:39:16.575Z
                      linkedin:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      location:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      love: 1.2
                      merged_at:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      name: ValenciaBorerII
                      orbit_level: 2
                      orbit_url: http://localhost:3000/fake-workspace/members/valenciaborerii
                      pronouns:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      reach: 0
                      shipping_address:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      slug: valenciaborerii
                      source: installation
                      tag_list: []
                      tags: []
                      teammate: false
                      topics:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      tshirt:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      twitter:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      twitter_followers:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      updated_at: 2021-06-04T15:39:16.603Z
                      url:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    id: "53"
                    relationships:
                      identities:
                        data: []
                    type: member
                  - attributes:
                      action: opened
                      activity_link: https://github.com/
                      created_at: 2021-06-04T15:39:16.583Z
                      key: selmahowe/bufordjast#76
                      occurred_at: 2021-06-04T15:39:16.575Z
                      orbit_url: http://localhost:3000/fake-workspace/activities/36
                      tags:
                        - channel:github
                        - github_organization:selmahowe
                        - github_repository:selmahowe/bufordjast
                        - github_pull_request:selmahowe/bufordjast/#76
                      type: PullRequestActivity
                      updated_at: 2021-06-04T15:39:16.583Z
                      weight: "2.0"
                    id: "36"
                    relationships:
                      activity_type:
                        data:
                          id: "2"
                          type: activity_type
                      member:
                        data:
                          id: "53"
                          type: member
                      repository:
                        data:
                          id: "7"
                          type: repository
                    type: activity
          description: success
      security:
        - bearer: []
      summary: Get a workspace
      tags:
        - Workspaces
  "/{workspace_id}/activities":
    get:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: query
          name: activity_tags
          schema:
            type: string
        - in: query
          name: affiliation
          schema:
            enum:
              - member
              - teammate
            type: string
        - in: query
          name: member_tags
          schema:
            type: string
        - in: query
          name: orbit_level
          schema:
            enum:
              - "1"
              - "2"
              - "3"
              - "4"
              - n
            type: string
        - in: query
          name: activity_type
          schema:
            enum:
              - twitter:followed
              - discord:message:sent
              - discord:message:replied
              - discord:server:joined
              - discourse:post:created
              - discourse:topic:created
              - slack:message:sent
              - slack:channel:joined
              - slack:thread:replied
              - issues:opened
              - pull_requests:opened
              - pull_requests:merged
              - star:created
              - issue_comment:created
              - note:created
              - post:created
              - custom:happened
              - tweet:sent
            type: string
        - in: query
          name: weight
          schema:
            type: string
        - in: query
          name: identity
          schema:
            enum:
              - github
              - twitter
              - email
              - discourse
              - linkedin
              - devto
              - slack
              - discord
            type: string
        - in: query
          name: location
          schema:
            type: string
        - in: query
          name: company
          schema:
            type: string
        - in: query
          name: start_date
          schema:
            type: string
        - in: query
          name: end_date
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: direction
          schema:
            enum:
              - ASC
              - DESC
            type: string
        - in: query
          name: items
          schema:
            enum:
              - "10"
              - "50"
              - "100"
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - occurred_at
              - member
            type: string
        - in: query
          name: type
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      action: spec_action
                      created_at: 2021-06-04T15:39:11.701Z
                      key: spec_activity_key#2
                      occurred_at: 2021-06-04T15:39:11.699Z
                      orbit_url: http://localhost:3000/lucianonolan/activities/7
                      tags:
                        - spec-tag-1
                        - spec-tag-2
                      type: SpecActivity
                      updated_at: 2021-06-04T15:39:11.701Z
                      weight: "1.0"
                    id: "7"
                    relationships:
                      activity_type:
                        data:
                          id: "24"
                          type: activity_type
                      member:
                        data:
                          id: "4"
                          type: member
                    type: spec_activity
                included:
                  - attributes:
                      category: spec_category
                      key: spec:activity
                      name: Did spec activity
                      short_name: Spec Activity
                      weight: "1.0"
                    id: "24"
                    type: activity_type
                  - attributes:
                      activities_count: 2
                      avatar_url: http://github.com/avatar.png
                      bio:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      birthday:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      company:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      created: false
                      created_at: 2021-06-04T15:39:11.682Z
                      deleted_at:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      devto:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      discourse:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      email:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      first_activity_occurred_at: 2021-06-04T15:39:11.699Z
                      github:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      github_followers:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      id: 4
                      languages:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      last_activity_occurred_at: 2021-06-04T15:39:11.727Z
                      linkedin:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      location:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      love: 1.2
                      merged_at:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      name: ClementeHammesPhD
                      orbit_level: 2
                      orbit_url: http://localhost:3000/lucianonolan/members/clementehammesphd
                      pronouns:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      reach: 0
                      shipping_address:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      slug: clementehammesphd
                      source: installation
                      tag_list:
                        - ruby
                      tags:
                        - ruby
                      teammate: false
                      topics:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      tshirt:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      twitter:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      twitter_followers:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      updated_at: 2021-06-04T15:39:11.741Z
                      url:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    id: "4"
                    relationships:
                      identities:
                        data: []
                    type: member
                links:
                  first: http://localhost:3000/api/v1/lucianonolan/activities?activity_tags=&activity_type=spec%3Aactivity&affiliation=&company=&direction=DESC&end_date=&filters=true&identity=&items=10&location=&member_tags=&page=1&sort=occurred_at&start_date=&weight=
                  next:
                    $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                  prev:
                    $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
          description: success
      security:
        - bearer: []
      summary: List activities for a workspace
      tags:
        - Activities
    post:
      description: Use this method when you know an identity of the member (github, email, twitter, etc.) but not their Orbit ID. Pass fields in the member object to update the member in addition to creating the activity.
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/activity_and_identity"
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  attributes:
                    action: happened
                    created_at: 2021-06-04T15:39:12.625Z
                    custom_description: More info about the thing
                    custom_link: http://link.com/
                    custom_link_text: See the thing
                    custom_title: Did a thing
                    custom_type: custom-type
                    key: thing-123
                    occurred_at: 2021-06-04T15:39:12.623Z
                    orbit_url: http://localhost:3000/alvabernhard/activities/13
                    tags:
                      - product
                      - enterprise
                      - channel:custom
                      - custom_type:custom-type
                      - custom_title:did-a-thing
                    type: CustomActivity
                    updated_at: 2021-06-04T15:39:12.625Z
                    weight: "0.2"
                  id: "13"
                  relationships:
                    activity_type:
                      data:
                        id: "8"
                        type: activity_type
                    member:
                      data:
                        id: "9"
                        type: member
                    user:
                      data:
                        id: "41"
                        type: user
                  type: custom_activity
                included:
                  - attributes:
                      category: custom
                      key: custom:happened
                      name: Something happened
                      short_name: Custom
                      weight: "1.0"
                    id: "8"
                    type: activity_type
                  - attributes:
                      email: josh@orbit.love
                      name: josh
                      source: email
                      source_host: email.host
                      uid: josh@orbit.love
                      username:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    id: "7"
                    type: email_identity
                  - attributes:
                      email:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      name: Josh Dzielak
                      source: twitter
                      source_host: twitter.com
                      uid: "45297280"
                      username: dzello
                    id: "8"
                    type: twitter_identity
                  - attributes:
                      email:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      name:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      source: github
                      source_host: github.com
                      uid:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      username: dzello
                    id: "9"
                    type: github_identity
                  - attributes:
                      email:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      name:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      source: linkedin
                      source_host: linkedin.com
                      uid:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      username: dzello
                    id: "10"
                    type: linkedin_identity
                  - attributes:
                      activities_count: 1
                      avatar_url: https://d1ts43dypk8bqh.cloudfront.net/v1/avatars/6ea4f872-04b6-4752-8a90-db508525135a
                      bio: "Co-founder & CTO @OrbitModel - we're hiring! · advocate for dev advocates 🥑 · Rails · JAMstack · DevRel · he/him · #BlackLivesMatter"
                      birthday:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      company: Orbit
                      created: true
                      created_at: 2021-06-04T15:39:12.588Z
                      deleted_at:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      devto:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      discourse:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      email: josh@orbit.love
                      first_activity_occurred_at: 2021-06-04T15:39:12.623Z
                      github: dzello
                      github_followers:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      id: 9
                      languages:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      last_activity_occurred_at: 2021-06-04T15:39:12.623Z
                      linkedin: dzello
                      location: Paris, Île-de-France, FR
                      love: 1
                      merged_at:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      name: Josh Dzielak
                      orbit_level: 3
                      orbit_url: http://localhost:3000/alvabernhard/members/dzello
                      pronouns:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      reach: 8
                      shipping_address:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      slug: dzello
                      source: api
                      tag_list:
                        - one
                        - two
                      tags:
                        - one
                        - two
                      teammate: false
                      topics:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      tshirt:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      twitter: dzello
                      twitter_followers: 4598
                      updated_at: 2021-06-04T15:39:12.636Z
                      url: https://orbit.love/
                    id: "9"
                    relationships:
                      identities:
                        data:
                          - id: "7"
                            type: email_identity
                          - id: "8"
                            type: twitter_identity
                          - id: "9"
                            type: github_identity
                          - id: "10"
                            type: linkedin_identity
                    type: member
                  - attributes:
                      created_at: 2021-06-04T15:39:12.505Z
                      name: JimmieMaggio
                      updated_at: 2021-06-04T15:39:12.508Z
                    id: "41"
                    type: user
          description: success
        "422":
          content:
            application/json:
              example:
                errors:
                  base:
                    - Either identity or member name, email, GitHub, Twitter or Discourse is required
                  email:
                    - is invalid
                  name:
                    - is too long (maximum is 250 characters)
                  workspace:
                    - has blocked this identity
          description: unprocessible
      security:
        - bearer: []
      summary: Create a Custom or a Content activity for a new or existing member
      tags:
        - Activities
  "/{workspace_id}/activities/{id}":
    get:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    action: spec_action
                    created_at: 2021-06-04T15:39:11.873Z
                    key: clé
                    occurred_at: 2021-06-04T15:39:11.867Z
                    orbit_url: http://localhost:3000/jessauer/activities/9
                    tags:
                      - spec-tag-1
                      - spec-tag-2
                    type: SpecActivity
                    updated_at: 2021-06-04T15:39:11.873Z
                    weight: "1.0"
                  id: "9"
                  relationships:
                    activity_type:
                      data:
                        id: "26"
                        type: activity_type
                    member:
                      data:
                        id: "5"
                        type: member
                    repository:
                      data:
                        id: "6"
                        type: repository
                    user:
                      data:
                        id: "29"
                        type: user
                  type: spec_activity
                included:
                  - attributes:
                      category: spec_category
                      key: spec:happened#3
                      name: Did spec activity
                      short_name: Spec Activity
                      weight: "1.0"
                    id: "26"
                    type: activity_type
                  - attributes:
                      activities_count: 1
                      avatar_url: http://github.com/avatar.png
                      bio:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      birthday:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      company:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      created: false
                      created_at: 2021-06-04T15:39:11.872Z
                      deleted_at:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      devto:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      discourse:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      email:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      first_activity_occurred_at: 2021-06-04T15:39:11.867Z
                      github:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      github_followers:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      id: 5
                      languages:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      last_activity_occurred_at: 2021-06-04T15:39:11.867Z
                      linkedin:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      location:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      love: 1
                      merged_at:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      name: WileyKunze
                      orbit_level: 3
                      orbit_url: http://localhost:3000/jessauer/members/wileykunze
                      pronouns:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      reach: 0
                      shipping_address:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      slug: wileykunze
                      source: installation
                      tag_list: []
                      tags: []
                      teammate: false
                      topics:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      tshirt:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      twitter:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      twitter_followers:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      updated_at: 2021-06-04T15:39:11.886Z
                      url:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    id: "5"
                    relationships:
                      identities:
                        data: []
                    type: member
                  - attributes:
                      created_at: 2021-06-04T15:39:11.827Z
                      full_name: corneliaabernathy/kylee
                      name: kylee
                      owner: corneliaabernathy
                      updated_at: 2021-06-04T15:39:11.827Z
                    id: "6"
                    type: repository
                  - attributes:
                      created_at: 2021-06-04T15:39:11.801Z
                      name: DrGladisLang
                      updated_at: 2021-06-04T15:39:11.801Z
                    id: "29"
                    type: user
          description: success
      security:
        - bearer: []
      summary: Get an activity in the workspace
      tags:
        - Activities
  "/{workspace_id}/members":
    get:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: query
          name: activity_tags
          schema:
            type: string
        - in: query
          name: affiliation
          schema:
            enum:
              - member
              - teammate
            type: string
        - in: query
          name: member_tags
          schema:
            type: string
        - in: query
          name: orbit_level
          schema:
            enum:
              - "1"
              - "2"
              - "3"
              - "4"
              - n
            type: string
        - in: query
          name: activity_type
          schema:
            enum:
              - twitter:followed
              - discord:message:sent
              - discord:message:replied
              - discord:server:joined
              - discourse:post:created
              - discourse:topic:created
              - slack:message:sent
              - slack:channel:joined
              - slack:thread:replied
              - issues:opened
              - pull_requests:opened
              - pull_requests:merged
              - star:created
              - issue_comment:created
              - note:created
              - post:created
              - custom:happened
              - tweet:sent
            type: string
        - in: query
          name: weight
          schema:
            type: string
        - in: query
          name: identity
          schema:
            enum:
              - github
              - twitter
              - email
              - discourse
              - linkedin
              - devto
              - slack
              - discord
            type: string
        - in: query
          name: location
          schema:
            type: string
        - in: query
          name: company
          schema:
            type: string
        - in: query
          name: start_date
          schema:
            type: string
        - in: query
          name: end_date
          schema:
            type: string
        - in: query
          name: query
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: direction
          schema:
            enum:
              - ASC
              - DESC
            type: string
        - in: query
          name: items
          schema:
            enum:
              - "10"
              - "50"
              - "100"
            type: string
        - in: query
          name: activities_count_min
          schema:
            type: string
        - in: query
          name: activities_count_max
          schema:
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - activities_count
              - company
              - created_at
              - first_activity
              - github_followers
              - id
              - last_activity
              - location
              - love
              - name
              - orbit
              - reach
              - title
              - twitter_followers
              - updated_at
            type: string
        - in: query
          name: type
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      activities_count: 1
                      avatar_url: http://github.com/avatar.png
                      bio:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      birthday:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      company:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      created: false
                      created_at: 2021-06-04T15:39:13.897Z
                      deleted_at:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      devto:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      discourse:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      email:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      first_activity_occurred_at: 2021-06-04T15:39:13.947Z
                      github:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      github_followers:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      id: 29
                      languages:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      last_activity_occurred_at: 2021-06-04T15:39:13.947Z
                      linkedin:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      location:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      love: 1
                      merged_at:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      name: Sally
                      orbit_level: 3
                      orbit_url: http://localhost:3000/angelejast/members/sally
                      pronouns:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      reach: 0
                      shipping_address:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      slug: sally
                      source: installation
                      tag_list:
                        - ruby
                      tags:
                        - ruby
                      teammate: false
                      topics:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      tshirt:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      twitter:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      twitter_followers:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      updated_at: 2021-06-04T15:39:13.958Z
                      url:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    id: "29"
                    relationships:
                      identities:
                        data:
                          - id: "18"
                            type: spec_identity
                    type: member
                included:
                  - id: "18"
                    type: spec_identity
                links:
                  first: http://localhost:3000/api/v1/angelejast/members?activities_count_max=99&activities_count_min=1&activity_tags=&activity_type=spec%3Aactivity&affiliation=&company=&direction=&end_date=&filters=true&identity=&items=10&location=&member_tags=&page=1&sort=&start_date=&weight=
                  next:
                    $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                  prev: null
          description: success
      security:
        - bearer: []
      summary: List members in a workspace
      tags:
        - Members
    post:
      description: This method is useful when you know a member's identity in another system and want to create or update the corresponding Orbit member. Identities can be specified in the identity object or member attributes like member.github. If no member exists, a new member will be created and linked to any provided identities.
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/member_and_identity"
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    activities_count: 0
                    avatar_url: http://github.com/avatar.png
                    bio: Co-founder & CTO @orbit-love · Developer Advocate · formerly @algolia and @keen
                    birthday:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    company: "@orbit-love"
                    created: false
                    created_at: 2021-06-04T15:39:14.884Z
                    deleted_at:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    devto:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    discourse:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    email:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    first_activity_occurred_at:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    github: dzello
                    github_followers: 171
                    id: 39
                    languages:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    last_activity_occurred_at:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    linkedin:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    location: Paris
                    love: 0
                    merged_at:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    name: MsAugustineEmard
                    orbit_level:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    orbit_url: http://localhost:3000/susannahsanford/members/msaugustineemard
                    pronouns:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    reach: 8
                    shipping_address:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    slug: msaugustineemard
                    source: api
                    tag_list:
                      - one
                      - two
                    tags:
                      - one
                      - two
                    teammate: false
                    topics:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    tshirt:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    twitter: dzello
                    twitter_followers:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    updated_at: 2021-06-04T15:39:14.983Z
                    url: https://dzello.com/
                  id: "39"
                  relationships:
                    identities:
                      data:
                        - id: "26"
                          type: twitter_identity
                        - id: "28"
                          type: github_identity
                  type: member
                included:
                  - attributes:
                      email:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      name:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      source: twitter
                      source_host: twitter.com
                      uid: uid-12
                      username: dzello
                    id: "26"
                    type: twitter_identity
                  - attributes:
                      email:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      name: Josh Dzielak
                      source: github
                      source_host: github.com
                      uid: "174777"
                      username: dzello
                    id: "28"
                    type: github_identity
          description: success
        "201":
          content:
            application/json:
              example:
                data:
                  attributes:
                    activities_count: 0
                    avatar_url: https://avatars2.githubusercontent.com/u/174777?u=79e423dd07c19122115f52a1c97727ca193e6253&v=4
                    bio: Co-founder & CTO @orbit-love · Developer Advocate · formerly @algolia and @keen
                    birthday:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    company: "@orbit-love"
                    created: true
                    created_at: 2021-06-04T15:39:15.865Z
                    deleted_at:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    devto:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    discourse:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    email: josh@orbit.love
                    first_activity_occurred_at:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    github: dzello
                    github_followers: 171
                    id: 48
                    languages:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    last_activity_occurred_at:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    linkedin:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    location: Paris
                    love: 0
                    merged_at:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    name: Josh Dzielak
                    orbit_level:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    orbit_url: http://localhost:3000/elissanienow/members/dzello
                    pronouns:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    reach: 8
                    shipping_address:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    slug: dzello
                    source: api
                    tag_list: []
                    tags: []
                    teammate: false
                    topics:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    tshirt:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    twitter: dzello
                    twitter_followers:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    updated_at: 2021-06-04T15:39:15.893Z
                    url: https://dzello.com/
                  id: "48"
                  relationships:
                    identities:
                      data:
                        - id: "47"
                          type: github_identity
                        - id: "48"
                          type: twitter_identity
                        - id: "49"
                          type: email_identity
                  type: member
                included:
                  - attributes:
                      email:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      name: Josh Dzielak
                      source: github
                      source_host: github.com
                      uid: "174777"
                      username: dzello
                    id: "47"
                    type: github_identity
                  - attributes:
                      email:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      name:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      source: twitter
                      source_host: twitter.com
                      uid:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      username: dzello
                    id: "48"
                    type: twitter_identity
                  - attributes:
                      email: josh@orbit.love
                      name: josh
                      source: email
                      source_host: email.host
                      uid: josh@orbit.love
                      username:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    id: "49"
                    type: email_identity
          description: created
        "422":
          content:
            application/json:
              example:
                errors:
                  base:
                    - Either identity or member name, email, GitHub, Twitter or Discourse is required
                  email:
                    - is invalid
                  name:
                    - can't be blank
                  workspace:
                    - has blocked this identity
          description: unprocessable
      security:
        - bearer: []
      summary: Create or update a member
      tags:
        - Members
  "/{workspace_id}/members/find":
    get:
      description: Provide a source and one of username/uid/email params to return a member with that identity, if one exists. Common values for source include github, twitter, and email.
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: query
          name: source
          schema:
            type: string
        - in: query
          name: source_host
          schema:
            type: string
        - in: query
          name: uid
          schema:
            type: string
        - in: query
          name: username
          schema:
            type: string
        - in: query
          name: email
          schema:
            type: string
        - description: Deprecated, please use source=github and username=<username> instead
          in: query
          name: github
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    activities_count: 0
                    avatar_url: http://github.com/avatar.png
                    bio:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    birthday:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    company:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    created: false
                    created_at: 2021-06-04T15:39:16.092Z
                    deleted_at:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    devto:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    discourse:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    email:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    first_activity_occurred_at:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    github: dzello
                    github_followers:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    id: 50
                    languages:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    last_activity_occurred_at:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    linkedin:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    location:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    love: 0
                    merged_at:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    name: GinoMitchell
                    orbit_level:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    orbit_url: http://localhost:3000/missbillyrippin/members/ginomitchell
                    pronouns:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    reach: 0
                    shipping_address:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    slug: ginomitchell
                    source: installation
                    tag_list: []
                    tags: []
                    teammate: false
                    topics:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    tshirt:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    twitter:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    twitter_followers:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    updated_at: 2021-06-04T15:39:16.092Z
                    url:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                  id: "50"
                  relationships:
                    identities:
                      data:
                        - id: "52"
                          type: github_identity
                  type: member
                included:
                  - attributes:
                      email:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      name:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      source: github
                      source_host: github.com
                      uid: uid-16
                      username: dzello
                    id: "52"
                    type: github_identity
          description: success
        "404":
          content:
            application/json:
              example:
                errors: No member matching this identity was found
          description: Not found
      security:
        - bearer: []
      summary: Find a member by an identity
      tags:
        - Members
  "/{workspace_id}/members/{id}":
    delete:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: member deleted
      security:
        - bearer: []
      summary: Delete a member
      tags:
        - Members
    get:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    activities_count: 0
                    avatar_url: http://github.com/avatar.png
                    bio:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    birthday:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    company:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    created: false
                    created_at: 2021-06-04T15:39:14.007Z
                    deleted_at:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    devto:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    discourse:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    email:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    first_activity_occurred_at:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    github:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    github_followers:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    id: 30
                    languages:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    last_activity_occurred_at:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    linkedin:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    location:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    love: 0
                    merged_at:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    name: Josh
                    orbit_level:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    orbit_url: http://localhost:3000/loriswift/members/josh
                    pronouns:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    reach: 0
                    shipping_address:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    slug: josh
                    source: installation
                    tag_list: []
                    tags: []
                    teammate: false
                    topics:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    tshirt:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    twitter:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    twitter_followers:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    updated_at: 2021-06-04T15:39:14.007Z
                    url:
                      $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                  id: "30"
                  relationships:
                    identities:
                      data:
                        - id: "19"
                          type: spec_identity
                  type: member
                included:
                  - id: "19"
                    type: spec_identity
          description: success
      security:
        - bearer: []
      summary: Get a member
      tags:
        - Members
    put:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/member"
      responses:
        "204":
          description: member updated
      security:
        - bearer: []
      summary: Update a member
      tags:
        - Members
  "/{workspace_id}/members/{member_id}/activities":
    get:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: member_id
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: direction
          schema:
            enum:
              - ASC
              - DESC
            type: string
        - in: query
          name: items
          schema:
            enum:
              - "10"
              - "50"
              - "100"
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - occurred_at
              - member
            type: string
        - in: query
          name: activity_type
          schema:
            type: string
        - in: query
          name: type
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      action: spec_action
                      created_at: 2021-06-04T15:39:12.843Z
                      key: spec_activity_key#6
                      occurred_at: 2021-06-04T15:39:12.842Z
                      orbit_url: http://localhost:3000/loribarton/activities/18
                      tags:
                        - spec-tag-1
                        - spec-tag-2
                      type: SpecActivity
                      updated_at: 2021-06-04T15:39:12.843Z
                      weight: "1.0"
                    id: "18"
                    relationships:
                      activity_type:
                        data:
                          id: "31"
                          type: activity_type
                      member:
                        data:
                          id: "11"
                          type: member
                    type: spec_activity
                included:
                  - attributes:
                      category: spec_category
                      key: bar:activity
                      name: Did spec activity
                      short_name: Spec Activity
                      weight: "1.0"
                    id: "31"
                    type: activity_type
                  - attributes:
                      activities_count: 3
                      avatar_url: http://github.com/avatar.png
                      bio:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      birthday:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      company:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      created: false
                      created_at: 2021-06-04T15:39:12.771Z
                      deleted_at:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      devto:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      discourse:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      email:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      first_activity_occurred_at: 2021-06-04T15:39:12.786Z
                      github:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      github_followers:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      id: 11
                      languages:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      last_activity_occurred_at: 2021-06-04T15:39:12.842Z
                      linkedin:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      location:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      love: 1.4
                      merged_at:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      name: ArieKozey
                      orbit_level: 2
                      orbit_url: http://localhost:3000/loribarton/members/ariekozey
                      pronouns:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      reach: 0
                      shipping_address:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      slug: ariekozey
                      source: installation
                      tag_list: []
                      tags: []
                      teammate: false
                      topics:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      tshirt:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      twitter:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      twitter_followers:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      updated_at: 2021-06-04T15:39:12.853Z
                      url:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    id: "11"
                    relationships:
                      identities:
                        data: []
                    type: member
                links:
                  first: /loribarton/members/ariekozey/activities?page=1&direction=DESC&items=10&sort=occurred_at&activity_type=bar%3Aactivity
                  last: /loribarton/members/ariekozey/activities?page=1&direction=DESC&items=10&sort=occurred_at&activity_type=bar%3Aactivity
                  next:
                    $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                  prev:
                    $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
          description: success
      security:
        - bearer: []
      summary: List activities for a member
      tags:
        - Activities
    post:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: member_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/custom_or_post_activity"
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  attributes:
                    action: happened
                    created_at: 2021-06-04T15:39:12.925Z
                    custom_description: More info about the thing
                    custom_link: http://link.com/
                    custom_link_text: See the thing
                    custom_title: Did a thing
                    custom_type: custom-type
                    key: thing-123
                    occurred_at: 2021-06-04T15:39:12.923Z
                    orbit_url: http://localhost:3000/tawanalittel/activities/19
                    tags:
                      - product
                      - enterprise
                      - channel:custom
                      - custom_type:custom-type
                      - custom_title:did-a-thing
                    type: CustomActivity
                    updated_at: 2021-06-04T15:39:12.925Z
                    weight: "8.0"
                  id: "19"
                  relationships:
                    activity_type:
                      data:
                        id: "8"
                        type: activity_type
                    member:
                      data:
                        id: "12"
                        type: member
                    user:
                      data:
                        id: "49"
                        type: user
                  type: custom_activity
                included:
                  - attributes:
                      category: custom
                      key: custom:happened
                      name: Something happened
                      short_name: Custom
                      weight: "1.0"
                    id: "8"
                    type: activity_type
                  - attributes:
                      activities_count: 1
                      avatar_url: http://github.com/avatar.png
                      bio:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      birthday:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      company:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      created: false
                      created_at: 2021-06-04T15:39:12.899Z
                      deleted_at:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      devto:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      discourse:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      email:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      first_activity_occurred_at: 2021-06-04T15:39:12.923Z
                      github:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      github_followers:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      id: 12
                      languages:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      last_activity_occurred_at: 2021-06-04T15:39:12.923Z
                      linkedin:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      location:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      love: 1
                      merged_at:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      name: ToneyHand
                      orbit_level: 3
                      orbit_url: http://localhost:3000/tawanalittel/members/toneyhand
                      pronouns:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      reach: 0
                      shipping_address:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      slug: toneyhand
                      source: installation
                      tag_list: []
                      tags: []
                      teammate: false
                      topics:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      tshirt:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      twitter:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      twitter_followers:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      updated_at: 2021-06-04T15:39:12.937Z
                      url:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    id: "12"
                    relationships:
                      identities:
                        data: []
                    type: member
                  - attributes:
                      created_at: 2021-06-04T15:39:12.891Z
                      name: SpencerRutherford
                      updated_at: 2021-06-04T15:39:12.894Z
                    id: "49"
                    type: user
          description: success
        "422":
          content:
            application/json:
              example:
                errors:
                  custom_title:
                    - can't be blank
          description: unprocessable entity
      security:
        - bearer: []
      summary: Create a Custom or a Content activity for a member
      tags:
        - Activities
  "/{workspace_id}/members/{member_id}/activities/{id}":
    delete:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: member_id
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: activity deleted
      security:
        - bearer: []
      summary: Delete a post activity
      tags:
        - Activities
    put:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: member_id
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/activity"
      responses:
        "204":
          description: activity updated
        "422":
          description: unprocessable entity
      security:
        - bearer: []
      summary: Update a custom activity for a member
      tags:
        - Activities
  "/{workspace_id}/members/{member_id}/identities":
    delete:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: member_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/identity"
      responses:
        "204":
          description: success; no content
        "422":
          content:
            application/json:
              example:
                errors:
                  identity:
                    - is not attached to this member
          description: identity is invalid or not attached to member
      security:
        - bearer: []
      summary: Remove identity from a member
      tags:
        - Members
    post:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: member_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/identity"
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  attributes:
                    email: josh@orbit.love
                    name: Josh
                    source: twitch
                    source_host: twitch.tv
                    uid: "12345"
                    username: dzello1
                  id: "12"
                  type: other_identity
          description: success
        "422":
          content:
            application/json:
              example:
                errors:
                  identity_id:
                    - has already been taken
                  source:
                    - can't be blank
                  username_or_email:
                    - must be present
          description: identity is invalid
      security:
        - bearer: []
      summary: Add identity to a member
      tags:
        - Members
  "/{workspace_id}/members/{member_id}/notes":
    get:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: member_id
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      body: heyo
                      created_at: 2021-06-04T15:39:13.624Z
                      updated_at: 2021-06-04T15:39:13.624Z
                    id: "2"
                    relationships:
                      member:
                        data:
                          id: "24"
                          type: member
                      user:
                        data:
                          id: "66"
                          type: user
                    type: note
                included:
                  - attributes:
                      activities_count: 0
                      avatar_url: http://github.com/avatar.png
                      bio:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      birthday:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      company:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      created: false
                      created_at: 2021-06-04T15:39:13.617Z
                      deleted_at:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      devto:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      discourse:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      email:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      first_activity_occurred_at:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      github:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      github_followers:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      id: 24
                      languages:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      last_activity_occurred_at:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      linkedin:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      location:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      love: 0
                      merged_at:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      name: FlorentinoSchneider
                      orbit_level:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      orbit_url: http://localhost:3000/msshannanstroman/members/florentinoschneider
                      pronouns:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      reach: 0
                      shipping_address:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      slug: florentinoschneider
                      source: installation
                      tag_list: []
                      tags: []
                      teammate: false
                      topics:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      tshirt:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      twitter:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      twitter_followers:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                      updated_at: 2021-06-04T15:39:13.617Z
                      url:
                        $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                    id: "24"
                    relationships:
                      identities:
                        data: []
                    type: member
                  - attributes:
                      created_at: 2021-06-04T15:39:13.623Z
                      name: RodgerBaumbach
                      updated_at: 2021-06-04T15:39:13.623Z
                    id: "66"
                    type: user
                links:
                  first: /msshannanstroman/members/florentinoschneider/notes?page=1
                  last: /msshannanstroman/members/florentinoschneider/notes?page=1
                  next:
                    $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
                  prev:
                    $ref: "#/paths/~1{workspace_id}~1members/get/responses/200/content/application~1json/example/links/prev"
          description: success
      security:
        - bearer: []
      summary: Get the member's notes
      tags:
        - Notes
    post:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: member_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/note"
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  attributes:
                    body: heyo
                    created_at: 2021-06-04T15:39:13.586Z
                    updated_at: 2021-06-04T15:39:13.586Z
                  id: "1"
                  relationships:
                    member:
                      data:
                        id: "23"
                        type: member
                    user:
                      data:
                        id: "64"
                        type: user
                  type: note
          description: note created
      security:
        - bearer: []
      summary: Create a note
      tags:
        - Notes
  "/{workspace_id}/members/{member_id}/notes/{id}":
    put:
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: string
        - in: path
          name: member_id
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/note"
      responses:
        "204":
          description: note updated
      security:
[...]
