openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Flex
  version: 1.10.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_flex_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_flex_v1
paths:
  /v1/Channels:
    description: Flex chat channels
    get:
      description: ""
      operationId: ListChannel
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  flex_chat_channels:
                    items:
                      $ref: "#/components/schemas/flex.v1.channel"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListChannelResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateChannel
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ChatFriendlyName:
                  description: The chat channel's friendly name.
                  type: string
                ChatUniqueName:
                  description: The chat channel's unique name.
                  type: string
                ChatUserFriendlyName:
                  description: The chat participant's friendly name.
                  type: string
                FlexFlowSid:
                  description: The SID of the Flex Flow.
                  maxLength: 34
                  minLength: 34
                  pattern: ^FO[0-9a-fA-F]{32}$
                  type: string
                Identity:
                  description: The `identity` value that uniquely identifies the new resource's chat User.
                  type: string
                LongLived:
                  description: Whether to create the channel as long-lived.
                  type: boolean
                PreEngagementData:
                  description: The pre-engagement data.
                  type: string
                Target:
                  description: The Target Contact Identity, for example the phone number of an SMS.
                  type: string
                TaskAttributes:
                  description: The Task attributes to be added for the TaskRouter Task.
                  type: string
                TaskSid:
                  description: The SID of the TaskRouter Task. Only valid when integration type is `task`. `null` for integration types `studio` & `external`
                  maxLength: 34
                  minLength: 34
                  pattern: ^WT[0-9a-fA-F]{32}$
                  type: string
              required:
                - FlexFlowSid
                - Identity
                - ChatUserFriendlyName
                - ChatFriendlyName
              title: CreateChannelRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/flex.v1.channel"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://flex-api.twilio.com
    x-default-output-properties:
      - sid
      - flex_flow_sid
      - user_sid
      - task_sid
    x-path-type: list
  "/v1/Channels/{Sid}":
    delete:
      description: ""
      operationId: DeleteChannel
      parameters:
        - description: The SID of the Flex chat channel resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CH[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Flex chat channels
    get:
      description: ""
      operationId: FetchChannel
      parameters:
        - description: The SID of the Flex chat channel resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CH[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/flex.v1.channel"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://flex-api.twilio.com
    x-default-output-properties:
      - sid
      - flex_flow_sid
      - user_sid
      - task_sid
    x-path-type: instance
  /v1/Configuration:
    description: Configuration for a Flex instance
    get:
      description: ""
      operationId: FetchConfiguration
      parameters:
        - description: The Pinned UI version of the Configuration resource to fetch.
          in: query
          name: UiVersion
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/flex.v1.configuration"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateConfiguration
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties: {}
              title: UpdateConfigurationRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/flex.v1.configuration"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://flex-api.twilio.com
    x-default-output-properties:
      - status
      - ui_language
      - ui_version
      - service_version
    x-path-type: instance
  /v1/FlexFlows:
    description: Flex Flow
    get:
      description: ""
      operationId: ListFlexFlow
      parameters:
        - description: The `friendly_name` of the Flex Flow resources to read.
          in: query
          name: FriendlyName
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  flex_flows:
                    items:
                      $ref: "#/components/schemas/flex.v1.flex_flow"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListFlexFlowResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateFlexFlow
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ChannelType:
                  description: "The channel type. Can be: `web`, `facebook`, `sms`, `whatsapp`, `line` or `custom`."
                  enum:
                    - web
                    - sms
                    - facebook
                    - whatsapp
                    - line
                    - custom
                  type: string
                ChatServiceSid:
                  description: The SID of the chat service.
                  maxLength: 34
                  minLength: 34
                  pattern: ^IS[0-9a-fA-F]{32}$
                  type: string
                ContactIdentity:
                  description: The channel contact's Identity.
                  type: string
                Enabled:
                  description: Whether the new Flex Flow is enabled.
                  type: boolean
                FriendlyName:
                  description: A descriptive string that you create to describe the Flex Flow resource.
                  type: string
                Integration.Channel:
                  description: The Task Channel for the TaskRouter Task that will be created. Applicable and required when integrationType is `task`. Set to `sms` for SMS, and to `chat` otherwise. The default value is `default`
                  type: string
                Integration.CreationOnMessage:
                  description: In the context of outbound messaging, defines whether to create a Task immediately (and therefore reserve the conversation to current agent), or delay Task creation until the customer sends the first response. Set to false to create immediately, true to delay Task creation. This setting is only applicable for outbound messaging.
                  type: boolean
                Integration.FlowSid:
                  description: The SID of the Studio Flow. Required when `integrationType` is `studio`.
                  maxLength: 34
                  minLength: 34
                  pattern: ^FW[0-9a-fA-F]{32}$
                  type: string
                Integration.Priority:
                  description: The Task priority of a new Task. The default priority is 0. Optional when `integrationType` is `task`, not applicable otherwise.
                  type: integer
                Integration.RetryCount:
                  description: The number of times to retry the webhook if the first attempt fails. Can be an integer between 0 and 3 (included), default is 0. Optional when integrationType is `external`, not applicable otherwise.
                  type: integer
                Integration.Timeout:
                  description: The Task timeout in seconds for a new Task. Default is 86,400 seconds (24 hours). Optional when `integrationType` is `task`, not applicable otherwise.
                  type: integer
                Integration.Url:
                  description: The URL of the external webhook. Required when `integrationType` is `external`.
                  format: uri
                  type: string
                Integration.WorkflowSid:
                  description: The Workflow SID for a new Task. Required when `integrationType` is `task`.
                  maxLength: 34
                  minLength: 34
                  pattern: ^WW[0-9a-fA-F]{32}$
                  type: string
                Integration.WorkspaceSid:
                  description: The Workspace SID for a new Task. Required when `integrationType` is `task`.
                  maxLength: 34
                  minLength: 34
                  pattern: ^WS[0-9a-fA-F]{32}$
                  type: string
                IntegrationType:
                  description: "The integration type. Can be: `studio`, `external`, or `task`."
                  enum:
                    - studio
                    - external
                    - task
                  type: string
                JanitorEnabled:
                  description: When enabled, the Messaging Channel Janitor will remove active Proxy sessions if the associated Task is deleted outside of the Flex UI. Defaults to `false`.
                  type: boolean
                LongLived:
                  description: When enabled, Flex will keep the chat channel active so that it may be used for subsequent interactions with a contact identity. Defaults to `false`.
                  type: boolean
              required:
                - FriendlyName
                - ChatServiceSid
                - ChannelType
              title: CreateFlexFlowRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/flex.v1.flex_flow"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://flex-api.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - channel_type
      - integration_type
    x-path-type: list
  "/v1/FlexFlows/{Sid}":
    delete:
      description: ""
      operationId: DeleteFlexFlow
      parameters:
        - description: The SID of the Flex Flow resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FO[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Flex Flow
    get:
      description: ""
      operationId: FetchFlexFlow
      parameters:
        - description: The SID of the Flex Flow resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FO[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/flex.v1.flex_flow"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateFlexFlow
      parameters:
        - description: The SID of the Flex Flow resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FO[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ChannelType:
                  description: "The channel type. Can be: `web`, `facebook`, `sms`, `whatsapp`, `line` or `custom`."
                  enum:
                    - web
                    - sms
                    - facebook
                    - whatsapp
                    - line
                    - custom
                  type: string
                ChatServiceSid:
                  description: The SID of the chat service.
                  maxLength: 34
                  minLength: 34
                  pattern: ^IS[0-9a-fA-F]{32}$
                  type: string
                ContactIdentity:
                  description: The channel contact's Identity.
                  type: string
                Enabled:
                  description: Whether the new Flex Flow is enabled.
                  type: boolean
                FriendlyName:
                  description: A descriptive string that you create to describe the Flex Flow resource.
                  type: string
                Integration.Channel:
                  description: The Task Channel for the TaskRouter Task that will be created. Applicable and required when integrationType is `task`. Set to `sms` for SMS, and to `chat` otherwise. The default value is `default`
                  type: string
                Integration.CreationOnMessage:
                  description: In the context of outbound messaging, defines whether to create a Task immediately (and therefore reserve the conversation to current agent), or delay Task creation until the customer sends the first response. Set to false to create immediately, true to delay Task creation. This setting is only applicable for outbound messaging.
                  type: boolean
                Integration.FlowSid:
                  description: The SID of the Studio Flow. Required when `integrationType` is `studio`.
                  maxLength: 34
                  minLength: 34
                  pattern: ^FW[0-9a-fA-F]{32}$
                  type: string
                Integration.Priority:
                  description: The Task priority of a new Task. The default priority is 0. Optional when `integrationType` is `task`, not applicable otherwise.
                  type: integer
                Integration.RetryCount:
                  description: The number of times to retry the webhook if the first attempt fails. Can be an integer between 0 and 3 (included), default is 0. Optional when integrationType is `external`, not applicable otherwise.
                  type: integer
                Integration.Timeout:
                  description: The Task timeout in seconds for a new Task. Default is 86,400 seconds (24 hours). Optional when `integrationType` is `task`, not applicable otherwise.
                  type: integer
                Integration.Url:
                  description: The URL of the external webhook. Required when `integrationType` is `external`.
                  format: uri
                  type: string
                Integration.WorkflowSid:
                  description: The Workflow SID for a new Task. Required when `integrationType` is `task`.
                  maxLength: 34
                  minLength: 34
                  pattern: ^WW[0-9a-fA-F]{32}$
                  type: string
                Integration.WorkspaceSid:
                  description: The Workspace SID for a new Task. Required when `integrationType` is `task`.
                  maxLength: 34
                  minLength: 34
                  pattern: ^WS[0-9a-fA-F]{32}$
                  type: string
                IntegrationType:
                  description: "The integration type. Can be: `studio`, `external`, or `task`."
                  enum:
                    - studio
                    - external
                    - task
                  type: string
                JanitorEnabled:
                  description: When enabled, the Messaging Channel Janitor will remove active Proxy sessions if the associated Task is deleted outside of the Flex UI. Defaults to `false`.
                  type: boolean
                LongLived:
                  description: When enabled, Flex will keep the chat channel active so that it may be used for subsequent interactions with a contact identity. Defaults to `false`.
                  type: boolean
              title: UpdateFlexFlowRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/flex.v1.flex_flow"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://flex-api.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - channel_type
      - integration_type
    x-path-type: instance
  /v1/WebChannels:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListWebChannel
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  flex_chat_channels:
                    items:
                      $ref: "#/components/schemas/flex.v1.web_channel"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListWebChannelResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateWebChannel
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ChatFriendlyName:
                  description: The chat channel's friendly name.
                  type: string
                ChatUniqueName:
                  description: The chat channel's unique name.
                  type: string
                CustomerFriendlyName:
                  description: The chat participant's friendly name.
                  type: string
                FlexFlowSid:
                  description: The SID of the Flex Flow.
                  maxLength: 34
                  minLength: 34
                  pattern: ^FO[0-9a-fA-F]{32}$
                  type: string
                Identity:
                  description: The chat identity.
                  type: string
                PreEngagementData:
                  description: The pre-engagement data.
                  type: string
              required:
                - FlexFlowSid
                - Identity
                - CustomerFriendlyName
                - ChatFriendlyName
              title: CreateWebChannelRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/flex.v1.web_channel"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://flex-api.twilio.com
    x-default-output-properties:
      - sid
      - flex_flow_sid
    x-path-type: list
  "/v1/WebChannels/{Sid}":
    delete:
      description: ""
      operationId: DeleteWebChannel
      parameters:
        - description: The SID of the WebChannel resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CH[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchWebChannel
      parameters:
        - description: The SID of the WebChannel resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CH[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/flex.v1.web_channel"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateWebChannel
      parameters:
        - description: The SID of the WebChannel resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CH[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ChatStatus:
                  description: The chat status. Can only be `inactive`.
                  enum:
                    - inactive
                  type: string
                PostEngagementData:
                  description: The post-engagement data.
                  type: string
              title: UpdateWebChannelRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/flex.v1.web_channel"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://flex-api.twilio.com
    x-default-output-properties:
      - sid
      - flex_flow_sid
    x-path-type: instance
components:
  schemas:
    boolean:
      nullable: true
      type: boolean
    configuration_status:
      enum:
        - ok
        - inprogress
        - notstarted
      nullable: true
      type: string
    date_time_iso8601:
      format: date-time
      nullable: true
      type: string
    flex.v1.channel:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        date_created:
          $ref: "#/components/schemas/date_time_iso8601"
        date_updated:
          $ref: "#/components/schemas/date_time_iso8601"
        flex_flow_sid:
          $ref: "#/components/schemas/sid_FO"
        sid:
          $ref: "#/components/schemas/sid_CH"
        task_sid:
          $ref: "#/components/schemas/sid_WT"
        url:
          $ref: "#/components/schemas/url"
        user_sid:
          $ref: "#/components/schemas/sid_US"
      type: object
    flex.v1.configuration:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        attributes:
          $ref: "#/components/schemas/object"
        call_recording_enabled:
          $ref: "#/components/schemas/boolean"
        call_recording_webhook_url:
          $ref: "#/components/schemas/url"
        chat_service_instance_sid:
          $ref: "#/components/schemas/sid_IS"
        crm_attributes:
          $ref: "#/components/schemas/object"
        crm_callback_url:
          $ref: "#/components/schemas/url"
        crm_enabled:
          $ref: "#/components/schemas/boolean"
        crm_fallback_url:
          $ref: "#/components/schemas/url"
        crm_type:
          $ref: "#/components/schemas/string"
        date_created:
          $ref: "#/components/schemas/date_time_iso8601"
        date_updated:
          $ref: "#/components/schemas/date_time_iso8601"
        flex_service_instance_sid:
          $ref: "#/components/schemas/sid_IS"
        integrations:
          $ref: "#/components/schemas/object_list"
        markdown:
          $ref: "#/components/schemas/object"
        messaging_service_instance_sid:
          $ref: "#/components/schemas/sid_MG"
        notifications:
          $ref: "#/components/schemas/object"
        outbound_call_flows:
          $ref: "#/components/schemas/object"
        plugin_service_attributes:
          $ref: "#/components/schemas/object"
        plugin_service_enabled:
          $ref: "#/components/schemas/boolean"
        public_attributes:
          $ref: "#/components/schemas/object"
        queue_stats_configuration:
          $ref: "#/components/schemas/object"
        runtime_domain:
          $ref: "#/components/schemas/url"
        serverless_service_sids:
          $ref: "#/components/schemas/sid_ZS_list"
        service_version:
          $ref: "#/components/schemas/string"
        status:
          $ref: "#/components/schemas/configuration_status"
        taskrouter_offline_activity_sid:
          $ref: "#/components/schemas/sid_WA"
        taskrouter_skills:
          $ref: "#/components/schemas/object_list"
        taskrouter_target_taskqueue_sid:
          $ref: "#/components/schemas/sid_WQ"
        taskrouter_target_workflow_sid:
          $ref: "#/components/schemas/sid_WW"
        taskrouter_taskqueues:
          $ref: "#/components/schemas/object_list"
        taskrouter_worker_attributes:
          $ref: "#/components/schemas/object"
        taskrouter_worker_channels:
          $ref: "#/components/schemas/object"
        taskrouter_workspace_sid:
          $ref: "#/components/schemas/sid_WS"
        ui_attributes:
          $ref: "#/components/schemas/object"
        ui_dependencies:
          $ref: "#/components/schemas/object"
        ui_language:
          $ref: "#/components/schemas/string"
        ui_version:
          $ref: "#/components/schemas/string"
        url:
          $ref: "#/components/schemas/url"
      type: object
    flex.v1.flex_flow:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        channel_type:
          $ref: "#/components/schemas/flex_flow_channel_type"
        chat_service_sid:
          $ref: "#/components/schemas/sid_IS"
        contact_identity:
          $ref: "#/components/schemas/string"
        date_created:
          $ref: "#/components/schemas/date_time_iso8601"
        date_updated:
          $ref: "#/components/schemas/date_time_iso8601"
        enabled:
          $ref: "#/components/schemas/boolean"
        friendly_name:
          $ref: "#/components/schemas/string"
        integration:
          $ref: "#/components/schemas/object"
        integration_type:
          $ref: "#/components/schemas/flex_flow_integration_type"
        janitor_enabled:
          $ref: "#/components/schemas/boolean"
        long_lived:
          $ref: "#/components/schemas/boolean"
        sid:
          $ref: "#/components/schemas/sid_FO"
        url:
          $ref: "#/components/schemas/url"
      type: object
    flex.v1.web_channel:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        date_created:
          $ref: "#/components/schemas/date_time_iso8601"
        date_updated:
          $ref: "#/components/schemas/date_time_iso8601"
        flex_flow_sid:
          $ref: "#/components/schemas/sid_FO"
        sid:
          $ref: "#/components/schemas/sid_CH"
        url:
          $ref: "#/components/schemas/url"
      type: object
    flex_flow_channel_type:
      enum:
        - web
        - sms
        - facebook
        - whatsapp
        - line
        - custom
      nullable: true
      type: string
    flex_flow_integration_type:
      enum:
        - studio
        - external
        - task
      nullable: true
      type: string
    object:
      nullable: true
      type: object
    object_list:
      items:
        type: object
      nullable: true
      type: array
    sid_AC:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^AC[0-9a-fA-F]{32}$
      type: string
    sid_CH:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^CH[0-9a-fA-F]{32}$
      type: string
    sid_FO:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^FO[0-9a-fA-F]{32}$
      type: string
    sid_IS:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^IS[0-9a-fA-F]{32}$
      type: string
    sid_MG:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^MG[0-9a-fA-F]{32}$
      type: string
    sid_US:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^US[0-9a-fA-F]{32}$
      type: string
    sid_WA:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^WA[0-9a-fA-F]{32}$
      type: string
    sid_WQ:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^WQ[0-9a-fA-F]{32}$
      type: string
    sid_WS:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^WS[0-9a-fA-F]{32}$
      type: string
    sid_WT:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^WT[0-9a-fA-F]{32}$
      type: string
    sid_WW:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^WW[0-9a-fA-F]{32}$
      type: string
    sid_ZS_list:
      items:
        maxLength: 34
        minLength: 34
        pattern: ^ZS[0-9a-fA-F]{32}$
        type: string
      nullable: true
      type: array
    string:
      nullable: true
      type: string
    url:
      format: uri
      nullable: true
      type: string
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: This product is Generally Available.
    name: GA
