openapi: 3.0.0
servers:
  - url: 'https://api.nexmo.com'
info:
  contact:
    email: devrel@nexmo.com
    name: Nexmo DevRel
    url: 'https://developer.nexmo.com/'
  description: |

    <div class="Vlt-callout Vlt-callout--warning" >
      <i></i>
      <div class="Vlt-callout__content">
        <h4>This API is in Early Access</h4>
        <p>Access to the Subaccounts API is not available to everyone at this time. If you're interested in testing these features please email devrel@nexmo.com with your API key and use case</p>
      </div>
    </div>

    The Nexmo Subaccounts API enables you to create subaccounts under your primary account. Subaccounts allow for separate product configuration, reporting, and billing.
  title: Subaccounts
  version: 1.0.0
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: openapi
      url: 'https://raw.githubusercontent.com/nexmo/api-specification/master/definitions/account/subaccounts.yml'
      version: '3.0'
  x-preferred: false
  x-providerName: nexmo.com
  x-serviceName: subaccounts
security:
  - basicAuth: []
paths:
  '/accounts/{api_key}/subaccounts':
    get:
      operationId: listSubaccount
      parameters:
        - description: ID of the primary account
          in: path
          name: api_key
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubaccountsAll'
          description: Subaccounts response
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      summary: Retrieve list of subaccounts
    post:
      operationId: createSubaccount
      parameters:
        - description: ID of the primary account
          in: path
          name: api_key
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSubaccountRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubaccountInfo'
          description: Subaccount response
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      summary: Create subaccount
components:
  responses:
    BadRequestError:
      content:
        application/json:
          schema:
            properties:
              detail:
                example: The request failed due to validation errors
                type: string
              instance:
                example: 158b8f199c45014ab7b08bfe9cc1c12c
                type: string
              invalid_parameters:
                items:
                  properties:
                    name:
                      example: name
                      type: string
                    reason:
                      example: Does not meet length requirements
                      type: string
                  type: object
                type: array
              title:
                example: Bad Request
                type: string
              type:
                example: 'https://developer.nexmo.com/api-errors/account/management#validation'
                type: string
            required:
              - type
              - title
              - detail
              - invalid_parameters
              - instance
            type: object
      description: Bad Request
    ForbiddenError:
      content:
        application/json:
          schema:
            properties:
              detail:
                example: Account acc6111f is not provisioned to access Subaccount Provisioning API
                type: string
              instance:
                example: 158b8f199c45014ab7b08bfe9cc1c12c
                type: string
              title:
                example: Authorisation error
                type: string
              type:
                example: 'https://developer.nexmo.com/api-errors#unprovisioned'
                type: string
            required:
              - type
              - title
              - detail
              - instance
            type: object
      description: Action is forbidden
    NotFoundError:
      content:
        application/json:
          schema:
            properties:
              detail:
                example: 'API key ''acc6111f'' does not exist, or you do not have access'
                type: string
              instance:
                example: 158b8f199c45014ab7b08bfe9cc1c12c
                type: string
              title:
                example: Invalid API Key
                type: string
              type:
                example: 'https://developer.nexmo.com/api-errors#invalid-api-key'
                type: string
            required:
              - type
              - title
              - detail
              - instance
            type: object
      description: The account ID provided does not exist in our system or you do not have access
    UnauthorizedError:
      content:
        application/json:
          schema:
            properties:
              detail:
                example: You did not provide correct credentials
                type: string
              instance:
                example: 798b8f199c45014ab7b08bfe9cc1c12c
                type: string
              title:
                example: Invalid credentials supplied
                type: string
              type:
                example: 'https://developer.nexmo.com/api-errors#unauthorized'
                type: string
            required:
              - type
              - title
              - detail
              - instance
            type: object
      description: Credential is missing or invalid
  schemas:
    NewSubaccountRequest:
      properties:
        name:
          example: Subaccount department A
          type: string
        secret:
          example: Pa(ss£w0rd!1928
          type: string
      required:
        - name
      type: object
    SubaccountInfo:
      example:
        _links:
          self:
            href: /accounts/acc6111f/subaccounts/bbe6222f
        api_key: bbe6222f
        created_at: '2018-03-02T16:34:49Z'
        name: Subaccount department A
        primary_account_api_key: acc6111f
        secret: Pasword123
        terminated: 'false'
        use_primary_account_balance: 'true'
      properties:
        _links:
          example:
            self:
              href: /accounts/acc6111f/subaccounts/bbe6222f
          properties:
            self:
              properties:
                href:
                  example: /accounts/acc6111f/subaccounts/bbe6222f
                  type: string
              type: object
          type: object
        api_key:
          description: Unique subaccount ID
          example: bbe6222f
          type: string
        created_at:
          description: Subaccount creation date and time
          example: '2018-03-02T16:34:49Z'
          type: string
        name:
          description: Name of the subaccount
          example: Subaccount department A
          type: string
        primary_account_api_key:
          description: Unique primary account ID
          example: acc6111f
          type: string
        secret:
          description: API secret of the subaccount
          example: Pa(ss£w0rd!1928
          type: string
        terminated:
          description: Subaccount status
          example: 'false'
          type: string
        use_primary_account_balance:
          description: Flag showing if balance is shared with primary account
          example: 'true'
          type: string
    SubaccountsAll:
      properties:
        _embedded:
          items:
            properties:
              _links:
                example:
                  self:
                    href: /accounts/acc6111f/subaccounts/bbe6222f
                properties:
                  self:
                    properties:
                      href:
                        example: /accounts/acc6111f/subaccounts/bbe6222f
                        type: string
                    type: object
                type: object
              api_key:
                description: Unique subaccount ID
                example: bbe6222f
                type: string
              created_at:
                description: Subaccount creation date and time
                example: '2018-03-02T16:34:49Z'
                type: string
              name:
                description: Name of the subaccount
                example: Subaccount department A
                type: string
              primary_account_api_key:
                description: Unique primary account ID
                example: acc6111f
                type: string
              terminated:
                description: Subaccount status
                example: 'false'
                type: string
              use_primary_account_balance:
                description: Flag showing if balance is shared with primary account
                example: 'true'
                type: string
            type: object
          type: array
        _links:
          example:
            self:
              href: /accounts/acc6111f/subaccounts
          properties:
            self:
              properties:
                href:
                  example: /accounts/acc6111f/subaccounts
                  type: string
              type: object
          type: object
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
