swagger: '2.0'
schemes:
  - https
  - http
host: apps.gov.bc.ca
basePath: /pub/bcgnws
info:
  contact:
    email: geographical.names@gov.bc.ca
    name: BC Geographical Names Office
  description: 'This REST API provides searchable access to information about geographical names in the province of British Columbia, including name status and details about the corresponding geographic feature.'
  license:
    name: Crown Copyright
    url: 'http://www2.gov.bc.ca/gov/content/home/copyright'
  title: BC Geographical Names Web Service -
  version: 3.x.x
  x-apisguru-categories:
    - open_data
  x-logo:
    url: 'https://avatars1.githubusercontent.com/u/916280?v=3&s=200'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/bcgov/api-specs/master/bcgnws/bcgnws.json'
      version: '2.0'
  x-providerName: gov.bc.ca
  x-serviceName: bcgnws
externalDocs:
  description: BC Geographical Names Office
  url: 'http://www2.gov.bc.ca/gov/content/governments/celebrating-british-columbia/historic-places/geographical-names'
produces:
  - application/json
  - application/vnd.google-earth.kml+xml
  - text/xml
  - text/csv
tags:
  - name: search
  - name: name
  - name: feature
  - name: feature taxonomy
  - name: name authority
paths:
  /featureCategories:
    get:
      description: 'Gets a list of all feature categories used by the BC Geographical Names Information System (BCGNIS).  Note: there are three levels of classification in the BCGNIS feature taxonomy: classes, categories and types.  A type is a subset of a category, and a category is a subset of a class.'
      parameters:
        - default: json
          description: The format of the output.
          enum:
            - json
            - xml
          in: query
          name: outputFormat
          required: true
          type: string
      responses:
        '200':
          description: A list of feature categories
      summary: Get all feature categories
      tags:
        - feature taxonomy
  /featureClasses:
    get:
      description: 'Gets a list of all feature classes used by the BC Geographical Names Information System (BCGNIS).  Note: there are three levels of classification in the BCGNIS feature taxonomy: classes, categories and types.  A type is a subset of a category, and a category is a subset of a class.'
      parameters:
        - default: json
          description: The format of the output.
          enum:
            - json
            - xml
          in: query
          name: outputFormat
          required: true
          type: string
      responses:
        '200':
          description: A list of feature classes
      summary: Get all feature classes
      tags:
        - feature taxonomy
  /featureTypes:
    get:
      description: 'Gets a list of all feature types used by the BC Geographical Names Information System (BCGNIS).  Note: there are three levels of classification in the BCGNIS feature taxonomy: classes, categories and types.  A type is a subset of a category, and a category is a subset of a class.'
      parameters:
        - default: json
          description: The format of the output.
          enum:
            - json
            - xml
          in: query
          name: outputFormat
          required: true
          type: string
      responses:
        '200':
          description: A list of feature types
      summary: Get all feature types
      tags:
        - feature taxonomy
  '/features/{featureId}':
    get:
      description: Get information about the geographical feature with the specified featureId.
      parameters:
        - description: The unique identifier for a feature
          in: path
          name: featureId
          required: true
          type: integer
      responses:
        '200':
          description: Information about the feature with the specified featureId (XML format only)
        '404':
          description: The feature with the given featureId doesn't exist
      summary: Get a feature by its featureId
      tags:
        - feature
  /nameAuthorities:
    get:
      description: Gets a list of all name authorities responsible for naming decisions of the geographical names in the BC Geographical Names Information System (BCGNIS)
      parameters:
        - default: json
          description: The format of the output.
          enum:
            - json
            - xml
          in: query
          name: outputFormat
          required: true
          type: string
      responses:
        '200':
          description: A list of name authorities
      summary: Get all name authorities
      tags:
        - name authority
  /names/changes:
    get:
      description: Search for information about geographical names which have changed most recently within a specified time window.  Changes may include status cupdates and metadata corrections.
      parameters:
        - default: json
          description: The format of the output.
          enum:
            - json
            - xml
            - kml
            - csv
          in: query
          name: outputFormat
          required: true
          type: string
        - description: Defines the earliest date (YYYY-MM-DD format) of the change time window for the search
          in: query
          name: fromDate
          required: true
          type: integer
        - description: Defines the latest date (YYYY-MM-DD format) of the change time window for the search
          in: query
          name: toDate
          required: true
          type: integer
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''class''  The value of this parameter should be a ''featureClassCode'' value returned by the /featureClasses resource, or an asterisk (*) to request that all feature classes be included.'
          in: query
          name: featureClass
          required: false
          type: string
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''category''  The value of this parameter should be a ''featureCategoryCode'' value returned by the /featureCategories resource, or an asterisk (*) to request that all feature categories be included.'
          in: query
          name: featureCategory
          required: false
          type: string
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''type''  The value of this parameter should be a ''featureTypeCode'' value returned by the /featureTypes resource, or an asterisk (*) to request that all feature types be included'
          in: query
          name: featureType
          required: false
          type: string
        - default: name
          description: The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.
          enum:
            - name
            - featureType
            - decisionDate
          in: query
          name: sortBy
          required: false
          type: string
        - default: 4326
          description: The EPSG code of the spatial reference system (SRS) to use for output geometries.
          enum:
            - 4326
            - 4269
            - 3005
            - 3857
            - 26907
            - 26908
            - 26909
            - 26910
            - 26911
          in: query
          name: outputSRS
          required: false
          type: integer
        - description: A flag to indicate whether to embed the corresponding 'feature' into each matching name
          enum:
            - 0
            - 1
          in: query
          name: embed
          required: false
          type: integer
        - default: summary
          description: 'A flag indicating whether to include with each matching name a succinct list of attributes (summary), or a comprehensive list of attributes (detail)'
          enum:
            - summary
            - detail
          in: query
          name: outputStyle
          required: false
          type: string
        - default: 20
          description: The number of search results to return (1-200)
          in: query
          name: itemsPerPage
          required: false
          type: integer
        - default: 1
          description: The index of the first record to be returned (>= 1)
          in: query
          name: startIndex
          required: false
          type: integer
      responses:
        '200':
          description: A list of names matching the search criteria
        '400':
          description: A required parameter is missing or invalid
      summary: Search for names with metadata changes in a given period
      tags:
        - search
        - name
  /names/decisions/recent:
    get:
      description: Search for information about geographical names affected by naming 'decisions' made by the BC Geographical Names Office (naming authority) within the last X days.
      parameters:
        - default: json
          description: The format of the output.
          enum:
            - json
            - xml
            - kml
            - csv
          in: query
          name: outputFormat
          required: true
          type: string
        - default: 30
          description: The number of days used to define the time window of naming decisions to search.  The number is interpreted as searching for 'names affected by decisions within the last X days'.
          in: query
          name: days
          required: true
          type: integer
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''class''  The value of this parameter should be a ''featureClassCode'' value returned by the /featureClasses resource, or an asterisk (*) to request that all feature classes be included.'
          in: query
          name: featureClass
          required: false
          type: string
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''category''  The value of this parameter should be a ''featureCategoryCode'' value returned by the /featureCategories resource, or an asterisk (*) to request that all feature categories be included.'
          in: query
          name: featureCategory
          required: false
          type: string
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''type''  The value of this parameter should be a ''featureTypeCode'' value returned by the /featureTypes resource, or an asterisk (*) to request that all feature types be included'
          in: query
          name: featureType
          required: false
          type: string
        - default: name
          description: The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.
          enum:
            - name
            - featureType
            - decisionDate
          in: query
          name: sortBy
          required: false
          type: string
        - default: 4326
          description: The EPSG code of the spatial reference system (SRS) to use for output geometries.
          enum:
            - 4326
            - 4269
            - 3005
            - 3857
            - 26907
            - 26908
            - 26909
            - 26910
            - 26911
          in: query
          name: outputSRS
          required: false
          type: integer
        - description: A flag to indicate whether to embed the corresponding 'feature' into each matching name
          enum:
            - 0
            - 1
          in: query
          name: embed
          required: false
          type: integer
        - default: summary
          description: 'A flag indicating whether to include with each matching name a succinct list of attributes (summary), or a comprehensive list of attributes (detail)'
          enum:
            - summary
            - detail
          in: query
          name: outputStyle
          required: false
          type: string
        - default: 20
          description: The number of search results to return (1-200)
          in: query
          name: itemsPerPage
          required: false
          type: integer
        - default: 1
          description: The index of the first record to be returned (>= 1)
          in: query
          name: startIndex
          required: false
          type: integer
      responses:
        '200':
          description: A list of names matching the search criteria
        '400':
          description: A required parameter is missing or invalid
      summary: Search for names affected by recent naming decision
      tags:
        - search
        - name
  /names/decisions/year:
    get:
      description: Search for information about geographical names affected by naming 'decisions' made by the BC Geographical Names Office (naming authority) in a given year.
      parameters:
        - default: json
          description: The format of the output.
          enum:
            - json
            - xml
            - kml
            - csv
          in: query
          name: outputFormat
          required: true
          type: string
        - description: The year in which to search for names affected by naming decisions'.
          in: query
          name: year
          required: true
          type: integer
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''class''  The value of this parameter should be a ''featureClassCode'' value returned by the /featureClasses resource, or an asterisk (*) to request that all feature classes be included.'
          in: query
          name: featureClass
          required: false
          type: string
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''category''  The value of this parameter should be a ''featureCategoryCode'' value returned by the /featureCategories resource, or an asterisk (*) to request that all feature categories be included.'
          in: query
          name: featureCategory
          required: false
          type: string
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''type''  The value of this parameter should be a ''featureTypeCode'' value returned by the /featureTypes resource, or an asterisk (*) to request that all feature types be included'
          in: query
          name: featureType
          required: false
          type: string
        - default: name
          description: The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.
          enum:
            - name
            - featureType
            - decisionDate
          in: query
          name: sortBy
          required: false
          type: string
        - default: 4326
          description: The EPSG code of the spatial reference system (SRS) to use for output geometries.
          enum:
            - 4326
            - 4269
            - 3005
            - 3857
            - 26907
            - 26908
            - 26909
            - 26910
            - 26911
          in: query
          name: outputSRS
          required: false
          type: integer
        - description: A flag to indicate whether to embed the corresponding 'feature' into each matching name
          enum:
            - 0
            - 1
          in: query
          name: embed
          required: false
          type: integer
        - default: summary
          description: 'A flag indicating whether to include with each matching name a succinct list of attributes (summary), or a comprehensive list of attributes (detail)'
          enum:
            - summary
            - detail
          in: query
          name: outputStyle
          required: false
          type: string
        - default: 20
          description: The number of search results to return (1-200)
          in: query
          name: itemsPerPage
          required: false
          type: integer
        - default: 1
          description: The index of the first record to be returned (>= 1)
          in: query
          name: startIndex
          required: false
          type: integer
      responses:
        '200':
          description: A list of names matching the search criteria
        '400':
          description: A required parameter is missing or invalid
      summary: Search for names affected by naming decisions in a given year
      tags:
        - search
        - name
  /names/inside:
    get:
      description: Search for information about geographical names that correspond to features within a geographic bounding box.  Various options and filter parameters are available to refine the search.
      parameters:
        - default: json
          description: The format of the output.
          enum:
            - json
            - xml
            - kml
            - csv
          in: query
          name: outputFormat
          required: true
          type: string
        - description: 'A geographic bounding box defining the search area.  Must be specified as a string of the form ''minLongitude,minLatitude,maxLongitude,maxLatitude'' (WGS84). e.g. -119,49,-118,50'
          in: query
          name: bbox
          required: true
          type: string
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''class''  The value of this parameter should be a ''featureClassCode'' value returned by the /featureClasses resource, or an asterisk (*) to request that all feature classes be included.'
          in: query
          name: featureClass
          required: false
          type: string
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''category''  The value of this parameter should be a ''featureCategoryCode'' value returned by the /featureCategories resource, or an asterisk (*) to request that all feature categories be included.'
          in: query
          name: featureCategory
          required: false
          type: string
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''type''  The value of this parameter should be a ''featureTypeCode'' value returned by the /featureTypes resource, or an asterisk (*) to request that all feature types be included'
          in: query
          name: featureType
          required: false
          type: string
        - default: name
          description: The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.
          enum:
            - name
            - featureType
            - decisionDate
          in: query
          name: sortBy
          required: false
          type: string
        - default: 4326
          description: The EPSG code of the spatial reference system (SRS) to use for output geometries.
          enum:
            - 4326
            - 4269
            - 3005
            - 3857
            - 26907
            - 26908
            - 26909
            - 26910
            - 26911
          in: query
          name: outputSRS
          required: false
          type: integer
        - description: A flag to indicate whether to embed the corresponding 'feature' into each matching name
          enum:
            - 0
            - 1
          in: query
          name: embed
          required: false
          type: integer
        - default: summary
          description: 'A flag indicating whether to include with each matching name a succinct list of attributes (summary), or a comprehensive list of attributes (detail)'
          enum:
            - summary
            - detail
          in: query
          name: outputStyle
          required: false
          type: string
        - default: 20
          description: The number of search results to return (1-200)
          in: query
          name: itemsPerPage
          required: false
          type: integer
        - default: 1
          description: The index of the first record to be returned (>= 1)
          in: query
          name: startIndex
          required: false
          type: integer
      responses:
        '200':
          description: A list of names matching the search criteria
        '400':
          description: A required parameter is missing or invalid
      summary: Search in a geographic area
      tags:
        - search
        - name
  /names/near:
    get:
      description: Search for information about geographical names that correspond to features within a geographic area defined by a centre point and a radius.  Various options and filter parameters are available to refine the search.
      parameters:
        - default: json
          description: The format of the output.
          enum:
            - json
            - xml
            - kml
            - csv
          in: query
          name: outputFormat
          required: true
          type: string
        - description: 'A geographic coordinate specifying the centre point of the search area.  Must be specified as a string of the form ''longitude,latitude'' (WGS84).  e.g. -120,51'
          in: query
          name: featurePoint
          required: true
          type: string
        - description: A radius (in kilometres) around the centre point.
          in: query
          name: distance
          required: true
          type: string
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''class''  The value of this parameter should be a ''featureClassCode'' value returned by the /featureClasses resource, or an asterisk (*) to request that all feature classes be included.'
          in: query
          name: featureClass
          required: false
          type: string
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''category''  The value of this parameter should be a ''featureCategoryCode'' value returned by the /featureCategories resource, or an asterisk (*) to request that all feature categories be included.'
          in: query
          name: featureCategory
          required: false
          type: string
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''type''  The value of this parameter should be a ''featureTypeCode'' value returned by the /featureTypes resource, or an asterisk (*) to request that all feature types be included'
          in: query
          name: featureType
          required: false
          type: string
        - default: name
          description: The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.
          enum:
            - name
            - featureType
            - decisionDate
          in: query
          name: sortBy
          required: false
          type: string
        - default: 4326
          description: The EPSG code of the spatial reference system (SRS) to use for output geometries.
          enum:
            - 4326
            - 4269
            - 3005
            - 3857
            - 26907
            - 26908
            - 26909
            - 26910
            - 26911
          in: query
          name: outputSRS
          required: false
          type: integer
        - description: A flag to indicate whether to embed the corresponding 'feature' into each matching name
          enum:
            - 0
            - 1
          in: query
          name: embed
          required: false
          type: integer
        - default: summary
          description: 'A flag indicating whether to include with each matching name a succinct list of attributes (summary), or a comprehensive list of attributes (detail)'
          enum:
            - summary
            - detail
          in: query
          name: outputStyle
          required: false
          type: string
        - default: 20
          description: The number of search results to return (1-200)
          in: query
          name: itemsPerPage
          required: false
          type: integer
        - default: 1
          description: The index of the first record to be returned (>= 1)
          in: query
          name: startIndex
          required: false
          type: integer
      responses:
        '200':
          description: A list of names matching the search criteria
        '400':
          description: A required parameter is missing or invalid
      summary: Search near to a geographic point
      tags:
        - search
        - name
  /names/notOfficial/search:
    get:
      description: Search for information about unofficial geographical names by the text of the name itself.  Various options and filter parameters are available to refine the search.
      parameters:
        - default: json
          description: The format of the output.
          enum:
            - json
            - xml
            - kml
            - csv
          in: query
          name: outputFormat
          required: true
          type: string
        - description: A filter to search based on the the text of the name itself.  Use the asterisk (*) as a wildcard character.  For example 'vancouv*'
          in: query
          name: name
          required: true
          type: string
        - default: 0
          description: 'If the ''name'' parameter is specified, ''exactSpelling'' specifies whether to include only names that exactly match the search text (exactSpelling=1), or whether to also include names with similar spellings (exactSpelling=0)'
          enum:
            - 0
            - 1
          in: query
          name: exactSpelling
          required: false
          type: integer
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''class''  The value of this parameter should be a ''featureClassCode'' value returned by the /featureClasses resource, or an asterisk (*) to request that all feature classes be included.'
          in: query
          name: featureClass
          required: false
          type: string
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''category''  The value of this parameter should be a ''featureCategoryCode'' value returned by the /featureCategories resource, or an asterisk (*) to request that all feature categories be included.'
          in: query
          name: featureCategory
          required: false
          type: string
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''type''  The value of this parameter should be a ''featureTypeCode'' value returned by the /featureTypes resource, or an asterisk (*) to request that all feature types be included'
          in: query
          name: featureType
          required: false
          type: string
        - default: relevance
          description: The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.
          enum:
            - relevance
            - name
            - featureType
            - decisionDate
          in: query
          name: sortBy
          required: false
          type: string
        - default: 4326
          description: The EPSG code of the spatial reference system (SRS) to use for output geometries.
          enum:
            - 4326
            - 4269
            - 3005
            - 3857
            - 26907
            - 26908
            - 26909
            - 26910
            - 26911
          in: query
          name: outputSRS
          required: false
          type: integer
        - description: A flag to indicate whether to embed the corresponding 'feature' into each matching name
          enum:
            - 0
            - 1
          in: query
          name: embed
          required: false
          type: integer
        - default: summary
          description: 'A flag indicating whether to include with each matching name a succinct list of attributes (summary), or a comprehensive list of attributes (detail)'
          enum:
            - summary
            - detail
          in: query
          name: outputStyle
          required: false
          type: string
        - default: 20
          description: The number of search results to return (1-200)
          in: query
          name: itemsPerPage
          required: false
          type: integer
        - default: 1
          description: The index of the first record to be returned (>= 1)
          in: query
          name: startIndex
          required: false
          type: integer
      responses:
        '200':
          description: A list of names matching the search criteria
        '400':
          description: A required parameter is missing or invalid
      summary: 'Search by name, limit to unofficial names only'
      tags:
        - search
        - name
  /names/official/search:
    get:
      description: Search for information about official geographical names by the text of the name itself.  Various options and filter parameters are available to refine the search.
      parameters:
        - default: json
          description: The format of the output.
          enum:
            - json
            - xml
            - kml
            - csv
          in: query
          name: outputFormat
          required: true
          type: string
        - description: A filter to search based on the the text of the name itself.  Use the asterisk (*) as a wildcard character.  For example 'vancouv*'
          in: query
          name: name
          required: true
          type: string
        - default: 0
          description: 'If the ''name'' parameter is specified, ''exactSpelling'' specifies whether to include only names that exactly match the search text (exactSpelling=1), or whether to also include names with similar spellings (exactSpelling=0)'
          enum:
            - 0
            - 1
          in: query
          name: exactSpelling
          required: false
          type: integer
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''class''  The value of this parameter should be a ''featureClassCode'' value returned by the /featureClasses resource, or an asterisk (*) to request that all feature classes be included.'
          in: query
          name: featureClass
          required: false
          type: string
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''category''  The value of this parameter should be a ''featureCategoryCode'' value returned by the /featureCategories resource, or an asterisk (*) to request that all feature categories be included.'
          in: query
          name: featureCategory
          required: false
          type: string
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''type''  The value of this parameter should be a ''featureTypeCode'' value returned by the /featureTypes resource, or an asterisk (*) to request that all feature types be included'
          in: query
          name: featureType
          required: false
          type: string
        - default: relevance
          description: The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.
          enum:
            - relevance
            - name
            - featureType
            - decisionDate
          in: query
          name: sortBy
          required: false
          type: string
        - default: 4326
          description: The EPSG code of the spatial reference system (SRS) to use for output geometries.
          enum:
            - 4326
            - 4269
            - 3005
            - 3857
            - 26907
            - 26908
            - 26909
            - 26910
            - 26911
          in: query
          name: outputSRS
          required: false
          type: integer
        - description: A flag to indicate whether to embed the corresponding 'feature' into each matching name
          enum:
            - 0
            - 1
          in: query
          name: embed
          required: false
          type: integer
        - default: summary
          description: 'A flag indicating whether to include with each matching name a succinct list of attributes (summary), or a comprehensive list of attributes (detail)'
          enum:
            - summary
            - detail
          in: query
          name: outputStyle
          required: false
          type: string
        - default: 20
          description: The number of search results to return (1-200)
          in: query
          name: itemsPerPage
          required: false
          type: integer
        - default: 1
          description: The index of the first record to be returned (>= 1)
          in: query
          name: startIndex
          required: false
          type: integer
      responses:
        '200':
          description: A list of names matching the search criteria
        '400':
          description: A required parameter is missing or invalid
      summary: 'Search by name, limit to official names only'
      tags:
        - search
        - name
  /names/search:
    get:
      description: Search for information about geographical names by the text of the name itself.  The response will include both official and unofficial names.  Various options and filter parameters are available to refine the search.
      parameters:
        - default: json
          description: The format of the output.
          enum:
            - json
            - xml
            - kml
            - csv
          in: query
          name: outputFormat
          required: true
          type: string
        - description: A filter to search based on the the text of the name itself.  Use the asterisk (*) as a wildcard character.  For example 'vancouv*'
          in: query
          name: name
          required: true
          type: string
        - default: 0
          description: 'If the ''name'' parameter is specified, ''exactSpelling'' specifies whether to include only names that exactly match the search text (exactSpelling=1), or whether to also include names with similar spellings (exactSpelling=0)'
          enum:
            - 0
            - 1
          in: query
          name: exactSpelling
          required: false
          type: integer
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''class''  The value of this parameter should be a ''featureClassCode'' value returned by the /featureClasses resource, or an asterisk (*) to request that all feature classes be included.'
          in: query
          name: featureClass
          required: false
          type: string
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''category''  The value of this parameter should be a ''featureCategoryCode'' value returned by the /featureCategories resource, or an asterisk (*) to request that all feature categories be included.'
          in: query
          name: featureCategory
          required: false
          type: string
        - default: '*'
          description: 'A filter to limit the search to names associated with features of a certain ''type''  The value of this parameter should be a ''featureTypeCode'' value returned by the /featureTypes resource, or an asterisk (*) to request that all feature types be included'
          in: query
          name: featureType
          required: false
          type: string
        - default: relevance
          description: The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.
          enum:
            - relevance
            - name
            - featureType
            - decisionDate
          in: query
          name: sortBy
          required: false
          type: string
        - default: 4326
          description: The EPSG code of the spatial reference system (SRS) to use for output geometries.
          enum:
            - 4326
            - 4269
            - 3005
            - 3857
            - 26907
            - 26908
            - 26909
            - 26910
            - 26911
          in: query
          name: outputSRS
          required: false
          type: integer
        - description: A flag to indicate whether to embed the corresponding 'feature' into each matching name
          enum:
            - 0
            - 1
          in: query
          name: embed
          required: false
          type: integer
        - default: summary
          description: 'A flag indicating whether to include with each matching name a succinct list of attributes (summary), or a comprehensive list of attributes (detail)'
          enum:
            - summary
            - detail
          in: query
          name: outputStyle
          required: false
          type: string
        - default: 20
          description: The number of search results to return (1-200)
          in: query
          name: itemsPerPage
          required: false
          type: integer
        - default: 1
          description: The index of the first record to be returned (>= 1)
          in: query
          name: startIndex
          required: false
          type: integer
      responses:
        '200':
          description: A list of names matching the search criteria
        '400':
          description: A required parameter is missing or invalid
      summary: Search by name
      tags:
        - search
        - name
  '/names/{nameId}.{outputFormat}':
    get:
      description: Get information about the geographical name with the specified nameId.
      parameters:
        - description: The unique identifier for a name
          in: path
          name: nameId
          required: true
          type: integer
        - default: json
          description: The format of the output.
          enum:
            - json
            - xml
            - kml
            - csv
            - html
          in: path
          name: outputFormat
          required: true
          type: string
      responses:
        '200':
          description: Information about the name with the specified nameId
        '404':
          description: 'The name with the given nameId doesn''t exist, or the output format is invalid.'
      summary: Get a name by its nameId
      tags:
        - name
