openapi: 3.0.0
servers:
  - url: 'https://management.azure.com/'
info:
  description: Azure Application Insights client for web test based alerting.
  title: AppInsightsManagementClient
  version: '2015-05-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-appinsights/2015-05-01/swagger/aiOperations_API.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: arm-appinsights
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  /providers/microsoft.insights/operations:
    get:
      description: Lists all of the available insights REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
        default:
          description: Insights error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    ErrorResponse:
      description: Error reponse indicates Insights service is not able to process the incoming request. The reason is provided in the error message.
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    Operation:
      description: CDN REST API operation
      properties:
        display:
          description: The object that represents the operation.
          properties:
            operation:
              description: 'Operation type: Read, write, delete, etc.'
              type: string
            provider:
              description: 'Service provider: Microsoft.Cdn'
              type: string
            resource:
              description: 'Resource on which the operation is performed: Profile, endpoint, etc.'
              type: string
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
      type: object
    OperationListResult:
      description: Result of the request to list CDN operations. It contains a list of operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
        value:
          description: List of CDN operations supported by the CDN resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
