{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://azure-api.sportsdata.io/v3/lol/projections"
    },
    {
      "url": "https://azure-api.sportsdata.io/v3/lol/projections"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "description": "LoL v3 Projections",
    "title": "LoL v3 Projections",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/lol-v3-projections.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "sportsdata.io",
    "x-serviceName": "lol-v3-projections"
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/{format}/DfsSlatesByDate/{date}": {
      "get": {
        "operationId": "DfsSlatesByDate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DfsSlate"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Dfs Slates By Date"
      }
    },
    "/{format}/PlayerGameProjectionStatsByDate/{date}": {
      "get": {
        "description": "Projected Player Game Stats by Date",
        "operationId": "ProjectedPlayerGameStatsByDate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Example: <code>2019-01-20</code>",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PlayerGameProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Projected Player Game Stats by Date"
      }
    },
    "/{format}/PlayerGameProjectionStatsByPlayer/{date}/{playerid}": {
      "get": {
        "description": "Projected Player Game Stats by Date",
        "operationId": "ProjectedPlayerGameStatsByPlayer",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Example: <code>2019-01-20</code>",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Player ID.\nExample:<code>100001500</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PlayerGameProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Projected Player Game Stats by Player"
      }
    }
  },
  "components": {
    "schemas": {
      "DfsSlate": {
        "properties": {
          "DfsSlateGames": {
            "items": {
              "$ref": "#/components/schemas/DfsSlateGame"
            },
            "type": "array"
          },
          "DfsSlatePlayers": {
            "items": {
              "$ref": "#/components/schemas/DfsSlatePlayer"
            },
            "type": "array"
          },
          "IsMultiDaySlate": {
            "nullable": true,
            "type": "boolean"
          },
          "NumberOfGames": {
            "nullable": true,
            "type": "integer"
          },
          "Operator": {
            "nullable": true,
            "type": "string"
          },
          "OperatorDay": {
            "nullable": true,
            "type": "string"
          },
          "OperatorGameType": {
            "nullable": true,
            "type": "string"
          },
          "OperatorName": {
            "nullable": true,
            "type": "string"
          },
          "OperatorSlateID": {
            "nullable": true,
            "type": "integer"
          },
          "OperatorStartTime": {
            "nullable": true,
            "type": "string"
          },
          "RemovedByOperator": {
            "nullable": true,
            "type": "boolean"
          },
          "SalaryCap": {
            "nullable": true,
            "type": "integer"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          },
          "SlateRosterSlots": {
            "items": {
              "nullable": true,
              "type": "string"
            },
            "type": "array"
          },
          "VideoGameId": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "DfsSlateGame": {
        "properties": {
          "Game": {
            "$ref": "#/components/schemas/Game"
          },
          "GameID": {
            "nullable": true,
            "type": "integer"
          },
          "OperatorGameID": {
            "nullable": true,
            "type": "integer"
          },
          "RemovedByOperator": {
            "nullable": true,
            "type": "boolean"
          },
          "SlateGameID": {
            "nullable": false,
            "type": "integer"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "DfsSlatePlayer": {
        "properties": {
          "OperatorPlayerID": {
            "nullable": true,
            "type": "string"
          },
          "OperatorPlayerName": {
            "nullable": true,
            "type": "string"
          },
          "OperatorPosition": {
            "nullable": true,
            "type": "string"
          },
          "OperatorRosterSlots": {
            "items": {
              "nullable": true,
              "type": "string"
            },
            "type": "array"
          },
          "OperatorSalary": {
            "nullable": true,
            "type": "integer"
          },
          "OperatorSlatePlayerID": {
            "nullable": true,
            "type": "string"
          },
          "PlayerGameProjectionStatID": {
            "nullable": true,
            "type": "integer"
          },
          "PlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "RemovedByOperator": {
            "nullable": true,
            "type": "boolean"
          },
          "SlateGameID": {
            "nullable": true,
            "type": "integer"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          },
          "SlatePlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "Game": {
        "properties": {
          "BestOf": {
            "nullable": true,
            "type": "string"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "DrawMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "GameId": {
            "nullable": false,
            "type": "integer"
          },
          "Group": {
            "nullable": true,
            "type": "string"
          },
          "IsClosed": {
            "nullable": true,
            "type": "boolean"
          },
          "PointSpread": {
            "nullable": true,
            "type": "number"
          },
          "RoundId": {
            "nullable": false,
            "type": "integer"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": false,
            "type": "integer"
          },
          "Status": {
            "nullable": true,
            "type": "string"
          },
          "TeamAId": {
            "nullable": true,
            "type": "integer"
          },
          "TeamAKey": {
            "nullable": true,
            "type": "string"
          },
          "TeamAMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "TeamAName": {
            "nullable": true,
            "type": "string"
          },
          "TeamAPointSpreadPayout": {
            "nullable": true,
            "type": "integer"
          },
          "TeamAScore": {
            "nullable": true,
            "type": "integer"
          },
          "TeamBId": {
            "nullable": true,
            "type": "integer"
          },
          "TeamBKey": {
            "nullable": true,
            "type": "string"
          },
          "TeamBMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "TeamBName": {
            "nullable": true,
            "type": "string"
          },
          "TeamBPointSpreadPayout": {
            "nullable": true,
            "type": "integer"
          },
          "TeamBScore": {
            "nullable": true,
            "type": "integer"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "UpdatedUtc": {
            "nullable": true,
            "type": "string"
          },
          "VenueId": {
            "nullable": true,
            "type": "integer"
          },
          "VenueType": {
            "nullable": true,
            "type": "string"
          },
          "Week": {
            "nullable": true,
            "type": "integer"
          },
          "Winner": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "PlayerGameProjection": {
        "properties": {
          "Assists": {
            "nullable": true,
            "type": "number"
          },
          "CombatPlayerScore": {
            "nullable": true,
            "type": "number"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "Deaths": {
            "nullable": true,
            "type": "number"
          },
          "DoubleKills": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "GameId": {
            "nullable": false,
            "type": "integer"
          },
          "Games": {
            "nullable": false,
            "type": "integer"
          },
          "GoldEarned": {
            "nullable": true,
            "type": "number"
          },
          "GoldSpent": {
            "nullable": true,
            "type": "number"
          },
          "InhibitorKills": {
            "nullable": true,
            "type": "number"
          },
          "IsClosed": {
            "nullable": false,
            "type": "boolean"
          },
          "KillingSpree": {
            "nullable": true,
            "type": "number"
          },
          "Kills": {
            "nullable": true,
            "type": "number"
          },
          "LargestCriticalStrike": {
            "nullable": true,
            "type": "number"
          },
          "LargestKillingSpree": {
            "nullable": true,
            "type": "number"
          },
          "LargestMultiKill": {
            "nullable": true,
            "type": "number"
          },
          "LongestTimeSpentLiving": {
            "nullable": true,
            "type": "number"
          },
          "MagicDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "MagicDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "MagicDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "MatchName": {
            "nullable": true,
            "type": "string"
          },
          "Matches": {
            "nullable": false,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "NeutralMinionsKIlled": {
            "nullable": true,
            "type": "number"
          },
          "NeutralMinionsKIlledTeamJungle": {
            "nullable": true,
            "type": "number"
          },
          "NeutralMinionsKilledEnemyJungle": {
            "nullable": true,
            "type": "number"
          },
          "ObjectivePlayerScore": {
            "nullable": true,
            "type": "number"
          },
          "Opponent": {
            "nullable": true,
            "type": "string"
          },
          "OpponentId": {
            "nullable": false,
            "type": "integer"
          },
          "PentaKills": {
            "nullable": true,
            "type": "number"
          },
          "PhysicalDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "PhysicalDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "PhysicalDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "PlayerId": {
            "nullable": false,
            "type": "integer"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "QuadraKills": {
            "nullable": true,
            "type": "number"
          },
          "SightWardsBoughtInGame": {
            "nullable": true,
            "type": "number"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamId": {
            "nullable": true,
            "type": "integer"
          },
          "TenKillsOrAssists": {
            "nullable": true,
            "type": "number"
          },
          "TotalDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "TotalDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "TotalDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "TotalHeal": {
            "nullable": true,
            "type": "number"
          },
          "TotalMinionsKilled": {
            "nullable": true,
            "type": "number"
          },
          "TotalPlayerScore": {
            "nullable": true,
            "type": "number"
          },
          "TotalTimeCrowdControlDealt": {
            "nullable": true,
            "type": "number"
          },
          "TotalUnitsHealed": {
            "nullable": true,
            "type": "number"
          },
          "TripleKills": {
            "nullable": true,
            "type": "number"
          },
          "TrueDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "TrueDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "TrueDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "TurretKills": {
            "nullable": true,
            "type": "number"
          },
          "UnrealKills": {
            "nullable": true,
            "type": "number"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "VisionWardsBoughtInGame": {
            "nullable": true,
            "type": "number"
          },
          "WardsKilled": {
            "nullable": true,
            "type": "number"
          },
          "WardsPlaced": {
            "nullable": true,
            "type": "number"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "type": "apiKey"
      },
      "apiKeyQuery": {
        "in": "query",
        "name": "key",
        "type": "apiKey"
      }
    }
  }
}