openapi: 3.0.0
servers:
  - url: 'http://codedeploy.amazonaws.com/'
info:
  version: '2014-10-06'
  x-release: v4
  title: AWS CodeDeploy
  description: '<fullname>AWS CodeDeploy</fullname> <p>AWS CodeDeploy is a deployment service that automates application deployments to Amazon EC2 instances or on-premises instances running in your own facility.</p> <p>You can deploy a nearly unlimited variety of application content, such as code, web and configuration files, executables, packages, scripts, multimedia files, and so on. AWS CodeDeploy can deploy application content stored in Amazon S3 buckets, GitHub repositories, or Bitbucket repositories. You do not need to make changes to your existing code before you can use AWS CodeDeploy.</p> <p>AWS CodeDeploy makes it easier for you to rapidly release new features, helps you avoid downtime during application deployment, and handles the complexity of updating your applications, without many of the risks associated with error-prone manual deployments.</p> <p> <b>AWS CodeDeploy Components</b> </p> <p>Use the information in this guide to help you work with the following AWS CodeDeploy components:</p> <ul> <li> <p> <b>Application</b>: A name that uniquely identifies the application you want to deploy. AWS CodeDeploy uses this name, which functions as a container, to ensure the correct combination of revision, deployment configuration, and deployment group are referenced during a deployment.</p> </li> <li> <p> <b>Deployment group</b>: A set of individual instances. A deployment group contains individually tagged instances, Amazon EC2 instances in Auto Scaling groups, or both. </p> </li> <li> <p> <b>Deployment configuration</b>: A set of deployment rules and deployment success and failure conditions used by AWS CodeDeploy during a deployment.</p> </li> <li> <p> <b>Deployment</b>: The process, and the components involved in the process, of installing content on one or more instances. </p> </li> <li> <p> <b>Application revisions</b>: An archive file containing source content—source code, web pages, executable files, and deployment scripts—along with an application specification file (AppSpec file). Revisions are stored in Amazon S3 buckets or GitHub repositories. For Amazon S3, a revision is uniquely identified by its Amazon S3 object key and its ETag, version, or both. For GitHub, a revision is uniquely identified by its commit ID.</p> </li> </ul> <p>This guide also contains information to help you get details about the instances in your deployments and to make on-premises instances available for AWS CodeDeploy deployments.</p> <p> <b>AWS CodeDeploy Information Resources</b> </p> <ul> <li> <p> <a href="http://docs.aws.amazon.com/codedeploy/latest/userguide">AWS CodeDeploy User Guide</a> </p> </li> <li> <p> <a href="http://docs.aws.amazon.com/codedeploy/latest/APIReference/">AWS CodeDeploy API Reference Guide</a> </p> </li> <li> <p> <a href="http://docs.aws.amazon.com/cli/latest/reference/deploy/index.html">AWS CLI Reference for AWS CodeDeploy</a> </p> </li> <li> <p> <a href="https://forums.aws.amazon.com/forum.jspa?forumID=179">AWS CodeDeploy Developer Forum</a> </p> </li> </ul>'
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: codedeploy
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codedeploy-2014-10-06.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/codedeploy/'
x-hasEquivalentPaths: true
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddTagsToOnPremisesInstances
      description: Adds tags to on-premises instances.
      responses:
        '200':
          description: Success
        '480':
          description: InstanceNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceNameRequiredException'
        '481':
          description: TagRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagRequiredException'
        '482':
          description: InvalidTagException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTagException'
        '483':
          description: TagLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagLimitExceededException'
        '484':
          description: InstanceLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceLimitExceededException'
        '485':
          description: InstanceNotRegisteredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceNotRegisteredException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTagsToOnPremisesInstancesInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#BatchGetApplicationRevisions':
    post:
      operationId: BatchGetApplicationRevisions
      description: Gets information about one or more application revisions.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetApplicationRevisionsOutput'
        '480':
          description: ApplicationDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDoesNotExistException'
        '481':
          description: ApplicationNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNameRequiredException'
        '482':
          description: InvalidApplicationNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApplicationNameException'
        '483':
          description: RevisionRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevisionRequiredException'
        '484':
          description: InvalidRevisionException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRevisionException'
        '485':
          description: BatchLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchLimitExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchGetApplicationRevisionsInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#BatchGetApplications':
    post:
      operationId: BatchGetApplications
      description: Gets information about one or more applications.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetApplicationsOutput'
        '480':
          description: ApplicationNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDoesNotExistException'
        '483':
          description: BatchLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchLimitExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchGetApplicationsInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#BatchGetDeploymentGroups':
    post:
      operationId: BatchGetDeploymentGroups
      description: Gets information about one or more deployment groups.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetDeploymentGroupsOutput'
        '480':
          description: ApplicationNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDoesNotExistException'
        '483':
          description: DeploymentGroupNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentGroupNameRequiredException'
        '484':
          description: InvalidDeploymentGroupNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentGroupNameException'
        '485':
          description: BatchLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchLimitExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchGetDeploymentGroupsInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#BatchGetDeploymentInstances':
    post:
      operationId: BatchGetDeploymentInstances
      description: Gets information about one or more instance that are part of a deployment group.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetDeploymentInstancesOutput'
        '480':
          description: DeploymentIdRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentIdRequiredException'
        '481':
          description: DeploymentDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentDoesNotExistException'
        '482':
          description: InstanceIdRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceIdRequiredException'
        '483':
          description: InvalidDeploymentIdException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentIdException'
        '484':
          description: InvalidInstanceNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInstanceNameException'
        '485':
          description: BatchLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchLimitExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchGetDeploymentInstancesInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#BatchGetDeployments':
    post:
      operationId: BatchGetDeployments
      description: Gets information about one or more deployments.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetDeploymentsOutput'
        '480':
          description: DeploymentIdRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentIdRequiredException'
        '481':
          description: InvalidDeploymentIdException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentIdException'
        '482':
          description: BatchLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchLimitExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchGetDeploymentsInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#BatchGetOnPremisesInstances':
    post:
      operationId: BatchGetOnPremisesInstances
      description: Gets information about one or more on-premises instances.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetOnPremisesInstancesOutput'
        '480':
          description: InstanceNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceNameRequiredException'
        '481':
          description: InvalidInstanceNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInstanceNameException'
        '482':
          description: BatchLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchLimitExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchGetOnPremisesInstancesInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ContinueDeployment':
    post:
      operationId: ContinueDeployment
      description: 'For a blue/green deployment, starts the process of rerouting traffic from instances in the original environment to instances in the replacement environment without waiting for a specified wait time to elapse. (Traffic rerouting, which is achieved by registering instances in the replacement environment with the load balancer, can start as soon as all instances have a status of Ready.) '
      responses:
        '200':
          description: Success
        '480':
          description: DeploymentIdRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentIdRequiredException'
        '481':
          description: DeploymentDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentDoesNotExistException'
        '482':
          description: DeploymentAlreadyCompletedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentAlreadyCompletedException'
        '483':
          description: InvalidDeploymentIdException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentIdException'
        '484':
          description: DeploymentIsNotInReadyStateException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentIsNotInReadyStateException'
        '485':
          description: UnsupportedActionForDeploymentTypeException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedActionForDeploymentTypeException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContinueDeploymentInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateApplication':
    post:
      operationId: CreateApplication
      description: Creates an application.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApplicationOutput'
        '480':
          description: ApplicationNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApplicationNameException'
        '482':
          description: ApplicationAlreadyExistsException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationAlreadyExistsException'
        '483':
          description: ApplicationLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationLimitExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateDeployment':
    post:
      operationId: CreateDeployment
      description: Deploys an application revision through the specified deployment group.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDeploymentOutput'
        '480':
          description: ApplicationNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDoesNotExistException'
        '483':
          description: DeploymentGroupNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentGroupNameRequiredException'
        '484':
          description: InvalidDeploymentGroupNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentGroupNameException'
        '485':
          description: DeploymentGroupDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentGroupDoesNotExistException'
        '486':
          description: RevisionRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevisionRequiredException'
        '487':
          description: RevisionDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevisionDoesNotExistException'
        '488':
          description: InvalidRevisionException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRevisionException'
        '489':
          description: InvalidDeploymentConfigNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentConfigNameException'
        '490':
          description: DeploymentConfigDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfigDoesNotExistException'
        '491':
          description: DescriptionTooLongException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescriptionTooLongException'
        '492':
          description: DeploymentLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentLimitExceededException'
        '493':
          description: InvalidTargetInstancesException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTargetInstancesException'
        '494':
          description: InvalidAutoRollbackConfigException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidAutoRollbackConfigException'
        '495':
          description: InvalidLoadBalancerInfoException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidLoadBalancerInfoException'
        '496':
          description: InvalidFileExistsBehaviorException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidFileExistsBehaviorException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeploymentInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateDeploymentConfig':
    post:
      operationId: CreateDeploymentConfig
      description: Creates a deployment configuration.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDeploymentConfigOutput'
        '480':
          description: InvalidDeploymentConfigNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentConfigNameException'
        '481':
          description: DeploymentConfigNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfigNameRequiredException'
        '482':
          description: DeploymentConfigAlreadyExistsException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfigAlreadyExistsException'
        '483':
          description: InvalidMinimumHealthyHostValueException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidMinimumHealthyHostValueException'
        '484':
          description: DeploymentConfigLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfigLimitExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeploymentConfigInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateDeploymentGroup':
    post:
      operationId: CreateDeploymentGroup
      description: Creates a deployment group to which application revisions will be deployed.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDeploymentGroupOutput'
        '480':
          description: ApplicationNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDoesNotExistException'
        '483':
          description: DeploymentGroupNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentGroupNameRequiredException'
        '484':
          description: InvalidDeploymentGroupNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentGroupNameException'
        '485':
          description: DeploymentGroupAlreadyExistsException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentGroupAlreadyExistsException'
        '486':
          description: InvalidEC2TagException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidEC2TagException'
        '487':
          description: InvalidTagException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTagException'
        '488':
          description: InvalidAutoScalingGroupException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidAutoScalingGroupException'
        '489':
          description: InvalidDeploymentConfigNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentConfigNameException'
        '490':
          description: DeploymentConfigDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfigDoesNotExistException'
        '491':
          description: RoleRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleRequiredException'
        '492':
          description: InvalidRoleException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRoleException'
        '493':
          description: DeploymentGroupLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentGroupLimitExceededException'
        '494':
          description: LifecycleHookLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LifecycleHookLimitExceededException'
        '495':
          description: InvalidTriggerConfigException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTriggerConfigException'
        '496':
          description: TriggerTargetsLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerTargetsLimitExceededException'
        '497':
          description: InvalidAlarmConfigException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidAlarmConfigException'
        '498':
          description: AlarmsLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlarmsLimitExceededException'
        '499':
          description: InvalidAutoRollbackConfigException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidAutoRollbackConfigException'
        '500':
          description: InvalidLoadBalancerInfoException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidLoadBalancerInfoException'
        '501':
          description: InvalidDeploymentStyleException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentStyleException'
        '502':
          description: InvalidBlueGreenDeploymentConfigurationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBlueGreenDeploymentConfigurationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeploymentGroupInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteApplication':
    post:
      operationId: DeleteApplication
      description: Deletes an application.
      responses:
        '200':
          description: Success
        '480':
          description: ApplicationNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApplicationNameException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteApplicationInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteDeploymentConfig':
    post:
      operationId: DeleteDeploymentConfig
      description: <p>Deletes a deployment configuration.</p> <note> <p>A deployment configuration cannot be deleted if it is currently in use. Predefined configurations cannot be deleted.</p> </note>
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDeploymentConfigNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentConfigNameException'
        '481':
          description: DeploymentConfigNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfigNameRequiredException'
        '482':
          description: DeploymentConfigInUseException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfigInUseException'
        '483':
          description: InvalidOperationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidOperationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDeploymentConfigInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteDeploymentGroup':
    post:
      operationId: DeleteDeploymentGroup
      description: Deletes a deployment group.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDeploymentGroupOutput'
        '480':
          description: ApplicationNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApplicationNameException'
        '482':
          description: DeploymentGroupNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentGroupNameRequiredException'
        '483':
          description: InvalidDeploymentGroupNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentGroupNameException'
        '484':
          description: InvalidRoleException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRoleException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDeploymentGroupInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeregisterOnPremisesInstance':
    post:
      operationId: DeregisterOnPremisesInstance
      description: Deregisters an on-premises instance.
      responses:
        '200':
          description: Success
        '480':
          description: InstanceNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceNameRequiredException'
        '481':
          description: InvalidInstanceNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInstanceNameException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeregisterOnPremisesInstanceInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetApplication':
    post:
      operationId: GetApplication
      description: Gets information about an application.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApplicationOutput'
        '480':
          description: ApplicationNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDoesNotExistException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetApplicationInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetApplicationRevision':
    post:
      operationId: GetApplicationRevision
      description: Gets information about an application revision.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApplicationRevisionOutput'
        '480':
          description: ApplicationDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDoesNotExistException'
        '481':
          description: ApplicationNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNameRequiredException'
        '482':
          description: InvalidApplicationNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApplicationNameException'
        '483':
          description: RevisionDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevisionDoesNotExistException'
        '484':
          description: RevisionRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevisionRequiredException'
        '485':
          description: InvalidRevisionException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRevisionException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetApplicationRevisionInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetDeployment':
    post:
      operationId: GetDeployment
      description: Gets information about a deployment.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeploymentOutput'
        '480':
          description: DeploymentIdRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentIdRequiredException'
        '481':
          description: InvalidDeploymentIdException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentIdException'
        '482':
          description: DeploymentDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentDoesNotExistException'
      x-waiters:
        - delay: 15
          operation: GetDeployment
          maxAttempts: 120
          acceptors:
            - expected: Succeeded
              matcher: path
              state: success
              argument: deploymentInfo.status
            - expected: Failed
              matcher: path
              state: failure
              argument: deploymentInfo.status
            - expected: Stopped
              matcher: path
              state: failure
              argument: deploymentInfo.status
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetDeploymentInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetDeploymentConfig':
    post:
      operationId: GetDeploymentConfig
      description: Gets information about a deployment configuration.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeploymentConfigOutput'
        '480':
          description: InvalidDeploymentConfigNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentConfigNameException'
        '481':
          description: DeploymentConfigNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfigNameRequiredException'
        '482':
          description: DeploymentConfigDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfigDoesNotExistException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetDeploymentConfigInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetDeploymentGroup':
    post:
      operationId: GetDeploymentGroup
      description: Gets information about a deployment group.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeploymentGroupOutput'
        '480':
          description: ApplicationNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDoesNotExistException'
        '483':
          description: DeploymentGroupNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentGroupNameRequiredException'
        '484':
          description: InvalidDeploymentGroupNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentGroupNameException'
        '485':
          description: DeploymentGroupDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentGroupDoesNotExistException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetDeploymentGroupInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetDeploymentInstance':
    post:
      operationId: GetDeploymentInstance
      description: Gets information about an instance as part of a deployment.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeploymentInstanceOutput'
        '480':
          description: DeploymentIdRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentIdRequiredException'
        '481':
          description: DeploymentDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentDoesNotExistException'
        '482':
          description: InstanceIdRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceIdRequiredException'
        '483':
          description: InvalidDeploymentIdException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentIdException'
        '484':
          description: InstanceDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceDoesNotExistException'
        '485':
          description: InvalidInstanceNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInstanceNameException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetDeploymentInstanceInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetOnPremisesInstance':
    post:
      operationId: GetOnPremisesInstance
      description: Gets information about an on-premises instance.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOnPremisesInstanceOutput'
        '480':
          description: InstanceNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceNameRequiredException'
        '481':
          description: InstanceNotRegisteredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceNotRegisteredException'
        '482':
          description: InvalidInstanceNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInstanceNameException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOnPremisesInstanceInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListApplicationRevisions':
    post:
      operationId: ListApplicationRevisions
      description: Lists information about revisions for an application.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApplicationRevisionsOutput'
        '480':
          description: ApplicationDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDoesNotExistException'
        '481':
          description: ApplicationNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNameRequiredException'
        '482':
          description: InvalidApplicationNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApplicationNameException'
        '483':
          description: InvalidSortByException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidSortByException'
        '484':
          description: InvalidSortOrderException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidSortOrderException'
        '485':
          description: InvalidBucketNameFilterException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBucketNameFilterException'
        '486':
          description: InvalidKeyPrefixFilterException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidKeyPrefixFilterException'
        '487':
          description: BucketNameFilterRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketNameFilterRequiredException'
        '488':
          description: InvalidDeployedStateFilterException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeployedStateFilterException'
        '489':
          description: InvalidNextTokenException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidNextTokenException'
      parameters:
        - name: nextToken
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListApplicationRevisionsInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListApplications':
    post:
      operationId: ListApplications
      description: Lists the applications registered with the applicable IAM user or AWS account.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApplicationsOutput'
        '480':
          description: InvalidNextTokenException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidNextTokenException'
      parameters:
        - name: nextToken
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListApplicationsInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListDeploymentConfigs':
    post:
      operationId: ListDeploymentConfigs
      description: Lists the deployment configurations with the applicable IAM user or AWS account.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeploymentConfigsOutput'
        '480':
          description: InvalidNextTokenException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidNextTokenException'
      parameters:
        - name: nextToken
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListDeploymentConfigsInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListDeploymentGroups':
    post:
      operationId: ListDeploymentGroups
      description: Lists the deployment groups for an application registered with the applicable IAM user or AWS account.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeploymentGroupsOutput'
        '480':
          description: ApplicationNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDoesNotExistException'
        '483':
          description: InvalidNextTokenException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidNextTokenException'
      parameters:
        - name: nextToken
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListDeploymentGroupsInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListDeploymentInstances':
    post:
      operationId: ListDeploymentInstances
      description: Lists the instance for a deployment associated with the applicable IAM user or AWS account.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeploymentInstancesOutput'
        '480':
          description: DeploymentIdRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentIdRequiredException'
        '481':
          description: DeploymentDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentDoesNotExistException'
        '482':
          description: DeploymentNotStartedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentNotStartedException'
        '483':
          description: InvalidNextTokenException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidNextTokenException'
        '484':
          description: InvalidDeploymentIdException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentIdException'
        '485':
          description: InvalidInstanceStatusException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInstanceStatusException'
        '486':
          description: InvalidInstanceTypeException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInstanceTypeException'
        '487':
          description: InvalidDeploymentInstanceTypeException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentInstanceTypeException'
      parameters:
        - name: nextToken
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListDeploymentInstancesInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListDeployments':
    post:
      operationId: ListDeployments
      description: Lists the deployments in a deployment group for an application registered with the applicable IAM user or AWS account.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeploymentsOutput'
        '480':
          description: ApplicationNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDoesNotExistException'
        '483':
          description: InvalidDeploymentGroupNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentGroupNameException'
        '484':
          description: DeploymentGroupDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentGroupDoesNotExistException'
        '485':
          description: DeploymentGroupNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentGroupNameRequiredException'
        '486':
          description: InvalidTimeRangeException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTimeRangeException'
        '487':
          description: InvalidDeploymentStatusException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentStatusException'
        '488':
          description: InvalidNextTokenException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidNextTokenException'
      parameters:
        - name: nextToken
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListDeploymentsInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListGitHubAccountTokenNames':
    post:
      operationId: ListGitHubAccountTokenNames
      description: Lists the names of stored connections to GitHub accounts.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGitHubAccountTokenNamesOutput'
        '480':
          description: InvalidNextTokenException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidNextTokenException'
        '481':
          description: ResourceValidationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceValidationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListGitHubAccountTokenNamesInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListOnPremisesInstances':
    post:
      operationId: ListOnPremisesInstances
      description: '<p>Gets a list of names for one or more on-premises instances.</p> <p>Unless otherwise specified, both registered and deregistered on-premises instance names will be listed. To list only registered or deregistered on-premises instance names, use the registration status parameter.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOnPremisesInstancesOutput'
        '480':
          description: InvalidRegistrationStatusException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRegistrationStatusException'
        '481':
          description: InvalidTagFilterException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTagFilterException'
        '482':
          description: InvalidNextTokenException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidNextTokenException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListOnPremisesInstancesInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#RegisterApplicationRevision':
    post:
      operationId: RegisterApplicationRevision
      description: Registers with AWS CodeDeploy a revision for the specified application.
      responses:
        '200':
          description: Success
        '480':
          description: ApplicationDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDoesNotExistException'
        '481':
          description: ApplicationNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNameRequiredException'
        '482':
          description: InvalidApplicationNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApplicationNameException'
        '483':
          description: DescriptionTooLongException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescriptionTooLongException'
        '484':
          description: RevisionRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevisionRequiredException'
        '485':
          description: InvalidRevisionException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRevisionException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterApplicationRevisionInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#RegisterOnPremisesInstance':
    post:
      operationId: RegisterOnPremisesInstance
      description: <p>Registers an on-premises instance.</p> <note> <p>Only one IAM ARN (an IAM session ARN or IAM user ARN) is supported in the request. You cannot use both.</p> </note>
      responses:
        '200':
          description: Success
        '480':
          description: InstanceNameAlreadyRegisteredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceNameAlreadyRegisteredException'
        '481':
          description: IamArnRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IamArnRequiredException'
        '482':
          description: IamSessionArnAlreadyRegisteredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IamSessionArnAlreadyRegisteredException'
        '483':
          description: IamUserArnAlreadyRegisteredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IamUserArnAlreadyRegisteredException'
        '484':
          description: InstanceNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceNameRequiredException'
        '485':
          description: IamUserArnRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IamUserArnRequiredException'
        '486':
          description: InvalidInstanceNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInstanceNameException'
        '487':
          description: InvalidIamSessionArnException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidIamSessionArnException'
        '488':
          description: InvalidIamUserArnException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidIamUserArnException'
        '489':
          description: MultipleIamArnsProvidedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleIamArnsProvidedException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterOnPremisesInstanceInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#RemoveTagsFromOnPremisesInstances':
    post:
      operationId: RemoveTagsFromOnPremisesInstances
      description: Removes one or more tags from one or more on-premises instances.
      responses:
        '200':
          description: Success
        '480':
          description: InstanceNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceNameRequiredException'
        '481':
          description: TagRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagRequiredException'
        '482':
          description: InvalidTagException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTagException'
        '483':
          description: TagLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagLimitExceededException'
        '484':
          description: InstanceLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceLimitExceededException'
        '485':
          description: InstanceNotRegisteredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceNotRegisteredException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveTagsFromOnPremisesInstancesInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#SkipWaitTimeForInstanceTermination':
    post:
      operationId: SkipWaitTimeForInstanceTermination
      description: 'In a blue/green deployment, overrides any specified wait time and starts terminating instances immediately after the traffic routing is completed.'
      responses:
        '200':
          description: Success
        '480':
          description: DeploymentIdRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentIdRequiredException'
        '481':
          description: DeploymentDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentDoesNotExistException'
        '482':
          description: DeploymentAlreadyCompletedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentAlreadyCompletedException'
        '483':
          description: InvalidDeploymentIdException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentIdException'
        '484':
          description: DeploymentNotStartedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentNotStartedException'
        '485':
          description: UnsupportedActionForDeploymentTypeException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedActionForDeploymentTypeException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkipWaitTimeForInstanceTerminationInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#StopDeployment':
    post:
      operationId: StopDeployment
      description: Attempts to stop an ongoing deployment.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopDeploymentOutput'
        '480':
          description: DeploymentIdRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentIdRequiredException'
        '481':
          description: DeploymentDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentDoesNotExistException'
        '482':
          description: DeploymentAlreadyCompletedException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentAlreadyCompletedException'
        '483':
          description: InvalidDeploymentIdException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentIdException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopDeploymentInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#UpdateApplication':
    post:
      operationId: UpdateApplication
      description: Changes the name of an application.
      responses:
        '200':
          description: Success
        '480':
          description: ApplicationNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApplicationNameException'
        '482':
          description: ApplicationAlreadyExistsException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationAlreadyExistsException'
        '483':
          description: ApplicationDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDoesNotExistException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApplicationInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#UpdateDeploymentGroup':
    post:
      operationId: UpdateDeploymentGroup
      description: Changes information about a deployment group.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateDeploymentGroupOutput'
        '480':
          description: ApplicationNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDoesNotExistException'
        '483':
          description: InvalidDeploymentGroupNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentGroupNameException'
        '484':
          description: DeploymentGroupAlreadyExistsException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentGroupAlreadyExistsException'
        '485':
          description: DeploymentGroupNameRequiredException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentGroupNameRequiredException'
        '486':
          description: DeploymentGroupDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentGroupDoesNotExistException'
        '487':
          description: InvalidEC2TagException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidEC2TagException'
        '488':
          description: InvalidTagException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTagException'
        '489':
          description: InvalidAutoScalingGroupException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidAutoScalingGroupException'
        '490':
          description: InvalidDeploymentConfigNameException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentConfigNameException'
        '491':
          description: DeploymentConfigDoesNotExistException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfigDoesNotExistException'
        '492':
          description: InvalidRoleException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRoleException'
        '493':
          description: LifecycleHookLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LifecycleHookLimitExceededException'
        '494':
          description: InvalidTriggerConfigException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidTriggerConfigException'
        '495':
          description: TriggerTargetsLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerTargetsLimitExceededException'
        '496':
          description: InvalidAlarmConfigException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidAlarmConfigException'
        '497':
          description: AlarmsLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlarmsLimitExceededException'
        '498':
          description: InvalidAutoRollbackConfigException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidAutoRollbackConfigException'
        '499':
          description: InvalidLoadBalancerInfoException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidLoadBalancerInfoException'
        '500':
          description: InvalidDeploymentStyleException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDeploymentStyleException'
        '501':
          description: InvalidBlueGreenDeploymentConfigurationException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBlueGreenDeploymentConfigurationException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDeploymentGroupInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
components:
  schemas:
    AddTagsToOnPremisesInstancesInput:
      type: object
      required:
        - tags
        - instanceNames
      properties:
        tags:
          $ref: '#/components/schemas/TagList'
        instanceNames:
          $ref: '#/components/schemas/InstanceNameList'
      description: 'Represents the input of, and adds tags to, an on-premises instance operation.'
    AdditionalDeploymentStatusInfo:
      type: string
    Alarm:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/AlarmName'
      description: Information about an alarm.
    AlarmConfiguration:
      type: object
      properties:
        enabled:
          $ref: '#/components/schemas/Boolean'
        ignorePollAlarmFailure:
          $ref: '#/components/schemas/Boolean'
        alarms:
          $ref: '#/components/schemas/AlarmList'
      description: Information about alarms associated with the deployment group.
    AlarmList:
      type: array
      items:
        $ref: '#/components/schemas/Alarm'
    AlarmName:
      type: string
    AlarmsLimitExceededException:
      type: object
      properties: {}
      description: The maximum number of alarms for a deployment group (10) was exceeded.
    ApplicationAlreadyExistsException:
      type: object
      properties: {}
      description: An application with the specified name already exists with the applicable IAM user or AWS account.
    ApplicationDoesNotExistException:
      type: object
      properties: {}
      description: The application does not exist with the applicable IAM user or AWS account.
    ApplicationId:
      type: string
    ApplicationInfo:
      type: object
      properties:
        applicationId:
          $ref: '#/components/schemas/ApplicationId'
        applicationName:
          $ref: '#/components/schemas/ApplicationName'
        createTime:
          $ref: '#/components/schemas/Timestamp'
        linkedToGitHub:
          $ref: '#/components/schemas/Boolean'
        gitHubAccountName:
          $ref: '#/components/schemas/GitHubAccountTokenName'
      description: Information about an application.
    ApplicationLimitExceededException:
      type: object
      properties: {}
      description: More applications were attempted to be created than are allowed.
    ApplicationName:
      type: string
      minLength: 1
      maxLength: 100
    ApplicationNameRequiredException:
      type: object
      properties: {}
      description: The minimum number of required application names was not specified.
    ApplicationRevisionSortBy:
      type: string
      enum:
        - registerTime
        - firstUsedTime
        - lastUsedTime
    ApplicationsInfoList:
      type: array
      items:
        $ref: '#/components/schemas/ApplicationInfo'
    ApplicationsList:
      type: array
      items:
        $ref: '#/components/schemas/ApplicationName'
    AutoRollbackConfiguration:
      type: object
      properties:
        enabled:
          $ref: '#/components/schemas/Boolean'
        events:
          $ref: '#/components/schemas/AutoRollbackEventsList'
      description: Information about a configuration for automatically rolling back to a previous version of an application revision when a deployment doesn't complete successfully.
    AutoRollbackEvent:
      type: string
      enum:
        - DEPLOYMENT_FAILURE
        - DEPLOYMENT_STOP_ON_ALARM
        - DEPLOYMENT_STOP_ON_REQUEST
    AutoRollbackEventsList:
      type: array
      items:
        $ref: '#/components/schemas/AutoRollbackEvent'
    AutoScalingGroup:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/AutoScalingGroupName'
        hook:
          $ref: '#/components/schemas/AutoScalingGroupHook'
      description: Information about an Auto Scaling group.
    AutoScalingGroupHook:
      type: string
    AutoScalingGroupList:
      type: array
      items:
        $ref: '#/components/schemas/AutoScalingGroup'
    AutoScalingGroupName:
      type: string
    AutoScalingGroupNameList:
      type: array
      items:
        $ref: '#/components/schemas/AutoScalingGroupName'
    BatchGetApplicationRevisionsInput:
      type: object
      required:
        - applicationName
        - revisions
      properties:
        applicationName:
          $ref: '#/components/schemas/ApplicationName'
        revisions:
          $ref: '#/components/schemas/RevisionLocationList'
      description: Represents the input of a BatchGetApplicationRevisions operation.
    BatchGetApplicationRevisionsOutput:
      type: object
      properties:
        applicationName:
          $ref: '#/components/schemas/ApplicationName'
        errorMessage:
          $ref: '#/components/schemas/ErrorMessage'
        revisions:
          $ref: '#/components/schemas/RevisionInfoList'
      description: Represents the output of a BatchGetApplicationRevisions operation.
    BatchGetApplicationsInput:
      type: object
      properties:
        applicationNames:
          $ref: '#/components/schemas/ApplicationsList'
      description: Represents the input of a BatchGetApplications operation.
[...]
