swagger: '2.0'
info:
  version: '2014-10-06'
  x-release: v4
  title: AWS CodeDeploy
  description: '<fullname>AWS CodeDeploy</fullname> <p>AWS CodeDeploy is a deployment service that automates application deployments to Amazon EC2 instances or on-premises instances running in your own facility.</p> <p>You can deploy a nearly unlimited variety of application content, such as code, web and configuration files, executables, packages, scripts, multimedia files, and so on. AWS CodeDeploy can deploy application content stored in Amazon S3 buckets, GitHub repositories, or Bitbucket repositories. You do not need to make changes to your existing code before you can use AWS CodeDeploy.</p> <p>AWS CodeDeploy makes it easier for you to rapidly release new features, helps you avoid downtime during application deployment, and handles the complexity of updating your applications, without many of the risks associated with error-prone manual deployments.</p> <p> <b>AWS CodeDeploy Components</b> </p> <p>Use the information in this guide to help you work with the following AWS CodeDeploy components:</p> <ul> <li> <p> <b>Application</b>: A name that uniquely identifies the application you want to deploy. AWS CodeDeploy uses this name, which functions as a container, to ensure the correct combination of revision, deployment configuration, and deployment group are referenced during a deployment.</p> </li> <li> <p> <b>Deployment group</b>: A set of individual instances. A deployment group contains individually tagged instances, Amazon EC2 instances in Auto Scaling groups, or both. </p> </li> <li> <p> <b>Deployment configuration</b>: A set of deployment rules and deployment success and failure conditions used by AWS CodeDeploy during a deployment.</p> </li> <li> <p> <b>Deployment</b>: The process, and the components involved in the process, of installing content on one or more instances. </p> </li> <li> <p> <b>Application revisions</b>: An archive file containing source content—source code, web pages, executable files, and deployment scripts—along with an application specification file (AppSpec file). Revisions are stored in Amazon S3 buckets or GitHub repositories. For Amazon S3, a revision is uniquely identified by its Amazon S3 object key and its ETag, version, or both. For GitHub, a revision is uniquely identified by its commit ID.</p> </li> </ul> <p>This guide also contains information to help you get details about the instances in your deployments and to make on-premises instances available for AWS CodeDeploy deployments.</p> <p> <b>AWS CodeDeploy Information Resources</b> </p> <ul> <li> <p> <a href="http://docs.aws.amazon.com/codedeploy/latest/userguide">AWS CodeDeploy User Guide</a> </p> </li> <li> <p> <a href="http://docs.aws.amazon.com/codedeploy/latest/APIReference/">AWS CodeDeploy API Reference Guide</a> </p> </li> <li> <p> <a href="http://docs.aws.amazon.com/cli/latest/reference/deploy/index.html">AWS CLI Reference for AWS CodeDeploy</a> </p> </li> <li> <p> <a href="https://forums.aws.amazon.com/forum.jspa?forumID=179">AWS CodeDeploy Developer Forum</a> </p> </li> </ul>'
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: codedeploy
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codedeploy-2014-10-06.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/codedeploy/'
host: codedeploy.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddTagsToOnPremisesInstances
      description: Adds tags to on-premises instances.
      responses:
        '200':
          description: Success
        '480':
          description: InstanceNameRequiredException
          schema:
            $ref: '#/definitions/InstanceNameRequiredException'
        '481':
          description: TagRequiredException
          schema:
            $ref: '#/definitions/TagRequiredException'
        '482':
          description: InvalidTagException
          schema:
            $ref: '#/definitions/InvalidTagException'
        '483':
          description: TagLimitExceededException
          schema:
            $ref: '#/definitions/TagLimitExceededException'
        '484':
          description: InstanceLimitExceededException
          schema:
            $ref: '#/definitions/InstanceLimitExceededException'
        '485':
          description: InstanceNotRegisteredException
          schema:
            $ref: '#/definitions/InstanceNotRegisteredException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddTagsToOnPremisesInstancesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchGetApplicationRevisions':
    post:
      operationId: BatchGetApplicationRevisions
      description: Gets information about one or more application revisions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetApplicationRevisionsOutput'
        '480':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '481':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '482':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '483':
          description: RevisionRequiredException
          schema:
            $ref: '#/definitions/RevisionRequiredException'
        '484':
          description: InvalidRevisionException
          schema:
            $ref: '#/definitions/InvalidRevisionException'
        '485':
          description: BatchLimitExceededException
          schema:
            $ref: '#/definitions/BatchLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetApplicationRevisionsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchGetApplications':
    post:
      operationId: BatchGetApplications
      description: Gets information about one or more applications.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetApplicationsOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '483':
          description: BatchLimitExceededException
          schema:
            $ref: '#/definitions/BatchLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetApplicationsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchGetDeploymentGroups':
    post:
      operationId: BatchGetDeploymentGroups
      description: Gets information about one or more deployment groups.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetDeploymentGroupsOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '483':
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        '484':
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        '485':
          description: BatchLimitExceededException
          schema:
            $ref: '#/definitions/BatchLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetDeploymentGroupsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchGetDeploymentInstances':
    post:
      operationId: BatchGetDeploymentInstances
      description: Gets information about one or more instance that are part of a deployment group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetDeploymentInstancesOutput'
        '480':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '481':
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        '482':
          description: InstanceIdRequiredException
          schema:
            $ref: '#/definitions/InstanceIdRequiredException'
        '483':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        '484':
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
        '485':
          description: BatchLimitExceededException
          schema:
            $ref: '#/definitions/BatchLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetDeploymentInstancesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchGetDeployments':
    post:
      operationId: BatchGetDeployments
      description: Gets information about one or more deployments.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetDeploymentsOutput'
        '480':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '481':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        '482':
          description: BatchLimitExceededException
          schema:
            $ref: '#/definitions/BatchLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetDeploymentsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchGetOnPremisesInstances':
    post:
      operationId: BatchGetOnPremisesInstances
      description: Gets information about one or more on-premises instances.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetOnPremisesInstancesOutput'
        '480':
          description: InstanceNameRequiredException
          schema:
            $ref: '#/definitions/InstanceNameRequiredException'
        '481':
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
        '482':
          description: BatchLimitExceededException
          schema:
            $ref: '#/definitions/BatchLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetOnPremisesInstancesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ContinueDeployment':
    post:
      operationId: ContinueDeployment
      description: 'For a blue/green deployment, starts the process of rerouting traffic from instances in the original environment to instances in the replacement environment without waiting for a specified wait time to elapse. (Traffic rerouting, which is achieved by registering instances in the replacement environment with the load balancer, can start as soon as all instances have a status of Ready.) '
      responses:
        '200':
          description: Success
        '480':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '481':
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        '482':
          description: DeploymentAlreadyCompletedException
          schema:
            $ref: '#/definitions/DeploymentAlreadyCompletedException'
        '483':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        '484':
          description: DeploymentIsNotInReadyStateException
          schema:
            $ref: '#/definitions/DeploymentIsNotInReadyStateException'
        '485':
          description: UnsupportedActionForDeploymentTypeException
          schema:
            $ref: '#/definitions/UnsupportedActionForDeploymentTypeException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ContinueDeploymentInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateApplication':
    post:
      operationId: CreateApplication
      description: Creates an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateApplicationOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationAlreadyExistsException
          schema:
            $ref: '#/definitions/ApplicationAlreadyExistsException'
        '483':
          description: ApplicationLimitExceededException
          schema:
            $ref: '#/definitions/ApplicationLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateApplicationInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateDeployment':
    post:
      operationId: CreateDeployment
      description: Deploys an application revision through the specified deployment group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeploymentOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '483':
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        '484':
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        '485':
          description: DeploymentGroupDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentGroupDoesNotExistException'
        '486':
          description: RevisionRequiredException
          schema:
            $ref: '#/definitions/RevisionRequiredException'
        '487':
          description: RevisionDoesNotExistException
          schema:
            $ref: '#/definitions/RevisionDoesNotExistException'
        '488':
          description: InvalidRevisionException
          schema:
            $ref: '#/definitions/InvalidRevisionException'
        '489':
          description: InvalidDeploymentConfigNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentConfigNameException'
        '490':
          description: DeploymentConfigDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentConfigDoesNotExistException'
        '491':
          description: DescriptionTooLongException
          schema:
            $ref: '#/definitions/DescriptionTooLongException'
        '492':
          description: DeploymentLimitExceededException
          schema:
            $ref: '#/definitions/DeploymentLimitExceededException'
        '493':
          description: InvalidTargetInstancesException
          schema:
            $ref: '#/definitions/InvalidTargetInstancesException'
        '494':
          description: InvalidAutoRollbackConfigException
          schema:
            $ref: '#/definitions/InvalidAutoRollbackConfigException'
        '495':
          description: InvalidLoadBalancerInfoException
          schema:
            $ref: '#/definitions/InvalidLoadBalancerInfoException'
        '496':
          description: InvalidFileExistsBehaviorException
          schema:
            $ref: '#/definitions/InvalidFileExistsBehaviorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDeploymentInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateDeploymentConfig':
    post:
      operationId: CreateDeploymentConfig
      description: Creates a deployment configuration.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeploymentConfigOutput'
        '480':
          description: InvalidDeploymentConfigNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentConfigNameException'
        '481':
          description: DeploymentConfigNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentConfigNameRequiredException'
        '482':
          description: DeploymentConfigAlreadyExistsException
          schema:
            $ref: '#/definitions/DeploymentConfigAlreadyExistsException'
        '483':
          description: InvalidMinimumHealthyHostValueException
          schema:
            $ref: '#/definitions/InvalidMinimumHealthyHostValueException'
        '484':
          description: DeploymentConfigLimitExceededException
          schema:
            $ref: '#/definitions/DeploymentConfigLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDeploymentConfigInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateDeploymentGroup':
    post:
      operationId: CreateDeploymentGroup
      description: Creates a deployment group to which application revisions will be deployed.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeploymentGroupOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '483':
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        '484':
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        '485':
          description: DeploymentGroupAlreadyExistsException
          schema:
            $ref: '#/definitions/DeploymentGroupAlreadyExistsException'
        '486':
          description: InvalidEC2TagException
          schema:
            $ref: '#/definitions/InvalidEC2TagException'
        '487':
          description: InvalidTagException
          schema:
            $ref: '#/definitions/InvalidTagException'
        '488':
          description: InvalidAutoScalingGroupException
          schema:
            $ref: '#/definitions/InvalidAutoScalingGroupException'
        '489':
          description: InvalidDeploymentConfigNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentConfigNameException'
        '490':
          description: DeploymentConfigDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentConfigDoesNotExistException'
        '491':
          description: RoleRequiredException
          schema:
            $ref: '#/definitions/RoleRequiredException'
        '492':
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        '493':
          description: DeploymentGroupLimitExceededException
          schema:
            $ref: '#/definitions/DeploymentGroupLimitExceededException'
        '494':
          description: LifecycleHookLimitExceededException
          schema:
            $ref: '#/definitions/LifecycleHookLimitExceededException'
        '495':
          description: InvalidTriggerConfigException
          schema:
            $ref: '#/definitions/InvalidTriggerConfigException'
        '496':
          description: TriggerTargetsLimitExceededException
          schema:
            $ref: '#/definitions/TriggerTargetsLimitExceededException'
        '497':
          description: InvalidAlarmConfigException
          schema:
            $ref: '#/definitions/InvalidAlarmConfigException'
        '498':
          description: AlarmsLimitExceededException
          schema:
            $ref: '#/definitions/AlarmsLimitExceededException'
        '499':
          description: InvalidAutoRollbackConfigException
          schema:
            $ref: '#/definitions/InvalidAutoRollbackConfigException'
        '500':
          description: InvalidLoadBalancerInfoException
          schema:
            $ref: '#/definitions/InvalidLoadBalancerInfoException'
        '501':
          description: InvalidDeploymentStyleException
          schema:
            $ref: '#/definitions/InvalidDeploymentStyleException'
        '502':
          description: InvalidBlueGreenDeploymentConfigurationException
          schema:
            $ref: '#/definitions/InvalidBlueGreenDeploymentConfigurationException'
        '503':
          description: InvalidEC2TagCombinationException
          schema:
            $ref: '#/definitions/InvalidEC2TagCombinationException'
        '504':
          description: InvalidOnPremisesTagCombinationException
          schema:
            $ref: '#/definitions/InvalidOnPremisesTagCombinationException'
        '505':
          description: TagSetListLimitExceededException
          schema:
            $ref: '#/definitions/TagSetListLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDeploymentGroupInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteApplication':
    post:
      operationId: DeleteApplication
      description: Deletes an application.
      responses:
        '200':
          description: Success
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteDeploymentConfig':
    post:
      operationId: DeleteDeploymentConfig
      description: <p>Deletes a deployment configuration.</p> <note> <p>A deployment configuration cannot be deleted if it is currently in use. Predefined configurations cannot be deleted.</p> </note>
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDeploymentConfigNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentConfigNameException'
        '481':
          description: DeploymentConfigNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentConfigNameRequiredException'
        '482':
          description: DeploymentConfigInUseException
          schema:
            $ref: '#/definitions/DeploymentConfigInUseException'
        '483':
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDeploymentConfigInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteDeploymentGroup':
    post:
      operationId: DeleteDeploymentGroup
      description: Deletes a deployment group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDeploymentGroupOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        '483':
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        '484':
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDeploymentGroupInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeregisterOnPremisesInstance':
    post:
      operationId: DeregisterOnPremisesInstance
      description: Deregisters an on-premises instance.
      responses:
        '200':
          description: Success
        '480':
          description: InstanceNameRequiredException
          schema:
            $ref: '#/definitions/InstanceNameRequiredException'
        '481':
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeregisterOnPremisesInstanceInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetApplication':
    post:
      operationId: GetApplication
      description: Gets information about an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApplicationOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetApplicationInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetApplicationRevision':
    post:
      operationId: GetApplicationRevision
      description: Gets information about an application revision.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApplicationRevisionOutput'
        '480':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '481':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '482':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '483':
          description: RevisionDoesNotExistException
          schema:
            $ref: '#/definitions/RevisionDoesNotExistException'
        '484':
          description: RevisionRequiredException
          schema:
            $ref: '#/definitions/RevisionRequiredException'
        '485':
          description: InvalidRevisionException
          schema:
            $ref: '#/definitions/InvalidRevisionException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetApplicationRevisionInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDeployment':
    post:
      operationId: GetDeployment
      description: Gets information about a deployment.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentOutput'
        '480':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '481':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        '482':
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDeploymentInput'
      x-waiters:
        - delay: 15
          operation: GetDeployment
          maxAttempts: 120
          acceptors:
            - expected: Succeeded
              matcher: path
              state: success
              argument: deploymentInfo.status
            - expected: Failed
              matcher: path
              state: failure
              argument: deploymentInfo.status
            - expected: Stopped
              matcher: path
              state: failure
              argument: deploymentInfo.status
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDeploymentConfig':
    post:
      operationId: GetDeploymentConfig
      description: Gets information about a deployment configuration.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentConfigOutput'
        '480':
          description: InvalidDeploymentConfigNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentConfigNameException'
        '481':
          description: DeploymentConfigNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentConfigNameRequiredException'
        '482':
          description: DeploymentConfigDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentConfigDoesNotExistException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDeploymentConfigInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDeploymentGroup':
    post:
      operationId: GetDeploymentGroup
      description: Gets information about a deployment group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentGroupOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '483':
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        '484':
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        '485':
          description: DeploymentGroupDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentGroupDoesNotExistException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDeploymentGroupInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDeploymentInstance':
    post:
      operationId: GetDeploymentInstance
      description: Gets information about an instance as part of a deployment.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentInstanceOutput'
        '480':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '481':
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        '482':
          description: InstanceIdRequiredException
          schema:
            $ref: '#/definitions/InstanceIdRequiredException'
        '483':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        '484':
          description: InstanceDoesNotExistException
          schema:
            $ref: '#/definitions/InstanceDoesNotExistException'
        '485':
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDeploymentInstanceInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetOnPremisesInstance':
    post:
      operationId: GetOnPremisesInstance
      description: Gets information about an on-premises instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetOnPremisesInstanceOutput'
        '480':
          description: InstanceNameRequiredException
          schema:
            $ref: '#/definitions/InstanceNameRequiredException'
        '481':
          description: InstanceNotRegisteredException
          schema:
            $ref: '#/definitions/InstanceNotRegisteredException'
        '482':
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetOnPremisesInstanceInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListApplicationRevisions':
    post:
      operationId: ListApplicationRevisions
      description: Lists information about revisions for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListApplicationRevisionsOutput'
        '480':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '481':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '482':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '483':
          description: InvalidSortByException
          schema:
            $ref: '#/definitions/InvalidSortByException'
        '484':
          description: InvalidSortOrderException
          schema:
            $ref: '#/definitions/InvalidSortOrderException'
        '485':
          description: InvalidBucketNameFilterException
          schema:
            $ref: '#/definitions/InvalidBucketNameFilterException'
        '486':
          description: InvalidKeyPrefixFilterException
          schema:
            $ref: '#/definitions/InvalidKeyPrefixFilterException'
        '487':
          description: BucketNameFilterRequiredException
          schema:
            $ref: '#/definitions/BucketNameFilterRequiredException'
        '488':
          description: InvalidDeployedStateFilterException
          schema:
            $ref: '#/definitions/InvalidDeployedStateFilterException'
        '489':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListApplicationRevisionsInput'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListApplications':
    post:
      operationId: ListApplications
      description: Lists the applications registered with the applicable IAM user or AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListApplicationsOutput'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListApplicationsInput'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDeploymentConfigs':
    post:
      operationId: ListDeploymentConfigs
      description: Lists the deployment configurations with the applicable IAM user or AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeploymentConfigsOutput'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDeploymentConfigsInput'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDeploymentGroups':
    post:
      operationId: ListDeploymentGroups
      description: Lists the deployment groups for an application registered with the applicable IAM user or AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeploymentGroupsOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDeploymentGroupsInput'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDeploymentInstances':
    post:
      operationId: ListDeploymentInstances
      description: Lists the instance for a deployment associated with the applicable IAM user or AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeploymentInstancesOutput'
        '480':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '481':
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        '482':
          description: DeploymentNotStartedException
          schema:
            $ref: '#/definitions/DeploymentNotStartedException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        '485':
          description: InvalidInstanceStatusException
          schema:
            $ref: '#/definitions/InvalidInstanceStatusException'
        '486':
          description: InvalidInstanceTypeException
          schema:
            $ref: '#/definitions/InvalidInstanceTypeException'
        '487':
          description: InvalidDeploymentInstanceTypeException
          schema:
            $ref: '#/definitions/InvalidDeploymentInstanceTypeException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDeploymentInstancesInput'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDeployments':
    post:
      operationId: ListDeployments
      description: Lists the deployments in a deployment group for an application registered with the applicable IAM user or AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeploymentsOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '483':
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        '484':
          description: DeploymentGroupDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentGroupDoesNotExistException'
        '485':
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        '486':
          description: InvalidTimeRangeException
          schema:
            $ref: '#/definitions/InvalidTimeRangeException'
        '487':
          description: InvalidDeploymentStatusException
          schema:
            $ref: '#/definitions/InvalidDeploymentStatusException'
        '488':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDeploymentsInput'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListGitHubAccountTokenNames':
    post:
      operationId: ListGitHubAccountTokenNames
      description: Lists the names of stored connections to GitHub accounts.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGitHubAccountTokenNamesOutput'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '481':
          description: ResourceValidationException
          schema:
            $ref: '#/definitions/ResourceValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListGitHubAccountTokenNamesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListOnPremisesInstances':
    post:
      operationId: ListOnPremisesInstances
      description: '<p>Gets a list of names for one or more on-premises instances.</p> <p>Unless otherwise specified, both registered and deregistered on-premises instance names will be listed. To list only registered or deregistered on-premises instance names, use the registration status parameter.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListOnPremisesInstancesOutput'
        '480':
          description: InvalidRegistrationStatusException
          schema:
            $ref: '#/definitions/InvalidRegistrationStatusException'
        '481':
          description: InvalidTagFilterException
          schema:
            $ref: '#/definitions/InvalidTagFilterException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListOnPremisesInstancesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RegisterApplicationRevision':
    post:
      operationId: RegisterApplicationRevision
      description: Registers with AWS CodeDeploy a revision for the specified application.
      responses:
        '200':
          description: Success
        '480':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '481':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '482':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '483':
          description: DescriptionTooLongException
          schema:
            $ref: '#/definitions/DescriptionTooLongException'
        '484':
          description: RevisionRequiredException
          schema:
            $ref: '#/definitions/RevisionRequiredException'
        '485':
          description: InvalidRevisionException
          schema:
            $ref: '#/definitions/InvalidRevisionException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RegisterApplicationRevisionInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RegisterOnPremisesInstance':
    post:
      operationId: RegisterOnPremisesInstance
      description: <p>Registers an on-premises instance.</p> <note> <p>Only one IAM ARN (an IAM session ARN or IAM user ARN) is supported in the request. You cannot use both.</p> </note>
      responses:
        '200':
          description: Success
        '480':
          description: InstanceNameAlreadyRegisteredException
          schema:
            $ref: '#/definitions/InstanceNameAlreadyRegisteredException'
        '481':
          description: IamArnRequiredException
          schema:
            $ref: '#/definitions/IamArnRequiredException'
        '482':
          description: IamSessionArnAlreadyRegisteredException
          schema:
            $ref: '#/definitions/IamSessionArnAlreadyRegisteredException'
        '483':
          description: IamUserArnAlreadyRegisteredException
          schema:
            $ref: '#/definitions/IamUserArnAlreadyRegisteredException'
        '484':
          description: InstanceNameRequiredException
          schema:
            $ref: '#/definitions/InstanceNameRequiredException'
        '485':
          description: IamUserArnRequiredException
          schema:
            $ref: '#/definitions/IamUserArnRequiredException'
        '486':
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
        '487':
          description: InvalidIamSessionArnException
          schema:
            $ref: '#/definitions/InvalidIamSessionArnException'
        '488':
          description: InvalidIamUserArnException
          schema:
            $ref: '#/definitions/InvalidIamUserArnException'
        '489':
          description: MultipleIamArnsProvidedException
          schema:
            $ref: '#/definitions/MultipleIamArnsProvidedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RegisterOnPremisesInstanceInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RemoveTagsFromOnPremisesInstances':
    post:
      operationId: RemoveTagsFromOnPremisesInstances
      description: Removes one or more tags from one or more on-premises instances.
      responses:
        '200':
          description: Success
        '480':
          description: InstanceNameRequiredException
          schema:
            $ref: '#/definitions/InstanceNameRequiredException'
        '481':
          description: TagRequiredException
          schema:
            $ref: '#/definitions/TagRequiredException'
        '482':
          description: InvalidTagException
          schema:
            $ref: '#/definitions/InvalidTagException'
        '483':
          description: TagLimitExceededException
          schema:
            $ref: '#/definitions/TagLimitExceededException'
        '484':
          description: InstanceLimitExceededException
          schema:
            $ref: '#/definitions/InstanceLimitExceededException'
        '485':
          description: InstanceNotRegisteredException
          schema:
            $ref: '#/definitions/InstanceNotRegisteredException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RemoveTagsFromOnPremisesInstancesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SkipWaitTimeForInstanceTermination':
    post:
      operationId: SkipWaitTimeForInstanceTermination
      description: 'In a blue/green deployment, overrides any specified wait time and starts terminating instances immediately after the traffic routing is completed.'
      responses:
        '200':
          description: Success
        '480':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '481':
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        '482':
          description: DeploymentAlreadyCompletedException
          schema:
            $ref: '#/definitions/DeploymentAlreadyCompletedException'
        '483':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        '484':
          description: DeploymentNotStartedException
          schema:
            $ref: '#/definitions/DeploymentNotStartedException'
        '485':
          description: UnsupportedActionForDeploymentTypeException
          schema:
            $ref: '#/definitions/UnsupportedActionForDeploymentTypeException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SkipWaitTimeForInstanceTerminationInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopDeployment':
    post:
      operationId: StopDeployment
      description: Attempts to stop an ongoing deployment.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopDeploymentOutput'
        '480':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '481':
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        '482':
          description: DeploymentAlreadyCompletedException
          schema:
            $ref: '#/definitions/DeploymentAlreadyCompletedException'
        '483':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopDeploymentInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateApplication':
    post:
      operationId: UpdateApplication
      description: Changes the name of an application.
      responses:
        '200':
          description: Success
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationAlreadyExistsException
          schema:
            $ref: '#/definitions/ApplicationAlreadyExistsException'
        '483':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateApplicationInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateDeploymentGroup':
    post:
      operationId: UpdateDeploymentGroup
      description: Changes information about a deployment group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDeploymentGroupOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '483':
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        '484':
          description: DeploymentGroupAlreadyExistsException
          schema:
            $ref: '#/definitions/DeploymentGroupAlreadyExistsException'
        '485':
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        '486':
          description: DeploymentGroupDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentGroupDoesNotExistException'
        '487':
          description: InvalidEC2TagException
          schema:
            $ref: '#/definitions/InvalidEC2TagException'
        '488':
          description: InvalidTagException
          schema:
            $ref: '#/definitions/InvalidTagException'
        '489':
          description: InvalidAutoScalingGroupException
          schema:
            $ref: '#/definitions/InvalidAutoScalingGroupException'
        '490':
          description: InvalidDeploymentConfigNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentConfigNameException'
        '491':
          description: DeploymentConfigDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentConfigDoesNotExistException'
        '492':
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        '493':
          description: LifecycleHookLimitExceededException
          schema:
            $ref: '#/definitions/LifecycleHookLimitExceededException'
        '494':
          description: InvalidTriggerConfigException
          schema:
            $ref: '#/definitions/InvalidTriggerConfigException'
        '495':
          description: TriggerTargetsLimitExceededException
          schema:
            $ref: '#/definitions/TriggerTargetsLimitExceededException'
        '496':
          description: InvalidAlarmConfigException
          schema:
            $ref: '#/definitions/InvalidAlarmConfigException'
        '497':
          description: AlarmsLimitExceededException
          schema:
            $ref: '#/definitions/AlarmsLimitExceededException'
        '498':
          description: InvalidAutoRollbackConfigException
          schema:
            $ref: '#/definitions/InvalidAutoRollbackConfigException'
        '499':
          description: InvalidLoadBalancerInfoException
          schema:
            $ref: '#/definitions/InvalidLoadBalancerInfoException'
        '500':
          description: InvalidDeploymentStyleException
          schema:
            $ref: '#/definitions/InvalidDeploymentStyleException'
        '501':
          description: InvalidBlueGreenDeploymentConfigurationException
          schema:
            $ref: '#/definitions/InvalidBlueGreenDeploymentConfigurationException'
        '502':
          description: InvalidEC2TagCombinationException
          schema:
            $ref: '#/definitions/InvalidEC2TagCombinationException'
        '503':
          description: InvalidOnPremisesTagCombinationException
          schema:
            $ref: '#/definitions/InvalidOnPremisesTagCombinationException'
        '504':
          description: TagSetListLimitExceededException
          schema:
            $ref: '#/definitions/TagSetListLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDeploymentGroupInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AddTagsToOnPremisesInstancesInput:
    type: object
    required:
      - tags
      - instanceNames
    properties:
      tags:
        $ref: '#/definitions/TagList'
        description: <p>The tag key-value pairs to add to the on-premises instances.</p> <p>Keys and values are both required. Keys cannot be null or empty strings. Value-only tags are not allowed.</p>
      instanceNames:
        $ref: '#/definitions/InstanceNameList'
        description: The names of the on-premises instances to which to add tags.
    description: 'Represents the input of, and adds tags to, an on-premises instance operation.'
  AdditionalDeploymentStatusInfo:
    type: string
  Alarm:
    type: object
    properties:
      name:
        $ref: '#/definitions/AlarmName'
        description: The name of the alarm. Maximum length is 255 characters. Each alarm name can be used only once in a list of alarms.
    description: Information about an alarm.
  AlarmConfiguration:
    type: object
    properties:
      enabled:
        $ref: '#/definitions/Boolean'
        description: Indicates whether the alarm configuration is enabled.
      ignorePollAlarmFailure:
        $ref: '#/definitions/Boolean'
        description: '<p>Indicates whether a deployment should continue if information about the current state of alarms cannot be retrieved from Amazon CloudWatch. The default value is false.</p> <ul> <li> <p>true: The deployment will proceed even if alarm status information can''t be retrieved from Amazon CloudWatch.</p> </li> <li> <p>false: The deployment will stop if alarm status information can''t be retrieved from Amazon CloudWatch.</p> </li> </ul>'
      alarms:
        $ref: '#/definitions/AlarmList'
        description: A list of alarms configured for the deployment group. A maximum of 10 alarms can be added to a deployment group.
    description: Information about alarms associated with the deployment group.
  AlarmList:
    type: array
    items:
      $ref: '#/definitions/Alarm'
  AlarmName:
    type: string
  AlarmsLimitExceededException:
    type: object
    properties: {}
    description: The maximum number of alarms for a deployment group (10) was exceeded.
  ApplicationAlreadyExistsException:
    type: object
    properties: {}
    description: An application with the specified name already exists with the applicable IAM user or AWS account.
  ApplicationDoesNotExistException:
    type: object
    properties: {}
    description: The application does not exist with the applicable IAM user or AWS account.
  ApplicationId:
    type: string
  ApplicationInfo:
    type: object
    properties:
      applicationId:
        $ref: '#/definitions/ApplicationId'
        description: The application ID.
      applicationName:
        $ref: '#/definitions/ApplicationName'
        description: The application name.
      createTime:
        $ref: '#/definitions/Timestamp'
        description: The time at which the application was created.
      linkedToGitHub:
        $ref: '#/definitions/Boolean'
        description: 'True if the user has authenticated with GitHub for the specified application; otherwise, false.'
      gitHubAccountName:
        $ref: '#/definitions/GitHubAccountTokenName'
        description: The name for a connection to a GitHub account.
    description: Information about an application.
  ApplicationLimitExceededException:
    type: object
    properties: {}
    description: More applications were attempted to be created than are allowed.
  ApplicationName:
    type: string
    minLength: 1
    maxLength: 100
  ApplicationNameRequiredException:
    type: object
    properties: {}
    description: The minimum number of required application names was not specified.
  ApplicationRevisionSortBy:
    type: string
    enum:
      - registerTime
      - firstUsedTime
      - lastUsedTime
  ApplicationsInfoList:
    type: array
    items:
      $ref: '#/definitions/ApplicationInfo'
  ApplicationsList:
    type: array
    items:
      $ref: '#/definitions/ApplicationName'
  AutoRollbackConfiguration:
    type: object
    properties:
      enabled:
        $ref: '#/definitions/Boolean'
        description: Indicates whether a defined automatic rollback configuration is currently enabled.
      events:
        $ref: '#/definitions/AutoRollbackEventsList'
        description: The event type or types that trigger a rollback.
    description: Information about a configuration for automatically rolling back to a previous version of an application revision when a deployment doesn't complete successfully.
  AutoRollbackEvent:
    type: string
    enum:
      - DEPLOYMENT_FAILURE
      - DEPLOYMENT_STOP_ON_ALARM
      - DEPLOYMENT_STOP_ON_REQUEST
  AutoRollbackEventsList:
    type: array
    items:
      $ref: '#/definitions/AutoRollbackEvent'
  AutoScalingGroup:
    type: object
    properties:
      name:
        $ref: '#/definitions/AutoScalingGroupName'
        description: The Auto Scaling group name.
      hook:
        $ref: '#/definitions/AutoScalingGroupHook'
        description: An Auto Scaling lifecycle event hook name.
    description: Information about an Auto Scaling group.
  AutoScalingGroupHook:
    type: string
  AutoScalingGroupList:
    type: array
    items:
      $ref: '#/definitions/AutoScalingGroup'
  AutoScalingGroupName:
    type: string
  AutoScalingGroupNameList:
    type: array
    items:
      $ref: '#/definitions/AutoScalingGroupName'
  BatchGetApplicationRevisionsInput:
    type: object
    required:
      - applicationName
      - revisions
    properties:
      applicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of an AWS CodeDeploy application about which to get revision information.
      revisions:
        $ref: '#/definitions/RevisionLocationList'
        description: 'Information to get about the application revisions, including type and location.'
    description: Represents the input of a BatchGetApplicationRevisions operation.
  BatchGetApplicationRevisionsOutput:
    type: object
    properties:
      applicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the application that corresponds to the revisions.
      errorMessage:
        $ref: '#/definitions/ErrorMessage'
        description: Information about errors that may have occurred during the API call.
      revisions:
        $ref: '#/definitions/RevisionInfoList'
        description: 'Additional information about the revisions, including the type and location.'
    description: Represents the output of a BatchGetApplicationRevisions operation.
  BatchGetApplicationsInput:
    type: object
    properties:
      applicationNames:
        $ref: '#/definitions/ApplicationsList'
        description: A list of application names separated by spaces.
    description: Represents the input of a BatchGetApplications operation.
  BatchGetApplicationsOutput:
    type: object
    properties:
      applicationsInfo:
        $ref: '#/definitions/ApplicationsInfoList'
        description: Information about the applications.
    description: Represents the output of a BatchGetApplications operation.
  BatchGetDeploymentGroupsInput:
    type: object
    required:
      - applicationName
      - deploymentGroupNames
    properties:
      applicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.
      deploymentGroupNames:
        $ref: '#/definitions/DeploymentGroupsList'
        description: The deployment groups' names.
    description: Represents the input of a BatchGetDeploymentGroups operation.
  BatchGetDeploymentGroupsOutput:
    type: object
    properties:
      deploymentGroupsInfo:
        $ref: '#/definitions/DeploymentGroupInfoList'
        description: Information about the deployment groups.
      errorMessage:
        $ref: '#/definitions/ErrorMessage'
        description: Information about errors that may have occurred during the API call.
    description: Represents the output of a BatchGetDeploymentGroups operation.
  BatchGetDeploymentInstancesInput:
    type: object
    required:
      - deploymentId
      - instanceIds
    properties:
      deploymentId:
        $ref: '#/definitions/DeploymentId'
        description: The unique ID of a deployment.
      instanceIds:
        $ref: '#/definitions/InstancesList'
        description: The unique IDs of instances in the deployment group.
    description: Represents the input of a BatchGetDeploymentInstances operation.
  BatchGetDeploymentInstancesOutput:
    type: object
    properties:
      instancesSummary:
        $ref: '#/definitions/InstanceSummaryList'
        description: Information about the instance.
      errorMessage:
        $ref: '#/definitions/ErrorMessage'
        description: Information about errors that may have occurred during the API call.
    description: Represents the output of a BatchGetDeploymentInstances operation.
  BatchGetDeploymentsInput:
    type: object
    properties:
      deploymentIds:
        $ref: '#/definitions/DeploymentsList'
        description: 'A list of deployment IDs, separated by spaces.'
    description: Represents the input of a BatchGetDeployments operation.
  BatchGetDeploymentsOutput:
    type: object
    properties:
      deploymentsInfo:
        $ref: '#/definitions/DeploymentsInfoList'
        description: Information about the deployments.
    description: Represents the output of a BatchGetDeployments operation.
  BatchGetOnPremisesInstancesInput:
    type: object
    properties:
      instanceNames:
        $ref: '#/definitions/InstanceNameList'
        description: The names of the on-premises instances about which to get information.
    description: Represents the input of a BatchGetOnPremisesInstances operation.
  BatchGetOnPremisesInstancesOutput:
    type: object
    properties:
      instanceInfos:
        $ref: '#/definitions/InstanceInfoList'
        description: Information about the on-premises instances.
    description: Represents the output of a BatchGetOnPremisesInstances operation.
  BatchLimitExceededException:
    type: object
    properties: {}
    description: The maximum number of names or IDs allowed for this request (100) was exceeded.
  BlueGreenDeploymentConfiguration:
    type: object
    properties:
      terminateBlueInstancesOnDeploymentSuccess:
        $ref: '#/definitions/BlueInstanceTerminationOption'
        description: Information about whether to terminate instances in the original fleet during a blue/green deployment.
      deploymentReadyOption:
        $ref: '#/definitions/DeploymentReadyOption'
        description: Information about the action to take when newly provisioned instances are ready to receive traffic in a blue/green deployment.
      greenFleetProvisioningOption:
        $ref: '#/definitions/GreenFleetProvisioningOption'
        description: Information about how instances are provisioned for a replacement environment in a blue/green deployment.
    description: Information about blue/green deployment options for a deployment group.
  BlueInstanceTerminationOption:
    type: object
    properties:
      action:
        $ref: '#/definitions/InstanceAction'
        description: '<p>The action to take on instances in the original environment after a successful blue/green deployment.</p> <ul> <li> <p>TERMINATE: Instances are terminated after a specified wait time.</p> </li> <li> <p>KEEP_ALIVE: Instances are left running after they are deregistered from the load balancer and removed from the deployment group.</p> </li> </ul>'
      terminationWaitTimeInMinutes:
        $ref: '#/definitions/Duration'
        description: The number of minutes to wait after a successful blue/green deployment before terminating instances from the original environment.
    description: Information about whether instances in the original environment are terminated when a blue/green deployment is successful.
  Boolean:
    type: boolean
  BucketNameFilterRequiredException:
    type: object
    properties: {}
    description: 'A bucket name is required, but was not provided.'
  BundleType:
    type: string
    enum:
      - tar
      - tgz
      - zip
  CommitId:
    type: string
  ContinueDeploymentInput:
    type: object
    properties:
      deploymentId:
        $ref: '#/definitions/DeploymentId'
        description: The deployment ID of the blue/green deployment for which you want to start rerouting traffic to the replacement environment.
  CreateApplicationInput:
    type: object
    required:
      - applicationName
    properties:
      applicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the application. This name must be unique with the applicable IAM user or AWS account.
    description: Represents the input of a CreateApplication operation.
  CreateApplicationOutput:
    type: object
    properties:
      applicationId:
        $ref: '#/definitions/ApplicationId'
        description: A unique application ID.
    description: Represents the output of a CreateApplication operation.
  CreateDeploymentConfigInput:
    type: object
    required:
      - deploymentConfigName
      - minimumHealthyHosts
    properties:
      deploymentConfigName:
        $ref: '#/definitions/DeploymentConfigName'
        description: The name of the deployment configuration to create.
      minimumHealthyHosts:
        $ref: '#/definitions/MinimumHealthyHosts'
        description: '<p>The minimum number of healthy instances that should be available at any time during the deployment. There are two parameters expected in the input: type and value.</p> <p>The type parameter takes either of the following values:</p> <ul> <li> <p>HOST_COUNT: The value parameter represents the minimum number of healthy instances as an absolute value.</p> </li> <li> <p>FLEET_PERCENT: The value parameter represents the minimum number of healthy instances as a percentage of the total number of instances in the deployment. If you specify FLEET_PERCENT, at the start of the deployment, AWS CodeDeploy converts the percentage to the equivalent number of instance and rounds up fractional instances.</p> </li> </ul> <p>The value parameter takes an integer.</p> <p>For example, to set a minimum of 95% healthy instance, specify a type of FLEET_PERCENT and a value of 95.</p>'
    description: Represents the input of a CreateDeploymentConfig operation.
  CreateDeploymentConfigOutput:
    type: object
    properties:
      deploymentConfigId:
        $ref: '#/definitions/DeploymentConfigId'
        description: A unique deployment configuration ID.
    description: Represents the output of a CreateDeploymentConfig operation.
  CreateDeploymentGroupInput:
    type: object
    required:
      - applicationName
      - deploymentGroupName
      - serviceRoleArn
    properties:
      applicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.
      deploymentGroupName:
        $ref: '#/definitions/DeploymentGroupName'
        description: The name of a new deployment group for the specified application.
      deploymentConfigName:
        $ref: '#/definitions/DeploymentConfigName'
        description: '<p>If specified, the deployment configuration name can be either one of the predefined configurations provided with AWS CodeDeploy or a custom deployment configuration that you create by calling the create deployment configuration operation.</p> <p>CodeDeployDefault.OneAtATime is the default deployment configuration. It is used if a configuration isn''t specified for the deployment or the deployment group.</p> <p>For more information about the predefined deployment configurations in AWS CodeDeploy, see <a href="http://docs.aws.amazon.com/codedeploy/latest/userguide/deployment-configurations.html">Working with Deployment Groups in AWS CodeDeploy</a> in the AWS CodeDeploy User Guide.</p>'
      ec2TagFilters:
        $ref: '#/definitions/EC2TagFilterList'
        description: The Amazon EC2 tags on which to filter. The deployment group will include EC2 instances with any of the specified tags. Cannot be used in the same call as ec2TagSet.
      onPremisesInstanceTagFilters:
        $ref: '#/definitions/TagFilterList'
        description: The on-premises instance tags on which to filter. The deployment group will include on-premises instances with any of the specified tags. Cannot be used in the same call as OnPremisesTagSet.
      autoScalingGroups:
        $ref: '#/definitions/AutoScalingGroupNameList'
        description: A list of associated Auto Scaling groups.
      serviceRoleArn:
        $ref: '#/definitions/Role'
        description: A service role ARN that allows AWS CodeDeploy to act on the user's behalf when interacting with AWS services.
      triggerConfigurations:
        $ref: '#/definitions/TriggerConfigList'
        description: 'Information about triggers to create when the deployment group is created. For examples, see <a href="http://docs.aws.amazon.com/codedeploy/latest/userguide/how-to-notify-sns.html">Create a Trigger for an AWS CodeDeploy Event</a> in the AWS CodeDeploy User Guide.'
      alarmConfiguration:
        $ref: '#/definitions/AlarmConfiguration'
        description: Information to add about Amazon CloudWatch alarms when the deployment group is created.
      autoRollbackConfiguration:
        $ref: '#/definitions/AutoRollbackConfiguration'
        description: Configuration information for an automatic rollback that is added when a deployment group is created.
      deploymentStyle:
        $ref: '#/definitions/DeploymentStyle'
        description: 'Information about the type of deployment, in-place or blue/green, that you want to run and whether to route deployment traffic behind a load balancer.'
      blueGreenDeploymentConfiguration:
        $ref: '#/definitions/BlueGreenDeploymentConfiguration'
        description: Information about blue/green deployment options for a deployment group.
      loadBalancerInfo:
        $ref: '#/definitions/LoadBalancerInfo'
        description: Information about the load balancer used in a deployment.
      ec2TagSet:
        $ref: '#/definitions/EC2TagSet'
        description: Information about groups of tags applied to EC2 instances. The deployment group will include only EC2 instances identified by all the tag groups. Cannot be used in the same call as ec2TagFilters.
      onPremisesTagSet:
        $ref: '#/definitions/OnPremisesTagSet'
        description: Information about groups of tags applied to on-premises instances. The deployment group will include only on-premises instances identified by all the tag groups. Cannot be used in the same call as onPremisesInstanceTagFilters.
    description: Represents the input of a CreateDeploymentGroup operation.
  CreateDeploymentGroupOutput:
    type: object
    properties:
      deploymentGroupId:
        $ref: '#/definitions/DeploymentGroupId'
        description: A unique deployment group ID.
    description: Represents the output of a CreateDeploymentGroup operation.
  CreateDeploymentInput:
    type: object
    required:
      - applicationName
    properties:
      applicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.
      deploymentGroupName:
        $ref: '#/definitions/DeploymentGroupName'
        description: The name of the deployment group.
      revision:
        $ref: '#/definitions/RevisionLocation'
        description: The type and location of the revision to deploy.
      deploymentConfigName:
        $ref: '#/definitions/DeploymentConfigName'
        description: '<p>The name of a deployment configuration associated with the applicable IAM user or AWS account.</p> <p>If not specified, the value configured in the deployment group will be used as the default. If the deployment group does not have a deployment configuration associated with it, then CodeDeployDefault.OneAtATime will be used by default.</p>'
      description:
        $ref: '#/definitions/Description'
        description: A comment about the deployment.
      ignoreApplicationStopFailures:
        $ref: '#/definitions/Boolean'
        description: '<p>If set to true, then if the deployment causes the ApplicationStop deployment lifecycle event to an instance to fail, the deployment to that instance will not be considered to have failed at that point and will continue on to the BeforeInstall deployment lifecycle event.</p> <p>If set to false or not specified, then if the deployment causes the ApplicationStop deployment lifecycle event to fail to an instance, the deployment to that instance will stop, and the deployment to that instance will be considered to have failed.</p>'
      targetInstances:
        $ref: '#/definitions/TargetInstances'
        description: Information about the instances that will belong to the replacement environment in a blue/green deployment.
      autoRollbackConfiguration:
        $ref: '#/definitions/AutoRollbackConfiguration'
        description: Configuration information for an automatic rollback that is added when a deployment is created.
      updateOutdatedInstancesOnly:
        $ref: '#/definitions/Boolean'
        description: Indicates whether to deploy to all instances or only to instances that are not running the latest application revision.
      fileExistsBehavior:
        $ref: '#/definitions/FileExistsBehavior'
        description: '<p>Information about how AWS CodeDeploy handles files that already exist in a deployment target location but weren''t part of the previous successful deployment.</p> <p>The fileExistsBehavior parameter takes any of the following values:</p> <ul> <li> <p>DISALLOW: The deployment fails. This is also the default behavior if no option is specified.</p> </li> <li> <p>OVERWRITE: The version of the file from the application revision currently being deployed replaces the version already on the instance.</p> </li> <li> <p>RETAIN: The version of the file already on the instance is kept and used as part of the new deployment.</p> </li> </ul>'
    description: Represents the input of a CreateDeployment operation.
  CreateDeploymentOutput:
    type: object
    properties:
      deploymentId:
        $ref: '#/definitions/DeploymentId'
        description: A unique deployment ID.
    description: Represents the output of a CreateDeployment operation.
  DeleteApplicationInput:
    type: object
    required:
      - applicationName
    properties:
      applicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.
    description: Represents the input of a DeleteApplication operation.
  DeleteDeploymentConfigInput:
    type: object
    required:
      - deploymentConfigName
    properties:
      deploymentConfigName:
        $ref: '#/definitions/DeploymentConfigName'
        description: The name of a deployment configuration associated with the applicable IAM user or AWS account.
    description: Represents the input of a DeleteDeploymentConfig operation.
  DeleteDeploymentGroupInput:
    type: object
    required:
      - applicationName
      - deploymentGroupName
    properties:
      applicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.
      deploymentGroupName:
        $ref: '#/definitions/DeploymentGroupName'
        description: The name of an existing deployment group for the specified application.
    description: Represents the input of a DeleteDeploymentGroup operation.
[...]
