swagger: '2.0'
info:
  version: '2014-10-06'
  x-release: v4
  title: AWS CodeDeploy
  description: '<fullname>AWS CodeDeploy</fullname> <p>AWS CodeDeploy is a deployment service that automates application deployments to Amazon EC2 instances, on-premises instances running in your own facility, or serverless AWS Lambda functions.</p> <p>You can deploy a nearly unlimited variety of application content, such as an updated Lambda function, code, web and configuration files, executables, packages, scripts, multimedia files, and so on. AWS CodeDeploy can deploy application content stored in Amazon S3 buckets, GitHub repositories, or Bitbucket repositories. You do not need to make changes to your existing code before you can use AWS CodeDeploy.</p> <p>AWS CodeDeploy makes it easier for you to rapidly release new features, helps you avoid downtime during application deployment, and handles the complexity of updating your applications, without many of the risks associated with error-prone manual deployments.</p> <p> <b>AWS CodeDeploy Components</b> </p> <p>Use the information in this guide to help you work with the following AWS CodeDeploy components:</p> <ul> <li> <p> <b>Application</b>: A name that uniquely identifies the application you want to deploy. AWS CodeDeploy uses this name, which functions as a container, to ensure the correct combination of revision, deployment configuration, and deployment group are referenced during a deployment.</p> </li> <li> <p> <b>Deployment group</b>: A set of individual instances or CodeDeploy Lambda applications. A Lambda deployment group contains a group of applications. An EC2/On-premises deployment group contains individually tagged instances, Amazon EC2 instances in Auto Scaling groups, or both. </p> </li> <li> <p> <b>Deployment configuration</b>: A set of deployment rules and deployment success and failure conditions used by AWS CodeDeploy during a deployment.</p> </li> <li> <p> <b>Deployment</b>: The process and the components used in the process of updating a Lambda function or of installing content on one or more instances. </p> </li> <li> <p> <b>Application revisions</b>: For an AWS Lambda deployment, this is an AppSpec file that specifies the Lambda function to update and one or more functions to validate deployment lifecycle events. For an EC2/On-premises deployment, this is an archive file containing source content—source code, web pages, executable files, and deployment scripts—along with an AppSpec file. Revisions are stored in Amazon S3 buckets or GitHub repositories. For Amazon S3, a revision is uniquely identified by its Amazon S3 object key and its ETag, version, or both. For GitHub, a revision is uniquely identified by its commit ID.</p> </li> </ul> <p>This guide also contains information to help you get details about the instances in your deployments, to make on-premises instances available for AWS CodeDeploy deployments, and to get details about a Lambda function deployment.</p> <p> <b>AWS CodeDeploy Information Resources</b> </p> <ul> <li> <p> <a href="http://docs.aws.amazon.com/codedeploy/latest/userguide">AWS CodeDeploy User Guide</a> </p> </li> <li> <p> <a href="http://docs.aws.amazon.com/codedeploy/latest/APIReference/">AWS CodeDeploy API Reference Guide</a> </p> </li> <li> <p> <a href="http://docs.aws.amazon.com/cli/latest/reference/deploy/index.html">AWS CLI Reference for AWS CodeDeploy</a> </p> </li> <li> <p> <a href="https://forums.aws.amazon.com/forum.jspa?forumID=179">AWS CodeDeploy Developer Forum</a> </p> </li> </ul>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: codedeploy
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codedeploy-2014-10-06.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/codedeploy/'
host: codedeploy.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: query
    type: string
    required: true
  Version:
    name: Version
    in: query
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddTagsToOnPremisesInstances
      description: Adds tags to on-premises instances.
      responses:
        '200':
          description: Success
        '480':
          description: InstanceNameRequiredException
          schema:
            $ref: '#/definitions/InstanceNameRequiredException'
        '481':
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
        '482':
          description: TagRequiredException
          schema:
            $ref: '#/definitions/TagRequiredException'
        '483':
          description: InvalidTagException
          schema:
            $ref: '#/definitions/InvalidTagException'
        '484':
          description: TagLimitExceededException
          schema:
            $ref: '#/definitions/TagLimitExceededException'
        '485':
          description: InstanceLimitExceededException
          schema:
            $ref: '#/definitions/InstanceLimitExceededException'
        '486':
          description: InstanceNotRegisteredException
          schema:
            $ref: '#/definitions/InstanceNotRegisteredException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddTagsToOnPremisesInstancesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchGetApplicationRevisions':
    post:
      operationId: BatchGetApplicationRevisions
      description: Gets information about one or more application revisions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetApplicationRevisionsOutput'
        '480':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '481':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '482':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '483':
          description: RevisionRequiredException
          schema:
            $ref: '#/definitions/RevisionRequiredException'
        '484':
          description: InvalidRevisionException
          schema:
            $ref: '#/definitions/InvalidRevisionException'
        '485':
          description: BatchLimitExceededException
          schema:
            $ref: '#/definitions/BatchLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetApplicationRevisionsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchGetApplications':
    post:
      operationId: BatchGetApplications
      description: Gets information about one or more applications.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetApplicationsOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '483':
          description: BatchLimitExceededException
          schema:
            $ref: '#/definitions/BatchLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetApplicationsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchGetDeploymentGroups':
    post:
      operationId: BatchGetDeploymentGroups
      description: Gets information about one or more deployment groups.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetDeploymentGroupsOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '483':
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        '484':
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        '485':
          description: BatchLimitExceededException
          schema:
            $ref: '#/definitions/BatchLimitExceededException'
        '486':
          description: DeploymentConfigDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentConfigDoesNotExistException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetDeploymentGroupsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchGetDeploymentInstances':
    post:
      operationId: BatchGetDeploymentInstances
      description: '<note> <p> This method works, but is considered deprecated. Use <code>BatchGetDeploymentTargets</code> instead. </p> </note> <p> Returns an array of instances associated with a deployment. This method works with EC2/On-premises and AWS Lambda compute platforms. The newer <code>BatchGetDeploymentTargets</code> works with all compute platforms. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetDeploymentInstancesOutput'
        '480':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '481':
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        '482':
          description: InstanceIdRequiredException
          schema:
            $ref: '#/definitions/InstanceIdRequiredException'
        '483':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        '484':
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
        '485':
          description: BatchLimitExceededException
          schema:
            $ref: '#/definitions/BatchLimitExceededException'
        '486':
          description: InvalidComputePlatformException
          schema:
            $ref: '#/definitions/InvalidComputePlatformException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetDeploymentInstancesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchGetDeploymentTargets':
    post:
      operationId: BatchGetDeploymentTargets
      description: '<p> Returns an array of targets associated with a deployment. This method works with all compute types and should be used instead of the deprecated <code>BatchGetDeploymentInstances</code>. </p> <p> The type of targets returned depends on the deployment''s compute platform: </p> <ul> <li> <p> <b>EC2/On-premises</b> - Information about EC2 instance targets. </p> </li> <li> <p> <b>AWS Lambda</b> - Information about Lambda functions targets. </p> </li> <li> <p> <b>Amazon ECS</b> - Information about ECS service targets. </p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetDeploymentTargetsOutput'
        '480':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        '481':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '482':
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        '483':
          description: DeploymentTargetIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentTargetIdRequiredException'
        '484':
          description: InvalidDeploymentTargetIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentTargetIdException'
        '485':
          description: DeploymentTargetDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentTargetDoesNotExistException'
        '486':
          description: DeploymentTargetListSizeExceededException
          schema:
            $ref: '#/definitions/DeploymentTargetListSizeExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetDeploymentTargetsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchGetDeployments':
    post:
      operationId: BatchGetDeployments
      description: Gets information about one or more deployments.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetDeploymentsOutput'
        '480':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '481':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        '482':
          description: BatchLimitExceededException
          schema:
            $ref: '#/definitions/BatchLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetDeploymentsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchGetOnPremisesInstances':
    post:
      operationId: BatchGetOnPremisesInstances
      description: Gets information about one or more on-premises instances.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetOnPremisesInstancesOutput'
        '480':
          description: InstanceNameRequiredException
          schema:
            $ref: '#/definitions/InstanceNameRequiredException'
        '481':
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
        '482':
          description: BatchLimitExceededException
          schema:
            $ref: '#/definitions/BatchLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetOnPremisesInstancesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ContinueDeployment':
    post:
      operationId: ContinueDeployment
      description: 'For a blue/green deployment, starts the process of rerouting traffic from instances in the original environment to instances in the replacement environment without waiting for a specified wait time to elapse. (Traffic rerouting, which is achieved by registering instances in the replacement environment with the load balancer, can start as soon as all instances have a status of Ready.) '
      responses:
        '200':
          description: Success
        '480':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '481':
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        '482':
          description: DeploymentAlreadyCompletedException
          schema:
            $ref: '#/definitions/DeploymentAlreadyCompletedException'
        '483':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        '484':
          description: DeploymentIsNotInReadyStateException
          schema:
            $ref: '#/definitions/DeploymentIsNotInReadyStateException'
        '485':
          description: UnsupportedActionForDeploymentTypeException
          schema:
            $ref: '#/definitions/UnsupportedActionForDeploymentTypeException'
        '486':
          description: InvalidDeploymentWaitTypeException
          schema:
            $ref: '#/definitions/InvalidDeploymentWaitTypeException'
        '487':
          description: InvalidDeploymentStatusException
          schema:
            $ref: '#/definitions/InvalidDeploymentStatusException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ContinueDeploymentInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateApplication':
    post:
      operationId: CreateApplication
      description: Creates an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateApplicationOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationAlreadyExistsException
          schema:
            $ref: '#/definitions/ApplicationAlreadyExistsException'
        '483':
          description: ApplicationLimitExceededException
          schema:
            $ref: '#/definitions/ApplicationLimitExceededException'
        '484':
          description: InvalidComputePlatformException
          schema:
            $ref: '#/definitions/InvalidComputePlatformException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateApplicationInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateDeployment':
    post:
      operationId: CreateDeployment
      description: Deploys an application revision through the specified deployment group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeploymentOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '483':
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        '484':
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        '485':
          description: DeploymentGroupDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentGroupDoesNotExistException'
        '486':
          description: RevisionRequiredException
          schema:
            $ref: '#/definitions/RevisionRequiredException'
        '487':
          description: RevisionDoesNotExistException
          schema:
            $ref: '#/definitions/RevisionDoesNotExistException'
        '488':
          description: InvalidRevisionException
          schema:
            $ref: '#/definitions/InvalidRevisionException'
        '489':
          description: InvalidDeploymentConfigNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentConfigNameException'
        '490':
          description: DeploymentConfigDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentConfigDoesNotExistException'
        '491':
          description: DescriptionTooLongException
          schema:
            $ref: '#/definitions/DescriptionTooLongException'
        '492':
          description: DeploymentLimitExceededException
          schema:
            $ref: '#/definitions/DeploymentLimitExceededException'
        '493':
          description: InvalidTargetInstancesException
          schema:
            $ref: '#/definitions/InvalidTargetInstancesException'
        '494':
          description: InvalidAutoRollbackConfigException
          schema:
            $ref: '#/definitions/InvalidAutoRollbackConfigException'
        '495':
          description: InvalidLoadBalancerInfoException
          schema:
            $ref: '#/definitions/InvalidLoadBalancerInfoException'
        '496':
          description: InvalidFileExistsBehaviorException
          schema:
            $ref: '#/definitions/InvalidFileExistsBehaviorException'
        '497':
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        '498':
          description: InvalidAutoScalingGroupException
          schema:
            $ref: '#/definitions/InvalidAutoScalingGroupException'
        '499':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '500':
          description: InvalidUpdateOutdatedInstancesOnlyValueException
          schema:
            $ref: '#/definitions/InvalidUpdateOutdatedInstancesOnlyValueException'
        '501':
          description: InvalidIgnoreApplicationStopFailuresValueException
          schema:
            $ref: '#/definitions/InvalidIgnoreApplicationStopFailuresValueException'
        '502':
          description: InvalidGitHubAccountTokenException
          schema:
            $ref: '#/definitions/InvalidGitHubAccountTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDeploymentInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateDeploymentConfig':
    post:
      operationId: CreateDeploymentConfig
      description: ' Creates a deployment configuration. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeploymentConfigOutput'
        '480':
          description: InvalidDeploymentConfigNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentConfigNameException'
        '481':
          description: DeploymentConfigNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentConfigNameRequiredException'
        '482':
          description: DeploymentConfigAlreadyExistsException
          schema:
            $ref: '#/definitions/DeploymentConfigAlreadyExistsException'
        '483':
          description: InvalidMinimumHealthyHostValueException
          schema:
            $ref: '#/definitions/InvalidMinimumHealthyHostValueException'
        '484':
          description: DeploymentConfigLimitExceededException
          schema:
            $ref: '#/definitions/DeploymentConfigLimitExceededException'
        '485':
          description: InvalidComputePlatformException
          schema:
            $ref: '#/definitions/InvalidComputePlatformException'
        '486':
          description: InvalidTrafficRoutingConfigurationException
          schema:
            $ref: '#/definitions/InvalidTrafficRoutingConfigurationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDeploymentConfigInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateDeploymentGroup':
    post:
      operationId: CreateDeploymentGroup
      description: Creates a deployment group to which application revisions will be deployed.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeploymentGroupOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '483':
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        '484':
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        '485':
          description: DeploymentGroupAlreadyExistsException
          schema:
            $ref: '#/definitions/DeploymentGroupAlreadyExistsException'
        '486':
          description: InvalidEC2TagException
          schema:
            $ref: '#/definitions/InvalidEC2TagException'
        '487':
          description: InvalidTagException
          schema:
            $ref: '#/definitions/InvalidTagException'
        '488':
          description: InvalidAutoScalingGroupException
          schema:
            $ref: '#/definitions/InvalidAutoScalingGroupException'
        '489':
          description: InvalidDeploymentConfigNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentConfigNameException'
        '490':
          description: DeploymentConfigDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentConfigDoesNotExistException'
        '491':
          description: RoleRequiredException
          schema:
            $ref: '#/definitions/RoleRequiredException'
        '492':
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        '493':
          description: DeploymentGroupLimitExceededException
          schema:
            $ref: '#/definitions/DeploymentGroupLimitExceededException'
        '494':
          description: LifecycleHookLimitExceededException
          schema:
            $ref: '#/definitions/LifecycleHookLimitExceededException'
        '495':
          description: InvalidTriggerConfigException
          schema:
            $ref: '#/definitions/InvalidTriggerConfigException'
        '496':
          description: TriggerTargetsLimitExceededException
          schema:
            $ref: '#/definitions/TriggerTargetsLimitExceededException'
        '497':
          description: InvalidAlarmConfigException
          schema:
            $ref: '#/definitions/InvalidAlarmConfigException'
        '498':
          description: AlarmsLimitExceededException
          schema:
            $ref: '#/definitions/AlarmsLimitExceededException'
        '499':
          description: InvalidAutoRollbackConfigException
          schema:
            $ref: '#/definitions/InvalidAutoRollbackConfigException'
        '500':
          description: InvalidLoadBalancerInfoException
          schema:
            $ref: '#/definitions/InvalidLoadBalancerInfoException'
        '501':
          description: InvalidDeploymentStyleException
          schema:
            $ref: '#/definitions/InvalidDeploymentStyleException'
        '502':
          description: InvalidBlueGreenDeploymentConfigurationException
          schema:
            $ref: '#/definitions/InvalidBlueGreenDeploymentConfigurationException'
        '503':
          description: InvalidEC2TagCombinationException
          schema:
            $ref: '#/definitions/InvalidEC2TagCombinationException'
        '504':
          description: InvalidOnPremisesTagCombinationException
          schema:
            $ref: '#/definitions/InvalidOnPremisesTagCombinationException'
        '505':
          description: TagSetListLimitExceededException
          schema:
            $ref: '#/definitions/TagSetListLimitExceededException'
        '506':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '507':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '508':
          description: InvalidECSServiceException
          schema:
            $ref: '#/definitions/InvalidECSServiceException'
        '509':
          description: InvalidTargetGroupPairException
          schema:
            $ref: '#/definitions/InvalidTargetGroupPairException'
        '510':
          description: ECSServiceMappingLimitExceededException
          schema:
            $ref: '#/definitions/ECSServiceMappingLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDeploymentGroupInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteApplication':
    post:
      operationId: DeleteApplication
      description: Deletes an application.
      responses:
        '200':
          description: Success
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteDeploymentConfig':
    post:
      operationId: DeleteDeploymentConfig
      description: <p>Deletes a deployment configuration.</p> <note> <p>A deployment configuration cannot be deleted if it is currently in use. Predefined configurations cannot be deleted.</p> </note>
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDeploymentConfigNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentConfigNameException'
        '481':
          description: DeploymentConfigNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentConfigNameRequiredException'
        '482':
          description: DeploymentConfigInUseException
          schema:
            $ref: '#/definitions/DeploymentConfigInUseException'
        '483':
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDeploymentConfigInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteDeploymentGroup':
    post:
      operationId: DeleteDeploymentGroup
      description: Deletes a deployment group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDeploymentGroupOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        '483':
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        '484':
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDeploymentGroupInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteGitHubAccountToken':
    post:
      operationId: DeleteGitHubAccountToken
      description: Deletes a GitHub account connection.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteGitHubAccountTokenOutput'
        '480':
          description: GitHubAccountTokenNameRequiredException
          schema:
            $ref: '#/definitions/GitHubAccountTokenNameRequiredException'
        '481':
          description: GitHubAccountTokenDoesNotExistException
          schema:
            $ref: '#/definitions/GitHubAccountTokenDoesNotExistException'
        '482':
          description: InvalidGitHubAccountTokenNameException
          schema:
            $ref: '#/definitions/InvalidGitHubAccountTokenNameException'
        '483':
          description: ResourceValidationException
          schema:
            $ref: '#/definitions/ResourceValidationException'
        '484':
          description: OperationNotSupportedException
          schema:
            $ref: '#/definitions/OperationNotSupportedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteGitHubAccountTokenInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeregisterOnPremisesInstance':
    post:
      operationId: DeregisterOnPremisesInstance
      description: Deregisters an on-premises instance.
      responses:
        '200':
          description: Success
        '480':
          description: InstanceNameRequiredException
          schema:
            $ref: '#/definitions/InstanceNameRequiredException'
        '481':
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeregisterOnPremisesInstanceInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetApplication':
    post:
      operationId: GetApplication
      description: Gets information about an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApplicationOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetApplicationInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetApplicationRevision':
    post:
      operationId: GetApplicationRevision
      description: Gets information about an application revision.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetApplicationRevisionOutput'
        '480':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '481':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '482':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '483':
          description: RevisionDoesNotExistException
          schema:
            $ref: '#/definitions/RevisionDoesNotExistException'
        '484':
          description: RevisionRequiredException
          schema:
            $ref: '#/definitions/RevisionRequiredException'
        '485':
          description: InvalidRevisionException
          schema:
            $ref: '#/definitions/InvalidRevisionException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetApplicationRevisionInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDeployment':
    post:
      operationId: GetDeployment
      description: Gets information about a deployment.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentOutput'
        '480':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '481':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        '482':
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDeploymentInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDeploymentConfig':
    post:
      operationId: GetDeploymentConfig
      description: Gets information about a deployment configuration.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentConfigOutput'
        '480':
          description: InvalidDeploymentConfigNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentConfigNameException'
        '481':
          description: DeploymentConfigNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentConfigNameRequiredException'
        '482':
          description: DeploymentConfigDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentConfigDoesNotExistException'
        '483':
          description: InvalidComputePlatformException
          schema:
            $ref: '#/definitions/InvalidComputePlatformException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDeploymentConfigInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDeploymentGroup':
    post:
      operationId: GetDeploymentGroup
      description: Gets information about a deployment group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentGroupOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '483':
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        '484':
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        '485':
          description: DeploymentGroupDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentGroupDoesNotExistException'
        '486':
          description: DeploymentConfigDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentConfigDoesNotExistException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDeploymentGroupInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDeploymentInstance':
    post:
      operationId: GetDeploymentInstance
      description: Gets information about an instance as part of a deployment.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentInstanceOutput'
        '480':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '481':
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        '482':
          description: InstanceIdRequiredException
          schema:
            $ref: '#/definitions/InstanceIdRequiredException'
        '483':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        '484':
          description: InstanceDoesNotExistException
          schema:
            $ref: '#/definitions/InstanceDoesNotExistException'
        '485':
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
        '486':
          description: InvalidComputePlatformException
          schema:
            $ref: '#/definitions/InvalidComputePlatformException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDeploymentInstanceInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDeploymentTarget':
    post:
      operationId: GetDeploymentTarget
      description: ' Returns information about a deployment target. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentTargetOutput'
        '480':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        '481':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '482':
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        '483':
          description: DeploymentTargetIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentTargetIdRequiredException'
        '484':
          description: InvalidDeploymentTargetIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentTargetIdException'
        '485':
          description: DeploymentTargetDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentTargetDoesNotExistException'
        '486':
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDeploymentTargetInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetOnPremisesInstance':
    post:
      operationId: GetOnPremisesInstance
      description: ' Gets information about an on-premises instance. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetOnPremisesInstanceOutput'
        '480':
          description: InstanceNameRequiredException
          schema:
            $ref: '#/definitions/InstanceNameRequiredException'
        '481':
          description: InstanceNotRegisteredException
          schema:
            $ref: '#/definitions/InstanceNotRegisteredException'
        '482':
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetOnPremisesInstanceInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListApplicationRevisions':
    post:
      operationId: ListApplicationRevisions
      description: Lists information about revisions for an application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListApplicationRevisionsOutput'
        '480':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '481':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '482':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '483':
          description: InvalidSortByException
          schema:
            $ref: '#/definitions/InvalidSortByException'
        '484':
          description: InvalidSortOrderException
          schema:
            $ref: '#/definitions/InvalidSortOrderException'
        '485':
          description: InvalidBucketNameFilterException
          schema:
            $ref: '#/definitions/InvalidBucketNameFilterException'
        '486':
          description: InvalidKeyPrefixFilterException
          schema:
            $ref: '#/definitions/InvalidKeyPrefixFilterException'
        '487':
          description: BucketNameFilterRequiredException
          schema:
            $ref: '#/definitions/BucketNameFilterRequiredException'
        '488':
          description: InvalidDeployedStateFilterException
          schema:
            $ref: '#/definitions/InvalidDeployedStateFilterException'
        '489':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListApplicationRevisionsInput'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListApplications':
    post:
      operationId: ListApplications
      description: Lists the applications registered with the applicable IAM user or AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListApplicationsOutput'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListApplicationsInput'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDeploymentConfigs':
    post:
      operationId: ListDeploymentConfigs
      description: Lists the deployment configurations with the applicable IAM user or AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeploymentConfigsOutput'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDeploymentConfigsInput'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDeploymentGroups':
    post:
      operationId: ListDeploymentGroups
      description: Lists the deployment groups for an application registered with the applicable IAM user or AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeploymentGroupsOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDeploymentGroupsInput'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDeploymentInstances':
    post:
      operationId: ListDeploymentInstances
      description: <note> <p> The newer BatchGetDeploymentTargets should be used instead because it works with all compute types. <code>ListDeploymentInstances</code> throws an exception if it is used with a compute platform other than EC2/On-premises or AWS Lambda. </p> </note> <p> Lists the instance for a deployment associated with the applicable IAM user or AWS account. </p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeploymentInstancesOutput'
        '480':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '481':
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        '482':
          description: DeploymentNotStartedException
          schema:
            $ref: '#/definitions/DeploymentNotStartedException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        '485':
          description: InvalidInstanceStatusException
          schema:
            $ref: '#/definitions/InvalidInstanceStatusException'
        '486':
          description: InvalidInstanceTypeException
          schema:
            $ref: '#/definitions/InvalidInstanceTypeException'
        '487':
          description: InvalidDeploymentInstanceTypeException
          schema:
            $ref: '#/definitions/InvalidDeploymentInstanceTypeException'
        '488':
          description: InvalidTargetFilterNameException
          schema:
            $ref: '#/definitions/InvalidTargetFilterNameException'
        '489':
          description: InvalidComputePlatformException
          schema:
            $ref: '#/definitions/InvalidComputePlatformException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDeploymentInstancesInput'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDeploymentTargets':
    post:
      operationId: ListDeploymentTargets
      description: ' Returns an array of target IDs that are associated a deployment. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeploymentTargetsOutput'
        '480':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '481':
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        '482':
          description: DeploymentNotStartedException
          schema:
            $ref: '#/definitions/DeploymentNotStartedException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        '485':
          description: InvalidInstanceStatusException
          schema:
            $ref: '#/definitions/InvalidInstanceStatusException'
        '486':
          description: InvalidInstanceTypeException
          schema:
            $ref: '#/definitions/InvalidInstanceTypeException'
        '487':
          description: InvalidDeploymentInstanceTypeException
          schema:
            $ref: '#/definitions/InvalidDeploymentInstanceTypeException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDeploymentTargetsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDeployments':
    post:
      operationId: ListDeployments
      description: Lists the deployments in a deployment group for an application registered with the applicable IAM user or AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeploymentsOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '483':
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        '484':
          description: DeploymentGroupDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentGroupDoesNotExistException'
        '485':
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        '486':
          description: InvalidTimeRangeException
          schema:
            $ref: '#/definitions/InvalidTimeRangeException'
        '487':
          description: InvalidDeploymentStatusException
          schema:
            $ref: '#/definitions/InvalidDeploymentStatusException'
        '488':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDeploymentsInput'
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListGitHubAccountTokenNames':
    post:
      operationId: ListGitHubAccountTokenNames
      description: Lists the names of stored connections to GitHub accounts.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGitHubAccountTokenNamesOutput'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '481':
          description: ResourceValidationException
          schema:
            $ref: '#/definitions/ResourceValidationException'
        '482':
          description: OperationNotSupportedException
          schema:
            $ref: '#/definitions/OperationNotSupportedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListGitHubAccountTokenNamesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListOnPremisesInstances':
    post:
      operationId: ListOnPremisesInstances
      description: '<p>Gets a list of names for one or more on-premises instances.</p> <p>Unless otherwise specified, both registered and deregistered on-premises instance names will be listed. To list only registered or deregistered on-premises instance names, use the registration status parameter.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListOnPremisesInstancesOutput'
        '480':
          description: InvalidRegistrationStatusException
          schema:
            $ref: '#/definitions/InvalidRegistrationStatusException'
        '481':
          description: InvalidTagFilterException
          schema:
            $ref: '#/definitions/InvalidTagFilterException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListOnPremisesInstancesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutLifecycleEventHookExecutionStatus':
    post:
      operationId: PutLifecycleEventHookExecutionStatus
      description: ' Sets the result of a Lambda validation function. The function validates one or both lifecycle events (<code>BeforeAllowTraffic</code> and <code>AfterAllowTraffic</code>) and returns <code>Succeeded</code> or <code>Failed</code>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutLifecycleEventHookExecutionStatusOutput'
        '480':
          description: InvalidLifecycleEventHookExecutionStatusException
          schema:
            $ref: '#/definitions/InvalidLifecycleEventHookExecutionStatusException'
        '481':
          description: InvalidLifecycleEventHookExecutionIdException
          schema:
            $ref: '#/definitions/InvalidLifecycleEventHookExecutionIdException'
        '482':
          description: LifecycleEventAlreadyCompletedException
          schema:
            $ref: '#/definitions/LifecycleEventAlreadyCompletedException'
        '483':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '484':
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        '485':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        '486':
          description: UnsupportedActionForDeploymentTypeException
          schema:
            $ref: '#/definitions/UnsupportedActionForDeploymentTypeException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutLifecycleEventHookExecutionStatusInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RegisterApplicationRevision':
    post:
      operationId: RegisterApplicationRevision
      description: Registers with AWS CodeDeploy a revision for the specified application.
      responses:
        '200':
          description: Success
        '480':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '481':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '482':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '483':
          description: DescriptionTooLongException
          schema:
            $ref: '#/definitions/DescriptionTooLongException'
        '484':
          description: RevisionRequiredException
          schema:
            $ref: '#/definitions/RevisionRequiredException'
        '485':
          description: InvalidRevisionException
          schema:
            $ref: '#/definitions/InvalidRevisionException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RegisterApplicationRevisionInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RegisterOnPremisesInstance':
    post:
      operationId: RegisterOnPremisesInstance
      description: <p>Registers an on-premises instance.</p> <note> <p>Only one IAM ARN (an IAM session ARN or IAM user ARN) is supported in the request. You cannot use both.</p> </note>
      responses:
        '200':
          description: Success
        '480':
          description: InstanceNameAlreadyRegisteredException
          schema:
            $ref: '#/definitions/InstanceNameAlreadyRegisteredException'
        '481':
          description: IamArnRequiredException
          schema:
            $ref: '#/definitions/IamArnRequiredException'
        '482':
          description: IamSessionArnAlreadyRegisteredException
          schema:
            $ref: '#/definitions/IamSessionArnAlreadyRegisteredException'
        '483':
          description: IamUserArnAlreadyRegisteredException
          schema:
            $ref: '#/definitions/IamUserArnAlreadyRegisteredException'
        '484':
          description: InstanceNameRequiredException
          schema:
            $ref: '#/definitions/InstanceNameRequiredException'
        '485':
          description: IamUserArnRequiredException
          schema:
            $ref: '#/definitions/IamUserArnRequiredException'
        '486':
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
        '487':
          description: InvalidIamSessionArnException
          schema:
            $ref: '#/definitions/InvalidIamSessionArnException'
        '488':
          description: InvalidIamUserArnException
          schema:
            $ref: '#/definitions/InvalidIamUserArnException'
        '489':
          description: MultipleIamArnsProvidedException
          schema:
            $ref: '#/definitions/MultipleIamArnsProvidedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RegisterOnPremisesInstanceInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RemoveTagsFromOnPremisesInstances':
    post:
      operationId: RemoveTagsFromOnPremisesInstances
      description: Removes one or more tags from one or more on-premises instances.
      responses:
        '200':
          description: Success
        '480':
          description: InstanceNameRequiredException
          schema:
            $ref: '#/definitions/InstanceNameRequiredException'
        '481':
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
        '482':
          description: TagRequiredException
          schema:
            $ref: '#/definitions/TagRequiredException'
        '483':
          description: InvalidTagException
          schema:
            $ref: '#/definitions/InvalidTagException'
        '484':
          description: TagLimitExceededException
          schema:
            $ref: '#/definitions/TagLimitExceededException'
        '485':
          description: InstanceLimitExceededException
          schema:
            $ref: '#/definitions/InstanceLimitExceededException'
        '486':
          description: InstanceNotRegisteredException
          schema:
            $ref: '#/definitions/InstanceNotRegisteredException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RemoveTagsFromOnPremisesInstancesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SkipWaitTimeForInstanceTermination':
    post:
      operationId: SkipWaitTimeForInstanceTermination
      description: 'In a blue/green deployment, overrides any specified wait time and starts terminating instances immediately after the traffic routing is completed.'
      responses:
        '200':
          description: Success
        '480':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '481':
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        '482':
          description: DeploymentAlreadyCompletedException
          schema:
            $ref: '#/definitions/DeploymentAlreadyCompletedException'
        '483':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        '484':
          description: DeploymentNotStartedException
          schema:
            $ref: '#/definitions/DeploymentNotStartedException'
        '485':
          description: UnsupportedActionForDeploymentTypeException
          schema:
            $ref: '#/definitions/UnsupportedActionForDeploymentTypeException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SkipWaitTimeForInstanceTerminationInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopDeployment':
    post:
      operationId: StopDeployment
      description: Attempts to stop an ongoing deployment.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopDeploymentOutput'
        '480':
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        '481':
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        '482':
          description: DeploymentGroupDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentGroupDoesNotExistException'
        '483':
          description: DeploymentAlreadyCompletedException
          schema:
            $ref: '#/definitions/DeploymentAlreadyCompletedException'
        '484':
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopDeploymentInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateApplication':
    post:
      operationId: UpdateApplication
      description: Changes the name of an application.
      responses:
        '200':
          description: Success
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationAlreadyExistsException
          schema:
            $ref: '#/definitions/ApplicationAlreadyExistsException'
        '483':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateApplicationInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateDeploymentGroup':
    post:
      operationId: UpdateDeploymentGroup
      description: Changes information about a deployment group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDeploymentGroupOutput'
        '480':
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        '481':
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        '482':
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        '483':
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        '484':
          description: DeploymentGroupAlreadyExistsException
          schema:
            $ref: '#/definitions/DeploymentGroupAlreadyExistsException'
        '485':
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        '486':
          description: DeploymentGroupDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentGroupDoesNotExistException'
        '487':
          description: InvalidEC2TagException
          schema:
            $ref: '#/definitions/InvalidEC2TagException'
        '488':
          description: InvalidTagException
          schema:
            $ref: '#/definitions/InvalidTagException'
        '489':
          description: InvalidAutoScalingGroupException
          schema:
            $ref: '#/definitions/InvalidAutoScalingGroupException'
        '490':
          description: InvalidDeploymentConfigNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentConfigNameException'
        '491':
          description: DeploymentConfigDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentConfigDoesNotExistException'
        '492':
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        '493':
          description: LifecycleHookLimitExceededException
          schema:
            $ref: '#/definitions/LifecycleHookLimitExceededException'
        '494':
          description: InvalidTriggerConfigException
          schema:
            $ref: '#/definitions/InvalidTriggerConfigException'
        '495':
          description: TriggerTargetsLimitExceededException
          schema:
            $ref: '#/definitions/TriggerTargetsLimitExceededException'
        '496':
          description: InvalidAlarmConfigException
          schema:
            $ref: '#/definitions/InvalidAlarmConfigException'
        '497':
          description: AlarmsLimitExceededException
          schema:
            $ref: '#/definitions/AlarmsLimitExceededException'
        '498':
          description: InvalidAutoRollbackConfigException
          schema:
            $ref: '#/definitions/InvalidAutoRollbackConfigException'
        '499':
          description: InvalidLoadBalancerInfoException
          schema:
            $ref: '#/definitions/InvalidLoadBalancerInfoException'
        '500':
          description: InvalidDeploymentStyleException
          schema:
            $ref: '#/definitions/InvalidDeploymentStyleException'
        '501':
          description: InvalidBlueGreenDeploymentConfigurationException
          schema:
            $ref: '#/definitions/InvalidBlueGreenDeploymentConfigurationException'
        '502':
          description: InvalidEC2TagCombinationException
          schema:
            $ref: '#/definitions/InvalidEC2TagCombinationException'
        '503':
          description: InvalidOnPremisesTagCombinationException
          schema:
            $ref: '#/definitions/InvalidOnPremisesTagCombinationException'
        '504':
          description: TagSetListLimitExceededException
          schema:
            $ref: '#/definitions/TagSetListLimitExceededException'
        '505':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '506':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '507':
          description: InvalidECSServiceException
          schema:
            $ref: '#/definitions/InvalidECSServiceException'
        '508':
          description: InvalidTargetGroupPairException
          schema:
            $ref: '#/definitions/InvalidTargetGroupPairException'
        '509':
          description: ECSServiceMappingLimitExceededException
          schema:
            $ref: '#/definitions/ECSServiceMappingLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDeploymentGroupInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AddTagsToOnPremisesInstancesInput:
    type: object
    required:
      - tags
      - instanceNames
    properties:
      tags:
        $ref: '#/definitions/TagList'
        description: <p>The tag key-value pairs to add to the on-premises instances.</p> <p>Keys and values are both required. Keys cannot be null or empty strings. Value-only tags are not allowed.</p>
      instanceNames:
        $ref: '#/definitions/InstanceNameList'
        description: The names of the on-premises instances to which to add tags.
    description: 'Represents the input of, and adds tags to, an on-premises instance operation.'
  InstanceNameRequiredException: {}
  InvalidInstanceNameException: {}
  TagRequiredException: {}
  InvalidTagException: {}
  TagLimitExceededException: {}
  InstanceLimitExceededException: {}
  InstanceNotRegisteredException: {}
  BatchGetApplicationRevisionsOutput:
    type: object
    properties:
      applicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the application that corresponds to the revisions.
      errorMessage:
        $ref: '#/definitions/ErrorMessage'
        description: Information about errors that may have occurred during the API call.
      revisions:
        $ref: '#/definitions/RevisionInfoList'
        description: 'Additional information about the revisions, including the type and location.'
    description: Represents the output of a BatchGetApplicationRevisions operation.
  BatchGetApplicationRevisionsInput:
    type: object
    required:
      - applicationName
      - revisions
    properties:
      applicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of an AWS CodeDeploy application about which to get revision information.
      revisions:
        $ref: '#/definitions/RevisionLocationList'
        description: 'Information to get about the application revisions, including type and location.'
    description: Represents the input of a BatchGetApplicationRevisions operation.
  ApplicationDoesNotExistException: {}
  ApplicationNameRequiredException: {}
  InvalidApplicationNameException: {}
  RevisionRequiredException: {}
  InvalidRevisionException: {}
  BatchLimitExceededException: {}
  BatchGetApplicationsOutput:
    type: object
    properties:
      applicationsInfo:
        $ref: '#/definitions/ApplicationsInfoList'
        description: Information about the applications.
    description: Represents the output of a BatchGetApplications operation.
  BatchGetApplicationsInput:
    type: object
    required:
      - applicationNames
    properties:
      applicationNames:
        $ref: '#/definitions/ApplicationsList'
        description: A list of application names separated by spaces.
    description: Represents the input of a BatchGetApplications operation.
  BatchGetDeploymentGroupsOutput:
    type: object
    properties:
      deploymentGroupsInfo:
        $ref: '#/definitions/DeploymentGroupInfoList'
        description: Information about the deployment groups.
      errorMessage:
        $ref: '#/definitions/ErrorMessage'
        description: Information about errors that may have occurred during the API call.
    description: Represents the output of a BatchGetDeploymentGroups operation.
  BatchGetDeploymentGroupsInput:
    type: object
    required:
      - applicationName
      - deploymentGroupNames
    properties:
      applicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.
      deploymentGroupNames:
        $ref: '#/definitions/DeploymentGroupsList'
        description: The deployment groups' names.
    description: Represents the input of a BatchGetDeploymentGroups operation.
  DeploymentGroupNameRequiredException: {}
  InvalidDeploymentGroupNameException: {}
  DeploymentConfigDoesNotExistException: {}
  BatchGetDeploymentInstancesOutput:
    type: object
    properties:
      instancesSummary:
        $ref: '#/definitions/InstanceSummaryList'
        description: Information about the instance.
      errorMessage:
        $ref: '#/definitions/ErrorMessage'
        description: Information about errors that may have occurred during the API call.
    description: Represents the output of a BatchGetDeploymentInstances operation.
  BatchGetDeploymentInstancesInput:
    type: object
    required:
      - deploymentId
      - instanceIds
    properties:
      deploymentId:
        $ref: '#/definitions/DeploymentId'
        description: ' The unique ID of a deployment. '
      instanceIds:
        $ref: '#/definitions/InstancesList'
        description: The unique IDs of instances of the deployment.
    description: ' Represents the input of a BatchGetDeploymentInstances operation. '
  DeploymentIdRequiredException: {}
  DeploymentDoesNotExistException: {}
  InstanceIdRequiredException: {}
  InvalidDeploymentIdException: {}
  InvalidComputePlatformException: {}
  BatchGetDeploymentTargetsOutput:
    type: object
    properties:
      deploymentTargets:
        $ref: '#/definitions/DeploymentTargetList'
        description: '<p> A list of target objects for a deployment. Each target object contains details about the target, such as its status and lifecycle events. The type of the target objects depends on the deployment'' compute platform. </p> <ul> <li> <p> <b>EC2/On-premises</b> - Each target object is an EC2 or on-premises instance. </p> </li> <li> <p> <b>AWS Lambda</b> - The target object is a specific version of an AWS Lambda function. </p> </li> <li> <p> <b>Amazon ECS</b> - The target object is an Amazon ECS service. </p> </li> </ul>'
  BatchGetDeploymentTargetsInput:
    type: object
    properties:
      deploymentId:
        $ref: '#/definitions/DeploymentId'
        description: ' The unique ID of a deployment. '
      targetIds:
        $ref: '#/definitions/TargetIdList'
        description: '<p> The unique IDs of the deployment targets. The compute platform of the deployment determines the type of the targets and their formats. </p> <ul> <li> <p> For deployments that use the EC2/On-premises compute platform, the target IDs are EC2 or on-premises instances IDs and their target type is <code>instanceTarget</code>. </p> </li> <li> <p> For deployments that use the AWS Lambda compute platform, the target IDs are the names of Lambda functions and their target type is <code>instanceTarget</code>. </p> </li> <li> <p> For deployments that use the Amazon ECS compute platform, the target IDs are pairs of Amazon ECS clusters and services specified using the format <code>&lt;clustername&gt;:&lt;servicename&gt;</code>. Their target type is <code>ecsTarget</code>. </p> </li> </ul>'
  DeploymentTargetIdRequiredException: {}
  InvalidDeploymentTargetIdException: {}
  DeploymentTargetDoesNotExistException: {}
  DeploymentTargetListSizeExceededException: {}
  BatchGetDeploymentsOutput:
    type: object
    properties:
      deploymentsInfo:
        $ref: '#/definitions/DeploymentsInfoList'
        description: ' Information about the deployments. '
    description: ' Represents the output of a BatchGetDeployments operation. '
  BatchGetDeploymentsInput:
    type: object
    required:
      - deploymentIds
    properties:
      deploymentIds:
        $ref: '#/definitions/DeploymentsList'
        description: ' A list of deployment IDs, separated by spaces. '
    description: ' Represents the input of a BatchGetDeployments operation. '
  BatchGetOnPremisesInstancesOutput:
    type: object
    properties:
      instanceInfos:
        $ref: '#/definitions/InstanceInfoList'
        description: Information about the on-premises instances.
    description: Represents the output of a BatchGetOnPremisesInstances operation.
  BatchGetOnPremisesInstancesInput:
    type: object
    required:
      - instanceNames
    properties:
      instanceNames:
        $ref: '#/definitions/InstanceNameList'
        description: The names of the on-premises instances about which to get information.
[...]
