openapi: 3.0.0
servers:
  - url: https://indexing.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Notifies Google when your web pages change.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Indexing API
  version: v3
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: openapi
      url: https://indexing.googleapis.com/$discovery/rest?version=v3
      version: "3.0"
  x-providerName: googleapis.com
  x-serviceName: indexing
externalDocs:
  url: https://developers.google.com/search/apis/indexing-api/
tags:
  - name: urlNotifications
paths:
  /v3/urlNotifications/metadata:
    get:
      description: Gets metadata about a Web Document. This method can _only_ be used to query URLs that were previously seen in successful Indexing API notifications. Includes the latest `UrlNotification` received via this API.
      operationId: indexing.urlNotifications.getMetadata
      parameters:
        - description: URL that is being queried.
          in: query
          name: url
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UrlNotificationMetadata"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/indexing
          Oauth2c:
            - https://www.googleapis.com/auth/indexing
      tags:
        - urlNotifications
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v3/urlNotifications:publish:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Notifies that a URL has been updated or deleted.
      operationId: indexing.urlNotifications.publish
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UrlNotification"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublishUrlNotificationResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/indexing
          Oauth2c:
            - https://www.googleapis.com/auth/indexing
      tags:
        - urlNotifications
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    PublishUrlNotificationResponse:
      description: Output for PublishUrlNotification
      properties:
        urlNotificationMetadata:
          $ref: "#/components/schemas/UrlNotificationMetadata"
          description: Description of the notification events received for this URL.
      type: object
    UrlNotification:
      description: "`UrlNotification` is the resource used in all Indexing API calls. It describes one event in the life cycle of a Web Document."
      properties:
        notifyTime:
          description: Creation timestamp for this notification. Users should _not_ specify it, the field is ignored at the request time.
          format: google-datetime
          type: string
        type:
          description: The URL life cycle event that Google is being notified about.
          enum:
            - URL_NOTIFICATION_TYPE_UNSPECIFIED
            - URL_UPDATED
            - URL_DELETED
          type: string
        url:
          description: The object of this notification. The URL must be owned by the publisher of this notification and, in case of `URL_UPDATED` notifications, it _must_ be crawlable by Google.
          type: string
      type: object
    UrlNotificationMetadata:
      description: Summary of the most recent Indexing API notifications successfully received, for a given URL.
      properties:
        latestRemove:
          $ref: "#/components/schemas/UrlNotification"
          description: Latest notification received with type `URL_REMOVED`.
        latestUpdate:
          $ref: "#/components/schemas/UrlNotification"
          description: Latest notification received with type `URL_UPDATED`.
        url:
          description: URL to which this metadata refers.
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/indexing: Submit data to Google for indexing
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/indexing: Submit data to Google for indexing
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
