swagger: '2.0'
schemes:
  - https
host: cloudresourcemanager.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Creates, reads, and updates metadata for Google Cloud Platform resource containers.'
  title: Cloud Resource Manager
  version: v2
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://cloud.google.com/_static/images/new-gcp-logo.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.18
      format: google
      url: 'https://cloudresourcemanager.googleapis.com/$discovery/rest?version=v2'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: cloudresourcemanager
externalDocs:
  url: 'https://cloud.google.com/resource-manager'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: folders
  - name: operations
paths:
  '/v1/{name}':
    get:
      description: |-
        Gets the latest state of a long-running operation.  Clients can use this
        method to poll the operation result at intervals as recommended by the API
        service.
      operationId: cloudresourcemanager.operations.get
      parameters:
        - description: The name of the operation resource.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - operations
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  /v2/folders:
    get:
      description: |-
        Lists the Folders that are direct descendants of supplied parent resource.
        List provides a strongly consistent view of the Folders underneath
        the specified parent resource.
        List returns Folders sorted based upon the (ascending) lexical ordering
        of their display_name.
        The caller must have `resourcemanager.folders.list` permission on the
        identified parent.
      operationId: cloudresourcemanager.folders.list
      parameters:
        - description: |-
            The maximum number of Folders to return in the response.
            This field is optional.
          in: query
          name: pageSize
          type: integer
        - description: |-
            A pagination token returned from a previous call to `ListFolders`
            that indicates where this listing should continue from.
            This field is optional.
          in: query
          name: pageToken
          type: string
        - description: |-
            The resource name of the Organization or Folder whose Folders are
            being listed.
            Must be of the form `folders/{folder_id}` or `organizations/{org_id}`.
            Access to this method is controlled by checking the
            `resourcemanager.folders.list` permission on the `parent`.
          in: query
          name: parent
          type: string
        - description: |-
            Controls whether Folders in the
            DELETE_REQUESTED
            state should be returned. Defaults to false. This field is optional.
          in: query
          name: showDeleted
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListFoldersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - folders
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a Folder in the resource hierarchy.
        Returns an Operation which can be used to track the progress of the
        folder creation workflow.
        Upon success the Operation.response field will be populated with the
        created Folder.

        In order to succeed, the addition of this new Folder must not violate
        the Folder naming, height or fanout constraints.

        + The Folder's display_name must be distinct from all other Folder's that
        share its parent.
        + The addition of the Folder must not cause the active Folder hierarchy
        to exceed a height of 4. Note, the full active + deleted Folder hierarchy
        is allowed to reach a height of 8; this provides additional headroom when
        moving folders that contain deleted folders.
        + The addition of the Folder must not cause the total number of Folders
        under its parent to exceed 100.

        If the operation fails due to a folder constraint violation, some errors
        may be returned by the CreateFolder request, with status code
        FAILED_PRECONDITION and an error description. Other folder constraint
        violations will be communicated in the Operation, with the specific
        PreconditionFailure returned via the details list in the Operation.error
        field.

        The caller must have `resourcemanager.folders.create` permission on the
        identified parent.
      operationId: cloudresourcemanager.folders.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Folder'
        - description: |-
            The resource name of the new Folder's parent.
            Must be of the form `folders/{folder_id}` or `organizations/{org_id}`.
          in: query
          name: parent
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - folders
  '/v2/folders:search':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Search for folders that match specific filter criteria.
        Search provides an eventually consistent view of the folders a user has
        access to which meet the specified filter criteria.

        This will only return folders on which the caller has the
        permission `resourcemanager.folders.get`.
      operationId: cloudresourcemanager.folders.search
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SearchFoldersRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SearchFoldersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - folders
  '/v2/{name}':
    delete:
      description: |-
        Requests deletion of a Folder. The Folder is moved into the
        DELETE_REQUESTED state
        immediately, and is deleted approximately 30 days later. This method may
        only be called on an empty Folder in the
        ACTIVE state, where a Folder is empty if
        it doesn't contain any Folders or Projects in the
        ACTIVE state.
        The caller must have `resourcemanager.folders.delete` permission on the
        identified folder.
      operationId: cloudresourcemanager.folders.delete
      parameters:
        - description: |-
            the resource name of the Folder to be deleted.
            Must be of the form `folders/{folder_id}`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Folder'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - folders
    get:
      description: |-
        Retrieves a Folder identified by the supplied resource name.
        Valid Folder resource names have the format `folders/{folder_id}`
        (for example, `folders/1234`).
        The caller must have `resourcemanager.folders.get` permission on the
        identified folder.
      operationId: cloudresourcemanager.folders.get
      parameters:
        - description: |-
            The resource name of the Folder to retrieve.
            Must be of the form `folders/{folder_id}`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Folder'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - folders
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    patch:
      description: |-
        Updates a Folder, changing its display_name.
        Changes to the folder display_name will be rejected if they violate either
        the display_name formatting rules or naming constraints described in
        the CreateFolder documentation.

        The Folder's display name must start and end with a letter or digit,
        may contain letters, digits, spaces, hyphens and underscores and can be
        no longer than 30 characters. This is captured by the regular expression:
        [\p{L}\p{N}]([\p{L}\p{N}_- ]{0,28}[\p{L}\p{N}])?.
        The caller must have `resourcemanager.folders.update` permission on the
        identified folder.

        If the update fails due to the unique name constraint then a
        PreconditionFailure explaining this violation will be returned
        in the Status.details field.
      operationId: cloudresourcemanager.folders.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Folder'
        - description: |-
            Output only. The resource name of the Folder.
            Its format is `folders/{folder_id}`, for example: "folders/1234".
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Fields to be updated.
            Only the `display_name` can be updated.
          in: query
          name: updateMask
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Folder'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - folders
  '/v2/{name}:move':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Moves a Folder under a new resource parent.
        Returns an Operation which can be used to track the progress of the
        folder move workflow.
        Upon success the Operation.response field will be populated with the
        moved Folder.
        Upon failure, a FolderOperationError categorizing the failure cause will
        be returned - if the failure occurs synchronously then the
        FolderOperationError will be returned via the Status.details field
        and if it occurs asynchronously then the FolderOperation will be returned
        via the the Operation.error field.
        In addition, the Operation.metadata field will be populated with a
        FolderOperation message as an aid to stateless clients.
        Folder moves will be rejected if they violate either the naming, height
        or fanout constraints described in the
        CreateFolder documentation.
        The caller must have `resourcemanager.folders.move` permission on the
        folder's current and proposed new parent.
      operationId: cloudresourcemanager.folders.move
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/MoveFolderRequest'
        - description: |-
            The resource name of the Folder to move.
            Must be of the form folders/{folder_id}
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - folders
  '/v2/{name}:undelete':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Cancels the deletion request for a Folder. This method may only be
        called on a Folder in the
        DELETE_REQUESTED state.
        In order to succeed, the Folder's parent must be in the
        ACTIVE state.
        In addition, reintroducing the folder into the tree must not violate
        folder naming, height and fanout constraints described in the
        CreateFolder documentation.
        The caller must have `resourcemanager.folders.undelete` permission on the
        identified folder.
      operationId: cloudresourcemanager.folders.undelete
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UndeleteFolderRequest'
        - description: |-
            The resource name of the Folder to undelete.
            Must be of the form `folders/{folder_id}`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Folder'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - folders
  '/v2/{resource}:getIamPolicy':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Gets the access control policy for a Folder. The returned policy may be
        empty if no such policy or resource exists. The `resource` field should
        be the Folder's resource name, e.g. "folders/1234".
        The caller must have `resourcemanager.folders.getIamPolicy` permission
        on the identified folder.
      operationId: cloudresourcemanager.folders.getIamPolicy
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetIamPolicyRequest'
        - description: |-
            REQUIRED: The resource for which the policy is being requested.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - folders
  '/v2/{resource}:setIamPolicy':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Sets the access control policy on a Folder, replacing any existing policy.
        The `resource` field should be the Folder's resource name, e.g.
        "folders/1234".
        The caller must have `resourcemanager.folders.setIamPolicy` permission
        on the identified folder.
      operationId: cloudresourcemanager.folders.setIamPolicy
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetIamPolicyRequest'
        - description: |-
            REQUIRED: The resource for which the policy is being specified.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - folders
  '/v2/{resource}:testIamPermissions':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Returns permissions that a caller has on the specified Folder.
        The `resource` field should be the Folder's resource name,
        e.g. "folders/1234".

        There are no permissions required for making this API call.
      operationId: cloudresourcemanager.folders.testIamPermissions
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TestIamPermissionsRequest'
        - description: |-
            REQUIRED: The resource for which the policy detail is being requested.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TestIamPermissionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - folders
definitions:
  AuditConfig:
    description: |-
      Specifies the audit configuration for a service.
      The configuration determines which permission types are logged, and what
      identities, if any, are exempted from logging.
      An AuditConfig must have one or more AuditLogConfigs.

      If there are AuditConfigs for both `allServices` and a specific service,
      the union of the two AuditConfigs is used for that service: the log_types
      specified in each AuditConfig are enabled, and the exempted_members in each
      AuditLogConfig are exempted.

      Example Policy with multiple AuditConfigs:

          {
            "audit_configs": [
              {
                "service": "allServices"
                "audit_log_configs": [
                  {
                    "log_type": "DATA_READ",
                    "exempted_members": [
                      "user:foo@gmail.com"
                    ]
                  },
                  {
                    "log_type": "DATA_WRITE",
                  },
                  {
                    "log_type": "ADMIN_READ",
                  }
                ]
              },
              {
                "service": "fooservice.googleapis.com"
                "audit_log_configs": [
                  {
                    "log_type": "DATA_READ",
                  },
                  {
                    "log_type": "DATA_WRITE",
                    "exempted_members": [
                      "user:bar@gmail.com"
                    ]
                  }
                ]
              }
            ]
          }

      For fooservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ
      logging. It also exempts foo@gmail.com from DATA_READ logging, and
      bar@gmail.com from DATA_WRITE logging.
    properties:
      auditLogConfigs:
        description: The configuration for logging of each type of permission.
        items:
          $ref: '#/definitions/AuditLogConfig'
        type: array
      service:
        description: |-
          Specifies a service that will be enabled for audit logging.
          For example, `storage.googleapis.com`, `cloudsql.googleapis.com`.
          `allServices` is a special value that covers all services.
        type: string
    type: object
  AuditLogConfig:
    description: |-
      Provides the configuration for logging a type of permissions.
      Example:

          {
            "audit_log_configs": [
              {
                "log_type": "DATA_READ",
                "exempted_members": [
                  "user:foo@gmail.com"
                ]
              },
              {
                "log_type": "DATA_WRITE",
              }
            ]
          }

      This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting
      foo@gmail.com from DATA_READ logging.
    properties:
      exemptedMembers:
        description: |-
          Specifies the identities that do not cause logging for this type of
          permission.
          Follows the same format of Binding.members.
        items:
          type: string
        type: array
      logType:
        description: The log type that this config enables.
        enum:
          - LOG_TYPE_UNSPECIFIED
          - ADMIN_READ
          - DATA_WRITE
          - DATA_READ
        type: string
    type: object
  Binding:
    description: Associates `members` with a `role`.
    properties:
      condition:
        $ref: '#/definitions/Expr'
        description: |-
          Unimplemented. The condition that is associated with this binding.
          NOTE: an unsatisfied condition will not allow user access via current
          binding. Different bindings, including their conditions, are examined
          independently.
      members:
        description: |+
          Specifies the identities requesting access for a Cloud Platform resource.
          `members` can have the following values:

          * `allUsers`: A special identifier that represents anyone who is
             on the internet; with or without a Google account.

          * `allAuthenticatedUsers`: A special identifier that represents anyone
             who is authenticated with a Google account or a service account.

          * `user:{emailid}`: An email address that represents a specific Google
             account. For example, `alice@gmail.com` .


          * `serviceAccount:{emailid}`: An email address that represents a service
             account. For example, `my-other-app@appspot.gserviceaccount.com`.

          * `group:{emailid}`: An email address that represents a Google group.
             For example, `admins@example.com`.


          * `domain:{domain}`: A Google Apps domain name that represents all the
             users of that domain. For example, `google.com` or `example.com`.

        items:
          type: string
        type: array
      role:
        description: |-
          Role that is assigned to `members`.
          For example, `roles/viewer`, `roles/editor`, or `roles/owner`.
        type: string
    type: object
  Expr:
    description: |-
      Represents an expression text. Example:

          title: "User account presence"
          description: "Determines whether the request has a user account"
          expression: "size(request.user) > 0"
    properties:
      description:
        description: |-
          An optional description of the expression. This is a longer text which
          describes the expression, e.g. when hovered over it in a UI.
        type: string
      expression:
        description: |-
          Textual representation of an expression in
          Common Expression Language syntax.

          The application context of the containing message determines which
          well-known feature set of CEL is supported.
        type: string
      location:
        description: |-
          An optional string indicating the location of the expression for error
          reporting, e.g. a file name and a position in the file.
        type: string
      title:
        description: |-
          An optional title for the expression, i.e. a short string describing
          its purpose. This can be used e.g. in UIs which allow to enter the
          expression.
        type: string
    type: object
  Folder:
    description: |-
      A Folder in an Organization's resource hierarchy, used to
      organize that Organization's resources.
    properties:
      createTime:
        description: Output only. Timestamp when the Folder was created. Assigned by the server.
        format: google-datetime
        type: string
      displayName:
        description: |-
          The folder’s display name.
          A folder’s display name must be unique amongst its siblings, e.g.
          no two folders with the same parent can share the same display name.
          The display name must start and end with a letter or digit, may contain
          letters, digits, spaces, hyphens and underscores and can be no longer
          than 30 characters. This is captured by the regular expression:
          [\p{L}\p{N}]([\p{L}\p{N}_- ]{0,28}[\p{L}\p{N}])?.
        type: string
      lifecycleState:
        description: |-
          Output only.  The lifecycle state of the folder.
          Updates to the lifecycle_state must be performed via
          DeleteFolder and
          UndeleteFolder.
        enum:
          - LIFECYCLE_STATE_UNSPECIFIED
          - ACTIVE
          - DELETE_REQUESTED
        type: string
      name:
        description: |-
          Output only. The resource name of the Folder.
          Its format is `folders/{folder_id}`, for example: "folders/1234".
        type: string
      parent:
        description: |-
          The Folder’s parent's resource name.
          Updates to the folder's parent must be performed via
          MoveFolder.
        type: string
    type: object
  FolderOperation:
    description: Metadata describing a long running folder operation
    properties:
      destinationParent:
        description: |-
          The resource name of the folder or organization we are either creating
          the folder under or moving the folder to.
        type: string
      displayName:
        description: The display name of the folder.
        type: string
      operationType:
        description: The type of this operation.
        enum:
          - OPERATION_TYPE_UNSPECIFIED
          - CREATE
          - MOVE
        type: string
      sourceParent:
        description: |-
          The resource name of the folder's parent.
          Only applicable when the operation_type is MOVE.
        type: string
    type: object
  FolderOperationError:
    description: A classification of the Folder Operation error.
    properties:
      errorMessageId:
        description: The type of operation error experienced.
        enum:
          - ERROR_TYPE_UNSPECIFIED
          - ACTIVE_FOLDER_HEIGHT_VIOLATION
          - MAX_CHILD_FOLDERS_VIOLATION
          - FOLDER_NAME_UNIQUENESS_VIOLATION
          - RESOURCE_DELETED_VIOLATION
          - PARENT_DELETED_VIOLATION
          - CYCLE_INTRODUCED_VIOLATION
          - FOLDER_BEING_MOVED_VIOLATION
          - FOLDER_TO_DELETE_NON_EMPTY_VIOLATION
          - DELETED_FOLDER_HEIGHT_VIOLATION
        type: string
    type: object
  GetIamPolicyRequest:
    description: Request message for `GetIamPolicy` method.
    properties: {}
    type: object
  ListFoldersResponse:
    description: The ListFolders response message.
    properties:
      folders:
        description: |-
          A possibly paginated list of Folders that are direct descendants of
          the specified parent resource.
        items:
          $ref: '#/definitions/Folder'
        type: array
      nextPageToken:
        description: |-
          A pagination token returned from a previous call to `ListFolders`
          that indicates from where listing should continue.
          This field is optional.
        type: string
    type: object
  MoveFolderRequest:
    description: The MoveFolder request message.
    properties:
      destinationParent:
        description: |-
          The resource name of the Folder or Organization to reparent
          the folder under.
          Must be of the form `folders/{folder_id}` or `organizations/{org_id}`.
        type: string
    type: object
  Operation:
    description: |-
      This resource represents a long-running operation that is the result of a
      network API call.
    properties:
      done:
        description: |-
          If the value is `false`, it means the operation is still in progress.
          If `true`, the operation is completed, and either `error` or `response` is
          available.
        type: boolean
      error:
        $ref: '#/definitions/Status'
        description: The error result of the operation in case of failure or cancellation.
      metadata:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: |-
          Service-specific metadata associated with the operation.  It typically
          contains progress information and common metadata such as create time.
          Some services might not provide such metadata.  Any method that returns a
          long-running operation should document the metadata type, if any.
        type: object
      name:
        description: |-
          The server-assigned name, which is only unique within the same service that
          originally returns it. If you use the default HTTP mapping, the
          `name` should have the format of `operations/some/unique/name`.
        type: string
      response:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: |-
          The normal response of the operation in case of success.  If the original
          method returns no data on success, such as `Delete`, the response is
          `google.protobuf.Empty`.  If the original method is standard
          `Get`/`Create`/`Update`, the response should be the resource.  For other
          methods, the response should have the type `XxxResponse`, where `Xxx`
          is the original method name.  For example, if the original method name
          is `TakeSnapshot()`, the inferred response type is
          `TakeSnapshotResponse`.
        type: object
    type: object
  Policy:
    description: |-
      Defines an Identity and Access Management (IAM) policy. It is used to
      specify access control policies for Cloud Platform resources.


      A `Policy` consists of a list of `bindings`. A `binding` binds a list of
      `members` to a `role`, where the members can be user accounts, Google groups,
      Google domains, and service accounts. A `role` is a named list of permissions
      defined by IAM.

      **JSON Example**

          {
            "bindings": [
              {
                "role": "roles/owner",
                "members": [
                  "user:mike@example.com",
                  "group:admins@example.com",
                  "domain:google.com",
                  "serviceAccount:my-other-app@appspot.gserviceaccount.com"
                ]
              },
              {
                "role": "roles/viewer",
                "members": ["user:sean@example.com"]
              }
            ]
          }

      **YAML Example**

          bindings:
          - members:
            - user:mike@example.com
            - group:admins@example.com
            - domain:google.com
            - serviceAccount:my-other-app@appspot.gserviceaccount.com
            role: roles/owner
          - members:
            - user:sean@example.com
            role: roles/viewer


      For a description of IAM and its features, see the
      [IAM developer's guide](https://cloud.google.com/iam/docs).
    properties:
      auditConfigs:
        description: Specifies cloud audit logging configuration for this policy.
        items:
          $ref: '#/definitions/AuditConfig'
        type: array
      bindings:
        description: |-
          Associates a list of `members` to a `role`.
          `bindings` with no members will result in an error.
        items:
          $ref: '#/definitions/Binding'
        type: array
      etag:
        description: |-
          `etag` is used for optimistic concurrency control as a way to help
          prevent simultaneous updates of a policy from overwriting each other.
          It is strongly suggested that systems make use of the `etag` in the
          read-modify-write cycle to perform policy updates in order to avoid race
          conditions: An `etag` is returned in the response to `getIamPolicy`, and
          systems are expected to put that etag in the request to `setIamPolicy` to
          ensure that their change will be applied to the same version of the policy.

          If no `etag` is provided in the call to `setIamPolicy`, then the existing
          policy is overwritten blindly.
        format: byte
        type: string
      version:
        description: Deprecated.
        format: int32
        type: integer
    type: object
  ProjectCreationStatus:
    description: |-
      A status object which is used as the `metadata` field for the Operation
      returned by CreateProject. It provides insight for when significant phases of
      Project creation have completed.
    properties:
      createTime:
        description: Creation time of the project creation workflow.
        format: google-datetime
        type: string
      gettable:
        description: |-
          True if the project can be retrieved using GetProject. No other operations
          on the project are guaranteed to work until the project creation is
          complete.
        type: boolean
      ready:
        description: True if the project creation process is complete.
        type: boolean
    type: object
  SearchFoldersRequest:
    description: The request message for searching folders.
    properties:
      pageSize:
        description: |-
          The maximum number of folders to return in the response.
          This field is optional.
        format: int32
        type: integer
      pageToken:
        description: |-
          A pagination token returned from a previous call to `SearchFolders`
          that indicates from where search should continue.
          This field is optional.
        type: string
      query:
        description: |-
          Search criteria used to select the Folders to return.
          If no search criteria is specified then all accessible folders will be
          returned.

          Query expressions can be used to restrict results based upon displayName,
          lifecycleState and parent, where the operators `=`, `NOT`, `AND` and `OR`
          can be used along with the suffix wildcard symbol `*`.

          The displayName field in a query expression should use escaped quotes
          for values that include whitespace to prevent unexpected behavior.

          Some example queries are:

          |Query | Description|
          |----- | -----------|
          |displayName=Test* | Folders whose display name starts with "Test".|
          |lifecycleState=ACTIVE | Folders whose lifecycleState is ACTIVE.|
          |parent=folders/123 | Folders whose parent is "folders/123".|
          |parent=folders/123 AND lifecycleState=ACTIVE | Active folders whose parent is "folders/123".|
          |displayName=\\"Test String\\"|Folders whose display name includes both "Test" and "String".|
        type: string
    type: object
  SearchFoldersResponse:
    description: The response message for searching folders.
    properties:
      folders:
        description: |-
          A possibly paginated folder search results.
          the specified parent resource.
        items:
          $ref: '#/definitions/Folder'
        type: array
      nextPageToken:
        description: |-
          A pagination token returned from a previous call to `SearchFolders`
          that indicates from where searching should continue.
          This field is optional.
        type: string
    type: object
  SetIamPolicyRequest:
    description: Request message for `SetIamPolicy` method.
    properties:
      policy:
        $ref: '#/definitions/Policy'
        description: |-
          REQUIRED: The complete policy to be applied to the `resource`. The size of
          the policy is limited to a few 10s of KB. An empty policy is a
          valid policy but certain Cloud Platform services (such as Projects)
          might reject them.
      updateMask:
        description: |-
          OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only
          the fields in the mask will be modified. If no mask is provided, the
          following default mask is used:
          paths: "bindings, etag"
          This field is only used by Cloud IAM.
        format: google-fieldmask
        type: string
    type: object
  Status:
    description: |-
      The `Status` type defines a logical error model that is suitable for different
      programming environments, including REST APIs and RPC APIs. It is used by
      [gRPC](https://github.com/grpc). The error model is designed to be:

      - Simple to use and understand for most users
      - Flexible enough to meet unexpected needs

      # Overview

      The `Status` message contains three pieces of data: error code, error message,
      and error details. The error code should be an enum value of
      google.rpc.Code, but it may accept additional error codes if needed.  The
      error message should be a developer-facing English message that helps
      developers *understand* and *resolve* the error. If a localized user-facing
      error message is needed, put the localized message in the error details or
      localize it in the client. The optional error details may contain arbitrary
      information about the error. There is a predefined set of error detail types
      in the package `google.rpc` that can be used for common error conditions.

      # Language mapping

      The `Status` message is the logical representation of the error model, but it
      is not necessarily the actual wire format. When the `Status` message is
      exposed in different client libraries and different wire protocols, it can be
      mapped differently. For example, it will likely be mapped to some exceptions
      in Java, but more likely mapped to some error codes in C.

      # Other uses

      The error model and the `Status` message can be used in a variety of
      environments, either with or without APIs, to provide a
      consistent developer experience across different environments.

      Example uses of this error model include:

      - Partial errors. If a service needs to return partial errors to the client,
          it may embed the `Status` in the normal response to indicate the partial
          errors.

      - Workflow errors. A typical workflow has multiple steps. Each step may
          have a `Status` message for error reporting.

      - Batch operations. If a client uses batch request and batch response, the
          `Status` message should be used directly inside batch response, one for
          each error sub-response.

      - Asynchronous operations. If an API call embeds asynchronous operation
          results in its response, the status of those operations should be
          represented directly using the `Status` message.

      - Logging. If some API errors are stored in logs, the message `Status` could
          be used directly after any stripping needed for security/privacy reasons.
    properties:
      code:
        description: 'The status code, which should be an enum value of google.rpc.Code.'
        format: int32
        type: integer
      details:
        description: |-
          A list of messages that carry the error details.  There is a common set of
          message types for APIs to use.
        items:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          type: object
        type: array
      message:
        description: |-
          A developer-facing error message, which should be in English. Any
          user-facing error message should be localized and sent in the
          google.rpc.Status.details field, or localized by the client.
        type: string
    type: object
  TestIamPermissionsRequest:
    description: Request message for `TestIamPermissions` method.
    properties:
      permissions:
        description: |-
          The set of permissions to check for the `resource`. Permissions with
          wildcards (such as '*' or 'storage.*') are not allowed. For more
          information see
          [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).
        items:
          type: string
        type: array
    type: object
  TestIamPermissionsResponse:
    description: Response message for `TestIamPermissions` method.
    properties:
      permissions:
        description: |-
          A subset of `TestPermissionsRequest.permissions` that the caller is
          allowed.
        items:
          type: string
        type: array
    type: object
  UndeleteFolderRequest:
    description: The UndeleteFolder request message.
    properties: {}
    type: object
