{
  "swagger": "2.0",
  "info": {
    "title": "Google Play Developer API",
    "description": "Lets Android application developers access their Google Play accounts.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1.1"
  },
  "host": "www.googleapis.com",
  "basePath": "/androidpublisher/v1.1/applications",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{packageName}/inapp/{productId}/purchases/{token}": {
      "get": {
        "description": "Checks the purchase and consumption status of an inapp item.",
        "operationId": "androidpublisher.inapppurchases.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/InappPurchase"
            }
          }
        },
        "parameters": [
          {
            "name": "packageName",
            "in": "path",
            "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
            "required": true,
            "type": "string"
          },
          {
            "name": "productId",
            "in": "path",
            "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "path",
            "description": "The token provided to the user's device when the inapp product was purchased.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/androidpublisher"
            ]
          }
        ],
        "tags": [
          "inapppurchases"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{packageName}/subscriptions/{subscriptionId}/purchases/{token}/cancel": {
      "post": {
        "description": "Cancels a user's subscription purchase. The subscription remains valid until its expiration time.",
        "operationId": "androidpublisher.purchases.cancel",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "packageName",
            "in": "path",
            "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The purchased subscription ID (for example, 'monthly001').",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "path",
            "description": "The token provided to the user's device when the subscription was purchased.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/androidpublisher"
            ]
          }
        ],
        "tags": [
          "purchases"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{packageName}/subscriptions/{subscriptionId}/purchases/{token}": {
      "get": {
        "description": "Checks whether a user's subscription purchase is valid and returns its expiry time.",
        "operationId": "androidpublisher.purchases.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SubscriptionPurchase"
            }
          }
        },
        "parameters": [
          {
            "name": "packageName",
            "in": "path",
            "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The purchased subscription ID (for example, 'monthly001').",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "path",
            "description": "The token provided to the user's device when the subscription was purchased.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/androidpublisher"
            ]
          }
        ],
        "tags": [
          "purchases"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    }
  },
  "definitions": {
    "InappPurchase": {
      "type": "object",
      "description": "An InappPurchase resource indicates the status of a user's inapp product purchase.",
      "properties": {
        "consumptionState": {
          "type": "integer",
          "description": "The consumption state of the inapp product. Possible values are:  \n- Yet to be consumed \n- Consumed",
          "format": "int32"
        },
        "developerPayload": {
          "type": "string",
          "description": "A developer-specified string that contains supplemental information about an order."
        },
        "kind": {
          "type": "string",
          "description": "This kind represents an inappPurchase object in the androidpublisher service.",
          "default": "androidpublisher#inappPurchase"
        },
        "purchaseState": {
          "type": "integer",
          "description": "The purchase state of the order. Possible values are:  \n- Purchased \n- Cancelled",
          "format": "int32"
        },
        "purchaseTime": {
          "type": "string",
          "description": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).",
          "format": "int64"
        }
      }
    },
    "SubscriptionPurchase": {
      "type": "object",
      "description": "A SubscriptionPurchase resource indicates the status of a user's subscription purchase.",
      "properties": {
        "autoRenewing": {
          "type": "boolean",
          "description": "Whether the subscription will automatically be renewed when it reaches its current expiry time."
        },
        "initiationTimestampMsec": {
          "type": "string",
          "description": "Time at which the subscription was granted, in milliseconds since Epoch.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a subscriptionPurchase object in the androidpublisher service.",
          "default": "androidpublisher#subscriptionPurchase"
        },
        "validUntilTimestampMsec": {
          "type": "string",
          "description": "Time at which the subscription will expire, in milliseconds since Epoch.",
          "format": "int64"
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "name": "alt",
      "in": "query",
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json"
      ]
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "name": "key",
      "in": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "name": "oauth_token",
      "in": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "name": "prettyPrint",
      "in": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "name": "quotaUser",
      "in": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "userIp": {
      "name": "userIp",
      "in": "query",
      "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "Oauth2": {
      "type": "oauth2",
      "description": "Oauth 2.0 authentication",
      "flow": "implicit",
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": "View and manage your Google Play Developer account"
      }
    }
  },
  "externalDocs": {
    "url": "https://developers.google.com/android-publisher"
  }
}