openapi: 3.0.0
servers:
  - url: 'https://api.apitore.com/api/8'
info:
  description: 'Word2Vec.<BR />[Endpoint] https://api.apitore.com/api/8'
  title: Word2Vec APIs
  version: 1.0.2
  x-description-language: jp
  x-logo:
    url: 'https://apitore.com/img/apis/8.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.apitore.com/json/8'
      version: '2.0'
  x-providerName: apitore.com
  x-serviceName: word2vecApis
tags:
  - description: Word 2 Vec Controller
    name: word-2-vec-controller
paths:
  /word2vec-neologd-jawiki/analogy:
    get:
      description: 'Word2Vec JaWikipedia 2016-9-15 dump.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/word2vec-response">word2vec-response</a><BR />&nbsp; Class: com.apitore.banana.response.word2vec.AnalogyResponseEntity<BR />'
      operationId: analogyUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          schema:
            type: string
        - description: 'positive1 positive2 ...[space separated strings]'
          in: query
          name: positives
          required: true
          schema:
            type: string
        - description: 'negative1 negative2 ...[space separated strings]'
          in: query
          name: negatives
          required: false
          schema:
            type: string
        - description: 'num [max 10, default 1]'
          in: query
          name: num
          required: false
          schema:
            type: integer
            format: int32
            default: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalogyResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Word2Vec analogy
      tags:
        - word-2-vec-controller
  /word2vec-neologd-jawiki/distance:
    get:
      description: 'Word2Vec JaWikipedia 2016-9-15 dump.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/word2vec-response">word2vec-response</a><BR />&nbsp; Class: com.apitore.banana.response.word2vec.DistanceResponseEntity<BR />'
      operationId: distanceUsingGET_1
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          schema:
            type: string
        - description: word
          in: query
          name: word
          required: true
          schema:
            type: string
        - description: 'num [max 10, default 1]'
          in: query
          name: num
          required: false
          schema:
            type: integer
            format: int32
            default: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistanceResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Word2Vec distance
      tags:
        - word-2-vec-controller
  /word2vec-neologd-jawiki/similarity:
    get:
      description: 'Word2Vec JaWikipedia 2016-9-15 dump.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/word2vec-response">word2vec-response</a><BR />&nbsp; Class: com.apitore.banana.response.word2vec.SimilarityResponseEntity<BR />'
      operationId: similarityUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          schema:
            type: string
        - description: word1
          in: query
          name: word1
          required: true
          schema:
            type: string
        - description: word2
          in: query
          name: word2
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimilarityResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Word2Vec similarity
      tags:
        - word-2-vec-controller
  /word2vec-neologd-jawiki/vec_distance:
    get:
      description: 'Word2Vec JaWikipedia 2016-9-15 dump.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/word2vec-response">word2vec-response</a><BR />&nbsp; Class: com.apitore.banana.response.word2vec.DistanceResponseEntity<BR />'
      operationId: vec_distanceUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          schema:
            type: string
        - description: 'vector [length 200]'
          in: query
          name: vector
          required: true
          explode: true
          schema:
            type: array
            items:
              format: double
              type: number
        - description: 'num [max 10, default 1]'
          in: query
          name: num
          required: false
          schema:
            type: integer
            format: int32
            default: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorDistanceResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Word2Vec distance (Vector version)
      tags:
        - word-2-vec-controller
  /word2vec-neologd-jawiki/wordvector:
    get:
      description: 'Word2Vec JaWikipedia 2016-9-15 dump.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/word2vec-response">word2vec-response</a><BR />&nbsp; Class: com.apitore.banana.response.word2vec.WordVectorResponseEntity<BR />'
      operationId: wordvectorUsingGET_1
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          schema:
            type: string
        - description: word
          in: query
          name: word
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WordVectorResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Word2Vec wordvector
      tags:
        - word-2-vec-controller
components:
  schemas:
    AnalogyResponseEntity:
      properties:
        analogies:
          description: Analogies
          items:
            type: string
          type: array
        endTime:
          description: End date
          type: string
        log:
          description: Log message
          type: string
        negatives:
          description: Input negatives
          type: string
        num:
          description: Input num
          type: string
        positives:
          description: Input positives
          type: string
        processTime:
          description: 'Process time [millisecond]'
          type: string
        startTime:
          description: Start date
          type: string
      required:
        - endTime
        - log
        - negatives
        - num
        - positives
        - processTime
        - startTime
      type: object
    DistanceEntity:
      properties:
        distance:
          description: cosine distance
          format: double
          type: number
        word:
          description: word
          type: string
      required:
        - distance
        - word
      type: object
    DistanceResponseEntity:
      properties:
        distances:
          description: Distances
          items:
            $ref: '#/components/schemas/DistanceEntity'
          type: array
        endTime:
          description: End date
          type: string
        input:
          description: Input word
          type: string
        log:
          description: Log message
          type: string
        num:
          description: Input num
          type: string
        processTime:
          description: 'Process time [millisecond]'
          type: string
        startTime:
          description: Start date
          type: string
      required:
        - endTime
        - input
        - log
        - num
        - processTime
        - startTime
      type: object
    SimilarityResponseEntity:
      properties:
        endTime:
          description: End date
          type: string
        log:
          description: Log message
          type: string
        processTime:
          description: 'Process time [millisecond]'
          type: string
        similarity:
          description: Similarity
          format: double
          type: number
        startTime:
          description: Start date
          type: string
        word1:
          description: Input word1
          type: string
        word2:
          description: Input word2
          type: string
      required:
        - endTime
        - log
        - processTime
        - startTime
        - word1
        - word2
      type: object
    VectorDistanceResponseEntity:
      properties:
        distances:
          description: Distances
          items:
            $ref: '#/components/schemas/DistanceEntity'
          type: array
        endTime:
          description: End date
          type: string
        input:
          description: Input vector
          items:
            format: double
            type: number
          type: array
        log:
          description: Log message
          type: string
        num:
          description: Input num
          type: string
        processTime:
          description: 'Process time [millisecond]'
          type: string
        startTime:
          description: Start date
          type: string
      required:
        - endTime
        - input
        - log
        - num
        - processTime
        - startTime
      type: object
    WordVectorResponseEntity:
      properties:
        endTime:
          description: End date
          type: string
        log:
          description: Log message
          type: string
        processTime:
          description: 'Process time [millisecond]'
          type: string
        startTime:
          description: Start date
          type: string
        vector:
          description: Vector
          items:
            format: double
            type: number
          type: array
        word:
          description: Input word
          type: string
      required:
        - endTime
        - log
        - processTime
        - startTime
        - word
      type: object
