openapi: 3.0.0
servers:
  - url: http://azure-api.sportsdata.io/v3/nba/pbp
  - url: https://azure-api.sportsdata.io/v3/nba/pbp
info:
  contact:
    x-twitter: nfldata
  description: NBA play-by-play API.
  title: NBA v3 Play-by-Play
  version: "1.0"
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg
  x-origin:
    - format: swagger
      url: https://fantasydata.com/downloads/swagger/nba-v3-play-by-play.json
      version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nba-v3-play-by-play
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
tags: []
paths:
  "/{format}/PlayByPlay/{gameid}":
    get:
      operationId: PlayByPlay
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: The GameID of an NBA game.  GameIDs can be found in the Games API.  Valid entries are <code>14620</code>, <code>16905</code>, etc.
          in: path
          name: gameid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayByPlay"
          description: ""
      summary: Play By Play
  "/{format}/PlayByPlayDelta/{date}/{minutes}":
    get:
      operationId: PlayByPlayDelta
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: |-
            The date of the game(s).
            <br>Examples: <code>2016-OCT-31</code>, <code>2017-JAN-15</code>.
          in: path
          name: date
          required: true
          schema:
            type: string
        - description: |-
            Only returns plays that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:
            <code>1</code>, <code>2</code> ... <code>all</code>.
          in: path
          name: minutes
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayByPlay"
                type: array
          description: ""
      summary: Play By Play Delta
components:
  schemas:
    Game:
      properties:
        AlternateID:
          nullable: true
          type: integer
        Attendance:
          nullable: true
          type: integer
        AwayRotationNumber:
          nullable: true
          type: integer
        AwayTeam:
          nullable: true
          type: string
        AwayTeamID:
          nullable: false
          type: integer
        AwayTeamMoneyLine:
          nullable: true
          type: integer
        AwayTeamScore:
          nullable: true
          type: integer
        Channel:
          nullable: true
          type: string
        CrewChiefID:
          nullable: true
          type: integer
        DateTime:
          nullable: true
          type: string
        DateTimeUTC:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        GameEndDateTime:
          nullable: true
          type: string
        GameID:
          nullable: false
          type: integer
        GlobalAwayTeamID:
          nullable: false
          type: integer
        GlobalGameID:
          nullable: false
          type: integer
        GlobalHomeTeamID:
          nullable: false
          type: integer
        HomeRotationNumber:
          nullable: true
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeTeamID:
          nullable: false
          type: integer
        HomeTeamMoneyLine:
          nullable: true
          type: integer
        HomeTeamScore:
          nullable: true
          type: integer
        IsClosed:
          nullable: false
          type: boolean
        LastPlay:
          nullable: true
          type: string
        NeutralVenue:
          nullable: true
          type: boolean
        OverPayout:
          nullable: true
          type: integer
        OverUnder:
          nullable: true
          type: number
        PointSpread:
          nullable: true
          type: number
        PointSpreadAwayTeamMoneyLine:
          nullable: true
          type: integer
        PointSpreadHomeTeamMoneyLine:
          nullable: true
          type: integer
        Quarter:
          nullable: true
          type: string
        Quarters:
          items:
            $ref: "#/components/schemas/Quarter"
          type: array
        RefereeID:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        SeriesInfo:
          $ref: "#/components/schemas/Series"
        StadiumID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        TimeRemainingMinutes:
          nullable: true
          type: integer
        TimeRemainingSeconds:
          nullable: true
          type: integer
        UmpireID:
          nullable: true
          type: integer
        UnderPayout:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
    Play:
      properties:
        AssistedByPlayerID:
          nullable: true
          type: integer
        AwayPlayerID:
          nullable: true
          type: integer
        AwayTeamScore:
          nullable: true
          type: integer
        BaselineOffsetPercentage:
          nullable: true
          type: number
        BlockedByPlayerID:
          nullable: true
          type: integer
        Category:
          nullable: true
          type: string
        Coordinates:
          nullable: true
          type: string
        Created:
          nullable: true
          type: string
        Description:
          nullable: true
          type: string
        FastBreak:
          nullable: true
          type: boolean
        HomePlayerID:
          nullable: true
          type: integer
        HomeTeamScore:
          nullable: true
          type: integer
        Opponent:
          nullable: true
          type: string
        OpponentID:
          nullable: true
          type: integer
        PlayID:
          nullable: false
          type: integer
        PlayerID:
          nullable: true
          type: integer
        Points:
          nullable: true
          type: integer
        PotentialPoints:
          nullable: true
          type: integer
        QuarterID:
          nullable: false
          type: integer
        QuarterName:
          nullable: true
          type: string
        ReceivingPlayerID:
          nullable: true
          type: integer
        ReceivingTeam:
          nullable: true
          type: string
        ReceivingTeamID:
          nullable: true
          type: integer
        Sequence:
          nullable: false
          type: integer
        ShotMade:
          nullable: true
          type: boolean
        SideOfBasket:
          nullable: true
          type: string
        SidelineOffsetPercentage:
          nullable: true
          type: number
        StolenByPlayerID:
          nullable: true
          type: integer
        SubstituteInPlayerID:
          nullable: true
          type: integer
        SubstituteOutPlayerID:
          nullable: true
          type: integer
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        TimeRemainingMinutes:
          nullable: true
          type: integer
        TimeRemainingSeconds:
          nullable: true
          type: integer
        Type:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
    PlayByPlay:
      properties:
        Game:
          $ref: "#/components/schemas/Game"
        Plays:
          items:
            $ref: "#/components/schemas/Play"
          type: array
        Quarters:
          items:
            $ref: "#/components/schemas/Quarter"
          type: array
    Quarter:
      properties:
        AwayScore:
          nullable: true
          type: integer
        GameID:
          nullable: false
          type: integer
        HomeScore:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        Number:
          nullable: false
          type: integer
        QuarterID:
          nullable: false
          type: integer
    Series:
      properties:
        AwayTeamWins:
          nullable: false
          type: integer
        GameNumber:
          nullable: false
          type: integer
        HomeTeamWins:
          nullable: false
          type: integer
        MaxLength:
          nullable: false
          type: integer
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
    apiKeyQuery:
      in: query
      name: key
      type: apiKey
