swagger: '2.0'
info:
  version: '2014-06-30'
  x-release: v4
  title: Amazon Cognito Identity
  description: '<fullname>Amazon Cognito</fullname> <p>Amazon Cognito is a web service that delivers scoped temporary credentials to mobile devices and other untrusted environments. Amazon Cognito uniquely identifies a device and supplies the user with a consistent identity over the lifetime of an application.</p> <p>Using Amazon Cognito, you can enable authentication with one or more third-party identity providers (Facebook, Google, or Login with Amazon), and you can also choose to support unauthenticated access from your app. Cognito delivers a unique identifier for each user and acts as an OpenID token provider trusted by AWS Security Token Service (STS) to access temporary, limited-privilege AWS credentials.</p> <p>To provide end-user credentials, first make an unsigned call to <a>GetId</a>. If the end user is authenticated with one of the supported identity providers, set the <code>Logins</code> map with the identity provider token. <code>GetId</code> returns a unique identifier for the user.</p> <p>Next, make an unsigned call to <a>GetCredentialsForIdentity</a>. This call expects the same <code>Logins</code> map as the <code>GetId</code> call, as well as the <code>IdentityID</code> originally returned by <code>GetId</code>. Assuming your identity pool has been configured via the <a>SetIdentityPoolRoles</a> operation, <code>GetCredentialsForIdentity</code> will return AWS credentials for your use. If your pool has not been configured with <code>SetIdentityPoolRoles</code>, or if you want to follow legacy flow, make an unsigned call to <a>GetOpenIdToken</a>, which returns the OpenID token necessary to call STS and retrieve AWS credentials. This call expects the same <code>Logins</code> map as the <code>GetId</code> call, as well as the <code>IdentityID</code> originally returned by <code>GetId</code>. The token returned by <code>GetOpenIdToken</code> can be passed to the STS operation <a href="http://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRoleWithWebIdentity.html">AssumeRoleWithWebIdentity</a> to retrieve AWS credentials.</p> <p>If you want to use Amazon Cognito in an Android, iOS, or Unity application, you will probably want to make API calls via the AWS Mobile SDK. To learn more, see the <a href="http://docs.aws.amazon.com/mobile/index.html">AWS Mobile SDK Developer Guide</a>.</p>'
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: cognito-identity
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cognito-identity-2014-06-30.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/cognito-identity/'
host: cognito-identity.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: CreateIdentityPool
      description: '<p>Creates a new identity pool. The identity pool is a store of user identity information that is specific to your AWS account. The limit on identity pools is 60 per account. The keys for <code>SupportedLoginProviders</code> are as follows:</p> <ul> <li> <p>Facebook: <code>graph.facebook.com</code> </p> </li> <li> <p>Google: <code>accounts.google.com</code> </p> </li> <li> <p>Amazon: <code>www.amazon.com</code> </p> </li> <li> <p>Twitter: <code>api.twitter.com</code> </p> </li> <li> <p>Digits: <code>www.digits.com</code> </p> </li> </ul> <p>You must use AWS Developer credentials to call this API.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/IdentityPool'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '482':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateIdentityPoolInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteIdentities':
    post:
      operationId: DeleteIdentities
      description: <p>Deletes identities from an identity pool. You can specify a list of 1-60 identities that you want to delete.</p> <p>You must use AWS Developer credentials to call this API.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIdentitiesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteIdentitiesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteIdentityPool':
    post:
      operationId: DeleteIdentityPool
      description: '<p>Deletes a user pool. Once a pool is deleted, users will not be able to authenticate with the pool.</p> <p>You must use AWS Developer credentials to call this API.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteIdentityPoolInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeIdentity':
    post:
      operationId: DescribeIdentity
      description: '<p>Returns metadata related to the given identity, including when the identity was created and any associated linked logins.</p> <p>You must use AWS Developer credentials to call this API.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/IdentityDescription'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeIdentityInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeIdentityPool':
    post:
      operationId: DescribeIdentityPool
      description: '<p>Gets details about a particular identity pool, including the pool name, ID description, creation date, and current number of users.</p> <p>You must use AWS Developer credentials to call this API.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/IdentityPool'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeIdentityPoolInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetCredentialsForIdentity':
    post:
      operationId: GetCredentialsForIdentity
      description: '<p>Returns credentials for the provided identity ID. Any provided logins will be validated against supported login providers. If the token is for cognito-identity.amazonaws.com, it will be passed through to AWS Security Token Service with the appropriate role for the token.</p> <p>This is a public API. You do not need any credentials to call this API.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCredentialsForIdentityResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InvalidIdentityPoolConfigurationException
          schema:
            $ref: '#/definitions/InvalidIdentityPoolConfigurationException'
        '486':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '487':
          description: ExternalServiceException
          schema:
            $ref: '#/definitions/ExternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetCredentialsForIdentityInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetId':
    post:
      operationId: GetId
      description: <p>Generates (or retrieves) a Cognito ID. Supplying multiple logins will create an implicit linked account.</p> <p>This is a public API. You do not need any credentials to call this API.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetIdResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '486':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '487':
          description: ExternalServiceException
          schema:
            $ref: '#/definitions/ExternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetIdInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetIdentityPoolRoles':
    post:
      operationId: GetIdentityPoolRoles
      description: <p>Gets the roles for an identity pool.</p> <p>You must use AWS Developer credentials to call this API.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetIdentityPoolRolesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetIdentityPoolRolesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetOpenIdToken':
    post:
      operationId: GetOpenIdToken
      description: '<p>Gets an OpenID token, using a known Cognito ID. This known Cognito ID is returned by <a>GetId</a>. You can optionally add additional logins for the identity. Supplying multiple logins creates an implicit link.</p> <p>The OpenId token is valid for 15 minutes.</p> <p>This is a public API. You do not need any credentials to call this API.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetOpenIdTokenResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '486':
          description: ExternalServiceException
          schema:
            $ref: '#/definitions/ExternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetOpenIdTokenInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetOpenIdTokenForDeveloperIdentity':
    post:
      operationId: GetOpenIdTokenForDeveloperIdentity
      description: '<p>Registers (or retrieves) a Cognito <code>IdentityId</code> and an OpenID Connect token for a user authenticated by your backend authentication process. Supplying multiple logins will create an implicit linked account. You can only specify one developer provider as part of the <code>Logins</code> map, which is linked to the identity pool. The developer provider is the "domain" by which Cognito will refer to your users.</p> <p>You can use <code>GetOpenIdTokenForDeveloperIdentity</code> to create a new identity and to link new logins (that is, user credentials issued by a public provider or developer provider) to an existing identity. When you want to create a new identity, the <code>IdentityId</code> should be null. When you want to associate a new login with an existing authenticated/unauthenticated identity, you can do so by providing the existing <code>IdentityId</code>. This API will create the identity in the specified <code>IdentityPoolId</code>.</p> <p>You must use AWS Developer credentials to call this API.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetOpenIdTokenForDeveloperIdentityResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '486':
          description: DeveloperUserAlreadyRegisteredException
          schema:
            $ref: '#/definitions/DeveloperUserAlreadyRegisteredException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetOpenIdTokenForDeveloperIdentityInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListIdentities':
    post:
      operationId: ListIdentities
      description: <p>Lists the identities in a pool.</p> <p>You must use AWS Developer credentials to call this API.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListIdentitiesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListIdentitiesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListIdentityPools':
    post:
      operationId: ListIdentityPools
      description: <p>Lists all of the Cognito identity pools registered for your account.</p> <p>You must use AWS Developer credentials to call this API.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListIdentityPoolsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListIdentityPoolsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#LookupDeveloperIdentity':
    post:
      operationId: LookupDeveloperIdentity
      description: '<p>Retrieves the <code>IdentityID</code> associated with a <code>DeveloperUserIdentifier</code> or the list of <code>DeveloperUserIdentifier</code>s associated with an <code>IdentityId</code> for an existing identity. Either <code>IdentityID</code> or <code>DeveloperUserIdentifier</code> must not be null. If you supply only one of these values, the other value will be searched in the database and returned as a part of the response. If you supply both, <code>DeveloperUserIdentifier</code> will be matched against <code>IdentityID</code>. If the values are verified against the database, the response returns both values and is the same as the request. Otherwise a <code>ResourceConflictException</code> is thrown.</p> <p>You must use AWS Developer credentials to call this API.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/LookupDeveloperIdentityResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/LookupDeveloperIdentityInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#MergeDeveloperIdentities':
    post:
      operationId: MergeDeveloperIdentities
      description: '<p>Merges two users having different <code>IdentityId</code>s, existing in the same identity pool, and identified by the same developer provider. You can use this action to request that discrete users be merged and identified as a single user in the Cognito environment. Cognito associates the given source user (<code>SourceUserIdentifier</code>) with the <code>IdentityId</code> of the <code>DestinationUserIdentifier</code>. Only developer-authenticated users can be merged. If the users to be merged are associated with the same public provider, but as two different users, an exception will be thrown.</p> <p>You must use AWS Developer credentials to call this API.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MergeDeveloperIdentitiesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/MergeDeveloperIdentitiesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SetIdentityPoolRoles':
    post:
      operationId: SetIdentityPoolRoles
      description: <p>Sets the roles for an identity pool. These roles are used when making calls to <a>GetCredentialsForIdentity</a> action.</p> <p>You must use AWS Developer credentials to call this API.</p>
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '486':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetIdentityPoolRolesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UnlinkDeveloperIdentity':
    post:
      operationId: UnlinkDeveloperIdentity
      description: '<p>Unlinks a <code>DeveloperUserIdentifier</code> from an existing identity. Unlinked developer users will be considered new identities next time they are seen. If, for a given Cognito identity, you remove all federated identities as well as the developer user identifier, the Cognito identity becomes inaccessible.</p> <p>You must use AWS Developer credentials to call this API.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UnlinkDeveloperIdentityInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UnlinkIdentity':
    post:
      operationId: UnlinkIdentity
      description: <p>Unlinks a federated identity from an existing account. Unlinked logins will be considered new identities next time they are seen. Removing the last linked login will make this identity inaccessible.</p> <p>This is a public API. You do not need any credentials to call this API.</p>
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '486':
          description: ExternalServiceException
          schema:
            $ref: '#/definitions/ExternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UnlinkIdentityInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateIdentityPool':
    post:
      operationId: UpdateIdentityPool
      description: <p>Updates a user pool.</p> <p>You must use AWS Developer credentials to call this API.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/IdentityPool'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '486':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '487':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/IdentityPool'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  ARNString:
    type: string
    minLength: 20
    maxLength: 2048
  AccessKeyString:
    type: string
  AccountId:
    type: string
    pattern: \d+
    minLength: 1
    maxLength: 15
  AmbiguousRoleResolutionType:
    type: string
    enum:
      - AuthenticatedRole
      - Deny
  ClaimName:
    type: string
    pattern: '[\p{L}\p{M}\p{S}\p{N}\p{P}]+'
    minLength: 1
    maxLength: 64
  ClaimValue:
    type: string
    minLength: 1
    maxLength: 128
  CognitoIdentityProvider:
    type: object
    properties:
      ProviderName:
        $ref: '#/definitions/CognitoIdentityProviderName'
        description: 'The provider name for an Amazon Cognito Identity User Pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.'
      ClientId:
        $ref: '#/definitions/CognitoIdentityProviderClientId'
        description: The client ID for the Amazon Cognito Identity User Pool.
      ServerSideTokenCheck:
        $ref: '#/definitions/CognitoIdentityProviderTokenCheck'
        description: TRUE if server-side token validation is enabled for the identity provider’s token.
    description: A provider representing an Amazon Cognito Identity User Pool and its client ID.
  CognitoIdentityProviderClientId:
    type: string
    pattern: '[\w_]+'
    minLength: 1
    maxLength: 128
  CognitoIdentityProviderList:
    type: array
    items:
      $ref: '#/definitions/CognitoIdentityProvider'
  CognitoIdentityProviderName:
    type: string
    pattern: '[\w._:/-]+'
    minLength: 1
    maxLength: 128
  CognitoIdentityProviderTokenCheck:
    type: boolean
  ConcurrentModificationException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
        description: The message returned by a ConcurrentModificationException.
    description: Thrown if there are parallel requests to modify a resource.
  CreateIdentityPoolInput:
    type: object
    required:
      - IdentityPoolName
      - AllowUnauthenticatedIdentities
    properties:
      IdentityPoolName:
        $ref: '#/definitions/IdentityPoolName'
        description: A string that you provide.
      AllowUnauthenticatedIdentities:
        $ref: '#/definitions/IdentityPoolUnauthenticated'
        description: TRUE if the identity pool supports unauthenticated logins.
      SupportedLoginProviders:
        $ref: '#/definitions/IdentityProviders'
        description: 'Optional key:value pairs mapping provider names to provider app IDs.'
      DeveloperProviderName:
        $ref: '#/definitions/DeveloperProviderName'
        description: '<p>The "domain" by which Cognito will refer to your users. This name acts as a placeholder that allows your backend and the Cognito service to communicate about the developer provider. For the <code>DeveloperProviderName</code>, you can use letters as well as period (<code>.</code>), underscore (<code>_</code>), and dash (<code>-</code>).</p> <p>Once you have set a developer provider name, you cannot change it. Please take care in setting this parameter.</p>'
      OpenIdConnectProviderARNs:
        $ref: '#/definitions/OIDCProviderList'
        description: A list of OpendID Connect provider ARNs.
      CognitoIdentityProviders:
        $ref: '#/definitions/CognitoIdentityProviderList'
        description: An array of Amazon Cognito Identity user pools and their client IDs.
      SamlProviderARNs:
        $ref: '#/definitions/SAMLProviderList'
        description: An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.
    description: Input to the CreateIdentityPool action.
  Credentials:
    type: object
    properties:
      AccessKeyId:
        $ref: '#/definitions/AccessKeyString'
        description: The Access Key portion of the credentials.
      SecretKey:
        $ref: '#/definitions/SecretKeyString'
        description: The Secret Access Key portion of the credentials
      SessionToken:
        $ref: '#/definitions/SessionTokenString'
        description: The Session Token portion of the credentials
      Expiration:
        $ref: '#/definitions/DateType'
        description: The date at which these credentials will expire.
    description: Credentials for the provided identity ID.
  DateType:
    type: string
    format: date-time
  DeleteIdentitiesInput:
    type: object
    required:
      - IdentityIdsToDelete
    properties:
      IdentityIdsToDelete:
        $ref: '#/definitions/IdentityIdList'
        description: A list of 1-60 identities that you want to delete.
    description: Input to the <code>DeleteIdentities</code> action.
  DeleteIdentitiesResponse:
    type: object
    properties:
      UnprocessedIdentityIds:
        $ref: '#/definitions/UnprocessedIdentityIdList'
        description: 'An array of UnprocessedIdentityId objects, each of which contains an ErrorCode and IdentityId.'
    description: Returned in response to a successful <code>DeleteIdentities</code> operation.
  DeleteIdentityPoolInput:
    type: object
    required:
      - IdentityPoolId
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
    description: Input to the DeleteIdentityPool action.
  DescribeIdentityInput:
    type: object
    required:
      - IdentityId
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
    description: Input to the <code>DescribeIdentity</code> action.
  DescribeIdentityPoolInput:
    type: object
    required:
      - IdentityPoolId
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
    description: Input to the DescribeIdentityPool action.
  DeveloperProviderName:
    type: string
    pattern: '[\w._-]+'
    minLength: 1
    maxLength: 128
  DeveloperUserAlreadyRegisteredException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
        description: This developer user identifier is already registered with Cognito.
    description: The provided developer user identifier is already registered with Cognito under a different identity ID.
  DeveloperUserIdentifier:
    type: string
    minLength: 1
    maxLength: 1024
  DeveloperUserIdentifierList:
    type: array
    items:
      $ref: '#/definitions/DeveloperUserIdentifier'
  ErrorCode:
    type: string
    enum:
      - AccessDenied
      - InternalServerError
  ExternalServiceException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
        description: The message returned by an ExternalServiceException
    description: An exception thrown when a dependent service such as Facebook or Twitter is not responding
  GetCredentialsForIdentityInput:
    type: object
    required:
      - IdentityId
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      Logins:
        $ref: '#/definitions/LoginsMap'
        description: A set of optional name-value pairs that map provider names to provider tokens.
      CustomRoleArn:
        $ref: '#/definitions/ARNString'
        description: 'The Amazon Resource Name (ARN) of the role to be assumed when multiple roles were received in the token from the identity provider. For example, a SAML-based identity provider. This parameter is optional for identity providers that do not support role customization.'
    description: Input to the <code>GetCredentialsForIdentity</code> action.
  GetCredentialsForIdentityResponse:
    type: object
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      Credentials:
        $ref: '#/definitions/Credentials'
        description: Credentials for the provided identity ID.
    description: Returned in response to a successful <code>GetCredentialsForIdentity</code> operation.
  GetIdInput:
    type: object
    required:
      - IdentityPoolId
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
        description: A standard AWS account ID (9+ digits).
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      Logins:
        $ref: '#/definitions/LoginsMap'
        description: '<p>A set of optional name-value pairs that map provider names to provider tokens. The available provider names for <code>Logins</code> are as follows:</p> <ul> <li> <p>Facebook: <code>graph.facebook.com</code> </p> </li> <li> <p>Amazon Cognito Identity Provider: <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code> </p> </li> <li> <p>Google: <code>accounts.google.com</code> </p> </li> <li> <p>Amazon: <code>www.amazon.com</code> </p> </li> <li> <p>Twitter: <code>api.twitter.com</code> </p> </li> <li> <p>Digits: <code>www.digits.com</code> </p> </li> </ul>'
    description: Input to the GetId action.
  GetIdResponse:
    type: object
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
    description: Returned in response to a GetId request.
  GetIdentityPoolRolesInput:
    type: object
    required:
      - IdentityPoolId
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
    description: Input to the <code>GetIdentityPoolRoles</code> action.
  GetIdentityPoolRolesResponse:
    type: object
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      Roles:
        $ref: '#/definitions/RolesMap'
        description: The map of roles associated with this pool. Currently only authenticated and unauthenticated roles are supported.
      RoleMappings:
        $ref: '#/definitions/RoleMappingMap'
        description: 'How users for a specific identity provider are to mapped to roles. This is a String-to-<a>RoleMapping</a> object map. The string identifies the identity provider, for example, "graph.facebook.com" or "cognito-idp-east-1.amazonaws.com/us-east-1_abcdefghi:app_client_id".'
    description: Returned in response to a successful <code>GetIdentityPoolRoles</code> operation.
  GetOpenIdTokenForDeveloperIdentityInput:
    type: object
    required:
      - IdentityPoolId
      - Logins
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      Logins:
        $ref: '#/definitions/LoginsMap'
        description: 'A set of optional name-value pairs that map provider names to provider tokens. Each name-value pair represents a user from a public provider or developer provider. If the user is from a developer provider, the name-value pair will follow the syntax <code>"developer_provider_name": "developer_user_identifier"</code>. The developer provider is the "domain" by which Cognito will refer to your users; you provided this domain while creating/updating the identity pool. The developer user identifier is an identifier from your backend that uniquely identifies a user. When you create an identity pool, you can specify the supported logins.'
      TokenDuration:
        $ref: '#/definitions/TokenDuration'
        description: 'The expiration time of the token, in seconds. You can specify a custom expiration time for the token so that you can cache it. If you don''t provide an expiration time, the token is valid for 15 minutes. You can exchange the token with Amazon STS for temporary AWS credentials, which are valid for a maximum of one hour. The maximum token duration you can set is 24 hours. You should take care in setting the expiration time for a token, as there are significant security implications: an attacker could use a leaked token to access your AWS resources for the token''s duration.'
    description: Input to the <code>GetOpenIdTokenForDeveloperIdentity</code> action.
  GetOpenIdTokenForDeveloperIdentityResponse:
    type: object
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      Token:
        $ref: '#/definitions/OIDCToken'
        description: An OpenID token.
    description: Returned in response to a successful <code>GetOpenIdTokenForDeveloperIdentity</code> request.
  GetOpenIdTokenInput:
    type: object
    required:
      - IdentityId
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      Logins:
        $ref: '#/definitions/LoginsMap'
        description: 'A set of optional name-value pairs that map provider names to provider tokens. When using graph.facebook.com and www.amazon.com, supply the access_token returned from the provider''s authflow. For accounts.google.com, an Amazon Cognito Identity Provider, or any other OpenId Connect provider, always include the <code>id_token</code>.'
    description: Input to the GetOpenIdToken action.
  GetOpenIdTokenResponse:
    type: object
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID. Note that the IdentityId returned may not match the one passed on input.'
      Token:
        $ref: '#/definitions/OIDCToken'
        description: 'An OpenID token, valid for 15 minutes.'
    description: Returned in response to a successful GetOpenIdToken request.
  HideDisabled:
    type: boolean
  IdentitiesList:
    type: array
    items:
      $ref: '#/definitions/IdentityDescription'
  IdentityDescription:
    type: object
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      Logins:
        $ref: '#/definitions/LoginsList'
        description: A set of optional name-value pairs that map provider names to provider tokens.
      CreationDate:
        $ref: '#/definitions/DateType'
        description: Date on which the identity was created.
      LastModifiedDate:
        $ref: '#/definitions/DateType'
        description: Date on which the identity was last modified.
    description: A description of the identity.
  IdentityId:
    type: string
    pattern: '[\w-]+:[0-9a-f-]+'
    minLength: 1
    maxLength: 55
  IdentityIdList:
    type: array
    items:
      $ref: '#/definitions/IdentityId'
    minItems: 1
    maxItems: 60
  IdentityPool:
    type: object
    required:
      - IdentityPoolId
      - IdentityPoolName
      - AllowUnauthenticatedIdentities
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      IdentityPoolName:
        $ref: '#/definitions/IdentityPoolName'
        description: A string that you provide.
      AllowUnauthenticatedIdentities:
        $ref: '#/definitions/IdentityPoolUnauthenticated'
        description: TRUE if the identity pool supports unauthenticated logins.
      SupportedLoginProviders:
        $ref: '#/definitions/IdentityProviders'
        description: 'Optional key:value pairs mapping provider names to provider app IDs.'
      DeveloperProviderName:
        $ref: '#/definitions/DeveloperProviderName'
        description: The "domain" by which Cognito will refer to your users.
      OpenIdConnectProviderARNs:
        $ref: '#/definitions/OIDCProviderList'
        description: A list of OpendID Connect provider ARNs.
      CognitoIdentityProviders:
        $ref: '#/definitions/CognitoIdentityProviderList'
        description: A list representing an Amazon Cognito Identity User Pool and its client ID.
      SamlProviderARNs:
        $ref: '#/definitions/SAMLProviderList'
        description: An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.
    description: An object representing an Amazon Cognito identity pool.
  IdentityPoolId:
    type: string
    pattern: '[\w-]+:[0-9a-f-]+'
    minLength: 1
    maxLength: 55
  IdentityPoolName:
    type: string
    pattern: '[\w ]+'
    minLength: 1
    maxLength: 128
  IdentityPoolShortDescription:
    type: object
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      IdentityPoolName:
        $ref: '#/definitions/IdentityPoolName'
        description: A string that you provide.
    description: A description of the identity pool.
  IdentityPoolUnauthenticated:
    type: boolean
  IdentityPoolsList:
    type: array
    items:
      $ref: '#/definitions/IdentityPoolShortDescription'
  IdentityProviderId:
    type: string
    pattern: '[\w.;_/-]+'
    minLength: 1
    maxLength: 128
  IdentityProviderName:
    type: string
    minLength: 1
    maxLength: 128
  IdentityProviderToken:
    type: string
    minLength: 1
    maxLength: 50000
  IdentityProviders:
    type: array
    maxItems: 10
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/IdentityProviderName'
        value:
          $ref: '#/definitions/IdentityProviderId'
  InternalErrorException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
        description: The message returned by an InternalErrorException.
    description: Thrown when the service encounters an error during processing the request.
  InvalidIdentityPoolConfigurationException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
        description: 'The message returned for an <code>InvalidIdentityPoolConfigurationException</code> '
    description: Thrown if the identity pool has no role associated for the given auth type (auth/unauth) or if the AssumeRole fails.
  InvalidParameterException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
        description: The message returned by an InvalidParameterException.
    description: Thrown for missing or bad input parameter(s).
  LimitExceededException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
        description: The message returned by a LimitExceededException.
    description: Thrown when the total number of user pools has exceeded a preset limit.
  ListIdentitiesInput:
    type: object
    required:
      - IdentityPoolId
      - MaxResults
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      MaxResults:
        $ref: '#/definitions/QueryLimit'
        description: The maximum number of identities to return.
      NextToken:
        $ref: '#/definitions/PaginationKey'
        description: A pagination token.
      HideDisabled:
        $ref: '#/definitions/HideDisabled'
        description: 'An optional boolean parameter that allows you to hide disabled identities. If omitted, the ListIdentities API will include disabled identities in the response.'
    description: Input to the ListIdentities action.
  ListIdentitiesResponse:
    type: object
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      Identities:
        $ref: '#/definitions/IdentitiesList'
        description: An object containing a set of identities and associated mappings.
      NextToken:
        $ref: '#/definitions/PaginationKey'
        description: A pagination token.
    description: The response to a ListIdentities request.
  ListIdentityPoolsInput:
    type: object
    required:
      - MaxResults
    properties:
      MaxResults:
        $ref: '#/definitions/QueryLimit'
        description: The maximum number of identities to return.
      NextToken:
        $ref: '#/definitions/PaginationKey'
        description: A pagination token.
    description: Input to the ListIdentityPools action.
  ListIdentityPoolsResponse:
    type: object
    properties:
      IdentityPools:
        $ref: '#/definitions/IdentityPoolsList'
        description: The identity pools returned by the ListIdentityPools action.
      NextToken:
        $ref: '#/definitions/PaginationKey'
        description: A pagination token.
    description: The result of a successful ListIdentityPools action.
  LoginsList:
    type: array
    items:
      $ref: '#/definitions/IdentityProviderName'
  LoginsMap:
    type: array
    maxItems: 10
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/IdentityProviderName'
        value:
          $ref: '#/definitions/IdentityProviderToken'
  LookupDeveloperIdentityInput:
    type: object
    required:
      - IdentityPoolId
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      DeveloperUserIdentifier:
        $ref: '#/definitions/DeveloperUserIdentifier'
        description: 'A unique ID used by your backend authentication process to identify a user. Typically, a developer identity provider would issue many developer user identifiers, in keeping with the number of users.'
      MaxResults:
        $ref: '#/definitions/QueryLimit'
        description: The maximum number of identities to return.
      NextToken:
        $ref: '#/definitions/PaginationKey'
        description: 'A pagination token. The first call you make will have <code>NextToken</code> set to null. After that the service will return <code>NextToken</code> values as needed. For example, let''s say you make a request with <code>MaxResults</code> set to 10, and there are 20 matches in the database. The service will return a pagination token as a part of the response. This token can be used to call the API again and get results starting from the 11th match.'
    description: Input to the <code>LookupDeveloperIdentityInput</code> action.
  LookupDeveloperIdentityResponse:
    type: object
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      DeveloperUserIdentifierList:
        $ref: '#/definitions/DeveloperUserIdentifierList'
        description: This is the list of developer user identifiers associated with an identity ID. Cognito supports the association of multiple developer user identifiers with an identity ID.
      NextToken:
        $ref: '#/definitions/PaginationKey'
        description: 'A pagination token. The first call you make will have <code>NextToken</code> set to null. After that the service will return <code>NextToken</code> values as needed. For example, let''s say you make a request with <code>MaxResults</code> set to 10, and there are 20 matches in the database. The service will return a pagination token as a part of the response. This token can be used to call the API again and get results starting from the 11th match.'
    description: Returned in response to a successful <code>LookupDeveloperIdentity</code> action.
  MappingRule:
    type: object
    required:
      - Claim
      - MatchType
      - Value
      - RoleARN
    properties:
      Claim:
        $ref: '#/definitions/ClaimName'
        description: 'The claim name that must be present in the token, for example, "isAdmin" or "paid".'
      MatchType:
        $ref: '#/definitions/MappingRuleMatchType'
        description: The match condition that specifies how closely the claim value in the IdP token must match <code>Value</code>.
      Value:
        $ref: '#/definitions/ClaimValue'
        description: 'A brief string that the claim must match, for example, "paid" or "yes".'
      RoleARN:
        $ref: '#/definitions/ARNString'
        description: The role ARN.
    description: 'A rule that maps a claim name, a claim value, and a match type to a role ARN.'
  MappingRuleMatchType:
    type: string
    enum:
      - Equals
      - Contains
      - StartsWith
      - NotEqual
  MappingRulesList:
    type: array
    items:
      $ref: '#/definitions/MappingRule'
    minItems: 1
    maxItems: 25
  MergeDeveloperIdentitiesInput:
    type: object
    required:
      - SourceUserIdentifier
      - DestinationUserIdentifier
      - DeveloperProviderName
      - IdentityPoolId
    properties:
      SourceUserIdentifier:
        $ref: '#/definitions/DeveloperUserIdentifier'
        description: User identifier for the source user. The value should be a <code>DeveloperUserIdentifier</code>.
      DestinationUserIdentifier:
        $ref: '#/definitions/DeveloperUserIdentifier'
        description: User identifier for the destination user. The value should be a <code>DeveloperUserIdentifier</code>.
      DeveloperProviderName:
        $ref: '#/definitions/DeveloperProviderName'
        description: 'The "domain" by which Cognito will refer to your users. This is a (pseudo) domain name that you provide while creating an identity pool. This name acts as a placeholder that allows your backend and the Cognito service to communicate about the developer provider. For the <code>DeveloperProviderName</code>, you can use letters as well as period (.), underscore (_), and dash (-).'
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
    description: Input to the <code>MergeDeveloperIdentities</code> action.
  MergeDeveloperIdentitiesResponse:
    type: object
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
    description: Returned in response to a successful <code>MergeDeveloperIdentities</code> action.
  NotAuthorizedException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
        description: The message returned by a NotAuthorizedException
    description: Thrown when a user is not authorized to access the requested resource.
  OIDCProviderList:
    type: array
    items:
      $ref: '#/definitions/ARNString'
  OIDCToken:
    type: string
  PaginationKey:
    type: string
    pattern: '[\S]+'
    minLength: 1
  QueryLimit:
    type: integer
    minimum: 1
    maximum: 60
  ResourceConflictException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
        description: The message returned by a ResourceConflictException.
    description: Thrown when a user tries to use a login which is already linked to another account.
  ResourceNotFoundException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
        description: The message returned by a ResourceNotFoundException.
    description: 'Thrown when the requested resource (for example, a dataset or record) does not exist.'
  RoleMapping:
    type: object
    required:
      - Type
    properties:
      Type:
        $ref: '#/definitions/RoleMappingType'
        description: 'The role mapping type. Token will use <code>cognito:roles</code> and <code>cognito:preferred_role</code> claims from the Cognito identity provider token to map groups to roles. Rules will attempt to match claims from the token to map to a role.'
      AmbiguousRoleResolution:
        $ref: '#/definitions/AmbiguousRoleResolutionType'
        description: '<p>If you specify Token or Rules as the <code>Type</code>, <code>AmbiguousRoleResolution</code> is required.</p> <p>Specifies the action to be taken if either no rules match the claim value for the <code>Rules</code> type, or there is no <code>cognito:preferred_role</code> claim and there are multiple <code>cognito:roles</code> matches for the <code>Token</code> type.</p>'
      RulesConfiguration:
        $ref: '#/definitions/RulesConfigurationType'
        description: '<p>The rules to be used for mapping users to roles.</p> <p>If you specify Rules as the role mapping type, <code>RulesConfiguration</code> is required.</p>'
    description: A role mapping.
  RoleMappingMap:
    type: array
    maxItems: 10
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/IdentityProviderName'
        value:
          $ref: '#/definitions/RoleMapping'
  RoleMappingType:
    type: string
    enum:
      - Token
      - Rules
  RoleType:
    type: string
    pattern: (un)?authenticated
  RolesMap:
    type: array
    maxItems: 2
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/RoleType'
        value:
          $ref: '#/definitions/ARNString'
  RulesConfigurationType:
    type: object
    required:
      - Rules
    properties:
      Rules:
        $ref: '#/definitions/MappingRulesList'
        description: <p>An array of rules. You can specify up to 25 rules per identity provider.</p> <p>Rules are evaluated in order. The first one to match specifies the role.</p>
    description: A container for rules.
  SAMLProviderList:
    type: array
    items:
      $ref: '#/definitions/ARNString'
  SecretKeyString:
    type: string
  SessionTokenString:
    type: string
  SetIdentityPoolRolesInput:
    type: object
    required:
      - IdentityPoolId
      - Roles
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      Roles:
        $ref: '#/definitions/RolesMap'
        description: 'The map of roles associated with this pool. For a given role, the key will be either "authenticated" or "unauthenticated" and the value will be the Role ARN.'
      RoleMappings:
        $ref: '#/definitions/RoleMappingMap'
        description: '<p>How users for a specific identity provider are to mapped to roles. This is a string to <a>RoleMapping</a> object map. The string identifies the identity provider, for example, "graph.facebook.com" or "cognito-idp-east-1.amazonaws.com/us-east-1_abcdefghi:app_client_id".</p> <p>Up to 25 rules can be specified per identity provider.</p>'
    description: Input to the <code>SetIdentityPoolRoles</code> action.
  String:
    type: string
  TokenDuration:
    type: integer
    minimum: 1
    maximum: 86400
  TooManyRequestsException:
    type: object
    properties:
      message:
        $ref: '#/definitions/String'
        description: Message returned by a TooManyRequestsException
    description: Thrown when a request is throttled.
  UnlinkDeveloperIdentityInput:
    type: object
    required:
      - IdentityId
      - IdentityPoolId
      - DeveloperProviderName
      - DeveloperUserIdentifier
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      DeveloperProviderName:
        $ref: '#/definitions/DeveloperProviderName'
        description: The "domain" by which Cognito will refer to your users.
      DeveloperUserIdentifier:
        $ref: '#/definitions/DeveloperUserIdentifier'
        description: A unique ID used by your backend authentication process to identify a user.
    description: Input to the <code>UnlinkDeveloperIdentity</code> action.
  UnlinkIdentityInput:
    type: object
    required:
      - IdentityId
      - Logins
      - LoginsToRemove
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      Logins:
        $ref: '#/definitions/LoginsMap'
        description: A set of optional name-value pairs that map provider names to provider tokens.
      LoginsToRemove:
        $ref: '#/definitions/LoginsList'
        description: Provider names to unlink from this identity.
    description: Input to the UnlinkIdentity action.
  UnprocessedIdentityId:
    type: object
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      ErrorCode:
        $ref: '#/definitions/ErrorCode'
        description: The error code indicating the type of error that occurred.
    description: 'An array of UnprocessedIdentityId objects, each of which contains an ErrorCode and IdentityId.'
  UnprocessedIdentityIdList:
    type: array
    items:
      $ref: '#/definitions/UnprocessedIdentityId'
    maxItems: 60
