swagger: '2.0'
info:
  version: '2014-06-30'
  x-release: v4
  title: Amazon Cognito Identity
  description: '<fullname>Amazon Cognito Federated Identities</fullname> <p>Amazon Cognito Federated Identities is a web service that delivers scoped temporary credentials to mobile devices and other untrusted environments. It uniquely identifies a device and supplies the user with a consistent identity over the lifetime of an application.</p> <p>Using Amazon Cognito Federated Identities, you can enable authentication with one or more third-party identity providers (Facebook, Google, or Login with Amazon) or an Amazon Cognito user pool, and you can also choose to support unauthenticated access from your app. Cognito delivers a unique identifier for each user and acts as an OpenID token provider trusted by AWS Security Token Service (STS) to access temporary, limited-privilege AWS credentials.</p> <p>For a description of the authentication flow from the Amazon Cognito Developer Guide see <a href="https://docs.aws.amazon.com/cognito/latest/developerguide/authentication-flow.html">Authentication Flow</a>.</p> <p>For more information see <a href="https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-identity.html">Amazon Cognito Federated Identities</a>.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: cognito-identity
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cognito-identity-2014-06-30.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/cognito-identity/'
host: cognito-identity.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://cognito-identity.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
    description: The Amazon Cognito Identity multi-region endpoint
  - url: 'https://cognito-identity.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
    description: The Amazon Cognito Identity multi-region endpoint
  - url: 'http://cognito-identity.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
    description: The Amazon Cognito Identity endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://cognito-identity.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
    description: The Amazon Cognito Identity endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#X-Amz-Target=AWSCognitoIdentityService.CreateIdentityPool':
    post:
      operationId: CreateIdentityPool
      description: '<p>Creates a new identity pool. The identity pool is a store of user identity information that is specific to your AWS account. The limit on identity pools is 60 per account. The keys for <code>SupportedLoginProviders</code> are as follows:</p> <ul> <li> <p>Facebook: <code>graph.facebook.com</code> </p> </li> <li> <p>Google: <code>accounts.google.com</code> </p> </li> <li> <p>Amazon: <code>www.amazon.com</code> </p> </li> <li> <p>Twitter: <code>api.twitter.com</code> </p> </li> <li> <p>Digits: <code>www.digits.com</code> </p> </li> </ul> <p>You must use AWS Developer credentials to call this API.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/IdentityPool'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '482':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateIdentityPoolInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.CreateIdentityPool
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.DeleteIdentities':
    post:
      operationId: DeleteIdentities
      description: <p>Deletes identities from an identity pool. You can specify a list of 1-60 identities that you want to delete.</p> <p>You must use AWS Developer credentials to call this API.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIdentitiesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteIdentitiesInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.DeleteIdentities
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.DeleteIdentityPool':
    post:
      operationId: DeleteIdentityPool
      description: '<p>Deletes an identity pool. Once a pool is deleted, users will not be able to authenticate with the pool.</p> <p>You must use AWS Developer credentials to call this API.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteIdentityPoolInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.DeleteIdentityPool
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.DescribeIdentity':
    post:
      operationId: DescribeIdentity
      description: '<p>Returns metadata related to the given identity, including when the identity was created and any associated linked logins.</p> <p>You must use AWS Developer credentials to call this API.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/IdentityDescription'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeIdentityInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.DescribeIdentity
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.DescribeIdentityPool':
    post:
      operationId: DescribeIdentityPool
      description: '<p>Gets details about a particular identity pool, including the pool name, ID description, creation date, and current number of users.</p> <p>You must use AWS Developer credentials to call this API.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/IdentityPool'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeIdentityPoolInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.DescribeIdentityPool
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.GetCredentialsForIdentity':
    post:
      operationId: GetCredentialsForIdentity
      description: '<p>Returns credentials for the provided identity ID. Any provided logins will be validated against supported login providers. If the token is for cognito-identity.amazonaws.com, it will be passed through to AWS Security Token Service with the appropriate role for the token.</p> <p>This is a public API. You do not need any credentials to call this API.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCredentialsForIdentityResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InvalidIdentityPoolConfigurationException
          schema:
            $ref: '#/definitions/InvalidIdentityPoolConfigurationException'
        '486':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '487':
          description: ExternalServiceException
          schema:
            $ref: '#/definitions/ExternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetCredentialsForIdentityInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.GetCredentialsForIdentity
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.GetId':
    post:
      operationId: GetId
      description: <p>Generates (or retrieves) a Cognito ID. Supplying multiple logins will create an implicit linked account.</p> <p>This is a public API. You do not need any credentials to call this API.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetIdResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '486':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '487':
          description: ExternalServiceException
          schema:
            $ref: '#/definitions/ExternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetIdInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.GetId
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.GetIdentityPoolRoles':
    post:
      operationId: GetIdentityPoolRoles
      description: <p>Gets the roles for an identity pool.</p> <p>You must use AWS Developer credentials to call this API.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetIdentityPoolRolesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetIdentityPoolRolesInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.GetIdentityPoolRoles
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.GetOpenIdToken':
    post:
      operationId: GetOpenIdToken
      description: '<p>Gets an OpenID token, using a known Cognito ID. This known Cognito ID is returned by <a>GetId</a>. You can optionally add additional logins for the identity. Supplying multiple logins creates an implicit link.</p> <p>The OpenId token is valid for 10 minutes.</p> <p>This is a public API. You do not need any credentials to call this API.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetOpenIdTokenResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '486':
          description: ExternalServiceException
          schema:
            $ref: '#/definitions/ExternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetOpenIdTokenInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.GetOpenIdToken
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.GetOpenIdTokenForDeveloperIdentity':
    post:
      operationId: GetOpenIdTokenForDeveloperIdentity
      description: '<p>Registers (or retrieves) a Cognito <code>IdentityId</code> and an OpenID Connect token for a user authenticated by your backend authentication process. Supplying multiple logins will create an implicit linked account. You can only specify one developer provider as part of the <code>Logins</code> map, which is linked to the identity pool. The developer provider is the "domain" by which Cognito will refer to your users.</p> <p>You can use <code>GetOpenIdTokenForDeveloperIdentity</code> to create a new identity and to link new logins (that is, user credentials issued by a public provider or developer provider) to an existing identity. When you want to create a new identity, the <code>IdentityId</code> should be null. When you want to associate a new login with an existing authenticated/unauthenticated identity, you can do so by providing the existing <code>IdentityId</code>. This API will create the identity in the specified <code>IdentityPoolId</code>.</p> <p>You must use AWS Developer credentials to call this API.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetOpenIdTokenForDeveloperIdentityResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '486':
          description: DeveloperUserAlreadyRegisteredException
          schema:
            $ref: '#/definitions/DeveloperUserAlreadyRegisteredException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetOpenIdTokenForDeveloperIdentityInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.GetOpenIdTokenForDeveloperIdentity
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.ListIdentities':
    post:
      operationId: ListIdentities
      description: <p>Lists the identities in an identity pool.</p> <p>You must use AWS Developer credentials to call this API.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListIdentitiesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListIdentitiesInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.ListIdentities
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.ListIdentityPools':
    post:
      operationId: ListIdentityPools
      description: <p>Lists all of the Cognito identity pools registered for your account.</p> <p>You must use AWS Developer credentials to call this API.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListIdentityPoolsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListIdentityPoolsInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.ListIdentityPools
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.ListTagsForResource':
    post:
      operationId: ListTagsForResource
      description: '<p>Lists the tags that are assigned to an Amazon Cognito identity pool.</p> <p>A tag is a label that you can apply to identity pools to categorize and manage them in different ways, such as by purpose, owner, environment, or other criteria.</p> <p>You can use this action up to 10 times per second, per account.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.ListTagsForResource
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.LookupDeveloperIdentity':
    post:
      operationId: LookupDeveloperIdentity
      description: '<p>Retrieves the <code>IdentityID</code> associated with a <code>DeveloperUserIdentifier</code> or the list of <code>DeveloperUserIdentifier</code> values associated with an <code>IdentityId</code> for an existing identity. Either <code>IdentityID</code> or <code>DeveloperUserIdentifier</code> must not be null. If you supply only one of these values, the other value will be searched in the database and returned as a part of the response. If you supply both, <code>DeveloperUserIdentifier</code> will be matched against <code>IdentityID</code>. If the values are verified against the database, the response returns both values and is the same as the request. Otherwise a <code>ResourceConflictException</code> is thrown.</p> <p> <code>LookupDeveloperIdentity</code> is intended for low-throughput control plane operations: for example, to enable customer service to locate an identity ID by username. If you are using it for higher-volume operations such as user authentication, your requests are likely to be throttled. <a>GetOpenIdTokenForDeveloperIdentity</a> is a better option for higher-volume operations for user authentication.</p> <p>You must use AWS Developer credentials to call this API.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/LookupDeveloperIdentityResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/LookupDeveloperIdentityInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.LookupDeveloperIdentity
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.MergeDeveloperIdentities':
    post:
      operationId: MergeDeveloperIdentities
      description: '<p>Merges two users having different <code>IdentityId</code>s, existing in the same identity pool, and identified by the same developer provider. You can use this action to request that discrete users be merged and identified as a single user in the Cognito environment. Cognito associates the given source user (<code>SourceUserIdentifier</code>) with the <code>IdentityId</code> of the <code>DestinationUserIdentifier</code>. Only developer-authenticated users can be merged. If the users to be merged are associated with the same public provider, but as two different users, an exception will be thrown.</p> <p>The number of linked logins is limited to 20. So, the number of linked logins for the source user, <code>SourceUserIdentifier</code>, and the destination user, <code>DestinationUserIdentifier</code>, together should not be larger than 20. Otherwise, an exception will be thrown.</p> <p>You must use AWS Developer credentials to call this API.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MergeDeveloperIdentitiesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/MergeDeveloperIdentitiesInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.MergeDeveloperIdentities
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.SetIdentityPoolRoles':
    post:
      operationId: SetIdentityPoolRoles
      description: <p>Sets the roles for an identity pool. These roles are used when making calls to <a>GetCredentialsForIdentity</a> action.</p> <p>You must use AWS Developer credentials to call this API.</p>
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '486':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetIdentityPoolRolesInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.SetIdentityPoolRoles
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.TagResource':
    post:
      operationId: TagResource
      description: '<p>Assigns a set of tags to an Amazon Cognito identity pool. A tag is a label that you can use to categorize and manage identity pools in different ways, such as by purpose, owner, environment, or other criteria.</p> <p>Each tag consists of a key and value, both of which you define. A key is a general category for more specific values. For example, if you have two versions of an identity pool, one for testing and another for production, you might assign an <code>Environment</code> tag key to both identity pools. The value of this key might be <code>Test</code> for one identity pool and <code>Production</code> for the other.</p> <p>Tags are useful for cost tracking and access control. You can activate your tags so that they appear on the Billing and Cost Management console, where you can track the costs associated with your identity pools. In an IAM policy, you can constrain permissions for identity pools based on specific tags or tag values.</p> <p>You can use this action up to 5 times per second, per account. An identity pool can have as many as 50 tags.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TagResourceInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.TagResource
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.UnlinkDeveloperIdentity':
    post:
      operationId: UnlinkDeveloperIdentity
      description: '<p>Unlinks a <code>DeveloperUserIdentifier</code> from an existing identity. Unlinked developer users will be considered new identities next time they are seen. If, for a given Cognito identity, you remove all federated identities as well as the developer user identifier, the Cognito identity becomes inaccessible.</p> <p>You must use AWS Developer credentials to call this API.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UnlinkDeveloperIdentityInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.UnlinkDeveloperIdentity
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.UnlinkIdentity':
    post:
      operationId: UnlinkIdentity
      description: <p>Unlinks a federated identity from an existing account. Unlinked logins will be considered new identities next time they are seen. Removing the last linked login will make this identity inaccessible.</p> <p>This is a public API. You do not need any credentials to call this API.</p>
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '486':
          description: ExternalServiceException
          schema:
            $ref: '#/definitions/ExternalServiceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UnlinkIdentityInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.UnlinkIdentity
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.UntagResource':
    post:
      operationId: UntagResource
      description: 'Removes the specified tags from an Amazon Cognito identity pool. You can use this action up to 5 times per second, per account'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourceInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.UntagResource
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSCognitoIdentityService.UpdateIdentityPool':
    post:
      operationId: UpdateIdentityPool
      description: <p>Updates an identity pool.</p> <p>You must use AWS Developer credentials to call this API.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/IdentityPool'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: NotAuthorizedException
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '486':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '487':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/IdentityPool'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityService.UpdateIdentityPool
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  IdentityPool:
    type: object
    required:
      - IdentityPoolId
      - IdentityPoolName
      - AllowUnauthenticatedIdentities
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      IdentityPoolName:
        $ref: '#/definitions/IdentityPoolName'
        description: A string that you provide.
      AllowUnauthenticatedIdentities:
        $ref: '#/definitions/IdentityPoolUnauthenticated'
        description: TRUE if the identity pool supports unauthenticated logins.
      SupportedLoginProviders:
        $ref: '#/definitions/IdentityProviders'
        description: 'Optional key:value pairs mapping provider names to provider app IDs.'
      DeveloperProviderName:
        $ref: '#/definitions/DeveloperProviderName'
        description: The "domain" by which Cognito will refer to your users.
      OpenIdConnectProviderARNs:
        $ref: '#/definitions/OIDCProviderList'
        description: A list of OpendID Connect provider ARNs.
      CognitoIdentityProviders:
        $ref: '#/definitions/CognitoIdentityProviderList'
        description: A list representing an Amazon Cognito user pool and its client ID.
      SamlProviderARNs:
        $ref: '#/definitions/SAMLProviderList'
        description: An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.
      IdentityPoolTags:
        $ref: '#/definitions/IdentityPoolTagsType'
        description: 'The tags that are assigned to the identity pool. A tag is a label that you can apply to identity pools to categorize and manage them in different ways, such as by purpose, owner, environment, or other criteria.'
    description: An object representing an Amazon Cognito identity pool.
  CreateIdentityPoolInput:
    type: object
    required:
      - IdentityPoolName
      - AllowUnauthenticatedIdentities
    properties:
      IdentityPoolName:
        $ref: '#/definitions/IdentityPoolName'
        description: A string that you provide.
      AllowUnauthenticatedIdentities:
        $ref: '#/definitions/IdentityPoolUnauthenticated'
        description: TRUE if the identity pool supports unauthenticated logins.
      SupportedLoginProviders:
        $ref: '#/definitions/IdentityProviders'
        description: 'Optional key:value pairs mapping provider names to provider app IDs.'
      DeveloperProviderName:
        $ref: '#/definitions/DeveloperProviderName'
        description: '<p>The "domain" by which Cognito will refer to your users. This name acts as a placeholder that allows your backend and the Cognito service to communicate about the developer provider. For the <code>DeveloperProviderName</code>, you can use letters as well as period (<code>.</code>), underscore (<code>_</code>), and dash (<code>-</code>).</p> <p>Once you have set a developer provider name, you cannot change it. Please take care in setting this parameter.</p>'
      OpenIdConnectProviderARNs:
        $ref: '#/definitions/OIDCProviderList'
        description: A list of OpendID Connect provider ARNs.
      CognitoIdentityProviders:
        $ref: '#/definitions/CognitoIdentityProviderList'
        description: An array of Amazon Cognito user pools and their client IDs.
      SamlProviderARNs:
        $ref: '#/definitions/SAMLProviderList'
        description: An array of Amazon Resource Names (ARNs) of the SAML provider for your identity pool.
      IdentityPoolTags:
        $ref: '#/definitions/IdentityPoolTagsType'
        description: 'Tags to assign to the identity pool. A tag is a label that you can apply to identity pools to categorize and manage them in different ways, such as by purpose, owner, environment, or other criteria.'
    description: Input to the CreateIdentityPool action.
  InvalidParameterException: {}
  NotAuthorizedException: {}
  ResourceConflictException: {}
  TooManyRequestsException: {}
  InternalErrorException: {}
  LimitExceededException: {}
  DeleteIdentitiesResponse:
    type: object
    properties:
      UnprocessedIdentityIds:
        $ref: '#/definitions/UnprocessedIdentityIdList'
        description: 'An array of UnprocessedIdentityId objects, each of which contains an ErrorCode and IdentityId.'
    description: Returned in response to a successful <code>DeleteIdentities</code> operation.
  DeleteIdentitiesInput:
    type: object
    required:
      - IdentityIdsToDelete
    properties:
      IdentityIdsToDelete:
        $ref: '#/definitions/IdentityIdList'
        description: A list of 1-60 identities that you want to delete.
    description: Input to the <code>DeleteIdentities</code> action.
  DeleteIdentityPoolInput:
    type: object
    required:
      - IdentityPoolId
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
    description: Input to the DeleteIdentityPool action.
  ResourceNotFoundException: {}
  IdentityDescription:
    type: object
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      Logins:
        $ref: '#/definitions/LoginsList'
        description: The provider names.
      CreationDate:
        $ref: '#/definitions/DateType'
        description: Date on which the identity was created.
      LastModifiedDate:
        $ref: '#/definitions/DateType'
        description: Date on which the identity was last modified.
    description: A description of the identity.
  DescribeIdentityInput:
    type: object
    required:
      - IdentityId
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
    description: Input to the <code>DescribeIdentity</code> action.
  DescribeIdentityPoolInput:
    type: object
    required:
      - IdentityPoolId
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
    description: Input to the DescribeIdentityPool action.
  GetCredentialsForIdentityResponse:
    type: object
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      Credentials:
        $ref: '#/definitions/Credentials'
        description: Credentials for the provided identity ID.
    description: Returned in response to a successful <code>GetCredentialsForIdentity</code> operation.
  GetCredentialsForIdentityInput:
    type: object
    required:
      - IdentityId
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      Logins:
        $ref: '#/definitions/LoginsMap'
        description: '<p>A set of optional name-value pairs that map provider names to provider tokens. The name-value pair will follow the syntax "provider_name": "provider_user_identifier".</p> <p>Logins should not be specified when trying to get credentials for an unauthenticated identity.</p> <p>The Logins parameter is required when using identities associated with external identity providers such as FaceBook. For examples of <code>Logins</code> maps, see the code examples in the <a href="http://docs.aws.amazon.com/cognito/latest/developerguide/external-identity-providers.html">External Identity Providers</a> section of the Amazon Cognito Developer Guide.</p>'
      CustomRoleArn:
        $ref: '#/definitions/ARNString'
        description: 'The Amazon Resource Name (ARN) of the role to be assumed when multiple roles were received in the token from the identity provider. For example, a SAML-based identity provider. This parameter is optional for identity providers that do not support role customization.'
    description: Input to the <code>GetCredentialsForIdentity</code> action.
  InvalidIdentityPoolConfigurationException: {}
  ExternalServiceException: {}
  GetIdResponse:
    type: object
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
    description: Returned in response to a GetId request.
  GetIdInput:
    type: object
    required:
      - IdentityPoolId
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
        description: A standard AWS account ID (9+ digits).
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      Logins:
        $ref: '#/definitions/LoginsMap'
        description: '<p>A set of optional name-value pairs that map provider names to provider tokens. The available provider names for <code>Logins</code> are as follows:</p> <ul> <li> <p>Facebook: <code>graph.facebook.com</code> </p> </li> <li> <p>Amazon Cognito user pool: <code>cognito-idp.&lt;region&gt;.amazonaws.com/&lt;YOUR_USER_POOL_ID&gt;</code>, for example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>. </p> </li> <li> <p>Google: <code>accounts.google.com</code> </p> </li> <li> <p>Amazon: <code>www.amazon.com</code> </p> </li> <li> <p>Twitter: <code>api.twitter.com</code> </p> </li> <li> <p>Digits: <code>www.digits.com</code> </p> </li> </ul>'
    description: Input to the GetId action.
  GetIdentityPoolRolesResponse:
    type: object
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      Roles:
        $ref: '#/definitions/RolesMap'
        description: The map of roles associated with this pool. Currently only authenticated and unauthenticated roles are supported.
      RoleMappings:
        $ref: '#/definitions/RoleMappingMap'
        description: 'How users for a specific identity provider are to mapped to roles. This is a String-to-<a>RoleMapping</a> object map. The string identifies the identity provider, for example, "graph.facebook.com" or "cognito-idp.us-east-1.amazonaws.com/us-east-1_abcdefghi:app_client_id".'
    description: Returned in response to a successful <code>GetIdentityPoolRoles</code> operation.
  GetIdentityPoolRolesInput:
    type: object
    required:
      - IdentityPoolId
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
    description: Input to the <code>GetIdentityPoolRoles</code> action.
  GetOpenIdTokenResponse:
    type: object
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID. Note that the IdentityId returned may not match the one passed on input.'
      Token:
        $ref: '#/definitions/OIDCToken'
        description: 'An OpenID token, valid for 10 minutes.'
    description: Returned in response to a successful GetOpenIdToken request.
  GetOpenIdTokenInput:
    type: object
    required:
      - IdentityId
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      Logins:
        $ref: '#/definitions/LoginsMap'
        description: 'A set of optional name-value pairs that map provider names to provider tokens. When using graph.facebook.com and www.amazon.com, supply the access_token returned from the provider''s authflow. For accounts.google.com, an Amazon Cognito user pool provider, or any other OpenId Connect provider, always include the <code>id_token</code>.'
    description: Input to the GetOpenIdToken action.
  GetOpenIdTokenForDeveloperIdentityResponse:
    type: object
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      Token:
        $ref: '#/definitions/OIDCToken'
        description: An OpenID token.
    description: Returned in response to a successful <code>GetOpenIdTokenForDeveloperIdentity</code> request.
  GetOpenIdTokenForDeveloperIdentityInput:
    type: object
    required:
      - IdentityPoolId
      - Logins
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      Logins:
        $ref: '#/definitions/LoginsMap'
        description: 'A set of optional name-value pairs that map provider names to provider tokens. Each name-value pair represents a user from a public provider or developer provider. If the user is from a developer provider, the name-value pair will follow the syntax <code>"developer_provider_name": "developer_user_identifier"</code>. The developer provider is the "domain" by which Cognito will refer to your users; you provided this domain while creating/updating the identity pool. The developer user identifier is an identifier from your backend that uniquely identifies a user. When you create an identity pool, you can specify the supported logins.'
      TokenDuration:
        $ref: '#/definitions/TokenDuration'
        description: 'The expiration time of the token, in seconds. You can specify a custom expiration time for the token so that you can cache it. If you don''t provide an expiration time, the token is valid for 15 minutes. You can exchange the token with Amazon STS for temporary AWS credentials, which are valid for a maximum of one hour. The maximum token duration you can set is 24 hours. You should take care in setting the expiration time for a token, as there are significant security implications: an attacker could use a leaked token to access your AWS resources for the token''s duration.'
    description: Input to the <code>GetOpenIdTokenForDeveloperIdentity</code> action.
  DeveloperUserAlreadyRegisteredException: {}
  ListIdentitiesResponse:
    type: object
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      Identities:
        $ref: '#/definitions/IdentitiesList'
        description: An object containing a set of identities and associated mappings.
      NextToken:
        $ref: '#/definitions/PaginationKey'
        description: A pagination token.
    description: The response to a ListIdentities request.
  ListIdentitiesInput:
    type: object
    required:
      - IdentityPoolId
      - MaxResults
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      MaxResults:
        $ref: '#/definitions/QueryLimit'
        description: The maximum number of identities to return.
      NextToken:
        $ref: '#/definitions/PaginationKey'
        description: A pagination token.
      HideDisabled:
        $ref: '#/definitions/HideDisabled'
        description: 'An optional boolean parameter that allows you to hide disabled identities. If omitted, the ListIdentities API will include disabled identities in the response.'
    description: Input to the ListIdentities action.
  ListIdentityPoolsResponse:
    type: object
    properties:
      IdentityPools:
        $ref: '#/definitions/IdentityPoolsList'
        description: The identity pools returned by the ListIdentityPools action.
      NextToken:
        $ref: '#/definitions/PaginationKey'
        description: A pagination token.
    description: The result of a successful ListIdentityPools action.
  ListIdentityPoolsInput:
    type: object
    required:
      - MaxResults
    properties:
      MaxResults:
        $ref: '#/definitions/QueryLimit'
        description: The maximum number of identities to return.
      NextToken:
        $ref: '#/definitions/PaginationKey'
        description: A pagination token.
    description: Input to the ListIdentityPools action.
  ListTagsForResourceResponse:
    type: object
    properties:
      Tags:
        $ref: '#/definitions/IdentityPoolTagsType'
        description: The tags that are assigned to the identity pool.
  ListTagsForResourceInput:
    type: object
    required:
      - ResourceArn
    properties:
      ResourceArn:
        $ref: '#/definitions/ARNString'
        description: The Amazon Resource Name (ARN) of the identity pool that the tags are assigned to.
  LookupDeveloperIdentityResponse:
    type: object
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      DeveloperUserIdentifierList:
        $ref: '#/definitions/DeveloperUserIdentifierList'
        description: This is the list of developer user identifiers associated with an identity ID. Cognito supports the association of multiple developer user identifiers with an identity ID.
      NextToken:
        $ref: '#/definitions/PaginationKey'
        description: 'A pagination token. The first call you make will have <code>NextToken</code> set to null. After that the service will return <code>NextToken</code> values as needed. For example, let''s say you make a request with <code>MaxResults</code> set to 10, and there are 20 matches in the database. The service will return a pagination token as a part of the response. This token can be used to call the API again and get results starting from the 11th match.'
    description: Returned in response to a successful <code>LookupDeveloperIdentity</code> action.
  LookupDeveloperIdentityInput:
    type: object
    required:
      - IdentityPoolId
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      DeveloperUserIdentifier:
        $ref: '#/definitions/DeveloperUserIdentifier'
        description: 'A unique ID used by your backend authentication process to identify a user. Typically, a developer identity provider would issue many developer user identifiers, in keeping with the number of users.'
      MaxResults:
        $ref: '#/definitions/QueryLimit'
        description: The maximum number of identities to return.
      NextToken:
        $ref: '#/definitions/PaginationKey'
        description: 'A pagination token. The first call you make will have <code>NextToken</code> set to null. After that the service will return <code>NextToken</code> values as needed. For example, let''s say you make a request with <code>MaxResults</code> set to 10, and there are 20 matches in the database. The service will return a pagination token as a part of the response. This token can be used to call the API again and get results starting from the 11th match.'
    description: Input to the <code>LookupDeveloperIdentityInput</code> action.
  MergeDeveloperIdentitiesResponse:
    type: object
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
    description: Returned in response to a successful <code>MergeDeveloperIdentities</code> action.
  MergeDeveloperIdentitiesInput:
    type: object
    required:
      - SourceUserIdentifier
      - DestinationUserIdentifier
      - DeveloperProviderName
      - IdentityPoolId
    properties:
      SourceUserIdentifier:
        $ref: '#/definitions/DeveloperUserIdentifier'
        description: User identifier for the source user. The value should be a <code>DeveloperUserIdentifier</code>.
      DestinationUserIdentifier:
        $ref: '#/definitions/DeveloperUserIdentifier'
        description: User identifier for the destination user. The value should be a <code>DeveloperUserIdentifier</code>.
      DeveloperProviderName:
        $ref: '#/definitions/DeveloperProviderName'
        description: 'The "domain" by which Cognito will refer to your users. This is a (pseudo) domain name that you provide while creating an identity pool. This name acts as a placeholder that allows your backend and the Cognito service to communicate about the developer provider. For the <code>DeveloperProviderName</code>, you can use letters as well as period (.), underscore (_), and dash (-).'
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
    description: Input to the <code>MergeDeveloperIdentities</code> action.
  SetIdentityPoolRolesInput:
    type: object
    required:
      - IdentityPoolId
      - Roles
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      Roles:
        $ref: '#/definitions/RolesMap'
        description: 'The map of roles associated with this pool. For a given role, the key will be either "authenticated" or "unauthenticated" and the value will be the Role ARN.'
      RoleMappings:
        $ref: '#/definitions/RoleMappingMap'
        description: '<p>How users for a specific identity provider are to mapped to roles. This is a string to <a>RoleMapping</a> object map. The string identifies the identity provider, for example, "graph.facebook.com" or "cognito-idp-east-1.amazonaws.com/us-east-1_abcdefghi:app_client_id".</p> <p>Up to 25 rules can be specified per identity provider.</p>'
    description: Input to the <code>SetIdentityPoolRoles</code> action.
  ConcurrentModificationException: {}
  TagResourceResponse:
    type: object
    properties: {}
  TagResourceInput:
    type: object
    required:
      - ResourceArn
    properties:
      ResourceArn:
        $ref: '#/definitions/ARNString'
        description: The Amazon Resource Name (ARN) of the identity pool to assign the tags to.
      Tags:
        $ref: '#/definitions/IdentityPoolTagsType'
        description: The tags to assign to the identity pool.
  UnlinkDeveloperIdentityInput:
    type: object
    required:
      - IdentityId
      - IdentityPoolId
      - DeveloperProviderName
      - DeveloperUserIdentifier
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      DeveloperProviderName:
        $ref: '#/definitions/DeveloperProviderName'
        description: The "domain" by which Cognito will refer to your users.
      DeveloperUserIdentifier:
        $ref: '#/definitions/DeveloperUserIdentifier'
        description: A unique ID used by your backend authentication process to identify a user.
    description: Input to the <code>UnlinkDeveloperIdentity</code> action.
  UnlinkIdentityInput:
    type: object
    required:
      - IdentityId
      - Logins
      - LoginsToRemove
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      Logins:
        $ref: '#/definitions/LoginsMap'
        description: A set of optional name-value pairs that map provider names to provider tokens.
      LoginsToRemove:
        $ref: '#/definitions/LoginsList'
        description: Provider names to unlink from this identity.
    description: Input to the UnlinkIdentity action.
  UntagResourceResponse:
    type: object
    properties: {}
  UntagResourceInput:
    type: object
    required:
      - ResourceArn
    properties:
      ResourceArn:
        $ref: '#/definitions/ARNString'
        description: The Amazon Resource Name (ARN) of the identity pool that the tags are assigned to.
      TagKeys:
        $ref: '#/definitions/IdentityPoolTagsListType'
        description: The keys of the tags to remove from the user pool.
  ARNString:
    type: string
    minLength: 20
    maxLength: 2048
  AccessKeyString:
    type: string
  AccountId:
    type: string
    pattern: \d+
    minLength: 1
    maxLength: 15
  AmbiguousRoleResolutionType:
    type: string
    enum:
      - AuthenticatedRole
      - Deny
  ClaimName:
    type: string
    pattern: '[\p{L}\p{M}\p{S}\p{N}\p{P}]+'
    minLength: 1
    maxLength: 64
  ClaimValue:
    type: string
    minLength: 1
    maxLength: 128
  CognitoIdentityProviderName:
    type: string
    pattern: '[\w._:/-]+'
    minLength: 1
    maxLength: 128
  CognitoIdentityProviderClientId:
    type: string
    pattern: '[\w_]+'
    minLength: 1
    maxLength: 128
  CognitoIdentityProviderTokenCheck:
    type: boolean
  CognitoIdentityProvider:
    type: object
    properties:
      ProviderName:
        $ref: '#/definitions/CognitoIdentityProviderName'
        description: 'The provider name for an Amazon Cognito user pool. For example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.'
      ClientId:
        $ref: '#/definitions/CognitoIdentityProviderClientId'
        description: The client ID for the Amazon Cognito user pool.
      ServerSideTokenCheck:
        $ref: '#/definitions/CognitoIdentityProviderTokenCheck'
        description: '<p>TRUE if server-side token validation is enabled for the identity provider’s token.</p> <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that identity pool will check with the integrated user pools to make sure that the user has not been globally signed out or deleted before the identity pool provides an OIDC token or AWS credentials for the user.</p> <p>If the user is signed out or deleted, the identity pool will return a 400 Not Authorized error.</p>'
    description: A provider representing an Amazon Cognito user pool and its client ID.
  CognitoIdentityProviderList:
    type: array
    items:
      $ref: '#/definitions/CognitoIdentityProvider'
  IdentityPoolName:
    type: string
    pattern: '[\w ]+'
    minLength: 1
    maxLength: 128
  IdentityPoolUnauthenticated:
    type: boolean
  IdentityProviders:
    type: object
    maxProperties: 10
    additionalProperties:
      $ref: '#/definitions/IdentityProviderId'
  DeveloperProviderName:
    type: string
    pattern: '[\w._-]+'
    minLength: 1
    maxLength: 128
  OIDCProviderList:
    type: array
    items:
      $ref: '#/definitions/ARNString'
  SAMLProviderList:
    type: array
    items:
      $ref: '#/definitions/ARNString'
  IdentityPoolTagsType:
    type: object
    additionalProperties:
      $ref: '#/definitions/TagValueType'
  SecretKeyString:
    type: string
  SessionTokenString:
    type: string
  DateType:
    type: string
    format: date-time
  Credentials:
    type: object
    properties:
      AccessKeyId:
        $ref: '#/definitions/AccessKeyString'
        description: The Access Key portion of the credentials.
      SecretKey:
        $ref: '#/definitions/SecretKeyString'
        description: The Secret Access Key portion of the credentials
      SessionToken:
        $ref: '#/definitions/SessionTokenString'
        description: The Session Token portion of the credentials
      Expiration:
        $ref: '#/definitions/DateType'
        description: The date at which these credentials will expire.
    description: Credentials for the provided identity ID.
  IdentityIdList:
    type: array
    items:
      $ref: '#/definitions/IdentityId'
    minItems: 1
    maxItems: 60
  UnprocessedIdentityIdList:
    type: array
    items:
      $ref: '#/definitions/UnprocessedIdentityId'
    maxItems: 60
  IdentityPoolId:
    type: string
    pattern: '[\w-]+:[0-9a-f-]+'
    minLength: 1
    maxLength: 55
  IdentityId:
    type: string
    pattern: '[\w-]+:[0-9a-f-]+'
    minLength: 1
    maxLength: 55
  DeveloperUserIdentifier:
    type: string
    minLength: 1
    maxLength: 1024
  DeveloperUserIdentifierList:
    type: array
    items:
      $ref: '#/definitions/DeveloperUserIdentifier'
  ErrorCode:
    type: string
    enum:
      - AccessDenied
      - InternalServerError
  LoginsMap:
    type: object
    maxProperties: 10
    additionalProperties:
      $ref: '#/definitions/IdentityProviderToken'
  RolesMap:
    type: object
    maxProperties: 2
    additionalProperties:
      $ref: '#/definitions/ARNString'
  RoleMappingMap:
    type: object
    maxProperties: 10
    additionalProperties:
      $ref: '#/definitions/RoleMapping'
  TokenDuration:
    type: integer
    minimum: 1
    maximum: 86400
  OIDCToken:
    type: string
  HideDisabled:
    type: boolean
  IdentitiesList:
    type: array
    items:
      $ref: '#/definitions/IdentityDescription'
  LoginsList:
    type: array
    items:
      $ref: '#/definitions/IdentityProviderName'
  IdentityPoolShortDescription:
    type: object
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'An identity pool ID in the format REGION:GUID.'
      IdentityPoolName:
        $ref: '#/definitions/IdentityPoolName'
        description: A string that you provide.
    description: A description of the identity pool.
  TagKeysType:
    type: string
    minLength: 1
    maxLength: 128
  IdentityPoolTagsListType:
    type: array
    items:
      $ref: '#/definitions/TagKeysType'
  TagValueType:
    type: string
    minLength: 0
    maxLength: 256
  IdentityPoolsList:
    type: array
    items:
      $ref: '#/definitions/IdentityPoolShortDescription'
  IdentityProviderId:
    type: string
    pattern: '[\w.;_/-]+'
    minLength: 1
    maxLength: 128
  IdentityProviderName:
    type: string
    minLength: 1
    maxLength: 128
  IdentityProviderToken:
    type: string
    minLength: 1
    maxLength: 50000
  QueryLimit:
    type: integer
    minimum: 1
    maximum: 60
  PaginationKey:
    type: string
    pattern: '[\S]+'
    minLength: 1
  MappingRuleMatchType:
    type: string
    enum:
      - Equals
      - Contains
      - StartsWith
      - NotEqual
  MappingRule:
    type: object
    required:
      - Claim
      - MatchType
      - Value
      - RoleARN
    properties:
      Claim:
        $ref: '#/definitions/ClaimName'
        description: 'The claim name that must be present in the token, for example, "isAdmin" or "paid".'
      MatchType:
        $ref: '#/definitions/MappingRuleMatchType'
        description: The match condition that specifies how closely the claim value in the IdP token must match <code>Value</code>.
      Value:
        $ref: '#/definitions/ClaimValue'
        description: 'A brief string that the claim must match, for example, "paid" or "yes".'
      RoleARN:
        $ref: '#/definitions/ARNString'
        description: The role ARN.
    description: 'A rule that maps a claim name, a claim value, and a match type to a role ARN.'
  MappingRulesList:
    type: array
    items:
      $ref: '#/definitions/MappingRule'
    minItems: 1
    maxItems: 25
  RoleMappingType:
    type: string
    enum:
      - Token
      - Rules
  RulesConfigurationType:
    type: object
    required:
      - Rules
    properties:
      Rules:
        $ref: '#/definitions/MappingRulesList'
        description: <p>An array of rules. You can specify up to 25 rules per identity provider.</p> <p>Rules are evaluated in order. The first one to match specifies the role.</p>
    description: A container for rules.
  RoleMapping:
    type: object
    required:
      - Type
    properties:
      Type:
        $ref: '#/definitions/RoleMappingType'
        description: 'The role mapping type. Token will use <code>cognito:roles</code> and <code>cognito:preferred_role</code> claims from the Cognito identity provider token to map groups to roles. Rules will attempt to match claims from the token to map to a role.'
      AmbiguousRoleResolution:
        $ref: '#/definitions/AmbiguousRoleResolutionType'
        description: '<p>If you specify Token or Rules as the <code>Type</code>, <code>AmbiguousRoleResolution</code> is required.</p> <p>Specifies the action to be taken if either no rules match the claim value for the <code>Rules</code> type, or there is no <code>cognito:preferred_role</code> claim and there are multiple <code>cognito:roles</code> matches for the <code>Token</code> type.</p>'
      RulesConfiguration:
        $ref: '#/definitions/RulesConfigurationType'
        description: '<p>The rules to be used for mapping users to roles.</p> <p>If you specify Rules as the role mapping type, <code>RulesConfiguration</code> is required.</p>'
    description: A role mapping.
  RoleType:
    type: string
    pattern: (un)?authenticated
  UnprocessedIdentityId:
    type: object
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A unique identifier in the format REGION:GUID.'
      ErrorCode:
        $ref: '#/definitions/ErrorCode'
        description: The error code indicating the type of error that occurred.
    description: 'An array of UnprocessedIdentityId objects, each of which contains an ErrorCode and IdentityId.'
