openapi: 3.0.0
servers:
  - url: https://pubsublite.googleapis.com/
x-hasEquivalentPaths: true
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Pub/Sub Lite API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://pubsublite.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: pubsublite
externalDocs:
  url: https://cloud.google.com/pubsub/lite/docs
tags:
  - name: admin
  - name: cursor
  - name: topicStats
paths:
  "/v1/admin/{name}":
    delete:
      description: Deletes the specified topic.
      operationId: pubsublite.admin.projects.locations.topics.delete
      parameters:
        - description: Required. The name of the topic to delete.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - admin
    get:
      description: Returns the topic configuration.
      operationId: pubsublite.admin.projects.locations.topics.get
      parameters:
        - description: Required. The name of the topic whose configuration to return.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Topic"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - admin
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates properties of the specified topic.
      operationId: pubsublite.admin.projects.locations.topics.patch
      parameters:
        - description: "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Required. A mask specifying the topic fields to change.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Topic"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Topic"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - admin
  "/v1/admin/{name}/partitions":
    get:
      description: Returns the partition information for the requested topic.
      operationId: pubsublite.admin.projects.locations.topics.getPartitions
      parameters:
        - description: Required. The topic whose partition information to return.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopicPartitions"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - admin
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/admin/{name}/subscriptions":
    get:
      description: Lists the subscriptions attached to the specified topic.
      operationId: pubsublite.admin.projects.locations.topics.subscriptions.list
      parameters:
        - description: Required. The name of the topic whose subscriptions to list.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the given topic will be returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListTopicSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopicSubscriptions` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTopicSubscriptionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - admin
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/admin/{parent}/subscriptions":
    get:
      description: Returns the list of subscriptions for the given project.
      operationId: pubsublite.admin.projects.locations.subscriptions.list
      parameters:
        - description: Required. The parent whose subscriptions are to be listed. Structured like `projects/{project_number}/locations/{location}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the parent will be returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptions` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSubscriptionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - admin
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new subscription.
      operationId: pubsublite.admin.projects.locations.subscriptions.create
      parameters:
        - description: Required. The parent location in which to create the subscription. Structured like `projects/{project_number}/locations/{location}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Required. The ID to use for the subscription, which will become the final component of the subscription's name. This value is structured like: `my-sub-name`."
          in: query
          name: subscriptionId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Subscription"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subscription"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - admin
  "/v1/admin/{parent}/topics":
    get:
      description: Returns the list of topics for the given project.
      operationId: pubsublite.admin.projects.locations.topics.list
      parameters:
        - description: Required. The parent whose topics are to be listed. Structured like `projects/{project_number}/locations/{location}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the parent will be returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopics` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTopicsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - admin
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new topic.
      operationId: pubsublite.admin.projects.locations.topics.create
      parameters:
        - description: Required. The parent location in which to create the topic. Structured like `projects/{project_number}/locations/{location}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Required. The ID to use for the topic, which will become the final component of the topic's name. This value is structured like: `my-topic-name`."
          in: query
          name: topicId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Topic"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Topic"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - admin
  "/v1/cursor/{parent}/cursors":
    get:
      description: Returns all committed cursor information for a subscription.
      operationId: pubsublite.cursor.projects.locations.subscriptions.cursors.list
      parameters:
        - description: Required. The subscription for which to retrieve cursors. Structured like `projects/{project_number}/locations/{location}/subscriptions/{subscription_id}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of cursors to return. The service may return fewer than this value. If unset or zero, all cursors for the parent will be returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListPartitionCursors` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPartitionCursors` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPartitionCursorsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - cursor
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/topicStats/{topic}:computeHeadCursor":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Compute the head cursor for the partition. The head cursor’s offset is guaranteed to be before or equal to all messages which have not yet been acknowledged to be published, and greater than the offset of any message whose publish has already been acknowledged. It is 0 if there have never been messages on the partition.
      operationId: pubsublite.topicStats.projects.locations.topics.computeHeadCursor
      parameters:
        - description: Required. The topic for which we should compute the head cursor.
          in: path
          name: topic
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComputeHeadCursorRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeHeadCursorResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - topicStats
  "/v1/topicStats/{topic}:computeMessageStats":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Compute statistics about a range of messages in a given topic and partition.
      operationId: pubsublite.topicStats.projects.locations.topics.computeMessageStats
      parameters:
        - description: Required. The topic for which we should compute message stats.
          in: path
          name: topic
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComputeMessageStatsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeMessageStatsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - topicStats
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    Capacity:
      description: The throughput capacity configuration for each partition.
      properties:
        publishMibPerSec:
          description: Publish throughput capacity per partition in MiB/s. Must be >= 4 and <= 16.
          format: int32
          type: integer
        subscribeMibPerSec:
          description: Subscribe throughput capacity per partition in MiB/s. Must be >= 4 and <= 32.
          format: int32
          type: integer
      type: object
    ComputeHeadCursorRequest:
      description: Compute the current head cursor for a partition.
      properties:
        partition:
          description: Required. The partition for which we should compute the head cursor.
          format: int64
          type: string
      type: object
    ComputeHeadCursorResponse:
      description: Response containing the head cursor for the requested topic and partition.
      properties:
        headCursor:
          $ref: "#/components/schemas/Cursor"
          description: The head cursor.
      type: object
    ComputeMessageStatsRequest:
      description: Compute statistics about a range of messages in a given topic and partition.
      properties:
        endCursor:
          $ref: "#/components/schemas/Cursor"
          description: The exclusive end of the range. The range is empty if end_cursor <= start_cursor. Specifying a start_cursor before the first message and an end_cursor after the last message will retrieve all messages.
        partition:
          description: Required. The partition for which we should compute message stats.
          format: int64
          type: string
        startCursor:
          $ref: "#/components/schemas/Cursor"
          description: The inclusive start of the range.
      type: object
    ComputeMessageStatsResponse:
      description: Response containing stats for messages in the requested topic and partition.
      properties:
        messageBytes:
          description: The number of quota bytes accounted to these messages.
          format: int64
          type: string
        messageCount:
          description: The count of messages.
          format: int64
          type: string
        minimumEventTime:
          description: The minimum event timestamp across these messages. For the purposes of this computation, if a message does not have an event time, we use the publish time. The timestamp will be unset if there are no messages.
          format: google-datetime
          type: string
        minimumPublishTime:
          description: The minimum publish timestamp across these messages. Note that publish timestamps within a partition are not guaranteed to be non-decreasing. The timestamp will be unset if there are no messages.
          format: google-datetime
          type: string
      type: object
    Cursor:
      description: A cursor that describes the position of a message within a topic partition.
      properties:
        offset:
          description: The offset of a message within a topic partition. Must be greater than or equal 0.
          format: int64
          type: string
      type: object
    DeliveryConfig:
      description: The settings for a subscription's message delivery.
      properties:
        deliveryRequirement:
          description: The DeliveryRequirement for this subscription.
          enum:
            - DELIVERY_REQUIREMENT_UNSPECIFIED
            - DELIVER_IMMEDIATELY
            - DELIVER_AFTER_STORED
          type: string
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
      properties: {}
      type: object
    ListPartitionCursorsResponse:
      description: Response for ListPartitionCursors
      properties:
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
        partitionCursors:
          description: The partition cursors from this request.
          items:
            $ref: "#/components/schemas/PartitionCursor"
          type: array
      type: object
    ListSubscriptionsResponse:
      description: Response for ListSubscriptions.
      properties:
        nextPageToken:
          description: A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.
          type: string
        subscriptions:
          description: The list of subscriptions in the requested parent. The order of the subscriptions is unspecified.
          items:
            $ref: "#/components/schemas/Subscription"
          type: array
      type: object
    ListTopicSubscriptionsResponse:
      description: Response for ListTopicSubscriptions.
      properties:
        nextPageToken:
          description: A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.
          type: string
        subscriptions:
          description: The names of subscriptions attached to the topic. The order of the subscriptions is unspecified.
          items:
            type: string
          type: array
      type: object
    ListTopicsResponse:
      description: Response for ListTopics.
      properties:
        nextPageToken:
          description: A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.
          type: string
        topics:
          description: The list of topic in the requested parent. The order of the topics is unspecified.
          items:
            $ref: "#/components/schemas/Topic"
          type: array
      type: object
    PartitionConfig:
      description: The settings for a topic's partitions.
      properties:
        capacity:
          $ref: "#/components/schemas/Capacity"
          description: The capacity configuration.
        count:
          description: The number of partitions in the topic. Must be at least 1. Once a topic has been created the number of partitions can be increased but not decreased. Message ordering is not guaranteed across a topic resize. For more information see https://cloud.google.com/pubsub/lite/docs/topics#scaling_capacity
          format: int64
          type: string
        scale:
          description: "DEPRECATED: Use capacity instead which can express a superset of configurations. Every partition in the topic is allocated throughput equivalent to `scale` times the standard partition throughput (4 MiB/s). This is also reflected in the cost of this topic; a topic with `scale` of 2 and count of 10 is charged for 20 partitions. This value must be in the range [1,4]."
          format: int32
          type: integer
      type: object
    PartitionCursor:
      description: A pair of a Cursor and the partition it is for.
      properties:
        cursor:
          $ref: "#/components/schemas/Cursor"
          description: The value of the cursor.
        partition:
          description: The partition this is for.
          format: int64
          type: string
      type: object
    RetentionConfig:
      description: The settings for a topic's message retention.
      properties:
        perPartitionBytes:
          description: The provisioned storage, in bytes, per partition. If the number of bytes stored in any of the topic's partitions grows beyond this value, older messages will be dropped to make room for newer ones, regardless of the value of `period`.
          format: int64
          type: string
        period:
          description: How long a published message is retained. If unset, messages will be retained as long as the bytes retained for each partition is below `per_partition_bytes`.
          format: google-duration
          type: string
      type: object
    Subscription:
      description: Metadata about a subscription resource.
      properties:
        deliveryConfig:
          $ref: "#/components/schemas/DeliveryConfig"
          description: The settings for this subscription's message delivery.
        name:
          description: "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}"
          type: string
        topic:
          description: "The name of the topic this subscription is attached to. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}"
          type: string
      type: object
    Topic:
      description: Metadata about a topic resource.
      properties:
        name:
          description: "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}"
          type: string
        partitionConfig:
          $ref: "#/components/schemas/PartitionConfig"
          description: The settings for this topic's partitions.
        retentionConfig:
          $ref: "#/components/schemas/RetentionConfig"
          description: The settings for this topic's message retention.
      type: object
    TopicPartitions:
      description: Response for GetTopicPartitions.
      properties:
        partitionCount:
          description: The number of partitions in the topic.
          format: int64
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: View and manage your data across Google Cloud Platform services
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: View and manage your data across Google Cloud Platform services
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
