swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /calendar/v3
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Manipulates events and other calendar data.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Calendar
  version: v3
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - time_management
  x-logo:
    url: 'https://www.gstatic.com/images/icons/material/product/2x/calendar_64dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: calendar
externalDocs:
  url: 'https://developers.google.com/google-apps/calendar/firstapp'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/calendar': Manage your calendars
      'https://www.googleapis.com/auth/calendar.readonly': View your calendars
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/calendar': Manage your calendars
      'https://www.googleapis.com/auth/calendar.readonly': View your calendars
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: acl
  - name: calendarList
  - name: calendars
  - name: channels
  - name: colors
  - name: events
  - name: freebusy
  - name: settings
paths:
  /calendars:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a secondary calendar.
      operationId: calendar.calendars.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Calendar'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Calendar'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - calendars
  '/calendars/{calendarId}':
    delete:
      description: Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.
      operationId: calendar.calendars.delete
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - calendars
    get:
      description: Returns metadata for a calendar.
      operationId: calendar.calendars.get
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Calendar'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar.readonly'
      tags:
        - calendars
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates metadata for a calendar. This method supports patch semantics.
      operationId: calendar.calendars.patch
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Calendar'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Calendar'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - calendars
    put:
      description: Updates metadata for a calendar.
      operationId: calendar.calendars.update
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Calendar'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Calendar'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - calendars
  '/calendars/{calendarId}/acl':
    get:
      description: Returns the rules in the access control list for the calendar.
      operationId: calendar.acl.list
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - description: Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.
          in: query
          minimum: 1
          name: maxResults
          type: integer
        - description: Token specifying which result page to return. Optional.
          in: query
          name: pageToken
          type: string
        - description: Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to "none". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.
          in: query
          name: showDeleted
          type: boolean
        - description: |-
            Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.
            If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.
            Learn more about incremental synchronization.
            Optional. The default is to return all entries.
          in: query
          name: syncToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Acl'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - acl
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates an access control rule.
      operationId: calendar.acl.insert
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AclRule'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AclRule'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - acl
  '/calendars/{calendarId}/acl/watch':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Watch for changes to ACL resources.
      operationId: calendar.acl.watch
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - description: Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.
          in: query
          minimum: 1
          name: maxResults
          type: integer
        - description: Token specifying which result page to return. Optional.
          in: query
          name: pageToken
          type: string
        - description: Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to "none". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.
          in: query
          name: showDeleted
          type: boolean
        - description: |-
            Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.
            If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.
            Learn more about incremental synchronization.
            Optional. The default is to return all entries.
          in: query
          name: syncToken
          type: string
        - in: body
          name: resource
          schema:
            $ref: '#/definitions/Channel'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Channel'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - acl
  '/calendars/{calendarId}/acl/{ruleId}':
    delete:
      description: Deletes an access control rule.
      operationId: calendar.acl.delete
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - description: ACL rule identifier.
          in: path
          name: ruleId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - acl
    get:
      description: Returns an access control rule.
      operationId: calendar.acl.get
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - description: ACL rule identifier.
          in: path
          name: ruleId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AclRule'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar.readonly'
      tags:
        - acl
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an access control rule. This method supports patch semantics.
      operationId: calendar.acl.patch
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - description: ACL rule identifier.
          in: path
          name: ruleId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AclRule'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AclRule'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - acl
    put:
      description: Updates an access control rule.
      operationId: calendar.acl.update
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - description: ACL rule identifier.
          in: path
          name: ruleId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AclRule'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AclRule'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - acl
  '/calendars/{calendarId}/clear':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account.
      operationId: calendar.calendars.clear
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - calendars
  '/calendars/{calendarId}/events':
    get:
      description: Returns events on the specified calendar.
      operationId: calendar.events.list
      parameters:
        - description: 'Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.'
          in: query
          name: alwaysIncludeEmail
          type: boolean
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - description: Specifies event ID in the iCalendar format to be included in the response. Optional.
          in: query
          name: iCalUID
          type: string
        - description: 'The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.'
          in: query
          minimum: 1
          name: maxAttendees
          type: integer
        - default: 250
          description: 'Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.'
          in: query
          minimum: 1
          name: maxResults
          type: integer
        - description: 'The order of the events returned in the result. Optional. The default is an unspecified, stable order.'
          enum:
            - startTime
            - updated
          in: query
          name: orderBy
          type: string
        - description: Token specifying which result page to return. Optional.
          in: query
          name: pageToken
          type: string
        - collectionFormat: multi
          description: Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.
          in: query
          items:
            type: string
          name: privateExtendedProperty
          type: array
        - description: 'Free text search terms to find events that match these terms in any field, except for extended properties. Optional.'
          in: query
          name: q
          type: string
        - collectionFormat: multi
          description: Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.
          in: query
          items:
            type: string
          name: sharedExtendedProperty
          type: array
        - description: 'Whether to include deleted events (with status equals "cancelled") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.'
          in: query
          name: showDeleted
          type: boolean
        - description: Whether to include hidden invitations in the result. Optional. The default is False.
          in: query
          name: showHiddenInvitations
          type: boolean
        - description: 'Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.'
          in: query
          name: singleEvents
          type: boolean
        - description: |-
            Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.
            There are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.

            These are: 
            - iCalUID 
            - orderBy 
            - privateExtendedProperty 
            - q 
            - sharedExtendedProperty 
            - timeMin 
            - timeMax 
            - updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.
            Learn more about incremental synchronization.
            Optional. The default is to return all entries.
          in: query
          name: syncToken
          type: string
        - description: 'Upper bound (exclusive) for an event''s start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, e.g., 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but will be ignored. If timeMin is set, timeMax must be greater than timeMin.'
          in: query
          name: timeMax
          type: string
        - description: 'Lower bound (inclusive) for an event''s end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, e.g., 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but will be ignored. If timeMax is set, timeMin must be smaller than timeMax.'
          in: query
          name: timeMin
          type: string
        - description: Time zone used in the response. Optional. The default is the time zone of the calendar.
          in: query
          name: timeZone
          type: string
        - description: 'Lower bound for an event''s last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.'
          in: query
          name: updatedMin
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Events'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar.readonly'
      tags:
        - events
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates an event.
      operationId: calendar.events.insert
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - description: 'The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.'
          in: query
          minimum: 1
          name: maxAttendees
          type: integer
        - description: Whether to send notifications about the creation of the new event. Optional. The default is False.
          in: query
          name: sendNotifications
          type: boolean
        - description: Whether API client performing operation supports event attachments. Optional. The default is False.
          in: query
          name: supportsAttachments
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Event'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Event'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - events
  '/calendars/{calendarId}/events/import':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Imports an event. This operation is used to add a private copy of an existing event to a calendar.
      operationId: calendar.events.import
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - description: Whether API client performing operation supports event attachments. Optional. The default is False.
          in: query
          name: supportsAttachments
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Event'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Event'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - events
  '/calendars/{calendarId}/events/quickAdd':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates an event based on a simple text string.
      operationId: calendar.events.quickAdd
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - description: The text describing the event to be created.
          in: query
          name: text
          required: true
          type: string
        - description: Whether to send notifications about the creation of the event. Optional. The default is False.
          in: query
          name: sendNotifications
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Event'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - events
  '/calendars/{calendarId}/events/watch':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Watch for changes to Events resources.
      operationId: calendar.events.watch
      parameters:
        - description: 'Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.'
          in: query
          name: alwaysIncludeEmail
          type: boolean
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - description: Specifies event ID in the iCalendar format to be included in the response. Optional.
          in: query
          name: iCalUID
          type: string
        - description: 'The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.'
          in: query
          minimum: 1
          name: maxAttendees
          type: integer
        - default: 250
          description: 'Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.'
          in: query
          minimum: 1
          name: maxResults
          type: integer
        - description: 'The order of the events returned in the result. Optional. The default is an unspecified, stable order.'
          enum:
            - startTime
            - updated
          in: query
          name: orderBy
          type: string
        - description: Token specifying which result page to return. Optional.
          in: query
          name: pageToken
          type: string
        - collectionFormat: multi
          description: Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.
          in: query
          items:
            type: string
          name: privateExtendedProperty
          type: array
        - description: 'Free text search terms to find events that match these terms in any field, except for extended properties. Optional.'
          in: query
          name: q
          type: string
        - in: body
          name: resource
          schema:
            $ref: '#/definitions/Channel'
        - collectionFormat: multi
          description: Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.
          in: query
          items:
            type: string
          name: sharedExtendedProperty
          type: array
        - description: 'Whether to include deleted events (with status equals "cancelled") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.'
          in: query
          name: showDeleted
          type: boolean
        - description: Whether to include hidden invitations in the result. Optional. The default is False.
          in: query
          name: showHiddenInvitations
          type: boolean
        - description: 'Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.'
          in: query
          name: singleEvents
          type: boolean
        - description: |-
            Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.
            There are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.

            These are: 
            - iCalUID 
            - orderBy 
            - privateExtendedProperty 
            - q 
            - sharedExtendedProperty 
            - timeMin 
            - timeMax 
            - updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.
            Learn more about incremental synchronization.
            Optional. The default is to return all entries.
          in: query
          name: syncToken
          type: string
        - description: 'Upper bound (exclusive) for an event''s start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, e.g., 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but will be ignored. If timeMin is set, timeMax must be greater than timeMin.'
          in: query
          name: timeMax
          type: string
        - description: 'Lower bound (inclusive) for an event''s end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, e.g., 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but will be ignored. If timeMax is set, timeMin must be smaller than timeMax.'
          in: query
          name: timeMin
          type: string
        - description: Time zone used in the response. Optional. The default is the time zone of the calendar.
          in: query
          name: timeZone
          type: string
        - description: 'Lower bound for an event''s last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.'
          in: query
          name: updatedMin
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Channel'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar.readonly'
      tags:
        - events
  '/calendars/{calendarId}/events/{eventId}':
    delete:
      description: Deletes an event.
      operationId: calendar.events.delete
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - description: Event identifier.
          in: path
          name: eventId
          required: true
          type: string
        - description: Whether to send notifications about the deletion of the event. Optional. The default is False.
          in: query
          name: sendNotifications
          type: boolean
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - events
    get:
      description: Returns an event.
      operationId: calendar.events.get
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - description: Event identifier.
          in: path
          name: eventId
          required: true
          type: string
        - description: 'Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.'
          in: query
          name: alwaysIncludeEmail
          type: boolean
        - description: 'The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.'
          in: query
          minimum: 1
          name: maxAttendees
          type: integer
        - description: Time zone used in the response. Optional. The default is the time zone of the calendar.
          in: query
          name: timeZone
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Event'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar.readonly'
      tags:
        - events
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an event. This method supports patch semantics.
      operationId: calendar.events.patch
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - description: Event identifier.
          in: path
          name: eventId
          required: true
          type: string
        - description: 'Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.'
          in: query
          name: alwaysIncludeEmail
          type: boolean
        - description: 'The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.'
          in: query
          minimum: 1
          name: maxAttendees
          type: integer
        - description: 'Whether to send notifications about the event update (e.g. attendee''s responses, title changes, etc.). Optional. The default is False.'
          in: query
          name: sendNotifications
          type: boolean
        - description: Whether API client performing operation supports event attachments. Optional. The default is False.
          in: query
          name: supportsAttachments
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Event'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Event'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - events
    put:
      description: Updates an event.
      operationId: calendar.events.update
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - description: Event identifier.
          in: path
          name: eventId
          required: true
          type: string
        - description: 'Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.'
          in: query
          name: alwaysIncludeEmail
          type: boolean
        - description: 'The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.'
          in: query
          minimum: 1
          name: maxAttendees
          type: integer
        - description: 'Whether to send notifications about the event update (e.g. attendee''s responses, title changes, etc.). Optional. The default is False.'
          in: query
          name: sendNotifications
          type: boolean
        - description: Whether API client performing operation supports event attachments. Optional. The default is False.
          in: query
          name: supportsAttachments
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Event'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Event'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - events
  '/calendars/{calendarId}/events/{eventId}/instances':
    get:
      description: Returns instances of the specified recurring event.
      operationId: calendar.events.instances
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - description: Recurring event identifier.
          in: path
          name: eventId
          required: true
          type: string
        - description: 'Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.'
          in: query
          name: alwaysIncludeEmail
          type: boolean
        - description: 'The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.'
          in: query
          minimum: 1
          name: maxAttendees
          type: integer
        - description: Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.
          in: query
          minimum: 1
          name: maxResults
          type: integer
        - description: The original start time of the instance in the result. Optional.
          in: query
          name: originalStart
          type: string
        - description: Token specifying which result page to return. Optional.
          in: query
          name: pageToken
          type: string
        - description: Whether to include deleted events (with status equals "cancelled") in the result. Cancelled instances of recurring events will still be included if singleEvents is False. Optional. The default is False.
          in: query
          name: showDeleted
          type: boolean
        - description: Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset.
          in: query
          name: timeMax
          type: string
        - description: Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset.
          in: query
          name: timeMin
          type: string
        - description: Time zone used in the response. Optional. The default is the time zone of the calendar.
          in: query
          name: timeZone
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Events'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar.readonly'
      tags:
        - events
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/calendars/{calendarId}/events/{eventId}/move':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Moves an event to another calendar, i.e. changes an event''s organizer.'
      operationId: calendar.events.move
      parameters:
        - description: Calendar identifier of the source calendar where the event currently is on.
          in: path
          name: calendarId
          required: true
          type: string
        - description: Event identifier.
          in: path
          name: eventId
          required: true
          type: string
        - description: Calendar identifier of the target calendar where the event is to be moved to.
          in: query
          name: destination
          required: true
          type: string
        - description: Whether to send notifications about the change of the event's organizer. Optional. The default is False.
          in: query
          name: sendNotifications
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Event'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - events
  /channels/stop:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Stop watching resources through this channel
      operationId: calendar.channels.stop
      parameters:
        - in: body
          name: resource
          schema:
            $ref: '#/definitions/Channel'
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar.readonly'
      tags:
        - channels
  /colors:
    get:
      description: Returns the color definitions for calendars and events.
      operationId: calendar.colors.get
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Colors'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar.readonly'
      tags:
        - colors
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /freeBusy:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Returns free/busy information for a set of calendars.
      operationId: calendar.freebusy.query
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/FreeBusyRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/FreeBusyResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar.readonly'
      tags:
        - freebusy
  /users/me/calendarList:
    get:
      description: Returns entries on the user's calendar list.
      operationId: calendar.calendarList.list
      parameters:
        - description: Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.
          in: query
          minimum: 1
          name: maxResults
          type: integer
        - description: The minimum access role for the user in the returned entries. Optional. The default is no restriction.
          enum:
            - freeBusyReader
            - owner
            - reader
            - writer
          in: query
          name: minAccessRole
          type: string
        - description: Token specifying which result page to return. Optional.
          in: query
          name: pageToken
          type: string
        - description: Whether to include deleted calendar list entries in the result. Optional. The default is False.
          in: query
          name: showDeleted
          type: boolean
        - description: Whether to show hidden entries. Optional. The default is False.
          in: query
          name: showHidden
          type: boolean
        - description: |-
            Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.
            To ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.
            If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.
            Learn more about incremental synchronization.
            Optional. The default is to return all entries.
          in: query
          name: syncToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CalendarList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar.readonly'
      tags:
        - calendarList
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Adds an entry to the user's calendar list.
      operationId: calendar.calendarList.insert
      parameters:
        - description: 'Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.'
          in: query
          name: colorRgbFormat
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CalendarListEntry'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CalendarListEntry'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - calendarList
  /users/me/calendarList/watch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Watch for changes to CalendarList resources.
      operationId: calendar.calendarList.watch
      parameters:
        - description: Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.
          in: query
          minimum: 1
          name: maxResults
          type: integer
        - description: The minimum access role for the user in the returned entries. Optional. The default is no restriction.
          enum:
            - freeBusyReader
            - owner
            - reader
            - writer
          in: query
          name: minAccessRole
          type: string
        - description: Token specifying which result page to return. Optional.
          in: query
          name: pageToken
          type: string
        - description: Whether to include deleted calendar list entries in the result. Optional. The default is False.
          in: query
          name: showDeleted
          type: boolean
        - description: Whether to show hidden entries. Optional. The default is False.
          in: query
          name: showHidden
          type: boolean
        - description: |-
            Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.
            To ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.
            If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.
            Learn more about incremental synchronization.
            Optional. The default is to return all entries.
          in: query
          name: syncToken
          type: string
        - in: body
          name: resource
          schema:
            $ref: '#/definitions/Channel'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Channel'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar.readonly'
      tags:
        - calendarList
  '/users/me/calendarList/{calendarId}':
    delete:
      description: Deletes an entry on the user's calendar list.
      operationId: calendar.calendarList.delete
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - calendarList
    get:
      description: Returns an entry on the user's calendar list.
      operationId: calendar.calendarList.get
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CalendarListEntry'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar.readonly'
      tags:
        - calendarList
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an entry on the user's calendar list. This method supports patch semantics.
      operationId: calendar.calendarList.patch
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - description: 'Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.'
          in: query
          name: colorRgbFormat
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CalendarListEntry'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CalendarListEntry'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - calendarList
    put:
      description: Updates an entry on the user's calendar list.
      operationId: calendar.calendarList.update
      parameters:
        - description: 'Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the "primary" keyword.'
          in: path
          name: calendarId
          required: true
          type: string
        - description: 'Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.'
          in: query
          name: colorRgbFormat
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CalendarListEntry'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CalendarListEntry'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
      tags:
        - calendarList
  /users/me/settings:
    get:
      description: Returns all user settings for the authenticated user.
      operationId: calendar.settings.list
      parameters:
        - description: Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.
          in: query
          minimum: 1
          name: maxResults
          type: integer
        - description: Token specifying which result page to return. Optional.
          in: query
          name: pageToken
          type: string
        - description: |-
            Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.
            If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.
            Learn more about incremental synchronization.
            Optional. The default is to return all entries.
          in: query
          name: syncToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Settings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar.readonly'
      tags:
        - settings
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /users/me/settings/watch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Watch for changes to Settings resources.
      operationId: calendar.settings.watch
      parameters:
        - description: Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.
          in: query
          minimum: 1
          name: maxResults
          type: integer
        - description: Token specifying which result page to return. Optional.
          in: query
          name: pageToken
          type: string
        - description: |-
            Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.
            If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.
            Learn more about incremental synchronization.
            Optional. The default is to return all entries.
          in: query
          name: syncToken
          type: string
        - in: body
          name: resource
          schema:
            $ref: '#/definitions/Channel'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Channel'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar.readonly'
      tags:
        - settings
  '/users/me/settings/{setting}':
    get:
      description: Returns a single user setting.
      operationId: calendar.settings.get
      parameters:
        - description: The id of the user setting.
          in: path
          name: setting
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Setting'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar'
        - Oauth2:
            - 'https://www.googleapis.com/auth/calendar.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/calendar.readonly'
      tags:
        - settings
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
definitions:
  Acl:
    properties:
      etag:
        description: ETag of the collection.
        type: string
      items:
        description: List of rules on the access control list.
        items:
          $ref: '#/definitions/AclRule'
        type: array
      kind:
        default: 'calendar#acl'
        description: 'Type of the collection ("calendar#acl").'
        type: string
      nextPageToken:
        description: 'Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.'
        type: string
      nextSyncToken:
        description: 'Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.'
        type: string
    type: object
  AclRule:
    properties:
      etag:
        description: ETag of the resource.
        type: string
      id:
        description: Identifier of the ACL rule.
        type: string
      kind:
        default: 'calendar#aclRule'
        description: 'Type of the resource ("calendar#aclRule").'
        type: string
      role:
        description: |-
          The role assigned to the scope. Possible values are:  
          - "none" - Provides no access. 
          - "freeBusyReader" - Provides read access to free/busy information. 
          - "reader" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. 
          - "writer" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. 
          - "owner" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs.
        type: string
      scope:
        description: The scope of the rule.
        properties:
          type:
            description: |-
              The type of the scope. Possible values are:  
              - "default" - The public scope. This is the default value. 
              - "user" - Limits the scope to a single user. 
              - "group" - Limits the scope to a group. 
              - "domain" - Limits the scope to a domain.  Note: The permissions granted to the "default", or public, scope apply to any user, authenticated or not.
            type: string
          value:
            description: 'The email address of a user or group, or the name of a domain, depending on the scope type. Omitted for type "default".'
            type: string
        type: object
    type: object
  Calendar:
    properties:
      description:
        description: Description of the calendar. Optional.
        type: string
      etag:
        description: ETag of the resource.
        type: string
      id:
        description: Identifier of the calendar. To retrieve IDs call the calendarList.list() method.
        type: string
      kind:
        default: 'calendar#calendar'
        description: 'Type of the resource ("calendar#calendar").'
        type: string
      location:
        description: Geographic location of the calendar as free-form text. Optional.
        type: string
      summary:
        description: Title of the calendar.
        type: string
      timeZone:
        description: 'The time zone of the calendar. (Formatted as an IANA Time Zone Database name, e.g. "Europe/Zurich".) Optional.'
        type: string
    type: object
  CalendarList:
    properties:
      etag:
        description: ETag of the collection.
        type: string
      items:
        description: Calendars that are present on the user's calendar list.
        items:
          $ref: '#/definitions/CalendarListEntry'
        type: array
      kind:
        default: 'calendar#calendarList'
        description: 'Type of the collection ("calendar#calendarList").'
        type: string
      nextPageToken:
        description: 'Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.'
        type: string
      nextSyncToken:
        description: 'Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.'
        type: string
    type: object
  CalendarListEntry:
    properties:
      accessRole:
        description: |-
          The effective access role that the authenticated user has on the calendar. Read-only. Possible values are:  
          - "freeBusyReader" - Provides read access to free/busy information. 
          - "reader" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. 
          - "writer" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. 
          - "owner" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs.
        type: string
      backgroundColor:
        description: 'The main color of the calendar in the hexadecimal format "#0088aa". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional.'
        type: string
      colorId:
        description: The color of the calendar. This is an ID referring to an entry in the calendar section of the colors definition (see the colors endpoint). This property is superseded by the backgroundColor and foregroundColor properties and can be ignored when using these properties. Optional.
        type: string
      defaultReminders:
        description: The default reminders that the authenticated user has for this calendar.
        items:
          $ref: '#/definitions/EventReminder'
        type: array
      deleted:
        default: false
        description: Whether this calendar list entry has been deleted from the calendar list. Read-only. Optional. The default is False.
        type: boolean
      description:
        description: Description of the calendar. Optional. Read-only.
        type: string
      etag:
        description: ETag of the resource.
        type: string
      foregroundColor:
        description: 'The foreground color of the calendar in the hexadecimal format "#ffffff". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional.'
        type: string
      hidden:
        default: false
        description: Whether the calendar has been hidden from the list. Optional. The default is False.
        type: boolean
      id:
        description: Identifier of the calendar.
        type: string
      kind:
        default: 'calendar#calendarListEntry'
        description: 'Type of the resource ("calendar#calendarListEntry").'
        type: string
      location:
        description: Geographic location of the calendar as free-form text. Optional. Read-only.
        type: string
      notificationSettings:
        description: The notifications that the authenticated user is receiving for this calendar.
        properties:
          notifications:
            description: The list of notifications set for this calendar.
            items:
              $ref: '#/definitions/CalendarNotification'
            type: array
        type: object
      primary:
        default: false
        description: Whether the calendar is the primary calendar of the authenticated user. Read-only. Optional. The default is False.
        type: boolean
      selected:
        default: false
        description: Whether the calendar content shows up in the calendar UI. Optional. The default is False.
        type: boolean
      summary:
        description: Title of the calendar. Read-only.
        type: string
      summaryOverride:
        description: The summary that the authenticated user has set for this calendar. Optional.
        type: string
      timeZone:
        description: The time zone of the calendar. Optional. Read-only.
        type: string
    type: object
  CalendarNotification:
    properties:
      method:
        description: |-
          The method used to deliver the notification. Possible values are:  
          - "email" - Reminders are sent via email. 
          - "sms" - Reminders are sent via SMS. This value is read-only and is ignored on inserts and updates. SMS reminders are only available for G Suite customers.
        type: string
      type:
        description: |-
          The type of notification. Possible values are:  
          - "eventCreation" - Notification sent when a new event is put on the calendar. 
          - "eventChange" - Notification sent when an event is changed. 
          - "eventCancellation" - Notification sent when an event is cancelled. 
          - "eventResponse" - Notification sent when an event is changed. 
          - "agenda" - An agenda with the events of the day (sent out in the morning).
        type: string
    type: object
  Channel:
    properties:
      address:
        description: The address where notifications are delivered for this channel.
        type: string
      expiration:
        description: 'Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.'
        format: int64
        type: string
      id:
        description: A UUID or similar unique string that identifies this channel.
        type: string
      kind:
        default: 'api#channel'
        description: 'Identifies this as a notification channel used to watch for changes to a resource. Value: the fixed string "api#channel".'
        type: string
      params:
        additionalProperties:
          description: Declares a new parameter by name.
          type: string
        description: Additional parameters controlling delivery channel behavior. Optional.
        type: object
      payload:
        description: A Boolean value to indicate whether payload is wanted. Optional.
        type: boolean
      resourceId:
        description: An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.
        type: string
      resourceUri:
        description: A version-specific identifier for the watched resource.
        type: string
      token:
        description: An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.
        type: string
      type:
        description: The type of delivery mechanism used for this channel.
        type: string
    type: object
  ColorDefinition:
    properties:
      background:
        description: The background color associated with this color definition.
        type: string
      foreground:
        description: The foreground color that can be used to write on top of a background with 'background' color.
        type: string
    type: object
  Colors:
    properties:
      calendar:
        additionalProperties:
          $ref: '#/definitions/ColorDefinition'
          description: A calendar color defintion.
        description: 'A global palette of calendar colors, mapping from the color ID to its definition. A calendarListEntry resource refers to one of these color IDs in its color field. Read-only.'
        type: object
      event:
        additionalProperties:
          $ref: '#/definitions/ColorDefinition'
          description: An event color definition.
        description: 'A global palette of event colors, mapping from the color ID to its definition. An event resource may refer to one of these color IDs in its color field. Read-only.'
        type: object
      kind:
        default: 'calendar#colors'
        description: 'Type of the resource ("calendar#colors").'
        type: string
      updated:
        description: Last modification time of the color palette (as a RFC3339 timestamp). Read-only.
        format: date-time
        type: string
    type: object
  Error:
    properties:
      domain:
        description: 'Domain, or broad category, of the error.'
        type: string
      reason:
        description: |-
          Specific reason for the error. Some of the possible values are:  
          - "groupTooBig" - The group of users requested is too large for a single query. 
          - "tooManyCalendarsRequested" - The number of calendars requested is too large for a single query. 
          - "notFound" - The requested resource was not found. 
          - "internalError" - The API service has encountered an internal error.  Additional error types may be added in the future, so clients should gracefully handle additional error statuses not included in this list.
        type: string
    type: object
  Event:
    properties:
      anyoneCanAddSelf:
        default: false
        description: Whether anyone can invite themselves to the event (currently works for Google+ events only). Optional. The default is False.
        type: boolean
      attachments:
        description: |-
          File attachments for the event. Currently only Google Drive attachments are supported.
          In order to modify attachments the supportsAttachments request parameter should be set to true.
          There can be at most 25 attachments per event,
        items:
          $ref: '#/definitions/EventAttachment'
        type: array
      attendees:
        description: The attendees of the event. See the Events with attendees guide for more information on scheduling events with other calendar users.
        items:
          $ref: '#/definitions/EventAttendee'
        type: array
      attendeesOmitted:
        default: false
        description: 'Whether attendees may have been omitted from the event''s representation. When retrieving an event, this may be due to a restriction specified by the maxAttendee query parameter. When updating an event, this can be used to only update the participant''s response. Optional. The default is False.'
        type: boolean
      colorId:
        description: The color of the event. This is an ID referring to an entry in the event section of the colors definition (see the  colors endpoint). Optional.
        type: string
      created:
        description: Creation time of the event (as a RFC3339 timestamp). Read-only.
        format: date-time
        type: string
      creator:
        description: The creator of the event. Read-only.
        properties:
          displayName:
            description: 'The creator''s name, if available.'
            type: string
          email:
            description: 'The creator''s email address, if available.'
            type: string
          id:
            description: 'The creator''s Profile ID, if available. It corresponds to theid field in the People collection of the Google+ API'
            type: string
          self:
            default: false
            description: Whether the creator corresponds to the calendar on which this copy of the event appears. Read-only. The default is False.
            type: boolean
        type: object
      description:
        description: Description of the event. Optional.
        type: string
      end:
        $ref: '#/definitions/EventDateTime'
        description: 'The (exclusive) end time of the event. For a recurring event, this is the end time of the first instance.'
      endTimeUnspecified:
        default: false
        description: 'Whether the end time is actually unspecified. An end time is still provided for compatibility reasons, even if this attribute is set to True. The default is False.'
        type: boolean
      etag:
        description: ETag of the resource.
        type: string
      extendedProperties:
        description: Extended properties of the event.
        properties:
          private:
            additionalProperties:
              description: The name of the private property and the corresponding value.
              type: string
            description: Properties that are private to the copy of the event that appears on this calendar.
            type: object
          shared:
            additionalProperties:
              description: The name of the shared property and the corresponding value.
              type: string
            description: Properties that are shared between copies of the event on other attendees' calendars.
            type: object
        type: object
      gadget:
        description: A gadget that extends this event.
        properties:
          display:
            description: |-
              The gadget's display mode. Optional. Possible values are:  
              - "icon" - The gadget displays next to the event's title in the calendar view. 
              - "chip" - The gadget displays when the event is clicked.
            type: string
          height:
            description: The gadget's height in pixels. The height must be an integer greater than 0. Optional.
            format: int32
            type: integer
          iconLink:
            description: The gadget's icon URL. The URL scheme must be HTTPS.
            type: string
          link:
            description: The gadget's URL. The URL scheme must be HTTPS.
            type: string
          preferences:
            additionalProperties:
              description: The preference name and corresponding value.
              type: string
            description: Preferences.
            type: object
          title:
            description: The gadget's title.
            type: string
          type:
            description: The gadget's type.
            type: string
          width:
            description: The gadget's width in pixels. The width must be an integer greater than 0. Optional.
            format: int32
            type: integer
        type: object
      guestsCanInviteOthers:
        default: true
        description: Whether attendees other than the organizer can invite others to the event. Optional. The default is True.
        type: boolean
      guestsCanModify:
        default: false
        description: Whether attendees other than the organizer can modify the event. Optional. The default is False.
        type: boolean
      guestsCanSeeOtherGuests:
        default: true
        description: Whether attendees other than the organizer can see who the event's attendees are. Optional. The default is True.
        type: boolean
      hangoutLink:
        description: An absolute link to the Google+ hangout associated with this event. Read-only.
        type: string
      htmlLink:
        description: An absolute link to this event in the Google Calendar Web UI. Read-only.
        type: string
      iCalUID:
        description: |-
          Event unique identifier as defined in RFC5545. It is used to uniquely identify events accross calendaring systems and must be supplied when importing events via the import method.
          Note that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs.
        type: string
      id:
        description: |-
          Opaque identifier of the event. When creating new single or recurring events, you can specify their IDs. Provided IDs must follow these rules:  
          - characters allowed in the ID are those used in base32hex encoding, i.e. lowercase letters a-v and digits 0-9, see section 3.1.2 in RFC2938 
          - the length of the ID must be between 5 and 1024 characters 
          - the ID must be unique per calendar  Due to the globally distributed nature of the system, we cannot guarantee that ID collisions will be detected at event creation time. To minimize the risk of collisions we recommend using an established UUID algorithm such as one described in RFC4122.
          If you do not specify an ID, it will be automatically generated by the server.
          Note that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs.
        type: string
      kind:
        default: 'calendar#event'
        description: 'Type of the resource ("calendar#event").'
        type: string
      location:
        description: Geographic location of the event as free-form text. Optional.
        type: string
      locked:
        default: false
        description: 'Whether this is a locked event copy where no changes can be made to the main event fields "summary", "description", "location", "start", "end" or "recurrence". The default is False. Read-Only.'
        type: boolean
      organizer:
        description: 'The organizer of the event. If the organizer is also an attendee, this is indicated with a separate entry in attendees with the organizer field set to True. To change the organizer, use the move operation. Read-only, except when importing an event.'
        properties:
          displayName:
            description: 'The organizer''s name, if available.'
            type: string
          email:
            description: 'The organizer''s email address, if available. It must be a valid email address as per RFC5322.'
            type: string
          id:
            description: 'The organizer''s Profile ID, if available. It corresponds to theid field in the People collection of the Google+ API'
            type: string
          self:
            default: false
            description: Whether the organizer corresponds to the calendar on which this copy of the event appears. Read-only. The default is False.
            type: boolean
        type: object
      originalStartTime:
        $ref: '#/definitions/EventDateTime'
        description: 'For an instance of a recurring event, this is the time at which this event would start according to the recurrence data in the recurring event identified by recurringEventId. Immutable.'
      privateCopy:
        default: false
        description: Whether this is a private event copy where changes are not shared with other copies on other calendars. Optional. Immutable. The default is False.
        type: boolean
      recurrence:
        description: 'List of RRULE, EXRULE, RDATE and EXDATE lines for a recurring event, as specified in RFC5545. Note that DTSTART and DTEND lines are not allowed in this field; event start and end times are specified in the start and end fields. This field is omitted for single events or instances of recurring events.'
        items:
          type: string
        type: array
      recurringEventId:
        description: 'For an instance of a recurring event, this is the id of the recurring event to which this instance belongs. Immutable.'
        type: string
      reminders:
        description: Information about the event's reminders for the authenticated user.
        properties:
          overrides:
            description: 'If the event doesn''t use the default reminders, this lists the reminders specific to the event, or, if not set, indicates that no reminders are set for this event. The maximum number of override reminders is 5.'
            items:
              $ref: '#/definitions/EventReminder'
            type: array
          useDefault:
            description: Whether the default reminders of the calendar apply to the event.
            type: boolean
        type: object
      sequence:
        description: Sequence number as per iCalendar.
        format: int32
        type: integer
      source:
        description: 'Source from which the event was created. For example, a web page, an email message or any document identifiable by an URL with HTTP or HTTPS scheme. Can only be seen or modified by the creator of the event.'
        properties:
          title:
            description: Title of the source; for example a title of a web page or an email subject.
            type: string
          url:
            description: URL of the source pointing to a resource. The URL scheme must be HTTP or HTTPS.
            type: string
        type: object
      start:
        $ref: '#/definitions/EventDateTime'
        description: 'The (inclusive) start time of the event. For a recurring event, this is the start time of the first instance.'
      status:
        description: |-
          Status of the event. Optional. Possible values are:  
          - "confirmed" - The event is confirmed. This is the default status. 
          - "tentative" - The event is tentatively confirmed. 
          - "cancelled" - The event is cancelled.
        type: string
      summary:
        description: Title of the event.
        type: string
      transparency:
        default: opaque
        description: |-
          Whether the event blocks time on the calendar. Optional. Possible values are:  
          - "opaque" - Default value. The event does block time on the calendar. This is equivalent to setting Show me as to Busy in the Calendar UI. 
          - "transparent" - The event does not block time on the calendar. This is equivalent to setting Show me as to Available in the Calendar UI.
        type: string
      updated:
        description: Last modification time of the event (as a RFC3339 timestamp). Read-only.
        format: date-time
        type: string
      visibility:
        default: default
        description: |-
          Visibility of the event. Optional. Possible values are:  
          - "default" - Uses the default visibility for events on the calendar. This is the default value. 
          - "public" - The event is public and event details are visible to all readers of the calendar. 
          - "private" - The event is private and only event attendees may view event details. 
          - "confidential" - The event is private. This value is provided for compatibility reasons.
        type: string
    type: object
  EventAttachment:
    properties:
      fileId:
        description: |-
          ID of the attached file. Read-only.
          For Google Drive files, this is the ID of the corresponding Files resource entry in the Drive API.
        type: string
      fileUrl:
        description: |-
          URL link to the attachment.
          For adding Google Drive file attachments use the same format as in alternateLink property of the Files resource in the Drive API.
        type: string
      iconLink:
        description: URL link to the attachment's icon. Read-only.
        type: string
      mimeType:
        description: Internet media type (MIME type) of the attachment.
        type: string
      title:
        description: Attachment title.
        type: string
    type: object
  EventAttendee:
    properties:
      additionalGuests:
        default: 0
        description: Number of additional guests. Optional. The default is 0.
        format: int32
        type: integer
      comment:
        description: The attendee's response comment. Optional.
        type: string
      displayName:
        description: 'The attendee''s name, if available. Optional.'
        type: string
      email:
        description: 'The attendee''s email address, if available. This field must be present when adding an attendee. It must be a valid email address as per RFC5322.'
        type: string
      id:
        description: 'The attendee''s Profile ID, if available. It corresponds to theid field in the People collection of the Google+ API'
        type: string
      optional:
        default: false
        description: Whether this is an optional attendee. Optional. The default is False.
        type: boolean
      organizer:
        description: Whether the attendee is the organizer of the event. Read-only. The default is False.
        type: boolean
      resource:
        default: false
        description: Whether the attendee is a resource. Read-only. The default is False.
        type: boolean
      responseStatus:
[...]
