{
  "host": "api.owler.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "api.owler.com",
    "x-providerName": "owler.com",
    "x-origin": {
      "format": "swagger",
      "version": "1.2",
      "url": "https://developers.owler.com/swagger/spec.json"
    }
  },
  "tags": [
    {
      "name": "company"
    },
    {
      "name": "competitor"
    },
    {
      "name": "feed"
    }
  ],
  "paths": {
    "/v1/company/basicsearch": {
      "get": {
        "tags": [
          "company"
        ],
        "operationId": "basicCompanySearch",
        "summary": "Basic Search Company by Ticker or Website or Name",
        "description": "The Company Basic Search API searches for a company based on the input and will returns results containing basic details about matching companies. By default the API returns the top 10 available results unless the limit is specified. The maximum limit is restricted to 30.",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "Search term",
            "name": "q",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Fields to be searched - name, website, ticker. If not specfied, will be searched against all fields",
            "name": "fields",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "name",
                "website",
                "ticker"
              ]
            }
          },
          {
            "in": "query",
            "description": "Number of results to be displayed - 10 (by default, if not specified) to 30",
            "name": "limit",
            "required": false,
            "type": "string",
            "minimum": 1,
            "maximum": 30
          },
          {
            "in": "query",
            "description": "Format of the response content - json (by default if not specified), xml",
            "name": "format",
            "required": false,
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "in": "header",
            "description": "API Access Key",
            "name": "user_key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Search Results",
            "schema": {
              "$ref": "#/definitions/basic_results"
            }
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/company/search": {
      "get": {
        "tags": [
          "company"
        ],
        "operationId": "searchCompany",
        "summary": "Search Company by Ticker or Website or Name",
        "description": "The Company Search API searches for a company based on the input and will returns results containing basic details about matching companies. By default the API returns the top 10 available results unless the limit is specified. The maximum limit is restricted to 30.",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "Search term",
            "name": "q",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Fields to be searched - name, website, ticker. If not specified, will be searched against all fields",
            "name": "fields",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "name",
                "website",
                "ticker"
              ]
            }
          },
          {
            "in": "query",
            "description": "Number of results to be displayed - 10 (by default, if not specified) to 30",
            "name": "limit",
            "required": false,
            "type": "string",
            "minimum": 1,
            "maximum": 30
          },
          {
            "in": "query",
            "description": "Format of the response content - json (by default if not specified), xml",
            "name": "format",
            "required": false,
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "in": "header",
            "description": "API Access Key",
            "name": "user_key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Search Results",
            "schema": {
              "$ref": "#/definitions/results"
            }
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/company/id/{companyId}": {
      "get": {
        "tags": [
          "company"
        ],
        "operationId": "getCompanyById",
        "summary": "Get Company by Id",
        "description": "The Company Data API provides complete information about a company for the specified Company Id ",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "Company Id",
            "name": "companyId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Format of the response content - json (by default if not specified), xml",
            "name": "format",
            "required": false,
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "in": "header",
            "description": "API Access Key",
            "name": "user_key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Company Data",
            "schema": {
              "$ref": "#/definitions/company"
            }
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/company/url/{website}": {
      "get": {
        "tags": [
          "company"
        ],
        "operationId": "getCompanyByWebsite",
        "summary": "Get Company by URL",
        "description": "The Company Data API provides complete information about a company for the specified URL ",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "Company Domain",
            "name": "website",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Format of the response content - json (by default if not specified), xml",
            "name": "format",
            "required": false,
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "in": "header",
            "description": "API Access Key",
            "name": "user_key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Company Data",
            "schema": {
              "$ref": "#/definitions/company"
            }
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/company/competitor/id/{companyId}": {
      "get": {
        "tags": [
          "competitor"
        ],
        "operationId": "getCompetitorsForId",
        "summary": "Get Competitor information by Id",
        "description": "The Competitors API provides basic information about top 3 competitors of a company specified in the Company Id",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "Company Id",
            "name": "companyId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Format of the response content - json (by default if not specified), xml",
            "name": "format",
            "required": false,
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "in": "header",
            "description": "API Access Key",
            "name": "user_key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Competitors Data",
            "schema": {
              "$ref": "#/definitions/CompanyCompetitorVO"
            }
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/company/competitor/url/{website}": {
      "get": {
        "tags": [
          "competitor"
        ],
        "operationId": "getCompetitorsForWebsite",
        "summary": "Get Competitor information by URL",
        "description": "The Competitors API provides basic information about top 3 competitors of a company specified in the website",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "Company Id",
            "name": "website",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Format of the response content - json (by default if not specified), xml",
            "name": "format",
            "required": false,
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "in": "header",
            "description": "API Access Key",
            "name": "user_key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Competitors Data",
            "schema": {
              "$ref": "#/definitions/CompanyCompetitorVO"
            }
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/feed": {
      "get": {
        "tags": [
          "feed"
        ],
        "operationId": "getFeeds",
        "summary": "Get Feeds for given Company Ids",
        "description": "The Feeds API provides a list of feeds and individual feed information for the given Company Ids and Category. By default the API returns the latest 10 feeds available unless the limit is specified. The maximum result is restricted to 100 feeds per API request.",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "Format of the response content - json (by default if not specified), xml",
            "name": "format",
            "required": false,
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ]
          },
          {
            "in": "query",
            "description": "Company Ids separated by comma (Maximum of 10 Company Ids)",
            "name": "company_id",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "description": "Number of results to be displayed - 10 (by default, if not specified) to 100",
            "name": "limit",
            "required": false,
            "type": "string",
            "default": "10"
          },
          {
            "in": "query",
            "description": "Pass pagination_id as blank in the first API request. The API response will return the latest feeds along with the next pagination_id which can be passed in the subsequent API request to get the next set of feeds. Repeat this process until needed or till the pagination_id returned is blank",
            "name": "pagination_id",
            "required": false,
            "type": "string",
            "default": "*"
          },
          {
            "in": "query",
            "description": "Categories separated by comma. If not specified, will search against all categories",
            "name": "category",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "default": "NEWS,PRESS,FUNDING,ACQUISITION,PEOPLE,BLOG,VIDEOS",
              "enum": [
                "NEWS",
                "PRESS",
                "FUNDING",
                "ACQUISITION",
                "PEOPLE",
                "BLOG",
                "VIDEOS"
              ]
            }
          },
          {
            "in": "header",
            "description": "API Access Key",
            "name": "user_key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Feeds Data",
            "schema": {
              "$ref": "#/definitions/results"
            }
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "definitions": {
    "CompanyBasicSearchVO": {
      "description": "",
      "properties": {
        "company_id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "short_name": {
          "type": "string"
        },
        "website": {
          "type": "string"
        },
        "profile_url": {
          "type": "string"
        },
        "hq_address": {
          "$ref": "#/definitions/Address"
        }
      }
    },
    "Address": {
      "properties": {
        "street1": {
          "type": "string"
        },
        "street2": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "postal_code": {
          "type": "string"
        }
      }
    },
    "company": {
      "description": "",
      "required": [
        "company_id",
        "name",
        "website",
        "logo_url",
        "profile_url"
      ],
      "properties": {
        "company_id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "short_name": {
          "type": "string"
        },
        "website": {
          "type": "string"
        },
        "logo_url": {
          "type": "string"
        },
        "profile_url": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "company_type": {
          "type": "string",
          "enum": [
            "Private",
            "Public",
            "Product/Brand/Service",
            "NGO/NPO/NFP/Organization/Association",
            "Investment Company",
            "Government"
          ]
        },
        "stock": {
          "$ref": "#/definitions/Stock"
        },
        "hq_address": {
          "$ref": "#/definitions/Address"
        },
        "founded_date": {
          "type": "string"
        },
        "revenue": {
          "type": "string"
        },
        "employee_count": {
          "type": "string"
        },
        "industries": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ceo": {
          "$ref": "#/definitions/Ceo"
        }
      }
    },
    "Ceo": {
      "properties": {
        "first_name": {
          "type": "string"
        },
        "last_name": {
          "type": "string"
        },
        "image_url": {
          "type": "string"
        }
      }
    },
    "results": {
      "description": "",
      "properties": {
        "feeds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FeedsVO"
          }
        },
        "pagination_id": {
          "type": "string"
        }
      }
    },
    "basic_results": {
      "description": "",
      "properties": {
        "company": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CompanyBasicSearchVO"
          }
        }
      }
    },
    "CompanySearchResultVO": {
      "description": "",
      "required": [
        "company_id",
        "name",
        "website",
        "logo_url",
        "profile_url"
      ],
      "properties": {
        "company_id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "short_name": {
          "type": "string"
        },
        "website": {
          "type": "string"
        },
        "logo_url": {
          "type": "string"
        },
        "profile_url": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "company_type": {
          "type": "string",
          "enum": [
            "Private",
            "Public",
            "Product/Brand/Service",
            "NGO/NPO/NFP/Organization/Association",
            "Investment Company",
            "Government"
          ]
        },
        "stock": {
          "$ref": "#/definitions/Stock"
        },
        "hq_address": {
          "$ref": "#/definitions/Address"
        }
      }
    },
    "Stock": {
      "properties": {
        "ticker": {
          "type": "string"
        },
        "exchange": {
          "type": "string"
        }
      }
    },
    "CompanyBasicVO": {
      "description": "",
      "required": [
        "company_id",
        "name",
        "website",
        "logo_url",
        "profile_url"
      ],
      "properties": {
        "company_id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "short_name": {
          "type": "string"
        },
        "website": {
          "type": "string"
        },
        "logo_url": {
          "type": "string"
        },
        "profile_url": {
          "type": "string"
        }
      }
    },
    "CompanyCompetitorVO": {
      "properties": {
        "competitor": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CompanyBasicVO"
          }
        }
      }
    },
    "FeedsVO": {
      "description": "",
      "properties": {
        "id": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "publisher_name": {
          "type": "string"
        },
        "publisher_logo": {
          "type": "string"
        },
        "source_url": {
          "type": "string"
        },
        "enclosure_image": {
          "type": "string"
        },
        "feed_date": {
          "type": "string"
        },
        "owler_feed_url": {
          "type": "string"
        },
        "company": {
          "$ref": "#/definitions/CompanyBasicVO"
        }
      }
    }
  }
}