swagger: '2.0'
schemes:
  - https
host: api.indix.com
basePath: /
info:
  title: Indix
  version: 2.0.0
  x-apisguru-categories:
    - analytics
    - ecommerce
  x-logo:
    backgroundColor: '#444444'
    url: 'https://developer.indix.com/images/logo-tagline.png'
  x-origin:
    format: swagger
    url: 'https://developer.indix.com/swagger/spec/INDIX_API_V2.json'
    version: '2.0'
  x-providerName: indix.com
  x-tags:
    - DaaS
    - Product information
externalDocs:
  url: 'http://docs.indix.com/'
produces:
  - application/json
paths:
  /v2/brands:
    get:
      description: '<p>Lists all brands, along with their IDs, matching query term. Does not support wildcards. Limit is 10 results per query. This API does not consume any credits.'
      parameters:
        - description: Search term to match against brand name. Partial match. Case insensitive.
          in: query
          name: q
          required: true
          type: string
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Search Brands - Lists all brands along with their IDs - Credits: 　0'
      tags:
        - '1 - Brand, Store & Category lookup'
  '/v2/bulk/ase/{jobId}':
    get:
      description: API returns the status  of  the bulk  Job. This API does not consume any credits.
      parameters:
        - description: The id that would be used to query the status of the submitted job and download the final products
          in: path
          name: jobId
          required: true
          type: string
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'ASE Bulk - Get job status - Credits: 　0'
      tags:
        - 8 - Advanced Search Endpoint
  '/v2/bulk/ase/{jobId}/download':
    get:
      description: API downloads the products as a file. This API does not consume any credits.
      parameters:
        - description: The id that would be used to query the status of the submitted job and download the final products
          in: path
          name: jobId
          required: true
          type: string
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'ASE Bulk - Download the products as a file - Credits: 　0'
      tags:
        - 8 - Advanced Search Endpoint
  '/v2/bulk/jobs/{jobId}':
    get:
      description: API returns the status  of  the bulk  Job. This API does not consume any credits.
      parameters:
        - description: The id that would be used to query the status of the submitted job and download the final products
          in: path
          name: jobId
          required: true
          type: string
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Bulk - Get job status - Credits: 　0'
      tags:
        - 7 - Bulk job status and download
  '/v2/bulk/jobs/{jobId}/download':
    get:
      description: API downloads the products as a file. This API does not consume any credits.
      parameters:
        - description: The id that would be used to query the status of the submitted job and download the final products
          in: path
          name: jobId
          required: true
          type: string
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Bulk - Download the products as a file - Credits: 　0'
      tags:
        - 7 - Bulk job status and download
  /v2/catalogPremium/bulk/lookup:
    post:
      consumes:
        - multipart/form-data
      description: This operation returns the catalog premium information for the specified product across all the stores where it is sold at. This consumes 18 credits per product returned.
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: formData
          name: countryCode
          required: true
          type: string
        - description: |-
            File input format: JsonLines. Each line should be a valid json conforming to one of the below formats<br><pre>{"upc": "upc1"}
            {"mpn": "mpn1", "brandId":  123}
            {"sku": "mpn1", "storeId":  123}</pre>
          in: formData
          name: file
          required: true
          type: file
        - description: Your application id
          in: formData
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: formData
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Bulk Product Details - Returns catalog premium information for a product - Credits: 　n x 18'
      tags:
        - 6 - Bulk Product Lookup
  /v2/catalogPremium/bulk/products:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 18 credits per product returned.'
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: formData
          name: countryCode
          required: true
          type: string
        - collectionFormat: multi
          description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
          in: formData
          items:
            type: string
          name: storeId
          required: false
          type: array
        - collectionFormat: multi
          description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
          in: formData
          items:
            type: string
          name: alsoSoldAt
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator)
          in: formData
          items:
            type: string
          name: brandId
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
          in: formData
          items:
            type: string
          name: categoryId
          required: false
          type: array
        - description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
          in: formData
          name: startPrice
          required: false
          type: string
        - description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
          in: formData
          name: endPrice
          required: false
          type: string
        - description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
          in: formData
          name: availability
          required: false
          type: string
        - description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
          in: formData
          name: priceHistoryAvailable
          required: false
          type: string
        - description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
          in: formData
          name: priceChange
          required: false
          type: string
        - description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
          in: formData
          name: onPromotion
          required: false
          type: string
        - description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
          in: formData
          name: lastRecordedIn
          required: false
          type: string
        - description: Limits results to products with at least a certain number of stores
          in: formData
          name: storesCount
          required: false
          type: string
        - description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
          in: formData
          name: applyFiltersTo
          required: false
          type: string
        - description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
          in: formData
          name: selectOffersFrom
          required: false
          type: string
        - description: Your application id
          in: formData
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: formData
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Bulk Search Products - Retrieves a list of products matching a variety of query parameters with their catalog info across stores - Credits: 　n x 18'
      tags:
        - 5 - Bulk Product Search
  /v2/catalogPremium/products:
    get:
      description: '<p>Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 18 credits per product returned.'
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: query
          name: countryCode
          required: true
          type: string
        - description: The product search term
          in: query
          name: q
          required: false
          type: string
        - collectionFormat: multi
          description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
          in: query
          items:
            type: string
          name: storeId
          required: false
          type: array
        - collectionFormat: multi
          description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
          in: query
          items:
            type: string
          name: alsoSoldAt
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of brand with id int. Supports multiple values (acts as OR operator)
          in: query
          items:
            type: string
          name: brandId
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
          in: query
          items:
            type: string
          name: categoryId
          required: false
          type: array
        - description: Search by product URL
          in: query
          name: url
          required: false
          type: string
        - description: Limit results to products with this UPC
          in: query
          name: upc
          required: false
          type: string
        - description: Limit results to products with this MPN
          in: query
          name: mpn
          required: false
          type: string
        - description: Limit results to products with this SKU
          in: query
          name: sku
          required: false
          type: string
        - description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
          in: query
          name: startPrice
          required: false
          type: string
        - description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
          in: query
          name: endPrice
          required: false
          type: string
        - description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
          in: query
          name: availability
          required: false
          type: string
        - description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
          in: query
          name: priceHistoryAvailable
          required: false
          type: string
        - description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
          in: query
          name: priceChange
          required: false
          type: string
        - description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
          in: query
          name: onPromotion
          required: false
          type: string
        - description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
          in: query
          name: lastRecordedIn
          required: false
          type: string
        - description: Limits results to products with at least a certain number of stores
          in: query
          name: storesCount
          required: false
          type: string
        - description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
          in: query
          name: applyFiltersTo
          required: false
          type: string
        - description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
          in: query
          name: selectOffersFrom
          required: false
          type: string
        - description: 'Sort by values - PRICE_LOW_TO_HIGH, PRICE_HIGH_TO_LOW, MOST_RECENT.'
          in: query
          name: sortBy
          required: false
          type: string
        - collectionFormat: multi
          description: 'Facet by values - storeId, brandId, categoryId. Should be a comma separated list of allowed values.'
          in: query
          items:
            type: string
          name: facetBy
          required: false
          type: array
        - description: The page number of the result set to return. 10 results per page.
          in: query
          name: pageNumber
          required: false
          type: string
        - description: 'Number of results per page. Allowed values - 10, 20, 50.'
          in: query
          name: pageSize
          required: false
          type: string
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Search Products - Retrieves a list of products matching a variety of query parameters with their catalog info across stores - Credits: 　n x 18'
      tags:
        - 2 - Product Search
  '/v2/catalogPremium/products/{mpid}':
    get:
      description: <p>This operation returns the catalog premium information for the specified product across all the stores where it is sold at. This consumes 18 credits.
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: query
          name: countryCode
          required: true
          type: string
        - description: The Indix product identifier - should be a 32-digit HEX value retrieved via the Product Search API
          in: path
          name: mpid
          required: true
          type: string
        - description: 'The page number of the result set to return. 50 results per page, plus similar items'
          in: query
          name: pageNumber
          required: false
          type: string
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Product Details - Returns catalog premium information for a product - Credits: 　18'
      tags:
        - 3 - Product Lookup
  /v2/catalogStandard/bulk/lookup:
    post:
      consumes:
        - multipart/form-data
      description: This operation returns the catalog standard information for the specified product across all the stores where it is sold at. This consumes 18 credits per product returned.
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: formData
          name: countryCode
          required: true
          type: string
        - description: |-
            File input format: JsonLines. Each line should be a valid json conforming to one of the below formats<br><pre>{"upc": "upc1"}
            {"mpn": "mpn1", "brandId":  123}
            {"sku": "mpn1", "storeId":  123}</pre>
          in: formData
          name: file
          required: true
          type: file
        - description: Your application id
          in: formData
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: formData
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Bulk Product Details - Returns catalog standard information for a product - Credits: 　n x 18'
      tags:
        - 6 - Bulk Product Lookup
  /v2/catalogStandard/bulk/products:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 18 credits per product returned.'
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: formData
          name: countryCode
          required: true
          type: string
        - collectionFormat: multi
          description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
          in: formData
          items:
            type: string
          name: storeId
          required: false
          type: array
        - collectionFormat: multi
          description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
          in: formData
          items:
            type: string
          name: alsoSoldAt
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator)
          in: formData
          items:
            type: string
          name: brandId
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
          in: formData
          items:
            type: string
          name: categoryId
          required: false
          type: array
        - description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
          in: formData
          name: startPrice
          required: false
          type: string
        - description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
          in: formData
          name: endPrice
          required: false
          type: string
        - description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
          in: formData
          name: availability
          required: false
          type: string
        - description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
          in: formData
          name: priceHistoryAvailable
          required: false
          type: string
        - description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
          in: formData
          name: priceChange
          required: false
          type: string
        - description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
          in: formData
          name: onPromotion
          required: false
          type: string
        - description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
          in: formData
          name: lastRecordedIn
          required: false
          type: string
        - description: Limits results to products with at least a certain number of stores
          in: formData
          name: storesCount
          required: false
          type: string
        - description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
          in: formData
          name: applyFiltersTo
          required: false
          type: string
        - description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
          in: formData
          name: selectOffersFrom
          required: false
          type: string
        - description: Your application id
          in: formData
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: formData
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Bulk Search Products - Retrieves a list of products matching a variety of query parameters with their aggregated catalog info - Credits: 　n x 18'
      tags:
        - 5 - Bulk Product Search
  /v2/catalogStandard/products:
    get:
      description: '<p>Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 18 credits per product returned.'
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: query
          name: countryCode
          required: true
          type: string
        - description: The product search term
          in: query
          name: q
          required: false
          type: string
        - collectionFormat: multi
          description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
          in: query
          items:
            type: string
          name: storeId
          required: false
          type: array
        - collectionFormat: multi
          description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
          in: query
          items:
            type: string
          name: alsoSoldAt
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator)
          in: query
          items:
            type: string
          name: brandId
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
          in: query
          items:
            type: string
          name: categoryId
          required: false
          type: array
        - description: Search by product URL
          in: query
          name: url
          required: false
          type: string
        - description: Limit results to products with this UPC
          in: query
          name: upc
          required: false
          type: string
        - description: Limit results to products with this MPN
          in: query
          name: mpn
          required: false
          type: string
        - description: Limit results to products with this SKU
          in: query
          name: sku
          required: false
          type: string
        - description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
          in: query
          name: startPrice
          required: false
          type: string
        - description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
          in: query
          name: endPrice
          required: false
          type: string
        - description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
          in: query
          name: availability
          required: false
          type: string
        - description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
          in: query
          name: priceHistoryAvailable
          required: false
          type: string
        - description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
          in: query
          name: priceChange
          required: false
          type: string
        - description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
          in: query
          name: onPromotion
          required: false
          type: string
        - description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
          in: query
          name: lastRecordedIn
          required: false
          type: string
        - description: Limits results to products with at least a certain number of stores
          in: query
          name: storesCount
          required: false
          type: string
        - description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
          in: query
          name: applyFiltersTo
          required: false
          type: string
        - description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
          in: query
          name: selectOffersFrom
          required: false
          type: string
        - description: 'Sort by values - PRICE_LOW_TO_HIGH, PRICE_HIGH_TO_LOW, MOST_RECENT.'
          in: query
          name: sortBy
          required: false
          type: string
        - collectionFormat: multi
          description: 'Facet by values - storeId, brandId, categoryId. Should be a comma separated list of allowed values.'
          in: query
          items:
            type: string
          name: facetBy
          required: false
          type: array
        - description: The page number of the result set to return. 10 results per page.
          in: query
          name: pageNumber
          required: false
          type: string
        - description: 'Number of results per page. Allowed values - 10, 20, 50.'
          in: query
          name: pageSize
          required: false
          type: string
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Search Products - Retrieves a list of products matching a variety of query parameters with their aggregated catalog info - Credits: 　n x 18'
      tags:
        - 2 - Product Search
  '/v2/catalogStandard/products/{mpid}':
    get:
      description: <p>This operation returns the catalog standard information for the specified product across all the stores where it is sold at. This consumes 18 credits.
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: query
          name: countryCode
          required: true
          type: string
        - description: The Indix product identifier - should be a 32-digit HEX value retrieved via the Product Search API
          in: path
          name: mpid
          required: true
          type: string
        - description: 'The page number of the result set to return. 50 results per page, plus similar items'
          in: query
          name: pageNumber
          required: false
          type: string
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Product Details - Returns catalog standard information for a product - Credits: 　18'
      tags:
        - 3 - Product Lookup
  /v2/categories:
    get:
      description: <p>Lists all categories along with their IDs and ancestry. This API does not consume any credits.
      parameters:
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Export Categories - Lists all categories along with their IDs and path - Credits: 　0'
      tags:
        - '1 - Brand, Store & Category lookup'
  /v2/offersPremium/bulk/lookup:
    post:
      consumes:
        - multipart/form-data
      description: This operation returns the offers premium information for the specified product across all the stores where it is sold at. This consumes 4 credits per product returned.
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: formData
          name: countryCode
          required: true
          type: string
        - description: |-
            File input format: JsonLines. Each line should be a valid json conforming to one of the below formats<br><pre>{"upc": "upc1"}
            {"mpn": "mpn1", "brandId":  123}
            {"sku": "mpn1", "storeId":  123}</pre>
          in: formData
          name: file
          required: true
          type: file
        - description: Your application id
          in: formData
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: formData
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Bulk Product Details - Returns offers premium information for a product - Credits: 　n x 4'
      tags:
        - 6 - Bulk Product Lookup
  /v2/offersPremium/bulk/products:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 4 credits per product returned.'
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: formData
          name: countryCode
          required: true
          type: string
        - collectionFormat: multi
          description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
          in: formData
          items:
            type: string
          name: storeId
          required: false
          type: array
        - collectionFormat: multi
          description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
          in: formData
          items:
            type: string
          name: alsoSoldAt
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator)
          in: formData
          items:
            type: string
          name: brandId
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
          in: formData
          items:
            type: string
          name: categoryId
          required: false
          type: array
        - description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
          in: formData
          name: startPrice
          required: false
          type: string
        - description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
          in: formData
          name: endPrice
          required: false
          type: string
        - description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
          in: formData
          name: availability
          required: false
          type: string
        - description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
          in: formData
          name: priceHistoryAvailable
          required: false
          type: string
        - description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
          in: formData
          name: priceChange
          required: false
          type: string
        - description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
          in: formData
          name: onPromotion
          required: false
          type: string
        - description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
          in: formData
          name: lastRecordedIn
          required: false
          type: string
        - description: Limits results to products with at least a certain number of stores
          in: formData
          name: storesCount
          required: false
          type: string
        - description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
          in: formData
          name: applyFiltersTo
          required: false
          type: string
        - description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
          in: formData
          name: selectOffersFrom
          required: false
          type: string
        - description: Your application id
          in: formData
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: formData
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Bulk Search Products - Retrieves a list of products matching a variety of query parameters with offers info across stores - Credits: 　n x 4'
      tags:
        - 5 - Bulk Product Search
  /v2/offersPremium/products:
    get:
      description: '<p>Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 4 credits per product returned.'
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: query
          name: countryCode
          required: true
          type: string
        - description: The product search term
          in: query
          name: q
          required: false
          type: string
        - collectionFormat: multi
          description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
          in: query
          items:
            type: string
          name: storeId
          required: false
          type: array
        - collectionFormat: multi
          description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
          in: query
          items:
            type: string
          name: alsoSoldAt
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator
          in: query
          items:
            type: string
          name: brandId
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
          in: query
          items:
            type: string
          name: categoryId
          required: false
          type: array
        - description: Search by product URL
          in: query
          name: url
          required: false
          type: string
        - description: Limit results to products with this UPC
          in: query
          name: upc
          required: false
          type: string
        - description: Limit results to products with this MPN
          in: query
          name: mpn
          required: false
          type: string
        - description: Limit results to products with this SKU
          in: query
          name: sku
          required: false
          type: string
        - description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
          in: query
          name: startPrice
          required: false
          type: string
        - description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
          in: query
          name: endPrice
          required: false
          type: string
        - description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
          in: query
          name: availability
          required: false
          type: string
        - description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
          in: query
          name: priceHistoryAvailable
          required: false
          type: string
        - description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
          in: query
          name: priceChange
          required: false
          type: string
        - description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
          in: query
          name: onPromotion
          required: false
          type: string
        - description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
          in: query
          name: lastRecordedIn
          required: false
          type: string
        - description: Limits results to products with at least a certain number of stores
          in: query
          name: storesCount
          required: false
          type: string
        - description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
          in: query
          name: applyFiltersTo
          required: false
          type: string
        - description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
          in: query
          name: selectOffersFrom
          required: false
          type: string
        - description: 'Sort by values - PRICE_LOW_TO_HIGH, PRICE_HIGH_TO_LOW, MOST_RECENT.'
          in: query
          name: sortBy
          required: false
          type: string
        - collectionFormat: multi
          description: 'Facet by values - storeId, brandId, categoryId. Should be a comma separated list of allowed values.'
          in: query
          items:
            type: string
          name: facetBy
          required: false
          type: array
        - description: The page number of the result set to return. 10 results per page.
          in: query
          name: pageNumber
          required: false
          type: string
        - description: 'Number of results per page. Allowed values - 10, 20, 50.'
          in: query
          name: pageSize
          required: false
          type: string
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Search Products - Retrieves a list of products matching a variety of query parameters with offers info across stores - Credits: 　n x 4'
      tags:
        - 2 - Product Search
  '/v2/offersPremium/products/{mpid}':
    get:
      description: <p>This operation returns the offers premium information for the specified product across all the stores where it is sold at. This consumes 4 credits.
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: query
          name: countryCode
          required: true
          type: string
        - description: The Indix product identifier - should be a 32-digit HEX value retrieved via the Product Search API
          in: path
          name: mpid
          required: true
          type: string
        - description: 'The page number of the result set to return. 50 results per page, plus similar items'
          in: query
          name: pageNumber
          required: false
          type: string
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Product Details - Returns offers premium information for a product - Credits: 　4'
      tags:
        - 3 - Product Lookup
  /v2/offersStandard/bulk/lookup:
    post:
      consumes:
        - multipart/form-data
      description: This operation returns the offers standard information for the specified product from a single storeId. This consumes 4 credits per product returned.
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: formData
          name: countryCode
          required: true
          type: string
        - description: |-
            File input format: JsonLines. Each line should be a valid json conforming to one of the below formats<br><pre>{"upc": "upc1"}
            {"mpn": "mpn1", "brandId":  123}
            {"sku": "mpn1", "storeId":  123}</pre>
          in: formData
          name: file
          required: true
          type: file
        - description: Your application id
          in: formData
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: formData
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Bulk Product Details - Returns offers standard information for a product from a single storeId - Credits: 　n x 4'
      tags:
        - 6 - Bulk Product Lookup
  /v2/offersStandard/bulk/products:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 4 credits per product returned.'
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: formData
          name: countryCode
          required: true
          type: string
        - collectionFormat: multi
          description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
          in: formData
          items:
            type: string
          name: storeId
          required: false
          type: array
        - collectionFormat: multi
          description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
          in: formData
          items:
            type: string
          name: alsoSoldAt
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator)
          in: formData
          items:
            type: string
          name: brandId
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
          in: formData
          items:
            type: string
          name: categoryId
          required: false
          type: array
        - description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
          in: formData
          name: startPrice
          required: false
          type: string
        - description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
          in: formData
          name: endPrice
          required: false
          type: string
        - description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
          in: formData
          name: availability
          required: false
          type: string
        - description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
          in: formData
          name: priceHistoryAvailable
          required: false
          type: string
        - description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
          in: formData
          name: priceChange
          required: false
          type: string
        - description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
          in: formData
          name: onPromotion
          required: false
          type: string
        - description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
          in: formData
          name: lastRecordedIn
          required: false
          type: string
        - description: Limits results to products with at least a certain number of stores
          in: formData
          name: storesCount
          required: false
          type: string
        - description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
          in: formData
          name: applyFiltersTo
          required: false
          type: string
        - description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
          in: formData
          name: selectOffersFrom
          required: false
          type: string
        - description: Your application id
          in: formData
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: formData
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Bulk Search Products - Retrieves a list of products matching a variety of query parameters with offers info from a store - Credits: 　n x 4'
      tags:
        - 5 - Bulk Product Search
  /v2/offersStandard/products:
    get:
      description: '<p>Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 4 credits per product returned.'
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: query
          name: countryCode
          required: true
          type: string
        - description: The product search term
          in: query
          name: q
          required: false
          type: string
        - description: Limits results to products sold at store with id.
          in: query
          name: storeId
          required: true
          type: string
        - collectionFormat: multi
          description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
          in: query
          items:
            type: string
          name: alsoSoldAt
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator
          in: query
          items:
            type: string
          name: brandId
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of category with this id. Support multiple values (acts as OR operator
          in: query
          items:
            type: string
          name: categoryId
          required: false
          type: array
        - description: Search by product URL
          in: query
          name: url
          required: false
          type: string
        - description: Limit results to products with this UPC
          in: query
          name: upc
          required: false
          type: string
        - description: Limit results to products with this MPN
          in: query
          name: mpn
          required: false
          type: string
        - description: Limit results to products with this SKU
          in: query
          name: sku
          required: false
          type: string
        - description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
          in: query
          name: startPrice
          required: false
          type: string
        - description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
          in: query
          name: endPrice
          required: false
          type: string
        - description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
          in: query
          name: availability
          required: false
          type: string
        - description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
          in: query
          name: priceHistoryAvailable
          required: false
          type: string
        - description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
          in: query
          name: priceChange
          required: false
          type: string
        - description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
          in: query
          name: onPromotion
          required: false
          type: string
        - description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
          in: query
          name: lastRecordedIn
          required: false
          type: string
        - description: Limits results to products with at least a certain number of stores
          in: query
          name: storesCount
          required: false
          type: string
        - description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
          in: query
          name: applyFilterTo
          required: false
          type: string
        - description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
          in: query
          name: selectOffersFrom
          required: false
          type: string
        - description: 'Sort by values - PRICE_LOW_TO_HIGH, PRICE_HIGH_TO_LOW, MOST_RECENT.'
          in: query
          name: sortBy
          required: false
          type: string
        - collectionFormat: multi
          description: 'Facet by values - storeId, brandId, categoryId. Should be a comma separated list of allowed values.'
          in: query
          items:
            type: string
          name: facetBy
          required: false
          type: array
        - description: The page number of the result set to return. 10 results per page.
          in: query
          name: pageNumber
          required: false
          type: string
        - description: 'Number of results per page. Allowed values - 10, 20, 50.'
          in: query
          name: pageSize
          required: false
          type: string
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Search Products - Retrieves a list of products matching a variety of query parameters with offers info from a store - Credits: 　n x 4'
      tags:
        - 2 - Product Search
  '/v2/offersStandard/products/{mpid}':
    get:
      description: <p>This operation returns the offers standard information for the specified product from a single storeId. This consumes 4 credits.
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: query
          name: countryCode
          required: true
          type: string
        - description: The Indix product identifier - should be a 32-digit HEX value retrieved via the Product Search API
          in: path
          name: mpid
          required: true
          type: string
        - description: Limits results to offers from this store
          in: query
          name: storeId
          required: true
          type: string
        - description: 'The page number of the result set to return. 50 results per page, plus similar items'
          in: query
          name: pageNumber
          required: false
          type: string
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Product Details - Returns offers standard information for a product from a single storeId - Credits: 　4'
      tags:
        - 3 - Product Lookup
  /v2/products/suggestions:
    get:
      description: <p>Lists all search suggestions matching the query term. Does not support wildcards. Limit 100 results per query. This API does not consume any credits.
      parameters:
        - description: Limits results to products of the geography with this code.
          in: query
          name: countryCode
          required: true
          type: string
        - description: Query term for which suggestions are to be provided
          in: query
          name: q
          required: true
          type: string
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Search Suggestions - Lists all product search suggestions - Credits: 　0'
      tags:
        - 4 - Search suggestions
  /v2/stores:
    get:
      description: '<p>Lists all stores, along with their IDs, matching the query term. Does not support wildcards. Limit 10 results per query. This API does not consume any credits.'
      parameters:
        - description: Search term to match against store name or the store domain. Partial match. Case insensitive
          in: query
          name: q
          required: true
          type: string
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Search Stores - Lists all stores along with their IDs - Credits: 　0'
      tags:
        - '1 - Brand, Store & Category lookup'
  /v2/summary/bulk/lookup:
    post:
      consumes:
        - multipart/form-data
      description: This operation returns the summary information for the specified product. This consumes 2 credits per product returned.
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: formData
          name: countryCode
          required: true
          type: string
        - description: |-
            File input format: JsonLines. Each line should be a valid json conforming to one of the below formats<br><pre>{"upc": "upc1"}
            {"mpn": "mpn1", "brandId":  123}
            {"sku": "mpn1", "storeId":  123}</pre>
          in: formData
          name: file
          required: true
          type: file
        - description: Your application id
          in: formData
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: formData
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Bulk Product Details - Returns summary information for a product - Credits: 　n x 2'
      tags:
        - 6 - Bulk Product Lookup
  /v2/summary/bulk/products:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 2 credits per product returned.'
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: formData
          name: countryCode
          required: true
          type: string
        - collectionFormat: multi
          description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
          in: formData
          items:
            type: string
          name: storeId
          required: false
          type: array
        - collectionFormat: multi
          description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
          in: formData
          items:
            type: string
          name: alsoSoldAt
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator)
          in: formData
          items:
            type: string
          name: brandId
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
          in: formData
          items:
            type: string
          name: categoryId
          required: false
          type: array
        - description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
          in: formData
          name: startPrice
          required: false
          type: string
        - description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
          in: formData
          name: endPrice
          required: false
          type: string
        - description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
          in: formData
          name: availability
          required: false
          type: string
        - description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
          in: formData
          name: priceHistoryAvailable
          required: false
          type: string
        - description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
          in: formData
          name: priceChange
          required: false
          type: string
        - description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
          in: formData
          name: onPromotion
          required: false
          type: string
        - description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
          in: formData
          name: lastRecordedIn
          required: false
          type: string
        - description: Limits results to products with at least a certain number of stores
          in: formData
          name: storesCount
          required: false
          type: string
        - description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
          in: formData
          name: applyFiltersTo
          required: false
          type: string
        - description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
          in: formData
          name: selectOffersFrom
          required: false
          type: string
        - description: Your application id
          in: formData
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: formData
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Bulk Search Products - Retrieves a list of products matching a variety of query parameters with their summary info - Credits: 　n x 2'
      tags:
        - 5 - Bulk Product Search
  /v2/summary/products:
    get:
      description: '<p>Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 2 credits per product returned.'
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: query
          name: countryCode
          required: true
          type: string
        - description: The product search term
          in: query
          name: q
          required: false
          type: string
        - collectionFormat: multi
          description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
          in: query
          items:
            type: string
          name: storeId
          required: false
          type: array
        - collectionFormat: multi
          description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
          in: query
          items:
            type: string
          name: alsoSoldAt
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator)
          in: query
          items:
            type: string
          name: brandId
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
          in: query
          items:
            type: string
          name: categoryId
          required: false
          type: array
        - description: Search by product URL
          in: query
          name: url
          required: false
          type: string
        - description: Limit results to products with this UPC
          in: query
          name: upc
          required: false
          type: string
        - description: Limit results to products with this MPN
          in: query
          name: mpn
          required: false
          type: string
        - description: Limit results to products with this SKU
          in: query
          name: sku
          required: false
          type: string
        - description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
          in: query
          name: startPrice
          required: false
          type: string
        - description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
          in: query
          name: endPrice
          required: false
          type: string
        - description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
          in: query
          name: availability
          required: false
          type: string
        - description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
          in: query
          name: priceHistoryAvailable
          required: false
          type: string
        - description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
          in: query
          name: priceChange
          required: false
          type: string
        - description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
          in: query
          name: onPromotion
          required: false
          type: string
        - description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
          in: query
          name: lastRecordedIn
          required: false
          type: string
        - description: Limits results to products with at least a certain number of stores
          in: query
          name: storesCount
          required: false
          type: string
        - description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
          in: query
          name: applyFiltersTo
          required: false
          type: string
        - description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
          in: query
          name: selectOffersFrom
          required: false
          type: string
        - description: 'Sort by values - PRICE_LOW_TO_HIGH, PRICE_HIGH_TO_LOW, MOST_RECENT.'
          in: query
          name: sortBy
          required: false
          type: string
        - collectionFormat: multi
          description: 'Facet by values - storeId, brandId, categoryId. Should be a comma separated list of allowed values.'
          in: query
          items:
            type: string
          name: facetBy
          required: false
          type: array
        - description: The page number of the result set to return. 10 results per page.
          in: query
          name: pageNumber
          required: false
          type: string
        - description: 'Number of results per page. Allowed values - 10, 20, 50.'
          in: query
          name: pageSize
          required: false
          type: string
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Search Products - Retrieves a list of products matching a variety of query parameters with their summary info - Credits: 　n x 2'
      tags:
        - 2 - Product Search
  '/v2/summary/products/{mpid}':
    get:
      description: <p>This operation returns the summary information for the specified product. This consumes 2 credits.
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: query
          name: countryCode
          required: true
          type: string
        - description: The Indix product identifier - should be a 32-digit HEX value retrieved via the Product Search API
          in: path
          name: mpid
          required: true
          type: string
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Product Details - Returns summary information for a product - Credits: 　2'
      tags:
        - 3 - Product Lookup
  /v2/universal/bulk/ase:
    post:
      consumes:
        - multipart/form-data
      description: Used  to  get a set of  exact and close matches for a given set of  query parameters. You must  include <b>productTitle</b> as a parameter. This consumes 25 credits per product returned.
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: formData
          name: countryCode
          required: true
          type: string
        - description: |-
            File input format: JsonLines. Each line should be a valid json conforming to one of the below formats<br><pre>{"productTitle": "Men's Hush  Puppies Circuit Slip  On  MT  Black Leather","brandName": "Hush Puppies","sku": "4784976","mpn": "HM01021-003","upc": "00018467091622"}
            {"productTitle": "LPS LPS 2 Brown Penetrating Lubricant - 55  gal Drum  - Food  Grade,  Military  Grade - 00255 [PRICE  is  per DRUM]" ,"mpn": "00255","upc": "078827002552"}
            {"productTitle": "LPS LPS 2 Brown Penetrating Lubricant - 55  gal Drum  - Food  Grade,  Military  Grade - 00255 [PRICE  is  per DRUM]", "upc": "078827002552"}
            {"productTitle": "LPS LPS 2 Brown Penetrating Lubricant - 55  gal Drum  - Food  Grade,  Military  Grade - 00255 [PRICE  is  per DRUM]"}</pre>
          in: formData
          name: file
          required: true
          type: file
        - description: Your application id
          in: formData
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: formData
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'ASE Universal Bulk - Returns a set of  exact and close matches - Credits: 　n x 25'
      tags:
        - 8 - Advanced Search Endpoint
  /v2/universal/bulk/lookup:
    post:
      consumes:
        - multipart/form-data
      description: This operation returns the complete information for the specified product across all the stores where it is sold at. This consumes 22 credits per product returned.
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: formData
          name: countryCode
          required: true
          type: string
        - description: |-
            File input format: JsonLines. Each line should be a valid json conforming to one of the below formats<br><pre>{"upc": "upc1"}
            {"mpn": "mpn1", "brandId":  123}
            {"sku": "mpn1", "storeId":  123}</pre>
          in: formData
          name: file
          required: true
          type: file
        - description: Your application id
          in: formData
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: formData
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Bulk Product Details - Returns complete information for a product - Credits: 　n x 22'
      tags:
        - 6 - Bulk Product Lookup
  /v2/universal/bulk/products:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 22 credits per product returned.'
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: formData
          name: countryCode
          required: true
          type: string
        - collectionFormat: multi
          description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
          in: formData
          items:
            type: string
          name: storeId
          required: false
          type: array
        - collectionFormat: multi
          description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
          in: formData
          items:
            type: string
          name: alsoSoldAt
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of brand with id int.  Supports multiple values (acts as OR operator)
          in: formData
          items:
            type: string
          name: brandId
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
          in: formData
          items:
            type: string
          name: categoryId
          required: false
          type: array
        - description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
          in: formData
          name: startPrice
          required: false
          type: string
        - description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
          in: formData
          name: endPrice
          required: false
          type: string
        - description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
          in: formData
          name: availability
          required: false
          type: string
        - description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
          in: formData
          name: priceHistoryAvailable
          required: false
          type: string
        - description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
          in: formData
          name: priceChange
          required: false
          type: string
        - description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
          in: formData
          name: onPromotion
          required: false
          type: string
        - description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
          in: formData
          name: lastRecordedIn
          required: false
          type: string
        - description: Limits results to products with at least a certain number of stores
          in: formData
          name: storesCount
          required: false
          type: string
        - description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
          in: formData
          name: applyFiltersTo
          required: false
          type: string
        - description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
          in: formData
          name: selectOffersFrom
          required: false
          type: string
        - description: Your application id
          in: formData
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: formData
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Bulk Search Products - Retrieves a list of products matching a variety of query parameters with their offers and catalog info across stores - Credits: 　n x 22'
      tags:
        - 5 - Bulk Product Search
  /v2/universal/products:
    get:
      description: '<p>Returns a collection of products matching a specified query, along with a variety of statistics about the query results. Requires at least one of query, url, upc, mpn, sku, brandId, storeId, or categoryId. This consumes 22 credits per product returned.'
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: query
          name: countryCode
          required: true
          type: string
        - description: The product search term
          in: query
          name: q
          required: false
          type: string
        - collectionFormat: multi
          description: 'Limits results to products sold at store with id. Supports multiple values (acts as OR operator) '
          in: query
          items:
            type: string
          name: storeId
          required: false
          type: array
        - collectionFormat: multi
          description: 'Combined with storeId limits results to products sold at both storeIds and alsoSoldAt storeIds. Supports multiple values (acts as OR operator) '
          in: query
          items:
            type: string
          name: alsoSoldAt
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of brand with id int. Supports multiple values (acts as OR operator)
          in: query
          items:
            type: string
          name: brandId
          required: false
          type: array
        - collectionFormat: multi
          description: Limits results to products of category with this id. Supports multiple values (acts as OR operator)
          in: query
          items:
            type: string
          name: categoryId
          required: false
          type: array
        - description: Search by product URL
          in: query
          name: url
          required: false
          type: string
        - description: Limit results to products with this UPC
          in: query
          name: upc
          required: false
          type: string
        - description: Limit results to products with this MPN
          in: query
          name: mpn
          required: false
          type: string
        - description: Limit results to products with this SKU
          in: query
          name: sku
          required: false
          type: string
        - description: 'Combined with end_price, limits results to products sold by at least one store at a price between start and end'
          in: query
          name: startPrice
          required: false
          type: string
        - description: 'Combined with start_price, limits results to products sold by at least one store at a price between start and end'
          in: query
          name: endPrice
          required: false
          type: string
        - description: 'Limits results to either in-stock or out-of-stock items. Accepted values: ''IN_STOCK'',''OUT_OF_STOCK'''
          in: query
          name: availability
          required: false
          type: string
        - description: 'Limits results to product that have price history available through the products/{:id}/prices endpoint. Accepted values: ''true'',''false'''
          in: query
          name: priceHistoryAvailable
          required: false
          type: string
        - description: 'Limits results to products whose prices have been increased or decreased. Accepted Values: PRICE_INCREASED, PRICE_DECREASED, EITHER'
          in: query
          name: priceChange
          required: false
          type: string
        - description: 'Limits results to products which are on Promotion. Accepted values: ''true'',''false'''
          in: query
          name: onPromotion
          required: false
          type: string
        - description: Limits results to products which have price recorded in the last xx days. Accepted Value is a non-negative integer
          in: query
          name: lastRecordedIn
          required: false
          type: string
        - description: Limits results to products with at least a certain number of stores
          in: query
          name: storesCount
          required: false
          type: string
        - description: 'Specify the stores for which the offer level filter apply. Allowed values - storeId (apply filters to only stores in storeId), alsoSoldAt (apply filters to only stores in alsoSoldAt), storeIdOrAlsoSoldAt (apply filters to stores present in both storeId and alsoSoldAt), any (apply filters across all offers)'
          in: query
          name: applyFiltersTo
          required: false
          type: string
        - description: 'Specify the stores for which offers will be returned in the response. Allowed values - storeId (select offers matching filters from storeId), alsoSoldAt (select offers matching filters from alsoSoldAt), storeIdAndAlsoSoldAt (select offers matching filters from stores in both storeId and alsoSoldAt), all (select all offers irrespective of matching or storeId or alsoSoldAt data)'
          in: query
          name: selectOffersFrom
          required: false
          type: string
        - description: 'Sort by values - PRICE_LOW_TO_HIGH, PRICE_HIGH_TO_LOW, MOST_RECENT.'
          in: query
          name: sortBy
          required: false
          type: string
        - collectionFormat: multi
          description: 'Facet by values - storeId, brandId, categoryId. Should be a comma separated list of allowed values.'
          in: query
          items:
            type: string
          name: facetBy
          required: false
          type: array
        - description: The page number of the result set to return. 10 results per page.
          in: query
          name: pageNumber
          required: false
          type: string
        - description: 'Number of results per page. Allowed values - 10, 20, 50.'
          in: query
          name: pageSize
          required: false
          type: string
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Search Products - Retrieves a list of products matching a variety of query parameters with their offers and catalog info across stores - Credits: 　n x 22'
      tags:
        - 2 - Product Search
  '/v2/universal/products/{mpid}':
    get:
      description: <p>This operation returns the complete information for the specified product across all the stores where it is sold at. This consumes 22 credits.
      parameters:
        - description: 'Limits results to products of the geography with this code. Available values ''US'', ''GB'', ''IN'', ''CA'', ''SG'' and ''AU''. If the user doesn’t pass a value, the default option returns the US countryCode data'
          in: query
          name: countryCode
          required: true
          type: string
        - description: The Indix product identifier - should be a 32-digit HEX value retrieved via the Product Search API
          in: path
          name: mpid
          required: true
          type: string
        - description: 'The page number of the result set to return. 50 results per page, plus similar items'
          in: query
          name: pageNumber
          required: false
          type: string
        - description: Your application id
          in: query
          name: app_id
          required: true
          type: string
        - description: Your application key
          in: query
          name: app_key
          required: true
          type: string
      responses:
        '200':
          description: Response
      summary: 'Product Details - Returns complete information for a product - Credits: 　22'
      tags:
        - 3 - Product Lookup
