openapi: 3.0.0
servers:
  - url: https://civicinfo.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Civic Information API
  version: v2
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://civicinfo.googleapis.com/$discovery/rest?version=v2
      version: v1
  x-providerName: googleapis.com
  x-serviceName: civicinfo
externalDocs:
  url: https://developers.google.com/civic-information/
tags:
  - name: divisions
  - name: elections
  - name: representatives
paths:
  /civicinfo/v2/divisions:
    get:
      description: Searches for political divisions by their natural name or OCD ID.
      operationId: civicinfo.divisions.search
      parameters:
        - description: The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html
          in: query
          name: query
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DivisionSearchResponse"
          description: Successful response
      tags:
        - divisions
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /civicinfo/v2/elections:
    get:
      description: List of available elections to query.
      operationId: civicinfo.elections.electionQuery
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ElectionsQueryResponse"
          description: Successful response
      tags:
        - elections
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /civicinfo/v2/representatives:
    get:
      description: Looks up political geography and representative information for a single address.
      operationId: civicinfo.representatives.representativeInfoByAddress
      parameters:
        - description: The address to look up. May only be specified if the field ocdId is not given in the URL
          in: query
          name: address
          schema:
            type: string
        - description: Whether to return information about offices and officials. If false, only the top-level district information will be returned.
          in: query
          name: includeOffices
          schema:
            type: boolean
        - description: A list of office levels to filter by. Only offices that serve at least one of these levels will be returned. Divisions that don't contain a matching office will not be returned.
          explode: true
          in: query
          name: levels
          schema:
            items:
              enum:
                - international
                - country
                - administrativeArea1
                - regional
                - administrativeArea2
                - locality
                - subLocality1
                - subLocality2
                - special
              type: string
            type: array
          style: form
        - description: A list of office roles to filter by. Only offices fulfilling one of these roles will be returned. Divisions that don't contain a matching office will not be returned.
          explode: true
          in: query
          name: roles
          schema:
            items:
              enum:
                - headOfState
                - headOfGovernment
                - deputyHeadOfGovernment
                - governmentOfficer
                - executiveCouncil
                - legislatorUpperBody
                - legislatorLowerBody
                - highestCourtJudge
                - judge
                - schoolBoard
                - specialPurposeOfficer
                - otherRole
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepresentativeInfoResponse"
          description: Successful response
      tags:
        - representatives
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/civicinfo/v2/representatives/{ocdId}":
    get:
      description: Looks up representative information for a single geographic division.
      operationId: civicinfo.representatives.representativeInfoByDivision
      parameters:
        - description: The Open Civic Data division identifier of the division to look up.
          in: path
          name: ocdId
          required: true
          schema:
            type: string
        - description: A list of office levels to filter by. Only offices that serve at least one of these levels will be returned. Divisions that don't contain a matching office will not be returned.
          explode: true
          in: query
          name: levels
          schema:
            items:
              enum:
                - international
                - country
                - administrativeArea1
                - regional
                - administrativeArea2
                - locality
                - subLocality1
                - subLocality2
                - special
              type: string
            type: array
          style: form
        - description: If true, information about all divisions contained in the division requested will be included as well. For example, if querying ocd-division/country:us/district:dc, this would also return all DC's wards and ANCs.
          in: query
          name: recursive
          schema:
            type: boolean
        - description: A list of office roles to filter by. Only offices fulfilling one of these roles will be returned. Divisions that don't contain a matching office will not be returned.
          explode: true
          in: query
          name: roles
          schema:
            items:
              enum:
                - headOfState
                - headOfGovernment
                - deputyHeadOfGovernment
                - governmentOfficer
                - executiveCouncil
                - legislatorUpperBody
                - legislatorLowerBody
                - highestCourtJudge
                - judge
                - schoolBoard
                - specialPurposeOfficer
                - otherRole
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepresentativeInfoData"
          description: Successful response
      tags:
        - representatives
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /civicinfo/v2/voterinfo:
    get:
      description: Looks up information relevant to a voter based on the voter's registered address.
      operationId: civicinfo.elections.voterInfoQuery
      parameters:
        - description: The registered address of the voter to look up.
          in: query
          name: address
          required: true
          schema:
            type: string
        - description: The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field.
          in: query
          name: electionId
          schema:
            type: string
        - description: If set to true, only data from official state sources will be returned.
          in: query
          name: officialOnly
          schema:
            type: boolean
        - description: If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.
          in: query
          name: returnAllAvailableData
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoterInfoResponse"
          description: Successful response
      tags:
        - elections
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AdministrationRegion:
      description: Describes information about a regional election administrative area.
      properties:
        electionAdministrationBody:
          $ref: "#/components/schemas/AdministrativeBody"
          description: The election administration body for this area.
        local_jurisdiction:
          $ref: "#/components/schemas/AdministrationRegion"
          description: The city or county that provides election information for this voter. This object can have the same elements as state.
        name:
          description: The name of the jurisdiction.
          type: string
        sources:
          description: A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources.
          items:
            $ref: "#/components/schemas/Source"
          type: array
      type: object
    AdministrativeBody:
      description: Information about an election administrative body (e.g. County Board of Elections).
      properties:
        absenteeVotingInfoUrl:
          description: A URL provided by this administrative body for information on absentee voting.
          type: string
        ballotInfoUrl:
          description: A URL provided by this administrative body to give contest information to the voter.
          type: string
        correspondenceAddress:
          $ref: "#/components/schemas/SimpleAddressType"
          description: The mailing address of this administrative body.
        electionInfoUrl:
          description: A URL provided by this administrative body for looking up general election information.
          type: string
        electionNoticeText:
          description: A last minute or emergency notification text provided by this administrative body.
          type: string
        electionNoticeUrl:
          description: A URL provided by this administrative body for additional information related to the last minute or emergency notification.
          type: string
        electionOfficials:
          description: The election officials for this election administrative body.
          items:
            $ref: "#/components/schemas/ElectionOfficial"
          type: array
        electionRegistrationConfirmationUrl:
          description: A URL provided by this administrative body for confirming that the voter is registered to vote.
          type: string
        electionRegistrationUrl:
          description: A URL provided by this administrative body for looking up how to register to vote.
          type: string
        electionRulesUrl:
          description: A URL provided by this administrative body describing election rules to the voter.
          type: string
        hoursOfOperation:
          description: A description of the hours of operation for this administrative body.
          type: string
        name:
          description: The name of this election administrative body.
          type: string
        physicalAddress:
          $ref: "#/components/schemas/SimpleAddressType"
          description: The physical address of this administrative body.
        voter_services:
          description: A description of the services this administrative body may provide.
          items:
            type: string
          type: array
        votingLocationFinderUrl:
          description: A URL provided by this administrative body for looking up where to vote.
          type: string
      type: object
    Candidate:
      description: Information about a candidate running for elected office.
      properties:
        candidateUrl:
          description: The URL for the candidate's campaign web site.
          type: string
        channels:
          description: A list of known (social) media channels for this candidate.
          items:
            $ref: "#/components/schemas/Channel"
          type: array
        email:
          description: The email address for the candidate's campaign.
          type: string
        name:
          description: The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. "Mitt Romney / Paul Ryan"
          type: string
        orderOnBallot:
          description: The order the candidate appears on the ballot for this contest.
          format: int64
          type: string
        party:
          description: The full name of the party the candidate is a member of.
          type: string
        phone:
          description: The voice phone number for the candidate's campaign office.
          type: string
        photoUrl:
          description: A URL for a photo of the candidate.
          type: string
      type: object
    Channel:
      description: A social media or web channel for a candidate.
      properties:
        id:
          description: The unique public identifier for the candidate's channel.
          type: string
        type:
          description: "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter"
          type: string
      type: object
    Contest:
      description: Information about a contest that appears on a voter's ballot.
      properties:
        ballotPlacement:
          description: A number specifying the position of this contest on the voter's ballot.
          format: int64
          type: string
        ballotTitle:
          description: The official title on the ballot for this contest, only where available.
          type: string
        candidates:
          description: The candidate choices for this contest.
          items:
            $ref: "#/components/schemas/Candidate"
          type: array
        district:
          $ref: "#/components/schemas/ElectoralDistrict"
          description: Information about the electoral district that this contest is in.
        electorateSpecifications:
          description: A description of any additional eligibility requirements for voting in this contest.
          type: string
        level:
          description: The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at "locality" level, but also effectively at both "administrative-area-2" and "administrative-area-1".
          items:
            enum:
              - international
              - country
              - administrativeArea1
              - regional
              - administrativeArea2
              - locality
              - subLocality1
              - subLocality2
              - special
            type: string
          type: array
        numberElected:
          description: The number of candidates that will be elected to office in this contest.
          format: int64
          type: string
        numberVotingFor:
          description: The number of candidates that a voter may vote for in this contest.
          format: int64
          type: string
        office:
          description: The name of the office for this contest.
          type: string
        primaryParties:
          description: If this is a partisan election, the name of the party/parties it is for.
          items:
            type: string
          type: array
        referendumBallotResponses:
          description: The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include "yes" or "no" for referenda. This field is only populated for contests of type 'Referendum'.
          items:
            type: string
          type: array
        referendumBrief:
          description: Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'.
          type: string
        referendumConStatement:
          description: A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.
          type: string
        referendumEffectOfAbstain:
          description: Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'.
          type: string
        referendumPassageThreshold:
          description: The threshold of votes that the referendum needs in order to pass, e.g. "two-thirds". This field is only populated for contests of type 'Referendum'.
          type: string
        referendumProStatement:
          description: A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.
          type: string
        referendumSubtitle:
          description: A brief description of the referendum. This field is only populated for contests of type 'Referendum'.
          type: string
        referendumText:
          description: The full text of the referendum. This field is only populated for contests of type 'Referendum'.
          type: string
        referendumTitle:
          description: The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'.
          type: string
        referendumUrl:
          description: A link to the referendum. This field is only populated for contests of type 'Referendum'.
          type: string
        roles:
          description: The roles which this office fulfills.
          items:
            enum:
              - headOfState
              - headOfGovernment
              - deputyHeadOfGovernment
              - governmentOfficer
              - executiveCouncil
              - legislatorUpperBody
              - legislatorLowerBody
              - highestCourtJudge
              - judge
              - schoolBoard
              - specialPurposeOfficer
              - otherRole
            type: string
          type: array
        sources:
          description: A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources.
          items:
            $ref: "#/components/schemas/Source"
          type: array
        special:
          description: '"Yes" or "No" depending on whether this a contest being held outside the normal election cycle.'
          type: string
        type:
          description: The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'.
          type: string
      type: object
    DivisionSearchResponse:
      description: The result of a division search query.
      properties:
        kind:
          default: civicinfo#divisionSearchResponse
          description: 'Identifies what kind of resource this is. Value: the fixed string "civicinfo#divisionSearchResponse".'
          type: string
        results:
          items:
            $ref: "#/components/schemas/DivisionSearchResult"
          type: array
      type: object
    DivisionSearchResult:
      description: Represents a political geographic division that matches the requested query.
      properties:
        aliases:
          description: Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district.
          items:
            type: string
          type: array
        name:
          description: The name of the division.
          type: string
        ocdId:
          description: The unique Open Civic Data identifier for this division
          type: string
      type: object
    Election:
      description: Information about the election that was queried.
      properties:
        electionDay:
          description: Day of the election in YYYY-MM-DD format.
          type: string
        id:
          description: The unique ID of this election.
          format: int64
          type: string
        name:
          description: A displayable name for the election.
          type: string
        ocdDivisionId:
          description: The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us).
          type: string
        shapeLookupBehavior:
          enum:
            - shapeLookupDefault
            - shapeLookupDisabled
            - shapeLookupEnabled
          type: string
      type: object
    ElectionOfficial:
      description: Information about individual election officials.
      properties:
        emailAddress:
          description: The email address of the election official.
          type: string
        faxNumber:
          description: The fax number of the election official.
          type: string
        name:
          description: The full name of the election official.
          type: string
        officePhoneNumber:
          description: The office phone number of the election official.
          type: string
        title:
          description: The title of the election official.
          type: string
      type: object
    ElectionsQueryResponse:
      description: The list of elections available for this version of the API.
      properties:
        elections:
          description: A list of available elections
          items:
            $ref: "#/components/schemas/Election"
          type: array
        kind:
          default: civicinfo#electionsQueryResponse
          description: 'Identifies what kind of resource this is. Value: the fixed string "civicinfo#electionsQueryResponse".'
          type: string
      type: object
    ElectoralDistrict:
      description: Describes the geographic scope of a contest.
      properties:
        id:
          description: An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id "34" and a scope of stateUpper.
          type: string
        name:
          description: The name of the district.
          type: string
        scope:
          description: "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special"
          enum:
            - statewide
            - congressional
            - stateUpper
            - stateLower
            - countywide
            - judicial
            - schoolBoard
            - citywide
            - special
            - countyCouncil
            - township
            - ward
            - cityCouncil
            - national
          type: string
      type: object
    FeatureIdProto:
      description: A globally unique identifier associated with each feature. We use 128-bit identifiers so that we have lots of bits available to distinguish between features. The feature id currently consists of a 64-bit "cell id" that **sometimes** corresponds to the approximate centroid of the feature, plus a 64-bit fingerprint of other identifying information. See more on each respective field in its comments. Feature ids are first assigned when the data is created in MapFacts. After initial creation of the feature, they are immutable. This means that the only properties that you should rely on are that they are unique, and that cell_ids often - but not always - preserve spatial locality. The degree of locality varies as the feature undergoes geometry changes, and should not in general be considered a firm guarantee of the location of any particular feature. In fact, some locationless features have randomized cell IDs! Consumers of FeatureProtos from Mapfacts are guaranteed that fprints in the id field of features will be globally unique. Using the fprint allows consumers who don't need the spatial benefit of cell ids to uniquely identify features in a 64-bit address space. This property is not guaranteed for other sources of FeatureProtos.
      properties:
        cellId:
          description: "The S2CellId corresponding to the approximate location of this feature as of when it was first created. This can be of variable accuracy, ranging from the exact centroid of the feature at creation, a very large S2 Cell, or even being completely randomized for locationless features. Cell ids have the nice property that they follow a space-filling curve over the surface of the earth. (See s2cellid.h for details.) WARNING: Clients should only use cell IDs to perform spatial locality optimizations. There is no strict guarantee that the cell ID of a feature is related to the current geometry of the feature in any way."
          format: uint64
          type: string
        fprint:
          description: A 64-bit fingerprint used to identify features. Most clients should rely on MapFacts or OneRing to choose fingerprints. If creating new fprints, the strategy should be chosen so that the chance of collision is remote or non-existent, and the distribution should be reasonably uniform. For example, if the source data assigns unique ids to features, then a fingerprint of the provider name, version, and source id is sufficient.
          format: uint64
          type: string
        temporaryData:
          $ref: "#/components/schemas/MessageSet"
          description: A place for clients to attach arbitrary data to a feature ID. Never set in MapFacts.
      type: object
    GeocodingSummary:
      description: Detailed summary of the result from geocoding an address
      properties:
        addressUnderstood:
          description: Represents the best estimate of whether or not the input address was fully understood and the address is correctly componentized. Mirrors the same-name field in geostore.staging.AddressLinkupScoringProto.
          type: boolean
        featureId:
          $ref: "#/components/schemas/FeatureIdProto"
          description: The ID of the FeatureProto returned by the geocoder
        featureType:
          description: The feature type for the FeatureProto returned by the geocoder
          enum:
            - typeAny
            - typeTransportation
            - typeRoute
            - typeDeprecatedHighwayDoNotUse
            - typeHighway
            - typeHighway1
            - typeHighway2
            - typeHighway3
            - typeHighway4
            - typeHighway5
            - typeHighway6
            - typeHighway7
            - typeHighway8
            - typeHighway9
            - typeBicycleRoute
            - typeTrail
            - typeSegment
            - typeRoad
            - typeRailway
            - typeStandardTrack
            - typeJrTrack
            - typeNarrowTrack
            - typeMonorailTrack
            - typeSubwayTrack
            - typeLightRailTrack
            - typeBroadTrack
            - typeHighSpeedRail
            - typeTrolleyTrack
            - typeFerry
            - typeFerryBoat
            - typeFerryTrain
            - typeVirtualSegment
            - typeIntersection
            - typeTransit
            - typeTransitStation
            - typeBusStation
            - typeTramwayStation
            - typeTrainStation
            - typeSubwayStation
            - typeFerryTerminal
            - typeAirport
            - typeAirportCivil
            - typeAirportMilitary
            - typeAirportMixed
            - typeHeliport
            - typeSeaplaneBase
            - typeAirstrip
            - typeCableCarStation
            - typeGondolaLiftStation
            - typeFunicularStation
            - typeSpecialStation
            - typeHorseCarriageStation
            - typeMonorailStation
            - typeSeaport
            - typeTransitStop
            - typeTransitTrip
            - typeTransitDeparture
            - typeTransitLeg
            - typeTransitLine
            - typeTransitAgencyDeprecatedValue
            - typeTransitTransfer
            - typeSegmentPath
            - typeRoadSign
            - typeIntersectionGroup
            - typePathway
            - typeRestrictionGroup
            - typeTollCluster
            - typePolitical
            - typeCountry
            - typeAdministrativeArea
            - typeAdministrativeArea1
            - typeUsState
            - typeGbCountry
            - typeJpTodoufuken
            - typeAdministrativeArea2
            - typeGbFormerPostalCounty
            - typeGbTraditionalCounty
            - typeAdministrativeArea3
            - typeAdministrativeArea4
            - typeAdministrativeArea5
            - typeAdministrativeArea6
            - typeAdministrativeArea7
            - typeAdministrativeArea8
            - typeAdministrativeArea9
            - typeColloquialArea
            - typeReservation
            - typeLocality
            - typeGbPostTown
            - typeJpGun
            - typeJpShikuchouson
            - typeJpSubShikuchouson
            - typeColloquialCity
            - typeSublocality
            - typeUsBorough
            - typeGbDependentLocality
            - typeJpOoaza
            - typeJpKoaza
            - typeJpGaiku
            - typeGbDoubleDependentLocality
            - typeJpChiban
            - typeJpEdaban
            - typeSublocality1
            - typeSublocality2
            - typeSublocality3
            - typeSublocality4
            - typeSublocality5
            - typeNeighborhood
            - typeConstituency
            - typeDesignatedMarketArea
            - typeSchoolDistrict
            - typeLandParcel
            - typeDisputedArea
            - typePoliceJurisdiction
            - typeStatisticalArea
            - typeConstituencyFuture
            - typePark
            - typeGolfCourse
            - typeLocalPark
            - typeNationalPark
            - typeUsNationalPark
            - typeUsNationalMonument
            - typeNationalForest
            - typeProvincialPark
            - typeProvincialForest
            - typeCampgrounds
            - typeHikingArea
            - typeBusiness
            - typeGovernment
            - typeBorderCrossing
            - typeCityHall
            - typeCourthouse
            - typeEmbassy
            - typeLibrary
            - typeSchool
            - typeUniversity
            - typeEmergency
            - typeHospital
            - typePharmacy
            - typePolice
            - typeFire
            - typeDoctor
            - typeDentist
            - typeVeterinarian
            - typeTravelService
            - typeLodging
            - typeRestaurant
            - typeGasStation
            - typeParking
            - typePostOffice
            - typeRestArea
            - typeCashMachine
            - typeCarRental
            - typeCarRepair
            - typeShopping
            - typeGrocery
            - typeTouristDestination
            - typeEcoTouristDestination
            - typeBirdWatching
            - typeFishing
            - typeHunting
            - typeNatureReserve
            - typeTemple
            - typeChurch
            - typeGurudwara
            - typeHinduTemple
            - typeMosque
            - typeSynagogue
            - typeStadium
            - typeBar
            - typeMovieRental
            - typeCoffee
            - typeGolf
            - typeBank
            - typeDoodle
            - typeGrounds
            - typeAirportGrounds
            - typeBuildingGrounds
            - typeCemetery
            - typeHospitalGrounds
            - typeIndustrial
            - typeMilitary
            - typeShoppingCenter
            - typeSportsComplex
            - typeUniversityGrounds
            - typeDeprecatedTarmac
            - typeEnclosedTrafficArea
            - typeParkingLot
            - typeParkingGarage
            - typeOffRoadArea
            - typeBorder
            - typeBuilding
            - typeGeocodedAddress
            - typeNaturalFeature
            - typeTerrain
            - typeSand
            - typeBeach
            - typeDune
            - typeRocky
            - typeIce
            - typeGlacier
            - typeBuiltUpArea
            - typeVegetation
            - typeShrubbery
            - typeWoods
            - typeAgricultural
            - typeGrassland
            - typeTundra
            - typeDesert
            - typeSaltFlat
            - typeWater
            - typeOcean
            - typeBay
            - typeBight
            - typeLagoon
            - typeSea
            - typeStrait
            - typeInlet
            - typeFjord
            - typeLake
            - typeSeasonalLake
            - typeReservoir
            - typePond
            - typeRiver
            - typeRapids
            - typeDistributary
            - typeConfluence
            - typeWaterfall
            - typeSpring
            - typeGeyser
            - typeHotSpring
            - typeSeasonalRiver
            - typeWadi
            - typeEstuary
            - typeWetland
            - typeWaterNavigation
            - typeFord
            - typeCanal
            - typeHarbor
            - typeChannel
            - typeReef
            - typeReefFlat
            - typeReefGrowth
            - typeReefExtent
            - typeReefRockSubmerged
            - typeIrrigation
            - typeDam
            - typeDrinkingWater
            - typeCurrent
            - typeWateringHole
            - typeTectonic
            - typeWateringHoleDeprecated
            - typeVolcano
            - typeLavaField
            - typeFissure
            - typeFault
            - typeLandMass
            - typeContinent
            - typeIsland
            - typeAtoll
            - typeOceanRockExposed
            - typeCay
            - typePeninsula
            - typeIsthmus
            - typeElevated
            - typePeak
            - typeNunatak
            - typeSpur
            - typePass
            - typePlateau
            - typeRidge
            - typeRavine
            - typeCrater
            - typeKarst
            - typeCliff
            - typeVista
            - typeDigitalElevationModel
            - typeUpland
            - typeTerrace
            - typeSlope
            - typeContourLine
            - typePan
            - typeUnstableHillside
            - typeMountainRange
            - typeUndersea
            - typeSubmarineSeamount
            - typeSubmarineRidge
            - typeSubmarineGap
            - typeSubmarinePlateau
            - typeSubmarineDeep
            - typeSubmarineValley
            - typeSubmarineBasin
            - typeSubmarineSlope
            - typeSubmarineCliff
            - typeSubmarinePlain
            - typeSubmarineFractureZone
            - typeCave
            - typeRock
            - typeArchipelago
            - typePostal
            - typePostalCode
            - typePostalCodePrefix
            - typePremise
            - typeSubPremise
            - typeSuite
            - typePostTown
            - typePostalRound
            - typeMetaFeature
            - typeDataSource
            - typeLocale
            - typeTimezone
            - typeBusinessChain
            - typePhoneNumberPrefix
            - typePhoneNumberAreaCode
            - typeBusinessCorridor
            - typeAddressTemplate
            - typeTransitAgency
            - typeFutureGeometry
            - typeEvent
            - typeEarthquake
            - typeHurricane
            - typeWeatherCondition
            - typeTransient
            - typeEntrance
            - typeCartographic
            - typeHighTension
            - typeSkiTrail
            - typeSkiLift
            - typeSkiBoundary
            - typeWatershedBoundary
            - typeTarmac
            - typeWall
            - typePicnicArea
            - typePlayGround
            - typeTrailHead
            - typeGolfTeeingGround
            - typeGolfPuttingGreen
            - typeGolfRough
            - typeGolfSandBunker
            - typeGolfFairway
            - typeGolfHole
            - typeDeprecatedGolfShop
            - typeCampingSite
            - typeDesignatedBarbecuePit
            - typeDesignatedCookingArea
            - typeCampfirePit
            - typeWaterFountain
            - typeLitterReceptacle
            - typeLockerArea
            - typeAnimalEnclosure
            - typeCartographicLine
            - typeEstablishment
            - typeEstablishmentGrounds
            - typeEstablishmentBuilding
            - typeEstablishmentPoi
            - typeEstablishmentService
            - typeCelestial
            - typeRoadMonitor
            - typePublicSpacesAndMonuments
            - typeStatue
            - typeTownSquare
            - typeLevel
            - typeCompound
            - typeCompoundGrounds
            - typeCompoundBuilding
            - typeCompoundSection
            - typeTerminalPoint
            - typeRegulatedArea
            - typeLogicalBorder
            - typeDoNotUseReservedToCatchGeneratedFiles
            - typeUnknown
          type: string
        positionPrecisionMeters:
          description: Precision of the center point (lat/long) of the geocoded FeatureProto
          format: double
          type: number
        queryString:
          description: The query sent to the geocoder
          type: string
      type: object
    GeographicDivision:
      description: Describes a political geography.
      properties:
        alsoKnownAs:
          description: Any other valid OCD IDs that refer to the same division.\n\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\n\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc.
          items:
            type: string
          type: array
        name:
          description: The name of the division.
          type: string
        officeIndices:
          description: List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request.
          items:
            format: uint32
            type: integer
          type: array
      type: object
    MessageSet:
      description: This is proto2's version of MessageSet.
      properties: {}
      type: object
    Office:
      description: Information about an Office held by one or more Officials.
      properties:
        divisionId:
          description: The OCD ID of the division with which this office is associated.
          type: string
        levels:
          description: The levels of government of which this office is part. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at "locality" level, but also effectively at both "administrative-area-2" and "administrative-area-1".
          items:
            enum:
              - international
              - country
              - administrativeArea1
              - regional
              - administrativeArea2
              - locality
              - subLocality1
              - subLocality2
              - special
            type: string
          type: array
        name:
          description: The human-readable name of the office.
          type: string
        officialIndices:
          description: List of indices in the officials array of people who presently hold this office.
          items:
            format: uint32
            type: integer
          type: array
        roles:
          description: The roles which this office fulfills. Roles are not meant to be exhaustive, or to exactly specify the entire set of responsibilities of a given office, but are meant to be rough categories that are useful for general selection from or sorting of a list of offices.
          items:
            enum:
              - headOfState
              - headOfGovernment
              - deputyHeadOfGovernment
              - governmentOfficer
              - executiveCouncil
              - legislatorUpperBody
              - legislatorLowerBody
              - highestCourtJudge
              - judge
              - schoolBoard
              - specialPurposeOfficer
              - otherRole
            type: string
          type: array
        sources:
          description: A list of sources for this office. If multiple sources are listed, the data has been aggregated from those sources.
          items:
            $ref: "#/components/schemas/Source"
          type: array
      type: object
    Official:
      description: Information about a person holding an elected office.
      properties:
        address:
          description: Addresses at which to contact the official.
          items:
            $ref: "#/components/schemas/SimpleAddressType"
          type: array
        channels:
          description: A list of known (social) media channels for this official.
          items:
            $ref: "#/components/schemas/Channel"
          type: array
        emails:
          description: The direct email addresses for the official.
          items:
            type: string
          type: array
        geocodingSummaries:
          description: Detailed summary about the official's address's geocoding
          items:
            $ref: "#/components/schemas/GeocodingSummary"
          type: array
        name:
          description: The official's name.
          type: string
        party:
          description: The full name of the party the official belongs to.
          type: string
        phones:
          description: The official's public contact phone numbers.
          items:
            type: string
          type: array
        photoUrl:
          description: A URL for a photo of the official.
          type: string
        urls:
          description: The official's public website URLs.
          items:
            type: string
          type: array
      type: object
    PollingLocation:
      description: A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot.
      properties:
        address:
          $ref: "#/components/schemas/SimpleAddressType"
          description: The address of the location.
        endDate:
          description: The last date that this early vote site or drop off location may be used. This field is not populated for polling locations.
          type: string
        latitude:
          description: Latitude of the location, in degrees north of the equator. Note this field may not be available for some locations.
          format: double
          type: number
        longitude:
          description: Longitude of the location, in degrees east of the Prime Meridian. Note this field may not be available for some locations.
          format: double
          type: number
        name:
          description: The name of the early vote site or drop off location. This field is not populated for polling locations.
          type: string
        notes:
          description: Notes about this location (e.g. accessibility ramp or entrance to use).
          type: string
        pollingHours:
          description: A description of when this location is open.
          type: string
        sources:
          description: A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources.
          items:
            $ref: "#/components/schemas/Source"
          type: array
        startDate:
          description: The first date that this early vote site or drop off location may be used. This field is not populated for polling locations.
          type: string
        voterServices:
          description: The services provided by this early vote site or drop off location. This field is not populated for polling locations.
          type: string
      type: object
    Precinct:
      properties:
        administrationRegionId:
          description: ID of the AdministrationRegion message for this precinct. Corresponds to LocalityId xml tag.
          type: string
        contestId:
          description: ID(s) of the Contest message(s) for this precinct.
          items:
            type: string
          type: array
        datasetId:
          description: Required. Dataset ID. What datasets our Precincts come from.
          format: int64
          type: string
        earlyVoteSiteId:
          description: ID(s) of the PollingLocation message(s) for this precinct.
          items:
            type: string
          type: array
        electoralDistrictId:
          description: ID(s) of the ElectoralDistrict message(s) for this precinct.
          items:
            type: string
          type: array
        id:
          description: Required. A unique identifier for this precinct.
          type: string
        mailOnly:
          description: Specifies if the precinct runs mail-only elections.
          type: boolean
        name:
          description: Required. The name of the precinct.
          type: string
        number:
          description: The number of the precinct.
          type: string
        ocdId:
          description: Encouraged. The OCD ID of the precinct
          items:
            type: string
          type: array
        pollingLocationId:
          description: ID(s) of the PollingLocation message(s) for this precinct.
          items:
            type: string
          type: array
        spatialBoundaryId:
          description: ID(s) of the SpatialBoundary message(s) for this precinct. Used to specify a geometrical boundary of the precinct.
          items:
            type: string
          type: array
        splitName:
          description: If present, this proto corresponds to one portion of split precinct. Other portions of this precinct are guaranteed to have the same `name`. If not present, this proto represents a full precicnt.
          type: string
        ward:
          description: Specifies the ward the precinct is contained within.
          type: string
      type: object
    RepresentativeInfoData:
      properties:
        divisions:
          additionalProperties:
            $ref: "#/components/schemas/GeographicDivision"
          description: A map of political geographic divisions that contain the requested address, keyed by the unique Open Civic Data identifier for this division.
          type: object
        offices:
          description: Elected offices referenced by the divisions listed above. Will only be present if includeOffices was true in the request.
          items:
            $ref: "#/components/schemas/Office"
          type: array
        officials:
          description: Officials holding the offices listed above. Will only be present if includeOffices was true in the request.
          items:
            $ref: "#/components/schemas/Official"
          type: array
      type: object
    RepresentativeInfoResponse:
      description: The result of a representative info lookup query.
      properties:
        divisions:
          additionalProperties:
            $ref: "#/components/schemas/GeographicDivision"
          description: A map of political geographic divisions that contain the requested address, keyed by the unique Open Civic Data identifier for this division.
          type: object
        kind:
          default: civicinfo#representativeInfoResponse
          description: 'Identifies what kind of resource this is. Value: the fixed string "civicinfo#representativeInfoResponse".'
          type: string
        normalizedInput:
          $ref: "#/components/schemas/SimpleAddressType"
          description: The normalized version of the requested address
        offices:
          description: Elected offices referenced by the divisions listed above. Will only be present if includeOffices was true in the request.
          items:
            $ref: "#/components/schemas/Office"
          type: array
        officials:
          description: Officials holding the offices listed above. Will only be present if includeOffices was true in the request.
          items:
            $ref: "#/components/schemas/Official"
          type: array
      type: object
    SimpleAddressType:
      description: A simple representation of an address.
      properties:
        city:
          description: The city or town for the address.
          type: string
        line1:
          description: The street name and number of this address.
          type: string
        line2:
          description: The second line the address, if needed.
          type: string
        line3:
          description: The third line of the address, if needed.
          type: string
        locationName:
          description: The name of the location.
          type: string
        state:
          description: The US two letter state abbreviation of the address.
          type: string
        zip:
          description: The US Postal Zip Code of the address.
          type: string
      type: object
    Source:
      description: Contains information about the data source for the element containing it.
      properties:
        name:
          description: The name of the data source.
          type: string
        official:
          description: Whether this data comes from an official government source.
          type: boolean
      type: object
    VoterInfoResponse:
      description: The result of a voter info lookup query.
      properties:
        contests:
          description: Contests that will appear on the voter's ballot.
          items:
            $ref: "#/components/schemas/Contest"
          type: array
        dropOffLocations:
          description: Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field.
          items:
            $ref: "#/components/schemas/PollingLocation"
          type: array
        earlyVoteSites:
          description: Locations where the voter is eligible to vote early, prior to election day.
          items:
            $ref: "#/components/schemas/PollingLocation"
          type: array
        election:
          $ref: "#/components/schemas/Election"
          description: The election that was queried.
        kind:
          default: civicinfo#voterInfoResponse
          description: 'Identifies what kind of resource this is. Value: the fixed string "civicinfo#voterInfoResponse".'
          type: string
        mailOnly:
          description: Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well).
          type: boolean
        normalizedInput:
          $ref: "#/components/schemas/SimpleAddressType"
          description: The normalized version of the requested address
        otherElections:
          description: "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user."
          items:
            $ref: "#/components/schemas/Election"
          type: array
        pollingLocations:
          description: Locations where the voter is eligible to vote on election day.
          items:
            $ref: "#/components/schemas/PollingLocation"
          type: array
        precinctId:
          type: string
        precincts:
          description: The precincts that match this voter's address. Will only be returned for project IDs which have been whitelisted as "partner projects".
          items:
            $ref: "#/components/schemas/Precinct"
          type: array
        state:
          description: Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array.
          items:
            $ref: "#/components/schemas/AdministrationRegion"
          type: array
      type: object
