swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2017-09-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/network/resource-manager/Microsoft.Network/2017-09-01/loadBalancer.json'
      version: '2.0'
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-loadBalancer
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/loadBalancers':
    get:
      description: Gets all the load balancers in a subscription.
      operationId: LoadBalancers_ListAll
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of LoadBalancer resources.
          schema:
            $ref: '#/definitions/LoadBalancerListResult'
      tags:
        - LoadBalancers
      x-ms-examples:
        List all load balancers:
          parameters:
            api-version: '2017-09-01'
            subscriptionId: subid
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb
                    location: westus
                    name: lb
                    properties:
                      backendAddressPools:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/belb
                          name: belb
                          properties:
                            loadBalancingRules:
                              - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                            provisioningState: Succeeded
                      frontendIPConfigurations:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/felb
                          name: felb
                          properties:
                            inboundNatRules:
                              - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/inrlb
                            loadBalancingRules:
                              - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                            privateIPAddress: 10.0.1.4
                            privateIPAllocationMethod: Dynamic
                            provisioningState: Succeeded
                            subnet:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb
                      inboundNatPools: []
                      inboundNatRules:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/inrlb
                          name: inrlb
                          properties:
                            backendPort: 3389
                            enableFloatingIP: true
                            frontendIPConfiguration:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/felb
                            frontendPort: 3389
                            idleTimeoutInMinutes: 15
                            protocol: Tcp
                            provisioningState: Succeeded
                      loadBalancingRules:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                          name: rulelb
                          properties:
                            backendAddressPool:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/belb
                            backendPort: 80
                            enableFloatingIP: true
                            frontendIPConfiguration:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/felb
                            frontendPort: 80
                            idleTimeoutInMinutes: 15
                            loadDistribution: Default
                            probe:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/prlb
                            protocol: Tcp
                            provisioningState: Succeeded
                      outboundNatRules: []
                      probes:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/prlb
                          name: prlb
                          properties:
                            intervalInSeconds: 15
                            loadBalancingRules:
                              - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                            numberOfProbes: 2
                            port: 80
                            protocol: Http
                            provisioningState: Succeeded
                            requestPath: healthcheck.aspx
                      provisioningState: Succeeded
                    type: Microsoft.Network/loadBalancers
                  - id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/loadBalancers/lb3
                    location: westus
                    name: lb3
                    properties:
                      backendAddressPools: []
                      frontendIPConfigurations: []
                      inboundNatPools: []
                      inboundNatRules: []
                      loadBalancingRules: []
                      outboundNatRules: []
                      probes: []
                      provisioningState: Succeeded
                    type: Microsoft.Network/loadBalancers
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers':
    get:
      description: Gets all the load balancers in a resource group.
      operationId: LoadBalancers_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of LoadBalancer resources.
          schema:
            $ref: '#/definitions/LoadBalancerListResult'
      tags:
        - LoadBalancers
      x-ms-examples:
        List load balancers in resource group:
          parameters:
            api-version: '2017-09-01'
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb
                    location: westus
                    name: lb
                    properties:
                      backendAddressPools:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/belb
                          name: belb
                          properties:
                            loadBalancingRules:
                              - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                            provisioningState: Succeeded
                      frontendIPConfigurations:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/felb
                          name: felb
                          properties:
                            inboundNatRules:
                              - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/inrlb
                            loadBalancingRules:
                              - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                            privateIPAddress: 10.0.1.4
                            privateIPAllocationMethod: Dynamic
                            provisioningState: Succeeded
                            subnet:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb
                      inboundNatPools: []
                      inboundNatRules:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/inrlb
                          name: inrlb
                          properties:
                            backendPort: 3389
                            enableFloatingIP: true
                            frontendIPConfiguration:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/felb
                            frontendPort: 3389
                            idleTimeoutInMinutes: 15
                            protocol: Tcp
                            provisioningState: Succeeded
                      loadBalancingRules:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                          name: rulelb
                          properties:
                            backendAddressPool:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/belb
                            backendPort: 80
                            enableFloatingIP: true
                            frontendIPConfiguration:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/felb
                            frontendPort: 80
                            idleTimeoutInMinutes: 15
                            loadDistribution: Default
                            probe:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/prlb
                            protocol: Tcp
                            provisioningState: Succeeded
                      outboundNatRules: []
                      probes:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/prlb
                          name: prlb
                          properties:
                            intervalInSeconds: 15
                            loadBalancingRules:
                              - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                            numberOfProbes: 2
                            port: 80
                            protocol: Http
                            provisioningState: Succeeded
                            requestPath: healthcheck.aspx
                      provisioningState: Succeeded
                    type: Microsoft.Network/loadBalancers
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb2
                    location: westus
                    name: lb2
                    properties:
                      backendAddressPools: []
                      frontendIPConfigurations: []
                      inboundNatPools: []
                      inboundNatRules: []
                      loadBalancingRules: []
                      outboundNatRules: []
                      probes: []
                      provisioningState: Succeeded
                    type: Microsoft.Network/loadBalancers
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}':
    delete:
      description: Deletes the specified load balancer.
      operationId: LoadBalancers_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the load balancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
      tags:
        - LoadBalancers
      x-ms-examples:
        Delete load balancer:
          parameters:
            api-version: '2017-09-01'
            loadBalancerName: lb
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200': {}
            '202': {}
            '204': {}
      x-ms-long-running-operation: true
    get:
      description: Gets the specified load balancer.
      operationId: LoadBalancers_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the load balancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting LoadBalancer resource.
          schema:
            $ref: '#/definitions/LoadBalancer'
      tags:
        - LoadBalancers
      x-ms-examples:
        Get load balancer:
          parameters:
            api-version: '2017-09-01'
            loadBalancerName: lb
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb
                location: westus
                name: lb
                properties:
                  backendAddressPools:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb
                      name: be-lb
                      properties:
                        loadBalancingRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                        provisioningState: Succeeded
                  frontendIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb
                      name: fe-lb
                      properties:
                        inboundNatRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule
                        loadBalancingRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                        privateIPAddress: 10.0.1.4
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb
                  inboundNatPools: []
                  inboundNatRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule
                      name: in-nat-rule
                      properties:
                        backendPort: 3389
                        enableFloatingIP: true
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb
                        frontendPort: 3389
                        idleTimeoutInMinutes: 15
                        protocol: Tcp
                        provisioningState: Succeeded
                  loadBalancingRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                      name: rulelb
                      properties:
                        backendAddressPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb
                        backendPort: 80
                        disableOutboundSnat: false
                        enableFloatingIP: true
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb
                        frontendPort: 80
                        idleTimeoutInMinutes: 15
                        loadDistribution: Default
                        probe:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb
                        protocol: Tcp
                        provisioningState: Succeeded
                  outboundNatRules: []
                  probes:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb
                      name: probe-lb
                      properties:
                        intervalInSeconds: 15
                        loadBalancingRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                        numberOfProbes: 2
                        port: 80
                        protocol: Http
                        provisioningState: Succeeded
                        requestPath: healthcheck.aspx
                  provisioningState: Succeeded
                sku:
                  name: Basic
                type: Microsoft.Network/loadBalancers
    patch:
      description: Updates a load balancer tags.
      operationId: LoadBalancers_UpdateTags
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the load balancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - description: Parameters supplied to update load balancer tags.
          in: body
          name: parameters
          required: true
          schema:
            description: Tags object for patch operations.
            properties:
              tags:
                additionalProperties:
                  type: string
                description: Resource tags.
                type: object
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting LoadBalancer resource.
          schema:
            $ref: '#/definitions/LoadBalancer'
      tags:
        - LoadBalancers
      x-ms-examples:
        Update load balancer tags:
          parameters:
            api-version: '2017-09-01'
            loadBalancerName: lb
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb
                location: westus
                name: lb
                properties:
                  backendAddressPools:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb
                      name: be-lb
                      properties:
                        loadBalancingRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                        provisioningState: Succeeded
                  frontendIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb
                      name: fe-lb
                      properties:
                        inboundNatRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule
                        loadBalancingRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                        privateIPAddress: 10.0.1.4
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb
                  inboundNatPools: []
                  inboundNatRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule
                      name: in-nat-rule
                      properties:
                        backendPort: 3389
                        enableFloatingIP: true
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb
                        frontendPort: 3389
                        idleTimeoutInMinutes: 15
                        protocol: Tcp
                        provisioningState: Succeeded
                  loadBalancingRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                      name: rulelb
                      properties:
                        backendAddressPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb
                        backendPort: 80
                        disableOutboundSnat: false
                        enableFloatingIP: true
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb
                        frontendPort: 80
                        idleTimeoutInMinutes: 15
                        loadDistribution: Default
                        probe:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb
                        protocol: Tcp
                        provisioningState: Succeeded
                  outboundNatRules: []
                  probes:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb
                      name: probe-lb
                      properties:
                        intervalInSeconds: 15
                        loadBalancingRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                        numberOfProbes: 2
                        port: 80
                        protocol: Http
                        provisioningState: Succeeded
                        requestPath: healthcheck.aspx
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/loadBalancers
      x-ms-long-running-operation: true
    put:
      description: Creates or updates a load balancer.
      operationId: LoadBalancers_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the load balancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - description: Parameters supplied to the create or update load balancer operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/LoadBalancer'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting LoadBalancer resource.
          schema:
            $ref: '#/definitions/LoadBalancer'
        '201':
          description: Create successful. The operation returns the resulting LoadBalancer resource.
          schema:
            $ref: '#/definitions/LoadBalancer'
      tags:
        - LoadBalancers
      x-ms-examples:
        Create load balancer:
          parameters:
            api-version: '2017-09-01'
            loadBalancerName: lb
            parameters:
              properties:
                backendAddressPools:
                  - name: be-lb
                    properties:
                      loadBalancingRules:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                frontendIPConfigurations:
                  - name: fe-lb
                    properties:
                      inboundNatRules:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule
                      loadBalancingRules:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb
                inboundNatPools: []
                inboundNatRules:
                  - name: in-nat-rule
                    properties:
                      backendPort: 3389
                      enableFloatingIP: true
                      frontendIPConfiguration:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb
                      frontendPort: 3389
                      idleTimeoutInMinutes: 15
                      protocol: Tcp
                loadBalancingRules:
                  - name: rulelb
                    properties:
                      backendAddressPool:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb
                      backendPort: 80
                      enableFloatingIP: true
                      frontendIPConfiguration:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb
                      frontendPort: 80
                      idleTimeoutInMinutes: 15
                      loadDistribution: Default
                      probe:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb
                      protocol: Tcp
                outboundNatRules: []
                probes:
                  - name: probe-lb
                    properties:
                      intervalInSeconds: 15
                      loadBalancingRules:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                      numberOfProbes: 2
                      port: 80
                      protocol: Http
                      requestPath: healthcheck.aspx
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb
                location: westus
                name: lb
                properties:
                  backendAddressPools:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb
                      name: be-lb
                      properties:
                        loadBalancingRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                        provisioningState: Succeeded
                  frontendIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb
                      name: fe-lb
                      properties:
                        inboundNatRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule
                        loadBalancingRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                        privateIPAddress: 10.0.1.4
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb
                  inboundNatPools: []
                  inboundNatRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule
                      name: in-nat-rule
                      properties:
                        backendPort: 3389
                        enableFloatingIP: true
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb
                        frontendPort: 3389
                        idleTimeoutInMinutes: 15
                        protocol: Tcp
                        provisioningState: Succeeded
                  loadBalancingRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                      name: rulelb
                      properties:
                        backendAddressPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb
                        backendPort: 80
                        disableOutboundSnat: false
                        enableFloatingIP: true
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb
                        frontendPort: 80
                        idleTimeoutInMinutes: 15
                        loadDistribution: Default
                        probe:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb
                        protocol: Tcp
                        provisioningState: Succeeded
                  outboundNatRules: []
                  probes:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb
                      name: probe-lb
                      properties:
                        intervalInSeconds: 15
                        loadBalancingRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                        numberOfProbes: 2
                        port: 80
                        protocol: Http
                        provisioningState: Succeeded
                        requestPath: healthcheck.aspx
                  provisioningState: Succeeded
                sku:
                  name: Basic
                type: Microsoft.Network/loadBalancers
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb
                location: westus
                name: lb
                properties:
                  backendAddressPools:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb
                      name: be-lb
                      properties:
                        loadBalancingRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                        provisioningState: Succeeded
                  frontendIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb
                      name: fe-lb
                      properties:
                        inboundNatRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule
                        loadBalancingRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                        privateIPAddress: 10.0.1.4
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb
                  inboundNatPools: []
                  inboundNatRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule
                      name: in-nat-rule
                      properties:
                        backendPort: 3389
                        enableFloatingIP: true
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb
                        frontendPort: 3389
                        idleTimeoutInMinutes: 15
                        protocol: Tcp
                        provisioningState: Succeeded
                  loadBalancingRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                      name: rulelb
                      properties:
                        backendAddressPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb
                        backendPort: 80
                        disableOutboundSnat: false
                        enableFloatingIP: true
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb
                        frontendPort: 80
                        idleTimeoutInMinutes: 15
                        loadDistribution: Default
                        probe:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb
                        protocol: Tcp
                        provisioningState: Succeeded
                  outboundNatRules: []
                  probes:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb
                      name: probe-lb
                      properties:
                        intervalInSeconds: 15
                        loadBalancingRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                        numberOfProbes: 2
                        port: 80
                        protocol: Http
                        provisioningState: Succeeded
                        requestPath: healthcheck.aspx
                  provisioningState: Succeeded
                sku:
                  name: Basic
                type: Microsoft.Network/loadBalancers
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/backendAddressPools':
    get:
      description: Gets all the load balancer backed address pools.
      operationId: LoadBalancerBackendAddressPools_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the load balancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of LoadBalancer BackendAddressPool resources.
          schema:
            $ref: '#/definitions/LoadBalancerBackendAddressPoolListResult'
      tags:
        - LoadBalancers
      x-ms-examples:
        LoadBalancerBackendAddressPoolList:
          parameters:
            api-version: '2017-09-01'
            loadBalancerName: lb
            resourceGroupName: testrg
            subscriptionId: subid
          responses:
            '200':
              body:
                value:
                  - etag: W/\"00000000-0000-0000-0000-000000000000\"
                    id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/backend
                    name: backend
                    properties:
                      backendIPConfigurations:
                        - id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/networkInterfaces/nic/ipConfigurations/default-ip-config
                      loadBalancingRules:
                        - id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                      provisioningState: Succeeded
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/backendAddressPools/{backendAddressPoolName}':
    get:
      description: Gets load balancer backend address pool.
      operationId: LoadBalancerBackendAddressPools_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the load balancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - description: The name of the backend address pool.
          in: path
          name: backendAddressPoolName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns LoadBalancer BackendAddressPool resource.
          schema:
            $ref: '#/definitions/BackendAddressPool'
      tags:
        - LoadBalancers
      x-ms-examples:
        LoadBalancerBackendAddressPoolGet:
          parameters:
            api-version: '2017-09-01'
            backendAddressPoolName: backend
            loadBalancerName: lb
            resourceGroupName: testrg
            subscriptionId: subid
          responses:
            '200':
              body:
                etag: W/\"00000000-0000-0000-0000-000000000000\"
                id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/backend
                name: backend
                properties:
                  backendIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/networkInterfaces/nic/ipConfigurations/default-ip-config
                  loadBalancingRules:
                    - id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                  provisioningState: Succeeded
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/frontendIPConfigurations':
    get:
      description: Gets all the load balancer frontend IP configurations.
      operationId: LoadBalancerFrontendIPConfigurations_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the load balancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of LoadBalancer FrontendIPConfiguration resources.
          schema:
            $ref: '#/definitions/LoadBalancerFrontendIPConfigurationListResult'
      tags:
        - LoadBalancers
      x-ms-examples:
        LoadBalancerFrontendIPConfigurationList:
          parameters:
            api-version: '2017-09-01'
            loadBalancerName: lb
            resourceGroupName: testrg
            subscriptionId: subid
          responses:
            '200':
              body:
                value:
                  - etag: W/\"00000000-0000-0000-0000-000000000000\"
                    id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/frontend
                    name: frontend
                    properties:
                      inboundNatRules:
                        - id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/inrlb
                      loadBalancingRules:
                        - id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                      privateIPAddress: 10.0.1.4
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      subnet:
                        id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/frontendIPConfigurations/{frontendIPConfigurationName}':
    get:
      description: Gets load balancer frontend IP configuration.
      operationId: LoadBalancerFrontendIPConfigurations_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the load balancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - description: The name of the frontend IP configuration.
          in: path
          name: frontendIPConfigurationName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns LoadBalancer FrontendIPConfiguration resource.
          schema:
            $ref: '#/definitions/FrontendIPConfiguration'
      tags:
        - LoadBalancers
      x-ms-examples:
        LoadBalancerFrontendIPConfigurationGet:
          parameters:
            api-version: '2017-09-01'
            frontendIPConfigurationName: frontend
            loadBalancerName: lb
            resourceGroupName: testrg
            subscriptionId: subid
          responses:
            '200':
              body:
                etag: W/\"00000000-0000-0000-0000-000000000000\"
                id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/frontend
                name: frontend
                properties:
                  inboundNatRules:
                    - id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/inrlb
                  loadBalancingRules:
                    - id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb
                  privateIPAddress: 10.0.1.4
                  privateIPAllocationMethod: Dynamic
                  provisioningState: Succeeded
                  subnet:
                    id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/inboundNatRules':
    get:
      description: Gets all the inbound nat rules in a load balancer.
      operationId: InboundNatRules_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the load balancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of LoadBalancer InboundNatRule resources.
          schema:
            $ref: '#/definitions/InboundNatRuleListResult'
      tags:
        - LoadBalancers
      x-ms-examples:
        InboundNatRuleList:
          parameters:
            api-version: '2017-09-01'
            loadBalancerName: lb1
            resourceGroupName: testrg
            subscriptionId: subid
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/natRule1.1
                    name: natRule1.1
                    properties:
                      backendIPConfiguration:
                        id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1
                      backendPort: 3389
                      enableFloatingIP: false
                      frontendIPConfiguration:
                        id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/ip1
                      frontendPort: 3390
                      idleTimeoutInMinutes: 4
                      protocol: Tcp
                      provisioningState: Succeeded
                  - id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/natRule1.3
                    name: natRule1.3
                    properties:
                      backendIPConfiguration:
                        id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/3/networkInterfaces/nic1/ipConfigurations/ip1
                      backendPort: 3389
                      enableFloatingIP: false
                      frontendIPConfiguration:
                        id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/ip1
                      frontendPort: 3392
                      idleTimeoutInMinutes: 4
                      protocol: Tcp
                      provisioningState: Succeeded
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/inboundNatRules/{inboundNatRuleName}':
    delete:
      description: Deletes the specified load balancer inbound nat rule.
      operationId: InboundNatRules_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the load balancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - description: The name of the inbound nat rule.
          in: path
          name: inboundNatRuleName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
      tags:
        - LoadBalancers
      x-ms-examples:
        InboundNatRuleDelete:
          parameters:
            api-version: '2017-09-01'
            inboundNatRuleName: natRule1.1
            loadBalancerName: lb1
            resourceGroupName: testrg
            subscriptionId: subid
          responses:
            '200': {}
            '202': {}
            '204': {}
      x-ms-long-running-operation: true
    get:
      description: Gets the specified load balancer inbound nat rule.
      operationId: InboundNatRules_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the load balancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - description: The name of the inbound nat rule.
          in: path
          name: inboundNatRuleName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting InboundNatRule resource.
          schema:
            $ref: '#/definitions/InboundNatRule'
      tags:
        - LoadBalancers
      x-ms-examples:
        InboundNatRuleGet:
          parameters:
            api-version: '2017-09-01'
            inboundNatRuleName: natRule1.1
            loadBalancerName: lb1
            resourceGroupName: testrg
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/natRule1.1
                name: natRule1.1
                properties:
                  backendIPConfiguration:
                    id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1
                  backendPort: 3389
                  enableFloatingIP: false
                  frontendIPConfiguration:
                    id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/ip1
                  frontendPort: 3390
                  idleTimeoutInMinutes: 4
                  protocol: Tcp
                  provisioningState: Succeeded
    put:
      description: Creates or updates a load balancer inbound nat rule.
      operationId: InboundNatRules_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the load balancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - description: The name of the inbound nat rule.
          in: path
          name: inboundNatRuleName
          required: true
          type: string
        - description: Parameters supplied to the create or update inbound nat rule operation.
          in: body
          name: inboundNatRuleParameters
          required: true
          schema:
            $ref: '#/definitions/InboundNatRule'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting InboundNatRule resource.
          schema:
            $ref: '#/definitions/InboundNatRule'
        '201':
          description: Create successful. The operation returns the resulting InboundNatRule resource.
          schema:
            $ref: '#/definitions/InboundNatRule'
      tags:
        - LoadBalancers
      x-ms-examples:
        InboundNatRuleCreate:
          parameters:
            api-version: '2017-09-01'
            inboundNatRuleName: natRule1.1
            inboundNatRuleParameters:
              properties:
                backendPort: 3389
                enableFloatingIP: false
                frontendIPConfiguration:
                  id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/ip1
                frontendPort: 3390
                idleTimeoutInMinutes: 4
                protocol: Tcp
            loadBalancerName: lb1
            resourceGroupName: testrg
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/natRule1.1
                name: natRule1.1
                properties:
                  backendIPConfiguration:
                    id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1
                  backendPort: 3389
                  enableFloatingIP: false
                  frontendIPConfiguration:
                    id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/ip1
                  frontendPort: 3390
                  idleTimeoutInMinutes: 4
                  protocol: Tcp
                  provisioningState: Succeeded
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/natRule1.1
                name: natRule1.1
                properties:
                  backendIPConfiguration:
                    id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1
                  backendPort: 3389
                  enableFloatingIP: false
                  frontendIPConfiguration:
                    id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/ip1
                  frontendPort: 3390
                  idleTimeoutInMinutes: 4
                  protocol: Tcp
                  provisioningState: Succeeded
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/loadBalancingRules':
    get:
      description: Gets all the load balancing rules in a load balancer.
      operationId: LoadBalancerLoadBalancingRules_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the load balancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of LoadBalancer LoadBalancingRule resources.
          schema:
            $ref: '#/definitions/LoadBalancerLoadBalancingRuleListResult'
      tags:
        - LoadBalancers
      x-ms-examples:
        LoadBalancerLoadBalancingRuleList:
          parameters:
            api-version: '2017-09-01'
            loadBalancerName: lb1
            resourceGroupName: testrg
            subscriptionId: subid
          responses:
            '200':
              body:
                value:
                  - etag: W/\"00000000-0000-0000-0000-000000000000\"
                    id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb1/loadBalancingRules/rule1
                    name: rule1
                    properties:
                      backendAddressPool:
                        id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/bepool1
                      backendPort: 80
                      enableFloatingIP: false
                      frontendIPConfiguration:
                        id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/lbfrontend
                      frontendPort: 80
                      idleTimeoutInMinutes: 15
                      loadDistribution: Default
                      probe:
                        id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb1/probes/probe1
                      protocol: Tcp
                      provisioningState: Succeeded
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/loadBalancingRules/{loadBalancingRuleName}':
    get:
      description: Gets the specified load balancer load balancing rule.
      operationId: LoadBalancerLoadBalancingRules_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the load balancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - description: The name of the load balancing rule.
          in: path
          name: loadBalancingRuleName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns the resulting LoadBalancingRule resource.
          schema:
            $ref: '#/definitions/LoadBalancingRule'
      tags:
        - LoadBalancers
      x-ms-examples:
        LoadBalancerLoadBalancingRuleGet:
          parameters:
            api-version: '2017-09-01'
            loadBalancerName: lb1
            loadBalancingRuleName: rule1
            resourceGroupName: testrg
            subscriptionId: subid
          responses:
            '200':
              body:
                etag: W/\"00000000-0000-0000-0000-000000000000\"
                id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb1/loadBalancingRules/rule1
                name: rule1
                properties:
                  backendAddressPool:
                    id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/bepool1
                  backendPort: 80
                  enableFloatingIP: false
                  frontendIPConfiguration:
                    id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/lbfrontend
                  frontendPort: 80
                  idleTimeoutInMinutes: 15
                  loadDistribution: Default
                  probe:
                    id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb1/probes/probe1
                  protocol: Tcp
                  provisioningState: Succeeded
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/networkInterfaces':
    get:
      description: Gets associated load balancer network interfaces.
      operationId: LoadBalancerNetworkInterfaces_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the load balancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of NetworkInterface resources.
          schema:
            description: Response for the ListNetworkInterface API service call.
            properties:
              nextLink:
                description: The URL to get the next set of results.
                readOnly: true
                type: string
              value:
                description: A list of network interfaces in a resource group.
                items:
                  allOf:
                    - description: Common resource representation.
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                        location:
                          description: Resource location.
                          type: string
                        name:
                          description: Resource name.
                          readOnly: true
                          type: string
                        tags:
                          additionalProperties:
                            type: string
                          description: Resource tags.
                          type: object
                        type:
                          description: Resource type.
                          readOnly: true
                          type: string
                      x-ms-azure-resource: true
                  description: A network interface in a resource group.
                  properties:
                    etag:
                      description: A unique read-only string that changes whenever the resource is updated.
                      type: string
                    properties:
                      description: 'NetworkInterface properties. '
                      properties:
                        dnsSettings:
                          description: DNS settings of a network interface.
                          properties:
                            appliedDnsServers:
                              description: 'If the VM that uses this NIC is part of an Availability Set, then this list will have the union of all DNS servers from all NICs that are part of the Availability Set. This property is what is configured on each of those VMs.'
                              items:
                                type: string
                              type: array
                            dnsServers:
                              description: 'List of DNS servers IP addresses. Use ''AzureProvidedDNS'' to switch to azure provided DNS resolution. ''AzureProvidedDNS'' value cannot be combined with other IPs, it must be the only value in dnsServers collection.'
                              items:
                                type: string
                              type: array
                            internalDnsNameLabel:
                              description: Relative DNS name for this NIC used for internal communications between VMs in the same virtual network.
                              type: string
                            internalDomainNameSuffix:
                              description: 'Even if internalDnsNameLabel is not specified, a DNS entry is created for the primary NIC of the VM. This DNS name can be constructed by concatenating the VM name with the value of internalDomainNameSuffix.'
                              type: string
                            internalFqdn:
                              description: Fully qualified DNS name supporting internal communications between VMs in the same virtual network.
                              type: string
                        enableAcceleratedNetworking:
                          description: If the network interface is accelerated networking enabled.
                          type: boolean
                        enableIPForwarding:
                          description: Indicates whether IP forwarding is enabled on this network interface.
                          type: boolean
                        ipConfigurations:
                          description: A list of IPConfigurations of the network interface.
                          items:
                            allOf:
                              - description: Reference to another subresource.
                                properties:
                                  id:
                                    description: Resource ID.
                                    type: string
                                x-ms-azure-resource: true
                            description: IPConfiguration in a network interface.
                            properties:
                              etag:
                                description: A unique read-only string that changes whenever the resource is updated.
                                type: string
                              name:
                                description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                                type: string
                              properties:
                                description: Properties of IP configuration.
                                properties:
                                  applicationGatewayBackendAddressPools:
                                    description: The reference of ApplicationGatewayBackendAddressPool resource.
                                    items:
                                      allOf:
                                        - description: Reference to another subresource.
                                          properties:
                                            id:
                                              description: Resource ID.
                                              type: string
                                          x-ms-azure-resource: true
                                      description: Backend Address Pool of an application gateway.
                                      properties:
                                        etag:
                                          description: A unique read-only string that changes whenever the resource is updated.
                                          type: string
                                        name:
                                          description: Resource that is unique within a resource group. This name can be used to access the resource.
                                          type: string
                                        properties:
                                          description: Properties of Backend Address Pool of an application gateway.
                                          properties:
                                            backendAddresses:
                                              description: Backend addresses
                                              items:
                                                description: Backend address of an application gateway.
                                                properties:
                                                  fqdn:
                                                    description: Fully qualified domain name (FQDN).
                                                    type: string
                                                  ipAddress:
                                                    description: IP address
                                                    type: string
                                              type: array
                                            backendIPConfigurations:
                                              description: Collection of references to IPs defined in network interfaces.
                                              items: {}
                                              type: array
                                            provisioningState:
                                              description: 'Provisioning state of the backend address pool resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                                              type: string
                                        type:
                                          description: Type of the resource.
                                          type: string
                                    type: array
                                  applicationSecurityGroups:
                                    description: Application security groups in which the IP configuration is included.
                                    items:
                                      allOf:
                                        - description: Common resource representation.
                                          properties:
                                            id:
                                              description: Resource ID.
                                              type: string
                                            location:
                                              description: Resource location.
                                              type: string
                                            name:
                                              description: Resource name.
                                              readOnly: true
                                              type: string
                                            tags:
                                              additionalProperties:
                                                type: string
                                              description: Resource tags.
                                              type: object
                                            type:
                                              description: Resource type.
                                              readOnly: true
                                              type: string
                                          x-ms-azure-resource: true
                                      description: An application security group in a resource group.
                                      properties:
                                        etag:
                                          description: A unique read-only string that changes whenever the resource is updated.
                                          readOnly: true
                                          type: string
                                        properties:
                                          description: Application security group properties.
                                          properties:
                                            provisioningState:
                                              description: 'The provisioning state of the application security group resource. Possible values are: ''Succeeded'', ''Updating'', ''Deleting'', and ''Failed''.'
                                              readOnly: true
                                              type: string
                                            resourceGuid:
                                              description: 'The resource GUID property of the application security group resource. It uniquely identifies a resource, even if the user changes its name or migrate the resource across subscriptions or resource groups.'
                                              readOnly: true
                                              type: string
                                    type: array
                                  loadBalancerBackendAddressPools:
                                    description: The reference of LoadBalancerBackendAddressPool resource.
                                    items:
                                      allOf:
                                        - description: Reference to another subresource.
                                          properties:
                                            id:
                                              description: Resource ID.
                                              type: string
                                          x-ms-azure-resource: true
                                      description: Pool of backend IP addresses.
                                      properties:
                                        etag:
                                          description: A unique read-only string that changes whenever the resource is updated.
                                          type: string
                                        name:
                                          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource.
                                          type: string
                                        properties:
                                          description: Properties of the backend address pool.
                                          properties:
                                            backendIPConfigurations:
                                              description: Gets collection of references to IP addresses defined in network interfaces.
                                              items: {}
                                              readOnly: true
                                              type: array
                                            loadBalancingRules:
                                              description: Gets load balancing rules that use this backend address pool.
                                              items:
                                                description: Reference to another subresource.
                                                properties:
                                                  id:
                                                    description: Resource ID.
                                                    type: string
                                                x-ms-azure-resource: true
                                              readOnly: true
                                              type: array
                                            outboundNatRule:
                                              description: Reference to another subresource.
                                              properties:
                                                id:
                                                  description: Resource ID.
                                                  type: string
                                              x-ms-azure-resource: true
                                            provisioningState:
                                              description: 'Get provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                                              type: string
                                    type: array
                                  loadBalancerInboundNatRules:
                                    description: A list of references of LoadBalancerInboundNatRules.
                                    items:
                                      allOf:
                                        - description: Reference to another subresource.
                                          properties:
                                            id:
                                              description: Resource ID.
                                              type: string
                                          x-ms-azure-resource: true
                                      description: Inbound NAT rule of the load balancer.
                                      properties:
                                        etag:
                                          description: A unique read-only string that changes whenever the resource is updated.
                                          type: string
                                        name:
                                          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource.
                                          type: string
                                        properties:
                                          description: Properties of the inbound NAT rule.
                                          properties:
                                            backendIPConfiguration: {}
                                            backendPort:
                                              description: The port used for the internal endpoint. Acceptable values range from 1 to 65535.
                                              format: int32
                                              type: integer
                                            enableFloatingIP:
                                              description: Configures a virtual machine's endpoint for the floating IP capability required to configure a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn Availability Groups in SQL server. This setting can't be changed after you create the endpoint.
                                              type: boolean
                                            frontendIPConfiguration:
                                              description: Reference to another subresource.
                                              properties:
                                                id:
                                                  description: Resource ID.
                                                  type: string
                                              x-ms-azure-resource: true
                                            frontendPort:
                                              description: The port for the external endpoint. Port numbers for each rule must be unique within the Load Balancer. Acceptable values range from 1 to 65534.
                                              format: int32
                                              type: integer
                                            idleTimeoutInMinutes:
                                              description: The timeout for the TCP idle connection. The value can be set between 4 and 30 minutes. The default value is 4 minutes. This element is only used when the protocol is set to TCP.
                                              format: int32
                                              type: integer
                                            protocol:
                                              description: The transport protocol for the endpoint. Possible values are 'Udp' or 'Tcp' or 'All.'
                                              enum:
                                                - Udp
                                                - Tcp
                                                - All
                                              type: string
                                              x-ms-enum:
                                                modelAsString: true
                                                name: TransportProtocol
                                            provisioningState:
                                              description: 'Gets the provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                                              type: string
                                    type: array
                                  primary:
                                    description: Gets whether this is a primary customer address on the network interface.
                                    type: boolean
                                  privateIPAddress:
                                    description: Private IP address of the IP configuration.
                                    type: string
                                  privateIPAddressVersion:
                                    description: 'Available from Api-Version 2016-03-30 onwards, it represents whether the specific ipconfiguration is IPv4 or IPv6. Default is taken as IPv4.  Possible values are: ''IPv4'' and ''IPv6''.'
                                    enum:
                                      - IPv4
                                      - IPv6
                                    type: string
                                    x-ms-enum:
                                      modelAsString: true
                                      name: IPVersion
                                  privateIPAllocationMethod:
                                    description: 'Defines how a private IP address is assigned. Possible values are: ''Static'' and ''Dynamic''.'
                                    enum:
                                      - Static
                                      - Dynamic
                                    type: string
                                    x-ms-enum:
                                      modelAsString: true
                                      name: IPAllocationMethod
                                  provisioningState:
                                    description: 'The provisioning state of the network interface IP configuration. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                                    type: string
                                  publicIPAddress:
                                    allOf:
                                      - description: Common resource representation.
                                        properties:
                                          id:
                                            description: Resource ID.
                                            type: string
                                          location:
                                            description: Resource location.
                                            type: string
                                          name:
                                            description: Resource name.
                                            readOnly: true
                                            type: string
                                          tags:
                                            additionalProperties:
                                              type: string
                                            description: Resource tags.
                                            type: object
                                          type:
                                            description: Resource type.
                                            readOnly: true
                                            type: string
                                        x-ms-azure-resource: true
                                    description: Public IP address resource.
                                    properties:
                                      etag:
                                        description: A unique read-only string that changes whenever the resource is updated.
                                        type: string
                                      properties:
                                        description: Public IP address properties.
                                        properties:
                                          dnsSettings:
                                            description: Contains FQDN of the DNS record associated with the public IP address
                                            properties:
                                              domainNameLabel:
                                                description: 'Gets or sets the Domain name label.The concatenation of the domain name label and the regionalized DNS zone make up the fully qualified domain name associated with the public IP address. If a domain name label is specified, an A DNS record is created for the public IP in the Microsoft Azure DNS system.'
                                                type: string
                                              fqdn:
                                                description: 'Gets the FQDN, Fully qualified domain name of the A DNS record associated with the public IP. This is the concatenation of the domainNameLabel and the regionalized DNS zone.'
                                                type: string
                                              reverseFqdn:
                                                description: 'Gets or Sets the Reverse FQDN. A user-visible, fully qualified domain name that resolves to this public IP address. If the reverseFqdn is specified, then a PTR DNS record is created pointing from the IP address in the in-addr.arpa domain to the reverse FQDN. '
                                                type: string
                                          idleTimeoutInMinutes:
                                            description: The idle timeout of the public IP address.
                                            format: int32
                                            type: integer
                                          ipAddress:
                                            description: The IP address associated with the public IP address resource.
                                            type: string
                                          ipConfiguration: {}
                                          provisioningState:
                                            description: 'The provisioning state of the PublicIP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                                            type: string
                                          publicIPAddressVersion:
                                            description: 'The public IP address version. Possible values are: ''IPv4'' and ''IPv6''.'
                                            enum:
                                              - IPv4
                                              - IPv6
                                            type: string
                                            x-ms-enum:
                                              modelAsString: true
                                              name: IPVersion
                                          publicIPAllocationMethod:
                                            description: 'The public IP allocation method. Possible values are: ''Static'' and ''Dynamic''.'
                                            enum:
                                              - Static
                                              - Dynamic
                                            type: string
                                            x-ms-enum:
                                              modelAsString: true
                                              name: IPAllocationMethod
                                          resourceGuid:
                                            description: The resource GUID property of the public IP resource.
                                            type: string
                                      sku:
                                        description: SKU of a public IP address
                                        properties:
                                          name:
                                            description: Name of a public IP address SKU.
                                            enum:
                                              - Basic
                                              - Standard
                                            type: string
                                            x-ms-enum:
                                              modelAsString: true
                                              name: PublicIPAddressSkuName
                                      zones:
                                        description: A list of availability zones denoting the IP allocated for the resource needs to come from.
                                        items:
                                          type: string
                                        type: array
                                  subnet:
                                    allOf:
                                      - description: Reference to another subresource.
                                        properties:
                                          id:
                                            description: Resource ID.
                                            type: string
                                        x-ms-azure-resource: true
                                    description: Subnet in a virtual network resource.
                                    properties:
                                      etag:
                                        description: A unique read-only string that changes whenever the resource is updated.
                                        type: string
                                      name:
                                        description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                                        type: string
                                      properties:
                                        description: Properties of the subnet.
                                        properties:
                                          addressPrefix:
                                            description: The address prefix for the subnet.
                                            type: string
                                          ipConfigurations:
                                            description: Gets an array of references to the network interface IP configurations using subnet.
                                            items:
                                              allOf:
                                                - description: Reference to another subresource.
                                                  properties:
                                                    id:
                                                      description: Resource ID.
                                                      type: string
                                                  x-ms-azure-resource: true
                                              description: IP configuration
                                              properties:
                                                etag:
                                                  description: A unique read-only string that changes whenever the resource is updated.
                                                  type: string
                                                name:
                                                  description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                                                  type: string
                                                properties:
                                                  description: Properties of IP configuration.
                                                  properties:
                                                    privateIPAddress:
                                                      description: The private IP address of the IP configuration.
                                                      type: string
                                                    privateIPAllocationMethod:
                                                      description: The private IP allocation method. Possible values are 'Static' and 'Dynamic'.
                                                      enum:
                                                        - Static
                                                        - Dynamic
                                                      type: string
                                                      x-ms-enum:
                                                        modelAsString: true
                                                        name: IPAllocationMethod
                                                    provisioningState:
                                                      description: 'Gets the provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                                                      type: string
                                                    publicIPAddress:
                                                      allOf:
                                                        - description: Common resource representation.
                                                          properties:
                                                            id:
                                                              description: Resource ID.
                                                              type: string
                                                            location:
                                                              description: Resource location.
                                                              type: string
                                                            name:
                                                              description: Resource name.
                                                              readOnly: true
                                                              type: string
[...]
