swagger: '2.0'
schemes:
  - https
host: poly.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: |
    The Poly API provides read-only access to assets hosted on <a href="https://poly.google.com">poly.google.com</a>.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Poly
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.6.0
      format: google
      url: 'https://poly.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: poly
externalDocs:
  url: 'https://developers.google.com/poly/'
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: assets
  - name: users
paths:
  /v1/assets:
    get:
      description: |-
        Lists all public, remixable assets. These are assets with an access level of
        PUBLIC and published under the
        CC-By license.
      operationId: poly.assets.list
      parameters:
        - description: |-
            Filter assets based on the specified category. Supported values are:
            `animals`, `architecture`, `art`, `food`, `nature`, `objects`, `people`, `scenes`,
            `technology`, and `transport`.
          in: query
          name: category
          type: string
        - description: Return only assets that have been curated by the Poly team.
          in: query
          name: curated
          type: boolean
        - description: |-
            Return only assets with the matching format. Acceptable values are:
            `BLOCKS`, `FBX`, `GLTF`, `GLTF2`, `OBJ`, `TILT`.
          in: query
          name: format
          type: string
        - description: |-
            One or more search terms to be matched against all text that Poly has
            indexed for assets, which includes display_name,
            description, and tags. Multiple keywords should be
            separated by spaces.
          in: query
          name: keywords
          type: string
        - description: |-
            Returns assets that are of the specified complexity or less. Defaults to
            COMPLEX. For example, a request for
            MEDIUM assets also includes
            SIMPLE assets.
          enum:
            - COMPLEXITY_UNSPECIFIED
            - COMPLEX
            - MEDIUM
            - SIMPLE
          in: query
          name: maxComplexity
          type: string
        - description: |-
            Specifies an ordering for assets. Acceptable values are:
            `BEST`, `NEWEST`, `OLDEST`. Defaults to `BEST`, which ranks assets
            based on a combination of popularity and other features.
          in: query
          name: orderBy
          type: string
        - description: |-
            The maximum number of assets to be returned. This value must be between `1`
            and `100`. Defaults to `20`.
          in: query
          name: pageSize
          type: integer
        - description: |-
            Specifies a continuation token from a previous search whose results were
            split into multiple pages. To get the next page, submit the same request
            specifying the value from next_page_token.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListAssetsResponse'
      tags:
        - assets
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/{name}':
    get:
      description: |-
        Returns detailed information about an asset given its name.
        PRIVATE assets are returned only if
         the currently authenticated user (via OAuth token) is the author of the asset.
      operationId: poly.assets.get
      parameters:
        - description: 'Required. An asset''s name in the form `assets/{ASSET_ID}`.'
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Asset'
      tags:
        - assets
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/{name}/assets':
    get:
      description: |-
        Lists assets authored by the given user. Only the value 'me', representing
        the currently-authenticated user, is supported. May include assets with an
        access level of PRIVATE or
        UNLISTED and assets which are
        All Rights Reserved for the
        currently-authenticated user.
      operationId: poly.users.assets.list
      parameters:
        - description: |-
            Return only assets with the matching format. Acceptable values are:
            `BLOCKS`, `FBX`, `GLTF`, `GLTF2`, `OBJ`, and `TILT`.
          in: query
          name: format
          type: string
        - description: |-
            A valid user id. Currently, only the special value 'me', representing the
            currently-authenticated user is supported. To use 'me', you must pass
            an OAuth token with the request.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Specifies an ordering for assets. Acceptable values are:
            `BEST`, `NEWEST`, `OLDEST`. Defaults to `BEST`, which ranks assets
            based on a combination of popularity and other features.
          in: query
          name: orderBy
          type: string
        - description: |-
            The maximum number of assets to be returned. This value must be between `1`
            and `100`. Defaults to `20`.
          in: query
          name: pageSize
          type: integer
        - description: |-
            Specifies a continuation token from a previous search whose results were
            split into multiple pages. To get the next page, submit the same request
            specifying the value from
            next_page_token.
          in: query
          name: pageToken
          type: string
        - description: |-
            The visibility of the assets to be returned.
            Defaults to VISIBILITY_UNSPECIFIED which returns all assets.
          enum:
            - VISIBILITY_UNSPECIFIED
            - PUBLISHED
            - PRIVATE
          in: query
          name: visibility
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListUserAssetsResponse'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/{name}/likedassets':
    get:
      description: |-
        Lists assets that the user has liked. Only the value 'me', representing
        the currently-authenticated user, is supported. May include assets with an
        access level of UNLISTED.
      operationId: poly.users.likedassets.list
      parameters:
        - description: |-
            Return only assets with the matching format. Acceptable values are:
            `BLOCKS`, `FBX`, `GLTF`, `GLTF2`, `OBJ`, `TILT`.
          in: query
          name: format
          type: string
        - description: |-
            A valid user id. Currently, only the special value 'me', representing the
            currently-authenticated user is supported. To use 'me', you must pass
            an OAuth token with the request.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Specifies an ordering for assets. Acceptable values are:
            `BEST`, `NEWEST`, `OLDEST`, 'LIKED_TIME'. Defaults to `LIKED_TIME`, which
            ranks assets based on how recently they were liked.
          in: query
          name: orderBy
          type: string
        - description: |-
            The maximum number of assets to be returned. This value must be between `1`
            and `100`. Defaults to `20`.
          in: query
          name: pageSize
          type: integer
        - description: |-
            Specifies a continuation token from a previous search whose results were
            split into multiple pages. To get the next page, submit the same request
            specifying the value from
            next_page_token.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListLikedAssetsResponse'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
definitions:
  Asset:
    description: |-
      Represents and describes an asset in the Poly library. An asset is a 3D model
      or scene created using [Tilt Brush](//www.tiltbrush.com),
      [Blocks](//vr.google.com/blocks/), or any 3D program that produces a file
      that can be upload to Poly.
    properties:
      authorName:
        description: |-
          The author's publicly visible name. Use this name when giving credit to the
          author. For more information, see [Licensing](/poly/discover/licensing).
        type: string
      createTime:
        description: |-
          For published assets, the time when the asset was published.
          For unpublished assets, the time when the asset was created.
        format: google-datetime
        type: string
      description:
        description: 'The human-readable description, set by the asset''s author.'
        type: string
      displayName:
        description: 'The human-readable name, set by the asset''s author.'
        type: string
      formats:
        description: |-
          A list of Formats where each
          format describes one representation of the asset.
        items:
          $ref: '#/definitions/Format'
        type: array
      isCurated:
        description: Whether this asset has been curated by the Poly team.
        type: boolean
      license:
        description: |-
          The license under which the author has made the asset available
          for use, if any.
        enum:
          - UNKNOWN
          - CREATIVE_COMMONS_BY
          - ALL_RIGHTS_RESERVED
        type: string
      name:
        description: |-
          The unique identifier for the asset in the form:
          `assets/{ASSET_ID}`.
        type: string
      presentationParams:
        $ref: '#/definitions/PresentationParams'
        description: |-
          Hints for displaying the asset. Note that these parameters are not
          immutable; the author of an asset may change them post-publication.
      thumbnail:
        $ref: '#/definitions/File'
        description: The thumbnail image for the asset.
      updateTime:
        description: |-
          The time when the asset was last modified. For published assets, whose
          contents are immutable, the update time changes only when metadata
          properties, such as visibility, are updated.
        format: google-datetime
        type: string
      visibility:
        description: The visibility of the asset and who can access it.
        enum:
          - VISIBILITY_UNSPECIFIED
          - PRIVATE
          - UNLISTED
          - PUBLIC
        type: string
    type: object
  File:
    description: |-
      Represents a file in Poly, which can be a root,
      resource, or thumbnail file.
    properties:
      contentType:
        description: |-
          The MIME content-type, such as `image/png`.
          For more information, see
          [MIME types](//developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types).
        type: string
      relativePath:
        description: |-
          The path of the resource file relative to the root file.
          For root or thumbnail files, this is just the filename.
        type: string
      url:
        description: The URL where the file data can be retrieved.
        type: string
    type: object
  Format:
    description: |-
      The same asset can be represented in different formats, for example,
      a [WaveFront .obj](//en.wikipedia.org/wiki/Wavefront_.obj_file) file with its
      corresponding .mtl file or a [Khronos glTF](//www.khronos.org/gltf) file
      with its corresponding .glb binary data. A format refers to a specific
      representation of an asset and contains all information needed to
      retrieve and describe this representation.
    properties:
      formatComplexity:
        $ref: '#/definitions/FormatComplexity'
        description: Complexity stats about this representation of the asset.
      formatType:
        description: |-
          A short string that identifies the format type of this representation.
          Possible values are: `FBX`, `GLTF`, `GLTF2`, `OBJ`, and `TILT`.
        type: string
      resources:
        description: |-
          A list of dependencies of the root element. May include, but is not
          limited to, materials, textures, and shader programs.
        items:
          $ref: '#/definitions/File'
        type: array
      root:
        $ref: '#/definitions/File'
        description: |-
          The root of the file hierarchy. This will always be populated.
          For some format_types - such as `TILT`, which are self-contained -
          this is all of the data.

          Other types - such as `OBJ` - often reference other data elements.
          These are contained in the resources field.
    type: object
  FormatComplexity:
    description: Information on the complexity of this Format.
    properties:
      lodHint:
        description: |-
          A non-negative integer that represents the level of detail (LOD) of this
          format relative to other formats of the same asset with the same
          format_type.
          This hint allows you to sort formats from the most-detailed (0) to
          least-detailed (integers greater than 0).
        format: int32
        type: integer
      triangleCount:
        description: The estimated number of triangles.
        format: int64
        type: string
    type: object
  ListAssetsResponse:
    description: A response message from a request to list.
    properties:
      assets:
        description: A list of assets that match the criteria specified in the request.
        items:
          $ref: '#/definitions/Asset'
        type: array
      nextPageToken:
        description: |-
          The continuation token for retrieving the next page. If empty,
          indicates that there are no more pages. To get the next page, submit the
          same request specifying this value as the
          page_token.
        type: string
      totalSize:
        description: 'The total number of assets in the list, without pagination.'
        format: int32
        type: integer
    type: object
  ListLikedAssetsResponse:
    description: A response message from a request to list.
    properties:
      assets:
        description: A list of assets that match the criteria specified in the request.
        items:
          $ref: '#/definitions/Asset'
        type: array
      nextPageToken:
        description: |-
          The continuation token for retrieving the next page. If empty,
          indicates that there are no more pages. To get the next page, submit the
          same request specifying this value as the
          page_token.
        type: string
      totalSize:
        description: 'The total number of assets in the list, without pagination.'
        format: int32
        type: integer
    type: object
  ListUserAssetsResponse:
    description: A response message from a request to list.
    properties:
      nextPageToken:
        description: |-
          The continuation token for retrieving the next page. If empty,
          indicates that there are no more pages. To get the next page, submit the
          same request specifying this value as the
          page_token.
        type: string
      totalSize:
        description: 'The total number of assets in the list, without pagination.'
        format: int32
        type: integer
      userAssets:
        description: A list of UserAssets matching the request.
        items:
          $ref: '#/definitions/UserAsset'
        type: array
    type: object
  PresentationParams:
    description: |-
      Hints for displaying the asset, based on information available when the asset
      was uploaded.
    properties:
      colorSpace:
        description: |-
          The materials' diffuse/albedo color. This does not apply to vertex colors
          or texture maps.
        enum:
          - UNKNOWN
          - LINEAR
          - GAMMA
        type: string
      orientingRotation:
        $ref: '#/definitions/Quaternion'
        description: |-
          A rotation that should be applied to the object root to make it upright.
          More precisely, this quaternion transforms from "object space" (the space
          in which the object is defined) to "presentation space", a coordinate
          system where +Y is up, +X is right, -Z is forward. For example, if
          the object is the Eiffel Tower, in its local coordinate system the
          object might be laid out such that the base of the tower is on the
          YZ plane and the tip of the tower is towards positive X. In this case
          this quaternion would specify a rotation (of 90 degrees about the Z
          axis) such that in the presentation space the base of the tower is
          aligned with the XZ plane, and the tip of the tower lies towards +Y.

          This rotation is unrelated to the object's pose in the web preview,
          which is just a camera position setting and is *not* reflected in this
          rotation.

          Please note: this is applicable only to the gLTF.
    type: object
  Quaternion:
    description: |-
      A [Quaternion](//en.wikipedia.org/wiki/Quaternion). Please note: if in the
      response you see "w: 1" and nothing else this is the default value of
      [0, 0, 0, 1] where x,y, and z are 0.
    properties:
      w:
        description: The scalar component.
        format: double
        type: number
      x:
        description: The x component.
        format: double
        type: number
      'y':
        description: The y component.
        format: double
        type: number
      z:
        description: The z component.
        format: double
        type: number
    type: object
  UserAsset:
    description: Data about the user's asset.
    properties:
      asset:
        $ref: '#/definitions/Asset'
        description: An Asset.
    type: object
