openapi: 3.0.0
servers:
  - url: https://api.callfire.com/v2
info:
  contact:
    email: support@callfire.com
    name: CallFire
    url: https://www.callfire.com
  description: CallFire
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.callfire.com/terms
  title: CallFire API Documentation
  version: V2
  x-apisguru-categories:
    - telecom
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_537371596508258305_zP_eP2ec_400x400.png
  x-origin:
    - format: openapi
      url: https://www.callfire.com/v2/api-docs/swagger.json
      version: "3.0"
  x-providerName: callfire.com
tags:
  - name: calls
  - name: campaigns
  - name: contacts
  - name: keywords
  - name: me
  - name: media
  - name: numbers
  - name: orders
  - name: reports
  - name: texts
  - name: ticket
  - name: webhooks
paths:
  /calls:
    get:
      description: To search for all calls sent or received by the user. Use "id=0" for the campaignId parameter to query for all calls sent through the POST /calls API. See [call states and results](https://developers.callfire.com/results-responses-errors.html)
      operationId: findCalls
      parameters:
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
        - description: To set the maximum number of records to return in a paged list response. The default is 100
          in: query
          name: limit
          required: false
          schema:
            default: 100
            format: int32
            type: integer
        - description: Offset to the start of a given page. The default is 0. Check [pagination](https://developers.callfire.com/docs.html#pagination) page for more information about pagination in CallFire API.
          in: query
          name: offset
          required: false
          schema:
            default: 0
            format: int32
            type: integer
        - description: Lists the Call ids to search for. If calls ids are specified then other query parameters can be ignored
          explode: true
          in: query
          name: id
          required: false
          schema:
            items:
              format: int64
              type: integer
            type: array
        - description: An id of a campaign, queries for calls included to a particular campaign. Specify null for all campaigns and 0 for default campaign
          in: query
          name: campaignId
          required: false
          schema:
            format: int64
            type: integer
        - description: An id of a contact batch, queries for calls of a particular contact batch
          in: query
          name: batchId
          required: false
          schema:
            format: int64
            type: integer
        - description: "Phone number in E.164 format (11-digit) that call was from. Example: 12132000384"
          in: query
          name: fromNumber
          required: false
          schema:
            type: string
        - description: "Phone number in E.164 format (11-digit) that call was sent to. Example: 12132000384"
          in: query
          name: toNumber
          required: false
          schema:
            type: string
        - description: A label for a specific call
          in: query
          name: label
          required: false
          schema:
            type: string
        - description: "Searches for all calls which correspond to statuses listed in a comma separated string. Available values: READY, SELECTED, CALLBACK, FINISHED, DISABLED, DNC, DUP, INVALID, TIMEOUT, PERIOD_LIMIT. See [call states and results](https://developers.callfire.com/results-responses-errors.html)"
          in: query
          name: states
          required: false
          schema:
            type: string
        - description: "Searches for all calls with statuses listed in a comma separated string. Available values: SENT, RECEIVED, DNT, TOO_BIG, INTERNAL_ERROR, CARRIER_ERROR, CARRIER_TEMP_ERROR, UNDIALED. See [call states and results](https://developers.callfire.com/results-responses-errors.html)"
          in: query
          name: results
          required: false
          schema:
            type: string
        - description: Filters inbound calls for "true" value and outbound calls for "false" value
          in: query
          name: inbound
          required: false
          schema:
            type: boolean
        - description: "Start of the find time interval, formatted in unix time milliseconds. Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT"
          in: query
          name: intervalBegin
          required: false
          schema:
            format: int64
            type: integer
        - description: "End of the find time interval, formatted in unix time milliseconds. Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT"
          in: query
          name: intervalEnd
          required: false
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallPage"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Find calls
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/findCalls.cs
      x-sample-curl-request-url: /curl/calls/findCalls.sh
      x-sample-curl-response-url: /curl/calls/findCalls.json
      x-sample-description-url: /description/calls/findCalls.md
      x-sample-go-url: /go/calls/findCalls.go
      x-sample-java-url: /java/calls/findCalls.java
      x-sample-js-url: /js/calls/findCalls.js
      x-sample-php-url: /php/calls/findCalls.php
      x-sample-python-url: /python/calls/findCalls.py
    post:
      description: Use the /calls API to send individual calls quickly. A verified Caller ID and sufficient credits are required to make a call. CallRecipient represents a single recipient identified by phone number or contact id in CallFire system. You can attach user-defined attributes to a Call action via CallRecipient.attributes property, attributes are available in Call action response
      operationId: sendCalls
      parameters:
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
        - description: Specifies a campaignId to send calls quickly on a previously created campaign
          in: query
          name: campaignId
          required: false
          schema:
            format: int64
            type: integer
        - description: Text to be turned into a sound, this text will be played when the phone is answered. Parameter can be overridden for any particular CallRecipient
          in: query
          name: defaultLiveMessage
          required: false
          schema:
            type: string
        - description: Text to be turned into a sound, this text will be played when answering machine is detected. Parameter can be overridden for any particular CallRecipient
          in: query
          name: defaultMachineMessage
          required: false
          schema:
            type: string
        - description: Id of sound file to play if phone is answered. Parameter can be overridden for any particular CallRecipient
          in: query
          name: defaultLiveMessageSoundId
          required: false
          schema:
            format: int64
            type: integer
        - description: An id of a sound file to play if answering machine is detected. Parameter can be overridden for any particular CallRecipient
          in: query
          name: defaultMachineMessageSoundId
          required: false
          schema:
            format: int64
            type: integer
        - description: The voice set by default for all text-to-speech messages defined in CallRecipient objects or as default *Message properties
          in: query
          name: defaultVoice
          required: false
          schema:
            enum:
              - MALE1
              - FEMALE1
              - FEMALE2
              - SPANISH1
              - FRENCHCANADIAN1
            type: string
        - description: Turns on strict validation for recipients. System will reply with BAD_REQUEST(400) if strictValidation = true and one of numbers didn't pass validation
          in: query
          name: strictValidation
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/CallRecipient"
              type: array
        description: |
          An array of CallRecipient objects. 
          Limitations:
          1. Max number of CallRecipient objects is 10
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallList"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Send calls
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/sendCalls.cs
      x-sample-curl-request-url: /curl/calls/sendCalls.sh
      x-sample-curl-response-url: /curl/calls/sendCalls.json
      x-sample-description-url: /description/calls/sendCalls.md
      x-sample-go-url: /go/calls/sendCalls.go
      x-sample-java-url: /java/calls/sendCalls.java
      x-sample-js-url: /js/calls/sendCalls.js
      x-sample-php-url: /php/calls/sendCalls.php
      x-sample-python-url: /python/calls/sendCalls.py
  /calls/broadcasts:
    get:
      description: Searches for all voice broadcasts created by user. Can query on label, name, and the current running status of the campaign. Returns a paged list of voice broadcasts
      operationId: findCallBroadcasts
      parameters:
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
        - description: To set the maximum number of records to return in a paged list response. The default is 100
          in: query
          name: limit
          required: false
          schema:
            default: 10
            format: int32
            type: integer
        - description: Offset to the start of a given page. The default is 0. Check [pagination](https://developers.callfire.com/docs.html#pagination) page for more information about pagination in CallFire API.
          in: query
          name: offset
          required: false
          schema:
            default: 0
            format: int32
            type: integer
        - description: A label of a voice broadcast
          in: query
          name: label
          required: false
          schema:
            type: string
        - description: A name of voice broadcast
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: Specify whether the campaigns should be running or not
          in: query
          name: running
          required: false
          schema:
            type: boolean
        - description: Specify whether the campaigns should be scheduled or not
          in: query
          name: scheduled
          required: false
          schema:
            type: boolean
        - description: "Start of the find time interval, formatted in unix time milliseconds. Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT"
          in: query
          name: intervalBegin
          required: false
          schema:
            format: int64
            type: integer
        - description: "End of the find time interval, formatted in unix time milliseconds. Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT"
          in: query
          name: intervalEnd
          required: false
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallBroadcastPage"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Find call broadcasts
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/findCallBroadcasts.cs
      x-sample-curl-request-url: /curl/calls/findCallBroadcasts.sh
      x-sample-curl-response-url: /curl/calls/findCallBroadcasts.json
      x-sample-description-url: /description/calls/findCallBroadcasts.md
      x-sample-go-url: /go/calls/findCallBroadcasts.go
      x-sample-java-url: /java/calls/findCallBroadcasts.java
      x-sample-js-url: /js/calls/findCallBroadcasts.js
      x-sample-php-url: /php/calls/findCallBroadcasts.php
      x-sample-python-url: /python/calls/findCallBroadcasts.py
    post:
      description: Creates a call broadcast campaign using the Call Broadcast API. Send a CallBroadcast in the message body to add details in a voice broadcast campaign. The campaign can be created without contacts and bare minimum configuration, but contacts will have to be added further on to use the campaign
      operationId: createCallBroadcast
      parameters:
        - description: Specify whether to immediately start this campaign (not required)
          in: query
          name: start
          required: false
          schema:
            type: boolean
        - description: Turns on strict validation for recipients. System will reply with BAD_REQUEST(400) if strictValidation = true and one of numbers didn't pass validation
          in: query
          name: strictValidation
          required: false
          schema:
            type: boolean
      requestBody:
        $ref: "#/components/requestBodies/CallBroadcast"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceId"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Create a call broadcast
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/createCallBroadcast.cs
      x-sample-curl-request-url: /curl/calls/createCallBroadcast.sh
      x-sample-curl-response-url: /curl/calls/createCallBroadcast.json
      x-sample-description-url: /description/calls/createCallBroadcast.md
      x-sample-go-url: /go/calls/createCallBroadcast.go
      x-sample-java-url: /java/calls/createCallBroadcast.java
      x-sample-js-url: /js/calls/createCallBroadcast.js
      x-sample-php-url: /php/calls/createCallBroadcast.php
      x-sample-python-url: /python/calls/createCallBroadcast.py
  "/calls/broadcasts/{id}":
    get:
      description: Returns a single CallBroadcast instance for a given call broadcast campaign id
      operationId: getCallBroadcast
      parameters:
        - description: An id of a CallBroadcast
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallBroadcast"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Find a specific call broadcast
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/getCallBroadcast.cs
      x-sample-curl-request-url: /curl/calls/getCallBroadcast.sh
      x-sample-curl-response-url: /curl/calls/getCallBroadcast.json
      x-sample-description-url: /description/calls/getCallBroadcast.md
      x-sample-go-url: /go/calls/getCallBroadcast.go
      x-sample-java-url: /java/calls/getCallBroadcast.java
      x-sample-js-url: /js/calls/getCallBroadcast.js
      x-sample-php-url: /php/calls/getCallBroadcast.php
      x-sample-python-url: /python/calls/getCallBroadcast.py
    put:
      description: This operation lets the user modify the configuration of a voice broadcast campaign after call broadcast campaign is created. See CallBroadcast for more information on what can/can't be updated on this API
      operationId: updateCallBroadcast
      parameters:
        - description: An id of a voice broadcast
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: Turns on strict validation for recipients. System will reply with BAD_REQUEST(400) if strictValidation = true and one of numbers didn't pass validation
          in: query
          name: strictValidation
          required: false
          schema:
            type: boolean
      requestBody:
        $ref: "#/components/requestBodies/CallBroadcast"
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Update a call broadcast
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/updateCallBroadcast.cs
      x-sample-curl-request-url: /curl/calls/updateCallBroadcast.sh
      x-sample-curl-response-url: /curl/calls/updateCallBroadcast.json
      x-sample-description-url: /description/calls/updateCallBroadcast.md
      x-sample-go-url: /go/calls/updateCallBroadcast.go
      x-sample-java-url: /java/calls/updateCallBroadcast.java
      x-sample-js-url: /js/calls/updateCallBroadcast.js
      x-sample-php-url: /php/calls/updateCallBroadcast.php
      x-sample-python-url: /python/calls/updateCallBroadcast.py
  "/calls/broadcasts/{id}/archive":
    post:
      description: Archives a voice broadcast (voice broadcast will be hidden in search results)
      operationId: archiveVoiceBroadcast
      parameters:
        - description: An id of a voice broadcast to archive
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Archive voice broadcast
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/archiveVoiceBroadcast.cs
      x-sample-curl-request-url: /curl/calls/archiveVoiceBroadcast.sh
      x-sample-curl-response-url: /curl/calls/archiveVoiceBroadcast.json
      x-sample-description-url: /description/calls/archiveVoiceBroadcast.md
      x-sample-go-url: /go/calls/archiveVoiceBroadcast.go
      x-sample-java-url: /java/calls/archiveVoiceBroadcast.java
      x-sample-js-url: /js/calls/archiveVoiceBroadcast.js
      x-sample-php-url: /php/calls/archiveVoiceBroadcast.php
      x-sample-python-url: /python/calls/archiveVoiceBroadcast.py
  "/calls/broadcasts/{id}/batches":
    get:
      description: This endpoint will enable the user to page through all of the batches for a particular voice broadcast campaign
      operationId: getCallBroadcastBatches
      parameters:
        - description: An id of a call broadcast
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
        - description: To set the maximum number of records to return in a paged list response. The default is 100
          in: query
          name: limit
          required: false
          schema:
            default: 100
            format: int32
            type: integer
        - description: Offset to the start of a given page. The default is 0. Check [pagination](https://developers.callfire.com/docs.html#pagination) page for more information about pagination in CallFire API.
          in: query
          name: offset
          required: false
          schema:
            default: 0
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchPage"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Find batches in a call broadcast
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/getCallBroadcastBatches.cs
      x-sample-curl-request-url: /curl/calls/getCallBroadcastBatches.sh
      x-sample-curl-response-url: /curl/calls/getCallBroadcastBatches.json
      x-sample-description-url: /description/calls/getCallBroadcastBatches.md
      x-sample-go-url: /go/calls/getCallBroadcastBatches.go
      x-sample-java-url: /java/calls/getCallBroadcastBatches.java
      x-sample-js-url: /js/calls/getCallBroadcastBatches.js
      x-sample-php-url: /php/calls/getCallBroadcastBatches.php
      x-sample-python-url: /python/calls/getCallBroadcastBatches.py
    post:
      description: The 'add batch' API allows user to add additional batches to an already created voice broadcast campaign. The added batch will go through the CallFire validation process, unlike in the recipients version of this API. That is why you can use the scrubDuplicates flag to remove duplicates from your batch. Batches may be added as a contact list id, a list of contact ids, or a list of numbers
      operationId: addCallBroadcastBatch
      parameters:
        - description: An id of a call broadcast
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: Turns on strict validation for recipients. System will reply with BAD_REQUEST(400) if strictValidation = true and one of numbers didn't pass validation
          in: query
          name: strictValidation
          required: false
          schema:
            type: boolean
      requestBody:
        $ref: "#/components/requestBodies/BatchRequest"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceId"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Add batches to a call broadcast
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/addCallBroadcastBatch.cs
      x-sample-curl-request-url: /curl/calls/addCallBroadcastBatch.sh
      x-sample-curl-response-url: /curl/calls/addCallBroadcastBatch.json
      x-sample-description-url: /description/calls/addCallBroadcastBatch.md
      x-sample-go-url: /go/calls/addCallBroadcastBatch.go
      x-sample-java-url: /java/calls/addCallBroadcastBatch.java
      x-sample-js-url: /js/calls/addCallBroadcastBatch.js
      x-sample-php-url: /php/calls/addCallBroadcastBatch.php
      x-sample-python-url: /python/calls/addCallBroadcastBatch.py
  "/calls/broadcasts/{id}/calls":
    get:
      description: This endpoint will enable the user to page through all calls for a particular call broadcast campaign
      operationId: getCallBroadcastCalls
      parameters:
        - description: An Id of a call broadcast
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: An id of a particular batch associated with broadcast
          in: query
          name: batchId
          required: false
          schema:
            format: int64
            type: integer
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
        - description: To set the maximum number of records to return in a paged list response. The default is 100
          in: query
          name: limit
          required: false
          schema:
            default: 100
            format: int32
            type: integer
        - description: Offset to the start of a given page. The default is 0. Check [pagination](https://developers.callfire.com/docs.html#pagination) page for more information about pagination in CallFire API.
          in: query
          name: offset
          required: false
          schema:
            default: 0
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallPage"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Find calls in a call broadcast
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/getCallBroadcastCalls.cs
      x-sample-curl-request-url: /curl/calls/getCallBroadcastCalls.sh
      x-sample-curl-response-url: /curl/calls/getCallBroadcastCalls.json
      x-sample-description-url: /description/calls/getCallBroadcastCalls.md
      x-sample-go-url: /go/calls/getCallBroadcastCalls.go
      x-sample-java-url: /java/calls/getCallBroadcastCalls.java
      x-sample-js-url: /js/calls/getCallBroadcastCalls.js
      x-sample-php-url: /php/calls/getCallBroadcastCalls.php
      x-sample-python-url: /python/calls/getCallBroadcastCalls.py
  "/calls/broadcasts/{id}/recipients":
    post:
      description: Use this API to add the recipients to an existing voice broadcast. Post a list of Recipient objects to be added to the voice broadcast campaign. These contacts will not go through validation process, and will be acted upon as they are added. Recipients may be added as a list of contact ids, or list of numbers
      operationId: addCallBroadcastRecipients
      parameters:
        - description: An id of a call broadcast
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
        - description: Turns on strict validation for recipients. System will reply with BAD_REQUEST(400) if strictValidation = true and one of numbers didn't pass validation
          in: query
          name: strictValidation
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/Recipient"
              type: array
        description: A list of CallRecipient objects
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallList"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Add recipients to a call broadcast
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/addCallBroadcastRecipients.cs
      x-sample-curl-request-url: /curl/calls/addCallBroadcastRecipients.sh
      x-sample-curl-response-url: /curl/calls/addCallBroadcastRecipients.json
      x-sample-description-url: /description/calls/addCallBroadcastRecipients.md
      x-sample-go-url: /go/calls/addCallBroadcastRecipients.go
      x-sample-java-url: /java/calls/addCallBroadcastRecipients.java
      x-sample-js-url: /js/calls/addCallBroadcastRecipients.js
      x-sample-php-url: /php/calls/addCallBroadcastRecipients.php
      x-sample-python-url: /python/calls/addCallBroadcastRecipients.py
  "/calls/broadcasts/{id}/start":
    post:
      description: Start a voice broadcast
      operationId: startVoiceBroadcast
      parameters:
        - description: An id of voice broadcast to start
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Start voice broadcast
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/startVoiceBroadcast.cs
      x-sample-curl-request-url: /curl/calls/startVoiceBroadcast.sh
      x-sample-curl-response-url: /curl/calls/startVoiceBroadcast.json
      x-sample-description-url: /description/calls/startVoiceBroadcast.md
      x-sample-go-url: /go/calls/startVoiceBroadcast.go
      x-sample-java-url: /java/calls/startVoiceBroadcast.java
      x-sample-js-url: /js/calls/startVoiceBroadcast.js
      x-sample-php-url: /php/calls/startVoiceBroadcast.php
      x-sample-python-url: /python/calls/startVoiceBroadcast.py
  "/calls/broadcasts/{id}/stats":
    get:
      description: Returns broadcast statistics like total number of sent/received actions, total cost, number of remaining outbound actions, error count, etc
      operationId: getCallBroadcastStats
      parameters:
        - description: An id of a call broadcast
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
        - description: "Start of the search time interval, formatted in unix time milliseconds. Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT"
          in: query
          name: begin
          required: false
          schema:
            format: int64
            type: integer
        - description: "End of the search time interval, formatted in unix time milliseconds. Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT"
          in: query
          name: end
          required: false
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallBroadcastStats"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Get statistics on call broadcast
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/getCallBroadcastStats.cs
      x-sample-curl-request-url: /curl/calls/getCallBroadcastStats.sh
      x-sample-curl-response-url: /curl/calls/getCallBroadcastStats.json
      x-sample-description-url: /description/calls/getCallBroadcastStats.md
      x-sample-go-url: /go/calls/getCallBroadcastStats.go
      x-sample-java-url: /java/calls/getCallBroadcastStats.java
      x-sample-js-url: /js/calls/getCallBroadcastStats.js
      x-sample-php-url: /php/calls/getCallBroadcastStats.php
      x-sample-python-url: /python/calls/getCallBroadcastStats.py
  "/calls/broadcasts/{id}/stop":
    post:
      description: Stop a voice broadcast
      operationId: stopVoiceBroadcast
      parameters:
        - description: An id of voice broadcast to stop
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Stop voice broadcast
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/stopVoiceBroadcast.cs
      x-sample-curl-request-url: /curl/calls/stopVoiceBroadcast.sh
      x-sample-curl-response-url: /curl/calls/stopVoiceBroadcast.json
      x-sample-description-url: /description/calls/stopVoiceBroadcast.md
      x-sample-go-url: /go/calls/stopVoiceBroadcast.go
      x-sample-java-url: /java/calls/stopVoiceBroadcast.java
      x-sample-js-url: /js/calls/stopVoiceBroadcast.js
      x-sample-php-url: /php/calls/stopVoiceBroadcast.php
      x-sample-python-url: /python/calls/stopVoiceBroadcast.py
  "/calls/broadcasts/{id}/toggleRecipientsStatus":
    post:
      description: This operation lets the user to disable/enable undialed recipients in created broadcast
      operationId: toggleCallBroadcastRecipientsStatus
      parameters:
        - description: An id of a voice broadcast
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: Flag which indicate what to do with calls (true will enable call in DISABLED status and vice versa)
          in: query
          name: enable
          required: false
          schema:
            default: false
            type: boolean
      requestBody:
        $ref: "#/components/requestBodies/RecipientArray"
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Disable/enable undialed recipients in broadcast
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/toggleCallBroadcastRecipientsStatus.cs
      x-sample-curl-request-url: /curl/calls/toggleCallBroadcastRecipientsStatus.sh
      x-sample-curl-response-url: /curl/calls/toggleCallBroadcastRecipientsStatus.json
      x-sample-description-url: /description/calls/toggleCallBroadcastRecipientsStatus.md
      x-sample-go-url: /go/calls/toggleCallBroadcastRecipientsStatus.go
      x-sample-java-url: /java/calls/toggleCallBroadcastRecipientsStatus.java
      x-sample-js-url: /js/calls/toggleCallBroadcastRecipientsStatus.js
      x-sample-php-url: /php/calls/toggleCallBroadcastRecipientsStatus.php
      x-sample-python-url: /python/calls/toggleCallBroadcastRecipientsStatus.py
  "/calls/recordings/{id}":
    get:
      description: Returns metadata of recording of a particular call. Metadata contains a link to a MP3 recording
      operationId: getCallRecording
      parameters:
        - description: "~"
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallRecording"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Get call recording by id
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/getCallRecording.cs
      x-sample-curl-request-url: /curl/calls/getCallRecording.sh
      x-sample-curl-response-url: /curl/calls/getCallRecording.json
      x-sample-description-url: /description/calls/getCallRecording.md
      x-sample-go-url: /go/calls/getCallRecording.go
      x-sample-java-url: /java/calls/getCallRecording.java
      x-sample-js-url: /js/calls/getCallRecording.js
      x-sample-php-url: /php/calls/getCallRecording.php
      x-sample-python-url: /python/calls/getCallRecording.py
  "/calls/recordings/{id}.mp3":
    get:
      description: Returns an MP3 recording of particular call, response contains binary data, content type is 'audio/mpeg'
      operationId: getCallRecordingMp3
      parameters:
        - description: An id of a call
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InputStream"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Get call recording in mp3 format
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/getCallRecordingMp3.cs
      x-sample-curl-request-url: /curl/calls/getCallRecordingMp3.sh
      x-sample-curl-response-url: /curl/calls/getCallRecordingMp3.json
      x-sample-description-url: /description/calls/getCallRecordingMp3.md
      x-sample-go-url: /go/calls/getCallRecordingMp3.go
      x-sample-java-url: /java/calls/getCallRecordingMp3.java
      x-sample-js-url: /js/calls/getCallRecordingMp3.js
      x-sample-php-url: /php/calls/getCallRecordingMp3.php
      x-sample-python-url: /python/calls/getCallRecordingMp3.py
  "/calls/{id}":
    get:
      description: Returns a single Call instance for a given call id.
      operationId: getCall
      parameters:
        - description: An id of a call
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Call"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Find a specific call
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/getCall.cs
      x-sample-curl-request-url: /curl/calls/getCall.sh
      x-sample-curl-response-url: /curl/calls/getCall.json
      x-sample-description-url: /description/calls/getCall.md
      x-sample-go-url: /go/calls/getCall.go
      x-sample-java-url: /java/calls/getCall.java
      x-sample-js-url: /js/calls/getCall.js
      x-sample-php-url: /php/calls/getCall.php
      x-sample-python-url: /python/calls/getCall.py
  "/calls/{id}/recordings":
    get:
      description: Returns a list of recordings metadata of particular call. Metadata contains link to a MP3 recording
      operationId: getCallRecordings
      parameters:
        - description: An id of a call
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallRecordingList"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Get call recordings for a call
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/getCallRecordings.cs
      x-sample-curl-request-url: /curl/calls/getCallRecordings.sh
      x-sample-curl-response-url: /curl/calls/getCallRecordings.json
      x-sample-description-url: /description/calls/getCallRecordings.md
      x-sample-go-url: /go/calls/getCallRecordings.go
      x-sample-java-url: /java/calls/getCallRecordings.java
      x-sample-js-url: /js/calls/getCallRecordings.js
      x-sample-php-url: /php/calls/getCallRecordings.php
      x-sample-python-url: /python/calls/getCallRecordings.py
  "/calls/{id}/recordings/{name}":
    get:
      description: Returns recording metadata of particular call. Metadata contains link to a MP3 recording
      operationId: getCallRecordingByName
      parameters:
        - description: An id of a call
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: A name of a recording
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallRecording"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Get call recording by name
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/getCallRecordingByName.cs
      x-sample-curl-request-url: /curl/calls/getCallRecordingByName.sh
      x-sample-curl-response-url: /curl/calls/getCallRecordingByName.json
      x-sample-description-url: /description/calls/getCallRecordingByName.md
      x-sample-go-url: /go/calls/getCallRecordingByName.go
      x-sample-java-url: /java/calls/getCallRecordingByName.java
      x-sample-js-url: /js/calls/getCallRecordingByName.js
      x-sample-php-url: /php/calls/getCallRecordingByName.php
      x-sample-python-url: /python/calls/getCallRecordingByName.py
  "/calls/{id}/recordings/{name}.mp3":
    get:
      description: Returns a MP3 recording of a particular call, response contains binary data, content type is 'audio/mpeg'
      operationId: getCallRecordingMp3ByName
      parameters:
        - description: An id of a call
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: A name of a recording
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            audio/mpeg:
              schema:
                $ref: "#/components/schemas/InputStream"
          description: successful operation
        "400":
          content:
            audio/mpeg:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            audio/mpeg:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            audio/mpeg:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            audio/mpeg:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            audio/mpeg:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Get call mp3 recording by name
      tags:
        - calls
      x-sample-csharp-url: /csharp/calls/getCallRecordingMp3ByName.cs
      x-sample-curl-request-url: /curl/calls/getCallRecordingMp3ByName.sh
      x-sample-curl-response-url: /curl/calls/getCallRecordingMp3ByName.json
      x-sample-description-url: /description/calls/getCallRecordingMp3ByName.md
      x-sample-go-url: /go/calls/getCallRecordingMp3ByName.go
      x-sample-java-url: /java/calls/getCallRecordingMp3ByName.java
      x-sample-js-url: /js/calls/getCallRecordingMp3ByName.js
      x-sample-php-url: /php/calls/getCallRecordingMp3ByName.php
      x-sample-python-url: /python/calls/getCallRecordingMp3ByName.py
  "/campaigns/batches/{id}":
    get:
      description: Returns a single Batch instance for a given batch id. This API is useful for determining the state of a validating batch
      operationId: getCampaignBatch
      parameters:
        - description: An id of a batch
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Batch"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Find a specific batch
      tags:
        - campaigns
      x-sample-csharp-url: /csharp/campaigns/getCampaignBatch.cs
      x-sample-curl-request-url: /curl/campaigns/getCampaignBatch.sh
      x-sample-curl-response-url: /curl/campaigns/getCampaignBatch.json
      x-sample-description-url: /description/campaigns/getCampaignBatch.md
      x-sample-go-url: /go/campaigns/getCampaignBatch.go
      x-sample-java-url: /java/campaigns/getCampaignBatch.java
      x-sample-js-url: /js/campaigns/getCampaignBatch.js
      x-sample-php-url: /php/campaigns/getCampaignBatch.php
      x-sample-python-url: /python/campaigns/getCampaignBatch.py
    put:
      description: Updates a single Batch instance, currently batch can only be turned "on/off"
      operationId: updateCampaignBatch
      parameters:
        - description: An id of a batch to update
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Batch"
        description: A batch instance
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Update a batch
      tags:
        - campaigns
      x-sample-csharp-url: /csharp/campaigns/updateCampaignBatch.cs
      x-sample-curl-request-url: /curl/campaigns/updateCampaignBatch.sh
      x-sample-curl-response-url: /curl/campaigns/updateCampaignBatch.json
      x-sample-description-url: /description/campaigns/updateCampaignBatch.md
      x-sample-go-url: /go/campaigns/updateCampaignBatch.go
      x-sample-java-url: /java/campaigns/updateCampaignBatch.java
      x-sample-js-url: /js/campaigns/updateCampaignBatch.js
      x-sample-php-url: /php/campaigns/updateCampaignBatch.php
      x-sample-python-url: /python/campaigns/updateCampaignBatch.py
  /campaigns/sounds:
    get:
      description: To find all campaign sounds which were created by user. Returns all sounds available to be used in campaigns
      operationId: findCampaignSounds
      parameters:
        - description: To set the maximum number of records to return in a paged list response. The default is 100
          in: query
          name: limit
          required: false
          schema:
            default: 100
            format: int32
            type: integer
        - description: Offset to the start of a given page. The default is 0. Check [pagination](https://developers.callfire.com/docs.html#pagination) page for more information about pagination in CallFire API.
          in: query
          name: offset
          required: false
          schema:
            default: 0
            format: int32
            type: integer
        - description: value to filter file names again; this value is used to check if the filename contains the filter value.
          in: query
          name: filter
          required: false
          schema:
            type: string
        - description: Includes ARCHIVED sounds for "true" value
          in: query
          name: includeArchived
          required: false
          schema:
            type: boolean
        - description: Includes UPLOAD/RECORDING sounds for "true" value
          in: query
          name: includePending
          required: false
          schema:
            type: boolean
        - description: Includes SCRUBBED sounds for "true" value
          in: query
          name: includeScrubbed
          required: false
          schema:
            type: boolean
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignSoundPage"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Find sounds
      tags:
        - campaigns
      x-sample-csharp-url: /csharp/campaigns/findCampaignSounds.cs
      x-sample-curl-request-url: /curl/campaigns/findCampaignSounds.sh
      x-sample-curl-response-url: /curl/campaigns/findCampaignSounds.json
      x-sample-description-url: /description/campaigns/findCampaignSounds.md
      x-sample-go-url: /go/campaigns/findCampaignSounds.go
      x-sample-java-url: /java/campaigns/findCampaignSounds.java
      x-sample-js-url: /js/campaigns/findCampaignSounds.js
      x-sample-php-url: /php/campaigns/findCampaignSounds.php
      x-sample-python-url: /python/campaigns/findCampaignSounds.py
  /campaigns/sounds/calls:
    post:
      description: Use this API to create a sound via a phone call. Provide the required phone number in the CallCreateSound object inside the request, and user will receive a call shortly after with instructions on how to record a sound over the phone.
      operationId: postCallCampaignSound
      parameters:
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CallCreateSound"
        description: Request object containing the name of a new campaign sound and phone number to call up
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignSound"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Add sound via call
      tags:
        - campaigns
      x-sample-csharp-url: /csharp/campaigns/postCallCampaignSound.cs
      x-sample-curl-request-url: /curl/campaigns/postCallCampaignSound.sh
      x-sample-curl-response-url: /curl/campaigns/postCallCampaignSound.json
      x-sample-description-url: /description/campaigns/postCallCampaignSound.md
      x-sample-go-url: /go/campaigns/postCallCampaignSound.go
      x-sample-java-url: /java/campaigns/postCallCampaignSound.java
      x-sample-js-url: /js/campaigns/postCallCampaignSound.js
      x-sample-php-url: /php/campaigns/postCallCampaignSound.php
      x-sample-python-url: /python/campaigns/postCallCampaignSound.py
  /campaigns/sounds/files:
    post:
      description: Create a campaign sound file via a supplied .mp3 or .wav file
      operationId: postFileCampaignSound
      parameters:
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: A sound file encoded in binary form
                  format: binary
                  type: string
                name:
                  description: Optional name of a sound file, if the name is empty than it will be taken from a file
                  type: string
              required:
                - file
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignSound"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Add sound via file
      tags:
        - campaigns
      x-sample-csharp-url: /csharp/campaigns/postFileCampaignSound.cs
      x-sample-curl-request-url: /curl/campaigns/postFileCampaignSound.sh
      x-sample-curl-response-url: /curl/campaigns/postFileCampaignSound.json
      x-sample-description-url: /description/campaigns/postFileCampaignSound.md
      x-sample-go-url: /go/campaigns/postFileCampaignSound.go
      x-sample-java-url: /java/campaigns/postFileCampaignSound.java
      x-sample-js-url: /js/campaigns/postFileCampaignSound.js
      x-sample-php-url: /php/campaigns/postFileCampaignSound.php
      x-sample-python-url: /python/campaigns/postFileCampaignSound.py
  /campaigns/sounds/tts:
    post:
      description: "Use this API to create a sound file via a supplied string of text. Add a text in the TextToSpeech.message field, and pick a voice in the TextToSpeech.voice field. Available voices are: MALE1, FEMALE1, FEMALE2, SPANISH1, FRENCHCANADIAN1"
      operationId: postTTSCampaignSound
      parameters:
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TextToSpeech"
        description: textToSpeech
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignSound"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Add sound via text-to-speech
      tags:
        - campaigns
      x-sample-csharp-url: /csharp/campaigns/postTTSCampaignSound.cs
      x-sample-curl-request-url: /curl/campaigns/postTTSCampaignSound.sh
      x-sample-curl-response-url: /curl/campaigns/postTTSCampaignSound.json
      x-sample-description-url: /description/campaigns/postTTSCampaignSound.md
      x-sample-go-url: /go/campaigns/postTTSCampaignSound.go
      x-sample-java-url: /java/campaigns/postTTSCampaignSound.java
      x-sample-js-url: /js/campaigns/postTTSCampaignSound.js
      x-sample-php-url: /php/campaigns/postTTSCampaignSound.php
      x-sample-python-url: /python/campaigns/postTTSCampaignSound.py
  "/campaigns/sounds/{id}":
    delete:
      description: Deletes a single campaign sound instance for a specific campaign sound id, this operation does not delete sound completely, it sets sound status to ARCHIVED which means that sound will no longer appear in 'find' operation results, but still accessible via 'get' operation
      operationId: deleteCampaignSound
      parameters:
        - description: An id of a campaign sound
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Delete a specific sound
      tags:
        - campaigns
      x-sample-csharp-url: /csharp/campaigns/deleteCampaignSound.cs
      x-sample-curl-request-url: /curl/campaigns/deleteCampaignSound.sh
      x-sample-curl-response-url: /curl/campaigns/deleteCampaignSound.json
      x-sample-description-url: /description/campaigns/deleteCampaignSound.md
      x-sample-go-url: /go/campaigns/deleteCampaignSound.go
      x-sample-java-url: /java/campaigns/deleteCampaignSound.java
      x-sample-js-url: /js/campaigns/deleteCampaignSound.js
      x-sample-php-url: /php/campaigns/deleteCampaignSound.php
      x-sample-python-url: /python/campaigns/deleteCampaignSound.py
    get:
      description: Returns a single CampaignSound instance for a given sound id in campaign. This is a meta data to the sounds. No audio data is returned from this API
      operationId: getCampaignSound
      parameters:
        - description: An id of a sound campaign
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignSound"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Find a specific sound
      tags:
        - campaigns
      x-sample-csharp-url: /csharp/campaigns/getCampaignSound.cs
      x-sample-curl-request-url: /curl/campaigns/getCampaignSound.sh
      x-sample-curl-response-url: /curl/campaigns/getCampaignSound.json
      x-sample-description-url: /description/campaigns/getCampaignSound.md
      x-sample-go-url: /go/campaigns/getCampaignSound.go
      x-sample-java-url: /java/campaigns/getCampaignSound.java
      x-sample-js-url: /js/campaigns/getCampaignSound.js
      x-sample-php-url: /php/campaigns/getCampaignSound.php
      x-sample-python-url: /python/campaigns/getCampaignSound.py
  "/campaigns/sounds/{id}.mp3":
    get:
      description: Download the MP3 version of a hosted file. This is an audio data endpoint. Returns binary response of the 'audio/mpeg' content type
      operationId: getCampaignSoundDataMp3
      parameters:
        - description: An id of a campaign sound
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            audio/mpeg:
              schema:
                $ref: "#/components/schemas/StreamingOutput"
          description: successful operation
        "400":
          content:
            audio/mpeg:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            audio/mpeg:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            audio/mpeg:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            audio/mpeg:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            audio/mpeg:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Download a MP3 sound
      tags:
        - campaigns
      x-sample-csharp-url: /csharp/campaigns/getCampaignSoundDataMp3.cs
      x-sample-curl-request-url: /curl/campaigns/getCampaignSoundDataMp3.sh
      x-sample-curl-response-url: /curl/campaigns/getCampaignSoundDataMp3.json
      x-sample-description-url: /description/campaigns/getCampaignSoundDataMp3.md
      x-sample-go-url: /go/campaigns/getCampaignSoundDataMp3.go
      x-sample-java-url: /java/campaigns/getCampaignSoundDataMp3.java
      x-sample-js-url: /js/campaigns/getCampaignSoundDataMp3.js
      x-sample-php-url: /php/campaigns/getCampaignSoundDataMp3.php
      x-sample-python-url: /python/campaigns/getCampaignSoundDataMp3.py
  "/campaigns/sounds/{id}.wav":
    get:
      description: Download the WAV version of the hosted file. This is an audio data endpoint. Returns binary response of the 'audio/mpeg' content type
      operationId: getCampaignSoundDataWav
      parameters:
        - description: An id of a campaign sound
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            audio/wav:
              schema:
                $ref: "#/components/schemas/StreamingOutput"
          description: successful operation
        "400":
          content:
            audio/wav:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            audio/wav:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            audio/wav:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            audio/wav:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            audio/wav:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Download a WAV sound
      tags:
        - campaigns
      x-sample-csharp-url: /csharp/campaigns/getCampaignSoundDataWav.cs
      x-sample-curl-request-url: /curl/campaigns/getCampaignSoundDataWav.sh
      x-sample-curl-response-url: /curl/campaigns/getCampaignSoundDataWav.json
      x-sample-description-url: /description/campaigns/getCampaignSoundDataWav.md
      x-sample-go-url: /go/campaigns/getCampaignSoundDataWav.go
      x-sample-java-url: /java/campaigns/getCampaignSoundDataWav.java
      x-sample-js-url: /js/campaigns/getCampaignSoundDataWav.js
      x-sample-php-url: /php/campaigns/getCampaignSoundDataWav.php
      x-sample-python-url: /python/campaigns/getCampaignSoundDataWav.py
  /contacts:
    get:
      description: Find user's contacts by id, contact list, or on any property name. Returns a paged list of contacts
      operationId: findContacts
      parameters:
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
        - description: To set the maximum number of records to return in a paged list response. The default is 100
          in: query
          name: limit
          required: false
          schema:
            default: 100
            format: int32
            type: integer
        - description: Offset to the start of a given page. The default is 0. Check [pagination](https://developers.callfire.com/docs.html#pagination) page for more information about pagination in CallFire API.
          in: query
          name: offset
          required: false
          schema:
            default: 0
            format: int32
            type: integer
        - description: A list of contact IDs. If the id parameter is included, the other query parameters are ignored.
          explode: true
          in: query
          name: id
          required: false
          schema:
            items:
              format: int64
              type: integer
            type: array
        - description: Multiple contact numbers can be specified. If the number parameter is included, the other query parameters are ignored.
          explode: true
          in: query
          name: number
          required: false
          schema:
            items:
              type: string
            type: array
        - description: Filters contacts by a particular contact list
          in: query
          name: contactListId
          required: false
          schema:
            format: int64
            type: integer
        - description: Name of a contact property to search by
          in: query
          name: propertyName
          required: false
          schema:
            type: string
        - description: Value of a contact property to search by
          in: query
          name: propertyValue
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactPage"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Find contacts
      tags:
        - contacts
      x-sample-csharp-url: /csharp/contacts/findContacts.cs
      x-sample-curl-request-url: /curl/contacts/findContacts.sh
      x-sample-curl-response-url: /curl/contacts/findContacts.json
      x-sample-description-url: /description/contacts/findContacts.md
      x-sample-go-url: /go/contacts/findContacts.go
      x-sample-java-url: /java/contacts/findContacts.java
      x-sample-js-url: /js/contacts/findContacts.js
      x-sample-php-url: /php/contacts/findContacts.php
      x-sample-python-url: /python/contacts/findContacts.py
    post:
      description: "Creates contacts in CallFire system. Only values from the next list can be used as external system parameter in contact creation: **NATION_BUILDER, SALES_FORCE_CONTACTS, SALES_FORCE_LEADS, SALES_FORCE_REPORTS, ZOHO, MAIL_CHIMP**. See [contacts validation rules](https://www.callfire.com/help/docs/getting-started/managing-contacts/validating-contacts#section1)"
      operationId: createContacts
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/Contact"
              type: array
        description: A list of a contact objects
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceIdList"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Create contacts
      tags:
        - contacts
      x-sample-csharp-url: /csharp/contacts/createContacts.cs
      x-sample-curl-request-url: /curl/contacts/createContacts.sh
      x-sample-curl-response-url: /curl/contacts/createContacts.json
      x-sample-description-url: /description/contacts/createContacts.md
      x-sample-go-url: /go/contacts/createContacts.go
      x-sample-java-url: /java/contacts/createContacts.java
      x-sample-js-url: /js/contacts/createContacts.js
      x-sample-php-url: /php/contacts/createContacts.php
      x-sample-python-url: /python/contacts/createContacts.py
  /contacts/dncs:
    get:
      description: Searches for all Do Not Contact (DNC) objects created by user. These DoNotContact entries only affect calls/texts/campaigns on this account. Returns a paged list of DoNotContact objects
      operationId: findDoNotContacts
      parameters:
        - description: "Limit fields received in response. E.g. fields: id, name or fields items (id, name), see more at [partial response](https://developers.callfire.com/docs.html#partial-response) page."
          in: query
          name: fields
          required: false
          schema:
            type: string
        - description: To set the maximum number of records to return in a paged list response. The default is 100
          in: query
          name: limit
          required: false
          schema:
            default: 100
            format: int32
            type: integer
        - description: Offset to the start of a given page. The default is 0. Check [pagination](https://developers.callfire.com/docs.html#pagination) page for more information about pagination in CallFire API.
          in: query
          name: offset
          required: false
          schema:
            default: 0
            format: int32
            type: integer
        - description: Prefix (1-10 digits) of phone numbers
          in: query
          name: prefix
          required: false
          schema:
            type: string
        - description: A campaign id which was used to send a message to a DNC number
          in: query
          name: campaignId
          required: false
          schema:
            format: int64
            type: integer
        - description: A DNC source name to search for DNCs
          in: query
          name: source
          required: false
          schema:
            type: string
        - description: Show only Do-Not-Call numbers
          in: query
          name: call
          required: false
          schema:
            type: boolean
        - description: Show only Do-Not-Text numbers
          in: query
          name: text
          required: false
          schema:
            type: boolean
        - description: "~"
          in: query
          name: inboundCall
          required: false
          schema:
            type: boolean
        - description: "~"
          in: query
          name: inboundText
          required: false
          schema:
            type: boolean
        - description: "~"
          explode: true
          in: query
          name: number
          required: false
          schema:
            items:
              type: string
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DoNotContactPage"
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
        - basicAuth: []
      summary: Find do not contact (dnc) items
      tags:
        - contacts
      x-sample-csharp-url: /csharp/contacts/findDoNotContacts.cs
      x-sample-curl-request-url: /curl/contacts/findDoNotContacts.sh
      x-sample-curl-response-url: /curl/contacts/findDoNotContacts.json
      x-sample-description-url: /description/contacts/findDoNotContacts.md
      x-sample-go-url: /go/contacts/findDoNotContacts.go
      x-sample-java-url: /java/contacts/findDoNotContacts.java
      x-sample-js-url: /js/contacts/findDoNotContacts.js
      x-sample-php-url: /php/contacts/findDoNotContacts.php
[...]
