openapi: 3.0.1
servers:
  - url: https://api.nfusionsolutions.biz
info:
  contact:
    email: support@nfusionsolutions.com
    name: nFusion Solutions
    url: https://nfusionsolutions.com/contact-us
    x-twitter: nfusionsolution
  description: "[nFusion Solutions](https://nfusionsolutions.com) provides [REST APIs](https://nfusionsolutions.com/data-feeds/) that deliver enterprise-grade financial data. Data sets include real-time and historical pricing for Spot prices of precious metals such as Gold, Silver, Platinum, and Palladium, exchange rates for major currency pairs, exchange rates for Crypto Currencies such as BTC, ETH, and LTC. All API access requires authentication. In order to be issued access credentials you must first enter into a service agreement with nFusion Solutions and acquire a commercial license. For information on how to obtain a licence [take a tour of our products](https://nfusionsolutions.com/nfusion-solutions-metals-gold-price-feed-tour/) or email sales@nfusionsolutions.com."
  license:
    name: Commercial License
    url: https://nfusionsolutions.com/nfusion-solutions-metals-gold-price-feed-quote/
  title: nFusion Solutions Market Data API v1
  version: "1"
  x-apisguru-categories:
    - financial
  x-logo:
    url: https://twitter.com/nfusionsolution/profile_image?size=original
  x-origin:
    - format: openapi
      url: https://api.nfusionsolutions.biz/swagger/1/swagger.json
      version: "3.0"
  x-providerName: nfusionsolutions.biz
paths:
  "/api/v{version}/Currencies/history":
    get:
      description: "Historical OHLC data for the specified period and interval size\r

        \r

        The combination of the interval parameter and start and end dates can result in results\r

        being truncated to conform to result size limits. See comments on interval parameter for details on valid interval values."
      parameters:
        - description: auth token
          in: query
          name: token
          required: true
          schema:
            description: auth token
            type: string
        - description: "comma separated list of currency pairs. For example: USD/CAD,USD/EUR,USD/AUD"
          in: query
          name: pairs
          required: true
          schema:
            description: "comma separated list of currency pairs. For example: USD/CAD,USD/EUR,USD/AUD"
            type: string
        - description: start date of time period. format is <i>yyyy-mm-dd</i>
          in: query
          name: start
          required: true
          schema:
            description: start date of time period. format is <i>yyyy-mm-dd</i>
            format: date-time
            type: string
        - description: end date of time period. format is <i>yyyy-mm-dd</i>. Default is current date.
          in: query
          name: end
          schema:
            description: end date of time period. format is <i>yyyy-mm-dd</i>. Default is current date.
            format: date-time
            nullable: true
            type: string
        - description: "aggregation interval. Composed of an optional integer value (which defaults to 1 when not specified), \r

            followed by a type string which must be one of the following values:\r

            y=year,\r

            m=month,\r

            w=week,\r

            d=day,\r

            h=hour,\r

            mi=minute\r

            \r

            For example, a yearly interval can be specified as \"y\" and 6 month interval as \"6m\". \r

            \r

            If not specified the interval parameter default is 1 Day."
          in: query
          name: interval
          schema:
            description: "aggregation interval. Composed of an optional integer value (which defaults to 1 when not specified), \r

              followed by a type string which must be one of the following values:\r

              y=year,\r

              m=month,\r

              w=week,\r

              d=day,\r

              h=hour,\r

              mi=minute\r

              \r

              For example, a yearly interval can be specified as \"y\" and 6 month interval as \"6m\". \r

              \r

              If not specified the interval parameter default is 1 Day."
            nullable: true
            type: string
        - description: to override content negotiation specify a value of json or xml
          in: query
          name: format
          schema:
            $ref: "#/components/schemas/ResponseFormat"
        - description: The requested API version
          in: path
          name: version
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/IntervalCollectionResponse"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/IntervalCollectionResponse"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      summary: Get historical prices for requested currency pairs
      tags:
        - Currencies
  "/api/v{version}/Currencies/history/supported":
    get:
      description: "Only the currency pairs in the direction noted can be used with the history endpoint.\r

        For example: USD/CAD is not the same as CAD/USD"
      parameters:
        - description: auth token
          in: query
          name: token
          required: true
          schema:
            description: auth token
            type: string
        - description: to override content negotiation specify a value of json or xml
          in: query
          name: format
          schema:
            $ref: "#/components/schemas/ResponseFormat"
        - description: The requested API version
          in: path
          name: version
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      summary: Get list of currency pairs supported by the history endpoint
      tags:
        - Currencies
  "/api/v{version}/Currencies/rate":
    get:
      description: Current Mid Rate
      parameters:
        - description: auth token
          in: query
          name: token
          required: true
          schema:
            description: auth token
            type: string
        - description: "comma separated list of currency pairs. For example: USD/CAD,USD/EUR,USD/AUD"
          in: query
          name: pairs
          required: true
          schema:
            description: "comma separated list of currency pairs. For example: USD/CAD,USD/EUR,USD/AUD"
            type: string
        - description: to override content negotiation specify a value of json or xml
          in: query
          name: format
          schema:
            $ref: "#/components/schemas/ResponseFormat"
        - description: The requested API version
          in: path
          name: version
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/RateResponse"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/RateResponse"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      summary: Get latest mid rate for requested currency pairs
      tags:
        - Currencies
  "/api/v{version}/Currencies/rate/supported":
    get:
      description: "Any of the currencies in this list can be paired with any other currency in this list when supplied to the Rate endpoint.\r

        For example: USD/CAD,CAD/USD,USD/EUR,EUR/CAD"
      parameters:
        - description: auth token
          in: query
          name: token
          required: true
          schema:
            description: auth token
            type: string
        - description: to override content negotiation specify a value of json or xml
          in: query
          name: format
          schema:
            $ref: "#/components/schemas/ResponseFormat"
        - description: The requested API version
          in: path
          name: version
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      summary: Get list of currencies supported by the rate endpoint
      tags:
        - Currencies
  "/api/v{version}/Currencies/summary":
    get:
      description: Current and daily summary information combined into a single quote
      parameters:
        - description: auth token
          in: query
          name: token
          required: true
          schema:
            description: auth token
            type: string
        - description: "comma separated list of currency pairs. For example: USD/CAD,USD/EUR,USD/AUD"
          in: query
          name: pairs
          required: true
          schema:
            description: "comma separated list of currency pairs. For example: USD/CAD,USD/EUR,USD/AUD"
            type: string
        - description: to override content negotiation specify a value of json or xml
          in: query
          name: format
          schema:
            $ref: "#/components/schemas/ResponseFormat"
        - description: The requested API version
          in: path
          name: version
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SummaryResponse"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/SummaryResponse"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      summary: Get latest Summary for requested currency pairs
      tags:
        - Currencies
  "/api/v{version}/Currencies/summary/supported":
    get:
      description: "Only the currency pairs in the direction noted can be used with the Summary endpoint.\r

        For example: USD/CAD is not the same as CAD/USD"
      parameters:
        - description: auth token
          in: query
          name: token
          required: true
          schema:
            description: auth token
            type: string
        - description: to override content negotiation specify a value of json or xml
          in: query
          name: format
          schema:
            $ref: "#/components/schemas/ResponseFormat"
        - description: The requested API version
          in: path
          name: version
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      summary: Get list of currency pairs supported by the Summary endpoint
      tags:
        - Currencies
  "/api/v{version}/Metals/benchmark/history":
    get:
      description: "Historical OHLC data for the specified period and interval size\r

        \r

        The combination of the interval parameter and start and end dates can result in results\r

        being truncated to conform to result size limits. See comments on interval parameter for details on valid interval values.\r

        \r

        The historicalfx flag is used to determine whether to apply today's fx rates to a historical period, or to apply the historical rates from that same time frame."
      parameters:
        - description: auth token
          in: query
          name: token
          required: true
          schema:
            description: auth token
            type: string
        - description: comma separated list of metals
          in: query
          name: metals
          required: true
          schema:
            description: comma separated list of metals
            type: string
        - description: start date of time period. format is <i>yyyy-mm-dd</i>
          in: query
          name: start
          required: true
          schema:
            description: start date of time period. format is <i>yyyy-mm-dd</i>
            format: date-time
            type: string
        - description: end date of time period. format is <i>yyyy-mm-dd</i>. Default is current date.
          in: query
          name: end
          schema:
            description: end date of time period. format is <i>yyyy-mm-dd</i>. Default is current date.
            format: date-time
            nullable: true
            type: string
        - description: "aggregation interval. Composed of an optional integer value (which defaults to 1 when not specified), \r

            followed by a type string which must be one of the following values:\r

            y=year,\r

            m=month,\r

            w=week,\r

            d=day,\r

            h=hour,\r

            mi=minute\r

            \r

            For example, a yearly interval can be specified as \"y\" and 6 month interval as \"6m\". \r

            \r

            If not specified the interval parameter default is 1 Day."
          in: query
          name: interval
          schema:
            description: "aggregation interval. Composed of an optional integer value (which defaults to 1 when not specified), \r

              followed by a type string which must be one of the following values:\r

              y=year,\r

              m=month,\r

              w=week,\r

              d=day,\r

              h=hour,\r

              mi=minute\r

              \r

              For example, a yearly interval can be specified as \"y\" and 6 month interval as \"6m\". \r

              \r

              If not specified the interval parameter default is 1 Day."
            nullable: true
            type: string
        - description: if true use historical currency rates otherwise current currency rates. Defaults to true.
          in: query
          name: historicalfx
          schema:
            description: if true use historical currency rates otherwise current currency rates. Defaults to true.
            nullable: true
            type: boolean
        - description: comma separated list of conversion currencies, defaults to USD
          in: query
          name: currency
          schema:
            description: comma separated list of conversion currencies, defaults to USD
            nullable: true
            type: string
        - description: "unit of meaure, defaults to troy ounces. allowed values are:\r

            mg=milligram\r

            g=gram\r

            kg=kilogram\r

            gr=grain\r

            oz=ounce\r

            toz=troy ounce\r

            ct=carat\r

            dwt=pennyweight"
          in: query
          name: unitofmeasure
          schema:
            $ref: "#/components/schemas/UnitOfMeasure"
        - description: to override content negotiation specify a value of json or xml
          in: query
          name: format
          schema:
            $ref: "#/components/schemas/ResponseFormat"
        - description: The requested API version
          in: path
          name: version
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/IntervalCollectionResponse"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/IntervalCollectionResponse"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      summary: Get historical benchmark prices for requested metals
      tags:
        - Metals
  "/api/v{version}/Metals/benchmark/summary":
    get:
      description: Benchmark price information
      parameters:
        - description: auth token
          in: query
          name: token
          required: true
          schema:
            description: auth token
            type: string
        - description: comma separated list of metals
          in: query
          name: metals
          required: true
          schema:
            description: comma separated list of metals
            type: string
        - description: comma separated list of conversion currencies, defaults to USD
          in: query
          name: currency
          schema:
            description: comma separated list of conversion currencies, defaults to USD
            nullable: true
            type: string
        - description: "unit of meaure, defaults to troy ounces. allowed values are:\r

            mg=milligram\r

            g=gram\r

            kg=kilogram\r

            gr=grain\r

            oz=ounce\r

            toz=troy ounce\r

            ct=carat\r

            dwt=pennyweight"
          in: query
          name: unitofmeasure
          schema:
            $ref: "#/components/schemas/UnitOfMeasure"
        - description: to override content negotiation specify a value of json or xml
          in: query
          name: format
          schema:
            $ref: "#/components/schemas/ResponseFormat"
        - description: The requested API version
          in: path
          name: version
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SummaryResponse"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/SummaryResponse"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      summary: Get latest Benchmark prices for requested metals
      tags:
        - Metals
  "/api/v{version}/Metals/benchmark/supported":
    get:
      description: ""
      parameters:
        - description: auth token
          in: query
          name: token
          required: true
          schema:
            description: auth token
            type: string
        - description: to override content negotiation specify a value of json or xml
          in: query
          name: format
          schema:
            $ref: "#/components/schemas/ResponseFormat"
        - description: The requested API version
          in: path
          name: version
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      summary: Get list of symbols supported by the benchmark endpoints
      tags:
        - Metals
  "/api/v{version}/Metals/spot/history":
    get:
      description: "Historical OHLC data for the specified period and interval size\r

        \r

        The combination of the interval parameter and start and end dates can result in results\r

        being truncated to conform to result size limits. See comments on interval parameter for details on valid interval values.\r

        \r

        The historicalfx flag is used to determine whether to apply today's fx rates to a historical period, or to apply the historical rates from that same time frame."
      parameters:
        - description: auth token
          in: query
          name: token
          required: true
          schema:
            description: auth token
            type: string
        - description: comma separated list of metals
          in: query
          name: metals
          required: true
          schema:
            description: comma separated list of metals
            type: string
        - description: start date of time period. format is <i>yyyy-mm-dd</i>
          in: query
          name: start
          required: true
          schema:
            description: start date of time period. format is <i>yyyy-mm-dd</i>
            format: date-time
            type: string
        - description: end date of time period. format is <i>yyyy-mm-dd</i>. Default is current date.
          in: query
          name: end
          schema:
            description: end date of time period. format is <i>yyyy-mm-dd</i>. Default is current date.
            format: date-time
            nullable: true
            type: string
        - description: "aggregation interval. Composed of an optional integer value (which defaults to 1 when not specified), \r

            followed by a type string which must be one of the following values:\r

            y=year,\r

            m=month,\r

            w=week,\r

            d=day,\r

            h=hour,\r

            mi=minute\r

            \r

            For example, a yearly interval can be specified as \"y\" and 6 month interval as \"6m\". \r

            \r

            If not specified the interval parameter default is 1 Day."
          in: query
          name: interval
          schema:
            description: "aggregation interval. Composed of an optional integer value (which defaults to 1 when not specified), \r

              followed by a type string which must be one of the following values:\r

              y=year,\r

              m=month,\r

              w=week,\r

              d=day,\r

              h=hour,\r

              mi=minute\r

              \r

              For example, a yearly interval can be specified as \"y\" and 6 month interval as \"6m\". \r

              \r

              If not specified the interval parameter default is 1 Day."
            nullable: true
            type: string
        - description: if true use historical currency rates otherwise current currency rates. Defaults to true.
          in: query
          name: historicalfx
          schema:
            description: if true use historical currency rates otherwise current currency rates. Defaults to true.
            nullable: true
            type: boolean
        - description: comma separated list of conversion currencies, defaults to USD
          in: query
          name: currency
          schema:
            description: comma separated list of conversion currencies, defaults to USD
            nullable: true
            type: string
        - description: "unit of meaure, defaults to troy ounces. allowed values are:\r

            mg=milligram\r

            g=gram\r

            kg=kilogram\r

            gr=grain\r

            oz=ounce\r

            toz=troy ounce\r

            ct=carat\r

            dwt=pennyweight"
          in: query
          name: unitofmeasure
          schema:
            $ref: "#/components/schemas/UnitOfMeasure"
        - description: to override content negotiation specify a value of json or xml
          in: query
          name: format
          schema:
            $ref: "#/components/schemas/ResponseFormat"
        - description: The requested API version
          in: path
          name: version
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/IntervalCollectionResponse"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/IntervalCollectionResponse"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      summary: Get historical Spot prices for requested metals
      tags:
        - Metals
  "/api/v{version}/Metals/spot/performance":
    get:
      description: Historical Performance information
      parameters:
        - description: auth token
          in: query
          name: token
          required: true
          schema:
            description: auth token
            type: string
        - description: comma separated list of metals
          in: query
          name: metals
          required: true
          schema:
            description: comma separated list of metals
            type: string
        - description: comma separated list of conversion currencies, defaults to USD
          in: query
          name: currency
          schema:
            description: comma separated list of conversion currencies, defaults to USD
            nullable: true
            type: string
        - description: "unit of meaure, defaults to troy ounces. allowed values are:\r

            mg=milligram\r

            g=gram\r

            kg=kilogram\r

            gr=grain\r

            oz=ounce\r

            toz=troy ounce\r

            ct=carat\r

            dwt=pennyweight"
          in: query
          name: unitofmeasure
          schema:
            $ref: "#/components/schemas/UnitOfMeasure"
        - description: to override content negotiation specify a value of json or xml
          in: query
          name: format
          schema:
            $ref: "#/components/schemas/ResponseFormat"
        - description: The requested API version
          in: path
          name: version
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/IntervalCollectionResponse"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/IntervalCollectionResponse"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      summary: Get Historical Performance for requested metals
      tags:
        - Metals
  "/api/v{version}/Metals/spot/performance/annual":
    get:
      description: Annual Historical Performance information
      parameters:
        - description: auth token
          in: query
          name: token
          required: true
          schema:
            description: auth token
            type: string
        - description: comma separated list of metals
          in: query
          name: metals
          required: true
          schema:
            description: comma separated list of metals
            type: string
        - description: comma separated list of conversion currencies, defaults to USD
          in: query
          name: currency
          schema:
            description: comma separated list of conversion currencies, defaults to USD
            nullable: true
            type: string
        - description: "unit of meaure, defaults to troy ounces. allowed values are:\r

            mg=milligram\r

            g=gram\r

            kg=kilogram\r

            gr=grain\r

            oz=ounce\r

            toz=troy ounce\r

            ct=carat\r

            dwt=pennyweight"
          in: query
          name: unitofmeasure
          schema:
            $ref: "#/components/schemas/UnitOfMeasure"
        - description: to override content negotiation specify a value of json or xml
          in: query
          name: format
          schema:
            $ref: "#/components/schemas/ResponseFormat"
        - description: Number of years of history to return. Defaults to 10.
          in: query
          name: years
          schema:
            description: Number of years of history to return. Defaults to 10.
            format: int32
            nullable: true
            type: integer
        - description: The requested API version
          in: path
          name: version
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/IntervalCollectionResponse"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/IntervalCollectionResponse"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      summary: Get Historical Annual Performance for requested metals
      tags:
        - Metals
  "/api/v{version}/Metals/spot/ratio/history":
    get:
      description: "Historical data for the specified period and interval size\r

        \r

        The combination of the interval parameter and start and end dates can result in results\r

        being truncated to conform to result size limits. See comments on interval parameter for details on valid interval values."
      parameters:
        - description: auth token
          in: query
          name: token
          required: true
          schema:
            description: auth token
            type: string
        - description: comma separated list of metals
          in: query
          name: pairs
          required: true
          schema:
            description: comma separated list of metals
            type: string
        - description: start date of time period. format is <i>yyyy-mm-dd</i>
          in: query
          name: start
          required: true
          schema:
            description: start date of time period. format is <i>yyyy-mm-dd</i>
            format: date-time
            type: string
        - description: end date of time period. format is <i>yyyy-mm-dd</i>. Default is current date.
          in: query
          name: end
          schema:
            description: end date of time period. format is <i>yyyy-mm-dd</i>. Default is current date.
            format: date-time
            nullable: true
            type: string
        - description: "aggregation interval. Composed of an optional integer value (which defaults to 1 when not specified), \r

            followed by a type string which must be one of the following values:\r

            y=year,\r

            m=month,\r

            w=week,\r

            d=day,\r

            h=hour,\r

            mi=minute\r

            \r

            For example, a yearly interval can be specified as \"y\" and 6 month interval as \"6m\". \r

            \r

            If not specified the interval parameter default is 1 Day."
          in: query
          name: interval
          schema:
            description: "aggregation interval. Composed of an optional integer value (which defaults to 1 when not specified), \r

              followed by a type string which must be one of the following values:\r

              y=year,\r

              m=month,\r

              w=week,\r

              d=day,\r

              h=hour,\r

              mi=minute\r

              \r

              For example, a yearly interval can be specified as \"y\" and 6 month interval as \"6m\". \r

              \r

              If not specified the interval parameter default is 1 Day."
            nullable: true
            type: string
        - description: to override content negotiation specify a value of json or xml
          in: query
          name: format
          schema:
            $ref: "#/components/schemas/ResponseFormat"
        - description: The requested API version
          in: path
          name: version
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/IntervalCollectionResponse"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/IntervalCollectionResponse"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      summary: Get historical Spot Ratio prices for requested metals
      tags:
        - Metals
  "/api/v{version}/Metals/spot/ratio/summary":
    get:
      description: Ratios between prices of two metals
      parameters:
        - description: auth token
          in: query
          name: token
          required: true
          schema:
            description: auth token
            type: string
        - description: "comma separated list of metal pairs. For example: gold/silver,gold/platinum,silver/palladium"
          in: query
          name: pairs
          required: true
          schema:
            description: "comma separated list of metal pairs. For example: gold/silver,gold/platinum,silver/palladium"
            type: string
        - description: to override content negotiation specify a value of json or xml
          in: query
          name: format
          schema:
            $ref: "#/components/schemas/ResponseFormat"
        - description: The requested API version
          in: path
          name: version
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SummaryResponse"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/SummaryResponse"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      summary: Get latest Spot Summary for requested metal ratios
      tags:
        - Metals
  "/api/v{version}/Metals/spot/summary":
    get:
      description: Current and daily summary information combined into a single quote
      parameters:
        - description: auth token
          in: query
          name: token
          required: true
          schema:
            description: auth token
            type: string
        - description: comma separated list of metals
          in: query
          name: metals
          required: true
          schema:
            description: comma separated list of metals
            type: string
        - description: comma separated list of conversion currencies, defaults to USD
          in: query
          name: currency
          schema:
            description: comma separated list of conversion currencies, defaults to USD
            nullable: true
            type: string
        - description: "unit of meaure, defaults to troy ounces. allowed values are:\r

            mg=milligram\r

            g=gram\r

            kg=kilogram\r

            gr=grain\r

            oz=ounce\r

            toz=troy ounce\r

            ct=carat\r

            dwt=pennyweight"
          in: query
          name: unitofmeasure
          schema:
            $ref: "#/components/schemas/UnitOfMeasure"
        - description: to override content negotiation specify a value of json or xml
          in: query
          name: format
          schema:
            $ref: "#/components/schemas/ResponseFormat"
        - description: The requested API version
          in: path
          name: version
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SummaryResponse"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/SummaryResponse"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      summary: Get latest Spot Summary for requested metals
      tags:
        - Metals
  "/api/v{version}/Metals/spot/supported":
    get:
      description: ""
      parameters:
        - description: auth token
          in: query
          name: token
          required: true
          schema:
            description: auth token
            type: string
        - description: to override content negotiation specify a value of json or xml
          in: query
          name: format
          schema:
            $ref: "#/components/schemas/ResponseFormat"
        - description: The requested API version
          in: path
          name: version
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      summary: Get list of symbols supported by the spot endpoints
      tags:
        - Metals
  "/api/v{version}/Metals/supported/currency":
    get:
      description: ""
      parameters:
        - description: auth token
          in: query
          name: token
          required: true
          schema:
            description: auth token
            type: string
        - description: to override content negotiation specify a value of json or xml
          in: query
          name: format
          schema:
            $ref: "#/components/schemas/ResponseFormat"
        - description: The requested API version
          in: path
          name: version
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            application/xml:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      summary: Get list of currencies supported by metals endpoints for currency conversion
      tags:
        - Metals
components:
  schemas:
    Interval:
      additionalProperties: false
      properties:
        change:
          format: double
          nullable: true
          type: number
        changePercent:
          format: double
          nullable: true
          type: number
        end:
          format: date-time
          type: string
        high:
          format: double
          nullable: true
          type: number
        last:
          format: double
          nullable: true
          type: number
        low:
          format: double
          nullable: true
          type: number
        open:
          format: double
          nullable: true
          type: number
        start:
          format: date-time
          type: string
      type: object
    IntervalCollection:
      additionalProperties: false
      properties:
        baseCurrency:
          nullable: true
          type: string
        intervals:
          items:
            $ref: "#/components/schemas/Interval"
          nullable: true
          type: array
        name:
          nullable: true
          type: string
        symbol:
          nullable: true
          type: string
      type: object
    IntervalCollectionResponse:
      additionalProperties: false
      properties:
        data:
          $ref: "#/components/schemas/IntervalCollection"
        error:
          nullable: true
          type: string
        requestedCurrency:
          nullable: true
          type: string
        requestedSymbol:
          nullable: true
          type: string
        requestedUnitOfMeasure:
          nullable: true
          type: string
        success:
          type: boolean
      type: object
    ProblemDetails:
      additionalProperties: {}
      properties:
        detail:
          nullable: true
          type: string
        instance:
          nullable: true
          type: string
        status:
          format: int32
          nullable: true
          type: integer
        title:
          nullable: true
          type: string
        type:
          nullable: true
          type: string
      type: object
    Rate:
      additionalProperties: false
      properties:
        symbol:
          nullable: true
          type: string
        timestamp:
          format: date-time
          nullable: true
          type: string
        value:
          format: double
          nullable: true
          type: number
      type: object
    RateResponse:
      additionalProperties: false
      properties:
        data:
          $ref: "#/components/schemas/Rate"
        error:
          nullable: true
          type: string
        requestedCurrency:
          nullable: true
          type: string
        requestedSymbol:
          nullable: true
          type: string
        requestedUnitOfMeasure:
          nullable: true
          type: string
        success:
          type: boolean
      type: object
    ResponseFormat:
      enum:
        - json
        - xml
      type: string
    Summary:
      additionalProperties: false
      properties:
        ask:
          format: double
          nullable: true
          type: number
        baseCurrency:
          nullable: true
          type: string
        bid:
          format: double
          nullable: true
          type: number
        fiftyTwoWeekHigh:
          format: double
          nullable: true
          type: number
        fiftyTwoWeekLow:
          format: double
          nullable: true
          type: number
        fiftyTwoWeekPercentChange:
          format: double
          nullable: true
          type: number
        fourWeekPercentChange:
          format: double
          nullable: true
          type: number
        high:
          format: double
          nullable: true
          type: number
        last:
          format: double
          nullable: true
          type: number
        low:
          format: double
          nullable: true
          type: number
        oneDayChange:
          format: double
          nullable: true
          type: number
        oneDayPercentChange:
          format: double
          nullable: true
          type: number
        oneDayValue:
          format: double
          nullable: true
          type: number
        open:
          format: double
          nullable: true
          type: number
        symbol:
          nullable: true
          type: string
        timeStamp:
          format: date-time
          type: string
        twelveWeekPercentChange:
          format: double
          nullable: true
          type: number
        yearToDatePercentChange:
          format: double
          nullable: true
          type: number
      type: object
    SummaryResponse:
      additionalProperties: false
      properties:
        data:
          $ref: "#/components/schemas/Summary"
        error:
          nullable: true
          type: string
        requestedCurrency:
          nullable: true
          type: string
        requestedSymbol:
          nullable: true
          type: string
        requestedUnitOfMeasure:
          nullable: true
          type: string
        success:
          type: boolean
      type: object
    UnitOfMeasure:
      enum:
        - mg
        - g
        - kg
        - gr
        - oz
        - toz
        - ct
        - dwt
      type: string
