swagger: '2.0'
schemes:
  - https
host: cloudbuild.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Creates and manages builds on Google Cloud Platform.
  title: Cloud Build
  version: v1alpha1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.25
      format: google
      url: 'https://cloudbuild.googleapis.com/$discovery/rest?version=v1alpha1'
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: cloudbuild
externalDocs:
  url: 'https://cloud.google.com/cloud-build/docs/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: projects
paths:
  '/v1alpha1/{name}':
    delete:
      description: |-
        Deletes a `WorkerPool` by its project ID and WorkerPool ID.

        This API is experimental.
      operationId: cloudbuild.projects.workerPools.delete
      parameters:
        - description: |-
            The field will contain name of the resource requested, for example:
            "projects/project-1/workerPools/workerpool-name"
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    get:
      description: |-
        Returns information about a `WorkerPool`.

        This API is experimental.
      operationId: cloudbuild.projects.workerPools.get
      parameters:
        - description: |-
            The field will contain name of the resource requested, for example:
            "projects/project-1/workerPools/workerpool-name"
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/WorkerPool'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    patch:
      description: |-
        Update a `WorkerPool`.

        This API is experimental.
      operationId: cloudbuild.projects.workerPools.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/WorkerPool'
        - description: |-
            The field will contain name of the resource requested, for example:
            "projects/project-1/workerPools/workerpool-name"
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/WorkerPool'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1alpha1/{parent}/workerPools':
    get:
      description: |-
        List project's `WorkerPool`s.

        This API is experimental.
      operationId: cloudbuild.projects.workerPools.list
      parameters:
        - description: ID of the parent project.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListWorkerPoolsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a `WorkerPool` to run the builds, and returns the new worker pool.

        This API is experimental.
      operationId: cloudbuild.projects.workerPools.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/WorkerPool'
        - description: ID of the parent project.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/WorkerPool'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
definitions:
  ArtifactObjects:
    description: |-
      Files in the workspace to upload to Cloud Storage upon successful
      completion of all build steps.
    properties:
      location:
        description: |-
          Cloud Storage bucket and optional object path, in the form
          "gs://bucket/path/to/somewhere/". (see [Bucket Name
          Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).

          Files in the workspace matching any path pattern will be uploaded to
          Cloud Storage with this location as a prefix.
        type: string
      paths:
        description: Path globs used to match files in the build's workspace.
        items:
          type: string
        type: array
      timing:
        $ref: '#/definitions/TimeSpan'
        description: Output only. Stores timing information for pushing all artifact objects.
    type: object
  ArtifactResult:
    description: |-
      An artifact that was uploaded during a build. This
      is a single record in the artifact manifest JSON file.
    properties:
      fileHash:
        description: The file hash of the artifact.
        items:
          $ref: '#/definitions/FileHashes'
        type: array
      location:
        description: |-
          The path of an artifact in a Google Cloud Storage bucket, with the
          generation number. For example,
          `gs://mybucket/path/to/output.jar#generation`.
        type: string
    type: object
  Artifacts:
    description: |-
      Artifacts produced by a build that should be uploaded upon
      successful completion of all build steps.
    properties:
      images:
        description: |-
          A list of images to be pushed upon the successful completion of all build
          steps.

          The images will be pushed using the builder service account's credentials.

          The digests of the pushed images will be stored in the Build resource's
          results field.

          If any of the images fail to be pushed, the build is marked FAILURE.
        items:
          type: string
        type: array
      objects:
        $ref: '#/definitions/ArtifactObjects'
        description: |-
          A list of objects to be uploaded to Cloud Storage upon successful
          completion of all build steps.

          Files in the workspace matching specified paths globs will be uploaded to
          the specified Cloud Storage location using the builder service account's
          credentials.

          The location and generation of the uploaded objects will be stored in the
          Build resource's results field.

          If any objects fail to be pushed, the build is marked FAILURE.
    type: object
  Build:
    description: |-
      A build resource in the Cloud Build API.

      At a high level, a `Build` describes where to find source code, how to build
      it (for example, the builder image to run on the source), and where to store
      the built artifacts.

      Fields can include the following variables, which will be expanded when the
      build is created:

      - $PROJECT_ID: the project ID of the build.
      - $BUILD_ID: the autogenerated ID of the build.
      - $REPO_NAME: the source repository name specified by RepoSource.
      - $BRANCH_NAME: the branch name specified by RepoSource.
      - $TAG_NAME: the tag name specified by RepoSource.
      - $REVISION_ID or $COMMIT_SHA: the commit SHA specified by RepoSource or
        resolved from the specified branch or tag.
      - $SHORT_SHA: first 7 characters of $REVISION_ID or $COMMIT_SHA.
    properties:
      artifacts:
        $ref: '#/definitions/Artifacts'
        description: |-
          Artifacts produced by the build that should be uploaded upon
          successful completion of all build steps.
      buildTriggerId:
        description: |-
          Output only. The ID of the `BuildTrigger` that triggered this build, if it
          was triggered automatically.
        type: string
      createTime:
        description: Output only. Time at which the request to create the build was received.
        format: google-datetime
        type: string
      finishTime:
        description: |-
          Output only. Time at which execution of the build was finished.

          The difference between finish_time and start_time is the duration of the
          build's execution.
        format: google-datetime
        type: string
      id:
        description: Output only. Unique identifier of the build.
        type: string
      images:
        description: |-
          A list of images to be pushed upon the successful completion of all build
          steps.

          The images are pushed using the builder service account's credentials.

          The digests of the pushed images will be stored in the `Build` resource's
          results field.

          If any of the images fail to be pushed, the build status is marked
          `FAILURE`.
        items:
          type: string
        type: array
      logUrl:
        description: Output only. URL to logs for this build in Google Cloud Console.
        type: string
      logsBucket:
        description: |-
          Google Cloud Storage bucket where logs should be written (see
          [Bucket Name
          Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).
          Logs file names will be of the format `${logs_bucket}/log-${build_id}.txt`.
        type: string
      options:
        $ref: '#/definitions/BuildOptions'
        description: Special options for this build.
      projectId:
        description: Output only. ID of the project.
        type: string
      results:
        $ref: '#/definitions/Results'
        description: Output only. Results of the build.
      secrets:
        description: Secrets to decrypt using Cloud Key Management Service.
        items:
          $ref: '#/definitions/Secret'
        type: array
      source:
        $ref: '#/definitions/Source'
        description: The location of the source files to build.
      sourceProvenance:
        $ref: '#/definitions/SourceProvenance'
        description: Output only. A permanent fixed identifier for source.
      startTime:
        description: Output only. Time at which execution of the build was started.
        format: google-datetime
        type: string
      status:
        description: Output only. Status of the build.
        enum:
          - STATUS_UNKNOWN
          - QUEUED
          - WORKING
          - SUCCESS
          - FAILURE
          - INTERNAL_ERROR
          - TIMEOUT
          - CANCELLED
        type: string
      statusDetail:
        description: Output only. Customer-readable message about the current status.
        type: string
      steps:
        description: Required. The operations to be performed on the workspace.
        items:
          $ref: '#/definitions/BuildStep'
        type: array
      substitutions:
        additionalProperties:
          type: string
        description: Substitutions data for `Build` resource.
        type: object
      tags:
        description: Tags for annotation of a `Build`. These are not docker tags.
        items:
          type: string
        type: array
      timeout:
        description: |-
          Amount of time that this build should be allowed to run, to second
          granularity. If this amount of time elapses, work on the build will cease
          and the build status will be `TIMEOUT`.

          Default time is ten minutes.
        format: google-duration
        type: string
      timing:
        additionalProperties:
          $ref: '#/definitions/TimeSpan'
        description: |-
          Output only. Stores timing information for phases of the build. Valid keys
          are:

          * BUILD: time to execute all build steps
          * PUSH: time to push all specified images.
          * FETCHSOURCE: time to fetch source.

          If the build does not specify source or images,
          these keys will not be included.
        type: object
    type: object
  BuildOperationMetadata:
    description: Metadata for build operations.
    properties:
      build:
        $ref: '#/definitions/Build'
        description: The build that the operation is tracking.
    type: object
  BuildOptions:
    description: Optional arguments to enable specific features of builds.
    properties:
      diskSizeGb:
        description: |-
          Requested disk size for the VM that runs the build. Note that this is *NOT*
          "disk free"; some of the space will be used by the operating system and
          build utilities. Also note that this is the minimum disk size that will be
          allocated for the build -- the build may run with a larger disk than
          requested. At present, the maximum disk size is 1000GB; builds that request
          more than the maximum are rejected with an error.
        format: int64
        type: string
      env:
        description: |-
          A list of global environment variable definitions that will exist for all
          build steps in this build. If a variable is defined in both globally and in
          a build step, the variable will use the build step value.

          The elements are of the form "KEY=VALUE" for the environment variable "KEY"
          being given the value "VALUE".
        items:
          type: string
        type: array
      logStreamingOption:
        description: |-
          Option to define build log streaming behavior to Google Cloud
          Storage.
        enum:
          - STREAM_DEFAULT
          - STREAM_ON
          - STREAM_OFF
        type: string
      logging:
        description: |-
          Option to specify the logging mode, which determines where the logs are
          stored.
        enum:
          - LOGGING_UNSPECIFIED
          - LEGACY
          - GCS_ONLY
        type: string
      machineType:
        description: Compute Engine machine type on which to run the build.
        enum:
          - UNSPECIFIED
          - N1_HIGHCPU_8
          - N1_HIGHCPU_32
        type: string
      requestedVerifyOption:
        description: Requested verifiability options.
        enum:
          - NOT_VERIFIED
          - VERIFIED
        type: string
      secretEnv:
        description: |-
          A list of global environment variables, which are encrypted using a Cloud
          Key Management Service crypto key. These values must be specified in the
          build's `Secret`. These variables will be available to all build steps
          in this build.
        items:
          type: string
        type: array
      sourceProvenanceHash:
        description: Requested hash for SourceProvenance.
        items:
          enum:
            - NONE
            - SHA256
            - MD5
          type: string
        type: array
      substitutionOption:
        description: |-
          Option to specify behavior when there is an error in the substitution
          checks.
        enum:
          - MUST_MATCH
          - ALLOW_LOOSE
        type: string
      volumes:
        description: |-
          Global list of volumes to mount for ALL build steps

          Each volume is created as an empty volume prior to starting the build
          process. Upon completion of the build, volumes and their contents are
          discarded. Global volume names and paths cannot conflict with the volumes
          defined a build step.

          Using a global volume in a build with only one step is not valid as
          it is indicative of a build request with an incorrect configuration.
        items:
          $ref: '#/definitions/Volume'
        type: array
      workerPool:
        description: |-
          Option to specify a `WorkerPool` for the build. User specifies the pool
          with the format "[WORKERPOOL_PROJECT_ID]/[WORKERPOOL_NAME]".
          This is an experimental field.
        type: string
    type: object
  BuildStep:
    description: A step in the build pipeline.
    properties:
      args:
        description: |-
          A list of arguments that will be presented to the step when it is started.

          If the image used to run the step's container has an entrypoint, the `args`
          are used as arguments to that entrypoint. If the image does not define
          an entrypoint, the first element in args is used as the entrypoint,
          and the remainder will be used as arguments.
        items:
          type: string
        type: array
      dir:
        description: |-
          Working directory to use when running this step's container.

          If this value is a relative path, it is relative to the build's working
          directory. If this value is absolute, it may be outside the build's working
          directory, in which case the contents of the path may not be persisted
          across build step executions, unless a `volume` for that path is specified.

          If the build specifies a `RepoSource` with `dir` and a step with a `dir`,
          which specifies an absolute path, the `RepoSource` `dir` is ignored for
          the step's execution.
        type: string
      entrypoint:
        description: |-
          Entrypoint to be used instead of the build step image's default entrypoint.
          If unset, the image's default entrypoint is used.
        type: string
      env:
        description: |-
          A list of environment variable definitions to be used when running a step.

          The elements are of the form "KEY=VALUE" for the environment variable "KEY"
          being given the value "VALUE".
        items:
          type: string
        type: array
      id:
        description: |-
          Unique identifier for this build step, used in `wait_for` to
          reference this build step as a dependency.
        type: string
      name:
        description: |-
          Required. The name of the container image that will run this particular
          build step.

          If the image is available in the host's Docker daemon's cache, it
          will be run directly. If not, the host will attempt to pull the image
          first, using the builder service account's credentials if necessary.

          The Docker daemon's cache will already have the latest versions of all of
          the officially supported build steps
          ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)).
          The Docker daemon will also have cached many of the layers for some popular
          images, like "ubuntu", "debian", but they will be refreshed at the time you
          attempt to use them.

          If you built an image in a previous build step, it will be stored in the
          host's Docker daemon's cache and is available to use as the name for a
          later build step.
        type: string
      pullTiming:
        $ref: '#/definitions/TimeSpan'
        description: |-
          Output only. Stores timing information for pulling this build step's
          builder image only.
      secretEnv:
        description: |-
          A list of environment variables which are encrypted using a Cloud Key
          Management Service crypto key. These values must be specified in the
          build's `Secret`.
        items:
          type: string
        type: array
      status:
        description: |-
          Output only. Status of the build step. At this time, build step status is
          only updated on build completion; step status is not updated in real-time
          as the build progresses.
        enum:
          - STATUS_UNKNOWN
          - QUEUED
          - WORKING
          - SUCCESS
          - FAILURE
          - INTERNAL_ERROR
          - TIMEOUT
          - CANCELLED
        type: string
      timeout:
        description: |-
          Time limit for executing this build step. If not defined, the step has no
          time limit and will be allowed to continue to run until either it completes
          or the build itself times out.
        format: google-duration
        type: string
      timing:
        $ref: '#/definitions/TimeSpan'
        description: Output only. Stores timing information for executing this build step.
      volumes:
        description: |-
          List of volumes to mount into the build step.

          Each volume is created as an empty volume prior to execution of the
          build step. Upon completion of the build, volumes and their contents are
          discarded.

          Using a named volume in only one step is not valid as it is indicative
          of a build request with an incorrect configuration.
        items:
          $ref: '#/definitions/Volume'
        type: array
      waitFor:
        description: |-
          The ID(s) of the step(s) that this build step depends on.
          This build step will not start until all the build steps in `wait_for`
          have completed successfully. If `wait_for` is empty, this build step will
          start when all previous build steps in the `Build.Steps` list have
          completed successfully.
        items:
          type: string
        type: array
    type: object
  BuiltImage:
    description: An image built by the pipeline.
    properties:
      digest:
        description: Docker Registry 2.0 digest.
        type: string
      name:
        description: |-
          Name used to push the container image to Google Container Registry, as
          presented to `docker push`.
        type: string
      pushTiming:
        $ref: '#/definitions/TimeSpan'
        description: Output only. Stores timing information for pushing the specified image.
    type: object
  Empty:
    description: |-
      A generic empty message that you can re-use to avoid defining duplicated
      empty messages in your APIs. A typical example is to use it as the request
      or the response type of an API method. For instance:

          service Foo {
            rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);
          }

      The JSON representation for `Empty` is empty JSON object `{}`.
    properties: {}
    type: object
  FileHashes:
    description: |-
      Container message for hashes of byte content of files, used in
      SourceProvenance messages to verify integrity of source input to the build.
    properties:
      fileHash:
        description: Collection of file hashes.
        items:
          $ref: '#/definitions/Hash'
        type: array
    type: object
  Hash:
    description: Container message for hash values.
    properties:
      type:
        description: The type of hash that was performed.
        enum:
          - NONE
          - SHA256
          - MD5
        type: string
      value:
        description: The hash value.
        format: byte
        type: string
    type: object
  ListWorkerPoolsResponse:
    description: Response containing existing `WorkerPools`.
    properties:
      workerPools:
        description: '`WorkerPools` for the project.'
        items:
          $ref: '#/definitions/WorkerPool'
        type: array
    type: object
  Network:
    description: Network describes the GCP network used to create workers in.
    properties:
      network:
        description: |-
          Network on which the workers are created.
          "default" network is used if empty.
        type: string
      projectId:
        description: |-
          Project id containing the defined network and subnetwork. For a peered VPC,
          this will be the same as the project_id in which the workers are created.
          For a shared VPC, this will be the project sharing the network with the
          project_id project in which workers will be created. For custom workers
          with no VPC, this will be the same as project_id.
        type: string
      subnetwork:
        description: |-
          Subnetwork on which the workers are created.
          "default" subnetwork is used if empty.
        type: string
    type: object
  RepoSource:
    description: Location of the source in a Google Cloud Source Repository.
    properties:
      branchName:
        description: Name of the branch to build.
        type: string
      commitSha:
        description: Explicit commit SHA to build.
        type: string
      dir:
        description: |-
          Directory, relative to the source root, in which to run the build.

          This must be a relative path. If a step's `dir` is specified and is an
          absolute path, this value is ignored for that step's execution.
        type: string
      projectId:
        description: |-
          ID of the project that owns the Cloud Source Repository. If omitted, the
          project ID requesting the build is assumed.
        type: string
      repoName:
        description: |-
          Name of the Cloud Source Repository. If omitted, the name "default" is
          assumed.
        type: string
      tagName:
        description: Name of the tag to build.
        type: string
    type: object
  Results:
    description: Artifacts created by the build pipeline.
    properties:
      artifactManifest:
        description: Path to the artifact manifest. Only populated when artifacts are uploaded.
        type: string
      buildStepImages:
        description: |-
          List of build step digests, in the order corresponding to build step
          indices.
        items:
          type: string
        type: array
      buildStepOutputs:
        description: |-
          List of build step outputs, produced by builder images, in the order
          corresponding to build step indices.

          [Cloud Builders](https://cloud.google.com/cloud-build/docs/cloud-builders)
          can produce this output by writing to `$BUILDER_OUTPUT/output`.
          Only the first 4KB of data is stored.
        items:
          format: byte
          type: string
        type: array
      images:
        description: Container images that were built as a part of the build.
        items:
          $ref: '#/definitions/BuiltImage'
        type: array
      numArtifacts:
        description: Number of artifacts uploaded. Only populated when artifacts are uploaded.
        format: int64
        type: string
    type: object
  Secret:
    description: |-
      Pairs a set of secret environment variables containing encrypted
      values with the Cloud KMS key to use to decrypt the value.
    properties:
      kmsKeyName:
        description: Cloud KMS key name to use to decrypt these envs.
        type: string
      secretEnv:
        additionalProperties:
          format: byte
          type: string
        description: |-
          Map of environment variable name to its encrypted value.

          Secret environment variables must be unique across all of a build's
          secrets, and must be used by at least one build step. Values can be at most
          64 KB in size. There can be at most 100 secret values across all of a
          build's secrets.
        type: object
    type: object
  Source:
    description: Location of the source in a supported storage service.
    properties:
      repoSource:
        $ref: '#/definitions/RepoSource'
        description: |-
          If provided, get the source from this location in a Cloud Source
          Repository.
      storageSource:
        $ref: '#/definitions/StorageSource'
        description: 'If provided, get the source from this location in Google Cloud Storage.'
    type: object
  SourceProvenance:
    description: |-
      Provenance of the source. Ways to find the original source, or verify that
      some source was used for this build.
    properties:
      fileHashes:
        additionalProperties:
          $ref: '#/definitions/FileHashes'
        description: |-
          Output only. Hash(es) of the build source, which can be used to verify that
          the original source integrity was maintained in the build. Note that
          `FileHashes` will only be populated if `BuildOptions` has requested a
          `SourceProvenanceHash`.

          The keys to this map are file paths used as build source and the values
          contain the hash values for those files.

          If the build source came in a single package such as a gzipped tarfile
          (`.tar.gz`), the `FileHash` will be for the single path to that file.
        type: object
      resolvedRepoSource:
        $ref: '#/definitions/RepoSource'
        description: |-
          A copy of the build's `source.repo_source`, if exists, with any
          revisions resolved.
      resolvedStorageSource:
        $ref: '#/definitions/StorageSource'
        description: |-
          A copy of the build's `source.storage_source`, if exists, with any
          generations resolved.
    type: object
  StorageSource:
    description: Location of the source in an archive file in Google Cloud Storage.
    properties:
      bucket:
        description: |-
          Google Cloud Storage bucket containing the source (see
          [Bucket Name
          Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).
        type: string
      generation:
        description: |-
          Google Cloud Storage generation for the object. If the generation is
          omitted, the latest generation will be used.
        format: int64
        type: string
      object:
        description: |-
          Google Cloud Storage object containing the source.

          This object must be a gzipped archive file (`.tar.gz`) containing source to
          build.
        type: string
    type: object
  TimeSpan:
    description: Start and end times for a build execution phase.
    properties:
      endTime:
        description: End of time span.
        format: google-datetime
        type: string
      startTime:
        description: Start of time span.
        format: google-datetime
        type: string
    type: object
  Volume:
    description: |-
      Volume describes a Docker container volume which is mounted into build steps
      in order to persist files across build step execution.
    properties:
      name:
        description: |-
          Name of the volume to mount.

          Volume names must be unique per build step and must be valid names for
          Docker volumes. Each named volume must be used by at least two build steps.
        type: string
      path:
        description: |-
          Path at which to mount the volume.

          Paths must be absolute and cannot conflict with other volume paths on the
          same build step or with certain reserved volume paths.
        type: string
    type: object
  WorkerConfig:
    description: |-
      WorkerConfig defines the configuration to be used for a creating workers in
      the pool.
    properties:
      diskSizeGb:
        description: |-
          Size of the disk attached to the worker, in GB.
          See https://cloud.google.com/compute/docs/disks/
          If `0` is specified, Cloud Build will use a standard disk size.
          `disk_size` is overridden if you specify a different disk size in
          `build_options`. In this case, a VM with a disk size specified in the
          `build_options` will be created on demand at build time. For more
          information see
          https://cloud.google.com/cloud-build/docs/api/reference/rest/v1/projects.builds#buildoptions
        format: int64
        type: string
      machineType:
        description: |-
          Machine Type of the worker, such as n1-standard-1.
          See https://cloud.google.com/compute/docs/machine-types.
          If left blank, Cloud Build will use a standard unspecified machine to
          create the worker pool.
          `machine_type` is overridden if you specify a different machine type in
          `build_options`. In this case, the VM specified in the `build_options`
          will be created on demand at build time. For more information see
          https://cloud.google.com/cloud-build/docs/speeding-up-builds#using_custom_virtual_machine_sizes
        type: string
      network:
        $ref: '#/definitions/Network'
        description: |-
          The network definition used to create the worker.
          If this section is left empty, the workers will be created in
          WorkerPool.project_id on the default network.
      tag:
        description: |-
          The tag applied to the worker, and the same tag used by the firewall rule.
          It is used to identify the Cloud Build workers among other VMs.
          The default value for tag is `worker`.
        type: string
    type: object
  WorkerPool:
    description: |-
      Configuration for a WorkerPool to run the builds.

      Workers are machines that Cloud Build uses to run your builds. By default,
      all workers run in a project owned by Cloud Build. To have full control over
      the workers that execute your builds -- such as enabling them to access
      private resources on your private network -- you can request Cloud Build to
      run the workers in your own project by creating a custom workers pool.
    properties:
      createTime:
        description: |-
          Output only. Time at which the request to create the `WorkerPool` was
          received.
        format: google-datetime
        type: string
      deleteTime:
        description: |-
          Output only. Time at which the request to delete the `WorkerPool` was
          received.
        format: google-datetime
        type: string
      name:
        description: User-defined name of the `WorkerPool`.
        type: string
      projectId:
        description: The project ID of the GCP project in which the `WorkerPool` is created.
        type: string
      regions:
        description: |-
          List of regions to create the `WorkerPool`. Regions can't be empty.
          If Cloud Build adds a new GCP region in the future, the existing
          `WorkerPool` will not be enabled in the new region automatically;
          you must add the new region to the `regions` field to enable the
          `WorkerPool` in that region.
        items:
          enum:
            - REGION_UNSPECIFIED
            - us-central1
            - us-west1
            - us-east1
            - us-east4
          type: string
        type: array
      serviceAccountEmail:
        description: |-
          Output only. The service account used to manage the `WorkerPool`. The
          service account must have the Compute Instance Admin (Beta) permission at
          the project level.
        type: string
      status:
        description: Output only. WorkerPool Status.
        enum:
          - STATUS_UNSPECIFIED
          - CREATING
          - RUNNING
          - DELETING
          - DELETED
        type: string
      updateTime:
        description: |-
          Output only. Time at which the request to update the `WorkerPool` was
          received.
        format: google-datetime
        type: string
      workerConfig:
        $ref: '#/definitions/WorkerConfig'
        description: Configuration to be used for a creating workers in the `WorkerPool`.
      workerCount:
        description: Total number of workers to be created across all requested regions.
        format: int64
        type: string
    type: object
