openapi: 3.0.0
servers:
  - url: 'https://management.azure.com/'
info:
  description: Microsoft.Intune Resource provider Api features in the swagger-2.0 specification
  title: IntuneResourceManagementClient
  version: 2015-01-14-preview
  x-apisguru-categories:
    - enterprise
    - cloud
    - collaboration
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-intune/2015-01-14-preview/swagger/intune.json'
      version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: arm-intune
  x-tags:
    - Azure
    - Microsoft
    - mobile
    - Office
    - security
    - management
paths:
  /providers/Microsoft.Intune/locations:
    get:
      description: Returns location for user tenant.
      operationId: GetLocations
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: location response as a collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/hostName:
    get:
      description: Returns location for given tenant.
      operationId: GetLocationByHostName
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: single location response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/providers/Microsoft.Intune/locations/{hostName}/AndroidPolicies/{policyName}/apps':
    get:
      description: Get apps for an AndroidMAMPolicy.
      operationId: Android_GetAppForMAMPolicy
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: Unique name for the policy
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - description: select specific fields in entity.
          in: query
          name: $select
          required: false
          schema:
            type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  '/providers/Microsoft.Intune/locations/{hostName}/androidPolicies':
    get:
      description: Returns Intune Android policies.
      operationId: Android_GetMAMPolicies
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - description: select specific fields in entity.
          in: query
          name: $select
          required: false
          schema:
            type: string
      responses:
        '200':
          description: android Policies response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicyCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  '/providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}':
    delete:
      description: Delete Android Policy
      operationId: Android_DeleteMAMPolicy
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: Unique name for the policy
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      description: Returns AndroidMAMPolicy with given name.
      operationId: Android_GetMAMPolicyByName
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: Unique name for the policy
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - description: select specific fields in entity.
          in: query
          name: $select
          required: false
          schema:
            type: string
      responses:
        '200':
          description: iOSMAMPolicy entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicy'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Patch AndroidMAMPolicy.
      operationId: Android_PatchMAMPolicy
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: Unique name for the policy
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: android entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicy'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        $ref: '#/components/requestBodies/AndroidMAMPolicy'
    put:
      description: Creates or updates AndroidMAMPolicy.
      operationId: Android_CreateOrUpdateMAMPolicy
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: Unique name for the policy
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: android entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicy'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        $ref: '#/components/requestBodies/AndroidMAMPolicy'
  '/providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/apps/{appName}':
    delete:
      description: Delete App for Android Policy
      operationId: Android_DeleteAppForMAMPolicy
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: Unique name for the policy
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - description: application unique Name
          in: path
          name: appName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      description: Add app to an AndroidMAMPolicy.
      operationId: Android_AddAppForMAMPolicy
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: Unique name for the policy
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - description: application unique Name
          in: path
          name: appName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        $ref: '#/components/requestBodies/MAMPolicyAppIdOrGroupIdPayload'
  '/providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/groups':
    get:
      description: Returns groups for a given AndroidMAMPolicy.
      operationId: Android_GetGroupsForMAMPolicy
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: policy name for the tenant
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: groups as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  '/providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/groups/{groupId}':
    delete:
      description: Delete Group for Android Policy
      operationId: Android_DeleteGroupForMAMPolicy
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: Unique name for the policy
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - description: application unique Name
          in: path
          name: groupId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      description: Add group to an AndroidMAMPolicy.
      operationId: Android_AddGroupForMAMPolicy
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: Unique name for the policy
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - description: group Id
          in: path
          name: groupId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        $ref: '#/components/requestBodies/MAMPolicyAppIdOrGroupIdPayload'
  '/providers/Microsoft.Intune/locations/{hostName}/apps':
    get:
      description: Returns Intune Manageable apps.
      operationId: GetApps
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - description: select specific fields in entity.
          in: query
          name: $select
          required: false
          schema:
            type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  '/providers/Microsoft.Intune/locations/{hostName}/flaggedUsers':
    get:
      description: Returns Intune flagged user collection
      operationId: GetMAMFlaggedUsers
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - description: select specific fields in entity.
          in: query
          name: $select
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Flagged users as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlaggedUserCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  '/providers/Microsoft.Intune/locations/{hostName}/flaggedUsers/{userName}':
    get:
      description: Returns Intune flagged user details
      operationId: GetMAMFlaggedUserByName
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: Flagged userName
          in: path
          name: userName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - description: select specific fields in entity.
          in: query
          name: $select
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Flagged user details in response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlaggedUser'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/providers/Microsoft.Intune/locations/{hostName}/flaggedUsers/{userName}/flaggedEnrolledApps':
    get:
      description: Returns Intune flagged enrolled app collection for the User
      operationId: GetMAMUserFlaggedEnrolledApps
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: User name for the tenant
          in: path
          name: userName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - description: select specific fields in entity.
          in: query
          name: $select
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Flagged enrolled Apps as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlaggedEnrolledAppCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  '/providers/Microsoft.Intune/locations/{hostName}/iosPolicies':
    get:
      description: Returns Intune iOSPolicies.
      operationId: Ios_GetMAMPolicies
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - description: select specific fields in entity.
          in: query
          name: $select
          required: false
          schema:
            type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IOSMAMPolicyCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  '/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}':
    delete:
      description: Delete Ios Policy
      operationId: Ios_DeleteMAMPolicy
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: Unique name for the policy
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      description: Returns Intune iOS policies.
      operationId: Ios_GetMAMPolicyByName
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: Unique name for the policy
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - description: select specific fields in entity.
          in: query
          name: $select
          required: false
          schema:
            type: string
      responses:
        '200':
          description: iOSMAMPolicy entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOSMAMPolicy'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: ' patch an iOSMAMPolicy.'
      operationId: Ios_PatchMAMPolicy
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: Unique name for the policy
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: iOSMAMPolicy entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOSMAMPolicy'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        $ref: '#/components/requestBodies/iOSMAMPolicy'
    put:
      description: Creates or updates iOSMAMPolicy.
      operationId: Ios_CreateOrUpdateMAMPolicy
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: Unique name for the policy
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: iOSMAMPolicy entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOSMAMPolicy'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        $ref: '#/components/requestBodies/iOSMAMPolicy'
  '/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/apps':
    get:
      description: Get apps for an iOSMAMPolicy.
      operationId: Ios_GetAppForMAMPolicy
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: Unique name for the policy
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - description: select specific fields in entity.
          in: query
          name: $select
          required: false
          schema:
            type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  '/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/apps/{appName}':
    delete:
      description: Delete App for Ios Policy
      operationId: Ios_DeleteAppForMAMPolicy
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: Unique name for the policy
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - description: application unique Name
          in: path
          name: appName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      description: Add app to an iOSMAMPolicy.
      operationId: Ios_AddAppForMAMPolicy
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: Unique name for the policy
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - description: application unique Name
          in: path
          name: appName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MAMPolicyAppIdOrGroupIdPayload'
        description: Parameters supplied to add an app to an ios policy.
        required: true
  '/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/groups':
    get:
      description: Returns groups for a given iOSMAMPolicy.
      operationId: Ios_GetGroupsForMAMPolicy
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: policy name for the tenant
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: groups as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  '/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/groups/{groupId}':
    delete:
      description: Delete Group for iOS Policy
      operationId: Ios_DeleteGroupForMAMPolicy
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: Unique name for the policy
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - description: application unique Name
          in: path
          name: groupId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      description: Add group to an iOSMAMPolicy.
      operationId: Ios_AddGroupForMAMPolicy
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: Unique name for the policy
          in: path
          name: policyName
          required: true
          schema:
            type: string
        - description: group Id
          in: path
          name: groupId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        $ref: '#/components/requestBodies/MAMPolicyAppIdOrGroupIdPayload'
  '/providers/Microsoft.Intune/locations/{hostName}/operationResults':
    get:
      description: Returns operationResults.
      operationId: GetOperationResults
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - description: select specific fields in entity.
          in: query
          name: $select
          required: false
          schema:
            type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  '/providers/Microsoft.Intune/locations/{hostName}/statuses/default':
    get:
      description: Returns Intune Tenant level statuses.
      operationId: GetMAMStatuses
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusesDefault'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  '/providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices':
    get:
      description: Get devices for a user.
      operationId: GetMAMUserDevices
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: user unique Name
          in: path
          name: userName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - description: select specific fields in entity.
          in: query
          name: $select
          required: false
          schema:
            type: string
      responses:
        '200':
          description: devices as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  '/providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices/{deviceName}':
    get:
      description: Get a unique device for a user.
      operationId: GetMAMUserDeviceByDeviceName
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: unique user name
          in: path
          name: userName
          required: true
          schema:
            type: string
        - description: device name
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - description: select specific fields in entity.
          in: query
          name: $select
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Device entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices/{deviceName}/wipe':
    post:
      description: Wipe a device for a user.
      operationId: WipeMAMUserDevice
      parameters:
        - description: Location hostName for the tenant
          in: path
          name: hostName
          required: true
          schema:
            type: string
        - description: unique user name
          in: path
          name: userName
          required: true
          schema:
            type: string
        - description: device name
          in: path
          name: deviceName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Wipe operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WipeDeviceOperationResult'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    AndroidMAMPolicy:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Android Policy entity for Intune MAM.
      properties:
        properties:
          $ref: '#/components/schemas/AndroidMAMPolicyProperties'
    AndroidMAMPolicyCollection:
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/AndroidMAMPolicy'
          type: array
      required:
        - value
    AndroidMAMPolicyProperties:
      allOf:
        - $ref: '#/components/schemas/MAMPolicyProperties'
      description: Intune MAM iOS Policy Properties.
      properties:
        fileEncryption:
          default: required
          enum:
            - required
            - notRequired
          type: string
        screenCapture:
          default: allow
          enum:
            - allow
            - block
          type: string
    Application:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Application entity for Intune MAM.
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationProperties'
    ApplicationCollection:
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/Application'
          type: array
      required:
        - value
    ApplicationProperties:
      properties:
        appId:
          type: string
        friendlyName:
          type: string
        platform:
          default: ios
          enum:
            - ios
            - android
            - windows
          type: string
      required:
        - friendlyName
        - platform
    Device:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Device entity for Intune.
      properties:
        properties:
          $ref: '#/components/schemas/DeviceProperties'
    DeviceCollection:
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/Device'
          type: array
      required:
        - value
    DeviceProperties:
      properties:
        deviceType:
          type: string
        friendlyName:
          type: string
        platform:
          type: string
        platformVersion:
          type: string
        userId:
          type: string
      required:
        - userId
        - friendlyName
        - platform
        - platformVersion
        - deviceType
    Error:
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
    FlaggedEnrolledApp:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Flagged Enrolled App for the given tenant.
      properties:
        properties:
          $ref: '#/components/schemas/FlaggedEnrolledAppProperties'
    FlaggedEnrolledAppCollection:
      description: Flagged Enrolled App collection for the given tenant.
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/FlaggedEnrolledApp'
          type: array
      required:
        - value
    FlaggedEnrolledAppError:
      properties:
        errorCode:
          readOnly: true
          type: string
        severity:
          readOnly: true
          type: string
    FlaggedEnrolledAppProperties:
      properties:
        deviceType:
          readOnly: true
          type: string
        errors:
          items:
            $ref: '#/components/schemas/FlaggedEnrolledAppError'
          type: array
        friendlyName:
          readOnly: true
          type: string
        lastModifiedTime:
          readOnly: true
          type: string
        platform:
          readOnly: true
          type: string
    FlaggedUser:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Flagged user for the given tenant.
      properties:
        properties:
          $ref: '#/components/schemas/FlaggedUserProperties'
    FlaggedUserCollection:
      description: Flagged user collection for the given tenant.
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/FlaggedUser'
          type: array
      required:
        - value
    FlaggedUserProperties:
      properties:
        errorCount:
          readOnly: true
          type: integer
        friendlyName:
          readOnly: true
          type: string
    GroupItem:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Group entity for Intune MAM.
      properties:
        properties:
          $ref: '#/components/schemas/GroupProperties'
    GroupProperties:
      properties:
        friendlyName:
          type: string
      required:
        - friendlyName
    GroupsCollection:
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/GroupItem'
          type: array
      required:
        - value
    IOSMAMPolicyCollection:
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/iOSMAMPolicy'
          type: array
      required:
        - value
    Location:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Location entity for given tenant.
      properties:
        properties:
          $ref: '#/components/schemas/LocationProperties'
    LocationCollection:
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/Location'
          type: array
      required:
        - value
    LocationProperties:
      properties:
        hostName:
          type: string
      required:
        - hostName
    MAMPolicyAppIdOrGroupIdPayload:
      description: MAM Policy request body for properties Intune MAM.
      properties:
        properties:
          $ref: '#/components/schemas/MAMPolicyAppOrGroupIdProperties'
    MAMPolicyAppOrGroupIdProperties:
      description: Android Policy request body for Intune MAM.
      properties:
        url:
          type: string
      required:
        - url
    MAMPolicyProperties:
      properties:
        accessRecheckOfflineTimeout:
          format: duration
          type: string
        accessRecheckOnlineTimeout:
          format: duration
          type: string
        appSharingFromLevel:
          default: none
          enum:
            - none
            - policyManagedApps
            - allApps
          type: string
        appSharingToLevel:
          default: none
          enum:
            - none
            - policyManagedApps
            - allApps
          type: string
        authentication:
          default: required
          enum:
            - required
            - notRequired
          type: string
        clipboardSharingLevel:
          default: blocked
          enum:
            - blocked
            - policyManagedApps
            - policyManagedAppsWithPasteIn
            - allApps
          type: string
        dataBackup:
          default: allow
          enum:
            - allow
            - block
          type: string
        description:
          type: string
        deviceCompliance:
          default: enable
          enum:
            - enable
            - disable
          type: string
        fileSharingSaveAs:
          default: allow
          enum:
            - allow
            - block
          type: string
        friendlyName:
          type: string
        groupStatus:
          default: notTargeted
          enum:
            - notTargeted
            - targeted
          readOnly: true
          type: string
        lastModifiedTime:
          format: date-time
          readOnly: true
          type: string
        managedBrowser:
          default: required
          enum:
            - required
            - notRequired
          type: string
        numOfApps:
          readOnly: true
          type: integer
        offlineWipeTimeout:
          format: duration
          type: string
        pin:
          default: required
          enum:
            - required
            - notRequired
          type: string
        pinNumRetry:
          type: integer
      required:
        - friendlyName
    OperationResult:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: OperationResult entity for Intune.
      properties:
        properties:
          $ref: '#/components/schemas/OperationResultProperties'
    OperationResultCollection:
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        value:
          items:
            $ref: '#/components/schemas/OperationResult'
          type: array
      required:
        - value
    OperationResultProperties:
      properties:
        category:
          type: string
        friendlyName:
          type: string
        lastModifiedTime:
          type: string
        operationMetadata:
          items:
            $ref: '#/components/schemas/operationMetadataProperties'
          type: array
        state:
          type: string
      required:
        - friendlyName
        - operationMetadata
    Resource:
      properties:
        id:
          description: Resource Id
          readOnly: true
          type: string
        location:
          description: Resource Location
          type: string
        name:
          description: Resource name
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource Tags
          type: object
        type:
          description: Resource type
          readOnly: true
          type: string
      x-ms-azure-resource: true
    StatusesDefault:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Default Statuses entity for the given tenant.
      properties:
        nextlink:
          description: Gets the URL to get the next set of results.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/StatusesProperties'
    StatusesProperties:
      properties:
        deployedPolicies:
          readOnly: true
          type: integer
        enrolledUsers:
          readOnly: true
          type: integer
        flaggedUsers:
          readOnly: true
          type: integer
        lastModifiedTime:
          format: date-time
          readOnly: true
          type: string
        policyAppliedUsers:
          readOnly: true
          type: integer
        status:
          readOnly: true
          type: string
        wipeFailedApps:
          readOnly: true
          type: integer
        wipePendingApps:
          readOnly: true
          type: integer
        wipeSucceededApps:
          readOnly: true
          type: integer
    WipeDeviceOperationResult:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Device entity for Intune.
      properties:
        properties:
          $ref: '#/components/schemas/WipeDeviceOperationResultProperties'
    WipeDeviceOperationResultProperties:
      properties:
        value:
          type: string
      required:
        - value
    iOSMAMPolicy:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: iOS Policy entity for Intune MAM.
      properties:
        properties:
          $ref: '#/components/schemas/iOSMAMPolicyProperties'
    iOSMAMPolicyProperties:
      allOf:
        - $ref: '#/components/schemas/MAMPolicyProperties'
      description: Intune MAM iOS Policy Properties.
      properties:
        fileEncryptionLevel:
          default: deviceLocked
          enum:
            - deviceLocked
            - deviceLockedExceptFilesOpen
            - afterDeviceRestart
            - useDeviceSettings
          type: string
        touchId:
          default: enable
          enum:
            - enable
            - disable
          type: string
    operationMetadataProperties:
      properties:
        name:
          type: string
        value:
          type: string
      required:
        - name
        - value
  parameters:
    ApiVersionParameter:
      description: Service Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
  requestBodies:
    AndroidMAMPolicy:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AndroidMAMPolicy'
      description: Parameters supplied to the Create or update an android policy operation.
      required: true
    MAMPolicyAppIdOrGroupIdPayload:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MAMPolicyAppIdOrGroupIdPayload'
      description: Parameters supplied to the Create or update app to an android policy operation.
      required: true
    iOSMAMPolicy:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/iOSMAMPolicy'
      description: Parameters supplied to the Create or update an android policy operation.
      required: true
