swagger: '2.0'
schemes:
  - http
  - https
host: api.fantasydata.net
basePath: /v3/nba/articles-rotoballer
info:
  contact:
    x-twitter: nfldata
  title: NBA v3 RotoBaller Articles
  version: '1.0'
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: 'https://twitter.com/nfldata/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://fantasydata.com/downloads/swagger/nba-v3-rotoballer-articles.json'
      version: '2.0'
  x-providerName: fantasydata.net
  x-serviceName: nba-v3-rotoballer-articles
produces:
  - application/json
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
  apiKeyQuery:
    in: query
    name: subscription-key
    type: apiKey
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
paths:
  '/{format}/RotoBallerArticles':
    get:
      operationId: RotoballerArticles
      parameters:
        - default: xml
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Article'
            type: array
      summary: RotoBaller Articles
  '/{format}/RotoBallerArticlesByDate/{date}':
    get:
      operationId: RotoballerArticlesByDate
      parameters:
        - default: xml
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
        - description: |-
            The date of the news.
            <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
          in: path
          name: date
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Article'
            type: array
      summary: RotoBaller Articles by Date
  '/{format}/RotoBallerArticlesByPlayerID/{playerid}':
    get:
      operationId: RotoballerArticlesByPlayer
      parameters:
        - default: xml
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Unique FantasyData Player ID.
            Example:<code>10000507</code>.
          in: path
          name: playerid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Article'
            type: array
      summary: RotoBaller Articles by Player
definitions:
  Article:
    properties:
      ArticleID:
        type: integer
      Author:
        type: string
      Content:
        type: string
      Players:
        items:
          $ref: '#/definitions/PlayerInfo'
        type: array
      Source:
        type: string
      TermsOfUse:
        type: string
      Title:
        type: string
      Updated:
        type: string
      Url:
        type: string
  PlayerInfo:
    properties:
      Name:
        type: string
      PlayerID:
        type: integer
      Position:
        type: string
      Team:
        type: string
      TeamID:
        type: integer
