swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: Azure Log Analytics API reference
  title: Azure Log Analytics
  version: 2015-11-01-preview
  x-apisguru-categories:
    - analytics
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-operationalinsights/2015-11-01-preview/swagger/OperationalInsights.json'
    version: '2.0'
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: arm-operationalinsights
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupNameParameter:
    description: The name of the resource group to get. The name is case insensitive.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: '^[-\w\._\(\)]+$'
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.OperationalInsights/workspaces':
    get:
      description: Gets the workspaces in a subscription.
      operationId: Workspaces_List
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/WorkspaceListResult'
      tags:
        - Workspaces
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces':
    get:
      description: Gets workspaces in a resource group.
      operationId: Workspaces_ListByResourceGroup
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/WorkspaceListResult'
      tags:
        - Workspaces
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}':
    delete:
      description: Deletes a workspace instance.
      operationId: Workspaces_Delete
      parameters:
        - description: The resource group name of the workspace.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the Log Analytics Workspace.
          in: path
          name: workspaceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
        '204':
          description: NoContent response definition.
      tags:
        - Workspaces
    get:
      description: Gets a workspace instance.
      operationId: Workspaces_Get
      parameters:
        - description: The resource group name of the workspace.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the Log Analytics Workspace.
          in: path
          name: workspaceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/Workspace'
      tags:
        - Workspaces
    put:
      description: Create or update a workspace.
      operationId: Workspaces_CreateOrUpdate
      parameters:
        - description: The resource group name of the workspace.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the workspace.
          in: path
          maxLength: 63
          minLength: 4
          name: workspaceName
          pattern: '^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$'
          required: true
          type: string
        - description: The parameters required to create or update a workspace.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/Workspace'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/Workspace'
        '201':
          description: Created response definition.
          schema:
            $ref: '#/definitions/Workspace'
      tags:
        - Workspaces
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/dataSources':
    get:
      description: Gets the first page of data source instances in a workspace with the link to the next page.
      operationId: DataSources_ListByWorkspace
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: The workspace that contains the data sources.
          in: path
          name: workspaceName
          required: true
          type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: true
          type: string
        - description: Starting point of the collection of data source instances.
          in: query
          name: $skiptoken
          required: false
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/DataSourceListResult'
      tags:
        - DataSources
      x-ms-odata: '#/definitions/DataSourceFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/dataSources/{dataSourceName}':
    delete:
      description: Deletes a data source instance.
      operationId: DataSources_Delete
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Name of the Log Analytics Workspace that contains the datasource.
          in: path
          name: workspaceName
          required: true
          type: string
        - description: Name of the datasource.
          in: path
          name: dataSourceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
        '204':
          description: NoContent response definition.
      tags:
        - DataSources
    get:
      description: Gets a datasource instance.
      operationId: DataSources_Get
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Name of the Log Analytics Workspace that contains the datasource.
          in: path
          name: workspaceName
          required: true
          type: string
        - description: Name of the datasource
          in: path
          name: dataSourceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/DataSource'
      tags:
        - DataSources
    put:
      description: Create or update a data source.
      operationId: DataSources_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Name of the Log Analytics Workspace that will contain the datasource
          in: path
          name: workspaceName
          required: true
          type: string
        - description: The name of the datasource resource.
          in: path
          name: dataSourceName
          required: true
          type: string
        - description: The parameters required to create or update a datasource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/DataSource'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/DataSource'
        '201':
          description: Created response definition.
          schema:
            $ref: '#/definitions/DataSource'
      tags:
        - DataSources
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/intelligencePacks':
    get:
      description: Lists all the intelligence packs possible and whether they are enabled or disabled for a given workspace.
      operationId: Workspaces_ListIntelligencePacks
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Name of the Log Analytics Workspace.
          in: path
          name: workspaceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            items:
              $ref: '#/definitions/IntelligencePack'
            type: array
      tags:
        - Workspaces
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/intelligencePacks/{intelligencePackName}/Disable':
    post:
      description: Disables an intelligence pack for a given workspace.
      operationId: Workspaces_DisableIntelligencePack
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Name of the Log Analytics Workspace.
          in: path
          name: workspaceName
          required: true
          type: string
        - description: The name of the intelligence pack to be disabled.
          in: path
          name: intelligencePackName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
      tags:
        - Workspaces
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/intelligencePacks/{intelligencePackName}/Enable':
    post:
      description: Enables an intelligence pack for a given workspace.
      operationId: Workspaces_EnableIntelligencePack
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Name of the Log Analytics Workspace.
          in: path
          name: workspaceName
          required: true
          type: string
        - description: The name of the intelligence pack to be enabled.
          in: path
          name: intelligencePackName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
      tags:
        - Workspaces
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/linkedServices':
    get:
      description: Gets the linked services instances in a workspace.
      operationId: LinkedServices_ListByWorkspace
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Name of the Log Analytics Workspace that contains the linked services.
          in: path
          name: workspaceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/LinkedServiceListResult'
      tags:
        - LinkedServices
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/linkedServices/{linkedServiceName}':
    delete:
      description: Deletes a linked service instance.
      operationId: LinkedServices_Delete
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Name of the Log Analytics Workspace that contains the linkedServices resource
          in: path
          name: workspaceName
          required: true
          type: string
        - description: Name of the linked service.
          in: path
          name: linkedServiceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
        '204':
          description: NoContent response definition.
      tags:
        - LinkedServices
    get:
      description: Gets a linked service instance.
      operationId: LinkedServices_Get
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Name of the Log Analytics Workspace that contains the linkedServices resource
          in: path
          name: workspaceName
          required: true
          type: string
        - description: Name of the linked service.
          in: path
          name: linkedServiceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/LinkedService'
      tags:
        - LinkedServices
    put:
      description: Create or update a linked service.
      operationId: LinkedServices_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Name of the Log Analytics Workspace that will contain the linkedServices resource
          in: path
          name: workspaceName
          required: true
          type: string
        - description: Name of the linkedServices resource
          in: path
          name: linkedServiceName
          required: true
          type: string
        - description: The parameters required to create or update a linked service.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/LinkedService'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/LinkedService'
        '201':
          description: Created response definition.
          schema:
            $ref: '#/definitions/LinkedService'
      tags:
        - LinkedServices
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/managementGroups':
    get:
      description: Gets a list of management groups connected to a workspace.
      operationId: Workspaces_ListManagementGroups
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: The name of the workspace.
          in: path
          name: workspaceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/WorkspaceListManagementGroupsResult'
      tags:
        - Workspaces
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/sharedKeys':
    post:
      description: Gets the shared keys for a workspace.
      operationId: Workspaces_GetSharedKeys
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Name of the Log Analytics Workspace.
          in: path
          name: workspaceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/SharedKeys'
      tags:
        - Workspaces
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/usages':
    get:
      description: Gets a list of usage metrics for a workspace.
      operationId: Workspaces_ListUsages
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: The name of the workspace.
          in: path
          name: workspaceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/WorkspaceListUsagesResult'
      tags:
        - Workspaces
      x-ms-pageable: {}
definitions:
  DataSource:
    allOf:
      - $ref: '#/definitions/ProxyResource'
    description: Datasources under OMS Workspace.
    properties:
      eTag:
        description: The ETag of the data source.
        type: string
      kind:
        $ref: '#/definitions/DataSourceKind'
      properties:
        $ref: '#/definitions/Object'
        description: 'The data source properties in raw json format, each kind of data source have it''s own schema.'
    required:
      - kind
      - properties
  DataSourceFilter:
    description: 'DataSource filter. Right now, only filter by kind is supported.'
    properties:
      kind:
        $ref: '#/definitions/DataSourceKind'
  DataSourceKind:
    description: The kind of the DataSource.
    enum:
      - AzureActivityLog
      - ChangeTrackingPath
      - ChangeTrackingDefaultPath
      - ChangeTrackingDefaultRegistry
      - ChangeTrackingCustomRegistry
      - CustomLog
      - CustomLogCollection
      - GenericDataSource
      - IISLogs
      - LinuxPerformanceObject
      - LinuxPerformanceCollection
      - LinuxSyslog
      - LinuxSyslogCollection
      - WindowsEvent
      - WindowsPerformanceCounter
    type: string
    x-ms-enum:
      modelAsString: true
      name: DataSourceKind
  DataSourceListResult:
    description: The list data source by workspace operation response.
    properties:
      nextLink:
        description: The link (url) to the next page of datasources.
        type: string
      value:
        description: A list of datasources.
        items:
          $ref: '#/definitions/DataSource'
        type: array
  IntelligencePack:
    description: Intelligence Pack containing a string name and boolean indicating if it's enabled.
    properties:
      enabled:
        description: The enabled boolean for the intelligence pack.
        type: boolean
      name:
        description: The name of the intelligence pack.
        type: string
  LinkedService:
    allOf:
      - $ref: '#/definitions/ProxyResource'
    description: The top level Linked service resource container.
    properties:
      properties:
        $ref: '#/definitions/LinkedServiceProperties'
        description: The properties of the linked service.
        x-ms-client-flatten: true
    required:
      - properties
  LinkedServiceListResult:
    description: The list linked service operation response.
    properties:
      value:
        description: Gets or sets a list of linked service instances.
        items:
          $ref: '#/definitions/LinkedService'
        type: array
  LinkedServiceProperties:
    description: Linked service properties.
    properties:
      resourceId:
        description: The resource id of the resource that will be linked to the workspace.
        type: string
    required:
      - resourceId
  ManagementGroup:
    description: A management group that is connected to a workspace
    properties:
      properties:
        $ref: '#/definitions/ManagementGroupProperties'
        description: The properties of the management group.
        x-ms-client-flatten: true
  ManagementGroupProperties:
    description: Management group properties.
    properties:
      created:
        description: The datetime that the management group was created.
        format: date-time
        type: string
      dataReceived:
        description: The last datetime that the management group received data.
        format: date-time
        type: string
      id:
        description: The unique ID of the management group.
        type: string
      isGateway:
        description: Gets or sets a value indicating whether the management group is a gateway.
        type: boolean
      name:
        description: The name of the management group.
        type: string
      serverCount:
        description: The number of servers connected to the management group.
        format: int32
        type: integer
      sku:
        description: The SKU of System Center that is managing the management group.
        type: string
      version:
        description: The version of System Center that is managing the management group.
        type: string
  MetricName:
    description: The name of a metric.
    properties:
      localizedValue:
        description: The localized name of the metric.
        type: string
      value:
        description: The system name of the metric.
        type: string
  Object:
    description: JSON object
    properties: {}
    type: object
  ProxyResource:
    description: Common properties of proxy resource.
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Resource type.
        readOnly: true
        type: string
  Resource:
    description: The resource definition.
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Resource type
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  SharedKeys:
    description: The shared keys for a workspace.
    properties:
      primarySharedKey:
        description: The primary shared key of a workspace.
        type: string
      secondarySharedKey:
        description: The secondary shared key of a workspace.
        type: string
  Sku:
    description: The SKU (tier) of a workspace.
    properties:
      name:
        description: The name of the SKU.
        enum:
          - Free
          - Standard
          - Premium
          - Unlimited
          - PerNode
          - Standalone
        type: string
        x-ms-enum:
          modelAsString: true
          name: SkuNameEnum
    required:
      - name
  UsageMetric:
    description: A metric describing the usage of a resource.
    properties:
      currentValue:
        description: The current value of the metric.
        format: double
        type: number
      limit:
        description: The quota limit for the metric.
        format: double
        type: number
      name:
        $ref: '#/definitions/MetricName'
        description: The name of the metric.
      nextResetTime:
        description: The time that the metric's value will reset.
        format: date-time
        type: string
      quotaPeriod:
        description: The quota period that determines the length of time between value resets.
        type: string
      unit:
        description: The units used for the metric.
        type: string
  Workspace:
    allOf:
      - $ref: '#/definitions/Resource'
    description: The top level Workspace resource container.
    properties:
      eTag:
        description: The ETag of the workspace.
        type: string
      properties:
        $ref: '#/definitions/WorkspaceProperties'
        description: Workspace properties.
        x-ms-client-flatten: true
  WorkspaceListManagementGroupsResult:
    description: The list workspace managmement groups operation response.
    properties:
      value:
        description: Gets or sets a list of management groups attached to the workspace.
        items:
          $ref: '#/definitions/ManagementGroup'
        type: array
  WorkspaceListResult:
    description: The list workspaces operation response.
    properties:
      value:
        description: A list of workspaces.
        items:
          $ref: '#/definitions/Workspace'
        type: array
  WorkspaceListUsagesResult:
    description: The list workspace usages operation response.
    properties:
      value:
        description: Gets or sets a list of usage metrics for a workspace.
        items:
          $ref: '#/definitions/UsageMetric'
        type: array
  WorkspaceProperties:
    description: Workspace properties.
    properties:
      customerId:
        description: The ID associated with the workspace.  Setting this value at creation time allows the workspace being created to be linked to an existing workspace.
        type: string
      portalUrl:
        description: The URL of the Operational Insights portal for this workspace.  This value is set on the service side and read-only on the client side.
        type: string
      provisioningState:
        description: The provisioning state of the workspace.
        enum:
          - Creating
          - Succeeded
          - Failed
          - Canceled
          - Deleting
          - ProvisioningAccount
        type: string
        x-ms-enum:
          modelAsString: true
          name: EntityStatus
      retentionInDays:
        description: 'The workspace data retention in days. -1 means Unlimited retention for the Unlimited Sku. 730 days is the maximum allowed for all other Skus. '
        format: int32
        maximum: 730
        minimum: -1
        type: integer
      sku:
        $ref: '#/definitions/Sku'
        description: The SKU of the workspace.
      source:
        description: The source of the workspace.  Source defines where the workspace was created. 'Azure' implies it was created in Azure.  'External' implies it was created via the Operational Insights Portal. This value is set on the service side and read-only on the client side.
        type: string
