swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /deploymentmanager/v2beta/projects
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'The Deployment Manager API allows users to declaratively configure, deploy and run complex solutions on the Google Cloud Platform.'
  title: Google Cloud Deployment Manager API V2Beta Methods
  version: v2beta
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://cloud.google.com/_static/images/new-gcp-logo.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.6.2
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/deploymentmanager/v2beta/rest'
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: deploymentmanager
externalDocs:
  url: 'https://developers.google.com/deployment-manager/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/ndev.cloudman': View and manage your Google Cloud Platform management resources and deployment status information
      'https://www.googleapis.com/auth/ndev.cloudman.readonly': View your Google Cloud Platform management resources and deployment status information
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: compositeTypes
  - name: deployments
  - name: manifests
  - name: operations
  - name: resources
  - name: typeProviders
  - name: types
paths:
  '/{project}/global/compositeTypes':
    get:
      description: Lists all composite types for Deployment Manager.
      operationId: deploymentmanager.compositeTypes.list
      parameters:
        - description: |-
            A filter expression that filters resources listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either =, !=, >, or <.

            For example, if you are filtering Compute Engine instances, you can exclude instances named example-instance by specifying name != example-instance.

            You can also filter nested fields. For example, you could specify scheduling.automaticRestart = false to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels.

            To filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart = true) (cpuPlatform = "Intel Skylake"). By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly. For example, (cpuPlatform = "Intel Skylake") OR (cpuPlatform = "Intel Broadwell") AND (scheduling.automaticRestart = true).
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests. Acceptable values are 0 to 500, inclusive. (Default: 500)'
          in: query
          minimum: 0
          name: maxResults
          type: integer
        - description: |-
            Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

            You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

            Currently, only sorting by name or creationTimestamp desc is supported.
          in: query
          name: orderBy
          type: string
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CompositeTypesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - compositeTypes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a composite type.
      operationId: deploymentmanager.compositeTypes.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CompositeType'
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - compositeTypes
  '/{project}/global/compositeTypes/{compositeType}':
    delete:
      description: Deletes a composite type.
      operationId: deploymentmanager.compositeTypes.delete
      parameters:
        - description: The name of the type for this request.
          in: path
          name: compositeType
          required: true
          type: string
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - compositeTypes
    get:
      description: Gets information about a specific composite type.
      operationId: deploymentmanager.compositeTypes.get
      parameters:
        - description: The name of the composite type for this request.
          in: path
          name: compositeType
          required: true
          type: string
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CompositeType'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - compositeTypes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a composite type. This method supports patch semantics.
      operationId: deploymentmanager.compositeTypes.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CompositeType'
        - description: The name of the composite type for this request.
          in: path
          name: compositeType
          required: true
          type: string
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - compositeTypes
    put:
      description: Updates a composite type.
      operationId: deploymentmanager.compositeTypes.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CompositeType'
        - description: The name of the composite type for this request.
          in: path
          name: compositeType
          required: true
          type: string
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - compositeTypes
  '/{project}/global/deployments':
    get:
      description: Lists all deployments for a given project.
      operationId: deploymentmanager.deployments.list
      parameters:
        - description: |-
            A filter expression that filters resources listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either =, !=, >, or <.

            For example, if you are filtering Compute Engine instances, you can exclude instances named example-instance by specifying name != example-instance.

            You can also filter nested fields. For example, you could specify scheduling.automaticRestart = false to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels.

            To filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart = true) (cpuPlatform = "Intel Skylake"). By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly. For example, (cpuPlatform = "Intel Skylake") OR (cpuPlatform = "Intel Broadwell") AND (scheduling.automaticRestart = true).
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests. Acceptable values are 0 to 500, inclusive. (Default: 500)'
          in: query
          minimum: 0
          name: maxResults
          type: integer
        - description: |-
            Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

            You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

            Currently, only sorting by name or creationTimestamp desc is supported.
          in: query
          name: orderBy
          type: string
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DeploymentsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - deployments
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a deployment and all of the resources described by the deployment manifest.
      operationId: deploymentmanager.deployments.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Deployment'
        - default: CREATE_OR_ACQUIRE
          description: Sets the policy to use for creating new resources.
          enum:
            - ACQUIRE
            - CREATE
            - CREATE_OR_ACQUIRE
          in: query
          name: createPolicy
          type: string
        - description: 'If set to true, creates a deployment and creates "shell" resources but does not actually instantiate these resources. This allows you to preview what your deployment looks like. After previewing a deployment, you can deploy your resources by making a request with the update() method or you can use the cancelPreview() method to cancel the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.'
          in: query
          name: preview
          type: boolean
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - deployments
  '/{project}/global/deployments/{deployment}':
    delete:
      description: Deletes a deployment and all of the resources in the deployment.
      operationId: deploymentmanager.deployments.delete
      parameters:
        - default: DELETE
          description: Sets the policy to use for deleting resources.
          enum:
            - ABANDON
            - DELETE
          in: query
          name: deletePolicy
          type: string
        - description: The name of the deployment for this request.
          in: path
          name: deployment
          required: true
          type: string
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - deployments
    get:
      description: Gets information about a specific deployment.
      operationId: deploymentmanager.deployments.get
      parameters:
        - description: The name of the deployment for this request.
          in: path
          name: deployment
          required: true
          type: string
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Deployment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - deployments
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a deployment and all of the resources described by the deployment manifest. This method supports patch semantics.
      operationId: deploymentmanager.deployments.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Deployment'
        - default: CREATE_OR_ACQUIRE
          description: Sets the policy to use for creating new resources.
          enum:
            - ACQUIRE
            - CREATE
            - CREATE_OR_ACQUIRE
          in: query
          name: createPolicy
          type: string
        - default: DELETE
          description: Sets the policy to use for deleting resources.
          enum:
            - ABANDON
            - DELETE
          in: query
          name: deletePolicy
          type: string
        - description: The name of the deployment for this request.
          in: path
          name: deployment
          required: true
          type: string
        - default: false
          description: 'If set to true, updates the deployment and creates and updates the "shell" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a target.config with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the update() or you can cancelPreview() to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.'
          in: query
          name: preview
          type: boolean
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - deployments
    put:
      description: Updates a deployment and all of the resources described by the deployment manifest.
      operationId: deploymentmanager.deployments.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Deployment'
        - default: CREATE_OR_ACQUIRE
          description: Sets the policy to use for creating new resources.
          enum:
            - ACQUIRE
            - CREATE
            - CREATE_OR_ACQUIRE
          in: query
          name: createPolicy
          type: string
        - default: DELETE
          description: Sets the policy to use for deleting resources.
          enum:
            - ABANDON
            - DELETE
          in: query
          name: deletePolicy
          type: string
        - description: The name of the deployment for this request.
          in: path
          name: deployment
          required: true
          type: string
        - default: false
          description: 'If set to true, updates the deployment and creates and updates the "shell" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a target.config with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the update() or you can cancelPreview() to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.'
          in: query
          name: preview
          type: boolean
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - deployments
  '/{project}/global/deployments/{deployment}/cancelPreview':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Cancels and removes the preview currently associated with the deployment.
      operationId: deploymentmanager.deployments.cancelPreview
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DeploymentsCancelPreviewRequest'
        - description: The name of the deployment for this request.
          in: path
          name: deployment
          required: true
          type: string
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - deployments
  '/{project}/global/deployments/{deployment}/manifests':
    get:
      description: Lists all manifests for a given deployment.
      operationId: deploymentmanager.manifests.list
      parameters:
        - description: The name of the deployment for this request.
          in: path
          name: deployment
          required: true
          type: string
        - description: |-
            A filter expression that filters resources listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either =, !=, >, or <.

            For example, if you are filtering Compute Engine instances, you can exclude instances named example-instance by specifying name != example-instance.

            You can also filter nested fields. For example, you could specify scheduling.automaticRestart = false to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels.

            To filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart = true) (cpuPlatform = "Intel Skylake"). By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly. For example, (cpuPlatform = "Intel Skylake") OR (cpuPlatform = "Intel Broadwell") AND (scheduling.automaticRestart = true).
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests. Acceptable values are 0 to 500, inclusive. (Default: 500)'
          in: query
          minimum: 0
          name: maxResults
          type: integer
        - description: |-
            Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

            You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

            Currently, only sorting by name or creationTimestamp desc is supported.
          in: query
          name: orderBy
          type: string
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ManifestsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - manifests
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/deployments/{deployment}/manifests/{manifest}':
    get:
      description: Gets information about a specific manifest.
      operationId: deploymentmanager.manifests.get
      parameters:
        - description: The name of the deployment for this request.
          in: path
          name: deployment
          required: true
          type: string
        - description: The name of the manifest for this request.
          in: path
          name: manifest
          required: true
          type: string
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Manifest'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - manifests
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/deployments/{deployment}/resources':
    get:
      description: Lists all resources in a given deployment.
      operationId: deploymentmanager.resources.list
      parameters:
        - description: The name of the deployment for this request.
          in: path
          name: deployment
          required: true
          type: string
        - description: |-
            A filter expression that filters resources listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either =, !=, >, or <.

            For example, if you are filtering Compute Engine instances, you can exclude instances named example-instance by specifying name != example-instance.

            You can also filter nested fields. For example, you could specify scheduling.automaticRestart = false to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels.

            To filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart = true) (cpuPlatform = "Intel Skylake"). By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly. For example, (cpuPlatform = "Intel Skylake") OR (cpuPlatform = "Intel Broadwell") AND (scheduling.automaticRestart = true).
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests. Acceptable values are 0 to 500, inclusive. (Default: 500)'
          in: query
          minimum: 0
          name: maxResults
          type: integer
        - description: |-
            Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

            You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

            Currently, only sorting by name or creationTimestamp desc is supported.
          in: query
          name: orderBy
          type: string
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ResourcesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - resources
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/deployments/{deployment}/resources/{resource}':
    get:
      description: Gets information about a single resource.
      operationId: deploymentmanager.resources.get
      parameters:
        - description: The name of the deployment for this request.
          in: path
          name: deployment
          required: true
          type: string
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the resource for this request.
          in: path
          name: resource
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Resource'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - resources
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/deployments/{deployment}/stop':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Stops an ongoing operation. This does not roll back any work that has already been completed, but prevents any new work from being started.'
      operationId: deploymentmanager.deployments.stop
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DeploymentsStopRequest'
        - description: The name of the deployment for this request.
          in: path
          name: deployment
          required: true
          type: string
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - deployments
  '/{project}/global/deployments/{resource}/getIamPolicy':
    get:
      description: Gets the access control policy for a resource. May be empty if no such policy or resource exists.
      operationId: deploymentmanager.deployments.getIamPolicy
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the resource for this request.
          in: path
          name: resource
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - deployments
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/deployments/{resource}/setIamPolicy':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Sets the access control policy on the specified resource. Replaces any existing policy.
      operationId: deploymentmanager.deployments.setIamPolicy
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Policy'
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the resource for this request.
          in: path
          name: resource
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - deployments
  '/{project}/global/deployments/{resource}/testIamPermissions':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Returns permissions that a caller has on the specified resource.
      operationId: deploymentmanager.deployments.testIamPermissions
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TestPermissionsRequest'
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the resource for this request.
          in: path
          name: resource
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TestPermissionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - deployments
  '/{project}/global/operations':
    get:
      description: Lists all operations for a project.
      operationId: deploymentmanager.operations.list
      parameters:
        - description: |-
            A filter expression that filters resources listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either =, !=, >, or <.

            For example, if you are filtering Compute Engine instances, you can exclude instances named example-instance by specifying name != example-instance.

            You can also filter nested fields. For example, you could specify scheduling.automaticRestart = false to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels.

            To filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart = true) (cpuPlatform = "Intel Skylake"). By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly. For example, (cpuPlatform = "Intel Skylake") OR (cpuPlatform = "Intel Broadwell") AND (scheduling.automaticRestart = true).
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests. Acceptable values are 0 to 500, inclusive. (Default: 500)'
          in: query
          minimum: 0
          name: maxResults
          type: integer
        - description: |-
            Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

            You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

            Currently, only sorting by name or creationTimestamp desc is supported.
          in: query
          name: orderBy
          type: string
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OperationsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - operations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/operations/{operation}':
    get:
      description: Gets information about a specific operation.
      operationId: deploymentmanager.operations.get
      parameters:
        - description: The name of the operation for this request.
          in: path
          name: operation
          required: true
          type: string
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - operations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/typeProviders':
    get:
      description: Lists all resource type providers for Deployment Manager.
      operationId: deploymentmanager.typeProviders.list
      parameters:
        - description: |-
            A filter expression that filters resources listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either =, !=, >, or <.

            For example, if you are filtering Compute Engine instances, you can exclude instances named example-instance by specifying name != example-instance.

            You can also filter nested fields. For example, you could specify scheduling.automaticRestart = false to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels.

            To filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart = true) (cpuPlatform = "Intel Skylake"). By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly. For example, (cpuPlatform = "Intel Skylake") OR (cpuPlatform = "Intel Broadwell") AND (scheduling.automaticRestart = true).
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests. Acceptable values are 0 to 500, inclusive. (Default: 500)'
          in: query
          minimum: 0
          name: maxResults
          type: integer
        - description: |-
            Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

            You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

            Currently, only sorting by name or creationTimestamp desc is supported.
          in: query
          name: orderBy
          type: string
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TypeProvidersListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - typeProviders
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a type provider.
      operationId: deploymentmanager.typeProviders.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TypeProvider'
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - typeProviders
  '/{project}/global/typeProviders/{typeProvider}':
    delete:
      description: Deletes a type provider.
      operationId: deploymentmanager.typeProviders.delete
      parameters:
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the type provider for this request.
          in: path
          name: typeProvider
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - typeProviders
    get:
      description: Gets information about a specific type provider.
      operationId: deploymentmanager.typeProviders.get
      parameters:
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the type provider for this request.
          in: path
          name: typeProvider
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TypeProvider'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - typeProviders
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a type provider. This method supports patch semantics.
      operationId: deploymentmanager.typeProviders.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TypeProvider'
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the type provider for this request.
          in: path
          name: typeProvider
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - typeProviders
    put:
      description: Updates a type provider.
      operationId: deploymentmanager.typeProviders.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TypeProvider'
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the type provider for this request.
          in: path
          name: typeProvider
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - typeProviders
  '/{project}/global/typeProviders/{typeProvider}/types':
    get:
      description: Lists all the type info for a TypeProvider.
      operationId: deploymentmanager.typeProviders.listTypes
      parameters:
        - description: |-
            A filter expression that filters resources listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either =, !=, >, or <.

            For example, if you are filtering Compute Engine instances, you can exclude instances named example-instance by specifying name != example-instance.

            You can also filter nested fields. For example, you could specify scheduling.automaticRestart = false to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels.

            To filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart = true) (cpuPlatform = "Intel Skylake"). By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly. For example, (cpuPlatform = "Intel Skylake") OR (cpuPlatform = "Intel Broadwell") AND (scheduling.automaticRestart = true).
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests. Acceptable values are 0 to 500, inclusive. (Default: 500)'
          in: query
          minimum: 0
          name: maxResults
          type: integer
        - description: |-
            Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

            You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

            Currently, only sorting by name or creationTimestamp desc is supported.
          in: query
          name: orderBy
          type: string
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the type provider for this request.
          in: path
          name: typeProvider
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TypeProvidersListTypesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - typeProviders
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/typeProviders/{typeProvider}/types/{type}':
    get:
      description: Gets a type info for a type provided by a TypeProvider.
      operationId: deploymentmanager.typeProviders.getType
      parameters:
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: The name of the type provider for this request.
          in: path
          name: type
          required: true
          type: string
        - description: The name of the type provider for this request.
          in: path
          name: typeProvider
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TypeInfo'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - typeProviders
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/types':
    get:
      description: Lists all resource types for Deployment Manager.
      operationId: deploymentmanager.types.list
      parameters:
        - description: |-
            A filter expression that filters resources listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either =, !=, >, or <.

            For example, if you are filtering Compute Engine instances, you can exclude instances named example-instance by specifying name != example-instance.

            You can also filter nested fields. For example, you could specify scheduling.automaticRestart = false to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels.

            To filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart = true) (cpuPlatform = "Intel Skylake"). By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly. For example, (cpuPlatform = "Intel Skylake") OR (cpuPlatform = "Intel Broadwell") AND (scheduling.automaticRestart = true).
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests. Acceptable values are 0 to 500, inclusive. (Default: 500)'
          in: query
          minimum: 0
          name: maxResults
          type: integer
        - description: |-
            Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

            You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

            Currently, only sorting by name or creationTimestamp desc is supported.
          in: query
          name: orderBy
          type: string
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
        - description: The project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TypesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - types
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
definitions:
  AsyncOptions:
    description: Async options that determine when a resource should finish.
    properties:
      methodMatch:
        description: Method regex where this policy will apply.
        type: string
      pollingOptions:
        $ref: '#/definitions/PollingOptions'
        description: 'Deployment manager will poll instances for this API resource setting a RUNNING state, and blocking until polling conditions tell whether the resource is completed or failed.'
    type: object
  AuditConfig:
    description: |-
      Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.

      If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.

      Example Policy with multiple AuditConfigs:

      { "audit_configs": [ { "service": "allServices" "audit_log_configs": [ { "log_type": "DATA_READ", "exempted_members": [ "user:foo@gmail.com" ] }, { "log_type": "DATA_WRITE", }, { "log_type": "ADMIN_READ", } ] }, { "service": "fooservice.googleapis.com" "audit_log_configs": [ { "log_type": "DATA_READ", }, { "log_type": "DATA_WRITE", "exempted_members": [ "user:bar@gmail.com" ] } ] } ] }

      For fooservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts foo@gmail.com from DATA_READ logging, and bar@gmail.com from DATA_WRITE logging.
    properties:
      auditLogConfigs:
        description: The configuration for logging of each type of permission.
        items:
          $ref: '#/definitions/AuditLogConfig'
        type: array
      exemptedMembers:
        description: ''
        items:
          type: string
        type: array
      service:
        description: 'Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.'
        type: string
    type: object
  AuditLogConfig:
    description: |-
      Provides the configuration for logging a type of permissions. Example:

      { "audit_log_configs": [ { "log_type": "DATA_READ", "exempted_members": [ "user:foo@gmail.com" ] }, { "log_type": "DATA_WRITE", } ] }

      This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting foo@gmail.com from DATA_READ logging.
    properties:
      exemptedMembers:
        description: 'Specifies the identities that do not cause logging for this type of permission. Follows the same format of [Binding.members][].'
        items:
          type: string
        type: array
      logType:
        description: The log type that this config enables.
        type: string
    type: object
  AuthorizationLoggingOptions:
    description: Authorization-related information used by Cloud Audit Logging.
    properties:
      permissionType:
        description: The type of the permission that was checked.
        type: string
    type: object
  BaseType:
    description: BaseType that describes a service-backed Type.
    properties:
      collectionOverrides:
        description: Allows resource handling overrides for specific collections
        items:
          $ref: '#/definitions/CollectionOverride'
        type: array
      credential:
        $ref: '#/definitions/Credential'
        description: Credential used when interacting with this type.
      descriptorUrl:
        description: Descriptor Url for the this type.
        type: string
      options:
        $ref: '#/definitions/Options'
        description: Options to apply when handling any resources in this service.
    type: object
  BasicAuth:
    description: Basic Auth used as a credential.
    properties:
      password:
        type: string
      user:
        type: string
    type: object
  Binding:
    description: Associates `members` with a `role`.
    properties:
      condition:
        $ref: '#/definitions/Expr'
        description: 'The condition that is associated with this binding. NOTE: an unsatisfied condition will not allow user access via current binding. Different bindings, including their conditions, are examined independently. This field is only visible as GOOGLE_INTERNAL or CONDITION_TRUSTED_TESTER.'
      members:
        description: |-
          Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values:

          * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account.

          * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account.

          * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@gmail.com` or `joe@example.com`.



          * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`.

          * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`.



          * `domain:{domain}`: A Google Apps domain name that represents all the users of that domain. For example, `google.com` or `example.com`.
        items:
          type: string
        type: array
      role:
        description: 'Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.'
        type: string
    type: object
  CollectionOverride:
    description: CollectionOverride allows resource handling overrides for specific resources within a BaseType
    properties:
      collection:
        description: The collection that identifies this resource within its service.
        type: string
      options:
        $ref: '#/definitions/Options'
        description: The options to apply to this resource-level override
    type: object
  CompositeType:
    description: Holds the composite type.
    properties:
      description:
        description: An optional textual description of the resource; provided by the client when the resource is created.
        type: string
      id:
        description: Output only. Unique identifier for the resource; defined by the server.
        format: uint64
        type: string
      insertTime:
        description: 'Output only. Timestamp when the composite type was created, in RFC3339 text format.'
        type: string
      labels:
        description: 'Map of labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: [a-z]([-a-z0-9]*[a-z0-9])? Label values must be between 0 and 63 characters long and must conform to the regular expression ([a-z]([-a-z0-9]*[a-z0-9])?)?'
        items:
          $ref: '#/definitions/CompositeTypeLabelEntry'
        type: array
      name:
        description: 'Name of the composite type, must follow the expression: [a-z]([-a-z0-9_.]{0,61}[a-z0-9])?.'
        type: string
      operation:
        $ref: '#/definitions/Operation'
        description: 'Output only. The Operation that most recently ran, or is currently running, on this composite type.'
      selfLink:
        description: Output only. Self link for the type provider.
        type: string
      status:
        type: string
      templateContents:
        $ref: '#/definitions/TemplateContents'
        description: Files for the template type.
    type: object
  CompositeTypeLabelEntry:
    properties:
      key:
        type: string
      value:
        type: string
    type: object
  CompositeTypesListResponse:
    description: A response that returns all Composite Types supported by Deployment Manager
    properties:
      compositeTypes:
        description: Output only. A list of resource composite types supported by Deployment Manager.
        items:
          $ref: '#/definitions/CompositeType'
        type: array
      nextPageToken:
        description: A token used to continue a truncated list request.
        type: string
    type: object
  Condition:
    description: A condition to be met.
    properties:
      iam:
        description: Trusted attributes supplied by the IAM system.
        type: string
      op:
        description: An operator to apply the subject with.
        type: string
      svc:
        description: Trusted attributes discharged by the service.
        type: string
      sys:
        description: Trusted attributes supplied by any service that owns resources and uses the IAM system for access control.
        type: string
      value:
        description: DEPRECATED. Use 'values' instead.
        type: string
      values:
        description: The objects of the condition. This is mutually exclusive with 'value'.
        items:
          type: string
        type: array
    type: object
  ConfigFile:
    description: ''
    properties:
      content:
        description: The contents of the file.
        type: string
    type: object
  Credential:
    description: The credential used by Deployment Manager and TypeProvider. Only one of the options is permitted.
    properties:
      basicAuth:
        $ref: '#/definitions/BasicAuth'
        description: 'Basic Auth Credential, only used by TypeProvider.'
      serviceAccount:
        $ref: '#/definitions/ServiceAccount'
        description: 'Service Account Credential, only used by Deployment.'
      useProjectDefault:
        description: 'Specify to use the project default credential, only supported by Deployment.'
        type: boolean
    type: object
  Deployment:
    description: ''
    properties:
      description:
        description: An optional user-provided description of the deployment.
        type: string
      fingerprint:
        description: |-
          Provides a fingerprint to use in requests to modify a deployment, such as update(), stop(), and cancelPreview() requests. A fingerprint is a randomly generated value that must be provided with update(), stop(), and cancelPreview() requests to perform optimistic locking. This ensures optimistic concurrency so that only one request happens at a time.

          The fingerprint is initially generated by Deployment Manager and changes after every request to modify data. To get the latest fingerprint value, perform a get() request to a deployment.
        format: byte
        type: string
      id:
        description: Output only. Unique identifier for the resource; defined by the server.
        format: uint64
        type: string
      insertTime:
        description: 'Output only. Timestamp when the deployment was created, in RFC3339 text format .'
        type: string
      labels:
        description: 'Map of labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: [a-z]([-a-z0-9]*[a-z0-9])? Label values must be between 0 and 63 characters long and must conform to the regular expression ([a-z]([-a-z0-9]*[a-z0-9])?)?'
        items:
          $ref: '#/definitions/DeploymentLabelEntry'
        type: array
      manifest:
        description: Output only. URL of the manifest representing the last manifest that was successfully deployed.
        type: string
      name:
        description: 'Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.'
        type: string
      operation:
        $ref: '#/definitions/Operation'
        description: 'Output only. The Operation that most recently ran, or is currently running, on this deployment.'
      selfLink:
        description: Output only. Self link for the deployment.
        type: string
      target:
        $ref: '#/definitions/TargetConfiguration'
        description: '[Input Only] The parameters that define your deployment, including the deployment configuration and relevant templates.'
      update:
        $ref: '#/definitions/DeploymentUpdate'
        description: 'Output only. If Deployment Manager is currently updating or previewing an update to this deployment, the updated configuration appears here.'
    type: object
  DeploymentLabelEntry:
    properties:
      key:
        type: string
      value:
        type: string
    type: object
  DeploymentUpdate:
    description: ''
    properties:
      description:
        description: Output only. An optional user-provided description of the deployment after the current update has been applied.
        type: string
      labels:
        description: 'Output only. Map of labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: [a-z]([-a-z0-9]*[a-z0-9])? Label values must be between 0 and 63 characters long and must conform to the regular expression ([a-z]([-a-z0-9]*[a-z0-9])?)?'
        items:
          $ref: '#/definitions/DeploymentUpdateLabelEntry'
        type: array
      manifest:
        description: Output only. URL of the manifest representing the update configuration of this deployment.
        type: string
    type: object
  DeploymentUpdateLabelEntry:
    properties:
      key:
        type: string
      value:
        type: string
    type: object
  DeploymentsCancelPreviewRequest:
    description: ''
    properties:
      fingerprint:
        description: |-
          Specifies a fingerprint for cancelPreview() requests. A fingerprint is a randomly generated value that must be provided in cancelPreview() requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to cancel a preview, this would prevent one of the requests).

          The fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a get() request on the deployment.
        format: byte
        type: string
    type: object
  DeploymentsListResponse:
    description: A response containing a partial list of deployments and a page token used to build the next request if the request has been truncated.
    properties:
      deployments:
        description: Output only. The deployments contained in this response.
        items:
          $ref: '#/definitions/Deployment'
        type: array
      nextPageToken:
        description: Output only. A token used to continue a truncated list request.
        type: string
    type: object
  DeploymentsStopRequest:
    description: ''
    properties:
      fingerprint:
        description: |-
          Specifies a fingerprint for stop() requests. A fingerprint is a randomly generated value that must be provided in stop() requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to stop an ongoing update request, this would prevent a collision).

          The fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a get() request on the deployment.
        format: byte
        type: string
    type: object
  Diagnostic:
    description: ''
    properties:
      field:
        description: 'JsonPath expression on the resource that if non empty, indicates that this field needs to be extracted as a diagnostic.'
        type: string
      level:
        description: Level to record this diagnostic.
        type: string
    type: object
  Expr:
    description: |-
      Represents an expression text. Example:

      title: "User account presence" description: "Determines whether the request has a user account" expression: "size(request.user) > 0"
    properties:
      description:
        description: 'An optional description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.'
        type: string
      expression:
        description: |-
          Textual representation of an expression in Common Expression Language syntax.

          The application context of the containing message determines which well-known feature set of CEL is supported.
        type: string
      location:
        description: 'An optional string indicating the location of the expression for error reporting, e.g. a file name and a position in the file.'
        type: string
      title:
        description: 'An optional title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.'
        type: string
    type: object
  ImportFile:
    description: ''
    properties:
      content:
        description: The contents of the file.
        type: string
      name:
        description: The name of the file.
        type: string
    type: object
  InputMapping:
    description: InputMapping creates a 'virtual' property that will be injected into the properties before sending the request to the underlying API.
    properties:
      fieldName:
        description: The name of the field that is going to be injected.
        type: string
      location:
        description: The location where this mapping applies.
        type: string
      methodMatch:
        description: Regex to evaluate on method to decide if input applies.
        type: string
      value:
        description: A jsonPath expression to select an element.
        type: string
    type: object
  LogConfig:
    description: Specifies what kind of log the caller must write
    properties:
      cloudAudit:
        $ref: '#/definitions/LogConfigCloudAuditOptions'
        description: Cloud audit options.
      counter:
        $ref: '#/definitions/LogConfigCounterOptions'
        description: Counter options.
      dataAccess:
        $ref: '#/definitions/LogConfigDataAccessOptions'
        description: Data access options.
    type: object
  LogConfigCloudAuditOptions:
    description: Write a Cloud Audit log
    properties:
      authorizationLoggingOptions:
        $ref: '#/definitions/AuthorizationLoggingOptions'
        description: Information used by the Cloud Audit Logging pipeline.
      logName:
        description: The log_name to populate in the Cloud Audit Record.
        type: string
    type: object
  LogConfigCounterOptions:
    description: |-
      Increment a streamz counter with the specified metric and field names.

      Metric names should start with a '/', generally be lowercase-only, and end in "_count". Field names should not contain an initial slash. The actual exported metric names will have "/iam/policy" prepended.

      Field names correspond to IAM request parameters and field values are their respective values.

      At present the only supported field names are - "iam_principal", corresponding to IAMContext.principal; - "" (empty string), resulting in one aggretated counter with no field.

      Examples: counter { metric: "/debug_access_count" field: "iam_principal" } ==> increment counter /iam/policy/backend_debug_access_count {iam_principal=[value of IAMContext.principal]}

      At this time we do not support: * multiple field names (though this may be supported in the future) * decrementing the counter * incrementing it by anything other than 1
    properties:
      field:
        description: The field value to attribute.
        type: string
      metric:
        description: The metric to update.
        type: string
    type: object
  LogConfigDataAccessOptions:
    description: Write a Data Access (Gin) log
    properties:
      logMode:
        description: 'Whether Gin logging should happen in a fail-closed manner at the caller. This is relevant only in the LocalIAM implementation, for now.'
        type: string
    type: object
  Manifest:
    description: ''
    properties:
      config:
        $ref: '#/definitions/ConfigFile'
        description: Output only. The YAML configuration for this manifest.
      expandedConfig:
        description: 'Output only. The fully-expanded configuration file, including any templates and references.'
        type: string
      id:
        description: Output only. Unique identifier for the resource; defined by the server.
        format: uint64
        type: string
      imports:
        description: Output only. The imported files for this manifest.
        items:
          $ref: '#/definitions/ImportFile'
        type: array
      insertTime:
        description: 'Output only. Timestamp when the manifest was created, in RFC3339 text format.'
        type: string
      layout:
        description: Output only. The YAML layout for this manifest.
        type: string
      name:
        description: |-
          Output only.

          The name of the manifest.
        type: string
      selfLink:
        description: Output only. Self link for the manifest.
        type: string
    type: object
  ManifestsListResponse:
    description: A response containing a partial list of manifests and a page token used to build the next request if the request has been truncated.
    properties:
      manifests:
        description: Output only. Manifests contained in this list response.
        items:
          $ref: '#/definitions/Manifest'
        type: array
      nextPageToken:
        description: Output only. A token used to continue a truncated list request.
        type: string
    type: object
  Operation:
    description: 'An Operation resource, used to manage asynchronous API requests. (== resource_for v1.globalOperations ==) (== resource_for beta.globalOperations ==) (== resource_for v1.regionOperations ==) (== resource_for beta.regionOperations ==) (== resource_for v1.zoneOperations ==) (== resource_for beta.zoneOperations ==)'
    properties:
      clientOperationId:
        description: '[Output Only] Reserved for future use.'
        type: string
      creationTimestamp:
        description: '[Deprecated] This field is deprecated.'
        type: string
      description:
        description: '[Output Only] A textual description of the operation, which is set when the operation is created.'
        type: string
      endTime:
        description: '[Output Only] The time that this operation was completed. This value is in RFC3339 text format.'
        type: string
      error:
        description: '[Output Only] If errors are generated during processing of the operation, this field will be populated.'
        properties:
          errors:
            description: '[Output Only] The array of errors encountered while processing this operation.'
            items:
              properties:
                code:
                  description: '[Output Only] The error type identifier for this error.'
                  type: string
                location:
                  description: '[Output Only] Indicates the field in the request that caused the error. This property is optional.'
                  type: string
                message:
                  description: '[Output Only] An optional, human-readable error message.'
                  type: string
              type: object
            type: array
        type: object
      httpErrorMessage:
        description: '[Output Only] If the operation fails, this field contains the HTTP error message that was returned, such as NOT FOUND.'
        type: string
      httpErrorStatusCode:
        description: '[Output Only] If the operation fails, this field contains the HTTP error status code that was returned. For example, a 404 means the resource was not found.'
        format: int32
        type: integer
      id:
        description: '[Output Only] The unique identifier for the resource. This identifier is defined by the server.'
        format: uint64
        type: string
      insertTime:
        description: '[Output Only] The time that this operation was requested. This value is in RFC3339 text format.'
        type: string
      kind:
        default: 'deploymentmanager#operation'
        description: '[Output Only] Type of the resource. Always compute#operation for Operation resources.'
        type: string
      name:
        description: '[Output Only] Name of the resource.'
        type: string
      operationType:
        description: '[Output Only] The type of operation, such as insert, update, or delete, and so on.'
        type: string
      progress:
        description: '[Output Only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess when the operation will be complete. This number should monotonically increase as the operation progresses.'
        format: int32
        type: integer
      region:
        description: '[Output Only] The URL of the region where the operation resides. Only available when performing regional operations. You must specify this field as part of the HTTP request URL. It is not settable as a field in the request body.'
        type: string
      selfLink:
        description: '[Output Only] Server-defined URL for the resource.'
        type: string
      startTime:
        description: '[Output Only] The time that this operation was started by the server. This value is in RFC3339 text format.'
        type: string
      status:
        description: '[Output Only] The status of the operation, which can be one of the following: PENDING, RUNNING, or DONE.'
        type: string
      statusMessage:
        description: '[Output Only] An optional textual description of the current status of the operation.'
        type: string
      targetId:
        description: '[Output Only] The unique target ID, which identifies a specific incarnation of the target resource.'
        format: uint64
        type: string
      targetLink:
        description: '[Output Only] The URL of the resource that the operation modifies. For operations related to creating a snapshot, this points to the persistent disk that the snapshot was created from.'
        type: string
      user:
        description: '[Output Only] User who requested the operation, for example: user@example.com.'
        type: string
      warnings:
        description: '[Output Only] If warning messages are generated during processing of the operation, this field will be populated.'
        items:
          properties:
            code:
              description: '[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.'
              type: string
            data:
              description: |-
                [Output Only] Metadata about this warning in key: value format. For example:
                "data": [ { "key": "scope", "value": "zones/us-east1-d" }
              items:
                properties:
                  key:
                    description: '[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).'
                    type: string
                  value:
                    description: '[Output Only] A warning data value corresponding to the key.'
                    type: string
                type: object
              type: array
            message:
              description: '[Output Only] A human-readable description of the warning code.'
              type: string
          type: object
        type: array
      zone:
        description: '[Output Only] The URL of the zone where the operation resides. Only available when performing per-zone operations. You must specify this field as part of the HTTP request URL. It is not settable as a field in the request body.'
        type: string
    type: object
  OperationsListResponse:
    description: A response containing a partial list of operations and a page token used to build the next request if the request has been truncated.
    properties:
      nextPageToken:
        description: Output only. A token used to continue a truncated list request.
        type: string
      operations:
        description: Output only. Operations contained in this list response.
        items:
          $ref: '#/definitions/Operation'
        type: array
    type: object
  Options:
    description: Options allows customized resource handling by Deployment Manager.
    properties:
      asyncOptions:
        description: Options regarding how to thread async requests.
        items:
          $ref: '#/definitions/AsyncOptions'
        type: array
      inputMappings:
        description: The mappings that apply for requests.
        items:
          $ref: '#/definitions/InputMapping'
        type: array
      validationOptions:
        $ref: '#/definitions/ValidationOptions'
        description: Options for how to validate and process properties on a resource.
      virtualProperties:
        description: 'Additional properties block described as a jsonSchema, these properties will never be part of the json payload, but they can be consumed by InputMappings, this must be a valid json schema draft-04. The properties specified here will be decouple in a different section. This schema will be merged to the schema validation, and properties here will be extracted From the payload and consumed explicitly by InputMappings. ex: field1: type: string field2: type: number'
        type: string
    type: object
  Policy:
    description: |-
      Defines an Identity and Access Management (IAM) policy. It is used to specify access control policies for Cloud Platform resources.



      A `Policy` consists of a list of `bindings`. A `Binding` binds a list of `members` to a `role`, where the members can be user accounts, Google groups, Google domains, and service accounts. A `role` is a named list of permissions defined by IAM.

      **Example**

      { "bindings": [ { "role": "roles/owner", "members": [ "user:mike@example.com", "group:admins@example.com", "domain:google.com", "serviceAccount:my-other-app@appspot.gserviceaccount.com", ] }, { "role": "roles/viewer", "members": ["user:sean@example.com"] } ] }

      For a description of IAM and its features, see the [IAM developer's guide](https://cloud.google.com/iam/docs).
    properties:
      auditConfigs:
        description: Specifies cloud audit logging configuration for this policy.
        items:
          $ref: '#/definitions/AuditConfig'
        type: array
      bindings:
        description: Associates a list of `members` to a `role`. `bindings` with no members will result in an error.
        items:
          $ref: '#/definitions/Binding'
        type: array
      etag:
        description: |-
          `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy.

          If no `etag` is provided in the call to `setIamPolicy`, then the existing policy is overwritten blindly.
        format: byte
        type: string
      iamOwned:
        description: ''
        type: boolean
      rules:
        description: 'If more than one rule is specified, the rules are applied in the following manner: - All matching LOG rules are always applied. - If any DENY/DENY_WITH_LOG rule matches, permission is denied. Logging will be applied if one or more matching rule requires logging. - Otherwise, if any ALLOW/ALLOW_WITH_LOG rule matches, permission is granted. Logging will be applied if one or more matching rule requires logging. - Otherwise, if no rule applies, permission is denied.'
        items:
          $ref: '#/definitions/Rule'
        type: array
      version:
        description: Deprecated.
        format: int32
        type: integer
    type: object
  PollingOptions:
    description: ''
    properties:
      diagnostics:
        description: 'An array of diagnostics to be collected by Deployment Manager, these diagnostics will be displayed to the user.'
        items:
          $ref: '#/definitions/Diagnostic'
        type: array
      failCondition:
        description: JsonPath expression that determines if the request failed.
        type: string
      finishCondition:
        description: JsonPath expression that determines if the request is completed.
        type: string
      pollingLink:
        description: 'JsonPath expression that evaluates to string, it indicates where to poll.'
        type: string
      targetLink:
        description: 'JsonPath expression, after polling is completed, indicates where to fetch the resource.'
        type: string
    type: object
  Resource:
    description: ''
    properties:
      accessControl:
        $ref: '#/definitions/ResourceAccessControl'
        description: The Access Control Policy set on this resource.
      finalProperties:
        description: Output only. The evaluated properties of the resource with references expanded. Returned as serialized YAML.
        type: string
      id:
        description: Output only. Unique identifier for the resource; defined by the server.
        format: uint64
        type: string
      insertTime:
        description: 'Output only. Timestamp when the resource was created or acquired, in RFC3339 text format .'
        type: string
      manifest:
        description: Output only. URL of the manifest representing the current configuration of this resource.
        type: string
      name:
        description: Output only. The name of the resource as it appears in the YAML config.
        type: string
      properties:
        description: Output only. The current properties of the resource before any references have been filled in. Returned as serialized YAML.
        type: string
      type:
        description: 'Output only. The type of the resource, for example compute.v1.instance, or cloudfunctions.v1beta1.function.'
        type: string
      update:
        $ref: '#/definitions/ResourceUpdate'
        description: 'Output only. If Deployment Manager is currently updating or previewing an update to this resource, the updated configuration appears here.'
      updateTime:
        description: 'Output only. Timestamp when the resource was updated, in RFC3339 text format .'
        type: string
      url:
        description: Output only. The URL of the actual resource.
        type: string
      warnings:
        description: 'Output only. If warning messages are generated during processing of this resource, this field will be populated.'
        items:
          properties:
            code:
              description: '[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.'
              type: string
            data:
              description: |-
                [Output Only] Metadata about this warning in key: value format. For example:
                "data": [ { "key": "scope", "value": "zones/us-east1-d" }
              items:
                properties:
                  key:
[...]
