swagger: '2.0'
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: The Admin Subscriptions Management Client.
  title: SubscriptionsManagementClient
  version: '2015-11-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/Offer.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: azsadmin-Offer
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  NewOfferParameter:
    description: New offer.
    in: body
    name: newOffer
    required: true
    schema:
      $ref: '#/definitions/Offer'
    x-ms-parameter-location: method
  PlanLinkParameter:
    description: New plan link.
    in: body
    name: planLink
    required: true
    schema:
      $ref: '#/definitions/PlanLinkDefinition'
    x-ms-parameter-location: method
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/offers':
    get:
      description: Get the list of offers.
      operationId: Offers_ListAll
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - default: '2015-11-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OfferList'
      tags:
        - Offers
      x-ms-examples:
        Get the list of offers.:
          parameters:
            api-version: '2015-11-01'
            resourceGroupName: RG1
            subscriptionId: 0af9c33b-f7ac-4161-add5-17b2f0b6a669
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/0af9c33b-f7ac-4161-add5-17b2f0b6a669/resourceGroups/RG1/providers/Microsoft.Subscriptions.Admin/offers/sampleoffer1
                    location: local
                    name: sampleoffer1
                    properties:
                      basePlanIds:
                        - /subscriptions/0af9c33b-f7ac-4161-add5-17b2f0b6a669/resourceGroups/RG1/providers/Microsoft.Subscriptions.Admin/plans/sampleplan1
                      description: ''
                      displayName: SampleOffer1
                      externalReferenceId: ''
                      maxSubscriptionsPerAccount: 0
                      name: sampleoffer1
                      state: Public
                      subscriptionCount: 1
                    type: Microsoft.Subscriptions.Admin/offers
                  - id: /subscriptions/0af9c33b-f7ac-4161-add5-17b2f0b6a669/resourceGroups/ascansubscrrg479/providers/Microsoft.Subscriptions.Admin/offers/sampleoffer2
                    location: local
                    name: sampleoffer2
                    properties:
                      basePlanIds:
                        - /subscriptions/0af9c33b-f7ac-4161-add5-17b2f0b6a669/resourceGroups/ascansubscrrg479/providers/Microsoft.Subscriptions.Admin/plans/sampleoffer2
                      displayName: sampleoffer2
                      maxSubscriptionsPerAccount: 0
                      name: sampleoffer2
                      state: Public
                      subscriptionCount: 0
                    tags: {}
                    type: Microsoft.Subscriptions.Admin/offers
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers':
    get:
      description: Get the list of offers under a resource group.
      operationId: Offers_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - default: '2015-11-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OfferList'
      tags:
        - Offers
      x-ms-examples:
        Get the list of offers under a resource group.:
          parameters:
            api-version: '2015-11-01'
            resourceGroupName: RG1
            subscriptionId: 0af9c33b-f7ac-4161-add5-17b2f0b6a669
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/0af9c33b-f7ac-4161-add5-17b2f0b6a669/resourceGroups/RG1/providers/Microsoft.Subscriptions.Admin/offers/sampleoffer1
                    location: local
                    name: sampleoffer1
                    properties:
                      basePlanIds:
                        - /subscriptions/0af9c33b-f7ac-4161-add5-17b2f0b6a669/resourceGroups/RG1/providers/Microsoft.Subscriptions.Admin/plans/sampleplan1
                      description: ''
                      displayName: SampleOffer1
                      externalReferenceId: ''
                      maxSubscriptionsPerAccount: 0
                      name: sampleoffer1
                      state: Public
                      subscriptionCount: 1
                    type: Microsoft.Subscriptions.Admin/offers
                  - id: /subscriptions/0af9c33b-f7ac-4161-add5-17b2f0b6a669/resourceGroups/ascansubscrrg479/providers/Microsoft.Subscriptions.Admin/offers/sampleoffer2
                    location: local
                    name: sampleoffer2
                    properties:
                      basePlanIds:
                        - /subscriptions/0af9c33b-f7ac-4161-add5-17b2f0b6a669/resourceGroups/ascansubscrrg479/providers/Microsoft.Subscriptions.Admin/plans/sampleoffer2
                      displayName: sampleoffer2
                      maxSubscriptionsPerAccount: 0
                      name: sampleoffer2
                      state: Public
                      subscriptionCount: 0
                    tags: {}
                    type: Microsoft.Subscriptions.Admin/offers
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}':
    delete:
      description: Delete the specified offer.
      operationId: Offers_Delete
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of an offer.
          in: path
          name: offer
          required: true
          type: string
          x-ms-parameter-location: method
        - default: '2015-11-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      tags:
        - Offers
      x-ms-examples:
        Delete the specified offer.:
          parameters:
            api-version: '2015-11-01'
            location: local
            name: sampleoffer1
            offer: offername
            resourceGroupName: RG1
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200': {}
            '204': {}
    get:
      description: Get the specified offer.
      operationId: Offers_Get
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of an offer.
          in: path
          name: offer
          required: true
          type: string
          x-ms-parameter-location: method
        - default: '2015-11-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Offer'
      tags:
        - Offers
      x-ms-examples:
        Get the specified offer.:
          parameters:
            api-version: '2015-11-01'
            offer: sampleoffer1
            resourceGroupName: RG1
            subscriptionId: 0af9c33b-f7ac-4161-add5-17b2f0b6a669
          responses:
            '200':
              body:
                id: /subscriptions/0af9c33b-f7ac-4161-add5-17b2f0b6a669/resourceGroups/RG1/providers/Microsoft.Subscriptions.Admin/offers/sampleoffer1
                location: local
                name: sampleoffer1
                properties:
                  basePlanIds:
                    - /subscriptions/0af9c33b-f7ac-4161-add5-17b2f0b6a669/resourceGroups/RG1/providers/Microsoft.Subscriptions.Admin/plans/sampleplan1
                  description: ''
                  displayName: SampleOffer1
                  externalReferenceId: ''
                  maxSubscriptionsPerAccount: 0
                  name: sampleoffer1
                  state: Public
                  subscriptionCount: 1
                type: Microsoft.Subscriptions.Admin/offers
    put:
      description: Create or update the offer.
      operationId: Offers_CreateOrUpdate
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of an offer.
          in: path
          name: offer
          required: true
          type: string
          x-ms-parameter-location: method
        - default: '2015-11-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - $ref: '#/parameters/NewOfferParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Offer'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Offer'
      tags:
        - Offers
      x-ms-examples:
        Create or update the offer.:
          parameters:
            api-version: '2015-11-01'
            location: local
            newOffer:
              properties:
                basePlanIds:
                  - /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourceGroups/Plans/providers/Microsoft.Subscriptions.Admin/plans/testplan
                description: This is a test Offer
                displayName: Test Offer
                maxSubscriptionsPerAccount: 100
                name: testOffer1
                state: Private
                subscriptionCount: 0
            offer: sampleoffer1
            resourceGroupName: RG1
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                id: /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourceGroups/testrg/providers/Microsoft.Subscriptions.Admin/offers/testOffer1
                location: local
                name: testOffer1
                properties:
                  basePlanIds:
                    - /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourceGroups/Plans/providers/Microsoft.Subscriptions.Admin/plans/testplan
                  description: This is a test Offer
                  displayName: Test Offer
                  maxSubscriptionsPerAccount: 100
                  name: testOffer1
                  state: Private
                  subscriptionCount: 0
                type: Microsoft.Subscriptions.Admin/offers
            '201':
              body:
                id: /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourceGroups/testrg/providers/Microsoft.Subscriptions.Admin/offers/testOffer1
                location: local
                name: testOffer1
                properties:
                  basePlanIds:
                    - /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourceGroups/Plans/providers/Microsoft.Subscriptions.Admin/plans/testplan
                  description: This is a test Offer
                  displayName: Test Offer
                  maxSubscriptionsPerAccount: 100
                  name: testOffer1
                  state: Private
                  subscriptionCount: 0
                type: Microsoft.Subscriptions.Admin/offers
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/MetricDefinitions':
    get:
      description: Get the metric definitions.
      operationId: Offers_ListMetricDefinitions
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of an offer.
          in: path
          name: offer
          required: true
          type: string
          x-ms-parameter-location: method
        - default: '2015-11-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: List of metric definitions.
            properties:
              nextLink:
                description: Continuation token
                type: string
              value:
                description: Array of metric definitions.
                items:
                  description: Metric Definition
                  properties:
                    metricAvailabilities:
                      description: List of metric definitions.
                      items:
                        description: Metric Definition
                        properties:
                          retention:
                            description: the retention. Metrics may be queried for this interval.
                            type: string
                          timeGrain:
                            description: The time grain. Metrics will be available for this time grain.
                            type: string
                        type: object
                      type: array
                    name:
                      description: Metric definition name.
                      type: string
                    primaryAggregationType:
                      description: The primary aggregation type for resource metric.
                      enum:
                        - None
                        - Average
                        - Total
                        - Minimum
                        - Maximum
                        - Last
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: MetricPrimaryAggregationType
                        values:
                          - description: No aggregation applied to resource.
                            name: None
                            value: None
                          - description: The average aggregation type.
                            name: Average
                            value: Average
                          - description: The total aggregation type.
                            name: Total
                            value: Total
                          - description: The minimum aggregation type.
                            name: Minimum
                            value: Minimum
                          - description: The maximum aggregation type.
                            name: Maximum
                            value: Maximum
                          - description: The last aggregation type.
                            name: Last
                            value: Last
                    unit:
                      description: The resource metric unit.
                      enum:
                        - Count
                        - Bytes
                        - Seconds
                        - CountPerSecond
                        - BytesPerSecond
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: MetricUnit
                        values:
                          - description: The count.
                            name: Count
                            value: Count
                          - description: The bytes.
                            name: Bytes
                            value: Bytes
                          - description: The seconds.
                            name: Seconds
                            value: Seconds
                          - description: The count per second.
                            name: CountPerSecond
                            value: CountPerSecond
                          - description: The bytes per second.
                            name: BytesPerSecond
                            value: BytesPerSecond
                  type: object
                type: array
      tags:
        - Offers
      x-ms-examples:
        Get the metric definitions.:
          parameters:
            api-version: '2015-11-01'
            location: local
            offer: sampleoffer1
            resourceGroupName: RG1
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                nextLink: ''
                value: []
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/Metrics':
    get:
      description: Get the offer metrics.
      operationId: Offers_ListMetrics
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of an offer.
          in: path
          name: offer
          required: true
          type: string
          x-ms-parameter-location: method
        - default: '2015-11-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: List of metrics.
            properties:
              nextLink:
                description: Continuation token
                type: string
              value:
                description: List of metrics.
                items:
                  description: The resource metric set that represents the metrics for a particular resource.
                  properties:
                    endTime:
                      description: End time of the metric.
                      format: date-time
                      type: string
                    metricUnit:
                      description: The resource metric unit.
                      enum:
                        - Count
                        - Bytes
                        - Seconds
                        - CountPerSecond
                        - BytesPerSecond
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: MetricUnit
                        values:
                          - description: The count.
                            name: Count
                            value: Count
                          - description: The bytes.
                            name: Bytes
                            value: Bytes
                          - description: The seconds.
                            name: Seconds
                            value: Seconds
                          - description: The count per second.
                            name: CountPerSecond
                            value: CountPerSecond
                          - description: The bytes per second.
                            name: BytesPerSecond
                            value: BytesPerSecond
                    metricValues:
                      description: List of metric values.
                      items:
                        description: Metric value
                        properties:
                          average:
                            description: Average value for metric sample period.
                            format: double
                            type: number
                          count:
                            description: Number of measurements for metric sample period.
                            type: integer
                          maximum:
                            description: Maximum value for metric sample period.
                            format: double
                            type: number
                          minimum:
                            description: Minimum value for metric sample period.
                            format: double
                            type: number
                          properties:
                            additionalProperties:
                              type: string
                            description: Extended properties.
                            type: object
                            x-ms-client-name: extendedProperties
                          timeStamp:
                            description: Timestamp of when the metric value was collected.
                            format: date-time
                            type: string
                          total:
                            description: Total value for metric sample period.
                            format: double
                            type: number
                        type: object
                      type: array
                    startTime:
                      description: Start time of the metric.
                      format: date-time
                      type: string
                    timeGrain:
                      description: Timespan of the metric.
                      type: string
                  type: object
                type: array
      tags:
        - Offers
      x-ms-examples:
        Get the offer metrics.:
          parameters:
            api-version: '2015-11-01'
            location: local
            offer: sampleoffer1
            resourceGroupName: RG1
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                nextLink: ''
                value: []
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/link':
    post:
      description: Links a plan to an offer.
      operationId: Offers_Link
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of an offer.
          in: path
          name: offer
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/PlanLinkParameter'
        - default: '2015-11-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Offer'
      tags:
        - Offers
      x-ms-examples:
        Links a plan to an offer.:
          parameters:
            api-version: '2015-11-01'
            location: local
            offer: sampleoffer1
            planLink:
              properties:
                planLinkType: Addon
                planName: sampleplan1
            resourceGroupName: RG1
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                id: /subscriptions/36a6bf33-6df4-4acd-a30e-7b92c1c7b322/resourceGroups/RG1/providers/Microsoft.Subscriptions.Admin/offers/sampleoffer1
                location: local
                name: sampleoffer1
                properties:
                  addonPlans:
                    - maxAcquisitionCount: 1
                      planId: /subscriptions/36a6bf33-6df4-4acd-a30e-7b92c1c7b322/resourceGroups/TestRG-66c416e8-ad7c-4686-847e-5f84772d3217/providers/Microsoft.Subscriptions.Admin/plans/sampleplan1
                  basePlanIds:
                    - /subscriptions/36a6bf33-6df4-4acd-a30e-7b92c1c7b322/resourceGroups/RG1/providers/Microsoft.Subscriptions.Admin/plans/cnur5364tenantplan110
                  displayName: sampleoffer1
                  maxSubscriptionsPerAccount: 0
                  name: sampleoffer1
                  state: Public
                  subscriptionCount: 2
                tags: {}
                type: Microsoft.Subscriptions.Admin/offers
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/unlink':
    post:
      description: Unlink a plan from an offer.
      operationId: Offers_Unlink
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of an offer.
          in: path
          name: offer
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/PlanLinkParameter'
        - default: '2015-11-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Offer'
      tags:
        - Offers
      x-ms-examples:
        Unlink a plan from an offer.:
          parameters:
            api-version: '2015-11-01'
            location: local
            offer: sampleoffer1
            planLink:
              properties:
                planLinkType: Addon
                planName: SamplePlan
            resourceGroupName: RG1
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                id: /subscriptions/36a6bf33-6df4-4acd-a30e-7b92c1c7b322/resourceGroups/RG1/providers/Microsoft.Subscriptions.Admin/offers/sampleoffer1
                location: local
                name: sampleoffer1
                properties:
                  addonPlans: []
                  basePlanIds:
                    - /subscriptions/36a6bf33-6df4-4acd-a30e-7b92c1c7b322/resourceGroups/RG1/providers/Microsoft.Subscriptions.Admin/plans/SamplePlan
                  displayName: sampleoffer1
                  maxSubscriptionsPerAccount: 0
                  name: sampleoffer1
                  state: Public
                  subscriptionCount: 2
                tags: {}
                type: Microsoft.Subscriptions.Admin/offers
definitions:
  AccessibilityState:
    description: Represents the state of the offer
    enum:
      - Private
      - Public
      - Decommissioned
    type: string
    x-ms-enum:
      modelAsString: true
      name: AccessibilityState
      values:
        - description: The offer or plan is private. Only an Admin can see and manage it.
          name: Private
          value: Private
        - description: The offer or plan is public. Users can see and self-subscribe to it.
          name: Public
          value: Public
        - description: The offer or plan is decommissioned. Current subscriptions can still consume it but new subscriptions cannot.
          name: Decommissioned
          value: Decommissioned
  AddonPlanDefinition:
    description: Contains the name of the desired plan to be linked or unlinked from an offer.
    properties:
      maxAcquisitionCount:
        description: 'Maximum number of instances that can be acquired by a single subscription. If not specified, the assumed value is 1.'
        type: integer
      planId:
        description: Plan identifier.
        type: string
    type: object
  Offer:
    allOf:
      - description: Base Resource Object
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: Location of the resource
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            readOnly: true
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: Represents an offering of services against which a subscription can be created.
    properties:
      properties:
        $ref: '#/definitions/OfferProperties'
        description: Represents an offering of services against which a subscription can be created.
        x-ms-client-flatten: true
    type: object
  OfferList:
    description: List of offers.
    properties:
      nextLink:
        description: URI to next page.
        type: string
      value:
        description: List of offers.
        items:
          $ref: '#/definitions/Offer'
        type: array
    type: object
  OfferProperties:
    description: Represents an offering of services against which a subscription can be created.
    properties:
      addonPlans:
        description: References to add-on plans that a tenant can optionally acquire as a part of the offer.
        items:
          $ref: '#/definitions/AddonPlanDefinition'
        type: array
      basePlanIds:
        description: Identifiers of the base plans that become available to the tenant immediately when a tenant subscribes to the offer.
        items:
          type: string
        type: array
      description:
        description: Description of offer.
        type: string
      displayName:
        description: Display name of offer.
        type: string
      externalReferenceId:
        description: External reference identifier.
        type: string
      maxSubscriptionsPerAccount:
        description: Maximum subscriptions per account.
        type: integer
      name:
        description: Name of the Offer.
        type: string
      state:
        $ref: '#/definitions/AccessibilityState'
        description: Offer accessibility state.
      subscriptionCount:
        description: Current subscription count.
        type: integer
    type: object
  PlanLinkDefinition:
    description: Definition for linking and unlinking plans to offers.
    properties:
      maxAcquisitionCount:
        description: The maximum acquisition count by subscribers
        type: integer
      planLinkType:
        $ref: '#/definitions/PlanLinkType'
        description: Type of the plan link.
      planName:
        description: Name of the plan.
        type: string
    type: object
  PlanLinkType:
    description: Plan link type.
    enum:
      - None
      - Base
      - Addon
    type: string
    x-ms-enum:
      modelAsString: true
      name: PlanLinkType
