openapi: 3.0.0
servers:
  - url: https://gkeonprem.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Anthos On-Prem API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://gkeonprem.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: gkeonprem
externalDocs:
  url: https://cloud.google.com/anthos/clusters/docs/on-prem/
tags:
  - name: projects
paths:
  /v1/{name}:
    delete:
      description: Deletes a single VMware node pool.
      operationId: gkeonprem.projects.locations.vmwareClusters.vmwareNodePools.delete
      parameters:
        - description: "Required. The name of the node pool to delete. Format: projects/{project}/locations/{location}/vmwareClusters/{cluster}/vmwareNodePools/{nodepool}"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: If set to true, and the VMware node pool is not found, the request will succeed but no action will be taken on the server and return a completed LRO.
          in: query
          name: allowMissing
          schema:
            type: boolean
        - description: The current etag of the VmwareNodePool. If an etag is provided and does not match the current etag of the node pool, deletion will be blocked and an ABORTED error will be returned.
          in: query
          name: etag
          schema:
            type: string
        - description: "If set to true, the deletion of a VMware node pool resource will succeed even if errors occur during deletion. This parameter can be used when you want to delete GCP's node pool resource and you've already deleted the on-prem admin cluster that hosted your node pool. WARNING: Using this parameter when your user cluster still exists may result in a deleted GCP node pool but an existing on-prem node pool."
          in: query
          name: ignoreErrors
          schema:
            type: boolean
        - description: If set, only validate the request, but do not actually delete the node pool.
          in: query
          name: validateOnly
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.
      operationId: gkeonprem.projects.locations.vmwareClusters.vmwareNodePools.operations.get
      parameters:
        - description: The name of the operation resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: View for VMware node pool. When `BASIC` is specified, only the node pool resource name is returned. The default/unset value `NODE_POOL_VIEW_UNSPECIFIED` is the same as `FULL', which returns the complete node pool configuration details.
          in: query
          name: view
          schema:
            enum:
              - NODE_POOL_VIEW_UNSPECIFIED
              - BASIC
              - FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates the parameters of a single VMware node pool.
      operationId: gkeonprem.projects.locations.vmwareClusters.vmwareNodePools.patch
      parameters:
        - description: Immutable. The resource name of this node pool.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Required. Field mask is used to specify the fields to be overwritten in the VMwareNodePool resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all populated fields in the VMwareNodePool message will be updated. Empty fields will be ignored unless a field mask is used.
          in: query
          name: updateMask
          schema:
            type: string
        - description: Validate the request without actually doing any updates.
          in: query
          name: validateOnly
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VmwareNodePool"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{name}/locations:
    get:
      description: Lists information about the supported locations for this service.
      operationId: gkeonprem.projects.locations.list
      parameters:
        - description: The resource that owns the locations collection, if applicable.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: A filter to narrow down results to a preferred subset. The filtering language accepts strings like `"displayName=tokyo"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of results to return. If not set, the service selects a default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListLocationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{name}/operations:
    get:
      description: Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: gkeonprem.projects.locations.vmwareClusters.vmwareNodePools.operations.list
      parameters:
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOperationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{name}:cancel:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.
      operationId: gkeonprem.projects.locations.operations.cancel
      parameters:
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelOperationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{name}:unenroll:
    delete:
      description: Unenrolls a VMware node pool to Anthos On-Prem API
      operationId: gkeonprem.projects.locations.vmwareClusters.vmwareNodePools.unenroll
      parameters:
        - description: "Required. The name of the node pool to unenroll. Format: projects/{project}/locations/{location}/vmwareClusters/{cluster}/vmwareNodePools/{nodepool}"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: If set to true, and the VMware node pool is not found, the request will succeed but no action will be taken on the server and return a completed LRO.
          in: query
          name: allowMissing
          schema:
            type: boolean
        - description: The current etag of the VMware node pool. If an etag is provided and does not match the current etag of node pool, deletion will be blocked and an ABORTED error will be returned.
          in: query
          name: etag
          schema:
            type: string
        - description: If set, only validate the request, but do not actually unenroll the node pool.
          in: query
          name: validateOnly
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{parent}/bareMetalAdminClusters:
    get:
      description: Lists bare metal admin clusters in a given project and location.
      operationId: gkeonprem.projects.locations.bareMetalAdminClusters.list
      parameters:
        - description: 'Required. The parent of the project and location where the clusters are listed in. Format: "projects/{project}/locations/{location}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Requested page size. Server may return fewer items than requested. If unspecified, at most 50 clusters will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return.
          in: query
          name: pageToken
          schema:
            type: string
        - description: View for bare metal admin clusters. When `BASIC` is specified, only the admin cluster resource name and membership are returned. The default/unset value `CLUSTER_VIEW_UNSPECIFIED` is the same as `FULL', which returns the complete admin cluster configuration details.
          in: query
          name: view
          schema:
            enum:
              - CLUSTER_VIEW_UNSPECIFIED
              - BASIC
              - FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBareMetalAdminClustersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Creates a new bare metal admin cluster in a given project and location. The API needs to be combined with creating a bootstrap cluster to work. See: https://cloud.google.com/anthos/clusters/docs/bare-metal/latest/installing/creating-clusters/create-admin-cluster-api#prepare_bootstrap_environment"
      operationId: gkeonprem.projects.locations.bareMetalAdminClusters.create
      parameters:
        - description: 'Required. The parent of the project and location where the cluster is created in. Format: "projects/{project}/locations/{location}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Required. User provided identifier that is used as part of the resource name; must conform to RFC-1034 and additionally restrict to lower-cased letters. This comes out roughly to: /^a-z+[a-z0-9]$/"
          in: query
          name: bareMetalAdminClusterId
          schema:
            type: string
        - description: Validate the request without actually doing any updates.
          in: query
          name: validateOnly
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BareMetalAdminCluster"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/bareMetalAdminClusters:enroll:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Enrolls an existing bare metal admin cluster to the Anthos On-Prem API within a given project and location. Through enrollment, an existing admin cluster will become Anthos On-Prem API managed. The corresponding GCP resources will be created and all future modifications to the cluster will be expected to be performed through the API.
      operationId: gkeonprem.projects.locations.bareMetalAdminClusters.enroll
      parameters:
        - description: 'Required. The parent of the project and location where the cluster is enrolled in. Format: "projects/{project}/locations/{location}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnrollBareMetalAdminClusterRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/bareMetalAdminClusters:queryVersionConfig:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Queries the bare metal admin cluster version config.
      operationId: gkeonprem.projects.locations.bareMetalAdminClusters.queryVersionConfig
      parameters:
        - description: 'Required. The parent of the project and location to query for version config. Format: "projects/{project}/locations/{location}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'The admin cluster resource name. This is the full resource name of the admin cluster resource. Format: "projects/{project}/locations/{location}/bareMetalAdminClusters/{bare_metal_admin_cluster}"'
          in: query
          name: upgradeConfig.clusterName
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryBareMetalAdminVersionConfigResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/bareMetalClusters:
    get:
      description: Lists bare metal clusters in a given project and location.
      operationId: gkeonprem.projects.locations.bareMetalClusters.list
      parameters:
        - description: 'Required. The parent of the project and location where the clusters are listed in. Format: "projects/{project}/locations/{location}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: A resource filtering expression following https://google.aip.dev/160. When non-empty, only resource's whose attributes field matches the filter are returned.
          in: query
          name: filter
          schema:
            type: string
        - description: Requested page size. Server may return fewer items than requested. If unspecified, at most 50 clusters will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return.
          in: query
          name: pageToken
          schema:
            type: string
        - description: View for bare metal Clusters. When `BASIC` is specified, only the cluster resource name and admin cluster membership are returned. The default/unset value `CLUSTER_VIEW_UNSPECIFIED` is the same as `FULL', which returns the complete cluster configuration details.
          in: query
          name: view
          schema:
            enum:
              - CLUSTER_VIEW_UNSPECIFIED
              - BASIC
              - FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBareMetalClustersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new bare metal cluster in a given project and location.
      operationId: gkeonprem.projects.locations.bareMetalClusters.create
      parameters:
        - description: 'Required. The parent of the project and location where the cluster is created in. Format: "projects/{project}/locations/{location}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Required. User provided identifier that is used as part of the resource name; must conform to RFC-1034 and additionally restrict to lower-cased letters. This comes out roughly to: /^a-z+[a-z0-9]$/"
          in: query
          name: bareMetalClusterId
          schema:
            type: string
        - description: Validate the request without actually doing any updates.
          in: query
          name: validateOnly
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BareMetalCluster"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/bareMetalClusters:enroll:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Enrolls an existing bare metal user cluster and its node pools to the Anthos On-Prem API within a given project and location. Through enrollment, an existing cluster will become Anthos On-Prem API managed. The corresponding GCP resources will be created and all future modifications to the cluster and/or its node pools will be expected to be performed through the API.
      operationId: gkeonprem.projects.locations.bareMetalClusters.enroll
      parameters:
        - description: 'Required. The parent of the project and location where the cluster is enrolled in. Format: "projects/{project}/locations/{location}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnrollBareMetalClusterRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/bareMetalClusters:queryVersionConfig:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Queries the bare metal user cluster version config.
      operationId: gkeonprem.projects.locations.bareMetalClusters.queryVersionConfig
      parameters:
        - description: 'Required. The parent of the project and location to query for version config. Format: "projects/{project}/locations/{location}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "The admin cluster membership. This is the full resource name of the admin cluster's fleet membership. Format: \"projects/{project}/locations/{location}/memberships/{membership}\""
          in: query
          name: createConfig.adminClusterMembership
          schema:
            type: string
        - description: 'The admin cluster resource name. This is the full resource name of the admin cluster resource. Format: "projects/{project}/locations/{location}/bareMetalAdminClusters/{bare_metal_admin_cluster}"'
          in: query
          name: createConfig.adminClusterName
          schema:
            type: string
        - description: 'The user cluster resource name. This is the full resource name of the user cluster resource. Format: "projects/{project}/locations/{location}/bareMetalClusters/{bare_metal_cluster}"'
          in: query
          name: upgradeConfig.clusterName
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryBareMetalVersionConfigResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/bareMetalNodePools:
    get:
      description: Lists bare metal node pools in a given project, location and bare metal cluster.
      operationId: gkeonprem.projects.locations.bareMetalClusters.bareMetalNodePools.list
      parameters:
        - description: "Required. The parent, which owns this collection of node pools. Format: projects/{project}/locations/{location}/bareMetalClusters/{bareMetalCluster}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of node pools to return. The service may return fewer than this value. If unspecified, at most 50 node pools will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListBareMetalNodePools` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBareMetalNodePools` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
        - description: View for bare metal node pools. When `BASIC` is specified, only the node pool resource name is returned. The default/unset value `NODE_POOL_VIEW_UNSPECIFIED` is the same as `FULL', which returns the complete node pool configuration details.
          in: query
          name: view
          schema:
            enum:
              - NODE_POOL_VIEW_UNSPECIFIED
              - BASIC
              - FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBareMetalNodePoolsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new bare metal node pool in a given project, location and Bare Metal cluster.
      operationId: gkeonprem.projects.locations.bareMetalClusters.bareMetalNodePools.create
      parameters:
        - description: Required. The parent resource where this node pool will be created. projects/{project}/locations/{location}/bareMetalClusters/{cluster}
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "The ID to use for the node pool, which will become the final component of the node pool's resource name. This value must be up to 63 characters, and valid characters are /a-z-/. The value must not be permitted to be a UUID (or UUID-like: anything matching /^[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}$/i)."
          in: query
          name: bareMetalNodePoolId
          schema:
            type: string
        - description: If set, only validate the request, but do not actually create the node pool.
          in: query
          name: validateOnly
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BareMetalNodePool"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/bareMetalNodePools:enroll:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Enrolls an existing bare metal node pool to the Anthos On-Prem API within a given project and location. Through enrollment, an existing node pool will become Anthos On-Prem API managed. The corresponding GCP resources will be created.
      operationId: gkeonprem.projects.locations.bareMetalClusters.bareMetalNodePools.enroll
      parameters:
        - description: Required. The parent resource where this node pool will be created. projects/{project}/locations/{location}/bareMetalClusters/{cluster}
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnrollBareMetalNodePoolRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/vmwareAdminClusters:
    get:
      description: Lists VMware admin clusters in a given project and location.
      operationId: gkeonprem.projects.locations.vmwareAdminClusters.list
      parameters:
        - description: 'Required. The parent of the project and location where the clusters are listed in. Format: "projects/{project}/locations/{location}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Requested page size. Server may return fewer items than requested. If unspecified, at most 50 clusters will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return.
          in: query
          name: pageToken
          schema:
            type: string
        - description: View for VMware admin clusters. When `BASIC` is specified, only the admin cluster resource name and membership are returned. The default/unset value `CLUSTER_VIEW_UNSPECIFIED` is the same as `FULL', which returns the complete admin cluster configuration details.
          in: query
          name: view
          schema:
            enum:
              - CLUSTER_VIEW_UNSPECIFIED
              - BASIC
              - FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListVmwareAdminClustersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{parent}/vmwareAdminClusters:enroll:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Enrolls an existing VMware admin cluster to the Anthos On-Prem API within a given project and location. Through enrollment, an existing admin cluster will become Anthos On-Prem API managed. The corresponding GCP resources will be created and all future modifications to the cluster will be expected to be performed through the API.
      operationId: gkeonprem.projects.locations.vmwareAdminClusters.enroll
      parameters:
        - description: 'Required. The parent of the project and location where the cluster is enrolled in. Format: "projects/{project}/locations/{location}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnrollVmwareAdminClusterRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/vmwareClusters:
    get:
      description: Lists VMware Clusters in a given project and location.
      operationId: gkeonprem.projects.locations.vmwareClusters.list
      parameters:
        - description: 'Required. The parent of the project and location where the clusters are listed in. Format: "projects/{project}/locations/{location}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: A resource filtering expression following https://google.aip.dev/160. When non-empty, only resource's whose attributes field matches the filter are returned.
          in: query
          name: filter
          schema:
            type: string
        - description: Requested page size. Server may return fewer items than requested. If unspecified, at most 50 clusters will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return.
          in: query
          name: pageToken
          schema:
            type: string
        - description: View for VMware clusters. When `BASIC` is specified, only the cluster resource name and admin cluster membership are returned. The default/unset value `CLUSTER_VIEW_UNSPECIFIED` is the same as `FULL', which returns the complete cluster configuration details.
          in: query
          name: view
          schema:
            enum:
              - CLUSTER_VIEW_UNSPECIFIED
              - BASIC
              - FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListVmwareClustersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new VMware user cluster in a given project and location.
      operationId: gkeonprem.projects.locations.vmwareClusters.create
      parameters:
        - description: 'Required. The parent of the project and location where this cluster is created in. Format: "projects/{project}/locations/{location}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Validate the request without actually doing any updates.
          in: query
          name: validateOnly
          schema:
            type: boolean
        - description: User provided identifier that is used as part of the resource name; This value must be up to 40 characters and follow RFC-1123 (https://tools.ietf.org/html/rfc1123) format.
          in: query
          name: vmwareClusterId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VmwareCluster"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/vmwareClusters:enroll:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Enrolls an existing VMware user cluster and its node pools to the Anthos On-Prem API within a given project and location. Through enrollment, an existing cluster will become Anthos On-Prem API managed. The corresponding GCP resources will be created and all future modifications to the cluster and/or its node pools will be expected to be performed through the API.
      operationId: gkeonprem.projects.locations.vmwareClusters.enroll
      parameters:
        - description: 'Required. The parent of the project and location where the cluster is Enrolled in. Format: "projects/{project}/locations/{location}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnrollVmwareClusterRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/vmwareClusters:queryVersionConfig:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Queries the VMware user cluster version config.
      operationId: gkeonprem.projects.locations.vmwareClusters.queryVersionConfig
      parameters:
        - description: 'Required. The parent of the project and location to query for version config. Format: "projects/{project}/locations/{location}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "The admin cluster membership. This is the full resource name of the admin cluster's fleet membership. Format: \"projects/{project}/locations/{location}/memberships/{membership}\""
          in: query
          name: createConfig.adminClusterMembership
          schema:
            type: string
        - description: 'The admin cluster resource name. This is the full resource name of the admin cluster resource. Format: "projects/{project}/locations/{location}/vmwareAdminClusters/{vmware_admin_cluster}"'
          in: query
          name: createConfig.adminClusterName
          schema:
            type: string
        - description: 'The user cluster resource name. This is the full resource name of the user cluster resource. Format: "projects/{project}/locations/{location}/vmwareClusters/{vmware_cluster}"'
          in: query
          name: upgradeConfig.clusterName
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryVmwareVersionConfigResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/vmwareNodePools:
    get:
      description: Lists VMware node pools in a given project, location and VMWare cluster.
      operationId: gkeonprem.projects.locations.vmwareClusters.vmwareNodePools.list
      parameters:
        - description: "Required. The parent, which owns this collection of node pools. Format: projects/{project}/locations/{location}/vmwareClusters/{vmwareCluster}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of node pools to return. The service may return fewer than this value. If unspecified, at most 50 node pools will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListVmwareNodePools` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListVmwareNodePools` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
        - description: View for VMware node pools. When `BASIC` is specified, only the node pool resource name is returned. The default/unset value `NODE_POOL_VIEW_UNSPECIFIED` is the same as `FULL', which returns the complete node pool configuration details.
          in: query
          name: view
          schema:
            enum:
              - NODE_POOL_VIEW_UNSPECIFIED
              - BASIC
              - FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListVmwareNodePoolsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new VMware node pool in a given project, location and VMWare cluster.
      operationId: gkeonprem.projects.locations.vmwareClusters.vmwareNodePools.create
      parameters:
        - description: Required. The parent resource where this node pool will be created. projects/{project}/locations/{location}/vmwareClusters/{cluster}
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: If set, only validate the request, but do not actually create the node pool.
          in: query
          name: validateOnly
          schema:
            type: boolean
        - description: "The ID to use for the node pool, which will become the final component of the node pool's resource name. This value must be up to 40 characters and follow RFC-1123 (https://tools.ietf.org/html/rfc1123) format. The value must not be permitted to be a UUID (or UUID-like: anything matching /^[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}$/i)."
          in: query
          name: vmwareNodePoolId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VmwareNodePool"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{parent}/vmwareNodePools:enroll:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Enrolls a VMware node pool to Anthos On-Prem API
      operationId: gkeonprem.projects.locations.vmwareClusters.vmwareNodePools.enroll
      parameters:
        - description: Required. The parent resource where the node pool is enrolled in.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnrollVmwareNodePoolRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{resource}:getIamPolicy:
    get:
      description: Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.
      operationId: gkeonprem.projects.locations.vmwareClusters.vmwareNodePools.getIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
        - description: Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
          in: query
          name: options.requestedPolicyVersion
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/{resource}:setIamPolicy:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.
      operationId: gkeonprem.projects.locations.vmwareClusters.vmwareNodePools.setIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetIamPolicyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1/{resource}:testIamPermissions:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: 'Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may "fail open" without warning.'
      operationId: gkeonprem.projects.locations.vmwareClusters.vmwareNodePools.testIamPermissions
      parameters:
        - description: "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestIamPermissionsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestIamPermissionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    Authorization:
      description: Authorization defines the On-Prem cluster authorization configuration to bootstrap onto the admin cluster.
      properties:
        adminUsers:
          description: For VMware and bare metal user clusters, users will be granted the cluster-admin role on the cluster, which provides full administrative access to the cluster. For bare metal admin clusters, users will be granted the cluster-view role, which limits users to read-only access.
          items:
            $ref: "#/components/schemas/ClusterUser"
          type: array
      type: object
    BareMetalAdminApiServerArgument:
      description: "BareMetalAdminApiServerArgument represents an arg name->value pair. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/"
      properties:
        argument:
          description: Required. The argument name as it appears on the API Server command line please make sure to remove the leading dashes.
          type: string
        value:
          description: Required. The value of the arg as it will be passed to the API Server command line.
          type: string
      type: object
    BareMetalAdminCluster:
      description: Resource that represents a bare metal admin cluster.
      properties:
        annotations:
          additionalProperties:
            type: string
          description: "Annotations on the bare metal admin cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
          type: object
        bareMetalVersion:
          description: The Anthos clusters on bare metal version for the bare metal admin cluster.
          type: string
        binaryAuthorization:
          $ref: "#/components/schemas/BinaryAuthorization"
          description: Binary Authorization related configurations.
        clusterOperations:
          $ref: "#/components/schemas/BareMetalAdminClusterOperationsConfig"
          description: Cluster operations configuration.
        controlPlane:
          $ref: "#/components/schemas/BareMetalAdminControlPlaneConfig"
          description: Control plane configuration.
        createTime:
          description: Output only. The time at which this bare metal admin cluster was created.
          format: google-datetime
          readOnly: true
          type: string
        deleteTime:
          description: Output only. The time at which this bare metal admin cluster was deleted. If the resource is not deleted, this must be empty
          format: google-datetime
          readOnly: true
          type: string
        description:
          description: A human readable description of this bare metal admin cluster.
          type: string
        endpoint:
          description: Output only. The IP address name of bare metal admin cluster's API server.
          readOnly: true
          type: string
        etag:
          description: This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.
          type: string
        fleet:
          $ref: "#/components/schemas/Fleet"
          description: Output only. Fleet configuration for the cluster.
          readOnly: true
        loadBalancer:
          $ref: "#/components/schemas/BareMetalAdminLoadBalancerConfig"
          description: Load balancer configuration.
        localName:
          description: Output only. The object name of the bare metal cluster custom resource. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs.
          readOnly: true
          type: string
        maintenanceConfig:
          $ref: "#/components/schemas/BareMetalAdminMaintenanceConfig"
          description: Maintenance configuration.
        maintenanceStatus:
          $ref: "#/components/schemas/BareMetalAdminMaintenanceStatus"
          description: Output only. MaintenanceStatus representing state of maintenance.
          readOnly: true
        name:
          description: Immutable. The bare metal admin cluster resource name.
          type: string
        networkConfig:
          $ref: "#/components/schemas/BareMetalAdminNetworkConfig"
          description: Network configuration.
        nodeAccessConfig:
          $ref: "#/components/schemas/BareMetalAdminNodeAccessConfig"
          description: Node access related configurations.
        nodeConfig:
          $ref: "#/components/schemas/BareMetalAdminWorkloadNodeConfig"
          description: Workload node configuration.
        osEnvironmentConfig:
          $ref: "#/components/schemas/BareMetalAdminOsEnvironmentConfig"
          description: OS environment related configurations.
        proxy:
          $ref: "#/components/schemas/BareMetalAdminProxyConfig"
          description: Proxy configuration.
        reconciling:
          description: Output only. If set, there are currently changes in flight to the bare metal Admin Cluster.
          readOnly: true
          type: boolean
        securityConfig:
          $ref: "#/components/schemas/BareMetalAdminSecurityConfig"
          description: Security related configuration.
        state:
          description: Output only. The current state of the bare metal admin cluster.
          enum:
            - STATE_UNSPECIFIED
            - PROVISIONING
            - RUNNING
            - RECONCILING
            - STOPPING
            - ERROR
            - DEGRADED
          readOnly: true
          type: string
        status:
          $ref: "#/components/schemas/ResourceStatus"
          description: Output only. ResourceStatus representing detailed cluster status.
          readOnly: true
        storage:
          $ref: "#/components/schemas/BareMetalAdminStorageConfig"
          description: Storage configuration.
        uid:
          description: Output only. The unique identifier of the bare metal admin cluster.
          readOnly: true
          type: string
        updateTime:
          description: Output only. The time at which this bare metal admin cluster was last updated.
          format: google-datetime
          readOnly: true
          type: string
        validationCheck:
          $ref: "#/components/schemas/ValidationCheck"
          description: Output only. ValidationCheck representing the result of the preflight check.
          readOnly: true
      type: object
    BareMetalAdminClusterOperationsConfig:
      description: BareMetalAdminClusterOperationsConfig specifies the admin cluster's observability infrastructure.
      properties:
        enableApplicationLogs:
          description: Whether collection of application logs/metrics should be enabled (in addition to system logs/metrics).
          type: boolean
      type: object
    BareMetalAdminControlPlaneConfig:
      description: BareMetalAdminControlPlaneConfig specifies the control plane configuration.
      properties:
        apiServerArgs:
          description: "Customizes the default API server args. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/"
          items:
            $ref: "#/components/schemas/BareMetalAdminApiServerArgument"
          type: array
        controlPlaneNodePoolConfig:
          $ref: "#/components/schemas/BareMetalAdminControlPlaneNodePoolConfig"
          description: Required. Configures the node pool running the control plane. If specified the corresponding NodePool will be created for the cluster's control plane. The NodePool will have the same name and namespace as the cluster.
      type: object
    BareMetalAdminControlPlaneNodePoolConfig:
      description: BareMetalAdminControlPlaneNodePoolConfig specifies the control plane node pool configuration. We have a control plane specific node pool config so that we can flexible about supporting control plane specific fields in the future.
      properties:
        nodePoolConfig:
          $ref: "#/components/schemas/BareMetalNodePoolConfig"
          description: Required. The generic configuration for a node pool running the control plane.
      type: object
    BareMetalAdminDrainedMachine:
      description: BareMetalAdminDrainedMachine represents the machines that are drained.
      properties:
        nodeIp:
          description: Drained machine IP address.
          type: string
      type: object
    BareMetalAdminDrainingMachine:
      description: BareMetalAdminDrainingMachine represents the machines that are currently draining.
      properties:
        nodeIp:
          description: Draining machine IP address.
          type: string
        podCount:
          description: The count of pods yet to drain.
          format: int32
          type: integer
      type: object
    BareMetalAdminIslandModeCidrConfig:
      description: BareMetalAdminIslandModeCidrConfig specifies the cluster CIDR configuration while running in island mode.
      properties:
        podAddressCidrBlocks:
          description: Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.
          items:
            type: string
          type: array
        serviceAddressCidrBlocks:
          description: Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.
          items:
            type: string
          type: array
      type: object
    BareMetalAdminLoadBalancerConfig:
      description: BareMetalAdminLoadBalancerConfig specifies the load balancer configuration.
      properties:
        manualLbConfig:
          $ref: "#/components/schemas/BareMetalAdminManualLbConfig"
          description: Manually configured load balancers.
        portConfig:
          $ref: "#/components/schemas/BareMetalAdminPortConfig"
          description: Configures the ports that the load balancer will listen on.
        vipConfig:
          $ref: "#/components/schemas/BareMetalAdminVipConfig"
          description: The VIPs used by the load balancer.
      type: object
    BareMetalAdminMachineDrainStatus:
      description: BareMetalAdminMachineDrainStatus represents the status of bare metal node machines that are undergoing drain operations.
      properties:
        drainedMachines:
          description: The list of drained machines.
          items:
            $ref: "#/components/schemas/BareMetalAdminDrainedMachine"
          type: array
        drainingMachines:
          description: The list of draning machines.
          items:
            $ref: "#/components/schemas/BareMetalAdminDrainingMachine"
          type: array
      type: object
    BareMetalAdminMaintenanceConfig:
      description: BareMetalAdminMaintenanceConfig specifies configurations to put bare metal Admin cluster CRs nodes in and out of maintenance.
      properties:
        maintenanceAddressCidrBlocks:
          description: Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the "baremetal.cluster.gke.io/maintenance" annotation will be set on the node resource.
          items:
            type: string
          type: array
      type: object
    BareMetalAdminMaintenanceStatus:
      description: BareMetalAdminMaintenanceStatus represents the maintenance status for bare metal Admin cluster CR's nodes.
      properties:
        machineDrainStatus:
          $ref: "#/components/schemas/BareMetalAdminMachineDrainStatus"
          description: Represents the status of draining and drained machine nodes. This is used to show the progress of cluster upgrade.
      type: object
    BareMetalAdminManualLbConfig:
      description: BareMetalAdminManualLbConfig represents configuration parameters for a manual load balancer.
      properties:
        enabled:
          description: Whether manual load balancing is enabled.
          type: boolean
      type: object
    BareMetalAdminNetworkConfig:
      description: BareMetalAdminNetworkConfig specifies the cluster network configuration.
      properties:
        islandModeCidr:
          $ref: "#/components/schemas/BareMetalAdminIslandModeCidrConfig"
          description: Configuration for Island mode CIDR.
      type: object
    BareMetalAdminNodeAccessConfig:
      description: Specifies the node access related settings for the bare metal admin cluster.
      properties:
        loginUser:
          description: Required. LoginUser is the user name used to access node machines. It defaults to "root" if not set.
          type: string
      type: object
    BareMetalAdminOsEnvironmentConfig:
      description: Specifies operating system operation settings for cluster provisioning.
      properties:
        packageRepoExcluded:
          description: Whether the package repo should be added when initializing bare metal machines.
          type: boolean
      type: object
    BareMetalAdminPortConfig:
      description: BareMetalAdminPortConfig is the specification of load balancer ports.
      properties:
        controlPlaneLoadBalancerPort:
          description: The port that control plane hosted load balancers will listen on.
          format: int32
          type: integer
      type: object
    BareMetalAdminProxyConfig:
      description: BareMetalAdminProxyConfig specifies the cluster proxy configuration.
      properties:
        noProxy:
          description: 'A list of IPs, hostnames, and domains that should skip the proxy. Examples: ["127.0.0.1", "example.com", ".corp", "localhost"].'
          items:
            type: string
          type: array
        uri:
          description: "Required. Specifies the address of your proxy server. Examples: `http://domain` WARNING: Do not provide credentials in the format `http://(username:password@)domain` these will be rejected by the server."
          type: string
      type: object
    BareMetalAdminSecurityConfig:
      description: Specifies the security related settings for the bare metal admin cluster.
      properties:
        authorization:
          $ref: "#/components/schemas/Authorization"
          description: Configures user access to the admin cluster.
      type: object
    BareMetalAdminStorageConfig:
      description: BareMetalAdminStorageConfig specifies the cluster storage configuration.
      properties:
        lvpNodeMountsConfig:
          $ref: "#/components/schemas/BareMetalLvpConfig"
          description: Required. Specifies the config for local PersistentVolumes backed by mounted node disks. These disks need to be formatted and mounted by the user, which can be done before or after cluster creation.
        lvpShareConfig:
          $ref: "#/components/schemas/BareMetalLvpShareConfig"
          description: Required. Specifies the config for local PersistentVolumes backed by subdirectories in a shared filesystem. These subdirectores are automatically created during cluster creation.
      type: object
    BareMetalAdminVipConfig:
      description: BareMetalAdminVipConfig for bare metal load balancer configurations.
      properties:
        controlPlaneVip:
          description: The VIP which you previously set aside for the Kubernetes API of this bare metal admin cluster.
          type: string
      type: object
    BareMetalAdminWorkloadNodeConfig:
      description: BareMetalAdminWorkloadNodeConfig specifies the workload node configurations.
      properties:
        maxPodsPerNode:
          description: The maximum number of pods a node can run. The size of the CIDR range assigned to the node will be derived from this parameter. By default 110 Pods are created per Node. Upper bound is 250 for both HA and non-HA admin cluster. Lower bound is 64 for non-HA admin cluster and 32 for HA admin cluster.
          format: int64
          type: string
      type: object
    BareMetalApiServerArgument:
      description: Represents an arg name->value pair. Only a subset of customized flags are supported. For the exact format, refer to the [API server documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/).
      properties:
        argument:
          description: Required. The argument name as it appears on the API Server command line, make sure to remove the leading dashes.
          type: string
        value:
          description: Required. The value of the arg as it will be passed to the API Server command line.
          type: string
      type: object
    BareMetalBgpLbConfig:
      description: BareMetalBgpLbConfig represents configuration parameters for a Border Gateway Protocol (BGP) load balancer.
      properties:
        addressPools:
          description: Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.
          items:
            $ref: "#/components/schemas/BareMetalLoadBalancerAddressPool"
          type: array
        asn:
          description: Required. BGP autonomous system number (ASN) of the cluster. This field can be updated after cluster creation.
          format: int64
          type: string
        bgpPeerConfigs:
          description: Required. The list of BGP peers that the cluster will connect to. At least one peer must be configured for each control plane node. Control plane nodes will connect to these peers to advertise the control plane VIP. The Services load balancer also uses these peers by default. This field can be updated after cluster creation.
          items:
            $ref: "#/components/schemas/BareMetalBgpPeerConfig"
          type: array
        loadBalancerNodePoolConfig:
          $ref: "#/components/schemas/BareMetalLoadBalancerNodePoolConfig"
          description: Specifies the node pool running data plane load balancing. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used for data plane load balancing.
      type: object
    BareMetalBgpPeerConfig:
      description: BareMetalBgpPeerConfig represents configuration parameters for a Border Gateway Protocol (BGP) peer.
      properties:
        asn:
          description: Required. BGP autonomous system number (ASN) for the network that contains the external peer device.
          format: int64
          type: string
        controlPlaneNodes:
          description: The IP address of the control plane node that connects to the external peer. If you don't specify any control plane nodes, all control plane nodes can connect to the external peer. If you specify one or more IP addresses, only the nodes specified participate in peering sessions.
          items:
            type: string
          type: array
        ipAddress:
          description: Required. The IP address of the external peer device.
          type: string
      type: object
    BareMetalCluster:
      description: Resource that represents a bare metal user cluster.
      properties:
        adminClusterMembership:
          description: Required. The admin cluster this bare metal user cluster belongs to. This is the full resource name of the admin cluster's fleet membership.
          type: string
        adminClusterName:
          description: Output only. The resource name of the bare metal admin cluster managing this user cluster.
          readOnly: true
          type: string
        annotations:
          additionalProperties:
            type: string
          description: "Annotations on the bare metal user cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
          type: object
        bareMetalVersion:
          description: Required. The Anthos clusters on bare metal version for your user cluster.
          type: string
        binaryAuthorization:
          $ref: "#/components/schemas/BinaryAuthorization"
          description: Binary Authorization related configurations.
        clusterOperations:
          $ref: "#/components/schemas/BareMetalClusterOperationsConfig"
          description: Cluster operations configuration.
        controlPlane:
          $ref: "#/components/schemas/BareMetalControlPlaneConfig"
          description: Required. Control plane configuration.
        createTime:
          description: Output only. The time when the bare metal user cluster was created.
          format: google-datetime
          readOnly: true
          type: string
        deleteTime:
          description: Output only. The time when the bare metal user cluster was deleted. If the resource is not deleted, this must be empty
          format: google-datetime
          readOnly: true
          type: string
        description:
          description: A human readable description of this bare metal user cluster.
          type: string
        endpoint:
          description: Output only. The IP address of the bare metal user cluster's API server.
          readOnly: true
          type: string
        etag:
          description: Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.
          readOnly: true
          type: string
        fleet:
          $ref: "#/components/schemas/Fleet"
          description: Output only. Fleet configuration for the cluster.
          readOnly: true
        loadBalancer:
          $ref: "#/components/schemas/BareMetalLoadBalancerConfig"
          description: Required. Load balancer configuration.
        localName:
          description: Output only. The object name of the bare metal user cluster custom resource on the associated admin cluster. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the name in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. When the local name and cluster name differ, the local name is used in the admin cluster controller logs. You use the cluster name when accessing the cluster using bmctl and kubectl.
          readOnly: true
          type: string
        maintenanceConfig:
          $ref: "#/components/schemas/BareMetalMaintenanceConfig"
          description: Maintenance configuration.
        maintenanceStatus:
          $ref: "#/components/schemas/BareMetalMaintenanceStatus"
          description: Output only. Status of on-going maintenance tasks.
          readOnly: true
        name:
          description: Immutable. The bare metal user cluster resource name.
          type: string
        networkConfig:
          $ref: "#/components/schemas/BareMetalNetworkConfig"
          description: Required. Network configuration.
        nodeAccessConfig:
          $ref: "#/components/schemas/BareMetalNodeAccessConfig"
          description: Node access related configurations.
        nodeConfig:
          $ref: "#/components/schemas/BareMetalWorkloadNodeConfig"
          description: Workload node configuration.
        osEnvironmentConfig:
          $ref: "#/components/schemas/BareMetalOsEnvironmentConfig"
          description: OS environment related configurations.
        proxy:
          $ref: "#/components/schemas/BareMetalProxyConfig"
          description: Proxy configuration.
        reconciling:
          description: Output only. If set, there are currently changes in flight to the bare metal user cluster.
          readOnly: true
          type: boolean
        securityConfig:
          $ref: "#/components/schemas/BareMetalSecurityConfig"
          description: Security related setting configuration.
        state:
          description: Output only. The current state of the bare metal user cluster.
          enum:
            - STATE_UNSPECIFIED
            - PROVISIONING
            - RUNNING
            - RECONCILING
            - STOPPING
            - ERROR
            - DEGRADED
          readOnly: true
          type: string
        status:
          $ref: "#/components/schemas/ResourceStatus"
          description: Output only. Detailed cluster status.
          readOnly: true
        storage:
          $ref: "#/components/schemas/BareMetalStorageConfig"
          description: Required. Storage configuration.
        uid:
          description: Output only. The unique identifier of the bare metal user cluster.
          readOnly: true
          type: string
        updateTime:
          description: Output only. The time when the bare metal user cluster was last updated.
          format: google-datetime
          readOnly: true
          type: string
        upgradePolicy:
          $ref: "#/components/schemas/BareMetalClusterUpgradePolicy"
          description: The cluster upgrade policy.
        validationCheck:
          $ref: "#/components/schemas/ValidationCheck"
          description: Output only. The result of the preflight check.
          readOnly: true
      type: object
    BareMetalClusterOperationsConfig:
      description: Specifies the bare metal user cluster's observability infrastructure.
      properties:
        enableApplicationLogs:
          description: Whether collection of application logs/metrics should be enabled (in addition to system logs/metrics).
          type: boolean
      type: object
    BareMetalClusterUpgradePolicy:
      description: BareMetalClusterUpgradePolicy defines the cluster upgrade policy.
      properties:
        policy:
          description: Specifies which upgrade policy to use.
          enum:
            - NODE_POOL_POLICY_UNSPECIFIED
            - SERIAL
            - CONCURRENT
          type: string
      type: object
    BareMetalControlPlaneConfig:
      description: Specifies the control plane configuration.
      properties:
        apiServerArgs:
          description: Customizes the default API server args. Only a subset of customized flags are supported. For the exact format, refer to the [API server documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/).
          items:
            $ref: "#/components/schemas/BareMetalApiServerArgument"
          type: array
        controlPlaneNodePoolConfig:
          $ref: "#/components/schemas/BareMetalControlPlaneNodePoolConfig"
          description: Required. Configures the node pool running the control plane.
      type: object
    BareMetalControlPlaneNodePoolConfig:
      description: Specifies the control plane node pool configuration.
      properties:
        nodePoolConfig:
          $ref: "#/components/schemas/BareMetalNodePoolConfig"
          description: Required. The generic configuration for a node pool running the control plane.
      type: object
    BareMetalDrainedMachine:
      description: Represents a machine that is currently drained.
      properties:
        nodeIp:
          description: Drained machine IP address.
          type: string
      type: object
    BareMetalDrainingMachine:
      description: Represents a machine that is currently draining.
      properties:
        nodeIp:
          description: Draining machine IP address.
          type: string
        podCount:
          description: The count of pods yet to drain.
          format: int32
          type: integer
      type: object
    BareMetalIslandModeCidrConfig:
      description: Specifies the cluster CIDR configuration while running in island mode.
      properties:
        podAddressCidrBlocks:
          description: Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.
          items:
            type: string
          type: array
        serviceAddressCidrBlocks:
          description: Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field is mutable after creation starting with version 1.15.
          items:
            type: string
          type: array
      type: object
    BareMetalKubeletConfig:
      description: "KubeletConfig defines the modifiable kubelet configurations for bare metal machines. Note: this list includes fields supported in GKE (see https://cloud.google.com/kubernetes-engine/docs/how-to/node-system-config#kubelet-options)."
      properties:
        registryBurst:
          description: The maximum size of bursty pulls, temporarily allows pulls to burst to this number, while still not exceeding registry_pull_qps. The value must not be a negative number. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 10.
          format: int32
          type: integer
        registryPullQps:
          description: The limit of registry pulls per second. Setting this value to 0 means no limit. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 5.
          format: int32
          type: integer
        serializeImagePullsDisabled:
          description: Prevents the Kubelet from pulling multiple images at a time. We recommend *not* changing the default value on nodes that run docker daemon with version < 1.9 or an Another Union File System (Aufs) storage backend. Issue https://github.com/kubernetes/kubernetes/issues/10959 has more details.
          type: boolean
      type: object
    BareMetalLoadBalancerAddressPool:
      description: Represents an IP pool used by the load balancer.
      properties:
        addresses:
          description: Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5).
          items:
            type: string
          type: array
        avoidBuggyIps:
          description: If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses.
          type: boolean
        manualAssign:
          description: If true, prevent IP addresses from being automatically assigned.
          type: boolean
        pool:
          description: Required. The name of the address pool.
          type: string
      type: object
    BareMetalLoadBalancerConfig:
      description: Specifies the load balancer configuration.
      properties:
        bgpLbConfig:
          $ref: "#/components/schemas/BareMetalBgpLbConfig"
          description: Configuration for BGP typed load balancers. When set network_config.advanced_networking is automatically set to true.
        manualLbConfig:
          $ref: "#/components/schemas/BareMetalManualLbConfig"
          description: Manually configured load balancers.
        metalLbConfig:
          $ref: "#/components/schemas/BareMetalMetalLbConfig"
          description: Configuration for MetalLB load balancers.
        portConfig:
          $ref: "#/components/schemas/BareMetalPortConfig"
          description: Configures the ports that the load balancer will listen on.
        vipConfig:
          $ref: "#/components/schemas/BareMetalVipConfig"
          description: The VIPs used by the load balancer.
      type: object
    BareMetalLoadBalancerNodePoolConfig:
      description: Specifies the load balancer's node pool configuration.
      properties:
        nodePoolConfig:
          $ref: "#/components/schemas/BareMetalNodePoolConfig"
          description: The generic configuration for a node pool running a load balancer.
      type: object
    BareMetalLvpConfig:
      description: Specifies the configs for local persistent volumes (PVs).
      properties:
        path:
          description: Required. The host machine path.
          type: string
        storageClass:
          description: Required. The StorageClass name that PVs will be created with.
          type: string
      type: object
    BareMetalLvpShareConfig:
      description: Specifies the configs for local persistent volumes under a shared file system.
      properties:
        lvpConfig:
          $ref: "#/components/schemas/BareMetalLvpConfig"
          description: Required. Defines the machine path and storage class for the LVP Share.
        sharedPathPvCount:
          description: The number of subdirectories to create under path.
          format: int32
          type: integer
      type: object
    BareMetalMachineDrainStatus:
      description: Represents the status of node machines that are undergoing drain operations.
      properties:
        drainedMachines:
          description: The list of drained machines.
          items:
            $ref: "#/components/schemas/BareMetalDrainedMachine"
          type: array
        drainingMachines:
          description: The list of draning machines.
          items:
            $ref: "#/components/schemas/BareMetalDrainingMachine"
          type: array
      type: object
    BareMetalMaintenanceConfig:
      description: Specifies configurations to put bare metal nodes in and out of maintenance.
      properties:
        maintenanceAddressCidrBlocks:
          description: Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the "baremetal.cluster.gke.io/maintenance" annotation will be set on the node resource.
          items:
            type: string
          type: array
      type: object
    BareMetalMaintenanceStatus:
      description: Represents the maintenance status of the bare metal user cluster.
      properties:
        machineDrainStatus:
          $ref: "#/components/schemas/BareMetalMachineDrainStatus"
          description: The maintenance status of node machines.
      type: object
    BareMetalManualLbConfig:
      description: Represents configuration parameters for a manual load balancer.
      properties:
        enabled:
          description: Whether manual load balancing is enabled.
          type: boolean
      type: object
    BareMetalMetalLbConfig:
[...]
