swagger: '2.0'
schemes:
  - https
host: ofmpub.epa.gov
basePath: /echo
info:
  contact:
    name: 'US EPA, OECA Integration, Targeting and Access Branch'
  description: |-
    Enforcement and Compliance History Online (ECHO) is a tool developed and maintained by EPA's Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated compliance and enforcement information for about 800,000 regulated facilities nationwide.
    <BR><BR>SDW Rest Services provides multiple service endpoints, each with specific capabilities, to search and retrieve data on public water systems regulated under the Safe Drinking Water Act (SDWA) .
    The returned results reflect data drawn from EPA's Federal Safe Drinking Water Information System (SDWIS) database.
    <BR><BR>
    The get_systems, get_qid, and get_download end points are meant to be used together.
    <br><br>
    The recommended use scenario for get_systems, get_qid, and get_downoad is:
    <br>
    <br><b>1)</b>&nbsp Use get_systems to validate passed query parameters, obtain summary statistics and to obtain a query_id (QID).  QIDs are time sensitive and will be valid for approximately 30 minutes.
    <br><b>2)</b>&nbsp Use get_qid, with the returned QID, to paginate through arrays of water system results.
    <br><b>3)</b>&nbsp Use get_download, with the returned QID, to generate a Comma Separated Value (CSV) file of water system information that meets the QID query criteria.
    <br>
    <br>
    Use the qcolumns parameter to customize your search results.  Use the Metdata service endpoint for a list of available output objects, their Column Ids, and their definitions to help you build your customized output. 
    <br><br>
    Additional ECHO Resources:&nbsp&nbsp <a href="https://echo.epa.gov/tools/web-services">Web Services</a>, <a href="https://echo.epa.gov/resources/echo-data/about-the-data">About ECHO's Data</a>, <a href="https://echo.epa.gov/tools/data-downloads">Data Downloads</a>
    <br>
  license:
    name: This page was built with the Swagger API.
    url: 'https://swagger.io'
  title: U.S. EPA Enforcement and Compliance History Online (ECHO) - Safe Drinking Water Act
  version: 0.0.0
  x-apisguru-categories:
    - open_data
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://pbs.twimg.com/profile_images/632233890594299904/DgRDU6dx_400x400.png'
  x-origin:
    - format: swagger
      url: 'https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=SDW'
      version: '2.0'
  x-providerName: epa.gov
  x-serviceName: sdw
consumes:
  - application/json
  - application/xml
produces:
  - application/json
  - application/xml
parameters:
  callback:
    description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.
    in: query
    name: callback
    required: false
    type: string
  descending:
    description: Output Sort Column Descending Flag.  Enter Y to column identified in the newsort parameter descending.  Enter N to use ascending sort order. Used only when newsort parameter is populated.
    enum:
      - 'Y'
      - 'N'
    in: query
    name: descending
    required: false
    type: string
  newsort:
    description: Output Sort Column.  Enter the number of the column on which the data will be sorted. If unpopulated results will sort on the first column.
    in: query
    name: newsort
    required: false
    type: number
  p_act:
    description: Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.
    enum:
      - 'Y'
      - 'N'
      - A
    in: query
    name: p_act
    required: false
    type: string
  p_co:
    description: Facility County Filter. Provide a single county name in combination with a state value provided via p_st.
    in: query
    name: p_co
    required: false
    type: string
  p_cs:
    description: |-
      Current violations:
      - M = Monitoring and Reporting Violations
      - H = Health-based Violations
      - O = Other Violations
      - P = Public Notice Violations
      - S = Serious Violator
      - N = No Violations
      May contain multiple comma-separated values.
    in: query
    name: p_cs
    required: false
    type: string
  p_ct:
    description: Facility City Filter. Enter a single case-insensitive city name to filter results.
    in: query
    name: p_ct
    required: false
    type: string
  p_cuale:
    description: Copper Action Level Exceedance.  A "Y" value will select water systems with at least 1 Copper Action Level Exceedance.
    in: query
    name: p_cuale
    required: false
    type: string
  p_cuv:
    description: Copper Violation.  A "Y" value will select water systems with at least 1 Copper Violation.
    in: query
    name: p_cuv
    required: false
    type: string
  p_fea:
    description: |-
      Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - 'N'
    in: query
    name: p_fea
    required: false
    type: string
  p_feaa:
    description: |-
      Agency associated with Formal Enforcement Actions:
      - E = EPA
      - S = State
      - A = All
    enum:
      - A
      - E
      - S
    in: query
    name: p_feaa
    required: false
    type: string
  p_feay:
    description: Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.
    enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    in: query
    name: p_feay
    required: false
    type: number
  p_fips:
    description: 'FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059.'
    in: query
    name: p_fips
    required: false
    type: string
  p_fn:
    description: Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers.
    in: query
    name: p_fn
    required: false
    type: string
  p_health:
    description: 'Violations of health-based drinking water standards (maximum contaminant levels, maximum residual disinfectant levels, or treatment technique rules).'
    enum:
      - 'Y'
      - 'N'
    in: query
    name: p_health
    required: false
    type: string
  p_ico:
    description: Indian Country Flag.  Enter a "Y" or "N" to restrict searches to facilities inside or outside Indian Country.
    enum:
      - 'Y'
      - 'N'
    in: query
    name: p_ico
    required: false
    type: string
  p_iea:
    description: |-
      Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - 'N'
    in: query
    name: p_iea
    required: false
    type: string
  p_ieaa:
    description: |-
      Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.
      - E = EPA
      - S = State
    enum:
      - E
      - S
    in: query
    name: p_ieaa
    required: false
    type: string
  p_ieay:
    description: Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified.
    enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    in: query
    name: p_ieay
    required: false
    type: number
  p_lcrv:
    description: Lead or Copper rule violations.  A "Y" value will select water systems with at least 1 Lead or Copper Rule Violation.
    in: query
    name: p_lcrv
    required: false
    type: string
  p_mr:
    description: Monitoring and Reporting Violations (failure to conduct regular monitoring of drinking water quality or submit monitoring results in a timely fashion).
    enum:
      - 'Y'
      - 'N'
    in: query
    name: p_mr
    required: false
    type: string
  p_other:
    description: 'Other violations, such as failing to issue annual consumer confidence reports or maintain required records.'
    enum:
      - 'Y'
      - 'N'
    in: query
    name: p_other
    required: false
    type: string
  p_owop:
    description: |-
      Owner/Operator code filter.  Enter one of the following codes to filter results:
      - F = Federal Government
      - S = State Government
      - L = Local Government
      - M = Public/Private
      - N = Native American
      - P = Private
    enum:
      - F
      - S
      - L
      - M
      - 'N'
      - P
    in: query
    name: p_owop
    required: false
    type: string
  p_pbale:
    description: Lead Action Level Exceedance.  A "Y" value will select water systems with at least 1 Lead Action Level Exceedance.
    in: query
    name: p_pbale
    required: false
    type: string
  p_pbv:
    description: Lead Violations.  A "Y" value will select water systems with at least 1 Lead Violation.
    in: query
    name: p_pbv
    required: false
    type: string
  p_pfead1:
    description: Formal Enforcement Action Date Range Start.  Enter a date in MM/DD/YYYY format to set the start of the range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.
    in: query
    name: p_pfead1
    required: false
    type: string
  p_pfead2:
    description: Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY format to set the end of the date range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.
    in: query
    name: p_pfead2
    required: false
    type: string
  p_pfeat:
    description: Formal Enforcement Action (FEA) Code Filter.  Enter one or more three-letter FEA codes to restrict results to facilities with these attributes.  Use p_fead1 and p_fead2 parameters to further restrict this filter by entering a date range.  Provide multiple codes as a comma-delimited list.
    in: query
    name: p_pfeat
    required: false
    type: string
  p_pid:
    description: Nine-digit permit IDs. May contain up to 2000 comma-separated values.
    in: query
    name: p_pid
    required: false
    type: string
  p_pn:
    description: Public Notice Violations (failure to immediately alert consumers of serious problem with drinking water).
    enum:
      - 'Y'
      - 'N'
    in: query
    name: p_pn
    required: false
    type: string
  p_popsv:
    description: |-
      Estimated average daily population served by a system:
      - LE500 = 500 or less
      - IN501_3K = 501-3,300
      - IN3K_10K = 3,301-10,000
      - IN10K_100K = 10,001-100,000
      - IN100K_1M = 100,001-1,000,000
      - GT1M = More than 1,000,000
      May contain multiple comma-separated values.
    in: query
    name: p_popsv
    required: false
    type: string
  p_pswpol:
    description: 'For CWA, pollutant names for surface water discharges. for Drinking Water, SDWIS Violation contaminant codes for unaddressed violations that have occurred in the last 3 years. May contain multiple comma-separated values.'
    in: query
    name: p_pswpol
    required: false
    type: string
  p_pswvio:
    description: 'Used in conjuction with parameters p_pswpol and p_pswparam, indicates whether search should only include pollutants with violations.'
    enum:
      - 'Y'
      - 'N'
    in: query
    name: p_pswvio
    required: false
    type: string
  p_qis:
    description: |-
      Significant Quarters in Noncompliance Limiter.  Enter one of the following codes to limit results to facilities having given quarters of noncompliance.
      - Z = Zero quarters in noncompliance.
      - GE1 = One or more quarters in noncompliance.
      - GT1 = More than one quarters in noncompliance.
      - GE2 = Two or more quarters in noncompliance.
      - GT2 = More than two quarters in noncompliance.
      - GE4 = Four or more quarters in noncompliance.
      - GT4 = More than four quarters in noncompliance.
      - GE8 = Eight or more quarters in noncompliance.
      - GT8 = More than eight quarters in noncompliance.
      - GE12 = Twelve or more quarters in noncompliance.
      - GT12 = Twelve or more quarters in noncompliance.
      - 12 = Exactly twelve quarters in noncompliance.
      Note the seemingly incongruous of GT12 is deliberate.
    enum:
      - Z
      - GE1
      - GT1
      - GE2
      - GT2
      - GE4
      - GT4
      - GE8
      - GT8
      - GE12
      - GT12
      - '12'
    in: query
    name: p_qis
    required: false
    type: string
  p_qiv:
    description: |-
      Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.
      - Z = Zero quarters in noncompliance.
      - GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.
      - GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.
    enum:
      - '0'
      - GT1
      - GT2
      - GT4
      - GT8
      - '12'
    in: query
    name: p_qiv
    required: false
    type: string
  p_qs:
    description: 'Quick Search. Allows entry for city, state, and/or zip code.'
    in: query
    name: p_qs
    required: false
    type: string
  p_rc350v:
    description: Rule code 350 violation. A "Y" value will select water systems with at least one rule code 350 violation.
    in: query
    name: p_rc350v
    required: false
    type: string
  p_reg:
    description: EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.
    enum:
      - '01'
      - '02'
      - '03'
      - '04'
      - '05'
      - '06'
      - '07'
      - 08
      - 09
      - '10'
    in: query
    name: p_reg
    required: false
    type: string
  p_sfs:
    description: 'Single Facility Search Filter.  Provide a facility name or program system identifier to limit results.  For the all data search, the FRS registry identifier is also searched.'
    in: query
    name: p_sfs
    required: false
    type: string
  p_st:
    description: Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_st
    required: false
    type: string
  p_sv:
    description: 'Serious Violator (unresolved serious, multiple, and/or continuing violations). A value of Y will return only SDWIS systems that are Serious Violators, while a value of N will only return SDWIS Systems that are not Serious Violators.'
    enum:
      - 'Y'
      - 'N'
    in: query
    name: p_sv
    required: false
    type: string
  p_swtyp:
    description: |-
      Source Water Type:
      - SW = Surface water 
      - GW= Ground water
      - GU = Ground water under direct influence of (UDI) surface water
      - SWP = Purchased Surface water
      - GWP = Purchased Ground water
      - GUP = Purchased Ground water UDI surface water
    enum:
      - SW
      - GW
      - GU
      - SWP
      - GWP
      - GUP
    in: query
    name: p_swtyp
    required: false
    type: string
  p_systyp:
    description: |-
      Type of public water system:
      - CWS=Community water system
      - NCWS=Non-community water system
      - NTCWS=Non-transient non-community water system
      - TNCWS=Transient non-community water system
    enum:
      - CWS
      - NCWS
      - NTCWS
      - TNCWS
    in: query
    name: p_systyp
    required: false
    type: string
  p_trb:
    description: Tribe name
    in: query
    name: p_trb
    required: false
    type: string
  p_zip:
    description: 5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values.
    in: query
    name: p_zip
    required: false
    type: string
  pageno:
    default: 1
    description: Indicates the number of the page to display. It is used only when the results are paginated.
    in: query
    name: pageno
    required: false
    type: number
  qcolumns:
    description: Used to cutomize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.
    in: query
    name: qcolumns
    required: false
    type: string
  qid:
    description: Query ID Selector.  Enter the QueryID number from a previously run query.
    in: query
    name: qid
    required: true
    type: string
  queryset:
    description: 'Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000.'
    in: query
    name: queryset
    required: false
    type: number
  responseset:
    description: 'Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000.'
    in: query
    name: responseset
    required: false
    type: number
paths:
  /sdw_rest_services.get_download:
    get:
      description: 'Based on the QID obtained from a get_systems query, return a comma separated value (CSV) file of the water systems found.'
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - CSV = Facility results formatted as comma delimited file download (default).
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/qid'
        - $ref: '#/parameters/qcolumns'
      responses:
        '200':
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Safe Drinking Water Act (SDWA) Download Data Service
      tags:
        - Safe Drinking Water
    post:
      description: 'Based on the QID obtained from a get_systems query, return a comma separated value (CSV) file of the water systems found.'
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - CSV = Facility results formatted as comma delimited file download (default).
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/qid'
        - $ref: '#/parameters/qcolumns'
      responses:
        '200':
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Safe Drinking Water Act (SDWA) Download Data Service
      tags:
        - Safe Drinking Water
  /sdw_rest_services.get_qid:
    get:
      description: 'GET_QID is passed with a query ID corresponding to a previously run get_systems query. It then returns a Systems object containing all matching water systems. The main purpose of GET_QID is for large querysets that contain multiple pages (responsesets) of output. GET_QID allows for pagination and for the selection and sorting of columns. '
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/qid'
        - $ref: '#/parameters/pageno'
        - $ref: '#/parameters/callback'
        - $ref: '#/parameters/newsort'
        - $ref: '#/parameters/descending'
      responses:
        '200':
          description: Results are an array (page)  of SDWA (SDWIS) Water Systems with the number of systems equal to the responseset (page size).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/sdw2_Results'
            required:
              - Results
            type: object
      summary: Safe Drinking Water Act (SDWA) Paginated Results Service
      tags:
        - Safe Drinking Water
    post:
      description: 'GET_QID is passed with a query ID corresponding to a previously run get_systems query. It then returns a Systems object containing all matching water systems. The main purpose of GET_QID is for large querysets that contain multiple pages (responsesets) of output. GET_QID allows for pagination and for the selection and sorting of columns. '
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/qid'
        - $ref: '#/parameters/pageno'
        - $ref: '#/parameters/callback'
        - $ref: '#/parameters/newsort'
        - $ref: '#/parameters/descending'
      responses:
        '200':
          description: Results are an array (page)  of SDWA (SDWIS) Water Systems with the number of systems equal to the responseset (page size).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/sdw2_Results'
            required:
              - Results
            type: object
      summary: Safe Drinking Water Act (SDWA) Paginated Results Service
      tags:
        - Safe Drinking Water
  /sdw_rest_services.get_systems:
    get:
      description: Returns an array of public water systems that meet the specified search criteria.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/p_fn'
        - $ref: '#/parameters/p_ct'
        - $ref: '#/parameters/p_co'
        - $ref: '#/parameters/p_fips'
        - $ref: '#/parameters/p_st'
        - $ref: '#/parameters/p_zip'
        - $ref: '#/parameters/p_reg'
        - $ref: '#/parameters/p_trb'
        - $ref: '#/parameters/p_act'
        - $ref: '#/parameters/p_qiv'
        - $ref: '#/parameters/p_ico'
        - $ref: '#/parameters/p_pid'
        - $ref: '#/parameters/p_owop'
        - $ref: '#/parameters/p_systyp'
        - $ref: '#/parameters/p_swtyp'
        - $ref: '#/parameters/p_popsv'
        - $ref: '#/parameters/p_cs'
        - $ref: '#/parameters/p_mr'
        - $ref: '#/parameters/p_health'
        - $ref: '#/parameters/p_other'
        - $ref: '#/parameters/p_pn'
        - $ref: '#/parameters/p_sv'
        - $ref: '#/parameters/p_qs'
        - $ref: '#/parameters/p_sfs'
        - $ref: '#/parameters/p_pswpol'
        - $ref: '#/parameters/p_pswvio'
        - $ref: '#/parameters/p_pbale'
        - $ref: '#/parameters/p_cuale'
        - $ref: '#/parameters/p_rc350v'
        - $ref: '#/parameters/p_pbv'
        - $ref: '#/parameters/p_cuv'
        - $ref: '#/parameters/p_lcrv'
        - $ref: '#/parameters/p_fea'
        - $ref: '#/parameters/p_feay'
        - $ref: '#/parameters/p_feaa'
        - $ref: '#/parameters/p_iea'
        - $ref: '#/parameters/p_ieay'
        - $ref: '#/parameters/p_ieaa'
        - $ref: '#/parameters/p_qis'
        - $ref: '#/parameters/p_pfead1'
        - $ref: '#/parameters/p_pfead2'
        - $ref: '#/parameters/p_pfeat'
        - $ref: '#/parameters/queryset'
        - $ref: '#/parameters/responseset'
        - $ref: '#/parameters/callback'
      responses:
        '200':
          description: Returns an array of public water systems that meet the specified search criteria.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/sdw3_Results'
            required:
              - Results
            type: object
      summary: Safe Drinking Water Act (SDWA) Systems Search Service
      tags:
        - Safe Drinking Water
    post:
      description: Returns an array of public water systems that meet the specified search criteria.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/p_fn'
        - $ref: '#/parameters/p_ct'
        - $ref: '#/parameters/p_co'
        - $ref: '#/parameters/p_fips'
        - $ref: '#/parameters/p_st'
        - $ref: '#/parameters/p_zip'
        - $ref: '#/parameters/p_reg'
        - $ref: '#/parameters/p_trb'
        - $ref: '#/parameters/p_act'
        - $ref: '#/parameters/p_qiv'
        - $ref: '#/parameters/p_ico'
        - $ref: '#/parameters/p_pid'
        - $ref: '#/parameters/p_owop'
        - $ref: '#/parameters/p_systyp'
        - $ref: '#/parameters/p_swtyp'
        - $ref: '#/parameters/p_popsv'
        - $ref: '#/parameters/p_cs'
        - $ref: '#/parameters/p_mr'
        - $ref: '#/parameters/p_health'
        - $ref: '#/parameters/p_other'
        - $ref: '#/parameters/p_pn'
        - $ref: '#/parameters/p_sv'
        - $ref: '#/parameters/p_qs'
        - $ref: '#/parameters/p_sfs'
        - $ref: '#/parameters/p_pswpol'
        - $ref: '#/parameters/p_pswvio'
        - $ref: '#/parameters/p_pbale'
        - $ref: '#/parameters/p_cuale'
        - $ref: '#/parameters/p_rc350v'
        - $ref: '#/parameters/p_pbv'
        - $ref: '#/parameters/p_cuv'
        - $ref: '#/parameters/p_lcrv'
        - $ref: '#/parameters/p_fea'
        - $ref: '#/parameters/p_feay'
        - $ref: '#/parameters/p_feaa'
        - $ref: '#/parameters/p_iea'
        - $ref: '#/parameters/p_ieay'
        - $ref: '#/parameters/p_ieaa'
        - $ref: '#/parameters/p_qis'
        - $ref: '#/parameters/p_pfead1'
        - $ref: '#/parameters/p_pfead2'
        - $ref: '#/parameters/p_pfeat'
        - $ref: '#/parameters/queryset'
        - $ref: '#/parameters/responseset'
        - $ref: '#/parameters/callback'
      responses:
        '200':
          description: Returns an array of public water systems that meet the specified search criteria.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/sdw3_Results'
            required:
              - Results
            type: object
      summary: Safe Drinking Water Act (SDWA) Systems Search Service
      tags:
        - Safe Drinking Water
  /sdw_rest_services.metadata:
    get:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_systems endpoint.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/callback'
      responses:
        '200':
          description: Results are an array of columns/objects.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/met_Results'
            required:
              - Results
            type: object
      summary: Safe Drinking Water Act (SDWA) Metadata Service
      tags:
        - Metadata
    post:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_systems endpoint.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/callback'
      responses:
        '200':
          description: Results are an array of columns/objects.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/met_Results'
            required:
              - Results
            type: object
      summary: Safe Drinking Water Act (SDWA) Metadata Service
      tags:
        - Metadata
definitions:
  met_Results:
    description: Results Object
    properties:
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
      ResultColumns:
        items:
          $ref: '#/definitions/met_ResultsColumns'
        title: Result Columns
        type: array
    required:
      - Message
    type: object
  met_ResultsColumns:
    description: Results Column Object
    properties:
      ColumnID:
        title: Column ID
        type: string
      ColumnName:
        title: Column Name
        type: string
      DataLength:
        description: Data length for EPA program database column.
        example: '10'
        title: Data Length
        type: string
      DataType:
        description: Data type for EPA program database column.
        example: NUMBER
        title: Data Type
        type: string
      Description:
        description: A description of the category of Supplemental Environment Project (SEP) for a settlement.
        title: Description
        type: string
      ObjectName:
        title: Object Name
        type: string
    required:
      - ColumnName
      - DataType
      - DataLength
      - ColumnID
      - ObjectName
      - Description
    type: object
  sdw2_Results:
    description: Results Object
    properties:
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
      PageNo:
        description: The number of pages of results returned
        example: '1'
        title: Page Number
        type: string
      QueryID:
        description: Sequential number assigned to entire search result
        example: '245'
        title: Query Identifier
        type: string
      QueryRows:
        description: Number of query results returned
        example: '5'
        title: Query Row Count
        type: string
      SDWSearchResults:
        items:
          $ref: '#/definitions/sdw3_SDWSearchResults'
        type: array
    required:
      - Message
      - QueryRows
      - QueryID
      - PageNo
    type: object
  sdw3_Results:
    description: Results Object
    properties:
      CVRows:
        description: Summary count of the number of CWA facilities or SDWA public drinking water systems with current violations.
        example: '0'
        type: string
      FEARows:
        description: Summary count of the number of facilities with a formal enforcement action in the past five years
        example: '1'
        type: string
      INSPRows:
        description: Number of facilities with insp_5yr_flag populated (CWP_DATE_LAST_INSPECTION)
        example: '1'
        type: string
      IndianCountryRows:
        description: Number of facilities with tribal_flag populated
        example: '0'
        title: Indian Country Row Count
        type: string
      InfFEARows:
        description: Number of facilities with infea_5yr_flag populated (INFORMAL_ENF_ACT_COUNT > 0)
        example: '0'
        type: string
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
      PageNo:
        description: The number of pages of results returned
        example: '1'
        title: Page Number
        type: string
      QueryID:
        description: Sequential number assigned to entire search result
        example: '245'
        title: Query Identifier
        type: string
      QueryRows:
        description: Number of query results returned
        example: '5'
        title: Query Row Count
        type: string
      SDWSearchResults:
        items:
          $ref: '#/definitions/sdw3_SDWSearchResults'
        type: array
      SVRows:
        description: Number of facilities with curr_sv_flag populated (CWP_STATUS = "Significant Violation")
        example: '0'
        title: Significant Violation Result Count
        type: string
      V3Rows:
        description: Number of facilities having one or more quarters in non-compliance (QNC) in the last three years
        example: '2'
        type: string
      Version:
        description: Version of the SDWA system service
        example: 'v2016-02-02 14:'
        title: Version
        type: string
    required:
      - Message
      - Version
      - QueryRows
      - IndianCountryRows
      - SVRows
      - CVRows
      - V3Rows
      - FEARows
      - InfFEARows
      - INSPRows
      - QueryID
      - PageNo
    type: object
  sdw3_SDWSearchResults:
    description: Safe Drinking Water Search Results Object
    properties:
      ACT:
        description: |-
          Activity status code:
          - A = Active
          - I = Inactive
        example: A
        type: string
      ActivityDesc:
        description: 'Description of activity status code (ACT), e.g., active, inactive.'
        example: Active
        title: Activity Description
        type: string
      CT:
        description: County
        example: CAROLINE
        type: string
      CTY:
        description: City
        example: ALEXANDRIA
        title: City
        type: string
      CuALEIn5Yr:
        type: string
      CuViolIn5Yr:
        type: string
      FEA:
        description: Number of formal enforcement responses during the past 5 years (20 most recent quarters) as of the last quarterly refresh.  Formal enforcement actions compel a PWS to take specific actions by specific dates to return to compliance
        example: '1'
        type: string
      FIPS:
        description: 'Five-character Federal Information Processing Standards (FIPS) value: 2-character state || 3-character county'
        example: '51033'
        type: string
      HealthFlag:
        description: Indicates whether system has violations of health-based drinking water standards
        example: 'Y'
        title: Health Flag
        type: string
      ICO:
        description: Indicates whether the system is located in Indian Country
        example: 'N'
        title: Icon
        type: string
      IEA:
        description: Number of informal enforcement responses during the past 5 years (20 most recent quarters) as of the last quarterly refresh.  Informal enforcement actions do not specify actions and deadlines for returning to compliance
        example: '3'
        type: string
      MRFlag:
        description: Indicates whether system has monitoring and reporting violations
        example: 'Y'
        type: string
      NewVioFlag:
        example: 'N'
        type: string
      OtherFlag:
        description: 'Indicates whether system has other violations, such as failing to issue annual consumer confidence reports or maintain required records'
        example: 'Y'
        title: Other Flag
        type: string
      Owner:
        description: |-
          Owner/Operator:
          - P = Private
          - F = Federal Government
          - S = State Government
          - L = Local Government
        example: P
        title: Owner
        type: string
      OwnerDesc:
        description: Description of Owner code
        example: Local Government
        title: Owner Description
        type: string
      PNFlag:
        description: Indicates whether system has Public Notice Violations (failure to immediately alert consumers of serious problem with drinking water)
        example: 'Y'
        title: Public Notice Violation Flag
        type: string
      PWSId:
        description: 'Unique identifying code for a public water system, consisting of a two-letter state or region code, followed by seven digits'
        example: VA0033235
        title: Public Water System Identifier
        type: string
      PbALEIn5Yr:
        type: string
      PbCuViolIn5Yr:
        type: string
      PbViolIn5Yr:
        type: string
      PopulationServed:
        description: Estimated average daily population served by a system
        example: '34'
        title: Population Served
        type: string
      QNC:
        description: Number of quarters the system was in violation over the past three years (12 most recent quarters)
        example: '1'
        title: Quarters in Noncompliance
        type: string
      QuartersInSNC:
        title: Quarters in Significant Noncompliance
        type: string
      RC350ViolIn5Yr:
        type: string
      REG:
        description: EPA Region number where the system is located. Values range from 01 to 10.
        example: '3'
        type: string
      RulesVio3YrCnt:
        example: '5'
        type: string
      RulesVioCurrCnt:
        example: '4'
        type: string
      SDW3yrComplianceQtrsStatus:
        description: Quarterly compliance status for the most recent 12 quarters. Each letter indicates the compliance status for the corresponding quarter
        example: _____VVV_SSV
        type: string
      SDWContaminantsInCurViol:
        example: 7500=Public Notice
        type: string
      SDWContaminantsInViol3Yr:
        description: The contaminant name and code in violation of a SDWA regulation in the past three years
        example: 2456=Total Haloacetic Acids (HAA5); 7500=Public Notice
        type: string
      SDWDateLastFEA:
        example: 1/27/2013
        type: string
      SDWDateLastFEAEPA:
        example: 4/5/2011
        type: string
      SDWDateLastFEAState:
        example: 2/19/2010
        type: string
      SDWDateLastIEA:
        example: 6/30/2008
        type: string
      SDWDateLastIEAEPA:
        example: 4/11/2013
        type: string
      SDWDateLastIEAState:
        example: 7/17/2010
        type: string
      SSNC:
        description: Current compliance status
        example: No Violation
        type: string
      ST:
        description: Two-letter state abbreviation
        example: VA
        title: State
        type: string
      SearchedContaminantsLastValues:
        example: '2,4,5-TP=NRM; HEXACHLOROBENZENE=NRM; Endrin=NRM'
        type: string
      SeriousViolator:
        description: 'Indicates whether system is a Serious Violator (has unresolved serious, multiple, and/or continuing violations that is designated as a priority candidate for formal enforcement)'
        example: 'No'
        title: Serious Violator
        type: string
      SourceWaterDesc:
        description: Description of SourceWaterType code
        example: Ground Water
        title: Source Water Description
        type: string
      SourceWaterType:
        description: |-
          Source Water Type:
          - SW = Surface water
          - GW = Ground water
          - GU = Ground water under direct influence of (UDI) surface water
          - SWP = Purchased Surface water
          - GWP = Purchased Ground water
          - GUP = Purchased Ground water UDI surface water
        example: GW
        title: Source Water Type
        type: string
      SystemName:
        description: Name of the system regulated under the Safe Drinking Water Act (SDWA)
        example: ARBOR CHRISTIAN HOME
        title: System Name
        type: string
      SystemType:
        description: |-
          Type of public water system:
          - CWS   = Community water system
          - NCWS  = Non-community water system
          - NTCWS = Non-transient non-community water system
          - TNCWS = Transient non-community water system
        example: TNCWS
        title: System Type
        type: string
      SystemTypeDesc:
        description: 'The type of public water system (PWS) and description of corresponding SystemType code. A public water system is a system for the provision to the public of piped water for human consumption, which has at least 15 service connections or regularly serves a'
        example: Transient non-community system
        title: System Type Description
        type: string
      Tribes:
        items:
          $ref: '#/definitions/sdw3_Tribes'
        title: Tribes
        type: array
      VioPointsAccrued:
        description: 'Sum of all violation points for violations reported during the past five years (20 most recent quarters), as of the last quarterly refresh'
        example: '12'
        type: string
      VioPointsFEANotCorrected:
        description: 'Sum of violation points accrued during past five years (20 most recent quarters) that are under formal enforcement but not yet returned to compliance, as of the last quarterly refresh'
        example: '1'
        type: string
      VioPointsRTCwFEA:
        description: 'Sum of violation points during past 5 years (20 most recent quarters) that received formal enforcement and returned to compliance, as of the last quarterly refresh'
        example: '6'
        type: string
      VioPointsRTCwoFEA:
        description: 'Sum of violation points during past 5 years (20 most recent quarters) that did not receive formal enforcement but did return to compliance, as of the last quarterly refresh'
        example: '2'
        type: string
      VioPointsRemaining:
        description: Sum of violation points that were not returned to compliance as of the last quarterly refresh.  Includes points that have received formal enforcement but have not returned to compliance
        example: '4'
        type: string
      ZIP:
        description: ZIP code
        example: '22302'
        title: Zip Code
        type: string
    required:
      - PWSId
      - SystemName
      - CT
      - CTY
      - ST
      - ZIP
      - SystemType
      - SourceWaterType
      - PopulationServed
      - QNC
      - SSNC
      - IEA
      - FEA
      - ACT
      - VioPointsAccrued
      - VioPointsFEANotCorrected
      - VioPointsRTCwFEA
      - VioPointsRTCwoFEA
      - VioPointsRemaining
      - REG
      - Owner
      - ICO
      - FIPS
      - MRFlag
      - HealthFlag
      - OtherFlag
      - PNFlag
      - SystemTypeDesc
      - SourceWaterDesc
      - ActivityDesc
      - OwnerDesc
      - SeriousViolator
      - SDW3yrComplianceQtrsStatus
      - SDWContaminantsInViol3Yr
      - SDWContaminantsInCurViol
      - SDWDateLastFEA
      - SDWDateLastFEAState
      - SDWDateLastFEAEPA
      - SDWDateLastIEA
      - SDWDateLastIEAState
      - SDWDateLastIEAEPA
      - PbALEIn5Yr
      - CuALEIn5Yr
      - RC350ViolIn5Yr
      - PbViolIn5Yr
      - CuViolIn5Yr
      - PbCuViolIn5Yr
      - QuartersInSNC
      - NewVioFlag
      - RulesVio3YrCnt
      - RulesVioCurrCnt
    type: object
  sdw3_Tribes:
    description: Tribes Object
    properties:
      TribalCode:
        description: Tribe code
        example: '610'
        title: Tribal Code
        type: string
      TribalName:
        description: Tribe Name
        example: Tohono O'Odham Nation of Arizona
        title: Tribal Name
        type: string
    required:
      - TribalCode
      - TribalName
    type: object
    xml:
      name: Tribe
