swagger: '2.0'
schemes:
  - https
host: dracoon.team
basePath: /api
info:
  contact:
    email: develop@ssp-europe.eu
    x-twitter: dracoongmbh
  description: 'REST Web Services for DRACOON.<br> Version. 4.5.0  - built at: 1517571015562'
  termsOfService: 'https://www.dracoon.com/terms/general-terms-and-conditions/'
  title: DRACOON
  version: 4.5.0
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://twitter.com/dracoongmbh/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://dracoon.team/api/spec_v4/'
      version: '2.0'
  x-providerName: dracoon.team
tags:
  - description: File download without auth headers
    name: downloads
  - description: User groups
    name: groups
  - description: Upload and Download Shares
    name: shares
  - description: Current user operations
    name: user
  - description: Authentication
    name: auth
  - description: System events log
    name: eventlog
  - description: User management
    name: users
  - description: System settings
    name: system
  - description: 'File system objects (rooms, folders, files)'
    name: nodes
  - description: Configuration
    name: config
  - description: 'System events log (DEPRECATED: use eventlog)'
    name: syslog
  - description: Provisioning interface
    name: provisioning
  - description: 'Public: shares upload/download, software info'
    name: public
  - description: Role user managment
    name: roles
  - description: File upload without auth headers
    name: uploads
paths:
  /v4/auth/login:
    post:
      consumes:
        - application/json;charset=UTF-8
      description: |-
        ### Functional Description:
        Authenticates user and provides an authentication token that is required for most operations.

        ### Precondition:
        Existing user that is not locked.

        ### Effects:
        User is logged in.

        ### Further Information:
        The provided token is valid for **2 hours**, every usage resets this period to 2 full hours again.  
        Logging off invalidates the token.  

        ### Important:  
        * If auth type `radius` is used, a token (request parameter) may be set, otherwise this parameter is ignored.  
        * If the token is set, `password` is optional for this auth type.

        ### Currently supported languages (with ISO 639-1 code):
        * German (de)
        * English (en)
        * Spanish (es)
        * French (fr)
      operationId: login
      parameters:
        - description: User credentials
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/LoginRequest'
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LoginResponse'
        '400':
          description: |-
            Bad Request

            * [-10010] Provided language is not supported.
            * [-10100] Invalid authentication method.
            * [-80000] Mandatory fields cannot be empty.
            * [-90057] The domain has to be provided with the user name in the following way: domain\\username.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10011] Wrong username or password.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |-
            Forbidden

            * [-10003] User is locked by an administrator.
            * [-10004] User has expired.
            * [-10005] User is temporarily locked. (Unlock time will be delivered in ISO 8601 format [2014-12-23T13:24:00Z]).
            * [-10007] Customer for this user is locked.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '409':
          description: |-
            Conflict

            * [-40010] Could not create Home Room.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10108] RADIUS Access-Challenge required.
          schema:
            $ref: '#/definitions/RadiusChallengeResponse'
        '502':
          description: |-
            Bad Gateway

            * [-90055] Invalid Active Directory Configuration.
            * [-90070] RADIUS connection failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Authenticate user
      tags:
        - auth
  /v4/auth/openid/login:
    post:
      consumes:
        - application/json
      description: |-
        ### Functional Description:  
        This is the second step of the OpenID Connect authentication.  
        The user hands over the authorization code and is logged in.

        ### Precondition:
        Existing user with activated OpenID Connect authentication that is not locked.

        ### Effects:
        User is logged in.

        ### Further Information:
        See [http://openid.net/developers/specs](http://openid.net/developers/specs) for further information.
      operationId: completeOpenIdLogin
      parameters:
        - description: Authorization code
          in: query
          name: code
          required: true
          type: string
        - description: Authentication state
          in: query
          name: state
          required: true
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LoginResponse'
        '400':
          description: |-
            Bad Request

            * [-10100] Invalid authentication method.
            * [-80000] Mandatory fields cannot be empty.
            * [-90043] Invalid authentication state.
        '403':
          description: |-
            Forbidden

            * [-10003] User is locked by an administrator.
            * [-10004] User has expired.
            * [-10005] User is temporarily locked. (Unlock time will be delivered in ISO 8601 format [2014-12-23T13:24:00Z]).
            * [-10007] Customer for this user is locked.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-70501] User not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '502':
          description: |-
            Bad Gateway

            * [-90044] Identity retrieval failed.
            * [-90045] Identity validation failed.
            * [-90046] User information retrieval failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Complete OpenID Connect authentication
      tags:
        - auth
  /v4/auth/openid/resources:
    get:
      consumes:
        - application/json
      deprecated: true
      description: |-
        ### Functional Description:  
        Provides information about OpenID Connect authentication options.

        ### Precondition:
        None.

        ### Effects:
        None.

        ### Further Information:
        None.
      operationId: getOpenIdAuthResources
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OpenIdAuthResources'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Get OpenID Connect authentication resources
      tags:
        - auth
  /v4/auth/ping:
    get:
      consumes:
        - application/json
      description: |-
        ### Functional Description:
        Test connection to DRACOON Server.

        ### Precondition:
        None.

        ### Effects:
        `200 OK` with current date string is returned if successful.

        ### Further Information:
        None.
      operationId: ping
      produces:
        - text/plain
      responses:
        '200':
          description: OK
          schema:
            type: string
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Ping
      tags:
        - auth
  /v4/auth/reset_password:
    post:
      consumes:
        - application/json;charset=UTF-8
      description: |-
        ### Functional Description:  
        Request an email with a request token for a certain user to reset his / her password.

        ### Precondition:
        Registered user account.

        ### Effects:
        Provided user receives email with reset token.

        ### Further Information:
        None.

        ### Currently supported languages (with ISO 639-1 code):
        * German (de)
        * English (en)
        * Spanish (es)
        * French (fr)
      operationId: requestPasswordReset
      parameters:
        - description: body
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ResetPasswordRequest'
      produces:
        - application/json;charset=UTF-8
      responses:
        '204':
          description: No Content
        '400':
          description: |-
            Bad Request

            * [-10010] Provided language is not supported.
            * [-10105] Password cannot be reset for this user.
            * [-10107] Password can only be reset every 5 minutes.
            * [-80000] Mandatory fields cannot be empty.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-70501] User not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Request password reset
      tags:
        - auth
  '/v4/auth/reset_password/{token}':
    get:
      consumes:
        - application/json
      description: |-
        ### Functional Description:  
        Request all information for a password change dialogue e.g. real name of user.

        ### Precondition:
        User received a password reset token.

        ### Effects:
        None.

        ### Further Information:
        None.
      operationId: validateResetPasswordToken
      parameters:
        - description: Password reset token
          in: path
          name: token
          required: true
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResetPasswordTokenValidateResponse'
        '400':
          description: |-
            Bad Request

            * [-10001] Password reset token is modified.
            * [-80000] Mandatory fields cannot be empty.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * Token not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Get information for password reset
      tags:
        - auth
    put:
      consumes:
        - application/json;charset=UTF-8
      description: |-
        ### Functional Description:  
        Resets a user's password to a new value.

        ### Precondition:
        User received a password reset token.

        ### Effects:
        Newly transmitted password is set.

        ### Further Information:
        None.
      operationId: resetPassword
      parameters:
        - description: Password reset token
          in: path
          name: token
          required: true
          type: string
        - description: body
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ResetPasswordWithTokenRequest'
      produces:
        - application/json;charset=UTF-8
      responses:
        '204':
          description: No Content
        '400':
          description: |-
            Bad Request

            * [-10002] Password is not secure.
            * [-80000] Mandatory fields cannot be empty.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * Token not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Reset password
      tags:
        - auth
  /v4/auth/resources:
    get:
      consumes:
        - application/json
      deprecated: true
      description: |-
        ### Functional Description:  
        Provides information about authentication options.

        ### Precondition: 
        None.

        ### Effects: 
        None.

        ### Further Information:
        The server identifies the relevant customer by the passed HTTP header `Origin`.  
        Use this call to customize the log-on form.  

        ### Important: 
        The default language and authentication method are always provided as topmost entry.

        ### Currently supported languages (with ISO 639-1 code):
        * German (de)
        * English (en)
        * Spanish (es)
        * French (fr)
      operationId: getAuthInitResources
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AuthInitResources'
        '404':
          description: |-
            Not Found

            * [-90103] Customer not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Get authentication resources
      tags:
        - auth
  /v4/config/authSettings:
    get:
      consumes:
        - application/json
      description: |-
        ### Functional Description:  
        Retrieve the settings of authentication configuration.

        ### Precondition:
        Right _"read global config"_ required.

        ### Effects:
        None.

        ### Further Information:
        None.

        ### Configuration settings for various authentication methods

        ### Authentication Methods

        * **sql**  
            **Basic Authentication globally allowed**  
            This option must be activated to allow users to log in with their credentials stored in the database.  
            VALUE: `[true|false]`

        * **active_directory**  
            **Active Directory Authentication globally allowed**  
            This option must be activated to allow users to log in with their Active Directory credentials.  
            VALUE: `[true|false]`

        * **radius**  
            **RADIUS Authentication globally allowed**  
            This option must be activated to allow users to log in with their RADIUS username, their PIN and a token password.  
            VALUE: `[true|false]`

        * **openid**  
            **OpenID Connect Authentication globally allowed**  
            This option must be activated to allow users to log in with their OpenID Connect identity.  
            VALUE: `[true|false]`

        * **default_auth_method**  
            **Default authentication method without user context**  
            If this option is set, the chosen method will be provided as default authentication method if no user context is available.  
            Only one authentication method can be set and it must be allowed (see above).  
            If no value is set, there is no guarantee about the order of the returned methods.  
            Only activated authentication methods may be set as default authentication method.  
            VALUE: `[sql|active_directory|radius|openid]`

        ### Configurable settings for RADIUS authentication

        ### `DEPRECATED`

        These settings will be ignored.  
        Please use `/system/config/auth/radius` API.

        * **radius-ip**  
            IP address of the RADIUS server  
            VALUE: `IPv4 address`

        * **radius-port**  
            Port of the RADIUS server (usually 1812)  
            VALUE: `Port`

        * **radius-sharedsec**  
            Shared Secret to access the RADIUS server  
            VALUE: `Shared Secret`

        * **radius-otpPinFirst**  
            Sequence order of concatenated PIN and One-Time token  
            VALUE: `[true|false]`
      operationId: getAuthSettings
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ConfigOptionList'
        '401':
          description: |
            Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Get authentication settings
      tags:
        - config
    put:
      consumes:
        - application/json;charset=UTF-8
      description: |-
        ### Functional Description:
        Change one or more settings of authentication configuration.

        ### Precondition:
        Right _"change global config"_ required.

        ### Effects:
        One or more global authentication setting gets changed.

        ### Further Information:
        None.

        ### Configuration settings for various authentication methods

        ### Authentication Methods

        * **sql**  
            **Basic Authentication globally allowed**  
            This option must be activated to allow users to log in with their credentials stored in the database.  
            VALUE: `[true|false]`

        * **active_directory**  
            **Active Directory Authentication globally allowed**  
            This option must be activated to allow users to log in with their Active Directory credentials.  
            VALUE: `[true|false]`

        * **radius**  
            **RADIUS Authentication globally allowed**  
            This option must be activated to allow users to log in with their RADIUS username, their PIN and a token password.  
            VALUE: `[true|false]`

        * **openid**  
            **OpenID Connect Authentication globally allowed**  
            This option must be activated to allow users to log in with their OpenID Connect identity.  
            VALUE: `[true|false]`

        * **default_auth_method**  
            **Default authentication method without user context**  
            If this option is set, the chosen method will be provided as default authentication method if no user context is available.  
            Only one authentication method can be set and it must be allowed (see above).  
            If no value is set, there is no guarantee about the order of the returned methods.  
            Only activated authentication methods may be set as default authentication method.  
            VALUE: `[sql|active_directory|radius|openid]`

        ### Configurable settings for RADIUS authentication

        ### `DEPRECATED`

        These settings will be ignored.  
        Please use `PUT /system/config/auth/radius` API.

        * **radius-ip**  
            IP address of the RADIUS server  
            VALUE: `IPv4 address`

        * **radius-port**  
            Port of the RADIUS server (usually 1812)  
            VALUE: `Port`

        * **radius-sharedsec**  
            Shared Secret to access the RADIUS server  
            VALUE: `Shared Secret`

        * **radius-otpPinFirst**  
            Sequence order of concatenated PIN and One-Time token  
            VALUE: `[true|false]`
      operationId: setAuthSettings
      parameters:
        - description: body
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ConfigOptionList'
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '204':
          description: No Content
        '400':
          description: |-
            Bad Request

            * [-10100] Invalid authentication method.
            * [-80000] Mandatory fields cannot be empty.
            * [-80001] Not valid positive number.
            * [-80005] Not valid boolean value.
            * [-80020] Not valid IP address.
            * [-90071] Cannot enable RADIUS. No Valid Configuration.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-90000] Settings key not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Change authentication setting
      tags:
        - config
  /v4/config/settings:
    get:
      consumes:
        - application/json
      description: |-
        ### Functional Description:  
        DRACOON configuration entry point.  
        Returns a list of configurable system settings.

        ### Precondition:
        Right _"read global config"_ required.

        ### Effects:
        None.

        ### Further Information:

        ### Attention
        If `eula_active` is true, but not accepted yet, or password must be changed, only the following two values are returned:
        * **allow_system_global_weak_password**
        * **eula_active**

        ### Configurable settings

        * **allow_system_global_weak_password**  
            Allow weak password
            * A weak password has to fulfill the following criteria:  
                * is at least 8 characters long  
                * contains letters and numbers
            * A strong password has to fulfill the following criteria in addition:  
                * contains at least one special character  
                * contains upper and lower case characters

            VALUE: `[true|false]`

        * **branding_server_branding_id** **`NEW`**  
            The branding UUID, which corresponds to _BRANDING-QUALIFIER_ in the new branding server.  
            VALUE: `String`

        * **branding_portal_url** **`NEW`**  
            Access URL to to the Branding Portal.  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `String`

        * **branding_server_customer**  
            The UUID of the branding server customer, which corresponds to customer key in the branding server.  
            VALUE: `String`

        * **branding_server_url**  
            Access URL to to the Branding Server.  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `String`

        * **connect_as_drive**  
            Rooms can be mounted by WebDAV.  
            VALUE: `[true|false]`

        * **dblog**  
            Write logs to local database  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `[true|false]`

        * **default_downloadshare_expiration_period**  
            Default expiration period for Download Shares in days.  
            VALUE: `Integer between 0 and 9999`

        * **default_file_upload_expiration_date**  
            Default expiration period for all uploaded files in days.  
            VALUE: `Integer between 0 and 9999` (set 0 to disable)

        * **default_language**  
            Define which language should be default.  
            VALUE: `cf. GET /auth/resources Model "Language"`

        * **default_uploadshare_expiration_period**  
            Default expiration period for Upload Shares in days.  
            VALUE: `Integer between 0 and 9999`

        * **email_from**  
            Sender of system-generated emails  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `Valid email address`

        * **email_to_sales**  
            Contact email address for customers to request more user licenses or data volume.  
            VALUE: `Valid email address`

        * **email_to_support**  
            Support email address for users.  
            VALUE: `Valid email address`

        * **enable_client_side_crypto**  
            Activation status of **TripleCrypt™ Technology**.  
            Can only be enabled once; disabling is not possible.  
            VALUE: `[true|false]` (default: `false`)

        * **eula_active**  
            Each user has to confirm the EULA at first login.  
            VALUE: `[true|false]`

        * **eventlog_retention_period**  
            Retention period (in days) of event log entries.  
            After that period, all entries are deleted.  
            Recommended value: 7  
            VALUE: `Integer between 0 and 9999` (if set to 0: no logs are deleted)

        * **file_size_js**  
            Maximum file size (in bytes) for downloads of encrypted files with JavaScript.  
            Bigger files will require a JavaApplet.  
            Recommended value: 10485760 (= 10MB)  
            VALUE: `Integer`

        * **ip_address_logging**  
            Determines whether a user's IP address is logged on login.  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `[true|false]`

        * **mailserver**  
            Email server to send emails  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `DNS name or IPv4 of an email server`

        * **mailserver_authentication_necessary**  
            Set to true if the email server requires authentication.  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `[true|false]`

        * **mailserver_password**  
        **Password is no longer returned.**

        * **mailserver_password_set**  
            Indicates if a password is set for the mailserver (because `mailserver_password` is always returned empty)  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `[true|false]`

        * **mailserver_port**  
            Email server port  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `Positive number`

        * **mailserver_username**  
            User name for email server  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `User name for authentication`

        * **mailserver_use_ssl**  
            Email server requires SSL connection?  
            Only visible for _Config Manager_ of Provider Customer  
            Requires mailserver_use_starttls to be false  
            VALUE: `[true|false]`

        * **mailserver_use_starttls**  
            Email server requires StartTLS connection?  
            Only visible for _Config Manager_ of Provider Customer  
            Requires mailserver_use_ssl to be false  
            VALUE: `[true|false]`

        * **syslog**  
            Write logs to a syslog interface  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `[true|false]`

        * **syslog_host**  
            Syslog Server (IP or FQDN)  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `DNS name or IPv4 of a syslog server`

        * **syslog_port**  
            Syslog server port  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `Positive Number`

        * **syslog_protocol**  
            Protocol to connect to syslog server  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `[TCP|UDP]`

        * **system_name**  
            System name  
            VALUE: `Display name of the DRACOON`

        * **enable_email_notification_button**  
            Enable mail notification button  
            VALUE: `[true|false]`

        * **allow_share_password_sms**  
            Allow sending of share passwords via SMS  
            VALUE: `[true|false]`

        * **globally_allow_share_password_sms**  
            Allow sending of share passwords via SMS  
            Read only  
            VALUE: `[true|false]`

        * **use_s3_storage**  
            Defines if S3 is used as storage backend  
            Read only  
            VALUE: `[true|false]`

        * **s3_default_region**  
            Suggested S3 region  
            Read only  
            VALUE: `Region name`
      operationId: getSystemSettings
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ConfigOptionList'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Get system settings
      tags:
        - config
    put:
      consumes:
        - application/json;charset=UTF-8
      description: |-
        ### Functional Description:
        DRACOON configuration entry point.  
        Returns a list of configurable settings.

        ### Precondition:
        Right _"change global config"_ required.

        ### Effects:
        One or more global authentication setting gets changed.

        ### Further Information:

        ### Attention
        Only visible for _Config Manager_ of Provider Customer.

        ### Settings

        ### Configurable settings

        * **allow_system_global_weak_password**  
            Allow weak password
            * A weak password has to fulfill the following criteria:  
                * is at least 8 characters long  
                * contains letters and numbers
            * A strong password has to fulfill the following criteria in addition:  
                * contains at least one special character  
                * contains upper and lower case characters

            VALUE: `[true|false]`

        * **branding_server_branding_id** **`NEW`**  
            The branding UUID, which corresponds to _BRANDING-QUALIFIER_ in the new branding server.  
            VALUE: `String`

        * **branding_portal_url** **`NEW`**  
            Access URL to to the Branding Portal.  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `String`

        * **branding_server_customer**  
            The UUID of the branding server customer, which corresponds to customer key in the branding server.  
            VALUE: `String`

        * **branding_server_url**  
            Access URL to to the Branding Server.  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `String`

        * **connect_as_drive**  
            Rooms can be mounted by WebDAV.  
            VALUE: `[true|false]`

        * **dblog**  
            Write logs to local database  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `[true|false]`

        * **default_downloadshare_expiration_period**  
            Default expiration period for Download Shares in days.  
            VALUE: `Integer between 0 and 9999`

        * **default_file_upload_expiration_date**  
            Default expiration period for all uploaded files in days.  
            VALUE: `Integer between 0 and 9999` (set 0 to disable)

        * **default_language**  
            Define which language should be default.  
            VALUE: `cf. GET /auth/resources Model "Language"`

        * **default_uploadshare_expiration_period**  
            Default expiration period for Upload Shares in days.  
            VALUE: `Integer between 0 and 9999`

        * **email_from**  
            Sender of system-generated emails  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `Valid email address`

        * **email_to_sales**  
            Contact email address for customers to request more user licenses or data volume.  
            VALUE: `Valid email address`

        * **email_to_support**  
            Support email address for users.  
            VALUE: `Valid email address`

        * **enable_client_side_crypto**  
            Activation status of **TripleCrypt™ technology**.  
            Can only be enabled once; disabling is not possible.  
            VALUE: `[true|false]` (default: `false`)

        * **eula_active**  
            Each user has to confirm the EULA at first login.  
            VALUE: `[true|false]`

        * **eventlog_retention_period**  
            Retention period (in days) of event log entries.  
            After that period, all entries are deleted.  
            Recommended value: 7  
            VALUE: `Integer between 0 and 9999` (if set to 0: no logs are deleted)

        * **file_size_js**  
            Maximum file size (in bytes) for downloads of encrypted files with JavaScript.  
            Bigger files will require a JavaApplet.  
            Recommended value: 10485760 (= 10MB)  
            VALUE: `Integer`

        * **ip_address_logging**  
            Determines whether a user's IP address is logged on login.  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `[true|false]`

        * **mailserver**  
            Email server to send emails  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `DNS name or IPv4 of an email server`

        * **mailserver_authentication_necessary**  
            Set to true if the email server requires authentication.  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `[true|false]`

        * **mailserver_password**  
            Password for email server  
            VALUE: `Password for authentication`

        * **mailserver_port**  
            Email server port  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `Positive number`

        * **mailserver_username**  
            User name for email server  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `User name for authentication`

        * **mailserver_use_ssl**  
            Email server requires SSL connection?  
            Only visible for _Config Manager_ of Provider Customer  
            Requires mailserver_use_starttls to be false  
            VALUE: `[true|false]`

        * **mailserver_use_starttls**  
            Email server requires StartTLS connection?  
            Only visible for _Config Manager_ of Provider Customer  
            Requires mailserver_use_ssl to be false  
            VALUE: `[true|false]`

        * **syslog**  
            Write logs to a syslog interface  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `[true|false]`

        * **syslog_host**  
            Syslog Server (IP or FQDN)  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `DNS name or IPv4 of a syslog server`

        * **syslog_port**  
            Syslog server port  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `Positive Number`

        * **syslog_protocol**  
            Protocol to connect to syslog server  
            Only visible for _Config Manager_ of Provider Customer  
            VALUE: `[TCP|UDP]`

        * **system_name**  
            System name  
            VALUE: `Display name of the DRACOON`

        * **enable_email_notification_button**  
            Enable mail notification button  
            VALUE: `[true|false]`

        * **allow_share_password_sms**  
            Allow sending of share passwords via SMS  
            VALUE: `[true|false]`
      operationId: setSystemSetting
      parameters:
        - description: body
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ConfigOptionList'
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '204':
          description: No Content
        '400':
          description: |-
            Bad Request

            * [-10010] Provided language is not supported.
            * [-80000] Mandatory fields cannot be empty.
            * [-80001] Not valid positive number.
            * [-80002] Not valid number.
            * [-80005] Not valid boolean value.
            * [-80009] Not a valid email address.
            * [-80012] Not allowed protocol.
            * [-80013] Not a valid hostname or IP address.
            * [-80018] Not between 0 and 9999.
            * [-80019] Not between 1 and 9999.
            * [-80029] Global configuration value cannot be overwritten.
            * [-90001] Cannot use both SSL and STARTTLS for mail.
            * [-90010] TripleCrypt™ technology is already active and can not be deactivated.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-90000] Settings key not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Change system settings
      tags:
        - config
  '/v4/downloads/zip/{token}':
    get:
      consumes:
        - application/json
      description: |-
        ### Functional Description:  
        Download multiple files in a ZIP archive.

        ### Precondition:
        Valid download token.

        ### Effects:
        None.

        ### Further Information:
        Create a download token with `POST /nodes/zip`.
      operationId: getZipFileByToken
      parameters:
        - description: Download token
          in: path
          name: token
          required: true
          type: string
      produces:
        - application/octet-stream
      responses:
        '200':
          description: OK
          schema:
            format: byte
            type: string
        '400':
          description: |-
            Bad Request

            * [-80000] Mandatory fields cannot be empty.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-50001] Download token not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Download ZIP file
      tags:
        - downloads
  '/v4/downloads/{token}':
    get:
      consumes:
        - application/json
      description: |-
        ### Functional Description:  
        Download a file.

        ### Precondition:
        Valid download token.

        ### Effects:
        None.

        ### Further Information:
        Range requests are supported (please cf. [RCF 7233](https://tools.ietf.org/html/rfc7233) for details).
      operationId: getFileDataByToken
      parameters:
        - description: Download token
          in: path
          name: token
          required: true
          type: string
        - description: Range
          in: header
          name: Range
          required: false
          type: string
        - description: Always return 'application/octet-stream' instead of specific mimetype
          in: query
          name: generic_mimetype
          required: false
          type: boolean
      produces:
        - application/octet-stream
      responses:
        '200':
          description: OK
          schema:
            format: byte
            type: string
        '206':
          description: Partial Content
          schema:
            format: byte
            type: string
        '400':
          description: |-
            Bad Request

            * [-80000] Mandatory fields cannot be empty.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-50001] Download token not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '416':
          description: Range Not Satisfiable
      summary: Download file
      tags:
        - downloads
    head:
      consumes:
        - application/json
      description: |-
        ### Functional Description:  
        Download a file.

        ### Precondition:
        Valid download token.

        ### Effects:
        None.

        ### Further Information:
        Range requests are supported (please cf. [RCF 7233](https://tools.ietf.org/html/rfc7233) for details).
      operationId: getFileDataByToken_1
      parameters:
        - description: Download token
          in: path
          name: token
          required: true
          type: string
        - description: Range
          in: header
          name: Range
          required: false
          type: string
        - description: Always return 'application/octet-stream' instead of specific mimetype
          in: query
          name: generic_mimetype
          required: false
          type: boolean
      produces:
        - application/octet-stream
      responses:
        '200':
          description: OK
          schema:
            format: byte
            type: string
        '206':
          description: Partial Content
          schema:
            format: byte
            type: string
        '400':
          description: |-
            Bad Request

            * [-80000] Mandatory fields cannot be empty.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-50001] Download token not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '416':
          description: Range Not Satisfiable
      summary: Download file
      tags:
        - downloads
  /v4/eventlog/audits/nodes:
    get:
      consumes:
        - application/json
      description: |-
        ### Functional Description:  
        Retrieve a list of all nodes of type `room` and the room assignment users with permissions.

        ### Precondition:
        Right _"read audit log"_ required.

        ### Effects:
        None.

        ### Further Information:
        None.

        ### Filter

        Filter string syntax: `FIELD_NAME:OPERATOR:VALUE`  
        Multiple fields are supported.

        ### Filter fields:

        * **nodeId**  
            Node ID  
            OPERATOR: `eq` (Node ID equal value)  
            VALUE: `Search string`

        * **nodeName**  
            Node name (Login)  
            OPERATOR: `cn|eq` (Node name contains value | equal value)  
            VALUE: `Search string`

        * **nodeParentId**  
            Node parent ID  
            OPERATOR: `eq` (Parent ID equal value; parent ID 0 is the root node.)  
            VALUE: `Search string`

        * **userId**  
            User ID  
            OPERATOR: `eq` (User ID equal value)  
            VALUE: `Search string`

        * **userName**  
            User name (Login)  
            OPERATOR: `cn|eq` (User name contains value | equal value)  
            VALUE: `Search string`

        * **userFirstName**  
            User first name  
            OPERATOR: `cn|eq` (User first name contains value | equal value)  
            VALUE: `Search string`

        * **userLastName**  
            User last name  
            OPERATOR: `cn|eq` (User last name contains value | equal value)  
            VALUE: `Search string`

        * **permissionsManage**  
            Filter the users that (don't) have manage right in this room  
            OPERATOR: `eq` (multiple values not allowed)  
            VALUE: `[true|false]`

        * **nodeIsEncrypted**  
            Encrypted node filter  
            OPERATOR: `eq` (multiple values not allowed)  
            VALUE: `[true|false]`

        * **nodeHasRecycleBin**  
            Recycle bin filter  
            OPERATOR: `eq` (multiple values not allowed)  
            VALUE: `[true|false]`
            
        * **nodeHasActivitiesLog**  
            Activities log filter  
            OPERATOR: `eq` (multiple values not allowed)  
            VALUE: `[true|false]`

        ### Logical grouping:
        Filtering according first three fields (`login`, `lastName`, `firstName`) is intrinsically processed by the API as logical _OR_.  
        In opposite, filtering according to is processed intrinsically as logical _AND_.

        ### Example:
        * `userName:cn:searchString_1|userFirstName:cn:searchString_2|nodeId:eq:2`  
        Filter by user login containing `searchString_1` OR first name containing `searchString_2` and node ID equal 2.

        ### Sort

        Sort string syntax: `FIELD_NAME:ORDER`  
        Order can be `asc` or `desc`.  
        Multiple fields are supported.

        ### Sort fields:

        * **nodeId**: Node ID
        * **nodeName**: Node name
        * **nodeParentId**: Node parent ID
        * **nodeSize**: Node size
        * **nodeQuota**: Node quota

        ### Example:
        * `nodeName:asc`  
        Sort by `nodeName` ascending.
      operationId: getAuditNodeUserData
      parameters:
        - description: Filter string
          in: query
          name: filter
          required: false
          type: string
        - description: Sort string
          in: query
          name: sort
          required: false
          type: string
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
        - description: |-
            Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):
            * LOCAL
            * UTC
            * OFFSET
            * EPOCH
          in: header
          name: X-Sds-Date-Format
          required: false
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/AuditNodeResponse'
            type: array
        '400':
          description: |-
            Bad Request

            * [-80001] Not valid positive number.
            * [-80002] Not valid number.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Get node assigned users with permissions
      tags:
        - eventlog
  /v4/eventlog/events:
    get:
      consumes:
        - application/json
      description: |-
        ### Functional Description:  
        Retrieve eventlog (= audit log) events.

        ### Precondition:
        Role _"Log Auditor"_ required.

        ### Effects:
        None.

        ### Further Information:
        Output may be limited to a certain number of entries.  
        Please use filter criteria and paging.
      operationId: getLogEvents
      parameters:
        - description: Range offset
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Range limit
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: |-
            Start date
            e.g. 2015-12-31T23:59:00
          in: query
          name: date_start
          required: false
          type: string
        - description: |-
            End date
            e.g. 2015-12-31T23:59:00
          in: query
          name: date_end
          required: false
          type: string
        - description: |-
            Operation ID
            cf. `GET /eventlog/operations`
          format: int32
          in: query
          name: type
          required: false
          type: integer
        - description: User ID
          format: int64
          in: query
          name: user_id
          required: false
          type: integer
        - description: |-
            Operation status:
            * 0 - Success
            * 2 - Error
          format: int32
          in: query
          name: status
          required: false
          type: integer
        - description: User client
          in: query
          name: user_client
          required: false
          type: string
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
        - description: |-
            Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):
            * LOCAL
            * UTC
            * OFFSET
            * EPOCH
          in: header
          name: X-Sds-Date-Format
          required: false
          type: string
      produces:
        - application/json;charset=UTF-8
        - text/csv
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LogEventList'
        '400':
          description: |-
            Bad Request

            * [-80001] Not valid positive number.
            * [-80002] Not valid number.
            * [-80024] Invalid range parameters.
            * [-80026] Not a valid operation ID.
            * [-80027] Not a valid operation status.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Get system events
      tags:
        - eventlog
  /v4/eventlog/operations:
    get:
      consumes:
        - application/json
      description: |-
        ### Functional Description:  
        Retrieve eventlog (= audit log) operation IDs and the associated log operation description.

        ### Precondition:
        Role _"Log Auditor"_ required.

        ### Effects:
        None.

        ### Further Information:
        None.
      operationId: getLogOperations
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LogOperationList'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Get allowed Log Operations
      tags:
        - eventlog
  /v4/groups:
    get:
      consumes:
        - application/json
      description: |-
        ### Functional Description:  
        Returns a list of user groups.

        ### Precondition:
        Right _"read groups"_ required.

        ### Effects:
        None.

        ### Further Information:
        None.

        ### Filters

        Filter string syntax: `FIELD_NAME:OPERATOR:VALUE`

        ### Filter fields:

        * **name**  
            Group name  
            OPERATOR: `cn` (Group name contains value; multiple values not allowed)  
            VALUE: `Search string`

        ### Example: 
        * `name:cn:searchString`  
        Filter by group `name` containing `searchString`.

        ### Sorting

        Sort string syntax: `FIELD_NAME:ORDER`  
        Order can be `asc` or `desc`.  
        Multiple fields are supported.

        ### Sort fields:

        * **name**: Group name
        * **createdAt**: Creation date
        * **expireAt**: Expiration date
        * **cntUsers**: Amount of users

        ### Example:
        * `name:asc|expireAt:desc`  
        Sort by `name` ascending and by `expireAt` descending.
      operationId: getGroups
      parameters:
        - description: Range offset
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Range limit
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: Filter string
          in: query
          name: filter
          required: false
          type: string
        - description: Sort string
          in: query
          name: sort
          required: false
          type: string
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
        - description: |-
            Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):
            * LOCAL
            * UTC
            * OFFSET
            * EPOCH
          in: header
          name: X-Sds-Date-Format
          required: false
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GroupList'
        '400':
          description: |-
            Bad Request

            * [-80024] Invalid range parameters.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Get user groups
      tags:
        - groups
    post:
      consumes:
        - application/json;charset=UTF-8
      description: |-
        ### Functional Description:
        Create a new user group.

        ### Precondition:
        Right _"change groups"_ required.

        ### Effects:
        A new group is created.

        ### Further Information:
        * If a group should not expire, leave `expireAt` empty.
        * Group names are limited to **150** characters
        * Allowed characters: **All**
      operationId: createGroup
      parameters:
        - description: body
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateGroupRequest'
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
        - description: |-
            Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):
            * LOCAL
            * UTC
            * OFFSET
            * EPOCH
          in: header
          name: X-Sds-Date-Format
          required: false
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Group'
        '400':
          description: |-
            Bad Request

            * [-30020] Group must have at least 'read' right in parent room.
            * [-70510] User already in the group.
            * [-80000] Mandatory fields cannot be empty.
            * [-80005] Not valid boolean value.
            * [-80006] Expiration date is in the past.
            * [-80007] Maximum allowed length is exceeded.
            * [-80008] The year is too far in the future. Max year is limited to 9999.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '409':
          description: |-
            Conflict

            * Specified group name already exists.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Create new user group
      tags:
        - groups
  '/v4/groups/{group_id}':
    delete:
      consumes:
        - application/json
      description: |-
        ### Functional Description:
        Delete a user group.

        ### Precondition:
        Right _"delete groups"_ required.

        ### Effects:
        User group is deleted.

        ### Further Information:
        None.
      operationId: deleteGroup
      parameters:
        - description: Group ID
          format: int64
          in: path
          name: group_id
          required: true
          type: integer
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '204':
          description: No Content
        '400':
          description: |-
            Bad Request

            * [-30040] A group which is defined as AD Import Group can not be deleted.
            * [-40006] At least one admin user/group required.
            * [-71006] At least one role user/group required.
            * [-80001] Not valid positive number.
            * [-80002] Not valid number.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-30000] Group not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Delete user group
      tags:
        - groups
    get:
      consumes:
        - application/json
      description: |-
        ### Functional Description:  
        Retrieve detailed information about one user group.

        ### Precondition:
        Right _"read groups"_ required.

        ### Effects:
        None.

        ### Further Information:
        None.
      operationId: getGroup
      parameters:
        - description: Group ID
          format: int64
          in: path
          name: group_id
          required: true
          type: integer
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
        - description: |-
            Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):
            * LOCAL
            * UTC
            * OFFSET
            * EPOCH
          in: header
          name: X-Sds-Date-Format
          required: false
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Group'
        '400':
          description: |-
            Bad Request

            * [-80001] Not valid positive number.
            * [-80002] Not valid number.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-30000] Group not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Get user group
      tags:
        - groups
    put:
      consumes:
        - application/json;charset=UTF-8
      description: |-
        ### Functional Description:  
        Update the meta data of a user group.

        ### Precondition:
        Right _"change groups"_ required.

        ### Effects:
        Meta data of a user group is updated.

        ### Further Information:
        * If a group should not expire, leave `expireAt` empty.
        * Group names are limited to **150** characters
        * Allowed characters: **All**
      operationId: updateGroup
      parameters:
        - description: Group ID
          format: int64
          in: path
          name: group_id
          required: true
          type: integer
        - description: body
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateGroupRequest'
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
        - description: |-
            Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):
            * LOCAL
            * UTC
            * OFFSET
            * EPOCH
          in: header
          name: X-Sds-Date-Format
          required: false
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Group'
        '400':
          description: |-
            Bad Request

            * [-30020] Group must have at least 'read' right in parent room.
            * [-40006] At least one admin user/group required.
            * [-71006] At least one role user/group required.
            * [-80000] Mandatory fields cannot be empty.
            * [-80001] Not valid positive number.
            * [-80002] Not valid number.
            * [-80005] Not valid boolean value.
            * [-80006] Expiration date is in the past.
            * [-80007] Maximum allowed length is exceeded.
            * [-80008] The year is too far in the future. Max year is limited to 9999.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-30000] Group not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '409':
          description: |-
            Conflict

            * Specified group name already exists.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Update user group
      tags:
        - groups
  '/v4/groups/{group_id}/roles':
    get:
      consumes:
        - application/json
      description: |-
        ### Functional Description:  
        Retrieve a list of all roles and the role assignment rights of a group.

        ### Precondition:
        Right _"read groups"_ required.

        ### Effects:
        None.

        ### Further Information:
        None.
      operationId: getGroupRoles
      parameters:
        - description: Group ID
          format: int64
          in: path
          name: group_id
          required: true
          type: integer
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RoleList'
        '400':
          description: |-
            Bad Request

            * [-80000] Mandatory fields cannot be empty.
            * [-80001] Not valid positive number.
            * [-80002] Not valid number.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-30000] Group not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Get group roles
      tags:
        - groups
  '/v4/groups/{group_id}/rooms':
    get:
      consumes:
        - application/json
      description: |-
        ### Functional Description:  
        Retrieve a list of rooms, that are granted or may be granted to the group.

        ### Precondition:
        Right _"read groups"_ required.

        ### Effects:
        None.

        ### Further Information:
        None.

        ### Filter

        ### Filter fields:

        * **name**  
            Room name  
            OPERATOR: `cn` (multiple values not allowed)  
            VALUE: `search string`

        * **isGranted**  
            Filter rooms which the group is or is not granted  
            OPERATOR: `eq` (multiple values not allowed)  
            VALUE: `[true|false|any]` (default: `true`)

        * **effectivePerm**  
            Filter rooms with _DIRECT_ or _DIRECT_ **AND** _EFFECTIVE_ permissions  
            * `false`: _DIRECT_ permissions  
            * `true`:  _DIRECT_ **AND** _EFFECTIVE_ permissions  
            
            > _DIRECT_ means: e.g. room administrator grants read permissions to group of users **directly** on desired room.  
            _EFFECTIVE_ means: e.g. group of users gets read permissions on desired room through **inheritance**.  

            OPERATOR: `eq` (multiple values not allowed)  
            VALUE: `[true|false]` (default: `true`)

        ### Example:
        * `isGranted:eq:false|name:cn:searchString`  
        Get all rooms where the group is not granted AND whose `name` is like `searchString`.
      operationId: getGroupRooms
      parameters:
        - description: Group ID
          format: int64
          in: path
          name: group_id
          required: true
          type: integer
        - description: Range offset
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Range limit
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: Filter string
          in: query
          name: filter
          required: false
          type: string
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
        - description: |-
            Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):
            * LOCAL
            * UTC
            * OFFSET
            * EPOCH
          in: header
          name: X-Sds-Date-Format
          required: false
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RoomTreeDataList'
        '400':
          description: |-
            Bad Request

            * [-80001] Not valid positive number.
            * [-80002] Not valid number.
            * [-80024] Invalid range parameters.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-30000] Group not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Get rooms granted to the group or/and rooms that can be granted
      tags:
        - groups
  '/v4/groups/{group_id}/users':
    delete:
      consumes:
        - application/json;charset=UTF-8
      description: |-
        ### Functional Description:  
        Remove group members.

        ### Precondition:
        Right _"change groups"_ required.

        ### Effects:
        Provided users are removed from the user group.

        ### Further Information:
        Batch function.  
        The provided users are removed from the user group.
      operationId: deleteGroupMembers
      parameters:
        - description: Group ID
          format: int64
          in: path
          name: group_id
          required: true
          type: integer
        - description: body
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ChangeGroupMembersRequest'
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
        - description: |-
            Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):
            * LOCAL
            * UTC
            * OFFSET
            * EPOCH
          in: header
          name: X-Sds-Date-Format
          required: false
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Group'
        '400':
          description: |-
            Bad Request

            * [-71006] At least one role user/group required.
            * [-80000] Mandatory fields cannot be empty.
            * [-80001] Not valid positive number.
            * [-80002] Not valid number.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-30000] Group not found.
            * [-70501] User not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Delete group members
      tags:
        - groups
    get:
      consumes:
        - application/json
      description: |-
        ### Functional Description:  
        Retrieve a list of group members.

        ### Precondition:
        Right _"read groups"_ required.

        ### Effects:
        None.

        ### Further Information:
        None.

        ### Filter

        ### Filter fields:

        * **displayName**  
            User display name (`firstName`, `lastName`, `login`)  
            OPERATOR: `cn` (multiple values not allowed)  
            VALUE: `search string`

        * **isMember**  
            Filter the group members AND / OR users  
            OPERATOR: `eq` (multiple values not allowed)  
            VALUE: `[true|false|any]` (default: `true`)

        ### Example:
        * `is_member:eq:false|displayName:cn:searchString`  
        Get all users that are not in this group AND whose display name is like `searchString`.
      operationId: getGroupUsers
      parameters:
        - description: Group ID
          format: int64
          in: path
          name: group_id
          required: true
          type: integer
        - description: Range offset
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Range limit
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: Filter string
          in: query
          name: filter
          required: false
          type: string
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GroupUserList'
        '400':
          description: |-
            Bad Request

            * [-80001] Not valid positive number.
            * [-80002] Not valid number.
            * [-80024] Invalid range parameters.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-30000] Group not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Get group member users or/and users who can become a member
      tags:
        - groups
    post:
      consumes:
        - application/json;charset=UTF-8
      description: |-
        ### Functional Description:
        Add members to a group.

        ### Precondition:
        Right _"change groups"_ required.

        ### Effects:
        New members are added to the group.

        ### Further Information:
        Batch function.  
        The newly provided members will be added to the existing ones.
      operationId: addGroupMembers
      parameters:
        - description: Group ID
          format: int64
          in: path
          name: group_id
          required: true
          type: integer
        - description: body
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ChangeGroupMembersRequest'
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
        - description: |-
            Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):
            * LOCAL
            * UTC
            * OFFSET
            * EPOCH
          in: header
          name: X-Sds-Date-Format
          required: false
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Group'
        '400':
          description: |-
            Bad Request

            * [-70510] User already in the group.
            * [-80000] Mandatory fields cannot be empty.
            * [-80001] Not valid positive number.
            * [-80002] Not valid number.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-30000] Group not found.
            * [-70501] User not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Add group members
      tags:
        - groups
  /v4/nodes:
    delete:
      consumes:
        - application/json;charset=UTF-8
      description: |-
        ### Functional Description:
        Delete nodes (room, folder, file).

        ### Precondition:
        Authenticated user with _"delete"_ permissions on supplied nodes.

        ### Effects:
        Nodes are deleted.

        ### Further Information:
        Nodes must be in same parent.
      operationId: deleteNodes
      parameters:
        - description: body
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteNodesRequest'
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '204':
          description: No Content
        '400':
          description: |-
            Bad Request

            * [-80000] Mandatory fields cannot be empty.
            * [-80001] Not valid positive number.
            * [-80002] Not valid number.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |-
            Forbidden

            * [-10006] User has no permissions to delete file(s).
          schema:
            $ref: '#/definitions/NodeBatchOperationErrorResponse'
        '404':
          description: |-
            Not Found

            * [-41000] Node not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Delete file system nodes
      tags:
        - nodes
    get:
      consumes:
        - application/json
      description: |-
        ### Functional Description:  
        Provides a hierarchical list of file system nodes (rooms, folders, files) of a given parent that are accessible by the current user.

        ### Precondition:
        Authenticated user.

        ### Effects:
        None.

        ### Further Information:
        `EncryptionInfo` is not provided.

        ### Filter

        Filter string syntax: `FIELD_NAME:OPERATOR:VALUE[:VALUE...]`

        ### Fields:

        * **type**  
            Node type filter  
            OPERATOR: `eq` (multiple values allowed)  
            VALUE: `[room|folder|file]`

        * **perm**  
            Permissions filter  
            OPERATOR: `eq` (multiple values allowed)  
            VALUE: `[manage|read|change|create|delete|manageDownloadShare|manageUploadShare|canReadRecycleBin|canRestoreRecycleBin|canDeleteRecycleBin]`

        * **childPerm**  
            The same as **perm**, but less restrictive (applied to child nodes only)  
            OPERATOR: `eq` (multiple values allowed)  
            VALUE: `[manage|read|change|create|delete|manageDownloadShare|manageUploadShare|canReadRecycleBin|canRestoreRecycleBin|canDeleteRecycleBin]`

        * **name**  
            Node name filter  
            OPERATOR: `cn` (name contains value, multiple values not allowed)  
            VALUE: `Search string`

        * **encrypted**  
            Node encryption status filter  
            OPERATOR: `eq` (Node is encrypted, multiple values not allowed)  
            VALUE: `[true|false]`

        * **branchVersion**  
            Node branch version  
            OPERATOR: `ge|le`  
            VALUE: `version number`

        ### Example:
        * `type:eq:room:folder|perm:eq:read`  
        Get nodes where type equals `room` OR `folder` AND user has `read` permissions.

        ### Sort

        Sort string syntax: `FIELD_NAME:ORDER`  
        Order can be `asc` or `desc`.  
        Multiple fields not supported.

        ### Sort fields:

        * **name**: Node name
        * **createdBy**: Creator user name
        * **createdAt**: Creation date
        * **updatedBy**: Modifier user name
        * **updatedAt**: Modification date
        * **fileType**: File type (extension)
        * **classification**: Classification ID (for files only):  
            * 1 - public
            * 2 - for internal use only
            * 3 - confidential
            * 4 - strictly confidential
        * **size**: Node size
        * **cntAdmins**: **DEPRECATED (No effect)** For rooms only: Number of admins
        * **cntUsers**: **DEPRECATED (No effect)** For rooms only: Number of users
        * **nodeCntChildren**: For rooms / folders only: Number of direct children (not recursive)
        * **cntDeletedVersions**: For files / folders only: Number of deleted versions of this file / folder (not recursive)

        ### Example:
        * `name:desc`  
        Sort by `name` descending.
      operationId: getFsNodes
      parameters:
        - description: |-
            * 0 - top level nodes only
            * n (any positive number) - include n levels starting from the current node
            * -1 - full tree (**DEPRECATED**: will be removed)
          format: int32
          in: query
          name: depth_level
          required: false
          type: integer
        - description: |-
            Parent node ID.
            Only rooms and folders can be parents.
            Parent ID 0 or empty is the root node.
          format: int64
          in: query
          name: parent_id
          required: false
          type: integer
        - description: |-
            Show all rooms for management perspective.
            Only posible for _Rooms Managers_.
            For all other users, it will be ignored.
          in: query
          name: room_manager
          required: false
          type: boolean
        - description: Filter string
          in: query
          name: filter
          required: false
          type: string
        - description: Sort string
          in: query
          name: sort
          required: false
          type: string
        - description: Range offset
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Range limit
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
        - description: |-
            Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):
            * LOCAL
            * UTC
            * OFFSET
            * EPOCH
          in: header
          name: X-Sds-Date-Format
          required: false
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/NodeList'
        '400':
          description: |-
            Bad Request

            * [-80024] Invalid range parameters.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-41000] Node not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Get file system nodes
      tags:
        - nodes
  /v4/nodes/deleted_nodes:
    delete:
      consumes:
        - application/json;charset=UTF-8
      description: |-
        ### Functional Description:
        Permanently remove a list of nodes from the Recycle Bin.

        ### Precondition:
        User has _"delete recycle bin"_ permissions in parent room.

        ### Effects:
        All provided nodes are removed.

        ### Further Information:
        The removal of deleted nodes from the Recycle Bin is irreversible.
      operationId: deleteDeletedNodes
      parameters:
        - description: body
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDeletedNodesRequest'
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '204':
          description: No Content
        '400':
          description: |-
            Bad Request

            * [-80000] Mandatory fields cannot be empty.
            * [-80001] Not valid positive number.
            * [-80002] Not valid number.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-41100] Deleted node not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Delete nodes from Recycle Bin
      tags:
        - nodes
  /v4/nodes/deleted_nodes/actions/restore:
    post:
      consumes:
        - application/json;charset=UTF-8
      description: |-
        ### Functional Description:  
        Restore a list of deleted nodes.

        ### Precondition:
        User has _"create"_ permissions in parent room and _"restore recycle bin"_ permissions.

        ### Effects:
        The selected files are moved from the Recycle Bin to the chosen productive container.

        ### Further Information:
        If no parent ID is provided, the node is restored to its previous location.  
        The default resolution strategy is `autorename` that adds numbers to the file name until the conflict is solved.  
        If an existing file is overwritten, it is moved to the Recycle Bin instead of the restored one.
      operationId: restoreNodes
      parameters:
        - description: body
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RestoreDeletedNodesRequest'
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '204':
          description: No Content
          schema:
            $ref: '#/definitions/NotRestoredNodeList'
        '400':
          description: |-
            Bad Request

            * [-40002] (Target) room is encrypted.
            * [-40013] Encrypted file cannot be restored inside another than its original room.
            * [-80000] Mandatory fields cannot be empty.
            * [-80001] Not valid positive number.
            * [-80002] Not valid number.
            * [-80034] 'keepShareLinks' is only allowed with conflict mode 'overwrite'.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10012] Wrong token.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-41000] Node not found.
            * [-41100] Deleted node not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted.
            * [-10104] Password must be changed.
            * [-10106] Username must be changed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Restore deleted nodes
      tags:
        - nodes
  '/v4/nodes/deleted_nodes/{deleted_node_id}':
    get:
      consumes:
        - application/json
      description: |-
        ### Functional Description:  
        Get the meta data of one deleted node.

        ### Precondition:
        User can access parent room and has _"read recycle bin"_ permissions.

        ### Effects:
        None.

        ### Further Information:
        None.
      operationId: getFsDeletedNode
      parameters:
        - description: Deleted node ID
          format: int64
          in: path
          name: deleted_node_id
          required: true
          type: integer
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: true
          type: string
        - description: |-
            Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)):
            * LOCAL
            * UTC
            * OFFSET
            * EPOCH
          in: header
          name: X-Sds-Date-Format
          required: false
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeletedNode'
        '400':
[...]
