openapi: 3.0.0
info:
  version: 2016-10-20
  x-release: v4
  title: AWS Budgets
  description: <p>Use the Amazon Web Services Budgets API to plan your service usage, service costs, and instance reservations. This API reference provides descriptions, syntax, and usage examples for each of the actions and data types for the Amazon Web Services Budgets feature. </p> <p>Budgets provide you with a way to see the following information:</p> <ul> <li> <p>How close your plan is to your budgeted amount or to the free tier limits</p> </li> <li> <p>Your usage-to-date, including how much you've used of your Reserved Instances (RIs)</p> </li> <li> <p>Your current estimated charges from Amazon Web Services, and how much your predicted usage will accrue in charges by the end of the month</p> </li> <li> <p>How much of your budget has been used</p> </li> </ul> <p>Amazon Web Services updates your budget status several times a day. Budgets track your unblended costs, subscriptions, refunds, and RIs. You can create the following types of budgets:</p> <ul> <li> <p> <b>Cost budgets</b> - Plan how much you want to spend on a service.</p> </li> <li> <p> <b>Usage budgets</b> - Plan how much you want to use one or more services.</p> </li> <li> <p> <b>RI utilization budgets</b> - Define a utilization threshold, and receive alerts when your RI usage falls below that threshold. This lets you see if your RIs are unused or under-utilized.</p> </li> <li> <p> <b>RI coverage budgets</b> - Define a coverage threshold, and receive alerts when the number of your instance hours that are covered by RIs fall below that threshold. This lets you see how much of your instance usage is covered by a reservation.</p> </li> </ul> <p>Service Endpoint</p> <p>The Amazon Web Services Budgets API provides the following endpoint:</p> <ul> <li> <p>https://budgets.amazonaws.com</p> </li> </ul> <p>For information about costs that are associated with the Amazon Web Services Budgets API, see <a href="https://aws.amazon.com/aws-cost-management/pricing/">Amazon Web Services Cost Management Pricing</a>.</p>
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png
    backgroundColor: "#FFFFFF"
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: budgets
  x-origin:
    - contentType: application/json
      url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/budgets-2016-10-20.normal.json
      converter:
        url: https://github.com/mermade/aws2openapi
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/budgets/
servers:
  - url: https://budgets.amazonaws.com
    variables: {}
    description: The general AWSBudgets multi-region endpoint
  - url: http://budgets.{region}.amazonaws.com.cn
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWSBudgets endpoint for China (Beijing) and China (Ningxia)
  - url: https://budgets.{region}.amazonaws.com.cn
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWSBudgets endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
paths:
  /#X-Amz-Target=AWSBudgetServiceGateway.CreateBudget:
    post:
      operationId: CreateBudget
      description: <p>Creates a budget and, if included, notifications and subscribers. </p> <important> <p>Only one of <code>BudgetLimit</code> or <code>PlannedBudgetLimits</code> can be present in the syntax at one time. Use the syntax that matches your case. The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href="https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_CreateBudget.html#API_CreateBudget_Examples">Examples</a> section. </p> </important>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateBudgetResponse"
        "480":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "481":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "482":
          description: CreationLimitExceededException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreationLimitExceededException"
        "483":
          description: DuplicateRecordException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DuplicateRecordException"
        "484":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "485":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBudgetRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.CreateBudget
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.CreateBudgetAction:
    post:
      operationId: CreateBudgetAction
      description: " Creates a budget action. "
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateBudgetActionResponse"
        "480":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "481":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "482":
          description: CreationLimitExceededException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreationLimitExceededException"
        "483":
          description: DuplicateRecordException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DuplicateRecordException"
        "484":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "485":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "486":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBudgetActionRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.CreateBudgetAction
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.CreateNotification:
    post:
      operationId: CreateNotification
      description: Creates a notification. You must create the budget before you create the associated notification.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateNotificationResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: CreationLimitExceededException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreationLimitExceededException"
        "484":
          description: DuplicateRecordException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DuplicateRecordException"
        "485":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "486":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNotificationRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.CreateNotification
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.CreateSubscriber:
    post:
      operationId: CreateSubscriber
      description: Creates a subscriber. You must create the associated budget and notification before you create the subscriber.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSubscriberResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: CreationLimitExceededException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreationLimitExceededException"
        "483":
          description: DuplicateRecordException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DuplicateRecordException"
        "484":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "485":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "486":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSubscriberRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.CreateSubscriber
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.DeleteBudget:
    post:
      operationId: DeleteBudget
      description: <p>Deletes a budget. You can delete your budget at any time.</p> <important> <p>Deleting a budget also deletes the notifications and subscribers that are associated with that budget.</p> </important>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteBudgetResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "484":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteBudgetRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.DeleteBudget
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.DeleteBudgetAction:
    post:
      operationId: DeleteBudgetAction
      description: " Deletes a budget action. "
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteBudgetActionResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "484":
          description: ResourceLockedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceLockedException"
        "485":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteBudgetActionRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.DeleteBudgetAction
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.DeleteNotification:
    post:
      operationId: DeleteNotification
      description: <p>Deletes a notification.</p> <important> <p>Deleting a notification also deletes the subscribers that are associated with the notification.</p> </important>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteNotificationResponse"
        "480":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "481":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "484":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteNotificationRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.DeleteNotification
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.DeleteSubscriber:
    post:
      operationId: DeleteSubscriber
      description: <p>Deletes a subscriber.</p> <important> <p>Deleting the last subscriber to a notification also deletes the notification.</p> </important>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteSubscriberResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "484":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteSubscriberRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.DeleteSubscriber
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.DescribeBudget:
    post:
      operationId: DescribeBudget
      description: <p>Describes a budget.</p> <important> <p>The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href="https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_DescribeBudget.html#API_DescribeBudget_Examples">Examples</a> section. </p> </important>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeBudgetResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "484":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeBudgetRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.DescribeBudget
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.DescribeBudgetAction:
    post:
      operationId: DescribeBudgetAction
      description: " Describes a budget action detail. "
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeBudgetActionResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "484":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeBudgetActionRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.DescribeBudgetAction
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.DescribeBudgetActionHistories:
    post:
      operationId: DescribeBudgetActionHistories
      description: " Describes a budget action history detail. "
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeBudgetActionHistoriesResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "484":
          description: InvalidNextTokenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidNextTokenException"
        "485":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeBudgetActionHistoriesRequest"
      parameters:
        - name: MaxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: NextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.DescribeBudgetActionHistories
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.DescribeBudgetActionsForAccount:
    post:
      operationId: DescribeBudgetActionsForAccount
      description: " Describes all of the budget actions for an account. "
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeBudgetActionsForAccountResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "483":
          description: InvalidNextTokenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidNextTokenException"
        "484":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeBudgetActionsForAccountRequest"
      parameters:
        - name: MaxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: NextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.DescribeBudgetActionsForAccount
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.DescribeBudgetActionsForBudget:
    post:
      operationId: DescribeBudgetActionsForBudget
      description: " Describes all of the budget actions for a budget. "
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeBudgetActionsForBudgetResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "484":
          description: InvalidNextTokenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidNextTokenException"
        "485":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeBudgetActionsForBudgetRequest"
      parameters:
        - name: MaxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: NextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.DescribeBudgetActionsForBudget
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.DescribeBudgetNotificationsForAccount:
    post:
      operationId: DescribeBudgetNotificationsForAccount
      description: " Lists the budget names and notifications that are associated with an account. "
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeBudgetNotificationsForAccountResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: InvalidNextTokenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidNextTokenException"
        "484":
          description: ExpiredNextTokenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpiredNextTokenException"
        "485":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "486":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeBudgetNotificationsForAccountRequest"
      parameters:
        - name: MaxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: NextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.DescribeBudgetNotificationsForAccount
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.DescribeBudgetPerformanceHistory:
    post:
      operationId: DescribeBudgetPerformanceHistory
      description: Describes the history for <code>DAILY</code>, <code>MONTHLY</code>, and <code>QUARTERLY</code> budgets. Budget history isn't available for <code>ANNUAL</code> budgets.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeBudgetPerformanceHistoryResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: InvalidNextTokenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidNextTokenException"
        "484":
          description: ExpiredNextTokenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpiredNextTokenException"
        "485":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "486":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeBudgetPerformanceHistoryRequest"
      parameters:
        - name: MaxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: NextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.DescribeBudgetPerformanceHistory
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.DescribeBudgets:
    post:
      operationId: DescribeBudgets
      description: <p>Lists the budgets that are associated with an account.</p> <important> <p>The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href="https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_DescribeBudgets.html#API_DescribeBudgets_Examples">Examples</a> section. </p> </important>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeBudgetsResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: InvalidNextTokenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidNextTokenException"
        "484":
          description: ExpiredNextTokenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpiredNextTokenException"
        "485":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "486":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeBudgetsRequest"
      parameters:
        - name: MaxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: NextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.DescribeBudgets
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.DescribeNotificationsForBudget:
    post:
      operationId: DescribeNotificationsForBudget
      description: Lists the notifications that are associated with a budget.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeNotificationsForBudgetResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: InvalidNextTokenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidNextTokenException"
        "484":
          description: ExpiredNextTokenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpiredNextTokenException"
        "485":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "486":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeNotificationsForBudgetRequest"
      parameters:
        - name: MaxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: NextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.DescribeNotificationsForBudget
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.DescribeSubscribersForNotification:
    post:
      operationId: DescribeSubscribersForNotification
      description: Lists the subscribers that are associated with a notification.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeSubscribersForNotificationResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "482":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "483":
          description: InvalidNextTokenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidNextTokenException"
        "484":
          description: ExpiredNextTokenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpiredNextTokenException"
        "485":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "486":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeSubscribersForNotificationRequest"
      parameters:
        - name: MaxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: NextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.DescribeSubscribersForNotification
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.ExecuteBudgetAction:
    post:
      operationId: ExecuteBudgetAction
      description: " Executes a budget action. "
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecuteBudgetActionResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "484":
          description: ResourceLockedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceLockedException"
        "485":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecuteBudgetActionRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.ExecuteBudgetAction
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.UpdateBudget:
    post:
      operationId: UpdateBudget
      description: <p>Updates a budget. You can change every part of a budget except for the <code>budgetName</code> and the <code>calculatedSpend</code>. When you modify a budget, the <code>calculatedSpend</code> drops to zero until Amazon Web Services has new usage data to use for forecasting.</p> <important> <p>Only one of <code>BudgetLimit</code> or <code>PlannedBudgetLimits</code> can be present in the syntax at one time. Use the syntax that matches your case. The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href="https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_UpdateBudget.html#API_UpdateBudget_Examples">Examples</a> section. </p> </important>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateBudgetResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "484":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBudgetRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.UpdateBudget
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.UpdateBudgetAction:
    post:
      operationId: UpdateBudgetAction
      description: " Updates a budget action. "
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateBudgetActionResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "484":
          description: ResourceLockedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceLockedException"
        "485":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBudgetActionRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.UpdateBudgetAction
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.UpdateNotification:
    post:
      operationId: UpdateNotification
      description: Updates a notification.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateNotificationResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: DuplicateRecordException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DuplicateRecordException"
        "484":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "485":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateNotificationRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.UpdateNotification
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSBudgetServiceGateway.UpdateSubscriber:
    post:
      operationId: UpdateSubscriber
      description: Updates a subscriber.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateSubscriberResponse"
        "480":
          description: InternalErrorException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorException"
        "481":
          description: InvalidParameterException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: DuplicateRecordException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DuplicateRecordException"
        "484":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "485":
          description: ThrottlingException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottlingException"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSubscriberRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSBudgetServiceGateway.UpdateSubscriber
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
components:
  parameters:
    X-Amz-Content-Sha256:
      name: X-Amz-Content-Sha256
      in: header
      schema:
        type: string
      required: false
    X-Amz-Date:
      name: X-Amz-Date
      in: header
      schema:
        type: string
      required: false
    X-Amz-Algorithm:
      name: X-Amz-Algorithm
      in: header
      schema:
        type: string
      required: false
    X-Amz-Credential:
      name: X-Amz-Credential
      in: header
      schema:
        type: string
      required: false
    X-Amz-Security-Token:
      name: X-Amz-Security-Token
      in: header
      schema:
        type: string
      required: false
    X-Amz-Signature:
      name: X-Amz-Signature
      in: header
      schema:
        type: string
      required: false
    X-Amz-SignedHeaders:
      name: X-Amz-SignedHeaders
      in: header
      schema:
        type: string
      required: false
  securitySchemes:
    hmac:
      type: apiKey
      name: Authorization
      in: header
      description: Amazon Signature authorization v4
      x-amazon-apigateway-authtype: awsSigv4
  schemas:
    CreateBudgetResponse:
      type: object
      properties: {}
      description: " Response of CreateBudget "
    CreateBudgetRequest:
      type: object
      required:
        - AccountId
        - Budget
      title: CreateBudgetRequest
      properties:
        AccountId:
          allOf:
            - $ref: "#/components/schemas/AccountId"
            - description: The <code>accountId</code> that is associated with the budget.
        Budget:
          allOf:
            - $ref: "#/components/schemas/Budget"
            - description: The budget object that you want to create.
        NotificationsWithSubscribers:
          allOf:
            - $ref: "#/components/schemas/NotificationWithSubscribersList"
            - description: A notification that you want to associate with a budget. A budget can have up to five notifications, and each notification can have one SNS subscriber and up to 10 email subscribers. If you include notifications and subscribers in your <code>CreateBudget</code> call, Amazon Web Services creates the notifications and subscribers for you.
      description: " Request of CreateBudget "
    InvalidParameterException: {}
    InternalErrorException: {}
    CreationLimitExceededException: {}
    DuplicateRecordException: {}
    AccessDeniedException: {}
    ThrottlingException: {}
    CreateBudgetActionResponse:
      type: object
      required:
        - AccountId
        - BudgetName
        - ActionId
      properties:
        AccountId:
          $ref: "#/components/schemas/AccountId"
        BudgetName:
          $ref: "#/components/schemas/BudgetName"
        ActionId:
          allOf:
            - $ref: "#/components/schemas/ActionId"
            - description: " A system-generated universally unique identifier (UUID) for the action. "
    CreateBudgetActionRequest:
      type: object
      required:
        - AccountId
        - BudgetName
        - NotificationType
        - ActionType
        - ActionThreshold
        - Definition
        - ExecutionRoleArn
        - ApprovalModel
        - Subscribers
      title: CreateBudgetActionRequest
      properties:
        AccountId:
          $ref: "#/components/schemas/AccountId"
        BudgetName:
          $ref: "#/components/schemas/BudgetName"
        NotificationType:
          $ref: "#/components/schemas/NotificationType"
        ActionType:
          allOf:
            - $ref: "#/components/schemas/ActionType"
            - description: " The type of action. This defines the type of tasks that can be carried out by this action. This field also determines the format for definition. "
        ActionThreshold:
          $ref: "#/components/schemas/ActionThreshold"
        Definition:
          $ref: "#/components/schemas/Definition"
        ExecutionRoleArn:
          allOf:
            - $ref: "#/components/schemas/RoleArn"
            - description: " The role passed for action execution and reversion. Roles and actions must be in the same account. "
        ApprovalModel:
          allOf:
            - $ref: "#/components/schemas/ApprovalModel"
            - description: " This specifies if the action needs manual or automatic approval. "
        Subscribers:
          $ref: "#/components/schemas/Subscribers"
    NotFoundException: {}
    CreateNotificationResponse:
      type: object
      properties: {}
      description: " Response of CreateNotification "
    CreateNotificationRequest:
      type: object
      required:
        - AccountId
        - BudgetName
        - Notification
        - Subscribers
      title: CreateNotificationRequest
      properties:
        AccountId:
          allOf:
            - $ref: "#/components/schemas/AccountId"
            - description: The <code>accountId</code> that is associated with the budget that you want to create a notification for.
        BudgetName:
          allOf:
            - $ref: "#/components/schemas/BudgetName"
            - description: The name of the budget that you want Amazon Web Services to notify you about. Budget names must be unique within an account.
        Notification:
          allOf:
            - $ref: "#/components/schemas/Notification"
            - description: The notification that you want to create.
        Subscribers:
          allOf:
            - $ref: "#/components/schemas/Subscribers"
            - description: A list of subscribers that you want to associate with the notification. Each notification can have one SNS subscriber and up to 10 email subscribers.
      description: " Request of CreateNotification "
    CreateSubscriberResponse:
      type: object
      properties: {}
      description: " Response of CreateSubscriber "
    CreateSubscriberRequest:
      type: object
      required:
        - AccountId
        - BudgetName
        - Notification
        - Subscriber
      title: CreateSubscriberRequest
      properties:
        AccountId:
          allOf:
            - $ref: "#/components/schemas/AccountId"
            - description: The <code>accountId</code> that is associated with the budget that you want to create a subscriber for.
        BudgetName:
          allOf:
            - $ref: "#/components/schemas/BudgetName"
            - description: The name of the budget that you want to subscribe to. Budget names must be unique within an account.
        Notification:
          allOf:
            - $ref: "#/components/schemas/Notification"
            - description: The notification that you want to create a subscriber for.
        Subscriber:
          allOf:
            - $ref: "#/components/schemas/Subscriber"
            - description: The subscriber that you want to associate with a budget notification.
      description: " Request of CreateSubscriber "
    DeleteBudgetResponse:
      type: object
      properties: {}
      description: " Response of DeleteBudget "
    DeleteBudgetRequest:
      type: object
      required:
        - AccountId
        - BudgetName
      title: DeleteBudgetRequest
      properties:
        AccountId:
          allOf:
            - $ref: "#/components/schemas/AccountId"
            - description: The <code>accountId</code> that is associated with the budget that you want to delete.
        BudgetName:
          allOf:
            - $ref: "#/components/schemas/BudgetName"
            - description: The name of the budget that you want to delete.
      description: " Request of DeleteBudget "
    DeleteBudgetActionResponse:
      type: object
      required:
        - AccountId
        - BudgetName
        - Action
      properties:
        AccountId:
          $ref: "#/components/schemas/AccountId"
        BudgetName:
          $ref: "#/components/schemas/BudgetName"
        Action:
          $ref: "#/components/schemas/Action"
    DeleteBudgetActionRequest:
      type: object
      required:
        - AccountId
        - BudgetName
        - ActionId
      title: DeleteBudgetActionRequest
      properties:
        AccountId:
          $ref: "#/components/schemas/AccountId"
        BudgetName:
          $ref: "#/components/schemas/BudgetName"
        ActionId:
          allOf:
            - $ref: "#/components/schemas/ActionId"
            - description: " A system-generated universally unique identifier (UUID) for the action. "
    ResourceLockedException: {}
    DeleteNotificationResponse:
      type: object
      properties: {}
      description: " Response of DeleteNotification "
    DeleteNotificationRequest:
      type: object
      required:
        - AccountId
        - BudgetName
        - Notification
      title: DeleteNotificationRequest
      properties:
        AccountId:
          allOf:
            - $ref: "#/components/schemas/AccountId"
            - description: The <code>accountId</code> that is associated with the budget whose notification you want to delete.
        BudgetName:
          allOf:
            - $ref: "#/components/schemas/BudgetName"
            - description: The name of the budget whose notification you want to delete.
        Notification:
          allOf:
            - $ref: "#/components/schemas/Notification"
            - description: The notification that you want to delete.
      description: " Request of DeleteNotification "
    DeleteSubscriberResponse:
      type: object
      properties: {}
      description: " Response of DeleteSubscriber "
    DeleteSubscriberRequest:
      type: object
      required:
        - AccountId
        - BudgetName
        - Notification
        - Subscriber
      title: DeleteSubscriberRequest
      properties:
        AccountId:
          allOf:
            - $ref: "#/components/schemas/AccountId"
            - description: The <code>accountId</code> that is associated with the budget whose subscriber you want to delete.
        BudgetName:
          allOf:
            - $ref: "#/components/schemas/BudgetName"
            - description: The name of the budget whose subscriber you want to delete.
        Notification:
          allOf:
            - $ref: "#/components/schemas/Notification"
            - description: The notification whose subscriber you want to delete.
        Subscriber:
          allOf:
            - $ref: "#/components/schemas/Subscriber"
            - description: The subscriber that you want to delete.
      description: " Request of DeleteSubscriber "
    DescribeBudgetResponse:
      type: object
      properties:
        Budget:
          allOf:
            - $ref: "#/components/schemas/Budget"
            - description: The description of the budget.
      description: " Response of DescribeBudget "
    DescribeBudgetRequest:
      type: object
      required:
        - AccountId
        - BudgetName
      title: DescribeBudgetRequest
      properties:
        AccountId:
          allOf:
            - $ref: "#/components/schemas/AccountId"
            - description: The <code>accountId</code> that is associated with the budget that you want a description of.
        BudgetName:
          allOf:
            - $ref: "#/components/schemas/BudgetName"
            - description: The name of the budget that you want a description of.
      description: " Request of DescribeBudget "
    DescribeBudgetActionResponse:
      type: object
      required:
        - AccountId
        - BudgetName
        - Action
      properties:
        AccountId:
          $ref: "#/components/schemas/AccountId"
        BudgetName:
          $ref: "#/components/schemas/BudgetName"
        Action:
          allOf:
            - $ref: "#/components/schemas/Action"
            - description: " A budget action resource. "
    DescribeBudgetActionRequest:
      type: object
      required:
        - AccountId
        - BudgetName
        - ActionId
      title: DescribeBudgetActionRequest
      properties:
        AccountId:
          $ref: "#/components/schemas/AccountId"
        BudgetName:
          $ref: "#/components/schemas/BudgetName"
        ActionId:
          allOf:
            - $ref: "#/components/schemas/ActionId"
            - description: " A system-generated universally unique identifier (UUID) for the action. "
    DescribeBudgetActionHistoriesResponse:
      type: object
      required:
        - ActionHistories
      properties:
        ActionHistories:
          allOf:
            - $ref: "#/components/schemas/ActionHistories"
            - description: " The historical record of the budget action resource. "
        NextToken:
          $ref: "#/components/schemas/GenericString"
    DescribeBudgetActionHistoriesRequest:
      type: object
      required:
        - AccountId
        - BudgetName
        - ActionId
      title: DescribeBudgetActionHistoriesRequest
      properties:
        AccountId:
          $ref: "#/components/schemas/AccountId"
        BudgetName:
          $ref: "#/components/schemas/BudgetName"
        ActionId:
          allOf:
            - $ref: "#/components/schemas/ActionId"
            - description: " A system-generated universally unique identifier (UUID) for the action. "
        TimePeriod:
          $ref: "#/components/schemas/TimePeriod"
        MaxResults:
          $ref: "#/components/schemas/MaxResults"
        NextToken:
          $ref: "#/components/schemas/GenericString"
    InvalidNextTokenException: {}
    DescribeBudgetActionsForAccountResponse:
      type: object
      required:
        - Actions
      properties:
        Actions:
          allOf:
            - $ref: "#/components/schemas/Actions"
            - description: " A list of the budget action resources information. "
        NextToken:
          $ref: "#/components/schemas/GenericString"
    DescribeBudgetActionsForAccountRequest:
      type: object
      required:
        - AccountId
      title: DescribeBudgetActionsForAccountRequest
      properties:
        AccountId:
          $ref: "#/components/schemas/AccountId"
        MaxResults:
          $ref: "#/components/schemas/MaxResults"
        NextToken:
          $ref: "#/components/schemas/GenericString"
    DescribeBudgetActionsForBudgetResponse:
      type: object
      required:
        - Actions
      properties:
        Actions:
          allOf:
            - $ref: "#/components/schemas/Actions"
            - description: " A list of the budget action resources information. "
        NextToken:
          $ref: "#/components/schemas/GenericString"
    DescribeBudgetActionsForBudgetRequest:
      type: object
      required:
        - AccountId
        - BudgetName
      title: DescribeBudgetActionsForBudgetRequest
      properties:
        AccountId:
          $ref: "#/components/schemas/AccountId"
        BudgetName:
          $ref: "#/components/schemas/BudgetName"
        MaxResults:
          $ref: "#/components/schemas/MaxResults"
        NextToken:
          $ref: "#/components/schemas/GenericString"
    DescribeBudgetNotificationsForAccountResponse:
      type: object
      properties:
        BudgetNotificationsForAccount:
          allOf:
            - $ref: "#/components/schemas/BudgetNotificationsForAccountList"
            - description: " A list of budget names and associated notifications for an account. "
        NextToken:
          $ref: "#/components/schemas/GenericString"
    DescribeBudgetNotificationsForAccountRequest:
      type: object
      required:
        - AccountId
      title: DescribeBudgetNotificationsForAccountRequest
      properties:
        AccountId:
          $ref: "#/components/schemas/AccountId"
        MaxResults:
          allOf:
            - $ref: "#/components/schemas/MaxResultsBudgetNotifications"
            - description: " An integer that shows how many budget name entries a paginated response contains. "
        NextToken:
          $ref: "#/components/schemas/GenericString"
    ExpiredNextTokenException: {}
    DescribeBudgetPerformanceHistoryResponse:
      type: object
      properties:
        BudgetPerformanceHistory:
          allOf:
            - $ref: "#/components/schemas/BudgetPerformanceHistory"
            - description: <p>The history of how often the budget has gone into an <code>ALARM</code> state.</p> <p>For <code>DAILY</code> budgets, the history saves the state of the budget for the last 60 days. For <code>MONTHLY</code> budgets, the history saves the state of the budget for the current month plus the last 12 months. For <code>QUARTERLY</code> budgets, the history saves the state of the budget for the last four quarters.</p>
        NextToken:
          $ref: "#/components/schemas/GenericString"
    DescribeBudgetPerformanceHistoryRequest:
      type: object
      required:
        - AccountId
        - BudgetName
      title: DescribeBudgetPerformanceHistoryRequest
      properties:
        AccountId:
          $ref: "#/components/schemas/AccountId"
        BudgetName:
          $ref: "#/components/schemas/BudgetName"
        TimePeriod:
          allOf:
            - $ref: "#/components/schemas/TimePeriod"
            - description: Retrieves how often the budget went into an <code>ALARM</code> state for the specified time period.
        MaxResults:
          $ref: "#/components/schemas/MaxResults"
        NextToken:
          $ref: "#/components/schemas/GenericString"
    DescribeBudgetsResponse:
      type: object
      properties:
        Budgets:
          allOf:
            - $ref: "#/components/schemas/Budgets"
            - description: A list of budgets.
        NextToken:
          allOf:
            - $ref: "#/components/schemas/GenericString"
            - description: The pagination token in the service response that indicates the next set of results that you can retrieve.
      description: " Response of DescribeBudgets "
    DescribeBudgetsRequest:
      type: object
      required:
        - AccountId
      title: DescribeBudgetsRequest
      properties:
        AccountId:
          allOf:
            - $ref: "#/components/schemas/AccountId"
            - description: The <code>accountId</code> that is associated with the budgets that you want descriptions of.
        MaxResults:
          allOf:
            - $ref: "#/components/schemas/MaxResults"
            - description: An optional integer that represents how many entries a paginated response contains. The maximum is 100.
        NextToken:
          allOf:
            - $ref: "#/components/schemas/GenericString"
            - description: The pagination token that you include in your request to indicate the next set of results that you want to retrieve.
      description: " Request of DescribeBudgets "
    DescribeNotificationsForBudgetResponse:
      type: object
      properties:
        Notifications:
          allOf:
            - $ref: "#/components/schemas/Notifications"
            - description: A list of notifications that are associated with a budget.
        NextToken:
          allOf:
            - $ref: "#/components/schemas/GenericString"
            - description: The pagination token in the service response that indicates the next set of results that you can retrieve.
      description: " Response of GetNotificationsForBudget "
    DescribeNotificationsForBudgetRequest:
      type: object
      required:
        - AccountId
        - BudgetName
      title: DescribeNotificationsForBudgetRequest
      properties:
        AccountId:
          allOf:
            - $ref: "#/components/schemas/AccountId"
            - description: The <code>accountId</code> that is associated with the budget whose notifications you want descriptions of.
        BudgetName:
          allOf:
            - $ref: "#/components/schemas/BudgetName"
            - description: The name of the budget whose notifications you want descriptions of.
        MaxResults:
          allOf:
            - $ref: "#/components/schemas/MaxResults"
            - description: An optional integer that represents how many entries a paginated response contains. The maximum is 100.
        NextToken:
          allOf:
            - $ref: "#/components/schemas/GenericString"
            - description: The pagination token that you include in your request to indicate the next set of results that you want to retrieve.
      description: " Request of DescribeNotificationsForBudget "
    DescribeSubscribersForNotificationResponse:
      type: object
      properties:
        Subscribers:
          allOf:
            - $ref: "#/components/schemas/Subscribers"
            - description: A list of subscribers that are associated with a notification.
        NextToken:
          allOf:
            - $ref: "#/components/schemas/GenericString"
            - description: The pagination token in the service response that indicates the next set of results that you can retrieve.
      description: " Response of DescribeSubscribersForNotification "
    DescribeSubscribersForNotificationRequest:
      type: object
      required:
        - AccountId
        - BudgetName
        - Notification
      title: DescribeSubscribersForNotificationRequest
      properties:
        AccountId:
          allOf:
            - $ref: "#/components/schemas/AccountId"
            - description: The <code>accountId</code> that is associated with the budget whose subscribers you want descriptions of.
        BudgetName:
          allOf:
            - $ref: "#/components/schemas/BudgetName"
            - description: The name of the budget whose subscribers you want descriptions of.
        Notification:
          allOf:
            - $ref: "#/components/schemas/Notification"
            - description: The notification whose subscribers you want to list.
        MaxResults:
          allOf:
            - $ref: "#/components/schemas/MaxResults"
            - description: An optional integer that represents how many entries a paginated response contains. The maximum is 100.
        NextToken:
          allOf:
            - $ref: "#/components/schemas/GenericString"
            - description: The pagination token that you include in your request to indicate the next set of results that you want to retrieve.
      description: " Request of DescribeSubscribersForNotification "
    ExecuteBudgetActionResponse:
      type: object
      required:
        - AccountId
        - BudgetName
        - ActionId
        - ExecutionType
      properties:
        AccountId:
          $ref: "#/components/schemas/AccountId"
        BudgetName:
          $ref: "#/components/schemas/BudgetName"
        ActionId:
          allOf:
            - $ref: "#/components/schemas/ActionId"
            - description: " A system-generated universally unique identifier (UUID) for the action. "
        ExecutionType:
          allOf:
            - $ref: "#/components/schemas/ExecutionType"
            - description: " The type of execution. "
    ExecuteBudgetActionRequest:
      type: object
      required:
        - AccountId
        - BudgetName
        - ActionId
        - ExecutionType
      title: ExecuteBudgetActionRequest
      properties:
        AccountId:
          $ref: "#/components/schemas/AccountId"
        BudgetName:
          $ref: "#/components/schemas/BudgetName"
        ActionId:
          allOf:
            - $ref: "#/components/schemas/ActionId"
            - description: " A system-generated universally unique identifier (UUID) for the action. "
        ExecutionType:
          allOf:
            - $ref: "#/components/schemas/ExecutionType"
            - description: " The type of execution. "
    UpdateBudgetResponse:
      type: object
      properties: {}
      description: " Response of UpdateBudget "
    UpdateBudgetRequest:
      type: object
      required:
        - AccountId
        - NewBudget
      title: UpdateBudgetRequest
      properties:
        AccountId:
          allOf:
            - $ref: "#/components/schemas/AccountId"
            - description: The <code>accountId</code> that is associated with the budget that you want to update.
        NewBudget:
          allOf:
            - $ref: "#/components/schemas/Budget"
            - description: The budget that you want to update your budget to.
      description: " Request of UpdateBudget "
    UpdateBudgetActionResponse:
      type: object
      required:
        - AccountId
        - BudgetName
        - OldAction
        - NewAction
      properties:
        AccountId:
          $ref: "#/components/schemas/AccountId"
        BudgetName:
          $ref: "#/components/schemas/BudgetName"
        OldAction:
          allOf:
            - $ref: "#/components/schemas/Action"
            - description: " The previous action resource information. "
        NewAction:
          allOf:
            - $ref: "#/components/schemas/Action"
            - description: " The updated action resource information. "
    UpdateBudgetActionRequest:
      type: object
      required:
        - AccountId
        - BudgetName
        - ActionId
      title: UpdateBudgetActionRequest
      properties:
        AccountId:
          $ref: "#/components/schemas/AccountId"
        BudgetName:
          $ref: "#/components/schemas/BudgetName"
        ActionId:
          allOf:
            - $ref: "#/components/schemas/ActionId"
            - description: " A system-generated universally unique identifier (UUID) for the action. "
        NotificationType:
          $ref: "#/components/schemas/NotificationType"
        ActionThreshold:
          $ref: "#/components/schemas/ActionThreshold"
        Definition:
          $ref: "#/components/schemas/Definition"
        ExecutionRoleArn:
          allOf:
            - $ref: "#/components/schemas/RoleArn"
            - description: " The role passed for action execution and reversion. Roles and actions must be in the same account. "
        ApprovalModel:
          allOf:
            - $ref: "#/components/schemas/ApprovalModel"
            - description: " This specifies if the action needs manual or automatic approval. "
        Subscribers:
          $ref: "#/components/schemas/Subscribers"
    UpdateNotificationResponse:
      type: object
      properties: {}
      description: " Response of UpdateNotification "
    UpdateNotificationRequest:
      type: object
      required:
        - AccountId
        - BudgetName
        - OldNotification
        - NewNotification
      title: UpdateNotificationRequest
      properties:
        AccountId:
          allOf:
            - $ref: "#/components/schemas/AccountId"
            - description: The <code>accountId</code> that is associated with the budget whose notification you want to update.
        BudgetName:
          allOf:
            - $ref: "#/components/schemas/BudgetName"
            - description: The name of the budget whose notification you want to update.
        OldNotification:
          allOf:
            - $ref: "#/components/schemas/Notification"
            - description: The previous notification that is associated with a budget.
        NewNotification:
          allOf:
            - $ref: "#/components/schemas/Notification"
            - description: The updated notification to be associated with a budget.
      description: " Request of UpdateNotification "
    UpdateSubscriberResponse:
      type: object
      properties: {}
      description: " Response of UpdateSubscriber "
    UpdateSubscriberRequest:
      type: object
      required:
        - AccountId
        - BudgetName
        - Notification
        - OldSubscriber
        - NewSubscriber
      title: UpdateSubscriberRequest
      properties:
        AccountId:
          allOf:
            - $ref: "#/components/schemas/AccountId"
            - description: The <code>accountId</code> that is associated with the budget whose subscriber you want to update.
        BudgetName:
          allOf:
            - $ref: "#/components/schemas/BudgetName"
            - description: The name of the budget whose subscriber you want to update.
        Notification:
          allOf:
            - $ref: "#/components/schemas/Notification"
            - description: The notification whose subscriber you want to update.
        OldSubscriber:
          allOf:
            - $ref: "#/components/schemas/Subscriber"
            - description: The previous subscriber that is associated with a budget notification.
        NewSubscriber:
          allOf:
            - $ref: "#/components/schemas/Subscriber"
            - description: The updated subscriber that is associated with a budget notification.
      description: " Request of UpdateSubscriber "
    AccountId:
      type: string
      pattern: \d{12}
      description: The account ID of the user. It's a 12-digit number.
      minLength: 12
      maxLength: 12
    ActionId:
      type: string
      pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
      minLength: 36
      maxLength: 36
    BudgetName:
      type: string
      pattern: "[^:\\\\]+"
      description: " A string that represents the budget name. The \":\" and \"\\\" characters aren't allowed."
      minLength: 1
      maxLength: 100
    NotificationType:
      type: string
      enum:
        - ACTUAL
        - FORECASTED
      description: " The type of a notification. It must be ACTUAL or FORECASTED."
    ActionType:
      type: string
      enum:
        - APPLY_IAM_POLICY
        - APPLY_SCP_POLICY
        - RUN_SSM_DOCUMENTS
    ActionThreshold:
      type: object
      required:
        - ActionThresholdValue
        - ActionThresholdType
      properties:
        ActionThresholdValue:
          $ref: "#/components/schemas/NotificationThreshold"
        ActionThresholdType:
          $ref: "#/components/schemas/ThresholdType"
      description: "The trigger threshold of the action. "
    Definition:
      type: object
      properties:
        IamActionDefinition:
          allOf:
            - $ref: "#/components/schemas/IamActionDefinition"
            - description: "The Identity and Access Management (IAM) action definition details. "
        ScpActionDefinition:
          allOf:
            - $ref: "#/components/schemas/ScpActionDefinition"
            - description: "The service control policies (SCPs) action definition details. "
        SsmActionDefinition:
          allOf:
            - $ref: "#/components/schemas/SsmActionDefinition"
            - description: "The Amazon Web Services Systems Manager (SSM) action definition details. "
      description: "Specifies all of the type-specific parameters. "
    RoleArn:
      type: string
      pattern: ^arn:(aws|aws-cn|aws-us-gov|us-iso-east-1|us-isob-east-1):iam::\d{12}:role(\u002F[\u0021-\u007F]+\u002F|\u002F)[\w+=,.@-]+$
      minLength: 32
      maxLength: 618
    ApprovalModel:
      type: string
      enum:
        - AUTOMATIC
        - MANUAL
    ActionStatus:
      type: string
      enum:
        - STANDBY
        - PENDING
        - EXECUTION_IN_PROGRESS
        - EXECUTION_SUCCESS
        - EXECUTION_FAILURE
        - REVERSE_IN_PROGRESS
        - REVERSE_SUCCESS
        - REVERSE_FAILURE
        - RESET_IN_PROGRESS
        - RESET_FAILURE
    Subscribers:
      type: array
      description: " A list of subscribers."
      items:
        $ref: "#/components/schemas/Subscriber"
      minItems: 1
      maxItems: 11
    Action:
      type: object
      required:
        - ActionId
        - BudgetName
        - NotificationType
        - ActionType
        - ActionThreshold
        - Definition
        - ExecutionRoleArn
        - ApprovalModel
        - Status
        - Subscribers
      properties:
        ActionId:
          allOf:
            - $ref: "#/components/schemas/ActionId"
            - description: "A system-generated universally unique identifier (UUID) for the action. "
        BudgetName:
          $ref: "#/components/schemas/BudgetName"
        NotificationType:
          $ref: "#/components/schemas/NotificationType"
        ActionType:
          allOf:
            - $ref: "#/components/schemas/ActionType"
            - description: "The type of action. This defines the type of tasks that can be carried out by this action. This field also determines the format for definition. "
        ActionThreshold:
          allOf:
            - $ref: "#/components/schemas/ActionThreshold"
            - description: "The trigger threshold of the action. "
        Definition:
          allOf:
            - $ref: "#/components/schemas/Definition"
            - description: "Where you specify all of the type-specific parameters. "
        ExecutionRoleArn:
          allOf:
            - $ref: "#/components/schemas/RoleArn"
            - description: "The role passed for action execution and reversion. Roles and actions must be in the same account. "
        ApprovalModel:
          allOf:
            - $ref: "#/components/schemas/ApprovalModel"
            - description: "This specifies if the action needs manual or automatic approval. "
        Status:
          allOf:
            - $ref: "#/components/schemas/ActionStatus"
            - description: "The status of the action. "
        Subscribers:
          $ref: "#/components/schemas/Subscribers"
      description: "A budget action resource. "
    ActionHistory:
      type: object
      required:
        - Timestamp
        - Status
        - EventType
        - ActionHistoryDetails
      properties:
        Timestamp:
          $ref: "#/components/schemas/GenericTimestamp"
        Status:
          allOf:
            - $ref: "#/components/schemas/ActionStatus"
            - description: "The status of action at the time of the event. "
        EventType:
          allOf:
            - $ref: "#/components/schemas/EventType"
            - description: "This distinguishes between whether the events are triggered by the user or are generated by the system. "
        ActionHistoryDetails:
          allOf:
            - $ref: "#/components/schemas/ActionHistoryDetails"
            - description: "The description of the details for the event. "
      description: "The historical records for a budget action. "
    ActionHistories:
      type: array
      items:
        $ref: "#/components/schemas/ActionHistory"
      minItems: 0
      maxItems: 100
    GenericTimestamp:
      type: string
      description: " A generic time stamp. In Java, it's transformed to a <code>Date</code> object."
      format: date-time
    EventType:
      type: string
      enum:
        - SYSTEM
        - CREATE_ACTION
        - DELETE_ACTION
        - UPDATE_ACTION
        - EXECUTE_ACTION
    ActionHistoryDetails:
      type: object
      required:
        - Message
        - Action
      properties:
        Message:
          $ref: "#/components/schemas/GenericString"
        Action:
          allOf:
            - $ref: "#/components/schemas/Action"
            - description: "The budget action resource. "
      description: "The description of the details for the event. "
    GenericString:
      type: string
      pattern: .*
      description: " A generic string."
      minLength: 0
      maxLength: 2147483647
    ActionSubType:
      type: string
      enum:
        - STOP_EC2_INSTANCES
        - STOP_RDS_INSTANCES
    NotificationThreshold:
      type: number
      description: " The threshold of a notification."
      format: double
      minimum: 0
      maximum: 15000000000000
    ThresholdType:
      type: string
      enum:
        - PERCENTAGE
        - ABSOLUTE_VALUE
      description: " The type of threshold for a notification."
    Actions:
      type: array
      items:
        $ref: "#/components/schemas/Action"
      minItems: 0
      maxItems: 100
    AdjustmentPeriod:
      type: integer
      minimum: 1
      maximum: 60
    AutoAdjustType:
      type: string
      enum:
        - HISTORICAL
        - FORECAST
    HistoricalOptions:
[...]
