openapi: 3.0.0
servers:
  - url: http://azure-api.sportsdata.io/v3/nfl/scores
  - url: https://azure-api.sportsdata.io/v3/nfl/scores
info:
  contact:
    x-twitter: nfldata
  description: NFL schedules, scores, odds, weather, and news API.
  title: NFL v3 Scores
  version: "1.0"
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg
  x-origin:
    - format: swagger
      url: https://fantasydata.com/downloads/swagger/nfl-v3-scores.json
      version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nfl-v3-scores
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
tags: []
paths:
  "/{format}/AllTeams":
    get:
      description: Gets all teams, including pro bowl teams.
      operationId: TeamsAll
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team"
                type: array
          description: ""
      summary: Teams (All)
  "/{format}/AreAnyGamesInProgress":
    get:
      description: Returns <code>true</code> if there is at least one game being played at the time of the request or <code>false</code> if there are none.
      operationId: AreGamesInProgress
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: false
                type: boolean
          description: ""
      summary: Are Games In Progress
  "/{format}/Byes/{season}":
    get:
      description: "Get bye weeks for the teams during a specified NFL season. "
      operationId: ByeWeeks
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Bye"
                type: array
          description: ""
      summary: Bye Weeks
  "/{format}/CurrentSeason":
    get:
      description: Year of the current NFL season. This value changes at the start of the new NFL league year. The earliest season for Fantasy data is 2001. The earliest season for Team data is 1985. The earliest season for Fantasy data is 2001. The earliest season for Team data is 1985.
      operationId: SeasonCurrent
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Season Current
  "/{format}/CurrentWeek":
    get:
      description: Number of the current week of the NFL season. This value usually changes on Tuesday nights or Wednesday mornings at midnight ET.
      operationId: WeekCurrent
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Week Current
  "/{format}/DepthCharts":
    get:
      description: Depth charts for all NFL teams split by offensive, defensive, and special teams position groupings.
      operationId: DepthCharts
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/TeamDepthChart"
                type: array
          description: ""
      summary: Depth Charts
  "/{format}/FreeAgents":
    get:
      operationId: PlayerDetailsByFreeAgents
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Player"
                type: array
          description: ""
      summary: Player Details by Free Agents
  "/{format}/GameStats/{season}":
    get:
      operationId: GameStatsBySeasonDeprecatedUseTeamGameStatsInstead
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Game"
                type: array
          description: ""
      summary: Game Stats by Season (Deprecated, use Team Game Stats instead)
  "/{format}/GameStatsByWeek/{season}/{week}":
    get:
      operationId: GameStatsByWeekDeprecatedUseTeamGameStatsInstead
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "

            \          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Game"
                type: array
          description: ""
      summary: Game Stats by Week (Deprecated, use Team Game Stats instead)
  "/{format}/LastCompletedSeason":
    get:
      description: Year of the most recently completed season. this value changes immediately after the Super Bowl. The earliest season for Fantasy data is 2001. The earliest season for Team data is 1985.
      operationId: SeasonLastCompleted
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Season Last Completed
  "/{format}/LastCompletedWeek":
    get:
      description: Number of the last completed week of the NFL season. This value usually changes on Tuesday nights or Wednesday mornings at midnight ET.
      operationId: WeekLastCompleted
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Week Last Completed
  "/{format}/News":
    get:
      operationId: News
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/News"
                type: array
          description: ""
      summary: News
  "/{format}/NewsByDate/{date}":
    get:
      operationId: NewsByDate
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: |-
            The date of the news.
            <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
          in: path
          name: date
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/News"
                type: array
          description: ""
      summary: News by Date
  "/{format}/NewsByPlayerID/{playerid}":
    get:
      operationId: NewsByPlayer
      parameters:
        - description: "

            \          Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.

            \        "
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: Each NFL player has a unique ID assigned by FantasyData. Player IDs can be determined by pulling player related data. Example:<code>14257</code>.
          in: path
          name: playerid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/News"
                type: array
          description: ""
      summary: News by Player
  "/{format}/NewsByTeam/{team}":
    get:
      operationId: NewsByTeam
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Abbreviation of the team. Example: <code>WAS</code>."
          in: path
          name: team
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/News"
                type: array
          description: ""
      summary: News by Team
  "/{format}/Ping/{seconds}":
    get:
      description: Ping NFL API
      operationId: XPing
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: Number of seconds to sleep before responding
          in: path
          name: seconds
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
          description: ""
      summary: X Ping
  "/{format}/Player/{playerid}":
    get:
      operationId: PlayerDetailsByPlayer
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: Each NFL player has a unique ID assigned by FantasyData. Player IDs can be determined by pulling player related data. Example:<code>732</code>.
          in: path
          name: playerid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerDetail"
          description: ""
      summary: Player Details by Player
  "/{format}/Players":
    get:
      operationId: PlayerDetailsByAvailable
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Player"
                type: array
          description: ""
      summary: Player Details by Available
  "/{format}/Players/{team}":
    get:
      operationId: PlayerDetailsByTeam
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Abbreviation of the team. Example: <code>WAS</code>."
          in: path
          name: team
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerDetail"
                type: array
          description: ""
      summary: Player Details by Team
  "/{format}/Referees":
    get:
      description: Returns full list of NFL Referees
      operationId: Referees
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Referee"
                type: array
          description: ""
      summary: Referees
  "/{format}/Rookies/{season}":
    get:
      operationId: PlayerDetailsByRookieDraftYear
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season.<br>Examples: <code>2018</code>, <code>2019</code>, etc."
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Player"
                type: array
          description: ""
      summary: Player Details by Rookie Draft Year
  "/{format}/Schedules/{season}":
    get:
      description: Game schedule for a specified season.
      operationId: Schedule
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>, <code>2019</code>, etc."
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Schedule"
                type: array
          description: ""
      summary: Schedule
  "/{format}/Scores/{season}":
    get:
      description: Game scores for a specified season.
      operationId: ScoresBySeason
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>, <code>2019</code>, etc."
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Score"
                type: array
          description: ""
      summary: "Scores by Season "
  "/{format}/ScoresByDate/{date}":
    get:
      description: Get game scores for a specified week of a season.
      operationId: ScoresByDate
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "The date of the games.<br>Examples: <code>2021-SEP-12</code>, <code>2021-NOV-28</code>."
          in: path
          name: date
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Score"
                type: array
          description: ""
      summary: Scores by Date
  "/{format}/ScoresByWeek/{season}/{week}":
    get:
      description: Get game scores for a specified week of a season.
      operationId: ScoresByWeek
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "

            \          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Score"
                type: array
          description: ""
      summary: Scores by Week
  "/{format}/SimulatedScores/{numberofplays}":
    get:
      description: Gets simulated live scores of NFL games, covering the Conference Championship games on January 21, 2018.
      operationId: ScoresByWeekSimulation
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: The number of plays to progress in this NFL live game simulation. Example entries are <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>, <code>150</code>, <code>200</code>, etc.
          in: path
          name: numberofplays
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Score"
                type: array
          description: ""
      summary: Scores by Week Simulation
  "/{format}/Stadiums":
    get:
      description: This method returns all stadiums.
      operationId: Stadiums
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Stadium"
                type: array
          description: ""
      summary: Stadiums
  "/{format}/Standings/{season}":
    get:
      operationId: Standings
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Standing"
                type: array
          description: ""
      summary: Standings
  "/{format}/TeamGameStats/{season}/{week}":
    get:
      operationId: TeamGameStats
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "

            \          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.

            \          Example: <code>1</code>

            \        "
          in: path
          name: week
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/TeamGame"
                type: array
          description: ""
      summary: Team Game Stats
  "/{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}":
    get:
      description: Game by game log of total team statistics.
      operationId: TeamGameLogsBySeason
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Season to get games from. Example <code>2019POST</code>, <code>2020</code>        "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: Unique ID of team.  Example <code> 8 </code>
          in: path
          name: teamid
          required: true
          schema:
            type: string
        - description: How many games to return. Example <code>all</code>, <code>10</code>, <code>25</code>
          in: path
          name: numberofgames
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/TeamGame"
                type: array
          description: ""
      summary: Team Game Logs By Season
  "/{format}/TeamSeasonStats/{season}":
    get:
      operationId: TeamSeasonStats
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/TeamSeason"
                type: array
          description: ""
      summary: Team Season Stats
  "/{format}/Teams":
    get:
      description: Gets all active teams.
      operationId: TeamsActive
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team"
                type: array
          description: ""
      summary: Teams (Active)
  "/{format}/Teams/{season}":
    get:
      description: List of teams playing in a specified season.
      operationId: TeamsBySeason
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "

            \          Year of the season and the season type. If no season type is provided, then the default is regular season.

            \          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.

            \        "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team"
                type: array
          description: ""
      summary: Teams by Season
  "/{format}/Timeframes/{type}":
    get:
      description: Get detailed information about past, present, and future timeframes.
      operationId: Timeframes
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: The type of timeframes to return.  Valid entries are <code>current</code> or <code>upcoming</code> or <code>completed</code> or <code>recent</code> or <code>all</code>.
          in: path
          name: type
          required: true
          schema:
            default: current
            enum:
              - current
              - upcoming
              - completed
              - recent
              - all
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Timeframe"
                type: array
          description: ""
      summary: Timeframes
  "/{format}/UpcomingSeason":
    get:
      description: Year of the current NFL season, if we are in the mid-season. If we are in the off-season, then year of the next upcoming season. This value changes immediately after the Super Bowl. The earliest season for Fantasy data is 2001. The earliest season for Team data is 1985.
      operationId: SeasonUpcoming
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Season Upcoming
  "/{format}/UpcomingWeek":
    get:
      description: Number of the upcoming week of the NFL season. This value usually changes on Tuesday nights or Wednesday mornings at midnight ET.
      operationId: WeekUpcoming
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Week Upcoming
components:
  schemas:
    Bye:
      properties:
        Season:
          nullable: false
          type: integer
        Team:
          nullable: true
          type: string
        Week:
          nullable: false
          type: integer
    DepthChart:
      properties:
        DepthChartID:
          nullable: false
          type: integer
        DepthOrder:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        PlayerID:
          nullable: true
          type: integer
        Position:
          nullable: true
          type: string
        PositionCategory:
          nullable: true
          type: string
        TeamID:
          nullable: false
          type: integer
        Updated:
          nullable: true
          type: string
    Game:
      properties:
        AwayAssistedTackles:
          nullable: true
          type: integer
        AwayBlockedKickReturnTouchdowns:
          nullable: true
          type: integer
        AwayBlockedKickReturnYards:
          nullable: true
          type: integer
        AwayBlockedKicks:
          nullable: true
          type: integer
        AwayCompletionPercentage:
          nullable: true
          type: number
        AwayExtraPointKickingAttempts:
          nullable: true
          type: integer
        AwayExtraPointKickingConversions:
          nullable: true
          type: integer
        AwayExtraPointPassingAttempts:
          nullable: true
          type: integer
        AwayExtraPointPassingConversions:
          nullable: true
          type: integer
        AwayExtraPointRushingAttempts:
          nullable: true
          type: integer
        AwayExtraPointRushingConversions:
          nullable: true
          type: integer
        AwayExtraPointsHadBlocked:
          nullable: true
          type: integer
        AwayFieldGoalAttempts:
          nullable: true
          type: integer
        AwayFieldGoalReturnTouchdowns:
          nullable: true
          type: integer
        AwayFieldGoalReturnYards:
          nullable: true
          type: integer
        AwayFieldGoalsHadBlocked:
          nullable: true
          type: integer
        AwayFieldGoalsMade:
          nullable: true
          type: integer
        AwayFirstDowns:
          nullable: true
          type: integer
        AwayFirstDownsByPassing:
          nullable: true
          type: integer
        AwayFirstDownsByPenalty:
          nullable: true
          type: integer
        AwayFirstDownsByRushing:
          nullable: true
          type: integer
        AwayFourthDownAttempts:
          nullable: true
          type: integer
        AwayFourthDownConversions:
          nullable: true
          type: integer
        AwayFourthDownPercentage:
          nullable: true
          type: number
        AwayFumbleReturnTouchdowns:
          nullable: true
          type: integer
        AwayFumbleReturnYards:
          nullable: true
          type: integer
        AwayFumbles:
          nullable: true
          type: integer
        AwayFumblesForced:
          nullable: true
          type: integer
        AwayFumblesLost:
          nullable: true
          type: integer
        AwayFumblesRecovered:
          nullable: true
          type: integer
        AwayGiveaways:
          nullable: true
          type: integer
        AwayGoalToGoAttempts:
          nullable: true
          type: integer
        AwayGoalToGoConversions:
          nullable: true
          type: integer
        AwayInterceptionReturnTouchdowns:
          nullable: true
          type: integer
        AwayInterceptionReturnYards:
          nullable: true
          type: integer
        AwayInterceptionReturns:
          nullable: true
          type: integer
        AwayKickReturnLong:
          nullable: true
          type: integer
        AwayKickReturnTouchdowns:
          nullable: true
          type: integer
        AwayKickReturnYards:
          nullable: true
          type: integer
        AwayKickReturns:
          nullable: true
          type: integer
        AwayKickoffTouchbacks:
          nullable: true
          type: integer
        AwayKickoffs:
          nullable: true
          type: integer
        AwayKickoffsInEndZone:
          nullable: true
          type: integer
        AwayOffensivePlays:
          nullable: true
          type: integer
        AwayOffensiveYards:
          nullable: true
          type: integer
        AwayOffensiveYardsPerPlay:
          nullable: true
          type: number
        AwayPasserRating:
          nullable: true
          type: number
        AwayPassesDefended:
          nullable: true
          type: integer
        AwayPassingAttempts:
          nullable: true
          type: integer
        AwayPassingCompletions:
          nullable: true
          type: integer
        AwayPassingInterceptions:
          nullable: true
          type: integer
        AwayPassingTouchdowns:
          nullable: true
          type: integer
        AwayPassingYards:
          nullable: true
          type: integer
        AwayPassingYardsPerAttempt:
          nullable: true
          type: number
        AwayPassingYardsPerCompletion:
          nullable: true
          type: number
        AwayPenalties:
          nullable: true
          type: integer
        AwayPenaltyYards:
          nullable: true
          type: integer
        AwayPuntAverage:
          nullable: true
          type: number
        AwayPuntNetAverage:
          nullable: true
          type: number
        AwayPuntNetYards:
          nullable: true
          type: integer
        AwayPuntReturnLong:
          nullable: true
          type: integer
        AwayPuntReturnTouchdowns:
          nullable: true
          type: integer
        AwayPuntReturnYards:
          nullable: true
          type: integer
        AwayPuntReturns:
          nullable: true
          type: integer
        AwayPuntYards:
          nullable: true
          type: integer
        AwayPunts:
          nullable: true
          type: integer
        AwayPuntsHadBlocked:
          nullable: true
          type: integer
        AwayQuarterbackHits:
          nullable: true
          type: integer
        AwayRedZoneAttempts:
          nullable: true
          type: integer
        AwayRedZoneConversions:
          nullable: true
          type: integer
        AwayReturnYards:
          nullable: true
          type: integer
        AwayRushingAttempts:
          nullable: true
          type: integer
        AwayRushingTouchdowns:
          nullable: true
          type: integer
        AwayRushingYards:
          nullable: true
          type: integer
        AwayRushingYardsPerAttempt:
          nullable: true
          type: number
        AwaySackYards:
          nullable: true
          type: integer
        AwaySacks:
          nullable: true
          type: integer
        AwaySafeties:
          nullable: true
          type: integer
        AwayScore:
          nullable: false
          type: integer
        AwayScoreOvertime:
          nullable: true
          type: integer
        AwayScoreQuarter1:
          nullable: true
          type: integer
        AwayScoreQuarter2:
          nullable: true
          type: integer
        AwayScoreQuarter3:
          nullable: true
          type: integer
        AwayScoreQuarter4:
          nullable: true
          type: integer
        AwaySoloTackles:
          nullable: true
          type: integer
        AwayTacklesForLoss:
          nullable: true
          type: integer
        AwayTakeaways:
          nullable: true
          type: integer
        AwayTeam:
          nullable: true
          type: string
        AwayThirdDownAttempts:
          nullable: true
          type: integer
        AwayThirdDownConversions:
          nullable: true
          type: integer
        AwayThirdDownPercentage:
          nullable: true
          type: number
        AwayTimeOfPossession:
          nullable: true
          type: string
        AwayTimesSacked:
          nullable: true
          type: integer
        AwayTimesSackedYards:
          nullable: true
          type: integer
        AwayTouchdowns:
          nullable: true
          type: integer
        AwayTurnoverDifferential:
          nullable: true
          type: integer
        AwayTwoPointConversionReturns:
          nullable: true
          type: integer
        Date:
          nullable: true
          type: string
        GameID:
          nullable: false
          type: integer
        GameKey:
          nullable: true
          type: string
        HomeAssistedTackles:
          nullable: true
          type: integer
        HomeBlockedKickReturnTouchdowns:
          nullable: true
          type: integer
        HomeBlockedKickReturnYards:
          nullable: true
          type: integer
        HomeBlockedKicks:
          nullable: true
          type: integer
        HomeCompletionPercentage:
          nullable: true
          type: number
        HomeExtraPointKickingAttempts:
          nullable: true
          type: integer
        HomeExtraPointKickingConversions:
          nullable: true
          type: integer
        HomeExtraPointPassingAttempts:
          nullable: true
          type: integer
        HomeExtraPointPassingConversions:
          nullable: true
          type: integer
        HomeExtraPointRushingAttempts:
          nullable: true
          type: integer
        HomeExtraPointRushingConversions:
          nullable: true
          type: integer
        HomeExtraPointsHadBlocked:
          nullable: true
          type: integer
        HomeFieldGoalAttempts:
          nullable: true
          type: integer
        HomeFieldGoalReturnTouchdowns:
          nullable: true
          type: integer
        HomeFieldGoalReturnYards:
          nullable: true
          type: integer
        HomeFieldGoalsHadBlocked:
          nullable: true
          type: integer
        HomeFieldGoalsMade:
          nullable: true
          type: integer
        HomeFirstDowns:
          nullable: true
          type: integer
        HomeFirstDownsByPassing:
          nullable: true
          type: integer
        HomeFirstDownsByPenalty:
          nullable: true
          type: integer
        HomeFirstDownsByRushing:
          nullable: true
          type: integer
        HomeFourthDownAttempts:
          nullable: true
          type: integer
        HomeFourthDownConversions:
          nullable: true
          type: integer
        HomeFourthDownPercentage:
          nullable: true
          type: number
        HomeFumbleReturnTouchdowns:
          nullable: true
          type: integer
        HomeFumbleReturnYards:
          nullable: true
          type: integer
        HomeFumbles:
          nullable: true
          type: integer
        HomeFumblesForced:
          nullable: true
          type: integer
        HomeFumblesLost:
          nullable: true
          type: integer
        HomeFumblesRecovered:
          nullable: true
          type: integer
        HomeGiveaways:
          nullable: true
          type: integer
        HomeGoalToGoAttempts:
          nullable: true
          type: integer
        HomeGoalToGoConversions:
          nullable: true
          type: integer
        HomeInterceptionReturnTouchdowns:
          nullable: true
          type: integer
        HomeInterceptionReturnYards:
          nullable: true
          type: integer
        HomeInterceptionReturns:
          nullable: true
          type: integer
        HomeKickReturnLong:
          nullable: true
          type: integer
        HomeKickReturnTouchdowns:
          nullable: true
          type: integer
        HomeKickReturnYards:
          nullable: true
          type: integer
        HomeKickReturns:
          nullable: true
          type: integer
        HomeKickoffTouchbacks:
          nullable: true
          type: integer
        HomeKickoffs:
          nullable: true
          type: integer
        HomeKickoffsInEndZone:
          nullable: true
          type: integer
        HomeOffensivePlays:
          nullable: true
          type: integer
        HomeOffensiveYards:
          nullable: true
          type: integer
        HomeOffensiveYardsPerPlay:
          nullable: true
          type: number
        HomePasserRating:
          nullable: true
          type: number
        HomePassesDefended:
          nullable: true
          type: integer
        HomePassingAttempts:
          nullable: true
          type: integer
        HomePassingCompletions:
          nullable: true
          type: integer
        HomePassingInterceptions:
          nullable: true
          type: integer
        HomePassingTouchdowns:
          nullable: true
          type: integer
        HomePassingYards:
          nullable: true
          type: integer
        HomePassingYardsPerAttempt:
          nullable: true
          type: number
        HomePassingYardsPerCompletion:
          nullable: true
          type: number
        HomePenalties:
          nullable: true
          type: integer
        HomePenaltyYards:
          nullable: true
          type: integer
        HomePuntAverage:
          nullable: true
          type: number
        HomePuntNetAverage:
          nullable: true
          type: number
        HomePuntNetYards:
          nullable: true
          type: integer
        HomePuntReturnLong:
          nullable: true
          type: integer
        HomePuntReturnTouchdowns:
          nullable: true
          type: integer
        HomePuntReturnYards:
          nullable: true
          type: integer
        HomePuntReturns:
          nullable: true
          type: integer
        HomePuntYards:
          nullable: true
          type: integer
        HomePunts:
          nullable: true
          type: integer
        HomePuntsHadBlocked:
          nullable: true
          type: integer
        HomeQuarterbackHits:
          nullable: true
          type: integer
        HomeRedZoneAttempts:
          nullable: true
          type: integer
        HomeRedZoneConversions:
          nullable: true
          type: integer
        HomeReturnYards:
          nullable: true
          type: integer
        HomeRushingAttempts:
          nullable: true
          type: integer
        HomeRushingTouchdowns:
          nullable: true
          type: integer
        HomeRushingYards:
          nullable: true
          type: integer
        HomeRushingYardsPerAttempt:
          nullable: true
          type: number
        HomeSackYards:
          nullable: true
          type: integer
        HomeSacks:
          nullable: true
          type: integer
        HomeSafeties:
          nullable: true
          type: integer
        HomeScore:
          nullable: false
          type: integer
        HomeScoreOvertime:
          nullable: true
          type: integer
        HomeScoreQuarter1:
          nullable: true
          type: integer
        HomeScoreQuarter2:
          nullable: true
          type: integer
        HomeScoreQuarter3:
          nullable: true
          type: integer
        HomeScoreQuarter4:
          nullable: true
          type: integer
        HomeSoloTackles:
          nullable: true
          type: integer
        HomeTacklesForLoss:
          nullable: true
          type: integer
        HomeTakeaways:
          nullable: true
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeThirdDownAttempts:
          nullable: true
          type: integer
        HomeThirdDownConversions:
          nullable: true
          type: integer
        HomeThirdDownPercentage:
          nullable: true
          type: number
        HomeTimeOfPossession:
          nullable: true
          type: string
        HomeTimesSacked:
          nullable: true
          type: integer
        HomeTimesSackedYards:
          nullable: true
          type: integer
        HomeTouchdowns:
          nullable: true
          type: integer
        HomeTurnoverDifferential:
          nullable: true
          type: integer
        HomeTwoPointConversionReturns:
          nullable: true
          type: integer
        Humidity:
          nullable: true
          type: integer
        IsGameOver:
          nullable: true
          type: boolean
        OverUnder:
          nullable: true
          type: number
        PlayingSurface:
          nullable: true
          type: string
        PointSpread:
          nullable: true
          type: number
        ScoreID:
          nullable: false
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        Stadium:
          nullable: true
          type: string
        StadiumDetails:
          $ref: "#/components/schemas/Stadium"
        StadiumID:
          nullable: true
          type: integer
        Temperature:
          nullable: true
          type: integer
        TotalScore:
          nullable: true
          type: integer
        Week:
          nullable: false
          type: integer
        WindSpeed:
          nullable: true
          type: integer
    News:
      properties:
        Author:
          nullable: true
          type: string
        Categories:
          nullable: true
          type: string
        Content:
          nullable: true
          type: string
        NewsID:
          nullable: false
          type: integer
        OriginalSource:
          nullable: true
          type: string
        OriginalSourceUrl:
          nullable: true
          type: string
        PlayerID:
          nullable: true
          type: integer
        PlayerID2:
          nullable: true
          type: integer
        Source:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        Team2:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        TeamID2:
          nullable: true
          type: integer
        TermsOfUse:
          nullable: true
          type: string
        TimeAgo:
          nullable: true
          type: string
        Title:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
        Url:
          nullable: true
          type: string
    Player:
      properties:
        Active:
          nullable: true
          type: boolean
        Age:
          nullable: true
          type: integer
        AverageDraftPosition:
          nullable: true
          type: number
        BirthDate:
          nullable: true
          type: string
        BirthDateString:
          nullable: true
          type: string
        ByeWeek:
          nullable: true
          type: integer
        College:
          nullable: true
          type: string
        CollegeDraftPick:
          nullable: true
          type: integer
        CollegeDraftRound:
          nullable: true
          type: integer
        CollegeDraftTeam:
          nullable: true
          type: string
        CollegeDraftYear:
          nullable: true
          type: integer
        CurrentStatus:
          nullable: true
          type: string
        CurrentTeam:
          nullable: true
          type: string
        DeclaredInactive:
          nullable: false
          type: boolean
        DepthDisplayOrder:
          nullable: true
          type: integer
        DepthOrder:
          nullable: true
          type: integer
        DepthPosition:
          nullable: true
          type: string
        DepthPositionCategory:
          nullable: true
          type: string
        DraftKingsName:
          nullable: true
          type: string
        DraftKingsPlayerID:
          nullable: true
          type: integer
        Experience:
          nullable: true
          type: integer
        ExperienceString:
          nullable: true
          type: string
        FanDuelName:
          nullable: true
          type: string
        FanDuelPlayerID:
          nullable: true
          type: integer
        FantasyAlarmPlayerID:
          nullable: true
          type: integer
        FantasyDraftName:
          nullable: true
          type: string
        FantasyDraftPlayerID:
          nullable: true
          type: integer
        FantasyPosition:
          nullable: true
          type: string
        FantasyPositionDepthOrder:
          nullable: true
          type: integer
        FirstName:
          nullable: true
          type: string
        GlobalTeamID:
          nullable: true
          type: integer
        Height:
          nullable: true
          type: string
        HeightFeet:
          nullable: true
          type: integer
        HeightInches:
          nullable: true
          type: integer
        InjuryBodyPart:
          nullable: true
          type: string
        InjuryNotes:
          nullable: true
          type: string
        InjuryPractice:
          nullable: true
          type: string
        InjuryPracticeDescription:
          nullable: true
          type: string
        InjuryStartDate:
          nullable: true
          type: string
        InjuryStatus:
          nullable: true
          type: string
        IsUndraftedFreeAgent:
          nullable: false
          type: boolean
        LastName:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        Number:
          nullable: true
          type: integer
        PhotoUrl:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        PositionCategory:
          nullable: true
          type: string
        RotoWirePlayerID:
          nullable: true
          type: integer
        RotoworldPlayerID:
          nullable: true
          type: integer
        ShortName:
          nullable: true
          type: string
        SportRadarPlayerID:
          nullable: true
          type: string
        SportsDirectPlayerID:
          nullable: true
          type: integer
        StatsPlayerID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        UpcomingDraftKingsSalary:
          nullable: true
          type: integer
        UpcomingFanDuelSalary:
          nullable: true
          type: integer
        UpcomingGameOpponent:
          nullable: true
          type: string
        UpcomingGameWeek:
          nullable: false
          type: integer
        UpcomingOpponentPositionRank:
          nullable: true
          type: integer
        UpcomingOpponentRank:
          nullable: true
          type: integer
        UpcomingSalary:
          nullable: true
          type: integer
        UpcomingYahooSalary:
          nullable: true
          type: integer
        UsaTodayHeadshotNoBackgroundUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotNoBackgroundUrl:
          nullable: true
          type: string
        UsaTodayHeadshotUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotUrl:
          nullable: true
          type: string
        UsaTodayPlayerID:
          nullable: true
          type: integer
        Weight:
          nullable: true
          type: integer
        XmlTeamPlayerID:
          nullable: true
          type: integer
        YahooName:
          nullable: true
          type: string
        YahooPlayerID:
          nullable: true
          type: integer
    PlayerDetail:
      properties:
        Active:
          nullable: true
          type: boolean
        Age:
          nullable: true
          type: integer
        AverageDraftPosition:
          nullable: true
          type: number
        BirthDate:
          nullable: true
          type: string
        BirthDateString:
          nullable: true
          type: string
        ByeWeek:
          nullable: true
          type: integer
        College:
          nullable: true
          type: string
        CollegeDraftPick:
          nullable: true
          type: integer
        CollegeDraftRound:
          nullable: true
          type: integer
        CollegeDraftTeam:
          nullable: true
          type: string
        CollegeDraftYear:
          nullable: true
          type: integer
        CurrentStatus:
          nullable: true
          type: string
        CurrentTeam:
          nullable: true
          type: string
        DeclaredInactive:
          nullable: false
          type: boolean
        DepthDisplayOrder:
          nullable: true
          type: integer
        DepthOrder:
          nullable: true
          type: integer
        DepthPosition:
          nullable: true
          type: string
        DepthPositionCategory:
          nullable: true
          type: string
        DraftKingsName:
          nullable: true
          type: string
        DraftKingsPlayerID:
          nullable: true
          type: integer
        Experience:
          nullable: true
          type: integer
        ExperienceString:
          nullable: true
          type: string
        FanDuelName:
          nullable: true
          type: string
        FanDuelPlayerID:
          nullable: true
          type: integer
        FantasyAlarmPlayerID:
          nullable: true
          type: integer
        FantasyDraftName:
          nullable: true
          type: string
        FantasyDraftPlayerID:
          nullable: true
          type: integer
        FantasyPosition:
          nullable: true
          type: string
        FantasyPositionDepthOrder:
          nullable: true
          type: integer
        FirstName:
          nullable: true
          type: string
        GlobalTeamID:
          nullable: true
          type: integer
        Height:
          nullable: true
          type: string
        HeightFeet:
          nullable: true
          type: integer
        HeightInches:
          nullable: true
          type: integer
        InjuryBodyPart:
          nullable: true
          type: string
        InjuryNotes:
          nullable: true
          type: string
        InjuryPractice:
          nullable: true
          type: string
        InjuryPracticeDescription:
          nullable: true
          type: string
        InjuryStartDate:
          nullable: true
          type: string
        InjuryStatus:
          nullable: true
          type: string
        IsUndraftedFreeAgent:
          nullable: false
          type: boolean
        LastName:
          nullable: true
          type: string
        LatestNews:
          items:
            $ref: "#/components/schemas/News"
          type: array
        Name:
          nullable: true
          type: string
        Number:
          nullable: true
          type: integer
        PhotoUrl:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        PlayerSeason:
          $ref: "#/components/schemas/PlayerSeason"
        Position:
          nullable: true
          type: string
        PositionCategory:
          nullable: true
          type: string
        RotoWirePlayerID:
          nullable: true
          type: integer
        RotoworldPlayerID:
          nullable: true
          type: integer
        ShortName:
          nullable: true
          type: string
        SportRadarPlayerID:
          nullable: true
          type: string
        SportsDirectPlayerID:
          nullable: true
          type: integer
        StatsPlayerID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        UpcomingDraftKingsSalary:
          nullable: true
          type: integer
        UpcomingFanDuelSalary:
          nullable: true
          type: integer
        UpcomingGameOpponent:
          nullable: true
          type: string
        UpcomingGameWeek:
          nullable: false
          type: integer
        UpcomingOpponentPositionRank:
          nullable: true
          type: integer
        UpcomingOpponentRank:
          nullable: true
          type: integer
        UpcomingSalary:
          nullable: true
          type: integer
        UpcomingYahooSalary:
          nullable: true
          type: integer
        UsaTodayHeadshotNoBackgroundUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotNoBackgroundUrl:
          nullable: true
          type: string
        UsaTodayHeadshotUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotUrl:
          nullable: true
          type: string
        UsaTodayPlayerID:
          nullable: true
          type: integer
        Weight:
          nullable: true
          type: integer
        XmlTeamPlayerID:
          nullable: true
          type: integer
        YahooName:
          nullable: true
          type: string
        YahooPlayerID:
          nullable: true
          type: integer
    PlayerSeason:
      properties:
        Activated:
          nullable: false
          type: integer
        AssistedTackles:
          nullable: false
          type: number
        AuctionValue:
          nullable: true
          type: number
        AuctionValuePPR:
          nullable: true
          type: number
        AverageDraftPosition:
          nullable: true
          type: number
        AverageDraftPosition2QB:
          nullable: true
          type: number
        AverageDraftPositionDynasty:
          nullable: true
          type: number
        AverageDraftPositionPPR:
          nullable: true
          type: number
        AverageDraftPositionRookie:
          nullable: true
          type: number
        BlockedKickReturnTouchdowns:
          nullable: true
          type: number
        BlockedKickReturnYards:
          nullable: true
          type: number
        BlockedKicks:
          nullable: false
          type: number
        DefensiveSnapsPlayed:
          nullable: true
          type: integer
        DefensiveTeamSnaps:
          nullable: true
          type: integer
        DefensiveTouchdowns:
          nullable: false
          type: number
        ExtraPointsAttempted:
          nullable: true
          type: number
        ExtraPointsHadBlocked:
          nullable: true
          type: number
        ExtraPointsMade:
          nullable: false
          type: number
        FantasyPoints:
          nullable: false
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsPPR:
          nullable: false
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        FantasyPosition:
          nullable: true
          type: string
        FieldGoalPercentage:
          nullable: false
          type: number
        FieldGoalReturnTouchdowns:
          nullable: true
          type: number
        FieldGoalReturnYards:
          nullable: true
          type: number
        FieldGoalsAttempted:
          nullable: false
          type: number
        FieldGoalsHadBlocked:
          nullable: true
          type: number
        FieldGoalsLongestMade:
          nullable: false
          type: number
        FieldGoalsMade:
          nullable: false
          type: number
        FieldGoalsMade0to19:
          nullable: true
          type: number
        FieldGoalsMade20to29:
          nullable: true
          type: number
        FieldGoalsMade30to39:
          nullable: true
          type: number
        FieldGoalsMade40to49:
          nullable: true
          type: number
        FieldGoalsMade50Plus:
          nullable: true
          type: number
        FumbleReturnTouchdowns:
          nullable: false
          type: number
        FumbleReturnYards:
          nullable: false
          type: number
        Fumbles:
          nullable: false
          type: number
        FumblesForced:
          nullable: false
          type: number
        FumblesLost:
          nullable: true
          type: number
        FumblesOutOfBounds:
          nullable: true
          type: number
        FumblesOwnRecoveries:
          nullable: true
          type: number
        FumblesRecovered:
          nullable: false
          type: number
        GlobalTeamID:
          nullable: true
          type: integer
        Humidity:
          nullable: true
          type: integer
        InterceptionReturnTouchdowns:
          nullable: false
          type: number
        InterceptionReturnYards:
          nullable: false
          type: number
        Interceptions:
          nullable: false
          type: number
        KickReturnFairCatches:
          nullable: true
          type: number
        KickReturnLong:
          nullable: false
          type: number
        KickReturnTouchdowns:
          nullable: false
          type: number
        KickReturnYards:
          nullable: false
          type: number
        KickReturnYardsPerAttempt:
          nullable: false
          type: number
        KickReturns:
          nullable: false
          type: number
        MiscAssistedTackles:
          nullable: false
          type: number
        MiscFumblesForced:
          nullable: true
          type: number
        MiscFumblesRecovered:
          nullable: true
          type: number
        MiscSoloTackles:
          nullable: false
          type: number
        Name:
          nullable: true
          type: string
        Number:
          nullable: false
          type: integer
        OffensiveFumbleRecoveryTouchdowns:
          nullable: true
          type: integer
        OffensiveSnapsPlayed:
          nullable: true
          type: integer
        OffensiveTeamSnaps:
          nullable: true
          type: integer
        OffensiveTouchdowns:
          nullable: false
          type: number
        PassesDefended:
          nullable: false
          type: number
        PassingAttempts:
          nullable: false
          type: number
        PassingCompletionPercentage:
          nullable: false
          type: number
        PassingCompletions:
          nullable: false
          type: number
        PassingInterceptions:
          nullable: false
          type: number
        PassingLong:
          nullable: false
          type: number
        PassingRating:
          nullable: false
          type: number
        PassingSackYards:
          nullable: false
          type: number
        PassingSacks:
          nullable: false
          type: number
        PassingTouchdowns:
          nullable: false
          type: number
        PassingYards:
          nullable: false
          type: number
        PassingYardsPerAttempt:
          nullable: false
          type: number
        PassingYardsPerCompletion:
          nullable: false
          type: number
        Played:
          nullable: false
          type: integer
        PlayerID:
          nullable: true
          type: integer
        PlayerSeasonID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        PositionCategory:
          nullable: true
          type: string
        PuntAverage:
          nullable: false
          type: number
        PuntInside20:
          nullable: true
          type: number
        PuntLong:
          nullable: true
          type: number
        PuntNetAverage:
          nullable: true
          type: number
        PuntNetYards:
          nullable: true
          type: number
        PuntReturnFairCatches:
          nullable: true
          type: number
        PuntReturnLong:
          nullable: false
          type: number
        PuntReturnTouchdowns:
          nullable: false
          type: number
        PuntReturnYards:
          nullable: false
          type: number
        PuntReturnYardsPerAttempt:
          nullable: false
          type: number
        PuntReturns:
          nullable: false
          type: number
        PuntTouchbacks:
          nullable: true
          type: number
        PuntYards:
          nullable: false
          type: number
        Punts:
          nullable: false
          type: number
        PuntsHadBlocked:
          nullable: true
          type: number
        QuarterbackHits:
          nullable: true
          type: number
        ReceivingLong:
          nullable: false
          type: number
        ReceivingTargets:
          nullable: true
          type: number
        ReceivingTouchdowns:
          nullable: false
          type: number
        ReceivingYards:
          nullable: false
          type: number
        ReceivingYardsPerReception:
          nullable: false
          type: number
        ReceivingYardsPerTarget:
          nullable: false
          type: number
        ReceptionPercentage:
          nullable: false
          type: number
        Receptions:
          nullable: false
          type: number
        RushingAttempts:
          nullable: false
          type: number
        RushingLong:
          nullable: false
          type: number
        RushingTouchdowns:
          nullable: false
          type: number
        RushingYards:
          nullable: false
          type: number
        RushingYardsPerAttempt:
          nullable: false
          type: number
        SackYards:
          nullable: false
          type: number
        Sacks:
          nullable: false
          type: number
        Safeties:
          nullable: true
          type: number
        SafetiesAllowed:
          nullable: true
          type: number
        ScoringDetails:
          items:
            $ref: "#/components/schemas/ScoringDetail"
          type: array
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        ShortName:
          nullable: true
          type: string
        SoloTackles:
          nullable: false
          type: number
        SpecialTeamsAssistedTackles:
          nullable: false
          type: number
        SpecialTeamsFumblesForced:
          nullable: true
          type: number
        SpecialTeamsFumblesRecovered:
          nullable: true
          type: number
        SpecialTeamsSnapsPlayed:
          nullable: true
          type: integer
        SpecialTeamsSoloTackles:
          nullable: false
          type: number
        SpecialTeamsTeamSnaps:
          nullable: true
          type: integer
        SpecialTeamsTouchdowns:
          nullable: false
          type: number
        Started:
          nullable: false
          type: integer
        Tackles:
          nullable: false
          type: number
        TacklesForLoss:
          nullable: true
          type: number
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        Temperature:
          nullable: true
          type: integer
        Touchdowns:
          nullable: false
          type: number
        TwoPointConversionPasses:
          nullable: false
          type: number
        TwoPointConversionReceptions:
          nullable: false
          type: number
        TwoPointConversionReturns:
          nullable: true
          type: number
        TwoPointConversionRuns:
          nullable: false
          type: number
        WindSpeed:
          nullable: true
          type: integer
    Referee:
      properties:
        College:
          nullable: true
          type: string
        Experience:
          nullable: false
          type: integer
        Name:
          nullable: true
          type: string
        Number:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        RefereeID:
          nullable: false
          type: integer
    Schedule:
      properties:
        AwayTeam:
          nullable: true
          type: string
        AwayTeamMoneyLine:
          nullable: true
          type: integer
        Canceled:
          nullable: true
          type: boolean
        Channel:
          nullable: true
          type: string
        Date:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        ForecastDescription:
          nullable: true
          type: string
        ForecastTempHigh:
          nullable: true
          type: integer
        ForecastTempLow:
          nullable: true
          type: integer
        ForecastWindChill:
          nullable: true
          type: integer
        ForecastWindSpeed:
          nullable: true
          type: integer
        GameKey:
          nullable: true
          type: string
        GeoLat:
          nullable: true
          type: number
        GeoLong:
          nullable: true
          type: number
        GlobalAwayTeamID:
          nullable: true
          type: integer
        GlobalGameID:
          nullable: true
          type: integer
        GlobalHomeTeamID:
          nullable: true
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeTeamMoneyLine:
          nullable: true
          type: integer
        OverUnder:
          nullable: true
          type: number
        PointSpread:
          nullable: true
          type: number
        ScoreID:
          nullable: false
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        StadiumDetails:
          $ref: "#/components/schemas/Stadium"
        StadiumID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        Week:
          nullable: false
          type: integer
    Score:
      properties:
        Attendance:
          nullable: false
          type: integer
        AwayRotationNumber:
          nullable: true
          type: integer
        AwayScore:
          nullable: true
          type: integer
        AwayScoreOvertime:
          nullable: true
          type: integer
        AwayScoreQuarter1:
          nullable: true
          type: integer
        AwayScoreQuarter2:
          nullable: true
          type: integer
        AwayScoreQuarter3:
          nullable: true
          type: integer
        AwayScoreQuarter4:
          nullable: true
          type: integer
        AwayTeam:
          nullable: true
          type: string
        AwayTeamID:
          nullable: true
          type: integer
        AwayTeamMoneyLine:
          nullable: true
          type: integer
        AwayTimeouts:
          nullable: true
          type: integer
        Canceled:
          nullable: true
          type: boolean
        Channel:
          nullable: true
          type: string
        Closed:
          nullable: true
          type: boolean
        Date:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        DateTimeUTC:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        Distance:
          nullable: true
          type: string
        Down:
          nullable: true
          type: integer
        DownAndDistance:
          nullable: true
          type: string
        ForecastDescription:
          nullable: true
          type: string
        ForecastTempHigh:
          nullable: true
          type: integer
        ForecastTempLow:
          nullable: true
          type: integer
        ForecastWindChill:
          nullable: true
          type: integer
        ForecastWindSpeed:
          nullable: true
          type: integer
        GameEndDateTime:
          nullable: true
          type: string
        GameKey:
          nullable: true
          type: string
        GeoLat:
          nullable: true
          type: number
        GeoLong:
          nullable: true
          type: number
        GlobalAwayTeamID:
          nullable: true
          type: integer
        GlobalGameID:
          nullable: true
          type: integer
        GlobalHomeTeamID:
          nullable: true
          type: integer
        Has1stQuarterStarted:
          nullable: false
          type: boolean
        Has2ndQuarterStarted:
          nullable: false
          type: boolean
        Has3rdQuarterStarted:
          nullable: false
          type: boolean
        Has4thQuarterStarted:
          nullable: false
          type: boolean
        HasStarted:
          nullable: false
          type: boolean
        HomeRotationNumber:
          nullable: true
          type: integer
        HomeScore:
          nullable: true
          type: integer
        HomeScoreOvertime:
          nullable: true
          type: integer
        HomeScoreQuarter1:
          nullable: true
          type: integer
        HomeScoreQuarter2:
          nullable: true
          type: integer
        HomeScoreQuarter3:
          nullable: true
          type: integer
        HomeScoreQuarter4:
          nullable: true
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeTeamID:
          nullable: true
          type: integer
        HomeTeamMoneyLine:
          nullable: true
          type: integer
        HomeTimeouts:
          nullable: true
          type: integer
        IsInProgress:
          nullable: false
          type: boolean
        IsOver:
          nullable: false
          type: boolean
        IsOvertime:
          nullable: false
          type: boolean
        LastPlay:
          nullable: true
          type: string
        LastUpdated:
          nullable: true
          type: string
        NeutralVenue:
          nullable: true
          type: boolean
        OverPayout:
          nullable: true
          type: integer
        OverUnder:
          nullable: true
          type: number
        PointSpread:
          nullable: true
          type: number
        PointSpreadAwayTeamMoneyLine:
          nullable: true
          type: integer
        PointSpreadHomeTeamMoneyLine:
          nullable: true
          type: integer
        Possession:
          nullable: true
          type: string
        Quarter:
          nullable: true
          type: string
        QuarterDescription:
          nullable: true
          type: string
        RedZone:
          nullable: true
          type: string
        RefereeID:
          nullable: true
          type: integer
        ScoreID:
          nullable: false
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        StadiumDetails:
          $ref: "#/components/schemas/Stadium"
        StadiumID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        TimeRemaining:
          nullable: true
          type: string
        UnderPayout:
          nullable: true
          type: integer
        Week:
          nullable: false
          type: integer
        YardLine:
          nullable: true
          type: integer
        YardLineTerritory:
          nullable: true
          type: string
    ScoringDetail:
      properties:
        GameKey:
          nullable: true
          type: string
        Length:
          nullable: false
          type: integer
        PlayerGameID:
          nullable: false
          type: integer
        PlayerID:
          nullable: true
          type: integer
        ScoreID:
          nullable: true
          type: integer
        ScoringDetailID:
          nullable: false
          type: integer
        ScoringPlayID:
          nullable: true
          type: integer
        ScoringType:
          nullable: true
          type: string
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        Team:
          nullable: true
          type: string
        Week:
          nullable: false
          type: integer
    Stadium:
      properties:
        Capacity:
          nullable: true
          type: integer
        City:
          nullable: true
          type: string
        Country:
          nullable: true
          type: string
        GeoLat:
          nullable: true
          type: number
        GeoLong:
          nullable: true
          type: number
        Name:
          nullable: true
          type: string
        PlayingSurface:
          nullable: true
          type: string
        StadiumID:
          nullable: false
          type: integer
        State:
          nullable: true
          type: string
        Type:
          nullable: true
          type: string
    Standing:
      properties:
        Conference:
          nullable: true
          type: string
        ConferenceLosses:
          nullable: false
          type: integer
        ConferenceRank:
          nullable: false
          type: integer
        ConferenceTies:
          nullable: false
          type: integer
        ConferenceWins:
          nullable: false
          type: integer
        Division:
          nullable: true
          type: string
        DivisionLosses:
          nullable: false
          type: integer
        DivisionRank:
          nullable: false
          type: integer
        DivisionTies:
          nullable: false
          type: integer
        DivisionWins:
          nullable: false
          type: integer
        GlobalTeamID:
          nullable: true
          type: integer
        Losses:
          nullable: false
          type: integer
        Name:
          nullable: true
          type: string
        NetPoints:
          nullable: false
          type: integer
        Percentage:
          nullable: false
          type: number
        PointsAgainst:
          nullable: false
          type: integer
        PointsFor:
          nullable: false
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: false
          type: integer
        Ties:
          nullable: false
          type: integer
        Touchdowns:
          nullable: true
          type: integer
        Wins:
          nullable: false
          type: integer
    Team:
      properties:
        AverageDraftPosition:
          nullable: true
          type: number
        AverageDraftPosition2QB:
          nullable: true
          type: number
        AverageDraftPositionDynasty:
          nullable: true
          type: number
        AverageDraftPositionPPR:
          nullable: true
          type: number
        ByeWeek:
          nullable: true
          type: integer
        City:
          nullable: true
          type: string
        Conference:
          nullable: true
          type: string
        DefensiveCoordinator:
          nullable: true
          type: string
        DefensiveScheme:
          nullable: true
          type: string
        Division:
          nullable: true
          type: string
        DraftKingsName:
          nullable: true
          type: string
        DraftKingsPlayerID:
          nullable: true
          type: integer
        FanDuelName:
          nullable: true
          type: string
        FanDuelPlayerID:
          nullable: true
          type: integer
        FantasyDraftName:
          nullable: true
          type: string
        FantasyDraftPlayerID:
          nullable: true
          type: integer
        FullName:
          nullable: true
          type: string
        GlobalTeamID:
          nullable: true
          type: integer
        HeadCoach:
          nullable: true
          type: string
        Key:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        OffensiveCoordinator:
          nullable: true
          type: string
        OffensiveScheme:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        PrimaryColor:
          nullable: true
          type: string
        QuaternaryColor:
          nullable: true
          type: string
        SecondaryColor:
          nullable: true
          type: string
        SpecialTeamsCoach:
          nullable: true
          type: string
        StadiumDetails:
          $ref: "#/components/schemas/Stadium"
        StadiumID:
          nullable: true
          type: integer
        TeamID:
          nullable: false
          type: integer
        TertiaryColor:
          nullable: true
          type: string
        UpcomingDraftKingsSalary:
          nullable: true
          type: integer
        UpcomingFanDuelSalary:
          nullable: true
          type: integer
        UpcomingOpponent:
          nullable: true
          type: string
        UpcomingOpponentPositionRank:
          nullable: true
          type: integer
        UpcomingOpponentRank:
          nullable: true
          type: integer
        UpcomingSalary:
          nullable: true
          type: integer
        UpcomingYahooSalary:
          nullable: true
          type: integer
        WikipediaLogoUrl:
          nullable: true
          type: string
        WikipediaWordMarkUrl:
          nullable: true
          type: string
        YahooName:
          nullable: true
          type: string
        YahooPlayerID:
          nullable: true
          type: integer
    TeamDepthChart:
      properties:
        Defense:
          items:
            $ref: "#/components/schemas/DepthChart"
          type: array
        Offense:
          items:
            $ref: "#/components/schemas/DepthChart"
          type: array
        SpecialTeams:
          items:
            $ref: "#/components/schemas/DepthChart"
          type: array
        TeamID:
          nullable: false
          type: integer
    TeamGame:
      properties:
        AssistedTackles:
          nullable: true
          type: integer
        BlockedKickReturnTouchdowns:
          nullable: true
          type: integer
        BlockedKickReturnYards:
          nullable: true
          type: integer
        BlockedKicks:
          nullable: true
          type: integer
        CompletionPercentage:
          nullable: false
          type: number
        Date:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        DayOfWeek:
          nullable: true
          type: string
        ExtraPointKickingAttempts:
          nullable: true
          type: integer
        ExtraPointKickingConversions:
          nullable: true
          type: integer
        ExtraPointPassingAttempts:
          nullable: true
          type: integer
        ExtraPointPassingConversions:
          nullable: true
          type: integer
        ExtraPointPercentage:
          nullable: true
          type: number
        ExtraPointRushingAttempts:
          nullable: true
          type: integer
        ExtraPointRushingConversions:
          nullable: true
          type: integer
        ExtraPointsHadBlocked:
          nullable: true
          type: integer
        FieldGoalAttempts:
          nullable: true
          type: integer
        FieldGoalPercentage:
          nullable: true
          type: number
        FieldGoalReturnTouchdowns:
          nullable: true
          type: integer
        FieldGoalReturnYards:
          nullable: true
          type: integer
        FieldGoalsHadBlocked:
          nullable: true
          type: integer
        FieldGoalsMade:
          nullable: true
          type: integer
        FirstDowns:
          nullable: true
          type: integer
        FirstDownsByPassing:
          nullable: true
          type: integer
        FirstDownsByPenalty:
          nullable: true
          type: integer
        FirstDownsByRushing:
          nullable: true
          type: integer
        FourthDownAttempts:
          nullable: true
          type: integer
        FourthDownConversions:
          nullable: true
          type: integer
        FourthDownPercentage:
          nullable: true
          type: number
        FumbleReturnTouchdowns:
          nullable: true
          type: integer
        FumbleReturnYards:
          nullable: true
          type: integer
        Fumbles:
          nullable: true
          type: integer
        FumblesForced:
          nullable: true
          type: integer
        FumblesLost:
          nullable: true
          type: integer
        FumblesRecovered:
          nullable: true
          type: integer
        GameKey:
          nullable: true
          type: string
        Giveaways:
          nullable: false
          type: integer
        GlobalGameID:
          nullable: true
          type: integer
        GlobalOpponentID:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: true
          type: integer
        GoalToGoAttempts:
          nullable: true
          type: integer
        GoalToGoConversions:
          nullable: true
          type: integer
        GoalToGoPercentage:
          nullable: true
          type: number
        HomeOrAway:
          nullable: true
          type: string
        Humidity:
          nullable: true
          type: integer
        InterceptionReturnTouchdowns:
          nullable: true
          type: integer
        InterceptionReturnYards:
          nullable: true
          type: integer
        InterceptionReturns:
          nullable: true
          type: integer
        IsGameOver:
          nullable: true
          type: boolean
        KickReturnAverage:
          nullable: true
          type: number
        KickReturnLong:
          nullable: true
          type: integer
        KickReturnTouchdowns:
          nullable: true
          type: integer
        KickReturnYardDifferential:
          nullable: true
          type: integer
        KickReturnYards:
          nullable: true
          type: integer
        KickReturns:
          nullable: true
          type: integer
        KickoffTouchbacks:
          nullable: true
          type: integer
        Kickoffs:
          nullable: true
          type: integer
        KickoffsInEndZone:
          nullable: true
          type: integer
        OffensivePlays:
          nullable: false
          type: integer
        OffensiveYards:
          nullable: false
          type: integer
        OffensiveYardsPerPlay:
          nullable: false
          type: number
        Opponent:
          nullable: true
          type: string
        OpponentAssistedTackles:
          nullable: true
          type: integer
        OpponentBlockedKickReturnTouchdowns:
          nullable: true
          type: integer
        OpponentBlockedKickReturnYards:
          nullable: true
          type: integer
        OpponentBlockedKicks:
          nullable: true
          type: integer
        OpponentCompletionPercentage:
          nullable: false
          type: number
        OpponentExtraPointKickingAttempts:
          nullable: true
          type: integer
        OpponentExtraPointKickingConversions:
          nullable: true
          type: integer
        OpponentExtraPointPassingAttempts:
          nullable: true
          type: integer
        OpponentExtraPointPassingConversions:
          nullable: true
          type: integer
        OpponentExtraPointPercentage:
          nullable: true
          type: number
        OpponentExtraPointRushingAttempts:
          nullable: true
          type: integer
        OpponentExtraPointRushingConversions:
          nullable: true
          type: integer
        OpponentExtraPointsHadBlocked:
          nullable: true
          type: integer
        OpponentFieldGoalAttempts:
          nullable: true
          type: integer
        OpponentFieldGoalPercentage:
          nullable: true
          type: number
        OpponentFieldGoalReturnTouchdowns:
          nullable: true
          type: integer
        OpponentFieldGoalReturnYards:
          nullable: true
          type: integer
        OpponentFieldGoalsHadBlocked:
          nullable: true
          type: integer
        OpponentFieldGoalsMade:
          nullable: true
          type: integer
        OpponentFirstDowns:
          nullable: true
          type: integer
        OpponentFirstDownsByPassing:
          nullable: true
          type: integer
        OpponentFirstDownsByPenalty:
          nullable: true
          type: integer
        OpponentFirstDownsByRushing:
          nullable: true
          type: integer
        OpponentFourthDownAttempts:
          nullable: true
          type: integer
        OpponentFourthDownConversions:
          nullable: true
          type: integer
        OpponentFourthDownPercentage:
          nullable: true
          type: number
        OpponentFumbleReturnTouchdowns:
          nullable: true
          type: integer
        OpponentFumbleReturnYards:
          nullable: true
          type: integer
        OpponentFumbles:
          nullable: true
          type: integer
        OpponentFumblesForced:
          nullable: true
          type: integer
        OpponentFumblesLost:
          nullable: true
          type: integer
        OpponentFumblesRecovered:
          nullable: true
          type: integer
        OpponentGiveaways:
          nullable: false
          type: integer
        OpponentGoalToGoAttempts:
          nullable: true
          type: integer
        OpponentGoalToGoConversions:
          nullable: true
          type: integer
        OpponentGoalToGoPercentage:
          nullable: true
          type: number
        OpponentID:
          nullable: true
          type: integer
        OpponentInterceptionReturnTouchdowns:
          nullable: true
          type: integer
        OpponentInterceptionReturnYards:
          nullable: true
          type: integer
        OpponentInterceptionReturns:
          nullable: true
          type: integer
        OpponentKickReturnAverage:
          nullable: true
          type: number
        OpponentKickReturnLong:
          nullable: true
          type: integer
        OpponentKickReturnTouchdowns:
          nullable: true
          type: integer
        OpponentKickReturnYards:
          nullable: true
          type: integer
        OpponentKickReturns:
          nullable: true
          type: integer
        OpponentKickoffTouchbacks:
          nullable: true
          type: integer
        OpponentKickoffs:
          nullable: true
          type: integer
        OpponentKickoffsInEndZone:
          nullable: true
          type: integer
        OpponentOffensivePlays:
          nullable: false
          type: integer
        OpponentOffensiveYards:
          nullable: false
          type: integer
        OpponentOffensiveYardsPerPlay:
          nullable: false
          type: number
        OpponentPasserRating:
          nullable: true
          type: number
        OpponentPassesDefended:
          nullable: true
          type: integer
        OpponentPassingAttempts:
          nullable: true
          type: integer
        OpponentPassingCompletions:
          nullable: true
          type: integer
        OpponentPassingDropbacks:
          nullable: true
          type: integer
        OpponentPassingInterceptionPercentage:
          nullable: true
          type: number
        OpponentPassingInterceptions:
          nullable: true
          type: integer
        OpponentPassingTouchdowns:
          nullable: true
          type: integer
        OpponentPassingYards:
          nullable: true
          type: integer
        OpponentPassingYardsPerAttempt:
          nullable: false
          type: number
        OpponentPassingYardsPerCompletion:
          nullable: false
          type: number
        OpponentPenalties:
          nullable: true
          type: integer
        OpponentPenaltyYards:
          nullable: true
          type: integer
        OpponentPuntAverage:
          nullable: false
          type: number
[...]
