swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: DomainRegistrationProvider API Client
  version: '2015-04-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/web/resource-manager/Microsoft.DomainRegistration/stable/2015-04-01/DomainRegistrationProvider.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: web-DomainRegistrationProvider
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: API Version
    in: query
    name: api-version
    required: true
    type: string
  subscriptionIdParameter:
    description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.DomainRegistration/operations:
    get:
      description: Implements Csm operations Api to exposes the list of available Csm Apis under the resource provider
      operationId: DomainRegistrationProvider_ListOperations
      parameters:
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            description: Collection of Azure resource manager operation metadata.
            properties:
              nextLink:
                description: Link to next page of resources.
                type: string
              value:
                description: Collection of resources.
                items:
                  $ref: '#/definitions/CsmOperationDescription'
                type: array
            required:
              - value
            type: object
      summary: Implements Csm operations Api to exposes the list of available Csm Apis under the resource provider
      tags:
        - DomainRegistrationProvider
      x-ms-examples:
        List operations:
          parameters:
            api-version: '2015-04-01'
          responses:
            '200':
              body:
                value:
                  - display:
                      description: Get the list of domains
                      operation: Get Domains
                      provider: Microsoft Domains
                      resource: Domain
                    name: Microsoft.DomainRegistration/domains/Read
                    origin: 'user,system'
                  - display:
                      description: Add a new Domain or update an existing one
                      operation: Add or Update Domain
                      provider: Microsoft Domains
                      resource: Domain
                    name: Microsoft.DomainRegistration/domains/Write
                    origin: 'user,system'
                  - display:
                      description: Delete an existing domain.
                      operation: Delete Domain
                      provider: Microsoft Domains
                      resource: Domain
                    name: Microsoft.DomainRegistration/domains/Delete
                    origin: 'user,system'
                  - display:
                      description: Get a domain operation
                      operation: Get Domain Operation
                      provider: Microsoft Domains
                      resource: Domain operation
                    name: Microsoft.DomainRegistration/domains/operationresults/Read
                    origin: 'user,system'
                  - display:
                      description: Generate a request for signing into domain control center.
                      operation: Generate Domain Control Center Single Sign On Request
                      provider: Microsoft Domains
                      resource: Domain Control Center Single Sign On Request
                    name: Microsoft.DomainRegistration/generateSsoRequest/Action
                    origin: 'user,system'
                  - display:
                      description: Validate domain purchase object without submitting it
                      operation: Domain Purchase Info Validation
                      provider: Microsoft Domains
                      resource: Domain Validation
                    name: Microsoft.DomainRegistration/validateDomainRegistrationInformation/Action
                    origin: 'user,system'
                  - display:
                      description: Check if a domain is available for purchase
                      operation: Check Domain Availablity
                      provider: Microsoft Domains
                      resource: Domain Availablity Result
                    name: Microsoft.DomainRegistration/checkDomainAvailability/Action
                    origin: 'user,system'
                  - display:
                      description: Retrieve the list domain recommendations based on keywords
                      operation: Retrieve Domain Recommendations
                      provider: Microsoft Domains
                      resource: Domain Recommendations
                    name: Microsoft.DomainRegistration/listDomainRecommendations/Action
                    origin: 'user,system'
                  - display:
                      description: Register the Microsoft Domains resource provider for the subscription
                      operation: Register Microsoft Domains resource provider
                      provider: Microsoft Domains
                      resource: Microsoft Domains resource provider
                    name: Microsoft.DomainRegistration/register/action
                    origin: 'user,system'
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
definitions: {}
