openapi: 3.0.0
servers:
  - url: 'https://api.nexmo.com/v1'
info:
  contact:
    email: devrel@nexmo.com
    name: Nexmo DevRel
    url: 'https://developer.nexmo.com/'
  description: 'The Voice API lets you create outbound calls, control in-progress calls and get information about historical calls. More information about the Voice API can be found at <https://developer.nexmo.com/voice/voice-api/overview>.'
  title: Voice
  version: 1.2.0
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: openapi
      url: 'https://raw.githubusercontent.com/nexmo/api-specification/master/definitions/voice.yml'
      version: '3.0'
  x-providerName: nexmo.com
  x-serviceName: voice
paths:
  /calls:
    get:
      description: Get details of your calls
      operationId: getCalls
      parameters:
        - description: Filter by call status
          in: query
          name: status
          schema:
            enum:
              - started
              - ringing
              - answered
              - machine
              - completed
              - busy
              - cancelled
              - failed
              - rejected
              - timeout
              - unanswered
            example: started
            type: string
        - description: Return the records that occurred after this point in time
          in: query
          name: date_start
          schema:
            example: '2016-11-14T07:45:14.000Z'
            format: date-time
            type: string
        - description: Return the records that occurred before this point in time
          in: query
          name: date_end
          schema:
            example: '2016-11-14T07:45:14.000Z'
            format: date-time
            type: string
        - description: Return this amount of records in the response
          in: query
          name: page_size
          schema:
            default: 10
            maximum: 100
            minimum: 1
            type: integer
        - description: Return calls from this index in the response
          in: query
          name: record_index
          schema:
            default: 0
            type: integer
        - description: Either ascending or  descending order.
          in: query
          name: order
          schema:
            default: asc
            enum:
              - asc
              - desc
            type: string
        - description: Return all the records associated with a specific conversation.
          in: query
          name: conversation_uuid
          schema:
            $ref: '#/components/schemas/conversation_uuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  _embedded:
                    description: 'A list of call objects. See the [get details of a specific call](#getCall) response fields for a description of the nested objects'
                    properties:
                      calls:
                        items:
                          properties:
                            _links:
                              properties:
                                self:
                                  properties:
                                    href:
                                      example: /calls/63f61863-4a51-4f6b-86e1-46edebcf9356
                                      title: The Link to the Call Object
                                      type: string
                                  type: object
                              type: object
                            conversation_uuid:
                              $ref: '#/components/schemas/conversation_uuid'
                            direction:
                              $ref: '#/components/schemas/direction'
                            duration:
                              $ref: '#/components/schemas/duration'
                            end_time:
                              $ref: '#/components/schemas/end_time'
                            from:
                              $ref: '#/components/schemas/from'
                            network:
                              $ref: '#/components/schemas/network'
                            price:
                              $ref: '#/components/schemas/price'
                            rate:
                              $ref: '#/components/schemas/rate'
                            start_time:
                              $ref: '#/components/schemas/start_time'
                            status:
                              $ref: '#/components/schemas/status'
                            to:
                              $ref: '#/components/schemas/to'
                            uuid:
                              $ref: '#/components/schemas/uuid'
                          type: object
                        type: array
                    type: object
                  _links:
                    properties:
                      self:
                        properties:
                          href:
                            example: /calls?page_size=10&record_index=20&order=asc
                            title: Link to the object
                            type: string
                        type: object
                    type: object
                  count:
                    example: 100
                    title: The total number of records returned by your request.
                    type: integer
                  page_size:
                    example: 10
                    title: The amount of records returned in this response.
                    type: integer
                  record_index:
                    example: 0
                    title: The `record_index` used in your request.
                    type: integer
                type: object
          description: Ok
      security:
        - bearerAuth: []
      summary: Get details of your calls
    post:
      description: Create an outbound Call
      operationId: createCall
      requestBody:
        content:
          application/json:
            schema:
              properties:
                answer_method:
                  default: GET
                  description: The HTTP method used to send event information to answer_url.
                  enum:
                    - POST
                    - GET
                  type: string
                answer_url:
                  description: |
                    **Required** unless `ncco` is provided.

                    The webhook endpoint where you provide the [Nexmo Call Control Object](/voice/voice-api/ncco-reference) that governs this call.
                  example: '["https://example.com/answer"]'
                  items:
                    type: string
                  type: array
                  x-nexmo-developer-collection-description-shown: true
                event_method:
                  default: POST
                  description: The HTTP method used to send event information to event_url.
                  enum:
                    - POST
                    - GET
                  type: string
                event_url:
                  description: 'The webhook endpoint where call progress events are sent to. For more information about the values sent, see callback'
                  example: '["https://example.com/event"]'
                  items:
                    format: uri
                    type: string
                  type: array
                  x-nexmo-developer-collection-description-shown: true
                from:
                  $ref: '#/components/schemas/EndpointPhone'
                length_timer:
                  default: 7200
                  description: Set the number of seconds that elapse before Nexmo hangs up after the call state changes to in_progress.
                  maximum: 7200
                  minimum: 1
                  type: integer
                machine_detection:
                  description: Configure the behavior when Nexmo detects that the call is answered by voicemail. If Continue Nexmo sends an HTTP request to event_url with the Call event machine. hangup  end the call
                  enum:
                    - continue
                    - hangup
                  example: continue
                  type: string
                ncco:
                  description: |
                    **Required** unless `answer_url` is provided.

                    The [Nexmo Call Control Object](/voice/voice-api/ncco-reference) to use for this call.
                  example: |
                    [
                      {
                        "action":"talk",
                        "text": "Hello World"
                      }
                    ]
                  items:
                    type: string
                  type: array
                  x-nexmo-developer-collection-description-shown: true
                ringing_timer:
                  default: 60
                  description: Set the number of seconds that elapse before Nexmo hangs up after the call state changes to ‘ringing’.
                  maximum: 120
                  minimum: 1
                  type: integer
                to:
                  items:
                    oneOf:
                      - $ref: '#/components/schemas/EndpointPhone'
                      - $ref: '#/components/schemas/EndpointSip'
                      - $ref: '#/components/schemas/EndpointWebsocket'
                      - $ref: '#/components/schemas/EndpointVBCExtension'
                  type: array
              required:
                - to
                - from
                - event_url
        description: Call Details
      responses:
        '201':
          content:
            application/json:
              schema:
                properties:
                  conversation_uuid:
                    $ref: '#/components/schemas/conversation_uuid'
                  direction:
                    $ref: '#/components/schemas/direction'
                  status:
                    $ref: '#/components/schemas/status'
                  uuid:
                    $ref: '#/components/schemas/uuid'
          description: Created
      security:
        - bearerAuth: []
      summary: Create an outbound call
  '/calls/{uuid}':
    get:
      description: Get detail of a specific call
      operationId: getCall
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  _links:
                    properties:
                      self:
                        properties:
                          href:
                            example: /calls?page_size=10&record_index=20&order=asc
                            title: Link to the object
                            type: string
                        type: object
                    type: object
                  conversation_uuid:
                    $ref: '#/components/schemas/conversation_uuid'
                  direction:
                    $ref: '#/components/schemas/direction'
                  duration:
                    $ref: '#/components/schemas/duration'
                  end_time:
                    $ref: '#/components/schemas/end_time'
                  from:
                    $ref: '#/components/schemas/from'
                  network:
                    $ref: '#/components/schemas/network'
                  price:
                    $ref: '#/components/schemas/price'
                  rate:
                    $ref: '#/components/schemas/rate'
                  start_time:
                    $ref: '#/components/schemas/start_time'
                  status:
                    $ref: '#/components/schemas/status'
                  to:
                    $ref: '#/components/schemas/to'
                  uuid:
                    $ref: '#/components/schemas/uuid'
                type: object
          description: Ok
      security:
        - bearerAuth: []
      summary: Get detail of a specific call
    parameters:
      - description: UUID of the Call
        example: 63f61863-4a51-4f6b-86e1-46edebcf9356
        in: path
        name: uuid
        required: true
        schema:
          type: string
    put:
      description: Modify an in progress call
      operationId: updateCall
      requestBody:
        content:
          application/json:
            schema:
              properties:
                action:
                  description: The action to apply to the in-progress call
                  enum:
                    - hangup
                    - mute
                    - unmute
                    - earmuff
                    - unearmuff
                    - transfer
                  example: mute
                  type: string
                destination:
                  description: Required when `action` is `transfer`
                  properties:
                    ncco:
                      description: Can be used instead of `url` for the `transfer` action only.
                      example: '[{"action": "talk", "text": "hello world"}]'
                      items:
                        type: string
                      type: array
                      x-nexmo-developer-collection-description-shown: true
                    type:
                      description: Always `ncco`
                      example: ncco
                      type: string
                      x-nexmo-developer-collection-description-shown: true
                    url:
                      description: The URL that Nexmo makes a request to. Must return an NCCO.
                      example: '["https://example.com/ncco.json"]'
                      items:
                        type: string
                      type: array
                      x-nexmo-developer-collection-description-shown: true
                  type: object
                  x-nexmo-developer-collection-description-shown: true
              required:
                - action
        required: true
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      security:
        - bearerAuth: []
      summary: Modify an in progress call
  '/calls/{uuid}/dtmf':
    parameters:
      - description: UUID of the Call
        example: 63f61863-4a51-4f6b-86e1-46edebcf9356
        in: path
        name: uuid
        required: true
        schema:
          type: string
    put:
      description: Play DTMF tones into a call
      operationId: startDTMF
      requestBody:
        content:
          application/json:
            schema:
              properties:
                digits:
                  description: The digits to send
                  example: 1713
                  type: string
        description: action to perform
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: Description of the action taken
                    example: DTMF sent
                    type: string
                  uuid:
                    $ref: '#/components/schemas/uuid'
                type: object
          description: Ok
      security:
        - bearerAuth: []
      summary: Play DTMF tones into a call
  '/calls/{uuid}/stream':
    delete:
      description: Stop playing an audio file into a call
      operationId: stopStream
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: Description of the action taken
                    example: Stream stopped
                    type: string
                  uuid:
                    $ref: '#/components/schemas/uuid'
                type: object
          description: Ok
      security:
        - bearerAuth: []
      summary: Stop playing an audio file into a call
    parameters:
      - description: UUID of the Call
        example: 63f61863-4a51-4f6b-86e1-46edebcf9356
        in: path
        name: uuid
        required: true
        schema:
          type: string
    put:
      description: Play an audio file into a call
      operationId: startStream
      requestBody:
        content:
          application/json:
            schema:
              properties:
                level:
                  default: '0'
                  description: Set the audio level of the stream in the range `-1 >= level <= 1` with a precision of 0.1. The default value is 0.
                  example: '0.4'
                  type: string
                loop:
                  default: 1
                  description: 'the number of times to play the file, 0 for infinite'
                  type: integer
                stream_url:
                  example: '["https://example.com/waiting.mp3"]'
                  items:
                    type: string
                  type: array
                  x-nexmo-developer-collection-description-shown: true
              required:
                - stream_url
              type: object
        description: action to perform
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: Description of the action taken
                    example: Stream started
                    type: string
                  uuid:
                    $ref: '#/components/schemas/uuid'
                type: object
          description: Ok
      security:
        - bearerAuth: []
      summary: Play an audio file into a call
  '/calls/{uuid}/talk':
    delete:
      description: Stop text to speech in a call
      operationId: stopTalk
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: Description of the action taken
                    example: Talk stopped
                    type: string
                  uuid:
                    $ref: '#/components/schemas/uuid'
                type: object
          description: Ok
      security:
        - bearerAuth: []
      summary: Stop text to speech in a call
    parameters:
      - description: UUID of the Call
        example: 63f61863-4a51-4f6b-86e1-46edebcf9356
        in: path
        name: uuid
        required: true
        schema:
          type: string
    put:
      description: Play text to speech into a call
      operationId: startTalk
      requestBody:
        content:
          application/json:
            schema:
              properties:
                level:
                  default: '0'
                  description: 'The volume level that the speech is played. This can be any value between `-1` to `1` in `0.1` increments, with `0` being the default.'
                  example: '0.4'
                  type: string
                loop:
                  default: 1
                  description: 'The number of times to repeat the text the file, 0 for infinite'
                  type: integer
                text:
                  description: The text to read
                  example: Hello. How are you today?
                  type: string
                voice_name:
                  $ref: '#/components/schemas/voice_name'
              required:
                - text
        description: Action to perform
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: Description of the action taken
                    example: Talk started
                    type: string
                  uuid:
                    $ref: '#/components/schemas/uuid'
                type: object
          description: Ok
      security:
        - bearerAuth: []
      summary: Play text to speech into a call
components:
  schemas:
    AddressE164:
      description: The phone number to connect to
      example: '14155550100'
      maxLength: 15
      minLength: 7
      pattern: '\d{7,15}'
      type: string
    AddressSip:
      description: The SIP URI to connect to
      example: 'sip:rebekka@sip.example.com'
      maxLength: 50
      minLength: 1
      type: string
    AddressWebsocket:
      example: 'wss://example.com/socket'
      maxLength: 50
      minLength: 1
      type: string
    EndpointApp:
      description: Connect to an App User
      properties:
        type:
          description: The type of connection. Must be `app`
          example: app
          type: string
        user:
          description: The username to connect to
          example: jamie
          type: string
      required:
        - type
        - user
      type: object
    EndpointPhone:
      description: Connect to a Phone (PSTN) number
      properties:
        dtmfAnswer:
          description: 'Provide [DTMF digits](https://developer.nexmo.com/voice/voice-api/guides/dtmf) to send when the call is answered'
          example: 'p*123#'
          type: string
        number:
          $ref: '#/components/schemas/AddressE164'
        type:
          description: The type of connection. Must be `phone`
          example: phone
          type: string
      required:
        - type
      type: object
    EndpointSip:
      description: Connect to a SIP Endpoint
      properties:
        type:
          description: The type of connection. Must be `sip`
          example: sip
          type: string
        uri:
          $ref: '#/components/schemas/AddressSip'
      required:
        - type
      type: object
    EndpointVBCExtension:
      description: Connect to a VBC extension
      properties:
        extension:
          example: '1234'
          type: string
        type:
          description: The type of connection. Must be `vbc`
          example: vbc
          type: string
      required:
        - type
        - extension
      type: object
    EndpointWebsocket:
      description: Connect to a Websocket
      properties:
        content-type:
          enum:
            - audio/l16;rate=8000
            - audio/l16;rate=16000
          example: audio/l16;rate=16000
          type: string
        headers:
          description: Details of the Websocket you want to connect to
          properties:
            customer_id:
              description: This is an example header. You can provide any headers you may need
              example: ABC123
              type: string
          type: object
        type:
          description: The type of connection. Must be `websocket`
          example: websocket
          type: string
        uri:
          $ref: '#/components/schemas/AddressWebsocket'
      required:
        - type
        - content-type
      type: object
    callEvent:
      properties:
        conversation_uuid:
          description: The UUID of the Conversion that the event relates to
          example: CON-171b3991-49b0-4dfa-badd-2bc6e68b57b4
          format: uuid
          type: string
        direction:
          enum:
            - inbound
            - outbound
          type: string
        from:
          $ref: '#/components/schemas/from'
        status:
          enum:
            - started
            - ringing
            - answered
            - machine
            - completed
            - timeout
            - failed
            - rejected
            - cancelled
            - busy
          example: started
          type: string
        timestamp:
          example: '2018-01-12T15:01:55.315Z'
          format: date-time
          type: string
        to:
          $ref: '#/components/schemas/from'
        uuid:
          description: The UUID of the call leg that the event relates to
          example: 63f61863-4a51-4f6b-86e1-46edebcf9356
          format: uuid
          type: string
      required:
        - conversation_uuid
        - to
        - from
        - uuid
        - status
      type: object
    conversation_uuid:
      description: The unique identifier for the conversation this call leg is part of.
      example: CON-f972836a-550f-45fa-956c-12a2ab5b7d22
      format: uuid
      title: The UUID of the Conversation
      type: string
    direction:
      description: Possible values are `outbound` or `inbound`
      enum:
        - outbound
        - inbound
      example: outbound
      type: string
    duration:
      description: The time elapsed for the call to take place in seconds. This is only sent if `status` is `completed`.
      example: '60'
      title: 'The Duration of the call '
      type: string
    end_time:
      description: 'The time the call started in the following format: `YYYY-MM-DD HH:MM:SS`. For xample, `2020-01-01 12:00:00`. This is only sent if `status` is `completed`.'
      example: '2020-01-01 12:00:00'
      format: timestamp
      title: 'The End Time of the call '
      type: string
    from:
      description: The endpoint you called from. Possible values are the same as `to`.
      items:
        properties:
          number:
            example: '447700900001'
            title: The number that made the call
            type: string
          type:
            example: phone
            title: The type of Endpoint that made the call
            type: string
        type: object
      title: The number or address that has been called
      type: array
    name_user:
      description: Unique name for a user
      example: my_user_name
      type: string
    network:
      description: 'The Mobile Country Code Mobile Network Code ([MCCMNC](https://en.wikipedia.org/wiki/Mobile_country_code)) for the carrier network used to make this call.'
      example: '65512'
      title: 'The Network ID of the destination '
      type: string
    price:
      description: The total price charged for this call. This is only sent if `status` is `completed`.
      example: '23.40'
      title: 'The total price of the call '
      type: string
    rate:
      description: The price per minute for this call. This is only sent if `status` is `completed`.
      example: '0.39'
      title: The Price per minute of the called destination
      type: string
    start_time:
      description: 'The time the call started in the following format: `YYYY-MM-DD HH:MM:SS`. For example, `2020-01-01 12:00:00`.'
      example: '2020-01-01 12:00:00'
      format: timestamp
      title: 'The Start Time of the call '
      type: string
    status:
      description: 'The status of the call. [See possible values](https://developer.nexmo.com/voice/voice-api/guides/call-flow#event-objects)'
      example: started
      title: The State of the call
      type: string
    to:
      description: The single or mixed collection of endpoint types you connected to
      items:
        properties:
          number:
            example: '447700900000'
            title: The number of the endpoint called
            type: string
          type:
            example: phone
            title: The Type of Endpoint Called
            type: string
        type: object
      title: The number or address to call
      type: array
    uuid:
      description: The unique identifier for this call leg. The UUID is created when your call request is accepted by Nexmo. You use the UUID in all requests for individual live calls
      example: 63f61863-4a51-4f6b-86e1-46edebcf9356
      format: uuid
      title: The UUID of the Call
      type: string
    voice_name:
      default: Kimberly
      description: The voice & language to use
      enum:
        - Salli
        - Joey
        - Naja
        - Mads
        - Marlene
        - Hans
        - Nicole
        - Russell
        - Amy
        - Brian
        - Emma
        - Geraint
        - Gwyneth
        - Raveena
        - Chipmunk
        - Eric
        - Ivy
        - Jennifer
        - Justin
        - Kendra
        - Kimberly
        - Conchita
        - Enrique
        - Penelope
        - Miguel
        - Chantal
        - Celine
        - Mathieu
        - Dora
        - Karl
        - Carla
        - Giorgio
        - Liv
        - Lotte
        - Ruben
        - Agnieszka
        - Jacek
        - Ewa
        - Jan
        - Maja
        - Vitoria
        - Ricardo
        - Cristiano
        - Ines
        - Carmen
        - Maxim
        - Tatyana
        - Astrid
        - Filiz
        - Mizuki
        - Seoyeon
      type: string
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
