swagger: '2.0'
schemes:
  - https
host: trello.com
basePath: /1
x-hasEquivalentPaths: true
info:
  contact:
    name: Trello
    url: 'https://trello.com/home'
  description: |-
    This document describes the REST API of Trello as published by Trello.com.
     - <a href='https://trello.com/docs/index.html' target='_blank'>Official Documentation</a>
     - <a href='https://trello.com/docs/api' target='_blank'>The HTML pages that were scraped in order to generate this specification.</a>
  license:
    name: 'Trello : Terms of Service'
    url: 'https://trello.com/legal'
  termsOfService: 'https://trello.com/legal'
  title: Trello
  version: '1.0'
  x-logo:
    url: 'https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/c13d1cd96a2cff30f0460a5e1860c5ea/header-logo-blue.svg'
  x-origin:
    format: swagger
    url: 'https://raw.githubusercontent.com/warehouseman/trello-swagger-generator/master/TrelloAPI.json'
    version: '2.0'
  x-providerName: trello.com
  x-unofficialSpec: true
externalDocs:
  url: 'https://developers.trello.com'
securityDefinitions:
  api_key:
    in: header
    name: api_key
    type: apiKey
  trello_auth:
    authorizationUrl: 'https://trello.com/1/appKey/generate'
    flow: implicit
    scopes:
      'read:boards': read any of the boards in your account
      'write:boards': modify any of the boards in your account
    type: oauth2
tags:
  - description: 'https://trello.com/docs/api/action/index.html'
    name: action
  - description: 'https://trello.com/docs/api/batch/index.html'
    name: batch
  - description: 'https://trello.com/docs/api/board/index.html'
    name: board
  - description: 'https://trello.com/docs/api/card/index.html'
    name: card
  - description: 'https://trello.com/docs/api/checklist/index.html'
    name: checklist
  - description: 'https://trello.com/docs/api/label/index.html'
    name: label
  - description: 'https://trello.com/docs/api/list/index.html'
    name: list
  - description: 'https://trello.com/docs/api/member/index.html'
    name: member
  - description: 'https://trello.com/docs/api/notification/index.html'
    name: notification
  - description: 'https://trello.com/docs/api/organization/index.html'
    name: organization
  - description: 'https://trello.com/docs/api/search/index.html'
    name: search
  - description: 'https://trello.com/docs/api/session/index.html'
    name: session
  - description: 'https://trello.com/docs/api/token/index.html'
    name: token
  - description: 'https://trello.com/docs/api/type/index.html'
    name: type
  - description: 'https://trello.com/docs/api/webhook/index.html'
    name: webhook
paths:
  '/actions/{idAction}':
    delete:
      operationId: deleteActionsByIdAction
      parameters:
        - default: undefined
          description: idAction
          in: path
          name: idAction
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: deleteActionsByIdAction()
      tags:
        - action
    get:
      operationId: getActionsByIdAction
      parameters:
        - default: undefined
          description: idAction
          in: path
          name: idAction
          required: true
          type: string
        - description: ' true or false'
          in: query
          name: display
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: entities
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: data, date, idMemberCreator or type'
          in: query
          name: fields
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: member
          required: false
          type: string
        - default: 'avatarHash, fullName, initials and username'
          description: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
          in: query
          name: member_fields
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: memberCreator
          required: false
          type: string
        - default: 'avatarHash, fullName, initials and username'
          description: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
          in: query
          name: memberCreator_fields
          required: false
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getActionsByIdAction()
      tags:
        - action
    put:
      operationId: updateActionsByIdAction
      parameters:
        - default: undefined
          description: idAction
          in: path
          name: idAction
          required: true
          type: string
        - description: 'Attributes of "Actions" to be updated.'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/actions'
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: updateActionsByIdAction()
      tags:
        - action
  '/actions/{idAction}/board':
    get:
      operationId: getActionsBoardByIdAction
      parameters:
        - default: undefined
          description: idAction
          in: path
          name: idAction
          required: true
          type: string
        - default: all
          description: 'all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed or url'
          in: query
          name: fields
          required: false
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getActionsBoardByIdAction()
      tags:
        - action
  '/actions/{idAction}/board/{field}':
    get:
      operationId: getActionsBoardByIdActionByField
      parameters:
        - default: undefined
          description: idAction
          in: path
          name: idAction
          required: true
          type: string
        - default: undefined
          description: field
          in: path
          name: field
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getActionsBoardByIdActionByField()
      tags:
        - action
  '/actions/{idAction}/card':
    get:
      operationId: getActionsCardByIdAction
      parameters:
        - default: undefined
          description: idAction
          in: path
          name: idAction
          required: true
          type: string
        - default: all
          description: 'all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url'
          in: query
          name: fields
          required: false
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getActionsCardByIdAction()
      tags:
        - action
  '/actions/{idAction}/card/{field}':
    get:
      operationId: getActionsCardByIdActionByField
      parameters:
        - default: undefined
          description: idAction
          in: path
          name: idAction
          required: true
          type: string
        - default: undefined
          description: field
          in: path
          name: field
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getActionsCardByIdActionByField()
      tags:
        - action
  '/actions/{idAction}/display':
    get:
      operationId: getActionsDisplayByIdAction
      parameters:
        - default: undefined
          description: idAction
          in: path
          name: idAction
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getActionsDisplayByIdAction()
      tags:
        - action
  '/actions/{idAction}/entities':
    get:
      operationId: getActionsEntitiesByIdAction
      parameters:
        - default: undefined
          description: idAction
          in: path
          name: idAction
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getActionsEntitiesByIdAction()
      tags:
        - action
  '/actions/{idAction}/list':
    get:
      operationId: getActionsListByIdAction
      parameters:
        - default: undefined
          description: idAction
          in: path
          name: idAction
          required: true
          type: string
        - default: all
          description: 'all or a comma-separated list of: closed, idBoard, name, pos or subscribed'
          in: query
          name: fields
          required: false
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getActionsListByIdAction()
      tags:
        - action
  '/actions/{idAction}/list/{field}':
    get:
      operationId: getActionsListByIdActionByField
      parameters:
        - default: undefined
          description: idAction
          in: path
          name: idAction
          required: true
          type: string
        - default: undefined
          description: field
          in: path
          name: field
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getActionsListByIdActionByField()
      tags:
        - action
  '/actions/{idAction}/member':
    get:
      operationId: getActionsMemberByIdAction
      parameters:
        - default: undefined
          description: idAction
          in: path
          name: idAction
          required: true
          type: string
        - default: all
          description: 'all or a comma-separated list of: avatarHash, avatarSource, bio, bioData, confirmed, email, fullName, gravatarHash, idBoards, idBoardsPinned, idOrganizations, idPremOrgsAdmin, initials, loginTypes, memberType, oneTimeMessagesDismissed, prefs, premiumFeatures, products, status, status, trophies, uploadedAvatarHash, url or username'
          in: query
          name: fields
          required: false
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getActionsMemberByIdAction()
      tags:
        - action
  '/actions/{idAction}/member/{field}':
    get:
      operationId: getActionsMemberByIdActionByField
      parameters:
        - default: undefined
          description: idAction
          in: path
          name: idAction
          required: true
          type: string
        - default: undefined
          description: field
          in: path
          name: field
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getActionsMemberByIdActionByField()
      tags:
        - action
  '/actions/{idAction}/memberCreator':
    get:
      operationId: getActionsMemberCreatorByIdAction
      parameters:
        - default: undefined
          description: idAction
          in: path
          name: idAction
          required: true
          type: string
        - default: all
          description: 'all or a comma-separated list of: avatarHash, avatarSource, bio, bioData, confirmed, email, fullName, gravatarHash, idBoards, idBoardsPinned, idOrganizations, idPremOrgsAdmin, initials, loginTypes, memberType, oneTimeMessagesDismissed, prefs, premiumFeatures, products, status, status, trophies, uploadedAvatarHash, url or username'
          in: query
          name: fields
          required: false
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getActionsMemberCreatorByIdAction()
      tags:
        - action
  '/actions/{idAction}/memberCreator/{field}':
    get:
      operationId: getActionsMemberCreatorByIdActionByField
      parameters:
        - default: undefined
          description: idAction
          in: path
          name: idAction
          required: true
          type: string
        - default: undefined
          description: field
          in: path
          name: field
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getActionsMemberCreatorByIdActionByField()
      tags:
        - action
  '/actions/{idAction}/organization':
    get:
      operationId: getActionsOrganizationByIdAction
      parameters:
        - default: undefined
          description: idAction
          in: path
          name: idAction
          required: true
          type: string
        - default: all
          description: 'all or a comma-separated list of: billableMemberCount, desc, descData, displayName, idBoards, invitations, invited, logoHash, memberships, name, powerUps, prefs, premiumFeatures, products, url or website'
          in: query
          name: fields
          required: false
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getActionsOrganizationByIdAction()
      tags:
        - action
  '/actions/{idAction}/organization/{field}':
    get:
      operationId: getActionsOrganizationByIdActionByField
      parameters:
        - default: undefined
          description: idAction
          in: path
          name: idAction
          required: true
          type: string
        - default: undefined
          description: field
          in: path
          name: field
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getActionsOrganizationByIdActionByField()
      tags:
        - action
  '/actions/{idAction}/text':
    put:
      operationId: updateActionsTextByIdAction
      parameters:
        - default: undefined
          description: idAction
          in: path
          name: idAction
          required: true
          type: string
        - description: 'Attributes of "Actions Text" to be updated.'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/actions_text'
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: updateActionsTextByIdAction()
      tags:
        - action
  '/actions/{idAction}/{field}':
    get:
      operationId: getActionsByIdActionByField
      parameters:
        - default: undefined
          description: idAction
          in: path
          name: idAction
          required: true
          type: string
        - default: undefined
          description: field
          in: path
          name: field
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      summary: getActionsByIdActionByField()
      tags:
        - action
  /batch:
    get:
      operationId: getBatch
      parameters:
        - default: undefined
          description: 'list of API v1 GET routes, not including the version prefix'
          in: query
          name: urls
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      summary: getBatch()
      tags:
        - batch
  /boards:
    post:
      operationId: addBoards
      parameters:
        - description: 'Attributes of "Boards" to be added.'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/boards'
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: addBoards()
      tags:
        - board
  '/boards/{idBoard}':
    get:
      operationId: getBoardsByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: undefined
          description: 'all or a comma-separated list of: addAttachmentToCard, addChecklistToCard, addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard, commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard, createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard, deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp, emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization, makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard, moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard, removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation, updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList, updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList, updateList:closed, updateList:name, updateMember or updateOrganization'
          in: query
          name: actions
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: actions_entities
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: actions_display
          required: false
          type: string
        - default: list
          description: 'One of: count, list or minimal'
          in: query
          name: actions_format
          required: false
          type: string
        - default: undefined
          description: 'A date, null or lastView'
          in: query
          name: actions_since
          required: false
          type: string
        - default: '50'
          description: a number from 0 to 1000
          in: query
          name: actions_limit
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: data, date, idMemberCreator or type'
          in: query
          name: action_fields
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: action_member
          required: false
          type: string
        - default: 'avatarHash, fullName, initials and username'
          description: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
          in: query
          name: action_member_fields
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: action_memberCreator
          required: false
          type: string
        - default: 'avatarHash, fullName, initials and username'
          description: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
          in: query
          name: action_memberCreator_fields
          required: false
          type: string
        - default: none
          description: 'One of: all, closed, none, open or visible'
          in: query
          name: cards
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url'
          in: query
          name: card_fields
          required: false
          type: string
        - description: 'A boolean value or &quot;cover&quot; for only card cover attachments'
          in: query
          name: card_attachments
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: bytes, date, edgeColor, idMember, isUpload, mimeType, name, previews or url'
          in: query
          name: card_attachment_fields
          required: false
          type: string
        - default: none
          description: 'One of: all or none'
          in: query
          name: card_checklists
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: card_stickers
          required: false
          type: string
        - default: none
          description: 'One of: mine or none'
          in: query
          name: boardStars
          required: false
          type: string
        - default: none
          description: 'One of: all or none'
          in: query
          name: labels
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: color, idBoard, name or uses'
          in: query
          name: label_fields
          required: false
          type: string
        - default: '50'
          description: a number from 0 to 1000
          in: query
          name: labels_limit
          required: false
          type: string
        - default: none
          description: 'One of: all, closed, none or open'
          in: query
          name: lists
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: closed, idBoard, name, pos or subscribed'
          in: query
          name: list_fields
          required: false
          type: string
        - default: none
          description: 'all or a comma-separated list of: active, admin, deactivated, me or normal'
          in: query
          name: memberships
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: memberships_member
          required: false
          type: string
        - default: fullName and username
          description: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
          in: query
          name: memberships_member_fields
          required: false
          type: string
        - default: none
          description: 'One of: admins, all, none, normal or owners'
          in: query
          name: members
          required: false
          type: string
        - default: 'avatarHash, initials, fullName, username and confirmed'
          description: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
          in: query
          name: member_fields
          required: false
          type: string
        - default: none
          description: 'One of: admins, all, none, normal or owners'
          in: query
          name: membersInvited
          required: false
          type: string
        - default: 'avatarHash, initials, fullName and username'
          description: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
          in: query
          name: membersInvited_fields
          required: false
          type: string
        - default: none
          description: 'One of: all or none'
          in: query
          name: checklists
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: idBoard, idCard, name or pos'
          in: query
          name: checklist_fields
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: organization
          required: false
          type: string
        - default: name and displayName
          description: 'all or a comma-separated list of: billableMemberCount, desc, descData, displayName, idBoards, invitations, invited, logoHash, memberships, name, powerUps, prefs, premiumFeatures, products, url or website'
          in: query
          name: organization_fields
          required: false
          type: string
        - default: none
          description: 'all or a comma-separated list of: active, admin, deactivated, me or normal'
          in: query
          name: organization_memberships
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: myPrefs
          required: false
          type: string
        - default: 'name, desc, descData, closed, idOrganization, pinned, url, shortUrl, prefs and labelNames'
          description: 'all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed or url'
          in: query
          name: fields
          required: false
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getBoardsByIdBoard()
      tags:
        - board
    put:
      operationId: updateBoardsByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - description: 'Attributes of "Boards" to be updated.'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/boards'
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: updateBoardsByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/actions':
    get:
      operationId: getBoardsActionsByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - description: ' true or false'
          in: query
          name: entities
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: display
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: addAttachmentToCard, addChecklistToCard, addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard, commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard, createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard, deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp, emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization, makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard, moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard, removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation, updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList, updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList, updateList:closed, updateList:name, updateMember or updateOrganization'
          in: query
          name: filter
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: data, date, idMemberCreator or type'
          in: query
          name: fields
          required: false
          type: string
        - default: '50'
          description: a number from 0 to 1000
          in: query
          name: limit
          required: false
          type: string
        - default: list
          description: 'One of: count, list or minimal'
          in: query
          name: format
          required: false
          type: string
        - default: undefined
          description: 'A date, null or lastView'
          in: query
          name: since
          required: false
          type: string
        - default: undefined
          description: 'A date, or null'
          in: query
          name: before
          required: false
          type: string
        - default: '0'
          description: 'Page * limit must be less than 1000'
          in: query
          name: page
          required: false
          type: string
        - default: undefined
          description: Only return actions related to these model ids
          in: query
          name: idModels
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: member
          required: false
          type: string
        - default: 'avatarHash, fullName, initials and username'
          description: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
          in: query
          name: member_fields
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: memberCreator
          required: false
          type: string
        - default: 'avatarHash, fullName, initials and username'
          description: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
          in: query
          name: memberCreator_fields
          required: false
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getBoardsActionsByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/boardStars':
    get:
      operationId: getBoardsBoardStarsByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: mine
          description: 'One of: mine or none'
          in: query
          name: filter
          required: false
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getBoardsBoardStarsByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/calendarKey/generate':
    post:
      operationId: addBoardsCalendarKeyGenerateByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: addBoardsCalendarKeyGenerateByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/cards':
    get:
      operationId: getBoardsCardsByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: undefined
          description: 'all or a comma-separated list of: addAttachmentToCard, addChecklistToCard, addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard, commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard, createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard, deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp, emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization, makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard, moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard, removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation, updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList, updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList, updateList:closed, updateList:name, updateMember or updateOrganization'
          in: query
          name: actions
          required: false
          type: string
        - description: 'A boolean value or &quot;cover&quot; for only card cover attachments'
          in: query
          name: attachments
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: bytes, date, edgeColor, idMember, isUpload, mimeType, name, previews or url'
          in: query
          name: attachment_fields
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: stickers
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: members
          required: false
          type: string
        - default: 'avatarHash, fullName, initials and username'
          description: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
          in: query
          name: member_fields
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: checkItemStates
          required: false
          type: string
        - default: none
          description: 'One of: all or none'
          in: query
          name: checklists
          required: false
          type: string
        - default: undefined
          description: a number from 1 to 1000
          in: query
          name: limit
          required: false
          type: string
        - default: undefined
          description: 'A date, or null'
          in: query
          name: since
          required: false
          type: string
        - default: undefined
          description: 'A date, or null'
          in: query
          name: before
          required: false
          type: string
        - default: visible
          description: 'One of: all, closed, none, open or visible'
          in: query
          name: filter
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url'
          in: query
          name: fields
          required: false
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getBoardsCardsByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/cards/{filter}':
    get:
      operationId: getBoardsCardsByIdBoardByFilter
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: undefined
          description: filter
          in: path
          name: filter
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      summary: getBoardsCardsByIdBoardByFilter()
      tags:
        - board
  '/boards/{idBoard}/cards/{idCard}':
    get:
      operationId: getBoardsCardsByIdBoardByIdCard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: undefined
          description: idCard
          in: path
          name: idCard
          required: true
          type: string
        - description: 'A boolean value or &quot;cover&quot; for only card cover attachments'
          in: query
          name: attachments
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: bytes, date, edgeColor, idMember, isUpload, mimeType, name, previews or url'
          in: query
          name: attachment_fields
          required: false
          type: string
        - default: undefined
          description: 'all or a comma-separated list of: addAttachmentToCard, addChecklistToCard, addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard, commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard, createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard, deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp, emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization, makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard, moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard, removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation, updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList, updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList, updateList:closed, updateList:name, updateMember or updateOrganization'
          in: query
          name: actions
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: actions_entities
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: actions_display
          required: false
          type: string
        - default: '50'
          description: a number from 0 to 1000
          in: query
          name: actions_limit
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: data, date, idMemberCreator or type'
          in: query
          name: action_fields
          required: false
          type: string
        - default: 'avatarHash, fullName, initials and username'
          description: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
          in: query
          name: action_memberCreator_fields
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: members
          required: false
          type: string
        - default: 'avatarHash, initials, fullName and username'
          description: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
          in: query
          name: member_fields
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: checkItemStates
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: idCheckItem or state'
          in: query
          name: checkItemState_fields
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: labels
          required: false
          type: string
        - default: none
          description: 'One of: all or none'
          in: query
          name: checklists
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: idBoard, idCard, name or pos'
          in: query
          name: checklist_fields
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url'
          in: query
          name: fields
          required: false
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getBoardsCardsByIdBoardByIdCard()
      tags:
        - board
  '/boards/{idBoard}/checklists':
    get:
      operationId: getBoardsChecklistsByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: none
          description: 'One of: all, closed, none, open or visible'
          in: query
          name: cards
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url'
          in: query
          name: card_fields
          required: false
          type: string
        - default: all
          description: 'One of: all or none'
          in: query
          name: checkItems
          required: false
          type: string
        - default: 'name, nameData, pos and state'
          description: 'all or a comma-separated list of: name, nameData, pos, state or type'
          in: query
          name: checkItem_fields
          required: false
          type: string
        - default: all
          description: 'One of: all or none'
          in: query
          name: filter
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: idBoard, idCard, name or pos'
          in: query
          name: fields
          required: false
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getBoardsChecklistsByIdBoard()
      tags:
        - board
    post:
      operationId: addBoardsChecklistsByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - description: 'Attributes of "Boards Checklists" to be added.'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/boards_checklists'
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: addBoardsChecklistsByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/closed':
    put:
      operationId: updateBoardsClosedByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - description: 'Attributes of "Boards Closed" to be updated.'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/boards_closed'
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: updateBoardsClosedByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/deltas':
    get:
      operationId: getBoardsDeltasByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: undefined
          description: A valid tag for subscribing
          in: query
          name: tags
          required: true
          type: string
        - default: undefined
          description: a number from -1 to Infinity
          in: query
          name: ixLastUpdate
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getBoardsDeltasByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/desc':
    put:
      operationId: updateBoardsDescByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - description: 'Attributes of "Boards Desc" to be updated.'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/boards_desc'
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: updateBoardsDescByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/emailKey/generate':
    post:
      operationId: addBoardsEmailKeyGenerateByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: addBoardsEmailKeyGenerateByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/idOrganization':
    put:
      operationId: updateBoardsIdOrganizationByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - description: 'Attributes of "Boards Id Organization" to be updated.'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/boards_idOrganization'
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: updateBoardsIdOrganizationByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/labelNames/blue':
    put:
      operationId: updateBoardsLabelNamesBlueByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - description: 'Attributes of "Label Names Blue" to be updated.'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/labelNames_blue'
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: updateBoardsLabelNamesBlueByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/labelNames/green':
    put:
      operationId: updateBoardsLabelNamesGreenByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - description: 'Attributes of "Label Names Green" to be updated.'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/labelNames_green'
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: updateBoardsLabelNamesGreenByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/labelNames/orange':
    put:
      operationId: updateBoardsLabelNamesOrangeByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - description: 'Attributes of "Label Names Orange" to be updated.'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/labelNames_orange'
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: updateBoardsLabelNamesOrangeByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/labelNames/purple':
    put:
      operationId: updateBoardsLabelNamesPurpleByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - description: 'Attributes of "Label Names Purple" to be updated.'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/labelNames_purple'
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: updateBoardsLabelNamesPurpleByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/labelNames/red':
    put:
      operationId: updateBoardsLabelNamesRedByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - description: 'Attributes of "Label Names Red" to be updated.'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/labelNames_red'
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: updateBoardsLabelNamesRedByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/labelNames/yellow':
    put:
      operationId: updateBoardsLabelNamesYellowByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - description: 'Attributes of "Label Names Yellow" to be updated.'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/labelNames_yellow'
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: updateBoardsLabelNamesYellowByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/labels':
    get:
      operationId: getBoardsLabelsByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: all
          description: 'all or a comma-separated list of: color, idBoard, name or uses'
          in: query
          name: fields
          required: false
          type: string
        - default: '50'
          description: a number from 0 to 1000
          in: query
          name: limit
          required: false
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getBoardsLabelsByIdBoard()
      tags:
        - board
    post:
      operationId: addBoardsLabelsByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - description: 'Attributes of "Boards Labels" to be added.'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/boards_labels'
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: addBoardsLabelsByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/labels/{idLabel}':
    get:
      operationId: getBoardsLabelsByIdBoardByIdLabel
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: undefined
          description: idLabel
          in: path
          name: idLabel
          required: true
          type: string
        - default: all
          description: 'all or a comma-separated list of: color, idBoard, name or uses'
          in: query
          name: fields
          required: false
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getBoardsLabelsByIdBoardByIdLabel()
      tags:
        - board
  '/boards/{idBoard}/lists':
    get:
      operationId: getBoardsListsByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: none
          description: 'One of: all, closed, none, open or visible'
          in: query
          name: cards
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url'
          in: query
          name: card_fields
          required: false
          type: string
        - default: open
          description: 'One of: all, closed, none or open'
          in: query
          name: filter
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: closed, idBoard, name, pos or subscribed'
          in: query
          name: fields
          required: false
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getBoardsListsByIdBoard()
      tags:
        - board
    post:
      operationId: addBoardsListsByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - description: 'Attributes of "Boards Lists" to be added.'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/boards_lists'
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: addBoardsListsByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/lists/{filter}':
    get:
      operationId: getBoardsListsByIdBoardByFilter
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: undefined
          description: filter
          in: path
          name: filter
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      summary: getBoardsListsByIdBoardByFilter()
      tags:
        - board
  '/boards/{idBoard}/markAsViewed':
    post:
      operationId: addBoardsMarkAsViewedByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: addBoardsMarkAsViewedByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/members':
    get:
      operationId: getBoardsMembersByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: all
          description: 'One of: admins, all, none, normal or owners'
          in: query
          name: filter
          required: false
          type: string
        - default: fullName and username
          description: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
          in: query
          name: fields
          required: false
          type: string
        - description: true or false ; works for premium organizations only.
          in: query
          name: activity
          required: false
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getBoardsMembersByIdBoard()
      tags:
        - board
    put:
      operationId: updateBoardsMembersByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - description: 'Attributes of "Boards Members" to be updated.'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/boards_members'
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: updateBoardsMembersByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/members/{filter}':
    get:
      operationId: getBoardsMembersByIdBoardByFilter
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: undefined
          description: filter
          in: path
          name: filter
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      summary: getBoardsMembersByIdBoardByFilter()
      tags:
        - board
  '/boards/{idBoard}/members/{idMember}':
    delete:
      operationId: deleteBoardsMembersByIdBoardByIdMember
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: undefined
          description: idMember
          in: path
          name: idMember
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: deleteBoardsMembersByIdBoardByIdMember()
      tags:
        - board
    put:
      operationId: updateBoardsMembersByIdBoardByIdMember
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: undefined
          description: idMember
          in: path
          name: idMember
          required: true
          type: string
        - description: 'Attributes of "Boards Members" to be updated.'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/boards_members'
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
            - 'write:boards'
      summary: updateBoardsMembersByIdBoardByIdMember()
      tags:
        - board
  '/boards/{idBoard}/members/{idMember}/cards':
    get:
      operationId: getBoardsMembersCardsByIdBoardByIdMember
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: undefined
          description: idMember
          in: path
          name: idMember
          required: true
          type: string
        - default: undefined
          description: 'all or a comma-separated list of: addAttachmentToCard, addChecklistToCard, addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard, commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard, createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard, deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp, emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization, makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard, moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard, removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation, updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList, updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList, updateList:closed, updateList:name, updateMember or updateOrganization'
          in: query
          name: actions
          required: false
          type: string
        - description: 'A boolean value or &quot;cover&quot; for only card cover attachments'
          in: query
          name: attachments
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: bytes, date, edgeColor, idMember, isUpload, mimeType, name, previews or url'
          in: query
          name: attachment_fields
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: members
          required: false
          type: string
        - default: 'avatarHash, fullName, initials and username'
          description: 'all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username'
          in: query
          name: member_fields
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: checkItemStates
          required: false
          type: string
        - default: none
          description: 'One of: all or none'
          in: query
          name: checklists
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: board
          required: false
          type: string
        - default: 'name, desc, closed, idOrganization, pinned, url and prefs'
          description: 'all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed or url'
          in: query
          name: board_fields
          required: false
          type: string
        - description: ' true or false'
          in: query
          name: list
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: closed, idBoard, name, pos or subscribed'
          in: query
          name: list_fields
          required: false
          type: string
        - default: visible
          description: 'One of: all, closed, none, open or visible'
          in: query
          name: filter
          required: false
          type: string
        - default: all
          description: 'all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url'
          in: query
          name: fields
          required: false
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getBoardsMembersCardsByIdBoardByIdMember()
      tags:
        - board
  '/boards/{idBoard}/membersInvited':
    get:
      operationId: getBoardsMembersInvitedByIdBoard
      parameters:
        - default: undefined
          description: board_id
          in: path
          name: idBoard
          required: true
          type: string
        - default: all
          description: 'all or a comma-separated list of: avatarHash, avatarSource, bio, bioData, confirmed, email, fullName, gravatarHash, idBoards, idBoardsPinned, idOrganizations, idPremOrgsAdmin, initials, loginTypes, memberType, oneTimeMessagesDismissed, prefs, premiumFeatures, products, status, status, trophies, uploadedAvatarHash, url or username'
          in: query
          name: fields
          required: false
          type: string
        - default: undefined
          description: '<a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>'
          in: query
          name: key
          required: true
          type: string
        - default: undefined
          description: '<a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>'
          in: query
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
      security:
        - trello_auth:
            - 'read:boards'
      summary: getBoardsMembersInvitedByIdBoard()
      tags:
        - board
  '/boards/{idBoard}/membersInvited/{field}':
    get:
[...]
