swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /clouduseraccounts/vm_alpha/projects
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Creates and manages users and groups for accessing Google Compute Engine virtual machines.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Cloud User Accounts
  version: vm_alpha
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://cloud.google.com/_static/images/new-gcp-logo.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/clouduseraccounts/vm_alpha/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: clouduseraccounts
externalDocs:
  url: 'https://cloud.google.com/compute/docs/access/user-accounts/api/latest/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud.useraccounts': Manage your Google Cloud User Accounts
      'https://www.googleapis.com/auth/cloud.useraccounts.readonly': View your Google Cloud User Accounts
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud.useraccounts': Manage your Google Cloud User Accounts
      'https://www.googleapis.com/auth/cloud.useraccounts.readonly': View your Google Cloud User Accounts
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: globalAccountsOperations
  - name: groups
  - name: linux
  - name: users
paths:
  '/{project}/global/groups':
    get:
      description: Retrieves the list of groups contained within the specified project.
      operationId: clouduseraccounts.groups.list
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: |-
            Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

            You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

            Currently, only sorting by name or creationTimestamp desc is supported.
          in: query
          name: orderBy
          type: string
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GroupList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
      tags:
        - groups
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a Group resource in the specified project using the data included in the request.
      operationId: clouduseraccounts.groups.insert
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Group'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
      tags:
        - groups
  '/{project}/global/groups/{groupName}':
    delete:
      description: Deletes the specified Group resource.
      operationId: clouduseraccounts.groups.delete
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the Group resource to delete.
          in: path
          name: groupName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
      tags:
        - groups
    get:
      description: Returns the specified Group resource.
      operationId: clouduseraccounts.groups.get
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the Group resource to return.
          in: path
          name: groupName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Group'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
      tags:
        - groups
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/groups/{groupName}/addMember':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Adds users to the specified group.
      operationId: clouduseraccounts.groups.addMember
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the group for this request.
          in: path
          name: groupName
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GroupsAddMemberRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
      tags:
        - groups
  '/{project}/global/groups/{groupName}/removeMember':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Removes users from the specified group.
      operationId: clouduseraccounts.groups.removeMember
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the group for this request.
          in: path
          name: groupName
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GroupsRemoveMemberRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
      tags:
        - groups
  '/{project}/global/groups/{resource}/getIamPolicy':
    get:
      description: Gets the access control policy for a resource. May be empty if no such policy or resource exists.
      operationId: clouduseraccounts.groups.getIamPolicy
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the resource for this request.
          in: path
          name: resource
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
      tags:
        - groups
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/groups/{resource}/setIamPolicy':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Sets the access control policy on the specified resource. Replaces any existing policy.
      operationId: clouduseraccounts.groups.setIamPolicy
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the resource for this request.
          in: path
          name: resource
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Policy'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
      tags:
        - groups
  '/{project}/global/groups/{resource}/testIamPermissions':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Returns permissions that a caller has on the specified resource.
      operationId: clouduseraccounts.groups.testIamPermissions
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the resource for this request.
          in: path
          name: resource
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TestPermissionsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TestPermissionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
      tags:
        - groups
  '/{project}/global/operations':
    get:
      description: Retrieves the list of operation resources contained within the specified project.
      operationId: clouduseraccounts.globalAccountsOperations.list
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: |-
            Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

            You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

            Currently, only sorting by name or creationTimestamp desc is supported.
          in: query
          name: orderBy
          type: string
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OperationList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
      tags:
        - globalAccountsOperations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/operations/{operation}':
    delete:
      description: Deletes the specified operation resource.
      operationId: clouduseraccounts.globalAccountsOperations.delete
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the Operations resource to delete.
          in: path
          name: operation
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
      tags:
        - globalAccountsOperations
    get:
      description: Retrieves the specified operation resource.
      operationId: clouduseraccounts.globalAccountsOperations.get
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the Operations resource to return.
          in: path
          name: operation
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
      tags:
        - globalAccountsOperations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/users':
    get:
      description: Retrieves a list of users contained within the specified project.
      operationId: clouduseraccounts.users.list
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: |-
            Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

            You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

            Currently, only sorting by name or creationTimestamp desc is supported.
          in: query
          name: orderBy
          type: string
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/UserList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a User resource in the specified project using the data included in the request.
      operationId: clouduseraccounts.users.insert
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/User'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
      tags:
        - users
  '/{project}/global/users/{resource}/getIamPolicy':
    get:
      description: Gets the access control policy for a resource. May be empty if no such policy or resource exists.
      operationId: clouduseraccounts.users.getIamPolicy
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the resource for this request.
          in: path
          name: resource
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/users/{resource}/setIamPolicy':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Sets the access control policy on the specified resource. Replaces any existing policy.
      operationId: clouduseraccounts.users.setIamPolicy
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the resource for this request.
          in: path
          name: resource
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Policy'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
      tags:
        - users
  '/{project}/global/users/{resource}/testIamPermissions':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Returns permissions that a caller has on the specified resource.
      operationId: clouduseraccounts.users.testIamPermissions
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the resource for this request.
          in: path
          name: resource
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TestPermissionsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TestPermissionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
      tags:
        - users
  '/{project}/global/users/{user}':
    delete:
      description: Deletes the specified User resource.
      operationId: clouduseraccounts.users.delete
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the user resource to delete.
          in: path
          name: user
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
      tags:
        - users
    get:
      description: Returns the specified User resource.
      operationId: clouduseraccounts.users.get
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the user resource to return.
          in: path
          name: user
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/User'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/users/{user}/addPublicKey':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Adds a public key to the specified User resource with the data included in the request.
      operationId: clouduseraccounts.users.addPublicKey
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the user for this request.
          in: path
          name: user
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/PublicKey'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
      tags:
        - users
  '/{project}/global/users/{user}/removePublicKey':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Removes the specified public key from the user.
      operationId: clouduseraccounts.users.removePublicKey
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the user for this request.
          in: path
          name: user
          required: true
          type: string
        - description: 'The fingerprint of the public key to delete. Public keys are identified by their fingerprint, which is defined by RFC4716 to be the MD5 digest of the public key.'
          in: query
          name: fingerprint
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
      tags:
        - users
  '/{project}/zones/{zone}/authorizedKeysView/{user}':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Returns a list of authorized public keys for a specific user account.
      operationId: clouduseraccounts.linux.getAuthorizedKeysView
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the zone for this request.
          in: path
          name: zone
          required: true
          type: string
        - description: The user account for which you want to get a list of authorized public keys.
          in: path
          name: user
          required: true
          type: string
        - description: The fully-qualified URL of the virtual machine requesting the view.
          in: query
          name: instance
          required: true
          type: string
        - description: Whether the view was requested as part of a user-initiated login.
          in: query
          name: login
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LinuxGetAuthorizedKeysViewResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
      tags:
        - linux
  '/{project}/zones/{zone}/linuxAccountViews':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Retrieves a list of user accounts for an instance within a specific project.
      operationId: clouduseraccounts.linux.getLinuxAccountViews
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the zone for this request.
          in: path
          name: zone
          required: true
          type: string
        - description: The fully-qualified URL of the virtual machine requesting the views.
          in: query
          name: instance
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: |-
            Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

            You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

            Currently, only sorting by name or creationTimestamp desc is supported.
          in: query
          name: orderBy
          type: string
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LinuxGetLinuxAccountViewsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
      tags:
        - linux
definitions:
  AuditConfig:
    description: Enables "data access" audit logging for a service and specifies a list of members that are log-exempted.
    properties:
      exemptedMembers:
        description: Specifies the identities that are exempted from "data access" audit logging for the `service` specified above. Follows the same format of Binding.members.
        items:
          type: string
        type: array
      service:
        description: 'Specifies a service that will be enabled for "data access" audit logging. For example, `resourcemanager`, `storage`, `compute`. `allServices` is a special value that covers all services.'
        type: string
    type: object
  AuthorizedKeysView:
    description: A list of authorized public keys for a user account.
    properties:
      keys:
        description: '[Output Only] The list of authorized public keys in SSH format.'
        items:
          type: string
        type: array
      sudoer:
        description: '[Output Only] Whether the user has the ability to elevate on the instance that requested the authorized keys.'
        type: boolean
    type: object
  Binding:
    description: Associates `members` with a `role`.
    properties:
      members:
        description: |-
          Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values:

          * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account.

          * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account.

          * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@gmail.com` or `joe@example.com`.

          * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`.

          * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`.

          * `domain:{domain}`: A Google Apps domain name that represents all the users of that domain. For example, `google.com` or `example.com`.
        items:
          type: string
        type: array
      role:
        description: 'Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.'
        type: string
    type: object
  Condition:
    description: A condition to be met.
    properties:
      iam:
        description: Trusted attributes supplied by the IAM system.
        enum:
          - ATTRIBUTION
          - AUTHORITY
          - NO_ATTR
        type: string
      op:
        description: An operator to apply the subject with.
        enum:
          - DISCHARGED
          - EQUALS
          - IN
          - NOT_EQUALS
          - NOT_IN
          - NO_OP
        type: string
      svc:
        description: Trusted attributes discharged by the service.
        type: string
      sys:
        description: Trusted attributes supplied by any service that owns resources and uses the IAM system for access control.
        enum:
          - IP
          - NAME
          - NO_ATTR
          - REGION
          - SERVICE
        type: string
      value:
        description: The object of the condition. Exactly one of these must be set.
        type: string
      values:
        description: The objects of the condition. This is mutually exclusive with 'value'.
        items:
          type: string
        type: array
    type: object
  Group:
    description: A Group resource.
    properties:
      creationTimestamp:
        description: '[Output Only] Creation timestamp in RFC3339 text format.'
        type: string
      description:
        description: An optional textual description of the resource; provided by the client when the resource is created.
        type: string
      id:
        description: '[Output Only] Unique identifier for the resource; defined by the server.'
        format: uint64
        type: string
      kind:
        default: 'clouduseraccounts#group'
        description: '[Output Only] Type of the resource. Always clouduseraccounts#group for groups.'
        type: string
      members:
        description: '[Output Only] A list of URLs to User resources who belong to the group. Users may only be members of groups in the same project.'
        items:
          type: string
        type: array
      name:
        description: Name of the resource; provided by the client when the resource is created.
        pattern: '[a-z][-a-z0-9_]{0,31}'
        type: string
      selfLink:
        description: '[Output Only] Server defined URL for the resource.'
        type: string
    type: object
  GroupList:
    properties:
      id:
        description: '[Output Only] Unique identifier for the resource; defined by the server.'
        type: string
      items:
        description: '[Output Only] A list of Group resources.'
        items:
          $ref: '#/definitions/Group'
        type: array
      kind:
        default: 'clouduseraccounts#groupList'
        description: '[Output Only] Type of resource. Always clouduseraccounts#groupList for lists of groups.'
        type: string
      nextPageToken:
        description: '[Output Only] A token used to continue a truncated list request.'
        type: string
      selfLink:
        description: '[Output Only] Server defined URL for this resource.'
        type: string
    type: object
  GroupsAddMemberRequest:
    properties:
      users:
        description: Fully-qualified URLs of the User resources to add.
        items:
          type: string
        type: array
    type: object
  GroupsRemoveMemberRequest:
    properties:
      users:
        description: Fully-qualified URLs of the User resources to remove.
        items:
          type: string
        type: array
    type: object
  LinuxAccountViews:
    description: A list of all Linux accounts for this project. This API is only used by Compute Engine virtual machines to get information about user accounts for a project or instance. Linux resources are read-only views into users and groups managed by the Compute Engine Accounts API.
    properties:
      groupViews:
        description: '[Output Only] A list of all groups within a project.'
        items:
          $ref: '#/definitions/LinuxGroupView'
        type: array
      kind:
        default: 'clouduseraccounts#linuxAccountViews'
        description: '[Output Only] Type of the resource. Always clouduseraccounts#linuxAccountViews for Linux resources.'
        type: string
      userViews:
        description: '[Output Only] A list of all users within a project.'
        items:
          $ref: '#/definitions/LinuxUserView'
        type: array
    type: object
  LinuxGetAuthorizedKeysViewResponse:
    properties:
      resource:
        $ref: '#/definitions/AuthorizedKeysView'
        description: '[Output Only] A list of authorized public keys for a user.'
    type: object
  LinuxGetLinuxAccountViewsResponse:
    properties:
      resource:
        $ref: '#/definitions/LinuxAccountViews'
        description: '[Output Only] A list of authorized user accounts and groups.'
    type: object
  LinuxGroupView:
    description: A detailed view of a Linux group.
    properties:
      gid:
        description: '[Output Only] The Group ID.'
        format: uint32
        type: integer
      groupName:
        description: '[Output Only] Group name.'
        type: string
      members:
        description: '[Output Only] List of user accounts that belong to the group.'
        items:
          type: string
        type: array
    type: object
  LinuxUserView:
    description: A detailed view of a Linux user account.
    properties:
      gecos:
        description: '[Output Only] The GECOS (user information) entry for this account.'
        type: string
      gid:
        description: '[Output Only] User''s default group ID.'
        format: uint32
        type: integer
      homeDirectory:
        description: '[Output Only] The path to the home directory for this account.'
        type: string
      shell:
        description: '[Output Only] The path to the login shell for this account.'
        type: string
      uid:
        description: '[Output Only] User ID.'
        format: uint32
        type: integer
      username:
        description: '[Output Only] The username of the account.'
        type: string
    type: object
  LogConfig:
    description: Specifies what kind of log the caller must write
    properties:
      counter:
        $ref: '#/definitions/LogConfigCounterOptions'
        description: Counter options.
    type: object
  LogConfigCounterOptions:
    description: Options for counters
    properties:
      field:
        description: The field value to attribute.
        type: string
      metric:
        description: The metric to update.
        type: string
    type: object
  Operation:
    description: 'An Operation resource, used to manage asynchronous API requests.'
    properties:
      clientOperationId:
        description: '[Output Only] Reserved for future use.'
        type: string
      creationTimestamp:
        description: '[Output Only] Creation timestamp in RFC3339 text format.'
        type: string
      description:
        description: '[Output Only] A textual description of the operation, which is set when the operation is created.'
        type: string
      endTime:
        description: '[Output Only] The time that this operation was completed. This value is in RFC3339 text format.'
        type: string
      error:
        description: '[Output Only] If errors are generated during processing of the operation, this field will be populated.'
        properties:
          errors:
            description: '[Output Only] The array of errors encountered while processing this operation.'
            items:
              properties:
                code:
                  description: '[Output Only] The error type identifier for this error.'
                  type: string
                location:
                  description: '[Output Only] Indicates the field in the request that caused the error. This property is optional.'
                  type: string
                message:
                  description: '[Output Only] An optional, human-readable error message.'
                  type: string
              type: object
            type: array
        type: object
      httpErrorMessage:
        description: '[Output Only] If the operation fails, this field contains the HTTP error message that was returned, such as NOT FOUND.'
        type: string
      httpErrorStatusCode:
        description: '[Output Only] If the operation fails, this field contains the HTTP error status code that was returned. For example, a 404 means the resource was not found.'
        format: int32
        type: integer
      id:
        description: '[Output Only] The unique identifier for the resource. This identifier is defined by the server.'
        format: uint64
        type: string
      insertTime:
        description: '[Output Only] The time that this operation was requested. This value is in RFC3339 text format.'
        type: string
      kind:
        default: 'clouduseraccounts#operation'
        description: '[Output Only] Type of the resource. Always compute#operation for Operation resources.'
        type: string
      name:
        description: '[Output Only] Name of the resource.'
        type: string
      operationType:
        description: '[Output Only] The type of operation, such as insert, update, or delete, and so on.'
        type: string
      progress:
        description: '[Output Only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess when the operation will be complete. This number should monotonically increase as the operation progresses.'
        format: int32
        type: integer
      region:
        description: '[Output Only] The URL of the region where the operation resides. Only available when performing regional operations.'
        type: string
      selfLink:
        description: '[Output Only] Server-defined URL for the resource.'
        type: string
      startTime:
        description: '[Output Only] The time that this operation was started by the server. This value is in RFC3339 text format.'
        type: string
      status:
        description: '[Output Only] The status of the operation, which can be one of the following: PENDING, RUNNING, or DONE.'
        enum:
          - DONE
          - PENDING
          - RUNNING
        type: string
      statusMessage:
        description: '[Output Only] An optional textual description of the current status of the operation.'
        type: string
      targetId:
        description: '[Output Only] The unique target ID, which identifies a specific incarnation of the target resource.'
        format: uint64
        type: string
      targetLink:
        description: '[Output Only] The URL of the resource that the operation modifies.'
        type: string
      user:
        description: '[Output Only] User who requested the operation, for example: user@example.com.'
        type: string
      warnings:
        description: '[Output Only] If warning messages are generated during processing of the operation, this field will be populated.'
        items:
          properties:
            code:
              description: '[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.'
              enum:
                - CLEANUP_FAILED
                - DEPRECATED_RESOURCE_USED
                - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
                - INJECTED_KERNELS_DEPRECATED
                - NEXT_HOP_ADDRESS_NOT_ASSIGNED
                - NEXT_HOP_CANNOT_IP_FORWARD
                - NEXT_HOP_INSTANCE_NOT_FOUND
                - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
                - NEXT_HOP_NOT_RUNNING
                - NOT_CRITICAL_ERROR
                - NO_RESULTS_ON_PAGE
                - REQUIRED_TOS_AGREEMENT
                - RESOURCE_NOT_DELETED
                - SINGLE_INSTANCE_PROPERTY_TEMPLATE
                - UNREACHABLE
              type: string
            data:
              description: |-
                [Output Only] Metadata about this warning in key: value format. For example:
                "data": [ { "key": "scope", "value": "zones/us-east1-d" }
              items:
                properties:
                  key:
                    description: '[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).'
                    type: string
                  value:
                    description: '[Output Only] A warning data value corresponding to the key.'
                    type: string
                type: object
              type: array
            message:
              description: '[Output Only] A human-readable description of the warning code.'
              type: string
          type: object
        type: array
      zone:
        description: '[Output Only] The URL of the zone where the operation resides. Only available when performing per-zone operations.'
        type: string
    type: object
  OperationList:
    description: Contains a list of Operation resources.
    properties:
      id:
        description: '[Output Only] The unique identifier for the resource. This identifier is defined by the server.'
        type: string
      items:
        description: '[Output Only] A list of Operation resources.'
        items:
          $ref: '#/definitions/Operation'
        type: array
      kind:
        default: 'clouduseraccounts#operationList'
        description: '[Output Only] Type of resource. Always compute#operations for Operations resource.'
        type: string
      nextPageToken:
        description: '[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.'
        type: string
      selfLink:
        description: '[Output Only] Server-defined URL for this resource.'
        type: string
    type: object
  Policy:
    description: |-
      Defines an Identity and Access Management (IAM) policy. It is used to specify access control policies for Cloud Platform resources.



      A `Policy` consists of a list of `bindings`. A `Binding` binds a list of `members` to a `role`, where the members can be user accounts, Google groups, Google domains, and service accounts. A `role` is a named list of permissions defined by IAM.

      **Example**

      { "bindings": [ { "role": "roles/owner", "members": [ "user:mike@example.com", "group:admins@example.com", "domain:google.com", "serviceAccount:my-other-app@appspot.gserviceaccount.com", ] }, { "role": "roles/viewer", "members": ["user:sean@example.com"] } ] }

      For a description of IAM and its features, see the [IAM developer's guide](https://cloud.google.com/iam).
    properties:
      auditConfigs:
        description: |-
          Specifies audit logging configs for "data access". "data access": generally refers to data reads/writes and admin reads. "admin activity": generally refers to admin writes.

          Note: `AuditConfig` doesn't apply to "admin activity", which always enables audit logging.
        items:
          $ref: '#/definitions/AuditConfig'
        type: array
      bindings:
        description: Associates a list of `members` to a `role`. Multiple `bindings` must not be specified for the same `role`. `bindings` with no members will result in an error.
        items:
          $ref: '#/definitions/Binding'
        type: array
      etag:
        description: |-
          `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy.

          If no `etag` is provided in the call to `setIamPolicy`, then the existing policy is overwritten blindly.
        format: byte
        type: string
      iamOwned:
        description: ''
        type: boolean
      rules:
        description: 'If more than one rule is specified, the rules are applied in the following manner: - All matching LOG rules are always applied. - If any DENY/DENY_WITH_LOG rule matches, permission is denied. Logging will be applied if one or more matching rule requires logging. - Otherwise, if any ALLOW/ALLOW_WITH_LOG rule matches, permission is granted. Logging will be applied if one or more matching rule requires logging. - Otherwise, if no rule applies, permission is denied.'
        items:
          $ref: '#/definitions/Rule'
        type: array
      version:
        description: Version of the `Policy`. The default version is 0.
        format: int32
        type: integer
    type: object
  PublicKey:
    description: A public key for authenticating to guests.
    properties:
      creationTimestamp:
        description: '[Output Only] Creation timestamp in RFC3339 text format.'
        type: string
      description:
        description: An optional textual description of the resource; provided by the client when the resource is created.
        type: string
      expirationTimestamp:
        description: 'Optional expiration timestamp. If provided, the timestamp must be in RFC3339 text format. If not provided, the public key never expires.'
        type: string
      fingerprint:
        description: '[Output Only] The fingerprint of the key is defined by RFC4716 to be the MD5 digest of the public key.'
        type: string
      key:
        description: 'Public key text in SSH format, defined by RFC4253 section 6.6.'
        type: string
    type: object
  Rule:
    description: A rule to be applied in a Policy.
    properties:
      action:
        description: Required
        enum:
          - ALLOW
          - ALLOW_WITH_LOG
          - DENY
          - DENY_WITH_LOG
          - LOG
          - NO_ACTION
        type: string
      conditions:
        description: Additional restrictions that must be met
        items:
          $ref: '#/definitions/Condition'
        type: array
      description:
        description: Human-readable description of the rule.
        type: string
      ins:
        description: The rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is in this set of entries.
        items:
          type: string
        type: array
      logConfigs:
        description: The config returned to callers of tech.iam.IAM.CheckPolicy for any entries that match the LOG action.
        items:
          $ref: '#/definitions/LogConfig'
        type: array
      notIns:
        description: The rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is not in this set of entries.
        items:
          type: string
        type: array
      permissions:
        description: 'A permission is a string of form ''..'' (e.g., ''storage.buckets.list''). A value of ''*'' matches all permissions, and a verb part of ''*'' (e.g., ''storage.buckets.*'') matches all verbs.'
        items:
          type: string
        type: array
    type: object
  TestPermissionsRequest:
    properties:
      permissions:
        description: The set of permissions to check for the 'resource'. Permissions with wildcards (such as '*' or 'storage.*') are not allowed.
        items:
          type: string
        type: array
    type: object
  TestPermissionsResponse:
    properties:
      permissions:
        description: A subset of `TestPermissionsRequest.permissions` that the caller is allowed.
        items:
          type: string
        type: array
    type: object
  User:
    description: A User resource.
    properties:
      creationTimestamp:
        description: '[Output Only] Creation timestamp in RFC3339 text format.'
        type: string
      description:
        description: An optional textual description of the resource; provided by the client when the resource is created.
        type: string
      groups:
        description: '[Output Only] A list of URLs to Group resources who contain the user. Users are only members of groups in the same project.'
        items:
          type: string
        type: array
      id:
        description: '[Output Only] Unique identifier for the resource; defined by the server.'
        format: uint64
        type: string
      kind:
        default: 'clouduseraccounts#user'
        description: '[Output Only] Type of the resource. Always clouduseraccounts#user for users.'
        type: string
      name:
        description: Name of the resource; provided by the client when the resource is created.
        pattern: '[a-z][-a-z0-9_]{0,31}'
        type: string
      owner:
        description: 'Email address of account''s owner. This account will be validated to make sure it exists. The email can belong to any domain, but it must be tied to a Google account.'
        type: string
      publicKeys:
        description: '[Output Only] Public keys that this user may use to login.'
        items:
          $ref: '#/definitions/PublicKey'
        type: array
      selfLink:
        description: '[Output Only] Server defined URL for the resource.'
        type: string
    type: object
  UserList:
    properties:
      id:
        description: '[Output Only] Unique identifier for the resource; defined by the server.'
        type: string
      items:
        description: '[Output Only] A list of User resources.'
        items:
          $ref: '#/definitions/User'
        type: array
      kind:
        default: 'clouduseraccounts#userList'
        description: '[Output Only] Type of resource. Always clouduseraccounts#userList for lists of users.'
        type: string
      nextPageToken:
        description: '[Output Only] A token used to continue a truncated list request.'
        type: string
      selfLink:
        description: '[Output Only] Server defined URL for this resource.'
        type: string
    type: object
