openapi: 3.0.1
servers:
  - url: https://api.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Taskrouter
  version: 1.8.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_taskrouter_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_taskrouter_v1
paths:
  /v1/Workspaces:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListWorkspace
      parameters:
        - description: The `friendly_name` of the Workspace resources to read. For example `Customer Support` or `2014 Election Campaign`.
          in: query
          name: FriendlyName
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  workspaces:
                    items:
                      $ref: "#/components/schemas/taskrouter.v1.workspace"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateWorkspace
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                EventCallbackUrl:
                  description: The URL we should call when an event occurs. If provided, the Workspace will publish events to this URL, for example, to collect data for reporting. See [Workspace Events](https://www.twilio.com/docs/taskrouter/api/event) for more information.
                  format: uri
                  type: string
                EventsFilter:
                  description: The list of Workspace events for which to call event_callback_url. For example if `EventsFilter=task.created,task.canceled,worker.activity.update`, then TaskRouter will call event_callback_url only when a task is created, canceled, or a Worker activity is updated.
                  type: string
                FriendlyName:
                  description: "A descriptive string that you create to describe the Workspace resource. It can be up to 64 characters long. For example: `Customer Support` or `2014 Election Campaign`."
                  type: string
                MultiTaskEnabled:
                  description: "Whether to enable multi-tasking. Can be: `true` to enable multi-tasking, or `false` to disable it. The default is `false`. Multi-tasking allows Workers to handle multiple Tasks simultaneously. When enabled (`true`), each Worker can receive parallel reservations up to the per-channel maximums defined in the Workers section. Otherwise, each Worker will only receive a new reservation when the previous task is completed. Learn more at [Multitasking][https://www.twilio.com/docs/taskrouter/multitasking]."
                  type: boolean
                PrioritizeQueueOrder:
                  description: "The type of TaskQueue to prioritize when Workers are receiving Tasks from both types of TaskQueues. Can be: `LIFO` or `FIFO` and the default is `FIFO`. For more information, see [Queue Ordering][https://www.twilio.com/docs/taskrouter/queue-ordering-last-first-out-lifo]."
                  enum:
                    - FIFO
                    - LIFO
                  type: string
                Template:
                  description: "An available template name. Can be: `NONE` or `FIFO` and the default is `NONE`. Pre-configures the Workspace with the Workflow and Activities specified in the template. `NONE` will create a Workspace with only a set of default activities. `FIFO` will configure TaskRouter with a set of default activities and a single TaskQueue for first-in, first-out distribution, which can be useful when you are getting started with TaskRouter."
                  type: string
              required:
                - FriendlyName
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - prioritize_queue_order
    x-path-type: list
  "/v1/Workspaces/{Sid}":
    delete:
      description: ""
      operationId: DeleteWorkspace
      parameters:
        - description: The SID of the Workspace resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchWorkspace
      parameters:
        - description: The SID of the Workspace resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateWorkspace
      parameters:
        - description: The SID of the Workspace resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                DefaultActivitySid:
                  description: The SID of the Activity that will be used when new Workers are created in the Workspace.
                  maxLength: 34
                  minLength: 34
                  pattern: ^WA[0-9a-fA-F]{32}$
                  type: string
                EventCallbackUrl:
                  description: The URL we should call when an event occurs. See [Workspace Events](https://www.twilio.com/docs/taskrouter/api/event) for more information.
                  format: uri
                  type: string
                EventsFilter:
                  description: The list of Workspace events for which to call event_callback_url. For example if `EventsFilter=task.created,task.canceled,worker.activity.update`, then TaskRouter will call event_callback_url only when a task is created, canceled, or a Worker activity is updated.
                  type: string
                FriendlyName:
                  description: "A descriptive string that you create to describe the Workspace resource. For example: `Sales Call Center` or `Customer Support Team`."
                  type: string
                MultiTaskEnabled:
                  description: "Whether to enable multi-tasking. Can be: `true` to enable multi-tasking, or `false` to disable it. The default is `false`. Multi-tasking allows Workers to handle multiple Tasks simultaneously. When enabled (`true`), each Worker can receive parallel reservations up to the per-channel maximums defined in the Workers section. Otherwise, each Worker will only receive a new reservation when the previous task is completed. Learn more at [Multitasking][https://www.twilio.com/docs/taskrouter/multitasking]."
                  type: boolean
                PrioritizeQueueOrder:
                  description: "The type of TaskQueue to prioritize when Workers are receiving Tasks from both types of TaskQueues. Can be: `LIFO` or `FIFO` and the default is `FIFO`. For more information, see [Queue Ordering][https://www.twilio.com/docs/taskrouter/queue-ordering-last-first-out-lifo]."
                  enum:
                    - FIFO
                    - LIFO
                  type: string
                TimeoutActivitySid:
                  description: The SID of the Activity that will be assigned to a Worker when a Task reservation times out without a response.
                  maxLength: 34
                  minLength: 34
                  pattern: ^WA[0-9a-fA-F]{32}$
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - prioritize_queue_order
    x-path-type: instance
  "/v1/Workspaces/{WorkspaceSid}/Activities":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListActivity
      parameters:
        - description: The SID of the Workspace with the Activity resources to read.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The `friendly_name` of the Activity resources to read.
          in: query
          name: FriendlyName
          schema:
            type: string
        - description: Whether return only Activity resources that are available or unavailable. A value of `true` returns only available activities. Values of '1' or `yes` also indicate `true`. All other values represent `false` and return activities that are unavailable.
          in: query
          name: Available
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  activities:
                    items:
                      $ref: "#/components/schemas/taskrouter.v1.workspace.activity"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateActivity
      parameters:
        - description: The SID of the Workspace that the new Activity belongs to.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Available:
                  description: Whether the Worker should be eligible to receive a Task when it occupies the Activity. A value of `true`, `1`, or `yes` specifies the Activity is available. All other values specify that it is not. The value cannot be changed after the Activity is created.
                  type: boolean
                FriendlyName:
                  description: "A descriptive string that you create to describe the Activity resource. It can be up to 64 characters long. These names are used to calculate and expose statistics about Workers, and provide visibility into the state of each Worker. Examples of friendly names include: `on-call`, `break`, and `email`."
                  type: string
              required:
                - FriendlyName
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.activity"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - date_created
    x-path-type: list
  "/v1/Workspaces/{WorkspaceSid}/Activities/{Sid}":
    delete:
      description: ""
      operationId: DeleteActivity
      parameters:
        - description: The SID of the Workspace with the Activity resources to delete.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Activity resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WA[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchActivity
      parameters:
        - description: The SID of the Workspace with the Activity resources to fetch.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Activity resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WA[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.activity"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateActivity
      parameters:
        - description: The SID of the Workspace with the Activity resources to update.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Activity resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WA[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: "A descriptive string that you create to describe the Activity resource. It can be up to 64 characters long. These names are used to calculate and expose statistics about Workers, and provide visibility into the state of each Worker. Examples of friendly names include: `on-call`, `break`, and `email`."
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.activity"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - date_created
    x-path-type: instance
  "/v1/Workspaces/{WorkspaceSid}/CumulativeStatistics":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchWorkspaceCumulativeStatistics
      parameters:
        - description: The SID of the Workspace to fetch.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: Only include usage that occurred on or before this date, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.
          in: query
          name: EndDate
          schema:
            format: date-time
            type: string
        - description: Only calculate statistics since this many minutes in the past. The default 15 minutes. This is helpful for displaying statistics for the last 15 minutes, 240 minutes (4 hours), and 480 minutes (8 hours) to see trends.
          in: query
          name: Minutes
          schema:
            type: integer
        - description: Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          in: query
          name: StartDate
          schema:
            format: date-time
            type: string
        - description: Only calculate cumulative statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.
          in: query
          name: TaskChannel
          schema:
            type: string
        - description: A comma separated list of values that describes the thresholds, in seconds, to calculate statistics on. For each threshold specified, the number of Tasks canceled and reservations accepted above and below the specified thresholds in seconds are computed. For example, `5,30` would show splits of Tasks that were canceled or accepted before and after 5 seconds and before and after 30 seconds. This can be used to show short abandoned Tasks or Tasks that failed to meet an SLA.
          in: query
          name: SplitByWaitTime
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.workspace_cumulative_statistics"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - start_time
      - end_time
      - avg_task_acceptance_time
      - tasks_completed
    x-path-type: instance
  "/v1/Workspaces/{WorkspaceSid}/Events":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListEvent
      parameters:
        - description: The SID of the Workspace with the Events to read. Returns only the Events that pertain to the specified Workspace.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: Only include Events that occurred on or before this date, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.
          in: query
          name: EndDate
          schema:
            format: date-time
            type: string
        - description: The type of Events to read. Returns only Events of the type specified.
          in: query
          name: EventType
          schema:
            type: string
        - description: The period of events to read in minutes. Returns only Events that occurred since this many minutes in the past. The default is `15` minutes. Task Attributes for Events occuring more 43,200 minutes ago will be redacted.
          in: query
          name: Minutes
          schema:
            type: integer
        - description: The SID of the Reservation with the Events to read. Returns only Events that pertain to the specified Reservation.
          in: query
          name: ReservationSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WR[0-9a-fA-F]{32}$
            type: string
        - description: Only include Events from on or after this date and time, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format. Task Attributes for Events older than 30 days will be redacted.
          in: query
          name: StartDate
          schema:
            format: date-time
            type: string
        - description: The SID of the TaskQueue with the Events to read. Returns only the Events that pertain to the specified TaskQueue.
          in: query
          name: TaskQueueSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WQ[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Task with the Events to read. Returns only the Events that pertain to the specified Task.
          in: query
          name: TaskSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WT[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Worker with the Events to read. Returns only the Events that pertain to the specified Worker.
          in: query
          name: WorkerSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WK[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Workflow with the Events to read. Returns only the Events that pertain to the specified Workflow.
          in: query
          name: WorkflowSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WW[0-9a-fA-F]{32}$
            type: string
        - description: The TaskChannel with the Events to read. Returns only the Events that pertain to the specified TaskChannel.
          in: query
          name: TaskChannel
          schema:
            type: string
        - description: The SID of the Event resource to read.
          in: query
          name: Sid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^EV[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  events:
                    items:
                      $ref: "#/components/schemas/taskrouter.v1.workspace.event"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - sid
      - description
      - event_date
    x-path-type: list
  "/v1/Workspaces/{WorkspaceSid}/Events/{Sid}":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchEvent
      parameters:
        - description: The SID of the Workspace with the Event to fetch.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Event resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^EV[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.event"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - sid
      - description
      - event_date
    x-path-type: instance
  "/v1/Workspaces/{WorkspaceSid}/RealTimeStatistics":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchWorkspaceRealTimeStatistics
      parameters:
        - description: The SID of the Workspace to fetch.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: Only calculate real-time statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.
          in: query
          name: TaskChannel
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.workspace_real_time_statistics"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - longest_task_waiting_age
      - longest_task_waiting_sid
      - total_tasks
    x-path-type: instance
  "/v1/Workspaces/{WorkspaceSid}/Statistics":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchWorkspaceStatistics
      parameters:
        - description: The SID of the Workspace to fetch.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: Only calculate statistics since this many minutes in the past. The default 15 minutes. This is helpful for displaying statistics for the last 15 minutes, 240 minutes (4 hours), and 480 minutes (8 hours) to see trends.
          in: query
          name: Minutes
          schema:
            type: integer
        - description: Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          in: query
          name: StartDate
          schema:
            format: date-time
            type: string
        - description: Only calculate statistics from this date and time and earlier, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.
          in: query
          name: EndDate
          schema:
            format: date-time
            type: string
        - description: Only calculate statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.
          in: query
          name: TaskChannel
          schema:
            type: string
        - description: A comma separated list of values that describes the thresholds, in seconds, to calculate statistics on. For each threshold specified, the number of Tasks canceled and reservations accepted above and below the specified thresholds in seconds are computed. For example, `5,30` would show splits of Tasks that were canceled or accepted before and after 5 seconds and before and after 30 seconds. This can be used to show short abandoned Tasks or Tasks that failed to meet an SLA.
          in: query
          name: SplitByWaitTime
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.workspace_statistics"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - cumulative
    x-path-type: instance
  "/v1/Workspaces/{WorkspaceSid}/TaskChannels":
    description: Types of tasks
    get:
      description: ""
      operationId: ListTaskChannel
      parameters:
        - description: The SID of the Workspace with the Task Channel to read.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  channels:
                    items:
                      $ref: "#/components/schemas/taskrouter.v1.workspace.task_channel"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateTaskChannel
      parameters:
        - description: The SID of the Workspace that the new Task Channel belongs to.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ChannelOptimizedRouting:
                  description: Whether the Task Channel should prioritize Workers that have been idle. If `true`, Workers that have been idle the longest are prioritized.
                  type: boolean
                FriendlyName:
                  description: A descriptive string that you create to describe the Task Channel. It can be up to 64 characters long.
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the Task Channel, such as `voice` or `sms`.
                  type: string
              required:
                - FriendlyName
                - UniqueName
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.task_channel"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - date_created
    x-path-type: list
  "/v1/Workspaces/{WorkspaceSid}/TaskChannels/{Sid}":
    delete:
      description: ""
      operationId: DeleteTaskChannel
      parameters:
        - description: The SID of the Workspace with the Task Channel to delete.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Task Channel resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Types of tasks
    get:
      description: ""
      operationId: FetchTaskChannel
      parameters:
        - description: The SID of the Workspace with the Task Channel to fetch.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Task Channel resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.task_channel"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateTaskChannel
      parameters:
        - description: The SID of the Workspace with the Task Channel to update.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Task Channel resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ChannelOptimizedRouting:
                  description: Whether the TaskChannel should prioritize Workers that have been idle. If `true`, Workers that have been idle the longest are prioritized.
                  type: boolean
                FriendlyName:
                  description: A descriptive string that you create to describe the Task Channel. It can be up to 64 characters long.
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.task_channel"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - date_created
    x-path-type: instance
  "/v1/Workspaces/{WorkspaceSid}/TaskQueues":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListTaskQueue
      parameters:
        - description: The SID of the Workspace with the TaskQueue to read.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The `friendly_name` of the TaskQueue resources to read.
          in: query
          name: FriendlyName
          schema:
            type: string
        - description: The attributes of the Workers to read. Returns the TaskQueues with Workers that match the attributes specified in this parameter.
          in: query
          name: EvaluateWorkerAttributes
          schema:
            type: string
        - description: The SID of the Worker with the TaskQueue resources to read.
          in: query
          name: WorkerSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WK[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  task_queues:
                    items:
                      $ref: "#/components/schemas/taskrouter.v1.workspace.task_queue"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateTaskQueue
      parameters:
        - description: The SID of the Workspace that the new TaskQueue belongs to.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AssignmentActivitySid:
                  description: The SID of the Activity to assign Workers when a task is assigned to them.
                  maxLength: 34
                  minLength: 34
                  pattern: ^WA[0-9a-fA-F]{32}$
                  type: string
                FriendlyName:
                  description: A descriptive string that you create to describe the TaskQueue. For example `Support-Tier 1`, `Sales`, or `Escalation`.
                  type: string
                MaxReservedWorkers:
                  description: The maximum number of Workers to reserve for the assignment of a Task in the queue. Can be an integer between 1 and 50, inclusive and defaults to 1.
                  type: integer
                ReservationActivitySid:
                  description: The SID of the Activity to assign Workers when a task is reserved for them.
                  maxLength: 34
                  minLength: 34
                  pattern: ^WA[0-9a-fA-F]{32}$
                  type: string
                TargetWorkers:
                  description: A string that describes the Worker selection criteria for any Tasks that enter the TaskQueue. For example, `'"language" == "spanish"'`. The default value is `1==1`. If this value is empty, Tasks will wait in the TaskQueue until they are deleted or moved to another TaskQueue. For more information about Worker selection, see [Describing Worker selection criteria](https://www.twilio.com/docs/taskrouter/api/taskqueues#target-workers).
                  type: string
                TaskOrder:
                  description: How Tasks will be assigned to Workers. Set this parameter to `LIFO` to assign most recently created Task first or FIFO to assign the oldest Task first. Default is `FIFO`. [Click here](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first-out-lifo) to learn more.
                  enum:
                    - FIFO
                    - LIFO
                  type: string
              required:
                - FriendlyName
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.task_queue"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - task_order
    x-path-type: list
  "/v1/Workspaces/{WorkspaceSid}/TaskQueues/Statistics":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListTaskQueuesStatistics
      parameters:
        - description: The SID of the Workspace with the TaskQueues to read.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: Only calculate statistics from this date and time and earlier, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.
          in: query
          name: EndDate
          schema:
            format: date-time
            type: string
        - description: The `friendly_name` of the TaskQueue statistics to read.
          in: query
          name: FriendlyName
          schema:
            type: string
        - description: Only calculate statistics since this many minutes in the past. The default is 15 minutes.
          in: query
          name: Minutes
          schema:
            type: integer
        - description: Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          in: query
          name: StartDate
          schema:
            format: date-time
            type: string
        - description: Only calculate statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.
          in: query
          name: TaskChannel
          schema:
            type: string
        - description: A comma separated list of values that describes the thresholds, in seconds, to calculate statistics on. For each threshold specified, the number of Tasks canceled and reservations accepted above and below the specified thresholds in seconds are computed.
          in: query
          name: SplitByWaitTime
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  task_queues_statistics:
                    items:
                      $ref: "#/components/schemas/taskrouter.v1.workspace.task_queue.task_queues_statistics"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - cumulative
    x-path-type: list
  "/v1/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}":
    delete:
      description: ""
      operationId: DeleteTaskQueue
      parameters:
        - description: The SID of the Workspace with the TaskQueue to delete.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the TaskQueue resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WQ[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchTaskQueue
      parameters:
        - description: The SID of the Workspace with the TaskQueue to fetch.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the TaskQueue resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WQ[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.task_queue"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateTaskQueue
      parameters:
        - description: The SID of the Workspace with the TaskQueue to update.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the TaskQueue resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WQ[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AssignmentActivitySid:
                  description: The SID of the Activity to assign Workers when a task is assigned for them.
                  maxLength: 34
                  minLength: 34
                  pattern: ^WA[0-9a-fA-F]{32}$
                  type: string
                FriendlyName:
                  description: A descriptive string that you create to describe the TaskQueue. For example `Support-Tier 1`, `Sales`, or `Escalation`.
                  type: string
                MaxReservedWorkers:
                  description: The maximum number of Workers to create reservations for the assignment of a task while in the queue. Maximum of 50.
                  type: integer
                ReservationActivitySid:
                  description: The SID of the Activity to assign Workers when a task is reserved for them.
                  maxLength: 34
                  minLength: 34
                  pattern: ^WA[0-9a-fA-F]{32}$
                  type: string
                TargetWorkers:
                  description: A string describing the Worker selection criteria for any Tasks that enter the TaskQueue. For example '"language" == "spanish"' If no TargetWorkers parameter is provided, Tasks will wait in the queue until they are either deleted or moved to another queue. Additional examples on how to describing Worker selection criteria below.
                  type: string
                TaskOrder:
                  description: "How Tasks will be assigned to Workers. Can be: `FIFO` or `LIFO` and the default is `FIFO`. Use `FIFO` to assign the oldest task first and `LIFO` to assign the most recent task first. For more information, see [Queue Ordering](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first-out-lifo)."
                  enum:
                    - FIFO
                    - LIFO
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.task_queue"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - task_order
    x-path-type: instance
  "/v1/Workspaces/{WorkspaceSid}/TaskQueues/{TaskQueueSid}/CumulativeStatistics":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchTaskQueueCumulativeStatistics
      parameters:
        - description: The SID of the Workspace with the TaskQueue to fetch.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the TaskQueue for which to fetch statistics.
          in: path
          name: TaskQueueSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WQ[0-9a-fA-F]{32}$
            type: string
        - description: Only calculate statistics from this date and time and earlier, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.
          in: query
          name: EndDate
          schema:
            format: date-time
            type: string
        - description: Only calculate statistics since this many minutes in the past. The default is 15 minutes.
          in: query
          name: Minutes
          schema:
            type: integer
        - description: Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          in: query
          name: StartDate
          schema:
            format: date-time
            type: string
        - description: Only calculate cumulative statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.
          in: query
          name: TaskChannel
          schema:
            type: string
        - description: A comma separated list of values that describes the thresholds, in seconds, to calculate statistics on. For each threshold specified, the number of Tasks canceled and reservations accepted above and below the specified thresholds in seconds are computed.
          in: query
          name: SplitByWaitTime
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.task_queue.task_queue_cumulative_statistics"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - start_time
      - end_time
      - avg_task_acceptance_time
      - tasks_completed
    x-path-type: instance
  "/v1/Workspaces/{WorkspaceSid}/TaskQueues/{TaskQueueSid}/RealTimeStatistics":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchTaskQueueRealTimeStatistics
      parameters:
        - description: The SID of the Workspace with the TaskQueue to fetch.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the TaskQueue for which to fetch statistics.
          in: path
          name: TaskQueueSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WQ[0-9a-fA-F]{32}$
            type: string
        - description: The TaskChannel for which to fetch statistics. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.
          in: query
          name: TaskChannel
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.task_queue.task_queue_real_time_statistics"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - longest_task_waiting_age
      - longest_task_waiting_sid
      - total_tasks
    x-path-type: instance
  "/v1/Workspaces/{WorkspaceSid}/TaskQueues/{TaskQueueSid}/Statistics":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchTaskQueueStatistics
      parameters:
        - description: The SID of the Workspace with the TaskQueue to fetch.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the TaskQueue for which to fetch statistics.
          in: path
          name: TaskQueueSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WQ[0-9a-fA-F]{32}$
            type: string
        - description: Only calculate statistics from this date and time and earlier, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.
          in: query
          name: EndDate
          schema:
            format: date-time
            type: string
        - description: Only calculate statistics since this many minutes in the past. The default is 15 minutes.
          in: query
          name: Minutes
          schema:
            type: integer
        - description: Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          in: query
          name: StartDate
          schema:
            format: date-time
            type: string
        - description: Only calculate real-time and cumulative statistics for the specified TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.
          in: query
          name: TaskChannel
          schema:
            type: string
        - description: A comma separated list of values that describes the thresholds, in seconds, to calculate statistics on. For each threshold specified, the number of Tasks canceled and reservations accepted above and below the specified thresholds in seconds are computed.
          in: query
          name: SplitByWaitTime
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.task_queue.task_queue_statistics"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - cumulative
    x-path-type: instance
  "/v1/Workspaces/{WorkspaceSid}/Tasks":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListTask
      parameters:
        - description: The SID of the Workspace with the Tasks to read.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The priority value of the Tasks to read. Returns the list of all Tasks in the Workspace with the specified priority.
          in: query
          name: Priority
          schema:
            type: integer
        - description: "The `assignment_status` of the Tasks you want to read. Can be: `pending`, `reserved`, `assigned`, `canceled`, `wrapping`, or `completed`. Returns all Tasks in the Workspace with the specified `assignment_status`."
          in: query
          name: AssignmentStatus
          schema:
            items:
              type: string
            type: array
        - description: The SID of the Workflow with the Tasks to read. Returns the Tasks controlled by the Workflow identified by this SID.
          in: query
          name: WorkflowSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WW[0-9a-fA-F]{32}$
            type: string
        - description: The friendly name of the Workflow with the Tasks to read. Returns the Tasks controlled by the Workflow identified by this friendly name.
          in: query
          name: WorkflowName
          schema:
            type: string
        - description: The SID of the TaskQueue with the Tasks to read. Returns the Tasks waiting in the TaskQueue identified by this SID.
          in: query
          name: TaskQueueSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WQ[0-9a-fA-F]{32}$
            type: string
        - description: The `friendly_name` of the TaskQueue with the Tasks to read. Returns the Tasks waiting in the TaskQueue identified by this friendly name.
          in: query
          name: TaskQueueName
          schema:
            type: string
        - description: The attributes of the Tasks to read. Returns the Tasks that match the attributes specified in this parameter.
          in: query
          name: EvaluateTaskAttributes
          schema:
            type: string
        - description: "How to order the returned Task resources. y default, Tasks are sorted by ascending DateCreated. This value is specified as: `Attribute:Order`, where `Attribute` can be either `Priority` or `DateCreated` and `Order` can be either `asc` or `desc`. For example, `Priority:desc` returns Tasks ordered in descending order of their Priority. Multiple sort orders can be specified in a comma-separated list such as `Priority:desc,DateCreated:asc`, which returns the Tasks in descending Priority order and ascending DateCreated Order."
          in: query
          name: Ordering
          schema:
            type: string
        - description: Whether to read Tasks with addons. If `true`, returns only Tasks with addons. If `false`, returns only Tasks without addons.
          in: query
          name: HasAddons
          schema:
            type: boolean
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  tasks:
                    items:
                      $ref: "#/components/schemas/taskrouter.v1.workspace.task"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateTask
      parameters:
        - description: The SID of the Workspace that the new Task belongs to.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: "A URL-encoded JSON string with the attributes of the new task. This value is passed to the Workflow's `assignment_callback_url` when the Task is assigned to a Worker. For example: `{ \"task_type\": \"call\", \"twilio_call_sid\": \"CAxxx\", \"customer_ticket_number\": \"12345\" }`."
                  type: string
                Priority:
                  description: The priority to assign the new task and override the default. When supplied, the new Task will have this priority unless it matches a Workflow Target with a Priority set. When not supplied, the new Task will have the priority of the matching Workflow Target. Value can be 0 to 2^31^ (2,147,483,647).
                  type: integer
                TaskChannel:
                  description: When MultiTasking is enabled, specify the TaskChannel by passing either its `unique_name` or `sid`. Default value is `default`.
                  type: string
                Timeout:
                  description: The amount of time in seconds the new task can live before being assigned. Can be up to a maximum of 2 weeks (1,209,600 seconds). The default value is 24 hours (86,400 seconds). On timeout, the `task.canceled` event will fire with description `Task TTL Exceeded`.
                  type: integer
                WorkflowSid:
                  description: The SID of the Workflow that you would like to handle routing for the new Task. If there is only one Workflow defined for the Workspace that you are posting the new task to, this parameter is optional.
                  maxLength: 34
                  minLength: 34
                  pattern: ^WW[0-9a-fA-F]{32}$
                  type: string
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.task"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - sid
      - age
      - assignment_status
      - priority
      - reason
    x-path-type: list
  "/v1/Workspaces/{WorkspaceSid}/Tasks/{Sid}":
    delete:
      description: ""
      operationId: DeleteTask
      parameters:
        - description: The SID of the Workspace with the Task to delete.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Task resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WT[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchTask
      parameters:
        - description: The SID of the Workspace with the Task to fetch.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Task resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WT[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.task"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateTask
      parameters:
        - description: The SID of the Workspace with the Task to update.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Task resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WT[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AssignmentStatus:
                  description: "The new status of the task. Can be: `canceled`, to cancel a Task that is currently `pending` or `reserved`; `wrapping`, to move the Task to wrapup state; or `completed`, to move a Task to the completed state."
                  enum:
                    - pending
                    - reserved
                    - assigned
                    - canceled
                    - completed
                    - wrapping
                  type: string
                Attributes:
                  description: The JSON string that describes the custom attributes of the task.
                  type: string
                Priority:
                  description: The Task's new priority value. When supplied, the Task takes on the specified priority unless it matches a Workflow Target with a Priority set. Value can be 0 to 2^31^ (2,147,483,647).
                  type: integer
                Reason:
                  description: The reason that the Task was canceled or completed. This parameter is required only if the Task is canceled or completed. Setting this value queues the task for deletion and logs the reason.
                  type: string
                TaskChannel:
                  description: When MultiTasking is enabled, specify the TaskChannel with the task to update. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.task"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - sid
      - age
      - assignment_status
      - priority
      - reason
    x-path-type: instance
  "/v1/Workspaces/{WorkspaceSid}/Tasks/{TaskSid}/Reservations":
    description: Tasks reserved for workers
    get:
      description: ""
      operationId: ListTaskReservation
      parameters:
        - description: The SID of the Workspace with the TaskReservation resources to read.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the reserved Task resource with the TaskReservation resources to read.
          in: path
          name: TaskSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WT[0-9a-fA-F]{32}$
            type: string
        - description: "Returns the list of reservations for a task with a specified ReservationStatus.  Can be: `pending`, `accepted`, `rejected`, or `timeout`."
          in: query
          name: ReservationStatus
          schema:
            enum:
              - pending
              - accepted
              - rejected
              - timeout
              - canceled
              - rescinded
              - wrapping
              - completed
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  reservations:
                    items:
                      $ref: "#/components/schemas/taskrouter.v1.workspace.task.task_reservation"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - sid
      - reservation_status
      - worker_name
      - worker_sid
    x-path-type: list
  "/v1/Workspaces/{WorkspaceSid}/Tasks/{TaskSid}/Reservations/{Sid}":
    description: Tasks reserved for workers
    get:
      description: ""
      operationId: FetchTaskReservation
      parameters:
        - description: The SID of the Workspace with the TaskReservation resource to fetch.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the reserved Task resource with the TaskReservation resource to fetch.
          in: path
          name: TaskSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WT[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the TaskReservation resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WR[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.task.task_reservation"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateTaskReservation
      parameters:
        - description: The SID of the Workspace with the TaskReservation resources to update.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the reserved Task resource with the TaskReservation resources to update.
          in: path
          name: TaskSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WT[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the TaskReservation resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WR[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Beep:
                  description: "Whether to play a notification beep when the participant joins or when to play a beep. Can be: `true`, `false`, `onEnter`, or `onExit`. The default value is `true`."
                  type: string
                BeepOnCustomerEntrance:
                  description: Whether to play a notification beep when the customer joins.
                  type: boolean
                CallAccept:
                  description: Whether to accept a reservation when executing a Call instruction.
                  type: boolean
                CallFrom:
                  description: The Caller ID of the outbound call when executing a Call instruction.
                  type: string
                CallRecord:
                  description: Whether to record both legs of a call when executing a Call instruction or which leg to record.
                  type: string
                CallStatusCallbackUrl:
                  description: The URL to call  for the completed call event when executing a Call instruction.
                  format: uri
                  type: string
                CallTimeout:
                  description: Timeout for call when executing a Call instruction.
                  type: integer
                CallTo:
                  description: The Contact URI of the worker when executing a Call instruction.  Can be the URI of the Twilio Client, the SIP URI for Programmable SIP, or the [E.164](https://www.twilio.com/docs/glossary/what-e164) formatted phone number, depending on the destination.
                  type: string
                CallUrl:
                  description: TwiML URI executed on answering the worker's leg as a result of the Call instruction.
                  format: uri
                  type: string
                ConferenceRecord:
                  description: "Whether to record the conference the participant is joining or when to record the conference. Can be: `true`, `false`, `record-from-start`, and `do-not-record`. The default value is `false`."
                  type: string
                ConferenceRecordingStatusCallback:
                  description: The URL we should call using the `conference_recording_status_callback_method` when the conference recording is available.
                  format: uri
                  type: string
                ConferenceRecordingStatusCallbackMethod:
                  description: "The HTTP method we should use to call `conference_recording_status_callback`. Can be: `GET` or `POST` and defaults to `POST`."
                  enum:
                    - head
                    - get
                    - post
                    - patch
                    - put
                    - delete
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  type: string
                ConferenceStatusCallback:
                  description: The URL we should call using the `conference_status_callback_method` when the conference events in `conference_status_callback_event` occur. Only the value set by the first participant to join the conference is used. Subsequent `conference_status_callback` values are ignored.
                  format: uri
                  type: string
                ConferenceStatusCallbackEvent:
                  description: "The conference status events that we will send to `conference_status_callback`. Can be: `start`, `end`, `join`, `leave`, `mute`, `hold`, `speaker`."
                  items:
                    enum:
                      - start
                      - end
                      - join
                      - leave
                      - mute
                      - hold
                      - speaker
                    type: string
                  type: array
                ConferenceStatusCallbackMethod:
                  description: "The HTTP method we should use to call `conference_status_callback`. Can be: `GET` or `POST` and defaults to `POST`."
                  enum:
                    - head
                    - get
                    - post
                    - patch
                    - put
                    - delete
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  type: string
                ConferenceTrim:
                  description: "How to trim the leading and trailing silence from your recorded conference audio files. Can be: `trim-silence` or `do-not-trim` and defaults to `trim-silence`."
                  type: string
                DequeueFrom:
                  description: The Caller ID of the call to the worker when executing a Dequeue instruction.
                  type: string
                DequeuePostWorkActivitySid:
                  description: The SID of the Activity resource to start after executing a Dequeue instruction.
                  maxLength: 34
                  minLength: 34
                  pattern: ^WA[0-9a-fA-F]{32}$
                  type: string
                DequeueRecord:
                  description: Whether to record both legs of a call when executing a Dequeue instruction or which leg to record.
                  type: string
                DequeueStatusCallbackEvent:
                  description: The Call progress events sent via webhooks as a result of a Dequeue instruction.
                  items:
                    type: string
                  type: array
                DequeueStatusCallbackUrl:
                  description: The Callback URL for completed call event when executing a Dequeue instruction.
                  format: uri
                  type: string
                DequeueTimeout:
                  description: Timeout for call when executing a Dequeue instruction.
                  type: integer
                DequeueTo:
                  description: The Contact URI of the worker when executing a Dequeue instruction. Can be the URI of the Twilio Client, the SIP URI for Programmable SIP, or the [E.164](https://www.twilio.com/docs/glossary/what-e164) formatted phone number, depending on the destination.
                  type: string
                EarlyMedia:
                  description: Whether to allow an agent to hear the state of the outbound call, including ringing or disconnect messages. The default is `true`.
                  type: boolean
                EndConferenceOnCustomerExit:
                  description: Whether to end the conference when the customer leaves.
                  type: boolean
                EndConferenceOnExit:
                  description: Whether to end the conference when the agent leaves.
                  type: boolean
                From:
                  description: The Caller ID of the call to the worker when executing a Conference instruction.
                  type: string
                Instruction:
                  description: The assignment instruction for reservation.
                  type: string
                MaxParticipants:
                  description: The maximum number of participants in the conference. Can be a positive integer from `2` to `250`. The default value is `250`.
                  type: integer
                Muted:
                  description: Whether the agent is muted in the conference. The default is `false`.
                  type: boolean
                PostWorkActivitySid:
                  description: The new worker activity SID after executing a Conference instruction.
                  maxLength: 34
                  minLength: 34
                  pattern: ^WA[0-9a-fA-F]{32}$
                  type: string
                Record:
                  description: Whether to record the participant and their conferences, including the time between conferences. The default is `false`.
                  type: boolean
                RecordingChannels:
                  description: "The recording channels for the final recording. Can be: `mono` or `dual` and the default is `mono`."
                  type: string
                RecordingStatusCallback:
                  description: The URL that we should call using the `recording_status_callback_method` when the recording status changes.
                  format: uri
                  type: string
                RecordingStatusCallbackMethod:
                  description: "The HTTP method we should use when we call `recording_status_callback`. Can be: `GET` or `POST` and defaults to `POST`."
                  enum:
                    - head
                    - get
                    - post
                    - patch
                    - put
                    - delete
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  type: string
                RedirectAccept:
                  description: Whether the reservation should be accepted when executing a Redirect instruction.
                  type: boolean
                RedirectCallSid:
                  description: The Call SID of the call parked in the queue when executing a Redirect instruction.
                  maxLength: 34
                  minLength: 34
                  pattern: ^CA[0-9a-fA-F]{32}$
                  type: string
                RedirectUrl:
                  description: TwiML URI to redirect the call to when executing the Redirect instruction.
                  format: uri
                  type: string
                Region:
                  description: The [region](https://support.twilio.com/hc/en-us/articles/223132167-How-global-low-latency-routing-and-region-selection-work-for-conferences-and-Client-calls) where we should mix the recorded audio. Can be:`us1`, `ie1`, `de1`, `sg1`, `br1`, `au1`, or `jp1`.
                  type: string
                ReservationStatus:
                  description: "The new status of the reservation. Can be: `pending`, `accepted`, `rejected`, or `timeout`."
                  enum:
                    - pending
                    - accepted
                    - rejected
                    - timeout
                    - canceled
                    - rescinded
                    - wrapping
                    - completed
                  type: string
                SipAuthPassword:
                  description: The SIP password for authentication.
                  type: string
                SipAuthUsername:
                  description: The SIP username used for authentication.
                  type: string
                StartConferenceOnEnter:
                  description: Whether to start the conference when the participant joins, if it has not already started. The default is `true`. If `false` and the conference has not started, the participant is muted and hears background music until another participant starts the conference.
                  type: boolean
                StatusCallback:
                  description: The URL we should call using the `status_callback_method` to send status information to your application.
                  format: uri
                  type: string
                StatusCallbackEvent:
                  description: "The call progress events that we will send to `status_callback`. Can be: `initiated`, `ringing`, `answered`, or `completed`."
                  items:
                    enum:
                      - initiated
                      - ringing
                      - answered
                      - completed
                    type: string
                  type: array
                StatusCallbackMethod:
                  description: "The HTTP method we should use to call `status_callback`. Can be: `POST` or `GET` and the default is `POST`."
                  enum:
                    - head
                    - get
                    - post
                    - patch
                    - put
                    - delete
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  type: string
                Supervisor:
                  description: The Supervisor SID/URI when executing the Supervise instruction.
                  type: string
                SupervisorMode:
                  description: The Supervisor mode when executing the Supervise instruction.
                  enum:
                    - monitor
                    - whisper
                    - barge
                  type: string
                Timeout:
                  description: Timeout for call when executing a Conference instruction.
                  type: integer
                To:
                  description: The Contact URI of the worker when executing a Conference instruction. Can be the URI of the Twilio Client, the SIP URI for Programmable SIP, or the [E.164](https://www.twilio.com/docs/glossary/what-e164) formatted phone number, depending on the destination.
                  type: string
                WaitMethod:
                  description: The HTTP method we should use to call `wait_url`. Can be `GET` or `POST` and the default is `POST`. When using a static audio file, this should be `GET` so that we can cache the file.
                  enum:
                    - head
                    - get
                    - post
                    - patch
                    - put
                    - delete
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  type: string
                WaitUrl:
                  description: The URL we should call using the `wait_method` for the music to play while participants are waiting for the conference to start. The default value is the URL of our standard hold music. [Learn more about hold music](https://www.twilio.com/labs/twimlets/holdmusic).
                  format: uri
                  type: string
                WorkerActivitySid:
                  description: The new worker activity SID if rejecting a reservation.
                  maxLength: 34
                  minLength: 34
                  pattern: ^WA[0-9a-fA-F]{32}$
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.task.task_reservation"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - sid
      - reservation_status
      - worker_name
      - worker_sid
    x-path-type: instance
  "/v1/Workspaces/{WorkspaceSid}/Workers":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListWorker
      parameters:
        - description: The SID of the Workspace with the Workers to read.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: The `activity_name` of the Worker resources to read.
          in: query
          name: ActivityName
          schema:
            type: string
        - description: The `activity_sid` of the Worker resources to read.
          in: query
          name: ActivitySid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WA[0-9a-fA-F]{32}$
            type: string
        - description: Whether to return only Worker resources that are available or unavailable. Can be `true`, `1`, or `yes` to return Worker resources that are available, and `false`, or any value returns the Worker resources that are not available.
          in: query
          name: Available
          schema:
            type: string
        - description: The `friendly_name` of the Worker resources to read.
          in: query
          name: FriendlyName
          schema:
            type: string
        - description: Filter by Workers that would match an expression on a TaskQueue. This is helpful for debugging which Workers would match a potential queue.
          in: query
          name: TargetWorkersExpression
          schema:
            type: string
        - description: The `friendly_name` of the TaskQueue that the Workers to read are eligible for.
          in: query
          name: TaskQueueName
          schema:
            type: string
        - description: The SID of the TaskQueue that the Workers to read are eligible for.
          in: query
          name: TaskQueueSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WQ[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  workers:
                    items:
                      $ref: "#/components/schemas/taskrouter.v1.workspace.worker"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateWorker
      parameters:
        - description: The SID of the Workspace that the new Worker belongs to.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ActivitySid:
                  description: The SID of a valid Activity that will describe the new Worker's initial state. See [Activities](https://www.twilio.com/docs/taskrouter/api/activity) for more information. If not provided, the new Worker's initial state is the `default_activity_sid` configured on the Workspace.
                  maxLength: 34
                  minLength: 34
                  pattern: ^WA[0-9a-fA-F]{32}$
                  type: string
                Attributes:
                  description: 'A valid JSON string that describes the new Worker. For example: `{ "email": "Bob@example.com", "phone": "+5095551234" }`. This data is passed to the `assignment_callback_url` when TaskRouter assigns a Task to the Worker. Defaults to {}.'
                  type: string
                FriendlyName:
                  description: A descriptive string that you create to describe the new Worker. It can be up to 64 characters long.
                  type: string
              required:
                - FriendlyName
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.worker"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - available
    x-path-type: list
  "/v1/Workspaces/{WorkspaceSid}/Workers/CumulativeStatistics":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchWorkersCumulativeStatistics
      parameters:
        - description: The SID of the Workspace with the resource to fetch.
          in: path
          name: WorkspaceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WS[0-9a-fA-F]{32}$
            type: string
        - description: Only calculate statistics from this date and time and earlier, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          in: query
          name: EndDate
          schema:
            format: date-time
            type: string
        - description: Only calculate statistics since this many minutes in the past. The default 15 minutes. This is helpful for displaying statistics for the last 15 minutes, 240 minutes (4 hours), and 480 minutes (8 hours) to see trends.
          in: query
          name: Minutes
          schema:
            type: integer
        - description: Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          in: query
          name: StartDate
          schema:
            format: date-time
            type: string
        - description: Only calculate cumulative statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.
          in: query
          name: TaskChannel
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/taskrouter.v1.workspace.worker.workers_cumulative_statistics"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://taskrouter.twilio.com
    x-default-output-properties:
      - reservations_created
      - reservations_accepted
      - reservations_rejected
      - reservations_timed_out
      - reservations_canceled
      - reservations_rescinded
    x-path-type: instance
  "/v1/Workspaces/{WorkspaceSid}/Workers/RealTimeStatistics":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchWorkersRealTimeStatistics
      parameters:
[...]
