{
    "swagger": "2.0",
    "info": {
        "title": "Open Exchange Rates API",
        "description": "Open Exchange Rates provides a simple, lightweight and portable JSON API with real-time rates for 165 world currencies, focusing on ease-of-implementation, algorithmically blending currency conversion rates from many sources to provide a consistent and reliable service.",
        "version": "1.0.0"
    },
    "host": "openexchangerates.org",
    "schemes": [
        "https"
    ],
    "basePath": "/api",
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "app_id": []
        }
    ],
    "tags": [
        {
            "name": "exchange",
            "description": "Operation which works with exchange rates"
        }
    ],
    "paths": {
        "/latest.json": {
            "get": {
                "tags": [
                    "exchange"
                ],
                "summary": "Latest",
                "description": "The most up-to-date exchange rates",
                "responses": {
                    "200": {
                        "description": "An array of most up-to-date exchange rates",
                        "schema": {
                            "$ref": "#/definitions/ExchangeRateContainer"
                        }
                    }
                }
            }
        },
        "/currencies.json": {
            "get": {
                "tags": [
                    "exchange"
                ],
                "summary": "Currency codes",
                "description": "Get list of currency codes and names",
                "responses": {
                    "200": {
                        "description": "An array of price estimates by product",
                        "schema": {
                            "$ref": "#/definitions/ExchangeRateContainer"
                        }
                    }
                }
            }
        },
        "/historical/{date}.json": {
            "get": {
                "tags": [
                    "exchange"
                ],
                "summary": "Historical",
                "description": "Historical end of day exchange rates are available for every day since 1999",
                "parameters": [
                    {
                        "name": "base",
                        "in": "query",
                        "description": "The base currency to which all the exchange rates are relative",
                        "type": "string"
                    },
                    {
                        "name": "date",
                        "in": "path",
                        "type": "string",
                        "description": "The date parameter specify the day for which you need exchange rate in yyyy-mm-dd format",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of products",
                        "schema": {
                            "$ref": "#/definitions/ExchangeRateContainer"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "ExchangeRates": {
            "properties": {
                "additionalProperties": {
                    "description": "The currency code according to ISO",
                    "$ref": "#/definitions/ExchangeRate"
                }
            }
        },
        "ExchangeRate": {
            "type": "number",
            "description": "Exchange rate between base and currency."
        },
        "ExchangeRateContainer": {
            "properties": {
                "disclaimer": {
                    "type": "string",
                    "description": "A remainder to anybody viewing/using this API"
                },
                "license": {
                    "type": "string",
                    "description": "Similar to desclimer, usage is to represent license agreement"
                },
                "timestamp": {
                    "type": "integer",
                    "description": "The timestamp property indicates amount of seconds from 1970 year."
                },
                "rates": {
                    "$ref": "#/definitions/ExchangeRates"
                }
            }
        }
    },
    "securityDefinitions": {
        "app_id": {
            "type": "apiKey",
            "in": "query",
            "name": "app_id"
        }
    }
}