openapi: 3.1.0
info:
  title: NEWDB API
  version: 1.0.0
  description: 'OpenAPI-спецификация для NEWDB API -  проверки физ. / юр. лиц , имущества.

    Основной интерфейс работает через  асинхронный метод `POST /v2`. Для синхронных запросов реализован метод  `GET - /v2/run` '
servers:
- url: https://api.newdb.net
  description: Production API host
security:
- ApiKeyAuth: []
tags:
- name: Service
  description: 'Базовые операции NEWDB API: постановка задач, получение результата, синхронный запуск и проверка баланса.'
- name: Physical Persons
  description: 'Обзор методов NEWDB для проверки физических лиц: ФССП, ФНС, паспорт, банкротство, залоги, арбитраж, ИП и специальные
    реестры.'
  externalDocs:
    url: https://newdb.net/docs/fiz/
- name: Legal Entities
  description: 'Обзор методов NEWDB для проверки юридических лиц: арбитраж, блокировки счетов, банкротство, ФССП и сведения
    ЕГРЮЛ.'
  externalDocs:
    url: https://newdb.net/docs/legal/
- name: Foreign Citizens
  description: 'Обзор методов NEWDB для проверки иностранных граждан: ВНЖ, патент, РВП, разрешение на работу и реестр контролируемых
    лиц.'
  externalDocs:
    url: https://newdb.net/docs/foreign/
- name: Justice
  description: 'Обзор методов NEWDB для работы с данными ГАС Правосудие: поиск и детализация судебных дел, участники, события
    и документы.'
  externalDocs:
    url: https://newdb.net/docs/gas/
- name: Property
  description: Обзор методов NEWDB для проверки недвижимости, транспортных средств, залогов и обременений.
  externalDocs:
    url: https://newdb.net/docs/property/
- name: Complex Methods
  description: Комплексные методы NEWDB объединяют несколько проверок по одному идентификатору и возвращают агрегированный
    результат.
  externalDocs:
    url: https://newdb.net/docs/fiz/04-complex_by_passport/
paths:
  /v2:
    post:
      tags:
      - Service
      summary: Отправить асинхронный запрос NEWDB
      description: 'Универсальная точка входа для асинхронных запросов NEWDB. Конкретный бизнес-метод выбирается по `params.method`.
        Варианты методов доступны в Request body через Schema / Examples.


        Lifecycle: POST /v2 ставит задачу в очередь и возвращает envelope со state=queued. Далее состояние отслеживается через
        повторную отправку POST-запроса на /v2 с тем же requestId.


        Если в теле запроса передан `webhook: "https://URL"`, NEWDB отправит результат POST-запросом на этот URL. Webhook
        используется как альтернативный способ получения результата без повторной отправки `POST /v2` с тем же `requestId`.'
      operationId: createAsyncRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/fssp_personRequest'
              - $ref: '#/components/schemas/passport_fnsRequest'
              - $ref: '#/components/schemas/passport_mvdRequest'
              - $ref: '#/components/schemas/complex_by_passportRequest'
              - $ref: '#/components/schemas/complex_by_innRequest'
              - $ref: '#/components/schemas/complex_by_innfizRequest'
              - $ref: '#/components/schemas/bankrot_personRequest'
              - $ref: '#/components/schemas/pledge_personRequest'
              - $ref: '#/components/schemas/arbitr_personRequest'
              - $ref: '#/components/schemas/nalog_debtRequest'
              - $ref: '#/components/schemas/elmk_registryRequest'
              - $ref: '#/components/schemas/fns_block_personRequest'
              - $ref: '#/components/schemas/egrul_ipRequest'
              - $ref: '#/components/schemas/terroristRequest'
              - $ref: '#/components/schemas/mvd_wantedRequest'
              - $ref: '#/components/schemas/inoagentRequest'
              - $ref: '#/components/schemas/foreign_vngRequest'
              - $ref: '#/components/schemas/foreign_patentRequest'
              - $ref: '#/components/schemas/foreign_rvp_stampRequest'
              - $ref: '#/components/schemas/foreign_rvp_blankRequest'
              - $ref: '#/components/schemas/foreign_rnrRequest'
              - $ref: '#/components/schemas/rklRequest'
              - $ref: '#/components/schemas/patent_mskRequest'
              - $ref: '#/components/schemas/patent_moRequest'
              - $ref: '#/components/schemas/arbitr_legalRequest'
              - $ref: '#/components/schemas/arbitr_caseRequest'
              - $ref: '#/components/schemas/fns_blockRequest'
              - $ref: '#/components/schemas/bankrot_legalRequest'
              - $ref: '#/components/schemas/egrulRequest'
              - $ref: '#/components/schemas/fssp_legalRequest'
              - $ref: '#/components/schemas/pravo_searchRequest'
              - $ref: '#/components/schemas/act_text_searchRequest'
              - $ref: '#/components/schemas/pravo_cases_detailsRequest'
              - $ref: '#/components/schemas/rosreestrRequest'
              - $ref: '#/components/schemas/pledge_propertyRequest'
              - $ref: '#/components/schemas/pledge_legalRequest'
              - $ref: '#/components/schemas/pledge_vinRequest'
              - $ref: '#/components/schemas/nspd_cadastrRequest'
              - $ref: '#/components/schemas/realty_priceRequest'
            examples:
              fssp_person:
                summary: fssp_person — Проверка ФЛ по базе ФССП
                value:
                  params:
                    firstname: Иван
                    lastname: Иванов
                    secondname: Иванович
                    dob: '1990-01-01'
                    country: ru
                    method: fssp_person
                    regioncode: 100
                  webhook: https://example.com/newdb-webhook
                  requestId: 00000000-0000-4000-8000-000000000001
              passport_fns:
                summary: passport_fns — Проверка  паспорта/ИНН через ФНС
                value:
                  params:
                    method: passport_fns
                    country: ru
                    lastname: Иванов
                    firstname: Иван
                    secondname: Иванович
                    dob: '1990-01-01'
                    seria: '1234'
                    number: '123456'
                    seriapass: '1234'
                    numberpass: '123456'
                  requestId: 00000000-0000-4000-8000-000000000002
              passport_mvd:
                summary: passport_mvd — Проверка паспорта РФ на действительность
                value:
                  params:
                    seria: '1234'
                    number: '123456'
                    method: passport_mvd
                    firstname: Иван
                    lastname: Иванов
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000003
              bankrot_person:
                summary: bankrot_person — Проверка на банкротство физлица (Федресурс)
                value:
                  params:
                    innfiz: '500100732259'
                    country: ru
                    method: bankrot_person
                  requestId: 00000000-0000-4000-8000-000000000004
              pledge_person:
                summary: pledge_person — Проверка залогов и обременений (ФНП + Федресурс)
                value:
                  params:
                    firstname: Иван
                    lastname: Иванов
                    method: pledge_person
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000001
              arbitr_person:
                summary: arbitr_person — Проверка арбитражных дел (физлица, КАД)
                value:
                  params:
                    innfiz: '500100732259'
                    country: ru
                    method: arbitr_person
                  requestId: 00000000-0000-4000-8000-000000000002
              nalog_debt:
                summary: nalog_debt — Проверка налоговой задолженности по ИНН
                value:
                  params:
                    inn: '7712345678'
                    country: ru
                    method: nalog_debt
                  requestId: 00000000-0000-4000-8000-000000000003
              elmk_registry:
                summary: elmk_registry — Проверка статуса электронной медицинской книжки
                value:
                  params:
                    elmk_number: 00-00-000000-00
                    snils: 123-456-789 00
                    country: ru
                    method: elmk_registry
                  webhook: https://example.com/newdb-webhook
                  requestId: 00000000-0000-4000-8000-000000000004
              fns_block_person:
                summary: fns_block_person — Проверка блокировок счетов физлица (ФНС)
                value:
                  params:
                    innfiz: '500100732259'
                    method: fns_block_person
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000001
              egrul_ip:
                summary: egrul_ip — Проверка статуса ИП / сведений ЕГРИП
                value:
                  params:
                    innfiz: '500100732259'
                    country: ru
                    method: egrul_ip
                  webhook: https://example.com/newdb-webhook
                  requestId: 00000000-0000-4000-8000-000000000002
              terrorist:
                summary: terrorist — Проверка на причастность к терроризму и распространению ОМУ
                value:
                  params:
                    firstname: Иван
                    lastname: Иванов
                    secondname: Иванович
                    dob: '1990-01-01'
                    method: terrorist
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000003
              mvd_wanted:
                summary: mvd_wanted — Проверка физлица в розыске МВД
                value:
                  params:
                    method: mvd_wanted
                    lastname: Иванов
                    firstname: Иван
                    secondname: Иванович
                    dob: '1990-01-01'
                    email: client@example.com
                  requestId: 00000000-0000-4000-8000-000000000101
              inoagent:
                summary: inoagent — Проверка физлица в реестре иностранных агентов
                value:
                  params:
                    method: inoagent
                    lastname: Иванов
                    firstname: Иван
                    secondname: Иванович
                  requestId: 00000000-0000-4000-8000-000000000201
              foreign_vng:
                summary: foreign_vng — Вид на жительство (ВНЖ)
                value:
                  params:
                    method: foreign_vng
                    doctype: vng
                    firstname: Иван
                    lastname: Иванов
                    doc_seria: AB
                    doc_number: '7654321'
                    id_doc_seria: FA
                    id_doc_number: '1234567'
                    blank_seria: AA
                    blank_number: '1122334'
                    dob: '1990-01-01'
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000004
              foreign_patent:
                summary: foreign_patent — Патент
                value:
                  params:
                    method: foreign_patent
                    doctype: patent
                    firstname: Иван
                    lastname: Иванов
                    secondname: Иванович
                    doc_seria: AB
                    doc_number: '7654321'
                    id_doc_seria: FA
                    id_doc_number: '1234567'
                    blank_seria: AA
                    blank_number: '1122334'
                    dob: '1990-01-01'
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000001
              foreign_rvp_stamp:
                summary: foreign_rvp_stamp — РВП (штамп в паспорте)
                value:
                  params:
                    method: foreign_rvp_stamp
                    doctype: rvp_stamp
                    firstname: Иван
                    lastname: Иванов
                    issue_date: '2025-01-01'
                    id_doc_seria: FA
                    id_doc_number: '1234567'
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000002
              foreign_rvp_blank:
                summary: foreign_rvp_blank — РВП (бланк)
                value:
                  params:
                    method: foreign_rvp_blank
                    doctype: rvp_blank
                    firstname: Иван
                    lastname: Иванов
                    secondname: Иванович
                    doc_seria: AB
                    doc_number: '7654321'
                    id_doc_seria: FA
                    id_doc_number: '1234567'
                    dob: '1990-01-01'
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000003
              foreign_rnr:
                summary: foreign_rnr — Разрешение на работу (РНР)
                value:
                  params:
                    method: foreign_rnr
                    doctype: rnr
                    doc_seria: AB
                    doc_number: '7654321'
                    id_doc_seria: FA
                    id_doc_number: '1234567'
                    blank_seria: AA
                    blank_number: '1122334'
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000004
              rkl:
                summary: rkl — Проверка по реестру контролируемых лиц
                value:
                  params:
                    method: rkl
                    country: ru
                    lastname: Иванов
                    firstname: Иван
                    secondname: Иванович
                    dob_info: '1990-01-01'
                    issue_date: '1990-01-01'
                    id_doc_seria: FA
                    id_doc_number: '1234567'
                  requestId: 00000000-0000-4000-8000-000000000001
              patent_msk:
                summary: patent_msk — Патент (Москва)
                value:
                  params:
                    method: patent_msk
                    id_doc_seria: FA
                    id_doc_number: '1234567'
                    citizenship: Узбекистан
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000002
              patent_mo:
                summary: patent_mo — Патент (Московская область)
                value:
                  params:
                    method: patent_mo
                    innfiz: '500100732259'
                    dob: '1990-01-01'
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000003
              arbitr_legal:
                summary: arbitr_legal — Проверка арбитражных дел (юрлица, КАД)
                value:
                  params:
                    inn: '7712345678'
                    country: ru
                    method: arbitr_legal
                  requestId: 00000000-0000-4000-8000-000000000004
              fns_block:
                summary: fns_block — Проверка блокировок счетов юрлица (ФНС)
                value:
                  params:
                    inn: '7712345678'
                    country: ru
                    method: fns_block
                  webhook: https://example.com/newdb-webhook
                  requestId: 00000000-0000-4000-8000-000000000001
              bankrot_legal:
                summary: bankrot_legal — Проверка на банкротство юрлица (Федресурс)
                value:
                  params:
                    inn: '7712345678'
                    country: ru
                    method: bankrot_legal
                  requestId: 00000000-0000-4000-8000-000000000002
              egrul:
                summary: egrul — Сведения ЕГРЮЛ / Прозрачный бизнес
                value:
                  params:
                    inn: '7712345678'
                    method: egrul
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000003
              fssp_legal:
                summary: fssp_legal — Исполнительные производства ФССП по ИНН юрлица
                value:
                  params:
                    method: fssp_legal
                    inn: '7712345678'
                  webhook: https://example.com/newdb-webhook
                  requestId: 00000000-0000-4000-8000-000000000004
              pravo_search:
                summary: pravo_search — Поиск судебных дел
                value:
                  params:
                    query: Иванов
                    country: ru
                    method: pravo_search
                  requestId: 00000000-0000-4000-8000-000000000001
              act_text_search:
                summary: act_text_search — Поиск судебных дел по текстам актов
                value:
                  params:
                    act_text: <act_text>
                    country: ru
                    method: act_text_search
                  requestId: 00000000-0000-4000-8000-000000000002
              pravo_cases_details:
                summary: pravo_cases_details — Получение деталей дела по NewdbID
                value:
                  params:
                    case_id: '1145323'
                    country: ru
                    method: pravo_cases_details
                  requestId: 00000000-0000-4000-8000-000000000003
              rosreestr:
                summary: rosreestr — Проверка объекта недвижимости (Росреестр)
                value:
                  params:
                    address: Одинцово Белорусская д.3 кв. 382
                    method: rosreestr
                    country: ru
                  webhook: https://example.com/newdb-webhook
                  requestId: 00000000-0000-4000-8000-000000000004
              pledge_property:
                summary: pledge_property — Проверка залога и обременений по ID (ФНП + Федресурс)
                value:
                  params:
                    propertyid: <propertyid>
                    method: pledge_property
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000001
              pledge_vin:
                summary: pledge_vin — Проверка залога и обременений по VIN (ФНП + Федресурс)
                value:
                  params:
                    vin: <vin>
                    method: pledge_vin
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000002
              nspd_cadastr:
                summary: nspd_cadastr — Получение геоданных по кадастровому номеру
                value:
                  requestId: 00000000-0000-4000-8000-000000000003
                  taskId: nspd-cadastr-local-test-001
                  params:
                    method: nspd_cadastr
                    cad_num: 77:01:0000000:1000
              realty_price:
                summary: realty_price — Оценка стоимости недвижимости
                value:
                  requestId: 00000000-0000-4000-8000-000000000004
                  taskId: nspd-cadastr-local-test-001
                  params:
                    method: realty_price
                    address: Одинцово ул.  Белорусская д.3 кв. 382
                    valuation_type: sale
              arbitr_case:
                summary: arbitr_case — Детали арбитражного дела по номеру дела
                value: &id002
                  params:
                    case_number: А00-1000/2026
                    country: ru
                    method: arbitr_case
                  requestId: 00000000-0000-4000-8000-000000000001
              pledge_legal:
                summary: pledge_legal — Проверка залогов и обременений юрлица
                value: &id003
                  params:
                    inn: '7712345678'
                    country: ru
                    method: pledge_legal
                  requestId: 00000000-0000-4000-8000-000000000003
              complex_by_passport:
                summary: complex_by_passport — Комплексная проверка по паспорту
                value: &id004
                  params:
                    seria: '1234'
                    number: '123456'
                    firstname: Иван
                    lastname: Иванов
                    secondname: Иванович
                    dob: '1990-01-01'
                    regioncode: '77'
                    country: ru
                    method: complex_by_passport
                  requestId: 00000000-0000-4000-8000-000000000001
              complex_by_inn:
                summary: complex_by_inn — Комплексная проверка компании по ИНН
                value: &id005
                  params:
                    inn: '7712345678'
                    country: ru
                    method: complex_by_inn
                  requestId: 00000000-0000-4000-8000-000000000003
              complex_by_innfiz:
                summary: complex_by_innfiz — Комплексная проверка физлица или ИП по ИНН
                value: &id006
                  params:
                    innfiz: '500100732259'
                    country: ru
                    method: complex_by_innfiz
                  requestId: 00000000-0000-4000-8000-000000000001
      responses:
        '200':
          description: Запрос принят и поставлен в очередь. Обычно state=queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncEnvelope'
              examples:
                queued:
                  summary: Запрос поставлен в очередь
                  value:
                    requestId: 00000000-0000-4000-8000-000000000002
                    state: queued
                    params:
                      method: passport_mvd
                      country: ru
        '400':
          description: 'Некорректный запрос: ошибка в параметрах или отсутствует обязательное поле.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '402':
          description: Недостаточно средств на счете. Запрос не поставлен в очередь.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '500':
          description: Системная ошибка сервиса.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
      callbacks:
        requestResultWebhook:
          '{$request.body#/webhook}':
            post:
              summary: Получение результата через webhook
              description: 'Callback на URL клиента, переданный в корневом поле запроса `webhook`. Пример параметра в POST
                /v2: `webhook: https://URL`. NEWDB отправляет на этот URL общий response envelope с requestId, state и results.'
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/WebhookCallbackPayload'
                    examples:
                      complete:
                        summary: Результат готов
                        value:
                          requestId: 00000000-0000-4000-8000-000000000001
                          state: complete
                          params:
                            method: passport_mvd
                            country: ru
                          results:
                            passport_mvd:
                              result:
                                status: 200
                                data: []
                      failed:
                        summary: Ошибка запроса
                        value:
                          requestId: 00000000-0000-4000-8000-000000000002
                          state: failed
                          errors_info:
                          - error: 'Отсутствует обязательный параметр: innfiz'
                            error_code: 400
                            docs_url: https://newdb.net/docs/fiz/07-arbitr_person/
              responses:
                '200':
                  description: Webhook принят клиентским endpoint.
                '400':
                  description: Клиентский endpoint отклонил webhook.
                '500':
                  description: Ошибка на стороне клиентского webhook endpoint.
  /v2/data:
    get:
      tags:
      - Service
      summary: Получить результат по requestId
      operationId: getRequestData
      security:
      - QueryToken: []
      parameters:
      - in: query
        name: requestId
        required: true
        schema:
          type: string
          format: uuid
      - in: query
        name: token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Текущее состояние запроса и, при state=complete, результаты методов.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncEnvelope'
        '400':
          description: Некорректный requestId или параметры запроса.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '500':
          description: Системная ошибка сервиса.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
      description: Возвращает текущее состояние асинхронного запроса. state=queued — задача в очереди; in_progress — выполняется;
        restart — идет повторная попытка; complete — запрос отработал; failed — запрос некорректен, не оплачен или завершился
        ошибкой.
  /v2/run:
    get:
      tags:
      - Service
      summary: Синхронный запуск метода с ожиданием результата
      description: 'Синхронный запуск метода. Помимо перечисленных параметров принимает метод-специфичные query-поля в зависимости
        от `method`, например `seria`, `number`, `inn`, `innfiz`, `query`, `act_text` и другие.


        Метод может удерживать соединение до готового результата или вернуть timeout.'
      operationId: runSyncMethod
      security:
      - QueryToken: []
      parameters:
      - in: query
        name: method
        required: true
        schema:
          type: string
          enum:
          - fssp_person
          - passport_fns
          - passport_mvd
          - bankrot_person
          - pledge_person
          - arbitr_person
          - nalog_debt
          - elmk_registry
          - fns_block_person
          - egrul_ip
          - terrorist
          - mvd_wanted
          - inoagent
          - foreign_vng
          - foreign_patent
          - foreign_rvp_stamp
          - foreign_rvp_blank
          - foreign_rnr
          - rkl
          - patent_msk
          - patent_mo
          - arbitr_legal
          - fns_block
          - bankrot_legal
          - egrul
          - fssp_legal
          - pravo_search
          - act_text_search
          - pravo_cases_details
          - rosreestr
          - pledge_property
          - pledge_vin
          - nspd_cadastr
          - realty_price
          - arbitr_case
          - pledge_legal
          - complex_by_passport
          - complex_by_inn
          - complex_by_innfiz
      - in: query
        name: country
        required: true
        schema:
          type: string
          example: ru
      - in: query
        name: token
        required: true
        schema:
          type: string
      - in: query
        name: requestId
        required: false
        schema:
          type: string
          format: uuid
        description: Используется для повторного запроса результата ранее созданной задачи.
      - in: query
        name: timeout
        required: false
        schema:
          type: integer
          minimum: 1
          example: 60
        description: Максимальное время ожидания готового результата в секундах.
      - in: query
        name: inn
        required: false
        schema:
          type: string
          example: '7700000000'
        description: ИНН юридического лица или индивидуального предпринимателя.
      - in: query
        name: innfiz
        required: false
        schema:
          type: string
          example: '770000000000'
        description: ИНН физического лица.
      - in: query
        name: seria
        required: false
        schema:
          type: string
          example: '4500'
        description: Серия документа, если она требуется выбранному методу.
      - in: query
        name: number
        required: false
        schema:
          type: string
          example: '000000'
        description: Номер документа, если он требуется выбранному методу.
      - in: query
        name: firstname
        required: false
        schema:
          type: string
          example: Иван
        description: Имя физического лица.
      - in: query
        name: lastname
        required: false
        schema:
          type: string
          example: Иванов
        description: Фамилия физического лица.
      - in: query
        name: secondname
        required: false
        schema:
          type: string
          example: Иванович
        description: Отчество физического лица.
      - in: query
        name: dob
        required: false
        schema:
          type: string
          example: '1980-01-01'
        description: Дата рождения в формате, который ожидает выбранный метод.
      - in: query
        name: regioncode
        required: false
        schema:
          type: string
          example: '77'
        description: Код региона для методов, где поиск ограничивается регионом. Для fssp_person значение 100 означает поиск по всем регионам ФССП.
      - in: query
        name: query
        required: false
        schema:
          type: string
          example: ООО Ромашка
        description: Поисковая строка для методов, которые выполняют поиск по названию, ФИО, адресу или другому тексту.
      - in: query
        name: act_text
        required: false
        schema:
          type: string
          example: взыскание задолженности
        description: Текст для поиска по судебным актам.
      - in: query
        name: case_number
        required: false
        schema:
          type: string
          example: А40-00000/2026
        description: Номер судебного дела.
      - in: query
        name: case_id
        required: false
        schema:
          type: string
          example: 00000000-0000-4000-8000-000000000001
        description: Идентификатор судебного дела в источнике.
      - in: query
        name: cad_num
        required: false
        schema:
          type: string
          example: 77:01:0000000:0000
        description: Кадастровый номер объекта недвижимости.
      - in: query
        name: address
        required: false
        schema:
          type: string
          example: г. Москва, ул. Примерная, д. 1
        description: Адрес объекта или участника проверки.
      - in: query
        name: propertyid
        required: false
        schema:
          type: string
          example: 77:01:0000000:0000
        description: Идентификатор объекта имущества, если он требуется выбранному методу.
      - in: query
        name: vin
        required: false
        schema:
          type: string
          example: X0000000000000000
        description: VIN транспортного средства.
      - in: query
        name: doctype
        required: false
        schema:
          type: string
          example: passport
        description: Тип документа для методов проверки иностранных граждан.
      - in: query
        name: doc_seria
        required: false
        schema:
          type: string
          example: '0000'
        description: Серия документа для методов проверки иностранных граждан.
      - in: query
        name: doc_number
        required: false
        schema:
          type: string
          example: '000000'
        description: Номер документа для методов проверки иностранных граждан.
      - in: query
        name: citizenship
        required: false
        schema:
          type: string
          example: UZB
        description: Гражданство для методов проверки иностранных граждан.
      responses:
        '200':
          description: Готовый результат выполнения или timeout ожидания.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/RunCompleteResponse'
                - $ref: '#/components/schemas/RunTimeoutResponse'
                - $ref: '#/components/schemas/AsyncEnvelope'
        '400':
          description: 'Некорректный запрос: ошибка в параметрах или отсутствует обязательное поле.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '402':
          description: Недостаточно средств на счете.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '500':
          description: Системная ошибка сервиса.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
  /v2/balance:
    get:
      tags:
      - Service
      summary: Проверить баланс токена
      operationId: getBalance
      responses:
        '200':
          description: Баланс токена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
  /v2/methods/fssp_person:
    post:
      tags:
      - Physical Persons
      summary: fssp_person — Проверка ФЛ по базе ФССП
      description: 'API метод NEWDB fssp_person: поиск исполнительных производств по ФИО, дате рождения и региону в базе ФССП. Для поиска по всем регионам передайте regioncode=100.'
      operationId: newdb_fssp_person
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fssp_personRequest'
            examples:
              fssp_person:
                summary: fssp_person — Проверка ФЛ по базе ФССП
                value:
                  params:
                    firstname: Иван
                    lastname: Иванов
                    secondname: Иванович
                    dob: '1990-01-01'
                    country: ru
                    method: fssp_person
                    regioncode: 100
                  webhook: https://example.com/newdb-webhook
                  requestId: 00000000-0000-4000-8000-000000000001
      responses:
        '200':
          description: Текущее состояние запроса и, при state=complete, результат метода.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncEnvelope'
              examples:
                fssp_person_complete:
                  summary: Успешный ответ fssp_person
                  value:
                    params:
                      firstname: Иван
                      lastname: Иванов
                      secondname: Иванович
                      dob: '1987-11-27'
                      country: ru
                      method: fssp_person
                      regioncode: 100
                    webhook: https://example.com/newdb-webhook
                    requestId: 00000000-0000-4000-8000-000000000001
                    datecreated: '2025-11-09 23:58:38'
                    state: complete
                    tasks: 1
                    is_repeat: false
                    results:
                      fssp_person:
                        taskId: 00000000-0000-4000-8000-000000000002
                        dateupdated: '2025-11-09 20:59:43'
                        result:
                          status: 200
                          data:
                          - Debtor: ИВАНОВ ИВАН ИВАНОВИЧ 01.01.1990 Г. МОСКВА
                            EnforcementProceeding: 88442/25/66049-ИП от 09.09.2025
                            WritDetails: Исполнительный лист от 01.01.2026 № 00RS0000#2-1/2026#1 ПРИМЕРНЫЙ СУД
                            CompletionDateOrReason: ''
                            Service: ''
                            SubjectAndDebtAmount: 'Иные взыскания имущественного характера в пользу физических и юридических лиц Сумма долга: 30000.00 руб. Остаток
                              долга по исполнительному документу: 30000.00 руб.'
                            BailiffDepartment: Примерный РОСП 000000, Россия, г. Москва, ул. Примерная, д. 1
                            Phone: +7(000)000-00-00
                            BailiffOfficer: ИВАНОВ И. И.
                    finished: 1
        '400':
          description: 'Некорректный запрос: ошибка в параметрах или отсутствует обязательное поле.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '402':
          description: Недостаточно средств на счете.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '500':
          description: Системная ошибка сервиса или ошибка на источнике.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
      externalDocs:
        url: https://newdb.net/docs/fiz/01-fssp_person/
  /v2/methods/passport_fns:
    post:
      tags:
      - Physical Persons
      summary: passport_fns — Проверка  паспорта/ИНН через ФНС
      description: Метод NEWDB passport_fns для проверки паспорта РФ и поиска ИНН физлица через сервисы Федеральной налоговой
        службы.
      operationId: newdb_passport_fns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/passport_fnsRequest'
            examples:
              passport_fns:
                summary: passport_fns — Проверка  паспорта/ИНН через ФНС
                value:
                  params:
                    method: passport_fns
                    country: ru
                    lastname: Иванов
                    firstname: Иван
                    secondname: Иванович
                    dob: '1990-01-01'
                    seria: '1234'
                    number: '123456'
                    seriapass: '1234'
                    numberpass: '123456'
                  requestId: 00000000-0000-4000-8000-000000000002
      responses:
        '200':
          description: Текущее состояние запроса и, при state=complete, результат метода.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncEnvelope'
              examples:
                passport_fns_complete:
                  summary: Успешный ответ passport_fns
                  value:
                    state: complete
                    results:
                      passport_fns:
                        result:
                          status: 200
                          data:
                          - innfiz: '500100732259'
                    requestId: 00000000-0000-4000-8000-000000000003
                    params:
                      method: passport_fns
                      country: ru
        '400':
          description: 'Некорректный запрос: ошибка в параметрах или отсутствует обязательное поле.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '402':
          description: Недостаточно средств на счете.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '500':
          description: Системная ошибка сервиса или ошибка на источнике.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
      externalDocs:
        url: https://newdb.net/docs/fiz/02-passport_fns/
  /v2/methods/passport_mvd:
    post:
      tags:
      - Physical Persons
      summary: passport_mvd — Проверка паспорта РФ на действительность
      description: Метод NEWDB passport_mvd подтверждает действительность паспорта РФ по серии, номеру и ФИО через базы МВД.
      operationId: newdb_passport_mvd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/passport_mvdRequest'
            examples:
              passport_mvd:
                summary: passport_mvd — Проверка паспорта РФ на действительность
                value:
                  params:
                    seria: '1234'
                    number: '123456'
                    method: passport_mvd
                    firstname: Иван
                    lastname: Иванов
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000003
      responses:
        '200':
          description: Текущее состояние запроса и, при state=complete, результат метода.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncEnvelope'
              examples:
                passport_mvd_complete:
                  summary: Успешный ответ passport_mvd
                  value:
                    params:
                      seria: '0000'
                      number: '000000'
                      method: passport_mvd
                      firstname: Иван
                      lastname: Иванов
                      country: ru
                    requestId: 00000000-0000-4000-8000-000000000004
                    token: 00000000-0000-4000-8000-000000000005
                    tasks: 203
                    is_repeat: false
                    results:
                      passport_mvd:
                        taskId: 00000000-0000-4000-8000-000000000006
                        dateupdated: '2025-11-05 08:49:13'
                        result:
                          status: 200
                          data:
                          - status: Действительный
                    finished: 1
                    state: complete
                    datecreated: '2025-11-02 22:48:00'
        '400':
          description: 'Некорректный запрос: ошибка в параметрах или отсутствует обязательное поле.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '402':
          description: Недостаточно средств на счете.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '500':
          description: Системная ошибка сервиса или ошибка на источнике.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
      externalDocs:
        url: https://newdb.net/docs/fiz/03-passport_mvd/
  /v2/methods/complex_by_passport:
    post:
      tags:
      - Physical Persons
      summary: complex_by_passport — Комплексная проверка по паспорту
      description: Метод NEWDB complex_by_passport объединяет проверки МВД, ФНС и ФССП для полного анализа физлица по данным
        паспорта.
      operationId: newdb_complex_by_passport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/complex_by_passportRequest'
            examples:
              complex_by_passport:
                summary: complex_by_passport — Комплексная проверка по паспорту
                value:
                  params:
                    seria: '1234'
                    number: '123456'
                    firstname: Иван
                    lastname: Иванов
                    secondname: Иванович
                    dob: '1990-01-01'
                    regioncode: '77'
                    country: ru
                    method: complex_by_passport
                  requestId: 00000000-0000-4000-8000-000000000001
      responses:
        '200':
          description: Текущее состояние запроса и, при state=complete, результат метода.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncEnvelope'
              examples:
                complex_by_passport_complete:
                  summary: Успешный ответ complex_by_passport
                  value:
                    params:
                      seria: '0000'
                      number: '000000'
                      method: complex_by_passport
                      firstname: Иван
                      secondname: Иванович
                      lastname: Иванов
                      dob: '1990-01-01'
                      country: ru
                      regioncode: 77
                    requestId: 00000000-0000-4000-8000-000000000007
                    datecreated: '2026-03-17 12:00:00'
                    state: complete
                    balance: 9999
                    steps:
                      fssp_person:
                        status: complete
                        error: null
                        requestId: 00000000-0000-4000-8000-000000000008
                      passport_mvd:
                        status: complete
                        error: null
                        requestId: 00000000-0000-4000-8000-000000000009
                      passport_fns:
                        status: complete
                        error: passport_fns request failed with status 405
                        requestId: 00000000-0000-4000-8000-000000000010
                      pledge_person:
                        status: complete
                        error: null
                        requestId: 00000000-0000-4000-8000-000000000011
                      egrul_ip:
                        status: complete
                        error: null
                        requestId: 00000000-0000-4000-8000-000000000012
                    results:
                      passport_fns:
                        taskId: 00000000-0000-4000-8000-000000000013
                        result:
                          status: 405
                          data: []
                        dateupdated: '2026-03-17 12:00:10'
                      passport_mvd:
                        taskId: 00000000-0000-4000-8000-000000000014
                        dateupdated: '2026-03-17 12:00:12'
                        result:
                          status: 200
                          data:
                          - doc_status: Действительный
                      fssp_person:
                        taskId: 00000000-0000-4000-8000-000000000015
                        dateupdated: '2026-03-17 12:00:15'
                        result:
                          status: 200
                          data: []
                      pledge_person:
                        taskId: 00000000-0000-4000-8000-000000000016
                        dateupdated: '2026-03-17 12:00:18'
                        result:
                          status: 200
                          data: []
                      egrul_ip:
                        taskId: 00000000-0000-4000-8000-000000000017
                        dateupdated: '2026-03-17 12:00:20'
                        result:
                          status: 200
                          data: []
                    finished_at: '2026-03-17 12:00:21'
        '400':
          description: 'Некорректный запрос: ошибка в параметрах или отсутствует обязательное поле.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '402':
          description: Недостаточно средств на счете.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '500':
          description: Системная ошибка сервиса или ошибка на источнике.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
      externalDocs:
        url: https://newdb.net/docs/fiz/04-complex_by_passport/
  /v2/methods/bankrot_person:
    post:
      tags:
      - Physical Persons
      summary: bankrot_person — Проверка на банкротство физлица (Федресурс)
      description: Метод NEWDB bankrot_person ищет сведения о банкротстве физического лица в Едином федеральном реестре сведений
        о банкротстве.
      operationId: newdb_bankrot_person
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bankrot_personRequest'
            examples:
              bankrot_person:
                summary: bankrot_person — Проверка на банкротство физлица (Федресурс)
                value:
                  params:
                    innfiz: '500100732259'
                    country: ru
                    method: bankrot_person
                  requestId: 00000000-0000-4000-8000-000000000004
      responses:
        '200':
          description: Текущее состояние запроса и, при state=complete, результат метода.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncEnvelope'
              examples:
                bankrot_person_complete:
                  summary: Успешный ответ bankrot_person
                  value:
                    params:
                      innfiz: '500100732259'
                      country: ru
                      method: bankrot_person
                    requestId: 00000000-0000-4000-8000-000000000018
                    datecreated: '2026-01-02 15:26:52'
                    state: complete
                    balance: 9893
                    tasks: 1
                    is_repeat: false
                    results:
                      bankrot_person:
                        result:
                          status: 200
                          data:
                          - bankruptcy:
                            - case_number: А73-7992/2017
                              case_url: https://fedresurs.ru/example/00000000-0000-4000-8000-000000000001
                              status: Производство по делу завершено
                              messages:
                              - message_info: 2475822 от 20.02.2018
                                url: https://fedresurs.ru/example/00000000-0000-4000-8000-000000000001
                                type: Сообщение о судебном акте
                            commmon:
                              type: person
                              name_or_fio: ИВАНОВ ИВАН ИВАНОВИЧ
                              inn: '7712345678'
                              reg_number_type: ОГРНИП
                              reg_number: '323270000057022'
                              activity: Торговля розничная, осуществляемая непосредственно при помощи информационно-коммуникационной сети Интернет
                              address: г. Москва, ул. Примерная, д. 1
                              status: null
                              details_url: https://fedresurs.ru/example/00000000-0000-4000-8000-000000000001
                            encumbrances: []
                            publications:
                            - category: О лице
                              number_date: 2475822 от 20.02.2018
                              title: Сообщение о судебном акте. о завершении реализации имущества гражданина
                              url: https://fedresurs.ru/example/00000000-0000-4000-8000-000000000001
                        taskId: 00000000-0000-4000-8000-000000000022
                        dateupdated: '2026-01-02 15:27:12'
        '400':
          description: 'Некорректный запрос: ошибка в параметрах или отсутствует обязательное поле.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '402':
          description: Недостаточно средств на счете.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '500':
          description: Системная ошибка сервиса или ошибка на источнике.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
      externalDocs:
        url: https://newdb.net/docs/fiz/05-fedresurs_bankrot/
  /v2/methods/fns_block_person:
    post:
      tags:
      - Physical Persons
      summary: fns_block_person — Проверка блокировок счетов физлица (ФНС)
      description: Метод NEWDB fns_block_person проверяет решения ФНС о приостановлении операций по счетам физического лица
        по ИНН.
      operationId: newdb_fns_block_person
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fns_block_personRequest'
            examples:
              fns_block_person:
                summary: fns_block_person — Проверка блокировок счетов физлица (ФНС)
                value:
                  params:
                    innfiz: '500100732259'
                    method: fns_block_person
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000001
      responses:
        '200':
          description: Текущее состояние запроса и, при state=complete, результат метода.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncEnvelope'
              examples:
                fns_block_person_complete:
                  summary: Успешный ответ fns_block_person
                  value:
                    params:
                      innfiz: '500100732259'
                      country: ru
                      method: fns_block_person
                    webhook: https://example.com/newdb-webhook
                    requestId: 00000000-0000-4000-8000-000000000023
                    datecreated: '2026-02-24 19:27:51'
                    state: complete
                    balance: 9778
                    tasks: 1
                    is_repeat: false
                    results:
                      fns_block_person:
                        taskId: 00000000-0000-4000-8000-000000000024
                        dateupdated: '2026-02-24 19:28:01'
                        result:
                          status: 200
                          data:
                          - DATASTART: 03.03.2022
                            NOMER: '990'
                            DATA: 03.03.2022
                            KODOSNOV: '02'
                            SALDO: (Отсутствует значение)
                            IFNS: '1326'
                            BIK: 048952615
                            DATABI: 06.03.2022 04:06:09
                          query:
                            inn: '7712345678'
                            bik: '442455546'
        '400':
          description: 'Некорректный запрос: ошибка в параметрах или отсутствует обязательное поле.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '402':
          description: Недостаточно средств на счете.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '500':
          description: Системная ошибка сервиса или ошибка на источнике.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
      externalDocs:
        url: https://newdb.net/docs/fiz/10-fns_block_person/
  /v2/methods/egrul_ip:
    post:
      tags:
      - Physical Persons
      summary: egrul_ip — Проверка статуса ИП / сведений ЕГРИП
      description: Метод NEWDB egrul_ip получает сведения об ИП из сервиса Прозрачный бизнес по ИНН физического лица.
      operationId: newdb_egrul_ip
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/egrul_ipRequest'
            examples:
              egrul_ip:
                summary: egrul_ip — Проверка статуса ИП / сведений ЕГРИП
                value:
                  params:
                    innfiz: '500100732259'
                    country: ru
                    method: egrul_ip
                  webhook: https://example.com/newdb-webhook
                  requestId: 00000000-0000-4000-8000-000000000002
      responses:
        '200':
          description: Текущее состояние запроса и, при state=complete, результат метода.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncEnvelope'
              examples:
                egrul_ip_complete:
                  summary: Успешный ответ egrul_ip
                  value:
                    params:
                      innfiz: '500100732259'
                      country: ru
                      method: egrul_ip
                    requestId: 00000000-0000-4000-8000-000000000025
                    datecreated: '2026-03-20 07:12:31'
                    state: complete
                    balance: 9707
                    tasks: 1
                    is_repeat: false
                    results:
                      egrul_ip:
                        taskId: 00000000-0000-4000-8000-000000000026
                        dateupdated: '2026-03-20 07:12:45'
                        result:
                          status: 200
                          data: []
        '400':
          description: 'Некорректный запрос: ошибка в параметрах или отсутствует обязательное поле.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '402':
          description: Недостаточно средств на счете.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '500':
          description: Системная ошибка сервиса или ошибка на источнике.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
      externalDocs:
        url: https://newdb.net/docs/fiz/11-egrul_ip/
  /v2/methods/terrorist:
    post:
      tags:
      - Physical Persons
      summary: terrorist — Проверка на причастность к терроризму и распространению ОМУ
      description: Метод NEWDB terrorist проверяет совпадения по перечням причастных к экстремистской деятельности, терроризму
        и распространению оружия массового уничтожения.
      operationId: newdb_terrorist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/terroristRequest'
            examples:
              terrorist:
                summary: terrorist — Проверка на причастность к терроризму и распространению ОМУ
                value:
                  params:
                    firstname: Иван
                    lastname: Иванов
                    secondname: Иванович
                    dob: '1990-01-01'
                    method: terrorist
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000003
      responses:
        '200':
          description: Текущее состояние запроса и, при state=complete, результат метода.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncEnvelope'
              examples:
                terrorist_complete:
                  summary: Успешный ответ terrorist
                  value:
                    params:
                      method: terrorist
                      lastname: Иванов
                      firstname: Иван
                      secondname: Иванович
                      dob: '1991-10-28'
                      country: ru
                    requestId: 00000000-0000-4000-8000-000000000027
                    datecreated: '2026-03-20 09:00:00'
                    state: complete
                    balance: 9696
                    tasks: 1
                    is_repeat: false
                    results:
                      terrorist:
                        taskId: 00000000-0000-4000-8000-000000000028
                        dateupdated: '2026-03-20 09:00:04'
                        result:
                          status: 200
                          data:
                          - query: АЛИМОВ РЕФАТ МАМЕТОВИЧ 28.10.1991 г.р.
                            suggestions:
                            - 1269. АЛИМОВ РЕФАТ МАМЕТОВИЧ*, 28.10.1991 г.р. , Г. ДУШАНБЕ ТАДЖИКСКОЙ ССР;
        '400':
          description: 'Некорректный запрос: ошибка в параметрах или отсутствует обязательное поле.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '402':
          description: Недостаточно средств на счете.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '500':
          description: Системная ошибка сервиса или ошибка на источнике.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
      externalDocs:
        url: https://newdb.net/docs/fiz/12-terrorist/
  /v2/methods/mvd_wanted:
    post:
      tags:
      - Physical Persons
      summary: mvd_wanted — Проверка физлица в розыске МВД
      description: Метод NEWDB mvd_wanted ищет физическое лицо в публичном сервисе МВД России «Внимание, розыск!» по ФИО и дате рождения.
      operationId: newdb_mvd_wanted
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mvd_wantedRequest'
            examples:
              mvd_wanted:
                summary: mvd_wanted — Проверка физлица в розыске МВД
                value:
                  params:
                    method: mvd_wanted
                    lastname: Иванов
                    firstname: Иван
                    secondname: Иванович
                    dob: '1990-01-01'
                    email: client@example.com
                  requestId: 00000000-0000-4000-8000-000000000101
      responses:
        '200':
          description: Текущее состояние запроса и, при state=complete, результат метода.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncEnvelope'
              examples:
                mvd_wanted_complete:
                  summary: Успешный ответ mvd_wanted
                  value:
                    params:
                      method: mvd_wanted
                      lastname: Иванов
                      firstname: Иван
                      secondname: Иванович
                      dob: '1990-01-01'
                    requestId: 00000000-0000-4000-8000-000000000101
                    datecreated: '2026-07-17 16:33:41'
                    state: complete
                    balance: 90000
                    tasks: 1
                    is_repeat: false
                    results:
                      mvd_wanted:
                        taskId: 00000000-0000-4000-8000-000000000102
                        dateupdated: '2026-07-17 16:34:15'
                        result:
                          status: 200
                          query:
                            full_name: ИВАНОВ ИВАН ИВАНОВИЧ
                            birth_date: 01.01.1990
                          found: true
                          registry_status: found
                          captcha_error: false
                          message: ''
                          total_found: 1
                          data:
                          - full_name: ИВАНОВ ИВАН ИВАНОВИЧ
                            birth_date: 01.01.1990
                            birth_date_match: true
                            match: exact
                            wanted_region: УМВД РОССИИ ПО ПРИМЕРНОМУ РЕГИОНУ
                            wanted_reason: разыскивается по статье УК
                            details: 'пол: МУЖ, национальность: РУССКИЙ, дата рождения: 01.01.1990, место рождения: РОССИЯ'
                            contacts: '000000'
                            image_url: //static.mvd.ru/upload/example/person.jpg
                            detail_images: []
                            popup_id: popup-00000
                            source: https://xn--b1aew.xn--p1ai/wanted
                            raw_text: Дата рождения 01.01.1990 Регион розыска УМВД РОССИИ ПО ПРИМЕРНОМУ РЕГИОНУ ...
        '400':
          description: 'Некорректный запрос: ошибка в параметрах или отсутствует обязательное поле.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '402':
          description: Недостаточно средств на счете.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '500':
          description: Системная ошибка сервиса или ошибка на источнике.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
      externalDocs:
        url: https://newdb.net/docs/fiz/13-mvd_wanted/
  /v2/methods/inoagent:
    post:
      tags:
      - Physical Persons
      summary: inoagent — Проверка физлица в реестре иностранных агентов
      description: Метод NEWDB inoagent ищет физическое лицо в публичном реестре иностранных агентов Минюста России по ФИО.
      operationId: newdb_inoagent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inoagentRequest'
            examples:
              inoagent:
                summary: inoagent — Проверка физлица в реестре иностранных агентов
                value:
                  params:
                    method: inoagent
                    lastname: Иванов
                    firstname: Иван
                    secondname: Иванович
                  requestId: 00000000-0000-4000-8000-000000000201
      responses:
        '200':
          description: Текущее состояние запроса и, при state=complete, результат метода.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncEnvelope'
              examples:
                inoagent_complete:
                  summary: Успешный ответ inoagent
                  value:
                    params:
                      method: inoagent
                      lastname: Иванов
                      firstname: Иван
                      secondname: Иванович
                    requestId: 00000000-0000-4000-8000-000000000201
                    datecreated: '2026-07-17 17:45:00'
                    state: complete
                    balance: 90000
                    tasks: 1
                    is_repeat: false
                    results:
                      inoagent:
                        taskId: 00000000-0000-4000-8000-000000000202
                        dateupdated: '2026-07-17 17:45:10'
                        result:
                          status: 200
                          query: Иванов Иван Иванович
                          found: true
                          registry_status: found
                          registry_updated_at: Реестр обновлен 01.07.2026
                          total_rows_parsed: 1
                          data:
                          - registry_number: '000'
                            full_name: Иванов Иван Иванович
                            inclusion_basis: Распоряжение Минюста России
                            included_at: 01.01.2024
                            excluded_at: ''
                            active: true
                            match: lastname_firstname
                            source: https://minjust.gov.ru/ru/pages/reestr-inostryannykh-agentov/
                            registry_updated_at: Реестр обновлен 01.07.2026
                            row_id: row-000
                            idx: '0'
        '400':
          description: 'Некорректный запрос: ошибка в параметрах или отсутствует обязательное поле.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '402':
          description: Недостаточно средств на счете.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '500':
          description: Системная ошибка сервиса или ошибка на источнике.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
      externalDocs:
        url: https://newdb.net/docs/fiz/14-inoagent/
  /v2/methods/nalog_debt:
    post:
      tags:
      - Physical Persons
      summary: nalog_debt — Проверка налоговой задолженности по ИНН
      description: Метод NEWDB nalog_debt проверяет задолженность физического лица по налогам и сборам по ИНН.
      operationId: newdb_nalog_debt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nalog_debtRequest'
            examples:
              nalog_debt:
                summary: nalog_debt — Проверка налоговой задолженности по ИНН
                value:
                  params:
                    inn: '7712345678'
                    country: ru
                    method: nalog_debt
                  requestId: 00000000-0000-4000-8000-000000000003
      responses:
        '200':
          description: Текущее состояние запроса и, при state=complete, результат метода.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncEnvelope'
              examples:
                nalog_debt_complete:
                  summary: Успешный ответ nalog_debt
                  value:
                    params:
                      inn: '7712345678'
                      country: ru
                      method: nalog_debt
                    requestId: 00000000-0000-4000-8000-000000000029
                    datecreated: '2026-03-15 23:15:44'
                    state: complete
                    tasks: 1
                    is_repeat: false
                    results:
                      nalog_debt:
                        taskId: 00000000-0000-4000-8000-000000000030
                        dateupdated: '2026-03-15 23:15:59'
                        result:
                          status: 200
                          data:
                          - debt:
                              total: '0.00'
                              items: []
                            form:
                              inn: '7712345678'
                            http:
                              status: 200
                            network:
                              final_url: https://avtonalogi.ru/
                            page:
                              title: Проверка задолженности
                            request:
                              method: nalog_debt
                    finished: 1
        '400':
          description: 'Некорректный запрос: ошибка в параметрах или отсутствует обязательное поле.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '402':
          description: Недостаточно средств на счете.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '500':
          description: Системная ошибка сервиса или ошибка на источнике.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
      externalDocs:
        url: https://newdb.net/docs/fiz/08-nalog_debt/
  /v2/methods/elmk_registry:
    post:
      tags:
      - Physical Persons
      summary: elmk_registry — Проверка статуса электронной медицинской книжки
      description: Метод NEWDB elmk_registry проверяет статус электронной личной медицинской книжки по данным Единого реестра
        выданных ЭЛМК Роспотребнадзора.
      operationId: newdb_elmk_registry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/elmk_registryRequest'
            examples:
              elmk_registry:
                summary: elmk_registry — Проверка статуса электронной медицинской книжки
                value:
                  params:
                    elmk_number: 00-00-000000-00
                    snils: 123-456-789 00
                    country: ru
                    method: elmk_registry
                  webhook: https://example.com/newdb-webhook
                  requestId: 00000000-0000-4000-8000-000000000004
      responses:
        '200':
          description: Текущее состояние запроса и, при state=complete, результат метода.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncEnvelope'
              examples:
                elmk_registry_complete:
                  summary: Успешный ответ elmk_registry
                  value:
                    params:
                      elmk_number: 00-00-000000-00
                      snils: 000-000-000 00
                      country: ru
                      method: elmk_registry
                    webhook: https://newdb.net/for_example_webhook
                    requestId: 00000000-0000-4000-8000-000000000007
                    datecreated: '2026-03-17 22:39:50'
                    state: complete
                    balance: 9710
                    tasks: 1
                    is_repeat: false
                    results:
                      elmk_registry:
                        taskId: 00000000-0000-4000-8000-000000000031
                        dateupdated: '2026-03-17 22:39:59'
                        result:
                          status: 200
                          data:
                          - elmk_status_name: Не действует
                            elmk_number: 00-00-000000-00
                            first_name: Иван
                            last_name: Иванов
                            middle_name: Иванович
                            snils: 000***00
                            work_type:
                            - Работы, при выполнении которых осуществляется контакт с пищевыми продуктами в процессе их производства, хранения, транспортировки и
                              реализации
                            decision_dt: '2025-03-20T03:29:49Z'
                            med_opinions_dt: '2026-02-22'
                            certification_dt: '2025-03-18'
                            recertification_dt: '2026-03-18'
                            fbuz_short_name: ФБУЗ "Центр гигиены и эпидемиологии"
                            created_fullname: ИВАНОВ ИВАН ИВАНОВИЧ
        '400':
          description: 'Некорректный запрос: ошибка в параметрах или отсутствует обязательное поле.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '402':
          description: Недостаточно средств на счете.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '500':
          description: Системная ошибка сервиса или ошибка на источнике.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
      externalDocs:
        url: https://newdb.net/docs/fiz/09-elmk_registry/
  /v2/methods/pledge_person:
    post:
      tags:
      - Physical Persons
      summary: pledge_person — Проверка залогов и обременений (ФНП + Федресурс)
      description: Метод NEWDB pledge_person ищет сведения о залогах и иных обременениях физического лица по ФИО и дате рождения
        в реестре ФНП и Федресурсе.
      operationId: newdb_pledge_person
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pledge_personRequest'
            examples:
              pledge_person:
                summary: pledge_person — Проверка залогов и обременений (ФНП + Федресурс)
                value:
                  params:
                    firstname: Иван
                    lastname: Иванов
                    method: pledge_person
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000001
      responses:
        '200':
          description: Текущее состояние запроса и, при state=complete, результат метода.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncEnvelope'
              examples:
                pledge_person_complete:
                  summary: Успешный ответ pledge_person
                  value:
                    params:
                      firstname: Иван
                      lastname: Иванов
                      secondname: Иванович
                      country: ru
                      dob: '1985-05-10'
                      method: pledge_person
                    requestId: 00000000-0000-4000-8000-000000000032
                    datecreated: '2025-12-09 20:21:09'
                    state: complete
                    balance: 9928
                    tasks: 1
                    is_repeat: false
                    results:
                      pledge_person:
                        result:
                          status: 200
                          data:
                          - fnp:
                            - source: ФНП
                              registry: Реестр уведомлений о залоге движимого имущества
                              message_number_and_date: 2025-012-232030-634 от 24.11.2025
                              reference_number: 2025-012-232030-634
                              message_type: Возникновение залога
                              pledge_subject_ids_raw: Y4K8722Z3SB324012
                              pledgor: ИВАНОВ ИВАН ИВАНОВИЧ
                              pledgee: АКЦИОНЕРНОЕ ОБЩЕСТВО "ПРИМЕР БАНК"
                              guid: 00000000-0000-4000-8000-000000000001
                              fnp_url: https://www.reestr-zalogov.ru/search/notification/00000000-0000-4000-8000-000000000001
                              json_extra:
                                registrationTime: '2025-11-24T11:04:56'
                                referenceNumber: 2025-012-232030-634
                                guid: 00000000-0000-4000-8000-000000000001
                                pledgors:
                                - ИВАНОВ ИВАН ИВАНОВИЧ
                                pledgees:
                                - АКЦИОНЕРНОЕ ОБЩЕСТВО "ПРИМЕР БАНК"
                                subjects:
                                - Y4K8722Z3SB324012
                                fnpUrl: https://www.reestr-zalogov.ru/search/notification/00000000-0000-4000-8000-000000000001
                              pledgor_detail_raw: ИВАНОВ ИВАН ИВАНОВИЧ, 10.05.1985
                              pledgor_detail_name: ИВАНОВ ИВАН ИВАНОВИЧ
                              pledgor_detail_birthdate: 10.05.1985
                            fedresurs:
                            - source: Федресурс
                              message_number_and_date: 15169291 от 15.08.2023
                              message_number: '15169291'
                              message_url: https://fedresurs.ru/example/00000000-0000-4000-8000-000000000001
                              message_type: Заключение договора финансовой аренды (лизинга)
                              lessee: Иванов Иван Иванович
                              lessor: ООО "ГРИНФИНАНС МА"
                              found_in_message: '... Сергей Андреевич Договор: 531/03/23-А/МА/А от 17.03.2023 Предмет финансовой аренды: , 0106008 Автомобили, Volkswagen,
                                Polo, VIN XW8ZZZCKZMG012344 Срок ...'
                              links:
                              - text: 15169291 от 15.08.2023
                                url: https://fedresurs.ru/example/00000000-0000-4000-8000-000000000001
                              encumbrance_guid: 00000000-0000-4000-8000-000000000001
                              encumbrance_publish_date: '2023-08-15T10:10:28.393'
                              encumbrance_type: FinancialLeaseContract
                              encumbrance_highlights_raw:
                              - '<res>Иван</res> <res>Иванович</res>

                                Договор: 531/03/23-А/МА/А от  17.03.2023

                                Предмет финансовой аренды: , 0106008 Автомобили, Volkswagen, Polo, VIN XW8ZZZCKZMG012344

                                Срок'
                              encumbrance_highlights_text: '<res>Иван</res> <res>Иванович</res>

                                Договор: 531/03/23-А/МА/А от  17.03.2023

                                Предмет финансовой аренды: , 0106008 Автомобили, Volkswagen, Polo, VIN XW8ZZZCKZMG012344

                                Срок

                                ООО "ГРИНФИНАНС МА", ОГРН: 1157746000000, ИНН: 7712345678

                                Лизингодатель: ООО "ГРИНФИНАНС МА", ОГРН: 1157746000000, ИНН: 7712345678

                                Лизингополучатель: <res>Иванов</res>'
                              encumbrance_message_url: https://fedresurs.ru/example/00000000-0000-4000-8000-000000000001
                              json_extra:
                                number: '000000'
                                guid: 00000000-0000-4000-8000-000000000001
                                publishDate: '2023-08-15T10:10:28.393'
                                type: FinancialLeaseContract
                                lessee:
                                  guid: 00000000-0000-4000-8000-000000000001
                                  type: Person
                                  role: Lessee
                                  isHidden: false
                                  name: ИВАНОВ ИВАН ИВАНОВИЧ
                                lessor:
                                  guid: 00000000-0000-4000-8000-000000000001
                                  type: Company
                                  role: Lessor
                                  isHidden: false
                                  name: ИВАНОВ ИВАН ИВАНОВИЧ
                                  inn: '7712345678'
                                  ogrn: '1157746000000'
                                highlights_text: '<res>Иван</res> <res>Иванович</res> ... Лизингополучатель: <res>Иванов</res>'
                                message_url: https://fedresurs.ru/example/00000000-0000-4000-8000-000000000001
                            fnp_urls:
                            - https://www.reestr-zalogov.ru/search/notification/00000000-0000-4000-8000-000000000001
                        dateupdated: '2025-12-09 20:22:25'
        '400':
          description: 'Некорректный запрос: ошибка в параметрах или отсутствует обязательное поле.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '402':
          description: Недостаточно средств на счете.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '500':
          description: Системная ошибка сервиса или ошибка на источнике.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
      externalDocs:
        url: https://newdb.net/docs/fiz/06-pledge_person/
  /v2/methods/arbitr_person:
    post:
      tags:
      - Physical Persons
      summary: arbitr_person — Проверка арбитражных дел (физлица, КАД)
      description: Метод arbitr_person ищет арбитражные дела по ИНН физического лица в КАД и поддерживает постраничную выдачу
        через limit и offset.
      operationId: newdb_arbitr_person
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/arbitr_personRequest'
            examples:
              arbitr_person:
                summary: arbitr_person — Проверка арбитражных дел (физлица, КАД)
                value:
                  params:
                    innfiz: '500100732259'
                    country: ru
                    method: arbitr_person
                  requestId: 00000000-0000-4000-8000-000000000002
      responses:
        '200':
          description: Текущее состояние запроса и, при state=complete, результат метода.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncEnvelope'
              examples:
                arbitr_person_complete:
                  summary: Успешный ответ arbitr_person
                  value:
                    params:
                      innfiz: '500100732259'
                      country: ru
                      method: arbitr_person
                      limit: 10
                      offset: 0
                    requestId: 00000000-0000-4000-8000-000000000037
                    datecreated: '2026-01-03 21:02:46'
                    state: complete
                    balance: 9890
                    tasks: 1
                    is_repeat: false
                    results:
                      arbitr_person:
                        result:
                          status: 200
                          data:
                          - query_inn: '7712345678'
                            page_url: https://kad.arbitr.ru/
                            found: true
                            total_count: 17
                            pagination:
                              offset: 0
                              limit: 10
                              returned: 10
                              has_more: true
                              next_offset: 10
                              previous_offset: null
                              page_size: 25
                              pages_count: 1
                            message: Найдено 17 дел. Подробно разобрано 10 из текущих 10. Для следующей пачки передайте offset=10 и limit=10.
                            cases:
                            - date: 26.06.2025
                              case_number: А57-10442/2025
                              case_url: https://kad.arbitr.ru/Card/00000000-0000-4000-8000-000000000001
                              court: АС Саратовской области | Огнищева Ю. П.
                              plaintiff: Леликов Андрей Викторович
                              respondent: Леликов Андрей Викторович
                              index: 0
                              has_details: true
                              card:
                                case_number: А57-10442/2025
                                status: Рассматривается в первой инстанции
                                participants:
                                  plaintiffs: []
                                  defendants: []
                                  third_parties: []
                                  others: []
                                judges: []
                                acts: []
                                calendar_events: []
                                electronic_case_files: []
                                card_pdf_analysis:
                                  pdf_link: https://kad.arbitr.ru/Kad/PdfDocument/example.pdf
                                source_url: https://kad.arbitr.ru/Card/00000000-0000-4000-8000-000000000001
                                index: 0
                            detailed_cases:
                            - case_number: А57-10442/2025
                              status: Рассматривается в первой инстанции
                              participants:
                                plaintiffs: []
                                defendants: []
                                third_parties: []
                                others: []
                              judges: []
                              acts: []
                              calendar_events: []
                              electronic_case_files: []
                              card_pdf_analysis:
                                pdf_link: https://kad.arbitr.ru/Kad/PdfDocument/example.pdf
                              source_url: https://kad.arbitr.ru/Card/00000000-0000-4000-8000-000000000001
                              index: 0
                        taskId: 00000000-0000-4000-8000-000000000039
                        dateupdated: '2026-01-03 21:03:22'
        '400':
          description: 'Некорректный запрос: ошибка в параметрах или отсутствует обязательное поле.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '402':
          description: Недостаточно средств на счете.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '500':
          description: Системная ошибка сервиса или ошибка на источнике.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
      externalDocs:
        url: https://newdb.net/docs/fiz/07-arbitr_person/
  /v2/methods/foreign_vng:
    post:
      tags:
      - Foreign Citizens
      summary: foreign_vng — Вид на жительство (ВНЖ)
      description: Метод NEWDB foreign_vng для проверки вида на жительство (ВНЖ) иностранного гражданина по документам и ФИО.
      operationId: newdb_foreign_vng
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/foreign_vngRequest'
            examples:
              foreign_vng:
                summary: foreign_vng — Вид на жительство (ВНЖ)
                value:
                  params:
                    method: foreign_vng
                    doctype: vng
                    firstname: Иван
                    lastname: Иванов
                    doc_seria: AB
                    doc_number: '7654321'
                    id_doc_seria: FA
                    id_doc_number: '1234567'
                    blank_seria: AA
                    blank_number: '1122334'
                    dob: '1990-01-01'
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000004
      responses:
        '200':
          description: Текущее состояние запроса и, при state=complete, результат метода.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncEnvelope'
              examples:
                foreign_vng_complete:
                  summary: Успешный ответ foreign_vng
                  value:
                    params:
                      method: foreign_vng
                      doctype: vng
                      firstname: Иван
                      lastname: Иванов
                      doc_seria: '0000'
                      doc_number: '000000'
                      id_doc_seria: '0000'
                      id_doc_number: '000000'
                      blank_seria: '0000'
                      blank_number: '000000'
                      dob: '1985-12-01'
                      country: ru
                    requestId: 00000000-0000-4000-8000-000000000040
                    datecreated: '2026-01-18 15:49:41'
                    state: complete
                    balance: 9875
                    tasks: 1
                    is_repeat: false
                    results:
                      foreign_vng:
                        taskId: 00000000-0000-4000-8000-000000000041
                        dateupdated: '2026-01-18 15:50:13'
                        result:
                          status: 200
                          data:
                          - doc_status: Данные не найдены
        '400':
          description: 'Некорректный запрос: ошибка в параметрах или отсутствует обязательное поле.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '402':
          description: Недостаточно средств на счете.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '500':
          description: Системная ошибка сервиса или ошибка на источнике.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
      externalDocs:
        url: https://newdb.net/docs/foreign/01-foreign_vng/
  /v2/methods/foreign_patent:
    post:
      tags:
      - Foreign Citizens
      summary: foreign_patent — Патент
      description: Метод NEWDB foreign_patent для проверки патента иностранного гражданина по данным документа.
      operationId: newdb_foreign_patent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/foreign_patentRequest'
            examples:
              foreign_patent:
                summary: foreign_patent — Патент
                value:
                  params:
                    method: foreign_patent
                    doctype: patent
                    firstname: Иван
                    lastname: Иванов
                    secondname: Иванович
                    doc_seria: AB
                    doc_number: '7654321'
                    id_doc_seria: FA
                    id_doc_number: '1234567'
                    blank_seria: AA
                    blank_number: '1122334'
                    dob: '1990-01-01'
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000001
      responses:
        '200':
          description: Текущее состояние запроса и, при state=complete, результат метода.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncEnvelope'
              examples:
                foreign_patent_complete:
                  summary: Успешный ответ foreign_patent
                  value:
                    params:
                      method: foreign_patent
                      doctype: patent
                      firstname: Иван
                      lastname: Иванов
                      secondname: Иванович
                      doc_seria: '0000'
                      doc_number: '000000'
                      id_doc_seria: '0000'
                      id_doc_number: '000000'
                      blank_seria: '0000'
                      blank_number: '000000'
                      dob: '1985-12-01'
                      country: ru
                    requestId: 00000000-0000-4000-8000-000000000042
                    datecreated: '2026-01-18 15:50:50'
                    state: complete
                    balance: 9874
                    tasks: 1
                    is_repeat: false
                    results:
                      foreign_patent:
                        taskId: 00000000-0000-4000-8000-000000000043
                        dateupdated: '2026-01-18 15:51:20'
                        result:
                          status: 200
                          data:
                          - doc_status: Данные не найдены
        '400':
          description: 'Некорректный запрос: ошибка в параметрах или отсутствует обязательное поле.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '402':
          description: Недостаточно средств на счете.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
        '500':
          description: Системная ошибка сервиса или ошибка на источнике.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsInfoResponse'
      externalDocs:
        url: https://newdb.net/docs/foreign/02-foreign_patent/
  /v2/methods/patent_msk:
    post:
      tags:
      - Foreign Citizens
      summary: patent_msk — Патент (Москва)
      description: Метод NEWDB patent_msk для проверки патента иностранного гражданина в Москве по данным документа.
      operationId: newdb_patent_msk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patent_mskRequest'
            examples:
              patent_msk:
                summary: patent_msk — Патент (Москва)
                value:
                  params:
                    method: patent_msk
                    id_doc_seria: FA
                    id_doc_number: '1234567'
                    citizenship: Узбекистан
                    country: ru
                  requestId: 00000000-0000-4000-8000-000000000002
      responses:
        '200':
          description: Текущее состояние запроса и, при state=complete, результат метода.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncEnvelope'
              examples:
                patent_msk_complete:
[...]
