openapi: 3.0.0
servers:
  - url: https://sqladmin.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: API for Cloud SQL database instance management
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud SQL Admin API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: openapi
      url: https://sqladmin.googleapis.com/$discovery/rest?version=v1
      version: "3.0"
  x-providerName: googleapis.com
  x-serviceName: sqladmin
externalDocs:
  url: https://developers.google.com/cloud-sql/
tags:
  - name: backupRuns
  - name: connect
  - name: databases
  - name: flags
  - name: instances
  - name: operations
  - name: projects
  - name: sslCerts
  - name: tiers
  - name: users
paths:
  /v1/flags:
    get:
      description: Lists all available database flags for Cloud SQL instances.
      operationId: sql.flags.list
      parameters:
        - description: Database type and version you want to retrieve flags for. By default, this method returns flags for all database types and versions.
          in: query
          name: databaseVersion
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlagsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - flags
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/projects/{project}/instances":
    get:
      description: Lists instances under a given project.
      operationId: sql.instances.list
      parameters:
        - description: Project ID of the project for which to list Cloud SQL instances.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: A filter expression that filters resources listed in the response. The expression is in the form of field:value. For example, 'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per their JSON representation, such as 'settings.userLabels.auto_start:true'. Multiple filter queries are space-separated. For example. 'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly.
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of instances to return. The service may return fewer than this value. If unspecified, at most 500 instances are returned. The maximum value is 1000; values above 1000 are coerced to 1000.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: A previously-returned page token representing part of the larger set of results to view.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstancesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new Cloud SQL instance.
      operationId: sql.instances.insert
      parameters:
        - description: Project ID of the project to which the newly created Cloud SQL instances should belong.
          in: path
          name: project
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DatabaseInstance"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/v1/projects/{project}/instances/{instance}":
    delete:
      description: Deletes a Cloud SQL instance.
      operationId: sql.instances.delete
      parameters:
        - description: Project ID of the project that contains the instance to be deleted.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
    get:
      description: Retrieves a resource containing information about a Cloud SQL instance.
      operationId: sql.instances.get
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabaseInstance"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Partially updates settings of a Cloud SQL instance by merging the request with the current configuration. This method supports patch semantics.
      operationId: sql.instances.patch
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DatabaseInstance"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
    put:
      description: Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.
      operationId: sql.instances.update
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DatabaseInstance"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/v1/projects/{project}/instances/{instance}/addServerCa":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Adds a new trusted Certificate Authority (CA) version for the specified instance. Required to prepare for a certificate rotation. If a CA version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one CA version waiting to be rotated in.
      operationId: sql.instances.addServerCa
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/v1/projects/{project}/instances/{instance}/backupRuns":
    get:
      description: Lists all backup runs associated with the project or a given instance and configuration in the reverse chronological order of the backup initiation time.
      operationId: sql.backupRuns.list
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID, or "-" for all instances. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Maximum number of backup runs per response.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: A previously-returned page token representing part of the larger set of results to view.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupRunsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - backupRuns
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new backup run on demand.
      operationId: sql.backupRuns.insert
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BackupRun"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - backupRuns
  "/v1/projects/{project}/instances/{instance}/backupRuns/{id}":
    delete:
      description: Deletes the backup taken by a backup run.
      operationId: sql.backupRuns.delete
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: The ID of the backup run to delete. To find a backup run ID, use the [list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1/backupRuns/list) method.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - backupRuns
    get:
      description: Retrieves a resource containing information about a backup run.
      operationId: sql.backupRuns.get
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: The ID of this backup run.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupRun"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - backupRuns
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/projects/{project}/instances/{instance}/clone":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a Cloud SQL instance as a clone of the source instance. Using this operation might cause your instance to restart.
      operationId: sql.instances.clone
      parameters:
        - description: Project ID of the source as well as the clone Cloud SQL instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstancesCloneRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/v1/projects/{project}/instances/{instance}/connectSettings":
    get:
      description: Retrieves connect settings about a Cloud SQL instance.
      operationId: sql.connect.get
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Optional. Optional snapshot read timestamp to trade freshness for performance.
          in: query
          name: readTime
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectSettings"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - connect
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/projects/{project}/instances/{instance}/createEphemeral":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.
      operationId: sql.sslCerts.createEphemeral
      parameters:
        - description: Project ID of the Cloud SQL project.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SslCertsCreateEphemeralRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SslCert"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - sslCerts
  "/v1/projects/{project}/instances/{instance}/databases":
    get:
      description: Lists databases in the specified Cloud SQL instance.
      operationId: sql.databases.list
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabasesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - databases
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Inserts a resource containing information about a database inside a Cloud SQL instance.
      operationId: sql.databases.insert
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Database"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - databases
  "/v1/projects/{project}/instances/{instance}/databases/{database}":
    delete:
      description: Deletes a database from a Cloud SQL instance.
      operationId: sql.databases.delete
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Name of the database to be deleted in the instance.
          in: path
          name: database
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - databases
    get:
      description: Retrieves a resource containing information about a database inside a Cloud SQL instance.
      operationId: sql.databases.get
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Name of the database in the instance.
          in: path
          name: database
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Database"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - databases
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Partially updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics.
      operationId: sql.databases.patch
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Name of the database to be updated in the instance.
          in: path
          name: database
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Database"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - databases
    put:
      description: Updates a resource containing information about a database inside a Cloud SQL instance.
      operationId: sql.databases.update
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Name of the database to be updated in the instance.
          in: path
          name: database
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Database"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - databases
  "/v1/projects/{project}/instances/{instance}/demoteMaster":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.
      operationId: sql.instances.demoteMaster
      parameters:
        - description: ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance name.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstancesDemoteMasterRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/v1/projects/{project}/instances/{instance}/export":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL dump or CSV file.
      operationId: sql.instances.export
      parameters:
        - description: Project ID of the project that contains the instance to be exported.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstancesExportRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - instances
  "/v1/projects/{project}/instances/{instance}/failover":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Initiates a manual failover of a high availability (HA) primary instance to a standby instance, which becomes the primary instance. Users are then rerouted to the new primary. For more information, see the [Overview of high availability](https://cloud.google.com/sql/docs/mysql/high-availability) page in the Cloud SQL documentation. If using Legacy HA (MySQL only), this causes the instance to failover to its failover replica instance.
      operationId: sql.instances.failover
      parameters:
        - description: ID of the project that contains the read replica.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstancesFailoverRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/v1/projects/{project}/instances/{instance}/getDiskShrinkConfig":
    get:
      description: Get Disk Shrink Config for a given instance.
      operationId: sql.projects.instances.getDiskShrinkConfig
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SqlInstancesGetDiskShrinkConfigResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/projects/{project}/instances/{instance}/import":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage.
      operationId: sql.instances.import
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstancesImportRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - instances
  "/v1/projects/{project}/instances/{instance}/listServerCas":
    get:
      description: "Lists all of the trusted Certificate Authorities (CAs) for the specified instance. There can be up to three CAs listed: the CA that was used to sign the certificate that is currently in use, a CA that has been added but not yet used to sign a certificate, and a CA used to sign a certificate that has previously rotated out."
      operationId: sql.instances.listServerCas
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstancesListServerCasResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/projects/{project}/instances/{instance}/performDiskShrink":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Perform Disk Shrink on primary instance.
      operationId: sql.projects.instances.performDiskShrink
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PerformDiskShrinkContext"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - projects
  "/v1/projects/{project}/instances/{instance}/promoteReplica":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Promotes the read replica instance to be a stand-alone Cloud SQL instance. Using this operation might cause your instance to restart.
      operationId: sql.instances.promoteReplica
      parameters:
        - description: ID of the project that contains the read replica.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL read replica instance name.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/v1/projects/{project}/instances/{instance}/rescheduleMaintenance":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Reschedules the maintenance on the given instance.
      operationId: sql.projects.instances.rescheduleMaintenance
      parameters:
        - description: ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SqlInstancesRescheduleMaintenanceRequestBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - projects
  "/v1/projects/{project}/instances/{instance}/resetReplicaSize":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Reset Replica Size to primary instance disk size.
      operationId: sql.projects.instances.resetReplicaSize
      parameters:
        - description: ID of the project that contains the read replica.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL read replica instance name.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SqlInstancesResetReplicaSizeRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - projects
  "/v1/projects/{project}/instances/{instance}/resetSslConfig":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Deletes all client certificates and generates a new server SSL certificate for the instance.
      operationId: sql.instances.resetSslConfig
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/v1/projects/{project}/instances/{instance}/restart":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Restarts a Cloud SQL instance.
      operationId: sql.instances.restart
      parameters:
        - description: Project ID of the project that contains the instance to be restarted.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/v1/projects/{project}/instances/{instance}/restoreBackup":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Restores a backup of a Cloud SQL instance. Using this operation might cause your instance to restart.
      operationId: sql.instances.restoreBackup
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstancesRestoreBackupRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/v1/projects/{project}/instances/{instance}/rotateServerCa":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Rotates the server certificate to one signed by the Certificate Authority (CA) version previously added with the addServerCA method.
      operationId: sql.instances.rotateServerCa
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstancesRotateServerCaRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/v1/projects/{project}/instances/{instance}/sslCerts":
    get:
      description: Lists all of the current SSL certificates for the instance.
      operationId: sql.sslCerts.list
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SslCertsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - sslCerts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted.
      operationId: sql.sslCerts.insert
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SslCertsInsertRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SslCertsInsertResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - sslCerts
  "/v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}":
    delete:
      description: Deletes the SSL certificate. For First Generation instances, the certificate remains valid until the instance is restarted.
      operationId: sql.sslCerts.delete
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Sha1 FingerPrint.
          in: path
          name: sha1Fingerprint
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - sslCerts
    get:
      description: Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation.
      operationId: sql.sslCerts.get
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Sha1 FingerPrint.
          in: path
          name: sha1Fingerprint
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SslCert"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - sslCerts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/projects/{project}/instances/{instance}/startExternalSync":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Start External primary instance migration.
      operationId: sql.projects.instances.startExternalSync
      parameters:
        - description: ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SqlInstancesStartExternalSyncRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - projects
  "/v1/projects/{project}/instances/{instance}/startReplica":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts the replication in the read replica instance.
      operationId: sql.instances.startReplica
      parameters:
        - description: ID of the project that contains the read replica.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL read replica instance name.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/v1/projects/{project}/instances/{instance}/stopReplica":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Stops the replication in the read replica instance.
      operationId: sql.instances.stopReplica
      parameters:
        - description: ID of the project that contains the read replica.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL read replica instance name.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/v1/projects/{project}/instances/{instance}/truncateLog":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Truncate MySQL general and slow query log tables MySQL only.
      operationId: sql.instances.truncateLog
      parameters:
        - description: Project ID of the Cloud SQL project.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstancesTruncateLogRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/v1/projects/{project}/instances/{instance}/users":
    delete:
      description: Deletes a user from a Cloud SQL instance.
      operationId: sql.users.delete
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Host of the user in the instance.
          in: query
          name: host
          schema:
            type: string
        - description: Name of the user in the instance.
          in: query
          name: name
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - users
    get:
      description: Lists users in the specified Cloud SQL instance.
      operationId: sql.users.list
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - users
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new user in a Cloud SQL instance.
      operationId: sql.users.insert
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - users
    put:
      description: Updates an existing user in a Cloud SQL instance.
      operationId: sql.users.update
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Optional. Host of the user in the instance.
          in: query
          name: host
          schema:
            type: string
        - description: Name of the user in the instance.
          in: query
          name: name
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - users
  "/v1/projects/{project}/instances/{instance}/users/{name}":
    get:
      description: Retrieves a resource containing information about a user.
      operationId: sql.users.get
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: User of the instance.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Host of a user of the instance.
          in: query
          name: host
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - users
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/projects/{project}/instances/{instance}/verifyExternalSyncSettings":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Verify External primary instance external sync settings.
      operationId: sql.projects.instances.verifyExternalSyncSettings
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SqlInstancesVerifyExternalSyncSettingsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SqlInstancesVerifyExternalSyncSettingsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - projects
  "/v1/projects/{project}/instances/{instance}:generateEphemeralCert":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.
      operationId: sql.connect.generateEphemeral
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateEphemeralCertRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateEphemeralCertResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - connect
  "/v1/projects/{project}/operations":
    get:
      description: Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time.
      operationId: sql.operations.list
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: query
          name: instance
          schema:
            type: string
        - description: Maximum number of operations per response.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: A previously-returned page token representing part of the larger set of results to view.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - operations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/projects/{project}/operations/{operation}":
    get:
      description: Retrieves an instance operation that has been performed on an instance.
      operationId: sql.operations.get
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Instance operation ID.
          in: path
          name: operation
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - operations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/projects/{project}/tiers":
    get:
      description: Lists all available machine types (tiers) for Cloud SQL, for example, `db-custom-1-3840`. For more information, see https://cloud.google.com/sql/pricing.
      operationId: sql.tiers.list
      parameters:
        - description: Project ID of the project for which to list tiers.
          in: path
          name: project
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TiersListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - tiers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AclEntry:
      description: An entry for an Access Control list.
      properties:
        expirationTime:
          description: The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.
          format: google-datetime
          type: string
        kind:
          description: This is always `sql#aclEntry`.
          type: string
        name:
          description: Optional. A label to identify this entry.
          type: string
        value:
          description: The allowlisted value for the access control list.
          type: string
      type: object
    AdvancedMachineFeatures:
      description: Specifies options for controlling advanced machine features.
      properties:
        threadsPerCore:
          description: The number of threads per physical core.
          format: int32
          type: integer
      type: object
    ApiWarning:
      description: An Admin API warning message.
      properties:
        code:
          description: Code to uniquely identify the warning type.
          enum:
            - SQL_API_WARNING_CODE_UNSPECIFIED
            - REGION_UNREACHABLE
            - MAX_RESULTS_EXCEEDS_LIMIT
          type: string
        message:
          description: The warning message.
          type: string
        region:
          description: The region name for REGION_UNREACHABLE warning.
          type: string
      type: object
    BackupConfiguration:
      description: Database instance backup configuration.
      properties:
        backupRetentionSettings:
          $ref: "#/components/schemas/BackupRetentionSettings"
          description: Backup retention settings.
        binaryLogEnabled:
          description: (MySQL only) Whether binary log is enabled. If backup configuration is disabled, binarylog must be disabled as well.
          type: boolean
        enabled:
          description: Whether this configuration is enabled.
          type: boolean
        kind:
          description: This is always `sql#backupConfiguration`.
          type: string
        location:
          description: Location of the backup
          type: string
        pointInTimeRecoveryEnabled:
          description: (Postgres only) Whether point in time recovery is enabled.
          type: boolean
        replicationLogArchivingEnabled:
          description: Reserved for future use.
          type: boolean
        startTime:
          description: Start time for the daily backup configuration in UTC timezone in the 24 hour format - `HH:MM`.
          type: string
        transactionLogRetentionDays:
          description: The number of days of transaction logs we retain for point in time restore, from 1-7.
          format: int32
          type: integer
      type: object
    BackupContext:
      description: Backup context.
      properties:
        backupId:
          description: The identifier of the backup.
          format: int64
          type: string
        kind:
          description: This is always `sql#backupContext`.
          type: string
      type: object
    BackupRetentionSettings:
      description: We currently only support backup retention by specifying the number of backups we will retain.
      properties:
        retainedBackups:
          description: Depending on the value of retention_unit, this is used to determine if a backup needs to be deleted. If retention_unit is 'COUNT', we will retain this many backups.
          format: int32
          type: integer
        retentionUnit:
          description: The unit that 'retained_backups' represents.
          enum:
            - RETENTION_UNIT_UNSPECIFIED
            - COUNT
          type: string
      type: object
    BackupRun:
      description: A BackupRun resource.
      properties:
        backupKind:
          description: Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.
          enum:
            - SQL_BACKUP_KIND_UNSPECIFIED
            - SNAPSHOT
            - PHYSICAL
          type: string
        description:
          description: The description of this run, only applicable to on-demand backups.
          type: string
        diskEncryptionConfiguration:
          $ref: "#/components/schemas/DiskEncryptionConfiguration"
          description: Encryption configuration specific to a backup.
        diskEncryptionStatus:
          $ref: "#/components/schemas/DiskEncryptionStatus"
          description: Encryption status specific to a backup.
        endTime:
          description: The time the backup operation completed in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.
          format: google-datetime
          type: string
        enqueuedTime:
          description: The time the run was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.
          format: google-datetime
          type: string
        error:
          $ref: "#/components/schemas/OperationError"
          description: Information about why the backup operation failed. This is only present if the run has the FAILED status.
        id:
          description: The identifier for this backup run. Unique only for a specific Cloud SQL instance.
          format: int64
          type: string
        instance:
[...]
