openapi: 3.0.0
servers:
  - url: https://chromemanagement.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The Chrome Management API is a suite of services that allows Chrome
    administrators to view, manage and gain insights on their Chrome OS and
    Chrome Browser devices.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Chrome Management API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://chromemanagement.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: chromemanagement
externalDocs:
  url: http://developers.google.com/chrome/management/
tags:
  - name: customers
paths:
  "/v1/{customer}/reports:countChromeVersions":
    get:
      description: Generate report of installed Chrome versions.
      operationId: chromemanagement.customers.reports.countChromeVersions
      parameters:
        - description: Required. Customer id or "my_customer" to use the customer
            associated to the account making the request.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: "Query string to filter results, AND-separated fields in EBNF
            syntax. Note: OR operations are not supported in this filter.
            Supported filter fields: * last_active_date"
          in: query
          name: filter
          schema:
            type: string
        - description: The ID of the organizational unit.
          in: query
          name: orgUnitId
          schema:
            type: string
        - description: Maximum number of results to return. Maximum and default are 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Token to specify the page of the request to be returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1CountChromeVersionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{customer}/reports:countInstalledApps":
    get:
      description: Generate report of app installations.
      operationId: chromemanagement.customers.reports.countInstalledApps
      parameters:
        - description: Required. Customer id or "my_customer" to use the customer
            associated to the account making the request.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: "Query string to filter results, AND-separated fields in EBNF
            syntax. Note: OR operations are not supported in this filter.
            Supported filter fields: * app_name * app_type * install_type *
            number_of_permissions * total_install_count *
            latest_profile_active_date * permission_name"
          in: query
          name: filter
          schema:
            type: string
        - description: "Field used to order results. Supported order by fields: * app_name
            * app_type * install_type * number_of_permissions *
            total_install_count"
          in: query
          name: orderBy
          schema:
            type: string
        - description: The ID of the organizational unit.
          in: query
          name: orgUnitId
          schema:
            type: string
        - description: Maximum number of results to return. Maximum and default are 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Token to specify the page of the request to be returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1CountInstalledAppsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{customer}/reports:findInstalledAppDevices":
    get:
      description: Generate report of devices that have a specified app installed.
      operationId: chromemanagement.customers.reports.findInstalledAppDevices
      parameters:
        - description: Required. Customer id or "my_customer" to use the customer
            associated to the account making the request.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Unique identifier of the app. For Chrome apps and extensions, the
            32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android
            apps, the package name (e.g. com.evernote).
          in: query
          name: appId
          schema:
            type: string
        - description: Type of the app.
          in: query
          name: appType
          schema:
            enum:
              - APP_TYPE_UNSPECIFIED
              - EXTENSION
              - APP
              - THEME
              - HOSTED_APP
              - ANDROID_APP
            type: string
        - description: "Query string to filter results, AND-separated fields in EBNF
            syntax. Note: OR operations are not supported in this filter.
            Supported filter fields: * last_active_date"
          in: query
          name: filter
          schema:
            type: string
        - description: "Field used to order results. Supported order by fields: * machine
            * device_id"
          in: query
          name: orderBy
          schema:
            type: string
        - description: The ID of the organizational unit.
          in: query
          name: orgUnitId
          schema:
            type: string
        - description: Maximum number of results to return. Maximum and default are 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Token to specify the page of the request to be returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1FindInstalledAppDevicesResp\
                  onse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with
        API access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications.
        Can be any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    GoogleChromeManagementV1BrowserVersion:
      description: Describes a browser version and its install count.
      properties:
        channel:
          description: Output only. The release channel of the installed browser.
          enum:
            - RELEASE_CHANNEL_UNSPECIFIED
            - CANARY
            - DEV
            - BETA
            - STABLE
          readOnly: true
          type: string
        count:
          description: Output only. Count grouped by device_system and major version
          format: int64
          readOnly: true
          type: string
        deviceOsVersion:
          description: Output only. Version of the system-specified operating system.
          readOnly: true
          type: string
        system:
          description: Output only. The device operating system.
          enum:
            - DEVICE_SYSTEM_UNSPECIFIED
            - SYSTEM_OTHER
            - SYSTEM_ANDROID
            - SYSTEM_IOS
            - SYSTEM_CROS
            - SYSTEM_WINDOWS
            - SYSTEM_MAC
            - SYSTEM_LINUX
          readOnly: true
          type: string
        version:
          description: Output only. The full version of the installed browser.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1CountChromeVersionsResponse:
      description: Response containing requested browser versions details and counts.
      properties:
        browserVersions:
          description: List of all browser versions and their install counts.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1BrowserVersion"
          type: array
        nextPageToken:
          description: Token to specify the next page of the request.
          type: string
        totalSize:
          description: Total number browser versions matching request.
          format: int32
          type: integer
      type: object
    GoogleChromeManagementV1CountInstalledAppsResponse:
      description: Response containing details of queried installed apps.
      properties:
        installedApps:
          description: List of installed apps matching request.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1InstalledApp"
          type: array
        nextPageToken:
          description: Token to specify the next page of the request.
          type: string
        totalSize:
          description: Total number of installed apps matching request.
          format: int32
          type: integer
      type: object
    GoogleChromeManagementV1Device:
      description: Describes a device reporting Chrome browser information.
      properties:
        deviceId:
          description: Output only. The ID of the device that reported this Chrome browser
            information.
          readOnly: true
          type: string
        machine:
          description: Output only. The name of the machine within its local network.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1FindInstalledAppDevicesResponse:
      description: Response containing a list of devices with queried app installed.
      properties:
        devices:
          description: A list of devices which have the app installed. Sorted in ascending
            alphabetical order on the Device.machine field.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1Device"
          type: array
        nextPageToken:
          description: Token to specify the next page of the request.
          type: string
        totalSize:
          description: Total number of devices matching request.
          format: int32
          type: integer
      type: object
    GoogleChromeManagementV1InstalledApp:
      description: Describes an installed app.
      properties:
        appId:
          description: Output only. Unique identifier of the app. For Chrome apps and
            extensions, the 32-character id (e.g.
            ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package
            name (e.g. com.evernote).
          readOnly: true
          type: string
        appInstallType:
          description: Output only. How the app was installed.
          enum:
            - APP_INSTALL_TYPE_UNSPECIFIED
            - MULTIPLE
            - NORMAL
            - ADMIN
            - DEVELOPMENT
            - SIDELOAD
            - OTHER
          readOnly: true
          type: string
        appSource:
          description: Output only. Source of the installed app.
          enum:
            - APP_SOURCE_UNSPECIFIED
            - CHROME_WEBSTORE
            - PLAY_STORE
          readOnly: true
          type: string
        appType:
          description: Output only. Type of the app.
          enum:
            - APP_TYPE_UNSPECIFIED
            - EXTENSION
            - APP
            - THEME
            - HOSTED_APP
            - ANDROID_APP
          readOnly: true
          type: string
        browserDeviceCount:
          description: Output only. Count of browser devices with this app installed.
          format: int64
          readOnly: true
          type: string
        description:
          description: Output only. Description of the installed app.
          readOnly: true
          type: string
        disabled:
          description: Output only. Whether the app is disabled.
          readOnly: true
          type: boolean
        displayName:
          description: Output only. Name of the installed app.
          readOnly: true
          type: string
        homepageUri:
          description: Output only. Homepage uri of the installed app.
          readOnly: true
          type: string
        osUserCount:
          description: Output only. Count of ChromeOS users with this app installed.
          format: int64
          readOnly: true
          type: string
        permissions:
          description: Output only. Permissions of the installed app.
          items:
            type: string
          readOnly: true
          type: array
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/chrome.management.reports.readonly:
              See reports about devices and Chrome browsers managed within your
              organization
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/chrome.management.reports.readonly:
              See reports about devices and Chrome browsers managed within your
              organization
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
