openapi: 3.0.0
servers:
  - url: https://chromemanagement.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The Chrome Management API is a suite of services that allows Chrome administrators to view, manage and gain insights on their Chrome OS and Chrome Browser devices.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Chrome Management API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: openapi
      url: https://chromemanagement.googleapis.com/$discovery/rest?version=v1
      version: "3.0"
  x-providerName: googleapis.com
  x-serviceName: chromemanagement
externalDocs:
  url: http://developers.google.com/chrome/management/
tags:
  - name: customers
paths:
  "/v1/{customer}/apps:countChromeAppRequests":
    get:
      description: Generate summary of app installation requests.
      operationId: chromemanagement.customers.apps.countChromeAppRequests
      parameters:
        - description: Required. Customer id or "my_customer" to use the customer associated to the account making the request.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: "Field used to order results. Supported fields: * request_count * latest_request_time"
          in: query
          name: orderBy
          schema:
            type: string
        - description: The ID of the organizational unit.
          in: query
          name: orgUnitId
          schema:
            type: string
        - description: Maximum number of results to return. Maximum and default are 50, anything above will be coerced to 50.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Token to specify the page of the request to be returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1CountChromeAppRequestsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.appdetails.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.appdetails.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{customer}/reports:countChromeVersions":
    get:
      description: Generate report of installed Chrome versions.
      operationId: chromemanagement.customers.reports.countChromeVersions
      parameters:
        - description: Required. Customer id or "my_customer" to use the customer associated to the account making the request.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date"
          in: query
          name: filter
          schema:
            type: string
        - description: The ID of the organizational unit.
          in: query
          name: orgUnitId
          schema:
            type: string
        - description: Maximum number of results to return. Maximum and default are 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Token to specify the page of the request to be returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1CountChromeVersionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{customer}/reports:countInstalledApps":
    get:
      description: Generate report of app installations.
      operationId: chromemanagement.customers.reports.countInstalledApps
      parameters:
        - description: Required. Customer id or "my_customer" to use the customer associated to the account making the request.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * app_name * app_type * install_type * number_of_permissions * total_install_count * latest_profile_active_date * permission_name"
          in: query
          name: filter
          schema:
            type: string
        - description: "Field used to order results. Supported order by fields: * app_name * app_type * install_type * number_of_permissions * total_install_count"
          in: query
          name: orderBy
          schema:
            type: string
        - description: The ID of the organizational unit.
          in: query
          name: orgUnitId
          schema:
            type: string
        - description: Maximum number of results to return. Maximum and default are 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Token to specify the page of the request to be returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1CountInstalledAppsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{customer}/reports:findInstalledAppDevices":
    get:
      description: Generate report of devices that have a specified app installed.
      operationId: chromemanagement.customers.reports.findInstalledAppDevices
      parameters:
        - description: Required. Customer id or "my_customer" to use the customer associated to the account making the request.
          in: path
          name: customer
          required: true
          schema:
            type: string
        - description: Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).
          in: query
          name: appId
          schema:
            type: string
        - description: Type of the app.
          in: query
          name: appType
          schema:
            enum:
              - APP_TYPE_UNSPECIFIED
              - EXTENSION
              - APP
              - THEME
              - HOSTED_APP
              - ANDROID_APP
            type: string
        - description: "Query string to filter results, AND-separated fields in EBNF syntax. Note: OR operations are not supported in this filter. Supported filter fields: * last_active_date"
          in: query
          name: filter
          schema:
            type: string
        - description: "Field used to order results. Supported order by fields: * machine * device_id"
          in: query
          name: orderBy
          schema:
            type: string
        - description: The ID of the organizational unit.
          in: query
          name: orgUnitId
          schema:
            type: string
        - description: Maximum number of results to return. Maximum and default are 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Token to specify the page of the request to be returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1FindInstalledAppDevicesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.reports.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}":
    get:
      description: Get a specific app for a customer by its resource name.
      operationId: chromemanagement.customers.apps.web.get
      parameters:
        - description: "Required. The app for which details are being queried. Examples: \"customers/my_customer/apps/chrome/gmbmikajjgmnabiglmofipeabaddhgne@2.1.2\" for the Save to Google Drive Chrome extension version 2.1.2, \"customers/my_customer/apps/android/com.google.android.apps.docs\" for the Google Drive Android app's latest version."
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleChromeManagementV1AppDetails"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/chrome.management.appdetails.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/chrome.management.appdetails.readonly
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    GoogleChromeManagementV1AndroidAppInfo:
      description: Android app information.
      properties:
        permissions:
          description: Output only. Permissions requested by an Android app.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1AndroidAppPermission"
          readOnly: true
          type: array
      type: object
    GoogleChromeManagementV1AndroidAppPermission:
      description: Permission requested by an Android app.
      properties:
        type:
          description: Output only. The type of the permission.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1AppDetails:
      description: Resource representing app details.
      properties:
        androidAppInfo:
          $ref: "#/components/schemas/GoogleChromeManagementV1AndroidAppInfo"
          description: Output only. Android app information.
          readOnly: true
        appId:
          description: 'Output only. Unique store identifier for the item. Examples: "gmbmikajjgmnabiglmofipeabaddhgne" for the Save to Google Drive Chrome extension, "com.google.android.apps.docs" for the Google Drive Android app.'
          readOnly: true
          type: string
        chromeAppInfo:
          $ref: "#/components/schemas/GoogleChromeManagementV1ChromeAppInfo"
          description: Output only. Chrome Web Store app information.
          readOnly: true
        description:
          description: Output only. App's description.
          readOnly: true
          type: string
        detailUri:
          description: Output only. The uri for the detail page of the item.
          readOnly: true
          type: string
        displayName:
          description: Output only. App's display name.
          readOnly: true
          type: string
        firstPublishTime:
          description: Output only. First published time.
          format: google-datetime
          readOnly: true
          type: string
        homepageUri:
          description: Output only. Home page or Website uri.
          readOnly: true
          type: string
        iconUri:
          description: Output only. A link to an image that can be used as an icon for the product.
          readOnly: true
          type: string
        isPaidApp:
          description: Output only. Indicates if the app has to be paid for OR has paid content.
          readOnly: true
          type: boolean
        latestPublishTime:
          description: Output only. Latest published time.
          format: google-datetime
          readOnly: true
          type: string
        name:
          description: "Output only. Format: name=customers/{customer_id}/apps/{chrome|android|web}/{app_id}@{version}"
          readOnly: true
          type: string
        privacyPolicyUri:
          description: Output only. The URI pointing to the privacy policy of the app, if it was provided by the developer. Version-specific field that will only be set when the requested app version is found.
          readOnly: true
          type: string
        publisher:
          description: Output only. The publisher of the item.
          readOnly: true
          type: string
        reviewNumber:
          description: Output only. Number of reviews received. Chrome Web Store review information will always be for the latest version of an app.
          format: int64
          readOnly: true
          type: string
        reviewRating:
          description: Output only. The rating of the app (on 5 stars). Chrome Web Store review information will always be for the latest version of an app.
          format: float
          readOnly: true
          type: number
        revisionId:
          description: Output only. App version. A new revision is committed whenever a new version of the app is published.
          readOnly: true
          type: string
        serviceError:
          $ref: "#/components/schemas/GoogleRpcStatus"
          description: Output only. Information about a partial service error if applicable.
          readOnly: true
        type:
          description: Output only. App type.
          enum:
            - APP_ITEM_TYPE_UNSPECIFIED
            - CHROME
            - ANDROID
            - WEB
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1BrowserVersion:
      description: Describes a browser version and its install count.
      properties:
        channel:
          description: Output only. The release channel of the installed browser.
          enum:
            - RELEASE_CHANNEL_UNSPECIFIED
            - CANARY
            - DEV
            - BETA
            - STABLE
          readOnly: true
          type: string
        count:
          description: Output only. Count grouped by device_system and major version
          format: int64
          readOnly: true
          type: string
        deviceOsVersion:
          description: Output only. Version of the system-specified operating system.
          readOnly: true
          type: string
        system:
          description: Output only. The device operating system.
          enum:
            - DEVICE_SYSTEM_UNSPECIFIED
            - SYSTEM_OTHER
            - SYSTEM_ANDROID
            - SYSTEM_IOS
            - SYSTEM_CROS
            - SYSTEM_WINDOWS
            - SYSTEM_MAC
            - SYSTEM_LINUX
          readOnly: true
          type: string
        version:
          description: Output only. The full version of the installed browser.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1ChromeAppInfo:
      description: Chrome Web Store app information.
      properties:
        googleOwned:
          description: Output only. Whether the app or extension is built and maintained by Google. Version-specific field that will only be set when the requested app version is found.
          readOnly: true
          type: boolean
        isCwsHosted:
          description: Output only. Whether the app or extension is in a published state in the Chrome Web Store.
          readOnly: true
          type: boolean
        isTheme:
          description: Output only. Whether the app or extension is a theme.
          readOnly: true
          type: boolean
        minUserCount:
          description: Output only. The minimum number of users using this app.
          format: int32
          readOnly: true
          type: integer
        permissions:
          description: Output only. Every custom permission requested by the app. Version-specific field that will only be set when the requested app version is found.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1ChromeAppPermission"
          readOnly: true
          type: array
        siteAccess:
          description: Output only. Every permission giving access to domains or broad host patterns. ( e.g. www.google.com). This includes the matches from content scripts as well as hosts in the permissions node of the manifest. Version-specific field that will only be set when the requested app version is found.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1ChromeAppSiteAccess"
          readOnly: true
          type: array
        supportEnabled:
          description: Output only. The app developer has enabled support for their app. Version-specific field that will only be set when the requested app version is found.
          readOnly: true
          type: boolean
      type: object
    GoogleChromeManagementV1ChromeAppPermission:
      description: Permission requested by a Chrome app or extension.
      properties:
        accessUserData:
          description: Output only. If available, whether this permissions grants the app/extension access to user data.
          readOnly: true
          type: boolean
        documentationUri:
          description: Output only. If available, a URI to a page that has documentation for the current permission.
          readOnly: true
          type: string
        type:
          description: Output only. The type of the permission.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1ChromeAppRequest:
      description: Details of an app installation request.
      properties:
        appDetails:
          description: "Output only. Format: app_details=customers/{customer_id}/apps/chrome/{app_id}"
          readOnly: true
          type: string
        appId:
          description: 'Output only. Unique store identifier for the app. Example: "gmbmikajjgmnabiglmofipeabaddhgne" for the Save to Google Drive Chrome extension.'
          readOnly: true
          type: string
        detailUri:
          description: Output only. The uri for the detail page of the item.
          readOnly: true
          type: string
        displayName:
          description: Output only. App's display name.
          readOnly: true
          type: string
        iconUri:
          description: Output only. A link to an image that can be used as an icon for the product.
          readOnly: true
          type: string
        latestRequestTime:
          description: Output only. The timestamp of the most recently made request for this app.
          format: google-datetime
          readOnly: true
          type: string
        requestCount:
          description: Output only. Total count of requests for this app.
          format: int64
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1ChromeAppSiteAccess:
      description: Represent one host permission.
      properties:
        hostMatch:
          description: Output only. This can contain very specific hosts, or patterns like "*.com" for instance.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1CountChromeAppRequestsResponse:
      description: Response containing summary of requested app installations.
      properties:
        nextPageToken:
          description: Token to specify the next page in the list.
          type: string
        requestedApps:
          description: Count of requested apps matching request.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1ChromeAppRequest"
          type: array
        totalSize:
          description: Total number of matching app requests.
          format: int32
          type: integer
      type: object
    GoogleChromeManagementV1CountChromeVersionsResponse:
      description: Response containing requested browser versions details and counts.
      properties:
        browserVersions:
          description: List of all browser versions and their install counts.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1BrowserVersion"
          type: array
        nextPageToken:
          description: Token to specify the next page of the request.
          type: string
        totalSize:
          description: Total number browser versions matching request.
          format: int32
          type: integer
      type: object
    GoogleChromeManagementV1CountInstalledAppsResponse:
      description: Response containing details of queried installed apps.
      properties:
        installedApps:
          description: List of installed apps matching request.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1InstalledApp"
          type: array
        nextPageToken:
          description: Token to specify the next page of the request.
          type: string
        totalSize:
          description: Total number of installed apps matching request.
          format: int32
          type: integer
      type: object
    GoogleChromeManagementV1Device:
      description: Describes a device reporting Chrome browser information.
      properties:
        deviceId:
          description: Output only. The ID of the device that reported this Chrome browser information.
          readOnly: true
          type: string
        machine:
          description: Output only. The name of the machine within its local network.
          readOnly: true
          type: string
      type: object
    GoogleChromeManagementV1FindInstalledAppDevicesResponse:
      description: Response containing a list of devices with queried app installed.
      properties:
        devices:
          description: A list of devices which have the app installed. Sorted in ascending alphabetical order on the Device.machine field.
          items:
            $ref: "#/components/schemas/GoogleChromeManagementV1Device"
          type: array
        nextPageToken:
          description: Token to specify the next page of the request.
          type: string
        totalSize:
          description: Total number of devices matching request.
          format: int32
          type: integer
      type: object
    GoogleChromeManagementV1InstalledApp:
      description: Describes an installed app.
      properties:
        appId:
          description: Output only. Unique identifier of the app. For Chrome apps and extensions, the 32-character id (e.g. ehoadneljpdggcbbknedodolkkjodefl). For Android apps, the package name (e.g. com.evernote).
          readOnly: true
          type: string
        appInstallType:
          description: Output only. How the app was installed.
          enum:
            - APP_INSTALL_TYPE_UNSPECIFIED
            - MULTIPLE
            - NORMAL
            - ADMIN
            - DEVELOPMENT
            - SIDELOAD
            - OTHER
          readOnly: true
          type: string
        appSource:
          description: Output only. Source of the installed app.
          enum:
            - APP_SOURCE_UNSPECIFIED
            - CHROME_WEBSTORE
            - PLAY_STORE
          readOnly: true
          type: string
        appType:
          description: Output only. Type of the app.
          enum:
            - APP_TYPE_UNSPECIFIED
            - EXTENSION
            - APP
            - THEME
            - HOSTED_APP
            - ANDROID_APP
          readOnly: true
          type: string
        browserDeviceCount:
          description: Output only. Count of browser devices with this app installed.
          format: int64
          readOnly: true
          type: string
        description:
          description: Output only. Description of the installed app.
          readOnly: true
          type: string
        disabled:
          description: Output only. Whether the app is disabled.
          readOnly: true
          type: boolean
        displayName:
          description: Output only. Name of the installed app.
          readOnly: true
          type: string
        homepageUri:
          description: Output only. Homepage uri of the installed app.
          readOnly: true
          type: string
        osUserCount:
          description: Output only. Count of ChromeOS users with this app installed.
          format: int64
          readOnly: true
          type: string
        permissions:
          description: Output only. Permissions of the installed app.
          items:
            type: string
          readOnly: true
          type: array
      type: object
    GoogleRpcStatus:
      description: "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      properties:
        code:
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
          type: integer
        details:
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
            type: object
          type: array
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/chrome.management.appdetails.readonly: See detailed information about apps installed on Chrome browsers and devices managed by your organization
            https://www.googleapis.com/auth/chrome.management.reports.readonly: See reports about devices and Chrome browsers managed within your organization
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/chrome.management.appdetails.readonly: See detailed information about apps installed on Chrome browsers and devices managed by your organization
            https://www.googleapis.com/auth/chrome.management.reports.readonly: See reports about devices and Chrome browsers managed within your organization
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
