swagger: '2.0'
schemes:
  - https
host: api.storecove.com
basePath: /api/v2
info:
  contact:
    email: apisupport@storecove.nl
  description: Storecove API
  title: Storecove
  version: 2.0.1
  x-apisguru-categories:
    - financial
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://www.storecove.com/assets/v2/logo-b0d52166b7aedce1c08416e14480dcefd5db3f8a68704a6b802c37b189dd8894.png'
  x-origin:
    - format: swagger
      url: 'https://www.storecove.com/api/v2/openapi.json'
      version: '2.0'
  x-providerName: storecove.com
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  Bearer:
    in: header
    name: Authorization
    type: apiKey
security:
  - Bearer: []
tags:
  - name: InvoiceSubmissions
  - name: Shops
  - name: ShopAccounts
  - name: ShopAccountRequests
  - name: LegalEntities
  - name: PeppolIdentifiers
  - name: PurchaseInvoices
paths:
  /invoice_submissions:
    post:
      description: |-
        Submit an invoice for delivery.
        include::examples/invoice_submissions/create_invoice_submission/tabs.adoc[]
      operationId: create_invoice_submission
      parameters:
        - description: Invoice to submit
          in: body
          name: invoice_submission
          required: true
          schema:
            $ref: '#/definitions/InvoiceSubmission'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InvoiceSubmissionResult'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity
          schema:
            items:
              $ref: '#/definitions/ErrorModel'
            type: array
      summary: Submit a new invoice
      tags:
        - InvoiceSubmissions
  /invoice_submissions/preflight:
    post:
      description: |-
        Check whether Storecove can deliver an invoice for a list of ids.
        include::examples/invoice_submissions/preflight_invoice_recipient/tabs.adoc[]
      operationId: preflight_invoice_recipient
      parameters:
        - description: The invoice recipient to preflight
          in: body
          name: invoice_recipient_preflight
          required: true
          schema:
            $ref: '#/definitions/InvoiceRecipientPreflight'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PreflightInvoiceRecipientResult'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity
          schema:
            items:
              $ref: '#/definitions/ErrorModel'
            type: array
      summary: Preflight an invoice recipient
      tags:
        - InvoiceSubmissions
  /legal_entities:
    post:
      description: Create a new LegalEntity.
      operationId: create_legal_entity
      parameters:
        - description: LegalEntity to create
          in: body
          name: legal_entity
          required: true
          schema:
            $ref: '#/definitions/LegalEntityCreate'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/LegalEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity
          schema:
            items:
              $ref: '#/definitions/ErrorModel'
            type: array
      summary: Create a new LegalEntity
      tags:
        - LegalEntities
  '/legal_entities/{id}':
    delete:
      description: Delete a specific LegalEntity.
      operationId: delete_legal_entity
      parameters:
        - description: legal_entity id
          format: int64
          in: path
          name: id
          required: true
          type: integer
      responses:
        '204':
          description: Success
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Delete LegalEntity
      tags:
        - LegalEntities
    get:
      description: Get a specific LegalEntity.
      operationId: get_legal_entity
      parameters:
        - description: legal_entity id
          format: int64
          in: path
          name: id
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/LegalEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Get LegalEntity
      tags:
        - LegalEntities
    patch:
      description: Update a specific LegalEntity.
      operationId: update_legal_entity
      parameters:
        - description: legal_entity id
          format: int64
          in: path
          name: id
          required: true
          type: integer
        - description: LegalEntity updates
          in: body
          name: legal_entity
          required: true
          schema:
            $ref: '#/definitions/LegalEntityUpdate'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/LegalEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
          schema:
            items:
              $ref: '#/definitions/ErrorModel'
            type: array
      summary: Update LegalEntity
      tags:
        - LegalEntities
  '/legal_entities/{legal_entity_id}/peppol_identifiers':
    post:
      description: Create a new PeppolIdentifier.
      operationId: create_peppol_identifier
      parameters:
        - description: The id of the LegalEntity for which to create the PeppolIdentifier
          format: int64
          in: path
          name: legal_entity_id
          required: true
          type: integer
        - description: PeppolIdentifier to create
          in: body
          name: peppol_identifier
          required: true
          schema:
            $ref: '#/definitions/PeppolIdentifierCreate'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PeppolIdentifier'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
          schema:
            items:
              $ref: '#/definitions/ErrorModel'
            type: array
      summary: Create a new PeppolIdentifier
      tags:
        - PeppolIdentifiers
  '/legal_entities/{legal_entity_id}/peppol_identifiers/{superscheme}/{scheme}/{identifier}':
    delete:
      description: Delete a PeppolIdentifier.
      operationId: delete_peppol_identifier
      parameters:
        - description: The id of the LegalEntity this PeppolIdentifier belongs to
          format: int64
          in: path
          name: legal_entity_id
          required: true
          type: integer
        - description: The superscheme of the identifier. Should always be "iso6523-actorid-upis".
          in: path
          name: superscheme
          required: true
          type: string
        - description: 'PEPPOL identifier scheme id, e.g. "DE:VAT". For a full list see <<peppol_schemes_list>>.'
          in: path
          name: scheme
          required: true
          type: string
        - description: PEPPOL identifier
          in: path
          name: identifier
          required: true
          type: string
      responses:
        '204':
          description: Success
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Delete PeppolIdentifier
      tags:
        - PeppolIdentifiers
  '/purchase_invoices/{guid}':
    get:
      description: Get a specific Invoice.
      operationId: get_invoice
      parameters:
        - description: purchase invoice guid
          format: uuid
          in: path
          name: guid
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PurchaseInvoice'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Get Invoice
      tags:
        - PurchaseInvoices
  '/purchase_invoices/{guid}/ubl':
    get:
      description: Get a specific Invoice in UBL form.
      operationId: get_invoice_ubl
      parameters:
        - description: purchase invoice guid
          format: uuid
          in: path
          name: guid
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PurchaseInvoiceUbl'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Get Invoice as UBL
      tags:
        - PurchaseInvoices
  /shop_account_requests:
    get:
      description: |-
        Retrieve all active ShopAccountRequests for one of your entities.
        include::examples/shop_account_requests/shop_account_requests_index/tabs.adoc[]
      operationId: shop_account_requests_index
      parameters:
        - description: Filter by the external_user_id
          in: query
          name: external_user_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/ShopAccountRequestResult'
            type: array
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: Get ShopAccountRequests
      tags:
        - ShopAccountRequests
    post:
      description: |-
        Create a new ShopAccountRequest
        include::examples/shop_account_requests/create_shop_account_request/tabs.adoc[]
      operationId: create_shop_account_request
      parameters:
        - description: ShopAccountRequest to add
          in: body
          name: shop_account_request
          required: true
          schema:
            $ref: '#/definitions/ShopAccountRequestInput'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ShopAccountRequestResult'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity
          schema:
            items:
              $ref: '#/definitions/ErrorModel'
            type: array
      summary: Create ShopAccountRequest
      tags:
        - ShopAccountRequests
  '/shop_account_requests/{id}':
    delete:
      description: |-
        Delete a specific ShopAccountRequest
        include::examples/shop_account_requests/delete_shop_account_request/tabs.adoc[]
      operationId: delete_shop_account_request
      parameters:
        - description: shop_account_request id
          format: int64
          in: path
          name: id
          required: true
          type: integer
      responses:
        '204':
          description: Success
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: Delete ShopAccountRequest
      tags:
        - ShopAccountRequests
    get:
      description: |-
        Show a specific ShopAccountRequest
        include::examples/shop_account_requests/get_shop_account_request/tabs.adoc[]
      operationId: get_shop_account_request
      parameters:
        - description: shop_account_request id
          format: int64
          in: path
          name: id
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ShopAccountRequestResult'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: Get ShopAccountRequest
      tags:
        - ShopAccountRequests
    patch:
      description: |-
        Update a specific ShopAccountRequest
        include::examples/shop_account_requests/update_shop_account_request/tabs.adoc[]
      operationId: update_shop_account_request
      parameters:
        - description: shop_account_request id
          format: int64
          in: path
          name: id
          required: true
          type: integer
        - description: ShopAccountRequest updates
          in: body
          name: shop_account_request
          required: true
          schema:
            $ref: '#/definitions/ShopAccountRequestUpdate'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ShopAccountRequestResult'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity
          schema:
            items:
              $ref: '#/definitions/ErrorModel'
            type: array
      summary: Update ShopAccountRequest
      tags:
        - ShopAccountRequests
  /shop_accounts:
    get:
      description: |-
        Retrieve all active ShopAccounts for one of your entities.
        include::examples/shop_accounts/shop_accounts_index/tabs.adoc[]
      operationId: shop_accounts_index
      parameters:
        - description: Filter by the external_user_id
          in: query
          name: external_user_id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/ShopAccountResult'
            type: array
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: Get ShopAccounts for an entity
      tags:
        - ShopAccounts
    post:
      description: |-
        Create a new ShopAccount.
        include::examples/shop_accounts/create_shop_account/tabs.adoc[]
      operationId: create_shop_account
      parameters:
        - description: ShopAccount to add
          in: body
          name: shop_account
          required: true
          schema:
            $ref: '#/definitions/ShopAccountInput'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ShopAccountResult'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity
          schema:
            items:
              $ref: '#/definitions/ErrorModel'
            type: array
      summary: Create ShopAccount
      tags:
        - ShopAccounts
  /shop_accounts/auth_failures:
    get:
      description: |-
        Get ShopAccounts with authorization failures.
        include::examples/shop_accounts/shop_accounts_auth_failures/tabs.adoc[]
      operationId: shop_accounts_auth_failures
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/ShopAccountResult'
            type: array
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: Get ShopAccounts with authorization failures
      tags:
        - ShopAccounts
  '/shop_accounts/{id}':
    delete:
      description: |-
        Delete a specific ShopAccount.
        include::examples/shop_accounts/delete_shop_account/tabs.adoc[]
      operationId: delete_shop_account
      parameters:
        - description: shop_account id
          format: int64
          in: path
          name: id
          required: true
          type: integer
      responses:
        '204':
          description: Success
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: Delete ShopAccount
      tags:
        - ShopAccounts
    get:
      description: |-
        Get a specific ShopAccount.
        include::examples/shop_accounts/get_shop_account/tabs.adoc[]
      operationId: get_shop_account
      parameters:
        - description: shop_account id
          format: int64
          in: path
          name: id
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ShopAccountResult'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: Get ShopAccount
      tags:
        - ShopAccounts
    patch:
      description: |-
        Update a specific ShopAccount.
        include::examples/shop_accounts/update_shop_account/tabs.adoc[]
      operationId: update_shop_account
      parameters:
        - description: shop_account id
          format: int64
          in: path
          name: id
          required: true
          type: integer
        - description: ShopAccount updates
          in: body
          name: shop_account
          required: true
          schema:
            $ref: '#/definitions/ShopAccountUpdate'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ShopAccountResult'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity
          schema:
            items:
              $ref: '#/definitions/ErrorModel'
            type: array
      summary: Update ShopAccount
      tags:
        - ShopAccounts
  /shops:
    get:
      description: |-
        Get all available shops.
        include::examples/shops/shops_index/tabs.adoc[]
      operationId: shops_index
      parameters:
        - description: Include creditcards in list. Add ?cc=true to URL to use.
          in: query
          name: cc
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/Shop'
            type: array
        '401':
          description: Unauthorized
      summary: Get Shops
      tags:
        - Shops
definitions:
  AccountingCostCode:
    description: The code in the chart of accounts used by the receiver of the invoice.
    properties:
      code:
        description: 'The buyer''s accounting cost centre for this invoice(line), expressed as a code'
        minLength: 1
        title: Accounting Cost Code
        type: string
      list:
        description: The identification of a list of codes.
        minLength: 1
        title: List ID
        type: string
      listAgency:
        description: An agency that maintains one or more lists of codes.
        minLength: 1
        title: List Agency
        type: string
      listVersion:
        description: The version of the list of codes.
        minLength: 1
        title: List Version
        type: string
    title: Accounting cost code
    type: object
  AccountingCustomerParty:
    description: The customer receiving the invoice.
    properties:
      accountId:
        description: The account id you assigned to the customer.
        title: Account id
        type: string
      party:
        $ref: '#/definitions/Party'
    required:
      - party
    title: Customer
    type: object
  AccountingSupplierParty:
    description: 'The party sending the invoice. Most data for the AccountingSupplierParty is taken from the Storecove database, where your sender identity resides and has been validated. However, we provide a limited number of fields here that you can specify on an invoice-by-invoice basis.'
    properties:
      party:
        $ref: '#/definitions/SupplierParty'
    title: Supplier
    type: object
  Address:
    description: The address
    properties:
      city:
        description: The name of the city.
        minLength: 2
        title: City
        type: string
      country:
        $ref: '#/definitions/Country'
      county:
        description: An optional county name.
        title: County
        type: string
      department:
        description: The department
        title: Department
        type: string
      number:
        description: 'This number will be added to the street1 element. The number can be provided in this field OR in the street1 field, but not in both.'
        title: Building number
        type: string
      postbox:
        description: The postbox number
        title: Postbox
        type: string
      street1:
        description: 'The street name. The number can be provided in this fiedl OR in the number field, but not in both.'
        minLength: 2
        title: Street 1
        type: string
      street2:
        description: The second street field. Use this if you used the first field for the building name.
        title: Street 2
        type: string
      zip:
        description: The zipcode/postalzone.
        minLength: 2
        title: Zipcode
        type: string
    required:
      - country
    title: Address
    type: object
  AllowanceCharge:
    properties:
      amountExcludingVat:
        description: 'The amount for the allowance charge, excluding VAT'
        title: Amount
        type: number
      reason:
        default: Agreed settlement
        description: 'The reason for the allowance charge, free text'
        title: Reason
        type: string
      reasonCode:
        default: '1'
        description: 'The reason code for the allowance charge. Uses list http://www.unece.org/trade/untdid/d12a/tred/tred4465.htm , defaults to 1 - Agreed settlement'
        title: Reason Code
        type: string
      tax:
        description: The tax for this allowance charge.
        properties:
          amount:
            description: The amount of VAT. Should equal percentage x amountExcludingVat. A difference of 5 cents or 1% between the calculated value and the provided value is allowed.
            title: Amount of VAT for the allowance charge
            type: number
          country:
            $ref: '#/definitions/Country'
          percentage:
            description: The percentage VAT. This should be a valid VAT percentage in the country at the time of the issueDate of this invoice.
            title: Percentage VAT
            type: number
        required:
          - amount
          - percentage
          - country
        title: Tax
        type: object
    required:
      - amountExcludingVat
      - tax
    title: Allowance Charge
    type: object
  BuyerCustomerParty:
    description: The buyer receiving the invoice.
    properties:
      accountId:
        description: The account id you assigned to the customer.
        title: Account id
        type: string
      party:
        $ref: '#/definitions/Party'
    required:
      - party
    title: Buyer
    type: object
  Contact:
    description: Contact details for the invoice
    properties:
      email:
        format: email
        title: Email address
        type: string
      firstName:
        title: First name
        type: string
      lastName:
        title: Last name
        type: string
      phone:
        description: Only supported for AccountingSupplierParty.
        title: Phone number
        type: string
    title: Contact
    type: object
  Country:
    description: An ISO 3166-1 alpha-2 country code.
    enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - YE
      - YT
      - ZA
      - ZM
      - ZW
    title: Country
    type: string
  CurrencyCode:
    description: The ISO 4217 currency code.
    enum:
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BYR
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - UYI
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XFU
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XTS
      - XUA
      - XXX
      - YER
      - ZAR
      - ZMW
    title: Currency
    type: string
  Delivery:
    properties:
      actualDate:
        description: The actual date of the delivery.
        pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}$'
        title: Actual Date
        type: string
      location:
        properties:
          address:
            $ref: '#/definitions/Address'
          id:
            description: The location identifier.
            minLength: 2
            title: Identifier
            type: string
          schemeAgencyId:
            description: The schemeAgencyId of the location identifier (e.g. 'ZZZ')
            title: Identifier Scheme Agency ID
            type: string
          schemeId:
            description: The schemeId of the location identifier (e.g. 'EAN')
            title: Identifier Scheme ID
            type: string
        type: object
      quantity:
        default: 1
        description: The quantity of the delivery.
        title: Quantity
        type: number
    type: object
  ErrorModel:
    properties:
      details:
        type: string
      source:
        type: string
  Invoice:
    description: The invoice to send
    properties:
      accountingCost:
        description: 'The buyer''s accounting cost centre for this invoice, expressed as text.'
        minLength: 1
        title: Accounting Cost
        type: string
      accountingCostCode:
        $ref: '#/definitions/AccountingCostCode'
      accountingCustomerParty:
        $ref: '#/definitions/AccountingCustomerParty'
        description: The party the invoice is sent to.
      accountingSupplierParty:
        $ref: '#/definitions/AccountingSupplierParty'
        description: 'The party sending the invoice. Most data for the AccountingSupplierParty is taken from the Storecove database, where your sender identity resides and has been validated. However, we provide a limited number of fields (mainly contact fields) here that you can specify on an invoice-by-invoice basis. Contact us if you want to use this feature.'
      allowanceCharges:
        description: An array of allowance charges.
        items:
          $ref: '#/definitions/AllowanceCharge'
        minItems: 0
        title: Allowance Charges
        type: array
      amountIncludingVat:
        description: 'amountIncludingVat is important because of rounding differences. In many invoices, the sum of the line item amounts excluding VAT and the VAT amounts is not equal to first summing the line items without VAT, and then applying VAT. The difference is automatically calculated and included in the electronic invoice, so the receiving accounting package can process the electronic invoice without problems.'
        title: Amount including VAT
        type: number
      billingReference:
        description: A reference to a commercial invoice or corrective invoice of which the current invoice is a correction. This field is mandatory when sending invoiceType 384.
        title: Billing reference
        type: string
      buyerCustomerParty:
        $ref: '#/definitions/BuyerCustomerParty'
        description: The buyer party.
      buyerReference:
        description: A reference provided by the buyer used for internal routing of the document.
        title: Buyer reference
        type: string
      contractDocumentReference:
        description: A reference to a contract or framework agreement that this invoice relates to.
        title: Contract document reference
        type: string
      delivery:
        $ref: '#/definitions/Delivery'
        description: The delivery of the invoice.
        title: The Delivery
      documentCurrencyCode:
        $ref: '#/definitions/CurrencyCode'
        default: EUR
        description: 'The documentCurrencyCode is the currency for the entire invoice. We currently do not support invoices in multiple currencies. If left out, will default to EUR'
      dueDate:
        description: 'Format: yyyy-mm-dd.'
        pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}$'
        title: Due date
        type: string
      invoiceLines:
        description: An array of invoice lines.
        items:
          $ref: '#/definitions/InvoiceLine'
        minItems: 1
        title: Invoice lines
        type: array
      invoiceNumber:
        description: 'The invoice number you assigned to the invoice. The invoiceNumber should be unique for the legalEntityId and year of the issueDate. This means invoice numbers can be reused in different years, as is customary in some countries.'
        minLength: 1
        title: Invoice number
        type: string
      invoicePeriod:
        description: 'The period (or specific date) to which the invoice applies. Format: yyyy-mm-dd - yyyy-mm-dd.'
        pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2} - [0-9]{4}-[0-9]{2}-[0-9]{2}$'
        title: Invoice period
        type: string
      invoiceType:
        default: '380'
        description: 'Use 380 for a regular invoice, 381 for a credit invoice, 384 for a corrective invoice. Note that invoiceType 381 must be for a positive amount! In case of invoiceType 384, the billingReference field must contain the invoiceNumber of the invoice being corrected.'
        enum:
          - '380'
          - '381'
          - '384'
        title: Type of invoice
        type: string
      issueDate:
        description: 'Format: yyyy-mm-dd.'
        pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}$'
        title: Invoice issue date
        type: string
      note:
        description: A note to add to the invoice
        title: Note
        type: string
      orderReference:
        description: 'A reference to an order for this invoice, assigned by the buyer.'
        title: Order reference
        type: string
      paymentMeansCode:
        default: '31'
        description: 'A code from the UNCL4461 list (http://docs.peppol.eu/poacc/billing/3.0/codelist/UNCL4461/). You should probably omit this or use 31.'
        title: Payment Means Code
        type: string
      paymentMeansIban:
        description: The IBAN the amount payable should be transferred to
        title: IBAN
        type: string
      paymentMeansPaymentId:
        description: The payment id that you will use to match the payment against the invoice.
        title: Payment Id
        type: string
      projectReference:
        description: Information about the project this invoice relates to.
        title: Project Reference
        type: string
      salesOrderId:
        description: 'A reference to an order for this invoice, assigned by the seller.'
        title: Sales Order Id
        type: string
      taxExemptReason:
        description: 'The reason no tax is present on the invoice. allowed: export, reverse_charge, zero_rated. Note that this is an invoice level field and you cannot currently specify it per invoice line.'
        enum:
          - export
          - reverse_charge
          - zero_rated
        type: string
      taxPointDate:
        description: 'The tax date is the date on which the supply of goods or of services was made or completed or the date on which the payment on account was made insofar as that date can be determined and differs from the date of the issue of the invoice. EU 2006-112 Article 226 Point 7. Note: For the Dutch TAX authorities the tac date should be the same as the issue date.'
        pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}$'
        title: Tax date
        type: string
      ublExtensions:
        description: An array of ubl extensions.
        items:
          type: string
        title: UBL Extenstions
        type: array
      vatReverseCharge:
        default: false
        description: DEPRECTATED. Use taxExemptReason.
        type: boolean
    required:
      - invoiceNumber
      - issueDate
      - accountingCustomerParty
      - invoiceLines
      - amountIncludingVat
    title: Invoice
    type: object
  InvoiceLine:
    properties:
      accountingCost:
        description: 'The buyer''s accounting cost centre for this invoice line, expressed as text.'
        minLength: 1
        title: Accounting Cost
        type: string
      accountingCostCode:
        $ref: '#/definitions/AccountingCostCode'
      allowanceCharge:
        description: The discount or surcharge on this item. Should be negative for discounts
        title: allowanceCharge
        type: number
      amountExcludingVat:
        description: The amount excluding VAT. Should equal quantity x itemPrice + allowanceCharge. A difference of 5 cents or 1% between the calculated value and the provided value is allowed.
        title: amountExcludingVat
        type: number
      delivery:
        $ref: '#/definitions/Delivery'
        description: The delivery of the invoice line.
        title: Delivery
      description:
        description: The description for this invoice line.
        minLength: 1
        title: Description
        type: string
      invoicePeriod:
        description: 'The period (or specific date) to which the invoice line applies. Format: yyyy-mm-dd - yyyy-mm-dd.'
        pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2} - [0-9]{4}-[0-9]{2}-[0-9]{2}$'
        title: Invoice period
        type: string
      itemPrice:
        default: 1
        description: The price per item (may be fractional)
        title: Item price
        type: number
      name:
        description: 'A short name for this invoice line. If not provided, it will be taken from description and description will be set to an emtpy string.'
        minLength: 1
        title: Name
        type: string
      quantity:
        default: 1
        description: The number of items (may be fractional).
        title: Quantity
        type: number
      quantityUnitCode:
        default: C62
        description: 'A unit code from UNECE Rec20. The complete list can be found at http://www.datypic.com/sc/ubl20/a-unitCode-4.html'
        enum:
          - '04'
          - '05'
          - 08
          - '10'
          - '11'
          - '13'
          - '14'
          - '15'
          - '16'
          - '17'
          - '18'
          - '19'
          - '20'
          - '21'
          - '22'
          - '23'
          - '24'
          - '25'
          - '26'
          - '27'
          - '28'
          - '29'
          - '30'
          - '31'
          - '32'
          - '33'
          - '34'
          - '35'
          - '36'
          - '37'
          - '38'
          - '40'
          - '41'
          - '43'
          - '44'
          - '45'
          - '46'
          - '47'
          - '48'
          - '53'
          - '54'
          - '56'
          - '57'
          - '58'
          - '59'
          - '60'
          - '61'
          - '62'
          - '63'
          - '64'
          - '66'
          - '69'
          - '71'
          - '72'
          - '73'
          - '74'
          - '76'
          - '77'
          - '78'
          - '80'
          - '81'
          - '84'
          - '85'
          - '87'
          - '89'
          - '90'
          - '91'
          - '92'
          - '93'
          - '94'
          - '95'
          - '96'
          - '97'
          - '98'
          - 1A
          - 1B
          - 1C
          - 1D
          - 1E
          - 1F
          - 1G
          - 1H
          - 1I
          - 1J
          - 1K
          - 1L
          - 1M
          - 1X
          - 2A
          - 2B
          - 2C
          - 2I
          - 2J
          - 2K
          - 2L
          - 2M
          - 2N
          - 2P
          - 2Q
          - 2R
          - 2U
          - 2V
          - 2W
          - 2X
          - 2Y
          - 2Z
          - 3B
          - 3C
          - 3E
          - 3G
          - 3H
          - 3I
          - 4A
          - 4B
          - 4C
          - 4E
          - 4G
          - 4H
          - 4K
          - 4L
          - 4M
          - 4N
          - 4O
          - 4P
          - 4Q
          - 4R
          - 4T
          - 4U
          - 4W
          - 4X
          - 5A
          - 5B
          - 5C
          - 5E
          - 5F
          - 5G
          - 5H
          - 5I
          - 5J
          - 5K
          - 5P
          - 5Q
          - A1
          - A10
          - A11
          - A12
          - A13
          - A14
          - A15
          - A16
          - A17
          - A18
          - A19
          - A2
          - A20
          - A21
          - A22
          - A23
          - A24
          - A25
          - A26
          - A27
          - A28
          - A29
          - A3
          - A30
          - A31
          - A32
          - A33
          - A34
          - A35
          - A36
          - A37
          - A38
          - A39
          - A4
          - A40
          - A41
          - A42
          - A43
          - A44
          - A45
          - A47
          - A48
          - A49
          - A5
          - A50
          - A51
          - A52
          - A53
          - A54
          - A55
          - A56
          - A57
          - A58
          - A6
          - A60
          - A61
          - A62
          - A63
          - A64
          - A65
          - A66
          - A67
          - A68
          - A69
          - A7
          - A70
          - A71
          - A73
          - A74
          - A75
          - A76
          - A77
          - A78
          - A79
          - A8
          - A80
          - A81
          - A82
          - A83
          - A84
          - A85
          - A86
          - A87
          - A88
          - A89
          - A9
          - A90
          - A91
          - A93
          - A94
          - A95
          - A96
          - A97
          - A98
          - AA
          - AB
          - ACR
          - AD
          - AE
          - AH
          - AI
          - AJ
          - AK
          - AL
          - AM
          - AMH
          - AMP
          - ANN
          - AP
          - APZ
          - AQ
          - AR
          - ARE
          - AS
          - ASM
          - ASU
          - ATM
          - ATT
          - AV
          - AW
          - AY
          - AZ
          - B0
          - B1
          - B11
          - B12
          - B13
          - B14
          - B15
          - B16
          - B18
          - B2
          - B20
          - B21
          - B22
          - B23
          - B24
          - B25
          - B26
          - B27
          - B28
          - B29
          - B3
          - B31
          - B32
          - B33
          - B34
          - B35
          - B36
          - B37
          - B38
          - B39
          - B4
          - B40
          - B41
          - B42
          - B43
          - B44
          - B45
          - B46
          - B47
          - B48
          - B49
          - B5
          - B50
          - B51
          - B52
          - B53
          - B54
          - B55
          - B56
          - B57
          - B58
          - B59
          - B6
          - B60
          - B61
          - B62
          - B63
          - B64
          - B65
          - B66
          - B67
          - B69
          - B7
          - B70
          - B71
          - B72
          - B73
          - B74
          - B75
          - B76
          - B77
          - B78
          - B79
          - B8
          - B81
          - B83
          - B84
          - B85
          - B86
          - B87
          - B88
          - B89
          - B9
          - B90
          - B91
          - B92
          - B93
          - B94
          - B95
          - B96
          - B97
          - B98
          - B99
          - BAR
          - BB
          - BD
          - BE
          - BFT
          - BG
          - BH
          - BHP
          - BIL
          - BJ
          - BK
          - BL
          - BLD
          - BLL
          - BO
          - BP
          - BQL
          - BR
          - BT
          - BTU
          - BUA
          - BUI
          - BW
          - BX
          - BZ
          - C0
          - C1
          - C10
          - C11
          - C12
          - C13
          - C14
          - C15
          - C16
          - C17
          - C18
          - C19
          - C2
          - C20
          - C22
          - C23
          - C24
          - C25
          - C26
          - C27
          - C28
          - C29
          - C3
          - C30
          - C31
          - C32
          - C33
          - C34
          - C35
          - C36
          - C38
          - C39
          - C4
          - C40
          - C41
          - C42
          - C43
          - C44
          - C45
          - C46
          - C47
          - C48
          - C49
          - C5
          - C50
          - C51
          - C52
          - C53
          - C54
          - C55
          - C56
          - C57
          - C58
          - C59
          - C6
          - C60
          - C61
          - C62
          - C63
          - C64
          - C65
          - C66
          - C67
          - C68
          - C69
          - C7
          - C70
          - C71
          - C72
          - C73
          - C75
          - C76
          - C77
          - C78
          - C8
          - C80
          - C81
          - C82
          - C83
          - C84
          - C85
          - C86
          - C87
          - C88
          - C89
          - C9
          - C90
          - C91
          - C92
          - C93
          - C94
          - C95
          - C96
          - C97
          - C98
          - C99
          - CA
          - CCT
          - CDL
          - CEL
          - CEN
          - CG
          - CGM
          - CH
          - CJ
          - CK
          - CKG
          - CL
          - CLF
          - CLT
          - CMK
          - CMQ
          - CMT
          - CNP
          - CNT
          - CO
          - COU
          - CQ
          - CR
          - CS
          - CT
          - CTM
          - CU
          - CUR
          - CV
          - CWA
          - CWI
          - CY
          - CZ
          - D1
          - D10
          - D12
          - D13
          - D14
          - D15
          - D16
          - D17
          - D18
          - D19
          - D2
          - D20
          - D21
          - D22
          - D23
          - D24
          - D25
          - D26
          - D27
          - D28
          - D29
          - D30
          - D31
          - D32
          - D33
          - D34
          - D35
          - D37
          - D38
          - D39
          - D40
          - D41
          - D42
          - D43
          - D44
          - D45
          - D46
          - D47
          - D48
          - D49
          - D5
          - D50
          - D51
          - D52
          - D53
          - D54
          - D55
          - D56
          - D57
          - D58
          - D59
          - D6
          - D60
          - D61
          - D62
          - D63
          - D64
          - D65
          - D66
          - D67
          - D69
          - D7
          - D70
          - D71
          - D72
          - D73
          - D74
          - D75
          - D76
          - D77
          - D79
          - D8
          - D80
          - D81
          - D82
          - D83
          - D85
          - D86
          - D87
          - D88
          - D89
          - D9
          - D90
          - D91
          - D92
          - D93
          - D94
          - D95
          - D96
          - D97
          - D98
          - D99
          - DAA
          - DAD
          - DAY
          - DB
          - DC
          - DD
          - DE
          - DEC
          - DG
          - DI
          - DJ
          - DLT
          - DMK
          - DMQ
          - DMT
          - DN
          - DPC
          - DPR
          - DPT
          - DQ
          - DR
          - DRA
          - DRI
          - DRL
          - DRM
          - DS
          - DT
          - DTN
          - DU
          - DWT
          - DX
          - DY
          - DZN
          - DZP
          - E2
          - E3
          - E4
          - E5
          - EA
          - EB
          - EC
          - EP
          - EQ
          - EV
          - F1
          - F9
          - FAH
          - FAR
          - FB
          - FC
          - FD
          - FE
          - FF
          - FG
          - FH
          - FL
          - FM
          - FOT
          - FP
          - FR
          - FS
          - FTK
          - FTQ
          - G2
          - G3
          - G7
          - GB
          - GBQ
          - GC
          - GD
          - GE
          - GF
          - GFI
          - GGR
          - GH
          - GIA
          - GII
          - GJ
          - GK
          - GL
          - GLD
          - GLI
          - GLL
          - GM
          - GN
          - GO
          - GP
          - GQ
          - GRM
          - GRN
          - GRO
          - GRT
          - GT
          - GV
          - GW
          - GWH
          - GY
          - GZ
          - H1
          - H2
          - HA
          - HAR
          - HBA
          - HBX
          - HC
          - HD
          - HE
          - HF
          - HGM
          - HH
          - HI
          - HIU
          - HJ
          - HK
          - HL
          - HLT
          - HM
          - HMQ
          - HMT
          - HN
          - HO
          - HP
          - HPA
          - HS
          - HT
          - HTZ
          - HUR
          - HY
          - IA
          - IC
          - IE
          - IF
          - II
          - IL
          - IM
          - INH
          - INK
          - INQ
          - IP
          - IT
          - IU
          - IV
          - J2
          - JB
          - JE
          - JG
          - JK
          - JM
          - JO
          - JOU
          - JR
          - K1
          - K2
          - K3
          - K5
          - K6
          - KA
          - KB
          - KBA
          - KD
          - KEL
          - KF
          - KG
          - KGM
          - KGS
          - KHZ
          - KI
          - KJ
          - KJO
          - KL
          - KMH
          - KMK
          - KMQ
          - KNI
          - KNS
          - KNT
          - KO
          - KPA
          - KPH
          - KPO
          - KPP
          - KR
          - KS
          - KSD
          - KSH
          - KT
          - KTM
          - KTN
          - KUR
          - KVA
          - KVR
          - KVT
          - KW
          - KWH
          - KWT
          - KX
          - L2
          - LA
          - LBR
          - LBT
          - LC
          - LD
          - LE
          - LEF
          - LF
          - LH
          - LI
          - LJ
          - LK
          - LM
          - LN
          - LO
          - LP
          - LPA
          - LR
          - LS
          - LTN
          - LTR
          - LUM
          - LUX
          - LX
          - LY
          - M0
          - M1
          - M4
          - M5
          - M7
          - M9
          - MA
          - MAL
          - MAM
          - MAW
          - MBE
          - MBF
          - MBR
          - MC
          - MCU
          - MD
          - MF
          - MGM
          - MHZ
          - MIK
          - MIL
          - MIN
          - MIO
          - MIU
          - MK
          - MLD
          - MLT
          - MMK
          - MMQ
          - MMT
          - MON
          - MPA
          - MQ
          - MQH
          - MQS
          - MSK
          - MT
          - MTK
          - MTQ
          - MTR
          - MTS
          - MV
          - MVA
          - MWH
          - N1
          - N2
          - N3
          - NA
          - NAR
          - NB
          - NBB
          - NC
          - NCL
          - ND
          - NE
          - NEW
          - NF
          - NG
          - NH
          - NI
          - NIU
          - NJ
          - NL
          - NMI
          - NMP
          - NN
          - NPL
          - NPR
          - NPT
          - NQ
          - NR
          - NRL
          - NT
          - NTT
          - NU
          - NV
          - NX
          - NY
          - OA
          - OHM
          - 'ON'
          - ONZ
          - OP
          - OT
          - OZ
          - OZA
          - OZI
          - P0
          - P1
          - P2
          - P3
          - P4
          - P5
          - P6
          - P7
          - P8
          - P9
          - PA
          - PAL
          - PB
          - PD
          - PE
          - PF
          - PG
          - PGL
          - PI
          - PK
          - PL
          - PM
          - PN
          - PO
          - PQ
          - PR
          - PS
          - PT
          - PTD
          - PTI
          - PTL
          - PU
          - PV
          - PW
          - PY
          - PZ
          - Q3
          - QA
          - QAN
          - QB
          - QD
          - QH
          - QK
          - QR
          - QT
          - QTD
          - QTI
          - QTL
          - QTR
          - R1
          - R4
          - R9
          - RA
          - RD
          - RG
          - RH
          - RK
          - RL
          - RM
          - RN
          - RO
          - RP
          - RPM
          - RPS
          - RS
          - RT
          - RU
          - S3
          - S4
          - S5
          - S6
          - S7
          - S8
          - SA
          - SAN
          - SCO
          - SCR
          - SD
          - SE
          - SEC
          - SET
          - SG
          - SHT
          - SIE
          - SK
          - SL
          - SMI
          - SN
          - SO
          - SP
          - SQ
          - SR
          - SS
          - SST
          - ST
          - STI
          - STN
          - SV
          - SW
          - SX
          - T0
          - T1
          - T3
          - T4
          - T5
          - T6
          - T7
          - T8
          - TA
          - TAH
          - TC
          - TD
          - TE
          - TF
          - TI
          - TJ
          - TK
          - TL
          - TN
          - TNE
          - TP
          - TPR
          - TQ
          - TQD
          - TR
          - TRL
          - TS
          - TSD
          - TSH
          - TT
          - TU
          - TV
          - TW
          - TY
          - U1
          - U2
          - UA
          - UB
          - UC
          - UD
          - UE
          - UF
          - UH
          - UM
          - VA
          - VI
          - VLT
          - VQ
          - VS
          - W2
          - W4
          - WA
          - WB
          - WCD
          - WE
          - WEB
          - WEE
          - WG
          - WH
          - WHR
          - WI
          - WM
          - WR
          - WSD
          - WTT
          - WW
          - X1
          - YDK
          - YDQ
          - YL
          - YRD
          - YT
          - Z1
          - Z2
          - Z3
          - Z4
          - Z5
          - Z6
          - Z8
          - ZP
          - ZZ
        title: Quantity Unit Code
        type: string
      sellersItemIdentification:
        description: The ID the seller assigned to this item.
        minLength: 1
        title: Sellers Item Identification
        type: string
      standardItemIdentification:
        description: Standardized ID for the item.
        minLength: 1
        title: Standard Item Identification
        type: string
      standardItemIdentificationSchemeAgencyId:
        default: '9'
        description: The scheme agency for the standardized ID for the item.
        minLength: 1
        title: Standard Item Identification Scheme Agency
        type: string
      standardItemIdentificationSchemeId:
        default: GTIN
        description: The scheme for the standardized ID for the item.
        minLength: 1
        title: Standard Item Identification Scheme
        type: string
      tax:
        description: The tax for this invoice line.
        properties:
          amount:
            description: The amount of VAT. Should equal percentage x amountExcludingVat. A difference of 5 cents or 1% between the calculated value and the provided value is allowed.
            title: Amount of VAT
            type: number
          country:
            $ref: '#/definitions/Country'
          percentage:
            description: The percentage VAT. This should be a valid VAT percentage in the country at the time of the issueDate of this invoice.
            title: Percentage VAT
            type: number
        required:
          - amount
          - percentage
          - country
        title: Tax
        type: object
    required:
      - amountExcludingVat
    title: Invoice line
    type: object
  InvoiceRecipient:
    description: 'Ids that identify this invoice recipient. The list of identifiers should match with the accountingCustomerParty. I.e., you should not be sending an invoice for one accountingCustomerParty to the publicIdentifier of another.'
    properties:
      emails:
        description: The email addresses the invoice should be sent to if none of the other identifiers can be used
        items:
          description: The email address the invoice should be sent to
          format: email
          title: Email
          type: string
        title: Fallback email
        type: array
      id:
        description: DEPRECATED. Use widgetIdentification.id
        minLength: 2
        title: Entity id
        type: string
      publicIdentifiers:
        $ref: '#/definitions/PublicIdentifiers'
        description: The public identifiers for this invoice recipient. These are the identifiers used on the Peppol network.
        title: Public Identifiers
      widgetIdentification:
        $ref: '#/definitions/WidgetIdentification'
        description: The identification for the identifier related to the Storecove Destination Configuration widget.
        title: Widget Identification
    title: Recipient ids
    type: object
  InvoiceRecipientPreflight:
    description: Identifies the invoice recipient to preflight
    properties:
      publicIdentifiers:
        $ref: '#/definitions/PublicIdentifiers'
        description: The public identifiers for this invoice recipient.
      supplierId:
        description: DEPRECATED.
        title: Supplier id
        type: integer
      widgetIdentification:
        $ref: '#/definitions/WidgetIdentification'
        description: The identification for the identifier related to the Storecove Destination Configuration widget.
        title: Widget Identification
    title: Invoice recipient preflight
    type: object
  InvoiceSubmission:
    description: 'The invoice you want Storecove to process, with some meta-data.'
    properties:
      document:
        description: The invoice in PDF form. The document should be base64 encoded and the enocded string length should not exceed 2MB (2097152 bytes).
        minLength: 5
        title: Document
        type: string
      documentUrl:
        description: 'A URL to retrieve the PDF document via HTTP GET. If the link expires, please allow at least 7 days of validity.'
        format: uri
        title: Document Url
        type: string
      invoice:
        $ref: '#/definitions/Invoice'
      invoiceRecipient:
        $ref: '#/definitions/InvoiceRecipient'
      legalEntityId:
        description: The id of the LegalEntity this invoice should be sent for.
        title: The LegalEntity id
        type: integer
      legalSupplierId:
        description: DEPRECATED. Use legalEntityId
        title: The legal supplier id
        type: integer
      mode:
        description: DEPRECATED. The mode in which to run this invoice submission.
        enum:
          - direct
        title: Mode
        type: string
      supplierId:
        description: DEPRECATED.
        title: Supplier id
        type: integer
    required:
      - invoiceRecipient
      - invoice
    title: Invoice submission
    type: object
  InvoiceSubmissionResult:
    description: The result of an invoice submission
    properties:
      guid:
        description: A (V4) GUID for the invoice submission
        title: GUID
        type: string
    title: Invoice submission result
    type: object
  LegalEntity:
    allOf:
      - $ref: '#/definitions/LegalEntityUpdate'
      - properties:
          peppol_identifiers:
            items:
              $ref: '#/definitions/PeppolIdentifier'
            type: array
  LegalEntityCreate:
    properties:
      city:
        description: The city.
        maxLength: 64
        minLength: 2
        title: City
        type: string
      country:
        $ref: '#/definitions/Country'
      county:
        description: 'County, if applicable'
        maxLength: 64
        title: County
        type: string
      line1:
        description: The first address line.
        maxLength: 64
        minLength: 2
        title: Address line 1
        type: string
      line2:
        description: 'The second address line, if applicable'
        maxLength: 64
        title: Address line 2
        type: string
      party_name:
        description: The name of the company.
        maxLength: 64
        minLength: 2
        title: Company name
        type: string
      zip:
        description: The zipcode.
        maxLength: 32
        minLength: 2
        title: Zipcode
        type: string
    required:
      - party_name
      - line1
      - city
      - zip
      - country
  LegalEntityIdentifier:
    properties:
      identifier:
        type: string
      scheme:
        type: string
      scheme_agency:
        type: string
  LegalEntityShop:
    properties:
      city:
        type: string
      country:
        type: string
      county:
        type: string
      identifiers:
        items:
          $ref: '#/definitions/LegalEntityIdentifier'
        type: array
      line1:
        type: string
      line2:
        type: string
      name:
        type: string
      zip:
        type: string
  LegalEntityUpdate:
    properties:
      city:
        description: The city.
        maxLength: 64
        minLength: 2
        title: City
        type: string
      country:
        $ref: '#/definitions/Country'
      county:
        description: 'County, if applicable'
        maxLength: 64
        title: County
        type: string
      id:
        description: The Storecove assigned id for the LegalEntity.
        format: int64
        title: Id
        type: integer
      line1:
        description: The first address line.
        maxLength: 64
        minLength: 2
        title: Address line 1
        type: string
      line2:
        description: 'The second address line, if applicable'
        maxLength: 64
        title: Address line 2
        type: string
      party_name:
        description: The name of the company.
        maxLength: 64
        minLength: 2
        title: Company name
        type: string
      zip:
        description: The zipcode.
        maxLength: 32
        minLength: 2
        title: Zipcode
        type: string
  Logos:
    properties:
      medium:
        type: string
      small:
        type: string
      thumb:
        type: string
  Party:
    description: A party that can receive or send invoices
    properties:
      address:
        $ref: '#/definitions/Address'
      companyName:
        description: The name of the company receiving the invoice
        minLength: 2
        title: Company name
        type: string
      contact:
        $ref: '#/definitions/Contact'
    required:
      - companyName
      - address
    title: Party
    type: object
  PeppolIdentifier:
    properties:
      identifier:
        description: The identifier.
        maxLength: 64
        minLength: 2
        title: Identifier
        type: string
      scheme:
        description: The scheme of the identifier. See <<_peppol_schemes_list>> for a list.
        maxLength: 64
        minLength: 2
        title: Type
        type: string
      superscheme:
        description: The superscheme of the identifier. Should always be "iso6523-actorid-upis".
        maxLength: 64
        minLength: 2
        title: Type
        type: string
  PeppolIdentifierCreate:
    properties:
      identifier:
        description: The identifier.
        maxLength: 64
        minLength: 2
        title: Identifier
        type: string
      scheme:
        description: The scheme of the identifier. See <<_peppol_schemes_list>> for a list.
        maxLength: 64
        minLength: 2
        title: Type
        type: string
      superscheme:
        description: The superscheme of the identifier. Should always be "iso6523-actorid-upis".
        maxLength: 64
        minLength: 2
        title: Type
        type: string
    required:
      - identifier
      - scheme
      - superscheme
  PreflightInvoiceRecipientResult:
    description: The result of preflighting an invoice recipient
    properties:
      code:
        description: The result code of the preflight request
        enum:
          - ok
          - nok
        title: Result code
        type: string
    title: Preflight invoice recipient result
    type: object
  PublicIdentifier:
    description: A public identifier for this customer.
    properties:
      id:
        description: The actual identifier.
        minLength: 2
        title: Identifier
        type: string
      scheme:
        description: The scheme of the identifier. See <<_peppol_schemes_list>> for a list.
        minLength: 3
        title: Scheme
        type: string
    required:
      - scheme
      - id
    title: Public identifier
    type: object
  PublicIdentifiers:
    description: A list of public identifiers that uniquely identifiy this customer.
    items:
      $ref: '#/definitions/PublicIdentifier'
    title: Public identifiers
    type: array
  PurchaseInvoice:
    properties:
      accounting:
        $ref: '#/definitions/PurchaseInvoiceAccountingDetails'
        description: The accounting details for the invoice.
        title: Accounting Details
        type: object
      allowance_charge:
        description: 'A correction on the amount to pay, for instance if the invoice has been prepaid, in which case it will be negative.'
        title: Allowance Charge
        type: number
      amount_including_vat:
        description: 'The total invoice amount payable, including VAT. This is equal to the sum of the invoice_lines (amount_excluding_vat + vat.amount)'
        title: Amount Including VAT
        type: number
      billing_reference:
        description: The end date of the period this invoice relates to. Format "YYYY-MM-DD".
        title: End of Period
        type: string
      buyer_reference:
        description: The end date of the period this invoice relates to. Format "YYYY-MM-DD".
        title: End of Period
        type: string
      contract_document_reference:
        description: The end date of the period this invoice relates to. Format "YYYY-MM-DD".
        title: End of Period
        type: string
      document:
        description: The Base64 encoded PDF document associated with the invoice.
        title: Document
        type: string
      document_currency_code:
        description: The ISO 4217 currency for the invoice.
        title: Currency
        type: string
      due_date:
        description: The date the invoice must be payed by. Format "YYYY-MM-DD".
        title: Due Date
        type: string
      external_key:
        description: Used for accountants. The id you specified for the organization.
        title: External key
        type: string
      external_user_id:
        description: Used for the embedded portal retrieval service. The external_user_id you provided when the ShopAccount was created.
        title: External user id
        type: string
      guid:
        description: The GUID of the invoice
        format: uuid
        title: GUID
        type: string
      invoice_lines:
        items:
          $ref: '#/definitions/PurchaseInvoiceInvoiceLine'
        type: array
      invoice_number:
        description: The invoicenumber.
        title: Invoicenumber
        type: string
      invoice_type:
        description: The type of invoice.
        enum:
          - invoice
          - creditnote
          - correctioninvoice
        title: Invoice Type
        type: string
      issue_date:
        description: The date the invoice was issued. Format "YYYY-MM-DD".
        title: Issue Date
        type: string
      legal_entity_id:
        description: The id of the LegalEntity the invoice was received for.
        format: int64
        title: LegalEntity id
        type: integer
      payable_amount:
        description: 'The total invoice amount payable including VAT. This is equal to amount_including_vat + allowance_charge + payable_rounding_amount. This property is redundant and provided only to make invoice processing more easy. You can also choose to only store this property, instead of the underlying fields.'
        title: Amount to Pay Including VAT
        type: number
      payable_rounding_amount:
        description: The difference between the invoice total and the sum of the invoice lines.
        title: Payable Rounding Amount
        type: number
      payment_means:
        description: How the invoice can be paid.
        properties:
          iban:
            description: The IBAN to which to transfer.
            title: IBAN
            type: string
          id:
            description: An id to mention in the transfer.
            title: Id
            type: string
        title: Payment Means
        type: object
      period_end:
        description: The end date of the period this invoice relates to. Format "YYYY-MM-DD".
        title: End of Period
        type: string
      period_start:
        description: The start date of the period this invoice relates to. Format "YYYY-MM-DD".
        title: Start of Period
        type: string
      sender:
        $ref: '#/definitions/PurchaseInvoiceSender'
        description: The organzation that sent the invoice.
        title: Invoice Sender
        type: object
      source:
        description: The source the invoice was received from.
        enum:
          - peppol
          - script
          - supplier
          - email
        title: Invoice Source
        type: string
      tax_point_date:
        description: The date the invoice was issued for tax purposes. In most countries MUST match the issue_date. Format "YYYY-MM-DD".
        title: Tax Point Date
        type: string
      vat_reverse_charge:
        description: Whether or not the invoice is reverse charged.
        title: VAT Reverse Charge
        type: boolean
  PurchaseInvoiceAccountingDetails:
    properties:
      code:
        description: The the code of the general ledger account.
        title: Code
        type: string
      list:
        description: 'The name of the list for the code, e.g. "RGS".'
        title: List
        type: string
      list_version:
        description: 'The version of the list for the code, e.g. "1.1".'
        title: List Version
        type: string
      name:
        description: A textual descroption of the code.
        title: Name
        type: string
  PurchaseInvoiceInvoiceLine:
    properties:
      accounting:
        $ref: '#/definitions/PurchaseInvoiceAccountingDetails'
        description: The accounting details for the invoice line.
        title: Accounting Details
        type: object
      allowance_charge:
        description: 'The adjustment to the price, for instance a discount.'
        title: Allowance Charge
        type: number
      amount_excluding_vat:
        description: 'The amount excluding VAT. This is equal to quantity x price_amount + allowance_charge. This property is redundant and provided only to make invoice processing more easy. You can also choose to only store this property, instead of the underlying fields.'
        title: Amount Excluding VAT
        type: number
      description:
        description: The description for the invoice line.
        title: Description
        type: string
      price_amount:
        description: 'The price for one item, excluding VAT.'
        title: Price Amount
        type: number
      quantity:
        description: The quantity of the item.
        title: Quantity
        type: number
      vat:
        description: The VAT details for the invoice line.
        properties:
          amount:
            description: The amount of VAT for the invoice line.
            title: Amount
            type: number
          country:
            description: The ISO 3166 country of the VAT for the invoice line.
            title: Country
            type: string
          percentage:
            description: The percentage of VAT for the invoice line.
            title: Percentage
            type: number
        title: VAT Details
        type: object
  PurchaseInvoiceSender:
    properties:
      billing_contact:
        $ref: '#/definitions/PurchaseInvoiceSenderBillingContact'
        description: The billing contact for the invoice.
        title: Billing Contact
        type: object
      city:
        description: The city.
        title: City
        type: string
      country:
        description: The country.
        title: Country
        type: string
      county:
        description: The county.
        title: County
        type: string
      department:
        description: The department who sent the invoice.
        title: Department
        type: string
      line1:
        description: The address
        title: Address Line 1
        type: string
      line2:
        description: 'The address, line 2'
        title: Address Line 2
        type: string
      party_name:
        description: The party who sent the invoice.
        title: Party Name
        type: string
      peppol_identifiers:
        items:
          $ref: '#/definitions/PeppolIdentifier'
        type: array
      zip:
        description: The zip code.
        title: Zip
        type: string
  PurchaseInvoiceSenderBillingContact:
    properties:
      email:
        description: The email of the billing contact.
        title: Email
        type: string
      first_name:
        description: The first name of the billing contact.
        title: First Name
        type: string
      last_name:
        description: The last name of the billing contact.
        title: Last Name
        type: string
  PurchaseInvoiceUbl:
    properties:
      external_key:
        description: Used for accountants. The id you specified for the organization.
        title: External key
        type: string
      external_user_id:
        description: Used for the embedded portal retrieval service. The external_user_id you provided when the ShopAccount was created.
        title: External user id
        type: string
      guid:
        description: The GUID of the invoice
        format: uuid
        title: GUID
        type: string
      legal_entity_id:
        description: The id of the LegalEntity the invoice was received for.
        format: int64
        title: LegalEntity id
        type: integer
      ubl:
        description: The Base64 encoded UBL invoice.
        title: UBL invoice
        type: string
  Shop:
    properties:
      description:
        type: string
      id:
        format: int64
        type: integer
      legal_entities:
        items:
          $ref: '#/definitions/LegalEntityShop'
        type: array
      logo:
        $ref: '#/definitions/Logos'
      name:
        type: string
      purpose:
        description: The purpose of the shop. Either "invoice" or "statement"
        title: Purpose
        type: string
  ShopAccountInput:
    properties:
      email:
        description: |
          This is email address determines where the invoices for all ShopAccounts
          in the same _external_user_id_ group are sent. Each time you create or
          update a ShopAccount for an _external_user_id_ and also provide
          __email__, the email destination for all the ShopAccounts in the
          _external_user_id_ group are updated at the same time.

          We suggest you provide an immutable email address. If your user can
          change the email address to which the invoices are to be sent, then you
          will need to do an update for one of the ShopAccounts for that user in
          order for Storecove to start using the new email address.

          Note that this field is mandatory for the first ShopAccount that you create for an entity.
        type: string
      external_user_id:
        description: |
          The _external_user_id_ is what identifies the entity for which you create
          this ShopAccount. This could be a user, however, if your
          users can manage multiple organizations/administrations, then it is a
          better idea to put the organization/administration identifier in this
          field, because the _external_user_id_ groups the ShopAccounts into a set
          that all deliver their invoices to the same destination (typically an
          email address).
        type: string
      password:
        description: The password for the account.
        type: string
      shop_id:
        description: The id of the Shop the account is for.
        format: int64
        type: integer
      username:
        description: The username for the account. The username needs to be unique in combination with the shop_id.
        type: string
    required:
      - username
      - password
      - external_user_id
      - shop_id
  ShopAccountRequestInput:
    properties:
      external_user_id:
        type: string
      password:
        type: string
      request_name:
        type: string
      request_url:
        type: string
      username:
        type: string
    required:
      - username
      - password
      - external_user_id
      - request_name
      - request_url
  ShopAccountRequestResult:
    properties:
      external_user_id:
        type: string
      id:
        format: int64
        type: integer
      request_name:
        type: string
      request_url:
        type: string
      username:
        type: string
  ShopAccountRequestUpdate:
    properties:
      password:
        type: string
      request_name:
        type: string
      request_url:
        type: string
      username:
        type: string
  ShopAccountResult:
    properties:
      email:
        description: See <<_openapi_shopaccountinput>>.
        type: string
      external_user_id:
        description: See <<_openapi_shopaccountinput>>.
        type: string
      from_date:
        description: |-
          The date from invoices will be collected. This field defaults to the first day of the month
                                   the ShopAccount was created in.
        format: date
        type: string
      id:
        description: The Storecove id for the ShopAccount
        format: int64
        type: integer
      shop:
        $ref: '#/definitions/Shop'
        description: See <<_openapi_shopaccountinput>>.
      sign_in_error_confirmed:
        description: |-
          Whether or not Storecove has detected and confirmed a sign-in failure. This field is reset
                                   to false each time a ShopAccount is updated and the username or password has changed.
        type: boolean
      sign_in_error_confirmed_at:
        description: The date on which the sign-in error was confirmed.
        format: date
        type: string
      username:
        description: See <<_openapi_shopaccountinput>>.
        type: string
  ShopAccountUpdate:
    properties:
      email:
        description: See <<_openapi_shopaccountinput>>.
        type: string
      password:
        description: See <<_openapi_shopaccountinput>>.
        type: string
      username:
        description: See <<_openapi_shopaccountinput>>.
        type: string
  SupplierParty:
    description: A party that can send invoices
    properties:
      contact:
        $ref: '#/definitions/Contact'
    title: SupplierParty
    type: object
  WidgetIdentification:
    description: The identification for the identifier related to the Storecove Destination Configuration widget.
    properties:
      id:
        description: Your id for this organization. This should match the id that you use for the Storecove widget (if you use that).
        minLength: 2
        title: Entity id
        type: string
      legalEntityId:
        description: The id of the LegalEntity this invoice should be sent for.
        title: LegalEntity Id
        type: integer
    required:
      - legalEntityId
      - id
    title: Widget Identification
    type: object
