swagger: "2.0"
schemes:
  - https
host: api.storecove.com
basePath: /api/v2
info:
  contact:
    email: apisupport@storecove.nl
  description: Storecove API
  title: Storecove API
  version: 2.0.1
  x-apisguru-categories:
    - financial
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://www.storecove.com/assets/v2/logo-b0d52166b7aedce1c08416e14480dcefd5db3f8a68704a6b802c37b189dd8894.png
  x-origin:
    - format: swagger
      url: https://www.storecove.com/api/v2/openapi.json
      version: "2.0"
  x-providerName: storecove.com
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  Bearer:
    in: header
    name: Authorization
    type: apiKey
security:
  - Bearer: []
tags:
  - name: InvoiceSubmissions
  - name: DocumentSubmissions
  - name: LegalEntities
  - name: PeppolIdentifiers
  - name: Administrations
  - name: PurchaseInvoices
paths:
  /document_submissions:
    post:
      consumes:
        - application/json
      description: Submit a document for delivery. This endpoint will replace the /invoice_submissions endpoint, but for now should only be used to send Invoice Response doucments.
      operationId: create_document_submission
      parameters:
        - description: Document to submit
          in: body
          name: document_submission
          required: true
          schema:
            $ref: "#/definitions/DocumentSubmission"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DocumentSubmissionResult"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Unprocessable Entity
          schema:
            items:
              $ref: "#/definitions/ErrorModel"
            type: array
      summary: "*** NOTE: Experimental. Only to be used for sending Invoice Response documents. *** Submit a new document."
      tags:
        - DocumentSubmissions
  /invoice_submissions:
    post:
      consumes:
        - application/json
      description: Submit an invoice for delivery.
      operationId: create_invoice_submission
      parameters:
        - description: Invoice to submit
          in: body
          name: invoice_submission
          required: true
          schema:
            $ref: "#/definitions/InvoiceSubmission"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/InvoiceSubmissionResult"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Unprocessable Entity
          schema:
            items:
              $ref: "#/definitions/ErrorModel"
            type: array
      summary: Submit a new invoice
      tags:
        - InvoiceSubmissions
  /invoice_submissions/preflight:
    post:
      consumes:
        - application/json
      description: Check whether Storecove can deliver an invoice for a list of ids.
      operationId: preflight_invoice_recipient
      parameters:
        - description: The invoice recipient to preflight
          in: body
          name: invoice_recipient_preflight
          required: true
          schema:
            $ref: "#/definitions/InvoiceRecipientPreflight"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/PreflightInvoiceRecipientResult"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Unprocessable Entity
          schema:
            items:
              $ref: "#/definitions/ErrorModel"
            type: array
      summary: Preflight an invoice recipient
      tags:
        - InvoiceSubmissions
  "/invoice_submissions/{guid}/evidence":
    get:
      consumes:
        - application/json
      description: Get evidence for an InvoiceSubmission by GUID with corresponding status
      operationId: show_invoice_submission_evidence
      parameters:
        - description: InvoiceSubmission GUID
          format: uuid
          in: path
          name: guid
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/InvoiceSubmissionEvidence"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get InvoiceSubmission Evidence
      tags:
        - InvoiceSubmissions
  /legal_entities:
    post:
      consumes:
        - application/json
      description: Create a new LegalEntity.
      operationId: create_legal_entity
      parameters:
        - description: LegalEntity to create
          in: body
          name: legal_entity
          required: true
          schema:
            $ref: "#/definitions/LegalEntityCreate"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/LegalEntity"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Unprocessable Entity
          schema:
            items:
              $ref: "#/definitions/ErrorModel"
            type: array
      summary: Create a new LegalEntity
      tags:
        - LegalEntities
  "/legal_entities/{id}":
    delete:
      description: Delete a specific LegalEntity.
      operationId: delete_legal_entity
      parameters:
        - description: legal_entity id
          format: int64
          in: path
          name: id
          required: true
          type: integer
      responses:
        "204":
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Delete LegalEntity
      tags:
        - LegalEntities
    get:
      description: Get a specific LegalEntity.
      operationId: get_legal_entity
      parameters:
        - description: legal_entity id
          format: int64
          in: path
          name: id
          required: true
          type: integer
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/LegalEntity"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get LegalEntity
      tags:
        - LegalEntities
    patch:
      description: Update a specific LegalEntity.
      operationId: update_legal_entity
      parameters:
        - description: legal_entity id
          format: int64
          in: path
          name: id
          required: true
          type: integer
        - description: LegalEntity updates
          in: body
          name: legal_entity
          required: true
          schema:
            $ref: "#/definitions/LegalEntityUpdate"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/LegalEntity"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
          schema:
            items:
              $ref: "#/definitions/ErrorModel"
            type: array
      summary: Update LegalEntity
      tags:
        - LegalEntities
  "/legal_entities/{legal_entity_id}/administrations":
    post:
      consumes:
        - application/json
      description: Create a new Administration. An Administration is an email destination for purchase invoices.
      operationId: create_administration
      parameters:
        - description: The id of the LegalEntity for which to create the Administration
          format: int64
          in: path
          name: legal_entity_id
          required: true
          type: integer
        - description: Administration to create
          in: body
          name: administration
          required: true
          schema:
            $ref: "#/definitions/AdministrationCreate"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Administration"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
          schema:
            items:
              $ref: "#/definitions/ErrorModel"
            type: array
      summary: Create a new Administration
      tags:
        - Administrations
  "/legal_entities/{legal_entity_id}/administrations/{id}":
    delete:
      description: Delete an Administration
      operationId: delete_administration
      parameters:
        - description: The id of the LegalEntity the Administration belongs to
          format: int64
          in: path
          name: legal_entity_id
          required: true
          type: integer
        - description: The id of the Administration
          format: int64
          in: path
          name: id
          required: true
          type: integer
      responses:
        "204":
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Delete Administration
      tags:
        - Administrations
    get:
      description: Get an Administration
      operationId: get_administration
      parameters:
        - description: The id of the LegalEntity the Administration belongs to
          format: int64
          in: path
          name: legal_entity_id
          required: true
          type: integer
        - description: The id of the Administration
          format: int64
          in: path
          name: id
          required: true
          type: integer
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Administration"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Administration
      tags:
        - Administrations
    patch:
      description: Update an Administration
      operationId: update_administration
      parameters:
        - description: The id of the LegalEntity the Administration belongs to
          format: int64
          in: path
          name: legal_entity_id
          required: true
          type: integer
        - description: The id of the Administration to be updated
          format: int64
          in: path
          name: id
          required: true
          type: integer
        - description: Administration to update
          in: body
          name: administration
          required: true
          schema:
            $ref: "#/definitions/AdministrationUpdate"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Administration"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Update Administration
      tags:
        - Administrations
  "/legal_entities/{legal_entity_id}/peppol_identifiers":
    post:
      consumes:
        - application/json
      description: Create a new PeppolIdentifier.
      operationId: create_peppol_identifier
      parameters:
        - description: The id of the LegalEntity for which to create the PeppolIdentifier
          format: int64
          in: path
          name: legal_entity_id
          required: true
          type: integer
        - description: PeppolIdentifier to create
          in: body
          name: peppol_identifier
          required: true
          schema:
            $ref: "#/definitions/PeppolIdentifierCreate"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/PeppolIdentifier"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
          schema:
            items:
              $ref: "#/definitions/ErrorModel"
            type: array
      summary: Create a new PeppolIdentifier
      tags:
        - PeppolIdentifiers
  "/legal_entities/{legal_entity_id}/peppol_identifiers/{superscheme}/{scheme}/{identifier}":
    delete:
      description: Delete a PeppolIdentifier.
      operationId: delete_peppol_identifier
      parameters:
        - description: The id of the LegalEntity this PeppolIdentifier belongs to
          format: int64
          in: path
          name: legal_entity_id
          required: true
          type: integer
        - description: The superscheme of the identifier. Should always be "iso6523-actorid-upis".
          in: path
          name: superscheme
          required: true
          type: string
        - description: PEPPOL identifier scheme id, e.g. "DE:VAT". For a full list see <<_peppol_participant_identifier_list>>.
          in: path
          name: scheme
          required: true
          type: string
        - description: PEPPOL identifier
          in: path
          name: identifier
          required: true
          type: string
      responses:
        "204":
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Delete PeppolIdentifier
      tags:
        - PeppolIdentifiers
  "/purchase_invoices/{guid}":
    get:
      description: Get a specific PurchaseInvoice, in JSON format. Recommended way of getting a PurchaseInvoice, since it provides the data in a JSON object and the JSON format is the richest we have that supports all features a PurchaseInvoice can have.
      operationId: get_invoice_json
      parameters:
        - description: purchase invoice guid
          format: uuid
          in: path
          name: guid
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/PurchaseInvoice"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Purchase invoice data as JSON
      tags:
        - PurchaseInvoices
  "/purchase_invoices/{guid}/{packaging}":
    get:
      description: Get a specific PurchaseInvoice. Using /json as {packaging} is recommended (in which case you can just omit it), however, this endpoint allows getting the invoice in a differently serialized format such as UBL.
      operationId: get_invoice_ubl
      parameters:
        - description: purchase invoice guid
          format: uuid
          in: path
          name: guid
          required: true
          type: string
        - default: json
          description: 'How to package the purchase invoice. Use "json" or "ubl" '
          enum:
            - json
            - ubl
          in: path
          name: packaging
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/PurchaseInvoiceUbl"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Purchase invoice data as JSON with a Base64-encoded SI-1.2 UBL string
      tags:
        - PurchaseInvoices
  "/purchase_invoices/{guid}/{packaging}/{package_version}":
    get:
      description: Get a specific PurchaseInvoice in a non-JSON serialized format with version.
      operationId: get_invoice_ubl_versioned
      parameters:
        - description: purchase invoice guid
          format: uuid
          in: path
          name: guid
          required: true
          type: string
        - default: ubl
          description: How to package the purchase invoice. Use "ubl"
          enum:
            - ubl
          in: path
          name: packaging
          required: true
          type: string
        - default: si12
          description: The version of the ubl package.
          enum:
            - original
            - si11
            - si12
            - si20
            - aunz
            - sg
          in: path
          name: package_version
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/PurchaseInvoiceUbl"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Purchase invoice data as JSON with a Base64-encoded UBL string in the specified version
      tags:
        - PurchaseInvoices
definitions:
  AccountingCustomerParty:
    description: The customer receiving the invoice.
    properties:
      accountId:
        description: The account id you assigned to the customer.
        title: Account id
        type: string
      party:
        $ref: "#/definitions/Party"
      publicIdentifiers:
        description: A list of legal and tax identifiers for this customer.
        items:
          $ref: "#/definitions/PublicIdentifier"
        title: Public identifiers
        type: array
    required:
      - party
    title: Customer
    type: object
  AccountingSupplierParty:
    description: The party sending the invoice. Most data for the AccountingSupplierParty is taken from the Storecove database, where your sender identity resides and has been validated. However, we provide a limited number of fields here that you can specify on an invoice-by-invoice basis.
    properties:
      party:
        $ref: "#/definitions/SupplierParty"
    title: Supplier
    type: object
  AdditionalItemProperty:
    description: An additional property for the item
    properties:
      name:
        description: The name of the property.
        minLength: 1
        title: Name
        type: string
      value:
        description: The value of the property.
        title: Value
        type: string
    required:
      - name
      - value
    title: Additional Item Property
    type: object
  Address:
    description: The address
    properties:
      city:
        description: The name of the city. Mandatory in most countries.
        minLength: 2
        title: City
        type: string
      country:
        $ref: "#/definitions/Country"
      county:
        description: An optional county name.
        title: County
        type: string
      street1:
        description: The street name and number. Mandatory in most countries.
        minLength: 2
        title: Street 1
        type: string
      street2:
        description: The second street field. Use this if you used the first field for the building name.
        title: Street 2
        type: string
      zip:
        description: The zipcode/postalzone. Mandatory unless the country does not have zip codes.
        minLength: 2
        title: Zipcode
        type: string
    required:
      - country
    title: Address
    type: object
  Administration:
    properties:
      email:
        description: The email address to send the received document to
        maxLength: 128
        minLength: 5
        title: Email
        type: string
      id:
        description: The Storecove assigned id for the Administration.
        format: int64
        title: Id
        type: integer
      legal_entity_id:
        description: The LegalEntity the Administration belongs to.
        format: int64
        title: Legal etity
        type: integer
      package_version:
        description: The version of the package.
        enum:
          - peppol_bis_v3
        title: Package version
        type: string
      packaging:
        description: How to package the purchase invoice.
        enum:
          - ubl
        title: Packaging
        type: string
      sender_email_identity_id:
        description: The id of the SenderEmailIdentity. If not provided, the Storecove default sender will be used
        format: int64
        title: Sender email identity
        type: integer
  AdministrationCreate:
    properties:
      email:
        description: The email address to send the received document to
        maxLength: 128
        minLength: 5
        title: Email
        type: string
      legal_entity_id:
        description: The LegalEntity the Administration belongs to.
        format: int64
        title: Legal etity
        type: integer
      package_version:
        default: peppol_bis_v3
        description: The version of the package.
        enum:
          - peppol_bis_v3
        title: Package version
        type: string
      packaging:
        default: ubl
        description: How to package the purchase invoice.
        enum:
          - ubl
        title: Packaging
        type: string
      sender_email_identity_id:
        description: The id of the SenderEmailIdentity. If not provided, the Storecove default sender will be used
        format: int64
        title: Sender email identity
        type: integer
  AdministrationUpdate:
    properties:
      email:
        description: The email address to send the received document to
        maxLength: 128
        minLength: 5
        title: Email
        type: string
      package_version:
        description: The version of the package.
        enum:
          - peppol_bis_v3
        title: Package version
        type: string
      packaging:
        description: How to package the purchase invoice.
        enum:
          - ubl
        title: Packaging
        type: string
      sender_email_identity_id:
        description: The id of the SenderEmailIdentity. If not provided, the Storecove default sender will be used
        format: int64
        title: Sender email identity
        type: integer
  AllowanceCharge:
    properties:
      amountExcludingVat:
        description: The amount for the allowance or charge, excluding VAT
        title: Amount
        type: number
      reason:
        default: Agreed settlement
        description: The reason for the allowance or charge, free text
        title: Reason
        type: string
      reasonCode:
        description: Do not use. Contact Storecove first if you want to use this field.
        title: Reason Code
        type: string
      tax:
        $ref: "#/definitions/Tax"
        description: The tax for this allowance or charge.
        title: Tax
    required:
      - amountExcludingVat
      - tax
    title: Allowance or Charge
    type: object
  Attachment:
    description: A document attachment to the invoice.
    properties:
      document:
        description: The base64 encoded version of the document attachment.
        minLength: 5
        title: Document Attachment
        type: string
      filename:
        description: The name of the file attachment.
        pattern: ^[a-zA-Z0-9]([a-zA-Z0-9._-]*[a-zA-Z0-9])?\.[a-zA-Z0-9_-]+$
        title: Filename
        type: string
      mimeType:
        description: The document attachment mime type. Currently only application/pdf is allowed.
        enum:
          - application/pdf
        title: Mime Type
        type: string
      primaryImage:
        default: false
        description: Whether or not this document is a visual representation of the invoice data.
        title: Primary Image
        type: boolean
    required:
      - document
      - mimeType
    title: Invoice Attachment
    type: object
  Contact:
    description: Contact details for the invoice
    properties:
      email:
        format: email
        title: Email address
        type: string
      firstName:
        title: First name
        type: string
      id:
        description: Only supported for AccountingCustomerParty.
        maxLength: 20
        title: Id
        type: string
      lastName:
        title: Last name
        type: string
      phone:
        maxLength: 24
        title: Phone number
        type: string
    title: Contact
    type: object
  Country:
    description: An ISO 3166-1 alpha-2 country code.
    enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - NO
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - YE
      - YT
      - ZA
      - ZM
      - ZW
    title: Country
    type: string
  CurrencyCode:
    description: The ISO 4217 currency code.
    enum:
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BYR
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - UYI
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XFU
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XTS
      - XUA
      - XXX
      - YER
      - ZAR
      - ZMW
    title: Currency
    type: string
  Delivery:
    properties:
      actualDate:
        description: The actual date of the delivery.
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        title: Actual Date
        type: string
      location:
        properties:
          address:
            $ref: "#/definitions/Address"
          id:
            description: The location identifier.
            minLength: 2
            title: Identifier
            type: string
          schemeAgencyId:
            description: The schemeAgencyId of the location identifier (e.g. 'ZZZ')
            title: Identifier Scheme Agency ID
            type: string
          schemeId:
            description: The schemeId of the location identifier (e.g. 'EAN')
            title: Identifier Scheme ID
            type: string
        type: object
      quantity:
        default: "1.0"
        description: The quantity of the delivery.
        title: Quantity
        type: number
    type: object
  DocumentInvoiceResponse:
    description: The invoice response to send.
    properties:
      clarifications:
        description: A list of clarifications why a received invoice was rejected (RE) or under query (UQ) and what action to take.
        items:
          $ref: "#/definitions/InvoiceResponseClarification"
        minItems: 0
        title: Clarifications
        type: array
      effectiveDate:
        description: "The date when the status became effective. Format: yyyy-mm-dd."
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        title: Effective Date
        type: string
      note:
        description: A note to add to the invoice reponse
        title: Note
        type: string
      receivedInvoiceGuid:
        description: The GUID that was in the received_invoice webhook.
        title: Received Invoice GUID
        type: string
      responseCode:
        description: The response code. For details see https://docs.peppol.eu/poacc/upgrade-3/codelist/UNCL4343-T111/
        enum:
          - AB
          - IP
          - UQ
          - RE
          - AP
          - PD
        title: Response Code
        type: string
    required:
      - receivedInvoiceGuid
      - responseCode
    title: Document Invoice Response
    type: object
  DocumentSubmission:
    description: The document you want Storecove to send, with some meta-data.
    properties:
      attachments:
        description: An array of attachments. You may provide up to 10 attchments, but the total size must not exceed 10MB after Base64 encoding.
        items:
          $ref: "#/definitions/Attachment"
        maxItems: 10
        title: Attachments
        type: array
      document:
        $ref: "#/definitions/SendableDocument"
      idempotencyGuid:
        description: A guid that you generated for this DocumentSubmission to achieve idempotency. If you submit multiple documents with the same idempotencyGuid, only the first one will be processed and any subsequent ones will trigger an HTTP 422 Unprocessable Entity response.
        maxLength: 36
        minLength: 36
        title: Idempotency GUID
        type: string
      legalEntityId:
        description: The id of the LegalEntity this document should be sent on behalf of.
        title: LegalEntity Id
        type: integer
      routing:
        $ref: "#/definitions/Routing"
        description: Specifies where the document is to be sent. Can be electronic identifiers or email addresses.
        title: Routing destinations
    required:
      - routing
      - legalEntityId
    title: Document submission
    type: object
  DocumentSubmissionResult:
    description: The result of a document submission
    properties:
      guid:
        description: A (V4) GUID for the document submission
        title: GUID
        type: string
    title: Document submission result
    type: object
  EIdentifiers:
    description: A list of electronic routing identifiers. These are the identifiers used on the Peppol network or for other destinations.
    items:
      $ref: "#/definitions/RoutingIdentifier"
    title: Electronic identifiers
    type: array
  ErrorModel:
    properties:
      details:
        type: string
      source:
        type: string
  Invoice:
    description: The invoice to send.  Provide either invoice, or invoiceData, but not both.
    properties:
      accountingCost:
        description: The buyer's accounting cost centre for this invoice, expressed as text.
        minLength: 1
        title: Accounting Cost
        type: string
      accountingCustomerParty:
        $ref: "#/definitions/AccountingCustomerParty"
        description: The party the invoice is sent to.
      accountingSupplierParty:
        $ref: "#/definitions/AccountingSupplierParty"
        description: The party sending the invoice. Most data for the AccountingSupplierParty is taken from the Storecove database, where your sender identity resides and has been validated. However, we provide a limited number of fields (mainly contact fields) here that you can specify on an invoice-by-invoice basis. Contact us if you want to use this feature.
      allowanceCharges:
        description: An array of allowance charges.
        items:
          $ref: "#/definitions/AllowanceCharge"
        minItems: 0
        title: Allowance Charges
        type: array
      amountIncludingVat:
        description: amountIncludingVat is important because of rounding differences. In many invoices, the sum of the line item amounts excluding VAT and the VAT amounts is not equal to first summing the line items without VAT, and then applying VAT. The difference is automatically calculated and included in the electronic invoice, so the receiving accounting package can process the electronic invoice without problems.
        title: Amount including VAT
        type: number
      billingReference:
        description: A reference to a commercial invoice or corrective invoice of which the current invoice is a correction. This field is mandatory when sending invoiceType 384.
        title: Billing reference
        type: string
      buyerReference:
        description: A reference provided by the buyer used for internal routing of the document.
        title: Buyer reference
        type: string
      consumerTaxMode:
        default: false
        description: Whether or not to process the invoice in consumer tax mode. In this mode, the VAT identifier of the sender will not be the default VAT identifier, but the one that matches with the country of the receiving consumer, if that additional VAT identifier for that country is available. These additional VAT identifiers need to be added to the sending LegalEntity by Storecove, so if you need to send invoices in this mode, please contact us.
        title: Consumer Tax Mode
        type: boolean
      contractDocumentReference:
        description: A reference to a contract or framework agreement that this invoice relates to.
        title: Contract document reference
        type: string
      delivery:
        $ref: "#/definitions/Delivery"
        description: The delivery of the invoice.
        title: The Delivery
      documentCurrencyCode:
        $ref: "#/definitions/CurrencyCode"
        default: EUR
        description: The documentCurrencyCode is the currency for the entire invoice. We currently do not support invoices in multiple currencies. If left out, will default to EUR
      dueDate:
        description: "Format: yyyy-mm-dd."
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        title: Due date
        type: string
      invoiceLines:
        description: An array of invoice lines.
        items:
          $ref: "#/definitions/InvoiceLine"
        minItems: 1
        title: Invoice lines
        type: array
      invoiceNumber:
        description: The invoice number you assigned to the invoice. The invoiceNumber should be unique for the legalEntityId and year of the issueDate. This means invoice numbers can be reused in different years, as is customary in some countries.
        minLength: 1
        title: Invoice number
        type: string
      invoicePeriod:
        description: "The period (or specific date) to which the invoice applies. Format: yyyy-mm-dd - yyyy-mm-dd."
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2} - [0-9]{4}-[0-9]{2}-[0-9]{2}$
        title: Invoice period
        type: string
      invoiceType:
        default: "380"
        description: Do not use. This field is available for legacy reasons only. If you want to send a regular invoice (aka UBL type '380'), make sure you have a positive invoice amount. For a credit note (aka UBL type '381'), simply provide a negative invoice amount. If you, in addition to a negative invoice amount, also specify a billingReferences, your invoice will become a corrective invoice (aka UBL type '384'). If your invoice is not sent in the UBL syntax, Storecove will provide the appropriate type for the syntax the invoice is sent in.
        enum:
          - "380"
          - "381"
          - "384"
        title: Type of invoice
        type: string
      issueDate:
        description: "Format: yyyy-mm-dd."
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        title: Invoice issue date
        type: string
      note:
        description: A note to add to the invoice
        title: Note
        type: string
      orderReference:
        description: A reference to an order for this invoice, assigned by the buyer. Note that this often is a key field, since many receivers of invoices will use this field to automatically match the invoice to an order they placed. Many receivers refuse invoices that cannot be automatically matched, in particular government agencies. So it is highly recommended to fill this field whenever possible.
        title: Order reference
        type: string
      paymentMeansArray:
        description: An array of payment means (ways to pay the invoice).
        items:
          $ref: "#/definitions/PaymentMeans"
        title: Payment Means Array
        type: array
      paymentMeansBic:
        description: DEPRECATED. Use paymentMeansArray. The BIC (Swift) of the bank where the amount payable should be transferred to
        pattern: ^[A-Z]{6}[2-9A-Z][0-9A-NP-Z]([A-Z0-9]{3}|X{3})?$
        title: BIC
        type: string
      paymentMeansCode:
        description: DEPRECATED. Use paymentMeansArray. How the invoice has been / will be paid. Use only online_payment_service (payment will be made or has been made by an online payment service), bank_card (e.g. debit card, credit card), direct_debit (the amount has been / will be taken out of the client's bank account), standing_agreement (an unspecified payment means known to both buyer and seller) or credit_transfer (the buyer will do / has done a bank transfer). The numeric codes are for legacy purposes, they should not be used.
        enum:
          - online_payment_service
          - bank_card
          - direct_debit
          - standing_agreement
          - credit_transfer
          - se_bankgiro
          - se_plusgiro
          - aunz_npp
          - ""
          - "1"
          - "30"
          - "31"
          - "42"
          - "48"
          - "49"
          - "57"
          - "58"
        title: Payment Means Code
        type: string
      paymentMeansIban:
        description: DEPRECATED. Use paymentMeansArray. The IBAN the amount payable should be transferred to
        title: IBAN
        type: string
      paymentMeansPaymentId:
        description: The payment id that you will use to match the payment against the invoice.
        title: Payment Id
        type: string
      paymentTerms:
        description: The payment terms of the invoice.
        properties:
          note:
            description: The note for the payment terms.
            title: The Payment Terms Note
            type: string
        title: The Payment Terms
        type: object
      prepaidAmount:
        description: The amount already paid.
        title: Prepaid Amount
        type: number
      projectReference:
        description: Information about the project this invoice relates to.
        title: Project Reference
        type: string
      salesOrderId:
        description: A reference to an order for this invoice, assigned by the seller.
        title: Sales Order Id
        type: string
      taxExemptReason:
        description: DEPRECATED. Use Tax/category and specify this per invoice line. If you do specify this field, it will be applied to all invoice lines and it is an error to specify a Tax/category at the invoice line level. This field holds the reason no tax is present in the invoice. Note that this is an invoice level field and you cannot specify it per invoice line. This field is mandatory unless tax is present in the invoice.
        enum:
          - export
          - reverse_charge
          - zero_rated
          - exempt
          - outside_scope
          - intra_community
        type: string
      taxPointDate:
        description: "The tax date is the date on which the supply of goods or of services was made or completed or the date on which the payment on account was made insofar as that date can be determined and differs from the date of the issue of the invoice. EU 2006-112 Article 226 Point 7. Note: For the Dutch TAX authorities the tac date should be the same as the issue date."
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        title: Tax date
        type: string
      taxSubtotals:
        description: An array of tax subtotals. This element is mandatory for taxSystem 'tax_line_percentages'.
        items:
          $ref: "#/definitions/TaxSubtotal"
        minItems: 0
        title: Tax Subtotals
        type: array
      taxSystem:
        default: tax_line_amounts
        description: The tax system used for the invoice. The system 'tax_line_percentages' is preferred, but for historic purposes 'tax_line_amounts is supported and default. Since not all invoice formats that we are required to send support 'tax_line_amounts' we will need to convert the invoice to the 'tax_line_percentags' system if we are forced to send the invoice in that tax system.
        enum:
          - tax_line_amounts
          - tax_line_percentages
          - tax_no_tax
        title: Tax System
        type: string
      ublExtensions:
        description: An array of ubl extensions.
        items:
          type: string
        title: UBL Extensions
        type: array
      vatReverseCharge:
        default: false
        description: DEPRECTATED. Use taxExemptReason.
        type: boolean
    required:
      - invoiceNumber
      - issueDate
      - accountingCustomerParty
      - invoiceLines
      - amountIncludingVat
    title: Invoice
    type: object
  InvoiceData:
    description: The invoice to send, in base64 encoded format. Provide either invoice, or invoiceData, but not both.
    properties:
      conversionStrategy:
        description: How to interpret the document.
        enum:
          - ubl
          - cii
          - idoc
        title: Conversion Strategy
        type: string
      document:
        description: The base64 encoded version of the document.
        minLength: 5
        title: Document
        type: string
    title: Invoice Data
    type: object
  InvoiceLine:
    properties:
      accountingCost:
        description: The buyer's accounting cost centre for this invoice line, expressed as text.
        minLength: 1
        title: Accounting Cost
        type: string
      additionalItemProperties:
        description: An array of additional item properties.
        items:
          $ref: "#/definitions/AdditionalItemProperty"
        minItems: 1
        title: Additional Item Properties
        type: array
      allowanceCharge:
        description: The discount or surcharge on this item. Should be negative for discounts
        title: allowanceCharge
        type: number
      amountExcludingVat:
        description: The amount excluding VAT. Should equal quantity x itemPrice + allowanceCharge.
        title: amountExcludingVat
        type: number
      buyersItemIdentification:
        description: The ID the buyer assigned to this item.
        minLength: 1
        title: Buyers Item Identification
        type: string
      delivery:
        $ref: "#/definitions/Delivery"
        description: The delivery of the invoice line.
        title: Delivery
      description:
        description: The description for this invoice line.
        minLength: 1
        title: Description
        type: string
      invoicePeriod:
        description: "The period (or specific date) to which the invoice line applies. Format: yyyy-mm-dd - yyyy-mm-dd."
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2} - [0-9]{4}-[0-9]{2}-[0-9]{2}$
        title: Invoice period
        type: string
      itemPrice:
        default: "1.0"
        description: The price per item (may be fractional)
        title: Item price
        type: number
      lineId:
        description: The id for this invoice line.
        minLength: 1
        title: Invoice Line ID
        type: string
      name:
        description: A short name for this invoice line. If not provided, it will be taken from description and description will be set to an emtpy string.
        minLength: 1
        title: Name
        type: string
      orderLineReferenceLineId:
        description: A reference to the ID of the order. The order is specified as the orderReference at the invoice level. It is not possible to specify an orderReference at the invoice line level. An invoice MUST at this time be for a single order only.
        minLength: 1
        title: orderLineReferenceLineId
        type: string
      quantity:
        default: "1.0"
        description: The number of items (may be fractional).
        title: Quantity
        type: number
      quantityUnitCode:
        default: C62
        description: 'The unit of measure that applies to the invoiced quantity. Codes for unit of packaging from UNECE Recommendation No. 21 can be used in accordance with the descriptions in the "Intro" section of UN/ECE Recommendation 20, Revision 11 (2015): The 2 character alphanumeric code values in UNECE Recommendation 21 shall be used. To avoid duplication with existing code values in UNECE Recommendation No. 20, each code value from UNECE Recommendation 21 shall be prefixed with an “X”, resulting in a 3 alphanumeric code when used as a unit of measure. Note that the following additionally allowed codes are deprecated and will be converted to C62: 04, 05, 08, 16, 17, 18, 19, 26, 29, 30, 31, 32, 36, 43, 44, 45, 46, 47, 48, 53, 54, 62, 63, 64, 66, 69, 71, 72, 73, 76, 78, 84, 90, 92, 93, 94, 95, 96, 97, 98, 1A, 1B, 1C, 1D, 1E, 1F, 1G, 1H, 1J, 1K, 1L, 1M, 1X, 2V, 2W, 3E, 3G, 3H, 3I, 4A, 4B, 4E, 5C, 5F, 5G, 5H, 5I, 5K, 5P, 5Q, A1, A25, A50, A51, A52, A57, A58, A60, A61, A62, A63, A64, A65, A66, A67, A77, A78, A79, A80, A81, A82, A83, AJ, AM, AP, AR, ARE, ATT, AV, AW, B0, B2, B36, B37, B38, B39, B40, B5, B51, B6, B65, B9, BD, BE, BG, BH, BJ, BK, BL, BO, BR, BT, BW, BX, BZ, C1, C2, C4, C5, C6, C77, C98, CA, CH, CJ, CK, CL, CO, CQ, CR, CS, CT, CU, CV, CY, CZ, D14, D28, D35, D37, D38, D39, D40, D64, D66, D67, D7, D70, D71, D72, D75, D76, D79, D8, D9, D90, D92, D96, D97, D98, D99, DC, DE, DI, DQ, DR, DRM, DS, DU, DX, DY, E2, E3, E5, EC, EP, EV, F1, F9, FB, FD, FE, FG, FM, G7, GC, GD, GH, GK, GN, GRT, GT, GW, GY, GZ, H1, H2, HAR, HD, HE, HF, HI, HJ, HK, HL, HN, HO, HP, HS, HT, HY, IC, IF, II, IL, IM, IP, IT, JB, JG, JO, JR, K5, KD, KF, KG, KS, KTM, LC, LE, LI, LJ, LX, M0, MA, MF, MK, MQ, MT, MV, N2, NB, NBB, NC, ND, NE, NG, NH, NI, NJ, NN, NPL, NPR, NQ, NR, NRL, NTT, NV, NY, OP, OZ, P0, P3, P4, P6, P7, P8, P9, PA, PB, PE, PF, PG, PK, PL, PM, PN, PT, PU, PV, PW, PY, PZ, QD, QH, QK, QT, R4, RA, RD, RG, RK, RL, RN, RO, RS, RU, S5, S6, S7, S8, SA, SD, SE, SHT, SK, SL, SN, SO, SP, SS, SST, ST, SV, T1, T4, T5, T6, T7, T8, TA, TC, TD, TE, TF, TJ, TK, TL, TN, TQ, TR, TS, TSD, TSH, TT, TU, TV, TW, TY, UA, UD, UE, UF, UH, UM, VI, VQ, VS, W4, WH, WI, WR, WW, YL, YT, Z1, Z2, Z3, Z4, Z5, Z6, Z8'
        enum:
          - "10"
          - "11"
          - "13"
          - "14"
          - "15"
          - "20"
          - "21"
          - "22"
          - "23"
          - "24"
          - "25"
          - "27"
          - "28"
          - "33"
          - "34"
          - "35"
          - "37"
          - "38"
          - "40"
          - "41"
          - "56"
          - "57"
          - "58"
          - "59"
          - "60"
          - "61"
          - "74"
          - "77"
          - "80"
          - "81"
          - "85"
          - "87"
          - "89"
          - "91"
          - 1I
          - 2A
          - 2B
          - 2C
          - 2G
          - 2H
          - 2I
          - 2J
          - 2K
          - 2L
          - 2M
          - 2N
          - 2P
          - 2Q
          - 2R
          - 2U
          - 2X
          - 2Y
          - 2Z
          - 3B
          - 3C
          - 4C
          - 4G
          - 4H
          - 4K
          - 4L
          - 4M
          - 4N
          - 4O
          - 4P
          - 4Q
          - 4R
          - 4T
          - 4U
          - 4W
          - 4X
          - 5A
          - 5B
          - 5E
          - 5J
          - A10
          - A11
          - A12
          - A13
          - A14
          - A15
          - A16
          - A17
          - A18
          - A19
          - A2
          - A20
          - A21
          - A22
          - A23
          - A24
          - A26
          - A27
          - A28
          - A29
          - A3
          - A30
          - A31
          - A32
          - A33
          - A34
          - A35
          - A36
          - A37
          - A38
          - A39
          - A4
          - A40
          - A41
          - A42
          - A43
          - A44
          - A45
          - A47
          - A48
          - A49
          - A5
          - A53
          - A54
          - A55
          - A56
          - A59
          - A6
          - A68
          - A69
          - A7
          - A70
          - A71
          - A73
          - A74
          - A75
          - A76
          - A8
          - A84
          - A85
          - A86
          - A87
          - A88
          - A89
          - A9
          - A90
          - A91
          - A93
          - A94
          - A95
          - A96
          - A97
          - A98
          - A99
          - AA
          - AB
          - ACR
          - ACT
          - AD
          - AE
          - AH
          - AI
          - AK
          - AL
          - AMH
          - AMP
          - ANN
          - APZ
          - AQ
          - AS
          - ASM
          - ASU
          - ATM
          - AWG
          - AY
          - AZ
          - B1
          - B10
          - B11
          - B12
          - B13
          - B14
          - B15
          - B16
          - B17
          - B18
          - B19
          - B20
          - B21
          - B22
          - B23
          - B24
          - B25
          - B26
          - B27
          - B28
          - B29
          - B3
          - B30
          - B31
          - B32
          - B33
          - B34
          - B35
          - B4
          - B41
          - B42
          - B43
          - B44
          - B45
          - B46
          - B47
          - B48
          - B49
          - B50
          - B52
          - B53
          - B54
          - B55
          - B56
          - B57
          - B58
          - B59
          - B60
          - B61
          - B62
          - B63
          - B64
          - B66
          - B67
          - B68
          - B69
          - B7
          - B70
          - B71
          - B72
          - B73
          - B74
          - B75
          - B76
          - B77
          - B78
          - B79
          - B8
          - B80
          - B81
          - B82
          - B83
          - B84
          - B85
          - B86
          - B87
          - B88
          - B89
          - B90
          - B91
          - B92
          - B93
          - B94
          - B95
          - B96
          - B97
          - B98
          - B99
          - BAR
          - BB
          - BFT
          - BHP
          - BIL
          - BLD
          - BLL
          - BP
          - BPM
          - BQL
          - BTU
          - BUA
          - BUI
          - C0
          - C10
          - C11
          - C12
          - C13
          - C14
          - C15
          - C16
          - C17
          - C18
          - C19
          - C20
          - C21
          - C22
          - C23
          - C24
          - C25
          - C26
          - C27
          - C28
          - C29
          - C3
          - C30
          - C31
          - C32
          - C33
          - C34
          - C35
          - C36
          - C37
          - C38
          - C39
          - C40
          - C41
          - C42
          - C43
          - C44
          - C45
          - C46
          - C47
          - C48
          - C49
          - C50
          - C51
          - C52
          - C53
          - C54
          - C55
          - C56
          - C57
          - C58
          - C59
          - C60
          - C61
          - C62
          - C63
          - C64
          - C65
          - C66
          - C67
          - C68
          - C69
          - C7
          - C70
          - C71
          - C72
          - C73
          - C74
          - C75
          - C76
          - C78
          - C79
          - C8
          - C80
          - C81
          - C82
          - C83
          - C84
          - C85
          - C86
          - C87
          - C88
          - C89
          - C9
          - C90
          - C91
          - C92
          - C93
          - C94
          - C95
          - C96
          - C97
          - C99
          - CCT
          - CDL
          - CEL
          - CEN
          - CG
          - CGM
          - CKG
          - CLF
          - CLT
          - CMK
          - CMQ
          - CMT
          - CNP
          - CNT
          - COU
          - CTG
          - CTM
          - CTN
          - CUR
          - CWA
          - CWI
          - D03
          - D04
          - D1
          - D10
          - D11
          - D12
          - D13
          - D15
          - D16
          - D17
          - D18
          - D19
          - D2
          - D20
          - D21
          - D22
          - D23
          - D24
          - D25
          - D26
          - D27
          - D29
          - D30
          - D31
          - D32
          - D33
          - D34
          - D36
          - D41
          - D42
          - D43
          - D44
          - D45
          - D46
          - D47
          - D48
          - D49
          - D5
          - D50
          - D51
          - D52
          - D53
          - D54
          - D55
          - D56
          - D57
          - D58
          - D59
          - D6
          - D60
          - D61
          - D62
          - D63
          - D65
          - D68
          - D69
          - D73
          - D74
          - D77
          - D78
          - D80
          - D81
          - D82
          - D83
          - D85
          - D86
          - D87
          - D88
          - D89
          - D91
          - D93
          - D94
          - D95
          - DAA
          - DAD
          - DAY
          - DB
          - DD
          - DEC
          - DG
          - DJ
          - DLT
          - DMA
          - DMK
          - DMO
          - DMQ
          - DMT
          - DN
          - DPC
          - DPR
          - DPT
          - DRA
          - DRI
          - DRL
          - DT
          - DTN
          - DWT
          - DZN
          - DZP
          - E01
          - E07
          - E08
          - E09
          - E10
          - E12
          - E14
          - E15
          - E16
          - E17
          - E18
          - E19
          - E20
          - E21
          - E22
          - E23
          - E25
          - E27
          - E28
          - E30
          - E31
          - E32
          - E33
          - E34
          - E35
          - E36
          - E37
          - E38
          - E39
          - E4
          - E40
          - E41
          - E42
          - E43
          - E44
          - E45
          - E46
          - E47
          - E48
          - E49
          - E50
          - E51
          - E52
          - E53
          - E54
          - E55
          - E56
          - E57
          - E58
          - E59
          - E60
          - E61
          - E62
          - E63
          - E64
          - E65
          - E66
          - E67
          - E68
          - E69
          - E70
          - E71
          - E72
          - E73
          - E74
          - E75
          - E76
          - E77
          - E78
          - E79
          - E80
          - E81
          - E82
          - E83
          - E84
          - E85
          - E86
          - E87
          - E88
          - E89
          - E90
          - E91
          - E92
          - E93
          - E94
          - E95
          - E96
          - E97
          - E98
          - E99
          - EA
          - EB
          - EQ
          - F01
          - F02
          - F03
          - F04
          - F05
          - F06
          - F07
          - F08
          - F10
          - F11
          - F12
          - F13
          - F14
          - F15
          - F16
          - F17
          - F18
          - F19
          - F20
          - F21
          - F22
          - F23
          - F24
          - F25
          - F26
          - F27
          - F28
          - F29
          - F30
          - F31
          - F32
          - F33
          - F34
          - F35
          - F36
          - F37
          - F38
          - F39
          - F40
          - F41
          - F42
          - F43
          - F44
          - F45
          - F46
          - F47
          - F48
          - F49
          - F50
          - F51
          - F52
          - F53
          - F54
          - F55
          - F56
          - F57
          - F58
          - F59
          - F60
          - F61
          - F62
          - F63
          - F64
          - F65
          - F66
          - F67
          - F68
          - F69
          - F70
          - F71
          - F72
          - F73
          - F74
          - F75
          - F76
          - F77
          - F78
          - F79
          - F80
          - F81
          - F82
          - F83
          - F84
          - F85
          - F86
          - F87
          - F88
          - F89
          - F90
          - F91
          - F92
          - F93
          - F94
          - F95
          - F96
          - F97
          - F98
          - F99
          - FAH
          - FAR
          - FBM
          - FC
          - FF
          - FH
          - FIT
          - FL
          - FOT
          - FP
          - FR
          - FS
          - FTK
          - FTQ
          - G01
          - G04
          - G05
          - G06
          - G08
          - G09
          - G10
          - G11
          - G12
          - G13
          - G14
          - G15
          - G16
          - G17
          - G18
          - G19
          - G2
          - G20
          - G21
          - G23
          - G24
          - G25
          - G26
          - G27
          - G28
          - G29
          - G3
          - G30
          - G31
          - G32
          - G33
          - G34
          - G35
          - G36
          - G37
          - G38
          - G39
          - G40
          - G41
          - G42
          - G43
          - G44
          - G45
          - G46
          - G47
          - G48
          - G49
          - G50
          - G51
          - G52
          - G53
          - G54
          - G55
          - G56
          - G57
          - G58
          - G59
          - G60
          - G61
          - G62
          - G63
          - G64
          - G65
          - G66
          - G67
          - G68
          - G69
          - G70
          - G71
          - G72
          - G73
          - G74
          - G75
          - G76
          - G77
          - G78
          - G79
          - G80
          - G81
          - G82
          - G83
          - G84
          - G85
          - G86
          - G87
          - G88
          - G89
          - G90
          - G91
          - G92
          - G93
          - G94
          - G95
          - G96
          - G97
          - G98
          - G99
          - GB
          - GBQ
          - GDW
          - GE
          - GF
          - GFI
          - GGR
          - GIA
          - GIC
          - GII
          - GIP
          - GJ
          - GL
          - GLD
          - GLI
          - GLL
          - GM
          - GO
          - GP
          - GQ
          - GRM
          - GRN
          - GRO
          - GV
          - GWH
          - H03
          - H04
          - H05
          - H06
          - H07
          - H08
          - H09
          - H10
          - H11
          - H12
          - H13
          - H14
          - H15
          - H16
          - H18
          - H19
          - H20
          - H21
          - H22
          - H23
          - H24
          - H25
          - H26
          - H27
          - H28
          - H29
          - H30
          - H31
          - H32
          - H33
          - H34
          - H35
          - H36
          - H37
          - H38
          - H39
          - H40
          - H41
          - H42
          - H43
          - H44
          - H45
          - H46
          - H47
          - H48
          - H49
          - H50
          - H51
          - H52
          - H53
          - H54
          - H55
          - H56
          - H57
          - H58
          - H59
          - H60
          - H61
          - H62
          - H63
          - H64
          - H65
          - H66
          - H67
          - H68
          - H69
          - H70
          - H71
          - H72
          - H73
          - H74
          - H75
          - H76
          - H77
          - H79
          - H80
          - H81
          - H82
          - H83
          - H84
          - H85
          - H87
          - H88
          - H89
          - H90
          - H91
          - H92
          - H93
          - H94
          - H95
          - H96
          - H98
          - H99
          - HA
          - HBA
          - HBX
          - HC
          - HDW
          - HEA
          - HGM
          - HH
          - HIU
          - HKM
          - HLT
          - HM
          - HMQ
          - HMT
          - HPA
          - HTZ
          - HUR
          - IA
          - IE
          - INH
          - INK
          - INQ
          - ISD
          - IU
          - IV
          - J10
          - J12
          - J13
          - J14
          - J15
          - J16
          - J17
          - J18
          - J19
          - J2
          - J20
          - J21
          - J22
          - J23
          - J24
          - J25
          - J26
          - J27
          - J28
          - J29
          - J30
          - J31
          - J32
          - J33
          - J34
          - J35
          - J36
          - J38
          - J39
          - J40
          - J41
          - J42
          - J43
          - J44
          - J45
          - J46
          - J47
          - J48
          - J49
          - J50
          - J51
          - J52
          - J53
          - J54
          - J55
          - J56
          - J57
          - J58
          - J59
          - J60
          - J61
          - J62
          - J63
          - J64
          - J65
          - J66
          - J67
          - J68
          - J69
          - J70
          - J71
          - J72
          - J73
          - J74
          - J75
          - J76
          - J78
          - J79
          - J81
          - J82
          - J83
          - J84
          - J85
          - J87
          - J90
          - J91
          - J92
          - J93
          - J95
          - J96
          - J97
          - J98
          - J99
          - JE
          - JK
          - JM
          - JNT
          - JOU
          - JPS
          - JWL
          - K1
          - K10
          - K11
          - K12
          - K13
          - K14
          - K15
          - K16
          - K17
          - K18
          - K19
          - K2
          - K20
          - K21
          - K22
          - K23
          - K26
          - K27
          - K28
          - K3
          - K30
          - K31
          - K32
          - K33
          - K34
          - K35
          - K36
          - K37
          - K38
          - K39
          - K40
          - K41
          - K42
          - K43
          - K45
          - K46
          - K47
          - K48
          - K49
          - K50
          - K51
          - K52
          - K53
          - K54
          - K55
          - K58
          - K59
          - K6
          - K60
          - K61
          - K62
          - K63
          - K64
          - K65
          - K66
          - K67
          - K68
          - K69
          - K70
          - K71
          - K73
          - K74
          - K75
          - K76
          - K77
          - K78
          - K79
          - K80
          - K81
          - K82
          - K83
          - K84
          - K85
          - K86
          - K87
          - K88
          - K89
          - K90
          - K91
          - K92
          - K93
          - K94
          - K95
          - K96
          - K97
          - K98
          - K99
          - KA
          - KAT
          - KB
          - KBA
          - KCC
          - KDW
          - KEL
          - KGM
          - KGS
          - KHY
          - KHZ
          - KI
          - KIC
          - KIP
          - KJ
          - KJO
          - KL
          - KLK
          - KLX
          - KMA
          - KMH
          - KMK
          - KMQ
          - KMT
          - KNI
          - KNM
          - KNS
          - KNT
          - KO
          - KPA
          - KPH
          - KPO
          - KPP
          - KR
          - KSD
          - KSH
          - KT
          - KTN
          - KUR
          - KVA
          - KVR
          - KVT
          - KW
          - KWH
          - KWO
          - KWT
          - KX
          - L10
          - L11
          - L12
          - L13
          - L14
          - L15
          - L16
          - L17
          - L18
          - L19
          - L2
          - L20
          - L21
          - L23
          - L24
          - L25
          - L26
          - L27
          - L28
          - L29
          - L30
          - L31
          - L32
          - L33
          - L34
          - L35
          - L36
          - L37
          - L38
          - L39
          - L40
          - L41
          - L42
          - L43
          - L44
          - L45
          - L46
          - L47
          - L48
          - L49
          - L50
          - L51
          - L52
          - L53
          - L54
          - L55
          - L56
          - L57
          - L58
          - L59
          - L60
          - L63
          - L64
          - L65
          - L66
          - L67
          - L68
          - L69
          - L70
          - L71
          - L72
          - L73
          - L74
          - L75
          - L76
          - L77
          - L78
          - L79
          - L80
          - L81
          - L82
          - L83
          - L84
          - L85
          - L86
          - L87
          - L88
          - L89
          - L90
          - L91
          - L92
          - L93
          - L94
          - L95
          - L96
          - L98
          - L99
          - LA
          - LAC
          - LBR
          - LBT
          - LD
          - LEF
          - LF
          - LH
          - LK
          - LM
          - LN
          - LO
          - LP
          - LPA
          - LR
          - LS
          - LTN
          - LTR
          - LUB
          - LUM
          - LUX
          - LY
          - M1
          - M10
          - M11
          - M12
          - M13
          - M14
          - M15
          - M16
          - M17
          - M18
          - M19
          - M20
          - M21
          - M22
          - M23
          - M24
          - M25
          - M26
          - M27
          - M29
          - M30
          - M31
          - M32
          - M33
          - M34
          - M35
          - M36
          - M37
          - M38
          - M39
          - M4
          - M40
          - M41
          - M42
          - M43
          - M44
          - M45
          - M46
          - M47
          - M48
          - M49
          - M5
          - M50
          - M51
          - M52
          - M53
          - M55
          - M56
          - M57
          - M58
          - M59
          - M60
          - M61
          - M62
          - M63
          - M64
          - M65
          - M66
          - M67
          - M68
          - M69
          - M7
          - M70
          - M71
          - M72
          - M73
          - M74
          - M75
          - M76
          - M77
          - M78
          - M79
          - M80
          - M81
          - M82
          - M83
          - M84
          - M85
          - M86
          - M87
          - M88
          - M89
          - M9
          - M90
          - M91
          - M92
          - M93
          - M94
          - M95
          - M96
          - M97
          - M98
          - M99
          - MAH
          - MAL
          - MAM
          - MAR
          - MAW
          - MBE
          - MBF
          - MBR
          - MC
          - MCU
          - MD
          - MGM
          - MHZ
          - MIK
          - MIL
          - MIN
          - MIO
          - MIU
          - MLD
          - MLT
          - MMK
          - MMQ
          - MMT
          - MND
          - MON
          - MPA
          - MQH
          - MQS
          - MSK
          - MTK
          - MTQ
          - MTR
          - MTS
          - MVA
          - MWH
          - N1
          - N10
          - N11
          - N12
          - N13
          - N14
          - N15
          - N16
          - N17
          - N18
          - N19
          - N20
          - N21
          - N22
          - N23
          - N24
          - N25
          - N26
          - N27
          - N28
          - N29
          - N3
          - N30
          - N31
          - N32
          - N33
          - N34
          - N35
          - N36
          - N37
          - N38
          - N39
          - N40
          - N41
          - N42
          - N43
          - N44
          - N45
          - N46
          - N47
          - N48
          - N49
          - N50
          - N51
          - N52
          - N53
          - N54
          - N55
          - N56
          - N57
          - N58
          - N59
          - N60
          - N61
          - N62
          - N63
          - N64
          - N65
          - N66
          - N67
          - N68
          - N69
          - N70
          - N71
          - N72
          - N73
          - N74
          - N75
          - N76
          - N77
          - N78
          - N79
          - N80
          - N81
          - N82
          - N83
          - N84
          - N85
          - N86
          - N87
          - N88
          - N89
          - N90
          - N91
          - N92
          - N93
          - N94
          - N95
          - N96
          - N97
          - N98
          - N99
          - NA
          - NAR
          - NCL
          - NEW
          - NF
          - NIL
          - NIU
          - NL
          - NM3
          - NMI
          - NMP
          - NPT
          - NT
          - NU
          - NX
          - OA
          - ODE
          - OHM
          - ON
          - ONZ
          - OPM
          - OT
          - OZA
          - OZI
          - P1
          - P10
          - P11
          - P12
          - P13
          - P14
          - P15
          - P16
          - P17
          - P18
          - P19
          - P2
          - P20
          - P21
          - P22
          - P23
          - P24
          - P25
          - P26
          - P27
          - P28
          - P29
          - P30
          - P31
          - P32
          - P33
          - P34
          - P35
          - P36
          - P37
          - P38
          - P39
          - P40
          - P41
          - P42
          - P43
          - P44
          - P45
          - P46
          - P47
          - P48
          - P49
          - P5
          - P50
          - P51
          - P52
          - P53
          - P54
          - P55
          - P56
          - P57
          - P58
          - P59
          - P60
          - P61
          - P62
          - P63
          - P64
          - P65
          - P66
          - P67
          - P68
          - P69
          - P70
          - P71
          - P72
          - P73
          - P74
          - P75
          - P76
          - P77
          - P78
          - P79
          - P80
          - P81
          - P82
          - P83
          - P84
          - P85
          - P86
          - P87
          - P88
          - P89
          - P90
          - P91
          - P92
          - P93
          - P94
          - P95
          - P96
          - P97
          - P98
          - P99
          - PAL
          - PD
          - PFL
          - PGL
          - PI
          - PLA
          - PO
          - PQ
          - PR
          - PS
          - PTD
          - PTI
          - PTL
          - PTN
          - Q10
          - Q11
          - Q12
          - Q13
          - Q14
          - Q15
          - Q16
          - Q17
          - Q18
          - Q19
          - Q20
          - Q21
          - Q22
          - Q23
          - Q24
          - Q25
          - Q26
          - Q27
          - Q28
          - Q29
          - Q30
          - Q31
          - Q32
          - Q33
          - Q34
          - Q35
          - Q36
          - Q37
          - Q38
          - Q39
          - Q40
          - Q3
          - QA
          - QAN
          - QB
          - QR
          - QTD
          - QTI
          - QTL
          - QTR
          - R1
          - R9
          - RH
          - RM
          - ROM
          - RP
          - RPM
          - RPS
          - RT
          - S3
          - S4
          - SAN
          - SCO
          - SCR
          - SEC
          - SET
          - SG
          - SIE
          - SM3
          - SMI
          - SQ
          - SQR
          - SR
          - STC
          - STI
          - STK
          - STL
          - STN
          - STW
          - SW
          - SX
          - SYR
          - T0
          - T3
          - TAH
          - TAN
          - TI
          - TIC
          - TIP
          - TKM
          - TMS
          - TNE
          - TP
          - TPI
          - TPR
          - TQD
          - TRL
          - TST
          - TTS
          - U1
          - U2
          - UB
          - UC
          - VA
          - VLT
          - VP
          - W2
          - WA
          - WB
          - WCD
          - WE
          - WEB
          - WEE
          - WG
          - WHR
          - WM
          - WSD
          - WTT
          - X1
          - YDK
          - YDQ
          - YRD
          - Z11
          - ZP
          - ZZ
          - X1A
          - X1B
          - X1D
          - X1F
          - X1G
          - X1W
          - X2C
          - X3A
          - X3H
          - X43
          - X44
          - X4A
          - X4B
          - X4C
          - X4D
          - X4F
          - X4G
          - X4H
          - X5H
          - X5L
          - X5M
          - X6H
          - X6P
          - X7A
          - X7B
          - X8A
          - X8B
          - X8C
          - XAA
          - XAB
          - XAC
          - XAD
          - XAE
          - XAF
          - XAG
          - XAH
          - XAI
          - XAJ
          - XAL
          - XAM
          - XAP
          - XAT
          - XAV
          - XB4
          - XBA
          - XBB
          - XBC
          - XBD
          - XBE
          - XBF
          - XBG
          - XBH
          - XBI
          - XBJ
          - XBK
          - XBL
          - XBM
          - XBN
          - XBO
          - XBP
          - XBQ
          - XBR
          - XBS
          - XBT
          - XBU
          - XBV
          - XBW
          - XBX
          - XBY
          - XBZ
          - XCA
          - XCB
          - XCC
          - XCD
          - XCE
          - XCF
          - XCG
          - XCH
          - XCI
          - XCJ
          - XCK
          - XCL
          - XCM
          - XCN
          - XCO
          - XCP
          - XCQ
          - XCR
          - XCS
          - XCT
          - XCU
          - XCV
          - XCW
          - XCX
          - XCY
          - XCZ
          - XDA
          - XDB
          - XDC
          - XDG
          - XDH
          - XDI
          - XDJ
          - XDK
          - XDL
          - XDM
          - XDN
          - XDP
          - XDR
          - XDS
          - XDT
          - XDU
          - XDV
          - XDW
          - XDX
          - XDY
          - XEC
          - XED
          - XEE
          - XEF
          - XEG
          - XEH
          - XEI
          - XEN
          - XFB
          - XFC
          - XFD
          - XFE
          - XFI
          - XFL
          - XFO
          - XFP
          - XFR
          - XFT
          - XFW
          - XFX
          - XGB
          - XGI
          - XGL
          - XGR
          - XGU
          - XGY
          - XGZ
          - XHA
          - XHB
          - XHC
          - XHG
          - XHN
          - XHR
          - XIA
          - XIB
          - XIC
          - XID
          - XIE
          - XIF
          - XIG
          - XIH
          - XIK
          - XIL
          - XIN
          - XIZ
          - XJB
          - XJC
          - XJG
          - XJR
          - XJT
          - XJY
          - XKG
          - XKI
          - XLE
          - XLG
          - XLT
          - XLU
          - XLV
          - XLZ
          - XMA
          - XMB
          - XMC
          - XME
          - XMR
          - XMS
          - XMT
          - XMW
          - XMX
          - XNA
          - XNE
          - XNF
          - XNG
          - XNS
          - XNT
          - XNU
          - XNV
          - XOA
          - XOB
          - XOC
          - XOD
          - XOE
          - XOF
          - XOK
          - XOT
          - XOU
          - XP2
          - XPA
          - XPB
          - XPC
          - XPD
          - XPE
          - XPF
          - XPG
          - XPH
          - XPI
          - XPJ
          - XPK
          - XPL
          - XPN
          - XPO
          - XPP
          - XPR
          - XPT
          - XPU
          - XPV
          - XPX
          - XPY
          - XPZ
          - XQA
          - XQB
          - XQC
          - XQD
          - XQF
          - XQG
          - XQH
          - XQJ
          - XQK
          - XQL
          - XQM
          - XQN
          - XQP
          - XQQ
          - XQR
          - XQS
          - XRD
          - XRG
          - XRJ
          - XRK
          - XRL
          - XRO
          - XRT
          - XRZ
          - XSA
          - XSB
          - XSC
          - XSD
          - XSE
          - XSH
          - XSI
          - XSK
          - XSL
          - XSM
          - XSO
          - XSP
          - XSS
          - XST
          - XSU
          - XSV
          - XSW
          - XSY
          - XSZ
          - XT1
          - XTB
          - XTC
          - XTD
          - XTE
          - XTG
          - XTI
          - XTK
          - XTL
          - XTN
          - XTO
          - XTR
          - XTS
          - XTT
          - XTU
          - XTV
          - XTW
          - XTY
          - XTZ
          - XUC
          - XUN
          - XVA
          - XVG
          - XVI
          - XVK
          - XVL
          - XVO
          - XVP
          - XVQ
          - XVN
          - XVR
          - XVS
          - XVY
          - XWA
          - XWB
          - XWC
          - XWD
          - XWF
          - XWG
          - XWH
          - XWJ
          - XWK
          - XWL
          - XWM
          - XWN
          - XWP
          - XWQ
          - XWR
          - XWS
          - XWT
          - XWU
          - XWV
          - XWW
          - XWX
          - XWY
          - XWZ
          - XXA
          - XXB
          - XXC
          - XXD
          - XXF
          - XXG
          - XXH
          - XXJ
          - XXK
          - XYA
          - XYB
          - XYC
          - XYD
          - XYF
          - XYG
          - XYH
          - XYJ
          - XYK
          - XYL
          - XYM
          - XYN
          - XYP
          - XYQ
          - XYR
          - XYS
          - XYT
          - XYV
          - XYW
          - XYX
          - XYY
          - XYZ
          - XZA
          - XZB
          - XZC
          - XZD
          - XZF
          - XZG
          - XZH
          - XZJ
          - XZK
          - XZL
          - XZM
          - XZN
          - XZP
          - XZQ
          - XZR
          - XZS
          - XZT
          - XZU
          - XZV
          - XZW
          - XZX
          - XZY
          - XZZ
          - "04"
          - "05"
          - "08"
          - "16"
          - "17"
          - "18"
          - "19"
          - "26"
          - "29"
          - "30"
          - "31"
          - "32"
          - "36"
          - "43"
          - "44"
          - "45"
          - "46"
          - "47"
          - "48"
          - "53"
          - "54"
          - "62"
          - "63"
          - "64"
          - "66"
          - "69"
          - "71"
          - "72"
          - "73"
          - "76"
          - "78"
          - "84"
          - "90"
          - "92"
          - "93"
          - "94"
          - "95"
          - "96"
          - "97"
          - "98"
          - 1A
          - 1B
          - 1C
          - 1D
          - 1E
          - 1F
          - 1G
          - 1H
          - 1J
          - 1K
          - 1L
          - 1M
          - 1X
          - 2V
          - 2W
          - 3E
          - 3G
          - 3H
          - 3I
          - 4A
          - 4B
          - 4E
          - 5C
          - 5F
          - 5G
          - 5H
          - 5I
          - 5K
          - 5P
          - 5Q
          - A1
          - A25
          - A50
          - A51
          - A52
          - A57
          - A58
          - A60
          - A61
          - A62
          - A63
          - A64
          - A65
          - A66
          - A67
          - A77
          - A78
          - A79
          - A80
          - A81
          - A82
          - A83
          - AJ
          - AM
          - AP
          - AR
          - ARE
          - ATT
          - AV
          - AW
          - B0
          - B2
          - B36
          - B37
          - B38
          - B39
          - B40
          - B5
          - B51
          - B6
          - B65
          - B9
          - BD
          - BE
          - BG
          - BH
          - BJ
          - BK
          - BL
          - BO
          - BR
          - BT
          - BW
          - BX
          - BZ
          - C1
          - C2
          - C4
          - C5
          - C6
          - C77
          - C98
          - CA
          - CH
          - CJ
          - CK
          - CL
          - CO
          - CQ
          - CR
          - CS
          - CT
          - CU
          - CV
          - CY
          - CZ
          - D14
          - D28
          - D35
          - D37
          - D38
          - D39
          - D40
          - D64
          - D66
          - D67
          - D7
          - D70
          - D71
          - D72
          - D75
          - D76
          - D79
          - D8
          - D9
          - D90
          - D92
          - D96
          - D97
          - D98
          - D99
          - DC
          - DE
          - DI
          - DQ
          - DR
          - DRM
          - DS
          - DU
          - DX
          - DY
          - E2
          - E3
          - E5
          - EC
          - EP
          - EV
          - F1
          - F9
          - FB
          - FD
          - FE
          - FG
          - FM
          - G7
          - GC
          - GD
          - GH
          - GK
          - GN
          - GRT
          - GT
          - GW
          - GY
          - GZ
          - H1
          - H2
          - HAR
          - HD
          - HE
          - HF
          - HI
          - HJ
          - HK
          - HL
          - HN
          - HO
          - HP
          - HS
          - HT
          - HY
          - IC
          - IF
          - II
          - IL
          - IM
          - IP
          - IT
          - JB
          - JG
          - JO
          - JR
          - K5
          - KD
          - KF
          - KG
          - KS
          - KTM
          - LC
          - LE
          - LI
          - LJ
          - LX
          - M0
          - MA
          - MF
          - MK
          - MQ
          - MT
          - MV
          - N2
          - NB
          - NBB
          - NC
          - ND
          - NE
          - NG
          - NH
          - NI
          - NJ
          - NN
          - NPL
          - NPR
          - NQ
          - NR
          - NRL
          - NTT
          - NV
          - NY
          - OP
          - OZ
          - P0
          - P3
          - P4
          - P6
          - P7
          - P8
          - P9
          - PA
          - PB
          - PE
          - PF
          - PG
          - PK
          - PL
          - PM
          - PN
          - PT
          - PU
          - PV
          - PW
          - PY
          - PZ
          - QD
          - QH
          - QK
          - QT
          - R4
          - RA
          - RD
          - RG
          - RK
          - RL
          - RN
          - RO
          - RS
          - RU
          - S5
          - S6
          - S7
          - S8
          - SA
          - SD
          - SE
          - SHT
          - SK
          - SL
          - SN
          - SO
          - SP
          - SS
          - SST
          - ST
          - SV
          - T1
          - T4
          - T5
          - T6
          - T7
          - T8
          - TA
          - TC
          - TD
          - TE
          - TF
          - TJ
          - TK
          - TL
          - TN
          - TQ
          - TR
          - TS
          - TSD
          - TSH
          - TT
          - TU
          - TV
          - TW
          - TY
          - UA
          - UD
          - UE
          - UF
          - UH
          - UM
          - VI
          - VQ
          - VS
          - W4
          - WH
          - WI
          - WR
          - WW
          - YL
          - YT
          - Z1
          - Z2
          - Z3
          - Z4
          - Z5
          - Z6
          - Z8
        title: Quantity Unit Code
        type: string
      sellersItemIdentification:
        description: The ID the seller assigned to this item.
        minLength: 1
        title: Sellers Item Identification
        type: string
      standardItemIdentification:
        description: Standardized ID for the item.
        minLength: 1
        title: Standard Item Identification
        type: string
      standardItemIdentificationSchemeAgencyId:
        default: "9"
        description: The scheme agency for the standardized ID for the item.
        minLength: 1
        title: Standard Item Identification Scheme Agency
        type: string
      standardItemIdentificationSchemeId:
        default: GTIN
        description: The scheme for the standardized ID for the item.
        minLength: 1
        title: Standard Item Identification Scheme
        type: string
      tax:
        $ref: "#/definitions/Tax"
        description: The tax for this invoice line.
        title: Tax
    required:
      - amountExcludingVat
    title: Invoice line
    type: object
  InvoiceRecipient:
    description: The different ways to send the invoice to the recipient. The publicIdentifiers are used to send via the Peppol network, if the recipient is not registered on the Peppol network, the invoice will be sent to the email addresses in the emails property. This property is only mandatory when sending the invoice data using the <<_openapi_invoice>> property, not when sending using the <<_openapi_invoicedata>> property, in which case this information will be extracted from the <<_openapi_invoicedata>> object. If you do specify an <<_openapi_invoicerecipient>> object and an <<_openapi_invoicedata>> object, the data from the two will be merged.
    properties:
      emails:
        description: The email addresses the invoice should be sent to if none of the other identifiers can be used
        items:
          description: The email address the invoice should be sent to
          format: email
          title: Email
          type: string
        title: Fallback email
        type: array
      publicIdentifiers:
        $ref: "#/definitions/PublicIdentifiers"
        description: The public identifiers for this invoice recipient. These are the identifiers used on the Peppol network. Note that when sending invoices with VAT (or with a taxExemptReason), a receiver VAT number is required and that should be one of these publicIdentifiers.
        title: Public Identifiers
    title: Recipient ids
    type: object
  InvoiceRecipientPreflight:
    description: Identifies the invoice recipient to preflight
    properties:
      publicIdentifiers:
        $ref: "#/definitions/PublicIdentifiers"
        description: The public identifiers for this invoice recipient.
    title: Invoice recipient preflight
    type: object
  InvoiceResponseClarification:
    description: A clarification for why a received invoice was rejected (RE) or under query (UQ) and what action to take.
    properties:
      clarification:
        description: A textual description of the clarification
        title: Clarification
        type: string
      clarificationCode:
        description: The code for the clarification. For details see https://docs.peppol.eu/poacc/upgrade-3/codelist/OPStatusReason/ and https://docs.peppol.eu/poacc/upgrade-3/codelist/OPStatusAction/
        enum:
          - REF
          - LEG
          - REC
          - QUA
          - DEL
          - PRI
          - QTY
          - ITM
          - PAY
          - UNR
          - FIN
          - OTH
          - PIN
          - NIN
          - CNF
          - CNP
          - CNA
        title: Clarification Code
        type: string
      clarificationCodeType:
        description: The type of the clarification.
        enum:
          - OPStatusReason
          - OPStatusAction
        title: Clarification Code Type
        type: string
    required:
      - clarificationCodeType
      - clarificationCode
    title: Invoice Response Clarification
    type: object
  InvoiceSubmission:
    description: The invoice you want Storecove to process, with some meta-data.
    properties:
      attachments:
        description: An array of attachments. You may provide up to 10 attchments, but the total size must not exceed 10MB after Base64 encoding.
        items:
          $ref: "#/definitions/Attachment"
        maxItems: 10
        title: Attachments
        type: array
      document:
        description: DEPRECATED. Use attachments.
        title: Document
        type: string
      documentUrl:
        description: DEPRECATED. Use attachments.
        format: uri
        title: Document Url
        type: string
      idempotencyGuid:
        description: A guid that you generated for this InvoiceSubmission to achieve idempotency. If you submit multiple documents with the same idempotencyGuid, only the first one will be processed.
        maxLength: 36
        minLength: 36
        title: Idempotency GUID
        type: string
      invoice:
        $ref: "#/definitions/Invoice"
      invoiceData:
        $ref: "#/definitions/InvoiceData"
      invoiceRecipient:
        $ref: "#/definitions/InvoiceRecipient"
        description: DEPRECATED. Use the routing and accountingCustomerParty.publicIdentifiers properties.
        title: Invoice recipient
      legalEntityId:
        description: The id of the LegalEntity this invoice should be sent for.
        title: The LegalEntity id
        type: integer
      legalSupplierId:
        description: DEPRECATED. Use legalEntityId
        title: The legal supplier id
        type: integer
      mode:
        description: DEPRECATED.
        enum:
          - direct
        title: Mode
        type: string
      routing:
        $ref: "#/definitions/Routing"
        description: Specifies where the invoice is to be sent. Can be electronic identifiers or email addresses.
        title: Routing destinations
      supplierId:
        description: DEPRECATED.
        title: Supplier id
        type: integer
    title: Invoice submission
    type: object
  InvoiceSubmissionActionEvidence:
    properties:
      receiver_response:
        description: The response the receiver sent.
        title: Receiver Response
        type: string
      transmission_datetime:
        description: The DateTime of the transmission, as defined by RFC 3339, section 5.6, for example, 2017-07-21T17:32:28Z.
        title: Transmission DateTime
        type: string
      transmission_result:
        description: The result of this transmission.
        enum:
          - unknown
          - accepted
          - rejected
          - send_error
          - internal_error
        title: Transmission Result
        type: string
      transmission_type:
        description: How the document was transmitted.
        enum:
          - email
          - edi
          - as2
          - peppol
          - sandbox
        title: Transmission Type
        type: string
      transmitted_document:
        description: The document that was transmitted.
        title: Transmitted Document
        type: string
  InvoiceSubmissionEvidence:
    properties:
      actions:
        description: An array of actions taken to deliver the document.
        items:
          $ref: "#/definitions/InvoiceSubmissionActionEvidence"
        title: Actions
        type: array
      guid:
        description: The guid for the InvoiceSubmission.
        title: GUID
        type: string
      status:
        description: The overall status for this InvoiceSubmission.
        title: Status
        type: string
  InvoiceSubmissionResult:
    description: The result of an invoice submission
    properties:
      guid:
        description: A (V4) GUID for the invoice submission
        title: GUID
        type: string
    title: Invoice submission result
    type: object
  LegalEntity:
    allOf:
      - $ref: "#/definitions/LegalEntityUpdate"
      - properties:
          peppol_identifiers:
            items:
              $ref: "#/definitions/PeppolIdentifier"
            type: array
  LegalEntityCreate:
    properties:
      advertisements:
        default:
          - invoice
        description: A list of document types to advertise. Use if this LegalEntity needs the ability to receive more than only invoice documents.
        items:
          description: A document type to advertise.
          enum:
            - invoice
            - invoice_response
          title: Document type
          type: string
        title: Advertisements
        type: array
      city:
        description: The city.
        maxLength: 64
        minLength: 2
        title: City
        type: string
      country:
        $ref: "#/definitions/Country"
      county:
        description: County, if applicable
        maxLength: 64
        title: County
        type: string
      line1:
        description: The first address line.
        maxLength: 64
        minLength: 2
        title: Address line 1
        type: string
      line2:
        description: The second address line, if applicable
        maxLength: 64
        title: Address line 2
        type: string
      party_name:
        description: The name of the company.
        maxLength: 64
        minLength: 2
        title: Company name
        type: string
      public:
        default: true
        description: Whether or not this LegalEntity is public. Public means it will be entered into the PEPPOL directory at https://directory.peppol.eu/
        title: Public
        type: boolean
      tenant_id:
        description: The id of the tenant, to be used in case of multi-tenant solutions. This property will included in webhook events.
        maxLength: 64
        title: Tenant Id
        type: string
      zip:
        description: The zipcode.
        maxLength: 32
        minLength: 2
        title: Zipcode
        type: string
    required:
      - party_name
      - line1
      - city
      - zip
      - country
  LegalEntityUpdate:
    properties:
      advertisements:
        default:
          - invoice
        description: A list of document types to advertise. Use if this LegalEntity needs the ability to receive more than only invoice documents.
        items:
          description: A document type to advertise.
          enum:
            - invoice
            - invoice_response
          title: Document type
          type: string
        title: Advertisements
        type: array
      city:
        description: The city.
        maxLength: 64
        minLength: 2
        title: City
        type: string
      country:
        $ref: "#/definitions/Country"
      county:
        description: County, if applicable
        maxLength: 64
        title: County
        type: string
      id:
        description: The Storecove assigned id for the LegalEntity.
        format: int64
[...]
