swagger: '2.0'
info:
  version: '2013-04-15'
  x-release: v4
  title: AWS Support
  description: '<fullname>AWS Support</fullname> <p>The AWS Support API reference is intended for programmers who need detailed information about the AWS Support operations and data types. This service enables you to manage your AWS Support cases programmatically. It uses HTTP methods that return results in JSON format.</p> <p>The AWS Support service also exposes a set of <a href="http://aws.amazon.com/premiumsupport/trustedadvisor/">Trusted Advisor</a> features. You can retrieve a list of checks and their descriptions, get check results, specify checks to refresh, and get the refresh status of checks. </p> <p>The following list describes the AWS Support case management operations:</p> <ul> <li> <p> <b>Service names, issue categories, and available severity levels. </b>The <a>DescribeServices</a> and <a>DescribeSeverityLevels</a> operations return AWS service names, service codes, service categories, and problem severity levels. You use these values when you call the <a>CreateCase</a> operation. </p> </li> <li> <p> <b>Case creation, case details, and case resolution.</b> The <a>CreateCase</a>, <a>DescribeCases</a>, <a>DescribeAttachment</a>, and <a>ResolveCase</a> operations create AWS Support cases, retrieve information about cases, and resolve cases.</p> </li> <li> <p> <b>Case communication.</b> The <a>DescribeCommunications</a>, <a>AddCommunicationToCase</a>, and <a>AddAttachmentsToSet</a> operations retrieve and add communications and attachments to AWS Support cases. </p> </li> </ul> <p>The following list describes the operations available from the AWS Support service for Trusted Advisor:</p> <ul> <li> <p> <a>DescribeTrustedAdvisorChecks</a> returns the list of checks that run against your AWS resources.</p> </li> <li> <p>Using the <code>checkId</code> for a specific check returned by <a>DescribeTrustedAdvisorChecks</a>, you can call <a>DescribeTrustedAdvisorCheckResult</a> to obtain the results for the check you specified.</p> </li> <li> <p> <a>DescribeTrustedAdvisorCheckSummaries</a> returns summarized results for one or more Trusted Advisor checks.</p> </li> <li> <p> <a>RefreshTrustedAdvisorCheck</a> requests that Trusted Advisor rerun a specified check. </p> </li> <li> <p> <a>DescribeTrustedAdvisorCheckRefreshStatuses</a> reports the refresh status of one or more checks. </p> </li> </ul> <p>For authentication of requests, AWS Support uses <a href="http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html">Signature Version 4 Signing Process</a>.</p> <p>See <a href="http://docs.aws.amazon.com/awssupport/latest/user/Welcome.html">About the AWS Support API</a> in the <i>AWS Support User Guide</i> for information about how to use this service to create and manage your support cases, and how to call Trusted Advisor for results of checks on your resources. </p>'
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: support
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/support-2013-04-15.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/support/'
host: support.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddAttachmentsToSet
      description: '<p>Adds one or more attachments to an attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p> <p>An attachment set is a temporary container for attachments that are to be added to a case or case communication. The set is available for one hour after it is created; the <code>expiryTime</code> returned in the response indicates when the set expires. The maximum number of attachments in a set is 3, and the maximum size of any attachment in the set is 5 MB.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddAttachmentsToSetResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: AttachmentSetIdNotFound
          schema:
            $ref: '#/definitions/AttachmentSetIdNotFound'
        '482':
          description: AttachmentSetExpired
          schema:
            $ref: '#/definitions/AttachmentSetExpired'
        '483':
          description: AttachmentSetSizeLimitExceeded
          schema:
            $ref: '#/definitions/AttachmentSetSizeLimitExceeded'
        '484':
          description: AttachmentLimitExceeded
          schema:
            $ref: '#/definitions/AttachmentLimitExceeded'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddAttachmentsToSetRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AddCommunicationToCase':
    post:
      operationId: AddCommunicationToCase
      description: <p>Adds additional customer communication to an AWS Support case. You use the <code>caseId</code> value to identify the case to add communication to. You can list a set of email addresses to copy on the communication using the <code>ccEmailAddresses</code> value. The <code>communicationBody</code> value contains the text of the communication.</p> <p>The response indicates the success or failure of the request.</p> <p>This operation implements a subset of the features of the AWS Support Center.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddCommunicationToCaseResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: CaseIdNotFound
          schema:
            $ref: '#/definitions/CaseIdNotFound'
        '482':
          description: AttachmentSetIdNotFound
          schema:
            $ref: '#/definitions/AttachmentSetIdNotFound'
        '483':
          description: AttachmentSetExpired
          schema:
            $ref: '#/definitions/AttachmentSetExpired'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddCommunicationToCaseRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateCase':
    post:
      operationId: CreateCase
      description: '<p>Creates a new case in the AWS Support Center. This operation is modeled on the behavior of the AWS Support Center <a href="https://console.aws.amazon.com/support/home#/case/create">Create Case</a> page. Its parameters require you to specify the following information: </p> <ul> <li> <p> <b>issueType.</b> The type of issue for the case. You can specify either "customer-service" or "technical." If you do not indicate a value, the default is "technical." </p> </li> <li> <p> <b>serviceCode.</b> The code for an AWS service. You obtain the <code>serviceCode</code> by calling <a>DescribeServices</a>. </p> </li> <li> <p> <b>categoryCode.</b> The category for the service defined for the <code>serviceCode</code> value. You also obtain the category code for a service by calling <a>DescribeServices</a>. Each AWS service defines its own set of category codes. </p> </li> <li> <p> <b>severityCode.</b> A value that indicates the urgency of the case, which in turn determines the response time according to your service level agreement with AWS Support. You obtain the SeverityCode by calling <a>DescribeSeverityLevels</a>.</p> </li> <li> <p> <b>subject.</b> The <b>Subject</b> field on the AWS Support Center <a href="https://console.aws.amazon.com/support/home#/case/create">Create Case</a> page.</p> </li> <li> <p> <b>communicationBody.</b> The <b>Description</b> field on the AWS Support Center <a href="https://console.aws.amazon.com/support/home#/case/create">Create Case</a> page.</p> </li> <li> <p> <b>attachmentSetId.</b> The ID of a set of attachments that has been created by using <a>AddAttachmentsToSet</a>.</p> </li> <li> <p> <b>language.</b> The human language in which AWS Support handles the case. English and Japanese are currently supported.</p> </li> <li> <p> <b>ccEmailAddresses.</b> The AWS Support Center <b>CC</b> field on the <a href="https://console.aws.amazon.com/support/home#/case/create">Create Case</a> page. You can list email addresses to be copied on any correspondence about the case. The account that opens the case is already identified by passing the AWS Credentials in the HTTP POST method or in a method or function call from one of the programming languages supported by an <a href="http://aws.amazon.com/tools/">AWS SDK</a>. </p> </li> </ul> <note> <p>To add additional communication or attachments to an existing case, use <a>AddCommunicationToCase</a>.</p> </note> <p>A successful <a>CreateCase</a> request returns an AWS Support case number. Case numbers are used by the <a>DescribeCases</a> operation to retrieve existing AWS Support cases. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateCaseResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: CaseCreationLimitExceeded
          schema:
            $ref: '#/definitions/CaseCreationLimitExceeded'
        '482':
          description: AttachmentSetIdNotFound
          schema:
            $ref: '#/definitions/AttachmentSetIdNotFound'
        '483':
          description: AttachmentSetExpired
          schema:
            $ref: '#/definitions/AttachmentSetExpired'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateCaseRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAttachment':
    post:
      operationId: DescribeAttachment
      description: Returns the attachment that has the specified ID. Attachment IDs are generated by the case management system when you add an attachment to a case or case communication. Attachment IDs are returned in the <a>AttachmentDetails</a> objects that are returned by the <a>DescribeCommunications</a> operation.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAttachmentResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: DescribeAttachmentLimitExceeded
          schema:
            $ref: '#/definitions/DescribeAttachmentLimitExceeded'
        '482':
          description: AttachmentIdNotFound
          schema:
            $ref: '#/definitions/AttachmentIdNotFound'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAttachmentRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeCases':
    post:
      operationId: DescribeCases
      description: '<p>Returns a list of cases that you specify by passing one or more case IDs. In addition, you can filter the cases by date by setting values for the <code>afterTime</code> and <code>beforeTime</code> request parameters. You can set values for the <code>includeResolvedCases</code> and <code>includeCommunications</code> request parameters to control how much information is returned. </p> <p>Case data is available for 12 months after creation. If a case was created more than 12 months ago, a request for data might cause an error.</p> <p>The response returns the following in JSON format:</p> <ul> <li> <p>One or more <a>CaseDetails</a> data types. </p> </li> <li> <p>One or more <code>nextToken</code> values, which specify where to paginate the returned records represented by the <code>CaseDetails</code> objects.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeCasesResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: CaseIdNotFound
          schema:
            $ref: '#/definitions/CaseIdNotFound'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeCasesRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeCommunications':
    post:
      operationId: DescribeCommunications
      description: '<p>Returns communications (and attachments) for one or more support cases. You can use the <code>afterTime</code> and <code>beforeTime</code> parameters to filter by date. You can use the <code>caseId</code> parameter to restrict the results to a particular case.</p> <p>Case data is available for 12 months after creation. If a case was created more than 12 months ago, a request for data might cause an error.</p> <p>You can use the <code>maxResults</code> and <code>nextToken</code> parameters to control the pagination of the result set. Set <code>maxResults</code> to the number of cases you want displayed on each page, and use <code>nextToken</code> to specify the resumption of pagination.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeCommunicationsResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: CaseIdNotFound
          schema:
            $ref: '#/definitions/CaseIdNotFound'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeCommunicationsRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeServices':
    post:
      operationId: DescribeServices
      description: '<p>Returns the current list of AWS services and a list of service categories that applies to each one. You then use service names and categories in your <a>CreateCase</a> requests. Each AWS service has its own set of categories.</p> <p>The service codes and category codes correspond to the values that are displayed in the <b>Service</b> and <b>Category</b> drop-down lists on the AWS Support Center <a href="https://console.aws.amazon.com/support/home#/case/create">Create Case</a> page. The values in those fields, however, do not necessarily match the service codes and categories returned by the <code>DescribeServices</code> request. Always use the service codes and categories obtained programmatically. This practice ensures that you always have the most recent set of service and category codes.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeServicesResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeServicesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeSeverityLevels':
    post:
      operationId: DescribeSeverityLevels
      description: 'Returns the list of severity levels that you can assign to an AWS Support case. The severity level for a case is also a field in the <a>CaseDetails</a> data type included in any <a>CreateCase</a> request. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSeverityLevelsResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSeverityLevelsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTrustedAdvisorCheckRefreshStatuses':
    post:
      operationId: DescribeTrustedAdvisorCheckRefreshStatuses
      description: '<p>Returns the refresh status of the Trusted Advisor checks that have the specified check IDs. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p> <note> <p>Some checks are refreshed automatically, and their refresh statuses cannot be retrieved by using this operation. Use of the <code>DescribeTrustedAdvisorCheckRefreshStatuses</code> operation for these checks causes an <code>InvalidParameterValue</code> error.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTrustedAdvisorCheckRefreshStatusesResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTrustedAdvisorCheckRefreshStatusesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTrustedAdvisorCheckResult':
    post:
      operationId: DescribeTrustedAdvisorCheckResult
      description: '<p>Returns the results of the Trusted Advisor check that has the specified check ID. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p> <p>The response contains a <a>TrustedAdvisorCheckResult</a> object, which contains these three objects:</p> <ul> <li> <p> <a>TrustedAdvisorCategorySpecificSummary</a> </p> </li> <li> <p> <a>TrustedAdvisorResourceDetail</a> </p> </li> <li> <p> <a>TrustedAdvisorResourcesSummary</a> </p> </li> </ul> <p>In addition, the response contains these fields:</p> <ul> <li> <p> <b>status.</b> The alert status of the check: "ok" (green), "warning" (yellow), "error" (red), or "not_available".</p> </li> <li> <p> <b>timestamp.</b> The time of the last refresh of the check.</p> </li> <li> <p> <b>checkId.</b> The unique identifier for the check.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTrustedAdvisorCheckResultResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTrustedAdvisorCheckResultRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTrustedAdvisorCheckSummaries':
    post:
      operationId: DescribeTrustedAdvisorCheckSummaries
      description: <p>Returns the summaries of the results of the Trusted Advisor checks that have the specified check IDs. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p> <p>The response contains an array of <a>TrustedAdvisorCheckSummary</a> objects.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTrustedAdvisorCheckSummariesResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTrustedAdvisorCheckSummariesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTrustedAdvisorChecks':
    post:
      operationId: DescribeTrustedAdvisorChecks
      description: 'Returns information about all available Trusted Advisor checks, including name, ID, category, description, and metadata. You must specify a language code; English ("en") and Japanese ("ja") are currently supported. The response contains a <a>TrustedAdvisorCheckDescription</a> for each check.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTrustedAdvisorChecksResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTrustedAdvisorChecksRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RefreshTrustedAdvisorCheck':
    post:
      operationId: RefreshTrustedAdvisorCheck
      description: '<p>Requests a refresh of the Trusted Advisor check that has the specified check ID. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p> <note> <p>Some checks are refreshed automatically, and they cannot be refreshed by using this operation. Use of the <code>RefreshTrustedAdvisorCheck</code> operation for these checks causes an <code>InvalidParameterValue</code> error.</p> </note> <p>The response contains a <a>TrustedAdvisorCheckRefreshStatus</a> object, which contains these fields:</p> <ul> <li> <p> <b>status.</b> The refresh status of the check: "none", "enqueued", "processing", "success", or "abandoned".</p> </li> <li> <p> <b>millisUntilNextRefreshable.</b> The amount of time, in milliseconds, until the check is eligible for refresh.</p> </li> <li> <p> <b>checkId.</b> The unique identifier for the check.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RefreshTrustedAdvisorCheckResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RefreshTrustedAdvisorCheckRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ResolveCase':
    post:
      operationId: ResolveCase
      description: Takes a <code>caseId</code> and returns the initial state of the case along with the state of the case after the call to <a>ResolveCase</a> completed.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResolveCaseResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: CaseIdNotFound
          schema:
            $ref: '#/definitions/CaseIdNotFound'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResolveCaseRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AddAttachmentsToSetRequest:
    type: object
    required:
      - attachments
    properties:
      attachmentSetId:
        $ref: '#/definitions/AttachmentSetId'
        description: 'The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.'
      attachments:
        $ref: '#/definitions/Attachments'
        description: 'One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.'
    description: <p/>
  AddAttachmentsToSetResponse:
    type: object
    properties:
      attachmentSetId:
        $ref: '#/definitions/AttachmentSetId'
        description: 'The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.'
      expiryTime:
        $ref: '#/definitions/ExpiryTime'
        description: The time and date when the attachment set expires.
    description: The ID and expiry time of the attachment set returned by the <a>AddAttachmentsToSet</a> operation.
  AddCommunicationToCaseRequest:
    type: object
    required:
      - communicationBody
    properties:
      caseId:
        $ref: '#/definitions/CaseId'
        description: 'The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> '
      communicationBody:
        $ref: '#/definitions/CommunicationBody'
        description: The body of an email communication to add to the support case.
      ccEmailAddresses:
        $ref: '#/definitions/CcEmailAddressList'
        description: The email addresses in the CC line of an email to be added to the support case.
      attachmentSetId:
        $ref: '#/definitions/AttachmentSetId'
        description: 'The ID of a set of one or more attachments for the communication to add to the case. Create the set by calling <a>AddAttachmentsToSet</a> '
    description: To be written.
  AddCommunicationToCaseResponse:
    type: object
    properties:
      result:
        $ref: '#/definitions/Result'
        description: 'True if <a>AddCommunicationToCase</a> succeeds. Otherwise, returns an error.'
    description: The result of the <a>AddCommunicationToCase</a> operation.
  AfterTime:
    type: string
  Attachment:
    type: object
    properties:
      fileName:
        $ref: '#/definitions/FileName'
        description: The name of the attachment file.
      data:
        $ref: '#/definitions/Data'
        description: The content of the attachment file.
    description: An attachment to a case communication. The attachment consists of the file name and the content of the file.
  AttachmentDetails:
    type: object
    properties:
      attachmentId:
        $ref: '#/definitions/AttachmentId'
        description: The ID of the attachment.
      fileName:
        $ref: '#/definitions/FileName'
        description: The file name of the attachment.
    description: The file name and ID of an attachment to a case communication. You can use the ID to retrieve the attachment with the <a>DescribeAttachment</a> operation.
  AttachmentId:
    type: string
  AttachmentIdNotFound:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: An attachment with the specified ID could not be found.
    description: An attachment with the specified ID could not be found.
  AttachmentLimitExceeded:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: The limit for the number of attachment sets created in a short period of time has been exceeded.
    description: The limit for the number of attachment sets created in a short period of time has been exceeded.
  AttachmentSet:
    type: array
    items:
      $ref: '#/definitions/AttachmentDetails'
  AttachmentSetExpired:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: The expiration time of the attachment set has passed. The set expires 1 hour after it is created.
    description: The expiration time of the attachment set has passed. The set expires 1 hour after it is created.
  AttachmentSetId:
    type: string
  AttachmentSetIdNotFound:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: An attachment set with the specified ID could not be found.
    description: An attachment set with the specified ID could not be found.
  AttachmentSetSizeLimitExceeded:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A limit for the size of an attachment set has been exceeded. The limits are 3 attachments and 5 MB per attachment.
    description: A limit for the size of an attachment set has been exceeded. The limits are 3 attachments and 5 MB per attachment.
  Attachments:
    type: array
    items:
      $ref: '#/definitions/Attachment'
  BeforeTime:
    type: string
  Boolean:
    type: boolean
  CaseCreationLimitExceeded:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: An error message that indicates that you have exceeded the number of cases you can have open.
    description: The case creation limit for the account has been exceeded.
  CaseDetails:
    type: object
    properties:
      caseId:
        $ref: '#/definitions/CaseId'
        description: 'The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> '
      displayId:
        $ref: '#/definitions/DisplayId'
        description: The ID displayed for the case in the AWS Support Center. This is a numeric string.
      subject:
        $ref: '#/definitions/Subject'
        description: The subject line for the case in the AWS Support Center.
      status:
        $ref: '#/definitions/Status'
        description: The status of the case.
      serviceCode:
        $ref: '#/definitions/ServiceCode'
        description: The code for the AWS service returned by the call to <a>DescribeServices</a>.
      categoryCode:
        $ref: '#/definitions/CategoryCode'
        description: The category of problem for the AWS Support case.
      severityCode:
        $ref: '#/definitions/SeverityCode'
        description: The code for the severity level returned by the call to <a>DescribeSeverityLevels</a>.
      submittedBy:
        $ref: '#/definitions/SubmittedBy'
        description: The email address of the account that submitted the case.
      timeCreated:
        $ref: '#/definitions/TimeCreated'
        description: The time that the case was case created in the AWS Support Center.
      recentCommunications:
        $ref: '#/definitions/RecentCaseCommunications'
        description: 'The five most recent communications between you and AWS Support Center, including the IDs of any attachments to the communications. Also includes a <code>nextToken</code> that you can use to retrieve earlier communications.'
      ccEmailAddresses:
        $ref: '#/definitions/CcEmailAddressList'
        description: The email addresses that receive copies of communication about the case.
      language:
        $ref: '#/definitions/Language'
        description: The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English ("en") and Japanese ("ja"). Language parameters must be passed explicitly for operations that take them.
    description: '<p>A JSON-formatted object that contains the metadata for a support case. It is contained the response from a <a>DescribeCases</a> request. <b>CaseDetails</b> contains the following fields:</p> <ul> <li> <p> <b>caseId.</b> The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>.</p> </li> <li> <p> <b>categoryCode.</b> The category of problem for the AWS Support case. Corresponds to the CategoryCode values returned by a call to <a>DescribeServices</a>.</p> </li> <li> <p> <b>displayId.</b> The identifier for the case on pages in the AWS Support Center.</p> </li> <li> <p> <b>language.</b> The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English ("en") and Japanese ("ja"). Language parameters must be passed explicitly for operations that take them.</p> </li> <li> <p> <b>recentCommunications.</b> One or more <a>Communication</a> objects. Fields of these objects are <code>attachments</code>, <code>body</code>, <code>caseId</code>, <code>submittedBy</code>, and <code>timeCreated</code>.</p> </li> <li> <p> <b>nextToken.</b> A resumption point for pagination.</p> </li> <li> <p> <b>serviceCode.</b> The identifier for the AWS service that corresponds to the service code defined in the call to <a>DescribeServices</a>.</p> </li> <li> <p> <b>severityCode. </b>The severity code assigned to the case. Contains one of the values returned by the call to <a>DescribeSeverityLevels</a>.</p> </li> <li> <p> <b>status.</b> The status of the case in the AWS Support Center.</p> </li> <li> <p> <b>subject.</b> The subject line of the case.</p> </li> <li> <p> <b>submittedBy.</b> The email address of the account that submitted the case.</p> </li> <li> <p> <b>timeCreated.</b> The time the case was created, in ISO-8601 format.</p> </li> </ul>'
  CaseId:
    type: string
  CaseIdList:
    type: array
    items:
      $ref: '#/definitions/CaseId'
    minItems: 0
    maxItems: 100
  CaseIdNotFound:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: The requested <code>CaseId</code> could not be located.
    description: The requested <code>caseId</code> could not be located.
  CaseList:
    type: array
    items:
      $ref: '#/definitions/CaseDetails'
  CaseStatus:
    type: string
  Category:
    type: object
    properties:
      code:
        $ref: '#/definitions/CategoryCode'
        description: The category code for the support case.
      name:
        $ref: '#/definitions/CategoryName'
        description: The category name for the support case.
    description: 'A JSON-formatted name/value pair that represents the category name and category code of the problem, selected from the <a>DescribeServices</a> response for each AWS service.'
  CategoryCode:
    type: string
  CategoryList:
    type: array
    items:
      $ref: '#/definitions/Category'
  CategoryName:
    type: string
  CcEmailAddress:
    type: string
  CcEmailAddressList:
    type: array
    items:
      $ref: '#/definitions/CcEmailAddress'
    minItems: 0
    maxItems: 10
  Communication:
    type: object
    properties:
      caseId:
        $ref: '#/definitions/CaseId'
        description: 'The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> '
      body:
        $ref: '#/definitions/CommunicationBody'
        description: The text of the communication between the customer and AWS Support.
      submittedBy:
        $ref: '#/definitions/SubmittedBy'
        description: The email address of the account that submitted the AWS Support case.
      timeCreated:
        $ref: '#/definitions/TimeCreated'
        description: The time the communication was created.
      attachmentSet:
        $ref: '#/definitions/AttachmentSet'
        description: Information about the attachments to the case communication.
    description: 'A communication associated with an AWS Support case. The communication consists of the case ID, the message body, attachment information, the account email address, and the date and time of the communication.'
  CommunicationBody:
    type: string
    minLength: 1
    maxLength: 8000
  CommunicationList:
    type: array
    items:
      $ref: '#/definitions/Communication'
  CreateCaseRequest:
    type: object
    required:
      - subject
      - communicationBody
    properties:
      subject:
        $ref: '#/definitions/Subject'
        description: The title of the AWS Support case.
      serviceCode:
        $ref: '#/definitions/ServiceCode'
        description: The code for the AWS service returned by the call to <a>DescribeServices</a>.
      severityCode:
        $ref: '#/definitions/SeverityCode'
        description: '<p>The code for the severity level returned by the call to <a>DescribeSeverityLevels</a>.</p> <note> <p>The availability of severity levels depends on each customer''s support subscription. In other words, your subscription may not necessarily require the urgent level of response time.</p> </note>'
      categoryCode:
        $ref: '#/definitions/CategoryCode'
        description: The category of problem for the AWS Support case.
      communicationBody:
        $ref: '#/definitions/CommunicationBody'
        description: The communication body text when you create an AWS Support case by calling <a>CreateCase</a>.
      ccEmailAddresses:
        $ref: '#/definitions/CcEmailAddressList'
        description: A list of email addresses that AWS Support copies on case correspondence.
      language:
        $ref: '#/definitions/Language'
        description: The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English ("en") and Japanese ("ja"). Language parameters must be passed explicitly for operations that take them.
      issueType:
        $ref: '#/definitions/IssueType'
        description: 'The type of issue for the case. You can specify either "customer-service" or "technical." If you do not indicate a value, the default is "technical."'
      attachmentSetId:
        $ref: '#/definitions/AttachmentSetId'
        description: The ID of a set of one or more attachments for the case. Create the set by using <a>AddAttachmentsToSet</a>.
    description: <p/>
  CreateCaseResponse:
    type: object
    properties:
      caseId:
        $ref: '#/definitions/CaseId'
        description: 'The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> '
    description: 'The AWS Support case ID returned by a successful completion of the <a>CreateCase</a> operation. '
  Data:
    type: string
  DescribeAttachmentLimitExceeded:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: The limit for the number of <a>DescribeAttachment</a> requests in a short period of time has been exceeded.
    description: The limit for the number of <a>DescribeAttachment</a> requests in a short period of time has been exceeded.
  DescribeAttachmentRequest:
    type: object
    required:
      - attachmentId
    properties:
      attachmentId:
        $ref: '#/definitions/AttachmentId'
        description: The ID of the attachment to return. Attachment IDs are returned by the <a>DescribeCommunications</a> operation.
  DescribeAttachmentResponse:
    type: object
    properties:
      attachment:
        $ref: '#/definitions/Attachment'
        description: The attachment content and file name.
    description: The content and file name of the attachment returned by the <a>DescribeAttachment</a> operation.
  DescribeCasesRequest:
    type: object
    properties:
      caseIdList:
        $ref: '#/definitions/CaseIdList'
        description: A list of ID numbers of the support cases you want returned. The maximum number of cases is 100.
      displayId:
        $ref: '#/definitions/DisplayId'
        description: The ID displayed for a case in the AWS Support Center user interface.
      afterTime:
        $ref: '#/definitions/AfterTime'
        description: The start date for a filtered date search on support case communications. Case communications are available for 12 months after creation.
      beforeTime:
        $ref: '#/definitions/BeforeTime'
        description: The end date for a filtered date search on support case communications. Case communications are available for 12 months after creation.
      includeResolvedCases:
        $ref: '#/definitions/IncludeResolvedCases'
        description: Specifies whether resolved support cases should be included in the <a>DescribeCases</a> results. The default is <i>false</i>.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: A resumption point for pagination.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return before paginating.
      language:
        $ref: '#/definitions/Language'
        description: The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English ("en") and Japanese ("ja"). Language parameters must be passed explicitly for operations that take them.
      includeCommunications:
        $ref: '#/definitions/IncludeCommunications'
        description: Specifies whether communications should be included in the <a>DescribeCases</a> results. The default is <i>true</i>.
    description: <p/>
  DescribeCasesResponse:
    type: object
    properties:
      cases:
        $ref: '#/definitions/CaseList'
        description: The details for the cases that match the request.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: A resumption point for pagination.
    description: Returns an array of <a>CaseDetails</a> objects and a <code>nextToken</code> that defines a point for pagination in the result set.
  DescribeCommunicationsRequest:
    type: object
    required:
      - caseId
    properties:
      caseId:
        $ref: '#/definitions/CaseId'
        description: 'The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> '
      beforeTime:
        $ref: '#/definitions/BeforeTime'
        description: The end date for a filtered date search on support case communications. Case communications are available for 12 months after creation.
      afterTime:
        $ref: '#/definitions/AfterTime'
        description: The start date for a filtered date search on support case communications. Case communications are available for 12 months after creation.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: A resumption point for pagination.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return before paginating.
    description: <p/>
  DescribeCommunicationsResponse:
    type: object
    properties:
      communications:
        $ref: '#/definitions/CommunicationList'
        description: The communications for the case.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: A resumption point for pagination.
    description: The communications returned by the <a>DescribeCommunications</a> operation.
  DescribeServicesRequest:
    type: object
    properties:
      serviceCodeList:
        $ref: '#/definitions/ServiceCodeList'
        description: A JSON-formatted list of service codes available for AWS services.
      language:
        $ref: '#/definitions/Language'
        description: The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English ("en") and Japanese ("ja"). Language parameters must be passed explicitly for operations that take them.
    description: <p/>
  DescribeServicesResponse:
    type: object
    properties:
      services:
        $ref: '#/definitions/ServiceList'
        description: A JSON-formatted list of AWS services.
    description: The list of AWS services returned by the <a>DescribeServices</a> operation.
  DescribeSeverityLevelsRequest:
    type: object
    properties:
      language:
        $ref: '#/definitions/Language'
        description: The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English ("en") and Japanese ("ja"). Language parameters must be passed explicitly for operations that take them.
    description: <p/>
  DescribeSeverityLevelsResponse:
    type: object
    properties:
      severityLevels:
        $ref: '#/definitions/SeverityLevelsList'
        description: The available severity levels for the support case. Available severity levels are defined by your service level agreement with AWS.
    description: The list of severity levels returned by the <a>DescribeSeverityLevels</a> operation.
  DescribeTrustedAdvisorCheckRefreshStatusesRequest:
    type: object
    required:
      - checkIds
    properties:
      checkIds:
        $ref: '#/definitions/StringList'
        description: 'The IDs of the Trusted Advisor checks to get the status of. <b>Note:</b> Specifying the check ID of a check that is automatically refreshed causes an <code>InvalidParameterValue</code> error.'
    description: <p/>
  DescribeTrustedAdvisorCheckRefreshStatusesResponse:
    type: object
    required:
      - statuses
    properties:
      statuses:
        $ref: '#/definitions/TrustedAdvisorCheckRefreshStatusList'
        description: The refresh status of the specified Trusted Advisor checks.
    description: The statuses of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckRefreshStatuses</a> operation.
  DescribeTrustedAdvisorCheckResultRequest:
    type: object
    required:
      - checkId
    properties:
      checkId:
        $ref: '#/definitions/String'
        description: The unique identifier for the Trusted Advisor check.
      language:
        $ref: '#/definitions/String'
        description: The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English ("en") and Japanese ("ja"). Language parameters must be passed explicitly for operations that take them.
    description: <p/>
  DescribeTrustedAdvisorCheckResultResponse:
    type: object
    properties:
      result:
        $ref: '#/definitions/TrustedAdvisorCheckResult'
        description: The detailed results of the Trusted Advisor check.
    description: The result of the Trusted Advisor check returned by the <a>DescribeTrustedAdvisorCheckResult</a> operation.
  DescribeTrustedAdvisorCheckSummariesRequest:
    type: object
    required:
      - checkIds
    properties:
      checkIds:
        $ref: '#/definitions/StringList'
        description: The IDs of the Trusted Advisor checks.
    description: <p/>
  DescribeTrustedAdvisorCheckSummariesResponse:
    type: object
    required:
      - summaries
    properties:
      summaries:
        $ref: '#/definitions/TrustedAdvisorCheckSummaryList'
        description: The summary information for the requested Trusted Advisor checks.
    description: The summaries of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckSummaries</a> operation.
  DescribeTrustedAdvisorChecksRequest:
    type: object
    required:
      - language
    properties:
      language:
        $ref: '#/definitions/String'
        description: The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English ("en") and Japanese ("ja"). Language parameters must be passed explicitly for operations that take them.
    description: <p/>
  DescribeTrustedAdvisorChecksResponse:
    type: object
    required:
      - checks
    properties:
      checks:
        $ref: '#/definitions/TrustedAdvisorCheckList'
        description: Information about all available Trusted Advisor checks.
    description: Information about the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorChecks</a> operation.
  DisplayId:
    type: string
  Double:
    type: number
    format: double
  ErrorMessage:
    type: string
  ExpiryTime:
    type: string
  FileName:
    type: string
  IncludeCommunications:
    type: boolean
  IncludeResolvedCases:
    type: boolean
  InternalServerError:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: An internal server error occurred.
    description: An internal server error occurred.
  IssueType:
    type: string
  Language:
    type: string
  Long:
    type: integer
  MaxResults:
    type: integer
    minimum: 10
    maximum: 100
  NextToken:
    type: string
  RecentCaseCommunications:
    type: object
    properties:
      communications:
        $ref: '#/definitions/CommunicationList'
        description: The five most recent communications associated with the case.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: A resumption point for pagination.
    description: The five most recent communications associated with the case.
  RefreshTrustedAdvisorCheckRequest:
    type: object
    required:
      - checkId
    properties:
      checkId:
        $ref: '#/definitions/String'
        description: 'The unique identifier for the Trusted Advisor check to refresh. <b>Note:</b> Specifying the check ID of a check that is automatically refreshed causes an <code>InvalidParameterValue</code> error.'
    description: <p/>
  RefreshTrustedAdvisorCheckResponse:
    type: object
    required:
      - status
    properties:
      status:
        $ref: '#/definitions/TrustedAdvisorCheckRefreshStatus'
        description: 'The current refresh status for a check, including the amount of time until the check is eligible for refresh.'
    description: The current refresh status of a Trusted Advisor check.
  ResolveCaseRequest:
    type: object
    properties:
      caseId:
        $ref: '#/definitions/CaseId'
        description: 'The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> '
    description: <p/>
  ResolveCaseResponse:
    type: object
    properties:
      initialCaseStatus:
        $ref: '#/definitions/CaseStatus'
        description: The status of the case when the <a>ResolveCase</a> request was sent.
      finalCaseStatus:
        $ref: '#/definitions/CaseStatus'
        description: The status of the case after the <a>ResolveCase</a> request was processed.
    description: The status of the case returned by the <a>ResolveCase</a> operation.
  Result:
    type: boolean
  Service:
    type: object
    properties:
      code:
        $ref: '#/definitions/ServiceCode'
        description: The code for an AWS service returned by the <a>DescribeServices</a> response. The <code>name</code> element contains the corresponding friendly name.
      name:
        $ref: '#/definitions/ServiceName'
        description: The friendly name for an AWS service. The <code>code</code> element contains the corresponding code.
      categories:
        $ref: '#/definitions/CategoryList'
        description: A list of categories that describe the type of support issue a case describes. Categories consist of a category name and a category code. Category names and codes are passed to AWS Support when you call <a>CreateCase</a>.
    description: 'Information about an AWS service returned by the <a>DescribeServices</a> operation. '
  ServiceCode:
    type: string
  ServiceCodeList:
    type: array
    items:
      $ref: '#/definitions/ServiceCode'
    minItems: 0
    maxItems: 100
  ServiceList:
    type: array
    items:
      $ref: '#/definitions/Service'
  ServiceName:
    type: string
  SeverityCode:
    type: string
  SeverityLevel:
    type: object
    properties:
      code:
        $ref: '#/definitions/SeverityLevelCode'
        description: 'One of four values: "low," "medium," "high," and "urgent". These values correspond to response times returned to the caller in <code>severityLevel.name</code>. '
      name:
        $ref: '#/definitions/SeverityLevelName'
        description: The name of the severity level that corresponds to the severity level code.
    description: A code and name pair that represent a severity level that can be applied to a support case.
  SeverityLevelCode:
    type: string
  SeverityLevelName:
    type: string
  SeverityLevelsList:
    type: array
    items:
      $ref: '#/definitions/SeverityLevel'
  Status:
    type: string
  String:
    type: string
  StringList:
    type: array
    items:
      $ref: '#/definitions/String'
  Subject:
    type: string
  SubmittedBy:
    type: string
  TimeCreated:
    type: string
  TrustedAdvisorCategorySpecificSummary:
    type: object
    properties:
      costOptimizing:
        $ref: '#/definitions/TrustedAdvisorCostOptimizingSummary'
        description: The summary information about cost savings for a Trusted Advisor check that is in the Cost Optimizing category.
    description: The container for summary information that relates to the category of the Trusted Advisor check.
  TrustedAdvisorCheckDescription:
    type: object
    required:
      - id
      - name
      - description
      - category
      - metadata
    properties:
      id:
        $ref: '#/definitions/String'
        description: The unique identifier for the Trusted Advisor check.
      name:
        $ref: '#/definitions/String'
        description: The display name for the Trusted Advisor check.
      description:
        $ref: '#/definitions/String'
        description: 'The description of the Trusted Advisor check, which includes the alert criteria and recommended actions (contains HTML markup).'
      category:
        $ref: '#/definitions/String'
        description: The category of the Trusted Advisor check.
      metadata:
        $ref: '#/definitions/StringList'
        description: 'The column headings for the data returned by the Trusted Advisor check. The order of the headings corresponds to the order of the data in the <b>Metadata</b> element of the <a>TrustedAdvisorResourceDetail</a> for the check. <b>Metadata</b> contains all the data that is shown in the Excel download, even in those cases where the UI shows just summary data. '
    description: The description and metadata for a Trusted Advisor check.
  TrustedAdvisorCheckList:
    type: array
    items:
      $ref: '#/definitions/TrustedAdvisorCheckDescription'
  TrustedAdvisorCheckRefreshStatus:
    type: object
    required:
      - checkId
      - status
      - millisUntilNextRefreshable
    properties:
      checkId:
        $ref: '#/definitions/String'
        description: The unique identifier for the Trusted Advisor check.
      status:
        $ref: '#/definitions/String'
        description: 'The status of the Trusted Advisor check for which a refresh has been requested: "none", "enqueued", "processing", "success", or "abandoned".'
      millisUntilNextRefreshable:
        $ref: '#/definitions/Long'
        description: 'The amount of time, in milliseconds, until the Trusted Advisor check is eligible for refresh.'
    description: The refresh status of a Trusted Advisor check.
  TrustedAdvisorCheckRefreshStatusList:
    type: array
    items:
      $ref: '#/definitions/TrustedAdvisorCheckRefreshStatus'
  TrustedAdvisorCheckResult:
    type: object
    required:
      - checkId
      - timestamp
      - status
      - resourcesSummary
      - categorySpecificSummary
      - flaggedResources
    properties:
      checkId:
        $ref: '#/definitions/String'
        description: The unique identifier for the Trusted Advisor check.
      timestamp:
        $ref: '#/definitions/String'
        description: The time of the last refresh of the check.
      status:
        $ref: '#/definitions/String'
        description: 'The alert status of the check: "ok" (green), "warning" (yellow), "error" (red), or "not_available".'
      resourcesSummary:
        $ref: '#/definitions/TrustedAdvisorResourcesSummary'
      categorySpecificSummary:
        $ref: '#/definitions/TrustedAdvisorCategorySpecificSummary'
        description: Summary information that relates to the category of the check. Cost Optimizing is the only category that is currently supported.
      flaggedResources:
        $ref: '#/definitions/TrustedAdvisorResourceDetailList'
        description: The details about each resource listed in the check result.
    description: The results of a Trusted Advisor check returned by <a>DescribeTrustedAdvisorCheckResult</a>.
  TrustedAdvisorCheckSummary:
    type: object
    required:
      - checkId
      - timestamp
      - status
      - resourcesSummary
      - categorySpecificSummary
    properties:
      checkId:
        $ref: '#/definitions/String'
        description: The unique identifier for the Trusted Advisor check.
      timestamp:
        $ref: '#/definitions/String'
        description: The time of the last refresh of the check.
      status:
        $ref: '#/definitions/String'
        description: 'The alert status of the check: "ok" (green), "warning" (yellow), "error" (red), or "not_available".'
      hasFlaggedResources:
        $ref: '#/definitions/Boolean'
        description: Specifies whether the Trusted Advisor check has flagged resources.
      resourcesSummary:
        $ref: '#/definitions/TrustedAdvisorResourcesSummary'
      categorySpecificSummary:
        $ref: '#/definitions/TrustedAdvisorCategorySpecificSummary'
        description: Summary information that relates to the category of the check. Cost Optimizing is the only category that is currently supported.
    description: 'A summary of a Trusted Advisor check result, including the alert status, last refresh, and number of resources examined.'
  TrustedAdvisorCheckSummaryList:
    type: array
    items:
      $ref: '#/definitions/TrustedAdvisorCheckSummary'
  TrustedAdvisorCostOptimizingSummary:
    type: object
    required:
      - estimatedMonthlySavings
      - estimatedPercentMonthlySavings
    properties:
      estimatedMonthlySavings:
        $ref: '#/definitions/Double'
        description: The estimated monthly savings that might be realized if the recommended actions are taken.
      estimatedPercentMonthlySavings:
        $ref: '#/definitions/Double'
        description: The estimated percentage of savings that might be realized if the recommended actions are taken.
    description: The estimated cost savings that might be realized if the recommended actions are taken.
  TrustedAdvisorResourceDetail:
    type: object
    required:
      - status
      - resourceId
      - metadata
    properties:
      status:
        $ref: '#/definitions/String'
        description: The status code for the resource identified in the Trusted Advisor check.
      region:
        $ref: '#/definitions/String'
        description: The AWS region in which the identified resource is located.
      resourceId:
        $ref: '#/definitions/String'
        description: The unique identifier for the identified resource.
      isSuppressed:
        $ref: '#/definitions/Boolean'
        description: Specifies whether the AWS resource was ignored by Trusted Advisor because it was marked as suppressed by the user.
      metadata:
        $ref: '#/definitions/StringList'
        description: 'Additional information about the identified resource. The exact metadata and its order can be obtained by inspecting the <a>TrustedAdvisorCheckDescription</a> object returned by the call to <a>DescribeTrustedAdvisorChecks</a>. <b>Metadata</b> contains all the data that is shown in the Excel download, even in those cases where the UI shows just summary data. '
    description: Contains information about a resource identified by a Trusted Advisor check.
  TrustedAdvisorResourceDetailList:
    type: array
    items:
      $ref: '#/definitions/TrustedAdvisorResourceDetail'
  TrustedAdvisorResourcesSummary:
    type: object
    required:
      - resourcesProcessed
      - resourcesFlagged
      - resourcesIgnored
      - resourcesSuppressed
    properties:
      resourcesProcessed:
        $ref: '#/definitions/Long'
        description: The number of AWS resources that were analyzed by the Trusted Advisor check.
      resourcesFlagged:
        $ref: '#/definitions/Long'
        description: The number of AWS resources that were flagged (listed) by the Trusted Advisor check.
      resourcesIgnored:
        $ref: '#/definitions/Long'
        description: The number of AWS resources ignored by Trusted Advisor because information was unavailable.
      resourcesSuppressed:
        $ref: '#/definitions/Long'
        description: The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.
    description: 'Details about AWS resources that were analyzed in a call to Trusted Advisor <a>DescribeTrustedAdvisorCheckSummaries</a>. '
