swagger: '2.0'
schemes:
  - https
  - http
host: support.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>AWS Support</fullname> <p>The AWS Support API reference is intended for programmers who need detailed information about the AWS Support operations and data types. This service enables you to manage your AWS Support cases programmatically. It uses HTTP methods that return results in JSON format.</p> <p>The AWS Support service also exposes a set of <a href="http://aws.amazon.com/premiumsupport/trustedadvisor/">Trusted Advisor</a> features. You can retrieve a list of checks and their descriptions, get check results, specify checks to refresh, and get the refresh status of checks. </p> <p>The following list describes the AWS Support case management operations:</p> <ul> <li> <p> <b>Service names, issue categories, and available severity levels. </b>The <a>DescribeServices</a> and <a>DescribeSeverityLevels</a> operations return AWS service names, service codes, service categories, and problem severity levels. You use these values when you call the <a>CreateCase</a> operation. </p> </li> <li> <p> <b>Case creation, case details, and case resolution.</b> The <a>CreateCase</a>, <a>DescribeCases</a>, <a>DescribeAttachment</a>, and <a>ResolveCase</a> operations create AWS Support cases, retrieve information about cases, and resolve cases.</p> </li> <li> <p> <b>Case communication.</b> The <a>DescribeCommunications</a>, <a>AddCommunicationToCase</a>, and <a>AddAttachmentsToSet</a> operations retrieve and add communications and attachments to AWS Support cases. </p> </li> </ul> <p>The following list describes the operations available from the AWS Support service for Trusted Advisor:</p> <ul> <li> <p> <a>DescribeTrustedAdvisorChecks</a> returns the list of checks that run against your AWS resources.</p> </li> <li> <p>Using the <code>checkId</code> for a specific check returned by <a>DescribeTrustedAdvisorChecks</a>, you can call <a>DescribeTrustedAdvisorCheckResult</a> to obtain the results for the check you specified.</p> </li> <li> <p> <a>DescribeTrustedAdvisorCheckSummaries</a> returns summarized results for one or more Trusted Advisor checks.</p> </li> <li> <p> <a>RefreshTrustedAdvisorCheck</a> requests that Trusted Advisor rerun a specified check. </p> </li> <li> <p> <a>DescribeTrustedAdvisorCheckRefreshStatuses</a> reports the refresh status of one or more checks. </p> </li> </ul> <p>For authentication of requests, AWS Support uses <a href="http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html">Signature Version 4 Signing Process</a>.</p> <p>See <a href="http://docs.aws.amazon.com/awssupport/latest/user/Welcome.html">About the AWS Support API</a> in the <i>AWS Support User Guide</i> for information about how to use this service to create and manage your support cases, and how to call Trusted Advisor for results of checks on your resources. </p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS Support
  version: '2013-04-15'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/support-2013-04-15.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: support
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/support/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=AWSSupport_20130415.AddAttachmentsToSet':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Adds one or more attachments to an attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p> <p>An attachment set is a temporary container for attachments that are to be added to a case or case communication. The set is available for one hour after it is created; the <code>expiryTime</code> returned in the response indicates when the set expires. The maximum number of attachments in a set is 3, and the maximum size of any attachment in the set is 5 MB.</p>'
      operationId: AddAttachmentsToSet
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddAttachmentsToSetRequest'
        - enum:
            - AWSSupport_20130415.AddAttachmentsToSet
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddAttachmentsToSetResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: AttachmentSetIdNotFound
          schema:
            $ref: '#/definitions/AttachmentSetIdNotFound'
        '482':
          description: AttachmentSetExpired
          schema:
            $ref: '#/definitions/AttachmentSetExpired'
        '483':
          description: AttachmentSetSizeLimitExceeded
          schema:
            $ref: '#/definitions/AttachmentSetSizeLimitExceeded'
        '484':
          description: AttachmentLimitExceeded
          schema:
            $ref: '#/definitions/AttachmentLimitExceeded'
  '/#X-Amz-Target=AWSSupport_20130415.AddCommunicationToCase':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Adds additional customer communication to an AWS Support case. You use the <code>caseId</code> value to identify the case to add communication to. You can list a set of email addresses to copy on the communication using the <code>ccEmailAddresses</code> value. The <code>communicationBody</code> value contains the text of the communication.</p> <p>The response indicates the success or failure of the request.</p> <p>This operation implements a subset of the features of the AWS Support Center.</p>
      operationId: AddCommunicationToCase
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddCommunicationToCaseRequest'
        - enum:
            - AWSSupport_20130415.AddCommunicationToCase
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddCommunicationToCaseResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: CaseIdNotFound
          schema:
            $ref: '#/definitions/CaseIdNotFound'
        '482':
          description: AttachmentSetIdNotFound
          schema:
            $ref: '#/definitions/AttachmentSetIdNotFound'
        '483':
          description: AttachmentSetExpired
          schema:
            $ref: '#/definitions/AttachmentSetExpired'
  '/#X-Amz-Target=AWSSupport_20130415.CreateCase':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a new case in the AWS Support Center. This operation is modeled on the behavior of the AWS Support Center <a href="https://console.aws.amazon.com/support/home#/case/create">Create Case</a> page. Its parameters require you to specify the following information: </p> <ul> <li> <p> <b>issueType.</b> The type of issue for the case. You can specify either "customer-service" or "technical." If you do not indicate a value, the default is "technical." </p> </li> <li> <p> <b>serviceCode.</b> The code for an AWS service. You obtain the <code>serviceCode</code> by calling <a>DescribeServices</a>. </p> </li> <li> <p> <b>categoryCode.</b> The category for the service defined for the <code>serviceCode</code> value. You also obtain the category code for a service by calling <a>DescribeServices</a>. Each AWS service defines its own set of category codes. </p> </li> <li> <p> <b>severityCode.</b> A value that indicates the urgency of the case, which in turn determines the response time according to your service level agreement with AWS Support. You obtain the SeverityCode by calling <a>DescribeSeverityLevels</a>.</p> </li> <li> <p> <b>subject.</b> The <b>Subject</b> field on the AWS Support Center <a href="https://console.aws.amazon.com/support/home#/case/create">Create Case</a> page.</p> </li> <li> <p> <b>communicationBody.</b> The <b>Description</b> field on the AWS Support Center <a href="https://console.aws.amazon.com/support/home#/case/create">Create Case</a> page.</p> </li> <li> <p> <b>attachmentSetId.</b> The ID of a set of attachments that has been created by using <a>AddAttachmentsToSet</a>.</p> </li> <li> <p> <b>language.</b> The human language in which AWS Support handles the case. English and Japanese are currently supported.</p> </li> <li> <p> <b>ccEmailAddresses.</b> The AWS Support Center <b>CC</b> field on the <a href="https://console.aws.amazon.com/support/home#/case/create">Create Case</a> page. You can list email addresses to be copied on any correspondence about the case. The account that opens the case is already identified by passing the AWS Credentials in the HTTP POST method or in a method or function call from one of the programming languages supported by an <a href="http://aws.amazon.com/tools/">AWS SDK</a>. </p> </li> </ul> <note> <p>To add additional communication or attachments to an existing case, use <a>AddCommunicationToCase</a>.</p> </note> <p>A successful <a>CreateCase</a> request returns an AWS Support case number. Case numbers are used by the <a>DescribeCases</a> operation to retrieve existing AWS Support cases. </p>'
      operationId: CreateCase
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateCaseRequest'
        - enum:
            - AWSSupport_20130415.CreateCase
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateCaseResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: CaseCreationLimitExceeded
          schema:
            $ref: '#/definitions/CaseCreationLimitExceeded'
        '482':
          description: AttachmentSetIdNotFound
          schema:
            $ref: '#/definitions/AttachmentSetIdNotFound'
        '483':
          description: AttachmentSetExpired
          schema:
            $ref: '#/definitions/AttachmentSetExpired'
  '/#X-Amz-Target=AWSSupport_20130415.DescribeAttachment':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the attachment that has the specified ID. Attachment IDs are generated by the case management system when you add an attachment to a case or case communication. Attachment IDs are returned in the <a>AttachmentDetails</a> objects that are returned by the <a>DescribeCommunications</a> operation.
      operationId: DescribeAttachment
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAttachmentRequest'
        - enum:
            - AWSSupport_20130415.DescribeAttachment
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAttachmentResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: DescribeAttachmentLimitExceeded
          schema:
            $ref: '#/definitions/DescribeAttachmentLimitExceeded'
        '482':
          description: AttachmentIdNotFound
          schema:
            $ref: '#/definitions/AttachmentIdNotFound'
  '/#X-Amz-Target=AWSSupport_20130415.DescribeCases':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns a list of cases that you specify by passing one or more case IDs. In addition, you can filter the cases by date by setting values for the <code>afterTime</code> and <code>beforeTime</code> request parameters. You can set values for the <code>includeResolvedCases</code> and <code>includeCommunications</code> request parameters to control how much information is returned. </p> <p>Case data is available for 12 months after creation. If a case was created more than 12 months ago, a request for data might cause an error.</p> <p>The response returns the following in JSON format:</p> <ul> <li> <p>One or more <a>CaseDetails</a> data types. </p> </li> <li> <p>One or more <code>nextToken</code> values, which specify where to paginate the returned records represented by the <code>CaseDetails</code> objects.</p> </li> </ul>'
      operationId: DescribeCases
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeCasesRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - AWSSupport_20130415.DescribeCases
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeCasesResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: CaseIdNotFound
          schema:
            $ref: '#/definitions/CaseIdNotFound'
  '/#X-Amz-Target=AWSSupport_20130415.DescribeCommunications':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns communications (and attachments) for one or more support cases. You can use the <code>afterTime</code> and <code>beforeTime</code> parameters to filter by date. You can use the <code>caseId</code> parameter to restrict the results to a particular case.</p> <p>Case data is available for 12 months after creation. If a case was created more than 12 months ago, a request for data might cause an error.</p> <p>You can use the <code>maxResults</code> and <code>nextToken</code> parameters to control the pagination of the result set. Set <code>maxResults</code> to the number of cases you want displayed on each page, and use <code>nextToken</code> to specify the resumption of pagination.</p>'
      operationId: DescribeCommunications
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeCommunicationsRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - AWSSupport_20130415.DescribeCommunications
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeCommunicationsResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: CaseIdNotFound
          schema:
            $ref: '#/definitions/CaseIdNotFound'
  '/#X-Amz-Target=AWSSupport_20130415.DescribeServices':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns the current list of AWS services and a list of service categories that applies to each one. You then use service names and categories in your <a>CreateCase</a> requests. Each AWS service has its own set of categories.</p> <p>The service codes and category codes correspond to the values that are displayed in the <b>Service</b> and <b>Category</b> drop-down lists on the AWS Support Center <a href="https://console.aws.amazon.com/support/home#/case/create">Create Case</a> page. The values in those fields, however, do not necessarily match the service codes and categories returned by the <code>DescribeServices</code> request. Always use the service codes and categories obtained programmatically. This practice ensures that you always have the most recent set of service and category codes.</p>'
      operationId: DescribeServices
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeServicesRequest'
        - enum:
            - AWSSupport_20130415.DescribeServices
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeServicesResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AWSSupport_20130415.DescribeSeverityLevels':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns the list of severity levels that you can assign to an AWS Support case. The severity level for a case is also a field in the <a>CaseDetails</a> data type included in any <a>CreateCase</a> request. '
      operationId: DescribeSeverityLevels
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSeverityLevelsRequest'
        - enum:
            - AWSSupport_20130415.DescribeSeverityLevels
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSeverityLevelsResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AWSSupport_20130415.DescribeTrustedAdvisorCheckRefreshStatuses':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns the refresh status of the Trusted Advisor checks that have the specified check IDs. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p> <note> <p>Some checks are refreshed automatically, and their refresh statuses cannot be retrieved by using this operation. Use of the <code>DescribeTrustedAdvisorCheckRefreshStatuses</code> operation for these checks causes an <code>InvalidParameterValue</code> error.</p> </note>'
      operationId: DescribeTrustedAdvisorCheckRefreshStatuses
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTrustedAdvisorCheckRefreshStatusesRequest'
        - enum:
            - AWSSupport_20130415.DescribeTrustedAdvisorCheckRefreshStatuses
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTrustedAdvisorCheckRefreshStatusesResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AWSSupport_20130415.DescribeTrustedAdvisorCheckResult':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns the results of the Trusted Advisor check that has the specified check ID. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p> <p>The response contains a <a>TrustedAdvisorCheckResult</a> object, which contains these three objects:</p> <ul> <li> <p> <a>TrustedAdvisorCategorySpecificSummary</a> </p> </li> <li> <p> <a>TrustedAdvisorResourceDetail</a> </p> </li> <li> <p> <a>TrustedAdvisorResourcesSummary</a> </p> </li> </ul> <p>In addition, the response contains these fields:</p> <ul> <li> <p> <b>status.</b> The alert status of the check: "ok" (green), "warning" (yellow), "error" (red), or "not_available".</p> </li> <li> <p> <b>timestamp.</b> The time of the last refresh of the check.</p> </li> <li> <p> <b>checkId.</b> The unique identifier for the check.</p> </li> </ul>'
      operationId: DescribeTrustedAdvisorCheckResult
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTrustedAdvisorCheckResultRequest'
        - enum:
            - AWSSupport_20130415.DescribeTrustedAdvisorCheckResult
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTrustedAdvisorCheckResultResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AWSSupport_20130415.DescribeTrustedAdvisorCheckSummaries':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Returns the summaries of the results of the Trusted Advisor checks that have the specified check IDs. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p> <p>The response contains an array of <a>TrustedAdvisorCheckSummary</a> objects.</p>
      operationId: DescribeTrustedAdvisorCheckSummaries
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTrustedAdvisorCheckSummariesRequest'
        - enum:
            - AWSSupport_20130415.DescribeTrustedAdvisorCheckSummaries
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTrustedAdvisorCheckSummariesResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AWSSupport_20130415.DescribeTrustedAdvisorChecks':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns information about all available Trusted Advisor checks, including name, ID, category, description, and metadata. You must specify a language code; English ("en") and Japanese ("ja") are currently supported. The response contains a <a>TrustedAdvisorCheckDescription</a> for each check.'
      operationId: DescribeTrustedAdvisorChecks
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTrustedAdvisorChecksRequest'
        - enum:
            - AWSSupport_20130415.DescribeTrustedAdvisorChecks
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTrustedAdvisorChecksResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AWSSupport_20130415.RefreshTrustedAdvisorCheck':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Requests a refresh of the Trusted Advisor check that has the specified check ID. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p> <note> <p>Some checks are refreshed automatically, and they cannot be refreshed by using this operation. Use of the <code>RefreshTrustedAdvisorCheck</code> operation for these checks causes an <code>InvalidParameterValue</code> error.</p> </note> <p>The response contains a <a>TrustedAdvisorCheckRefreshStatus</a> object, which contains these fields:</p> <ul> <li> <p> <b>status.</b> The refresh status of the check: "none", "enqueued", "processing", "success", or "abandoned".</p> </li> <li> <p> <b>millisUntilNextRefreshable.</b> The amount of time, in milliseconds, until the check is eligible for refresh.</p> </li> <li> <p> <b>checkId.</b> The unique identifier for the check.</p> </li> </ul>'
      operationId: RefreshTrustedAdvisorCheck
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RefreshTrustedAdvisorCheckRequest'
        - enum:
            - AWSSupport_20130415.RefreshTrustedAdvisorCheck
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RefreshTrustedAdvisorCheckResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
  '/#X-Amz-Target=AWSSupport_20130415.ResolveCase':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Takes a <code>caseId</code> and returns the initial state of the case along with the state of the case after the call to <a>ResolveCase</a> completed.
      operationId: ResolveCase
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ResolveCaseRequest'
        - enum:
            - AWSSupport_20130415.ResolveCase
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResolveCaseResponse'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
        '481':
          description: CaseIdNotFound
          schema:
            $ref: '#/definitions/CaseIdNotFound'
definitions:
  AddAttachmentsToSetRequest:
    description: <p/>
    properties:
      attachmentSetId:
        $ref: '#/definitions/AttachmentSetId'
        description: 'The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.'
      attachments:
        $ref: '#/definitions/Attachments'
        description: 'One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.'
    required:
      - attachments
    type: object
  AddAttachmentsToSetResponse:
    description: The ID and expiry time of the attachment set returned by the <a>AddAttachmentsToSet</a> operation.
    properties:
      attachmentSetId:
        $ref: '#/definitions/AttachmentSetId'
        description: 'The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.'
      expiryTime:
        $ref: '#/definitions/ExpiryTime'
        description: The time and date when the attachment set expires.
    type: object
  AddCommunicationToCaseRequest:
    description: To be written.
    properties:
      attachmentSetId:
        $ref: '#/definitions/AttachmentSetId'
        description: 'The ID of a set of one or more attachments for the communication to add to the case. Create the set by calling <a>AddAttachmentsToSet</a> '
      caseId:
        $ref: '#/definitions/CaseId'
        description: 'The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> '
      ccEmailAddresses:
        $ref: '#/definitions/CcEmailAddressList'
        description: The email addresses in the CC line of an email to be added to the support case.
      communicationBody:
        $ref: '#/definitions/CommunicationBody'
        description: The body of an email communication to add to the support case.
    required:
      - communicationBody
    type: object
  AddCommunicationToCaseResponse:
    description: The result of the <a>AddCommunicationToCase</a> operation.
    properties:
      result:
        $ref: '#/definitions/Result'
        description: 'True if <a>AddCommunicationToCase</a> succeeds. Otherwise, returns an error.'
    type: object
  AfterTime:
    type: string
  Attachment:
    description: An attachment to a case communication. The attachment consists of the file name and the content of the file.
    properties:
      data:
        $ref: '#/definitions/Data'
        description: The content of the attachment file.
      fileName:
        $ref: '#/definitions/FileName'
        description: The name of the attachment file.
    type: object
  AttachmentDetails:
    description: The file name and ID of an attachment to a case communication. You can use the ID to retrieve the attachment with the <a>DescribeAttachment</a> operation.
    properties:
      attachmentId:
        $ref: '#/definitions/AttachmentId'
        description: The ID of the attachment.
      fileName:
        $ref: '#/definitions/FileName'
        description: The file name of the attachment.
    type: object
  AttachmentId:
    type: string
  AttachmentIdNotFound:
    description: An attachment with the specified ID could not be found.
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: An attachment with the specified ID could not be found.
    type: object
  AttachmentLimitExceeded:
    description: The limit for the number of attachment sets created in a short period of time has been exceeded.
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: The limit for the number of attachment sets created in a short period of time has been exceeded.
    type: object
  AttachmentSet:
    items:
      $ref: '#/definitions/AttachmentDetails'
    type: array
  AttachmentSetExpired:
    description: The expiration time of the attachment set has passed. The set expires 1 hour after it is created.
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: The expiration time of the attachment set has passed. The set expires 1 hour after it is created.
    type: object
  AttachmentSetId:
    type: string
  AttachmentSetIdNotFound:
    description: An attachment set with the specified ID could not be found.
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: An attachment set with the specified ID could not be found.
    type: object
  AttachmentSetSizeLimitExceeded:
    description: A limit for the size of an attachment set has been exceeded. The limits are 3 attachments and 5 MB per attachment.
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A limit for the size of an attachment set has been exceeded. The limits are 3 attachments and 5 MB per attachment.
    type: object
  Attachments:
    items:
      $ref: '#/definitions/Attachment'
    type: array
  BeforeTime:
    type: string
  Boolean:
    type: boolean
  CaseCreationLimitExceeded:
    description: The case creation limit for the account has been exceeded.
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: An error message that indicates that you have exceeded the number of cases you can have open.
    type: object
  CaseDetails:
    description: '<p>A JSON-formatted object that contains the metadata for a support case. It is contained the response from a <a>DescribeCases</a> request. <b>CaseDetails</b> contains the following fields:</p> <ul> <li> <p> <b>caseId.</b> The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>.</p> </li> <li> <p> <b>categoryCode.</b> The category of problem for the AWS Support case. Corresponds to the CategoryCode values returned by a call to <a>DescribeServices</a>.</p> </li> <li> <p> <b>displayId.</b> The identifier for the case on pages in the AWS Support Center.</p> </li> <li> <p> <b>language.</b> The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English ("en") and Japanese ("ja"). Language parameters must be passed explicitly for operations that take them.</p> </li> <li> <p> <b>recentCommunications.</b> One or more <a>Communication</a> objects. Fields of these objects are <code>attachments</code>, <code>body</code>, <code>caseId</code>, <code>submittedBy</code>, and <code>timeCreated</code>.</p> </li> <li> <p> <b>nextToken.</b> A resumption point for pagination.</p> </li> <li> <p> <b>serviceCode.</b> The identifier for the AWS service that corresponds to the service code defined in the call to <a>DescribeServices</a>.</p> </li> <li> <p> <b>severityCode. </b>The severity code assigned to the case. Contains one of the values returned by the call to <a>DescribeSeverityLevels</a>.</p> </li> <li> <p> <b>status.</b> The status of the case in the AWS Support Center.</p> </li> <li> <p> <b>subject.</b> The subject line of the case.</p> </li> <li> <p> <b>submittedBy.</b> The email address of the account that submitted the case.</p> </li> <li> <p> <b>timeCreated.</b> The time the case was created, in ISO-8601 format.</p> </li> </ul>'
    properties:
      caseId:
        $ref: '#/definitions/CaseId'
        description: 'The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> '
      categoryCode:
        $ref: '#/definitions/CategoryCode'
        description: The category of problem for the AWS Support case.
      ccEmailAddresses:
        $ref: '#/definitions/CcEmailAddressList'
        description: The email addresses that receive copies of communication about the case.
      displayId:
        $ref: '#/definitions/DisplayId'
        description: The ID displayed for the case in the AWS Support Center. This is a numeric string.
      language:
        $ref: '#/definitions/Language'
        description: The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English ("en") and Japanese ("ja"). Language parameters must be passed explicitly for operations that take them.
      recentCommunications:
        $ref: '#/definitions/RecentCaseCommunications'
        description: 'The five most recent communications between you and AWS Support Center, including the IDs of any attachments to the communications. Also includes a <code>nextToken</code> that you can use to retrieve earlier communications.'
      serviceCode:
        $ref: '#/definitions/ServiceCode'
        description: The code for the AWS service returned by the call to <a>DescribeServices</a>.
      severityCode:
        $ref: '#/definitions/SeverityCode'
        description: The code for the severity level returned by the call to <a>DescribeSeverityLevels</a>.
      status:
        $ref: '#/definitions/Status'
        description: The status of the case.
      subject:
        $ref: '#/definitions/Subject'
        description: The subject line for the case in the AWS Support Center.
      submittedBy:
        $ref: '#/definitions/SubmittedBy'
        description: The email address of the account that submitted the case.
      timeCreated:
        $ref: '#/definitions/TimeCreated'
        description: The time that the case was case created in the AWS Support Center.
    type: object
  CaseId:
    type: string
  CaseIdList:
    items:
      $ref: '#/definitions/CaseId'
    maxItems: 100
    minItems: 0
    type: array
  CaseIdNotFound:
    description: The requested <code>caseId</code> could not be located.
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: The requested <code>CaseId</code> could not be located.
    type: object
  CaseList:
    items:
      $ref: '#/definitions/CaseDetails'
    type: array
  CaseStatus:
    type: string
  Category:
    description: 'A JSON-formatted name/value pair that represents the category name and category code of the problem, selected from the <a>DescribeServices</a> response for each AWS service.'
    properties:
      code:
        $ref: '#/definitions/CategoryCode'
        description: The category code for the support case.
      name:
        $ref: '#/definitions/CategoryName'
        description: The category name for the support case.
    type: object
  CategoryCode:
    type: string
  CategoryList:
    items:
      $ref: '#/definitions/Category'
    type: array
  CategoryName:
    type: string
  CcEmailAddress:
    type: string
  CcEmailAddressList:
    items:
      $ref: '#/definitions/CcEmailAddress'
    maxItems: 10
    minItems: 0
    type: array
  Communication:
    description: 'A communication associated with an AWS Support case. The communication consists of the case ID, the message body, attachment information, the account email address, and the date and time of the communication.'
    properties:
      attachmentSet:
        $ref: '#/definitions/AttachmentSet'
        description: Information about the attachments to the case communication.
      body:
        $ref: '#/definitions/CommunicationBody'
        description: The text of the communication between the customer and AWS Support.
      caseId:
        $ref: '#/definitions/CaseId'
        description: 'The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> '
      submittedBy:
        $ref: '#/definitions/SubmittedBy'
        description: The email address of the account that submitted the AWS Support case.
      timeCreated:
        $ref: '#/definitions/TimeCreated'
        description: The time the communication was created.
    type: object
  CommunicationBody:
    maxLength: 8000
    minLength: 1
    type: string
  CommunicationList:
    items:
      $ref: '#/definitions/Communication'
    type: array
  CreateCaseRequest:
    description: <p/>
    properties:
      attachmentSetId:
        $ref: '#/definitions/AttachmentSetId'
        description: The ID of a set of one or more attachments for the case. Create the set by using <a>AddAttachmentsToSet</a>.
      categoryCode:
        $ref: '#/definitions/CategoryCode'
        description: The category of problem for the AWS Support case.
      ccEmailAddresses:
        $ref: '#/definitions/CcEmailAddressList'
        description: A list of email addresses that AWS Support copies on case correspondence.
      communicationBody:
        $ref: '#/definitions/CommunicationBody'
        description: The communication body text when you create an AWS Support case by calling <a>CreateCase</a>.
      issueType:
        $ref: '#/definitions/IssueType'
        description: 'The type of issue for the case. You can specify either "customer-service" or "technical." If you do not indicate a value, the default is "technical."'
      language:
        $ref: '#/definitions/Language'
        description: The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English ("en") and Japanese ("ja"). Language parameters must be passed explicitly for operations that take them.
      serviceCode:
        $ref: '#/definitions/ServiceCode'
        description: The code for the AWS service returned by the call to <a>DescribeServices</a>.
      severityCode:
        $ref: '#/definitions/SeverityCode'
        description: '<p>The code for the severity level returned by the call to <a>DescribeSeverityLevels</a>.</p> <note> <p>The availability of severity levels depends on each customer''s support subscription. In other words, your subscription may not necessarily require the urgent level of response time.</p> </note>'
      subject:
        $ref: '#/definitions/Subject'
        description: The title of the AWS Support case.
    required:
      - subject
      - communicationBody
    type: object
  CreateCaseResponse:
    description: 'The AWS Support case ID returned by a successful completion of the <a>CreateCase</a> operation. '
    properties:
      caseId:
        $ref: '#/definitions/CaseId'
        description: 'The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> '
    type: object
  Data:
    type: string
  DescribeAttachmentLimitExceeded:
    description: The limit for the number of <a>DescribeAttachment</a> requests in a short period of time has been exceeded.
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: The limit for the number of <a>DescribeAttachment</a> requests in a short period of time has been exceeded.
    type: object
  DescribeAttachmentRequest:
    properties:
      attachmentId:
        $ref: '#/definitions/AttachmentId'
        description: The ID of the attachment to return. Attachment IDs are returned by the <a>DescribeCommunications</a> operation.
    required:
      - attachmentId
    type: object
  DescribeAttachmentResponse:
    description: The content and file name of the attachment returned by the <a>DescribeAttachment</a> operation.
    properties:
      attachment:
        $ref: '#/definitions/Attachment'
        description: The attachment content and file name.
    type: object
  DescribeCasesRequest:
    description: <p/>
    properties:
      afterTime:
        $ref: '#/definitions/AfterTime'
        description: The start date for a filtered date search on support case communications. Case communications are available for 12 months after creation.
      beforeTime:
        $ref: '#/definitions/BeforeTime'
        description: The end date for a filtered date search on support case communications. Case communications are available for 12 months after creation.
      caseIdList:
        $ref: '#/definitions/CaseIdList'
        description: A list of ID numbers of the support cases you want returned. The maximum number of cases is 100.
      displayId:
        $ref: '#/definitions/DisplayId'
        description: The ID displayed for a case in the AWS Support Center user interface.
      includeCommunications:
        $ref: '#/definitions/IncludeCommunications'
        description: Specifies whether communications should be included in the <a>DescribeCases</a> results. The default is <i>true</i>.
      includeResolvedCases:
        $ref: '#/definitions/IncludeResolvedCases'
        description: Specifies whether resolved support cases should be included in the <a>DescribeCases</a> results. The default is <i>false</i>.
      language:
        $ref: '#/definitions/Language'
        description: The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English ("en") and Japanese ("ja"). Language parameters must be passed explicitly for operations that take them.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return before paginating.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: A resumption point for pagination.
    type: object
  DescribeCasesResponse:
    description: Returns an array of <a>CaseDetails</a> objects and a <code>nextToken</code> that defines a point for pagination in the result set.
    properties:
      cases:
        $ref: '#/definitions/CaseList'
        description: The details for the cases that match the request.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: A resumption point for pagination.
    type: object
  DescribeCommunicationsRequest:
    description: <p/>
    properties:
      afterTime:
        $ref: '#/definitions/AfterTime'
        description: The start date for a filtered date search on support case communications. Case communications are available for 12 months after creation.
      beforeTime:
        $ref: '#/definitions/BeforeTime'
        description: The end date for a filtered date search on support case communications. Case communications are available for 12 months after creation.
      caseId:
        $ref: '#/definitions/CaseId'
        description: 'The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> '
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return before paginating.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: A resumption point for pagination.
    required:
      - caseId
    type: object
  DescribeCommunicationsResponse:
    description: The communications returned by the <a>DescribeCommunications</a> operation.
    properties:
      communications:
        $ref: '#/definitions/CommunicationList'
        description: The communications for the case.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: A resumption point for pagination.
    type: object
  DescribeServicesRequest:
    description: <p/>
    properties:
      language:
        $ref: '#/definitions/Language'
        description: The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English ("en") and Japanese ("ja"). Language parameters must be passed explicitly for operations that take them.
      serviceCodeList:
        $ref: '#/definitions/ServiceCodeList'
        description: A JSON-formatted list of service codes available for AWS services.
    type: object
  DescribeServicesResponse:
    description: The list of AWS services returned by the <a>DescribeServices</a> operation.
    properties:
      services:
        $ref: '#/definitions/ServiceList'
        description: A JSON-formatted list of AWS services.
    type: object
  DescribeSeverityLevelsRequest:
    description: <p/>
    properties:
      language:
        $ref: '#/definitions/Language'
        description: The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English ("en") and Japanese ("ja"). Language parameters must be passed explicitly for operations that take them.
    type: object
  DescribeSeverityLevelsResponse:
    description: The list of severity levels returned by the <a>DescribeSeverityLevels</a> operation.
    properties:
      severityLevels:
        $ref: '#/definitions/SeverityLevelsList'
        description: The available severity levels for the support case. Available severity levels are defined by your service level agreement with AWS.
    type: object
  DescribeTrustedAdvisorCheckRefreshStatusesRequest:
    description: <p/>
    properties:
      checkIds:
        $ref: '#/definitions/StringList'
        description: 'The IDs of the Trusted Advisor checks to get the status of. <b>Note:</b> Specifying the check ID of a check that is automatically refreshed causes an <code>InvalidParameterValue</code> error.'
    required:
      - checkIds
    type: object
  DescribeTrustedAdvisorCheckRefreshStatusesResponse:
    description: The statuses of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckRefreshStatuses</a> operation.
    properties:
      statuses:
        $ref: '#/definitions/TrustedAdvisorCheckRefreshStatusList'
        description: The refresh status of the specified Trusted Advisor checks.
    required:
      - statuses
    type: object
  DescribeTrustedAdvisorCheckResultRequest:
    description: <p/>
    properties:
      checkId:
        $ref: '#/definitions/String'
        description: The unique identifier for the Trusted Advisor check.
      language:
        $ref: '#/definitions/String'
        description: The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English ("en") and Japanese ("ja"). Language parameters must be passed explicitly for operations that take them.
    required:
      - checkId
    type: object
  DescribeTrustedAdvisorCheckResultResponse:
    description: The result of the Trusted Advisor check returned by the <a>DescribeTrustedAdvisorCheckResult</a> operation.
    properties:
      result:
        $ref: '#/definitions/TrustedAdvisorCheckResult'
        description: The detailed results of the Trusted Advisor check.
    type: object
  DescribeTrustedAdvisorCheckSummariesRequest:
    description: <p/>
    properties:
      checkIds:
        $ref: '#/definitions/StringList'
        description: The IDs of the Trusted Advisor checks.
    required:
      - checkIds
    type: object
  DescribeTrustedAdvisorCheckSummariesResponse:
    description: The summaries of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckSummaries</a> operation.
    properties:
      summaries:
        $ref: '#/definitions/TrustedAdvisorCheckSummaryList'
        description: The summary information for the requested Trusted Advisor checks.
    required:
      - summaries
    type: object
  DescribeTrustedAdvisorChecksRequest:
    description: <p/>
    properties:
      language:
        $ref: '#/definitions/String'
        description: The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English ("en") and Japanese ("ja"). Language parameters must be passed explicitly for operations that take them.
    required:
      - language
    type: object
  DescribeTrustedAdvisorChecksResponse:
    description: Information about the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorChecks</a> operation.
    properties:
      checks:
        $ref: '#/definitions/TrustedAdvisorCheckList'
        description: Information about all available Trusted Advisor checks.
    required:
      - checks
    type: object
  DisplayId:
    type: string
  Double:
    format: double
    type: number
  ErrorMessage:
    type: string
  ExpiryTime:
    type: string
  FileName:
    type: string
  IncludeCommunications:
    type: boolean
  IncludeResolvedCases:
    type: boolean
  InternalServerError:
    description: An internal server error occurred.
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: An internal server error occurred.
    type: object
  IssueType:
    type: string
  Language:
    type: string
  Long:
    type: integer
  MaxResults:
    maximum: 100
    minimum: 10
    type: integer
  NextToken:
    type: string
  RecentCaseCommunications:
    description: The five most recent communications associated with the case.
    properties:
      communications:
        $ref: '#/definitions/CommunicationList'
        description: The five most recent communications associated with the case.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: A resumption point for pagination.
    type: object
  RefreshTrustedAdvisorCheckRequest:
    description: <p/>
    properties:
      checkId:
        $ref: '#/definitions/String'
        description: 'The unique identifier for the Trusted Advisor check to refresh. <b>Note:</b> Specifying the check ID of a check that is automatically refreshed causes an <code>InvalidParameterValue</code> error.'
    required:
      - checkId
    type: object
  RefreshTrustedAdvisorCheckResponse:
    description: The current refresh status of a Trusted Advisor check.
    properties:
      status:
        $ref: '#/definitions/TrustedAdvisorCheckRefreshStatus'
        description: 'The current refresh status for a check, including the amount of time until the check is eligible for refresh.'
    required:
      - status
    type: object
  ResolveCaseRequest:
    description: <p/>
    properties:
      caseId:
        $ref: '#/definitions/CaseId'
        description: 'The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> '
    type: object
  ResolveCaseResponse:
    description: The status of the case returned by the <a>ResolveCase</a> operation.
    properties:
      finalCaseStatus:
        $ref: '#/definitions/CaseStatus'
        description: The status of the case after the <a>ResolveCase</a> request was processed.
      initialCaseStatus:
        $ref: '#/definitions/CaseStatus'
        description: The status of the case when the <a>ResolveCase</a> request was sent.
    type: object
  Result:
    type: boolean
  Service:
    description: 'Information about an AWS service returned by the <a>DescribeServices</a> operation. '
    properties:
      categories:
        $ref: '#/definitions/CategoryList'
        description: A list of categories that describe the type of support issue a case describes. Categories consist of a category name and a category code. Category names and codes are passed to AWS Support when you call <a>CreateCase</a>.
      code:
        $ref: '#/definitions/ServiceCode'
        description: The code for an AWS service returned by the <a>DescribeServices</a> response. The <code>name</code> element contains the corresponding friendly name.
      name:
        $ref: '#/definitions/ServiceName'
        description: The friendly name for an AWS service. The <code>code</code> element contains the corresponding code.
    type: object
  ServiceCode:
    type: string
  ServiceCodeList:
    items:
      $ref: '#/definitions/ServiceCode'
    maxItems: 100
    minItems: 0
    type: array
  ServiceList:
    items:
      $ref: '#/definitions/Service'
    type: array
  ServiceName:
    type: string
  SeverityCode:
    type: string
  SeverityLevel:
    description: A code and name pair that represent a severity level that can be applied to a support case.
    properties:
      code:
        $ref: '#/definitions/SeverityLevelCode'
        description: 'One of four values: "low," "medium," "high," and "urgent". These values correspond to response times returned to the caller in <code>severityLevel.name</code>. '
      name:
        $ref: '#/definitions/SeverityLevelName'
        description: The name of the severity level that corresponds to the severity level code.
    type: object
  SeverityLevelCode:
    type: string
  SeverityLevelName:
    type: string
  SeverityLevelsList:
    items:
      $ref: '#/definitions/SeverityLevel'
    type: array
  Status:
    type: string
  String:
    type: string
  StringList:
    items:
      $ref: '#/definitions/String'
    type: array
  Subject:
    type: string
  SubmittedBy:
    type: string
  TimeCreated:
    type: string
  TrustedAdvisorCategorySpecificSummary:
    description: The container for summary information that relates to the category of the Trusted Advisor check.
    properties:
      costOptimizing:
        $ref: '#/definitions/TrustedAdvisorCostOptimizingSummary'
        description: The summary information about cost savings for a Trusted Advisor check that is in the Cost Optimizing category.
    type: object
  TrustedAdvisorCheckDescription:
    description: The description and metadata for a Trusted Advisor check.
    properties:
      category:
        $ref: '#/definitions/String'
        description: The category of the Trusted Advisor check.
      description:
        $ref: '#/definitions/String'
        description: 'The description of the Trusted Advisor check, which includes the alert criteria and recommended actions (contains HTML markup).'
      id:
        $ref: '#/definitions/String'
        description: The unique identifier for the Trusted Advisor check.
      metadata:
        $ref: '#/definitions/StringList'
        description: 'The column headings for the data returned by the Trusted Advisor check. The order of the headings corresponds to the order of the data in the <b>Metadata</b> element of the <a>TrustedAdvisorResourceDetail</a> for the check. <b>Metadata</b> contains all the data that is shown in the Excel download, even in those cases where the UI shows just summary data. '
      name:
        $ref: '#/definitions/String'
        description: The display name for the Trusted Advisor check.
    required:
      - id
      - name
      - description
      - category
      - metadata
    type: object
  TrustedAdvisorCheckList:
    items:
      $ref: '#/definitions/TrustedAdvisorCheckDescription'
    type: array
  TrustedAdvisorCheckRefreshStatus:
    description: The refresh status of a Trusted Advisor check.
    properties:
      checkId:
        $ref: '#/definitions/String'
        description: The unique identifier for the Trusted Advisor check.
      millisUntilNextRefreshable:
        $ref: '#/definitions/Long'
        description: 'The amount of time, in milliseconds, until the Trusted Advisor check is eligible for refresh.'
      status:
        $ref: '#/definitions/String'
        description: 'The status of the Trusted Advisor check for which a refresh has been requested: "none", "enqueued", "processing", "success", or "abandoned".'
    required:
      - checkId
      - status
      - millisUntilNextRefreshable
    type: object
  TrustedAdvisorCheckRefreshStatusList:
    items:
      $ref: '#/definitions/TrustedAdvisorCheckRefreshStatus'
    type: array
  TrustedAdvisorCheckResult:
    description: The results of a Trusted Advisor check returned by <a>DescribeTrustedAdvisorCheckResult</a>.
    properties:
      categorySpecificSummary:
        $ref: '#/definitions/TrustedAdvisorCategorySpecificSummary'
        description: Summary information that relates to the category of the check. Cost Optimizing is the only category that is currently supported.
      checkId:
        $ref: '#/definitions/String'
        description: The unique identifier for the Trusted Advisor check.
      flaggedResources:
        $ref: '#/definitions/TrustedAdvisorResourceDetailList'
        description: The details about each resource listed in the check result.
      resourcesSummary:
        $ref: '#/definitions/TrustedAdvisorResourcesSummary'
      status:
        $ref: '#/definitions/String'
        description: 'The alert status of the check: "ok" (green), "warning" (yellow), "error" (red), or "not_available".'
      timestamp:
        $ref: '#/definitions/String'
        description: The time of the last refresh of the check.
    required:
      - checkId
      - timestamp
      - status
      - resourcesSummary
      - categorySpecificSummary
      - flaggedResources
    type: object
  TrustedAdvisorCheckSummary:
    description: 'A summary of a Trusted Advisor check result, including the alert status, last refresh, and number of resources examined.'
    properties:
      categorySpecificSummary:
        $ref: '#/definitions/TrustedAdvisorCategorySpecificSummary'
        description: Summary information that relates to the category of the check. Cost Optimizing is the only category that is currently supported.
      checkId:
        $ref: '#/definitions/String'
        description: The unique identifier for the Trusted Advisor check.
      hasFlaggedResources:
        $ref: '#/definitions/Boolean'
        description: Specifies whether the Trusted Advisor check has flagged resources.
      resourcesSummary:
        $ref: '#/definitions/TrustedAdvisorResourcesSummary'
      status:
        $ref: '#/definitions/String'
        description: 'The alert status of the check: "ok" (green), "warning" (yellow), "error" (red), or "not_available".'
      timestamp:
        $ref: '#/definitions/String'
        description: The time of the last refresh of the check.
    required:
      - checkId
      - timestamp
      - status
      - resourcesSummary
      - categorySpecificSummary
    type: object
  TrustedAdvisorCheckSummaryList:
    items:
      $ref: '#/definitions/TrustedAdvisorCheckSummary'
    type: array
  TrustedAdvisorCostOptimizingSummary:
    description: The estimated cost savings that might be realized if the recommended actions are taken.
    properties:
      estimatedMonthlySavings:
        $ref: '#/definitions/Double'
        description: The estimated monthly savings that might be realized if the recommended actions are taken.
      estimatedPercentMonthlySavings:
        $ref: '#/definitions/Double'
        description: The estimated percentage of savings that might be realized if the recommended actions are taken.
    required:
      - estimatedMonthlySavings
      - estimatedPercentMonthlySavings
    type: object
  TrustedAdvisorResourceDetail:
    description: Contains information about a resource identified by a Trusted Advisor check.
    properties:
      isSuppressed:
        $ref: '#/definitions/Boolean'
        description: Specifies whether the AWS resource was ignored by Trusted Advisor because it was marked as suppressed by the user.
      metadata:
        $ref: '#/definitions/StringList'
        description: 'Additional information about the identified resource. The exact metadata and its order can be obtained by inspecting the <a>TrustedAdvisorCheckDescription</a> object returned by the call to <a>DescribeTrustedAdvisorChecks</a>. <b>Metadata</b> contains all the data that is shown in the Excel download, even in those cases where the UI shows just summary data. '
      region:
        $ref: '#/definitions/String'
        description: The AWS region in which the identified resource is located.
      resourceId:
        $ref: '#/definitions/String'
        description: The unique identifier for the identified resource.
      status:
        $ref: '#/definitions/String'
        description: The status code for the resource identified in the Trusted Advisor check.
    required:
      - status
      - resourceId
      - metadata
    type: object
  TrustedAdvisorResourceDetailList:
    items:
      $ref: '#/definitions/TrustedAdvisorResourceDetail'
    type: array
  TrustedAdvisorResourcesSummary:
    description: 'Details about AWS resources that were analyzed in a call to Trusted Advisor <a>DescribeTrustedAdvisorCheckSummaries</a>. '
    properties:
      resourcesFlagged:
        $ref: '#/definitions/Long'
        description: The number of AWS resources that were flagged (listed) by the Trusted Advisor check.
      resourcesIgnored:
        $ref: '#/definitions/Long'
        description: The number of AWS resources ignored by Trusted Advisor because information was unavailable.
      resourcesProcessed:
        $ref: '#/definitions/Long'
        description: The number of AWS resources that were analyzed by the Trusted Advisor check.
      resourcesSuppressed:
        $ref: '#/definitions/Long'
        description: The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.
    required:
      - resourcesProcessed
      - resourcesFlagged
      - resourcesIgnored
      - resourcesSuppressed
    type: object
x-servers:
  - description: The general AWS Support multi-region endpoint
    url: 'https://support.us-east-1.amazonaws.com'
    variables: {}
  - description: The AWS Support endpoint for China (Beijing) and China (Ningxia)
    url: 'http://support.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The AWS Support endpoint for China (Beijing) and China (Ningxia)
    url: 'https://support.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
