{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://taskrouter.twilio.com"
    }
  ],
  "info": {
    "contact": {
      "email": "support@twilio.com",
      "name": "Twilio Support",
      "url": "https://support.twilio.com"
    },
    "description": "This is the public Twilio REST API.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "https://www.twilio.com/legal/tos",
    "title": "Twilio - Taskrouter",
    "version": "1.42.0",
    "x-apisguru-categories": [
      "telecom",
      "messaging"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_static1.twilio.com_marketing_bundles_marketing_img_logos_wordmark-red.svg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_taskrouter_v1.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "twilio.com",
    "x-serviceName": "twilio_taskrouter_v1"
  },
  "paths": {
    "/v1/Workspaces": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "ListWorkspace",
        "parameters": [
          {
            "description": "The `friendly_name` of the Workspace resources to read. For example `Customer Support` or `2014 Election Campaign`.",
            "in": "query",
            "name": "FriendlyName",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "workspaces": {
                      "items": {
                        "$ref": "#/components/schemas/taskrouter.v1.workspace"
                      },
                      "type": "array"
                    }
                  },
                  "title": "ListWorkspaceResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateWorkspace",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "EventCallbackUrl": {
                    "description": "The URL we should call when an event occurs. If provided, the Workspace will publish events to this URL, for example, to collect data for reporting. See [Workspace Events](https://www.twilio.com/docs/taskrouter/api/event) for more information. This parameter supports Twilio's [Webhooks (HTTP callbacks) Connection Overrides](https://www.twilio.com/docs/usage/webhooks/webhooks-connection-overrides).",
                    "format": "uri",
                    "type": "string"
                  },
                  "EventsFilter": {
                    "description": "The list of Workspace events for which to call event_callback_url. For example, if `EventsFilter=task.created, task.canceled, worker.activity.update`, then TaskRouter will call event_callback_url only when a task is created, canceled, or a Worker activity is updated.",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the Workspace resource. It can be up to 64 characters long. For example: `Customer Support` or `2014 Election Campaign`.",
                    "type": "string"
                  },
                  "MultiTaskEnabled": {
                    "description": "Whether to enable multi-tasking. Can be: `true` to enable multi-tasking, or `false` to disable it. However, all workspaces should be created as multi-tasking. The default is `true`. Multi-tasking allows Workers to handle multiple Tasks simultaneously. When enabled (`true`), each Worker can receive parallel reservations up to the per-channel maximums defined in the Workers section. In single-tasking mode (legacy mode), each Worker will only receive a new reservation when the previous task is completed. Learn more at [Multitasking](https://www.twilio.com/docs/taskrouter/multitasking).",
                    "type": "boolean"
                  },
                  "PrioritizeQueueOrder": {
                    "$ref": "#/components/schemas/workspace_enum_queue_order",
                    "description": "The type of TaskQueue to prioritize when Workers are receiving Tasks from both types of TaskQueues. Can be: `LIFO` or `FIFO` and the default is `FIFO`. For more information, see [Queue Ordering](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first-out-lifo).",
                    "type": "string"
                  },
                  "Template": {
                    "description": "An available template name. Can be: `NONE` or `FIFO` and the default is `NONE`. Pre-configures the Workspace with the Workflow and Activities specified in the template. `NONE` will create a Workspace with only a set of default activities. `FIFO` will configure TaskRouter with a set of default activities and a single TaskQueue for first-in, first-out distribution, which can be useful when you are getting started with TaskRouter.",
                    "type": "string"
                  }
                },
                "required": [
                  "FriendlyName"
                ],
                "title": "CreateWorkspaceRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://taskrouter.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "prioritize_queue_order"
        ],
        "pathType": "list"
      }
    },
    "/v1/Workspaces/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteWorkspace",
        "parameters": [
          {
            "description": "The SID of the Workspace resource to delete.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchWorkspace",
        "parameters": [
          {
            "description": "The SID of the Workspace resource to fetch.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "UpdateWorkspace",
        "parameters": [
          {
            "description": "The SID of the Workspace resource to update.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "DefaultActivitySid": {
                    "description": "The SID of the Activity that will be used when new Workers are created in the Workspace.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^WA[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "EventCallbackUrl": {
                    "description": "The URL we should call when an event occurs. See [Workspace Events](https://www.twilio.com/docs/taskrouter/api/event) for more information. This parameter supports Twilio's [Webhooks (HTTP callbacks) Connection Overrides](https://www.twilio.com/docs/usage/webhooks/webhooks-connection-overrides).",
                    "format": "uri",
                    "type": "string"
                  },
                  "EventsFilter": {
                    "description": "The list of Workspace events for which to call event_callback_url. For example if `EventsFilter=task.created,task.canceled,worker.activity.update`, then TaskRouter will call event_callback_url only when a task is created, canceled, or a Worker activity is updated.",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the Workspace resource. For example: `Sales Call Center` or `Customer Support Team`.",
                    "type": "string"
                  },
                  "MultiTaskEnabled": {
                    "description": "Whether to enable multi-tasking. Can be: `true` to enable multi-tasking, or `false` to disable it. However, all workspaces should be maintained as multi-tasking. There is no default when omitting this parameter. A multi-tasking Workspace can't be updated to single-tasking unless it is not a Flex Project and another (legacy) single-tasking Workspace exists. Multi-tasking allows Workers to handle multiple Tasks simultaneously. In multi-tasking mode, each Worker can receive parallel reservations up to the per-channel maximums defined in the Workers section. In single-tasking mode (legacy mode), each Worker will only receive a new reservation when the previous task is completed. Learn more at [Multitasking](https://www.twilio.com/docs/taskrouter/multitasking).",
                    "type": "boolean"
                  },
                  "PrioritizeQueueOrder": {
                    "$ref": "#/components/schemas/workspace_enum_queue_order",
                    "description": "The type of TaskQueue to prioritize when Workers are receiving Tasks from both types of TaskQueues. Can be: `LIFO` or `FIFO`. For more information, see [Queue Ordering](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first-out-lifo).",
                    "type": "string"
                  },
                  "TimeoutActivitySid": {
                    "description": "The SID of the Activity that will be assigned to a Worker when a Task reservation times out without a response.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^WA[0-9a-fA-F]{32}$",
                    "type": "string"
                  }
                },
                "title": "UpdateWorkspaceRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://taskrouter.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "prioritize_queue_order"
        ],
        "pathType": "instance"
      }
    },
    "/v1/Workspaces/{WorkspaceSid}/Activities": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "ListActivity",
        "parameters": [
          {
            "description": "The SID of the Workspace with the Activity resources to read.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The `friendly_name` of the Activity resources to read.",
            "in": "query",
            "name": "FriendlyName",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether return only Activity resources that are available or unavailable. A value of `true` returns only available activities. Values of '1' or `yes` also indicate `true`. All other values represent `false` and return activities that are unavailable.",
            "in": "query",
            "name": "Available",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "activities": {
                      "items": {
                        "$ref": "#/components/schemas/taskrouter.v1.workspace.activity"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "title": "ListActivityResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateActivity",
        "parameters": [
          {
            "description": "The SID of the Workspace that the new Activity belongs to.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Available": {
                    "description": "Whether the Worker should be eligible to receive a Task when it occupies the Activity. A value of `true`, `1`, or `yes` specifies the Activity is available. All other values specify that it is not. The value cannot be changed after the Activity is created.",
                    "type": "boolean"
                  },
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the Activity resource. It can be up to 64 characters long. These names are used to calculate and expose statistics about Workers, and provide visibility into the state of each Worker. Examples of friendly names include: `on-call`, `break`, and `email`.",
                    "type": "string"
                  }
                },
                "required": [
                  "FriendlyName"
                ],
                "title": "CreateActivityRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace.activity"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://taskrouter.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "date_created"
        ],
        "parent": "/Workspaces/{Sid}",
        "pathType": "list"
      }
    },
    "/v1/Workspaces/{WorkspaceSid}/Activities/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteActivity",
        "parameters": [
          {
            "description": "The SID of the Workspace with the Activity resources to delete.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the Activity resource to delete.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WA[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchActivity",
        "parameters": [
          {
            "description": "The SID of the Workspace with the Activity resources to fetch.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the Activity resource to fetch.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WA[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace.activity"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "UpdateActivity",
        "parameters": [
          {
            "description": "The SID of the Workspace with the Activity resources to update.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the Activity resource to update.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WA[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the Activity resource. It can be up to 64 characters long. These names are used to calculate and expose statistics about Workers, and provide visibility into the state of each Worker. Examples of friendly names include: `on-call`, `break`, and `email`.",
                    "type": "string"
                  }
                },
                "title": "UpdateActivityRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace.activity"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://taskrouter.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "date_created"
        ],
        "parent": "/Workspaces/{Sid}",
        "pathType": "instance"
      }
    },
    "/v1/Workspaces/{WorkspaceSid}/CumulativeStatistics": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchWorkspaceCumulativeStatistics",
        "parameters": [
          {
            "description": "The SID of the Workspace to fetch.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "Only include usage that occurred on or before this date, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.",
            "in": "query",
            "name": "EndDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Only calculate statistics since this many minutes in the past. The default 15 minutes. This is helpful for displaying statistics for the last 15 minutes, 240 minutes (4 hours), and 480 minutes (8 hours) to see trends.",
            "in": "query",
            "name": "Minutes",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.",
            "in": "query",
            "name": "StartDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Only calculate cumulative statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.",
            "in": "query",
            "name": "TaskChannel",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A comma separated list of values that describes the thresholds, in seconds, to calculate statistics on. For each threshold specified, the number of Tasks canceled and reservations accepted above and below the specified thresholds in seconds are computed. For example, `5,30` would show splits of Tasks that were canceled or accepted before and after 5 seconds and before and after 30 seconds. This can be used to show short abandoned Tasks or Tasks that failed to meet an SLA. TaskRouter will calculate statistics on up to 10,000 Tasks for any given threshold.",
            "in": "query",
            "name": "SplitByWaitTime",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace.workspace_cumulative_statistics"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://taskrouter.twilio.com"
        }
      ],
      "x-twilio": {
        "className": "workspace_cumulative_statistics",
        "defaultOutputProperties": [
          "start_time",
          "end_time",
          "avg_task_acceptance_time",
          "tasks_completed"
        ],
        "parent": "/Workspaces/{Sid}",
        "pathType": "instance"
      }
    },
    "/v1/Workspaces/{WorkspaceSid}/Events": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "ListEvent",
        "parameters": [
          {
            "description": "The SID of the Workspace with the Events to read. Returns only the Events that pertain to the specified Workspace.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "Only include Events that occurred on or before this date, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.",
            "in": "query",
            "name": "EndDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The type of Events to read. Returns only Events of the type specified.",
            "in": "query",
            "name": "EventType",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The period of events to read in minutes. Returns only Events that occurred since this many minutes in the past. The default is `15` minutes. Task Attributes for Events occuring more 43,200 minutes ago will be redacted.",
            "in": "query",
            "name": "Minutes",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The SID of the Reservation with the Events to read. Returns only Events that pertain to the specified Reservation.",
            "in": "query",
            "name": "ReservationSid",
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WR[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "Only include Events from on or after this date and time, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format. Task Attributes for Events older than 30 days will be redacted.",
            "in": "query",
            "name": "StartDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The SID of the TaskQueue with the Events to read. Returns only the Events that pertain to the specified TaskQueue.",
            "in": "query",
            "name": "TaskQueueSid",
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WQ[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the Task with the Events to read. Returns only the Events that pertain to the specified Task.",
            "in": "query",
            "name": "TaskSid",
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WT[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the Worker with the Events to read. Returns only the Events that pertain to the specified Worker.",
            "in": "query",
            "name": "WorkerSid",
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WK[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the Workflow with the Events to read. Returns only the Events that pertain to the specified Workflow.",
            "in": "query",
            "name": "WorkflowSid",
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WW[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The TaskChannel with the Events to read. Returns only the Events that pertain to the specified TaskChannel.",
            "in": "query",
            "name": "TaskChannel",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The SID of the Event resource to read.",
            "in": "query",
            "name": "Sid",
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^EV[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "events": {
                      "items": {
                        "$ref": "#/components/schemas/taskrouter.v1.workspace.event"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "title": "ListEventResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://taskrouter.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "description",
          "event_date"
        ],
        "parent": "/Workspaces/{Sid}",
        "pathType": "list"
      }
    },
    "/v1/Workspaces/{WorkspaceSid}/Events/{Sid}": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchEvent",
        "parameters": [
          {
            "description": "The SID of the Workspace with the Event to fetch.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the Event resource to fetch.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^EV[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace.event"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://taskrouter.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "description",
          "event_date"
        ],
        "parent": "/Workspaces/{Sid}",
        "pathType": "instance"
      }
    },
    "/v1/Workspaces/{WorkspaceSid}/RealTimeStatistics": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchWorkspaceRealTimeStatistics",
        "parameters": [
          {
            "description": "The SID of the Workspace to fetch.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "Only calculate real-time statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.",
            "in": "query",
            "name": "TaskChannel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace.workspace_real_time_statistics"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://taskrouter.twilio.com"
        }
      ],
      "x-twilio": {
        "className": "workspace_real_time_statistics",
        "defaultOutputProperties": [
          "longest_task_waiting_age",
          "longest_task_waiting_sid",
          "total_tasks"
        ],
        "parent": "/Workspaces/{Sid}",
        "pathType": "instance"
      }
    },
    "/v1/Workspaces/{WorkspaceSid}/Statistics": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchWorkspaceStatistics",
        "parameters": [
          {
            "description": "The SID of the Workspace to fetch.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "Only calculate statistics since this many minutes in the past. The default 15 minutes. This is helpful for displaying statistics for the last 15 minutes, 240 minutes (4 hours), and 480 minutes (8 hours) to see trends.",
            "in": "query",
            "name": "Minutes",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.",
            "in": "query",
            "name": "StartDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Only calculate statistics from this date and time and earlier, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.",
            "in": "query",
            "name": "EndDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Only calculate statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.",
            "in": "query",
            "name": "TaskChannel",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A comma separated list of values that describes the thresholds, in seconds, to calculate statistics on. For each threshold specified, the number of Tasks canceled and reservations accepted above and below the specified thresholds in seconds are computed. For example, `5,30` would show splits of Tasks that were canceled or accepted before and after 5 seconds and before and after 30 seconds. This can be used to show short abandoned Tasks or Tasks that failed to meet an SLA.",
            "in": "query",
            "name": "SplitByWaitTime",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace.workspace_statistics"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://taskrouter.twilio.com"
        }
      ],
      "x-twilio": {
        "className": "workspace_statistics",
        "defaultOutputProperties": [
          "cumulative"
        ],
        "parent": "/Workspaces/{Sid}",
        "pathType": "instance"
      }
    },
    "/v1/Workspaces/{WorkspaceSid}/TaskChannels": {
      "description": "Types of tasks",
      "get": {
        "description": "",
        "operationId": "ListTaskChannel",
        "parameters": [
          {
            "description": "The SID of the Workspace with the Task Channel to read.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "channels": {
                      "items": {
                        "$ref": "#/components/schemas/taskrouter.v1.workspace.task_channel"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "title": "ListTaskChannelResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateTaskChannel",
        "parameters": [
          {
            "description": "The SID of the Workspace that the new Task Channel belongs to.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "ChannelOptimizedRouting": {
                    "description": "Whether the Task Channel should prioritize Workers that have been idle. If `true`, Workers that have been idle the longest are prioritized.",
                    "type": "boolean"
                  },
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the Task Channel. It can be up to 64 characters long.",
                    "type": "string"
                  },
                  "UniqueName": {
                    "description": "An application-defined string that uniquely identifies the Task Channel, such as `voice` or `sms`.",
                    "type": "string"
                  }
                },
                "required": [
                  "FriendlyName",
                  "UniqueName"
                ],
                "title": "CreateTaskChannelRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace.task_channel"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://taskrouter.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "date_created"
        ],
        "parent": "/Workspaces/{Sid}",
        "pathType": "list"
      }
    },
    "/v1/Workspaces/{WorkspaceSid}/TaskChannels/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteTaskChannel",
        "parameters": [
          {
            "description": "The SID of the Workspace with the Task Channel to delete.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the Task Channel resource to delete.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "Types of tasks",
      "get": {
        "description": "",
        "operationId": "FetchTaskChannel",
        "parameters": [
          {
            "description": "The SID of the Workspace with the Task Channel to fetch.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the Task Channel resource to fetch.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace.task_channel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "UpdateTaskChannel",
        "parameters": [
          {
            "description": "The SID of the Workspace with the Task Channel to update.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the Task Channel resource to update.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "ChannelOptimizedRouting": {
                    "description": "Whether the TaskChannel should prioritize Workers that have been idle. If `true`, Workers that have been idle the longest are prioritized.",
                    "type": "boolean"
                  },
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the Task Channel. It can be up to 64 characters long.",
                    "type": "string"
                  }
                },
                "title": "UpdateTaskChannelRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace.task_channel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://taskrouter.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "date_created"
        ],
        "parent": "/Workspaces/{Sid}",
        "pathType": "instance"
      }
    },
    "/v1/Workspaces/{WorkspaceSid}/TaskQueues": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "ListTaskQueue",
        "parameters": [
          {
            "description": "The SID of the Workspace with the TaskQueue to read.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The `friendly_name` of the TaskQueue resources to read.",
            "in": "query",
            "name": "FriendlyName",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The attributes of the Workers to read. Returns the TaskQueues with Workers that match the attributes specified in this parameter.",
            "in": "query",
            "name": "EvaluateWorkerAttributes",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The SID of the Worker with the TaskQueue resources to read.",
            "in": "query",
            "name": "WorkerSid",
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WK[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "Sorting parameter for TaskQueues",
            "in": "query",
            "name": "Ordering",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "task_queues": {
                      "items": {
                        "$ref": "#/components/schemas/taskrouter.v1.workspace.task_queue"
                      },
                      "type": "array"
                    }
                  },
                  "title": "ListTaskQueueResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateTaskQueue",
        "parameters": [
          {
            "description": "The SID of the Workspace that the new TaskQueue belongs to.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "AssignmentActivitySid": {
                    "description": "The SID of the Activity to assign Workers when a task is assigned to them.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^WA[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the TaskQueue. For example `Support-Tier 1`, `Sales`, or `Escalation`.",
                    "type": "string"
                  },
                  "MaxReservedWorkers": {
                    "description": "The maximum number of Workers to reserve for the assignment of a Task in the queue. Can be an integer between 1 and 50, inclusive and defaults to 1.",
                    "type": "integer"
                  },
                  "ReservationActivitySid": {
                    "description": "The SID of the Activity to assign Workers when a task is reserved for them.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^WA[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "TargetWorkers": {
                    "description": "A string that describes the Worker selection criteria for any Tasks that enter the TaskQueue. For example, `'\"language\" == \"spanish\"'`. The default value is `1==1`. If this value is empty, Tasks will wait in the TaskQueue until they are deleted or moved to another TaskQueue. For more information about Worker selection, see [Describing Worker selection criteria](https://www.twilio.com/docs/taskrouter/api/taskqueues#target-workers).",
                    "type": "string"
                  },
                  "TaskOrder": {
                    "$ref": "#/components/schemas/task_queue_enum_task_order",
                    "description": "How Tasks will be assigned to Workers. Set this parameter to `LIFO` to assign most recently created Task first or FIFO to assign the oldest Task first. Default is `FIFO`. [Click here](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first-out-lifo) to learn more.",
                    "type": "string"
                  }
                },
                "required": [
                  "FriendlyName"
                ],
                "title": "CreateTaskQueueRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace.task_queue"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://taskrouter.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "task_order"
        ],
        "parent": "/Workspaces/{Sid}",
        "pathType": "list"
      }
    },
    "/v1/Workspaces/{WorkspaceSid}/TaskQueues/Statistics": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "ListTaskQueuesStatistics",
        "parameters": [
          {
            "description": "The SID of the Workspace with the TaskQueues to read.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "Only calculate statistics from this date and time and earlier, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.",
            "in": "query",
            "name": "EndDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The `friendly_name` of the TaskQueue statistics to read.",
            "in": "query",
            "name": "FriendlyName",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Only calculate statistics since this many minutes in the past. The default is 15 minutes.",
            "in": "query",
            "name": "Minutes",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.",
            "in": "query",
            "name": "StartDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Only calculate statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.",
            "in": "query",
            "name": "TaskChannel",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A comma separated list of values that describes the thresholds, in seconds, to calculate statistics on. For each threshold specified, the number of Tasks canceled and reservations accepted above and below the specified thresholds in seconds are computed.",
            "in": "query",
            "name": "SplitByWaitTime",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "task_queues_statistics": {
                      "items": {
                        "$ref": "#/components/schemas/taskrouter.v1.workspace.task_queue.task_queues_statistics"
                      },
                      "type": "array"
                    }
                  },
                  "title": "ListTaskQueuesStatisticsResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://taskrouter.twilio.com"
        }
      ],
      "x-twilio": {
        "className": "task_queues_statistics",
        "defaultOutputProperties": [
          "cumulative"
        ],
        "parent": "/Workspaces/{WorkspaceSid}/TaskQueues",
        "pathType": "list"
      }
    },
    "/v1/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteTaskQueue",
        "parameters": [
          {
            "description": "The SID of the Workspace with the TaskQueue to delete.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the TaskQueue resource to delete.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WQ[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchTaskQueue",
        "parameters": [
          {
            "description": "The SID of the Workspace with the TaskQueue to fetch.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the TaskQueue resource to fetch.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WQ[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace.task_queue"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "UpdateTaskQueue",
        "parameters": [
          {
            "description": "The SID of the Workspace with the TaskQueue to update.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the TaskQueue resource to update.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WQ[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "AssignmentActivitySid": {
                    "description": "The SID of the Activity to assign Workers when a task is assigned for them.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^WA[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the TaskQueue. For example `Support-Tier 1`, `Sales`, or `Escalation`.",
                    "type": "string"
                  },
                  "MaxReservedWorkers": {
                    "description": "The maximum number of Workers to create reservations for the assignment of a task while in the queue. Maximum of 50.",
                    "type": "integer"
                  },
                  "ReservationActivitySid": {
                    "description": "The SID of the Activity to assign Workers when a task is reserved for them.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^WA[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "TargetWorkers": {
                    "description": "A string describing the Worker selection criteria for any Tasks that enter the TaskQueue. For example '\"language\" == \"spanish\"' If no TargetWorkers parameter is provided, Tasks will wait in the queue until they are either deleted or moved to another queue. Additional examples on how to describing Worker selection criteria below.",
                    "type": "string"
                  },
                  "TaskOrder": {
                    "$ref": "#/components/schemas/task_queue_enum_task_order",
                    "description": "How Tasks will be assigned to Workers. Can be: `FIFO` or `LIFO` and the default is `FIFO`. Use `FIFO` to assign the oldest task first and `LIFO` to assign the most recent task first. For more information, see [Queue Ordering](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first-out-lifo).",
                    "type": "string"
                  }
                },
                "title": "UpdateTaskQueueRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace.task_queue"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://taskrouter.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "task_order"
        ],
        "parent": "/Workspaces/{Sid}",
        "pathType": "instance"
      }
    },
    "/v1/Workspaces/{WorkspaceSid}/TaskQueues/{TaskQueueSid}/CumulativeStatistics": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchTaskQueueCumulativeStatistics",
        "parameters": [
          {
            "description": "The SID of the Workspace with the TaskQueue to fetch.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the TaskQueue for which to fetch statistics.",
            "in": "path",
            "name": "TaskQueueSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WQ[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "Only calculate statistics from this date and time and earlier, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.",
            "in": "query",
            "name": "EndDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Only calculate statistics since this many minutes in the past. The default is 15 minutes.",
            "in": "query",
            "name": "Minutes",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.",
            "in": "query",
            "name": "StartDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Only calculate cumulative statistics on this TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.",
            "in": "query",
            "name": "TaskChannel",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A comma separated list of values that describes the thresholds, in seconds, to calculate statistics on. For each threshold specified, the number of Tasks canceled and reservations accepted above and below the specified thresholds in seconds are computed. TaskRouter will calculate statistics on up to 10,000 Tasks/Reservations for any given threshold.",
            "in": "query",
            "name": "SplitByWaitTime",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace.task_queue.task_queue_cumulative_statistics"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://taskrouter.twilio.com"
        }
      ],
      "x-twilio": {
        "className": "task_queue_cumulative_statistics",
        "defaultOutputProperties": [
          "start_time",
          "end_time",
          "avg_task_acceptance_time",
          "tasks_completed"
        ],
        "parent": "/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}",
        "pathType": "instance"
      }
    },
    "/v1/Workspaces/{WorkspaceSid}/TaskQueues/{TaskQueueSid}/RealTimeStatistics": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchTaskQueueRealTimeStatistics",
        "parameters": [
          {
            "description": "The SID of the Workspace with the TaskQueue to fetch.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the TaskQueue for which to fetch statistics.",
            "in": "path",
            "name": "TaskQueueSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WQ[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The TaskChannel for which to fetch statistics. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.",
            "in": "query",
            "name": "TaskChannel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace.task_queue.task_queue_real_time_statistics"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://taskrouter.twilio.com"
        }
      ],
      "x-twilio": {
        "className": "task_queue_real_time_statistics",
        "defaultOutputProperties": [
          "longest_task_waiting_age",
          "longest_task_waiting_sid",
          "total_tasks"
        ],
        "parent": "/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}",
        "pathType": "instance"
      }
    },
    "/v1/Workspaces/{WorkspaceSid}/TaskQueues/{TaskQueueSid}/Statistics": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchTaskQueueStatistics",
        "parameters": [
          {
            "description": "The SID of the Workspace with the TaskQueue to fetch.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the TaskQueue for which to fetch statistics.",
            "in": "path",
            "name": "TaskQueueSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WQ[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "Only calculate statistics from this date and time and earlier, specified in GMT as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.",
            "in": "query",
            "name": "EndDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Only calculate statistics since this many minutes in the past. The default is 15 minutes.",
            "in": "query",
            "name": "Minutes",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Only calculate statistics from this date and time and later, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.",
            "in": "query",
            "name": "StartDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Only calculate real-time and cumulative statistics for the specified TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such as `voice`, `sms`, or `default`.",
            "in": "query",
            "name": "TaskChannel",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A comma separated list of values that describes the thresholds, in seconds, to calculate statistics on. For each threshold specified, the number of Tasks canceled and reservations accepted above and below the specified thresholds in seconds are computed.",
            "in": "query",
            "name": "SplitByWaitTime",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace.task_queue.task_queue_statistics"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://taskrouter.twilio.com"
        }
      ],
      "x-twilio": {
        "className": "task_queue_statistics",
        "defaultOutputProperties": [
          "cumulative"
        ],
        "parent": "/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}",
        "pathType": "instance"
      }
    },
    "/v1/Workspaces/{WorkspaceSid}/Tasks": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "ListTask",
        "parameters": [
          {
            "description": "The SID of the Workspace with the Tasks to read.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The priority value of the Tasks to read. Returns the list of all Tasks in the Workspace with the specified priority.",
            "in": "query",
            "name": "Priority",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The `assignment_status` of the Tasks you want to read. Can be: `pending`, `reserved`, `assigned`, `canceled`, `wrapping`, or `completed`. Returns all Tasks in the Workspace with the specified `assignment_status`.",
            "in": "query",
            "name": "AssignmentStatus",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "The SID of the Workflow with the Tasks to read. Returns the Tasks controlled by the Workflow identified by this SID.",
            "in": "query",
            "name": "WorkflowSid",
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WW[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The friendly name of the Workflow with the Tasks to read. Returns the Tasks controlled by the Workflow identified by this friendly name.",
            "in": "query",
            "name": "WorkflowName",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The SID of the TaskQueue with the Tasks to read. Returns the Tasks waiting in the TaskQueue identified by this SID.",
            "in": "query",
            "name": "TaskQueueSid",
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WQ[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The `friendly_name` of the TaskQueue with the Tasks to read. Returns the Tasks waiting in the TaskQueue identified by this friendly name.",
            "in": "query",
            "name": "TaskQueueName",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The attributes of the Tasks to read. Returns the Tasks that match the attributes specified in this parameter.",
            "in": "query",
            "name": "EvaluateTaskAttributes",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How to order the returned Task resources. y default, Tasks are sorted by ascending DateCreated. This value is specified as: `Attribute:Order`, where `Attribute` can be either `Priority` or `DateCreated` and `Order` can be either `asc` or `desc`. For example, `Priority:desc` returns Tasks ordered in descending order of their Priority. Multiple sort orders can be specified in a comma-separated list such as `Priority:desc,DateCreated:asc`, which returns the Tasks in descending Priority order and ascending DateCreated Order.",
            "in": "query",
            "name": "Ordering",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether to read Tasks with addons. If `true`, returns only Tasks with addons. If `false`, returns only Tasks without addons.",
            "in": "query",
            "name": "HasAddons",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "tasks": {
                      "items": {
                        "$ref": "#/components/schemas/taskrouter.v1.workspace.task"
                      },
                      "type": "array"
                    }
                  },
                  "title": "ListTaskResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateTask",
        "parameters": [
          {
            "description": "The SID of the Workspace that the new Task belongs to.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Attributes": {
                    "description": "A URL-encoded JSON string with the attributes of the new task. This value is passed to the Workflow's `assignment_callback_url` when the Task is assigned to a Worker. For example: `{ \"task_type\": \"call\", \"twilio_call_sid\": \"CAxxx\", \"customer_ticket_number\": \"12345\" }`.",
                    "type": "string"
                  },
                  "Priority": {
                    "description": "The priority to assign the new task and override the default. When supplied, the new Task will have this priority unless it matches a Workflow Target with a Priority set. When not supplied, the new Task will have the priority of the matching Workflow Target. Value can be 0 to 2^31^ (2,147,483,647).",
                    "type": "integer"
                  },
                  "TaskChannel": {
                    "description": "When MultiTasking is enabled, specify the TaskChannel by passing either its `unique_name` or `sid`. Default value is `default`.",
                    "type": "string"
                  },
                  "Timeout": {
                    "description": "The amount of time in seconds the new task can live before being assigned. Can be up to a maximum of 2 weeks (1,209,600 seconds). The default value is 24 hours (86,400 seconds). On timeout, the `task.canceled` event will fire with description `Task TTL Exceeded`.",
                    "type": "integer"
                  },
                  "WorkflowSid": {
                    "description": "The SID of the Workflow that you would like to handle routing for the new Task. If there is only one Workflow defined for the Workspace that you are posting the new task to, this parameter is optional.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^WW[0-9a-fA-F]{32}$",
                    "type": "string"
                  }
                },
                "title": "CreateTaskRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/taskrouter.v1.workspace.task"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://taskrouter.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "age",
          "assignment_status",
          "priority",
          "reason"
        ],
        "parent": "/Workspaces/{Sid}",
        "pathType": "list"
      }
    },
    "/v1/Workspaces/{WorkspaceSid}/Tasks/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteTask",
        "parameters": [
          {
            "description": "The SID of the Workspace with the Task to delete.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the Task resource to delete.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WT[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "If provided, deletes this Task if (and only if) the [ETag](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag) header of the Task matches the provided value. This matches the semantics of (and is implemented with) the HTTP [If-Match header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match).",
            "in": "header",
            "name": "If-Match",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchTask",
        "parameters": [
          {
            "description": "The SID of the Workspace with the Task to fetch.",
            "in": "path",
            "name": "WorkspaceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the Task resource to fetch.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^WT[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
[...]
