swagger: '2.0'
schemes:
  - https
host: api.apis.guru
basePath: /v2/
info:
  contact:
    email: founders@apis.guru
    name: APIs.guru
    url: 'http://APIs.guru'
  description: Wikipedia for Web APIs. Repository of API specs in OpenAPI(fka Swagger) 2.0 format.
  license:
    name: CC0 1.0
    url: 'https://github.com/APIs-guru/api-models#licenses'
  title: APIs.guru
  version: '2.0'
  x-APIs.guru-categories:
    - open_data
    - developer_tools
  x-logo:
    url: 'https://apis.guru/branding/logo_vertical.svg'
  x-origin:
    format: swagger
    url: 'https://api.apis.guru/v2/swagger.json'
    version: '2.0'
  x-providerName: apis.guru
  x-tags:
    - API
    - Catalog
    - Directory
    - REST
    - Swagger
    - OpenAPI
externalDocs:
  url: 'https://github.com/APIs-guru/api-models/blob/master/API.md'
produces:
  - application/json
security: []
paths:
  /list.json:
    get:
      description: List all APIs in collection
      operationId: listAPIs
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/APIs'
  /metrics.json:
    get:
      description: List of some basic metrics for entire collection
      operationId: listMetrics
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Metrics'
definitions:
  API:
    additionalProperties: false
    description: Meta information about API
    properties:
      added:
        description: Timestamp when this API was first added to collection
        format: date-time
        type: string
      preferred:
        description: Recommended version
        type: string
      versions:
        additionalProperties:
          $ref: '#/definitions/ApiVersion'
        description: List supported versions of API
        minProperties: 1
        type: object
    required:
      - added
      - preferred
      - versions
    type: object
  APIs:
    additionalProperties:
      $ref: '#/definitions/API'
    description: |
      List of API details.
      It consist of JSON object with API IDs(`<provider>[:<service>]`) as keys.
    minProperties: 1
    type: object
  ApiVersion:
    additionalProperties: false
    properties:
      added:
        description: Timestamp when this version was added
        format: date-time
        type: string
      info:
        description: Copy of `info` section from Swagger spec
        minProperties: 1
        type: object
      swaggerUrl:
        description: URL of Swagger spec in JSON format
        format: url
        type: string
      swaggerYamlUrl:
        description: URL of Swagger spec in YAML format
        format: url
        type: string
      updated:
        description: Timestamp when this version was updated
        format: date-time
        type: string
    required:
      - added
      - updated
      - swaggerUrl
      - swaggerYamlUrl
      - info
    type: object
  Metrics:
    additionalProperties: false
    description: List of some basic metrics for entire collection
    properties:
      numAPIs:
        description: Number of APIs
        minimum: 1
        type: integer
      numEndpoints:
        description: Total number of endpoints inside all specifications
        minimum: 1
        type: integer
      numSpecs:
        description: Number of APIs specification including different versions of the same API
        minimum: 1
        type: integer
    required:
      - numSpecs
      - numAPIs
      - numEndpoints
    type: object
