swagger: '2.0'
schemes:
  - http
  - https
host: api.channel4.com
basePath: /pmlsd
info:
  contact:
    email: developer@channel4.co.uk
    name: Open C4 Project
    url: 'http://developer.channel4.com/'
  description: This is the place to come for all the technical details you need to power your applications with Channel 4's deep programmes data.
  license:
    name: Channel 4 API license
    url: 'http://developer.channel4.com/page/read/API_Terms_of_Use'
  termsOfService: 'http://developer.channel4.com/page/read/API_Terms_of_Use'
  title: Channel 4
  version: 1.0.0
  x-apiClientRegistration:
    url: 'http://developer.channel4.com/apps/register'
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'http://www.channel4.com/static/programmes/images/c4-atom-logo.gif'
  x-origin:
    format: swagger
    url: 'https://raw.githubusercontent.com/Mermade/openC4/master/c4Api/swagger.json'
    version: '2.0'
  x-providerName: channel4.com
externalDocs:
  description: Programmes API Guide
  url: 'http://developer.channel4.com/docs/read/ProgrammesAPIGuide'
consumes:
  - application/xml
produces:
  - application/xml
securityDefinitions:
  apikey:
    in: query
    name: apikey
    type: apiKey
security:
  - apikey: []
parameters:
  platform:
    enum:
      - c4
      - ps3
      - yv
      - ios
      - p06
      - flashmobile
      - freesat
      - android
      - samsung
    in: query
    name: platform
    type: string
tags:
  - description: Channel 4 data feeds
    name: discoveryresources
  - description: Channel 4 metadata
    name: metadataresources
paths:
  '/4od/episode-list/date/{yyyy}/{mm}/{dd}.atom':
    get:
      description: |2-
          Information of daily broadcast content available on 4oD, according to 
          broadcast date

          http://api.channel4.com/pmlsd/4od/episode-list/date/[yyyy]/[mm]/[dd].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/4od/episode-list/date/2010/11/28.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4
      operationId: 4oD_Browse_by_Date_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: yyyy
          required: true
          type: string
        - in: path
          name: mm
          required: true
          type: string
        - in: path
          name: dd
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Browse by Date Feed
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Browse_by_Date_Feed
  /4od/episode-list/popular.atom:
    get:
      description: |2-
          Information of the most popular content available on 4oD, according to user 
          data driven.

          http://api.channel4.com/pmlsd/4od/episode-list/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/4od/episode-list/popular.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4
      operationId: 4oD_Most_Popular_Episodes_Feed
      parameters:
        - $ref: '#/parameters/platform'
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Most Popular Episodes Feed
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Most_Popular_Episodes_Feed
  /4od/recently-added/videos.atom:
    get:
      description: |2-
          A feed containing metadata about short-form content relating to 4oD Episodes 
          recently added to 4oD based on linear transmission. The entries for the 
          Clips Landing Feed contain references to each short-form asset. It will 
          return up to 20 entries.

          http://api.channel4.com/pmlsd/4od/recently-added/videos.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/4od/episode-list/videos.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4
      operationId: 4oD_Clips_Catch_Up_Feed
      parameters:
        - $ref: '#/parameters/platform'
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Clips Catch Up Feed
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Clips_Catch_Up_Feed
  /atoz.atom:
    get:
      description: |2-
          Lists Channel 4 programmes alphabetically from A to Z, providing the same 
          functionality and information as is available in the A to Z section of the 
          Channel 4 Programmes page, http://www.channel4.com/programmes.

          http://api.channel4.com/pmlsd/atoz.atom

          http://api.channel4.com/pmlsd/atoz.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4
      operationId: A_to_Z_Landing_Feed
      parameters:
        - $ref: '#/parameters/platform'
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: A to Z Landing Feed
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/DiscoveryResources/A_to_Z_Landing_Feed
  '/atoz/{start_letter}.atom':
    get:
      description: |2-
          Lists Channel 4 programmes whose names begin with the associated letter.

          http://api.channel4.com/pmlsd/atoz/start_letter.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/atoz/a.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4
      operationId: A_to_Z_Letter_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: start_letter
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: A to Z Letter Feed
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/DiscoveryResources/A_to_Z_Letter_Feed
  /brands/4od.atom:
    get:
      description: "  Lists all Channel 4 programmes available on 4oD.\_ By default, the programmes \n  are listed by title in alphabetical order (case unsensitive).\n\n  http://api.channel4.com/pmlsd/brands/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/4od.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4"
      operationId: 4oD_Title_All_Brands_Feed
      parameters:
        - $ref: '#/parameters/platform'
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Title All Brands Feed
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Title_All_Brands_Feed
  /brands/4od/popular.atom:
    get:
      description: |2-
          Lists all Channel 4 programmes available on 4oD by popularity considering 
          the data gathered within the last 7 days.

          http://api.channel4.com/pmlsd/brands/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/brands/4od/popular.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4
      operationId: 4oD_Popular_All_Brands_Feed
      parameters:
        - $ref: '#/parameters/platform'
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Popular All Brands Feed
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Popular_All_Brands_Feed
  /brands/popular.atom:
    get:
      description: |2-
          Lists all Channel 4 programmes by popularity considering the data gathered 
          within the last 7 days.

          http://api.channel4.com/pmlsd/brands/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/brands/popular.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4
      operationId: Popular_Brands_Feed
      parameters:
        - $ref: '#/parameters/platform'
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Popular Brands Feed
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Popular_Brands_Feed
  /categories.atom:
    get:
      description: |2-
          Lists Channel 4 programmes by category (/ tag).

          http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4
      operationId: Categories_Landing_Feed
      parameters:
        - $ref: '#/parameters/platform'
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Categories Landing Feed
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Categories_Landing_Feed
  '/categories/{category}.atom':
    get:
      description: "  Lists all Channel 4 programmes associated with the specified category (tag).\_ \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4"
      operationId: All_Programmes_by_TX_Date
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: category
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: All Programmes by TX Date
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date
  '/categories/{category}/4od.atom':
    get:
      description: "  Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the\_programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4"
      operationId: 4oD_Programmes_by_TX_Date
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: category
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Programmes by TX Date
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date
  '/categories/{category}/4od/popular.atom':
    get:
      description: |2-
          Lists all Channel 4oD most popular brands for the given category within the 
          last 7 days, in order of popularity.

          http://api.channel4.com/pmlsd/categories/category/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4
      operationId: Most_Popular_Brands_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: category
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Most Popular Brands Feed
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed
  '/categories/{category}/4od/title.atom':
    get:
      description: |2-
          Lists all Channel 4oD programmes associated with the specified category 
          (tag), alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/4od/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4
      operationId: 4oD_Programmes_by_Title
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: category
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Programmes by Title
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title
  '/categories/{category}/title.atom':
    get:
      description: |2-
          Lists all Channel 4 programmes associated with the specified category (tag), 
          alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4
      operationId: All_Programmes_by_Title
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: category
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: All Programmes by Title
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title
  '/collections/{collection_name}.atom':
    get:
      description: "  Collections are editorially controlled groups of brands, series, episodes or \n  other collections used for promotion and discovery of content. A SIMPLE \n  collection can contain an assortment of Brands, Series, Episodes or Freeform \n  items.\_A GROUP collection contains other collections.\n\n  http://api.channel4.com/pmlsd/collections/collection_name.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/collections/4od-home-promo/4od.atom?apikey=z4mwwux6yvahy4jz4xe3xe"
      operationId: Collections_Feed(2)
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: collection_name
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Collections Feed(2)
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Collections_Feed
  '/collections/{collection_name}/4od.atom':
    get:
      description: "  Collections are editorially controlled groups of brands, series, episodes or \n  other collections used for promotion and discovery of content. A SIMPLE \n  collection can contain an assortment of Brands, Series, Episodes or Freeform \n  items.\_A GROUP collection contains other collections.\n\n  http://api.channel4.com/pmlsd/collections/collection_name/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/collections/4od-home-promo/4od.atom?apikey=z4mwwux6yvahy4jz4xe3xe"
      operationId: Collections_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: collection_name
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Collections Feed
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Collections_Feed
  '/collections/{collection_name}/flattened.atom':
    get:
      description: |2-
          The Flattened Collections Feed is only applicable for GROUP collections and 
          its purpose is mainly return 3 items (BRAND, SERIES or EPSIODE) of each of 
          the simple collections assigned to the GROUP.

          http://api.channel4.com/pmlsd/collections/collection_name/flattened.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/collections/4od-home-promo/flattened/4od.atom?apikey=z4mwwux6yvahy4jz4xe3xe
      operationId: Flattened_Collection_Feed(2)
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: collection_name
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Flattened Collection Feed(2)
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Flattened_Collection_Feed
  '/collections/{collection_name}/flattened/4od.atom':
    get:
      description: |2-
          The Flattened Collections Feed is only applicable for GROUP collections and 
          its purpose is mainly return 3 items (BRAND, SERIES or EPSIODE) of each of 
          the simple collections assigned to the GROUP.

          http://api.channel4.com/pmlsd/collections/collection_name/flattened/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/collections/4od-home-promo/flattened/4od.atom?apikey=z4mwwux6yvahy4jz4xe3xe
      operationId: Flattened_Collection_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: collection_name
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Flattened Collection Feed
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Flattened_Collection_Feed
  /coming-soon.atom:
    get:
      description: |2-
          Coming Soon feed display a list of episodes coming soon to linear TV so that 
          I can promote new Channel 4 content.

          http://api.channel4.com/pmlsd/coming-soon.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/coming-soon.atom?apikey=xxxxxxx
      operationId: Coming_Soon_feed
      parameters:
        - $ref: '#/parameters/platform'
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Coming Soon feed
      tags:
        - metadataresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/metadataresources/Coming_Soon_feed
  '/coming-soon/{category}.atom':
    get:
      description: |2-
          Coming Soon feed display a list of episodes coming soon to linear TV so that 
          I can promote new Channel 4 content.

          http://api.channel4.com/pmlsd/coming-soon/[category].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/coming-soon.atom?apikey=xxxxxxx
      operationId: Coming_Soon_feed(2)
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: category
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Coming Soon feed(2)
      tags:
        - metadataresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/metadataresources/Coming_Soon_feed
  '/programme/{programme-id}.atom':
    get:
      description: "  A feed containing all long-form content currently or previously available \n  for a specified Programme Id.\_The entries for the Programme feed contain \n  references to long-form assets for each platform.\n\n  http://api.channel4.com/pmlsd/programme/[programme-id].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/programme/33881-001/4od.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4"
      operationId: Programme_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: programme-id
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Programme Feed
      tags:
        - metadataresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/metadataresources/Programme_Feed
  /search.atom:
    get:
      description: |2-
          Lists all Channel 4 programmes where title (brand name) matching the search 
          term. Matches are made from the beginning of individual words in the title.

          http://api.channel4.com/pmlsd/search.atom?q=search-term&apikey=xxx

          http://api.channel4.com/pmlsd/search.atom?q=the+it+crowd&apikey=z4mwwux6yvahy4jz4xe3xeb4
      operationId: Search_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - in: query
          name: q
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Search Feed
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Search_Feed
  '/search/{q}.atom':
    get:
      description: |2-
          Lists all Channel 4 programmes where title (brand name) matching the search 
          term. Matches are made from the beginning of individual words in the title.

          http://api.channel4.com/pmlsd/search/search-term.atom?apikey=xxx

          http://api.channel4.com/pmlsd/search.atom?q=the+it+crowd&apikey=z4mwwux6yvahy4jz4xe3xeb4
      operationId: Search_Feed(2)
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: q
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Search Feed(2)
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Search_Feed
  '/tv-listings/daily/{yyyy}/{mm}/{dd}.atom':
    get:
      description: |2-
          EPG Information of daily broadcast content aired per channels, according to 
          broadcast date

          http://api.channel4.com/pmlsd/tv-listings/daily/[yyyy]/[mm]/[dd].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/tv-listings/daily/2010/11/28.atom?apikey=xxxxxxx
      operationId: TV_Listings_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: yyyy
          required: true
          type: string
        - in: path
          name: mm
          required: true
          type: string
        - in: path
          name: dd
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: TV Listings Feed
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/TV_Listings_Feed
  '/tv-listings/daily/{yyyy}/{mm}/{dd}/{channel}.atom':
    get:
      description: |2-
          EPG Information of daily broadcast content aired per channels, according to 
          broadcast date

          http://api.channel4.com/pmlsd/tv-listings/daily/[yyyy]/[mm]/[dd]/[channel].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/tv-listings/daily/2010/11/28.atom?apikey=xxxxxxx
      operationId: TV_Listings_Feed(2)
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: yyyy
          required: true
          type: string
        - in: path
          name: mm
          required: true
          type: string
        - in: path
          name: dd
          required: true
          type: string
        - enum:
            - c4
            - f4
            - e4
            - m4
            - 4m
            - 4s
          in: path
          name: channel
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: TV Listings Feed(2)
      tags:
        - discoveryresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/discoveryresources/TV_Listings_Feed
  '/{brand-web-safe-title}.atom':
    get:
      description: |2-
          The basis for all brand information

          http://api.channel4.com/pmlsd/brand-web-safe-title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/the-it-crowd.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4
      operationId: Hub_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: brand-web-safe-title
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Hub Feed
      tags:
        - metadataresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/metadataresources/Hub_Feed
  '/{brand-web-safe-title}/4od.atom':
    get:
      description: |2-
          A feed containing all available on-demand long-form content for a specified 
          brand. The entries for the 4oD feed contain references to each long-form 
          asset for a brand, ordered by series number and episode number.

          http://api.channel4.com/pmlsd/[brand-web-safe-title]/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/the-it-crowd/4od.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4
      operationId: 4oD_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: brand-web-safe-title
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Feed
      tags:
        - metadataresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/metadataresources/4oD_Feed
  '/{brand-web-safe-title}/epg.atom':
    get:
      description: |2-
          This feed contains metadata about upcoming electronic programme guide (EPG) 
          information for a brand. The entry details upcoming transmission slots for 
          this brand.

          http://api.channel4.com/pmlsd/brand-web-safe-title/epg.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/the-simpsons/epg.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4
      operationId: Brand_EPG_Atom_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: brand-web-safe-title
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Brand EPG Atom Feed
      tags:
        - metadataresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/metadataresources/Brand_EPG_Atom_Feed
  '/{brand-web-safe-title}/episode-guide.atom':
    get:
      description: "  A feed containing metadata about all series for a specified brand. The \n  entries in this feed contain references to each of the series (where \n  metadata has been published), with some convenient links.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/episode-guide.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/father-ted/episode-guide.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4\t"
      operationId: Episode_Guide_Feed_Series_Landing
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: brand-web-safe-title
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Episode Guide Feed Series Landing
      tags:
        - metadataresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/metadataresources/Episode_Guide_Feed_Series_Landing
  '/{brand-web-safe-title}/episode-guide/series-{series_number}.atom':
    get:
      description: "  A feed containing metadata about all the episodes for a specific series. The \n  entries in this feed contain references to each of the episodes (where \n  metadata has been published), with some convenient links.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/episode-guide/series-series_number.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/chelmsford-123/episode-guide/series-1.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4\t"
      operationId: Episode_Guide_Feed_Series_Detail
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: brand-web-safe-title
          required: true
          type: string
        - in: path
          name: series_number
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Episode Guide Feed Series Detail
      tags:
        - metadataresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/metadataresources/Episode_Guide_Feed_Series_Detail
  '/{brand-web-safe-title}/episode-guide/series-{series_number}/episode-{episode_number}.atom':
    get:
      description: |2-
          A feed containing metadata about a specified episode. (This feed does not 
          contain any entries and only contains a feed element regarding this 
          episode.)

          http://api.channel4.com/pmlsd/brand-web-safe-title/episode-guide/series-series_number/episode-episode_number.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/the-it-crowd/episode-guide/series-1/episode-1.atom?apikey=your-key
      operationId: Episode_Guide_Feed_Episode_Detail
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: brand-web-safe-title
          required: true
          type: string
        - in: path
          name: series_number
          required: true
          type: string
        - in: path
          name: episode_number
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Episode Guide Feed Episode Detail
      tags:
        - metadataresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/metadataresources/Episode_Guide_Feed_Episode_Detail
  '/{brand-web-safe-title}/videos/all.atom':
    get:
      description: "  A feed containing metadata about all the short-form (clip) videos. The clips \n  feed can be accessed at different levels: the content is then filtered \n  depending on the level, but the structure is identical.When accessed: from \n  the top, the feed contains all the clips for the brand;\_ at series level, \n  the feed contains only clips from the series; and\_ at episode level, the \n  feed contains only clips for the episode (and is very unlikely to require \n  pagination). The entries for the Clips Landing Feed contain references to \n  each short-form asset.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/videos/all.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/peep-show/videos.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4"
      operationId: Clips_Landing_Feed_Brand_Series_and_Episode_Levels
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: brand-web-safe-title
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Clips Landing Feed Brand Series and Episode Levels
      tags:
        - metadataresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/metadataresources/Clips_Landing_Feed_Brand_Series_and_Episode_Levels
  '/{brand-web-safe-title}/videos/series-{SERIES_SEQUENCE_NUMBER}.atom':
    get:
      description: "  A feed containing metadata about all the short-form (clip) videos. The clips \n  feed can be accessed at different levels: the content is then filtered \n  depending on the level, but the structure is identical.When accessed: from \n  the top, the feed contains all the clips for the brand;\_ at series level, \n  the feed contains only clips from the series; and\_ at episode level, the \n  feed contains only clips for the episode (and is very unlikely to require \n  pagination). The entries for the Clips Landing Feed contain references to \n  each short-form asset.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/videos/series-SERIES_SEQUENCE_NUMBER.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/peep-show/videos.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4"
      operationId: Clips_Landing_Feed_Brand_Series_and_Episode_Levels(2)
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: brand-web-safe-title
          required: true
          type: string
        - in: path
          name: SERIES_SEQUENCE_NUMBER
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Clips Landing Feed Brand Series and Episode Levels(2)
      tags:
        - metadataresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/metadataresources/Clips_Landing_Feed_Brand_Series_and_Episode_Levels
  '/{brand-web-safe-title}/videos/series-{SERIES_SEQUENCE_NUMBER}/episode-{EPISODE_SEQUENCE_NUMBER}.atom':
    get:
      description: "  A feed containing metadata about all the short-form (clip) videos. The clips \n  feed can be accessed at different levels: the content is then filtered \n  depending on the level, but the structure is identical.When accessed: from \n  the top, the feed contains all the clips for the brand;\_ at series level, \n  the feed contains only clips from the series; and\_ at episode level, the \n  feed contains only clips for the episode (and is very unlikely to require \n  pagination). The entries for the Clips Landing Feed contain references to \n  each short-form asset.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/videos/series-SERIES_SEQUENCE_NUMBER/episode-EPISODE_SEQUENCE_NUMBER.atom?apikey=xxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/peep-show/videos.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4"
      operationId: Clips_Landing_Feed_Brand_Series_and_Episode_Levels(3)
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: brand-web-safe-title
          required: true
          type: string
        - in: path
          name: SERIES_SEQUENCE_NUMBER
          required: true
          type: string
        - in: path
          name: EPISODE_SEQUENCE_NUMBER
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Clips Landing Feed Brand Series and Episode Levels(3)
      tags:
        - metadataresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/metadataresources/Clips_Landing_Feed_Brand_Series_and_Episode_Levels
  '/{brand-web-safe-title}/videos/{clip-asset-id}.atom':
    get:
      description: |2-
          A feed containing metadata about a single short-form video (clip).

          http://api.channel4.com/pmlsd/brand-web-safe-title/videos/clip-asset-id.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/the-it-crowd/videos/TCGS_CLIP_0000001015.atom?apikey=z4mwwux6yvahy4jz4xe3xeb4
      operationId: Clip_Detail_Atom_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - in: path
          name: brand-web-safe-title
          required: true
          type: string
        - in: path
          name: clip-asset-id
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Clip Detail Atom Feed
      tags:
        - metadataresources
      x-documentation: ./apiSource/developer.channel4.com/docs/read/programmesapiguide/metadataresources/Clip_Detail_Atom_Feed
definitions:
  atom:
    additionalProperties: true
    properties:
      feed:
        $ref: '#/definitions/feed'
    required:
      - feed
    type: object
  entry:
    additionalProperties: true
    properties:
      Link@Related title="4oD":
        description: 'URL to Brand 4oD feed, if available'
        format: uri
        type: string
      Link@Related title="Episode Guide":
        description: URL to brand episode guide feed
        format: uri
        type: string
      dc.relation.sortLetter:
        description: Starting letter for this programme
        type: integer
      'dc:date.Last':
        description: Timestamp of the previous TX from this brand (if applicable)
        format: date-time
        type: string
      'dc:date.Next':
        description: Timestamp of the next TX from this brand (if applicable)
        format: date-time
        type: string
      'dc:date.TXDate':
        description: First TX date information for this episode
        format: date-time
        type: string
      'dc:date.firstTXDate':
        description: First TX date information for this episode
        format: date-time
        type: string
      'dc:date.slotTXDate':
        description: Current TX date information for this slot's episode
        format: date-time
        type: string
      'dc:relataion.BrandTitle':
        description: Title for the brand that the clip is associated with (directly or indirectly)
        type: string
      'dc:relataion.BrandWebSafeTitle':
        description: Web-safe title for the brand that the clip is associated with (directly or indirectly)
        type: string
      'dc:relation.4oDProgrammeCount':
        description: 'The number of 4oD available programmes in the collection, including all Brand/Series/Episodes.'
        type: integer
      'dc:relation.AgeRating':
        description: 'Channel 4-specific recommended lower age-limit for viewers (0, 16 or 18)'
        type: integer
      'dc:relation.AllProgrammeCount':
        description: Number of available brands in this category (all programmes)
        type: integer
      'dc:relation.AudioDescription':
        description: Boolean indicating if an audio description is available for this episode
        type: boolean
      'dc:relation.BrandTitle':
        description: Title of brand
        type: string
      'dc:relation.BrandWebSafeTitle':
        description: Programme's Brand name in Web safe format
        type: string
      'dc:relation.BrandWebsafeTitle':
        description: The associated brand web-safe title
        type: string
      'dc:relation.CategoryOrder':
        description: 'Enumerated order of category within its type (e.g., ''Channel'' might have Food=1, More4=2, etc.) (Appears in feed only if CategoryType<>''None''.)'
        type: integer
      'dc:relation.CategoryType':
        description: 'Type to which the category belongs (if applicable). (Valid values are ''Channel'', ''Display'' or ''None''.)'
        type: string
      'dc:relation.Duration':
        description: Length in minutes and seconds - does not include ad breaks
        type: string
      'dc:relation.EpisodeNumber':
        description: The episode number within the series
        type: integer
      'dc:relation.ExternalVideoId':
        description: This is the clip asset id (from column CLIP_ASSET.ASSET_ID. For the current implementation this is the Brightcove Id.
        type: integer
      'dc:relation.Guidance':
        description: 'Channel 4-specific warning text about specific disturbing content, adult humour, nudity, etc., if applicable'
        type: string
      'dc:relation.LastChannel':
        description: The channel on which the previous TX from this brand(if applicable)
        type: string
      'dc:relation.LoginRequired':
        description: Boolean indicating if the user has to be logged-in in order to play this episode.
        type: boolean
      'dc:relation.Movie':
        description: Boolean indicating if the SLOT is a Movie or not.
        type: boolean
      'dc:relation.NextChannel':
        description: The channel on which the next TX from this brand (if applicable)
        type: string
      'dc:relation.ParentCollectionId':
        description: The ID of the Parent Collection where the resource is assigned to.
        type: string
      'dc:relation.Platform':
        description: The platform code that this episode is available on
        type: string
      'dc:relation.ProgrammeType':
        description: "Displays metadata code (as detailed in the following table)\_in a meaningful way on the application according to the specified programme type."
        type: string
      'dc:relation.RelatedEntryId':
        description: The episode guide entry related to this episode
        type: string
      'dc:relation.Repeat':
        description: Boolean indicating if the Slot includes an indicator marked as repeat.
        type: boolean
      'dc:relation.SeriesNumber':
        description: The series to which this episode belongs
        type: integer
      'dc:relation.Signing':
        description: 'Boolean value is true if signing slot_indicator exists for this slot, otherwise false.'
        type: boolean
      'dc:relation.SimulcastRights':
        description: Boolean indicating if the episode has rights to be streamed on the live simulcast service.
        type: boolean
      'dc:relation.Subtitles':
        description: Boolean indicating if subtitles are available for this episode
        type: boolean
      'dc:relation.Synopsys':
        description: The synopsis of this brand
        type: string
      'dc:relation.TXChannel':
        description: First TX channel information for this episode
        type: string
      'dc:relation.TXStartTime':
        description: Start date and time of the broadcast
        type: string
      'dc:relation.WideScreen':
        description: 'Boolean value is true if widescreen slot_indicator exists for this slot, otherwise false'
        type: boolean
      'dc:relation.comingSoonTo4oD':
        description: If the brand is coming to be available on 4oD soon this empty element should be included.
        type: string
      'dc:relation.firstTXChannel':
        description: First TX channel information for this episode
        type: string
      'dc:relation.hd':
        description: Boolean indicating if the SLOT is HD on linear
        type: boolean
      'dc:relation.platformClientVersion':
        description: Identifies the version of the client application compatible with this feed.
        type: number
      'dc:relation.programmeId':
        description: The contract number/programme number for episode.
        type: string
      'dc:relation.requestType':
        description: Indicates catchup or archive content
        enum:
          - ARCHIVE
          - CATCHUP
        type: string
      'dc:relation.resourceType':
        description: The type of the entry
        type: string
      'dc:relation.slotTXChannel':
        description: Current TX channel information for this slot's episode
        type: string
      'dc:relation.sortLetter':
        description: Starting letter for this programme
        type: string
      'dc:relation.sortOrder':
        description: Starting letter for this programme
        type: integer
      'dcterms:available':
        description: "Start date, end date and date/time format for the period of time when episode is available.\_ (This feed would not be available if the current date is outside the start and end dates.)"
        type: string
      generator:
        description: Identifies the agent used to generate the feed
        type: string
      generator@version:
        description: Identifies the version of the agent used to generate the feed
        type: number
      id:
        description: ID of entry
        type: string
      link@EpisodeUrl:
        description: 'Episode URL, if applicable'
        format: uri
        type: string
      link@alternate:
        description: 'URL to HTML version, i.e., player page'
        format: uri
        type: string
      link@rel=alternate @type=text:
        properties:
          html:
            description: URL to HTML version of brand (if available)
            format: uri
            type: string
        type: object
      link@rel=related@title=4oD:
        description: URL of ATOM 4oD feed of current brand (if available)
        format: uri
        type: string
      link@rel=related@title=Clips:
        description: URL of ATOM Clips feed of current brand (if available)
        format: uri
        type: string
      link@rel=related@title=Episode Guide:
        description: URL of ATOM Episode Guide details feed of current brand (if available)
        format: uri
        type: string
      link@rel=self@type=application:
        properties:
          atom+xml:
            description: URL of ATOM feed of current brand
            format: uri
            type: string
        type: object
      link@related:
        description: 'URL to Episode Guide feed, if available'
        format: uri
        type: string
      link@related (4oD Programmes by TX Date):
        description: 4oD programmes in category by TX date
        format: uri
        type: string
      link@related (4oD Programmes by Title):
        description: 4oD programmes in category by title
        format: uri
        type: string
      link@related (4oD):
        description: 'URL to HTML version of 4oD page for this episode, if available'
        format: uri
        type: string
      link@related (All Programmes by Title):
        description: All programmes in category by title
        format: uri
        type: string
      link@related (Clips):
        description: URL to feed of video clips for this series
        format: uri
        type: string
      link@related (Episode Guide):
        description: 'URL to feed of full episode, if available'
        format: uri
        type: string
      link@related (Official Site):
        description: 'URL to the brand''s official site, if available'
        type: string
      link@relative (4oD):
        description: 'URL to 4oD feed, if available (self-referential in 4oD feeds)'
        format: uri
        type: string
      link@relative (Clips):
        description: 'URL to short-form video feed, if available'
        format: uri
        type: string
      link@relative (Episode Guide):
        description: 'URL to Episode Guide feed, if available'
        format: uri
        type: string
      link@relative (Official Site):
        description: 'URL to the brand''s official site, if available'
        type: string
      link@self:
        description: URL to current feed of episode
        format: uri
        type: string
      link@up:
        description: Parent brand feed URL
        format: uri
        type: string
      'media:content':
        properties:
          'media:credit':
            description: List of credits/cast for the episode
            type: string
          'media:thumbnail':
            description: URL to medium-sized image of this episode
            type: string
        type: object
      'media:context':
        properties:
          'media:thumbnail':
            description: URL to medium-sized image of this brand
            type: string
        type: object
      'media:group':
        properties:
          'media:category':
            description: Defines the type of short-form item.
            type: string
          'media:content':
            properties:
              'dc:relation.AgeRating':
                description: 'Channel 4-specific recommended lower age-limit for viewers (0, 16 or 18)'
                type: integer
              'dc:relation.AudioDescription':
                description: Boolean indicating if an audio description is available for this episode
                type: boolean
              'dc:relation.Duration':
                description: Length in minutes and seconds - does not include ad breaks
                type: string
              'dc:relation.Guidance':
                description: 'Channel 4-specific warning text about specific disturbing content, adult humour, nudity, etc., if applicable'
                type: string
              'dc:relation.Subtitles':
                description: Boolean indicating if subtitles are available for this episode
                type: boolean
              'dc:relation.deliveryType':
                description: Indicates STREAMING or FOR DOWNLOAD content
                enum:
                  - STREAM
                  - DOWNLOAD
                type: string
              'dc:relation.requestType':
                description: Indicates catchup or archive content
                enum:
                  - ARCHIVE
                  - CATCHUP
                type: string
              'dcterms:available':
                description: "Start date, end date and date/time format for the period of time when episode is available.\_ (This feed would not be available if the current date is outside the start and end dates.)"
                type: string
              'media:copyright':
                description: Link to copyright / T&C information
                type: string
              'media:player':
                description: URL to media-player version of episode
                format: uri
                type: string
              'media:rating':
                description: Flag to show whether episode is suitable for adults only ("adult") or for all viewers ("nonadult")
                type: string
              'media:restriction':
                description: Restriction flag ("allow") and list of country or state codes where episode is accessible to website users
                type: string
              'media:rights':
                description: Status of media rights under which Channel 4 provides episode content
                type: string
              'media:thumbnail':
                description: URL to medium-sized image of this episode
                type: string
            type: object
          'media:copyright':
            description: Link to copyright / T&C information
            type: string
          'media:player':
            description: URL to media-player version of episode
            format: uri
            type: string
          'media:rating':
            description: Flag to show whether episode is suitable for adults only ("adult") or for all viewers ("nonadult")
            type: string
          'media:restriction':
            description: Restriction flag ("allow") and list of country or state codes where episode is accessible to website users
            type: string
          'media:rights':
            description: Status of media rights under which Channel 4 provides episode content
            type: string
          'media:thumbnail':
            description: URL to medium-sized image of this episode
            type: string
        type: object
      'media:thumbnail':
        description: URL to medium sized image of this series
        type: string
      subtitle:
        description: The synopsis of the series.
        type: string
      summary:
        description: Synopsis of episode
        type: string
      title:
        description: Title of episode
        type: string
      updated:
        description: Date & time entry last updated
        format: date-time
        type: string
    type: object
  feed:
    additionalProperties: true
    properties:
      Entry Elements:
        description: "Element Description Example Value id ID containing Brand Web Safe Name tag:www.channel4.com,2009:/brand/inside-natures-giants title Programme's Brand Name Inside Nature's Giants summary Synopsis of this brand The award-winning series that gets under the skin of the largest animals on the planet. Most wildlife documentaries show how animals behave, but by exploring their anatomy, Inside Nature's Giants reveals how these creatures really work. updated Date and time element last updated 2010-10-18T10:08:44.295Z dc:relation.sortLetter\_ Starting letter for this programme I dc:relation.ProgrammeType\_ Displays metadata code (as detailed in the following table) in a meaningful way on the application according to the specified programme type. SSU dc:date.TXDate\_ Transmission date of the programme 2010-10-18T10:30:00.000Z media:content / media:thumbnail URL to medium-sized image of this brand url=\"http://www.channel4.com/assets/programmes/images/inside-natures-giants/7eb0ec03-1321-4532-bf51-cb2af0d9d528_145x82.jpg\" height=\"82\" width=\"145\" link@alternate URL to HTML version of brand http://www.channel4.com/programmes/inside-natures-giants link@self URL to the Channel 4 XML feed for this brand http://api.channel4.com/pmlsd/inside-natures-giants.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx link@related (Official Site) URL to the brand's official site, if available link@related (4oD) URL to 4oD feed, if available (self-referential in 4oD feeds) http://api.channel4.com/pmlsd/inside-natures-giants/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx link@related (Clips) URL to short-form video feed, if available http://api.channel4.com/pmlsd/inside-natures-giants/video.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx link@related (Episode Guide) URL to Episode Guide feed, if available http://api.channel4.com/pmlsd/inside-natures-giants/episode-guide.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
        type: string
      Link@Related title="4oD":
        description: 'URL to Brand 4oD feed, if available'
        format: uri
        type: string
      author:
        properties:
          name:
            description: Author / owner of feed
            type: string
        type: object
      category (primary):
        description: Primary category (brand must have ONE)
        type: string
      category (secondary):
        description: Secondary category (brand may have any number)
        type: string
      'dc:date.TXDate':
        description: First TX date information for this episode
        format: date-time
        type: string
      'dc:date.firstTXDate':
        description: First TX date information for this episode
        format: date-time
        type: string
      'dc:relation.4oDProgrammeCount':
        description: Number of available 4oD episodes for this Brand
        type: integer
      'dc:relation.4oDSeriesCount':
        description: Number of available 4oD series for this Brand
        type: integer
      'dc:relation.AgeRating':
        description: 'Channel 4-specific recommended lower age-limit for viewers (0, 16 or 18)'
        type: integer
      'dc:relation.AllProgrammeCount':
        description: Number of available brands in this category beginning with this letter (all programmes)
        type: integer
      'dc:relation.AudioDescription':
        description: Boolean indicating if an audio description is available for this episode
        type: boolean
      'dc:relation.BrandFlattened':
        description: Boolean indicating if this is a flattened brand
        type: boolean
      'dc:relation.BrandTitle':
        description: Title of the brand for this feed
        type: string
      'dc:relation.BrandWebSafeTitle':
        description: 'Title of the brand safe for web linking (no whitespaces, no special chars...)'
        type: string
      'dc:relation.CategoryOrder':
        description: 'Enumerated order of category within its type(e.g., ''Channel'' might have Food=1, More4=2, etc.)(Appears in feed only if CategoryType<>''None''.)'
        type: integer
      'dc:relation.CategoryType':
        description: 'Type to which the category belongs (if applicable).(Valid values are ''Channel'', ''Display'' or ''None''.)'
        type: string
      'dc:relation.Duration':
        description: Duration in minutes and seconds
        type: string
      'dc:relation.EpisodeNumber':
        description: Episode number within this series
        type: integer
      'dc:relation.ExternalVideoId':
        description: Clip Asset_id value from the Clip table (a.k.a. Brightcode id).
        type: string
      'dc:relation.Guidance':
        description: 'Channel 4-specific warning text about specific disturbing content, adult humour, nudity, etc., if applicable'
        type: string
      'dc:relation.LoginRequired':
        description: Boolean indicating if the user has to be logged-in in order to play this episode.
        type: boolean
      'dc:relation.New4oDSeriesAvailable':
        description: Flags that notifies clients when a Brand contains NEW series.
        type: boolean
      'dc:relation.ParentCollectionId':
        description: The ID of the Parent Collection where the resource is assigned to.
        type: string
      'dc:relation.ProgrammeType':
        description: "Displays metadata code (as detailed in the following table)\_in a meaningful way on the application according to the specified programme type."
        type: string
      'dc:relation.RelatedEntryId':
        description: The episode guide entry related to this episode
        type: string
      'dc:relation.SeriesNumber':
        description: Series to which this episode belongs
        type: integer
      'dc:relation.Sharable':
        description: Boolean value indicating if clips for brand are sharable
        type: boolean
      'dc:relation.StartOffset':
        description: ''
        type: integer
      'dc:relation.Subtitles':
        description: Boolean indicating if subtitles are available for this episode
        type: boolean
      'dc:relation.Synopsis':
        description: Summary of this feed
        type: string
      'dc:relation.TXChannel':
        description: First TX channel information for this episode
        type: string
      'dc:relation.TotalResults':
        description: Number of entries what match the search-term
        type: integer
      'dc:relation.comingSoonTo4oD':
        description: If the brand is coming to be available on 4oD soon this empty element should be included.
        type: string
      'dc:relation.firstTXChannel':
        description: "Channel of first broadcast\_(optional).\_This is based on EPG or, when EPG data is not available for the episode, it can be set editorially (significant date)"
        type: string
      'dc:relation.firstTXDate':
        description: 'Date of first broadcast (optional). This is based on EPG or, when EPG data is not available for the episode, it can be set editorially (significant date)'
        format: date-time
        type: string
      'dc:relation.lastTXChannel':
        description: "Channel of last broadcast\_(optional).\_This is based on EPG ignoring repeats and giving preference to the channel that the brand is primarily targeted at (preferred channel)"
        type: string
      'dc:relation.lastTXDate':
        description: "Date of last broadcast\_(optional). This is based on EPG ignoring repeats and giving preference to the channel that the brand is primarily targeted at (preferred channel)"
        format: date-time
        type: string
      'dc:relation.platformClientVersion':
        description: Identifies the version of the client application compatible with this feed.
        type: number
      'dc:relation.presentationBrand':
        description: The presentation brand
        type: string
      'dc:relation.programmeId':
        description: Indicates the contract and programme numbers
        type: string
      'dc:relation.resourceType':
        description: The type of the entry
        type: string
      'dcterms:available':
        description: "Start date, end date and date/time format for the period of time when episode is available.\_ (This feed would not be available if the current date is outside the start and end dates.)"
        type: string
      'fh:complete':
        description: Presence of this element indicates no pagination
        type: string
      generator:
        description: Identifies the agent used to generate the feed
        type: string
      generator@version:
        description: Identifies the version of the agent used to generate the feed
        type: number
      id:
        description: 'Unique identifier of this feed, including the programmeId'
        type: string
      link@alternate:
        description: URL to HTML version of current feed
        format: uri
        type: string
      link@next:
        description: 'URL to next set of clips, if available'
        format: uri
        type: string
      link@previous:
        description: 'URL to previous set of clips, if available'
        format: uri
        type: string
      link@related:
        description: 4oD programmes in category by title
        format: uri
        type: string
      link@related (4oD Episode):
        description: URL to 4oD HTML (player page) if available
        format: uri
        type: string
      link@related (4oD):
        description: 'URL to 4oD feed, if available'
        format: uri
        type: string
      link@related (Clips):
        description: 'URL to Short form video feed, if available'
        format: uri
        type: string
      link@related (Episode Guide):
        description: 'URL to Episode Guide feed, if available'
        format: uri
        type: string
      link@self:
        description: URL of current feed
        format: uri
        type: string
      link@up:
        description: URL of parent feed
        format: uri
        type: string
      logo:
        description: Brand image URL
        format: uri
        type: string
      'media:group':
        properties:
          'media:category':
            description: 'Defines the type of short-form item. Its value can be one of the next: EXTRACT, PREVIEW, EXTRA, TRAILER'
            type: string
          'media:content':
            properties:
              'dc:relation.AgeRating':
                description: 'Channel 4-specific recommended lower age-limit for viewers (0, 16 or 18)'
                type: integer
              'dc:relation.AudioDescription':
                description: Boolean indicating if an audio description is available for this episode
                type: boolean
              'dc:relation.Duration':
                description: Length in minutes and seconds - does not include ad breaks
                type: string
              'dc:relation.Guidance':
                description: 'Channel 4-specific warning text about specific disturbing content, adult humour, nudity, etc., if applicable'
                type: string
              'dc:relation.Subtitles':
                description: Boolean indicating if subtitles are available for this episode
                type: boolean
              'dc:relation.deliveryType':
                description: Indicates STREAMING or FOR DOWNLOAD content
                enum:
                  - STREAM
                  - DOWNLOAD
                type: string
              'dc:relation.requestType':
                description: Indicates catchup or archive content
                enum:
                  - ARCHIVE
                  - CATCHUP
                type: string
              'dcterms:available':
                description: "Start date, end date and date/time format for the period of time when episode is available.\_ (This feed would not be available if the current date is outside the start and end dates.)"
                type: string
              'media:copyright':
                description: Link to copyright / T&C information
                type: string
              'media:player':
                description: URL to media-player version of episode
                format: uri
                type: string
              'media:rating':
                description: Flag to show whether episode is suitable for adults only ("adult") or for all viewers ("nonadult")
                type: string
              'media:restriction':
                description: Restriction flag ("allow") and list of country or state codes where episode is accessible to website users
                type: string
              'media:rights':
                description: Status of media rights under which Channel 4 provides episode content
                type: string
              'media:thumbnail':
                description: URL to medium-sized image of this episode
                type: string
            type: object
          'media:copyright':
            description: Link to copyright / T&C information
            type: string
          'media:player':
            description: URL to media-player version of full episode
            format: uri
            type: string
          'media:rating':
            description: Flag to show whether clip is suitable for adults only ("adult") or for all viewers ("nonadult")
            type: string
          'media:restriction':
            description: Restriction flag ("allow") and list of country or state codes where episode is accessible to website users
            type: string
          'media:rights':
            description: Status of media rights under which Channel 4 provides episode content
            type: string
          'media:thumbnail':
            description: URL to clip image
            type: string
        type: object
      'media:thumbnail':
        properties:
          'media:thumbnail':
            description: URL to medium-sized image of this episode
            type: string
        type: object
      subtitle:
        description: Synopsis of this brand
        type: string
      summary:
        description: Synopsis of episode
        type: string
      title:
        description: Title of brand for the programmeId
        type: string
      updated:
        description: Date & time feed last updated
        format: date-time
        type: string
    type: object
