swagger: '2.0'
schemes:
  - http
  - https
host: api.channel4.com
basePath: /pmlsd
info:
  contact:
    email: developer@channel4.co.uk
    name: Open C4 Project
    url: 'http://developer.channel4.com/'
  description: This is the place to come for all the technical details you need to power your applications with Channel 4's deep programmes data.
  license:
    name: Channel 4 API license
    url: 'http://developer.channel4.com/page/read/API_Terms_of_Use'
  termsOfService: 'http://developer.channel4.com/page/read/API_Terms_of_Use'
  title: Channel 4
  version: 1.0.0
  x-apiClientRegistration:
    url: 'http://developer.channel4.com/apps/register'
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'http://www.channel4.com/static/programmes/images/c4-atom-logo.gif'
  x-origin:
    format: swagger
    url: 'https://raw.githubusercontent.com/Mermade/openC4/master/c4Api/swagger.json'
    version: '2.0'
  x-providerName: channel4.com
externalDocs:
  description: Programmes API Guide
  url: 'http://developer.channel4.com/docs/read/ProgrammesAPIGuide'
consumes:
  - application/xml
produces:
  - application/xml
securityDefinitions:
  apikey:
    in: query
    name: apikey
    type: apiKey
security:
  - apikey: []
parameters:
  platform:
    description: The platform to use for the query. Alias 'client'.
    enum:
      - c4
      - ps3
      - yv
      - ios
      - p06
      - flashmobile
      - freesat
      - android
      - samsung
    in: query
    name: platform
    required: false
    type: string
tags:
  - description: Channel 4 data feeds
    name: discoveryresources
  - description: Channel 4 metadata
    name: metadataresources
paths:
  '/4od/episode-list/date/{yyyy}/{mm}/{dd}.atom':
    get:
      description: |-
        Information of daily broadcast content available on 4oD, according to 
          broadcast date

          http://api.channel4.com/pmlsd/4od/episode-list/date/[yyyy]/[mm]/[dd].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/4od/episode-list/date/2010/11/28.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Browse_by_Date_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - description: The date for which you wish to see programming information
          in: path
          name: yyyy
          required: true
          type: string
        - description: The date for which you wish to see programming information
          in: path
          name: mm
          required: true
          type: string
        - description: The date for which you wish to see programming information
          in: path
          name: dd
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Browse by Date Feed
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Browse_by_Date_Feed'
  /4od/episode-list/popular.atom:
    get:
      description: |-
        Information of the most popular content available on 4oD, according to user 
          data driven.

          http://api.channel4.com/pmlsd/4od/episode-list/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/4od/episode-list/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Most_Popular_Episodes_Feed
      parameters:
        - $ref: '#/parameters/platform'
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Most Popular Episodes Feed
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Most_Popular_Episodes_Feed'
  /4od/recently-added/videos.atom:
    get:
      description: |-
        A feed containing metadata about short-form content relating to 4oD Episodes 
          recently added to 4oD based on linear transmission. The entries for the 
          Clips Landing Feed contain references to each short-form asset. It will 
          return up to 20 entries.

          http://api.channel4.com/pmlsd/4od/recently-added/videos.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/4od/episode-list/videos.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Clips_Catch_Up_Feed
      parameters:
        - $ref: '#/parameters/platform'
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Clips Catch Up Feed
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Clips_Catch_Up_Feed'
  /atoz.atom:
    get:
      description: |-
        Lists Channel 4 programmes alphabetically from A to Z, providing the same 
          functionality and information as is available in the A to Z section of the 
          Channel 4 Programmes page, http://www.channel4.com/programmes.

          http://api.channel4.com/pmlsd/atoz.atom

          http://api.channel4.com/pmlsd/atoz.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: A_to_Z_Landing_Feed
      parameters:
        - $ref: '#/parameters/platform'
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: A to Z Landing Feed
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/DiscoveryResources/A_to_Z_Landing_Feed'
  '/atoz/{start_letter}.atom':
    get:
      description: |-
        Lists Channel 4 programmes whose names begin with the associated letter.

          http://api.channel4.com/pmlsd/atoz/start_letter.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/atoz/a.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: A_to_Z_Letter_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - description: The letter of the alphabet for which you seek associated Channel 4 programmes
          in: path
          name: start_letter
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: A to Z Letter Feed
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/DiscoveryResources/A_to_Z_Letter_Feed'
  '/atoz/{start_letter}/page-{pageno}.atom':
    get:
      description: |-
        Lists Channel 4 programmes whose names begin with the associated letter.

          http://api.channel4.com/pmlsd/atoz/start_letter/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/atoz/a.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: A_to_Z_Letter_Feed(2)
      parameters:
        - $ref: '#/parameters/platform'
        - description: The letter of the alphabet for which you seek associated Channel 4 programmes
          in: path
          name: start_letter
          required: true
          type: string
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: A to Z Letter Feed(2)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/DiscoveryResources/A_to_Z_Letter_Feed'
  /brands/4od.atom:
    get:
      description: "Lists all Channel 4 programmes available on 4oD.\_ By default, the programmes \n  are listed by title in alphabetical order (case unsensitive).\n\n  http://api.channel4.com/pmlsd/brands/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: 4oD_Title_All_Brands_Feed
      parameters:
        - $ref: '#/parameters/platform'
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Title All Brands Feed
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Title_All_Brands_Feed'
  '/brands/4od/page-{pageno}.atom':
    get:
      description: "Lists all Channel 4 programmes available on 4oD.\_ By default, the programmes \n  are listed by title in alphabetical order (case unsensitive).\n\n  http://api.channel4.com/pmlsd/brands/4od/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: 4oD_Title_All_Brands_Feed(2)
      parameters:
        - $ref: '#/parameters/platform'
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Title All Brands Feed(2)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Title_All_Brands_Feed'
  /brands/4od/popular.atom:
    get:
      description: |-
        Lists all Channel 4 programmes available on 4oD by popularity considering 
          the data gathered within the last 7 days.

          http://api.channel4.com/pmlsd/brands/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/brands/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Popular_All_Brands_Feed
      parameters:
        - $ref: '#/parameters/platform'
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Popular All Brands Feed
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Popular_All_Brands_Feed'
  '/brands/4od/popular/page-{pageno}.atom':
    get:
      description: |-
        Lists all Channel 4 programmes available on 4oD by popularity considering 
          the data gathered within the last 7 days.

          http://api.channel4.com/pmlsd/brands/4od/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/brands/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Popular_All_Brands_Feed(2)
      parameters:
        - $ref: '#/parameters/platform'
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Popular All Brands Feed(2)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Popular_All_Brands_Feed'
  /brands/popular.atom:
    get:
      description: |-
        Lists all Channel 4 programmes by popularity considering the data gathered 
          within the last 7 days.

          http://api.channel4.com/pmlsd/brands/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/brands/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Popular_Brands_Feed
      parameters:
        - $ref: '#/parameters/platform'
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Popular Brands Feed
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Popular_Brands_Feed'
  '/brands/popular/page-{pageno}.atom':
    get:
      description: |-
        Lists all Channel 4 programmes by popularity considering the data gathered 
          within the last 7 days.

          http://api.channel4.com/pmlsd/brands/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/brands/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Popular_Brands_Feed(2)
      parameters:
        - $ref: '#/parameters/platform'
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Popular Brands Feed(2)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Popular_Brands_Feed'
  /categories.atom:
    get:
      description: |-
        Lists Channel 4 programmes by category (/ tag).

          http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Categories_Landing_Feed
      parameters:
        - $ref: '#/parameters/platform'
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Categories Landing Feed
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Categories_Landing_Feed'
  '/categories/{category}.atom':
    get:
      description: "Lists all Channel 4 programmes associated with the specified category (tag).\_ \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: All_Programmes_by_TX_Date
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx )'
          in: path
          name: category
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: All Programmes by TX Date
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date'
  '/categories/{category}/4od.atom':
    get:
      description: "Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the\_programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: 4oD_Programmes_by_TX_Date
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Programmes by TX Date
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date'
  '/categories/{category}/4od/page-{pageno}.atom':
    get:
      description: "Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the\_programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/4od/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: 4oD_Programmes_by_TX_Date(4)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Programmes by TX Date(4)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date'
  '/categories/{category}/4od/popular.atom':
    get:
      description: |-
        Lists all Channel 4oD most popular brands for the given category within the 
          last 7 days, in order of popularity.

          http://api.channel4.com/pmlsd/categories/category/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Most_Popular_Brands_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Most Popular Brands Feed
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed'
  '/categories/{category}/4od/popular/page-{pageno}.atom':
    get:
      description: |-
        Lists all Channel 4oD most popular brands for the given category within the 
          last 7 days, in order of popularity.

          http://api.channel4.com/pmlsd/categories/category/4od/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Most_Popular_Brands_Feed(5)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Most Popular Brands Feed(5)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed'
  '/categories/{category}/4od/title.atom':
    get:
      description: |-
        Lists all Channel 4oD programmes associated with the specified category 
          (tag), alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/4od/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Programmes_by_Title
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Programmes by Title
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title'
  '/categories/{category}/4od/title/page-{pageno}.atom':
    get:
      description: |-
        Lists all Channel 4oD programmes associated with the specified category 
          (tag), alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/4od/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Programmes_by_Title(4)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Programmes by Title(4)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title'
  '/categories/{category}/channel/{channel}.atom':
    get:
      description: "Lists all Channel 4 programmes associated with the specified category (tag).\_ \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: All_Programmes_by_TX_Date(2)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx )'
          in: path
          name: category
          required: true
          type: string
        - description: The name of the channel for which you seek associated Channel 4oD programmes
          enum:
            - c4
            - f4
            - e4
            - m4
            - 4m
            - 4s
          in: path
          name: channel
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: All Programmes by TX Date(2)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date'
  '/categories/{category}/channel/{channel}/4od.atom':
    get:
      description: "Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the\_programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: 4oD_Programmes_by_TX_Date(2)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
        - description: The name of the channel for which you seek associated Channel 4oD programmes
          enum:
            - c4
            - f4
            - e4
            - m4
            - 4m
            - 4s
          in: path
          name: channel
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Programmes by TX Date(2)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date'
  '/categories/{category}/channel/{channel}/4od/page-{pageno}.atom':
    get:
      description: "Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the\_programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: 4oD_Programmes_by_TX_Date(5)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
        - description: The name of the channel for which you seek associated Channel 4oD programmes
          enum:
            - c4
            - f4
            - e4
            - m4
            - 4m
            - 4s
          in: path
          name: channel
          required: true
          type: string
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Programmes by TX Date(5)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date'
  '/categories/{category}/channel/{channel}/4od/popular.atom':
    get:
      description: |-
        Lists all Channel 4oD most popular brands for the given category within the 
          last 7 days, in order of popularity.

          http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Most_Popular_Brands_Feed(3)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
        - description: The name of the channel for which you seek associated Channel 4oD programmes
          enum:
            - c4
            - f4
            - e4
            - m4
            - 4m
            - 4s
          in: path
          name: channel
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Most Popular Brands Feed(3)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed'
  '/categories/{category}/channel/{channel}/4od/popular/page-{pageno}.atom':
    get:
      description: |-
        Lists all Channel 4oD most popular brands for the given category within the 
          last 7 days, in order of popularity.

          http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Most_Popular_Brands_Feed(7)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
        - description: The name of the channel for which you seek associated Channel 4oD programmes
          enum:
            - c4
            - f4
            - e4
            - m4
            - 4m
            - 4s
          in: path
          name: channel
          required: true
          type: string
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Most Popular Brands Feed(7)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed'
  '/categories/{category}/channel/{channel}/4od/title.atom':
    get:
      description: |-
        Lists all Channel 4oD programmes associated with the specified category 
          (tag), alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Programmes_by_Title(2)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
        - description: The name of the channel for which you seek associated Channel 4oD programmes
          enum:
            - c4
            - f4
            - e4
            - m4
            - 4m
            - 4s
          in: path
          name: channel
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Programmes by Title(2)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title'
  '/categories/{category}/channel/{channel}/4od/title/page-{pageno}.atom':
    get:
      description: |-
        Lists all Channel 4oD programmes associated with the specified category 
          (tag), alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Programmes_by_Title(5)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
        - description: The name of the channel for which you seek associated Channel 4oD programmes
          enum:
            - c4
            - f4
            - e4
            - m4
            - 4m
            - 4s
          in: path
          name: channel
          required: true
          type: string
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Programmes by Title(5)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title'
  '/categories/{category}/channel/{channel}/page-{pageno}.atom':
    get:
      description: "Lists all Channel 4 programmes associated with the specified category (tag).\_ \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: All_Programmes_by_TX_Date(5)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx )'
          in: path
          name: category
          required: true
          type: string
        - description: The name of the channel for which you seek associated Channel 4oD programmes
          enum:
            - c4
            - f4
            - e4
            - m4
            - 4m
            - 4s
          in: path
          name: channel
          required: true
          type: string
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: All Programmes by TX Date(5)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date'
  '/categories/{category}/channel/{channel}/title.atom':
    get:
      description: |-
        Lists all Channel 4 programmes associated with the specified category (tag), 
          alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/channel/[channel]/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: All_Programmes_by_Title(2)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
        - description: The name of the channel for which you seek associated Channel 4oD programmes
          enum:
            - c4
            - f4
            - e4
            - m4
            - 4m
            - 4s
          in: path
          name: channel
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: All Programmes by Title(2)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title'
  '/categories/{category}/channel/{channel}/title/page-{pageno}.atom':
    get:
      description: |-
        Lists all Channel 4 programmes associated with the specified category (tag), 
          alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/channel/[channel]/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: All_Programmes_by_Title(5)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
        - description: The name of the channel for which you seek associated Channel 4oD programmes
          enum:
            - c4
            - f4
            - e4
            - m4
            - 4m
            - 4s
          in: path
          name: channel
          required: true
          type: string
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: All Programmes by Title(5)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title'
  '/categories/{category}/derived/ad.atom':
    get:
      description: "Lists all Channel 4 programmes associated with the specified category (tag).\_ \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: All_Programmes_by_TX_Date(3)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx )'
          in: path
          name: category
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: All Programmes by TX Date(3)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date'
  '/categories/{category}/derived/ad/4od.atom':
    get:
      description: "Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the\_programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: 4oD_Programmes_by_TX_Date(3)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Programmes by TX Date(3)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date'
  '/categories/{category}/derived/ad/4od/page-{pageno}.atom':
    get:
      description: "Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the\_programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: 4oD_Programmes_by_TX_Date(6)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Programmes by TX Date(6)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date'
  '/categories/{category}/derived/ad/4od/popular.atom':
    get:
      description: |-
        Lists all Channel 4oD most popular brands for the given category within the 
          last 7 days, in order of popularity.

          http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Most_Popular_Brands_Feed(4)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Most Popular Brands Feed(4)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed'
  '/categories/{category}/derived/ad/4od/popular/page-{pageno}.atom':
    get:
      description: |-
        Lists all Channel 4oD most popular brands for the given category within the 
          last 7 days, in order of popularity.

          http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Most_Popular_Brands_Feed(8)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Most Popular Brands Feed(8)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed'
  '/categories/{category}/derived/ad/4od/title.atom':
    get:
      description: |-
        Lists all Channel 4oD programmes associated with the specified category 
          (tag), alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Programmes_by_Title(3)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Programmes by Title(3)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title'
  '/categories/{category}/derived/ad/4od/title/page-{pageno}.atom':
    get:
      description: |-
        Lists all Channel 4oD programmes associated with the specified category 
          (tag), alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Programmes_by_Title(6)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Programmes by Title(6)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title'
  '/categories/{category}/derived/ad/page-{pageno}.atom':
    get:
      description: "Lists all Channel 4 programmes associated with the specified category (tag).\_ \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: All_Programmes_by_TX_Date(6)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx )'
          in: path
          name: category
          required: true
          type: string
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: All Programmes by TX Date(6)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date'
  '/categories/{category}/derived/ad/title.atom':
    get:
      description: |-
        Lists all Channel 4 programmes associated with the specified category (tag), 
          alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/derived/ad/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: All_Programmes_by_Title(3)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: All Programmes by Title(3)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title'
  '/categories/{category}/derived/ad/title/page-{pageno}.atom':
    get:
      description: |-
        Lists all Channel 4 programmes associated with the specified category (tag), 
          alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/derived/ad/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: All_Programmes_by_Title(6)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: All Programmes by Title(6)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title'
  '/categories/{category}/page-{pageno}.atom':
    get:
      description: "Lists all Channel 4 programmes associated with the specified category (tag).\_ \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: All_Programmes_by_TX_Date(4)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx )'
          in: path
          name: category
          required: true
          type: string
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: All Programmes by TX Date(4)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date'
  '/categories/{category}/popular.atom':
    get:
      description: |-
        Lists all Channel 4oD most popular brands for the given category within the 
          last 7 days, in order of popularity.

          http://api.channel4.com/pmlsd/categories/category/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Most_Popular_Brands_Feed(2)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Most Popular Brands Feed(2)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed'
  '/categories/{category}/popular/page-{pageno}.atom':
    get:
      description: |-
        Lists all Channel 4oD most popular brands for the given category within the 
          last 7 days, in order of popularity.

          http://api.channel4.com/pmlsd/categories/category/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Most_Popular_Brands_Feed(6)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4oD programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Most Popular Brands Feed(6)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed'
  '/categories/{category}/title.atom':
    get:
      description: |-
        Lists all Channel 4 programmes associated with the specified category (tag), 
          alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: All_Programmes_by_Title
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: All Programmes by Title
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title'
  '/categories/{category}/title/page-{pageno}.atom':
    get:
      description: |-
        Lists all Channel 4 programmes associated with the specified category (tag), 
          alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: All_Programmes_by_Title(4)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)'
          in: path
          name: category
          required: true
          type: string
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: All Programmes by Title(4)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title'
  '/collections/{collection_name}.atom':
    get:
      description: "Collections are editorially controlled groups of brands, series, episodes or \n  other collections used for promotion and discovery of content. A SIMPLE \n  collection can contain an assortment of Brands, Series, Episodes or Freeform \n  items.\_A GROUP collection contains other collections.\n\n  http://api.channel4.com/pmlsd/collections/collection_name.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/collections/4od-home-promo/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: Collections_Feed(2)
      parameters:
        - $ref: '#/parameters/platform'
        - description: Web safe title for the collection.
          in: path
          name: collection_name
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Collections Feed(2)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Collections_Feed'
  '/collections/{collection_name}/4od.atom':
    get:
      description: "Collections are editorially controlled groups of brands, series, episodes or \n  other collections used for promotion and discovery of content. A SIMPLE \n  collection can contain an assortment of Brands, Series, Episodes or Freeform \n  items.\_A GROUP collection contains other collections.\n\n  http://api.channel4.com/pmlsd/collections/collection_name/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/collections/4od-home-promo/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: Collections_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - description: Web safe title for the collection.
          in: path
          name: collection_name
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Collections Feed
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Collections_Feed'
  '/collections/{collection_name}/flattened.atom':
    get:
      description: |-
        The Flattened Collections Feed is only applicable for GROUP collections and 
          its purpose is mainly return 3 items (BRAND, SERIES or EPSIODE) of each of 
          the simple collections assigned to the GROUP.

          http://api.channel4.com/pmlsd/collections/collection_name/flattened.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/collections/4od-home-promo/flattened/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Flattened_Collection_Feed(2)
      parameters:
        - $ref: '#/parameters/platform'
        - description: Web safe title for the collection.
          in: path
          name: collection_name
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Flattened Collection Feed(2)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Flattened_Collection_Feed'
  '/collections/{collection_name}/flattened/4od.atom':
    get:
      description: |-
        The Flattened Collections Feed is only applicable for GROUP collections and 
          its purpose is mainly return 3 items (BRAND, SERIES or EPSIODE) of each of 
          the simple collections assigned to the GROUP.

          http://api.channel4.com/pmlsd/collections/collection_name/flattened/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/collections/4od-home-promo/flattened/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Flattened_Collection_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - description: Web safe title for the collection.
          in: path
          name: collection_name
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Flattened Collection Feed
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Flattened_Collection_Feed'
  /coming-soon.atom:
    get:
      description: |-
        Coming Soon feed display a list of episodes coming soon to linear TV so that 
          I can promote new Channel 4 content.

          http://api.channel4.com/pmlsd/coming-soon.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/coming-soon.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Coming_Soon_feed
      parameters:
        - $ref: '#/parameters/platform'
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Coming Soon feed
      tags:
        - metadataresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Coming_Soon_feed'
  '/coming-soon/{category}.atom':
    get:
      description: |-
        Coming Soon feed display a list of episodes coming soon to linear TV so that 
          I can promote new Channel 4 content.

          http://api.channel4.com/pmlsd/coming-soon/[category].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/coming-soon.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Coming_Soon_feed(2)
      parameters:
        - $ref: '#/parameters/platform'
        - description: The category websafe_title to filter the coming soon programmes on TV.
          in: path
          name: category
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Coming Soon feed(2)
      tags:
        - metadataresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Coming_Soon_feed'
  '/programme/{programme-id}.atom':
    get:
      description: "A feed containing all long-form content currently or previously available \n  for a specified Programme Id.\_The entries for the Programme feed contain \n  references to long-form assets for each platform.\n\n  http://api.channel4.com/pmlsd/programme/[programme-id].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/programme/33881-001/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: Programme_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - description: The websafe programme identifier for the episode for which you seek on-demand content
          in: path
          name: programme-id
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Programme Feed
      tags:
        - metadataresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Programme_Feed'
  /search.atom:
    get:
      description: |-
        Lists all Channel 4 programmes where title (brand name) matching the search 
          term. Matches are made from the beginning of individual words in the title.

          http://api.channel4.com/pmlsd/search.atom?q=search-term&apikey=xxx

          http://api.channel4.com/pmlsd/search.atom?q=the+it+crowd&apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Search_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The programme name to look for, minimum length: 2 chars.Looking for programme names with special chars might be URL encoded.'
          in: query
          name: q
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Search Feed
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Search_Feed'
  '/search/page-{pageno}.atom':
    get:
      description: |-
        Lists all Channel 4 programmes where title (brand name) matching the search 
          term. Matches are made from the beginning of individual words in the title.

          http://api.channel4.com/pmlsd/search/page-{pageno}.atom?q=search-term&apikey=xxx

          http://api.channel4.com/pmlsd/search.atom?q=the+it+crowd&apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Search_Feed(3)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The programme name to look for, minimum length: 2 chars.Looking for programme names with special chars might be URL encoded.'
          in: query
          name: q
          required: true
          type: string
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Search Feed(3)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Search_Feed'
  '/search/{q}.atom':
    get:
      description: |-
        Lists all Channel 4 programmes where title (brand name) matching the search 
          term. Matches are made from the beginning of individual words in the title.

          http://api.channel4.com/pmlsd/search/search-term.atom?apikey=xxx

          http://api.channel4.com/pmlsd/search.atom?q=the+it+crowd&apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Search_Feed(2)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The programme name to look for, minimum length: 2 chars.Looking for programme names with special chars might be URL encoded.'
          in: path
          name: q
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Search Feed(2)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Search_Feed'
  '/search/{q}/page-{pageno}.atom':
    get:
      description: |-
        Lists all Channel 4 programmes where title (brand name) matching the search 
          term. Matches are made from the beginning of individual words in the title.

          http://api.channel4.com/pmlsd/search/search-term/page-{pageno}.atom?apikey=xxx

          http://api.channel4.com/pmlsd/search.atom?q=the+it+crowd&apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Search_Feed(4)
      parameters:
        - $ref: '#/parameters/platform'
        - description: 'The programme name to look for, minimum length: 2 chars.Looking for programme names with special chars might be URL encoded.'
          in: path
          name: q
          required: true
          type: string
        - description: Page number of results to return
          in: path
          name: pageno
          required: true
          type: integer
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Search Feed(4)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Search_Feed'
  '/tv-listings/daily/{yyyy}/{mm}/{dd}.atom':
    get:
      description: |-
        EPG Information of daily broadcast content aired per channels, according to 
          broadcast date

          http://api.channel4.com/pmlsd/tv-listings/daily/[yyyy]/[mm]/[dd].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/tv-listings/daily/2010/11/28.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: TV_Listings_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - description: The date for which you wish to see programming information. Note the schedule days start from 6am and run until 6am on the next calendar day.
          in: path
          name: yyyy
          required: true
          type: string
        - description: The date for which you wish to see programming information. Note the schedule days start from 6am and run until 6am on the next calendar day.
          in: path
          name: mm
          required: true
          type: string
        - description: The date for which you wish to see programming information. Note the schedule days start from 6am and run until 6am on the next calendar day.
          in: path
          name: dd
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: TV Listings Feed
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/TV_Listings_Feed'
  '/tv-listings/daily/{yyyy}/{mm}/{dd}/{channel}.atom':
    get:
      description: |-
        EPG Information of daily broadcast content aired per channels, according to 
          broadcast date

          http://api.channel4.com/pmlsd/tv-listings/daily/[yyyy]/[mm]/[dd]/[channel].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/tv-listings/daily/2010/11/28.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: TV_Listings_Feed(2)
      parameters:
        - $ref: '#/parameters/platform'
        - description: The date for which you wish to see programming information. Note the schedule days start from 6am and run until 6am on the next calendar day.
          in: path
          name: yyyy
          required: true
          type: string
        - description: The date for which you wish to see programming information. Note the schedule days start from 6am and run until 6am on the next calendar day.
          in: path
          name: mm
          required: true
          type: string
        - description: The date for which you wish to see programming information. Note the schedule days start from 6am and run until 6am on the next calendar day.
          in: path
          name: dd
          required: true
          type: string
        - description: 'The EPG for a specific channel (c4, e4, m4, 4m, f4, 4s)'
          enum:
            - c4
            - f4
            - e4
            - m4
            - 4m
            - 4s
          in: path
          name: channel
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: TV Listings Feed(2)
      tags:
        - discoveryresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/TV_Listings_Feed'
  '/{brand-web-safe-title}.atom':
    get:
      description: |-
        The basis for all brand information

          http://api.channel4.com/pmlsd/brand-web-safe-title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/the-it-crowd.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Hub_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - description: The title of the programme for which you seek associated data
          in: path
          name: brand-web-safe-title
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Hub Feed
      tags:
        - metadataresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Hub_Feed'
  '/{brand-web-safe-title}/4od.atom':
    get:
      description: |-
        A feed containing all available on-demand long-form content for a specified 
          brand. The entries for the 4oD feed contain references to each long-form 
          asset for a brand, ordered by series number and episode number.

          http://api.channel4.com/pmlsd/[brand-web-safe-title]/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/the-it-crowd/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - description: The title of the programme for which you seek on-demand content
          in: path
          name: brand-web-safe-title
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: 4oD Feed
      tags:
        - metadataresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/4oD_Feed'
  '/{brand-web-safe-title}/epg.atom':
    get:
      description: |-
        This feed contains metadata about upcoming electronic programme guide (EPG) 
          information for a brand. The entry details upcoming transmission slots for 
          this brand.

          http://api.channel4.com/pmlsd/brand-web-safe-title/epg.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/the-simpsons/epg.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Brand_EPG_Atom_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - description: Title of the programme for which you seek EPG information
          in: path
          name: brand-web-safe-title
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Brand EPG Atom Feed
      tags:
        - metadataresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Brand_EPG_Atom_Feed'
  '/{brand-web-safe-title}/episode-guide.atom':
    get:
      description: |-
        A feed containing metadata about all series for a specified brand. The 
          entries in this feed contain references to each of the series (where 
          metadata has been published), with some convenient links.

          http://api.channel4.com/pmlsd/brand-web-safe-title/episode-guide.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/father-ted/episode-guide.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Episode_Guide_Feed_Series_Landing
      parameters:
        - $ref: '#/parameters/platform'
        - description: The title of the programme for which you seek episode-guide information
          in: path
          name: brand-web-safe-title
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Episode Guide Feed Series Landing
      tags:
        - metadataresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Episode_Guide_Feed_Series_Landing'
  '/{brand-web-safe-title}/episode-guide/series-{series_number}.atom':
    get:
      description: |-
        A feed containing metadata about all the episodes for a specific series. The 
          entries in this feed contain references to each of the episodes (where 
          metadata has been published), with some convenient links.

          http://api.channel4.com/pmlsd/brand-web-safe-title/episode-guide/series-series_number.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/chelmsford-123/episode-guide/series-1.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Episode_Guide_Feed_Series_Detail
      parameters:
        - $ref: '#/parameters/platform'
        - description: The title of the programme for which you seek series-related information
          in: path
          name: brand-web-safe-title
          required: true
          type: string
        - description: Unique enumerated identifier of the series within its brand
          in: path
          name: series_number
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Episode Guide Feed Series Detail
      tags:
        - metadataresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Episode_Guide_Feed_Series_Detail'
  '/{brand-web-safe-title}/episode-guide/series-{series_number}/episode-{episode_number}.atom':
    get:
      description: |-
        A feed containing metadata about a specified episode. (This feed does not 
          contain any entries and only contains a feed element regarding this 
          episode.)

          http://api.channel4.com/pmlsd/brand-web-safe-title/episode-guide/series-series_number/episode-episode_number.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/the-it-crowd/episode-guide/series-1/episode-1.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Episode_Guide_Feed_Episode_Detail
      parameters:
        - $ref: '#/parameters/platform'
        - description: Title of the brand to which the episode belongs
          in: path
          name: brand-web-safe-title
          required: true
          type: string
        - description: Unique enumerated identifier of the series within its brand to which the episode belongs
          in: path
          name: series_number
          required: true
          type: string
        - description: Unique enumerated identifier of the episode within its series
          in: path
          name: episode_number
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Episode Guide Feed Episode Detail
      tags:
        - metadataresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Episode_Guide_Feed_Episode_Detail'
  '/{brand-web-safe-title}/videos/all.atom':
    get:
      description: "A feed containing metadata about all the short-form (clip) videos. The clips \n  feed can be accessed at different levels: the content is then filtered \n  depending on the level, but the structure is identical.When accessed: from \n  the top, the feed contains all the clips for the brand;\_ at series level, \n  the feed contains only clips from the series; and\_ at episode level, the \n  feed contains only clips for the episode (and is very unlikely to require \n  pagination). The entries for the Clips Landing Feed contain references to \n  each short-form asset.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/videos/all.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/peep-show/videos.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: Clips_Landing_Feed_Brand_Series_and_Episode_Levels
      parameters:
        - $ref: '#/parameters/platform'
        - description: Title of brand to which clips belong
          in: path
          name: brand-web-safe-title
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Clips Landing Feed Brand Series and Episode Levels
      tags:
        - metadataresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Clips_Landing_Feed_Brand_Series_and_Episode_Levels'
  '/{brand-web-safe-title}/videos/series-{SERIES_SEQUENCE_NUMBER}.atom':
    get:
      description: "A feed containing metadata about all the short-form (clip) videos. The clips \n  feed can be accessed at different levels: the content is then filtered \n  depending on the level, but the structure is identical.When accessed: from \n  the top, the feed contains all the clips for the brand;\_ at series level, \n  the feed contains only clips from the series; and\_ at episode level, the \n  feed contains only clips for the episode (and is very unlikely to require \n  pagination). The entries for the Clips Landing Feed contain references to \n  each short-form asset.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/videos/series-SERIES_SEQUENCE_NUMBER.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/peep-show/videos.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: Clips_Landing_Feed_Brand_Series_and_Episode_Levels(2)
      parameters:
        - $ref: '#/parameters/platform'
        - description: Title of brand to which clips belong
          in: path
          name: brand-web-safe-title
          required: true
          type: string
        - description: Unique identifier of series to which clips belong
          in: path
          name: SERIES_SEQUENCE_NUMBER
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Clips Landing Feed Brand Series and Episode Levels(2)
      tags:
        - metadataresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Clips_Landing_Feed_Brand_Series_and_Episode_Levels'
  '/{brand-web-safe-title}/videos/series-{SERIES_SEQUENCE_NUMBER}/episode-{EPISODE_SEQUENCE_NUMBER}.atom':
    get:
      description: "A feed containing metadata about all the short-form (clip) videos. The clips \n  feed can be accessed at different levels: the content is then filtered \n  depending on the level, but the structure is identical.When accessed: from \n  the top, the feed contains all the clips for the brand;\_ at series level, \n  the feed contains only clips from the series; and\_ at episode level, the \n  feed contains only clips for the episode (and is very unlikely to require \n  pagination). The entries for the Clips Landing Feed contain references to \n  each short-form asset.\n\n  http://api.channel4.com/pmlsd/brand-web-safe-title/videos/series-SERIES_SEQUENCE_NUMBER/episode-EPISODE_SEQUENCE_NUMBER.atom?apikey=xxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/peep-show/videos.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx"
      operationId: Clips_Landing_Feed_Brand_Series_and_Episode_Levels(3)
      parameters:
        - $ref: '#/parameters/platform'
        - description: Title of brand to which clips belong
          in: path
          name: brand-web-safe-title
          required: true
          type: string
        - description: Unique identifier of series to which clips belong
          in: path
          name: SERIES_SEQUENCE_NUMBER
          required: true
          type: string
        - description: Unique identifier of episode to which clips belong
          in: path
          name: EPISODE_SEQUENCE_NUMBER
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Clips Landing Feed Brand Series and Episode Levels(3)
      tags:
        - metadataresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Clips_Landing_Feed_Brand_Series_and_Episode_Levels'
  '/{brand-web-safe-title}/videos/{clip-asset-id}.atom':
    get:
      description: |-
        A feed containing metadata about a single short-form video (clip).

          http://api.channel4.com/pmlsd/brand-web-safe-title/videos/clip-asset-id.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/the-it-crowd/videos/TCGS_CLIP_0000001015.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Clip_Detail_Atom_Feed
      parameters:
        - $ref: '#/parameters/platform'
        - description: Title of the brand for which you seek a clip
          in: path
          name: brand-web-safe-title
          required: true
          type: string
        - description: Asset id for this clip
          in: path
          name: clip-asset-id
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: Default response
          schema:
            $ref: '#/definitions/atom'
      summary: Clip Detail Atom Feed
      tags:
        - metadataresources
      x-documentation: 'http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Clip_Detail_Atom_Feed'
definitions:
  atom:
    additionalProperties: true
    properties:
      feed:
        $ref: '#/definitions/feed'
    required:
      - feed
    type: object
  entry:
    additionalProperties: true
    properties:
      Link@Related title="4oD":
        description: 'URL to Brand 4oD feed, if available'
        format: uri
        type: string
      Link@Related title="Episode Guide":
        description: URL to brand episode guide feed
        format: uri
        type: string
      dc.relation.sortLetter:
        description: Starting letter for this programme
        type: integer
      'dc:date.Last':
        description: Timestamp of the previous TX from this brand (if applicable)
        format: date-time
        type: string
      'dc:date.Next':
        description: Timestamp of the next TX from this brand (if applicable)
        format: date-time
        type: string
      'dc:date.TXDate':
        description: If this programme is available on 4oD then this element indicates the broadcast date/time of the episode selected for 4oD. If the programme is not on 4oD then this element is omitted.(Indicates whether pre- or post-watershed)
        format: date-time
        type: string
      'dc:date.firstTXDate':
        description: First TX date information for this episode
        format: date-time
        type: string
      'dc:date.slotTXDate':
        description: Current TX date information for this slot's episode
        format: date-time
        type: string
      'dc:relataion.BrandTitle':
        description: Title for the brand that the clip is associated with (directly or indirectly)
        type: string
      'dc:relataion.BrandWebSafeTitle':
        description: Web-safe title for the brand that the clip is associated with (directly or indirectly)
        type: string
      'dc:relation.4oDProgrammeCount':
        description: 'The number of 4oD available programmes in the collection, including all Brand/Series/Episodes.'
        type: integer
      'dc:relation.AgeRating':
        description: 'Channel 4-specific recommended lower age-limit for viewers (0, 16 or 18)'
        type: integer
      'dc:relation.AllProgrammeCount':
        description: Number of available brands in this category (all programmes)
        type: integer
      'dc:relation.AudioDescription':
        description: Boolean indicating if an audio description is available for this episode
        type: boolean
      'dc:relation.BrandTitle':
        description: Title of brand
        type: string
      'dc:relation.BrandWebSafeTitle':
        description: Programme's Brand name in Web safe format
        type: string
      'dc:relation.BrandWebsafeTitle':
        description: The associated brand web-safe title
        type: string
      'dc:relation.CategoryOrder':
        description: 'Enumerated order of category within its type (e.g., ''Channel'' might have Food=1, More4=2, etc.) (Appears in feed only if CategoryType<>''None''.)'
        type: integer
      'dc:relation.CategoryType':
        description: 'Type to which the category belongs (if applicable). (Valid values are ''Channel'', ''Display'' or ''None''.)'
        type: string
      'dc:relation.Duration':
        description: Length in minutes and seconds - does not include ad breaks
        type: string
      'dc:relation.EpisodeNumber':
        description: The episode number within the series.
        type: integer
      'dc:relation.ExternalVideoId':
        description: This is the clip asset id (from column CLIP_ASSET.ASSET_ID. For the current implementation this is the Brightcove Id.
        type: integer
      'dc:relation.Guidance':
        description: 'Channel 4-specific warning text about specific disturbing content, adult humour, nudity, etc., if applicable'
        type: string
      'dc:relation.LastChannel':
        description: The channel on which the previous TX from this brand(if applicable)
        type: string
      'dc:relation.LoginRequired':
        description: Boolean indicating if the requestType is ARCHIVE and the user needs to be logged in to watch.
        type: boolean
      'dc:relation.Movie':
        description: Boolean indicating if the SLOT is a Movie or not.
        type: boolean
      'dc:relation.NextChannel':
        description: The channel on which the next TX from this brand (if applicable)
        type: string
      'dc:relation.ParentCollectionId':
        description: The ID of the Parent Collection where the resource is assigned to.
        type: string
      'dc:relation.Platform':
        description: The platform code that this episode is available on
        type: string
      'dc:relation.ProgrammeType':
        description: "Displays metadata code (as detailed in the following table)\_in a meaningful way on the application according to the specified programme type."
        type: string
      'dc:relation.RelatedEntryId':
        description: The episode guide entry related to this episode
        type: string
      'dc:relation.Repeat':
        description: Boolean indicating if the Slot includes an indicator marked as repeat.
        type: boolean
      'dc:relation.SeriesNumber':
        description: The series to which this episode belongs.
        type: integer
      'dc:relation.Signing':
        description: 'Boolean value is true if signing slot_indicator exists for this slot, otherwise false.'
        type: boolean
      'dc:relation.SimulcastRights':
        description: Boolean indicating if the episode has rights to be streamed on the live simulcast service.
        type: boolean
      'dc:relation.Subtitles':
        description: Boolean indicating if subtitles are available for this episode
        type: boolean
      'dc:relation.Synopsys':
        description: The synopsis of this brand
        type: string
      'dc:relation.TXChannel':
        description: If this programme is available on 4oD then this element indicates the broadcast channel that the episode selected for 4oD. If the programme is not on 4oD then this element is omitted.
        type: string
      'dc:relation.TXStartTime':
        description: Start date and time of the broadcast
        type: string
      'dc:relation.WideScreen':
        description: 'Boolean value is true if widescreen slot_indicator exists for this slot, otherwise false'
        type: boolean
      'dc:relation.comingSoonTo4oD':
        description: If the brand is coming to be available on 4oD soon this empty element should be included.
        type: string
      'dc:relation.firstTXChannel':
        description: First TX channel information for this episode
        type: string
      'dc:relation.hd':
        description: Boolean indicating if the SLOT is HD on linear
        type: boolean
      'dc:relation.platformClientVersion':
        description: Identifies the version of the client application compatible with this feed.
        type: number
      'dc:relation.programmeId':
        description: The episode identifier.
        type: string
      'dc:relation.requestType':
        description: Indicates catchup or archive content
        enum:
          - ARCHIVE
          - CATCHUP
        type: string
      'dc:relation.resourceType':
        description: The type of the entry
        type: string
      'dc:relation.slotTXChannel':
        description: Current TX channel information for this slot's episode
        type: string
      'dc:relation.sortLetter':
        description: Starting letter for this programme
        type: string
      'dc:relation.sortOrder':
        description: Starting letter for this programme
        type: integer
      'dcterms:available':
        description: 'Start date, end date and date / time format for the period of time when episode is available on 4oD. This element is not returned if the programme is not currently available on 4oD.'
        type: string
      generator:
        description: Identifies the agent used to generate the feed
        type: string
      generator@version:
        description: Identifies the version of the agent used to generate the feed
        type: number
      id:
        description: ID of the entry
        type: string
      link@EpisodeUrl:
        description: 'Episode URL, if applicable'
        format: uri
        type: string
      link@alternate:
        description: URL to HTML version of episode (if available)
        format: uri
        type: string
      link@rel=alternate @type=text:
        properties:
          html:
            description: URL to HTML version of brand (if available)
            format: uri
            type: string
        type: object
      link@rel=related@title=4oD:
        description: URL of ATOM 4oD feed of current brand (if available)
        format: uri
        type: string
      link@rel=related@title=Clips:
        description: URL of ATOM Clips feed of current brand (if available)
        format: uri
        type: string
      link@rel=related@title=Episode Guide:
        description: URL of ATOM Episode Guide details feed of current brand (if available)
[...]
