openapi: 3.0.0
servers:
  - url: https://trashnothing.com/api/v1.3
info:
  contact:
    x-twitter: trashnothing
  description: |
    This is the REST API for [trashnothing.com](https://trashnothing.com).

    To learn more about the API or to register your app for use with the API
    visit the [trash nothing Developer page](https://trashnothing.com/developer).

    NOTE: All date-time values are [UTC](https://en.wikipedia.org/wiki/Coordinated_Universal_Time)
    and are in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601) (eg. 2019-02-03T01:23:53).
  termsOfService: https://trashnothing.com/tos
  title: trash nothing
  version: "1.3"
  x-apisguru-categories:
    - social
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_trashnothing_profile_image.png
  x-origin:
    - format: openapi
      url: http://trashnothing.com/api/trashnothing-openapi.yaml
      version: "3.0"
  x-providerName: trashnothing.com
security:
  - oauth2_implicit:
      - basic
  - oauth2_code:
      - basic
tags:
  - description: Retrieve and update user data.
    name: users
  - description: Retrieve and update posts.
    name: posts
  - description: Search, subscribe and unsubscribe to groups.
    name: groups
  - description: Upload, delete and rotate photos.
    name: photos
  - description: |
      Manage conversations and messages with other users. <br /><br /> It's important to note that messages are always sent by email to the users.   So it's possible to create a fully functional app using the trash nothing API without using any of the conversations or messages API endpoints.  These API endpoints are useful for developers who want to build a complete messaging interface into their app.
    name: messages
  - description: Retrieve and submit stories.
    name: stories
  - description: Miscellaneous functionality.
    name: misc
paths:
  /conversations:
    get:
      operationId: get_conversations
      parameters:
        - description: |
            Used to filter messases by category.  Must be set to one of the following three categories: inbox, archived, blocked
          in: query
          name: category
          required: false
          schema:
            default: inbox
            type: string
        - description: The page of conversations to return.
          in: query
          name: page
          required: false
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: The number of conversations to return per page (must be >= 1 and <= 30).
          in: query
          name: per_page
          required: false
          schema:
            default: 10
            maximum: 30
            minimum: 1
            type: integer
        - description: |
            The number of recent messages to return with each conversation. Additional messages can be retrieved using get conversation messages endpoint.
          in: query
          name: num_messages
          required: false
          schema:
            default: 10
            maximum: 30
            minimum: 0
            type: integer
        - description: |
            If set to 1, the num_unread field in the response will be set to the count of the total number of conversations that have unread messages. <br /><br /> This is useful for showing users the total number of unread messages that they have in their inbox. Calculating the count will slow the request down a bit so setting this should be avoided for requests where it's not needed (eg. requesting archived or blocked conversations or requests that are just paging through older conversations).
          in: query
          name: include_num_unread
          required: false
          schema:
            default: 0
            type: integer
        - description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          schema:
            default: 1
            type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  conversations:
                    items:
                      $ref: "#/components/schemas/Conversation"
                    type: array
                  num_unread:
                    description: |
                      If the include_num_unread parameter is set to 1, this will be set to the total number of conversations that have unread messages matching the query parameters of the request.  If the include_num_unread parameter is set to 0, this will be null.
                    type: integer
                  page:
                    type: integer
                  per_page:
                    type: integer
                type: object
          description: The conversations and paging data.
        "400":
          description: Invalid parameters.
      summary: List conversations
      tags:
        - messages
  /conversations/archive-all:
    put:
      operationId: archive_all_conversations
      requestBody:
        $ref: "#/components/requestBodies/mark_all_conversations_read"
      responses:
        "200":
          description: Conversations archived.
        "400":
          description: Invalid message_id.
      summary: Archive all conversations
      tags:
        - messages
  /conversations/mark-all-read:
    put:
      operationId: mark_all_conversations_read
      requestBody:
        $ref: "#/components/requestBodies/mark_all_conversations_read"
      responses:
        "200":
          description: Conversations marked as read.
        "400":
          description: Invalid message_id.
      summary: Mark all conversations as read
      tags:
        - messages
  /conversations/search:
    get:
      description: Searches all conversations except blocked conversations.
      operationId: search_conversations
      parameters:
        - description: The search query used to find conversations and messages.
          in: query
          name: search
          required: true
          schema:
            type: string
        - description: The page of conversations to return.
          in: query
          name: page
          required: false
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: The number of conversations to return per page (must be >= 1 and <= 30).
          in: query
          name: per_page
          required: false
          schema:
            default: 10
            maximum: 30
            minimum: 1
            type: integer
        - description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          schema:
            default: 1
            type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  conversations:
                    items:
                      $ref: "#/components/schemas/Conversation"
                    type: array
                  page:
                    type: integer
                  per_page:
                    type: integer
                  search:
                    type: string
                type: object
          description: The conversations and paging data.
        "400":
          description: Invalid parameters.
      summary: Search conversations
      tags:
        - messages
  "/conversations/{conversation_id}":
    delete:
      operationId: delete_conversation
      parameters:
        - description: The ID of the conversation to delete.
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
        - description: The ID of the newest message in the conversation that the client has downloaded.
          in: query
          name: message_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Conversation deleted.
        "400":
          description: Invalid parameters.
        "403":
          description: The user doesn't have permission to modify this conversation.
        "404":
          description: Conversation or message not found.
      summary: Delete conversation
      tags:
        - messages
  "/conversations/{conversation_id}/archive":
    put:
      operationId: archive_conversation
      parameters:
        - description: The ID of the conversation to archive.
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Conversation archived.
        "403":
          description: The user doesn't have permission to modify this conversation.
        "404":
          description: Conversation not found.
      summary: Archive conversation
      tags:
        - messages
  "/conversations/{conversation_id}/block":
    put:
      operationId: block_conversation
      parameters:
        - description: The ID of the conversation to block.
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Conversation blocked.
        "400":
          description: Conversations with moderators cannot be blocked.
        "403":
          description: The user doesn't have permission to modify this conversation.
        "404":
          description: Conversation not found.
      summary: Block conversation
      tags:
        - messages
  "/conversations/{conversation_id}/mark-read":
    put:
      operationId: mark_conversation_read
      parameters:
        - description: The ID of the conversation to mark as read.
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                message_id:
                  description: The ID of the newest message in the conversation that the current user has read.
                  type: string
              required:
                - message_id
              type: object
        required: true
      responses:
        "200":
          description: Conversation marked as read.
        "400":
          description: Invalid parameters.
        "403":
          description: The user doesn't have permission to modify this conversation.
        "404":
          description: Conversation or message not found.
      summary: Mark conversation as read
      tags:
        - messages
  "/conversations/{conversation_id}/messages":
    get:
      operationId: get_conversation_messages
      parameters:
        - description: The ID of the conversation to return messages from.
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
        - description: The page of messages to return.
          in: query
          name: page
          required: false
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: The number of messages to return per page (must be >= 1 and <= 30).
          in: query
          name: per_page
          required: false
          schema:
            default: 10
            maximum: 30
            minimum: 1
            type: integer
        - description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          schema:
            default: 1
            type: number
        - description: If set to 1, the conversation will be returned along with the messages.
          in: query
          name: include_conversation
          required: false
          schema:
            default: 0
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  conversation:
                    $ref: "#/components/schemas/Conversation"
                  messages:
                    items:
                      $ref: "#/components/schemas/Message"
                    type: array
                  page:
                    type: integer
                  per_page:
                    type: integer
                type: object
          description: |
            The messages and page data.  The conversation data is optional and is only returned if the include_conversation parameter is set.
        "400":
          description: Invalid parameters.
        "403":
          description: The user doesn't have permission to access the conversation.
        "404":
          description: Conversation not found.
      summary: List conversation messages
      tags:
        - messages
  "/conversations/{conversation_id}/reply":
    post:
      operationId: reply_to_conversation
      parameters:
        - description: The ID of the conversation to reply to.
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                content:
                  description: The content of the reply.
                  type: string
                device_pixel_ratio:
                  default: 1
                  description: Client device pixel ratio used to determine thumbnail size (default 1.0).
                  type: number
                photo_ids:
                  description: A comma separated list of the IDs of the photos that should be attached to this message.
                  type: string
              required:
                - content
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
          description: The new message sent to the conversation.
        "400":
          description: Invalid parameters or duplicate reply or conversation is blocked.
        "403":
          description: The user doesn't have permission to reply to the conversation.
        "404":
          description: Conversation not found.
      summary: Reply to conversation
      tags:
        - messages
  "/conversations/{conversation_id}/report":
    post:
      operationId: report_conversation
      parameters:
        - description: The ID of the conversation to report.
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                reason:
                  description: A user provided reason why the conversation is being reported.
                  type: string
              required:
                - reason
              type: object
        required: true
      responses:
        "200":
          description: Conversation reported.
        "400":
          description: Empty reason parameter.
        "403":
          description: The user doesn't have permission to report the conversation.
        "404":
          description: Conversation not found.
      summary: Report conversation
      tags:
        - messages
  "/conversations/{conversation_id}/unarchive":
    put:
      operationId: unarchive_conversation
      parameters:
        - description: The ID of the conversation to unarchive.
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Conversation unarchived.
        "403":
          description: The user doesn't have permission to modify this conversation.
        "404":
          description: Conversation not found.
      summary: Unarchive conversation
      tags:
        - messages
  "/conversations/{conversation_id}/unblock":
    put:
      operationId: unblock_conversation
      parameters:
        - description: The ID of the conversation to unblock.
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Conversation unblocked.
        "403":
          description: The user doesn't have permission to modify this conversation.
        "404":
          description: Conversation not found.
      summary: Unblock conversation
      tags:
        - messages
  /feedback:
    post:
      description: Allows users to send feedback about the trashnothing.com site or apps.
      operationId: send_feedback
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                message:
                  description: The message.
                  type: string
                meta:
                  description: |
                    Extra information set by the client that may be useful to contextualize the feedback (eg. operating system details, browser details, app details, device details).
                  type: string
                subject:
                  description: The subject.
                  type: string
              required:
                - subject
                - message
              type: object
        required: true
      responses:
        "200":
          description: The feedback has been sent.
      summary: Send feedback
      tags:
        - misc
  /groups:
    get:
      operationId: search_groups
      parameters:
        - description: Find groups that have the given text somewhere in their name (case insensitive).
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: Find groups near the given latitude and longitude.
          in: query
          name: latitude
          required: false
          schema:
            type: number
        - description: Find groups near the given latitude and longitude.
          in: query
          name: longitude
          required: false
          schema:
            type: number
        - description: |
            When latitude and longitude are passed, distance can optionally be passed to only return groups within a certain distance (in kilometers) from the point specified by the latitude and longitude.  The distance must be > 0 and <= 150 and will default to 100.
          in: query
          name: distance
          required: false
          schema:
            default: 100
            maximum: 150
            minimum: 0
            type: number
        - description: |
            Find groups in the given country where country is a 2 letter country code for the country (see https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2 ).
          in: query
          name: country
          required: false
          schema:
            type: string
        - description: |
            For countries with regions (AU, CA, GB, US), search groups in a specific region as specified by the region abbreviation.  The supported regions and their abbreviations are listed below. <br /><br /> NOTE: The region and postal_code parameters cannot be used at the same time and if both are passed then the postal_code will take priority. <br /><br /> --- <br /><br /> **AU**<br /> - QLD: Queensland<br /> - SA: South Australia<br /> - TAS: Tasmania<br /> - VIC: Victoria<br /> - WA: Western Australia<br /> - NT: Northern Territory<br /> - NSW: New South Wales - ACT<br /> <br /> **CA**<br /> - AB: Alberta<br /> - BC: British Columbia<br /> - MB: Manitoba<br /> - NB: New Brunswick<br /> - NL: Newfoundland and Labrador<br /> - NS: Nova Scotia<br /> - ON: Ontario<br /> - QC: Quebec<br /> - SK: Saskatchewan<br /> - PE: Prince Edward Island<br /> <br /> **GB**<br /> - E: East<br /> - EM: East Midlands<br /> - LDN: London<br /> - NE: North East<br /> - NW: North West<br /> - NI: Northern Ireland<br /> - SC: Scotland<br /> - SE: South East<br /> - SW: South West<br /> - WA: Wales<br /> - WM: West Midlands<br /> - YH: Yorkshire and the Humber<br /> <br /> **US**<br /> All 50 states and the District of Columbia are supported.  For the abbreviations, see: https://github.com/jasonong/List-of-US-States/blob/master/states.csv
          in: query
          name: region
          required: false
          schema:
            type: string
        - description: |
            Find groups in the given postal code.  Only a few countries support postal code searches (US, CA, AU, GB).  The country parameter must be passed when the postal_code parameter is set. <br /><br /> NOTE: The region and postal_code parameters cannot be used at the same time and if both are passed then the postal_code will take priority.
          in: query
          name: postal_code
          required: false
          schema:
            type: string
        - description: The page of groups to return.
          in: query
          name: page
          required: false
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: The number of groups to return per page (must be >= 1 and <= 100).
          in: query
          name: per_page
          required: false
          schema:
            default: 20
            maximum: 100
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  end_index:
                    description: The index of the last group being returned (an integer between start_index and num_groups).
                    type: integer
                  groups:
                    items:
                      $ref: "#/components/schemas/Group"
                    type: array
                  num_groups:
                    description: The total number of groups available.
                    type: integer
                  num_pages:
                    description: The total number of pages available.
                    type: integer
                  page:
                    description: The page number of the groups being returned.
                    type: integer
                  per_page:
                    description: The number of groups being returned per page.
                    type: integer
                  start_index:
                    description: The index of the first group being returned (an integer between 1 and num_groups).
                    type: integer
                type: object
          description: The groups and paging data.
        "400":
          description: Missing or invalid parameters.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: Search groups
      tags:
        - groups
  /groups/multiple:
    get:
      operationId: get_groups_by_ids
      parameters:
        - description: The IDs of the groups to retrieve.  If more than 20 group IDs are passed, only the first 20 groups will be returned.
          in: query
          name: group_ids
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Group"
                type: array
          description: The groups.
        "400":
          description: Missing or invalid parameters.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: Retrieve multiple groups
      tags:
        - groups
  /groups/subscribe:
    post:
      description: |
        Request membership to one or more groups. <br /><br /> NOTE: Any group with a has_questions field set to true will also require answers to the groups' new member questionnaire to be submitted.  Groups waiting for answers will have their membership field set to 'pending-questions'.  And the questionnaire that needs to be answered can be found in the membership.questionnaire field of the group after a subscribe request is made to that group.
      operationId: join_groups
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                group_ids:
                  description: A comma separated list of the IDs of the groups to join.
                  type: string
              required:
                - group_ids
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  groups:
                    description: Updated data about the groups and the current users' membership to each group.
                    items:
                      $ref: "#/components/schemas/Group"
                    type: array
                  over_group_limit:
                    description: |
                      When this is true, it means that some of the membership requests weren't processed in order to keep the user from going over the 12 group limit (the membership field of the groups can be used to determine which requests were processed).
                    type: boolean
                type: object
          description: The groups with updated membership data.
        "400":
          description: Missing or invalid parameters.
        "404":
          description: Group not found.
      summary: Join groups
      tags:
        - groups
  "/groups/{group_id}":
    get:
      operationId: get_group
      parameters:
        - description: The ID of the group to retrieve.
          in: path
          name: group_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
          description: The group.
        "404":
          description: Group not found.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: Retrieve a group
      tags:
        - groups
  "/groups/{group_id}/answers":
    post:
      description: |
        Submits answers to a groups' membership questionnaire. <br /><br /> The request body should be a JSON object mapping each question from the group membership.questionnaire.questions field to an answer (eg. {"Where do you live?": "New York City"} ). All questions are required so no null or empty string answers are allowed.
      operationId: submit_answers
      parameters:
        - description: The group ID of the group that the user is submitting answers for.
          in: path
          name: group_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              type: object
        description: |
          A JSON object mapping each question from the group membership.questionnaire.questions field to an answer (eg. {"Where do you live?": "New York City"} ). All questions are required so no null or empty string answers are allowed.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
          description: The updated group.
        "400":
          description: Missing or invalid answers or questions were already answered or questions don't need to be answered.
        "404":
          description: Group not found.
      summary: Submit group answers
      tags:
        - groups
  "/groups/{group_id}/contact":
    post:
      operationId: contact_moderators
      parameters:
        - description: The group ID of the group whose moderators will be contacted.
          in: path
          name: group_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                message:
                  description: The body of the message.
                  type: string
                subject:
                  description: The subject of the message.
                  type: string
              required:
                - subject
                - message
              type: object
        required: true
      responses:
        "200":
          description: Message was sent to moderators.
        "400":
          description: Missing or invalid parameters.
        "404":
          description: Group not found.
      summary: Contact group moderators
      tags:
        - groups
  "/groups/{group_id}/unsubscribe":
    post:
      operationId: leave_group
      parameters:
        - description: The ID of the group to leave.
          in: path
          name: group_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
          description: Updated data about the group and the current users' membership.
        "400":
          description: The current user is not an active or pending member of the given group.
        "404":
          description: Group not found.
      summary: Leave a group
      tags:
        - groups
  /photos:
    post:
      operationId: upload_photo
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                device_pixel_ratio:
                  default: 1
                  description: Client device pixel ratio used to determine thumbnail size (default 1.0).
                  type: number
                photo:
                  description: Photo to upload.
                  format: binary
                  type: string
              required:
                - photo
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhotoResult"
          description: Photo created.
        "400":
          description: Invalid photo.
      summary: Create a photo
      tags:
        - photos
  /photos/multiple:
    get:
      operationId: get_photos_by_ids
      parameters:
        - description: The IDs of the photos to retrieve.  If more than 50 photo IDs are passed, only the first 50 photos will be returned.
          in: query
          name: photo_ids
          required: true
          schema:
            type: string
        - description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          schema:
            default: 1
            type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PhotoResult"
                type: array
          description: The photos.
        "400":
          description: Missing or invalid parameters.
      summary: Retrieve multiple photos
      tags:
        - photos
  "/photos/{photo_id}":
    delete:
      operationId: delete_photo
      parameters:
        - in: path
          name: photo_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Photo deleted.
        "400":
          description: Invalid photo.
        "403":
          description: The user doesn't have permission to delete the photo.
        "404":
          description: Photo not found.
      summary: Delete a photo
      tags:
        - photos
  "/photos/{photo_id}/rotate":
    post:
      operationId: rotate_photo
      parameters:
        - in: path
          name: photo_id
          required: true
          schema:
            type: string
        - description: Rotation in degrees - currently only 90, 180 and 270 are supported which correspond to rotate left, rotate upside down and rotate right.
          in: query
          name: degrees
          required: true
          schema:
            type: integer
        - description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          schema:
            default: 1
            type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhotoResult"
          description: Photo rotated.
        "400":
          description: Invalid photo.
        "403":
          description: The user doesn't have permission to rotate the photo.
        "404":
          description: Photo not found.
      summary: Rotate a photo
      tags:
        - photos
  /posts:
    get:
      description: |
        NOTE: When paging through the posts returned by this endpoint, there will be at most 1,000 posts that can be returned (eg. 50 pages worth of posts with the default per_page value of 20).  In areas where there are more than 1,000 posts, clients can use more specific query parameters to adjust which posts are returned.
        NOTE: Passing the latitude, longitude and radius parameters filters all posts by their location and so these parameters will temporarily override the current users' location preferences. When latitude, longitude and radius are not specified, public posts will be filtered by the current users' location preferences.
      operationId: get_posts
      parameters:
        - description: |
            How to sort the posts that are returned.  One of: date, active, distance <br /><br />
            Date sorting will sort posts from newest to oldest. Active sorting will sort active posts before satisfied, withdrawn and expired posts and then sort by date. Distance sorting will sort the closest posts first.
          in: query
          name: sort_by
          required: false
          schema:
            default: date
            type: string
        - description: |
            A comma separated list of the post types to return.  The available post types are: offer, taken, wanted, received, admin
          in: query
          name: types
          required: true
          schema:
            type: string
        - description: |
            A comma separated list of the post sources to retrieve posts from. The available sources are: groups, trashnothing, open_archive_groups. The trashnothing source is for public posts that are posted on trash nothing but are not associated with any group. The open_archive_groups source provides a way to easily request posts from groups that have open_archives set to true without having to pass a group_ids parameter.  When passed, it will automatically return posts from open archive groups that are within the area specified by the latitude, longitude and radius parameters (or the current users' location if latitude, longitude and radius aren't passed). <br /><br /> NOTE: For requests using an api key instead of oauth, passing the trashnothing source or the open_archive_groups source makes the latitude, longitude and radius parameters required.
          in: query
          name: sources
          required: true
          schema:
            type: string
        - description: |
            A comma separated list of the group IDs to retrieve posts from. This parameter is only used if the 'groups' source is passed in the sources parameter and only groups that the current user is a member of or that are open archives groups will be used (the group IDs of other groups will be silently discarded*). <br /><br /> NOTE: For requests using an api key instead of oauth, this field is required if the 'groups' source is passed. In addition, only posts from groups that have open_archives set to true will be used (the group IDS of other groups will be silently discarded*). <br /><br/> *To determine which group IDs were used and which were discarded, use the group_ids field in the response.
          in: query
          name: group_ids
          required: false
          schema:
            default: The group IDs of every group the current user is a member of.
            type: string
        - description: The number of posts to return per page (must be >= 1 and <= 100).
          in: query
          name: per_page
          required: false
          schema:
            default: 20
            maximum: 100
            minimum: 1
            type: integer
        - description: The page of posts to return.
          in: query
          name: page
          required: false
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          schema:
            default: 1
            type: number
        - description: |
            The latitude of a point around which to return posts.
          in: query
          name: latitude
          required: false
          schema:
            type: number
        - description: |
            The longitude of a point around which to return posts.
          in: query
          name: longitude
          required: false
          schema:
            type: number
        - description: |
            The radius in meters of a circle centered at the point defined by the latitude and longitude parameters. When latitude, longitude and radius are passed, only posts within the circle defined by these parameters will be returned.
          in: query
          name: radius
          required: false
          schema:
            maximum: 257500
            minimum: 0
            type: number
        - description: |
            Only posts newer than or equal to this UTC date and time will be returned.  If unset, defaults to the current date and time minus 90 days.
          in: query
          name: date_min
          required: false
          schema:
            format: date-time
            type: string
        - description: Only posts older than this UTC date and time will be returned.  If unset, defaults to the current date and time.
          in: query
          name: date_max
          required: false
          schema:
            format: date-time
            type: string
        - description: |
            A comma separated list of the post outcomes to return.  The available post outcomes are: satisfied, withdrawn <br /><br /> There are also a couple special values that can be passed.  If set to an empty string (the default), only posts that are not satisfied and not withdrawn and not expired are returned. If set to 'all', all posts will be returned no matter what outcome the posts have. If set to 'not-promised', only posts that are not satisfied ant not withdrawn and not expired and not promised are returned.
          in: query
          name: outcomes
          required: false
          schema:
            default: ""
            type: string
        - description: |
            If user_state is set, only posts matching the state specified will be returned.  Only one state may be passed and it must be one of the following: viewed, replied, bookmarked <br><br> NOTE: This option will only work with oauth requests.
          in: query
          name: user_state
          required: false
          schema:
            default: ""
            type: string
        - description: |
            If set to 1 (the default), posts that are reposts will be included. If set to 0, reposts will be excluded. See the repost_count field of post objects for details about how reposts are identified.
          in: query
          name: include_reposts
          required: false
          schema:
            default: 1
            maximum: 1
            minimum: 0
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  end_index:
                    description: The index of the last post being returned (an integer between start_index and num_posts).
                    type: integer
                  group_ids:
                    description: |
                      The IDs of the groups that the posts were retrieved from (will be null when no group IDs were used). These IDs may be a subset of the requested group IDs when a request includes group IDs for groups that are not open archives and that the current user is not a member of.  If the open_archive_groups source is used, these IDs may include the IDs of open archive groups that weren't present in the group_ids parameter of the request.
                    items:
                      type: string
                    type: array
                  last_listings_view:
                    description: |
                      The UTC date and time when the current user last viewed the newest posts on the All Posts page (may be null). <br /><br /> NOTE: For this to be accurate, clients must update the last_listings_view property of the current user every time the user is shown the newest posts on the All Posts page. <br /><br /> NOTE: For requests using an api key instead of oauth, this field is always null.
                    format: date-time
                    type: string
                  num_pages:
                    description: The total number of pages available.
                    type: integer
                  num_posts:
                    description: The total number of posts available.
                    type: integer
                  page:
                    description: The page number of the posts being returned.
                    type: integer
                  per_page:
                    description: The number of posts being returned per page.
                    type: integer
                  posts:
                    items:
                      $ref: "#/components/schemas/Post"
                    type: array
                  start_index:
                    description: The index of the first post being returned (an integer between 1 and num_posts).
                    type: integer
                type: object
          description: The posts and paging data.
        "400":
          description: Missing or invalid parameters.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: List posts
      tags:
        - posts
    post:
      description: |
        Submits a new post.
      operationId: submit_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                content:
                  description: A longer description of the item(s).
                  type: string
                expires_in:
                  description: |
                    When the post should expire.  Defaults to 90 days. Any amount of time from 1 hour to 90 days can be provided.  To pass a number of hours, provide the number of hours prefixed by 'h' (eg. 1hr 24hr). To pass a number of days, provide the number of days prefixed by 'd' (eg. 1d 90d). <br /><br /> Note that posts may not appear instantly after submission because the volunteer moderators of many groups may have additional automatic or manual review processes in place that can cause delays.  So with short expirations (eg. < 8 hours), there is a chance that the post may expire before it's approved and so it will never be published.
                  type: string
                fair_offer:
                  default: 0
                  description: If set to 1, the post will be posted with the Fair Offer Policy (only valid for offer posts - see https://trashnothing.com/fair_offer_policy ).
                  type: integer
                group_ids:
                  description: A comma separated list of group IDs to submit the post to (if any).
                  type: string
                latitude:
                  description: |
                    The latitude corresponding to the location description provided. <br /><br /> If latitude and longitude are not provided, an attempt will be made to automatically geocode the location.  If the location is unable to be geocoded, the post will be rejected* and will have to be resubmitted with a latitude and longitude corresponding to the location or resubmitted with a different location that can be automatically geocoded. <br /><br /> NOTE: The latitude and longitude should NOT be the users' exact location because we don't want to publicize their exact location unless their location description is their full address (which is not recommended). <br /><br /> *When a post is rejected because it can't be geocoded, the returned error will have its identifier property set to 'unknown-location'.
                  type: number
                location:
                  description: A short location description.
                  maxLength: 30
                  minLength: 2
                  type: string
                longitude:
                  description: The longitude corresponding to the location description provided. (see the NOTE in latitude description)
                  type: number
                photo_ids:
                  description: A comma separated list of the IDs of the photos that should be attached to this post.
                  type: string
                preferences:
                  description: |
                    A JSON string representing a permanent object that the client persists and modifies based on warnings returned by the post submission process and user input.  Some warnings returned after submitting  a post have a preference_key string property so that users can opt out of those warnings in the future.  To save this opt-out preference, set the property indicated by the preference_key in the preferences object (eg. preferences[preference_key] = 1).  The preferences object is never modified by the server - it is up to the client to initialize, modify and persist the preferences object.
                  type: string
                repost:
                  description: |
                    If the post is a repost of an existing post, this should be set to the post_id of the post that is being reposted.
                  type: string
                reselling:
                  description: |
                    For wanted posts only. If set to 1, the wanted post will show that the poster intends to resell any items that they receive in response to this post.  Posters must declare if they intend to resell items.
                  type: string
                session:
                  description: |
                    A JSON string representing a temporary object that is used to store data about the submission process for a single post.  The first time a post is submitted, session should be a new empty object (eg. '{}').  The session object should be persisted by the client until that post is successfully submitted and then it  can be discarded so that the next post will start over with a new empty session object.  Every time a post is submitted and the response indicates that the submission was not successful, the session object returned in the response should override the clients copy of the session.
                  type: string
                title:
                  description: A short description of the item(s).
                  maxLength: 35
                  minLength: 2
                  type: string
                type:
                  description: |
                    The type of post.  One of: offer, wanted
                  type: string
              required:
                - type
                - title
                - location
                - session
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  identifier:
                    description: |
                      When an error or warning is returned, this will contain a short string representing the type of error or warning that occurred.  Is null on success.
                    type: string
                  message:
                    description: |
                      Contains text describing the reason a post  was not successful.  Is null on success.
                    type: string
                  preference_key:
                    description: |
                      Certain types of warnings can be opted out of.  These warnings will set preference_key to a string that can be  set in the preferences object by the client to opt out of that type of warning in the future (see the description of the preferences parameter for more details).  Is null for errors, success and warnings that can't be opted out of.
                    type: string
                  result:
                    description: |
                      One of: success, error, warning. <br /><br /> A success result indicates that the post  was submitted successfully. Note that posts may not appear instantly after submission because the volunteer moderators of many groups may have additional automatic or manual review processes in place that can cause delays. <br /><br /> An error result indicates that there is an error with the post that should be shown to the user and the message property will contain text describing the error. <br /><br /> A warning result indicates that there is a warning about the post  to show the user and the message property will contain a string describing the warning.   A warning result doesn't prevent a post  from being submitted, to continue the submission process after a warning result, just re-submit (with the updated session object) to temporarily override that specific warning.
                    type: string
                  session:
                    additionalProperties:
                      type: string
                    description: |
                      The updated session object that should override the client's copy of the session that was passed in the session parameter. Is null on success.
                    type: object
                type: object
          description: Post submission result.
        "400":
          description: Missing or invalid parameters.
      summary: Submit a post
      tags:
        - posts
  /posts/all:
    get:
      description: |
        This endpoint provides an easy way to get a feed of all the publicly published posts on trash nothing. It provides access to all publicly published offer and wanted posts from the last 30 days. The posts are sorted by date (newest first). <br /><br /> There are fewer options for filtering, sorting and searching posts with this endpoint but there is no 1,000 post limit and posts that are crossposted to multiple groups are not merged together in the response.  In most cases, crossposted posts are easy to detect because they have the same user_id, title and content.
      operationId: get_all_posts
      parameters:
        - description: |
            A comma separated list of the post types to return.  The available post types are: offer, wanted
          in: query
          name: types
          required: true
          schema:
            type: string
        - description: |
            Only posts newer than or equal to this UTC date and time will be returned. The UTC date and time used must be within a day or less of date_max. And the date and time must be within the last 30 days. And the date and time must be rounded to the nearest second.
          in: query
          name: date_min
          required: true
          schema:
            format: date-time
            type: string
        - description: |
            Only posts older than this UTC date and time will be returned. The UTC date and time used must be within a day or less of date_min. And the date and time must be rounded to the nearest second.
          in: query
          name: date_max
          required: true
          schema:
            format: date-time
            type: string
        - description: The number of posts to return per page (must be >= 1 and <= 50).
          in: query
          name: per_page
          required: false
          schema:
            default: 20
            maximum: 50
            minimum: 1
            type: integer
        - description: The page of posts to return.
          in: query
          name: page
          required: false
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          schema:
            default: 1
            type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  posts:
                    items:
                      $ref: "#/components/schemas/Post"
                    type: array
                type: object
          description: The posts.
        "400":
          description: Missing or invalid parameters.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: List all posts
      tags:
        - posts
  /posts/all/changes:
    get:
      description: |
        This endpoint provides an easy way to get a feed of all the changes that have been made to publicly published posts on trash nothing.  Similar to the /posts/all endpoint, only data from the last 30 days is available and the changes are sorted by date (newest first).  Every change includes the date of the change, the post_id of the post that was changed and the type of change. <br /><br /> The different types of changes that are returned are listed below. <br /><br /> - deleted<br /> - undeleted<br /> - satisfied<br /> - promised<br /> - unpromised<br /> - withdrawn<br /> - edited<br /> <br /> For edited changes, clients can use the retrieve post API endpoint to get the edits that have been made to the post.
      operationId: get_all_posts_changes
      parameters:
        - description: |
            Only changes newer than or equal to this UTC date and time will be returned. The UTC date and time used must be within a day or less of date_max. And the date and time must be within the last 30 days. And the date and time must be rounded to the nearest second.
          in: query
          name: date_min
          required: true
          schema:
            format: date-time
            type: string
        - description: |
            Only changes older than this UTC date and time will be returned. The UTC date and time used must be within a day or less of date_min. And the date and time must be rounded to the nearest second.
          in: query
          name: date_max
          required: true
          schema:
            format: date-time
            type: string
        - description: The number of changes to return per page (must be >= 1 and <= 50).
          in: query
          name: per_page
          required: false
          schema:
            default: 20
            maximum: 50
            minimum: 1
            type: integer
        - description: The page of changes to return.
          in: query
          name: page
          required: false
          schema:
            default: 1
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  changes:
                    items:
                      properties:
                        date:
                          description: The UTC date and time when the post was changed.
                          format: date-time
                          type: string
                        post_id:
                          type: string
                        type:
                          description: |
                            The type of change.  One of: deleted, undeleted, satisfied, promised, unpromised, withdrawn, edited, expired
                          type: string
                      type: object
                    type: array
                type: object
          description: The changes.
        "400":
          description: Missing or invalid parameters.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: List all post changes
      tags:
        - posts
  /posts/multiple:
    get:
      operationId: get_posts_by_ids
      parameters:
        - description: |
            A comma separated list of the post IDs. If more than 10 post IDs are passed, only the first 10 posts will be returned.
          in: query
          name: post_ids
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  forbidden:
                    description: The IDs of posts that are forbidden for the current user.
                    items:
                      type: string
                    type: array
                  not_found:
                    description: The IDs of posts that weren't found (may have been deleted or never existed).
                    items:
                      type: string
                    type: array
                  posts:
                    items:
                      $ref: "#/components/schemas/Post"
                    type: array
                type: object
          description: The posts.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: Retrieve multiple posts
      tags:
        - posts
  /posts/search:
    get:
      description: |
        Searching posts takes the same arguments as listing posts except for the addition of the search and sort_by parameters.
        NOTE: When paging through the posts returned by this endpoint, there will be at most 1,000 posts that can be returned (eg. 50 pages worth of posts with the default per_page value of 20).  In areas where there are more than 1,000 posts, clients can use more specific query parameters to adjust which posts are returned.
      operationId: search_posts
      parameters:
        - description: The search query used to find posts.
          in: query
          name: search
          required: true
          schema:
            type: string
        - description: |
            How to sort the posts that are returned.  One of: relevance, date, active, distance <br /><br /> Relevance sorting will sort the posts that best match the search query first. Date sorting will sort posts from newest to oldest. Active sorting will sort active posts before satisfied, withdrawn and expired posts and then sort by date. Distance sorting will sort the closest posts first.
          in: query
          name: sort_by
          required: false
          schema:
            default: relevance
            type: string
        - description: |
            A comma separated list of the post types to return.  The available post types are: offer, taken, wanted, received, admin
          in: query
          name: types
          required: true
          schema:
            type: string
        - description: |
            A comma separated list of the post sources to retrieve posts from. The available sources are: groups, trashnothing, open_archive_groups. The trashnothing source is for public posts that are posted on trash nothing but are not associated with any group. The open_archive_groups source provides a way to easily request posts from groups that have open_archives set to true without having to pass a group_ids parameter.  When passed, it will automatically return posts from open archive groups that are within the area specified by the latitude, longitude and radius parameters (or the current users' location if latitude, longitude and radius aren't passed). <br /><br /> NOTE: For requests using an api key instead of oauth, passing the trashnothing source or the open_archive_groups source makes the latitude, longitude and radius parameters required.
          in: query
          name: sources
          required: true
          schema:
            type: string
        - description: |
            A comma separated list of the group IDs to retrieve posts from. This parameter is only used if the 'groups' source is passed in the sources parameter and only groups that the current user is a member of or that are open archives groups will be used (the group IDs of other groups will be silently discarded*). <br /><br /> NOTE: For requests using an api key instead of oauth, this field is required if the 'groups' source is passed. In addition, only posts from groups that have open_archives set to true will be used (the group IDS of other groups will be silently discarded*). <br /><br/> *To determine which group IDs were used and which were discarded, use the group_ids field in the response.
          in: query
          name: group_ids
          required: false
          schema:
            default: The group IDs of every group the current user is a member of.
            type: string
        - description: The number of posts to return per page (must be >= 1 and <= 100).
          in: query
          name: per_page
          required: false
          schema:
            default: 20
            maximum: 100
            minimum: 1
            type: integer
        - description: The page of posts to return.
          in: query
          name: page
          required: false
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          schema:
            default: 1
            type: number
        - description: |
            The latitude of a point around which to return posts.
          in: query
          name: latitude
          required: false
          schema:
            type: number
        - description: |
            The longitude of a point around which to return posts.
          in: query
          name: longitude
          required: false
          schema:
            type: number
        - description: |
            The radius in meters of a circle centered at the point defined by the latitude and longitude parameters. When latitude, longitude and radius are passed, only posts within the circle defined by these parameters will be returned.
          in: query
          name: radius
          required: false
          schema:
            maximum: 257500
            minimum: 0
            type: number
        - description: |
            Only posts newer than or equal to this UTC date and time will be returned.  If unset, defaults to the current date and time minus 90 days.
          in: query
          name: date_min
          required: false
          schema:
            format: date-time
            type: string
        - description: Only posts older than this UTC date and time will be returned.  If unset, defaults to the current date and time.
          in: query
          name: date_max
          required: false
          schema:
            format: date-time
            type: string
        - description: |
            A comma separated list of the post outcomes to return.  The available post outcomes are: satisfied, withdrawn <br /><br /> There are also a couple special values that can be passed.  If set to an empty string (the default), only posts that are not satisfied and not withdrawn and not expired are returned. If set to 'all', all posts will be returned no matter what outcome the posts have. If set to 'not-promised', only posts that are not satisfied ant not withdrawn and not expired and not promised are returned.
          in: query
          name: outcomes
          required: false
          schema:
            default: ""
            type: string
        - description: |
            If user_state is set, only posts matching the state specified will be returned.  Only one state may be passed and it must be one of the following: viewed, replied, bookmarked <br><br> NOTE: This option will only work with oauth requests.
          in: query
          name: user_state
          required: false
          schema:
            default: ""
            type: string
        - description: |
            If set to 1 (the default), posts that are reposts will be included. If set to 0, reposts will be excluded. See the repost_count field of post objects for details about how reposts are identified.
          in: query
          name: include_reposts
          required: false
          schema:
            default: 1
            maximum: 1
            minimum: 0
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  end_index:
                    description: The index of the last post being returned (an integer between start_index and num_posts).
                    type: integer
                  group_ids:
                    description: |
                      The IDs of the groups that the posts were retrieved from (will be null when no group IDs were used). These IDs may be a subset of the requested group IDs when a request includes group IDs for groups that are not open archives and that the current user is not a member of.  If the open_archive_groups source is used, these IDs may include the IDs of open archive groups that weren't present in the group_ids parameter of the request.
                    items:
                      type: string
                    type: array
                  num_pages:
                    description: The total number of pages available.
                    type: integer
                  num_posts:
                    description: The total number of posts available.
                    type: integer
                  page:
                    description: The page number of the posts being returned.
                    type: integer
                  per_page:
                    description: The number of posts being returned per page.
                    type: integer
                  posts:
                    items:
                      $ref: "#/components/schemas/PostSearchResult"
                    type: array
                  start_index:
                    description: The index of the first post being returned (an integer between 1 and num_posts).
                    type: integer
                type: object
          description: The posts and paging data.
        "400":
          description: Missing or invalid parameters.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: Search posts
      tags:
        - posts
  "/posts/{post_id}":
    delete:
      description: |
        Users can delete posts they have made that have been satisfied or withdrawn or that have expired. Deleting posts isn't intended to be a normal part of the posting process since it makes reposting and viewing old posts harder.
      operationId: delete_post
      parameters:
        - in: path
          name: post_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Post deleted.
        "400":
          description: Post cannot be deleted until it is satisfied, withdrawn or expired.
        "403":
          description: The user doesn't have permission to delete the post.
        "404":
          description: Post not found.
      summary: Delete a post
      tags:
        - posts
    get:
      operationId: get_post
      parameters:
        - description: The ID of the post to retrieve.
          in: path
          name: post_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
          description: The post.
        "403":
          description: The user doesn't have permission to access the post.
        "404":
          description: Post not found.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: Retrieve a post
      tags:
        - posts
    put:
      description: |
        Users can update posts to fix mistakes with their post, add photos, or add more details about the items. Updates should not be used to say that items in a post have been taken or received since the post satisfy endpoint is designed to do that.
      operationId: update_post
      parameters:
        - description: The ID of the post to update.
          in: path
          name: post_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                content:
                  description: A longer description of the item(s).
                  type: string
                expires_in:
                  description: |
                    When the post should expire.   Any amount of time from 1 hour to 90 days can be provided.  To pass a number of hours, provide the number of hours prefixed by 'h' (eg. 1hr 24hr). To pass a number of days, provide the number of days prefixed by 'd' (eg. 1d 90d). <br /><br /> Note that updates may not appear instantly after submission because the volunteer moderators of many groups may have additional automatic or manual review processes in place that can cause delays.  So with short expirations (eg. < 8 hours), there is a chance that the post may expire before the update is approved and so it will never be published.
                    <br><br> NOTE: The max expiration for a post is 90 days after the post is published.  So updates to posts that try to set an longer expiration will be silently changed to just apply the max expiration.
                  type: string
                fair_offer:
                  default: 0
                  description: If set to 1, the post will be posted with the Fair Offer Policy (only valid for offer posts - see https://trashnothing.com/fair_offer_policy ).
                  type: integer
                latitude:
                  description: |
                    The latitude corresponding to the location description provided. <br /><br /> If latitude and longitude are not provided, an attempt will be made to automatically geocode the location.  If the location is unable to be geocoded, the post will be rejected* and will have to be resubmitted with a latitude and longitude corresponding to the location or resubmitted with a different location that can be automatically geocoded. <br /><br /> NOTE: The latitude and longitude should NOT be the users' exact location because we don't want to publicize their exact location unless their location description is their full address (which is not recommended). <br /><br /> *When a post is rejected because it can't be geocoded, the returned error will have its identifier property set to 'unknown-location'.
                  type: number
                location:
                  description: A short location description.
                  maxLength: 30
                  minLength: 2
                  type: string
                longitude:
                  description: The longitude corresponding to the location description provided. (see the NOTE in latitude description)
                  type: number
                photo_ids:
                  description: A comma separated list of the IDs of the photos that should be attached to this post.
                  type: string
                preferences:
                  description: |
                    A JSON string representing a permanent object that the client persists and modifies based on warnings returned by the update submission process and user input.  Some warnings returned after submitting  an update have a preference_key string property so that users can opt out of those warnings in the future.  To save this opt-out preference, set the property indicated by the preference_key in the preferences object (eg. preferences[preference_key] = 1).  The preferences object is never modified by the server - it is up to the client to initialize, modify and persist the preferences object.
                  type: string
                reselling:
                  description: |
                    For wanted posts only. If set to 1, the wanted post will show that the poster intends to resell any items that they receive in response to this post.  Posters must declare if they intend to resell items.
                  type: string
                session:
                  description: |
                    A JSON string representing a temporary object that is used to store data about the update process for a single post.  The first time a post update is submitted, session should be a new empty object (eg. '{}').  The session object should be persisted by the client until that update is successfully submitted and then it  can be discarded so that the next update will start over with a new empty session object.  Every time an update is submitted and the response indicates that the submission was not successful, the session object returned in the response should override the clients copy of the session.
                  type: string
                title:
                  description: A short description of the item(s).
                  maxLength: 35
                  minLength: 2
                  type: string
                type:
                  description: |
                    The type of post.  One of: offer, wanted
                  type: string
              required:
                - type
                - title
                - location
                - session
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  identifier:
                    description: |
                      When an error or warning is returned, this will contain a short string representing the type of error or warning that occurred.  Is null on success.
                    type: string
                  message:
                    description: |
                      Contains text describing the reason a post update was not successful.  Is null on success.
                    type: string
                  preference_key:
                    description: |
                      Certain types of warnings can be opted out of.  These warnings will set preference_key to a string that can be  set in the preferences object by the client to opt out of that type of warning in the future (see the description of the preferences parameter for more details).  Is null for errors, success and warnings that can't be opted out of.
                    type: string
                  result:
                    description: |
                      One of: success, error, warning. <br /><br /> A success result indicates that the post update was submitted successfully. Note that post updates may not appear instantly after submission because the volunteer moderators of many groups may have additional automatic or manual review processes in place that can cause delays. <br /><br /> An error result indicates that there is an error with the post that should be shown to the user and the message property will contain text describing the error. <br /><br /> A warning result indicates that there is a warning about the post update to show the user and the message property will contain a string describing the warning.   A warning result doesn't prevent a post update from being submitted, to continue the submission process after a warning result, just re-submit (with the updated session object) to temporarily override that specific warning.
                    type: string
                  session:
                    additionalProperties:
                      type: string
                    description: |
                      The updated session object that should override the client's copy of the session that was passed in the session parameter. Is null on success.
                    type: object
                type: object
          description: Post update result.
        "400":
          description: Missing or invalid parameters.
        "403":
          description: The user doesn't have permission to edit the post.
        "404":
          description: Post not found.
      summary: Update a post
      tags:
        - posts
  "/posts/{post_id}/bookmark":
    delete:
      operationId: delete_bookmark
      parameters:
        - in: path
          name: post_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Bookmark deleted.
        "404":
          description: Post not found.
      summary: Delete a post bookmark
      tags:
        - posts
    put:
      operationId: bookmark_post
      parameters:
        - in: path
          name: post_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The post has been bookmarked.
        "403":
          description: The user doesn't have permission to view the post.
        "404":
          description: Post not found.
      summary: Bookmark a post
      tags:
        - posts
  "/posts/{post_id}/display":
    get:
      description: |
        Retrieve a post and other data related to the post that is useful for displaying the post such as data about the user who posted the post and the groups the post was posted on.
      operationId: get_post_and_related_data
      parameters:
        - description: The ID of the post to retrieve.
          in: path
          name: post_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  author:
                    $ref: "#/components/schemas/User"
                  author_offer_count:
                    description: Count of offer posts made by the post author in the last 90 days.
                    type: integer
                  author_posts:
                    description: |
                      Other active posts from the post author in the last 90 days. A maximum of 30 posts will be returned.
                    items:
                      $ref: "#/components/schemas/Post"
                    type: array
                  author_wanted_count:
                    description: Count of wanted posts made by the post author in the last 90 days.
                    type: integer
                  bookmarked:
                    description: Whether or not the current user has bookmarked this post.  Will be null for api key requests and for the current users' posts.
                    type: boolean
                  feedback:
                    description: Feedback the current user has left on the post author.
                    items:
                      $ref: "#/components/schemas/Feedback"
                    type: array
                  groups:
                    description: The groups the post is published on.
                    items:
                      $ref: "#/components/schemas/Group"
                    type: array
                  post:
                    $ref: "#/components/schemas/Post"
                  replied:
                    description: Whether or not the current user has replied to this post.  Will be null for api key requests and for the current users' posts.
                    type: boolean
                  user_can_reply:
                    description: |
                      Whether or not the current user (if any) can reply to this post. Unverified users cannot reply to posts until they verify their account.
                    type: boolean
                  viewed:
                    description: Whether or not the current user has previously viewed this post.  Will be null for api key requests and for the current users' posts.
                    type: boolean
                type: object
          description: The post and related data.
        "403":
          description: The user doesn't have permission to access the post.
        "404":
          description: Post not found.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: Retrieve post display data
      tags:
        - posts
  "/posts/{post_id}/promise":
    put:
      description: |
        Mark an offer by the current user as promised to someone. This helps people viewing the post know that the items being offered may soon be given away as long as the person who was promised the items picks them up.
      operationId: promise_post
      parameters:
        - description: The ID of the post to promise.
          in: path
          name: post_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
          description: The updated post.
        "400":
          description: The post is not an offer post or the post has already been satisfied or withdrawn or expired.
        "403":
          description: The user doesn't have permission to access the post.
        "404":
          description: Post not found.
      summary: Promise an offer post
      tags:
        - posts
  "/posts/{post_id}/reply":
    post:
      description: Send a reply to a post from the current user to the post author.
      operationId: reply_to_post
      parameters:
        - description: The ID of the post to reply to.
          in: path
          name: post_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                message:
                  description: The message to send to the post author.
                  type: string
                photo_ids:
                  description: A comma separated list of the IDs of the photos that should be attached to this reply.
                  type: string
              required:
                - message
              type: object
        required: true
      responses:
        "200":
          description: The reply has been sent.
        "400":
          description: Missing message parameter or post has been satisfied or withdrawn or expired or the post author is blocked.
        "403":
          description: The user doesn't have permission to reply to the post.
        "404":
          description: Post not found.
      summary: Reply to a post
      tags:
        - posts
  "/posts/{post_id}/report":
    post:
      description: Reports a post to be reviewed by the moderators.
      operationId: report_post
      parameters:
        - in: path
          name: post_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                details:
                  description: |
                    An explanation from the current user for why they are reporting this post.   This is useful for users to provide evidence or explain why there is a problem with the post. <br /><br /> NOTE: If reason is set to 'other', details are required.
                  type: string
                reason:
                  description: |
                    The reason that this post is being reported.  Must be one of: 'spam', 'not free (for sale/trade/borrow)', 'illegal item', 'not family-friendly', 'other', 'mislabeled: is a Want', 'mislabeled: is an Offer'. <br /><br /> NOTE: If reason is set to 'other', the details parameter is required to be set.
                  type: string
              required:
                - reason
              type: object
        required: true
      responses:
        "200":
          description: The post has been reported.
        "400":
          description: Invalid reason parameter or missing details.
        "404":
          description: Post not found.
      summary: Report a post
      tags:
        - posts
  "/posts/{post_id}/satisfy":
    put:
      description: Mark an offer or wanted post by the current user as satisfied (eg. an offer has been taken or a wanted has been received).
      operationId: satisfy_post
      parameters:
        - description: The ID of the post to satisfy.
          in: path
          name: post_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
          description: The updated post.
        "400":
          description: Invalid summary or the post is not an offer or wanted post or the post has been withdrawn or has expired.
        "403":
          description: The user doesn't have permission to access the post.
        "404":
          description: Post not found.
      summary: Satisfy a post
      tags:
        - posts
  "/posts/{post_id}/share":
    post:
      description: Forwards a copy of the post to the current user so that they can forward it to friends.
      operationId: share_post
      parameters:
        - description: The ID of the post to share.
          in: path
          name: post_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Post shared.
        "403":
          description: The user doesn't have permission to access the post.
        "404":
          description: Post not found.
      summary: Share a post
      tags:
        - posts
  "/posts/{post_id}/unpromise":
    put:
      description: Mark an offer by the current user as unpromised.
      operationId: unpromise_post
      parameters:
        - description: The ID of the post to unpromise.
          in: path
          name: post_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
          description: The updated post.
        "400":
          description: The post is not an offer post or the post has already been satisfied or withdrawn.
        "403":
          description: The user doesn't have permission to access the post.
        "404":
          description: Post not found.
      summary: Unpromise an offer post
      tags:
        - posts
  "/posts/{post_id}/withdraw":
    put:
      description: Mark an offer or wanted post by the current user as withdrawn.
      operationId: withdraw_post
      parameters:
        - description: The ID of the post to withdraw.
          in: path
          name: post_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
          description: The updated post.
        "400":
          description: The post is not an offer or wanted post or the post has already been satisfied or expired.
        "403":
          description: The user doesn't have permission to access the post.
        "404":
          description: Post not found.
      summary: Withdraw a post
      tags:
        - posts
  /stories:
    get:
      operationId: get_stories
      parameters:
        - description: The page of stories to return.
          in: query
          name: page
          required: false
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: The number of stories to return per page (must be >= 1 and <= 50).
          in: query
          name: per_page
          required: false
          schema:
            default: 20
            maximum: 50
            minimum: 1
            type: integer
        - description: |
            How to sort the stories that are returned.  One of: date, distance, likes, views <br /><br /> Setting sort_by to date will sort posts from newest to oldest.  Setting sort_by to distance will sort posts from nearest to farthest.  Setting sort_by to likes will sort posts with the most likes first.  Setting sort_by to views will show the posts with the most views first.
          in: query
          name: sort_by
          required: false
          schema:
            default: date
            type: string
        - description: Find groups near the given latitude and longitude.
          in: query
          name: latitude
          required: false
          schema:
            type: number
        - description: Find groups near the given latitude and longitude.
          in: query
          name: longitude
          required: false
          schema:
            type: number
        - description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          schema:
            default: 1
            type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  stories:
                    items:
                      $ref: "#/components/schemas/Story"
                    type: array
                type: object
          description: The stories and paging data.
        "400":
          description: Missing or invalid parameters.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: List stories
      tags:
        - stories
    post:
      operationId: submit_story
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                content:
                  description: The content of the story.
                  type: string
                device_pixel_ratio:
                  default: 1
                  description: Client device pixel ratio used to determine thumbnail size (default 1.0).
                  type: number
                photo_ids:
                  description: A comma separated list of the IDs of the photos that should be attached to this story.
                  type: string
                sharing:
                  description: |
                    Must be set to one of the following two options: public, members <br /><br /> When sharing is set to public, anyone will be able to view the story. When sharing is set to members, only other members will be able to view the story.
                  type: string
                title:
                  description: The title of the story.
                  maxLength: 80
                  type: string
              required:
                - title
                - content
                - sharing
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Story"
          description: The new story.
        "400":
          description: Missing or invalid parameters.
      summary: Submit a story
      tags:
        - stories
  "/stories/{story_id}":
    get:
      operationId: get_story
      parameters:
        - description: The ID of the story to retrieve.
          in: path
          name: story_id
          required: true
          schema:
            type: string
        - description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          schema:
            default: 1
            type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Story"
          description: The story.
        "403":
          description: Story is only visible to members.
        "404":
          description: Story not found.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: Retrieve a story
      tags:
        - stories
  "/stories/{story_id}/like":
    put:
      operationId: like_story
      parameters:
        - description: The ID of the story to like.
          in: path
          name: story_id
          required: true
          schema:
            type: string
        - description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          schema:
            default: 1
            type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Story"
          description: The updated story.
        "404":
          description: Story not found.
      summary: Like a story
      tags:
        - stories
  "/stories/{story_id}/unlike":
    put:
      operationId: unlike_story
      parameters:
        - description: The ID of the story to unlike.
          in: path
          name: story_id
          required: true
          schema:
            type: string
        - description: Client device pixel ratio used to determine thumbnail size (default 1.0).
          in: query
          name: device_pixel_ratio
          required: false
          schema:
            default: 1
            type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Story"
          description: The updated story.
        "404":
          description: Story not found.
      summary: Unlike a story
      tags:
        - stories
  "/stories/{story_id}/viewed":
    post:
      description: Records every time a user views the full story (and not just a preview or snippet),
      operationId: viewed_story
      parameters:
        - description: The ID of the story viewed.
          in: path
          name: story_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Story view was recorded.
        "404":
          description: Story not found.
      security:
        - oauth2_implicit:
            - basic
        - oauth2_code:
            - basic
        - api_key: []
      summary: Record story viewed
      tags:
        - stories
  /users/me:
    get:
      operationId: get_current_user
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUser"
          description: User data
        "404":
          description: User not found.
      summary: Retrieve current user
      tags:
        - users
    put:
      description: |
        Update the current user.  All fields are optional so requests can update just one or multiple user properties at a time.
      operationId: update_current_user
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                about_me:
                  description: A short bio a user has written about themselves to help other members get to know them better.
                  maxLength: 4096
                  type: string
                digest_photos:
                  description: |
                    Whether or not to include photos in the digest emails. Set to 1 to enable photos and 0 to disable photos.
                  type: integer
                email_message_delay:
                  description: |
                    How quickly new messages from other users are emailed to this user. One of: immediate, 30_minutes, 1_hour, 2_hours, 4_hours, 6_hours, 8_hours <br /> If set to anything other than immediate, the user will receive a digest email summarizing all of the new messages that they haven't viewed.
                  type: string
                email_newsletters:
                  description: If set to 1, the user will receive occasional email newsletters from trash nothing.  To disable, set to 0.
                  type: string
                email_post_reminders:
                  description: If set to 1, the user will receive emails to remind them to handle their old posts.  To disable, set to 0.
                  type: integer
                email_posts_frequency:
                  description: |
                    How often new post email notifications are sent to the user. One of: weekly, twice_weekly, daily, 12_hours, 8_hours, 6_hours, 4_hours, 2_hours, hourly <br /><br /> To turn off new post email notifications, set this to an empty string.
                  type: string
                email_search_alerts:
                  description: If set to 1, the user will receive emails when new posts that match one of their search alerts.  To disable, set to 0.
                  type: integer
                firstname:
                  description: The first name of the user.
                  maxLength: 64
                  type: string
                last_listings_view:
                  description: The UTC date and time when the user last viewed the newest posts on the All Posts page.
                  format: date-time
                  type: string
                lastname:
                  description: The last name of the user.
                  maxLength: 64
                  type: string
                notify_about_reposts:
                  description: |
[...]
