swagger: '2.0'
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: Logical subnet operation endpoints and objects.
  title: FabricAdminClient
  version: '2016-05-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/stable/2016-05-01/LogicalSubnet.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: azsadmin-LogicalSubnet
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  LogicalNetworkParameter:
    description: Name of the logical network.
    in: path
    name: logicalNetwork
    required: true
    type: string
    x-ms-parameter-location: method
  LogicalSubnetParameter:
    description: Name of the logical subnet.
    in: path
    name: logicalSubnet
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/logicalNetworks/{logicalNetwork}/logicalSubnets':
    get:
      description: Get a list of all logical subnets.
      operationId: LogicalSubnets_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/LogicalNetworkParameter'
        - default: '2016-05-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: OData filter parameter.
          in: query
          name: $filter
          type: string
          x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LogicalSubnetList'
      tags:
        - LogicalSubnets
      x-ms-examples:
        List all logical subnets:
          parameters:
            api-version: '2016-05-01'
            location: local
            logicalNetwork: 00000000-2222-1111-9999-000000000001
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/logicalNetworks/00000000-2222-1111-9999-000000000001/logicalSubnets/9ea1839b-4025-416b-b67c-405d667691bb
                    location: local
                    name: 9ea1839b-4025-416b-b67c-405d667691bb
                    properties:
                      ipPools:
                        - cdda477d-c28a-4018-b76b-2af713358d95
                      isPublic: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/logicalNetworks/logicalSubnets
      x-ms-odata: '#/definitions/LogicalSubnet'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/logicalNetworks/{logicalNetwork}/logicalSubnets/{logicalSubnet}':
    get:
      description: Get a list of all volumes at a location.
      operationId: LogicalSubnets_Get
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/LogicalNetworkParameter'
        - $ref: '#/parameters/LogicalSubnetParameter'
        - default: '2016-05-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LogicalSubnet'
      tags:
        - LogicalSubnets
      x-ms-examples:
        Get a logical subnet:
          parameters:
            api-version: '2016-05-01'
            location: local
            logicalNetwork: 00000000-2222-1111-9999-000000000001
            logicalSubnet: 9ea1839b-4025-416b-b67c-405d667691bb
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/logicalNetworks/00000000-2222-1111-9999-000000000001/logicalSubnets/9ea1839b-4025-416b-b67c-405d667691bb
                location: local
                name: 9ea1839b-4025-416b-b67c-405d667691bb
                properties:
                  ipPools:
                    - cdda477d-c28a-4018-b76b-2af713358d95
                  isPublic: false
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations/logicalNetworks/logicalSubnets
definitions:
  LogicalSubnet:
    allOf:
      - description: Base Resource Object
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: Region Location of resource.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: This resource represents a Logical Subnet.  A Logical Subnet comprises of subnet/vlan pair.
    properties:
      properties:
        $ref: '#/definitions/LogicalSubnetModel'
        description: Properties of a logical subnet.
        x-ms-client-flatten: true
    type: object
  LogicalSubnetList:
    description: Pageable list of logical subnets.
    properties:
      nextLink:
        description: URI to the next page.
        type: string
      value:
        description: List of logical subnets on this page.
        items:
          $ref: '#/definitions/LogicalSubnet'
        type: array
    type: object
  LogicalSubnetModel:
    description: Properties of a logical subnet.
    properties:
      ipPools:
        description: All ip pools which belong to this subnet.
        items:
          type: string
        type: array
      isPublic:
        description: The visiblity status of the ip pool.  If is true the associated pools are public ip address pools.
        type: boolean
      metadata:
        additionalProperties:
          type: string
        description: Metadata related to this Logical Network.
        type: object
    type: object
