swagger: '2.0'
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: Scale unit node operation endpoints and objects.
  title: FabricAdminClient
  version: '2016-05-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/stable/2016-05-01/ScaleUnitNode.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: azsadmin-ScaleUnitNode
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ScaleUnitNodeParameter:
    description: Name of the scale unit node.
    in: path
    name: scaleUnitNode
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes':
    get:
      description: Get a list of all scale unit nodes in a location.
      operationId: ScaleUnitNodes_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - default: '2016-05-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: OData filter parameter.
          in: query
          name: $filter
          type: string
          x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ScaleUnitNodeList'
      tags:
        - ScaleUnitNodes
      x-ms-examples:
        List all scale unit node:
          parameters:
            api-version: '2016-05-01'
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnitNodes/HC1n25r2236
                    location: local
                    name: HC1n25r2236
                    properties:
                      canPowerOff: false
                      capacity:
                        cores: 56
                        memoryGB: 255.875
                      macAddress: 24-8A-07-89-15-62
                      powerState: Running
                      scaleUnitName: S-Cluster
                      scaleUnitNodeStatus: Running
                      scaleUnitUri: /fabricLocations/local/scaleUnits/S-Cluster
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/scaleUnitNodes
      x-ms-odata: '#/definitions/ScaleUnitNode'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}':
    get:
      description: Get a specific scale unit node.
      operationId: ScaleUnitNodes_Get
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ScaleUnitNodeParameter'
        - default: '2016-05-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ScaleUnitNode'
      tags:
        - ScaleUnitNodes
      x-ms-examples:
        Get a scale unit node:
          parameters:
            api-version: '2016-05-01'
            location: local
            scaleUnitNode: HC1n25r2236
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnitNodes/HC1n25r2236
                location: local
                name: HC1n25r2236
                properties:
                  canPowerOff: false
                  capacity:
                    cores: 56
                    memoryGB: 255.875
                  macAddress: 24-8A-07-89-15-62
                  powerState: Running
                  scaleUnitName: S-Cluster
                  scaleUnitNodeStatus: Running
                  scaleUnitUri: /fabricLocations/local/scaleUnits/S-Cluster
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations/scaleUnitNodes
  '/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/PowerOff':
    post:
      description: Power off a scale unit node.
      operationId: ScaleUnitNodes_PowerOff
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ScaleUnitNodeParameter'
        - default: '2016-05-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: Status of the compute operation.
            properties:
              properties:
                description: The state of the operation.
                properties:
                  provisioningState:
                    description: The state of the operation.
                    type: string
        '202':
          description: ACCEPTED
          schema:
            description: Status of the compute operation.
            properties:
              properties:
                description: The state of the operation.
                properties:
                  provisioningState:
                    description: The state of the operation.
                    type: string
        '500':
          description: FAILURE
          schema:
            description: Status of the compute operation.
            properties:
              properties:
                description: The state of the operation.
                properties:
                  provisioningState:
                    description: The state of the operation.
                    type: string
      tags:
        - ScaleUnitNodes
      x-ms-examples:
        Power off a scale unit node:
          parameters:
            api-version: '2016-05-01'
            location: local
            scaleUnitNode: HC1n25r2236
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              provisioningState:
                provisioningState: Success
            '202':
              provisioningState:
                provisioningState: Working
            '500':
              provisioningState:
                provisioningState: Working
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/PowerOn':
    post:
      description: Power on a scale unit node.
      operationId: ScaleUnitNodes_PowerOn
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ScaleUnitNodeParameter'
        - default: '2016-05-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: Status of the compute operation.
            properties:
              properties:
                description: The state of the operation.
                properties:
                  provisioningState:
                    description: The state of the operation.
                    type: string
        '202':
          description: ACCEPTED
          schema:
            description: Status of the compute operation.
            properties:
              properties:
                description: The state of the operation.
                properties:
                  provisioningState:
                    description: The state of the operation.
                    type: string
        '500':
          description: FAILURE
          schema:
            description: Status of the compute operation.
            properties:
              properties:
                description: The state of the operation.
                properties:
                  provisioningState:
                    description: The state of the operation.
                    type: string
      tags:
        - ScaleUnitNodes
      x-ms-examples:
        Power on a scale unit node:
          parameters:
            api-version: '2016-05-01'
            location: local
            scaleUnitNode: HC1n25r2236
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              provisioningState:
                provisioningState: Success
            '202':
              provisioningState:
                provisioningState: Working
            '500':
              provisioningState:
                provisioningState: Working
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/StartMaintenanceMode':
    post:
      description: Start maintenance mode for a scale unit node.
      operationId: ScaleUnitNodes_StartMaintenanceMode
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ScaleUnitNodeParameter'
        - default: '2016-05-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: Status of the compute operation.
            properties:
              properties:
                description: The state of the operation.
                properties:
                  provisioningState:
                    description: The state of the operation.
                    type: string
        '202':
          description: ACCEPTED
          schema:
            description: Status of the compute operation.
            properties:
              properties:
                description: The state of the operation.
                properties:
                  provisioningState:
                    description: The state of the operation.
                    type: string
        '500':
          description: FAILURE
          schema:
            description: Status of the compute operation.
            properties:
              properties:
                description: The state of the operation.
                properties:
                  provisioningState:
                    description: The state of the operation.
                    type: string
      tags:
        - ScaleUnitNodes
      x-ms-examples:
        Start maintenance mode on a scale unit node:
          parameters:
            api-version: '2016-05-01'
            location: local
            scaleUnitNode: HC1n25r2236
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              provisioningState:
                provisioningState: Success
            '202':
              provisioningState:
                provisioningState: Working
            '500':
              provisioningState:
                provisioningState: Working
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/StopMaintenanceMode':
    post:
      description: Stop maintenance mode for a scale unit node.
      operationId: ScaleUnitNodes_StopMaintenanceMode
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ScaleUnitNodeParameter'
        - default: '2016-05-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: Status of the compute operation.
            properties:
              properties:
                description: The state of the operation.
                properties:
                  provisioningState:
                    description: The state of the operation.
                    type: string
        '202':
          description: ACCEPTED
          schema:
            description: Status of the compute operation.
            properties:
              properties:
                description: The state of the operation.
                properties:
                  provisioningState:
                    description: The state of the operation.
                    type: string
        '500':
          description: FAILURE
          schema:
            description: Status of the compute operation.
            properties:
              properties:
                description: The state of the operation.
                properties:
                  provisioningState:
                    description: The state of the operation.
                    type: string
      tags:
        - ScaleUnitNodes
      x-ms-examples:
        Stop maintenance mode on a scale unit node:
          parameters:
            api-version: '2016-05-01'
            location: local
            scaleUnitNode: HC1n25r2236
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              provisioningState:
                provisioningState: Success
            '202':
              provisioningState:
                provisioningState: Working
            '500':
              provisioningState:
                provisioningState: Working
      x-ms-long-running-operation: true
definitions:
  ScaleUnitNode:
    allOf:
      - description: Base Resource Object
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: Region Location of resource.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: The physical server in a cluster.
    properties:
      properties:
        $ref: '#/definitions/ScaleUnitNodeModel'
        description: Holds all properties related to a scale unit node.
        x-ms-client-flatten: true
    type: object
  ScaleUnitNodeList:
    description: A pageable list of scale unit nodes.
    properties:
      nextLink:
        description: The URI to the next page.
        type: string
      value:
        description: The list of nodes in this page.
        items:
          $ref: '#/definitions/ScaleUnitNode'
        type: array
    type: object
  ScaleUnitNodeModel:
    description: Holds all properties related to a scale unit node.
    properties:
      biosVersion:
        description: Bios version of the physical machine.
        type: string
      bmcAddress:
        description: Bmc address of the physical machine.
        type: string
      canPowerOff:
        description: Value indicating whether the node can be powered off.
        type: boolean
      capacity:
        description: The capacity information for a physical machine.
        properties:
          cores:
            description: The number of CPU cores for the physical machine.
            format: int64
            type: integer
          memoryGB:
            description: The memory for the physical machine.
            format: float
            type: number
        type: object
      macAddress:
        description: MacAddress of the physical machine.
        type: string
      model:
        description: Model of the physical machine.
        type: string
      powerState:
        description: PowerState of the physical machine.
        enum:
          - Stopped
          - Starting
          - Running
          - Stopping
        type: string
        x-ms-enum:
          modelAsString: true
          name: PowerState
      scaleUnitName:
        description: Cluster name of the physical machine.
        type: string
      scaleUnitNodeStatus:
        description: Status of the physical machine.
        enum:
          - Running
          - Maintenance
          - Stopped
        type: string
        x-ms-enum:
          modelAsString: true
          name: ScaleUnitNodeStatus
      scaleUnitUri:
        description: URI of the corresponding cluster.
        type: string
      serialNumber:
        description: Serial number of the physical machine.
        type: string
      vendor:
        description: Vendor of the physical machine.
        type: string
    type: object
