openapi: 3.0.0
servers:
  - url: https://api.trakt.tv
x-hasEquivalentPaths: true
info:
  description: |-
    At Trakt, we collect lots of interesting information about what tv shows and movies everyone is watching. Part of the fun with such data is making it available for anyone to mash up and use on their own site or app. The Trakt API was made just for this purpose. It is very easy to use, you basically call a URL and get some JSON back.

    More complex API calls (such as adding a movie or show to your collection) involve sending us data. These are still easy to use, you simply POST some JSON data to a specific URL.

    Make sure to check out the [**Required Headers**](#introduction/required-headers) and [**Authentication**](#reference/authentication-oauth) sections for more info on what needs to be sent with each API call. Also check out the [**Terminology**](#introduction/terminology) section insight into the features Trakt supports.

    # Create an App

    To use the Trakt API, you'll need to [**create a new API app**](https://trakt.tv/oauth/applications/new).

    # Stay Connected

    API discussion and bugs should be posted in the [**GitHub Developer Forum**](https://github.com/trakt/api-help/issues) and *watch* the repository if you'd like to get notifications. Make sure to follow our [**API Blog**](https://apiblog.trakt.tv) and [**@traktapi on Twitter**](https://twitter.com/traktapi) too.

    # API URL

    The API should always be accessed over SSL.

    ```
    https://api.trakt.tv
    ```

    If you would like to use our sandbox environment to not fill production with test data, use this URL over SSL. **Note:** Staging is a completely separate environment, so you'll need to [**create a new API app on staging**](https://staging.trakt.tv/oauth/applications/new).

    ```
    https://api-staging.trakt.tv
    ```

    # Verbs

    The API uses restful verbs.

    | Verb | Description |
    |---|---|
    | `GET` | Select one or more items. Success returns `200` status code. |
    | `POST` | Create a new item. Success returns `201` status code. |
    | `PUT` | Update an item. Success returns `200` status code. |
    | `DELETE` | Delete an item. Success returns `200` or `204` status code. |

    # Status Codes

    The API will respond with one of the following HTTP status codes.

    | Code | Description |
    |---|---|
    | `200` | Success
    | `201` | Success - *new resource created (POST)*
    | `204` | Success - *no content to return (DELETE)*
    | `400` | Bad Request - *request couldn't be parsed*
    | `401` | Unauthorized - *OAuth must be provided*
    | `403` | Forbidden - *invalid API key or unapproved app*
    | `404` | Not Found - *method exists, but no record found*
    | `405` | Method Not Found - *method doesn't exist*
    | `409` | Conflict - *resource already created*
    | `412` | Precondition Failed - *use application/json content type*
    | `420` | Account Limit Exceeded - *list count, item count, etc*
    | `422` | Unprocessable Entity - *validation errors*
    | `423` | Locked User Account - *have the user contact support*
    | `426` | VIP Only - *user must upgrade to VIP*
    | `429` | Rate Limit Exceeded
    | `500` | Server Error - *please open a support ticket*
    | `502` | Service Unavailable - *server overloaded (try again in 30s)*
    | `503` | Service Unavailable - *server overloaded (try again in 30s)*
    | `504` | Service Unavailable - *server overloaded (try again in 30s)*
    | `520` | Service Unavailable - *Cloudflare error*
    | `521` | Service Unavailable - *Cloudflare error*
    | `522` | Service Unavailable - *Cloudflare error*

    # Required Headers

    You'll need to send some headers when making API calls to identify your application, set the version and set the content type to JSON.

    | Header | Value |
    |---|---|
    | `Content-type` <span style="color:red;">*</a> | `application/json` |
    | `trakt-api-key` <span style="color:red;">*</a> | Your `client_id` listed under your Trakt applications. |
    | `trakt-api-version` <span style="color:red;">*</a> | `2` | API version to use.

    All `POST`, `PUT`, and `DELETE` methods require a valid OAuth `access_token`. Some `GET` calls require OAuth and others will return user specific data if OAuth is sent. Methods that &#128274; **require** or have &#128275; **optional** OAuth will be indicated.

    Your OAuth library should take care of sending the auth headers for you, but for reference here's how the Bearer token should be sent.

    | Header | Value |
    |---|---|
    | `Authorization` | `Bearer [access_token]` |

    # Rate Limiting

    All API methods are rate limited. A `429` HTTP status code is returned when the limit has been exceeded. Check the headers for detailed info, then try your API call in `Retry-After` seconds.

    | Header | Value |
    |---|---|
    | `X-Ratelimit` | `{"name":"UNAUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":0,"until":"2020-10-10T00:24:00Z"}` |
    | `Retry-After` | `10` |

    Here are the current limits. There are separate limits for authed (user level) and unauthed (application level) calls. We'll continue to adjust these limits to optimize API performance for everyone. The goal is to prevent API abuse and poor coding, but allow users to use apps normally.

    | Name | Verb | Methods | Limit |
    |---|---|---|---|
    | `AUTHED_API_POST_LIMIT` | `POST`, `PUT`, `DELETE` | all | 1 call per second |
    | `AUTHED_API_GET_LIMIT` | `GET` | all | 1000 calls every 5 minutes |
    | `UNAUTHED_API_GET_LIMIT` | `GET` | all | 1000 calls every 5 minutes |

    # Locked User Account

    A `423` HTTP status code is returned when the OAuth user has a locked user account. Please instruct the user to [**contact Trakt support**](https://support.trakt.tv) so we can fix their account. API access will be suspended for the user until we fix their account.

    # VIP Methods

    Some API methods are tagged 🔥 **VIP Only**. A `426` HTTP status code is returned when the user isn't a VIP, indicating they need to sign up for [**Trakt VIP**](https://trakt.tv/vip) in order to use this method. In your app, please open a browser to `X-Upgrade-URL` so the user can sign up for Trakt VIP.

    | Header | Value |
    |---|---|
    | `X-Upgrade-URL` | `https://trakt.tv/vip` |

    Some API methods are tagged 🔥 **VIP Enhanced**. A `420` HTTP status code is returned when the user has exceeded their account limit. Signing up for [**Trakt VIP**](https://trakt.tv/vip) will increase these limits. If the user isn't a VIP, please open a browser to `X-Upgrade-URL` so the user can sign up for Trakt VIP. If they are already VIP and still exceeded the limit, please display a message indicating this.

    | Header | Value |
    |---|---|
    | `X-Upgrade-URL` | `https://trakt.tv/vip` |
    | `X-VIP-User` | `true` or `false` |
    | `X-Account-Limit` | Limit allowed. |

    # Pagination

    Some methods are paginated. Methods with &#128196; **Pagination** will load 1 page of 10 items by default. Methods with &#128196; **Pagination Optional** will load all items by default. In either case, append a query string like `?page={page}&limit={limit}` to the URL to influence the results.

    | Parameter | Type | Default | Value |
    |---|---|---|---|
    | `page` | integer | `1` | Number of page of results to be returned. |
    | `limit` | integer | `10` | Number of results to return per page. |

    All paginated methods will return these HTTP headers.

    | Header | Value |
    |---|---|
    | `X-Pagination-Page` | Current page. |
    | `X-Pagination-Limit` | Items per page. |
    | `X-Pagination-Page-Count` | Total number of pages. |
    | `X-Pagination-Item-Count` | Total number of items. |

    # Extended Info

    By default, all methods will return minimal info for movies, shows, episodes, people, and users. Minimal info is typically all you need to match locally cached items and includes the `title`, `year`, and `ids`. However, you can request different extended levels of information by adding `?extended={level}` to the URL. Send a comma separated string to get multiple types of extended info.

    **Note:** This returns a lot of extra data, so please only use extended parameters if you actually need them!

    | Level | Description |
    |---|---|
    | `full` | Complete info for an item.
    | `metadata` | **Collection only.** Additional video and audio info.

    # Filters

    Some `movies`, `shows`, `calendars`,  and `search` methods support additional filters and will be tagged with &#127898; **Filters**. Applying these filters refines the results and helps your users to more easily discover new items.

    Add a query string (i.e. `?years=2016&genres=action`) with any filters you want to use. Some filters allow multiples which can be sent as comma delimited parameters. For example, `?genres=action,adventure` would match the `action` OR `adventure` genre.

    **Note:** Make sure to properly URL encode the parameters including spaces and special characters.

    #### Common Filters

    | Parameter | Multiples | Example | Value |
    |---|---|---|---|
    | `query` | | `batman` | Search titles and descriptions. |
    | `years` | | `2016` | 4 digit year or range of years. |
    | `genres` | &#10003; | `action` | [Genre slugs.](#reference/genres) |
    | `languages` | &#10003; | `en` | [2 character language code.](#reference/languages) |
    | `countries` | &#10003; | `us` | [2 character country code.](#reference/countries) |
    | `runtimes` | | `30-90` | Range in minutes. |
    | `studios` | &#10003; | `marvel-studios` | Studio slugs. |

    #### Rating Filters

    Trakt, TMDB, and IMDB ratings apply to `movies`, `shows`, and `episodes`. Rotten Tomatoes and Metacritic apply to `movies`.

    | Parameter | Multiples | Example | Value |
    |---|---|---|---|
    | `ratings` | | `75-100` | Trakt rating range between `0` and `100`. |
    | `votes` | | `5000-10000` | Trakt vote count between `0` and `100000`. |
    | `tmdb_ratings` | | `5.5-10.0` | TMDB rating range between `0.0` and `10.0`. |
    | `tmdb_votes` | | `5000-10000` | TMDB vote count between `0` and `100000`. |
    | `imdb_ratings` | | `5.5-10.0` | IMDB rating range between `0.0` and `10.0`. |
    | `imdb_votes` | | `5000-10000` | IMDB vote count between `0` and `3000000`. |
    | `rt_meters` | | `5.5-10.0` | Rotten Tomatoes meter range between `0` and `100`. |
    | `metascores` | | `5.5-10.0` | Metacritic score range between `0` and `100`. |

    #### Movie Filters

    | Parameter | Multiples | Example | Value |
    |---|---|---|---|
    | `certifications` | &#10003; | `pg-13` | US content certification. |

    #### Show Filters

    | Parameter | Multiples | Example | Value |
    |---|---|---|---|
    | `certifications` | &#10003; | `tv-pg` | US content certification. |
    | `networks` | &#10003; | `HBO` | Network name. |
    | `status` | &#10003; | `ended` | Set to `returning series`, `continuing`, `in production`, `planned`, `upcoming`,  `pilot`, `canceled`, or `ended`. |

    # CORS

    When creating your API app, specify the JavaScript (CORS) origins you'll be using. We use these origins to return the headers needed for CORS.

    # Dates

    All dates will be GMT and returned in the ISO 8601 format like `2014-09-01T09:10:11.000Z`. Adjust accordingly in your app for the user's local timezone.

    # Emojis

    We use short codes for emojis like `:smiley:` and `:raised_hands:` and render them on the Trakt website using [**JoyPixels**](https://www.joypixels.com/) _(verion 6.6.0)_. Methods that support emojis are tagged with &#128513; **Emojis**. For POST methods, you can send standard unicode emojis and we'll automatically convert them to short codes. For GET methods, we'll return the short codes and it's up to your app to convert them back to unicode emojis.

    # Standard Media Objects

    All methods will accept or return standard media objects for `movie`, `show`, `season`, `episode`, `person`, and `user` items. Here are examples for all minimal objects.

    #### movie

    ```
    {
        "title": "Batman Begins",
        "year": 2005,
        "ids": {
            "trakt": 1,
            "slug": "batman-begins-2005",
            "imdb": "tt0372784",
            "tmdb": 272
        }
    }
    ```

    #### show

    ```
    {
        "title": "Breaking Bad",
        "year": 2008,
        "ids": {
            "trakt": 1,
            "slug": "breaking-bad",
            "tvdb": 81189,
            "imdb": "tt0903747",
            "tmdb": 1396
        }
    }
    ```

    #### season

    ```
    {
        "number": 0,
        "ids": {
            "trakt": 1,
            "tvdb": 439371,
            "tmdb": 3577
        }
    }
    ```

    #### episode

    ```
    {
        "season": 1,
        "number": 1,
        "title": "Pilot",
        "ids": {
            "trakt": 16,
            "tvdb": 349232,
            "imdb": "tt0959621",
            "tmdb": 62085
        }
    }
    ```

    #### person

    ```
    {
        "name": "Bryan Cranston",
        "ids": {
            "trakt": 142,
            "slug": "bryan-cranston",
            "imdb": "nm0186505",
            "tmdb": 17419
        }
    }
    ```

    #### user

    ```
    {
        "username": "sean",
        "private": false,
        "name": "Sean Rudford",
        "vip": true,
        "vip_ep": true,
        "ids": {
            "slug": "sean"
        }
    }
    ```

    # Images

    The standard media objects for all `movie`, `show`, `season`, `episode`, and `person` items include an `ids` object. These `ids` map to other services like [TMDB](https://www.themoviedb.org), [TVDB](https://thetvdb.com), [Fanart.tv](https://fanart.tv), [IMDB](https://www.imdb.com), and [OMDB](https://www.omdbapi.com/).

    Most of these services have free APIs you can use to grab lots of great looking images. Here’s a chart to help you find the best artwork for your app. [**We also wrote an article to help with this.**](https://apiblog.trakt.tv/how-to-find-the-best-images-516045bcc3b6)

    | Media | Type | [TMDB](https://developers.themoviedb.org/3) | [TVDB](https://api.thetvdb.com/swagger) | [Fanart.tv](http://docs.fanarttv.apiary.io) | [OMDB](https://www.omdbapi.com) |
    |---|---|---|---|---|---|
    | `shows` | `poster` | &#10003; | &#10003; | &#10003; | &#10003; |
    |  | `fanart` | &#10003; | &#10003; | &#10003; |  |
    |  | `banner` |  | &#10003; | &#10003; |  |
    |  | `logo` |  |  | &#10003; |  |
    |  | `clearart` |  |  | &#10003; |  |
    |  | `thumb` |  |  | &#10003; |  |
    | `seasons` | `poster` | &#10003; | &#10003; | &#10003; |  |
    |  | `banner` |  | &#10003; | &#10003; |  |
    |  | `thumb` |  |  | &#10003; |  |
    | `episodes` | `screenshot` | &#10003; | &#10003; |  |  |
    | `movies` | `poster` | &#10003; |  | &#10003; | &#10003; |
    |  | `fanart` | &#10003; |  | &#10003; |  |
    |  | `banner` |  |  | &#10003; |  |
    |  | `logo` |  |  | &#10003; |  |
    |  | `clearart` |  |  | &#10003; |  |
    |  | `thumb` |  |  | &#10003; |  |
    | `person` | `headshot` | &#10003; |  |  |  |
    |  | `character` |  | &#10003; |  |  |

    # Website Media Links

    There are several ways to construct direct links to media on the Trakt website. The website itself uses slugs so the URLs are more readable.

    | Type | URL |
    |---|---|
    | `movie` | `/movies/:slug` |
    | `show` | `/shows/:slug` |
    | `season` | `/shows/:slug/seasons/:num` |
    | `episode` | `/shows/:slug/seasons/:num/episodes/:num` |
    | `person` | `/people/:slug` |
    | `comment` | `/comments/:id` |
    | `list` | `/lists/:id` |

    You can also create links using the Trakt, IMDB, TMDB, or TVDB IDs. We recommend using the Trakt ID if possible since that will always have full coverage. If you use the search url without an `id_type` it will return search results if multiple items are found.

    | Type | URL |
    |---|---|
    | `trakt` | `/search/trakt/:id` |
    |  | `/search/trakt/:id?id_type=movie` |
    |  | `/search/trakt/:id?id_type=show` |
    |  | `/search/trakt/:id?id_type=season` |
    |  | `/search/trakt/:id?id_type=episode` |
    |  | `/search/trakt/:id?id_type=person` |
    | `imdb` | `/search/imdb/:id` |
    | `tmdb` | `/search/tmdb/:id` |
    |  | `/search/tmdb/:id?id_type=movie` |
    |  | `/search/tmdb/:id?id_type=show` |
    |  | `/search/tmdb/:id?id_type=episode` |
    |  | `/search/tmdb/:id?id_type=person` |
    | `tvdb` | `/search/tvdb/:id` |
    |  | `/search/tvdb/:id?id_type=show` |
    |  | `/search/tvdb/:id?id_type=episode` |

    # Third Party Libraries

    All of the libraries listed below are user contributed. If you find a bug or missing feature, please contact the developer directly. These might help give your project a head start, but we can't provide direct support for any of these libraries. Please help us keep this list up to date.

    | Language | Name | Repository |
    |---|---|---|
    | `C#` | `Trakt.NET` | https://github.com/henrikfroehling/Trakt.NET |
    |  | `TraktSharp` | https://github.com/wwarby/TraktSharp |
    | `C++` | `libtraqt` | https://github.com/RobertMe/libtraqt |
    | `Clojure` | `clj-trakt` | https://github.com/niamu/clj-trakt |
    | `Java` | `trakt-java` | https://github.com/UweTrottmann/trakt-java |
    | `Node.js` | `Trakt.tv` | https://github.com/vankasteelj/trakt.tv |
    |  | `TraktApi2` | https://github.com/PatrickE94/traktapi2 |
    | `Python` | `trakt.py` | https://github.com/fuzeman/trakt.py |
    |  | `pyTrakt` | https://github.com/moogar0880/PyTrakt |
    | `R` | `tRakt` | https://github.com/jemus42/tRakt |
    | `React Native` | `nodeless-trakt` | https://github.com/kdemoya/nodeless-trakt |
    | `Ruby` | `omniauth-trakt` | https://github.com/wafcio/omniauth-trakt |
    |  | `omniauth-trakt` | https://github.com/alextakitani/omniauth-trakt |
    | `Swift` | `TraktKit` | https://github.com/MaxHasADHD/TraktKit |
    |  | `AKTrakt` | https://github.com/arsonik/AKTrakt |

    # Terminology

    Trakt has a lot of features and here's a chart to help explain the differences between some of them.

    | Term | Description |
    |---|---|
    | `scrobble` | Automatic way to track what a user is watching in a media center. |
    | `checkin` | Manual action used by mobile apps allowing the user to indicate what they are watching right now. |
    | `history` | All watched items (scrobbles, checkins, watched) for a user. |
    | `collection` | Items a user has available to watch including Blu-Rays, DVDs, and digital downloads. |
    | `watchlist` | Items a user wants to watch in the future. Once watched, they are auto removed from this list. |
    | `list` | Personal list for any purpose. Items are not auto removed from any personal lists. |
    | `recommendations` | Movies and TV shows a user personally recommends to others. |
  title: Trakt API
  version: 1.0.0
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_walter.trakt.tv_hotlink-ok_public_apple-touch-icon.png
  x-origin:
    - format: swagger
      url: https://trakt.docs.apiary.io/api-description-document
      version: "2.0"
  x-providerName: trakt.tv
tags:
  - description: |-
      The API uses OAuth2.  If you know what's up with OAuth2, grab your library and starting rolling. If you have access to a web browser (mobile app, desktop app, website), use standard **OAuth**. If you don't have web browser access (media center plugins, smart watches, smart TVs, command line scripts, system services), use **Device** authentication.

      To obtain a `client_id` and `client_secret`, create an application on the Trakt website. Here are some helpful links to get your started:

      - [Create a new API app](https://trakt.tv/oauth/applications/new)

      - [View your API apps](https://trakt.tv/oauth/applications)

      ---

      #### Application Flow

      1. **Redirect to request Trakt access.** Using the [**/oauth/authorize**](/reference/authentication-oauth/authorize) method, construct then redirect to this URL. The Trakt website will request permissions for your app and the user will have the opportunity to sign up for a new Trakt account or sign in with their existing account.

      2. **Trakt redirects back to your site.** If the user accepts your request, Trakt redirects back to your site with a temporary code in a `code` GET parameter as well as the state (if provided) in the previous step in a `state` parameter. If the states don’t match, the request has been created by a third party and the process should be aborted.

      3. **Exchange the code for an access token.** If everything looks good in step 2, exchange the `code` for an access token using the [**/oauth/token**](reference/authentication-oauth/get-token/) method. Save the `access_token` so your app can authenticate the user by sending the `Authorization` header as indicated below or in any example code. The `access_token` is valid for 3 months. Save and use the `refresh_token` to get a new `access_token` without asking the user to re-authenticate.
    name: Authentication - OAuth
  - description: |-
      Device authentication is for apps and services with limited input or display capabilities. This include media center plugins, smart watches, smart TVs, command line scripts, and system services.

      Your app displays an alphanumeric code (typically 8 characters) to the user. They are then instructed to visit the verification URL on their computer or mobile device. After entering the code, the user will be prompted to grant permission for your app. After your app gets permissions, the device receives an `access_token` and works like standard OAuth from that point on. More details below.

      ---

      #### Application Flow

      1. **Generate codes.** Your app calls [**/oauth/device/code**](/reference/authentication-devices/code) to generate new codes. Save this entire response for later use.

      2. **Display the code.** Display the `user_code` and instruct the user to visit the `verification_url` on their computer or mobile device.

      3. **Poll for authorization.** Poll the [**/oauth/device/token**](/reference/authentication-devices/token) method to see if the user successfully authorizes your app. Use the `device_code` and poll at the `interval` (in seconds) to check if the user has authorized your app. Check the docs below for the specific error codes you need to handle. Use `expires_in` to stop polling after that many seconds, and gracefully instruct the user to restart the process. **It is important to poll at the correct interval and also stop polling when expired.**

      4. **Successful authorization.** When you receive a `200` success response, save the `access_token` so your app can authenticate the user in methods that require it. The `access_token` is valid for 3 months. Save and use the `refresh_token` to get a new `access_token` without asking the user to re-authenticate. It's normal OAuth from this point.

      ---

      #### User Flow

      1. **Call to action.** Consider your user experience when asking a user to connect their Trakt account. For some devices this will be right away, and for others it might be later in the experience.

      2. **Display the code.** When a user clicks the call to action, your app calls [**/oauth/device/code**](/reference/authentication-devices/code) to generate new codes. In your UI, display the `user_code` and instruct the user to visit the `verification_url` on their computer or mobile device. The `user_code` is typically 8 characters, so make sure there is enough room to display the full code.

      3. **Authorizing your app.** When the user visits the `verification_url` it first checks to make sure they're signed in. If not signed in, they'll be able to or can sign up for a new account. After entering the code, the user will be prompted to grant permission for your app. Once approved, the user will see a success message indicating their device is connected.

      4. **Confirm successful authorization.** Your app will be polling to see if the user successfully authorizes your app. Once they have, refresh your UI to indicate a successful connection has been made.
    name: Authentication - Devices
  - description: |-
      By default, the calendar will return all shows or movies for the specified time period and can be global or user specific. The `start_date` defaults to today and `days` to 7. The maximum amount of `days` you can send is `33`. All dates (including the `start_date` and `first_aired`) are in UTC, so it's up to your app to handle any offsets based on the user's time zone.

      The `my` calendar displays episodes for all shows that have been watched, collected, or watchlisted plus individual episodes on the watchlist. It will remove any shows that have been hidden from the calendar. The `all` calendar displays info for all shows airing during the specified period.
    name: Calendars
  - description: Checking in is a manual action used by mobile apps allowing the user to indicate what they are watching right now. While not as effortless as scrobbling, checkins help fill in the gaps. You might be watching live tv, at a friend's house, or watching a movie in theaters. You can simply checkin from your phone or tablet in those situations. The item will display as *watching* on the site, then automatically switch to *watched* status once the duration has elapsed.
    name: Checkin
  - name: Certifications
  - description: |-
      Comments are attached to any movie, show, season, episode, or list and can be a quick shout or a more detailed review. Each comment can have replies and can be liked. These likes are used to determine popular comments. Comments must follow these rules and your app should indicate these to the user. Failure to adhere to these rules could suspend the user's commenting abilities.

      - Comments must be at least 5 words.

      - Comments 200 words or longer will be automatically marked as a review.

      - Correctly indicate if the comment contains spoilers.

      - Only write comments in English - **This is important!**

      - **Do not include** app specific text like (via App Name) or #apphashtag. This clutters up the comments and failure to clean the comment text could get your app blacklisted from commenting.

      #### Possible Error Responses

      | Code | Description |
      |---|---|
      | `401` | Invalid user
      | `401` | User banned from commenting
      | `404` | Item not found or doesn't allow comments
      | `409` | Comment can't be deleted
      | `422` | Validation errors

      #### Validation Errors

      If a comment doesn't pass validation, it returns a `422` HTTP error code and an array of validation errors in the response. The validation errors could include:

      | Error Message |
      |---|
      | `must be at least 5 words` |
      | `must be written in English` |

      #### Comment Formatting

      Comments support [**markdown**](https://en.wikipedia.org/wiki/Markdown) formatting so you'll want to render this in your app so it matches what the website does. In addition, we support inline spoiler tags like `[spoiler]text[/spoiler]` which you should also handle independent of the top level `spoiler` attribute.
    name: Comments
  - name: Countries
  - name: Genres
  - name: Languages
  - name: Lists
  - name: Movies
  - name: Networks
  - name: People
  - description: Trakt social recommendations use all the `Recommendations` lists from the users you follow. The more users you follow with similar tastes, the better your recommendations will be. We also use other factors for the algorithm to further personalize what gets recommended.
    name: Recommendations
  - description: Scrobbling is an automatic way to track what a user is watching in a media center. The media center should send events that correspond to starting, pausing, and stopping (or finishing) watching a movie or episode.
    name: Scrobble
  - description: Searches can use queries or ID lookups. Queries will search text fields like the title and overview. ID lookups are helpful if you have an external ID and want to get the Trakt ID and info. These methods can search for movies, shows, episodes, people, and lists.
    name: Search
  - name: Shows
  - name: Seasons
  - name: Episodes
  - description: |-
      Syncing with trakt opens up quite a few cool features. Most importantly, trakt can serve as a cloud based backup for the data in your app. This is especially useful when rebuilding a media center or installing a mobile app on your new phone. It can also be nice to sync up multiple media centers with a central trakt account. If everything is in sync, your media can be managed from trakt and be reflected in your apps.

      ### Media objects for syncing

      As a baseline, all *add* and *remove* sync methods accept arrays of `movies`, `shows`, and `episodes`. Each of these top level array elements should themselves be an array of standard `movie`, `show`, or `episode` objects. Full examples are in the intro section called **Standard Media Objects**. Keep in mind that `episode` objects really only need the `ids` so it can find an exact match. This is useful for absolute ordered shows. Some methods also have optional metadata you can attach, so check the docs for each specific method.

      Media objects will be matched by ID first, then fall back to title and year. IDs will be matched in this order `trakt`, `imdb`, `tmdb`, `tvdb`, and `slug`. If nothing is found, it will match on the `title` and `year`. If still nothing, it would use just the `title` (or `name` for people) and find the most current object that exists.

      ### Watched History Sync

      This is a 2 way sync that will get items from trakt to sync locally, plus find anything new and sync back to trakt. Perform this sync on startup or at set intervals (i.e. once every day) to keep everything in sync. *This will only send data to trakt and not remove it.*

      ### Collection Sync

      It's very handy to have a snapshot on trakt of everything you have available to watch locally. Syncing your local connection will do just that. *This will only send data to trakt and not remove it.*

      ### Clean Collection

      Cleaning a collection involves comparing the trakt collection to what exists locally. This will remove items from the trakt collection if they don't exist locally anymore. You should make this clear to the user that data might be removed from trakt.
    name: Sync
  - description: |-
      User's with public data will return info with all GET methods. Private user's (including yourself) require valid OAuth and a friend relationship to return data.

      ### Username vs. Slug

      All `users` methods should use the `slug` to identify the user. The `slug` is a URL safe and globally unique version of the `username`.

      ### Special ID for the OAuth user

      If you send valid OAuth, you can use `me` to identify the OAuth user instead of needing their actual slug. You can of course still use their actual slug, it's up to you.

      ### Extra Headers

      If valid OAuth is sent, additional headers will be sent to better determine it is a data permissions issue (they aren't friends) and not bad OAuth. For example, you might try and access a private user's list you aren't friends with. This will return a `401` HTTP status code and the additional headers. This means the OAuth is valid, but authorization ultimately failed because there is no friend relationship.

      | Header | Value |
      |---|---|
      | `X-Private-User` | `true` or `false` |

      ### Creating New Users

      Since the API uses OAuth, users can create a new account during that flow if they need to. As far as your app is concerned, you'll still receive OAuth tokens no matter if they sign in with an existing account or create a new one.
    name: Users
paths:
  "/calendars/all/dvd/{start_date}/{days}":
    get:
      description: |-
        #### &#10024; Extended Info &#127898; Filters

        Returns all movies with a DVD release date during the time period specified.
      parameters:
        - description: Start the calendar on this date.
          example: 2014-09-01
          in: path
          name: start_date
          required: true
          schema:
            type: string
        - description: Number of days to display.
          example: "7"
          in: path
          name: days
          required: true
          schema:
            type: integer
        - description: e.g. 2
          example: "2"
          in: header
          name: trakt-api-version
          required: false
          schema:
            type: string
        - description: e.g. [client_id]
          example: "[client_id]"
          in: header
          name: trakt-api-key
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - movie:
                        ids:
                          imdb: tt2015381
                          slug: guardians-of-the-galaxy-2014
                          tmdb: 118340
                          trakt: 28
                        title: Guardians of the Galaxy
                        year: 2014
                      released: 2014-08-01
                    - movie:
                        ids:
                          imdb: tt2473602
                          slug: get-on-up-2014
                          tmdb: 239566
                          trakt: 29
                        title: Get On Up
                        year: 2014
                      released: 2014-08-01
                    - movie:
                        ids:
                          imdb: tt1291150
                          slug: teenage-mutant-ninja-turtles-2014
                          tmdb: 98566
                          trakt: 30
                        title: Teenage Mutant Ninja Turtles
                        year: 2014
                      released: 2014-08-08
          description: OK
          headers:
            X-End-Date:
              schema:
                type: string
            X-Start-Date:
              schema:
                type: string
      summary: Get DVD releases
      tags:
        - Calendars
  "/calendars/all/movies/{start_date}/{days}":
    get:
      description: |-
        #### &#10024; Extended Info &#127898; Filters

        Returns all movies with a release date during the time period specified.
      parameters:
        - description: Start the calendar on this date.
          example: 2014-09-01
          in: path
          name: start_date
          required: true
          schema:
            type: string
        - description: Number of days to display.
          example: "7"
          in: path
          name: days
          required: true
          schema:
            type: integer
        - description: e.g. 2
          example: "2"
          in: header
          name: trakt-api-version
          required: false
          schema:
            type: string
        - description: e.g. [client_id]
          example: "[client_id]"
          in: header
          name: trakt-api-key
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - movie:
                        ids:
                          imdb: tt2015381
                          slug: guardians-of-the-galaxy-2014
                          tmdb: 118340
                          trakt: 28
                        title: Guardians of the Galaxy
                        year: 2014
                      released: 2014-08-01
                    - movie:
                        ids:
                          imdb: tt2473602
                          slug: get-on-up-2014
                          tmdb: 239566
                          trakt: 29
                        title: Get On Up
                        year: 2014
                      released: 2014-08-01
                    - movie:
                        ids:
                          imdb: tt1291150
                          slug: teenage-mutant-ninja-turtles-2014
                          tmdb: 98566
                          trakt: 30
                        title: Teenage Mutant Ninja Turtles
                        year: 2014
                      released: 2014-08-08
          description: OK
          headers:
            X-End-Date:
              schema:
                type: string
            X-Start-Date:
              schema:
                type: string
      summary: Get movies
      tags:
        - Calendars
  "/calendars/all/shows/new/{start_date}/{days}":
    get:
      description: |-
        #### &#10024; Extended Info &#127898; Filters

        Returns all new show premieres (season 1, episode 1) airing during the time period specified.
      parameters:
        - description: Start the calendar on this date.
          example: 2014-09-01
          in: path
          name: start_date
          required: true
          schema:
            type: string
        - description: Number of days to display.
          example: "7"
          in: path
          name: days
          required: true
          schema:
            type: integer
        - description: e.g. 2
          example: "2"
          in: header
          name: trakt-api-version
          required: false
          schema:
            type: string
        - description: e.g. [client_id]
          example: "[client_id]"
          in: header
          name: trakt-api-key
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - episode:
                        ids:
                          imdb: tt3203968
                          tmdb: 983732
                          trakt: 497
                          tvdb: null
                        number: 1
                        season: 1
                        title: Pilot
                      first_aired: 2014-06-30T02:00:00.000Z
                      show:
                        ids:
                          imdb: tt2699128
                          slug: the-leftovers
                          tmdb: 54344
                          trakt: 7
                          tvdb: 269689
                        title: The Leftovers
                        year: 2014
          description: OK
          headers:
            X-End-Date:
              schema:
                type: string
            X-Start-Date:
              schema:
                type: string
      summary: Get new shows
      tags:
        - Calendars
  "/calendars/all/shows/premieres/{start_date}/{days}":
    get:
      description: |-
        #### &#10024; Extended Info &#127898; Filters

        Returns all show premieres (any season, episode 1) airing during the time period specified.
      parameters:
        - description: Start the calendar on this date.
          example: 2014-09-01
          in: path
          name: start_date
          required: true
          schema:
            type: string
        - description: Number of days to display.
          example: "7"
          in: path
          name: days
          required: true
          schema:
            type: integer
        - description: e.g. 2
          example: "2"
          in: header
          name: trakt-api-version
          required: false
          schema:
            type: string
        - description: e.g. [client_id]
          example: "[client_id]"
          in: header
          name: trakt-api-key
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - episode:
                        ids:
                          imdb: tt3203968
                          tmdb: 983732
                          trakt: 497
                          tvdb: null
                        number: 1
                        season: 1
                        title: Pilot
                      first_aired: 2014-06-30T02:00:00.000Z
                      show:
                        ids:
                          imdb: tt2699128
                          slug: the-leftovers
                          tmdb: 54344
                          trakt: 7
                          tvdb: 269689
                        title: The Leftovers
                        year: 2014
                    - episode:
                        ids:
                          imdb: ""
                          tmdb: 975949
                          trakt: 163
                          tvdb: null
                        number: 1
                        season: 5
                        title: 5x1
                      first_aired: 2014-10-13T01:00:00.000Z
                      show:
                        ids:
                          imdb: tt1520211
                          slug: the-walking-dead
                          tmdb: 1402
                          trakt: 2
                          tvdb: 153021
                        title: The Walking Dead
                        year: 2010
          description: OK
          headers:
            X-End-Date:
              schema:
                type: string
            X-Start-Date:
              schema:
                type: string
      summary: Get season premieres
      tags:
        - Calendars
  "/calendars/all/shows/{start_date}/{days}":
    get:
      description: |-
        #### &#10024; Extended Info &#127898; Filters

        Returns all shows airing during the time period specified.
      parameters:
        - description: Start the calendar on this date.
          example: 2014-09-01
          in: path
          name: start_date
          required: true
          schema:
            type: string
        - description: Number of days to display.
          example: "7"
          in: path
          name: days
          required: true
          schema:
            type: integer
        - description: e.g. 2
          example: "2"
          in: header
          name: trakt-api-version
          required: false
          schema:
            type: string
        - description: e.g. [client_id]
          example: "[client_id]"
          in: header
          name: trakt-api-key
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - episode:
                        ids:
                          imdb: tt3500614
                          tmdb: 988123
                          trakt: 443
                          tvdb: 4851180
                        number: 4
                        season: 7
                        title: Death is Not the End
                      first_aired: 2014-07-14T01:00:00.000Z
                      show:
                        ids:
                          imdb: tt0844441
                          slug: true-blood
                          tmdb: 10545
                          trakt: 5
                          tvdb: 82283
                        title: True Blood
                        year: 2008
                    - episode:
                        ids:
                          imdb: tt3631218
                          tmdb: 988346
                          trakt: 499
                          tvdb: 4854797
                        number: 3
                        season: 1
                        title: Two Boats and a Helicopter
                      first_aired: 2014-07-14T02:00:00.000Z
                      show:
                        ids:
                          imdb: tt2699128
                          slug: the-leftovers
                          tmdb: 54344
                          trakt: 7
                          tvdb: 269689
                        title: The Leftovers
                        year: 2014
                    - episode:
                        ids:
                          imdb: tt3500616
                          tmdb: 988124
                          trakt: 444
                          tvdb: 4851181
                        number: 5
                        season: 7
                        title: Return to Oz
                      first_aired: 2014-07-21T01:00:00.000Z
                      show:
                        ids:
                          imdb: tt0844441
                          slug: true-blood
                          tmdb: 10545
                          trakt: 5
                          tvdb: 82283
                        title: True Blood
                        year: 2008
                    - episode:
                        ids:
                          imdb: tt3594942
                          tmdb: 988347
                          trakt: 500
                          tvdb: 4854798
                        number: 4
                        season: 1
                        title: B.J. and the A.C.
                      first_aired: 2014-07-21T02:00:00.000Z
                      show:
                        ids:
                          imdb: tt2699128
                          slug: the-leftovers
                          tmdb: 54344
                          trakt: 7
                          tvdb: 269689
                        title: The Leftovers
                        year: 2014
          description: OK
          headers:
            X-End-Date:
              schema:
                type: string
            X-Start-Date:
              schema:
                type: string
      summary: Get shows
      tags:
        - Calendars
  "/calendars/my/dvd/{start_date}/{days}":
    get:
      description: |-
        #### &#128274; OAuth Required &#10024; Extended Info &#127898; Filters

        Returns all movies with a DVD release date during the time period specified.
      operationId: Get DVD releases
      parameters:
        - description: Start the calendar on this date.
          example: 2014-09-01
          in: path
          name: start_date
          required: true
          schema:
            type: string
        - description: Number of days to display.
          example: "7"
          in: path
          name: days
          required: true
          schema:
            type: integer
        - description: e.g. 2
          example: "2"
          in: header
          name: trakt-api-version
          required: false
          schema:
            type: string
        - description: e.g. [client_id]
          example: "[client_id]"
          in: header
          name: trakt-api-key
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - movie:
                        ids:
                          imdb: tt2015381
                          slug: guardians-of-the-galaxy-2014
                          tmdb: 118340
                          trakt: 28
                        title: Guardians of the Galaxy
                        year: 2014
                      released: 2014-08-01
                    - movie:
                        ids:
                          imdb: tt2473602
                          slug: get-on-up-2014
                          tmdb: 239566
                          trakt: 29
                        title: Get On Up
                        year: 2014
                      released: 2014-08-01
                    - movie:
                        ids:
                          imdb: tt1291150
                          slug: teenage-mutant-ninja-turtles-2014
                          tmdb: 98566
                          trakt: 30
                        title: Teenage Mutant Ninja Turtles
                        year: 2014
                      released: 2014-08-08
          description: OK
          headers:
            X-End-Date:
              schema:
                type: string
            X-Start-Date:
              schema:
                type: string
      security:
        - oauth2: []
      summary: Get DVD releases
      tags:
        - Calendars
  "/calendars/my/movies/{start_date}/{days}":
    get:
      description: |-
        #### &#128274; OAuth Required &#10024; Extended Info &#127898; Filters

        Returns all movies with a release date during the time period specified.
      operationId: Get movies
      parameters:
        - description: Start the calendar on this date.
          example: 2014-09-01
          in: path
          name: start_date
          required: true
          schema:
            type: string
        - description: Number of days to display.
          example: "7"
          in: path
          name: days
          required: true
          schema:
            type: integer
        - description: e.g. 2
          example: "2"
          in: header
          name: trakt-api-version
          required: false
          schema:
            type: string
        - description: e.g. [client_id]
          example: "[client_id]"
          in: header
          name: trakt-api-key
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - movie:
                        ids:
                          imdb: tt2015381
                          slug: guardians-of-the-galaxy-2014
                          tmdb: 118340
                          trakt: 28
                        title: Guardians of the Galaxy
                        year: 2014
                      released: 2014-08-01
                    - movie:
                        ids:
                          imdb: tt2473602
                          slug: get-on-up-2014
                          tmdb: 239566
                          trakt: 29
                        title: Get On Up
                        year: 2014
                      released: 2014-08-01
                    - movie:
                        ids:
                          imdb: tt1291150
                          slug: teenage-mutant-ninja-turtles-2014
                          tmdb: 98566
                          trakt: 30
                        title: Teenage Mutant Ninja Turtles
                        year: 2014
                      released: 2014-08-08
          description: OK
          headers:
            X-End-Date:
              schema:
                type: string
            X-Start-Date:
              schema:
                type: string
      security:
        - oauth2: []
      summary: Get movies
      tags:
        - Calendars
  "/calendars/my/shows/new/{start_date}/{days}":
    get:
      description: |-
        #### &#128274; OAuth Required &#10024; Extended Info &#127898; Filters

        Returns all new show premieres (season 1, episode 1) airing during the time period specified.
      operationId: Get new shows
      parameters:
        - description: Start the calendar on this date.
          example: 2014-09-01
          in: path
          name: start_date
          required: true
          schema:
            type: string
        - description: Number of days to display.
          example: "7"
          in: path
          name: days
          required: true
          schema:
            type: integer
        - description: e.g. 2
          example: "2"
          in: header
          name: trakt-api-version
          required: false
          schema:
            type: string
        - description: e.g. [client_id]
          example: "[client_id]"
          in: header
          name: trakt-api-key
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - episode:
                        ids:
                          imdb: tt3203968
                          tmdb: 983732
                          trakt: 497
                          tvdb: null
                        number: 1
                        season: 1
                        title: Pilot
                      first_aired: 2014-06-30T02:00:00.000Z
                      show:
                        ids:
                          imdb: tt2699128
                          slug: the-leftovers
                          tmdb: 54344
                          trakt: 7
                          tvdb: 269689
                        title: The Leftovers
                        year: 2014
          description: OK
          headers:
            X-End-Date:
              schema:
                type: string
            X-Start-Date:
              schema:
                type: string
      security:
        - oauth2: []
      summary: Get new shows
      tags:
        - Calendars
  "/calendars/my/shows/premieres/{start_date}/{days}":
    get:
      description: |-
        #### &#128274; OAuth Required &#10024; Extended Info &#127898; Filters

        Returns all show premieres (any season, episode 1) airing during the time period specified.
      operationId: Get season premieres
      parameters:
        - description: Start the calendar on this date.
          example: 2014-09-01
          in: path
          name: start_date
          required: true
          schema:
            type: string
        - description: Number of days to display.
          example: "7"
          in: path
          name: days
          required: true
          schema:
            type: integer
        - description: e.g. 2
          example: "2"
          in: header
          name: trakt-api-version
          required: false
          schema:
            type: string
        - description: e.g. [client_id]
          example: "[client_id]"
          in: header
          name: trakt-api-key
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - episode:
                        ids:
                          imdb: tt3203968
                          tmdb: 983732
                          trakt: 497
                          tvdb: null
                        number: 1
                        season: 1
                        title: Pilot
                      first_aired: 2014-06-30T02:00:00.000Z
                      show:
                        ids:
                          imdb: tt2699128
                          slug: the-leftovers
                          tmdb: 54344
                          trakt: 7
                          tvdb: 269689
                        title: The Leftovers
                        year: 2014
                    - episode:
                        ids:
                          imdb: ""
                          tmdb: 975949
                          trakt: 163
                          tvdb: null
                        number: 1
                        season: 5
                        title: 5x1
                      first_aired: 2014-10-13T01:00:00.000Z
                      show:
                        ids:
                          imdb: tt1520211
                          slug: the-walking-dead
                          tmdb: 1402
                          trakt: 2
                          tvdb: 153021
                        title: The Walking Dead
                        year: 2010
          description: OK
          headers:
            X-End-Date:
              schema:
                type: string
            X-Start-Date:
              schema:
                type: string
      security:
        - oauth2: []
      summary: Get season premieres
      tags:
        - Calendars
  "/calendars/my/shows/{start_date}/{days}":
    get:
      description: |-
        #### &#128274; OAuth Required &#10024; Extended Info &#127898; Filters

        Returns all shows airing during the time period specified.
      operationId: Get shows
      parameters:
        - description: Start the calendar on this date.
          example: 2014-09-01
          in: path
          name: start_date
          required: true
          schema:
            type: string
        - description: Number of days to display.
          example: "7"
          in: path
          name: days
          required: true
          schema:
            type: integer
        - description: e.g. 2
          example: "2"
          in: header
          name: trakt-api-version
          required: false
          schema:
            type: string
        - description: e.g. [client_id]
          example: "[client_id]"
          in: header
          name: trakt-api-key
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - episode:
                        ids:
                          imdb: tt3500614
                          tmdb: 988123
                          trakt: 443
                          tvdb: 4851180
                        number: 4
                        season: 7
                        title: Death is Not the End
                      first_aired: 2014-07-14T01:00:00.000Z
                      show:
                        ids:
                          imdb: tt0844441
                          slug: true-blood
                          tmdb: 10545
                          trakt: 5
                          tvdb: 82283
                        title: True Blood
                        year: 2008
                    - episode:
                        ids:
                          imdb: tt3631218
                          tmdb: 988346
                          trakt: 499
                          tvdb: 4854797
                        number: 3
                        season: 1
                        title: Two Boats and a Helicopter
                      first_aired: 2014-07-14T02:00:00.000Z
                      show:
                        ids:
                          imdb: tt2699128
                          slug: the-leftovers
                          tmdb: 54344
                          trakt: 7
                          tvdb: 269689
                        title: The Leftovers
                        year: 2014
                    - episode:
                        ids:
                          imdb: tt3500616
                          tmdb: 988124
                          trakt: 444
                          tvdb: 4851181
                        number: 5
                        season: 7
                        title: Return to Oz
                      first_aired: 2014-07-21T01:00:00.000Z
                      show:
                        ids:
                          imdb: tt0844441
                          slug: true-blood
                          tmdb: 10545
                          trakt: 5
                          tvdb: 82283
                        title: True Blood
                        year: 2008
                    - episode:
                        ids:
                          imdb: tt3594942
                          tmdb: 988347
                          trakt: 500
                          tvdb: 4854798
                        number: 4
                        season: 1
                        title: B.J. and the A.C.
                      first_aired: 2014-07-21T02:00:00.000Z
                      show:
                        ids:
                          imdb: tt2699128
                          slug: the-leftovers
                          tmdb: 54344
                          trakt: 7
                          tvdb: 269689
                        title: The Leftovers
                        year: 2014
          description: OK
          headers:
            X-End-Date:
              schema:
                type: string
            X-Start-Date:
              schema:
                type: string
      security:
        - oauth2: []
      summary: Get shows
      tags:
        - Calendars
  "/certifications/{type}":
    get:
      description: Get a list of all certifications, including names, slugs, and descriptions.
      operationId: Get certifications
      parameters:
        - description: ""
          example: movies
          in: path
          name: type
          required: true
          schema:
            enum:
              - movies
              - shows
            type: string
        - description: e.g. 2
          example: "2"
          in: header
          name: trakt-api-version
          required: false
          schema:
            type: string
        - description: e.g. [client_id]
          example: "[client_id]"
          in: header
          name: trakt-api-key
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    us:
                      - description: All Ages
                        name: G
                        slug: g
                      - description: Parental Guidance Suggested
                        name: PG
                        slug: pg
                      - description: Parents Strongly Cautioned - Ages 13+ Recommended
                        name: PG-13
                        slug: pg-13
                      - description: Mature Audiences - Ages 17+ Recommended
                        name: R
                        slug: r
                      - description: Not Rated
                        name: Not Rated
                        slug: nr
          description: OK
          headers: {}
      summary: Get certifications
      tags:
        - Certifications
  /checkin:
    delete:
      description: |-
        #### &#128274; OAuth Required

        Removes any active checkins, no need to provide a specific item.
      operationId: Delete any active checkins
      parameters:
        - description: e.g. 2
          example: "2"
          in: header
          name: trakt-api-version
          required: false
          schema:
            type: string
        - description: e.g. [client_id]
          example: "[client_id]"
          in: header
          name: trakt-api-key
          required: false
          schema:
            type: string
      responses:
        "204":
          description: No Content
          headers: {}
      security:
        - oauth2: []
      summary: Delete any active checkins
      tags:
        - Checkin
    post:
      description: |-
        #### &#128274; OAuth Required

        Check into a movie or episode. This should be tied to a user action to manually indicate they are watching something. The item will display as *watching* on the site, then automatically switch to *watched* status once the duration has elapsed. A unique history `id` (64-bit integer) will be returned and can be used to reference this checkin directly.

        #### JSON POST Data

        | Key | Type | Value |
        |---|---|---|
        | item <span style="color:red;">*</a> | object | `movie` or `episode` object. (see examples &#8594;) |
        | `sharing`  | object | Control sharing to any connected social networks. (see below &#8595;) |
        | `message`  | string | Message used for sharing. If not sent, it will use the watching string in the user settings. |
        | `venue_id` | string | Foursquare venue ID. |
        | `venue_name` | string | Foursquare venue name. |
        | `app_version` | string | Version number of the app. |
        | `app_date` | string | Build date of the app. |

        #### Sharing

        The `sharing` object is optional and will apply the user's settings if not sent. If `sharing` is sent, each key will override the user's setting for that social network. Send `true` to post or `false` to not post on the indicated social network. You can see which social networks a user has connected with the [**/users/settings**](/reference/users/settings) method.

        | Key | Type |
        |---|---|
        | `twitter` | boolean |
        | `tumblr` | boolean |

        **Note:** If a checkin is already in progress, a `409` HTTP status code will returned. The response will contain an `expires_at` timestamp which is when the user can check in again.
      operationId: Check into an item
      parameters:
        - description: e.g. 2
          example: "2"
          in: header
          name: trakt-api-version
          required: false
          schema:
            type: string
        - description: e.g. [client_id]
          example: "[client_id]"
          in: header
          name: trakt-api-key
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                app_date: 2014-09-22
                app_version: "1.0"
                message: Guardians of the Galaxy FTW!
                movie:
                  ids:
                    imdb: tt2015381
                    slug: guardians-of-the-galaxy-2014
                    tmdb: 118340
                    trakt: 28
                  title: Guardians of the Galaxy
                  year: 2014
                sharing:
                  tumblr: false
                  twitter: true
              properties:
                app_date:
                  type: string
                app_version:
                  type: string
                message:
                  type: string
                movie:
                  properties:
                    ids:
                      properties:
                        imdb:
                          type: string
                        slug:
                          type: string
                        tmdb:
                          type: number
                        trakt:
                          type: number
                      type: object
                    title:
                      type: string
                    year:
                      type: number
                  type: object
                sharing:
                  properties:
                    tumblr:
                      type: boolean
                    twitter:
                      type: boolean
                  type: object
              type: object
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    episode:
                      ids:
                        imdb: null
                        tmdb: null
                        trakt: 856373
                        tvdb: 362082
                      number: 21
                      season: 9
                      title: Light the Fire of Shandia! Wiper the Warrior
                    id: 3373536622
                    sharing:
                      tumblr: false
                      twitter: true
                    show:
                      ids:
                        imdb: tt0388629
                        slug: one-piece
                        tmdb: 37854
                        trakt: 37696
                        tvdb: 81797
                      title: One Piece
                      year: 1999
                    watched_at: 2019-01-20T06:54:36.859Z
          description: Created
          headers: {}
        "409":
          content:
            application/json:
              examples:
                response:
                  value:
                    expires_at: 2014-10-15T22:21:29.000Z
          description: There is already a checkin in progress.
          headers: {}
      security:
        - oauth2: []
        - oauth2: []
        - oauth2: []
        - oauth2: []
      summary: Check into an item
      tags:
        - Checkin
  /comments:
    post:
      description: |-
        #### &#128274; OAuth Required &#128513; Emojis

        Add a new comment to a movie, show, season, episode, or list. Make sure to allow and encourage *spoilers* to be indicated in your app and follow the rules listed above.

        #### JSON POST Data

        | Key | Type | Default | Value |
        |---|---|---|---|
        | item <span style="color:red;">*</a> | object | | `movie`, `show`, `season`, `episode`, or `list` object. (see examples &#8594;) |
        | `comment` <span style="color:red;">*</a> | string |  | Text for the comment. |
        | `spoiler` | boolean | `false` | Is this a spoiler? |
        | `sharing`  | object | | Control sharing to any connected social networks. (see below &#8595;) |

        #### Sharing

        The `sharing` object is optional and will apply the user's settings if not sent. If `sharing` is sent, each key will override the user's setting for that social network. Send `true` to post or `false` to not post on the indicated social network. You can see which social networks a user has connected with the [**/users/settings**](/reference/users/settings) method.

        | Key | Type |
        |---|---|
        | `twitter` | boolean |
        | `tumblr` | boolean |
        | `medium` | boolean |
      operationId: Post a comment
      parameters:
        - description: e.g. 2
          example: "2"
          in: header
          name: trakt-api-version
          required: false
          schema:
            type: string
        - description: e.g. [client_id]
          example: "[client_id]"
          in: header
          name: trakt-api-key
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                comment: Oh, I wasn't really listening.
                movie:
                  ids:
                    imdb: tt2015381
                    slug: guardians-of-the-galaxy-2014
                    tmdb: 118340
                    trakt: 28
                  title: Guardians of the Galaxy
                  year: 2014
                sharing:
                  medium: true
                  tumblr: false
                  twitter: true
                spoiler: false
              properties:
                comment:
                  type: string
                movie:
                  properties:
                    ids:
                      properties:
                        imdb:
                          type: string
                        slug:
                          type: string
                        tmdb:
                          type: number
                        trakt:
                          type: number
                      type: object
                    title:
                      type: string
                    year:
                      type: number
                  type: object
                sharing:
                  properties:
                    medium:
                      type: boolean
                    tumblr:
                      type: boolean
                    twitter:
                      type: boolean
                  type: object
                spoiler:
                  type: boolean
              type: object
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    comment: I want candy.
                    created_at: 2014-08-04T06:46:01.000Z
                    id: 190
                    likes: 0
                    parent_id: 0
                    replies: 0
                    review: false
                    spoiler: false
                    updated_at: 2014-08-04T06:46:01.000Z
                    user:
                      ids:
                        slug: sean
                      name: Sean Rudford
                      private: false
                      username: sean
                      vip: true
                      vip_ep: false
                    user_stats:
                      completed_count: 1
                      play_count: 1
                      rating: null
          description: Created
          headers: {}
      security:
        - oauth2: []
        - oauth2: []
        - oauth2: []
        - oauth2: []
        - oauth2: []
      summary: Post a comment
      tags:
        - Comments
  "/comments/recent/{comment_type}/{type}":
    get:
      description: |-
        #### &#128196; Pagination &#10024; Extended Info &#128513; Emojis

        Returns the most recently written comments across all of Trakt. You can optionally filter by the `comment_type` and media `type` to limit what gets returned. If you want to `include_replies` that will return replies in place alongside top level comments.
      operationId: Get recently created comments
      parameters:
        - description: ""
          example: all
          in: path
          name: comment_type
          required: true
          schema:
            enum:
              - all
              - reviews
              - shouts
            type: string
        - description: ""
          example: all
          in: path
          name: type
          required: true
          schema:
            enum:
              - all
              - movies
              - shows
              - seasons
              - episodes
              - lists
            type: string
        - description: include comment replies
          example: "false"
          in: query
          name: include_replies
          required: false
          schema:
            type: string
        - description: e.g. 2
          example: "2"
          in: header
          name: trakt-api-version
          required: false
          schema:
            type: string
        - description: e.g. [client_id]
          example: "[client_id]"
          in: header
          name: trakt-api-key
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - comment:
                        comment: Great kickoff to a new Batman trilogy!
                        created_at: 2015-04-25T00:14:57.000Z
                        id: 267
                        likes: 0
                        parent_id: 0
                        replies: 0
                        review: false
                        spoiler: false
                        updated_at: 2015-04-25T00:14:57.000Z
                        user:
                          ids:
                            slug: justin
                          name: Justin N.
                          private: false
                          username: justin
                          vip: true
                          vip_ep: false
                        user_stats:
                          completed_count: 1
                          play_count: 1
                          rating: 10
                      movie:
                        ids:
                          imdb: tt0372784
                          slug: batman-begins-2005
                          tmdb: 272
                          trakt: 1
                        title: Batman Begins
                        year: 2005
                      type: movie
                    - comment:
                        comment: Skyler, I AM THE DANGER.
                        created_at: 2015-02-18T06:02:30.000Z
                        id: 199
                        likes: 0
                        parent_id: 0
                        replies: 0
                        review: false
                        spoiler: false
                        updated_at: 2015-02-18T06:02:30.000Z
                        user:
                          ids:
                            slug: justin
                          name: Justin N.
                          private: false
                          username: justin
                          vip: true
                          vip_ep: false
                        user_stats:
                          completed_count: 1
                          play_count: 1
                          rating: 10
                      show:
                        ids:
                          imdb: tt0903747
                          slug: breaking-bad
                          tmdb: 1396
                          trakt: 1
                          tvdb: 81189
                        title: Breaking Bad
                        year: 2008
                      type: show
                    - comment:
                        comment: Kicking off season 1 for a new Batman show.
                        created_at: 2015-04-21T06:53:25.000Z
                        id: 220
                        likes: 0
                        parent_id: 0
                        replies: 0
                        review: false
                        spoiler: false
                        updated_at: 2015-04-21T06:53:25.000Z
                        user:
                          ids:
                            slug: justin
                          name: Justin N.
                          private: false
                          username: justin
                          vip: true
                          vip_ep: false
                        user_stats:
                          completed_count: 1
                          play_count: 1
                          rating: 8
                      season:
                        ids:
                          tmdb: 60394
                          trakt: 3958
                          tvdb: 274431
                        number: 1
                      show:
                        ids:
                          imdb: tt3749900
                          slug: gotham
                          tmdb: 60708
                          trakt: 869
                          tvdb: 274431
                        title: Gotham
                        year: 2014
                      type: season
                    - comment:
                        comment: Is this the OC?
                        created_at: 2015-04-21T15:42:31.000Z
                        id: 229
                        likes: 0
                        parent_id: 0
                        replies: 1
                        review: false
                        spoiler: false
                        updated_at: 2015-04-21T15:42:31.000Z
                        user:
                          ids:
                            slug: justin
                          name: Justin N.
                          private: false
                          username: justin
                          vip: true
                          vip_ep: false
                        user_stats:
                          completed_count: 1
                          play_count: 1
                          rating: 7
                      episode:
                        ids:
                          imdb: tt3216414
                          tmdb: 975968
                          trakt: 63958
                          tvdb: 4768720
                        number: 1
                        season: 1
                        title: Jim Gordon
                      show:
                        ids:
                          imdb: tt3749900
                          slug: gotham
                          tmdb: 60708
                          trakt: 869
                          tvdb: 274431
                        title: Gotham
                        year: 2014
                      type: episode
                    - comment:
                        comment: May the 4th be with you!
                        created_at: 2014-12-08T17:34:51.000Z
                        id: 268
                        likes: 0
                        parent_id: 0
                        replies: 0
                        review: false
                        spoiler: false
                        updated_at: 2014-12-08T17:34:51.000Z
                        user:
                          ids:
                            slug: justin
                          name: Justin N.
                          private: false
                          username: justin
                          vip: true
                          vip_ep: false
                        user_stats:
                          completed_count: 1
                          play_count: 1
                          rating: null
                      list:
                        allow_comments: true
                        comment_count: 0
                        description: The complete Star Wars saga!
                        display_numbers: false
                        ids:
                          slug: star-wars
                          trakt: 51
                        item_count: 8
                        likes: 0
                        name: Star Wars
                        privacy: public
                        updated_at: 2015-04-22T22:01:39.000Z
                      type: list
          description: OK
          headers:
            X-Pagination-Item-Count:
              schema:
                type: string
            X-Pagination-Limit:
              schema:
                type: string
            X-Pagination-Page:
              schema:
                type: string
            X-Pagination-Page-Count:
              schema:
                type: string
      summary: Get recently created comments
      tags:
        - Comments
  "/comments/trending/{comment_type}/{type}":
    get:
      description: |-
        #### &#128196; Pagination &#10024; Extended Info &#128513; Emojis

        Returns all comments with the most likes and replies over the last 7 days. You can optionally filter by the `comment_type` and media `type` to limit what gets returned. If you want to `include_replies` that will return replies in place alongside top level comments.
      operationId: Get trending comments
      parameters:
        - description: ""
          example: all
          in: path
          name: comment_type
          required: true
          schema:
            enum:
              - all
              - reviews
              - shouts
            type: string
        - description: ""
          example: all
          in: path
          name: type
          required: true
          schema:
            enum:
              - all
              - movies
              - shows
              - seasons
              - episodes
              - lists
            type: string
        - description: include comment replies
          example: "false"
          in: query
          name: include_replies
          required: false
          schema:
            type: string
        - description: e.g. 2
          example: "2"
          in: header
          name: trakt-api-version
          required: false
          schema:
            type: string
        - description: e.g. [client_id]
          example: "[client_id]"
          in: header
          name: trakt-api-key
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - comment:
                        comment: Great kickoff to a new Batman trilogy!
                        created_at: 2015-04-25T00:14:57.000Z
                        id: 267
                        likes: 0
                        parent_id: 0
                        replies: 0
                        review: false
                        spoiler: false
                        updated_at: 2015-04-25T00:14:57.000Z
                        user:
                          ids:
                            slug: justin
                          name: Justin N.
                          private: false
                          username: justin
                          vip: true
                          vip_ep: false
                        user_stats:
                          completed_count: 1
                          play_count: 1
                          rating: 10
                      movie:
                        ids:
                          imdb: tt0372784
                          slug: batman-begins-2005
                          tmdb: 272
                          trakt: 1
                        title: Batman Begins
                        year: 2005
                      type: movie
                    - comment:
                        comment: Skyler, I AM THE DANGER.
                        created_at: 2015-02-18T06:02:30.000Z
                        id: 199
                        likes: 0
                        parent_id: 0
                        replies: 0
                        review: false
                        spoiler: false
                        updated_at: 2015-02-18T06:02:30.000Z
                        user:
                          ids:
                            slug: justin
                          name: Justin N.
                          private: false
                          username: justin
                          vip: true
                          vip_ep: false
                        user_stats:
                          completed_count: 1
                          play_count: 1
                          rating: 10
                      show:
                        ids:
                          imdb: tt0903747
                          slug: breaking-bad
                          tmdb: 1396
                          trakt: 1
                          tvdb: 81189
                        title: Breaking Bad
                        year: 2008
                      type: show
                    - comment:
                        comment: Kicking off season 1 for a new Batman show.
                        created_at: 2015-04-21T06:53:25.000Z
                        id: 220
                        likes: 0
                        parent_id: 0
                        replies: 0
                        review: false
                        spoiler: false
                        updated_at: 2015-04-21T06:53:25.000Z
                        user:
                          ids:
                            slug: justin
                          name: Justin N.
                          private: false
                          username: justin
                          vip: true
                          vip_ep: false
                        user_stats:
                          completed_count: 1
                          play_count: 1
                          rating: 8
                      season:
                        ids:
                          tmdb: 60394
                          trakt: 3958
                          tvdb: 274431
                        number: 1
                      show:
                        ids:
                          imdb: tt3749900
                          slug: gotham
                          tmdb: 60708
                          trakt: 869
                          tvdb: 274431
                        title: Gotham
                        year: 2014
                      type: season
                    - comment:
                        comment: Is this the OC?
                        created_at: 2015-04-21T15:42:31.000Z
                        id: 229
                        likes: 0
                        parent_id: 0
                        replies: 1
                        review: false
                        spoiler: false
                        updated_at: 2015-04-21T15:42:31.000Z
                        user:
                          ids:
                            slug: justin
                          name: Justin N.
                          private: false
                          username: justin
                          vip: true
                          vip_ep: false
                        user_stats:
                          completed_count: 1
                          play_count: 1
                          rating: 7
                      episode:
                        ids:
                          imdb: tt3216414
                          tmdb: 975968
                          trakt: 63958
                          tvdb: 4768720
                        number: 1
                        season: 1
                        title: Jim Gordon
                      show:
                        ids:
                          imdb: tt3749900
                          slug: gotham
                          tmdb: 60708
                          trakt: 869
                          tvdb: 274431
                        title: Gotham
                        year: 2014
                      type: episode
                    - comment:
                        comment: May the 4th be with you!
                        created_at: 2014-12-08T17:34:51.000Z
                        id: 268
                        likes: 0
                        parent_id: 0
                        replies: 0
                        review: false
                        spoiler: false
                        updated_at: 2014-12-08T17:34:51.000Z
                        user:
                          ids:
                            slug: justin
                          name: Justin N.
                          private: false
                          username: justin
                          vip: true
                          vip_ep: false
                        user_stats:
                          completed_count: 1
                          play_count: 1
                          rating: null
                      list:
                        allow_comments: true
                        comment_count: 0
                        description: The complete Star Wars saga!
                        display_numbers: false
                        ids:
                          slug: star-wars
                          trakt: 51
                        item_count: 8
                        likes: 0
                        name: Star Wars
                        privacy: public
                        updated_at: 2015-04-22T22:01:39.000Z
                      type: list
          description: OK
          headers:
            X-Pagination-Item-Count:
              schema:
                type: string
            X-Pagination-Limit:
              schema:
                type: string
            X-Pagination-Page:
              schema:
                type: string
            X-Pagination-Page-Count:
              schema:
                type: string
      summary: Get trending comments
      tags:
        - Comments
  "/comments/updates/{comment_type}/{type}":
    get:
      description: |-
        #### &#128196; Pagination &#10024; Extended Info &#128513; Emojis

        Returns the most recently updated comments across all of Trakt. You can optionally filter by the `comment_type` and media `type` to limit what gets returned. If you want to `include_replies` that will return replies in place alongside top level comments.
      operationId: Get recently updated comments
      parameters:
        - description: ""
          example: all
          in: path
          name: comment_type
          required: true
          schema:
            enum:
              - all
              - reviews
              - shouts
            type: string
        - description: ""
          example: all
          in: path
          name: type
          required: true
          schema:
            enum:
              - all
              - movies
              - shows
              - seasons
              - episodes
              - lists
            type: string
        - description: include comment replies
          example: "false"
          in: query
          name: include_replies
          required: false
          schema:
            type: string
        - description: e.g. 2
          example: "2"
          in: header
          name: trakt-api-version
          required: false
          schema:
            type: string
        - description: e.g. [client_id]
          example: "[client_id]"
          in: header
          name: trakt-api-key
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - comment:
                        comment: Great kickoff to a new Batman trilogy!
                        created_at: 2015-04-25T00:14:57.000Z
                        id: 267
                        likes: 0
                        parent_id: 0
                        replies: 0
                        review: false
                        spoiler: false
                        updated_at: 2015-04-25T00:14:57.000Z
                        user:
                          ids:
                            slug: justin
                          name: Justin N.
                          private: false
                          username: justin
                          vip: true
                          vip_ep: false
                        user_stats:
                          completed_count: 1
                          play_count: 1
                          rating: 10
                      movie:
                        ids:
                          imdb: tt0372784
                          slug: batman-begins-2005
                          tmdb: 272
                          trakt: 1
                        title: Batman Begins
                        year: 2005
                      type: movie
                    - comment:
                        comment: Skyler, I AM THE DANGER.
                        created_at: 2015-02-18T06:02:30.000Z
                        id: 199
                        likes: 0
                        parent_id: 0
                        replies: 0
                        review: false
                        spoiler: false
                        updated_at: 2015-02-18T06:02:30.000Z
                        user:
                          ids:
                            slug: justin
                          name: Justin N.
                          private: false
                          username: justin
                          vip: true
                          vip_ep: false
                        user_stats:
                          completed_count: 1
                          play_count: 1
                          rating: 10
                      show:
                        ids:
                          imdb: tt0903747
                          slug: breaking-bad
                          tmdb: 1396
                          trakt: 1
                          tvdb: 81189
                        title: Breaking Bad
                        year: 2008
                      type: show
                    - comment:
                        comment: Kicking off season 1 for a new Batman show.
                        created_at: 2015-04-21T06:53:25.000Z
                        id: 220
                        likes: 0
                        parent_id: 0
                        replies: 0
                        review: false
                        spoiler: false
                        updated_at: 2015-04-21T06:53:25.000Z
                        user:
                          ids:
                            slug: justin
                          name: Justin N.
                          private: false
                          username: justin
                          vip: true
                          vip_ep: false
                        user_stats:
                          completed_count: 1
                          play_count: 1
                          rating: 8
                      season:
                        ids:
                          tmdb: 60394
                          trakt: 3958
                          tvdb: 274431
                        number: 1
                      show:
                        ids:
                          imdb: tt3749900
                          slug: gotham
                          tmdb: 60708
                          trakt: 869
                          tvdb: 274431
                        title: Gotham
                        year: 2014
                      type: season
                    - comment:
                        comment: Is this the OC?
                        created_at: 2015-04-21T15:42:31.000Z
                        id: 229
                        likes: 0
                        parent_id: 0
                        replies: 1
                        review: false
                        spoiler: false
                        updated_at: 2015-04-21T15:42:31.000Z
                        user:
                          ids:
                            slug: justin
                          name: Justin N.
                          private: false
                          username: justin
                          vip: true
                          vip_ep: false
                        user_stats:
                          completed_count: 1
                          play_count: 1
                          rating: 7
                      episode:
                        ids:
                          imdb: tt3216414
                          tmdb: 975968
                          trakt: 63958
                          tvdb: 4768720
                        number: 1
                        season: 1
                        title: Jim Gordon
                      show:
                        ids:
                          imdb: tt3749900
                          slug: gotham
                          tmdb: 60708
                          trakt: 869
                          tvdb: 274431
                        title: Gotham
                        year: 2014
                      type: episode
                    - comment:
                        comment: May the 4th be with you!
                        created_at: 2014-12-08T17:34:51.000Z
                        id: 268
                        likes: 0
                        parent_id: 0
                        replies: 0
                        review: false
                        spoiler: false
                        updated_at: 2014-12-08T17:34:51.000Z
                        user:
                          ids:
                            slug: justin
                          name: Justin N.
                          private: false
                          username: justin
                          vip: true
                          vip_ep: false
                        user_stats:
                          completed_count: 1
                          play_count: 1
[...]
