swagger: '2.0'
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: Fabric location operation endpoints and objects.
  title: FabricAdminClient
  version: '2016-05-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/FabricLocation.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: azsadmin-FabricLocation
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  FabricLocationObjectParameter:
    description: Fabric location object.
    in: body
    name: fabricObject
    required: true
    schema:
      $ref: '#/definitions/FabricLocation'
    x-ms-parameter-location: method
  FabricLocationParameter:
    description: Fabric location.
    in: path
    name: fabricLocation
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations':
    get:
      description: Returns a list of all fabric locations.
      operationId: FabricLocations_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - default: '2016-05-01'
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: OData filter parameter.
          in: query
          name: $filter
          type: string
          x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FabricLocationList'
      tags:
        - FabricLocations
      x-ms-examples:
        Returns a list of all fabric locations.:
          parameters:
            api-version: '2016-05-01'
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                    location: local
                    name: local
                    properties: {}
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations
      x-ms-odata: '#/definitions/FabricLocation'
      x-ms-pageable:
        nextLinkName: nextLink
    put:
      description: Creates or updates a fabric location.  This will fail if called outside deployment.
      operationId: FabricLocations_Create
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - default: '2016-05-01'
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
        - $ref: '#/parameters/FabricLocationObjectParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FabricLocation'
      tags:
        - FabricLocations
      x-ms-examples:
        Creates or updates a fabric location.  This will fail if called outside deployment.:
          parameters:
            api-version: '2016-05-01'
            fabricLocation: local
            fabricObject: {}
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                location: local
                name: local
                properties: {}
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{fabricLocation}':
    get:
      description: Returns the requested fabric location.
      operationId: FabricLocations_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/FabricLocationParameter'
        - default: '2016-05-01'
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FabricLocation'
        '404':
          description: NOT FOUND
      tags:
        - FabricLocations
      x-ms-examples:
        Returns the requested fabric location.:
          parameters:
            api-version: '2016-05-01'
            fabricLocation: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                location: local
                name: local
                properties: {}
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations
            '404': {}
definitions:
  FabricLocation:
    allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: Place holder for fabric location.
    properties:
      properties:
        description: Empty object.
        type: object
    type: object
  FabricLocationList:
    description: Pageable list of fabric locations.
    properties:
      nextLink:
        description: URI to the next page.
        type: string
      value:
        description: List of fabric locations.
        items:
          $ref: '#/definitions/FabricLocation'
        type: array
    type: object
