swagger: '2.0'
schemes:
  - https
host: dlp.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Provides methods for detection, risk analysis, and de-identification of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.'
  title: Cloud Data Loss Prevention (DLP)
  version: v2
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://dlp.googleapis.com/$discovery/rest?version=v2'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: dlp
externalDocs:
  url: 'https://cloud.google.com/dlp/docs/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: infoTypes
  - name: organizations
  - name: projects
paths:
  /v2/infoTypes:
    get:
      description: |-
        Returns a list of the sensitive information types that the DLP API
        supports. See https://cloud.google.com/dlp/docs/infotypes-reference to
        learn more.
      operationId: dlp.infoTypes.list
      parameters:
        - description: |-
            Optional filter to only return infoTypes supported by certain parts of the
            API. Defaults to supported_by=INSPECT.
          in: query
          name: filter
          type: string
        - description: |-
            Optional BCP-47 language code for localized infoType friendly
            names. If omitted, or if localized strings are not available,
            en-US strings will be returned.
          in: query
          name: languageCode
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2ListInfoTypesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - infoTypes
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v2/{name}':
    delete:
      description: |-
        Deletes an InspectTemplate.
        See https://cloud.google.com/dlp/docs/creating-templates to learn more.
      operationId: dlp.projects.inspectTemplates.delete
      parameters:
        - description: |-
            Resource name of the organization and inspectTemplate to be deleted, for
            example `organizations/433245324/inspectTemplates/432452342` or
            projects/project-id/inspectTemplates/432452342.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GoogleProtobufEmpty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    get:
      description: |-
        Gets an InspectTemplate.
        See https://cloud.google.com/dlp/docs/creating-templates to learn more.
      operationId: dlp.projects.inspectTemplates.get
      parameters:
        - description: |-
            Resource name of the organization and inspectTemplate to be read, for
            example `organizations/433245324/inspectTemplates/432452342` or
            projects/project-id/inspectTemplates/432452342.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2InspectTemplate'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    patch:
      description: |-
        Updates the InspectTemplate.
        See https://cloud.google.com/dlp/docs/creating-templates to learn more.
      operationId: dlp.projects.inspectTemplates.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2UpdateInspectTemplateRequest'
        - description: |-
            Resource name of organization and inspectTemplate to be updated, for
            example `organizations/433245324/inspectTemplates/432452342` or
            projects/project-id/inspectTemplates/432452342.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2InspectTemplate'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2/{name}:activate':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Activate a job trigger. Causes the immediate execute of a trigger
        instead of waiting on the trigger event to occur.
      operationId: dlp.projects.jobTriggers.activate
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2ActivateJobTriggerRequest'
        - description: |-
            Resource name of the trigger to activate, for example
            `projects/dlp-test-project/jobTriggers/53234423`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2DlpJob'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2/{name}:cancel':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Starts asynchronous cancellation on a long-running DlpJob. The server
        makes a best effort to cancel the DlpJob, but success is not
        guaranteed.
        See https://cloud.google.com/dlp/docs/inspecting-storage and
        https://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.
      operationId: dlp.projects.dlpJobs.cancel
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2CancelDlpJobRequest'
        - description: The name of the DlpJob resource to be cancelled.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GoogleProtobufEmpty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2/{parent}/content:deidentify':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        De-identifies potentially sensitive info from a ContentItem.
        This method has limits on input size and output size.
        See https://cloud.google.com/dlp/docs/deidentify-sensitive-data to
        learn more.

        When no InfoTypes or CustomInfoTypes are specified in this request, the
        system will automatically choose what detectors to run. By default this may
        be all types, but may change over time as detectors are updated.
      operationId: dlp.projects.content.deidentify
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2DeidentifyContentRequest'
        - description: 'The parent resource name, for example projects/my-project-id.'
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2DeidentifyContentResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2/{parent}/content:inspect':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Finds potentially sensitive info in content.
        This method has limits on input size, processing time, and output size.

        When no InfoTypes or CustomInfoTypes are specified in this request, the
        system will automatically choose what detectors to run. By default this may
        be all types, but may change over time as detectors are updated.

        For how to guides, see https://cloud.google.com/dlp/docs/inspecting-images
        and https://cloud.google.com/dlp/docs/inspecting-text,
      operationId: dlp.projects.content.inspect
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2InspectContentRequest'
        - description: 'The parent resource name, for example projects/my-project-id.'
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2InspectContentResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2/{parent}/content:reidentify':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Re-identifies content that has been de-identified.
        See
        https://cloud.google.com/dlp/docs/pseudonymization#re-identification_in_free_text_code_example
        to learn more.
      operationId: dlp.projects.content.reidentify
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2ReidentifyContentRequest'
        - description: The parent resource name.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2ReidentifyContentResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2/{parent}/deidentifyTemplates':
    get:
      description: |-
        Lists DeidentifyTemplates.
        See https://cloud.google.com/dlp/docs/creating-templates-deid to learn
        more.
      operationId: dlp.projects.deidentifyTemplates.list
      parameters:
        - description: |-
            Optional comma separated list of fields to order by,
            followed by `asc` or `desc` postfix. This list is case-insensitive,
            default sorting order is ascending, redundant space characters are
            insignificant.

            Example: `name asc,update_time, create_time desc`

            Supported fields are:

            - `create_time`: corresponds to time the template was created.
            - `update_time`: corresponds to time the template was last updated.
            - `name`: corresponds to template's name.
            - `display_name`: corresponds to template's display name.
          in: query
          name: orderBy
          type: string
        - description: |-
            Optional size of the page, can be limited by server. If zero server returns
            a page of max size 100.
          in: query
          name: pageSize
          type: integer
        - description: |-
            Optional page token to continue retrieval. Comes from previous call
            to `ListDeidentifyTemplates`.
          in: query
          name: pageToken
          type: string
        - description: |-
            The parent resource name, for example projects/my-project-id or
            organizations/my-org-id.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2ListDeidentifyTemplatesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a DeidentifyTemplate for re-using frequently used configuration
        for de-identifying content, images, and storage.
        See https://cloud.google.com/dlp/docs/creating-templates-deid to learn
        more.
      operationId: dlp.projects.deidentifyTemplates.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2CreateDeidentifyTemplateRequest'
        - description: |-
            The parent resource name, for example projects/my-project-id or
            organizations/my-org-id.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2DeidentifyTemplate'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2/{parent}/dlpJobs':
    get:
      description: |-
        Lists DlpJobs that match the specified filter in the request.
        See https://cloud.google.com/dlp/docs/inspecting-storage and
        https://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.
      operationId: dlp.projects.dlpJobs.list
      parameters:
        - description: |-
            Optional. Allows filtering.

            Supported syntax:

            * Filter expressions are made up of one or more restrictions.
            * Restrictions can be combined by `AND` or `OR` logical operators. A
            sequence of restrictions implicitly uses `AND`.
            * A restriction has the form of `<field> <operator> <value>`.
            * Supported fields/values for inspect jobs:
                - `state` - PENDING|RUNNING|CANCELED|FINISHED|FAILED
                - `inspected_storage` - DATASTORE|CLOUD_STORAGE|BIGQUERY
                - `trigger_name` - The resource name of the trigger that created job.
            * Supported fields for risk analysis jobs:
                - `state` - RUNNING|CANCELED|FINISHED|FAILED
            * The operator must be `=` or `!=`.

            Examples:

            * inspected_storage = cloud_storage AND state = done
            * inspected_storage = cloud_storage OR inspected_storage = bigquery
            * inspected_storage = cloud_storage AND (state = done OR state = canceled)

            The length of this field should be no more than 500 characters.
          in: query
          name: filter
          type: string
        - description: |-
            Optional comma separated list of fields to order by,
            followed by `asc` or `desc` postfix. This list is case-insensitive,
            default sorting order is ascending, redundant space characters are
            insignificant.

            Example: `name asc, end_time asc, create_time desc`

            Supported fields are:

            - `create_time`: corresponds to time the job was created.
            - `end_time`: corresponds to time the job ended.
            - `name`: corresponds to job's name.
            - `state`: corresponds to `state`
          in: query
          name: orderBy
          type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          type: string
        - description: 'The parent resource name, for example projects/my-project-id.'
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
        - description: The type of job. Defaults to `DlpJobType.INSPECT`
          enum:
            - DLP_JOB_TYPE_UNSPECIFIED
            - INSPECT_JOB
            - RISK_ANALYSIS_JOB
          in: query
          name: type
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2ListDlpJobsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a new job to inspect storage or calculate risk metrics.
        See https://cloud.google.com/dlp/docs/inspecting-storage and
        https://cloud.google.com/dlp/docs/compute-risk-analysis to learn more.

        When no InfoTypes or CustomInfoTypes are specified in inspect jobs, the
        system will automatically choose what detectors to run. By default this may
        be all types, but may change over time as detectors are updated.
      operationId: dlp.projects.dlpJobs.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2CreateDlpJobRequest'
        - description: 'The parent resource name, for example projects/my-project-id.'
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2DlpJob'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2/{parent}/image:redact':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Redacts potentially sensitive info from an image.
        This method has limits on input size, processing time, and output size.
        See https://cloud.google.com/dlp/docs/redacting-sensitive-data-images to
        learn more.

        When no InfoTypes or CustomInfoTypes are specified in this request, the
        system will automatically choose what detectors to run. By default this may
        be all types, but may change over time as detectors are updated.
      operationId: dlp.projects.image.redact
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2RedactImageRequest'
        - description: 'The parent resource name, for example projects/my-project-id.'
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2RedactImageResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2/{parent}/inspectTemplates':
    get:
      description: |-
        Lists InspectTemplates.
        See https://cloud.google.com/dlp/docs/creating-templates to learn more.
      operationId: dlp.projects.inspectTemplates.list
      parameters:
        - description: |-
            Optional comma separated list of fields to order by,
            followed by `asc` or `desc` postfix. This list is case-insensitive,
            default sorting order is ascending, redundant space characters are
            insignificant.

            Example: `name asc,update_time, create_time desc`

            Supported fields are:

            - `create_time`: corresponds to time the template was created.
            - `update_time`: corresponds to time the template was last updated.
            - `name`: corresponds to template's name.
            - `display_name`: corresponds to template's display name.
          in: query
          name: orderBy
          type: string
        - description: |-
            Optional size of the page, can be limited by server. If zero server returns
            a page of max size 100.
          in: query
          name: pageSize
          type: integer
        - description: |-
            Optional page token to continue retrieval. Comes from previous call
            to `ListInspectTemplates`.
          in: query
          name: pageToken
          type: string
        - description: |-
            The parent resource name, for example projects/my-project-id or
            organizations/my-org-id.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2ListInspectTemplatesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates an InspectTemplate for re-using frequently used configuration
        for inspecting content, images, and storage.
        See https://cloud.google.com/dlp/docs/creating-templates to learn more.
      operationId: dlp.projects.inspectTemplates.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2CreateInspectTemplateRequest'
        - description: |-
            The parent resource name, for example projects/my-project-id or
            organizations/my-org-id.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2InspectTemplate'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2/{parent}/jobTriggers':
    get:
      description: |-
        Lists job triggers.
        See https://cloud.google.com/dlp/docs/creating-job-triggers to learn more.
      operationId: dlp.projects.jobTriggers.list
      parameters:
        - description: |-
            Optional. Allows filtering.

            Supported syntax:

            * Filter expressions are made up of one or more restrictions.
            * Restrictions can be combined by `AND` or `OR` logical operators. A
            sequence of restrictions implicitly uses `AND`.
            * A restriction has the form of `<field> <operator> <value>`.
            * Supported fields/values for inspect jobs:
                - `status` - HEALTHY|PAUSED|CANCELLED
                - `inspected_storage` - DATASTORE|CLOUD_STORAGE|BIGQUERY
                - 'last_run_time` - RFC 3339 formatted timestamp, surrounded by
                quotation marks. Nanoseconds are ignored.
                - 'error_count' - Number of errors that have occurred while running.
            * The operator must be `=` or `!=` for status and inspected_storage.

            Examples:

            * inspected_storage = cloud_storage AND status = HEALTHY
            * inspected_storage = cloud_storage OR inspected_storage = bigquery
            * inspected_storage = cloud_storage AND (state = PAUSED OR state = HEALTHY)
            * last_run_time > \"2017-12-12T00:00:00+00:00\"

            The length of this field should be no more than 500 characters.
          in: query
          name: filter
          type: string
        - description: |-
            Optional comma separated list of triggeredJob fields to order by,
            followed by `asc` or `desc` postfix. This list is case-insensitive,
            default sorting order is ascending, redundant space characters are
            insignificant.

            Example: `name asc,update_time, create_time desc`

            Supported fields are:

            - `create_time`: corresponds to time the JobTrigger was created.
            - `update_time`: corresponds to time the JobTrigger was last updated.
            - `last_run_time`: corresponds to the last time the JobTrigger ran.
            - `name`: corresponds to JobTrigger's name.
            - `display_name`: corresponds to JobTrigger's display name.
            - `status`: corresponds to JobTrigger's status.
          in: query
          name: orderBy
          type: string
        - description: 'Optional size of the page, can be limited by a server.'
          in: query
          name: pageSize
          type: integer
        - description: |-
            Optional page token to continue retrieval. Comes from previous call
            to ListJobTriggers. `order_by` field must not
            change for subsequent calls.
          in: query
          name: pageToken
          type: string
        - description: 'The parent resource name, for example `projects/my-project-id`.'
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2ListJobTriggersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a job trigger to run DLP actions such as scanning storage for
        sensitive information on a set schedule.
        See https://cloud.google.com/dlp/docs/creating-job-triggers to learn more.
      operationId: dlp.projects.jobTriggers.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2CreateJobTriggerRequest'
        - description: 'The parent resource name, for example projects/my-project-id.'
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2JobTrigger'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2/{parent}/storedInfoTypes':
    get:
      description: |-
        Lists stored infoTypes.
        See https://cloud.google.com/dlp/docs/creating-stored-infotypes to
        learn more.
      operationId: dlp.projects.storedInfoTypes.list
      parameters:
        - description: |-
            Optional comma separated list of fields to order by,
            followed by `asc` or `desc` postfix. This list is case-insensitive,
            default sorting order is ascending, redundant space characters are
            insignificant.

            Example: `name asc, display_name, create_time desc`

            Supported fields are:

            - `create_time`: corresponds to time the most recent version of the
            resource was created.
            - `state`: corresponds to the state of the resource.
            - `name`: corresponds to resource name.
            - `display_name`: corresponds to info type's display name.
          in: query
          name: orderBy
          type: string
        - description: |-
            Optional size of the page, can be limited by server. If zero server returns
            a page of max size 100.
          in: query
          name: pageSize
          type: integer
        - description: |-
            Optional page token to continue retrieval. Comes from previous call
            to `ListStoredInfoTypes`.
          in: query
          name: pageToken
          type: string
        - description: |-
            The parent resource name, for example projects/my-project-id or
            organizations/my-org-id.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2ListStoredInfoTypesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a pre-built stored infoType to be used for inspection.
        See https://cloud.google.com/dlp/docs/creating-stored-infotypes to
        learn more.
      operationId: dlp.projects.storedInfoTypes.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2CreateStoredInfoTypeRequest'
        - description: |-
            The parent resource name, for example projects/my-project-id or
            organizations/my-org-id.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2StoredInfoType'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
definitions:
  GooglePrivacyDlpV2Action:
    description: |-
      A task to execute on the completion of a job.
      See https://cloud.google.com/dlp/docs/concepts-actions to learn more.
    properties:
      jobNotificationEmails:
        $ref: '#/definitions/GooglePrivacyDlpV2JobNotificationEmails'
        description: |-
          Enable email notification to project owners and editors on job's
          completion/failure.
      pubSub:
        $ref: '#/definitions/GooglePrivacyDlpV2PublishToPubSub'
        description: Publish a notification to a pubsub topic.
      publishSummaryToCscc:
        $ref: '#/definitions/GooglePrivacyDlpV2PublishSummaryToCscc'
        description: Publish summary to Cloud Security Command Center (Alpha).
      saveFindings:
        $ref: '#/definitions/GooglePrivacyDlpV2SaveFindings'
        description: Save resulting findings in a provided location.
    type: object
  GooglePrivacyDlpV2ActivateJobTriggerRequest:
    description: Request message for ActivateJobTrigger.
    properties: {}
    type: object
  GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails:
    description: Result of a risk analysis operation request.
    properties:
      categoricalStatsResult:
        $ref: '#/definitions/GooglePrivacyDlpV2CategoricalStatsResult'
      deltaPresenceEstimationResult:
        $ref: '#/definitions/GooglePrivacyDlpV2DeltaPresenceEstimationResult'
      kAnonymityResult:
        $ref: '#/definitions/GooglePrivacyDlpV2KAnonymityResult'
      kMapEstimationResult:
        $ref: '#/definitions/GooglePrivacyDlpV2KMapEstimationResult'
      lDiversityResult:
        $ref: '#/definitions/GooglePrivacyDlpV2LDiversityResult'
      numericalStatsResult:
        $ref: '#/definitions/GooglePrivacyDlpV2NumericalStatsResult'
      requestedPrivacyMetric:
        $ref: '#/definitions/GooglePrivacyDlpV2PrivacyMetric'
        description: Privacy metric to compute.
      requestedSourceTable:
        $ref: '#/definitions/GooglePrivacyDlpV2BigQueryTable'
        description: Input dataset to compute metrics over.
    type: object
  GooglePrivacyDlpV2AuxiliaryTable:
    description: |-
      An auxiliary table contains statistical information on the relative
      frequency of different quasi-identifiers values. It has one or several
      quasi-identifiers columns, and one column that indicates the relative
      frequency of each quasi-identifier tuple.
      If a tuple is present in the data but not in the auxiliary table, the
      corresponding relative frequency is assumed to be zero (and thus, the
      tuple is highly reidentifiable).
    properties:
      quasiIds:
        description: 'Quasi-identifier columns. [required]'
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2QuasiIdField'
        type: array
      relativeFrequency:
        $ref: '#/definitions/GooglePrivacyDlpV2FieldId'
        description: |-
          The relative frequency column must contain a floating-point number
          between 0 and 1 (inclusive). Null values are assumed to be zero.
          [required]
      table:
        $ref: '#/definitions/GooglePrivacyDlpV2BigQueryTable'
        description: 'Auxiliary table location. [required]'
    type: object
  GooglePrivacyDlpV2BigQueryField:
    description: Message defining a field of a BigQuery table.
    properties:
      field:
        $ref: '#/definitions/GooglePrivacyDlpV2FieldId'
        description: Designated field in the BigQuery table.
      table:
        $ref: '#/definitions/GooglePrivacyDlpV2BigQueryTable'
        description: Source table of the field.
    type: object
  GooglePrivacyDlpV2BigQueryKey:
    description: Row key for identifying a record in BigQuery table.
    properties:
      rowNumber:
        description: |-
          Absolute number of the row from the beginning of the table at the time
          of scanning.
        format: int64
        type: string
      tableReference:
        $ref: '#/definitions/GooglePrivacyDlpV2BigQueryTable'
        description: Complete BigQuery table reference.
    type: object
  GooglePrivacyDlpV2BigQueryOptions:
    description: Options defining BigQuery table and row identifiers.
    properties:
      excludedFields:
        description: |-
          References to fields excluded from scanning. This allows you to skip
          inspection of entire columns which you know have no findings.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2FieldId'
        type: array
      identifyingFields:
        description: |-
          References to fields uniquely identifying rows within the table.
          Nested fields in the format, like `person.birthdate.year`, are allowed.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2FieldId'
        type: array
      rowsLimit:
        description: |-
          Max number of rows to scan. If the table has more rows than this value, the
          rest of the rows are omitted. If not set, or if set to 0, all rows will be
          scanned. Only one of rows_limit and rows_limit_percent can be specified.
          Cannot be used in conjunction with TimespanConfig.
        format: int64
        type: string
      rowsLimitPercent:
        description: |-
          Max percentage of rows to scan. The rest are omitted. The number of rows
          scanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and
          100 means no limit. Defaults to 0. Only one of rows_limit and
          rows_limit_percent can be specified. Cannot be used in conjunction with
          TimespanConfig.
        format: int32
        type: integer
      sampleMethod:
        enum:
          - SAMPLE_METHOD_UNSPECIFIED
          - TOP
          - RANDOM_START
        type: string
      tableReference:
        $ref: '#/definitions/GooglePrivacyDlpV2BigQueryTable'
        description: Complete BigQuery table reference.
    type: object
  GooglePrivacyDlpV2BigQueryTable:
    description: |-
      Message defining the location of a BigQuery table. A table is uniquely
      identified  by its project_id, dataset_id, and table_name. Within a query
      a table is often referenced with a string in the format of:
      `<project_id>:<dataset_id>.<table_id>` or
      `<project_id>.<dataset_id>.<table_id>`.
    properties:
      datasetId:
        description: Dataset ID of the table.
        type: string
      projectId:
        description: |-
          The Google Cloud Platform project ID of the project containing the table.
          If omitted, project ID is inferred from the API call.
        type: string
      tableId:
        description: Name of the table.
        type: string
    type: object
  GooglePrivacyDlpV2BoundingBox:
    description: Bounding box encompassing detected text within an image.
    properties:
      height:
        description: Height of the bounding box in pixels.
        format: int32
        type: integer
      left:
        description: 'Left coordinate of the bounding box. (0,0) is upper left.'
        format: int32
        type: integer
      top:
        description: 'Top coordinate of the bounding box. (0,0) is upper left.'
        format: int32
        type: integer
      width:
        description: Width of the bounding box in pixels.
        format: int32
        type: integer
    type: object
  GooglePrivacyDlpV2Bucket:
    description: 'Bucket is represented as a range, along with replacement values.'
    properties:
      max:
        $ref: '#/definitions/GooglePrivacyDlpV2Value'
        description: 'Upper bound of the range, exclusive; type must match min.'
      min:
        $ref: '#/definitions/GooglePrivacyDlpV2Value'
        description: |-
          Lower bound of the range, inclusive. Type should be the same as max if
          used.
      replacementValue:
        $ref: '#/definitions/GooglePrivacyDlpV2Value'
        description: |-
          Replacement value for this bucket. If not provided
          the default behavior will be to hyphenate the min-max range.
    type: object
  GooglePrivacyDlpV2BucketingConfig:
    description: |-
      Generalization function that buckets values based on ranges. The ranges and
      replacement values are dynamically provided by the user for custom behavior,
      such as 1-30 -> LOW 31-65 -> MEDIUM 66-100 -> HIGH
      This can be used on
      data of type: number, long, string, timestamp.
      If the bound `Value` type differs from the type of data being transformed, we
      will first attempt converting the type of the data to be transformed to match
      the type of the bound before comparing.
      See https://cloud.google.com/dlp/docs/concepts-bucketing to learn more.
    properties:
      buckets:
        description: Set of buckets. Ranges must be non-overlapping.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2Bucket'
        type: array
    type: object
  GooglePrivacyDlpV2ByteContentItem:
    description: Container for bytes to inspect or redact.
    properties:
      data:
        description: Content data to inspect or redact.
        format: byte
        type: string
      type:
        description: The type of data stored in the bytes string. Default will be TEXT_UTF8.
        enum:
          - BYTES_TYPE_UNSPECIFIED
          - IMAGE
          - IMAGE_JPEG
          - IMAGE_BMP
          - IMAGE_PNG
          - IMAGE_SVG
          - TEXT_UTF8
        type: string
    type: object
  GooglePrivacyDlpV2CancelDlpJobRequest:
    description: The request message for canceling a DLP job.
    properties: {}
    type: object
  GooglePrivacyDlpV2CategoricalStatsConfig:
    description: |-
      Compute numerical stats over an individual column, including
      number of distinct values and value count distribution.
    properties:
      field:
        $ref: '#/definitions/GooglePrivacyDlpV2FieldId'
        description: |-
          Field to compute categorical stats on. All column types are
          supported except for arrays and structs. However, it may be more
          informative to use NumericalStats when the field type is supported,
          depending on the data.
    type: object
  GooglePrivacyDlpV2CategoricalStatsHistogramBucket:
    properties:
      bucketSize:
        description: Total number of values in this bucket.
        format: int64
        type: string
      bucketValueCount:
        description: Total number of distinct values in this bucket.
        format: int64
        type: string
      bucketValues:
        description: |-
          Sample of value frequencies in this bucket. The total number of
          values returned per bucket is capped at 20.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2ValueFrequency'
        type: array
      valueFrequencyLowerBound:
        description: Lower bound on the value frequency of the values in this bucket.
        format: int64
        type: string
      valueFrequencyUpperBound:
        description: Upper bound on the value frequency of the values in this bucket.
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2CategoricalStatsResult:
    description: Result of the categorical stats computation.
    properties:
      valueFrequencyHistogramBuckets:
        description: Histogram of value frequencies in the column.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2CategoricalStatsHistogramBucket'
        type: array
    type: object
  GooglePrivacyDlpV2CharacterMaskConfig:
    description: |-
      Partially mask a string by replacing a given number of characters with a
      fixed character. Masking can start from the beginning or end of the string.
      This can be used on data of any type (numbers, longs, and so on) and when
      de-identifying structured data we'll attempt to preserve the original data's
      type. (This allows you to take a long like 123 and modify it to a string like
      **3.
    properties:
      charactersToIgnore:
        description: |-
          When masking a string, items in this list will be skipped when replacing.
          For example, if your string is 555-555-5555 and you ask us to skip `-` and
          mask 5 chars with * we would produce ***-*55-5555.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2CharsToIgnore'
        type: array
      maskingCharacter:
        description: |-
          Character to mask the sensitive values&mdash;for example, "*" for an
          alphabetic string such as name, or "0" for a numeric string such as ZIP
          code or credit card number. String must have length 1. If not supplied, we
          will default to "*" for strings, 0 for digits.
        type: string
      numberToMask:
        description: |-
          Number of characters to mask. If not set, all matching chars will be
          masked. Skipped characters do not count towards this tally.
        format: int32
        type: integer
      reverseOrder:
        description: |-
          Mask characters in reverse order. For example, if `masking_character` is
          '0', number_to_mask is 14, and `reverse_order` is false, then
          1234-5678-9012-3456 -> 00000000000000-3456
          If `masking_character` is '*', `number_to_mask` is 3, and `reverse_order`
          is true, then 12345 -> 12***
        type: boolean
    type: object
  GooglePrivacyDlpV2CharsToIgnore:
    description: |-
      Characters to skip when doing deidentification of a value. These will be left
      alone and skipped.
    properties:
      charactersToSkip:
        type: string
      commonCharactersToIgnore:
        enum:
          - COMMON_CHARS_TO_IGNORE_UNSPECIFIED
          - NUMERIC
          - ALPHA_UPPER_CASE
          - ALPHA_LOWER_CASE
          - PUNCTUATION
          - WHITESPACE
        type: string
    type: object
  GooglePrivacyDlpV2CloudStorageFileSet:
    description: Message representing a set of files in Cloud Storage.
    properties:
      url:
        description: |-
          The url, in the format `gs://<bucket>/<path>`. Trailing wildcard in the
          path is allowed.
        type: string
    type: object
  GooglePrivacyDlpV2CloudStorageOptions:
    description: |-
      Options defining a file or a set of files within a Google Cloud Storage
      bucket.
    properties:
      bytesLimitPerFile:
        description: |-
          Max number of bytes to scan from a file. If a scanned file's size is bigger
          than this value then the rest of the bytes are omitted. Only one
          of bytes_limit_per_file and bytes_limit_per_file_percent can be specified.
        format: int64
        type: string
      bytesLimitPerFilePercent:
        description: |-
          Max percentage of bytes to scan from a file. The rest are omitted. The
          number of bytes scanned is rounded down. Must be between 0 and 100,
          inclusively. Both 0 and 100 means no limit. Defaults to 0. Only one
          of bytes_limit_per_file and bytes_limit_per_file_percent can be specified.
        format: int32
        type: integer
      fileSet:
        $ref: '#/definitions/GooglePrivacyDlpV2FileSet'
        description: The set of one or more files to scan.
      fileTypes:
        description: |-
          List of file type groups to include in the scan.
          If empty, all files are scanned and available data format processors
          are applied. In addition, the binary content of the selected files
          is always scanned as well.
        items:
          enum:
            - FILE_TYPE_UNSPECIFIED
            - BINARY_FILE
            - TEXT_FILE
            - IMAGE
          type: string
        type: array
      filesLimitPercent:
        description: |-
          Limits the number of files to scan to this percentage of the input FileSet.
          Number of files scanned is rounded down. Must be between 0 and 100,
          inclusively. Both 0 and 100 means no limit. Defaults to 0.
        format: int32
        type: integer
      sampleMethod:
        enum:
          - SAMPLE_METHOD_UNSPECIFIED
          - TOP
          - RANDOM_START
        type: string
    type: object
  GooglePrivacyDlpV2CloudStoragePath:
    description: Message representing a single file or path in Cloud Storage.
    properties:
      path:
        description: |-
          A url representing a file or path (no wildcards) in Cloud Storage.
          Example: gs://[BUCKET_NAME]/dictionary.txt
        type: string
    type: object
  GooglePrivacyDlpV2CloudStorageRegexFileSet:
    description: |-
      Message representing a set of files in a Cloud Storage bucket. Regular
      expressions are used to allow fine-grained control over which files in the
      bucket to include.

      Included files are those that match at least one item in `include_regex` and
      do not match any items in `exclude_regex`. Note that a file that matches
      items from both lists will _not_ be included. For a match to occur, the
      entire file path (i.e., everything in the url after the bucket name) must
      match the regular expression.

      For example, given the input `{bucket_name: "mybucket", include_regex:
      ["directory1/.*"], exclude_regex:
      ["directory1/excluded.*"]}`:

      * `gs://mybucket/directory1/myfile` will be included
      * `gs://mybucket/directory1/directory2/myfile` will be included (`.*` matches
      across `/`)
      * `gs://mybucket/directory0/directory1/myfile` will _not_ be included (the
      full path doesn't match any items in `include_regex`)
      * `gs://mybucket/directory1/excludedfile` will _not_ be included (the path
      matches an item in `exclude_regex`)

      If `include_regex` is left empty, it will match all files by default
      (this is equivalent to setting `include_regex: [".*"]`).

      Some other common use cases:

      * `{bucket_name: "mybucket", exclude_regex: [".*\.pdf"]}` will include all
      files in `mybucket` except for .pdf files
      * `{bucket_name: "mybucket", include_regex: ["directory/[^/]+"]}` will
      include all files directly under `gs://mybucket/directory/`, without matching
      across `/`
    properties:
      bucketName:
        description: The name of a Cloud Storage bucket. Required.
        type: string
      excludeRegex:
        description: |-
          A list of regular expressions matching file paths to exclude. All files in
          the bucket that match at least one of these regular expressions will be
          excluded from the scan.

          Regular expressions use RE2
          [syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found
          under the google/re2 repository on GitHub.
        items:
          type: string
        type: array
      includeRegex:
        description: |-
          A list of regular expressions matching file paths to include. All files in
          the bucket that match at least one of these regular expressions will be
          included in the set of files, except for those that also match an item in
          `exclude_regex`. Leaving this field empty will match all files by default
          (this is equivalent to including `.*` in the list).

          Regular expressions use RE2
          [syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found
          under the google/re2 repository on GitHub.
        items:
          type: string
        type: array
    type: object
  GooglePrivacyDlpV2Color:
    description: Represents a color in the RGB color space.
    properties:
      blue:
        description: 'The amount of blue in the color as a value in the interval [0, 1].'
        format: float
        type: number
      green:
        description: 'The amount of green in the color as a value in the interval [0, 1].'
        format: float
        type: number
      red:
        description: 'The amount of red in the color as a value in the interval [0, 1].'
        format: float
        type: number
    type: object
  GooglePrivacyDlpV2Condition:
    description: |-
      The field type of `value` and `field` do not need to match to be
      considered equal, but not all comparisons are possible.
      EQUAL_TO and NOT_EQUAL_TO attempt to compare even with incompatible types,
      but all other comparisons are invalid with incompatible types.
      A `value` of type:

      - `string` can be compared against all other types
      - `boolean` can only be compared against other booleans
      - `integer` can be compared against doubles or a string if the string value
      can be parsed as an integer.
      - `double` can be compared against integers or a string if the string can
      be parsed as a double.
      - `Timestamp` can be compared against strings in RFC 3339 date string
      format.
      - `TimeOfDay` can be compared against timestamps and strings in the format
      of 'HH:mm:ss'.

      If we fail to compare do to type mismatch, a warning will be given and
      the condition will evaluate to false.
    properties:
      field:
        $ref: '#/definitions/GooglePrivacyDlpV2FieldId'
        description: 'Field within the record this condition is evaluated against. [required]'
      operator:
        description: 'Operator used to compare the field or infoType to the value. [required]'
        enum:
          - RELATIONAL_OPERATOR_UNSPECIFIED
          - EQUAL_TO
          - NOT_EQUAL_TO
          - GREATER_THAN
          - LESS_THAN
          - GREATER_THAN_OR_EQUALS
          - LESS_THAN_OR_EQUALS
          - EXISTS
        type: string
      value:
        $ref: '#/definitions/GooglePrivacyDlpV2Value'
        description: 'Value to compare against. [Required, except for `EXISTS` tests.]'
    type: object
  GooglePrivacyDlpV2Conditions:
    description: A collection of conditions.
    properties:
      conditions:
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2Condition'
        type: array
    type: object
  GooglePrivacyDlpV2ContentItem:
    description: Container structure for the content to inspect.
    properties:
      byteItem:
        $ref: '#/definitions/GooglePrivacyDlpV2ByteContentItem'
        description: Content data to inspect or redact. Replaces `type` and `data`.
      table:
        $ref: '#/definitions/GooglePrivacyDlpV2Table'
        description: |-
          Structured content for inspection. See
          https://cloud.google.com/dlp/docs/inspecting-text#inspecting_a_table to
          learn more.
      value:
        description: String data to inspect or redact.
        type: string
    type: object
  GooglePrivacyDlpV2ContentLocation:
    description: Findings container location data.
    properties:
      containerName:
        description: |-
          Name of the container where the finding is located.
          The top level name is the source file name or table name. Names of some
          common storage containers are formatted as follows:

          * BigQuery tables:  `<project_id>:<dataset_id>.<table_id>`
          * Cloud Storage files: `gs://<bucket>/<path>`
          * Datastore namespace: <namespace>

          Nested names could be absent if the embedded object has no string
          identifier (for an example an image contained within a document).
        type: string
      containerTimestamp:
        description: |-
          Findings container modification timestamp, if applicable.
          For Google Cloud Storage contains last file modification timestamp.
          For BigQuery table contains last_modified_time property.
          For Datastore - not populated.
        format: google-datetime
        type: string
      containerVersion:
        description: |-
          Findings container version, if available
          ("generation" for Google Cloud Storage).
        type: string
      documentLocation:
        $ref: '#/definitions/GooglePrivacyDlpV2DocumentLocation'
        description: Location data for document files.
      imageLocation:
        $ref: '#/definitions/GooglePrivacyDlpV2ImageLocation'
        description: Location within an image's pixels.
      recordLocation:
        $ref: '#/definitions/GooglePrivacyDlpV2RecordLocation'
        description: Location within a row or record of a database table.
    type: object
  GooglePrivacyDlpV2CreateDeidentifyTemplateRequest:
    description: Request message for CreateDeidentifyTemplate.
    properties:
      deidentifyTemplate:
        $ref: '#/definitions/GooglePrivacyDlpV2DeidentifyTemplate'
        description: The DeidentifyTemplate to create.
      templateId:
        description: |-
          The template id can contain uppercase and lowercase letters,
          numbers, and hyphens; that is, it must match the regular
          expression: `[a-zA-Z\\d-_]+`. The maximum length is 100
          characters. Can be empty to allow the system to generate one.
        type: string
    type: object
  GooglePrivacyDlpV2CreateDlpJobRequest:
    description: |-
      Request message for CreateDlpJobRequest. Used to initiate long running
      jobs such as calculating risk metrics or inspecting Google Cloud
      Storage.
    properties:
      inspectJob:
        $ref: '#/definitions/GooglePrivacyDlpV2InspectJobConfig'
      jobId:
        description: |-
          The job id can contain uppercase and lowercase letters,
          numbers, and hyphens; that is, it must match the regular
          expression: `[a-zA-Z\\d-_]+`. The maximum length is 100
          characters. Can be empty to allow the system to generate one.
        type: string
      riskJob:
        $ref: '#/definitions/GooglePrivacyDlpV2RiskAnalysisJobConfig'
    type: object
  GooglePrivacyDlpV2CreateInspectTemplateRequest:
    description: Request message for CreateInspectTemplate.
    properties:
      inspectTemplate:
        $ref: '#/definitions/GooglePrivacyDlpV2InspectTemplate'
        description: The InspectTemplate to create.
      templateId:
        description: |-
          The template id can contain uppercase and lowercase letters,
          numbers, and hyphens; that is, it must match the regular
          expression: `[a-zA-Z\\d-_]+`. The maximum length is 100
          characters. Can be empty to allow the system to generate one.
        type: string
    type: object
  GooglePrivacyDlpV2CreateJobTriggerRequest:
    description: Request message for CreateJobTrigger.
    properties:
      jobTrigger:
        $ref: '#/definitions/GooglePrivacyDlpV2JobTrigger'
        description: The JobTrigger to create.
      triggerId:
        description: |-
          The trigger id can contain uppercase and lowercase letters,
          numbers, and hyphens; that is, it must match the regular
          expression: `[a-zA-Z\\d-_]+`. The maximum length is 100
          characters. Can be empty to allow the system to generate one.
        type: string
    type: object
  GooglePrivacyDlpV2CreateStoredInfoTypeRequest:
    description: Request message for CreateStoredInfoType.
    properties:
      config:
        $ref: '#/definitions/GooglePrivacyDlpV2StoredInfoTypeConfig'
        description: Configuration of the storedInfoType to create.
      storedInfoTypeId:
        description: |-
          The storedInfoType ID can contain uppercase and lowercase letters,
          numbers, and hyphens; that is, it must match the regular
          expression: `[a-zA-Z\\d-_]+`. The maximum length is 100
          characters. Can be empty to allow the system to generate one.
        type: string
    type: object
  GooglePrivacyDlpV2CryptoHashConfig:
    description: |-
      Pseudonymization method that generates surrogates via cryptographic hashing.
      Uses SHA-256.
      The key size must be either 32 or 64 bytes.
      Outputs a base64 encoded representation of the hashed output
      (for example, L7k0BHmF1ha5U3NfGykjro4xWi1MPVQPjhMAZbSV9mM=).
      Currently, only string and integer values can be hashed.
      See https://cloud.google.com/dlp/docs/pseudonymization to learn more.
    properties:
      cryptoKey:
        $ref: '#/definitions/GooglePrivacyDlpV2CryptoKey'
        description: The key used by the hash function.
    type: object
  GooglePrivacyDlpV2CryptoKey:
    description: |-
      This is a data encryption key (DEK) (as opposed to
      a key encryption key (KEK) stored by KMS).
      When using KMS to wrap/unwrap DEKs, be sure to set an appropriate
      IAM policy on the KMS CryptoKey (KEK) to ensure an attacker cannot
      unwrap the data crypto key.
    properties:
      kmsWrapped:
        $ref: '#/definitions/GooglePrivacyDlpV2KmsWrappedCryptoKey'
      transient:
        $ref: '#/definitions/GooglePrivacyDlpV2TransientCryptoKey'
      unwrapped:
        $ref: '#/definitions/GooglePrivacyDlpV2UnwrappedCryptoKey'
    type: object
  GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig:
    description: |-
      Note: We recommend using  CryptoDeterministicConfig for all use cases which
      do not require preserving the input alphabet space and size, plus warrant
      referential integrity.
    properties:
      commonAlphabet:
        enum:
          - FFX_COMMON_NATIVE_ALPHABET_UNSPECIFIED
          - NUMERIC
          - HEXADECIMAL
          - UPPER_CASE_ALPHA_NUMERIC
          - ALPHA_NUMERIC
        type: string
      context:
        $ref: '#/definitions/GooglePrivacyDlpV2FieldId'
        description: |-
          The 'tweak', a context may be used for higher security since the same
          identifier in two different contexts won't be given the same surrogate. If
          the context is not set, a default tweak will be used.

          If the context is set but:

          1. there is no record present when transforming a given value or
          1. the field is not present when transforming a given value,

          a default tweak will be used.

          Note that case (1) is expected when an `InfoTypeTransformation` is
          applied to both structured and non-structured `ContentItem`s.
          Currently, the referenced field may be of value type integer or string.

          The tweak is constructed as a sequence of bytes in big endian byte order
          such that:

          - a 64 bit integer is encoded followed by a single byte of value 1
          - a string is encoded in UTF-8 format followed by a single byte of value 2
      cryptoKey:
        $ref: '#/definitions/GooglePrivacyDlpV2CryptoKey'
        description: 'The key used by the encryption algorithm. [required]'
      customAlphabet:
        description: |-
          This is supported by mapping these to the alphanumeric characters
          that the FFX mode natively supports. This happens before/after
          encryption/decryption.
          Each character listed must appear only once.
          Number of characters must be in the range [2, 62].
          This must be encoded as ASCII.
          The order of characters does not matter.
        type: string
      radix:
        description: 'The native way to select the alphabet. Must be in the range [2, 62].'
        format: int32
        type: integer
      surrogateInfoType:
        $ref: '#/definitions/GooglePrivacyDlpV2InfoType'
        description: |-
          The custom infoType to annotate the surrogate with.
          This annotation will be applied to the surrogate by prefixing it with
          the name of the custom infoType followed by the number of
          characters comprising the surrogate. The following scheme defines the
          format: info_type_name(surrogate_character_count):surrogate

          For example, if the name of custom infoType is 'MY_TOKEN_INFO_TYPE' and
          the surrogate is 'abc', the full replacement value
          will be: 'MY_TOKEN_INFO_TYPE(3):abc'

          This annotation identifies the surrogate when inspecting content using the
          custom infoType
          [`SurrogateType`](/dlp/docs/reference/rest/v2/InspectConfig#surrogatetype).
          This facilitates reversal of the surrogate when it occurs in free text.

          In order for inspection to work properly, the name of this infoType must
          not occur naturally anywhere in your data; otherwise, inspection may
          find a surrogate that does not correspond to an actual identifier.
          Therefore, choose your custom infoType name carefully after considering
          what your data looks like. One way to select a name that has a high chance
          of yielding reliable detection is to include one or more unicode characters
          that are highly improbable to exist in your data.
          For example, assuming your data is entered from a regular ASCII keyboard,
          the symbol with the hex code point 29DD might be used like so:
          ⧝MY_TOKEN_TYPE
    type: object
  GooglePrivacyDlpV2CustomInfoType:
    description: |-
      Custom information type provided by the user. Used to find domain-specific
      sensitive information configurable to the data in question.
    properties:
      detectionRules:
        description: |-
          Set of detection rules to apply to all findings of this CustomInfoType.
          Rules are applied in order that they are specified. Not supported for the
          `surrogate_type` CustomInfoType.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2DetectionRule'
        type: array
      dictionary:
        $ref: '#/definitions/GooglePrivacyDlpV2Dictionary'
        description: A list of phrases to detect as a CustomInfoType.
      exclusionType:
        description: |-
          If set to EXCLUSION_TYPE_EXCLUDE this infoType will not cause a finding
          to be returned. It still can be used for rules matching.
        enum:
          - EXCLUSION_TYPE_UNSPECIFIED
          - EXCLUSION_TYPE_EXCLUDE
        type: string
      infoType:
        $ref: '#/definitions/GooglePrivacyDlpV2InfoType'
        description: |-
          CustomInfoType can either be a new infoType, or an extension of built-in
          infoType, when the name matches one of existing infoTypes and that infoType
          is specified in `InspectContent.info_types` field. Specifying the latter
          adds findings to the one detected by the system. If built-in info type is
          not specified in `InspectContent.info_types` list then the name is treated
          as a custom info type.
      likelihood:
        description: |-
          Likelihood to return for this CustomInfoType. This base value can be
          altered by a detection rule if the finding meets the criteria specified by
          the rule. Defaults to `VERY_LIKELY` if not specified.
        enum:
          - LIKELIHOOD_UNSPECIFIED
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
        type: string
      regex:
        $ref: '#/definitions/GooglePrivacyDlpV2Regex'
        description: Regular expression based CustomInfoType.
      storedType:
        $ref: '#/definitions/GooglePrivacyDlpV2StoredType'
        description: |-
          Load an existing `StoredInfoType` resource for use in
          `InspectDataSource`. Not currently supported in `InspectContent`.
      surrogateType:
        $ref: '#/definitions/GooglePrivacyDlpV2SurrogateType'
        description: |-
          Message for detecting output from deidentification transformations that
          support reversing.
    type: object
  GooglePrivacyDlpV2DatastoreKey:
    description: Record key for a finding in Cloud Datastore.
    properties:
      entityKey:
        $ref: '#/definitions/GooglePrivacyDlpV2Key'
        description: Datastore entity key.
    type: object
  GooglePrivacyDlpV2DatastoreOptions:
    description: Options defining a data set within Google Cloud Datastore.
    properties:
      kind:
        $ref: '#/definitions/GooglePrivacyDlpV2KindExpression'
        description: The kind to process.
      partitionId:
        $ref: '#/definitions/GooglePrivacyDlpV2PartitionId'
        description: |-
          A partition ID identifies a grouping of entities. The grouping is always
          by project and namespace, however the namespace ID may be empty.
    type: object
  GooglePrivacyDlpV2DateShiftConfig:
    description: |-
      Shifts dates by random number of days, with option to be consistent for the
      same context. See https://cloud.google.com/dlp/docs/concepts-date-shifting
      to learn more.
    properties:
      context:
        $ref: '#/definitions/GooglePrivacyDlpV2FieldId'
        description: |-
          Points to the field that contains the context, for example, an entity id.
          If set, must also set method. If set, shift will be consistent for the
          given context.
      cryptoKey:
        $ref: '#/definitions/GooglePrivacyDlpV2CryptoKey'
        description: |-
          Causes the shift to be computed based on this key and the context. This
          results in the same shift for the same context and crypto_key.
      lowerBoundDays:
        description: |-
          For example, -5 means shift date to at most 5 days back in the past.
          [Required]
        format: int32
        type: integer
      upperBoundDays:
        description: |-
          Range of shift in days. Actual shift will be selected at random within this
          range (inclusive ends). Negative means shift to earlier in time. Must not
          be more than 365250 days (1000 years) each direction.

          For example, 3 means shift date to at most 3 days into the future.
          [Required]
        format: int32
        type: integer
    type: object
  GooglePrivacyDlpV2DateTime:
    description: |-
      Message for a date time object.
      e.g. 2018-01-01, 5th August.
    properties:
      date:
        $ref: '#/definitions/GoogleTypeDate'
        description: |-
          One or more of the following must be set. All fields are optional, but
          when set must be valid date or time values.
      dayOfWeek:
        enum:
          - DAY_OF_WEEK_UNSPECIFIED
          - MONDAY
          - TUESDAY
          - WEDNESDAY
          - THURSDAY
          - FRIDAY
          - SATURDAY
          - SUNDAY
        type: string
      time:
        $ref: '#/definitions/GoogleTypeTimeOfDay'
      timeZone:
        $ref: '#/definitions/GooglePrivacyDlpV2TimeZone'
    type: object
  GooglePrivacyDlpV2DeidentifyConfig:
    description: The configuration that controls how the data will change.
    properties:
      infoTypeTransformations:
        $ref: '#/definitions/GooglePrivacyDlpV2InfoTypeTransformations'
        description: |-
          Treat the dataset as free-form text and apply the same free text
          transformation everywhere.
      recordTransformations:
        $ref: '#/definitions/GooglePrivacyDlpV2RecordTransformations'
        description: |-
          Treat the dataset as structured. Transformations can be applied to
          specific locations within structured datasets, such as transforming
          a column within a table.
    type: object
  GooglePrivacyDlpV2DeidentifyContentRequest:
    description: Request to de-identify a list of items.
    properties:
      deidentifyConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2DeidentifyConfig'
        description: |-
          Configuration for the de-identification of the content item.
          Items specified here will override the template referenced by the
          deidentify_template_name argument.
      deidentifyTemplateName:
        description: |-
          Optional template to use. Any configuration directly specified in
          deidentify_config will override those set in the template. Singular fields
          that are set in this request will replace their corresponding fields in the
          template. Repeated fields are appended. Singular sub-messages and groups
          are recursively merged.
        type: string
      inspectConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2InspectConfig'
        description: |-
          Configuration for the inspector.
          Items specified here will override the template referenced by the
          inspect_template_name argument.
      inspectTemplateName:
        description: |-
          Optional template to use. Any configuration directly specified in
          inspect_config will override those set in the template. Singular fields
          that are set in this request will replace their corresponding fields in the
          template. Repeated fields are appended. Singular sub-messages and groups
          are recursively merged.
        type: string
      item:
        $ref: '#/definitions/GooglePrivacyDlpV2ContentItem'
        description: The item to de-identify. Will be treated as text.
    type: object
  GooglePrivacyDlpV2DeidentifyContentResponse:
    description: Results of de-identifying a ContentItem.
    properties:
      item:
        $ref: '#/definitions/GooglePrivacyDlpV2ContentItem'
        description: The de-identified item.
      overview:
        $ref: '#/definitions/GooglePrivacyDlpV2TransformationOverview'
        description: An overview of the changes that were made on the `item`.
    type: object
  GooglePrivacyDlpV2DeidentifyTemplate:
    description: |-
      The DeidentifyTemplates contains instructions on how to deidentify content.
      See https://cloud.google.com/dlp/docs/concepts-templates to learn more.
    properties:
      createTime:
        description: 'The creation timestamp of a inspectTemplate, output only field.'
        format: google-datetime
        type: string
      deidentifyConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2DeidentifyConfig'
        description: ///////////// // The core content of the template  // ///////////////
      description:
        description: Short description (max 256 chars).
        type: string
      displayName:
        description: Display name (max 256 chars).
        type: string
      name:
        description: |-
          The template name. Output only.

          The template will have one of the following formats:
          `projects/PROJECT_ID/deidentifyTemplates/TEMPLATE_ID` OR
          `organizations/ORGANIZATION_ID/deidentifyTemplates/TEMPLATE_ID`
        type: string
      updateTime:
        description: 'The last update timestamp of a inspectTemplate, output only field.'
        format: google-datetime
        type: string
    type: object
  GooglePrivacyDlpV2DeltaPresenceEstimationConfig:
    description: |-
      δ-presence metric, used to estimate how likely it is for an attacker to
      figure out that one given individual appears in a de-identified dataset.
      Similarly to the k-map metric, we cannot compute δ-presence exactly without
      knowing the attack dataset, so we use a statistical model instead.
    properties:
      auxiliaryTables:
        description: |-
          Several auxiliary tables can be used in the analysis. Each custom_tag
          used to tag a quasi-identifiers field must appear in exactly one
          field of one auxiliary table.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2StatisticalTable'
        type: array
      quasiIds:
        description: |-
          Fields considered to be quasi-identifiers. No two fields can have the
          same tag. [required]
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2QuasiId'
        type: array
      regionCode:
        description: |-
          ISO 3166-1 alpha-2 region code to use in the statistical modeling.
          Required if no column is tagged with a region-specific InfoType (like
          US_ZIP_5) or a region code.
        type: string
    type: object
  GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket:
    description: |-
      A DeltaPresenceEstimationHistogramBucket message with the following
      values:
        min_probability: 0.1
        max_probability: 0.2
        frequency: 42
      means that there are 42 records for which δ is in [0.1, 0.2). An
      important particular case is when min_probability = max_probability = 1:
      then, every individual who shares this quasi-identifier combination is in
      the dataset.
    properties:
      bucketSize:
        description: Number of records within these probability bounds.
        format: int64
        type: string
      bucketValueCount:
        description: Total number of distinct quasi-identifier tuple values in this bucket.
        format: int64
        type: string
      bucketValues:
        description: |-
          Sample of quasi-identifier tuple values in this bucket. The total
          number of classes returned per bucket is capped at 20.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues'
        type: array
      maxProbability:
        description: Always greater than or equal to min_probability.
        format: double
        type: number
      minProbability:
        description: Between 0 and 1.
        format: double
        type: number
    type: object
  GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues:
    description: A tuple of values for the quasi-identifier columns.
    properties:
      estimatedProbability:
        description: |-
          The estimated probability that a given individual sharing these
          quasi-identifier values is in the dataset. This value, typically called
          δ, is the ratio between the number of records in the dataset with these
          quasi-identifier values, and the total number of individuals (inside
          *and* outside the dataset) with these quasi-identifier values.
          For example, if there are 15 individuals in the dataset who share the
          same quasi-identifier values, and an estimated 100 people in the entire
          population with these values, then δ is 0.15.
        format: double
        type: number
      quasiIdsValues:
        description: The quasi-identifier values.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2Value'
        type: array
    type: object
  GooglePrivacyDlpV2DeltaPresenceEstimationResult:
    description: |-
      Result of the δ-presence computation. Note that these results are an
      estimation, not exact values.
    properties:
      deltaPresenceEstimationHistogram:
        description: |-
          The intervals [min_probability, max_probability) do not overlap. If a
          value doesn't correspond to any such interval, the associated frequency
          is zero. For example, the following records:
            {min_probability: 0, max_probability: 0.1, frequency: 17}
            {min_probability: 0.2, max_probability: 0.3, frequency: 42}
            {min_probability: 0.3, max_probability: 0.4, frequency: 99}
          mean that there are no record with an estimated probability in [0.1, 0.2)
          nor larger or equal to 0.4.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket'
        type: array
    type: object
  GooglePrivacyDlpV2DetectionRule:
    description: |-
      Rule for modifying a CustomInfoType to alter behavior under certain
      circumstances, depending on the specific details of the rule. Not supported
      for the `surrogate_type` custom info type.
    properties:
      hotwordRule:
        $ref: '#/definitions/GooglePrivacyDlpV2HotwordRule'
        description: Hotword-based detection rule.
    type: object
  GooglePrivacyDlpV2Dictionary:
    description: |-
      Custom information type based on a dictionary of words or phrases. This can
      be used to match sensitive information specific to the data, such as a list
      of employee IDs or job titles.

      Dictionary words are case-insensitive and all characters other than letters
      and digits in the unicode [Basic Multilingual
      Plane](https://en.wikipedia.org/wiki/Plane_%28Unicode%29#Basic_Multilingual_Plane)
      will be replaced with whitespace when scanning for matches, so the
      dictionary phrase "Sam Johnson" will match all three phrases "sam johnson",
      "Sam, Johnson", and "Sam (Johnson)". Additionally, the characters
      surrounding any match must be of a different type than the adjacent
      characters within the word, so letters must be next to non-letters and
      digits next to non-digits. For example, the dictionary word "jen" will
      match the first three letters of the text "jen123" but will return no
      matches for "jennifer".

      Dictionary words containing a large number of characters that are not
      letters or digits may result in unexpected findings because such characters
      are treated as whitespace. The
      [limits](https://cloud.google.com/dlp/limits) page contains details about
      the size limits of dictionaries. For dictionaries that do not fit within
      these constraints, consider using `LargeCustomDictionaryConfig` in the
      `StoredInfoType` API.
    properties:
      cloudStoragePath:
        $ref: '#/definitions/GooglePrivacyDlpV2CloudStoragePath'
        description: |-
          Newline-delimited file of words in Cloud Storage. Only a single file
          is accepted.
      wordList:
        $ref: '#/definitions/GooglePrivacyDlpV2WordList'
        description: List of words or phrases to search for.
    type: object
  GooglePrivacyDlpV2DlpJob:
    description: Combines all of the information about a DLP job.
    properties:
      createTime:
        description: Time when the job was created.
        format: google-datetime
        type: string
      endTime:
        description: Time when the job finished.
        format: google-datetime
        type: string
      errors:
        description: A stream of errors encountered running the job.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2Error'
        type: array
      inspectDetails:
        $ref: '#/definitions/GooglePrivacyDlpV2InspectDataSourceDetails'
        description: Results from inspecting a data source.
      jobTriggerName:
        description: |-
          If created by a job trigger, the resource name of the trigger that
          instantiated the job.
        type: string
      name:
        description: The server-assigned name.
        type: string
      riskDetails:
        $ref: '#/definitions/GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails'
        description: Results from analyzing risk of a data source.
      startTime:
        description: Time when the job started.
        format: google-datetime
        type: string
      state:
        description: State of a job.
        enum:
          - JOB_STATE_UNSPECIFIED
          - PENDING
          - RUNNING
          - DONE
          - CANCELED
          - FAILED
        type: string
      type:
        description: The type of job.
        enum:
          - DLP_JOB_TYPE_UNSPECIFIED
          - INSPECT_JOB
          - RISK_ANALYSIS_JOB
        type: string
    type: object
  GooglePrivacyDlpV2DocumentLocation:
    description: Location of a finding within a document.
    properties:
      fileOffset:
        description: |-
          Offset of the line, from the beginning of the file, where the finding
          is located.
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2EntityId:
    description: |-
      An entity in a dataset is a field or set of fields that correspond to a
      single person. For example, in medical records the `EntityId` might be a
      patient identifier, or for financial records it might be an account
      identifier. This message is used when generalizations or analysis must take
      into account that multiple rows correspond to the same entity.
    properties:
      field:
        $ref: '#/definitions/GooglePrivacyDlpV2FieldId'
        description: Composite key indicating which field contains the entity identifier.
    type: object
  GooglePrivacyDlpV2Error:
    description: |-
      Details information about an error encountered during job execution or
      the results of an unsuccessful activation of the JobTrigger.
      Output only field.
    properties:
      details:
        $ref: '#/definitions/GoogleRpcStatus'
      timestamps:
        description: The times the error occurred.
        items:
          format: google-datetime
          type: string
        type: array
    type: object
  GooglePrivacyDlpV2ExcludeInfoTypes:
    description: List of exclude infoTypes.
    properties:
      infoTypes:
        description: |-
          InfoType list in ExclusionRule rule drops a finding when it overlaps or
          contained within with a finding of an infoType from this list. For
          example, for `InspectionRuleSet.info_types` containing "PHONE_NUMBER"` and
          `exclusion_rule` containing `exclude_info_types.info_types` with
          "EMAIL_ADDRESS" the phone number findings are dropped if they overlap
          with EMAIL_ADDRESS finding.
          That leads to "555-222-2222@example.org" to generate only a single
          finding, namely email address.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2InfoType'
        type: array
    type: object
  GooglePrivacyDlpV2ExclusionRule:
    description: |-
      The rule that specifies conditions when findings of infoTypes specified in
      `InspectionRuleSet` are removed from results.
    properties:
      dictionary:
        $ref: '#/definitions/GooglePrivacyDlpV2Dictionary'
        description: Dictionary which defines the rule.
      excludeInfoTypes:
        $ref: '#/definitions/GooglePrivacyDlpV2ExcludeInfoTypes'
        description: Set of infoTypes for which findings would affect this rule.
      matchingType:
        description: 'How the rule is applied, see MatchingType documentation for details.'
        enum:
          - MATCHING_TYPE_UNSPECIFIED
          - MATCHING_TYPE_FULL_MATCH
          - MATCHING_TYPE_PARTIAL_MATCH
          - MATCHING_TYPE_INVERSE_MATCH
        type: string
      regex:
        $ref: '#/definitions/GooglePrivacyDlpV2Regex'
        description: Regular expression which defines the rule.
    type: object
  GooglePrivacyDlpV2Expressions:
    description: 'An expression, consisting or an operator and conditions.'
    properties:
      conditions:
        $ref: '#/definitions/GooglePrivacyDlpV2Conditions'
      logicalOperator:
        description: |-
          The operator to apply to the result of conditions. Default and currently
          only supported value is `AND`.
        enum:
          - LOGICAL_OPERATOR_UNSPECIFIED
          - AND
        type: string
    type: object
  GooglePrivacyDlpV2FieldId:
    description: General identifier of a data field in a storage service.
    properties:
      name:
        description: Name describing the field.
        type: string
    type: object
  GooglePrivacyDlpV2FieldTransformation:
    description: The transformation to apply to the field.
    properties:
      condition:
        $ref: '#/definitions/GooglePrivacyDlpV2RecordCondition'
        description: |-
          Only apply the transformation if the condition evaluates to true for the
          given `RecordCondition`. The conditions are allowed to reference fields
          that are not used in the actual transformation. [optional]

          Example Use Cases:

          - Apply a different bucket transformation to an age column if the zip code
          column for the same record is within a specific range.
          - Redact a field if the date of birth field is greater than 85.
      fields:
        description: 'Input field(s) to apply the transformation to. [required]'
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2FieldId'
        type: array
      infoTypeTransformations:
        $ref: '#/definitions/GooglePrivacyDlpV2InfoTypeTransformations'
        description: |-
          Treat the contents of the field as free text, and selectively
          transform content that matches an `InfoType`.
      primitiveTransformation:
        $ref: '#/definitions/GooglePrivacyDlpV2PrimitiveTransformation'
        description: Apply the transformation to the entire field.
    type: object
  GooglePrivacyDlpV2FileSet:
    description: Set of files to scan.
    properties:
      regexFileSet:
        $ref: '#/definitions/GooglePrivacyDlpV2CloudStorageRegexFileSet'
        description: |-
          The regex-filtered set of files to scan. Exactly one of `url` or
          `regex_file_set` must be set.
      url:
        description: |-
          The Cloud Storage url of the file(s) to scan, in the format
          `gs://<bucket>/<path>`. Trailing wildcard in the path is allowed.

          If the url ends in a trailing slash, the bucket or directory represented
          by the url will be scanned non-recursively (content in sub-directories
          will not be scanned). This means that `gs://mybucket/` is equivalent to
          `gs://mybucket/*`, and `gs://mybucket/directory/` is equivalent to
          `gs://mybucket/directory/*`.

          Exactly one of `url` or `regex_file_set` must be set.
        type: string
    type: object
  GooglePrivacyDlpV2Finding:
    description: Represents a piece of potentially sensitive content.
    properties:
      createTime:
        description: Timestamp when finding was detected.
        format: google-datetime
        type: string
      infoType:
        $ref: '#/definitions/GooglePrivacyDlpV2InfoType'
        description: |-
          The type of content that might have been found.
          Provided if `excluded_types` is false.
      likelihood:
        description: Confidence of how likely it is that the `info_type` is correct.
        enum:
          - LIKELIHOOD_UNSPECIFIED
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
        type: string
      location:
        $ref: '#/definitions/GooglePrivacyDlpV2Location'
        description: Where the content was found.
      quote:
        description: |-
          The content that was found. Even if the content is not textual, it
          may be converted to a textual representation here.
          Provided if `include_quote` is true and the finding is
          less than or equal to 4096 bytes long. If the finding exceeds 4096 bytes
          in length, the quote may be omitted.
        type: string
      quoteInfo:
        $ref: '#/definitions/GooglePrivacyDlpV2QuoteInfo'
        description: |-
          Contains data parsed from quotes. Only populated if include_quote was set
          to true and a supported infoType was requested. Currently supported
          infoTypes: DATE, DATE_OF_BIRTH and TIME.
    type: object
  GooglePrivacyDlpV2FindingLimits:
    properties:
      maxFindingsPerInfoType:
        description: Configuration of findings limit given for specified infoTypes.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2InfoTypeLimit'
        type: array
      maxFindingsPerItem:
        description: |-
          Max number of findings that will be returned for each item scanned.
          When set within `InspectDataSourceRequest`,
          the maximum returned is 2000 regardless if this is set higher.
          When set within `InspectContentRequest`, this field is ignored.
        format: int32
        type: integer
      maxFindingsPerRequest:
        description: |-
          Max number of findings that will be returned per request/job.
          When set within `InspectContentRequest`, the maximum returned is 2000
          regardless if this is set higher.
        format: int32
        type: integer
    type: object
  GooglePrivacyDlpV2FixedSizeBucketingConfig:
    description: |-
      Buckets values based on fixed size ranges. The
      Bucketing transformation can provide all of this functionality,
      but requires more configuration. This message is provided as a convenience to
      the user for simple bucketing strategies.

      The transformed value will be a hyphenated string of
      <lower_bound>-<upper_bound>, i.e if lower_bound = 10 and upper_bound = 20
      all values that are within this bucket will be replaced with "10-20".

      This can be used on data of type: double, long.

      If the bound Value type differs from the type of data
      being transformed, we will first attempt converting the type of the data to
      be transformed to match the type of the bound before comparing.

      See https://cloud.google.com/dlp/docs/concepts-bucketing to learn more.
    properties:
      bucketSize:
        description: |-
          Size of each bucket (except for minimum and maximum buckets). So if
          `lower_bound` = 10, `upper_bound` = 89, and `bucket_size` = 10, then the
          following buckets would be used: -10, 10-20, 20-30, 30-40, 40-50, 50-60,
          60-70, 70-80, 80-89, 89+. Precision up to 2 decimals works. [Required].
        format: double
        type: number
      lowerBound:
        $ref: '#/definitions/GooglePrivacyDlpV2Value'
        description: |-
          Lower bound value of buckets. All values less than `lower_bound` are
          grouped together into a single bucket; for example if `lower_bound` = 10,
          then all values less than 10 are replaced with the value “-10”. [Required].
      upperBound:
        $ref: '#/definitions/GooglePrivacyDlpV2Value'
        description: |-
          Upper bound value of buckets. All values greater than upper_bound are
          grouped together into a single bucket; for example if `upper_bound` = 89,
          then all values greater than 89 are replaced with the value “89+”.
          [Required].
    type: object
  GooglePrivacyDlpV2HotwordRule:
    description: |-
      The rule that adjusts the likelihood of findings within a certain
      proximity of hotwords.
    properties:
      hotwordRegex:
        $ref: '#/definitions/GooglePrivacyDlpV2Regex'
        description: Regular expression pattern defining what qualifies as a hotword.
      likelihoodAdjustment:
        $ref: '#/definitions/GooglePrivacyDlpV2LikelihoodAdjustment'
        description: Likelihood adjustment to apply to all matching findings.
      proximity:
        $ref: '#/definitions/GooglePrivacyDlpV2Proximity'
        description: |-
          Proximity of the finding within which the entire hotword must reside.
          The total length of the window cannot exceed 1000 characters. Note that
          the finding itself will be included in the window, so that hotwords may
          be used to match substrings of the finding itself. For example, the
          certainty of a phone number regex "\(\d{3}\) \d{3}-\d{4}" could be
          adjusted upwards if the area code is known to be the local area code of
          a company office using the hotword regex "\(xxx\)", where "xxx"
          is the area code in question.
    type: object
[...]
