swagger: '2.0'
schemes:
  - https
host: container.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Builds and manages container-based applications, powered by the open source Kubernetes technology.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Kubernetes Engine
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://cloud.google.com/_static/images/new-gcp-logo.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://container.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: container
externalDocs:
  url: 'https://cloud.google.com/container-engine/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: projects
paths:
  '/v1/projects/{projectId}/zones/{zone}/clusters':
    get:
      description: |-
        Lists all clusters owned by a project in either the specified zone or all
        zones.
      operationId: container.projects.zones.clusters.list
      parameters:
        - description: |-
            The parent (project and location) where the clusters will be listed.
            Specified in the format 'projects/*/locations/*'.
            Location "-" matches all zones and all regions.
          in: query
          name: parent
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the parent field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides, or "-" for all zones.
            This field has been deprecated and replaced by the parent field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListClustersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a cluster, consisting of the specified number and type of Google
        Compute Engine instances.

        By default, the cluster is created in the project's
        [default network](/compute/docs/networks-and-firewalls#networks).

        One firewall is added for the cluster. After cluster creation,
        the Kubelet creates routes for each node to allow the containers
        on that node to communicate with all other instances in the
        cluster.

        Finally, an entry is added to the project's global metadata indicating
        which CIDR range the cluster is using.
      operationId: container.projects.zones.clusters.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateClusterRequest'
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the parent field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the parent field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}':
    delete:
      description: |-
        Deletes the cluster, including the Kubernetes endpoint and all worker
        nodes.

        Firewalls and routes that were configured during cluster creation
        are also deleted.

        Other Google Compute Engine resources that might be in use by the cluster,
        such as load balancer resources, are not deleted if they weren't present
        when the cluster was initially created.
      operationId: container.projects.zones.clusters.delete
      parameters:
        - description: |-
            Deprecated. The name of the cluster to delete.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            The name (project, location, cluster) of the cluster to delete.
            Specified in the format 'projects/*/locations/*/clusters/*'.
          in: query
          name: name
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    get:
      description: Gets the details of a specific cluster.
      operationId: container.projects.zones.clusters.get
      parameters:
        - description: |-
            Deprecated. The name of the cluster to retrieve.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            The name (project, location, cluster) of the cluster to retrieve.
            Specified in the format 'projects/*/locations/*/clusters/*'.
          in: query
          name: name
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Cluster'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    put:
      description: Updates the settings of a specific cluster.
      operationId: container.projects.zones.clusters.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UpdateClusterRequest'
        - description: |-
            Deprecated. The name of the cluster to upgrade.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/addons':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Sets the addons for a specific cluster.
      operationId: container.projects.zones.clusters.addons
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetAddonsConfigRequest'
        - description: |-
            Deprecated. The name of the cluster to upgrade.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/legacyAbac':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Enables or disables the ABAC authorization mechanism on a cluster.
      operationId: container.projects.zones.clusters.legacyAbac
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetLegacyAbacRequest'
        - description: |-
            Deprecated. The name of the cluster to update.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/locations':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Sets the locations for a specific cluster.
      operationId: container.projects.zones.clusters.locations
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetLocationsRequest'
        - description: |-
            Deprecated. The name of the cluster to upgrade.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Sets the logging service for a specific cluster.
      operationId: container.projects.zones.clusters.logging
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetLoggingServiceRequest'
        - description: |-
            Deprecated. The name of the cluster to upgrade.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/master':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Updates the master for a specific cluster.
      operationId: container.projects.zones.clusters.master
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UpdateMasterRequest'
        - description: |-
            Deprecated. The name of the cluster to upgrade.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/monitoring':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Sets the monitoring service for a specific cluster.
      operationId: container.projects.zones.clusters.monitoring
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetMonitoringServiceRequest'
        - description: |-
            Deprecated. The name of the cluster to upgrade.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools':
    get:
      description: Lists the node pools for a cluster.
      operationId: container.projects.zones.clusters.nodePools.list
      parameters:
        - description: |-
            Deprecated. The name of the cluster.
            This field has been deprecated and replaced by the parent field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            The parent (project, location, cluster id) where the node pools will be
            listed. Specified in the format 'projects/*/locations/*/clusters/*'.
          in: query
          name: parent
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://developers.google.com/console/help/new/#projectnumber).
            This field has been deprecated and replaced by the parent field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the parent field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListNodePoolsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a node pool for a cluster.
      operationId: container.projects.zones.clusters.nodePools.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateNodePoolRequest'
        - description: |-
            Deprecated. The name of the cluster.
            This field has been deprecated and replaced by the parent field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://developers.google.com/console/help/new/#projectnumber).
            This field has been deprecated and replaced by the parent field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the parent field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}':
    delete:
      description: Deletes a node pool from a cluster.
      operationId: container.projects.zones.clusters.nodePools.delete
      parameters:
        - description: |-
            Deprecated. The name of the cluster.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            The name (project, location, cluster, node pool id) of the node pool to
            delete. Specified in the format
            'projects/*/locations/*/clusters/*/nodePools/*'.
          in: query
          name: name
          type: string
        - description: |-
            Deprecated. The name of the node pool to delete.
            This field has been deprecated and replaced by the name field.
          in: path
          name: nodePoolId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://developers.google.com/console/help/new/#projectnumber).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    get:
      description: Retrieves the requested node pool.
      operationId: container.projects.zones.clusters.nodePools.get
      parameters:
        - description: |-
            Deprecated. The name of the cluster.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            The name (project, location, cluster, node pool id) of the node pool to
            get. Specified in the format
            'projects/*/locations/*/clusters/*/nodePools/*'.
          in: query
          name: name
          type: string
        - description: |-
            Deprecated. The name of the node pool.
            This field has been deprecated and replaced by the name field.
          in: path
          name: nodePoolId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://developers.google.com/console/help/new/#projectnumber).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/NodePool'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/autoscaling':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Sets the autoscaling settings for the specified node pool.
      operationId: container.projects.zones.clusters.nodePools.autoscaling
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetNodePoolAutoscalingRequest'
        - description: |-
            Deprecated. The name of the cluster to upgrade.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the node pool to upgrade.
            This field has been deprecated and replaced by the name field.
          in: path
          name: nodePoolId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setManagement':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Sets the NodeManagement options for a node pool.
      operationId: container.projects.zones.clusters.nodePools.setManagement
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetNodePoolManagementRequest'
        - description: |-
            Deprecated. The name of the cluster to update.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the node pool to update.
            This field has been deprecated and replaced by the name field.
          in: path
          name: nodePoolId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setSize':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Sets the size for a specific node pool.
      operationId: container.projects.zones.clusters.nodePools.setSize
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetNodePoolSizeRequest'
        - description: |-
            Deprecated. The name of the cluster to update.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the node pool to update.
            This field has been deprecated and replaced by the name field.
          in: path
          name: nodePoolId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/update':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Updates the version and/or image type for the specified node pool.
      operationId: container.projects.zones.clusters.nodePools.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UpdateNodePoolRequest'
        - description: |-
            Deprecated. The name of the cluster to upgrade.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the node pool to upgrade.
            This field has been deprecated and replaced by the name field.
          in: path
          name: nodePoolId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}:rollback':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Rolls back a previously Aborted or Failed NodePool upgrade.
        This makes no changes if the last upgrade successfully completed.
      operationId: container.projects.zones.clusters.nodePools.rollback
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RollbackNodePoolUpgradeRequest'
        - description: |-
            Deprecated. The name of the cluster to rollback.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the node pool to rollback.
            This field has been deprecated and replaced by the name field.
          in: path
          name: nodePoolId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/resourceLabels':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Sets labels on a cluster.
      operationId: container.projects.zones.clusters.resourceLabels
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetLabelsRequest'
        - description: |-
            Deprecated. The name of the cluster.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://developers.google.com/console/help/new/#projectnumber).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:completeIpRotation':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Completes master IP rotation.
      operationId: container.projects.zones.clusters.completeIpRotation
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CompleteIPRotationRequest'
        - description: |-
            Deprecated. The name of the cluster.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://developers.google.com/console/help/new/#projectnumber).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMaintenancePolicy':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Sets the maintenance policy for a cluster.
      operationId: container.projects.zones.clusters.setMaintenancePolicy
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetMaintenancePolicyRequest'
        - description: The name of the cluster to update.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMasterAuth':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Sets master auth materials. Currently supports changing the admin password
        or a specific cluster, either via password generation or explicitly setting
        the password.
      operationId: container.projects.zones.clusters.setMasterAuth
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetMasterAuthRequest'
        - description: |-
            Deprecated. The name of the cluster to upgrade.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setNetworkPolicy':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Enables or disables Network Policy for a cluster.
      operationId: container.projects.zones.clusters.setNetworkPolicy
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetNetworkPolicyRequest'
        - description: |-
            Deprecated. The name of the cluster.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://developers.google.com/console/help/new/#projectnumber).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:startIpRotation':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Starts master IP rotation.
      operationId: container.projects.zones.clusters.startIpRotation
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/StartIPRotationRequest'
        - description: |-
            Deprecated. The name of the cluster.
            This field has been deprecated and replaced by the name field.
          in: path
          name: clusterId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://developers.google.com/console/help/new/#projectnumber).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/operations':
    get:
      description: Lists all operations in a project in a specific zone or all zones.
      operationId: container.projects.zones.operations.list
      parameters:
        - description: |-
            The parent (project and location) where the operations will be listed.
            Specified in the format 'projects/*/locations/*'.
            Location "-" matches all zones and all regions.
          in: query
          name: parent
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the parent field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) to return operations for, or `-` for
            all zones. This field has been deprecated and replaced by the parent field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListOperationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/projects/{projectId}/zones/{zone}/operations/{operationId}':
    get:
      description: Gets the specified operation.
      operationId: container.projects.zones.operations.get
      parameters:
        - description: |-
            The name (project, location, operation id) of the operation to get.
            Specified in the format 'projects/*/locations/*/operations/*'.
          in: query
          name: name
          type: string
        - description: |-
            Deprecated. The server-assigned `name` of the operation.
            This field has been deprecated and replaced by the name field.
          in: path
          name: operationId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/projects/{projectId}/zones/{zone}/operations/{operationId}:cancel':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Cancels the specified operation.
      operationId: container.projects.zones.operations.cancel
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CancelOperationRequest'
        - description: |-
            Deprecated. The server-assigned `name` of the operation.
            This field has been deprecated and replaced by the name field.
          in: path
          name: operationId
          required: true
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the operation resides.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/projects/{projectId}/zones/{zone}/serverconfig':
    get:
      description: Returns configuration info about the Google Kubernetes Engine service.
      operationId: container.projects.zones.getServerconfig
      parameters:
        - description: |-
            The name (project and location) of the server config to get,
            specified in the format 'projects/*/locations/*'.
          in: query
          name: name
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the name field.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) to return operations for.
            This field has been deprecated and replaced by the name field.
          in: path
          name: zone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ServerConfig'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/{name}':
    delete:
      description: Deletes a node pool from a cluster.
      operationId: container.projects.locations.clusters.nodePools.delete
      parameters:
        - description: |-
            Deprecated. The name of the cluster.
            This field has been deprecated and replaced by the name field.
          in: query
          name: clusterId
          type: string
        - description: |-
            The name (project, location, cluster, node pool id) of the node pool to
            delete. Specified in the format
            'projects/*/locations/*/clusters/*/nodePools/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Deprecated. The name of the node pool to delete.
            This field has been deprecated and replaced by the name field.
          in: query
          name: nodePoolId
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://developers.google.com/console/help/new/#projectnumber).
            This field has been deprecated and replaced by the name field.
          in: query
          name: projectId
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: query
          name: zone
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    get:
      description: Retrieves the requested node pool.
      operationId: container.projects.locations.clusters.nodePools.get
      parameters:
        - description: |-
            Deprecated. The name of the cluster.
            This field has been deprecated and replaced by the name field.
          in: query
          name: clusterId
          type: string
        - description: |-
            The name (project, location, cluster, node pool id) of the node pool to
            get. Specified in the format
            'projects/*/locations/*/clusters/*/nodePools/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Deprecated. The name of the node pool.
            This field has been deprecated and replaced by the name field.
          in: query
          name: nodePoolId
          type: string
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://developers.google.com/console/help/new/#projectnumber).
            This field has been deprecated and replaced by the name field.
          in: query
          name: projectId
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) in which the cluster
            resides.
            This field has been deprecated and replaced by the name field.
          in: query
          name: zone
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/NodePool'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    put:
      description: Updates the version and/or image type for the specified node pool.
      operationId: container.projects.locations.clusters.nodePools.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UpdateNodePoolRequest'
        - description: |-
            The name (project, location, cluster, node pool) of the node pool to
            update. Specified in the format
            'projects/*/locations/*/clusters/*/nodePools/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}/serverConfig':
    get:
      description: Returns configuration info about the Google Kubernetes Engine service.
      operationId: container.projects.locations.getServerConfig
      parameters:
        - description: |-
            The name (project and location) of the server config to get,
            specified in the format 'projects/*/locations/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Deprecated. The Google Developers Console [project ID or project
            number](https://support.google.com/cloud/answer/6158840).
            This field has been deprecated and replaced by the name field.
          in: query
          name: projectId
          type: string
        - description: |-
            Deprecated. The name of the Google Compute Engine
            [zone](/compute/docs/zones#available) to return operations for.
            This field has been deprecated and replaced by the name field.
          in: query
          name: zone
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ServerConfig'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/{name}:cancel':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Cancels the specified operation.
      operationId: container.projects.locations.operations.cancel
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CancelOperationRequest'
        - description: |-
            The name (project, location, operation id) of the operation to cancel.
            Specified in the format 'projects/*/locations/*/operations/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:completeIpRotation':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Completes master IP rotation.
      operationId: container.projects.locations.clusters.completeIpRotation
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CompleteIPRotationRequest'
        - description: |-
            The name (project, location, cluster id) of the cluster to complete IP
            rotation. Specified in the format 'projects/*/locations/*/clusters/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:rollback':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Rolls back a previously Aborted or Failed NodePool upgrade.
        This makes no changes if the last upgrade successfully completed.
      operationId: container.projects.locations.clusters.nodePools.rollback
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RollbackNodePoolUpgradeRequest'
        - description: |-
            The name (project, location, cluster, node pool id) of the node poll to
            rollback upgrade.
            Specified in the format 'projects/*/locations/*/clusters/*/nodePools/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:setAddons':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Sets the addons for a specific cluster.
      operationId: container.projects.locations.clusters.setAddons
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetAddonsConfigRequest'
        - description: |-
            The name (project, location, cluster) of the cluster to set addons.
            Specified in the format 'projects/*/locations/*/clusters/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:setAutoscaling':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Sets the autoscaling settings for the specified node pool.
      operationId: container.projects.locations.clusters.nodePools.setAutoscaling
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetNodePoolAutoscalingRequest'
        - description: |-
            The name (project, location, cluster, node pool) of the node pool to set
            autoscaler settings. Specified in the format
            'projects/*/locations/*/clusters/*/nodePools/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:setLegacyAbac':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Enables or disables the ABAC authorization mechanism on a cluster.
      operationId: container.projects.locations.clusters.setLegacyAbac
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetLegacyAbacRequest'
        - description: |-
            The name (project, location, cluster id) of the cluster to set legacy abac.
            Specified in the format 'projects/*/locations/*/clusters/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:setLocations':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Sets the locations for a specific cluster.
      operationId: container.projects.locations.clusters.setLocations
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetLocationsRequest'
        - description: |-
            The name (project, location, cluster) of the cluster to set locations.
            Specified in the format 'projects/*/locations/*/clusters/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:setLogging':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Sets the logging service for a specific cluster.
      operationId: container.projects.locations.clusters.setLogging
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetLoggingServiceRequest'
        - description: |-
            The name (project, location, cluster) of the cluster to set logging.
            Specified in the format 'projects/*/locations/*/clusters/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:setMaintenancePolicy':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Sets the maintenance policy for a cluster.
      operationId: container.projects.locations.clusters.setMaintenancePolicy
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetMaintenancePolicyRequest'
        - description: |-
            The name (project, location, cluster id) of the cluster to set maintenance
            policy.
            Specified in the format 'projects/*/locations/*/clusters/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:setManagement':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Sets the NodeManagement options for a node pool.
      operationId: container.projects.locations.clusters.nodePools.setManagement
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetNodePoolManagementRequest'
        - description: |-
            The name (project, location, cluster, node pool id) of the node pool to set
            management properties. Specified in the format
            'projects/*/locations/*/clusters/*/nodePools/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:setMasterAuth':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Sets master auth materials. Currently supports changing the admin password
        or a specific cluster, either via password generation or explicitly setting
        the password.
      operationId: container.projects.locations.clusters.setMasterAuth
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetMasterAuthRequest'
        - description: |-
            The name (project, location, cluster) of the cluster to set auth.
            Specified in the format 'projects/*/locations/*/clusters/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:setMonitoring':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Sets the monitoring service for a specific cluster.
      operationId: container.projects.locations.clusters.setMonitoring
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetMonitoringServiceRequest'
        - description: |-
            The name (project, location, cluster) of the cluster to set monitoring.
            Specified in the format 'projects/*/locations/*/clusters/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:setNetworkPolicy':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Enables or disables Network Policy for a cluster.
      operationId: container.projects.locations.clusters.setNetworkPolicy
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetNetworkPolicyRequest'
        - description: |-
            The name (project, location, cluster id) of the cluster to set networking
            policy. Specified in the format 'projects/*/locations/*/clusters/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:setResourceLabels':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Sets labels on a cluster.
      operationId: container.projects.locations.clusters.setResourceLabels
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetLabelsRequest'
        - description: |-
            The name (project, location, cluster id) of the cluster to set labels.
            Specified in the format 'projects/*/locations/*/clusters/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:setSize':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Sets the size for a specific node pool.
      operationId: container.projects.locations.clusters.nodePools.setSize
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetNodePoolSizeRequest'
        - description: |-
            The name (project, location, cluster, node pool id) of the node pool to set
            size.
            Specified in the format 'projects/*/locations/*/clusters/*/nodePools/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:startIpRotation':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Starts master IP rotation.
      operationId: container.projects.locations.clusters.startIpRotation
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/StartIPRotationRequest'
        - description: |-
            The name (project, location, cluster id) of the cluster to start IP
            rotation. Specified in the format 'projects/*/locations/*/clusters/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:updateMaster':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Updates the master for a specific cluster.
      operationId: container.projects.locations.clusters.updateMaster
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UpdateMasterRequest'
        - description: |-
            The name (project, location, cluster) of the cluster to update.
            Specified in the format 'projects/*/locations/*/clusters/*'.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{parent}/.well-known/openid-configuration':
    get:
      description: |-
        Gets the OIDC discovery document for the cluster.
        See the
        [OpenID Connect Discovery 1.0
        specification](https://openid.net/specs/openid-connect-discovery-1_0.html)
        for details.
        This API is not yet intended for general use, and is not available for all
        clusters.
      operationId: container.projects.locations.clusters.well-known.getOpenid-configuration
      parameters:
        - description: |-
            The cluster (project, location, cluster id) to get the discovery document
            for. Specified in the format 'projects/*/locations/*/clusters/*'.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetOpenIDConfigResponse'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/{parent}/aggregated/usableSubnetworks':
    get:
      description: Lists subnetworks that are usable for creating clusters in a project.
      operationId: container.projects.aggregated.usableSubnetworks.list
      parameters:
        - description: |-
            Filtering currently only supports equality on the networkProjectId and must
            be in the form: "networkProjectId=[PROJECTID]", where `networkProjectId`
            is the project which owns the listed subnetworks. This defaults to the
            parent project ID.
          in: query
          name: filter
          type: string
        - description: |-
            The max number of results per page that should be returned. If the number
            of available results is larger than `page_size`, a `next_page_token` is
[...]
