openapi: 3.0.2
servers:
  - description: Production Server
    url: https://api.fire.com/business
info:
  contact:
    email: api@fire.com
    name: Fire API
    url: https://docs.fire.com
  description: |
    The fire.com API allows you to deeply integrate Business Account features into your application or back-office systems.

    The API provides read access to your profile, accounts and transactions, event-driven notifications of activity on the account and payment initiation via batches. Each feature has its own HTTP endpoint and every endpoint has its own permission.


    The API exposes 3 main areas of functionality: financial functions, service information and service configuration.
    ## Financial Functions
    These functions provide access to your account details, transactions, payee accounts, payment initiation etc.
    ## Service Functions
    These provide information about the fees and limits applied to your account.
    ## Service configuration
    These provide information about your service configs - applications, webhooks, API tokens, etc.
  title: Fire Financial Services Business API
  version: "1.0"
  x-apisguru-categories:
    - financial
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.fire.com_wp-content_uploads_2018_12_fire-cover.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/firefinancialservices/fire-business-api-openapi/master/fire-business-api-v1.yaml
      version: "3.0"
  x-providerName: fire.com
security:
  - bearerAuth: []
tags:
  - description: |
      Access to the API is by Bearer Tokens. The process is somewhat similar to OAuth2.0, but with some changes to improve security.
      1. You must first log into the firework online application and create a new Application in the Profile > API page. (You will need your PIN digits and 2-Factor Authentication device).
      2. Give your application a Name and select the scope/permissions you need the application to have (more on Scopes below).
      3. You will be provided with three pieces of information - the App Refresh Token, Client ID and Client Key. You need to take note of the Client Key when it is displayed - it will not be shown again.

      You now use these pieces of data to retrieve a short-term Access Token which you can use to access the API. The Access Token expires within a relatively short time, so even if it is compromised, the attacker will not have long to use it. The Client Key is the most important piece of information to keep secret. This should only ever be stored on a backend server, and never in a front end client or mobile app.

      **If you ever accidentally reveal the Client Key (or accidentally commit it to Github for instance) it is vital that you log into firework online and delete/recreate the App Tokens as soon as possible. Anyone who has these three pieces of data can access the API to view your data and set up payments from your account (depending on the scope of the tokens).**

      Once you have the access token, pass it as a header for every call, like so:
      `Authorization: Bearer $ACCESS_TOKEN`
      Whenever it expires, create a new nonce and get a new access token again.
    name: Authentication
  - description: fire.com Accounts are the equivalent of a bank account from bank.
    name: Accounts
  - description: |
      Fire Open Payments is a feature of the fire.com business account that leverages Open Banking to allow your customers to pay you via bank transfer and to reconcile those payments as they are received into your fire.com GBP or EUR account.

      To set up each Fire Open Payment you first need to create a payment request. This contains the details of the payment such as the amount, destination account, description as well as various other specific fields that you want to associate with the payment. The payment request is represented as a URL with a unique code which can then be incorporated into an eCommerce shopping cart as an alternative form of payment. For example, you can put “Pay by Bank” on your website along with “Pay by Card” and “Pay by PayPal”. It can also be distributed by a variety of means such as by email, SMS, WhatsApp, encoded as a QR code, NFC tag, etc.

      Consumers confirm the payment details such as the amount are correct, select their bank and authorise the payment. Payments can be made from all major UK banks.

      The funds are settled into your fire.com account, fully reconciled, with your specified fields provided.

      There are two implementation options you can use to display payment pages with Fire Open Payments.
      1. **Hosted Payment Pages:** fire.com hosts the payment pages - this option allows you to re-direct your customer to the hosted fire.com payment pages displaying the payment details confirmation, bank selection, consent and response pages.
      2. **Integrated Payment Pages:** You host the payments page yourself - this option allows you to have control of the UI and UX for displaying the payment details confirmation, bank selection and response pages. Once the response is received, fire.com can re-direct the payer back to your website.

      ## Hosted Payment Pages Option
      ![Image](https://fire.com/docs/images/fop-hosted-flow.png)

      The payer is brought through 5 stages to complete the payment:
      1. **View Payment Details page:** The payer must first be clear on the amount of the payment, who they are paying and the reason for the payment.
      2. **Select Bank / Account Provider page:** The payer then selects their bank. Again this step is offered as part of the fire.com payment UI.
      3. **Consent page:**  The payer must provide consent to the PISP (fire.com) prior to authorising the payment. This is a regulatory requirement, this page must be hosted by fire.com.
      4. **Authenticate and Authorise Payment:** The payer will be redirected to their bank’s online site or mobile banking app. After authenticating, the details of the payment will be displayed, and the payer will authorise the payment.
      5. **Response page:** It is a regulatory requirement that the PISP (fire.com) display the results of the payment and provide the same information that would be provided if the payer had made the payment via their banking application. fire.com must display this page, before optionally redirecting the payer back to your website.

      To implement the hosted Fire Open Payments option you need to do the following:
      1. You can create a new Fire Open Payment request either within Firework Online or via the API.
      2. Create your new API application with the appropriate permissions required in Firework Online, as outlined in the “Authentication” steps. The permissions needed are:
          - “Create a Payment Request”
          - “Get Payment Details”

      3. Use the Refresh Token, Client ID and Client Key to create an access token as outlined in the “Authentication” steps.
      4. On your website, create a “Pay by Bank” button alongside your other available payment methods, such as Cards and PayPal.
      5. After the user clicks on “Pay by Bank”, you need to create a new Fire Open Payment request as outlined in the “Create a Fire Open Payment” steps. The Create a Fire Open Payment request endpoint returns a unique code for the payment request.
      6. Create a URL using the code returned in this format: `https://payments.fire.com/{code}` and redirect your customer to this page.
      7. fire.com will host all the pages that the customer needs to review and authorise the payment. fire.com will will return the paymentUUID of the successful or failed transaction to the returnUrl that you supplied when creating the Fire Open Payment request. fire.com can also optionally send a “webhook” to your website notifying you of the transaction’s outcome.
      8. Once fire.com responds with the paymentUUID and/or the webhook to your website, you need to call the “Get Payment Details” endpoint to get the details of the transaction. This will let you know whether the transaction was successful or not. You can set up the “Payment Request Payment Authorised” webhook to notify you once the payment is authorised or cancelled.
      9. The funds will be received into your GBP or EUR account. Funding will typically be within 6 business hours.

      Once the code is returned the payment can be viewed and paid by going to the following URL: `https://payments.fire.com/{code}`
    name: Open Banking
  - description: Manage your API Applications and Webhooks
    name: API
  - description: While there are many types of transactions, they are all represented by the same JSON object with a different txnType.
    name: Transactions
  - description: |
      The fire.com api allows businesses to automate direct debit payment actions on their fire.com business accounts.

      You can retrieve details of your direct debit payments, direct debit mandates and also take actions on both your direct debit payments and mandates.
    name: Direct Debits
  - description: |
      The fire.com API allows businesses to automate payments between their accounts or to third parties across the UK and Europe.

      For added security, the API can only set up the payments in batches. These batches must be approved by an authorised user via the firework mobile app.


      The process is as follows:

      **1.**Create a new batch

      **2.**Add payments to the batch

      **3.**Submit the batch for approval

      Once the batch is submitted, the authorised users will receive notifications to their firework mobile apps. They can review the contents of the batch and then approve or reject it. If approved, the batch is then processed. You can avail of enhanced security by using Dual Authorisation to verify payments if you wish. Dual Authorisation can be enabled by you when setting up your API application in firework online.

      **Batch Life Cycle Events**

      A batch webhook can be specified to receive details of all the payments as they are processed. This webhook receives notifications for every event in the batch lifecycle.

      The following events are triggered during a batch:

      **batch.opened:** Contains the details of the batch opened. Checks that the callback URL exists - unless a HTTP 200 response is returned, the callback URL will not be configured.

      **batch.item-added:** Details of the item added to the batch

      **batch.item-removed:** Details of the item removed from the batch

      **batch.cancelled:** Notifies that the batch was cancelled.

      **batch.submitted:** Notifes that the batch was submitted

      **batch.approved:** Notifies that the batch was approved.

      **batch.rejected:** Notifies that the batch was rejected.

      **batch.failed:** Notifies that the batch failed - includes the details of the failure (insufficient funds etc)

      **batch.completed:** Notifies that the batch completed successfully. Includes a summary.

      Push notifications are sent to the firework mobile app for many of these events too - these can be configured from within the app.
    name: Payment Batches
paths:
  /v1/accounts:
    get:
      description: Returns all your fire.com Accounts. Ordered by Alias ascending. Can be paginated.
      operationId: getAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  accounts:
                    items:
                      properties:
                        balance:
                          description: the balance of the account (in minor currency units - pence, cent etc. 434050 == 4,340.50 GBP for a GBP account).
                          example: 23950
                          format: int64
                          type: integer
                        cbic:
                          description: the BIC of the account (provided if currency is EUR).
                          example: CPAYIE2D
                          type: string
                        ccan:
                          description: the Account Number of the account.
                          example: "11111111"
                          type: string
                        ciban:
                          description: the IBAN of the account (provided if currency is EUR).
                          example: IE54CPAY99119911111111
                          type: string
                        cnsc:
                          description: the Sort Code of the account.
                          example: "232221"
                          type: string
                        colour:
                          deprecated: true
                          description: Internal Use
                          example: ORANGE
                          type: string
                        currency:
                          description: The currency.
                          properties:
                            code:
                              description: The three letter code for the currency - either `EUR` or `GBP`.
                              enum:
                                - EUR
                                - GBP
                              type: string
                            description:
                              description: The name of the currency
                              example: Euro
                              type: string
                          title: currency
                          type: object
                        defaultAccount:
                          description: true if this is the default account for this currency. This will be the account that general fees are taken from (as opposed to per-transaction fees).
                          example: true
                          type: boolean
                        directDebitsAllowed:
                          description: Whether or not direct debits can be set up on this account.
                          example: false
                          type: boolean
                        fopOnly:
                          description: Indicates that this account is for collecting Fire Open Payments only. All other payments to this account will be returned.
                          example: false
                          type: boolean
                        ican:
                          description: identifier for the fire.com account (assigned by fire.com)
                          example: 42
                          format: int64
                          type: integer
                        name:
                          description: the name the user gives to the account to help them identify it.
                          example: Main Account
                          type: string
                        status:
                          description: Live accounts can be used as normal. Migrated accounts were used before Brexit and are read-only.
                          enum:
                            - LIVE
                            - BREXIT_MIGRATED
                          type: string
                      title: Account
                      type: object
                    type: array
                title: accounts
                type: object
          description: An array of account objects.
        "401":
          description: Access Token is Invalid or missing
      summary: List all fire.com Accounts
      tags:
        - Accounts
    post:
      description: |
        Creates a new fire.com account.

        **Please note there is a charge associated with creating a new account.**
      operationId: addAccount
      requestBody:
        content:
          application/json:
            schema:
              properties:
                acceptFeesAndCharges:
                  description: a field to indicate you accept the fee for a new account
                  type: boolean
                accountName:
                  description: Name to give the new account
                  example: Operating Account
                  maxLength: 50
                  type: string
                currency:
                  description: The currency of the new account
                  enum:
                    - EUR
                    - GBP
                  type: string
              title: newAccount
              type: object
        description: Details of the new account
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  balance:
                    description: the balance of the account (in minor currency units - pence, cent etc. 434050 == 4,340.50 GBP for a GBP account).
                    example: 23950
                    format: int64
                    type: integer
                  cbic:
                    description: the BIC of the account (provided if currency is EUR).
                    example: CPAYIE2D
                    type: string
                  ccan:
                    description: the Account Number of the account.
                    example: "11111111"
                    type: string
                  ciban:
                    description: the IBAN of the account (provided if currency is EUR).
                    example: IE54CPAY99119911111111
                    type: string
                  cnsc:
                    description: the Sort Code of the account.
                    example: "232221"
                    type: string
                  colour:
                    deprecated: true
                    description: Internal Use
                    example: ORANGE
                    type: string
                  currency:
                    description: The currency.
                    properties:
                      code:
                        description: The three letter code for the currency - either `EUR` or `GBP`.
                        enum:
                          - EUR
                          - GBP
                        type: string
                      description:
                        description: The name of the currency
                        example: Euro
                        type: string
                    title: currency
                    type: object
                  defaultAccount:
                    description: true if this is the default account for this currency. This will be the account that general fees are taken from (as opposed to per-transaction fees).
                    example: true
                    type: boolean
                  directDebitsAllowed:
                    description: Whether or not direct debits can be set up on this account.
                    example: false
                    type: boolean
                  fopOnly:
                    description: Indicates that this account is for collecting Fire Open Payments only. All other payments to this account will be returned.
                    example: false
                    type: boolean
                  ican:
                    description: identifier for the fire.com account (assigned by fire.com)
                    example: 42
                    format: int64
                    type: integer
                  name:
                    description: the name the user gives to the account to help them identify it.
                    example: Main Account
                    type: string
                  status:
                    description: Live accounts can be used as normal. Migrated accounts were used before Brexit and are read-only.
                    enum:
                      - LIVE
                      - BREXIT_MIGRATED
                    type: string
                title: Account
                type: object
          description: The details of the new account
      summary: Add a new account
      tags:
        - Accounts
  "/v1/accounts/{ican}":
    get:
      description: You can retrieve the details of a fire.com Account by its `ican`.
      operationId: getAccountById
      parameters:
        - in: path
          name: ican
          required: true
          schema:
            description: The ican of the account to retrieve
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  balance:
                    description: the balance of the account (in minor currency units - pence, cent etc. 434050 == 4,340.50 GBP for a GBP account).
                    example: 23950
                    format: int64
                    type: integer
                  cbic:
                    description: the BIC of the account (provided if currency is EUR).
                    example: CPAYIE2D
                    type: string
                  ccan:
                    description: the Account Number of the account.
                    example: "11111111"
                    type: string
                  ciban:
                    description: the IBAN of the account (provided if currency is EUR).
                    example: IE54CPAY99119911111111
                    type: string
                  cnsc:
                    description: the Sort Code of the account.
                    example: "232221"
                    type: string
                  colour:
                    deprecated: true
                    description: Internal Use
                    example: ORANGE
                    type: string
                  currency:
                    description: The currency.
                    properties:
                      code:
                        description: The three letter code for the currency - either `EUR` or `GBP`.
                        enum:
                          - EUR
                          - GBP
                        type: string
                      description:
                        description: The name of the currency
                        example: Euro
                        type: string
                    title: currency
                    type: object
                  defaultAccount:
                    description: true if this is the default account for this currency. This will be the account that general fees are taken from (as opposed to per-transaction fees).
                    example: true
                    type: boolean
                  directDebitsAllowed:
                    description: Whether or not direct debits can be set up on this account.
                    example: false
                    type: boolean
                  fopOnly:
                    description: Indicates that this account is for collecting Fire Open Payments only. All other payments to this account will be returned.
                    example: false
                    type: boolean
                  ican:
                    description: identifier for the fire.com account (assigned by fire.com)
                    example: 42
                    format: int64
                    type: integer
                  name:
                    description: the name the user gives to the account to help them identify it.
                    example: Main Account
                    type: string
                  status:
                    description: Live accounts can be used as normal. Migrated accounts were used before Brexit and are read-only.
                    enum:
                      - LIVE
                      - BREXIT_MIGRATED
                    type: string
                title: Account
                type: object
          description: An array of account objects.
        "401":
          description: Access Token is Invalid or missing
      summary: Retrieve the details of a fire.com Account
      tags:
        - Accounts
  "/v1/accounts/{ican}/transactions":
    get:
      deprecated: true
      description: Retrieve a list of transactions against an account. Recommended to use the v3 endpoint instead.
      operationId: getTransactionsByIdv1
      parameters:
        - in: path
          name: ican
          required: true
          schema:
            description: The ican of the account to retrieve
            format: int64
            type: integer
        - in: query
          name: limit
          required: true
          schema:
            description: The number of records to return. Defaults to 10 - max is 200.
            format: int64
            type: integer
        - in: query
          name: offset
          required: true
          schema:
            description: The page offset. Defaults to 0. This is the record number that the returned list will start at. E.g. offset = 40 and limit = 20 will return records 40 to 59.
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  dateRangeTo:
                    description: milisecond timestamp of date range to value.
                    example: 1547744156603
                    type: integer
                  total:
                    description: The total number of card transactions in the list.
                    example: 1
                    type: integer
                  transactions:
                    items:
                      properties:
                        amountAfterCharges:
                          description: Net amount lodged or taken from the account after fees and charges were applied.
                          example: 5000
                          format: int64
                          type: integer
                        amountBeforeCharges:
                          description: Amount of the transaction before the fees and taxes were applied.
                          example: 5000
                          format: int64
                          type: integer
                        balance:
                          description: the balance of the account (in minor currency units - pence, cent etc. 434050 == 4,340.50 GBP for a GBP account).
                          example: 8500
                          format: int64
                          type: integer
                        batchItemDetails:
                          description: Details of the batch run if this transaction was part of a batch.
                          properties:
                            batchItemPublicUuid:
                              description: The UUID for this item in the batch.
                              example: F2AF3F2B-4406-4199-B249-B354F2CC6019
                              type: string
                            batchName:
                              description: The optional name given to the batch at creation time.
                              example: Payroll 2022-11
                              type: string
                            batchPublicUuid:
                              description: The UUID for this batch.
                              example: F2AF3F2B-4406-4199-B249-B354F2CC6019
                              type: string
                            jobNumber:
                              description: The optional job number given to the batch to link it to your own system.
                              example: 2018-01-PR
                              type: string
                          title: batchItemDetails
                          type: object
                        card:
                          description: Details of the card used (if applicable)
                          properties:
                            alias:
                              type: string
                            cardId:
                              format: int64
                              type: integer
                            embossBusinessName:
                              type: string
                            embossCardName:
                              type: string
                            expiryDate:
                              format: date-time
                              type: string
                            maskedPan:
                              type: string
                            provider:
                              type: string
                          title: relatedCard
                          type: object
                        currency:
                          description: The currency.
                          properties:
                            code:
                              description: The three letter code for the currency - either `EUR` or `GBP`.
                              enum:
                                - EUR
                                - GBP
                              type: string
                            description:
                              description: The name of the currency
                              example: Euro
                              type: string
                          title: currency
                          type: object
                        date:
                          description: Date of the transaction
                          example: 2021-04-13T11:06:32.437Z
                          format: date-time
                          type: string
                        dateAcknowledged:
                          example: 2021-04-13T11:06:32.437Z
                          format: date-time
                          type: string
                        directDebitDetails:
                          description: Details of the direct debit (if applicable)
                          properties:
                            directDebitReference:
                              description: The direct debit reference.
                              example: VODA-ABC453-1
                              type: string
                            directDebitUuid:
                              description: The UUID for the direct debit payment
                              example: 42de0705-e3f1-44fa-8c41-79973eb80eb2
                              type: string
                            mandateReference:
                              description: the reference of the mandate
                              example: CRZ-102190123
                              type: string
                            mandateUUid:
                              description: The UUID for the mandate
                              example: f171b143-e3eb-47de-85a6-1c1f1108c701
                              type: string
                            mandateUuid:
                              description: The UUID for the mandate
                              example: 28d627c3-1889-44c8-ae59-6f6b20239260
                              type: string
                            originatorAlias:
                              description: The Alias of the party who sets up the direct debit.
                              example: Three
                              type: string
                            originatorLogoUrlLarge:
                              description: URL pointing to a large version of the Originator Logo (if available)
                              example: https://s3-eu-west-1.amazonaws.com/live-fire-assets/prod/49dc9a01-8261-4d98-bebf-c3842c2d3c5d-small.png
                              type: string
                            originatorLogoUrlSmall:
                              description: URL pointing to a small version of the Originator Logo (if available)
                              example: https://s3-eu-west-1.amazonaws.com/live-fire-assets/prod/49dc9a01-8261-4d98-bebf-c3842c2d3c5d-small.png
                              type: string
                            originatorName:
                              description: The creator of the party who sets up the direct debit.
                              example: Vodafone PLC
                              type: string
                            originatorReference:
                              description: Set by party who sets up the direct debit.
                              example: VODA-123456
                              type: string
                          title: directDebitDetails
                          type: object
                        eventUuid:
                          description: An internal Fire reference for the transaction (UUID)
                          example: 42de0705-e3f1-44fa-8c41-79973eb80eb2
                          type: string
                        feeAmount:
                          description: The amount of the fee, if any.
                          example: 0
                          format: int64
                          type: integer
                        fxTradeDetails:
                          description: Details of the FX trade (if applicable)
                          properties:
                            buyAmount:
                              description: amount of buyCurrency being bought
                              example: 359
                              format: int64
                              type: integer
                            buyCurrency:
                              description: currency which is being bought
                              example: GBP
                              type: string
                            fixedSide:
                              description: type of trade - BUY or SELL
                              example: SELL
                              type: string
                            provider:
                              description: The FX provider used to make the trade.
                              example: TCC
                              type: string
                            rate4d:
                              description: exchange rate
                              example: 7180
                              format: int64
                              type: integer
                            sellAmount:
                              description: amount of sellCurrency being sold
                              example: 500
                              format: int64
                              type: integer
                            sellCurrency:
                              description: currency which is being sold
                              example: EUR
                              type: string
                          title: fxTrade
                          type: object
                        ican:
                          description: identifier for the fire.com account (assigned by fire.com) This field is only used in the condensed version.
                          example: 1951
                          format: int64
                          type: integer
                        myRef:
                          description: The comment/reference on the transaction
                          example: Transfer to main account
                          type: string
                        paymentRequestPublicCode:
                          description: (FOP payments only) The FOP Payment Code that was used to make this payment.
                          example: 1abcdefg
                          type: string
                        proprietarySchemeDetails:
                          description: Extra details about the transaction based on the scheme used to make the payment.
                          items:
                            properties:
                              data:
                                description: the scheme proprietary data - key pairs separated by | and key/values separated by ^
                                example: remittanceInfoUnstructured^FIRE440286865OD1|instructionId^O223151336499079
                                type: string
                              type:
                                description: the type of proprietary scheme - SCT for SEPA, FPS for Faster Payments etc.
                                example: SCT
                                type: string
                            type: object
                          title: proprietarySchemeDetails
                          type: array
                        refId:
                          description: The id of the transaction.
                          example: 26774
                          format: int64
                          type: integer
                        relatedParty:
                          description: Details of the related third party involved in the transaction.
                          oneOf:
                            - properties:
                                account:
                                  properties:
                                    accountNumber:
                                      description: the Account Number of the account.
                                      example: "11111111"
                                      type: string
                                    alias:
                                      description: the name the user gives to the account to help them identify it.
                                      example: Main Account
                                      type: string
                                    bic:
                                      description: the BIC of the account (provided if currency is EUR).
                                      example: CPAYIE2D
                                      type: string
                                    iban:
                                      description: the IBAN of the account (provided if currency is EUR).
                                      example: IE54CPAY99119911111111
                                      type: string
                                    id:
                                      description: identifier for the fire.com account (assigned by fire.com)
                                      example: 42
                                      format: int64
                                      type: integer
                                    nsc:
                                      description: the Sort Code of the account.
                                      example: "232221"
                                      type: string
                                  type: object
                                type:
                                  enum:
                                    - FIRE_ACCOUNT
                                  type: string
                              title: relatedPartyFireAccount
                              type: object
                            - properties:
                                account:
                                  properties:
                                    accountNumber:
                                      description: the Account Number of the account.
                                      example: "11111111"
                                      type: string
                                    alias:
                                      description: the name the user gives to the account to help them identify it.
                                      example: Main Account
                                      type: string
                                    bic:
                                      description: the BIC of the account (provided if currency is EUR).
                                      example: CPAYIE2D
                                      type: string
                                    iban:
                                      description: the IBAN of the account (provided if currency is EUR).
                                      example: IE54CPAY99119911111111
                                      type: string
                                    id:
                                      format: int64
                                      type: integer
                                    nsc:
                                      description: the Sort Code of the account.
                                      example: "232221"
                                      type: string
                                  type: object
                                type:
                                  enum:
                                    - EXTERNAL_ACCOUNT
                                  type: string
                              title: relatedPartyExternalAccount
                              type: object
                            - properties:
                                account:
                                  properties:
                                    accountNumber:
                                      description: The account number of the Withdrawl account in reference
                                      example: "00000000"
                                      type: string
                                    alias:
                                      description: The Alias name of the Withdrawl account in reference
                                      example: Smyth and Co.
                                      type: string
                                    bic:
                                      description: The BIC of the Withdrawl account in reference
                                      example: CPAYIE2D
                                      type: string
                                    iban:
                                      description: The BIC of the Withdrawl account in reference
                                      example: IE76CPAY99119900000000
                                      type: string
                                    id:
                                      description: The ID number of the Withdrawl account in reference
                                      example: 123
                                      format: int64
                                      type: integer
                                    nsc:
                                      description: (Conditional) Provide this field if using Mode 2 and the payee account is in GBP.
                                      example: "991199"
                                      type: string
                                  type: object
                                type:
                                  enum:
                                    - WITHDRAWAL_ACCOUNT
                                  type: string
                              title: relatedPartyPayee
                              type: object
                            - properties:
                                cardMerchant:
                                  properties:
                                    acquirerIdDe32:
                                      example: 6011329
                                      type: string
                                    additionalAmtDe54:
                                      type: string
                                    additionalDataDe124:
                                      type: string
                                    additionalDataDe48:
                                      example: 010X610500000
                                      type: string
                                    authCodeDe38:
                                      example: "177449"
                                      type: string
                                    authorisedByGps:
                                      example: N
                                      type: string
                                    avsResult:
                                      example: N
                                      type: string
                                    billAmt:
                                      example: -1000
                                      format: int64
                                      type: integer
                                    billCcy:
                                      example: "978"
                                      type: string
                                    expiryDate:
                                      type: string
                                    mccCode:
                                      example: "5521"
                                      type: string
                                    merchIdDe42:
                                      example: 13152429
                                      type: string
                                    merchNameDe43:
                                      example: ABC Coffee Shop
                                      type: string
                                    mtId:
                                      example: "0100"
                                      type: string
                                    posDataDe22:
                                      example: "051"
                                      type: string
                                    posDataDe61:
                                      example: 1000030037299999
                                      type: string
                                    posTermnlDe41:
                                      example: "80266721"
                                      type: string
                                    procCode:
                                      example: "000000"
                                      type: string
                                    recordDataDe120:
                                      type: string
                                    respCodeDe39:
                                      example: "00"
                                      type: string
                                    retRefNoDe37:
                                      example: 10900006720
                                      type: string
                                    statusCode:
                                      example: "00"
                                      type: string
                                    token:
                                      example: "976307363"
                                      type: string
                                    txnAmt4d:
                                      example: 1000
                                      format: int64
                                      type: integer
                                    txnCcy:
                                      example: "978"
                                      type: string
                                    txnCtry:
                                      example: IRL
                                      type: string
                                    txnDesc:
                                      example: ABC Coffee Shop
                                      type: string
                                    txnStatCode:
                                      example: A
                                      type: string
                                    txnType:
                                      example: A
                                      type: string
                                  type: object
                                type:
                                  enum:
                                    - CARD_MERCHANT
                                    - CARD_ATM
                                  type: string
                              title: relatedPartyCardPayment
                              type: object
                          title: relatedParty
                        taxAmount:
                          description: The amount of the tax, if any (e.g. Stamp duty for ATM transactions)
                          example: 0
                          format: int64
                          type: integer
                        txnId:
                          description: The id of this side of the transaction (each transaction has two sides - a to and a from). This is used to get the details of the transaction.
                          example: 30157
                          format: int64
                          type: integer
                        type:
                          description: |
                            The type of the transaction:
                            * `LODGEMENT` - Bank Transfer received
                            * `PIS_LODGEMENT` - Fire Open Payments Lodgement received
                            * `MANUAL_TRANSFER` - Manual Transfer to
                            * `WITHDRAWAL` - Bank Transfer sent
                            * `REVERSAL` - Credit Reversal
                            * `DIRECT_DEBIT` - A direct debit.
                            * `DIRECT_DEBIT_REPRESENTED` - A Direct Debit that was requested again after initially failing.
                            * `DIRECT_DEBIT_REFUND` - A refund of a Direct debit.
                            * `INTERNAL_TRANSFER_TO` - Internal Transfer sent (between two of my accounts of the same currency)
                            * `INTERNAL_TRANSFER_FROM` - Internal Transfer received (between two of my accounts of the same currency)
                            * `WITHDRAWAL_RETURNED` - Bank Transfer sent returned
                            * `LODGEMENT_REVERSED` - Bank Transfer received returned
                            * `FX_INTERNAL_TRANSFER_FROM` - FX Internal Transfer received (between two of my accounts of different currency)
                            * `FX_INTERNAL_TRANSFER_TO` - FX Internal Transfer sent (between two of my accounts of different currency)
                            * `CREATE_CARD` - The fee taken when a debit card is issued.
                            * `ADD_ACCOUNT` - The fee taken when an account is created.
                            * `CREATE_ADDITIONAL_USER` - The fee taken when an additional user is created.       
                            * `CARD_POS_CONTACT_DEBIT` - Card used in store; read by magnetic stripe or pin
                            * `CARD_POS_CONTACT_CREDIT` - Card used in store; read by magnetic stripe or pin
                            * `CARD_POS_CONTACTLESS_DEBIT` - Card used in store; read by NFC
                            * `CARD_POS_CONTACTLESS_CREDIT` - Card used in store; read by NFC
                            * `CARD_ECOMMERCE_DEBIT` - Card used on the internet
                            * `CARD_ECOMMERCE_CREDIT` - Card used on the internet
                            * `CARD_ATM_DEBIT` - Card used in an ATM
                            * `CARD_ATM_CREDIT` - Card used in an ATM
                            * `CARD_INTERNATIONAL_POS_CONTACT_DEBIT` - Card used in store in non-processing currency; read by magnetic stripe or pin
                            * `CARD_INTERNATIONAL_POS_CONTACT_CREDIT` - Card used in store in non-processing currency; read by magnetic stripe or pin
                            * `CARD_INTERNATIONAL_POS_CONTACTLESS_DEBIT` - Card used in store in non-processing currency; read by NFC
                            * `CARD_INTERNATIONAL_POS_CONTACTLESS_CREDIT` - Card used in store in non-processing currency; read by NFC
                            * `CARD_INTERNATIONAL_ECOMMERCE_DEBIT	` - Card used on the internet in non-processing currency
                            * `CARD_INTERNATIONAL_ECOMMERCE_CREDIT` - Card used on the internet in non-processing currency
                            * `CARD_INTERNATIONAL_ATM_DEBIT` - Card used in an ATM in non-processing currency
                            * `CARD_INTERNATIONAL_ATM_CREDIT` - Card used in an ATM in non-processing currency
                            * `CARD_POS_CONTACT_DEBIT_REVERSAL` - Card used in store; read by magnetic stripe or pin - reversed
                            * `CARD_POS_CONTACT_CREDIT_REVERSAL` - Card used in store; read by magnetic stripe or pin - reversed
                            * `CARD_POS_CONTACTLESS_DEBIT_REVERSAL` - Card used in store; read by NFC - reversed
                            * `CARD_POS_CONTACTLESS_CREDIT_REVERSAL` - Card used in store; read by NFC - reversed
                            * `CARD_ECOMMERCE_DEBIT_REVERSAL	` - Card used on the internet - reversed
                            * `CARD_ECOMMERCE_CREDIT_REVERSAL` - Card used on the internet - reversed
                            * `CARD_ATM_DEBIT_REVERSAL` - Card used in an ATM - reversed
                            * `CARD_ATM_CREDIT_REVERSAL` - Card used in an ATM - reversed
                            * `CARD_INTERNATIONAL_POS_CONTACT_DEBIT_REVERSAL` - Card used in store in non-processing currency; read by magnetic stripe or pin - reversed
                            * `CARD_INTERNATIONAL_POS_CONTACT_CREDIT_REVERSAL` - Card used in store in non-processing currency; read by magnetic stripe or pin - reversed
                            * `CARD_INTERNATIONAL_POS_CONTACTLESS_DEBIT_REVERSAL` - Card used in store in non-processing currency; read by NFC - reversed
                            * `CARD_INTERNATIONAL_POS_CONTACTLESS_CREDIT_REVERSAL` - One or more of the transaction types above. This field can be repeated multiple times to allow for multiple transaction types.
                            * `CARD_INTERNATIONAL_ECOMMERCE_DEBIT_REVERSAL` - Card used in store in non-processing currency; read by NFC - reversed
                            * `CARD_INTERNATIONAL_ECOMMERCE_CREDIT_REVERSAL` - Card used in store in non-processing currency; read by NFC - reversed
                            * `CARD_INTERNATIONAL_ATM_DEBIT_REVERSAL` - Card used on the internet in non-processing currency - reversed
                            * `CARD_INTERNATIONAL_ATM_CREDIT_REVERSAL` - Card used on the internet in non-processing currency - reversed
                          example: WITHDRAWAL
                          type: string
                        yourRef:
                          description: The comment/reference on the transaction that appears on the recipients statement. Only for withdrawals
                          example: From John Smith
                          type: string
                      title: transaction
                      type: object
                    type: array
                title: cardTransactionsv1
                type: object
          description: An array of transaction objects for the account with a count (`total`).
      summary: List transactions for an account (v1)
      tags:
        - Transactions
  "/v1/accounts/{ican}/transactions/filter":
    get:
      deprecated: true
      description: |
        Retrieve a filtered list of transactions against an account. Recommended to use the v3 endpoint instead.
        * `dateRangeFrom` - A millisecond epoch time specifying the date range start date.
        * `dateRangeTo` - A millisecond epoch time specifying the date range end date.
        * `searchKeyword` - Search term to filter by from the reference field (`myRef`).
        * `transactionTypes` - One or more of the transaction types above. This field can be repeated multiple times to allow for multiple transaction types.
        * `offset` - The page offset. Defaults to 0. This is the record number that the returned list will start at. E.g. offset = 40 and limit = 20 will return records 40 to 59.
      operationId: getTransactionsFilteredById
      parameters:
        - in: path
          name: ican
          required: true
          schema:
            description: The ican of the account to retrieve
            format: int64
            type: integer
        - in: query
          name: dateRangeFrom
          required: true
          schema:
            description: A millisecond epoch time specifying the date range start date.
            format: int64
            type: integer
        - in: query
          name: dateRangeTo
          required: true
          schema:
            description: A millisecond epoch time specifying the date range end date.
            format: int64
            type: integer
        - in: query
          name: searchKeyword
          required: true
          schema:
            description: Search term to filter by from the reference field (`myRef`).
            type: string
        - in: query
          name: transactionTypes
          required: true
          schema:
            description: One or more of the transaction types above. This field can be repeated multiple times to allow for multiple transaction types.
            items:
              type: string
            type: array
        - in: query
          name: offset
          required: true
          schema:
            description: The page offset. Defaults to 0. This is the record number that the returned list will start at. E.g. offset = 40 and limit = 20 will return records 40 to 59.
            format: int64
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  dateRangeTo:
                    description: milisecond timestamp of date range to value.
                    example: 1547744156603
                    type: integer
                  total:
                    description: The total number of card transactions in the list.
                    example: 1
                    type: integer
                  transactions:
                    items:
                      properties:
                        amountAfterCharges:
                          description: Net amount lodged or taken from the account after fees and charges were applied.
                          example: 5000
                          format: int64
                          type: integer
                        amountBeforeCharges:
                          description: Amount of the transaction before the fees and taxes were applied.
                          example: 5000
                          format: int64
                          type: integer
                        balance:
                          description: the balance of the account (in minor currency units - pence, cent etc. 434050 == 4,340.50 GBP for a GBP account).
                          example: 8500
                          format: int64
                          type: integer
                        batchItemDetails:
                          description: Details of the batch run if this transaction was part of a batch.
                          properties:
                            batchItemPublicUuid:
                              description: The UUID for this item in the batch.
                              example: F2AF3F2B-4406-4199-B249-B354F2CC6019
                              type: string
                            batchName:
                              description: The optional name given to the batch at creation time.
                              example: Payroll 2022-11
                              type: string
                            batchPublicUuid:
                              description: The UUID for this batch.
                              example: F2AF3F2B-4406-4199-B249-B354F2CC6019
                              type: string
                            jobNumber:
                              description: The optional job number given to the batch to link it to your own system.
                              example: 2018-01-PR
                              type: string
                          title: batchItemDetails
                          type: object
                        card:
                          description: Details of the card used (if applicable)
                          properties:
                            alias:
                              type: string
                            cardId:
                              format: int64
                              type: integer
                            embossBusinessName:
                              type: string
                            embossCardName:
                              type: string
                            expiryDate:
                              format: date-time
                              type: string
                            maskedPan:
                              type: string
                            provider:
                              type: string
                          title: relatedCard
                          type: object
                        currency:
                          description: The currency.
                          properties:
                            code:
                              description: The three letter code for the currency - either `EUR` or `GBP`.
                              enum:
                                - EUR
                                - GBP
                              type: string
                            description:
                              description: The name of the currency
                              example: Euro
                              type: string
                          title: currency
                          type: object
                        date:
                          description: Date of the transaction
                          example: 2021-04-13T11:06:32.437Z
                          format: date-time
                          type: string
                        dateAcknowledged:
                          example: 2021-04-13T11:06:32.437Z
                          format: date-time
                          type: string
                        directDebitDetails:
                          description: Details of the direct debit (if applicable)
                          properties:
                            directDebitReference:
                              description: The direct debit reference.
                              example: VODA-ABC453-1
                              type: string
                            directDebitUuid:
                              description: The UUID for the direct debit payment
                              example: 42de0705-e3f1-44fa-8c41-79973eb80eb2
                              type: string
                            mandateReference:
                              description: the reference of the mandate
                              example: CRZ-102190123
                              type: string
                            mandateUUid:
                              description: The UUID for the mandate
                              example: f171b143-e3eb-47de-85a6-1c1f1108c701
                              type: string
                            mandateUuid:
                              description: The UUID for the mandate
                              example: 28d627c3-1889-44c8-ae59-6f6b20239260
                              type: string
                            originatorAlias:
                              description: The Alias of the party who sets up the direct debit.
                              example: Three
                              type: string
                            originatorLogoUrlLarge:
                              description: URL pointing to a large version of the Originator Logo (if available)
                              example: https://s3-eu-west-1.amazonaws.com/live-fire-assets/prod/49dc9a01-8261-4d98-bebf-c3842c2d3c5d-small.png
                              type: string
                            originatorLogoUrlSmall:
                              description: URL pointing to a small version of the Originator Logo (if available)
                              example: https://s3-eu-west-1.amazonaws.com/live-fire-assets/prod/49dc9a01-8261-4d98-bebf-c3842c2d3c5d-small.png
                              type: string
                            originatorName:
                              description: The creator of the party who sets up the direct debit.
                              example: Vodafone PLC
                              type: string
                            originatorReference:
                              description: Set by party who sets up the direct debit.
                              example: VODA-123456
                              type: string
                          title: directDebitDetails
                          type: object
                        eventUuid:
                          description: An internal Fire reference for the transaction (UUID)
                          example: 42de0705-e3f1-44fa-8c41-79973eb80eb2
                          type: string
                        feeAmount:
                          description: The amount of the fee, if any.
                          example: 0
                          format: int64
                          type: integer
                        fxTradeDetails:
                          description: Details of the FX trade (if applicable)
                          properties:
                            buyAmount:
                              description: amount of buyCurrency being bought
                              example: 359
                              format: int64
                              type: integer
                            buyCurrency:
                              description: currency which is being bought
                              example: GBP
                              type: string
                            fixedSide:
                              description: type of trade - BUY or SELL
                              example: SELL
                              type: string
                            provider:
                              description: The FX provider used to make the trade.
                              example: TCC
                              type: string
                            rate4d:
                              description: exchange rate
                              example: 7180
                              format: int64
                              type: integer
                            sellAmount:
                              description: amount of sellCurrency being sold
                              example: 500
                              format: int64
                              type: integer
                            sellCurrency:
                              description: currency which is being sold
                              example: EUR
                              type: string
                          title: fxTrade
                          type: object
                        ican:
                          description: identifier for the fire.com account (assigned by fire.com) This field is only used in the condensed version.
                          example: 1951
                          format: int64
                          type: integer
                        myRef:
                          description: The comment/reference on the transaction
                          example: Transfer to main account
                          type: string
                        paymentRequestPublicCode:
                          description: (FOP payments only) The FOP Payment Code that was used to make this payment.
                          example: 1abcdefg
                          type: string
                        proprietarySchemeDetails:
                          description: Extra details about the transaction based on the scheme used to make the payment.
                          items:
                            properties:
                              data:
                                description: the scheme proprietary data - key pairs separated by | and key/values separated by ^
                                example: remittanceInfoUnstructured^FIRE440286865OD1|instructionId^O223151336499079
                                type: string
                              type:
                                description: the type of proprietary scheme - SCT for SEPA, FPS for Faster Payments etc.
                                example: SCT
                                type: string
                            type: object
                          title: proprietarySchemeDetails
                          type: array
                        refId:
                          description: The id of the transaction.
                          example: 26774
                          format: int64
                          type: integer
                        relatedParty:
                          description: Details of the related third party involved in the transaction.
                          oneOf:
                            - properties:
                                account:
                                  properties:
                                    accountNumber:
                                      description: the Account Number of the account.
                                      example: "11111111"
                                      type: string
                                    alias:
                                      description: the name the user gives to the account to help them identify it.
                                      example: Main Account
                                      type: string
                                    bic:
                                      description: the BIC of the account (provided if currency is EUR).
                                      example: CPAYIE2D
                                      type: string
                                    iban:
                                      description: the IBAN of the account (provided if currency is EUR).
                                      example: IE54CPAY99119911111111
                                      type: string
                                    id:
                                      description: identifier for the fire.com account (assigned by fire.com)
                                      example: 42
                                      format: int64
                                      type: integer
                                    nsc:
                                      description: the Sort Code of the account.
                                      example: "232221"
                                      type: string
                                  type: object
                                type:
                                  enum:
                                    - FIRE_ACCOUNT
                                  type: string
                              title: relatedPartyFireAccount
                              type: object
                            - properties:
                                account:
                                  properties:
                                    accountNumber:
                                      description: the Account Number of the account.
                                      example: "11111111"
                                      type: string
                                    alias:
                                      description: the name the user gives to the account to help them identify it.
                                      example: Main Account
                                      type: string
                                    bic:
                                      description: the BIC of the account (provided if currency is EUR).
                                      example: CPAYIE2D
                                      type: string
                                    iban:
                                      description: the IBAN of the account (provided if currency is EUR).
                                      example: IE54CPAY99119911111111
                                      type: string
                                    id:
                                      format: int64
                                      type: integer
                                    nsc:
                                      description: the Sort Code of the account.
                                      example: "232221"
                                      type: string
                                  type: object
                                type:
                                  enum:
                                    - EXTERNAL_ACCOUNT
                                  type: string
                              title: relatedPartyExternalAccount
                              type: object
                            - properties:
                                account:
                                  properties:
                                    accountNumber:
                                      description: The account number of the Withdrawl account in reference
                                      example: "00000000"
                                      type: string
                                    alias:
                                      description: The Alias name of the Withdrawl account in reference
                                      example: Smyth and Co.
                                      type: string
                                    bic:
                                      description: The BIC of the Withdrawl account in reference
                                      example: CPAYIE2D
                                      type: string
                                    iban:
                                      description: The BIC of the Withdrawl account in reference
                                      example: IE76CPAY99119900000000
                                      type: string
                                    id:
                                      description: The ID number of the Withdrawl account in reference
                                      example: 123
                                      format: int64
                                      type: integer
                                    nsc:
                                      description: (Conditional) Provide this field if using Mode 2 and the payee account is in GBP.
                                      example: "991199"
                                      type: string
                                  type: object
                                type:
                                  enum:
                                    - WITHDRAWAL_ACCOUNT
                                  type: string
                              title: relatedPartyPayee
                              type: object
                            - properties:
                                cardMerchant:
                                  properties:
                                    acquirerIdDe32:
                                      example: 6011329
                                      type: string
                                    additionalAmtDe54:
                                      type: string
                                    additionalDataDe124:
                                      type: string
                                    additionalDataDe48:
                                      example: 010X610500000
                                      type: string
                                    authCodeDe38:
                                      example: "177449"
                                      type: string
                                    authorisedByGps:
                                      example: N
                                      type: string
                                    avsResult:
                                      example: N
                                      type: string
                                    billAmt:
                                      example: -1000
                                      format: int64
                                      type: integer
                                    billCcy:
                                      example: "978"
                                      type: string
                                    expiryDate:
                                      type: string
                                    mccCode:
                                      example: "5521"
                                      type: string
                                    merchIdDe42:
                                      example: 13152429
                                      type: string
                                    merchNameDe43:
                                      example: ABC Coffee Shop
                                      type: string
                                    mtId:
                                      example: "0100"
                                      type: string
                                    posDataDe22:
                                      example: "051"
                                      type: string
                                    posDataDe61:
                                      example: 1000030037299999
                                      type: string
                                    posTermnlDe41:
                                      example: "80266721"
                                      type: string
                                    procCode:
                                      example: "000000"
                                      type: string
                                    recordDataDe120:
                                      type: string
                                    respCodeDe39:
                                      example: "00"
                                      type: string
                                    retRefNoDe37:
                                      example: 10900006720
                                      type: string
                                    statusCode:
                                      example: "00"
                                      type: string
                                    token:
                                      example: "976307363"
                                      type: string
                                    txnAmt4d:
                                      example: 1000
                                      format: int64
                                      type: integer
                                    txnCcy:
                                      example: "978"
                                      type: string
                                    txnCtry:
                                      example: IRL
                                      type: string
                                    txnDesc:
                                      example: ABC Coffee Shop
                                      type: string
                                    txnStatCode:
                                      example: A
                                      type: string
                                    txnType:
                                      example: A
                                      type: string
                                  type: object
                                type:
                                  enum:
                                    - CARD_MERCHANT
                                    - CARD_ATM
                                  type: string
                              title: relatedPartyCardPayment
                              type: object
                          title: relatedParty
                        taxAmount:
                          description: The amount of the tax, if any (e.g. Stamp duty for ATM transactions)
                          example: 0
                          format: int64
                          type: integer
                        txnId:
                          description: The id of this side of the transaction (each transaction has two sides - a to and a from). This is used to get the details of the transaction.
                          example: 30157
                          format: int64
                          type: integer
                        type:
                          description: |
                            The type of the transaction:
                            * `LODGEMENT` - Bank Transfer received
                            * `PIS_LODGEMENT` - Fire Open Payments Lodgement received
                            * `MANUAL_TRANSFER` - Manual Transfer to
                            * `WITHDRAWAL` - Bank Transfer sent
                            * `REVERSAL` - Credit Reversal
                            * `DIRECT_DEBIT` - A direct debit.
                            * `DIRECT_DEBIT_REPRESENTED` - A Direct Debit that was requested again after initially failing.
                            * `DIRECT_DEBIT_REFUND` - A refund of a Direct debit.
                            * `INTERNAL_TRANSFER_TO` - Internal Transfer sent (between two of my accounts of the same currency)
                            * `INTERNAL_TRANSFER_FROM` - Internal Transfer received (between two of my accounts of the same currency)
                            * `WITHDRAWAL_RETURNED` - Bank Transfer sent returned
                            * `LODGEMENT_REVERSED` - Bank Transfer received returned
                            * `FX_INTERNAL_TRANSFER_FROM` - FX Internal Transfer received (between two of my accounts of different currency)
                            * `FX_INTERNAL_TRANSFER_TO` - FX Internal Transfer sent (between two of my accounts of different currency)
                            * `CREATE_CARD` - The fee taken when a debit card is issued.
                            * `ADD_ACCOUNT` - The fee taken when an account is created.
                            * `CREATE_ADDITIONAL_USER` - The fee taken when an additional user is created.       
                            * `CARD_POS_CONTACT_DEBIT` - Card used in store; read by magnetic stripe or pin
                            * `CARD_POS_CONTACT_CREDIT` - Card used in store; read by magnetic stripe or pin
                            * `CARD_POS_CONTACTLESS_DEBIT` - Card used in store; read by NFC
                            * `CARD_POS_CONTACTLESS_CREDIT` - Card used in store; read by NFC
                            * `CARD_ECOMMERCE_DEBIT` - Card used on the internet
                            * `CARD_ECOMMERCE_CREDIT` - Card used on the internet
                            * `CARD_ATM_DEBIT` - Card used in an ATM
                            * `CARD_ATM_CREDIT` - Card used in an ATM
                            * `CARD_INTERNATIONAL_POS_CONTACT_DEBIT` - Card used in store in non-processing currency; read by magnetic stripe or pin
                            * `CARD_INTERNATIONAL_POS_CONTACT_CREDIT` - Card used in store in non-processing currency; read by magnetic stripe or pin
                            * `CARD_INTERNATIONAL_POS_CONTACTLESS_DEBIT` - Card used in store in non-processing currency; read by NFC
                            * `CARD_INTERNATIONAL_POS_CONTACTLESS_CREDIT` - Card used in store in non-processing currency; read by NFC
                            * `CARD_INTERNATIONAL_ECOMMERCE_DEBIT	` - Card used on the internet in non-processing currency
                            * `CARD_INTERNATIONAL_ECOMMERCE_CREDIT` - Card used on the internet in non-processing currency
                            * `CARD_INTERNATIONAL_ATM_DEBIT` - Card used in an ATM in non-processing currency
                            * `CARD_INTERNATIONAL_ATM_CREDIT` - Card used in an ATM in non-processing currency
                            * `CARD_POS_CONTACT_DEBIT_REVERSAL` - Card used in store; read by magnetic stripe or pin - reversed
                            * `CARD_POS_CONTACT_CREDIT_REVERSAL` - Card used in store; read by magnetic stripe or pin - reversed
                            * `CARD_POS_CONTACTLESS_DEBIT_REVERSAL` - Card used in store; read by NFC - reversed
                            * `CARD_POS_CONTACTLESS_CREDIT_REVERSAL` - Card used in store; read by NFC - reversed
                            * `CARD_ECOMMERCE_DEBIT_REVERSAL	` - Card used on the internet - reversed
                            * `CARD_ECOMMERCE_CREDIT_REVERSAL` - Card used on the internet - reversed
                            * `CARD_ATM_DEBIT_REVERSAL` - Card used in an ATM - reversed
                            * `CARD_ATM_CREDIT_REVERSAL` - Card used in an ATM - reversed
                            * `CARD_INTERNATIONAL_POS_CONTACT_DEBIT_REVERSAL` - Card used in store in non-processing currency; read by magnetic stripe or pin - reversed
                            * `CARD_INTERNATIONAL_POS_CONTACT_CREDIT_REVERSAL` - Card used in store in non-processing currency; read by magnetic stripe or pin - reversed
                            * `CARD_INTERNATIONAL_POS_CONTACTLESS_DEBIT_REVERSAL` - Card used in store in non-processing currency; read by NFC - reversed
                            * `CARD_INTERNATIONAL_POS_CONTACTLESS_CREDIT_REVERSAL` - One or more of the transaction types above. This field can be repeated multiple times to allow for multiple transaction types.
                            * `CARD_INTERNATIONAL_ECOMMERCE_DEBIT_REVERSAL` - Card used in store in non-processing currency; read by NFC - reversed
                            * `CARD_INTERNATIONAL_ECOMMERCE_CREDIT_REVERSAL` - Card used in store in non-processing currency; read by NFC - reversed
                            * `CARD_INTERNATIONAL_ATM_DEBIT_REVERSAL` - Card used on the internet in non-processing currency - reversed
                            * `CARD_INTERNATIONAL_ATM_CREDIT_REVERSAL` - Card used on the internet in non-processing currency - reversed
                          example: WITHDRAWAL
                          type: string
                        yourRef:
                          description: The comment/reference on the transaction that appears on the recipients statement. Only for withdrawals
                          example: From John Smith
                          type: string
                      title: transaction
                      type: object
                    type: array
                title: cardTransactionsv1
                type: object
          description: An array of transaction objects for the account with a count (`total`) filtered by the specified query parameter.
      summary: Filtered list of transactions for an account (v1)
      tags:
        - Transactions
  /v1/apps:
    post:
      description: Create a new API Application with specified permissions
      operationId: createApiApplication
      requestBody:
        content:
          application/json:
            schema:
              properties:
                applicationName:
                  description: A name for the API Application to help you identify it
                  example: Batch Processing API
                  type: string
                enabled:
                  description: Whether or not this API Application can be used
                  example: true
                  type: boolean
                expiry:
                  description: The date that this API Application can no longer be used.
                  example: 2019-08-22T07:48:56.460Z
                  format: date-time
                  type: string
                ican:
                  description: The ICAN of one of your Fire accounts. Restrict this API Application to a certan account.
                  format: int64
                  type: integer
                numberOfPayeeApprovalsRequired:
                  description: Number of approvals required to create a payee in a batch
                  example: 1
                  type: integer
                numberOfPaymentApprovalsRequired:
                  description: Number of approvals required to process a payment in a batch
                  example: 1
                  type: integer
                permissions:
                  description: The list of permissions required
                  example:
                    - PERM_BUSINESS_POST_PAYMENT_REQUEST
                    - PERM_BUSINESS_GET_ASPSPS
                  items:
                    type: string
                  type: array
              title: newApiApplication
              type: object
        description: Details of the new API Application
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  applicationId:
                    description: The ID of the API Application
                    example: 45345
                    format: int64
                    type: integer
                  clientId:
                    description: The Client ID of the new API Application
                    example: 4ADFB67A-0F5B-4A9A-9D74-34437250045C
                    type: string
                  clientKey:
                    description: The Client Key of the new API Application
                    example: 4ADFB67A-0F5B-4A9A-9D74-34437250045C
                    type: string
                  enabled:
                    description: Whether or not this API Application can be used
                    example: true
                    type: boolean
                  expiry:
                    description: The date that this API Application can no longer be used.
                    example: 2019-08-22T07:48:56.460Z
                    format: date-time
                    type: string
                  ican:
                    description: The ICAN of one of your Fire accounts. Restrict this API Application to a certan account.
                    format: int64
                    type: integer
                  numberOfPayeeApprovalsRequired:
                    description: Number of approvals required to create a payee in a batch
                    example: 1
                    type: integer
                  numberOfPaymentApprovalsRequired:
                    description: Number of approvals required to process a payment in a batch
                    example: 1
                    type: integer
                  refreshToken:
                    description: The Refresh Token of the new API Application
                    example: 4ADFB67A-0F5B-4A9A-9D74-34437250045C
                    type: string
                title: apiApplication
                type: object
          description: API Application created successfully
      summary: Create a new API Application
      tags:
        - API
  /v1/apps/accesstokens:
    post:
      description: |
        Access to the API is by Bearer Tokens. The process is somewhat similar to OAuth2.0, but with some changes to improve security.

          1. You must first log into the firework online application and create a new Application in the Profile > API page. (You will need your PIN digits and 2-Factor Authentication device).
          
          2. Give your application a Name and select the scope/permissions you need the application to have (more on Scopes below).
          
          3. You will be provided with three pieces of information - the App Refresh Token, Client ID and Client Key. You need to take note of the Client Key when it is displayed - it will not be shown again.
          
          
          You now use these pieces of data to retrieve a short-term Access Token which you can use to access the API. The Access Token expires within a relatively short time, so even if it is compromised, the attacker will not have long to use it. The Client Key is the most important piece of information to keep secret. This should only ever be stored on a backend server, and never in a front end client or mobile app.


          **If you ever accidentally reveal the Client Key (or accidentally commit it to Github for instance) it is vital that you log into firework online and delete/recreate the App Tokens as soon as possible. Anyone who has these three pieces of data can access the API to view your data and set up payments from your account (depending on the scope of the tokens).**
          
          
          Once you have the access token, pass it as a header for every call, like so:

          `Authorization: Bearer $ACCESS_TOKEN`

          Whenever it expires, create a new nonce and get a new access token again.
      operationId: authenticate
      requestBody:
        content:
          application/json:
            schema:
              properties:
                clientId:
                  description: The Client ID for this API Application
                  example: 4ADFB67A-0F5B-4A9A-9D74-34437250045C
                  type: string
                clientSecret:
                  description: The SHA256 hash of the nonce above and the app’s Client Key. The Client Key will only be shown to you when you create the app, so don’t forget to save it somewhere safe. SECRET=( `/bin/echo -n $NONCE$CLIENT_KEY | sha256sum` ).
                  example: 4ADFB67A-0F5B-4A9A-9D74-34437250045C
                  type: string
                grantType:
                  description: Always `AccessToken`. (This will change to `refresh_token` in a future release.)
                  enum:
                    - AccessToken
                  type: string
                nonce:
                  description: A random non-repeating number used as a salt for the `clientSecret` below. The simplest nonce is a unix time.
                  example: 728345638475
                  format: int64
                  type: integer
                refreshToken:
                  description: The Refresh Token for this API Application
                  example: 4ADFB67A-0F5B-4A9A-9D74-34437250045C
                  type: string
              title: authentication
              type: object
        description: Authentication data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  accessToken:
                    description: The App Bearer Access Token you can use in further API calls.
                    example: 4ADFB67A-0F5B-4A9A-9D74-34437250045C
                    type: string
                  apiApplicationId:
                    description: The ID of the application you are using.
                    example: 433
                    format: int64
                    type: integer
                  businessId:
                    description: The business ID for the business.
                    example: 248
                    format: int64
                    type: integer
                  expiry:
                    description: The expiry date and time for this token (ISO-8601).
                    example: 2020-10-22T07:48:56.460Z
                    format: date-time
                    type: string
                  permissions:
                    description: The permissions assigned to the Access Token as an array of strings. This provides information on what API access it is allowed. See the section on Scope below.
                    example:
                      - PERM_BUSINESSES_GET_ACCOUNTS
                      - PERM_BUSINESSES_GET_ACCOUNT_TRANSACTIONS
                    items:
                      type: string
                    type: array
                title: accessToken
                type: object
          description: Successfully authenticated
      security: []
      summary: Authenticate with the API.
      tags:
        - Authentication
  /v1/aspsps:
    get:
      description: |
        Returns all ASPSPs (Account Servicing Payment Service Provider) / banks. The list can be filtered by currency. You will need to enable the `PERM_BUSINESS_GET_ASPSPS` permission to use this endpoint.
        ***This endpoint is only required if you intend to host the “Select ASPSP / bank” page yourself.***
      operationId: getListOfAspsps
      parameters:
        - description: The three letter code for the currency - either `EUR` or `GBP`. Use this to filter the list for banks that can be used to pay in a certain currency.
          example: EUR
          in: query
          name: currency
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  aspsps:
                    items:
                      properties:
                        alias:
                          description: The name of the ASPSP / bank.
                          example: Demo Bank
                          type: string
                        aspspUuid:
                          description: The UUID associated with the ASPSP / bank.
                          example: 4ADFB67A-0F5B-4A9A-9D74-34437250045C
                          type: string
                        country:
                          properties:
                            code:
                              description: The 2-letter code for the country - e.g. `IE`, `GP`...
                              example: GB
                              type: string
                            description:
                              description: The name of the country
                              example: United Kingdom
                              type: string
                          title: country
                          type: object
                        currency:
                          description: The currency.
                          properties:
                            code:
                              description: The three letter code for the currency - either `EUR` or `GBP`.
                              enum:
                                - EUR
                                - GBP
                              type: string
                            description:
                              description: The name of the currency
                              example: Euro
                              type: string
                          title: currency
                          type: object
                        dateCreated:
                          description: The date the ASPSP / bank was created.
                          example: 2019-08-22T07:48:56.460Z
                          format: date-time
                          type: string
                        lastUpdated:
                          description: The date the ASPSP / bank was last updated.
                          example: 2019-08-22T07:48:56.460Z
                          format: date-time
                          type: string
                        logoUrl:
                          description: A link to the ASPSP / bank's logo in SVG format.
                          example: https://assets.fire.com/pisp/demo.svg
                          type: string
                      title: aspsp
                      type: object
                    type: array
                  total:
                    description: The total number of ASPSPs in the list.
                    example: 10
                    type: integer
                title: aspsps
                type: object
          description: |
            A list of ASPSPs the customers can use to pay a payment.
      summary: Get list of ASPSPs / Banks
      tags:
        - Open Banking
  /v1/batches:
    get:
      description: |
        Returns the list of batch with the specified types and statuses.
      operationId: getBatches
      parameters:
        - in: query
          name: batchStatus
          schema:
[...]
