swagger: '2.0'
info:
  version: '2019-06-28'
  x-release: v4
  title: AWS Savings Plans
  description: 'Savings Plans are a pricing model that offer significant savings on AWS usage (for example, on Amazon EC2 instances). You commit to a consistent amount of usage, in USD per hour, for a term of 1 or 3 years, and receive a lower price for that usage. For more information, see the <a href="https://docs.aws.amazon.com/savingsplans/latest/userguide/">AWS Savings Plans User Guide</a>.'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: savingsplans
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/savingsplans-2019-06-28.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/savingsplans/'
host: savingsplans.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://savingsplans.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWSSavingsPlans multi-region endpoint
  - url: 'https://savingsplans.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWSSavingsPlans multi-region endpoint
  - url: 'http://savingsplans.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWSSavingsPlans endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://savingsplans.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWSSavingsPlans endpoint for China (Beijing) and China (Ningxia)
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /CreateSavingsPlan:
    post:
      operationId: CreateSavingsPlan
      description: Creates a Savings Plan.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSavingsPlanResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ServiceQuotaExceededException
          schema:
            $ref: '#/definitions/ServiceQuotaExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - savingsPlanOfferingId
              - commitment
            properties:
              savingsPlanOfferingId:
                description: The ID of the offering.
                type: string
              commitment:
                description: 'The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.'
                type: string
              upfrontPaymentAmount:
                description: The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.
                type: string
              clientToken:
                description: 'Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
                type: string
              tags:
                description: One or more tags.
                type: object
                additionalProperties:
                  $ref: '#/definitions/TagValue'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /DescribeSavingsPlanRates:
    post:
      operationId: DescribeSavingsPlanRates
      description: Describes the specified Savings Plans rates.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSavingsPlanRatesResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - savingsPlanId
            properties:
              savingsPlanId:
                description: The ID of the Savings Plan.
                type: string
              filters:
                description: The filters.
                type: array
                items:
                  $ref: '#/definitions/SavingsPlanRateFilter'
              nextToken:
                description: The token for the next page of results.
                type: string
                pattern: '^[A-Za-z0-9/=\+]+$'
                maxLength: 1024
              maxResults:
                description: 'The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.'
                type: integer
                minimum: 1
                maximum: 1000
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /DescribeSavingsPlans:
    post:
      operationId: DescribeSavingsPlans
      description: Describes the specified Savings Plans.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSavingsPlansResponse'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              savingsPlanArns:
                description: The Amazon Resource Names (ARN) of the Savings Plans.
                type: array
                items:
                  $ref: '#/definitions/SavingsPlanArn'
                maxItems: 100
              savingsPlanIds:
                description: The IDs of the Savings Plans.
                type: array
                items:
                  $ref: '#/definitions/SavingsPlanId'
              nextToken:
                description: The token for the next page of results.
                type: string
                pattern: '^[A-Za-z0-9/=\+]+$'
                maxLength: 1024
              maxResults:
                description: 'The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.'
                type: integer
                minimum: 1
                maximum: 1000
              states:
                description: The states.
                type: array
                items:
                  $ref: '#/definitions/SavingsPlanState'
              filters:
                description: The filters.
                type: array
                items:
                  $ref: '#/definitions/SavingsPlanFilter'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /DescribeSavingsPlansOfferingRates:
    post:
      operationId: DescribeSavingsPlansOfferingRates
      description: Describes the specified Savings Plans offering rates.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSavingsPlansOfferingRatesResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              savingsPlanOfferingIds:
                description: The IDs of the offerings.
                type: array
                items:
                  $ref: '#/definitions/UUID'
              savingsPlanPaymentOptions:
                description: The payment options.
                type: array
                items:
                  $ref: '#/definitions/SavingsPlanPaymentOption'
              savingsPlanTypes:
                description: The plan types.
                type: array
                items:
                  $ref: '#/definitions/SavingsPlanType'
              products:
                description: The AWS products.
                type: array
                items:
                  $ref: '#/definitions/SavingsPlanProductType'
              serviceCodes:
                description: The services.
                type: array
                items:
                  $ref: '#/definitions/SavingsPlanRateServiceCode'
              usageTypes:
                description: The usage details of the line item in the billing report.
                type: array
                items:
                  $ref: '#/definitions/SavingsPlanRateUsageType'
              operations:
                description: The specific AWS operation for the line item in the billing report.
                type: array
                items:
                  $ref: '#/definitions/SavingsPlanRateOperation'
              filters:
                description: The filters.
                type: array
                items:
                  $ref: '#/definitions/SavingsPlanOfferingRateFilterElement'
              nextToken:
                description: The token for the next page of results.
                type: string
                pattern: '^[A-Za-z0-9/=\+]+$'
                maxLength: 1024
              maxResults:
                description: 'The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.'
                type: integer
                minimum: 0
                maximum: 1000
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /DescribeSavingsPlansOfferings:
    post:
      operationId: DescribeSavingsPlansOfferings
      description: Describes the specified Savings Plans offerings.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSavingsPlansOfferingsResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              offeringIds:
                description: The IDs of the offerings.
                type: array
                items:
                  $ref: '#/definitions/UUID'
              paymentOptions:
                description: The payment options.
                type: array
                items:
                  $ref: '#/definitions/SavingsPlanPaymentOption'
              productType:
                description: The product type.
                type: string
                enum:
                  - EC2
                  - Fargate
              planTypes:
                description: The plan type.
                type: array
                items:
                  $ref: '#/definitions/SavingsPlanType'
              durations:
                description: 'The durations, in seconds.'
                type: array
                items:
                  $ref: '#/definitions/SavingsPlansDuration'
              currencies:
                description: The currencies.
                type: array
                items:
                  $ref: '#/definitions/CurrencyCode'
              descriptions:
                description: The descriptions.
                type: array
                items:
                  $ref: '#/definitions/SavingsPlanDescription'
              serviceCodes:
                description: The services.
                type: array
                items:
                  $ref: '#/definitions/SavingsPlanServiceCode'
              usageTypes:
                description: The usage details of the line item in the billing report.
                type: array
                items:
                  $ref: '#/definitions/SavingsPlanUsageType'
              operations:
                description: The specific AWS operation for the line item in the billing report.
                type: array
                items:
                  $ref: '#/definitions/SavingsPlanOperation'
              filters:
                description: The filters.
                type: array
                items:
                  $ref: '#/definitions/SavingsPlanOfferingFilterElement'
              nextToken:
                description: The token for the next page of results.
                type: string
                pattern: '^[A-Za-z0-9/=\+]+$'
                maxLength: 1024
              maxResults:
                description: 'The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.'
                type: integer
                minimum: 0
                maximum: 1000
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /ListTagsForResource:
    post:
      operationId: ListTagsForResource
      description: Lists the tags for the specified resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - resourceArn
            properties:
              resourceArn:
                description: The Amazon Resource Name (ARN) of the resource.
                type: string
                pattern: 'arn:aws:[a-z]+:([a-z]{2}-[a-z]+-\d{1}|):(\d{12}):savingsplan\/([0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /TagResource:
    post:
      operationId: TagResource
      description: Adds the specified tags to the specified resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ServiceQuotaExceededException
          schema:
            $ref: '#/definitions/ServiceQuotaExceededException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - resourceArn
              - tags
            properties:
              resourceArn:
                description: The Amazon Resource Name (ARN) of the resource.
                type: string
                pattern: 'arn:aws:[a-z]+:([a-z]{2}-[a-z]+-\d{1}|):(\d{12}):savingsplan\/([0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})$'
              tags:
                description: 'One or more tags. For example, { "tags": {"key1":"value1", "key2":"value2"} }.'
                type: object
                additionalProperties:
                  $ref: '#/definitions/TagValue'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /UntagResource:
    post:
      operationId: UntagResource
      description: Removes the specified tags from the specified resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - resourceArn
              - tagKeys
            properties:
              resourceArn:
                description: The Amazon Resource Name (ARN) of the resource.
                type: string
                pattern: 'arn:aws:[a-z]+:([a-z]{2}-[a-z]+-\d{1}|):(\d{12}):savingsplan\/([0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})$'
              tagKeys:
                description: The tag keys.
                type: array
                items:
                  $ref: '#/definitions/TagKey'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  CreateSavingsPlanResponse:
    type: object
    properties:
      savingsPlanId:
        $ref: '#/definitions/SavingsPlanId'
        description: The ID of the Savings Plan.
  TagValue:
    type: string
  ResourceNotFoundException: {}
  ValidationException: {}
  InternalServerException: {}
  ServiceQuotaExceededException: {}
  DescribeSavingsPlanRatesResponse:
    type: object
    properties:
      savingsPlanId:
        $ref: '#/definitions/SavingsPlanId'
        description: The ID of the Savings Plan.
      searchResults:
        $ref: '#/definitions/SavingsPlanRateList'
        description: Information about the Savings Plans rates.
      nextToken:
        $ref: '#/definitions/PaginationToken'
        description: The token to use to retrieve the next page of results. This value is null when there are no more results to return.
  SavingsPlanRateFilter:
    type: object
    properties:
      name:
        $ref: '#/definitions/SavingsPlanRateFilterName'
        description: The filter name.
      values:
        $ref: '#/definitions/ListOfStrings'
        description: The filter values.
    description: Information about a filter.
  DescribeSavingsPlansResponse:
    type: object
    properties:
      savingsPlans:
        $ref: '#/definitions/SavingsPlanList'
        description: Information about the Savings Plans.
      nextToken:
        $ref: '#/definitions/PaginationToken'
        description: The token to use to retrieve the next page of results. This value is null when there are no more results to return.
  SavingsPlanArn:
    type: string
    pattern: 'arn:aws:[a-z]+:([a-z]{2}-[a-z]+-\d{1}|):(\d{12}):savingsplan\/([0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})$'
  SavingsPlanId:
    type: string
  SavingsPlanState:
    type: string
    enum:
      - payment-pending
      - payment-failed
      - active
      - retired
  SavingsPlanFilter:
    type: object
    properties:
      name:
        $ref: '#/definitions/SavingsPlansFilterName'
        description: The filter name.
      values:
        $ref: '#/definitions/ListOfStrings'
        description: The filter value.
    description: Information about a filter.
  DescribeSavingsPlansOfferingRatesResponse:
    type: object
    properties:
      searchResults:
        $ref: '#/definitions/SavingsPlanOfferingRatesList'
        description: Information about the Savings Plans offering rates.
      nextToken:
        $ref: '#/definitions/PaginationToken'
        description: The token to use to retrieve the next page of results. This value is null when there are no more results to return.
  UUID:
    type: string
    pattern: '^(([0-9a-f]+)(-?))+$'
  SavingsPlanPaymentOption:
    type: string
    enum:
      - All Upfront
      - Partial Upfront
      - No Upfront
  SavingsPlanType:
    type: string
    enum:
      - Compute
      - EC2Instance
  SavingsPlanProductType:
    type: string
    enum:
      - EC2
      - Fargate
  SavingsPlanRateServiceCode:
    type: string
    enum:
      - AmazonEC2
      - AmazonECS
  SavingsPlanRateUsageType:
    type: string
    pattern: '^[a-zA-Z0-9_ \/.:-]+$'
    maxLength: 255
  SavingsPlanRateOperation:
    type: string
    pattern: '^[a-zA-Z0-9_ \/.:-]*$'
    maxLength: 255
  SavingsPlanOfferingRateFilterElement:
    type: object
    properties:
      name:
        $ref: '#/definitions/SavingsPlanRateFilterAttribute'
        description: The filter name.
      values:
        $ref: '#/definitions/FilterValuesList'
        description: The filter values.
    description: Information about a filter.
  DescribeSavingsPlansOfferingsResponse:
    type: object
    properties:
      searchResults:
        $ref: '#/definitions/SavingsPlanOfferingsList'
        description: Information about the Savings Plans offerings.
      nextToken:
        $ref: '#/definitions/PaginationToken'
        description: The token to use to retrieve the next page of results. This value is null when there are no more results to return.
  SavingsPlansDuration:
    type: integer
    minimum: 0
  CurrencyCode:
    type: string
    enum:
      - CNY
      - USD
  SavingsPlanDescription:
    type: string
    pattern: '^[a-zA-Z0-9_\- ]+$'
  SavingsPlanServiceCode:
    type: string
    pattern: '^[a-zA-Z]+$'
    maxLength: 255
  SavingsPlanUsageType:
    type: string
    pattern: '^[a-zA-Z0-9_ \/.:-]+$'
    maxLength: 255
  SavingsPlanOperation:
    type: string
    pattern: '^[a-zA-Z0-9_ \/.:-]*$'
    maxLength: 255
  SavingsPlanOfferingFilterElement:
    type: object
    properties:
      name:
        $ref: '#/definitions/SavingsPlanOfferingFilterAttribute'
        description: The filter name.
      values:
        $ref: '#/definitions/FilterValuesList'
        description: The filter values.
    description: Information about a filter.
  ListTagsForResourceResponse:
    type: object
    properties:
      tags:
        $ref: '#/definitions/TagMap'
        description: Information about the tags.
  TagResourceResponse:
    type: object
    properties: {}
  UntagResourceResponse:
    type: object
    properties: {}
  TagKey:
    type: string
  Amount:
    type: string
  ClientToken:
    type: string
  SavingsPlanOfferingId:
    type: string
  TagMap:
    type: object
    additionalProperties:
      $ref: '#/definitions/TagValue'
  CreateSavingsPlanRequest:
    type: object
    required:
      - savingsPlanOfferingId
      - commitment
    properties:
      savingsPlanOfferingId:
        $ref: '#/definitions/SavingsPlanOfferingId'
        description: The ID of the offering.
      commitment:
        $ref: '#/definitions/Amount'
        description: 'The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.'
      upfrontPaymentAmount:
        $ref: '#/definitions/Amount'
        description: The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.
      clientToken:
        $ref: '#/definitions/ClientToken'
        description: 'Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
      tags:
        $ref: '#/definitions/TagMap'
        description: One or more tags.
  CurrencyList:
    type: array
    items:
      $ref: '#/definitions/CurrencyCode'
  SavingsPlanRateFilterList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanRateFilter'
  PaginationToken:
    type: string
    pattern: '^[A-Za-z0-9/=\+]+$'
    maxLength: 1024
  MaxResults:
    type: integer
    minimum: 1
    maximum: 1000
  DescribeSavingsPlanRatesRequest:
    type: object
    required:
      - savingsPlanId
    properties:
      savingsPlanId:
        $ref: '#/definitions/SavingsPlanId'
        description: The ID of the Savings Plan.
      filters:
        $ref: '#/definitions/SavingsPlanRateFilterList'
        description: The filters.
      nextToken:
        $ref: '#/definitions/PaginationToken'
        description: The token for the next page of results.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.'
  SavingsPlanRateList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanRate'
  UUIDs:
    type: array
    items:
      $ref: '#/definitions/UUID'
  SavingsPlanPaymentOptionList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanPaymentOption'
  SavingsPlanTypeList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanType'
  SavingsPlanProductTypeList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanProductType'
  SavingsPlanRateServiceCodeList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanRateServiceCode'
  SavingsPlanRateUsageTypeList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanRateUsageType'
  SavingsPlanRateOperationList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanRateOperation'
  SavingsPlanOfferingRateFiltersList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanOfferingRateFilterElement'
  PageSize:
    type: integer
    minimum: 0
    maximum: 1000
  DescribeSavingsPlansOfferingRatesRequest:
    type: object
    properties:
      savingsPlanOfferingIds:
        $ref: '#/definitions/UUIDs'
        description: The IDs of the offerings.
      savingsPlanPaymentOptions:
        $ref: '#/definitions/SavingsPlanPaymentOptionList'
        description: The payment options.
      savingsPlanTypes:
        $ref: '#/definitions/SavingsPlanTypeList'
        description: The plan types.
      products:
        $ref: '#/definitions/SavingsPlanProductTypeList'
        description: The AWS products.
      serviceCodes:
        $ref: '#/definitions/SavingsPlanRateServiceCodeList'
        description: The services.
      usageTypes:
        $ref: '#/definitions/SavingsPlanRateUsageTypeList'
        description: The usage details of the line item in the billing report.
      operations:
        $ref: '#/definitions/SavingsPlanRateOperationList'
        description: The specific AWS operation for the line item in the billing report.
      filters:
        $ref: '#/definitions/SavingsPlanOfferingRateFiltersList'
        description: The filters.
      nextToken:
        $ref: '#/definitions/PaginationToken'
        description: The token for the next page of results.
      maxResults:
        $ref: '#/definitions/PageSize'
        description: 'The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.'
  SavingsPlanOfferingRatesList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanOfferingRate'
  DurationsList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlansDuration'
  SavingsPlanDescriptionsList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanDescription'
  SavingsPlanServiceCodeList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanServiceCode'
  SavingsPlanUsageTypeList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanUsageType'
  SavingsPlanOperationList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanOperation'
  SavingsPlanOfferingFiltersList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanOfferingFilterElement'
  DescribeSavingsPlansOfferingsRequest:
    type: object
    properties:
      offeringIds:
        $ref: '#/definitions/UUIDs'
        description: The IDs of the offerings.
      paymentOptions:
        $ref: '#/definitions/SavingsPlanPaymentOptionList'
        description: The payment options.
      productType:
        $ref: '#/definitions/SavingsPlanProductType'
        description: The product type.
      planTypes:
        $ref: '#/definitions/SavingsPlanTypeList'
        description: The plan type.
      durations:
        $ref: '#/definitions/DurationsList'
        description: 'The durations, in seconds.'
      currencies:
        $ref: '#/definitions/CurrencyList'
        description: The currencies.
      descriptions:
        $ref: '#/definitions/SavingsPlanDescriptionsList'
        description: The descriptions.
      serviceCodes:
        $ref: '#/definitions/SavingsPlanServiceCodeList'
        description: The services.
      usageTypes:
        $ref: '#/definitions/SavingsPlanUsageTypeList'
        description: The usage details of the line item in the billing report.
      operations:
        $ref: '#/definitions/SavingsPlanOperationList'
        description: The specific AWS operation for the line item in the billing report.
      filters:
        $ref: '#/definitions/SavingsPlanOfferingFiltersList'
        description: The filters.
      nextToken:
        $ref: '#/definitions/PaginationToken'
        description: The token for the next page of results.
      maxResults:
        $ref: '#/definitions/PageSize'
        description: 'The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.'
  SavingsPlanOfferingsList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanOffering'
  SavingsPlanArnList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanArn'
    maxItems: 100
  SavingsPlanIdList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanId'
  SavingsPlanStateList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanState'
  SavingsPlanFilterList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanFilter'
  DescribeSavingsPlansRequest:
    type: object
    properties:
      savingsPlanArns:
        $ref: '#/definitions/SavingsPlanArnList'
        description: The Amazon Resource Names (ARN) of the Savings Plans.
      savingsPlanIds:
        $ref: '#/definitions/SavingsPlanIdList'
        description: The IDs of the Savings Plans.
      nextToken:
        $ref: '#/definitions/PaginationToken'
        description: The token for the next page of results.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.'
      states:
        $ref: '#/definitions/SavingsPlanStateList'
        description: The states.
      filters:
        $ref: '#/definitions/SavingsPlanFilterList'
        description: The filters.
  SavingsPlanList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlan'
  EC2InstanceFamily:
    type: string
  JsonSafeFilterValueString:
    type: string
    pattern: '^[a-zA-Z0-9_ \/.\:\-\(\)]+$'
  FilterValuesList:
    type: array
    items:
      $ref: '#/definitions/JsonSafeFilterValueString'
  String:
    type: string
  ListOfStrings:
    type: array
    items:
      $ref: '#/definitions/String'
  ListTagsForResourceRequest:
    type: object
    required:
      - resourceArn
    properties:
      resourceArn:
        $ref: '#/definitions/SavingsPlanArn'
        description: The Amazon Resource Name (ARN) of the resource.
  ParentSavingsPlanOffering:
    type: object
    properties:
      offeringId:
        $ref: '#/definitions/UUID'
        description: The ID of the offering.
      paymentOption:
        $ref: '#/definitions/SavingsPlanPaymentOption'
        description: The payment option.
      planType:
        $ref: '#/definitions/SavingsPlanType'
        description: The plan type.
      durationSeconds:
        $ref: '#/definitions/SavingsPlansDuration'
        description: 'The duration, in seconds.'
      currency:
        $ref: '#/definitions/CurrencyCode'
        description: The currency.
      planDescription:
        $ref: '#/definitions/SavingsPlanDescription'
        description: The description.
    description: Information about a Savings Plan offering.
  Region:
    type: string
  TermDurationInSeconds:
    type: integer
  SavingsPlan:
    type: object
    properties:
      offeringId:
        $ref: '#/definitions/SavingsPlanOfferingId'
        description: The ID of the offering.
      savingsPlanId:
        $ref: '#/definitions/SavingsPlanId'
        description: The ID of the Savings Plan.
      savingsPlanArn:
        $ref: '#/definitions/SavingsPlanArn'
        description: The Amazon Resource Name (ARN) of the Savings Plan.
      description:
        $ref: '#/definitions/String'
        description: The description.
      start:
        $ref: '#/definitions/String'
        description: The start time.
      end:
        $ref: '#/definitions/String'
        description: The end time.
      state:
        $ref: '#/definitions/SavingsPlanState'
        description: The state.
      region:
        $ref: '#/definitions/Region'
        description: The AWS Region.
      ec2InstanceFamily:
        $ref: '#/definitions/EC2InstanceFamily'
        description: The EC2 instance family.
      savingsPlanType:
        $ref: '#/definitions/SavingsPlanType'
        description: The plan type.
      paymentOption:
        $ref: '#/definitions/SavingsPlanPaymentOption'
        description: The payment option.
      productTypes:
        $ref: '#/definitions/SavingsPlanProductTypeList'
        description: The product types.
      currency:
        $ref: '#/definitions/CurrencyCode'
        description: The currency.
      commitment:
        $ref: '#/definitions/Amount'
        description: 'The hourly commitment, in USD.'
      upfrontPaymentAmount:
        $ref: '#/definitions/Amount'
        description: The up-front payment amount.
      recurringPaymentAmount:
        $ref: '#/definitions/Amount'
        description: The recurring payment amount.
      termDurationInSeconds:
        $ref: '#/definitions/TermDurationInSeconds'
        description: 'The duration of the term, in seconds.'
      tags:
        $ref: '#/definitions/TagMap'
        description: One or more tags.
    description: Information about a Savings Plan.
  SavingsPlansFilterName:
    type: string
    enum:
      - region
      - ec2-instance-family
      - commitment
      - upfront
      - term
      - savings-plan-type
      - payment-option
      - start
      - end
  SavingsPlanOfferingPropertyList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanOfferingProperty'
  SavingsPlanOffering:
    type: object
    properties:
      offeringId:
        $ref: '#/definitions/UUID'
        description: The ID of the offering.
      productTypes:
        $ref: '#/definitions/SavingsPlanProductTypeList'
        description: The product type.
      planType:
        $ref: '#/definitions/SavingsPlanType'
        description: The plan type.
      description:
        $ref: '#/definitions/SavingsPlanDescription'
        description: The description.
      paymentOption:
        $ref: '#/definitions/SavingsPlanPaymentOption'
        description: The payment option.
      durationSeconds:
        $ref: '#/definitions/SavingsPlansDuration'
        description: 'The duration, in seconds.'
      currency:
        $ref: '#/definitions/CurrencyCode'
        description: The currency.
      serviceCode:
        $ref: '#/definitions/SavingsPlanServiceCode'
        description: The service.
      usageType:
        $ref: '#/definitions/SavingsPlanUsageType'
        description: The usage details of the line item in the billing report.
      operation:
        $ref: '#/definitions/SavingsPlanOperation'
        description: The specific AWS operation for the line item in the billing report.
      properties:
        $ref: '#/definitions/SavingsPlanOfferingPropertyList'
        description: The properties.
    description: Information about a Savings Plan offering.
  SavingsPlanOfferingFilterAttribute:
    type: string
    enum:
      - region
      - instanceFamily
  SavingsPlanOfferingPropertyKey:
    type: string
    enum:
      - region
      - instanceFamily
  SavingsPlanOfferingProperty:
    type: object
    properties:
      name:
        $ref: '#/definitions/SavingsPlanOfferingPropertyKey'
        description: The property name.
      value:
        $ref: '#/definitions/JsonSafeFilterValueString'
        description: The property value.
    description: Information about a property.
  SavingsPlanRatePricePerUnit:
    type: string
  SavingsPlanRateUnit:
    type: string
    enum:
      - Hrs
  SavingsPlanOfferingRatePropertyList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanOfferingRateProperty'
  SavingsPlanOfferingRate:
    type: object
    properties:
      savingsPlanOffering:
        $ref: '#/definitions/ParentSavingsPlanOffering'
        description: The Savings Plan offering.
      rate:
        $ref: '#/definitions/SavingsPlanRatePricePerUnit'
        description: The Savings Plan rate.
      unit:
        $ref: '#/definitions/SavingsPlanRateUnit'
        description: The unit.
      productType:
        $ref: '#/definitions/SavingsPlanProductType'
        description: The product type.
      serviceCode:
        $ref: '#/definitions/SavingsPlanRateServiceCode'
        description: The service.
      usageType:
        $ref: '#/definitions/SavingsPlanRateUsageType'
        description: The usage details of the line item in the billing report.
      operation:
        $ref: '#/definitions/SavingsPlanRateOperation'
        description: The specific AWS operation for the line item in the billing report.
      properties:
        $ref: '#/definitions/SavingsPlanOfferingRatePropertyList'
        description: The properties.
    description: Information about a Savings Plan offering rate.
  SavingsPlanRateFilterAttribute:
    type: string
    enum:
      - region
      - instanceFamily
      - instanceType
      - productDescription
      - tenancy
      - productId
  SavingsPlanOfferingRateProperty:
    type: object
    properties:
      name:
        $ref: '#/definitions/JsonSafeFilterValueString'
        description: The property name.
      value:
        $ref: '#/definitions/JsonSafeFilterValueString'
        description: The property value.
    description: Information about a property.
  SavingsPlanRatePropertyList:
    type: array
    items:
      $ref: '#/definitions/SavingsPlanRateProperty'
  SavingsPlanRate:
    type: object
    properties:
      rate:
        $ref: '#/definitions/Amount'
        description: The rate.
      currency:
        $ref: '#/definitions/CurrencyCode'
        description: The currency.
      unit:
        $ref: '#/definitions/SavingsPlanRateUnit'
        description: The unit.
      productType:
        $ref: '#/definitions/SavingsPlanProductType'
        description: The product type.
      serviceCode:
        $ref: '#/definitions/SavingsPlanRateServiceCode'
        description: The service.
      usageType:
        $ref: '#/definitions/SavingsPlanRateUsageType'
        description: The usage details of the line item in the billing report.
      operation:
        $ref: '#/definitions/SavingsPlanRateOperation'
        description: The specific AWS operation for the line item in the billing report.
      properties:
        $ref: '#/definitions/SavingsPlanRatePropertyList'
        description: The properties.
    description: Information about a Savings Plan rate.
  SavingsPlanRateFilterName:
    type: string
    enum:
      - region
      - instanceType
      - productDescription
      - tenancy
      - productType
      - serviceCode
      - usageType
      - operation
  SavingsPlanRatePropertyKey:
    type: string
    enum:
      - region
      - instanceType
      - instanceFamily
      - productDescription
      - tenancy
  SavingsPlanRateProperty:
    type: object
    properties:
      name:
        $ref: '#/definitions/SavingsPlanRatePropertyKey'
        description: The property name.
      value:
        $ref: '#/definitions/JsonSafeFilterValueString'
        description: The property value.
    description: Information about a property.
  TagKeyList:
    type: array
    items:
      $ref: '#/definitions/TagKey'
  TagResourceRequest:
    type: object
    required:
      - resourceArn
      - tags
    properties:
      resourceArn:
        $ref: '#/definitions/SavingsPlanArn'
        description: The Amazon Resource Name (ARN) of the resource.
      tags:
        $ref: '#/definitions/TagMap'
        description: 'One or more tags. For example, { "tags": {"key1":"value1", "key2":"value2"} }.'
  UntagResourceRequest:
    type: object
    required:
      - resourceArn
      - tagKeys
    properties:
      resourceArn:
        $ref: '#/definitions/SavingsPlanArn'
        description: The Amazon Resource Name (ARN) of the resource.
      tagKeys:
        $ref: '#/definitions/TagKeyList'
        description: The tag keys.
