openapi: 3.0.0
servers:
  - url: https://assuredworkloads.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Assured Workloads API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://assuredworkloads.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: assuredworkloads
externalDocs:
  url: https://cloud.google.com
tags:
  - name: organizations
paths:
  "/v1/{name}":
    delete:
      description: Deletes the workload. Make sure that workload's direct children are already in a deleted state, otherwise the request will fail with a FAILED_PRECONDITION error.
      operationId: assuredworkloads.organizations.locations.workloads.delete
      parameters:
        - description: "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Optional. The etag of the workload. If this is provided, it must match the server's etag.
          in: query
          name: etag
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleProtobufEmpty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - organizations
    get:
      description: Gets Assured Workload associated with a CRM Node
      operationId: assuredworkloads.organizations.locations.workloads.get
      parameters:
        - description: Required. The resource name of the Workload to fetch. This is the workloads's relative path in the API, formatted as "organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}". For example, "organizations/123/locations/us-east1/workloads/assured-workload-1".
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1Workload"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - organizations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates an existing workload. Currently allows updating of workload display_name and labels. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.
      operationId: assuredworkloads.organizations.locations.workloads.patch
      parameters:
        - description: "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only."
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Required. The list of fields to be updated.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1Workload"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1Workload"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - organizations
  "/v1/{name}/operations":
    get:
      description: "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
      operationId: assuredworkloads.organizations.locations.operations.list
      parameters:
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningListOperationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - organizations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/workloads":
    get:
      description: Lists Assured Workloads under a CRM Node.
      operationId: assuredworkloads.organizations.locations.workloads.list
      parameters:
        - description: Required. Parent Resource to list workloads from. Must be of the form `organizations/{org_id}/locations/{location}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: A custom filter for filtering by properties of a workload. At this time, only filtering by labels is supported.
          in: query
          name: filter
          schema:
            type: string
        - description: Page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token returned from previous request. Page token contains context from previous request. Page token needs to be passed in the second and following requests.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1ListWorkloadsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - organizations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates Assured Workload.
      operationId: assuredworkloads.organizations.locations.workloads.create
      parameters:
        - description: Required. The resource name of the new Workload's parent. Must be of the form `organizations/{org_id}/locations/{location_id}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. A identifier associated with the workload and underlying projects which allows for the break down of billing costs for a workload. The value provided for the identifier will add a label to the workload and contained projects with the identifier as the value.
          in: query
          name: externalId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1Workload"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - organizations
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata:
      description: Operation metadata to give request details of CreateWorkload.
      properties:
        complianceRegime:
          description: Optional. Compliance controls that should be applied to the resources managed by the workload.
          enum:
            - COMPLIANCE_REGIME_UNSPECIFIED
            - IL4
            - CJIS
            - FEDRAMP_HIGH
            - FEDRAMP_MODERATE
            - US_REGIONAL_ACCESS
            - HIPAA
            - HITRUST
            - EU_REGIONS_AND_SUPPORT
          type: string
        createTime:
          description: Optional. Time when the operation was created.
          format: google-datetime
          type: string
        displayName:
          description: Optional. The display name of the workload.
          type: string
        parent:
          description: Optional. The parent of the workload.
          type: string
      type: object
    GoogleCloudAssuredworkloadsV1ListWorkloadsResponse:
      description: Response of ListWorkloads endpoint.
      properties:
        nextPageToken:
          description: The next page token. Return empty if reached the last page.
          type: string
        workloads:
          description: List of Workloads under a given parent.
          items:
            $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1Workload"
          type: array
      type: object
    GoogleCloudAssuredworkloadsV1Workload:
      description: An Workload object for managing highly regulated workloads of cloud customers.
      properties:
        billingAccount:
          description: Required. Input only. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`.
          type: string
        complianceRegime:
          description: Required. Immutable. Compliance Regime associated with this workload.
          enum:
            - COMPLIANCE_REGIME_UNSPECIFIED
            - IL4
            - CJIS
            - FEDRAMP_HIGH
            - FEDRAMP_MODERATE
            - US_REGIONAL_ACCESS
            - HIPAA
            - HITRUST
            - EU_REGIONS_AND_SUPPORT
          type: string
        createTime:
          description: Output only. Immutable. The Workload creation timestamp.
          format: google-datetime
          readOnly: true
          type: string
        displayName:
          description: "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload"
          type: string
        etag:
          description: Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations.
          type: string
        kmsSettings:
          $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1WorkloadKMSSettings"
          description: Input only. Settings used to create a CMEK crypto key. When set a project with a KMS CMEK key is provisioned. This field is mandatory for a subset of Compliance Regimes.
        labels:
          additionalProperties:
            type: string
          description: Optional. Labels applied to the workload.
          type: object
        name:
          description: "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only."
          type: string
        provisionedResourcesParent:
          description: "Input only. The parent resource for the resources managed by this Assured Workload. May be either empty or a folder resource which is a child of the Workload parent. If not specified all resources are created under the parent organization. Format: folders/{folder_id}"
          type: string
        resourceSettings:
          description: Input only. Resource properties that are used to customize workload resources. These properties (such as custom project id) will be used to create workload resources if possible. This field is optional.
          items:
            $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1WorkloadResourceSettings"
          type: array
        resources:
          description: Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only.
          items:
            $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1WorkloadResourceInfo"
          readOnly: true
          type: array
      type: object
    GoogleCloudAssuredworkloadsV1WorkloadKMSSettings:
      description: Settings specific to the Key Management Service.
      properties:
        nextRotationTime:
          description: Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary.
          format: google-datetime
          type: string
        rotationPeriod:
          description: Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours.
          format: google-duration
          type: string
      type: object
    GoogleCloudAssuredworkloadsV1WorkloadResourceInfo:
      description: Represent the resources that are children of this Workload.
      properties:
        resourceId:
          description: Resource identifier. For a project this represents project_number.
          format: int64
          type: string
        resourceType:
          description: Indicates the type of resource.
          enum:
            - RESOURCE_TYPE_UNSPECIFIED
            - CONSUMER_PROJECT
            - ENCRYPTION_KEYS_PROJECT
            - KEYRING
          type: string
      type: object
    GoogleCloudAssuredworkloadsV1WorkloadResourceSettings:
      description: Represent the custom settings for the resources to be created.
      properties:
        displayName:
          description: User-assigned resource display name. If not empty it will be used to create a resource with the specified name.
          type: string
        resourceId:
          description: Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail.
          type: string
        resourceType:
          description: Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)
          enum:
            - RESOURCE_TYPE_UNSPECIFIED
            - CONSUMER_PROJECT
            - ENCRYPTION_KEYS_PROJECT
            - KEYRING
          type: string
      type: object
    GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata:
      description: Operation metadata to give request details of CreateWorkload.
      properties:
        complianceRegime:
          description: Optional. Compliance controls that should be applied to the resources managed by the workload.
          enum:
            - COMPLIANCE_REGIME_UNSPECIFIED
            - IL4
            - CJIS
            - FEDRAMP_HIGH
            - FEDRAMP_MODERATE
            - US_REGIONAL_ACCESS
            - HIPAA
            - HITRUST
            - EU_REGIONS_AND_SUPPORT
          type: string
        createTime:
          description: Optional. Time when the operation was created.
          format: google-datetime
          type: string
        displayName:
          description: Optional. The display name of the workload.
          type: string
        parent:
          description: Optional. The parent of the workload.
          type: string
        resourceSettings:
          description: Optional. Resource properties in the input that are used for creating/customizing workload resources.
          items:
            $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
          type: array
      type: object
    GoogleCloudAssuredworkloadsV1beta1Workload:
      description: An Workload object for managing highly regulated workloads of cloud customers.
      properties:
        billingAccount:
          description: Input only. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`.
          type: string
        cjisSettings:
          $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings"
          description: Required. Input only. Immutable. Settings specific to resources needed for CJIS.
        complianceRegime:
          description: Required. Immutable. Compliance Regime associated with this workload.
          enum:
            - COMPLIANCE_REGIME_UNSPECIFIED
            - IL4
            - CJIS
            - FEDRAMP_HIGH
            - FEDRAMP_MODERATE
            - US_REGIONAL_ACCESS
            - HIPAA
            - HITRUST
            - EU_REGIONS_AND_SUPPORT
          type: string
        createTime:
          description: Output only. Immutable. The Workload creation timestamp.
          format: google-datetime
          readOnly: true
          type: string
        displayName:
          description: "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload"
          type: string
        etag:
          description: Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations.
          type: string
        fedrampHighSettings:
          $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings"
          description: Required. Input only. Immutable. Settings specific to resources needed for FedRAMP High.
        fedrampModerateSettings:
          $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings"
          description: Required. Input only. Immutable. Settings specific to resources needed for FedRAMP Moderate.
        il4Settings:
          $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings"
          description: Required. Input only. Immutable. Settings specific to resources needed for IL4.
        kmsSettings:
          $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
          description: Input only. Settings used to create a CMEK crypto key. When set a project with a KMS CMEK key is provisioned. This field is mandatory for a subset of Compliance Regimes.
        labels:
          additionalProperties:
            type: string
          description: Optional. Labels applied to the workload.
          type: object
        name:
          description: "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only."
          type: string
        provisionedResourcesParent:
          description: "Input only. The parent resource for the resources managed by this Assured Workload. May be either empty or a folder resource which is a child of the Workload parent. If not specified all resources are created under the parent organization. Format: folders/{folder_id}"
          type: string
        resourceSettings:
          description: Input only. Resource properties that are used to customize workload resources. These properties (such as custom project id) will be used to create workload resources if possible. This field is optional.
          items:
            $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
          type: array
        resources:
          description: Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only.
          items:
            $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo"
          readOnly: true
          type: array
      type: object
    GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings:
      description: Settings specific to resources needed for CJIS.
      properties:
        kmsSettings:
          $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
          description: Required. Input only. Immutable. Settings used to create a CMEK crypto key.
      type: object
    GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings:
      description: Settings specific to resources needed for FedRAMP High.
      properties:
        kmsSettings:
          $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
          description: Required. Input only. Immutable. Settings used to create a CMEK crypto key.
      type: object
    GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings:
      description: Settings specific to resources needed for FedRAMP Moderate.
      properties:
        kmsSettings:
          $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
          description: Required. Input only. Immutable. Settings used to create a CMEK crypto key.
      type: object
    GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings:
      description: Settings specific to resources needed for IL4.
      properties:
        kmsSettings:
          $ref: "#/components/schemas/GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
          description: Required. Input only. Immutable. Settings used to create a CMEK crypto key.
      type: object
    GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings:
      description: Settings specific to the Key Management Service.
      properties:
        nextRotationTime:
          description: Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary.
          format: google-datetime
          type: string
        rotationPeriod:
          description: Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours.
          format: google-duration
          type: string
      type: object
    GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo:
      description: Represent the resources that are children of this Workload.
      properties:
        resourceId:
          description: Resource identifier. For a project this represents project_number.
          format: int64
          type: string
        resourceType:
          description: Indicates the type of resource.
          enum:
            - RESOURCE_TYPE_UNSPECIFIED
            - CONSUMER_PROJECT
            - CONSUMER_FOLDER
            - ENCRYPTION_KEYS_PROJECT
            - KEYRING
          type: string
      type: object
    GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings:
      description: Represent the custom settings for the resources to be created.
      properties:
        displayName:
          description: User-assigned resource display name. If not empty it will be used to create a resource with the specified name.
          type: string
        resourceId:
          description: Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail.
          type: string
        resourceType:
          description: Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)
          enum:
            - RESOURCE_TYPE_UNSPECIFIED
            - CONSUMER_PROJECT
            - CONSUMER_FOLDER
            - ENCRYPTION_KEYS_PROJECT
            - KEYRING
          type: string
      type: object
    GoogleLongrunningListOperationsResponse:
      description: The response message for Operations.ListOperations.
      properties:
        nextPageToken:
          description: The standard List next-page token.
          type: string
        operations:
          description: A list of operations that matches the specified filter in the request.
          items:
            $ref: "#/components/schemas/GoogleLongrunningOperation"
          type: array
      type: object
    GoogleLongrunningOperation:
      description: This resource represents a long-running operation that is the result of a network API call.
      properties:
        done:
          description: If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.
          type: boolean
        error:
          $ref: "#/components/schemas/GoogleRpcStatus"
          description: The error result of the operation in case of failure or cancellation.
        metadata:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          description: Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.
          type: object
        name:
          description: The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.
          type: string
        response:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          description: The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.
          type: object
      type: object
    GoogleProtobufEmpty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
      properties: {}
      type: object
    GoogleRpcStatus:
      description: "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      properties:
        code:
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
          type: integer
        details:
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
            type: object
          type: array
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud Platform data
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud Platform data
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
