swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2016-12-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/network/resource-manager/Microsoft.Network/2016-12-01/publicIpAddress.json'
      version: '2.0'
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-publicIpAddress
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/publicIPAddresses':
    get:
      description: Gets all the public IP addresses in a subscription.
      operationId: PublicIPAddresses_ListAll
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of PublicIPAddress resources.
          schema:
            $ref: '#/definitions/PublicIPAddressListResult'
      tags:
        - PublicIPAddresses
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPAddresses':
    get:
      description: Gets all public IP addresses in a resource group.
      operationId: PublicIPAddresses_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of PublicIPAddress resources.
          schema:
            $ref: '#/definitions/PublicIPAddressListResult'
      tags:
        - PublicIPAddresses
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPAddresses/{publicIpAddressName}':
    delete:
      description: Deletes the specified public IP address.
      operationId: PublicIPAddresses_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: publicIpAddressName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
      tags:
        - PublicIPAddresses
      x-ms-long-running-operation: true
    get:
      description: Gets the specified public IP address in a specified resource group.
      operationId: PublicIPAddresses_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: publicIpAddressName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting PublicIPAddress resource.
          schema:
            $ref: '#/definitions/PublicIPAddress'
      tags:
        - PublicIPAddresses
    put:
      description: Creates or updates a static or dynamic public IP address.
      operationId: PublicIPAddresses_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the public IP address.
          in: path
          name: publicIpAddressName
          required: true
          type: string
        - description: Parameters supplied to the create or update public IP address operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/PublicIPAddress'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting PublicIPAddress resource.
          schema:
            $ref: '#/definitions/PublicIPAddress'
        '201':
          description: Create successful. The operation returns the resulting PublicIPAddress resource.
          schema:
            $ref: '#/definitions/PublicIPAddress'
      tags:
        - PublicIPAddresses
      x-ms-long-running-operation: true
definitions:
  PublicIPAddress:
    allOf:
      - properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Public IP address resource.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      properties: {}
  PublicIPAddressDnsSettings:
    description: Contains FQDN of the DNS record associated with the public IP address
    properties:
      domainNameLabel:
        description: 'Gets or sets the Domain name label.The concatenation of the domain name label and the regionalized DNS zone make up the fully qualified domain name associated with the public IP address. If a domain name label is specified, an A DNS record is created for the public IP in the Microsoft Azure DNS system.'
        type: string
      fqdn:
        description: 'Gets the FQDN, Fully qualified domain name of the A DNS record associated with the public IP. This is the concatenation of the domainNameLabel and the regionalized DNS zone.'
        type: string
      reverseFqdn:
        description: 'Gets or Sets the Reverse FQDN. A user-visible, fully qualified domain name that resolves to this public IP address. If the reverseFqdn is specified, then a PTR DNS record is created pointing from the IP address in the in-addr.arpa domain to the reverse FQDN. '
        type: string
  PublicIPAddressListResult:
    description: Response for ListPublicIpAddresses API service call.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: A list of public IP addresses that exists in a resource group.
        items:
          $ref: '#/definitions/PublicIPAddress'
        type: array
  PublicIPAddressPropertiesFormat:
    description: Public IP address properties.
    properties:
      dnsSettings:
        description: Contains FQDN of the DNS record associated with the public IP address
        properties:
          domainNameLabel:
            description: 'Gets or sets the Domain name label.The concatenation of the domain name label and the regionalized DNS zone make up the fully qualified domain name associated with the public IP address. If a domain name label is specified, an A DNS record is created for the public IP in the Microsoft Azure DNS system.'
            type: string
          fqdn:
            description: 'Gets the FQDN, Fully qualified domain name of the A DNS record associated with the public IP. This is the concatenation of the domainNameLabel and the regionalized DNS zone.'
            type: string
          reverseFqdn:
            description: 'Gets or Sets the Reverse FQDN. A user-visible, fully qualified domain name that resolves to this public IP address. If the reverseFqdn is specified, then a PTR DNS record is created pointing from the IP address in the in-addr.arpa domain to the reverse FQDN. '
            type: string
      idleTimeoutInMinutes:
        description: The idle timeout of the public IP address.
        format: int32
        type: integer
      ipAddress:
        type: string
      ipConfiguration:
        allOf:
          - properties:
              id:
                description: Resource ID.
                type: string
            x-ms-azure-resource: true
        description: IPConfiguration
        properties:
          etag:
            description: A unique read-only string that changes whenever the resource is updated.
            type: string
          name:
            description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
            type: string
          properties:
            description: Properties of IP configuration.
            properties:
              privateIPAddress:
                description: The private IP address of the IP configuration.
                type: string
              privateIPAllocationMethod:
                description: The private IP allocation method. Possible values are 'Static' and 'Dynamic'.
                enum:
                  - Static
                  - Dynamic
                type: string
                x-ms-enum:
                  modelAsString: true
                  name: IPAllocationMethod
              provisioningState:
                description: 'Gets the provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                type: string
              publicIPAddress:
                allOf:
                  - properties:
                      id:
                        description: Resource ID.
                        type: string
                      location:
                        description: Resource location.
                        type: string
                      name:
                        description: Resource name.
                        readOnly: true
                        type: string
                      tags:
                        additionalProperties:
                          type: string
                        description: Resource tags.
                        type: object
                      type:
                        description: Resource type.
                        readOnly: true
                        type: string
                    x-ms-azure-resource: true
                description: Public IP address resource.
                properties:
                  etag:
                    description: A unique read-only string that changes whenever the resource is updated.
                    type: string
                  properties: {}
              subnet:
                allOf:
                  - properties:
                      id:
                        description: Resource ID.
                        type: string
                    x-ms-azure-resource: true
                description: Subnet in a virtual network resource.
                properties:
                  etag:
                    description: A unique read-only string that changes whenever the resource is updated.
                    type: string
                  name:
                    description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                    type: string
                  properties:
                    properties:
                      addressPrefix:
                        description: The address prefix for the subnet.
                        type: string
                      ipConfigurations: {}
                      networkSecurityGroup:
                        allOf:
                          - properties:
                              id:
                                description: Resource ID.
                                type: string
                              location:
                                description: Resource location.
                                type: string
                              name:
                                description: Resource name.
                                readOnly: true
                                type: string
                              tags:
                                additionalProperties:
                                  type: string
                                description: Resource tags.
                                type: object
                              type:
                                description: Resource type.
                                readOnly: true
                                type: string
                            x-ms-azure-resource: true
                        description: NetworkSecurityGroup resource.
                        properties:
                          etag:
                            description: A unique read-only string that changes whenever the resource is updated.
                            type: string
                          properties:
                            description: Network Security Group resource.
                            properties:
                              defaultSecurityRules:
                                description: The default security rules of network security group.
                                items:
                                  allOf:
                                    - properties:
                                        id:
                                          description: Resource ID.
                                          type: string
                                      x-ms-azure-resource: true
                                  description: Network security rule.
                                  properties:
                                    etag:
                                      description: A unique read-only string that changes whenever the resource is updated.
                                      type: string
                                    name:
                                      description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                                      type: string
                                    properties:
                                      properties:
                                        access:
                                          description: 'The network traffic is allowed or denied. Possible values are: ''Allow'' and ''Deny''.'
                                          enum:
                                            - Allow
                                            - Deny
                                          type: string
                                          x-ms-enum:
                                            modelAsString: true
                                            name: SecurityRuleAccess
                                        description:
                                          description: A description for this rule. Restricted to 140 chars.
                                          type: string
                                        destinationAddressPrefix:
                                          description: 'The destination address prefix. CIDR or source IP range. Asterix ''*'' can also be used to match all source IPs. Default tags such as ''VirtualNetwork'', ''AzureLoadBalancer'' and ''Internet'' can also be used.'
                                          type: string
                                        destinationPortRange:
                                          description: The destination port or range. Integer or range between 0 and 65535. Asterix '*' can also be used to match all ports.
                                          type: string
                                        direction:
                                          description: 'The direction of the rule. The direction specifies if rule will be evaluated on incoming or outcoming traffic. Possible values are: ''Inbound'' and ''Outbound''.'
                                          enum:
                                            - Inbound
                                            - Outbound
                                          type: string
                                          x-ms-enum:
                                            modelAsString: true
                                            name: SecurityRuleDirection
                                        priority:
                                          description: 'The priority of the rule. The value can be between 100 and 4096. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule.'
                                          format: int32
                                          type: integer
                                        protocol:
                                          description: 'Network protocol this rule applies to. Possible values are ''Tcp'', ''Udp'', and ''*''.'
                                          enum:
                                            - Tcp
                                            - Udp
                                            - '*'
                                          type: string
                                          x-ms-enum:
                                            modelAsString: true
                                            name: SecurityRuleProtocol
                                        provisioningState:
                                          description: 'The provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                                          type: string
                                        sourceAddressPrefix:
                                          description: 'The CIDR or source IP range. Asterix ''*'' can also be used to match all source IPs. Default tags such as ''VirtualNetwork'', ''AzureLoadBalancer'' and ''Internet'' can also be used. If this is an ingress rule, specifies where network traffic originates from. '
                                          type: string
                                        sourcePortRange:
                                          description: The source port or range. Integer or range between 0 and 65535. Asterix '*' can also be used to match all ports.
                                          type: string
                                      required:
                                        - protocol
                                        - sourceAddressPrefix
                                        - destinationAddressPrefix
                                        - access
                                        - direction
                                type: array
                              networkInterfaces:
                                description: A collection of references to network interfaces.
                                items:
                                  allOf:
                                    - properties:
                                        id:
                                          description: Resource ID.
                                          type: string
                                        location:
                                          description: Resource location.
                                          type: string
                                        name:
                                          description: Resource name.
                                          readOnly: true
                                          type: string
                                        tags:
                                          additionalProperties:
                                            type: string
                                          description: Resource tags.
                                          type: object
                                        type:
                                          description: Resource type.
                                          readOnly: true
                                          type: string
                                      x-ms-azure-resource: true
                                  description: A network interface in a resource group.
                                  properties:
                                    etag:
                                      description: A unique read-only string that changes whenever the resource is updated.
                                      type: string
                                    properties:
                                      description: 'NetworkInterface properties. '
                                      properties:
                                        dnsSettings:
                                          description: DNS settings of a network interface.
                                          properties:
                                            appliedDnsServers:
                                              description: 'If the VM that uses this NIC is part of an Availability Set, then this list will have the union of all DNS servers from all NICs that are part of the Availability Set. This property is what is configured on each of those VMs.'
                                              items:
                                                type: string
                                              type: array
                                            dnsServers:
                                              description: 'List of DNS servers IP addresses. Use ''AzureProvidedDNS'' to switch to azure provided DNS resolution. ''AzureProvidedDNS'' value cannot be combined with other IPs, it must be the only value in dnsServers collection.'
                                              items:
                                                type: string
                                              type: array
                                            internalDnsNameLabel:
                                              description: Relative DNS name for this NIC used for internal communications between VMs in the same virtual network.
                                              type: string
                                            internalDomainNameSuffix:
                                              description: 'Even if internalDnsNameLabel is not specified, a DNS entry is created for the primary NIC of the VM. This DNS name can be constructed by concatenating the VM name with the value of internalDomainNameSuffix.'
                                              type: string
                                            internalFqdn:
                                              description: Fully qualified DNS name supporting internal communications between VMs in the same virtual network.
                                              type: string
                                        enableAcceleratedNetworking:
                                          description: If the network interface is accelerated networking enabled.
                                          type: boolean
                                        enableIPForwarding:
                                          description: Indicates whether IP forwarding is enabled on this network interface.
                                          type: boolean
                                        ipConfigurations:
                                          description: A list of IPConfigurations of the network interface.
                                          items:
                                            allOf:
                                              - properties:
                                                  id:
                                                    description: Resource ID.
                                                    type: string
                                                x-ms-azure-resource: true
                                            description: IPConfiguration in a network interface.
                                            properties:
                                              etag:
                                                description: A unique read-only string that changes whenever the resource is updated.
                                                type: string
                                              name:
                                                description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                                                type: string
                                              properties:
                                                description: Properties of IP configuration.
                                                properties:
                                                  applicationGatewayBackendAddressPools:
                                                    description: The reference of ApplicationGatewayBackendAddressPool resource.
                                                    items:
                                                      allOf:
                                                        - properties:
                                                            id:
                                                              description: Resource ID.
                                                              type: string
                                                          x-ms-azure-resource: true
                                                      description: Backend Address Pool of an application gateway.
                                                      properties:
                                                        etag:
                                                          description: A unique read-only string that changes whenever the resource is updated.
                                                          type: string
                                                        name:
                                                          description: Resource that is unique within a resource group. This name can be used to access the resource.
                                                          type: string
                                                        properties:
                                                          description: Properties of Backend Address Pool of an application gateway.
                                                          properties:
                                                            backendAddresses:
                                                              description: Backend addresses
                                                              items:
                                                                description: Backend address of an application gateway.
                                                                properties:
                                                                  fqdn:
                                                                    description: Fully qualified domain name (FQDN).
                                                                    type: string
                                                                  ipAddress:
                                                                    description: IP address
                                                                    type: string
                                                              type: array
                                                            backendIPConfigurations:
                                                              description: Collection of references to IPs defined in network interfaces.
                                                              items: {}
                                                              type: array
                                                            provisioningState:
                                                              description: 'Provisioning state of the backend address pool resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                                                              type: string
                                                    type: array
                                                  loadBalancerBackendAddressPools:
                                                    description: The reference of LoadBalancerBackendAddressPool resource.
                                                    items:
                                                      allOf:
                                                        - properties:
                                                            id:
                                                              description: Resource ID.
                                                              type: string
                                                          x-ms-azure-resource: true
                                                      description: Pool of backend IP addresses.
                                                      properties:
                                                        etag:
                                                          description: A unique read-only string that changes whenever the resource is updated.
                                                          type: string
                                                        name:
                                                          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource.
                                                          type: string
                                                        properties:
                                                          description: Properties of the backend address pool.
                                                          properties:
                                                            backendIPConfigurations:
                                                              description: Gets collection of references to IP addresses defined in network interfaces.
                                                              items: {}
                                                              readOnly: true
                                                              type: array
                                                            loadBalancingRules:
                                                              description: Gets load balancing rules that use this backend address pool.
                                                              items:
                                                                properties:
                                                                  id:
                                                                    description: Resource ID.
                                                                    type: string
                                                                x-ms-azure-resource: true
                                                              readOnly: true
                                                              type: array
                                                            outboundNatRule:
                                                              properties:
                                                                id:
                                                                  description: Resource ID.
                                                                  type: string
                                                              x-ms-azure-resource: true
                                                            provisioningState:
                                                              description: 'Get provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                                                              type: string
                                                    type: array
                                                  loadBalancerInboundNatRules:
                                                    description: A list of references of LoadBalancerInboundNatRules.
                                                    items:
                                                      allOf:
                                                        - properties:
                                                            id:
                                                              description: Resource ID.
                                                              type: string
                                                          x-ms-azure-resource: true
                                                      description: Inbound NAT rule of the load balancer.
                                                      properties:
                                                        etag:
                                                          description: A unique read-only string that changes whenever the resource is updated.
                                                          type: string
                                                        name:
                                                          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource.
                                                          type: string
                                                        properties:
                                                          description: Properties of the inbound NAT rule.
                                                          properties:
                                                            backendIPConfiguration: {}
                                                            backendPort:
                                                              description: The port used for the internal endpoint. Acceptable values range from 1 to 65535.
                                                              format: int32
                                                              type: integer
                                                            enableFloatingIP:
                                                              description: Configures a virtual machine's endpoint for the floating IP capability required to configure a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn Availability Groups in SQL server. This setting can't be changed after you create the endpoint.
                                                              type: boolean
                                                            frontendIPConfiguration:
                                                              properties:
                                                                id:
                                                                  description: Resource ID.
                                                                  type: string
                                                              x-ms-azure-resource: true
                                                            frontendPort:
                                                              description: The port for the external endpoint. Port numbers for each rule must be unique within the Load Balancer. Acceptable values range from 1 to 65534.
                                                              format: int32
                                                              type: integer
                                                            idleTimeoutInMinutes:
                                                              description: The timeout for the TCP idle connection. The value can be set between 4 and 30 minutes. The default value is 4 minutes. This element is only used when the protocol is set to TCP.
                                                              format: int32
                                                              type: integer
                                                            protocol:
                                                              description: 'The transport protocol for the endpoint. Possible values are: ''Udp'' or ''Tcp'''
                                                              enum:
                                                                - Udp
                                                                - Tcp
                                                              type: string
                                                              x-ms-enum:
                                                                modelAsString: true
                                                                name: TransportProtocol
                                                            provisioningState:
                                                              description: 'Gets the provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                                                              type: string
                                                    type: array
                                                  primary:
                                                    description: Gets whether this is a primary customer address on the network interface.
                                                    type: boolean
                                                  privateIPAddress:
                                                    type: string
                                                  privateIPAddressVersion:
                                                    description: 'Available from Api-Version 2016-03-30 onwards, it represents whether the specific ipconfiguration is IPv4 or IPv6. Default is taken as IPv4.  Possible values are: ''IPv4'' and ''IPv6''.'
                                                    enum:
                                                      - IPv4
                                                      - IPv6
                                                    type: string
                                                    x-ms-enum:
                                                      modelAsString: true
                                                      name: IPVersion
                                                  privateIPAllocationMethod:
                                                    description: 'Defines how a private IP address is assigned. Possible values are: ''Static'' and ''Dynamic''.'
                                                    enum:
                                                      - Static
                                                      - Dynamic
                                                    type: string
                                                    x-ms-enum:
                                                      modelAsString: true
                                                      name: IPAllocationMethod
                                                  provisioningState:
                                                    type: string
                                                  publicIPAddress:
                                                    allOf:
                                                      - properties:
                                                          id:
                                                            description: Resource ID.
                                                            type: string
                                                          location:
                                                            description: Resource location.
                                                            type: string
                                                          name:
                                                            description: Resource name.
                                                            readOnly: true
                                                            type: string
                                                          tags:
                                                            additionalProperties:
                                                              type: string
                                                            description: Resource tags.
                                                            type: object
                                                          type:
                                                            description: Resource type.
                                                            readOnly: true
                                                            type: string
                                                        x-ms-azure-resource: true
                                                    description: Public IP address resource.
                                                    properties:
                                                      etag:
                                                        description: A unique read-only string that changes whenever the resource is updated.
                                                        type: string
                                                      properties: {}
                                                  subnet: {}
                                          type: array
                                        macAddress:
                                          description: The MAC address of the network interface.
                                          type: string
                                        networkSecurityGroup: {}
                                        primary:
                                          description: Gets whether this is a primary network interface on a virtual machine.
                                          type: boolean
                                        provisioningState:
                                          description: 'The provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                                          type: string
                                        resourceGuid:
                                          description: The resource GUID property of the network interface resource.
                                          type: string
                                        virtualMachine:
                                          properties:
                                            id:
                                              description: Resource ID.
                                              type: string
                                          x-ms-azure-resource: true
                                readOnly: true
                                type: array
                              provisioningState:
                                description: 'The provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                                type: string
                              resourceGuid:
                                description: The resource GUID property of the network security group resource.
                                type: string
                              securityRules:
                                description: A collection of security rules of the network security group.
                                items:
                                  allOf:
                                    - properties:
                                        id:
                                          description: Resource ID.
                                          type: string
                                      x-ms-azure-resource: true
                                  description: Network security rule.
                                  properties:
                                    etag:
                                      description: A unique read-only string that changes whenever the resource is updated.
                                      type: string
                                    name:
                                      description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                                      type: string
                                    properties:
                                      properties:
                                        access:
                                          description: 'The network traffic is allowed or denied. Possible values are: ''Allow'' and ''Deny''.'
                                          enum:
                                            - Allow
                                            - Deny
                                          type: string
                                          x-ms-enum:
                                            modelAsString: true
                                            name: SecurityRuleAccess
                                        description:
                                          description: A description for this rule. Restricted to 140 chars.
                                          type: string
                                        destinationAddressPrefix:
                                          description: 'The destination address prefix. CIDR or source IP range. Asterix ''*'' can also be used to match all source IPs. Default tags such as ''VirtualNetwork'', ''AzureLoadBalancer'' and ''Internet'' can also be used.'
                                          type: string
                                        destinationPortRange:
                                          description: The destination port or range. Integer or range between 0 and 65535. Asterix '*' can also be used to match all ports.
                                          type: string
                                        direction:
                                          description: 'The direction of the rule. The direction specifies if rule will be evaluated on incoming or outcoming traffic. Possible values are: ''Inbound'' and ''Outbound''.'
                                          enum:
                                            - Inbound
                                            - Outbound
                                          type: string
                                          x-ms-enum:
                                            modelAsString: true
                                            name: SecurityRuleDirection
                                        priority:
                                          description: 'The priority of the rule. The value can be between 100 and 4096. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule.'
                                          format: int32
                                          type: integer
                                        protocol:
                                          description: 'Network protocol this rule applies to. Possible values are ''Tcp'', ''Udp'', and ''*''.'
                                          enum:
                                            - Tcp
                                            - Udp
                                            - '*'
                                          type: string
                                          x-ms-enum:
                                            modelAsString: true
                                            name: SecurityRuleProtocol
                                        provisioningState:
                                          description: 'The provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                                          type: string
                                        sourceAddressPrefix:
                                          description: 'The CIDR or source IP range. Asterix ''*'' can also be used to match all source IPs. Default tags such as ''VirtualNetwork'', ''AzureLoadBalancer'' and ''Internet'' can also be used. If this is an ingress rule, specifies where network traffic originates from. '
                                          type: string
                                        sourcePortRange:
                                          description: The source port or range. Integer or range between 0 and 65535. Asterix '*' can also be used to match all ports.
                                          type: string
                                      required:
                                        - protocol
                                        - sourceAddressPrefix
                                        - destinationAddressPrefix
                                        - access
                                        - direction
                                type: array
                              subnets:
                                description: A collection of references to subnets.
                                items: {}
                                readOnly: true
                                type: array
                      provisioningState:
                        description: The provisioning state of the resource.
                        type: string
                      resourceNavigationLinks:
                        description: Gets an array of references to the external resources using subnet.
                        items:
                          allOf:
                            - properties:
                                id:
                                  description: Resource ID.
                                  type: string
                              x-ms-azure-resource: true
                          description: ResourceNavigationLink resource.
                          properties:
                            etag:
                              description: A unique read-only string that changes whenever the resource is updated.
                              readOnly: true
                              type: string
                            name:
                              description: Name of the resource that is unique within a resource group. This name can be used to access the resource.
                              type: string
                            properties:
                              description: Properties of ResourceNavigationLink.
                              properties:
                                link:
                                  description: Link to the external resource
                                  type: string
                                linkedResourceType:
                                  description: Resource type of the linked resource.
                                  type: string
                                provisioningState:
                                  description: Provisioning state of the ResourceNavigationLink resource.
                                  readOnly: true
                                  type: string
                        type: array
                      routeTable:
                        properties:
                          properties:
                            properties:
                              subnets:
                                items:
                                  properties:
                                    properties:
                                      properties:
                                        ipConfigurations:
                                          items: {}
      provisioningState:
        description: 'The provisioning state of the PublicIP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
        type: string
      publicIPAddressVersion:
        description: 'The public IP address version. Possible values are: ''IPv4'' and ''IPv6''.'
        enum:
          - IPv4
          - IPv6
        type: string
        x-ms-enum:
          modelAsString: true
          name: IPVersion
      publicIPAllocationMethod:
        description: 'The public IP allocation method. Possible values are: ''Static'' and ''Dynamic''.'
        enum:
          - Static
          - Dynamic
        type: string
        x-ms-enum:
          modelAsString: true
          name: IPAllocationMethod
      resourceGuid:
        description: The resource GUID property of the public IP resource.
        type: string
