openapi: 3.0.0
servers:
  - url: 'https://datastore.googleapis.com/'
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: |
    Accesses the schemaless NoSQL database to provide fully managed, robust, scalable storage for your application.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Cloud Datastore
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - storage
  x-logo:
    url: 'https://cloud.google.com/_static/images/new-gcp-logo.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://datastore.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: datastore
externalDocs:
  url: 'https://cloud.google.com/datastore/'
tags:
  - name: projects
paths:
  '/v1/projects/{projectId}:allocateIds':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/pp'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/bearer_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: |-
        Allocates IDs for the given keys, which is useful for referencing an entity
        before it is inserted.
      operationId: datastore.projects.allocateIds
      parameters:
        - description: The ID of the project against which to make the request.
          in: path
          name: projectId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AllocateIdsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllocateIdsRequest'
  '/v1/projects/{projectId}:beginTransaction':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/pp'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/bearer_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: Begins a new transaction.
      operationId: datastore.projects.beginTransaction
      parameters:
        - description: The ID of the project against which to make the request.
          in: path
          name: projectId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BeginTransactionResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeginTransactionRequest'
  '/v1/projects/{projectId}:commit':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/pp'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/bearer_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: |-
        Commits a transaction, optionally creating, deleting or modifying some
        entities.
      operationId: datastore.projects.commit
      parameters:
        - description: The ID of the project against which to make the request.
          in: path
          name: projectId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommitResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommitRequest'
  '/v1/projects/{projectId}:lookup':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/pp'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/bearer_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: Looks up entities by key.
      operationId: datastore.projects.lookup
      parameters:
        - description: The ID of the project against which to make the request.
          in: path
          name: projectId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LookupResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupRequest'
  '/v1/projects/{projectId}:rollback':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/pp'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/bearer_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: Rolls back a transaction.
      operationId: datastore.projects.rollback
      parameters:
        - description: The ID of the project against which to make the request.
          in: path
          name: projectId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RollbackResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RollbackRequest'
  '/v1/projects/{projectId}:runQuery':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/pp'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/bearer_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: Queries for entities.
      operationId: datastore.projects.runQuery
      parameters:
        - description: The ID of the project against which to make the request.
          in: path
          name: projectId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RunQueryResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunQueryRequest'
components:
  schemas:
    AllocateIdsRequest:
      description: The request for Datastore.AllocateIds.
      properties:
        keys:
          description: |-
            A list of keys with incomplete key paths for which to allocate IDs.
            No key may be reserved/read-only.
          items:
            $ref: '#/components/schemas/Key'
          type: array
      type: object
    AllocateIdsResponse:
      description: The response for Datastore.AllocateIds.
      properties:
        keys:
          description: |-
            The keys specified in the request (in the same order), each with
            its key path completed with a newly allocated ID.
          items:
            $ref: '#/components/schemas/Key'
          type: array
      type: object
    ArrayValue:
      description: An array value.
      properties:
        values:
          description: |-
            Values in the array.
            The order of this array may not be preserved if it contains a mix of
            indexed and unindexed values.
          items:
            $ref: '#/components/schemas/Value'
          type: array
      type: object
    BeginTransactionRequest:
      description: The request for Datastore.BeginTransaction.
      properties: {}
      type: object
    BeginTransactionResponse:
      description: The response for Datastore.BeginTransaction.
      properties:
        transaction:
          description: The transaction identifier (always present).
          format: byte
          type: string
      type: object
    CommitRequest:
      description: The request for Datastore.Commit.
      properties:
        mode:
          description: The type of commit to perform. Defaults to `TRANSACTIONAL`.
          enum:
            - MODE_UNSPECIFIED
            - TRANSACTIONAL
            - NON_TRANSACTIONAL
          type: string
        mutations:
          description: |-
            The mutations to perform.

            When mode is `TRANSACTIONAL`, mutations affecting a single entity are
            applied in order. The following sequences of mutations affecting a single
            entity are not permitted in a single `Commit` request:

            - `insert` followed by `insert`
            - `update` followed by `insert`
            - `upsert` followed by `insert`
            - `delete` followed by `update`

            When mode is `NON_TRANSACTIONAL`, no two mutations may affect a single
            entity.
          items:
            $ref: '#/components/schemas/Mutation'
          type: array
        transaction:
          description: |-
            The identifier of the transaction associated with the commit. A
            transaction identifier is returned by a call to
            Datastore.BeginTransaction.
          format: byte
          type: string
      type: object
    CommitResponse:
      description: The response for Datastore.Commit.
      properties:
        indexUpdates:
          description: |-
            The number of index entries updated during the commit, or zero if none were
            updated.
          format: int32
          type: integer
        mutationResults:
          description: |-
            The result of performing the mutations.
            The i-th mutation result corresponds to the i-th mutation in the request.
          items:
            $ref: '#/components/schemas/MutationResult'
          type: array
      type: object
    CompositeFilter:
      description: A filter that merges multiple other filters using the given operator.
      properties:
        filters:
          description: |-
            The list of filters to combine.
            Must contain at least one filter.
          items:
            $ref: '#/components/schemas/Filter'
          type: array
        op:
          description: The operator for combining multiple filters.
          enum:
            - OPERATOR_UNSPECIFIED
            - AND
          type: string
      type: object
    Entity:
      description: |-
        A Datastore data object.

        An entity is limited to 1 megabyte when stored. That _roughly_
        corresponds to a limit of 1 megabyte for the serialized form of this
        message.
      properties:
        key:
          $ref: '#/components/schemas/Key'
        properties:
          additionalProperties:
            $ref: '#/components/schemas/Value'
          description: |-
            The entity's properties.
            The map's keys are property names.
            A property name matching regex `__.*__` is reserved.
            A reserved property name is forbidden in certain documented contexts.
            The name must not contain more than 500 characters.
            The name cannot be `""`.
          type: object
      type: object
    EntityResult:
      description: The result of fetching an entity from Datastore.
      properties:
        cursor:
          description: |-
            A cursor that points to the position after the result entity.
            Set only when the `EntityResult` is part of a `QueryResultBatch` message.
          format: byte
          type: string
        entity:
          $ref: '#/components/schemas/Entity'
        version:
          description: |-
            The version of the entity, a strictly positive number that monotonically
            increases with changes to the entity.

            This field is set for `FULL` entity
            results.

            For missing entities in `LookupResponse`, this
            is the version of the snapshot that was used to look up the entity, and it
            is always set except for eventually consistent reads.
          format: int64
          type: string
      type: object
    Filter:
      description: A holder for any type of filter.
      properties:
        compositeFilter:
          $ref: '#/components/schemas/CompositeFilter'
        propertyFilter:
          $ref: '#/components/schemas/PropertyFilter'
      type: object
    GqlQuery:
      description: 'A [GQL query](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).'
      properties:
        allowLiterals:
          description: |-
            When false, the query string must not contain any literals and instead must
            bind all values. For example,
            `SELECT * FROM Kind WHERE a = 'string literal'` is not allowed, while
            `SELECT * FROM Kind WHERE a = @value` is.
          type: boolean
        namedBindings:
          additionalProperties:
            $ref: '#/components/schemas/GqlQueryParameter'
          description: |-
            For each non-reserved named binding site in the query string, there must be
            a named parameter with that name, but not necessarily the inverse.

            Key must match regex `A-Za-z_$*`, must not match regex
            `__.*__`, and must not be `""`.
          type: object
        positionalBindings:
          description: |-
            Numbered binding site @1 references the first numbered parameter,
            effectively using 1-based indexing, rather than the usual 0.

            For each binding site numbered i in `query_string`, there must be an i-th
            numbered parameter. The inverse must also be true.
          items:
            $ref: '#/components/schemas/GqlQueryParameter'
          type: array
        queryString:
          description: |-
            A string of the format described
            [here](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).
          type: string
      type: object
    GqlQueryParameter:
      description: A binding parameter for a GQL query.
      properties:
        cursor:
          description: |-
            A query cursor. Query cursors are returned in query
            result batches.
          format: byte
          type: string
        value:
          $ref: '#/components/schemas/Value'
      type: object
    Key:
      description: |-
        A unique identifier for an entity.
        If a key's partition ID or any of its path kinds or names are
        reserved/read-only, the key is reserved/read-only.
        A reserved/read-only key is forbidden in certain documented contexts.
      properties:
        partitionId:
          $ref: '#/components/schemas/PartitionId'
        path:
          description: |-
            The entity path.
            An entity path consists of one or more elements composed of a kind and a
            string or numerical identifier, which identify entities. The first
            element identifies a _root entity_, the second element identifies
            a _child_ of the root entity, the third element identifies a child of the
            second entity, and so forth. The entities identified by all prefixes of
            the path are called the element's _ancestors_.

            An entity path is always fully complete: *all* of the entity's ancestors
            are required to be in the path along with the entity identifier itself.
            The only exception is that in some documented cases, the identifier in the
            last path element (for the entity) itself may be omitted. For example,
            the last path element of the key of `Mutation.insert` may have no
            identifier.

            A path can never be empty, and a path can have at most 100 elements.
          items:
            $ref: '#/components/schemas/PathElement'
          type: array
      type: object
    KindExpression:
      description: A representation of a kind.
      properties:
        name:
          description: The name of the kind.
          type: string
      type: object
    LatLng:
      description: |-
        An object representing a latitude/longitude pair. This is expressed as a pair
        of doubles representing degrees latitude and degrees longitude. Unless
        specified otherwise, this must conform to the
        <a href="http://www.unoosa.org/pdf/icg/2012/template/WGS_84.pdf">WGS84
        standard</a>. Values must be within normalized ranges.

        Example of normalization code in Python:

            def NormalizeLongitude(longitude):
              """Wraps decimal degrees longitude to [-180.0, 180.0]."""
              q, r = divmod(longitude, 360.0)
              if r > 180.0 or (r == 180.0 and q <= -1.0):
                return r - 360.0
              return r

            def NormalizeLatLng(latitude, longitude):
              """Wraps decimal degrees latitude and longitude to
              [-90.0, 90.0] and [-180.0, 180.0], respectively."""
              r = latitude % 360.0
              if r <= 90.0:
                return r, NormalizeLongitude(longitude)
              elif r >= 270.0:
                return r - 360, NormalizeLongitude(longitude)
              else:
                return 180 - r, NormalizeLongitude(longitude + 180.0)

            assert 180.0 == NormalizeLongitude(180.0)
            assert -180.0 == NormalizeLongitude(-180.0)
            assert -179.0 == NormalizeLongitude(181.0)
            assert (0.0, 0.0) == NormalizeLatLng(360.0, 0.0)
            assert (0.0, 0.0) == NormalizeLatLng(-360.0, 0.0)
            assert (85.0, 180.0) == NormalizeLatLng(95.0, 0.0)
            assert (-85.0, -170.0) == NormalizeLatLng(-95.0, 10.0)
            assert (90.0, 10.0) == NormalizeLatLng(90.0, 10.0)
            assert (-90.0, -10.0) == NormalizeLatLng(-90.0, -10.0)
            assert (0.0, -170.0) == NormalizeLatLng(-180.0, 10.0)
            assert (0.0, -170.0) == NormalizeLatLng(180.0, 10.0)
            assert (-90.0, 10.0) == NormalizeLatLng(270.0, 10.0)
            assert (90.0, 10.0) == NormalizeLatLng(-270.0, 10.0)
      properties:
        latitude:
          description: 'The latitude in degrees. It must be in the range [-90.0, +90.0].'
          format: double
          type: number
        longitude:
          description: 'The longitude in degrees. It must be in the range [-180.0, +180.0].'
          format: double
          type: number
      type: object
    LookupRequest:
      description: The request for Datastore.Lookup.
      properties:
        keys:
          description: Keys of entities to look up.
          items:
            $ref: '#/components/schemas/Key'
          type: array
        readOptions:
          $ref: '#/components/schemas/ReadOptions'
      type: object
    LookupResponse:
      description: The response for Datastore.Lookup.
      properties:
        deferred:
          description: |-
            A list of keys that were not looked up due to resource constraints. The
            order of results in this field is undefined and has no relation to the
            order of the keys in the input.
          items:
            $ref: '#/components/schemas/Key'
          type: array
        found:
          description: |-
            Entities found as `ResultType.FULL` entities. The order of results in this
            field is undefined and has no relation to the order of the keys in the
            input.
          items:
            $ref: '#/components/schemas/EntityResult'
          type: array
        missing:
          description: |-
            Entities not found as `ResultType.KEY_ONLY` entities. The order of results
            in this field is undefined and has no relation to the order of the keys
            in the input.
          items:
            $ref: '#/components/schemas/EntityResult'
          type: array
      type: object
    Mutation:
      description: A mutation to apply to an entity.
      properties:
        baseVersion:
          description: |-
            The version of the entity that this mutation is being applied to. If this
            does not match the current version on the server, the mutation conflicts.
          format: int64
          type: string
        delete:
          $ref: '#/components/schemas/Key'
        insert:
          $ref: '#/components/schemas/Entity'
        update:
          $ref: '#/components/schemas/Entity'
        upsert:
          $ref: '#/components/schemas/Entity'
      type: object
    MutationResult:
      description: The result of applying a mutation.
      properties:
        conflictDetected:
          description: |-
            Whether a conflict was detected for this mutation. Always false when a
            conflict detection strategy field is not set in the mutation.
          type: boolean
        key:
          $ref: '#/components/schemas/Key'
        version:
          description: |-
            The version of the entity on the server after processing the mutation. If
            the mutation doesn't change anything on the server, then the version will
            be the version of the current entity or, if no entity is present, a version
            that is strictly greater than the version of any previous entity and less
            than the version of any possible future entity.
          format: int64
          type: string
      type: object
    PartitionId:
      description: |-
        A partition ID identifies a grouping of entities. The grouping is always
        by project and namespace, however the namespace ID may be empty.

        A partition ID contains several dimensions:
        project ID and namespace ID.

        Partition dimensions:

        - May be `""`.
        - Must be valid UTF-8 bytes.
        - Must have values that match regex `[A-Za-z\d\.\-_]{1,100}`
        If the value of any dimension matches regex `__.*__`, the partition is
        reserved/read-only.
        A reserved/read-only partition ID is forbidden in certain documented
        contexts.

        Foreign partition IDs (in which the project ID does
        not match the context project ID ) are discouraged.
        Reads and writes of foreign partition IDs may fail if the project is not in an active state.
      properties:
        namespaceId:
          description: 'If not empty, the ID of the namespace to which the entities belong.'
          type: string
        projectId:
          description: The ID of the project to which the entities belong.
          type: string
      type: object
    PathElement:
      description: |-
        A (kind, ID/name) pair used to construct a key path.

        If either name or ID is set, the element is complete.
        If neither is set, the element is incomplete.
      properties:
        id:
          description: |-
            The auto-allocated ID of the entity.
            Never equal to zero. Values less than zero are discouraged and may not
            be supported in the future.
          format: int64
          type: string
        kind:
          description: |-
            The kind of the entity.
            A kind matching regex `__.*__` is reserved/read-only.
            A kind must not contain more than 1500 bytes when UTF-8 encoded.
            Cannot be `""`.
          type: string
        name:
          description: |-
            The name of the entity.
            A name matching regex `__.*__` is reserved/read-only.
            A name must not be more than 1500 bytes when UTF-8 encoded.
            Cannot be `""`.
          type: string
      type: object
    Projection:
      description: A representation of a property in a projection.
      properties:
        property:
          $ref: '#/components/schemas/PropertyReference'
      type: object
    PropertyFilter:
      description: A filter on a specific property.
      properties:
        op:
          description: The operator to filter by.
          enum:
            - OPERATOR_UNSPECIFIED
            - LESS_THAN
            - LESS_THAN_OR_EQUAL
            - GREATER_THAN
            - GREATER_THAN_OR_EQUAL
            - EQUAL
            - HAS_ANCESTOR
          type: string
        property:
          $ref: '#/components/schemas/PropertyReference'
        value:
          $ref: '#/components/schemas/Value'
      type: object
    PropertyOrder:
      description: The desired order for a specific property.
      properties:
        direction:
          description: The direction to order by. Defaults to `ASCENDING`.
          enum:
            - DIRECTION_UNSPECIFIED
            - ASCENDING
            - DESCENDING
          type: string
        property:
          $ref: '#/components/schemas/PropertyReference'
      type: object
    PropertyReference:
      description: A reference to a property relative to the kind expressions.
      properties:
        name:
          description: |-
            The name of the property.
            If name includes "."s, it may be interpreted as a property name path.
          type: string
      type: object
    Query:
      description: A query for entities.
      properties:
        distinctOn:
          description: |-
            The properties to make distinct. The query results will contain the first
            result for each distinct combination of values for the given properties
            (if empty, all results are returned).
          items:
            $ref: '#/components/schemas/PropertyReference'
          type: array
        endCursor:
          description: |-
            An ending point for the query results. Query cursors are
            returned in query result batches and
            [can only be used to limit the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).
          format: byte
          type: string
        filter:
          $ref: '#/components/schemas/Filter'
        kind:
          description: |-
            The kinds to query (if empty, returns entities of all kinds).
            Currently at most 1 kind may be specified.
          items:
            $ref: '#/components/schemas/KindExpression'
          type: array
        limit:
          description: |-
            The maximum number of results to return. Applies after all other
            constraints. Optional.
            Unspecified is interpreted as no limit.
            Must be >= 0 if specified.
          format: int32
          type: integer
        offset:
          description: |-
            The number of results to skip. Applies before limit, but after all other
            constraints. Optional. Must be >= 0 if specified.
          format: int32
          type: integer
        order:
          description: 'The order to apply to the query results (if empty, order is unspecified).'
          items:
            $ref: '#/components/schemas/PropertyOrder'
          type: array
        projection:
          description: The projection to return. Defaults to returning all properties.
          items:
            $ref: '#/components/schemas/Projection'
          type: array
        startCursor:
          description: |-
            A starting point for the query results. Query cursors are
            returned in query result batches and
            [can only be used to continue the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).
          format: byte
          type: string
      type: object
    QueryResultBatch:
      description: A batch of results produced by a query.
      properties:
        endCursor:
          description: A cursor that points to the position after the last result in the batch.
          format: byte
          type: string
        entityResultType:
          description: The result type for every entity in `entity_results`.
          enum:
            - RESULT_TYPE_UNSPECIFIED
            - FULL
            - PROJECTION
            - KEY_ONLY
          type: string
        entityResults:
          description: The results for this batch.
          items:
            $ref: '#/components/schemas/EntityResult'
          type: array
        moreResults:
          description: The state of the query after the current batch.
          enum:
            - MORE_RESULTS_TYPE_UNSPECIFIED
            - NOT_FINISHED
            - MORE_RESULTS_AFTER_LIMIT
            - MORE_RESULTS_AFTER_CURSOR
            - NO_MORE_RESULTS
          type: string
        skippedCursor:
          description: |-
            A cursor that points to the position after the last skipped result.
            Will be set when `skipped_results` != 0.
          format: byte
          type: string
        skippedResults:
          description: 'The number of results skipped, typically because of an offset.'
          format: int32
          type: integer
        snapshotVersion:
          description: |-
            The version number of the snapshot this batch was returned from.
            This applies to the range of results from the query's `start_cursor` (or
            the beginning of the query if no cursor was given) to this batch's
            `end_cursor` (not the query's `end_cursor`).

            In a single transaction, subsequent query result batches for the same query
            can have a greater snapshot version number. Each batch's snapshot version
            is valid for all preceding batches.
            The value will be zero for eventually consistent queries.
          format: int64
          type: string
      type: object
    ReadOptions:
      description: The options shared by read requests.
      properties:
        readConsistency:
          description: |-
            The non-transactional read consistency to use.
            Cannot be set to `STRONG` for global queries.
          enum:
            - READ_CONSISTENCY_UNSPECIFIED
            - STRONG
            - EVENTUAL
          type: string
        transaction:
          description: |-
            The identifier of the transaction in which to read. A
            transaction identifier is returned by a call to
            Datastore.BeginTransaction.
          format: byte
          type: string
      type: object
    RollbackRequest:
      description: The request for Datastore.Rollback.
      properties:
        transaction:
          description: |-
            The transaction identifier, returned by a call to
            Datastore.BeginTransaction.
          format: byte
          type: string
      type: object
    RollbackResponse:
      description: |-
        The response for Datastore.Rollback.
        (an empty message).
      properties: {}
      type: object
    RunQueryRequest:
      description: The request for Datastore.RunQuery.
      properties:
        gqlQuery:
          $ref: '#/components/schemas/GqlQuery'
        partitionId:
          $ref: '#/components/schemas/PartitionId'
        query:
          $ref: '#/components/schemas/Query'
        readOptions:
          $ref: '#/components/schemas/ReadOptions'
      type: object
    RunQueryResponse:
      description: The response for Datastore.RunQuery.
      properties:
        batch:
          $ref: '#/components/schemas/QueryResultBatch'
        query:
          $ref: '#/components/schemas/Query'
      type: object
    Value:
      description: |-
        A message that can hold any of the supported value types and associated
        metadata.
      properties:
        arrayValue:
          $ref: '#/components/schemas/ArrayValue'
        blobValue:
          description: |-
            A blob value.
            May have at most 1,000,000 bytes.
            When `exclude_from_indexes` is false, may have at most 1500 bytes.
            In JSON requests, must be base64-encoded.
          format: byte
          type: string
        booleanValue:
          description: A boolean value.
          type: boolean
        doubleValue:
          description: A double value.
          format: double
          type: number
        entityValue:
          $ref: '#/components/schemas/Entity'
        excludeFromIndexes:
          description: |-
            If the value should be excluded from all indexes including those defined
            explicitly.
          type: boolean
        geoPointValue:
          $ref: '#/components/schemas/LatLng'
        integerValue:
          description: An integer value.
          format: int64
          type: string
        keyValue:
          $ref: '#/components/schemas/Key'
        meaning:
          description: The `meaning` field should only be populated for backwards compatibility.
          format: int32
          type: integer
        nullValue:
          description: A null value.
          enum:
            - NULL_VALUE
          type: string
        stringValue:
          description: |-
            A UTF-8 encoded string value.
            When `exclude_from_indexes` is false (it is indexed) , may have at most 1500 bytes.
            Otherwise, may be set to at least 1,000,000 bytes.
          type: string
        timestampValue:
          description: |-
            A timestamp value.
            When stored in the Datastore, precise only to microseconds;
            any additional precision is rounded down.
          format: google-datetime
          type: string
      type: object
  parameters:
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
        default: json
    bearer_token:
      description: OAuth bearer token.
      in: query
      name: bearer_token
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    pp:
      description: Pretty-print response.
      in: query
      name: pp
      schema:
        type: boolean
        default: true
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
        default: true
    quotaUser:
      description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: 'Upload protocol for media (e.g. "raw", "multipart").'
      in: query
      name: upload_protocol
      schema:
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
          scopes:
            'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
            'https://www.googleapis.com/auth/datastore': View and manage your Google Cloud Datastore data
    Oauth2c:
      description: Oauth 2.0 accessCode authentication
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
          tokenUrl: 'https://accounts.google.com/o/oauth2/token'
          scopes:
            'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
            'https://www.googleapis.com/auth/datastore': View and manage your Google Cloud Datastore data
