swagger: '2.0'
schemes:
  - https
host: datastore.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: |
    Accesses the schemaless NoSQL database to provide fully managed, robust, scalable storage for your application.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Cloud Datastore
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - storage
  x-logo:
    url: 'https://cloud.google.com/_static/images/new-gcp-logo.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://datastore.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: datastore
externalDocs:
  url: 'https://cloud.google.com/datastore/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/datastore': View and manage your Google Cloud Datastore data
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/datastore': View and manage your Google Cloud Datastore data
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: projects
paths:
  '/v1/projects/{projectId}/indexes':
    get:
      description: |-
        Lists the indexes that match the specified filters.  Datastore uses an
        eventually consistent query to fetch the list of indexes and may
        occasionally return stale results.
      operationId: datastore.projects.indexes.list
      parameters:
        - in: query
          name: filter
          type: string
        - description: |-
            The maximum number of items to return.  If zero, then all results will be
            returned.
          in: query
          name: pageSize
          type: integer
        - description: 'The next_page_token value returned from a previous List request, if any.'
          in: query
          name: pageToken
          type: string
        - description: Project ID against which to make the request.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GoogleDatastoreAdminV1ListIndexesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/projects/{projectId}/indexes/{indexId}':
    get:
      description: Gets an index.
      operationId: datastore.projects.indexes.get
      parameters:
        - description: The resource ID of the index to get.
          in: path
          name: indexId
          required: true
          type: string
        - description: Project ID against which to make the request.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GoogleDatastoreAdminV1Index'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/projects/{projectId}:allocateIds':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Allocates IDs for the given keys, which is useful for referencing an entity
        before it is inserted.
      operationId: datastore.projects.allocateIds
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AllocateIdsRequest'
        - description: The ID of the project against which to make the request.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AllocateIdsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
  '/v1/projects/{projectId}:beginTransaction':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Begins a new transaction.
      operationId: datastore.projects.beginTransaction
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BeginTransactionRequest'
        - description: The ID of the project against which to make the request.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BeginTransactionResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
  '/v1/projects/{projectId}:commit':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Commits a transaction, optionally creating, deleting or modifying some
        entities.
      operationId: datastore.projects.commit
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CommitRequest'
        - description: The ID of the project against which to make the request.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CommitResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
  '/v1/projects/{projectId}:export':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Exports a copy of all or a subset of entities from Google Cloud Datastore
        to another storage system, such as Google Cloud Storage. Recent updates to
        entities may not be reflected in the export. The export occurs in the
        background and its progress can be monitored and managed via the
        Operation resource that is created. The output of an export may only be
        used once the associated operation is done. If an export operation is
        cancelled before completion it may leave partial data behind in Google
        Cloud Storage.
      operationId: datastore.projects.export
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GoogleDatastoreAdminV1ExportEntitiesRequest'
        - description: Project ID against which to make the request.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GoogleLongrunningOperation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
  '/v1/projects/{projectId}:import':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Imports entities into Google Cloud Datastore. Existing entities with the
        same key are overwritten. The import occurs in the background and its
        progress can be monitored and managed via the Operation resource that is
        created. If an ImportEntities operation is cancelled, it is possible
        that a subset of the data has already been imported to Cloud Datastore.
      operationId: datastore.projects.import
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GoogleDatastoreAdminV1ImportEntitiesRequest'
        - description: Project ID against which to make the request.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GoogleLongrunningOperation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
  '/v1/projects/{projectId}:lookup':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Looks up entities by key.
      operationId: datastore.projects.lookup
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LookupRequest'
        - description: The ID of the project against which to make the request.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LookupResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
  '/v1/projects/{projectId}:reserveIds':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Prevents the supplied keys' IDs from being auto-allocated by Cloud
        Datastore.
      operationId: datastore.projects.reserveIds
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ReserveIdsRequest'
        - description: The ID of the project against which to make the request.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ReserveIdsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
  '/v1/projects/{projectId}:rollback':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Rolls back a transaction.
      operationId: datastore.projects.rollback
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RollbackRequest'
        - description: The ID of the project against which to make the request.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/RollbackResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
  '/v1/projects/{projectId}:runQuery':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Queries for entities.
      operationId: datastore.projects.runQuery
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RunQueryRequest'
        - description: The ID of the project against which to make the request.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/RunQueryResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
  '/v1/{name}':
    delete:
      description: |-
        Deletes a long-running operation. This method indicates that the client is
        no longer interested in the operation result. It does not cancel the
        operation. If the server doesn't support this method, it returns
        `google.rpc.Code.UNIMPLEMENTED`.
      operationId: datastore.projects.operations.delete
      parameters:
        - description: The name of the operation resource to be deleted.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
    get:
      description: |-
        Gets the latest state of a long-running operation.  Clients can use this
        method to poll the operation result at intervals as recommended by the API
        service.
      operationId: datastore.projects.operations.get
      parameters:
        - description: The name of the operation resource.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GoogleLongrunningOperation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/{name}/operations':
    get:
      description: |-
        Lists operations that match the specified filter in the request. If the
        server doesn't support this method, it returns `UNIMPLEMENTED`.

        NOTE: the `name` binding allows API services to override the binding
        to use different resource name schemes, such as `users/*/operations`. To
        override the binding, API services can add a binding such as
        `"/v1/{name=users/*}/operations"` to their service configuration.
        For backwards compatibility, the default name includes the operations
        collection id, however overriding users must ensure the name binding
        is the parent resource, without the operations collection id.
      operationId: datastore.projects.operations.list
      parameters:
        - description: The standard list filter.
          in: query
          name: filter
          type: string
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: The standard list page size.
          in: query
          name: pageSize
          type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GoogleLongrunningListOperationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/{name}:cancel':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Starts asynchronous cancellation on a long-running operation.  The server
        makes a best effort to cancel the operation, but success is not
        guaranteed.  If the server doesn't support this method, it returns
        `google.rpc.Code.UNIMPLEMENTED`.  Clients can use
        Operations.GetOperation or
        other methods to check whether the cancellation succeeded or whether the
        operation completed despite cancellation. On successful cancellation,
        the operation is not deleted; instead, it becomes an operation with
        an Operation.error value with a google.rpc.Status.code of 1,
        corresponding to `Code.CANCELLED`.
      operationId: datastore.projects.operations.cancel
      parameters:
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/datastore'
          Oauth2c:
            - 'https://www.googleapis.com/auth/datastore'
      tags:
        - projects
definitions:
  AllocateIdsRequest:
    description: The request for Datastore.AllocateIds.
    properties:
      keys:
        description: |-
          A list of keys with incomplete key paths for which to allocate IDs.
          No key may be reserved/read-only.
        items:
          $ref: '#/definitions/Key'
        type: array
    type: object
  AllocateIdsResponse:
    description: The response for Datastore.AllocateIds.
    properties:
      keys:
        description: |-
          The keys specified in the request (in the same order), each with
          its key path completed with a newly allocated ID.
        items:
          $ref: '#/definitions/Key'
        type: array
    type: object
  ArrayValue:
    description: An array value.
    properties:
      values:
        description: |-
          Values in the array.
          The order of values in an array is preserved as long as all values have
          identical settings for 'exclude_from_indexes'.
        items:
          $ref: '#/definitions/Value'
        type: array
    type: object
  BeginTransactionRequest:
    description: The request for Datastore.BeginTransaction.
    properties:
      transactionOptions:
        $ref: '#/definitions/TransactionOptions'
        description: Options for a new transaction.
    type: object
  BeginTransactionResponse:
    description: The response for Datastore.BeginTransaction.
    properties:
      transaction:
        description: The transaction identifier (always present).
        format: byte
        type: string
    type: object
  CommitRequest:
    description: The request for Datastore.Commit.
    properties:
      mode:
        description: The type of commit to perform. Defaults to `TRANSACTIONAL`.
        enum:
          - MODE_UNSPECIFIED
          - TRANSACTIONAL
          - NON_TRANSACTIONAL
        type: string
      mutations:
        description: |-
          The mutations to perform.

          When mode is `TRANSACTIONAL`, mutations affecting a single entity are
          applied in order. The following sequences of mutations affecting a single
          entity are not permitted in a single `Commit` request:

          - `insert` followed by `insert`
          - `update` followed by `insert`
          - `upsert` followed by `insert`
          - `delete` followed by `update`

          When mode is `NON_TRANSACTIONAL`, no two mutations may affect a single
          entity.
        items:
          $ref: '#/definitions/Mutation'
        type: array
      transaction:
        description: |-
          The identifier of the transaction associated with the commit. A
          transaction identifier is returned by a call to
          Datastore.BeginTransaction.
        format: byte
        type: string
    type: object
  CommitResponse:
    description: The response for Datastore.Commit.
    properties:
      indexUpdates:
        description: |-
          The number of index entries updated during the commit, or zero if none were
          updated.
        format: int32
        type: integer
      mutationResults:
        description: |-
          The result of performing the mutations.
          The i-th mutation result corresponds to the i-th mutation in the request.
        items:
          $ref: '#/definitions/MutationResult'
        type: array
    type: object
  CompositeFilter:
    description: A filter that merges multiple other filters using the given operator.
    properties:
      filters:
        description: |-
          The list of filters to combine.
          Must contain at least one filter.
        items:
          $ref: '#/definitions/Filter'
        type: array
      op:
        description: The operator for combining multiple filters.
        enum:
          - OPERATOR_UNSPECIFIED
          - AND
        type: string
    type: object
  Empty:
    description: |-
      A generic empty message that you can re-use to avoid defining duplicated
      empty messages in your APIs. A typical example is to use it as the request
      or the response type of an API method. For instance:

          service Foo {
            rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);
          }

      The JSON representation for `Empty` is empty JSON object `{}`.
    properties: {}
    type: object
  Entity:
    description: |-
      A Datastore data object.

      An entity is limited to 1 megabyte when stored. That _roughly_
      corresponds to a limit of 1 megabyte for the serialized form of this
      message.
    properties:
      key:
        $ref: '#/definitions/Key'
        description: |-
          The entity's key.

          An entity must have a key, unless otherwise documented (for example,
          an entity in `Value.entity_value` may have no key).
          An entity's kind is its key path's last element's kind,
          or null if it has no key.
      properties:
        additionalProperties:
          $ref: '#/definitions/Value'
        description: |-
          The entity's properties.
          The map's keys are property names.
          A property name matching regex `__.*__` is reserved.
          A reserved property name is forbidden in certain documented contexts.
          The name must not contain more than 500 characters.
          The name cannot be `""`.
        type: object
    type: object
  EntityResult:
    description: The result of fetching an entity from Datastore.
    properties:
      cursor:
        description: |-
          A cursor that points to the position after the result entity.
          Set only when the `EntityResult` is part of a `QueryResultBatch` message.
        format: byte
        type: string
      entity:
        $ref: '#/definitions/Entity'
        description: The resulting entity.
      version:
        description: |-
          The version of the entity, a strictly positive number that monotonically
          increases with changes to the entity.

          This field is set for `FULL` entity
          results.

          For missing entities in `LookupResponse`, this
          is the version of the snapshot that was used to look up the entity, and it
          is always set except for eventually consistent reads.
        format: int64
        type: string
    type: object
  Filter:
    description: A holder for any type of filter.
    properties:
      compositeFilter:
        $ref: '#/definitions/CompositeFilter'
        description: A composite filter.
      propertyFilter:
        $ref: '#/definitions/PropertyFilter'
        description: A filter on a property.
    type: object
  GoogleDatastoreAdminV1CommonMetadata:
    description: Metadata common to all Datastore Admin operations.
    properties:
      endTime:
        description: 'The time the operation ended, either successfully or otherwise.'
        format: google-datetime
        type: string
      labels:
        additionalProperties:
          type: string
        description: |-
          The client-assigned labels which were provided when the operation was
          created. May also include additional labels.
        type: object
      operationType:
        description: |-
          The type of the operation. Can be used as a filter in
          ListOperationsRequest.
        enum:
          - OPERATION_TYPE_UNSPECIFIED
          - EXPORT_ENTITIES
          - IMPORT_ENTITIES
          - CREATE_INDEX
          - DELETE_INDEX
        type: string
      startTime:
        description: The time that work began on the operation.
        format: google-datetime
        type: string
      state:
        description: The current state of the Operation.
        enum:
          - STATE_UNSPECIFIED
          - INITIALIZING
          - PROCESSING
          - CANCELLING
          - FINALIZING
          - SUCCESSFUL
          - FAILED
          - CANCELLED
        type: string
    type: object
  GoogleDatastoreAdminV1EntityFilter:
    description: |-
      Identifies a subset of entities in a project. This is specified as
      combinations of kinds and namespaces (either or both of which may be all, as
      described in the following examples).
      Example usage:

      Entire project:
        kinds=[], namespace_ids=[]

      Kinds Foo and Bar in all namespaces:
        kinds=['Foo', 'Bar'], namespace_ids=[]

      Kinds Foo and Bar only in the default namespace:
        kinds=['Foo', 'Bar'], namespace_ids=['']

      Kinds Foo and Bar in both the default and Baz namespaces:
        kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz']

      The entire Baz namespace:
        kinds=[], namespace_ids=['Baz']
    properties:
      kinds:
        description: 'If empty, then this represents all kinds.'
        items:
          type: string
        type: array
      namespaceIds:
        description: |-
          An empty list represents all namespaces. This is the preferred
          usage for projects that don't use namespaces.

          An empty string element represents the default namespace. This should be
          used if the project has data in non-default namespaces, but doesn't want to
          include them.
          Each namespace in this list must be unique.
        items:
          type: string
        type: array
    type: object
  GoogleDatastoreAdminV1ExportEntitiesMetadata:
    description: Metadata for ExportEntities operations.
    properties:
      common:
        $ref: '#/definitions/GoogleDatastoreAdminV1CommonMetadata'
        description: Metadata common to all Datastore Admin operations.
      entityFilter:
        $ref: '#/definitions/GoogleDatastoreAdminV1EntityFilter'
        description: Description of which entities are being exported.
      outputUrlPrefix:
        description: |-
          Location for the export metadata and data files. This will be the same
          value as the
          google.datastore.admin.v1.ExportEntitiesRequest.output_url_prefix
          field. The final output location is provided in
          google.datastore.admin.v1.ExportEntitiesResponse.output_url.
        type: string
      progressBytes:
        $ref: '#/definitions/GoogleDatastoreAdminV1Progress'
        description: An estimate of the number of bytes processed.
      progressEntities:
        $ref: '#/definitions/GoogleDatastoreAdminV1Progress'
        description: An estimate of the number of entities processed.
    type: object
  GoogleDatastoreAdminV1ExportEntitiesRequest:
    description: |-
      The request for
      google.datastore.admin.v1.DatastoreAdmin.ExportEntities.
    properties:
      entityFilter:
        $ref: '#/definitions/GoogleDatastoreAdminV1EntityFilter'
        description: Description of what data from the project is included in the export.
      labels:
        additionalProperties:
          type: string
        description: Client-assigned labels.
        type: object
      outputUrlPrefix:
        description: |-
          Location for the export metadata and data files.

          The full resource URL of the external storage location. Currently, only
          Google Cloud Storage is supported. So output_url_prefix should be of the
          form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the
          name of the Cloud Storage bucket and `NAMESPACE_PATH` is an optional Cloud
          Storage namespace path (this is not a Cloud Datastore namespace). For more
          information about Cloud Storage namespace paths, see
          [Object name
          considerations](https://cloud.google.com/storage/docs/naming#object-considerations).

          The resulting files will be nested deeper than the specified URL prefix.
          The final output URL will be provided in the
          google.datastore.admin.v1.ExportEntitiesResponse.output_url field. That
          value should be used for subsequent ImportEntities operations.

          By nesting the data files deeper, the same Cloud Storage bucket can be used
          in multiple ExportEntities operations without conflict.
        type: string
    type: object
  GoogleDatastoreAdminV1ExportEntitiesResponse:
    description: |-
      The response for
      google.datastore.admin.v1.DatastoreAdmin.ExportEntities.
    properties:
      outputUrl:
        description: |-
          Location of the output metadata file. This can be used to begin an import
          into Cloud Datastore (this project or another project). See
          google.datastore.admin.v1.ImportEntitiesRequest.input_url.
          Only present if the operation completed successfully.
        type: string
    type: object
  GoogleDatastoreAdminV1ImportEntitiesMetadata:
    description: Metadata for ImportEntities operations.
    properties:
      common:
        $ref: '#/definitions/GoogleDatastoreAdminV1CommonMetadata'
        description: Metadata common to all Datastore Admin operations.
      entityFilter:
        $ref: '#/definitions/GoogleDatastoreAdminV1EntityFilter'
        description: Description of which entities are being imported.
      inputUrl:
        description: |-
          The location of the import metadata file. This will be the same value as
          the google.datastore.admin.v1.ExportEntitiesResponse.output_url field.
        type: string
      progressBytes:
        $ref: '#/definitions/GoogleDatastoreAdminV1Progress'
        description: An estimate of the number of bytes processed.
      progressEntities:
        $ref: '#/definitions/GoogleDatastoreAdminV1Progress'
        description: An estimate of the number of entities processed.
    type: object
  GoogleDatastoreAdminV1ImportEntitiesRequest:
    description: |-
      The request for
      google.datastore.admin.v1.DatastoreAdmin.ImportEntities.
    properties:
      entityFilter:
        $ref: '#/definitions/GoogleDatastoreAdminV1EntityFilter'
        description: |-
          Optionally specify which kinds/namespaces are to be imported. If provided,
          the list must be a subset of the EntityFilter used in creating the export,
          otherwise a FAILED_PRECONDITION error will be returned. If no filter is
          specified then all entities from the export are imported.
      inputUrl:
        description: |-
          The full resource URL of the external storage location. Currently, only
          Google Cloud Storage is supported. So input_url should be of the form:
          `gs://BUCKET_NAME[/NAMESPACE_PATH]/OVERALL_EXPORT_METADATA_FILE`, where
          `BUCKET_NAME` is the name of the Cloud Storage bucket, `NAMESPACE_PATH` is
          an optional Cloud Storage namespace path (this is not a Cloud Datastore
          namespace), and `OVERALL_EXPORT_METADATA_FILE` is the metadata file written
          by the ExportEntities operation. For more information about Cloud Storage
          namespace paths, see
          [Object name
          considerations](https://cloud.google.com/storage/docs/naming#object-considerations).

          For more information, see
          google.datastore.admin.v1.ExportEntitiesResponse.output_url.
        type: string
      labels:
        additionalProperties:
          type: string
        description: Client-assigned labels.
        type: object
    type: object
  GoogleDatastoreAdminV1Index:
    description: A minimal index definition.
    properties:
      ancestor:
        description: |-
          The index's ancestor mode.  Must not be ANCESTOR_MODE_UNSPECIFIED.
          Required.
        enum:
          - ANCESTOR_MODE_UNSPECIFIED
          - NONE
          - ALL_ANCESTORS
        type: string
      indexId:
        description: |-
          The resource ID of the index.
          Output only.
        type: string
      kind:
        description: |-
          The entity kind to which this index applies.
          Required.
        type: string
      projectId:
        description: |-
          Project ID.
          Output only.
        type: string
      properties:
        description: |-
          An ordered sequence of property names and their index attributes.
          Required.
        items:
          $ref: '#/definitions/GoogleDatastoreAdminV1IndexedProperty'
        type: array
      state:
        description: |-
          The state of the index.
          Output only.
        enum:
          - STATE_UNSPECIFIED
          - CREATING
          - READY
          - DELETING
          - ERROR
        type: string
    type: object
  GoogleDatastoreAdminV1IndexOperationMetadata:
    description: Metadata for Index operations.
    properties:
      common:
        $ref: '#/definitions/GoogleDatastoreAdminV1CommonMetadata'
        description: Metadata common to all Datastore Admin operations.
      indexId:
        description: The index resource ID that this operation is acting on.
        type: string
      progressEntities:
        $ref: '#/definitions/GoogleDatastoreAdminV1Progress'
        description: An estimate of the number of entities processed.
    type: object
  GoogleDatastoreAdminV1IndexedProperty:
    description: A property of an index.
    properties:
      direction:
        description: |-
          The indexed property's direction.  Must not be DIRECTION_UNSPECIFIED.
          Required.
        enum:
          - DIRECTION_UNSPECIFIED
          - ASCENDING
          - DESCENDING
        type: string
      name:
        description: |-
          The property name to index.
          Required.
        type: string
    type: object
  GoogleDatastoreAdminV1ListIndexesResponse:
    description: |-
      The response for
      google.datastore.admin.v1.DatastoreAdmin.ListIndexes.
    properties:
      indexes:
        description: The indexes.
        items:
          $ref: '#/definitions/GoogleDatastoreAdminV1Index'
        type: array
      nextPageToken:
        description: The standard List next-page token.
        type: string
    type: object
  GoogleDatastoreAdminV1Progress:
    description: Measures the progress of a particular metric.
    properties:
      workCompleted:
        description: |-
          The amount of work that has been completed. Note that this may be greater
          than work_estimated.
        format: int64
        type: string
      workEstimated:
        description: |-
          An estimate of how much work needs to be performed. May be zero if the
          work estimate is unavailable.
        format: int64
        type: string
    type: object
  GoogleDatastoreAdminV1beta1CommonMetadata:
    description: Metadata common to all Datastore Admin operations.
    properties:
      endTime:
        description: 'The time the operation ended, either successfully or otherwise.'
        format: google-datetime
        type: string
      labels:
        additionalProperties:
          type: string
        description: |-
          The client-assigned labels which were provided when the operation was
          created. May also include additional labels.
        type: object
      operationType:
        description: |-
          The type of the operation. Can be used as a filter in
          ListOperationsRequest.
        enum:
          - OPERATION_TYPE_UNSPECIFIED
          - EXPORT_ENTITIES
          - IMPORT_ENTITIES
        type: string
      startTime:
        description: The time that work began on the operation.
        format: google-datetime
        type: string
      state:
        description: The current state of the Operation.
        enum:
          - STATE_UNSPECIFIED
          - INITIALIZING
          - PROCESSING
          - CANCELLING
          - FINALIZING
          - SUCCESSFUL
          - FAILED
          - CANCELLED
        type: string
    type: object
  GoogleDatastoreAdminV1beta1EntityFilter:
    description: |-
      Identifies a subset of entities in a project. This is specified as
      combinations of kinds and namespaces (either or both of which may be all, as
      described in the following examples).
      Example usage:

      Entire project:
        kinds=[], namespace_ids=[]

      Kinds Foo and Bar in all namespaces:
        kinds=['Foo', 'Bar'], namespace_ids=[]

      Kinds Foo and Bar only in the default namespace:
        kinds=['Foo', 'Bar'], namespace_ids=['']

      Kinds Foo and Bar in both the default and Baz namespaces:
        kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz']

      The entire Baz namespace:
        kinds=[], namespace_ids=['Baz']
    properties:
      kinds:
        description: 'If empty, then this represents all kinds.'
        items:
          type: string
        type: array
      namespaceIds:
        description: |-
          An empty list represents all namespaces. This is the preferred
          usage for projects that don't use namespaces.

          An empty string element represents the default namespace. This should be
          used if the project has data in non-default namespaces, but doesn't want to
          include them.
          Each namespace in this list must be unique.
        items:
          type: string
        type: array
    type: object
  GoogleDatastoreAdminV1beta1ExportEntitiesMetadata:
    description: Metadata for ExportEntities operations.
    properties:
      common:
        $ref: '#/definitions/GoogleDatastoreAdminV1beta1CommonMetadata'
        description: Metadata common to all Datastore Admin operations.
      entityFilter:
        $ref: '#/definitions/GoogleDatastoreAdminV1beta1EntityFilter'
        description: Description of which entities are being exported.
      outputUrlPrefix:
        description: |-
          Location for the export metadata and data files. This will be the same
          value as the
          google.datastore.admin.v1beta1.ExportEntitiesRequest.output_url_prefix
          field. The final output location is provided in
          google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url.
        type: string
      progressBytes:
        $ref: '#/definitions/GoogleDatastoreAdminV1beta1Progress'
        description: An estimate of the number of bytes processed.
      progressEntities:
        $ref: '#/definitions/GoogleDatastoreAdminV1beta1Progress'
        description: An estimate of the number of entities processed.
    type: object
  GoogleDatastoreAdminV1beta1ExportEntitiesResponse:
    description: |-
      The response for
      google.datastore.admin.v1beta1.DatastoreAdmin.ExportEntities.
    properties:
      outputUrl:
        description: |-
          Location of the output metadata file. This can be used to begin an import
          into Cloud Datastore (this project or another project). See
          google.datastore.admin.v1beta1.ImportEntitiesRequest.input_url.
          Only present if the operation completed successfully.
        type: string
    type: object
  GoogleDatastoreAdminV1beta1ImportEntitiesMetadata:
    description: Metadata for ImportEntities operations.
    properties:
      common:
        $ref: '#/definitions/GoogleDatastoreAdminV1beta1CommonMetadata'
        description: Metadata common to all Datastore Admin operations.
      entityFilter:
        $ref: '#/definitions/GoogleDatastoreAdminV1beta1EntityFilter'
        description: Description of which entities are being imported.
      inputUrl:
        description: |-
          The location of the import metadata file. This will be the same value as
          the google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url
          field.
        type: string
      progressBytes:
        $ref: '#/definitions/GoogleDatastoreAdminV1beta1Progress'
        description: An estimate of the number of bytes processed.
      progressEntities:
        $ref: '#/definitions/GoogleDatastoreAdminV1beta1Progress'
        description: An estimate of the number of entities processed.
    type: object
  GoogleDatastoreAdminV1beta1Progress:
    description: Measures the progress of a particular metric.
    properties:
      workCompleted:
        description: |-
          The amount of work that has been completed. Note that this may be greater
          than work_estimated.
        format: int64
        type: string
      workEstimated:
        description: |-
          An estimate of how much work needs to be performed. May be zero if the
          work estimate is unavailable.
        format: int64
        type: string
    type: object
  GoogleLongrunningListOperationsResponse:
    description: The response message for Operations.ListOperations.
    properties:
      nextPageToken:
        description: The standard List next-page token.
        type: string
      operations:
        description: A list of operations that matches the specified filter in the request.
        items:
          $ref: '#/definitions/GoogleLongrunningOperation'
        type: array
    type: object
  GoogleLongrunningOperation:
    description: |-
      This resource represents a long-running operation that is the result of a
      network API call.
    properties:
      done:
        description: |-
          If the value is `false`, it means the operation is still in progress.
          If `true`, the operation is completed, and either `error` or `response` is
          available.
        type: boolean
      error:
        $ref: '#/definitions/Status'
        description: The error result of the operation in case of failure or cancellation.
      metadata:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: |-
          Service-specific metadata associated with the operation.  It typically
          contains progress information and common metadata such as create time.
          Some services might not provide such metadata.  Any method that returns a
          long-running operation should document the metadata type, if any.
        type: object
      name:
        description: |-
          The server-assigned name, which is only unique within the same service that
          originally returns it. If you use the default HTTP mapping, the
          `name` should be a resource name ending with `operations/{unique_id}`.
        type: string
      response:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: |-
          The normal response of the operation in case of success.  If the original
          method returns no data on success, such as `Delete`, the response is
          `google.protobuf.Empty`.  If the original method is standard
          `Get`/`Create`/`Update`, the response should be the resource.  For other
          methods, the response should have the type `XxxResponse`, where `Xxx`
          is the original method name.  For example, if the original method name
          is `TakeSnapshot()`, the inferred response type is
          `TakeSnapshotResponse`.
        type: object
    type: object
  GqlQuery:
    description: |-
      A [GQL
      query](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).
    properties:
      allowLiterals:
        description: |-
          When false, the query string must not contain any literals and instead must
          bind all values. For example,
          `SELECT * FROM Kind WHERE a = 'string literal'` is not allowed, while
          `SELECT * FROM Kind WHERE a = @value` is.
        type: boolean
      namedBindings:
        additionalProperties:
          $ref: '#/definitions/GqlQueryParameter'
        description: |-
          For each non-reserved named binding site in the query string, there must be
          a named parameter with that name, but not necessarily the inverse.

          Key must match regex `A-Za-z_$*`, must not match regex
          `__.*__`, and must not be `""`.
        type: object
      positionalBindings:
        description: |-
          Numbered binding site @1 references the first numbered parameter,
          effectively using 1-based indexing, rather than the usual 0.

          For each binding site numbered i in `query_string`, there must be an i-th
          numbered parameter. The inverse must also be true.
        items:
          $ref: '#/definitions/GqlQueryParameter'
        type: array
      queryString:
        description: |-
          A string of the format described
          [here](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).
        type: string
    type: object
  GqlQueryParameter:
    description: A binding parameter for a GQL query.
    properties:
      cursor:
        description: |-
          A query cursor. Query cursors are returned in query
          result batches.
        format: byte
        type: string
      value:
        $ref: '#/definitions/Value'
        description: A value parameter.
    type: object
  Key:
    description: |-
      A unique identifier for an entity.
      If a key's partition ID or any of its path kinds or names are
      reserved/read-only, the key is reserved/read-only.
      A reserved/read-only key is forbidden in certain documented contexts.
    properties:
      partitionId:
        $ref: '#/definitions/PartitionId'
        description: |-
          Entities are partitioned into subsets, currently identified by a project
          ID and namespace ID.
          Queries are scoped to a single partition.
      path:
        description: |-
          The entity path.
          An entity path consists of one or more elements composed of a kind and a
          string or numerical identifier, which identify entities. The first
          element identifies a _root entity_, the second element identifies
          a _child_ of the root entity, the third element identifies a child of the
          second entity, and so forth. The entities identified by all prefixes of
          the path are called the element's _ancestors_.

          An entity path is always fully complete: *all* of the entity's ancestors
          are required to be in the path along with the entity identifier itself.
          The only exception is that in some documented cases, the identifier in the
          last path element (for the entity) itself may be omitted. For example,
          the last path element of the key of `Mutation.insert` may have no
          identifier.

          A path can never be empty, and a path can have at most 100 elements.
        items:
          $ref: '#/definitions/PathElement'
        type: array
    type: object
  KindExpression:
    description: A representation of a kind.
    properties:
      name:
        description: The name of the kind.
        type: string
    type: object
  LatLng:
    description: |-
      An object representing a latitude/longitude pair. This is expressed as a pair
      of doubles representing degrees latitude and degrees longitude. Unless
      specified otherwise, this must conform to the
      <a href="http://www.unoosa.org/pdf/icg/2012/template/WGS_84.pdf">WGS84
      standard</a>. Values must be within normalized ranges.
    properties:
      latitude:
        description: 'The latitude in degrees. It must be in the range [-90.0, +90.0].'
        format: double
        type: number
      longitude:
        description: 'The longitude in degrees. It must be in the range [-180.0, +180.0].'
        format: double
        type: number
    type: object
  LookupRequest:
    description: The request for Datastore.Lookup.
    properties:
      keys:
        description: Keys of entities to look up.
        items:
          $ref: '#/definitions/Key'
        type: array
      readOptions:
        $ref: '#/definitions/ReadOptions'
        description: The options for this lookup request.
    type: object
  LookupResponse:
    description: The response for Datastore.Lookup.
    properties:
      deferred:
        description: |-
          A list of keys that were not looked up due to resource constraints. The
          order of results in this field is undefined and has no relation to the
          order of the keys in the input.
        items:
          $ref: '#/definitions/Key'
        type: array
      found:
        description: |-
          Entities found as `ResultType.FULL` entities. The order of results in this
          field is undefined and has no relation to the order of the keys in the
          input.
        items:
          $ref: '#/definitions/EntityResult'
        type: array
      missing:
        description: |-
          Entities not found as `ResultType.KEY_ONLY` entities. The order of results
          in this field is undefined and has no relation to the order of the keys
          in the input.
        items:
          $ref: '#/definitions/EntityResult'
        type: array
    type: object
  Mutation:
    description: A mutation to apply to an entity.
    properties:
      baseVersion:
        description: |-
          The version of the entity that this mutation is being applied to. If this
          does not match the current version on the server, the mutation conflicts.
        format: int64
        type: string
      delete:
        $ref: '#/definitions/Key'
        description: |-
          The key of the entity to delete. The entity may or may not already exist.
          Must have a complete key path and must not be reserved/read-only.
      insert:
        $ref: '#/definitions/Entity'
        description: |-
          The entity to insert. The entity must not already exist.
          The entity key's final path element may be incomplete.
      update:
        $ref: '#/definitions/Entity'
        description: |-
          The entity to update. The entity must already exist.
          Must have a complete key path.
      upsert:
        $ref: '#/definitions/Entity'
        description: |-
          The entity to upsert. The entity may or may not already exist.
          The entity key's final path element may be incomplete.
    type: object
  MutationResult:
    description: The result of applying a mutation.
    properties:
      conflictDetected:
        description: |-
          Whether a conflict was detected for this mutation. Always false when a
          conflict detection strategy field is not set in the mutation.
        type: boolean
      key:
        $ref: '#/definitions/Key'
        description: |-
          The automatically allocated key.
          Set only when the mutation allocated a key.
      version:
        description: |-
          The version of the entity on the server after processing the mutation. If
          the mutation doesn't change anything on the server, then the version will
          be the version of the current entity or, if no entity is present, a version
          that is strictly greater than the version of any previous entity and less
          than the version of any possible future entity.
        format: int64
        type: string
    type: object
  PartitionId:
    description: |-
      A partition ID identifies a grouping of entities. The grouping is always
      by project and namespace, however the namespace ID may be empty.

      A partition ID contains several dimensions:
      project ID and namespace ID.

      Partition dimensions:

      - May be `""`.
      - Must be valid UTF-8 bytes.
      - Must have values that match regex `[A-Za-z\d\.\-_]{1,100}`
      If the value of any dimension matches regex `__.*__`, the partition is
      reserved/read-only.
      A reserved/read-only partition ID is forbidden in certain documented
      contexts.

      Foreign partition IDs (in which the project ID does
      not match the context project ID ) are discouraged.
      Reads and writes of foreign partition IDs may fail if the project is not in an active state.
    properties:
      namespaceId:
        description: 'If not empty, the ID of the namespace to which the entities belong.'
        type: string
      projectId:
        description: The ID of the project to which the entities belong.
        type: string
    type: object
  PathElement:
    description: |-
      A (kind, ID/name) pair used to construct a key path.

      If either name or ID is set, the element is complete.
      If neither is set, the element is incomplete.
    properties:
      id:
        description: |-
          The auto-allocated ID of the entity.
          Never equal to zero. Values less than zero are discouraged and may not
          be supported in the future.
        format: int64
        type: string
      kind:
        description: |-
          The kind of the entity.
          A kind matching regex `__.*__` is reserved/read-only.
          A kind must not contain more than 1500 bytes when UTF-8 encoded.
          Cannot be `""`.
        type: string
      name:
        description: |-
          The name of the entity.
          A name matching regex `__.*__` is reserved/read-only.
          A name must not be more than 1500 bytes when UTF-8 encoded.
          Cannot be `""`.
        type: string
    type: object
  Projection:
    description: A representation of a property in a projection.
    properties:
      property:
        $ref: '#/definitions/PropertyReference'
        description: The property to project.
    type: object
  PropertyFilter:
    description: A filter on a specific property.
    properties:
      op:
        description: The operator to filter by.
        enum:
          - OPERATOR_UNSPECIFIED
          - LESS_THAN
          - LESS_THAN_OR_EQUAL
          - GREATER_THAN
          - GREATER_THAN_OR_EQUAL
          - EQUAL
          - HAS_ANCESTOR
        type: string
      property:
        $ref: '#/definitions/PropertyReference'
        description: The property to filter by.
      value:
        $ref: '#/definitions/Value'
        description: The value to compare the property to.
    type: object
  PropertyOrder:
    description: The desired order for a specific property.
    properties:
      direction:
        description: The direction to order by. Defaults to `ASCENDING`.
        enum:
          - DIRECTION_UNSPECIFIED
          - ASCENDING
          - DESCENDING
        type: string
      property:
        $ref: '#/definitions/PropertyReference'
        description: The property to order by.
    type: object
  PropertyReference:
    description: A reference to a property relative to the kind expressions.
    properties:
      name:
        description: |-
          The name of the property.
          If name includes "."s, it may be interpreted as a property name path.
        type: string
    type: object
  Query:
    description: A query for entities.
    properties:
      distinctOn:
        description: |-
          The properties to make distinct. The query results will contain the first
          result for each distinct combination of values for the given properties
          (if empty, all results are returned).
        items:
          $ref: '#/definitions/PropertyReference'
        type: array
      endCursor:
        description: |-
          An ending point for the query results. Query cursors are
          returned in query result batches and
          [can only be used to limit the same
          query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).
        format: byte
        type: string
      filter:
        $ref: '#/definitions/Filter'
        description: The filter to apply.
      kind:
        description: |-
          The kinds to query (if empty, returns entities of all kinds).
          Currently at most 1 kind may be specified.
        items:
          $ref: '#/definitions/KindExpression'
        type: array
      limit:
        description: |-
          The maximum number of results to return. Applies after all other
          constraints. Optional.
          Unspecified is interpreted as no limit.
          Must be >= 0 if specified.
        format: int32
        type: integer
      offset:
        description: |-
          The number of results to skip. Applies before limit, but after all other
          constraints. Optional. Must be >= 0 if specified.
        format: int32
        type: integer
      order:
        description: 'The order to apply to the query results (if empty, order is unspecified).'
        items:
          $ref: '#/definitions/PropertyOrder'
        type: array
      projection:
        description: The projection to return. Defaults to returning all properties.
        items:
          $ref: '#/definitions/Projection'
        type: array
      startCursor:
        description: |-
          A starting point for the query results. Query cursors are
          returned in query result batches and
          [can only be used to continue the same
          query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).
        format: byte
        type: string
    type: object
  QueryResultBatch:
    description: A batch of results produced by a query.
    properties:
      endCursor:
        description: A cursor that points to the position after the last result in the batch.
        format: byte
        type: string
      entityResultType:
        description: The result type for every entity in `entity_results`.
        enum:
          - RESULT_TYPE_UNSPECIFIED
          - FULL
          - PROJECTION
          - KEY_ONLY
        type: string
      entityResults:
        description: The results for this batch.
        items:
          $ref: '#/definitions/EntityResult'
        type: array
      moreResults:
        description: The state of the query after the current batch.
        enum:
          - MORE_RESULTS_TYPE_UNSPECIFIED
          - NOT_FINISHED
          - MORE_RESULTS_AFTER_LIMIT
          - MORE_RESULTS_AFTER_CURSOR
          - NO_MORE_RESULTS
        type: string
      skippedCursor:
        description: |-
          A cursor that points to the position after the last skipped result.
          Will be set when `skipped_results` != 0.
        format: byte
        type: string
      skippedResults:
        description: 'The number of results skipped, typically because of an offset.'
        format: int32
        type: integer
      snapshotVersion:
        description: |-
          The version number of the snapshot this batch was returned from.
          This applies to the range of results from the query's `start_cursor` (or
          the beginning of the query if no cursor was given) to this batch's
          `end_cursor` (not the query's `end_cursor`).

          In a single transaction, subsequent query result batches for the same query
          can have a greater snapshot version number. Each batch's snapshot version
          is valid for all preceding batches.
          The value will be zero for eventually consistent queries.
        format: int64
        type: string
    type: object
  ReadOnly:
    description: Options specific to read-only transactions.
    properties: {}
    type: object
  ReadOptions:
    description: The options shared by read requests.
    properties:
      readConsistency:
        description: |-
          The non-transactional read consistency to use.
          Cannot be set to `STRONG` for global queries.
        enum:
          - READ_CONSISTENCY_UNSPECIFIED
          - STRONG
          - EVENTUAL
        type: string
      transaction:
        description: |-
          The identifier of the transaction in which to read. A
          transaction identifier is returned by a call to
          Datastore.BeginTransaction.
        format: byte
        type: string
    type: object
  ReadWrite:
    description: Options specific to read / write transactions.
    properties:
      previousTransaction:
        description: The transaction identifier of the transaction being retried.
        format: byte
        type: string
    type: object
  ReserveIdsRequest:
    description: The request for Datastore.ReserveIds.
    properties:
      databaseId:
        description: 'If not empty, the ID of the database against which to make the request.'
        type: string
      keys:
        description: |-
          A list of keys with complete key paths whose numeric IDs should not be
          auto-allocated.
        items:
          $ref: '#/definitions/Key'
        type: array
    type: object
  ReserveIdsResponse:
    description: The response for Datastore.ReserveIds.
    properties: {}
    type: object
  RollbackRequest:
    description: The request for Datastore.Rollback.
    properties:
      transaction:
        description: |-
          The transaction identifier, returned by a call to
          Datastore.BeginTransaction.
        format: byte
        type: string
    type: object
  RollbackResponse:
    description: |-
      The response for Datastore.Rollback.
      (an empty message).
    properties: {}
    type: object
  RunQueryRequest:
    description: The request for Datastore.RunQuery.
    properties:
      gqlQuery:
        $ref: '#/definitions/GqlQuery'
        description: The GQL query to run.
      partitionId:
        $ref: '#/definitions/PartitionId'
        description: |-
          Entities are partitioned into subsets, identified by a partition ID.
          Queries are scoped to a single partition.
          This partition ID is normalized with the standard default context
          partition ID.
      query:
        $ref: '#/definitions/Query'
        description: The query to run.
      readOptions:
        $ref: '#/definitions/ReadOptions'
        description: The options for this query.
    type: object
  RunQueryResponse:
    description: The response for Datastore.RunQuery.
    properties:
      batch:
        $ref: '#/definitions/QueryResultBatch'
        description: A batch of query results (always present).
      query:
        $ref: '#/definitions/Query'
        description: 'The parsed form of the `GqlQuery` from the request, if it was set.'
    type: object
  Status:
    description: |-
      The `Status` type defines a logical error model that is suitable for
      different programming environments, including REST APIs and RPC APIs. It is
      used by [gRPC](https://github.com/grpc). Each `Status` message contains
      three pieces of data: error code, error message, and error details.

      You can find out more about this error model and how to work with it in the
      [API Design Guide](https://cloud.google.com/apis/design/errors).
    properties:
      code:
        description: 'The status code, which should be an enum value of google.rpc.Code.'
        format: int32
        type: integer
      details:
        description: |-
          A list of messages that carry the error details.  There is a common set of
          message types for APIs to use.
        items:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          type: object
        type: array
      message:
        description: |-
          A developer-facing error message, which should be in English. Any
          user-facing error message should be localized and sent in the
          google.rpc.Status.details field, or localized by the client.
        type: string
    type: object
  TransactionOptions:
    description: |-
      Options for beginning a new transaction.

      Transactions can be created explicitly with calls to
      Datastore.BeginTransaction or implicitly by setting
      ReadOptions.new_transaction in read requests.
    properties:
      readOnly:
        $ref: '#/definitions/ReadOnly'
        description: The transaction should only allow reads.
      readWrite:
        $ref: '#/definitions/ReadWrite'
        description: The transaction should allow both reads and writes.
    type: object
  Value:
    description: |-
      A message that can hold any of the supported value types and associated
      metadata.
    properties:
      arrayValue:
        $ref: '#/definitions/ArrayValue'
        description: |-
          An array value.
          Cannot contain another array value.
          A `Value` instance that sets field `array_value` must not set fields
          `meaning` or `exclude_from_indexes`.
      blobValue:
        description: |-
          A blob value.
          May have at most 1,000,000 bytes.
          When `exclude_from_indexes` is false, may have at most 1500 bytes.
          In JSON requests, must be base64-encoded.
        format: byte
        type: string
      booleanValue:
        description: A boolean value.
        type: boolean
      doubleValue:
        description: A double value.
        format: double
        type: number
      entityValue:
        $ref: '#/definitions/Entity'
        description: |-
          An entity value.

          - May have no key.
          - May have a key with an incomplete key path.
          - May have a reserved/read-only key.
      excludeFromIndexes:
        description: |-
          If the value should be excluded from all indexes including those defined
          explicitly.
        type: boolean
      geoPointValue:
        $ref: '#/definitions/LatLng'
        description: A geo point value representing a point on the surface of Earth.
      integerValue:
        description: An integer value.
        format: int64
        type: string
      keyValue:
        $ref: '#/definitions/Key'
        description: A key value.
      meaning:
        description: The `meaning` field should only be populated for backwards compatibility.
        format: int32
        type: integer
      nullValue:
        description: A null value.
        enum:
          - NULL_VALUE
        type: string
      stringValue:
        description: |-
          A UTF-8 encoded string value.
          When `exclude_from_indexes` is false (it is indexed) , may have at most 1500 bytes.
          Otherwise, may be set to at least 1,000,000 bytes.
        type: string
      timestampValue:
        description: |-
          A timestamp value.
          When stored in the Datastore, precise only to microseconds;
          any additional precision is rounded down.
        format: google-datetime
        type: string
    type: object
