swagger: '2.0'
schemes:
  - https
host: cloudfunctions.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: API for managing lightweight user-provided functions executed in response to events.
  title: Google Cloud Functions
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://cloudfunctions.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: cloudfunctions
externalDocs:
  url: 'https://cloud.google.com/functions'
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags: []
paths: {}
definitions:
  OperationMetadataV1Beta2:
    description: Metadata describing an Operation
    properties:
      request:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: The original request that started the operation.
        type: object
      target:
        description: |-
          Target of the operation - for example
          projects/project-1/locations/region-1/functions/function-1
        type: string
      type:
        description: Type of operation.
        enum:
          - OPERATION_UNSPECIFIED
          - CREATE_FUNCTION
          - UPDATE_FUNCTION
          - DELETE_FUNCTION
        type: string
    type: object
