openapi: 3.0.0
servers:
  - url: 'https://www.googleapis.com/games/v1'
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: The API for Google Play Game Services.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Play Game Services
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.gstatic.com/images/icons/material/product/2x/play_games_64dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/games/v1/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: games
externalDocs:
  url: 'https://developers.google.com/games/services/'
tags:
  - name: achievementDefinitions
  - name: achievements
  - name: applications
  - name: events
  - name: leaderboards
  - name: metagame
  - name: players
  - name: pushtokens
  - name: questMilestones
  - name: quests
  - name: revisions
  - name: rooms
  - name: scores
  - name: snapshots
  - name: turnBasedMatches
paths:
  /achievements:
    get:
      description: Lists all the achievement definitions for your application.
      operationId: games.achievementDefinitions.list
      parameters:
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
        - description: 'The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified maxResults.'
          in: query
          name: maxResults
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AchievementDefinitionsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - achievementDefinitions
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  /achievements/updateMultiple:
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Updates multiple achievements for the currently authenticated player.
      operationId: games.achievements.updateMultiple
      parameters:
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AchievementUpdateMultipleResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - achievements
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchievementUpdateMultipleRequest'
  '/achievements/{achievementId}/increment':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Increments the steps of the achievement with the given ID for the currently authenticated player.
      operationId: games.achievements.increment
      parameters:
        - description: The ID of the achievement used by this method.
          in: path
          name: achievementId
          required: true
          schema:
            type: string
        - description: The number of steps to increment.
          in: query
          name: stepsToIncrement
          required: true
          schema:
            type: integer
            minimum: 1
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.
          in: query
          name: requestId
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AchievementIncrementResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - achievements
  '/achievements/{achievementId}/reveal':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Sets the state of the achievement with the given ID to REVEALED for the currently authenticated player.
      operationId: games.achievements.reveal
      parameters:
        - description: The ID of the achievement used by this method.
          in: path
          name: achievementId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AchievementRevealResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - achievements
  '/achievements/{achievementId}/setStepsAtLeast':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: 'Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.'
      operationId: games.achievements.setStepsAtLeast
      parameters:
        - description: The ID of the achievement used by this method.
          in: path
          name: achievementId
          required: true
          schema:
            type: string
        - description: The minimum value to set the steps to.
          in: query
          name: steps
          required: true
          schema:
            type: integer
            minimum: 1
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AchievementSetStepsAtLeastResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - achievements
  '/achievements/{achievementId}/unlock':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Unlocks this achievement for the currently authenticated player.
      operationId: games.achievements.unlock
      parameters:
        - description: The ID of the achievement used by this method.
          in: path
          name: achievementId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AchievementUnlockResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - achievements
  /applications/played:
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Indicate that the the currently authenticated user is playing your application.
      operationId: games.applications.played
      parameters:
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - applications
  '/applications/{applicationId}':
    get:
      description: 'Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified platformType, the returned response will not include any instance data.'
      operationId: games.applications.get
      parameters:
        - description: The application ID from the Google Play developer console.
          in: path
          name: applicationId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
        - description: Restrict application details returned to the specific platform.
          in: query
          name: platformType
          schema:
            type: string
            enum:
              - ANDROID
              - IOS
              - WEB_APP
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Application'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - applications
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/applications/{applicationId}/verify':
    get:
      description: 'Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.'
      operationId: games.applications.verify
      parameters:
        - description: The application ID from the Google Play developer console.
          in: path
          name: applicationId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationVerifyResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - applications
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  /eventDefinitions:
    get:
      description: Returns a list of the event definitions in this application.
      operationId: games.events.listDefinitions
      parameters:
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
        - description: 'The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified maxResults.'
          in: query
          name: maxResults
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventDefinitionListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - events
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  /events:
    get:
      description: Returns a list showing the current progress on events in this application for the currently authenticated user.
      operationId: games.events.listByPlayer
      parameters:
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
        - description: 'The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults.'
          in: query
          name: maxResults
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PlayerEventListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - events
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.
      operationId: games.events.record
      parameters:
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventUpdateResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventRecordRequest'
  /leaderboards:
    get:
      description: Lists all the leaderboard metadata for your application.
      operationId: games.leaderboards.list
      parameters:
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
        - description: 'The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified maxResults.'
          in: query
          name: maxResults
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LeaderboardListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - leaderboards
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  /leaderboards/scores:
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Submits multiple scores to leaderboards.
      operationId: games.scores.submitMultiple
      parameters:
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PlayerScoreListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - scores
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerScoreSubmissionList'
  '/leaderboards/{leaderboardId}':
    get:
      description: Retrieves the metadata of the leaderboard with the given ID.
      operationId: games.leaderboards.get
      parameters:
        - description: The ID of the leaderboard.
          in: path
          name: leaderboardId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Leaderboard'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - leaderboards
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/leaderboards/{leaderboardId}/scores':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Submits a score to the specified leaderboard.
      operationId: games.scores.submit
      parameters:
        - description: The ID of the leaderboard.
          in: path
          name: leaderboardId
          required: true
          schema:
            type: string
        - description: 'The score you''re submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.'
          in: query
          name: score
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
        - description: Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.
          in: query
          name: scoreTag
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PlayerScoreResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - scores
  '/leaderboards/{leaderboardId}/scores/{collection}':
    get:
      description: 'Lists the scores in a leaderboard, starting from the top.'
      operationId: games.scores.list
      parameters:
        - description: The ID of the leaderboard.
          in: path
          name: leaderboardId
          required: true
          schema:
            type: string
        - description: The collection of scores you're requesting.
          in: path
          name: collection
          required: true
          schema:
            type: string
            enum:
              - PUBLIC
              - SOCIAL
              - SOCIAL_1P
        - description: The time span for the scores and ranks you're requesting.
          in: query
          name: timeSpan
          required: true
          schema:
            type: string
            enum:
              - ALL_TIME
              - DAILY
              - WEEKLY
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
        - description: 'The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified maxResults.'
          in: query
          name: maxResults
          schema:
            type: integer
            minimum: 1
            maximum: 30
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LeaderboardScores'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - scores
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/leaderboards/{leaderboardId}/window/{collection}':
    get:
      description: Lists the scores in a leaderboard around (and including) a player's score.
      operationId: games.scores.listWindow
      parameters:
        - description: The ID of the leaderboard.
          in: path
          name: leaderboardId
          required: true
          schema:
            type: string
        - description: The collection of scores you're requesting.
          in: path
          name: collection
          required: true
          schema:
            type: string
            enum:
              - PUBLIC
              - SOCIAL
              - SOCIAL_1P
        - description: The time span for the scores and ranks you're requesting.
          in: query
          name: timeSpan
          required: true
          schema:
            type: string
            enum:
              - ALL_TIME
              - DAILY
              - WEEKLY
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
        - description: 'The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified maxResults.'
          in: query
          name: maxResults
          schema:
            type: integer
            minimum: 1
            maximum: 30
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
        - description: The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults.
          in: query
          name: resultsAbove
          schema:
            type: integer
        - description: True if the top scores should be returned when the player is not in the leaderboard. Defaults to true.
          in: query
          name: returnTopIfAbsent
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LeaderboardScores'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - scores
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  /metagameConfig:
    get:
      description: Return the metagame configuration data for the calling application.
      operationId: games.metagame.getMetagameConfig
      parameters:
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MetagameConfig'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - metagame
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/players/me/players/{collection}':
    get:
      description: Get the collection of players for the currently authenticated user.
      operationId: games.players.list
      parameters:
        - description: Collection of players being retrieved
          in: path
          name: collection
          required: true
          schema:
            type: string
            enum:
              - connected
              - playedWith
              - played_with
              - visible
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
        - description: 'The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified maxResults.'
          in: query
          name: maxResults
          schema:
            type: integer
            minimum: 1
            maximum: 50
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PlayerListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - players
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/players/{playerId}':
    get:
      description: 'Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set playerId to me.'
      operationId: games.players.get
      parameters:
        - description: A player ID. A value of me may be used in place of the authenticated player's ID.
          in: path
          name: playerId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Player'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - players
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/players/{playerId}/achievements':
    get:
      description: Lists the progress for all your application's achievements for the currently authenticated player.
      operationId: games.achievements.list
      parameters:
        - description: A player ID. A value of me may be used in place of the authenticated player's ID.
          in: path
          name: playerId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
        - description: 'The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified maxResults.'
          in: query
          name: maxResults
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
        - description: 'Tells the server to return only achievements with the specified state. If this parameter isn''t specified, all achievements are returned.'
          in: query
          name: state
          schema:
            type: string
            enum:
              - ALL
              - HIDDEN
              - REVEALED
              - UNLOCKED
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PlayerAchievementListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - achievements
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/players/{playerId}/categories/{collection}':
    get:
      description: List play data aggregated per category for the player corresponding to playerId.
      operationId: games.metagame.listCategoriesByPlayer
      parameters:
        - description: A player ID. A value of me may be used in place of the authenticated player's ID.
          in: path
          name: playerId
          required: true
          schema:
            type: string
        - description: The collection of categories for which data will be returned.
          in: path
          name: collection
          required: true
          schema:
            type: string
            enum:
              - all
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
        - description: 'The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified maxResults.'
          in: query
          name: maxResults
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CategoryListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - metagame
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}':
    get:
      description: |-
        Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, leaderboardId can be set to ALL to retrieve data for all leaderboards in a given time span.
        NOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.
      operationId: games.scores.get
      parameters:
        - description: A player ID. A value of me may be used in place of the authenticated player's ID.
          in: path
          name: playerId
          required: true
          schema:
            type: string
        - description: The ID of the leaderboard. Can be set to 'ALL' to retrieve data for all leaderboards for this application.
          in: path
          name: leaderboardId
          required: true
          schema:
            type: string
        - description: The time span for the scores and ranks you're requesting.
          in: path
          name: timeSpan
          required: true
          schema:
            type: string
            enum:
              - ALL
              - ALL_TIME
              - DAILY
              - WEEKLY
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: 'The types of ranks to return. If the parameter is omitted, no ranks will be returned.'
          in: query
          name: includeRankType
          schema:
            type: string
            enum:
              - ALL
              - PUBLIC
              - SOCIAL
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
        - description: 'The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified maxResults.'
          in: query
          name: maxResults
          schema:
            type: integer
            minimum: 1
            maximum: 30
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PlayerLeaderboardScoreListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - scores
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/players/{playerId}/quests':
    get:
      description: Get a list of quests for your application and the currently authenticated player.
      operationId: games.quests.list
      parameters:
        - description: A player ID. A value of me may be used in place of the authenticated player's ID.
          in: path
          name: playerId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
        - description: 'The maximum number of quest resources to return in the response, used for paging. For any response, the actual number of quest resources returned may be less than the specified maxResults. Acceptable values are 1 to 50, inclusive. (Default: 50).'
          in: query
          name: maxResults
          schema:
            type: integer
            minimum: 1
            maximum: 50
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QuestListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - quests
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/players/{playerId}/snapshots':
    get:
      description: Retrieves a list of snapshots created by your application for the player corresponding to the player ID.
      operationId: games.snapshots.list
      parameters:
        - description: A player ID. A value of me may be used in place of the authenticated player's ID.
          in: path
          name: playerId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
        - description: 'The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified maxResults.'
          in: query
          name: maxResults
          schema:
            type: integer
            minimum: 1
            maximum: 25
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - snapshots
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  /pushtokens:
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Registers a push token for the current user and application.
      operationId: games.pushtokens.update
      parameters:
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - pushtokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushToken'
  /pushtokens/remove:
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Removes a push token for the current user and application. Removing a non-existent push token will report success.
      operationId: games.pushtokens.remove
      parameters:
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - pushtokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushTokenId'
  '/quests/{questId}/accept':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Indicates that the currently authorized user will participate in the quest.
      operationId: games.quests.accept
      parameters:
        - description: The ID of the quest.
          in: path
          name: questId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Quest'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - quests
  '/quests/{questId}/milestones/{milestoneId}/claim':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Report that a reward for the milestone corresponding to milestoneId for the quest corresponding to questId has been claimed by the currently authorized user.
      operationId: games.questMilestones.claim
      parameters:
        - description: The ID of the quest.
          in: path
          name: questId
          required: true
          schema:
            type: string
        - description: The ID of the milestone.
          in: path
          name: milestoneId
          required: true
          schema:
            type: string
        - description: A numeric ID to ensure that the request is handled correctly across retries. Your client application must generate this ID randomly.
          in: query
          name: requestId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - questMilestones
  /revisions/check:
    get:
      description: Checks whether the games client is out of date.
      operationId: games.revisions.check
      parameters:
        - description: |-
            The revision of the client SDK used by your application. Format:
            [PLATFORM_TYPE]:[VERSION_NUMBER]. Possible values of PLATFORM_TYPE are:
             
            - "ANDROID" - Client is running the Android SDK. 
            - "IOS" - Client is running the iOS SDK. 
            - "WEB_APP" - Client is running as a Web App.
          in: query
          name: clientRevision
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RevisionCheckResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - revisions
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  /rooms:
    get:
      description: Returns invitations to join rooms.
      operationId: games.rooms.list
      parameters:
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
        - description: 'The maximum number of rooms to return in the response, used for paging. For any response, the actual number of rooms to return may be less than the specified maxResults.'
          in: query
          name: maxResults
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RoomList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - rooms
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  /rooms/create:
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Create a room. For internal use by the Games SDK only. Calling this method directly is unsupported.
      operationId: games.rooms.create
      parameters:
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Room'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - rooms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomCreateRequest'
  '/rooms/{roomId}':
    get:
      description: Get the data for a room.
      operationId: games.rooms.get
      parameters:
        - description: The ID of the room.
          in: path
          name: roomId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Room'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - rooms
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/rooms/{roomId}/decline':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Decline an invitation to join a room. For internal use by the Games SDK only. Calling this method directly is unsupported.
      operationId: games.rooms.decline
      parameters:
        - description: The ID of the room.
          in: path
          name: roomId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Room'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - rooms
  '/rooms/{roomId}/dismiss':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Dismiss an invitation to join a room. For internal use by the Games SDK only. Calling this method directly is unsupported.
      operationId: games.rooms.dismiss
      parameters:
        - description: The ID of the room.
          in: path
          name: roomId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - rooms
  '/rooms/{roomId}/join':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Join a room. For internal use by the Games SDK only. Calling this method directly is unsupported.
      operationId: games.rooms.join
      parameters:
        - description: The ID of the room.
          in: path
          name: roomId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Room'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - rooms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomJoinRequest'
  '/rooms/{roomId}/leave':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Leave a room. For internal use by the Games SDK only. Calling this method directly is unsupported.
      operationId: games.rooms.leave
      parameters:
        - description: The ID of the room.
          in: path
          name: roomId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Room'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - rooms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomLeaveRequest'
  '/rooms/{roomId}/reportstatus':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Updates sent by a client reporting the status of peers in a room. For internal use by the Games SDK only. Calling this method directly is unsupported.
      operationId: games.rooms.reportStatus
      parameters:
        - description: The ID of the room.
          in: path
          name: roomId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RoomStatus'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - rooms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomP2PStatuses'
  '/snapshots/{snapshotId}':
    get:
      description: Retrieves the metadata for a given snapshot ID.
      operationId: games.snapshots.get
      parameters:
        - description: The ID of the snapshot.
          in: path
          name: snapshotId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Snapshot'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive.appdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive.appdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - snapshots
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  /turnbasedmatches:
    get:
      description: Returns turn-based matches the player is or was involved in.
      operationId: games.turnBasedMatches.list
      parameters:
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: True if match data should be returned in the response. Note that not all data will necessarily be returned if include_match_data is true; the server may decide to only return data for some of the matches to limit download size for the client. The remainder of the data for these matches will be retrievable on request.
          in: query
          name: includeMatchData
          schema:
            type: boolean
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
        - description: 'The maximum number of completed or canceled matches to return in the response. If not set, all matches returned could be completed or canceled.'
          in: query
          name: maxCompletedMatches
          schema:
            type: integer
            minimum: 0
            maximum: 500
        - description: 'The maximum number of matches to return in the response, used for paging. For any response, the actual number of matches to return may be less than the specified maxResults.'
          in: query
          name: maxResults
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TurnBasedMatchList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - turnBasedMatches
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  /turnbasedmatches/create:
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Create a turn-based match.
      operationId: games.turnBasedMatches.create
      parameters:
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TurnBasedMatch'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - turnBasedMatches
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TurnBasedMatchCreateRequest'
  /turnbasedmatches/sync:
    get:
      description: 'Returns turn-based matches the player is or was involved in that changed since the last sync call, with the least recent changes coming first. Matches that should be removed from the local cache will have a status of MATCH_DELETED.'
      operationId: games.turnBasedMatches.sync
      parameters:
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: True if match data should be returned in the response. Note that not all data will necessarily be returned if include_match_data is true; the server may decide to only return data for some of the matches to limit download size for the client. The remainder of the data for these matches will be retrievable on request.
          in: query
          name: includeMatchData
          schema:
            type: boolean
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
        - description: 'The maximum number of completed or canceled matches to return in the response. If not set, all matches returned could be completed or canceled.'
          in: query
          name: maxCompletedMatches
          schema:
            type: integer
            minimum: 0
            maximum: 500
        - description: 'The maximum number of matches to return in the response, used for paging. For any response, the actual number of matches to return may be less than the specified maxResults.'
          in: query
          name: maxResults
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TurnBasedMatchSync'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - turnBasedMatches
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/turnbasedmatches/{matchId}':
    get:
      description: Get the data for a turn-based match.
      operationId: games.turnBasedMatches.get
      parameters:
        - description: The ID of the match.
          in: path
          name: matchId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: Get match data along with metadata.
          in: query
          name: includeMatchData
          schema:
            type: boolean
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TurnBasedMatch'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - turnBasedMatches
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/turnbasedmatches/{matchId}/cancel':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Cancel a turn-based match.
      operationId: games.turnBasedMatches.cancel
      parameters:
        - description: The ID of the match.
          in: path
          name: matchId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - turnBasedMatches
  '/turnbasedmatches/{matchId}/decline':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Decline an invitation to play a turn-based match.
      operationId: games.turnBasedMatches.decline
      parameters:
        - description: The ID of the match.
          in: path
          name: matchId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TurnBasedMatch'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - turnBasedMatches
  '/turnbasedmatches/{matchId}/dismiss':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Dismiss a turn-based match from the match list. The match will no longer show up in the list and will not generate notifications.
      operationId: games.turnBasedMatches.dismiss
      parameters:
        - description: The ID of the match.
          in: path
          name: matchId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - turnBasedMatches
  '/turnbasedmatches/{matchId}/finish':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: 'Finish a turn-based match. Each player should make this call once, after all results are in. Only the player whose turn it is may make the first call to Finish, and can pass in the final match state.'
      operationId: games.turnBasedMatches.finish
      parameters:
        - description: The ID of the match.
          in: path
          name: matchId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TurnBasedMatch'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - turnBasedMatches
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TurnBasedMatchResults'
  '/turnbasedmatches/{matchId}/join':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Join a turn-based match.
      operationId: games.turnBasedMatches.join
      parameters:
        - description: The ID of the match.
          in: path
          name: matchId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TurnBasedMatch'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - turnBasedMatches
  '/turnbasedmatches/{matchId}/leave':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: 'Leave a turn-based match when it is not the current player''s turn, without canceling the match.'
      operationId: games.turnBasedMatches.leave
      parameters:
        - description: The ID of the match.
          in: path
          name: matchId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TurnBasedMatch'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - turnBasedMatches
  '/turnbasedmatches/{matchId}/leaveTurn':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: 'Leave a turn-based match during the current player''s turn, without canceling the match.'
      operationId: games.turnBasedMatches.leaveTurn
      parameters:
        - description: The ID of the match.
          in: path
          name: matchId
          required: true
          schema:
            type: string
        - description: The version of the match being updated.
          in: query
          name: matchVersion
          required: true
          schema:
            type: integer
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
        - description: 'The ID of another participant who should take their turn next. If not set, the match will wait for other player(s) to join via automatching; this is only valid if automatch criteria is set on the match with remaining slots for automatched players.'
          in: query
          name: pendingParticipantId
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TurnBasedMatch'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - turnBasedMatches
  '/turnbasedmatches/{matchId}/rematch':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: 'Create a rematch of a match that was previously completed, with the same participants. This can be called by only one player on a match still in their list; the player must have called Finish first. Returns the newly created match; it will be the caller''s turn.'
      operationId: games.turnBasedMatches.rematch
      parameters:
        - description: The ID of the match.
          in: path
          name: matchId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
        - description: A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.
          in: query
          name: requestId
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TurnBasedMatchRematch'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - turnBasedMatches
  '/turnbasedmatches/{matchId}/turn':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    put:
      description: Commit the results of a player turn.
      operationId: games.turnBasedMatches.takeTurn
      parameters:
        - description: The ID of the match.
          in: path
          name: matchId
          required: true
          schema:
            type: string
        - description: The last-seen mutation timestamp.
          in: query
          name: consistencyToken
          schema:
            type: string
        - description: The preferred language to use for strings returned by this method.
          in: query
          name: language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TurnBasedMatch'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/games'
          Oauth2c:
            - 'https://www.googleapis.com/auth/games'
        - Oauth2:
            - 'https://www.googleapis.com/auth/plus.login'
          Oauth2c:
            - 'https://www.googleapis.com/auth/plus.login'
      tags:
        - turnBasedMatches
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TurnBasedMatchTurn'
components:
  schemas:
    AchievementDefinition:
      description: This is a JSON template for an achievement definition object.
      properties:
        achievementType:
          description: |-
            The type of the achievement.
            Possible values are:  
            - "STANDARD" - Achievement is either locked or unlocked. 
            - "INCREMENTAL" - Achievement is incremental.
          type: string
        description:
          description: The description of the achievement.
          type: string
        experiencePoints:
          description: Experience points which will be earned when unlocking this achievement.
          format: int64
          type: string
        formattedTotalSteps:
          description: The total steps for an incremental achievement as a string.
          type: string
        id:
          description: The ID of the achievement.
          type: string
        initialState:
          description: |-
            The initial state of the achievement.
            Possible values are:  
            - "HIDDEN" - Achievement is hidden. 
            - "REVEALED" - Achievement is revealed. 
            - "UNLOCKED" - Achievement is unlocked.
          type: string
[...]
