swagger: '2.0'
schemes:
  - https
  - http
host: iot.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>AWS IoT</fullname> <p>AWS IoT provides secure, bi-directional communication between Internet-connected devices (such as sensors, actuators, embedded devices, or smart appliances) and the AWS cloud. You can discover your custom IoT-Data endpoint to communicate with, configure rules for data processing and integration with other services, organize resources associated with each device (Registry), configure logging, and create and manage policies and credentials to authenticate devices.</p> <p>For more information about how AWS IoT works, see the <a href="https://docs.aws.amazon.com/iot/latest/developerguide/aws-iot-how-it-works.html">Developer Guide</a>.</p> <p>For information about how to use the credentials provider for AWS IoT, see <a href="https://docs.aws.amazon.com/iot/latest/developerguide/authorizing-direct-aws.html">Authorizing Direct Calls to AWS Services</a>.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS IoT
  version: '2015-05-28'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iot-2015-05-28.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: iot
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/iot/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/accept-certificate-transfer/{certificateId}':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: '<p>Accepts a pending certificate transfer. The default state of the certificate is INACTIVE.</p> <p>To check for pending certificate transfers, call <a>ListCertificates</a> to enumerate your certificates.</p>'
      operationId: AcceptCertificateTransfer
      parameters:
        - description: The ID of the certificate. (The last part of the certificate ARN contains the certificate ID.)
          in: path
          maxLength: 64
          minLength: 64
          name: certificateId
          pattern: '(0x)?[a-fA-F0-9]+'
          required: true
          type: string
        - description: Specifies whether the certificate is active.
          in: query
          name: setAsActive
          required: false
          type: boolean
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: TransferAlreadyCompletedException
          schema:
            $ref: '#/definitions/TransferAlreadyCompletedException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  /active-violations:
    get:
      description: Lists the active violations for a given Device Defender security profile.
      operationId: ListActiveViolations
      parameters:
        - description: The name of the thing whose active violations are listed.
          in: query
          maxLength: 128
          minLength: 1
          name: thingName
          required: false
          type: string
        - description: The name of the Device Defender security profile for which violations are listed.
          in: query
          maxLength: 128
          minLength: 1
          name: securityProfileName
          pattern: '[a-zA-Z0-9:_-]+'
          required: false
          type: string
        - description: The token for the next set of results.
          in: query
          name: nextToken
          required: false
          type: string
        - description: The maximum number of results to return at one time.
          in: query
          maximum: 250
          minimum: 1
          name: maxResults
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListActiveViolationsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/attached-policies/{target}':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the policies attached to the specified thing group.
      operationId: ListAttachedPolicies
      parameters:
        - description: The group or principal for which the policies will be listed.
          in: path
          name: target
          required: true
          type: string
        - description: 'When true, recursively list attached policies.'
          in: query
          name: recursive
          required: false
          type: boolean
        - description: The token to retrieve the next set of results.
          in: query
          name: marker
          pattern: '[A-Za-z0-9+/]+={0,2}'
          required: false
          type: string
        - description: The maximum number of results to be returned per request.
          in: query
          maximum: 250
          minimum: 1
          name: pageSize
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAttachedPoliciesResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '486':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  /audit/configuration:
    delete:
      description: 'Restores the default settings for Device Defender audits for this account. Any configuration data you entered is deleted and all audit checks are reset to disabled. '
      operationId: DeleteAccountAuditConfiguration
      parameters:
        - description: 'If true, all scheduled audits are deleted.'
          in: query
          name: deleteScheduledAudits
          required: false
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAccountAuditConfigurationResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    get:
      description: Gets information about the Device Defender audit settings for this account. Settings include how audit notifications are sent and which audit checks are enabled or disabled.
      operationId: DescribeAccountAuditConfiguration
      parameters: []
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccountAuditConfigurationResponse'
        '480':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '481':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Configures or reconfigures the Device Defender audit settings for this account. Settings include how audit notifications are sent and which audit checks are enabled or disabled.
      operationId: UpdateAccountAuditConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              auditCheckConfigurations:
                additionalProperties:
                  $ref: '#/definitions/AuditCheckConfiguration'
                description: '<p>Specifies which audit checks are enabled and disabled for this account. Use <code>DescribeAccountAuditConfiguration</code> to see the list of all checks, including those that are currently enabled.</p> <p>Some data collection might start immediately when certain checks are enabled. When a check is disabled, any data collected so far in relation to the check is deleted.</p> <p>You cannot disable a check if it is used by any scheduled audit. You must first delete the check from the scheduled audit or delete the scheduled audit itself.</p> <p>On the first call to <code>UpdateAccountAuditConfiguration</code>, this parameter is required and must specify at least one enabled check.</p>'
                type: object
              auditNotificationTargetConfigurations:
                additionalProperties:
                  $ref: '#/definitions/AuditNotificationTarget'
                description: Information about the targets to which audit notifications are sent.
                type: object
              roleArn:
                description: 'The ARN of the role that grants permission to AWS IoT to access information about your devices, policies, certificates and other items as required when performing an audit.'
                maxLength: 2048
                minLength: 20
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAccountAuditConfigurationResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  /audit/findings:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the findings (results) of a Device Defender audit or of the audits performed during a specified time period. (Findings are retained for 180 days.)
      operationId: ListAuditFindings
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              checkName:
                description: 'An audit check name. Checks must be enabled for your account. (Use <code>DescribeAccountAuditConfiguration</code> to see the list of all checks, including those that are enabled or use <code>UpdateAccountAuditConfiguration</code> to select which checks are enabled.)'
                type: string
              endTime:
                description: 'A filter to limit results to those found before the specified time. You must specify either the startTime and endTime or the taskId, but not both.'
                format: date-time
                type: string
              maxResults:
                description: The maximum number of results to return at one time. The default is 25.
                maximum: 250
                minimum: 1
                type: integer
              nextToken:
                description: The token for the next set of results.
                type: string
              resourceIdentifier:
                description: Information that identifies the noncompliant resource.
                properties:
                  account:
                    $ref: '#/definitions/AwsAccountId'
                    description: The account with which the resource is associated.
                  caCertificateId:
                    $ref: '#/definitions/CertificateId'
                    description: The ID of the CA certificate used to authorize the certificate.
                  clientId:
                    $ref: '#/definitions/ClientId'
                    description: The client ID.
                  cognitoIdentityPoolId:
                    $ref: '#/definitions/CognitoIdentityPoolId'
                    description: The ID of the Amazon Cognito identity pool.
                  deviceCertificateId:
                    $ref: '#/definitions/CertificateId'
                    description: The ID of the certificate attached to the resource.
                  policyVersionIdentifier:
                    $ref: '#/definitions/PolicyVersionIdentifier'
                    description: The version of the policy associated with the resource.
                type: object
              startTime:
                description: 'A filter to limit results to those found after the specified time. You must specify either the startTime and endTime or the taskId, but not both.'
                format: date-time
                type: string
              taskId:
                description: 'A filter to limit results to the audit with the specified ID. You must specify either the taskId or the startTime and endTime, but not both.'
                maxLength: 40
                minLength: 1
                pattern: '[a-zA-Z0-9\-]+'
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAuditFindingsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/audit/findings/{findingId}':
    get:
      description: 'Gets information about a single audit finding. Properties include the reason for noncompliance, the severity of the issue, and when the audit that returned the finding was started.'
      operationId: DescribeAuditFinding
      parameters:
        - description: A unique identifier for a single audit finding. You can use this identifier to apply mitigation actions to the finding.
          in: path
          maxLength: 128
          minLength: 1
          name: findingId
          pattern: '[a-zA-Z0-9_-]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAuditFindingResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/audit/mitigationactions/executions#taskId&findingId':
    get:
      description: Gets the status of audit mitigation action tasks that were executed.
      operationId: ListAuditMitigationActionsExecutions
      parameters:
        - description: Specify this filter to limit results to actions for a specific audit mitigation actions task.
          in: query
          maxLength: 128
          minLength: 1
          name: taskId
          pattern: '[a-zA-Z0-9_-]+'
          required: true
          type: string
        - description: Specify this filter to limit results to those with a specific status.
          enum:
            - IN_PROGRESS
            - COMPLETED
            - FAILED
            - CANCELED
            - SKIPPED
            - PENDING
          in: query
          name: actionStatus
          required: false
          type: string
        - description: Specify this filter to limit results to those that were applied to a specific audit finding.
          in: query
          maxLength: 128
          minLength: 1
          name: findingId
          pattern: '[a-zA-Z0-9_-]+'
          required: true
          type: string
        - description: The maximum number of results to return at one time. The default is 25.
          in: query
          maximum: 250
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: The token for the next set of results.
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAuditMitigationActionsExecutionsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/audit/mitigationactions/tasks#startTime&endTime':
    get:
      description: Gets a list of audit mitigation action tasks that match the specified filters.
      operationId: ListAuditMitigationActionsTasks
      parameters:
        - description: Specify this filter to limit results to tasks that were applied to results for a specific audit.
          in: query
          maxLength: 40
          minLength: 1
          name: auditTaskId
          pattern: '[a-zA-Z0-9\-]+'
          required: false
          type: string
        - description: Specify this filter to limit results to tasks that were applied to a specific audit finding.
          in: query
          maxLength: 128
          minLength: 1
          name: findingId
          pattern: '[a-zA-Z0-9_-]+'
          required: false
          type: string
        - description: Specify this filter to limit results to tasks that are in a specific state.
          enum:
            - IN_PROGRESS
            - COMPLETED
            - FAILED
            - CANCELED
          in: query
          name: taskStatus
          required: false
          type: string
        - description: The maximum number of results to return at one time. The default is 25.
          in: query
          maximum: 250
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: The token for the next set of results.
          in: query
          name: nextToken
          required: false
          type: string
        - description: Specify this filter to limit results to tasks that began on or after a specific date and time.
          format: date-time
          in: query
          name: startTime
          required: true
          type: string
        - description: Specify this filter to limit results to tasks that were completed or canceled on or before a specific date and time.
          format: date-time
          in: query
          name: endTime
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAuditMitigationActionsTasksResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/audit/mitigationactions/tasks/{taskId}':
    get:
      description: 'Gets information about an audit mitigation task that is used to apply mitigation actions to a set of audit findings. Properties include the actions being applied, the audit checks to which they''re being applied, the task status, and aggregated task statistics.'
      operationId: DescribeAuditMitigationActionsTask
      parameters:
        - description: The unique identifier for the audit mitigation task.
          in: path
          maxLength: 128
          minLength: 1
          name: taskId
          pattern: '[a-zA-Z0-9_-]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAuditMitigationActionsTaskResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Starts a task that applies a set of mitigation actions to the specified target.
      operationId: StartAuditMitigationActionsTask
      parameters:
        - description: A unique identifier for the task. You can use this identifier to check the status of the task or to cancel it.
          in: path
          maxLength: 128
          minLength: 1
          name: taskId
          pattern: '[a-zA-Z0-9_-]+'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              auditCheckToActionsMapping:
                additionalProperties:
                  $ref: '#/definitions/MitigationActionNameList'
                description: 'For an audit check, specifies which mitigation actions to apply. Those actions must be defined in your AWS account.'
                type: object
              clientRequestToken:
                description: 'Each audit mitigation task must have a unique client request token. If you try to start a new task with the same token as a task that already exists, an exception occurs. If you omit this value, a unique client request token is generated automatically.'
                maxLength: 64
                minLength: 1
                pattern: '^[a-zA-Z0-9-_]+$'
                type: string
              target:
                description: 'Used in MitigationActionParams, this information identifies the target findings to which the mitigation actions are applied. Only one entry appears.'
                properties:
                  auditCheckToReasonCodeFilter:
                    $ref: '#/definitions/AuditCheckToReasonCodeFilter'
                    description: Specifies a filter in the form of an audit check and set of reason codes that identify the findings from the audit to which the audit mitigation actions task apply.
                  auditTaskId:
                    $ref: '#/definitions/AuditTaskId'
                    description: 'If the task will apply a mitigation action to findings from a specific audit, this value uniquely identifies the audit.'
                  findingIds:
                    $ref: '#/definitions/FindingIds'
                    description: 'If the task will apply a mitigation action to one or more listed findings, this value uniquely identifies those findings.'
                type: object
            required:
              - target
              - auditCheckToActionsMapping
              - clientRequestToken
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartAuditMitigationActionsTaskResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TaskAlreadyExistsException
          schema:
            $ref: '#/definitions/TaskAlreadyExistsException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/audit/mitigationactions/tasks/{taskId}/cancel':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: 'Cancels a mitigation action task that is in progress. If the task is not in progress, an InvalidRequestException occurs.'
      operationId: CancelAuditMitigationActionsTask
      parameters:
        - description: 'The unique identifier for the task that you want to cancel. '
          in: path
          maxLength: 128
          minLength: 1
          name: taskId
          pattern: '[a-zA-Z0-9_-]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelAuditMitigationActionsTaskResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  /audit/scheduledaudits:
    get:
      description: Lists all of your scheduled audits.
      operationId: ListScheduledAudits
      parameters:
        - description: The token for the next set of results.
          in: query
          name: nextToken
          required: false
          type: string
        - description: The maximum number of results to return at one time. The default is 25.
          in: query
          maximum: 250
          minimum: 1
          name: maxResults
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListScheduledAuditsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/audit/scheduledaudits/{scheduledAuditName}':
    delete:
      description: Deletes a scheduled audit.
      operationId: DeleteScheduledAudit
      parameters:
        - description: The name of the scheduled audit you want to delete.
          in: path
          maxLength: 128
          minLength: 1
          name: scheduledAuditName
          pattern: '[a-zA-Z0-9_-]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteScheduledAuditResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    get:
      description: Gets information about a scheduled audit.
      operationId: DescribeScheduledAudit
      parameters:
        - description: The name of the scheduled audit whose information you want to get.
          in: path
          maxLength: 128
          minLength: 1
          name: scheduledAuditName
          pattern: '[a-zA-Z0-9_-]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeScheduledAuditResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: 'Updates a scheduled audit, including which checks are performed and how often the audit takes place.'
      operationId: UpdateScheduledAudit
      parameters:
        - description: The name of the scheduled audit. (Max. 128 chars)
          in: path
          maxLength: 128
          minLength: 1
          name: scheduledAuditName
          pattern: '[a-zA-Z0-9_-]+'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              dayOfMonth:
                description: 'The day of the month on which the scheduled audit takes place. Can be "1" through "31" or "LAST". This field is required if the "frequency" parameter is set to "MONTHLY". If days 29-31 are specified, and the month does not have that many days, the audit takes place on the "LAST" day of the month.'
                pattern: '^([1-9]|[12][0-9]|3[01])$|^LAST$'
                type: string
              dayOfWeek:
                description: 'The day of the week on which the scheduled audit takes place. Can be one of "SUN", "MON", "TUE", "WED", "THU", "FRI", or "SAT". This field is required if the "frequency" parameter is set to "WEEKLY" or "BIWEEKLY".'
                enum:
                  - SUN
                  - MON
                  - TUE
                  - WED
                  - THU
                  - FRI
                  - SAT
                type: string
              frequency:
                description: 'How often the scheduled audit takes place. Can be one of "DAILY", "WEEKLY", "BIWEEKLY", or "MONTHLY". The start time of each audit is determined by the system.'
                enum:
                  - DAILY
                  - WEEKLY
                  - BIWEEKLY
                  - MONTHLY
                type: string
              targetCheckNames:
                description: 'Which checks are performed during the scheduled audit. Checks must be enabled for your account. (Use <code>DescribeAccountAuditConfiguration</code> to see the list of all checks, including those that are enabled or use <code>UpdateAccountAuditConfiguration</code> to select which checks are enabled.)'
                items:
                  $ref: '#/definitions/AuditCheckName'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateScheduledAuditResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    post:
      description: Creates a scheduled audit that is run at a specified time interval.
      operationId: CreateScheduledAudit
      parameters:
        - description: The name you want to give to the scheduled audit. (Max. 128 chars)
          in: path
          maxLength: 128
          minLength: 1
          name: scheduledAuditName
          pattern: '[a-zA-Z0-9_-]+'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              dayOfMonth:
                description: 'The day of the month on which the scheduled audit takes place. Can be "1" through "31" or "LAST". This field is required if the "frequency" parameter is set to "MONTHLY". If days 29-31 are specified, and the month does not have that many days, the audit takes place on the "LAST" day of the month.'
                pattern: '^([1-9]|[12][0-9]|3[01])$|^LAST$'
                type: string
              dayOfWeek:
                description: 'The day of the week on which the scheduled audit takes place. Can be one of "SUN", "MON", "TUE", "WED", "THU", "FRI", or "SAT". This field is required if the "frequency" parameter is set to "WEEKLY" or "BIWEEKLY".'
                enum:
                  - SUN
                  - MON
                  - TUE
                  - WED
                  - THU
                  - FRI
                  - SAT
                type: string
              frequency:
                description: 'How often the scheduled audit takes place. Can be one of "DAILY", "WEEKLY", "BIWEEKLY" or "MONTHLY". The start time of each audit is determined by the system.'
                enum:
                  - DAILY
                  - WEEKLY
                  - BIWEEKLY
                  - MONTHLY
                type: string
              tags:
                description: Metadata that can be used to manage the scheduled audit.
                items:
                  $ref: '#/definitions/Tag'
                type: array
              targetCheckNames:
                description: 'Which checks are performed during the scheduled audit. Checks must be enabled for your account. (Use <code>DescribeAccountAuditConfiguration</code> to see the list of all checks, including those that are enabled or use <code>UpdateAccountAuditConfiguration</code> to select which checks are enabled.)'
                items:
                  $ref: '#/definitions/AuditCheckName'
                type: array
            required:
              - frequency
              - targetCheckNames
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateScheduledAuditResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  /audit/tasks:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Starts an on-demand Device Defender audit.
      operationId: StartOnDemandAuditTask
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              targetCheckNames:
                description: 'Which checks are performed during the audit. The checks you specify must be enabled for your account or an exception occurs. Use <code>DescribeAccountAuditConfiguration</code> to see the list of all checks, including those that are enabled or <code>UpdateAccountAuditConfiguration</code> to select which checks are enabled.'
                items:
                  $ref: '#/definitions/AuditCheckName'
                type: array
            required:
              - targetCheckNames
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartOnDemandAuditTaskResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  '/audit/tasks#startTime&endTime':
    get:
      description: Lists the Device Defender audits that have been performed during a given time period.
      operationId: ListAuditTasks
      parameters:
        - description: The beginning of the time period. Audit information is retained for a limited time (180 days). Requesting a start time prior to what is retained results in an "InvalidRequestException".
          format: date-time
          in: query
          name: startTime
          required: true
          type: string
        - description: The end of the time period.
          format: date-time
          in: query
          name: endTime
          required: true
          type: string
        - description: 'A filter to limit the output to the specified type of audit: can be one of "ON_DEMAND_AUDIT_TASK" or "SCHEDULED__AUDIT_TASK".'
          enum:
            - ON_DEMAND_AUDIT_TASK
            - SCHEDULED_AUDIT_TASK
          in: query
          name: taskType
          required: false
          type: string
        - description: 'A filter to limit the output to audits with the specified completion status: can be one of "IN_PROGRESS", "COMPLETED", "FAILED", or "CANCELED".'
          enum:
            - IN_PROGRESS
            - COMPLETED
            - FAILED
            - CANCELED
          in: query
          name: taskStatus
          required: false
          type: string
        - description: The token for the next set of results.
          in: query
          name: nextToken
          required: false
          type: string
        - description: The maximum number of results to return at one time. The default is 25.
          in: query
          maximum: 250
          minimum: 1
          name: maxResults
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAuditTasksResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/audit/tasks/{taskId}':
    get:
      description: Gets information about a Device Defender audit.
      operationId: DescribeAuditTask
      parameters:
        - description: The ID of the audit whose information you want to get.
          in: path
          maxLength: 40
          minLength: 1
          name: taskId
          pattern: '[a-zA-Z0-9\-]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAuditTaskResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/audit/tasks/{taskId}/cancel':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: 'Cancels an audit that is in progress. The audit can be either scheduled or on-demand. If the audit is not in progress, an "InvalidRequestException" occurs.'
      operationId: CancelAuditTask
      parameters:
        - description: The ID of the audit you want to cancel. You can only cancel an audit that is "IN_PROGRESS".
          in: path
          maxLength: 40
          minLength: 1
          name: taskId
          pattern: '[a-zA-Z0-9\-]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelAuditTaskResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/authorizer/{authorizerName}':
    delete:
      description: Deletes an authorizer.
      operationId: DeleteAuthorizer
      parameters:
        - description: The name of the authorizer to delete.
          in: path
          maxLength: 128
          minLength: 1
          name: authorizerName
          pattern: '[\w=,@-]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAuthorizerResponse'
        '480':
          description: DeleteConflictException
          schema:
            $ref: '#/definitions/DeleteConflictException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    get:
      description: Describes an authorizer.
      operationId: DescribeAuthorizer
      parameters:
        - description: The name of the authorizer to describe.
          in: path
          maxLength: 128
          minLength: 1
          name: authorizerName
          pattern: '[\w=,@-]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAuthorizerResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates an authorizer.
      operationId: CreateAuthorizer
      parameters:
        - description: The authorizer name.
          in: path
          maxLength: 128
          minLength: 1
          name: authorizerName
          pattern: '[\w=,@-]+'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              authorizerFunctionArn:
                description: The ARN of the authorizer's Lambda function.
                type: string
              status:
                description: The status of the create authorizer request.
                enum:
                  - ACTIVE
                  - INACTIVE
                type: string
              tokenKeyName:
                description: The name of the token key used to extract the token from the HTTP headers.
                maxLength: 128
                minLength: 1
                pattern: '[a-zA-Z0-9_-]+'
                type: string
              tokenSigningPublicKeys:
                additionalProperties:
                  $ref: '#/definitions/KeyValue'
                description: The public keys used to verify the digital signature returned by your custom authentication service.
                type: object
            required:
              - authorizerFunctionArn
              - tokenKeyName
              - tokenSigningPublicKeys
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAuthorizerResponse'
        '480':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    put:
      description: Updates an authorizer.
      operationId: UpdateAuthorizer
      parameters:
        - description: The authorizer name.
          in: path
          maxLength: 128
          minLength: 1
          name: authorizerName
          pattern: '[\w=,@-]+'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              authorizerFunctionArn:
                description: The ARN of the authorizer's Lambda function.
                type: string
              status:
                description: The status of the update authorizer request.
                enum:
                  - ACTIVE
                  - INACTIVE
                type: string
              tokenKeyName:
                description: 'The key used to extract the token from the HTTP headers. '
                maxLength: 128
                minLength: 1
                pattern: '[a-zA-Z0-9_-]+'
                type: string
              tokenSigningPublicKeys:
                additionalProperties:
                  $ref: '#/definitions/KeyValue'
                description: The public keys used to verify the token signature.
                type: object
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAuthorizerResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/authorizer/{authorizerName}/test':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Tests a custom authorization behavior by invoking a specified custom authorizer. Use this to test and debug the custom authorization behavior of devices that connect to the AWS IoT device gateway.
      operationId: TestInvokeAuthorizer
      parameters:
        - description: The custom authorizer name.
          in: path
          maxLength: 128
          minLength: 1
          name: authorizerName
          pattern: '[\w=,@-]+'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              token:
                description: The token returned by your custom authentication service.
                maxLength: 6144
                minLength: 1
                type: string
              tokenSignature:
                description: The signature made with the token and your custom authentication service's private key.
                maxLength: 2560
                minLength: 1
                pattern: '[A-Za-z0-9+/]+={0,2}'
                type: string
            required:
              - token
              - tokenSignature
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TestInvokeAuthorizerResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '486':
          description: InvalidResponseException
          schema:
            $ref: '#/definitions/InvalidResponseException'
  /authorizers/:
    get:
      description: Lists the authorizers registered in your account.
      operationId: ListAuthorizers
      parameters:
        - description: The maximum number of results to return at one time.
          in: query
          maximum: 250
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - description: A marker used to get the next set of results.
          in: query
          name: marker
          pattern: '[A-Za-z0-9+/]+={0,2}'
          required: false
          type: string
        - description: Return the list of authorizers in ascending alphabetical order.
          in: query
          name: isAscendingOrder
          required: false
          type: boolean
        - description: The status of the list authorizers request.
          enum:
            - ACTIVE
            - INACTIVE
          in: query
          name: status
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAuthorizersResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /billing-groups:
    get:
      description: Lists the billing groups you have created.
      operationId: ListBillingGroups
      parameters:
        - description: The token to retrieve the next set of results.
          in: query
          name: nextToken
          required: false
          type: string
        - description: The maximum number of results to return per request.
          in: query
          maximum: 250
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: Limit the results to billing groups whose names have the given prefix.
          in: query
          maxLength: 128
          minLength: 1
          name: namePrefixFilter
          pattern: '[a-zA-Z0-9:_-]+'
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBillingGroupsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /billing-groups/addThingToBillingGroup:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Adds a thing to a billing group.
      operationId: AddThingToBillingGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              billingGroupArn:
                description: The ARN of the billing group.
                type: string
              billingGroupName:
                description: The name of the billing group.
                maxLength: 128
                minLength: 1
                pattern: '[a-zA-Z0-9:_-]+'
                type: string
              thingArn:
                description: The ARN of the thing to be added to the billing group.
                type: string
              thingName:
                description: The name of the thing to be added to the billing group.
                maxLength: 128
                minLength: 1
                pattern: '[a-zA-Z0-9:_-]+'
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddThingToBillingGroupResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  /billing-groups/removeThingFromBillingGroup:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Removes the given thing from the billing group.
      operationId: RemoveThingFromBillingGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              billingGroupArn:
                description: The ARN of the billing group.
                type: string
              billingGroupName:
                description: The name of the billing group.
                maxLength: 128
                minLength: 1
                pattern: '[a-zA-Z0-9:_-]+'
                type: string
              thingArn:
                description: The ARN of the thing to be removed from the billing group.
                type: string
              thingName:
                description: The name of the thing to be removed from the billing group.
                maxLength: 128
                minLength: 1
                pattern: '[a-zA-Z0-9:_-]+'
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RemoveThingFromBillingGroupResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/billing-groups/{billingGroupName}':
    delete:
      description: Deletes the billing group.
      operationId: DeleteBillingGroup
      parameters:
        - description: The name of the billing group.
          in: path
          maxLength: 128
          minLength: 1
          name: billingGroupName
          pattern: '[a-zA-Z0-9:_-]+'
          required: true
          type: string
        - description: 'The expected version of the billing group. If the version of the billing group does not match the expected version specified in the request, the <code>DeleteBillingGroup</code> request is rejected with a <code>VersionConflictException</code>.'
          in: query
          name: expectedVersion
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteBillingGroupResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: VersionConflictException
          schema:
            $ref: '#/definitions/VersionConflictException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    get:
      description: Returns information about a billing group.
      operationId: DescribeBillingGroup
      parameters:
        - description: The name of the billing group.
          in: path
          maxLength: 128
          minLength: 1
          name: billingGroupName
          pattern: '[a-zA-Z0-9:_-]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeBillingGroupResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Updates information about the billing group.
      operationId: UpdateBillingGroup
      parameters:
        - description: The name of the billing group.
          in: path
          maxLength: 128
          minLength: 1
          name: billingGroupName
          pattern: '[a-zA-Z0-9:_-]+'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              billingGroupProperties:
                description: The properties of a billing group.
                properties:
                  billingGroupDescription:
                    $ref: '#/definitions/BillingGroupDescription'
                    description: The description of the billing group.
                type: object
              expectedVersion:
                description: 'The expected version of the billing group. If the version of the billing group does not match the expected version specified in the request, the <code>UpdateBillingGroup</code> request is rejected with a <code>VersionConflictException</code>.'
                type: integer
            required:
              - billingGroupProperties
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateBillingGroupResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: VersionConflictException
          schema:
            $ref: '#/definitions/VersionConflictException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
    post:
      description: Creates a billing group.
      operationId: CreateBillingGroup
      parameters:
        - description: The name you wish to give to the billing group.
          in: path
          maxLength: 128
          minLength: 1
          name: billingGroupName
          pattern: '[a-zA-Z0-9:_-]+'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              billingGroupProperties:
                description: The properties of a billing group.
                properties:
                  billingGroupDescription:
                    $ref: '#/definitions/BillingGroupDescription'
                    description: The description of the billing group.
                type: object
              tags:
                description: Metadata which can be used to manage the billing group.
                items:
                  $ref: '#/definitions/Tag'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateBillingGroupResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/billing-groups/{billingGroupName}/things':
    get:
      description: Lists the things you have added to the given billing group.
      operationId: ListThingsInBillingGroup
      parameters:
        - description: The name of the billing group.
          in: path
          maxLength: 128
          minLength: 1
          name: billingGroupName
          pattern: '[a-zA-Z0-9:_-]+'
          required: true
          type: string
        - description: The token to retrieve the next set of results.
          in: query
          name: nextToken
          required: false
          type: string
        - description: The maximum number of results to return per request.
          in: query
          maximum: 250
          minimum: 1
          name: maxResults
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListThingsInBillingGroupResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /cacertificate:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Registers a CA certificate with AWS IoT. This CA certificate can then be used to sign device certificates, which can be then registered with AWS IoT. You can register up to 10 CA certificates per AWS account that have the same subject field. This enables you to have up to 10 certificate authorities sign your device certificates. If you have more than one CA certificate registered, make sure you pass the CA certificate when you register your device certificates with the RegisterCertificate API.'
      operationId: RegisterCACertificate
      parameters:
        - description: A boolean value that specifies if the CA certificate is set to active.
          in: query
          name: setAsActive
          required: false
          type: boolean
        - description: Allows this CA certificate to be used for auto registration of device certificates.
          in: query
          name: allowAutoRegistration
          required: false
          type: boolean
        - in: body
          name: body
          required: true
          schema:
            properties:
              caCertificate:
                description: The PEM of a certificate.
                maxLength: 65536
                minLength: 1
                type: string
              registrationConfig:
                description: The registration configuration.
                properties:
                  roleArn:
                    $ref: '#/definitions/RoleArn'
                    description: The ARN of the role.
                  templateBody:
                    $ref: '#/definitions/TemplateBody'
                    description: The template body.
                type: object
              verificationCertificate:
                description: The PEM of a certificate.
                maxLength: 65536
                minLength: 1
                type: string
            required:
              - caCertificate
              - verificationCertificate
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RegisterCACertificateResponse'
        '480':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '481':
          description: RegistrationCodeValidationException
          schema:
            $ref: '#/definitions/RegistrationCodeValidationException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: CertificateValidationException
          schema:
            $ref: '#/definitions/CertificateValidationException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '486':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '487':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '488':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/cacertificate/{caCertificateId}':
    delete:
      description: Deletes a registered CA certificate.
      operationId: DeleteCACertificate
      parameters:
        - description: The ID of the certificate to delete. (The last part of the certificate ARN contains the certificate ID.)
          in: path
          maxLength: 64
          minLength: 64
          name: caCertificateId
          pattern: '(0x)?[a-fA-F0-9]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteCACertificateResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: CertificateStateException
          schema:
            $ref: '#/definitions/CertificateStateException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '486':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
    get:
      description: Describes a registered CA certificate.
      operationId: DescribeCACertificate
      parameters:
        - description: The CA certificate identifier.
          in: path
          maxLength: 64
          minLength: 64
          name: caCertificateId
          pattern: '(0x)?[a-fA-F0-9]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeCACertificateResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '485':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates a registered CA certificate.
      operationId: UpdateCACertificate
      parameters:
        - description: The CA certificate identifier.
          in: path
          maxLength: 64
          minLength: 64
          name: caCertificateId
          pattern: '(0x)?[a-fA-F0-9]+'
          required: true
          type: string
        - description: '<p>The updated status of the CA certificate.</p> <p> <b>Note:</b> The status value REGISTER_INACTIVE is deprecated and should not be used.</p>'
          enum:
            - ACTIVE
            - INACTIVE
          in: query
          name: newStatus
          required: false
          type: string
        - description: 'The new value for the auto registration status. Valid values are: "ENABLE" or "DISABLE".'
          enum:
            - ENABLE
            - DISABLE
          in: query
          name: newAutoRegistrationStatus
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              registrationConfig:
                description: The registration configuration.
                properties:
                  roleArn:
                    $ref: '#/definitions/RoleArn'
                    description: The ARN of the role.
                  templateBody:
                    $ref: '#/definitions/TemplateBody'
                    description: The template body.
                type: object
              removeAutoRegistration:
                description: 'If true, removes auto registration.'
                type: boolean
            type: object
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  /cacertificates:
    get:
      description: <p>Lists the CA certificates registered for your AWS account.</p> <p>The results are paginated with a default page size of 25. You can use the returned marker to retrieve additional results.</p>
      operationId: ListCACertificates
      parameters:
        - description: The result page size.
          in: query
          maximum: 250
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - description: The marker for the next set of results.
          in: query
          name: marker
          pattern: '[A-Za-z0-9+/]+={0,2}'
          required: false
          type: string
        - description: Determines the order of the results.
          in: query
          name: isAscendingOrder
          required: false
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListCACertificatesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/cancel-certificate-transfer/{certificateId}':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: '<p>Cancels a pending transfer for the specified certificate.</p> <p> <b>Note</b> Only the transfer source account can use this operation to cancel a transfer. (Transfer destinations can use <a>RejectCertificateTransfer</a> instead.) After transfer, AWS IoT returns the certificate to the source account in the INACTIVE state. After the destination account has accepted the transfer, the transfer cannot be cancelled.</p> <p>After a certificate transfer is cancelled, the status of the certificate changes from PENDING_TRANSFER to INACTIVE.</p>'
      operationId: CancelCertificateTransfer
      parameters:
        - description: The ID of the certificate. (The last part of the certificate ARN contains the certificate ID.)
          in: path
          maxLength: 64
          minLength: 64
          name: certificateId
          pattern: '(0x)?[a-fA-F0-9]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: TransferAlreadyCompletedException
          schema:
            $ref: '#/definitions/TransferAlreadyCompletedException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  /certificate/register:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Registers a device certificate with AWS IoT. If you have more than one CA certificate that has the same subject field, you must specify the CA certificate that was used to sign the device certificate being registered.'
      operationId: RegisterCertificate
      parameters:
        - description: A boolean value that specifies if the certificate is set to active.
          in: query
          name: setAsActive
          required: false
          type: boolean
        - in: body
          name: body
          required: true
          schema:
            properties:
              caCertificatePem:
                description: The PEM of a certificate.
                maxLength: 65536
                minLength: 1
                type: string
              certificatePem:
                description: The PEM of a certificate.
                maxLength: 65536
                minLength: 1
                type: string
              status:
                description: The status of the register certificate request.
                enum:
                  - ACTIVE
                  - INACTIVE
                  - REVOKED
                  - PENDING_TRANSFER
                  - REGISTER_INACTIVE
                  - PENDING_ACTIVATION
                type: string
            required:
              - certificatePem
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RegisterCertificateResponse'
        '480':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: CertificateValidationException
          schema:
            $ref: '#/definitions/CertificateValidationException'
        '483':
          description: CertificateStateException
          schema:
            $ref: '#/definitions/CertificateStateException'
        '484':
          description: CertificateConflictException
          schema:
            $ref: '#/definitions/CertificateConflictException'
        '485':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '486':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '487':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '488':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  /certificates:
    get:
      description: <p>Lists the certificates registered in your AWS account.</p> <p>The results are paginated with a default page size of 25. You can use the returned marker to retrieve additional results.</p>
      operationId: ListCertificates
      parameters:
        - description: The result page size.
          in: query
          maximum: 250
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - description: The marker for the next set of results.
          in: query
          name: marker
          pattern: '[A-Za-z0-9+/]+={0,2}'
          required: false
          type: string
        - description: 'Specifies the order for results. If True, the results are returned in ascending order, based on the creation date.'
          in: query
          name: isAscendingOrder
          required: false
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListCertificatesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an X.509 certificate using the specified certificate signing request.</p> <p> <b>Note:</b> The CSR must include a public key that is either an RSA key with a length of at least 2048 bits or an ECC key from NIST P-256 or NIST P-384 curves. </p> <p> <b>Note:</b> Reusing the same certificate signing request (CSR) results in a distinct certificate.</p> <p>You can create multiple certificates in a batch by creating a directory, copying multiple .csr files into that directory, and then specifying that directory on the command line. The following commands show how to create a batch of certificates given a batch of CSRs.</p> <p>Assuming a set of CSRs are located inside of the directory my-csr-directory:</p> <p>On Linux and OS X, the command is:</p> <p>$ ls my-csr-directory/ | xargs -I {} aws iot create-certificate-from-csr --certificate-signing-request file://my-csr-directory/{}</p> <p>This command lists all of the CSRs in my-csr-directory and pipes each CSR file name to the aws iot create-certificate-from-csr AWS CLI command to create a certificate for the corresponding CSR.</p> <p>The aws iot create-certificate-from-csr part of the command can also be run in parallel to speed up the certificate creation process:</p> <p>$ ls my-csr-directory/ | xargs -P 10 -I {} aws iot create-certificate-from-csr --certificate-signing-request file://my-csr-directory/{}</p> <p>On Windows PowerShell, the command to create certificates for all CSRs in my-csr-directory is:</p> <p>&gt; ls -Name my-csr-directory | %{aws iot create-certificate-from-csr --certificate-signing-request file://my-csr-directory/$_}</p> <p>On a Windows command prompt, the command to create certificates for all CSRs in my-csr-directory is:</p> <p>&gt; forfiles /p my-csr-directory /c "cmd /c aws iot create-certificate-from-csr --certificate-signing-request file://@path"</p>'
      operationId: CreateCertificateFromCsr
      parameters:
        - description: Specifies whether the certificate is active.
          in: query
          name: setAsActive
          required: false
          type: boolean
        - in: body
          name: body
          required: true
          schema:
            properties:
              certificateSigningRequest:
                description: The certificate signing request (CSR).
                minLength: 1
                type: string
            required:
              - certificateSigningRequest
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateCertificateFromCsrResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
[...]
