swagger: "2.0"
info:
  version: 2015-05-28
  x-release: v4
  title: AWS IoT
  description: <fullname>AWS IoT</fullname> <p>AWS IoT provides secure, bi-directional
    communication between Internet-connected devices (such as sensors,
    actuators, embedded devices, or smart appliances) and the AWS cloud. You can
    discover your custom IoT-Data endpoint to communicate with, configure rules
    for data processing and integration with other services, organize resources
    associated with each device (Registry), configure logging, and create and
    manage policies and credentials to authenticate devices.</p> <p>For more
    information about how AWS IoT works, see the <a
    href="https://docs.aws.amazon.com/iot/latest/developerguide/aws-iot-how-it-works.html">Developer
    Guide</a>.</p> <p>For information about how to use the credentials provider
    for AWS IoT, see <a
    href="https://docs.aws.amazon.com/iot/latest/developerguide/authorizing-direct-aws.html">Authorizing
    Direct Calls to AWS Services</a>.</p>
  x-logo:
    url: https://twitter.com/awscloud/profile_image?size=original
    backgroundColor: "#FFFFFF"
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: iot
  x-origin:
    - contentType: application/json
      url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iot-2015-05-28.normal.json
      converter:
        url: https://github.com/mermade/aws2openapi
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/iot/
host: iot.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  "/accept-certificate-transfer/{certificateId}":
    patch:
      operationId: AcceptCertificateTransfer
      description: <p>Accepts a pending certificate transfer. The default state of the
        certificate is INACTIVE.</p> <p>To check for pending certificate
        transfers, call <a>ListCertificates</a> to enumerate your
        certificates.</p>
      responses:
        "200":
          description: Success
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: TransferAlreadyCompletedException
          schema:
            $ref: "#/definitions/TransferAlreadyCompletedException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "483":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "484":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "485":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "486":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters:
        - name: certificateId
          in: path
          required: true
          description: The ID of the certificate. (The last part of the certificate ARN
            contains the certificate ID.)
          type: string
          pattern: (0x)?[a-fA-F0-9]+
          minLength: 64
          maxLength: 64
        - name: setAsActive
          in: query
          required: false
          description: Specifies whether the certificate is active.
          type: boolean
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /billing-groups/addThingToBillingGroup:
    put:
      operationId: AddThingToBillingGroup
      description: Adds a thing to a billing group.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AddThingToBillingGroupResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "482":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
        "483":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              billingGroupName:
                description: The name of the billing group.
                type: string
                pattern: "[a-zA-Z0-9:_-]+"
                minLength: 1
                maxLength: 128
              billingGroupArn:
                description: The ARN of the billing group.
                type: string
              thingName:
                description: The name of the thing to be added to the billing group.
                type: string
                pattern: "[a-zA-Z0-9:_-]+"
                minLength: 1
                maxLength: 128
              thingArn:
                description: The ARN of the thing to be added to the billing group.
                type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /thing-groups/addThingToThingGroup:
    put:
      operationId: AddThingToThingGroup
      description: Adds a thing to a thing group.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AddThingToThingGroupResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "482":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
        "483":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              thingGroupName:
                description: The name of the group to which you are adding a thing.
                type: string
                pattern: "[a-zA-Z0-9:_-]+"
                minLength: 1
                maxLength: 128
              thingGroupArn:
                description: The ARN of the group to which you are adding a thing.
                type: string
              thingName:
                description: The name of the thing to add to a group.
                type: string
                pattern: "[a-zA-Z0-9:_-]+"
                minLength: 1
                maxLength: 128
              thingArn:
                description: The ARN of the thing to add to a group.
                type: string
              overrideDynamicGroups:
                description: Override dynamic thing groups with static thing groups when
                  10-group limit is reached. If a thing belongs to 10 thing
                  groups, and one or more of those groups are dynamic thing
                  groups, adding a thing to a static group removes the thing
                  from the last dynamic group.
                type: boolean
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  "/jobs/{jobId}/targets":
    post:
      operationId: AssociateTargetsWithJob
      description: '<p>Associates a group with a continuous job. The following criteria
        must be met: </p> <ul> <li> <p>The job must have been created with the
        <code>targetSelection</code> field set to "CONTINUOUS".</p> </li> <li>
        <p>The job status must currently be "IN_PROGRESS".</p> </li> <li> <p>The
        total number of targets associated with a job must not exceed 100.</p>
        </li> </ul>'
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AssociateTargetsWithJobResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "483":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "484":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: jobId
          in: path
          required: true
          description: The unique identifier you assigned to this job when it was created.
          type: string
          pattern: "[a-zA-Z0-9_-]+"
          minLength: 1
          maxLength: 64
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - targets
            properties:
              targets:
                description: A list of thing group ARNs that define the targets of the job.
                type: array
                items:
                  $ref: "#/definitions/TargetArn"
                minItems: 1
              comment:
                description: An optional comment string describing why the job was
                  associated with the targets.
                type: string
                pattern: "[^\\p{C}]+"
                maxLength: 2028
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  "/target-policies/{policyName}":
    put:
      operationId: AttachPolicy
      description: Attaches a policy to the specified target.
      responses:
        "200":
          description: Success
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "484":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "485":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
        "486":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
      parameters:
        - name: policyName
          in: path
          required: true
          description: The name of the policy to attach.
          type: string
          pattern: "[\\w+=,.@-]+"
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - target
            properties:
              target:
                description: The <a
                  href="https://docs.aws.amazon.com/iot/latest/developerguide/iot-security-identity.html">identity</a>
                  to which the policy is attached.
                type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    post:
      operationId: DetachPolicy
      description: Detaches a policy from the specified target.
      responses:
        "200":
          description: Success
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "482":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "484":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
        "485":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
      parameters:
        - name: policyName
          in: path
          required: true
          description: The policy to detach.
          type: string
          pattern: "[\\w+=,.@-]+"
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - target
            properties:
              target:
                description: The target from which the policy will be detached.
                type: string
  "/principal-policies/{policyName}#x-amzn-iot-principal":
    put:
      deprecated: true
      operationId: AttachPrincipalPolicy
      description: <p>Attaches the specified policy to the specified principal (certificate
        or other credential).</p> <p> <b>Note:</b> This API is deprecated.
        Please use <a>AttachPolicy</a> instead.</p>
      responses:
        "200":
          description: Success
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "484":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "485":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
        "486":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
      parameters:
        - name: policyName
          in: path
          required: true
          description: The policy name.
          type: string
          pattern: "[\\w+=,.@-]+"
          minLength: 1
          maxLength: 128
        - name: x-amzn-iot-principal
          in: header
          required: true
          description: The principal, which can be a certificate ARN (as returned from the
            CreateCertificate operation) or an Amazon Cognito ID.
          type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    delete:
      deprecated: true
      operationId: DetachPrincipalPolicy
      description: <p>Removes the specified policy from the specified certificate.</p> <p>
        <b>Note:</b> This API is deprecated. Please use <a>DetachPolicy</a>
        instead.</p>
      responses:
        "200":
          description: Success
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "484":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "485":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters:
        - name: policyName
          in: path
          required: true
          description: The name of the policy to detach.
          type: string
          pattern: "[\\w+=,.@-]+"
          minLength: 1
          maxLength: 128
        - name: x-amzn-iot-principal
          in: header
          required: true
          description: <p>The principal.</p> <p>If the principal is a certificate, specify
            the certificate ARN. If the principal is an Amazon Cognito identity,
            specify the identity ID.</p>
          type: string
  "/security-profiles/{securityProfileName}/targets#securityProfileTargetArn":
    put:
      operationId: AttachSecurityProfile
      description: Associates a Device Defender security profile with a thing group or with
        this account. Each thing group or account can have up to five security
        profiles associated with it.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AttachSecurityProfileResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "483":
          description: VersionConflictException
          schema:
            $ref: "#/definitions/VersionConflictException"
        "484":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "485":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters:
        - name: securityProfileName
          in: path
          required: true
          description: The security profile that is attached.
          type: string
          pattern: "[a-zA-Z0-9:_-]+"
          minLength: 1
          maxLength: 128
        - name: securityProfileTargetArn
          in: query
          required: true
          description: The ARN of the target (thing group) to which the security profile is
            attached.
          type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    delete:
      operationId: DetachSecurityProfile
      description: Disassociates a Device Defender security profile from a thing group or
        from this account.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DetachSecurityProfileResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters:
        - name: securityProfileName
          in: path
          required: true
          description: The security profile that is detached.
          type: string
          pattern: "[a-zA-Z0-9:_-]+"
          minLength: 1
          maxLength: 128
        - name: securityProfileTargetArn
          in: query
          required: true
          description: The ARN of the thing group from which the security profile is
            detached.
          type: string
  "/things/{thingName}/principals#x-amzn-principal":
    put:
      operationId: AttachThingPrincipal
      description: Attaches the specified principal to the specified thing. A principal can
        be X.509 certificates, IAM users, groups, and roles, Amazon Cognito
        identities or federated identities.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AttachThingPrincipalResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "484":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "485":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters:
        - name: thingName
          in: path
          required: true
          description: The name of the thing.
          type: string
          pattern: "[a-zA-Z0-9:_-]+"
          minLength: 1
          maxLength: 128
        - name: x-amzn-principal
          in: header
          required: true
          description: The principal, such as a certificate or other credential.
          type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    delete:
      operationId: DetachThingPrincipal
      description: <p>Detaches the specified principal from the specified thing. A
        principal can be X.509 certificates, IAM users, groups, and roles,
        Amazon Cognito identities or federated identities.</p> <note> <p>This
        call is asynchronous. It might take several seconds for the detachment
        to propagate.</p> </note>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DetachThingPrincipalResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "484":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "485":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters:
        - name: thingName
          in: path
          required: true
          description: The name of the thing.
          type: string
          pattern: "[a-zA-Z0-9:_-]+"
          minLength: 1
          maxLength: 128
        - name: x-amzn-principal
          in: header
          required: true
          description: If the principal is a certificate, this value must be ARN of the
            certificate. If the principal is an Amazon Cognito identity, this
            value must be the ID of the Amazon Cognito identity.
          type: string
  "/audit/tasks/{taskId}/cancel":
    put:
      operationId: CancelAuditTask
      description: Cancels an audit that is in progress. The audit can be either scheduled
        or on-demand. If the audit is not in progress, an
        "InvalidRequestException" occurs.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CancelAuditTaskResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters:
        - name: taskId
          in: path
          required: true
          description: The ID of the audit you want to cancel. You can only cancel an audit
            that is "IN_PROGRESS".
          type: string
          pattern: "[a-zA-Z0-9\\-]+"
          minLength: 1
          maxLength: 40
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  "/cancel-certificate-transfer/{certificateId}":
    patch:
      operationId: CancelCertificateTransfer
      description: <p>Cancels a pending transfer for the specified certificate.</p> <p>
        <b>Note</b> Only the transfer source account can use this operation to
        cancel a transfer. (Transfer destinations can use
        <a>RejectCertificateTransfer</a> instead.) After transfer, AWS IoT
        returns the certificate to the source account in the INACTIVE state.
        After the destination account has accepted the transfer, the transfer
        cannot be cancelled.</p> <p>After a certificate transfer is cancelled,
        the status of the certificate changes from PENDING_TRANSFER to
        INACTIVE.</p>
      responses:
        "200":
          description: Success
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: TransferAlreadyCompletedException
          schema:
            $ref: "#/definitions/TransferAlreadyCompletedException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "483":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "484":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "485":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "486":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters:
        - name: certificateId
          in: path
          required: true
          description: The ID of the certificate. (The last part of the certificate ARN
            contains the certificate ID.)
          type: string
          pattern: (0x)?[a-fA-F0-9]+
          minLength: 64
          maxLength: 64
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  "/jobs/{jobId}/cancel":
    put:
      operationId: CancelJob
      description: Cancels a job.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CancelJobResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: jobId
          in: path
          required: true
          description: The unique identifier you assigned to this job when it was created.
          type: string
          pattern: "[a-zA-Z0-9_-]+"
          minLength: 1
          maxLength: 64
        - name: force
          in: query
          required: false
          description: <p>(Optional) If <code>true</code> job executions with status
            "IN_PROGRESS" and "QUEUED" are canceled, otherwise only job
            executions with status "QUEUED" are canceled. The default is
            <code>false</code>.</p> <p>Canceling a job which is "IN_PROGRESS",
            will cause a device which is executing the job to be unable to
            update the job execution status. Use caution and ensure that each
            device executing a job which is canceled is able to recover to a
            valid state.</p>
          type: boolean
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              reasonCode:
                description: (Optional)A reason code string that explains why the job was
                  canceled.
                type: string
                pattern: "[\\p{Upper}\\p{Digit}_]+"
                maxLength: 128
              comment:
                description: An optional comment string describing why the job was canceled.
                type: string
                pattern: "[^\\p{C}]+"
                maxLength: 2028
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  "/things/{thingName}/jobs/{jobId}/cancel":
    put:
      operationId: CancelJobExecution
      description: Cancels the execution of a job for a given thing.
      responses:
        "200":
          description: Success
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: InvalidStateTransitionException
          schema:
            $ref: "#/definitions/InvalidStateTransitionException"
        "482":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "483":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "484":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "485":
          description: VersionConflictException
          schema:
            $ref: "#/definitions/VersionConflictException"
      parameters:
        - name: jobId
          in: path
          required: true
          description: The ID of the job to be canceled.
          type: string
          pattern: "[a-zA-Z0-9_-]+"
          minLength: 1
          maxLength: 64
        - name: thingName
          in: path
          required: true
          description: The name of the thing whose execution of the job will be canceled.
          type: string
          pattern: "[a-zA-Z0-9:_-]+"
          minLength: 1
          maxLength: 128
        - name: force
          in: query
          required: false
          description: <p>(Optional) If <code>true</code> the job execution will be
            canceled if it has status IN_PROGRESS or QUEUED, otherwise the job
            execution will be canceled only if it has status QUEUED. If you
            attempt to cancel a job execution that is IN_PROGRESS, and you do
            not set <code>force</code> to <code>true</code>, then an
            <code>InvalidStateTransitionException</code> will be thrown. The
            default is <code>false</code>.</p> <p>Canceling a job execution
            which is "IN_PROGRESS", will cause the device to be unable to update
            the job execution status. Use caution and ensure that the device is
            able to recover to a valid state.</p>
          type: boolean
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              expectedVersion:
                description: (Optional) The expected current version of the job execution.
                  Each time you update the job execution, its version is
                  incremented. If the version of the job execution stored in
                  Jobs does not match, the update is rejected with a
                  VersionMismatch error, and an ErrorResponse that contains the
                  current job execution status data is returned. (This makes it
                  unnecessary to perform a separate DescribeJobExecution request
                  in order to obtain the job execution status data.)
                type: integer
              statusDetails:
                description: A collection of name/value pairs that describe the status of
                  the job execution. If not specified, the statusDetails are
                  unchanged. You can specify at most 10 name/value pairs.
                type: object
                additionalProperties:
                  $ref: "#/definitions/DetailsValue"
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /default-authorizer:
    delete:
      operationId: ClearDefaultAuthorizer
      description: Clears the default authorizer.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ClearDefaultAuthorizerResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "484":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "485":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters: []
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    get:
      operationId: DescribeDefaultAuthorizer
      description: Describes the default authorizer.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DescribeDefaultAuthorizerResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "484":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "485":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters: []
    post:
      operationId: SetDefaultAuthorizer
      description: Sets the default authorizer. This will be used if a websocket connection
        is made without specifying an authorizer.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/SetDefaultAuthorizerResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "484":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "485":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
        "486":
          description: ResourceAlreadyExistsException
          schema:
            $ref: "#/definitions/ResourceAlreadyExistsException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - authorizerName
            properties:
              authorizerName:
                description: The authorizer name.
                type: string
                pattern: "[\\w=,@-]+"
                minLength: 1
                maxLength: 128
  "/authorizer/{authorizerName}":
    post:
      operationId: CreateAuthorizer
      description: Creates an authorizer.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateAuthorizerResponse"
        "480":
          description: ResourceAlreadyExistsException
          schema:
            $ref: "#/definitions/ResourceAlreadyExistsException"
        "481":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "482":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "483":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "484":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "485":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "486":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters:
        - name: authorizerName
          in: path
          required: true
          description: The authorizer name.
          type: string
          pattern: "[\\w=,@-]+"
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - authorizerFunctionArn
              - tokenKeyName
              - tokenSigningPublicKeys
            properties:
              authorizerFunctionArn:
                description: The ARN of the authorizer's Lambda function.
                type: string
              tokenKeyName:
                description: The name of the token key used to extract the token from the
                  HTTP headers.
                type: string
                pattern: "[a-zA-Z0-9_-]+"
                minLength: 1
                maxLength: 128
              tokenSigningPublicKeys:
                description: The public keys used to verify the digital signature returned
                  by your custom authentication service.
                type: object
                additionalProperties:
                  $ref: "#/definitions/KeyValue"
              status:
                description: The status of the create authorizer request.
                type: string
                enum:
                  - ACTIVE
                  - INACTIVE
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    delete:
      operationId: DeleteAuthorizer
      description: Deletes an authorizer.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DeleteAuthorizerResponse"
        "480":
          description: DeleteConflictException
          schema:
            $ref: "#/definitions/DeleteConflictException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "483":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "484":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "485":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "486":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters:
        - name: authorizerName
          in: path
          required: true
          description: The name of the authorizer to delete.
          type: string
          pattern: "[\\w=,@-]+"
          minLength: 1
          maxLength: 128
    get:
      operationId: DescribeAuthorizer
      description: Describes an authorizer.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DescribeAuthorizerResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "484":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "485":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters:
        - name: authorizerName
          in: path
          required: true
          description: The name of the authorizer to describe.
          type: string
          pattern: "[\\w=,@-]+"
          minLength: 1
          maxLength: 128
    put:
      operationId: UpdateAuthorizer
      description: Updates an authorizer.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/UpdateAuthorizerResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "482":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "483":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "484":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "485":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "486":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters:
        - name: authorizerName
          in: path
          required: true
          description: The authorizer name.
          type: string
          pattern: "[\\w=,@-]+"
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              authorizerFunctionArn:
                description: The ARN of the authorizer's Lambda function.
                type: string
              tokenKeyName:
                description: "The key used to extract the token from the HTTP headers. "
                type: string
                pattern: "[a-zA-Z0-9_-]+"
                minLength: 1
                maxLength: 128
              tokenSigningPublicKeys:
                description: The public keys used to verify the token signature.
                type: object
                additionalProperties:
                  $ref: "#/definitions/KeyValue"
              status:
                description: The status of the update authorizer request.
                type: string
                enum:
                  - ACTIVE
                  - INACTIVE
  "/billing-groups/{billingGroupName}":
    post:
      operationId: CreateBillingGroup
      description: Creates a billing group.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateBillingGroupResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: ResourceAlreadyExistsException
          schema:
            $ref: "#/definitions/ResourceAlreadyExistsException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters:
        - name: billingGroupName
          in: path
          required: true
          description: The name you wish to give to the billing group.
          type: string
          pattern: "[a-zA-Z0-9:_-]+"
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              billingGroupProperties:
                description: The properties of a billing group.
                type: object
                properties:
                  billingGroupDescription:
                    $ref: "#/definitions/BillingGroupDescription"
                    description: The description of the billing group.
              tags:
                description: Metadata which can be used to manage the billing group.
                type: array
                items:
                  $ref: "#/definitions/Tag"
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    delete:
      operationId: DeleteBillingGroup
      description: Deletes the billing group.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DeleteBillingGroupResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: VersionConflictException
          schema:
            $ref: "#/definitions/VersionConflictException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters:
        - name: billingGroupName
          in: path
          required: true
          description: The name of the billing group.
          type: string
          pattern: "[a-zA-Z0-9:_-]+"
          minLength: 1
          maxLength: 128
        - name: expectedVersion
          in: query
          required: false
          description: The expected version of the billing group. If the version of the
            billing group does not match the expected version specified in the
            request, the <code>DeleteBillingGroup</code> request is rejected
            with a <code>VersionConflictException</code>.
          type: integer
    get:
      operationId: DescribeBillingGroup
      description: Returns information about a billing group.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DescribeBillingGroupResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "482":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
        "483":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
      parameters:
        - name: billingGroupName
          in: path
          required: true
          description: The name of the billing group.
          type: string
          pattern: "[a-zA-Z0-9:_-]+"
          minLength: 1
          maxLength: 128
    patch:
      operationId: UpdateBillingGroup
      description: Updates information about the billing group.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/UpdateBillingGroupResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: VersionConflictException
          schema:
            $ref: "#/definitions/VersionConflictException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
        "484":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
      parameters:
        - name: billingGroupName
          in: path
          required: true
          description: The name of the billing group.
          type: string
          pattern: "[a-zA-Z0-9:_-]+"
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - billingGroupProperties
            properties:
              billingGroupProperties:
                description: The properties of a billing group.
                type: object
                properties:
                  billingGroupDescription:
                    $ref: "#/definitions/BillingGroupDescription"
                    description: The description of the billing group.
              expectedVersion:
                description: The expected version of the billing group. If the version of
                  the billing group does not match the expected version
                  specified in the request, the <code>UpdateBillingGroup</code>
                  request is rejected with a
                  <code>VersionConflictException</code>.
                type: integer
  /certificates:
    post:
      operationId: CreateCertificateFromCsr
      description: <p>Creates an X.509 certificate using the specified certificate signing
        request.</p> <p> <b>Note:</b> The CSR must include a public key that is
        either an RSA key with a length of at least 2048 bits or an ECC key from
        NIST P-256 or NIST P-384 curves. </p> <p> <b>Note:</b> Reusing the same
        certificate signing request (CSR) results in a distinct certificate.</p>
        <p>You can create multiple certificates in a batch by creating a
        directory, copying multiple .csr files into that directory, and then
        specifying that directory on the command line. The following commands
        show how to create a batch of certificates given a batch of CSRs.</p>
        <p>Assuming a set of CSRs are located inside of the directory
        my-csr-directory:</p> <p>On Linux and OS X, the command is:</p> <p>$ ls
        my-csr-directory/ | xargs -I {} aws iot create-certificate-from-csr
        --certificate-signing-request file://my-csr-directory/{}</p> <p>This
        command lists all of the CSRs in my-csr-directory and pipes each CSR
        file name to the aws iot create-certificate-from-csr AWS CLI command to
        create a certificate for the corresponding CSR.</p> <p>The aws iot
        create-certificate-from-csr part of the command can also be run in
        parallel to speed up the certificate creation process:</p> <p>$ ls
        my-csr-directory/ | xargs -P 10 -I {} aws iot
        create-certificate-from-csr --certificate-signing-request
        file://my-csr-directory/{}</p> <p>On Windows PowerShell, the command to
        create certificates for all CSRs in my-csr-directory is:</p> <p>&gt; ls
        -Name my-csr-directory | %{aws iot create-certificate-from-csr
        --certificate-signing-request file://my-csr-directory/$_}</p> <p>On a
        Windows command prompt, the command to create certificates for all CSRs
        in my-csr-directory is:</p> <p>&gt; forfiles /p my-csr-directory /c "cmd
        /c aws iot create-certificate-from-csr --certificate-signing-request
        file://@path"</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateCertificateFromCsrResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "482":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "484":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters:
        - name: setAsActive
          in: query
          required: false
          description: Specifies whether the certificate is active.
          type: boolean
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - certificateSigningRequest
            properties:
              certificateSigningRequest:
                description: The certificate signing request (CSR).
                type: string
                minLength: 1
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    get:
      operationId: ListCertificates
      description: <p>Lists the certificates registered in your AWS account.</p> <p>The
        results are paginated with a default page size of 25. You can use the
        returned marker to retrieve additional results.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ListCertificatesResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "482":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "484":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters:
        - name: pageSize
          in: query
          required: false
          description: The result page size.
          type: integer
          minimum: 1
          maximum: 250
        - name: marker
          in: query
          required: false
          description: The marker for the next set of results.
          type: string
          pattern: "[A-Za-z0-9+/]+={0,2}"
        - name: isAscendingOrder
          in: query
          required: false
          description: Specifies the order for results. If True, the results are returned
            in ascending order, based on the creation date.
          type: boolean
  "/dynamic-thing-groups/{thingGroupName}":
    post:
      operationId: CreateDynamicThingGroup
      description: Creates a dynamic thing group.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateDynamicThingGroupResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: ResourceAlreadyExistsException
          schema:
            $ref: "#/definitions/ResourceAlreadyExistsException"
        "482":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "483":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "484":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
        "485":
          description: InvalidQueryException
          schema:
            $ref: "#/definitions/InvalidQueryException"
        "486":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
      parameters:
        - name: thingGroupName
          in: path
          required: true
          description: The dynamic thing group name to create.
          type: string
          pattern: "[a-zA-Z0-9:_-]+"
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - queryString
            properties:
              thingGroupProperties:
                description: Thing group properties.
                type: object
                properties:
                  thingGroupDescription:
                    $ref: "#/definitions/ThingGroupDescription"
                    description: The thing group description.
                  attributePayload:
                    $ref: "#/definitions/AttributePayload"
                    description: The thing group attributes in JSON format.
              indexName:
                description: '<p>The dynamic thing group index name.</p> <note>
                  <p>Currently one index is supported: "AWS_Things".</p>
                  </note>'
                type: string
                pattern: "[a-zA-Z0-9:_-]+"
                minLength: 1
                maxLength: 128
              queryString:
                description: <p>The dynamic thing group search query string.</p> <p>See <a
                  href="https://docs.aws.amazon.com/iot/latest/developerguide/query-syntax.html">Query
                  Syntax</a> for information about query string syntax.</p>
                type: string
                minLength: 1
              queryVersion:
                description: '<p>The dynamic thing group query version.</p> <note>
                  <p>Currently one query version is supported: "2017-09-30". If
                  not specified, the query version defaults to this value.</p>
                  </note>'
                type: string
              tags:
                description: Metadata which can be used to manage the dynamic thing group.
                type: array
                items:
                  $ref: "#/definitions/Tag"
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    delete:
      operationId: DeleteDynamicThingGroup
      description: Deletes a dynamic thing group.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DeleteDynamicThingGroupResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: VersionConflictException
          schema:
            $ref: "#/definitions/VersionConflictException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters:
        - name: thingGroupName
          in: path
          required: true
          description: The name of the dynamic thing group to delete.
          type: string
          pattern: "[a-zA-Z0-9:_-]+"
          minLength: 1
          maxLength: 128
        - name: expectedVersion
          in: query
          required: false
          description: The expected version of the dynamic thing group to delete.
          type: integer
    patch:
      operationId: UpdateDynamicThingGroup
      description: Updates a dynamic thing group.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/UpdateDynamicThingGroupResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: VersionConflictException
          schema:
            $ref: "#/definitions/VersionConflictException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
        "484":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "485":
          description: InvalidQueryException
          schema:
            $ref: "#/definitions/InvalidQueryException"
      parameters:
        - name: thingGroupName
          in: path
          required: true
          description: The name of the dynamic thing group to update.
          type: string
          pattern: "[a-zA-Z0-9:_-]+"
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - thingGroupProperties
            properties:
              thingGroupProperties:
                description: Thing group properties.
                type: object
                properties:
                  thingGroupDescription:
                    $ref: "#/definitions/ThingGroupDescription"
                    description: The thing group description.
                  attributePayload:
                    $ref: "#/definitions/AttributePayload"
                    description: The thing group attributes in JSON format.
              expectedVersion:
                description: The expected version of the dynamic thing group to update.
                type: integer
              indexName:
                description: "<p>The dynamic thing group index to update.</p> <note>
                  <p>Currently one index is supported: 'AWS_Things'.</p>
                  </note>"
                type: string
                pattern: "[a-zA-Z0-9:_-]+"
                minLength: 1
                maxLength: 128
              queryString:
                description: The dynamic thing group search query string to update.
                type: string
                minLength: 1
              queryVersion:
                description: '<p>The dynamic thing group query version to update.</p>
                  <note> <p>Currently one query version is supported:
                  "2017-09-30". If not specified, the query version defaults to
                  this value.</p> </note>'
                type: string
  "/jobs/{jobId}":
    put:
      operationId: CreateJob
      description: Creates a job.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateJobResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: ResourceAlreadyExistsException
          schema:
            $ref: "#/definitions/ResourceAlreadyExistsException"
        "483":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "484":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "485":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: jobId
          in: path
          required: true
          description: A job identifier which must be unique for your AWS account. We
            recommend using a UUID. Alpha-numeric characters, "-" and "_" are
            valid for use here.
          type: string
          pattern: "[a-zA-Z0-9_-]+"
          minLength: 1
          maxLength: 64
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - targets
              - abortConfig
            properties:
              targets:
                description: A list of things and thing groups to which the job should be
                  sent.
                type: array
                items:
                  $ref: "#/definitions/TargetArn"
                minItems: 1
              documentSource:
                description: An S3 link to the job document.
                type: string
                minLength: 1
                maxLength: 1350
              document:
                description: <p>The job document.</p> <note> <p>If the job document resides
                  in an S3 bucket, you must use a placeholder link when
                  specifying the document.</p> <p>The placeholder link is of the
                  following form:</p> <p>
                  <code>${aws:iot:s3-presigned-url:https://s3.amazonaws.com/<i>bucket</i>/<i>key</i>}</code>
                  </p> <p>where <i>bucket</i> is your bucket name and <i>key</i>
                  is the object in the bucket to which you are linking.</p>
                  </note>
                type: string
                maxLength: 32768
              description:
                description: A short text description of the job.
                type: string
                pattern: "[^\\p{C}]+"
                maxLength: 2028
              presignedUrlConfig:
                description: Configuration for pre-signed S3 URLs.
                type: object
                properties:
                  roleArn:
                    $ref: "#/definitions/RoleArn"
                    description: The ARN of an IAM role that grants grants permission to
                      download files from the S3 bucket where the job
                      data/updates are stored. The role must also grant
                      permission for IoT to download the files.
                  expiresInSec:
                    $ref: "#/definitions/ExpiresInSec"
                    description: How long (in seconds) pre-signed URLs are valid. Valid
                      values are 60 - 3600, the default value is 3600 seconds.
                      Pre-signed URLs are generated when Jobs receives an MQTT
                      request for the job document.
              targetSelection:
                description: Specifies whether the job will continue to run (CONTINUOUS),
                  or will be complete after all those things specified as
                  targets have completed the job (SNAPSHOT). If continuous, the
                  job may also be run on a thing when a change is detected in a
                  target. For example, a job will run on a thing when the thing
                  is added to a target group, even after the job was completed
                  by all things originally in the group.
                type: string
                enum:
                  - CONTINUOUS
                  - SNAPSHOT
              jobExecutionsRolloutConfig:
                description: Allows you to create a staged rollout of a job.
                type: object
                properties:
                  maximumPerMinute:
                    $ref: "#/definitions/MaxJobExecutionsPerMin"
                    description: The maximum number of things that will be notified of a
                      pending job, per minute. This parameter allows you to
                      create a staged rollout.
                  exponentialRate:
                    $ref: "#/definitions/ExponentialRolloutRate"
                    description: The rate of increase for a job rollout. This parameter
                      allows you to define an exponential rate for a job
                      rollout.
              abortConfig:
                description: Details of abort criteria to abort the job.
                type: object
                properties:
                  criteriaList:
                    $ref: "#/definitions/AbortCriteriaList"
                    description: The list of abort criteria to define rules to abort the
                      job.
              timeoutConfig:
                description: Specifies the amount of time each device has to finish its
                  execution of the job. A timer is started when the job
                  execution status is set to <code>IN_PROGRESS</code>. If the
                  job execution status is not set to another terminal state
                  before the timer expires, it will be automatically set to
                  <code>TIMED_OUT</code>.
                type: object
                properties:
                  inProgressTimeoutInMinutes:
                    $ref: "#/definitions/InProgressTimeoutInMinutes"
                    description: Specifies the amount of time, in minutes, this device has
                      to finish execution of this job. The timeout interval can
                      be anywhere between 1 minute and 7 days (1 to 10080
                      minutes). The in progress timer can't be updated and will
                      apply to all job executions for the job. Whenever a job
                      execution remains in the IN_PROGRESS status for longer
                      than this interval, the job execution will fail and switch
                      to the terminal <code>TIMED_OUT</code> status.
              tags:
                description: Metadata which can be used to manage the job.
                type: array
                items:
                  $ref: "#/definitions/Tag"
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    delete:
      operationId: DeleteJob
      description: <p>Deletes a job and its related job executions.</p> <p>Deleting a job
        may take time, depending on the number of job executions created for the
        job and various other factors. While the job is being deleted, the
        status of the job will be shown as "DELETION_IN_PROGRESS". Attempting to
        delete or cancel a job whose status is already "DELETION_IN_PROGRESS"
        will result in an error.</p> <p>Only 10 jobs may have status
        "DELETION_IN_PROGRESS" at the same time, or a LimitExceededException
        will occur.</p>
      responses:
        "200":
          description: Success
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: InvalidStateTransitionException
          schema:
            $ref: "#/definitions/InvalidStateTransitionException"
        "482":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "483":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "484":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "485":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: jobId
          in: path
          required: true
          description: <p>The ID of the job to be deleted.</p> <p>After a job deletion is
            completed, you may reuse this jobId when you create a new job.
            However, this is not recommended, and you must ensure that your
            devices are not using the jobId to refer to the deleted job.</p>
          type: string
          pattern: "[a-zA-Z0-9_-]+"
          minLength: 1
          maxLength: 64
        - name: force
          in: query
          required: false
          description: <p>(Optional) When true, you can delete a job which is
            "IN_PROGRESS". Otherwise, you can only delete a job which is in a
            terminal state ("COMPLETED" or "CANCELED") or an exception will
            occur. The default is false.</p> <note> <p>Deleting a job which is
            "IN_PROGRESS", will cause a device which is executing the job to be
            unable to access job information or update the job execution status.
            Use caution and ensure that each device executing a job which is
            deleted is able to recover to a valid state.</p> </note>
          type: boolean
    get:
      operationId: DescribeJob
      description: Describes a job.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DescribeJobResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: jobId
          in: path
          required: true
          description: The unique identifier you assigned to this job when it was created.
          type: string
          pattern: "[a-zA-Z0-9_-]+"
          minLength: 1
          maxLength: 64
    patch:
      operationId: UpdateJob
      description: Updates supported fields of the specified job.
      responses:
        "200":
          description: Success
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: jobId
          in: path
          required: true
          description: The ID of the job to be updated.
          type: string
          pattern: "[a-zA-Z0-9_-]+"
          minLength: 1
          maxLength: 64
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - abortConfig
            properties:
              description:
                description: A short text description of the job.
                type: string
                pattern: "[^\\p{C}]+"
                maxLength: 2028
              presignedUrlConfig:
                description: Configuration for pre-signed S3 URLs.
                type: object
                properties:
                  roleArn:
                    $ref: "#/definitions/RoleArn"
                    description: The ARN of an IAM role that grants grants permission to
                      download files from the S3 bucket where the job
                      data/updates are stored. The role must also grant
                      permission for IoT to download the files.
                  expiresInSec:
                    $ref: "#/definitions/ExpiresInSec"
                    description: How long (in seconds) pre-signed URLs are valid. Valid
                      values are 60 - 3600, the default value is 3600 seconds.
                      Pre-signed URLs are generated when Jobs receives an MQTT
                      request for the job document.
              jobExecutionsRolloutConfig:
                description: Allows you to create a staged rollout of a job.
                type: object
                properties:
                  maximumPerMinute:
                    $ref: "#/definitions/MaxJobExecutionsPerMin"
                    description: The maximum number of things that will be notified of a
                      pending job, per minute. This parameter allows you to
                      create a staged rollout.
                  exponentialRate:
                    $ref: "#/definitions/ExponentialRolloutRate"
                    description: The rate of increase for a job rollout. This parameter
                      allows you to define an exponential rate for a job
                      rollout.
              abortConfig:
                description: Details of abort criteria to abort the job.
                type: object
                properties:
                  criteriaList:
                    $ref: "#/definitions/AbortCriteriaList"
                    description: The list of abort criteria to define rules to abort the
                      job.
              timeoutConfig:
                description: Specifies the amount of time each device has to finish its
                  execution of the job. A timer is started when the job
                  execution status is set to <code>IN_PROGRESS</code>. If the
                  job execution status is not set to another terminal state
                  before the timer expires, it will be automatically set to
                  <code>TIMED_OUT</code>.
                type: object
                properties:
                  inProgressTimeoutInMinutes:
                    $ref: "#/definitions/InProgressTimeoutInMinutes"
                    description: Specifies the amount of time, in minutes, this device has
                      to finish execution of this job. The timeout interval can
                      be anywhere between 1 minute and 7 days (1 to 10080
                      minutes). The in progress timer can't be updated and will
                      apply to all job executions for the job. Whenever a job
                      execution remains in the IN_PROGRESS status for longer
                      than this interval, the job execution will fail and switch
                      to the terminal <code>TIMED_OUT</code> status.
  /keys-and-certificate:
    post:
      operationId: CreateKeysAndCertificate
      description: <p>Creates a 2048-bit RSA key pair and issues an X.509 certificate using
        the issued public key.</p> <p> <b>Note</b> This is the only time AWS IoT
        issues the private key for this certificate, so it is important to keep
        it in a secure location.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateKeysAndCertificateResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "482":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "484":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters:
        - name: setAsActive
          in: query
          required: false
          description: Specifies whether the certificate is active.
          type: boolean
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  "/otaUpdates/{otaUpdateId}":
    post:
      operationId: CreateOTAUpdate
      description: Creates an AWS IoT OTAUpdate on a target group of things or groups.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateOTAUpdateResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "482":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "483":
          description: ResourceAlreadyExistsException
          schema:
            $ref: "#/definitions/ResourceAlreadyExistsException"
        "484":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "485":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "486":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
        "487":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: otaUpdateId
          in: path
          required: true
          description: The ID of the OTA update to be created.
          type: string
          pattern: "[a-zA-Z0-9_-]+"
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - targets
              - files
              - roleArn
            properties:
              description:
                description: The description of the OTA update.
                type: string
                pattern: "[^\\p{C}]+"
                maxLength: 2028
              targets:
                description: The targeted devices to receive OTA updates.
                type: array
                items:
                  $ref: "#/definitions/Target"
                minItems: 1
              targetSelection:
                description: "Specifies whether the update will continue to run
                  (CONTINUOUS), or will be complete after all the things
                  specified as targets have completed the update (SNAPSHOT). If
                  continuous, the update may also be run on a thing when a
                  change is detected in a target. For example, an update will
                  run on a thing when the thing is added to a target group, even
                  after the update was completed by all things originally in the
                  group. Valid values: CONTINUOUS | SNAPSHOT."
                type: string
                enum:
                  - CONTINUOUS
                  - SNAPSHOT
              awsJobExecutionsRolloutConfig:
                description: Configuration for the rollout of OTA updates.
                type: object
                properties:
                  maximumPerMinute:
                    $ref: "#/definitions/MaximumPerMinute"
                    description: The maximum number of OTA update job executions started
                      per minute.
              files:
                description: The files to be streamed by the OTA update.
                type: array
                items:
                  $ref: "#/definitions/OTAUpdateFile"
                minItems: 1
                maxItems: 50
              roleArn:
                description: The IAM role that allows access to the AWS IoT Jobs service.
                type: string
                minLength: 20
                maxLength: 2048
              additionalParameters:
                description: A list of additional OTA update parameters which are
                  name-value pairs.
                type: object
                additionalProperties:
                  $ref: "#/definitions/Value"
              tags:
                description: Metadata which can be used to manage updates.
                type: array
                items:
                  $ref: "#/definitions/Tag"
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    delete:
      operationId: DeleteOTAUpdate
      description: Delete an OTA update.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DeleteOTAUpdateResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "483":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "484":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
        "485":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "486":
          description: VersionConflictException
          schema:
            $ref: "#/definitions/VersionConflictException"
      parameters:
        - name: otaUpdateId
          in: path
          required: true
          description: The OTA update ID to delete.
          type: string
          pattern: "[a-zA-Z0-9_-]+"
          minLength: 1
          maxLength: 128
        - name: deleteStream
          in: query
          required: false
          description: Specifies if the stream associated with an OTA update should be
            deleted when the OTA update is deleted.
          type: boolean
        - name: forceDeleteAWSJob
          in: query
          required: false
          description: Specifies if the AWS Job associated with the OTA update should be
            deleted with the OTA update is deleted.
          type: boolean
    get:
      operationId: GetOTAUpdate
      description: Gets an OTA update.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/GetOTAUpdateResponse"
        "480":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "481":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "482":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "483":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
        "484":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "485":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
      parameters:
        - name: otaUpdateId
          in: path
          required: true
          description: The OTA update ID.
          type: string
          pattern: "[a-zA-Z0-9_-]+"
          minLength: 1
          maxLength: 128
  "/policies/{policyName}":
    post:
      operationId: CreatePolicy
      description: <p>Creates an AWS IoT policy.</p> <p>The created policy is the default
        version for the policy. This operation creates a policy version with a
        version identifier of <b>1</b> and sets <b>1</b> as the policy's default
        version.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreatePolicyResponse"
        "480":
          description: ResourceAlreadyExistsException
          schema:
            $ref: "#/definitions/ResourceAlreadyExistsException"
        "481":
          description: MalformedPolicyException
          schema:
            $ref: "#/definitions/MalformedPolicyException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "483":
          description: ThrottlingException
          schema:
            $ref: "#/definitions/ThrottlingException"
        "484":
          description: UnauthorizedException
          schema:
            $ref: "#/definitions/UnauthorizedException"
        "485":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "486":
          description: InternalFailureException
          schema:
            $ref: "#/definitions/InternalFailureException"
      parameters:
        - name: policyName
          in: path
          required: true
          description: The policy name.
          type: string
          pattern: "[\\w+=,.@-]+"
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - policyDocument
            properties:
              policyDocument:
                description: The JSON document that describes the policy.
                  <b>policyDocument</b> must have a minimum length of 1, with a
                  maximum length of 2048, excluding whitespace.
                type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    delete:
      operationId: DeletePolicy
      description: <p>Deletes the specified policy.</p> <p>A policy cannot be deleted if it
        has non-default versions or it is attached to any certificate.</p> <p>To
        delete a policy, use the DeletePolicyVersion API to delete all
        non-default versions of the policy; use the DetachPrincipalPolicy API to
        detach the policy from any certificate; and then use the DeletePolicy
        API to delete the policy.</p> <p>When a policy is deleted using
[...]
