openapi: 3.0.0
servers:
  - url: 'https://workbcjobs.api.gov.bc.ca/v1'
info:
  contact:
    email: Marina.Brown@gov.bc.ca
    name: WorkBC
    url: 'https://www.workbc.ca'
  description: 'This API allows you to receive a feed of jobs from WorkBC''s Job Board. Please see our <a href="https://github.com/bcgov/api-specs/blob/master/COLLECTION_NOTICE.md#collection-notice" target="_blank">data collection notice</a>.'
  license:
    name: Open Government License - British Columbia
    url: 'http://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/databc/open-data/open-government-license-bc'
  termsOfService: 'http://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/databc/open-data/api-terms-of-use-for-ogl-information'
  title: WorkBC Job Posting
  version: 1.0.0
  x-apisguru-categories:
    - open_data
  x-logo:
    url: 'https://avatars1.githubusercontent.com/u/916280?v=3&s=200'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/bcgov/api-specs/master/jobposting/jobposting.json'
      version: '2.0'
  x-providerName: gov.bc.ca
  x-serviceName: jobposting
externalDocs:
  description: 'WorkBC offers a publicly available job posting application programming interface (API). The API service provides the ability to request, filter and access live job posting data powered by the WorkBC Job Board.'
  url: 'https://www.workbc.ca/api'
paths:
  /jobTypes:
    get:
      description: |
        The Job Types endpoint returns details of all of the
        job types defined in WorkBC's Job Board. The response includes the
        id and caption.
      responses:
        '200':
          description: An array of job types
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/JobType'
                type: array
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Job Types
      tags:
        - Job Feed
  /jobs:
    post:
      description: The job feed endpoint returns an array of job records that satisfy the supplied criteria.
      responses:
        '200':
          description: A set of job records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobFeedResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Job Feed
      tags:
        - Job Feed
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                lastRequestDate:
                  description: The date of the last request. Only job postings changed or deleted after this time will be included in the response. Default is _today_ - 10 days.
                  type: string
                  format: date-time
                region:
                  description: 'The unique id of a region within B.C. Only job postings located within the specified region will be included in the response. If not specified, the data is not filtered by region.'
                  type: integer
                  format: int32
                city:
                  description: 'The name of a city within B.C. Only job postings located within the specified city will be included in the response. If not specified, the data is not filtered by city.'
                  type: string
                jobTypes:
                  description: 'ID values for types of job to filter on. Only job postings matching all specified values will be included in the response. If not specified, the data is not filtered by job type.'
                  type: array
                  items:
                    type: integer
                majorProjects:
                  description: 'When true, only include job postings that have a Major Project associated with them.  When false, only include job postings that do not have a Major Project associated with them. If not specified, the data is not filtered by major project, unless the MajorProjectID parameter is used.'
                  type: boolean
                majorProjectID:
                  description: 'The unique id of a major project within the WorkBC Job Board database. When specified, only job postings associated with the specified major project will be included in the response. This parameter has no effect if the MajorProjects parameter is supplied with the value false. If not specified, the data is not filtered by major project, unless the MajorProjects parameter is used.'
                  type: integer
                  format: int32
  /majorProjects:
    get:
      description: |
        The Major Projects endpoint returns details of all of the
        major projects defined in WorkBC's Job Board. The response includes the
        id and caption.
      responses:
        '200':
          description: An array of major projects
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MajorProject'
                type: array
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Major Projects
      tags:
        - Job Feed
  /regions:
    get:
      description: |
        The Regions endpoint returns details of all of the
        regions defined in WorkBC's Job Board. The response includes the
        id and caption.
      responses:
        '200':
          description: An array of regions
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Region'
                type: array
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Regions
      tags:
        - Job Feed
components:
  schemas:
    Error:
      properties:
        Message:
          type: string
      type: object
    Job:
      properties:
        EmployerName:
          description: The name of the employer who is offering the job.
          type: string
        ExpiryDate:
          description: The date that the job will expire. It is the caller's responsibility to remove job postings once they expire. After this date the supplied Url will show a 404 page.
          format: date-time
          type: string
        JobDescription:
          description: 'Details of the job posting. This is limited to 250 characters, and HTML tags are stripped out. For a full description, use the Url property to view the job posting on the WorkBC website.'
          type: string
        JobID:
          description: The unique id of the job in the WorkBC Job Board database.
          type: integer
        JobTitle:
          description: The name of the job posting.
          type: string
        JobTypes:
          description: The types of work associated with this job.
          items:
            $ref: '#/components/schemas/JobType'
          type: array
        Locations:
          description: Details of all of the locations where the job is available.
          items:
            $ref: '#/components/schemas/Location'
          type: array
        MajorProject:
          $ref: '#/components/schemas/MajorProject'
        PostedDate:
          description: The date that the job was posted.
          format: date-time
          type: string
        RecordType:
          $ref: '#/components/schemas/RecordType'
        SalaryMax:
          format: double
          type: number
        SalaryMin:
          format: double
          type: number
        SalaryMultiplier:
          description: The amount to multiply SalaryMin and SalaryMax by in order to convert to annual values. This is needed if you want to compare salaries for jobs that have been posted using different salary types.
          type: integer
        SalaryType:
          type: string
        Url:
          description: The URL for the live job posting on the WorkBC website.
          type: string
      type: object
    JobFeedResponse:
      properties:
        Jobs:
          items:
            $ref: '#/components/schemas/Job'
          type: array
      type: object
    JobType:
      properties:
        Caption:
          description: The name of the Job Type.
          type: string
        ID:
          $ref: '#/components/schemas/JobTypeID'
      type: object
    JobTypeID:
      description: The type of work.
      enum:
        - Undefined0
        - Full-Time
        - Part-Time
        - Contract
        - Undefined4
        - Undefined5
        - Student
        - Undefined7
        - Undefined8
        - Casual
        - Seasonal
        - Temporary
        - Permanent
        - Co-op
        - Apprenticeship
      type: integer
    Location:
      description: Details of where a job is located. A job can have up to three associated locations.
      properties:
        City:
          description: The name of the city where the job is located.
          type: string
        Province:
          description: The name of the province where the job is located.
          type: string
        RegionID:
          $ref: '#/components/schemas/Region'
        RegionName:
          description: The name of the region in B.C. where the job is located.
          type: string
      type: object
    MajorProject:
      properties:
        Caption:
          description: The name of the Major Project.
          type: string
        ID:
          description: The unique ID of the Major Project in the WorkBC Job Board database. Use this when restricting the Job Feed to only one Major Project.
          type: integer
      type: object
    RecordType:
      description: The type of change that has happened to this job.
      enum:
        - Undefined
        - Update
        - Delete
      type: integer
    Region:
      properties:
        Caption:
          description: The name of the Region.
          type: string
        ID:
          $ref: '#/components/schemas/RegionID'
      type: object
    RegionID:
      description: A region within B.C.
      enum:
        - Undefined
        - Vancouver Island/Coast
        - Mainland/Southwest
        - Thompson-Okanagan
        - Kootenay
        - Cariboo
        - North Coast
        - Nechako
        - Northeast
      type: integer
