{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://azure-api.sportsdata.io/v3/lol/stats"
    },
    {
      "url": "https://azure-api.sportsdata.io/v3/lol/stats"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "description": "LoL v3 Stats",
    "title": "LoL v3 Stats",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/lol-v3-stats.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "sportsdata.io",
    "x-serviceName": "lol-v3-stats"
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/{format}/ActiveMemberships": {
      "get": {
        "description": "Memberships (Active)",
        "operationId": "MembershipsActive",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Membership"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Memberships (Active)"
      }
    },
    "/{format}/Areas": {
      "get": {
        "description": "Areas (Countries)",
        "operationId": "AreasCountries",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Area"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Areas (Countries)"
      }
    },
    "/{format}/BoxScore/{gameid}": {
      "get": {
        "description": "Games by Date",
        "operationId": "BoxScore",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Game ID. \nExample:<code>100002649</code>.",
            "in": "path",
            "name": "gameid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BoxScore"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Box Score"
      }
    },
    "/{format}/BoxScores/{date}": {
      "get": {
        "description": "Games by Date",
        "operationId": "BoxScoresByDate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2019-01-20</code>",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BoxScore"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Box Scores by Date"
      }
    },
    "/{format}/Champions": {
      "get": {
        "description": "Areas (Countries)",
        "operationId": "Champions",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Champion"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Champions"
      }
    },
    "/{format}/CompetitionDetails/{competitionid}": {
      "get": {
        "description": "Competition Fixtures (League Details)",
        "operationId": "CompetitionFixturesLeagueDetails",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "A LoL competition/league unique CompetitionId. Possible values include: <code>100000019</code>, etc.",
            "in": "path",
            "name": "competitionid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetitionDetail"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Competition Fixtures (League Details)"
      }
    },
    "/{format}/Competitions": {
      "get": {
        "description": "Competitions (Leagues)",
        "operationId": "CompetitionsLeagues",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Competition"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Competitions (Leagues)"
      }
    },
    "/{format}/GamesByDate/{date}": {
      "get": {
        "description": "Games by Date",
        "operationId": "GamesByDate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2019-01-20</code>",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Games by Date"
      }
    },
    "/{format}/HistoricalMemberships": {
      "get": {
        "description": "Memberships (Historical)",
        "operationId": "MembershipsHistorical",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Membership"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Memberships (Historical)"
      }
    },
    "/{format}/HistoricalMembershipsByTeam/{teamid}": {
      "get": {
        "description": "Memberships by Team (Historical)",
        "operationId": "MembershipsByTeamHistorical",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Team ID. \nExample:<code>100000165</code>.",
            "in": "path",
            "name": "teamid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Membership"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Memberships by Team (Historical)"
      }
    },
    "/{format}/Items": {
      "get": {
        "description": "Competitions (Leagues)",
        "operationId": "Items",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Item"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Items"
      }
    },
    "/{format}/MembershipsByTeam/{teamid}": {
      "get": {
        "description": "Memberships by Team (Active)",
        "operationId": "MembershipsByTeamActive",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Team ID. \nExample:<code>100000165</code>.",
            "in": "path",
            "name": "teamid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Membership"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Memberships by Team (Active)"
      }
    },
    "/{format}/Player/{playerid}": {
      "get": {
        "description": "Player",
        "operationId": "Player",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Player ID.\nExample:<code>100001500</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Player"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Player"
      }
    },
    "/{format}/Players": {
      "get": {
        "description": "Players",
        "operationId": "Players",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Players"
      }
    },
    "/{format}/PlayersByTeam/{teamid}": {
      "get": {
        "description": "Players by Team",
        "operationId": "PlayersByTeam",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Team ID. \nExample:<code>100000165</code>.",
            "in": "path",
            "name": "teamid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Players by Team"
      }
    },
    "/{format}/Schedule/{roundid}": {
      "get": {
        "description": "Schedule",
        "operationId": "Schedule",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Round ID. RoundIDs can be found in the Competitions and Competition Details endpoints. \nExample: <code>100000278</code>, etc",
            "in": "path",
            "name": "roundid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Schedule"
      }
    },
    "/{format}/SeasonTeams/{seasonid}": {
      "get": {
        "description": "Season Teams",
        "operationId": "SeasonTeams",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Season ID. SeasonIDs can be found in the Competitions and Competition Details endpoints. \nExamples: <code>100000057</code>, etc",
            "in": "path",
            "name": "seasonid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SeasonTeam"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Season Teams"
      }
    },
    "/{format}/Spells": {
      "get": {
        "description": "Areas (Countries)",
        "operationId": "Spells",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Spell"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Spells"
      }
    },
    "/{format}/Standings/{roundid}": {
      "get": {
        "description": "Standings",
        "operationId": "Standings",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Round ID. RoundIDs can be found in the Competitions and Competition Details endpoints. \nExample: <code>100000278</code>, etc",
            "in": "path",
            "name": "roundid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Standing"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Standings"
      }
    },
    "/{format}/Teams": {
      "get": {
        "description": "Teams",
        "operationId": "Teams",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Teams"
      }
    },
    "/{format}/Venues": {
      "get": {
        "description": "Venues",
        "operationId": "Venues",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Venue"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Venues"
      }
    }
  },
  "components": {
    "schemas": {
      "Area": {
        "properties": {
          "AreaId": {
            "nullable": false,
            "type": "integer"
          },
          "CountryCode": {
            "nullable": true,
            "type": "string"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "BoxScore": {
        "properties": {
          "Game": {
            "$ref": "#/components/schemas/Game"
          },
          "Matches": {
            "items": {
              "$ref": "#/components/schemas/Match"
            },
            "type": "array"
          },
          "PlayerGames": {
            "items": {
              "$ref": "#/components/schemas/PlayerGame"
            },
            "type": "array"
          },
          "TeamGames": {
            "items": {
              "$ref": "#/components/schemas/TeamGame"
            },
            "type": "array"
          }
        }
      },
      "Champion": {
        "properties": {
          "Armor": {
            "nullable": false,
            "type": "number"
          },
          "ArmorPerLevel": {
            "nullable": false,
            "type": "number"
          },
          "Attack": {
            "nullable": false,
            "type": "number"
          },
          "AttackDamage": {
            "nullable": false,
            "type": "number"
          },
          "AttackDamagePerLevel": {
            "nullable": false,
            "type": "number"
          },
          "AttackRange": {
            "nullable": false,
            "type": "number"
          },
          "AttackSpeedOffset": {
            "nullable": false,
            "type": "number"
          },
          "ChampionId": {
            "nullable": false,
            "type": "integer"
          },
          "Defense": {
            "nullable": false,
            "type": "number"
          },
          "Difficulty": {
            "nullable": false,
            "type": "number"
          },
          "Hp": {
            "nullable": false,
            "type": "number"
          },
          "HpRegen": {
            "nullable": false,
            "type": "number"
          },
          "HpRegenPerLevel": {
            "nullable": false,
            "type": "number"
          },
          "HpUpPerLevel": {
            "nullable": false,
            "type": "number"
          },
          "Magic": {
            "nullable": false,
            "type": "number"
          },
          "MoveSpeed": {
            "nullable": false,
            "type": "number"
          },
          "Mp": {
            "nullable": false,
            "type": "number"
          },
          "MpRegen": {
            "nullable": false,
            "type": "number"
          },
          "MpRegenPerLevel": {
            "nullable": false,
            "type": "number"
          },
          "MpUpPerLevel": {
            "nullable": false,
            "type": "number"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "SpellBlock": {
            "nullable": false,
            "type": "number"
          },
          "SpellBlockPerLevel": {
            "nullable": false,
            "type": "number"
          },
          "Title": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "ChampionInfo": {
        "properties": {
          "ChampionId": {
            "nullable": false,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Title": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Competition": {
        "properties": {
          "AreaId": {
            "nullable": false,
            "type": "integer"
          },
          "AreaName": {
            "nullable": true,
            "type": "string"
          },
          "CompetitionId": {
            "nullable": false,
            "type": "integer"
          },
          "Format": {
            "nullable": true,
            "type": "string"
          },
          "Gender": {
            "nullable": true,
            "type": "string"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "PlayerStatsCoverage": {
            "nullable": true,
            "type": "boolean"
          },
          "Seasons": {
            "items": {
              "$ref": "#/components/schemas/Season"
            },
            "type": "array"
          },
          "Type": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "CompetitionDetail": {
        "properties": {
          "AreaId": {
            "nullable": false,
            "type": "integer"
          },
          "AreaName": {
            "nullable": true,
            "type": "string"
          },
          "CompetitionId": {
            "nullable": false,
            "type": "integer"
          },
          "CurrentSeason": {
            "$ref": "#/components/schemas/Season"
          },
          "Format": {
            "nullable": true,
            "type": "string"
          },
          "Games": {
            "items": {
              "$ref": "#/components/schemas/Game"
            },
            "type": "array"
          },
          "Gender": {
            "nullable": true,
            "type": "string"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "PlayerStatsCoverage": {
            "nullable": true,
            "type": "boolean"
          },
          "Seasons": {
            "items": {
              "$ref": "#/components/schemas/Season"
            },
            "type": "array"
          },
          "Teams": {
            "items": {
              "$ref": "#/components/schemas/TeamDetail"
            },
            "type": "array"
          },
          "Type": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Game": {
        "properties": {
          "BestOf": {
            "nullable": true,
            "type": "string"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "DrawMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "GameId": {
            "nullable": false,
            "type": "integer"
          },
          "Group": {
            "nullable": true,
            "type": "string"
          },
          "IsClosed": {
            "nullable": true,
            "type": "boolean"
          },
          "PointSpread": {
            "nullable": true,
            "type": "number"
          },
          "RoundId": {
            "nullable": false,
            "type": "integer"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": false,
            "type": "integer"
          },
          "Status": {
            "nullable": true,
            "type": "string"
          },
          "TeamAId": {
            "nullable": true,
            "type": "integer"
          },
          "TeamAKey": {
            "nullable": true,
            "type": "string"
          },
          "TeamAMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "TeamAName": {
            "nullable": true,
            "type": "string"
          },
          "TeamAPointSpreadPayout": {
            "nullable": true,
            "type": "integer"
          },
          "TeamAScore": {
            "nullable": true,
            "type": "integer"
          },
          "TeamBId": {
            "nullable": true,
            "type": "integer"
          },
          "TeamBKey": {
            "nullable": true,
            "type": "string"
          },
          "TeamBMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "TeamBName": {
            "nullable": true,
            "type": "string"
          },
          "TeamBPointSpreadPayout": {
            "nullable": true,
            "type": "integer"
          },
          "TeamBScore": {
            "nullable": true,
            "type": "integer"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "UpdatedUtc": {
            "nullable": true,
            "type": "string"
          },
          "VenueId": {
            "nullable": true,
            "type": "integer"
          },
          "VenueType": {
            "nullable": true,
            "type": "string"
          },
          "Week": {
            "nullable": true,
            "type": "integer"
          },
          "Winner": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Item": {
        "properties": {
          "GoldBase": {
            "nullable": false,
            "type": "integer"
          },
          "GoldSell": {
            "nullable": false,
            "type": "integer"
          },
          "GoldTotal": {
            "nullable": false,
            "type": "integer"
          },
          "ItemId": {
            "nullable": false,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Match": {
        "properties": {
          "GameId": {
            "nullable": false,
            "type": "integer"
          },
          "GameVersion": {
            "nullable": true,
            "type": "string"
          },
          "MapName": {
            "nullable": true,
            "type": "string"
          },
          "MatchBans": {
            "items": {
              "$ref": "#/components/schemas/MatchBan"
            },
            "type": "array"
          },
          "Number": {
            "nullable": false,
            "type": "integer"
          },
          "PlayerMatches": {
            "items": {
              "$ref": "#/components/schemas/PlayerMatch"
            },
            "type": "array"
          },
          "TeamMatches": {
            "items": {
              "$ref": "#/components/schemas/TeamMatch"
            },
            "type": "array"
          },
          "WinningTeamId": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "MatchBan": {
        "properties": {
          "Champion": {
            "$ref": "#/components/schemas/ChampionInfo"
          },
          "ChampionId": {
            "nullable": true,
            "type": "integer"
          },
          "MatchId": {
            "nullable": false,
            "type": "integer"
          },
          "TeamId": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "Membership": {
        "properties": {
          "Active": {
            "nullable": false,
            "type": "boolean"
          },
          "EndDate": {
            "nullable": true,
            "type": "string"
          },
          "MembershipId": {
            "nullable": false,
            "type": "integer"
          },
          "PlayerId": {
            "nullable": false,
            "type": "integer"
          },
          "PlayerName": {
            "nullable": true,
            "type": "string"
          },
          "StartDate": {
            "nullable": true,
            "type": "string"
          },
          "TeamArea": {
            "nullable": true,
            "type": "string"
          },
          "TeamId": {
            "nullable": false,
            "type": "integer"
          },
          "TeamName": {
            "nullable": true,
            "type": "string"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Player": {
        "properties": {
          "BirthCity": {
            "nullable": true,
            "type": "string"
          },
          "BirthCountry": {
            "nullable": true,
            "type": "string"
          },
          "BirthDate": {
            "nullable": true,
            "type": "string"
          },
          "CommonName": {
            "nullable": true,
            "type": "string"
          },
          "FirstName": {
            "nullable": true,
            "type": "string"
          },
          "Gender": {
            "nullable": true,
            "type": "string"
          },
          "LastName": {
            "nullable": true,
            "type": "string"
          },
          "MatchName": {
            "nullable": true,
            "type": "string"
          },
          "Nationality": {
            "nullable": true,
            "type": "string"
          },
          "PlayerId": {
            "nullable": false,
            "type": "integer"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "PlayerGame": {
        "properties": {
          "Assists": {
            "nullable": true,
            "type": "number"
          },
          "CombatPlayerScore": {
            "nullable": true,
            "type": "number"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "Deaths": {
            "nullable": true,
            "type": "number"
          },
          "DoubleKills": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "GameId": {
            "nullable": false,
            "type": "integer"
          },
          "Games": {
            "nullable": false,
            "type": "integer"
          },
          "GoldEarned": {
            "nullable": true,
            "type": "number"
          },
          "GoldSpent": {
            "nullable": true,
            "type": "number"
          },
          "InhibitorKills": {
            "nullable": true,
            "type": "number"
          },
          "IsClosed": {
            "nullable": false,
            "type": "boolean"
          },
          "KillingSpree": {
            "nullable": true,
            "type": "number"
          },
          "Kills": {
            "nullable": true,
            "type": "number"
          },
          "LargestCriticalStrike": {
            "nullable": true,
            "type": "number"
          },
          "LargestKillingSpree": {
            "nullable": true,
            "type": "number"
          },
          "LargestMultiKill": {
            "nullable": true,
            "type": "number"
          },
          "LongestTimeSpentLiving": {
            "nullable": true,
            "type": "number"
          },
          "MagicDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "MagicDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "MagicDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "MatchName": {
            "nullable": true,
            "type": "string"
          },
          "Matches": {
            "nullable": false,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "NeutralMinionsKIlled": {
            "nullable": true,
            "type": "number"
          },
          "NeutralMinionsKIlledTeamJungle": {
            "nullable": true,
            "type": "number"
          },
          "NeutralMinionsKilledEnemyJungle": {
            "nullable": true,
            "type": "number"
          },
          "ObjectivePlayerScore": {
            "nullable": true,
            "type": "number"
          },
          "Opponent": {
            "nullable": true,
            "type": "string"
          },
          "OpponentId": {
            "nullable": false,
            "type": "integer"
          },
          "PentaKills": {
            "nullable": true,
            "type": "number"
          },
          "PhysicalDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "PhysicalDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "PhysicalDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "PlayerId": {
            "nullable": false,
            "type": "integer"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "QuadraKills": {
            "nullable": true,
            "type": "number"
          },
          "SightWardsBoughtInGame": {
            "nullable": true,
            "type": "number"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamId": {
            "nullable": true,
            "type": "integer"
          },
          "TenKillsOrAssists": {
            "nullable": true,
            "type": "number"
          },
          "TotalDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "TotalDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "TotalDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "TotalHeal": {
            "nullable": true,
            "type": "number"
          },
          "TotalMinionsKilled": {
            "nullable": true,
            "type": "number"
          },
          "TotalPlayerScore": {
            "nullable": true,
            "type": "number"
          },
          "TotalTimeCrowdControlDealt": {
            "nullable": true,
            "type": "number"
          },
          "TotalUnitsHealed": {
            "nullable": true,
            "type": "number"
          },
          "TripleKills": {
            "nullable": true,
            "type": "number"
          },
          "TrueDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "TrueDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "TrueDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "TurretKills": {
            "nullable": true,
            "type": "number"
          },
          "UnrealKills": {
            "nullable": true,
            "type": "number"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "VisionWardsBoughtInGame": {
            "nullable": true,
            "type": "number"
          },
          "WardsKilled": {
            "nullable": true,
            "type": "number"
          },
          "WardsPlaced": {
            "nullable": true,
            "type": "number"
          }
        }
      },
      "PlayerMatch": {
        "properties": {
          "Assists": {
            "nullable": true,
            "type": "number"
          },
          "Champion": {
            "$ref": "#/components/schemas/ChampionInfo"
          },
          "ChampionId": {
            "nullable": true,
            "type": "integer"
          },
          "ChampionLevel": {
            "nullable": true,
            "type": "integer"
          },
          "CombatPlayerScore": {
            "nullable": true,
            "type": "number"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "Deaths": {
            "nullable": true,
            "type": "number"
          },
          "DoubleKills": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "GameId": {
            "nullable": false,
            "type": "integer"
          },
          "Games": {
            "nullable": false,
            "type": "integer"
          },
          "GoldEarned": {
            "nullable": true,
            "type": "number"
          },
          "GoldSpent": {
            "nullable": true,
            "type": "number"
          },
          "InhibitorKills": {
            "nullable": true,
            "type": "number"
          },
          "IsClosed": {
            "nullable": false,
            "type": "boolean"
          },
          "Items": {
            "items": {
              "$ref": "#/components/schemas/Item"
            },
            "type": "array"
          },
          "KillingSpree": {
            "nullable": true,
            "type": "number"
          },
          "Kills": {
            "nullable": true,
            "type": "number"
          },
          "Lane": {
            "nullable": true,
            "type": "string"
          },
          "LargestCriticalStrike": {
            "nullable": true,
            "type": "number"
          },
          "LargestKillingSpree": {
            "nullable": true,
            "type": "number"
          },
          "LargestMultiKill": {
            "nullable": true,
            "type": "number"
          },
          "LongestTimeSpentLiving": {
            "nullable": true,
            "type": "number"
          },
          "MagicDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "MagicDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "MagicDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "MatchId": {
            "nullable": false,
            "type": "integer"
          },
          "MatchName": {
            "nullable": true,
            "type": "string"
          },
          "Matches": {
            "nullable": false,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "NeutralMinionsKIlled": {
            "nullable": true,
            "type": "number"
          },
          "NeutralMinionsKIlledTeamJungle": {
            "nullable": true,
            "type": "number"
          },
          "NeutralMinionsKilledEnemyJungle": {
            "nullable": true,
            "type": "number"
          },
          "ObjectivePlayerScore": {
            "nullable": true,
            "type": "number"
          },
          "Opponent": {
            "nullable": true,
            "type": "string"
          },
          "OpponentId": {
            "nullable": false,
            "type": "integer"
          },
          "PentaKills": {
            "nullable": true,
            "type": "number"
          },
          "PhysicalDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "PhysicalDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "PhysicalDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "PlayerId": {
            "nullable": false,
            "type": "integer"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "QuadraKills": {
            "nullable": true,
            "type": "number"
          },
          "Role": {
            "nullable": true,
            "type": "string"
          },
          "SightWardsBoughtInGame": {
            "nullable": true,
            "type": "number"
          },
          "Spells": {
            "items": {
              "$ref": "#/components/schemas/Spell"
            },
            "type": "array"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamId": {
            "nullable": true,
            "type": "integer"
          },
          "TenKillsOrAssists": {
            "nullable": true,
            "type": "number"
          },
          "TotalDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "TotalDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "TotalDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "TotalHeal": {
            "nullable": true,
            "type": "number"
          },
          "TotalMinionsKilled": {
            "nullable": true,
            "type": "number"
          },
          "TotalPlayerScore": {
            "nullable": true,
            "type": "number"
          },
          "TotalTimeCrowdControlDealt": {
            "nullable": true,
            "type": "number"
          },
          "TotalUnitsHealed": {
            "nullable": true,
            "type": "number"
          },
          "TripleKills": {
            "nullable": true,
            "type": "number"
          },
          "TrueDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "TrueDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "TrueDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "TurretKills": {
            "nullable": true,
            "type": "number"
          },
          "UnrealKills": {
            "nullable": true,
            "type": "number"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "VisionWardsBoughtInGame": {
            "nullable": true,
            "type": "number"
          },
          "WardsKilled": {
            "nullable": true,
            "type": "number"
          },
          "WardsPlaced": {
            "nullable": true,
            "type": "number"
          }
        }
      },
      "Round": {
        "properties": {
          "CurrentRound": {
            "nullable": false,
            "type": "boolean"
          },
          "CurrentWeek": {
            "nullable": true,
            "type": "integer"
          },
          "EndDate": {
            "nullable": true,
            "type": "string"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "RoundId": {
            "nullable": false,
            "type": "integer"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonId": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": false,
            "type": "integer"
          },
          "StartDate": {
            "nullable": true,
            "type": "string"
          },
          "Type": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Season": {
        "properties": {
          "CompetitionId": {
            "nullable": false,
            "type": "integer"
          },
          "CompetitionName": {
            "nullable": true,
            "type": "string"
          },
          "CurrentSeason": {
            "nullable": false,
            "type": "boolean"
          },
          "EndDate": {
            "nullable": true,
            "type": "string"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Rounds": {
            "items": {
              "$ref": "#/components/schemas/Round"
            },
            "type": "array"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonId": {
            "nullable": false,
            "type": "integer"
          },
          "StartDate": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "SeasonTeam": {
        "properties": {
          "Active": {
            "nullable": false,
            "type": "boolean"
          },
          "Gender": {
            "nullable": true,
            "type": "string"
          },
          "SeasonId": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonTeamId": {
            "nullable": false,
            "type": "integer"
          },
          "Team": {
            "$ref": "#/components/schemas/Team"
          },
          "TeamId": {
            "nullable": false,
            "type": "integer"
          },
          "TeamName": {
            "nullable": true,
            "type": "string"
          },
          "Type": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Spell": {
        "properties": {
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "SpellId": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "Standing": {
        "properties": {
          "Games": {
            "nullable": false,
            "type": "integer"
          },
          "Group": {
            "nullable": true,
            "type": "string"
          },
          "Losses": {
            "nullable": false,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Order": {
            "nullable": true,
            "type": "integer"
          },
          "Points": {
            "nullable": false,
            "type": "integer"
          },
          "RoundId": {
            "nullable": false,
            "type": "integer"
          },
          "ScoreAgainst": {
            "nullable": false,
            "type": "integer"
          },
          "ScoreDifference": {
            "nullable": false,
            "type": "integer"
          },
          "ScoreFor": {
            "nullable": false,
            "type": "integer"
          },
          "StandingId": {
            "nullable": false,
            "type": "integer"
          },
          "TeamId": {
            "nullable": false,
            "type": "integer"
          },
          "Wins": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "Team": {
        "properties": {
          "Active": {
            "nullable": false,
            "type": "boolean"
          },
          "AreaId": {
            "nullable": true,
            "type": "integer"
          },
          "AreaName": {
            "nullable": true,
            "type": "string"
          },
          "Email": {
            "nullable": true,
            "type": "string"
          },
          "Facebook": {
            "nullable": true,
            "type": "string"
          },
          "Founded": {
            "nullable": true,
            "type": "integer"
          },
          "Gender": {
            "nullable": true,
            "type": "string"
          },
          "Instagram": {
            "nullable": true,
            "type": "string"
          },
          "Key": {
            "nullable": true,
            "type": "string"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "PrimaryColor": {
            "nullable": true,
            "type": "string"
          },
          "QuaternaryColor": {
            "nullable": true,
            "type": "string"
          },
          "SecondaryColor": {
            "nullable": true,
            "type": "string"
          },
          "ShortName": {
            "nullable": true,
            "type": "string"
          },
          "TeamId": {
            "nullable": false,
            "type": "integer"
          },
          "TertiaryColor": {
            "nullable": true,
            "type": "string"
          },
          "Twitter": {
            "nullable": true,
            "type": "string"
          },
          "Type": {
            "nullable": true,
            "type": "string"
          },
          "Website": {
            "nullable": true,
            "type": "string"
          },
          "YouTube": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "TeamDetail": {
        "properties": {
          "Active": {
            "nullable": false,
            "type": "boolean"
          },
          "AreaId": {
            "nullable": true,
            "type": "integer"
          },
          "AreaName": {
            "nullable": true,
            "type": "string"
          },
          "Email": {
            "nullable": true,
            "type": "string"
          },
          "Facebook": {
            "nullable": true,
            "type": "string"
          },
          "Founded": {
            "nullable": true,
            "type": "integer"
          },
          "Gender": {
            "nullable": true,
            "type": "string"
          },
          "Instagram": {
            "nullable": true,
            "type": "string"
          },
          "Key": {
            "nullable": true,
            "type": "string"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Players": {
            "items": {
              "$ref": "#/components/schemas/Player"
            },
            "type": "array"
          },
          "PrimaryColor": {
            "nullable": true,
            "type": "string"
          },
          "QuaternaryColor": {
            "nullable": true,
            "type": "string"
          },
          "SecondaryColor": {
            "nullable": true,
            "type": "string"
          },
          "ShortName": {
            "nullable": true,
            "type": "string"
          },
          "TeamId": {
            "nullable": false,
            "type": "integer"
          },
          "TertiaryColor": {
            "nullable": true,
            "type": "string"
          },
          "Twitter": {
            "nullable": true,
            "type": "string"
          },
          "Type": {
            "nullable": true,
            "type": "string"
          },
          "Website": {
            "nullable": true,
            "type": "string"
          },
          "YouTube": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "TeamGame": {
        "properties": {
          "Assists": {
            "nullable": true,
            "type": "number"
          },
          "CombatPlayerScore": {
            "nullable": true,
            "type": "number"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "Deaths": {
            "nullable": true,
            "type": "number"
          },
          "DoubleKills": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FirstBaron": {
            "nullable": true,
            "type": "number"
          },
          "FirstBlood": {
            "nullable": true,
            "type": "number"
          },
          "FirstDragon": {
            "nullable": true,
            "type": "number"
          },
          "FirstInhibitor": {
            "nullable": true,
            "type": "number"
          },
          "FirstRiftHerald": {
            "nullable": true,
            "type": "number"
          },
          "FirstTower": {
            "nullable": true,
            "type": "number"
          },
          "GameId": {
            "nullable": false,
            "type": "integer"
          },
          "Games": {
            "nullable": false,
            "type": "integer"
          },
          "GoldEarned": {
            "nullable": true,
            "type": "number"
          },
          "GoldSpent": {
            "nullable": true,
            "type": "number"
          },
          "InhibitorKills": {
            "nullable": true,
            "type": "number"
          },
          "IsClosed": {
            "nullable": false,
            "type": "boolean"
          },
          "KillingSpree": {
            "nullable": true,
            "type": "number"
          },
          "Kills": {
            "nullable": true,
            "type": "number"
          },
          "LargestCriticalStrike": {
            "nullable": true,
            "type": "number"
          },
          "LargestKillingSpree": {
            "nullable": true,
            "type": "number"
          },
          "LargestMultiKill": {
            "nullable": true,
            "type": "number"
          },
          "LongestTimeSpentLiving": {
            "nullable": true,
            "type": "number"
          },
          "MagicDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "MagicDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "MagicDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "MatchName": {
            "nullable": true,
            "type": "string"
          },
          "Matches": {
            "nullable": false,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "NeutralMinionsKIlled": {
            "nullable": true,
            "type": "number"
          },
          "NeutralMinionsKIlledTeamJungle": {
            "nullable": true,
            "type": "number"
          },
          "NeutralMinionsKilledEnemyJungle": {
            "nullable": true,
            "type": "number"
          },
          "ObjectivePlayerScore": {
            "nullable": true,
            "type": "number"
          },
          "Opponent": {
            "nullable": true,
            "type": "string"
          },
          "OpponentId": {
            "nullable": false,
            "type": "integer"
          },
          "PentaKills": {
            "nullable": true,
            "type": "number"
          },
          "PhysicalDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "PhysicalDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "PhysicalDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "PlayerId": {
            "nullable": false,
            "type": "integer"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "QuadraKills": {
            "nullable": true,
            "type": "number"
          },
          "SightWardsBoughtInGame": {
            "nullable": true,
            "type": "number"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamId": {
            "nullable": true,
            "type": "integer"
          },
          "TenKillsOrAssists": {
            "nullable": true,
            "type": "number"
          },
          "TotalDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "TotalDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "TotalDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "TotalHeal": {
            "nullable": true,
            "type": "number"
          },
          "TotalMinionsKilled": {
            "nullable": true,
            "type": "number"
          },
          "TotalPlayerScore": {
            "nullable": true,
            "type": "number"
          },
          "TotalTimeCrowdControlDealt": {
            "nullable": true,
            "type": "number"
          },
          "TotalUnitsHealed": {
            "nullable": true,
            "type": "number"
          },
          "TripleKills": {
            "nullable": true,
            "type": "number"
          },
          "TrueDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "TrueDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "TrueDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "TurretKills": {
            "nullable": true,
            "type": "number"
          },
          "UnrealKills": {
            "nullable": true,
            "type": "number"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "VisionWardsBoughtInGame": {
            "nullable": true,
            "type": "number"
          },
          "WardsKilled": {
            "nullable": true,
            "type": "number"
          },
          "WardsPlaced": {
            "nullable": true,
            "type": "number"
          }
        }
      },
      "TeamMatch": {
        "properties": {
          "Assists": {
            "nullable": true,
            "type": "number"
          },
          "CombatPlayerScore": {
            "nullable": true,
            "type": "number"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "Deaths": {
            "nullable": true,
            "type": "number"
          },
          "DoubleKills": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FirstBaron": {
            "nullable": true,
            "type": "number"
          },
          "FirstBlood": {
            "nullable": true,
            "type": "number"
          },
          "FirstDragon": {
            "nullable": true,
            "type": "number"
          },
          "FirstInhibitor": {
            "nullable": true,
            "type": "number"
          },
          "FirstRiftHerald": {
            "nullable": true,
            "type": "number"
          },
          "FirstTower": {
            "nullable": true,
            "type": "number"
          },
          "GameId": {
            "nullable": false,
            "type": "integer"
          },
          "Games": {
            "nullable": false,
            "type": "integer"
          },
          "GoldEarned": {
            "nullable": true,
            "type": "number"
          },
          "GoldSpent": {
            "nullable": true,
            "type": "number"
          },
          "InhibitorKills": {
            "nullable": true,
            "type": "number"
          },
          "IsClosed": {
            "nullable": false,
            "type": "boolean"
          },
          "KillingSpree": {
            "nullable": true,
            "type": "number"
          },
          "Kills": {
            "nullable": true,
            "type": "number"
          },
          "LargestCriticalStrike": {
            "nullable": true,
            "type": "number"
          },
          "LargestKillingSpree": {
            "nullable": true,
            "type": "number"
          },
          "LargestMultiKill": {
            "nullable": true,
            "type": "number"
          },
          "LongestTimeSpentLiving": {
            "nullable": true,
            "type": "number"
          },
          "MagicDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "MagicDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "MagicDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "MatchName": {
            "nullable": true,
            "type": "string"
          },
          "Matches": {
            "nullable": false,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "NeutralMinionsKIlled": {
            "nullable": true,
            "type": "number"
          },
          "NeutralMinionsKIlledTeamJungle": {
            "nullable": true,
            "type": "number"
          },
          "NeutralMinionsKilledEnemyJungle": {
            "nullable": true,
            "type": "number"
          },
          "ObjectivePlayerScore": {
            "nullable": true,
            "type": "number"
          },
          "Opponent": {
            "nullable": true,
            "type": "string"
          },
          "OpponentId": {
            "nullable": false,
            "type": "integer"
          },
          "PentaKills": {
            "nullable": true,
            "type": "number"
          },
          "PhysicalDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "PhysicalDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "PhysicalDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "PlayerId": {
            "nullable": false,
            "type": "integer"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "QuadraKills": {
            "nullable": true,
            "type": "number"
          },
          "SightWardsBoughtInGame": {
            "nullable": true,
            "type": "number"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamId": {
            "nullable": true,
            "type": "integer"
          },
          "TenKillsOrAssists": {
            "nullable": true,
            "type": "number"
          },
          "TotalDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "TotalDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "TotalDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "TotalHeal": {
            "nullable": true,
            "type": "number"
          },
          "TotalMinionsKilled": {
            "nullable": true,
            "type": "number"
          },
          "TotalPlayerScore": {
            "nullable": true,
            "type": "number"
          },
          "TotalTimeCrowdControlDealt": {
            "nullable": true,
            "type": "number"
          },
          "TotalUnitsHealed": {
            "nullable": true,
            "type": "number"
          },
          "TripleKills": {
            "nullable": true,
            "type": "number"
          },
          "TrueDamageDealt": {
            "nullable": true,
            "type": "number"
          },
          "TrueDamageDealtToChampions": {
            "nullable": true,
            "type": "number"
          },
          "TrueDamageTaken": {
            "nullable": true,
            "type": "number"
          },
          "TurretKills": {
            "nullable": true,
            "type": "number"
          },
          "UnrealKills": {
            "nullable": true,
            "type": "number"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "VisionWardsBoughtInGame": {
            "nullable": true,
            "type": "number"
          },
          "WardsKilled": {
            "nullable": true,
            "type": "number"
          },
          "WardsPlaced": {
            "nullable": true,
            "type": "number"
          }
        }
      },
      "Venue": {
        "properties": {
          "Address": {
            "nullable": true,
            "type": "string"
          },
          "Capacity": {
            "nullable": true,
            "type": "integer"
          },
          "City": {
            "nullable": true,
            "type": "string"
          },
          "Country": {
            "nullable": true,
            "type": "string"
          },
          "GeoLat": {
            "nullable": true,
            "type": "number"
          },
          "GeoLong": {
            "nullable": true,
            "type": "number"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Nickname1": {
            "nullable": true,
            "type": "string"
          },
          "Nickname2": {
            "nullable": true,
            "type": "string"
          },
          "Open": {
            "nullable": false,
            "type": "boolean"
          },
          "Opened": {
            "nullable": true,
            "type": "integer"
          },
          "VenueId": {
            "nullable": false,
            "type": "integer"
          },
          "Zip": {
            "nullable": true,
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "type": "apiKey"
      },
      "apiKeyQuery": {
        "in": "query",
        "name": "key",
        "type": "apiKey"
      }
    }
  }
}