{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://books.googleapis.com/"
    }
  ],
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com",
      "x-twitter": "youtube"
    },
    "description": "The Google Books API allows clients to access the Google Books repository.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Books API",
    "version": "v1",
    "x-apiClientRegistration": {
      "url": "https://console.developers.google.com"
    },
    "x-apisguru-categories": [
      "analytics",
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
    },
    "x-origin": [
      {
        "format": "google",
        "url": "https://books.googleapis.com/$discovery/rest?version=v1",
        "version": "v1"
      }
    ],
    "x-providerName": "googleapis.com",
    "x-serviceName": "books"
  },
  "externalDocs": {
    "url": "https://code.google.com/apis/books/docs/v1/getting_started.html"
  },
  "tags": [
    {
      "name": "bookshelves"
    },
    {
      "name": "cloudloading"
    },
    {
      "name": "dictionary"
    },
    {
      "name": "familysharing"
    },
    {
      "name": "layers"
    },
    {
      "name": "myconfig"
    },
    {
      "name": "mylibrary"
    },
    {
      "name": "notification"
    },
    {
      "name": "onboarding"
    },
    {
      "name": "personalizedstream"
    },
    {
      "name": "promooffer"
    },
    {
      "name": "series"
    },
    {
      "name": "volumes"
    }
  ],
  "paths": {
    "/books/v1/cloudloading/addBook": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Add a user-upload volume and triggers processing.",
        "operationId": "books.cloudloading.addBook",
        "parameters": [
          {
            "description": "A drive document id. The upload_client_token must not be set.",
            "in": "query",
            "name": "drive_document_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The document MIME type. It can be set only if the drive_document_id is set.",
            "in": "query",
            "name": "mime_type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The document name. It can be set only if the drive_document_id is set.",
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Scotty upload token.",
            "in": "query",
            "name": "upload_client_token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooksCloudloadingResource"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "cloudloading"
        ]
      }
    },
    "/books/v1/cloudloading/deleteBook": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Remove the book and its contents",
        "operationId": "books.cloudloading.deleteBook",
        "parameters": [
          {
            "description": "The id of the book to be removed.",
            "in": "query",
            "name": "volumeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "cloudloading"
        ]
      }
    },
    "/books/v1/cloudloading/updateBook": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Updates a user-upload volume.",
        "operationId": "books.cloudloading.updateBook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BooksCloudloadingResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooksCloudloadingResource"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "cloudloading"
        ]
      }
    },
    "/books/v1/dictionary/listOfflineMetadata": {
      "get": {
        "description": "Returns a list of offline dictionary metadata available",
        "operationId": "books.dictionary.listOfflineMetadata",
        "parameters": [
          {
            "description": "The device/version ID from which to request the data.",
            "in": "query",
            "name": "cpksver",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "dictionary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/books/v1/familysharing/getFamilyInfo": {
      "get": {
        "description": "Gets information regarding the family that the user is part of.",
        "operationId": "books.familysharing.getFamilyInfo",
        "parameters": [
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FamilyInfo"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "familysharing"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/books/v1/familysharing/share": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Initiates sharing of the content with the user's family. Empty response indicates success.",
        "operationId": "books.familysharing.share",
        "parameters": [
          {
            "description": "The docid to share.",
            "in": "query",
            "name": "docId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The volume to share.",
            "in": "query",
            "name": "volumeId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "familysharing"
        ]
      }
    },
    "/books/v1/familysharing/unshare": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Initiates revoking content that has already been shared with the user's family. Empty response indicates success.",
        "operationId": "books.familysharing.unshare",
        "parameters": [
          {
            "description": "The docid to unshare.",
            "in": "query",
            "name": "docId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The volume to unshare.",
            "in": "query",
            "name": "volumeId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "familysharing"
        ]
      }
    },
    "/books/v1/myconfig/getUserSettings": {
      "get": {
        "description": "Gets the current settings for the user.",
        "operationId": "books.myconfig.getUserSettings",
        "parameters": [
          {
            "description": "Unused. Added only to workaround TEX mandatory request template requirement",
            "in": "query",
            "name": "country",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usersettings"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "myconfig"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/books/v1/myconfig/releaseDownloadAccess": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Release downloaded content access restriction.",
        "operationId": "books.myconfig.releaseDownloadAccess",
        "parameters": [
          {
            "description": "The device/version ID from which to release the restriction.",
            "in": "query",
            "name": "cpksver",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The volume(s) to release restrictions for.",
            "explode": true,
            "in": "query",
            "name": "volumeIds",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
            "in": "query",
            "name": "locale",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadAccesses"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "myconfig"
        ]
      }
    },
    "/books/v1/myconfig/requestAccess": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Request concurrent and download access restrictions.",
        "operationId": "books.myconfig.requestAccess",
        "parameters": [
          {
            "description": "The device/version ID from which to request the restrictions.",
            "in": "query",
            "name": "cpksver",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The client nonce value.",
            "in": "query",
            "name": "nonce",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The volume to request concurrent/download restrictions for.",
            "in": "query",
            "name": "volumeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The type of access license to request. If not specified, the default is BOTH.",
            "in": "query",
            "name": "licenseTypes",
            "schema": {
              "enum": [
                "LICENSE_TYPES_UNDEFINED",
                "BOTH",
                "CONCURRENT",
                "DOWNLOAD"
              ],
              "type": "string"
            }
          },
          {
            "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
            "in": "query",
            "name": "locale",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccessData"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "myconfig"
        ]
      }
    },
    "/books/v1/myconfig/syncVolumeLicenses": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Request downloaded content access for specified volumes on the My eBooks shelf.",
        "operationId": "books.myconfig.syncVolumeLicenses",
        "parameters": [
          {
            "description": "The device/version ID from which to release the restriction.",
            "in": "query",
            "name": "cpksver",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The client nonce value.",
            "in": "query",
            "name": "nonce",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "List of features supported by the client, i.e., 'RENTALS'",
            "explode": true,
            "in": "query",
            "name": "features",
            "schema": {
              "items": {
                "enum": [
                  "FEATURES_UNDEFINED",
                  "RENTALS"
                ],
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Set to true to include non-comics series. Defaults to false.",
            "in": "query",
            "name": "includeNonComicsSeries",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
            "in": "query",
            "name": "locale",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set to true to show pre-ordered books. Defaults to false.",
            "in": "query",
            "name": "showPreorders",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "The volume(s) to request download restrictions for.",
            "explode": true,
            "in": "query",
            "name": "volumeIds",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volumes"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "myconfig"
        ]
      }
    },
    "/books/v1/myconfig/updateUserSettings": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Sets the settings for the user. If a sub-object is specified, it will overwrite the existing sub-object stored in the server. Unspecified sub-objects will retain the existing value.",
        "operationId": "books.myconfig.updateUserSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Usersettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usersettings"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "myconfig"
        ]
      }
    },
    "/books/v1/mylibrary/annotations": {
      "get": {
        "description": "Retrieves a list of annotations, possibly filtered.",
        "operationId": "books.mylibrary.annotations.list",
        "parameters": [
          {
            "description": "The content version for the requested volume.",
            "in": "query",
            "name": "contentVersion",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The layer ID to limit annotation by.",
            "in": "query",
            "name": "layerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The layer ID(s) to limit annotation by.",
            "explode": true,
            "in": "query",
            "name": "layerIds",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Maximum number of results to return",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "maximum": 40,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The value of the nextToken from the previous page.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.",
            "in": "query",
            "name": "showDeleted",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
            "in": "query",
            "name": "updatedMax",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
            "in": "query",
            "name": "updatedMin",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The volume to restrict annotations to.",
            "in": "query",
            "name": "volumeId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotations"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Inserts a new annotation.",
        "operationId": "books.mylibrary.annotations.insert",
        "parameters": [
          {
            "description": "The ID for the annotation to insert.",
            "in": "query",
            "name": "annotationId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO-3166-1 code to override the IP-based location.",
            "in": "query",
            "name": "country",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Requests that only the summary of the specified layer be provided in the response.",
            "in": "query",
            "name": "showOnlySummaryInResponse",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Annotation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      }
    },
    "/books/v1/mylibrary/annotations/summary": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Gets the summary of specified layers.",
        "operationId": "books.mylibrary.annotations.summary",
        "parameters": [
          {
            "description": "Array of layer IDs to get the summary for.",
            "explode": true,
            "in": "query",
            "name": "layerIds",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Volume id to get the summary for.",
            "in": "query",
            "name": "volumeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotationsSummary"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      }
    },
    "/books/v1/mylibrary/annotations/{annotationId}": {
      "delete": {
        "description": "Deletes an annotation.",
        "operationId": "books.mylibrary.annotations.delete",
        "parameters": [
          {
            "description": "The ID for the annotation to delete.",
            "in": "path",
            "name": "annotationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "put": {
        "description": "Updates an existing annotation.",
        "operationId": "books.mylibrary.annotations.update",
        "parameters": [
          {
            "description": "The ID for the annotation to update.",
            "in": "path",
            "name": "annotationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Annotation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      }
    },
    "/books/v1/mylibrary/bookshelves": {
      "get": {
        "description": "Retrieves a list of bookshelves belonging to the authenticated user.",
        "operationId": "books.mylibrary.bookshelves.list",
        "parameters": [
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bookshelves"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/books/v1/mylibrary/bookshelves/{shelf}": {
      "get": {
        "description": "Retrieves metadata for a specific bookshelf belonging to the authenticated user.",
        "operationId": "books.mylibrary.bookshelves.get",
        "parameters": [
          {
            "description": "ID of bookshelf to retrieve.",
            "in": "path",
            "name": "shelf",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bookshelf"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/books/v1/mylibrary/bookshelves/{shelf}/addVolume": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Adds a volume to a bookshelf.",
        "operationId": "books.mylibrary.bookshelves.addVolume",
        "parameters": [
          {
            "description": "ID of bookshelf to which to add a volume.",
            "in": "path",
            "name": "shelf",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of volume to add.",
            "in": "query",
            "name": "volumeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The reason for which the book is added to the library.",
            "in": "query",
            "name": "reason",
            "schema": {
              "enum": [
                "REASON_UNDEFINED",
                "IOS_PREX",
                "IOS_SEARCH",
                "ONBOARDING"
              ],
              "type": "string"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      }
    },
    "/books/v1/mylibrary/bookshelves/{shelf}/clearVolumes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Clears all volumes from a bookshelf.",
        "operationId": "books.mylibrary.bookshelves.clearVolumes",
        "parameters": [
          {
            "description": "ID of bookshelf from which to remove a volume.",
            "in": "path",
            "name": "shelf",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      }
    },
    "/books/v1/mylibrary/bookshelves/{shelf}/moveVolume": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Moves a volume within a bookshelf.",
        "operationId": "books.mylibrary.bookshelves.moveVolume",
        "parameters": [
          {
            "description": "ID of bookshelf with the volume.",
            "in": "path",
            "name": "shelf",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of volume to move.",
            "in": "query",
            "name": "volumeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Position on shelf to move the item (0 puts the item before the current first item, 1 puts it between the first and the second and so on.)",
            "in": "query",
            "name": "volumePosition",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      }
    },
    "/books/v1/mylibrary/bookshelves/{shelf}/removeVolume": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Removes a volume from a bookshelf.",
        "operationId": "books.mylibrary.bookshelves.removeVolume",
        "parameters": [
          {
            "description": "ID of bookshelf from which to remove a volume.",
            "in": "path",
            "name": "shelf",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of volume to remove.",
            "in": "query",
            "name": "volumeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The reason for which the book is removed from the library.",
            "in": "query",
            "name": "reason",
            "schema": {
              "enum": [
                "REASON_UNDEFINED",
                "ONBOARDING"
              ],
              "type": "string"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      }
    },
    "/books/v1/mylibrary/bookshelves/{shelf}/volumes": {
      "get": {
        "description": "Gets volume information for volumes on a bookshelf.",
        "operationId": "books.mylibrary.bookshelves.volumes.list",
        "parameters": [
          {
            "description": "The bookshelf ID or name retrieve volumes for.",
            "in": "path",
            "name": "shelf",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO-3166-1 code to override the IP-based location.",
            "in": "query",
            "name": "country",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of results to return",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Restrict information returned to a set of selected fields.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "PROJECTION_UNDEFINED",
                "FULL",
                "LITE"
              ],
              "type": "string"
            }
          },
          {
            "description": "Full-text search query string in this bookshelf.",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set to true to show pre-ordered books. Defaults to false.",
            "in": "query",
            "name": "showPreorders",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Index of the first element to return (starts at 0)",
            "in": "query",
            "name": "startIndex",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volumes"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/books/v1/mylibrary/readingpositions/{volumeId}": {
      "get": {
        "description": "Retrieves my reading position information for a volume.",
        "operationId": "books.mylibrary.readingpositions.get",
        "parameters": [
          {
            "description": "ID of volume for which to retrieve a reading position.",
            "in": "path",
            "name": "volumeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Volume content version for which this reading position is requested.",
            "in": "query",
            "name": "contentVersion",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadingPosition"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/books/v1/mylibrary/readingpositions/{volumeId}/setPosition": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Sets my reading position information for a volume.",
        "operationId": "books.mylibrary.readingpositions.setPosition",
        "parameters": [
          {
            "description": "ID of volume for which to update the reading position.",
            "in": "path",
            "name": "volumeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Position string for the new volume reading position.",
            "in": "query",
            "name": "position",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "RFC 3339 UTC format timestamp associated with this reading position.",
            "in": "query",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Action that caused this reading position to be set.",
            "in": "query",
            "name": "action",
            "schema": {
              "enum": [
                "ACTION_UNDEFINED",
                "bookmark",
                "chapter",
                "next-page",
                "prev-page",
                "scroll",
                "search"
              ],
              "type": "string"
            }
          },
          {
            "description": "Volume content version for which this reading position applies.",
            "in": "query",
            "name": "contentVersion",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Random persistent device cookie optional on set position.",
            "in": "query",
            "name": "deviceCookie",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      }
    },
    "/books/v1/notification/get": {
      "get": {
        "description": "Returns notification details for a given notification id.",
        "operationId": "books.notification.get",
        "parameters": [
          {
            "description": "String to identify the notification.",
            "in": "query",
            "name": "notification_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating notification title and body.",
            "in": "query",
            "name": "locale",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Notification"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "notification"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/books/v1/onboarding/listCategories": {
      "get": {
        "description": "List categories for onboarding experience.",
        "operationId": "books.onboarding.listCategories",
        "parameters": [
          {
            "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.",
            "in": "query",
            "name": "locale",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "onboarding"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/books/v1/onboarding/listCategoryVolumes": {
      "get": {
        "description": "List available volumes under categories for onboarding experience.",
        "operationId": "books.onboarding.listCategoryVolumes",
        "parameters": [
          {
            "description": "List of category ids requested.",
            "explode": true,
            "in": "query",
            "name": "categoryId",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.",
            "in": "query",
            "name": "locale",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum allowed maturity rating of returned volumes. Books with a higher maturity rating are filtered out.",
            "in": "query",
            "name": "maxAllowedMaturityRating",
            "schema": {
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ],
              "type": "string"
            }
          },
          {
            "description": "Number of maximum results per page to be included in the response.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The value of the nextToken from the previous page.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volume2"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "onboarding"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/books/v1/personalizedstream/get": {
      "get": {
        "description": "Returns a stream of personalized book clusters",
        "operationId": "books.personalizedstream.get",
        "parameters": [
          {
            "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
            "in": "query",
            "name": "locale",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
            "in": "query",
            "name": "maxAllowedMaturityRating",
            "schema": {
              "enum": [
                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                "MATURE",
                "not-mature"
              ],
              "type": "string"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Discoveryclusters"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "personalizedstream"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/books/v1/promooffer/accept": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Accepts the promo offer.",
        "operationId": "books.promooffer.accept",
        "parameters": [
          {
            "description": "device android_id",
            "in": "query",
            "name": "androidId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "device device",
            "in": "query",
            "name": "device",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "device manufacturer",
            "in": "query",
            "name": "manufacturer",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "device model",
            "in": "query",
            "name": "model",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "offerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "device product",
            "in": "query",
            "name": "product",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "device serial",
            "in": "query",
            "name": "serial",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Volume id to exercise the offer",
            "in": "query",
            "name": "volumeId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "promooffer"
        ]
      }
    },
    "/books/v1/promooffer/dismiss": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Marks the promo offer as dismissed.",
        "operationId": "books.promooffer.dismiss",
        "parameters": [
          {
            "description": "device android_id",
            "in": "query",
            "name": "androidId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "device device",
            "in": "query",
            "name": "device",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "device manufacturer",
            "in": "query",
            "name": "manufacturer",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "device model",
            "in": "query",
            "name": "model",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Offer to dimiss",
            "in": "query",
            "name": "offerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "device product",
            "in": "query",
            "name": "product",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "device serial",
            "in": "query",
            "name": "serial",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "promooffer"
        ]
      }
    },
    "/books/v1/promooffer/get": {
      "get": {
        "description": "Returns a list of promo offers available to the user",
        "operationId": "books.promooffer.get",
        "parameters": [
          {
            "description": "device android_id",
            "in": "query",
            "name": "androidId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "device device",
            "in": "query",
            "name": "device",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "device manufacturer",
            "in": "query",
            "name": "manufacturer",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "device model",
            "in": "query",
            "name": "model",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "device product",
            "in": "query",
            "name": "product",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "device serial",
            "in": "query",
            "name": "serial",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offers"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "promooffer"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/books/v1/series/get": {
      "get": {
        "description": "Returns Series metadata for the given series ids.",
        "operationId": "books.series.get",
        "parameters": [
          {
            "description": "String that identifies the series",
            "explode": true,
            "in": "query",
            "name": "series_id",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Series"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "series"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/books/v1/series/membership/get": {
      "get": {
        "description": "Returns Series membership data given the series id.",
        "operationId": "books.series.membership.get",
        "parameters": [
          {
            "description": "String that identifies the series",
            "in": "query",
            "name": "series_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of maximum results per page to be included in the response.",
            "in": "query",
            "name": "page_size",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The value of the nextToken from the previous page.",
            "in": "query",
            "name": "page_token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Seriesmembership"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "series"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/books/v1/users/{userId}/bookshelves": {
      "get": {
        "description": "Retrieves a list of public bookshelves for the specified user.",
        "operationId": "books.bookshelves.list",
        "parameters": [
          {
            "description": "ID of user for whom to retrieve bookshelves.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bookshelves"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "bookshelves"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/books/v1/users/{userId}/bookshelves/{shelf}": {
      "get": {
        "description": "Retrieves metadata for a specific bookshelf for the specified user.",
        "operationId": "books.bookshelves.get",
        "parameters": [
          {
            "description": "ID of user for whom to retrieve bookshelves.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of bookshelf to retrieve.",
            "in": "path",
            "name": "shelf",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bookshelf"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "bookshelves"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/books/v1/users/{userId}/bookshelves/{shelf}/volumes": {
      "get": {
        "description": "Retrieves volumes in a specific bookshelf for the specified user.",
        "operationId": "books.bookshelves.volumes.list",
        "parameters": [
          {
            "description": "ID of user for whom to retrieve bookshelf volumes.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of bookshelf to retrieve volumes.",
            "in": "path",
            "name": "shelf",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of results to return",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Set to true to show pre-ordered books. Defaults to false.",
            "in": "query",
            "name": "showPreorders",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "String to identify the originator of this request.",
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Index of the first element to return (starts at 0)",
            "in": "query",
            "name": "startIndex",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volumes"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "bookshelves"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
[...]
