openapi: 3.0.0
servers:
  - url: 'http://www.omdbapi.com/'
  - url: 'https://www.omdbapi.com/'
info:
  contact:
    email: bfritz@fadingsignal.com
    name: Open Movie Database
    url: 'http://omdbapi.com'
  description: 'The Open Movie Database. The OMDb API is a free web service to obtain movie information, all content and images on the site are contributed and maintained by our users.'
  license:
    name: CC BY-NC 4.0
    url: 'https://creativecommons.org/licenses/by-nc/4.0/'
  termsOfService: 'http://www.omdbapi.com/legal.htm'
  title: OMDb
  version: '1'
  x-apisguru-categories:
    - media
    - open_data
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'http://raw.githubusercontent.com/Mermade/open_api_specifications/master/OMDb/OMDb.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Mermade/open_api_specifications/master/OMDb/swagger.json'
      version: '2.0'
  x-providerName: omdbapi.com
  x-unofficialSpec: true
externalDocs:
  description: OMDb Usage
  url: 'http://www.omdbapi.com/#usage'
paths:
  /:
    get:
      description: 'Find a movie, series or episode from the OMDb by title, IMDb-id or by free-text search'
      operationId: Get_OMDb Search
      parameters:
        - description: 'Movie title to search for. One of t, i or s is required.'
          in: query
          name: t
          required: false
          schema:
            type: string
        - description: 'A valid IMDb ID (e.g. tt1285016). One of t, i or s is required.'
          in: query
          name: i
          required: false
          schema:
            type: string
        - description: 'Movie title to search for. One of t, i or s is required.'
          in: query
          name: s
          required: false
          schema:
            type: string
        - description: Year of release.
          in: query
          name: 'y'
          required: false
          schema:
            type: integer
        - description: Type of result to return.
          in: query
          name: type
          required: false
          schema:
            type: string
            enum:
              - movie
              - series
              - episode
        - description: Return short or full plot.
          in: query
          name: plot
          required: false
          schema:
            type: string
            enum:
              - short
              - full
            default: short
        - description: Include Rotten Tomatoes ratings.
          in: query
          name: tomatoes
          required: false
          schema:
            type: boolean
            default: false
        - description: The data type to return.
          in: query
          name: r
          required: true
          schema:
            type: string
            enum:
              - json
              - xml
            default: json
        - description: API version (reserved for future use).
          in: query
          name: v
          required: false
          schema:
            type: integer
            default: 1
        - description: Page number to return.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
            default: 1
        - description: JSONP callback name.
          in: query
          name: callback
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/combinedResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/combinedResult'
      security: []
      summary: OMDb Search
components:
  schemas:
    combinedResult:
      properties:
        Actors:
          type: string
        Awards:
          type: string
        BoxOffice:
          type: string
        Country:
          type: string
        DVD:
          type: string
        Director:
          type: string
        Genre:
          type: string
        Language:
          type: string
        Metascore:
          type: string
        Plot:
          type: string
        Poster:
          type: string
        Production:
          type: string
        Rated:
          type: string
        Released:
          type: string
        Response:
          type: string
        Runtime:
          type: string
        Search:
          items:
            properties:
              Poster:
                type: string
              Title:
                type: string
              Type:
                type: string
              Year:
                type: string
              imdbID:
                type: string
            required:
              - Title
              - Year
              - imdbID
              - Type
              - Poster
            type: object
          type: array
        Title:
          type: string
        Type:
          type: string
        Website:
          type: string
        Writer:
          type: string
        Year:
          type: string
        imdbID:
          type: string
        imdbRating:
          type: string
        imdbVotes:
          type: string
        tomatoConsensus:
          type: string
        tomatoFresh:
          type: string
        tomatoImage:
          type: string
        tomatoMeter:
          type: string
        tomatoRating:
          type: string
        tomatoReviews:
          type: string
        tomatoRotten:
          type: string
        tomatoURL:
          type: string
        tomatoUserMeter:
          type: string
        tomatoUserRating:
          type: string
        tomatoUserReviews:
          type: string
        totalResults:
          type: string
        totalSeasons:
          type: string
      required:
        - Response
      type: object
