{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://azure-api.sportsdata.io/golf/v2"
    },
    {
      "url": "https://azure-api.sportsdata.io/golf/v2"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "title": "Golf v2",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/golf-v2.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "sportsdata.io",
    "x-serviceName": "golf-v2"
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/{format}/CurrentSeason": {
      "get": {
        "operationId": "CurrentSeason",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Season"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Current Season"
      }
    },
    "/{format}/DfsSlatesByTournament/{tournamentid}": {
      "get": {
        "operationId": "DfsSlates",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>, etc.",
            "in": "path",
            "name": "tournamentid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DfsSlate"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "DFS Slates"
      }
    },
    "/{format}/Injuries": {
      "get": {
        "operationId": "Injuries",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Injury"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Injuries"
      }
    },
    "/{format}/InjuriesByHistorical": {
      "get": {
        "operationId": "InjuriesHistorical",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Injury"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Injuries (Historical)"
      }
    },
    "/{format}/Leaderboard/{tournamentid}": {
      "get": {
        "operationId": "Leaderboard",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>, etc.",
            "in": "path",
            "name": "tournamentid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Leaderboard"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Leaderboard"
      }
    },
    "/{format}/News": {
      "get": {
        "operationId": "News",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/News"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "News"
      }
    },
    "/{format}/NewsByDate/{date}": {
      "get": {
        "operationId": "NewsByDate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/News"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "News by Date"
      }
    },
    "/{format}/NewsByPlayerID/{playerid}": {
      "get": {
        "operationId": "NewsByPlayer",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Player ID.\nExample:<code>40000019</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/News"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "News by Player"
      }
    },
    "/{format}/Player/{playerid}": {
      "get": {
        "operationId": "Player",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Player ID.\nExample:<code>40000019</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Player"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Player"
      }
    },
    "/{format}/PlayerSeasonStats/{season}": {
      "get": {
        "operationId": "PlayerSeasonStatsWWorldGolfRankings",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season.\n<br>Examples: <code>2016</code>, <code>2017</code>.",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PlayerSeason"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Player Season Stats (w/ World Golf Rankings)"
      }
    },
    "/{format}/PlayerTournamentProjectionStats/{tournamentid}": {
      "get": {
        "operationId": "PlayerTournamentProjectedStatsWDraftkingsSalaries",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>78</code>, <code>79</code>, <code>80</code>, etc.",
            "in": "path",
            "name": "tournamentid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PlayerTournamentProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Player Tournament Projected Stats (w/ DraftKings Salaries)"
      }
    },
    "/{format}/PlayerTournamentStatsByPlayer/{tournamentid}/{playerid}": {
      "get": {
        "operationId": "PlayerTournamentStatsByPlayer",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>, etc.",
            "in": "path",
            "name": "tournamentid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Player ID.\nExample:<code>40000019</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerTournament"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Player Tournament Stats By Player"
      }
    },
    "/{format}/Players": {
      "get": {
        "operationId": "Players",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Players"
      }
    },
    "/{format}/Tournaments": {
      "get": {
        "operationId": "Schedule",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tournament"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Schedule"
      }
    },
    "/{format}/Tournaments/{season}": {
      "get": {
        "operationId": "ScheduleBySeason",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season.\n<br>Examples: <code>2016</code>, <code>2017</code>.",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tournament"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Schedule by Season"
      }
    }
  },
  "components": {
    "schemas": {
      "DfsSlate": {
        "properties": {
          "DfsSlatePlayers": {
            "items": {
              "$ref": "#/components/schemas/DfsSlatePlayer"
            },
            "type": "array"
          },
          "DfsSlateTournaments": {
            "items": {
              "$ref": "#/components/schemas/DfsSlateTournament"
            },
            "type": "array"
          },
          "IsMultiDaySlate": {
            "nullable": true,
            "type": "boolean"
          },
          "NumberOfTournaments": {
            "nullable": true,
            "type": "integer"
          },
          "Operator": {
            "nullable": true,
            "type": "string"
          },
          "OperatorDay": {
            "nullable": true,
            "type": "string"
          },
          "OperatorGameType": {
            "nullable": true,
            "type": "string"
          },
          "OperatorName": {
            "nullable": true,
            "type": "string"
          },
          "OperatorSlateID": {
            "nullable": true,
            "type": "integer"
          },
          "OperatorStartTime": {
            "nullable": true,
            "type": "string"
          },
          "RemovedByOperator": {
            "nullable": true,
            "type": "boolean"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          },
          "SlateRosterSlots": {
            "items": {
              "nullable": true,
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "DfsSlatePlayer": {
        "properties": {
          "OperatorPlayerID": {
            "nullable": true,
            "type": "string"
          },
          "OperatorPlayerName": {
            "nullable": true,
            "type": "string"
          },
          "OperatorPosition": {
            "nullable": true,
            "type": "string"
          },
          "OperatorRosterSlots": {
            "items": {
              "nullable": true,
              "type": "string"
            },
            "type": "array"
          },
          "OperatorSalary": {
            "nullable": true,
            "type": "integer"
          },
          "OperatorSlatePlayerID": {
            "nullable": true,
            "type": "string"
          },
          "PlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "PlayerTournamentProjectionID": {
            "nullable": true,
            "type": "integer"
          },
          "RemovedByOperator": {
            "nullable": true,
            "type": "boolean"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          },
          "SlatePlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "SlateTournamentID": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "DfsSlateTournament": {
        "properties": {
          "OperatorTournamentID": {
            "nullable": true,
            "type": "integer"
          },
          "RemovedByOperator": {
            "nullable": true,
            "type": "boolean"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          },
          "SlateTournamentID": {
            "nullable": false,
            "type": "integer"
          },
          "Tournament": {
            "$ref": "#/components/schemas/Tournament"
          },
          "TournamentID": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "Injury": {
        "properties": {
          "Active": {
            "nullable": false,
            "type": "boolean"
          },
          "BodyPart": {
            "nullable": true,
            "type": "string"
          },
          "ExpectedReturn": {
            "nullable": true,
            "type": "string"
          },
          "InjuryID": {
            "nullable": false,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "PlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "StartDate": {
            "nullable": true,
            "type": "string"
          },
          "Status": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Leaderboard": {
        "properties": {
          "Players": {
            "items": {
              "$ref": "#/components/schemas/PlayerTournament"
            },
            "type": "array"
          },
          "Tournament": {
            "$ref": "#/components/schemas/Tournament"
          }
        }
      },
      "News": {
        "properties": {
          "Author": {
            "nullable": true,
            "type": "string"
          },
          "Categories": {
            "nullable": true,
            "type": "string"
          },
          "Content": {
            "nullable": true,
            "type": "string"
          },
          "NewsID": {
            "nullable": false,
            "type": "integer"
          },
          "OriginalSource": {
            "nullable": true,
            "type": "string"
          },
          "OriginalSourceUrl": {
            "nullable": true,
            "type": "string"
          },
          "PlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "Source": {
            "nullable": true,
            "type": "string"
          },
          "TermsOfUse": {
            "nullable": true,
            "type": "string"
          },
          "Title": {
            "nullable": true,
            "type": "string"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "Url": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Player": {
        "properties": {
          "BirthCity": {
            "nullable": true,
            "type": "string"
          },
          "BirthDate": {
            "nullable": true,
            "type": "string"
          },
          "BirthState": {
            "nullable": true,
            "type": "string"
          },
          "College": {
            "nullable": true,
            "type": "string"
          },
          "Country": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsName": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "FanDuelName": {
            "nullable": true,
            "type": "string"
          },
          "FanDuelPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyAlarmPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyDraftName": {
            "nullable": true,
            "type": "string"
          },
          "FantasyDraftPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "FirstName": {
            "nullable": true,
            "type": "string"
          },
          "LastName": {
            "nullable": true,
            "type": "string"
          },
          "PgaDebut": {
            "nullable": true,
            "type": "integer"
          },
          "PgaTourPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "PhotoUrl": {
            "nullable": true,
            "type": "string"
          },
          "PlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "RotoWirePlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "RotoworldPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "SportRadarPlayerID": {
            "nullable": true,
            "type": "string"
          },
          "Swings": {
            "nullable": true,
            "type": "string"
          },
          "Weight": {
            "nullable": true,
            "type": "integer"
          },
          "YahooPlayerID": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "PlayerHole": {
        "properties": {
          "Birdie": {
            "nullable": false,
            "type": "boolean"
          },
          "Bogey": {
            "nullable": false,
            "type": "boolean"
          },
          "DoubleBogey": {
            "nullable": false,
            "type": "boolean"
          },
          "DoubleEagle": {
            "nullable": false,
            "type": "boolean"
          },
          "Eagle": {
            "nullable": false,
            "type": "boolean"
          },
          "HoleInOne": {
            "nullable": false,
            "type": "boolean"
          },
          "IsPar": {
            "nullable": false,
            "type": "boolean"
          },
          "Number": {
            "nullable": true,
            "type": "integer"
          },
          "Par": {
            "nullable": true,
            "type": "integer"
          },
          "PlayerRoundID": {
            "nullable": false,
            "type": "integer"
          },
          "Score": {
            "nullable": true,
            "type": "integer"
          },
          "ToPar": {
            "nullable": true,
            "type": "integer"
          },
          "WorseThanDoubleBogey": {
            "nullable": false,
            "type": "boolean"
          }
        }
      },
      "PlayerRound": {
        "properties": {
          "BackNineStart": {
            "nullable": true,
            "type": "boolean"
          },
          "Birdies": {
            "nullable": true,
            "type": "integer"
          },
          "BogeyFree": {
            "nullable": false,
            "type": "boolean"
          },
          "Bogeys": {
            "nullable": true,
            "type": "integer"
          },
          "BounceBackCount": {
            "nullable": true,
            "type": "number"
          },
          "ConsecutiveBirdieOrBetterCount": {
            "nullable": true,
            "type": "number"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "DoubleBogeys": {
            "nullable": true,
            "type": "integer"
          },
          "DoubleEagles": {
            "nullable": true,
            "type": "integer"
          },
          "Eagles": {
            "nullable": true,
            "type": "integer"
          },
          "HoleInOnes": {
            "nullable": true,
            "type": "integer"
          },
          "Holes": {
            "items": {
              "$ref": "#/components/schemas/PlayerHole"
            },
            "type": "array"
          },
          "IncludesFiveOrMoreBirdiesOrBetter": {
            "nullable": false,
            "type": "boolean"
          },
          "IncludesStreakOfFiveBirdiesOrBetter": {
            "nullable": false,
            "type": "boolean"
          },
          "IncludesStreakOfFourBirdiesOrBetter": {
            "nullable": false,
            "type": "boolean"
          },
          "IncludesStreakOfSixBirdiesOrBetter": {
            "nullable": false,
            "type": "boolean"
          },
          "IncludesStreakOfThreeBirdiesOrBetter": {
            "nullable": false,
            "type": "boolean"
          },
          "LongestBirdieOrBetterStreak": {
            "nullable": true,
            "type": "number"
          },
          "Number": {
            "nullable": true,
            "type": "integer"
          },
          "Par": {
            "nullable": true,
            "type": "integer"
          },
          "Pars": {
            "nullable": true,
            "type": "integer"
          },
          "PlayerRoundID": {
            "nullable": false,
            "type": "integer"
          },
          "PlayerTournamentID": {
            "nullable": false,
            "type": "integer"
          },
          "Score": {
            "nullable": true,
            "type": "integer"
          },
          "TeeTime": {
            "nullable": true,
            "type": "string"
          },
          "TripleBogeys": {
            "nullable": true,
            "type": "integer"
          },
          "WorseThanDoubleBogey": {
            "nullable": true,
            "type": "integer"
          },
          "WorseThanTripleBogey": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "PlayerSeason": {
        "properties": {
          "AveragePoints": {
            "nullable": true,
            "type": "number"
          },
          "Events": {
            "nullable": true,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "PlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "PlayerSeasonID": {
            "nullable": false,
            "type": "integer"
          },
          "PointsGained": {
            "nullable": true,
            "type": "number"
          },
          "PointsLost": {
            "nullable": true,
            "type": "number"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "TotalPoints": {
            "nullable": true,
            "type": "number"
          },
          "WorldGolfRank": {
            "nullable": true,
            "type": "integer"
          },
          "WorldGolfRankLastWeek": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "PlayerTournament": {
        "properties": {
          "Birdies": {
            "nullable": true,
            "type": "number"
          },
          "BogeyFreeRounds": {
            "nullable": true,
            "type": "number"
          },
          "Bogeys": {
            "nullable": true,
            "type": "number"
          },
          "BounceBackCount": {
            "nullable": true,
            "type": "number"
          },
          "ConsecutiveBirdieOrBetterCount": {
            "nullable": true,
            "type": "number"
          },
          "Country": {
            "nullable": true,
            "type": "string"
          },
          "DoubleBogeys": {
            "nullable": true,
            "type": "number"
          },
          "DoubleEagles": {
            "nullable": true,
            "type": "number"
          },
          "DraftKingsSalary": {
            "nullable": true,
            "type": "integer"
          },
          "Eagles": {
            "nullable": true,
            "type": "number"
          },
          "Earnings": {
            "nullable": true,
            "type": "number"
          },
          "FanDuelSalary": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyDraftSalary": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsDraftKings": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFanDuel": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFantasyDraft": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsYahoo": {
            "nullable": true,
            "type": "number"
          },
          "FedExPoints": {
            "nullable": true,
            "type": "integer"
          },
          "HoleInOnes": {
            "nullable": true,
            "type": "number"
          },
          "IsAlternate": {
            "nullable": true,
            "type": "boolean"
          },
          "IsWithdrawn": {
            "nullable": false,
            "type": "boolean"
          },
          "MadeCut": {
            "nullable": true,
            "type": "number"
          },
          "MadeCutDidNotFinish": {
            "nullable": true,
            "type": "boolean"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "OddsToWin": {
            "nullable": true,
            "type": "number"
          },
          "OddsToWinDescription": {
            "nullable": true,
            "type": "string"
          },
          "Pars": {
            "nullable": true,
            "type": "number"
          },
          "PlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "PlayerTournamentID": {
            "nullable": false,
            "type": "integer"
          },
          "Rank": {
            "nullable": true,
            "type": "integer"
          },
          "Rounds": {
            "items": {
              "$ref": "#/components/schemas/PlayerRound"
            },
            "type": "array"
          },
          "RoundsUnderSeventy": {
            "nullable": true,
            "type": "number"
          },
          "RoundsWithFiveOrMoreBirdiesOrBetter": {
            "nullable": true,
            "type": "number"
          },
          "StreaksOfFiveBirdiesOrBetter": {
            "nullable": true,
            "type": "number"
          },
          "StreaksOfFourBirdiesOrBetter": {
            "nullable": true,
            "type": "number"
          },
          "StreaksOfSixBirdiesOrBetter": {
            "nullable": true,
            "type": "number"
          },
          "StreaksOfThreeBirdiesOrBetter": {
            "nullable": true,
            "type": "number"
          },
          "TeeTime": {
            "nullable": true,
            "type": "string"
          },
          "TotalScore": {
            "nullable": true,
            "type": "number"
          },
          "TotalStrokes": {
            "nullable": true,
            "type": "number"
          },
          "TotalThrough": {
            "nullable": true,
            "type": "integer"
          },
          "TournamentID": {
            "nullable": false,
            "type": "integer"
          },
          "TournamentStatus": {
            "nullable": true,
            "type": "string"
          },
          "TripleBogeys": {
            "nullable": true,
            "type": "number"
          },
          "Win": {
            "nullable": true,
            "type": "number"
          },
          "WorseThanDoubleBogey": {
            "nullable": true,
            "type": "number"
          },
          "WorseThanTripleBogey": {
            "nullable": true,
            "type": "number"
          }
        }
      },
      "PlayerTournamentProjection": {
        "properties": {
          "Birdies": {
            "nullable": true,
            "type": "number"
          },
          "BogeyFreeRounds": {
            "nullable": true,
            "type": "number"
          },
          "Bogeys": {
            "nullable": true,
            "type": "number"
          },
          "BounceBackCount": {
            "nullable": true,
            "type": "number"
          },
          "ConsecutiveBirdieOrBetterCount": {
            "nullable": true,
            "type": "number"
          },
          "Country": {
            "nullable": true,
            "type": "string"
          },
          "DoubleBogeys": {
            "nullable": true,
            "type": "number"
          },
          "DoubleEagles": {
            "nullable": true,
            "type": "number"
          },
          "DraftKingsSalary": {
            "nullable": true,
            "type": "integer"
          },
          "Eagles": {
            "nullable": true,
            "type": "number"
          },
          "Earnings": {
            "nullable": true,
            "type": "number"
          },
          "FanDuelSalary": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyDraftSalary": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsDraftKings": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFanDuel": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFantasyDraft": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsYahoo": {
            "nullable": true,
            "type": "number"
          },
          "FedExPoints": {
            "nullable": true,
            "type": "integer"
          },
          "HoleInOnes": {
            "nullable": true,
            "type": "number"
          },
          "IsAlternate": {
            "nullable": true,
            "type": "boolean"
          },
          "IsWithdrawn": {
            "nullable": false,
            "type": "boolean"
          },
          "MadeCut": {
            "nullable": true,
            "type": "number"
          },
          "MadeCutDidNotFinish": {
            "nullable": true,
            "type": "boolean"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "OddsToWin": {
            "nullable": true,
            "type": "number"
          },
          "OddsToWinDescription": {
            "nullable": true,
            "type": "string"
          },
          "Pars": {
            "nullable": true,
            "type": "number"
          },
          "PlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "PlayerTournamentID": {
            "nullable": false,
            "type": "integer"
          },
          "Rank": {
            "nullable": true,
            "type": "integer"
          },
          "Rounds": {
            "items": {
              "$ref": "#/components/schemas/PlayerRound"
            },
            "type": "array"
          },
          "RoundsUnderSeventy": {
            "nullable": true,
            "type": "number"
          },
          "RoundsWithFiveOrMoreBirdiesOrBetter": {
            "nullable": true,
            "type": "number"
          },
          "StreaksOfFiveBirdiesOrBetter": {
            "nullable": true,
            "type": "number"
          },
          "StreaksOfFourBirdiesOrBetter": {
            "nullable": true,
            "type": "number"
          },
          "StreaksOfSixBirdiesOrBetter": {
            "nullable": true,
            "type": "number"
          },
          "StreaksOfThreeBirdiesOrBetter": {
            "nullable": true,
            "type": "number"
          },
          "TeeTime": {
            "nullable": true,
            "type": "string"
          },
          "TotalScore": {
            "nullable": true,
            "type": "number"
          },
          "TotalStrokes": {
            "nullable": true,
            "type": "number"
          },
          "TotalThrough": {
            "nullable": true,
            "type": "integer"
          },
          "TournamentID": {
            "nullable": false,
            "type": "integer"
          },
          "TournamentStatus": {
            "nullable": true,
            "type": "string"
          },
          "TripleBogeys": {
            "nullable": true,
            "type": "number"
          },
          "Win": {
            "nullable": true,
            "type": "number"
          },
          "WorseThanDoubleBogey": {
            "nullable": true,
            "type": "number"
          },
          "WorseThanTripleBogey": {
            "nullable": true,
            "type": "number"
          }
        }
      },
      "Round": {
        "properties": {
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "Number": {
            "nullable": true,
            "type": "integer"
          },
          "RoundID": {
            "nullable": false,
            "type": "integer"
          },
          "TournamentID": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "Season": {
        "properties": {
          "Description": {
            "nullable": true,
            "type": "string"
          },
          "EndDate": {
            "nullable": true,
            "type": "string"
          },
          "SeasonID": {
            "nullable": false,
            "type": "integer"
          },
          "StartDate": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Tournament": {
        "properties": {
          "Canceled": {
            "nullable": true,
            "type": "boolean"
          },
          "City": {
            "nullable": true,
            "type": "string"
          },
          "Country": {
            "nullable": true,
            "type": "string"
          },
          "Covered": {
            "nullable": true,
            "type": "boolean"
          },
          "EndDate": {
            "nullable": true,
            "type": "string"
          },
          "Format": {
            "nullable": true,
            "type": "string"
          },
          "IsInProgress": {
            "nullable": false,
            "type": "boolean"
          },
          "IsOver": {
            "nullable": false,
            "type": "boolean"
          },
          "Location": {
            "nullable": true,
            "type": "string"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Par": {
            "nullable": true,
            "type": "integer"
          },
          "Purse": {
            "nullable": true,
            "type": "number"
          },
          "Rounds": {
            "items": {
              "$ref": "#/components/schemas/Round"
            },
            "type": "array"
          },
          "SportRadarTournamentID": {
            "nullable": true,
            "type": "string"
          },
          "StartDate": {
            "nullable": true,
            "type": "string"
          },
          "StartDateTime": {
            "nullable": true,
            "type": "string"
          },
          "State": {
            "nullable": true,
            "type": "string"
          },
          "TimeZone": {
            "nullable": true,
            "type": "string"
          },
          "TournamentID": {
            "nullable": false,
            "type": "integer"
          },
          "Venue": {
            "nullable": true,
            "type": "string"
          },
          "Yards": {
            "nullable": true,
            "type": "integer"
          },
          "ZipCode": {
            "nullable": true,
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "type": "apiKey"
      },
      "apiKeyQuery": {
        "in": "query",
        "name": "key",
        "type": "apiKey"
      }
    }
  }
}