openapi: 3.0.0
servers:
  - url: https://datalabeling.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Public API for Google Cloud AI Data Labeling Service.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Data Labeling API
  version: v1beta1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: openapi
      url: https://datalabeling.googleapis.com/$discovery/rest?version=v1beta1
      version: "3.0"
  x-providerName: googleapis.com
  x-serviceName: datalabeling
externalDocs:
  url: https://cloud.google.com/data-labeling/docs/
tags:
  - name: projects
paths:
  "/v1beta1/{name}":
    delete:
      description: Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.
      operationId: datalabeling.projects.operations.delete
      parameters:
        - description: The name of the operation resource to be deleted.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleProtobufEmpty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.
      operationId: datalabeling.projects.operations.get
      parameters:
        - description: The name of the operation resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Optional. An expression for filtering Examples. Filter by annotation_spec.display_name is supported. Format "annotation_spec.display_name = {display_name}"
          in: query
          name: filter
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: "Updates an evaluation job. You can only update certain fields of the job's EvaluationJobConfig: `humanAnnotationConfig.instruction`, `exampleCount`, and `exampleSamplePercentage`. If you want to change any other aspect of the evaluation job, you must delete the job and create a new one."
      operationId: datalabeling.projects.evaluationJobs.patch
      parameters:
        - description: 'Output only. After you create a job, Data Labeling Service assigns a name to the job with the following format: "projects/{project_id}/evaluationJobs/ {evaluation_job_id}"'
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: "Optional. Mask for which fields to update. You can only provide the following fields: * `evaluationJobConfig.humanAnnotationConfig.instruction` * `evaluationJobConfig.exampleCount` * `evaluationJobConfig.exampleSamplePercentage` You can provide more than one of these fields by separating them with commas."
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1EvaluationJob"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1EvaluationJob"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{name}/operations":
    get:
      description: "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
      operationId: datalabeling.projects.operations.list
      parameters:
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningListOperationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1beta1/{name}:cancel":
    get:
      description: Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.
      operationId: datalabeling.projects.operations.cancel
      parameters:
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleProtobufEmpty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1beta1/{name}:exportData":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Exports data and annotations from dataset.
      operationId: datalabeling.projects.datasets.exportData
      parameters:
        - description: "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ExportDataRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{name}:importData":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Imports data into dataset based on source locations defined in request. It can be called multiple times for the same dataset. Each dataset can only have one long running operation running on it. For example, no labeling task (also long running operation) can be started while importing is still ongoing. Vice versa.
      operationId: datalabeling.projects.datasets.importData
      parameters:
        - description: "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ImportDataRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{name}:pause":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Pauses an evaluation job. Pausing an evaluation job that is already in a `PAUSED` state is a no-op.
      operationId: datalabeling.projects.evaluationJobs.pause
      parameters:
        - description: 'Required. Name of the evaluation job that is going to be paused. Format: "projects/{project_id}/evaluationJobs/{evaluation_job_id}"'
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1PauseEvaluationJobRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleProtobufEmpty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{name}:resume":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Resumes a paused evaluation job. A deleted evaluation job can't be resumed. Resuming a running or scheduled evaluation job is a no-op.
      operationId: datalabeling.projects.evaluationJobs.resume
      parameters:
        - description: 'Required. Name of the evaluation job that is going to be resumed. Format: "projects/{project_id}/evaluationJobs/{evaluation_job_id}"'
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ResumeEvaluationJobRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleProtobufEmpty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{parent}/annotatedDatasets":
    get:
      description: Lists annotated datasets for a dataset. Pagination is supported.
      operationId: datalabeling.projects.datasets.annotatedDatasets.list
      parameters:
        - description: "Required. Name of the dataset to list annotated datasets, format: projects/{project_id}/datasets/{dataset_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Filter is not supported at this moment.
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. Requested page size. Server may return fewer results than requested. Default value is 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotatedDatasetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotatedDatasets] call. Return first page if empty.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ListAnnotatedDatasetsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1beta1/{parent}/annotationSpecSets":
    get:
      description: Lists annotation spec sets for a project. Pagination is supported.
      operationId: datalabeling.projects.annotationSpecSets.list
      parameters:
        - description: "Required. Parent of AnnotationSpecSet resource, format: projects/{project_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Filter is not supported at this moment.
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. Requested page size. Server may return fewer results than requested. Default value is 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotationSpecSetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotationSpecSets] call. Return first page if empty.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ListAnnotationSpecSetsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an annotation spec set by providing a set of labels.
      operationId: datalabeling.projects.annotationSpecSets.create
      parameters:
        - description: "Required. AnnotationSpecSet resource parent, format: projects/{project_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1CreateAnnotationSpecSetRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{parent}/dataItems":
    get:
      description: Lists data items in a dataset. This API can be called after data are imported into dataset. Pagination is supported.
      operationId: datalabeling.projects.datasets.dataItems.list
      parameters:
        - description: "Required. Name of the dataset to list data items, format: projects/{project_id}/datasets/{dataset_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Filter is not supported at this moment.
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. Requested page size. Server may return fewer results than requested. Default value is 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A token identifying a page of results for the server to return. Typically obtained by ListDataItemsResponse.next_page_token of the previous [DataLabelingService.ListDataItems] call. Return first page if empty.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ListDataItemsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1beta1/{parent}/datasets":
    get:
      description: Lists datasets under a project. Pagination is supported.
      operationId: datalabeling.projects.datasets.list
      parameters:
        - description: "Required. Dataset resource parent, format: projects/{project_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Filter on dataset is not supported at this moment.
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. Requested page size. Server may return fewer results than requested. Default value is 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A token identifying a page of results for the server to return. Typically obtained by ListDatasetsResponse.next_page_token of the previous [DataLabelingService.ListDatasets] call. Returns the first page if empty.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ListDatasetsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates dataset. If success return a Dataset resource.
      operationId: datalabeling.projects.datasets.create
      parameters:
        - description: "Required. Dataset resource parent, format: projects/{project_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1CreateDatasetRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1Dataset"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{parent}/evaluationJobs":
    get:
      description: Lists all evaluation jobs within a project with possible filters. Pagination is supported.
      operationId: datalabeling.projects.evaluationJobs.list
      parameters:
        - description: 'Required. Evaluation job resource parent. Format: "projects/{project_id}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'Optional. You can filter the jobs to list by model_id (also known as model_name, as described in EvaluationJob.modelVersion) or by evaluation job state (as described in EvaluationJob.state). To filter by both criteria, use the `AND` operator or the `OR` operator. For example, you can use the following string for your filter: "evaluation_job.model_id = {model_name} AND evaluation_job.state = {evaluation_job_state}"'
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. Requested page size. Server may return fewer results than requested. Default value is 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken in the response to the previous request. The request returns the first page if this is empty.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ListEvaluationJobsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an evaluation job.
      operationId: datalabeling.projects.evaluationJobs.create
      parameters:
        - description: 'Required. Evaluation job resource parent. Format: "projects/{project_id}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1EvaluationJob"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{parent}/evaluations:search":
    get:
      description: Searches evaluations within a project.
      operationId: datalabeling.projects.evaluations.search
      parameters:
        - description: 'Required. Evaluation search parent (project ID). Format: "projects/ {project_id}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'Optional. To search evaluations, you can filter by the following: * evaluation_job.evaluation_job_id (the last part of EvaluationJob.name) * evaluation_job.model_id (the {model_name} portion of EvaluationJob.modelVersion) * evaluation_job.evaluation_job_run_time_start (Minimum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.evaluation_job_run_time_end (Maximum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.job_state (EvaluationJob.state) * annotation_spec.display_name (the Evaluation contains a metric for the annotation spec with this displayName) To filter by multiple critiera, use the `AND` operator or the `OR` operator. The following examples shows a string that filters by several critiera: "evaluation_job.evaluation_job_id = {evaluation_job_id} AND evaluation_job.model_id = {model_name} AND evaluation_job.evaluation_job_run_time_start = {timestamp_1} AND evaluation_job.evaluation_job_run_time_end = {timestamp_2} AND annotation_spec.display_name = {display_name}"'
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. Requested page size. Server may return fewer results than requested. Default value is 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken of the response to a previous search request. If you don't specify this field, the API call requests the first page of the search.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1SearchEvaluationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1beta1/{parent}/exampleComparisons:search":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Searches example comparisons from an evaluation. The return format is a list of example comparisons that show ground truth and prediction(s) for a single input. Search by providing an evaluation ID.
      operationId: datalabeling.projects.datasets.evaluations.exampleComparisons.search
      parameters:
        - description: 'Required. Name of the Evaluation resource to search for example comparisons from. Format: "projects/{project_id}/datasets/{dataset_id}/evaluations/ {evaluation_id}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1SearchExampleComparisonsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1SearchExampleComparisonsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{parent}/examples":
    get:
      description: Lists examples in an annotated dataset. Pagination is supported.
      operationId: datalabeling.projects.datasets.annotatedDatasets.examples.list
      parameters:
        - description: Required. Example resource parent.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. An expression for filtering Examples. For annotated datasets that have annotation spec set, filter by annotation_spec.display_name is supported. Format "annotation_spec.display_name = {display_name}"
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. Requested page size. Server may return fewer results than requested. Default value is 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A token identifying a page of results for the server to return. Typically obtained by ListExamplesResponse.next_page_token of the previous [DataLabelingService.ListExamples] call. Return first page if empty.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ListExamplesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1beta1/{parent}/feedbackMessages":
    get:
      description: List FeedbackMessages with pagination.
      operationId: datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.list
      parameters:
        - description: 'Required. FeedbackMessage resource parent. Format: "projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Requested page size. Server may return fewer results than requested. Default value is 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackMessages.next_page_token of the previous [DataLabelingService.ListFeedbackMessages] call. Return first page if empty.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ListFeedbackMessagesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Create a FeedbackMessage object.
      operationId: datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.create
      parameters:
        - description: "Required. FeedbackMessage resource parent, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}."
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1FeedbackMessage"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{parent}/feedbackThreads":
    get:
      description: List FeedbackThreads with pagination.
      operationId: datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.list
      parameters:
        - description: 'Required. FeedbackThread resource parent. Format: "projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}"'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Requested page size. Server may return fewer results than requested. Default value is 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackThreads.next_page_token of the previous [DataLabelingService.ListFeedbackThreads] call. Return first page if empty.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ListFeedbackThreadsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1beta1/{parent}/image:label":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts a labeling task for image. The type of image labeling task is configured by feature in the request.
      operationId: datalabeling.projects.datasets.image.label
      parameters:
        - description: "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1LabelImageRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{parent}/instructions":
    get:
      description: Lists instructions for a project. Pagination is supported.
      operationId: datalabeling.projects.instructions.list
      parameters:
        - description: "Required. Instruction resource parent, format: projects/{project_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Filter is not supported at this moment.
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. Requested page size. Server may return fewer results than requested. Default value is 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A token identifying a page of results for the server to return. Typically obtained by ListInstructionsResponse.next_page_token of the previous [DataLabelingService.ListInstructions] call. Return first page if empty.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ListInstructionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an instruction for how data should be labeled.
      operationId: datalabeling.projects.instructions.create
      parameters:
        - description: "Required. Instruction resource parent, format: projects/{project_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1CreateInstructionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{parent}/text:label":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts a labeling task for text. The type of text labeling task is configured by feature in the request.
      operationId: datalabeling.projects.datasets.text.label
      parameters:
        - description: "Required. Name of the data set to request labeling task, format: projects/{project_id}/datasets/{dataset_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1LabelTextRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta1/{parent}/video:label":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts a labeling task for video. The type of video labeling task is configured by feature in the request.
      operationId: datalabeling.projects.datasets.video.label
      parameters:
        - description: "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1LabelVideoRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    GoogleCloudDatalabelingV1alpha1CreateInstructionMetadata:
      description: Metadata of a CreateInstruction operation.
      properties:
        createTime:
          description: Timestamp when create instruction request was created.
          format: google-datetime
          type: string
        instruction:
          description: The name of the created Instruction. projects/{project_id}/instructions/{instruction_id}
          type: string
        partialFailures:
          description: Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.
          items:
            $ref: "#/components/schemas/GoogleRpcStatus"
          type: array
      type: object
    GoogleCloudDatalabelingV1alpha1ExportDataOperationMetadata:
      description: Metadata of an ExportData operation.
      properties:
        annotatedDataset:
          description: Output only. The name of annotated dataset in format "projects/*/datasets/*/annotatedDatasets/*".
          type: string
        createTime:
          description: Output only. Timestamp when export dataset request was created.
          format: google-datetime
          type: string
        dataset:
          description: Output only. The name of dataset to be exported. "projects/*/datasets/*"
          type: string
        partialFailures:
          description: Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.
          items:
            $ref: "#/components/schemas/GoogleRpcStatus"
          type: array
      type: object
    GoogleCloudDatalabelingV1alpha1ExportDataOperationResponse:
      description: Response used for ExportDataset longrunning operation.
      properties:
        annotatedDataset:
          description: Output only. The name of annotated dataset in format "projects/*/datasets/*/annotatedDatasets/*".
          type: string
        dataset:
          description: Ouptut only. The name of dataset. "projects/*/datasets/*"
          type: string
        exportCount:
          description: Output only. Number of examples exported successfully.
          format: int32
          type: integer
        labelStats:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1LabelStats"
          description: Output only. Statistic infos of labels in the exported dataset.
        outputConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1OutputConfig"
          description: Output only. output_config in the ExportData request.
        totalCount:
          description: Output only. Total number of examples requested to export
          format: int32
          type: integer
      type: object
    GoogleCloudDatalabelingV1alpha1GcsDestination:
      description: Export destination of the data.Only gcs path is allowed in output_uri.
      properties:
        mimeType:
          description: Required. The format of the gcs destination. Only "text/csv" and "application/json" are supported.
          type: string
        outputUri:
          description: Required. The output uri of destination file.
          type: string
      type: object
    GoogleCloudDatalabelingV1alpha1GcsFolderDestination:
      description: Export folder destination of the data.
      properties:
        outputFolderUri:
          description: Required. Cloud Storage directory to export data to.
          type: string
      type: object
    GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig:
      description: Configuration for how human labeling task should be done.
      properties:
        annotatedDatasetDescription:
          description: Optional. A human-readable description for AnnotatedDataset. The description can be up to 10000 characters long.
          type: string
        annotatedDatasetDisplayName:
          description: Required. A human-readable name for AnnotatedDataset defined by users. Maximum of 64 characters .
          type: string
        contributorEmails:
          description: "Optional. If you want your own labeling contributors to manage and work on this labeling request, you can set these contributors here. We will give them access to the question types in crowdcompute. Note that these emails must be registered in crowdcompute worker UI: https://crowd-compute.appspot.com/"
          items:
            type: string
          type: array
        instruction:
          description: Required. Instruction resource name.
          type: string
        labelGroup:
          description: Optional. A human-readable label used to logically group labeling tasks. This string must match the regular expression `[a-zA-Z\\d_-]{0,128}`.
          type: string
        languageCode:
          description: Optional. The Language of this question, as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Default value is en-US. Only need to set this when task is language related. For example, French text classification.
          type: string
        questionDuration:
          description: Optional. Maximum duration for contributors to answer a question. Maximum is 3600 seconds. Default is 3600 seconds.
          format: google-duration
          type: string
        replicaCount:
          description: Optional. Replication of questions. Each question will be sent to up to this number of contributors to label. Aggregated answers will be returned. Default is set to 1. For image related labeling, valid values are 1, 3, 5.
          format: int32
          type: integer
        userEmailAddress:
          description: Email of the user who started the labeling task and should be notified by email. If empty no notification will be sent.
          type: string
      type: object
    GoogleCloudDatalabelingV1alpha1ImportDataOperationMetadata:
      description: Metadata of an ImportData operation.
      properties:
        createTime:
          description: Output only. Timestamp when import dataset request was created.
          format: google-datetime
          type: string
        dataset:
          description: Output only. The name of imported dataset. "projects/*/datasets/*"
          type: string
        partialFailures:
          description: Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.
          items:
            $ref: "#/components/schemas/GoogleRpcStatus"
          type: array
      type: object
    GoogleCloudDatalabelingV1alpha1ImportDataOperationResponse:
      description: Response used for ImportData longrunning operation.
      properties:
        dataset:
          description: Ouptut only. The name of imported dataset.
          type: string
        importCount:
          description: Output only. Number of examples imported successfully.
          format: int32
          type: integer
        totalCount:
          description: Output only. Total number of examples requested to import
          format: int32
          type: integer
      type: object
    GoogleCloudDatalabelingV1alpha1LabelImageBoundingBoxOperationMetadata:
      description: Details of a LabelImageBoundingBox operation metadata.
      properties:
        basicConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
          description: Basic human annotation config used in labeling request.
      type: object
    GoogleCloudDatalabelingV1alpha1LabelImageBoundingPolyOperationMetadata:
      description: Details of LabelImageBoundingPoly operation metadata.
      properties:
        basicConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
          description: Basic human annotation config used in labeling request.
      type: object
    GoogleCloudDatalabelingV1alpha1LabelImageClassificationOperationMetadata:
      description: Metadata of a LabelImageClassification operation.
      properties:
        basicConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
          description: Basic human annotation config used in labeling request.
      type: object
    GoogleCloudDatalabelingV1alpha1LabelImageOrientedBoundingBoxOperationMetadata:
      description: Details of a LabelImageOrientedBoundingBox operation metadata.
      properties:
        basicConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
          description: Basic human annotation config.
      type: object
    GoogleCloudDatalabelingV1alpha1LabelImagePolylineOperationMetadata:
      description: Details of LabelImagePolyline operation metadata.
      properties:
        basicConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
          description: Basic human annotation config used in labeling request.
      type: object
    GoogleCloudDatalabelingV1alpha1LabelImageSegmentationOperationMetadata:
      description: Details of a LabelImageSegmentation operation metadata.
      properties:
        basicConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
          description: Basic human annotation config.
      type: object
    GoogleCloudDatalabelingV1alpha1LabelOperationMetadata:
      description: "Metadata of a labeling operation, such as LabelImage or LabelVideo. Next tag: 23"
      properties:
        annotatedDataset:
          description: Output only. The name of annotated dataset in format "projects/*/datasets/*/annotatedDatasets/*".
          type: string
        createTime:
          description: Output only. Timestamp when labeling request was created.
          format: google-datetime
          type: string
        dataset:
          description: Output only. The name of dataset to be labeled. "projects/*/datasets/*"
          type: string
        imageBoundingBoxDetails:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1LabelImageBoundingBoxOperationMetadata"
          description: Details of label image bounding box operation.
        imageBoundingPolyDetails:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1LabelImageBoundingPolyOperationMetadata"
          description: Details of label image bounding poly operation.
        imageClassificationDetails:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1LabelImageClassificationOperationMetadata"
          description: Details of label image classification operation.
        imageOrientedBoundingBoxDetails:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1LabelImageOrientedBoundingBoxOperationMetadata"
          description: Details of label image oriented bounding box operation.
        imagePolylineDetails:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1LabelImagePolylineOperationMetadata"
          description: Details of label image polyline operation.
        imageSegmentationDetails:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1LabelImageSegmentationOperationMetadata"
          description: Details of label image segmentation operation.
        partialFailures:
          description: Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.
          items:
            $ref: "#/components/schemas/GoogleRpcStatus"
          type: array
        progressPercent:
          description: "Output only. Progress of label operation. Range: [0, 100]."
          format: int32
          type: integer
        textClassificationDetails:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1LabelTextClassificationOperationMetadata"
          description: Details of label text classification operation.
        textEntityExtractionDetails:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1LabelTextEntityExtractionOperationMetadata"
          description: Details of label text entity extraction operation.
        videoClassificationDetails:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1LabelVideoClassificationOperationMetadata"
          description: Details of label video classification operation.
        videoEventDetails:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1LabelVideoEventOperationMetadata"
          description: Details of label video event operation.
        videoObjectDetectionDetails:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1LabelVideoObjectDetectionOperationMetadata"
          description: Details of label video object detection operation.
        videoObjectTrackingDetails:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1LabelVideoObjectTrackingOperationMetadata"
          description: Details of label video object tracking operation.
      type: object
    GoogleCloudDatalabelingV1alpha1LabelStats:
      description: Statistics about annotation specs.
      properties:
        exampleCount:
          additionalProperties:
            format: int64
            type: string
          description: Map of each annotation spec's example count. Key is the annotation spec name and value is the number of examples for that annotation spec. If the annotated dataset does not have annotation spec, the map will return a pair where the key is empty string and value is the total number of annotations.
          type: object
      type: object
    GoogleCloudDatalabelingV1alpha1LabelTextClassificationOperationMetadata:
      description: Details of a LabelTextClassification operation metadata.
      properties:
        basicConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
          description: Basic human annotation config used in labeling request.
      type: object
    GoogleCloudDatalabelingV1alpha1LabelTextEntityExtractionOperationMetadata:
      description: Details of a LabelTextEntityExtraction operation metadata.
      properties:
        basicConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
          description: Basic human annotation config used in labeling request.
      type: object
    GoogleCloudDatalabelingV1alpha1LabelVideoClassificationOperationMetadata:
      description: Details of a LabelVideoClassification operation metadata.
      properties:
        basicConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
          description: Basic human annotation config used in labeling request.
      type: object
    GoogleCloudDatalabelingV1alpha1LabelVideoEventOperationMetadata:
      description: Details of a LabelVideoEvent operation metadata.
      properties:
        basicConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
          description: Basic human annotation config used in labeling request.
      type: object
    GoogleCloudDatalabelingV1alpha1LabelVideoObjectDetectionOperationMetadata:
      description: Details of a LabelVideoObjectDetection operation metadata.
      properties:
        basicConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
          description: Basic human annotation config used in labeling request.
      type: object
    GoogleCloudDatalabelingV1alpha1LabelVideoObjectTrackingOperationMetadata:
      description: Details of a LabelVideoObjectTracking operation metadata.
      properties:
        basicConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
          description: Basic human annotation config used in labeling request.
      type: object
    GoogleCloudDatalabelingV1alpha1OutputConfig:
      description: The configuration of output data.
      properties:
        gcsDestination:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1GcsDestination"
          description: Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation.
        gcsFolderDestination:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1alpha1GcsFolderDestination"
          description: Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs.
      type: object
    GoogleCloudDatalabelingV1beta1AnnotatedDataset:
      description: AnnotatedDataset is a set holding annotations for data in a Dataset. Each labeling task will generate an AnnotatedDataset under the Dataset that the task is requested for.
      properties:
        annotationSource:
          description: Output only. Source of the annotation.
          enum:
            - ANNOTATION_SOURCE_UNSPECIFIED
            - OPERATOR
          type: string
        annotationType:
          description: Output only. Type of the annotation. It is specified when starting labeling task.
          enum:
            - ANNOTATION_TYPE_UNSPECIFIED
            - IMAGE_CLASSIFICATION_ANNOTATION
            - IMAGE_BOUNDING_BOX_ANNOTATION
            - IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION
            - IMAGE_BOUNDING_POLY_ANNOTATION
            - IMAGE_POLYLINE_ANNOTATION
            - IMAGE_SEGMENTATION_ANNOTATION
            - VIDEO_SHOTS_CLASSIFICATION_ANNOTATION
            - VIDEO_OBJECT_TRACKING_ANNOTATION
            - VIDEO_OBJECT_DETECTION_ANNOTATION
            - VIDEO_EVENT_ANNOTATION
            - TEXT_CLASSIFICATION_ANNOTATION
            - TEXT_ENTITY_EXTRACTION_ANNOTATION
            - GENERAL_CLASSIFICATION_ANNOTATION
          type: string
        blockingResources:
          description: Output only. The names of any related resources that are blocking changes to the annotated dataset.
          items:
            type: string
          type: array
        completedExampleCount:
          description: Output only. Number of examples that have annotation in the annotated dataset.
          format: int64
          type: string
        createTime:
          description: Output only. Time the AnnotatedDataset was created.
          format: google-datetime
          type: string
        description:
          description: Output only. The description of the AnnotatedDataset. It is specified in HumanAnnotationConfig when user starts a labeling task. Maximum of 10000 characters.
          type: string
        displayName:
          description: Output only. The display name of the AnnotatedDataset. It is specified in HumanAnnotationConfig when user starts a labeling task. Maximum of 64 characters.
          type: string
        exampleCount:
          description: Output only. Number of examples in the annotated dataset.
          format: int64
          type: string
        labelStats:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1LabelStats"
          description: Output only. Per label statistics.
        metadata:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1AnnotatedDatasetMetadata"
          description: Output only. Additional information about AnnotatedDataset.
        name:
          description: "Output only. AnnotatedDataset resource name in format of: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}"
          type: string
      type: object
    GoogleCloudDatalabelingV1beta1AnnotatedDatasetMetadata:
      description: Metadata on AnnotatedDataset.
      properties:
        boundingPolyConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1BoundingPolyConfig"
          description: Configuration for image bounding box and bounding poly task.
        eventConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1EventConfig"
          description: Configuration for video event labeling task.
        humanAnnotationConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
          description: HumanAnnotationConfig used when requesting the human labeling task for this AnnotatedDataset.
        imageClassificationConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ImageClassificationConfig"
          description: Configuration for image classification task.
        objectDetectionConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ObjectDetectionConfig"
          description: Configuration for video object detection task.
        objectTrackingConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ObjectTrackingConfig"
          description: Configuration for video object tracking task.
        polylineConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1PolylineConfig"
          description: Configuration for image polyline task.
        segmentationConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1SegmentationConfig"
          description: Configuration for image segmentation task.
        textClassificationConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1TextClassificationConfig"
          description: Configuration for text classification task.
        textEntityExtractionConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1TextEntityExtractionConfig"
          description: Configuration for text entity extraction task.
        videoClassificationConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1VideoClassificationConfig"
          description: Configuration for video classification task.
      type: object
    GoogleCloudDatalabelingV1beta1Annotation:
      description: Annotation for Example. Each example may have one or more annotations. For example in image classification problem, each image might have one or more labels. We call labels binded with this image an Annotation.
      properties:
        annotationMetadata:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1AnnotationMetadata"
          description: Output only. Annotation metadata, including information like votes for labels.
        annotationSentiment:
          description: Output only. Sentiment for this annotation.
          enum:
            - ANNOTATION_SENTIMENT_UNSPECIFIED
            - NEGATIVE
            - POSITIVE
          type: string
        annotationSource:
          description: Output only. The source of the annotation.
          enum:
            - ANNOTATION_SOURCE_UNSPECIFIED
            - OPERATOR
          type: string
        annotationValue:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1AnnotationValue"
          description: Output only. This is the actual annotation value, e.g classification, bounding box values are stored here.
        name:
          description: "Output only. Unique name of this annotation, format is: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset}/examples/{example_id}/annotations/{annotation_id}"
          type: string
      type: object
    GoogleCloudDatalabelingV1beta1AnnotationMetadata:
      description: Additional information associated with the annotation.
      properties:
        operatorMetadata:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1OperatorMetadata"
          description: Metadata related to human labeling.
      type: object
    GoogleCloudDatalabelingV1beta1AnnotationSpec:
      description: Container of information related to one possible annotation that can be used in a labeling task. For example, an image classification task where images are labeled as `dog` or `cat` must reference an AnnotationSpec for `dog` and an AnnotationSpec for `cat`.
      properties:
        description:
          description: Optional. User-provided description of the annotation specification. The description can be up to 10,000 characters long.
          type: string
        displayName:
          description: Required. The display name of the AnnotationSpec. Maximum of 64 characters.
          type: string
        index:
          description: 'Output only. This is the integer index of the AnnotationSpec. The index for the whole AnnotationSpecSet is sequential starting from 0. For example, an AnnotationSpecSet with classes `dog` and `cat`, might contain one AnnotationSpec with `{ display_name: "dog", index: 0 }` and one AnnotationSpec with `{ display_name: "cat", index: 1 }`. This is especially useful for model training as it encodes the string labels into numeric values.'
          format: int32
          type: integer
      type: object
    GoogleCloudDatalabelingV1beta1AnnotationSpecSet:
      description: An AnnotationSpecSet is a collection of label definitions. For example, in image classification tasks, you define a set of possible labels for images as an AnnotationSpecSet. An AnnotationSpecSet is immutable upon creation.
      properties:
        annotationSpecs:
          description: Required. The array of AnnotationSpecs that you define when you create the AnnotationSpecSet. These are the possible labels for the labeling task.
          items:
            $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1AnnotationSpec"
          type: array
        blockingResources:
          description: Output only. The names of any related resources that are blocking changes to the annotation spec set.
          items:
            type: string
          type: array
        description:
          description: Optional. User-provided description of the annotation specification set. The description can be up to 10,000 characters long.
          type: string
        displayName:
          description: Required. The display name for AnnotationSpecSet that you define when you create it. Maximum of 64 characters.
          type: string
        name:
          description: 'Output only. The AnnotationSpecSet resource name in the following format: "projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}"'
          type: string
      type: object
    GoogleCloudDatalabelingV1beta1AnnotationSpecSetConfig:
      description: Annotation spec set with the setting of allowing multi labels or not.
      properties:
        allowMultiLabel:
          description: Optional. If allow_multi_label is true, contributors are able to choose multiple labels from one annotation spec set.
          type: boolean
        annotationSpecSet:
          description: Required. Annotation spec set resource name.
          type: string
      type: object
    GoogleCloudDatalabelingV1beta1AnnotationValue:
      description: Annotation value for an example.
      properties:
        imageBoundingPolyAnnotation:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ImageBoundingPolyAnnotation"
          description: Annotation value for image bounding box, oriented bounding box and polygon cases.
        imageClassificationAnnotation:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ImageClassificationAnnotation"
          description: Annotation value for image classification case.
        imagePolylineAnnotation:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ImagePolylineAnnotation"
          description: Annotation value for image polyline cases. Polyline here is different from BoundingPoly. It is formed by line segments connected to each other but not closed form(Bounding Poly). The line segments can cross each other.
        imageSegmentationAnnotation:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ImageSegmentationAnnotation"
          description: Annotation value for image segmentation.
        textClassificationAnnotation:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1TextClassificationAnnotation"
          description: Annotation value for text classification case.
        textEntityExtractionAnnotation:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1TextEntityExtractionAnnotation"
          description: Annotation value for text entity extraction case.
        videoClassificationAnnotation:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1VideoClassificationAnnotation"
          description: Annotation value for video classification case.
        videoEventAnnotation:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1VideoEventAnnotation"
          description: Annotation value for video event case.
        videoObjectTrackingAnnotation:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1VideoObjectTrackingAnnotation"
          description: Annotation value for video object detection and tracking case.
      type: object
    GoogleCloudDatalabelingV1beta1Attempt:
      description: Records a failed evaluation job run.
      properties:
        attemptTime:
          format: google-datetime
          type: string
        partialFailures:
          description: Details of errors that occurred.
          items:
            $ref: "#/components/schemas/GoogleRpcStatus"
          type: array
      type: object
    GoogleCloudDatalabelingV1beta1BigQuerySource:
      description: The BigQuery location for input data. If used in an EvaluationJob, this is where the service saves the prediction input and output sampled from the model version.
      properties:
        inputUri:
          description: 'Required. BigQuery URI to a table, up to 2,000 characters long. If you specify the URI of a table that does not exist, Data Labeling Service creates a table at the URI with the correct schema when you create your EvaluationJob. If you specify the URI of a table that already exists, it must have the [correct schema](/ml-engine/docs/continuous-evaluation/create-job#table-schema). Provide the table URI in the following format: "bq://{your_project_id}/ {your_dataset_name}/{your_table_name}" [Learn more](/ml-engine/docs/continuous-evaluation/create-job#table-schema).'
          type: string
      type: object
    GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions:
      description: Options regarding evaluation between bounding boxes.
      properties:
        iouThreshold:
          description: Minimum [intersection-over-union (IOU)](/vision/automl/object-detection/docs/evaluate#intersection-over-union) required for 2 bounding boxes to be considered a match. This must be a number between 0 and 1.
          format: float
          type: number
      type: object
    GoogleCloudDatalabelingV1beta1BoundingPoly:
      description: A bounding polygon in the image.
      properties:
        vertices:
          description: The bounding polygon vertices.
          items:
            $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1Vertex"
          type: array
      type: object
    GoogleCloudDatalabelingV1beta1BoundingPolyConfig:
      description: Config for image bounding poly (and bounding box) human labeling task.
      properties:
        annotationSpecSet:
          description: Required. Annotation spec set resource name.
          type: string
        instructionMessage:
          description: Optional. Instruction message showed on contributors UI.
          type: string
      type: object
    GoogleCloudDatalabelingV1beta1ClassificationMetadata:
      description: Metadata for classification annotations.
      properties:
        isMultiLabel:
          description: Whether the classification task is multi-label or not.
          type: boolean
      type: object
    GoogleCloudDatalabelingV1beta1ClassificationMetrics:
      description: Metrics calculated for a classification model.
      properties:
        confusionMatrix:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ConfusionMatrix"
          description: Confusion matrix of predicted labels vs. ground truth labels.
        prCurve:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1PrCurve"
          description: Precision-recall curve based on ground truth labels, predicted labels, and scores for the predicted labels.
      type: object
    GoogleCloudDatalabelingV1beta1ConfidenceMetricsEntry:
      properties:
        confidenceThreshold:
          description: "Threshold used for this entry. For classification tasks, this is a classification threshold: a predicted label is categorized as positive or negative (in the context of this point on the PR curve) based on whether the label's score meets this threshold. For image object detection (bounding box) tasks, this is the [intersection-over-union (IOU)](/vision/automl/object-detection/docs/evaluate#intersection-over-union) threshold for the context of this point on the PR curve."
          format: float
          type: number
        f1Score:
          description: Harmonic mean of recall and precision.
          format: float
          type: number
        f1ScoreAt1:
          description: The harmonic mean of recall_at1 and precision_at1.
          format: float
          type: number
        f1ScoreAt5:
          description: The harmonic mean of recall_at5 and precision_at5.
          format: float
          type: number
        precision:
          description: Precision value.
          format: float
          type: number
        precisionAt1:
          description: Precision value for entries with label that has highest score.
          format: float
          type: number
        precisionAt5:
          description: Precision value for entries with label that has highest 5 scores.
          format: float
          type: number
        recall:
          description: Recall value.
          format: float
          type: number
        recallAt1:
          description: Recall value for entries with label that has highest score.
          format: float
          type: number
        recallAt5:
          description: Recall value for entries with label that has highest 5 scores.
          format: float
          type: number
      type: object
    GoogleCloudDatalabelingV1beta1ConfusionMatrix:
      description: Confusion matrix of the model running the classification. Only applicable when the metrics entry aggregates multiple labels. Not applicable when the entry is for a single label.
      properties:
        row:
          items:
            $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1Row"
          type: array
      type: object
    GoogleCloudDatalabelingV1beta1ConfusionMatrixEntry:
      properties:
        annotationSpec:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1AnnotationSpec"
          description: The annotation spec of a predicted label.
        itemCount:
          description: Number of items predicted to have this label. (The ground truth label for these items is the `Row.annotationSpec` of this entry's parent.)
          format: int32
          type: integer
      type: object
    GoogleCloudDatalabelingV1beta1CreateAnnotationSpecSetRequest:
      description: Request message for CreateAnnotationSpecSet.
      properties:
        annotationSpecSet:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
          description: Required. Annotation spec set to create. Annotation specs must be included. Only one annotation spec will be accepted for annotation specs with same display_name.
      type: object
    GoogleCloudDatalabelingV1beta1CreateDatasetRequest:
      description: Request message for CreateDataset.
      properties:
        dataset:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1Dataset"
          description: Required. The dataset to be created.
      type: object
    GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest:
      description: Request message for CreateEvaluationJob.
      properties:
        job:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1EvaluationJob"
          description: Required. The evaluation job to create.
      type: object
    GoogleCloudDatalabelingV1beta1CreateInstructionMetadata:
      description: Metadata of a CreateInstruction operation.
      properties:
        createTime:
          description: Timestamp when create instruction request was created.
          format: google-datetime
          type: string
        instruction:
          description: The name of the created Instruction. projects/{project_id}/instructions/{instruction_id}
          type: string
        partialFailures:
          description: Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.
          items:
            $ref: "#/components/schemas/GoogleRpcStatus"
          type: array
      type: object
    GoogleCloudDatalabelingV1beta1CreateInstructionRequest:
      description: Request message for CreateInstruction.
      properties:
        instruction:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1Instruction"
          description: Required. Instruction of how to perform the labeling task.
      type: object
    GoogleCloudDatalabelingV1beta1CsvInstruction:
      description: "Deprecated: this instruction format is not supported any more. Instruction from a CSV file."
      properties:
        gcsFileUri:
          description: CSV file for the instruction. Only gcs path is allowed.
          type: string
      type: object
    GoogleCloudDatalabelingV1beta1DataItem:
      description: DataItem is a piece of data, without annotation. For example, an image.
      properties:
        imagePayload:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1ImagePayload"
          description: The image payload, a container of the image bytes/uri.
        name:
          description: "Output only. Name of the data item, in format of: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}"
          type: string
        textPayload:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1TextPayload"
          description: The text payload, a container of text content.
        videoPayload:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1VideoPayload"
          description: The video payload, a container of the video uri.
      type: object
    GoogleCloudDatalabelingV1beta1Dataset:
      description: Dataset is the resource to hold your data. You can request multiple labeling tasks for a dataset while each one will generate an AnnotatedDataset.
      properties:
        blockingResources:
          description: Output only. The names of any related resources that are blocking changes to the dataset.
          items:
            type: string
          type: array
        createTime:
          description: Output only. Time the dataset is created.
          format: google-datetime
          type: string
        dataItemCount:
          description: Output only. The number of data items in the dataset.
          format: int64
          type: string
        description:
          description: Optional. User-provided description of the annotation specification set. The description can be up to 10000 characters long.
          type: string
        displayName:
          description: Required. The display name of the dataset. Maximum of 64 characters.
          type: string
        inputConfigs:
          description: Output only. This is populated with the original input configs where ImportData is called. It is available only after the clients import data to this dataset.
          items:
            $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1InputConfig"
          type: array
        lastMigrateTime:
          description: Last time that the Dataset is migrated to AI Platform V2. If any of the AnnotatedDataset is migrated, the last_migration_time in Dataset is also updated.
          format: google-datetime
          type: string
        name:
          description: "Output only. Dataset resource name, format is: projects/{project_id}/datasets/{dataset_id}"
          type: string
      type: object
    GoogleCloudDatalabelingV1beta1Evaluation:
      description: Describes an evaluation between a machine learning model's predictions and ground truth labels. Created when an EvaluationJob runs successfully.
      properties:
        annotationType:
          description: Output only. Type of task that the model version being evaluated performs, as defined in the evaluationJobConfig.inputConfig.annotationType field of the evaluation job that created this evaluation.
          enum:
            - ANNOTATION_TYPE_UNSPECIFIED
            - IMAGE_CLASSIFICATION_ANNOTATION
            - IMAGE_BOUNDING_BOX_ANNOTATION
            - IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION
            - IMAGE_BOUNDING_POLY_ANNOTATION
            - IMAGE_POLYLINE_ANNOTATION
            - IMAGE_SEGMENTATION_ANNOTATION
            - VIDEO_SHOTS_CLASSIFICATION_ANNOTATION
            - VIDEO_OBJECT_TRACKING_ANNOTATION
            - VIDEO_OBJECT_DETECTION_ANNOTATION
            - VIDEO_EVENT_ANNOTATION
            - TEXT_CLASSIFICATION_ANNOTATION
            - TEXT_ENTITY_EXTRACTION_ANNOTATION
            - GENERAL_CLASSIFICATION_ANNOTATION
          type: string
        config:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1EvaluationConfig"
          description: Output only. Options used in the evaluation job that created this evaluation.
        createTime:
          description: Output only. Timestamp for when this evaluation was created.
          format: google-datetime
          type: string
        evaluatedItemCount:
          description: Output only. The number of items in the ground truth dataset that were used for this evaluation. Only populated when the evaulation is for certain AnnotationTypes.
          format: int64
          type: string
        evaluationJobRunTime:
          description: Output only. Timestamp for when the evaluation job that created this evaluation ran.
          format: google-datetime
          type: string
        evaluationMetrics:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1EvaluationMetrics"
          description: Output only. Metrics comparing predictions to ground truth labels.
        name:
          description: "Output only. Resource name of an evaluation. The name has the following format: \"projects/{project_id}/datasets/{dataset_id}/evaluations/ {evaluation_id}'"
          type: string
      type: object
    GoogleCloudDatalabelingV1beta1EvaluationConfig:
      description: Configuration details used for calculating evaluation metrics and creating an Evaluation.
      properties:
        boundingBoxEvaluationOptions:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions"
          description: Only specify this field if the related model performs image object detection (`IMAGE_BOUNDING_BOX_ANNOTATION`). Describes how to evaluate bounding boxes.
      type: object
    GoogleCloudDatalabelingV1beta1EvaluationJob:
      description: Defines an evaluation job that runs periodically to generate Evaluations. [Creating an evaluation job](/ml-engine/docs/continuous-evaluation/create-job) is the starting point for using continuous evaluation.
      properties:
        annotationSpecSet:
          description: 'Required. Name of the AnnotationSpecSet describing all the labels that your machine learning model outputs. You must create this resource before you create an evaluation job and provide its name in the following format: "projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}"'
          type: string
        attempts:
          description: Output only. Every time the evaluation job runs and an error occurs, the failed attempt is appended to this array.
          items:
            $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1Attempt"
          type: array
        createTime:
          description: Output only. Timestamp of when this evaluation job was created.
          format: google-datetime
          type: string
        description:
          description: Required. Description of the job. The description can be up to 25,000 characters long.
          type: string
        evaluationJobConfig:
          $ref: "#/components/schemas/GoogleCloudDatalabelingV1beta1EvaluationJobConfig"
          description: Required. Configuration details for the evaluation job.
        labelMissingGroundTruth:
          description: Required. Whether you want Data Labeling Service to provide ground truth labels for prediction input. If you want the service to assign human labelers to annotate your data, set this to `true`. If you want to provide your own ground truth labels in the evaluation job's BigQuery table, set this to `false`.
          type: boolean
        modelVersion:
          description: 'Required. The [AI Platform Prediction model version](/ml-engine/docs/prediction-overview) to be evaluated. Prediction input and output is sampled from this model version. When creating an evaluation job, specify the model version in the following format: "projects/{project_id}/models/{model_name}/versions/{version_name}" There can only be one evaluation job per model version.'
          type: string
        name:
          description: 'Output only. After you create a job, Data Labeling Service assigns a name to the job with the following format: "projects/{project_id}/evaluationJobs/ {evaluation_job_id}"'
          type: string
        schedule:
          description: Required. Describes the interval at which the job runs. This interval must be at least 1 day, and it is rounded to the nearest day. For example, if you specify a 50-hour interval, the job runs every 2 days. You can provide the schedule in [crontab format](/scheduler/docs/configuring/cron-job-schedules) or in an [English-like format](/appengine/docs/standard/python/config/cronref#schedule_format). Regardless of what you specify, the job will run at 10:00 AM UTC. Only the interval from this schedule is used, not the specific time of day.
          type: string
        state:
          description: Output only. Describes the current state of the job.
          enum:
            - STATE_UNSPECIFIED
            - SCHEDULED
            - RUNNING
            - PAUSED
            - STOPPED
          type: string
      type: object
    GoogleCloudDatalabelingV1beta1EvaluationJobAlertConfig:
      description: Provides details for how an evaluation job sends email alerts based on the results of a run.
      properties:
        email:
[...]
