swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: The HDInsight Management Client.
  title: HDInsightManagementClient
  version: 2015-03-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/hdinsight/resource-manager/Microsoft.HDInsight/2015-03-01-preview/cluster.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: hdinsight-cluster
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: The HDInsight client API Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/clusters':
    get:
      description: Lists all the HDInsight clusters under the subscription.
      operationId: Clusters_List
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/ClusterListResult'
      tags:
        - Clusters
      x-ms-examples:
        Get All Hadoop on Linux clusters:
          parameters:
            api-version: 2015-03-01-preview
            subscriptionId: subid
          responses:
            '200':
              body:
                value:
                  - etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                    location: West US
                    name: cluster1
                    properties:
                      clusterDefinition:
                        blueprint: 'https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json'
                        kind: hadoop
                      clusterState: Running
                      clusterVersion: 3.5.1000.0
                      computeProfile:
                        roles:
                          - hardwareProfile:
                              vmSize: Standard_D3_V2
                            name: headnode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 2
                          - hardwareProfile:
                              vmSize: Standard_D3_V2
                            name: workernode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 4
                          - hardwareProfile:
                              vmSize: Medium
                            name: zookeepernode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 3
                      connectivityEndpoints:
                        - location: cluster1-ssh.azurehdinsight.net
                          name: SSH
                          port: 22
                          protocol: TCP
                        - location: cluster1.azurehdinsight.net
                          name: HTTPS
                          port: 443
                          protocol: TCP
                      createdDate: '2017-01-11T18:58:26.187'
                      osType: Linux
                      provisioningState: Succeeded
                      quotaInfo:
                        coresUsed: 24
                      tier: Standard
                    tags:
                      key1: val1
                    type: Microsoft.HDInsight/clusters
                  - etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster2
                    location: West US
                    name: cluster2
                    properties:
                      clusterDefinition:
                        blueprint: 'https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json'
                        kind: hadoop
                      clusterState: Running
                      clusterVersion: 3.5.1000.0
                      computeProfile:
                        roles:
                          - hardwareProfile:
                              vmSize: Standard_D3_V2
                            name: headnode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 2
                          - hardwareProfile:
                              vmSize: Standard_D3_V2
                            name: workernode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 4
                          - hardwareProfile:
                              vmSize: Medium
                            name: zookeepernode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 3
                      connectivityEndpoints:
                        - location: cluster2-ssh.azurehdinsight.net
                          name: SSH
                          port: 22
                          protocol: TCP
                        - location: cluster2.azurehdinsight.net
                          name: HTTPS
                          port: 443
                          protocol: TCP
                      createdDate: '2017-01-11T18:58:26.187'
                      osType: Linux
                      provisioningState: Succeeded
                      quotaInfo:
                        coresUsed: 24
                      tier: Standard
                    tags:
                      key1: val1
                    type: Microsoft.HDInsight/clusters
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters':
    get:
      description: Lists the HDInsight clusters in a resource group.
      operationId: Clusters_ListByResourceGroup
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/ClusterListResult'
      tags:
        - Clusters
      x-ms-examples:
        Get All Hadoop on Linux clusters in a resource group:
          parameters:
            api-version: 2015-03-01-preview
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                value:
                  - etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                    location: West US
                    name: cluster1
                    properties:
                      clusterDefinition:
                        blueprint: 'https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json'
                        kind: hadoop
                      clusterState: Running
                      clusterVersion: 3.5.1000.0
                      computeProfile:
                        roles:
                          - hardwareProfile:
                              vmSize: Standard_D3_V2
                            name: headnode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 2
                          - hardwareProfile:
                              vmSize: Standard_D3_V2
                            name: workernode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 4
                          - hardwareProfile:
                              vmSize: Medium
                            name: zookeepernode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 3
                      connectivityEndpoints:
                        - location: cluster1-ssh.azurehdinsight.net
                          name: SSH
                          port: 22
                          protocol: TCP
                        - location: cluster1.azurehdinsight.net
                          name: HTTPS
                          port: 443
                          protocol: TCP
                      createdDate: '2017-01-11T18:58:26.187'
                      osType: Linux
                      provisioningState: Succeeded
                      quotaInfo:
                        coresUsed: 24
                      tier: Standard
                    tags:
                      key1: val1
                    type: Microsoft.HDInsight/clusters
                  - etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster2
                    location: West US
                    name: cluster2
                    properties:
                      clusterDefinition:
                        blueprint: 'https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json'
                        kind: hadoop
                      clusterState: Running
                      clusterVersion: 3.5.1000.0
                      computeProfile:
                        roles:
                          - hardwareProfile:
                              vmSize: Standard_D3_V2
                            name: headnode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 2
                          - hardwareProfile:
                              vmSize: Standard_D3_V2
                            name: workernode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 4
                          - hardwareProfile:
                              vmSize: Medium
                            name: zookeepernode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 3
                      connectivityEndpoints:
                        - location: cluster2-ssh.azurehdinsight.net
                          name: SSH
                          port: 22
                          protocol: TCP
                        - location: cluster2.azurehdinsight.net
                          name: HTTPS
                          port: 443
                          protocol: TCP
                      createdDate: '2017-01-11T18:58:26.187'
                      osType: Linux
                      provisioningState: Succeeded
                      quotaInfo:
                        coresUsed: 24
                      tier: Standard
                    tags:
                      key1: val1
                    type: Microsoft.HDInsight/clusters
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}':
    delete:
      description: Deletes the specified HDInsight cluster.
      operationId: Clusters_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the cluster.
          in: path
          name: clusterName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Ok response definition.
        '202':
          description: Accepted response definition.
      tags:
        - Clusters
      x-ms-examples:
        Delete Hadoop on Linux cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200': {}
            '202': {}
      x-ms-long-running-operation: true
    get:
      description: Gets the specified cluster.
      operationId: Clusters_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the cluster.
          in: path
          name: clusterName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/Cluster'
      tags:
        - Clusters
      x-ms-examples:
        Get Hadoop on Linux cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                location: West US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: 'https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json'
                    kind: hadoop
                  clusterState: Running
                  clusterVersion: 3.5.1000.0
                  computeProfile:
                    roles:
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: Medium
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 3
                  connectivityEndpoints:
                    - location: cluster1-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster1.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                  createdDate: '2017-01-11T18:58:26.187'
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 24
                  tier: Standard
                tags:
                  key1: val1
                type: Microsoft.HDInsight/clusters
        Get Spark on Linux cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                etag: 4cd8b5a9-ca9c-4239-9e5b-3916032e994c
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                location: West US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: 'https://blueprints.azurehdinsight.net/spark-3.5.1000.0.9625065.json'
                    componentVersion:
                      Spark: '2.0'
                    kind: SPARK
                  clusterState: Running
                  clusterVersion: 3.5.1000.0
                  computeProfile:
                    roles:
                      - hardwareProfile:
                          vmSize: Standard_D12_V2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: Standard_D4_V2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: Medium
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 3
                  connectivityEndpoints:
                    - location: cluster1-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster1.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                  createdDate: '2017-03-03T08:35:07.323'
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 40
                  tier: Standard
                tags:
                  key1: val1
                type: Microsoft.HDInsight/clusters
    patch:
      description: Patch HDInsight cluster with the specified parameters.
      operationId: Clusters_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the cluster.
          in: path
          name: clusterName
          required: true
          type: string
        - description: The cluster patch request.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ClusterPatchParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/Cluster'
      tags:
        - Clusters
      x-ms-examples:
        Patch HDInsight Linux clusters:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              tags:
                key1: val1
                key2: val2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                location: West US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: 'https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json'
                    kind: hadoop
                  clusterState: Running
                  clusterVersion: 3.5.1000.0
                  computeProfile:
                    roles:
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: Medium
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 3
                  connectivityEndpoints:
                    - location: cluster1-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster1.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                  createdDate: '2017-01-11T18:58:26.187'
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 24
                  tier: Standard
                tags:
                  key1: val1
                  key2: val2
                type: Microsoft.HDInsight/clusters
    put:
      description: Creates a new HDInsight cluster with the specified parameters.
      operationId: Clusters_Create
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the cluster.
          in: path
          name: clusterName
          required: true
          type: string
        - description: The cluster create request.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ClusterCreateParametersExtended'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/Cluster'
      tags:
        - Clusters
      x-ms-examples:
        Create Hadoop on Linux cluster with SSH password:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: 'true'
                      restAuthCredential.password: '**********'
                      restAuthCredential.username: admin
                  kind: Hadoop
                clusterVersion: '3.5'
                computeProfile:
                  roles:
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      minInstanceCount: 1
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: '**********'
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      minInstanceCount: 1
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: '**********'
                          username: sshuser
                      targetInstanceCount: 4
                    - hardwareProfile:
                        vmSize: Small
                      minInstanceCount: 1
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: '**********'
                          username: sshuser
                      targetInstanceCount: 3
                osType: Linux
                storageProfile:
                  storageaccounts:
                    - container: containername
                      isDefault: true
                      key: storagekey
                      name: mystorage
                tier: Standard
              tags:
                key1: val1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              headers:
                location: 'https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult'
        Create Hadoop on Linux cluster with SSH public key:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: true
                      restAuthCredential.password: '**********'
                      restAuthCredential.username: admin
                  kind: Hadoop
                clusterVersion: '3.5'
                computeProfile:
                  roles:
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      minInstanceCount: 1
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          sshProfile:
                            publicKeys:
                              - certificateData: '**********'
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      minInstanceCount: 1
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: '**********'
                          username: sshuser
                      targetInstanceCount: 4
                    - hardwareProfile:
                        vmSize: Small
                      minInstanceCount: 1
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: '**********'
                          username: sshuser
                      targetInstanceCount: 3
                osType: Linux
                storageProfile:
                  storageaccounts:
                    - container: containername
                      isDefault: true
                      key: storagekey
                      name: mystorage
                tier: Standard
              tags:
                key1: val1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              headers:
                location: 'https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult'
        Create Secure Hadoop cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: true
                      restAuthCredential.password: '**********'
                      restAuthCredential.username: admin
                  kind: Hadoop
                clusterVersion: '3.5'
                computeProfile:
                  roles:
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      minInstanceCount: 1
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: '**********'
                          sshProfile:
                            publicKeys:
                              - certificateData: '**********'
                          username: sshuser
                      scriptActions: []
                      targetInstanceCount: 2
                      virtualNetworkProfile:
                        id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname
                        subnet: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      minInstanceCount: 1
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: '**********'
                          sshProfile:
                            publicKeys:
                              - certificateData: '**********'
                          username: sshuser
                      scriptActions: []
                      targetInstanceCount: 4
                      virtualNetworkProfile:
                        id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname
                        subnet: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet
                    - hardwareProfile:
                        vmSize: Small
                      minInstanceCount: 1
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: '**********'
                          sshProfile:
                            publicKeys:
                              - certificateData: '**********'
                          username: sshuser
                      scriptActions: []
                      targetInstanceCount: 3
                      virtualNetworkProfile:
                        id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname
                        subnet: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet
                osType: Linux
                securityProfile:
                  clusterUsersGroupDNs:
                    - hdiusers
                  directoryType: ActiveDirectory
                  domain: DomainName
                  domainUserPassword: '**********'
                  domainUsername: DomainUsername
                  ldapsUrls:
                    - 'ldaps://10.10.0.4:636'
                  organizationalUnitDN: 'OU=Hadoop,DC=hdinsight,DC=test'
                storageProfile:
                  storageaccounts:
                    - container: containername
                      isDefault: true
                      key: storage account key
                      name: mystorage
                tier: Premium
              tags:
                key1: val1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              headers:
                location: 'https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult'
        Create Spark on Linux Cluster with SSH password:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  componentVersion:
                    Spark: '2.0'
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: true
                      restAuthCredential.password: '**********'
                      restAuthCredential.username: admin
                  kind: Spark
                clusterVersion: '3.5'
                computeProfile:
                  roles:
                    - hardwareProfile:
                        vmSize: Standard_D12_V2
                      minInstanceCount: 1
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: '**********'
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: Standard_D4_V2
                      minInstanceCount: 1
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: '**********'
                          username: sshuser
                      targetInstanceCount: 4
                osType: Linux
                storageProfile:
                  storageaccounts:
                    - container: containername
                      isDefault: true
                      key: storageapikey*
                      name: mystorage
                tier: Standard
              tags:
                key1: val1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              headers:
                location: 'https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult'
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/roles/{roleName}/resize':
    post:
      description: Resizes the specified HDInsight cluster to the specified size.
      operationId: Clusters_Resize
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the cluster.
          in: path
          name: clusterName
          required: true
          type: string
        - description: The constant value for the roleName
          enum:
            - workernode
          in: path
          name: roleName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: RoleName
        - description: The parameters for the resize operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ClusterResizeParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
        '202':
          description: Accepted response definition.
      tags:
        - Clusters
      x-ms-examples:
        Resize the worker nodes for a Hadoop on Linux cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              targetInstanceCount: 10
            resourceGroupName: rg1
            roleName: workernode
            subscriptionId: subid
          responses:
            '200': {}
            '202': {}
      x-ms-long-running-operation: true
definitions:
  Cluster:
    allOf:
      - $ref: '#/definitions/TrackedResource'
    description: The HDInsight cluster.
    properties:
      etag:
        description: The ETag for the resource
        type: string
      properties:
        $ref: '#/definitions/ClusterGetProperties'
        description: The properties of the cluster.
  ClusterCreateParametersExtended:
    description: The CreateCluster request parameters.
    properties:
      location:
        description: The location of the cluster.
        type: string
      properties:
        $ref: '#/definitions/ClusterCreateProperties'
        description: The cluster create parameters.
      tags:
        additionalProperties:
          type: string
        description: The resource tags.
        type: object
  ClusterCreateProperties:
    description: The cluster create parameters.
    properties:
      clusterDefinition:
        $ref: '#/definitions/ClusterDefinition'
        description: The cluster definition.
      clusterVersion:
        description: The version of the cluster.
        type: string
      computeProfile:
        $ref: '#/definitions/ComputeProfile'
        description: The compute profile.
      osType:
        description: The type of operating system.
        enum:
          - Windows
          - Linux
        type: string
        x-ms-enum:
          modelAsString: false
          name: OSType
      securityProfile:
        $ref: '#/definitions/SecurityProfile'
        description: The security profile.
      storageProfile:
        $ref: '#/definitions/StorageProfile'
        description: The storage profile.
      tier:
        description: The cluster tier.
        enum:
          - Standard
          - Premium
        type: string
        x-ms-enum:
          modelAsString: false
          name: Tier
  ClusterDefinition:
    description: The cluster definition.
    properties:
      blueprint:
        description: The link to the blueprint.
        type: string
      componentVersion:
        additionalProperties:
          type: string
        description: The versions of different services in the cluster.
        type: object
      configurations:
        description: The cluster configurations.
        type: object
      kind:
        description: The type of cluster.
        type: string
  ClusterGetProperties:
    description: The properties of cluster.
    properties:
      clusterDefinition:
        $ref: '#/definitions/ClusterDefinition'
        description: The cluster definition.
      clusterState:
        description: The state of the cluster.
        type: string
      clusterVersion:
        description: The version of the cluster.
        type: string
      computeProfile:
        $ref: '#/definitions/ComputeProfile'
        description: The compute profile.
      connectivityEndpoints:
        description: The list of connectivity endpoints.
        items:
          $ref: '#/definitions/ConnectivityEndpoint'
        type: array
      createdDate:
        description: The date on which the cluster was created.
        type: string
      errors:
        description: The list of errors.
        items:
          $ref: '#/definitions/errors'
        type: array
      osType:
        description: The type of operating system.
        enum:
          - Windows
          - Linux
        type: string
        x-ms-enum:
          modelAsString: false
          name: OSType
      provisioningState:
        description: 'The provisioning state, which only appears in the response.'
        enum:
          - InProgress
          - Failed
          - Succeeded
          - Canceled
          - Deleting
        type: string
        x-ms-enum:
          modelAsString: false
          name: HDInsightClusterProvisioningState
      quotaInfo:
        $ref: '#/definitions/QuotaInfo'
        description: The quota information.
      securityProfile:
        $ref: '#/definitions/SecurityProfile'
        description: The security profile.
      tier:
        description: The cluster tier.
        enum:
          - Standard
          - Premium
        type: string
        x-ms-enum:
          modelAsString: false
          name: Tier
    required:
      - clusterDefinition
  ClusterListPersistedScriptActionsResult:
    description: The ListPersistedScriptActions operation response.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The list of Persisted Script Actions.
        items:
          $ref: '#/definitions/RuntimeScriptAction'
        type: array
  ClusterListResult:
    description: The List Cluster operation response.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The list of Clusters.
        items:
          $ref: '#/definitions/Cluster'
        type: array
  ClusterListRuntimeScriptActionDetailResult:
    description: The list runtime script action detail response.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        items:
          $ref: '#/definitions/RuntimeScriptActionDetail'
        readOnly: true
        type: array
  ClusterPatchParameters:
    description: The PatchCluster request parameters
    properties:
      tags:
        additionalProperties:
          type: string
        description: The resource tags.
        type: object
        x-nullable: true
  ClusterResizeParameters:
    description: The Resize Cluster request parameters.
    properties:
      targetInstanceCount:
        description: The target instance count for the operation.
        format: int32
        type: integer
  ComputeProfile:
    description: Describes the compute profile.
    properties:
      roles:
        description: The list of roles in the cluster.
        items:
          $ref: '#/definitions/Role'
        type: array
  ConnectivityEndpoint:
    description: The connectivity properties
    properties:
      location:
        description: The location of the endpoint.
        type: string
      name:
        description: The name of the endpoint.
        type: string
      port:
        description: The port to connect to.
        format: int32
        type: integer
      protocol:
        description: The protocol of the endpoint.
        type: string
  DataDisksGroups:
    description: The data disks groups for the role.
    properties:
      diskSizeGB:
        description: ReadOnly. The DiskSize in GB. Do not set this value.
        readOnly: true
        type: integer
      disksPerNode:
        description: The number of disks per node.
        format: int32
        type: integer
      storageAccountType:
        description: ReadOnly. The storage account type. Do not set this value.
        readOnly: true
        type: string
  ExecuteScriptActionParameters:
    description: The parameters for the script actions to execute on a running cluster.
    properties:
      persistOnSuccess:
        description: Gets or sets if the scripts needs to be persisted.
        type: boolean
      scriptActions:
        description: The list of run time script actions.
        items:
          $ref: '#/definitions/RuntimeScriptAction'
        type: array
    required:
      - persistOnSuccess
  HardwareProfile:
    description: The hardware profile.
    properties:
      vmSize:
        description: The size of the VM
        type: string
  Operation:
    description: The HDInsight REST API operation.
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: 'The operation type: read, write, delete, etc.'
            type: string
          provider:
            description: 'The service provider: Microsoft.HDInsight'
            type: string
          resource:
            description: 'The resource on which the operation is performed: Cluster, Capabilities, etc.'
            type: string
      name:
        description: 'The operation name: {provider}/{resource}/{operation}'
        type: string
    type: object
  OperationListResult:
    description: Result of the request to list HDInsight operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: The URL to get the next set of operation list results if there are any.
        type: string
      value:
        description: The list of HDInsight operations supported by the HDInsight resource provider.
        items:
          $ref: '#/definitions/Operation'
        type: array
  OperationResource:
    description: The azure async operation response.
    properties:
      error:
        $ref: '#/definitions/errors'
        description: The operation error information.
      status:
        description: The async operation state.
        enum:
          - InProgress
          - Succeeded
          - Failed
        type: string
        x-ms-enum:
          modelAsString: false
          name: AsyncOperationState
  ProxyResource:
    allOf:
      - $ref: '#/definitions/Resource'
    description: The resource model definition for a ARM proxy resource. It will have everything other than required location and tags
  QuotaInfo:
    description: The quota properties for the cluster.
    properties:
      coresUsed:
        description: The cores used by the cluster.
        format: int32
        type: integer
  Resource:
    description: The core properties of ARM resources
    properties:
      id:
        description: Fully qualified resource Id for the resource.
        readOnly: true
        type: string
      name:
        description: The name of the resource
        readOnly: true
        type: string
      type:
        description: The type of the resource.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  Role:
    description: Describes a role on the cluster.
    properties:
      dataDisksGroups:
        description: The data disks groups for the role.
        items:
          $ref: '#/definitions/DataDisksGroups'
        type: array
      hardwareProfile:
        $ref: '#/definitions/HardwareProfile'
        description: The hardware profile.
      minInstanceCount:
        description: The minimum instance count of the cluster.
        format: int32
        type: integer
      name:
        description: The name of the role.
        type: string
      osProfile:
        description: The Linux operation systems profile.
        properties:
          linuxOperatingSystemProfile:
            description: 'The ssh username, password, and ssh public key.'
            properties:
              password:
                description: The password.
                type: string
              sshProfile:
                description: The list of SSH public keys.
                properties:
                  publicKeys:
                    description: The list of SSH public keys.
                    items:
                      description: The SSH public key for the cluster nodes.
                      properties:
                        certificateData:
                          description: The certificate for SSH.
                          type: string
                    type: array
              username:
                description: The username.
                type: string
      scriptActions:
        description: The list of script actions on the role.
        items:
          description: Describes a script action on role on the cluster.
          properties:
            name:
              description: The name of the script action.
              type: string
            parameters:
              description: The parameters for the script provided.
              type: string
            uri:
              description: The URI to the script.
              type: string
          required:
            - name
            - uri
            - parameters
        type: array
      targetInstanceCount:
        description: The instance count of the cluster.
        format: int32
        type: integer
      virtualNetworkProfile:
        $ref: '#/definitions/VirtualNetworkProfile'
        description: The virtual network profile.
  RuntimeScriptAction:
    description: Describes a script action on a running cluster.
    properties:
      applicationName:
        description: 'The application name of the script action, if any.'
        readOnly: true
        type: string
      name:
        description: The name of the script action.
        type: string
      parameters:
        description: The parameters for the script
        type: string
      roles:
        description: The list of roles where script will be executed.
        items:
          type: string
        type: array
      uri:
        description: The URI to the script.
        type: string
    required:
      - name
      - uri
      - roles
  RuntimeScriptActionDetail:
    allOf:
      - $ref: '#/definitions/RuntimeScriptAction'
      - properties:
          debugInformation:
            description: The script action execution debug information.
            readOnly: true
            type: string
          endTime:
            description: The end time of script action execution.
            readOnly: true
            type: string
          executionSummary:
            description: The summary of script action execution result.
            items:
              $ref: '#/definitions/ScriptActionExecutionSummary'
            readOnly: true
            type: array
          operation:
            description: The reason why the script action was executed.
            readOnly: true
            type: string
          scriptExecutionId:
            description: The execution id of the script action.
            format: int64
            readOnly: true
            type: integer
          startTime:
            description: The start time of script action execution.
            readOnly: true
            type: string
          status:
            description: The current execution status of the script action.
            readOnly: true
            type: string
    description: The execution details of a script action.
  ScriptActionExecutionSummary:
    description: The execution summary of a script action.
    properties:
      instanceCount:
        description: The instance count for a given script action execution status.
        format: int32
        readOnly: true
        type: integer
      status:
        description: The status of script action execution.
        readOnly: true
        type: string
  SecurityProfile:
    description: The security profile which contains Ssh public key for the HDInsight cluster.
    properties:
      clusterUsersGroupDNs:
        description: Optional. The Distinguished Names for cluster user groups
        items:
          type: string
        type: array
      directoryType:
        description: The directory type.
        enum:
          - ActiveDirectory
        type: string
        x-ms-enum:
          modelAsString: false
          name: DirectoryType
      domain:
        description: The organization's active directory domain.
        type: string
      domainUserPassword:
        description: The domain admin password.
        format: password
        type: string
      domainUsername:
        description: The domain user account that will have admin privileges on the cluster.
        type: string
      ldapsUrls:
        description: The LDAPS protocol URLs to communicate with the Active Directory.
        items:
          type: string
        type: array
      organizationalUnitDN:
        description: The organizational unit within the Active Directory to place the cluster and service accounts.
        type: string
  StorageAccount:
    description: The storage Account.
    properties:
      container:
        description: The container in the storage account.
        type: string
      isDefault:
        description: Whether or not the storage account is the default storage account.
        type: boolean
      key:
        description: The storage account access key.
        type: string
      name:
        description: The name of the storage account.
        type: string
  StorageProfile:
    description: The storage profile.
    properties:
      storageaccounts:
        description: The list of storage accounts in the cluster.
        items:
          $ref: '#/definitions/StorageAccount'
        type: array
  TrackedResource:
    allOf:
      - $ref: '#/definitions/Resource'
    description: The resource model definition for a ARM tracked top level resource
    properties:
      location:
        description: The Azure Region where the resource lives
        type: string
        x-ms-mutability:
          - read
          - create
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
        x-ms-mutability:
          - read
          - create
          - update
  VirtualNetworkProfile:
    description: The virtual network properties.
    properties:
      id:
        description: The ID of the virtual network.
        type: string
      subnet:
        description: The name of the subnet.
        type: string
  errors:
    description: The error message associated with the cluster creation.
    properties:
      code:
        description: The error code.
        type: string
      message:
        description: The error message.
        type: string
