swagger: '2.0'
schemes:
  - https
host: searchconsole.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Provides tools for running validation tests against single URLs
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Search Console URL Testing Tools
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - search
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://searchconsole.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: searchconsole
externalDocs:
  url: 'https://developers.google.com/webmaster-tools/search-console-api/'
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: urlTestingTools
paths:
  '/v1/urlTestingTools/mobileFriendlyTest:run':
    parameters:
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
    post:
      description: Runs Mobile-Friendly Test for a given URL.
      operationId: searchconsole.urlTestingTools.mobileFriendlyTest.run
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RunMobileFriendlyTestRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/RunMobileFriendlyTestResponse'
      tags:
        - urlTestingTools
definitions:
  BlockedResource:
    description: Blocked resource.
    properties:
      url:
        description: URL of the blocked resource.
        type: string
    type: object
  Image:
    description: Describe image data.
    properties:
      data:
        description: |-
          Image data in format determined by the mime type. Currently, the format
          will always be "image/png", but this might change in the future.
        format: byte
        type: string
      mimeType:
        description: The mime-type of the image data.
        type: string
    type: object
  MobileFriendlyIssue:
    description: Mobile-friendly issue.
    properties:
      rule:
        description: Rule violated.
        enum:
          - MOBILE_FRIENDLY_RULE_UNSPECIFIED
          - USES_INCOMPATIBLE_PLUGINS
          - CONFIGURE_VIEWPORT
          - FIXED_WIDTH_VIEWPORT
          - SIZE_CONTENT_TO_VIEWPORT
          - USE_LEGIBLE_FONT_SIZES
          - TAP_TARGETS_TOO_CLOSE
        type: string
    type: object
  ResourceIssue:
    description: Information about a resource with issue.
    properties:
      blockedResource:
        $ref: '#/definitions/BlockedResource'
        description: Describes a blocked resource issue.
    type: object
  RunMobileFriendlyTestRequest:
    description: Mobile-friendly test request.
    properties:
      requestScreenshot:
        description: Whether or not screenshot is requested. Default is false.
        type: boolean
      url:
        description: URL for inspection.
        type: string
    type: object
  RunMobileFriendlyTestResponse:
    description: |-
      Mobile-friendly test response, including mobile-friendly issues and resource
      issues.
    properties:
      mobileFriendliness:
        description: 'Test verdict, whether the page is mobile friendly or not.'
        enum:
          - MOBILE_FRIENDLY_TEST_RESULT_UNSPECIFIED
          - MOBILE_FRIENDLY
          - NOT_MOBILE_FRIENDLY
        type: string
      mobileFriendlyIssues:
        description: List of mobile-usability issues.
        items:
          $ref: '#/definitions/MobileFriendlyIssue'
        type: array
      resourceIssues:
        description: Information about embedded resources issues.
        items:
          $ref: '#/definitions/ResourceIssue'
        type: array
      screenshot:
        $ref: '#/definitions/Image'
        description: Screenshot of the requested URL.
      testStatus:
        $ref: '#/definitions/TestStatus'
        description: 'Final state of the test, can be either complete or an error.'
    type: object
  TestStatus:
    description: 'Final state of the test, including error details if necessary.'
    properties:
      details:
        description: Error details if applicable.
        type: string
      status:
        description: Status of the test.
        enum:
          - TEST_STATUS_UNSPECIFIED
          - COMPLETE
          - INTERNAL_ERROR
          - PAGE_UNREACHABLE
        type: string
    type: object
