{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://webfonts.googleapis.com/"
    }
  ],
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com",
      "x-twitter": "youtube"
    },
    "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Web Fonts Developer API",
    "version": "v1",
    "x-apiClientRegistration": {
      "url": "https://console.developers.google.com"
    },
    "x-apisguru-categories": [
      "analytics",
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
    },
    "x-origin": [
      {
        "format": "google",
        "url": "https://webfonts.googleapis.com/$discovery/rest?version=v1",
        "version": "v1"
      }
    ],
    "x-providerName": "googleapis.com",
    "x-serviceName": "webfonts"
  },
  "externalDocs": {
    "url": "https://developers.google.com/fonts/docs/developer_api"
  },
  "tags": [
    {
      "name": "webfonts"
    }
  ],
  "paths": {
    "/v1/webfonts": {
      "get": {
        "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
        "operationId": "webfonts.webfonts.list",
        "parameters": [
          {
            "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
            "explode": true,
            "in": "query",
            "name": "capability",
            "schema": {
              "items": {
                "enum": [
                  "CAPABILITY_UNSPECIFIED",
                  "WOFF2",
                  "VF"
                ],
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
            "explode": true,
            "in": "query",
            "name": "family",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Enables sorting of the list.",
            "in": "query",
            "name": "sort",
            "schema": {
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
            "in": "query",
            "name": "subset",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebfontList"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "tags": [
          "webfonts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    }
  },
  "components": {
    "parameters": {
      "_.xgafv": {
        "description": "V1 error format.",
        "in": "query",
        "name": "$.xgafv",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "type": "string"
        }
      },
      "access_token": {
        "description": "OAuth access token.",
        "in": "query",
        "name": "access_token",
        "schema": {
          "type": "string"
        }
      },
      "alt": {
        "description": "Data format for response.",
        "in": "query",
        "name": "alt",
        "schema": {
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "type": "string"
        }
      },
      "callback": {
        "description": "JSONP",
        "in": "query",
        "name": "callback",
        "schema": {
          "type": "string"
        }
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        }
      },
      "key": {
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "in": "query",
        "name": "key",
        "schema": {
          "type": "string"
        }
      },
      "oauth_token": {
        "description": "OAuth 2.0 token for the current user.",
        "in": "query",
        "name": "oauth_token",
        "schema": {
          "type": "string"
        }
      },
      "prettyPrint": {
        "description": "Returns response with indentations and line breaks.",
        "in": "query",
        "name": "prettyPrint",
        "schema": {
          "type": "boolean"
        }
      },
      "quotaUser": {
        "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
        "in": "query",
        "name": "quotaUser",
        "schema": {
          "type": "string"
        }
      },
      "uploadType": {
        "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
        "in": "query",
        "name": "uploadType",
        "schema": {
          "type": "string"
        }
      },
      "upload_protocol": {
        "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
        "in": "query",
        "name": "upload_protocol",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Axis": {
        "description": "Metadata for a variable font axis.",
        "properties": {
          "end": {
            "description": "maximum value",
            "format": "float",
            "type": "number"
          },
          "start": {
            "description": "minimum value",
            "format": "float",
            "type": "number"
          },
          "tag": {
            "description": "tag name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Webfont": {
        "description": "Metadata describing a family of fonts.",
        "properties": {
          "axes": {
            "description": "Axis for variable fonts.",
            "items": {
              "$ref": "#/components/schemas/Axis"
            },
            "type": "array"
          },
          "category": {
            "description": "The category of the font.",
            "type": "string"
          },
          "family": {
            "description": "The name of the font.",
            "type": "string"
          },
          "files": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
            "type": "object"
          },
          "kind": {
            "description": "This kind represents a webfont object in the webfonts service.",
            "type": "string"
          },
          "lastModified": {
            "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
            "type": "string"
          },
          "menu": {
            "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
            "type": "string"
          },
          "subsets": {
            "description": "The scripts supported by the font.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "variants": {
            "description": "The available variants for the font.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "version": {
            "description": "The font version.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "WebfontList": {
        "description": "Response containing the list of fonts currently served by the Google Fonts API.",
        "properties": {
          "items": {
            "description": "The list of fonts currently served by the Google Fonts API.",
            "items": {
              "$ref": "#/components/schemas/Webfont"
            },
            "type": "array"
          },
          "kind": {
            "description": "This kind represents a list of webfont objects in the webfonts service.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}