swagger: '2.0'
schemes:
  - https
  - http
host: rds.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>Amazon Neptune</fullname> <p>Amazon Neptune is a fast, reliable, fully-managed graph database service that makes it easy to build and run applications that work with highly connected datasets. The core of Amazon Neptune is a purpose-built, high-performance graph database engine optimized for storing billions of relationships and querying the graph with milliseconds latency. Amazon Neptune supports popular graph models Property Graph and W3C''s RDF, and their respective query languages Apache TinkerPop Gremlin and SPARQL, allowing you to easily build queries that efficiently navigate highly connected datasets. Neptune powers graph use cases such as recommendation engines, fraud detection, knowledge graphs, drug discovery, and network security.</p> <p>This interface reference for Amazon Neptune contains documentation for a programming or command line interface you can use to manage Amazon Neptune. Note that Amazon Neptune is asynchronous, which means that some interfaces might require techniques such as polling or callback functions to determine when a command has been applied. In this reference, the parameter descriptions indicate whether a command is applied immediately, on the next instance reboot, or during the maintenance window. The reference structure is as follows, and we list following some related topics from the user guide.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Neptune
  version: '2014-10-31'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/neptune-2014-10-31.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: neptune
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/rds/'
consumes:
  - text/xml
produces:
  - text/xml
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#Action=AddRoleToDBCluster':
    get:
      description: Associates an Identity and Access Management (IAM) role from an Neptune DB cluster.
      operationId: GET AddRoleToDBCluster
      parameters:
        - description: The name of the DB cluster to associate the IAM role with.
          in: query
          name: DBClusterIdentifier
          required: true
          type: string
        - description: 'The Amazon Resource Name (ARN) of the IAM role to associate with the Neptune DB cluster, for example <code>arn:aws:iam::123456789012:role/NeptuneAccessRole</code>.'
          in: query
          name: RoleArn
          required: true
          type: string
        - enum:
            - AddRoleToDBCluster
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '481':
          description: DBClusterRoleAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterRoleAlreadyExistsFault'
        '482':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '483':
          description: DBClusterRoleQuotaExceededFault
          schema:
            $ref: '#/definitions/DBClusterRoleQuotaExceededFault'
      x-aws-operation-name: AddRoleToDBCluster
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Associates an Identity and Access Management (IAM) role from an Neptune DB cluster.
      operationId: POST AddRoleToDBCluster
      parameters:
        - description: The name of the DB cluster to associate the IAM role with.
          in: formData
          name: DBClusterIdentifier
          required: true
          type: string
        - description: 'The Amazon Resource Name (ARN) of the IAM role to associate with the Neptune DB cluster, for example <code>arn:aws:iam::123456789012:role/NeptuneAccessRole</code>.'
          in: formData
          name: RoleArn
          required: true
          type: string
        - enum:
            - AddRoleToDBCluster
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '481':
          description: DBClusterRoleAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterRoleAlreadyExistsFault'
        '482':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '483':
          description: DBClusterRoleQuotaExceededFault
          schema:
            $ref: '#/definitions/DBClusterRoleQuotaExceededFault'
      x-aws-operation-name: AddRoleToDBCluster
  '/#Action=AddSourceIdentifierToSubscription':
    get:
      description: Adds a source identifier to an existing event notification subscription.
      operationId: GET AddSourceIdentifierToSubscription
      parameters:
        - description: The name of the event notification subscription you want to add a source identifier to.
          in: query
          name: SubscriptionName
          required: true
          type: string
        - description: '<p>The identifier of the event source to be added.</p> <p>Constraints:</p> <ul> <li> <p>If the source type is a DB instance, then a <code>DBInstanceIdentifier</code> must be supplied.</p> </li> <li> <p>If the source type is a DB security group, a <code>DBSecurityGroupName</code> must be supplied.</p> </li> <li> <p>If the source type is a DB parameter group, a <code>DBParameterGroupName</code> must be supplied.</p> </li> <li> <p>If the source type is a DB snapshot, a <code>DBSnapshotIdentifier</code> must be supplied.</p> </li> </ul>'
          in: query
          name: SourceIdentifier
          required: true
          type: string
        - enum:
            - AddSourceIdentifierToSubscription
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddSourceIdentifierToSubscriptionResult'
        '480':
          description: SubscriptionNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionNotFoundFault'
        '481':
          description: SourceNotFoundFault
          schema:
            $ref: '#/definitions/SourceNotFoundFault'
      x-aws-operation-name: AddSourceIdentifierToSubscription
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds a source identifier to an existing event notification subscription.
      operationId: POST AddSourceIdentifierToSubscription
      parameters:
        - description: The name of the event notification subscription you want to add a source identifier to.
          in: formData
          name: SubscriptionName
          required: true
          type: string
        - description: '<p>The identifier of the event source to be added.</p> <p>Constraints:</p> <ul> <li> <p>If the source type is a DB instance, then a <code>DBInstanceIdentifier</code> must be supplied.</p> </li> <li> <p>If the source type is a DB security group, a <code>DBSecurityGroupName</code> must be supplied.</p> </li> <li> <p>If the source type is a DB parameter group, a <code>DBParameterGroupName</code> must be supplied.</p> </li> <li> <p>If the source type is a DB snapshot, a <code>DBSnapshotIdentifier</code> must be supplied.</p> </li> </ul>'
          in: formData
          name: SourceIdentifier
          required: true
          type: string
        - enum:
            - AddSourceIdentifierToSubscription
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddSourceIdentifierToSubscriptionResult'
        '480':
          description: SubscriptionNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionNotFoundFault'
        '481':
          description: SourceNotFoundFault
          schema:
            $ref: '#/definitions/SourceNotFoundFault'
      x-aws-operation-name: AddSourceIdentifierToSubscription
  '/#Action=AddTagsToResource':
    get:
      description: 'Adds metadata tags to an Amazon Neptune resource. These tags can also be used with cost allocation reporting to track cost associated with Amazon Neptune resources, or used in a Condition statement in an IAM policy for Amazon Neptune.'
      operationId: GET AddTagsToResource
      parameters:
        - description: 'The Amazon Neptune resource that the tags are added to. This value is an Amazon Resource Name (ARN). For information about creating an ARN, see <a href="https://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing"> Constructing an Amazon Resource Name (ARN)</a>.'
          in: query
          name: ResourceName
          required: true
          type: string
        - description: The tags to be assigned to the Amazon Neptune resource.
          in: query
          items:
            type: string
          name: Tags
          required: true
          type: array
        - enum:
            - AddTagsToResource
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        '482':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
      x-aws-operation-name: AddTagsToResource
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Adds metadata tags to an Amazon Neptune resource. These tags can also be used with cost allocation reporting to track cost associated with Amazon Neptune resources, or used in a Condition statement in an IAM policy for Amazon Neptune.'
      operationId: POST AddTagsToResource
      parameters:
        - description: 'The Amazon Neptune resource that the tags are added to. This value is an Amazon Resource Name (ARN). For information about creating an ARN, see <a href="https://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing"> Constructing an Amazon Resource Name (ARN)</a>.'
          in: formData
          name: ResourceName
          required: true
          type: string
        - description: The tags to be assigned to the Amazon Neptune resource.
          in: formData
          items:
            type: string
          name: Tags
          required: true
          type: array
        - enum:
            - AddTagsToResource
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        '482':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
      x-aws-operation-name: AddTagsToResource
  '/#Action=ApplyPendingMaintenanceAction':
    get:
      description: 'Applies a pending maintenance action to a resource (for example, to a DB instance).'
      operationId: GET ApplyPendingMaintenanceAction
      parameters:
        - description: 'The Amazon Resource Name (ARN) of the resource that the pending maintenance action applies to. For information about creating an ARN, see <a href="https://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing"> Constructing an Amazon Resource Name (ARN)</a>.'
          in: query
          name: ResourceIdentifier
          required: true
          type: string
        - description: '<p>The pending maintenance action to apply to this resource.</p> <p>Valid values: <code>system-update</code>, <code>db-upgrade</code> </p>'
          in: query
          name: ApplyAction
          required: true
          type: string
        - description: '<p>A value that specifies the type of opt-in request, or undoes an opt-in request. An opt-in request of type <code>immediate</code> can''t be undone.</p> <p>Valid values:</p> <ul> <li> <p> <code>immediate</code> - Apply the maintenance action immediately.</p> </li> <li> <p> <code>next-maintenance</code> - Apply the maintenance action during the next maintenance window for the resource.</p> </li> <li> <p> <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in requests.</p> </li> </ul>'
          in: query
          name: OptInType
          required: true
          type: string
        - enum:
            - ApplyPendingMaintenanceAction
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApplyPendingMaintenanceActionResult'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      x-aws-operation-name: ApplyPendingMaintenanceAction
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Applies a pending maintenance action to a resource (for example, to a DB instance).'
      operationId: POST ApplyPendingMaintenanceAction
      parameters:
        - description: 'The Amazon Resource Name (ARN) of the resource that the pending maintenance action applies to. For information about creating an ARN, see <a href="https://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing"> Constructing an Amazon Resource Name (ARN)</a>.'
          in: formData
          name: ResourceIdentifier
          required: true
          type: string
        - description: '<p>The pending maintenance action to apply to this resource.</p> <p>Valid values: <code>system-update</code>, <code>db-upgrade</code> </p>'
          in: formData
          name: ApplyAction
          required: true
          type: string
        - description: '<p>A value that specifies the type of opt-in request, or undoes an opt-in request. An opt-in request of type <code>immediate</code> can''t be undone.</p> <p>Valid values:</p> <ul> <li> <p> <code>immediate</code> - Apply the maintenance action immediately.</p> </li> <li> <p> <code>next-maintenance</code> - Apply the maintenance action during the next maintenance window for the resource.</p> </li> <li> <p> <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in requests.</p> </li> </ul>'
          in: formData
          name: OptInType
          required: true
          type: string
        - enum:
            - ApplyPendingMaintenanceAction
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApplyPendingMaintenanceActionResult'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      x-aws-operation-name: ApplyPendingMaintenanceAction
  '/#Action=CopyDBClusterParameterGroup':
    get:
      description: Copies the specified DB cluster parameter group.
      operationId: GET CopyDBClusterParameterGroup
      parameters:
        - description: '<p>The identifier or Amazon Resource Name (ARN) for the source DB cluster parameter group. For information about creating an ARN, see <a href="https://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing"> Constructing an Amazon Resource Name (ARN)</a>.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid DB cluster parameter group.</p> </li> <li> <p>If the source DB cluster parameter group is in the same AWS Region as the copy, specify a valid DB parameter group identifier, for example <code>my-db-cluster-param-group</code>, or a valid ARN.</p> </li> <li> <p>If the source DB parameter group is in a different AWS Region than the copy, specify a valid DB cluster parameter group ARN, for example <code>arn:aws:rds:us-east-1:123456789012:cluster-pg:custom-cluster-group1</code>.</p> </li> </ul>'
          in: query
          name: SourceDBClusterParameterGroupIdentifier
          required: true
          type: string
        - description: '<p>The identifier for the copied DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <p>Example: <code>my-cluster-param-group1</code> </p>'
          in: query
          name: TargetDBClusterParameterGroupIdentifier
          required: true
          type: string
        - description: A description for the copied DB cluster parameter group.
          in: query
          name: TargetDBClusterParameterGroupDescription
          required: true
          type: string
        - description: The tags to be assigned to the copied DB cluster parameter group.
          in: query
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CopyDBClusterParameterGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBClusterParameterGroupResult'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '481':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '482':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      x-aws-operation-name: CopyDBClusterParameterGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Copies the specified DB cluster parameter group.
      operationId: POST CopyDBClusterParameterGroup
      parameters:
        - description: '<p>The identifier or Amazon Resource Name (ARN) for the source DB cluster parameter group. For information about creating an ARN, see <a href="https://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing"> Constructing an Amazon Resource Name (ARN)</a>.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid DB cluster parameter group.</p> </li> <li> <p>If the source DB cluster parameter group is in the same AWS Region as the copy, specify a valid DB parameter group identifier, for example <code>my-db-cluster-param-group</code>, or a valid ARN.</p> </li> <li> <p>If the source DB parameter group is in a different AWS Region than the copy, specify a valid DB cluster parameter group ARN, for example <code>arn:aws:rds:us-east-1:123456789012:cluster-pg:custom-cluster-group1</code>.</p> </li> </ul>'
          in: formData
          name: SourceDBClusterParameterGroupIdentifier
          required: true
          type: string
        - description: '<p>The identifier for the copied DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <p>Example: <code>my-cluster-param-group1</code> </p>'
          in: formData
          name: TargetDBClusterParameterGroupIdentifier
          required: true
          type: string
        - description: A description for the copied DB cluster parameter group.
          in: formData
          name: TargetDBClusterParameterGroupDescription
          required: true
          type: string
        - description: The tags to be assigned to the copied DB cluster parameter group.
          in: formData
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CopyDBClusterParameterGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBClusterParameterGroupResult'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '481':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '482':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      x-aws-operation-name: CopyDBClusterParameterGroup
  '/#Action=CopyDBClusterSnapshot':
    get:
      description: '<p>Copies a snapshot of a DB cluster.</p> <p>To copy a DB cluster snapshot from a shared manual DB cluster snapshot, <code>SourceDBClusterSnapshotIdentifier</code> must be the Amazon Resource Name (ARN) of the shared DB cluster snapshot.</p> <p>You can''t copy from one AWS Region to another.</p>'
      operationId: GET CopyDBClusterSnapshot
      parameters:
        - description: '<p>The identifier of the DB cluster snapshot to copy. This parameter is not case-sensitive.</p> <p>You can''t copy from one AWS Region to another.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid system snapshot in the "available" state.</p> </li> <li> <p>Specify a valid DB snapshot identifier.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>'
          in: query
          name: SourceDBClusterSnapshotIdentifier
          required: true
          type: string
        - description: '<p>The identifier of the new DB cluster snapshot to create from the source DB cluster snapshot. This parameter is not case-sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot2</code> </p>'
          in: query
          name: TargetDBClusterSnapshotIdentifier
          required: true
          type: string
        - description: '<p>The AWS AWS KMS key ID for an encrypted DB cluster snapshot. The KMS key ID is the Amazon Resource Name (ARN), KMS key identifier, or the KMS key alias for the KMS encryption key.</p> <p>If you copy an unencrypted DB cluster snapshot and specify a value for the <code>KmsKeyId</code> parameter, Amazon Neptune encrypts the target DB cluster snapshot using the specified KMS encryption key.</p> <p>If you copy an encrypted DB cluster snapshot from your AWS account, you can specify a value for <code>KmsKeyId</code> to encrypt the copy with a new KMS encryption key. If you don''t specify a value for <code>KmsKeyId</code>, then the copy of the DB cluster snapshot is encrypted with the same KMS key as the source DB cluster snapshot.</p> <p>If you copy an encrypted DB cluster snapshot that is shared from another AWS account, then you must specify a value for <code>KmsKeyId</code>.</p> <p> KMS encryption keys are specific to the AWS Region that they are created in, and you can''t use encryption keys from one AWS Region in another AWS Region.</p>'
          in: query
          name: KmsKeyId
          required: false
          type: string
        - description: Not currently supported.
          in: query
          name: PreSignedUrl
          required: false
          type: string
        - description: 'True to copy all tags from the source DB cluster snapshot to the target DB cluster snapshot, and otherwise false. The default is false.'
          in: query
          name: CopyTags
          required: false
          type: boolean
        - description: The tags to assign to the new DB cluster snapshot copy.
          in: query
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CopyDBClusterSnapshot
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBClusterSnapshotResult'
        '480':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '481':
          description: DBClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotNotFoundFault'
        '482':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '483':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
        '484':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '485':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      x-aws-operation-name: CopyDBClusterSnapshot
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Copies a snapshot of a DB cluster.</p> <p>To copy a DB cluster snapshot from a shared manual DB cluster snapshot, <code>SourceDBClusterSnapshotIdentifier</code> must be the Amazon Resource Name (ARN) of the shared DB cluster snapshot.</p> <p>You can''t copy from one AWS Region to another.</p>'
      operationId: POST CopyDBClusterSnapshot
      parameters:
        - description: '<p>The identifier of the DB cluster snapshot to copy. This parameter is not case-sensitive.</p> <p>You can''t copy from one AWS Region to another.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid system snapshot in the "available" state.</p> </li> <li> <p>Specify a valid DB snapshot identifier.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>'
          in: formData
          name: SourceDBClusterSnapshotIdentifier
          required: true
          type: string
        - description: '<p>The identifier of the new DB cluster snapshot to create from the source DB cluster snapshot. This parameter is not case-sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot2</code> </p>'
          in: formData
          name: TargetDBClusterSnapshotIdentifier
          required: true
          type: string
        - description: '<p>The AWS AWS KMS key ID for an encrypted DB cluster snapshot. The KMS key ID is the Amazon Resource Name (ARN), KMS key identifier, or the KMS key alias for the KMS encryption key.</p> <p>If you copy an unencrypted DB cluster snapshot and specify a value for the <code>KmsKeyId</code> parameter, Amazon Neptune encrypts the target DB cluster snapshot using the specified KMS encryption key.</p> <p>If you copy an encrypted DB cluster snapshot from your AWS account, you can specify a value for <code>KmsKeyId</code> to encrypt the copy with a new KMS encryption key. If you don''t specify a value for <code>KmsKeyId</code>, then the copy of the DB cluster snapshot is encrypted with the same KMS key as the source DB cluster snapshot.</p> <p>If you copy an encrypted DB cluster snapshot that is shared from another AWS account, then you must specify a value for <code>KmsKeyId</code>.</p> <p> KMS encryption keys are specific to the AWS Region that they are created in, and you can''t use encryption keys from one AWS Region in another AWS Region.</p>'
          in: formData
          name: KmsKeyId
          required: false
          type: string
        - description: Not currently supported.
          in: formData
          name: PreSignedUrl
          required: false
          type: string
        - description: 'True to copy all tags from the source DB cluster snapshot to the target DB cluster snapshot, and otherwise false. The default is false.'
          in: formData
          name: CopyTags
          required: false
          type: boolean
        - description: The tags to assign to the new DB cluster snapshot copy.
          in: formData
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CopyDBClusterSnapshot
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBClusterSnapshotResult'
        '480':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '481':
          description: DBClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotNotFoundFault'
        '482':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '483':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
        '484':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '485':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      x-aws-operation-name: CopyDBClusterSnapshot
  '/#Action=CopyDBParameterGroup':
    get:
      description: Copies the specified DB parameter group.
      operationId: GET CopyDBParameterGroup
      parameters:
        - description: '<p>The identifier or ARN for the source DB parameter group. For information about creating an ARN, see <a href="https://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing"> Constructing an Amazon Resource Name (ARN)</a>.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid DB parameter group.</p> </li> <li> <p>Must specify a valid DB parameter group identifier, for example <code>my-db-param-group</code>, or a valid ARN.</p> </li> </ul>'
          in: query
          name: SourceDBParameterGroupIdentifier
          required: true
          type: string
        - description: '<p>The identifier for the copied DB parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank.</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-db-parameter-group</code> </p>'
          in: query
          name: TargetDBParameterGroupIdentifier
          required: true
          type: string
        - description: A description for the copied DB parameter group.
          in: query
          name: TargetDBParameterGroupDescription
          required: true
          type: string
        - description: The tags to be assigned to the copied DB parameter group.
          in: query
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CopyDBParameterGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBParameterGroupResult'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '481':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
        '482':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
      x-aws-operation-name: CopyDBParameterGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Copies the specified DB parameter group.
      operationId: POST CopyDBParameterGroup
      parameters:
        - description: '<p>The identifier or ARN for the source DB parameter group. For information about creating an ARN, see <a href="https://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing"> Constructing an Amazon Resource Name (ARN)</a>.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid DB parameter group.</p> </li> <li> <p>Must specify a valid DB parameter group identifier, for example <code>my-db-param-group</code>, or a valid ARN.</p> </li> </ul>'
          in: formData
          name: SourceDBParameterGroupIdentifier
          required: true
          type: string
        - description: '<p>The identifier for the copied DB parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank.</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-db-parameter-group</code> </p>'
          in: formData
          name: TargetDBParameterGroupIdentifier
          required: true
          type: string
        - description: A description for the copied DB parameter group.
          in: formData
          name: TargetDBParameterGroupDescription
          required: true
          type: string
        - description: The tags to be assigned to the copied DB parameter group.
          in: formData
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CopyDBParameterGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBParameterGroupResult'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '481':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
        '482':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
      x-aws-operation-name: CopyDBParameterGroup
  '/#Action=CreateDBCluster':
    get:
      description: <p>Creates a new Amazon Neptune DB cluster.</p> <p>You can use the <code>ReplicationSourceIdentifier</code> parameter to create the DB cluster as a Read Replica of another DB cluster or Amazon Neptune DB instance.</p>
      operationId: GET CreateDBCluster
      parameters:
        - description: A list of EC2 Availability Zones that instances in the DB cluster can be created in.
          in: query
          items:
            type: string
          name: AvailabilityZones
          required: false
          type: array
        - description: '<p>The number of days for which automated backups are retained. You must specify a minimum value of 1.</p> <p>Default: 1</p> <p>Constraints:</p> <ul> <li> <p>Must be a value from 1 to 35</p> </li> </ul>'
          in: query
          name: BackupRetentionPeriod
          required: false
          type: integer
        - description: A value that indicates that the DB cluster should be associated with the specified CharacterSet.
          in: query
          name: CharacterSetName
          required: false
          type: string
        - description: 'The name for your database of up to 64 alpha-numeric characters. If you do not provide a name, Amazon Neptune will not create a database in the DB cluster you are creating.'
          in: query
          name: DatabaseName
          required: false
          type: string
        - description: '<p>The DB cluster identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster1</code> </p>'
          in: query
          name: DBClusterIdentifier
          required: true
          type: string
        - description: '<p> The name of the DB cluster parameter group to associate with this DB cluster. If this argument is omitted, the default is used.</p> <p>Constraints:</p> <ul> <li> <p>If supplied, must match the name of an existing DBClusterParameterGroup.</p> </li> </ul>'
          in: query
          name: DBClusterParameterGroupName
          required: false
          type: string
        - description: A list of EC2 VPC security groups to associate with this DB cluster.
          in: query
          items:
            type: string
          name: VpcSecurityGroupIds
          required: false
          type: array
        - description: '<p>A DB subnet group to associate with this DB cluster.</p> <p>Constraints: Must match the name of an existing DBSubnetGroup. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>'
          in: query
          name: DBSubnetGroupName
          required: false
          type: string
        - description: '<p>The name of the database engine to be used for this DB cluster.</p> <p>Valid Values: <code>neptune</code> </p>'
          in: query
          name: Engine
          required: true
          type: string
        - description: '<p>The version number of the database engine to use.</p> <p>Example: <code>1.0.1</code> </p>'
          in: query
          name: EngineVersion
          required: false
          type: string
        - description: '<p>The port number on which the instances in the DB cluster accept connections.</p> <p> Default: <code>8182</code> </p>'
          in: query
          name: Port
          required: false
          type: integer
        - description: '<p>The name of the master user for the DB cluster.</p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 16 letters or numbers.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot be a reserved word for the chosen database engine.</p> </li> </ul>'
          in: query
          name: MasterUsername
          required: false
          type: string
        - description: '<p>The password for the master database user. This password can contain any printable ASCII character except "/", """, or "@".</p> <p>Constraints: Must contain from 8 to 41 characters.</p>'
          in: query
          name: MasterUserPassword
          required: false
          type: string
        - description: <p>A value that indicates that the DB cluster should be associated with the specified option group.</p> <p>Permanent options can't be removed from an option group. The option group can't be removed from a DB cluster once it is associated with a DB cluster.</p>
          in: query
          name: OptionGroupName
          required: false
          type: string
        - description: '<p>The daily time range during which automated backups are created if automated backups are enabled using the <code>BackupRetentionPeriod</code> parameter.</p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region. To see the time blocks available, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/AdjustingTheMaintenanceWindow.html"> Adjusting the Preferred Maintenance Window</a> in the <i>Amazon Neptune User Guide.</i> </p> <p>Constraints:</p> <ul> <li> <p>Must be in the format <code>hh24:mi-hh24:mi</code>.</p> </li> <li> <p>Must be in Universal Coordinated Time (UTC).</p> </li> <li> <p>Must not conflict with the preferred maintenance window.</p> </li> <li> <p>Must be at least 30 minutes.</p> </li> </ul>'
          in: query
          name: PreferredBackupWindow
          required: false
          type: string
        - description: '<p>The weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p>Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region, occurring on a random day of the week. To see the time blocks available, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/AdjustingTheMaintenanceWindow.html"> Adjusting the Preferred Maintenance Window</a> in the <i>Amazon Neptune User Guide.</i> </p> <p>Valid Days: Mon, Tue, Wed, Thu, Fri, Sat, Sun.</p> <p>Constraints: Minimum 30-minute window.</p>'
          in: query
          name: PreferredMaintenanceWindow
          required: false
          type: string
        - description: The Amazon Resource Name (ARN) of the source DB instance or DB cluster if this DB cluster is created as a Read Replica.
          in: query
          name: ReplicationSourceIdentifier
          required: false
          type: string
        - description: The tags to assign to the new DB cluster.
          in: query
          items:
            type: string
          name: Tags
          required: false
          type: array
        - description: Specifies whether the DB cluster is encrypted.
          in: query
          name: StorageEncrypted
          required: false
          type: boolean
        - description: '<p>The AWS KMS key identifier for an encrypted DB cluster.</p> <p>The KMS key identifier is the Amazon Resource Name (ARN) for the KMS encryption key. If you are creating a DB cluster with the same AWS account that owns the KMS encryption key used to encrypt the new DB cluster, then you can use the KMS key alias instead of the ARN for the KMS encryption key.</p> <p>If an encryption key is not specified in <code>KmsKeyId</code>:</p> <ul> <li> <p>If <code>ReplicationSourceIdentifier</code> identifies an encrypted source, then Amazon Neptune will use the encryption key used to encrypt the source. Otherwise, Amazon Neptune will use your default encryption key.</p> </li> <li> <p>If the <code>StorageEncrypted</code> parameter is true and <code>ReplicationSourceIdentifier</code> is not specified, then Amazon Neptune will use your default encryption key.</p> </li> </ul> <p>AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS Region.</p> <p>If you create a Read Replica of an encrypted DB cluster in another AWS Region, you must set <code>KmsKeyId</code> to a KMS key ID that is valid in the destination AWS Region. This key is used to encrypt the Read Replica in that AWS Region.</p>'
          in: query
          name: KmsKeyId
          required: false
          type: string
        - description: This parameter is not currently supported.
          in: query
          name: PreSignedUrl
          required: false
          type: string
        - description: '<p>True to enable mapping of AWS Identity and Access Management (IAM) accounts to database accounts, and otherwise false.</p> <p>Default: <code>false</code> </p>'
          in: query
          name: EnableIAMDatabaseAuthentication
          required: false
          type: boolean
        - description: The list of log types that need to be enabled for exporting to CloudWatch Logs.
          in: query
          items:
            type: string
          name: EnableCloudwatchLogsExports
          required: false
          type: array
        - enum:
            - CreateDBCluster
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterResult'
        '480':
          description: DBClusterAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterAlreadyExistsFault'
        '481':
          description: InsufficientStorageClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientStorageClusterCapacityFault'
        '482':
          description: DBClusterQuotaExceededFault
          schema:
            $ref: '#/definitions/DBClusterQuotaExceededFault'
        '483':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '484':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '485':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '486':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '487':
          description: InvalidDBSubnetGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetGroupStateFault'
        '488':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '489':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '490':
          description: DBClusterParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterParameterGroupNotFoundFault'
        '491':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '492':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '493':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '494':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
      x-aws-operation-name: CreateDBCluster
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Creates a new Amazon Neptune DB cluster.</p> <p>You can use the <code>ReplicationSourceIdentifier</code> parameter to create the DB cluster as a Read Replica of another DB cluster or Amazon Neptune DB instance.</p>
      operationId: POST CreateDBCluster
      parameters:
        - description: A list of EC2 Availability Zones that instances in the DB cluster can be created in.
          in: formData
          items:
            type: string
          name: AvailabilityZones
          required: false
          type: array
        - description: '<p>The number of days for which automated backups are retained. You must specify a minimum value of 1.</p> <p>Default: 1</p> <p>Constraints:</p> <ul> <li> <p>Must be a value from 1 to 35</p> </li> </ul>'
          in: formData
          name: BackupRetentionPeriod
          required: false
          type: integer
        - description: A value that indicates that the DB cluster should be associated with the specified CharacterSet.
          in: formData
          name: CharacterSetName
          required: false
          type: string
        - description: 'The name for your database of up to 64 alpha-numeric characters. If you do not provide a name, Amazon Neptune will not create a database in the DB cluster you are creating.'
          in: formData
          name: DatabaseName
          required: false
          type: string
        - description: '<p>The DB cluster identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster1</code> </p>'
          in: formData
          name: DBClusterIdentifier
          required: true
          type: string
        - description: '<p> The name of the DB cluster parameter group to associate with this DB cluster. If this argument is omitted, the default is used.</p> <p>Constraints:</p> <ul> <li> <p>If supplied, must match the name of an existing DBClusterParameterGroup.</p> </li> </ul>'
          in: formData
          name: DBClusterParameterGroupName
          required: false
          type: string
        - description: A list of EC2 VPC security groups to associate with this DB cluster.
          in: formData
          items:
            type: string
          name: VpcSecurityGroupIds
          required: false
          type: array
        - description: '<p>A DB subnet group to associate with this DB cluster.</p> <p>Constraints: Must match the name of an existing DBSubnetGroup. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>'
          in: formData
          name: DBSubnetGroupName
          required: false
          type: string
        - description: '<p>The name of the database engine to be used for this DB cluster.</p> <p>Valid Values: <code>neptune</code> </p>'
          in: formData
          name: Engine
          required: true
          type: string
        - description: '<p>The version number of the database engine to use.</p> <p>Example: <code>1.0.1</code> </p>'
          in: formData
          name: EngineVersion
          required: false
          type: string
        - description: '<p>The port number on which the instances in the DB cluster accept connections.</p> <p> Default: <code>8182</code> </p>'
          in: formData
          name: Port
          required: false
          type: integer
        - description: '<p>The name of the master user for the DB cluster.</p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 16 letters or numbers.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot be a reserved word for the chosen database engine.</p> </li> </ul>'
          in: formData
          name: MasterUsername
          required: false
          type: string
        - description: '<p>The password for the master database user. This password can contain any printable ASCII character except "/", """, or "@".</p> <p>Constraints: Must contain from 8 to 41 characters.</p>'
          in: formData
          name: MasterUserPassword
          required: false
          type: string
        - description: <p>A value that indicates that the DB cluster should be associated with the specified option group.</p> <p>Permanent options can't be removed from an option group. The option group can't be removed from a DB cluster once it is associated with a DB cluster.</p>
          in: formData
          name: OptionGroupName
          required: false
          type: string
        - description: '<p>The daily time range during which automated backups are created if automated backups are enabled using the <code>BackupRetentionPeriod</code> parameter.</p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region. To see the time blocks available, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/AdjustingTheMaintenanceWindow.html"> Adjusting the Preferred Maintenance Window</a> in the <i>Amazon Neptune User Guide.</i> </p> <p>Constraints:</p> <ul> <li> <p>Must be in the format <code>hh24:mi-hh24:mi</code>.</p> </li> <li> <p>Must be in Universal Coordinated Time (UTC).</p> </li> <li> <p>Must not conflict with the preferred maintenance window.</p> </li> <li> <p>Must be at least 30 minutes.</p> </li> </ul>'
          in: formData
          name: PreferredBackupWindow
          required: false
          type: string
        - description: '<p>The weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p>Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region, occurring on a random day of the week. To see the time blocks available, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/AdjustingTheMaintenanceWindow.html"> Adjusting the Preferred Maintenance Window</a> in the <i>Amazon Neptune User Guide.</i> </p> <p>Valid Days: Mon, Tue, Wed, Thu, Fri, Sat, Sun.</p> <p>Constraints: Minimum 30-minute window.</p>'
          in: formData
          name: PreferredMaintenanceWindow
          required: false
          type: string
        - description: The Amazon Resource Name (ARN) of the source DB instance or DB cluster if this DB cluster is created as a Read Replica.
          in: formData
          name: ReplicationSourceIdentifier
          required: false
          type: string
        - description: The tags to assign to the new DB cluster.
          in: formData
          items:
            type: string
          name: Tags
          required: false
          type: array
        - description: Specifies whether the DB cluster is encrypted.
          in: formData
          name: StorageEncrypted
          required: false
          type: boolean
        - description: '<p>The AWS KMS key identifier for an encrypted DB cluster.</p> <p>The KMS key identifier is the Amazon Resource Name (ARN) for the KMS encryption key. If you are creating a DB cluster with the same AWS account that owns the KMS encryption key used to encrypt the new DB cluster, then you can use the KMS key alias instead of the ARN for the KMS encryption key.</p> <p>If an encryption key is not specified in <code>KmsKeyId</code>:</p> <ul> <li> <p>If <code>ReplicationSourceIdentifier</code> identifies an encrypted source, then Amazon Neptune will use the encryption key used to encrypt the source. Otherwise, Amazon Neptune will use your default encryption key.</p> </li> <li> <p>If the <code>StorageEncrypted</code> parameter is true and <code>ReplicationSourceIdentifier</code> is not specified, then Amazon Neptune will use your default encryption key.</p> </li> </ul> <p>AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS Region.</p> <p>If you create a Read Replica of an encrypted DB cluster in another AWS Region, you must set <code>KmsKeyId</code> to a KMS key ID that is valid in the destination AWS Region. This key is used to encrypt the Read Replica in that AWS Region.</p>'
          in: formData
          name: KmsKeyId
          required: false
          type: string
        - description: This parameter is not currently supported.
          in: formData
          name: PreSignedUrl
          required: false
          type: string
        - description: '<p>True to enable mapping of AWS Identity and Access Management (IAM) accounts to database accounts, and otherwise false.</p> <p>Default: <code>false</code> </p>'
          in: formData
          name: EnableIAMDatabaseAuthentication
          required: false
          type: boolean
        - description: The list of log types that need to be enabled for exporting to CloudWatch Logs.
          in: formData
          items:
            type: string
          name: EnableCloudwatchLogsExports
          required: false
          type: array
        - enum:
            - CreateDBCluster
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterResult'
        '480':
          description: DBClusterAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterAlreadyExistsFault'
        '481':
          description: InsufficientStorageClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientStorageClusterCapacityFault'
        '482':
          description: DBClusterQuotaExceededFault
          schema:
            $ref: '#/definitions/DBClusterQuotaExceededFault'
        '483':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '484':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '485':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '486':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '487':
          description: InvalidDBSubnetGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetGroupStateFault'
        '488':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '489':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '490':
          description: DBClusterParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterParameterGroupNotFoundFault'
        '491':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '492':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '493':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '494':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
      x-aws-operation-name: CreateDBCluster
  '/#Action=CreateDBClusterParameterGroup':
    get:
      description: '<p>Creates a new DB cluster parameter group.</p> <p>Parameters in a DB cluster parameter group apply to all of the instances in a DB cluster.</p> <p> A DB cluster parameter group is initially created with the default parameters for the database engine used by instances in the DB cluster. To provide custom values for any of the parameters, you must modify the group after creating it using <a>ModifyDBClusterParameterGroup</a>. Once you''ve created a DB cluster parameter group, you need to associate it with your DB cluster using <a>ModifyDBCluster</a>. When you associate a new DB cluster parameter group with a running DB cluster, you need to reboot the DB instances in the DB cluster without failover for the new DB cluster parameter group and associated settings to take effect.</p> <important> <p>After you create a DB cluster parameter group, you should wait at least 5 minutes before creating your first DB cluster that uses that DB cluster parameter group as the default parameter group. This allows Amazon Neptune to fully complete the create action before the DB cluster parameter group is used as the default for a new DB cluster. This is especially important for parameters that are critical when creating the default database for a DB cluster, such as the character set for the default database defined by the <code>character_set_database</code> parameter. You can use the <i>Parameter Groups</i> option of the <a href="https://console.aws.amazon.com/rds/">Amazon Neptune console</a> or the <a>DescribeDBClusterParameters</a> command to verify that your DB cluster parameter group has been created or modified.</p> </important>'
      operationId: GET CreateDBClusterParameterGroup
      parameters:
        - description: '<p>The name of the DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must match the name of an existing DBClusterParameterGroup.</p> </li> </ul> <note> <p>This value is stored as a lowercase string.</p> </note>'
          in: query
          name: DBClusterParameterGroupName
          required: true
          type: string
        - description: 'The DB cluster parameter group family name. A DB cluster parameter group can be associated with one and only one DB cluster parameter group family, and can be applied only to a DB cluster running a database engine and engine version compatible with that DB cluster parameter group family.'
          in: query
          name: DBParameterGroupFamily
          required: true
          type: string
        - description: The description for the DB cluster parameter group.
          in: query
          name: Description
          required: true
          type: string
        - description: The tags to be assigned to the new DB cluster parameter group.
          in: query
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CreateDBClusterParameterGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterParameterGroupResult'
        '480':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '481':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      x-aws-operation-name: CreateDBClusterParameterGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a new DB cluster parameter group.</p> <p>Parameters in a DB cluster parameter group apply to all of the instances in a DB cluster.</p> <p> A DB cluster parameter group is initially created with the default parameters for the database engine used by instances in the DB cluster. To provide custom values for any of the parameters, you must modify the group after creating it using <a>ModifyDBClusterParameterGroup</a>. Once you''ve created a DB cluster parameter group, you need to associate it with your DB cluster using <a>ModifyDBCluster</a>. When you associate a new DB cluster parameter group with a running DB cluster, you need to reboot the DB instances in the DB cluster without failover for the new DB cluster parameter group and associated settings to take effect.</p> <important> <p>After you create a DB cluster parameter group, you should wait at least 5 minutes before creating your first DB cluster that uses that DB cluster parameter group as the default parameter group. This allows Amazon Neptune to fully complete the create action before the DB cluster parameter group is used as the default for a new DB cluster. This is especially important for parameters that are critical when creating the default database for a DB cluster, such as the character set for the default database defined by the <code>character_set_database</code> parameter. You can use the <i>Parameter Groups</i> option of the <a href="https://console.aws.amazon.com/rds/">Amazon Neptune console</a> or the <a>DescribeDBClusterParameters</a> command to verify that your DB cluster parameter group has been created or modified.</p> </important>'
      operationId: POST CreateDBClusterParameterGroup
      parameters:
        - description: '<p>The name of the DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must match the name of an existing DBClusterParameterGroup.</p> </li> </ul> <note> <p>This value is stored as a lowercase string.</p> </note>'
          in: formData
          name: DBClusterParameterGroupName
          required: true
          type: string
        - description: 'The DB cluster parameter group family name. A DB cluster parameter group can be associated with one and only one DB cluster parameter group family, and can be applied only to a DB cluster running a database engine and engine version compatible with that DB cluster parameter group family.'
          in: formData
          name: DBParameterGroupFamily
          required: true
          type: string
        - description: The description for the DB cluster parameter group.
          in: formData
          name: Description
          required: true
          type: string
        - description: The tags to be assigned to the new DB cluster parameter group.
          in: formData
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CreateDBClusterParameterGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterParameterGroupResult'
        '480':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '481':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      x-aws-operation-name: CreateDBClusterParameterGroup
  '/#Action=CreateDBClusterSnapshot':
    get:
      description: Creates a snapshot of a DB cluster.
      operationId: GET CreateDBClusterSnapshot
      parameters:
        - description: '<p>The identifier of the DB cluster snapshot. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster1-snapshot1</code> </p>'
          in: query
          name: DBClusterSnapshotIdentifier
          required: true
          type: string
        - description: '<p>The identifier of the DB cluster to create a snapshot for. This parameter is not case-sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must match the identifier of an existing DBCluster.</p> </li> </ul> <p>Example: <code>my-cluster1</code> </p>'
          in: query
          name: DBClusterIdentifier
          required: true
          type: string
        - description: The tags to be assigned to the DB cluster snapshot.
          in: query
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CreateDBClusterSnapshot
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterSnapshotResult'
        '480':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '484':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
      x-aws-operation-name: CreateDBClusterSnapshot
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a snapshot of a DB cluster.
      operationId: POST CreateDBClusterSnapshot
      parameters:
        - description: '<p>The identifier of the DB cluster snapshot. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster1-snapshot1</code> </p>'
          in: formData
          name: DBClusterSnapshotIdentifier
          required: true
          type: string
        - description: '<p>The identifier of the DB cluster to create a snapshot for. This parameter is not case-sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must match the identifier of an existing DBCluster.</p> </li> </ul> <p>Example: <code>my-cluster1</code> </p>'
          in: formData
          name: DBClusterIdentifier
          required: true
          type: string
        - description: The tags to be assigned to the DB cluster snapshot.
          in: formData
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CreateDBClusterSnapshot
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBClusterSnapshotResult'
        '480':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '484':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
      x-aws-operation-name: CreateDBClusterSnapshot
  '/#Action=CreateDBInstance':
    get:
      description: Creates a new DB instance.
      operationId: GET CreateDBInstance
      parameters:
        - description: Not supported.
          in: query
          name: DBName
          required: false
          type: string
        - description: '<p>The DB instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>mydbinstance</code> </p>'
          in: query
          name: DBInstanceIdentifier
          required: true
          type: string
        - description: '<p>The amount of storage (in gibibytes) to allocate for the DB instance.</p> <p>Type: Integer</p> <p>Not applicable. Neptune cluster volumes automatically grow as the amount of data in your database increases, though you are only charged for the space that you use in a Neptune cluster volume.</p>'
          in: query
          name: AllocatedStorage
          required: false
          type: integer
        - description: 'The compute and memory capacity of the DB instance, for example, <code>db.m4.large</code>. Not all DB instance classes are available in all AWS Regions.'
          in: query
          name: DBInstanceClass
          required: true
          type: string
        - description: '<p>The name of the database engine to be used for this instance.</p> <p>Valid Values: <code>neptune</code> </p>'
          in: query
          name: Engine
          required: true
          type: string
        - description: The name for the master user. Not used.
          in: query
          name: MasterUsername
          required: false
          type: string
        - description: '<p>The password for the master user. The password can include any printable ASCII character except "/", """, or "@".</p> <p> Not used.</p>'
          in: query
          name: MasterUserPassword
          required: false
          type: string
        - description: '<p>A list of DB security groups to associate with this DB instance.</p> <p>Default: The default DB security group for the database engine.</p>'
          in: query
          items:
            type: string
          name: DBSecurityGroups
          required: false
          type: array
        - description: '<p>A list of EC2 VPC security groups to associate with this DB instance.</p> <p>Not applicable. The associated list of EC2 VPC security groups is managed by the DB cluster. For more information, see <a>CreateDBCluster</a>.</p> <p>Default: The default EC2 VPC security group for the DB subnet group''s VPC.</p>'
          in: query
          items:
            type: string
          name: VpcSecurityGroupIds
          required: false
          type: array
        - description: '<p> The EC2 Availability Zone that the DB instance is created in</p> <p>Default: A random, system-chosen Availability Zone in the endpoint''s AWS Region.</p> <p> Example: <code>us-east-1d</code> </p> <p> Constraint: The AvailabilityZone parameter can''t be specified if the MultiAZ parameter is set to <code>true</code>. The specified Availability Zone must be in the same AWS Region as the current endpoint.</p>'
          in: query
          name: AvailabilityZone
          required: false
          type: string
        - description: '<p>A DB subnet group to associate with this DB instance.</p> <p>If there is no DB subnet group, then it is a non-VPC DB instance.</p>'
          in: query
          name: DBSubnetGroupName
          required: false
          type: string
        - description: '<p>The time range each week during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region, occurring on a random day of the week.</p> <p>Valid Days: Mon, Tue, Wed, Thu, Fri, Sat, Sun.</p> <p>Constraints: Minimum 30-minute window.</p>'
          in: query
          name: PreferredMaintenanceWindow
          required: false
          type: string
        - description: '<p>The name of the DB parameter group to associate with this DB instance. If this argument is omitted, the default DBParameterGroup for the specified engine is used.</p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 255 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> </ul>'
          in: query
          name: DBParameterGroupName
          required: false
          type: string
        - description: '<p>The number of days for which automated backups are retained.</p> <p>Not applicable. The retention period for automated backups is managed by the DB cluster. For more information, see <a>CreateDBCluster</a>.</p> <p>Default: 1</p> <p>Constraints:</p> <ul> <li> <p>Must be a value from 0 to 35</p> </li> <li> <p>Cannot be set to 0 if the DB instance is a source to Read Replicas</p> </li> </ul>'
          in: query
          name: BackupRetentionPeriod
          required: false
          type: integer
        - description: '<p> The daily time range during which automated backups are created.</p> <p>Not applicable. The daily time range for creating automated backups is managed by the DB cluster. For more information, see <a>CreateDBCluster</a>.</p>'
          in: query
          name: PreferredBackupWindow
          required: false
          type: string
        - description: '<p>The port number on which the database accepts connections.</p> <p>Not applicable. The port is managed by the DB cluster. For more information, see <a>CreateDBCluster</a>.</p> <p> Default: <code>8182</code> </p> <p>Type: Integer</p>'
          in: query
          name: Port
          required: false
          type: integer
        - description: Specifies if the DB instance is a Multi-AZ deployment. You can't set the AvailabilityZone parameter if the MultiAZ parameter is set to true.
          in: query
          name: MultiAZ
          required: false
          type: boolean
        - description: The version number of the database engine to use.
          in: query
          name: EngineVersion
          required: false
          type: string
        - description: '<p>Indicates that minor engine upgrades are applied automatically to the DB instance during the maintenance window.</p> <p>Default: <code>true</code> </p>'
          in: query
          name: AutoMinorVersionUpgrade
          required: false
          type: boolean
        - description: '<p>License model information for this DB instance.</p> <p> Valid values: <code>license-included</code> | <code>bring-your-own-license</code> | <code>general-public-license</code> </p>'
          in: query
          name: LicenseModel
          required: false
          type: string
        - description: The amount of Provisioned IOPS (input/output operations per second) to be initially allocated for the DB instance.
          in: query
          name: Iops
          required: false
          type: integer
        - description: '<p>Indicates that the DB instance should be associated with the specified option group.</p> <p>Permanent options, such as the TDE option for Oracle Advanced Security TDE, can''t be removed from an option group, and that option group can''t be removed from a DB instance once it is associated with a DB instance</p>'
          in: query
          name: OptionGroupName
          required: false
          type: string
        - description: '<p>Indicates that the DB instance should be associated with the specified CharacterSet.</p> <p>Not applicable. The character set is managed by the DB cluster. For more information, see <a>CreateDBCluster</a>.</p>'
          in: query
          name: CharacterSetName
          required: false
          type: string
        - description: This flag should no longer be used.
          in: query
          name: PubliclyAccessible
          required: false
          type: boolean
        - description: The tags to assign to the new instance.
          in: query
          items:
            type: string
          name: Tags
          required: false
          type: array
        - description: '<p>The identifier of the DB cluster that the instance will belong to.</p> <p>For information on creating a DB cluster, see <a>CreateDBCluster</a>.</p> <p>Type: String</p>'
          in: query
          name: DBClusterIdentifier
          required: false
          type: string
        - description: <p>Specifies the storage type to be associated with the DB instance.</p> <p>Not applicable. Storage is managed by the DB Cluster.</p>
          in: query
          name: StorageType
          required: false
          type: string
        - description: The ARN from the key store with which to associate the instance for TDE encryption.
          in: query
          name: TdeCredentialArn
          required: false
          type: string
        - description: The password for the given ARN from the key store in order to access the device.
          in: query
          name: TdeCredentialPassword
          required: false
          type: string
        - description: '<p>Specifies whether the DB instance is encrypted.</p> <p>Not applicable. The encryption for DB instances is managed by the DB cluster. For more information, see <a>CreateDBCluster</a>.</p> <p>Default: false</p>'
          in: query
          name: StorageEncrypted
          required: false
          type: boolean
        - description: '<p>The AWS KMS key identifier for an encrypted DB instance.</p> <p>The KMS key identifier is the Amazon Resource Name (ARN) for the KMS encryption key. If you are creating a DB instance with the same AWS account that owns the KMS encryption key used to encrypt the new DB instance, then you can use the KMS key alias instead of the ARN for the KM encryption key.</p> <p>Not applicable. The KMS key identifier is managed by the DB cluster. For more information, see <a>CreateDBCluster</a>.</p> <p>If the <code>StorageEncrypted</code> parameter is true, and you do not specify a value for the <code>KmsKeyId</code> parameter, then Amazon Neptune will use your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS Region.</p>'
          in: query
          name: KmsKeyId
          required: false
          type: string
        - description: Specify the Active Directory Domain to create the instance in.
          in: query
          name: Domain
          required: false
          type: string
        - description: 'True to copy all tags from the DB instance to snapshots of the DB instance, and otherwise false. The default is false.'
          in: query
          name: CopyTagsToSnapshot
          required: false
          type: boolean
        - description: '<p>The interval, in seconds, between points when Enhanced Monitoring metrics are collected for the DB instance. To disable collecting Enhanced Monitoring metrics, specify 0. The default is 0.</p> <p>If <code>MonitoringRoleArn</code> is specified, then you must also set <code>MonitoringInterval</code> to a value other than 0.</p> <p>Valid Values: <code>0, 1, 5, 10, 15, 30, 60</code> </p>'
          in: query
          name: MonitoringInterval
          required: false
          type: integer
        - description: '<p>The ARN for the IAM role that permits Neptune to send enhanced monitoring metrics to Amazon CloudWatch Logs. For example, <code>arn:aws:iam:123456789012:role/emaccess</code>.</p> <p>If <code>MonitoringInterval</code> is set to a value other than 0, then you must supply a <code>MonitoringRoleArn</code> value.</p>'
          in: query
          name: MonitoringRoleArn
          required: false
          type: string
        - description: Specify the name of the IAM role to be used when making API calls to the Directory Service.
          in: query
          name: DomainIAMRoleName
          required: false
          type: string
        - description: '<p>A value that specifies the order in which an Read Replica is promoted to the primary instance after a failure of the existing primary instance. </p> <p>Default: 1</p> <p>Valid Values: 0 - 15</p>'
          in: query
          name: PromotionTier
          required: false
          type: integer
        - description: The time zone of the DB instance.
          in: query
          name: Timezone
          required: false
          type: string
        - description: '<p>True to enable AWS Identity and Access Management (IAM) authentication for Neptune.</p> <p>Default: <code>false</code> </p>'
          in: query
          name: EnableIAMDatabaseAuthentication
          required: false
          type: boolean
        - description: 'True to enable Performance Insights for the DB instance, and otherwise false.'
          in: query
          name: EnablePerformanceInsights
          required: false
          type: boolean
        - description: 'The AWS KMS key identifier for encryption of Performance Insights data. The KMS key ID is the Amazon Resource Name (ARN), KMS key identifier, or the KMS key alias for the KMS encryption key.'
          in: query
          name: PerformanceInsightsKMSKeyId
          required: false
          type: string
        - description: The list of log types that need to be enabled for exporting to CloudWatch Logs.
          in: query
          items:
            type: string
          name: EnableCloudwatchLogsExports
          required: false
          type: array
        - enum:
            - CreateDBInstance
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2014-10-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBInstanceResult'
        '480':
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        '481':
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        '482':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '483':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '484':
          description: InstanceQuotaExceededFault
          schema:
            $ref: '#/definitions/InstanceQuotaExceededFault'
        '485':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '486':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '487':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '488':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '489':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '490':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '491':
          description: ProvisionedIopsNotAvailableInAZFault
          schema:
            $ref: '#/definitions/ProvisionedIopsNotAvailableInAZFault'
        '492':
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
        '493':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '494':
          description: StorageTypeNotSupportedFault
          schema:
            $ref: '#/definitions/StorageTypeNotSupportedFault'
        '495':
          description: AuthorizationNotFoundFault
          schema:
            $ref: '#/definitions/AuthorizationNotFoundFault'
        '496':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '497':
          description: DomainNotFoundFault
          schema:
            $ref: '#/definitions/DomainNotFoundFault'
      x-aws-operation-name: CreateDBInstance
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new DB instance.
      operationId: POST CreateDBInstance
      parameters:
        - description: Not supported.
          in: formData
          name: DBName
          required: false
          type: string
        - description: '<p>The DB instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>mydbinstance</code> </p>'
          in: formData
          name: DBInstanceIdentifier
          required: true
          type: string
        - description: '<p>The amount of storage (in gibibytes) to allocate for the DB instance.</p> <p>Type: Integer</p> <p>Not applicable. Neptune cluster volumes automatically grow as the amount of data in your database increases, though you are only charged for the space that you use in a Neptune cluster volume.</p>'
          in: formData
          name: AllocatedStorage
          required: false
          type: integer
        - description: 'The compute and memory capacity of the DB instance, for example, <code>db.m4.large</code>. Not all DB instance classes are available in all AWS Regions.'
          in: formData
          name: DBInstanceClass
          required: true
          type: string
        - description: '<p>The name of the database engine to be used for this instance.</p> <p>Valid Values: <code>neptune</code> </p>'
          in: formData
          name: Engine
          required: true
          type: string
        - description: The name for the master user. Not used.
          in: formData
          name: MasterUsername
          required: false
          type: string
        - description: '<p>The password for the master user. The password can include any printable ASCII character except "/", """, or "@".</p> <p> Not used.</p>'
          in: formData
          name: MasterUserPassword
          required: false
          type: string
        - description: '<p>A list of DB security groups to associate with this DB instance.</p> <p>Default: The default DB security group for the database engine.</p>'
          in: formData
          items:
            type: string
          name: DBSecurityGroups
          required: false
          type: array
        - description: '<p>A list of EC2 VPC security groups to associate with this DB instance.</p> <p>Not applicable. The associated list of EC2 VPC security groups is managed by the DB cluster. For more information, see <a>CreateDBCluster</a>.</p> <p>Default: The default EC2 VPC security group for the DB subnet group''s VPC.</p>'
          in: formData
          items:
            type: string
          name: VpcSecurityGroupIds
          required: false
          type: array
        - description: '<p> The EC2 Availability Zone that the DB instance is created in</p> <p>Default: A random, system-chosen Availability Zone in the endpoint''s AWS Region.</p> <p> Example: <code>us-east-1d</code> </p> <p> Constraint: The AvailabilityZone parameter can''t be specified if the MultiAZ parameter is set to <code>true</code>. The specified Availability Zone must be in the same AWS Region as the current endpoint.</p>'
          in: formData
          name: AvailabilityZone
          required: false
          type: string
        - description: '<p>A DB subnet group to associate with this DB instance.</p> <p>If there is no DB subnet group, then it is a non-VPC DB instance.</p>'
          in: formData
          name: DBSubnetGroupName
          required: false
          type: string
[...]
