swagger: '2.0'
info:
  version: '2018-04-01'
  x-release: v4
  title: Amazon QuickSight
  description: '<fullname>Amazon QuickSight API Reference</fullname> <p>Amazon QuickSight is a fully managed, serverless, cloud business intelligence service that makes it easy to extend data and insights to every user in your organization. This API interface reference contains documentation for a programming interface that you can use to manage Amazon QuickSight. </p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: quicksight
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/quicksight-2018-04-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/quicksight/'
host: quicksight.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://quicksight.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon QuickSight multi-region endpoint
  - url: 'https://quicksight.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon QuickSight multi-region endpoint
  - url: 'http://quicksight.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon QuickSight endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://quicksight.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon QuickSight endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}':
    delete:
      operationId: CancelIngestion
      description: Cancels an on-going ingestion of data into SPICE.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelIngestionResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '485':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: The AWS account ID.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: DataSetId
          in: path
          required: true
          description: The ID of the dataset used in the ingestion.
          type: string
        - name: IngestionId
          in: path
          required: true
          description: An ID for the ingestion.
          type: string
          pattern: '^[a-zA-Z0-9-_]+$'
          minLength: 1
          maxLength: 128
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      operationId: CreateIngestion
      description: '<p>Creates and starts a new SPICE ingestion on a dataset</p> <p>Any ingestions operating on tagged datasets inherit the same tags automatically for use in access-control. For an example, see <a href="https://aws.example.com/premiumsupport/knowledge-center/iam-ec2-resource-tags/">How do I create an IAM policy to control access to Amazon EC2 resources using tags?</a>. Tags will be visible on the tagged dataset, but not on the ingestion resource.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateIngestionResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '486':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: DataSetId
          in: path
          required: true
          description: The ID of the dataset used in the ingestion.
          type: string
        - name: IngestionId
          in: path
          required: true
          description: An ID for the ingestion.
          type: string
          pattern: '^[a-zA-Z0-9-_]+$'
          minLength: 1
          maxLength: 128
        - name: AwsAccountId
          in: path
          required: true
          description: The AWS account ID.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
    get:
      operationId: DescribeIngestion
      description: Describes a SPICE ingestion.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeIngestionResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '485':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: The AWS account ID.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: DataSetId
          in: path
          required: true
          description: The ID of the dataset used in the ingestion.
          type: string
        - name: IngestionId
          in: path
          required: true
          description: An ID for the ingestion.
          type: string
          pattern: '^[a-zA-Z0-9-_]+$'
          minLength: 1
          maxLength: 128
  '/accounts/{AwsAccountId}/dashboards/{DashboardId}':
    post:
      operationId: CreateDashboard
      description: '<p>Creates a dashboard from a template. To first create a template, see the CreateTemplate API.</p> <p>A dashboard is an entity in QuickSight which identifies Quicksight reports, created from analyses. QuickSight dashboards are sharable. With the right permissions, you can create scheduled email reports from them. The <code>CreateDashboard</code>, <code>DescribeDashboard</code> and <code>ListDashboardsByUser</code> APIs act on the dashboard entity. If you have the correct permissions, you can create a dashboard from a template that exists in a different AWS account.</p> <p>CLI syntax:</p> <p> <code>aws quicksight create-dashboard --cli-input-json file://create-dashboard.json</code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDashboardResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '484':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '485':
          description: UnsupportedUserEditionException
          schema:
            $ref: '#/definitions/UnsupportedUserEditionException'
        '486':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: AWS account ID where you want to create the dashboard.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: DashboardId
          in: path
          required: true
          description: 'The ID for the dashboard, also added to IAM policy.'
          type: string
          pattern: '[\w\-]+'
          minLength: 1
          maxLength: 2048
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Name
              - SourceEntity
            properties:
              Name:
                description: The display name of the dashboard.
                type: string
                pattern: '[\u0020-\u00FF]+'
                minLength: 1
                maxLength: 2048
              Parameters:
                description: Parameters.
                type: object
                properties:
                  StringParameters:
                    $ref: '#/definitions/StringParameterList'
                    description: String parameters.
                  IntegerParameters:
                    $ref: '#/definitions/IntegerParameterList'
                    description: Integer parameters.
                  DecimalParameters:
                    $ref: '#/definitions/DecimalParameterList'
                    description: Decimal parameters.
                  DateTimeParameters:
                    $ref: '#/definitions/DateTimeParameterList'
                    description: DateTime parameters.
              Permissions:
                description: A structure that contains the permissions of the dashboard. You can use this for granting permissions with principal and action information.
                type: array
                items:
                  $ref: '#/definitions/ResourcePermission'
                minItems: 1
                maxItems: 64
              SourceEntity:
                description: Dashboard source entity.
                type: object
                properties:
                  SourceTemplate:
                    $ref: '#/definitions/DashboardSourceTemplate'
                    description: Source template.
              Tags:
                description: Contains a map of the key-value pairs for the resource tag or tags assigned to the dashboard.
                type: array
                items:
                  $ref: '#/definitions/Tag'
                minItems: 1
                maxItems: 200
              VersionDescription:
                description: A description for the first version of the dashboard being created.
                type: string
                minLength: 1
                maxLength: 512
              DashboardPublishOptions:
                description: Dashboard publish options.
                type: object
                properties:
                  AdHocFilteringOption:
                    $ref: '#/definitions/AdHocFilteringOption'
                    description: Ad hoc filtering option.
                  ExportToCSVOption:
                    $ref: '#/definitions/ExportToCSVOption'
                    description: Export to CSV option.
                  SheetControlsOption:
                    $ref: '#/definitions/SheetControlsOption'
                    description: Sheet controls option.
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    delete:
      operationId: DeleteDashboard
      description: '<p>Deletes a dashboard.</p> <p>CLI syntax:</p> <p> <code>aws quicksight delete-dashboard --aws-account-id 111122223333 —dashboard-id 123123123</code> </p> <p> <code>aws quicksight delete-dashboard --aws-account-id 111122223333 —dashboard-id 123123123 —version-number 3</code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDashboardResponse'
        '480':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: UnsupportedUserEditionException
          schema:
            $ref: '#/definitions/UnsupportedUserEditionException'
        '485':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: AWS account ID that contains the dashboard you are deleting.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: DashboardId
          in: path
          required: true
          description: The ID for the dashboard.
          type: string
          pattern: '[\w\-]+'
          minLength: 1
          maxLength: 2048
        - name: version-number
          in: query
          required: false
          description: 'The version number of the dashboard. If version number property is provided, only the specified version of the dashboard is deleted.'
          type: integer
          minimum: 1
    get:
      operationId: DescribeDashboard
      description: '<p>Provides a summary for a dashboard.</p> <p>CLI syntax:</p> <ul> <li> <p> <code>aws quicksight describe-dashboard --aws-account-id 111122223333 —dashboard-id reports_test_report -version-number 2</code> </p> </li> <li> <p> <code> aws quicksight describe-dashboard --aws-account-id 111122223333 —dashboard-id reports_test_report -alias-name ‘$PUBLISHED’ </code> </p> </li> </ul> <p/>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDashboardResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: UnsupportedUserEditionException
          schema:
            $ref: '#/definitions/UnsupportedUserEditionException'
        '485':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: AWS account ID that contains the dashboard you are describing.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: DashboardId
          in: path
          required: true
          description: The ID for the dashboard.
          type: string
          pattern: '[\w\-]+'
          minLength: 1
          maxLength: 2048
        - name: version-number
          in: query
          required: false
          description: 'The version number for the dashboard. If version number isn’t passed the latest published dashboard version is described. '
          type: integer
          minimum: 1
        - name: alias-name
          in: query
          required: false
          description: The alias name.
          type: string
          pattern: '[\w\-]+|(\$LATEST)|(\$PUBLISHED)'
          minLength: 1
          maxLength: 2048
    put:
      operationId: UpdateDashboard
      description: '<p>Updates a dashboard in the AWS account.</p> <p>CLI syntax:</p> <p> <code>aws quicksight update-dashboard --aws-account-id 111122223333 --dashboard-id 123123123 --dashboard-name "test-update102" --source-entity SourceTemplate={Arn=arn:aws:quicksight:us-west-2:111122223333:template/sales-report-template2} --data-set-references DataSetPlaceholder=SalesDataSet,DataSetArn=arn:aws:quicksight:us-west-2:111122223333:dataset/0e251aef-9ebf-46e1-b852-eb4fa33c1d3a</code> </p> <p> <code>aws quicksight update-dashboard --cli-input-json file://update-dashboard.json </code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDashboardResponse'
        '480':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: UnsupportedUserEditionException
          schema:
            $ref: '#/definitions/UnsupportedUserEditionException'
        '486':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: AWS account ID that contains the dashboard you are updating.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: DashboardId
          in: path
          required: true
          description: The ID for the dashboard.
          type: string
          pattern: '[\w\-]+'
          minLength: 1
          maxLength: 2048
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Name
              - SourceEntity
            properties:
              Name:
                description: The display name of the dashboard.
                type: string
                pattern: '[\u0020-\u00FF]+'
                minLength: 1
                maxLength: 2048
              SourceEntity:
                description: Dashboard source entity.
                type: object
                properties:
                  SourceTemplate:
                    $ref: '#/definitions/DashboardSourceTemplate'
                    description: Source template.
              Parameters:
                description: Parameters.
                type: object
                properties:
                  StringParameters:
                    $ref: '#/definitions/StringParameterList'
                    description: String parameters.
                  IntegerParameters:
                    $ref: '#/definitions/IntegerParameterList'
                    description: Integer parameters.
                  DecimalParameters:
                    $ref: '#/definitions/DecimalParameterList'
                    description: Decimal parameters.
                  DateTimeParameters:
                    $ref: '#/definitions/DateTimeParameterList'
                    description: DateTime parameters.
              VersionDescription:
                description: A description for the first version of the dashboard being created.
                type: string
                minLength: 1
                maxLength: 512
              DashboardPublishOptions:
                description: Dashboard publish options.
                type: object
                properties:
                  AdHocFilteringOption:
                    $ref: '#/definitions/AdHocFilteringOption'
                    description: Ad hoc filtering option.
                  ExportToCSVOption:
                    $ref: '#/definitions/ExportToCSVOption'
                    description: Export to CSV option.
                  SheetControlsOption:
                    $ref: '#/definitions/SheetControlsOption'
                    description: Sheet controls option.
  '/accounts/{AwsAccountId}/data-sets':
    post:
      operationId: CreateDataSet
      description: '<p>Creates a dataset.</p> <p>CLI syntax:</p> <p> <code>aws quicksight create-data-set \</code> </p> <p> <code>--aws-account-id=111122223333 \</code> </p> <p> <code>--data-set-id=unique-data-set-id \</code> </p> <p> <code>--name=''My dataset'' \</code> </p> <p> <code>--import-mode=SPICE \</code> </p> <p> <code>--physical-table-map=''{</code> </p> <p> <code> "physical-table-id": {</code> </p> <p> <code> "RelationalTable": {</code> </p> <p> <code> "DataSourceArn": "arn:aws:quicksight:us-west-2:111111111111:datasource/data-source-id",</code> </p> <p> <code> "Name": "table1",</code> </p> <p> <code> "InputColumns": [</code> </p> <p> <code> {</code> </p> <p> <code> "Name": "column1",</code> </p> <p> <code> "Type": "STRING"</code> </p> <p> <code> }</code> </p> <p> <code> ]</code> </p> <p> <code> }</code> </p> <p> <code> }''</code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDataSetResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '485':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '486':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '487':
          description: UnsupportedUserEditionException
          schema:
            $ref: '#/definitions/UnsupportedUserEditionException'
        '488':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: The AWS Account ID.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - DataSetId
              - Name
              - PhysicalTableMap
              - ImportMode
              - RowLevelPermissionDataSet
            properties:
              DataSetId:
                description: An ID for the dataset you want to create. This is unique per region per AWS account.
                type: string
              Name:
                description: The display name for the dataset.
                type: string
                minLength: 1
                maxLength: 128
              PhysicalTableMap:
                description: Declares the physical tables that are available in the underlying data sources.
                type: object
                minProperties: 1
                maxProperties: 16
                additionalProperties:
                  $ref: '#/definitions/PhysicalTable'
              LogicalTableMap:
                description: Configures the combination and transformation of the data from the physical tables.
                type: object
                minProperties: 1
                maxProperties: 32
                additionalProperties:
                  $ref: '#/definitions/LogicalTable'
              ImportMode:
                description: Indicates whether or not you want to import the data into SPICE.
                type: string
                enum:
                  - SPICE
                  - DIRECT_QUERY
              ColumnGroups:
                description: Groupings of columns that work together in certain QuickSight features. Currently only geospatial hierarchy is supported.
                type: array
                items:
                  $ref: '#/definitions/ColumnGroup'
                minItems: 1
                maxItems: 8
              Permissions:
                description: A list of resource permissions on the dataset.
                type: array
                items:
                  $ref: '#/definitions/ResourcePermission'
                minItems: 1
                maxItems: 64
              RowLevelPermissionDataSet:
                description: Row-level security configuration on the dataset.
                type: object
                properties:
                  Arn:
                    $ref: '#/definitions/Arn'
                    description: The Amazon Resource name (ARN) of the permission dataset.
                  PermissionPolicy:
                    $ref: '#/definitions/RowLevelPermissionPolicy'
                    description: Permission policy.
              Tags:
                description: Contains a map of the key-value pairs for the resource tag or tags assigned to the dataset.
                type: array
                items:
                  $ref: '#/definitions/Tag'
                minItems: 1
                maxItems: 200
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListDataSets
      description: '<p>Lists all of the datasets belonging to this account in an AWS region.</p> <p>The permissions resource is <code>arn:aws:quicksight:region:aws-account-id:dataset/*</code> </p> <p>CLI syntax: <code>aws quicksight list-data-sets --aws-account-id=111111111111</code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDataSetsResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: The AWS Account ID.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: next-token
          in: query
          required: false
          description: 'The token for the next set of results, or null if there are no more results.'
          type: string
        - name: max-results
          in: query
          required: false
          description: The maximum number of results to be returned per request.
          type: integer
          minimum: 1
          maximum: 100
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  '/accounts/{AwsAccountId}/data-sources':
    post:
      operationId: CreateDataSource
      description: '<p>Creates a data source.</p> <p>The permissions resource is <code>arn:aws:quicksight:region:aws-account-id:datasource/data-source-id</code> </p> <p>CLI syntax:</p> <p> <code>aws quicksight create-data-source \</code> </p> <p> <code>--aws-account-id=111122223333 \</code> </p> <p> <code>--data-source-id=unique-data-source-id \</code> </p> <p> <code>--name=''My Data Source'' \</code> </p> <p> <code>--type=POSTGRESQL \</code> </p> <p> <code>--data-source-parameters=''{ "PostgreSqlParameters": {</code> </p> <p> <code> "Host": "my-db-host.example.com",</code> </p> <p> <code> "Port": 1234,</code> </p> <p> <code> "Database": "my-db" } }'' \</code> </p> <p> <code>--credentials=''{ "CredentialPair": {</code> </p> <p> <code> "Username": "username",</code> </p> <p> <code> "Password": "password" } }''</code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDataSourceResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '485':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '486':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '487':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: The AWS account ID.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - DataSourceId
              - Name
              - Type
              - VpcConnectionProperties
            properties:
              DataSourceId:
                description: 'An ID for the data source. This is unique per AWS Region per AWS account. '
                type: string
              Name:
                description: A display name for the data source.
                type: string
                minLength: 1
                maxLength: 128
              Type:
                description: 'The type of the data source. Currently the supported types for this operation are: <code>ATHENA, AURORA, AURORA_POSTGRESQL, MARIADB, MYSQL, POSTGRESQL, PRESTO, REDSHIFT, S3, SNOWFLAKE, SPARK, SQLSERVER, TERADATA</code>. Use <code>ListDataSources</code> to return a list of all data sources.'
                type: string
                enum:
                  - ADOBE_ANALYTICS
                  - AMAZON_ELASTICSEARCH
                  - ATHENA
                  - AURORA
                  - AURORA_POSTGRESQL
                  - AWS_IOT_ANALYTICS
                  - GITHUB
                  - JIRA
                  - MARIADB
                  - MYSQL
                  - POSTGRESQL
                  - PRESTO
                  - REDSHIFT
                  - S3
                  - SALESFORCE
                  - SERVICENOW
                  - SNOWFLAKE
                  - SPARK
                  - SQLSERVER
                  - TERADATA
                  - TWITTER
              DataSourceParameters:
                description: The parameters QuickSight uses to connect to your underlying source. This is a variant type structure. At most one of the attributes should be non-null for this structure to be valid.
                type: object
                properties:
                  AmazonElasticsearchParameters:
                    $ref: '#/definitions/AmazonElasticsearchParameters'
                    description: Amazon Elasticsearch parameters.
                  AthenaParameters:
                    $ref: '#/definitions/AthenaParameters'
                    description: Athena parameters.
                  AuroraParameters:
                    $ref: '#/definitions/AuroraParameters'
                    description: Aurora MySQL parameters.
                  AuroraPostgreSqlParameters:
                    $ref: '#/definitions/AuroraPostgreSqlParameters'
                    description: Aurora PostgreSQL parameters.
                  AwsIotAnalyticsParameters:
                    $ref: '#/definitions/AwsIotAnalyticsParameters'
                    description: AWS IoT Analytics parameters.
                  JiraParameters:
                    $ref: '#/definitions/JiraParameters'
                    description: Jira parameters.
                  MariaDbParameters:
                    $ref: '#/definitions/MariaDbParameters'
                    description: MariaDB parameters.
                  MySqlParameters:
                    $ref: '#/definitions/MySqlParameters'
                    description: MySQL parameters.
                  PostgreSqlParameters:
                    $ref: '#/definitions/PostgreSqlParameters'
                    description: PostgreSQL parameters.
                  PrestoParameters:
                    $ref: '#/definitions/PrestoParameters'
                    description: Presto parameters.
                  RdsParameters:
                    $ref: '#/definitions/RdsParameters'
                    description: RDS parameters.
                  RedshiftParameters:
                    $ref: '#/definitions/RedshiftParameters'
                    description: Redshift parameters.
                  S3Parameters:
                    $ref: '#/definitions/S3Parameters'
                    description: S3 parameters.
                  ServiceNowParameters:
                    $ref: '#/definitions/ServiceNowParameters'
                    description: ServiceNow parameters.
                  SnowflakeParameters:
                    $ref: '#/definitions/SnowflakeParameters'
                    description: Snowflake parameters.
                  SparkParameters:
                    $ref: '#/definitions/SparkParameters'
                    description: Spark parameters.
                  SqlServerParameters:
                    $ref: '#/definitions/SqlServerParameters'
                    description: SQL Server parameters.
                  TeradataParameters:
                    $ref: '#/definitions/TeradataParameters'
                    description: Teradata parameters.
                  TwitterParameters:
                    $ref: '#/definitions/TwitterParameters'
                    description: Twitter parameters.
              Credentials:
                description: Data source credentials.
                type: object
                properties:
                  CredentialPair:
                    $ref: '#/definitions/CredentialPair'
                    description: Credential pair.
              Permissions:
                description: A list of resource permissions on the data source.
                type: array
                items:
                  $ref: '#/definitions/ResourcePermission'
                minItems: 1
                maxItems: 64
              VpcConnectionProperties:
                description: VPC connection properties.
                type: object
                properties:
                  VpcConnectionArn:
                    $ref: '#/definitions/Arn'
                    description: VPC connection ARN.
              SslProperties:
                description: SSL properties that apply when QuickSight connects to your underlying data source.
                type: object
                properties:
                  DisableSsl:
                    $ref: '#/definitions/Boolean'
                    description: A boolean flag to control whether SSL should be disabled.
              Tags:
                description: Contains a map of the key-value pairs for the resource tag or tags assigned to the data source.
                type: array
                items:
                  $ref: '#/definitions/Tag'
                minItems: 1
                maxItems: 200
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListDataSources
      description: '<p>Lists data sources in current AWS region that belong to this AWS account.</p> <p>The permissions resource is: <code>arn:aws:quicksight:region:aws-account-id:datasource/*</code> </p> <p>CLI syntax: <code>aws quicksight list-data-sources --aws-account-id=111122223333</code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDataSourcesResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: The AWS account ID.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: next-token
          in: query
          required: false
          description: 'The token for the next set of results, or null if there are no more results.'
          type: string
        - name: max-results
          in: query
          required: false
          description: The maximum number of results to be returned per request.
          type: integer
          minimum: 1
          maximum: 100
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  '/accounts/{AwsAccountId}/namespaces/{Namespace}/groups':
    post:
      operationId: CreateGroup
      description: '<p>Creates an Amazon QuickSight group.</p> <p>The permissions resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;relevant-aws-account-id&gt;</i>:group/default/<i>&lt;group-name&gt;</i> </code>.</p> <p>The response is a group object.</p> <p> <b>CLI Sample:</b> </p> <p> <code>aws quicksight create-group --aws-account-id=111122223333 --namespace=default --group-name="Sales-Management" --description="Sales Management - Forecasting" </code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateGroupResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '485':
          description: PreconditionNotMetException
          schema:
            $ref: '#/definitions/PreconditionNotMetException'
        '486':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '487':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '488':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: 'The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.'
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: Namespace
          in: path
          required: true
          description: 'The namespace. Currently, you should set this to <code>default</code>.'
          type: string
          pattern: '^[a-zA-Z0-9._-]*$'
          maxLength: 64
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - GroupName
            properties:
              GroupName:
                description: A name for the group that you want to create.
                type: string
                pattern: '[\u0020-\u00FF]+'
                minLength: 1
              Description:
                description: A description for the group that you want to create.
                type: string
                minLength: 1
                maxLength: 512
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListGroups
      description: '<p>Lists all user groups in Amazon QuickSight. </p> <p>The permissions resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;aws-account-id&gt;</i>:group/default/*</code>.</p> <p>The response is a list of group objects. </p> <p> <b>CLI Sample:</b> </p> <p> <code>aws quicksight list-groups -\-aws-account-id=111122223333 -\-namespace=default </code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGroupsResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '485':
          description: PreconditionNotMetException
          schema:
            $ref: '#/definitions/PreconditionNotMetException'
        '486':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '487':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: 'The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.'
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: next-token
          in: query
          required: false
          description: A pagination token that can be used in a subsequent request.
          type: string
        - name: max-results
          in: query
          required: false
          description: The maximum number of results to return.
          type: integer
          minimum: 1
          maximum: 100
        - name: Namespace
          in: path
          required: true
          description: 'The namespace. Currently, you should set this to <code>default</code>.'
          type: string
          pattern: '^[a-zA-Z0-9._-]*$'
          maxLength: 64
  '/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}':
    put:
      operationId: CreateGroupMembership
      description: '<p>Adds an Amazon QuickSight user to an Amazon QuickSight group. </p> <p>The permissions resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;aws-account-id&gt;</i>:group/default/<i>&lt;group-name&gt;</i> </code>.</p> <p>The condition resource is the user name.</p> <p>The condition key is <code>quicksight:UserName</code>.</p> <p>The response is the group member object.</p> <p> <b>CLI Sample:</b> </p> <p> <code>aws quicksight create-group-membership --aws-account-id=111122223333 --namespace=default --group-name=Sales --member-name=Pat </code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateGroupMembershipResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: PreconditionNotMetException
          schema:
            $ref: '#/definitions/PreconditionNotMetException'
        '485':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '486':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
      parameters:
        - name: MemberName
          in: path
          required: true
          description: The name of the user that you want to add to the group membership.
          type: string
          pattern: '[\u0020-\u00FF]+'
          minLength: 1
          maxLength: 256
        - name: GroupName
          in: path
          required: true
          description: The name of the group that you want to add the user to.
          type: string
          pattern: '[\u0020-\u00FF]+'
          minLength: 1
        - name: AwsAccountId
          in: path
          required: true
          description: 'The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.'
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: Namespace
          in: path
          required: true
          description: 'The namespace. Currently, you should set this to <code>default</code>.'
          type: string
          pattern: '^[a-zA-Z0-9._-]*$'
          maxLength: 64
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    delete:
      operationId: DeleteGroupMembership
      description: '<p>Removes a user from a group so that the user is no longer a member of the group.</p> <p>The permissions resource is <code>arn:aws:quicksight:us-east-1:<i>&lt;aws-account-id&gt;</i>:group/default/<i>&lt;group-name&gt;</i> </code>.</p> <p>The condition resource is the user name.</p> <p>The condition key is <code>quicksight:UserName</code>.</p> <p> <b>CLI Sample:</b> </p> <p> <code>aws quicksight delete-group-membership --aws-account-id=111122223333 --namespace=default --group-name=Sales-Management --member-name=Charlie </code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteGroupMembershipResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: PreconditionNotMetException
          schema:
            $ref: '#/definitions/PreconditionNotMetException'
        '485':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '486':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
      parameters:
        - name: MemberName
          in: path
          required: true
          description: The name of the user that you want to delete from the group membership.
          type: string
          pattern: '[\u0020-\u00FF]+'
          minLength: 1
          maxLength: 256
        - name: GroupName
          in: path
          required: true
          description: The name of the group that you want to delete the user from.
          type: string
          pattern: '[\u0020-\u00FF]+'
          minLength: 1
        - name: AwsAccountId
          in: path
          required: true
          description: 'The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.'
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: Namespace
          in: path
          required: true
          description: 'The namespace. Currently, you should set this to <code>default</code>.'
          type: string
          pattern: '^[a-zA-Z0-9._-]*$'
          maxLength: 64
  '/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/':
    post:
      operationId: CreateIAMPolicyAssignment
      description: '<p>Creates an assignment with one specified IAM policy ARN and will assigned to specified groups or users of QuickSight. Users and groups need to be in the same namespace. </p> <p>CLI syntax:</p> <p> <code>aws quicksight create-iam-policy-assignment --aws-account-id=111122223333 --assignment-name=helpAssignment --policy-arn=arn:aws:iam::aws:policy/AdministratorAccess --identities="user=user5,engineer123,group=QS-Admin" --namespace=default --region=us-west-2</code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateIAMPolicyAssignmentResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '485':
          description: ConcurrentUpdatingException
          schema:
            $ref: '#/definitions/ConcurrentUpdatingException'
        '486':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: The AWS Account ID where you want to assign QuickSight users or groups to an IAM policy.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: Namespace
          in: path
          required: true
          description: The namespace that contains the assignment.
          type: string
          pattern: '^[a-zA-Z0-9._-]*$'
          maxLength: 64
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - AssignmentName
              - AssignmentStatus
            properties:
              AssignmentName:
                description: The name of the assignment. It must be unique within an AWS account.
                type: string
                pattern: '(?=^.{2,256}$)(?!.*\s)[0-9a-zA-Z-_.:=+@]*$'
                minLength: 1
              AssignmentStatus:
                description: '<p>The status of an assignment:</p> <ul> <li> <p>ENABLED - Anything specified in this assignment is used while creating the data source.</p> </li> <li> <p>DISABLED - This assignment isn''t used while creating the data source.</p> </li> <li> <p>DRAFT - Assignment is an unfinished draft and isn''t used while creating the data source.</p> </li> </ul>'
                type: string
                enum:
                  - ENABLED
                  - DRAFT
                  - DISABLED
              PolicyArn:
                description: An IAM policy ARN that you want to apply to the QuickSight users and groups specified in this assignment.
                type: string
              Identities:
                description: QuickSight users and/or groups that you want to assign the policy to.
                type: object
                additionalProperties:
                  $ref: '#/definitions/IdentityNameList'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/accounts/{AwsAccountId}/templates/{TemplateId}':
    post:
      operationId: CreateTemplate
      description: '<p>Creates a template from an existing QuickSight analysis or template. The resulting template can be used to create a dashboard.</p> <p>A template is an entity in QuickSight which encapsulates the metadata required to create an analysis that can be used to create dashboard. It adds a layer of abstraction by use placeholders to replace the dataset associated with the analysis. You can use templates to create dashboards by replacing dataset placeholders with datasets which follow the same schema that was used to create the source analysis and template.</p> <p>To create a template from an existing analysis, use the analysis''s ARN, <code>aws-account-id</code>, <code>template-id</code>, <code>source-entity</code>, and <code>data-set-references</code>.</p> <p>CLI syntax to create a template: </p> <p> <code>aws quicksight create-template —cli-input-json file://create-template.json</code> </p> <p>CLI syntax to create a template from another template in the same AWS account:</p> <p> <code>aws quicksight create-template --aws-account-id 111122223333 --template-id reports_test_template --data-set-references DataSetPlaceholder=reports,DataSetArn=arn:aws:quicksight:us-west-2:111122223333:dataset/0dfc789c-81f6-4f4f-b9ac-7db2453eefc8 DataSetPlaceholder=Elblogs,DataSetArn=arn:aws:quicksight:us-west-2:111122223333:dataset/f60da323-af68-45db-9016-08e0d1d7ded5 --source-entity SourceAnalysis=''{Arn=arn:aws:quicksight:us-west-2:111122223333:analysis/7fb74527-c36d-4be8-8139-ac1be4c97365}''</code> </p> <p>To create template from another account’s template, you need to grant cross account resource permission for DescribeTemplate the account that contains the template.</p> <p>You can use a file to pass JSON to the function if you prefer. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTemplateResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '482':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '486':
          description: UnsupportedUserEditionException
          schema:
            $ref: '#/definitions/UnsupportedUserEditionException'
        '487':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: 'The ID for the AWS account that the group is in. Currently, you use the ID for the AWS account that contains your Amazon QuickSight account.'
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: TemplateId
          in: path
          required: true
          description: An ID for the template you want to create. This is unique per AWS region per AWS account.
          type: string
          pattern: '[\w\-]+'
          minLength: 1
          maxLength: 2048
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - SourceEntity
            properties:
              Name:
                description: A display name for the template.
                type: string
                pattern: '[\u0020-\u00FF]+'
                minLength: 1
                maxLength: 2048
              Permissions:
                description: 'A list of resource permissions to be set on the template. The shorthand syntax should look similar to this: <code>Shorthand Syntax: Principal=string,Actions=string,string ... </code> '
                type: array
                items:
                  $ref: '#/definitions/ResourcePermission'
                minItems: 1
                maxItems: 64
              SourceEntity:
                description: The source entity of the template.
                type: object
                properties:
                  SourceAnalysis:
                    $ref: '#/definitions/TemplateSourceAnalysis'
                    description: 'The source analysis, if it is based on an analysis.'
                  SourceTemplate:
                    $ref: '#/definitions/TemplateSourceTemplate'
                    description: 'The source template, if it is based on an template.'
              Tags:
                description: Contains a map of the key-value pairs for the resource tag or tags assigned to the resource.
                type: array
                items:
                  $ref: '#/definitions/Tag'
                minItems: 1
                maxItems: 200
              VersionDescription:
                description: A description of the current template version being created. This API created the first version of the template. Every time UpdateTemplate is called a new version is created. Each version of the template maintains a description of the version in the VersionDescription field.
                type: string
                minLength: 1
                maxLength: 512
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    delete:
      operationId: DeleteTemplate
      description: '<p>Deletes a template.</p> <p>CLI syntax:</p> <ul> <li> <p> <code>aws quicksight delete-template --aws-account-id 111122223333 —-template-id reports_test_template --version-number 2 </code> </p> </li> <li> <p> <code>aws quicksight delete-template —aws-account-id 111122223333 —template-id reports_test_template —alias-name STAGING </code> </p> </li> <li> <p> <code>aws quicksight delete-template —aws-account-id 111122223333 —template-id reports_test_template —alias-name ‘\$LATEST’ </code> </p> </li> <li> <p> <code>aws quicksight delete-template --aws-account-id 111122223333 —-template-id reports_test_template</code> </p> </li> </ul> <p>If version number which is an optional field is not passed the template (including all the versions) is deleted by the API, if version number is provided, the specific template version is deleted by the API.</p> <p>Users can explicitly describe the latest version of the template by passing <code>$LATEST</code> to the <code>alias-name</code> parameter. <code>$LATEST</code> is an internally supported alias, which points to the latest version of the template. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteTemplateResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: UnsupportedUserEditionException
          schema:
            $ref: '#/definitions/UnsupportedUserEditionException'
        '486':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: AWS account ID that contains the template you are deleting.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: TemplateId
          in: path
          required: true
          description: An ID for the template you want to delete.
          type: string
          pattern: '[\w\-]+'
          minLength: 1
          maxLength: 2048
        - name: version-number
          in: query
          required: false
          description: The version number
          type: integer
          minimum: 1
    get:
      operationId: DescribeTemplate
      description: '<p>Describes a template''s metadata.</p> <p>CLI syntax:</p> <p> <code>aws quicksight describe-template --aws-account-id 111122223333 --template-id reports_test_template </code> </p> <p> <code>aws quicksight describe-template --aws-account-id 111122223333 --template-id reports_test_template --version-number-2</code> </p> <p> <code>aws quicksight describe-template --aws-account-id 111122223333 --template-id reports_test_template --alias-name ''\$LATEST'' </code> </p> <p>Users can explicitly describe the latest version of the dashboard by passing <code>$LATEST</code> to the <code>alias-name</code> parameter. <code>$LATEST</code> is an internally supported alias, which points to the latest version of the dashboard. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTemplateResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '482':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '486':
          description: UnsupportedUserEditionException
          schema:
            $ref: '#/definitions/UnsupportedUserEditionException'
        '487':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: AWS account ID that contains the template you are describing.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: TemplateId
          in: path
          required: true
          description: An ID for the template.
          type: string
          pattern: '[\w\-]+'
          minLength: 1
          maxLength: 2048
        - name: version-number
          in: query
          required: false
          description: 'This is an optional field, when a version number is provided the corresponding version is describe, if it''s not provided the latest version of the template is described.'
          type: integer
          minimum: 1
        - name: alias-name
          in: query
          required: false
          description: 'This is an optional field, when an alias name is provided, the version referenced by the alias is described. Refer to <code>CreateTemplateAlias</code> to create a template alias. <code>$PUBLISHED</code> is not supported for template.'
          type: string
          pattern: '[\w\-]+|(\$LATEST)|(\$PUBLISHED)'
          minLength: 1
          maxLength: 2048
    put:
      operationId: UpdateTemplate
      description: '<p>Updates a template from an existing QuickSight analysis.</p> <p>CLI syntax:</p> <p> <code>aws quicksight update-template --aws-account-id 111122223333 --template-id reports_test_template --data-set-references DataSetPlaceholder=reports,DataSetArn=arn:aws:quicksight:us-west-2:111122223333:dataset/c684a204-d134-4c53-a63c-451f72c60c28 DataSetPlaceholder=Elblogs,DataSetArn=arn:aws:quicksight:us-west-2:111122223333:dataset/15840b7d-b542-4491-937b-602416b367b3 —source-entity SourceAnalysis=’{Arn=arn:aws:quicksight:us-west-2:111122223333:analysis/c5731fe9-4708-4598-8f6d-cf2a70875b6d}</code> </p> <p>You can also pass in a json file: <code>aws quicksight update-template —cli-input-json file://create-template.json</code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateTemplateResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '486':
          description: UnsupportedUserEditionException
          schema:
            $ref: '#/definitions/UnsupportedUserEditionException'
        '487':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: AWS account ID that contains the template you are updating.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: TemplateId
          in: path
          required: true
          description: The ID for the template.
          type: string
          pattern: '[\w\-]+'
          minLength: 1
          maxLength: 2048
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - SourceEntity
            properties:
              SourceEntity:
                description: The source entity of the template.
                type: object
                properties:
                  SourceAnalysis:
                    $ref: '#/definitions/TemplateSourceAnalysis'
                    description: 'The source analysis, if it is based on an analysis.'
                  SourceTemplate:
                    $ref: '#/definitions/TemplateSourceTemplate'
                    description: 'The source template, if it is based on an template.'
              VersionDescription:
                description: A description of the current template version being created. This API created the first version of the template. Every time UpdateTemplate is called a new version is created. Each version of the template maintains a description of the version in the VersionDescription field.
                type: string
                minLength: 1
                maxLength: 512
              Name:
                description: The name for the template.
                type: string
                pattern: '[\u0020-\u00FF]+'
                minLength: 1
                maxLength: 2048
  '/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}':
    post:
      operationId: CreateTemplateAlias
      description: '<p>Creates a template alias for a template.</p> <p>CLI syntax:</p> <p> <code>aws quicksight create-template-alias --aws-account-id 111122223333 --template-id ''reports_test_template'' --alias-name PROD —version-number 1</code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTemplateAliasResponse'
        '480':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '483':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: UnsupportedUserEditionException
          schema:
            $ref: '#/definitions/UnsupportedUserEditionException'
        '486':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: AWS account ID that contains the template you are aliasing.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: TemplateId
          in: path
          required: true
          description: An ID for the template.
          type: string
          pattern: '[\w\-]+'
          minLength: 1
          maxLength: 2048
        - name: AliasName
          in: path
          required: true
          description: 'The name you want to give the template''s alias. Alias names can''t begin with a <code>$</code>, which is reserved by QuickSight. Alias names that start with ‘$’ sign are QuickSight reserved naming and can''t be deleted. '
          type: string
          pattern: '[\w\-]+|(\$LATEST)|(\$PUBLISHED)'
          minLength: 1
          maxLength: 2048
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - TemplateVersionNumber
            properties:
              TemplateVersionNumber:
                description: The version number of the template.
                type: integer
                minimum: 1
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    delete:
      operationId: DeleteTemplateAlias
      description: '<p>Update template alias of given template.</p> <p>CLI syntax:</p> <p> <code>aws quicksight delete-template-alias --aws-account-id 111122223333 --template-id ''reports_test_template'' --alias-name ''STAGING''</code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteTemplateAliasResponse'
        '480':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: UnsupportedUserEditionException
          schema:
            $ref: '#/definitions/UnsupportedUserEditionException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: AWS account ID that contains the template alias you are deleting.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: TemplateId
          in: path
          required: true
          description: An ID for the template.
          type: string
          pattern: '[\w\-]+'
          minLength: 1
          maxLength: 2048
        - name: AliasName
          in: path
          required: true
          description: 'The alias of the template. If alias-name is provided, the version that the alias-name points to is deleted. Alias names that start with <code>$</code> are reserved by QuickSight and can''t be deleted.”'
          type: string
          pattern: '[\w\-]+|(\$LATEST)|(\$PUBLISHED)'
          minLength: 1
          maxLength: 2048
    get:
      operationId: DescribeTemplateAlias
      description: '<p>Describes the template aliases of a template.</p> <p>CLI syntax:</p> <p> <code>aws quicksight describe-template-alias --aws-account-id 111122223333 --template-id ''reports_test_template'' --alias-name ''STAGING''</code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTemplateAliasResponse'
        '480':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: UnsupportedUserEditionException
          schema:
            $ref: '#/definitions/UnsupportedUserEditionException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: AWS account ID that contains the template alias you are describing.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: TemplateId
          in: path
          required: true
          description: An ID for the template.
          type: string
          pattern: '[\w\-]+'
          minLength: 1
          maxLength: 2048
        - name: AliasName
          in: path
          required: true
          description: The alias name. <code>$PUBLISHED</code> is not supported for template.
          type: string
          pattern: '[\w\-]+|(\$LATEST)|(\$PUBLISHED)'
          minLength: 1
          maxLength: 2048
    put:
      operationId: UpdateTemplateAlias
      description: '<p>Updates the template alias of a template.</p> <p>CLI syntax:</p> <p> <code>aws quicksight update-template-alias --aws-account-id 111122223333 --template-id ''reports_test_template'' --alias-name STAGING —template-version-number 2 </code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateTemplateAliasResponse'
        '480':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '483':
          description: UnsupportedUserEditionException
          schema:
            $ref: '#/definitions/UnsupportedUserEditionException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: AWS account ID that contains the template aliases you are updating.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: TemplateId
          in: path
          required: true
          description: The ID for the template.
          type: string
          pattern: '[\w\-]+'
          minLength: 1
          maxLength: 2048
        - name: AliasName
          in: path
          required: true
          description: The alias name.
          type: string
          pattern: '[\w\-]+|(\$LATEST)|(\$PUBLISHED)'
          minLength: 1
          maxLength: 2048
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - TemplateVersionNumber
            properties:
              TemplateVersionNumber:
                description: The version number of the template.
                type: integer
                minimum: 1
  '/accounts/{AwsAccountId}/data-sets/{DataSetId}':
    delete:
      operationId: DeleteDataSet
      description: '<p>Deletes a dataset.</p> <p>CLI syntax:</p> <p> <code>aws quicksight delete-data-set \</code> </p> <p> <code>--aws-account-id=111111111111 \</code> </p> <p> <code>--data-set-id=unique-data-set-id</code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDataSetResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: The AWS Account ID.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: DataSetId
          in: path
          required: true
          description: The ID for the dataset you want to create. This is unique per region per AWS account.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeDataSet
      description: '<p>Describes a dataset. </p> <p>CLI syntax:</p> <p> <code>aws quicksight describe-data-set \</code> </p> <p> <code>--aws-account-id=111111111111 \</code> </p> <p> <code>--data-set-id=unique-data-set-id</code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDataSetResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: The AWS Account ID.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: DataSetId
          in: path
          required: true
          description: The ID for the dataset you want to create. This is unique per region per AWS account.
          type: string
    put:
      operationId: UpdateDataSet
      description: '<p>Updates a dataset.</p> <p>CLI syntax:</p> <p> <code>aws quicksight update-data-set \</code> </p> <p> <code>--aws-account-id=111122223333 \</code> </p> <p> <code>--data-set-id=unique-data-set-id \</code> </p> <p> <code>--name=''My dataset'' \</code> </p> <p> <code>--import-mode=SPICE \</code> </p> <p> <code>--physical-table-map=''{</code> </p> <p> <code> "physical-table-id": {</code> </p> <p> <code> "RelationalTable": {</code> </p> <p> <code> "DataSourceArn": "arn:aws:quicksight:us-west-2:111111111111:datasource/data-source-id",</code> </p> <p> <code> "Name": "table1",</code> </p> <p> <code> "InputColumns": [</code> </p> <p> <code> {</code> </p> <p> <code> "Name": "column1",</code> </p> <p> <code> "Type": "STRING"</code> </p> <p> <code> }</code> </p> <p> <code> ]</code> </p> <p> <code> }</code> </p> <p> <code> }''</code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDataSetResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '485':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '486':
          description: UnsupportedUserEditionException
          schema:
            $ref: '#/definitions/UnsupportedUserEditionException'
        '487':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: The AWS Account ID.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: DataSetId
          in: path
          required: true
          description: The ID for the dataset you want to create. This is unique per region per AWS account.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Name
              - PhysicalTableMap
              - ImportMode
              - RowLevelPermissionDataSet
            properties:
              Name:
                description: The display name for the dataset.
                type: string
                minLength: 1
                maxLength: 128
              PhysicalTableMap:
                description: Declares the physical tables that are available in the underlying data sources.
                type: object
                minProperties: 1
                maxProperties: 16
                additionalProperties:
                  $ref: '#/definitions/PhysicalTable'
              LogicalTableMap:
                description: Configures the combination and transformation of the data from the physical tables.
                type: object
                minProperties: 1
                maxProperties: 32
                additionalProperties:
                  $ref: '#/definitions/LogicalTable'
              ImportMode:
                description: Indicates whether or not you want to import the data into SPICE.
                type: string
                enum:
                  - SPICE
                  - DIRECT_QUERY
              ColumnGroups:
                description: Groupings of columns that work together in certain QuickSight features. Currently only geospatial hierarchy is supported.
                type: array
                items:
                  $ref: '#/definitions/ColumnGroup'
                minItems: 1
                maxItems: 8
              RowLevelPermissionDataSet:
                description: Row-level security configuration on the dataset.
                type: object
                properties:
                  Arn:
                    $ref: '#/definitions/Arn'
                    description: The Amazon Resource name (ARN) of the permission dataset.
                  PermissionPolicy:
                    $ref: '#/definitions/RowLevelPermissionPolicy'
                    description: Permission policy.
  '/accounts/{AwsAccountId}/data-sources/{DataSourceId}':
    delete:
      operationId: DeleteDataSource
      description: '<p>Deletes the data source permanently. This action breaks all the datasets that reference the deleted data source.</p> <p>CLI syntax:</p> <p> <code>aws quicksight delete-data-source \</code> </p> <p> <code>--aws-account-id=111122223333 \</code> </p> <p> <code>--data-source-id=unique-data-source-id </code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDataSourceResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: The AWS account ID.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: DataSourceId
          in: path
          required: true
          description: The ID of the data source. This is unique per AWS Region per AWS account.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeDataSource
      description: '<p>Describes a data source.</p> <p>The permissions resource is <code>arn:aws:quicksight:region:aws-account-id:datasource/data-source-id</code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDataSourceResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: AwsAccountId
          in: path
          required: true
          description: The AWS account ID.
          type: string
          pattern: '^[0-9]{12}$'
          minLength: 12
          maxLength: 12
        - name: DataSourceId
          in: path
          required: true
          description: The ID of the data source. This is unique per AWS Region per AWS account.
          type: string
    put:
      operationId: UpdateDataSource
      description: '<p>Updates a data source.</p> <p>The permissions resource is <code>arn:aws:quicksight:region:aws-account-id:datasource/data-source-id</code> </p> <p>CLI syntax:</p> <p> <code>aws quicksight update-data-source \</code> </p> <p> <code>--aws-account-id=111122223333 \</code> </p> <p> <code>--data-source-id=unique-data-source-id \</code> </p> <p> <code>--name=''My Data Source'' \</code> </p> <p> <code>--data-source-parameters=''{"PostgreSqlParameters":{"Host":"my-db-host.example.com","Port":1234,"Database":"my-db"}}'' \</code> </p> <p> <code>--credentials=''{"CredentialPair":{"Username":"username","Password":"password"}}</code> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDataSourceResponse'
        '480':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '481':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '482':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '485':
          description: InternalFailureException
          schema:
[...]
