openapi: 3.0.0
servers:
  - url: 'https://api.apitore.com/api/11'
info:
  description: 'Japanese sentiment analyzer.<BR />[Endpoint] https://api.apitore.com/api/11'
  title: Sentiment APIs
  version: 1.0.6
  x-apisguru-categories:
    - developer_tools
  x-description-language: jp
  x-logo:
    url: 'https://apitore.com/img/apis/11.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.apitore.com/json/11'
      version: '2.0'
  x-providerName: apitore.com
  x-serviceName: sentimentApis
tags:
  - description: Sentiment Controller
    name: sentiment-controller
paths:
  /sentiment/predict:
    get:
      description: 'Sentiment Analysis, last update at 2017-5-12.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/word2vec-response">word2vec-response</a><BR />&nbsp; Class: com.apitore.banana.response.sentiment.SentimentResponseEntity<BR />'
      operationId: predictUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          schema:
            type: string
        - description: text
          in: query
          name: text
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentimentResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Sentiment predict
      tags:
        - sentiment-controller
components:
  schemas:
    SentimentEntity:
      properties:
        score:
          description: cosine distance
          format: double
          type: number
        sentiment:
          description: sentiment
          type: string
      required:
        - score
        - sentiment
      type: object
    SentimentResponseEntity:
      properties:
        endTime:
          description: End date
          type: string
        log:
          description: Log message
          type: string
        predict:
          $ref: '#/components/schemas/SentimentEntity'
        processTime:
          description: 'Process time [millisecond]'
          type: string
        sentiments:
          description: 'Output: sentiments'
          items:
            $ref: '#/components/schemas/SentimentEntity'
          type: array
        startTime:
          description: Start date
          type: string
        text:
          description: 'Input: text'
          type: string
      required:
        - endTime
        - log
        - predict
        - processTime
        - sentiments
        - startTime
        - text
      type: object
