swagger: '2.0'
schemes:
  - https
host: api.apitore.com
basePath: /api/52
info:
  description: 'Japanese sentiment analyzer.<BR />[Endpoint] https://api.apitore.com/api/52'
  title: Sentiment APIs
  version: 1.0.6
  x-apisguru-categories:
    - developer_tools
    - text
  x-logo:
    url: 'https://apitore.com/img/apis/52.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.apitore.com/json/52'
      version: '2.0'
  x-providerName: apitore.com
  x-serviceName: sentimentApis
  x-preferred: false
consumes:
  - application/json
produces:
  - application/json
tags:
  - description: Sentiment Many Controller
    name: sentiment-many-controller
paths:
  /sentiments/predict:
    post:
      description: 'Sentiment Analysis, last update at 2017-5-12.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/word2vec-response">word2vec-response</a><BR />&nbsp; Class: com.apitore.banana.response.sentiment.ListSentimentResponseEntity<BR />'
      operationId: predictUsingPOST
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - description: req
          in: body
          name: req
          required: true
          schema:
            $ref: '#/definitions/SentimentRequestEntity'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ListSentimentResponseEntity'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Sentiment predict
      tags:
        - sentiment-many-controller
definitions:
  ListSentimentResponseEntity:
    properties:
      endTime:
        description: End date
        type: string
      log:
        description: Log message
        type: string
      processTime:
        description: 'Process time [millisecond]'
        type: string
      sentimentlist:
        description: 'Output: sentiment list'
        items:
          $ref: '#/definitions/SentimentResponseEntity'
        type: array
      startTime:
        description: Start date
        type: string
    required:
      - endTime
      - log
      - processTime
      - sentimentlist
      - startTime
    type: object
  SentimentEntity:
    properties:
      score:
        description: cosine distance
        format: double
        type: number
      sentiment:
        description: sentiment
        type: string
    required:
      - score
      - sentiment
    type: object
  SentimentRequestEntity:
    properties:
      texts:
        description: 'texts [max 1MB]'
        items:
          type: string
        type: array
    required:
      - texts
    type: object
  SentimentResponseEntity:
    properties:
      endTime:
        description: End date
        type: string
      log:
        description: Log message
        type: string
      predict:
        $ref: '#/definitions/SentimentEntity'
        description: 'Output: prediction'
      processTime:
        description: 'Process time [millisecond]'
        type: string
      sentiments:
        description: 'Output: sentiments'
        items:
          $ref: '#/definitions/SentimentEntity'
        type: array
      startTime:
        description: Start date
        type: string
      text:
        description: 'Input: text'
        type: string
    required:
      - endTime
      - log
      - predict
      - processTime
      - sentiments
      - startTime
      - text
    type: object
