openapi: 3.1.0
schemes:
  - https
servers:
  - url: https://www.wikidata.org/w/rest.php/wikibase/v0
info:
  contact:
    name: Wikimedia Deutschland - Wikibase Product Platform Team
    url: https://phabricator.wikimedia.org/project/board/6692/
    x-twitter: Wikidata
  license:
    name: GNU General Public License v2.0 or later,
    url: https://spdx.org/licenses/GPL-2.0-or-later.html
  description: OpenAPI definition of Wikibase REST API.  See https://www.wikidata.org/wiki/Wikidata:REST_API and also https://www.wikidata.org/wiki/Wikidata:Data_access#Wikibase_REST_API
  title: Wikibase REST API
  version: 0.4
  x-apisguru-categories:
    - media
    - text
    - knowledge_base
    - open_data
  x-tags:
    - Wikimedia
    - Mediawiki
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/6/66/Wikidata-logo-en.svg
    href: https://
    altText: Wikidata official logo
  x-origin:
    - format: openapi
      url: https://www.wikidata.org/w/rest.php/wikibase/v0/openapi.json
      version: 3.1
  x-providerName: wikidata.org
  x-serviceName: wikibase
consumes:
  - application/json
produces:
  - application/json
security:
  - OAuth2
paths:
  /openapi.json:
    get:
      operationId: getOpenApiDoc
      tags:
        - OpenAPI document
      summary: Retrieve the OpenAPI document
      responses:
        "200":
          description: OpenAPI document
          content:
            application/json:
              schema:
                type: object
              example:
                openapi: ...
                info:
                  title: Wikibase REST API
                  version: ...
                  description: OpenAPI definition of Wikibase REST API
                paths: ...
  /property-data-types:
    get:
      operationId: getPropertyDataTypes
      tags:
        - Property data types
      summary: Retrieve the map of Property data types to value types
      responses:
        "200":
          description: The map of Property data types to value types
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
              example:
                data-type: value-type
  /entities/items:
    post:
      operationId: addItem
      tags:
        - items
      summary: Create a Wikibase Item
      parameters:
        - $ref: "#/components/parameters/Authorization"
      requestBody:
        $ref: "#/components/requestBodies/Item"
      responses:
        "201":
          $ref: "#/components/responses/Item"
        "400":
          description: The request cannot be processed
          content:
            application/json:
              schema:
                $ref: "#/components/responses/InvalidPatch/content/application~1json/schema"
              examples:
                value-too-long:
                  $ref: "#/components/examples/ValueTooLongExample"
                statement-group-property-id-mismatch:
                  $ref: "#/components/examples/StatementGroupPropertyIdMismatch"
                referenced-resource-not-found:
                  $ref: "#/components/examples/ReferencedResourceNotFoundExample"
                invalid-value:
                  $ref: "#/components/examples/InvalidValueExample"
                missing-field:
                  $ref: "#/components/examples/MissingFieldExample"
                invalid-key:
                  $ref: "#/components/examples/InvalidKeyExample"
                resource-too-large:
                  $ref: "#/components/examples/ResourceTooLargeExample"
          headers:
            Content-Language:
              schema:
                type: string
              description: Language code of the language in which error message is provided
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "422":
          $ref: "#/components/responses/DataPolicyViolation"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/items/{item_id}:
    get:
      operationId: getItem
      tags:
        - items
      summary: Retrieve a single Wikibase Item by ID
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/ItemFields"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/Item"
        "304":
          $ref: "#/components/responses/NotModified"
        "308":
          $ref: "#/components/responses/MovedPermanently"
        "400":
          description: The request cannot be processed
          content:
            application/json:
              schema:
                $ref: "#/components/responses/InvalidPatch/content/application~1json/schema"
              examples:
                invalid-path-parameter:
                  $ref: "#/components/examples/InvalidPathParameterExample"
                invalid-query-parameter:
                  $ref: "#/components/examples/InvalidQueryParameterExample"
          headers:
            Content-Language:
              schema:
                type: string
              description: Language code of the language in which error message is provided
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    patch:
      operationId: patchItem
      tags:
        - items
      summary: Change a single Wikibase Item by ID
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
      requestBody:
        $ref: "#/components/requestBodies/ItemPatch"
      responses:
        "200":
          $ref: "#/components/responses/Item"
        "400":
          $ref: "#/components/responses/InvalidPatch"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/CannotApplyItemPatch"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "422":
          $ref: "#/components/responses/InvalidPatchedItem"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/items/{item_id}/sitelinks:
    get:
      operationId: getSitelinks
      tags:
        - sitelinks
      summary: Retrieve an Item's Sitelinks
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/Sitelinks"
        "304":
          $ref: "#/components/responses/NotModified"
        "308":
          $ref: "#/components/responses/MovedPermanently"
        "400":
          $ref: "#/components/responses/InvalidEntityIdInput"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    patch:
      operationId: patchSitelinks
      tags:
        - sitelinks
      summary: Change an Item's Sitelinks
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
      requestBody:
        $ref: "#/components/requestBodies/SitelinksPatch"
      responses:
        "200":
          $ref: "#/components/responses/Sitelinks"
        "400":
          $ref: "#/components/responses/InvalidPatch"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/CannotApplyItemPatch"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "422":
          description: Applying the provided JSON Patch results in invalid Sitelinks
          content:
            application/json:
              schema:
                $ref: "#/components/responses/InvalidPatch/content/application~1json/schema"
              examples:
                patch-result-referenced-resource-not-found:
                  $ref: "#/components/examples/PatchResultResourceNotFoundExample"
                patch-result-invalid-value:
                  $ref: "#/components/examples/PatchResultInvalidValueExample"
                patch-result-missing-field:
                  $ref: "#/components/examples/PatchResultMissingFieldExample"
                patch-result-invalid-key:
                  $ref: "#/components/examples/PatchResultInvalidKeyExample"
                url-not-modifiable:
                  $ref: "#/components/examples/SitelinkUrlNotModifiableExample"
                data-policy-violation:
                  $ref: "#/components/examples/DataPolicyViolationExample"
          headers:
            Content-Language:
              schema:
                type: string
              description: Language code of the language in which error message is provided
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/items/{item_id}/sitelinks/{site_id}:
    get:
      operationId: getSitelink
      tags:
        - sitelinks
      summary: Retrieve an Item's Sitelink
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/SiteId"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/Sitelink"
        "304":
          $ref: "#/components/responses/NotModified"
        "308":
          $ref: "#/components/responses/MovedPermanently"
        "400":
          description: The request cannot be processed
          content:
            application/json:
              schema:
                $ref: "#/components/responses/InvalidPatch/content/application~1json/schema"
              examples:
                invalid-path-parameter:
                  $ref: "#/components/examples/InvalidPathParameterExample"
          headers:
            Content-Language:
              schema:
                type: string
              description: Language code of the language in which error message is provided
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    put:
      operationId: setSitelink
      tags:
        - sitelinks
      summary: Add / Replace an Item's Sitelink
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/SiteId"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      requestBody:
        $ref: "#/components/requestBodies/Sitelink"
      responses:
        "200":
          $ref: "#/components/responses/Sitelink"
          description: The updated Sitelink
        "201":
          $ref: "#/components/responses/Sitelink"
          description: The newly added Sitelink
        "400":
          description: The request cannot be processed
          content:
            application/json:
              schema:
                $ref: "#/components/responses/InvalidPatch/content/application~1json/schema"
              examples:
                invalid-path-parameter:
                  $ref: "#/components/examples/InvalidPathParameterExample"
                invalid-value:
                  $ref: "#/components/examples/InvalidValueExample"
                missing-field:
                  $ref: "#/components/examples/MissingFieldExample"
                value-too-long:
                  $ref: "#/components/examples/ValueTooLongExample"
                referenced-resource-not-found:
                  $ref: "#/components/examples/ReferencedResourceNotFoundExample"
                resource-too-large:
                  $ref: "#/components/examples/ResourceTooLargeExample"
          headers:
            Content-Language:
              schema:
                type: string
              description: Language code of the language in which error message is provided
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/ItemRedirected"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "422":
          $ref: "#/components/responses/DataPolicyViolation"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    delete:
      operationId: deleteSitelink
      tags:
        - sitelinks
      summary: Delete an Item's Sitelink
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/SiteId"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      requestBody:
        $ref: "#/components/requestBodies/Edit"
      responses:
        "200":
          description: The resource was deleted
          headers:
            Content-Language:
              description: Language code of the language in which response is provided
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
              example: Sitelink deleted
        "400":
          description: The request cannot be processed
          content:
            application/json:
              schema:
                $ref: "#/components/responses/InvalidPatch/content/application~1json/schema"
              examples:
                invalid-path-parameter:
                  $ref: "#/components/examples/InvalidPathParameterExample"
                invalid-value:
                  $ref: "#/components/examples/InvalidValueExample"
                value-too-long:
                  $ref: "#/components/examples/ValueTooLongExample"
          headers:
            Content-Language:
              schema:
                type: string
              description: Language code of the language in which error message is provided
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/ItemRedirected"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/properties/{property_id}:
    get:
      operationId: getProperty
      tags:
        - properties
      summary: Retrieve a single Wikibase Property by ID
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/PropertyFields"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/Property"
        "400":
          description: The request cannot be processed
          content:
            application/json:
              schema:
                $ref: "#/components/responses/InvalidPatch/content/application~1json/schema"
              examples:
                invalid-path-parameter:
                  $ref: "#/components/examples/InvalidPathParameterExample"
                invalid-query-parameter:
                  $ref: "#/components/examples/InvalidQueryParameterExample"
          headers:
            Content-Language:
              schema:
                type: string
              description: Language code of the language in which error message is provided
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    patch:
      operationId: patchProperty
      tags:
        - properties
      summary: Change a single Wikibase Property by ID
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
      requestBody:
        $ref: "#/components/requestBodies/PropertyPatch"
      responses:
        "200":
          $ref: "#/components/responses/Property"
        "400":
          $ref: "#/components/responses/InvalidPatch"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/CannotApplyPropertyPatch"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "422":
          $ref: "#/components/responses/InvalidPatchedProperty"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/items/{item_id}/descriptions:
    get:
      operationId: getItemDescriptions
      tags:
        - descriptions
      summary: Retrieve an Item's descriptions
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/ItemDescriptions"
        "304":
          $ref: "#/components/responses/NotModified"
        "308":
          $ref: "#/components/responses/MovedPermanently"
        "400":
          $ref: "#/components/responses/InvalidEntityIdInput"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    patch:
      operationId: patchItemDescriptions
      tags:
        - descriptions
      summary: Change an Item's descriptions
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
      requestBody:
        $ref: "#/components/requestBodies/DescriptionsPatch"
        description: Payload containing a JSON Patch document to be applied to an Item's
          descriptions and, optionally, edit metadata
      responses:
        "200":
          $ref: "#/components/responses/ItemDescriptions"
        "400":
          $ref: "#/components/responses/InvalidPatch"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/CannotApplyItemPatch"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "422":
          $ref: "#/components/responses/InvalidPatchedDescriptions"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/properties/{property_id}/descriptions:
    get:
      operationId: getPropertyDescriptions
      tags:
        - descriptions
      summary: Retrieve a Property's descriptions
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/PropertyDescriptions"
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/InvalidEntityIdInput"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    patch:
      operationId: patchPropertyDescriptions
      tags:
        - descriptions
      summary: Change a Property's descriptions
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
      requestBody:
        $ref: "#/components/requestBodies/DescriptionsPatch"
        description: Payload containing a JSON Patch document to be applied to a
          Property's descriptions and, optionally, edit metadata
      responses:
        "200":
          $ref: "#/components/responses/PropertyDescriptions"
        "400":
          $ref: "#/components/responses/InvalidPatch"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/CannotApplyPropertyPatch"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "422":
          $ref: "#/components/responses/InvalidPatchedDescriptions"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/items/{item_id}/descriptions/{language_code}:
    get:
      operationId: getItemDescription
      tags:
        - descriptions
      summary: Retrieve an Item's description in a specific language
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/LanguageCode"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/Description"
        "304":
          $ref: "#/components/responses/NotModified"
        "308":
          $ref: "#/components/responses/MovedPermanently"
        "400":
          $ref: "#/components/responses/InvalidTermByLanguageInput"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    put:
      operationId: replaceItemDescription
      tags:
        - descriptions
      summary: Add / Replace an Item's description in a specific language
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/LanguageCode"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      requestBody:
        $ref: "#/components/requestBodies/Description"
      responses:
        "200":
          $ref: "#/components/responses/Description"
          description: The updated Description in a specific language
        "201":
          $ref: "#/components/responses/Description"
          description: The newly added Description in a specific language
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/InvalidSetDescriptionInput"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/ItemRedirected"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "422":
          $ref: "#/components/responses/DataPolicyViolation"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    delete:
      operationId: deleteItemDescription
      tags:
        - descriptions
      summary: Delete an Item's description in a specific language
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/LanguageCode"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      requestBody:
        $ref: "#/components/requestBodies/Edit"
      responses:
        "200":
          $ref: "#/components/responses/DescriptionDeleted"
        "400":
          $ref: "#/components/responses/InvalidRemoveDescriptionInput"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/ItemRedirected"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/items/{item_id}/descriptions_with_language_fallback/{language_code}:
    get:
      operationId: getItemDescriptionWithFallback
      tags:
        - descriptions
      summary: "[WIP] Retrieve an Item's description in a specific language, with
        language fallback"
      description: This endpoint is currently in development and is not recommended
        for production use
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/LanguageCode"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/Description"
        "304":
          $ref: "#/components/responses/NotModified"
        "308":
          $ref: "#/components/responses/MovedPermanently"
        "400":
          $ref: "#/components/responses/InvalidTermByLanguageInput"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/properties/{property_id}/descriptions/{language_code}:
    get:
      operationId: getPropertyDescription
      tags:
        - descriptions
      summary: Retrieve a Property's description in a specific language
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/LanguageCode"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/Description"
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/InvalidTermByLanguageInput"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    put:
      operationId: replacePropertyDescription
      tags:
        - descriptions
      summary: Add / Replace a Property's description in a specific language
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/LanguageCode"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      requestBody:
        $ref: "#/components/requestBodies/Description"
      responses:
        "200":
          $ref: "#/components/responses/Description"
          description: The updated Description in a specific language
        "201":
          $ref: "#/components/responses/Description"
          description: The newly added Description in a specific language
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/InvalidSetDescriptionInput"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "422":
          $ref: "#/components/responses/DataPolicyViolation"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    delete:
      operationId: deletePropertyDescription
      tags:
        - descriptions
      summary: Delete a Property's description in a specific language
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/LanguageCode"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      requestBody:
        $ref: "#/components/requestBodies/Edit"
      responses:
        "200":
          $ref: "#/components/responses/DescriptionDeleted"
        "400":
          $ref: "#/components/responses/InvalidRemoveDescriptionInput"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/items/{item_id}/statements:
    get:
      operationId: getItemStatements
      tags:
        - statements
      summary: Retrieve Statements from an Item
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/PropertyFilter"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          description: The Statements of an Item
          headers:
            Last-Modified:
              schema:
                type: string
              description: Last modified date
            ETag:
              schema:
                type: string
              description: Last entity revision number
            X-Authenticated-User:
              schema:
                type: string
              description: Optional username of the user making the request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: "#/components/responses/Statement/content/application~1json/schema"
              example:
                P370:
                  - id: Q11$6403c562-401a-2b26-85cc-8327801145e1
                    rank: normal
                    property:
                      id: P370
                      data_type: string
                    value:
                      content: I am a goat
                      type: value
                    qualifiers: []
                    references: []
                P92:
                  - id: Q11$6403c562-401a-2b26-85cc-8327801145e1
                    rank: normal
                    property:
                      id: P92
                      data_type: string
                    value:
                      content: I am a goat
                      type: value
                    qualifiers: []
                    references: []
        "304":
          $ref: "#/components/responses/NotModified"
        "308":
          $ref: "#/components/responses/MovedPermanently"
        "400":
          $ref: "#/components/responses/InvalidRetrieveStatementsInput"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    post:
      operationId: addItemStatement
      tags:
        - statements
      summary: Add a new Statement to an Item
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/IfNoneMatch"
      requestBody:
        $ref: "#/components/requestBodies/Statement"
      responses:
        "201":
          description: A single newly created Wikibase Statement. Please note that the
            value of the `ETag` header field refers to the entity's revision ID.
          headers:
            Last-Modified:
              schema:
                type: string
              description: Last modified date
            ETag:
              schema:
                type: string
              description: Last entity revision number
            X-Authenticated-User:
              schema:
                type: string
              description: Optional username of the user making the request
            Location:
              schema:
                type: string
              description: The URI of the newly created Statement
          content:
            application/json:
              schema:
                $ref: "#/components/responses/Statement/content/application~1json/schema"
        "400":
          $ref: "#/components/responses/InvalidNewStatementInput"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/ItemRedirected"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/items/{item_id}/statements/{statement_id}:
    get:
      operationId: getItemStatement
      tags:
        - statements
      summary: Retrieve a single Statement from an Item
      description: This endpoint is also accessible through `/statements/{statement_id}`
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/ItemStatementId"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/ItemStatement"
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          description: The request cannot be processed
          content:
            application/json:
              schema:
                $ref: "#/components/responses/InvalidPatch/content/application~1json/schema"
              examples:
                invalid-path-parameter:
                  $ref: "#/components/examples/InvalidPathParameterExample"
                item-statement-id-mismatch:
                  $ref: "#/components/examples/ItemStatementIdMismatchExample"
          headers:
            Content-Language:
              schema:
                type: string
              description: Language code of the language in which error message is provided
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    put:
      operationId: replaceItemStatement
      tags:
        - statements
      summary: Replace a single Statement of an Item
      description: This endpoint is also accessible through `/statements/{statement_id}`
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/ItemStatementId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
      requestBody:
        $ref: "#/components/requestBodies/Statement"
      responses:
        "200":
          $ref: "#/components/responses/ItemStatement"
        "400":
          description: The request cannot be processed
          content:
            application/json:
              schema:
                $ref: "#/components/responses/InvalidPatch/content/application~1json/schema"
              examples:
                invalid-path-parameter:
                  $ref: "#/components/examples/InvalidPathParameterExample"
                item-statement-id-mismatch:
                  $ref: "#/components/examples/ItemStatementIdMismatchExample"
                invalid-value:
                  $ref: "#/components/examples/InvalidValueExample"
                missing-field:
                  $ref: "#/components/examples/MissingFieldExample"
                value-too-long:
                  $ref: "#/components/examples/ValueTooLongExample"
                cannot-modify-read-only-value:
                  $ref: "#/components/examples/CannotModifyReadOnlyValue"
                referenced-resource-not-found:
                  $ref: "#/components/examples/ReferencedResourceNotFoundExample"
                resource-too-large:
                  $ref: "#/components/examples/ResourceTooLargeExample"
          headers:
            Content-Language:
              schema:
                type: string
              description: Language code of the language in which error message is provided
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    patch:
      operationId: patchItemStatement
      tags:
        - statements
      summary: Change elements of a single Statement of an Item
      description: This endpoint is also accessible through `/statements/{statement_id}`.
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/ItemStatementId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
      requestBody:
        $ref: "#/components/requestBodies/StatementPatch"
      responses:
        "200":
          $ref: "#/components/responses/ItemStatement"
        "400":
          description: The provided JSON Patch is invalid
          content:
            application/json:
              schema:
                $ref: "#/components/responses/InvalidPatch/content/application~1json/schema"
              examples:
                invalid-path-parameter:
                  $ref: "#/components/examples/InvalidPathParameterExample"
                item-statement-id-mismatch:
                  $ref: "#/components/examples/ItemStatementIdMismatchExample"
                invalid-value:
                  $ref: "#/components/examples/InvalidValueExample"
                missing-field:
                  $ref: "#/components/examples/MissingFieldExample"
                value-too-long:
                  $ref: "#/components/examples/ValueTooLongExample"
                resource-too-large:
                  $ref: "#/components/examples/ResourceTooLargeExample"
          headers:
            Content-Language:
              schema:
                type: string
              description: Language code of the language in which error message is provided
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/CannotApplyStatementPatch"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "422":
          $ref: "#/components/responses/InvalidPatchedStatement"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    delete:
      operationId: deleteItemStatement
      tags:
        - statements
      summary: Delete a single Statement from an Item
      description: This endpoint is also accessible through `/statements/{statement_id}`
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/ItemStatementId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
      requestBody:
        $ref: "#/components/requestBodies/Edit"
      responses:
        "200":
          $ref: "#/components/responses/StatementDeleted"
        "400":
          description: The request cannot be processed
          content:
            application/json:
              schema:
                $ref: "#/components/responses/InvalidPatch/content/application~1json/schema"
              examples:
                invalid-path-parameter:
                  $ref: "#/components/examples/InvalidPathParameterExample"
                item-statement-id-mismatch:
                  $ref: "#/components/examples/ItemStatementIdMismatchExample"
                invalid-value:
                  $ref: "#/components/examples/InvalidValueExample"
                value-too-long:
                  $ref: "#/components/examples/ValueTooLongExample"
          headers:
            Content-Language:
              schema:
                type: string
              description: Language code of the language in which error message is provided
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/items/{item_id}/labels:
    get:
      operationId: getItemLabels
      tags:
        - labels
      summary: Retrieve an Item's labels
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/ItemLabels"
        "304":
          $ref: "#/components/responses/NotModified"
        "308":
          $ref: "#/components/responses/MovedPermanently"
        "400":
          $ref: "#/components/responses/InvalidEntityIdInput"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    patch:
      operationId: patchItemLabels
      tags:
        - labels
      summary: Change an Item's Labels
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
      requestBody:
        $ref: "#/components/requestBodies/LabelsPatch"
      responses:
        "200":
          $ref: "#/components/responses/ItemLabels"
        "400":
          $ref: "#/components/responses/InvalidPatch"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/CannotApplyItemPatch"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "422":
          $ref: "#/components/responses/InvalidPatchedLabels"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/properties/{property_id}/labels:
    get:
      operationId: getPropertyLabels
      tags:
        - labels
      summary: Retrieve a Property's labels
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/PropertyLabels"
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/InvalidEntityIdInput"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    patch:
      operationId: patchPropertyLabels
      tags:
        - labels
      summary: Change a Property's Labels
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
      requestBody:
        $ref: "#/components/requestBodies/LabelsPatch"
      responses:
        "200":
          $ref: "#/components/responses/PropertyLabels"
        "400":
          $ref: "#/components/responses/InvalidPatch"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/CannotApplyPropertyPatch"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "422":
          $ref: "#/components/responses/InvalidPatchedLabels"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/items/{item_id}/labels/{language_code}:
    get:
      operationId: getItemLabel
      tags:
        - labels
      summary: Retrieve an Item's label in a specific language
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/LanguageCode"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/Label"
        "304":
          $ref: "#/components/responses/NotModified"
        "308":
          $ref: "#/components/responses/MovedPermanently"
        "400":
          $ref: "#/components/responses/InvalidTermByLanguageInput"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    put:
      operationId: replaceItemLabel
      tags:
        - labels
      summary: Add / Replace an Item's label in a specific language
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/LanguageCode"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      requestBody:
        $ref: "#/components/requestBodies/Label"
      responses:
        "200":
          $ref: "#/components/responses/Label"
          description: The updated Label in a specific language
        "201":
          $ref: "#/components/responses/Label"
          description: The newly added Label in a specific language
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/InvalidSetLabelInput"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/ItemRedirected"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "422":
          $ref: "#/components/responses/DataPolicyViolation"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    delete:
      operationId: deleteItemLabel
      tags:
        - labels
      summary: Delete an Item's label in a specific language
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/LanguageCode"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      requestBody:
        $ref: "#/components/requestBodies/Edit"
      responses:
        "200":
          $ref: "#/components/responses/LabelDeleted"
        "400":
          $ref: "#/components/responses/InvalidRemoveLabelInput"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/ItemRedirected"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/items/{item_id}/labels_with_language_fallback/{language_code}:
    get:
      operationId: getItemLabelWithFallback
      tags:
        - labels
      summary: "[WIP] Retrieve an Item's label in a specific language, with language
        fallback"
      description: This endpoint is currently in development and is not recommended
        for production use
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/LanguageCode"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/Label"
        "304":
          $ref: "#/components/responses/NotModified"
        "307":
          $ref: "#/components/responses/MovedTemporarily"
        "308":
          $ref: "#/components/responses/MovedPermanently"
        "400":
          $ref: "#/components/responses/InvalidTermByLanguageInput"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/properties/{property_id}/labels/{language_code}:
    get:
      operationId: getPropertyLabel
      tags:
        - labels
      summary: Retrieve a Property's label in a specific language
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/LanguageCode"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/Label"
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/InvalidTermByLanguageInput"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    put:
      operationId: replacePropertyLabel
      tags:
        - labels
      summary: Add / Replace a Property's label in a specific language
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/LanguageCode"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      requestBody:
        $ref: "#/components/requestBodies/Label"
      responses:
        "200":
          $ref: "#/components/responses/Label"
          description: The updated Label in a specific language
        "201":
          $ref: "#/components/responses/Label"
          description: The newly added Label in a specific language
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/InvalidSetLabelInput"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "422":
          $ref: "#/components/responses/DataPolicyViolation"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    delete:
      operationId: deletePropertyLabel
      tags:
        - labels
      summary: Delete a Property's label in a specific language
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/LanguageCode"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      requestBody:
        $ref: "#/components/requestBodies/Edit"
      responses:
        "200":
          $ref: "#/components/responses/LabelDeleted"
        "400":
          $ref: "#/components/responses/InvalidRemoveLabelInput"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/properties/{property_id}/labels_with_language_fallback/{language_code}:
    get:
      operationId: getPropertyLabelWithFallback
      tags:
        - labels
      summary: "[WIP] Retrieve a Property's label in a specific language, with
        language fallback"
      description: This endpoint is currently in development and is not recommended
        for production use
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/LanguageCode"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/Label"
        "304":
          $ref: "#/components/responses/NotModified"
        "307":
          $ref: "#/components/responses/MovedTemporarily"
        "400":
          $ref: "#/components/responses/InvalidTermByLanguageInput"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/items/{item_id}/aliases:
    get:
      operationId: getItemAliases
      tags:
        - aliases
      summary: Retrieve an Item's aliases
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/ItemAliases"
        "304":
          $ref: "#/components/responses/NotModified"
        "308":
          $ref: "#/components/responses/MovedPermanently"
        "400":
          $ref: "#/components/responses/InvalidEntityIdInput"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    patch:
      operationId: patchItemAliases
      tags:
        - aliases
      summary: Change an Item's aliases
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
      requestBody:
        $ref: "#/components/requestBodies/AliasesPatch"
      responses:
        "200":
          $ref: "#/components/responses/ItemAliases"
        "400":
          $ref: "#/components/responses/InvalidPatch"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/CannotApplyItemPatch"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "422":
          $ref: "#/components/responses/InvalidPatchedAliases"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/properties/{property_id}/aliases:
    get:
      operationId: getPropertyAliases
      tags:
        - aliases
      summary: Retrieve a Property's aliases
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/PropertyAliases"
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/InvalidEntityIdInput"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    patch:
      operationId: patchPropertyAliases
      tags:
        - aliases
      summary: Change a Property's aliases
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
      requestBody:
        $ref: "#/components/requestBodies/AliasesPatch"
      responses:
        "200":
          $ref: "#/components/responses/PropertyAliases"
        "400":
          $ref: "#/components/responses/InvalidPatch"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/CannotApplyPropertyPatch"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "422":
          $ref: "#/components/responses/InvalidPatchedAliases"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/items/{item_id}/aliases/{language_code}:
    get:
      operationId: getItemAliasesInLanguage
      tags:
        - aliases
      summary: Retrieve an Item's aliases in a specific language
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/LanguageCode"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/ItemAliasesInLanguage"
        "304":
          $ref: "#/components/responses/NotModified"
        "308":
          $ref: "#/components/responses/MovedPermanently"
        "400":
          $ref: "#/components/responses/InvalidTermByLanguageInput"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    post:
      operationId: addItemAliasesInLanguage
      tags:
        - aliases
      summary: Create / Add an Item's aliases in a specific language
      parameters:
        - $ref: "#/components/parameters/ItemId"
        - $ref: "#/components/parameters/LanguageCode"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      requestBody:
        $ref: "#/components/requestBodies/Aliases"
      responses:
        "200":
          $ref: "#/components/responses/ItemAliasesInLanguage"
          description: The updated list of Aliases in a specific language
        "201":
          $ref: "#/components/responses/ItemAliasesInLanguage"
          description: The newly created List of Aliases in a specific language
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/InvalidAddAliasesInput"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/ItemRedirected"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/properties/{property_id}/aliases/{language_code}:
    get:
      operationId: getPropertyAliasesInLanguage
      tags:
        - aliases
      summary: Retrieve a Property's aliases in a specific language
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/LanguageCode"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/PropertyAliasesInLanguage"
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/InvalidTermByLanguageInput"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    post:
      operationId: addPropertyAliasesInLanguage
      tags:
        - aliases
      summary: Create / Add a Property's aliases in a specific language
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/LanguageCode"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      requestBody:
        $ref: "#/components/requestBodies/Aliases"
      responses:
        "200":
          $ref: "#/components/responses/PropertyAliasesInLanguage"
          description: The updated list of Aliases in a specific language
        "201":
          $ref: "#/components/responses/PropertyAliasesInLanguage"
          description: The newly created List of Aliases in a specific language
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/InvalidAddAliasesInput"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/properties/{property_id}/statements:
    get:
      operationId: getPropertyStatements
      tags:
        - statements
      summary: Retrieve Statements from a Property
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/PropertyFilter"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          description: The Statements of a Property
          headers:
            Last-Modified:
              schema:
                type: string
              description: Last modified date
            ETag:
              schema:
                type: string
              description: Last entity revision number
            X-Authenticated-User:
              schema:
                type: string
              description: Optional username of the user making the request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: "#/components/responses/Statement/content/application~1json/schema"
              example:
                P370:
                  - id: P11$6403c562-401a-2b26-85cc-8327801145e1
                    rank: normal
                    property:
                      id: P370
                      data_type: string
                    value:
                      content: I am a goat
                      type: value
                    qualifiers: []
                    references: []
                P92:
                  - id: P11$6403c562-401a-2b26-85cc-8327801145e1
                    rank: normal
                    property:
                      id: P92
                      data_type: string
                    value:
                      content: I am a goat
                      type: value
                    qualifiers: []
                    references: []
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/InvalidRetrieveStatementsInput"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    post:
      operationId: addPropertyStatement
      tags:
        - statements
      summary: Add a new Statement to a Property
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/IfNoneMatch"
      requestBody:
        $ref: "#/components/requestBodies/Statement"
      responses:
        "201":
          description: A single newly created Wikibase Statement. Please note that the
            value of the `ETag` header field refers to the entity's revision ID.
          headers:
            Last-Modified:
              schema:
                type: string
              description: Last modified date
            ETag:
              schema:
                type: string
              description: Last entity revision number
            X-Authenticated-User:
              schema:
                type: string
              description: Optional username of the user making the request
            Location:
              schema:
                type: string
              description: The URI of the newly created Statement
          content:
            application/json:
              schema:
                $ref: "#/components/responses/Statement/content/application~1json/schema"
              example:
                $ref: "#/components/examples/PropertyStatementResponseExample/value"
        "400":
          $ref: "#/components/responses/InvalidNewStatementInput"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /entities/properties/{property_id}/statements/{statement_id}:
    get:
      operationId: getPropertyStatement
      tags:
        - statements
      summary: Retrieve a single Statement from a Property
      description: This endpoint is also accessible through `/statements/{statement_id}`
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/PropertyStatementId"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/PropertyStatement"
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          description: The request cannot be processed
          content:
            application/json:
              schema:
                $ref: "#/components/responses/InvalidPatch/content/application~1json/schema"
              examples:
                invalid-path-parameter:
                  $ref: "#/components/examples/InvalidPathParameterExample"
                property-statement-id-mismatch:
                  $ref: "#/components/examples/PropertyStatementIdMismatchExample"
          headers:
            Content-Language:
              schema:
                type: string
              description: Language code of the language in which error message is provided
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    put:
      operationId: replacePropertyStatement
      tags:
        - statements
      summary: Replace a single Statement of a Property
      description: This endpoint is also accessible through `/statements/{statement_id}`
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/PropertyStatementId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
      requestBody:
        $ref: "#/components/requestBodies/Statement"
      responses:
        "200":
          $ref: "#/components/responses/PropertyStatement"
        "400":
          description: The request cannot be processed
          content:
            application/json:
              schema:
                $ref: "#/components/responses/InvalidPatch/content/application~1json/schema"
              examples:
                invalid-path-parameter:
                  $ref: "#/components/examples/InvalidPathParameterExample"
                property-statement-id-mismatch:
                  $ref: "#/components/examples/PropertyStatementIdMismatchExample"
                invalid-value:
                  $ref: "#/components/examples/InvalidValueExample"
                missing-field:
                  $ref: "#/components/examples/MissingFieldExample"
                value-too-long:
                  $ref: "#/components/examples/ValueTooLongExample"
                cannot-modify-read-only-value:
                  $ref: "#/components/examples/CannotModifyReadOnlyValue"
                referenced-resource-not-found:
                  $ref: "#/components/examples/ReferencedResourceNotFoundExample"
                resource-too-large:
                  $ref: "#/components/examples/ResourceTooLargeExample"
          headers:
            Content-Language:
              schema:
                type: string
              description: Language code of the language in which error message is provided
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    patch:
      operationId: patchPropertyStatement
      tags:
        - statements
      summary: Change elements of a single Statement of a Property
      description: This endpoint is also accessible through `/statements/{statement_id}`.
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/PropertyStatementId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
      requestBody:
        $ref: "#/components/requestBodies/StatementPatch"
      responses:
        "200":
          $ref: "#/components/responses/PropertyStatement"
        "400":
          description: The provided JSON Patch is invalid
          content:
            application/json:
              schema:
                $ref: "#/components/responses/InvalidPatch/content/application~1json/schema"
              examples:
                invalid-path-parameter:
                  $ref: "#/components/examples/InvalidPathParameterExample"
                property-statement-id-mismatch:
                  $ref: "#/components/examples/PropertyStatementIdMismatchExample"
                invalid-value:
                  $ref: "#/components/examples/InvalidValueExample"
                missing-field:
                  $ref: "#/components/examples/MissingFieldExample"
                value-too-long:
                  $ref: "#/components/examples/ValueTooLongExample"
                resource-too-large:
                  $ref: "#/components/examples/ResourceTooLargeExample"
          headers:
            Content-Language:
              schema:
                type: string
              description: Language code of the language in which error message is provided
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/CannotApplyStatementPatch"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "422":
          $ref: "#/components/responses/InvalidPatchedStatement"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    delete:
      operationId: deletePropertyStatement
      tags:
        - statements
      summary: Delete a single Statement from a Property
      description: This endpoint is also accessible through `/statements/{statement_id}`.
      parameters:
        - $ref: "#/components/parameters/PropertyId"
        - $ref: "#/components/parameters/PropertyStatementId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
      requestBody:
        $ref: "#/components/requestBodies/Edit"
      responses:
        "200":
          $ref: "#/components/responses/StatementDeleted"
        "400":
          description: The request cannot be processed
          content:
            application/json:
              schema:
                $ref: "#/components/responses/InvalidPatch/content/application~1json/schema"
              examples:
                invalid-path-parameter:
                  $ref: "#/components/examples/InvalidPathParameterExample"
                property-statement-id-mismatch:
                  $ref: "#/components/examples/PropertyStatementIdMismatchExample"
                invalid-value:
                  $ref: "#/components/examples/InvalidValueExample"
                value-too-long:
                  $ref: "#/components/examples/ValueTooLongExample"
          headers:
            Content-Language:
              schema:
                type: string
              description: Language code of the language in which error message is provided
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /statements/{statement_id}:
    get:
      operationId: getStatement
      tags:
        - statements
      summary: Retrieve a single Statement
      description: This endpoint is also accessible through
        `/entities/items/{item_id}/statements/{statement_id}` and
        `/entities/properties/{property_id}/statements/{statement_id}`
      parameters:
        - $ref: "#/components/parameters/StatementId"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfModifiedSince"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
        - $ref: "#/components/parameters/Authorization"
      responses:
        "200":
          $ref: "#/components/responses/Statement"
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          description: The request cannot be processed
          content:
            application/json:
              schema:
                $ref: "#/components/responses/InvalidPatch/content/application~1json/schema"
              examples:
                invalid-path-parameter:
                  $ref: "#/components/examples/InvalidPathParameterExample"
          headers:
            Content-Language:
              schema:
                type: string
              description: Language code of the language in which error message is provided
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    put:
      operationId: replaceStatement
      tags:
        - statements
      summary: Replace a single Statement
      description: This endpoint is also accessible through
        `/entities/items/{item_id}/statements/{statement_id}` and
        `/entities/properties/{property_id}/statements/{statement_id}`
      parameters:
        - $ref: "#/components/parameters/StatementId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
      requestBody:
        $ref: "#/components/requestBodies/Statement"
      responses:
        "200":
          $ref: "#/components/responses/Statement"
        "400":
          description: The request cannot be processed
          content:
            application/json:
              schema:
                $ref: "#/components/responses/InvalidPatch/content/application~1json/schema"
              examples:
                invalid-path-parameter:
                  $ref: "#/components/examples/InvalidPathParameterExample"
                invalid-value:
                  $ref: "#/components/examples/InvalidValueExample"
                missing-field:
                  $ref: "#/components/examples/MissingFieldExample"
                value-too-long:
                  $ref: "#/components/examples/ValueTooLongExample"
                cannot-modify-read-only-value:
                  $ref: "#/components/examples/CannotModifyReadOnlyValue"
                resource-too-large:
                  $ref: "#/components/examples/ResourceTooLargeExample"
                referenced-resource-not-found:
                  $ref: "#/components/examples/ReferencedResourceNotFoundExample"
          headers:
            Content-Language:
              schema:
                type: string
              description: Language code of the language in which error message is provided
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    patch:
      operationId: patchStatement
      tags:
        - statements
      summary: Change elements of a single Statement
      description: This endpoint is also accessible through
        `/entities/items/{item_id}/statements/{statement_id}` and
        `/entities/properties/{property_id}/statements/{statement_id}`
      parameters:
        - $ref: "#/components/parameters/StatementId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
      requestBody:
        $ref: "#/components/requestBodies/StatementPatch"
      responses:
        "200":
          $ref: "#/components/responses/Statement"
        "400":
          $ref: "#/components/responses/InvalidPatch"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/CannotApplyStatementPatch"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "422":
          $ref: "#/components/responses/InvalidPatchedStatement"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    delete:
      operationId: deleteStatement
      tags:
        - statements
      summary: Delete a single Statement
      description: This endpoint is also accessible through
        `/entities/items/{item_id}/statements/{statement_id}` and
        `/entities/properties/{property_id}/statements/{statement_id}`
      parameters:
        - $ref: "#/components/parameters/StatementId"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IfNoneMatch"
        - $ref: "#/components/parameters/IfUnmodifiedSince"
      requestBody:
        $ref: "#/components/requestBodies/Edit"
      responses:
        "200":
          $ref: "#/components/responses/StatementDeleted"
        "400":
          description: The request cannot be processed
          content:
            application/json:
              schema:
                $ref: "#/components/responses/InvalidPatch/content/application~1json/schema"
              examples:
                invalid-path-parameter:
                  $ref: "#/components/examples/InvalidPathParameterExample"
                invalid-value:
                  $ref: "#/components/examples/InvalidValueExample"
                value-too-long:
                  $ref: "#/components/examples/ValueTooLongExample"
          headers:
            Content-Language:
              schema:
                type: string
              description: Language code of the language in which error message is provided
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "429":
          $ref: "#/components/responses/RequestLimitReached"
        "500":
          $ref: "#/components/responses/UnexpectedError"
components:
  parameters:
    ItemId:
      in: path
      name: item_id
      description: The ID of the required Item
      required: true
      schema:
        type: string
        pattern: ^Q[1-9]\d{0,9}$
      examples:
        item:
          summary: Example of Item ID
          value: Q42
    PropertyId:
      in: path
      name: property_id
      description: The ID of the required Property
      required: true
      schema:
        type: string
        pattern: ^P[1-9]\d{0,9}$
      examples:
        item:
          summary: Example of Property ID
          value: P31
    StatementId:
      in: path
      name: statement_id
      description: The ID of the required Statement
      required: true
      schema:
        type: string
        pattern: ^(Q|q|P|p)[1-9]\d{0,9}\$.+$
      examples:
        Statement on an Item:
          $ref: "#/components/examples/ItemStatementIdExample"
        Statement on a Property:
          $ref: "#/components/examples/PropertyStatementIdExample"
    ItemStatementId:
      in: path
      name: statement_id
      description: The ID of the required Item Statement
      required: true
      schema:
        type: string
        pattern: ^(Q|q)[1-9]\d{0,9}\$.+$
      example:
        $ref: "#/components/examples/ItemStatementIdExample/value"
    PropertyStatementId:
      in: path
      name: statement_id
      description: The ID of the required Property Statement
      required: true
      schema:
        type: string
        pattern: ^(P|p)[1-9]\d{0,9}\$.+$
      example:
        $ref: "#/components/examples/PropertyStatementIdExample/value"
    LanguageCode:
      in: path
      name: language_code
      description: The requested resource language
      required: true
      schema:
        type: string
        pattern: ^[a-z]{2}[a-z0-9-]*$
      example: en
    SiteId:
      in: path
      name: site_id
      description: The ID of the required Site
      required: true
      schema:
        type: string
      examples:
        item:
          summary: Example of Site ID
          value: dewiki
    ItemFields:
      in: query
      name: _fields
      description: Comma-separated list of fields to include in each response object.
      required: false
      schema:
        type: array
        items:
          type: string
          enum:
            - type
            - labels
            - descriptions
            - aliases
            - statements
            - sitelinks
      explode: false
      style: form
    PropertyFields:
      in: query
      name: _fields
      description: Comma-separated list of fields to include in each response object.
      required: false
      schema:
        type: array
        items:
          type: string
          enum:
            - type
            - data_type
            - labels
            - descriptions
            - aliases
            - statements
      explode: false
      style: form
    PropertyFilter:
      in: query
      name: property
      description: Single Property ID to filter Statements by.
      required: false
      schema:
        type: string
        pattern: ^P[1-9]\d{0,9}$
      style: form
      example: P31
    IfNoneMatch:
      name: If-None-Match
      in: header
      description: Conditionally perform the request only if the resource has been
        modified since the specified entity revision numbers
      schema:
        type: array
        items:
          type: string
          pattern: ^(?:".+"|\*)$
      examples:
        strong-etag:
          summary: Single ETag
          value:
            - '"1276705620"'
        multiple-etags:
          summary: Multiple ETags
          value:
            - '"1276703231"'
            - '"1276705620"'
    IfModifiedSince:
      name: If-Modified-Since
      in: header
      description: Conditionally perform the request only if the resource has been
        modified after the specified date
      schema:
        type: string
        format: http-date
      example: Sat, 06 Jun 2020 16:38:47 GMT
    IfMatch:
      name: If-Match
      in: header
      description: Conditionally perform the request only if the resource has not been
        modified since one of the specified entity revision numbers
      schema:
        type: array
        items:
          type: string
          pattern: ^(?:".+"|\*)$
      examples:
        strong-etag:
          summary: Single ETag
          value:
            - '"1276705620"'
        multiple-etags:
          summary: Multiple ETags
          value:
            - '"1276703231"'
            - '"1276705620"'
    IfUnmodifiedSince:
      name: If-Unmodified-Since
      in: header
      description: Conditionally perform the request only if the resource has not been
        modified after the specified date
      schema:
        type: string
        format: http-date
      example: Sat, 06 Jun 2020 16:38:47 GMT
    Authorization:
      name: Authorization
      in: header
      description: Make authenticated request using a provided bearer token
      schema:
        type: string
      example: Bearer mF_9.B5f-4.1JqM
  requestBodies:
    Item:
      description: Payload containing a Wikibase Item and edit metadata
      required: true
      content:
        application/json:
          schema:
            allOf:
              - type: object
                properties:
                  item:
                    type: object
                    properties:
                      labels:
                        $ref: "#/components/schemas/Labels"
                      descriptions:
                        $ref: "#/components/schemas/Descriptions"
                      aliases:
                        $ref: "#/components/schemas/Aliases"
                      sitelinks:
                        type: object
                        additionalProperties:
                          type: object
                          items:
                            $ref: "#/components/schemas/Sitelink"
                        example:
                          afwiki:
                            title: Douglas Adams
                            badges:
                              - Q17437798
                          arwiki:
                            title: دوغلاس آدمز
                            badges: []
                      statements:
                        type: object
                        additionalProperties:
                          type: array
                          items:
                            $ref: "#/components/schemas/Statement"
                        example:
                          P92:
                            - rank: normal
                              property:
                                id: P92
                              value:
                                content: I am a goat
                                type: value
                              qualifiers: []
                              references: []
                required:
                  - item
              - $ref: "#/components/requestBodies/Edit/content/application~1json/schema"
    ItemPatch:
      required: true
      content:
        application/json-patch+json:
          schema:
            $ref: "#/components/requestBodies/ItemPatch/content/application~1json/schema"
        application/json:
          schema:
            allOf:
              - type: object
                properties:
                  patch:
                    description: A JSON Patch document as defined by RFC 6902
                    type: array
                    items:
                      type: object
                      properties:
[...]
