openapi: 3.0.0
servers:
  - url: https://datamigration.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Manage Cloud Database Migration Service resources on Google Cloud Platform.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Database Migration API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: openapi
      url: https://datamigration.googleapis.com/$discovery/rest?version=v1
      version: "3.0"
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: datamigration
externalDocs:
  url: https://cloud.google.com/database-migration/
tags:
  - name: projects
paths:
  "/v1/{conversionWorkspace}:describeConversionWorkspaceRevisions":
    get:
      description: Retrieves a list of committed revisions of a specific conversion workspace.
      operationId: datamigration.projects.locations.conversionWorkspaces.describeConversionWorkspaceRevisions
      parameters:
        - description: "Required. Name of the conversion workspace resource whose revisions are listed. Must be in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}."
          in: path
          name: conversionWorkspace
          required: true
          schema:
            type: string
        - description: Optional. Optional filter to request a specific commit ID.
          in: query
          name: commitId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeConversionWorkspaceRevisionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{conversionWorkspace}:describeDatabaseEntities":
    get:
      description: Describes the database entities tree for a specific conversion workspace and a specific tree type. Database entities are not resources like conversion workspaces or mapping rules, and they can't be created, updated or deleted. Instead, they are simple data objects describing the structure of the client database.
      operationId: datamigration.projects.locations.conversionWorkspaces.describeDatabaseEntities
      parameters:
        - description: "Required. Name of the conversion workspace resource whose database entities are described. Must be in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}."
          in: path
          name: conversionWorkspace
          required: true
          schema:
            type: string
        - description: Request a specific commit ID. If not specified, the entities from the latest commit are returned.
          in: query
          name: commitId
          schema:
            type: string
        - description: Filter the returned entities based on AIP-160 standard.
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of entities to return. The service may return fewer entities than the value specifies.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The nextPageToken value received in the previous call to conversionWorkspace.describeDatabaseEntities, used in the subsequent request to retrieve the next page of results. On first call this should be left blank. When paginating, all other parameters provided to conversionWorkspace.describeDatabaseEntities must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
        - description: The tree to fetch.
          in: query
          name: tree
          schema:
            enum:
              - DB_TREE_TYPE_UNSPECIFIED
              - SOURCE_TREE
              - DRAFT_TREE
              - DESTINATION_TREE
            type: string
        - description: Whether to retrieve the latest committed version of the entities or the latest version. This field is ignored if a specific commit_id is specified.
          in: query
          name: uncommitted
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeDatabaseEntitiesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{conversionWorkspace}:searchBackgroundJobs":
    get:
      description: Searches/lists the background jobs for a specific conversion workspace. The background jobs are not resources like conversion workspaces or mapping rules, and they can't be created, updated or deleted. Instead, they are a way to expose the data plane jobs log.
      operationId: datamigration.projects.locations.conversionWorkspaces.searchBackgroundJobs
      parameters:
        - description: "Required. Name of the conversion workspace resource whose jobs are listed, in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}."
          in: path
          name: conversionWorkspace
          required: true
          schema:
            type: string
        - description: Optional. If provided, only returns jobs that completed until (not including) the given timestamp.
          in: query
          name: completedUntilTime
          schema:
            type: string
        - description: Optional. The maximum number of jobs to return. The service may return fewer than this value. If unspecified, at most 100 jobs are returned. The maximum value is 100; values above 100 are coerced to 100.
          in: query
          name: maxSize
          schema:
            type: integer
        - description: Optional. Whether or not to return just the most recent job per job type,
          in: query
          name: returnMostRecentPerJobType
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchBackgroundJobsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{migrationJob}:generateSshScript":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Generate a SSH configuration script to configure the reverse SSH connectivity.
      operationId: datamigration.projects.locations.migrationJobs.generateSshScript
      parameters:
        - description: Name of the migration job resource to generate the SSH script.
          in: path
          name: migrationJob
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateSshScriptRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SshScript"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}":
    delete:
      description: Deletes a single Database Migration Service private connection.
      operationId: datamigration.projects.locations.privateConnections.delete
      parameters:
        - description: Required. The name of the private connection to delete.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Optional. A unique ID used to identify the request. If the server receives two requests with the same ID, then the second request is ignored. It is recommended to always set this value to a UUID. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.
          in: query
          name: requestId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Gets details of a single private connection.
      operationId: datamigration.projects.locations.privateConnections.get
      parameters:
        - description: Required. The name of the private connection to get.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateConnection"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates the parameters of a single migration job.
      operationId: datamigration.projects.locations.migrationJobs.patch
      parameters:
        - description: "The name (URI) of this migration job resource, in the form of: projects/{project}/locations/{location}/migrationJobs/{migrationJob}."
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: A unique ID used to identify the request. If the server receives two requests with the same ID, then the second request is ignored. It is recommended to always set this value to a UUID. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.
          in: query
          name: requestId
          schema:
            type: string
        - description: Required. Field mask is used to specify the fields to be overwritten by the update in the conversion workspace resource.
          in: query
          name: updateMask
          schema:
            type: string
        - description: Optional. Only validate the connection profile, but don't update any resources. The default is false. Only supported for Oracle connection profiles.
          in: query
          name: validateOnly
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MigrationJob"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}/locations":
    get:
      description: Lists information about the supported locations for this service.
      operationId: datamigration.projects.locations.list
      parameters:
        - description: The resource that owns the locations collection, if applicable.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: A filter to narrow down results to a preferred subset. The filtering language accepts strings like `"displayName=tokyo"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of results to return. If not set, the service selects a default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListLocationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}/operations":
    get:
      description: Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: datamigration.projects.locations.operations.list
      parameters:
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOperationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}:apply":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Applies draft tree onto a specific destination database.
      operationId: datamigration.projects.locations.conversionWorkspaces.apply
      parameters:
        - description: "Required. The name of the conversion workspace resource for which to apply the draft tree. Must be in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}."
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplyConversionWorkspaceRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:cancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.
      operationId: datamigration.projects.locations.operations.cancel
      parameters:
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelOperationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:commit":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Marks all the data in the conversion workspace as committed.
      operationId: datamigration.projects.locations.conversionWorkspaces.commit
      parameters:
        - description: Required. Name of the conversion workspace resource to commit.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommitConversionWorkspaceRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:convert":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a draft tree schema for the destination database.
      operationId: datamigration.projects.locations.conversionWorkspaces.convert
      parameters:
        - description: "Name of the conversion workspace resource to convert in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}."
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConvertConversionWorkspaceRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:fetchStaticIps":
    get:
      description: Fetches a set of static IP addresses that need to be allowlisted by the customer when using the static-IP connectivity method.
      operationId: datamigration.projects.locations.fetchStaticIps
      parameters:
        - description: Required. The resource name for the location for which static IPs should be returned. Must be in the format `projects/*/locations/*`.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Maximum number of IPs to return.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `FetchStaticIps` call.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchStaticIpsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}:promote":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Promote a migration job, stopping replication to the destination and promoting the destination to be a standalone database.
      operationId: datamigration.projects.locations.migrationJobs.promote
      parameters:
        - description: Name of the migration job resource to promote.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PromoteMigrationJobRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:restart":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Restart a stopped or failed migration job, resetting the destination instance to its original state and starting the migration process from scratch.
      operationId: datamigration.projects.locations.migrationJobs.restart
      parameters:
        - description: Name of the migration job resource to restart.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestartMigrationJobRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:resume":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Resume a migration job that is currently stopped and is resumable (was stopped during CDC phase).
      operationId: datamigration.projects.locations.migrationJobs.resume
      parameters:
        - description: Name of the migration job resource to resume.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResumeMigrationJobRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:rollback":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Rolls back a conversion workspace to the last committed snapshot.
      operationId: datamigration.projects.locations.conversionWorkspaces.rollback
      parameters:
        - description: Required. Name of the conversion workspace resource to roll back to.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RollbackConversionWorkspaceRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:seed":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Imports a snapshot of the source database into the conversion workspace.
      operationId: datamigration.projects.locations.conversionWorkspaces.seed
      parameters:
        - description: "Name of the conversion workspace resource to seed with new database structure, in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}."
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SeedConversionWorkspaceRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:start":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Start an already created migration job.
      operationId: datamigration.projects.locations.migrationJobs.start
      parameters:
        - description: Name of the migration job resource to start.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StartMigrationJobRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:stop":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Stops a running migration job.
      operationId: datamigration.projects.locations.migrationJobs.stop
      parameters:
        - description: Name of the migration job resource to stop.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StopMigrationJobRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:verify":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Verify a migration job, making sure the destination can reach the source and that all configuration and prerequisites are met.
      operationId: datamigration.projects.locations.migrationJobs.verify
      parameters:
        - description: Name of the migration job resource to verify.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyMigrationJobRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/connectionProfiles":
    get:
      description: Retrieves a list of all connection profiles in a given project and location.
      operationId: datamigration.projects.locations.connectionProfiles.list
      parameters:
        - description: Required. The parent which owns this collection of connection profiles.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: A filter expression that filters connection profiles listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either =, !=, >, or <. For example, list connection profiles created this year by specifying **createTime %gt; 2020-01-01T00:00:00.000000000Z**. You can also filter nested fields. For example, you could specify **mySql.username = %lt;my_username%gt;** to list all connection profiles configured to connect with a specific username.
          in: query
          name: filter
          schema:
            type: string
        - description: A comma-separated list of fields to order results according to.
          in: query
          name: orderBy
          schema:
            type: string
        - description: The maximum number of connection profiles to return. The service may return fewer than this value. If unspecified, at most 50 connection profiles will be returned. The maximum value is 1000; values above 1000 are coerced to 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListConnectionProfiles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectionProfiles` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListConnectionProfilesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new connection profile in a given project and location.
      operationId: datamigration.projects.locations.connectionProfiles.create
      parameters:
        - description: Required. The parent which owns this collection of connection profiles.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The connection profile identifier.
          in: query
          name: connectionProfileId
          schema:
            type: string
        - description: Optional. A unique ID used to identify the request. If the server receives two requests with the same ID, then the second request is ignored. It is recommended to always set this value to a UUID. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.
          in: query
          name: requestId
          schema:
            type: string
        - description: Optional. Create the connection profile without validating it. The default is false. Only supported for Oracle connection profiles.
          in: query
          name: skipValidation
          schema:
            type: boolean
        - description: Optional. Only validate the connection profile, but don't create any resources. The default is false. Only supported for Oracle connection profiles.
          in: query
          name: validateOnly
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectionProfile"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/conversionWorkspaces":
    get:
      description: Lists conversion workspaces in a given project and location.
      operationId: datamigration.projects.locations.conversionWorkspaces.list
      parameters:
        - description: Required. The parent which owns this collection of conversion workspaces.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: A filter expression that filters conversion workspaces listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either =, !=, >, or <. For example, list conversion workspaces created this year by specifying **createTime %gt; 2020-01-01T00:00:00.000000000Z.** You can also filter nested fields. For example, you could specify **source.version = "12.c.1"** to select all conversion workspaces with source database version equal to 12.c.1.
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of conversion workspaces to return. The service may return fewer than this value. If unspecified, at most 50 sets are returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The nextPageToken value received in the previous call to conversionWorkspaces.list, used in the subsequent request to retrieve the next page of results. On first call this should be left blank. When paginating, all other parameters provided to conversionWorkspaces.list must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListConversionWorkspacesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new conversion workspace in a given project and location.
      operationId: datamigration.projects.locations.conversionWorkspaces.create
      parameters:
        - description: Required. The parent which owns this collection of conversion workspaces.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The ID of the conversion workspace to create.
          in: query
          name: conversionWorkspaceId
          schema:
            type: string
        - description: A unique ID used to identify the request. If the server receives two requests with the same ID, then the second request is ignored. It is recommended to always set this value to a UUID. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.
          in: query
          name: requestId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversionWorkspace"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/mappingRules:import":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Imports the mapping rules for a given conversion workspace. Supports various formats of external rules files.
      operationId: datamigration.projects.locations.conversionWorkspaces.mappingRules.import
      parameters:
        - description: "Required. Name of the conversion workspace resource to import the rules to in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}."
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImportMappingRulesRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/migrationJobs":
    get:
      description: Lists migration jobs in a given project and location.
      operationId: datamigration.projects.locations.migrationJobs.list
      parameters:
        - description: Required. The parent which owns this collection of migrationJobs.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: A filter expression that filters migration jobs listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either =, !=, >, or <. For example, list migration jobs created this year by specifying **createTime %gt; 2020-01-01T00:00:00.000000000Z.** You can also filter nested fields. For example, you could specify **reverseSshConnectivity.vmIp = "1.2.3.4"** to select all migration jobs connecting through the specific SSH tunnel bastion.
          in: query
          name: filter
          schema:
            type: string
        - description: 'Sort the results based on the migration job name. Valid values are: "name", "name asc", and "name desc".'
          in: query
          name: orderBy
          schema:
            type: string
        - description: The maximum number of migration jobs to return. The service may return fewer than this value. If unspecified, at most 50 migration jobs will be returned. The maximum value is 1000; values above 1000 are coerced to 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The nextPageToken value received in the previous call to migrationJobs.list, used in the subsequent request to retrieve the next page of results. On first call this should be left blank. When paginating, all other parameters provided to migrationJobs.list must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMigrationJobsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new migration job in a given project and location.
      operationId: datamigration.projects.locations.migrationJobs.create
      parameters:
        - description: Required. The parent which owns this collection of migration jobs.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The ID of the instance to create.
          in: query
          name: migrationJobId
          schema:
            type: string
        - description: A unique ID used to identify the request. If the server receives two requests with the same ID, then the second request is ignored. It is recommended to always set this value to a UUID. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.
          in: query
          name: requestId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MigrationJob"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/privateConnections":
    get:
      description: Retrieves a list of private connections in a given project and location.
      operationId: datamigration.projects.locations.privateConnections.list
      parameters:
        - description: Required. The parent that owns the collection of private connections.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: A filter expression that filters private connections listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either =, !=, >, or <. For example, list private connections created this year by specifying **createTime %gt; 2021-01-01T00:00:00.000000000Z**.
          in: query
          name: filter
          schema:
            type: string
        - description: Order by fields for the result.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Maximum number of private connections to return. If unspecified, at most 50 private connections that are returned. The maximum value is 1000; values above 1000 are coerced to 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Page token received from a previous `ListPrivateConnections` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPrivateConnections` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPrivateConnectionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new private connection in a given project and location.
      operationId: datamigration.projects.locations.privateConnections.create
      parameters:
        - description: Required. The parent that owns the collection of PrivateConnections.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The private connection identifier.
          in: query
          name: privateConnectionId
          schema:
            type: string
        - description: Optional. A unique ID used to identify the request. If the server receives two requests with the same ID, then the second request is ignored. It is recommended to always set this value to a UUID. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.
          in: query
          name: requestId
          schema:
            type: string
        - description: Optional. If set to true, will skip validations.
          in: query
          name: skipValidation
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateConnection"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{resource}:getIamPolicy":
    get:
      description: Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.
      operationId: datamigration.projects.locations.migrationJobs.getIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
        - description: Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
          in: query
          name: options.requestedPolicyVersion
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{resource}:setIamPolicy":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.
      operationId: datamigration.projects.locations.migrationJobs.setIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetIamPolicyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{resource}:testIamPermissions":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: 'Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may "fail open" without warning.'
      operationId: datamigration.projects.locations.migrationJobs.testIamPermissions
      parameters:
        - description: "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestIamPermissionsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestIamPermissionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AlloyDbConnectionProfile:
      description: Specifies required connection parameters, and the parameters required to create an AlloyDB destination cluster.
      properties:
        clusterId:
          description: Required. The AlloyDB cluster ID that this connection profile is associated with.
          type: string
        settings:
          $ref: "#/components/schemas/AlloyDbSettings"
          description: Immutable. Metadata used to create the destination AlloyDB cluster.
      type: object
    AlloyDbSettings:
      description: Settings for creating an AlloyDB cluster.
      properties:
        encryptionConfig:
          $ref: "#/components/schemas/EncryptionConfig"
          description: Optional. The encryption config can be specified to encrypt the data disks and other persistent data resources of a cluster with a customer-managed encryption key (CMEK). When this field is not specified, the cluster will then use default encryption scheme to protect the user data.
        initialUser:
          $ref: "#/components/schemas/UserPassword"
          description: Required. Input only. Initial user to setup during cluster creation. Required.
        labels:
          additionalProperties:
            type: string
          description: Labels for the AlloyDB cluster created by DMS. An object containing a list of 'key', 'value' pairs.
          type: object
        primaryInstanceSettings:
          $ref: "#/components/schemas/PrimaryInstanceSettings"
        vpcNetwork:
          description: 'Required. The resource link for the VPC network in which cluster resources are created and from which they are accessible via Private IP. The network must belong to the same project as the cluster. It is specified in the form: "projects/{project_number}/global/networks/{network_id}". This is required to create a cluster.'
          type: string
      type: object
    ApplyConversionWorkspaceRequest:
      description: Request message for 'ApplyConversionWorkspace' request.
      properties:
        connectionProfile:
          description: Fully qualified (Uri) name of the destination connection profile.
          type: string
        filter:
          description: Filter which entities to apply. Leaving this field empty will apply all of the entities. Supports Google AIP 160 based filtering.
          type: string
      type: object
    ApplyJobDetails:
      description: Details regarding an Apply background job.
      properties:
        connectionProfile:
          description: The connection profile which was used for the apply job.
          type: string
        filter:
          description: AIP-160 based filter used to specify the entities to apply
          type: string
      type: object
    AuditConfig:
      description: 'Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { "audit_configs": [ { "service": "allServices", "audit_log_configs": [ { "log_type": "DATA_READ", "exempted_members": [ "user:jose@example.com" ] }, { "log_type": "DATA_WRITE" }, { "log_type": "ADMIN_READ" } ] }, { "service": "sampleservice.googleapis.com", "audit_log_configs": [ { "log_type": "DATA_READ" }, { "log_type": "DATA_WRITE", "exempted_members": [ "user:aliya@example.com" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.'
      properties:
        auditLogConfigs:
          description: The configuration for logging of each type of permission.
          items:
            $ref: "#/components/schemas/AuditLogConfig"
          type: array
        service:
          description: Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.
          type: string
      type: object
    AuditLogConfig:
      description: "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      properties:
        exemptedMembers:
          description: Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.
          items:
            type: string
          type: array
        logType:
          description: The log type that this config enables.
          enum:
            - LOG_TYPE_UNSPECIFIED
            - ADMIN_READ
            - DATA_WRITE
            - DATA_READ
          type: string
      type: object
    BackgroundJobLogEntry:
      description: Execution log of a background job.
      properties:
        applyJobDetails:
          $ref: "#/components/schemas/ApplyJobDetails"
          description: Apply job details.
        completionComment:
          description: Job completion comment, such as how many entities were seeded, how many warnings were found during conversion, and similar information.
          type: string
        completionState:
          description: Job completion state, i.e. the final state after the job completed.
          enum:
            - JOB_COMPLETION_STATE_UNSPECIFIED
            - SUCCEEDED
            - FAILED
          type: string
        convertJobDetails:
          $ref: "#/components/schemas/ConvertJobDetails"
          description: Convert job details.
        finishTime:
          description: The timestamp when the background job was finished.
          format: google-datetime
          type: string
        id:
          description: The background job log entry ID.
          type: string
        importRulesJobDetails:
          $ref: "#/components/schemas/ImportRulesJobDetails"
          description: Import rules job details.
        jobType:
          description: The type of job that was executed.
          enum:
            - BACKGROUND_JOB_TYPE_UNSPECIFIED
            - BACKGROUND_JOB_TYPE_SOURCE_SEED
            - BACKGROUND_JOB_TYPE_CONVERT
            - BACKGROUND_JOB_TYPE_APPLY_DESTINATION
            - BACKGROUND_JOB_TYPE_IMPORT_RULES_FILE
          type: string
        requestAutocommit:
          description: Whether the client requested the conversion workspace to be committed after a successful completion of the job.
          type: boolean
        seedJobDetails:
          $ref: "#/components/schemas/SeedJobDetails"
          description: Seed job details.
        startTime:
          description: The timestamp when the background job was started.
          format: google-datetime
          type: string
      type: object
    Binding:
      description: Associates `members`, or principals, with a `role`.
      properties:
        condition:
          $ref: "#/components/schemas/Expr"
          description: The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
        members:
          description: "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding."
          items:
            type: string
          type: array
        role:
          description: Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.
          type: string
      type: object
    CancelOperationRequest:
      description: The request message for Operations.CancelOperation.
      properties: {}
      type: object
    CloudSqlConnectionProfile:
      description: Specifies required connection parameters, and, optionally, the parameters required to create a Cloud SQL destination database instance.
      properties:
        additionalPublicIp:
          description: Output only. The Cloud SQL database instance's additional (outgoing) public IP. Used when the Cloud SQL database availability type is REGIONAL (i.e. multiple zones / highly available).
          readOnly: true
          type: string
        cloudSqlId:
          description: Output only. The Cloud SQL instance ID that this connection profile is associated with.
          readOnly: true
          type: string
        privateIp:
          description: Output only. The Cloud SQL database instance's private IP.
          readOnly: true
          type: string
        publicIp:
          description: Output only. The Cloud SQL database instance's public IP.
          readOnly: true
          type: string
        settings:
          $ref: "#/components/schemas/CloudSqlSettings"
          description: Immutable. Metadata used to create the destination Cloud SQL database.
      type: object
    CloudSqlSettings:
      description: Settings for creating a Cloud SQL database instance.
      properties:
        activationPolicy:
          description: "The activation policy specifies when the instance is activated; it is applicable only when the instance state is 'RUNNABLE'. Valid values: 'ALWAYS': The instance is on, and remains so even in the absence of connection requests. `NEVER`: The instance is off; it is not activated, even if a connection request arrives."
          enum:
            - SQL_ACTIVATION_POLICY_UNSPECIFIED
            - ALWAYS
            - NEVER
          type: string
        autoStorageIncrease:
          description: "[default: ON] If you enable this setting, Cloud SQL checks your available storage every 30 seconds. If the available storage falls below a threshold size, Cloud SQL automatically adds additional storage capacity. If the available storage repeatedly falls below the threshold size, Cloud SQL continues to add storage until it reaches the maximum of 30 TB."
          type: boolean
        availabilityType:
          description: "Optional. Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data availability. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available)."
          enum:
            - SQL_AVAILABILITY_TYPE_UNSPECIFIED
            - ZONAL
            - REGIONAL
          type: string
        cmekKeyName:
          description: The KMS key name used for the csql instance.
          type: string
        collation:
          description: The Cloud SQL default instance level collation.
          type: string
        dataDiskSizeGb:
          description: The storage capacity available to the database, in GB. The minimum (and default) size is 10GB.
          format: int64
          type: string
        dataDiskType:
          description: "The type of storage: `PD_SSD` (default) or `PD_HDD`."
          enum:
            - SQL_DATA_DISK_TYPE_UNSPECIFIED
            - PD_SSD
            - PD_HDD
          type: string
        databaseFlags:
          additionalProperties:
            type: string
          description: 'The database flags passed to the Cloud SQL instance at startup. An object containing a list of "key": value pairs. Example: { "name": "wrench", "mass": "1.3kg", "count": "3" }.'
          type: object
        databaseVersion:
          description: The database engine type and version.
          enum:
            - SQL_DATABASE_VERSION_UNSPECIFIED
            - MYSQL_5_6
            - MYSQL_5_7
            - POSTGRES_9_6
            - POSTGRES_11
            - POSTGRES_10
            - MYSQL_8_0
            - POSTGRES_12
            - POSTGRES_13
            - POSTGRES_14
          type: string
        ipConfig:
          $ref: "#/components/schemas/SqlIpConfig"
          description: The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled.
        rootPassword:
          description: Input only. Initial root password.
          type: string
        rootPasswordSet:
          description: Output only. Indicates If this connection profile root password is stored.
          readOnly: true
          type: boolean
        secondaryZone:
          description: Optional. The Google Cloud Platform zone where the failover Cloud SQL database instance is located. Used when the Cloud SQL database availability type is REGIONAL (i.e. multiple zones / highly available).
          type: string
        sourceId:
          description: "The Database Migration Service source connection profile ID, in the format: `projects/my_project_name/locations/us-central1/connectionProfiles/connection_profile_ID`"
          type: string
        storageAutoResizeLimit:
          description: The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit.
          format: int64
          type: string
        tier:
          description: "The tier (or machine type) for this instance, for example: `db-n1-standard-1` (MySQL instances) or `db-custom-1-3840` (PostgreSQL instances). For more information, see [Cloud SQL Instance Settings](https://cloud.google.com/sql/docs/mysql/instance-settings)."
          type: string
        userLabels:
          additionalProperties:
            type: string
          description: 'The resource labels for a Cloud SQL instance to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of "key": "value" pairs. Example: `{ "name": "wrench", "mass": "18kg", "count": "3" }`.'
          type: object
        zone:
          description: The Google Cloud Platform zone where your Cloud SQL database instance is located.
          type: string
      type: object
    ColumnEntity:
      description: Column is not used as an independent entity, it is retrieved as part of a Table entity.
      properties:
        array:
          description: Is the column of array type.
          type: boolean
        arrayLength:
          description: If the column is array, of which length.
          format: int32
          type: integer
        autoGenerated:
          description: Is the column auto-generated/identity.
          type: boolean
        charset:
          description: Charset override - instead of table level charset.
          type: string
        collation:
          description: Collation override - instead of table level collation.
          type: string
        comment:
          description: Comment associated with the column.
          type: string
        customFeatures:
          additionalProperties:
            description: Properties of the object.
          description: Custom engine specific features.
          type: object
        dataType:
          description: Column data type.
          type: string
        defaultValue:
          description: Default value of the column.
          type: string
        fractionalSecondsPrecision:
          description: Column fractional second precision - used for timestamp based datatypes.
          format: int32
          type: integer
        length:
          description: Column length - e.g. varchar (50).
          format: int64
          type: string
        name:
          description: Column name.
          type: string
        nullable:
          description: Is the column nullable.
          type: boolean
        ordinalPosition:
          description: Column order in the table.
          format: int32
          type: integer
        precision:
          description: Column precision - when relevant.
          format: int32
          type: integer
        scale:
          description: Column scale - when relevant.
          format: int32
          type: integer
        setValues:
          description: Specifies the list of values allowed in the column. Only used for set data type.
          items:
            type: string
          type: array
        udt:
          description: Is the column a UDT.
          type: boolean
      type: object
    CommitConversionWorkspaceRequest:
      description: Request message for 'CommitConversionWorkspace' request.
      properties:
        commitName:
          description: Optional. Optional name of the commit.
          type: string
      type: object
    ConnectionProfile:
      description: A connection profile definition.
      properties:
        alloydb:
          $ref: "#/components/schemas/AlloyDbConnectionProfile"
          description: An AlloyDB cluster connection profile.
        cloudsql:
          $ref: "#/components/schemas/CloudSqlConnectionProfile"
          description: A CloudSQL database connection profile.
        createTime:
          description: 'Output only. The timestamp when the resource was created. A timestamp in RFC3339 UTC "Zulu" format, accurate to nanoseconds. Example: "2014-10-02T15:01:23.045123456Z".'
          format: google-datetime
          readOnly: true
          type: string
        displayName:
          description: The connection profile display name.
          type: string
        error:
          $ref: "#/components/schemas/Status"
          description: Output only. The error details in case of state FAILED.
          readOnly: true
        labels:
          additionalProperties:
            type: string
          description: 'The resource labels for connection profile to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of "key": "value" pairs. Example: `{ "name": "wrench", "mass": "1.3kg", "count": "3" }`.'
          type: object
        mysql:
          $ref: "#/components/schemas/MySqlConnectionProfile"
          description: A MySQL database connection profile.
        name:
          description: The name of this connection profile resource in the form of projects/{project}/locations/{location}/connectionProfiles/{connectionProfile}.
          type: string
        oracle:
          $ref: "#/components/schemas/OracleConnectionProfile"
          description: An Oracle database connection profile.
        postgresql:
          $ref: "#/components/schemas/PostgreSqlConnectionProfile"
          description: A PostgreSQL database connection profile.
        provider:
          description: The database provider.
          enum:
            - DATABASE_PROVIDER_UNSPECIFIED
            - CLOUDSQL
            - RDS
            - AURORA
            - ALLOYDB
          type: string
        state:
          description: The current connection profile state (e.g. DRAFT, READY, or FAILED).
          enum:
            - STATE_UNSPECIFIED
            - DRAFT
            - CREATING
            - READY
            - UPDATING
            - DELETING
            - DELETED
            - FAILED
          type: string
        updateTime:
          description: 'Output only. The timestamp when the resource was last updated. A timestamp in RFC3339 UTC "Zulu" format, accurate to nanoseconds. Example: "2014-10-02T15:01:23.045123456Z".'
          format: google-datetime
          readOnly: true
          type: string
      type: object
    ConstraintEntity:
      description: Constraint is not used as an independent entity, it is retrieved as part of another entity such as Table or View.
      properties:
        customFeatures:
          additionalProperties:
            description: Properties of the object.
          description: Custom engine specific features.
          type: object
        name:
          description: The name of the table constraint.
          type: string
        referenceColumns:
          description: Reference columns which may be associated with the constraint. For example, if the constraint is a FOREIGN_KEY, this represents the list of full names of referenced columns by the foreign key.
          items:
            type: string
          type: array
        referenceTable:
          description: Reference table which may be associated with the constraint. For example, if the constraint is a FOREIGN_KEY, this represents the list of full name of the referenced table by the foreign key.
          type: string
        tableColumns:
          description: Table columns used as part of the Constraint, for example primary key constraint should list the columns which constitutes the key.
          items:
            type: string
          type: array
        tableName:
          description: Table which is associated with the constraint. In case the constraint is defined on a table, this field is left empty as this information is stored in parent_name. However, if constraint is defined on a view, this field stores the table name on which the view is defined.
          type: string
        type:
          description: Type of constraint, for example unique, primary key, foreign key (currently only primary key is supported).
          type: string
      type: object
    ConversionWorkspace:
      description: The main conversion workspace resource entity.
      properties:
        createTime:
          description: Output only. The timestamp when the workspace resource was created.
          format: google-datetime
          readOnly: true
          type: string
        destination:
          $ref: "#/components/schemas/DatabaseEngineInfo"
          description: Required. The destination engine details.
        displayName:
          description: The display name for the workspace.
          type: string
        globalSettings:
          additionalProperties:
            type: string
          description: "A generic list of settings for the workspace. The settings are database pair dependant and can indicate default behavior for the mapping rules engine or turn on or off specific features. Such examples can be: convert_foreign_key_to_interleave=true, skip_triggers=false, ignore_non_table_synonyms=true"
          type: object
        hasUncommittedChanges:
          description: Output only. Whether the workspace has uncommitted changes (changes which were made after the workspace was committed).
          readOnly: true
          type: boolean
        latestCommitId:
          description: Output only. The latest commit ID.
          readOnly: true
          type: string
        latestCommitTime:
          description: Output only. The timestamp when the workspace was committed.
          format: google-datetime
          readOnly: true
          type: string
        name:
          description: "Full name of the workspace resource, in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}."
          type: string
        source:
          $ref: "#/components/schemas/DatabaseEngineInfo"
          description: Required. The source engine details.
        updateTime:
          description: Output only. The timestamp when the workspace resource was last updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    ConversionWorkspaceInfo:
      description: A conversion workspace's version.
      properties:
        commitId:
          description: The commit ID of the conversion workspace.
          type: string
        name:
          description: The resource name (URI) of the conversion workspace.
          type: string
      type: object
    ConvertConversionWorkspaceRequest:
      description: Request message for 'ConvertConversionWorkspace' request.
      properties:
        autoCommit:
          description: Specifies whether the conversion workspace is to be committed automatically after the conversion.
          type: boolean
        filter:
          description: Filter the entities to convert. Leaving this field empty will convert all of the entities. Supports Google AIP-160 style filtering.
          type: string
      type: object
    ConvertJobDetails:
      description: Details regarding a Convert background job.
      properties:
        filter:
          description: AIP-160 based filter used to specify the entities to convert
          type: string
      type: object
    DatabaseEngineInfo:
      description: The type and version of a source or destination database.
      properties:
        engine:
          description: Required. Engine type.
          enum:
            - DATABASE_ENGINE_UNSPECIFIED
            - MYSQL
            - POSTGRESQL
            - ORACLE
          type: string
        version:
          description: Required. Engine named version, for example 12.c.1.
          type: string
      type: object
    DatabaseEntity:
      description: The base entity type for all the database related entities. The message contains the entity name, the name of its parent, the entity type, and the specific details per entity type.
      properties:
        databaseFunction:
          $ref: "#/components/schemas/FunctionEntity"
          description: Function.
        databasePackage:
          $ref: "#/components/schemas/PackageEntity"
          description: Package.
        entityType:
          description: The type of the database entity (table, view, index, ...).
          enum:
            - DATABASE_ENTITY_TYPE_UNSPECIFIED
            - DATABASE_ENTITY_TYPE_SCHEMA
            - DATABASE_ENTITY_TYPE_TABLE
            - DATABASE_ENTITY_TYPE_COLUMN
            - DATABASE_ENTITY_TYPE_CONSTRAINT
            - DATABASE_ENTITY_TYPE_INDEX
            - DATABASE_ENTITY_TYPE_TRIGGER
            - DATABASE_ENTITY_TYPE_VIEW
            - DATABASE_ENTITY_TYPE_SEQUENCE
            - DATABASE_ENTITY_TYPE_STORED_PROCEDURE
            - DATABASE_ENTITY_TYPE_FUNCTION
            - DATABASE_ENTITY_TYPE_SYNONYM
            - DATABASE_ENTITY_TYPE_DATABASE_PACKAGE
            - DATABASE_ENTITY_TYPE_UDT
            - DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW
            - DATABASE_ENTITY_TYPE_DATABASE
          type: string
        mappings:
          description: Details about entity mappings. For source tree entities, this holds the draft entities which were generated by the mapping rules. For draft tree entities, this holds the source entities which were converted to form the draft entity. Destination entities will have no mapping details.
          items:
            $ref: "#/components/schemas/EntityMapping"
          type: array
        parentEntity:
          description: The full name of the parent entity (e.g. schema name).
          type: string
        schema:
          $ref: "#/components/schemas/SchemaEntity"
          description: Schema.
        sequence:
          $ref: "#/components/schemas/SequenceEntity"
          description: Sequence.
        shortName:
          description: The short name (e.g. table name) of the entity.
          type: string
        storedProcedure:
          $ref: "#/components/schemas/StoredProcedureEntity"
          description: Stored procedure.
        synonym:
          $ref: "#/components/schemas/SynonymEntity"
          description: Synonym.
        table:
          $ref: "#/components/schemas/TableEntity"
          description: Table.
        tree:
          description: The type of tree the entity belongs to.
          enum:
            - TREE_TYPE_UNSPECIFIED
            - SOURCE
            - DRAFT
            - DESTINATION
          type: string
        view:
          $ref: "#/components/schemas/ViewEntity"
          description: View.
      type: object
    DatabaseType:
      description: A message defining the database engine and provider.
      properties:
        engine:
          description: The database engine.
          enum:
            - DATABASE_ENGINE_UNSPECIFIED
            - MYSQL
            - POSTGRESQL
            - ORACLE
          type: string
        provider:
          description: The database provider.
          enum:
            - DATABASE_PROVIDER_UNSPECIFIED
            - CLOUDSQL
            - RDS
            - AURORA
            - ALLOYDB
          type: string
      type: object
    DescribeConversionWorkspaceRevisionsResponse:
      description: Response message for 'DescribeConversionWorkspaceRevisions' request.
      properties:
        revisions:
          description: The list of conversion workspace revisions.
          items:
            $ref: "#/components/schemas/ConversionWorkspace"
          type: array
      type: object
    DescribeDatabaseEntitiesResponse:
      description: Response message for 'DescribeDatabaseEntities' request.
      properties:
        databaseEntities:
          description: The list of database entities for the conversion workspace.
          items:
            $ref: "#/components/schemas/DatabaseEntity"
          type: array
        nextPageToken:
[...]
