swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: Azure Cosmos DB Database Service Resource Provider REST API
  title: Cosmos DB
  version: '2015-04-08'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/2015-04-08/cosmos-db.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: cosmos-db
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: Impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  accountNameParameter:
    description: Cosmos DB database account name.
    in: path
    maxLength: 50
    minLength: 3
    name: accountName
    required: true
    type: string
    x-ms-parameter-location: method
  apiVersionParameter:
    description: Version of the API to be used with the client request. The current version is 2015-04-08.
    in: query
    name: api-version
    required: true
    type: string
  resourceGroupNameParameter:
    description: Name of an Azure resource group.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: '^[-\w\._\(\)]+$'
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Azure subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/providers/Microsoft.DocumentDB/databaseAccountNames/{accountName}':
    head:
      description: 'Checks that the Azure Cosmos DB account name already exists. A valid account name may contain only lowercase letters, numbers, and the ''-'' character, and must be between 3 and 50 characters.'
      operationId: DatabaseAccounts_CheckNameExists
      parameters:
        - $ref: '#/parameters/accountNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. The account name is valid but is already in use.
        '404':
          description: Not Found. The account name is available and valid.
      x-ms-examples:
        CosmosDBDatabaseAccountCheckNameExists:
          parameters:
            accountName: ddb1
            api-version: '2015-04-08'
          responses:
            '200': {}
            '404': {}
  /providers/Microsoft.DocumentDB/operations:
    get:
      description: Lists all of the available Cosmos DB Resource Provider operations.
      operationId: Operations_List
      parameters:
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OperationListResult'
      tags:
        - Operations
      x-ms-examples:
        CosmosDBOperationsList:
          parameters:
            api-version: '2015-04-08'
          responses:
            '200':
              body:
                value:
                  - display:
                      Description: description
                      Operation: operationName
                      Provider: providerName
                      Resource: resourceName
                    name: operationName
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/databaseAccounts':
    get:
      description: Lists all the Azure Cosmos DB database accounts available under the subscription.
      operationId: DatabaseAccounts_List
      parameters:
        - $ref: '#/parameters/apiVersionParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        '200':
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/DatabaseAccountsListResult'
      x-ms-examples:
        CosmosDBDatabaseAccountList:
          parameters:
            api-version: '2015-04-08'
            subscriptionId: subid
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                    kind: GlobalDocumentDB
                    location: West US
                    name: ddb1
                    properties:
                      consistencyPolicy:
                        defaultConsistencyLevel: Session
                        maxIntervalInSeconds: 5
                        maxStalenessPrefix: 100
                      databaseAccountOfferType: Standard
                      documentEndpoint: 'https://ddb1.documents.azure.com:443/'
                      failoverPolicies:
                        - failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                      ipRangeFilter: ''
                      provisioningState: Succeeded
                      readLocations:
                        - documentEndpoint: 'https://ddb1-eastus.documents.azure.com:443/'
                          failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                          provisioningState: Succeeded
                      writeLocations:
                        - documentEndpoint: 'https://ddb1-eastus.documents.azure.com:443/'
                          failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                          provisioningState: Succeeded
                    tags: {}
                    type: Microsoft.DocumentDB/databaseAccounts
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts':
    get:
      description: Lists all the Azure Cosmos DB database accounts available under the given resource group.
      operationId: DatabaseAccounts_ListByResourceGroup
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        '200':
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/DatabaseAccountsListResult'
      x-ms-examples:
        CosmosDBDatabaseAccountListByResourceGroup:
          parameters:
            api-version: '2015-04-08'
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                    kind: GlobalDocumentDB
                    location: West US
                    name: ddb1
                    properties:
                      consistencyPolicy:
                        defaultConsistencyLevel: Session
                        maxIntervalInSeconds: 5
                        maxStalenessPrefix: 100
                      databaseAccountOfferType: Standard
                      documentEndpoint: 'https://ddb1.documents.azure.com:443/'
                      failoverPolicies:
                        - failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                      ipRangeFilter: ''
                      provisioningState: Succeeded
                      readLocations:
                        - documentEndpoint: 'https://ddb1-eastus.documents.azure.com:443/'
                          failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                          provisioningState: Succeeded
                      writeLocations:
                        - documentEndpoint: 'https://ddb1-eastus.documents.azure.com:443/'
                          failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                          provisioningState: Succeeded
                    tags: {}
                    type: Microsoft.DocumentDB/databaseAccounts
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}':
    delete:
      description: Deletes an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_Delete
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/accountNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '202':
          description: The database account delete operation will complete asynchronously.
        '204':
          description: The specified account does not exist in the subscription.
      x-ms-examples:
        CosmosDBDatabaseAccountDelete:
          parameters:
            accountName: ddb1
            api-version: '2015-04-08'
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '202': {}
            '204': {}
      x-ms-long-running-operation: true
    get:
      description: Retrieves the properties of an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_Get
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/accountNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The database account properties were retrieved successfully.
          schema:
            $ref: '#/definitions/DatabaseAccount'
      x-ms-examples:
        CosmosDBDatabaseAccountGet:
          parameters:
            accountName: ddb1
            api-version: '2015-04-08'
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: Session
                    maxIntervalInSeconds: 5
                    maxStalenessPrefix: 100
                  databaseAccountOfferType: Standard
                  documentEndpoint: 'https://ddb1.documents.azure.com:443/'
                  failoverPolicies:
                    - failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                  ipRangeFilter: ''
                  provisioningState: Succeeded
                  readLocations:
                    - documentEndpoint: 'https://ddb1-eastus.documents.azure.com:443/'
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                  writeLocations:
                    - documentEndpoint: 'https://ddb1-eastus.documents.azure.com:443/'
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts
    patch:
      description: Patches the properties of an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_Patch
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/accountNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: The tags parameter to patch for the current database account.
          in: body
          name: updateParameters
          required: true
          schema:
            $ref: '#/definitions/DatabaseAccountPatchParameters'
      responses:
        '200':
          description: The properties of the database account were patched successfully.
          schema:
            $ref: '#/definitions/DatabaseAccount'
      x-ms-examples:
        CosmosDBDatabaseAccountPatch:
          parameters:
            accountName: ddb1
            api-version: '2015-04-08'
            resourceGroupName: rg1
            subscriptionId: subid
            updateParameters:
              tags:
                dept: finance
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: Session
                    maxIntervalInSeconds: 5
                    maxStalenessPrefix: 100
                  databaseAccountOfferType: Standard
                  documentEndpoint: 'https://ddb1.documents.azure.com:443/'
                  failoverPolicies:
                    - failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                  ipRangeFilter: ''
                  provisioningState: Succeeded
                  readLocations:
                    - documentEndpoint: 'https://ddb1-eastus.documents.azure.com:443/'
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                  writeLocations:
                    - documentEndpoint: 'https://ddb1-eastus.documents.azure.com:443/'
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts
      x-ms-long-running-operation: true
    put:
      description: Creates or updates an Azure Cosmos DB database account.
      operationId: DatabaseAccounts_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/accountNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: The parameters to provide for the current database account.
          in: body
          name: createUpdateParameters
          required: true
          schema:
            $ref: '#/definitions/DatabaseAccountCreateUpdateParameters'
      responses:
        '200':
          description: The database account create or update operation will complete asynchronously.
          schema:
            $ref: '#/definitions/DatabaseAccount'
      x-ms-examples:
        CosmosDBDatabaseAccountCreateMax:
          parameters:
            accountName: ddb1
            api-version: '2015-04-08'
            createUpdateParameters:
              kind: GlobalDocumentDB
              location: westus
              properties:
                consistencyPolicy:
                  defaultConsistencyLevel: BoundedStaleness
                  maxIntervalInSeconds: 10
                  maxStalenessPrefix: 200
                databaseAccountOfferType: Standard
                ipRangeFilter: 10.10.10.10
                locations:
                  - failoverPriority: 0
                    locationName: southcentralus
                  - failoverPriority: 1
                    locationName: eastus
              tags: {}
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: BoundedStaleness
                    maxIntervalInSeconds: 10
                    maxStalenessPrefix: 200
                  databaseAccountOfferType: Standard
                  failoverPolicies:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      locationName: South Central US
                    - failoverPriority: 1
                      id: ddb1-eastus
                      locationName: East US
                  ipRangeFilter: 10.10.10.10
                  provisioningState: Initializing
                  readLocations:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      locationName: South Central US
                      provisioningState: Initializing
                    - failoverPriority: 1
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Initializing
                  writeLocations:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      locationName: South Central US
                      provisioningState: Initializing
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts
        CosmosDBDatabaseAccountCreateMin:
          parameters:
            accountName: ddb1
            api-version: '2015-04-08'
            createUpdateParameters:
              location: westus
              properties:
                databaseAccountOfferType: Standard
                locations:
                  - failoverPriority: 0
                    locationName: southcentralus
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: Session
                    maxIntervalInSeconds: 5
                    maxStalenessPrefix: 100
                  databaseAccountOfferType: Standard
                  failoverPolicies:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      locationName: South Central US
                  ipRangeFilter: ''
                  provisioningState: Initializing
                  readLocations:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      locationName: South Central US
                      provisioningState: Initializing
                  writeLocations:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      locationName: South Central US
                      provisioningState: Initializing
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/failoverPriorityChange':
    post:
      description: Changes the failover priority for the Azure Cosmos DB database account. A failover priority of 0 indicates a write region. The maximum value for a failover priority = (total number of regions - 1). Failover priority values must be unique for each of the regions in which the database account exists.
      operationId: DatabaseAccounts_FailoverPriorityChange
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/accountNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: The new failover policies for the database account.
          in: body
          name: failoverParameters
          required: true
          schema:
            $ref: '#/definitions/FailoverPolicies'
      responses:
        '202':
          description: Accepted. The failover policy change operation will complete asynchronously.
        '204':
          description: No Content
      x-ms-examples:
        CosmosDBDatabaseAccountFailoverPriorityChange:
          parameters:
            accountName: ddb1-failover
            api-version: '2015-04-08'
            failoverParameters:
              failoverPolicies:
                - failoverPriority: 0
                  locationName: eastus
                - failoverPriority: 1
                  locationName: westus
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '202': {}
            '204': {}
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/listConnectionStrings':
    post:
      description: Lists the connection strings for the specified Azure Cosmos DB database account.
      operationId: DatabaseAccounts_ListConnectionStrings
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/accountNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/DatabaseAccountListConnectionStringsResult'
      x-ms-examples:
        CosmosDBDatabaseAccountListConnectionStrings:
          parameters:
            accountName: ddb1
            api-version: '2015-04-08'
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body: {}
        CosmosDBDatabaseAccountListConnectionStringsMongo:
          parameters:
            accountName: mongo-ddb1
            api-version: '2015-04-08'
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                connectionStrings:
                  - connectionString: connection-string
                    description: description
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/listKeys':
    post:
      description: Lists the access keys for the specified Azure Cosmos DB database account.
      operationId: DatabaseAccounts_ListKeys
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/accountNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/DatabaseAccountListKeysResult'
      x-ms-examples:
        CosmosDBDatabaseAccountListKeys:
          parameters:
            accountName: ddb1
            api-version: '2015-04-08'
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                primaryMasterKey: primaryMasterKey
                properties:
                  primaryReadonlyMasterKey: primaryReadonlyMasterKey
                  secondaryReadonlyMasterKey: secondaryReadonlyMasterKey
                secondaryMasterKey: secondaryMasterKey
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/readonlykeys':
    get:
      description: Lists the read-only access keys for the specified Azure Cosmos DB database account.
      operationId: DatabaseAccounts_ListReadOnlyKeys
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/accountNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/DatabaseAccountListReadOnlyKeysResult'
      x-ms-examples:
        CosmosDBDatabaseAccountListReadOnlyKeys:
          parameters:
            accountName: ddb1
            api-version: '2015-04-08'
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                primaryReadonlyMasterKey: primaryReadonlyMasterKey
                secondaryReadonlyMasterKey: secondaryReadonlyMasterKey
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/regenerateKey':
    post:
      description: Regenerates an access key for the specified Azure Cosmos DB database account.
      operationId: DatabaseAccounts_RegenerateKey
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/accountNameParameter'
        - $ref: '#/parameters/apiVersionParameter'
        - description: The name of the key to regenerate.
          in: body
          name: keyToRegenerate
          required: true
          schema:
            $ref: '#/definitions/DatabaseAccountRegenerateKeyParameters'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted. The regenerate key operation will complete asynchronously.
      x-ms-examples:
        CosmosDBDatabaseAccountRegenerateKey:
          parameters:
            accountName: ddb1
            api-version: '2015-04-08'
            keyToRegenerate:
              keyKind: primary
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200': {}
            '202': {}
      x-ms-long-running-operation: true
definitions:
  ConsistencyPolicy:
    description: The consistency policy for the Cosmos DB database account.
    properties:
      defaultConsistencyLevel:
        description: The default consistency level and configuration settings of the Cosmos DB account.
        enum:
          - Eventual
          - Session
          - BoundedStaleness
          - Strong
          - ConsistentPrefix
        type: string
        x-ms-enum:
          modelAsString: false
          name: DefaultConsistencyLevel
      maxIntervalInSeconds:
        description: 'When used with the Bounded Staleness consistency level, this value represents the time amount of staleness (in seconds) tolerated. Accepted range for this value is 5 - 86400. Required when defaultConsistencyPolicy is set to ''BoundedStaleness''.'
        format: int32
        maximum: 86400
        minimum: 5
        type: integer
      maxStalenessPrefix:
        description: 'When used with the Bounded Staleness consistency level, this value represents the number of stale requests tolerated. Accepted range for this value is 1 – 2,147,483,647. Required when defaultConsistencyPolicy is set to ''BoundedStaleness''.'
        format: int64
        maximum: 2147483647
        minimum: 1
        type: integer
    required:
      - defaultConsistencyLevel
    type: object
  DatabaseAccount:
    allOf:
      - $ref: '#/definitions/Resource'
    description: An Azure Cosmos DB database account.
    properties:
      kind:
        default: GlobalDocumentDB
        description: Indicates the type of database account. This can only be set at database account creation.
        enum:
          - GlobalDocumentDB
          - MongoDB
          - Parse
        type: string
        x-ms-enum:
          modelAsString: true
          name: DatabaseAccountKind
      properties:
        $ref: '#/definitions/DatabaseAccountProperties'
        x-ms-client-flatten: true
    type: object
  DatabaseAccountConnectionString:
    description: Connection string for the Cosmos DB account
    properties:
      connectionString:
        description: Value of the connection string
        readOnly: true
        type: string
      description:
        description: Description of the connection string
        readOnly: true
        type: string
  DatabaseAccountCreateUpdateParameters:
    allOf:
      - $ref: '#/definitions/Resource'
    description: Parameters to create and update Cosmos DB database accounts.
    properties:
      kind:
        default: GlobalDocumentDB
        description: Indicates the type of database account. This can only be set at database account creation.
        enum:
          - GlobalDocumentDB
          - MongoDB
          - Parse
        type: string
        x-ms-enum:
          modelAsString: true
          name: DatabaseAccountKind
      properties:
        $ref: '#/definitions/DatabaseAccountCreateUpdateProperties'
        x-ms-client-flatten: true
    required:
      - properties
    type: object
  DatabaseAccountCreateUpdateProperties:
    description: Properties to create and update Azure Cosmos DB database accounts.
    properties:
      consistencyPolicy:
        $ref: '#/definitions/ConsistencyPolicy'
        description: The consistency policy for the Cosmos DB account.
      databaseAccountOfferType:
        $ref: '#/definitions/DatabaseAccountOfferType'
      enableAutomaticFailover:
        description: Enables automatic failover of the write region in the rare event that the region is unavailable due to an outage. Automatic failover will result in a new write region for the account and is chosen based on the failover priorities configured for the account.
        type: boolean
      ipRangeFilter:
        $ref: '#/definitions/IPRangeFilter'
        description: 'Cosmos DB Firewall Support: This value specifies the set of IP addresses or IP address ranges in CIDR form to be included as the allowed list of client IPs for a given database account. IP addresses/ranges must be comma separated and must not contain any spaces.'
      locations:
        description: An array that contains the georeplication locations enabled for the Cosmos DB account.
        items:
          $ref: '#/definitions/Location'
        type: array
    required:
      - locations
      - databaseAccountOfferType
    type: object
  DatabaseAccountListConnectionStringsResult:
    description: The connection strings for the given database account.
    properties:
      connectionStrings:
        description: An array that contains the connection strings for the Cosmos DB account.
        items:
          $ref: '#/definitions/DatabaseAccountConnectionString'
        type: array
  DatabaseAccountListKeysResult:
    description: The access keys for the given database account.
    properties:
      primaryMasterKey:
        description: Base 64 encoded value of the primary read-write key.
        readOnly: true
        type: string
      properties:
        $ref: '#/definitions/DatabaseAccountListReadOnlyKeysResult'
        x-ms-client-flatten: true
      secondaryMasterKey:
        description: Base 64 encoded value of the secondary read-write key.
        readOnly: true
        type: string
  DatabaseAccountListReadOnlyKeysResult:
    description: The read-only access keys for the given database account.
    properties:
      primaryReadonlyMasterKey:
        description: Base 64 encoded value of the primary read-only key.
        readOnly: true
        type: string
      secondaryReadonlyMasterKey:
        description: Base 64 encoded value of the secondary read-only key.
        readOnly: true
        type: string
  DatabaseAccountOfferType:
    description: The offer type for the Cosmos DB database account.
    enum:
      - Standard
    type: string
    x-ms-enum:
      modelAsString: false
      name: DatabaseAccountOfferType
  DatabaseAccountPatchParameters:
    description: Parameters for patching Azure Cosmos DB database account properties.
    properties:
      tags:
        $ref: '#/definitions/Tags'
    type: object
  DatabaseAccountProperties:
    description: Properties for the database account.
    properties:
      consistencyPolicy:
        $ref: '#/definitions/ConsistencyPolicy'
        description: The consistency policy for the Cosmos DB database account.
      databaseAccountOfferType:
        $ref: '#/definitions/DatabaseAccountOfferType'
        description: 'The offer type for the Cosmos DB database account. Default value: Standard.'
        readOnly: true
      documentEndpoint:
        description: The connection endpoint for the Cosmos DB database account.
        readOnly: true
        type: string
      enableAutomaticFailover:
        description: Enables automatic failover of the write region in the rare event that the region is unavailable due to an outage. Automatic failover will result in a new write region for the account and is chosen based on the failover priorities configured for the account.
        type: boolean
      failoverPolicies:
        description: An array that contains the regions ordered by their failover priorities.
        items:
          $ref: '#/definitions/FailoverPolicy'
        readOnly: true
        type: array
      ipRangeFilter:
        $ref: '#/definitions/IPRangeFilter'
        description: 'Cosmos DB Firewall Support: This value specifies the set of IP addresses or IP address ranges in CIDR form to be included as the allowed list of client IPs for a given database account. IP addresses/ranges must be comma separated and must not contain any spaces.'
      provisioningState:
        $ref: '#/definitions/ProvisioningState'
      readLocations:
        description: An array that contains of the read locations enabled for the Cosmos DB account.
        items:
          $ref: '#/definitions/Location'
        readOnly: true
        type: array
      writeLocations:
        description: An array that contains the write location for the Cosmos DB account.
        items:
          $ref: '#/definitions/Location'
        readOnly: true
        type: array
    type: object
  DatabaseAccountRegenerateKeyParameters:
    description: Parameters to regenerate the keys within the database account.
    properties:
      keyKind:
        description: The access key to regenerate.
        enum:
          - primary
          - secondary
          - primaryReadonly
          - secondaryReadonly
        type: string
        x-ms-enum:
          modelAsString: true
          name: KeyKind
    required:
      - keyKind
    type: object
  DatabaseAccountsListResult:
    description: 'The List operation response, that contains the database accounts and their properties.'
    properties:
      value:
        description: List of database account and their properties.
        items:
          $ref: '#/definitions/DatabaseAccount'
        readOnly: true
        type: array
  FailoverPolicies:
    description: The list of new failover policies for the failover priority change.
    properties:
      failoverPolicies:
        description: List of failover policies.
        items:
          $ref: '#/definitions/FailoverPolicy'
        type: array
  FailoverPolicy:
    description: The failover policy for a given region of a database account.
    properties:
      failoverPriority:
        description: The failover priority of the region. A failover priority of 0 indicates a write region. The maximum value for a failover priority = (total number of regions - 1). Failover priority values must be unique for each of the regions in which the database account exists.
        format: int32
        minimum: 0
        type: integer
      id:
        description: 'The unique identifier of the region in which the database account replicates to. Example: &lt;accountName&gt;-&lt;locationName&gt;.'
        readOnly: true
        type: string
      locationName:
        description: The name of the region in which the database account exists.
        type: string
    type: object
  IPRangeFilter:
    description: 'Cosmos DB Firewall Support: This value specifies the set of IP addresses or IP address ranges in CIDR form to be included as the allowed list of client IPs for a given database account. IP addresses/ranges must be comma separated and must not contain any spaces.'
    type: string
  Location:
    description: A region in which the Azure Cosmos DB database account is deployed.
    properties:
      documentEndpoint:
        description: 'The connection endpoint for the specific region. Example: https://&lt;accountName&gt;-&lt;locationName&gt;.documents.azure.com:443/'
        readOnly: true
        type: string
      failoverPriority:
        description: The failover priority of the region. A failover priority of 0 indicates a write region. The maximum value for a failover priority = (total number of regions - 1). Failover priority values must be unique for each of the regions in which the database account exists.
        format: int32
        minimum: 0
        type: integer
      id:
        description: 'The unique identifier of the region within the database account. Example: &lt;accountName&gt;-&lt;locationName&gt;.'
        readOnly: true
        type: string
      locationName:
        description: The name of the region.
        type: string
      provisioningState:
        $ref: '#/definitions/ProvisioningState'
    type: object
  Operation:
    description: REST API operation
    properties:
      display:
        description: The object that represents the operation.
        properties:
          Description:
            description: Description of operation
            type: string
          Operation:
            description: 'Operation type: Read, write, delete, etc.'
            type: string
          Provider:
            description: 'Service provider: Microsoft.ResourceProvider'
            type: string
          Resource:
            description: 'Resource on which the operation is performed: Profile, endpoint, etc.'
            type: string
      name:
        description: 'Operation name: {provider}/{resource}/{operation}'
        type: string
    type: object
  OperationListResult:
    description: Result of the request to list Resource Provider operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        type: string
      value:
        description: List of operations supported by the Resource Provider.
        items:
          $ref: '#/definitions/Operation'
        type: array
  ProvisioningState:
    description: 'The status of the Cosmos DB account at the time the operation was called. The status can be one of following. ''Creating'' – the Cosmos DB account is being created. When an account is in Creating state, only properties that are specified as input for the Create Cosmos DB account operation are returned. ''Succeeded'' – the Cosmos DB account is active for use. ''Updating'' – the Cosmos DB account is being updated. ''Deleting'' – the Cosmos DB account is being deleted. ''Failed'' – the Cosmos DB account failed creation.'
    readOnly: true
    type: string
  Resource:
    description: A database account resource.
    properties:
      id:
        description: The unique resource identifier of the database account.
        readOnly: true
        type: string
      location:
        description: The location of the resource group to which the resource belongs.
        type: string
      name:
        description: The name of the database account.
        readOnly: true
        type: string
      tags:
        $ref: '#/definitions/Tags'
      type:
        description: The type of Azure resource.
        readOnly: true
        type: string
    required:
      - location
    type: object
    x-ms-azure-resource: true
  Tags:
    additionalProperties:
      type: string
    description: Tags are a list of key-value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.
    type: object
