openapi: 3.0.0
servers:
  - url: https://tracking.api.here.com/
info:
  contact:
    x-twitter: HERE
  description: |-
    HERE Tracking is a cloud product designed to address location tracking problems for a wide range of Location IoT industry verticals.

    HERE Tracking also includes end-user mobile and web applications that can be used to demonstrate the product.
  license:
    name: HERE Documentation License
    url: https://legal.here.com/en-gb/terms/documentation-license
  title: HERE Tracking
  version: 2.1.58
  x-apisguru-categories:
    - location
  x-document-meta-data:
    copyright: © 2021 HERE Europe B.V.
    date-created: 2021-03-23T07:09:46+00:00
    document-id: 2570a397-343f-4e48-a977-7768ea75c130
  x-logo:
    url: https://twitter.com/HERE/profile_image?size=original
  x-origin:
    - format: openapi
      url: https://developer.here.com/documentation/tracking/swagger/swagger.json
      version: "3.0"
  x-providerName: here.com
  x-serviceName: tracking
tags:
  - description: |
      Data ingestion over HTTPS. This is the only interface that devices use
      to communicate with HERE Tracking.
    name: Ingestion
  - description: |
      The Registry is used to create credentials for a device manufacturer and for a claiming a device to a user. It also offers services to manage users, groups and roles for the other HERE Tracking services.
    name: Registry
  - description: |
      Provide a trackingId and retrieve associated aliases. Search within aliases
      for associated trackers.

      A tracker often has to be associated with an external system in a way that is
      neither part of the reported state of the device or the desired state – attaching
      a tracker to a particular engine part or palette; assigning a human-readable name;
      synchronizing with an external asset management system. This service allows the
      association of arbitrary type-externalId pairs with a trackingId as well as the ability to
      search across those type-externalId pairs to find the containing trackingIds. External Id
      and type pair must be unique within an account.
    name: Aliases
  - description: |
      Use this service to manage rule associations.
    name: Associations
  - description: |
      The hosted Cloud to Cloud service is used to create and manage C2C connectors, which mirror devices ingestion from an external cloud provider to HERE Tracking Cloud.
    name: C2C
  - description: |
      Manage associations between devices and geofences.
    name: Device Associations
  - description: |
      Service to manage device events.
    name: Events
  - description: |
      This service is used to manage the associations between devices and geofences.

      HERE Tracking generates a notification when a device crosses in or out of an associated geofence.
    name: Geofence Associations
  - description: |
      Create and manage geofences.

      A geofence is a boundary that you can define and associate with your devices.
      The area that the geofence encloses can be defined using geographic coordinates or radio measurements.
      When active, HERE Tracking can notify you when a device transitions in
      or out of a geofence.

      Circle and polygon geofences are usable both outdoors and indoors. The evaluation is based on the coordinates of the trace. POI (Point of Interest) geofence evaluation relies on the radio environment near the point of interest where the geofence was trained. POI geofences should only be used indoors.
    name: Geofence
  - description: |
      Service for managing locations.

      This is an Alpha version of the Locations API and can still be changed in future releases.

      Locations are geographical points of interest users may store in HERE Tracking. Locations are
      used as building blocks for shipments.
    name: Locations
  - description: |
      Provide a trackingId, geofenceId or sensorRuleId and retrieve associated metadata. Update
      meta information for your resource.

      A tracker, geofence or sensor rule often has to be associated with metadata;
      adding descriptive information about it. This service allows the
      association of arbitrary JSON object with a trackingId, geofenceId or sensorRuleId.
    name: Metadata
  - description: |
      Manage notification channels for a user.

      Users can opt to receive notifications whenever one of their devices generates an event based on
      predefined event rule threshold values. The channel supported for notifications is webhook.

      Once a user has registered a URL as a webhook, the URL will receive a POST request whenever an
      event occurs. The API version used to register the webhook URL determines the body of the
      notification.

      <h2>v2</h2>

      Notifications sent to URLs registered at v2 API contain only geofence related events. The POST
      body is a JSON object that describes the event.

      ```
      {
        "inOut": "PING_OUTSIDE_FENCE",
        "geofenceId": "e2f651ee-f196-4fa3-bf88-894dc131dea3",
        "trackingId": "HERE-871eb4c9-76f6-4e9d-bed7-fa114f793e83",
        "timestamp": 1499258184142,
        "notificationStatus": "SENT"
      }

      ```
      Possible values for `inOut` are:

       * PING_OUTSIDE_FENCE
       * PING_IN_FENCE

      <h2>v3</h2>

      Notifications sent to URLs registered at v3 API contain only events the user subscribed to when
      registering the webhook URL. The POST body is an array of JSON objects, each describing an
      event.

      ```
      [
        {
          "eventType": "ABOVE_RANGE",
          "ruleId": "a3f652bc-a456-7f12-cd11-123ah761yt41",
          "eventSource": "temperature"
          "trackingId": "HERE-871eb4c9-76f6-4e9d-bed7-fa114f793e83",
          "timestamp": 1499258184356,
          "initialState": false
        },
        {
          "eventType": "INSIDE_GEOFENCE",
          "ruleId": "e2f651ee-f196-4fa3-bf88-894dc131dea3",
          "eventSource": "geofence"
          "trackingId": "HERE-871eb4c9-76f6-4e9d-bed7-fa114f793e83",
          "timestamp": 1499258184356,
          "initialState": false
        },
        {
          "eventType": "DWELLING_STARTED",
          "ruleId": "bf4510c0-ffa1-4ae3-8174-6a3474f7091e",
          "eventSource": "dwelling"
          "trackingId": "HERE-871eb4c9-76f6-4e9d-bed7-fa114f793e83",
          "timestamp": 1499258184356,
          "geofenceId": "e2f651ee-f196-4fa3-bf88-894dc131dea3",
          "initialState": false
        }
      ]

      ```
      Possible values for `eventType` are:

       * ABOVE_RANGE
       * IN_RANGE
       * BELOW_RANGE
       * FALSE_TO_TRUE
       * TRUE_TO_FALSE
       * EVENT
       * INSIDE_GEOFENCE
       * OUTSIDE_GEOFENCE
       * DWELLING_STARTED
       * DWELLING_ENDED
       * DETENTION_STARTED
       * DETENTION_ENDED
       * UTILIZED
       * UNUTILIZED
       * OVERSTOCK
       * UNDERSTOCK
       * NORMAL_VOLUME

      Supported values for `eventSource` are:

       * acceleration
       * attach
       * battery
       * detention
       * utilization
       * dwelling
       * geofence
       * humidity
       * pressure
       * stock
       * tamper
       * temperature


      <h2>Offline</h2>

      If a device has been working offline and caching position updates, notifications are not sent
      until the device is online again. All events are recorded in the events log.
    name: Notifications
  - description: |
      Create and get reports related to event data.

      To start report creation, make POST reports/v4 query and provide ruleId and start and end times
      of the report period in the request body. Supported rule types are:
      * dwelling
      * detention
      * utilization

      Reports are generated based on the event data generated by the rule and associated devices.
      As a response, you will get a `reportId`

      Once the report is generated, you can get various different versions of the report using the
      `reportId` and query parameters in a GET request.
    name: Reports
  - description: |
      Create and manage rules. You can define and associate rules with your devices.
      HERE Tracking can notify you when a device breaks a rule.
    name: Rules
  - description: |
      Create and manage a sensor rule.

      A sensor rule defines the sensor alarm threshold values. You can define and associate a sensor rule with

      your devices. HERE Tracking can notify you when a device sensor data falls within or outside the predefined

      threshold values.
    name: Sensors
  - description: |
      Shadows provide an effective way to manage configurations for devices that are online
      intermittently.

      Shadows are stored in HERE Tracking and contain two states of a device's configuration:
      The `reported` state and the `desired` state.

      The `reported` state contains the most recent position, sensor readings and settings that the
      device had sent when it was last online. The state is meant to be read by an application.

      The `desired` state contains settings that the device should use. The device will read these
      when it is online.

      > **IMPORTANT**
      > Devices should not communicate directly with this service. Devices must send telemetry
      > to the ingestion endpoint only. This telemetry data is used to update the `reported`
      > configuration for the device.

      Applications should only write to the `desired` configuration state and only read from
      `reported` configuration state.

      A `shipmentId` can be substituted for `trackingId` when fetching a shadow. This returns the
      shadow of the device that was most recently active for the provided shipment. If the shipment
      is still pending or it has been cancelled or completed, an empty shadow is returned.
    name: Shadows
  - description: |
      Service for managing shipments and shipment plans.

      This is an Alpha version of the Shipments API and can still be changed in future releases.

      A shipment describes a structure of a multimodal logistics journey. Shipments are useful when
      the lifetime of an asset you are tracking spans across multiple trackers.

      A shipment consists of segments that span from a location to another. The segments and their
      origins and destinations must form a continuous chain of locations i.e. the origin of a segment
      must match the destination of a previous segment. Each segment of the shipment may be assigned a
      `trackingId` that can alter between segments. Trackers assigned to a shipment generate traces
      and events for the shipment.

      The `shipmentId` of a shipment can be used in similar fashion than a trackingId in selected
      APIs. You can query for shipment ***traces*** and ***events*** and associate ***aliases*** and
      ***metadata*** to a shipment.

      Each shipment has one of the following statuses:
      * ***pending***: The shipment has not yet started.
      * ***ongoing***: The shipment has started and it has one segment ongoing.
      * ***completed***: The shipment has ended and all of its segments are completed.
      * ***cancelled***: The shipment has ended and it has one or more cancelled segments.

      HERE Tracking progresses the shipment automatically if each segment has been assigned a
      `trackingId` and the origin and destination locations contain a geofenceId. Each segment is
      started upon exiting the origin location of the segment and completed upon entering the
      destination location of the segment. If the origin and the destination of a segment share the
      same location (i.e. dwelling in single location), the segment is automatically started after the
      previous segment was completed. If a segment has not been assigned a tracker, the user must
      start and complete the segment manually.

      A new shipment should be instantiated for each separate logistical journey. However, if the
      structure of the shipment is recurring, a shipment plan can be defined. A shipment plan can
      be used to define a generic skeleton for a logistical journey. For example, often a sequence of
      locations is typical for certain types of assets. A shipment plan defining the segments can be
      created, and whenever a new logistical journey begins, a shipment can be instantiated from the
      plan. This allows recycling of components for similar shipments and reduces time and effort for
      creating new shipment instances.
    name: Shipments
  - description: |
      Use this API to access current and historical data that a device has collected.
      This data includes a history of the device position, payload, and timestamp.

      > **IMPORTANT**
      > Devices should not communicate directly with this service. Devices must send telemetry
      > to the ingestion endpoint only.
    name: Traces
  - description: |
      Use this API to access current and historical data about device transitions.

      A transition event is created each time a device enters or exists an associated
      geofence. These events are stored in the transition log.
    name: Transitions
  - description: |
      Use this service to manage users, groups and roles for the other HERE Tracking services.
    name: Users
paths:
  /aliases/v2:
    get:
      description: |
        Gets all aliases on the account.

        If the request is supplied with `type` query parameter, the successful response will contain
        only aliases of the given type.

        If the request is supplied with `externalId` query parameter, the
        successful response will contain only aliases which match to given
        externalId. In this query it is possible to use wildcards:
        '*' matches to any number of any characters,
        '?' matches to any one character.

        If the request is supplied with `after` query parameter, the successful response will
        contain aliases created after the given timestamp.

        The `count` and `pageToken` parameters provide pagination for results
        where the user has large amount of aliases.

        In this case, `count` is the number of records returned per page along with
        a `pageToken` header in the returned HTTP response. The `pageToken` indicates
        the next available page in the matching result set. To get the next page of
        records, submit `pageToken` as a query parameter in your next request. Using
        `after` parameter with `pageToken` is forbidden.

        The paginated results are returned in the order of the alias creation time.
        All aliases of a trackingId may therefore not fit in the same page.
      parameters:
        - in: query
          name: pageToken
          required: false
          schema:
            description: A page token that you can use to retrieve a page.
            type: string
        - description: The number of items to return per page.
          in: query
          name: count
          required: false
          schema:
            default: 100
            maximum: 100
            minimum: 1
            type: integer
        - description: |
            Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
            The accepted range is from 0 to the current time.
          in: query
          name: after
          required: false
          schema:
            minimum: 0
            type: number
        - in: query
          name: projectId
          required: false
          schema:
            description: The id that was assigned to a project when it was created.
            maxLength: 50
            minLength: 1
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - properties:
                      count:
                        default: 100
                        description: The number of items returned.
                        maximum: 100
                        minimum: 0
                        type: integer
                      pageToken:
                        description: A page token that you can use to retrieve a page.
                        type: string
                    type: object
                  - properties:
                      data:
                        items:
                          properties:
                            aliases:
                              description: |
                                A map of key-value pairs where the key is the type of the alias and the value is an array of externalIds.
                              type: object
                            trackingId:
                              type: string
                          required:
                            - trackingId
                            - aliases
                          type: object
                        type: array
                    type: object
                example:
                  data:
                    - aliases:
                        cargoId:
                          - 123-456
                        engines:
                          - de7a0e9a-2e86-11e8-b20f-6c400892e894
                          - dfee3968-2e86-11e8-b4e0-6c400892e894
                      trackingId: HERE-c47c0d1d-89fd-4961-b341-3eb109f58d19
                    - aliases:
                        engines:
                          - 5219bfc6-9779-4901-922a-e53a7c01037e
                      trackingId: HERE-6da0f871-b4eb-4800-90e6-4bae86a788d6
          description: |
            Successful

            The aliases were successfully retrieved
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
      security:
        - authBearer: []
      summary: Provides all aliases in a paginated JSON object.
      tags:
        - Aliases
    parameters:
      - description: |
          ID used for correlating requests within HERE Tracking. Used for logging and error reporting.

          Must be a valid UUIDv4.
        in: header
        name: X-Request-Id
        required: false
        schema:
          format: uuid
          type: string
      - description: Type of an externalId (alias)
        in: query
        name: type
        required: false
        schema:
          maxLength: 50
          minLength: 1
          type: string
      - description: Filter for externalIds (aliases)
        in: query
        name: externalId
        required: false
        schema:
          maxLength: 50
          minLength: 1
          type: string
  /aliases/v2/health:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  message: healthy
                properties:
                  message:
                    description: Health status
                    type: string
                type: object
          description: |
            OK

            The service is performing as expected
        "500":
          description: |
            Service unavailable

            The service is not performing as expected
      security: []
      summary: Gets service health
      tags:
        - Aliases
  /aliases/v2/trackingId:
    get:
      description: |
        Retrieves the trackingId associated with the alias. This will return the value
        as a string or 404 if the alias does not exist.
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: false
                example:
                  trackingId: HERE-6da0f871-b4eb-4800-90e6-4bae86a788d6
                properties:
                  appId:
                    description: Virtual device application ID, only present when the device is virtual
                    minLength: 8
                    type: string
                  externalId:
                    description: Virtual device external ID, only present when the device is virtual
                    maxLength: 50
                    minLength: 1
                    type: string
                  trackingId:
                    description: The ID HERE Tracking assigned to the device when it was claimed by a user, or for virtual devices an application specific external ID provided together with appId query parameter. Alternatively, a valid shipmentId may be used.
                    maxLength: 50
                    minLength: 1
                    type: string
                required:
                  - trackingId
                type: object
          description: |
            Successful

            The trackingId was successfully retrieved.
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
        "404":
          content:
            application/json:
              example:
                code: 404
                details:
                  hereErrorCode: 404306
                error: Not Found
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Not Found

            The specified resource was not found
      security:
        - authBearer: []
      summary: Gets the trackingId associated with an alias
      tags:
        - Aliases
    parameters:
      - description: Type of an externalId (alias)
        in: query
        name: type
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
      - description: Id in the external system. Together with a type defines an unique identifier.
        in: query
        name: externalId
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
      - in: query
        name: projectId
        required: false
        schema:
          description: The id that was assigned to a project when it was created.
          maxLength: 50
          minLength: 1
          type: string
      - description: |
          ID used for correlating requests within HERE Tracking. Used for logging and error reporting.

          Must be a valid UUIDv4.
        in: header
        name: X-Request-Id
        required: false
        schema:
          format: uuid
          type: string
  /aliases/v2/version:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                description: |
                  OK
                  Service returns its current version number
                  schema:
                      type: object
                      properties:
                          "service-name":
                              type: string
                              description: Version of service
                      example:
                          servicename: "1.0.0"
          description: |
            Success
        "500":
          description: |
            Service unavailable

            The service is not performing as expected
      security: []
      summary: Gets service version
      tags:
        - Aliases
  "/aliases/v2/{trackingId}":
    delete:
      description: |
        Deletes all aliases associated with this device.

        As an extra safety measure, you must also supply the header `x-confirm`
        with the value `true`. If this header is not explicitly specified on a
        **Delete All** request, the request fails.
      parameters:
        - description: |
            A safety measure that prevents you from accidentally deleting data.

            To confirm that all entries should be deleted, set the value to "true".
          in: header
          name: x-confirm
          required: true
          schema:
            enum:
              - "true"
            type: string
      responses:
        "204":
          description: |
            Successful (no content)

            All aliases were successfully deleted.
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
        "404":
          content:
            application/json:
              example:
                code: 404
                details:
                  hereErrorCode: 404306
                error: Not Found
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Not Found

            The specified resource was not found
      security:
        - authBearer: []
      summary: Deletes all aliases
      tags:
        - Aliases
    get:
      description: |
        Provides all aliases of a device in a JSON object.

        If the request is supplied with `type` query parameter, the successful response will contain
        only aliases of the given type.

        The `count` and `pageToken` parameters provide pagination for results
        where the user has large amount of aliases.

        In this case, `count` is the number of records returned per page along with
        a `pageToken` header in the returned HTTP response. The `pageToken` indicates
        the next available page in the matching result set. To get the next page of
        records, submit `pageToken` as a query parameter in your next request.
      parameters:
        - in: query
          name: pageToken
          required: false
          schema:
            description: A page token that you can use to retrieve a page.
            type: string
        - description: The number of items to return per page.
          in: query
          name: count
          required: false
          schema:
            default: 100
            maximum: 100
            minimum: 1
            type: integer
        - description: Type of an externalId (alias)
          in: query
          name: type
          required: false
          schema:
            maxLength: 50
            minLength: 1
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - properties:
                      count:
                        default: 100
                        description: The number of items returned.
                        maximum: 100
                        minimum: 0
                        type: integer
                      pageToken:
                        description: A page token that you can use to retrieve a page.
                        type: string
                    type: object
                  - properties:
                      data:
                        description: |
                          A map of key-value pairs where the key is the type of the alias and the value is an array of externalIds.
                        type: object
                    type: object
                example:
                  data:
                    cargoId:
                      - 123-456
                    engines:
                      - de7a0e9a-2e86-11e8-b20f-6c400892e894
                      - dfee3968-2e86-11e8-b4e0-6c400892e894
          description: |
            Successful

            The aliases were successfully retrieved.
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
        "404":
          content:
            application/json:
              example:
                code: 404
                details:
                  hereErrorCode: 404306
                error: Not Found
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Not Found

            The specified resource was not found
      security:
        - authBearer: []
      summary: Gets all aliases of this device
      tags:
        - Aliases
    parameters:
      - in: path
        name: trackingId
        required: true
        schema:
          description: The ID HERE Tracking assigned to the device when it was claimed by a user, or for virtual devices an application specific external ID provided together with appId query parameter. Alternatively, a valid shipmentId may be used.
          maxLength: 50
          minLength: 1
          type: string
      - description: |
          ID used for correlating requests within HERE Tracking. Used for logging and error reporting.

          Must be a valid UUIDv4.
        in: header
        name: X-Request-Id
        required: false
        schema:
          format: uuid
          type: string
      - description: Application identifier. Used together with an external ID to identify the virtual device.
        in: query
        name: appId
        required: false
        schema:
          minLength: 8
          type: string
  "/aliases/v2/{trackingId}/{type}":
    delete:
      description: |
        Deletes all aliases of a type associated with this device.

        As an extra safety measure, you must also supply the header `x-confirm`
        with the value `true`. If this header is not explicitly specified on a
        **Delete All** request, the request fails.
      parameters:
        - description: |
            A safety measure that prevents you from accidentally deleting data.

            To confirm that all entries should be deleted, set the value to "true".
          in: header
          name: x-confirm
          required: true
          schema:
            enum:
              - "true"
            type: string
      responses:
        "204":
          description: |
            Successful (no content)

            All aliases were successfully deleted.
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
        "404":
          content:
            application/json:
              example:
                code: 404
                details:
                  hereErrorCode: 404306
                error: Not Found
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Not Found

            The specified resource was not found
      security:
        - authBearer: []
      summary: Deletes all aliases of a type
      tags:
        - Aliases
    get:
      description: Provides all aliases of a type in a JSON object.
      parameters:
        - in: query
          name: pageToken
          required: false
          schema:
            description: A page token that you can use to retrieve a page.
            type: string
        - description: The number of items to return per page.
          in: query
          name: count
          required: false
          schema:
            default: 100
            maximum: 100
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - properties:
                      count:
                        default: 100
                        description: The number of items returned.
                        maximum: 100
                        minimum: 0
                        type: integer
                      pageToken:
                        description: A page token that you can use to retrieve a page.
                        type: string
                    type: object
                  - properties:
                      data:
                        description: |
                          A map of key-value pairs where the key is the type of the alias and the value is an array of externalIds.
                        type: object
                    type: object
                example:
                  data:
                    cargoId:
                      - 123-456
          description: |
            Successful

            The aliases were successfully retrieved.
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
        "404":
          content:
            application/json:
              example:
                code: 404
                details:
                  hereErrorCode: 404306
                error: Not Found
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Not Found

            The specified resource was not found
      security:
        - authBearer: []
      summary: Gets all aliases of a type of this device
      tags:
        - Aliases
    parameters:
      - description: Type of an externalId (alias)
        in: path
        name: type
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
      - in: path
        name: trackingId
        required: true
        schema:
          description: The ID HERE Tracking assigned to the device when it was claimed by a user, or for virtual devices an application specific external ID provided together with appId query parameter. Alternatively, a valid shipmentId may be used.
          maxLength: 50
          minLength: 1
          type: string
      - description: |
          ID used for correlating requests within HERE Tracking. Used for logging and error reporting.

          Must be a valid UUIDv4.
        in: header
        name: X-Request-Id
        required: false
        schema:
          format: uuid
          type: string
      - description: Application identifier. Used together with an external ID to identify the virtual device.
        in: query
        name: appId
        required: false
        schema:
          minLength: 8
          type: string
  "/aliases/v2/{trackingId}/{type}/{externalId}":
    delete:
      description: |
        Deletes a single alias based on the provided alias key.
      responses:
        "204":
          description: Successful (no content)
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
        "404":
          content:
            application/json:
              example:
                code: 404
                details:
                  hereErrorCode: 404306
                error: Not Found
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Not Found

            The specified resource was not found
      security:
        - authBearer: []
      summary: Deletes an alias
      tags:
        - Aliases
    parameters:
      - description: Type of an externalId (alias)
        in: path
        name: type
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
      - description: Id in the external system. Together with a type defines an unique identifier.
        in: path
        name: externalId
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
      - in: path
        name: trackingId
        required: true
        schema:
          description: The ID HERE Tracking assigned to the device when it was claimed by a user, or for virtual devices an application specific external ID provided together with appId query parameter. Alternatively, a valid shipmentId may be used.
          maxLength: 50
          minLength: 1
          type: string
      - description: |
          ID used for correlating requests within HERE Tracking. Used for logging and error reporting.

          Must be a valid UUIDv4.
        in: header
        name: X-Request-Id
        required: false
        schema:
          format: uuid
          type: string
      - description: Application identifier. Used together with an external ID to identify the virtual device.
        in: query
        name: appId
        required: false
        schema:
          minLength: 8
          type: string
    put:
      description: |
        Adds an alias for the trackingId. Must be unique within account.
      responses:
        "201":
          description: Successful (no content)
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
        "404":
          content:
            application/json:
              example:
                code: 404
                details:
                  hereErrorCode: 404306
                error: Not Found
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Not Found

            The specified resource was not found
        "409":
          content:
            application/json:
              example:
                code: 409
                details:
                  hereErrorCode: 404306
                error: Conflict
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource already exists.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Conflict

            The specified resource already exists
      security:
        - authBearer: []
      summary: Adds an alias for the trackingId
      tags:
        - Aliases
  "/associations/v3/geofences/{geofenceId}":
    get:
      description: |
        Returns all devices associated with the geofence in a paginated JSON object.
      parameters:
        - in: query
          name: pageToken
          required: false
          schema:
            description: A page token that you can use to retrieve a page.
            type: string
        - description: The number of items to return per page.
          in: query
          name: count
          required: false
          schema:
            default: 100
            maximum: 100
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                count: 2
                data:
                  - appId: c2639c686251407a9052aaea824a1fb5
                    externalId: TestDevice1
                    trackingId: HERE-6da0f871-b4eb-4800-90e6-4bae86a788d6
                  - appId: c2639c686251407a9052aaea824a1fc9
                    externalId: TestDevice2
                    trackingId: HERE-b0146d7b-2e46-4cee-bc71-6da03ba2da85
                pageToken: 024ggjjea253d79fc
              schema:
                allOf:
                  - properties:
                      count:
                        default: 100
                        description: The number of items returned.
                        maximum: 100
                        minimum: 0
                        type: integer
                      pageToken:
                        description: A page token that you can use to retrieve a page.
                        type: string
                    type: object
                  - properties:
                      data:
                        items:
                          description: |
                            Response body contains a single device object.
                          properties:
                            appId:
                              description: Virtual device application ID, only present when the device is virtual
                              minLength: 8
                              type: string
                            externalId:
                              description: Virtual device external ID, only present when the device is virtual
                              maxLength: 50
                              minLength: 1
                              type: string
                            trackingId:
                              description: The ID HERE Tracking assigned to the device when it was claimed by a user, or for virtual devices an application specific external ID provided together with appId query parameter.
                              maxLength: 50
                              minLength: 1
                              type: string
                          required:
                            - trackingId
                          type: object
                        type: array
                    type: object
                description: |
                  Response body contains an array of device objects, count indicating the number of returned devices,
                  and pageToken if available. If no devices are found, an object with empty data array is returned.
                type: object
          description: |
            Response body contains an array of device objects, count indicating the number of returned devices,
            and pageToken if available.

            If no associations are found, an object with empty data array is returned.
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
        "404":
          content:
            application/json:
              example:
                code: 404
                details:
                  hereErrorCode: 404306
                error: Not Found
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Not Found

            The specified resource was not found
      security:
        - authBearer: []
      summary: Gets all devices associated with a geofence
      tags:
        - Associations
    parameters:
      - description: |
          ID used for correlating requests within HERE Tracking. Used for logging and error reporting.

          Must be a valid UUIDv4.
        in: header
        name: X-Request-Id
        required: false
        schema:
          format: uuid
          type: string
      - description: ID of the geofence
        in: path
        name: geofenceId
        required: true
        schema:
          format: uuid
          type: string
  /associations/v3/health:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  message: healthy
                properties:
                  message:
                    description: Health status
                    type: string
                type: object
          description: |
            OK

            The service is performing as expected
        "500":
          description: |
            Service unavailable

            The service is not performing as expected
      security: []
      summary: Gets service health
      tags:
        - Associations
  "/associations/v3/rules/{ruleId}":
    get:
      description: |
        Returns all devices associated with the rule in a paginated JSON object.
      parameters:
        - in: query
          name: pageToken
          required: false
          schema:
            description: A page token that you can use to retrieve a page.
            type: string
        - description: The number of items to return per page.
          in: query
          name: count
          required: false
          schema:
            default: 100
            maximum: 100
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                count: 2
                data:
                  - appId: c2639c686251407a9052aaea824a1fb5
                    externalId: TestDevice1
                    trackingId: HERE-6da0f871-b4eb-4800-90e6-4bae86a788d6
                  - appId: c2639c686251407a9052aaea824a1fc9
                    externalId: TestDevice2
                    trackingId: HERE-b0146d7b-2e46-4cee-bc71-6da03ba2da85
                pageToken: 024ggjjea253d79fc
              schema:
                allOf:
                  - properties:
                      count:
                        default: 100
                        description: The number of items returned.
                        maximum: 100
                        minimum: 0
                        type: integer
                      pageToken:
                        description: A page token that you can use to retrieve a page.
                        type: string
                    type: object
                  - properties:
                      data:
                        items:
                          description: |
                            Response body contains a single device object.
                          properties:
                            appId:
                              description: Virtual device application ID, only present when the device is virtual
                              minLength: 8
                              type: string
                            externalId:
                              description: Virtual device external ID, only present when the device is virtual
                              maxLength: 50
                              minLength: 1
                              type: string
                            trackingId:
                              description: The ID HERE Tracking assigned to the device when it was claimed by a user, or for virtual devices an application specific external ID provided together with appId query parameter.
                              maxLength: 50
                              minLength: 1
                              type: string
                          required:
                            - trackingId
                          type: object
                        type: array
                    type: object
                description: |
                  Response body contains an array of device objects, count indicating the number of returned devices,
                  and pageToken if available. If no devices are found, an object with empty data array is returned.
                type: object
          description: |
            Response body contains an array of device objects, count indicating the number of returned devices,
            and pageToken if available.

            If no associations are found, an object with empty data array is returned.
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Bad request

            The request object is in an incorrect format or has values that are invalid or out of range.

            If available, further error details are provided in the response body.
        "401":
          content:
            application/json:
              example:
                code: 401
                details:
                  hereErrorCode: 401306
                error: Unauthorized
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Unauthorized

            The request did not provide correct authentication details
        "403":
          content:
            application/json:
              example:
                code: 403
                details:
                  hereErrorCode: 403306
                error: Forbidden
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Forbidden

            The account does not have the correct privileges
        "404":
          content:
            application/json:
              example:
                code: 404
                details:
                  hereErrorCode: 404306
                error: Not Found
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
                    description: An HTTP error description
                    type: string
                  id:
                    description: An error ID that allows you to trace the error details
                    format: uuid
                    type: string
                  message:
                    description: Descriptive text that explains the error
                    type: string
                required:
                  - error
                  - code
                  - id
                type: object
          description: |
            Not Found

            The specified resource was not found
      security:
        - authBearer: []
      summary: Gets all devices associated with a rule
      tags:
        - Associations
    parameters:
      - description: |
          ID used for correlating requests within HERE Tracking. Used for logging and error reporting.

          Must be a valid UUIDv4.
        in: header
        name: X-Request-Id
        required: false
        schema:
          format: uuid
          type: string
      - description: ID of the rule
        in: path
        name: ruleId
        required: true
        schema:
          description: |
            Must be a valid UUIDv4.
          format: uuid
          type: string
  "/associations/v3/sensors/{sensorRuleId}":
    get:
      description: |
        Returns all devices associated with the sensor rule in a paginated JSON object.
      parameters:
        - in: query
          name: pageToken
          required: false
          schema:
            description: A page token that you can use to retrieve a page.
            type: string
        - description: The number of items to return per page.
          in: query
          name: count
          required: false
          schema:
            default: 100
            maximum: 100
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                count: 2
                data:
                  - appId: c2639c686251407a9052aaea824a1fb5
                    externalId: TestDevice1
                    trackingId: HERE-6da0f871-b4eb-4800-90e6-4bae86a788d6
                  - appId: c2639c686251407a9052aaea824a1fc9
                    externalId: TestDevice2
                    trackingId: HERE-b0146d7b-2e46-4cee-bc71-6da03ba2da85
                pageToken: 024ggjjea253d79fc
              schema:
                allOf:
                  - properties:
                      count:
                        default: 100
                        description: The number of items returned.
                        maximum: 100
                        minimum: 0
                        type: integer
                      pageToken:
                        description: A page token that you can use to retrieve a page.
                        type: string
                    type: object
                  - properties:
                      data:
                        items:
                          description: |
                            Response body contains a single device object.
                          properties:
                            appId:
                              description: Virtual device application ID, only present when the device is virtual
                              minLength: 8
                              type: string
                            externalId:
                              description: Virtual device external ID, only present when the device is virtual
                              maxLength: 50
                              minLength: 1
                              type: string
                            trackingId:
                              description: The ID HERE Tracking assigned to the device when it was claimed by a user, or for virtual devices an application specific external ID provided together with appId query parameter.
                              maxLength: 50
                              minLength: 1
                              type: string
                          required:
                            - trackingId
                          type: object
                        type: array
                    type: object
                description: |
                  Response body contains an array of device objects, count indicating the number of returned devices,
                  and pageToken if available. If no devices are found, an object with empty data array is returned.
                type: object
          description: |
            Response body contains an array of device objects, count indicating the number of returned devices,
            and pageToken if available.

            If no associations are found, an object with empty data array is returned.
        "400":
          content:
            application/json:
              example:
                code: 400
                details:
                  hereErrorCode: 400306
                error: Bad request
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
              schema:
                properties:
                  code:
                    description: An HTTP status code
                    type: integer
                  details:
                    description: An optional object containing more information about the error
                  error:
[...]
