swagger: '2.0'
schemes:
  - https
host: api.gettyimages.com
basePath: /
info:
  description: Build applications using the world's most powerful imagery
  title: Getty Images
  version: '3.0'
  x-logo:
    backgroundColor: '#333333'
    url: 'http://www.gettyimages.com/landing/assets/unisporkal_engine/images/getty-logo-negative-b117d413642b91fba020901fbd8949ba.svg'
  x-origin:
    format: swagger
    url: 'https://api.gettyimages.com/swagger/api-docs'
    version: '1.2'
  x-providerName: gettyimages.com
securityDefinitions:
  Api-Key:
    description: Provide your API key.
    in: header
    name: Api-Key
    type: apiKey
security:
  - Api-Key: []
tags:
  - name: AssetChanges
  - name: AssetRegistration
  - name: Boards
  - name: Collections
  - name: Countries
  - name: Downloads
  - name: Events
  - name: Images
  - name: Products
  - name: Purchases
  - name: Search
  - name: Usage
  - name: Videos
paths:
  /v3/asset-changes/change-sets:
    put:
      consumes: []
      parameters:
        - description: Accept-Language parameter optional. Used to restrict the set of natural languages that are preferred as a response to the request.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: Specifies the id of the channel for the asset data. Valid channel ids can be found in the results of the Get Partner Channel query.
          format: int32
          in: query
          name: channel_id
          required: true
          type: integer
        - description: Specifies the number of assets to return. The default is 10; maximum is 500.
          format: int32
          in: query
          name: batch_size
          required: false
          type: integer
        - description: Authorization token required. Used for applying content access restrictions. Use one of the OAuth2 grants to auto-populate this value.
          in: header
          name: Authorization
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: No response was specified
          schema:
            $ref: '#/definitions/AssetChanges'
        '403':
          description: Your access token does not authorize access to this resource
        '404':
          description: The channel you specified does not exist
      summary: Generates asset changes.
      tags:
        - AssetChanges
  '/v3/asset-changes/change-sets/{change-set-id}':
    delete:
      consumes: []
      parameters:
        - description: Accept-Language parameter optional. Used to restrict the set of natural languages that are preferred as a response to the request.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: Specify the change-set-id associated with a transaction resource whose receipt you want to confirm.
          format: int64
          in: path
          name: change-set-id
          required: true
          type: integer
        - description: Authorization token required. Used for applying content access restrictions. Use one of the OAuth2 grants to auto-populate this value.
          in: header
          name: Authorization
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: No response was specified
          schema:
            type: string
        '403':
          description: Your access token does not authorize access to this resource
        '404':
          description: Transaction was not found
      summary: Confirm asset changes acknowledges receipt of asset changes.
      tags:
        - AssetChanges
  /v3/asset-changes/channels:
    get:
      consumes: []
      parameters:
        - description: Accept-Language parameter optional. Used to restrict the set of natural languages that are preferred as a response to the request.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: Authorization token required. Used for applying content access restrictions. Use one of the OAuth2 grants to auto-populate this value.
          in: header
          name: Authorization
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: No response was specified
          schema:
            $ref: '#/definitions/PartnerChannelList'
      summary: Retrieves the channel data for the partner. This data can be used to populate the channel_id parameter in the Put Asset Changes query.
      tags:
        - AssetChanges
  /v3/asset-registrations:
    post:
      consumes:
        - application/json
        - text/json
      parameters:
        - description: Authorization token required. Used for applying content access restrictions. Use one of the OAuth2 grants to auto-populate this value.
          in: header
          name: Authorization
          required: true
          type: string
        - description: Accept-Language parameter optional. Used to restrict the set of natural languages that are preferred as a response to the request.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: Specify JSON containing an array of asset ids to register.  Limited to 500 asset ids per call.
          in: body
          name: request
          required: true
          schema:
            $ref: '#/definitions/RegisterAssetsRequest'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: Success - The assets were successfully registered.
          schema:
            type: string
        '401':
          description: AuthorizationTokenRequired - Authorization token was missing or not valid.
        '500':
          description: AssetRegistrationFailed - There was a failure when registering assets.
      summary: Register a list of customer assets.
      tags:
        - AssetRegistration
  /v3/boards:
    get:
      consumes: []
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: Search for boards the user owns or has been invited to as an editor.
          enum:
            - owned
            - invited
          in: query
          name: board_relationship
          required: false
          type: string
        - description: Request results starting at a page number (default is 1).
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Request number of boards to return in each page. (default is 30).
          format: int32
          in: query
          name: page_size
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/board_list'
        '400':
          description: InvalidPageSize
        '401':
          description: Unauthorized
        '403':
          description: SecureTokenRequired
      summary: <b>***BETA***</b> Get all boards that the user participates in
      tags:
        - Boards
    post:
      consumes:
        - application/json
        - text/json
      parameters:
        - description: Specify a name and description of the board to create (name is required).
          in: body
          name: new_board
          required: true
          schema:
            $ref: '#/definitions/board_info'
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: No response was specified
          schema:
            $ref: '#/definitions/board_created'
        '201':
          description: Created
        '400':
          description: BoardNameRequired
        '401':
          description: Unauthorized
        '403':
          description: SecureTokenRequired
      summary: <b>***BETA***</b> Create a new board
      tags:
        - Boards
  '/v3/boards/{board_id}':
    delete:
      consumes: []
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: Specify the board to delete.
          in: path
          name: board_id
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: No response was specified
        '204':
          description: BoardDeleted
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: BoardNotFound
      summary: <b>***BETA***</b> Delete a board
      tags:
        - Boards
    get:
      consumes: []
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: Retrieve details for a specific board.
          in: path
          name: board_id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/board_detail'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: SecureTokenRequired
        '404':
          description: BoardNotFound
      summary: <b>***BETA***</b> Get assets and metadata for a specific board
      tags:
        - Boards
    put:
      consumes:
        - application/json
        - text/json
      parameters:
        - description: Specify a new name and description for the board (name is required).
          in: body
          name: board_info
          required: true
          schema:
            $ref: '#/definitions/board_info'
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: Specify the board to update.
          in: path
          name: board_id
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: No response was specified
        '204':
          description: Updated
        '400':
          description: BoardNameRequired
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: BoardNotFound
      summary: <b>***BETA***</b> Update a board
      tags:
        - Boards
  '/v3/boards/{board_id}/assets':
    delete:
      consumes: []
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: Specify the board to remove assets from.
          in: path
          name: board_id
          required: true
          type: string
        - description: List the assets to be removed from the board.
          in: query
          items:
            type: string
          name: asset_ids
          required: true
          type: array
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: No response was specified
          schema:
            type: string
        '204':
          description: AssetsRemovedFromBoard
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: BoardNotFound
      summary: <b>***BETA***</b> Remove assets from a board
      tags:
        - Boards
    put:
      consumes:
        - application/json
        - text/json
      parameters:
        - description: List assets to add to the board.
          in: body
          name: board_assets
          required: true
          schema:
            items:
              $ref: '#/definitions/BoardAsset'
            type: array
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: Specify the board to add assets to.
          in: path
          name: board_id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: No response was specified
          schema:
            $ref: '#/definitions/AddBoardAssetsResult'
        '201':
          description: Created
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: AssetNotFound
        '404':
          description: BoardNotFound
      summary: <b>***BETA***</b> Add assets to a board
      tags:
        - Boards
  '/v3/boards/{board_id}/assets/{asset_id}':
    delete:
      consumes: []
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: Specify the asset to remove from the board.
          in: path
          name: asset_id
          required: true
          type: string
        - description: Specify the board to remove an asset from.
          in: path
          name: board_id
          required: true
          type: string
      produces: []
      responses:
        '200':
          description: No response was specified
        '204':
          description: AssetRemovedFromBoard
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: AssetNotFound
      summary: <b>***BETA***</b> Remove an asset from a board
      tags:
        - Boards
    put:
      consumes: []
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Specify the asset to add to the board. If it is already in the board''s asset collection, no action is taken.'
          in: path
          name: asset_id
          required: true
          type: string
        - description: Specify the board to add an asset to.
          in: path
          name: board_id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: No response was specified
          schema:
            type: string
        '201':
          description: Created
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: BoardNotFound
      summary: <b>***BETA***</b> Add an asset to a board
      tags:
        - Boards
  '/v3/boards/{board_id}/comments':
    get:
      consumes: []
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: Specify the board to retrieve comments from.
          in: path
          name: board_id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/comment_list'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: SecureTokenRequired
        '404':
          description: BoardNotFound
      summary: <b>***BETA***</b> Get comments from a board
      tags:
        - Boards
    post:
      consumes:
        - application/json
        - text/json
      parameters:
        - description: Comment to be added to the board.
          in: body
          name: comment
          required: true
          schema:
            $ref: '#/definitions/comment_request'
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: Specify the board to add a comment to.
          in: path
          name: board_id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: No response was specified
          schema:
            $ref: '#/definitions/comment_created'
        '201':
          description: Created
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: BoardNotFound
      summary: <b>***BETA***</b> Add a comment to a board
      tags:
        - Boards
  '/v3/boards/{board_id}/comments/{comment_id}':
    delete:
      consumes: []
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: Specify the board containing the comment to delete.
          in: path
          name: board_id
          required: true
          type: string
        - description: Specify the comment to delete.
          in: path
          name: comment_id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: No response was specified
          schema:
            type: string
        '204':
          description: CommentDeleted
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: CommentNotFound
      summary: <b>***BETA***</b> Delete a comment from a board
      tags:
        - Boards
  /v3/collections:
    get:
      consumes: []
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Specifies the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/collections'
        '401':
          description: Unauthorized
      summary: Gets collections applicable for the customer.
      tags:
        - Collections
  /v3/countries:
    get:
      consumes: []
      parameters:
        - description: Specifies the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/countries'
        '401':
          description: Unauthorized
      summary: Gets countries codes and names.
      tags:
        - Countries
  /v3/downloads:
    get:
      consumes: []
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: 'If specified, returns the list of previously downloaded images for all users in your company. Your account must be enabled for this functionality. Contact your Getty Images account rep for more information. Default is false.'
          in: query
          name: company_downloads
          required: false
          type: boolean
        - description: "If specified, select assets downloaded on or after this date. Dates should be submitted in ISO\r\n                8601 format (i.e., YYYY-MM-DD hh:mm:ss.sss). If time is omitted, midnight is assumed. Date/times are UTC."
          format: date-time
          in: query
          name: date_from
          required: false
          type: string
        - description: "If specified, select assets downloaded on or before this date. Dates should be submitted in ISO\r\n                8601 format (i.e., YYYY-MM-DD hh:mm:ss.sss). If time is omitted, midnight is assumed. Date/times are UTC."
          format: date-time
          in: query
          name: date_to
          required: false
          type: string
        - description: Identifies page to return. Default is 1.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: 'Specifies page size. Default is 30, maximum page_size is 100.'
          format: int32
          in: query
          name: page_size
          required: false
          type: integer
        - description: Specifies product type to be included in the previous download results.
          enum:
            - easyaccess
            - editorialsubscription
            - imagepack
            - premiumaccess
            - royaltyfreesubscription
            - creditpack
          in: query
          name: product_type
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/downloads_response'
        '400':
          description: InvalidRequest
        '401':
          description: Unauthorized
        '403':
          description: InsufficientPermissions
      summary: Returns information about a customer's downloaded assets.
      tags:
        - Downloads
  '/v3/downloads/images/{id}':
    post:
      consumes:
        - application/json
        - text/json
      description: "The single step download call returns either a redirect or a response message with the URI to download the largest\r\n                image available.\r\n                Returns HTTP status code 303 Redirect to download URI or HTTP status code 200."
      parameters:
        - description: "Additional information required from specific customers when downloading. \r\n                    Only users who have been set up with a project code by Getty Images Sales need to use this field."
          in: body
          name: download_details
          required: true
          schema:
            $ref: '#/definitions/PremiumAccessDownloadData'
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Id of image to download.
          in: path
          name: id
          required: true
          type: string
        - description: "Specifies whether to auto-download the image. If true is specified, a 303 SeeOther status is returned with a\r\n                    Location header set to the location of the image.\r\n                    If false is specified, the download URI will be returned in the response message."
          in: query
          name: auto_download
          required: false
          type: boolean
        - description: File Type expressed with three character file extension.
          enum:
            - eps
            - jpg
          in: query
          name: file_type
          required: false
          type: string
        - description: "Specifies the pixel height of the particular image to download.\r\n                    Available heights can be found in the images/{ids} response for the specific image.\r\n                    If left blank, it will return the largest available size."
          in: query
          name: height
          required: false
          type: string
        - description: Identifier of the instance for the selected product offering type.
          format: int32
          in: query
          name: product_id
          required: false
          type: integer
        - description: Product type.
          enum:
            - easyaccess
            - editorialsubscription
            - imagepack
            - premiumaccess
            - royaltyfreesubscription
            - creditpack
          in: query
          name: product_type
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: string
        '303':
          description: See Other
        '400':
          description: ProductTypeNotSpecified
        '401':
          description: ProductIdNotAvailableForUser
        '404':
          description: FileDownloadSizeNotFound
      summary: Download an image
      tags:
        - Downloads
  '/v3/downloads/videos/{id}':
    post:
      consumes: []
      description: "The single step download call returns either a redirect or a response message with the URI to download the largest\r\n                video available.\r\n                Returns HTTP status code 303 Redirect to download URI or HTTP status code 200."
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Id of video to download.
          in: path
          name: id
          required: true
          type: string
        - description: "Specifies whether to auto-download the video. If true is specified, a 303 SeeOther status is returned with a\r\n                    Location header set to the location of the video.\r\n                    If false is specified, the download URI will be returned in the response message."
          in: query
          name: auto_download
          required: false
          type: boolean
        - description: Identifier of the instance for the selected product offering type.
          format: int32
          in: query
          name: product_id
          required: false
          type: integer
        - description: Specifies the size to be downloaded.
          in: query
          name: size
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: string
        '303':
          description: See Other
        '400':
          description: ProductIdNotSpecified
        '401':
          description: ProductIdNotAvailableForUser
        '404':
          description: FileDownloadSizeNotFound
      summary: Download a video
      tags:
        - Downloads
  '/v3/downloads/{id}':
    post:
      consumes:
        - application/json
        - text/json
      description: "The single step download call returns either a redirect or a response message with the URI to download the largest\r\n                image available.\r\n                Returns HTTP status code 303 Redirect to download URI or HTTP status code 200."
      parameters:
        - description: "Additional information required from specific customers when downloading. \r\n                    Only users who have been set up with a project code by Getty Images Sales need to use this field."
          in: body
          name: download_details
          required: true
          schema:
            $ref: '#/definitions/PremiumAccessDownloadData'
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Id of image to download.
          in: path
          name: id
          required: true
          type: string
        - description: "Specifies whether to auto-download the image. If true is specified, a 303 SeeOther status is returned with a\r\n                    Location header set to the location of the image.\r\n                    If false is specified, the download URI will be returned in the response message."
          in: query
          name: auto_download
          required: false
          type: boolean
        - description: File Type expressed with three character file extension.
          enum:
            - eps
            - jpg
          in: query
          name: file_type
          required: false
          type: string
        - description: "Specifies the pixel height of the particular image to download.\r\n                    Available heights can be found in the images/{ids} response for the specific image.\r\n                    If left blank, it will return the largest available size."
          in: query
          name: height
          required: false
          type: string
        - description: Identifier of the instance for the selected product offering type.
          format: int32
          in: query
          name: product_id
          required: false
          type: integer
        - description: Product type.
          enum:
            - easyaccess
            - editorialsubscription
            - imagepack
            - premiumaccess
            - royaltyfreesubscription
            - creditpack
          in: query
          name: product_type
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: string
        '303':
          description: See Other
        '400':
          description: ProductTypeNotSpecified
        '401':
          description: ProductIdNotAvailableForUser
        '404':
          description: FileDownloadSizeNotFound
      summary: Download an image
      tags:
        - Downloads
  /v3/events:
    get:
      consumes: []
      description: Returns an array of event metadata
      parameters:
        - description: Specifies the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
        - description: A comma separated list of fields to return in the response.
          enum:
            - id
            - child_event_count
            - editorial_segments
            - hero_image
            - image_count
            - location
            - name
            - start_date
            - type
          in: query
          items:
            enum:
              - id
              - child_event_count
              - editorial_segments
              - hero_image
              - image_count
              - location
              - name
              - start_date
              - type
            type: string
          name: fields
          required: false
          type: array
        - description: A comma separated list of event ids.
          in: query
          items:
            format: int32
            type: integer
          name: ids
          required: false
          type: array
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/events_result'
        '400':
          description: MalformedRequest
        '401':
          description: Unauthorized
        '404':
          description: EventNotFound
      summary: Get metadata for multiple events
      tags:
        - Events
  '/v3/events/{id}':
    get:
      consumes: []
      description: Returns an array of event metadata
      parameters:
        - description: Specifies the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
        - description: An event id.
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: A comma separated list of fields to return in the response.
          enum:
            - id
            - child_event_count
            - editorial_segments
            - hero_image
            - image_count
            - location
            - name
            - start_date
            - type
          in: query
          items:
            enum:
              - id
              - child_event_count
              - editorial_segments
              - hero_image
              - image_count
              - location
              - name
              - start_date
              - type
            type: string
          name: fields
          required: false
          type: array
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/event'
        '400':
          description: MalformedRequest
        '401':
          description: Unauthorized
        '404':
          description: EventNotFound
      summary: Get metadata for a single event
      tags:
        - Events
  /v3/images:
    get:
      consumes: []
      parameters:
        - description: Specifies the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
        - description: Specifies one or more image ids to return. Use comma delimiter when requesting multiple ids.
          in: query
          items:
            type: string
          name: ids
          required: true
          type: array
        - description: Specifies fields to return. Defaults to 'summary_set'.
          enum:
            - allowed_use
            - alternative_ids
            - artist
            - artist_title
            - asset_family
            - call_for_image
            - caption
            - city
            - collection_code
            - collection_id
            - collection_name
            - color_type
            - comp
            - copyright
            - country
            - credit_line
            - date_camera_shot
            - date_created
            - date_submitted
            - detail_set
            - display_set
            - download_sizes
            - downloads
            - editorial_segments
            - editorial_source
            - event_ids
            - graphical_style
            - id
            - keywords
            - largest_downloads
            - license_model
            - links
            - max_dimensions
            - orientation
            - people
            - prestige
            - preview
            - product_types
            - quality_rank
            - referral_destinations
            - state_province
            - summary_set
            - thumb
            - title
            - uri_oembed
          in: query
          items:
            enum:
              - allowed_use
              - alternative_ids
              - artist
              - artist_title
              - asset_family
              - call_for_image
              - caption
              - city
              - collection_code
              - collection_id
              - collection_name
              - color_type
              - comp
              - copyright
              - country
              - credit_line
              - date_camera_shot
              - date_created
              - date_submitted
              - detail_set
              - display_set
              - download_sizes
              - downloads
              - editorial_segments
              - editorial_source
              - event_ids
              - graphical_style
              - id
              - keywords
              - largest_downloads
              - license_model
              - links
              - max_dimensions
              - orientation
              - people
              - prestige
              - preview
              - product_types
              - quality_rank
              - referral_destinations
              - state_province
              - summary_set
              - thumb
              - title
              - uri_oembed
            type: string
          name: fields
          required: false
          type: array
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/images_detail'
        '400':
          description: ImageIdMustBeSpecified
        '401':
          description: Unauthorized
        '403':
          description: UnauthorizedDisplaySize
        '404':
          description: ImageNotFound
      summary: Get metadata for multiple images by supplying multiple image ids
      tags:
        - Images
  '/v3/images/{id}':
    get:
      consumes: []
      parameters:
        - description: Specifies the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
        - description: An image id. For more than one image please use the /v3/images endpoint.
          in: path
          name: id
          required: true
          type: string
        - description: Specifies fields to return. Defaults to 'summary_set'.
          enum:
            - allowed_use
            - alternative_ids
            - artist
            - artist_title
            - asset_family
            - call_for_image
            - caption
            - city
            - collection_code
            - collection_id
            - collection_name
            - color_type
            - comp
            - copyright
            - country
            - credit_line
            - date_camera_shot
            - date_created
            - date_submitted
            - detail_set
            - display_set
            - download_sizes
            - downloads
            - editorial_segments
            - editorial_source
            - event_ids
            - graphical_style
            - id
            - keywords
            - largest_downloads
            - license_model
            - links
            - max_dimensions
            - orientation
            - people
            - prestige
            - preview
            - product_types
            - quality_rank
            - referral_destinations
            - state_province
            - summary_set
            - thumb
            - title
            - uri_oembed
          in: query
          items:
            enum:
              - allowed_use
              - alternative_ids
              - artist
              - artist_title
              - asset_family
              - call_for_image
              - caption
              - city
              - collection_code
              - collection_id
              - collection_name
              - color_type
              - comp
              - copyright
              - country
              - credit_line
              - date_camera_shot
              - date_created
              - date_submitted
              - detail_set
              - display_set
              - download_sizes
              - downloads
              - editorial_segments
              - editorial_source
              - event_ids
              - graphical_style
              - id
              - keywords
              - largest_downloads
              - license_model
              - links
              - max_dimensions
              - orientation
              - people
              - prestige
              - preview
              - product_types
              - quality_rank
              - referral_destinations
              - state_province
              - summary_set
              - thumb
              - title
              - uri_oembed
            type: string
          name: fields
          required: false
          type: array
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/images_detail'
        '400':
          description: ImageIdMustBeSpecified
        '401':
          description: Unauthorized
        '403':
          description: UnauthorizedDisplaySize
        '404':
          description: ImageNotFound
      summary: Get metadata for a single image by supplying one image id
      tags:
        - Images
  '/v3/images/{id}/similar':
    get:
      consumes: []
      parameters:
        - description: Specifies the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
        - description: Identifies an existing image
          in: path
          name: id
          required: true
          type: string
        - description: Specifies fields to return. Defaults to 'summary_set'.
          enum:
            - accessrestriction
            - allowed_use
            - alternative_ids
            - artist
            - asset_family
            - call_for_image
            - caption
            - collection_code
            - collection_id
            - collection_name
            - color_type
            - comp
            - copyright
            - date_camera_shot
            - date_created
            - detail_set
            - display_set
            - editorial_segments
            - editorial_source
            - event_ids
            - graphical_style
            - id
            - keywords
            - largest_downloads
            - license_model
            - max_dimensions
            - orientation
            - people
            - prestige
            - preview
            - product_types
            - quality_rank
            - referral_destinations
            - summary_set
            - thumb
            - title
            - uri_oembed
          in: query
          items:
            enum:
              - accessrestriction
              - allowed_use
              - alternative_ids
              - artist
              - asset_family
              - call_for_image
              - caption
              - collection_code
              - collection_id
              - collection_name
              - color_type
              - comp
              - copyright
              - date_camera_shot
              - date_created
              - detail_set
              - display_set
              - editorial_segments
              - editorial_source
              - event_ids
              - graphical_style
              - id
              - keywords
              - largest_downloads
              - license_model
              - max_dimensions
              - orientation
              - people
              - prestige
              - preview
              - product_types
              - quality_rank
              - referral_destinations
              - summary_set
              - thumb
              - title
              - uri_oembed
            type: string
          name: fields
          required: false
          type: array
        - description: Identifies page to return. Default is 1.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: 'Specifies page size. Default is 30, maximum page_size is 100.'
          format: int32
          in: query
          name: page_size
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: string
        '400':
          description: ImageIdMustBeSpecified
        '401':
          description: Unauthorized
        '403':
          description: UnauthorizedDisplaySize
        '404':
          description: ImageNotFound
      summary: Search for images similar to an image
      tags:
        - Images
  /v3/products:
    get:
      consumes: []
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Specifies the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: Comma separated list of fields. Allows product download requirements to be returned.
          enum:
            - download_requirements
          in: query
          items:
            enum:
              - download_requirements
            type: string
          name: fields
          required: false
          type: array
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProductsResult'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
      summary: Get Products
      tags:
        - Products
  /v3/purchased-assets:
    get:
      consumes: []
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: 'If specified, retrieves previous purchases on or after this date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).'
          format: date-time
          in: query
          name: date_from
          required: false
          type: string
        - description: 'If specified, retrieves previous purchases on or before this date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).'
          format: date-time
          in: query
          name: date_to
          required: false
          type: string
        - description: Identifies page to return. Default is 1.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: 'Specifies page size. Default is 75, maximum page_size is 100.'
          format: int32
          in: query
          name: page_size
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PreviousAssetPurchases'
        '400':
          description: PageNumberGreaterThanMaxPages
        '401':
          description: Unauthorized
      summary: Get Previously Purchased Images and Video
      tags:
        - Purchases
  /v3/purchased-images:
    get:
      consumes: []
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: 'If specified, retrieves previous purchases on or after this date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).'
          format: date-time
          in: query
          name: date_from
          required: false
          type: string
        - description: 'If specified, retrieves previous purchases on or before this date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).'
          format: date-time
          in: query
          name: date_to
          required: false
          type: string
        - description: Identifies page to return. Default is 1.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: 'Specifies page size. Default is 75, maximum page_size is 100.'
          format: int32
          in: query
          name: page_size
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PreviousPurchases'
        '400':
          description: PageNumberGreaterThanMaxPages
        '401':
          description: Unauthorized
      summary: Get Previously Purchased Images
      tags:
        - Purchases
  /v3/search/events:
    get:
      consumes: []
      parameters:
        - description: Specifies the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
        - description: Filters to events with a matching editorial segment.
          enum:
            - archival
            - entertainment
            - news
            - publicity
            - royalty
            - sport
          in: query
          name: editorial_segment
          required: true
          type: string
        - description: 'Filters to events that start on or after this date. Use ISO 8601 format (e.g., 1999-12-31).'
          format: date-time
          in: query
          name: date_from
          required: false
          type: string
        - description: 'Filters to events that start on or before this date. Use ISO 8601 format (e.g., 1999-12-31).'
          format: date-time
          in: query
          name: date_to
          required: false
          type: string
        - description: 'Specifies fields to return. Default set is ''id'',''name'',''start_date''.'
          enum:
            - id
            - child_event_count
            - editorial_segments
            - hero_image
            - image_count
            - location
            - name
            - start_date
            - type
          in: query
          items:
            enum:
              - id
              - child_event_count
              - editorial_segments
              - hero_image
              - image_count
              - location
              - name
              - start_date
              - type
            type: string
          name: fields
          required: false
          type: array
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/events_result'
        '400':
          description: MalformedRequest
        '401':
          description: Unauthorized
        '403':
          description: NoAccessToProductType
      summary: Search for events
      tags:
        - Search
  /v3/search/images:
    get:
      consumes: []
      parameters:
        - description: Specifies the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
        - description: Filter based on the age of individuals in an image.
          enum:
            - newborn
            - baby
            - child
            - teenager
            - young_adult
            - adult
            - adults_only
            - mature_adult
            - senior_adult
            - 0-1_months
            - 2-5_months
            - 6-11_months
            - 12-17_months
            - 18-23_months
            - 2-3_years
            - 4-5_years
            - 6-7_years
            - 8-9_years
            - 10-11_years
            - 12-13_years
            - 14-15_years
            - 16-17_years
            - 18-19_years
            - 20-24_years
            - 20-29_years
            - 25-29_years
            - 30-34_years
            - 30-39_years
            - 35-39_years
            - 40-44_years
            - 40-49_years
            - 45-49_years
            - 50-54_years
            - 50-59_years
            - 55-59_years
            - 60-64_years
            - 60-69_years
            - 65-69_years
            - 70-79_years
            - 80-89_years
            - 90_plus_years
            - 100_over
          in: query
          items:
            enum:
              - newborn
              - baby
              - child
              - teenager
              - young_adult
              - adult
              - adults_only
              - mature_adult
              - senior_adult
              - months_0_1
              - months_2_5
              - months_6_11
              - months_12_17
              - months_18_23
              - years_2_3
              - years_4_5
              - years_6_7
              - years_8_9
              - years_10_11
              - years_12_13
              - years_14_15
              - years_16_17
              - years_18_19
              - years_20_24
              - years_20_29
              - years_25_29
              - years_30_34
              - years_30_39
              - years_35_39
              - years_40_44
              - years_40_49
              - years_45_49
              - years_50_54
              - years_50_59
              - years_55_59
              - years_60_64
              - years_60_69
              - years_65_69
              - years_70_79
              - years_80_89
              - over_90
              - over_100
            type: string
          name: age_of_people
          required: false
          type: array
        - description: 'Search for images by specific artists (free-text, comma-separated list of artists).'
          in: query
          name: artists
          required: false
          type: string
        - description: Filter by collection codes (comma-separated list). Include or exclude based on collections_filter_type.
          in: query
          items:
            type: string
          name: collection_codes
          required: false
          type: array
        - description: Provides searching based on specified collection(s).
          enum:
            - include
            - exclude
          in: query
          name: collections_filter_type
          required: false
          type: string
        - description: 'Filter based on predominant color in an image. Use 6 character hexidecimal format (e.g., #002244).'
          in: query
          name: color
          required: false
          type: string
        - description: Filter based on image composition.
          enum:
            - abstract
            - candid
            - close_up
            - copy_space
            - cut_out
            - full_frame
            - full_length
            - headshot
            - looking_at_camera
            - macro
            - portrait
            - sparse
            - still_life
            - three_quarter_length
            - waist_up
          in: query
          items:
            enum:
              - abstract
              - candid
              - close_up
              - copy_space
              - cut_out
              - full_frame
              - full_length
              - headshot
              - looking_at_camera
              - macro
              - portrait
              - sparse
              - still_life
              - three_quarter_length
              - waist_up
            type: string
          name: compositions
          required: false
          type: array
        - description: Restrict search results to embeddable images. The default is false.
          in: query
          name: embed_content_only
          required: false
          type: boolean
        - description: Filter search results based on the ethnicity of individuals in an image.
          enum:
            - black
            - caucasian
            - east_asian
            - hispanic_latino
            - japanese
            - middle_eastern
            - mixed_race_person
            - multiethnic_group
            - native_american_first_nations
            - pacific_islander
            - south_asian
            - southeast_asian
          in: query
          items:
            enum:
              - black
              - caucasian
              - east_asian
              - hispanic_latino
              - japanese
              - middle_eastern
              - mixed_race_person
              - multiethnic_group
              - native_american_first_nations
              - pacific_islander
              - south_asian
              - southeast_asian
            type: string
          name: ethnicity
          required: false
          type: array
        - description: Filter based on specific events
          in: query
          items:
            format: int32
            type: integer
          name: event_ids
          required: false
          type: array
        - description: Excludes images containing nudity. The default is false.
          in: query
          name: exclude_nudity
          required: false
          type: boolean
        - description: Specifies fields to return. Defaults to 'summary_set'.
          enum:
            - accessrestriction
            - allowed_use
            - alternative_ids
            - artist
            - asset_family
            - call_for_image
            - caption
            - collection_code
            - collection_id
            - collection_name
            - color_type
            - comp
            - copyright
            - date_camera_shot
            - date_created
            - detail_set
            - display_set
            - editorial_segments
            - editorial_source
            - event_ids
            - graphical_style
            - id
            - keywords
            - largest_downloads
            - license_model
            - max_dimensions
            - orientation
            - people
            - prestige
            - preview
            - product_types
            - quality_rank
            - referral_destinations
            - summary_set
            - thumb
            - title
            - uri_oembed
          in: query
          items:
            enum:
              - accessrestriction
              - allowed_use
              - alternative_ids
              - artist
              - asset_family
              - call_for_image
              - caption
              - collection_code
              - collection_id
              - collection_name
              - color_type
              - comp
              - copyright
              - date_camera_shot
              - date_created
              - detail_set
              - display_set
              - editorial_segments
              - editorial_source
              - event_ids
              - graphical_style
              - id
              - keywords
              - largest_downloads
              - license_model
              - max_dimensions
              - orientation
              - people
              - prestige
              - preview
              - product_types
              - quality_rank
              - referral_destinations
              - summary_set
              - thumb
              - title
              - uri_oembed
            type: string
          name: fields
          required: false
          type: array
        - description: Return only images having a specific file type.
          enum:
            - eps
            - jpg
          in: query
          items:
            enum:
              - eps
              - jpg
            type: string
          name: file_types
          required: false
          type: array
        - description: Filter based on graphical style of the image.
          enum:
            - fine_art
            - illustration
            - photography
          in: query
          items:
            enum:
              - fine_art
              - illustration
              - photography
            type: string
          name: graphical_styles
          required: false
          type: array
        - description: 'Return only images tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also contain the requested keyword(s) are returned.'
          in: query
          items:
            format: int32
            type: integer
          name: keyword_ids
          required: false
          type: array
        - description: Specifies the image licensing model(s).
          enum:
            - rightsmanaged
            - royaltyfree
          in: query
          items:
            enum:
              - rights_managed
              - royalty_free
            type: string
          name: license_models
          required: false
          type: array
        - description: Filter based on minimum size requested.
          enum:
            - x_small
            - small
            - medium
            - large
            - x_large
            - xx_large
          in: query
          name: minimum_size
          required: false
          type: string
        - description: Filter based on the number of people in the image.
          enum:
            - none
            - one
            - two
            - group
          in: query
          items:
            enum:
              - none
              - one
              - two
              - group
            type: string
          name: number_of_people
          required: false
          type: array
        - description: Return only images with selected aspect ratios.
          enum:
            - Horizontal
            - Vertical
            - Square
            - PanoramicHorizontal
            - PanoramicVertical
          in: query
          items:
            enum:
              - horizontal
              - vertical
              - square
              - panoramic_horizontal
              - panoramic_vertical
            type: string
          name: orientations
          required: false
          type: array
        - description: Request results starting at a page number (default is 1).
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Request number of images to return in each page.
          format: int32
          in: query
          name: page_size
          required: false
          type: integer
        - description: Search images using a search phrase.
          in: query
          name: phrase
          required: false
          type: string
        - description: Restrict search results to prestige images. The default is false.
          in: query
          name: prestige_content_only
          required: false
          type: boolean
        - description: Filter images to those having product types from the selected list.
          enum:
            - easyaccess
            - editorialsubscription
            - imagepack
            - premiumaccess
            - royaltyfreesubscription
            - creditpack
          in: query
          items:
            enum:
              - easy_access
              - editorial_subscription
              - image_pack
              - premium_access
              - royalty_free_subscription
              - credit_pack
            type: string
          name: product_types
          required: false
          type: array
        - description: Select sort order of results.
          enum:
            - best_match
            - most_popular
            - newest
          in: query
          name: sort_order
          required: false
          type: string
        - description: Return only images associated with specific people (using a comma-delimited list).
          in: query
          items:
            type: string
          name: specific_people
          required: false
          type: array
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/image_search_results'
        '400':
          description: InvalidColor
        '401':
          description: Unauthorized
        '403':
          description: NoAccessToProductType
      summary: Search for both creative and editorial images
      tags:
        - Search
  /v3/search/images/creative:
    get:
      consumes: []
      parameters:
        - description: Specifies the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
        - description: Filter based on the age of individuals in an image.
          enum:
            - newborn
            - baby
            - child
            - teenager
            - young_adult
            - adult
            - adults_only
            - mature_adult
            - senior_adult
            - 0-1_months
            - 2-5_months
            - 6-11_months
            - 12-17_months
            - 18-23_months
            - 2-3_years
            - 4-5_years
            - 6-7_years
            - 8-9_years
            - 10-11_years
            - 12-13_years
            - 14-15_years
            - 16-17_years
            - 18-19_years
            - 20-24_years
            - 20-29_years
            - 25-29_years
            - 30-34_years
            - 30-39_years
            - 35-39_years
            - 40-44_years
            - 40-49_years
            - 45-49_years
            - 50-54_years
            - 50-59_years
            - 55-59_years
            - 60-64_years
            - 60-69_years
            - 65-69_years
            - 70-79_years
            - 80-89_years
            - 90_plus_years
            - 100_over
          in: query
          items:
            enum:
              - newborn
              - baby
              - child
              - teenager
              - young_adult
              - adult
              - adults_only
              - mature_adult
              - senior_adult
              - months_0_1
              - months_2_5
              - months_6_11
              - months_12_17
              - months_18_23
              - years_2_3
              - years_4_5
              - years_6_7
              - years_8_9
              - years_10_11
              - years_12_13
              - years_14_15
              - years_16_17
              - years_18_19
              - years_20_24
              - years_20_29
              - years_25_29
              - years_30_34
              - years_30_39
              - years_35_39
              - years_40_44
              - years_40_49
              - years_45_49
              - years_50_54
              - years_50_59
              - years_55_59
              - years_60_64
              - years_60_69
              - years_65_69
              - years_70_79
              - years_80_89
              - over_90
              - over_100
            type: string
          name: age_of_people
          required: false
          type: array
        - description: 'Search for images by specific artists (free-text, comma-separated list of artists).'
          in: query
          name: artists
          required: false
          type: string
        - description: Filter by collection codes (comma-separated list). Include or exclude based on collections_filter_type.
          in: query
          items:
            type: string
          name: collection_codes
          required: false
          type: array
        - description: Use to include or exclude collections from search.
          enum:
            - include
            - exclude
          in: query
          name: collections_filter_type
          required: false
          type: string
        - description: 'Filter based on predominant color in an image. Use 6 character hexidecimal format (e.g., #002244).'
          in: query
          name: color
          required: false
          type: string
        - description: Filter based on image composition.
          enum:
            - abstract
            - candid
            - close_up
            - copy_space
            - cut_out
            - full_frame
            - full_length
            - headshot
            - looking_at_camera
            - macro
            - portrait
            - sparse
            - still_life
            - three_quarter_length
            - waist_up
          in: query
          items:
            enum:
              - abstract
              - candid
              - close_up
              - copy_space
              - cut_out
              - full_frame
              - full_length
              - headshot
              - looking_at_camera
              - macro
              - portrait
              - sparse
              - still_life
              - three_quarter_length
              - waist_up
            type: string
          name: compositions
          required: false
          type: array
        - description: Restrict search results to embeddable images. The default is false.
          in: query
          name: embed_content_only
          required: false
          type: boolean
        - description: Filter search results based on the ethnicity of individuals in an image.
          enum:
            - black
            - caucasian
            - east_asian
            - hispanic_latino
            - japanese
            - middle_eastern
            - mixed_race_person
            - multiethnic_group
            - native_american_first_nations
            - pacific_islander
            - south_asian
            - southeast_asian
          in: query
          items:
            enum:
              - black
              - caucasian
              - east_asian
              - hispanic_latino
              - japanese
              - middle_eastern
              - mixed_race_person
              - multiethnic_group
              - native_american_first_nations
              - pacific_islander
              - south_asian
              - southeast_asian
            type: string
          name: ethnicity
          required: false
          type: array
        - description: Excludes images containing nudity. The default is false.
          in: query
          name: exclude_nudity
          required: false
          type: boolean
        - description: Specifies fields to return. Defaults to 'summary_set'.
          enum:
            - allowed_use
            - alternative_ids
            - artist
            - asset_family
            - call_for_image
            - caption
            - collection_code
            - collection_id
            - collection_name
            - color_type
            - comp
            - copyright
            - date_camera_shot
            - date_created
            - detail_set
            - display_set
            - graphical_style
            - id
            - keywords
            - largest_downloads
            - license_model
            - max_dimensions
            - orientation
            - prestige
            - preview
            - product_types
            - quality_rank
            - referral_destinations
            - summary_set
            - thumb
            - title
            - uri_oembed
          in: query
          items:
            enum:
              - allowed_use
              - alternative_ids
              - artist
              - asset_family
              - call_for_image
              - caption
              - collection_code
              - collection_id
              - collection_name
              - color_type
              - comp
              - copyright
              - date_camera_shot
              - date_created
              - detail_set
              - display_set
              - graphical_style
              - id
              - keywords
              - largest_downloads
              - license_model
              - max_dimensions
              - orientation
              - prestige
              - preview
              - product_types
              - quality_rank
              - referral_destinations
              - summary_set
              - thumb
              - title
              - uri_oembed
            type: string
          name: fields
          required: false
          type: array
        - description: Return only images having a specific file type.
          enum:
            - eps
            - jpg
          in: query
          items:
            enum:
              - eps
              - jpg
            type: string
          name: file_types
          required: false
          type: array
        - description: Filter based on graphical style of the image.
          enum:
            - fine_art
            - illustration
            - photography
          in: query
          items:
            enum:
              - fine_art
              - illustration
              - photography
            type: string
          name: graphical_styles
          required: false
          type: array
        - description: 'Return only images tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also contain the requested keyword(s) are returned.'
          in: query
          items:
            format: int32
            type: integer
          name: keyword_ids
          required: false
          type: array
        - description: Specifies the image licensing model(s).
          enum:
            - rightsmanaged
            - royaltyfree
          in: query
          items:
            enum:
              - rights_managed
              - royalty_free
            type: string
          name: license_models
          required: false
          type: array
        - description: Filter based on minimum size requested.
          enum:
            - x_small
            - small
            - medium
            - large
            - x_large
            - xx_large
          in: query
          name: minimum_size
          required: false
          type: string
        - description: Filter based on the number of people in the image.
          enum:
            - none
            - one
            - two
            - group
          in: query
          items:
            enum:
              - none
              - one
              - two
              - group
            type: string
          name: number_of_people
          required: false
          type: array
        - description: Return only images with selected aspect ratios.
          enum:
            - Horizontal
            - Vertical
            - Square
            - PanoramicHorizontal
            - PanoramicVertical
          in: query
          items:
            enum:
              - horizontal
              - vertical
              - square
              - panoramic_horizontal
              - panoramic_vertical
            type: string
          name: orientations
          required: false
          type: array
        - description: Request results starting at a page number (default is 1).
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Request number of images to return in each page.
          format: int32
          in: query
          name: page_size
          required: false
          type: integer
        - description: Search images using a search phrase.
          in: query
          name: phrase
          required: false
          type: string
        - description: Restrict search results to prestige images. The default is false.
          in: query
          name: prestige_content_only
          required: false
          type: boolean
        - description: Filter images to those having product types from the selected list.
          enum:
            - easyaccess
            - editorialsubscription
            - imagepack
            - premiumaccess
            - royaltyfreesubscription
            - creditpack
          in: query
          items:
            enum:
              - easy_access
              - editorial_subscription
              - image_pack
              - premium_access
              - royalty_free_subscription
              - credit_pack
            type: string
          name: product_types
          required: false
          type: array
        - description: Select sort order of results.
          enum:
            - best_match
            - most_popular
            - newest
          in: query
          name: sort_order
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/creative_image_search_results'
        '400':
          description: InvalidColor
        '401':
          description: Unauthorized
        '403':
          description: NoAccessToProductType
      summary: Search for creative images only
      tags:
        - Search
  /v3/search/images/editorial:
    get:
      consumes: []
      parameters:
        - description: Specifies the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
        - description: Filter based on the age of individuals in an image.
          enum:
            - newborn
            - baby
            - child
            - teenager
            - young_adult
            - adult
            - adults_only
            - mature_adult
            - senior_adult
            - 0-1_months
            - 2-5_months
            - 6-11_months
            - 12-17_months
            - 18-23_months
            - 2-3_years
            - 4-5_years
            - 6-7_years
            - 8-9_years
            - 10-11_years
            - 12-13_years
            - 14-15_years
            - 16-17_years
            - 18-19_years
            - 20-24_years
            - 20-29_years
            - 25-29_years
            - 30-34_years
            - 30-39_years
            - 35-39_years
            - 40-44_years
            - 40-49_years
            - 45-49_years
            - 50-54_years
            - 50-59_years
            - 55-59_years
            - 60-64_years
            - 60-69_years
            - 65-69_years
            - 70-79_years
            - 80-89_years
            - 90_plus_years
            - 100_over
          in: query
          items:
            enum:
              - newborn
              - baby
              - child
              - teenager
              - young_adult
              - adult
              - adults_only
              - mature_adult
              - senior_adult
              - months_0_1
              - months_2_5
              - months_6_11
              - months_12_17
              - months_18_23
              - years_2_3
              - years_4_5
              - years_6_7
              - years_8_9
              - years_10_11
              - years_12_13
              - years_14_15
              - years_16_17
              - years_18_19
              - years_20_24
              - years_20_29
              - years_25_29
              - years_30_34
              - years_30_39
              - years_35_39
              - years_40_44
              - years_40_49
              - years_45_49
              - years_50_54
              - years_50_59
              - years_55_59
              - years_60_64
              - years_60_69
              - years_65_69
              - years_70_79
              - years_80_89
              - over_90
              - over_100
            type: string
          name: age_of_people
          required: false
          type: array
        - description: 'Search for images by specific artists (free-text, comma-separated list of artists).'
          in: query
          name: artists
          required: false
          type: string
        - description: Filter by collections (comma-separated list of collection codes). Include or exclude based on collections_filter_type.
          in: query
          items:
            type: string
          name: collection_codes
          required: false
          type: array
        - description: Use to include or exclude collections from search.
          enum:
            - include
            - exclude
          in: query
          name: collections_filter_type
          required: false
          type: string
        - description: 'Filter based on predominant color in an image. Use 6 character hexidecimal format (e.g., #002244).'
          in: query
          name: color
          required: false
          type: string
        - description: Filter based on image composition.
          enum:
            - abstract
            - candid
            - close_up
            - copy_space
            - cut_out
            - full_frame
            - full_length
            - headshot
            - looking_at_camera
            - macro
            - portrait
            - sparse
            - still_life
            - three_quarter_length
            - waist_up
          in: query
          items:
            enum:
              - abstract
              - candid
              - close_up
              - copy_space
              - cut_out
              - full_frame
              - full_length
              - headshot
              - looking_at_camera
              - macro
              - portrait
              - sparse
              - still_life
              - three_quarter_length
              - waist_up
            type: string
          name: compositions
          required: false
          type: array
        - description: 'Return only images that are created on or after this date. Use ISO 8601 format (e.g., 1999-12-31).'
          format: date-time
          in: query
          name: date_from
          required: false
          type: string
        - description: 'Return only images that are created on or before this date. Use ISO 8601 format (e.g., 1999-12-31).'
          format: date-time
          in: query
          name: date_to
          required: false
          type: string
        - description: Return only events with a matching editorial segment.
          enum:
            - archival
            - entertainment
            - news
            - publicity
            - royalty
            - sport
          in: query
          items:
            enum:
              - archival
              - entertainment
              - news
              - publicity
              - royalty
              - sport
            type: string
          name: editorial_segments
          required: false
          type: array
        - description: Restrict search results to embeddable images. The default is false.
          in: query
          name: embed_content_only
          required: false
          type: boolean
        - description: specify linked data entity uri.
          in: query
          items:
            type: string
          name: entity_uris
          required: false
          type: array
        - description: Filter search results based on the ethnicity of individuals in an image.
          enum:
            - black
            - caucasian
            - east_asian
            - hispanic_latino
            - japanese
            - middle_eastern
            - mixed_race_person
            - multiethnic_group
            - native_american_first_nations
            - pacific_islander
            - south_asian
            - southeast_asian
          in: query
          items:
            enum:
              - black
              - caucasian
              - east_asian
              - hispanic_latino
              - japanese
              - middle_eastern
              - mixed_race_person
              - multiethnic_group
              - native_american_first_nations
              - pacific_islander
              - south_asian
              - southeast_asian
            type: string
          name: ethnicity
          required: false
          type: array
        - description: Filter based on specific events
          in: query
          items:
            format: int32
            type: integer
          name: event_ids
          required: false
          type: array
        - description: Excludes images containing nudity. The default is false.
          in: query
          name: exclude_nudity
          required: false
          type: boolean
        - description: Specifies fields to return. Defaults to 'summary_set'.
          enum:
            - allowed_use
            - alternative_ids
            - artist
            - asset_family
            - call_for_image
            - caption
            - collection_code
            - collection_id
            - collection_name
            - color_type
            - comp
            - copyright
            - date_camera_shot
            - date_created
            - detail_set
            - display_set
            - editorial_segments
            - editorial_source
            - event_ids
            - graphical_style
            - id
            - keywords
            - largest_downloads
            - license_model
            - max_dimensions
            - orientation
            - people
            - preview
            - product_types
            - quality_rank
            - referral_destinations
            - summary_set
            - thumb
            - title
            - uri_oembed
          in: query
          items:
            enum:
              - allowed_use
              - alternative_ids
              - artist
              - asset_family
              - call_for_image
              - caption
              - collection_code
              - collection_id
              - collection_name
              - color_type
              - comp
              - copyright
              - date_camera_shot
              - date_created
              - detail_set
              - display_set
              - editorial_segments
              - editorial_source
              - event_ids
              - graphical_style
              - id
              - keywords
              - largest_downloads
              - license_model
              - max_dimensions
              - orientation
              - people
              - preview
              - product_types
              - quality_rank
              - referral_destinations
              - summary_set
              - thumb
              - title
              - uri_oembed
            type: string
          name: fields
          required: false
          type: array
        - description: Return only images having a specific file type.
          enum:
            - eps
            - jpg
          in: query
          items:
            enum:
              - eps
              - jpg
            type: string
          name: file_types
          required: false
          type: array
        - description: Filter based on graphical style of the image.
          enum:
            - photography
            - illustration
          in: query
          items:
            enum:
              - photography
              - illustration
            type: string
          name: graphical_styles
          required: false
          type: array
        - description: 'Return only images tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also contain the requested keyword(s) are returned.'
          in: query
          items:
            format: int32
            type: integer
          name: keyword_ids
          required: false
          type: array
        - description: Filter based on minimum size requested.
          enum:
            - x_small
            - small
            - medium
            - large
            - x_large
            - xx_large
          in: query
          name: minimum_size
          required: false
          type: string
        - description: Filter based on the number of people in the image.
          enum:
            - none
            - one
            - two
            - group
          in: query
          items:
            enum:
              - none
              - one
              - two
              - group
            type: string
          name: number_of_people
          required: false
          type: array
        - description: Return only images with selected aspect ratios.
          enum:
            - Horizontal
            - Vertical
            - Square
            - PanoramicHorizontal
            - PanoramicVertical
          in: query
          items:
            enum:
              - horizontal
              - vertical
              - square
              - panoramic_horizontal
              - panoramic_vertical
            type: string
          name: orientations
          required: false
          type: array
        - description: Request results starting at a page number (default is 1).
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Request number of images to return in each page.
          format: int32
          in: query
          name: page_size
          required: false
          type: integer
        - description: Search images using a search phrase.
          in: query
          name: phrase
          required: false
          type: string
        - description: Filter images to those having product types from the selected list.
          enum:
            - easyaccess
            - editorialsubscription
            - imagepack
            - premiumaccess
            - royaltyfreesubscription
            - creditpack
          in: query
          items:
            enum:
              - easy_access
              - editorial_subscription
              - image_pack
              - premium_access
              - royalty_free_subscription
              - credit_pack
            type: string
          name: product_types
          required: false
          type: array
        - description: Select sort order of results.
          enum:
            - best_match
            - most_popular
            - newest
            - oldest
          in: query
          name: sort_order
          required: false
          type: string
        - description: Return only images associated with specific people (using a comma-delimited list).
          in: query
          items:
            type: string
          name: specific_people
          required: false
          type: array
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/editorial_image_search_results'
        '400':
          description: InvalidColor
        '401':
          description: Unauthorized
        '403':
          description: NoAccessToProductType
      summary: Search for editorial images only
      tags:
        - Search
  /v3/search/videos:
    get:
      consumes: []
      parameters:
        - description: Specifies the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
        - description: Provides filtering according to the age of individuals in a video.
          enum:
            - newborn
            - baby
            - child
            - teenager
            - young_adult
            - adult
            - adults_only
            - mature_adult
            - senior_adult
            - 0-1_months
            - 2-5_months
            - 6-11_months
            - 12-17_months
            - 18-23_months
            - 2-3_years
            - 4-5_years
            - 6-7_years
            - 8-9_years
            - 10-11_years
            - 12-13_years
            - 14-15_years
            - 16-17_years
            - 18-19_years
            - 20-24_years
            - 20-29_years
            - 25-29_years
            - 30-34_years
            - 30-39_years
            - 35-39_years
            - 40-44_years
            - 40-49_years
            - 45-49_years
            - 50-54_years
            - 50-59_years
            - 55-59_years
            - 60-64_years
            - 60-69_years
            - 65-69_years
            - 70-79_years
            - 80-89_years
            - 90_plus_years
            - 100_over
          in: query
          items:
            enum:
              - newborn
              - baby
              - child
              - teenager
              - young_adult
              - adult
              - adults_only
              - mature_adult
              - senior_adult
              - months_0_1
              - months_2_5
              - months_6_11
              - months_12_17
              - months_18_23
              - years_2_3
              - years_4_5
              - years_6_7
              - years_8_9
              - years_10_11
              - years_12_13
              - years_14_15
              - years_16_17
              - years_18_19
              - years_20_24
              - years_20_29
              - years_25_29
              - years_30_34
              - years_30_39
              - years_35_39
              - years_40_44
              - years_40_49
              - years_45_49
              - years_50_54
              - years_50_59
              - years_55_59
              - years_60_64
              - years_60_69
              - years_65_69
              - years_70_79
              - years_80_89
              - over_90
              - over_100
            type: string
          name: age_of_people
          required: false
          type: array
        - description: Provides filtering by collection code.
          in: query
          items:
            type: string
          name: collection_codes
          required: false
          type: array
        - description: Provides searching based on specified collection(s).
          enum:
            - include
            - exclude
          in: query
          name: collections_filter_type
          required: false
          type: string
        - description: Excludes images containing nudity. The default is false.
          in: query
          name: exclude_nudity
          required: false
          type: boolean
        - description: Specifies fields to return. Defaults to 'summary_set'.
          enum:
            - allowed_use
            - artist
            - asset_family
            - caption
            - clip_length
            - collection_code
            - collection_id
            - collection_name
            - color_type
            - comp
            - copyright
            - date_created
            - detail_set
            - display_set
            - editorial_segments
[...]
