openapi: 3.0.0
servers:
  - url: https://videointelligence.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Detects objects, explicit content, and scene changes in videos. It also specifies the region for annotation and transcribes speech to text. Supports both asynchronous API and streaming API.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Video Intelligence API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://videointelligence.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: videointelligence
externalDocs:
  url: https://cloud.google.com/video-intelligence/docs/
tags:
  - name: operations
  - name: projects
  - name: videos
paths:
  "/v1/operations/{name}":
    delete:
      description: Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.
      operationId: videointelligence.operations.projects.locations.operations.delete
      parameters:
        - description: The name of the operation resource to be deleted.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleProtobuf_Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - operations
    get:
      description: Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.
      operationId: videointelligence.operations.projects.locations.operations.get
      parameters:
        - description: The name of the operation resource.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunning_Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - operations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/operations/{name}:cancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.
      operationId: videointelligence.operations.projects.locations.operations.cancel
      parameters:
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleProtobuf_Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - operations
  /v1/videos:annotate:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Performs asynchronous video annotation. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `AnnotateVideoProgress` (progress). `Operation.response` contains `AnnotateVideoResponse` (results).
      operationId: videointelligence.videos.annotate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_AnnotateVideoRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunning_Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - videos
  "/v1/{name}":
    delete:
      description: Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.
      operationId: videointelligence.projects.locations.operations.delete
      parameters:
        - description: The name of the operation resource to be deleted.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleProtobuf_Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.
      operationId: videointelligence.projects.locations.operations.get
      parameters:
        - description: The name of the operation resource.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunning_Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}/operations":
    get:
      description: Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: videointelligence.projects.locations.operations.list
      parameters:
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunning_ListOperationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}:cancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.
      operationId: videointelligence.projects.locations.operations.cancel
      parameters:
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleLongrunning_CancelOperationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleProtobuf_Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    GoogleCloudVideointelligenceV1_AnnotateVideoProgress:
      description: Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.
      properties:
        annotationProgress:
          description: Progress metadata for all videos specified in `AnnotateVideoRequest`.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_VideoAnnotationProgress"
          type: array
      type: object
    GoogleCloudVideointelligenceV1_AnnotateVideoRequest:
      description: Video annotation request.
      properties:
        features:
          description: Required. Requested video annotation features.
          items:
            enum:
              - FEATURE_UNSPECIFIED
              - LABEL_DETECTION
              - SHOT_CHANGE_DETECTION
              - EXPLICIT_CONTENT_DETECTION
              - FACE_DETECTION
              - SPEECH_TRANSCRIPTION
              - TEXT_DETECTION
              - OBJECT_TRACKING
              - LOGO_RECOGNITION
              - PERSON_DETECTION
            type: string
          type: array
        inputContent:
          description: The video data bytes. If unset, the input video(s) should be specified via the `input_uri`. If set, `input_uri` must be unset.
          format: byte
          type: string
        inputUri:
          description: "Input video location. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. URIs must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints). To identify multiple videos, a video URI may include wildcards in the `object-id`. Supported wildcards: '*' to match 0 or more characters; '?' to match 1 character. If unset, the input video should be embedded in the request as `input_content`. If set, `input_content` must be unset."
          type: string
        locationId:
          description: "Optional. Cloud region where annotation should take place. Supported cloud regions are: `us-east1`, `us-west1`, `europe-west1`, `asia-east1`. If no region is specified, the region will be determined based on video file location."
          type: string
        outputUri:
          description: "Optional. Location where the output (in JSON format) should be stored. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. These must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints)."
          type: string
        videoContext:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_VideoContext"
          description: Additional video context and/or feature-specific parameters.
      type: object
    GoogleCloudVideointelligenceV1_AnnotateVideoResponse:
      description: Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.
      properties:
        annotationResults:
          description: Annotation results for all videos specified in `AnnotateVideoRequest`.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_VideoAnnotationResults"
          type: array
      type: object
    GoogleCloudVideointelligenceV1_DetectedAttribute:
      description: A generic detected attribute represented by name in string format.
      properties:
        confidence:
          description: Detected attribute confidence. Range [0, 1].
          format: float
          type: number
        name:
          description: The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document.
          type: string
        value:
          description: Text value of the detection result. For example, the value for "HairColor" can be "black", "blonde", etc.
          type: string
      type: object
    GoogleCloudVideointelligenceV1_DetectedLandmark:
      description: A generic detected landmark represented by name in string format and a 2D location.
      properties:
        confidence:
          description: The confidence score of the detected landmark. Range [0, 1].
          format: float
          type: number
        name:
          description: The name of this landmark, for example, left_hand, right_shoulder.
          type: string
        point:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_NormalizedVertex"
          description: The 2D point of the detected landmark using the normalized image coordindate system. The normalized coordinates have the range from 0 to 1.
      type: object
    GoogleCloudVideointelligenceV1_Entity:
      description: Detected entity from video analysis.
      properties:
        description:
          description: Textual description, e.g., `Fixed-gear bicycle`.
          type: string
        entityId:
          description: Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).
          type: string
        languageCode:
          description: Language code for `description` in BCP-47 format.
          type: string
      type: object
    GoogleCloudVideointelligenceV1_ExplicitContentAnnotation:
      description: Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.
      properties:
        frames:
          description: All video frames where explicit content was detected.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_ExplicitContentFrame"
          type: array
        version:
          description: Feature version.
          type: string
      type: object
    GoogleCloudVideointelligenceV1_ExplicitContentDetectionConfig:
      description: Config for EXPLICIT_CONTENT_DETECTION.
      properties:
        model:
          description: 'Model to use for explicit content detection. Supported values: "builtin/stable" (the default if unset) and "builtin/latest".'
          type: string
      type: object
    GoogleCloudVideointelligenceV1_ExplicitContentFrame:
      description: Video frame level annotation results for explicit content.
      properties:
        pornographyLikelihood:
          description: Likelihood of the pornography content..
          enum:
            - LIKELIHOOD_UNSPECIFIED
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          type: string
        timeOffset:
          description: Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.
          format: google-duration
          type: string
      type: object
    GoogleCloudVideointelligenceV1_FaceAnnotation:
      description: Deprecated. No effect.
      properties:
        frames:
          description: All video frames where a face was detected.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_FaceFrame"
          type: array
        segments:
          description: All video segments where a face was detected.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_FaceSegment"
          type: array
        thumbnail:
          description: Thumbnail of a representative face view (in JPEG format).
          format: byte
          type: string
      type: object
    GoogleCloudVideointelligenceV1_FaceDetectionAnnotation:
      description: Face detection annotation.
      properties:
        thumbnail:
          description: The thumbnail of a person's face.
          format: byte
          type: string
        tracks:
          description: The face tracks with attributes.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_Track"
          type: array
        version:
          description: Feature version.
          type: string
      type: object
    GoogleCloudVideointelligenceV1_FaceDetectionConfig:
      description: Config for FACE_DETECTION.
      properties:
        includeAttributes:
          description: Whether to enable face attributes detection, such as glasses, dark_glasses, mouth_open etc. Ignored if 'include_bounding_boxes' is set to false.
          type: boolean
        includeBoundingBoxes:
          description: Whether bounding boxes are included in the face annotation output.
          type: boolean
        model:
          description: 'Model to use for face detection. Supported values: "builtin/stable" (the default if unset) and "builtin/latest".'
          type: string
      type: object
    GoogleCloudVideointelligenceV1_FaceFrame:
      description: Deprecated. No effect.
      properties:
        normalizedBoundingBoxes:
          description: Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
          type: array
        timeOffset:
          description: Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.
          format: google-duration
          type: string
      type: object
    GoogleCloudVideointelligenceV1_FaceSegment:
      description: Video segment level annotation results for face detection.
      properties:
        segment:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_VideoSegment"
          description: Video segment where a face was detected.
      type: object
    GoogleCloudVideointelligenceV1_LabelAnnotation:
      description: Label annotation.
      properties:
        categoryEntities:
          description: Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_Entity"
          type: array
        entity:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_Entity"
          description: Detected entity.
        frames:
          description: All video frames where a label was detected.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_LabelFrame"
          type: array
        segments:
          description: All video segments where a label was detected.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_LabelSegment"
          type: array
        version:
          description: Feature version.
          type: string
      type: object
    GoogleCloudVideointelligenceV1_LabelDetectionConfig:
      description: Config for LABEL_DETECTION.
      properties:
        frameConfidenceThreshold:
          description: "The confidence threshold we perform filtering on the labels from frame-level detection. If not set, it is set to 0.4 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model."
          format: float
          type: number
        labelDetectionMode:
          description: What labels should be detected with LABEL_DETECTION, in addition to video-level labels or segment-level labels. If unspecified, defaults to `SHOT_MODE`.
          enum:
            - LABEL_DETECTION_MODE_UNSPECIFIED
            - SHOT_MODE
            - FRAME_MODE
            - SHOT_AND_FRAME_MODE
          type: string
        model:
          description: 'Model to use for label detection. Supported values: "builtin/stable" (the default if unset) and "builtin/latest".'
          type: string
        stationaryCamera:
          description: Whether the video has been shot from a stationary (i.e., non-moving) camera. When set to true, might improve detection accuracy for moving objects. Should be used with `SHOT_AND_FRAME_MODE` enabled.
          type: boolean
        videoConfidenceThreshold:
          description: "The confidence threshold we perform filtering on the labels from video-level and shot-level detections. If not set, it's set to 0.3 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model."
          format: float
          type: number
      type: object
    GoogleCloudVideointelligenceV1_LabelFrame:
      description: Video frame level annotation results for label detection.
      properties:
        confidence:
          description: "Confidence that the label is accurate. Range: [0, 1]."
          format: float
          type: number
        timeOffset:
          description: Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.
          format: google-duration
          type: string
      type: object
    GoogleCloudVideointelligenceV1_LabelSegment:
      description: Video segment level annotation results for label detection.
      properties:
        confidence:
          description: "Confidence that the label is accurate. Range: [0, 1]."
          format: float
          type: number
        segment:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_VideoSegment"
          description: Video segment where a label was detected.
      type: object
    GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation:
      description: Annotation corresponding to one detected, tracked and recognized logo class.
      properties:
        entity:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_Entity"
          description: Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.
        segments:
          description: All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_VideoSegment"
          type: array
        tracks:
          description: All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_Track"
          type: array
      type: object
    GoogleCloudVideointelligenceV1_NormalizedBoundingBox:
      description: "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1]."
      properties:
        bottom:
          description: Bottom Y coordinate.
          format: float
          type: number
        left:
          description: Left X coordinate.
          format: float
          type: number
        right:
          description: Right X coordinate.
          format: float
          type: number
        top:
          description: Top Y coordinate.
          format: float
          type: number
      type: object
    GoogleCloudVideointelligenceV1_NormalizedBoundingPoly:
      description: "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trignometric calculations for location of the box."
      properties:
        vertices:
          description: Normalized vertices of the bounding polygon.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_NormalizedVertex"
          type: array
      type: object
    GoogleCloudVideointelligenceV1_NormalizedVertex:
      description: "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
      properties:
        x:
          description: X coordinate.
          format: float
          type: number
        y:
          description: Y coordinate.
          format: float
          type: number
      type: object
    GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation:
      description: Annotations corresponding to one tracked object.
      properties:
        confidence:
          description: Object category's labeling confidence of this track.
          format: float
          type: number
        entity:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_Entity"
          description: Entity to specify the object category that this track is labeled as.
        frames:
          description: "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames."
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_ObjectTrackingFrame"
          type: array
        segment:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_VideoSegment"
          description: Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.
        trackId:
          description: Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.
          format: int64
          type: string
        version:
          description: Feature version.
          type: string
      type: object
    GoogleCloudVideointelligenceV1_ObjectTrackingConfig:
      description: Config for OBJECT_TRACKING.
      properties:
        model:
          description: 'Model to use for object tracking. Supported values: "builtin/stable" (the default if unset) and "builtin/latest".'
          type: string
      type: object
    GoogleCloudVideointelligenceV1_ObjectTrackingFrame:
      description: Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.
      properties:
        normalizedBoundingBox:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
          description: The normalized bounding box location of this object track for the frame.
        timeOffset:
          description: The timestamp of the frame in microseconds.
          format: google-duration
          type: string
      type: object
    GoogleCloudVideointelligenceV1_PersonDetectionAnnotation:
      description: Person detection annotation per video.
      properties:
        tracks:
          description: The detected tracks of a person.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_Track"
          type: array
        version:
          description: Feature version.
          type: string
      type: object
    GoogleCloudVideointelligenceV1_PersonDetectionConfig:
      description: Config for PERSON_DETECTION.
      properties:
        includeAttributes:
          description: Whether to enable person attributes detection, such as cloth color (black, blue, etc), type (coat, dress, etc), pattern (plain, floral, etc), hair, etc. Ignored if 'include_bounding_boxes' is set to false.
          type: boolean
        includeBoundingBoxes:
          description: Whether bounding boxes are included in the person detection annotation output.
          type: boolean
        includePoseLandmarks:
          description: Whether to enable pose landmarks detection. Ignored if 'include_bounding_boxes' is set to false.
          type: boolean
      type: object
    GoogleCloudVideointelligenceV1_ShotChangeDetectionConfig:
      description: Config for SHOT_CHANGE_DETECTION.
      properties:
        model:
          description: 'Model to use for shot change detection. Supported values: "builtin/stable" (the default if unset), "builtin/latest", and "builtin/legacy".'
          type: string
      type: object
    GoogleCloudVideointelligenceV1_SpeechContext:
      description: Provides "hints" to the speech recognizer to favor specific words and phrases in the results.
      properties:
        phrases:
          description: Optional. A list of strings containing words and phrases "hints" so that the speech recognition is more likely to recognize them. This can be used to improve the accuracy for specific words and phrases, for example, if specific commands are typically spoken by the user. This can also be used to add additional words to the vocabulary of the recognizer. See [usage limits](https://cloud.google.com/speech/limits#content).
          items:
            type: string
          type: array
      type: object
    GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative:
      description: Alternative hypotheses (a.k.a. n-best list).
      properties:
        confidence:
          description: Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.
          format: float
          readOnly: true
          type: number
        transcript:
          description: Transcript text representing the words that the user spoke.
          type: string
        words:
          description: "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio."
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_WordInfo"
          readOnly: true
          type: array
      type: object
    GoogleCloudVideointelligenceV1_SpeechTranscription:
      description: A speech recognition result corresponding to a portion of the audio.
      properties:
        alternatives:
          description: May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative"
          type: array
        languageCode:
          description: Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.
          readOnly: true
          type: string
      type: object
    GoogleCloudVideointelligenceV1_SpeechTranscriptionConfig:
      description: Config for SPEECH_TRANSCRIPTION.
      properties:
        audioTracks:
          description: "Optional. For file formats, such as MXF or MKV, supporting multiple audio tracks, specify up to two tracks. Default: track 0."
          items:
            format: int32
            type: integer
          type: array
        diarizationSpeakerCount:
          description: Optional. If set, specifies the estimated number of speakers in the conversation. If not set, defaults to '2'. Ignored unless enable_speaker_diarization is set to true.
          format: int32
          type: integer
        enableAutomaticPunctuation:
          description: "Optional. If 'true', adds punctuation to recognition result hypotheses. This feature is only available in select languages. Setting this for requests in other languages has no effect at all. The default 'false' value does not add punctuation to result hypotheses. NOTE: \"This is currently offered as an experimental service, complimentary to all users. In the future this may be exclusively available as a premium feature.\""
          type: boolean
        enableSpeakerDiarization:
          description: "Optional. If 'true', enables speaker detection for each recognized word in the top alternative of the recognition result using a speaker_tag provided in the WordInfo. Note: When this is true, we send all the words from the beginning of the audio for the top alternative in every consecutive response. This is done in order to improve our speaker tags as our models learn to identify the speakers in the conversation over time."
          type: boolean
        enableWordConfidence:
          description: Optional. If `true`, the top result includes a list of words and the confidence for those words. If `false`, no word-level confidence information is returned. The default is `false`.
          type: boolean
        filterProfanity:
          description: Optional. If set to `true`, the server will attempt to filter out profanities, replacing all but the initial character in each filtered word with asterisks, e.g. "f***". If set to `false` or omitted, profanities won't be filtered out.
          type: boolean
        languageCode:
          description: 'Required. *Required* The language of the supplied audio as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: "en-US". See [Language Support](https://cloud.google.com/speech/docs/languages) for a list of the currently supported language codes.'
          type: string
        maxAlternatives:
          description: Optional. Maximum number of recognition hypotheses to be returned. Specifically, the maximum number of `SpeechRecognitionAlternative` messages within each `SpeechTranscription`. The server may return fewer than `max_alternatives`. Valid values are `0`-`30`. A value of `0` or `1` will return a maximum of one. If omitted, will return a maximum of one.
          format: int32
          type: integer
        speechContexts:
          description: Optional. A means to provide context to assist the speech recognition.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_SpeechContext"
          type: array
      type: object
    GoogleCloudVideointelligenceV1_TextAnnotation:
      description: Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.
      properties:
        segments:
          description: All video segments where OCR detected text appears.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_TextSegment"
          type: array
        text:
          description: The detected text.
          type: string
        version:
          description: Feature version.
          type: string
      type: object
    GoogleCloudVideointelligenceV1_TextDetectionConfig:
      description: Config for TEXT_DETECTION.
      properties:
        languageHints:
          description: Language hint can be specified if the language to be detected is known a priori. It can increase the accuracy of the detection. Language hint must be language code in BCP-47 format. Automatic language detection is performed if no hint is provided.
          items:
            type: string
          type: array
        model:
          description: 'Model to use for text detection. Supported values: "builtin/stable" (the default if unset) and "builtin/latest".'
          type: string
      type: object
    GoogleCloudVideointelligenceV1_TextFrame:
      description: Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.
      properties:
        rotatedBoundingBox:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_NormalizedBoundingPoly"
          description: Bounding polygon of the detected text for this frame.
        timeOffset:
          description: Timestamp of this frame.
          format: google-duration
          type: string
      type: object
    GoogleCloudVideointelligenceV1_TextSegment:
      description: Video segment level annotation results for text detection.
      properties:
        confidence:
          description: Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.
          format: float
          type: number
        frames:
          description: Information related to the frames where OCR detected text appears.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_TextFrame"
          type: array
        segment:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_VideoSegment"
          description: Video segment where a text snippet was detected.
      type: object
    GoogleCloudVideointelligenceV1_TimestampedObject:
      description: For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.
      properties:
        attributes:
          description: Optional. The attributes of the object in the bounding box.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_DetectedAttribute"
          type: array
        landmarks:
          description: Optional. The detected landmarks.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_DetectedLandmark"
          type: array
        normalizedBoundingBox:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
          description: Normalized Bounding box in a frame, where the object is located.
        timeOffset:
          description: Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.
          format: google-duration
          type: string
      type: object
    GoogleCloudVideointelligenceV1_Track:
      description: A track of an object instance.
      properties:
        attributes:
          description: Optional. Attributes in the track level.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_DetectedAttribute"
          type: array
        confidence:
          description: Optional. The confidence score of the tracked object.
          format: float
          type: number
        segment:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_VideoSegment"
          description: Video segment of a track.
        timestampedObjects:
          description: The object with timestamp and attributes per frame in the track.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_TimestampedObject"
          type: array
      type: object
    GoogleCloudVideointelligenceV1_VideoAnnotationProgress:
      description: Annotation progress for a single video.
      properties:
        feature:
          description: Specifies which feature is being tracked if the request contains more than one feature.
          enum:
            - FEATURE_UNSPECIFIED
            - LABEL_DETECTION
            - SHOT_CHANGE_DETECTION
            - EXPLICIT_CONTENT_DETECTION
            - FACE_DETECTION
            - SPEECH_TRANSCRIPTION
            - TEXT_DETECTION
            - OBJECT_TRACKING
            - LOGO_RECOGNITION
            - PERSON_DETECTION
          type: string
        inputUri:
          description: Video file location in [Cloud Storage](https://cloud.google.com/storage/).
          type: string
        progressPercent:
          description: Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.
          format: int32
          type: integer
        segment:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_VideoSegment"
          description: Specifies which segment is being tracked if the request contains more than one segment.
        startTime:
          description: Time when the request was received.
          format: google-datetime
          type: string
        updateTime:
          description: Time of the most recent update.
          format: google-datetime
          type: string
      type: object
    GoogleCloudVideointelligenceV1_VideoAnnotationResults:
      description: Annotation results for a single video.
      properties:
        error:
          $ref: "#/components/schemas/GoogleRpc_Status"
          description: If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.
        explicitAnnotation:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_ExplicitContentAnnotation"
          description: Explicit content annotation.
        faceAnnotations:
          description: Deprecated. Please use `face_detection_annotations` instead.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_FaceAnnotation"
          type: array
        faceDetectionAnnotations:
          description: Face detection annotations.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_FaceDetectionAnnotation"
          type: array
        frameLabelAnnotations:
          description: Label annotations on frame level. There is exactly one element for each unique label.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_LabelAnnotation"
          type: array
        inputUri:
          description: Video file location in [Cloud Storage](https://cloud.google.com/storage/).
          type: string
        logoRecognitionAnnotations:
          description: Annotations for list of logos detected, tracked and recognized in video.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation"
          type: array
        objectAnnotations:
          description: Annotations for list of objects detected and tracked in video.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation"
          type: array
        personDetectionAnnotations:
          description: Person detection annotations.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_PersonDetectionAnnotation"
          type: array
        segment:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_VideoSegment"
          description: Video segment on which the annotation is run.
        segmentLabelAnnotations:
          description: Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_LabelAnnotation"
          type: array
        segmentPresenceLabelAnnotations:
          description: Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to "builtin/latest" in the request.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_LabelAnnotation"
          type: array
        shotAnnotations:
          description: Shot annotations. Each shot is represented as a video segment.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_VideoSegment"
          type: array
        shotLabelAnnotations:
          description: Topical label annotations on shot level. There is exactly one element for each unique label.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_LabelAnnotation"
          type: array
        shotPresenceLabelAnnotations:
          description: Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to "builtin/latest" in the request.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_LabelAnnotation"
          type: array
        speechTranscriptions:
          description: Speech transcription.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_SpeechTranscription"
          type: array
        textAnnotations:
          description: OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_TextAnnotation"
          type: array
      type: object
    GoogleCloudVideointelligenceV1_VideoContext:
      description: Video context and/or feature-specific parameters.
      properties:
        explicitContentDetectionConfig:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_ExplicitContentDetectionConfig"
          description: Config for EXPLICIT_CONTENT_DETECTION.
        faceDetectionConfig:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_FaceDetectionConfig"
          description: Config for FACE_DETECTION.
        labelDetectionConfig:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_LabelDetectionConfig"
          description: Config for LABEL_DETECTION.
        objectTrackingConfig:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_ObjectTrackingConfig"
          description: Config for OBJECT_TRACKING.
        personDetectionConfig:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_PersonDetectionConfig"
          description: Config for PERSON_DETECTION.
        segments:
          description: Video segments to annotate. The segments may overlap and are not required to be contiguous or span the whole video. If unspecified, each video is treated as a single segment.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_VideoSegment"
          type: array
        shotChangeDetectionConfig:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_ShotChangeDetectionConfig"
          description: Config for SHOT_CHANGE_DETECTION.
        speechTranscriptionConfig:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_SpeechTranscriptionConfig"
          description: Config for SPEECH_TRANSCRIPTION.
        textDetectionConfig:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1_TextDetectionConfig"
          description: Config for TEXT_DETECTION.
      type: object
    GoogleCloudVideointelligenceV1_VideoSegment:
      description: Video segment.
      properties:
        endTimeOffset:
          description: Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).
          format: google-duration
          type: string
        startTimeOffset:
          description: Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).
          format: google-duration
          type: string
      type: object
    GoogleCloudVideointelligenceV1_WordInfo:
      description: Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.
      properties:
        confidence:
          description: Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.
          format: float
          readOnly: true
          type: number
        endTime:
          description: Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.
          format: google-duration
          type: string
        speakerTag:
          description: Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.
          format: int32
          readOnly: true
          type: integer
        startTime:
          description: Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.
          format: google-duration
          type: string
        word:
          description: The word corresponding to this set of information.
          type: string
      type: object
    GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress:
      description: Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.
      properties:
        annotationProgress:
          description: Progress metadata for all videos specified in `AnnotateVideoRequest`.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress"
          type: array
      type: object
    GoogleCloudVideointelligenceV1beta2_AnnotateVideoResponse:
      description: Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.
      properties:
        annotationResults:
          description: Annotation results for all videos specified in `AnnotateVideoRequest`.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults"
          type: array
      type: object
    GoogleCloudVideointelligenceV1beta2_DetectedAttribute:
      description: A generic detected attribute represented by name in string format.
      properties:
        confidence:
          description: Detected attribute confidence. Range [0, 1].
          format: float
          type: number
        name:
          description: The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document.
          type: string
        value:
          description: Text value of the detection result. For example, the value for "HairColor" can be "black", "blonde", etc.
          type: string
      type: object
    GoogleCloudVideointelligenceV1beta2_DetectedLandmark:
      description: A generic detected landmark represented by name in string format and a 2D location.
      properties:
        confidence:
          description: The confidence score of the detected landmark. Range [0, 1].
          format: float
          type: number
        name:
          description: The name of this landmark, for example, left_hand, right_shoulder.
          type: string
        point:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_NormalizedVertex"
          description: The 2D point of the detected landmark using the normalized image coordindate system. The normalized coordinates have the range from 0 to 1.
      type: object
    GoogleCloudVideointelligenceV1beta2_Entity:
      description: Detected entity from video analysis.
      properties:
        description:
          description: Textual description, e.g., `Fixed-gear bicycle`.
          type: string
        entityId:
          description: Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).
          type: string
        languageCode:
          description: Language code for `description` in BCP-47 format.
          type: string
      type: object
    GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation:
      description: Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.
      properties:
        frames:
          description: All video frames where explicit content was detected.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame"
          type: array
        version:
          description: Feature version.
          type: string
      type: object
    GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame:
      description: Video frame level annotation results for explicit content.
      properties:
        pornographyLikelihood:
          description: Likelihood of the pornography content..
          enum:
            - LIKELIHOOD_UNSPECIFIED
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          type: string
        timeOffset:
          description: Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.
          format: google-duration
          type: string
      type: object
    GoogleCloudVideointelligenceV1beta2_FaceAnnotation:
      description: Deprecated. No effect.
      properties:
        frames:
          description: All video frames where a face was detected.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_FaceFrame"
          type: array
        segments:
          description: All video segments where a face was detected.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_FaceSegment"
          type: array
        thumbnail:
          description: Thumbnail of a representative face view (in JPEG format).
          format: byte
          type: string
      type: object
    GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation:
      description: Face detection annotation.
      properties:
        thumbnail:
          description: The thumbnail of a person's face.
          format: byte
          type: string
        tracks:
          description: The face tracks with attributes.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_Track"
          type: array
        version:
          description: Feature version.
          type: string
      type: object
    GoogleCloudVideointelligenceV1beta2_FaceFrame:
      description: Deprecated. No effect.
      properties:
        normalizedBoundingBoxes:
          description: Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
          type: array
        timeOffset:
          description: Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.
          format: google-duration
          type: string
      type: object
    GoogleCloudVideointelligenceV1beta2_FaceSegment:
      description: Video segment level annotation results for face detection.
      properties:
        segment:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoSegment"
          description: Video segment where a face was detected.
      type: object
    GoogleCloudVideointelligenceV1beta2_LabelAnnotation:
      description: Label annotation.
      properties:
        categoryEntities:
          description: Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_Entity"
          type: array
        entity:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_Entity"
          description: Detected entity.
        frames:
          description: All video frames where a label was detected.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_LabelFrame"
          type: array
        segments:
          description: All video segments where a label was detected.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_LabelSegment"
          type: array
        version:
          description: Feature version.
          type: string
      type: object
    GoogleCloudVideointelligenceV1beta2_LabelFrame:
      description: Video frame level annotation results for label detection.
      properties:
        confidence:
          description: "Confidence that the label is accurate. Range: [0, 1]."
          format: float
          type: number
        timeOffset:
          description: Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.
          format: google-duration
          type: string
      type: object
    GoogleCloudVideointelligenceV1beta2_LabelSegment:
      description: Video segment level annotation results for label detection.
      properties:
        confidence:
          description: "Confidence that the label is accurate. Range: [0, 1]."
          format: float
          type: number
        segment:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoSegment"
          description: Video segment where a label was detected.
      type: object
    GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation:
      description: Annotation corresponding to one detected, tracked and recognized logo class.
      properties:
        entity:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_Entity"
          description: Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.
        segments:
          description: All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoSegment"
          type: array
        tracks:
          description: All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_Track"
          type: array
      type: object
    GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox:
      description: "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1]."
      properties:
        bottom:
          description: Bottom Y coordinate.
          format: float
          type: number
        left:
          description: Left X coordinate.
          format: float
          type: number
        right:
          description: Right X coordinate.
          format: float
          type: number
        top:
          description: Top Y coordinate.
          format: float
          type: number
      type: object
    GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly:
      description: "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trignometric calculations for location of the box."
      properties:
        vertices:
          description: Normalized vertices of the bounding polygon.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_NormalizedVertex"
          type: array
      type: object
    GoogleCloudVideointelligenceV1beta2_NormalizedVertex:
      description: "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
      properties:
        x:
          description: X coordinate.
          format: float
          type: number
        y:
          description: Y coordinate.
          format: float
          type: number
      type: object
    GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation:
      description: Annotations corresponding to one tracked object.
      properties:
        confidence:
          description: Object category's labeling confidence of this track.
          format: float
          type: number
        entity:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_Entity"
          description: Entity to specify the object category that this track is labeled as.
        frames:
          description: "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames."
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame"
          type: array
        segment:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoSegment"
          description: Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.
        trackId:
          description: Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.
          format: int64
          type: string
        version:
          description: Feature version.
          type: string
      type: object
    GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame:
      description: Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.
      properties:
        normalizedBoundingBox:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
          description: The normalized bounding box location of this object track for the frame.
        timeOffset:
          description: The timestamp of the frame in microseconds.
          format: google-duration
          type: string
      type: object
    GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation:
      description: Person detection annotation per video.
      properties:
        tracks:
          description: The detected tracks of a person.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_Track"
          type: array
        version:
          description: Feature version.
          type: string
      type: object
    GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative:
      description: Alternative hypotheses (a.k.a. n-best list).
      properties:
        confidence:
          description: Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.
          format: float
          readOnly: true
          type: number
        transcript:
          description: Transcript text representing the words that the user spoke.
          type: string
        words:
          description: "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio."
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_WordInfo"
          readOnly: true
          type: array
      type: object
    GoogleCloudVideointelligenceV1beta2_SpeechTranscription:
      description: A speech recognition result corresponding to a portion of the audio.
      properties:
        alternatives:
          description: May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative"
          type: array
        languageCode:
          description: Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.
          readOnly: true
          type: string
      type: object
    GoogleCloudVideointelligenceV1beta2_TextAnnotation:
      description: Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.
      properties:
        segments:
          description: All video segments where OCR detected text appears.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_TextSegment"
          type: array
        text:
          description: The detected text.
          type: string
        version:
          description: Feature version.
          type: string
      type: object
    GoogleCloudVideointelligenceV1beta2_TextFrame:
      description: Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.
      properties:
        rotatedBoundingBox:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly"
          description: Bounding polygon of the detected text for this frame.
        timeOffset:
          description: Timestamp of this frame.
          format: google-duration
          type: string
      type: object
    GoogleCloudVideointelligenceV1beta2_TextSegment:
      description: Video segment level annotation results for text detection.
      properties:
        confidence:
          description: Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.
          format: float
          type: number
        frames:
          description: Information related to the frames where OCR detected text appears.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_TextFrame"
          type: array
        segment:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoSegment"
          description: Video segment where a text snippet was detected.
      type: object
    GoogleCloudVideointelligenceV1beta2_TimestampedObject:
      description: For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.
      properties:
        attributes:
          description: Optional. The attributes of the object in the bounding box.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_DetectedAttribute"
          type: array
        landmarks:
          description: Optional. The detected landmarks.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_DetectedLandmark"
          type: array
        normalizedBoundingBox:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
          description: Normalized Bounding box in a frame, where the object is located.
        timeOffset:
          description: Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.
          format: google-duration
          type: string
      type: object
    GoogleCloudVideointelligenceV1beta2_Track:
      description: A track of an object instance.
      properties:
        attributes:
          description: Optional. Attributes in the track level.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_DetectedAttribute"
          type: array
        confidence:
          description: Optional. The confidence score of the tracked object.
          format: float
          type: number
        segment:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoSegment"
          description: Video segment of a track.
        timestampedObjects:
          description: The object with timestamp and attributes per frame in the track.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_TimestampedObject"
          type: array
      type: object
    GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress:
      description: Annotation progress for a single video.
      properties:
        feature:
          description: Specifies which feature is being tracked if the request contains more than one feature.
          enum:
            - FEATURE_UNSPECIFIED
            - LABEL_DETECTION
            - SHOT_CHANGE_DETECTION
            - EXPLICIT_CONTENT_DETECTION
            - FACE_DETECTION
            - SPEECH_TRANSCRIPTION
            - TEXT_DETECTION
            - OBJECT_TRACKING
            - LOGO_RECOGNITION
            - PERSON_DETECTION
          type: string
        inputUri:
          description: Video file location in [Cloud Storage](https://cloud.google.com/storage/).
          type: string
        progressPercent:
          description: Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.
          format: int32
          type: integer
        segment:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoSegment"
          description: Specifies which segment is being tracked if the request contains more than one segment.
        startTime:
          description: Time when the request was received.
          format: google-datetime
          type: string
        updateTime:
          description: Time of the most recent update.
          format: google-datetime
          type: string
      type: object
    GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults:
      description: Annotation results for a single video.
      properties:
        error:
          $ref: "#/components/schemas/GoogleRpc_Status"
          description: If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.
        explicitAnnotation:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation"
          description: Explicit content annotation.
        faceAnnotations:
          description: Deprecated. Please use `face_detection_annotations` instead.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_FaceAnnotation"
          type: array
        faceDetectionAnnotations:
          description: Face detection annotations.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation"
          type: array
        frameLabelAnnotations:
          description: Label annotations on frame level. There is exactly one element for each unique label.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          type: array
        inputUri:
          description: Video file location in [Cloud Storage](https://cloud.google.com/storage/).
          type: string
        logoRecognitionAnnotations:
          description: Annotations for list of logos detected, tracked and recognized in video.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation"
          type: array
        objectAnnotations:
          description: Annotations for list of objects detected and tracked in video.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation"
          type: array
        personDetectionAnnotations:
          description: Person detection annotations.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation"
          type: array
        segment:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoSegment"
          description: Video segment on which the annotation is run.
        segmentLabelAnnotations:
          description: Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          type: array
        segmentPresenceLabelAnnotations:
          description: Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to "builtin/latest" in the request.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          type: array
        shotAnnotations:
          description: Shot annotations. Each shot is represented as a video segment.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoSegment"
          type: array
        shotLabelAnnotations:
          description: Topical label annotations on shot level. There is exactly one element for each unique label.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          type: array
        shotPresenceLabelAnnotations:
          description: Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to "builtin/latest" in the request.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          type: array
        speechTranscriptions:
          description: Speech transcription.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_SpeechTranscription"
          type: array
        textAnnotations:
          description: OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1beta2_TextAnnotation"
          type: array
      type: object
    GoogleCloudVideointelligenceV1beta2_VideoSegment:
      description: Video segment.
      properties:
        endTimeOffset:
          description: Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).
          format: google-duration
          type: string
        startTimeOffset:
          description: Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).
          format: google-duration
          type: string
      type: object
    GoogleCloudVideointelligenceV1beta2_WordInfo:
      description: Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.
      properties:
        confidence:
          description: Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.
          format: float
          readOnly: true
          type: number
        endTime:
          description: Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.
          format: google-duration
          type: string
        speakerTag:
          description: Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.
          format: int32
          readOnly: true
          type: integer
        startTime:
          description: Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.
          format: google-duration
          type: string
        word:
          description: The word corresponding to this set of information.
          type: string
      type: object
    GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoProgress:
      description: Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.
      properties:
        annotationProgress:
          description: Progress metadata for all videos specified in `AnnotateVideoRequest`.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress"
          type: array
      type: object
    GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse:
      description: Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.
      properties:
        annotationResults:
          description: Annotation results for all videos specified in `AnnotateVideoRequest`.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults"
          type: array
      type: object
    GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute:
      description: A generic detected attribute represented by name in string format.
      properties:
        confidence:
          description: Detected attribute confidence. Range [0, 1].
          format: float
          type: number
        name:
          description: The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document.
          type: string
        value:
          description: Text value of the detection result. For example, the value for "HairColor" can be "black", "blonde", etc.
          type: string
      type: object
    GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark:
      description: A generic detected landmark represented by name in string format and a 2D location.
      properties:
        confidence:
          description: The confidence score of the detected landmark. Range [0, 1].
          format: float
          type: number
        name:
          description: The name of this landmark, for example, left_hand, right_shoulder.
          type: string
        point:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex"
          description: The 2D point of the detected landmark using the normalized image coordindate system. The normalized coordinates have the range from 0 to 1.
      type: object
    GoogleCloudVideointelligenceV1p1beta1_Entity:
      description: Detected entity from video analysis.
      properties:
        description:
          description: Textual description, e.g., `Fixed-gear bicycle`.
          type: string
        entityId:
          description: Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).
          type: string
        languageCode:
          description: Language code for `description` in BCP-47 format.
          type: string
      type: object
    GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation:
      description: Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.
      properties:
        frames:
          description: All video frames where explicit content was detected.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame"
          type: array
        version:
          description: Feature version.
          type: string
      type: object
    GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame:
      description: Video frame level annotation results for explicit content.
      properties:
        pornographyLikelihood:
          description: Likelihood of the pornography content..
          enum:
            - LIKELIHOOD_UNSPECIFIED
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          type: string
        timeOffset:
          description: Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.
          format: google-duration
          type: string
      type: object
    GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation:
      description: Deprecated. No effect.
      properties:
        frames:
          description: All video frames where a face was detected.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_FaceFrame"
          type: array
        segments:
          description: All video segments where a face was detected.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_FaceSegment"
          type: array
        thumbnail:
          description: Thumbnail of a representative face view (in JPEG format).
          format: byte
          type: string
      type: object
    GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation:
      description: Face detection annotation.
      properties:
        thumbnail:
          description: The thumbnail of a person's face.
          format: byte
          type: string
        tracks:
          description: The face tracks with attributes.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_Track"
          type: array
        version:
          description: Feature version.
          type: string
      type: object
    GoogleCloudVideointelligenceV1p1beta1_FaceFrame:
      description: Deprecated. No effect.
      properties:
        normalizedBoundingBoxes:
          description: Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox"
          type: array
        timeOffset:
          description: Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.
          format: google-duration
          type: string
      type: object
    GoogleCloudVideointelligenceV1p1beta1_FaceSegment:
      description: Video segment level annotation results for face detection.
      properties:
        segment:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
          description: Video segment where a face was detected.
      type: object
    GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation:
      description: Label annotation.
      properties:
        categoryEntities:
          description: Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_Entity"
          type: array
        entity:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_Entity"
          description: Detected entity.
        frames:
          description: All video frames where a label was detected.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_LabelFrame"
          type: array
        segments:
          description: All video segments where a label was detected.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_LabelSegment"
          type: array
        version:
          description: Feature version.
          type: string
      type: object
    GoogleCloudVideointelligenceV1p1beta1_LabelFrame:
      description: Video frame level annotation results for label detection.
      properties:
        confidence:
          description: "Confidence that the label is accurate. Range: [0, 1]."
          format: float
          type: number
        timeOffset:
          description: Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.
          format: google-duration
          type: string
      type: object
    GoogleCloudVideointelligenceV1p1beta1_LabelSegment:
      description: Video segment level annotation results for label detection.
      properties:
        confidence:
          description: "Confidence that the label is accurate. Range: [0, 1]."
          format: float
          type: number
        segment:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
          description: Video segment where a label was detected.
      type: object
    GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation:
      description: Annotation corresponding to one detected, tracked and recognized logo class.
      properties:
        entity:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_Entity"
          description: Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.
        segments:
          description: All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
          type: array
        tracks:
          description: All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_Track"
          type: array
      type: object
    GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox:
      description: "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1]."
      properties:
        bottom:
          description: Bottom Y coordinate.
          format: float
          type: number
        left:
          description: Left X coordinate.
          format: float
          type: number
        right:
          description: Right X coordinate.
          format: float
          type: number
        top:
          description: Top Y coordinate.
          format: float
          type: number
      type: object
    GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly:
      description: "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trignometric calculations for location of the box."
      properties:
        vertices:
          description: Normalized vertices of the bounding polygon.
          items:
            $ref: "#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex"
          type: array
      type: object
    GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex:
      description: "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
      properties:
        x:
          description: X coordinate.
          format: float
          type: number
        y:
          description: Y coordinate.
          format: float
          type: number
      type: object
    GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation:
      description: Annotations corresponding to one tracked object.
      properties:
        confidence:
          description: Object category's labeling confidence of this track.
          format: float
          type: number
        entity:
          $ref: "#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_Entity"
          description: Entity to specify the object category that this track is labeled as.
        frames:
[...]
