openapi: 3.0.0
servers:
  - url: 'http://api.thenounproject.com/'
x-hasEquivalentPaths: true
info:
  description: Icons for Everything
  title: The Noun Project
  version: 1.0.0
  x-logo:
    url: 'https://thenounproject.com/static/img/nounproject_logo.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: swagger
      url: 'http://api.thenounproject.com/config/api-doc'
      version: '1.2'
  x-providerName: thenounproject.com
externalDocs:
  url: 'https://thenounproject.com/developers/'
tags:
  - description: Operations on collection endpoints
    name: collection
  - description: Operations on collections endpoints
    name: collections
  - description: Operations on icon endpoints
    name: icon
  - description: Operations on icons endpoints
    name: icons
  - description: Operations on oauth endpoints
    name: oauth
  - description: Operations on user endpoints
    name: user
paths:
  '/collection/{id}':
    get:
      description: Returns a single collection
      operationId: getCollectionById
      parameters:
        - description: Collection id
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
      summary: Get collection by id
      tags:
        - collection
  '/collection/{id}/icons':
    get:
      description: Returns a list of icons associated with a collection
      operationId: getCollectionIconsById
      parameters:
        - description: Collection id
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int32
        - description: Maximum number of results
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of results to displace or skip over
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of results of limit length to displace or skip over
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
      summary: Get collection icons by id
      tags:
        - collection
  '/collection/{slug}':
    get:
      description: Returns a single collection
      operationId: getCollectionBySlug
      parameters:
        - description: Collection slug
          in: path
          name: slug
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
      summary: Get collection by slug
      tags:
        - collection
  '/collection/{slug}/icons':
    get:
      description: Returns a list of icons associated with a collection
      operationId: getCollectionIconsBySlug
      parameters:
        - description: Collection slug
          in: path
          name: slug
          required: true
          schema:
            type: string
        - description: Maximum number of results
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of results to displace or skip over
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of results of limit length to displace or skip over
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
      summary: Get collection icons by slug
      tags:
        - collection
  /collections:
    get:
      description: Return's a list of all collections
      operationId: getAllCollections
      parameters:
        - description: Maximum number of results
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of results to displace or skip over
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of results of limit length to displace or skip over
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
      summary: Get all collections
      tags:
        - collections
  '/icon/{id}':
    get:
      description: Returns a single icon
      operationId: getIconById
      parameters:
        - description: Icon id
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
      summary: Get icon by id
      tags:
        - icon
  '/icon/{term}':
    get:
      description: Returns a single icon
      operationId: getIconByTerm
      parameters:
        - description: Icon term
          in: path
          name: term
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
      summary: Get icon by term
      tags:
        - icon
  /icons/recent_uploads:
    get:
      description: Returns list of most recently uploaded icons
      operationId: getRecentIcons
      parameters:
        - description: Maximum number of results
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of results to displace or skip over
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of results of limit length to displace or skip over
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
      summary: Get recent icons
      tags:
        - icons
  '/icons/{term}':
    get:
      description: Returns a list of icons
      operationId: getIconsByTerm
      parameters:
        - description: Icon term
          in: path
          name: term
          required: true
          schema:
            type: string
        - description: Limit results to public domain icons only
          in: query
          name: limit_to_public_domain
          required: false
          schema:
            type: integer
            format: int32
        - description: Maximum number of results
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of results to displace or skip over
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of results of limit length to displace or skip over
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
      summary: Get icons by term
      tags:
        - icons
  /oauth/usage:
    get:
      description: Returns current oauth usage and limits
      operationId: getApiQuotaStatus
      responses:
        '200':
          description: No response was specified
      summary: Get api quota status
      tags:
        - oauth
  '/user/{user_id}/collections':
    get:
      description: Returns a list of collections associated with a user
      operationId: getUserCollections
      parameters:
        - description: User id
          in: path
          name: user_id
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
      summary: Get user collections
      tags:
        - user
  '/user/{user_id}/collections/{slug}':
    get:
      description: Returns a single collection associated with a user
      operationId: getUserCollection
      parameters:
        - description: User id
          in: path
          name: user_id
          required: true
          schema:
            type: integer
            format: int32
        - description: Collection slug
          in: path
          name: slug
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
      summary: Get user collection
      tags:
        - user
  '/user/{username}/uploads':
    get:
      description: Returns a list of uploads associated with a user
      operationId: getUserUploadsWithUser
      parameters:
        - description: Username
          in: path
          name: username
          required: true
          schema:
            type: string
        - description: Maximum number of results
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of results to displace or skip over
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
        - description: Number of results of limit length to displace or skip over
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
      summary: Get user uploads with user
      tags:
        - user
components:
  schemas: {}
