openapi: 3.0.1
servers:
  - url: https://app.orbit.love/api/v1
info:
  description: Please see the complete Orbit API documentation at [https://api.orbit.love/](https://api.orbit.love/).
  title: Orbit API
  version: v1
  x-apisguru-categories:
    - customer_relation
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_avatars.githubusercontent.com_u_55637052.png
  x-origin:
    - format: openapi
      url: https://app.orbit.love/api-docs/v1/swagger.json
      version: "3.0"
  x-providerName: orbit.love
tags:
  - name: Activity Types
  - name: Activities
  - name: Webhooks
  - name: Members
  - name: Notes
  - name: Organizations
  - name: Reports
  - name: Users
  - name: Workspaces
paths:
  /user:
    get:
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    created_at: 2023-02-28T19:20:37.508Z
                    email: pia.hettinger@zulauf.name
                    name: MrsHellenCorkery
                    updated_at: 2023-02-28T19:20:37.508Z
                  id: Ze1FV4
                  type: user
          description: success
        "401":
          description: unauthorized
      security:
        - bearer: []
      summary: Get info about the current user
      tags:
        - Users
  /workspaces:
    get:
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      created_at: 2023-02-28T19:21:15.556Z
                      name: Fake Workspace
                      slug: fake-workspace
                      updated_at: 2023-02-28T19:21:15.565Z
                    id: 15Vt67
                    relationships:
                      repositories:
                        data: []
                    type: workspace
                included: []
          description: success
      security:
        - bearer: []
      summary: Get all workspaces for the current user
      tags:
        - Workspaces
  "/workspaces/{workspace_slug}":
    get:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - description: Include the number of members by Orbit Level in the attributes
          in: query
          name: include_orbit_level_counts
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    activities_count: 1
                    created_at: 2023-02-28T19:21:15.825Z
                    members_count: 1
                    name: Fake Workspace
                    orbit_level_counts:
                      "1": 0
                      "2": 0
                      "3": 1
                      "4": 2
                    slug: fake-workspace
                    tags: {}
                    updated_at: 2023-02-28T19:21:15.916Z
                  id: PvetbL
                  relationships:
                    last_activity:
                      data:
                        id: ZPosrL
                        type: pull_request_activity
                    last_member:
                      data:
                        id: rmMS98
                        type: member
                    repositories:
                      data: []
                  type: workspace
                included:
                  - attributes:
                      activities_count: 0
                      activities_score: 0
                      avatar_url: http://github.com/avatar.png
                      bio: null
                      birthday: null
                      company: null
                      created: false
                      created_at: 2023-02-28T19:21:15.894Z
                      deleted_at: null
                      devto: null
                      discord: null
                      discourse: null
                      email: null
                      first_activity_occurred_at: null
                      github: null
                      github_followers: null
                      id: rmMS98
                      languages: null
                      last_activity_occurred_at: null
                      linkedin: null
                      location: null
                      love: null
                      merged_at: null
                      name: RobertoRunolfsdottir
                      orbit_level: null
                      orbit_url: http://localhost:3000/fake-workspace/members/robertorunolfsdottir
                      pronouns: null
                      reach: 0
                      shipping_address: null
                      slug: robertorunolfsdottir
                      source: installation
                      tag_list: []
                      tags: []
                      teammate: false
                      title: null
                      topics: null
                      tshirt: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2023-02-28T19:21:15.894Z
                      url: null
                    id: rmMS98
                    relationships:
                      identities:
                        data: []
                      organizations:
                        data: []
                    type: member
                  - attributes:
                      action: opened
                      activity_link: https://github.com/
                      created_at: 2023-02-28T19:21:15.896Z
                      g_created_at: 2023-02-28T20:21:15.886+01:00
                      g_html_url: https://github.com/
                      g_merged: false
                      g_merged_at: null
                      g_merged_by: null
                      g_number: 53
                      g_title: Here is some new code
                      is_pull_request: null
                      key: carol/donnette#53
                      occurred_at: 2023-02-28T19:21:15.886Z
                      orbit_url: http://localhost:3000/fake-workspace/activities/ZPosrL
                      properties:
                        github_organization: carol
                        github_pull_request: carol/donnette/#53
                        github_repository: carol/donnette
                      tags:
                        - channel:github
                        - github_organization:carol
                        - github_repository:carol/donnette
                        - github_pull_request:carol/donnette/#53
                      type: PullRequestActivity
                      updated_at: 2023-02-28T19:21:15.896Z
                      weight: "1.0"
                    id: ZPosrL
                    relationships:
                      activity_type:
                        data:
                          id: oWVsm9
                          type: activity_type
                      member:
                        data:
                          id: rmMS98
                          type: member
                      repository:
                        data:
                          id: 6eeTk6
                          type: repository
                    type: pull_request_activity
          description: success
      security:
        - bearer: []
      summary: Get a workspace
      tags:
        - Workspaces
  "/{workspace_slug}/activities":
    get:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: query
          name: affiliation
          schema:
            enum:
              - member
              - teammate
            type: string
        - description: The list of tags to filter against. Separate tags with `,` to do an intersection (AND), or with `|` to do a union (OR)
          in: query
          name: member_tags
          schema:
            type: string
        - description: The list of orbit levels to filter against. Accepted values are 1, 2, 3, 4, n. In the request, a format like `23` would include levels 2 and 3. `n` is for members with no orbit level.
          in: query
          name: orbit
          schema:
            type: string
        - description: Comma separated list of activity types
          in: query
          name: activity_type
          schema:
            enum:
              - discourse:topic:created
              - discourse:post:liked
              - discourse:user:created
              - discourse:post:created
              - slack:message:sent
              - slack:thread:replied
              - slack:channel:joined
              - note:created
              - post:created
              - issues:opened
              - discord:message:sent
              - issue_comment:created
              - discord:thread:replied
              - custom:happened
              - dev:comment
              - discord:message:replied
              - discord:server:joined
              - insided:conversation:started
              - fork:created
              - insided:idea:replied
              - insided:article:created
              - discussions:discussion_created
              - insided:question:replied
              - discussions:comment
              - discussions:reply
              - insided:article:replied
              - insided:question:asked
              - insided:conversation:replied
              - insided:idea:submitted
              - reddit:comment
              - reddit:post
              - stackoverflow:answer
              - linkedin:comment
              - pull_requests:opened
              - pull_requests:merged
              - star:created
              - stackoverflow:question
              - tweet:sent
              - twitter:followed
              - youtube:comment
            type: string
        - in: query
          name: identity
          schema:
            enum:
              - github
              - twitter
              - email
              - discourse
              - linkedin
              - devto
              - slack
              - discord
            type: string
        - description: Comma separated list of companies. The union (OR) of companies is applied.
          in: query
          name: company[]
          schema:
            type: string
        - description: Comma separated list of job titles. The union (OR) of job titles is applied.
          in: query
          name: title[]
          schema:
            type: string
        - description: Comma separated list of regions. The union (OR) of regions is applied.
          in: query
          name: regions[]
          schema:
            type: string
        - description: Comma separated list of countries. The union (OR) of countries is applied.
          in: query
          name: countries[]
          schema:
            type: string
        - description: Comma separated list of cities. The union (OR) of cities is applied.
          in: query
          name: cities[]
          schema:
            type: string
        - description: "Filter activities after this date. Format: YYYY-MM-DD."
          in: query
          name: start_date
          schema:
            type: string
        - description: "Filter activities before this date. Format: YYYY-MM-DD."
          in: query
          name: end_date
          schema:
            type: string
        - description: "Relative timeframes. Format: this_<integer>_<period>, with period in [days, weeks, months, years]. For example, this_30_days."
          in: query
          name: relative
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: direction
          schema:
            enum:
              - ASC
              - DESC
            type: string
        - in: query
          name: items
          schema:
            enum:
              - "10"
              - "50"
              - "100"
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - occurred_at
              - member
            type: string
        - deprecated: true
          description: Deprecated in favor of the activity_type parameter.
          in: query
          name: type
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      action: opened
                      activity_link: https://github.com/
                      created_at: 2023-02-28T19:20:38.155Z
                      g_created_at: 2023-02-28T20:20:38.152+01:00
                      g_html_url: https://github.com/
                      g_number: 9
                      g_title: Cool issue title!
                      is_pull_request: null
                      key: makeda/eugenio#9
                      occurred_at: 2023-02-28T19:20:38.152Z
                      orbit_url: http://localhost:3000/stacierau/activities/63rsLp
                      properties:
                        github_issue: makeda/eugenio/#9
                        github_organization: makeda
                        github_repository: makeda/eugenio
                      tags:
                        - channel:github
                        - github_organization:makeda
                        - github_repository:makeda/eugenio
                        - github_issue:makeda/eugenio/#9
                      type: IssueActivity
                      updated_at: 2023-02-28T19:20:38.155Z
                      weight: "1.0"
                    id: 63rsLp
                    relationships:
                      activity_type:
                        data:
                          id: la4sVD
                          type: activity_type
                      member:
                        data:
                          id: By3S5j
                          type: member
                      repository:
                        data:
                          id: jP8TMj
                          type: repository
                    type: issue_activity
                  - attributes:
                      action: opened
                      activity_link: https://github.com/
                      created_at: 2023-02-28T19:20:38.097Z
                      g_created_at: 2023-02-28T20:20:38.088+01:00
                      g_html_url: https://github.com/
                      g_merged: true
                      g_merged_at: null
                      g_merged_by: null
                      g_number: 92
                      g_title: Cool PR title!
                      is_pull_request: null
                      key: carlos/julianfisher#92
                      occurred_at: 2023-02-28T19:20:38.088Z
                      orbit_url: http://localhost:3000/stacierau/activities/V5YsvV
                      properties:
                        github_organization: carlos
                        github_pull_request: carlos/julianfisher/#92
                        github_repository: carlos/julianfisher
                      tags:
                        - channel:github
                        - github_organization:carlos
                        - github_repository:carlos/julianfisher
                        - github_pull_request:carlos/julianfisher/#92
                      type: PullRequestActivity
                      updated_at: 2023-02-28T19:20:38.097Z
                      weight: "1.0"
                    id: V5YsvV
                    relationships:
                      activity_type:
                        data:
                          id: lnrs0l
                          type: activity_type
                      member:
                        data:
                          id: By3S5j
                          type: member
                      repository:
                        data:
                          id: 6l3Tz9
                          type: repository
                    type: pull_request_activity
                  - attributes:
                      action: spec_action
                      created_at: 2023-02-28T19:20:38.013Z
                      key: clé
                      occurred_at: 2023-02-28T19:20:38.011Z
                      orbit_url: http://localhost:3000/stacierau/activities/6a4sBp
                      properties:
                        prop_1: value_1
                        prop_2: value_2
                      tags:
                        - spec-tag-1
                        - spec-tag-2
                      type: SpecActivity
                      updated_at: 2023-02-28T19:20:38.013Z
                      weight: "1.0"
                    id: 6a4sBp
                    relationships:
                      activity_type:
                        data:
                          id: D2Esq5
                          type: activity_type
                      member:
                        data:
                          id: By3S5j
                          type: member
                      repository:
                        data:
                          id: jBlTg9
                          type: repository
                    type: spec_activity
                included:
                  - attributes:
                      channel: github
                      key: issues:opened
                      name: Opened an issue
                      short_name: Issue opened
                      source: github
                      weight: "6.0"
                    id: la4sVD
                    type: activity_type
                  - attributes:
                      activities_count: 0
                      activities_score: 0
                      avatar_url: http://github.com/avatar.png
                      bio: null
                      birthday: null
                      company: null
                      created: false
                      created_at: 2023-02-28T19:20:37.968Z
                      deleted_at: null
                      devto: null
                      discord: null
                      discourse: null
                      email: null
                      first_activity_occurred_at: null
                      github: null
                      github_followers: null
                      id: By3S5j
                      languages: null
                      last_activity_occurred_at: null
                      linkedin: null
                      location: null
                      love: null
                      merged_at: null
                      name: WaylonOsinski
                      orbit_level: null
                      orbit_url: http://localhost:3000/stacierau/members/waylonosinski
                      pronouns: null
                      reach: 0
                      shipping_address: null
                      slug: waylonosinski
                      source: installation
                      tag_list:
                        - ruby
                      tags:
                        - ruby
                      teammate: false
                      title: null
                      topics: null
                      tshirt: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2023-02-28T19:20:37.968Z
                      url: null
                    id: By3S5j
                    relationships:
                      identities:
                        data: []
                      organizations:
                        data: []
                    type: member
                  - attributes:
                      created_at: 2023-02-28T19:20:38.151Z
                      full_name: karitremblay/alia
                      name: alia
                      owner: karitremblay
                      updated_at: 2023-02-28T19:20:38.151Z
                    id: jP8TMj
                    type: repository
                  - attributes:
                      channel: mysource
                      key: spec:happened:1
                      name: praise Mysource 3
                      short_name: Spec Channel
                      source: mysource
                      weight: "1.0"
                    id: lnrs0l
                    type: activity_type
                  - attributes:
                      created_at: 2023-02-28T19:20:38.078Z
                      full_name: cedric/heike
                      name: heike
                      owner: cedric
                      updated_at: 2023-02-28T19:20:38.078Z
                    id: 6l3Tz9
                    type: repository
                  - attributes:
                      channel: mysource
                      key: spec_activity_type_key
                      name: win Mysource 2
                      short_name: Spec Channel
                      source: mysource
                      weight: "1.0"
                    id: D2Esq5
                    type: activity_type
                  - attributes:
                      created_at: 2023-02-28T19:20:37.992Z
                      full_name: orbit-love/orbit-model
                      name: natalya
                      owner: jacintoraynor
                      updated_at: 2023-02-28T19:20:37.992Z
                    id: jBlTg9
                    type: repository
                links:
                  first: http://localhost:3000/api/v1/stacierau/activities?activity_type=&affiliation=&cities%5B%5D=&company%5B%5D=&countries%5B%5D=&direction=DESC&end_date=&filters=true&identity=&items=10&member_tags=&orbit=&page=1&regions%5B%5D=&relative=&sort=occurred_at&start_date=&title%5B%5D=&workspace=stacierau
                  next: null
                  prev: null
          description: success
      security:
        - bearer: []
      summary: List activities for a workspace
      tags:
        - Activities
    post:
      description: Use this method when you know an identity of the member (github, email, twitter, etc.) but not their Orbit ID. Pass fields in the member object to update the member in addition to creating the activity.
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/activity_and_identity"
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  attributes:
                    action: happened
                    created_at: 2023-02-28T19:20:41.694Z
                    custom_context: null
                    custom_description: More info about the thing
                    custom_link: http://link.com/
                    custom_link_text: See the thing
                    custom_title: Did a thing
                    custom_type: custom-type
                    key: thing-123
                    occurred_at: 2023-02-28T19:20:41.689Z
                    orbit_url: http://localhost:3000/chassidymertz/activities/6zoslV
                    properties: {}
                    tags:
                      - product
                      - enterprise
                      - channel:custom
                      - custom_type:custom-type
                      - custom_title:did-a-thing
                    type: CustomActivity
                    updated_at: 2023-02-28T19:20:41.694Z
                    weight: "0.2"
                  id: 6zoslV
                  relationships:
                    activity_type:
                      data:
                        id: 574seD
                        type: activity_type
                    member:
                      data:
                        id: r9nS0B
                        type: member
                    user:
                      data:
                        id: DXKFEz
                        type: user
                  type: custom_activity
                included:
                  - attributes:
                      channel: custom
                      key: custom:happened
                      name: Something happened
                      short_name: Custom
                      source: custom
                      weight: "1.0"
                    id: 574seD
                    type: activity_type
                  - attributes:
                      email: null
                      name: Josh Dzielak
                      source: twitter
                      source_host: twitter.com
                      uid: "45297280"
                      username: dzello
                    id: 3YETv3
                    type: twitter_identity
                  - attributes:
                      activities_count: 0
                      activities_score: 0
                      avatar_url: https://pbs.twimg.com/profile_images/1110162582143406080/vu7_kN8f.png
                      bio: <a href='https://dzello.com/blog/2020/05/30/black-lives-matter/' target='_blank'>dzello.com/blog/2020/05/3…</a> Co-founder & CTO @OrbitModel · advocate for dev advocates 🥑 · formerly @algolia and @keen_io · Ruby · Rails · JAMstack · he/him
                      birthday: null
                      company: null
                      created: true
                      created_at: 2023-02-28T19:20:41.604Z
                      deleted_at: null
                      devto: null
                      discord: null
                      discourse: null
                      email: null
                      first_activity_occurred_at: null
                      github: null
                      github_followers: null
                      id: r9nS0B
                      languages: null
                      last_activity_occurred_at: null
                      linkedin: null
                      location: Paris, France
                      love: null
                      merged_at: null
                      name: Josh Dzielak
                      orbit_level: null
                      orbit_url: http://localhost:3000/chassidymertz/members/dzello
                      pronouns: null
                      reach: 8
                      shipping_address: null
                      slug: dzello
                      source: api
                      tag_list:
                        - one
                        - two
                      tags:
                        - one
                        - two
                      teammate: false
                      title: null
                      topics: null
                      tshirt: null
                      twitter: dzello
                      twitter_followers: 4598
                      updated_at: 2023-02-28T19:20:41.627Z
                      url: https://dzello.com/blog/2020/05/30/black-lives-matter/
                    id: r9nS0B
                    relationships:
                      identities:
                        data:
                          - id: 3YETv3
                            type: twitter_identity
                      organizations:
                        data: []
                    type: member
                  - attributes:
                      created_at: 2023-02-28T19:20:41.523Z
                      name: LoreleiSchmelerIV
                      updated_at: 2023-02-28T19:20:41.528Z
                    id: DXKFEz
                    type: user
          description: success
        "403":
          description: forbidden
        "422":
          content:
            application/json:
              example:
                errors:
                  base:
                    - Either identity or member name, email, GitHub, Twitter or Discourse is required
          description: unprocessable
      security:
        - bearer: []
      summary: Create a Custom or a Content activity for a new or existing member
      tags:
        - Activities
  "/{workspace_slug}/activities/{id}":
    get:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    action: spec_action
                    created_at: 2023-02-28T19:20:40.750Z
                    key: clé
                    occurred_at: 2023-02-28T19:20:40.744Z
                    orbit_url: http://localhost:3000/jamatremblaymd/activities/ZPosjV
                    properties:
                      prop_1: value_1
                      prop_2: value_2
                    tags:
                      - spec-tag-1
                      - spec-tag-2
                    type: SpecActivity
                    updated_at: 2023-02-28T19:20:40.750Z
                    weight: "1.0"
                  id: ZPosjV
                  relationships:
                    activity_type:
                      data:
                        id: D3jsky
                        type: activity_type
                    member:
                      data:
                        id: rmMSRr
                        type: member
                    repository:
                      data:
                        id: 9ABTo6
                        type: repository
                    user:
                      data:
                        id: OA3F51
                        type: user
                  type: spec_activity
                included:
                  - attributes:
                      channel: mysource
                      key: spec:happened:9
                      name: savvy Mysource 29
                      short_name: Spec Channel
                      source: mysource
                      weight: "1.0"
                    id: D3jsky
                    type: activity_type
                  - attributes:
                      activities_count: 0
                      activities_score: 0
                      avatar_url: http://github.com/avatar.png
                      bio: null
                      birthday: null
                      company: null
                      created: false
                      created_at: 2023-02-28T19:20:40.748Z
                      deleted_at: null
                      devto: null
                      discord: null
                      discourse: null
                      email: null
                      first_activity_occurred_at: null
                      github: null
                      github_followers: null
                      id: rmMSRr
                      languages: null
                      last_activity_occurred_at: null
                      linkedin: null
                      location: null
                      love: null
                      merged_at: null
                      name: KelleeMcLaughlin
                      orbit_level: null
                      orbit_url: http://localhost:3000/jamatremblaymd/members/kelleemclaughlin
                      pronouns: null
                      reach: 0
                      shipping_address: null
                      slug: kelleemclaughlin
                      source: installation
                      tag_list: []
                      tags: []
                      teammate: false
                      title: null
                      topics: null
                      tshirt: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2023-02-28T19:20:40.748Z
                      url: null
                    id: rmMSRr
                    relationships:
                      identities:
                        data: []
                      organizations:
                        data: []
                    type: member
                  - attributes:
                      created_at: 2023-02-28T19:20:40.713Z
                      full_name: corneliusokon/morristremblay
                      name: morristremblay
                      owner: corneliusokon
                      updated_at: 2023-02-28T19:20:40.713Z
                    id: 9ABTo6
                    type: repository
                  - attributes:
                      created_at: 2023-02-28T19:20:40.691Z
                      name: ErvinReilly
                      updated_at: 2023-02-28T19:20:40.695Z
                    id: OA3F51
                    type: user
          description: success
      security:
        - bearer: []
      summary: Get an activity in the workspace
      tags:
        - Activities
  "/{workspace_slug}/activity_types":
    get:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      channel: content
                      key: post:created
                      name: Created content
                      short_name: Content created
                      source: content
                      weight: "1.0"
                    id: 5Gds1O
                    type: activity_type
                  - attributes:
                      channel: product
                      key: activated_account
                      name: Activated their account on product
                      short_name: Activated account
                      source: product
                      weight: "6.0"
                    id: DOnsmL
                    type: activity_type
                links:
                  first: /mrsdaronpowlowski/activity_types?page=1
                  last: /mrsdaronpowlowski/activity_types?page=1
                  next: null
                  prev: null
          description: success
      security:
        - bearer: []
      summary: List all activity types for a workspace
      tags:
        - Activity Types
  "/{workspace_slug}/members":
    get:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: query
          name: affiliation
          schema:
            enum:
              - member
              - teammate
            type: string
        - description: The list of tags to filter against. Separate tags with `,` to do an intersection (AND), or with `|` to do a union (OR)
          in: query
          name: member_tags
          schema:
            type: string
        - description: The list of orbit levels to filter against. Accepted values are 1, 2, 3, 4, n. In the request, a format like `23` would include levels 2 and 3. `n` is for members with no orbit level.
          in: query
          name: orbit
          schema:
            type: string
        - description: Comma separated list of activity types
          in: query
          name: activity_type
          schema:
            enum:
              - discourse:topic:created
              - discourse:post:liked
              - discourse:user:created
              - discourse:post:created
              - slack:message:sent
              - slack:thread:replied
              - slack:channel:joined
              - note:created
              - post:created
              - issues:opened
              - discord:message:sent
              - issue_comment:created
              - discord:thread:replied
              - custom:happened
              - dev:comment
              - discord:message:replied
              - discord:server:joined
              - insided:conversation:started
              - fork:created
              - insided:idea:replied
              - insided:article:created
              - discussions:discussion_created
              - insided:question:replied
              - discussions:comment
              - discussions:reply
              - insided:article:replied
              - insided:question:asked
              - insided:conversation:replied
              - insided:idea:submitted
              - reddit:comment
              - reddit:post
              - stackoverflow:answer
              - linkedin:comment
              - pull_requests:opened
              - pull_requests:merged
              - star:created
              - stackoverflow:question
              - tweet:sent
              - twitter:followed
              - youtube:comment
            type: string
        - in: query
          name: identity
          schema:
            enum:
              - github
              - twitter
              - email
              - discourse
              - linkedin
              - devto
              - slack
              - discord
            type: string
        - description: Comma separated list of companies. The union (OR) of companies is applied.
          in: query
          name: company[]
          schema:
            type: string
        - description: Comma separated list of job titles. The union (OR) of job titles is applied.
          in: query
          name: title[]
          schema:
            type: string
        - description: Comma separated list of regions. The union (OR) of regions is applied.
          in: query
          name: regions[]
          schema:
            type: string
        - description: Comma separated list of countries. The union (OR) of countries is applied.
          in: query
          name: countries[]
          schema:
            type: string
        - description: Comma separated list of cities. The union (OR) of cities is applied.
          in: query
          name: cities[]
          schema:
            type: string
        - description: "Filter activities after this date. Format: YYYY-MM-DD."
          in: query
          name: start_date
          schema:
            type: string
        - description: "Filter activities before this date. Format: YYYY-MM-DD."
          in: query
          name: end_date
          schema:
            type: string
        - description: "Relative timeframes. Format: this_<integer>_<period>, with period in [days, weeks, months, years]. For example, this_30_days."
          in: query
          name: relative
          schema:
            type: string
        - in: query
          name: query
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: direction
          schema:
            enum:
              - ASC
              - DESC
            type: string
        - in: query
          name: items
          schema:
            enum:
              - "10"
              - "50"
              - "100"
            type: string
        - in: query
          name: activities_count_min
          schema:
            type: string
        - in: query
          name: activities_count_max
          schema:
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - activities_count
              - company
              - created_at
              - first_activity
              - github_followers
              - id
              - last_activity
              - location
              - love
              - name
              - orbit
              - reach
              - title
              - twitter_followers
              - updated_at
            type: string
        - deprecated: true
          description: Deprecated in favor of the activity_type parameter.
          in: query
          name: type
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      activities_count: 2
                      activities_score: 2
                      avatar_url: http://github.com/avatar.png
                      bio: null
                      birthday: null
                      company: null
                      created: false
                      created_at: 2023-02-28T19:20:49.655Z
                      deleted_at: null
                      devto: null
                      discord: null
                      discourse: null
                      email: null
                      first_activity_occurred_at: 2023-02-26T19:20:49.764Z
                      github: null
                      github_followers: null
                      id: jaPSJy
                      languages: null
                      last_activity_occurred_at: 2023-02-28T18:20:49.806Z
                      linkedin: null
                      location: null
                      love: null
                      merged_at: null
                      name: Sally
                      orbit_level: null
                      orbit_url: http://localhost:3000/vanstroman/members/sally
                      pronouns: null
                      reach: 0
                      shipping_address: null
                      slug: sally
                      source: installation
                      tag_list:
                        - ruby
                      tags:
                        - ruby
                      teammate: false
                      title: null
                      topics: null
                      tshirt: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2023-02-28T19:20:49.663Z
                      url: null
                    id: jaPSJy
                    relationships:
                      identities:
                        data:
                          - id: 5geTxn
                            type: spec_identity
                      organizations:
                        data:
                          - id: aWQFAB
                            type: organization
                    type: member
                  - attributes:
                      activities_count: 3
                      activities_score: 3
                      avatar_url: http://github.com/avatar.png
                      bio: null
                      birthday: null
                      company: null
                      created: false
                      created_at: 2023-02-28T19:20:49.635Z
                      deleted_at: null
                      devto: null
                      discord: null
                      discourse: null
                      email: null
                      first_activity_occurred_at: 2023-02-20T19:20:49.737Z
                      github: null
                      github_followers: null
                      id: 4EzSdZ
                      languages: null
                      last_activity_occurred_at: 2023-02-24T19:20:49.668Z
                      linkedin: null
                      location: null
                      love: null
                      merged_at: null
                      name: Josh
                      orbit_level: null
                      orbit_url: http://localhost:3000/vanstroman/members/josh
                      pronouns: null
                      reach: 0
                      shipping_address: null
                      slug: josh
                      source: installation
                      tag_list:
                        - ruby
                      tags:
                        - ruby
                      teammate: false
                      title: null
                      topics: null
                      tshirt: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2023-02-28T19:20:49.643Z
                      url: null
                    id: 4EzSdZ
                    relationships:
                      identities:
                        data:
                          - id: nbWTe1
                            type: spec_identity
                      organizations:
                        data: []
                    type: member
                included:
                  - id: "43"
                    type: spec_identity
                  - attributes:
                      active_since: null
                      created_at: 2023-02-28T19:20:49.844Z
                      crm_uid: null
                      crm_url: null
                      crunchbase: null
                      deal_closed_date: null
                      email_addresses: null
                      employees_count: null
                      estimated_annual_revenue: null
                      facebook: null
                      facebook_followers: null
                      founded_in: null
                      id: aWQFAB
                      industry: null
                      last_active: null
                      lifecycle_stage: null
                      linkedin: null
                      location: null
                      members_count: 1
                      name: MitchelHeaney
                      organization_type: null
                      owner_email: null
                      owner_name: null
                      price_plan: null
                      source: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2023-02-28T19:20:49.844Z
                      website: example-1.com
                    id: aWQFAB
                    type: organization
                  - id: "42"
                    type: spec_identity
                links:
                  first: http://localhost:3000/api/v1/vanstroman/members?activities_count_max=99&activities_count_min=1&activity_type=type%3Anew%2Cspec%3Aactivity&affiliation=&cities%5B%5D=&company%5B%5D=&countries%5B%5D=&direction=DESC&end_date=&identity=&items=10&member_tags=ruby%7Crails%2C-go&orbit=&page=1&query=&regions%5B%5D=&relative=&sort=last_activity&start_date=&title%5B%5D=&workspace=vanstroman
                  next: null
                  prev: null
          description: success
      security:
        - bearer: []
      summary: List members in a workspace
      tags:
        - Members
    post:
      description: This method is useful when you know a member's identity in another system and want to create or update the corresponding Orbit member. Identities can be specified in the identity object or member attributes like member.github. If no member exists, a new member will be created and linked to any provided identities.
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/member_and_identity"
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    activities_count: 0
                    activities_score: 0
                    avatar_url: http://github.com/avatar.png
                    bio: null
                    birthday: null
                    company: null
                    created: false
                    created_at: 2023-02-28T19:20:58.483Z
                    deleted_at: null
                    devto: null
                    discord: null
                    discourse: null
                    email: dzello@orbit.love
                    first_activity_occurred_at: null
                    github: dzello
                    github_followers: null
                    id: 4ndS8E
                    languages: null
                    last_activity_occurred_at: null
                    linkedin: null
                    location: null
                    love: null
                    merged_at: null
                    name: KaterineRuecker
                    orbit_level: null
                    orbit_url: http://localhost:3000/missmarvisblanda/members/katerineruecker
                    pronouns: null
                    reach: 0
                    shipping_address: null
                    slug: katerineruecker
                    source: installation
                    tag_list:
                      - one
                      - two
                    tags:
                      - one
                      - two
                    teammate: false
                    title: null
                    topics: null
                    tshirt: null
                    twitter: dzello
                    twitter_followers: null
                    updated_at: 2023-02-28T19:20:58.561Z
                    url: null
                  id: 4ndS8E
                  relationships:
                    identities:
                      data:
                        - id: 5ENTeK
                          type: github_identity
                        - id: nZRTEp
                          type: twitter_identity
                        - id: nqaT7d
                          type: email_identity
                    organizations:
                      data: []
                  type: member
                included:
                  - attributes:
                      email: null
                      name: null
                      source: github
                      source_host: github.com
                      uid: uid-72
                      username: dzello
                    id: 5ENTeK
                    type: github_identity
                  - attributes:
                      email: null
                      name: null
                      source: twitter
                      source_host: twitter.com
                      uid: null
                      username: dzello
                    id: nZRTEp
                    type: twitter_identity
                  - attributes:
                      email: dzello@orbit.love
                      name: dzello
                      source: email
                      source_host: email.host
                      uid: dzello@orbit.love
                      username: null
                    id: nqaT7d
                    type: email_identity
          description: success
        "201":
          content:
            application/json:
              example:
                data:
                  attributes:
                    activities_count: 0
                    activities_score: 0
                    avatar_url: https://avatars2.githubusercontent.com/u/174777?u=79e423dd07c19122115f52a1c97727ca193e6253&v=4
                    bio: Co-founder & CTO @orbit-love · Developer Advocate · formerly @algolia and @keen
                    birthday: null
                    company: "@orbit-love"
                    created: true
                    created_at: 2023-02-28T19:20:58.117Z
                    deleted_at: null
                    devto: null
                    discord: null
                    discourse: null
                    email: josh@orbit.love
                    first_activity_occurred_at: null
                    github: dzello
                    github_followers: 171
                    id: 40mSvV
                    languages: null
                    last_activity_occurred_at: null
                    linkedin: null
                    location: Paris
                    love: null
                    merged_at: null
                    name: Josh Dzielak
                    orbit_level: null
                    orbit_url: http://localhost:3000/waylonhickle/members/dzello
                    pronouns: null
                    reach: 8
                    shipping_address: null
                    slug: dzello
                    source: api
                    tag_list:
                      - one
                      - two
                    tags:
                      - one
                      - two
                    teammate: false
                    title: null
                    topics: null
                    tshirt: null
                    twitter: dzello
                    twitter_followers: null
                    updated_at: 2023-02-28T19:20:58.183Z
                    url: https://dzello.com/
                  id: 40mSvV
                  relationships:
                    identities:
                      data:
                        - id: 1ADTwV
                          type: github_identity
                        - id: 3RgTbZ
                          type: twitter_identity
                        - id: 3YETyv
                          type: email_identity
                    organizations:
                      data:
                        - id: n9WF2V
                          type: organization
                  type: member
                included:
                  - attributes:
                      email: null
                      name: Josh Dzielak
                      source: github
                      source_host: github.com
                      uid: "174777"
                      username: dzello
                    id: 1ADTwV
                    type: github_identity
                  - attributes:
                      email: null
                      name: null
                      source: twitter
                      source_host: twitter.com
                      uid: null
                      username: dzello
                    id: 3RgTbZ
                    type: twitter_identity
                  - attributes:
                      email: josh@orbit.love
                      name: josh
                      source: email
                      source_host: email.host
                      uid: josh@orbit.love
                      username: null
                    id: 3YETyv
                    type: email_identity
          description: created
        "403":
          description: forbidden
        "422":
          content:
            application/json:
              example:
                errors:
                  email:
                    - is invalid
                  name:
                    - can't be blank
          description: unprocessable
      security:
        - bearer: []
      summary: Create or update a member
      tags:
        - Members
  "/{workspace_slug}/members/find":
    get:
      description: Provide a source and one of username/uid/email params to return a member with that identity, if one exists. Common values for source include github, twitter, and email.
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: query
          name: source
          schema:
            type: string
        - in: query
          name: source_host
          schema:
            type: string
        - in: query
          name: uid
          schema:
            type: string
        - in: query
          name: username
          schema:
            type: string
        - in: query
          name: email
          schema:
            type: string
        - description: Deprecated, please use source=github and username=<username> instead
          in: query
          name: github
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    activities_count: 0
                    activities_score: 0
                    avatar_url: http://github.com/avatar.png
                    bio: null
                    birthday: null
                    company: null
                    created: false
                    created_at: 2023-02-28T19:21:07.970Z
                    deleted_at: null
                    devto: null
                    discord: null
                    discourse: null
                    email: null
                    first_activity_occurred_at: null
                    github: dzello
                    github_followers: null
                    id: rRxS6X
                    languages: null
                    last_activity_occurred_at: null
                    linkedin: null
                    location: null
                    love: null
                    merged_at: null
                    name: MrsChiCummerata
                    orbit_level: null
                    orbit_url: http://localhost:3000/glendaschmidt/members/mrschicummerata
                    pronouns: null
                    reach: 0
                    shipping_address: null
                    slug: mrschicummerata
                    source: installation
                    tag_list: []
                    tags: []
                    teammate: false
                    title: null
                    topics: null
                    tshirt: null
                    twitter: null
                    twitter_followers: null
                    updated_at: 2023-02-28T19:21:07.970Z
                    url: null
                  id: rRxS6X
                  relationships:
                    identities:
                      data:
                        - id: 1JrTad
                          type: github_identity
                    organizations:
                      data: []
                  type: member
                included:
                  - attributes:
                      email: null
                      name: null
                      source: github
                      source_host: github.com
                      uid: uid-82
                      username: dzello
                    id: 1JrTad
                    type: github_identity
          description: success
        "404":
          content:
            application/json:
              example:
                errors: No member matching this identity was found
          description: Not found
      security:
        - bearer: []
      summary: Find a member by an identity
      tags:
        - Members
  "/{workspace_slug}/members/{member_slug}":
    delete:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: path
          name: member_slug
          required: true
          schema:
            type: string
      responses:
        "204":
          description: member deleted
        "403":
          description: forbidden
      security:
        - bearer: []
      summary: Delete a member
      tags:
        - Members
    get:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: path
          name: member_slug
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    activities_count: 0
                    activities_score: 0
                    avatar_url: http://github.com/avatar.png
                    bio: null
                    birthday: null
                    company: null
                    created: false
                    created_at: 2023-02-28T19:20:56.012Z
                    deleted_at: null
                    devto: null
                    discord: null
                    discourse: null
                    email: null
                    first_activity_occurred_at: null
                    github: null
                    github_followers: null
                    id: jWXSAW
                    languages: null
                    last_activity_occurred_at: null
                    linkedin: null
                    location: null
                    love: null
                    merged_at: null
                    name: Josh
                    orbit_level: null
                    orbit_url: http://localhost:3000/mrsroytoy/members/josh
                    pronouns: null
                    reach: 0
                    shipping_address: null
                    slug: josh
                    source: installation
                    tag_list: []
                    tags: []
                    teammate: false
                    title: null
                    topics: null
                    tshirt: null
                    twitter: null
                    twitter_followers: null
                    updated_at: 2023-02-28T19:20:56.012Z
                    url: null
                  id: jWXSAW
                  relationships:
                    identities:
                      data:
                        - id: nZRTEE
                          type: spec_identity
                    organizations:
                      data:
                        - id: BqkFva
                          type: organization
                  type: member
                included:
                  - id: "90"
                    type: spec_identity
                  - attributes:
                      active_since: null
                      created_at: 2023-02-28T19:20:56.022Z
                      crm_uid: null
                      crm_url: null
                      crunchbase: null
                      deal_closed_date: null
                      email_addresses: null
                      employees_count: null
                      estimated_annual_revenue: null
                      facebook: null
                      facebook_followers: null
                      founded_in: null
                      id: BqkFva
                      industry: null
                      last_active: null
                      lifecycle_stage: null
                      linkedin: null
                      location: null
                      members_count: 1
                      name: ReubenMcGlynn
                      organization_type: null
                      owner_email: null
                      owner_name: null
                      price_plan: null
                      source: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2023-02-28T19:20:56.022Z
                      website: example-25.com
                    id: BqkFva
                    type: organization
          description: success
      security:
        - bearer: []
      summary: Get a member
      tags:
        - Members
    put:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: path
          name: member_slug
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/member"
      responses:
        "204":
          description: member updated
        "403":
          description: forbidden
      security:
        - bearer: []
      summary: Update a member
      tags:
        - Members
  "/{workspace_slug}/members/{member_slug}/activities":
    get:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: path
          name: member_slug
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: direction
          schema:
            enum:
              - ASC
              - DESC
            type: string
        - in: query
          name: items
          schema:
            enum:
              - "10"
              - "50"
              - "100"
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - occurred_at
              - member
            type: string
        - in: query
          name: activity_type
          schema:
            type: string
        - deprecated: true
          description: Deprecated in favor of the activity_type parameter.
          in: query
          name: type
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      action: spec_action
                      created_at: 2023-02-28T19:20:45.066Z
                      key: clé
                      occurred_at: 2023-02-28T19:20:45.064Z
                      orbit_url: http://localhost:3000/deangelokovacek/activities/VlEsOe
                      properties:
                        prop_1: value_1
                        prop_2: value_2
                      tags:
                        - spec-tag-1
                        - spec-tag-2
                      type: SpecActivity
                      updated_at: 2023-02-28T19:20:45.066Z
                      weight: "1.0"
                    id: VlEsOe
                    relationships:
                      activity_type:
                        data:
                          id: oQQsBb
                          type: activity_type
                      member:
                        data:
                          id: BloSvr
                          type: member
                    type: spec_activity
                included:
                  - attributes:
                      channel: mysource
                      key: spec:activity
                      name: calculate Mysource 34
                      short_name: Spec Channel
                      source: mysource
                      weight: "1.0"
                    id: oQQsBb
                    type: activity_type
                  - attributes:
                      activities_count: 0
                      activities_score: 0
                      avatar_url: http://github.com/avatar.png
                      bio: null
                      birthday: null
                      company: null
                      created: false
                      created_at: 2023-02-28T19:20:45.004Z
                      deleted_at: null
                      devto: null
                      discord: null
                      discourse: null
                      email: null
                      first_activity_occurred_at: null
                      github: null
                      github_followers: null
                      id: BloSvr
                      languages: null
                      last_activity_occurred_at: null
                      linkedin: null
                      location: null
                      love: null
                      merged_at: null
                      name: LoiseRoberts
                      orbit_level: null
                      orbit_url: http://localhost:3000/deangelokovacek/members/loiseroberts
                      pronouns: null
                      reach: 0
                      shipping_address: null
                      slug: loiseroberts
                      source: installation
                      tag_list: []
                      tags: []
                      teammate: false
                      title: null
                      topics: null
                      tshirt: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2023-02-28T19:20:45.004Z
                      url: null
                    id: BloSvr
                    relationships:
                      identities:
                        data: []
                      organizations:
                        data: []
                    type: member
                links:
                  first: /deangelokovacek/members/loiseroberts/activities?page=1&direction=DESC&items=10&sort=occurred_at&activity_type=spec%3Aactivity&type=
                  last: /deangelokovacek/members/loiseroberts/activities?page=1&direction=DESC&items=10&sort=occurred_at&activity_type=spec%3Aactivity&type=
                  next: null
                  prev: null
          description: success
      security:
        - bearer: []
      summary: List activities for a member
      tags:
        - Activities
    post:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: path
          name: member_slug
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/custom_or_post_activity"
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  attributes:
                    action: happened
                    created_at: 2023-02-28T19:20:46.295Z
                    custom_context: null
                    custom_description: More info about the thing
                    custom_link: http://link.com/
                    custom_link_text: See the thing
                    custom_title: Did a thing
                    custom_type: custom-type
                    key: thing-123
                    occurred_at: 2023-02-28T19:20:46.292Z
                    orbit_url: http://localhost:3000/candycassin/activities/ZngsdG
                    properties: {}
                    tags:
                      - product
                      - enterprise
                      - channel:custom
                      - custom_type:custom-type
                      - custom_title:did-a-thing
                    type: CustomActivity
                    updated_at: 2023-02-28T19:20:46.295Z
                    weight: "8.0"
                  id: ZngsdG
                  relationships:
                    activity_type:
                      data:
                        id: 574seD
                        type: activity_type
                    member:
                      data:
                        id: 45PSyv
                        type: member
                    user:
                      data:
                        id: l6pF69
                        type: user
                  type: custom_activity
                included:
                  - attributes:
                      channel: custom
                      key: custom:happened
                      name: Something happened
                      short_name: Custom
                      source: custom
                      weight: "1.0"
                    id: 574seD
                    type: activity_type
                  - attributes:
                      activities_count: 0
                      activities_score: 0
                      avatar_url: http://github.com/avatar.png
                      bio: null
                      birthday: null
                      company: null
                      created: false
                      created_at: 2023-02-28T19:20:46.260Z
                      deleted_at: null
                      devto: null
                      discord: null
                      discourse: null
                      email: null
                      first_activity_occurred_at: null
                      github: null
                      github_followers: null
                      id: 45PSyv
                      languages: null
                      last_activity_occurred_at: null
                      linkedin: null
                      location: null
                      love: null
                      merged_at: null
                      name: BurmaDibbert
                      orbit_level: null
                      orbit_url: http://localhost:3000/candycassin/members/burmadibbert
                      pronouns: null
                      reach: 0
                      shipping_address: null
                      slug: burmadibbert
                      source: installation
                      tag_list: []
                      tags: []
                      teammate: false
                      title: null
                      topics: null
                      tshirt: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2023-02-28T19:20:46.260Z
                      url: null
                    id: 45PSyv
                    relationships:
                      identities:
                        data: []
                      organizations:
                        data: []
                    type: member
                  - attributes:
                      created_at: 2023-02-28T19:20:46.270Z
                      name: KennyMacGyver
                      updated_at: 2023-02-28T19:20:46.275Z
                    id: l6pF69
                    type: user
          description: success
        "403":
          description: forbidden
        "422":
          content:
            application/json:
              example:
                errors:
                  custom_title:
                    - can't be blank
          description: unprocessable entity
      security:
        - bearer: []
      summary: Create a Custom or a Content activity for a member
      tags:
        - Activities
  "/{workspace_slug}/members/{member_slug}/activities/{id}":
    delete:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: path
          name: member_slug
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: activity deleted
        "403":
          description: forbidden
      security:
        - bearer: []
      summary: Delete a post activity
      tags:
        - Activities
    put:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: path
          name: member_slug
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/activity"
      responses:
        "204":
          description: activity updated
        "403":
          description: forbidden
        "422":
          content:
            application/json:
              example:
                errors:
                  custom_title:
                    - can't be blank
          description: unprocessable entity
      security:
        - bearer: []
      summary: Update a custom activity for a member
      tags:
        - Activities
  "/{workspace_slug}/members/{member_slug}/identities":
    delete:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: path
          name: member_slug
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/identity"
      responses:
        "204":
          description: identity deleted
        "403":
          description: forbidden
        "422":
          content:
            application/json:
              example:
                errors:
                  identity:
                    - is not attached to this member
          description: identity is invalid or not attached to member
      security:
        - bearer: []
      summary: Remove identity from a member
      tags:
        - Members
    post:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: path
          name: member_slug
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/identity"
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  attributes:
                    email: josh@orbit.love
                    name: Josh
                    source: twitch
                    source_host: twitch.tv
                    uid: "12345"
                    username: dzello1
                  id: 1adTJn
                  type: other_identity
          description: success
        "403":
          description: forbidden
        "422":
          content:
            application/json:
              example:
                errors:
                  identity_id:
                    - has already been taken
          description: identity is invalid
      security:
        - bearer: []
      summary: Add identity to a member
      tags:
        - Members
  "/{workspace_slug}/members/{member_slug}/notes":
    get:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: path
          name: member_slug
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      body: heyo
                      created_at: 2023-02-28T19:20:49.147Z
                      id: o5Nf2J
                      updated_at: 2023-02-28T19:20:49.147Z
                    id: o5Nf2J
                    relationships:
                      member:
                        data:
                          id: jPESm8
                          type: member
                      user:
                        data:
                          id: lqAFn8
                          type: user
                    type: note
                included:
                  - attributes:
                      activities_count: 0
                      activities_score: 0
                      avatar_url: http://github.com/avatar.png
                      bio: null
                      birthday: null
                      company: null
                      created: false
                      created_at: 2023-02-28T19:20:49.130Z
                      deleted_at: null
                      devto: null
                      discord: null
                      discourse: null
                      email: null
                      first_activity_occurred_at: null
                      github: null
                      github_followers: null
                      id: jPESm8
                      languages: null
                      last_activity_occurred_at: null
                      linkedin: null
                      location: null
                      love: null
                      merged_at: null
                      name: ClydeHirtheII
                      orbit_level: null
                      orbit_url: http://localhost:3000/misstyreecorkery/members/clydehirtheii
                      pronouns: null
                      reach: 0
                      shipping_address: null
                      slug: clydehirtheii
                      source: installation
                      tag_list: []
                      tags: []
                      teammate: false
                      title: null
                      topics: null
                      tshirt: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2023-02-28T19:20:49.130Z
                      url: null
                    id: jPESm8
                    relationships:
                      identities:
                        data: []
                      organizations:
                        data: []
                    type: member
                  - attributes:
                      created_at: 2023-02-28T19:20:49.139Z
                      name: MrsDominicaLabadie
                      updated_at: 2023-02-28T19:20:49.145Z
                    id: lqAFn8
                    type: user
                links:
                  first: /misstyreecorkery/members/clydehirtheii/notes?page=1
                  last: /misstyreecorkery/members/clydehirtheii/notes?page=1
                  next: null
                  prev: null
          description: success
      security:
        - bearer: []
      summary: Get the member's notes
      tags:
        - Notes
    post:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: path
          name: member_slug
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/note"
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  attributes:
                    body: heyo
                    created_at: 2023-02-28T19:20:48.856Z
                    id: qR4fVo
                    updated_at: 2023-02-28T19:20:48.856Z
                  id: qR4fVo
                  relationships:
                    member:
                      data:
                        id: jDdSYG
                        type: member
                    user:
                      data:
                        id: ZgeFNz
                        type: user
                  type: note
          description: note created
        "403":
          description: forbidden
      security:
        - bearer: []
      summary: Create a note
      tags:
        - Notes
  "/{workspace_slug}/members/{member_slug}/notes/{id}":
    put:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: path
          name: member_slug
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/note"
      responses:
        "204":
          description: note updated
      security:
        - bearer: []
      summary: Update a note
      tags:
        - Notes
  "/{workspace_slug}/organizations":
    get:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: query
          name: query
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: direction
          schema:
            enum:
              - ASC
              - DESC
            type: string
        - in: query
          name: items
          schema:
            enum:
              - "10"
              - "50"
              - "100"
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - name
              - website
              - members_count
              - employees_count
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      active_since: null
                      created_at: 2023-02-28T19:21:11.655Z
                      crm_uid: null
                      crm_url: null
                      crunchbase: null
                      deal_closed_date: null
                      email_addresses: null
                      employees_count: null
                      estimated_annual_revenue: null
                      facebook: null
                      facebook_followers: null
                      founded_in: null
                      id: nAeF3p
                      industry: null
                      last_active: null
                      lifecycle_stage: null
                      linkedin: null
                      location: null
                      members_count: 1
                      name: Organization2
                      organization_type: null
                      owner_email: null
                      owner_name: null
                      price_plan: null
                      source: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2023-02-28T19:21:11.655Z
                      website: org2.example.com
                    id: nAeF3p
                    type: organization
                  - attributes:
                      active_since: null
                      created_at: 2023-02-28T19:21:11.652Z
                      crm_uid: abcde123451
                      crm_url: https://example.com/1
                      crunchbase: null
                      deal_closed_date: 2023-02-28T19:21:11.668Z
                      email_addresses: null
                      employees_count: null
                      estimated_annual_revenue: null
                      facebook: null
                      facebook_followers: null
                      founded_in: null
                      id: n27FjR
                      industry: null
                      last_active: null
                      lifecycle_stage: customer
                      linkedin: null
                      location: null
                      members_count: 1
                      name: Organization1
                      organization_type: null
                      owner_email: john.toto@example.com
                      owner_name: John Toto
                      price_plan: Enterprise
                      source: Fake CRM
                      twitter: null
                      twitter_followers: null
                      updated_at: 2023-02-28T19:21:11.652Z
                      website: org1.example.com
                    id: n27FjR
                    type: organization
                links:
                  first: http://localhost:3000/api/v1/bartonbrakus/organizations?direction=DESC&items=10&page=1&query=&sort=name&workspace=bartonbrakus
                  next: null
                  prev: null
          description: success
      security:
        - bearer: []
      summary: List organizations in a workspace
      tags:
        - Organizations
  "/{workspace_slug}/organizations/{organization_id}":
    get:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    active_since: null
                    created_at: 2023-02-28T19:21:12.080Z
                    crm_uid: null
                    crm_url: null
                    crunchbase: null
                    deal_closed_date: null
                    email_addresses: null
                    employees_count: null
                    estimated_annual_revenue: null
                    facebook: null
                    facebook_followers: null
                    founded_in: null
                    id: VlOFP7
                    industry: null
                    last_active: null
                    lifecycle_stage: null
                    linkedin: null
                    location: null
                    members_count: 1
                    name: Organization1
                    organization_type: null
                    owner_email: null
                    owner_name: null
                    price_plan: null
                    source: null
                    twitter: null
                    twitter_followers: null
                    updated_at: 2023-02-28T19:21:12.080Z
                    website: example-47.com
                  id: VlOFP7
                  type: organization
          description: success
      security:
        - bearer: []
      summary: Get an organization
      tags:
        - Organizations
    put:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/organization"
      responses:
        "204":
          description: organization updated
        "403":
          description: forbidden
        "422":
          description: deal_closed_date is invalid
      security:
        - bearer: []
      summary: Update an organization
      tags:
        - Organizations
  "/{workspace_slug}/organizations/{organization_id}/activities":
    get:
      parameters:
        - in: path
          name: workspace_slug
          required: true
          schema:
            type: string
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: string
        - in: query
          name: direction
          schema:
            enum:
              - ASC
              - DESC
            type: string
        - in: query
          name: items
          schema:
            enum:
              - "10"
              - "50"
              - "100"
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - occurred_at
              - member
            type: string
        - in: query
          name: activity_type
          schema:
            enum:
              - content
              - custom
              - discord
              - discourse
              - github
              - slack
              - twitter
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      action: sent
                      activity_link: https://discord.com/channels/823735870825037844/823735870825037847/9224118976
                      created_at: 2023-02-28T19:21:08.732Z
                      key: "9224118976"
                      occurred_at: 2023-02-27T19:21:08.701Z
                      orbit_url: http://localhost:3000/trinaspencerii/activities/pjLsLQ
                      properties:
                        discord_channel: general
                        discord_server: Orbit-Sandbox
                      tags:
                        - channel:discord
                        - discord_server:Orbit Sandbox
                        - discord_channel:general
                      type: DiscordMessageSentActivity
                      updated_at: 2023-02-28T19:21:08.732Z
                      weight: "0.5"
                    id: pjLsLQ
                    relationships:
                      activity_type:
                        data:
                          id: DzaseX
                          type: activity_type
                      member:
                        data:
                          id: BwNSO9
                          type: member
                    type: discord_message_sent_activity
                  - attributes:
                      action: sent
                      activity_link: https://discord.com/channels/823735870825037844/823735870825037847/9839402447
                      created_at: 2023-02-28T19:21:08.838Z
                      key: "9839402447"
                      occurred_at: 2023-02-26T19:21:08.817Z
                      orbit_url: http://localhost:3000/trinaspencerii/activities/6ARs9g
                      properties:
                        discord_channel: general
                        discord_server: Orbit-Sandbox
                      tags:
                        - channel:discord
                        - discord_server:Orbit Sandbox
                        - discord_channel:general
                      type: DiscordMessageSentActivity
                      updated_at: 2023-02-28T19:21:08.838Z
                      weight: "0.5"
                    id: 6ARs9g
                    relationships:
                      activity_type:
                        data:
                          id: DzaseX
                          type: activity_type
                      member:
                        data:
                          id: r9nSZ9
                          type: member
                    type: discord_message_sent_activity
                  - attributes:
                      action: created
                      activity_link: https://github.com/buckhudson/nadinequigley
                      created_at: 2023-02-28T19:21:08.797Z
                      key: github_activity_key:9
                      occurred_at: 2023-02-25T19:21:08.747Z
                      orbit_url: http://localhost:3000/trinaspencerii/activities/VWesGO
                      properties:
                        github_organization: buckhudson
                        github_repository: buckhudson/nadinequigley
                      tags:
                        - channel:github
                        - github_organization:buckhudson
                        - github_repository:buckhudson/nadinequigley
                      type: GithubActivity
                      updated_at: 2023-02-28T19:21:08.797Z
                      weight: "1.0"
                    id: VWesGO
                    relationships:
                      activity_type:
                        data:
                          id: owxs43
                          type: activity_type
                      member:
                        data:
                          id: BwNSO9
                          type: member
                      repository:
                        data:
                          id: 9mPTrn
                          type: repository
                    type: github_activity
                included:
                  - attributes:
                      channel: discord
                      key: discord:message:sent
                      name: Sent a message in Discord
                      short_name: Discord message
                      source: discord
                      weight: "1.0"
                    id: DzaseX
                    type: activity_type
                  - attributes:
                      activities_count: 0
                      activities_score: 0
                      avatar_url: http://github.com/avatar.png
                      bio: null
                      birthday: null
                      company: null
                      created: false
                      created_at: 2023-02-28T19:21:08.692Z
                      deleted_at: null
                      devto: null
                      discord: null
                      discourse: null
                      email: null
                      first_activity_occurred_at: null
                      github: null
                      github_followers: null
                      id: BwNSO9
                      languages: null
                      last_activity_occurred_at: null
                      linkedin: null
                      location: null
                      love: null
                      merged_at: null
                      name: John Doe
                      orbit_level: null
                      orbit_url: http://localhost:3000/trinaspencerii/members/john-doe
                      pronouns: null
                      reach: 0
                      shipping_address: null
                      slug: john-doe
                      source: installation
                      tag_list: []
                      tags: []
                      teammate: false
                      title: null
                      topics: null
                      tshirt: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2023-02-28T19:21:08.692Z
                      url: null
                    id: BwNSO9
                    relationships:
                      identities:
                        data: []
                      organizations:
                        data:
                          - id: nb0FmD
                            type: organization
                    type: member
                  - attributes:
                      activities_count: 0
                      activities_score: 0
                      avatar_url: http://github.com/avatar.png
                      bio: null
                      birthday: null
                      company: null
                      created: false
                      created_at: 2023-02-28T19:21:08.809Z
                      deleted_at: null
                      devto: null
                      discord: null
                      discourse: null
                      email: null
                      first_activity_occurred_at: null
                      github: null
                      github_followers: null
                      id: r9nSZ9
                      languages: null
                      last_activity_occurred_at: null
                      linkedin: null
                      location: null
                      love: null
                      merged_at: null
                      name: Jane Smith
                      orbit_level: null
                      orbit_url: http://localhost:3000/trinaspencerii/members/jane-smith
                      pronouns: null
                      reach: 0
                      shipping_address: null
                      slug: jane-smith
                      source: installation
                      tag_list: []
                      tags: []
                      teammate: false
                      title: null
                      topics: null
                      tshirt: null
                      twitter: null
                      twitter_followers: null
                      updated_at: 2023-02-28T19:21:08.809Z
                      url: null
                    id: r9nSZ9
                    relationships:
                      identities:
                        data: []
                      organizations:
                        data:
                          - id: nb0FmD
                            type: organization
                    type: member
                  - attributes:
                      channel: mysource
                      key: spec:happened:13
                      name: send Mysource 101
                      short_name: Spec Channel
                      source: mysource
                      weight: "1.0"
                    id: owxs43
[...]
