swagger: '2.0'
info:
  version: '2017-10-26'
  x-release: v4
  title: Amazon Transcribe Service
  description: Operations and objects for transcribing speech to text.
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: transcribe
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/transcribe-2017-10-26.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/transcribe/'
host: transcribe.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: CreateVocabulary
      description: Creates a new custom vocabulary that you can use to change the way Amazon Transcribe handles transcription of an audio file.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateVocabularyResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateVocabularyRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteVocabulary':
    post:
      operationId: DeleteVocabulary
      description: 'Deletes a vocabulary from Amazon Transcribe. '
      responses:
        '200':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteVocabularyRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetTranscriptionJob':
    post:
      operationId: GetTranscriptionJob
      description: 'Returns information about a transcription job. To see the status of the job, check the <code>TranscriptionJobStatus</code> field. If the status is <code>COMPLETED</code>, the job is finished and you can find the results at the location specified in the <code>TranscriptionFileUri</code> field.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetTranscriptionJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetTranscriptionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetVocabulary':
    post:
      operationId: GetVocabulary
      description: Gets information about a vocabulary.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetVocabularyResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetVocabularyRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListTranscriptionJobs':
    post:
      operationId: ListTranscriptionJobs
      description: Lists transcription jobs with the specified status.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTranscriptionJobsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTranscriptionJobsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListVocabularies':
    post:
      operationId: ListVocabularies
      description: 'Returns a list of vocabularies that match the specified criteria. If no criteria are specified, returns the entire list of vocabularies.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListVocabulariesResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListVocabulariesRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartTranscriptionJob':
    post:
      operationId: StartTranscriptionJob
      description: Starts an asynchronous job to transcribe speech to text.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartTranscriptionJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartTranscriptionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateVocabulary':
    post:
      operationId: UpdateVocabulary
      description: Updates an existing vocabulary with new values. The <code>UpdateVocabulary</code> operation overwrites all of the existing information with the values that you provide in the request.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateVocabularyResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateVocabularyRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  BadRequestException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/FailureReason'
    description: 'Your request didn''t pass one or more validation tests. For example, a name already exists when creating a resource or a name may not exist when getting a transcription job or custom vocabulary. See the exception <code>Message</code> field for more information.'
  Boolean:
    type: boolean
  ConflictException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/String'
    description: '<p>When you are using the <code>StartTranscriptionJob</code> operation, the <code>JobName</code> field is a duplicate of a previously entered job name. Resend your request with a different name.</p> <p>When you are using the <code>UpdateVocabulary</code> operation, there are two jobs running at the same time. Resend the second request later.</p>'
  CreateVocabularyRequest:
    type: object
    required:
      - VocabularyName
      - LanguageCode
      - Phrases
    properties:
      VocabularyName:
        $ref: '#/definitions/VocabularyName'
        description: The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code of the vocabulary entries.
      Phrases:
        $ref: '#/definitions/Phrases'
        description: 'An array of strings that contains the vocabulary entries. '
  CreateVocabularyResponse:
    type: object
    properties:
      VocabularyName:
        $ref: '#/definitions/VocabularyName'
        description: The name of the vocabulary.
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code of the vocabulary entries.
      VocabularyState:
        $ref: '#/definitions/VocabularyState'
        description: The processing state of the vocabulary. When the <code>VocabularyState</code> field contains <code>READY</code> the vocabulary is ready to be used in a <code>StartTranscriptionJob</code> request.
      LastModifiedTime:
        $ref: '#/definitions/DateTime'
        description: The date and time that the vocabulary was created.
      FailureReason:
        $ref: '#/definitions/FailureReason'
        description: 'If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.'
  DateTime:
    type: string
    format: date-time
  DeleteVocabularyRequest:
    type: object
    required:
      - VocabularyName
    properties:
      VocabularyName:
        $ref: '#/definitions/VocabularyName'
        description: 'The name of the vocabulary to delete. '
  FailureReason:
    type: string
  GetTranscriptionJobRequest:
    type: object
    required:
      - TranscriptionJobName
    properties:
      TranscriptionJobName:
        $ref: '#/definitions/TranscriptionJobName'
        description: The name of the job.
  GetTranscriptionJobResponse:
    type: object
    properties:
      TranscriptionJob:
        $ref: '#/definitions/TranscriptionJob'
        description: An object that contains the results of the transcription job.
  GetVocabularyRequest:
    type: object
    required:
      - VocabularyName
    properties:
      VocabularyName:
        $ref: '#/definitions/VocabularyName'
        description: The name of the vocabulary to return information about. The name is case-sensitive.
  GetVocabularyResponse:
    type: object
    properties:
      VocabularyName:
        $ref: '#/definitions/VocabularyName'
        description: The name of the vocabulary to return.
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code of the vocabulary entries.
      VocabularyState:
        $ref: '#/definitions/VocabularyState'
        description: The processing state of the vocabulary.
      LastModifiedTime:
        $ref: '#/definitions/DateTime'
        description: The date and time that the vocabulary was last modified.
      FailureReason:
        $ref: '#/definitions/FailureReason'
        description: 'If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.'
      DownloadUri:
        $ref: '#/definitions/Uri'
        description: The S3 location where the vocabulary is stored. Use this URI to get the contents of the vocabulary. The URI is available for a limited time.
  InternalFailureException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/String'
    description: There was an internal error. Check the error message and try your request again.
  LanguageCode:
    type: string
    enum:
      - en-US
      - es-US
  LimitExceededException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/String'
    description: 'Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.'
  ListTranscriptionJobsRequest:
    type: object
    properties:
      Status:
        $ref: '#/definitions/TranscriptionJobStatus'
        description: 'When specified, returns only transcription jobs with the specified status.'
      JobNameContains:
        $ref: '#/definitions/TranscriptionJobName'
        description: 'When specified, the jobs returned in the list are limited to jobs whose name contains the specified string.'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If the result of the previous request to <code>ListTranscriptionJobs</code> was truncated, include the <code>NextToken</code> to fetch the next set of jobs.'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of jobs to return in the response. If there are fewer results in the list, this response contains only the actual results.'
  ListTranscriptionJobsResponse:
    type: object
    properties:
      Status:
        $ref: '#/definitions/TranscriptionJobStatus'
        description: The requested status of the jobs returned.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The <code>ListTranscriptionJobs</code> operation returns a page of jobs at a time. The maximum size of the page is set by the <code>MaxResults</code> parameter. If there are more jobs in the list than the page size, Amazon Transcribe returns the <code>NextPage</code> token. Include the token in the next request to the <code>ListTranscriptionJobs</code> operation to return in the next page of jobs.'
      TranscriptionJobSummaries:
        $ref: '#/definitions/TranscriptionJobSummaries'
        description: A list of objects containing summary information for a transcription job.
  ListVocabulariesRequest:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If the result of the previous request to <code>ListVocabularies</code> was truncated, include the <code>NextToken</code> to fetch the next set of jobs.'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of vocabularies to return in the response. If there are fewer results in the list, this response contains only the actual results.'
      StateEquals:
        $ref: '#/definitions/VocabularyState'
        description: 'When specified, only returns vocabularies with the <code>VocabularyState</code> field equal to the specified state.'
      NameContains:
        $ref: '#/definitions/VocabularyName'
        description: 'When specified, the vocabularies returned in the list are limited to vocabularies whose name contains the specified string. The search is case-insensitive, <code>ListVocabularies</code> will return both "vocabularyname" and "VocabularyName" in the response list.'
  ListVocabulariesResponse:
    type: object
    properties:
      Status:
        $ref: '#/definitions/TranscriptionJobStatus'
        description: The requested vocabulary state.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The <code>ListVocabularies</code> operation returns a page of vocabularies at a time. The maximum size of the page is set by the <code>MaxResults</code> parameter. If there are more jobs in the list than the page size, Amazon Transcribe returns the <code>NextPage</code> token. Include the token in the next request to the <code>ListVocabularies</code> operation to return in the next page of jobs.'
      Vocabularies:
        $ref: '#/definitions/Vocabularies'
        description: A list of objects that describe the vocabularies that match the search criteria in the request.
  MaxResults:
    type: integer
    minimum: 1
    maximum: 100
  MaxSpeakers:
    type: integer
    minimum: 2
    maximum: 10
  Media:
    type: object
    properties:
      MediaFileUri:
        $ref: '#/definitions/Uri'
        description: '<p>The S3 location of the input media file. The URI must be in the same region as the API endpoint that you are calling. The general form is:</p> <p> <code> https://&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/example.mp4</code> </p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/mediadocs/example.mp4</code> </p> <p>For more information about S3 object names, see <a href="http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p>'
    description: Describes the input media file in a transcription request.
  MediaFormat:
    type: string
    enum:
      - mp3
      - mp4
      - wav
      - flac
  MediaSampleRateHertz:
    type: integer
    minimum: 8000
    maximum: 48000
  NextToken:
    type: string
    maxLength: 8192
  NotFoundException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/String'
    description: We can't find the requested resource. Check the name and try your request again.
  OutputBucketName:
    type: string
    pattern: '[a-z0-9][\.\-a-z0-9]{1,61}[a-z0-9]'
  OutputLocationType:
    type: string
    enum:
      - CUSTOMER_BUCKET
      - SERVICE_BUCKET
  Phrase:
    type: string
    minLength: 0
    maxLength: 256
  Phrases:
    type: array
    items:
      $ref: '#/definitions/Phrase'
  Settings:
    type: object
    properties:
      VocabularyName:
        $ref: '#/definitions/VocabularyName'
        description: The name of a vocabulary to use when processing the transcription job.
      ShowSpeakerLabels:
        $ref: '#/definitions/Boolean'
        description: 'Determines whether the transcription job should use speaker recognition to identify different speakers in the input audio. If you set the <code>ShowSpeakerLabels</code> field to true, you must also set the maximum number of speaker labels <code>MaxSpeakerLabels</code> field.'
      MaxSpeakerLabels:
        $ref: '#/definitions/MaxSpeakers'
        description: 'The maximum number of speakers to identify in the input audio. If there are more speakers in the audio than this number, multiple speakers will be identified as a single speaker. If you specify the <code>MaxSpeakerLabels</code> field, you must set the <code>ShowSpeakerLabels</code> field to true.'
    description: Provides optional settings for the <code>StartTranscriptionJob</code> operation.
  StartTranscriptionJobRequest:
    type: object
    required:
      - TranscriptionJobName
      - LanguageCode
      - MediaFormat
      - Media
    properties:
      TranscriptionJobName:
        $ref: '#/definitions/TranscriptionJobName'
        description: The name of the job. You can't use the strings "." or ".." in the job name. The name must be unique within an AWS account.
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code for the language used in the input media file.
      MediaSampleRateHertz:
        $ref: '#/definitions/MediaSampleRateHertz'
        description: 'The sample rate, in Hertz, of the audio track in the input media file. '
      MediaFormat:
        $ref: '#/definitions/MediaFormat'
        description: The format of the input media file.
      Media:
        $ref: '#/definitions/Media'
        description: An object that describes the input media for a transcription job.
      OutputBucketName:
        $ref: '#/definitions/OutputBucketName'
        description: '<p>The location where the transcription is stored.</p> <p>If you set the <code>OutputBucketName</code>, Amazon Transcribe puts the transcription in the specified S3 bucket. When you call the <a>GetTranscriptionJob</a> operation, the operation returns this location in the <code>TranscriptFileUri</code> field. The S3 bucket must have permissions that allow Amazon Transcribe to put files in the bucket. For more information, see <a href="https://docs.aws.amazon.com/transcribe/latest/dg/access-control-managing-permissions.html#auth-role-iam-user">Permissions Required for IAM User Roles</a>.</p> <p>If you don''t set the <code>OutputBucketName</code>, Amazon Transcribe generates a pre-signed URL, a shareable URL that provides secure access to your transcription, and returns it in the <code>TranscriptFileUri</code> field. Use this URL to download the transcription.</p>'
      Settings:
        $ref: '#/definitions/Settings'
        description: A <code>Settings</code> object that provides optional settings for a transcription job.
  StartTranscriptionJobResponse:
    type: object
    properties:
      TranscriptionJob:
        $ref: '#/definitions/TranscriptionJob'
        description: An object containing details of the asynchronous transcription job.
  String:
    type: string
  Transcript:
    type: object
    properties:
      TranscriptFileUri:
        $ref: '#/definitions/Uri'
        description: '<p>The location where the transcription is stored.</p> <p>Use this URI to access the transcription. If you specified an S3 bucket in the <code>OutputBucketName</code> field when you created the job, this is the URI of that bucket. If you chose to store the transcription in Amazon Transcribe, this is a shareable URL that provides secure access to that location.</p>'
    description: Identifies the location of a transcription.
  TranscriptionJob:
    type: object
    properties:
      TranscriptionJobName:
        $ref: '#/definitions/TranscriptionJobName'
        description: The name of the transcription job.
      TranscriptionJobStatus:
        $ref: '#/definitions/TranscriptionJobStatus'
        description: The status of the transcription job.
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code for the input speech.
      MediaSampleRateHertz:
        $ref: '#/definitions/MediaSampleRateHertz'
        description: 'The sample rate, in Hertz, of the audio track in the input media file. '
      MediaFormat:
        $ref: '#/definitions/MediaFormat'
        description: The format of the input media file.
      Media:
        $ref: '#/definitions/Media'
        description: An object that describes the input media for the transcription job.
      Transcript:
        $ref: '#/definitions/Transcript'
        description: An object that describes the output of the transcription job.
      CreationTime:
        $ref: '#/definitions/DateTime'
        description: A timestamp that shows when the job was created.
      CompletionTime:
        $ref: '#/definitions/DateTime'
        description: A timestamp that shows when the job was completed.
      FailureReason:
        $ref: '#/definitions/FailureReason'
        description: 'If the <code>TranscriptionJobStatus</code> field is <code>FAILED</code>, this field contains information about why the job failed.'
      Settings:
        $ref: '#/definitions/Settings'
        description: 'Optional settings for the transcription job. Use these settings to turn on speaker recognition, to set the maximum number of speakers that should be identified and to specify a custom vocabulary to use when processing the transcription job.'
    description: Describes an asynchronous transcription job that was created with the <code>StartTranscriptionJob</code> operation.
  TranscriptionJobName:
    type: string
    pattern: '^[0-9a-zA-Z._-]+'
    minLength: 1
    maxLength: 200
  TranscriptionJobStatus:
    type: string
    enum:
      - IN_PROGRESS
      - FAILED
      - COMPLETED
  TranscriptionJobSummaries:
    type: array
    items:
      $ref: '#/definitions/TranscriptionJobSummary'
  TranscriptionJobSummary:
    type: object
    properties:
      TranscriptionJobName:
        $ref: '#/definitions/TranscriptionJobName'
        description: The name of the transcription job.
      CreationTime:
        $ref: '#/definitions/DateTime'
        description: A timestamp that shows when the job was created.
      CompletionTime:
        $ref: '#/definitions/DateTime'
        description: A timestamp that shows when the job was completed.
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code for the input speech.
      TranscriptionJobStatus:
        $ref: '#/definitions/TranscriptionJobStatus'
        description: 'The status of the transcription job. When the status is <code>COMPLETED</code>, use the <code>GetTranscriptionJob</code> operation to get the results of the transcription.'
      FailureReason:
        $ref: '#/definitions/FailureReason'
        description: 'If the <code>TranscriptionJobStatus</code> field is <code>FAILED</code>, a description of the error.'
      OutputLocationType:
        $ref: '#/definitions/OutputLocationType'
        description: <p>Indicates the location of the output of the transcription job.</p> <p>If the value is <code>CUSTOMER_BUCKET</code> then the location is the S3 bucket specified in the <code>outputBucketName</code> field when the transcription job was started with the <code>StartTranscriptionJob</code> operation.</p> <p>If the value is <code>SERVICE_BUCKET</code> then the output is stored by Amazon Transcribe and can be retrieved using the URI in the <code>GetTranscriptionJob</code> response's <code>TranscriptFileUri</code> field.</p>
    description: Provides a summary of information about a transcription job.
  UpdateVocabularyRequest:
    type: object
    required:
      - VocabularyName
      - LanguageCode
      - Phrases
    properties:
      VocabularyName:
        $ref: '#/definitions/VocabularyName'
        description: The name of the vocabulary to update. The name is case-sensitive.
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code of the vocabulary entries.
      Phrases:
        $ref: '#/definitions/Phrases'
        description: An array of strings containing the vocabulary entries.
  UpdateVocabularyResponse:
    type: object
    properties:
      VocabularyName:
        $ref: '#/definitions/VocabularyName'
        description: The name of the vocabulary that was updated.
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code of the vocabulary entries.
      LastModifiedTime:
        $ref: '#/definitions/DateTime'
        description: The date and time that the vocabulary was updated.
      VocabularyState:
        $ref: '#/definitions/VocabularyState'
        description: The processing state of the vocabulary. When the <code>VocabularyState</code> field contains <code>READY</code> the vocabulary is ready to be used in a <code>StartTranscriptionJob</code> request.
  Uri:
    type: string
    minLength: 1
    maxLength: 2000
  Vocabularies:
    type: array
    items:
      $ref: '#/definitions/VocabularyInfo'
  VocabularyInfo:
    type: object
    properties:
      VocabularyName:
        $ref: '#/definitions/VocabularyName'
        description: The name of the vocabulary.
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code of the vocabulary entries.
      LastModifiedTime:
        $ref: '#/definitions/DateTime'
        description: The date and time that the vocabulary was last modified.
      VocabularyState:
        $ref: '#/definitions/VocabularyState'
        description: The processing state of the vocabulary. If the state is <code>READY</code> you can use the vocabulary in a <code>StartTranscriptionJob</code> request.
    description: Provides information about a custom vocabulary.
  VocabularyName:
    type: string
    pattern: '^[0-9a-zA-Z._-]+'
    minLength: 1
    maxLength: 200
  VocabularyState:
    type: string
    enum:
      - PENDING
      - READY
      - FAILED
