swagger: '2.0'
schemes:
  - https
  - http
host: transcribe.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: Operations and objects for transcribing speech to text.
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Transcribe Service
  version: '2017-10-26'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/transcribe-2017-10-26.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: transcribe
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/transcribe/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=Transcribe.CreateVocabulary':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a new custom vocabulary that you can use to change the way Amazon Transcribe handles transcription of an audio file. '
      operationId: CreateVocabulary
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateVocabularyRequest'
        - enum:
            - Transcribe.CreateVocabulary
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateVocabularyResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/#X-Amz-Target=Transcribe.DeleteTranscriptionJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes a previously submitted transcription job along with any other generated results such as the transcription, models, and so on.'
      operationId: DeleteTranscriptionJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteTranscriptionJobRequest'
        - enum:
            - Transcribe.DeleteTranscriptionJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/#X-Amz-Target=Transcribe.DeleteVocabulary':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes a vocabulary from Amazon Transcribe. '
      operationId: DeleteVocabulary
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteVocabularyRequest'
        - enum:
            - Transcribe.DeleteVocabulary
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/#X-Amz-Target=Transcribe.GetTranscriptionJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns information about a transcription job. To see the status of the job, check the <code>TranscriptionJobStatus</code> field. If the status is <code>COMPLETED</code>, the job is finished and you can find the results at the location specified in the <code>TranscriptionFileUri</code> field.'
      operationId: GetTranscriptionJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetTranscriptionJobRequest'
        - enum:
            - Transcribe.GetTranscriptionJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetTranscriptionJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
  '/#X-Amz-Target=Transcribe.GetVocabulary':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets information about a vocabulary. '
      operationId: GetVocabulary
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetVocabularyRequest'
        - enum:
            - Transcribe.GetVocabulary
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetVocabularyResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/#X-Amz-Target=Transcribe.ListTranscriptionJobs':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists transcription jobs with the specified status.
      operationId: ListTranscriptionJobs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListTranscriptionJobsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - Transcribe.ListTranscriptionJobs
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTranscriptionJobsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/#X-Amz-Target=Transcribe.ListVocabularies':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns a list of vocabularies that match the specified criteria. If no criteria are specified, returns the entire list of vocabularies.'
      operationId: ListVocabularies
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListVocabulariesRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - Transcribe.ListVocabularies
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListVocabulariesResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/#X-Amz-Target=Transcribe.StartTranscriptionJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Starts an asynchronous job to transcribe speech to text. '
      operationId: StartTranscriptionJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartTranscriptionJobRequest'
        - enum:
            - Transcribe.StartTranscriptionJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartTranscriptionJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/#X-Amz-Target=Transcribe.UpdateVocabulary':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Updates an existing vocabulary with new values. The <code>UpdateVocabulary</code> operation overwrites all of the existing information with the values that you provide in the request. '
      operationId: UpdateVocabulary
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateVocabularyRequest'
        - enum:
            - Transcribe.UpdateVocabulary
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateVocabularyResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
definitions:
  BadRequestException: {}
  Boolean:
    type: boolean
  ConflictException: {}
  CreateVocabularyRequest:
    properties:
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code of the vocabulary entries.
      Phrases:
        $ref: '#/definitions/Phrases'
        description: 'An array of strings that contains the vocabulary entries. '
      VocabularyFileUri:
        $ref: '#/definitions/Uri'
        description: '<p>The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href="http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href="http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary">Custom Vocabularies</a>.</p>'
      VocabularyName:
        $ref: '#/definitions/VocabularyName'
        description: The name of the vocabulary. The name must be unique within an AWS account. The name is case-sensitive.
    required:
      - VocabularyName
      - LanguageCode
    type: object
  CreateVocabularyResponse:
    properties:
      FailureReason:
        $ref: '#/definitions/FailureReason'
        description: 'If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code of the vocabulary entries.
      LastModifiedTime:
        $ref: '#/definitions/DateTime'
        description: The date and time that the vocabulary was created.
      VocabularyName:
        $ref: '#/definitions/VocabularyName'
        description: The name of the vocabulary.
      VocabularyState:
        $ref: '#/definitions/VocabularyState'
        description: The processing state of the vocabulary. When the <code>VocabularyState</code> field contains <code>READY</code> the vocabulary is ready to be used in a <code>StartTranscriptionJob</code> request.
    type: object
  DateTime:
    format: date-time
    type: string
  DeleteTranscriptionJobRequest:
    properties:
      TranscriptionJobName:
        $ref: '#/definitions/TranscriptionJobName'
        description: The name of the transcription job to be deleted.
    required:
      - TranscriptionJobName
    type: object
  DeleteVocabularyRequest:
    properties:
      VocabularyName:
        $ref: '#/definitions/VocabularyName'
        description: 'The name of the vocabulary to delete. '
    required:
      - VocabularyName
    type: object
  FailureReason:
    type: string
  GetTranscriptionJobRequest:
    properties:
      TranscriptionJobName:
        $ref: '#/definitions/TranscriptionJobName'
        description: The name of the job.
    required:
      - TranscriptionJobName
    type: object
  GetTranscriptionJobResponse:
    properties:
      TranscriptionJob:
        $ref: '#/definitions/TranscriptionJob'
        description: An object that contains the results of the transcription job.
    type: object
  GetVocabularyRequest:
    properties:
      VocabularyName:
        $ref: '#/definitions/VocabularyName'
        description: The name of the vocabulary to return information about. The name is case-sensitive.
    required:
      - VocabularyName
    type: object
  GetVocabularyResponse:
    properties:
      DownloadUri:
        $ref: '#/definitions/Uri'
        description: The S3 location where the vocabulary is stored. Use this URI to get the contents of the vocabulary. The URI is available for a limited time.
      FailureReason:
        $ref: '#/definitions/FailureReason'
        description: 'If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code of the vocabulary entries.
      LastModifiedTime:
        $ref: '#/definitions/DateTime'
        description: The date and time that the vocabulary was last modified.
      VocabularyName:
        $ref: '#/definitions/VocabularyName'
        description: The name of the vocabulary to return.
      VocabularyState:
        $ref: '#/definitions/VocabularyState'
        description: The processing state of the vocabulary.
    type: object
  InternalFailureException: {}
  LanguageCode:
    enum:
      - en-US
      - es-US
      - en-AU
      - fr-CA
      - en-GB
      - de-DE
      - pt-BR
      - fr-FR
      - it-IT
      - ko-KR
      - es-ES
      - en-IN
      - hi-IN
      - ar-SA
      - ru-RU
      - zh-CN
    type: string
  LimitExceededException: {}
  ListTranscriptionJobsRequest:
    properties:
      JobNameContains:
        $ref: '#/definitions/TranscriptionJobName'
        description: 'When specified, the jobs returned in the list are limited to jobs whose name contains the specified string.'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of jobs to return in the response. If there are fewer results in the list, this response contains only the actual results.'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If the result of the previous request to <code>ListTranscriptionJobs</code> was truncated, include the <code>NextToken</code> to fetch the next set of jobs.'
      Status:
        $ref: '#/definitions/TranscriptionJobStatus'
        description: 'When specified, returns only transcription jobs with the specified status. Jobs are ordered by creation date, with the newest jobs returned first. If you don’t specify a status, Amazon Transcribe returns all transcription jobs ordered by creation date. '
    type: object
  ListTranscriptionJobsResponse:
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The <code>ListTranscriptionJobs</code> operation returns a page of jobs at a time. The maximum size of the page is set by the <code>MaxResults</code> parameter. If there are more jobs in the list than the page size, Amazon Transcribe returns the <code>NextPage</code> token. Include the token in the next request to the <code>ListTranscriptionJobs</code> operation to return in the next page of jobs.'
      Status:
        $ref: '#/definitions/TranscriptionJobStatus'
        description: The requested status of the jobs returned.
      TranscriptionJobSummaries:
        $ref: '#/definitions/TranscriptionJobSummaries'
        description: A list of objects containing summary information for a transcription job.
    type: object
  ListVocabulariesRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of vocabularies to return in the response. If there are fewer results in the list, this response contains only the actual results.'
      NameContains:
        $ref: '#/definitions/VocabularyName'
        description: 'When specified, the vocabularies returned in the list are limited to vocabularies whose name contains the specified string. The search is case-insensitive, <code>ListVocabularies</code> will return both "vocabularyname" and "VocabularyName" in the response list.'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'If the result of the previous request to <code>ListVocabularies</code> was truncated, include the <code>NextToken</code> to fetch the next set of jobs.'
      StateEquals:
        $ref: '#/definitions/VocabularyState'
        description: 'When specified, only returns vocabularies with the <code>VocabularyState</code> field equal to the specified state.'
    type: object
  ListVocabulariesResponse:
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The <code>ListVocabularies</code> operation returns a page of vocabularies at a time. The maximum size of the page is set by the <code>MaxResults</code> parameter. If there are more jobs in the list than the page size, Amazon Transcribe returns the <code>NextPage</code> token. Include the token in the next request to the <code>ListVocabularies</code> operation to return in the next page of jobs.'
      Status:
        $ref: '#/definitions/TranscriptionJobStatus'
        description: The requested vocabulary state.
      Vocabularies:
        $ref: '#/definitions/Vocabularies'
        description: A list of objects that describe the vocabularies that match the search criteria in the request.
    type: object
  MaxResults:
    maximum: 100
    minimum: 1
    type: integer
  MaxSpeakers:
    maximum: 10
    minimum: 2
    type: integer
  Media:
    description: Describes the input media file in a transcription request.
    properties:
      MediaFileUri:
        $ref: '#/definitions/Uri'
        description: '<p>The S3 location of the input media file. The URI must be in the same region as the API endpoint that you are calling. The general form is:</p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/example.mp4</code> </p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/mediadocs/example.mp4</code> </p> <p>For more information about S3 object names, see <a href="http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p>'
    type: object
  MediaFormat:
    enum:
      - mp3
      - mp4
      - wav
      - flac
    type: string
  MediaSampleRateHertz:
    maximum: 48000
    minimum: 8000
    type: integer
  NextToken:
    maxLength: 8192
    type: string
  NotFoundException: {}
  OutputBucketName:
    pattern: '[a-z0-9][\.\-a-z0-9]{1,61}[a-z0-9]'
    type: string
  OutputLocationType:
    enum:
      - CUSTOMER_BUCKET
      - SERVICE_BUCKET
    type: string
  Phrase:
    maxLength: 256
    minLength: 0
    type: string
  Phrases:
    items:
      $ref: '#/definitions/Phrase'
    type: array
  Settings:
    description: Provides optional settings for the <code>StartTranscriptionJob</code> operation.
    properties:
      ChannelIdentification:
        $ref: '#/definitions/Boolean'
        description: '<p>Instructs Amazon Transcribe to process each audio channel separately and then merge the transcription output of each channel into a single transcription. </p> <p>Amazon Transcribe also produces a transcription of each item detected on an audio channel, including the start time and end time of the item and alternative transcriptions of the item including the confidence that Amazon Transcribe has in the transcription.</p> <p>You can''t set both <code>ShowSpeakerLabels</code> and <code>ChannelIdentification</code> in the same request. If you set both, your request returns a <code>BadRequestException</code>.</p>'
      MaxSpeakerLabels:
        $ref: '#/definitions/MaxSpeakers'
        description: 'The maximum number of speakers to identify in the input audio. If there are more speakers in the audio than this number, multiple speakers will be identified as a single speaker. If you specify the <code>MaxSpeakerLabels</code> field, you must set the <code>ShowSpeakerLabels</code> field to true.'
      ShowSpeakerLabels:
        $ref: '#/definitions/Boolean'
        description: '<p>Determines whether the transcription job uses speaker recognition to identify different speakers in the input audio. Speaker recognition labels individual speakers in the audio file. If you set the <code>ShowSpeakerLabels</code> field to true, you must also set the maximum number of speaker labels <code>MaxSpeakerLabels</code> field.</p> <p>You can''t set both <code>ShowSpeakerLabels</code> and <code>ChannelIdentification</code> in the same request. If you set both, your request returns a <code>BadRequestException</code>.</p>'
      VocabularyName:
        $ref: '#/definitions/VocabularyName'
        description: The name of a vocabulary to use when processing the transcription job.
    type: object
  StartTranscriptionJobRequest:
    properties:
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code for the language used in the input media file.
      Media:
        $ref: '#/definitions/Media'
        description: An object that describes the input media for a transcription job.
      MediaFormat:
        $ref: '#/definitions/MediaFormat'
        description: '<p>The format of the input media file.</p> <p> If you do not specify the format of the media file, Amazon Transcribe determines the format. If the format is not recognized, Amazon Transcribe returns an <code>InternalFailureException</code> exception. If you specify the format, it must match the format detected by Amazon Transcribe, otherwise you get an <code>InternalFailureException</code> exception.</p>'
      MediaSampleRateHertz:
        $ref: '#/definitions/MediaSampleRateHertz'
        description: '<p>The sample rate of the audio track in the input media file in Hertz. </p> <p>If you do not specify the media sample rate, Amazon Transcribe determines the sample rate. If you specify the sample rate, it must match the sample rate detected by Amazon Transcribe. In most cases, you should leave the <code>MediaSampleRateHertz</code> field blank and let Amazon Transcribe determine the sample rate.</p>'
      OutputBucketName:
        $ref: '#/definitions/OutputBucketName'
        description: '<p>The location where the transcription is stored.</p> <p>If you set the <code>OutputBucketName</code>, Amazon Transcribe puts the transcription in the specified S3 bucket. When you call the <a>GetTranscriptionJob</a> operation, the operation returns this location in the <code>TranscriptFileUri</code> field. The S3 bucket must have permissions that allow Amazon Transcribe to put files in the bucket. For more information, see <a href="https://docs.aws.amazon.com/transcribe/latest/dg/security_iam_id-based-policy-examples.html#auth-role-iam-user">Permissions Required for IAM User Roles</a>.</p> <p>Amazon Transcribe uses the default Amazon S3 key for server-side encryption of transcripts that are placed in your S3 bucket. You can''t specify your own encryption key.</p> <p>If you don''t set the <code>OutputBucketName</code>, Amazon Transcribe generates a pre-signed URL, a shareable URL that provides secure access to your transcription, and returns it in the <code>TranscriptFileUri</code> field. Use this URL to download the transcription.</p>'
      Settings:
        $ref: '#/definitions/Settings'
        description: A <code>Settings</code> object that provides optional settings for a transcription job.
      TranscriptionJobName:
        $ref: '#/definitions/TranscriptionJobName'
        description: The name of the job. Note that you can't use the strings "." or ".." by themselves as the job name. The name must also be unique within an AWS account.
    required:
      - TranscriptionJobName
      - LanguageCode
      - Media
    type: object
  StartTranscriptionJobResponse:
    properties:
      TranscriptionJob:
        $ref: '#/definitions/TranscriptionJob'
        description: An object containing details of the asynchronous transcription job.
    type: object
  Transcript:
    description: Identifies the location of a transcription.
    properties:
      TranscriptFileUri:
        $ref: '#/definitions/Uri'
        description: '<p>The location where the transcription is stored.</p> <p>Use this URI to access the transcription. If you specified an S3 bucket in the <code>OutputBucketName</code> field when you created the job, this is the URI of that bucket. If you chose to store the transcription in Amazon Transcribe, this is a shareable URL that provides secure access to that location.</p>'
    type: object
  TranscriptionJob:
    description: 'Describes an asynchronous transcription job that was created with the <code>StartTranscriptionJob</code> operation. '
    properties:
      CompletionTime:
        $ref: '#/definitions/DateTime'
        description: A timestamp that shows when the job was completed.
      CreationTime:
        $ref: '#/definitions/DateTime'
        description: A timestamp that shows when the job was created.
      FailureReason:
        $ref: '#/definitions/FailureReason'
        description: '<p>If the <code>TranscriptionJobStatus</code> field is <code>FAILED</code>, this field contains information about why the job failed.</p> <p>The <code>FailureReason</code> field can contain one of the following values:</p> <ul> <li> <p> <code>Unsupported media format</code> - The media format specified in the <code>MediaFormat</code> field of the request isn''t valid. See the description of the <code>MediaFormat</code> field for a list of valid values.</p> </li> <li> <p> <code>The media format provided does not match the detected media format</code> - The media format of the audio file doesn''t match the format specified in the <code>MediaFormat</code> field in the request. Check the media format of your media file and make sure that the two values match.</p> </li> <li> <p> <code>Invalid sample rate for audio file</code> - The sample rate specified in the <code>MediaSampleRateHertz</code> of the request isn''t valid. The sample rate must be between 8000 and 48000 Hertz.</p> </li> <li> <p> <code>The sample rate provided does not match the detected sample rate</code> - The sample rate in the audio file doesn''t match the sample rate specified in the <code>MediaSampleRateHertz</code> field in the request. Check the sample rate of your media file and make sure that the two values match.</p> </li> <li> <p> <code>Invalid file size: file size too large</code> - The size of your audio file is larger than Amazon Transcribe can process. For more information, see <a href="https://docs.aws.amazon.com/transcribe/latest/dg/limits-guidelines.html#limits">Limits</a> in the <i>Amazon Transcribe Developer Guide</i>.</p> </li> <li> <p> <code>Invalid number of channels: number of channels too large</code> - Your audio contains more channels than Amazon Transcribe is configured to process. To request additional channels, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits-amazon-transcribe">Amazon Transcribe Limits</a> in the <i>Amazon Web Services General Reference</i>.</p> </li> </ul>'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code for the input speech.
      Media:
        $ref: '#/definitions/Media'
        description: An object that describes the input media for the transcription job.
      MediaFormat:
        $ref: '#/definitions/MediaFormat'
        description: The format of the input media file.
      MediaSampleRateHertz:
        $ref: '#/definitions/MediaSampleRateHertz'
        description: 'The sample rate, in Hertz, of the audio track in the input media file. '
      Settings:
        $ref: '#/definitions/Settings'
        description: 'Optional settings for the transcription job. Use these settings to turn on speaker recognition, to set the maximum number of speakers that should be identified and to specify a custom vocabulary to use when processing the transcription job.'
      Transcript:
        $ref: '#/definitions/Transcript'
        description: An object that describes the output of the transcription job.
      TranscriptionJobName:
        $ref: '#/definitions/TranscriptionJobName'
        description: The name of the transcription job.
      TranscriptionJobStatus:
        $ref: '#/definitions/TranscriptionJobStatus'
        description: The status of the transcription job.
    type: object
  TranscriptionJobName:
    maxLength: 200
    minLength: 1
    pattern: '^[0-9a-zA-Z._-]+'
    type: string
  TranscriptionJobStatus:
    enum:
      - IN_PROGRESS
      - FAILED
      - COMPLETED
    type: string
  TranscriptionJobSummaries:
    items:
      $ref: '#/definitions/TranscriptionJobSummary'
    type: array
  TranscriptionJobSummary:
    description: Provides a summary of information about a transcription job. .
    properties:
      CompletionTime:
        $ref: '#/definitions/DateTime'
        description: A timestamp that shows when the job was completed.
      CreationTime:
        $ref: '#/definitions/DateTime'
        description: A timestamp that shows when the job was created.
      FailureReason:
        $ref: '#/definitions/FailureReason'
        description: 'If the <code>TranscriptionJobStatus</code> field is <code>FAILED</code>, a description of the error.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code for the input speech.
      OutputLocationType:
        $ref: '#/definitions/OutputLocationType'
        description: <p>Indicates the location of the output of the transcription job.</p> <p>If the value is <code>CUSTOMER_BUCKET</code> then the location is the S3 bucket specified in the <code>outputBucketName</code> field when the transcription job was started with the <code>StartTranscriptionJob</code> operation.</p> <p>If the value is <code>SERVICE_BUCKET</code> then the output is stored by Amazon Transcribe and can be retrieved using the URI in the <code>GetTranscriptionJob</code> response's <code>TranscriptFileUri</code> field.</p>
      TranscriptionJobName:
        $ref: '#/definitions/TranscriptionJobName'
        description: The name of the transcription job.
      TranscriptionJobStatus:
        $ref: '#/definitions/TranscriptionJobStatus'
        description: 'The status of the transcription job. When the status is <code>COMPLETED</code>, use the <code>GetTranscriptionJob</code> operation to get the results of the transcription.'
    type: object
  UpdateVocabularyRequest:
    properties:
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code of the vocabulary entries.
      Phrases:
        $ref: '#/definitions/Phrases'
        description: An array of strings containing the vocabulary entries.
      VocabularyFileUri:
        $ref: '#/definitions/Uri'
        description: '<p>The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is </p> <p> <code> https://s3-&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href="http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href="http://docs.aws.amazon.com/transcribe/latest/dg/how-it-works.html#how-vocabulary">Custom Vocabularies</a>.</p>'
      VocabularyName:
        $ref: '#/definitions/VocabularyName'
        description: The name of the vocabulary to update. The name is case-sensitive.
    required:
      - VocabularyName
      - LanguageCode
    type: object
  UpdateVocabularyResponse:
    properties:
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code of the vocabulary entries.
      LastModifiedTime:
        $ref: '#/definitions/DateTime'
        description: The date and time that the vocabulary was updated.
      VocabularyName:
        $ref: '#/definitions/VocabularyName'
        description: The name of the vocabulary that was updated.
      VocabularyState:
        $ref: '#/definitions/VocabularyState'
        description: The processing state of the vocabulary. When the <code>VocabularyState</code> field contains <code>READY</code> the vocabulary is ready to be used in a <code>StartTranscriptionJob</code> request.
    type: object
  Uri:
    maxLength: 2000
    minLength: 1
    type: string
  Vocabularies:
    items:
      $ref: '#/definitions/VocabularyInfo'
    type: array
  VocabularyInfo:
    description: 'Provides information about a custom vocabulary. '
    properties:
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code of the vocabulary entries.
      LastModifiedTime:
        $ref: '#/definitions/DateTime'
        description: The date and time that the vocabulary was last modified.
      VocabularyName:
        $ref: '#/definitions/VocabularyName'
        description: The name of the vocabulary.
      VocabularyState:
        $ref: '#/definitions/VocabularyState'
        description: The processing state of the vocabulary. If the state is <code>READY</code> you can use the vocabulary in a <code>StartTranscriptionJob</code> request.
    type: object
  VocabularyName:
    maxLength: 200
    minLength: 1
    pattern: '^[0-9a-zA-Z._-]+'
    type: string
  VocabularyState:
    enum:
      - PENDING
      - READY
      - FAILED
    type: string
x-servers:
  - description: The Amazon Transcribe Service multi-region endpoint
    url: 'http://transcribe.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Amazon Transcribe Service multi-region endpoint
    url: 'https://transcribe.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Amazon Transcribe Service endpoint for China (Beijing) and China (Ningxia)
    url: 'http://transcribe.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The Amazon Transcribe Service endpoint for China (Beijing) and China (Ningxia)
    url: 'https://transcribe.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
