openapi: 3.0.0
servers:
  - url: 'http://autoscaling.amazonaws.com/'
info:
  version: '2011-01-01'
  x-release: v4
  title: Auto Scaling
  description: '<fullname>Auto Scaling</fullname> <p>Auto Scaling is designed to automatically launch or terminate EC2 instances based on user-defined policies, schedules, and health checks. Use this service in conjunction with the Amazon CloudWatch and Elastic Load Balancing services.</p>'
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: autoscaling
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/autoscaling-2011-01-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: false
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/autoscaling/'
x-hasEquivalentPaths: true
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AttachInstances
      description: '<p>Attaches one or more EC2 instances to the specified Auto Scaling group.</p> <p>When you attach instances, Auto Scaling increases the desired capacity of the group by the number of instances being attached. If the number of instances being attached plus the desired capacity of the group exceeds the maximum size of the group, the operation fails.</p> <p>If there is a Classic Load Balancer attached to your Auto Scaling group, the instances are also registered with the load balancer. If there are target groups attached to your Auto Scaling group, the instances are also registered with the target groups.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/attach-instance-asg.html">Attach EC2 Instances to Your Auto Scaling Group</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachInstancesQuery'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#AttachLoadBalancerTargetGroups':
    post:
      operationId: AttachLoadBalancerTargetGroups
      description: '<p>Attaches one or more target groups to the specified Auto Scaling group.</p> <p>To describe the target groups for an Auto Scaling group, use <a>DescribeLoadBalancerTargetGroups</a>. To detach the target group from the Auto Scaling group, use <a>DetachLoadBalancerTargetGroups</a>.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/attach-load-balancer-asg.html">Attach a Load Balancer to Your Auto Scaling Group</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AttachLoadBalancerTargetGroupsResultType'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachLoadBalancerTargetGroupsType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#AttachLoadBalancers':
    post:
      operationId: AttachLoadBalancers
      description: '<p>Attaches one or more Classic Load Balancers to the specified Auto Scaling group.</p> <p>To attach an Application Load Balancer instead, see <a>AttachLoadBalancerTargetGroups</a>.</p> <p>To describe the load balancers for an Auto Scaling group, use <a>DescribeLoadBalancers</a>. To detach the load balancer from the Auto Scaling group, use <a>DetachLoadBalancers</a>.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/attach-load-balancer-asg.html">Attach a Load Balancer to Your Auto Scaling Group</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AttachLoadBalancersResultType'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachLoadBalancersType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CompleteLifecycleAction':
    post:
      operationId: CompleteLifecycleAction
      description: '<p>Completes the lifecycle action for the specified token or instance with the specified result.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Auto Scaling launches or terminates instances.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</p> </li> <li> <p>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state.</p> </li> <li> <p> <b>If you finish before the timeout period ends, complete the lifecycle action.</b> </p> </li> </ol> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/AutoScalingGroupLifecycle.html">Auto Scaling Lifecycle</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompleteLifecycleActionAnswer'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteLifecycleActionType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateAutoScalingGroup':
    post:
      operationId: CreateAutoScalingGroup
      description: '<p>Creates an Auto Scaling group with the specified name and attributes.</p> <p>If you exceed your maximum limit of Auto Scaling groups, which by default is 20 per region, the call fails. For information about viewing and updating this limit, see <a>DescribeAccountLimits</a>.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/AutoScalingGroup.html">Auto Scaling Groups</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: AlreadyExistsFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AlreadyExistsFault'
        '481':
          description: LimitExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededFault'
        '482':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAutoScalingGroupType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateLaunchConfiguration':
    post:
      operationId: CreateLaunchConfiguration
      description: '<p>Creates a launch configuration.</p> <p>If you exceed your maximum limit of launch configurations, which by default is 100 per region, the call fails. For information about viewing and updating this limit, see <a>DescribeAccountLimits</a>.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/LaunchConfiguration.html">Launch Configurations</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: AlreadyExistsFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AlreadyExistsFault'
        '481':
          description: LimitExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededFault'
        '482':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLaunchConfigurationType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateOrUpdateTags':
    post:
      operationId: CreateOrUpdateTags
      description: '<p>Creates or updates tags for the specified Auto Scaling group.</p> <p>When you specify a tag with a key that already exists, the operation overwrites the previous tag definition, and you do not get an error message.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/autoscaling-tagging.html">Tagging Auto Scaling Groups and Instances</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: LimitExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededFault'
        '481':
          description: AlreadyExistsFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AlreadyExistsFault'
        '482':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateTagsType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteAutoScalingGroup':
    post:
      operationId: DeleteAutoScalingGroup
      description: '<p>Deletes the specified Auto Scaling group.</p> <p>If the group has instances or scaling activities in progress, you must specify the option to force the deletion in order for it to succeed.</p> <p>If the group has policies, deleting the group deletes the policies, the underlying alarm actions, and any alarm that no longer has an associated action.</p> <p>To remove instances from the Auto Scaling group before deleting it, call <a>DetachInstances</a> with the list of instances and the option to decrement the desired capacity so that Auto Scaling does not launch replacement instances.</p> <p>To terminate all instances before deleting the Auto Scaling group, call <a>UpdateAutoScalingGroup</a> and set the minimum size and desired capacity of the Auto Scaling group to zero.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ScalingActivityInProgressFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScalingActivityInProgressFault'
        '481':
          description: ResourceInUseFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceInUseFault'
        '482':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAutoScalingGroupType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteLaunchConfiguration':
    post:
      operationId: DeleteLaunchConfiguration
      description: '<p>Deletes the specified launch configuration.</p> <p>The launch configuration must not be attached to an Auto Scaling group. When this call completes, the launch configuration is no longer available for use.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceInUseFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceInUseFault'
        '481':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LaunchConfigurationNameType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteLifecycleHook':
    post:
      operationId: DeleteLifecycleHook
      description: '<p>Deletes the specified lifecycle hook.</p> <p>If there are any outstanding lifecycle actions, they are completed first (<code>ABANDON</code> for launching instances, <code>CONTINUE</code> for terminating instances).</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeleteLifecycleHookAnswer'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteLifecycleHookType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteNotificationConfiguration':
    post:
      operationId: DeleteNotificationConfiguration
      description: Deletes the specified notification.
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteNotificationConfigurationType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeletePolicy':
    post:
      operationId: DeletePolicy
      description: '<p>Deletes the specified Auto Scaling policy.</p> <p>Deleting a policy deletes the underlying alarm action, but does not delete the alarm, even if it no longer has an associated action.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletePolicyType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteScheduledAction':
    post:
      operationId: DeleteScheduledAction
      description: Deletes the specified scheduled action.
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteScheduledActionType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteTags':
    post:
      operationId: DeleteTags
      description: Deletes the specified tags.
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteTagsType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeAccountLimits':
    post:
      operationId: DescribeAccountLimits
      description: '<p>Describes the current Auto Scaling resource limits for your AWS account.</p> <p>For information about requesting an increase in these limits, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html">AWS Service Limits</a> in the <i>Amazon Web Services General Reference</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DescribeAccountLimitsAnswer'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeAdjustmentTypes':
    post:
      operationId: DescribeAdjustmentTypes
      description: Describes the policy adjustment types for use with <a>PutScalingPolicy</a>.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DescribeAdjustmentTypesAnswer'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeAutoScalingGroups':
    post:
      operationId: DescribeAutoScalingGroups
      description: Describes one or more Auto Scaling groups.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AutoScalingGroupsType'
        '480':
          description: InvalidNextToken
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: NextToken
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoScalingGroupNamesType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeAutoScalingInstances':
    post:
      operationId: DescribeAutoScalingInstances
      description: Describes one or more Auto Scaling instances.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AutoScalingInstancesType'
        '480':
          description: InvalidNextToken
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: NextToken
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeAutoScalingInstancesType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeAutoScalingNotificationTypes':
    post:
      operationId: DescribeAutoScalingNotificationTypes
      description: Describes the notification types that are supported by Auto Scaling.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DescribeAutoScalingNotificationTypesAnswer'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeLaunchConfigurations':
    post:
      operationId: DescribeLaunchConfigurations
      description: Describes one or more launch configurations.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LaunchConfigurationsType'
        '480':
          description: InvalidNextToken
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: NextToken
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LaunchConfigurationNamesType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeLifecycleHookTypes':
    post:
      operationId: DescribeLifecycleHookTypes
      description: Describes the available types of lifecycle hooks.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DescribeLifecycleHookTypesAnswer'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeLifecycleHooks':
    post:
      operationId: DescribeLifecycleHooks
      description: Describes the lifecycle hooks for the specified Auto Scaling group.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DescribeLifecycleHooksAnswer'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeLifecycleHooksType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeLoadBalancerTargetGroups':
    post:
      operationId: DescribeLoadBalancerTargetGroups
      description: Describes the target groups for the specified Auto Scaling group.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DescribeLoadBalancerTargetGroupsResponse'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeLoadBalancerTargetGroupsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeLoadBalancers':
    post:
      operationId: DescribeLoadBalancers
      description: '<p>Describes the load balancers for the specified Auto Scaling group.</p> <p>Note that this operation describes only Classic Load Balancers. If you have Application Load Balancers, use <a>DescribeLoadBalancerTargetGroups</a> instead.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DescribeLoadBalancersResponse'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeLoadBalancersRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeMetricCollectionTypes':
    post:
      operationId: DescribeMetricCollectionTypes
      description: <p>Describes the available CloudWatch metrics for Auto Scaling.</p> <p>Note that the <code>GroupStandbyInstances</code> metric is not returned by default. You must explicitly request this metric when calling <a>EnableMetricsCollection</a>.</p>
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DescribeMetricCollectionTypesAnswer'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeNotificationConfigurations':
    post:
      operationId: DescribeNotificationConfigurations
      description: Describes the notification actions associated with the specified Auto Scaling group.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DescribeNotificationConfigurationsAnswer'
        '480':
          description: InvalidNextToken
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: NextToken
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeNotificationConfigurationsType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribePolicies':
    post:
      operationId: DescribePolicies
      description: Describes the policies for the specified Auto Scaling group.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PoliciesType'
        '480':
          description: InvalidNextToken
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: NextToken
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribePoliciesType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeScalingActivities':
    post:
      operationId: DescribeScalingActivities
      description: Describes one or more scaling activities for the specified Auto Scaling group.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActivitiesType'
        '480':
          description: InvalidNextToken
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: NextToken
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeScalingActivitiesType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeScalingProcessTypes':
    post:
      operationId: DescribeScalingProcessTypes
      description: Describes the scaling process types for use with <a>ResumeProcesses</a> and <a>SuspendProcesses</a>.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProcessesType'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeScheduledActions':
    post:
      operationId: DescribeScheduledActions
      description: 'Describes the actions scheduled for your Auto Scaling group that haven''t run. To describe the actions that have already run, use <a>DescribeScalingActivities</a>.'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScheduledActionsType'
        '480':
          description: InvalidNextToken
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: NextToken
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeScheduledActionsType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeTags':
    post:
      operationId: DescribeTags
      description: '<p>Describes the specified tags.</p> <p>You can use filters to limit the results. For example, you can query for the tags for a specific Auto Scaling group. You can specify multiple values for a filter. A tag must match at least one of the specified values for it to be included in the results.</p> <p>You can also specify multiple filters. The result includes information for a particular tag only if it matches all the filters. If there''s no match, no special message is returned.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TagsType'
        '480':
          description: InvalidNextToken
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      parameters:
        - name: MaxRecords
          in: query
          description: Pagination limit
          required: false
          schema:
            type: string
        - name: NextToken
          in: query
          description: Pagination token
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeTagsType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeTerminationPolicyTypes':
    post:
      operationId: DescribeTerminationPolicyTypes
      description: Describes the termination policies supported by Auto Scaling.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DescribeTerminationPolicyTypesAnswer'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DetachInstances':
    post:
      operationId: DetachInstances
      description: '<p>Removes one or more instances from the specified Auto Scaling group.</p> <p>After the instances are detached, you can manage them independent of the Auto Scaling group.</p> <p>If you do not specify the option to decrement the desired capacity, Auto Scaling launches instances to replace the ones that are detached.</p> <p>If there is a Classic Load Balancer attached to the Auto Scaling group, the instances are deregistered from the load balancer. If there are target groups attached to the Auto Scaling group, the instances are deregistered from the target groups.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/detach-instance-asg.html">Detach EC2 Instances from Your Auto Scaling Group</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DetachInstancesAnswer'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetachInstancesQuery'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DetachLoadBalancerTargetGroups':
    post:
      operationId: DetachLoadBalancerTargetGroups
      description: Detaches one or more target groups from the specified Auto Scaling group.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DetachLoadBalancerTargetGroupsResultType'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetachLoadBalancerTargetGroupsType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DetachLoadBalancers':
    post:
      operationId: DetachLoadBalancers
      description: '<p>Detaches one or more Classic Load Balancers from the specified Auto Scaling group.</p> <p>Note that this operation detaches only Classic Load Balancers. If you have Application Load Balancers, use <a>DetachLoadBalancerTargetGroups</a> instead.</p> <p>When you detach a load balancer, it enters the <code>Removing</code> state while deregistering the instances in the group. When all instances are deregistered, then you can no longer describe the load balancer using <a>DescribeLoadBalancers</a>. Note that the instances remain running.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DetachLoadBalancersResultType'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetachLoadBalancersType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DisableMetricsCollection':
    post:
      operationId: DisableMetricsCollection
      description: Disables group metrics for the specified Auto Scaling group.
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisableMetricsCollectionQuery'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#EnableMetricsCollection':
    post:
      operationId: EnableMetricsCollection
      description: 'Enables group metrics for the specified Auto Scaling group. For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/as-instance-monitoring.html">Monitoring Your Auto Scaling Groups and Instances</a> in the <i>Auto Scaling User Guide</i>.'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnableMetricsCollectionQuery'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#EnterStandby':
    post:
      operationId: EnterStandby
      description: '<p>Moves the specified instances into the standby state.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/as-enter-exit-standby.html">Temporarily Removing Instances from Your Auto Scaling Group</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EnterStandbyAnswer'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnterStandbyQuery'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ExecutePolicy':
    post:
      operationId: ExecutePolicy
      description: Executes the specified policy.
      responses:
        '200':
          description: Success
        '480':
          description: ScalingActivityInProgressFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScalingActivityInProgressFault'
        '481':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutePolicyType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ExitStandby':
    post:
      operationId: ExitStandby
      description: '<p>Moves the specified instances out of the standby state.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/as-enter-exit-standby.html">Temporarily Removing Instances from Your Auto Scaling Group</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExitStandbyAnswer'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExitStandbyQuery'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#PutLifecycleHook':
    post:
      operationId: PutLifecycleHook
      description: '<p>Creates or updates a lifecycle hook for the specified Auto Scaling Group.</p> <p>A lifecycle hook tells Auto Scaling that you want to perform an action on an instance that is not actively in service; for example, either when the instance launches or before the instance terminates.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Auto Scaling launches or terminates instances.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p> <b>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</b> </p> </li> <li> <p>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state.</p> </li> <li> <p>If you finish before the timeout period ends, complete the lifecycle action.</p> </li> </ol> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/lifecycle-hooks.html">Auto Scaling Lifecycle Hooks</a> in the <i>Auto Scaling User Guide</i>.</p> <p>If you exceed your maximum limit of lifecycle hooks, which by default is 50 per Auto Scaling group, the call fails. For information about updating this limit, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html">AWS Service Limits</a> in the <i>Amazon Web Services General Reference</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PutLifecycleHookAnswer'
        '480':
          description: LimitExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededFault'
        '481':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutLifecycleHookType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#PutNotificationConfiguration':
    post:
      operationId: PutNotificationConfiguration
      description: '<p>Configures an Auto Scaling group to send notifications when specified events take place. Subscribers to the specified topic can have messages delivered to an endpoint such as a web server or an email address.</p> <p>This configuration overwrites any existing configuration.</p> <p>For more information see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/ASGettingNotifications.html">Getting SNS Notifications When Your Auto Scaling Group Scales</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: LimitExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededFault'
        '481':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutNotificationConfigurationType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#PutScalingPolicy':
    post:
      operationId: PutScalingPolicy
      description: '<p>Creates or updates a policy for an Auto Scaling group. To update an existing policy, use the existing policy name and set the parameters you want to change. Any existing parameter not changed in an update to an existing policy is not changed in this update request.</p> <p>If you exceed your maximum limit of step adjustments, which by default is 20 per region, the call fails. For information about updating this limit, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html">AWS Service Limits</a> in the <i>Amazon Web Services General Reference</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PolicyARNType'
        '480':
          description: LimitExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededFault'
        '481':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutScalingPolicyType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#PutScheduledUpdateGroupAction':
    post:
      operationId: PutScheduledUpdateGroupAction
      description: '<p>Creates or updates a scheduled scaling action for an Auto Scaling group. When updating a scheduled scaling action, if you leave a parameter unspecified, the corresponding value remains unchanged.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/schedule_time.html">Scheduled Scaling</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: AlreadyExistsFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AlreadyExistsFault'
        '481':
          description: LimitExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededFault'
        '482':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutScheduledUpdateGroupActionType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#RecordLifecycleActionHeartbeat':
    post:
      operationId: RecordLifecycleActionHeartbeat
      description: '<p>Records a heartbeat for the lifecycle action associated with the specified token or instance. This extends the timeout by the length of time defined using <a>PutLifecycleHook</a>.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Auto Scaling launches or terminates instances.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</p> </li> <li> <p> <b>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state.</b> </p> </li> <li> <p>If you finish before the timeout period ends, complete the lifecycle action.</p> </li> </ol> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/AutoScalingGroupLifecycle.html">Auto Scaling Lifecycle</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RecordLifecycleActionHeartbeatAnswer'
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordLifecycleActionHeartbeatType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ResumeProcesses':
    post:
      operationId: ResumeProcesses
      description: '<p>Resumes the specified suspended Auto Scaling processes, or all suspended process, for the specified Auto Scaling group.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/as-suspend-resume-processes.html">Suspending and Resuming Auto Scaling Processes</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceInUseFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceInUseFault'
        '481':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        $ref: '#/components/requestBodies/ScalingProcessQuery'
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#SetDesiredCapacity':
    post:
      operationId: SetDesiredCapacity
      description: '<p>Sets the size of the specified Auto Scaling group.</p> <p>For more information about desired capacity, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/WhatIsAutoScaling.html">What Is Auto Scaling?</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ScalingActivityInProgressFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScalingActivityInProgressFault'
        '481':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetDesiredCapacityType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#SetInstanceHealth':
    post:
      operationId: SetInstanceHealth
      description: '<p>Sets the health status of the specified instance.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/healthcheck.html">Health Checks</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetInstanceHealthQuery'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#SetInstanceProtection':
    post:
      operationId: SetInstanceProtection
      description: '<p>Updates the instance protection settings of the specified instances.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/as-instance-termination.html#instance-protection">Instance Protection</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SetInstanceProtectionAnswer'
        '480':
          description: LimitExceededFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitExceededFault'
        '481':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetInstanceProtectionQuery'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#SuspendProcesses':
    post:
      operationId: SuspendProcesses
      description: '<p>Suspends the specified Auto Scaling processes, or all processes, for the specified Auto Scaling group.</p> <p>Note that if you suspend either the <code>Launch</code> or <code>Terminate</code> process types, it can prevent other process types from functioning properly.</p> <p>To resume processes that have been suspended, use <a>ResumeProcesses</a>.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/as-suspend-resume-processes.html">Suspending and Resuming Auto Scaling Processes</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceInUseFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceInUseFault'
        '481':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        $ref: '#/components/requestBodies/ScalingProcessQuery'
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#TerminateInstanceInAutoScalingGroup':
    post:
      operationId: TerminateInstanceInAutoScalingGroup
      description: <p>Terminates the specified instance and optionally adjusts the desired group size.</p> <p>This call simply makes a termination request. The instance is not terminated immediately.</p>
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActivityType'
        '480':
          description: ScalingActivityInProgressFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScalingActivityInProgressFault'
        '481':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminateInstanceInAutoScalingGroupType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#UpdateAutoScalingGroup':
    post:
      operationId: UpdateAutoScalingGroup
      description: '<p>Updates the configuration for the specified Auto Scaling group.</p> <p>The new settings take effect on any scaling activities after this call returns. Scaling activities that are currently in progress aren''t affected.</p> <p>To update an Auto Scaling group with a launch configuration with <code>InstanceMonitoring</code> set to <code>false</code>, you must first disable the collection of group metrics. Otherwise, you will get an error. If you have previously enabled the collection of group metrics, you can disable it using <a>DisableMetricsCollection</a>.</p> <p>Note the following:</p> <ul> <li> <p>If you specify a new value for <code>MinSize</code> without specifying a value for <code>DesiredCapacity</code>, and the new <code>MinSize</code> is larger than the current size of the group, we implicitly call <a>SetDesiredCapacity</a> to set the size of the group to the new value of <code>MinSize</code>.</p> </li> <li> <p>If you specify a new value for <code>MaxSize</code> without specifying a value for <code>DesiredCapacity</code>, and the new <code>MaxSize</code> is smaller than the current size of the group, we implicitly call <a>SetDesiredCapacity</a> to set the size of the group to the new value of <code>MaxSize</code>.</p> </li> <li> <p>All other optional parameters are left unchanged if not specified.</p> </li> </ul>'
      responses:
        '200':
          description: Success
        '480':
          description: ScalingActivityInProgressFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScalingActivityInProgressFault'
        '481':
          description: ResourceContentionFault
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResourceContentionFault'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAutoScalingGroupType'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
components:
  schemas:
    Activities:
      type: array
      items:
        $ref: '#/components/schemas/Activity'
    ActivitiesType:
      type: object
      required:
        - Activities
      example:
        Activities:
          - ActivityId: f9f2d65b-f1f2-43e7-b46d-d86756459699
            AutoScalingGroupName: my-auto-scaling-group
            Cause: 'At 2013-08-19T20:53:25Z a user request created an AutoScalingGroup changing the desired capacity from 0 to 1.  At 2013-08-19T20:53:29Z an instance was started in response to a difference between desired and actual capacity, increasing the capacity from 0 to 1.'
            Description: 'Launching a new EC2 instance: i-4ba0837f'
            Details: details
            EndTime: '2013-08-19T20:54:02Z'
            Progress: 100
            StartTime: '2013-08-19T20:53:29.930Z'
            StatusCode: Successful
      properties:
        Activities:
          $ref: '#/components/schemas/Activities'
        NextToken:
          $ref: '#/components/schemas/XmlString'
    Activity:
      type: object
      required:
        - ActivityId
        - AutoScalingGroupName
        - Cause
        - StartTime
        - StatusCode
      properties:
        ActivityId:
          $ref: '#/components/schemas/XmlString'
        AutoScalingGroupName:
          $ref: '#/components/schemas/XmlStringMaxLen255'
        Description:
          $ref: '#/components/schemas/XmlString'
        Cause:
          $ref: '#/components/schemas/XmlStringMaxLen1023'
        StartTime:
          $ref: '#/components/schemas/TimestampType'
        EndTime:
          $ref: '#/components/schemas/TimestampType'
        StatusCode:
          $ref: '#/components/schemas/ScalingActivityStatusCode'
        StatusMessage:
          $ref: '#/components/schemas/XmlStringMaxLen255'
        Progress:
          $ref: '#/components/schemas/Progress'
        Details:
          $ref: '#/components/schemas/XmlString'
      description: 'Describes scaling activity, which is a long-running process that represents a change to your Auto Scaling group, such as changing its size or replacing an instance.'
    ActivityIds:
      type: array
      items:
        $ref: '#/components/schemas/XmlString'
    ActivityType:
      type: object
      properties:
        Activity:
          $ref: '#/components/schemas/Activity'
    AdjustmentType:
      type: object
      properties:
        AdjustmentType:
          $ref: '#/components/schemas/XmlStringMaxLen255'
      description: '<p>Describes a policy adjustment type.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/as-scale-based-on-demand.html">Dynamic Scaling</a> in the <i>Auto Scaling User Guide</i>.</p>'
    AdjustmentTypes:
      type: array
      items:
        $ref: '#/components/schemas/AdjustmentType'
    Alarm:
      type: object
      properties:
        AlarmName:
          $ref: '#/components/schemas/XmlStringMaxLen255'
        AlarmARN:
          $ref: '#/components/schemas/ResourceName'
      description: Describes an alarm.
    Alarms:
      type: array
      items:
        $ref: '#/components/schemas/Alarm'
    AlreadyExistsFault:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/XmlStringMaxLen255'
      description: You already have an Auto Scaling group or launch configuration with this name.
    AsciiStringMaxLen255:
      type: string
      pattern: '[A-Za-z0-9\-_\/]+'
      minLength: 1
      maxLength: 255
    AssociatePublicIpAddress:
      type: boolean
    AttachInstancesQuery:
      type: object
      required:
        - AutoScalingGroupName
      example:
        AutoScalingGroupName: my-auto-scaling-group
        InstanceIds:
          - i-93633f9b
      properties:
        InstanceIds:
          $ref: '#/components/schemas/InstanceIds'
        AutoScalingGroupName:
          $ref: '#/components/schemas/ResourceName'
    AttachLoadBalancerTargetGroupsResultType:
      type: object
      properties: {}
    AttachLoadBalancerTargetGroupsType:
      type: object
      required:
        - AutoScalingGroupName
        - TargetGroupARNs
      example:
        AutoScalingGroupName: my-auto-scaling-group
        TargetGroupARNs:
          - 'arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067'
      properties:
        AutoScalingGroupName:
          $ref: '#/components/schemas/ResourceName'
        TargetGroupARNs:
          $ref: '#/components/schemas/TargetGroupARNs'
    AttachLoadBalancersResultType:
      type: object
      properties: {}
    AttachLoadBalancersType:
      type: object
      required:
        - AutoScalingGroupName
        - LoadBalancerNames
      example:
        AutoScalingGroupName: my-auto-scaling-group
        LoadBalancerNames:
          - my-load-balancer
      properties:
        AutoScalingGroupName:
          $ref: '#/components/schemas/ResourceName'
        LoadBalancerNames:
          $ref: '#/components/schemas/LoadBalancerNames'
    AutoScalingGroup:
      type: object
      required:
        - AutoScalingGroupName
        - MinSize
        - MaxSize
        - DesiredCapacity
        - DefaultCooldown
        - AvailabilityZones
        - HealthCheckType
        - CreatedTime
      properties:
        AutoScalingGroupName:
          $ref: '#/components/schemas/XmlStringMaxLen255'
        AutoScalingGroupARN:
          $ref: '#/components/schemas/ResourceName'
        LaunchConfigurationName:
          $ref: '#/components/schemas/XmlStringMaxLen255'
        MinSize:
          $ref: '#/components/schemas/AutoScalingGroupMinSize'
        MaxSize:
          $ref: '#/components/schemas/AutoScalingGroupMaxSize'
        DesiredCapacity:
          $ref: '#/components/schemas/AutoScalingGroupDesiredCapacity'
        DefaultCooldown:
          $ref: '#/components/schemas/Cooldown'
        AvailabilityZones:
          $ref: '#/components/schemas/AvailabilityZones'
        LoadBalancerNames:
          $ref: '#/components/schemas/LoadBalancerNames'
        TargetGroupARNs:
          $ref: '#/components/schemas/TargetGroupARNs'
        HealthCheckType:
          $ref: '#/components/schemas/XmlStringMaxLen32'
        HealthCheckGracePeriod:
          $ref: '#/components/schemas/HealthCheckGracePeriod'
        Instances:
          $ref: '#/components/schemas/Instances'
        CreatedTime:
          $ref: '#/components/schemas/TimestampType'
        SuspendedProcesses:
          $ref: '#/components/schemas/SuspendedProcesses'
        PlacementGroup:
          $ref: '#/components/schemas/XmlStringMaxLen255'
        VPCZoneIdentifier:
          $ref: '#/components/schemas/XmlStringMaxLen2047'
        EnabledMetrics:
          $ref: '#/components/schemas/EnabledMetrics'
        Status:
          $ref: '#/components/schemas/XmlStringMaxLen255'
        Tags:
          $ref: '#/components/schemas/TagDescriptionList'
        TerminationPolicies:
          $ref: '#/components/schemas/TerminationPolicies'
        NewInstancesProtectedFromScaleIn:
          $ref: '#/components/schemas/InstanceProtected'
      description: Describes an Auto Scaling group.
    AutoScalingGroupDesiredCapacity:
      type: integer
    AutoScalingGroupMaxSize:
      type: integer
    AutoScalingGroupMinSize:
      type: integer
    AutoScalingGroupNames:
      type: array
      items:
        $ref: '#/components/schemas/ResourceName'
    AutoScalingGroupNamesType:
      type: object
      example:
        AutoScalingGroupNames:
          - my-auto-scaling-group
      properties:
        AutoScalingGroupNames:
          $ref: '#/components/schemas/AutoScalingGroupNames'
        NextToken:
          $ref: '#/components/schemas/XmlString'
        MaxRecords:
          $ref: '#/components/schemas/MaxRecords'
    AutoScalingGroups:
      type: array
      items:
        $ref: '#/components/schemas/AutoScalingGroup'
    AutoScalingGroupsType:
      type: object
      required:
        - AutoScalingGroups
      example:
        AutoScalingGroups:
          - AutoScalingGroupARN: 'arn:aws:autoscaling:us-west-2:123456789012:autoScalingGroup:930d940e-891e-4781-a11a-7b0acd480f03:autoScalingGroupName/my-auto-scaling-group'
            AutoScalingGroupName: my-auto-scaling-group
            AvailabilityZones:
              - us-west-2c
            CreatedTime: '2013-08-19T20:53:25.584Z'
            DefaultCooldown: 300
            DesiredCapacity: 1
            EnabledMetrics: []
            HealthCheckGracePeriod: 300
            HealthCheckType: EC2
            Instances:
              - AvailabilityZone: us-west-2c
                HealthStatus: Healthy
                InstanceId: i-4ba0837f
                LaunchConfigurationName: my-launch-config
                LifecycleState: InService
                ProtectedFromScaleIn: false
            LaunchConfigurationName: my-launch-config
            LoadBalancerNames: []
            MaxSize: 1
            MinSize: 0
            NewInstancesProtectedFromScaleIn: false
            SuspendedProcesses: []
            Tags: []
            TerminationPolicies:
              - Default
            VPCZoneIdentifier: subnet-12345678
      properties:
        AutoScalingGroups:
          $ref: '#/components/schemas/AutoScalingGroups'
        NextToken:
          $ref: '#/components/schemas/XmlString'
    AutoScalingInstanceDetails:
      type: object
      required:
        - InstanceId
        - AutoScalingGroupName
        - AvailabilityZone
        - LifecycleState
        - HealthStatus
        - LaunchConfigurationName
        - ProtectedFromScaleIn
      properties:
        InstanceId:
          $ref: '#/components/schemas/XmlStringMaxLen19'
        AutoScalingGroupName:
          $ref: '#/components/schemas/XmlStringMaxLen255'
        AvailabilityZone:
          $ref: '#/components/schemas/XmlStringMaxLen255'
        LifecycleState:
          $ref: '#/components/schemas/XmlStringMaxLen32'
        HealthStatus:
          $ref: '#/components/schemas/XmlStringMaxLen32'
        LaunchConfigurationName:
          $ref: '#/components/schemas/XmlStringMaxLen255'
        ProtectedFromScaleIn:
          $ref: '#/components/schemas/InstanceProtected'
      description: Describes an EC2 instance associated with an Auto Scaling group.
    AutoScalingInstances:
      type: array
      items:
        $ref: '#/components/schemas/AutoScalingInstanceDetails'
    AutoScalingInstancesType:
      type: object
      example:
        AutoScalingInstances:
          - AutoScalingGroupName: my-auto-scaling-group
            AvailabilityZone: us-west-2c
            HealthStatus: HEALTHY
            InstanceId: i-4ba0837f
            LaunchConfigurationName: my-launch-config
            LifecycleState: InService
            ProtectedFromScaleIn: false
      properties:
        AutoScalingInstances:
          $ref: '#/components/schemas/AutoScalingInstances'
        NextToken:
          $ref: '#/components/schemas/XmlString'
    AutoScalingNotificationTypes:
      type: array
      items:
        $ref: '#/components/schemas/XmlStringMaxLen255'
    AvailabilityZones:
      type: array
      items:
        $ref: '#/components/schemas/XmlStringMaxLen255'
      minItems: 1
    BlockDeviceEbsDeleteOnTermination:
      type: boolean
    BlockDeviceEbsEncrypted:
      type: boolean
    BlockDeviceEbsIops:
      type: integer
      minimum: 100
      maximum: 20000
    BlockDeviceEbsVolumeSize:
      type: integer
      minimum: 1
      maximum: 16384
    BlockDeviceEbsVolumeType:
      type: string
      minLength: 1
      maxLength: 255
    BlockDeviceMapping:
      type: object
      required:
        - DeviceName
      properties:
        VirtualName:
          $ref: '#/components/schemas/XmlStringMaxLen255'
        DeviceName:
          $ref: '#/components/schemas/XmlStringMaxLen255'
        Ebs:
          $ref: '#/components/schemas/Ebs'
        NoDevice:
          $ref: '#/components/schemas/NoDevice'
      description: Describes a block device mapping.
    BlockDeviceMappings:
      type: array
      items:
        $ref: '#/components/schemas/BlockDeviceMapping'
    ClassicLinkVPCSecurityGroups:
      type: array
      items:
        $ref: '#/components/schemas/XmlStringMaxLen255'
    CompleteLifecycleActionAnswer:
      type: object
      properties: {}
    CompleteLifecycleActionType:
      type: object
      required:
        - LifecycleHookName
        - AutoScalingGroupName
        - LifecycleActionResult
      example:
        AutoScalingGroupName: my-auto-scaling-group
        LifecycleActionResult: CONTINUE
        LifecycleActionToken: bcd2f1b8-9a78-44d3-8a7a-4dd07d7cf635
        LifecycleHookName: my-lifecycle-hook
      properties:
        LifecycleHookName:
          $ref: '#/components/schemas/AsciiStringMaxLen255'
        AutoScalingGroupName:
          $ref: '#/components/schemas/ResourceName'
        LifecycleActionToken:
          $ref: '#/components/schemas/LifecycleActionToken'
        LifecycleActionResult:
          $ref: '#/components/schemas/LifecycleActionResult'
        InstanceId:
          $ref: '#/components/schemas/XmlStringMaxLen19'
    Cooldown:
      type: integer
    CreateAutoScalingGroupType:
      type: object
      required:
        - AutoScalingGroupName
        - MinSize
        - MaxSize
      example:
        AutoScalingGroupName: my-auto-scaling-group
        HealthCheckGracePeriod: 120
        HealthCheckType: ELB
        LaunchConfigurationName: my-launch-config
        MaxSize: 3
        MinSize: 1
        TargetGroupARNs:
          - 'arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067'
        VPCZoneIdentifier: 'subnet-4176792c, subnet-65ea5f08'
      properties:
        AutoScalingGroupName:
          $ref: '#/components/schemas/XmlStringMaxLen255'
        LaunchConfigurationName:
          $ref: '#/components/schemas/ResourceName'
        InstanceId:
          $ref: '#/components/schemas/XmlStringMaxLen19'
        MinSize:
          $ref: '#/components/schemas/AutoScalingGroupMinSize'
        MaxSize:
          $ref: '#/components/schemas/AutoScalingGroupMaxSize'
        DesiredCapacity:
          $ref: '#/components/schemas/AutoScalingGroupDesiredCapacity'
        DefaultCooldown:
          $ref: '#/components/schemas/Cooldown'
        AvailabilityZones:
          $ref: '#/components/schemas/AvailabilityZones'
        LoadBalancerNames:
          $ref: '#/components/schemas/LoadBalancerNames'
        TargetGroupARNs:
          $ref: '#/components/schemas/TargetGroupARNs'
        HealthCheckType:
          $ref: '#/components/schemas/XmlStringMaxLen32'
        HealthCheckGracePeriod:
          $ref: '#/components/schemas/HealthCheckGracePeriod'
        PlacementGroup:
          $ref: '#/components/schemas/XmlStringMaxLen255'
        VPCZoneIdentifier:
          $ref: '#/components/schemas/XmlStringMaxLen2047'
        TerminationPolicies:
          $ref: '#/components/schemas/TerminationPolicies'
        NewInstancesProtectedFromScaleIn:
[...]
