swagger: '2.0'
schemes:
  - https
  - http
host: autoscaling.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>Amazon EC2 Auto Scaling</fullname> <p>Amazon EC2 Auto Scaling is designed to automatically launch or terminate EC2 instances based on user-defined scaling policies, scheduled actions, and health checks. Use this service with AWS Auto Scaling, Amazon CloudWatch, and Elastic Load Balancing.</p> <p>For more information, including information about granting IAM users required permissions for Amazon EC2 Auto Scaling actions, see the <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/what-is-amazon-ec2-auto-scaling.html">Amazon EC2 Auto Scaling User Guide</a>.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Auto Scaling
  version: '2011-01-01'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/autoscaling-2011-01-01.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: autoscaling
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/autoscaling/'
consumes:
  - text/xml
produces:
  - text/xml
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#Action=AttachInstances':
    get:
      description: '<p>Attaches one or more EC2 instances to the specified Auto Scaling group.</p> <p>When you attach instances, Amazon EC2 Auto Scaling increases the desired capacity of the group by the number of instances being attached. If the number of instances being attached plus the desired capacity of the group exceeds the maximum size of the group, the operation fails.</p> <p>If there is a Classic Load Balancer attached to your Auto Scaling group, the instances are also registered with the load balancer. If there are target groups attached to your Auto Scaling group, the instances are also registered with the target groups.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/attach-instance-asg.html">Attach EC2 Instances to Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      operationId: GET AttachInstances
      parameters:
        - description: The IDs of the instances. You can specify up to 20 instances.
          in: query
          items:
            type: string
          name: InstanceIds
          required: false
          type: array
        - description: The name of the Auto Scaling group.
          in: query
          maxLength: 1600
          minLength: 1
          name: AutoScalingGroupName
          required: true
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - enum:
            - AttachInstances
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '481':
          description: ServiceLinkedRoleFailure
          schema:
            $ref: '#/definitions/ServiceLinkedRoleFailure'
      x-aws-operation-name: AttachInstances
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Attaches one or more EC2 instances to the specified Auto Scaling group.</p> <p>When you attach instances, Amazon EC2 Auto Scaling increases the desired capacity of the group by the number of instances being attached. If the number of instances being attached plus the desired capacity of the group exceeds the maximum size of the group, the operation fails.</p> <p>If there is a Classic Load Balancer attached to your Auto Scaling group, the instances are also registered with the load balancer. If there are target groups attached to your Auto Scaling group, the instances are also registered with the target groups.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/attach-instance-asg.html">Attach EC2 Instances to Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      operationId: POST AttachInstances
      parameters:
        - description: The IDs of the instances. You can specify up to 20 instances.
          in: formData
          items:
            type: string
          name: InstanceIds
          required: false
          type: array
        - description: The name of the Auto Scaling group.
          in: formData
          maxLength: 1600
          minLength: 1
          name: AutoScalingGroupName
          required: true
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - enum:
            - AttachInstances
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '481':
          description: ServiceLinkedRoleFailure
          schema:
            $ref: '#/definitions/ServiceLinkedRoleFailure'
      x-aws-operation-name: AttachInstances
  '/#Action=AttachLoadBalancerTargetGroups':
    get:
      description: '<p>Attaches one or more target groups to the specified Auto Scaling group. </p> <p>To describe the target groups for an Auto Scaling group, use <a>DescribeLoadBalancerTargetGroups</a>. To detach the target group from the Auto Scaling group, use <a>DetachLoadBalancerTargetGroups</a>.</p> <p>With Application Load Balancers and Network Load Balancers, instances are registered as targets with a target group. With Classic Load Balancers, instances are registered with the load balancer. For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/attach-load-balancer-asg.html">Attaching a Load Balancer to Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      operationId: GET AttachLoadBalancerTargetGroups
      parameters:
        - description: The name of the Auto Scaling group.
          in: query
          maxLength: 1600
          minLength: 1
          name: AutoScalingGroupName
          required: true
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: The Amazon Resource Names (ARN) of the target groups. You can specify up to 10 target groups.
          in: query
          items:
            type: string
          name: TargetGroupARNs
          required: true
          type: array
        - enum:
            - AttachLoadBalancerTargetGroups
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachLoadBalancerTargetGroupsResultType'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '481':
          description: ServiceLinkedRoleFailure
          schema:
            $ref: '#/definitions/ServiceLinkedRoleFailure'
      x-aws-operation-name: AttachLoadBalancerTargetGroups
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Attaches one or more target groups to the specified Auto Scaling group. </p> <p>To describe the target groups for an Auto Scaling group, use <a>DescribeLoadBalancerTargetGroups</a>. To detach the target group from the Auto Scaling group, use <a>DetachLoadBalancerTargetGroups</a>.</p> <p>With Application Load Balancers and Network Load Balancers, instances are registered as targets with a target group. With Classic Load Balancers, instances are registered with the load balancer. For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/attach-load-balancer-asg.html">Attaching a Load Balancer to Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      operationId: POST AttachLoadBalancerTargetGroups
      parameters:
        - description: The name of the Auto Scaling group.
          in: formData
          maxLength: 1600
          minLength: 1
          name: AutoScalingGroupName
          required: true
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: The Amazon Resource Names (ARN) of the target groups. You can specify up to 10 target groups.
          in: formData
          items:
            type: string
          name: TargetGroupARNs
          required: true
          type: array
        - enum:
            - AttachLoadBalancerTargetGroups
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachLoadBalancerTargetGroupsResultType'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '481':
          description: ServiceLinkedRoleFailure
          schema:
            $ref: '#/definitions/ServiceLinkedRoleFailure'
      x-aws-operation-name: AttachLoadBalancerTargetGroups
  '/#Action=AttachLoadBalancers':
    get:
      description: '<p>Attaches one or more Classic Load Balancers to the specified Auto Scaling group.</p> <p>To attach an Application Load Balancer or a Network Load Balancer instead, see <a>AttachLoadBalancerTargetGroups</a>.</p> <p>To describe the load balancers for an Auto Scaling group, use <a>DescribeLoadBalancers</a>. To detach the load balancer from the Auto Scaling group, use <a>DetachLoadBalancers</a>.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/attach-load-balancer-asg.html">Attaching a Load Balancer to Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      operationId: GET AttachLoadBalancers
      parameters:
        - description: The name of the Auto Scaling group.
          in: query
          maxLength: 1600
          minLength: 1
          name: AutoScalingGroupName
          required: true
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: The names of the load balancers. You can specify up to 10 load balancers.
          in: query
          items:
            type: string
          name: LoadBalancerNames
          required: true
          type: array
        - enum:
            - AttachLoadBalancers
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachLoadBalancersResultType'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '481':
          description: ServiceLinkedRoleFailure
          schema:
            $ref: '#/definitions/ServiceLinkedRoleFailure'
      x-aws-operation-name: AttachLoadBalancers
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Attaches one or more Classic Load Balancers to the specified Auto Scaling group.</p> <p>To attach an Application Load Balancer or a Network Load Balancer instead, see <a>AttachLoadBalancerTargetGroups</a>.</p> <p>To describe the load balancers for an Auto Scaling group, use <a>DescribeLoadBalancers</a>. To detach the load balancer from the Auto Scaling group, use <a>DetachLoadBalancers</a>.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/attach-load-balancer-asg.html">Attaching a Load Balancer to Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      operationId: POST AttachLoadBalancers
      parameters:
        - description: The name of the Auto Scaling group.
          in: formData
          maxLength: 1600
          minLength: 1
          name: AutoScalingGroupName
          required: true
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: The names of the load balancers. You can specify up to 10 load balancers.
          in: formData
          items:
            type: string
          name: LoadBalancerNames
          required: true
          type: array
        - enum:
            - AttachLoadBalancers
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachLoadBalancersResultType'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '481':
          description: ServiceLinkedRoleFailure
          schema:
            $ref: '#/definitions/ServiceLinkedRoleFailure'
      x-aws-operation-name: AttachLoadBalancers
  '/#Action=BatchDeleteScheduledAction':
    get:
      description: Deletes one or more scheduled actions for the specified Auto Scaling group.
      operationId: GET BatchDeleteScheduledAction
      parameters:
        - description: The name of the Auto Scaling group.
          in: query
          maxLength: 1600
          minLength: 1
          name: AutoScalingGroupName
          required: true
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: 'The names of the scheduled actions to delete. The maximum number allowed is 50. '
          in: query
          items:
            type: string
          name: ScheduledActionNames
          required: true
          type: array
        - enum:
            - BatchDeleteScheduledAction
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDeleteScheduledActionAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      x-aws-operation-name: BatchDeleteScheduledAction
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes one or more scheduled actions for the specified Auto Scaling group.
      operationId: POST BatchDeleteScheduledAction
      parameters:
        - description: The name of the Auto Scaling group.
          in: formData
          maxLength: 1600
          minLength: 1
          name: AutoScalingGroupName
          required: true
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: 'The names of the scheduled actions to delete. The maximum number allowed is 50. '
          in: formData
          items:
            type: string
          name: ScheduledActionNames
          required: true
          type: array
        - enum:
            - BatchDeleteScheduledAction
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDeleteScheduledActionAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      x-aws-operation-name: BatchDeleteScheduledAction
  '/#Action=BatchPutScheduledUpdateGroupAction':
    get:
      description: 'Creates or updates one or more scheduled scaling actions for an Auto Scaling group. If you leave a parameter unspecified when updating a scheduled scaling action, the corresponding value remains unchanged.'
      operationId: GET BatchPutScheduledUpdateGroupAction
      parameters:
        - description: The name of the Auto Scaling group.
          in: query
          maxLength: 1600
          minLength: 1
          name: AutoScalingGroupName
          required: true
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: 'One or more scheduled actions. The maximum number allowed is 50. '
          in: query
          items:
            type: string
          name: ScheduledUpdateGroupActions
          required: true
          type: array
        - enum:
            - BatchPutScheduledUpdateGroupAction
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchPutScheduledUpdateGroupActionAnswer'
        '480':
          description: AlreadyExistsFault
          schema:
            $ref: '#/definitions/AlreadyExistsFault'
        '481':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      x-aws-operation-name: BatchPutScheduledUpdateGroupAction
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates or updates one or more scheduled scaling actions for an Auto Scaling group. If you leave a parameter unspecified when updating a scheduled scaling action, the corresponding value remains unchanged.'
      operationId: POST BatchPutScheduledUpdateGroupAction
      parameters:
        - description: The name of the Auto Scaling group.
          in: formData
          maxLength: 1600
          minLength: 1
          name: AutoScalingGroupName
          required: true
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: 'One or more scheduled actions. The maximum number allowed is 50. '
          in: formData
          items:
            type: string
          name: ScheduledUpdateGroupActions
          required: true
          type: array
        - enum:
            - BatchPutScheduledUpdateGroupAction
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchPutScheduledUpdateGroupActionAnswer'
        '480':
          description: AlreadyExistsFault
          schema:
            $ref: '#/definitions/AlreadyExistsFault'
        '481':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      x-aws-operation-name: BatchPutScheduledUpdateGroupAction
  '/#Action=CompleteLifecycleAction':
    get:
      description: '<p>Completes the lifecycle action for the specified token or instance with the specified result.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Amazon EC2 Auto Scaling launches or terminates instances.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Amazon EC2 Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</p> </li> <li> <p>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state.</p> </li> <li> <p> <b>If you finish before the timeout period ends, complete the lifecycle action.</b> </p> </li> </ol> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/lifecycle-hooks.html">Amazon EC2 Auto Scaling Lifecycle Hooks</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      operationId: GET CompleteLifecycleAction
      parameters:
        - description: The name of the lifecycle hook.
          in: query
          maxLength: 255
          minLength: 1
          name: LifecycleHookName
          pattern: '[A-Za-z0-9\-_\/]+'
          required: true
          type: string
        - description: The name of the Auto Scaling group.
          in: query
          maxLength: 1600
          minLength: 1
          name: AutoScalingGroupName
          required: true
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: A universally unique identifier (UUID) that identifies a specific lifecycle action associated with an instance. Amazon EC2 Auto Scaling sends this token to the notification target you specified when you created the lifecycle hook.
          in: query
          maxLength: 36
          minLength: 36
          name: LifecycleActionToken
          required: false
          type: string
        - description: The action for the group to take. This parameter can be either <code>CONTINUE</code> or <code>ABANDON</code>.
          in: query
          name: LifecycleActionResult
          required: true
          type: string
        - description: The ID of the instance.
          in: query
          maxLength: 19
          minLength: 1
          name: InstanceId
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - enum:
            - CompleteLifecycleAction
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CompleteLifecycleActionAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      x-aws-operation-name: CompleteLifecycleAction
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Completes the lifecycle action for the specified token or instance with the specified result.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Amazon EC2 Auto Scaling launches or terminates instances.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Amazon EC2 Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</p> </li> <li> <p>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state.</p> </li> <li> <p> <b>If you finish before the timeout period ends, complete the lifecycle action.</b> </p> </li> </ol> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/lifecycle-hooks.html">Amazon EC2 Auto Scaling Lifecycle Hooks</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      operationId: POST CompleteLifecycleAction
      parameters:
        - description: The name of the lifecycle hook.
          in: formData
          maxLength: 255
          minLength: 1
          name: LifecycleHookName
          pattern: '[A-Za-z0-9\-_\/]+'
          required: true
          type: string
        - description: The name of the Auto Scaling group.
          in: formData
          maxLength: 1600
          minLength: 1
          name: AutoScalingGroupName
          required: true
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: A universally unique identifier (UUID) that identifies a specific lifecycle action associated with an instance. Amazon EC2 Auto Scaling sends this token to the notification target you specified when you created the lifecycle hook.
          in: formData
          maxLength: 36
          minLength: 36
          name: LifecycleActionToken
          required: false
          type: string
        - description: The action for the group to take. This parameter can be either <code>CONTINUE</code> or <code>ABANDON</code>.
          in: formData
          name: LifecycleActionResult
          required: true
          type: string
        - description: The ID of the instance.
          in: formData
          maxLength: 19
          minLength: 1
          name: InstanceId
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - enum:
            - CompleteLifecycleAction
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CompleteLifecycleActionAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      x-aws-operation-name: CompleteLifecycleAction
  '/#Action=CreateAutoScalingGroup':
    get:
      description: '<p>Creates an Auto Scaling group with the specified name and attributes.</p> <p>If you exceed your maximum limit of Auto Scaling groups, the call fails. For information about viewing this limit, see <a>DescribeAccountLimits</a>. For information about updating this limit, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-account-limits.html">Amazon EC2 Auto Scaling Limits</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      operationId: GET CreateAutoScalingGroup
      parameters:
        - description: The name of the Auto Scaling group. This name must be unique per Region per account.
          in: query
          maxLength: 255
          minLength: 1
          name: AutoScalingGroupName
          required: true
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>The name of the launch configuration.</p> <p>If you do not specify <code>LaunchConfigurationName</code>, you must specify one of the following parameters: <code>InstanceId</code>, <code>LaunchTemplate</code>, or <code>MixedInstancesPolicy</code>.</p>'
          in: query
          maxLength: 1600
          minLength: 1
          name: LaunchConfigurationName
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: |-
            <p>Describes a launch template and the launch template version.</p> <p>The launch template that is specified must be configured for use with an Auto Scaling group. For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-launch-template.html">Creating a Launch Template for an Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>
            The ID of the launch template. You must specify either a template ID or a template name.
          in: query
          name: LaunchTemplate.LaunchTemplateId
          type: string
        - description: |-
            <p>Describes a launch template and the launch template version.</p> <p>The launch template that is specified must be configured for use with an Auto Scaling group. For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-launch-template.html">Creating a Launch Template for an Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>
            The name of the launch template. You must specify either a template name or a template ID.
          in: query
          name: LaunchTemplate.LaunchTemplateName
          type: string
        - description: |-
            <p>Describes a launch template and the launch template version.</p> <p>The launch template that is specified must be configured for use with an Auto Scaling group. For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-launch-template.html">Creating a Launch Template for an Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>
            The version number, <code>$Latest</code>, or <code>$Default</code>. If the value is <code>$Latest</code>, Amazon EC2 Auto Scaling selects the latest version of the launch template when launching instances. If the value is <code>$Default</code>, Amazon EC2 Auto Scaling selects the default version of the launch template when launching instances. The default value is <code>$Default</code>.
          in: query
          name: LaunchTemplate.Version
          type: string
        - description: |-
            <p>Describes a mixed instances policy for an Auto Scaling group. With mixed instances, your Auto Scaling group can provision a combination of On-Demand Instances and Spot Instances across multiple instance types. For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-purchase-options.html">Auto Scaling Groups with Multiple Instance Types and Purchase Options</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>You can create a mixed instances policy for a new Auto Scaling group, or you can create it for an existing group by updating the group to specify <code>MixedInstancesPolicy</code> as the top-level parameter instead of a launch configuration or template. For more information, see <a>CreateAutoScalingGroup</a> and <a>UpdateAutoScalingGroup</a>.</p>
            <p>The launch template and instance types (overrides).</p> <p>This parameter must be specified when creating a mixed instances policy.</p>
          in: query
          name: MixedInstancesPolicy.LaunchTemplate
          type: string
        - description: |-
            <p>Describes a mixed instances policy for an Auto Scaling group. With mixed instances, your Auto Scaling group can provision a combination of On-Demand Instances and Spot Instances across multiple instance types. For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-purchase-options.html">Auto Scaling Groups with Multiple Instance Types and Purchase Options</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>You can create a mixed instances policy for a new Auto Scaling group, or you can create it for an existing group by updating the group to specify <code>MixedInstancesPolicy</code> as the top-level parameter instead of a launch configuration or template. For more information, see <a>CreateAutoScalingGroup</a> and <a>UpdateAutoScalingGroup</a>.</p>
            <p>The instances distribution to use.</p> <p>If you leave this parameter unspecified when creating a mixed instances policy, the default values are used.</p>
          in: query
          name: MixedInstancesPolicy.InstancesDistribution
          type: string
        - description: '<p>The ID of the instance used to create a launch configuration for the group.</p> <p>When you specify an ID of an instance, Amazon EC2 Auto Scaling creates a new launch configuration and associates it with the group. This launch configuration derives its attributes from the specified instance, except for the block device mapping.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-asg-from-instance.html">Create an Auto Scaling Group Using an EC2 Instance</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>You must specify one of the following parameters in your request: <code>LaunchConfigurationName</code>, <code>LaunchTemplate</code>, <code>InstanceId</code>, or <code>MixedInstancesPolicy</code>.</p>'
          in: query
          maxLength: 19
          minLength: 1
          name: InstanceId
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: The minimum size of the group.
          in: query
          name: MinSize
          required: true
          type: integer
        - description: The maximum size of the group.
          in: query
          name: MaxSize
          required: true
          type: integer
        - description: 'The number of Amazon EC2 instances that the Auto Scaling group attempts to maintain. This number must be greater than or equal to the minimum size of the group and less than or equal to the maximum size of the group. If you do not specify a desired capacity, the default is the minimum size of the group.'
          in: query
          name: DesiredCapacity
          required: false
          type: integer
        - description: '<p>The amount of time, in seconds, after a scaling activity completes before another scaling activity can start. The default value is <code>300</code>.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/Cooldown.html">Scaling Cooldowns</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
          in: query
          name: DefaultCooldown
          required: false
          type: integer
        - description: '<p>One or more Availability Zones for the group. This parameter is optional if you specify one or more subnets for <code>VPCZoneIdentifier</code>.</p> <p>Conditional: If your account supports EC2-Classic and VPC, this parameter is required to launch instances into EC2-Classic.</p>'
          in: query
          items:
            type: string
          name: AvailabilityZones
          required: false
          type: array
        - description: '<p>A list of Classic Load Balancers associated with this Auto Scaling group. For Application Load Balancers and Network Load Balancers, specify a list of target groups using the <code>TargetGroupARNs</code> property instead.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html">Using a Load Balancer with an Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
          in: query
          items:
            type: string
          name: LoadBalancerNames
          required: false
          type: array
        - description: '<p>The Amazon Resource Names (ARN) of the target groups to associate with the Auto Scaling group. Instances are registered as targets in a target group, and traffic is routed to the target group.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html">Using a Load Balancer with an Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
          in: query
          items:
            type: string
          name: TargetGroupARNs
          required: false
          type: array
        - description: '<p>The service to use for the health checks. The valid values are <code>EC2</code> and <code>ELB</code>. The default value is <code>EC2</code>. If you configure an Auto Scaling group to use ELB health checks, it considers the instance unhealthy if it fails either the EC2 status checks or the load balancer health checks.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/healthcheck.html">Health Checks for Auto Scaling Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
          in: query
          maxLength: 32
          minLength: 1
          name: HealthCheckType
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>The amount of time, in seconds, that Amazon EC2 Auto Scaling waits before checking the health status of an EC2 instance that has come into service. During this time, any health check failures for the instance are ignored. The default value is <code>0</code>.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/healthcheck.html#health-check-grace-period">Health Check Grace Period</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>Conditional: This parameter is required if you are adding an <code>ELB</code> health check.</p>'
          in: query
          name: HealthCheckGracePeriod
          required: false
          type: integer
        - description: 'The name of the placement group into which to launch your instances, if any. A placement group is a logical grouping of instances within a single Availability Zone. You cannot specify multiple Availability Zones and a placement group. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html">Placement Groups</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.'
          in: query
          maxLength: 255
          minLength: 1
          name: PlacementGroup
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>A comma-separated list of subnet IDs for your virtual private cloud (VPC).</p> <p>If you specify <code>VPCZoneIdentifier</code> with <code>AvailabilityZones</code>, the subnets that you specify for this parameter must reside in those Availability Zones.</p> <p>Conditional: If your account supports EC2-Classic and VPC, this parameter is required to launch instances into a VPC.</p>'
          in: query
          maxLength: 2047
          minLength: 1
          name: VPCZoneIdentifier
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>One or more termination policies used to select the instance to terminate. These policies are executed in the order that they are listed.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html">Controlling Which Instances Auto Scaling Terminates During Scale In</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
          in: query
          items:
            type: string
          name: TerminationPolicies
          required: false
          type: array
        - description: '<p>Indicates whether newly launched instances are protected from termination by Amazon EC2 Auto Scaling when scaling in.</p> <p>For more information about preventing instances from terminating on scale in, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html#instance-protection">Instance Protection</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
          in: query
          name: NewInstancesProtectedFromScaleIn
          required: false
          type: boolean
        - description: One or more lifecycle hooks.
          in: query
          items:
            type: string
          name: LifecycleHookSpecificationList
          required: false
          type: array
        - description: '<p>One or more tags.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-tagging.html">Tagging Auto Scaling Groups and Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
          in: query
          items:
            type: string
          name: Tags
          required: false
          type: array
        - description: 'The Amazon Resource Name (ARN) of the service-linked role that the Auto Scaling group uses to call other AWS services on your behalf. By default, Amazon EC2 Auto Scaling uses a service-linked role named AWSServiceRoleForAutoScaling, which it creates if it does not exist. For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-service-linked-role.html">Service-Linked Roles</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.'
          in: query
          maxLength: 1600
          minLength: 1
          name: ServiceLinkedRoleARN
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - enum:
            - CreateAutoScalingGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: AlreadyExistsFault
          schema:
            $ref: '#/definitions/AlreadyExistsFault'
        '481':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '483':
          description: ServiceLinkedRoleFailure
          schema:
            $ref: '#/definitions/ServiceLinkedRoleFailure'
      x-aws-operation-name: CreateAutoScalingGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an Auto Scaling group with the specified name and attributes.</p> <p>If you exceed your maximum limit of Auto Scaling groups, the call fails. For information about viewing this limit, see <a>DescribeAccountLimits</a>. For information about updating this limit, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-account-limits.html">Amazon EC2 Auto Scaling Limits</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      operationId: POST CreateAutoScalingGroup
      parameters:
        - description: The name of the Auto Scaling group. This name must be unique per Region per account.
          in: formData
          maxLength: 255
          minLength: 1
          name: AutoScalingGroupName
          required: true
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>The name of the launch configuration.</p> <p>If you do not specify <code>LaunchConfigurationName</code>, you must specify one of the following parameters: <code>InstanceId</code>, <code>LaunchTemplate</code>, or <code>MixedInstancesPolicy</code>.</p>'
          in: formData
          maxLength: 1600
          minLength: 1
          name: LaunchConfigurationName
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: |-
            <p>Describes a launch template and the launch template version.</p> <p>The launch template that is specified must be configured for use with an Auto Scaling group. For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-launch-template.html">Creating a Launch Template for an Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>
            The ID of the launch template. You must specify either a template ID or a template name.
          in: formData
          name: LaunchTemplate.LaunchTemplateId
          type: string
        - description: |-
            <p>Describes a launch template and the launch template version.</p> <p>The launch template that is specified must be configured for use with an Auto Scaling group. For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-launch-template.html">Creating a Launch Template for an Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>
            The name of the launch template. You must specify either a template name or a template ID.
          in: formData
          name: LaunchTemplate.LaunchTemplateName
          type: string
        - description: |-
            <p>Describes a launch template and the launch template version.</p> <p>The launch template that is specified must be configured for use with an Auto Scaling group. For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-launch-template.html">Creating a Launch Template for an Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>
            The version number, <code>$Latest</code>, or <code>$Default</code>. If the value is <code>$Latest</code>, Amazon EC2 Auto Scaling selects the latest version of the launch template when launching instances. If the value is <code>$Default</code>, Amazon EC2 Auto Scaling selects the default version of the launch template when launching instances. The default value is <code>$Default</code>.
          in: formData
          name: LaunchTemplate.Version
          type: string
        - description: |-
            <p>Describes a mixed instances policy for an Auto Scaling group. With mixed instances, your Auto Scaling group can provision a combination of On-Demand Instances and Spot Instances across multiple instance types. For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-purchase-options.html">Auto Scaling Groups with Multiple Instance Types and Purchase Options</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>You can create a mixed instances policy for a new Auto Scaling group, or you can create it for an existing group by updating the group to specify <code>MixedInstancesPolicy</code> as the top-level parameter instead of a launch configuration or template. For more information, see <a>CreateAutoScalingGroup</a> and <a>UpdateAutoScalingGroup</a>.</p>
            <p>The launch template and instance types (overrides).</p> <p>This parameter must be specified when creating a mixed instances policy.</p>
          in: formData
          name: MixedInstancesPolicy.LaunchTemplate
          type: string
        - description: |-
            <p>Describes a mixed instances policy for an Auto Scaling group. With mixed instances, your Auto Scaling group can provision a combination of On-Demand Instances and Spot Instances across multiple instance types. For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-purchase-options.html">Auto Scaling Groups with Multiple Instance Types and Purchase Options</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>You can create a mixed instances policy for a new Auto Scaling group, or you can create it for an existing group by updating the group to specify <code>MixedInstancesPolicy</code> as the top-level parameter instead of a launch configuration or template. For more information, see <a>CreateAutoScalingGroup</a> and <a>UpdateAutoScalingGroup</a>.</p>
            <p>The instances distribution to use.</p> <p>If you leave this parameter unspecified when creating a mixed instances policy, the default values are used.</p>
          in: formData
          name: MixedInstancesPolicy.InstancesDistribution
          type: string
        - description: '<p>The ID of the instance used to create a launch configuration for the group.</p> <p>When you specify an ID of an instance, Amazon EC2 Auto Scaling creates a new launch configuration and associates it with the group. This launch configuration derives its attributes from the specified instance, except for the block device mapping.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-asg-from-instance.html">Create an Auto Scaling Group Using an EC2 Instance</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>You must specify one of the following parameters in your request: <code>LaunchConfigurationName</code>, <code>LaunchTemplate</code>, <code>InstanceId</code>, or <code>MixedInstancesPolicy</code>.</p>'
          in: formData
          maxLength: 19
          minLength: 1
          name: InstanceId
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: The minimum size of the group.
          in: formData
          name: MinSize
          required: true
          type: integer
        - description: The maximum size of the group.
          in: formData
          name: MaxSize
          required: true
          type: integer
        - description: 'The number of Amazon EC2 instances that the Auto Scaling group attempts to maintain. This number must be greater than or equal to the minimum size of the group and less than or equal to the maximum size of the group. If you do not specify a desired capacity, the default is the minimum size of the group.'
          in: formData
          name: DesiredCapacity
          required: false
          type: integer
        - description: '<p>The amount of time, in seconds, after a scaling activity completes before another scaling activity can start. The default value is <code>300</code>.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/Cooldown.html">Scaling Cooldowns</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
          in: formData
          name: DefaultCooldown
          required: false
          type: integer
        - description: '<p>One or more Availability Zones for the group. This parameter is optional if you specify one or more subnets for <code>VPCZoneIdentifier</code>.</p> <p>Conditional: If your account supports EC2-Classic and VPC, this parameter is required to launch instances into EC2-Classic.</p>'
          in: formData
          items:
            type: string
          name: AvailabilityZones
          required: false
          type: array
        - description: '<p>A list of Classic Load Balancers associated with this Auto Scaling group. For Application Load Balancers and Network Load Balancers, specify a list of target groups using the <code>TargetGroupARNs</code> property instead.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html">Using a Load Balancer with an Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
          in: formData
          items:
            type: string
          name: LoadBalancerNames
          required: false
          type: array
        - description: '<p>The Amazon Resource Names (ARN) of the target groups to associate with the Auto Scaling group. Instances are registered as targets in a target group, and traffic is routed to the target group.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html">Using a Load Balancer with an Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
          in: formData
          items:
            type: string
          name: TargetGroupARNs
          required: false
          type: array
        - description: '<p>The service to use for the health checks. The valid values are <code>EC2</code> and <code>ELB</code>. The default value is <code>EC2</code>. If you configure an Auto Scaling group to use ELB health checks, it considers the instance unhealthy if it fails either the EC2 status checks or the load balancer health checks.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/healthcheck.html">Health Checks for Auto Scaling Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
          in: formData
          maxLength: 32
          minLength: 1
          name: HealthCheckType
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>The amount of time, in seconds, that Amazon EC2 Auto Scaling waits before checking the health status of an EC2 instance that has come into service. During this time, any health check failures for the instance are ignored. The default value is <code>0</code>.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/healthcheck.html#health-check-grace-period">Health Check Grace Period</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>Conditional: This parameter is required if you are adding an <code>ELB</code> health check.</p>'
          in: formData
          name: HealthCheckGracePeriod
          required: false
          type: integer
        - description: 'The name of the placement group into which to launch your instances, if any. A placement group is a logical grouping of instances within a single Availability Zone. You cannot specify multiple Availability Zones and a placement group. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html">Placement Groups</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.'
          in: formData
          maxLength: 255
          minLength: 1
          name: PlacementGroup
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>A comma-separated list of subnet IDs for your virtual private cloud (VPC).</p> <p>If you specify <code>VPCZoneIdentifier</code> with <code>AvailabilityZones</code>, the subnets that you specify for this parameter must reside in those Availability Zones.</p> <p>Conditional: If your account supports EC2-Classic and VPC, this parameter is required to launch instances into a VPC.</p>'
          in: formData
          maxLength: 2047
          minLength: 1
          name: VPCZoneIdentifier
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>One or more termination policies used to select the instance to terminate. These policies are executed in the order that they are listed.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html">Controlling Which Instances Auto Scaling Terminates During Scale In</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
          in: formData
          items:
            type: string
          name: TerminationPolicies
          required: false
          type: array
        - description: '<p>Indicates whether newly launched instances are protected from termination by Amazon EC2 Auto Scaling when scaling in.</p> <p>For more information about preventing instances from terminating on scale in, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html#instance-protection">Instance Protection</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
          in: formData
          name: NewInstancesProtectedFromScaleIn
          required: false
          type: boolean
        - description: One or more lifecycle hooks.
          in: formData
          items:
            type: string
          name: LifecycleHookSpecificationList
          required: false
          type: array
        - description: '<p>One or more tags.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-tagging.html">Tagging Auto Scaling Groups and Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
          in: formData
          items:
            type: string
          name: Tags
          required: false
          type: array
        - description: 'The Amazon Resource Name (ARN) of the service-linked role that the Auto Scaling group uses to call other AWS services on your behalf. By default, Amazon EC2 Auto Scaling uses a service-linked role named AWSServiceRoleForAutoScaling, which it creates if it does not exist. For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-service-linked-role.html">Service-Linked Roles</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.'
          in: formData
          maxLength: 1600
          minLength: 1
          name: ServiceLinkedRoleARN
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - enum:
            - CreateAutoScalingGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: AlreadyExistsFault
          schema:
            $ref: '#/definitions/AlreadyExistsFault'
        '481':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '483':
          description: ServiceLinkedRoleFailure
          schema:
            $ref: '#/definitions/ServiceLinkedRoleFailure'
      x-aws-operation-name: CreateAutoScalingGroup
  '/#Action=CreateLaunchConfiguration':
    get:
      description: '<p>Creates a launch configuration.</p> <p>If you exceed your maximum limit of launch configurations, the call fails. For information about viewing this limit, see <a>DescribeAccountLimits</a>. For information about updating this limit, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-account-limits.html">Amazon EC2 Auto Scaling Limits</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/LaunchConfiguration.html">Launch Configurations</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      operationId: GET CreateLaunchConfiguration
      parameters:
        - description: The name of the launch configuration. This name must be unique per Region per account.
          in: query
          maxLength: 255
          minLength: 1
          name: LaunchConfigurationName
          required: true
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>The ID of the Amazon Machine Image (AMI) that was assigned during registration. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/finding-an-ami.html">Finding an AMI</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p> <p>If you do not specify <code>InstanceId</code>, you must specify <code>ImageId</code>.</p>'
          in: query
          maxLength: 255
          minLength: 1
          name: ImageId
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: 'The name of the key pair. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html">Amazon EC2 Key Pairs</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.'
          in: query
          maxLength: 255
          minLength: 1
          name: KeyName
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>A list that contains the security groups to assign to the instances in the Auto Scaling group.</p> <p>[EC2-VPC] Specify the security group IDs. For more information, see <a href="https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_SecurityGroups.html">Security Groups for Your VPC</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p> <p>[EC2-Classic] Specify either the security group names or the security group IDs. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-network-security.html">Amazon EC2 Security Groups</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p>'
          in: query
          items:
            type: string
          name: SecurityGroups
          required: false
          type: array
        - description: '<p>The ID of a ClassicLink-enabled VPC to link your EC2-Classic instances to. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-classiclink.html">ClassicLink</a> in the <i>Amazon EC2 User Guide for Linux Instances</i> and <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html#as-ClassicLink">Linking EC2-Classic Instances to a VPC</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>This parameter can only be used if you are launching EC2-Classic instances. </p>'
          in: query
          maxLength: 255
          minLength: 1
          name: ClassicLinkVPCId
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>The IDs of one or more security groups for the specified ClassicLink-enabled VPC. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-classiclink.html">ClassicLink</a> in the <i>Amazon EC2 User Guide for Linux Instances</i> and <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html#as-ClassicLink">Linking EC2-Classic Instances to a VPC</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If you specify the <code>ClassicLinkVPCId</code> parameter, you must specify this parameter. </p>'
          in: query
          items:
            type: string
          name: ClassicLinkVPCSecurityGroups
          required: false
          type: array
        - description: 'The Base64-encoded user data to make available to the launched EC2 instances. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html">Instance Metadata and User Data</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.'
          in: query
          maxLength: 21847
          name: UserData
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>The ID of the instance to use to create the launch configuration. The new launch configuration derives attributes from the instance, except for the block device mapping.</p> <p>To create a launch configuration with a block device mapping or override any other instance attributes, specify them as part of the same request.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-lc-with-instanceID.html">Create a Launch Configuration Using an EC2 Instance</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If you do not specify <code>InstanceId</code>, you must specify both <code>ImageId</code> and <code>InstanceType</code>.</p>'
          in: query
          maxLength: 19
          minLength: 1
          name: InstanceId
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>Specifies the instance type of the EC2 instance.</p> <p>For information about available instance types, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html#AvailableInstanceTypes">Available Instance Types</a> in the <i>Amazon EC2 User Guide for Linux Instances.</i> </p> <p>If you do not specify <code>InstanceId</code>, you must specify <code>InstanceType</code>.</p>'
          in: query
          maxLength: 255
          minLength: 1
          name: InstanceType
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: The ID of the kernel associated with the AMI.
          in: query
          maxLength: 255
          minLength: 1
          name: KernelId
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: The ID of the RAM disk to select.
          in: query
          maxLength: 255
          minLength: 1
          name: RamdiskId
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: 'A block device mapping, which specifies the block devices for the instance. You can specify virtual devices and EBS volumes. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/block-device-mapping-concepts.html">Block Device Mapping</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.'
          in: query
          items:
            type: string
          name: BlockDeviceMappings
          required: false
          type: array
        - description: |-
            Describes whether detailed monitoring is enabled for the Auto Scaling instances.
            If <code>true</code>, detailed monitoring is enabled. Otherwise, basic monitoring is enabled.
          in: query
          name: InstanceMonitoring.Enabled
          type: string
        - description: '<p>The maximum hourly price to be paid for any Spot Instance launched to fulfill the request. Spot Instances are launched when the price you specify exceeds the current Spot market price. For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-launch-spot-instances.html">Launching Spot Instances in Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If a Spot price is set, then the Auto Scaling group will only launch instances when the Spot price has been met, regardless of the setting in the Auto Scaling group''s <code>DesiredCapacity</code>. </p> <note> <p>When you change your Spot price by creating a new launch configuration, running instances will continue to run as long as the Spot price for those running instances is higher than the current Spot market price. </p> </note>'
          in: query
          maxLength: 255
          minLength: 1
          name: SpotPrice
          required: false
          type: string
        - description: '<p>The name or the Amazon Resource Name (ARN) of the instance profile associated with the IAM role for the instance. The instance profile contains the IAM role. </p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/us-iam-role.html">IAM Role for Applications That Run on Amazon EC2 Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
          in: query
          maxLength: 1600
          minLength: 1
          name: IamInstanceProfile
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>Specifies whether the launch configuration is optimized for EBS I/O (<code>true</code>) or not (<code>false</code>). The optimization provides dedicated throughput to Amazon EBS and an optimized configuration stack to provide optimal I/O performance. This optimization is not available with all instance types. Additional fees are incurred when you enable EBS optimization for an instance type that is not EBS-optimized by default. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSOptimized.html">Amazon EBS-Optimized Instances</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p> <p>The default value is <code>false</code>. </p>'
          in: query
          name: EbsOptimized
          required: false
          type: boolean
        - description: '<p>For Auto Scaling groups that are running in a virtual private cloud (VPC), specifies whether to assign a public IP address to the group''s instances. If you specify <code>true</code>, each instance in the Auto Scaling group receives a unique public IP address. For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html">Launching Auto Scaling Instances in a VPC</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If you specify this parameter, you must specify at least one subnet for <code>VPCZoneIdentifier</code> when you create your group.</p> <note> <p>If the instance is launched into a default subnet, the default is to assign a public IP address, unless you disabled the option to assign a public IP address on the subnet. If the instance is launched into a nondefault subnet, the default is not to assign a public IP address, unless you enabled the option to assign a public IP address on the subnet.</p> </note>'
          in: query
          name: AssociatePublicIpAddress
          required: false
          type: boolean
        - description: '<p>The tenancy of the instance. An instance with <code>dedicated</code> tenancy runs on isolated, single-tenant hardware and can only be launched into a VPC.</p> <p>To launch dedicated instances into a shared tenancy VPC (a VPC with the instance placement tenancy attribute set to <code>default</code>), you must set the value of this parameter to <code>dedicated</code>.</p> <p>If you specify <code>PlacementTenancy</code>, you must specify at least one subnet for <code>VPCZoneIdentifier</code> when you create your group.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html#as-vpc-tenancy">Instance Placement Tenancy</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>Valid values: <code>default</code> | <code>dedicated</code> </p>'
          in: query
          maxLength: 64
          minLength: 1
          name: PlacementTenancy
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - enum:
            - CreateLaunchConfiguration
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: AlreadyExistsFault
          schema:
            $ref: '#/definitions/AlreadyExistsFault'
        '481':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      x-aws-operation-name: CreateLaunchConfiguration
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a launch configuration.</p> <p>If you exceed your maximum limit of launch configurations, the call fails. For information about viewing this limit, see <a>DescribeAccountLimits</a>. For information about updating this limit, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-account-limits.html">Amazon EC2 Auto Scaling Limits</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/LaunchConfiguration.html">Launch Configurations</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      operationId: POST CreateLaunchConfiguration
      parameters:
        - description: The name of the launch configuration. This name must be unique per Region per account.
          in: formData
          maxLength: 255
          minLength: 1
          name: LaunchConfigurationName
          required: true
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>The ID of the Amazon Machine Image (AMI) that was assigned during registration. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/finding-an-ami.html">Finding an AMI</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p> <p>If you do not specify <code>InstanceId</code>, you must specify <code>ImageId</code>.</p>'
          in: formData
          maxLength: 255
          minLength: 1
          name: ImageId
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: 'The name of the key pair. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html">Amazon EC2 Key Pairs</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.'
          in: formData
          maxLength: 255
          minLength: 1
          name: KeyName
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>A list that contains the security groups to assign to the instances in the Auto Scaling group.</p> <p>[EC2-VPC] Specify the security group IDs. For more information, see <a href="https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_SecurityGroups.html">Security Groups for Your VPC</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p> <p>[EC2-Classic] Specify either the security group names or the security group IDs. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-network-security.html">Amazon EC2 Security Groups</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p>'
          in: formData
          items:
            type: string
          name: SecurityGroups
          required: false
          type: array
        - description: '<p>The ID of a ClassicLink-enabled VPC to link your EC2-Classic instances to. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-classiclink.html">ClassicLink</a> in the <i>Amazon EC2 User Guide for Linux Instances</i> and <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html#as-ClassicLink">Linking EC2-Classic Instances to a VPC</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>This parameter can only be used if you are launching EC2-Classic instances. </p>'
          in: formData
          maxLength: 255
          minLength: 1
          name: ClassicLinkVPCId
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>The IDs of one or more security groups for the specified ClassicLink-enabled VPC. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-classiclink.html">ClassicLink</a> in the <i>Amazon EC2 User Guide for Linux Instances</i> and <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html#as-ClassicLink">Linking EC2-Classic Instances to a VPC</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If you specify the <code>ClassicLinkVPCId</code> parameter, you must specify this parameter. </p>'
          in: formData
          items:
            type: string
          name: ClassicLinkVPCSecurityGroups
          required: false
          type: array
        - description: 'The Base64-encoded user data to make available to the launched EC2 instances. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html">Instance Metadata and User Data</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.'
          in: formData
          maxLength: 21847
          name: UserData
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>The ID of the instance to use to create the launch configuration. The new launch configuration derives attributes from the instance, except for the block device mapping.</p> <p>To create a launch configuration with a block device mapping or override any other instance attributes, specify them as part of the same request.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-lc-with-instanceID.html">Create a Launch Configuration Using an EC2 Instance</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If you do not specify <code>InstanceId</code>, you must specify both <code>ImageId</code> and <code>InstanceType</code>.</p>'
          in: formData
          maxLength: 19
          minLength: 1
          name: InstanceId
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>Specifies the instance type of the EC2 instance.</p> <p>For information about available instance types, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html#AvailableInstanceTypes">Available Instance Types</a> in the <i>Amazon EC2 User Guide for Linux Instances.</i> </p> <p>If you do not specify <code>InstanceId</code>, you must specify <code>InstanceType</code>.</p>'
          in: formData
          maxLength: 255
          minLength: 1
          name: InstanceType
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: The ID of the kernel associated with the AMI.
          in: formData
          maxLength: 255
          minLength: 1
          name: KernelId
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: The ID of the RAM disk to select.
          in: formData
          maxLength: 255
          minLength: 1
          name: RamdiskId
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: 'A block device mapping, which specifies the block devices for the instance. You can specify virtual devices and EBS volumes. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/block-device-mapping-concepts.html">Block Device Mapping</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.'
          in: formData
          items:
            type: string
          name: BlockDeviceMappings
          required: false
          type: array
        - description: |-
            Describes whether detailed monitoring is enabled for the Auto Scaling instances.
            If <code>true</code>, detailed monitoring is enabled. Otherwise, basic monitoring is enabled.
          in: formData
          name: InstanceMonitoring.Enabled
          type: string
        - description: '<p>The maximum hourly price to be paid for any Spot Instance launched to fulfill the request. Spot Instances are launched when the price you specify exceeds the current Spot market price. For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-launch-spot-instances.html">Launching Spot Instances in Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If a Spot price is set, then the Auto Scaling group will only launch instances when the Spot price has been met, regardless of the setting in the Auto Scaling group''s <code>DesiredCapacity</code>. </p> <note> <p>When you change your Spot price by creating a new launch configuration, running instances will continue to run as long as the Spot price for those running instances is higher than the current Spot market price. </p> </note>'
          in: formData
          maxLength: 255
          minLength: 1
          name: SpotPrice
          required: false
          type: string
        - description: '<p>The name or the Amazon Resource Name (ARN) of the instance profile associated with the IAM role for the instance. The instance profile contains the IAM role. </p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/us-iam-role.html">IAM Role for Applications That Run on Amazon EC2 Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
          in: formData
          maxLength: 1600
          minLength: 1
          name: IamInstanceProfile
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: '<p>Specifies whether the launch configuration is optimized for EBS I/O (<code>true</code>) or not (<code>false</code>). The optimization provides dedicated throughput to Amazon EBS and an optimized configuration stack to provide optimal I/O performance. This optimization is not available with all instance types. Additional fees are incurred when you enable EBS optimization for an instance type that is not EBS-optimized by default. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSOptimized.html">Amazon EBS-Optimized Instances</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p> <p>The default value is <code>false</code>. </p>'
          in: formData
          name: EbsOptimized
          required: false
          type: boolean
        - description: '<p>For Auto Scaling groups that are running in a virtual private cloud (VPC), specifies whether to assign a public IP address to the group''s instances. If you specify <code>true</code>, each instance in the Auto Scaling group receives a unique public IP address. For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html">Launching Auto Scaling Instances in a VPC</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If you specify this parameter, you must specify at least one subnet for <code>VPCZoneIdentifier</code> when you create your group.</p> <note> <p>If the instance is launched into a default subnet, the default is to assign a public IP address, unless you disabled the option to assign a public IP address on the subnet. If the instance is launched into a nondefault subnet, the default is not to assign a public IP address, unless you enabled the option to assign a public IP address on the subnet.</p> </note>'
          in: formData
          name: AssociatePublicIpAddress
          required: false
          type: boolean
        - description: '<p>The tenancy of the instance. An instance with <code>dedicated</code> tenancy runs on isolated, single-tenant hardware and can only be launched into a VPC.</p> <p>To launch dedicated instances into a shared tenancy VPC (a VPC with the instance placement tenancy attribute set to <code>default</code>), you must set the value of this parameter to <code>dedicated</code>.</p> <p>If you specify <code>PlacementTenancy</code>, you must specify at least one subnet for <code>VPCZoneIdentifier</code> when you create your group.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html#as-vpc-tenancy">Instance Placement Tenancy</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>Valid values: <code>default</code> | <code>dedicated</code> </p>'
          in: formData
          maxLength: 64
          minLength: 1
          name: PlacementTenancy
          required: false
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - enum:
            - CreateLaunchConfiguration
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: AlreadyExistsFault
          schema:
            $ref: '#/definitions/AlreadyExistsFault'
        '481':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      x-aws-operation-name: CreateLaunchConfiguration
  '/#Action=CreateOrUpdateTags':
    get:
      description: '<p>Creates or updates tags for the specified Auto Scaling group.</p> <p>When you specify a tag with a key that already exists, the operation overwrites the previous tag definition, and you do not get an error message.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-tagging.html">Tagging Auto Scaling Groups and Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      operationId: GET CreateOrUpdateTags
      parameters:
        - description: One or more tags.
          in: query
          items:
            type: string
          name: Tags
          required: true
          type: array
        - enum:
            - CreateOrUpdateTags
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '481':
          description: AlreadyExistsFault
          schema:
            $ref: '#/definitions/AlreadyExistsFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '483':
          description: ResourceInUseFault
          schema:
            $ref: '#/definitions/ResourceInUseFault'
      x-aws-operation-name: CreateOrUpdateTags
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates or updates tags for the specified Auto Scaling group.</p> <p>When you specify a tag with a key that already exists, the operation overwrites the previous tag definition, and you do not get an error message.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-tagging.html">Tagging Auto Scaling Groups and Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      operationId: POST CreateOrUpdateTags
      parameters:
        - description: One or more tags.
          in: formData
          items:
            type: string
          name: Tags
          required: true
          type: array
        - enum:
            - CreateOrUpdateTags
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '481':
          description: AlreadyExistsFault
          schema:
            $ref: '#/definitions/AlreadyExistsFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '483':
          description: ResourceInUseFault
          schema:
            $ref: '#/definitions/ResourceInUseFault'
      x-aws-operation-name: CreateOrUpdateTags
  '/#Action=DeleteAutoScalingGroup':
    get:
      description: '<p>Deletes the specified Auto Scaling group.</p> <p>If the group has instances or scaling activities in progress, you must specify the option to force the deletion in order for it to succeed.</p> <p>If the group has policies, deleting the group deletes the policies, the underlying alarm actions, and any alarm that no longer has an associated action.</p> <p>To remove instances from the Auto Scaling group before deleting it, call <a>DetachInstances</a> with the list of instances and the option to decrement the desired capacity. This ensures that Amazon EC2 Auto Scaling does not launch replacement instances.</p> <p>To terminate all instances before deleting the Auto Scaling group, call <a>UpdateAutoScalingGroup</a> and set the minimum size and desired capacity of the Auto Scaling group to zero.</p>'
      operationId: GET DeleteAutoScalingGroup
      parameters:
        - description: The name of the Auto Scaling group.
          in: query
          maxLength: 1600
          minLength: 1
          name: AutoScalingGroupName
          required: true
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: 'Specifies that the group is to be deleted along with all instances associated with the group, without waiting for all instances to be terminated. This parameter also deletes any lifecycle actions associated with the group.'
          in: query
          name: ForceDelete
          required: false
          type: boolean
        - enum:
            - DeleteAutoScalingGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: ScalingActivityInProgressFault
          schema:
            $ref: '#/definitions/ScalingActivityInProgressFault'
        '481':
          description: ResourceInUseFault
          schema:
            $ref: '#/definitions/ResourceInUseFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      x-aws-operation-name: DeleteAutoScalingGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes the specified Auto Scaling group.</p> <p>If the group has instances or scaling activities in progress, you must specify the option to force the deletion in order for it to succeed.</p> <p>If the group has policies, deleting the group deletes the policies, the underlying alarm actions, and any alarm that no longer has an associated action.</p> <p>To remove instances from the Auto Scaling group before deleting it, call <a>DetachInstances</a> with the list of instances and the option to decrement the desired capacity. This ensures that Amazon EC2 Auto Scaling does not launch replacement instances.</p> <p>To terminate all instances before deleting the Auto Scaling group, call <a>UpdateAutoScalingGroup</a> and set the minimum size and desired capacity of the Auto Scaling group to zero.</p>'
      operationId: POST DeleteAutoScalingGroup
      parameters:
        - description: The name of the Auto Scaling group.
          in: formData
          maxLength: 1600
          minLength: 1
          name: AutoScalingGroupName
          required: true
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - description: 'Specifies that the group is to be deleted along with all instances associated with the group, without waiting for all instances to be terminated. This parameter also deletes any lifecycle actions associated with the group.'
          in: formData
          name: ForceDelete
          required: false
          type: boolean
        - enum:
            - DeleteAutoScalingGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: ScalingActivityInProgressFault
          schema:
            $ref: '#/definitions/ScalingActivityInProgressFault'
        '481':
          description: ResourceInUseFault
          schema:
            $ref: '#/definitions/ResourceInUseFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      x-aws-operation-name: DeleteAutoScalingGroup
  '/#Action=DeleteLaunchConfiguration':
    get:
      description: '<p>Deletes the specified launch configuration.</p> <p>The launch configuration must not be attached to an Auto Scaling group. When this call completes, the launch configuration is no longer available for use.</p>'
      operationId: GET DeleteLaunchConfiguration
      parameters:
        - description: The name of the launch configuration.
          in: query
          maxLength: 1600
          minLength: 1
          name: LaunchConfigurationName
          required: true
          type: string
          x-pattern: '[\u0020-\uD7FF\uE000-\uFFFD\uD800\uDC00-\uDBFF\uDFFF\r\n\t]*'
        - enum:
            - DeleteLaunchConfiguration
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2011-01-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: ResourceInUseFault
          schema:
[...]
