swagger: '2.0'
info:
  version: '2011-01-01'
  x-release: v4
  title: Auto Scaling
  description: '<fullname>Amazon EC2 Auto Scaling</fullname> <p>Amazon EC2 Auto Scaling is designed to automatically launch or terminate EC2 instances based on user-defined policies, schedules, and health checks. Use this service with AWS Auto Scaling, Amazon CloudWatch, and Elastic Load Balancing.</p> <p>For more information, see the <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/what-is-amazon-ec2-auto-scaling.html">Amazon EC2 Auto Scaling User Guide</a>.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: autoscaling
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/autoscaling-2011-01-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/autoscaling/'
host: autoscaling.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes: []
produces: []
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AttachInstances
      description: '<p>Attaches one or more EC2 instances to the specified Auto Scaling group.</p> <p>When you attach instances, Amazon EC2 Auto Scaling increases the desired capacity of the group by the number of instances being attached. If the number of instances being attached plus the desired capacity of the group exceeds the maximum size of the group, the operation fails.</p> <p>If there is a Classic Load Balancer attached to your Auto Scaling group, the instances are also registered with the load balancer. If there are target groups attached to your Auto Scaling group, the instances are also registered with the target groups.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/attach-instance-asg.html">Attach EC2 Instances to Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '481':
          description: ServiceLinkedRoleFailure
          schema:
            $ref: '#/definitions/ServiceLinkedRoleFailure'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AttachInstancesQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AttachLoadBalancerTargetGroups':
    post:
      operationId: AttachLoadBalancerTargetGroups
      description: '<p>Attaches one or more target groups to the specified Auto Scaling group.</p> <p>To describe the target groups for an Auto Scaling group, use <a>DescribeLoadBalancerTargetGroups</a>. To detach the target group from the Auto Scaling group, use <a>DetachLoadBalancerTargetGroups</a>.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/attach-load-balancer-asg.html">Attach a Load Balancer to Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachLoadBalancerTargetGroupsResultType'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '481':
          description: ServiceLinkedRoleFailure
          schema:
            $ref: '#/definitions/ServiceLinkedRoleFailure'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AttachLoadBalancerTargetGroupsType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AttachLoadBalancers':
    post:
      operationId: AttachLoadBalancers
      description: '<p>Attaches one or more Classic Load Balancers to the specified Auto Scaling group.</p> <p>To attach an Application Load Balancer instead, see <a>AttachLoadBalancerTargetGroups</a>.</p> <p>To describe the load balancers for an Auto Scaling group, use <a>DescribeLoadBalancers</a>. To detach the load balancer from the Auto Scaling group, use <a>DetachLoadBalancers</a>.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/attach-load-balancer-asg.html">Attach a Load Balancer to Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachLoadBalancersResultType'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '481':
          description: ServiceLinkedRoleFailure
          schema:
            $ref: '#/definitions/ServiceLinkedRoleFailure'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AttachLoadBalancersType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchDeleteScheduledAction':
    post:
      operationId: BatchDeleteScheduledAction
      description: Deletes one or more scheduled actions for the specified Auto Scaling group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDeleteScheduledActionAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchDeleteScheduledActionType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchPutScheduledUpdateGroupAction':
    post:
      operationId: BatchPutScheduledUpdateGroupAction
      description: 'Creates or updates one or more scheduled scaling actions for an Auto Scaling group. If you leave a parameter unspecified when updating a scheduled scaling action, the corresponding value remains unchanged.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchPutScheduledUpdateGroupActionAnswer'
        '480':
          description: AlreadyExistsFault
          schema:
            $ref: '#/definitions/AlreadyExistsFault'
        '481':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchPutScheduledUpdateGroupActionType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CompleteLifecycleAction':
    post:
      operationId: CompleteLifecycleAction
      description: '<p>Completes the lifecycle action for the specified token or instance with the specified result.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Amazon EC2 Auto Scaling launches or terminates instances.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Amazon EC2 Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</p> </li> <li> <p>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state.</p> </li> <li> <p> <b>If you finish before the timeout period ends, complete the lifecycle action.</b> </p> </li> </ol> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/AutoScalingGroupLifecycle.html">Auto Scaling Lifecycle</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CompleteLifecycleActionAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CompleteLifecycleActionType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateAutoScalingGroup':
    post:
      operationId: CreateAutoScalingGroup
      description: '<p>Creates an Auto Scaling group with the specified name and attributes.</p> <p>If you exceed your maximum limit of Auto Scaling groups, the call fails. For information about viewing this limit, see <a>DescribeAccountLimits</a>. For information about updating this limit, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/as-account-limits.html">Auto Scaling Limits</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/AutoScalingGroup.html">Auto Scaling Groups</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: AlreadyExistsFault
          schema:
            $ref: '#/definitions/AlreadyExistsFault'
        '481':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '483':
          description: ServiceLinkedRoleFailure
          schema:
            $ref: '#/definitions/ServiceLinkedRoleFailure'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAutoScalingGroupType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateLaunchConfiguration':
    post:
      operationId: CreateLaunchConfiguration
      description: '<p>Creates a launch configuration.</p> <p>If you exceed your maximum limit of launch configurations, the call fails. For information about viewing this limit, see <a>DescribeAccountLimits</a>. For information about updating this limit, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/as-account-limits.html">Auto Scaling Limits</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/LaunchConfiguration.html">Launch Configurations</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: AlreadyExistsFault
          schema:
            $ref: '#/definitions/AlreadyExistsFault'
        '481':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateLaunchConfigurationType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateOrUpdateTags':
    post:
      operationId: CreateOrUpdateTags
      description: '<p>Creates or updates tags for the specified Auto Scaling group.</p> <p>When you specify a tag with a key that already exists, the operation overwrites the previous tag definition, and you do not get an error message.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-tagging.html">Tagging Auto Scaling Groups and Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '481':
          description: AlreadyExistsFault
          schema:
            $ref: '#/definitions/AlreadyExistsFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '483':
          description: ResourceInUseFault
          schema:
            $ref: '#/definitions/ResourceInUseFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateOrUpdateTagsType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteAutoScalingGroup':
    post:
      operationId: DeleteAutoScalingGroup
      description: '<p>Deletes the specified Auto Scaling group.</p> <p>If the group has instances or scaling activities in progress, you must specify the option to force the deletion in order for it to succeed.</p> <p>If the group has policies, deleting the group deletes the policies, the underlying alarm actions, and any alarm that no longer has an associated action.</p> <p>To remove instances from the Auto Scaling group before deleting it, call <a>DetachInstances</a> with the list of instances and the option to decrement the desired capacity. This ensures that Amazon EC2 Auto Scaling does not launch replacement instances.</p> <p>To terminate all instances before deleting the Auto Scaling group, call <a>UpdateAutoScalingGroup</a> and set the minimum size and desired capacity of the Auto Scaling group to zero.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ScalingActivityInProgressFault
          schema:
            $ref: '#/definitions/ScalingActivityInProgressFault'
        '481':
          description: ResourceInUseFault
          schema:
            $ref: '#/definitions/ResourceInUseFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAutoScalingGroupType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteLaunchConfiguration':
    post:
      operationId: DeleteLaunchConfiguration
      description: '<p>Deletes the specified launch configuration.</p> <p>The launch configuration must not be attached to an Auto Scaling group. When this call completes, the launch configuration is no longer available for use.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceInUseFault
          schema:
            $ref: '#/definitions/ResourceInUseFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/LaunchConfigurationNameType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteLifecycleHook':
    post:
      operationId: DeleteLifecycleHook
      description: '<p>Deletes the specified lifecycle hook.</p> <p>If there are any outstanding lifecycle actions, they are completed first (<code>ABANDON</code> for launching instances, <code>CONTINUE</code> for terminating instances).</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLifecycleHookAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteLifecycleHookType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteNotificationConfiguration':
    post:
      operationId: DeleteNotificationConfiguration
      description: Deletes the specified notification.
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteNotificationConfigurationType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeletePolicy':
    post:
      operationId: DeletePolicy
      description: '<p>Deletes the specified Auto Scaling policy.</p> <p>Deleting a policy deletes the underlying alarm action, but does not delete the alarm, even if it no longer has an associated action.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '481':
          description: ServiceLinkedRoleFailure
          schema:
            $ref: '#/definitions/ServiceLinkedRoleFailure'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeletePolicyType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteScheduledAction':
    post:
      operationId: DeleteScheduledAction
      description: Deletes the specified scheduled action.
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteScheduledActionType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteTags':
    post:
      operationId: DeleteTags
      description: Deletes the specified tags.
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '481':
          description: ResourceInUseFault
          schema:
            $ref: '#/definitions/ResourceInUseFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteTagsType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAccountLimits':
    post:
      operationId: DescribeAccountLimits
      description: '<p>Describes the current Auto Scaling resource limits for your AWS account.</p> <p>For information about requesting an increase in these limits, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/as-account-limits.html">Auto Scaling Limits</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccountLimitsAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAdjustmentTypes':
    post:
      operationId: DescribeAdjustmentTypes
      description: Describes the policy adjustment types for use with <a>PutScalingPolicy</a>.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAdjustmentTypesAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAutoScalingGroups':
    post:
      operationId: DescribeAutoScalingGroups
      description: Describes one or more Auto Scaling groups.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AutoScalingGroupsType'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AutoScalingGroupNamesType'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAutoScalingInstances':
    post:
      operationId: DescribeAutoScalingInstances
      description: Describes one or more Auto Scaling instances.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AutoScalingInstancesType'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAutoScalingInstancesType'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAutoScalingNotificationTypes':
    post:
      operationId: DescribeAutoScalingNotificationTypes
      description: Describes the notification types that are supported by Amazon EC2 Auto Scaling.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAutoScalingNotificationTypesAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLaunchConfigurations':
    post:
      operationId: DescribeLaunchConfigurations
      description: Describes one or more launch configurations.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/LaunchConfigurationsType'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/LaunchConfigurationNamesType'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLifecycleHookTypes':
    post:
      operationId: DescribeLifecycleHookTypes
      description: '<p>Describes the available types of lifecycle hooks.</p> <p>The following hook types are supported:</p> <ul> <li> <p>autoscaling:EC2_INSTANCE_LAUNCHING</p> </li> <li> <p>autoscaling:EC2_INSTANCE_TERMINATING</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLifecycleHookTypesAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLifecycleHooks':
    post:
      operationId: DescribeLifecycleHooks
      description: Describes the lifecycle hooks for the specified Auto Scaling group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLifecycleHooksAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLifecycleHooksType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLoadBalancerTargetGroups':
    post:
      operationId: DescribeLoadBalancerTargetGroups
      description: Describes the target groups for the specified Auto Scaling group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancerTargetGroupsResponse'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLoadBalancerTargetGroupsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLoadBalancers':
    post:
      operationId: DescribeLoadBalancers
      description: '<p>Describes the load balancers for the specified Auto Scaling group.</p> <p>This operation describes only Classic Load Balancers. If you have Application Load Balancers, use <a>DescribeLoadBalancerTargetGroups</a> instead.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancersResponse'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLoadBalancersRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeMetricCollectionTypes':
    post:
      operationId: DescribeMetricCollectionTypes
      description: <p>Describes the available CloudWatch metrics for Amazon EC2 Auto Scaling.</p> <p>The <code>GroupStandbyInstances</code> metric is not returned by default. You must explicitly request this metric when calling <a>EnableMetricsCollection</a>.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeMetricCollectionTypesAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeNotificationConfigurations':
    post:
      operationId: DescribeNotificationConfigurations
      description: Describes the notification actions associated with the specified Auto Scaling group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeNotificationConfigurationsAnswer'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeNotificationConfigurationsType'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribePolicies':
    post:
      operationId: DescribePolicies
      description: Describes the policies for the specified Auto Scaling group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PoliciesType'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '482':
          description: ServiceLinkedRoleFailure
          schema:
            $ref: '#/definitions/ServiceLinkedRoleFailure'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribePoliciesType'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeScalingActivities':
    post:
      operationId: DescribeScalingActivities
      description: Describes one or more scaling activities for the specified Auto Scaling group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ActivitiesType'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeScalingActivitiesType'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeScalingProcessTypes':
    post:
      operationId: DescribeScalingProcessTypes
      description: Describes the scaling process types for use with <a>ResumeProcesses</a> and <a>SuspendProcesses</a>.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ProcessesType'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeScheduledActions':
    post:
      operationId: DescribeScheduledActions
      description: 'Describes the actions scheduled for your Auto Scaling group that haven''t run. To describe the actions that have already run, use <a>DescribeScalingActivities</a>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ScheduledActionsType'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeScheduledActionsType'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTags':
    post:
      operationId: DescribeTags
      description: '<p>Describes the specified tags.</p> <p>You can use filters to limit the results. For example, you can query for the tags for a specific Auto Scaling group. You can specify multiple values for a filter. A tag must match at least one of the specified values for it to be included in the results.</p> <p>You can also specify multiple filters. The result includes information for a particular tag only if it matches all the filters. If there''s no match, no special message is returned.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagsType'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTagsType'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTerminationPolicyTypes':
    post:
      operationId: DescribeTerminationPolicyTypes
      description: '<p>Describes the termination policies supported by Amazon EC2 Auto Scaling.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html">Controlling Which Auto Scaling Instances Terminate During Scale In</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTerminationPolicyTypesAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetachInstances':
    post:
      operationId: DetachInstances
      description: '<p>Removes one or more instances from the specified Auto Scaling group.</p> <p>After the instances are detached, you can manage them independent of the Auto Scaling group.</p> <p>If you do not specify the option to decrement the desired capacity, Amazon EC2 Auto Scaling launches instances to replace the ones that are detached.</p> <p>If there is a Classic Load Balancer attached to the Auto Scaling group, the instances are deregistered from the load balancer. If there are target groups attached to the Auto Scaling group, the instances are deregistered from the target groups.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/detach-instance-asg.html">Detach EC2 Instances from Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetachInstancesAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetachInstancesQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetachLoadBalancerTargetGroups':
    post:
      operationId: DetachLoadBalancerTargetGroups
      description: Detaches one or more target groups from the specified Auto Scaling group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetachLoadBalancerTargetGroupsResultType'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetachLoadBalancerTargetGroupsType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetachLoadBalancers':
    post:
      operationId: DetachLoadBalancers
      description: '<p>Detaches one or more Classic Load Balancers from the specified Auto Scaling group.</p> <p>This operation detaches only Classic Load Balancers. If you have Application Load Balancers, use <a>DetachLoadBalancerTargetGroups</a> instead.</p> <p>When you detach a load balancer, it enters the <code>Removing</code> state while deregistering the instances in the group. When all instances are deregistered, then you can no longer describe the load balancer using <a>DescribeLoadBalancers</a>. The instances remain running.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetachLoadBalancersResultType'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetachLoadBalancersType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DisableMetricsCollection':
    post:
      operationId: DisableMetricsCollection
      description: Disables group metrics for the specified Auto Scaling group.
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisableMetricsCollectionQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#EnableMetricsCollection':
    post:
      operationId: EnableMetricsCollection
      description: 'Enables group metrics for the specified Auto Scaling group. For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-monitoring.html">Monitoring Your Auto Scaling Groups and Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/EnableMetricsCollectionQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#EnterStandby':
    post:
      operationId: EnterStandby
      description: '<p>Moves the specified instances into the standby state.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/as-enter-exit-standby.html">Temporarily Removing Instances from Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnterStandbyAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/EnterStandbyQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ExecutePolicy':
    post:
      operationId: ExecutePolicy
      description: Executes the specified policy.
      responses:
        '200':
          description: Success
        '480':
          description: ScalingActivityInProgressFault
          schema:
            $ref: '#/definitions/ScalingActivityInProgressFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ExecutePolicyType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ExitStandby':
    post:
      operationId: ExitStandby
      description: '<p>Moves the specified instances out of the standby state.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/as-enter-exit-standby.html">Temporarily Removing Instances from Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ExitStandbyAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ExitStandbyQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutLifecycleHook':
    post:
      operationId: PutLifecycleHook
      description: '<p>Creates or updates a lifecycle hook for the specified Auto Scaling group.</p> <p>A lifecycle hook tells Amazon EC2 Auto Scaling to perform an action on an instance that is not actively in service; for example, either when the instance launches or before the instance terminates.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Amazon EC2 Auto Scaling launches or terminates instances.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Amazon EC2 Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p> <b>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</b> </p> </li> <li> <p>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state.</p> </li> <li> <p>If you finish before the timeout period ends, complete the lifecycle action.</p> </li> </ol> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/lifecycle-hooks.html">Auto Scaling Lifecycle Hooks</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If you exceed your maximum limit of lifecycle hooks, which by default is 50 per Auto Scaling group, the call fails. For information about updating this limit, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html">AWS Service Limits</a> in the <i>Amazon Web Services General Reference</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutLifecycleHookAnswer'
        '480':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutLifecycleHookType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutNotificationConfiguration':
    post:
      operationId: PutNotificationConfiguration
      description: '<p>Configures an Auto Scaling group to send notifications when specified events take place. Subscribers to the specified topic can have messages delivered to an endpoint such as a web server or an email address.</p> <p>This configuration overwrites any existing configuration.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/ASGettingNotifications.html">Getting SNS Notifications When Your Auto Scaling Group Scales</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '482':
          description: ServiceLinkedRoleFailure
          schema:
            $ref: '#/definitions/ServiceLinkedRoleFailure'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutNotificationConfigurationType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutScalingPolicy':
    post:
      operationId: PutScalingPolicy
      description: '<p>Creates or updates a policy for an Auto Scaling group. To update an existing policy, use the existing policy name and set the parameters to change. Any existing parameter not changed in an update to an existing policy is not changed in this update request.</p> <p>If you exceed your maximum limit of step adjustments, which by default is 20 per region, the call fails. For information about updating this limit, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html">AWS Service Limits</a> in the <i>Amazon Web Services General Reference</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PolicyARNType'
        '480':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '482':
          description: ServiceLinkedRoleFailure
          schema:
            $ref: '#/definitions/ServiceLinkedRoleFailure'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutScalingPolicyType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutScheduledUpdateGroupAction':
    post:
      operationId: PutScheduledUpdateGroupAction
      description: '<p>Creates or updates a scheduled scaling action for an Auto Scaling group. If you leave a parameter unspecified when updating a scheduled scaling action, the corresponding value remains unchanged.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/schedule_time.html">Scheduled Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: AlreadyExistsFault
          schema:
            $ref: '#/definitions/AlreadyExistsFault'
        '481':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutScheduledUpdateGroupActionType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RecordLifecycleActionHeartbeat':
    post:
      operationId: RecordLifecycleActionHeartbeat
      description: '<p>Records a heartbeat for the lifecycle action associated with the specified token or instance. This extends the timeout by the length of time defined using <a>PutLifecycleHook</a>.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Amazon EC2 Auto Scaling launches or terminates instances.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Amazon EC2 Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</p> </li> <li> <p> <b>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state.</b> </p> </li> <li> <p>If you finish before the timeout period ends, complete the lifecycle action.</p> </li> </ol> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/AutoScalingGroupLifecycle.html">Auto Scaling Lifecycle</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RecordLifecycleActionHeartbeatAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RecordLifecycleActionHeartbeatType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ResumeProcesses':
    post:
      operationId: ResumeProcesses
      description: '<p>Resumes the specified suspended automatic scaling processes, or all suspended process, for the specified Auto Scaling group.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/as-suspend-resume-processes.html">Suspending and Resuming Scaling Processes</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceInUseFault
          schema:
            $ref: '#/definitions/ResourceInUseFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ScalingProcessQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SetDesiredCapacity':
    post:
      operationId: SetDesiredCapacity
      description: '<p>Sets the size of the specified Auto Scaling group.</p> <p>For more information about desired capacity, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/WhatIsAutoScaling.html">What Is Amazon EC2 Auto Scaling?</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ScalingActivityInProgressFault
          schema:
            $ref: '#/definitions/ScalingActivityInProgressFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetDesiredCapacityType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SetInstanceHealth':
    post:
      operationId: SetInstanceHealth
      description: '<p>Sets the health status of the specified instance.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/healthcheck.html">Health Checks</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetInstanceHealthQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SetInstanceProtection':
    post:
      operationId: SetInstanceProtection
      description: '<p>Updates the instance protection settings of the specified instances.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html#instance-protection">Instance Protection</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SetInstanceProtectionAnswer'
        '480':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetInstanceProtectionQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SuspendProcesses':
    post:
      operationId: SuspendProcesses
      description: '<p>Suspends the specified automatic scaling processes, or all processes, for the specified Auto Scaling group.</p> <p>If you suspend either the <code>Launch</code> or <code>Terminate</code> process types, it can prevent other process types from functioning properly.</p> <p>To resume processes that have been suspended, use <a>ResumeProcesses</a>.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/as-suspend-resume-processes.html">Suspending and Resuming Scaling Processes</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceInUseFault
          schema:
            $ref: '#/definitions/ResourceInUseFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ScalingProcessQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#TerminateInstanceInAutoScalingGroup':
    post:
      operationId: TerminateInstanceInAutoScalingGroup
      description: <p>Terminates the specified instance and optionally adjusts the desired group size.</p> <p>This call simply makes a termination request. The instance is not terminated immediately.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ActivityType'
        '480':
          description: ScalingActivityInProgressFault
          schema:
            $ref: '#/definitions/ScalingActivityInProgressFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TerminateInstanceInAutoScalingGroupType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateAutoScalingGroup':
    post:
      operationId: UpdateAutoScalingGroup
      description: '<p>Updates the configuration for the specified Auto Scaling group.</p> <p>The new settings take effect on any scaling activities after this call returns. Scaling activities that are currently in progress aren''t affected.</p> <p>To update an Auto Scaling group with a launch configuration with <code>InstanceMonitoring</code> set to <code>false</code>, you must first disable the collection of group metrics. Otherwise, you get an error. If you have previously enabled the collection of group metrics, you can disable it using <a>DisableMetricsCollection</a>.</p> <p>Note the following:</p> <ul> <li> <p>If you specify a new value for <code>MinSize</code> without specifying a value for <code>DesiredCapacity</code>, and the new <code>MinSize</code> is larger than the current size of the group, we implicitly call <a>SetDesiredCapacity</a> to set the size of the group to the new value of <code>MinSize</code>.</p> </li> <li> <p>If you specify a new value for <code>MaxSize</code> without specifying a value for <code>DesiredCapacity</code>, and the new <code>MaxSize</code> is smaller than the current size of the group, we implicitly call <a>SetDesiredCapacity</a> to set the size of the group to the new value of <code>MaxSize</code>.</p> </li> <li> <p>All other optional parameters are left unchanged if not specified.</p> </li> </ul>'
      responses:
        '200':
          description: Success
        '480':
          description: ScalingActivityInProgressFault
          schema:
            $ref: '#/definitions/ScalingActivityInProgressFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
        '482':
          description: ServiceLinkedRoleFailure
          schema:
            $ref: '#/definitions/ServiceLinkedRoleFailure'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateAutoScalingGroupType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AttachInstancesQuery:
    type: object
    required:
      - AutoScalingGroupName
    example:
      AutoScalingGroupName: my-auto-scaling-group
      InstanceIds:
        - i-93633f9b
    properties:
      InstanceIds:
        $ref: '#/definitions/[object Object]'
        description: The IDs of the instances. You can specify up to 20 instances.
      AutoScalingGroupName:
        $ref: '#/definitions/[object Object]'
        description: The name of the Auto Scaling group.
  ResourceContentionFault: {}
  ServiceLinkedRoleFailure: {}
  AttachLoadBalancerTargetGroupsResultType:
    type: object
    properties: {}
  AttachLoadBalancerTargetGroupsType:
    type: object
    required:
      - AutoScalingGroupName
      - TargetGroupARNs
    example:
      AutoScalingGroupName: my-auto-scaling-group
      TargetGroupARNs:
        - 'arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067'
    properties:
      AutoScalingGroupName:
        $ref: '#/definitions/[object Object]'
        description: The name of the Auto Scaling group.
      TargetGroupARNs:
        $ref: '#/definitions/[object Object]'
        description: The Amazon Resource Names (ARN) of the target groups. You can specify up to 10 target groups.
  AttachLoadBalancersResultType:
    type: object
    properties: {}
  AttachLoadBalancersType:
    type: object
    required:
      - AutoScalingGroupName
      - LoadBalancerNames
    example:
      AutoScalingGroupName: my-auto-scaling-group
      LoadBalancerNames:
        - my-load-balancer
    properties:
      AutoScalingGroupName:
        $ref: '#/definitions/[object Object]'
        description: The name of the Auto Scaling group.
      LoadBalancerNames:
        $ref: '#/definitions/[object Object]'
        description: The names of the load balancers. You can specify up to 10 load balancers.
  BatchDeleteScheduledActionAnswer:
    type: object
    properties:
      FailedScheduledActions:
        $ref: '#/definitions/[object Object]'
        description: 'The names of the scheduled actions that could not be deleted, including an error message. '
  BatchDeleteScheduledActionType:
    type: object
    required:
      - AutoScalingGroupName
      - ScheduledActionNames
    properties:
      AutoScalingGroupName:
        $ref: '#/definitions/[object Object]'
        description: The name of the Auto Scaling group.
      ScheduledActionNames:
        $ref: '#/definitions/[object Object]'
        description: 'The names of the scheduled actions to delete. The maximum number allowed is 50. '
  BatchPutScheduledUpdateGroupActionAnswer:
    type: object
    properties:
      FailedScheduledUpdateGroupActions:
        $ref: '#/definitions/[object Object]'
        description: 'The names of the scheduled actions that could not be created or updated, including an error message.'
  BatchPutScheduledUpdateGroupActionType:
    type: object
    required:
      - AutoScalingGroupName
      - ScheduledUpdateGroupActions
    properties:
      AutoScalingGroupName:
        $ref: '#/definitions/[object Object]'
        description: The name of the Auto Scaling group.
      ScheduledUpdateGroupActions:
        $ref: '#/definitions/[object Object]'
        description: 'One or more scheduled actions. The maximum number allowed is 50. '
  AlreadyExistsFault: {}
  LimitExceededFault: {}
  CompleteLifecycleActionAnswer:
    type: object
    properties: {}
  CompleteLifecycleActionType:
    type: object
    required:
      - LifecycleHookName
      - AutoScalingGroupName
      - LifecycleActionResult
    example:
      AutoScalingGroupName: my-auto-scaling-group
      LifecycleActionResult: CONTINUE
      LifecycleActionToken: bcd2f1b8-9a78-44d3-8a7a-4dd07d7cf635
      LifecycleHookName: my-lifecycle-hook
    properties:
      LifecycleHookName:
        $ref: '#/definitions/[object Object]'
        description: The name of the lifecycle hook.
      AutoScalingGroupName:
        $ref: '#/definitions/[object Object]'
        description: The name of the Auto Scaling group.
      LifecycleActionToken:
        $ref: '#/definitions/[object Object]'
        description: A universally unique identifier (UUID) that identifies a specific lifecycle action associated with an instance. Amazon EC2 Auto Scaling sends this token to the notification target you specified when you created the lifecycle hook.
      LifecycleActionResult:
        $ref: '#/definitions/[object Object]'
        description: The action for the group to take. This parameter can be either <code>CONTINUE</code> or <code>ABANDON</code>.
      InstanceId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the instance.
  CreateAutoScalingGroupType:
    type: object
    required:
      - AutoScalingGroupName
      - MinSize
      - MaxSize
    example:
      AutoScalingGroupName: my-auto-scaling-group
      HealthCheckGracePeriod: 120
      HealthCheckType: ELB
      LaunchConfigurationName: my-launch-config
      MaxSize: 3
      MinSize: 1
      TargetGroupARNs:
        - 'arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067'
      VPCZoneIdentifier: 'subnet-4176792c, subnet-65ea5f08'
    properties:
      AutoScalingGroupName:
        $ref: '#/definitions/[object Object]'
        description: The name of the Auto Scaling group. This name must be unique within the scope of your AWS account.
      LaunchConfigurationName:
        $ref: '#/definitions/[object Object]'
        description: 'The name of the launch configuration. This parameter, a launch template, a mixed instances policy, or an EC2 instance must be specified.'
      LaunchTemplate:
        $ref: '#/definitions/[object Object]'
        description: 'The launch template to use to launch instances. This parameter, a launch configuration, a mixed instances policy, or an EC2 instance must be specified.'
      MixedInstancesPolicy:
        $ref: '#/definitions/[object Object]'
        description: 'The mixed instances policy to use to launch instances. This parameter, a launch template, a launch configuration, or an EC2 instance must be specified.'
      InstanceId:
        $ref: '#/definitions/[object Object]'
        description: '<p>The ID of the instance used to create a launch configuration for the group. This parameter, a launch configuration, a launch template, or a mixed instances policy must be specified.</p> <p>When you specify an ID of an instance, Amazon EC2 Auto Scaling creates a new launch configuration and associates it with the group. This launch configuration derives its attributes from the specified instance, except for the block device mapping.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/create-asg-from-instance.html">Create an Auto Scaling Group Using an EC2 Instance</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      MinSize:
        $ref: '#/definitions/[object Object]'
        description: The minimum size of the group.
      MaxSize:
        $ref: '#/definitions/[object Object]'
        description: The maximum size of the group.
      DesiredCapacity:
        $ref: '#/definitions/[object Object]'
        description: 'The number of EC2 instances that should be running in the group. This number must be greater than or equal to the minimum size of the group and less than or equal to the maximum size of the group. If you do not specify a desired capacity, the default is the minimum size of the group.'
      DefaultCooldown:
        $ref: '#/definitions/[object Object]'
        description: '<p>The amount of time, in seconds, after a scaling activity completes before another scaling activity can start. The default is 300.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/Cooldown.html">Scaling Cooldowns</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      AvailabilityZones:
        $ref: '#/definitions/[object Object]'
        description: One or more Availability Zones for the group. This parameter is optional if you specify one or more subnets.
      LoadBalancerNames:
        $ref: '#/definitions/[object Object]'
        description: '<p>One or more Classic Load Balancers. To specify an Application Load Balancer, use <code>TargetGroupARNs</code> instead.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/create-asg-from-instance.html">Using a Load Balancer With an Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      TargetGroupARNs:
        $ref: '#/definitions/[object Object]'
        description: The Amazon Resource Names (ARN) of the target groups.
      HealthCheckType:
        $ref: '#/definitions/[object Object]'
        description: '<p>The service to use for the health checks. The valid values are <code>EC2</code> and <code>ELB</code>.</p> <p>By default, health checks use Amazon EC2 instance status checks to determine the health of an instance. For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/healthcheck.html">Health Checks</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      HealthCheckGracePeriod:
        $ref: '#/definitions/[object Object]'
        description: '<p>The amount of time, in seconds, that Amazon EC2 Auto Scaling waits before checking the health status of an EC2 instance that has come into service. During this time, any health check failures for the instance are ignored. The default is 0.</p> <p>This parameter is required if you are adding an <code>ELB</code> health check.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/healthcheck.html">Health Checks</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      PlacementGroup:
        $ref: '#/definitions/[object Object]'
        description: 'The name of the placement group into which to launch your instances, if any. For more information, see <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html">Placement Groups</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.'
      VPCZoneIdentifier:
        $ref: '#/definitions/[object Object]'
        description: '<p>A comma-separated list of subnet identifiers for your virtual private cloud (VPC).</p> <p>If you specify subnets and Availability Zones with this call, ensure that the subnets'' Availability Zones match the Availability Zones specified.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html">Launching Auto Scaling Instances in a VPC</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      TerminationPolicies:
        $ref: '#/definitions/[object Object]'
        description: '<p>One or more termination policies used to select the instance to terminate. These policies are executed in the order that they are listed.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html">Controlling Which Instances Auto Scaling Terminates During Scale In</a> in the <i>Auto Scaling User Guide</i>.</p>'
      NewInstancesProtectedFromScaleIn:
        $ref: '#/definitions/[object Object]'
        description: Indicates whether newly launched instances are protected from termination by Auto Scaling when scaling in.
      LifecycleHookSpecificationList:
        $ref: '#/definitions/[object Object]'
        description: One or more lifecycle hooks.
      Tags:
        $ref: '#/definitions/[object Object]'
        description: '<p>One or more tags.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-tagging.html">Tagging Auto Scaling Groups and Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      ServiceLinkedRoleARN:
        $ref: '#/definitions/[object Object]'
        description: 'The Amazon Resource Name (ARN) of the service-linked role that the Auto Scaling group uses to call other AWS services on your behalf. By default, Amazon EC2 Auto Scaling uses a service-linked role named AWSServiceRoleForAutoScaling, which it creates if it does not exist.'
  CreateLaunchConfigurationType:
    type: object
    required:
      - LaunchConfigurationName
    example:
      IamInstanceProfile: my-iam-role
      ImageId: ami-12345678
      InstanceType: m3.medium
      LaunchConfigurationName: my-launch-config
      SecurityGroups:
        - sg-eb2af88e
    properties:
      LaunchConfigurationName:
        $ref: '#/definitions/[object Object]'
        description: The name of the launch configuration. This name must be unique within the scope of your AWS account.
      ImageId:
        $ref: '#/definitions/[object Object]'
        description: '<p>The ID of the Amazon Machine Image (AMI) to use to launch your EC2 instances.</p> <p>If you do not specify <code>InstanceId</code>, you must specify <code>ImageId</code>.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/finding-an-ami.html">Finding an AMI</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>'
      KeyName:
        $ref: '#/definitions/[object Object]'
        description: 'The name of the key pair. For more information, see <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html">Amazon EC2 Key Pairs</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.'
      SecurityGroups:
        $ref: '#/definitions/[object Object]'
        description: '<p>One or more security groups with which to associate the instances.</p> <p>If your instances are launched in EC2-Classic, you can either specify security group names or the security group IDs. For more information, see <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-network-security.html">Amazon EC2 Security Groups</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <p>If your instances are launched into a VPC, specify security group IDs. For more information, see <a href="http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_SecurityGroups.html">Security Groups for Your VPC</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>'
      ClassicLinkVPCId:
        $ref: '#/definitions/[object Object]'
        description: 'The ID of a ClassicLink-enabled VPC to link your EC2-Classic instances to. This parameter is supported only if you are launching EC2-Classic instances. For more information, see <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-classiclink.html">ClassicLink</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.'
      ClassicLinkVPCSecurityGroups:
        $ref: '#/definitions/[object Object]'
        description: 'The IDs of one or more security groups for the specified ClassicLink-enabled VPC. This parameter is required if you specify a ClassicLink-enabled VPC, and is not supported otherwise. For more information, see <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-classiclink.html">ClassicLink</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.'
      UserData:
        $ref: '#/definitions/[object Object]'
        description: 'The user data to make available to the launched EC2 instances. For more information, see <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html">Instance Metadata and User Data</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.'
      InstanceId:
        $ref: '#/definitions/[object Object]'
        description: '<p>The ID of the instance to use to create the launch configuration. The new launch configuration derives attributes from the instance, except for the block device mapping.</p> <p>If you do not specify <code>InstanceId</code>, you must specify both <code>ImageId</code> and <code>InstanceType</code>.</p> <p>To create a launch configuration with a block device mapping or override any other instance attributes, specify them as part of the same request.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/create-lc-with-instanceID.html">Create a Launch Configuration Using an EC2 Instance</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      InstanceType:
        $ref: '#/definitions/[object Object]'
        description: '<p>The instance type of the EC2 instance.</p> <p>If you do not specify <code>InstanceId</code>, you must specify <code>InstanceType</code>.</p> <p>For information about available instance types, see <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html#AvailableInstanceTypes">Available Instance Types</a> in the <i>Amazon Elastic Compute Cloud User Guide.</i> </p>'
      KernelId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the kernel associated with the AMI.
      RamdiskId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the RAM disk associated with the AMI.
      BlockDeviceMappings:
        $ref: '#/definitions/[object Object]'
        description: 'One or more mappings that specify how block devices are exposed to the instance. For more information, see <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/block-device-mapping-concepts.html">Block Device Mapping</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.'
      InstanceMonitoring:
        $ref: '#/definitions/[object Object]'
        description: Enables detailed monitoring (<code>true</code>) or basic monitoring (<code>false</code>) for the Auto Scaling instances. The default is <code>true</code>.
      SpotPrice:
        $ref: '#/definitions/[object Object]'
        description: 'The maximum hourly price to be paid for any Spot Instance launched to fulfill the request. Spot Instances are launched when the price you specify exceeds the current Spot market price. For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-launch-spot-instances.html">Launching Spot Instances in Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.'
      IamInstanceProfile:
        $ref: '#/definitions/[object Object]'
        description: '<p>The name or the Amazon Resource Name (ARN) of the instance profile associated with the IAM role for the instance.</p> <p>EC2 instances launched with an IAM role automatically have AWS security credentials available. You can use IAM roles with Amazon EC2 Auto Scaling to automatically enable applications running on your EC2 instances to securely access other AWS resources. For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/us-iam-role.html">Launch Auto Scaling Instances with an IAM Role</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>'
      EbsOptimized:
        $ref: '#/definitions/[object Object]'
        description: 'Indicates whether the instance is optimized for Amazon EBS I/O. By default, the instance is not optimized for EBS I/O. The optimization provides dedicated throughput to Amazon EBS and an optimized configuration stack to provide optimal I/O performance. This optimization is not available with all instance types. Additional usage charges apply. For more information, see <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSOptimized.html">Amazon EBS-Optimized Instances</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.'
      AssociatePublicIpAddress:
        $ref: '#/definitions/[object Object]'
        description: '<p>Used for groups that launch instances into a virtual private cloud (VPC). Specifies whether to assign a public IP address to each instance. For more information, see <a href="http://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html">Launching Auto Scaling Instances in a VPC</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If you specify this parameter, be sure to specify at least one subnet when you create your group.</p> <p>Default: If the instance is launched into a default subnet, the default is to assign a public IP address. If the instance is launched into a nondefault subnet, the default is not to assign a public IP address.</p>'
      PlacementTenancy:
        $ref: '#/definitions/[object Object]'
[...]
