swagger: '2.0'
info:
  version: '2011-01-01'
  x-release: v4
  title: Auto Scaling
  description: '<fullname>Auto Scaling</fullname> <p>Auto Scaling is designed to automatically launch or terminate EC2 instances based on user-defined policies, schedules, and health checks. Use this service in conjunction with the Amazon CloudWatch and Elastic Load Balancing services.</p>'
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: autoscaling
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/autoscaling-2011-01-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
    - format: swagger
      version: '2.0'
      url: 'https://raw.githubusercontent.com/mermade/openapi-definitions/master/aws/autoscaling/2011-01-01/swagger.yaml'
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: false
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/autoscaling/'
host: autoscaling.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - http
consumes: []
produces: []
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AttachInstances
      description: '<p>Attaches one or more EC2 instances to the specified Auto Scaling group.</p> <p>When you attach instances, Auto Scaling increases the desired capacity of the group by the number of instances being attached. If the number of instances being attached plus the desired capacity of the group exceeds the maximum size of the group, the operation fails.</p> <p>If there is a Classic load balancer attached to your Auto Scaling group, the instances are also registered with the load balancer. If there are target groups attached to your Auto Scaling group, the instances are also registered with the target groups.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/attach-instance-asg.html">Attach EC2 Instances to Your Auto Scaling Group</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AttachInstancesQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AttachLoadBalancerTargetGroups':
    post:
      operationId: AttachLoadBalancerTargetGroups
      description: '<p>Attaches one or more target groups to the specified Auto Scaling group.</p> <p>To describe the target groups for an Auto Scaling group, use <a>DescribeLoadBalancerTargetGroups</a>. To detach the target group from the Auto Scaling group, use <a>DetachLoadBalancerTargetGroups</a>.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/attach-load-balancer-asg.html">Attach a Load Balancer to Your Auto Scaling Group</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachLoadBalancerTargetGroupsResultType'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AttachLoadBalancerTargetGroupsType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AttachLoadBalancers':
    post:
      operationId: AttachLoadBalancers
      description: '<p>Attaches one or more Classic load balancers to the specified Auto Scaling group.</p> <p>To attach an Application load balancer instead, see <a>AttachLoadBalancerTargetGroups</a>.</p> <p>To describe the load balancers for an Auto Scaling group, use <a>DescribeLoadBalancers</a>. To detach the load balancer from the Auto Scaling group, use <a>DetachLoadBalancers</a>.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/attach-load-balancer-asg.html">Attach a Load Balancer to Your Auto Scaling Group</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachLoadBalancersResultType'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AttachLoadBalancersType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CompleteLifecycleAction':
    post:
      operationId: CompleteLifecycleAction
      description: '<p>Completes the lifecycle action for the specified token or instance with the specified result.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Auto Scaling launches or terminates instances.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</p> </li> <li> <p>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state.</p> </li> <li> <p> <b>If you finish before the timeout period ends, complete the lifecycle action.</b> </p> </li> </ol> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/AutoScalingGroupLifecycle.html">Auto Scaling Lifecycle</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CompleteLifecycleActionAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CompleteLifecycleActionType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateAutoScalingGroup':
    post:
      operationId: CreateAutoScalingGroup
      description: '<p>Creates an Auto Scaling group with the specified name and attributes.</p> <p>If you exceed your maximum limit of Auto Scaling groups, which by default is 20 per region, the call fails. For information about viewing and updating this limit, see <a>DescribeAccountLimits</a>.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/AutoScalingGroup.html">Auto Scaling Groups</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: AlreadyExistsFault
          schema:
            $ref: '#/definitions/AlreadyExistsFault'
        '481':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAutoScalingGroupType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateLaunchConfiguration':
    post:
      operationId: CreateLaunchConfiguration
      description: '<p>Creates a launch configuration.</p> <p>If you exceed your maximum limit of launch configurations, which by default is 100 per region, the call fails. For information about viewing and updating this limit, see <a>DescribeAccountLimits</a>.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/LaunchConfiguration.html">Launch Configurations</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: AlreadyExistsFault
          schema:
            $ref: '#/definitions/AlreadyExistsFault'
        '481':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateLaunchConfigurationType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateOrUpdateTags':
    post:
      operationId: CreateOrUpdateTags
      description: '<p>Creates or updates tags for the specified Auto Scaling group.</p> <p>When you specify a tag with a key that already exists, the operation overwrites the previous tag definition, and you do not get an error message.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/autoscaling-tagging.html">Tagging Auto Scaling Groups and Instances</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '481':
          description: AlreadyExistsFault
          schema:
            $ref: '#/definitions/AlreadyExistsFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateOrUpdateTagsType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteAutoScalingGroup':
    post:
      operationId: DeleteAutoScalingGroup
      description: '<p>Deletes the specified Auto Scaling group.</p> <p>If the group has instances or scaling activities in progress, you must specify the option to force the deletion in order for it to succeed.</p> <p>If the group has policies, deleting the group deletes the policies, the underlying alarm actions, and any alarm that no longer has an associated action.</p> <p>To remove instances from the Auto Scaling group before deleting it, call <a>DetachInstances</a> with the list of instances and the option to decrement the desired capacity so that Auto Scaling does not launch replacement instances.</p> <p>To terminate all instances before deleting the Auto Scaling group, call <a>UpdateAutoScalingGroup</a> and set the minimum size and desired capacity of the Auto Scaling group to zero.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ScalingActivityInProgressFault
          schema:
            $ref: '#/definitions/ScalingActivityInProgressFault'
        '481':
          description: ResourceInUseFault
          schema:
            $ref: '#/definitions/ResourceInUseFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAutoScalingGroupType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteLaunchConfiguration':
    post:
      operationId: DeleteLaunchConfiguration
      description: '<p>Deletes the specified launch configuration.</p> <p>The launch configuration must not be attached to an Auto Scaling group. When this call completes, the launch configuration is no longer available for use.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceInUseFault
          schema:
            $ref: '#/definitions/ResourceInUseFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/LaunchConfigurationNameType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteLifecycleHook':
    post:
      operationId: DeleteLifecycleHook
      description: '<p>Deletes the specified lifecycle hook.</p> <p>If there are any outstanding lifecycle actions, they are completed first (<code>ABANDON</code> for launching instances, <code>CONTINUE</code> for terminating instances).</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLifecycleHookAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteLifecycleHookType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteNotificationConfiguration':
    post:
      operationId: DeleteNotificationConfiguration
      description: Deletes the specified notification.
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteNotificationConfigurationType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeletePolicy':
    post:
      operationId: DeletePolicy
      description: '<p>Deletes the specified Auto Scaling policy.</p> <p>Deleting a policy deletes the underlying alarm action, but does not delete the alarm, even if it no longer has an associated action.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeletePolicyType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteScheduledAction':
    post:
      operationId: DeleteScheduledAction
      description: Deletes the specified scheduled action.
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteScheduledActionType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteTags':
    post:
      operationId: DeleteTags
      description: Deletes the specified tags.
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteTagsType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAccountLimits':
    post:
      operationId: DescribeAccountLimits
      description: '<p>Describes the current Auto Scaling resource limits for your AWS account.</p> <p>For information about requesting an increase in these limits, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html">AWS Service Limits</a> in the <i>Amazon Web Services General Reference</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccountLimitsAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAdjustmentTypes':
    post:
      operationId: DescribeAdjustmentTypes
      description: Describes the policy adjustment types for use with <a>PutScalingPolicy</a>.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAdjustmentTypesAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAutoScalingGroups':
    post:
      operationId: DescribeAutoScalingGroups
      description: Describes one or more Auto Scaling groups.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AutoScalingGroupsType'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AutoScalingGroupNamesType'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAutoScalingInstances':
    post:
      operationId: DescribeAutoScalingInstances
      description: Describes one or more Auto Scaling instances.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AutoScalingInstancesType'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAutoScalingInstancesType'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAutoScalingNotificationTypes':
    post:
      operationId: DescribeAutoScalingNotificationTypes
      description: Describes the notification types that are supported by Auto Scaling.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAutoScalingNotificationTypesAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLaunchConfigurations':
    post:
      operationId: DescribeLaunchConfigurations
      description: Describes one or more launch configurations.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/LaunchConfigurationsType'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/LaunchConfigurationNamesType'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLifecycleHookTypes':
    post:
      operationId: DescribeLifecycleHookTypes
      description: Describes the available types of lifecycle hooks.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLifecycleHookTypesAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLifecycleHooks':
    post:
      operationId: DescribeLifecycleHooks
      description: Describes the lifecycle hooks for the specified Auto Scaling group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLifecycleHooksAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLifecycleHooksType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLoadBalancerTargetGroups':
    post:
      operationId: DescribeLoadBalancerTargetGroups
      description: Describes the target groups for the specified Auto Scaling group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancerTargetGroupsResponse'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLoadBalancerTargetGroupsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLoadBalancers':
    post:
      operationId: DescribeLoadBalancers
      description: '<p>Describes the load balancers for the specified Auto Scaling group.</p> <p>Note that this operation describes only Classic load balancers. If you have Application load balancers, use <a>DescribeLoadBalancerTargetGroups</a> instead.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancersResponse'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLoadBalancersRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeMetricCollectionTypes':
    post:
      operationId: DescribeMetricCollectionTypes
      description: <p>Describes the available CloudWatch metrics for Auto Scaling.</p> <p>Note that the <code>GroupStandbyInstances</code> metric is not returned by default. You must explicitly request this metric when calling <a>EnableMetricsCollection</a>.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeMetricCollectionTypesAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeNotificationConfigurations':
    post:
      operationId: DescribeNotificationConfigurations
      description: Describes the notification actions associated with the specified Auto Scaling group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeNotificationConfigurationsAnswer'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeNotificationConfigurationsType'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribePolicies':
    post:
      operationId: DescribePolicies
      description: Describes the policies for the specified Auto Scaling group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PoliciesType'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribePoliciesType'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeScalingActivities':
    post:
      operationId: DescribeScalingActivities
      description: Describes one or more scaling activities for the specified Auto Scaling group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ActivitiesType'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeScalingActivitiesType'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeScalingProcessTypes':
    post:
      operationId: DescribeScalingProcessTypes
      description: Describes the scaling process types for use with <a>ResumeProcesses</a> and <a>SuspendProcesses</a>.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ProcessesType'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeScheduledActions':
    post:
      operationId: DescribeScheduledActions
      description: 'Describes the actions scheduled for your Auto Scaling group that haven''t run. To describe the actions that have already run, use <a>DescribeScalingActivities</a>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ScheduledActionsType'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeScheduledActionsType'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTags':
    post:
      operationId: DescribeTags
      description: '<p>Describes the specified tags.</p> <p>You can use filters to limit the results. For example, you can query for the tags for a specific Auto Scaling group. You can specify multiple values for a filter. A tag must match at least one of the specified values for it to be included in the results.</p> <p>You can also specify multiple filters. The result includes information for a particular tag only if it matches all the filters. If there''s no match, no special message is returned.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagsType'
        '480':
          description: InvalidNextToken
          schema:
            $ref: '#/definitions/InvalidNextToken'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTagsType'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTerminationPolicyTypes':
    post:
      operationId: DescribeTerminationPolicyTypes
      description: Describes the termination policies supported by Auto Scaling.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTerminationPolicyTypesAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetachInstances':
    post:
      operationId: DetachInstances
      description: '<p>Removes one or more instances from the specified Auto Scaling group.</p> <p>After the instances are detached, you can manage them independently from the rest of the Auto Scaling group.</p> <p>If you do not specify the option to decrement the desired capacity, Auto Scaling launches instances to replace the ones that are detached.</p> <p>If there is a Classic load balancer attached to the Auto Scaling group, the instances are deregistered from the load balancer. If there are target groups attached to the Auto Scaling group, the instances are deregistered from the target groups.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/detach-instance-asg.html">Detach EC2 Instances from Your Auto Scaling Group</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetachInstancesAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetachInstancesQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetachLoadBalancerTargetGroups':
    post:
      operationId: DetachLoadBalancerTargetGroups
      description: Detaches one or more target groups from the specified Auto Scaling group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetachLoadBalancerTargetGroupsResultType'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetachLoadBalancerTargetGroupsType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetachLoadBalancers':
    post:
      operationId: DetachLoadBalancers
      description: '<p>Detaches one or more Classic load balancers from the specified Auto Scaling group.</p> <p>Note that this operation detaches only Classic load balancers. If you have Application load balancers, use <a>DetachLoadBalancerTargetGroups</a> instead.</p> <p>When you detach a load balancer, it enters the <code>Removing</code> state while deregistering the instances in the group. When all instances are deregistered, then you can no longer describe the load balancer using <a>DescribeLoadBalancers</a>. Note that the instances remain running.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetachLoadBalancersResultType'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetachLoadBalancersType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DisableMetricsCollection':
    post:
      operationId: DisableMetricsCollection
      description: Disables group metrics for the specified Auto Scaling group.
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisableMetricsCollectionQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#EnableMetricsCollection':
    post:
      operationId: EnableMetricsCollection
      description: 'Enables group metrics for the specified Auto Scaling group. For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/as-instance-monitoring.html">Monitoring Your Auto Scaling Groups and Instances</a> in the <i>Auto Scaling User Guide</i>.'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/EnableMetricsCollectionQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#EnterStandby':
    post:
      operationId: EnterStandby
      description: '<p>Moves the specified instances into <code>Standby</code> mode.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/AutoScalingGroupLifecycle.html">Auto Scaling Lifecycle</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnterStandbyAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/EnterStandbyQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ExecutePolicy':
    post:
      operationId: ExecutePolicy
      description: Executes the specified policy.
      responses:
        '200':
          description: Success
        '480':
          description: ScalingActivityInProgressFault
          schema:
            $ref: '#/definitions/ScalingActivityInProgressFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ExecutePolicyType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ExitStandby':
    post:
      operationId: ExitStandby
      description: '<p>Moves the specified instances out of <code>Standby</code> mode.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/AutoScalingGroupLifecycle.html">Auto Scaling Lifecycle</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ExitStandbyAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ExitStandbyQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutLifecycleHook':
    post:
      operationId: PutLifecycleHook
      description: '<p>Creates or updates a lifecycle hook for the specified Auto Scaling Group.</p> <p>A lifecycle hook tells Auto Scaling that you want to perform an action on an instance that is not actively in service; for example, either when the instance launches or before the instance terminates.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Auto Scaling launches or terminates instances.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p> <b>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</b> </p> </li> <li> <p>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state.</p> </li> <li> <p>If you finish before the timeout period ends, complete the lifecycle action.</p> </li> </ol> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/lifecycle-hooks.html">Auto Scaling Lifecycle Hooks</a> in the <i>Auto Scaling User Guide</i>.</p> <p>If you exceed your maximum limit of lifecycle hooks, which by default is 50 per Auto Scaling group, the call fails. For information about updating this limit, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html">AWS Service Limits</a> in the <i>Amazon Web Services General Reference</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutLifecycleHookAnswer'
        '480':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutLifecycleHookType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutNotificationConfiguration':
    post:
      operationId: PutNotificationConfiguration
      description: '<p>Configures an Auto Scaling group to send notifications when specified events take place. Subscribers to the specified topic can have messages delivered to an endpoint such as a web server or an email address.</p> <p>This configuration overwrites any existing configuration.</p> <p>For more information see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/ASGettingNotifications.html">Getting SNS Notifications When Your Auto Scaling Group Scales</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutNotificationConfigurationType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutScalingPolicy':
    post:
      operationId: PutScalingPolicy
      description: '<p>Creates or updates a policy for an Auto Scaling group. To update an existing policy, use the existing policy name and set the parameters you want to change. Any existing parameter not changed in an update to an existing policy is not changed in this update request.</p> <p>If you exceed your maximum limit of step adjustments, which by default is 20 per region, the call fails. For information about updating this limit, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html">AWS Service Limits</a> in the <i>Amazon Web Services General Reference</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PolicyARNType'
        '480':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutScalingPolicyType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutScheduledUpdateGroupAction':
    post:
      operationId: PutScheduledUpdateGroupAction
      description: '<p>Creates or updates a scheduled scaling action for an Auto Scaling group. When updating a scheduled scaling action, if you leave a parameter unspecified, the corresponding value remains unchanged.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/schedule_time.html">Scheduled Scaling</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: AlreadyExistsFault
          schema:
            $ref: '#/definitions/AlreadyExistsFault'
        '481':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '482':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutScheduledUpdateGroupActionType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RecordLifecycleActionHeartbeat':
    post:
      operationId: RecordLifecycleActionHeartbeat
      description: '<p>Records a heartbeat for the lifecycle action associated with the specified token or instance. This extends the timeout by the length of time defined using <a>PutLifecycleHook</a>.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Auto Scaling launches or terminates instances.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</p> </li> <li> <p> <b>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state.</b> </p> </li> <li> <p>If you finish before the timeout period ends, complete the lifecycle action.</p> </li> </ol> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/AutoScalingGroupLifecycle.html">Auto Scaling Lifecycle</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RecordLifecycleActionHeartbeatAnswer'
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RecordLifecycleActionHeartbeatType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ResumeProcesses':
    post:
      operationId: ResumeProcesses
      description: '<p>Resumes the specified suspended Auto Scaling processes, or all suspended process, for the specified Auto Scaling group.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/as-suspend-resume-processes.html">Suspending and Resuming Auto Scaling Processes</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceInUseFault
          schema:
            $ref: '#/definitions/ResourceInUseFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ScalingProcessQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SetDesiredCapacity':
    post:
      operationId: SetDesiredCapacity
      description: '<p>Sets the size of the specified Auto Scaling group.</p> <p>For more information about desired capacity, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/WhatIsAutoScaling.html">What Is Auto Scaling?</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ScalingActivityInProgressFault
          schema:
            $ref: '#/definitions/ScalingActivityInProgressFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetDesiredCapacityType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SetInstanceHealth':
    post:
      operationId: SetInstanceHealth
      description: '<p>Sets the health status of the specified instance.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/healthcheck.html">Health Checks</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetInstanceHealthQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SetInstanceProtection':
    post:
      operationId: SetInstanceProtection
      description: '<p>Updates the instance protection settings of the specified instances.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/as-instance-termination.html#instance-protection">Instance Protection</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SetInstanceProtectionAnswer'
        '480':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetInstanceProtectionQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SuspendProcesses':
    post:
      operationId: SuspendProcesses
      description: '<p>Suspends the specified Auto Scaling processes, or all processes, for the specified Auto Scaling group.</p> <p>Note that if you suspend either the <code>Launch</code> or <code>Terminate</code> process types, it can prevent other process types from functioning properly.</p> <p>To resume processes that have been suspended, use <a>ResumeProcesses</a>.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/as-suspend-resume-processes.html">Suspending and Resuming Auto Scaling Processes</a> in the <i>Auto Scaling User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceInUseFault
          schema:
            $ref: '#/definitions/ResourceInUseFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ScalingProcessQuery'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#TerminateInstanceInAutoScalingGroup':
    post:
      operationId: TerminateInstanceInAutoScalingGroup
      description: <p>Terminates the specified instance and optionally adjusts the desired group size.</p> <p>This call simply makes a termination request. The instance is not terminated immediately.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ActivityType'
        '480':
          description: ScalingActivityInProgressFault
          schema:
            $ref: '#/definitions/ScalingActivityInProgressFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TerminateInstanceInAutoScalingGroupType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateAutoScalingGroup':
    post:
      operationId: UpdateAutoScalingGroup
      description: '<p>Updates the configuration for the specified Auto Scaling group.</p> <p>To update an Auto Scaling group with a launch configuration with <code>InstanceMonitoring</code> set to <code>False</code>, you must first disable the collection of group metrics. Otherwise, you will get an error. If you have previously enabled the collection of group metrics, you can disable it using <a>DisableMetricsCollection</a>.</p> <p>The new settings are registered upon the completion of this call. Any launch configuration settings take effect on any triggers after this call returns. Scaling activities that are currently in progress aren''t affected.</p> <p>Note the following:</p> <ul> <li> <p>If you specify a new value for <code>MinSize</code> without specifying a value for <code>DesiredCapacity</code>, and the new <code>MinSize</code> is larger than the current size of the group, we implicitly call <a>SetDesiredCapacity</a> to set the size of the group to the new value of <code>MinSize</code>.</p> </li> <li> <p>If you specify a new value for <code>MaxSize</code> without specifying a value for <code>DesiredCapacity</code>, and the new <code>MaxSize</code> is smaller than the current size of the group, we implicitly call <a>SetDesiredCapacity</a> to set the size of the group to the new value of <code>MaxSize</code>.</p> </li> <li> <p>All other optional parameters are left unchanged if not specified.</p> </li> </ul>'
      responses:
        '200':
          description: Success
        '480':
          description: ScalingActivityInProgressFault
          schema:
            $ref: '#/definitions/ScalingActivityInProgressFault'
        '481':
          description: ResourceContentionFault
          schema:
            $ref: '#/definitions/ResourceContentionFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateAutoScalingGroupType'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  Activities:
    type: array
    items:
      $ref: '#/definitions/Activity'
  ActivitiesType:
    type: object
    required:
      - Activities
    example:
      Activities:
        - ActivityId: f9f2d65b-f1f2-43e7-b46d-d86756459699
          AutoScalingGroupName: my-auto-scaling-group
          Cause: 'At 2013-08-19T20:53:25Z a user request created an AutoScalingGroup changing the desired capacity from 0 to 1.  At 2013-08-19T20:53:29Z an instance was started in response to a difference between desired and actual capacity, increasing the capacity from 0 to 1.'
          Description: 'Launching a new EC2 instance: i-4ba0837f'
          Details: details
          EndTime: '2013-08-19T20:54:02Z'
          Progress: 100
          StartTime: '2013-08-19T20:53:29.930Z'
          StatusCode: Successful
    properties:
      Activities:
        $ref: '#/definitions/Activities'
        description: The scaling activities. Activities are sorted by start time. Activities still in progress are described first.
      NextToken:
        $ref: '#/definitions/XmlString'
        description: 'The token to use when requesting the next set of items. If there are no additional items to return, the string is empty.'
    description: Contains the output of DescribeScalingActivities.
  Activity:
    type: object
    required:
      - ActivityId
      - AutoScalingGroupName
      - Cause
      - StartTime
      - StatusCode
    properties:
      ActivityId:
        $ref: '#/definitions/XmlString'
        description: The ID of the activity.
      AutoScalingGroupName:
        $ref: '#/definitions/XmlStringMaxLen255'
        description: The name of the Auto Scaling group.
      Description:
        $ref: '#/definitions/XmlString'
        description: 'A friendly, more verbose description of the activity.'
      Cause:
        $ref: '#/definitions/XmlStringMaxLen1023'
        description: The reason the activity began.
      StartTime:
        $ref: '#/definitions/TimestampType'
        description: The start time of the activity.
      EndTime:
        $ref: '#/definitions/TimestampType'
        description: The end time of the activity.
      StatusCode:
        $ref: '#/definitions/ScalingActivityStatusCode'
        description: The current status of the activity.
      StatusMessage:
        $ref: '#/definitions/XmlStringMaxLen255'
        description: 'A friendly, more verbose description of the activity status.'
      Progress:
        $ref: '#/definitions/Progress'
        description: A value between 0 and 100 that indicates the progress of the activity.
      Details:
        $ref: '#/definitions/XmlString'
        description: The details about the activity.
    description: 'Describes scaling activity, which is a long-running process that represents a change to your Auto Scaling group, such as changing its size or replacing an instance.'
  ActivityIds:
    type: array
    items:
      $ref: '#/definitions/XmlString'
  ActivityType:
    type: object
    properties:
      Activity:
        $ref: '#/definitions/Activity'
        description: A scaling activity.
    description: Contains the output of TerminateInstancesInAutoScalingGroup.
  AdjustmentType:
    type: object
    properties:
      AdjustmentType:
        $ref: '#/definitions/XmlStringMaxLen255'
        description: 'The policy adjustment type. The valid values are <code>ChangeInCapacity</code>, <code>ExactCapacity</code>, and <code>PercentChangeInCapacity</code>.'
    description: '<p>Describes a policy adjustment type.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/as-scale-based-on-demand.html">Dynamic Scaling</a> in the <i>Auto Scaling User Guide</i>.</p>'
  AdjustmentTypes:
    type: array
    items:
      $ref: '#/definitions/AdjustmentType'
  Alarm:
    type: object
    properties:
      AlarmName:
        $ref: '#/definitions/XmlStringMaxLen255'
        description: The name of the alarm.
      AlarmARN:
        $ref: '#/definitions/ResourceName'
        description: The Amazon Resource Name (ARN) of the alarm.
    description: Describes an alarm.
  Alarms:
    type: array
    items:
      $ref: '#/definitions/Alarm'
  AlreadyExistsFault:
    type: object
    properties:
      message:
        $ref: '#/definitions/XmlStringMaxLen255'
        description: <p/>
    description: You already have an Auto Scaling group or launch configuration with this name.
  AsciiStringMaxLen255:
    type: string
    pattern: '[A-Za-z0-9\-_\/]+'
    minLength: 1
    maxLength: 255
  AssociatePublicIpAddress:
    type: boolean
  AttachInstancesQuery:
    type: object
    required:
      - AutoScalingGroupName
    example:
      AutoScalingGroupName: my-auto-scaling-group
      InstanceIds:
        - i-93633f9b
    properties:
      InstanceIds:
        $ref: '#/definitions/InstanceIds'
        description: One or more instance IDs.
      AutoScalingGroupName:
        $ref: '#/definitions/ResourceName'
        description: The name of the group.
    description: Contains the parameters for AttachInstances.
  AttachLoadBalancerTargetGroupsResultType:
    type: object
    properties: {}
  AttachLoadBalancerTargetGroupsType:
    type: object
    required:
      - AutoScalingGroupName
      - TargetGroupARNs
    example:
      AutoScalingGroupName: my-auto-scaling-group
      TargetGroupARNs:
        - 'arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067'
    properties:
      AutoScalingGroupName:
        $ref: '#/definitions/ResourceName'
        description: The name of the Auto Scaling group.
      TargetGroupARNs:
        $ref: '#/definitions/TargetGroupARNs'
        description: The Amazon Resource Names (ARN) of the target groups.
    description: Contains the parameters for AttachLoadBalancerTargetGroups.
  AttachLoadBalancersResultType:
    type: object
    properties: {}
    description: Contains the output of AttachLoadBalancers.
  AttachLoadBalancersType:
    type: object
    required:
      - AutoScalingGroupName
      - LoadBalancerNames
    example:
      AutoScalingGroupName: my-auto-scaling-group
      LoadBalancerNames:
        - my-load-balancer
    properties:
      AutoScalingGroupName:
        $ref: '#/definitions/ResourceName'
        description: The name of the group.
      LoadBalancerNames:
        $ref: '#/definitions/LoadBalancerNames'
        description: One or more load balancer names.
    description: Contains the parameters for AttachLoadBalancers.
  AutoScalingGroup:
    type: object
    required:
      - AutoScalingGroupName
      - MinSize
      - MaxSize
      - DesiredCapacity
      - DefaultCooldown
      - AvailabilityZones
      - HealthCheckType
      - CreatedTime
    properties:
      AutoScalingGroupName:
        $ref: '#/definitions/XmlStringMaxLen255'
        description: The name of the group.
      AutoScalingGroupARN:
        $ref: '#/definitions/ResourceName'
        description: The Amazon Resource Name (ARN) of the group.
      LaunchConfigurationName:
        $ref: '#/definitions/XmlStringMaxLen255'
        description: The name of the associated launch configuration.
      MinSize:
        $ref: '#/definitions/AutoScalingGroupMinSize'
        description: The minimum size of the group.
      MaxSize:
        $ref: '#/definitions/AutoScalingGroupMaxSize'
        description: The maximum size of the group.
      DesiredCapacity:
        $ref: '#/definitions/AutoScalingGroupDesiredCapacity'
        description: The desired size of the group.
      DefaultCooldown:
        $ref: '#/definitions/Cooldown'
        description: 'The amount of time, in seconds, after a scaling activity completes before another scaling activity can start.'
      AvailabilityZones:
        $ref: '#/definitions/AvailabilityZones'
        description: One or more Availability Zones for the group.
      LoadBalancerNames:
        $ref: '#/definitions/LoadBalancerNames'
        description: One or more load balancers associated with the group.
      TargetGroupARNs:
        $ref: '#/definitions/TargetGroupARNs'
        description: The Amazon Resource Names (ARN) of the target groups for your load balancer.
      HealthCheckType:
        $ref: '#/definitions/XmlStringMaxLen32'
        description: The service to use for the health checks. The valid values are <code>EC2</code> and <code>ELB</code>.
      HealthCheckGracePeriod:
        $ref: '#/definitions/HealthCheckGracePeriod'
        description: 'The amount of time, in seconds, that Auto Scaling waits before checking the health status of an EC2 instance that has come into service.'
      Instances:
        $ref: '#/definitions/Instances'
        description: The EC2 instances associated with the group.
      CreatedTime:
        $ref: '#/definitions/TimestampType'
        description: The date and time the group was created.
      SuspendedProcesses:
        $ref: '#/definitions/SuspendedProcesses'
        description: The suspended processes associated with the group.
      PlacementGroup:
        $ref: '#/definitions/XmlStringMaxLen255'
        description: 'The name of the placement group into which you''ll launch your instances, if any. For more information, see <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html">Placement Groups</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.'
      VPCZoneIdentifier:
        $ref: '#/definitions/XmlStringMaxLen2047'
        description: '<p>One or more subnet IDs, if applicable, separated by commas.</p> <p>If you specify <code>VPCZoneIdentifier</code> and <code>AvailabilityZones</code>, ensure that the Availability Zones of the subnets match the values for <code>AvailabilityZones</code>.</p>'
      EnabledMetrics:
        $ref: '#/definitions/EnabledMetrics'
        description: The metrics enabled for the group.
      Status:
        $ref: '#/definitions/XmlStringMaxLen255'
        description: The current state of the group when <a>DeleteAutoScalingGroup</a> is in progress.
      Tags:
        $ref: '#/definitions/TagDescriptionList'
        description: The tags for the group.
      TerminationPolicies:
        $ref: '#/definitions/TerminationPolicies'
        description: The termination policies for the group.
      NewInstancesProtectedFromScaleIn:
        $ref: '#/definitions/InstanceProtected'
        description: Indicates whether newly launched instances are protected from termination by Auto Scaling when scaling in.
    description: Describes an Auto Scaling group.
  AutoScalingGroupDesiredCapacity:
    type: integer
  AutoScalingGroupMaxSize:
    type: integer
  AutoScalingGroupMinSize:
    type: integer
  AutoScalingGroupNames:
    type: array
    items:
      $ref: '#/definitions/ResourceName'
  AutoScalingGroupNamesType:
    type: object
    example:
      AutoScalingGroupNames:
        - my-auto-scaling-group
    properties:
      AutoScalingGroupNames:
        $ref: '#/definitions/AutoScalingGroupNames'
        description: 'The group names. If you omit this parameter, all Auto Scaling groups are described.'
      NextToken:
        $ref: '#/definitions/XmlString'
        description: The token for the next set of items to return. (You received this token from a previous call.)
      MaxRecords:
        $ref: '#/definitions/MaxRecords'
        description: The maximum number of items to return with this call.
    description: Contains the parameters for DescribeAutoScalingGroups.
  AutoScalingGroups:
    type: array
    items:
      $ref: '#/definitions/AutoScalingGroup'
  AutoScalingGroupsType:
    type: object
    required:
      - AutoScalingGroups
    example:
      AutoScalingGroups:
        - AutoScalingGroupARN: 'arn:aws:autoscaling:us-west-2:123456789012:autoScalingGroup:930d940e-891e-4781-a11a-7b0acd480f03:autoScalingGroupName/my-auto-scaling-group'
          AutoScalingGroupName: my-auto-scaling-group
          AvailabilityZones:
            - us-west-2c
          CreatedTime: '2013-08-19T20:53:25.584Z'
          DefaultCooldown: 300
          DesiredCapacity: 1
          EnabledMetrics: []
          HealthCheckGracePeriod: 300
          HealthCheckType: EC2
          Instances:
            - AvailabilityZone: us-west-2c
              HealthStatus: Healthy
              InstanceId: i-4ba0837f
              LaunchConfigurationName: my-launch-config
              LifecycleState: InService
          LaunchConfigurationName: my-launch-config
          LoadBalancerNames: []
          MaxSize: 1
          MinSize: 0
          NewInstancesProtectedFromScaleIn: false
          SuspendedProcesses: []
          Tags: []
          TerminationPolicies:
            - Default
          VPCZoneIdentifier: subnet-12345678
    properties:
      AutoScalingGroups:
        $ref: '#/definitions/AutoScalingGroups'
        description: The groups.
      NextToken:
        $ref: '#/definitions/XmlString'
        description: 'The token to use when requesting the next set of items. If there are no additional items to return, the string is empty.'
    description: Contains the output for DescribeAutoScalingGroups.
  AutoScalingInstanceDetails:
    type: object
    required:
      - InstanceId
      - AutoScalingGroupName
      - AvailabilityZone
      - LifecycleState
      - HealthStatus
      - LaunchConfigurationName
      - ProtectedFromScaleIn
    properties:
      InstanceId:
        $ref: '#/definitions/XmlStringMaxLen19'
        description: The ID of the instance.
      AutoScalingGroupName:
        $ref: '#/definitions/XmlStringMaxLen255'
        description: The name of the Auto Scaling group associated with the instance.
      AvailabilityZone:
        $ref: '#/definitions/XmlStringMaxLen255'
        description: The Availability Zone for the instance.
      LifecycleState:
        $ref: '#/definitions/XmlStringMaxLen32'
        description: 'The lifecycle state for the instance. For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/AutoScalingGroupLifecycle.html">Auto Scaling Lifecycle</a> in the <i>Auto Scaling User Guide</i>.'
      HealthStatus:
        $ref: '#/definitions/XmlStringMaxLen32'
        description: The last reported health status of this instance. "Healthy" means that the instance is healthy and should remain in service. "Unhealthy" means that the instance is unhealthy and Auto Scaling should terminate and replace it.
      LaunchConfigurationName:
        $ref: '#/definitions/XmlStringMaxLen255'
        description: The launch configuration associated with the instance.
      ProtectedFromScaleIn:
        $ref: '#/definitions/InstanceProtected'
        description: Indicates whether the instance is protected from termination by Auto Scaling when scaling in.
    description: Describes an EC2 instance associated with an Auto Scaling group.
  AutoScalingInstances:
    type: array
    items:
      $ref: '#/definitions/AutoScalingInstanceDetails'
  AutoScalingInstancesType:
    type: object
    example:
      AutoScalingInstances:
        - AutoScalingGroupName: my-auto-scaling-group
          AvailabilityZone: us-west-2c
          HealthStatus: HEALTHY
          InstanceId: i-4ba0837f
          LaunchConfigurationName: my-launch-config
          LifecycleState: InService
          ProtectedFromScaleIn: false
    properties:
      AutoScalingInstances:
        $ref: '#/definitions/AutoScalingInstances'
        description: The instances.
      NextToken:
        $ref: '#/definitions/XmlString'
        description: 'The token to use when requesting the next set of items. If there are no additional items to return, the string is empty.'
    description: Contains the output of DescribeAutoScalingInstances.
  AutoScalingNotificationTypes:
    type: array
    items:
      $ref: '#/definitions/XmlStringMaxLen255'
  AvailabilityZones:
    type: array
    items:
      $ref: '#/definitions/XmlStringMaxLen255'
    minItems: 1
  BlockDeviceEbsDeleteOnTermination:
    type: boolean
  BlockDeviceEbsEncrypted:
    type: boolean
  BlockDeviceEbsIops:
    type: integer
    minimum: 100
    maximum: 20000
  BlockDeviceEbsVolumeSize:
    type: integer
    minimum: 1
    maximum: 16384
  BlockDeviceEbsVolumeType:
    type: string
    minLength: 1
    maxLength: 255
  BlockDeviceMapping:
    type: object
    required:
      - DeviceName
    properties:
      VirtualName:
        $ref: '#/definitions/XmlStringMaxLen255'
        description: 'The name of the virtual device (for example, <code>ephemeral0</code>).'
      DeviceName:
        $ref: '#/definitions/XmlStringMaxLen255'
        description: 'The device name exposed to the EC2 instance (for example, <code>/dev/sdh</code> or <code>xvdh</code>).'
      Ebs:
        $ref: '#/definitions/Ebs'
        description: The information about the Amazon EBS volume.
      NoDevice:
        $ref: '#/definitions/NoDevice'
        description: '<p>Suppresses a device mapping.</p> <p>If this parameter is true for the root device, the instance might fail the EC2 health check. Auto Scaling launches a replacement instance if the instance fails the health check.</p>'
    description: Describes a block device mapping.
  BlockDeviceMappings:
    type: array
    items:
      $ref: '#/definitions/BlockDeviceMapping'
  ClassicLinkVPCSecurityGroups:
    type: array
    items:
      $ref: '#/definitions/XmlStringMaxLen255'
  CompleteLifecycleActionAnswer:
    type: object
    properties: {}
    description: Contains the output of CompleteLifecycleAction.
  CompleteLifecycleActionType:
    type: object
    required:
      - LifecycleHookName
      - AutoScalingGroupName
      - LifecycleActionResult
    example:
      AutoScalingGroupName: my-auto-scaling-group
      LifecycleActionResult: CONTINUE
      LifecycleActionToken: bcd2f1b8-9a78-44d3-8a7a-4dd07d7cf635
      LifecycleHookName: my-lifecycle-hook
    properties:
      LifecycleHookName:
        $ref: '#/definitions/AsciiStringMaxLen255'
        description: The name of the lifecycle hook.
      AutoScalingGroupName:
        $ref: '#/definitions/ResourceName'
        description: The name of the group for the lifecycle hook.
      LifecycleActionToken:
        $ref: '#/definitions/LifecycleActionToken'
        description: A universally unique identifier (UUID) that identifies a specific lifecycle action associated with an instance. Auto Scaling sends this token to the notification target you specified when you created the lifecycle hook.
      LifecycleActionResult:
        $ref: '#/definitions/LifecycleActionResult'
        description: The action for the group to take. This parameter can be either <code>CONTINUE</code> or <code>ABANDON</code>.
      InstanceId:
        $ref: '#/definitions/XmlStringMaxLen19'
        description: The ID of the instance.
    description: Contains the parameters for CompleteLifecycleAction.
  Cooldown:
    type: integer
  CreateAutoScalingGroupType:
    type: object
    required:
      - AutoScalingGroupName
      - MinSize
      - MaxSize
    example:
      AutoScalingGroupName: my-auto-scaling-group
      HealthCheckGracePeriod: 120
      HealthCheckType: ELB
      LaunchConfigurationName: my-launch-config
      MaxSize: 3
      MinSize: 1
      TargetGroupARNs:
        - 'arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067'
      VPCZoneIdentifier: 'subnet-4176792c, subnet-65ea5f08'
    properties:
      AutoScalingGroupName:
        $ref: '#/definitions/XmlStringMaxLen255'
        description: The name of the group. This name must be unique within the scope of your AWS account.
      LaunchConfigurationName:
        $ref: '#/definitions/ResourceName'
        description: 'The name of the launch configuration. Alternatively, specify an EC2 instance instead of a launch configuration.'
      InstanceId:
        $ref: '#/definitions/XmlStringMaxLen19'
        description: '<p>The ID of the instance used to create a launch configuration for the group. Alternatively, specify a launch configuration instead of an EC2 instance.</p> <p>When you specify an ID of an instance, Auto Scaling creates a new launch configuration and associates it with the group. This launch configuration derives its attributes from the specified instance, with the exception of the block device mapping.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/create-asg-from-instance.html">Create an Auto Scaling Group Using an EC2 Instance</a> in the <i>Auto Scaling User Guide</i>.</p>'
      MinSize:
        $ref: '#/definitions/AutoScalingGroupMinSize'
        description: The minimum size of the group.
      MaxSize:
        $ref: '#/definitions/AutoScalingGroupMaxSize'
        description: The maximum size of the group.
      DesiredCapacity:
        $ref: '#/definitions/AutoScalingGroupDesiredCapacity'
        description: The number of EC2 instances that should be running in the group. This number must be greater than or equal to the minimum size of the group and less than or equal to the maximum size of the group.
      DefaultCooldown:
        $ref: '#/definitions/Cooldown'
        description: '<p>The amount of time, in seconds, after a scaling activity completes before another scaling activity can start. The default is 300.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/Cooldown.html">Auto Scaling Cooldowns</a> in the <i>Auto Scaling User Guide</i>.</p>'
      AvailabilityZones:
        $ref: '#/definitions/AvailabilityZones'
        description: One or more Availability Zones for the group. This parameter is optional if you specify one or more subnets.
      LoadBalancerNames:
        $ref: '#/definitions/LoadBalancerNames'
        description: '<p>One or more Classic load balancers. To specify an Application load balancer, use <code>TargetGroupARNs</code> instead.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/create-asg-from-instance.html">Using a Load Balancer With an Auto Scaling Group</a> in the <i>Auto Scaling User Guide</i>.</p>'
      TargetGroupARNs:
        $ref: '#/definitions/TargetGroupARNs'
        description: The Amazon Resource Names (ARN) of the target groups.
      HealthCheckType:
        $ref: '#/definitions/XmlStringMaxLen32'
        description: '<p>The service to use for the health checks. The valid values are <code>EC2</code> and <code>ELB</code>.</p> <p>By default, health checks use Amazon EC2 instance status checks to determine the health of an instance. For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/healthcheck.html">Health Checks</a> in the <i>Auto Scaling User Guide</i>.</p>'
      HealthCheckGracePeriod:
        $ref: '#/definitions/HealthCheckGracePeriod'
        description: '<p>The amount of time, in seconds, that Auto Scaling waits before checking the health status of an EC2 instance that has come into service. During this time, any health check failures for the instance are ignored. The default is 0.</p> <p>This parameter is required if you are adding an <code>ELB</code> health check.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/healthcheck.html">Health Checks</a> in the <i>Auto Scaling User Guide</i>.</p>'
      PlacementGroup:
        $ref: '#/definitions/XmlStringMaxLen255'
        description: 'The name of the placement group into which you''ll launch your instances, if any. For more information, see <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html">Placement Groups</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.'
      VPCZoneIdentifier:
        $ref: '#/definitions/XmlStringMaxLen2047'
        description: '<p>A comma-separated list of subnet identifiers for your virtual private cloud (VPC).</p> <p>If you specify subnets and Availability Zones with this call, ensure that the subnets'' Availability Zones match the Availability Zones specified.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/asg-in-vpc.html">Launching Auto Scaling Instances in a VPC</a> in the <i>Auto Scaling User Guide</i>.</p>'
      TerminationPolicies:
        $ref: '#/definitions/TerminationPolicies'
        description: '<p>One or more termination policies used to select the instance to terminate. These policies are executed in the order that they are listed.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/as-instance-termination.html">Controlling Which Instances Auto Scaling Terminates During Scale In</a> in the <i>Auto Scaling User Guide</i>.</p>'
      NewInstancesProtectedFromScaleIn:
        $ref: '#/definitions/InstanceProtected'
        description: Indicates whether newly launched instances are protected from termination by Auto Scaling when scaling in.
      Tags:
        $ref: '#/definitions/Tags'
        description: '<p>One or more tags.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/autoscaling/latest/userguide/autoscaling-tagging.html">Tagging Auto Scaling Groups and Instances</a> in the <i>Auto Scaling User Guide</i>.</p>'
    description: Contains the parameters for CreateAutoScalingGroup.
  CreateLaunchConfigurationType:
    type: object
    required:
      - LaunchConfigurationName
    example:
      IamInstanceProfile: my-iam-role
      ImageId: ami-12345678
      InstanceType: m3.medium
      LaunchConfigurationName: my-launch-config
      SecurityGroups:
        - sg-eb2af88e
    properties:
      LaunchConfigurationName:
        $ref: '#/definitions/XmlStringMaxLen255'
        description: The name of the launch configuration. This name must be unique within the scope of your AWS account.
      ImageId:
[...]
