openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Insights
  version: 1.10.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_insights_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_insights_v1
paths:
  /v1/Video/Rooms:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListVideoRoomSummary
      parameters:
        - description: ""
          in: query
          name: RoomType
          schema:
            items:
              enum:
                - go
                - peer_to_peer
                - group
                - group_small
              type: string
            type: array
        - description: ""
          in: query
          name: Codec
          schema:
            items:
              enum:
                - VP8
                - H264
                - VP9
              type: string
            type: array
        - description: ""
          in: query
          name: RoomName
          schema:
            type: string
        - description: ""
          in: query
          name: CreatedAfter
          schema:
            format: date-time
            type: string
        - description: ""
          in: query
          name: CreatedBefore
          schema:
            format: date-time
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  rooms:
                    items:
                      $ref: "#/components/schemas/insights.v1.video_room_summary"
                    type: array
                title: ListVideoRoomSummaryResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://insights.twilio.com
    x-default-output-properties:
      - room_sid
      - create_time
    x-path-type: list
  "/v1/Video/Rooms/{RoomSid}":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchVideoRoomSummary
      parameters:
        - description: ""
          in: path
          name: RoomSid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/insights.v1.video_room_summary"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://insights.twilio.com
    x-default-output-properties:
      - room_sid
      - create_time
    x-path-type: instance
  "/v1/Video/Rooms/{RoomSid}/Participants":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListVideoParticipantSummary
      parameters:
        - description: ""
          in: path
          name: RoomSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  participants:
                    items:
                      $ref: "#/components/schemas/insights.v1.video_room_summary.video_participant_summary"
                    type: array
                title: ListVideoParticipantSummaryResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://insights.twilio.com
    x-default-output-properties:
      - participant_sid
    x-path-type: list
  "/v1/Video/Rooms/{RoomSid}/Participants/{ParticipantSid}":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchVideoParticipantSummary
      parameters:
        - description: ""
          in: path
          name: RoomSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: ParticipantSid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/insights.v1.video_room_summary.video_participant_summary"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://insights.twilio.com
    x-default-output-properties:
      - participant_sid
    x-path-type: instance
  "/v1/Voice/{CallSid}/Events":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListEvent
      parameters:
        - description: ""
          in: path
          name: CallSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CA[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: query
          name: Edge
          schema:
            enum:
              - unknown_edge
              - carrier_edge
              - sip_edge
              - sdk_edge
              - client_edge
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  events:
                    items:
                      $ref: "#/components/schemas/insights.v1.call.event"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListEventResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://insights.twilio.com
    x-default-output-properties:
      - timestamp
      - call_sid
      - account_sid
      - edge
      - name
    x-path-type: list
  "/v1/Voice/{CallSid}/Metrics":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListMetric
      parameters:
        - description: ""
          in: path
          name: CallSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CA[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: query
          name: Edge
          schema:
            enum:
              - unknown_edge
              - carrier_edge
              - sip_edge
              - sdk_edge
              - client_edge
            type: string
        - description: ""
          in: query
          name: Direction
          schema:
            enum:
              - unknown
              - inbound
              - outbound
              - both
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  metrics:
                    items:
                      $ref: "#/components/schemas/insights.v1.call.metric"
                    type: array
                title: ListMetricResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://insights.twilio.com
    x-default-output-properties:
      - timestamp
      - call_sid
      - account_sid
      - edge
      - direction
    x-path-type: list
  "/v1/Voice/{CallSid}/Summary":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchSummary
      parameters:
        - description: ""
          in: path
          name: CallSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CA[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: query
          name: ProcessingState
          schema:
            enum:
              - complete
              - partial
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/insights.v1.call.summary"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://insights.twilio.com
    x-default-output-properties:
      - call_type
      - call_state
      - processing_state
      - duration
    x-path-type: instance
  "/v1/Voice/{Sid}":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchCall
      parameters:
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CA[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/insights.v1.call"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://insights.twilio.com
    x-default-output-properties: []
    x-path-type: instance
components:
  schemas:
    boolean:
      nullable: true
      type: boolean
    date_time_iso8601:
      format: date-time
      nullable: true
      type: string
    event_level:
      enum:
        - UNKNOWN
        - DEBUG
        - INFO
        - WARNING
        - ERROR
      nullable: true
      type: string
    event_twilio_edge:
      enum:
        - unknown_edge
        - carrier_edge
        - sip_edge
        - sdk_edge
        - client_edge
      nullable: true
      type: string
    http_method:
      enum:
        - HEAD
        - GET
        - POST
        - PATCH
        - PUT
        - DELETE
      nullable: true
      type: string
    insights.v1.call:
      properties:
        links:
          $ref: "#/components/schemas/uri_map"
        sid:
          $ref: "#/components/schemas/sid_CA"
        url:
          $ref: "#/components/schemas/url"
      type: object
    insights.v1.call.event:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        call_sid:
          $ref: "#/components/schemas/sid_CA"
        carrier_edge:
          $ref: "#/components/schemas/object"
        client_edge:
          $ref: "#/components/schemas/object"
        edge:
          $ref: "#/components/schemas/event_twilio_edge"
        group:
          $ref: "#/components/schemas/string"
        level:
          $ref: "#/components/schemas/event_level"
        name:
          $ref: "#/components/schemas/string"
        sdk_edge:
          $ref: "#/components/schemas/object"
        sip_edge:
          $ref: "#/components/schemas/object"
        timestamp:
          $ref: "#/components/schemas/string"
      type: object
    insights.v1.call.metric:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        call_sid:
          $ref: "#/components/schemas/sid_CA"
        carrier_edge:
          $ref: "#/components/schemas/object"
        client_edge:
          $ref: "#/components/schemas/object"
        direction:
          $ref: "#/components/schemas/metric_stream_direction"
        edge:
          $ref: "#/components/schemas/metric_twilio_edge"
        sdk_edge:
          $ref: "#/components/schemas/object"
        sip_edge:
          $ref: "#/components/schemas/object"
        timestamp:
          $ref: "#/components/schemas/string"
      type: object
    insights.v1.call.summary:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        attributes:
          $ref: "#/components/schemas/object"
        call_sid:
          $ref: "#/components/schemas/sid_CA"
        call_state:
          $ref: "#/components/schemas/summary_call_state"
        call_type:
          $ref: "#/components/schemas/summary_call_type"
        carrier_edge:
          $ref: "#/components/schemas/object"
        client_edge:
          $ref: "#/components/schemas/object"
        connect_duration:
          $ref: "#/components/schemas/integer"
        created_time:
          $ref: "#/components/schemas/date_time_iso8601"
        duration:
          $ref: "#/components/schemas/integer"
        end_time:
          $ref: "#/components/schemas/date_time_iso8601"
        from:
          $ref: "#/components/schemas/object"
        processing_state:
          $ref: "#/components/schemas/summary_processing_state"
        properties:
          $ref: "#/components/schemas/object"
        sdk_edge:
          $ref: "#/components/schemas/object"
        sip_edge:
          $ref: "#/components/schemas/object"
        start_time:
          $ref: "#/components/schemas/date_time_iso8601"
        tags:
          $ref: "#/components/schemas/string_list"
        to:
          $ref: "#/components/schemas/object"
        trust:
          $ref: "#/components/schemas/object"
        url:
          $ref: "#/components/schemas/url"
      type: object
    insights.v1.video_room_summary:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        codecs:
          $ref: "#/components/schemas/video_room_summary_codec_list"
        concurrent_participants:
          $ref: "#/components/schemas/integer"
        create_time:
          $ref: "#/components/schemas/date_time_iso8601"
        created_method:
          $ref: "#/components/schemas/video_room_summary_created_method"
        duration_sec:
          $ref: "#/components/schemas/long"
        edge_location:
          $ref: "#/components/schemas/video_room_summary_edge_location"
        end_reason:
          $ref: "#/components/schemas/video_room_summary_end_reason"
        end_time:
          $ref: "#/components/schemas/date_time_iso8601"
        links:
          $ref: "#/components/schemas/uri_map"
        max_concurrent_participants:
          $ref: "#/components/schemas/integer"
        max_participants:
          $ref: "#/components/schemas/integer"
        media_region:
          $ref: "#/components/schemas/video_room_summary_twilio_realm"
        processing_state:
          $ref: "#/components/schemas/video_room_summary_processing_state"
        recording_enabled:
          $ref: "#/components/schemas/boolean"
        room_name:
          $ref: "#/components/schemas/string"
        room_sid:
          $ref: "#/components/schemas/sid_RM"
        room_status:
          $ref: "#/components/schemas/video_room_summary_room_status"
        room_type:
          $ref: "#/components/schemas/video_room_summary_room_type"
        status_callback:
          $ref: "#/components/schemas/url"
        status_callback_method:
          $ref: "#/components/schemas/http_method"
        total_participant_duration_sec:
          $ref: "#/components/schemas/long"
        total_recording_duration_sec:
          $ref: "#/components/schemas/long"
        unique_participant_identities:
          $ref: "#/components/schemas/integer"
        unique_participants:
          $ref: "#/components/schemas/integer"
        url:
          $ref: "#/components/schemas/url"
      type: object
    insights.v1.video_room_summary.video_participant_summary:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        codecs:
          $ref: "#/components/schemas/video_participant_summary_codec_list"
        duration_sec:
          $ref: "#/components/schemas/long"
        edge_location:
          $ref: "#/components/schemas/video_participant_summary_edge_location"
        end_reason:
          $ref: "#/components/schemas/string"
        error_code:
          $ref: "#/components/schemas/integer"
        error_code_url:
          $ref: "#/components/schemas/string"
        join_time:
          $ref: "#/components/schemas/date_time_iso8601"
        leave_time:
          $ref: "#/components/schemas/date_time_iso8601"
        media_region:
          $ref: "#/components/schemas/video_participant_summary_twilio_realm"
        participant_identity:
          $ref: "#/components/schemas/string"
        participant_sid:
          $ref: "#/components/schemas/sid_PA"
        properties:
          $ref: "#/components/schemas/object"
        publisher_info:
          $ref: "#/components/schemas/object"
        room_sid:
          $ref: "#/components/schemas/sid_RM"
        status:
          $ref: "#/components/schemas/video_participant_summary_room_status"
        url:
          $ref: "#/components/schemas/url"
      type: object
    integer:
      nullable: true
      type: integer
    long:
      nullable: true
      type: integer
    metric_stream_direction:
      enum:
        - unknown
        - inbound
        - outbound
        - both
      nullable: true
      type: string
    metric_twilio_edge:
      enum:
        - unknown_edge
        - carrier_edge
        - sip_edge
        - sdk_edge
        - client_edge
      nullable: true
      type: string
    object:
      nullable: true
      type: object
    sid_AC:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^AC[0-9a-fA-F]{32}$
      type: string
    sid_CA:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^CA[0-9a-fA-F]{32}$
      type: string
    sid_PA:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^PA[0-9a-fA-F]{32}$
      type: string
    sid_RM:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^RM[0-9a-fA-F]{32}$
      type: string
    string:
      nullable: true
      type: string
    string_list:
      items:
        type: string
      nullable: true
      type: array
    summary_call_state:
      enum:
        - ringing
        - completed
        - busy
        - fail
        - noanswer
        - canceled
        - answered
        - undialed
      nullable: true
      type: string
    summary_call_type:
      enum:
        - carrier
        - sip
        - trunking
        - client
      nullable: true
      type: string
    summary_processing_state:
      enum:
        - complete
        - partial
      nullable: true
      type: string
    uri_map:
      nullable: true
      type: object
    url:
      format: uri
      nullable: true
      type: string
    video_participant_summary_codec_list:
      items:
        enum:
          - VP8
          - H264
          - VP9
        type: string
      nullable: true
      type: array
    video_participant_summary_edge_location:
      enum:
        - ashburn
        - dublin
        - frankfurt
        - singapore
        - sydney
        - sao_paulo
        - roaming
        - umatilla
        - tokyo
      nullable: true
      type: string
    video_participant_summary_room_status:
      enum:
        - in_progress
        - completed
      nullable: true
      type: string
    video_participant_summary_twilio_realm:
      enum:
        - us1
        - us2
        - au1
        - br1
        - ie1
        - jp1
        - sg1
        - in1
        - de1
        - gll
      nullable: true
      type: string
    video_room_summary_codec_list:
      items:
        enum:
          - VP8
          - H264
          - VP9
        type: string
      nullable: true
      type: array
    video_room_summary_created_method:
      enum:
        - sdk
        - ad_hoc
        - api
      nullable: true
      type: string
    video_room_summary_edge_location:
      enum:
        - ashburn
        - dublin
        - frankfurt
        - singapore
        - sydney
        - sao_paulo
        - roaming
        - umatilla
        - tokyo
      nullable: true
      type: string
    video_room_summary_end_reason:
      enum:
        - room_ended_via_api
        - timeout
      nullable: true
      type: string
    video_room_summary_processing_state:
      enum:
        - complete
        - in_progress
      nullable: true
      type: string
    video_room_summary_room_status:
      enum:
        - in_progress
        - completed
      nullable: true
      type: string
    video_room_summary_room_type:
      enum:
        - go
        - peer_to_peer
        - group
        - group_small
      nullable: true
      type: string
    video_room_summary_twilio_realm:
      enum:
        - us1
        - us2
        - au1
        - br1
        - ie1
        - jp1
        - sg1
        - in1
        - de1
        - gll
      nullable: true
      type: string
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: This product is Generally Available.
    name: GA
  - description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
    name: Beta
  - description: PLEASE NOTE that this is a Preview product that is subject to change. Use it with caution. If you currently do not have developer preview access, please contact help@twilio.com.
    name: Preview
