swagger: '2.0'
schemes:
  - https
  - http
host: data.iot.amazonaws.com
basePath: /
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>AWS IoT</fullname> <p>AWS IoT-Data enables secure, bi-directional communication between Internet-connected things (such as sensors, actuators, embedded devices, or smart appliances) and the AWS cloud. It implements a broker for applications and things to publish messages over HTTP (Publish) and retrieve, update, and delete thing shadows. A thing shadow is a persistent representation of your things and their state in the AWS cloud.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS IoT Data Plane
  version: '2015-05-28'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iot-data-2015-05-28.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: iot-data
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/iot/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/things/{thingName}/shadow':
    delete:
      description: '<p>Deletes the thing shadow for the specified thing.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/iot/latest/developerguide/API_DeleteThingShadow.html">DeleteThingShadow</a> in the <i>AWS IoT Developer Guide</i>.</p>'
      operationId: DeleteThingShadow
      parameters:
        - description: The name of the thing.
          in: path
          maxLength: 128
          minLength: 1
          name: thingName
          pattern: '[a-zA-Z0-9_-]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteThingShadowResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '486':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '487':
          description: UnsupportedDocumentEncodingException
          schema:
            $ref: '#/definitions/UnsupportedDocumentEncodingException'
    get:
      description: '<p>Gets the thing shadow for the specified thing.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/iot/latest/developerguide/API_GetThingShadow.html">GetThingShadow</a> in the <i>AWS IoT Developer Guide</i>.</p>'
      operationId: GetThingShadow
      parameters:
        - description: The name of the thing.
          in: path
          maxLength: 128
          minLength: 1
          name: thingName
          pattern: '[a-zA-Z0-9_-]+'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetThingShadowResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '486':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '487':
          description: UnsupportedDocumentEncodingException
          schema:
            $ref: '#/definitions/UnsupportedDocumentEncodingException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Updates the thing shadow for the specified thing.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/iot/latest/developerguide/API_UpdateThingShadow.html">UpdateThingShadow</a> in the <i>AWS IoT Developer Guide</i>.</p>'
      operationId: UpdateThingShadow
      parameters:
        - description: The name of the thing.
          in: path
          maxLength: 128
          minLength: 1
          name: thingName
          pattern: '[a-zA-Z0-9_-]+'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              payload:
                description: 'The state information, in JSON format.'
                type: string
            required:
              - payload
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateThingShadowResponse'
        '480':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '481':
          description: RequestEntityTooLargeException
          schema:
            $ref: '#/definitions/RequestEntityTooLargeException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '487':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        '488':
          description: UnsupportedDocumentEncodingException
          schema:
            $ref: '#/definitions/UnsupportedDocumentEncodingException'
  '/topics/{topic}':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Publishes state information.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/iot/latest/developerguide/protocols.html#http">HTTP Protocol</a> in the <i>AWS IoT Developer Guide</i>.</p>'
      operationId: Publish
      parameters:
        - description: The name of the MQTT topic.
          in: path
          name: topic
          required: true
          type: string
        - description: The Quality of Service (QoS) level.
          in: query
          maximum: 1
          minimum: 0
          name: qos
          required: false
          type: integer
        - in: body
          name: body
          required: true
          schema:
            properties:
              payload:
                description: 'The state information, in JSON format.'
                type: string
            type: object
      responses:
        '200':
          description: Success
        '480':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
definitions:
  ConflictException:
    description: The specified version does not match the version of the document.
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: The message for the exception.
    type: object
  DeleteThingShadowRequest:
    description: The input for the DeleteThingShadow operation.
    properties: {}
    type: object
  DeleteThingShadowResponse:
    description: The output from the DeleteThingShadow operation.
    properties:
      payload:
        $ref: '#/definitions/JsonDocument'
        description: 'The state information, in JSON format.'
    required:
      - payload
    type: object
  ErrorMessage:
    type: string
  GetThingShadowRequest:
    description: The input for the GetThingShadow operation.
    properties: {}
    type: object
  GetThingShadowResponse:
    description: The output from the GetThingShadow operation.
    properties:
      payload:
        $ref: '#/definitions/JsonDocument'
        description: 'The state information, in JSON format.'
    type: object
  InternalFailureException:
    description: An unexpected error has occurred.
    properties:
      message:
        $ref: '#/definitions/errorMessage'
        description: The message for the exception.
    type: object
  InvalidRequestException:
    description: The request is not valid.
    properties:
      message:
        $ref: '#/definitions/errorMessage'
        description: The message for the exception.
    type: object
  JsonDocument:
    type: string
  MethodNotAllowedException:
    description: The specified combination of HTTP verb and URI is not supported.
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: The message for the exception.
    type: object
  Payload:
    type: string
  PublishRequest:
    description: The input for the Publish operation.
    properties:
      payload:
        $ref: '#/definitions/Payload'
        description: 'The state information, in JSON format.'
    type: object
  Qos:
    maximum: 1
    minimum: 0
    type: integer
  RequestEntityTooLargeException:
    description: The payload exceeds the maximum size allowed.
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: The message for the exception.
    type: object
  ResourceNotFoundException:
    description: The specified resource does not exist.
    properties:
      message:
        $ref: '#/definitions/errorMessage'
        description: The message for the exception.
    type: object
  ServiceUnavailableException:
    description: The service is temporarily unavailable.
    properties:
      message:
        $ref: '#/definitions/errorMessage'
        description: The message for the exception.
    type: object
  ThingName:
    maxLength: 128
    minLength: 1
    pattern: '[a-zA-Z0-9_-]+'
    type: string
  ThrottlingException:
    description: The rate exceeds the limit.
    properties:
      message:
        $ref: '#/definitions/errorMessage'
        description: The message for the exception.
    type: object
  Topic:
    type: string
  UnauthorizedException:
    description: You are not authorized to perform this operation.
    properties:
      message:
        $ref: '#/definitions/errorMessage'
        description: The message for the exception.
    type: object
  UnsupportedDocumentEncodingException:
    description: The document encoding is not supported.
    properties:
      message:
        $ref: '#/definitions/errorMessage'
        description: The message for the exception.
    type: object
  UpdateThingShadowRequest:
    description: The input for the UpdateThingShadow operation.
    properties:
      payload:
        $ref: '#/definitions/JsonDocument'
        description: 'The state information, in JSON format.'
    required:
      - payload
    type: object
  UpdateThingShadowResponse:
    description: The output from the UpdateThingShadow operation.
    properties:
      payload:
        $ref: '#/definitions/JsonDocument'
        description: 'The state information, in JSON format.'
    type: object
  errorMessage:
    type: string
x-servers:
  - description: The AWS IoT Data Plane multi-region endpoint
    url: 'http://data.iot.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The AWS IoT Data Plane multi-region endpoint
    url: 'https://data.iot.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The AWS IoT Data Plane endpoint for China (Beijing) and China (Ningxia)
    url: 'http://data.iot.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The AWS IoT Data Plane endpoint for China (Beijing) and China (Ningxia)
    url: 'https://data.iot.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
