swagger: '2.0'
schemes:
  - https
  - http
host: iotthingsgraph.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>AWS IoT Things Graph</fullname> <p>AWS IoT Things Graph provides an integrated set of tools that enable developers to connect devices and services that use different standards, such as units of measure and communication protocols. AWS IoT Things Graph makes it possible to build IoT applications with little to no code by connecting devices and services and defining how they interact at an abstract level.</p> <p>For more information about how AWS IoT Things Graph works, see the <a href="https://docs.aws.amazon.com/thingsgraph/latest/ug/iot-tg-whatis.html">User Guide</a>.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS IoT Things Graph
  version: '2018-09-06'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iotthingsgraph-2018-09-06.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: iotthingsgraph
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/iotthingsgraph/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=IotThingsGraphFrontEndService.AssociateEntityToThing':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Associates a device with a concrete thing that is in the user''s registry.</p> <p>A thing can be associated with only one device at a time. If you associate a thing with a new device id, its previous association will be removed.</p>'
      operationId: AssociateEntityToThing
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AssociateEntityToThingRequest'
        - enum:
            - IotThingsGraphFrontEndService.AssociateEntityToThing
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateEntityToThingResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.CreateFlowTemplate':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a workflow template. Workflows can be created only in the user's namespace. (The public namespace contains only entities.) The workflow can contain only entities in the specified namespace. The workflow is validated against the entities in the latest version of the user's namespace unless another namespace version is specified in the request.
      operationId: CreateFlowTemplate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateFlowTemplateRequest'
        - enum:
            - IotThingsGraphFrontEndService.CreateFlowTemplate
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateFlowTemplateResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.CreateSystemInstance':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a system instance. </p> <p>This action validates the system instance, prepares the deployment-related resources. For Greengrass deployments, it updates the Greengrass group that is specified by the <code>greengrassGroupName</code> parameter. It also adds a file to the S3 bucket specified by the <code>s3BucketName</code> parameter. You need to call <code>DeploySystemInstance</code> after running this action.</p> <p>For Greengrass deployments, since this action modifies and adds resources to a Greengrass group and an S3 bucket on the caller''s behalf, the calling identity must have write permissions to both the specified Greengrass group and S3 bucket. Otherwise, the call will fail with an authorization error.</p> <p>For cloud deployments, this action requires a <code>flowActionsRoleArn</code> value. This is an IAM role that has permissions to access AWS services, such as AWS Lambda and AWS IoT, that the flow uses when it executes.</p> <p>If the definition document doesn''t specify a version of the user''s namespace, the latest version will be used by default.</p>'
      operationId: CreateSystemInstance
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateSystemInstanceRequest'
        - enum:
            - IotThingsGraphFrontEndService.CreateSystemInstance
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSystemInstanceResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.CreateSystemTemplate':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a system. The system is validated against the entities in the latest version of the user's namespace unless another namespace version is specified in the request.
      operationId: CreateSystemTemplate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateSystemTemplateRequest'
        - enum:
            - IotThingsGraphFrontEndService.CreateSystemTemplate
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSystemTemplateResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.DeleteFlowTemplate':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a workflow. Any new system or deployment that contains this workflow will fail to update or deploy. Existing deployments that contain the workflow will continue to run (since they use a snapshot of the workflow taken at the time of deployment).
      operationId: DeleteFlowTemplate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteFlowTemplateRequest'
        - enum:
            - IotThingsGraphFrontEndService.DeleteFlowTemplate
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteFlowTemplateResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.DeleteNamespace':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified namespace. This action deletes all of the entities in the namespace. Delete the systems and flows that use entities in the namespace before performing this action.
      operationId: DeleteNamespace
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteNamespaceRequest'
        - enum:
            - IotThingsGraphFrontEndService.DeleteNamespace
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteNamespaceResponse'
        '480':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.DeleteSystemInstance':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes a system instance. Only system instances that have never been deployed, or that have been undeployed can be deleted.</p> <p>Users can create a new system instance that has the same ID as a deleted system instance.</p>'
      operationId: DeleteSystemInstance
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSystemInstanceRequest'
        - enum:
            - IotThingsGraphFrontEndService.DeleteSystemInstance
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSystemInstanceResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.DeleteSystemTemplate':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a system. New deployments can't contain the system after its deletion. Existing deployments that contain the system will continue to work because they use a snapshot of the system that is taken when it is deployed.
      operationId: DeleteSystemTemplate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSystemTemplateRequest'
        - enum:
            - IotThingsGraphFrontEndService.DeleteSystemTemplate
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSystemTemplateResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.DeploySystemInstance':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> <b>Greengrass and Cloud Deployments</b> </p> <p>Deploys the system instance to the target specified in <code>CreateSystemInstance</code>. </p> <p> <b>Greengrass Deployments</b> </p> <p>If the system or any workflows and entities have been updated before this action is called, then the deployment will create a new Amazon Simple Storage Service resource file and then deploy it.</p> <p>Since this action creates a Greengrass deployment on the caller''s behalf, the calling identity must have write permissions to the specified Greengrass group. Otherwise, the call will fail with an authorization error.</p> <p>For information about the artifacts that get added to your Greengrass core device when you use this API, see <a href="https://docs.aws.amazon.com/thingsgraph/latest/ug/iot-tg-greengrass.html">AWS IoT Things Graph and AWS IoT Greengrass</a>.</p>'
      operationId: DeploySystemInstance
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeploySystemInstanceRequest'
        - enum:
            - IotThingsGraphFrontEndService.DeploySystemInstance
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeploySystemInstanceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.DeprecateFlowTemplate':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deprecates the specified workflow. This action marks the workflow for deletion. Deprecated flows can''t be deployed, but existing deployments will continue to run.'
      operationId: DeprecateFlowTemplate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeprecateFlowTemplateRequest'
        - enum:
            - IotThingsGraphFrontEndService.DeprecateFlowTemplate
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeprecateFlowTemplateResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.DeprecateSystemTemplate':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deprecates the specified system.
      operationId: DeprecateSystemTemplate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeprecateSystemTemplateRequest'
        - enum:
            - IotThingsGraphFrontEndService.DeprecateSystemTemplate
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeprecateSystemTemplateResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.DescribeNamespace':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the latest version of the user's namespace and the public version that it is tracking.
      operationId: DescribeNamespace
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeNamespaceRequest'
        - enum:
            - IotThingsGraphFrontEndService.DescribeNamespace
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeNamespaceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.DissociateEntityFromThing':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Dissociates a device entity from a concrete thing. The action takes only the type of the entity that you need to dissociate because only one entity of a particular type can be associated with a thing.
      operationId: DissociateEntityFromThing
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DissociateEntityFromThingRequest'
        - enum:
            - IotThingsGraphFrontEndService.DissociateEntityFromThing
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DissociateEntityFromThingResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.GetEntities':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Gets definitions of the specified entities. Uses the latest version of the user''s namespace by default. This API returns the following TDM entities.</p> <ul> <li> <p>Properties</p> </li> <li> <p>States</p> </li> <li> <p>Events</p> </li> <li> <p>Actions</p> </li> <li> <p>Capabilities</p> </li> <li> <p>Mappings</p> </li> <li> <p>Devices</p> </li> <li> <p>Device Models</p> </li> <li> <p>Services</p> </li> </ul> <p>This action doesn''t return definitions for systems, flows, and deployments.</p>'
      operationId: GetEntities
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetEntitiesRequest'
        - enum:
            - IotThingsGraphFrontEndService.GetEntities
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetEntitiesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.GetFlowTemplate':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the latest version of the <code>DefinitionDocument</code> and <code>FlowTemplateSummary</code> for the specified workflow.
      operationId: GetFlowTemplate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetFlowTemplateRequest'
        - enum:
            - IotThingsGraphFrontEndService.GetFlowTemplate
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFlowTemplateResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.GetFlowTemplateRevisions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets revisions of the specified workflow. Only the last 100 revisions are stored. If the workflow has been deprecated, this action will return revisions that occurred before the deprecation. This action won''t work for workflows that have been deleted.'
      operationId: GetFlowTemplateRevisions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetFlowTemplateRevisionsRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - IotThingsGraphFrontEndService.GetFlowTemplateRevisions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFlowTemplateRevisionsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.GetNamespaceDeletionStatus':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the status of a namespace deletion task.
      operationId: GetNamespaceDeletionStatus
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetNamespaceDeletionStatusRequest'
        - enum:
            - IotThingsGraphFrontEndService.GetNamespaceDeletionStatus
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetNamespaceDeletionStatusResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.GetSystemInstance':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets a system instance.
      operationId: GetSystemInstance
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetSystemInstanceRequest'
        - enum:
            - IotThingsGraphFrontEndService.GetSystemInstance
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSystemInstanceResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.GetSystemTemplate':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets a system.
      operationId: GetSystemTemplate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetSystemTemplateRequest'
        - enum:
            - IotThingsGraphFrontEndService.GetSystemTemplate
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSystemTemplateResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.GetSystemTemplateRevisions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Gets revisions made to the specified system template. Only the previous 100 revisions are stored. If the system has been deprecated, this action will return the revisions that occurred before its deprecation. This action won''t work with systems that have been deleted.'
      operationId: GetSystemTemplateRevisions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetSystemTemplateRevisionsRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - IotThingsGraphFrontEndService.GetSystemTemplateRevisions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSystemTemplateRevisionsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.GetUploadStatus':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the status of the specified upload.
      operationId: GetUploadStatus
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetUploadStatusRequest'
        - enum:
            - IotThingsGraphFrontEndService.GetUploadStatus
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetUploadStatusResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.ListFlowExecutionMessages':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a list of objects that contain information about events in a flow execution.
      operationId: ListFlowExecutionMessages
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListFlowExecutionMessagesRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - IotThingsGraphFrontEndService.ListFlowExecutionMessages
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListFlowExecutionMessagesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.ListTagsForResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists all tags on an AWS IoT Things Graph resource.
      operationId: ListTagsForResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - IotThingsGraphFrontEndService.ListTagsForResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.SearchEntities':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Searches for entities of the specified type. You can search for entities in your namespace and the public namespace that you're tracking.
      operationId: SearchEntities
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/SearchEntitiesRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - IotThingsGraphFrontEndService.SearchEntities
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SearchEntitiesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.SearchFlowExecutions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Searches for AWS IoT Things Graph workflow execution instances.
      operationId: SearchFlowExecutions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/SearchFlowExecutionsRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - IotThingsGraphFrontEndService.SearchFlowExecutions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SearchFlowExecutionsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.SearchFlowTemplates':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Searches for summary information about workflows.
      operationId: SearchFlowTemplates
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/SearchFlowTemplatesRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - IotThingsGraphFrontEndService.SearchFlowTemplates
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SearchFlowTemplatesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.SearchSystemInstances':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Searches for system instances in the user's account.
      operationId: SearchSystemInstances
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/SearchSystemInstancesRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - IotThingsGraphFrontEndService.SearchSystemInstances
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SearchSystemInstancesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.SearchSystemTemplates':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Searches for summary information about systems in the user's account. You can filter by the ID of a workflow to return only systems that use the specified workflow.
      operationId: SearchSystemTemplates
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/SearchSystemTemplatesRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - IotThingsGraphFrontEndService.SearchSystemTemplates
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SearchSystemTemplatesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.SearchThings':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Searches for things associated with the specified entity. You can search by both device and device model.</p> <p>For example, if two different devices, camera1 and camera2, implement the camera device model, the user can associate thing1 to camera1 and thing2 to camera2. <code>SearchThings(camera2)</code> will return only thing2, but <code>SearchThings(camera)</code> will return both thing1 and thing2.</p> <p>This action searches for exact matches and doesn''t perform partial text matching.</p>'
      operationId: SearchThings
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/SearchThingsRequest'
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - IotThingsGraphFrontEndService.SearchThings
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SearchThingsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.TagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a tag for the specified resource.
      operationId: TagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TagResourceRequest'
        - enum:
            - IotThingsGraphFrontEndService.TagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.UndeploySystemInstance':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes a system instance from its target (Cloud or Greengrass).
      operationId: UndeploySystemInstance
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UndeploySystemInstanceRequest'
        - enum:
            - IotThingsGraphFrontEndService.UndeploySystemInstance
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UndeploySystemInstanceResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.UntagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes a tag from the specified resource.
      operationId: UntagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourceRequest'
        - enum:
            - IotThingsGraphFrontEndService.UntagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.UpdateFlowTemplate':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Updates the specified workflow. All deployed systems and system instances that use the workflow will see the changes in the flow when it is redeployed. If you don''t want this behavior, copy the workflow (creating a new workflow with a different ID), and update the copy. The workflow can contain only entities in the specified namespace. '
      operationId: UpdateFlowTemplate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateFlowTemplateRequest'
        - enum:
            - IotThingsGraphFrontEndService.UpdateFlowTemplate
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateFlowTemplateResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.UpdateSystemTemplate':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates the specified system. You don't need to run this action after updating a workflow. Any deployment that uses the system will see the changes in the system when it is redeployed.
      operationId: UpdateSystemTemplate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateSystemTemplateRequest'
        - enum:
            - IotThingsGraphFrontEndService.UpdateSystemTemplate
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateSystemTemplateResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/#X-Amz-Target=IotThingsGraphFrontEndService.UploadEntityDefinitions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Asynchronously uploads one or more entity definitions to the user''s namespace. The <code>document</code> parameter is required if <code>syncWithPublicNamespace</code> and <code>deleteExistingEntites</code> are false. If the <code>syncWithPublicNamespace</code> parameter is set to <code>true</code>, the user''s namespace will synchronize with the latest version of the public namespace. If <code>deprecateExistingEntities</code> is set to true, all entities in the latest version will be deleted before the new <code>DefinitionDocument</code> is uploaded.</p> <p>When a user uploads entity definitions for the first time, the service creates a new namespace for the user. The new namespace tracks the public namespace. Currently users can have only one namespace. The namespace version increments whenever a user uploads entity definitions that are backwards-incompatible and whenever a user sets the <code>syncWithPublicNamespace</code> parameter or the <code>deprecateExistingEntities</code> parameter to <code>true</code>.</p> <p>The IDs for all of the entities should be in URN format. Each entity must be in the user''s namespace. Users can''t create entities in the public namespace, but entity definitions can refer to entities in the public namespace.</p> <p>Valid entities are <code>Device</code>, <code>DeviceModel</code>, <code>Service</code>, <code>Capability</code>, <code>State</code>, <code>Action</code>, <code>Event</code>, <code>Property</code>, <code>Mapping</code>, <code>Enum</code>. </p>'
      operationId: UploadEntityDefinitions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UploadEntityDefinitionsRequest'
        - enum:
            - IotThingsGraphFrontEndService.UploadEntityDefinitions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UploadEntityDefinitionsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
definitions:
  Arn:
    type: string
  AssociateEntityToThingRequest:
    properties:
      entityId:
        $ref: '#/definitions/Urn'
        description: '<p>The ID of the device to be associated with the thing.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code> </p>'
      namespaceVersion:
        $ref: '#/definitions/Version'
        description: The version of the user's namespace. Defaults to the latest version of the user's namespace.
      thingName:
        $ref: '#/definitions/ThingName'
        description: The name of the thing to which the entity is to be associated.
    required:
      - thingName
      - entityId
    type: object
  AssociateEntityToThingResponse:
    properties: {}
    type: object
  CreateFlowTemplateRequest:
    properties:
      compatibleNamespaceVersion:
        $ref: '#/definitions/Version'
        description: '<p>The namespace version in which the workflow is to be created.</p> <p>If no value is specified, the latest version is used by default.</p>'
      definition:
        $ref: '#/definitions/DefinitionDocument'
        description: The workflow <code>DefinitionDocument</code>.
    required:
      - definition
    type: object
  CreateFlowTemplateResponse:
    properties:
      summary:
        $ref: '#/definitions/FlowTemplateSummary'
        description: The summary object that describes the created workflow.
    type: object
  CreateSystemInstanceRequest:
    properties:
      definition:
        $ref: '#/definitions/DefinitionDocument'
      flowActionsRoleArn:
        $ref: '#/definitions/RoleArn'
        description: The ARN of the IAM role that AWS IoT Things Graph will assume when it executes the flow. This role must have read and write access to AWS Lambda and AWS IoT and any other AWS services that the flow uses when it executes. This value is required if the value of the <code>target</code> parameter is <code>CLOUD</code>.
      greengrassGroupName:
        $ref: '#/definitions/GroupName'
        description: The name of the Greengrass group where the system instance will be deployed. This value is required if the value of the <code>target</code> parameter is <code>GREENGRASS</code>.
      metricsConfiguration:
        $ref: '#/definitions/MetricsConfiguration'
      s3BucketName:
        $ref: '#/definitions/S3BucketName'
        description: The name of the Amazon Simple Storage Service bucket that will be used to store and deploy the system instance's resource file. This value is required if the value of the <code>target</code> parameter is <code>GREENGRASS</code>.
      tags:
        $ref: '#/definitions/TagList'
        description: 'Metadata, consisting of key-value pairs, that can be used to categorize your system instances.'
      target:
        $ref: '#/definitions/DeploymentTarget'
        description: The target type of the deployment. Valid values are <code>GREENGRASS</code> and <code>CLOUD</code>.
    required:
      - definition
      - target
    type: object
  CreateSystemInstanceResponse:
    properties:
      summary:
        $ref: '#/definitions/SystemInstanceSummary'
        description: The summary object that describes the new system instance.
    type: object
  CreateSystemTemplateRequest:
    properties:
      compatibleNamespaceVersion:
        $ref: '#/definitions/Version'
        description: '<p>The namespace version in which the system is to be created.</p> <p>If no value is specified, the latest version is used by default.</p>'
      definition:
        $ref: '#/definitions/DefinitionDocument'
        description: The <code>DefinitionDocument</code> used to create the system.
    required:
      - definition
    type: object
  CreateSystemTemplateResponse:
    properties:
      summary:
        $ref: '#/definitions/SystemTemplateSummary'
        description: The summary object that describes the created system.
    type: object
  DefinitionDocument:
    description: 'A document that defines an entity. '
    properties:
      language:
        $ref: '#/definitions/DefinitionLanguage'
        description: The language used to define the entity. <code>GRAPHQL</code> is the only valid value.
      text:
        $ref: '#/definitions/DefinitionText'
        description: The GraphQL text that defines the entity.
    required:
      - language
      - text
    type: object
  DefinitionLanguage:
    enum:
      - GRAPHQL
    type: string
  DefinitionText:
    maxLength: 1048576
    type: string
  DeleteFlowTemplateRequest:
    properties:
      id:
        $ref: '#/definitions/Urn'
        description: '<p>The ID of the workflow to be deleted.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:workflow:WORKFLOWNAME</code> </p>'
    required:
      - id
    type: object
  DeleteFlowTemplateResponse:
    properties: {}
    type: object
  DeleteNamespaceRequest:
    properties: {}
    type: object
  DeleteNamespaceResponse:
    properties:
      namespaceArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the namespace to be deleted.
      namespaceName:
        $ref: '#/definitions/NamespaceName'
        description: The name of the namespace to be deleted.
    type: object
  DeleteSystemInstanceRequest:
    properties:
      id:
        $ref: '#/definitions/Urn'
        description: The ID of the system instance to be deleted.
    type: object
  DeleteSystemInstanceResponse:
    properties: {}
    type: object
  DeleteSystemTemplateRequest:
    properties:
      id:
        $ref: '#/definitions/Urn'
        description: '<p>The ID of the system to be deleted.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:system:SYSTEMNAME</code> </p>'
    required:
      - id
    type: object
  DeleteSystemTemplateResponse:
    properties: {}
    type: object
  DependencyRevision:
    description: An object that contains the ID and revision number of a workflow or system that is part of a deployment.
    properties:
      id:
        $ref: '#/definitions/Urn'
        description: The ID of the workflow or system.
      revisionNumber:
        $ref: '#/definitions/Version'
        description: The revision number of the workflow or system.
    type: object
  DependencyRevisions:
    items:
      $ref: '#/definitions/DependencyRevision'
    type: array
  DeploySystemInstanceRequest:
    properties:
      id:
        $ref: '#/definitions/Urn'
        description: '<p>The ID of the system instance. This value is returned by the <code>CreateSystemInstance</code> action.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:deployment:DEPLOYMENTNAME</code> </p>'
    type: object
  DeploySystemInstanceResponse:
    properties:
      greengrassDeploymentId:
        $ref: '#/definitions/GreengrassDeploymentId'
        description: The ID of the Greengrass deployment used to deploy the system instance.
      summary:
        $ref: '#/definitions/SystemInstanceSummary'
        description: 'An object that contains summary information about a system instance that was deployed. '
    required:
      - summary
    type: object
  DeploymentTarget:
    enum:
      - GREENGRASS
      - CLOUD
    type: string
  DeprecateExistingEntities:
    type: boolean
  DeprecateFlowTemplateRequest:
    properties:
      id:
        $ref: '#/definitions/Urn'
        description: '<p>The ID of the workflow to be deleted.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:workflow:WORKFLOWNAME</code> </p>'
    required:
      - id
    type: object
  DeprecateFlowTemplateResponse:
    properties: {}
    type: object
  DeprecateSystemTemplateRequest:
    properties:
      id:
        $ref: '#/definitions/Urn'
        description: '<p>The ID of the system to delete.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:system:SYSTEMNAME</code> </p>'
    required:
      - id
    type: object
  DeprecateSystemTemplateResponse:
    properties: {}
    type: object
  DescribeNamespaceRequest:
    properties:
      namespaceName:
        $ref: '#/definitions/NamespaceName'
        description: The name of the user's namespace. Set this to <code>aws</code> to get the public namespace.
    type: object
  DescribeNamespaceResponse:
    properties:
      namespaceArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the namespace.
      namespaceName:
        $ref: '#/definitions/NamespaceName'
        description: The name of the namespace.
      namespaceVersion:
        $ref: '#/definitions/Version'
        description: The version of the user's namespace to describe.
      trackingNamespaceName:
        $ref: '#/definitions/NamespaceName'
        description: The name of the public namespace that the latest namespace version is tracking.
      trackingNamespaceVersion:
        $ref: '#/definitions/Version'
        description: The version of the public namespace that the latest version is tracking.
    type: object
  DissociateEntityFromThingRequest:
    properties:
      entityType:
        $ref: '#/definitions/EntityType'
        description: The entity type from which to disassociate the thing.
      thingName:
        $ref: '#/definitions/ThingName'
        description: The name of the thing to disassociate.
    required:
      - thingName
      - entityType
    type: object
  DissociateEntityFromThingResponse:
    properties: {}
    type: object
  Enabled:
    type: boolean
  EntityDescription:
    description: Describes the properties of an entity.
    properties:
      arn:
        $ref: '#/definitions/Arn'
        description: The entity ARN.
      createdAt:
        $ref: '#/definitions/Timestamp'
        description: The time at which the entity was created.
      definition:
        $ref: '#/definitions/DefinitionDocument'
        description: The definition document of the entity.
      id:
        $ref: '#/definitions/Urn'
        description: The entity ID.
      type:
        $ref: '#/definitions/EntityType'
        description: The entity type.
    type: object
  EntityDescriptions:
    items:
      $ref: '#/definitions/EntityDescription'
    type: array
  EntityFilter:
    description: An object that filters an entity search. Multiple filters function as OR criteria in the search. For example a search that includes a <code>NAMESPACE</code> and a <code>REFERENCED_ENTITY_ID</code> filter searches for entities in the specified namespace that use the entity specified by the value of <code>REFERENCED_ENTITY_ID</code>.
    properties:
      name:
        $ref: '#/definitions/EntityFilterName'
        description: 'The name of the entity search filter field. <code>REFERENCED_ENTITY_ID</code> filters on entities that are used by the entity in the result set. For example, you can filter on the ID of a property that is used in a state.'
      value:
        $ref: '#/definitions/EntityFilterValues'
        description: An array of string values for the search filter field. Multiple values function as AND criteria in the search.
    type: object
  EntityFilterName:
    enum:
      - NAME
      - NAMESPACE
      - SEMANTIC_TYPE_PATH
      - REFERENCED_ENTITY_ID
    type: string
  EntityFilterValue:
    type: string
  EntityFilterValues:
    items:
      $ref: '#/definitions/EntityFilterValue'
    type: array
  EntityFilters:
    items:
      $ref: '#/definitions/EntityFilter'
    type: array
  EntityType:
    enum:
      - DEVICE
      - SERVICE
      - DEVICE_MODEL
      - CAPABILITY
      - STATE
      - ACTION
      - EVENT
      - PROPERTY
      - MAPPING
      - ENUM
    type: string
  EntityTypes:
    items:
      $ref: '#/definitions/EntityType'
    type: array
  FlowExecutionEventType:
    enum:
      - EXECUTION_STARTED
      - EXECUTION_FAILED
      - EXECUTION_ABORTED
      - EXECUTION_SUCCEEDED
      - STEP_STARTED
      - STEP_FAILED
      - STEP_SUCCEEDED
      - ACTIVITY_SCHEDULED
      - ACTIVITY_STARTED
      - ACTIVITY_FAILED
      - ACTIVITY_SUCCEEDED
      - START_FLOW_EXECUTION_TASK
      - SCHEDULE_NEXT_READY_STEPS_TASK
      - THING_ACTION_TASK
      - THING_ACTION_TASK_FAILED
      - THING_ACTION_TASK_SUCCEEDED
      - ACKNOWLEDGE_TASK_MESSAGE
    type: string
  FlowExecutionId:
    type: string
  FlowExecutionMessage:
    description: An object that contains information about a flow event.
    properties:
      eventType:
        $ref: '#/definitions/FlowExecutionEventType'
        description: The type of flow event .
      messageId:
        $ref: '#/definitions/FlowExecutionMessageId'
        description: The unique identifier of the message.
      payload:
        $ref: '#/definitions/FlowExecutionMessagePayload'
        description: A string containing information about the flow event.
      timestamp:
        $ref: '#/definitions/Timestamp'
        description: The date and time when the message was last updated.
    type: object
  FlowExecutionMessageId:
    type: string
  FlowExecutionMessagePayload:
    type: string
  FlowExecutionMessages:
    items:
      $ref: '#/definitions/FlowExecutionMessage'
    type: array
  FlowExecutionStatus:
    enum:
      - RUNNING
      - ABORTED
      - SUCCEEDED
      - FAILED
    type: string
  FlowExecutionSummaries:
    items:
      $ref: '#/definitions/FlowExecutionSummary'
    type: array
  FlowExecutionSummary:
    description: An object that contains summary information about a flow execution.
    properties:
      createdAt:
        $ref: '#/definitions/Timestamp'
        description: The date and time when the flow execution summary was created.
      flowExecutionId:
        $ref: '#/definitions/FlowExecutionId'
        description: The ID of the flow execution.
      flowTemplateId:
        $ref: '#/definitions/Urn'
        description: The ID of the flow.
      status:
        $ref: '#/definitions/FlowExecutionStatus'
        description: The current status of the flow execution.
      systemInstanceId:
        $ref: '#/definitions/Urn'
        description: The ID of the system instance that contains the flow.
      updatedAt:
        $ref: '#/definitions/Timestamp'
        description: The date and time when the flow execution summary was last updated.
    type: object
  FlowTemplateDescription:
    description: An object that contains a workflow's definition and summary information.
    properties:
      definition:
        $ref: '#/definitions/DefinitionDocument'
        description: A workflow's definition document.
      summary:
        $ref: '#/definitions/FlowTemplateSummary'
        description: An object that contains summary information about a workflow.
      validatedNamespaceVersion:
        $ref: '#/definitions/Version'
        description: The version of the user's namespace against which the workflow was validated. Use this value in your system instance.
    type: object
  FlowTemplateFilter:
    description: An object that filters a workflow search.
    properties:
      name:
        $ref: '#/definitions/FlowTemplateFilterName'
        description: The name of the search filter field.
      value:
        $ref: '#/definitions/FlowTemplateFilterValues'
        description: An array of string values for the search filter field. Multiple values function as AND criteria in the search.
    required:
      - name
      - value
    type: object
  FlowTemplateFilterName:
    enum:
      - DEVICE_MODEL_ID
    type: string
  FlowTemplateFilterValue:
    pattern: '^urn:tdm:(([a-z]{2}-(gov-)?[a-z]{4,9}-[0-9]{1,3}/[0-9]+/)*[\p{Alnum}_]+(/[\p{Alnum}_]+)*):([\p{Alpha}]*):([\p{Alnum}_]+(/[\p{Alnum}_]+)*)$'
    type: string
  FlowTemplateFilterValues:
    items:
      $ref: '#/definitions/FlowTemplateFilterValue'
    type: array
  FlowTemplateFilters:
    items:
      $ref: '#/definitions/FlowTemplateFilter'
    type: array
  FlowTemplateSummaries:
    items:
      $ref: '#/definitions/FlowTemplateSummary'
    type: array
  FlowTemplateSummary:
    description: An object that contains summary information about a workflow.
    properties:
      arn:
        $ref: '#/definitions/Arn'
        description: The ARN of the workflow.
      createdAt:
        $ref: '#/definitions/Timestamp'
        description: The date when the workflow was created.
      id:
        $ref: '#/definitions/Urn'
        description: The ID of the workflow.
      revisionNumber:
        $ref: '#/definitions/Version'
        description: The revision number of the workflow.
    type: object
  GetEntitiesRequest:
    properties:
      ids:
        $ref: '#/definitions/Urns'
        description: '<p>An array of entity IDs.</p> <p>The IDs should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code> </p>'
      namespaceVersion:
        $ref: '#/definitions/Version'
        description: The version of the user's namespace. Defaults to the latest version of the user's namespace.
    required:
      - ids
    type: object
  GetEntitiesResponse:
    properties:
      descriptions:
        $ref: '#/definitions/EntityDescriptions'
        description: An array of descriptions for the specified entities.
    type: object
  GetFlowTemplateRequest:
    properties:
      id:
        $ref: '#/definitions/Urn'
        description: '<p>The ID of the workflow.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:workflow:WORKFLOWNAME</code> </p>'
      revisionNumber:
        $ref: '#/definitions/Version'
        description: The number of the workflow revision to retrieve.
    required:
      - id
    type: object
  GetFlowTemplateResponse:
    properties:
      description:
        $ref: '#/definitions/FlowTemplateDescription'
        description: The object that describes the specified workflow.
    type: object
  GetFlowTemplateRevisionsRequest:
    properties:
      id:
        $ref: '#/definitions/Urn'
        description: '<p>The ID of the workflow.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:workflow:WORKFLOWNAME</code> </p>'
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return in the response.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The string that specifies the next page of results. Use this when you're paginating results.
    required:
      - id
    type: object
  GetFlowTemplateRevisionsResponse:
    properties:
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The string to specify as <code>nextToken</code> when you request the next page of results.
      summaries:
        $ref: '#/definitions/FlowTemplateSummaries'
        description: An array of objects that provide summary data about each revision.
    type: object
  GetNamespaceDeletionStatusRequest:
    properties: {}
    type: object
  GetNamespaceDeletionStatusResponse:
    properties:
      errorCode:
        $ref: '#/definitions/NamespaceDeletionStatusErrorCodes'
        description: An error code returned by the namespace deletion task.
      errorMessage:
        $ref: '#/definitions/String'
        description: An error code returned by the namespace deletion task.
      namespaceArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the namespace that is being deleted.
      namespaceName:
        $ref: '#/definitions/NamespaceName'
        description: The name of the namespace that is being deleted.
      status:
        $ref: '#/definitions/NamespaceDeletionStatus'
        description: The status of the deletion request.
    type: object
  GetSystemInstanceRequest:
    properties:
      id:
        $ref: '#/definitions/Urn'
        description: '<p>The ID of the system deployment instance. This value is returned by <code>CreateSystemInstance</code>.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:deployment:DEPLOYMENTNAME</code> </p>'
    required:
      - id
    type: object
  GetSystemInstanceResponse:
    properties:
      description:
        $ref: '#/definitions/SystemInstanceDescription'
        description: An object that describes the system instance.
    type: object
  GetSystemTemplateRequest:
    properties:
      id:
        $ref: '#/definitions/Urn'
        description: '<p>The ID of the system to get. This ID must be in the user''s namespace.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:system:SYSTEMNAME</code> </p>'
      revisionNumber:
        $ref: '#/definitions/Version'
        description: The number that specifies the revision of the system to get.
    required:
      - id
    type: object
  GetSystemTemplateResponse:
    properties:
      description:
        $ref: '#/definitions/SystemTemplateDescription'
        description: An object that contains summary data about the system.
    type: object
  GetSystemTemplateRevisionsRequest:
    properties:
      id:
        $ref: '#/definitions/Urn'
        description: '<p>The ID of the system template.</p> <p>The ID should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:system:SYSTEMNAME</code> </p>'
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return in the response.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The string that specifies the next page of results. Use this when you're paginating results.
    required:
      - id
    type: object
  GetSystemTemplateRevisionsResponse:
    properties:
      nextToken:
        $ref: '#/definitions/NextToken'
        description: 'The string to specify as <code>nextToken</code> when you request the next page of results. '
      summaries:
        $ref: '#/definitions/SystemTemplateSummaries'
        description: An array of objects that contain summary data about the system template revisions.
    type: object
  GetUploadStatusRequest:
    properties:
      uploadId:
        $ref: '#/definitions/UploadId'
        description: The ID of the upload. This value is returned by the <code>UploadEntityDefinitions</code> action.
    required:
      - uploadId
    type: object
  GetUploadStatusResponse:
    properties:
      createdDate:
        $ref: '#/definitions/Timestamp'
        description: The date at which the upload was created.
      failureReason:
        $ref: '#/definitions/StringList'
        description: The reason for an upload failure.
      namespaceArn:
        $ref: '#/definitions/Arn'
        description: The ARN of the upload.
      namespaceName:
        $ref: '#/definitions/NamespaceName'
        description: The name of the upload's namespace.
      namespaceVersion:
        $ref: '#/definitions/Version'
        description: The version of the user's namespace. Defaults to the latest version of the user's namespace.
      uploadId:
        $ref: '#/definitions/UploadId'
        description: The ID of the upload.
      uploadStatus:
        $ref: '#/definitions/UploadStatus'
        description: The status of the upload. The initial status is <code>IN_PROGRESS</code>. The response show all validation failures if the upload fails.
    required:
      - uploadId
      - uploadStatus
      - createdDate
    type: object
  GreengrassDeploymentId:
    type: string
  GreengrassGroupId:
    type: string
  GreengrassGroupVersionId:
    type: string
  GroupName:
    type: string
  InternalFailureException: {}
  InvalidRequestException: {}
  LimitExceededException: {}
  ListFlowExecutionMessagesRequest:
    properties:
      flowExecutionId:
        $ref: '#/definitions/FlowExecutionId'
        description: The ID of the flow execution.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return in the response.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The string that specifies the next page of results. Use this when you're paginating results.
    required:
      - flowExecutionId
    type: object
  ListFlowExecutionMessagesResponse:
    properties:
      messages:
        $ref: '#/definitions/FlowExecutionMessages'
        description: A list of objects that contain information about events in the specified flow execution.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: 'The string to specify as <code>nextToken</code> when you request the next page of results. '
    type: object
  ListTagsForResourceRequest:
    properties:
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of tags to return.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token that specifies the next page of results to return.
      resourceArn:
        $ref: '#/definitions/ResourceArn'
        description: The Amazon Resource Name (ARN) of the resource whose tags are to be returned.
    required:
      - resourceArn
    type: object
  ListTagsForResourceResponse:
    properties:
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token that specifies the next page of results to return.
      tags:
        $ref: '#/definitions/TagList'
        description: List of tags returned by the <code>ListTagsForResource</code> operation.
    type: object
  MaxResults:
    maximum: 250
    minimum: 1
    type: integer
  MetricsConfiguration:
    description: 'An object that specifies whether cloud metrics are collected in a deployment and, if so, what role is used to collect metrics.'
    properties:
      cloudMetricEnabled:
        $ref: '#/definitions/Enabled'
        description: A Boolean that specifies whether cloud metrics are collected.
      metricRuleRoleArn:
        $ref: '#/definitions/RoleArn'
        description: The ARN of the role that is used to collect cloud metrics.
    type: object
  NamespaceDeletionStatus:
    enum:
      - IN_PROGRESS
      - SUCCEEDED
      - FAILED
    type: string
  NamespaceDeletionStatusErrorCodes:
    enum:
      - VALIDATION_FAILED
    type: string
  NamespaceName:
    maxLength: 128
    type: string
  NextToken:
    type: string
  ResourceAlreadyExistsException: {}
  ResourceArn:
    maxLength: 2048
    minLength: 1
    type: string
  ResourceInUseException: {}
  ResourceNotFoundException: {}
  RoleArn:
    maxLength: 2048
    minLength: 20
    type: string
  S3BucketName:
    type: string
  SearchEntitiesRequest:
    properties:
      entityTypes:
        $ref: '#/definitions/EntityTypes'
        description: The entity types for which to search.
      filters:
        $ref: '#/definitions/EntityFilters'
        description: '<p>Optional filter to apply to the search. Valid filters are <code>NAME</code> <code>NAMESPACE</code>, <code>SEMANTIC_TYPE_PATH</code> and <code>REFERENCED_ENTITY_ID</code>. <code>REFERENCED_ENTITY_ID</code> filters on entities that are used by the entity in the result set. For example, you can filter on the ID of a property that is used in a state.</p> <p>Multiple filters function as OR criteria in the query. Multiple values passed inside the filter function as AND criteria.</p>'
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return in the response.
      namespaceVersion:
        $ref: '#/definitions/Version'
        description: The version of the user's namespace. Defaults to the latest version of the user's namespace.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The string that specifies the next page of results. Use this when you're paginating results.
    required:
      - entityTypes
    type: object
  SearchEntitiesResponse:
    properties:
      descriptions:
        $ref: '#/definitions/EntityDescriptions'
        description: An array of descriptions for each entity returned in the search result.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The string to specify as <code>nextToken</code> when you request the next page of results.
    type: object
  SearchFlowExecutionsRequest:
    properties:
      endTime:
        $ref: '#/definitions/Timestamp'
        description: The date and time of the latest flow execution to return.
      flowExecutionId:
        $ref: '#/definitions/FlowExecutionId'
        description: The ID of a flow execution.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return in the response.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The string that specifies the next page of results. Use this when you're paginating results.
      startTime:
        $ref: '#/definitions/Timestamp'
        description: The date and time of the earliest flow execution to return.
      systemInstanceId:
        $ref: '#/definitions/Urn'
        description: The ID of the system instance that contains the flow.
    required:
      - systemInstanceId
    type: object
  SearchFlowExecutionsResponse:
    properties:
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The string to specify as <code>nextToken</code> when you request the next page of results.
      summaries:
        $ref: '#/definitions/FlowExecutionSummaries'
        description: An array of objects that contain summary information about each workflow execution in the result set.
    type: object
  SearchFlowTemplatesRequest:
    properties:
      filters:
        $ref: '#/definitions/FlowTemplateFilters'
        description: An array of objects that limit the result set. The only valid filter is <code>DEVICE_MODEL_ID</code>.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return in the response.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The string that specifies the next page of results. Use this when you're paginating results.
    type: object
  SearchFlowTemplatesResponse:
    properties:
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The string to specify as <code>nextToken</code> when you request the next page of results.
      summaries:
        $ref: '#/definitions/FlowTemplateSummaries'
        description: An array of objects that contain summary information about each workflow in the result set.
    type: object
  SearchSystemInstancesRequest:
    properties:
      filters:
        $ref: '#/definitions/SystemInstanceFilters'
        description: '<p>Optional filter to apply to the search. Valid filters are <code>SYSTEM_TEMPLATE_ID</code>, <code>STATUS</code>, and <code>GREENGRASS_GROUP_NAME</code>.</p> <p>Multiple filters function as OR criteria in the query. Multiple values passed inside the filter function as AND criteria.</p>'
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return in the response.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The string that specifies the next page of results. Use this when you're paginating results.
    type: object
  SearchSystemInstancesResponse:
    properties:
      nextToken:
        $ref: '#/definitions/NextToken'
        description: 'The string to specify as <code>nextToken</code> when you request the next page of results. '
      summaries:
        $ref: '#/definitions/SystemInstanceSummaries'
        description: An array of objects that contain summary data abour the system instances in the result set.
    type: object
  SearchSystemTemplatesRequest:
    properties:
      filters:
        $ref: '#/definitions/SystemTemplateFilters'
        description: An array of filters that limit the result set. The only valid filter is <code>FLOW_TEMPLATE_ID</code>.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return in the response.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The string that specifies the next page of results. Use this when you're paginating results.
    type: object
  SearchSystemTemplatesResponse:
    properties:
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The string to specify as <code>nextToken</code> when you request the next page of results.
      summaries:
        $ref: '#/definitions/SystemTemplateSummaries'
        description: An array of objects that contain summary information about each system deployment in the result set.
    type: object
  SearchThingsRequest:
    properties:
      entityId:
        $ref: '#/definitions/Urn'
        description: '<p>The ID of the entity to which the things are associated.</p> <p>The IDs should be in the following format.</p> <p> <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code> </p>'
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return in the response.
      namespaceVersion:
        $ref: '#/definitions/Version'
[...]
