swagger: '2.0'
schemes:
  - https
  - http
host: ec2.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>Amazon Elastic Compute Cloud</fullname> <p>Amazon Elastic Compute Cloud (Amazon EC2) provides secure and resizable computing capacity in the AWS cloud. Using Amazon EC2 eliminates the need to invest in hardware up front, so you can develop and deploy applications faster.</p> <p>To learn more, see the following resources:</p> <ul> <li> <p>Amazon EC2: <a href="http://aws.amazon.com/ec2">AmazonEC2 product page</a>, <a href="http://aws.amazon.com/documentation/ec2">Amazon EC2 documentation</a> </p> </li> <li> <p>Amazon EBS: <a href="http://aws.amazon.com/ebs">Amazon EBS product page</a>, <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AmazonEBS.html">Amazon EBS documentation</a> </p> </li> <li> <p>Amazon VPC: <a href="http://aws.amazon.com/vpc">Amazon VPC product page</a>, <a href="http://aws.amazon.com/documentation/vpc">Amazon VPC documentation</a> </p> </li> <li> <p>AWS VPN: <a href="http://aws.amazon.com/vpn">AWS VPN product page</a>, <a href="http://aws.amazon.com/documentation/vpn">AWS VPN documentation</a> </p> </li> </ul>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Elastic Compute Cloud
  version: '2016-11-15'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/ec2-2016-11-15.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: ec2
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/ec2/'
consumes: []
produces: []
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#Action=AcceptReservedInstancesExchangeQuote':
    get:
      description: Accepts the Convertible Reserved Instance exchange quote described in the <a>GetReservedInstancesExchangeQuote</a> call.
      operationId: GET AcceptReservedInstancesExchangeQuote
      parameters:
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: query
          name: DryRun
          required: false
          type: boolean
        - description: The IDs of the Convertible Reserved Instances to exchange for another Convertible Reserved Instance of the same or higher value.
          in: query
          items:
            type: string
          name: ReservedInstanceId
          required: true
          type: array
        - description: The configuration of the target Convertible Reserved Instance to exchange for your current Convertible Reserved Instances.
          in: query
          items:
            type: string
          name: TargetConfiguration
          required: false
          type: array
        - enum:
            - AcceptReservedInstancesExchangeQuote
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptReservedInstancesExchangeQuoteResult'
      x-aws-operation-name: AcceptReservedInstancesExchangeQuote
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Accepts the Convertible Reserved Instance exchange quote described in the <a>GetReservedInstancesExchangeQuote</a> call.
      operationId: POST AcceptReservedInstancesExchangeQuote
      parameters:
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: formData
          name: DryRun
          required: false
          type: boolean
        - description: The IDs of the Convertible Reserved Instances to exchange for another Convertible Reserved Instance of the same or higher value.
          in: formData
          items:
            type: string
          name: ReservedInstanceId
          required: true
          type: array
        - description: The configuration of the target Convertible Reserved Instance to exchange for your current Convertible Reserved Instances.
          in: formData
          items:
            type: string
          name: TargetConfiguration
          required: false
          type: array
        - enum:
            - AcceptReservedInstancesExchangeQuote
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptReservedInstancesExchangeQuoteResult'
      x-aws-operation-name: AcceptReservedInstancesExchangeQuote
  '/#Action=AcceptTransitGatewayVpcAttachment':
    get:
      description: <p>Accepts a request to attach a VPC to a transit gateway.</p> <p>The VPC attachment must be in the <code>pendingAcceptance</code> state. Use <a>DescribeTransitGatewayVpcAttachments</a> to view your pending VPC attachment requests. Use <a>RejectTransitGatewayVpcAttachment</a> to reject a VPC attachment request.</p>
      operationId: GET AcceptTransitGatewayVpcAttachment
      parameters:
        - description: The ID of the attachment.
          in: query
          name: TransitGatewayAttachmentId
          required: true
          type: string
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: query
          name: DryRun
          required: false
          type: boolean
        - enum:
            - AcceptTransitGatewayVpcAttachment
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptTransitGatewayVpcAttachmentResult'
      x-aws-operation-name: AcceptTransitGatewayVpcAttachment
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Accepts a request to attach a VPC to a transit gateway.</p> <p>The VPC attachment must be in the <code>pendingAcceptance</code> state. Use <a>DescribeTransitGatewayVpcAttachments</a> to view your pending VPC attachment requests. Use <a>RejectTransitGatewayVpcAttachment</a> to reject a VPC attachment request.</p>
      operationId: POST AcceptTransitGatewayVpcAttachment
      parameters:
        - description: The ID of the attachment.
          in: formData
          name: TransitGatewayAttachmentId
          required: true
          type: string
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: formData
          name: DryRun
          required: false
          type: boolean
        - enum:
            - AcceptTransitGatewayVpcAttachment
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptTransitGatewayVpcAttachmentResult'
      x-aws-operation-name: AcceptTransitGatewayVpcAttachment
  '/#Action=AcceptVpcEndpointConnections':
    get:
      description: Accepts one or more interface VPC endpoint connection requests to your VPC endpoint service.
      operationId: GET AcceptVpcEndpointConnections
      parameters:
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: query
          name: DryRun
          required: false
          type: boolean
        - description: The ID of the endpoint service.
          in: query
          name: ServiceId
          required: true
          type: string
        - description: The IDs of one or more interface VPC endpoints.
          in: query
          items:
            type: string
          name: VpcEndpointId
          required: true
          type: array
        - enum:
            - AcceptVpcEndpointConnections
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptVpcEndpointConnectionsResult'
      x-aws-operation-name: AcceptVpcEndpointConnections
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Accepts one or more interface VPC endpoint connection requests to your VPC endpoint service.
      operationId: POST AcceptVpcEndpointConnections
      parameters:
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: formData
          name: DryRun
          required: false
          type: boolean
        - description: The ID of the endpoint service.
          in: formData
          name: ServiceId
          required: true
          type: string
        - description: The IDs of one or more interface VPC endpoints.
          in: formData
          items:
            type: string
          name: VpcEndpointId
          required: true
          type: array
        - enum:
            - AcceptVpcEndpointConnections
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptVpcEndpointConnectionsResult'
      x-aws-operation-name: AcceptVpcEndpointConnections
  '/#Action=AcceptVpcPeeringConnection':
    get:
      description: '<p>Accept a VPC peering connection request. To accept a request, the VPC peering connection must be in the <code>pending-acceptance</code> state, and you must be the owner of the peer VPC. Use <a>DescribeVpcPeeringConnections</a> to view your outstanding VPC peering connection requests.</p> <p>For an inter-Region VPC peering connection request, you must accept the VPC peering connection in the Region of the accepter VPC.</p>'
      operationId: GET AcceptVpcPeeringConnection
      parameters:
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: query
          name: DryRun
          required: false
          type: boolean
        - description: The ID of the VPC peering connection. You must specify this parameter in the request.
          in: query
          name: VpcPeeringConnectionId
          required: false
          type: string
        - enum:
            - AcceptVpcPeeringConnection
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptVpcPeeringConnectionResult'
      x-aws-operation-name: AcceptVpcPeeringConnection
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Accept a VPC peering connection request. To accept a request, the VPC peering connection must be in the <code>pending-acceptance</code> state, and you must be the owner of the peer VPC. Use <a>DescribeVpcPeeringConnections</a> to view your outstanding VPC peering connection requests.</p> <p>For an inter-Region VPC peering connection request, you must accept the VPC peering connection in the Region of the accepter VPC.</p>'
      operationId: POST AcceptVpcPeeringConnection
      parameters:
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: formData
          name: DryRun
          required: false
          type: boolean
        - description: The ID of the VPC peering connection. You must specify this parameter in the request.
          in: formData
          name: VpcPeeringConnectionId
          required: false
          type: string
        - enum:
            - AcceptVpcPeeringConnection
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptVpcPeeringConnectionResult'
      x-aws-operation-name: AcceptVpcPeeringConnection
  '/#Action=AdvertiseByoipCidr':
    get:
      description: '<p>Advertises an IPv4 address range that is provisioned for use with your AWS resources through bring your own IP addresses (BYOIP).</p> <p>You can perform this operation at most once every 10 seconds, even if you specify different address ranges each time.</p> <p>We recommend that you stop advertising the BYOIP CIDR from other locations when you advertise it from AWS. To minimize down time, you can configure your AWS resources to use an address from a BYOIP CIDR before it is advertised, and then simultaneously stop advertising it from the current location and start advertising it through AWS.</p> <p>It can take a few minutes before traffic to the specified addresses starts routing to AWS because of BGP propagation delays.</p> <p>To stop advertising the BYOIP CIDR, use <a>WithdrawByoipCidr</a>.</p>'
      operationId: GET AdvertiseByoipCidr
      parameters:
        - description: 'The IPv4 address range, in CIDR notation. This must be the exact range that you provisioned. You can''t advertise only a portion of the provisioned range.'
          in: query
          name: Cidr
          required: true
          type: string
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: query
          name: DryRun
          required: false
          type: boolean
        - enum:
            - AdvertiseByoipCidr
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AdvertiseByoipCidrResult'
      x-aws-operation-name: AdvertiseByoipCidr
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Advertises an IPv4 address range that is provisioned for use with your AWS resources through bring your own IP addresses (BYOIP).</p> <p>You can perform this operation at most once every 10 seconds, even if you specify different address ranges each time.</p> <p>We recommend that you stop advertising the BYOIP CIDR from other locations when you advertise it from AWS. To minimize down time, you can configure your AWS resources to use an address from a BYOIP CIDR before it is advertised, and then simultaneously stop advertising it from the current location and start advertising it through AWS.</p> <p>It can take a few minutes before traffic to the specified addresses starts routing to AWS because of BGP propagation delays.</p> <p>To stop advertising the BYOIP CIDR, use <a>WithdrawByoipCidr</a>.</p>'
      operationId: POST AdvertiseByoipCidr
      parameters:
        - description: 'The IPv4 address range, in CIDR notation. This must be the exact range that you provisioned. You can''t advertise only a portion of the provisioned range.'
          in: formData
          name: Cidr
          required: true
          type: string
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: formData
          name: DryRun
          required: false
          type: boolean
        - enum:
            - AdvertiseByoipCidr
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AdvertiseByoipCidrResult'
      x-aws-operation-name: AdvertiseByoipCidr
  '/#Action=AllocateAddress':
    get:
      description: '<p>Allocates an Elastic IP address to your AWS account. After you allocate the Elastic IP address you can associate it with an instance or network interface. After you release an Elastic IP address, it is released to the IP address pool and can be allocated to a different AWS account.</p> <p>You can allocate an Elastic IP address from an address pool owned by AWS or from an address pool created from a public IPv4 address range that you have brought to AWS for use with your AWS resources using bring your own IP addresses (BYOIP). For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-byoip.html">Bring Your Own IP Addresses (BYOIP)</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <p>[EC2-VPC] If you release an Elastic IP address, you might be able to recover it. You cannot recover an Elastic IP address that you released after it is allocated to another AWS account. You cannot recover an Elastic IP address for EC2-Classic. To attempt to recover an Elastic IP address that you released, specify it in this operation.</p> <p>An Elastic IP address is for use either in the EC2-Classic platform or in a VPC. By default, you can allocate 5 Elastic IP addresses for EC2-Classic per Region and 5 Elastic IP addresses for EC2-VPC per Region.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html">Elastic IP Addresses</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>'
      operationId: GET AllocateAddress
      parameters:
        - description: '<p>Set to <code>vpc</code> to allocate the address for use with instances in a VPC.</p> <p>Default: The address is for use with instances in EC2-Classic.</p>'
          enum:
            - vpc
            - standard
          in: query
          name: Domain
          required: false
          type: string
        - description: '[EC2-VPC] The Elastic IP address to recover or an IPv4 address from an address pool.'
          in: query
          name: Address
          required: false
          type: string
        - description: 'The ID of an address pool that you own. Use this parameter to let Amazon EC2 select an address from the address pool. To specify a specific address from the address pool, use the <code>Address</code> parameter instead.'
          in: query
          name: PublicIpv4Pool
          required: false
          type: string
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: query
          name: DryRun
          required: false
          type: boolean
        - enum:
            - AllocateAddress
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AllocateAddressResult'
      x-aws-operation-name: AllocateAddress
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Allocates an Elastic IP address to your AWS account. After you allocate the Elastic IP address you can associate it with an instance or network interface. After you release an Elastic IP address, it is released to the IP address pool and can be allocated to a different AWS account.</p> <p>You can allocate an Elastic IP address from an address pool owned by AWS or from an address pool created from a public IPv4 address range that you have brought to AWS for use with your AWS resources using bring your own IP addresses (BYOIP). For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-byoip.html">Bring Your Own IP Addresses (BYOIP)</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <p>[EC2-VPC] If you release an Elastic IP address, you might be able to recover it. You cannot recover an Elastic IP address that you released after it is allocated to another AWS account. You cannot recover an Elastic IP address for EC2-Classic. To attempt to recover an Elastic IP address that you released, specify it in this operation.</p> <p>An Elastic IP address is for use either in the EC2-Classic platform or in a VPC. By default, you can allocate 5 Elastic IP addresses for EC2-Classic per Region and 5 Elastic IP addresses for EC2-VPC per Region.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html">Elastic IP Addresses</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>'
      operationId: POST AllocateAddress
      parameters:
        - description: '<p>Set to <code>vpc</code> to allocate the address for use with instances in a VPC.</p> <p>Default: The address is for use with instances in EC2-Classic.</p>'
          enum:
            - vpc
            - standard
          in: formData
          name: Domain
          required: false
          type: string
        - description: '[EC2-VPC] The Elastic IP address to recover or an IPv4 address from an address pool.'
          in: formData
          name: Address
          required: false
          type: string
        - description: 'The ID of an address pool that you own. Use this parameter to let Amazon EC2 select an address from the address pool. To specify a specific address from the address pool, use the <code>Address</code> parameter instead.'
          in: formData
          name: PublicIpv4Pool
          required: false
          type: string
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: formData
          name: DryRun
          required: false
          type: boolean
        - enum:
            - AllocateAddress
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AllocateAddressResult'
      x-aws-operation-name: AllocateAddress
  '/#Action=AllocateHosts':
    get:
      description: 'Allocates a Dedicated Host to your account. At a minimum, specify the instance size type, Availability Zone, and quantity of hosts to allocate.'
      operationId: GET AllocateHosts
      parameters:
        - description: '<p>Indicates whether the host accepts any untargeted instance launches that match its instance type configuration, or if it only accepts Host tenancy instance launches that specify its unique host ID. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/how-dedicated-hosts-work.html#dedicated-hosts-understanding"> Understanding Instance Placement and Host Affinity</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p> <p>Default: <code>on</code> </p>'
          enum:
            - 'on'
            - 'off'
          in: query
          name: AutoPlacement
          required: false
          type: string
        - description: The Availability Zone in which to allocate the Dedicated Host.
          in: query
          name: AvailabilityZone
          required: true
          type: string
        - description: 'Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html">How to Ensure Idempotency</a>.'
          in: query
          name: ClientToken
          required: false
          type: string
        - description: 'Specifies the instance type for which to configure your Dedicated Hosts. When you specify the instance type, that is the only instance type that you can launch onto that host.'
          in: query
          name: InstanceType
          required: true
          type: string
        - description: The number of Dedicated Hosts to allocate to your account with these parameters.
          in: query
          name: Quantity
          required: true
          type: integer
        - description: The tags to apply to the Dedicated Host during creation.
          in: query
          items:
            type: string
          name: TagSpecification
          required: false
          type: array
        - description: '<p>Indicates whether to enable or disable host recovery for the Dedicated Host. Host recovery is disabled by default. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/dedicated-hosts-recovery.html"> Host Recovery</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <p>Default: <code>off</code> </p>'
          enum:
            - 'on'
            - 'off'
          in: query
          name: HostRecovery
          required: false
          type: string
        - enum:
            - AllocateHosts
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AllocateHostsResult'
      x-aws-operation-name: AllocateHosts
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Allocates a Dedicated Host to your account. At a minimum, specify the instance size type, Availability Zone, and quantity of hosts to allocate.'
      operationId: POST AllocateHosts
      parameters:
        - description: '<p>Indicates whether the host accepts any untargeted instance launches that match its instance type configuration, or if it only accepts Host tenancy instance launches that specify its unique host ID. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/how-dedicated-hosts-work.html#dedicated-hosts-understanding"> Understanding Instance Placement and Host Affinity</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p> <p>Default: <code>on</code> </p>'
          enum:
            - 'on'
            - 'off'
          in: formData
          name: AutoPlacement
          required: false
          type: string
        - description: The Availability Zone in which to allocate the Dedicated Host.
          in: formData
          name: AvailabilityZone
          required: true
          type: string
        - description: 'Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html">How to Ensure Idempotency</a>.'
          in: formData
          name: ClientToken
          required: false
          type: string
        - description: 'Specifies the instance type for which to configure your Dedicated Hosts. When you specify the instance type, that is the only instance type that you can launch onto that host.'
          in: formData
          name: InstanceType
          required: true
          type: string
        - description: The number of Dedicated Hosts to allocate to your account with these parameters.
          in: formData
          name: Quantity
          required: true
          type: integer
        - description: The tags to apply to the Dedicated Host during creation.
          in: formData
          items:
            type: string
          name: TagSpecification
          required: false
          type: array
        - description: '<p>Indicates whether to enable or disable host recovery for the Dedicated Host. Host recovery is disabled by default. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/dedicated-hosts-recovery.html"> Host Recovery</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <p>Default: <code>off</code> </p>'
          enum:
            - 'on'
            - 'off'
          in: formData
          name: HostRecovery
          required: false
          type: string
        - enum:
            - AllocateHosts
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AllocateHostsResult'
      x-aws-operation-name: AllocateHosts
  '/#Action=ApplySecurityGroupsToClientVpnTargetNetwork':
    get:
      description: Applies a security group to the association between the target network and the Client VPN endpoint. This action replaces the existing security groups with the specified security groups.
      operationId: GET ApplySecurityGroupsToClientVpnTargetNetwork
      parameters:
        - description: The ID of the Client VPN endpoint.
          in: query
          name: ClientVpnEndpointId
          required: true
          type: string
        - description: The ID of the VPC in which the associated target network is located.
          in: query
          name: VpcId
          required: true
          type: string
        - description: The IDs of the security groups to apply to the associated target network. Up to 5 security groups can be applied to an associated target network.
          in: query
          items:
            type: string
          name: SecurityGroupId
          required: true
          type: array
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: query
          name: DryRun
          required: false
          type: boolean
        - enum:
            - ApplySecurityGroupsToClientVpnTargetNetwork
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApplySecurityGroupsToClientVpnTargetNetworkResult'
      x-aws-operation-name: ApplySecurityGroupsToClientVpnTargetNetwork
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Applies a security group to the association between the target network and the Client VPN endpoint. This action replaces the existing security groups with the specified security groups.
      operationId: POST ApplySecurityGroupsToClientVpnTargetNetwork
      parameters:
        - description: The ID of the Client VPN endpoint.
          in: formData
          name: ClientVpnEndpointId
          required: true
          type: string
        - description: The ID of the VPC in which the associated target network is located.
          in: formData
          name: VpcId
          required: true
          type: string
        - description: The IDs of the security groups to apply to the associated target network. Up to 5 security groups can be applied to an associated target network.
          in: formData
          items:
            type: string
          name: SecurityGroupId
          required: true
          type: array
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: formData
          name: DryRun
          required: false
          type: boolean
        - enum:
            - ApplySecurityGroupsToClientVpnTargetNetwork
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApplySecurityGroupsToClientVpnTargetNetworkResult'
      x-aws-operation-name: ApplySecurityGroupsToClientVpnTargetNetwork
  '/#Action=AssignIpv6Addresses':
    get:
      description: 'Assigns one or more IPv6 addresses to the specified network interface. You can specify one or more specific IPv6 addresses, or you can specify the number of IPv6 addresses to be automatically assigned from within the subnet''s IPv6 CIDR block range. You can assign as many IPv6 addresses to a network interface as you can assign private IPv4 addresses, and the limit varies per instance type. For information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html#AvailableIpPerENI">IP Addresses Per Network Interface Per Instance Type</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.'
      operationId: GET AssignIpv6Addresses
      parameters:
        - description: The number of IPv6 addresses to assign to the network interface. Amazon EC2 automatically selects the IPv6 addresses from the subnet range. You can't use this option if specifying specific IPv6 addresses.
          in: query
          name: Ipv6AddressCount
          required: false
          type: integer
        - description: One or more specific IPv6 addresses to be assigned to the network interface. You can't use this option if you're specifying a number of IPv6 addresses.
          in: query
          items:
            type: string
          name: Ipv6Addresses
          required: false
          type: array
        - description: The ID of the network interface.
          in: query
          name: NetworkInterfaceId
          required: true
          type: string
        - enum:
            - AssignIpv6Addresses
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssignIpv6AddressesResult'
      x-aws-operation-name: AssignIpv6Addresses
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Assigns one or more IPv6 addresses to the specified network interface. You can specify one or more specific IPv6 addresses, or you can specify the number of IPv6 addresses to be automatically assigned from within the subnet''s IPv6 CIDR block range. You can assign as many IPv6 addresses to a network interface as you can assign private IPv4 addresses, and the limit varies per instance type. For information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html#AvailableIpPerENI">IP Addresses Per Network Interface Per Instance Type</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.'
      operationId: POST AssignIpv6Addresses
      parameters:
        - description: The number of IPv6 addresses to assign to the network interface. Amazon EC2 automatically selects the IPv6 addresses from the subnet range. You can't use this option if specifying specific IPv6 addresses.
          in: formData
          name: Ipv6AddressCount
          required: false
          type: integer
        - description: One or more specific IPv6 addresses to be assigned to the network interface. You can't use this option if you're specifying a number of IPv6 addresses.
          in: formData
          items:
            type: string
          name: Ipv6Addresses
          required: false
          type: array
        - description: The ID of the network interface.
          in: formData
          name: NetworkInterfaceId
          required: true
          type: string
        - enum:
            - AssignIpv6Addresses
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssignIpv6AddressesResult'
      x-aws-operation-name: AssignIpv6Addresses
  '/#Action=AssignPrivateIpAddresses':
    get:
      description: '<p>Assigns one or more secondary private IP addresses to the specified network interface.</p> <p>You can specify one or more specific secondary IP addresses, or you can specify the number of secondary IP addresses to be automatically assigned within the subnet''s CIDR block range. The number of secondary IP addresses that you can assign to an instance varies by instance type. For information about instance types, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html">Instance Types</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>. For more information about Elastic IP addresses, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html">Elastic IP Addresses</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <p>When you move a secondary private IP address to another network interface, any Elastic IP address that is associated with the IP address is also moved.</p> <p>Remapping an IP address is an asynchronous operation. When you move an IP address from one network interface to another, check <code>network/interfaces/macs/mac/local-ipv4s</code> in the instance metadata to confirm that the remapping is complete.</p>'
      operationId: GET AssignPrivateIpAddresses
      parameters:
        - description: Indicates whether to allow an IP address that is already assigned to another network interface or instance to be reassigned to the specified network interface.
          in: query
          name: AllowReassignment
          required: false
          type: boolean
        - description: The ID of the network interface.
          in: query
          name: NetworkInterfaceId
          required: true
          type: string
        - description: '<p>One or more IP addresses to be assigned as a secondary private IP address to the network interface. You can''t specify this parameter when also specifying a number of secondary IP addresses.</p> <p>If you don''t specify an IP address, Amazon EC2 automatically selects an IP address within the subnet range.</p>'
          in: query
          items:
            type: string
          name: PrivateIpAddress
          required: false
          type: array
        - description: The number of secondary IP addresses to assign to the network interface. You can't specify this parameter when also specifying private IP addresses.
          in: query
          name: SecondaryPrivateIpAddressCount
          required: false
          type: integer
        - enum:
            - AssignPrivateIpAddresses
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssignPrivateIpAddressesResult'
      x-aws-operation-name: AssignPrivateIpAddresses
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Assigns one or more secondary private IP addresses to the specified network interface.</p> <p>You can specify one or more specific secondary IP addresses, or you can specify the number of secondary IP addresses to be automatically assigned within the subnet''s CIDR block range. The number of secondary IP addresses that you can assign to an instance varies by instance type. For information about instance types, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html">Instance Types</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>. For more information about Elastic IP addresses, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html">Elastic IP Addresses</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <p>When you move a secondary private IP address to another network interface, any Elastic IP address that is associated with the IP address is also moved.</p> <p>Remapping an IP address is an asynchronous operation. When you move an IP address from one network interface to another, check <code>network/interfaces/macs/mac/local-ipv4s</code> in the instance metadata to confirm that the remapping is complete.</p>'
      operationId: POST AssignPrivateIpAddresses
      parameters:
        - description: Indicates whether to allow an IP address that is already assigned to another network interface or instance to be reassigned to the specified network interface.
          in: formData
          name: AllowReassignment
          required: false
          type: boolean
        - description: The ID of the network interface.
          in: formData
          name: NetworkInterfaceId
          required: true
          type: string
        - description: '<p>One or more IP addresses to be assigned as a secondary private IP address to the network interface. You can''t specify this parameter when also specifying a number of secondary IP addresses.</p> <p>If you don''t specify an IP address, Amazon EC2 automatically selects an IP address within the subnet range.</p>'
          in: formData
          items:
            type: string
          name: PrivateIpAddress
          required: false
          type: array
        - description: The number of secondary IP addresses to assign to the network interface. You can't specify this parameter when also specifying private IP addresses.
          in: formData
          name: SecondaryPrivateIpAddressCount
          required: false
          type: integer
        - enum:
            - AssignPrivateIpAddresses
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssignPrivateIpAddressesResult'
      x-aws-operation-name: AssignPrivateIpAddresses
  '/#Action=AssociateAddress':
    get:
      description: '<p>Associates an Elastic IP address with an instance or a network interface. Before you can use an Elastic IP address, you must allocate it to your account.</p> <p>An Elastic IP address is for use in either the EC2-Classic platform or in a VPC. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html">Elastic IP Addresses</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <p>[EC2-Classic, VPC in an EC2-VPC-only account] If the Elastic IP address is already associated with a different instance, it is disassociated from that instance and associated with the specified instance. If you associate an Elastic IP address with an instance that has an existing Elastic IP address, the existing address is disassociated from the instance, but remains allocated to your account.</p> <p>[VPC in an EC2-Classic account] If you don''t specify a private IP address, the Elastic IP address is associated with the primary IP address. If the Elastic IP address is already associated with a different instance or a network interface, you get an error unless you allow reassociation. You cannot associate an Elastic IP address with an instance or network interface that has an existing Elastic IP address.</p> <important> <p>This is an idempotent operation. If you perform the operation more than once, Amazon EC2 doesn''t return an error, and you may be charged for each time the Elastic IP address is remapped to the same instance. For more information, see the <i>Elastic IP Addresses</i> section of <a href="http://aws.amazon.com/ec2/pricing/">Amazon EC2 Pricing</a>.</p> </important>'
      operationId: GET AssociateAddress
      parameters:
        - description: '[EC2-VPC] The allocation ID. This is required for EC2-VPC.'
          in: query
          name: AllocationId
          required: false
          type: string
        - description: 'The ID of the instance. This is required for EC2-Classic. For EC2-VPC, you can specify either the instance ID or the network interface ID, but not both. The operation fails if you specify an instance ID unless exactly one network interface is attached.'
          in: query
          name: InstanceId
          required: false
          type: string
        - description: The Elastic IP address to associate with the instance. This is required for EC2-Classic.
          in: query
          name: PublicIp
          required: false
          type: string
        - description: '[EC2-VPC] For a VPC in an EC2-Classic account, specify true to allow an Elastic IP address that is already associated with an instance or network interface to be reassociated with the specified instance or network interface. Otherwise, the operation fails. In a VPC in an EC2-VPC-only account, reassociation is automatic, therefore you can specify false to ensure the operation fails if the Elastic IP address is already associated with another resource.'
          in: query
          name: AllowReassociation
          required: false
          type: boolean
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: query
          name: DryRun
          required: false
          type: boolean
        - description: '<p>[EC2-VPC] The ID of the network interface. If the instance has more than one network interface, you must specify a network interface ID.</p> <p>For EC2-VPC, you can specify either the instance ID or the network interface ID, but not both. </p>'
          in: query
          name: NetworkInterfaceId
          required: false
          type: string
        - description: '[EC2-VPC] The primary or secondary private IP address to associate with the Elastic IP address. If no private IP address is specified, the Elastic IP address is associated with the primary private IP address.'
          in: query
          name: PrivateIpAddress
          required: false
          type: string
        - enum:
            - AssociateAddress
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateAddressResult'
      x-aws-operation-name: AssociateAddress
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Associates an Elastic IP address with an instance or a network interface. Before you can use an Elastic IP address, you must allocate it to your account.</p> <p>An Elastic IP address is for use in either the EC2-Classic platform or in a VPC. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html">Elastic IP Addresses</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <p>[EC2-Classic, VPC in an EC2-VPC-only account] If the Elastic IP address is already associated with a different instance, it is disassociated from that instance and associated with the specified instance. If you associate an Elastic IP address with an instance that has an existing Elastic IP address, the existing address is disassociated from the instance, but remains allocated to your account.</p> <p>[VPC in an EC2-Classic account] If you don''t specify a private IP address, the Elastic IP address is associated with the primary IP address. If the Elastic IP address is already associated with a different instance or a network interface, you get an error unless you allow reassociation. You cannot associate an Elastic IP address with an instance or network interface that has an existing Elastic IP address.</p> <important> <p>This is an idempotent operation. If you perform the operation more than once, Amazon EC2 doesn''t return an error, and you may be charged for each time the Elastic IP address is remapped to the same instance. For more information, see the <i>Elastic IP Addresses</i> section of <a href="http://aws.amazon.com/ec2/pricing/">Amazon EC2 Pricing</a>.</p> </important>'
      operationId: POST AssociateAddress
      parameters:
        - description: '[EC2-VPC] The allocation ID. This is required for EC2-VPC.'
          in: formData
          name: AllocationId
          required: false
          type: string
        - description: 'The ID of the instance. This is required for EC2-Classic. For EC2-VPC, you can specify either the instance ID or the network interface ID, but not both. The operation fails if you specify an instance ID unless exactly one network interface is attached.'
          in: formData
          name: InstanceId
          required: false
          type: string
        - description: The Elastic IP address to associate with the instance. This is required for EC2-Classic.
          in: formData
          name: PublicIp
          required: false
          type: string
        - description: '[EC2-VPC] For a VPC in an EC2-Classic account, specify true to allow an Elastic IP address that is already associated with an instance or network interface to be reassociated with the specified instance or network interface. Otherwise, the operation fails. In a VPC in an EC2-VPC-only account, reassociation is automatic, therefore you can specify false to ensure the operation fails if the Elastic IP address is already associated with another resource.'
          in: formData
          name: AllowReassociation
          required: false
          type: boolean
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: formData
          name: DryRun
          required: false
          type: boolean
        - description: '<p>[EC2-VPC] The ID of the network interface. If the instance has more than one network interface, you must specify a network interface ID.</p> <p>For EC2-VPC, you can specify either the instance ID or the network interface ID, but not both. </p>'
          in: formData
          name: NetworkInterfaceId
          required: false
          type: string
        - description: '[EC2-VPC] The primary or secondary private IP address to associate with the Elastic IP address. If no private IP address is specified, the Elastic IP address is associated with the primary private IP address.'
          in: formData
          name: PrivateIpAddress
          required: false
          type: string
        - enum:
            - AssociateAddress
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateAddressResult'
      x-aws-operation-name: AssociateAddress
  '/#Action=AssociateClientVpnTargetNetwork':
    get:
      description: Associates a target network with a Client VPN endpoint. A target network is a subnet in a VPC. You can associate multiple subnets from the same VPC with a Client VPN endpoint. You can associate only one subnet in each Availability Zone. We recommend that you associate at least two subnets to provide Availability Zone redundancy.
      operationId: GET AssociateClientVpnTargetNetwork
      parameters:
        - description: The ID of the Client VPN endpoint.
          in: query
          name: ClientVpnEndpointId
          required: true
          type: string
        - description: The ID of the subnet to associate with the Client VPN endpoint.
          in: query
          name: SubnetId
          required: true
          type: string
        - description: 'Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html">How to Ensure Idempotency</a>.'
          in: query
          name: ClientToken
          required: false
          type: string
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: query
          name: DryRun
          required: false
          type: boolean
        - enum:
            - AssociateClientVpnTargetNetwork
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateClientVpnTargetNetworkResult'
      x-aws-operation-name: AssociateClientVpnTargetNetwork
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Associates a target network with a Client VPN endpoint. A target network is a subnet in a VPC. You can associate multiple subnets from the same VPC with a Client VPN endpoint. You can associate only one subnet in each Availability Zone. We recommend that you associate at least two subnets to provide Availability Zone redundancy.
      operationId: POST AssociateClientVpnTargetNetwork
      parameters:
        - description: The ID of the Client VPN endpoint.
          in: formData
          name: ClientVpnEndpointId
          required: true
          type: string
        - description: The ID of the subnet to associate with the Client VPN endpoint.
          in: formData
          name: SubnetId
          required: true
          type: string
        - description: 'Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html">How to Ensure Idempotency</a>.'
          in: formData
          name: ClientToken
          required: false
          type: string
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: formData
          name: DryRun
          required: false
          type: boolean
        - enum:
            - AssociateClientVpnTargetNetwork
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateClientVpnTargetNetworkResult'
      x-aws-operation-name: AssociateClientVpnTargetNetwork
  '/#Action=AssociateDhcpOptions':
    get:
      description: '<p>Associates a set of DHCP options (that you''ve previously created) with the specified VPC, or associates no DHCP options with the VPC.</p> <p>After you associate the options with the VPC, any existing instances and all new instances that you launch in that VPC use the options. You don''t need to restart or relaunch the instances. They automatically pick up the changes within a few hours, depending on how frequently the instance renews its DHCP lease. You can explicitly renew the lease using the operating system on the instance.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/vpc/latest/userguide/VPC_DHCP_Options.html">DHCP Options Sets</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>'
      operationId: GET AssociateDhcpOptions
      parameters:
        - description: 'The ID of the DHCP options set, or <code>default</code> to associate no DHCP options with the VPC.'
          in: query
          name: DhcpOptionsId
          required: true
          type: string
        - description: The ID of the VPC.
          in: query
          name: VpcId
          required: true
          type: string
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: query
          name: DryRun
          required: false
          type: boolean
        - enum:
            - AssociateDhcpOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
      x-aws-operation-name: AssociateDhcpOptions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Associates a set of DHCP options (that you''ve previously created) with the specified VPC, or associates no DHCP options with the VPC.</p> <p>After you associate the options with the VPC, any existing instances and all new instances that you launch in that VPC use the options. You don''t need to restart or relaunch the instances. They automatically pick up the changes within a few hours, depending on how frequently the instance renews its DHCP lease. You can explicitly renew the lease using the operating system on the instance.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/vpc/latest/userguide/VPC_DHCP_Options.html">DHCP Options Sets</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>'
      operationId: POST AssociateDhcpOptions
      parameters:
        - description: 'The ID of the DHCP options set, or <code>default</code> to associate no DHCP options with the VPC.'
          in: formData
          name: DhcpOptionsId
          required: true
          type: string
        - description: The ID of the VPC.
          in: formData
          name: VpcId
          required: true
          type: string
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: formData
          name: DryRun
          required: false
          type: boolean
        - enum:
            - AssociateDhcpOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
      x-aws-operation-name: AssociateDhcpOptions
  '/#Action=AssociateIamInstanceProfile':
    get:
      description: Associates an IAM instance profile with a running or stopped instance. You cannot associate more than one IAM instance profile with an instance.
      operationId: GET AssociateIamInstanceProfile
      parameters:
        - description: |-
            Describes an IAM instance profile.
            The Amazon Resource Name (ARN) of the instance profile.
          in: query
          name: IamInstanceProfile.Arn
          type: string
        - description: |-
            Describes an IAM instance profile.
            The name of the instance profile.
          in: query
          name: IamInstanceProfile.Name
          type: string
        - description: The ID of the instance.
          in: query
          name: InstanceId
          required: true
          type: string
        - enum:
            - AssociateIamInstanceProfile
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateIamInstanceProfileResult'
      x-aws-operation-name: AssociateIamInstanceProfile
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Associates an IAM instance profile with a running or stopped instance. You cannot associate more than one IAM instance profile with an instance.
      operationId: POST AssociateIamInstanceProfile
      parameters:
        - description: |-
            Describes an IAM instance profile.
            The Amazon Resource Name (ARN) of the instance profile.
          in: formData
          name: IamInstanceProfile.Arn
          type: string
        - description: |-
            Describes an IAM instance profile.
            The name of the instance profile.
          in: formData
          name: IamInstanceProfile.Name
          type: string
        - description: The ID of the instance.
          in: formData
          name: InstanceId
          required: true
          type: string
        - enum:
            - AssociateIamInstanceProfile
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateIamInstanceProfileResult'
      x-aws-operation-name: AssociateIamInstanceProfile
  '/#Action=AssociateRouteTable':
    get:
      description: '<p>Associates a subnet with a route table. The subnet and route table must be in the same VPC. This association causes traffic originating from the subnet to be routed according to the routes in the route table. The action returns an association ID, which you need in order to disassociate the route table from the subnet later. A route table can be associated with multiple subnets.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Route_Tables.html">Route Tables</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>'
      operationId: GET AssociateRouteTable
      parameters:
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: query
          name: DryRun
          required: false
          type: boolean
        - description: The ID of the route table.
          in: query
          name: RouteTableId
          required: true
          type: string
        - description: The ID of the subnet.
          in: query
          name: SubnetId
          required: true
          type: string
        - enum:
            - AssociateRouteTable
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateRouteTableResult'
      x-aws-operation-name: AssociateRouteTable
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Associates a subnet with a route table. The subnet and route table must be in the same VPC. This association causes traffic originating from the subnet to be routed according to the routes in the route table. The action returns an association ID, which you need in order to disassociate the route table from the subnet later. A route table can be associated with multiple subnets.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Route_Tables.html">Route Tables</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>'
      operationId: POST AssociateRouteTable
      parameters:
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: formData
          name: DryRun
          required: false
          type: boolean
        - description: The ID of the route table.
          in: formData
          name: RouteTableId
          required: true
          type: string
        - description: The ID of the subnet.
          in: formData
          name: SubnetId
          required: true
          type: string
        - enum:
            - AssociateRouteTable
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateRouteTableResult'
      x-aws-operation-name: AssociateRouteTable
  '/#Action=AssociateSubnetCidrBlock':
    get:
      description: Associates a CIDR block with your subnet. You can only associate a single IPv6 CIDR block with your subnet. An IPv6 CIDR block must have a prefix length of /64.
      operationId: GET AssociateSubnetCidrBlock
      parameters:
        - description: The IPv6 CIDR block for your subnet. The subnet must have a /64 prefix length.
          in: query
          name: Ipv6CidrBlock
          required: true
          type: string
        - description: The ID of your subnet.
          in: query
          name: SubnetId
          required: true
          type: string
        - enum:
            - AssociateSubnetCidrBlock
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateSubnetCidrBlockResult'
      x-aws-operation-name: AssociateSubnetCidrBlock
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Associates a CIDR block with your subnet. You can only associate a single IPv6 CIDR block with your subnet. An IPv6 CIDR block must have a prefix length of /64.
      operationId: POST AssociateSubnetCidrBlock
      parameters:
        - description: The IPv6 CIDR block for your subnet. The subnet must have a /64 prefix length.
          in: formData
          name: Ipv6CidrBlock
          required: true
          type: string
        - description: The ID of your subnet.
          in: formData
          name: SubnetId
          required: true
          type: string
        - enum:
            - AssociateSubnetCidrBlock
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateSubnetCidrBlockResult'
      x-aws-operation-name: AssociateSubnetCidrBlock
  '/#Action=AssociateTransitGatewayRouteTable':
    get:
      description: Associates the specified attachment with the specified transit gateway route table. You can associate only one route table with an attachment.
      operationId: GET AssociateTransitGatewayRouteTable
      parameters:
        - description: The ID of the transit gateway route table.
          in: query
          name: TransitGatewayRouteTableId
          required: true
          type: string
        - description: The ID of the attachment.
          in: query
          name: TransitGatewayAttachmentId
          required: true
          type: string
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: query
          name: DryRun
          required: false
          type: boolean
        - enum:
            - AssociateTransitGatewayRouteTable
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateTransitGatewayRouteTableResult'
      x-aws-operation-name: AssociateTransitGatewayRouteTable
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Associates the specified attachment with the specified transit gateway route table. You can associate only one route table with an attachment.
      operationId: POST AssociateTransitGatewayRouteTable
      parameters:
        - description: The ID of the transit gateway route table.
          in: formData
          name: TransitGatewayRouteTableId
          required: true
          type: string
        - description: The ID of the attachment.
          in: formData
          name: TransitGatewayAttachmentId
          required: true
          type: string
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: formData
          name: DryRun
          required: false
          type: boolean
        - enum:
            - AssociateTransitGatewayRouteTable
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateTransitGatewayRouteTableResult'
      x-aws-operation-name: AssociateTransitGatewayRouteTable
  '/#Action=AssociateVpcCidrBlock':
    get:
      description: '<p>Associates a CIDR block with your VPC. You can associate a secondary IPv4 CIDR block, or you can associate an Amazon-provided IPv6 CIDR block. The IPv6 CIDR block size is fixed at /56.</p> <p>For more information about associating CIDR blocks with your VPC and applicable restrictions, see <a href="https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html#VPC_Sizing">VPC and Subnet Sizing</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>'
      operationId: GET AssociateVpcCidrBlock
      parameters:
        - description: 'Requests an Amazon-provided IPv6 CIDR block with a /56 prefix length for the VPC. You cannot specify the range of IPv6 addresses, or the size of the CIDR block.'
          in: query
          name: AmazonProvidedIpv6CidrBlock
          required: false
          type: boolean
        - description: An IPv4 CIDR block to associate with the VPC.
          in: query
          name: CidrBlock
          required: false
          type: string
        - description: The ID of the VPC.
          in: query
          name: VpcId
          required: true
          type: string
        - enum:
            - AssociateVpcCidrBlock
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateVpcCidrBlockResult'
      x-aws-operation-name: AssociateVpcCidrBlock
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Associates a CIDR block with your VPC. You can associate a secondary IPv4 CIDR block, or you can associate an Amazon-provided IPv6 CIDR block. The IPv6 CIDR block size is fixed at /56.</p> <p>For more information about associating CIDR blocks with your VPC and applicable restrictions, see <a href="https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html#VPC_Sizing">VPC and Subnet Sizing</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>'
      operationId: POST AssociateVpcCidrBlock
      parameters:
        - description: 'Requests an Amazon-provided IPv6 CIDR block with a /56 prefix length for the VPC. You cannot specify the range of IPv6 addresses, or the size of the CIDR block.'
          in: formData
          name: AmazonProvidedIpv6CidrBlock
          required: false
          type: boolean
        - description: An IPv4 CIDR block to associate with the VPC.
          in: formData
          name: CidrBlock
          required: false
          type: string
        - description: The ID of the VPC.
          in: formData
          name: VpcId
          required: true
          type: string
        - enum:
            - AssociateVpcCidrBlock
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateVpcCidrBlockResult'
      x-aws-operation-name: AssociateVpcCidrBlock
  '/#Action=AttachClassicLinkVpc':
    get:
      description: '<p>Links an EC2-Classic instance to a ClassicLink-enabled VPC through one or more of the VPC''s security groups. You cannot link an EC2-Classic instance to more than one VPC at a time. You can only link an instance that''s in the <code>running</code> state. An instance is automatically unlinked from a VPC when it''s stopped - you can link it to the VPC again when you restart it.</p> <p>After you''ve linked an instance, you cannot change the VPC security groups that are associated with it. To change the security groups, you must first unlink the instance, and then link it again.</p> <p>Linking your instance to a VPC is sometimes referred to as <i>attaching</i> your instance.</p>'
      operationId: GET AttachClassicLinkVpc
      parameters:
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: query
          name: DryRun
          required: false
          type: boolean
        - description: The ID of one or more of the VPC's security groups. You cannot specify security groups from a different VPC.
          in: query
          items:
            type: string
          name: SecurityGroupId
          required: true
          type: array
        - description: The ID of an EC2-Classic instance to link to the ClassicLink-enabled VPC.
          in: query
          name: InstanceId
          required: true
          type: string
        - description: The ID of a ClassicLink-enabled VPC.
          in: query
          name: VpcId
          required: true
          type: string
        - enum:
            - AttachClassicLinkVpc
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachClassicLinkVpcResult'
      x-aws-operation-name: AttachClassicLinkVpc
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Links an EC2-Classic instance to a ClassicLink-enabled VPC through one or more of the VPC''s security groups. You cannot link an EC2-Classic instance to more than one VPC at a time. You can only link an instance that''s in the <code>running</code> state. An instance is automatically unlinked from a VPC when it''s stopped - you can link it to the VPC again when you restart it.</p> <p>After you''ve linked an instance, you cannot change the VPC security groups that are associated with it. To change the security groups, you must first unlink the instance, and then link it again.</p> <p>Linking your instance to a VPC is sometimes referred to as <i>attaching</i> your instance.</p>'
      operationId: POST AttachClassicLinkVpc
      parameters:
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: formData
          name: DryRun
          required: false
          type: boolean
        - description: The ID of one or more of the VPC's security groups. You cannot specify security groups from a different VPC.
          in: formData
          items:
            type: string
          name: SecurityGroupId
          required: true
          type: array
        - description: The ID of an EC2-Classic instance to link to the ClassicLink-enabled VPC.
          in: formData
          name: InstanceId
          required: true
          type: string
        - description: The ID of a ClassicLink-enabled VPC.
          in: formData
          name: VpcId
          required: true
          type: string
        - enum:
            - AttachClassicLinkVpc
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachClassicLinkVpcResult'
      x-aws-operation-name: AttachClassicLinkVpc
  '/#Action=AttachInternetGateway':
    get:
      description: 'Attaches an internet gateway to a VPC, enabling connectivity between the internet and the VPC. For more information about your VPC and internet gateway, see the <a href="https://docs.aws.amazon.com/vpc/latest/userguide/">Amazon Virtual Private Cloud User Guide</a>.'
      operationId: GET AttachInternetGateway
      parameters:
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: query
          name: DryRun
          required: false
          type: boolean
        - description: The ID of the internet gateway.
          in: query
          name: InternetGatewayId
          required: true
          type: string
        - description: The ID of the VPC.
          in: query
          name: VpcId
          required: true
          type: string
        - enum:
            - AttachInternetGateway
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
      x-aws-operation-name: AttachInternetGateway
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Attaches an internet gateway to a VPC, enabling connectivity between the internet and the VPC. For more information about your VPC and internet gateway, see the <a href="https://docs.aws.amazon.com/vpc/latest/userguide/">Amazon Virtual Private Cloud User Guide</a>.'
      operationId: POST AttachInternetGateway
      parameters:
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: formData
          name: DryRun
          required: false
          type: boolean
        - description: The ID of the internet gateway.
          in: formData
          name: InternetGatewayId
          required: true
          type: string
        - description: The ID of the VPC.
          in: formData
          name: VpcId
          required: true
          type: string
        - enum:
            - AttachInternetGateway
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
      x-aws-operation-name: AttachInternetGateway
  '/#Action=AttachNetworkInterface':
    get:
      description: Attaches a network interface to an instance.
      operationId: GET AttachNetworkInterface
      parameters:
        - description: The index of the device for the network interface attachment.
          in: query
          name: DeviceIndex
          required: true
          type: integer
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: query
          name: DryRun
          required: false
          type: boolean
        - description: The ID of the instance.
          in: query
          name: InstanceId
          required: true
          type: string
        - description: The ID of the network interface.
          in: query
          name: NetworkInterfaceId
          required: true
          type: string
        - enum:
            - AttachNetworkInterface
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachNetworkInterfaceResult'
      x-aws-operation-name: AttachNetworkInterface
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Attaches a network interface to an instance.
      operationId: POST AttachNetworkInterface
      parameters:
        - description: The index of the device for the network interface attachment.
          in: formData
          name: DeviceIndex
          required: true
          type: integer
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: formData
          name: DryRun
          required: false
          type: boolean
        - description: The ID of the instance.
          in: formData
          name: InstanceId
          required: true
          type: string
        - description: The ID of the network interface.
          in: formData
          name: NetworkInterfaceId
          required: true
          type: string
        - enum:
            - AttachNetworkInterface
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachNetworkInterfaceResult'
      x-aws-operation-name: AttachNetworkInterface
  '/#Action=AttachVolume':
    get:
      description: '<p>Attaches an EBS volume to a running or stopped instance and exposes it to the instance with the specified device name.</p> <p>Encrypted EBS volumes must be attached to instances that support Amazon EBS encryption. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html">Amazon EBS Encryption</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <p>After you attach an EBS volume, you must make it available. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-using-volumes.html">Making an EBS Volume Available For Use</a>.</p> <p>If a volume has an AWS Marketplace product code:</p> <ul> <li> <p>The volume can be attached only to a stopped instance.</p> </li> <li> <p>AWS Marketplace product codes are copied from the volume to the instance.</p> </li> <li> <p>You must be subscribed to the product.</p> </li> <li> <p>The instance type and operating system of the instance must support the product. For example, you can''t detach a volume from a Windows instance and attach it to a Linux instance.</p> </li> </ul> <p>For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-attaching-volume.html">Attaching Amazon EBS Volumes</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>'
      operationId: GET AttachVolume
      parameters:
        - description: 'The device name (for example, <code>/dev/sdh</code> or <code>xvdh</code>).'
          in: query
          name: Device
          required: true
          type: string
        - description: The ID of the instance.
          in: query
          name: InstanceId
          required: true
          type: string
        - description: The ID of the EBS volume. The volume and instance must be within the same Availability Zone.
          in: query
          name: VolumeId
          required: true
          type: string
        - description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          in: query
          name: DryRun
          required: false
          type: boolean
        - enum:
            - AttachVolume
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2016-11-15'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VolumeAttachment'
      x-aws-operation-name: AttachVolume
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
[...]
