swagger: '2.0'
info:
  version: '2016-11-15'
  x-release: v4
  title: Amazon Elastic Compute Cloud
  description: '<fullname>Amazon Elastic Compute Cloud</fullname> <p>Amazon Elastic Compute Cloud (Amazon EC2) provides secure and resizable computing capacity in the AWS cloud. Using Amazon EC2 eliminates the need to invest in hardware up front, so you can develop and deploy applications faster.</p> <p>To learn more about Amazon EC2, Amazon EBS, and Amazon VPC, see the following resources:</p> <ul> <li> <p> <a href="http://aws.amazon.com/ec2">Amazon EC2 product page</a> </p> </li> <li> <p> <a href="http://aws.amazon.com/documentation/ec2">Amazon EC2 documentation</a> </p> </li> <li> <p> <a href="http://aws.amazon.com/ebs">Amazon EBS product page</a> </p> </li> <li> <p> <a href="http://aws.amazon.com/vpc">Amazon VPC product page</a> </p> </li> <li> <p> <a href="http://aws.amazon.com/documentation/vpc">Amazon VPC documentation</a> </p> </li> </ul>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: ec2
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/ec2-2016-11-15.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/ec2/'
host: ec2.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes: []
produces: []
parameters:
  Action:
    name: Action
    in: query
    type: string
    required: true
  Version:
    name: Version
    in: query
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#Action=AcceptReservedInstancesExchangeQuote':
    post:
      operationId: AcceptReservedInstancesExchangeQuote
      description: Accepts the Convertible Reserved Instance exchange quote described in the <a>GetReservedInstancesExchangeQuote</a> call.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptReservedInstancesExchangeQuoteResult'
      parameters:
        - name: DryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: ReservedInstanceId
          in: query
          required: true
          description: The IDs of the Convertible Reserved Instances to exchange for another Convertible Reserved Instance of the same or higher value.
          type: array
          items:
            type: string
        - name: TargetConfiguration
          in: query
          required: false
          description: The configuration of the target Convertible Reserved Instance to exchange for your current Convertible Reserved Instances.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AcceptReservedInstancesExchangeQuote
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AcceptTransitGatewayVpcAttachment':
    post:
      operationId: AcceptTransitGatewayVpcAttachment
      description: <p>Accepts a request to attach a VPC to a transit gateway.</p> <p>The VPC attachment must be in the <code>pendingAcceptance</code> state. Use <a>DescribeTransitGatewayVpcAttachments</a> to view your pending VPC attachment requests. Use <a>RejectTransitGatewayVpcAttachment</a> to reject a VPC attachment request.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptTransitGatewayVpcAttachmentResult'
      parameters:
        - name: TransitGatewayAttachmentId
          in: query
          required: true
          description: The ID of the attachment.
          type: string
        - name: DryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AcceptTransitGatewayVpcAttachment
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AcceptVpcEndpointConnections':
    post:
      operationId: AcceptVpcEndpointConnections
      description: Accepts one or more interface VPC endpoint connection requests to your VPC endpoint service.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptVpcEndpointConnectionsResult'
      parameters:
        - name: DryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: ServiceId
          in: query
          required: true
          description: The ID of the endpoint service.
          type: string
        - name: VpcEndpointId
          in: query
          required: true
          description: The IDs of one or more interface VPC endpoints.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AcceptVpcEndpointConnections
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AcceptVpcPeeringConnection':
    post:
      operationId: AcceptVpcPeeringConnection
      description: '<p>Accept a VPC peering connection request. To accept a request, the VPC peering connection must be in the <code>pending-acceptance</code> state, and you must be the owner of the peer VPC. Use <a>DescribeVpcPeeringConnections</a> to view your outstanding VPC peering connection requests.</p> <p>For an inter-region VPC peering connection request, you must accept the VPC peering connection in the region of the accepter VPC.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptVpcPeeringConnectionResult'
      parameters:
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: vpcPeeringConnectionId
          in: query
          required: false
          description: The ID of the VPC peering connection. You must specify this parameter in the request.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AcceptVpcPeeringConnection
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AdvertiseByoipCidr':
    post:
      operationId: AdvertiseByoipCidr
      description: '<p>Advertises an IPv4 address range that is provisioned for use with your AWS resources through bring your own IP addresses (BYOIP).</p> <p>You can perform this operation at most once every 10 seconds, even if you specify different address ranges each time.</p> <p>We recommend that you stop advertising the BYOIP CIDR from other locations when you advertise it from AWS. To minimize down time, you can configure your AWS resources to use an address from a BYOIP CIDR before it is advertised, and then simultaneously stop advertising it from the current location and start advertising it through AWS.</p> <p>It can take a few minutes before traffic to the specified addresses starts routing to AWS because of BGP propagation delays.</p> <p>To stop advertising the BYOIP CIDR, use <a>WithdrawByoipCidr</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AdvertiseByoipCidrResult'
      parameters:
        - name: Cidr
          in: query
          required: true
          description: 'The IPv4 address range, in CIDR notation. This must be the exact range that you provisioned. You can''t advertise only a portion of the provisioned range.'
          type: string
        - name: DryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AdvertiseByoipCidr
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AllocateAddress':
    post:
      operationId: AllocateAddress
      description: '<p>Allocates an Elastic IP address to your AWS account. After you allocate the Elastic IP address you can associate it with an instance or network interface. After you release an Elastic IP address, it is released to the IP address pool and can be allocated to a different AWS account.</p> <p>You can allocate an Elastic IP address from an address pool owned by AWS or from an address pool created from a public IPv4 address range that you have brought to AWS for use with your AWS resources using bring your own IP addresses (BYOIP). For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-byoip.html">Bring Your Own IP Addresses (BYOIP)</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <p>[EC2-VPC] If you release an Elastic IP address, you might be able to recover it. You cannot recover an Elastic IP address that you released after it is allocated to another AWS account. You cannot recover an Elastic IP address for EC2-Classic. To attempt to recover an Elastic IP address that you released, specify it in this operation.</p> <p>An Elastic IP address is for use either in the EC2-Classic platform or in a VPC. By default, you can allocate 5 Elastic IP addresses for EC2-Classic per region and 5 Elastic IP addresses for EC2-VPC per region.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html">Elastic IP Addresses</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AllocateAddressResult'
      parameters:
        - name: Domain
          in: query
          required: false
          description: '<p>Set to <code>vpc</code> to allocate the address for use with instances in a VPC.</p> <p>Default: The address is for use with instances in EC2-Classic.</p>'
          type: string
          enum:
            - vpc
            - standard
        - name: Address
          in: query
          required: false
          description: '[EC2-VPC] The Elastic IP address to recover or an IPv4 address from an address pool.'
          type: string
        - name: PublicIpv4Pool
          in: query
          required: false
          description: 'The ID of an address pool that you own. Use this parameter to let Amazon EC2 select an address from the address pool. To specify a specific address from the address pool, use the <code>Address</code> parameter instead.'
          type: string
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AllocateAddress
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AllocateHosts':
    post:
      operationId: AllocateHosts
      description: 'Allocates a Dedicated Host to your account. At a minimum, specify the instance size type, Availability Zone, and quantity of hosts to allocate.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AllocateHostsResult'
      parameters:
        - name: autoPlacement
          in: query
          required: false
          description: '<p>This is enabled by default. This property allows instances to be automatically placed onto available Dedicated Hosts, when you are launching instances without specifying a host ID.</p> <p>Default: Enabled</p>'
          type: string
          enum:
            - 'on'
            - 'off'
        - name: availabilityZone
          in: query
          required: true
          description: The Availability Zone for the Dedicated Hosts.
          type: string
        - name: clientToken
          in: query
          required: false
          description: 'Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html">How to Ensure Idempotency</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>. '
          type: string
        - name: instanceType
          in: query
          required: true
          description: 'Specify the instance type for which to configure your Dedicated Hosts. When you specify the instance type, that is the only instance type that you can launch onto that host.'
          type: string
        - name: quantity
          in: query
          required: true
          description: The number of Dedicated Hosts to allocate to your account with these parameters.
          type: integer
        - name: TagSpecification
          in: query
          required: false
          description: The tags to apply to the Dedicated Host during creation.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AllocateHosts
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=ApplySecurityGroupsToClientVpnTargetNetwork':
    post:
      operationId: ApplySecurityGroupsToClientVpnTargetNetwork
      description: Applies a security group to the association between the target network and the Client VPN endpoint. This action replaces the existing security groups with the specified security groups.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApplySecurityGroupsToClientVpnTargetNetworkResult'
      parameters:
        - name: ClientVpnEndpointId
          in: query
          required: true
          description: The ID of the Client VPN endpoint.
          type: string
        - name: VpcId
          in: query
          required: true
          description: The ID of the VPC in which the associated target network is located.
          type: string
        - name: SecurityGroupId
          in: query
          required: true
          description: The IDs of the security groups to apply to the associated target network. Up to 5 security groups can be applied to an associated target network.
          type: array
          items:
            type: string
        - name: DryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ApplySecurityGroupsToClientVpnTargetNetwork
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AssignIpv6Addresses':
    post:
      operationId: AssignIpv6Addresses
      description: 'Assigns one or more IPv6 addresses to the specified network interface. You can specify one or more specific IPv6 addresses, or you can specify the number of IPv6 addresses to be automatically assigned from within the subnet''s IPv6 CIDR block range. You can assign as many IPv6 addresses to a network interface as you can assign private IPv4 addresses, and the limit varies per instance type. For information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html#AvailableIpPerENI">IP Addresses Per Network Interface Per Instance Type</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssignIpv6AddressesResult'
      parameters:
        - name: ipv6AddressCount
          in: query
          required: false
          description: The number of IPv6 addresses to assign to the network interface. Amazon EC2 automatically selects the IPv6 addresses from the subnet range. You can't use this option if specifying specific IPv6 addresses.
          type: integer
        - name: ipv6Addresses
          in: query
          required: false
          description: One or more specific IPv6 addresses to be assigned to the network interface. You can't use this option if you're specifying a number of IPv6 addresses.
          type: array
          items:
            type: string
        - name: networkInterfaceId
          in: query
          required: true
          description: The ID of the network interface.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AssignIpv6Addresses
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AssignPrivateIpAddresses':
    post:
      operationId: AssignPrivateIpAddresses
      description: '<p>Assigns one or more secondary private IP addresses to the specified network interface.</p> <p>You can specify one or more specific secondary IP addresses, or you can specify the number of secondary IP addresses to be automatically assigned within the subnet''s CIDR block range. The number of secondary IP addresses that you can assign to an instance varies by instance type. For information about instance types, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html">Instance Types</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>. For more information about Elastic IP addresses, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html">Elastic IP Addresses</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <p>When you move a secondary private IP address to another network interface, any Elastic IP address that is associated with the IP address is also moved.</p> <p>Remapping an IP address is an asynchronous operation. When you move an IP address from one network interface to another, check <code>network/interfaces/macs/mac/local-ipv4s</code> in the instance metadata to confirm that the remapping is complete.</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: allowReassignment
          in: query
          required: false
          description: Indicates whether to allow an IP address that is already assigned to another network interface or instance to be reassigned to the specified network interface.
          type: boolean
        - name: networkInterfaceId
          in: query
          required: true
          description: The ID of the network interface.
          type: string
        - name: privateIpAddress
          in: query
          required: false
          description: '<p>One or more IP addresses to be assigned as a secondary private IP address to the network interface. You can''t specify this parameter when also specifying a number of secondary IP addresses.</p> <p>If you don''t specify an IP address, Amazon EC2 automatically selects an IP address within the subnet range.</p>'
          type: array
          items:
            type: string
        - name: secondaryPrivateIpAddressCount
          in: query
          required: false
          description: The number of secondary IP addresses to assign to the network interface. You can't specify this parameter when also specifying private IP addresses.
          type: integer
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AssignPrivateIpAddresses
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AssociateAddress':
    post:
      operationId: AssociateAddress
      description: '<p>Associates an Elastic IP address with an instance or a network interface. Before you can use an Elastic IP address, you must allocate it to your account.</p> <p>An Elastic IP address is for use in either the EC2-Classic platform or in a VPC. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html">Elastic IP Addresses</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <p>[EC2-Classic, VPC in an EC2-VPC-only account] If the Elastic IP address is already associated with a different instance, it is disassociated from that instance and associated with the specified instance. If you associate an Elastic IP address with an instance that has an existing Elastic IP address, the existing address is disassociated from the instance, but remains allocated to your account.</p> <p>[VPC in an EC2-Classic account] If you don''t specify a private IP address, the Elastic IP address is associated with the primary IP address. If the Elastic IP address is already associated with a different instance or a network interface, you get an error unless you allow reassociation. You cannot associate an Elastic IP address with an instance or network interface that has an existing Elastic IP address.</p> <important> <p>This is an idempotent operation. If you perform the operation more than once, Amazon EC2 doesn''t return an error, and you may be charged for each time the Elastic IP address is remapped to the same instance. For more information, see the <i>Elastic IP Addresses</i> section of <a href="http://aws.amazon.com/ec2/pricing/">Amazon EC2 Pricing</a>.</p> </important>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateAddressResult'
      parameters:
        - name: AllocationId
          in: query
          required: false
          description: '[EC2-VPC] The allocation ID. This is required for EC2-VPC.'
          type: string
        - name: InstanceId
          in: query
          required: false
          description: 'The ID of the instance. This is required for EC2-Classic. For EC2-VPC, you can specify either the instance ID or the network interface ID, but not both. The operation fails if you specify an instance ID unless exactly one network interface is attached.'
          type: string
        - name: PublicIp
          in: query
          required: false
          description: The Elastic IP address. This is required for EC2-Classic.
          type: string
        - name: allowReassociation
          in: query
          required: false
          description: '[EC2-VPC] For a VPC in an EC2-Classic account, specify true to allow an Elastic IP address that is already associated with an instance or network interface to be reassociated with the specified instance or network interface. Otherwise, the operation fails. In a VPC in an EC2-VPC-only account, reassociation is automatic, therefore you can specify false to ensure the operation fails if the Elastic IP address is already associated with another resource.'
          type: boolean
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: networkInterfaceId
          in: query
          required: false
          description: '[EC2-VPC] The ID of the network interface. If the instance has more than one network interface, you must specify a network interface ID.'
          type: string
        - name: privateIpAddress
          in: query
          required: false
          description: '[EC2-VPC] The primary or secondary private IP address to associate with the Elastic IP address. If no private IP address is specified, the Elastic IP address is associated with the primary private IP address.'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AssociateAddress
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AssociateClientVpnTargetNetwork':
    post:
      operationId: AssociateClientVpnTargetNetwork
      description: Associates a target network with a Client VPN endpoint. A target network is a subnet in a VPC. You can associate multiple subnets from the same VPC with a Client VPN endpoint. You can associate only one subnet in each Availability Zone. We recommend that you associate at least two subnets to provide Availability Zone redundancy.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateClientVpnTargetNetworkResult'
      parameters:
        - name: ClientVpnEndpointId
          in: query
          required: true
          description: The ID of the Client VPN endpoint.
          type: string
        - name: SubnetId
          in: query
          required: true
          description: The ID of the subnet to associate with the Client VPN endpoint.
          type: string
        - name: DryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AssociateClientVpnTargetNetwork
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AssociateDhcpOptions':
    post:
      operationId: AssociateDhcpOptions
      description: '<p>Associates a set of DHCP options (that you''ve previously created) with the specified VPC, or associates no DHCP options with the VPC.</p> <p>After you associate the options with the VPC, any existing instances and all new instances that you launch in that VPC use the options. You don''t need to restart or relaunch the instances. They automatically pick up the changes within a few hours, depending on how frequently the instance renews its DHCP lease. You can explicitly renew the lease using the operating system on the instance.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_DHCP_Options.html">DHCP Options Sets</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: DhcpOptionsId
          in: query
          required: true
          description: 'The ID of the DHCP options set, or <code>default</code> to associate no DHCP options with the VPC.'
          type: string
        - name: VpcId
          in: query
          required: true
          description: The ID of the VPC.
          type: string
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AssociateDhcpOptions
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AssociateIamInstanceProfile':
    post:
      operationId: AssociateIamInstanceProfile
      description: Associates an IAM instance profile with a running or stopped instance. You cannot associate more than one IAM instance profile with an instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateIamInstanceProfileResult'
      parameters:
        - name: IamInstanceProfile.Arn
          in: query
          description: |-
            Describes an IAM instance profile.
            The Amazon Resource Name (ARN) of the instance profile.
          type: string
        - name: IamInstanceProfile.Name
          in: query
          description: |-
            Describes an IAM instance profile.
            The name of the instance profile.
          type: string
        - name: InstanceId
          in: query
          required: true
          description: The ID of the instance.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AssociateIamInstanceProfile
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AssociateRouteTable':
    post:
      operationId: AssociateRouteTable
      description: '<p>Associates a subnet with a route table. The subnet and route table must be in the same VPC. This association causes traffic originating from the subnet to be routed according to the routes in the route table. The action returns an association ID, which you need in order to disassociate the route table from the subnet later. A route table can be associated with multiple subnets.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Route_Tables.html">Route Tables</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateRouteTableResult'
      parameters:
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: routeTableId
          in: query
          required: true
          description: The ID of the route table.
          type: string
        - name: subnetId
          in: query
          required: true
          description: The ID of the subnet.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AssociateRouteTable
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AssociateSubnetCidrBlock':
    post:
      operationId: AssociateSubnetCidrBlock
      description: Associates a CIDR block with your subnet. You can only associate a single IPv6 CIDR block with your subnet. An IPv6 CIDR block must have a prefix length of /64.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateSubnetCidrBlockResult'
      parameters:
        - name: ipv6CidrBlock
          in: query
          required: true
          description: The IPv6 CIDR block for your subnet. The subnet must have a /64 prefix length.
          type: string
        - name: subnetId
          in: query
          required: true
          description: The ID of your subnet.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AssociateSubnetCidrBlock
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AssociateTransitGatewayRouteTable':
    post:
      operationId: AssociateTransitGatewayRouteTable
      description: Associates the specified attachment with the specified transit gateway route table. You can associate only one route table with an attachment.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateTransitGatewayRouteTableResult'
      parameters:
        - name: TransitGatewayRouteTableId
          in: query
          required: true
          description: The ID of the transit gateway route table.
          type: string
        - name: TransitGatewayAttachmentId
          in: query
          required: true
          description: The ID of the attachment.
          type: string
        - name: DryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AssociateTransitGatewayRouteTable
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AssociateVpcCidrBlock':
    post:
      operationId: AssociateVpcCidrBlock
      description: '<p>Associates a CIDR block with your VPC. You can associate a secondary IPv4 CIDR block, or you can associate an Amazon-provided IPv6 CIDR block. The IPv6 CIDR block size is fixed at /56.</p> <p>For more information about associating CIDR blocks with your VPC and applicable restrictions, see <a href="https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Subnets.html#VPC_Sizing">VPC and Subnet Sizing</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateVpcCidrBlockResult'
      parameters:
        - name: amazonProvidedIpv6CidrBlock
          in: query
          required: false
          description: 'Requests an Amazon-provided IPv6 CIDR block with a /56 prefix length for the VPC. You cannot specify the range of IPv6 addresses, or the size of the CIDR block.'
          type: boolean
        - name: CidrBlock
          in: query
          required: false
          description: An IPv4 CIDR block to associate with the VPC.
          type: string
        - name: vpcId
          in: query
          required: true
          description: The ID of the VPC.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AssociateVpcCidrBlock
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AttachClassicLinkVpc':
    post:
      operationId: AttachClassicLinkVpc
      description: '<p>Links an EC2-Classic instance to a ClassicLink-enabled VPC through one or more of the VPC''s security groups. You cannot link an EC2-Classic instance to more than one VPC at a time. You can only link an instance that''s in the <code>running</code> state. An instance is automatically unlinked from a VPC when it''s stopped - you can link it to the VPC again when you restart it.</p> <p>After you''ve linked an instance, you cannot change the VPC security groups that are associated with it. To change the security groups, you must first unlink the instance, and then link it again.</p> <p>Linking your instance to a VPC is sometimes referred to as <i>attaching</i> your instance.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachClassicLinkVpcResult'
      parameters:
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: SecurityGroupId
          in: query
          required: true
          description: The ID of one or more of the VPC's security groups. You cannot specify security groups from a different VPC.
          type: array
          items:
            type: string
        - name: instanceId
          in: query
          required: true
          description: The ID of an EC2-Classic instance to link to the ClassicLink-enabled VPC.
          type: string
        - name: vpcId
          in: query
          required: true
          description: The ID of a ClassicLink-enabled VPC.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AttachClassicLinkVpc
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AttachInternetGateway':
    post:
      operationId: AttachInternetGateway
      description: 'Attaches an internet gateway to a VPC, enabling connectivity between the internet and the VPC. For more information about your VPC and internet gateway, see the <a href="https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/">Amazon Virtual Private Cloud User Guide</a>.'
      responses:
        '200':
          description: Success
      parameters:
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: internetGatewayId
          in: query
          required: true
          description: The ID of the internet gateway.
          type: string
        - name: vpcId
          in: query
          required: true
          description: The ID of the VPC.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AttachInternetGateway
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AttachNetworkInterface':
    post:
      operationId: AttachNetworkInterface
      description: Attaches a network interface to an instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachNetworkInterfaceResult'
      parameters:
        - name: deviceIndex
          in: query
          required: true
          description: The index of the device for the network interface attachment.
          type: integer
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: instanceId
          in: query
          required: true
          description: The ID of the instance.
          type: string
        - name: networkInterfaceId
          in: query
          required: true
          description: The ID of the network interface.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AttachNetworkInterface
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AttachVolume':
    post:
      operationId: AttachVolume
      description: '<p>Attaches an EBS volume to a running or stopped instance and exposes it to the instance with the specified device name.</p> <p>Encrypted EBS volumes may only be attached to instances that support Amazon EBS encryption. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html">Amazon EBS Encryption</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <p>For a list of supported device names, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-attaching-volume.html">Attaching an EBS Volume to an Instance</a>. Any device names that aren''t reserved for instance store volumes can be used for EBS volumes. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/InstanceStorage.html">Amazon EC2 Instance Store</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <p>If a volume has an AWS Marketplace product code:</p> <ul> <li> <p>The volume can be attached only to a stopped instance.</p> </li> <li> <p>AWS Marketplace product codes are copied from the volume to the instance.</p> </li> <li> <p>You must be subscribed to the product.</p> </li> <li> <p>The instance type and operating system of the instance must support the product. For example, you can''t detach a volume from a Windows instance and attach it to a Linux instance.</p> </li> </ul> <p>For more information about EBS volumes, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-attaching-volume.html">Attaching Amazon EBS Volumes</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VolumeAttachment'
      parameters:
        - name: Device
          in: query
          required: true
          description: 'The device name (for example, <code>/dev/sdh</code> or <code>xvdh</code>).'
          type: string
        - name: InstanceId
          in: query
          required: true
          description: The ID of the instance.
          type: string
        - name: VolumeId
          in: query
          required: true
          description: The ID of the EBS volume. The volume and instance must be within the same Availability Zone.
          type: string
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AttachVolume
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AttachVpnGateway':
    post:
      operationId: AttachVpnGateway
      description: '<p>Attaches a virtual private gateway to a VPC. You can attach one virtual private gateway to one VPC at a time.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/vpn/latest/s2svpn/VPC_VPN.html">AWS Site-to-Site VPN</a> in the <i>AWS Site-to-Site VPN User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachVpnGatewayResult'
      parameters:
        - name: VpcId
          in: query
          required: true
          description: The ID of the VPC.
          type: string
        - name: VpnGatewayId
          in: query
          required: true
          description: The ID of the virtual private gateway.
          type: string
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AttachVpnGateway
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AuthorizeClientVpnIngress':
    post:
      operationId: AuthorizeClientVpnIngress
      description: Adds an ingress authorization rule to a Client VPN endpoint. Ingress authorization rules act as firewall rules that grant access to networks. You must configure ingress authorization rules to enable clients to access resources in AWS or on-premises networks.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthorizeClientVpnIngressResult'
      parameters:
        - name: ClientVpnEndpointId
          in: query
          required: true
          description: The ID of the Client VPN endpoint.
          type: string
        - name: TargetNetworkCidr
          in: query
          required: true
          description: 'The IPv4 address range, in CIDR notation, of the network for which access is being authorized.'
          type: string
        - name: AccessGroupId
          in: query
          required: false
          description: The ID of the Active Directory group to grant access.
          type: string
        - name: AuthorizeAllGroups
          in: query
          required: false
          description: Indicates whether to grant access to all clients. Use <code>true</code> to grant all clients who successfully establish a VPN connection access to the network.
          type: boolean
        - name: Description
          in: query
          required: false
          description: A brief description of the authorization rule.
          type: string
        - name: DryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AuthorizeClientVpnIngress
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AuthorizeSecurityGroupEgress':
    post:
      operationId: AuthorizeSecurityGroupEgress
      description: '<p>[EC2-VPC only] Adds one or more egress rules to a security group for use with a VPC. Specifically, this action permits instances to send traffic to one or more destination IPv4 or IPv6 CIDR address ranges, or to one or more destination security groups for the same VPC. This action doesn''t apply to security groups for use in EC2-Classic. For more information, see <a href="https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_SecurityGroups.html">Security Groups for Your VPC</a> in the <i>Amazon Virtual Private Cloud User Guide</i>. For more information about security group limits, see <a href="https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Appendix_Limits.html">Amazon VPC Limits</a>.</p> <p>Each rule consists of the protocol (for example, TCP), plus either a CIDR range or a source group. For the TCP and UDP protocols, you must also specify the destination port or port range. For the ICMP protocol, you must also specify the ICMP type and code. You can use -1 for the type or code to mean all types or all codes. You can optionally specify a description for the rule.</p> <p>Rule changes are propagated to affected instances as quickly as possible. However, a small delay might occur.</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: groupId
          in: query
          required: true
          description: The ID of the security group.
          type: string
        - name: ipPermissions
          in: query
          required: false
          description: One or more sets of IP permissions. You can't specify a destination security group and a CIDR IP address range in the same set of permissions.
          type: array
          items:
            type: string
        - name: cidrIp
          in: query
          required: false
          description: Not supported. Use a set of IP permissions to specify the CIDR.
          type: string
        - name: fromPort
          in: query
          required: false
          description: Not supported. Use a set of IP permissions to specify the port.
          type: integer
        - name: ipProtocol
          in: query
          required: false
          description: Not supported. Use a set of IP permissions to specify the protocol name or number.
          type: string
        - name: toPort
          in: query
          required: false
          description: Not supported. Use a set of IP permissions to specify the port.
          type: integer
        - name: sourceSecurityGroupName
          in: query
          required: false
          description: Not supported. Use a set of IP permissions to specify a destination security group.
          type: string
        - name: sourceSecurityGroupOwnerId
          in: query
          required: false
          description: Not supported. Use a set of IP permissions to specify a destination security group.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AuthorizeSecurityGroupEgress
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=AuthorizeSecurityGroupIngress':
    post:
      operationId: AuthorizeSecurityGroupIngress
      description: '<p>Adds one or more ingress rules to a security group.</p> <p>Rule changes are propagated to instances within the security group as quickly as possible. However, a small delay might occur.</p> <p>[EC2-Classic] This action gives one or more IPv4 CIDR address ranges permission to access a security group in your account, or gives one or more security groups (called the <i>source groups</i>) permission to access a security group for your account. A source group can be for your own AWS account, or another. You can have up to 100 rules per group.</p> <p>[EC2-VPC] This action gives one or more IPv4 or IPv6 CIDR address ranges permission to access a security group in your VPC, or gives one or more other security groups (called the <i>source groups</i>) permission to access a security group for your VPC. The security groups must all be for the same VPC or a peer VPC in a VPC peering connection. For more information about VPC security group limits, see <a href="https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_Appendix_Limits.html">Amazon VPC Limits</a>.</p> <p>You can optionally specify a description for the security group rule.</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: CidrIp
          in: query
          required: false
          description: The CIDR IPv4 address range. You can't specify this parameter when specifying a source security group.
          type: string
        - name: FromPort
          in: query
          required: false
          description: 'The start of port range for the TCP and UDP protocols, or an ICMP/ICMPv6 type number. For the ICMP/ICMPv6 type number, use <code>-1</code> to specify all types. If you specify all ICMP/ICMPv6 types, you must specify all codes.'
          type: integer
        - name: GroupId
          in: query
          required: false
          description: 'The ID of the security group. You must specify either the security group ID or the security group name in the request. For security groups in a nondefault VPC, you must specify the security group ID.'
          type: string
        - name: GroupName
          in: query
          required: false
          description: '[EC2-Classic, default VPC] The name of the security group. You must specify either the security group ID or the security group name in the request.'
          type: string
        - name: IpPermissions
          in: query
          required: false
          description: One or more sets of IP permissions. Can be used to specify multiple rules in a single command.
          type: array
          items:
            type: string
        - name: IpProtocol
          in: query
          required: false
          description: 'The IP protocol name (<code>tcp</code>, <code>udp</code>, <code>icmp</code>) or number (see <a href="http://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml">Protocol Numbers</a>). (VPC only) Use <code>-1</code> to specify all protocols. If you specify <code>-1</code>, or a protocol number other than <code>tcp</code>, <code>udp</code>, <code>icmp</code>, or <code>58</code> (ICMPv6), traffic on all ports is allowed, regardless of any ports you specify. For <code>tcp</code>, <code>udp</code>, and <code>icmp</code>, you must specify a port range. For protocol <code>58</code> (ICMPv6), you can optionally specify a port range; if you don''t, traffic for all types and codes is allowed.'
          type: string
        - name: SourceSecurityGroupName
          in: query
          required: false
          description: '[EC2-Classic, default VPC] The name of the source security group. You can''t specify this parameter in combination with the following parameters: the CIDR IP address range, the start of the port range, the IP protocol, and the end of the port range. Creates rules that grant full ICMP, UDP, and TCP access. To create a rule with a specific IP protocol and port range, use a set of IP permissions instead. For EC2-VPC, the source security group must be in the same VPC.'
          type: string
        - name: SourceSecurityGroupOwnerId
          in: query
          required: false
          description: '[nondefault VPC] The AWS account ID for the source security group, if the source security group is in a different account. You can''t specify this parameter in combination with the following parameters: the CIDR IP address range, the IP protocol, the start of the port range, and the end of the port range. Creates rules that grant full ICMP, UDP, and TCP access. To create a rule with a specific IP protocol and port range, use a set of IP permissions instead.'
          type: string
        - name: ToPort
          in: query
          required: false
          description: 'The end of port range for the TCP and UDP protocols, or an ICMP/ICMPv6 code number. For the ICMP/ICMPv6 code number, use <code>-1</code> to specify all codes. If you specify all ICMP/ICMPv6 types, you must specify all codes.'
          type: integer
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AuthorizeSecurityGroupIngress
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=BundleInstance':
    post:
      operationId: BundleInstance
      description: '<p>Bundles an Amazon instance store-backed Windows instance.</p> <p>During bundling, only the root device volume (C:\) is bundled. Data on other instance store volumes is not preserved.</p> <note> <p>This action is not applicable for Linux/Unix instances or Windows instances that are backed by Amazon EBS.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BundleInstanceResult'
      parameters:
        - name: InstanceId
          in: query
          required: true
          description: '<p>The ID of the instance to bundle.</p> <p>Type: String</p> <p>Default: None</p> <p>Required: Yes</p>'
          type: string
        - name: Storage.S3
          in: query
          description: |-
            Describes the storage location for an instance store-backed AMI.
            An Amazon S3 storage location.
          type: string
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - BundleInstance
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=CancelBundleTask':
    post:
      operationId: CancelBundleTask
      description: Cancels a bundling operation for an instance store-backed Windows instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelBundleTaskResult'
      parameters:
        - name: BundleId
          in: query
          required: true
          description: The ID of the bundle task.
          type: string
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CancelBundleTask
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=CancelCapacityReservation':
    post:
      operationId: CancelCapacityReservation
      description: '<p>Cancels the specified Capacity Reservation, releases the reserved capacity, and changes the Capacity Reservation''s state to <code>cancelled</code>.</p> <p>Instances running in the reserved capacity continue running until you stop them. Stopped instances that target the Capacity Reservation can no longer launch. Modify these instances to either target a different Capacity Reservation, launch On-Demand Instance capacity, or run in any open Capacity Reservation that has matching attributes and sufficient capacity.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelCapacityReservationResult'
      parameters:
        - name: CapacityReservationId
          in: query
          required: true
          description: The ID of the Capacity Reservation to be cancelled.
          type: string
        - name: DryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CancelCapacityReservation
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=CancelConversionTask':
    post:
      operationId: CancelConversionTask
      description: '<p>Cancels an active conversion task. The task can be the import of an instance or volume. The action removes all artifacts of the conversion, including a partially uploaded volume or instance. If the conversion is complete or is in the process of transferring the final disk image, the command fails and returns an exception.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/CommandLineReference/ec2-cli-vmimport-export.html">Importing a Virtual Machine Using the Amazon EC2 CLI</a>.</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: conversionTaskId
          in: query
          required: true
          description: The ID of the conversion task.
          type: string
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: reasonMessage
          in: query
          required: false
          description: The reason for canceling the conversion task.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CancelConversionTask
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=CancelExportTask':
    post:
      operationId: CancelExportTask
      description: 'Cancels an active export task. The request removes all artifacts of the export, including any partially-created Amazon S3 objects. If the export task is complete or is in the process of transferring the final disk image, the command fails and returns an error.'
      responses:
        '200':
          description: Success
      parameters:
        - name: exportTaskId
          in: query
          required: true
          description: The ID of the export task. This is the ID returned by <code>CreateInstanceExportTask</code>.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CancelExportTask
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=CancelImportTask':
    post:
      operationId: CancelImportTask
      description: Cancels an in-process import virtual machine or import snapshot task.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelImportTaskResult'
      parameters:
        - name: CancelReason
          in: query
          required: false
          description: The reason for canceling the task.
          type: string
        - name: DryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: ImportTaskId
          in: query
          required: false
          description: The ID of the import image or import snapshot task to be canceled.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CancelImportTask
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=CancelReservedInstancesListing':
    post:
      operationId: CancelReservedInstancesListing
      description: '<p>Cancels the specified Reserved Instance listing in the Reserved Instance Marketplace.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ri-market-general.html">Reserved Instance Marketplace</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelReservedInstancesListingResult'
      parameters:
        - name: reservedInstancesListingId
          in: query
          required: true
          description: The ID of the Reserved Instance listing.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CancelReservedInstancesListing
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=CancelSpotFleetRequests':
    post:
      operationId: CancelSpotFleetRequests
      description: '<p>Cancels the specified Spot Fleet requests.</p> <p>After you cancel a Spot Fleet request, the Spot Fleet launches no new Spot Instances. You must specify whether the Spot Fleet should also terminate its Spot Instances. If you terminate the instances, the Spot Fleet request enters the <code>cancelled_terminating</code> state. Otherwise, the Spot Fleet request enters the <code>cancelled_running</code> state and the instances continue to run until they are interrupted or you terminate them manually.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelSpotFleetRequestsResponse'
      parameters:
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: spotFleetRequestId
          in: query
          required: true
          description: The IDs of the Spot Fleet requests.
          type: array
          items:
            type: string
        - name: terminateInstances
          in: query
          required: true
          description: Indicates whether to terminate instances for a Spot Fleet request if it is canceled successfully.
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CancelSpotFleetRequests
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=CancelSpotInstanceRequests':
    post:
      operationId: CancelSpotInstanceRequests
      description: <p>Cancels one or more Spot Instance requests.</p> <important> <p>Canceling a Spot Instance request does not terminate running Spot Instances associated with the request.</p> </important>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelSpotInstanceRequestsResult'
      parameters:
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: SpotInstanceRequestId
          in: query
          required: true
          description: One or more Spot Instance request IDs.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CancelSpotInstanceRequests
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=ConfirmProductInstance':
    post:
      operationId: ConfirmProductInstance
      description: Determines whether a product code is associated with an instance. This action can only be used by the owner of the product code. It is useful when a product code owner must verify whether another user's instance is eligible for support.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfirmProductInstanceResult'
      parameters:
        - name: InstanceId
          in: query
          required: true
          description: The ID of the instance.
          type: string
        - name: ProductCode
          in: query
          required: true
          description: The product code. This must be a product code that you own.
          type: string
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ConfirmProductInstance
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=CopyFpgaImage':
    post:
      operationId: CopyFpgaImage
      description: Copies the specified Amazon FPGA Image (AFI) to the current region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyFpgaImageResult'
      parameters:
        - name: DryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: SourceFpgaImageId
          in: query
          required: true
          description: The ID of the source AFI.
          type: string
        - name: Description
          in: query
          required: false
          description: The description for the new AFI.
          type: string
        - name: Name
          in: query
          required: false
          description: The name for the new AFI. The default is the name of the source AFI.
          type: string
        - name: SourceRegion
          in: query
          required: true
          description: The region that contains the source AFI.
          type: string
        - name: ClientToken
          in: query
          required: false
          description: 'Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html">Ensuring Idempotency</a>.'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CopyFpgaImage
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=CopyImage':
    post:
      operationId: CopyImage
      description: '<p>Initiates the copy of an AMI from the specified source region to the current region. You specify the destination region by using its endpoint when making the request.</p> <p>Copies of encrypted backing snapshots for the AMI are encrypted. Copies of unencrypted backing snapshots remain unencrypted, unless you set <code>Encrypted</code> during the copy operation. You cannot create an unencrypted copy of an encrypted backing snapshot.</p> <p>For more information about the prerequisites and limits when copying an AMI, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/CopyingAMIs.html">Copying an AMI</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyImageResult'
      parameters:
        - name: ClientToken
          in: query
          required: false
          description: 'Unique, case-sensitive identifier you provide to ensure idempotency of the request. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html">How to Ensure Idempotency</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.'
          type: string
        - name: Description
          in: query
          required: false
          description: A description for the new AMI in the destination region.
          type: string
        - name: encrypted
          in: query
          required: false
          description: 'Specifies whether the destination snapshots of the copied image should be encrypted. You can encrypt a copy of an unencrypted snapshot, but you cannot create an unencrypted copy of an encrypted snapshot. The default CMK for EBS is used unless you specify a non-default AWS Key Management Service (AWS KMS) CMK using <code>KmsKeyId</code>. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html">Amazon EBS Encryption</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.'
          type: boolean
        - name: kmsKeyId
          in: query
          required: false
          description: '<p>An identifier for the AWS Key Management Service (AWS KMS) customer master key (CMK) to use when creating the encrypted volume. This parameter is only required if you want to use a non-default CMK; if this parameter is not specified, the default CMK for EBS is used. If a <code>KmsKeyId</code> is specified, the <code>Encrypted</code> flag must also be set. </p> <p>The CMK identifier may be provided in any of the following formats: </p> <ul> <li> <p>Key ID</p> </li> <li> <p>Key alias, in the form <code>alias/<i>ExampleAlias</i> </code> </p> </li> <li> <p>ARN using key ID. The ID ARN contains the <code>arn:aws:kms</code> namespace, followed by the region of the CMK, the AWS account ID of the CMK owner, the <code>key</code> namespace, and then the CMK ID. For example, arn:aws:kms:<i>us-east-1</i>:<i>012345678910</i>:key/<i>abcd1234-a123-456a-a12b-a123b4cd56ef</i>. </p> </li> <li> <p>ARN using key alias. The alias ARN contains the <code>arn:aws:kms</code> namespace, followed by the region of the CMK, the AWS account ID of the CMK owner, the <code>alias</code> namespace, and then the CMK alias. For example, arn:aws:kms:<i>us-east-1</i>:<i>012345678910</i>:alias/<i>ExampleAlias</i>. </p> </li> </ul> <p>AWS parses <code>KmsKeyId</code> asynchronously, meaning that the action you call may appear to complete even though you provided an invalid identifier. This action will eventually report failure. </p> <p>The specified CMK must exist in the region that the snapshot is being copied to. </p>'
          type: string
        - name: Name
          in: query
          required: true
          description: The name of the new AMI in the destination region.
          type: string
        - name: SourceImageId
          in: query
          required: true
          description: The ID of the AMI to copy.
          type: string
        - name: SourceRegion
          in: query
          required: true
          description: The name of the region that contains the AMI to copy.
          type: string
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CopyImage
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=CopySnapshot':
    post:
      operationId: CopySnapshot
      description: '<p>Copies a point-in-time snapshot of an EBS volume and stores it in Amazon S3. You can copy the snapshot within the same Region or from one Region to another. You can use the snapshot to create EBS volumes or Amazon Machine Images (AMIs). The snapshot is copied to the regional endpoint that you send the HTTP request to.</p> <p>Copies of encrypted EBS snapshots remain encrypted. Copies of unencrypted snapshots remain unencrypted, unless the <code>Encrypted</code> flag is specified during the snapshot copy operation. By default, encrypted snapshot copies use the default AWS Key Management Service (AWS KMS) customer master key (CMK); however, you can specify a non-default CMK with the <code>KmsKeyId</code> parameter.</p> <p>To copy an encrypted snapshot that has been shared from another account, you must have permissions for the CMK used to encrypt the snapshot.</p> <p>Snapshots created by copying another snapshot have an arbitrary volume ID that should not be used for any purpose.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-copy-snapshot.html">Copying an Amazon EBS Snapshot</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopySnapshotResult'
      parameters:
        - name: Description
          in: query
          required: false
          description: A description for the EBS snapshot.
          type: string
        - name: destinationRegion
          in: query
          required: false
          description: '<p>The destination Region to use in the <code>PresignedUrl</code> parameter of a snapshot copy operation. This parameter is only valid for specifying the destination Region in a <code>PresignedUrl</code> parameter, where it is required.</p> <p>The snapshot copy is sent to the regional endpoint that you sent the HTTP request to (for example, <code>ec2.us-east-1.amazonaws.com</code>). With the AWS CLI, this is specified using the <code>--region</code> parameter or the default Region in your AWS configuration file.</p>'
          type: string
        - name: encrypted
          in: query
          required: false
          description: 'Specifies whether the destination snapshot should be encrypted. You can encrypt a copy of an unencrypted snapshot, but you cannot use it to create an unencrypted copy of an encrypted snapshot. Your default CMK for EBS is used unless you specify a non-default AWS Key Management Service (AWS KMS) CMK using <code>KmsKeyId</code>. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html">Amazon EBS Encryption</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.'
          type: boolean
        - name: kmsKeyId
          in: query
          required: false
          description: '<p>An identifier for the AWS Key Management Service (AWS KMS) customer master key (CMK) to use when creating the encrypted volume. This parameter is only required if you want to use a non-default CMK; if this parameter is not specified, the default CMK for EBS is used. If a <code>KmsKeyId</code> is specified, the <code>Encrypted</code> flag must also be set. </p> <p>The CMK identifier may be provided in any of the following formats: </p> <ul> <li> <p>Key ID</p> </li> <li> <p>Key alias</p> </li> <li> <p>ARN using key ID. The ID ARN contains the <code>arn:aws:kms</code> namespace, followed by the region of the CMK, the AWS account ID of the CMK owner, the <code>key</code> namespace, and then the CMK ID. For example, arn:aws:kms:<i>us-east-1</i>:<i>012345678910</i>:key/<i>abcd1234-a123-456a-a12b-a123b4cd56ef</i>. </p> </li> <li> <p>ARN using key alias. The alias ARN contains the <code>arn:aws:kms</code> namespace, followed by the region of the CMK, the AWS account ID of the CMK owner, the <code>alias</code> namespace, and then the CMK alias. For example, arn:aws:kms:<i>us-east-1</i>:<i>012345678910</i>:alias/<i>ExampleAlias</i>. </p> </li> </ul> <p>AWS parses <code>KmsKeyId</code> asynchronously, meaning that the action you call may appear to complete even though you provided an invalid identifier. The action will eventually fail. </p>'
          type: string
        - name: presignedUrl
          in: query
          required: false
          description: '<p>When you copy an encrypted source snapshot using the Amazon EC2 Query API, you must supply a pre-signed URL. This parameter is optional for unencrypted snapshots. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Query-Requests.html">Query Requests</a>.</p> <p>The <code>PresignedUrl</code> should use the snapshot source endpoint, the <code>CopySnapshot</code> action, and include the <code>SourceRegion</code>, <code>SourceSnapshotId</code>, and <code>DestinationRegion</code> parameters. The <code>PresignedUrl</code> must be signed using AWS Signature Version 4. Because EBS snapshots are stored in Amazon S3, the signing algorithm for this parameter uses the same logic that is described in <a href="https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html">Authenticating Requests by Using Query Parameters (AWS Signature Version 4)</a> in the <i>Amazon Simple Storage Service API Reference</i>. An invalid or improperly signed <code>PresignedUrl</code> will cause the copy operation to fail asynchronously, and the snapshot will move to an <code>error</code> state.</p>'
          type: string
        - name: SourceRegion
          in: query
          required: true
          description: The ID of the Region that contains the snapshot to be copied.
          type: string
        - name: SourceSnapshotId
          in: query
          required: true
          description: The ID of the EBS snapshot to copy.
          type: string
        - name: dryRun
          in: query
          required: false
          description: 'Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CopySnapshot
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Action=CreateCapacityReservation':
    post:
      operationId: CreateCapacityReservation
[...]
