swagger: '2.0'
info:
  version: '2015-12-01'
  x-release: v4
  title: Elastic Load Balancing
  description: '<fullname>Elastic Load Balancing</fullname> <p>A load balancer distributes incoming traffic across targets, such as your EC2 instances. This enables you to increase the availability of your application. The load balancer also monitors the health of its registered targets and ensures that it routes traffic only to healthy targets. You configure your load balancer to accept incoming traffic by specifying one or more listeners, which are configured with a protocol and port number for connections from clients to the load balancer. You configure a target group with a protocol and port number for connections from the load balancer to the targets, and with health check settings to be used when checking the health status of the targets.</p> <p>Elastic Load Balancing supports the following types of load balancers: Application Load Balancers, Network Load Balancers, and Classic Load Balancers.</p> <p>An Application Load Balancer makes routing and load balancing decisions at the application layer (HTTP/HTTPS). A Network Load Balancer makes routing and load balancing decisions at the transport layer (TCP/TLS). Both Application Load Balancers and Network Load Balancers can route requests to one or more ports on each EC2 instance or container instance in your virtual private cloud (VPC).</p> <p>A Classic Load Balancer makes routing and load balancing decisions either at the transport layer (TCP/SSL) or the application layer (HTTP/HTTPS), and supports either EC2-Classic or a VPC. For more information, see the <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/">Elastic Load Balancing User Guide</a>.</p> <p>This reference covers the 2015-12-01 API, which supports Application Load Balancers and Network Load Balancers. The 2012-06-01 API supports Classic Load Balancers.</p> <p>To get started, complete the following tasks:</p> <ol> <li> <p>Create a load balancer using <a>CreateLoadBalancer</a>.</p> </li> <li> <p>Create a target group using <a>CreateTargetGroup</a>.</p> </li> <li> <p>Register targets for the target group using <a>RegisterTargets</a>.</p> </li> <li> <p>Create one or more listeners for your load balancer using <a>CreateListener</a>.</p> </li> </ol> <p>To delete a load balancer and its related resources, complete the following tasks:</p> <ol> <li> <p>Delete the load balancer using <a>DeleteLoadBalancer</a>.</p> </li> <li> <p>Delete the target group using <a>DeleteTargetGroup</a>.</p> </li> </ol> <p>All Elastic Load Balancing operations are idempotent, which means that they complete at most one time. If you repeat an operation, it succeeds.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: elasticloadbalancingv2
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/elasticloadbalancingv2-2015-12-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/elasticloadbalancing/'
host: elasticloadbalancing.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes: []
produces: []
parameters:
  Action:
    name: Action
    in: query
    type: string
    required: true
  Version:
    name: Version
    in: query
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddListenerCertificates
      description: '<p>Adds the specified certificate to the specified HTTPS listener.</p> <p>If the certificate was already added, the call is successful but the certificate is not added again.</p> <p>To list the certificates for your listener, use <a>DescribeListenerCertificates</a>. To remove certificates from your listener, use <a>RemoveListenerCertificates</a>. To specify the default SSL server certificate, use <a>ModifyListener</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddListenerCertificatesOutput'
        '480':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '481':
          description: TooManyCertificatesException
          schema:
            $ref: '#/definitions/TooManyCertificatesException'
        '482':
          description: CertificateNotFoundException
          schema:
            $ref: '#/definitions/CertificateNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddListenerCertificatesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AddTags':
    post:
      operationId: AddTags
      description: '<p>Adds the specified tags to the specified Elastic Load Balancing resource. You can tag your Application Load Balancers, Network Load Balancers, and your target groups.</p> <p>Each tag consists of a key and an optional value. If a resource already has a tag with the same key, <code>AddTags</code> updates its value.</p> <p>To list the current tags for your resources, use <a>DescribeTags</a>. To remove tags from your resources, use <a>RemoveTags</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddTagsOutput'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
        '483':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddTagsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateListener':
    post:
      operationId: CreateListener
      description: '<p>Creates a listener for the specified Application Load Balancer or Network Load Balancer.</p> <p>To update a listener, use <a>ModifyListener</a>. When you are finished with a listener, you can delete it using <a>DeleteListener</a>. If you are finished with both the listener and the load balancer, you can delete them both using <a>DeleteLoadBalancer</a>.</p> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple listeners with the same settings, each call succeeds.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html">Listeners for Your Application Load Balancers</a> in the <i>Application Load Balancers Guide</i> and <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-listeners.html">Listeners for Your Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateListenerOutput'
        '480':
          description: DuplicateListenerException
          schema:
            $ref: '#/definitions/DuplicateListenerException'
        '481':
          description: TooManyListenersException
          schema:
            $ref: '#/definitions/TooManyListenersException'
        '482':
          description: TooManyCertificatesException
          schema:
            $ref: '#/definitions/TooManyCertificatesException'
        '483':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
        '484':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
        '485':
          description: TargetGroupAssociationLimitException
          schema:
            $ref: '#/definitions/TargetGroupAssociationLimitException'
        '486':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '487':
          description: IncompatibleProtocolsException
          schema:
            $ref: '#/definitions/IncompatibleProtocolsException'
        '488':
          description: SSLPolicyNotFoundException
          schema:
            $ref: '#/definitions/SSLPolicyNotFoundException'
        '489':
          description: CertificateNotFoundException
          schema:
            $ref: '#/definitions/CertificateNotFoundException'
        '490':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
        '491':
          description: TooManyRegistrationsForTargetIdException
          schema:
            $ref: '#/definitions/TooManyRegistrationsForTargetIdException'
        '492':
          description: TooManyTargetsException
          schema:
            $ref: '#/definitions/TooManyTargetsException'
        '493':
          description: TooManyActionsException
          schema:
            $ref: '#/definitions/TooManyActionsException'
        '494':
          description: InvalidLoadBalancerActionException
          schema:
            $ref: '#/definitions/InvalidLoadBalancerActionException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateListenerInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateLoadBalancer':
    post:
      operationId: CreateLoadBalancer
      description: '<p>Creates an Application Load Balancer or a Network Load Balancer.</p> <p>When you create a load balancer, you can specify security groups, public subnets, IP address type, and tags. Otherwise, you could do so later using <a>SetSecurityGroups</a>, <a>SetSubnets</a>, <a>SetIpAddressType</a>, and <a>AddTags</a>.</p> <p>To create listeners for your load balancer, use <a>CreateListener</a>. To describe your current load balancers, see <a>DescribeLoadBalancers</a>. When you are finished with a load balancer, you can delete it using <a>DeleteLoadBalancer</a>.</p> <p>For limit information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-limits.html">Limits for Your Application Load Balancer</a> in the <i>Application Load Balancers Guide</i> and <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-limits.html">Limits for Your Network Load Balancer</a> in the <i>Network Load Balancers Guide</i>.</p> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple load balancers with the same settings, each call succeeds.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html">Application Load Balancers</a> in the <i>Application Load Balancers Guide</i> and <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html">Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLoadBalancerOutput'
        '480':
          description: DuplicateLoadBalancerNameException
          schema:
            $ref: '#/definitions/DuplicateLoadBalancerNameException'
        '481':
          description: TooManyLoadBalancersException
          schema:
            $ref: '#/definitions/TooManyLoadBalancersException'
        '482':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '483':
          description: SubnetNotFoundException
          schema:
            $ref: '#/definitions/SubnetNotFoundException'
        '484':
          description: InvalidSubnetException
          schema:
            $ref: '#/definitions/InvalidSubnetException'
        '485':
          description: InvalidSecurityGroupException
          schema:
            $ref: '#/definitions/InvalidSecurityGroupException'
        '486':
          description: InvalidSchemeException
          schema:
            $ref: '#/definitions/InvalidSchemeException'
        '487':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '488':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '489':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '490':
          description: AllocationIdNotFoundException
          schema:
            $ref: '#/definitions/AllocationIdNotFoundException'
        '491':
          description: AvailabilityZoneNotSupportedException
          schema:
            $ref: '#/definitions/AvailabilityZoneNotSupportedException'
        '492':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateLoadBalancerInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateRule':
    post:
      operationId: CreateRule
      description: '<p>Creates a rule for the specified listener. The listener must be associated with an Application Load Balancer.</p> <p>Rules are evaluated in priority order, from the lowest value to the highest value. When the conditions for a rule are met, its actions are performed. If the conditions for no rules are met, the actions for the default rule are performed. For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html#listener-rules">Listener Rules</a> in the <i>Application Load Balancers Guide</i>.</p> <p>To view your current rules, use <a>DescribeRules</a>. To update a rule, use <a>ModifyRule</a>. To set the priorities of your rules, use <a>SetRulePriorities</a>. To delete a rule, use <a>DeleteRule</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateRuleOutput'
        '480':
          description: PriorityInUseException
          schema:
            $ref: '#/definitions/PriorityInUseException'
        '481':
          description: TooManyTargetGroupsException
          schema:
            $ref: '#/definitions/TooManyTargetGroupsException'
        '482':
          description: TooManyRulesException
          schema:
            $ref: '#/definitions/TooManyRulesException'
        '483':
          description: TargetGroupAssociationLimitException
          schema:
            $ref: '#/definitions/TargetGroupAssociationLimitException'
        '484':
          description: IncompatibleProtocolsException
          schema:
            $ref: '#/definitions/IncompatibleProtocolsException'
        '485':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '486':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
        '487':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '488':
          description: TooManyRegistrationsForTargetIdException
          schema:
            $ref: '#/definitions/TooManyRegistrationsForTargetIdException'
        '489':
          description: TooManyTargetsException
          schema:
            $ref: '#/definitions/TooManyTargetsException'
        '490':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
        '491':
          description: TooManyActionsException
          schema:
            $ref: '#/definitions/TooManyActionsException'
        '492':
          description: InvalidLoadBalancerActionException
          schema:
            $ref: '#/definitions/InvalidLoadBalancerActionException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateRuleInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateTargetGroup':
    post:
      operationId: CreateTargetGroup
      description: '<p>Creates a target group.</p> <p>To register targets with the target group, use <a>RegisterTargets</a>. To update the health check settings for the target group, use <a>ModifyTargetGroup</a>. To monitor the health of targets in the target group, use <a>DescribeTargetHealth</a>.</p> <p>To route traffic to the targets in a target group, specify the target group in an action using <a>CreateListener</a> or <a>CreateRule</a>.</p> <p>To delete a target group, use <a>DeleteTargetGroup</a>.</p> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple target groups with the same settings, each call succeeds.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html">Target Groups for Your Application Load Balancers</a> in the <i>Application Load Balancers Guide</i> or <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html">Target Groups for Your Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTargetGroupOutput'
        '480':
          description: DuplicateTargetGroupNameException
          schema:
            $ref: '#/definitions/DuplicateTargetGroupNameException'
        '481':
          description: TooManyTargetGroupsException
          schema:
            $ref: '#/definitions/TooManyTargetGroupsException'
        '482':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateTargetGroupInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteListener':
    post:
      operationId: DeleteListener
      description: '<p>Deletes the specified listener.</p> <p>Alternatively, your listener is deleted when you delete the load balancer to which it is attached, using <a>DeleteLoadBalancer</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteListenerOutput'
        '480':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteListenerInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteLoadBalancer':
    post:
      operationId: DeleteLoadBalancer
      description: '<p>Deletes the specified Application Load Balancer or Network Load Balancer and its attached listeners.</p> <p>You can''t delete a load balancer if deletion protection is enabled. If the load balancer does not exist or has already been deleted, the call succeeds.</p> <p>Deleting a load balancer does not affect its registered targets. For example, your EC2 instances continue to run and are still registered to their target groups. If you no longer need these EC2 instances, you can stop or terminate them.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLoadBalancerOutput'
        '480':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
        '481':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteLoadBalancerInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteRule':
    post:
      operationId: DeleteRule
      description: Deletes the specified rule.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRuleOutput'
        '480':
          description: RuleNotFoundException
          schema:
            $ref: '#/definitions/RuleNotFoundException'
        '481':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRuleInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteTargetGroup':
    post:
      operationId: DeleteTargetGroup
      description: <p>Deletes the specified target group.</p> <p>You can delete a target group if it is not referenced by any actions. Deleting a target group also deletes any associated health checks.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteTargetGroupOutput'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteTargetGroupInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeregisterTargets':
    post:
      operationId: DeregisterTargets
      description: 'Deregisters the specified targets from the specified target group. After the targets are deregistered, they no longer receive traffic from the load balancer.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeregisterTargetsOutput'
        '480':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
        '481':
          description: InvalidTargetException
          schema:
            $ref: '#/definitions/InvalidTargetException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeregisterTargetsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAccountLimits':
    post:
      operationId: DescribeAccountLimits
      description: '<p>Describes the current Elastic Load Balancing resource limits for your AWS account.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-limits.html">Limits for Your Application Load Balancers</a> in the <i>Application Load Balancer Guide</i> or <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-limits.html">Limits for Your Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccountLimitsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAccountLimitsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeListenerCertificates':
    post:
      operationId: DescribeListenerCertificates
      description: Describes the certificates for the specified HTTPS listener.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeListenerCertificatesOutput'
        '480':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeListenerCertificatesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeListeners':
    post:
      operationId: DescribeListeners
      description: Describes the specified listeners or the listeners for the specified Application Load Balancer or Network Load Balancer. You must specify either a load balancer or one or more listeners.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeListenersOutput'
        '480':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '481':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
        '482':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeListenersInput'
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLoadBalancerAttributes':
    post:
      operationId: DescribeLoadBalancerAttributes
      description: '<p>Describes the attributes for the specified Application Load Balancer or Network Load Balancer.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html#load-balancer-attributes">Load Balancer Attributes</a> in the <i>Application Load Balancers Guide</i> or <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html#load-balancer-attributes">Load Balancer Attributes</a> in the <i>Network Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancerAttributesOutput'
        '480':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLoadBalancerAttributesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLoadBalancers':
    post:
      operationId: DescribeLoadBalancers
      description: '<p>Describes the specified load balancers or all of your load balancers.</p> <p>To describe the listeners for a load balancer, use <a>DescribeListeners</a>. To describe the attributes for a load balancer, use <a>DescribeLoadBalancerAttributes</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancersOutput'
        '480':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLoadBalancersInput'
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeRules':
    post:
      operationId: DescribeRules
      description: Describes the specified rules or the rules for the specified listener. You must specify either a listener or one or more rules.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeRulesOutput'
        '480':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '481':
          description: RuleNotFoundException
          schema:
            $ref: '#/definitions/RuleNotFoundException'
        '482':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeRulesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeSSLPolicies':
    post:
      operationId: DescribeSSLPolicies
      description: '<p>Describes the specified policies or all policies used for SSL negotiation.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#describe-ssl-policies">Security Policies</a> in the <i>Application Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSSLPoliciesOutput'
        '480':
          description: SSLPolicyNotFoundException
          schema:
            $ref: '#/definitions/SSLPolicyNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSSLPoliciesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTags':
    post:
      operationId: DescribeTags
      description: 'Describes the tags for the specified resources. You can describe the tags for one or more Application Load Balancers, Network Load Balancers, and target groups.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTagsOutput'
        '480':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
        '481':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
        '482':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '483':
          description: RuleNotFoundException
          schema:
            $ref: '#/definitions/RuleNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTagsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTargetGroupAttributes':
    post:
      operationId: DescribeTargetGroupAttributes
      description: '<p>Describes the attributes for the specified target group.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html#target-group-attributes">Target Group Attributes</a> in the <i>Application Load Balancers Guide</i> or <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html#target-group-attributes">Target Group Attributes</a> in the <i>Network Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTargetGroupAttributesOutput'
        '480':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTargetGroupAttributesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTargetGroups':
    post:
      operationId: DescribeTargetGroups
      description: '<p>Describes the specified target groups or all of your target groups. By default, all target groups are described. Alternatively, you can specify one of the following to filter the results: the ARN of the load balancer, the names of one or more target groups, or the ARNs of one or more target groups.</p> <p>To describe the targets for a target group, use <a>DescribeTargetHealth</a>. To describe the attributes of a target group, use <a>DescribeTargetGroupAttributes</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTargetGroupsOutput'
        '480':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
        '481':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTargetGroupsInput'
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTargetHealth':
    post:
      operationId: DescribeTargetHealth
      description: Describes the health of the specified targets or all of your targets.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTargetHealthOutput'
        '480':
          description: InvalidTargetException
          schema:
            $ref: '#/definitions/InvalidTargetException'
        '481':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
        '482':
          description: HealthUnavailableException
          schema:
            $ref: '#/definitions/HealthUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTargetHealthInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyListener':
    post:
      operationId: ModifyListener
      description: '<p>Modifies the specified properties of the specified listener.</p> <p>Any properties that you do not specify retain their current values. However, changing the protocol from HTTPS to HTTP, or from TLS to TCP, removes the security policy and server certificate properties. If you change the protocol from HTTP to HTTPS, or from TCP to TLS, you must add the security policy and server certificate properties.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyListenerOutput'
        '480':
          description: DuplicateListenerException
          schema:
            $ref: '#/definitions/DuplicateListenerException'
        '481':
          description: TooManyListenersException
          schema:
            $ref: '#/definitions/TooManyListenersException'
        '482':
          description: TooManyCertificatesException
          schema:
            $ref: '#/definitions/TooManyCertificatesException'
        '483':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '484':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
        '485':
          description: TargetGroupAssociationLimitException
          schema:
            $ref: '#/definitions/TargetGroupAssociationLimitException'
        '486':
          description: IncompatibleProtocolsException
          schema:
            $ref: '#/definitions/IncompatibleProtocolsException'
        '487':
          description: SSLPolicyNotFoundException
          schema:
            $ref: '#/definitions/SSLPolicyNotFoundException'
        '488':
          description: CertificateNotFoundException
          schema:
            $ref: '#/definitions/CertificateNotFoundException'
        '489':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '490':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
        '491':
          description: TooManyRegistrationsForTargetIdException
          schema:
            $ref: '#/definitions/TooManyRegistrationsForTargetIdException'
        '492':
          description: TooManyTargetsException
          schema:
            $ref: '#/definitions/TooManyTargetsException'
        '493':
          description: TooManyActionsException
          schema:
            $ref: '#/definitions/TooManyActionsException'
        '494':
          description: InvalidLoadBalancerActionException
          schema:
            $ref: '#/definitions/InvalidLoadBalancerActionException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyListenerInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyLoadBalancerAttributes':
    post:
      operationId: ModifyLoadBalancerAttributes
      description: '<p>Modifies the specified attributes of the specified Application Load Balancer or Network Load Balancer.</p> <p>If any of the specified attributes can''t be modified as requested, the call fails. Any existing attributes that you do not modify retain their current values.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyLoadBalancerAttributesOutput'
        '480':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyLoadBalancerAttributesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyRule':
    post:
      operationId: ModifyRule
      description: '<p>Modifies the specified rule.</p> <p>Any existing properties that you do not modify retain their current values.</p> <p>To modify the actions for the default rule, use <a>ModifyListener</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyRuleOutput'
        '480':
          description: TargetGroupAssociationLimitException
          schema:
            $ref: '#/definitions/TargetGroupAssociationLimitException'
        '481':
          description: IncompatibleProtocolsException
          schema:
            $ref: '#/definitions/IncompatibleProtocolsException'
        '482':
          description: RuleNotFoundException
          schema:
            $ref: '#/definitions/RuleNotFoundException'
        '483':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '484':
          description: TooManyRegistrationsForTargetIdException
          schema:
            $ref: '#/definitions/TooManyRegistrationsForTargetIdException'
        '485':
          description: TooManyTargetsException
          schema:
            $ref: '#/definitions/TooManyTargetsException'
        '486':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
        '487':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
        '488':
          description: TooManyActionsException
          schema:
            $ref: '#/definitions/TooManyActionsException'
        '489':
          description: InvalidLoadBalancerActionException
          schema:
            $ref: '#/definitions/InvalidLoadBalancerActionException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyRuleInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyTargetGroup':
    post:
      operationId: ModifyTargetGroup
      description: '<p>Modifies the health checks used when evaluating the health state of the targets in the specified target group.</p> <p>To monitor the health of the targets, use <a>DescribeTargetHealth</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyTargetGroupOutput'
        '480':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyTargetGroupInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyTargetGroupAttributes':
    post:
      operationId: ModifyTargetGroupAttributes
      description: Modifies the specified attributes of the specified target group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyTargetGroupAttributesOutput'
        '480':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyTargetGroupAttributesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RegisterTargets':
    post:
      operationId: RegisterTargets
      description: '<p>Registers the specified targets with the specified target group.</p> <p>If the target is an EC2 instance, it must be in the <code>running</code> state when you register it.</p> <p>By default, the load balancer routes requests to registered targets using the protocol and port for the target group. Alternatively, you can override the port for a target when you register it. You can register each EC2 instance or IP address with the same target group multiple times using different ports.</p> <p>With a Network Load Balancer, you cannot register instances by instance ID if they have the following instance types: C1, CC1, CC2, CG1, CG2, CR1, CS1, G1, G2, HI1, HS1, M1, M2, M3, and T1. You can register instances of these types by IP address.</p> <p>To remove a target from a target group, use <a>DeregisterTargets</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RegisterTargetsOutput'
        '480':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
        '481':
          description: TooManyTargetsException
          schema:
            $ref: '#/definitions/TooManyTargetsException'
        '482':
          description: InvalidTargetException
          schema:
            $ref: '#/definitions/InvalidTargetException'
        '483':
          description: TooManyRegistrationsForTargetIdException
          schema:
            $ref: '#/definitions/TooManyRegistrationsForTargetIdException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RegisterTargetsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RemoveListenerCertificates':
    post:
      operationId: RemoveListenerCertificates
      description: '<p>Removes the specified certificate from the specified HTTPS listener.</p> <p>You can''t remove the default certificate for a listener. To replace the default certificate, call <a>ModifyListener</a>.</p> <p>To list the certificates for your listener, use <a>DescribeListenerCertificates</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RemoveListenerCertificatesOutput'
        '480':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '481':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RemoveListenerCertificatesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RemoveTags':
    post:
      operationId: RemoveTags
      description: '<p>Removes the specified tags from the specified Elastic Load Balancing resource.</p> <p>To list the current tags for your resources, use <a>DescribeTags</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RemoveTagsOutput'
        '480':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
        '481':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
        '482':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '483':
          description: RuleNotFoundException
          schema:
            $ref: '#/definitions/RuleNotFoundException'
        '484':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RemoveTagsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SetIpAddressType':
    post:
      operationId: SetIpAddressType
      description: <p>Sets the type of IP addresses used by the subnets of the specified Application Load Balancer or Network Load Balancer.</p> <p>Network Load Balancers must use <code>ipv4</code>.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SetIpAddressTypeOutput'
        '480':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '482':
          description: InvalidSubnetException
          schema:
            $ref: '#/definitions/InvalidSubnetException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetIpAddressTypeInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SetRulePriorities':
    post:
      operationId: SetRulePriorities
      description: <p>Sets the priorities of the specified rules.</p> <p>You can reorder the rules as long as there are no priority conflicts in the new order. Any existing rules that you do not specify retain their current priority.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SetRulePrioritiesOutput'
        '480':
          description: RuleNotFoundException
          schema:
            $ref: '#/definitions/RuleNotFoundException'
        '481':
          description: PriorityInUseException
          schema:
            $ref: '#/definitions/PriorityInUseException'
        '482':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetRulePrioritiesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SetSecurityGroups':
    post:
      operationId: SetSecurityGroups
      description: <p>Associates the specified security groups with the specified Application Load Balancer. The specified security groups override the previously associated security groups.</p> <p>You can't specify a security group for a Network Load Balancer.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SetSecurityGroupsOutput'
        '480':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '482':
          description: InvalidSecurityGroupException
          schema:
            $ref: '#/definitions/InvalidSecurityGroupException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetSecurityGroupsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SetSubnets':
    post:
      operationId: SetSubnets
      description: <p>Enables the Availability Zone for the specified public subnets for the specified Application Load Balancer. The specified subnets replace the previously enabled subnets.</p> <p>You can't change the subnets for a Network Load Balancer.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SetSubnetsOutput'
        '480':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '482':
          description: SubnetNotFoundException
          schema:
            $ref: '#/definitions/SubnetNotFoundException'
        '483':
          description: InvalidSubnetException
          schema:
            $ref: '#/definitions/InvalidSubnetException'
        '484':
          description: AllocationIdNotFoundException
          schema:
            $ref: '#/definitions/AllocationIdNotFoundException'
        '485':
          description: AvailabilityZoneNotSupportedException
          schema:
            $ref: '#/definitions/AvailabilityZoneNotSupportedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetSubnetsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AddListenerCertificatesOutput:
    type: object
    properties:
      Certificates:
        $ref: '#/definitions/CertificateList'
        description: Information about the certificates.
  AddListenerCertificatesInput:
    type: object
    required:
      - ListenerArn
      - Certificates
    properties:
      ListenerArn:
        $ref: '#/definitions/ListenerArn'
        description: The Amazon Resource Name (ARN) of the listener.
      Certificates:
        $ref: '#/definitions/CertificateList'
        description: The certificate to add. You can specify one certificate per call. Set <code>CertificateArn</code> to the certificate ARN but do not set <code>IsDefault</code>.
  ListenerNotFoundException: {}
  TooManyCertificatesException: {}
  CertificateNotFoundException: {}
  AddTagsOutput:
    type: object
    properties: {}
  AddTagsInput:
    type: object
    required:
      - ResourceArns
      - Tags
    example:
      ResourceArns:
        - 'arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188'
      Tags:
        - Key: project
          Value: lima
        - Key: department
          Value: digital-media
    properties:
      ResourceArns:
        $ref: '#/definitions/ResourceArns'
        description: The Amazon Resource Name (ARN) of the resource.
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags. Each resource can have a maximum of 10 tags.
  DuplicateTagKeysException: {}
  TooManyTagsException: {}
  LoadBalancerNotFoundException: {}
  TargetGroupNotFoundException: {}
  CreateListenerOutput:
    type: object
    example:
      Listeners:
        - Certificates:
            - CertificateArn: 'arn:aws:iam::123456789012:server-certificate/my-server-cert'
          DefaultActions:
            - TargetGroupArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067'
              Type: forward
          ListenerArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:listener/app/my-load-balancer/50dc6c495c0c9188/f2f7dc8efc522ab2'
          LoadBalancerArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188'
          Port: 443
          Protocol: HTTPS
          SslPolicy: ELBSecurityPolicy-2015-05
    properties:
      Listeners:
        $ref: '#/definitions/Listeners'
        description: Information about the listener.
  CreateListenerInput:
    type: object
    required:
      - LoadBalancerArn
      - Protocol
      - Port
      - DefaultActions
    example:
      Certificates:
        - CertificateArn: 'arn:aws:iam::123456789012:server-certificate/my-server-cert'
      DefaultActions:
        - TargetGroupArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067'
          Type: forward
      LoadBalancerArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188'
      Port: 443
      Protocol: HTTPS
      SslPolicy: ELBSecurityPolicy-2015-05
    properties:
      LoadBalancerArn:
        $ref: '#/definitions/LoadBalancerArn'
        description: The Amazon Resource Name (ARN) of the load balancer.
      Protocol:
        $ref: '#/definitions/ProtocolEnum'
        description: 'The protocol for connections from clients to the load balancer. For Application Load Balancers, the supported protocols are HTTP and HTTPS. For Network Load Balancers, the supported protocols are TCP and TLS.'
      Port:
        $ref: '#/definitions/Port'
        description: The port on which the load balancer is listening.
      SslPolicy:
        $ref: '#/definitions/SslPolicyName'
        description: '[HTTPS and TLS listeners] The security policy that defines which ciphers and protocols are supported. The default is the current predefined security policy.'
      Certificates:
        $ref: '#/definitions/CertificateList'
        description: '<p>[HTTPS and TLS listeners] The default SSL server certificate. You must provide exactly one certificate. Set <code>CertificateArn</code> to the certificate ARN but do not set <code>IsDefault</code>.</p> <p>To create a certificate list, use <a>AddListenerCertificates</a>.</p>'
      DefaultActions:
        $ref: '#/definitions/Actions'
        description: '<p>The actions for the default rule. The rule must include one forward action or one or more fixed-response actions.</p> <p>If the action type is <code>forward</code>, you specify a target group. The protocol of the target group must be HTTP or HTTPS for an Application Load Balancer. The protocol of the target group must be TCP or TLS for a Network Load Balancer.</p> <p>[HTTPS listeners] If the action type is <code>authenticate-oidc</code>, you authenticate users through an identity provider that is OpenID Connect (OIDC) compliant.</p> <p>[HTTPS listeners] If the action type is <code>authenticate-cognito</code>, you authenticate users through the user pools supported by Amazon Cognito.</p> <p>[Application Load Balancer] If the action type is <code>redirect</code>, you redirect specified client requests from one URL to another.</p> <p>[Application Load Balancer] If the action type is <code>fixed-response</code>, you drop specified client requests and return a custom HTTP response.</p>'
  DuplicateListenerException: {}
  TooManyListenersException: {}
  TargetGroupAssociationLimitException: {}
  InvalidConfigurationRequestException: {}
  IncompatibleProtocolsException: {}
  SSLPolicyNotFoundException: {}
  UnsupportedProtocolException: {}
  TooManyRegistrationsForTargetIdException: {}
  TooManyTargetsException: {}
  TooManyActionsException: {}
  InvalidLoadBalancerActionException: {}
  CreateLoadBalancerOutput:
    type: object
    example:
      LoadBalancers:
        - AvailabilityZones:
            - SubnetId: subnet-8360a9e7
              ZoneName: us-west-2a
            - SubnetId: subnet-b7d581c0
              ZoneName: us-west-2b
          CanonicalHostedZoneId: Z2P70J7EXAMPLE
          CreatedTime: '2016-03-25T21:29:48.850Z'
          DNSName: internal-my-internal-load-balancer-1529930873.us-west-2.elb.amazonaws.com
          LoadBalancerArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-internal-load-balancer/5b49b8d4303115c2'
          LoadBalancerName: my-internal-load-balancer
          Scheme: internal
          SecurityGroups:
            - sg-5943793c
          State:
            Code: provisioning
          Type: application
          VpcId: vpc-3ac0fb5f
    properties:
      LoadBalancers:
        $ref: '#/definitions/LoadBalancers'
        description: Information about the load balancer.
  CreateLoadBalancerInput:
    type: object
    required:
      - Name
    example:
      Name: my-internal-load-balancer
      Scheme: internal
      SecurityGroups: []
      Subnets:
        - subnet-b7d581c0
        - subnet-8360a9e7
    properties:
      Name:
        $ref: '#/definitions/LoadBalancerName'
        description: '<p>The name of the load balancer.</p> <p>This name must be unique per region per account, can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, must not begin or end with a hyphen, and must not begin with "internal-".</p>'
      Subnets:
        $ref: '#/definitions/Subnets'
        description: '<p>The IDs of the public subnets. You can specify only one subnet per Availability Zone. You must specify either subnets or subnet mappings.</p> <p>[Application Load Balancers] You must specify subnets from at least two Availability Zones.</p> <p>[Network Load Balancers] You can specify subnets from one or more Availability Zones.</p>'
      SubnetMappings:
        $ref: '#/definitions/SubnetMappings'
        description: '<p>The IDs of the public subnets. You can specify only one subnet per Availability Zone. You must specify either subnets or subnet mappings.</p> <p>[Application Load Balancers] You must specify subnets from at least two Availability Zones. You cannot specify Elastic IP addresses for your subnets.</p> <p>[Network Load Balancers] You can specify subnets from one or more Availability Zones. You can specify one Elastic IP address per subnet.</p>'
      SecurityGroups:
        $ref: '#/definitions/SecurityGroups'
        description: '[Application Load Balancers] The IDs of the security groups for the load balancer.'
      Scheme:
        $ref: '#/definitions/LoadBalancerSchemeEnum'
        description: '<p>The nodes of an Internet-facing load balancer have public IP addresses. The DNS name of an Internet-facing load balancer is publicly resolvable to the public IP addresses of the nodes. Therefore, Internet-facing load balancers can route requests from clients over the internet.</p> <p>The nodes of an internal load balancer have only private IP addresses. The DNS name of an internal load balancer is publicly resolvable to the private IP addresses of the nodes. Therefore, internal load balancers can only route requests from clients with access to the VPC for the load balancer.</p> <p>The default is an Internet-facing load balancer.</p>'
      Tags:
        $ref: '#/definitions/TagList'
        description: One or more tags to assign to the load balancer.
      Type:
        $ref: '#/definitions/LoadBalancerTypeEnum'
        description: The type of load balancer. The default is <code>application</code>.
      IpAddressType:
        $ref: '#/definitions/IpAddressType'
        description: '[Application Load Balancers] The type of IP addresses used by the subnets for your load balancer. The possible values are <code>ipv4</code> (for IPv4 addresses) and <code>dualstack</code> (for IPv4 and IPv6 addresses). Internal load balancers must use <code>ipv4</code>.'
  DuplicateLoadBalancerNameException: {}
  TooManyLoadBalancersException: {}
  SubnetNotFoundException: {}
  InvalidSubnetException: {}
  InvalidSecurityGroupException: {}
  InvalidSchemeException: {}
  ResourceInUseException: {}
  AllocationIdNotFoundException: {}
  AvailabilityZoneNotSupportedException: {}
  OperationNotPermittedException: {}
  CreateRuleOutput:
    type: object
    example:
      Rules:
        - Actions:
            - TargetGroupArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067'
              Type: forward
          Conditions:
            - Field: path-pattern
              Values:
                - /img/*
          IsDefault: false
          Priority: '10'
          RuleArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:listener-rule/app/my-load-balancer/50dc6c495c0c9188/f2f7dc8efc522ab2/9683b2d02a6cabee'
    properties:
      Rules:
        $ref: '#/definitions/Rules'
        description: Information about the rule.
  CreateRuleInput:
    type: object
    required:
      - ListenerArn
      - Conditions
      - Priority
      - Actions
    example:
      Actions:
        - TargetGroupArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067'
          Type: forward
      Conditions:
        - Field: path-pattern
          Values:
            - /img/*
      ListenerArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:listener/app/my-load-balancer/50dc6c495c0c9188/f2f7dc8efc522ab2'
      Priority: 10
    properties:
      ListenerArn:
        $ref: '#/definitions/ListenerArn'
        description: The Amazon Resource Name (ARN) of the listener.
      Conditions:
        $ref: '#/definitions/RuleConditionList'
        description: '<p>The conditions. Each condition specifies a field name and a single value.</p> <p>If the field name is <code>host-header</code>, you can specify a single host name (for example, my.example.com). A host name is case insensitive, can be up to 128 characters in length, and can contain any of the following characters. You can include up to three wildcard characters.</p> <ul> <li> <p>A-Z, a-z, 0-9</p> </li> <li> <p>- .</p> </li> <li> <p>* (matches 0 or more characters)</p> </li> <li> <p>? (matches exactly 1 character)</p> </li> </ul> <p>If the field name is <code>path-pattern</code>, you can specify a single path pattern. A path pattern is case-sensitive, can be up to 128 characters in length, and can contain any of the following characters. You can include up to three wildcard characters.</p> <ul> <li> <p>A-Z, a-z, 0-9</p> </li> <li> <p>_ - . $ / ~ " '' @ : +</p> </li> <li> <p>&amp; (using &amp;amp;)</p> </li> <li> <p>* (matches 0 or more characters)</p> </li> <li> <p>? (matches exactly 1 character)</p> </li> </ul>'
      Priority:
        $ref: '#/definitions/RulePriority'
        description: The rule priority. A listener can't have multiple rules with the same priority.
      Actions:
        $ref: '#/definitions/Actions'
        description: '<p>The actions. Each rule must include exactly one of the following types of actions: <code>forward</code>, <code>fixed-response</code>, or <code>redirect</code>.</p> <p>If the action type is <code>forward</code>, you specify a target group. The protocol of the target group must be HTTP or HTTPS for an Application Load Balancer. The protocol of the target group must be TCP or TLS for a Network Load Balancer.</p> <p>[HTTPS listeners] If the action type is <code>authenticate-oidc</code>, you authenticate users through an identity provider that is OpenID Connect (OIDC) compliant.</p> <p>[HTTPS listeners] If the action type is <code>authenticate-cognito</code>, you authenticate users through the user pools supported by Amazon Cognito.</p> <p>[Application Load Balancer] If the action type is <code>redirect</code>, you redirect specified client requests from one URL to another.</p> <p>[Application Load Balancer] If the action type is <code>fixed-response</code>, you drop specified client requests and return a custom HTTP response.</p>'
  PriorityInUseException: {}
  TooManyTargetGroupsException: {}
  TooManyRulesException: {}
  CreateTargetGroupOutput:
    type: object
    example:
      TargetGroups:
        - HealthCheckIntervalSeconds: 30
          HealthCheckPath: /
          HealthCheckPort: traffic-port
          HealthCheckProtocol: HTTP
          HealthCheckTimeoutSeconds: 5
          HealthyThresholdCount: 5
          Matcher:
            HttpCode: '200'
          Port: 80
          Protocol: HTTP
          TargetGroupArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067'
          TargetGroupName: my-targets
          UnhealthyThresholdCount: 2
          VpcId: vpc-3ac0fb5f
    properties:
      TargetGroups:
        $ref: '#/definitions/TargetGroups'
        description: Information about the target group.
  CreateTargetGroupInput:
    type: object
    required:
      - Name
    example:
      Name: my-targets
      Port: 80
      Protocol: HTTP
      VpcId: vpc-3ac0fb5f
    properties:
      Name:
        $ref: '#/definitions/TargetGroupName'
        description: '<p>The name of the target group.</p> <p>This name must be unique per region per account, can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, and must not begin or end with a hyphen.</p>'
      Protocol:
        $ref: '#/definitions/ProtocolEnum'
        description: 'The protocol to use for routing traffic to the targets. For Application Load Balancers, the supported protocols are HTTP and HTTPS. For Network Load Balancers, the supported protocols are TCP and TLS. If the target is a Lambda function, this parameter does not apply.'
      Port:
        $ref: '#/definitions/Port'
        description: 'The port on which the targets receive traffic. This port is used unless you specify a port override when registering the target. If the target is a Lambda function, this parameter does not apply.'
      VpcId:
        $ref: '#/definitions/VpcId'
        description: 'The identifier of the virtual private cloud (VPC). If the target is a Lambda function, this parameter does not apply.'
      HealthCheckProtocol:
        $ref: '#/definitions/ProtocolEnum'
        description: 'The protocol the load balancer uses when performing health checks on targets. For Application Load Balancers, the default is HTTP. For Network Load Balancers, the default is TCP. The TCP protocol is supported for health checks only if the protocol of the target group is TCP or TLS. The TLS protocol is not supported for health checks.'
      HealthCheckPort:
        $ref: '#/definitions/HealthCheckPort'
        description: 'The port the load balancer uses when performing health checks on targets. The default is <code>traffic-port</code>, which is the port on which each target receives traffic from the load balancer.'
      HealthCheckEnabled:
        $ref: '#/definitions/HealthCheckEnabled'
        description: 'Indicates whether health checks are enabled. If the target type is <code>instance</code> or <code>ip</code>, the default is <code>true</code>. If the target type is <code>lambda</code>, the default is <code>false</code>.'
      HealthCheckPath:
        $ref: '#/definitions/Path'
        description: '[HTTP/HTTPS health checks] The ping path that is the destination on the targets for health checks. The default is /.'
      HealthCheckIntervalSeconds:
        $ref: '#/definitions/HealthCheckIntervalSeconds'
        description: 'The approximate amount of time, in seconds, between health checks of an individual target. For Application Load Balancers, the range is 5–300 seconds. For Network Load Balancers, the supported values are 10 or 30 seconds. If the target type is <code>instance</code> or <code>ip</code>, the default is 30 seconds. If the target type is <code>lambda</code>, the default is 35 seconds.'
      HealthCheckTimeoutSeconds:
        $ref: '#/definitions/HealthCheckTimeoutSeconds'
        description: 'The amount of time, in seconds, during which no response from a target means a failed health check. For Application Load Balancers, the range is 2–120 seconds and the default is 5 seconds if the target type is <code>instance</code> or <code>ip</code> and 30 seconds if the target type is <code>lambda</code>. For Network Load Balancers, this is 10 seconds for TCP and HTTPS health checks and 6 seconds for HTTP health checks.'
      HealthyThresholdCount:
        $ref: '#/definitions/HealthCheckThresholdCount'
        description: 'The number of consecutive health checks successes required before considering an unhealthy target healthy. For Application Load Balancers, the default is 5. For Network Load Balancers, the default is 3.'
      UnhealthyThresholdCount:
        $ref: '#/definitions/HealthCheckThresholdCount'
        description: 'The number of consecutive health check failures required before considering a target unhealthy. For Application Load Balancers, the default is 2. For Network Load Balancers, this value must be the same as the healthy threshold count.'
      Matcher:
        $ref: '#/definitions/Matcher'
        description: '[HTTP/HTTPS health checks] The HTTP codes to use when checking for a successful response from a target.'
      TargetType:
        $ref: '#/definitions/TargetTypeEnum'
        description: '<p>The type of target that you must specify when registering targets with this target group. You can''t specify targets for a target group using more than one target type.</p> <ul> <li> <p> <code>instance</code> - Targets are specified by instance ID. This is the default value.</p> </li> <li> <p> <code>ip</code> - Targets are specified by IP address. You can specify IP addresses from the subnets of the virtual private cloud (VPC) for the target group, the RFC 1918 range (10.0.0.0/8, 172.16.0.0/12, and 192.168.0.0/16), and the RFC 6598 range (100.64.0.0/10). You can''t specify publicly routable IP addresses.</p> </li> <li> <p> <code>lambda</code> - The target groups contains a single Lambda function.</p> </li> </ul>'
  DuplicateTargetGroupNameException: {}
  DeleteListenerOutput:
    type: object
    properties: {}
  DeleteListenerInput:
    type: object
    required:
      - ListenerArn
    example:
      ListenerArn: 'arn:aws:elasticloadbalancing:ua-west-2:123456789012:listener/app/my-load-balancer/50dc6c495c0c9188/f2f7dc8efc522ab2'
    properties:
      ListenerArn:
        $ref: '#/definitions/ListenerArn'
        description: The Amazon Resource Name (ARN) of the listener.
  DeleteLoadBalancerOutput:
    type: object
    properties: {}
  DeleteLoadBalancerInput:
    type: object
    required:
      - LoadBalancerArn
    example:
      LoadBalancerArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188'
    properties:
      LoadBalancerArn:
        $ref: '#/definitions/LoadBalancerArn'
        description: The Amazon Resource Name (ARN) of the load balancer.
  DeleteRuleOutput:
    type: object
    properties: {}
  DeleteRuleInput:
    type: object
    required:
      - RuleArn
    example:
      RuleArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:listener-rule/app/my-load-balancer/50dc6c495c0c9188/f2f7dc8efc522ab2/1291d13826f405c3'
    properties:
      RuleArn:
        $ref: '#/definitions/RuleArn'
        description: The Amazon Resource Name (ARN) of the rule.
  RuleNotFoundException: {}
  DeleteTargetGroupOutput:
    type: object
    properties: {}
  DeleteTargetGroupInput:
    type: object
    required:
      - TargetGroupArn
    example:
      TargetGroupArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067'
    properties:
      TargetGroupArn:
        $ref: '#/definitions/TargetGroupArn'
        description: The Amazon Resource Name (ARN) of the target group.
  DeregisterTargetsOutput:
    type: object
    properties: {}
  DeregisterTargetsInput:
    type: object
    required:
      - TargetGroupArn
      - Targets
    example:
      TargetGroupArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067'
      Targets:
        - Id: i-0f76fade
    properties:
      TargetGroupArn:
        $ref: '#/definitions/TargetGroupArn'
        description: The Amazon Resource Name (ARN) of the target group.
      Targets:
        $ref: '#/definitions/TargetDescriptions'
        description: 'The targets. If you specified a port override when you registered a target, you must specify both the target ID and the port when you deregister it.'
  InvalidTargetException: {}
  DescribeAccountLimitsOutput:
    type: object
    properties:
      Limits:
        $ref: '#/definitions/Limits'
        description: Information about the limits.
      NextMarker:
        $ref: '#/definitions/Marker'
        description: 'The marker to use when requesting the next set of results. If there are no additional results, the string is empty.'
  DescribeAccountLimitsInput:
    type: object
    properties:
      Marker:
        $ref: '#/definitions/Marker'
        description: The marker for the next set of results. (You received this marker from a previous call.)
      PageSize:
        $ref: '#/definitions/PageSize'
        description: The maximum number of results to return with this call.
  DescribeListenerCertificatesOutput:
    type: object
    properties:
      Certificates:
        $ref: '#/definitions/CertificateList'
        description: Information about the certificates.
      NextMarker:
        $ref: '#/definitions/Marker'
        description: 'The marker to use when requesting the next set of results. If there are no additional results, the string is empty.'
  DescribeListenerCertificatesInput:
    type: object
    required:
      - ListenerArn
    properties:
      ListenerArn:
        $ref: '#/definitions/ListenerArn'
        description: The Amazon Resource Names (ARN) of the listener.
      Marker:
        $ref: '#/definitions/Marker'
        description: The marker for the next set of results. (You received this marker from a previous call.)
      PageSize:
        $ref: '#/definitions/PageSize'
        description: The maximum number of results to return with this call.
  DescribeListenersOutput:
    type: object
    example:
      Listeners:
        - DefaultActions:
            - TargetGroupArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067'
              Type: forward
          ListenerArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:listener/app/my-load-balancer/50dc6c495c0c9188/f2f7dc8efc522ab2'
          LoadBalancerArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188'
          Port: 80
          Protocol: HTTP
    properties:
      Listeners:
        $ref: '#/definitions/Listeners'
        description: Information about the listeners.
      NextMarker:
        $ref: '#/definitions/Marker'
        description: 'The marker to use when requesting the next set of results. If there are no additional results, the string is empty.'
  DescribeListenersInput:
    type: object
    example:
      ListenerArns:
        - 'arn:aws:elasticloadbalancing:us-west-2:123456789012:listener/app/my-load-balancer/50dc6c495c0c9188/f2f7dc8efc522ab2'
    properties:
      LoadBalancerArn:
        $ref: '#/definitions/LoadBalancerArn'
        description: The Amazon Resource Name (ARN) of the load balancer.
      ListenerArns:
        $ref: '#/definitions/ListenerArns'
        description: The Amazon Resource Names (ARN) of the listeners.
      Marker:
        $ref: '#/definitions/Marker'
        description: The marker for the next set of results. (You received this marker from a previous call.)
      PageSize:
        $ref: '#/definitions/PageSize'
        description: The maximum number of results to return with this call.
  DescribeLoadBalancerAttributesOutput:
    type: object
    example:
      Attributes:
        - Key: access_logs.s3.enabled
          Value: 'false'
        - Key: idle_timeout.timeout_seconds
          Value: '60'
        - Key: access_logs.s3.prefix
          Value: ''
        - Key: deletion_protection.enabled
          Value: 'false'
        - Key: access_logs.s3.bucket
          Value: ''
    properties:
      Attributes:
        $ref: '#/definitions/LoadBalancerAttributes'
        description: Information about the load balancer attributes.
  DescribeLoadBalancerAttributesInput:
    type: object
    required:
      - LoadBalancerArn
    example:
      LoadBalancerArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188'
    properties:
      LoadBalancerArn:
        $ref: '#/definitions/LoadBalancerArn'
        description: The Amazon Resource Name (ARN) of the load balancer.
  DescribeLoadBalancersOutput:
    type: object
    example:
      LoadBalancers:
        - AvailabilityZones:
            - SubnetId: subnet-8360a9e7
              ZoneName: us-west-2a
            - SubnetId: subnet-b7d581c0
              ZoneName: us-west-2b
          CanonicalHostedZoneId: Z2P70J7EXAMPLE
          CreatedTime: '2016-03-25T21:26:12.920Z'
          DNSName: my-load-balancer-424835706.us-west-2.elb.amazonaws.com
          LoadBalancerArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188'
          LoadBalancerName: my-load-balancer
          Scheme: internet-facing
          SecurityGroups:
            - sg-5943793c
          State:
            Code: active
          Type: application
          VpcId: vpc-3ac0fb5f
    properties:
      LoadBalancers:
        $ref: '#/definitions/LoadBalancers'
        description: Information about the load balancers.
      NextMarker:
        $ref: '#/definitions/Marker'
        description: 'The marker to use when requesting the next set of results. If there are no additional results, the string is empty.'
  DescribeLoadBalancersInput:
    type: object
    example:
      LoadBalancerArns:
        - 'arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188'
    properties:
      LoadBalancerArns:
        $ref: '#/definitions/LoadBalancerArns'
        description: The Amazon Resource Names (ARN) of the load balancers. You can specify up to 20 load balancers in a single call.
      Names:
        $ref: '#/definitions/LoadBalancerNames'
        description: The names of the load balancers.
      Marker:
        $ref: '#/definitions/Marker'
        description: The marker for the next set of results. (You received this marker from a previous call.)
      PageSize:
        $ref: '#/definitions/PageSize'
        description: The maximum number of results to return with this call.
  DescribeRulesOutput:
    type: object
    example:
      Rules:
        - Actions:
            - TargetGroupArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067'
              Type: forward
          Conditions:
            - Field: path-pattern
              Values:
                - /img/*
          IsDefault: false
          Priority: '10'
          RuleArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:listener-rule/app/my-load-balancer/50dc6c495c0c9188/f2f7dc8efc522ab2/9683b2d02a6cabee'
    properties:
      Rules:
        $ref: '#/definitions/Rules'
        description: Information about the rules.
      NextMarker:
        $ref: '#/definitions/Marker'
        description: 'The marker to use when requesting the next set of results. If there are no additional results, the string is empty.'
  DescribeRulesInput:
    type: object
    example:
      RuleArns:
        - 'arn:aws:elasticloadbalancing:us-west-2:123456789012:listener-rule/app/my-load-balancer/50dc6c495c0c9188/f2f7dc8efc522ab2/9683b2d02a6cabee'
    properties:
      ListenerArn:
        $ref: '#/definitions/ListenerArn'
        description: The Amazon Resource Name (ARN) of the listener.
      RuleArns:
        $ref: '#/definitions/RuleArns'
        description: The Amazon Resource Names (ARN) of the rules.
      Marker:
        $ref: '#/definitions/Marker'
        description: The marker for the next set of results. (You received this marker from a previous call.)
      PageSize:
        $ref: '#/definitions/PageSize'
        description: The maximum number of results to return with this call.
  DescribeSSLPoliciesOutput:
    type: object
    example:
      SslPolicies:
        - Ciphers:
            - Name: ECDHE-ECDSA-AES128-GCM-SHA256
              Priority: 1
            - Name: ECDHE-RSA-AES128-GCM-SHA256
              Priority: 2
            - Name: ECDHE-ECDSA-AES128-SHA256
              Priority: 3
            - Name: ECDHE-RSA-AES128-SHA256
              Priority: 4
            - Name: ECDHE-ECDSA-AES128-SHA
              Priority: 5
            - Name: ECDHE-RSA-AES128-SHA
              Priority: 6
            - Name: DHE-RSA-AES128-SHA
              Priority: 7
            - Name: ECDHE-ECDSA-AES256-GCM-SHA384
              Priority: 8
            - Name: ECDHE-RSA-AES256-GCM-SHA384
              Priority: 9
            - Name: ECDHE-ECDSA-AES256-SHA384
              Priority: 10
            - Name: ECDHE-RSA-AES256-SHA384
              Priority: 11
            - Name: ECDHE-RSA-AES256-SHA
              Priority: 12
            - Name: ECDHE-ECDSA-AES256-SHA
              Priority: 13
            - Name: AES128-GCM-SHA256
              Priority: 14
            - Name: AES128-SHA256
              Priority: 15
            - Name: AES128-SHA
              Priority: 16
            - Name: AES256-GCM-SHA384
              Priority: 17
            - Name: AES256-SHA256
              Priority: 18
            - Name: AES256-SHA
              Priority: 19
          Name: ELBSecurityPolicy-2015-05
          SslProtocols:
            - TLSv1
            - TLSv1.1
            - TLSv1.2
    properties:
      SslPolicies:
        $ref: '#/definitions/SslPolicies'
        description: Information about the policies.
      NextMarker:
        $ref: '#/definitions/Marker'
        description: 'The marker to use when requesting the next set of results. If there are no additional results, the string is empty.'
  DescribeSSLPoliciesInput:
    type: object
    example:
      Names:
        - ELBSecurityPolicy-2015-05
    properties:
      Names:
        $ref: '#/definitions/SslPolicyNames'
        description: The names of the policies.
      Marker:
        $ref: '#/definitions/Marker'
        description: The marker for the next set of results. (You received this marker from a previous call.)
      PageSize:
        $ref: '#/definitions/PageSize'
        description: The maximum number of results to return with this call.
  DescribeTagsOutput:
    type: object
    example:
      TagDescriptions:
        - ResourceArn: 'arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188'
          Tags:
            - Key: project
              Value: lima
            - Key: department
              Value: digital-media
    properties:
      TagDescriptions:
        $ref: '#/definitions/TagDescriptions'
        description: Information about the tags.
  DescribeTagsInput:
    type: object
    required:
      - ResourceArns
    example:
      ResourceArns:
        - 'arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188'
    properties:
      ResourceArns:
        $ref: '#/definitions/ResourceArns'
        description: The Amazon Resource Names (ARN) of the resources.
  DescribeTargetGroupAttributesOutput:
    type: object
    example:
      Attributes:
        - Key: stickiness.enabled
          Value: 'false'
        - Key: deregistration_delay.timeout_seconds
          Value: '300'
        - Key: stickiness.type
          Value: lb_cookie
        - Key: stickiness.lb_cookie.duration_seconds
          Value: '86400'
    properties:
      Attributes:
        $ref: '#/definitions/TargetGroupAttributes'
[...]
