swagger: '2.0'
schemes:
  - https
  - http
host: elasticloadbalancing.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>Elastic Load Balancing</fullname> <p>A load balancer distributes incoming traffic across targets, such as your EC2 instances. This enables you to increase the availability of your application. The load balancer also monitors the health of its registered targets and ensures that it routes traffic only to healthy targets. You configure your load balancer to accept incoming traffic by specifying one or more listeners, which are configured with a protocol and port number for connections from clients to the load balancer. You configure a target group with a protocol and port number for connections from the load balancer to the targets, and with health check settings to be used when checking the health status of the targets.</p> <p>Elastic Load Balancing supports the following types of load balancers: Application Load Balancers, Network Load Balancers, and Classic Load Balancers. This reference covers Application Load Balancers and Network Load Balancers.</p> <p>An Application Load Balancer makes routing and load balancing decisions at the application layer (HTTP/HTTPS). A Network Load Balancer makes routing and load balancing decisions at the transport layer (TCP/TLS). Both Application Load Balancers and Network Load Balancers can route requests to one or more ports on each EC2 instance or container instance in your virtual private cloud (VPC). For more information, see the <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/">Elastic Load Balancing User Guide</a>.</p> <p>All Elastic Load Balancing operations are idempotent, which means that they complete at most one time. If you repeat an operation, it succeeds.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Elastic Load Balancing
  version: '2015-12-01'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/elasticloadbalancingv2-2015-12-01.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: elasticloadbalancingv2
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/elasticloadbalancing/'
consumes:
  - text/xml
produces:
  - text/xml
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#Action=AddListenerCertificates':
    get:
      description: '<p>Adds the specified SSL server certificate to the certificate list for the specified HTTPS or TLS listener.</p> <p>If the certificate in already in the certificate list, the call is successful but the certificate is not added again.</p> <p>To get the certificate list for a listener, use <a>DescribeListenerCertificates</a>. To remove certificates from the certificate list for a listener, use <a>RemoveListenerCertificates</a>. To replace the default certificate for a listener, use <a>ModifyListener</a>.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#https-listener-certificates">SSL Certificates</a> in the <i>Application Load Balancers Guide</i>.</p>'
      operationId: GET AddListenerCertificates
      parameters:
        - description: The Amazon Resource Name (ARN) of the listener.
          in: query
          name: ListenerArn
          required: true
          type: string
        - description: The certificate to add. You can specify one certificate per call. Set <code>CertificateArn</code> to the certificate ARN but do not set <code>IsDefault</code>.
          in: query
          items:
            type: string
          name: Certificates
          required: true
          type: array
        - enum:
            - AddListenerCertificates
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddListenerCertificatesOutput'
        '480':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '481':
          description: TooManyCertificatesException
          schema:
            $ref: '#/definitions/TooManyCertificatesException'
        '482':
          description: CertificateNotFoundException
          schema:
            $ref: '#/definitions/CertificateNotFoundException'
      x-aws-operation-name: AddListenerCertificates
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Adds the specified SSL server certificate to the certificate list for the specified HTTPS or TLS listener.</p> <p>If the certificate in already in the certificate list, the call is successful but the certificate is not added again.</p> <p>To get the certificate list for a listener, use <a>DescribeListenerCertificates</a>. To remove certificates from the certificate list for a listener, use <a>RemoveListenerCertificates</a>. To replace the default certificate for a listener, use <a>ModifyListener</a>.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#https-listener-certificates">SSL Certificates</a> in the <i>Application Load Balancers Guide</i>.</p>'
      operationId: POST AddListenerCertificates
      parameters:
        - description: The Amazon Resource Name (ARN) of the listener.
          in: formData
          name: ListenerArn
          required: true
          type: string
        - description: The certificate to add. You can specify one certificate per call. Set <code>CertificateArn</code> to the certificate ARN but do not set <code>IsDefault</code>.
          in: formData
          items:
            type: string
          name: Certificates
          required: true
          type: array
        - enum:
            - AddListenerCertificates
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddListenerCertificatesOutput'
        '480':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '481':
          description: TooManyCertificatesException
          schema:
            $ref: '#/definitions/TooManyCertificatesException'
        '482':
          description: CertificateNotFoundException
          schema:
            $ref: '#/definitions/CertificateNotFoundException'
      x-aws-operation-name: AddListenerCertificates
  '/#Action=AddTags':
    get:
      description: '<p>Adds the specified tags to the specified Elastic Load Balancing resource. You can tag your Application Load Balancers, Network Load Balancers, and your target groups.</p> <p>Each tag consists of a key and an optional value. If a resource already has a tag with the same key, <code>AddTags</code> updates its value.</p> <p>To list the current tags for your resources, use <a>DescribeTags</a>. To remove tags from your resources, use <a>RemoveTags</a>.</p>'
      operationId: GET AddTags
      parameters:
        - description: The Amazon Resource Name (ARN) of the resource.
          in: query
          items:
            type: string
          name: ResourceArns
          required: true
          type: array
        - description: The tags. Each resource can have a maximum of 10 tags.
          in: query
          items:
            type: string
          name: Tags
          required: true
          type: array
        - enum:
            - AddTags
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddTagsOutput'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
        '483':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
      x-aws-operation-name: AddTags
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Adds the specified tags to the specified Elastic Load Balancing resource. You can tag your Application Load Balancers, Network Load Balancers, and your target groups.</p> <p>Each tag consists of a key and an optional value. If a resource already has a tag with the same key, <code>AddTags</code> updates its value.</p> <p>To list the current tags for your resources, use <a>DescribeTags</a>. To remove tags from your resources, use <a>RemoveTags</a>.</p>'
      operationId: POST AddTags
      parameters:
        - description: The Amazon Resource Name (ARN) of the resource.
          in: formData
          items:
            type: string
          name: ResourceArns
          required: true
          type: array
        - description: The tags. Each resource can have a maximum of 10 tags.
          in: formData
          items:
            type: string
          name: Tags
          required: true
          type: array
        - enum:
            - AddTags
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddTagsOutput'
        '480':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
        '483':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
      x-aws-operation-name: AddTags
  '/#Action=CreateListener':
    get:
      description: '<p>Creates a listener for the specified Application Load Balancer or Network Load Balancer.</p> <p>To update a listener, use <a>ModifyListener</a>. When you are finished with a listener, you can delete it using <a>DeleteListener</a>. If you are finished with both the listener and the load balancer, you can delete them both using <a>DeleteLoadBalancer</a>.</p> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple listeners with the same settings, each call succeeds.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html">Listeners for Your Application Load Balancers</a> in the <i>Application Load Balancers Guide</i> and <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-listeners.html">Listeners for Your Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>'
      operationId: GET CreateListener
      parameters:
        - description: The Amazon Resource Name (ARN) of the load balancer.
          in: query
          name: LoadBalancerArn
          required: true
          type: string
        - description: 'The protocol for connections from clients to the load balancer. For Application Load Balancers, the supported protocols are HTTP and HTTPS. For Network Load Balancers, the supported protocols are TCP, TLS, UDP, and TCP_UDP.'
          enum:
            - HTTP
            - HTTPS
            - TCP
            - TLS
            - UDP
            - TCP_UDP
          in: query
          name: Protocol
          required: true
          type: string
        - description: The port on which the load balancer is listening.
          in: query
          maximum: 65535
          minimum: 1
          name: Port
          required: true
          type: integer
        - description: '[HTTPS and TLS listeners] The security policy that defines which ciphers and protocols are supported. The default is the current predefined security policy.'
          in: query
          name: SslPolicy
          required: false
          type: string
        - description: '<p>[HTTPS and TLS listeners] The default certificate for the listener. You must provide exactly one certificate. Set <code>CertificateArn</code> to the certificate ARN but do not set <code>IsDefault</code>.</p> <p>To create a certificate list for the listener, use <a>AddListenerCertificates</a>.</p>'
          in: query
          items:
            type: string
          name: Certificates
          required: false
          type: array
        - description: '<p>The actions for the default rule. The rule must include one forward action or one or more fixed-response actions.</p> <p>If the action type is <code>forward</code>, you specify a target group. The protocol of the target group must be HTTP or HTTPS for an Application Load Balancer. The protocol of the target group must be TCP, TLS, UDP, or TCP_UDP for a Network Load Balancer.</p> <p>[HTTPS listeners] If the action type is <code>authenticate-oidc</code>, you authenticate users through an identity provider that is OpenID Connect (OIDC) compliant.</p> <p>[HTTPS listeners] If the action type is <code>authenticate-cognito</code>, you authenticate users through the user pools supported by Amazon Cognito.</p> <p>[Application Load Balancer] If the action type is <code>redirect</code>, you redirect specified client requests from one URL to another.</p> <p>[Application Load Balancer] If the action type is <code>fixed-response</code>, you drop specified client requests and return a custom HTTP response.</p>'
          in: query
          items:
            type: string
          name: DefaultActions
          required: true
          type: array
        - enum:
            - CreateListener
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateListenerOutput'
        '480':
          description: DuplicateListenerException
          schema:
            $ref: '#/definitions/DuplicateListenerException'
        '481':
          description: TooManyListenersException
          schema:
            $ref: '#/definitions/TooManyListenersException'
        '482':
          description: TooManyCertificatesException
          schema:
            $ref: '#/definitions/TooManyCertificatesException'
        '483':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
        '484':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
        '485':
          description: TargetGroupAssociationLimitException
          schema:
            $ref: '#/definitions/TargetGroupAssociationLimitException'
        '486':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '487':
          description: IncompatibleProtocolsException
          schema:
            $ref: '#/definitions/IncompatibleProtocolsException'
        '488':
          description: SSLPolicyNotFoundException
          schema:
            $ref: '#/definitions/SSLPolicyNotFoundException'
        '489':
          description: CertificateNotFoundException
          schema:
            $ref: '#/definitions/CertificateNotFoundException'
        '490':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
        '491':
          description: TooManyRegistrationsForTargetIdException
          schema:
            $ref: '#/definitions/TooManyRegistrationsForTargetIdException'
        '492':
          description: TooManyTargetsException
          schema:
            $ref: '#/definitions/TooManyTargetsException'
        '493':
          description: TooManyActionsException
          schema:
            $ref: '#/definitions/TooManyActionsException'
        '494':
          description: InvalidLoadBalancerActionException
          schema:
            $ref: '#/definitions/InvalidLoadBalancerActionException'
      x-aws-operation-name: CreateListener
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a listener for the specified Application Load Balancer or Network Load Balancer.</p> <p>To update a listener, use <a>ModifyListener</a>. When you are finished with a listener, you can delete it using <a>DeleteListener</a>. If you are finished with both the listener and the load balancer, you can delete them both using <a>DeleteLoadBalancer</a>.</p> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple listeners with the same settings, each call succeeds.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html">Listeners for Your Application Load Balancers</a> in the <i>Application Load Balancers Guide</i> and <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-listeners.html">Listeners for Your Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>'
      operationId: POST CreateListener
      parameters:
        - description: The Amazon Resource Name (ARN) of the load balancer.
          in: formData
          name: LoadBalancerArn
          required: true
          type: string
        - description: 'The protocol for connections from clients to the load balancer. For Application Load Balancers, the supported protocols are HTTP and HTTPS. For Network Load Balancers, the supported protocols are TCP, TLS, UDP, and TCP_UDP.'
          enum:
            - HTTP
            - HTTPS
            - TCP
            - TLS
            - UDP
            - TCP_UDP
          in: formData
          name: Protocol
          required: true
          type: string
        - description: The port on which the load balancer is listening.
          in: formData
          maximum: 65535
          minimum: 1
          name: Port
          required: true
          type: integer
        - description: '[HTTPS and TLS listeners] The security policy that defines which ciphers and protocols are supported. The default is the current predefined security policy.'
          in: formData
          name: SslPolicy
          required: false
          type: string
        - description: '<p>[HTTPS and TLS listeners] The default certificate for the listener. You must provide exactly one certificate. Set <code>CertificateArn</code> to the certificate ARN but do not set <code>IsDefault</code>.</p> <p>To create a certificate list for the listener, use <a>AddListenerCertificates</a>.</p>'
          in: formData
          items:
            type: string
          name: Certificates
          required: false
          type: array
        - description: '<p>The actions for the default rule. The rule must include one forward action or one or more fixed-response actions.</p> <p>If the action type is <code>forward</code>, you specify a target group. The protocol of the target group must be HTTP or HTTPS for an Application Load Balancer. The protocol of the target group must be TCP, TLS, UDP, or TCP_UDP for a Network Load Balancer.</p> <p>[HTTPS listeners] If the action type is <code>authenticate-oidc</code>, you authenticate users through an identity provider that is OpenID Connect (OIDC) compliant.</p> <p>[HTTPS listeners] If the action type is <code>authenticate-cognito</code>, you authenticate users through the user pools supported by Amazon Cognito.</p> <p>[Application Load Balancer] If the action type is <code>redirect</code>, you redirect specified client requests from one URL to another.</p> <p>[Application Load Balancer] If the action type is <code>fixed-response</code>, you drop specified client requests and return a custom HTTP response.</p>'
          in: formData
          items:
            type: string
          name: DefaultActions
          required: true
          type: array
        - enum:
            - CreateListener
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateListenerOutput'
        '480':
          description: DuplicateListenerException
          schema:
            $ref: '#/definitions/DuplicateListenerException'
        '481':
          description: TooManyListenersException
          schema:
            $ref: '#/definitions/TooManyListenersException'
        '482':
          description: TooManyCertificatesException
          schema:
            $ref: '#/definitions/TooManyCertificatesException'
        '483':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
        '484':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
        '485':
          description: TargetGroupAssociationLimitException
          schema:
            $ref: '#/definitions/TargetGroupAssociationLimitException'
        '486':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '487':
          description: IncompatibleProtocolsException
          schema:
            $ref: '#/definitions/IncompatibleProtocolsException'
        '488':
          description: SSLPolicyNotFoundException
          schema:
            $ref: '#/definitions/SSLPolicyNotFoundException'
        '489':
          description: CertificateNotFoundException
          schema:
            $ref: '#/definitions/CertificateNotFoundException'
        '490':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
        '491':
          description: TooManyRegistrationsForTargetIdException
          schema:
            $ref: '#/definitions/TooManyRegistrationsForTargetIdException'
        '492':
          description: TooManyTargetsException
          schema:
            $ref: '#/definitions/TooManyTargetsException'
        '493':
          description: TooManyActionsException
          schema:
            $ref: '#/definitions/TooManyActionsException'
        '494':
          description: InvalidLoadBalancerActionException
          schema:
            $ref: '#/definitions/InvalidLoadBalancerActionException'
      x-aws-operation-name: CreateListener
  '/#Action=CreateLoadBalancer':
    get:
      description: '<p>Creates an Application Load Balancer or a Network Load Balancer.</p> <p>When you create a load balancer, you can specify security groups, public subnets, IP address type, and tags. Otherwise, you could do so later using <a>SetSecurityGroups</a>, <a>SetSubnets</a>, <a>SetIpAddressType</a>, and <a>AddTags</a>.</p> <p>To create listeners for your load balancer, use <a>CreateListener</a>. To describe your current load balancers, see <a>DescribeLoadBalancers</a>. When you are finished with a load balancer, you can delete it using <a>DeleteLoadBalancer</a>.</p> <p>For limit information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-limits.html">Limits for Your Application Load Balancer</a> in the <i>Application Load Balancers Guide</i> and <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-limits.html">Limits for Your Network Load Balancer</a> in the <i>Network Load Balancers Guide</i>.</p> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple load balancers with the same settings, each call succeeds.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html">Application Load Balancers</a> in the <i>Application Load Balancers Guide</i> and <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html">Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>'
      operationId: GET CreateLoadBalancer
      parameters:
        - description: '<p>The name of the load balancer.</p> <p>This name must be unique per region per account, can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, must not begin or end with a hyphen, and must not begin with "internal-".</p>'
          in: query
          name: Name
          required: true
          type: string
        - description: '<p>The IDs of the public subnets. You can specify only one subnet per Availability Zone. You must specify either subnets or subnet mappings.</p> <p>[Application Load Balancers] You must specify subnets from at least two Availability Zones.</p> <p>[Network Load Balancers] You can specify subnets from one or more Availability Zones.</p>'
          in: query
          items:
            type: string
          name: Subnets
          required: false
          type: array
        - description: '<p>The IDs of the public subnets. You can specify only one subnet per Availability Zone. You must specify either subnets or subnet mappings.</p> <p>[Application Load Balancers] You must specify subnets from at least two Availability Zones. You cannot specify Elastic IP addresses for your subnets.</p> <p>[Network Load Balancers] You can specify subnets from one or more Availability Zones. You can specify one Elastic IP address per subnet if you need static IP addresses for your load balancer.</p>'
          in: query
          items:
            type: string
          name: SubnetMappings
          required: false
          type: array
        - description: '[Application Load Balancers] The IDs of the security groups for the load balancer.'
          in: query
          items:
            type: string
          name: SecurityGroups
          required: false
          type: array
        - description: '<p>The nodes of an Internet-facing load balancer have public IP addresses. The DNS name of an Internet-facing load balancer is publicly resolvable to the public IP addresses of the nodes. Therefore, Internet-facing load balancers can route requests from clients over the internet.</p> <p>The nodes of an internal load balancer have only private IP addresses. The DNS name of an internal load balancer is publicly resolvable to the private IP addresses of the nodes. Therefore, internal load balancers can only route requests from clients with access to the VPC for the load balancer.</p> <p>The default is an Internet-facing load balancer.</p>'
          enum:
            - internet-facing
            - internal
          in: query
          name: Scheme
          required: false
          type: string
        - description: One or more tags to assign to the load balancer.
          in: query
          items:
            type: string
          name: Tags
          required: false
          type: array
        - description: The type of load balancer. The default is <code>application</code>.
          enum:
            - application
            - network
          in: query
          name: Type
          required: false
          type: string
        - description: '[Application Load Balancers] The type of IP addresses used by the subnets for your load balancer. The possible values are <code>ipv4</code> (for IPv4 addresses) and <code>dualstack</code> (for IPv4 and IPv6 addresses). Internal load balancers must use <code>ipv4</code>.'
          enum:
            - ipv4
            - dualstack
          in: query
          name: IpAddressType
          required: false
          type: string
        - enum:
            - CreateLoadBalancer
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLoadBalancerOutput'
        '480':
          description: DuplicateLoadBalancerNameException
          schema:
            $ref: '#/definitions/DuplicateLoadBalancerNameException'
        '481':
          description: TooManyLoadBalancersException
          schema:
            $ref: '#/definitions/TooManyLoadBalancersException'
        '482':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '483':
          description: SubnetNotFoundException
          schema:
            $ref: '#/definitions/SubnetNotFoundException'
        '484':
          description: InvalidSubnetException
          schema:
            $ref: '#/definitions/InvalidSubnetException'
        '485':
          description: InvalidSecurityGroupException
          schema:
            $ref: '#/definitions/InvalidSecurityGroupException'
        '486':
          description: InvalidSchemeException
          schema:
            $ref: '#/definitions/InvalidSchemeException'
        '487':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '488':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '489':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '490':
          description: AllocationIdNotFoundException
          schema:
            $ref: '#/definitions/AllocationIdNotFoundException'
        '491':
          description: AvailabilityZoneNotSupportedException
          schema:
            $ref: '#/definitions/AvailabilityZoneNotSupportedException'
        '492':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
      x-aws-operation-name: CreateLoadBalancer
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an Application Load Balancer or a Network Load Balancer.</p> <p>When you create a load balancer, you can specify security groups, public subnets, IP address type, and tags. Otherwise, you could do so later using <a>SetSecurityGroups</a>, <a>SetSubnets</a>, <a>SetIpAddressType</a>, and <a>AddTags</a>.</p> <p>To create listeners for your load balancer, use <a>CreateListener</a>. To describe your current load balancers, see <a>DescribeLoadBalancers</a>. When you are finished with a load balancer, you can delete it using <a>DeleteLoadBalancer</a>.</p> <p>For limit information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-limits.html">Limits for Your Application Load Balancer</a> in the <i>Application Load Balancers Guide</i> and <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-limits.html">Limits for Your Network Load Balancer</a> in the <i>Network Load Balancers Guide</i>.</p> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple load balancers with the same settings, each call succeeds.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html">Application Load Balancers</a> in the <i>Application Load Balancers Guide</i> and <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html">Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>'
      operationId: POST CreateLoadBalancer
      parameters:
        - description: '<p>The name of the load balancer.</p> <p>This name must be unique per region per account, can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, must not begin or end with a hyphen, and must not begin with "internal-".</p>'
          in: formData
          name: Name
          required: true
          type: string
        - description: '<p>The IDs of the public subnets. You can specify only one subnet per Availability Zone. You must specify either subnets or subnet mappings.</p> <p>[Application Load Balancers] You must specify subnets from at least two Availability Zones.</p> <p>[Network Load Balancers] You can specify subnets from one or more Availability Zones.</p>'
          in: formData
          items:
            type: string
          name: Subnets
          required: false
          type: array
        - description: '<p>The IDs of the public subnets. You can specify only one subnet per Availability Zone. You must specify either subnets or subnet mappings.</p> <p>[Application Load Balancers] You must specify subnets from at least two Availability Zones. You cannot specify Elastic IP addresses for your subnets.</p> <p>[Network Load Balancers] You can specify subnets from one or more Availability Zones. You can specify one Elastic IP address per subnet if you need static IP addresses for your load balancer.</p>'
          in: formData
          items:
            type: string
          name: SubnetMappings
          required: false
          type: array
        - description: '[Application Load Balancers] The IDs of the security groups for the load balancer.'
          in: formData
          items:
            type: string
          name: SecurityGroups
          required: false
          type: array
        - description: '<p>The nodes of an Internet-facing load balancer have public IP addresses. The DNS name of an Internet-facing load balancer is publicly resolvable to the public IP addresses of the nodes. Therefore, Internet-facing load balancers can route requests from clients over the internet.</p> <p>The nodes of an internal load balancer have only private IP addresses. The DNS name of an internal load balancer is publicly resolvable to the private IP addresses of the nodes. Therefore, internal load balancers can only route requests from clients with access to the VPC for the load balancer.</p> <p>The default is an Internet-facing load balancer.</p>'
          enum:
            - internet-facing
            - internal
          in: formData
          name: Scheme
          required: false
          type: string
        - description: One or more tags to assign to the load balancer.
          in: formData
          items:
            type: string
          name: Tags
          required: false
          type: array
        - description: The type of load balancer. The default is <code>application</code>.
          enum:
            - application
            - network
          in: formData
          name: Type
          required: false
          type: string
        - description: '[Application Load Balancers] The type of IP addresses used by the subnets for your load balancer. The possible values are <code>ipv4</code> (for IPv4 addresses) and <code>dualstack</code> (for IPv4 and IPv6 addresses). Internal load balancers must use <code>ipv4</code>.'
          enum:
            - ipv4
            - dualstack
          in: formData
          name: IpAddressType
          required: false
          type: string
        - enum:
            - CreateLoadBalancer
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLoadBalancerOutput'
        '480':
          description: DuplicateLoadBalancerNameException
          schema:
            $ref: '#/definitions/DuplicateLoadBalancerNameException'
        '481':
          description: TooManyLoadBalancersException
          schema:
            $ref: '#/definitions/TooManyLoadBalancersException'
        '482':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '483':
          description: SubnetNotFoundException
          schema:
            $ref: '#/definitions/SubnetNotFoundException'
        '484':
          description: InvalidSubnetException
          schema:
            $ref: '#/definitions/InvalidSubnetException'
        '485':
          description: InvalidSecurityGroupException
          schema:
            $ref: '#/definitions/InvalidSecurityGroupException'
        '486':
          description: InvalidSchemeException
          schema:
            $ref: '#/definitions/InvalidSchemeException'
        '487':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '488':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '489':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '490':
          description: AllocationIdNotFoundException
          schema:
            $ref: '#/definitions/AllocationIdNotFoundException'
        '491':
          description: AvailabilityZoneNotSupportedException
          schema:
            $ref: '#/definitions/AvailabilityZoneNotSupportedException'
        '492':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
      x-aws-operation-name: CreateLoadBalancer
  '/#Action=CreateRule':
    get:
      description: '<p>Creates a rule for the specified listener. The listener must be associated with an Application Load Balancer.</p> <p>Rules are evaluated in priority order, from the lowest value to the highest value. When the conditions for a rule are met, its actions are performed. If the conditions for no rules are met, the actions for the default rule are performed. For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html#listener-rules">Listener Rules</a> in the <i>Application Load Balancers Guide</i>.</p> <p>To view your current rules, use <a>DescribeRules</a>. To update a rule, use <a>ModifyRule</a>. To set the priorities of your rules, use <a>SetRulePriorities</a>. To delete a rule, use <a>DeleteRule</a>.</p>'
      operationId: GET CreateRule
      parameters:
        - description: The Amazon Resource Name (ARN) of the listener.
          in: query
          name: ListenerArn
          required: true
          type: string
        - description: 'The conditions. Each rule can include zero or one of the following conditions: <code>http-request-method</code>, <code>host-header</code>, <code>path-pattern</code>, and <code>source-ip</code>, and zero or more of the following conditions: <code>http-header</code> and <code>query-string</code>.'
          in: query
          items:
            type: string
          name: Conditions
          required: true
          type: array
        - description: The rule priority. A listener can't have multiple rules with the same priority.
          in: query
          maximum: 50000
          minimum: 1
          name: Priority
          required: true
          type: integer
        - description: '<p>The actions. Each rule must include exactly one of the following types of actions: <code>forward</code>, <code>fixed-response</code>, or <code>redirect</code>.</p> <p>If the action type is <code>forward</code>, you specify a target group. The protocol of the target group must be HTTP or HTTPS for an Application Load Balancer. The protocol of the target group must be TCP, TLS, UDP, or TCP_UDP for a Network Load Balancer.</p> <p>[HTTPS listeners] If the action type is <code>authenticate-oidc</code>, you authenticate users through an identity provider that is OpenID Connect (OIDC) compliant.</p> <p>[HTTPS listeners] If the action type is <code>authenticate-cognito</code>, you authenticate users through the user pools supported by Amazon Cognito.</p> <p>[Application Load Balancer] If the action type is <code>redirect</code>, you redirect specified client requests from one URL to another.</p> <p>[Application Load Balancer] If the action type is <code>fixed-response</code>, you drop specified client requests and return a custom HTTP response.</p>'
          in: query
          items:
            type: string
          name: Actions
          required: true
          type: array
        - enum:
            - CreateRule
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateRuleOutput'
        '480':
          description: PriorityInUseException
          schema:
            $ref: '#/definitions/PriorityInUseException'
        '481':
          description: TooManyTargetGroupsException
          schema:
            $ref: '#/definitions/TooManyTargetGroupsException'
        '482':
          description: TooManyRulesException
          schema:
            $ref: '#/definitions/TooManyRulesException'
        '483':
          description: TargetGroupAssociationLimitException
          schema:
            $ref: '#/definitions/TargetGroupAssociationLimitException'
        '484':
          description: IncompatibleProtocolsException
          schema:
            $ref: '#/definitions/IncompatibleProtocolsException'
        '485':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '486':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
        '487':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '488':
          description: TooManyRegistrationsForTargetIdException
          schema:
            $ref: '#/definitions/TooManyRegistrationsForTargetIdException'
        '489':
          description: TooManyTargetsException
          schema:
            $ref: '#/definitions/TooManyTargetsException'
        '490':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
        '491':
          description: TooManyActionsException
          schema:
            $ref: '#/definitions/TooManyActionsException'
        '492':
          description: InvalidLoadBalancerActionException
          schema:
            $ref: '#/definitions/InvalidLoadBalancerActionException'
      x-aws-operation-name: CreateRule
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a rule for the specified listener. The listener must be associated with an Application Load Balancer.</p> <p>Rules are evaluated in priority order, from the lowest value to the highest value. When the conditions for a rule are met, its actions are performed. If the conditions for no rules are met, the actions for the default rule are performed. For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html#listener-rules">Listener Rules</a> in the <i>Application Load Balancers Guide</i>.</p> <p>To view your current rules, use <a>DescribeRules</a>. To update a rule, use <a>ModifyRule</a>. To set the priorities of your rules, use <a>SetRulePriorities</a>. To delete a rule, use <a>DeleteRule</a>.</p>'
      operationId: POST CreateRule
      parameters:
        - description: The Amazon Resource Name (ARN) of the listener.
          in: formData
          name: ListenerArn
          required: true
          type: string
        - description: 'The conditions. Each rule can include zero or one of the following conditions: <code>http-request-method</code>, <code>host-header</code>, <code>path-pattern</code>, and <code>source-ip</code>, and zero or more of the following conditions: <code>http-header</code> and <code>query-string</code>.'
          in: formData
          items:
            type: string
          name: Conditions
          required: true
          type: array
        - description: The rule priority. A listener can't have multiple rules with the same priority.
          in: formData
          maximum: 50000
          minimum: 1
          name: Priority
          required: true
          type: integer
        - description: '<p>The actions. Each rule must include exactly one of the following types of actions: <code>forward</code>, <code>fixed-response</code>, or <code>redirect</code>.</p> <p>If the action type is <code>forward</code>, you specify a target group. The protocol of the target group must be HTTP or HTTPS for an Application Load Balancer. The protocol of the target group must be TCP, TLS, UDP, or TCP_UDP for a Network Load Balancer.</p> <p>[HTTPS listeners] If the action type is <code>authenticate-oidc</code>, you authenticate users through an identity provider that is OpenID Connect (OIDC) compliant.</p> <p>[HTTPS listeners] If the action type is <code>authenticate-cognito</code>, you authenticate users through the user pools supported by Amazon Cognito.</p> <p>[Application Load Balancer] If the action type is <code>redirect</code>, you redirect specified client requests from one URL to another.</p> <p>[Application Load Balancer] If the action type is <code>fixed-response</code>, you drop specified client requests and return a custom HTTP response.</p>'
          in: formData
          items:
            type: string
          name: Actions
          required: true
          type: array
        - enum:
            - CreateRule
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateRuleOutput'
        '480':
          description: PriorityInUseException
          schema:
            $ref: '#/definitions/PriorityInUseException'
        '481':
          description: TooManyTargetGroupsException
          schema:
            $ref: '#/definitions/TooManyTargetGroupsException'
        '482':
          description: TooManyRulesException
          schema:
            $ref: '#/definitions/TooManyRulesException'
        '483':
          description: TargetGroupAssociationLimitException
          schema:
            $ref: '#/definitions/TargetGroupAssociationLimitException'
        '484':
          description: IncompatibleProtocolsException
          schema:
            $ref: '#/definitions/IncompatibleProtocolsException'
        '485':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '486':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
        '487':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '488':
          description: TooManyRegistrationsForTargetIdException
          schema:
            $ref: '#/definitions/TooManyRegistrationsForTargetIdException'
        '489':
          description: TooManyTargetsException
          schema:
            $ref: '#/definitions/TooManyTargetsException'
        '490':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
        '491':
          description: TooManyActionsException
          schema:
            $ref: '#/definitions/TooManyActionsException'
        '492':
          description: InvalidLoadBalancerActionException
          schema:
            $ref: '#/definitions/InvalidLoadBalancerActionException'
      x-aws-operation-name: CreateRule
  '/#Action=CreateTargetGroup':
    get:
      description: '<p>Creates a target group.</p> <p>To register targets with the target group, use <a>RegisterTargets</a>. To update the health check settings for the target group, use <a>ModifyTargetGroup</a>. To monitor the health of targets in the target group, use <a>DescribeTargetHealth</a>.</p> <p>To route traffic to the targets in a target group, specify the target group in an action using <a>CreateListener</a> or <a>CreateRule</a>.</p> <p>To delete a target group, use <a>DeleteTargetGroup</a>.</p> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple target groups with the same settings, each call succeeds.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html">Target Groups for Your Application Load Balancers</a> in the <i>Application Load Balancers Guide</i> or <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html">Target Groups for Your Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>'
      operationId: GET CreateTargetGroup
      parameters:
        - description: '<p>The name of the target group.</p> <p>This name must be unique per region per account, can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, and must not begin or end with a hyphen.</p>'
          in: query
          name: Name
          required: true
          type: string
        - description: 'The protocol to use for routing traffic to the targets. For Application Load Balancers, the supported protocols are HTTP and HTTPS. For Network Load Balancers, the supported protocols are TCP, TLS, UDP, or TCP_UDP. A TCP_UDP listener must be associated with a TCP_UDP target group. If the target is a Lambda function, this parameter does not apply.'
          enum:
            - HTTP
            - HTTPS
            - TCP
            - TLS
            - UDP
            - TCP_UDP
          in: query
          name: Protocol
          required: false
          type: string
        - description: 'The port on which the targets receive traffic. This port is used unless you specify a port override when registering the target. If the target is a Lambda function, this parameter does not apply.'
          in: query
          maximum: 65535
          minimum: 1
          name: Port
          required: false
          type: integer
        - description: 'The identifier of the virtual private cloud (VPC). If the target is a Lambda function, this parameter does not apply. Otherwise, this parameter is required.'
          in: query
          name: VpcId
          required: false
          type: string
        - description: 'The protocol the load balancer uses when performing health checks on targets. For Application Load Balancers, the default is HTTP. For Network Load Balancers, the default is TCP. The TCP protocol is supported for health checks only if the protocol of the target group is TCP, TLS, UDP, or TCP_UDP. The TLS, UDP, and TCP_UDP protocols are not supported for health checks.'
          enum:
            - HTTP
            - HTTPS
            - TCP
            - TLS
            - UDP
            - TCP_UDP
          in: query
          name: HealthCheckProtocol
          required: false
          type: string
        - description: 'The port the load balancer uses when performing health checks on targets. The default is <code>traffic-port</code>, which is the port on which each target receives traffic from the load balancer.'
          in: query
          name: HealthCheckPort
          required: false
          type: string
        - description: 'Indicates whether health checks are enabled. If the target type is <code>lambda</code>, health checks are disabled by default but can be enabled. If the target type is <code>instance</code> or <code>ip</code>, health checks are always enabled and cannot be disabled.'
          in: query
          name: HealthCheckEnabled
          required: false
          type: boolean
        - description: '[HTTP/HTTPS health checks] The ping path that is the destination on the targets for health checks. The default is /.'
          in: query
          maxLength: 1024
          minLength: 1
          name: HealthCheckPath
          required: false
          type: string
        - description: 'The approximate amount of time, in seconds, between health checks of an individual target. For HTTP and HTTPS health checks, the range is 5–300 seconds. For TCP health checks, the supported values are 10 and 30 seconds. If the target type is <code>instance</code> or <code>ip</code>, the default is 30 seconds. If the target type is <code>lambda</code>, the default is 35 seconds.'
          in: query
          maximum: 300
          minimum: 5
          name: HealthCheckIntervalSeconds
          required: false
          type: integer
        - description: 'The amount of time, in seconds, during which no response from a target means a failed health check. For target groups with a protocol of HTTP or HTTPS, the default is 5 seconds. For target groups with a protocol of TCP or TLS, this value must be 6 seconds for HTTP health checks and 10 seconds for TCP and HTTPS health checks. If the target type is <code>lambda</code>, the default is 30 seconds.'
          in: query
          maximum: 120
          minimum: 2
          name: HealthCheckTimeoutSeconds
          required: false
          type: integer
        - description: 'The number of consecutive health checks successes required before considering an unhealthy target healthy. For target groups with a protocol of HTTP or HTTPS, the default is 5. For target groups with a protocol of TCP or TLS, the default is 3. If the target type is <code>lambda</code>, the default is 5.'
          in: query
          maximum: 10
          minimum: 2
          name: HealthyThresholdCount
          required: false
          type: integer
        - description: 'The number of consecutive health check failures required before considering a target unhealthy. For target groups with a protocol of HTTP or HTTPS, the default is 2. For target groups with a protocol of TCP or TLS, this value must be the same as the healthy threshold count. If the target type is <code>lambda</code>, the default is 2.'
          in: query
          maximum: 10
          minimum: 2
          name: UnhealthyThresholdCount
          required: false
          type: integer
        - description: |-
            Information to use when checking for a successful response from a target.
            <p>The HTTP codes.</p> <p>For Application Load Balancers, you can specify values between 200 and 499, and the default value is 200. You can specify multiple values (for example, "200,202") or a range of values (for example, "200-299").</p> <p>For Network Load Balancers, this is 200–399.</p>
          in: query
          name: Matcher.HttpCode
          type: string
        - description: '<p>The type of target that you must specify when registering targets with this target group. You can''t specify targets for a target group using more than one target type.</p> <ul> <li> <p> <code>instance</code> - Targets are specified by instance ID. This is the default value. If the target group protocol is UDP or TCP_UDP, the target type must be <code>instance</code>.</p> </li> <li> <p> <code>ip</code> - Targets are specified by IP address. You can specify IP addresses from the subnets of the virtual private cloud (VPC) for the target group, the RFC 1918 range (10.0.0.0/8, 172.16.0.0/12, and 192.168.0.0/16), and the RFC 6598 range (100.64.0.0/10). You can''t specify publicly routable IP addresses.</p> </li> <li> <p> <code>lambda</code> - The target groups contains a single Lambda function.</p> </li> </ul>'
          enum:
            - instance
            - ip
            - lambda
          in: query
          name: TargetType
          required: false
          type: string
        - enum:
            - CreateTargetGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTargetGroupOutput'
        '480':
          description: DuplicateTargetGroupNameException
          schema:
            $ref: '#/definitions/DuplicateTargetGroupNameException'
        '481':
          description: TooManyTargetGroupsException
          schema:
            $ref: '#/definitions/TooManyTargetGroupsException'
        '482':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      x-aws-operation-name: CreateTargetGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a target group.</p> <p>To register targets with the target group, use <a>RegisterTargets</a>. To update the health check settings for the target group, use <a>ModifyTargetGroup</a>. To monitor the health of targets in the target group, use <a>DescribeTargetHealth</a>.</p> <p>To route traffic to the targets in a target group, specify the target group in an action using <a>CreateListener</a> or <a>CreateRule</a>.</p> <p>To delete a target group, use <a>DeleteTargetGroup</a>.</p> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple target groups with the same settings, each call succeeds.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html">Target Groups for Your Application Load Balancers</a> in the <i>Application Load Balancers Guide</i> or <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html">Target Groups for Your Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>'
      operationId: POST CreateTargetGroup
      parameters:
        - description: '<p>The name of the target group.</p> <p>This name must be unique per region per account, can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, and must not begin or end with a hyphen.</p>'
          in: formData
          name: Name
          required: true
          type: string
        - description: 'The protocol to use for routing traffic to the targets. For Application Load Balancers, the supported protocols are HTTP and HTTPS. For Network Load Balancers, the supported protocols are TCP, TLS, UDP, or TCP_UDP. A TCP_UDP listener must be associated with a TCP_UDP target group. If the target is a Lambda function, this parameter does not apply.'
          enum:
            - HTTP
            - HTTPS
            - TCP
            - TLS
            - UDP
            - TCP_UDP
          in: formData
          name: Protocol
          required: false
          type: string
        - description: 'The port on which the targets receive traffic. This port is used unless you specify a port override when registering the target. If the target is a Lambda function, this parameter does not apply.'
          in: formData
          maximum: 65535
          minimum: 1
          name: Port
          required: false
          type: integer
        - description: 'The identifier of the virtual private cloud (VPC). If the target is a Lambda function, this parameter does not apply. Otherwise, this parameter is required.'
          in: formData
          name: VpcId
          required: false
          type: string
        - description: 'The protocol the load balancer uses when performing health checks on targets. For Application Load Balancers, the default is HTTP. For Network Load Balancers, the default is TCP. The TCP protocol is supported for health checks only if the protocol of the target group is TCP, TLS, UDP, or TCP_UDP. The TLS, UDP, and TCP_UDP protocols are not supported for health checks.'
          enum:
            - HTTP
            - HTTPS
            - TCP
            - TLS
            - UDP
            - TCP_UDP
          in: formData
          name: HealthCheckProtocol
          required: false
          type: string
        - description: 'The port the load balancer uses when performing health checks on targets. The default is <code>traffic-port</code>, which is the port on which each target receives traffic from the load balancer.'
          in: formData
          name: HealthCheckPort
          required: false
          type: string
        - description: 'Indicates whether health checks are enabled. If the target type is <code>lambda</code>, health checks are disabled by default but can be enabled. If the target type is <code>instance</code> or <code>ip</code>, health checks are always enabled and cannot be disabled.'
          in: formData
          name: HealthCheckEnabled
          required: false
          type: boolean
        - description: '[HTTP/HTTPS health checks] The ping path that is the destination on the targets for health checks. The default is /.'
          in: formData
          maxLength: 1024
          minLength: 1
          name: HealthCheckPath
          required: false
          type: string
        - description: 'The approximate amount of time, in seconds, between health checks of an individual target. For HTTP and HTTPS health checks, the range is 5–300 seconds. For TCP health checks, the supported values are 10 and 30 seconds. If the target type is <code>instance</code> or <code>ip</code>, the default is 30 seconds. If the target type is <code>lambda</code>, the default is 35 seconds.'
          in: formData
          maximum: 300
          minimum: 5
          name: HealthCheckIntervalSeconds
          required: false
          type: integer
        - description: 'The amount of time, in seconds, during which no response from a target means a failed health check. For target groups with a protocol of HTTP or HTTPS, the default is 5 seconds. For target groups with a protocol of TCP or TLS, this value must be 6 seconds for HTTP health checks and 10 seconds for TCP and HTTPS health checks. If the target type is <code>lambda</code>, the default is 30 seconds.'
          in: formData
          maximum: 120
          minimum: 2
          name: HealthCheckTimeoutSeconds
          required: false
          type: integer
        - description: 'The number of consecutive health checks successes required before considering an unhealthy target healthy. For target groups with a protocol of HTTP or HTTPS, the default is 5. For target groups with a protocol of TCP or TLS, the default is 3. If the target type is <code>lambda</code>, the default is 5.'
          in: formData
          maximum: 10
          minimum: 2
          name: HealthyThresholdCount
          required: false
          type: integer
        - description: 'The number of consecutive health check failures required before considering a target unhealthy. For target groups with a protocol of HTTP or HTTPS, the default is 2. For target groups with a protocol of TCP or TLS, this value must be the same as the healthy threshold count. If the target type is <code>lambda</code>, the default is 2.'
          in: formData
          maximum: 10
          minimum: 2
          name: UnhealthyThresholdCount
          required: false
          type: integer
        - description: |-
            Information to use when checking for a successful response from a target.
            <p>The HTTP codes.</p> <p>For Application Load Balancers, you can specify values between 200 and 499, and the default value is 200. You can specify multiple values (for example, "200,202") or a range of values (for example, "200-299").</p> <p>For Network Load Balancers, this is 200–399.</p>
          in: formData
          name: Matcher.HttpCode
          type: string
        - description: '<p>The type of target that you must specify when registering targets with this target group. You can''t specify targets for a target group using more than one target type.</p> <ul> <li> <p> <code>instance</code> - Targets are specified by instance ID. This is the default value. If the target group protocol is UDP or TCP_UDP, the target type must be <code>instance</code>.</p> </li> <li> <p> <code>ip</code> - Targets are specified by IP address. You can specify IP addresses from the subnets of the virtual private cloud (VPC) for the target group, the RFC 1918 range (10.0.0.0/8, 172.16.0.0/12, and 192.168.0.0/16), and the RFC 6598 range (100.64.0.0/10). You can''t specify publicly routable IP addresses.</p> </li> <li> <p> <code>lambda</code> - The target groups contains a single Lambda function.</p> </li> </ul>'
          enum:
            - instance
            - ip
            - lambda
          in: formData
          name: TargetType
          required: false
          type: string
        - enum:
            - CreateTargetGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTargetGroupOutput'
        '480':
          description: DuplicateTargetGroupNameException
          schema:
            $ref: '#/definitions/DuplicateTargetGroupNameException'
        '481':
          description: TooManyTargetGroupsException
          schema:
            $ref: '#/definitions/TooManyTargetGroupsException'
        '482':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      x-aws-operation-name: CreateTargetGroup
  '/#Action=DeleteListener':
    get:
      description: '<p>Deletes the specified listener.</p> <p>Alternatively, your listener is deleted when you delete the load balancer to which it is attached, using <a>DeleteLoadBalancer</a>.</p>'
      operationId: GET DeleteListener
      parameters:
        - description: The Amazon Resource Name (ARN) of the listener.
          in: query
          name: ListenerArn
          required: true
          type: string
        - enum:
            - DeleteListener
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteListenerOutput'
        '480':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
      x-aws-operation-name: DeleteListener
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes the specified listener.</p> <p>Alternatively, your listener is deleted when you delete the load balancer to which it is attached, using <a>DeleteLoadBalancer</a>.</p>'
      operationId: POST DeleteListener
      parameters:
        - description: The Amazon Resource Name (ARN) of the listener.
          in: formData
          name: ListenerArn
          required: true
          type: string
        - enum:
            - DeleteListener
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteListenerOutput'
        '480':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
      x-aws-operation-name: DeleteListener
  '/#Action=DeleteLoadBalancer':
    get:
      description: '<p>Deletes the specified Application Load Balancer or Network Load Balancer and its attached listeners.</p> <p>You can''t delete a load balancer if deletion protection is enabled. If the load balancer does not exist or has already been deleted, the call succeeds.</p> <p>Deleting a load balancer does not affect its registered targets. For example, your EC2 instances continue to run and are still registered to their target groups. If you no longer need these EC2 instances, you can stop or terminate them.</p>'
      operationId: GET DeleteLoadBalancer
      parameters:
        - description: The Amazon Resource Name (ARN) of the load balancer.
          in: query
          name: LoadBalancerArn
          required: true
          type: string
        - enum:
            - DeleteLoadBalancer
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLoadBalancerOutput'
        '480':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
        '481':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      x-aws-operation-name: DeleteLoadBalancer
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes the specified Application Load Balancer or Network Load Balancer and its attached listeners.</p> <p>You can''t delete a load balancer if deletion protection is enabled. If the load balancer does not exist or has already been deleted, the call succeeds.</p> <p>Deleting a load balancer does not affect its registered targets. For example, your EC2 instances continue to run and are still registered to their target groups. If you no longer need these EC2 instances, you can stop or terminate them.</p>'
      operationId: POST DeleteLoadBalancer
      parameters:
        - description: The Amazon Resource Name (ARN) of the load balancer.
          in: formData
          name: LoadBalancerArn
          required: true
          type: string
        - enum:
            - DeleteLoadBalancer
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLoadBalancerOutput'
        '480':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
        '481':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      x-aws-operation-name: DeleteLoadBalancer
  '/#Action=DeleteRule':
    get:
      description: Deletes the specified rule.
      operationId: GET DeleteRule
      parameters:
        - description: The Amazon Resource Name (ARN) of the rule.
          in: query
          name: RuleArn
          required: true
          type: string
        - enum:
            - DeleteRule
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRuleOutput'
        '480':
          description: RuleNotFoundException
          schema:
            $ref: '#/definitions/RuleNotFoundException'
        '481':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
      x-aws-operation-name: DeleteRule
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified rule.
      operationId: POST DeleteRule
      parameters:
        - description: The Amazon Resource Name (ARN) of the rule.
          in: formData
          name: RuleArn
          required: true
          type: string
        - enum:
            - DeleteRule
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRuleOutput'
        '480':
          description: RuleNotFoundException
          schema:
            $ref: '#/definitions/RuleNotFoundException'
        '481':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
      x-aws-operation-name: DeleteRule
  '/#Action=DeleteTargetGroup':
    get:
      description: <p>Deletes the specified target group.</p> <p>You can delete a target group if it is not referenced by any actions. Deleting a target group also deletes any associated health checks.</p>
      operationId: GET DeleteTargetGroup
      parameters:
        - description: The Amazon Resource Name (ARN) of the target group.
          in: query
          name: TargetGroupArn
          required: true
          type: string
        - enum:
            - DeleteTargetGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteTargetGroupOutput'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      x-aws-operation-name: DeleteTargetGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Deletes the specified target group.</p> <p>You can delete a target group if it is not referenced by any actions. Deleting a target group also deletes any associated health checks.</p>
      operationId: POST DeleteTargetGroup
      parameters:
        - description: The Amazon Resource Name (ARN) of the target group.
          in: formData
          name: TargetGroupArn
          required: true
          type: string
        - enum:
            - DeleteTargetGroup
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteTargetGroupOutput'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      x-aws-operation-name: DeleteTargetGroup
  '/#Action=DeregisterTargets':
    get:
      description: 'Deregisters the specified targets from the specified target group. After the targets are deregistered, they no longer receive traffic from the load balancer.'
      operationId: GET DeregisterTargets
      parameters:
        - description: The Amazon Resource Name (ARN) of the target group.
          in: query
          name: TargetGroupArn
          required: true
          type: string
        - description: 'The targets. If you specified a port override when you registered a target, you must specify both the target ID and the port when you deregister it.'
          in: query
          items:
            type: string
          name: Targets
          required: true
          type: array
        - enum:
            - DeregisterTargets
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeregisterTargetsOutput'
        '480':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
        '481':
          description: InvalidTargetException
          schema:
            $ref: '#/definitions/InvalidTargetException'
      x-aws-operation-name: DeregisterTargets
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deregisters the specified targets from the specified target group. After the targets are deregistered, they no longer receive traffic from the load balancer.'
      operationId: POST DeregisterTargets
      parameters:
        - description: The Amazon Resource Name (ARN) of the target group.
          in: formData
          name: TargetGroupArn
          required: true
          type: string
        - description: 'The targets. If you specified a port override when you registered a target, you must specify both the target ID and the port when you deregister it.'
          in: formData
          items:
            type: string
          name: Targets
          required: true
          type: array
        - enum:
            - DeregisterTargets
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeregisterTargetsOutput'
        '480':
          description: TargetGroupNotFoundException
          schema:
            $ref: '#/definitions/TargetGroupNotFoundException'
        '481':
          description: InvalidTargetException
          schema:
            $ref: '#/definitions/InvalidTargetException'
      x-aws-operation-name: DeregisterTargets
  '/#Action=DescribeAccountLimits':
    get:
      description: '<p>Describes the current Elastic Load Balancing resource limits for your AWS account.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-limits.html">Limits for Your Application Load Balancers</a> in the <i>Application Load Balancer Guide</i> or <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-limits.html">Limits for Your Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>'
      operationId: GET DescribeAccountLimits
      parameters:
        - description: The marker for the next set of results. (You received this marker from a previous call.)
          in: query
          name: Marker
          required: false
          type: string
        - description: The maximum number of results to return with this call.
          in: query
          maximum: 400
          minimum: 1
          name: PageSize
          required: false
          type: integer
        - enum:
            - DescribeAccountLimits
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccountLimitsOutput'
      x-aws-operation-name: DescribeAccountLimits
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Describes the current Elastic Load Balancing resource limits for your AWS account.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-limits.html">Limits for Your Application Load Balancers</a> in the <i>Application Load Balancer Guide</i> or <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-limits.html">Limits for Your Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>'
      operationId: POST DescribeAccountLimits
      parameters:
        - description: The marker for the next set of results. (You received this marker from a previous call.)
          in: formData
          name: Marker
          required: false
          type: string
        - description: The maximum number of results to return with this call.
          in: formData
          maximum: 400
          minimum: 1
          name: PageSize
          required: false
          type: integer
        - enum:
            - DescribeAccountLimits
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccountLimitsOutput'
      x-aws-operation-name: DescribeAccountLimits
  '/#Action=DescribeListenerCertificates':
    get:
      description: '<p>Describes the default certificate and the certificate list for the specified HTTPS or TLS listener.</p> <p>If the default certificate is also in the certificate list, it appears twice in the results (once with <code>IsDefault</code> set to true and once with <code>IsDefault</code> set to false).</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#https-listener-certificates">SSL Certificates</a> in the <i>Application Load Balancers Guide</i>.</p>'
      operationId: GET DescribeListenerCertificates
      parameters:
        - description: The Amazon Resource Names (ARN) of the listener.
          in: query
          name: ListenerArn
          required: true
          type: string
        - description: The marker for the next set of results. (You received this marker from a previous call.)
          in: query
          name: Marker
          required: false
          type: string
        - description: The maximum number of results to return with this call.
          in: query
          maximum: 400
          minimum: 1
          name: PageSize
          required: false
          type: integer
        - enum:
            - DescribeListenerCertificates
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeListenerCertificatesOutput'
        '480':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
      x-aws-operation-name: DescribeListenerCertificates
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Describes the default certificate and the certificate list for the specified HTTPS or TLS listener.</p> <p>If the default certificate is also in the certificate list, it appears twice in the results (once with <code>IsDefault</code> set to true and once with <code>IsDefault</code> set to false).</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#https-listener-certificates">SSL Certificates</a> in the <i>Application Load Balancers Guide</i>.</p>'
      operationId: POST DescribeListenerCertificates
      parameters:
        - description: The Amazon Resource Names (ARN) of the listener.
          in: formData
          name: ListenerArn
          required: true
          type: string
        - description: The marker for the next set of results. (You received this marker from a previous call.)
          in: formData
          name: Marker
          required: false
          type: string
        - description: The maximum number of results to return with this call.
          in: formData
          maximum: 400
          minimum: 1
          name: PageSize
          required: false
          type: integer
        - enum:
            - DescribeListenerCertificates
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeListenerCertificatesOutput'
        '480':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
      x-aws-operation-name: DescribeListenerCertificates
  '/#Action=DescribeListeners':
    get:
      description: '<p>Describes the specified listeners or the listeners for the specified Application Load Balancer or Network Load Balancer. You must specify either a load balancer or one or more listeners.</p> <p>For an HTTPS or TLS listener, the output includes the default certificate for the listener. To describe the certificate list for the listener, use <a>DescribeListenerCertificates</a>.</p>'
      operationId: GET DescribeListeners
      parameters:
        - description: The Amazon Resource Name (ARN) of the load balancer.
          in: query
          name: LoadBalancerArn
          required: false
          type: string
        - description: The Amazon Resource Names (ARN) of the listeners.
          in: query
          items:
            type: string
          name: ListenerArns
          required: false
          type: array
        - description: The marker for the next set of results. (You received this marker from a previous call.)
          in: query
          name: Marker
          required: false
          type: string
        - description: The maximum number of results to return with this call.
          in: query
          maximum: 400
          minimum: 1
          name: PageSize
          required: false
          type: integer
        - enum:
            - DescribeListeners
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeListenersOutput'
        '480':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '481':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
        '482':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
      x-aws-operation-name: DescribeListeners
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Describes the specified listeners or the listeners for the specified Application Load Balancer or Network Load Balancer. You must specify either a load balancer or one or more listeners.</p> <p>For an HTTPS or TLS listener, the output includes the default certificate for the listener. To describe the certificate list for the listener, use <a>DescribeListenerCertificates</a>.</p>'
      operationId: POST DescribeListeners
      parameters:
        - description: The Amazon Resource Name (ARN) of the load balancer.
          in: formData
          name: LoadBalancerArn
          required: false
          type: string
        - description: The Amazon Resource Names (ARN) of the listeners.
          in: formData
          items:
            type: string
          name: ListenerArns
          required: false
          type: array
        - description: The marker for the next set of results. (You received this marker from a previous call.)
          in: formData
          name: Marker
          required: false
          type: string
        - description: The maximum number of results to return with this call.
          in: formData
          maximum: 400
          minimum: 1
          name: PageSize
          required: false
          type: integer
        - enum:
            - DescribeListeners
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeListenersOutput'
        '480':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '481':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
        '482':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
      x-aws-operation-name: DescribeListeners
  '/#Action=DescribeLoadBalancerAttributes':
    get:
      description: '<p>Describes the attributes for the specified Application Load Balancer or Network Load Balancer.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html#load-balancer-attributes">Load Balancer Attributes</a> in the <i>Application Load Balancers Guide</i> or <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html#load-balancer-attributes">Load Balancer Attributes</a> in the <i>Network Load Balancers Guide</i>.</p>'
      operationId: GET DescribeLoadBalancerAttributes
      parameters:
        - description: The Amazon Resource Name (ARN) of the load balancer.
          in: query
          name: LoadBalancerArn
          required: true
          type: string
        - enum:
            - DescribeLoadBalancerAttributes
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2015-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancerAttributesOutput'
        '480':
          description: LoadBalancerNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerNotFoundException'
      x-aws-operation-name: DescribeLoadBalancerAttributes
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
[...]
