openapi: 3.0.0
servers:
  - url: https://ml.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: An API to enable creating and using machine learning models.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: AI Platform Training & Prediction API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: google
      url: https://ml.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: ml
externalDocs:
  url: https://cloud.google.com/ml/
tags:
  - name: projects
paths:
  "/v1/{name}":
    delete:
      description: "Deletes a model version. Each model can have multiple versions deployed and in use at any given time. Use this method to remove a single version. Note: You cannot delete the version that is set as the default version of the model unless it is the only remaining version."
      operationId: ml.projects.models.versions.delete
      parameters:
        - description: Required. The name of the version. You can get the names of all the versions of a model by calling projects.models.versions.list.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunning__Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.
      operationId: ml.projects.operations.get
      parameters:
        - description: The name of the operation resource.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunning__Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates the specified Version resource. Currently the only update-able fields are `description`, `requestLoggingConfig`, `autoScaling.minNodes`, and `manualScaling.nodes`.
      operationId: ml.projects.models.versions.patch
      parameters:
        - description: Required. The name of the model.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: 'Required. Specifies the path, relative to `Version`, of the field to update. Must be present and non-empty. For example, to change the description of a version to "foo", the `update_mask` parameter would be specified as `description`, and the `PATCH` request body would specify the new value, as follows: ``` { "description": "foo" } ``` Currently the only supported update mask fields are `description`, `requestLoggingConfig`, `autoScaling.minNodes`, and `manualScaling.nodes`. However, you can only update `manualScaling.nodes` if the version uses a [Compute Engine (N1) machine type](/ml-engine/docs/machine-types-online-prediction).'
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudMlV1__Version"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunning__Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}/operations":
    get:
      description: Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: ml.projects.operations.list
      parameters:
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunning__ListOperationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}:addMeasurement":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Adds a measurement of the objective metrics to a trial. This measurement is assumed to have been taken before the trial is complete.
      operationId: ml.projects.locations.studies.trials.addMeasurement
      parameters:
        - description: Required. The trial name.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudMlV1__AddTrialMeasurementRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudMlV1__Trial"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:cancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.
      operationId: ml.projects.operations.cancel
      parameters:
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudMlV1__CancelJobRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleProtobuf__Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:checkEarlyStoppingState":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Checks whether a trial should stop or not. Returns a long-running operation. When the operation is successful, it will contain a CheckTrialEarlyStoppingStateResponse.
      operationId: ml.projects.locations.studies.trials.checkEarlyStoppingState
      parameters:
        - description: Required. The trial name.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudMlV1__CheckTrialEarlyStoppingStateRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunning__Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:complete":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Marks a trial as complete.
      operationId: ml.projects.locations.studies.trials.complete
      parameters:
        - description: Required. The trial name.metat
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudMlV1__CompleteTrialRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudMlV1__Trial"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:explain":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: 'Performs explanation on the data in the request. {% dynamic include "/ai-platform/includes/___explain-request" %} '
      operationId: ml.projects.explain
      parameters:
        - description: "Required. The resource name of a model or a version. Authorization: requires the `predict` permission on the specified resource."
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudMlV1__ExplainRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleApi__HttpBody"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:getConfig":
    get:
      description: Get the service account information associated with your project. You need this information in order to grant the service account permissions for the Google Cloud Storage location where you put your model training code for training the model with Google Cloud Machine Learning.
      operationId: ml.projects.getConfig
      parameters:
        - description: Required. The project name.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudMlV1__GetConfigResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}:predict":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: 'Performs online prediction on the data in the request. {% dynamic include "/ai-platform/includes/___predict-request" %} '
      operationId: ml.projects.predict
      parameters:
        - description: "Required. The resource name of a model or a version. Authorization: requires the `predict` permission on the specified resource."
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudMlV1__PredictRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleApi__HttpBody"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:setDefault":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Designates a version to be the default for the model. The default version is used for prediction requests made against the model that don't specify a version. The first version to be created for a model is automatically set as the default. You must make any subsequent changes to the default version setting manually using this method.
      operationId: ml.projects.models.versions.setDefault
      parameters:
        - description: Required. The name of the version to make the default for the model. You can get the names of all the versions of a model by calling projects.models.versions.list.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudMlV1__SetDefaultVersionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudMlV1__Version"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:stop":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Stops a trial.
      operationId: ml.projects.locations.studies.trials.stop
      parameters:
        - description: Required. The trial name.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudMlV1__StopTrialRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudMlV1__Trial"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/jobs":
    get:
      description: "Lists the jobs in the project. If there are no jobs that match the request parameters, the list request returns an empty response body: {}."
      operationId: ml.projects.jobs.list
      parameters:
        - description: Required. The name of the project for which to list jobs.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Optional. Specifies the subset of jobs to retrieve. You can filter on the value of one or more attributes of the job object. For example, retrieve jobs with a job identifier that starts with 'census': gcloud ai-platform jobs list --filter='jobId:census*' List all failed jobs with names that start with 'rnn': gcloud ai-platform jobs list --filter='jobId:rnn* AND state:FAILED' For more examples, see the guide to monitoring jobs."
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. The number of jobs to retrieve per "page" of results. If there are more remaining results than this number, the response message will contain a valid value in the `next_page_token` field. The default value is 20, and the maximum page size is 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A page token to request the next page of results. You get the token from the `next_page_token` field of the response from the previous call.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudMlV1__ListJobsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a training or a batch prediction job.
      operationId: ml.projects.jobs.create
      parameters:
        - description: Required. The project name.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudMlV1__Job"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudMlV1__Job"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/locations":
    get:
      description: List all locations that provides at least one type of CMLE capability.
      operationId: ml.projects.locations.list
      parameters:
        - description: Required. The name of the project for which available locations are to be listed (since some locations might be whitelisted for specific projects).
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. The number of locations to retrieve per "page" of results. If there are more remaining results than this number, the response message will contain a valid value in the `next_page_token` field. The default value is 20, and the maximum page size is 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A page token to request the next page of results. You get the token from the `next_page_token` field of the response from the previous call.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudMlV1__ListLocationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/models":
    get:
      description: "Lists the models in a project. Each project can contain multiple models, and each model can have multiple versions. If there are no models that match the request parameters, the list request returns an empty response body: {}."
      operationId: ml.projects.models.list
      parameters:
        - description: Required. The name of the project whose models are to be listed.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Specifies the subset of models to retrieve.
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. The number of models to retrieve per "page" of results. If there are more remaining results than this number, the response message will contain a valid value in the `next_page_token` field. The default value is 20, and the maximum page size is 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A page token to request the next page of results. You get the token from the `next_page_token` field of the response from the previous call.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudMlV1__ListModelsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a model which will later contain one or more versions. You must add at least one version before you can request predictions from the model. Add versions by calling projects.models.versions.create.
      operationId: ml.projects.models.create
      parameters:
        - description: Required. The project name.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudMlV1__Model"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudMlV1__Model"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/studies":
    get:
      description: Lists all the studies in a region for an associated project.
      operationId: ml.projects.locations.studies.list
      parameters:
        - description: "Required. The project and location that the study belongs to. Format: projects/{project}/locations/{location}"
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudMlV1__ListStudiesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a study.
      operationId: ml.projects.locations.studies.create
      parameters:
        - description: "Required. The project and location that the study belongs to. Format: projects/{project}/locations/{location}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The ID to use for the study, which will become the final component of the study's resource name.
          in: query
          name: studyId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudMlV1__Study"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudMlV1__Study"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/trials":
    get:
      description: Lists the trials associated with a study.
      operationId: ml.projects.locations.studies.trials.list
      parameters:
        - description: Required. The name of the study that the trial belongs to.
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudMlV1__ListTrialsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Adds a user provided trial to a study.
      operationId: ml.projects.locations.studies.trials.create
      parameters:
        - description: Required. The name of the study that the trial belongs to.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudMlV1__Trial"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudMlV1__Trial"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/trials:listOptimalTrials":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Lists the pareto-optimal trials for multi-objective study or the optimal trials for single-objective study. The definition of pareto-optimal can be checked in wiki page. https://en.wikipedia.org/wiki/Pareto_efficiency
      operationId: ml.projects.locations.studies.trials.listOptimalTrials
      parameters:
        - description: Required. The name of the study that the pareto-optimal trial belongs to.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudMlV1__ListOptimalTrialsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudMlV1__ListOptimalTrialsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/trials:suggest":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Adds one or more trials to a study, with parameter values suggested by AI Platform Vizier. Returns a long-running operation associated with the generation of trial suggestions. When this long-running operation succeeds, it will contain a SuggestTrialsResponse.
      operationId: ml.projects.locations.studies.trials.suggest
      parameters:
        - description: Required. The name of the study that the trial belongs to.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudMlV1__SuggestTrialsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunning__Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/versions":
    get:
      description: "Gets basic information about all the versions of a model. If you expect that a model has many versions, or if you need to handle only a limited number of results at a time, you can request that the list be retrieved in batches (called pages). If there are no versions that match the request parameters, the list request returns an empty response body: {}."
      operationId: ml.projects.models.versions.list
      parameters:
        - description: Required. The name of the model for which to list the version.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Specifies the subset of versions to retrieve.
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. The number of versions to retrieve per "page" of results. If there are more remaining results than this number, the response message will contain a valid value in the `next_page_token` field. The default value is 20, and the maximum page size is 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A page token to request the next page of results. You get the token from the `next_page_token` field of the response from the previous call.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudMlV1__ListVersionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new version of a model from a trained TensorFlow model. If the version created in the cloud by this call is the first deployed version of the specified model, it will be made the default version of the model. When you add a version to a model that already has one or more versions, the default version does not automatically change. If you want a new version to be the default, you must call projects.models.versions.setDefault.
      operationId: ml.projects.models.versions.create
      parameters:
        - description: Required. The name of the model.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudMlV1__Version"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunning__Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{resource}:getIamPolicy":
    get:
      description: Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.
      operationId: ml.projects.models.getIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
        - description: Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
          in: query
          name: options.requestedPolicyVersion
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleIamV1__Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{resource}:setIamPolicy":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.
      operationId: ml.projects.models.setIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleIamV1__SetIamPolicyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleIamV1__Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{resource}:testIamPermissions":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: 'Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may "fail open" without warning.'
      operationId: ml.projects.models.testIamPermissions
      parameters:
        - description: "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleIamV1__TestIamPermissionsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleIamV1__TestIamPermissionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    GoogleApi__HttpBody:
      description: "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
      properties:
        contentType:
          description: The HTTP Content-Type header value specifying the content type of the body.
          type: string
        data:
          description: The HTTP request/response body as raw binary.
          format: byte
          type: string
        extensions:
          description: Application specific response metadata. Must be set in the first response for streaming APIs.
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
            type: object
          type: array
      type: object
    GoogleCloudMlV1_AutomatedStoppingConfig_DecayCurveAutomatedStoppingConfig:
      properties:
        useElapsedTime:
          description: If true, measurement.elapsed_time is used as the x-axis of each Trials Decay Curve. Otherwise, Measurement.steps will be used as the x-axis.
          type: boolean
      type: object
    GoogleCloudMlV1_AutomatedStoppingConfig_MedianAutomatedStoppingConfig:
      description: The median automated stopping rule stops a pending trial if the trial's best objective_value is strictly below the median 'performance' of all completed trials reported up to the trial's last measurement. Currently, 'performance' refers to the running average of the objective values reported by the trial in each measurement.
      properties:
        useElapsedTime:
          description: If true, the median automated stopping rule applies to measurement.use_elapsed_time, which means the elapsed_time field of the current trial's latest measurement is used to compute the median objective value for each completed trial.
          type: boolean
      type: object
    GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric:
      description: An observed value of a metric.
      properties:
        objectiveValue:
          description: The objective value at this training step.
          format: double
          type: number
        trainingStep:
          description: The global training step for this metric.
          format: int64
          type: string
      type: object
    GoogleCloudMlV1_Measurement_Metric:
      description: A message representing a metric in the measurement.
      properties:
        metric:
          description: Required. Metric name.
          type: string
        value:
          description: Required. The value for this metric.
          format: double
          type: number
      type: object
    GoogleCloudMlV1_StudyConfigParameterSpec_CategoricalValueSpec:
      properties:
        values:
          description: Must be specified if type is `CATEGORICAL`. The list of possible categories.
          items:
            type: string
          type: array
      type: object
    GoogleCloudMlV1_StudyConfigParameterSpec_DiscreteValueSpec:
      properties:
        values:
          description: Must be specified if type is `DISCRETE`. A list of feasible points. The list should be in strictly increasing order. For instance, this parameter might have possible settings of 1.5, 2.5, and 4.0. This list should not contain more than 1,000 values.
          items:
            format: double
            type: number
          type: array
      type: object
    GoogleCloudMlV1_StudyConfigParameterSpec_DoubleValueSpec:
      properties:
        maxValue:
          description: Must be specified if type is `DOUBLE`. Maximum value of the parameter.
          format: double
          type: number
        minValue:
          description: Must be specified if type is `DOUBLE`. Minimum value of the parameter.
          format: double
          type: number
      type: object
    GoogleCloudMlV1_StudyConfigParameterSpec_IntegerValueSpec:
      properties:
        maxValue:
          description: Must be specified if type is `INTEGER`. Maximum value of the parameter.
          format: int64
          type: string
        minValue:
          description: Must be specified if type is `INTEGER`. Minimum value of the parameter.
          format: int64
          type: string
      type: object
    GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentCategoricalValueSpec:
      description: Represents the spec to match categorical values from parent parameter.
      properties:
        values:
          description: Matches values of the parent parameter with type 'CATEGORICAL'. All values must exist in `categorical_value_spec` of parent parameter.
          items:
            type: string
          type: array
      type: object
    GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentDiscreteValueSpec:
      description: Represents the spec to match discrete values from parent parameter.
      properties:
        values:
          description: Matches values of the parent parameter with type 'DISCRETE'. All values must exist in `discrete_value_spec` of parent parameter.
          items:
            format: double
            type: number
          type: array
      type: object
    GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentIntValueSpec:
      description: Represents the spec to match integer values from parent parameter.
      properties:
        values:
          description: Matches values of the parent parameter with type 'INTEGER'. All values must lie in `integer_value_spec` of parent parameter.
          items:
            format: int64
            type: string
          type: array
      type: object
    GoogleCloudMlV1_StudyConfig_MetricSpec:
      description: Represents a metric to optimize.
      properties:
        goal:
          description: Required. The optimization goal of the metric.
          enum:
            - GOAL_TYPE_UNSPECIFIED
            - MAXIMIZE
            - MINIMIZE
          type: string
        metric:
          description: Required. The name of the metric.
          type: string
      type: object
    GoogleCloudMlV1_StudyConfig_ParameterSpec:
      description: Represents a single parameter to optimize.
      properties:
        categoricalValueSpec:
          $ref: "#/components/schemas/GoogleCloudMlV1_StudyConfigParameterSpec_CategoricalValueSpec"
          description: The value spec for a 'CATEGORICAL' parameter.
        childParameterSpecs:
          description: A child node is active if the parameter's value matches the child node's matching_parent_values. If two items in child_parameter_specs have the same name, they must have disjoint matching_parent_values.
          items:
            $ref: "#/components/schemas/GoogleCloudMlV1_StudyConfig_ParameterSpec"
          type: array
        discreteValueSpec:
          $ref: "#/components/schemas/GoogleCloudMlV1_StudyConfigParameterSpec_DiscreteValueSpec"
          description: The value spec for a 'DISCRETE' parameter.
        doubleValueSpec:
          $ref: "#/components/schemas/GoogleCloudMlV1_StudyConfigParameterSpec_DoubleValueSpec"
          description: The value spec for a 'DOUBLE' parameter.
        integerValueSpec:
          $ref: "#/components/schemas/GoogleCloudMlV1_StudyConfigParameterSpec_IntegerValueSpec"
          description: The value spec for an 'INTEGER' parameter.
        parameter:
          description: Required. The parameter name must be unique amongst all ParameterSpecs.
          type: string
        parentCategoricalValues:
          $ref: "#/components/schemas/GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentCategoricalValueSpec"
        parentDiscreteValues:
          $ref: "#/components/schemas/GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentDiscreteValueSpec"
        parentIntValues:
          $ref: "#/components/schemas/GoogleCloudMlV1_StudyConfigParameterSpec_MatchingParentIntValueSpec"
        scaleType:
          description: How the parameter should be scaled. Leave unset for categorical parameters.
          enum:
            - SCALE_TYPE_UNSPECIFIED
            - UNIT_LINEAR_SCALE
            - UNIT_LOG_SCALE
            - UNIT_REVERSE_LOG_SCALE
          type: string
        type:
          description: Required. The type of the parameter.
          enum:
            - PARAMETER_TYPE_UNSPECIFIED
            - DOUBLE
            - INTEGER
            - CATEGORICAL
            - DISCRETE
          type: string
      type: object
    GoogleCloudMlV1_Trial_Parameter:
      description: A message representing a parameter to be tuned. Contains the name of the parameter and the suggested value to use for this trial.
      properties:
        floatValue:
          description: Must be set if ParameterType is DOUBLE or DISCRETE.
          format: double
          type: number
        intValue:
          description: Must be set if ParameterType is INTEGER
          format: int64
          type: string
        parameter:
          description: The name of the parameter.
          type: string
        stringValue:
          description: Must be set if ParameterTypeis CATEGORICAL
          type: string
      type: object
    GoogleCloudMlV1__AcceleratorConfig:
      description: Represents a hardware accelerator request config. Note that the AcceleratorConfig can be used in both Jobs and Versions. Learn more about [accelerators for training](/ml-engine/docs/using-gpus) and [accelerators for online prediction](/ml-engine/docs/machine-types-online-prediction#gpus).
      properties:
        count:
          description: The number of accelerators to attach to each machine running the job.
          format: int64
          type: string
        type:
          description: The type of accelerator to use.
          enum:
            - ACCELERATOR_TYPE_UNSPECIFIED
            - NVIDIA_TESLA_K80
            - NVIDIA_TESLA_P100
            - NVIDIA_TESLA_V100
            - NVIDIA_TESLA_P4
            - NVIDIA_TESLA_T4
            - NVIDIA_TESLA_A100
            - TPU_V2
            - TPU_V3
            - TPU_V2_POD
            - TPU_V3_POD
            - TPU_V4_POD
          type: string
      type: object
    GoogleCloudMlV1__AddTrialMeasurementRequest:
      description: The request message for the AddTrialMeasurement service method.
      properties:
        measurement:
          $ref: "#/components/schemas/GoogleCloudMlV1__Measurement"
          description: Required. The measurement to be added to a trial.
      type: object
    GoogleCloudMlV1__AutoScaling:
      description: Options for automatically scaling a model.
      properties:
        maxNodes:
          description: The maximum number of nodes to scale this model under load. The actual value will depend on resource quota and availability.
          format: int32
          type: integer
        metrics:
          description: MetricSpec contains the specifications to use to calculate the desired nodes count.
          items:
            $ref: "#/components/schemas/GoogleCloudMlV1__MetricSpec"
          type: array
        minNodes:
          description: "Optional. The minimum number of nodes to allocate for this model. These nodes are always up, starting from the time the model is deployed. Therefore, the cost of operating this model will be at least `rate` * `min_nodes` * number of hours since last billing cycle, where `rate` is the cost per node-hour as documented in the [pricing guide](/ml-engine/docs/pricing), even if no predictions are performed. There is additional cost for each prediction performed. Unlike manual scaling, if the load gets too heavy for the nodes that are up, the service will automatically add nodes to handle the increased load as well as scale back as traffic drops, always maintaining at least `min_nodes`. You will be charged for the time in which additional nodes are used. If `min_nodes` is not specified and AutoScaling is used with a [legacy (MLS1) machine type](/ml-engine/docs/machine-types-online-prediction), `min_nodes` defaults to 0, in which case, when traffic to a model stops (and after a cool-down period), nodes will be shut down and no charges will be incurred until traffic to the model resumes. If `min_nodes` is not specified and AutoScaling is used with a [Compute Engine (N1) machine type](/ml-engine/docs/machine-types-online-prediction), `min_nodes` defaults to 1. `min_nodes` must be at least 1 for use with a Compute Engine machine type. You can set `min_nodes` when creating the model version, and you can also update `min_nodes` for an existing version: update_body.json: { 'autoScaling': { 'minNodes': 5 } } HTTP request: PATCH https://ml.googleapis.com/v1/{name=projects/*/models/*/versions/*}?update_mask=autoScaling.minNodes -d @./update_body.json "
          format: int32
          type: integer
      type: object
    GoogleCloudMlV1__AutomatedStoppingConfig:
      description: Configuration for Automated Early Stopping of Trials. If no implementation_config is set, automated early stopping will not be run.
      properties:
        decayCurveStoppingConfig:
          $ref: "#/components/schemas/GoogleCloudMlV1_AutomatedStoppingConfig_DecayCurveAutomatedStoppingConfig"
        medianAutomatedStoppingConfig:
          $ref: "#/components/schemas/GoogleCloudMlV1_AutomatedStoppingConfig_MedianAutomatedStoppingConfig"
      type: object
    GoogleCloudMlV1__BuiltInAlgorithmOutput:
      description: Represents output related to a built-in algorithm Job.
      properties:
        framework:
          description: Framework on which the built-in algorithm was trained.
          type: string
        modelPath:
          description: The Cloud Storage path to the `model/` directory where the training job saves the trained model. Only set for successful jobs that don't use hyperparameter tuning.
          type: string
        pythonVersion:
          description: Python version on which the built-in algorithm was trained.
          type: string
        runtimeVersion:
          description: AI Platform runtime version on which the built-in algorithm was trained.
          type: string
      type: object
    GoogleCloudMlV1__CancelJobRequest:
      description: Request message for the CancelJob method.
      properties: {}
      type: object
    GoogleCloudMlV1__Capability:
      properties:
        availableAccelerators:
          description: Available accelerators for the capability.
          items:
            enum:
              - ACCELERATOR_TYPE_UNSPECIFIED
              - NVIDIA_TESLA_K80
              - NVIDIA_TESLA_P100
              - NVIDIA_TESLA_V100
              - NVIDIA_TESLA_P4
              - NVIDIA_TESLA_T4
              - NVIDIA_TESLA_A100
              - TPU_V2
              - TPU_V3
              - TPU_V2_POD
              - TPU_V3_POD
              - TPU_V4_POD
            type: string
          type: array
        type:
          enum:
            - TYPE_UNSPECIFIED
            - TRAINING
            - BATCH_PREDICTION
            - ONLINE_PREDICTION
          type: string
      type: object
    GoogleCloudMlV1__CheckTrialEarlyStoppingStateMetatdata:
      description: This message will be placed in the metadata field of a google.longrunning.Operation associated with a CheckTrialEarlyStoppingState request.
      properties:
        createTime:
          description: The time at which the operation was submitted.
          format: google-datetime
          type: string
        study:
          description: The name of the study that the trial belongs to.
          type: string
        trial:
          description: The trial name.
          type: string
      type: object
    GoogleCloudMlV1__CheckTrialEarlyStoppingStateRequest:
      description: The request message for the CheckTrialEarlyStoppingState service method.
      properties: {}
      type: object
    GoogleCloudMlV1__CheckTrialEarlyStoppingStateResponse:
      description: The message will be placed in the response field of a completed google.longrunning.Operation associated with a CheckTrialEarlyStoppingState request.
      properties:
        endTime:
          description: The time at which operation processing completed.
          format: google-datetime
          type: string
        shouldStop:
          description: True if the Trial should stop.
          type: boolean
        startTime:
          description: The time at which the operation was started.
          format: google-datetime
          type: string
      type: object
    GoogleCloudMlV1__CompleteTrialRequest:
      description: The request message for the CompleteTrial service method.
      properties:
        finalMeasurement:
          $ref: "#/components/schemas/GoogleCloudMlV1__Measurement"
          description: Optional. If provided, it will be used as the completed trial's final_measurement; Otherwise, the service will auto-select a previously reported measurement as the final-measurement
        infeasibleReason:
          description: Optional. A human readable reason why the trial was infeasible. This should only be provided if `trial_infeasible` is true.
          type: string
        trialInfeasible:
          description: Optional. True if the trial cannot be run with the given Parameter, and final_measurement will be ignored.
          type: boolean
      type: object
    GoogleCloudMlV1__Config:
      properties:
        tpuServiceAccount:
          description: The service account Cloud ML uses to run on TPU node.
          type: string
      type: object
    GoogleCloudMlV1__ContainerPort:
      description: Represents a network port in a single container. This message is a subset of the [Kubernetes ContainerPort v1 core specification](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#containerport-v1-core).
      properties:
        containerPort:
          description: "Number of the port to expose on the container. This must be a valid port number: 0 < PORT_NUMBER < 65536."
          format: int32
          type: integer
      type: object
    GoogleCloudMlV1__ContainerSpec:
      description: Specification of a custom container for serving predictions. This message is a subset of the [Kubernetes Container v1 core specification](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#container-v1-core).
      properties:
        args:
          description: "Immutable. Specifies arguments for the command that runs when the container starts. This overrides the container's [`CMD`](https://docs.docker.com/engine/reference/builder/#cmd). Specify this field as an array of executable and arguments, similar to a Docker `CMD`'s \"default parameters\" form. If you don't specify this field but do specify the command field, then the command from the `command` field runs without any additional arguments. See the [Kubernetes documentation about how the `command` and `args` fields interact with a container's `ENTRYPOINT` and `CMD`](https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#notes). If you don't specify this field and don't specify the `commmand` field, then the container's [`ENTRYPOINT`](https://docs.docker.com/engine/reference/builder/#cmd) and `CMD` determine what runs based on their default behavior. See the [Docker documentation about how `CMD` and `ENTRYPOINT` interact](https://docs.docker.com/engine/reference/builder/#understand-how-cmd-and-entrypoint-interact). In this field, you can reference [environment variables set by AI Platform Prediction](/ai-platform/prediction/docs/custom-container-requirements#aip-variables) and environment variables set in the env field. You cannot reference environment variables set in the Docker image. In order for environment variables to be expanded, reference them by using the following syntax: $( VARIABLE_NAME) Note that this differs from Bash variable expansion, which does not use parentheses. If a variable cannot be resolved, the reference in the input string is used unchanged. To avoid variable expansion, you can escape this syntax with `$$`; for example: $$(VARIABLE_NAME) This field corresponds to the `args` field of the [Kubernetes Containers v1 core API](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#container-v1-core)."
          items:
            type: string
          type: array
        command:
          description: "Immutable. Specifies the command that runs when the container starts. This overrides the container's [`ENTRYPOINT`](https://docs.docker.com/engine/reference/builder/#entrypoint). Specify this field as an array of executable and arguments, similar to a Docker `ENTRYPOINT`'s \"exec\" form, not its \"shell\" form. If you do not specify this field, then the container's `ENTRYPOINT` runs, in conjunction with the args field or the container's [`CMD`](https://docs.docker.com/engine/reference/builder/#cmd), if either exists. If this field is not specified and the container does not have an `ENTRYPOINT`, then refer to the [Docker documentation about how `CMD` and `ENTRYPOINT` interact](https://docs.docker.com/engine/reference/builder/#understand-how-cmd-and-entrypoint-interact). If you specify this field, then you can also specify the `args` field to provide additional arguments for this command. However, if you specify this field, then the container's `CMD` is ignored. See the [Kubernetes documentation about how the `command` and `args` fields interact with a container's `ENTRYPOINT` and `CMD`](https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#notes). In this field, you can reference [environment variables set by AI Platform Prediction](/ai-platform/prediction/docs/custom-container-requirements#aip-variables) and environment variables set in the env field. You cannot reference environment variables set in the Docker image. In order for environment variables to be expanded, reference them by using the following syntax: $( VARIABLE_NAME) Note that this differs from Bash variable expansion, which does not use parentheses. If a variable cannot be resolved, the reference in the input string is used unchanged. To avoid variable expansion, you can escape this syntax with `$$`; for example: $$(VARIABLE_NAME) This field corresponds to the `command` field of the [Kubernetes Containers v1 core API](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#container-v1-core)."
          items:
            type: string
          type: array
        env:
          description: 'Immutable. List of environment variables to set in the container. After the container starts running, code running in the container can read these environment variables. Additionally, the command and args fields can reference these variables. Later entries in this list can also reference earlier entries. For example, the following example sets the variable `VAR_2` to have the value `foo bar`: ```json [ { "name": "VAR_1", "value": "foo" }, { "name": "VAR_2", "value": "$(VAR_1) bar" } ] ``` If you switch the order of the variables in the example, then the expansion does not occur. This field corresponds to the `env` field of the [Kubernetes Containers v1 core API](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#container-v1-core).'
          items:
            $ref: "#/components/schemas/GoogleCloudMlV1__EnvVar"
          type: array
        image:
          description: "URI of the Docker image to be used as the custom container for serving predictions. This URI must identify [an image in Artifact Registry](/artifact-registry/docs/overview) and begin with the hostname `{REGION}-docker.pkg.dev`, where `{REGION}` is replaced by the region that matches AI Platform Prediction [regional endpoint](/ai-platform/prediction/docs/regional-endpoints) that you are using. For example, if you are using the `us-central1-ml.googleapis.com` endpoint, then this URI must begin with `us-central1-docker.pkg.dev`. To use a custom container, the [AI Platform Google-managed service account](/ai-platform/prediction/docs/custom-service-account#default) must have permission to pull (read) the Docker image at this URI. The AI Platform Google-managed service account has the following format: `service-{PROJECT_NUMBER}@cloud-ml.google.com.iam.gserviceaccount.com` {PROJECT_NUMBER} is replaced by your Google Cloud project number. By default, this service account has necessary permissions to pull an Artifact Registry image in the same Google Cloud project where you are using AI Platform Prediction. In this case, no configuration is necessary. If you want to use an image from a different Google Cloud project, learn how to [grant the Artifact Registry Reader (roles/artifactregistry.reader) role for a repository](/artifact-registry/docs/access-control#grant-repo) to your projet's AI Platform Google-managed service account. To learn about the requirements for the Docker image itself, read [Custom container requirements](/ai-platform/prediction/docs/custom-container-requirements)."
          type: string
        ports:
          description: 'Immutable. List of ports to expose from the container. AI Platform Prediction sends any prediction requests that it receives to the first port on this list. AI Platform Prediction also sends [liveness and health checks](/ai-platform/prediction/docs/custom-container-requirements#health) to this port. If you do not specify this field, it defaults to following value: ```json [ { "containerPort": 8080 } ] ``` AI Platform Prediction does not use ports other than the first one listed. This field corresponds to the `ports` field of the [Kubernetes Containers v1 core API](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#container-v1-core).'
          items:
            $ref: "#/components/schemas/GoogleCloudMlV1__ContainerPort"
          type: array
      type: object
    GoogleCloudMlV1__DiskConfig:
      description: Represents the config of disk options.
      properties:
        bootDiskSizeGb:
          description: Size in GB of the boot disk (default is 100GB).
          format: int32
          type: integer
        bootDiskType:
          description: 'Type of the boot disk (default is "pd-ssd"). Valid values: "pd-ssd" (Persistent Disk Solid State Drive) or "pd-standard" (Persistent Disk Hard Disk Drive).'
          type: string
      type: object
    GoogleCloudMlV1__EncryptionConfig:
      description: Represents a custom encryption key configuration that can be applied to a resource.
      properties:
        kmsKeyName:
          description: "The Cloud KMS resource identifier of the customer-managed encryption key used to protect a resource, such as a training job. It has the following format: `projects/{PROJECT_ID}/locations/{REGION}/keyRings/{KEY_RING_NAME}/cryptoKeys/{KEY_NAME}`"
          type: string
      type: object
    GoogleCloudMlV1__EnvVar:
      description: Represents an environment variable to be made available in a container. This message is a subset of the [Kubernetes EnvVar v1 core specification](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#envvar-v1-core).
      properties:
        name:
          description: Name of the environment variable. Must be a [valid C identifier](https://github.com/kubernetes/kubernetes/blob/v1.18.8/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L258) and must not begin with the prefix `AIP_`.
          type: string
        value:
          description: "Value of the environment variable. Defaults to an empty string. In this field, you can reference [environment variables set by AI Platform Prediction](/ai-platform/prediction/docs/custom-container-requirements#aip-variables) and environment variables set earlier in the same env field as where this message occurs. You cannot reference environment variables set in the Docker image. In order for environment variables to be expanded, reference them by using the following syntax: $(VARIABLE_NAME) Note that this differs from Bash variable expansion, which does not use parentheses. If a variable cannot be resolved, the reference in the input string is used unchanged. To avoid variable expansion, you can escape this syntax with `$$`; for example: $$(VARIABLE_NAME)"
          type: string
      type: object
    GoogleCloudMlV1__ExplainRequest:
      description: Request for explanations to be issued against a trained model.
      properties:
        httpBody:
          $ref: "#/components/schemas/GoogleApi__HttpBody"
          description: Required. The explanation request body.
      type: object
    GoogleCloudMlV1__ExplanationConfig:
      description: "Message holding configuration options for explaining model predictions. There are three feature attribution methods supported for TensorFlow models: integrated gradients, sampled Shapley, and XRAI. [Learn more about feature attributions.](/ai-platform/prediction/docs/ai-explanations/overview)"
      properties:
        integratedGradientsAttribution:
          $ref: "#/components/schemas/GoogleCloudMlV1__IntegratedGradientsAttribution"
          description: "Attributes credit by computing the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365"
        sampledShapleyAttribution:
          $ref: "#/components/schemas/GoogleCloudMlV1__SampledShapleyAttribution"
          description: An attribution method that approximates Shapley values for features that contribute to the label being predicted. A sampling strategy is used to approximate the value rather than considering all subsets of features.
        xraiAttribution:
          $ref: "#/components/schemas/GoogleCloudMlV1__XraiAttribution"
          description: "Attributes credit by computing the XRAI taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 Currently only implemented for models with natural image inputs."
      type: object
    GoogleCloudMlV1__GetConfigResponse:
      description: Returns service account information associated with a project.
      properties:
        config:
          $ref: "#/components/schemas/GoogleCloudMlV1__Config"
        serviceAccount:
          description: The service account Cloud ML uses to access resources in the project.
          type: string
        serviceAccountProject:
          description: The project number for `service_account`.
          format: int64
          type: string
      type: object
    GoogleCloudMlV1__HyperparameterOutput:
      description: Represents the result of a single hyperparameter tuning trial from a training job. The TrainingOutput object that is returned on successful completion of a training job with hyperparameter tuning includes a list of HyperparameterOutput objects, one for each successful trial.
      properties:
        allMetrics:
          description: All recorded object metrics for this trial. This field is not currently populated.
          items:
            $ref: "#/components/schemas/GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric"
          type: array
        builtInAlgorithmOutput:
          $ref: "#/components/schemas/GoogleCloudMlV1__BuiltInAlgorithmOutput"
          description: Details related to built-in algorithms jobs. Only set for trials of built-in algorithms jobs that have succeeded.
        endTime:
          description: Output only. End time for the trial.
          format: google-datetime
          type: string
        finalMetric:
          $ref: "#/components/schemas/GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric"
          description: The final objective metric seen for this trial.
        hyperparameters:
          additionalProperties:
            type: string
          description: The hyperparameters given to this trial.
          type: object
        isTrialStoppedEarly:
          description: True if the trial is stopped early.
          type: boolean
        startTime:
          description: Output only. Start time for the trial.
          format: google-datetime
          type: string
        state:
          description: Output only. The detailed state of the trial.
          enum:
            - STATE_UNSPECIFIED
            - QUEUED
            - PREPARING
            - RUNNING
            - SUCCEEDED
            - FAILED
            - CANCELLING
            - CANCELLED
          type: string
        trialId:
          description: The trial id for these results.
          type: string
        webAccessUris:
          additionalProperties:
            type: string
          description: URIs for accessing [interactive shells](https://cloud.google.com/ai-platform/training/docs/monitor-debug-interactive-shell) (one URI for each training node). Only available if this trial is part of a hyperparameter tuning job and the job's training_input.enable_web_access is `true`. The keys are names of each node in the training job; for example, `master-replica-0` for the master node, `worker-replica-0` for the first worker, and `ps-replica-0` for the first parameter server. The values are the URIs for each node's interactive shell.
          type: object
      type: object
    GoogleCloudMlV1__HyperparameterSpec:
      description: Represents a set of hyperparameters to optimize.
      properties:
        algorithm:
          description: Optional. The search algorithm specified for the hyperparameter tuning job. Uses the default AI Platform hyperparameter tuning algorithm if unspecified.
          enum:
            - ALGORITHM_UNSPECIFIED
            - GRID_SEARCH
            - RANDOM_SEARCH
          type: string
        enableTrialEarlyStopping:
          description: Optional. Indicates if the hyperparameter tuning job enables auto trial early stopping.
          type: boolean
        goal:
          description: Required. The type of goal to use for tuning. Available types are `MAXIMIZE` and `MINIMIZE`. Defaults to `MAXIMIZE`.
          enum:
            - GOAL_TYPE_UNSPECIFIED
            - MAXIMIZE
            - MINIMIZE
          type: string
        hyperparameterMetricTag:
          description: Optional. The TensorFlow summary tag name to use for optimizing trials. For current versions of TensorFlow, this tag name should exactly match what is shown in TensorBoard, including all scopes. For versions of TensorFlow prior to 0.12, this should be only the tag passed to tf.Summary. By default, "training/hptuning/metric" will be used.
          type: string
        maxFailedTrials:
          description: Optional. The number of failed trials that need to be seen before failing the hyperparameter tuning job. You can specify this field to override the default failing criteria for AI Platform hyperparameter tuning jobs. Defaults to zero, which means the service decides when a hyperparameter job should fail.
          format: int32
          type: integer
        maxParallelTrials:
          description: Optional. The number of training trials to run concurrently. You can reduce the time it takes to perform hyperparameter tuning by adding trials in parallel. However, each trail only benefits from the information gained in completed trials. That means that a trial does not get access to the results of trials running at the same time, which could reduce the quality of the overall optimization. Each trial will use the same scale tier and machine types. Defaults to one.
          format: int32
          type: integer
        maxTrials:
          description: Optional. How many training trials should be attempted to optimize the specified hyperparameters. Defaults to one.
          format: int32
          type: integer
        params:
          description: Required. The set of parameters to tune.
          items:
            $ref: "#/components/schemas/GoogleCloudMlV1__ParameterSpec"
          type: array
        resumePreviousJobId:
          description: Optional. The prior hyperparameter tuning job id that users hope to continue with. The job id will be used to find the corresponding vizier study guid and resume the study.
          type: string
      type: object
    GoogleCloudMlV1__IntegratedGradientsAttribution:
      description: "Attributes credit by computing the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365"
      properties:
        numIntegralSteps:
          description: Number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is met within the desired error range.
          format: int32
          type: integer
      type: object
    GoogleCloudMlV1__Job:
      description: Represents a training or prediction job.
      properties:
        createTime:
          description: Output only. When the job was created.
          format: google-datetime
          type: string
        endTime:
          description: Output only. When the job processing was completed.
          format: google-datetime
          type: string
        errorMessage:
          description: Output only. The details of a failure or a cancellation.
          type: string
        etag:
          description: "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a job from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform job updates in order to avoid race conditions: An `etag` is returned in the response to `GetJob`, and systems are expected to put that etag in the request to `UpdateJob` to ensure that their change will be applied to the same version of the job."
          format: byte
          type: string
        jobId:
          description: Required. The user-specified id of the job.
          type: string
        jobPosition:
          description: Output only. It's only effect when the job is in QUEUED state. If it's positive, it indicates the job's position in the job scheduler. It's 0 when the job is already scheduled.
          format: int64
          readOnly: true
          type: string
        labels:
          additionalProperties:
            type: string
          description: Optional. One or more labels that you can add, to organize your jobs. Each label is a key-value pair, where both the key and the value are arbitrary strings that you supply. For more information, see the documentation on using labels.
          type: object
        predictionInput:
          $ref: "#/components/schemas/GoogleCloudMlV1__PredictionInput"
          description: Input parameters to create a prediction job.
        predictionOutput:
          $ref: "#/components/schemas/GoogleCloudMlV1__PredictionOutput"
          description: The current prediction job result.
        startTime:
          description: Output only. When the job processing was started.
          format: google-datetime
          type: string
        state:
          description: Output only. The detailed state of a job.
          enum:
            - STATE_UNSPECIFIED
            - QUEUED
            - PREPARING
            - RUNNING
            - SUCCEEDED
            - FAILED
            - CANCELLING
            - CANCELLED
          type: string
        trainingInput:
          $ref: "#/components/schemas/GoogleCloudMlV1__TrainingInput"
          description: Input parameters to create a training job.
        trainingOutput:
          $ref: "#/components/schemas/GoogleCloudMlV1__TrainingOutput"
          description: The current training job result.
      type: object
    GoogleCloudMlV1__ListJobsResponse:
      description: Response message for the ListJobs method.
      properties:
        jobs:
          description: The list of jobs.
          items:
            $ref: "#/components/schemas/GoogleCloudMlV1__Job"
          type: array
        nextPageToken:
          description: Optional. Pass this token as the `page_token` field of the request for a subsequent call.
          type: string
      type: object
    GoogleCloudMlV1__ListLocationsResponse:
      properties:
        locations:
          description: Locations where at least one type of CMLE capability is available.
          items:
            $ref: "#/components/schemas/GoogleCloudMlV1__Location"
          type: array
        nextPageToken:
          description: Optional. Pass this token as the `page_token` field of the request for a subsequent call.
          type: string
      type: object
    GoogleCloudMlV1__ListModelsResponse:
      description: Response message for the ListModels method.
      properties:
        models:
          description: The list of models.
          items:
            $ref: "#/components/schemas/GoogleCloudMlV1__Model"
          type: array
        nextPageToken:
          description: Optional. Pass this token as the `page_token` field of the request for a subsequent call.
          type: string
      type: object
    GoogleCloudMlV1__ListOptimalTrialsRequest:
      description: The request message for the ListTrials service method.
      properties: {}
      type: object
    GoogleCloudMlV1__ListOptimalTrialsResponse:
      description: The response message for the ListOptimalTrials method.
      properties:
        trials:
          description: The pareto-optimal trials for multiple objective study or the optimal trial for single objective study. The definition of pareto-optimal can be checked in wiki page. https://en.wikipedia.org/wiki/Pareto_efficiency
          items:
            $ref: "#/components/schemas/GoogleCloudMlV1__Trial"
          type: array
      type: object
    GoogleCloudMlV1__ListStudiesResponse:
      properties:
        studies:
          description: The studies associated with the project.
          items:
            $ref: "#/components/schemas/GoogleCloudMlV1__Study"
          type: array
      type: object
    GoogleCloudMlV1__ListTrialsResponse:
      description: The response message for the ListTrials method.
      properties:
        trials:
          description: The trials associated with the study.
          items:
            $ref: "#/components/schemas/GoogleCloudMlV1__Trial"
          type: array
      type: object
    GoogleCloudMlV1__ListVersionsResponse:
      description: Response message for the ListVersions method.
      properties:
        nextPageToken:
          description: Optional. Pass this token as the `page_token` field of the request for a subsequent call.
          type: string
        versions:
          description: The list of versions.
          items:
            $ref: "#/components/schemas/GoogleCloudMlV1__Version"
          type: array
      type: object
    GoogleCloudMlV1__Location:
      properties:
        capabilities:
          description: Capabilities available in the location.
          items:
            $ref: "#/components/schemas/GoogleCloudMlV1__Capability"
          type: array
        name:
          type: string
      type: object
    GoogleCloudMlV1__ManualScaling:
      description: Options for manually scaling a model.
      properties:
        nodes:
          description: The number of nodes to allocate for this model. These nodes are always up, starting from the time the model is deployed, so the cost of operating this model will be proportional to `nodes` * number of hours since last billing cycle plus the cost for each prediction performed.
          format: int32
          type: integer
      type: object
    GoogleCloudMlV1__Measurement:
      description: A message representing a measurement.
      properties:
        elapsedTime:
          description: Output only. Time that the trial has been running at the point of this measurement.
          format: google-duration
          type: string
        metrics:
          description: Provides a list of metrics that act as inputs into the objective function.
          items:
            $ref: "#/components/schemas/GoogleCloudMlV1_Measurement_Metric"
          type: array
        stepCount:
          description: The number of steps a machine learning model has been trained for. Must be non-negative.
          format: int64
          type: string
      type: object
    GoogleCloudMlV1__MetricSpec:
      description: MetricSpec contains the specifications to use to calculate the desired nodes count when autoscaling is enabled.
      properties:
        name:
          description: metric name.
          enum:
            - METRIC_NAME_UNSPECIFIED
            - CPU_USAGE
            - GPU_DUTY_CYCLE
          type: string
        target:
          description: Target specifies the target value for the given metric; once real metric deviates from the threshold by a certain percentage, the node count changes.
          format: int32
          type: integer
      type: object
    GoogleCloudMlV1__Model:
      description: Represents a machine learning solution. A model can have multiple versions, each of which is a deployed, trained model ready to receive prediction requests. The model itself is just a container.
      properties:
        defaultVersion:
          $ref: "#/components/schemas/GoogleCloudMlV1__Version"
          description: Output only. The default version of the model. This version will be used to handle prediction requests that do not specify a version. You can change the default version by calling projects.models.versions.setDefault.
        description:
          description: Optional. The description specified for the model when it was created.
          type: string
        etag:
          description: "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a model from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform model updates in order to avoid race conditions: An `etag` is returned in the response to `GetModel`, and systems are expected to put that etag in the request to `UpdateModel` to ensure that their change will be applied to the model as intended."
          format: byte
          type: string
        labels:
          additionalProperties:
            type: string
          description: Optional. One or more labels that you can add, to organize your models. Each label is a key-value pair, where both the key and the value are arbitrary strings that you supply. For more information, see the documentation on using labels. Note that this field is not updatable for mls1* models.
          type: object
        name:
[...]
