openapi: 3.0.1
servers:
  - url: https://ip-messaging.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Ip_messaging
  version: 1.42.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_static1.twilio.com_marketing_bundles_marketing_img_logos_wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_ip_messaging_v2.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_ip_messaging_v2
paths:
  /v2/Credentials:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListCredential
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  credentials:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.credential"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListCredentialResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateCredential
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ApiKey:
                  description: ""
                  type: string
                Certificate:
                  description: ""
                  type: string
                FriendlyName:
                  description: ""
                  type: string
                PrivateKey:
                  description: ""
                  type: string
                Sandbox:
                  description: ""
                  type: boolean
                Secret:
                  description: ""
                  type: string
                Type:
                  $ref: "#/components/schemas/credential_enum_push_service"
                  description: ""
                  type: string
              required:
                - Type
              title: CreateCredentialRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.credential"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - type
      pathType: list
  "/v2/Credentials/{Sid}":
    delete:
      description: ""
      operationId: DeleteCredential
      parameters:
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CR[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchCredential
      parameters:
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CR[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.credential"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateCredential
      parameters:
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CR[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ApiKey:
                  description: ""
                  type: string
                Certificate:
                  description: ""
                  type: string
                FriendlyName:
                  description: ""
                  type: string
                PrivateKey:
                  description: ""
                  type: string
                Sandbox:
                  description: ""
                  type: boolean
                Secret:
                  description: ""
                  type: string
              title: UpdateCredentialRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.credential"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - type
      pathType: instance
  /v2/Services:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListService
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  services:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service"
                    type: array
                title: ListServiceResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateService
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: ""
                  type: string
              required:
                - FriendlyName
              title: CreateServiceRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - date_created
      pathType: list
  "/v2/Services/{ServiceSid}/Bindings":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListBinding
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: query
          name: BindingType
          schema:
            items:
              $ref: "#/components/schemas/binding_enum_binding_type"
              type: string
            type: array
        - description: ""
          in: query
          name: Identity
          schema:
            items:
              type: string
            type: array
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  bindings:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.binding"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListBindingResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - endpoint
        - identity
      parent: /Services/{Sid}
      pathType: list
  "/v2/Services/{ServiceSid}/Bindings/{Sid}":
    delete:
      description: ""
      operationId: DeleteBinding
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BS[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchBinding
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BS[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.binding"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - endpoint
        - identity
      parent: /Services/{Sid}
      pathType: instance
  "/v2/Services/{ServiceSid}/Channels":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListChannel
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: query
          name: Type
          schema:
            items:
              $ref: "#/components/schemas/channel_enum_channel_type"
              type: string
            type: array
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  channels:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.channel"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListChannelResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateChannel
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/channel_enum_webhook_enabled_type"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: ""
                  type: string
                CreatedBy:
                  description: ""
                  type: string
                DateCreated:
                  description: ""
                  format: date-time
                  type: string
                DateUpdated:
                  description: ""
                  format: date-time
                  type: string
                FriendlyName:
                  description: ""
                  type: string
                Type:
                  $ref: "#/components/schemas/channel_enum_channel_type"
                  description: ""
                  type: string
                UniqueName:
                  description: ""
                  type: string
              title: CreateChannelRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - friendly_name
      parent: /Services/{Sid}
      pathType: list
  "/v2/Services/{ServiceSid}/Channels/{ChannelSid}/Invites":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListInvite
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: query
          name: Identity
          schema:
            items:
              type: string
            type: array
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  invites:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.channel.invite"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListInviteResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateInvite
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Identity:
                  description: ""
                  type: string
                RoleSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
              required:
                - Identity
              title: CreateInviteRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.invite"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - identity
        - date_created
      parent: /Services/{ServiceSid}/Channels/{Sid}
      pathType: list
  "/v2/Services/{ServiceSid}/Channels/{ChannelSid}/Invites/{Sid}":
    delete:
      description: ""
      operationId: DeleteInvite
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IN[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchInvite
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.invite"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - identity
        - date_created
      parent: /Services/{ServiceSid}/Channels/{Sid}
      pathType: instance
  "/v2/Services/{ServiceSid}/Channels/{ChannelSid}/Members":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListMember
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: query
          name: Identity
          schema:
            items:
              type: string
            type: array
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  members:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.channel.member"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListMemberResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateMember
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/member_enum_webhook_enabled_type"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: ""
                  type: string
                DateCreated:
                  description: ""
                  format: date-time
                  type: string
                DateUpdated:
                  description: ""
                  format: date-time
                  type: string
                Identity:
                  description: ""
                  type: string
                LastConsumedMessageIndex:
                  description: ""
                  nullable: true
                  type: integer
                LastConsumptionTimestamp:
                  description: ""
                  format: date-time
                  type: string
                RoleSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
              required:
                - Identity
              title: CreateMemberRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.member"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - identity
        - date_created
      parent: /Services/{ServiceSid}/Channels/{Sid}
      pathType: list
  "/v2/Services/{ServiceSid}/Channels/{ChannelSid}/Members/{Sid}":
    delete:
      description: ""
      operationId: DeleteMember
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/member_enum_webhook_enabled_type"
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchMember
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.member"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateMember
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/member_enum_webhook_enabled_type"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: ""
                  type: string
                DateCreated:
                  description: ""
                  format: date-time
                  type: string
                DateUpdated:
                  description: ""
                  format: date-time
                  type: string
                LastConsumedMessageIndex:
                  description: ""
                  nullable: true
                  type: integer
                LastConsumptionTimestamp:
                  description: ""
                  format: date-time
                  type: string
                RoleSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
              title: UpdateMemberRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.member"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - identity
        - date_created
      parent: /Services/{ServiceSid}/Channels/{Sid}
      pathType: instance
  "/v2/Services/{ServiceSid}/Channels/{ChannelSid}/Messages":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListMessage
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: query
          name: Order
          schema:
            $ref: "#/components/schemas/message_enum_order_type"
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  messages:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.channel.message"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListMessageResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateMessage
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/message_enum_webhook_enabled_type"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: ""
                  type: string
                Body:
                  description: ""
                  type: string
                DateCreated:
                  description: ""
                  format: date-time
                  type: string
                DateUpdated:
                  description: ""
                  format: date-time
                  type: string
                From:
                  description: ""
                  type: string
                LastUpdatedBy:
                  description: ""
                  type: string
                MediaSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^ME[0-9a-fA-F]{32}$
                  type: string
              title: CreateMessageRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.message"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - from
        - to
        - date_created
      parent: /Services/{ServiceSid}/Channels/{Sid}
      pathType: list
  "/v2/Services/{ServiceSid}/Channels/{ChannelSid}/Messages/{Sid}":
    delete:
      description: ""
      operationId: DeleteMessage
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IM[0-9a-fA-F]{32}$
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/message_enum_webhook_enabled_type"
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchMessage
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IM[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.message"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateMessage
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IM[0-9a-fA-F]{32}$
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/message_enum_webhook_enabled_type"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: ""
                  type: string
                Body:
                  description: ""
                  type: string
                DateCreated:
                  description: ""
                  format: date-time
                  type: string
                DateUpdated:
                  description: ""
                  format: date-time
                  type: string
                From:
                  description: ""
                  type: string
                LastUpdatedBy:
                  description: ""
                  type: string
              title: UpdateMessageRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.message"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - from
        - to
        - date_created
      parent: /Services/{ServiceSid}/Channels/{Sid}
      pathType: instance
  "/v2/Services/{ServiceSid}/Channels/{ChannelSid}/Webhooks":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListChannelWebhook
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  webhooks:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.channel.channel_webhook"
                    type: array
                title: ListChannelWebhookResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateChannelWebhook
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Configuration.Filters:
                  description: ""
                  items:
                    type: string
                  type: array
                Configuration.FlowSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^FW[0-9a-fA-F]{32}$
                  type: string
                Configuration.Method:
                  $ref: "#/components/schemas/channel_webhook_enum_method"
                  description: ""
                  type: string
                Configuration.RetryCount:
                  description: ""
                  type: integer
                Configuration.Triggers:
                  description: ""
                  items:
                    type: string
                  type: array
                Configuration.Url:
                  description: ""
                  type: string
                Type:
                  $ref: "#/components/schemas/channel_webhook_enum_type"
                  description: ""
                  type: string
              required:
                - Type
              title: CreateChannelWebhookRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.channel_webhook"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - configuration
      parent: /Services/{ServiceSid}/Channels/{Sid}
      pathType: list
  "/v2/Services/{ServiceSid}/Channels/{ChannelSid}/Webhooks/{Sid}":
    delete:
      description: ""
      operationId: DeleteChannelWebhook
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WH[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchChannelWebhook
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WH[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.channel_webhook"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateChannelWebhook
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WH[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Configuration.Filters:
                  description: ""
                  items:
                    type: string
                  type: array
                Configuration.FlowSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^FW[0-9a-fA-F]{32}$
                  type: string
                Configuration.Method:
                  $ref: "#/components/schemas/channel_webhook_enum_method"
                  description: ""
                  type: string
                Configuration.RetryCount:
                  description: ""
                  type: integer
                Configuration.Triggers:
                  description: ""
                  items:
                    type: string
                  type: array
                Configuration.Url:
                  description: ""
                  type: string
              title: UpdateChannelWebhookRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.channel_webhook"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - configuration
      parent: /Services/{ServiceSid}/Channels/{Sid}
      pathType: instance
  "/v2/Services/{ServiceSid}/Channels/{Sid}":
    delete:
      description: ""
      operationId: DeleteChannel
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/channel_enum_webhook_enabled_type"
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchChannel
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateChannel
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/channel_enum_webhook_enabled_type"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: ""
                  type: string
                CreatedBy:
                  description: ""
                  type: string
                DateCreated:
                  description: ""
                  format: date-time
                  type: string
                DateUpdated:
                  description: ""
                  format: date-time
                  type: string
                FriendlyName:
                  description: ""
                  type: string
                UniqueName:
                  description: ""
                  type: string
              title: UpdateChannelRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - unique_name
        - friendly_name
      parent: /Services/{Sid}
      pathType: instance
  "/v2/Services/{ServiceSid}/Roles":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListRole
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  roles:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.role"
                    type: array
                title: ListRoleResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateRole
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: ""
                  type: string
                Permission:
                  description: ""
                  items:
                    type: string
                  type: array
                Type:
                  $ref: "#/components/schemas/role_enum_role_type"
                  description: ""
                  type: string
              required:
                - FriendlyName
                - Type
                - Permission
              title: CreateRoleRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.role"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - type
      parent: /Services/{Sid}
      pathType: list
  "/v2/Services/{ServiceSid}/Roles/{Sid}":
    delete:
      description: ""
      operationId: DeleteRole
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RL[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchRole
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RL[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.role"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateRole
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RL[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Permission:
                  description: ""
                  items:
                    type: string
                  type: array
              required:
                - Permission
              title: UpdateRoleRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.role"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - type
      parent: /Services/{Sid}
      pathType: instance
  "/v2/Services/{ServiceSid}/Users":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListUser
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  users:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.user"
                    type: array
                title: ListUserResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateUser
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/user_enum_webhook_enabled_type"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: ""
                  type: string
                FriendlyName:
                  description: ""
                  type: string
                Identity:
                  description: ""
                  type: string
                RoleSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
              required:
                - Identity
              title: CreateUserRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.user"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - identity
        - date_created
      parent: /Services/{Sid}
      pathType: list
  "/v2/Services/{ServiceSid}/Users/{Sid}":
    delete:
      description: ""
      operationId: DeleteUser
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchUser
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.user"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateUser
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            $ref: "#/components/schemas/user_enum_webhook_enabled_type"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: ""
                  type: string
                FriendlyName:
                  description: ""
                  type: string
                RoleSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
              title: UpdateUserRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.user"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - identity
        - date_created
      parent: /Services/{Sid}
      pathType: instance
  "/v2/Services/{ServiceSid}/Users/{UserSid}/Bindings":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListUserBinding
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: UserSid
          required: true
          schema:
            type: string
        - description: ""
          in: query
          name: BindingType
          schema:
            items:
              $ref: "#/components/schemas/user_binding_enum_binding_type"
              type: string
            type: array
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  bindings:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.user.user_binding"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListUserBindingResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - endpoint
        - identity
        - binding_type
      mountName: user_bindings
      parent: /Services/{ServiceSid}/Users/{Sid}
      pathType: list
  "/v2/Services/{ServiceSid}/Users/{UserSid}/Bindings/{Sid}":
    delete:
      description: ""
      operationId: DeleteUserBinding
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: UserSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BS[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchUserBinding
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: UserSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BS[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.user.user_binding"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - endpoint
        - identity
        - binding_type
      mountName: user_bindings
      parent: /Services/{ServiceSid}/Users/{Sid}
      pathType: instance
  "/v2/Services/{ServiceSid}/Users/{UserSid}/Channels":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListUserChannel
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: UserSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  channels:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.user.user_channel"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListUserChannelResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - channel_sid
        - status
      mountName: user_channels
      parent: /Services/{ServiceSid}/Users/{Sid}
      pathType: list
  "/v2/Services/{ServiceSid}/Users/{UserSid}/Channels/{ChannelSid}":
    delete:
      description: ""
      operationId: DeleteUserChannel
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: UserSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchUserChannel
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: UserSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.user.user_channel"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateUserChannel
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: UserSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                LastConsumedMessageIndex:
                  description: ""
                  nullable: true
                  type: integer
                LastConsumptionTimestamp:
                  description: ""
                  format: date-time
                  type: string
                NotificationLevel:
                  $ref: "#/components/schemas/user_channel_enum_notification_level"
                  description: ""
                  type: string
              title: UpdateUserChannelRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.user.user_channel"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - channel_sid
        - status
      mountName: user_channels
      parent: /Services/{ServiceSid}/Users/{Sid}
      pathType: instance
  "/v2/Services/{Sid}":
    delete:
      description: ""
      operationId: DeleteService
      parameters:
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchService
      parameters:
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateService
      parameters:
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ConsumptionReportInterval:
                  description: ""
                  type: integer
                DefaultChannelCreatorRoleSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
                DefaultChannelRoleSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
                DefaultServiceRoleSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
                FriendlyName:
                  description: ""
                  type: string
                Limits.ChannelMembers:
                  description: ""
                  type: integer
                Limits.UserChannels:
                  description: ""
                  type: integer
                Media.CompatibilityMessage:
                  description: ""
                  type: string
                Notifications.AddedToChannel.Enabled:
                  description: ""
                  type: boolean
                Notifications.AddedToChannel.Sound:
                  description: ""
                  type: string
                Notifications.AddedToChannel.Template:
                  description: ""
                  type: string
                Notifications.InvitedToChannel.Enabled:
                  description: ""
                  type: boolean
                Notifications.InvitedToChannel.Sound:
                  description: ""
                  type: string
                Notifications.InvitedToChannel.Template:
                  description: ""
                  type: string
                Notifications.LogEnabled:
                  description: ""
                  type: boolean
                Notifications.NewMessage.BadgeCountEnabled:
                  description: ""
                  type: boolean
                Notifications.NewMessage.Enabled:
                  description: ""
                  type: boolean
                Notifications.NewMessage.Sound:
                  description: ""
                  type: string
                Notifications.NewMessage.Template:
                  description: ""
                  type: string
                Notifications.RemovedFromChannel.Enabled:
                  description: ""
                  type: boolean
                Notifications.RemovedFromChannel.Sound:
                  description: ""
                  type: string
                Notifications.RemovedFromChannel.Template:
                  description: ""
                  type: string
                PostWebhookRetryCount:
                  description: ""
                  type: integer
                PostWebhookUrl:
                  description: ""
                  format: uri
                  type: string
                PreWebhookRetryCount:
                  description: ""
                  type: integer
                PreWebhookUrl:
                  description: ""
                  format: uri
                  type: string
                ReachabilityEnabled:
                  description: ""
                  type: boolean
                ReadStatusEnabled:
                  description: ""
                  type: boolean
                TypingIndicatorTimeout:
                  description: ""
                  type: integer
                WebhookFilters:
                  description: ""
                  items:
                    type: string
                  type: array
                WebhookMethod:
                  description: ""
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  format: http-method
                  type: string
              title: UpdateServiceRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - date_created
      pathType: instance
components:
  schemas:
    binding_enum_binding_type:
      enum:
        - gcm
        - apn
        - fcm
      type: string
    channel_enum_channel_type:
      enum:
        - public
        - private
      type: string
    channel_enum_webhook_enabled_type:
      enum:
        - "true"
        - "false"
      type: string
    channel_webhook_enum_method:
      enum:
        - GET
        - POST
      type: string
    channel_webhook_enum_type:
      enum:
        - webhook
        - trigger
        - studio
      type: string
    credential_enum_push_service:
      enum:
        - gcm
        - apn
        - fcm
      type: string
    ip_messaging.v2.credential:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          nullable: true
          type: string
        date_updated:
          format: date-time
          nullable: true
          type: string
        friendly_name:
          nullable: true
          type: string
        sandbox:
          nullable: true
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CR[0-9a-fA-F]{32}$
          type: string
        type:
          $ref: "#/components/schemas/credential_enum_push_service"
          nullable: true
          type: string
        url:
          format: uri
          nullable: true
          type: string
      type: object
    ip_messaging.v2.service:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        consumption_report_interval:
          nullable: true
          type: integer
        date_created:
          format: date-time
          nullable: true
          type: string
        date_updated:
          format: date-time
          nullable: true
          type: string
        default_channel_creator_role_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^RL[0-9a-fA-F]{32}$
          type: string
        default_channel_role_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^RL[0-9a-fA-F]{32}$
          type: string
        default_service_role_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^RL[0-9a-fA-F]{32}$
          type: string
        friendly_name:
          nullable: true
          type: string
        limits:
          nullable: true
        links:
          format: uri-map
          nullable: true
          type: object
        media:
          nullable: true
        notifications:
          nullable: true
        post_webhook_retry_count:
          nullable: true
          type: integer
        post_webhook_url:
          nullable: true
          type: string
        pre_webhook_retry_count:
          nullable: true
          type: integer
        pre_webhook_url:
          nullable: true
          type: string
        reachability_enabled:
          nullable: true
          type: boolean
        read_status_enabled:
          nullable: true
          type: boolean
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        typing_indicator_timeout:
          nullable: true
          type: integer
        url:
          format: uri
          nullable: true
          type: string
        webhook_filters:
          items:
            type: string
          nullable: true
          type: array
        webhook_method:
          nullable: true
          type: string
      type: object
    ip_messaging.v2.service.binding:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        binding_type:
          $ref: "#/components/schemas/binding_enum_binding_type"
          nullable: true
          type: string
        credential_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CR[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          nullable: true
          type: string
        date_updated:
          format: date-time
          nullable: true
          type: string
        endpoint:
          nullable: true
          type: string
        identity:
          nullable: true
          type: string
        links:
          format: uri-map
          nullable: true
          type: object
        message_types:
          items:
            type: string
          nullable: true
          type: array
        service_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^BS[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          nullable: true
          type: string
      type: object
    ip_messaging.v2.service.channel:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        attributes:
          nullable: true
          type: string
        created_by:
          nullable: true
          type: string
        date_created:
          format: date-time
          nullable: true
          type: string
        date_updated:
          format: date-time
          nullable: true
          type: string
        friendly_name:
          nullable: true
          type: string
        links:
          format: uri-map
          nullable: true
          type: object
        members_count:
          nullable: true
          type: integer
        messages_count:
          nullable: true
          type: integer
        service_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CH[0-9a-fA-F]{32}$
          type: string
        type:
          $ref: "#/components/schemas/channel_enum_channel_type"
          nullable: true
          type: string
        unique_name:
          nullable: true
          type: string
        url:
          format: uri
          nullable: true
          type: string
      type: object
    ip_messaging.v2.service.channel.channel_webhook:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        channel_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CH[0-9a-fA-F]{32}$
          type: string
        configuration:
          nullable: true
        date_created:
          format: date-time
          nullable: true
          type: string
        date_updated:
          format: date-time
          nullable: true
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^WH[0-9a-fA-F]{32}$
          type: string
        type:
          nullable: true
          type: string
        url:
          format: uri
          nullable: true
          type: string
      type: object
    ip_messaging.v2.service.channel.invite:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        channel_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CH[0-9a-fA-F]{32}$
          type: string
        created_by:
          nullable: true
          type: string
        date_created:
          format: date-time
          nullable: true
          type: string
        date_updated:
          format: date-time
          nullable: true
          type: string
        identity:
          nullable: true
          type: string
        role_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^RL[0-9a-fA-F]{32}$
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^IN[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          nullable: true
          type: string
      type: object
    ip_messaging.v2.service.channel.member:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        attributes:
          nullable: true
          type: string
        channel_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CH[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          nullable: true
          type: string
        date_updated:
          format: date-time
          nullable: true
          type: string
        identity:
          nullable: true
          type: string
        last_consumed_message_index:
          nullable: true
          type: integer
        last_consumption_timestamp:
          format: date-time
          nullable: true
          type: string
        role_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^RL[0-9a-fA-F]{32}$
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^MB[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          nullable: true
          type: string
      type: object
    ip_messaging.v2.service.channel.message:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        attributes:
          nullable: true
          type: string
        body:
          nullable: true
          type: string
        channel_sid:
          maxLength: 34
          minLength: 34
[...]
