swagger: '2.0'
schemes:
  - https
host: firefox.settings.services.mozilla.com
basePath: /v1
info:
  description: |-
    Kinto is a minimalist JSON storage service with synchronisation and sharing abilities. It is meant to be easy to use and easy to self-host.

    **Note:** This OpenAPI specification is not fully compliant with the Kinto API and contain some undocumented Swagger schemas. For a list of known limitations please refer to the [Oficial Kinto documentation](kinto.readthedocs.io/en/stable/api/1.x/openapi.html).
  license:
    name: Apache License (2.0)
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
  title: kinto
  version: '1.14'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://cloud.githubusercontent.com/assets/21603/24036792/23286ed2-0af3-11e7-9353-7a772636dee1.png'
  x-origin:
    - format: swagger
      url: 'https://firefox.settings.services.mozilla.com/v1/__api__'
      version: '2.0'
  x-providerName: mozilla.com
  x-serviceName: kinto
externalDocs:
  description: Full Documentation
  url: 'http://kinto.readthedocs.io'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  basicAuth:
    description: HTTP Basic Authentication.
    type: basic
security:
  - basicAuth: []
parameters:
  If-Match:
    description: 'Provide a timestamp to see if a resource has changed, avoid changes and returns 412 if it does.'
    in: header
    name: If-Match
    pattern: '\"[0-9]+\"'
    required: false
    type: string
  If-None-Match:
    description: 'Provide a timestamp to see if a resource has changed, avoid overwriting objects with the same id if it does. Returns 304 with empty body if nothing has changed.'
    in: header
    name: If-None-Match
    pattern: '\"[0-9]+\"'
    required: false
    type: string
  _before:
    description: Get entries before a timestamp.
    in: query
    name: _before
    required: false
    type: integer
  _fields:
    collectionFormat: csv
    description: Fields to compose response (id and last_modified are always returned).
    in: query
    items:
      type: string
    name: _fields
    required: false
    type: array
  _limit:
    description: Limit objects on a list.
    in: query
    name: _limit
    required: false
    type: integer
  _since:
    description: Get entries after a timestamp.
    in: query
    name: _since
    required: false
    type: integer
  _sort:
    collectionFormat: csv
    description: Comma separeted list of fields to sort ascending on a list (use -field to sort descending).
    in: query
    items:
      type: string
    name: _sort
    required: false
    type: array
  _token:
    description: Continuation token of a limited list.
    in: query
    name: _token
    required: false
    type: string
  batch:
    description: Batch operation properties.
    in: body
    name: batch
    required: true
    schema:
      properties:
        defaults:
          properties:
            body:
              description: Request body to be used on all requests.
              properties:
                data:
                  additionalProperties: {}
                  properties:
                    id:
                      type: string
                    last_modified:
                      type: integer
                  type: object
                permissions:
                  additionalProperties: {}
                  properties:
                    read:
                      items:
                        type: string
                      type: array
                      uniqueItems: true
                    write:
                      items:
                        type: string
                      type: array
                      uniqueItems: true
                  type: object
              type: object
            headers:
              additionalProperties:
                type: string
              type: object
            method:
              description: HTTP method to be used on all requests.
              enum:
                - GET
                - POST
                - PUT
                - PATCH
                - DELETE
              type: string
            path:
              description: URL path to be used on all requests.
              type: string
          type: object
        requests:
          description: List of operations that should be performed.
          items:
            properties:
              body:
                description: Request body.
                properties:
                  data:
                    additionalProperties: {}
                    properties:
                      id:
                        type: string
                      last_modified:
                        type: integer
                    type: object
                  permissions:
                    additionalProperties: {}
                    properties:
                      read:
                        items:
                          type: string
                        type: array
                        uniqueItems: true
                      write:
                        items:
                          type: string
                        type: array
                        uniqueItems: true
                    type: object
                type: object
              headers:
                additionalProperties:
                  type: string
                type: object
              method:
                description: HTTP method of the request.
                enum:
                  - GET
                  - POST
                  - PUT
                  - PATCH
                  - DELETE
                type: string
              path:
                description: URL path of the request.
                type: string
            type: object
          type: array
      type: object
  bucket:
    description: Bucket information.
    in: body
    name: bucket
    required: false
    schema:
      $ref: '#/definitions/Bucket'
  collection:
    description: Collection information.
    in: body
    name: collection
    required: false
    schema:
      $ref: '#/definitions/Collection'
  group:
    description: Group information.
    in: body
    name: group
    required: true
    schema:
      $ref: '#/definitions/Group'
  record:
    description: Record information.
    in: body
    name: record
    required: false
    schema:
      $ref: '#/definitions/Record'
responses:
  batch-200:
    description: Operation responses.
    schema:
      properties:
        responses:
          items:
            properties:
              body:
                type: object
              headers:
                type: object
              path:
                type: string
              status:
                type: integer
            type: object
          type: array
      type: object
  batch-400:
    description: The request body is invalid.
    schema:
      $ref: '#/definitions/Error'
  bucket-get-200:
    description: Return matched bucket.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Bucket'
  bucket-patch-200:
    description: Return updated bucket.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Bucket'
  bucket-post-200:
    description: Return an existing bucket.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Bucket'
  bucket-post-201:
    description: Return created bucket.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Bucket'
  bucket-put-200:
    description: Return replaced bucket.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Bucket'
  bucket-put-201:
    description: Return created Bucket.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Bucket'
  collection-get-200:
    description: Return matched collection.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Collection'
  collection-patch-200:
    description: Return updated collection.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Collection'
  collection-post-200:
    description: Return an existing collection.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Collection'
  collection-post-201:
    description: Return created collection.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Collection'
  collection-put-200:
    description: Return replaced collection.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Collection'
  collection-put-201:
    description: Return created collection.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Collection'
  default:
    description: The response doesn't match any of the documented cases.
    headers:
      Backoff:
        default: 30
        description: Time (in seconds) that a client should avoid doing unnecessary requests. Added when the server is in heavy load.
        type: integer
      ETag:
        default: '"123456789"'
        description: Integer timestamp. Matches the `last_modified` field.
        pattern: '\"[0-9]+\"'
        type: string
      Last-Modified:
        default: 'Mon, 12 Dec 2016 23:45:14 GMT'
        description: '`last_modified` field in human-readable format.'
        format: dateTime
        type: string
    schema:
      additionalProperties: {}
      type: object
  group-get-200:
    description: Return matched group.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Group'
  group-patch-200:
    description: Return updated group.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Group'
  group-post-200:
    description: Return an existing group.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Group'
  group-post-201:
    description: Return created group.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Group'
  group-put-200:
    description: Return replaced group.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Group'
  group-put-201:
    description: Return created group.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Group'
  list-delete-200:
    description: The objects were deleted.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
      Total-Records:
        description: Number of objects on the list.
        type: integer
    schema:
      $ref: '#/definitions/List'
  list-delete-400:
    description: The request body is invalid.
    schema:
      $ref: '#/definitions/Error'
  list-delete-401:
    description: The request is missing authentication headers.
    schema:
      $ref: '#/definitions/Error'
  list-delete-403:
    description: 'The user is not allowed to perform the operation, or the resource is not accessible.'
    schema:
      $ref: '#/definitions/Error'
  list-delete-405:
    description: This endpoint is not available.
    schema:
      $ref: '#/definitions/Error'
  list-delete-406:
    description: The client doesn't accept supported responses Content-Type.
    schema:
      $ref: '#/definitions/Error'
  list-delete-412:
    description: List has changed since value in ``If-Match`` header.
    schema:
      $ref: '#/definitions/Error'
  list-get-200:
    description: Return the requested object list.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
      Total-Records:
        description: Number of objects on the list.
        type: integer
    schema:
      $ref: '#/definitions/List'
  list-get-304:
    description: List has not changed since value in ``If-None-Match`` header.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
  list-get-400:
    description: The request headers or querystring are invalid.
    schema:
      $ref: '#/definitions/Error'
  list-get-401:
    description: The request is missing authentication headers.
    schema:
      $ref: '#/definitions/Error'
  list-get-403:
    description: 'The user is not allowed to perform the operation, or the resource is not accessible.'
    schema:
      $ref: '#/definitions/Error'
  list-get-406:
    description: The client doesn't accept supported responses Content-Type.
    schema:
      $ref: '#/definitions/Error'
  list-get-412:
    description: List has changed since value in ``If-Match`` header.
    schema:
      $ref: '#/definitions/Error'
  list-post-400:
    description: The request body is invalid
    schema:
      $ref: '#/definitions/Error'
  list-post-401:
    description: The request is missing authentication headers.
    schema:
      $ref: '#/definitions/Error'
  list-post-403:
    description: 'The user is not allowed to perform the operation, or the resource is not accessible.'
    schema:
      $ref: '#/definitions/Error'
  list-post-406:
    description: The client doesn't accept supported responses Content-Type.
    schema:
      $ref: '#/definitions/Error'
  list-post-412:
    description: List has changed since value in ``If-Match`` header.
    schema:
      $ref: '#/definitions/Error'
  list-post-415:
    description: The client request was not sent with a correct Content-Type.
    schema:
      $ref: '#/definitions/Error'
  object-delete-200:
    description: Return the deleted object.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Deleted'
  object-delete-400:
    description: The request headers are invalid.
    schema:
      $ref: '#/definitions/Error'
  object-delete-401:
    description: The request is missing authentication headers.
    schema:
      $ref: '#/definitions/Error'
  object-delete-403:
    description: 'The user is not allowed to perform the operation, or the resource is not accessible.'
    schema:
      $ref: '#/definitions/Error'
  object-delete-404:
    description: The object does not exist or was already deleted.
    schema:
      $ref: '#/definitions/Error'
  object-delete-406:
    description: The client doesn't accept supported responses Content-Type.
    schema:
      $ref: '#/definitions/Error'
  object-delete-412:
    description: Object changed or deleted since value in ``If-Match`` header.
    schema:
      $ref: '#/definitions/Error'
  object-get-304:
    description: Object did not change since value in ``If-None-Match`` header.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
  object-get-400:
    description: The request headers are invalid.
    schema:
      $ref: '#/definitions/Error'
  object-get-401:
    description: The request is missing authentication headers.
    schema:
      $ref: '#/definitions/Error'
  object-get-403:
    description: 'The user is not allowed to perform the operation, or the resource is not accessible.'
    schema:
      $ref: '#/definitions/Error'
  object-get-404:
    description: The object does not exist or was deleted.
    schema:
      $ref: '#/definitions/Error'
  object-get-406:
    description: The client doesn't accept supported responses Content-Type.
    schema:
      $ref: '#/definitions/Error'
  object-get-412:
    description: Object changed since value in ``If-Match`` header.
    schema:
      $ref: '#/definitions/Error'
  object-patch-400:
    description: The request body is invalid.
    schema:
      $ref: '#/definitions/Error'
  object-patch-401:
    description: The request is missing authentication headers.
    schema:
      $ref: '#/definitions/Error'
  object-patch-403:
    description: 'The user is not allowed to perform the operation, or the resource is not accessible.'
    schema:
      $ref: '#/definitions/Error'
  object-patch-404:
    description: The object does not exist or was deleted.
    schema:
      $ref: '#/definitions/Error'
  object-patch-406:
    description: The client doesn't accept supported responses Content-Type.
    schema:
      $ref: '#/definitions/Error'
  object-patch-412:
    description: Object changed or deleted since value in ``If-Match`` header
    schema:
      $ref: '#/definitions/Error'
  object-patch-415:
    description: The client request was not sent with a correct Content-Type.
    schema:
      $ref: '#/definitions/Error'
  object-put-400:
    description: The request body is invalid.
    schema:
      $ref: '#/definitions/Error'
  object-put-401:
    description: The request is missing authentication headers.
    schema:
      $ref: '#/definitions/Error'
  object-put-403:
    description: 'The user is not allowed to perform the operation, or the resource is not accessible.'
    schema:
      $ref: '#/definitions/Error'
  object-put-406:
    description: The client doesn't accept supported responses Content-Type.
    schema:
      $ref: '#/definitions/Error'
  object-put-412:
    description: Object changed or deleted since value in ``If-Match`` header.
    schema:
      $ref: '#/definitions/Error'
  object-put-415:
    description: The client request was not sent with a correct Content-Type.
    schema:
      $ref: '#/definitions/Error'
  record-get-200:
    description: Return matched record.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Record'
  record-patch-200:
    description: Return updated record.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Record'
  record-post-200:
    description: Return an existing record.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Record'
  record-post-201:
    description: Return created record.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Record'
  record-put-200:
    description: Return replaced record.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Record'
  record-put-201:
    description: Return created record.
    headers:
      ETag:
        $ref: '#/responses/default/headers/ETag'
      Last-Modified:
        $ref: '#/responses/default/headers/Last-Modified'
    schema:
      $ref: '#/definitions/Record'
  server-info:
    description: Object with server properties.
    schema:
      additionalProperties: {}
      properties:
        capabilities:
          additionalProperties:
            type: object
          type: object
        http_api_version:
          type: string
        project_docs:
          type: string
        project_name:
          type: string
        project_version:
          type: string
        settings:
          additionalProperties: {}
          properties:
            batch_max_requests:
              type: integer
            readonly:
              type: boolean
          type: object
        url:
          type: string
      type: object
tags:
  - name: Buckets
  - name: Groups
  - name: Collections
  - name: Records
  - name: Batch
  - name: Utilities
  - name: Kinto
paths:
  /:
    get:
      description: Information about the running instance.
      operationId: server_info
      responses:
        '200':
          $ref: '#/responses/server-info'
        default:
          $ref: '#/responses/default'
      security: []
      tags:
        - Utilities
        - Kinto
  /__heartbeat__:
    get:
      description: Return the status of dependent services.
      operationId: __heartbeat__
      responses:
        '200':
          description: Object with subsystems status.
          schema:
            additionalProperties:
              type: boolean
            properties:
              cache:
                type: boolean
              permission:
                type: boolean
              storage:
                type: boolean
            type: object
        '503':
          description: One or more systems are failing.
          schema:
            additionalProperties:
              type: boolean
            properties:
              cache:
                type: boolean
              permission:
                type: boolean
              storage:
                type: boolean
            type: object
        default:
          $ref: '#/responses/default'
      security: []
      tags:
        - Utilities
        - Kinto
  /__lbheartbeat__:
    get:
      operationId: __lbheartbeat__
      responses:
        '200':
          description: Returns empty object.
          schema:
            type: object
        default:
          $ref: '#/responses/default'
      security: []
      tags:
        - Utilities
        - Kinto
  /__version__:
    get:
      operationId: __version__
      responses:
        '200':
          description: Returns object with distribution details.
          schema:
            type: object
        '404':
          description: version.json file not found.
          schema:
            $ref: '#/definitions/Error'
        default:
          $ref: '#/responses/default'
      security: []
      tags:
        - Utilities
        - Kinto
  /batch:
    post:
      description: Send multiple operations in one request.
      operationId: batch
      parameters:
        - $ref: '#/parameters/batch'
      responses:
        '200':
          $ref: '#/responses/batch-200'
        '400':
          $ref: '#/responses/batch-400'
        default:
          $ref: '#/responses/default'
      tags:
        - Batch
        - Kinto
  /buckets:
    delete:
      description: Delete all writable buckets.
      operationId: delete_buckets
      parameters:
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_since'
        - $ref: '#/parameters/_before'
        - $ref: '#/parameters/_sort'
        - $ref: '#/parameters/_limit'
        - $ref: '#/parameters/_token'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/list-delete-200'
        '400':
          $ref: '#/responses/list-delete-400'
        '401':
          $ref: '#/responses/list-delete-401'
        '403':
          $ref: '#/responses/list-delete-403'
        '405':
          $ref: '#/responses/list-delete-405'
        '406':
          $ref: '#/responses/list-delete-406'
        '412':
          $ref: '#/responses/list-delete-412'
        default:
          $ref: '#/responses/default'
      tags:
        - Buckets
        - Kinto
    get:
      description: List all acessible buckets.
      operationId: get_buckets
      parameters:
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_since'
        - $ref: '#/parameters/_before'
        - $ref: '#/parameters/_sort'
        - $ref: '#/parameters/_limit'
        - $ref: '#/parameters/_token'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/list-get-200'
        '304':
          $ref: '#/responses/list-get-304'
        '400':
          $ref: '#/responses/list-get-400'
        '401':
          $ref: '#/responses/list-get-401'
        '403':
          $ref: '#/responses/list-get-403'
        '406':
          $ref: '#/responses/list-get-406'
        '412':
          $ref: '#/responses/list-get-412'
        default:
          $ref: '#/responses/default'
      tags:
        - Buckets
        - Kinto
    post:
      description: Create a bucket.
      operationId: create_bucket
      parameters:
        - description: Bucket information.
          in: body
          name: bucket
          required: false
          schema:
            $ref: '#/definitions/Bucket'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
      responses:
        '200':
          $ref: '#/responses/bucket-post-200'
        '201':
          $ref: '#/responses/bucket-post-201'
        '400':
          $ref: '#/responses/list-post-400'
        '401':
          $ref: '#/responses/list-post-401'
        '403':
          $ref: '#/responses/list-post-403'
        '406':
          $ref: '#/responses/list-post-406'
        '412':
          $ref: '#/responses/list-post-412'
        '415':
          $ref: '#/responses/list-post-415'
        default:
          $ref: '#/responses/default'
      tags:
        - Buckets
        - Kinto
  '/buckets/{bucket_id}':
    delete:
      description: Delete a bucket.
      operationId: delete_bucket
      parameters:
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/object-delete-200'
        '400':
          $ref: '#/responses/object-delete-400'
        '401':
          $ref: '#/responses/object-delete-401'
        '403':
          $ref: '#/responses/object-delete-403'
        '404':
          $ref: '#/responses/object-delete-404'
        '406':
          $ref: '#/responses/object-delete-406'
        '412':
          $ref: '#/responses/object-delete-412'
        default:
          $ref: '#/responses/default'
      tags:
        - Buckets
        - Kinto
    get:
      description: Retrieve an existing bucket.
      operationId: get_bucket
      parameters:
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/bucket-get-200'
        '304':
          $ref: '#/responses/object-get-304'
        '400':
          $ref: '#/responses/object-get-400'
        '401':
          $ref: '#/responses/object-get-401'
        '403':
          $ref: '#/responses/object-get-403'
        '404':
          $ref: '#/responses/object-get-404'
        '406':
          $ref: '#/responses/object-get-406'
        '412':
          $ref: '#/responses/object-get-412'
        default:
          $ref: '#/responses/default'
      tags:
        - Buckets
        - Kinto
    parameters:
      - description: Bucket id.
        in: path
        name: bucket_id
        required: true
        type: string
    patch:
      consumes:
        - application/json
        - application/merge-patch+json
        - application/json-patch+json
      description: Modify an existing bucket.
      operationId: patch_bucket
      parameters:
        - $ref: '#/parameters/bucket'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/bucket-patch-200'
        '400':
          $ref: '#/responses/object-patch-400'
        '401':
          $ref: '#/responses/object-patch-401'
        '403':
          $ref: '#/responses/object-patch-403'
        '404':
          $ref: '#/responses/object-patch-404'
        '406':
          $ref: '#/responses/object-patch-406'
        '412':
          $ref: '#/responses/object-patch-412'
        '415':
          $ref: '#/responses/object-patch-415'
        default:
          $ref: '#/responses/default'
      tags:
        - Buckets
        - Kinto
    put:
      description: Create or replace a bucket.
      operationId: update_bucket
      parameters:
        - $ref: '#/parameters/bucket'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/bucket-put-200'
        '201':
          $ref: '#/responses/bucket-put-201'
        '400':
          $ref: '#/responses/object-put-400'
        '401':
          $ref: '#/responses/object-put-401'
        '403':
          $ref: '#/responses/object-put-403'
        '406':
          $ref: '#/responses/object-put-406'
        '412':
          $ref: '#/responses/object-put-412'
        '415':
          $ref: '#/responses/object-put-415'
        default:
          $ref: '#/responses/default'
      tags:
        - Buckets
        - Kinto
  '/buckets/{bucket_id}/collections':
    delete:
      description: Delete writable collections.
      operationId: delete_collections
      parameters:
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_since'
        - $ref: '#/parameters/_before'
        - $ref: '#/parameters/_sort'
        - $ref: '#/parameters/_limit'
        - $ref: '#/parameters/_token'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/list-delete-200'
        '400':
          $ref: '#/responses/list-delete-400'
        '401':
          $ref: '#/responses/list-delete-401'
        '403':
          $ref: '#/responses/list-delete-403'
        '405':
          $ref: '#/responses/list-delete-405'
        '406':
          $ref: '#/responses/list-delete-406'
        '412':
          $ref: '#/responses/list-delete-412'
        default:
          $ref: '#/responses/default'
      tags:
        - Collections
        - Kinto
    get:
      description: List bucket’s collections.
      operationId: get_collections
      parameters:
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_since'
        - $ref: '#/parameters/_before'
        - $ref: '#/parameters/_sort'
        - $ref: '#/parameters/_limit'
        - $ref: '#/parameters/_token'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/list-get-200'
        '304':
          $ref: '#/responses/list-get-304'
        '400':
          $ref: '#/responses/list-get-400'
        '401':
          $ref: '#/responses/list-get-401'
        '403':
          $ref: '#/responses/list-get-403'
        '406':
          $ref: '#/responses/list-get-406'
        '412':
          $ref: '#/responses/list-get-412'
        default:
          $ref: '#/responses/default'
      tags:
        - Collections
        - Kinto
    parameters:
      - description: Bucket id.
        in: path
        name: bucket_id
        required: true
        type: string
    post:
      description: Create a collection.
      operationId: create_collection
      parameters:
        - $ref: '#/parameters/collection'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
      responses:
        '200':
          $ref: '#/responses/collection-post-200'
        '201':
          $ref: '#/responses/collection-post-201'
        '400':
          $ref: '#/responses/list-post-400'
        '401':
          $ref: '#/responses/list-post-401'
        '403':
          $ref: '#/responses/list-post-403'
        '406':
          $ref: '#/responses/list-post-406'
        '412':
          $ref: '#/responses/list-post-412'
        '415':
          $ref: '#/responses/list-post-415'
        default:
          $ref: '#/responses/default'
      tags:
        - Collections
        - Kinto
  '/buckets/{bucket_id}/collections/{collection_id}':
    delete:
      description: Delete a collection.
      operationId: delete_collection
      parameters:
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/object-delete-200'
        '400':
          $ref: '#/responses/object-delete-400'
        '401':
          $ref: '#/responses/object-delete-401'
        '403':
          $ref: '#/responses/object-delete-403'
        '404':
          $ref: '#/responses/object-delete-404'
        '406':
          $ref: '#/responses/object-delete-406'
        '412':
          $ref: '#/responses/object-delete-412'
        default:
          $ref: '#/responses/default'
      tags:
        - Collections
        - Kinto
    get:
      description: Retreive an existing collection.
      operationId: get_collection
      parameters:
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/collection-get-200'
        '304':
          $ref: '#/responses/object-get-304'
        '400':
          $ref: '#/responses/object-get-400'
        '401':
          $ref: '#/responses/object-get-401'
        '403':
          $ref: '#/responses/object-get-403'
        '404':
          $ref: '#/responses/object-get-404'
        '406':
          $ref: '#/responses/object-get-406'
        '412':
          $ref: '#/responses/object-get-412'
        default:
          $ref: '#/responses/default'
      tags:
        - Collections
        - Kinto
    parameters:
      - description: Bucket id.
        in: path
        name: bucket_id
        required: true
        type: string
      - description: Colection id.
        in: path
        name: collection_id
        required: true
        type: string
    patch:
      consumes:
        - application/json
        - application/merge-patch+json
        - application/json-patch+json
      description: Modify an existing collection.
      operationId: patch_collection
      parameters:
        - $ref: '#/parameters/collection'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/collection-patch-200'
        '400':
          $ref: '#/responses/object-patch-400'
        '401':
          $ref: '#/responses/object-patch-401'
        '403':
          $ref: '#/responses/object-patch-403'
        '404':
          $ref: '#/responses/object-patch-404'
        '406':
          $ref: '#/responses/object-patch-406'
        '412':
          $ref: '#/responses/object-patch-412'
        '415':
          $ref: '#/responses/object-patch-415'
        default:
          $ref: '#/responses/default'
      tags:
        - Collections
        - Kinto
    put:
      description: Create or replace a collection.
      operationId: update_collection
      parameters:
        - $ref: '#/parameters/collection'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/collection-put-200'
        '201':
          $ref: '#/responses/collection-put-201'
        '400':
          $ref: '#/responses/object-put-400'
        '401':
          $ref: '#/responses/object-put-401'
        '403':
          $ref: '#/responses/object-put-403'
        '406':
          $ref: '#/responses/object-put-406'
        '412':
          $ref: '#/responses/object-put-412'
        '415':
          $ref: '#/responses/object-put-415'
        default:
          $ref: '#/responses/default'
      tags:
        - Collections
        - Kinto
  '/buckets/{bucket_id}/collections/{collection_id}/records':
    delete:
      description: Delete stored records.
      operationId: delete_records
      parameters:
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_since'
        - $ref: '#/parameters/_before'
        - $ref: '#/parameters/_sort'
        - $ref: '#/parameters/_limit'
        - $ref: '#/parameters/_token'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/list-delete-200'
        '400':
          $ref: '#/responses/list-delete-400'
        '401':
          $ref: '#/responses/list-delete-401'
        '403':
          $ref: '#/responses/list-delete-403'
        '405':
          $ref: '#/responses/list-delete-405'
        '406':
          $ref: '#/responses/list-delete-406'
        '412':
          $ref: '#/responses/list-delete-412'
        default:
          $ref: '#/responses/default'
      tags:
        - Records
        - Kinto
    get:
      description: Retrieve stored records.
      operationId: get_records
      parameters:
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_since'
        - $ref: '#/parameters/_before'
        - $ref: '#/parameters/_sort'
        - $ref: '#/parameters/_limit'
        - $ref: '#/parameters/_token'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/list-get-200'
        '304':
          $ref: '#/responses/list-get-304'
        '400':
          $ref: '#/responses/list-get-400'
        '401':
          $ref: '#/responses/list-get-401'
        '403':
          $ref: '#/responses/list-get-403'
        '406':
          $ref: '#/responses/list-get-406'
        '412':
          $ref: '#/responses/list-get-412'
        default:
          $ref: '#/responses/default'
      tags:
        - Records
        - Kinto
    parameters:
      - description: Bucket id.
        in: path
        name: bucket_id
        required: true
        type: string
      - description: Collection id.
        in: path
        name: collection_id
        required: true
        type: string
    post:
      description: Upload a record.
      operationId: create_record
      parameters:
        - $ref: '#/parameters/record'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
      responses:
        '200':
          $ref: '#/responses/record-post-200'
        '201':
          $ref: '#/responses/record-post-201'
        '400':
          $ref: '#/responses/list-post-400'
        '401':
          $ref: '#/responses/list-post-401'
        '403':
          $ref: '#/responses/list-post-403'
        '406':
          $ref: '#/responses/list-post-406'
        '412':
          $ref: '#/responses/list-post-412'
        '415':
          $ref: '#/responses/list-post-415'
        default:
          $ref: '#/responses/default'
      tags:
        - Records
        - Kinto
  '/buckets/{bucket_id}/collections/{collection_id}/records/{record_id}':
    delete:
      description: Delete a single record.
      operationId: delete_record
      parameters:
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/object-delete-200'
        '400':
          $ref: '#/responses/object-delete-400'
        '401':
          $ref: '#/responses/object-delete-401'
        '403':
          $ref: '#/responses/object-delete-403'
        '404':
          $ref: '#/responses/object-delete-404'
        '406':
          $ref: '#/responses/object-delete-406'
        '412':
          $ref: '#/responses/object-delete-412'
        default:
          $ref: '#/responses/default'
      tags:
        - Records
        - Kinto
    get:
      description: Retrieve a single record.
      operationId: get_record
      parameters:
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/record-get-200'
        '304':
          $ref: '#/responses/object-get-304'
        '400':
          $ref: '#/responses/object-get-400'
        '401':
          $ref: '#/responses/object-get-401'
        '403':
          $ref: '#/responses/object-get-403'
        '404':
          $ref: '#/responses/object-get-404'
        '406':
          $ref: '#/responses/object-get-406'
        '412':
          $ref: '#/responses/object-get-412'
        default:
          $ref: '#/responses/default'
      tags:
        - Records
        - Kinto
    parameters:
      - description: Bucket id.
        in: path
        name: bucket_id
        required: true
        type: string
      - description: Colection id.
        in: path
        name: collection_id
        required: true
        type: string
      - description: Record id.
        in: path
        name: record_id
        required: true
        type: string
    patch:
      consumes:
        - application/json
        - application/merge-patch+json
        - application/json-patch+json
      description: Modify an existing record.
      operationId: patch_record
      parameters:
        - $ref: '#/parameters/record'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/record-patch-200'
        '400':
          $ref: '#/responses/object-patch-400'
        '401':
          $ref: '#/responses/object-patch-401'
        '403':
          $ref: '#/responses/object-patch-403'
        '404':
          $ref: '#/responses/object-patch-404'
        '406':
          $ref: '#/responses/object-patch-406'
        '412':
          $ref: '#/responses/object-patch-412'
        '415':
          $ref: '#/responses/object-patch-415'
        default:
          $ref: '#/responses/default'
      tags:
        - Records
        - Kinto
    put:
      description: Create or replace a record.
      operationId: update_record
      parameters:
        - $ref: '#/parameters/record'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/record-put-200'
        '201':
          $ref: '#/responses/record-put-201'
        '400':
          $ref: '#/responses/object-put-400'
        '401':
          $ref: '#/responses/object-put-401'
        '403':
          $ref: '#/responses/object-put-403'
        '406':
          $ref: '#/responses/object-put-406'
        '412':
          $ref: '#/responses/object-put-412'
        '415':
          $ref: '#/responses/object-put-415'
        default:
          $ref: '#/responses/default'
      tags:
        - Records
        - Kinto
  '/buckets/{bucket_id}/groups':
    delete:
      description: Delete writable groups.
      operationId: delete_groups
      parameters:
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_since'
        - $ref: '#/parameters/_before'
        - $ref: '#/parameters/_sort'
        - $ref: '#/parameters/_limit'
        - $ref: '#/parameters/_token'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/list-delete-200'
        '400':
          $ref: '#/responses/list-delete-400'
        '401':
          $ref: '#/responses/list-delete-401'
        '403':
          $ref: '#/responses/list-delete-403'
        '405':
          $ref: '#/responses/list-delete-405'
        '406':
          $ref: '#/responses/list-delete-406'
        '412':
          $ref: '#/responses/list-delete-412'
        default:
          $ref: '#/responses/default'
      tags:
        - Groups
        - Kinto
    get:
      description: Retrieve the list of bucket’s group.
      operationId: get_groups
      parameters:
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_since'
        - $ref: '#/parameters/_before'
        - $ref: '#/parameters/_sort'
        - $ref: '#/parameters/_limit'
        - $ref: '#/parameters/_token'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/list-get-200'
        '304':
          $ref: '#/responses/list-get-304'
        '400':
          $ref: '#/responses/list-get-400'
        '401':
          $ref: '#/responses/list-get-401'
        '403':
          $ref: '#/responses/list-get-403'
        '406':
          $ref: '#/responses/list-get-406'
        '412':
          $ref: '#/responses/list-get-412'
        default:
          $ref: '#/responses/default'
      tags:
        - Groups
        - Kinto
    parameters:
      - description: Bucket id.
        in: path
        name: bucket_id
        required: true
        type: string
    post:
      description: Create a group.
      operationId: create_group
      parameters:
        - $ref: '#/parameters/group'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
      responses:
        '200':
          $ref: '#/responses/group-post-200'
        '201':
          $ref: '#/responses/group-post-201'
        '400':
          $ref: '#/responses/list-post-400'
        '401':
          $ref: '#/responses/list-post-401'
        '403':
          $ref: '#/responses/list-post-403'
        '406':
          $ref: '#/responses/list-post-406'
        '412':
          $ref: '#/responses/list-post-412'
        '415':
          $ref: '#/responses/list-post-415'
        default:
          $ref: '#/responses/default'
      tags:
        - Groups
        - Kinto
  '/buckets/{bucket_id}/groups/{group_id}':
    delete:
      description: Delete a group.
      operationId: delete_group
      parameters:
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/object-delete-200'
        '400':
          $ref: '#/responses/object-delete-400'
        '401':
          $ref: '#/responses/object-delete-401'
        '403':
          $ref: '#/responses/object-delete-403'
        '404':
          $ref: '#/responses/object-delete-404'
        '406':
          $ref: '#/responses/object-delete-406'
        '412':
          $ref: '#/responses/object-delete-412'
        default:
          $ref: '#/responses/default'
      tags:
        - Groups
        - Kinto
    get:
      description: Retrieve a group.
      operationId: get_group
      parameters:
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/group-get-200'
        '304':
          $ref: '#/responses/object-get-304'
        '400':
          $ref: '#/responses/object-get-400'
        '401':
          $ref: '#/responses/object-get-401'
        '403':
          $ref: '#/responses/object-get-403'
        '404':
          $ref: '#/responses/object-get-404'
        '406':
          $ref: '#/responses/object-get-406'
        '412':
          $ref: '#/responses/object-get-412'
        default:
          $ref: '#/responses/default'
      tags:
        - Groups
        - Kinto
    parameters:
      - description: Bucket id.
        in: path
        name: bucket_id
        required: true
        type: string
      - description: Group id.
        in: path
        name: group_id
        required: true
        type: string
    patch:
      consumes:
        - application/json
        - application/merge-patch+json
        - application/json-patch+json
      description: Modify an existing group.
      operationId: patch_group
      parameters:
        - $ref: '#/parameters/group'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/group-patch-200'
        '400':
          $ref: '#/responses/object-patch-400'
        '401':
          $ref: '#/responses/object-patch-401'
        '403':
          $ref: '#/responses/object-patch-403'
        '404':
          $ref: '#/responses/object-patch-404'
        '406':
          $ref: '#/responses/object-patch-406'
        '412':
          $ref: '#/responses/object-patch-412'
        '415':
          $ref: '#/responses/object-patch-415'
        default:
          $ref: '#/responses/default'
      tags:
        - Groups
        - Kinto
    put:
      description: Update a group.
      operationId: update_group
      parameters:
        - $ref: '#/parameters/group'
        - $ref: '#/parameters/If-Match'
        - $ref: '#/parameters/If-None-Match'
        - $ref: '#/parameters/_fields'
      responses:
        '200':
          $ref: '#/responses/group-put-200'
        '201':
          $ref: '#/responses/group-put-201'
        '400':
          $ref: '#/responses/object-put-400'
        '401':
          $ref: '#/responses/object-put-401'
        '403':
          $ref: '#/responses/object-put-403'
        '406':
          $ref: '#/responses/object-put-406'
        '412':
          $ref: '#/responses/object-put-412'
        '415':
          $ref: '#/responses/object-put-415'
        default:
          $ref: '#/responses/default'
      tags:
        - Groups
        - Kinto
  /contribute.json:
    get:
      operationId: __contribute__
      responses:
        '200':
          description: Open source contribution information.
          schema:
            type: object
        default:
          $ref: '#/responses/default'
      security: []
      tags:
        - Utilities
        - Kinto
definitions:
  Bucket:
    properties:
      data:
        additionalProperties: {}
        properties:
          id:
            description: Bucket object id. Should be unique.
            type: string
          last_modified:
            description: The timestamp of the last modification.
            type: integer
        type: object
      permissions:
        description: The access control lists for the bucket. Inherited to all groups and collections on the bucket. Will show as an empty object if the user has no write permissions.
        properties:
          'collection:create':
            items:
              type: string
            type: array
            uniqueItems: true
          'group:create':
            items:
              type: string
            type: array
            uniqueItems: true
          read:
            items:
              type: string
            type: array
            uniqueItems: true
          write:
            items:
              type: string
            type: array
            uniqueItems: true
        type: object
    type: object
  Collection:
    properties:
      data:
        additionalProperties: {}
        properties:
          cache_expires:
            description: Add a Cache-Control field to response headers specifying how long clients (or proxies) should cache the collection records (in seconds).
            type: integer
          id:
            description: Collection object id. Should be unique under a same bucket.
            type: string
          last_modified:
            description: The timestamp of the last modification.
            type: integer
          schema:
            additionalProperties: {}
            description: A JSON schema to validate the collection records.
            type: object
        type: object
      permissions:
        description: The access control lists for the collection. Inherited to all records. Will show as an empty object if the user has no write permissions.
        properties:
          read:
            description: List of user principals that can read the collection object and all its records.
            items:
              type: string
            type: array
            uniqueItems: true
          'record:create':
            items:
              type: string
            type: array
            uniqueItems: true
          write:
            description: 'List of user principals that can read read, update and delete the collection object and all its records.'
            items:
              type: string
            type: array
            uniqueItems: true
        type: object
    type: object
  Deleted:
    properties:
      deleted:
        type: boolean
      id:
        type: string
      last_modified:
        type: integer
    type: object
  Error:
    additionalProperties: {}
    properties:
      code:
        description: The HTTP status code.
        type: integer
      errno:
        description: Application-leval error number.
        type: integer
      error:
        description: Description of the HTTP error type.
        type: string
      info:
        description: Link to an online resource with details.
        type: string
      message:
        description: Context information about the error.
        type: string
    type: object
  Group:
    properties:
      data:
        additionalProperties: {}
        properties:
          id:
            description: Group object id. Should be unique under a same bucket.
            type: string
          last_modified:
            description: The timestamp of the last modification.
            type: integer
          members:
            description: List of user principals from the group.
            items:
              type: string
            type: array
            uniqueItems: true
        required:
          - members
        type: object
      permissions:
        description: The access control lists for the group. Will show as an empty object if the user has no write permissions.
        properties:
          read:
            items:
              type: string
            type: array
            uniqueItems: true
          write:
            items:
              type: string
            type: array
            uniqueItems: true
        type: object
    type: object
  List:
    properties:
      data:
        description: List of objects.
        items:
          additionalProperties: {}
          properties:
            id:
              description: The object id.
              type: string
            last_modified:
              description: The timestamp of the object last modification.
              type: integer
          type: object
        type: array
    type: object
  Record:
    properties:
      data:
        additionalProperties: {}
        properties:
          id:
            description: Record object id. Should be unique under a same collection.
            type: string
          last_modified:
            description: The timestamp of the last modification.
            type: integer
        type: object
      permissions:
        description: The access control lists for the record. Will show as an empty object if the user has no write permissions.
        properties:
          read:
            description: List of user principals that can read the record.
            items:
              type: string
            type: array
            uniqueItems: true
          write:
            description: 'List of user principals that can read, update and delete the record.'
            items:
              type: string
            type: array
            uniqueItems: true
        type: object
    type: object
