openapi: 3.0.0
servers:
  - url: https://api.clever-cloud.com/v2
info:
  contact:
    x-twitter: clever_cloud
  description: Public API for managing Clever-Cloud data and products
  title: Clever-Cloud API
  version: 1.0.0
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_clever_cloud_profile_image.jpeg
  x-origin:
    - format: openapi
      url: https://www.clever-cloud.com/doc/api/swagger.json
      version: "3.0"
  x-providerName: clever-cloud.com
paths:
  //openapi:
    get:
      responses:
        "200":
          description: The swagger documenting this API in yaml format.
      tags:
        - all
  "//openapi.{type}":
    parameters:
      - in: path
        name: type
        required: true
        schema:
          type: string
  "/application/{appId}/environment":
    get:
      parameters:
        - in: query
          name: token
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Status 200
      tags:
        - all
    parameters:
      - in: path
        name: appId
        required: true
        schema:
          type: string
    put:
      parameters:
        - in: query
          name: token
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Status 200
      tags:
        - all
  /authorize:
    post:
      description: Handled by our API.
      operationId: postAuthorize
      responses:
        "200":
          description: authorize
      tags:
        - all
  /events/event-socket:
    get:
      description: 'Retrieve events as they come through a websocket connection. To have authorization, you have to send a `{ "message_type": "oauth", "authorization": "oauth authorization string" }` message'
      responses:
        default:
          description: <No description>
      tags:
        - all
        - events
  /github:
    get:
      operationId: getGithub
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction_Id"
          description: startGithub
      tags:
        - all
        - github
  /github/applications:
    get:
      operationId: getGithubApplications
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Application"
                type: array
          description: getGithubApplications
      tags:
        - all
        - applications
        - github
  /github/callback:
    get:
      operationId: getGithubCallback
      parameters:
        - in: query
          name: code
          required: false
          schema:
            type: string
        - in: query
          name: state
          required: false
          schema:
            type: string
        - in: query
          name: error
          required: false
          schema:
            type: string
        - in: query
          name: error_description
          required: false
          schema:
            type: string
        - in: query
          name: error_uri
          required: false
          schema:
            type: string
        - in: header
          name: Cookie
          required: false
          schema:
            type: string
      responses:
        "200":
          description: githubCallback
      tags:
        - all
        - github
  /github/emails:
    get:
      operationId: getGithubEmails
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  type: string
                type: array
          description: getGithubEmails
      tags:
        - all
        - github
  /github/keys:
    get:
      operationId: getGithubKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Key"
                type: array
          description: getGithubKeys
      tags:
        - all
        - github
  /github/link:
    delete:
      operationId: deleteGithubLink
      responses:
        "200":
          description: unlinkGithub
      tags:
        - all
        - github
    get:
      operationId: getGithubLink
      parameters:
        - description: From GET /github
          in: query
          name: transactionId
          required: false
          schema:
            type: string
        - in: query
          name: redirectUrl
          required: false
          schema:
            type: string
      responses:
        "200":
          description: linkGithub
      tags:
        - all
        - github
  /github/login:
    get:
      operationId: getGithubLogin
      parameters:
        - in: query
          name: redirectUrl
          required: false
          schema:
            type: string
        - in: query
          name: fromAuthorize
          required: false
          schema:
            type: string
      responses:
        "200":
          description: githubLogin
      tags:
        - all
        - github
  /github/redeploy:
    post:
      operationId: postGithubRedeploy
      parameters:
        - in: header
          name: User-Agent
          required: false
          schema:
            type: string
        - in: header
          name: X-Github-Event
          required: false
          schema:
            type: string
        - in: header
          name: X-Hub-Signature
          required: false
          schema:
            type: string
      responses:
        "200":
          description: redeployApp
      tags:
        - all
        - github
  /github/signup:
    get:
      operationId: getGithubSignup
      parameters:
        - in: query
          name: redirectUrl
          required: false
          schema:
            type: string
        - in: query
          name: fromAuthorize
          required: false
          schema:
            type: string
      responses:
        "200":
          description: githubSignup
      tags:
        - all
        - github
    post:
      operationId: postGithubSignup
      parameters:
        - in: query
          name: transactionId
          required: false
          schema:
            type: string
        - in: query
          name: name
          required: false
          schema:
            type: string
        - in: query
          name: otherId
          required: false
          schema:
            type: string
        - in: query
          name: otherEmail
          required: false
          schema:
            type: string
        - in: query
          name: password
          required: false
          schema:
            type: string
        - in: query
          name: autoLink
          required: false
          schema:
            type: string
        - in: query
          name: terms
          required: false
          schema:
            type: string
      responses:
        "200":
          description: finsihGithubSignup
      tags:
        - all
        - github
  /github/username:
    get:
      operationId: getGithubUsername
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: string
          description: getGithubUsername
      tags:
        - all
        - github
  "/logs-socket/{appId}":
    get:
      description: WebSocket to get logs for :appID. Optional queryString arg bind_to_es=true to bind WS on log storage and not real time AMQP broker
      parameters:
        - description: Automatically added
          in: path
          name: appId
          required: true
          schema:
            type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
  /logs/drains:
    get:
      description: Fetch all the logs drains (ccadmin dedicated route)
      responses:
        default:
          description: <No description>
      tags:
        - all
        - logs
  "/logs/drains/{drainId}":
    put:
      description: Fetch all the logs drains (ccadmin dedicated route)
      parameters:
        - description: Automatically added
          in: path
          name: drainId
          required: true
          schema:
            type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
        - logs
  "/logs/logs-chunked/{appId}":
    get:
      description: Retrieve logs as they come through a chunked, never-ending response
      parameters:
        - description: Application Id
          in: path
          name: appId
          required: true
          schema:
            type: string
        - description: Tell the user-agent to download the body as a file
          in: query
          name: download
          required: false
          schema:
            type: boolean
      responses:
        default:
          description: <No description>
      tags:
        - all
        - logs
  "/logs/logs-socket/{appId}":
    get:
      description: 'Retrieve logs as they come through a websocket connection. To have authorization, you have to send a `{ "message_type": "oauth", "authorization": "oauth authorization string" }` message'
      parameters:
        - description: Application Id
          in: path
          name: appId
          required: true
          schema:
            type: string
        - description: Only fetch logs newer than this (ISO-8601 formatted) date
          in: query
          name: since
          required: false
          schema:
            format: date-time
            type: string
        - description: A pattern to filter with
          in: query
          name: filter
          required: false
          schema:
            type: string
        - description: Only fetch logs emitted by this deployment
          in: query
          name: deployment_id
          required: false
          schema:
            type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
        - logs
  "/logs/{appId}":
    get:
      description: Fetch the logs for a given application
      parameters:
        - description: Application Id
          in: path
          name: appId
          required: true
          schema:
            type: string
        - description: Number of lines to return
          in: query
          name: limit
          required: false
          schema:
            format: int32
            type: integer
        - description: Logs order
          in: query
          name: order
          required: false
          schema:
            default: desc
            enum:
              - asc
              - desc
            type: string
        - description: Lowest bound for logs date, ISO 8601
          in: query
          name: after
          required: false
          schema:
            format: date-time
            type: string
        - description: Highest bounds for logs date, ISO 8601
          in: query
          name: before
          required: false
          schema:
            format: date-time
            type: string
        - description: A pattern to filter with
          in: query
          name: filter
          required: false
          schema:
            type: string
        - description: Only fetch logs emitted by this deployment
          in: query
          name: deployment_id
          required: false
          schema:
            type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
        - logs
  "/logs/{appId}/drains":
    get:
      description: Fetch the logs drains for a given application
      parameters:
        - description: Automatically added
          in: path
          name: appId
          required: true
          schema:
            type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
        - logs
    post:
      description: Add a log drain for a given application
      parameters:
        - description: Automatically added
          in: path
          name: appId
          required: true
          schema:
            type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
        - logs
  "/logs/{appId}/drains/:idOrUrl":
    delete:
      description: Delete the logs drain by id or url for a given application
      parameters:
        - description: Automatically added
          in: path
          name: appId
          required: true
          schema:
            type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
        - logs
    get:
      description: Fetch the logs drain by id or url for a given application
      parameters:
        - description: Automatically added
          in: path
          name: appId
          required: true
          schema:
            type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
        - logs
  "/logs/{appId}/sse":
    get:
      description: Retrieve logs as they come through a sse connection. To have authorization, you have to add `authorization=oAuthAuthorizationString` as query param.
      parameters:
        - description: Automatically added
          in: path
          name: appId
          required: true
          schema:
            type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
        - logs
  /newsfeeds/blog:
    get:
      operationId: getNewsfeedsBlog
      responses:
        "200":
          description: getBlogFeed
      tags:
        - all
  /newsfeeds/engineering:
    get:
      operationId: getNewsfeedEngineering
      responses:
        "200":
          description: getEngineeringFeed
      tags:
        - all
  "/notifications/emailhooks/{ownerId}":
    get:
      description: list created e-mail hooks
      parameters:
        - description: Automatically added
          in: path
          name: ownerId
          required: true
          schema:
            type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
    post:
      description: create a hook for e-mail notifications
      parameters:
        - description: Automatically added
          in: path
          name: ownerId
          required: true
          schema:
            type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
  "/notifications/emailhooks/{ownerId}/:id":
    delete:
      description: delete an e-mail hook
      parameters:
        - description: Automatically added
          in: path
          name: ownerId
          required: true
          schema:
            type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
    put:
      description: edit an e-mail hook
      parameters:
        - description: Automatically added
          in: path
          name: ownerId
          required: true
          schema:
            type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
  /notifications/info/events:
    get:
      description: list available events
      responses:
        default:
          description: <No description>
      tags:
        - all
        - events
  /notifications/info/webhookformats:
    get:
      description: list available webhook formats
      responses:
        default:
          description: <No description>
      tags:
        - all
  "/notifications/webhooks/{ownerId}":
    get:
      description: list created hooks
      parameters:
        - description: Automatically added
          in: path
          name: ownerId
          required: true
          schema:
            type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
    post:
      description: create a hook for notifications
      parameters:
        - description: Automatically added
          in: path
          name: ownerId
          required: true
          schema:
            type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
  "/notifications/webhooks/{ownerId}/:id":
    delete:
      description: delete a hook
      parameters:
        - description: Automatically added
          in: path
          name: ownerId
          required: true
          schema:
            type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
    put:
      description: edit a hook
      parameters:
        - description: Automatically added
          in: path
          name: ownerId
          required: true
          schema:
            type: string
      responses:
        default:
          description: <No description>
      tags:
        - all
  /oauth/access_token:
    post:
      operationId: postOauthAccessToken
      parameters:
        - in: query
          name: oauth_consumer_key
          required: false
          schema:
            type: string
        - in: query
          name: oauth_token
          required: false
          schema:
            type: string
        - in: query
          name: oauth_signature_method
          required: false
          schema:
            type: string
        - in: query
          name: oauth_signature
          required: false
          schema:
            type: string
        - in: query
          name: oauth_timestamp
          required: false
          schema:
            type: string
        - in: query
          name: oauth_nonce
          required: false
          schema:
            type: string
        - in: query
          name: oauth_version
          required: false
          schema:
            type: string
        - in: query
          name: oauth_verifier
          required: false
          schema:
            type: string
        - in: query
          name: oauth_callback
          required: false
          schema:
            type: string
        - in: query
          name: oauth_token_secret
          required: false
          schema:
            type: string
        - in: query
          name: oauth_callback_confirmed
          required: false
          schema:
            type: string
      responses:
        "200":
          description: postAccessTokenRequest
      tags:
        - all
        - oauth
  /oauth/access_token_query:
    post:
      parameters:
        - in: query
          name: oauth_consumer_key
          required: false
          schema:
            type: string
        - in: query
          name: oauth_token
          required: false
          schema:
            type: string
        - in: query
          name: oauth_signature_method
          required: false
          schema:
            type: string
        - in: query
          name: oauth_signature
          required: false
          schema:
            type: string
        - in: query
          name: oauth_timestamp
          required: false
          schema:
            type: string
        - in: query
          name: oauth_nonce
          required: false
          schema:
            type: string
        - in: query
          name: oauth_version
          required: false
          schema:
            type: string
        - in: query
          name: oauth_verifier
          required: false
          schema:
            type: string
        - in: query
          name: oauth_callback
          required: false
          schema:
            type: string
        - in: query
          name: oauth_token_secret
          required: false
          schema:
            type: string
        - in: query
          name: oauth_callback_confirmed
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - oauth
  /oauth/authorize:
    get:
      operationId: getOauthAuthorize
      parameters:
        - in: query
          name: oauth_token
          required: false
          schema:
            type: string
        - in: header
          name: Cookie
          required: false
          schema:
            type: string
      responses:
        "200":
          description: authorizeForm
      tags:
        - all
        - oauth
    post:
      operationId: postOauthAuthorize
      parameters:
        - in: query
          name: almighty
          required: false
          schema:
            type: string
        - in: query
          name: access_organisations
          required: false
          schema:
            type: string
        - in: query
          name: manage_organisations
          required: false
          schema:
            type: string
        - in: query
          name: manage_organisations_services
          required: false
          schema:
            type: string
        - in: query
          name: manage_organisations_applications
          required: false
          schema:
            type: string
        - in: query
          name: manage_organisations_members
          required: false
          schema:
            type: string
        - in: query
          name: access_organisations_bills
          required: false
          schema:
            type: string
        - in: query
          name: access_organisations_credit_count
          required: false
          schema:
            type: string
        - in: query
          name: access_organisations_consumption_statistics
          required: false
          schema:
            type: string
        - in: query
          name: access_personal_information
          required: false
          schema:
            type: string
        - in: query
          name: manage_personal_information
          required: false
          schema:
            type: string
        - in: query
          name: manage_ssh_keys
          required: false
          schema:
            type: string
        - in: query
          name: manage_services
          required: false
          schema:
            type: string
        - in: query
          name: manage_applications
          required: false
          schema:
            type: string
        - in: query
          name: access_bills
          required: false
          schema:
            type: string
        - in: query
          name: access_credit_count
          required: false
          schema:
            type: string
        - in: query
          name: access_consumption_statistics
          required: false
          schema:
            type: string
        - in: header
          name: Cookie
          required: false
          schema:
            type: string
      responses:
        "200":
          description: authorizeToken
      tags:
        - all
        - oauth
  /oauth/request_token:
    post:
      operationId: postOauthRequestToken
      parameters:
        - in: query
          name: oauth_consumer_key
          required: false
          schema:
            type: string
        - in: query
          name: oauth_token
          required: false
          schema:
            type: string
        - in: query
          name: oauth_signature_method
          required: false
          schema:
            type: string
        - in: query
          name: oauth_signature
          required: false
          schema:
            type: string
        - in: query
          name: oauth_timestamp
          required: false
          schema:
            type: string
        - in: query
          name: oauth_nonce
          required: false
          schema:
            type: string
        - in: query
          name: oauth_version
          required: false
          schema:
            type: string
        - in: query
          name: oauth_verifier
          required: false
          schema:
            type: string
        - in: query
          name: oauth_callback
          required: false
          schema:
            type: string
        - in: query
          name: oauth_token_secret
          required: false
          schema:
            type: string
        - in: query
          name: oauth_callback_confirmed
          required: false
          schema:
            type: string
      responses:
        "200":
          description: postReqTokenRequest
      tags:
        - all
        - oauth
  /oauth/request_token_query:
    post:
      parameters:
        - in: query
          name: oauth_consumer_key
          required: false
          schema:
            type: string
        - in: query
          name: oauth_token
          required: false
          schema:
            type: string
        - in: query
          name: oauth_signature_method
          required: false
          schema:
            type: string
        - in: query
          name: oauth_signature
          required: false
          schema:
            type: string
        - in: query
          name: oauth_timestamp
          required: false
          schema:
            type: string
        - in: query
          name: oauth_nonce
          required: false
          schema:
            type: string
        - in: query
          name: oauth_version
          required: false
          schema:
            type: string
        - in: query
          name: oauth_verifier
          required: false
          schema:
            type: string
        - in: query
          name: oauth_callback
          required: false
          schema:
            type: string
        - in: query
          name: oauth_token_secret
          required: false
          schema:
            type: string
        - in: query
          name: oauth_callback_confirmed
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - oauth
  /oauth/rights:
    get:
      operationId: getOauthRights
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Rights"
          description: getAvailableRights
      tags:
        - all
        - oauth
  "/openapi.{type}":
    get:
      description: Get the swagger for this API as {type}. Type can be either "yml" or "json".
      responses:
        "200":
          description: This API swagger documentation in {type} format.
      summary: Get the swagger for this API as {type}
      tags:
        - all
    parameters:
      - in: path
        name: type
        required: true
        schema:
          type: string
  /organisations:
    get:
      operationId: getOrganisations
      parameters:
        - in: query
          name: user
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Organisation"
                type: array
          description: getUserOrganisations
      tags:
        - all
        - organisations
    post:
      operationId: postOrganisations
      requestBody:
        $ref: "#/components/requestBodies/WannabeOrganisation"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Organisation"
          description: createOrganisation
      tags:
        - all
        - organisations
  "/organisations/{id}":
    delete:
      operationId: deleteOrganisationsId
      responses:
        "200":
          description: deleteOrganisation
      tags:
        - all
        - organisations
    get:
      operationId: getOrganisationsId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organisation"
          description: getOrganisation
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    put:
      operationId: putOrganisationsId
      requestBody:
        $ref: "#/components/requestBodies/WannabeOrganisation"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Organisation"
          description: editOrganisation
      tags:
        - all
        - organisations
  "/organisations/{id}/addonproviders":
    get:
      operationId: getOrganisationsIdAddonproviders
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Provider"
                type: array
          description: Get all informations about all providers.
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    post:
      operationId: postOrganisationsIdAddonproviders
      requestBody:
        $ref: "#/components/requestBodies/WannabeAddonProvider"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Provider"
          description: createProvider
      tags:
        - all
        - organisations
  "/organisations/{id}/addonproviders/{providerId}":
    delete:
      description: Remove a given add-on provider. providerId must be owned by organisation {id}.
      responses:
        "204":
          description: If the deletion was successful.
        "403":
          content:
            application/json:
              examples:
                response:
                  value: '{"type":"error","id":6200,"message":"You do not belong to this organisation so you cannot access it"}'
              schema:
                $ref: "#/components/schemas/Error"
          description: If user has no access to organisation {id} or provider or if there still are add-ons of this provider.
        "404":
          description: If no such organisation/provider exists.
      summary: Remove an add-on provider
      tags:
        - all
        - organisations
    get:
      operationId: getOrganisationsIdAddonprovidersProviderId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Provider"
          description: Get all informations about given provider.
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: providerId
        required: true
        schema:
          type: string
    put:
      operationId: putOrganisationsIdAddonprovidersProviderId
      requestBody:
        $ref: "#/components/requestBodies/WannabeAddonProvider"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Provider"
          description: updateProviderInfos
      tags:
        - all
        - organisations
  "/organisations/{id}/addonproviders/{providerId}/features":
    get:
      operationId: getOrganisationsIdAddonprovidersProviderIdFeatures
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Feature"
                type: array
          description: getProviderFeatures
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: providerId
        required: true
        schema:
          type: string
    post:
      operationId: postOrganisationsIdAddonprovidersProviderIdFeatures
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WannabeFeature"
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Feature"
          description: addProviderFeature
      tags:
        - all
        - organisations
  "/organisations/{id}/addonproviders/{providerId}/features/{featureId}":
    delete:
      operationId: deleteOrganisationsIdAddonprovidersProviderIdFeaturesFeatureId
      responses:
        "200":
          description: deleteProviderFeature
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: featureId
        required: true
        schema:
          type: string
      - in: path
        name: providerId
        required: true
        schema:
          type: string
  "/organisations/{id}/addonproviders/{providerId}/plans":
    get:
      operationId: getOrganisationsIdAddonprovidersProviderIdPlans
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Plan"
                type: array
          description: getProviderPlans
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: providerId
        required: true
        schema:
          type: string
    post:
      operationId: postOrganisationsIdAddonprovidersProviderIdPlans
      requestBody:
        $ref: "#/components/requestBodies/WannabePlan"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Plan"
          description: addProviderPlan
      tags:
        - all
        - organisations
  "/organisations/{id}/addonproviders/{providerId}/plans/{planId}":
    delete:
      operationId: deleteOrganisationsIdAddonprovidersProviderIdPlansPlanId
      responses:
        "200":
          description: deleteProviderPlan
      tags:
        - all
        - organisations
    get:
      operationId: getOrganisationsIdAddonprovidersProviderIdPlansPlanId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Plan"
          description: getProviderPlan
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: providerId
        required: true
        schema:
          type: string
      - in: path
        name: planId
        required: true
        schema:
          type: string
    put:
      operationId: putOrganisationsIdAddonprovidersProviderIdPlansPlanId
      requestBody:
        $ref: "#/components/requestBodies/WannabePlan"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Plan"
          description: editProviderPlan
      tags:
        - all
        - organisations
  "/organisations/{id}/addonproviders/{providerId}/plans/{planId}/features/{featureName}":
    delete:
      operationId: deleteOrganisationsIdAddonprovidersProviderIdPlansPlanIdFeaturesFeatureName
      responses:
        "200":
          description: deleteProviderPlanFeature
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: featureName
        required: true
        schema:
          type: string
      - in: path
        name: providerId
        required: true
        schema:
          type: string
      - in: path
        name: planId
        required: true
        schema:
          type: string
    put:
      operationId: putOrganisationsIdAddonprovidersProviderIdPlansPlanIdFeaturesFeatureName
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WannabePlanFeature"
        required: true
      responses:
        "200":
          description: editProviderPlanFeature
      tags:
        - all
        - organisations
  "/organisations/{id}/addonproviders/{providerId}/sso":
    get:
      operationId: getOrganisationsIdAddonsAddonIdSso
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddonProviderSso"
          description: getSSOData
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: providerId
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/organisations/{id}/addonproviders/{providerId}/tags":
    get:
      operationId: getOrganisationsIdAddonprovidersProviderIdTags
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  type: string
                type: array
          description: getProviderTags
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: providerId
        required: true
        schema:
          type: string
  "/organisations/{id}/addonproviders/{providerId}/testers":
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: providerId
        required: true
        schema:
          type: string
    post:
      operationId: postOrganisationsIdAddonprovidersProviderIdTesters
      responses:
        "200":
          description: addBetaTester
      tags:
        - all
        - organisations
  "/organisations/{id}/addons":
    get:
      operationId: getOrganisationsIdAddons
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Addon"
                type: array
          description: getAddons
      tags:
        - all
        - addons
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    post:
      operationId: postOrganisationsIdAddons
      requestBody:
        $ref: "#/components/requestBodies/WannabeAddon"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Addon"
          description: provisionAddon
      tags:
        - all
        - addons
        - organisations
  "/organisations/{id}/addons/preorders":
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    post:
      requestBody:
        $ref: "#/components/requestBodies/WannabeAddon"
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - addons
        - organisations
  "/organisations/{id}/addons/{addonId}":
    delete:
      operationId: deleteOrganisationsIdAddonsAddonId
      responses:
        "200":
          description: deprovisionAddon
      tags:
        - all
        - addons
        - organisations
    get:
      operationId: getOrganisationsIdAddonsAddonId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Addon"
          description: getAddon
      tags:
        - all
        - addons
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: addonId
        required: true
        schema:
          type: string
    put:
      operationId: putOrganisationsIdAddonsAddonId
      requestBody:
        $ref: "#/components/requestBodies/WannabeAddon"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Addon"
          description: Update addon information
      tags:
        - all
        - addons
        - organisations
  "/organisations/{id}/addons/{addonId}/applications":
    get:
      operationId: getOrganisationsIdAddonsAddonIdApplications
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Application"
                type: array
          description: getApplicationsLinkedToAddon
      tags:
        - all
        - addons
        - applications
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: addonId
        required: true
        schema:
          type: string
  "/organisations/{id}/addons/{addonId}/env":
    get:
      operationId: getOrganisationsIdAddonsAddonIdEnv
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ListEnv"
                type: array
          description: getAddonEnv
      tags:
        - all
        - addons
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: addonId
        required: true
        schema:
          type: string
  "/organisations/{id}/addons/{addonId}/instances":
    get:
      parameters:
        - in: query
          name: deploymentId
          required: false
          schema:
            type: string
        - in: query
          name: withDeleted
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                description: List of instances.
                items:
                  $ref: "#/components/schemas/SupernovaInstanceView"
                type: array
          description: The instance list
      summary: List instances for this add-on.
      tags:
        - all
        - addons
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: addonId
        required: true
        schema:
          type: string
  "/organisations/{id}/addons/{addonId}/instances/{instanceId}":
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupernovaInstanceView"
          description: An instance
      summary: Get a specific instance for {addonId}
      tags:
        - all
        - addons
        - organisations
    parameters:
      - in: path
        name: instanceId
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: addonId
        required: true
        schema:
          type: string
  "/organisations/{id}/addons/{addonId}/migrations":
    get:
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                       "id": "<UUID>",
                       "addon_id": "addon_<uuid>",
                       "kind": "SHARED_TO_SHARED|SHARED_TO_DEDICATED|DEDICATED_TO_DEDICATED|DEDICATED_TO_SHARED",
                       "state": "??",
                       "hostname": "db.hostname",
                       "database": "dbname",
                       "port": 5432,
                       "database_user": "username",
                       "callback_url": "https://api.clever-cloud.com/v2/…",
                       "old_cluster_id": "acddc485-79c2-4c6b-a617-c92a06c0cb0b",
                       "old_cluster_label": "par2-01",
                       "old_instance_id": "acddc485-79c2-4c6b-a617-c92a06c0cb0b",
                       "old_plan": "s",
                       "old_zone": "par2",
                       "old_recipient_hostname": "postgresql-sdc-par2-clevercloud.services.clever-cloud.com", 
                       "new_cluster_id": "acddc485-79c2-4c6b-a617-c92a06c0cb0b",
                       "new_cluster_label": "par2-02",
                       "new_instance_id": "acddc485-79c2-4c6b-a617-c92a06c0cb0b",
                       "new_plan": "m",
                       "new_zone": "par3",
                       "new_recipient_hostname": "postgresql-sdc-par3-clevercloud.services.clever-cloud.com", 
                       "request_date": "2018-10-31T10:00:23Z",
                       "last_state_update_date":  "2018-10-31T10:00:23Z",
                       "dump_restore_start_date":  "2018-10-31T10:00:23Z",
                       "dump_restore_finished_date":  "2018-10-31T10:00:23Z",
                       "end_date":  "2018-10-31T10:00:23Z",
                       "exit_message": "Success" 
                    }
              schema:
                items:
                  $ref: "#/components/schemas/AddonMigration"
                type: array
          description: List of migrations
      summary: Get past migrations from add-on.
      tags:
        - all
        - addons
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: addonId
        required: true
        schema:
          type: string
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                planId:
                  description: Id of the new plan. E.g. "plan_acddc485-79c2-4c6b-a617-c92a06c0cb0b"
                  type: string
                region:
                  description: New region. E.g. "EU", "US", "Par2"
                  type: string
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: The output of the POST to the add-on API.
                type: object
          description: Migration has started.
      summary: Start a new add-on migration
      tags:
        - all
        - addons
        - organisations
  "/organisations/{id}/addons/{addonId}/migrations/{migrationId}":
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddonMigration"
          description: The migration object
      summary: Get a given migration
      tags:
        - all
        - addons
        - organisations
    parameters:
      - in: path
        name: migrationId
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: addonId
        required: true
        schema:
          type: string
  "/organisations/{id}/addons/{addonId}/sso":
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sso"
          description: getSSOData
      tags:
        - all
        - addons
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: addonId
        required: true
        schema:
          type: string
  "/organisations/{id}/addons/{addonId}/tags":
    get:
      operationId: getOrganisationsIdAddonsAddonIdTags
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  type: string
                type: array
          description: getAddonTags
      tags:
        - all
        - addons
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: addonId
        required: true
        schema:
          type: string
  "/organisations/{id}/addons/{addonId}/tags/{tag}":
    delete:
      operationId: deleteOrganisationsIdAddonsAddonIdTagsTag
      responses:
        "200":
          description: deleteAddonTag
      tags:
        - all
        - addons
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: tag
        required: true
        schema:
          type: string
      - in: path
        name: addonId
        required: true
        schema:
          type: string
    put:
      operationId: putOrganisationsIdAddonsAddonIdTagsTag
      requestBody:
        $ref: "#/components/requestBodies/Body"
      responses:
        "200":
          description: addAddonTag
      tags:
        - all
        - addons
        - organisations
  "/organisations/{id}/applications":
    get:
      operationId: getOrganisationsIdApplications
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Application"
                type: array
          description: getAllApplications
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    post:
      description: "Creates an application. If you want to create a Github app, you need to replace the oauthApp field with what you will find here: https://github.com/CleverCloud/doc.clever-cloud.com/issues/179"
      operationId: postOrganisationsIdApplications
      requestBody:
        $ref: "#/components/requestBodies/WannabeApplication"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Application"
          description: addApplication
      tags:
        - all
        - applications
        - organisations
  "/organisations/{id}/applications/{appId}":
    delete:
      operationId: deleteOrganisationsIdApplicationsAppId
      responses:
        "200":
          description: deleteApplication
      tags:
        - all
        - applications
        - organisations
    get:
      operationId: getOrganisationsIdApplicationsAppId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Application"
          description: getApplication
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: appId
        required: true
        schema:
          type: string
    put:
      operationId: putOrganisationsIdApplicationsAppId
      requestBody:
        $ref: "#/components/requestBodies/WannabeApplication"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Application"
          description: editApplication
      tags:
        - all
        - applications
        - organisations
  "/organisations/{id}/applications/{appId}/addons":
    get:
      operationId: getOrganisationsIdApplicationsAppIdAddons
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Addon"
                type: array
          description: getAddonsLinkedToApplication
      tags:
        - all
        - addons
        - applications
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: appId
        required: true
        schema:
          type: string
    post:
      operationId: postOrganisationsIdApplicationsAppIdAddons
      requestBody:
        $ref: "#/components/requestBodies/Body"
      responses:
        "200":
          description: linkAddonToApplication
      tags:
        - all
        - addons
        - applications
        - organisations
  "/organisations/{id}/applications/{appId}/addons/env":
    get:
      operationId: getOrganisationsIdApplicationsAppIdAddonsEnv
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Env"
                type: array
          description: getEnvOfAddonsLinkedToApplication
      tags:
        - all
        - addons
        - applications
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: appId
        required: true
        schema:
          type: string
  "/organisations/{id}/applications/{appId}/addons/{addonId}":
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdAddonsAddonId
      responses:
        "200":
          description: unlinkAddonFromApplication
      tags:
        - all
        - addons
        - applications
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: appId
        required: true
        schema:
          type: string
      - in: path
        name: addonId
        required: true
        schema:
          type: string
  "/organisations/{id}/applications/{appId}/branch":
    parameters:
      - in: path
        name: appId
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
    put:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - applications
        - organisations
  "/organisations/{id}/applications/{appId}/branches":
    get:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: appId
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/organisations/{id}/applications/{appId}/buildflavor":
    parameters:
      - in: path
        name: appId
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
    put:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - applications
        - organisations
  "/organisations/{id}/applications/{appId}/dependencies":
    get:
      operationId: getOrganisationsIdApplicationsAppIdDependencies
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Application"
                type: array
          description: getApplicationDependencies
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: appId
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/organisations/{id}/applications/{appId}/dependencies/env":
    get:
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  $ref: "#/components/schemas/LinkedAppEnv"
                type: array
          description: Get env variables defined by application dependencies
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: appId
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/organisations/{id}/applications/{appId}/dependencies/{dependencyId}":
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdDependenciesDependencyId
      responses:
        "200":
          description: deleteApplicationDependency
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: dependencyId
        required: true
        schema:
          type: string
      - in: path
        name: appId
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
    put:
      operationId: putOrganisationsIdApplicationsAppIdDependenciesDependencyId
      requestBody:
        $ref: "#/components/requestBodies/Body"
      responses:
        "200":
          description: addApplicationDependency
      tags:
        - all
        - applications
        - organisations
  "/organisations/{id}/applications/{appId}/dependents":
    get:
      operationId: getOrganisationsIdApplicationsAppIdDependents
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Application"
                type: array
          description: getApplicationDependents
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: appId
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/organisations/{id}/applications/{appId}/deployments":
    get:
      operationId: getOrganisationsIdApplicationsAppIdDeployments
      parameters:
        - in: query
          name: limit
          required: false
          schema:
            type: string
        - in: query
          name: offset
          required: false
          schema:
            type: string
        - in: query
          name: action
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Deployment"
                type: array
          description: getApplicationDeploymentsForOrga
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: appId
        required: true
        schema:
          type: string
  "/organisations/{id}/applications/{appId}/deployments/{deploymentId}":
    get:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: appId
        required: true
        schema:
          type: string
      - in: path
        name: deploymentId
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/organisations/{id}/applications/{appId}/deployments/{deploymentId}/instances":
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdDeploymentsDeploymentIdInstances
      responses:
        "200":
          description: getApplicationDeploymentsForOrga
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: appId
        required: true
        schema:
          type: string
      - in: path
        name: deploymentId
        required: true
        schema:
          type: string
  "/organisations/{id}/applications/{appId}/env":
    get:
      operationId: getOrganisationsIdApplicationsAppIdEnv
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ListEnv"
                type: array
          description: getApplicationEnv
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: appId
        required: true
        schema:
          type: string
    put:
      operationId: putOrganisationsIdApplicationsAppIdEnv
      requestBody:
        $ref: "#/components/requestBodies/WannabeEnv"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ListEnv"
          description: editApplicationEnvironment
      tags:
        - all
        - applications
        - organisations
  "/organisations/{id}/applications/{appId}/env/{envName}":
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdEnvEnvName
      responses:
        "200":
          description: removeApplicationEnv
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: appId
        required: true
        schema:
          type: string
      - in: path
        name: envName
        required: true
        schema:
          type: string
    put:
      operationId: putOrganisationsIdApplicationsAppIdEnvEnvName
      requestBody:
        $ref: "#/components/requestBodies/WannabeEnv"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ListEnv"
          description: editApplicationEnv
      tags:
        - all
        - applications
        - organisations
  "/organisations/{id}/applications/{appId}/exposed_env":
    get:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: appId
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
    put:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - applications
        - organisations
  "/organisations/{id}/applications/{appId}/instances":
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdInstances
      responses:
        "200":
          description: undeployApplication
      tags:
        - all
        - applications
        - organisations
    get:
      operationId: getOrganisationsIdApplicationsAppIdInstances
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AppInstance"
                type: array
          description: getApplicationInstances
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: appId
        required: true
        schema:
          type: string
    post:
      operationId: postOrganisationsIdApplicationsAppIdInstances
      parameters:
        - in: query
          name: commit
          required: false
          schema:
            type: string
      responses:
        "200":
          description: redeployApplication
      tags:
        - all
        - applications
        - organisations
  "/organisations/{id}/applications/{appId}/instances/{instanceId}":
    get:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: instanceId
        required: true
        schema:
          type: string
      - in: path
        name: appId
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/organisations/{id}/applications/{appId}/tags":
    get:
      operationId: getOrganisationsIdApplicationsAppIdTags
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  type: string
                type: array
          description: getApplicationTags
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: appId
        required: true
        schema:
          type: string
  "/organisations/{id}/applications/{appId}/tags/{tag}":
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdTagsTag
      responses:
        "200":
          description: deleteApplicationTag
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: appId
        required: true
        schema:
          type: string
      - in: path
        name: tag
        required: true
        schema:
          type: string
    put:
      operationId: putOrganisationsIdApplicationsAppIdTagsTag
      requestBody:
        $ref: "#/components/requestBodies/Body"
      responses:
        "200":
          description: addApplicationTag
      tags:
        - all
        - applications
        - organisations
  "/organisations/{id}/applications/{appId}/vhosts":
    get:
      operationId: getOrganisationsIdApplicationsAppIdVhosts
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Vhost"
                type: array
          description: getVhosts
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: appId
        required: true
        schema:
          type: string
  "/organisations/{id}/applications/{appId}/vhosts/favourite":
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdVhostsFavourite
      responses:
        "200":
          description: unmarkFavouriteVhost
      tags:
        - all
        - applications
        - organisations
    get:
      operationId: getOrganisationsIdApplicationsAppIdVhostsFavourite
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vhost"
          description: getFavouriteVhost
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: appId
        required: true
        schema:
          type: string
    put:
      operationId: putOrganisationsIdApplicationsAppIdVhostsFavourite
      requestBody:
        $ref: "#/components/requestBodies/Vhost"
      responses:
        "200":
          description: markFavouriteVhost
      tags:
        - all
        - applications
        - organisations
  "/organisations/{id}/applications/{appId}/vhosts/{domain}":
    delete:
      operationId: deleteOrganisationsIdApplicationsAppIdVhostsDomain
      responses:
        "200":
          description: removeVhost
      tags:
        - all
        - applications
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: appId
        required: true
        schema:
          type: string
      - in: path
        name: domain
        required: true
        schema:
          type: string
    put:
      operationId: putOrganisationsIdApplicationsAppIdVhostsDomain
      requestBody:
        $ref: "#/components/requestBodies/Vhost"
      responses:
        "200":
          description: addVhost
      tags:
        - all
        - applications
        - organisations
  "/organisations/{id}/avatar":
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    put:
      description: If you want to upload an image from your computer, send the image in the body of the request without anything else.
      operationId: putOrganisationsIdAvatar
      responses:
        "200":
          description: |-
            setOrgaAvatar
            setOrgaAvatarFromSource
      tags:
        - all
        - organisations
  "/organisations/{id}/consumers":
    get:
      operationId: getOrganisationsIdConsumers
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Consumer"
                type: array
          description: getConsumers
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    post:
      operationId: postOrganisationsIdConsumers
      requestBody:
        $ref: "#/components/requestBodies/WannabeConsumer"
      responses:
        "200":
          description: createConsumer
      tags:
        - all
        - organisations
  "/organisations/{id}/consumers/{key}":
    delete:
      operationId: deleteOrganisationsIdConsumersKey
      responses:
        "200":
          description: deleteConsumer
      tags:
        - all
        - organisations
    get:
      operationId: getOrganisationsIdConsumersKey
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Consumer"
          description: getConsumer
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: key
        required: true
        schema:
          type: string
    put:
      operationId: putOrganisationsIdConsumersKey
      requestBody:
        $ref: "#/components/requestBodies/WannabeConsumer"
      responses:
        "200":
          description: PUT the same data as in POST.
      tags:
        - all
        - organisations
  "/organisations/{id}/consumers/{key}/secret":
    get:
      operationId: getOrganisationsIdConsumersKeySecret
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Secret"
          description: getConsumerSecret
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: key
        required: true
        schema:
          type: string
  "/organisations/{id}/consumptions":
    get:
      operationId: getOrganisationsIdConsumptions
      parameters:
        - in: query
          name: appId
          required: false
          schema:
            type: string
        - in: query
          name: from
          required: false
          schema:
            type: string
        - in: query
          name: to
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conso"
          description: getAmount
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/organisations/{id}/credits":
    get:
      operationId: getOrganisationsIdCredits
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Credits"
          description: getAmount
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/organisations/{id}/deployments":
    get:
      operationId: getOrganisationsIdDeployments
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeploymentSummary"
          description: getDeploymentsForAllApps
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/organisations/{id}/instances":
    get:
      operationId: getOrganisationsIdInstances
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: getInstancesForAllApps
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/organisations/{id}/members":
    get:
      operationId: getOrganisationsIdMembers
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Member"
                type: array
          description: getOrganisationMembers
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    post:
      operationId: postOrganisationsIdMembers
      parameters:
        - in: query
          name: invitationKey
          required: false
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/WannabeMember"
      responses:
        "200":
          description: addOrganisationMember
      tags:
        - all
        - organisations
  "/organisations/{id}/members/{userId}":
    delete:
      operationId: deleteOrganisationsIdMembersUserId
      responses:
        "200":
          description: removeOrganisationMember
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: userId
        required: true
        schema:
          type: string
    put:
      operationId: putOrganisationsIdMembersUserId
      requestBody:
        $ref: "#/components/requestBodies/WannabeMember"
      responses:
        "200":
          description: editOrganisationMember
      tags:
        - all
        - organisations
  "/organisations/{id}/payment-info":
    get:
      operationId: getOrganisationsIdPaymentInfo
      responses:
        "200":
          description: getPaymentInfo
      tags:
        - all
        - organisations
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/organisations/{id}/payments/billings":
    get:
      operationId: getOrganisationsIdPaymentsBillings
      responses:
        "200":
          description: getInvoices
      tags:
        - all
        - organisations
        - payments
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    post:
      operationId: postOrganisationsIdPaymentsBillings
      responses:
        "200":
          description: buyDrops
      tags:
        - all
        - organisations
        - payments
  "/organisations/{id}/payments/billings/unpaid":
    get:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - organisations
        - payments
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/organisations/{id}/payments/billings/{bid}":
    delete:
      operationId: deleteOrganisationsIdPaymentsBillingsBid
      responses:
        "200":
          description: deletePurchaseOrder
      tags:
        - all
        - organisations
        - payments
    get:
      operationId: getOrganisationsIdPaymentsBillingsBid
      responses:
        "200":
          description: getInvoice
      tags:
        - all
        - organisations
        - payments
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: bid
        required: true
        schema:
          type: string
    put:
      operationId: putOrganisationsIdPaymentsBillingsBid
      responses:
        "200":
          description: choosePaymentProvider
      tags:
        - all
        - organisations
        - payments
  "/organisations/{id}/payments/billings/{bid}.pdf":
    get:
      operationId: getOrganisationsIdPaymentsBillingsBidPdf
      parameters:
        - in: query
          name: token
          required: false
          schema:
            type: string
      responses:
        "200":
          description: getPdfInvoice
      tags:
        - all
        - organisations
        - payments
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: bid
        required: true
        schema:
          type: string
  "/organisations/{id}/payments/fullprice/{price}":
    get:
      operationId: getOrganisationsIdPaymentsFullPricePrice
      responses:
        "200":
          description: priceWithTax
      tags:
        - all
        - organisations
        - payments
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: price
        required: true
        schema:
          type: string
  "/organisations/{id}/payments/methods":
    get:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - organisations
        - payments
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    post:
      requestBody:
        $ref: "#/components/requestBodies/Body"
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - organisations
        - payments
  "/organisations/{id}/payments/methods/default":
    get:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - organisations
        - payments
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    put:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentData"
        required: true
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - organisations
        - payments
  "/organisations/{id}/payments/methods/{mId}":
    delete:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - organisations
        - payments
    parameters:
      - in: path
        name: mId
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/organisations/{id}/payments/monthlyinvoice":
    get:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - organisations
        - payments
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  "/organisations/{id}/payments/monthlyinvoice/maxcredit":
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
    put:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - organisations
        - payments
  "/organisations/{id}/payments/recurring":
    delete:
      operationId: deleteOrganisationsIdPaymentsRecurring
      responses:
        "200":
          description: deleteRecurrentPayment
      tags:
        - all
        - organisations
        - payments
    get:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - organisations
        - payments
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  /password_forgotten:
    get:
      operationId: getPasswordForgotten
      responses:
        "200":
          description: getPasswordForgottenForm
      tags:
        - all
        - password_forgotten
    post:
      operationId: postPasswordForgotten
      parameters:
        - in: query
          name: login
          required: false
          schema:
            type: string
        - in: query
          name: drop_tokens
          required: false
          schema:
            type: string
        - in: header
          name: TesterPass
          required: false
          schema:
            type: string
      responses:
        "200":
          description: askForPasswordResetViaForm
      tags:
        - all
        - password_forgotten
  "/password_forgotten/{key}":
    get:
      operationId: getPasswordForgottenKey
      responses:
        "200":
          description: confirmPasswordResetRequest
      tags:
        - all
        - password_forgotten
    parameters:
      - in: path
        name: key
        required: true
        schema:
          type: string
    post:
      operationId: postPasswordForgottenKey
      parameters:
        - in: query
          name: pass
          required: false
          schema:
            type: string
        - in: query
          name: pass2
          required: false
          schema:
            type: string
      responses:
        "200":
          description: resetPasswordForgotten
      tags:
        - all
        - password_forgotten
  "/payments/assets/pay_button/{token}/button.png":
    get:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - payments
    parameters:
      - in: path
        name: token
        required: true
        schema:
          type: string
  "/payments/coupons/{name}":
    get:
      operationId: getPaymentsCouponsName
      responses:
        "200":
          description: getCoupon
      tags:
        - all
        - payments
    parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
  /payments/providers:
    get:
      operationId: getPaymentsProviders
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Payment_Provider"
                type: array
          description: getAvailablePaymentProviders
      tags:
        - all
        - payments
  /payments/tokens/stripe:
    get:
      operationId: getPaymentsTokensStripe
      responses:
        "200":
          description: getStripeToken
      tags:
        - all
        - payments
  "/payments/{bid}/end/stripe":
    parameters:
      - in: path
        name: bid
        required: true
        schema:
          type: string
    post:
      responses:
        "200":
          description: endPaymentWithStripe
      tags:
        - all
        - payments
  /products/addonproviders:
    get:
      operationId: getProductsAddonProviders
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Provider"
                type: array
          description: getAddonProviders
      tags:
        - all
        - products
  "/products/addonproviders/{provider_id}":
    get:
      operationId: getProductsAddonProvidersProviderId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Provider"
          description: getAddonProvider
      tags:
        - all
        - products
    parameters:
      - in: path
        name: provider_id
        required: true
        schema:
          type: string
  "/products/addonproviders/{provider_id}/versions":
    get:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - products
    parameters:
      - in: path
        name: provider_id
        required: true
        schema:
          type: string
  /products/countries:
    get:
      operationId: getProductsCountries
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Country"
          description: getCountries
      tags:
        - all
        - products
  /products/countrycodes:
    get:
      operationId: getProductsCountrycodes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Country"
          description: getCountryCodes
      tags:
        - all
        - products
  /products/instances:
    get:
      operationId: getProductsInstances
      parameters:
        - in: query
          name: for
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Instance"
                type: array
          description: getAvailableInstances
      tags:
        - all
        - products
  "/products/instances/{type}-{version}":
    get:
      operationId: getProductsInstancesTypeVersion
      parameters:
        - in: query
          name: for
          required: false
          schema:
            type: string
        - in: query
          name: app
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Instance"
          description: getAvailableInstance
      tags:
        - all
        - products
    parameters:
      - in: path
        name: type
        required: true
        schema:
          type: string
      - in: path
        name: version
        required: true
        schema:
          type: string
  /products/mfa_kinds:
    get:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - products
  /products/packages:
    get:
      operationId: getProductsPackages
      parameters:
        - in: query
          name: coupon
          required: false
          schema:
            type: string
        - in: query
          name: orgaId
          required: false
          schema:
            type: string
        - in: query
          name: currency
          required: false
          schema:
            type: string
      responses:
        "200":
          description: getAvailablePackages
      tags:
        - all
        - products
  /products/prices:
    get:
      operationId: getProductsPrices
      responses:
        "200":
          description: getExchangeRates
      tags:
        - all
        - products
  /products/zones:
    get:
      operationId: getProductsZones
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Zone"
                type: array
          description: getZones
      tags:
        - all
        - products
  /self:
    delete:
      operationId: deleteSelf
      responses:
        "200":
          description: deleteUser
      tags:
        - all
        - self
    get:
      description: Get information about yourself
      operationId: getSelf
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: getUser
      summary: ""
      tags:
        - all
        - self
    put:
      operationId: putSelf
      requestBody:
        $ref: "#/components/requestBodies/WannabeUser"
      responses:
        "200":
          description: editUser
      tags:
        - all
        - self
  /self/addons:
    get:
      description: Get all the addons
      operationId: getSelfAddons
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Addon"
                type: array
          description: getAddons
      summary: Addon
      tags:
        - all
        - addons
        - self
    post:
      operationId: postSelfAddons
      requestBody:
        $ref: "#/components/requestBodies/WannabeAddon"
      responses:
        "200":
          description: provisionAddon
      tags:
        - all
        - addons
        - self
  /self/addons/preorders:
    post:
      requestBody:
        $ref: "#/components/requestBodies/WannabeAddon"
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - addons
        - self
  "/self/addons/{addonId}":
    delete:
      operationId: deleteSelfAddonsAddonId
      responses:
        "200":
          description: deprovisionAddon
      tags:
        - all
        - addons
        - self
    get:
      description: Get a specific addon
      operationId: getSelfAddonsAddonId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Addon"
          description: getAddon
      summary: Specific addon
      tags:
        - all
        - addons
        - self
    parameters:
      - in: path
        name: addonId
        required: true
        schema:
          type: string
    put:
      operationId: putSelfAddonsAddonId
      requestBody:
        $ref: "#/components/requestBodies/WannabeAddon"
      responses:
        "200":
          description: Update addon informations
      tags:
        - all
        - addons
        - self
  "/self/addons/{addonId}/applications":
    get:
      operationId: getSelfAddonsAddonIdApplications
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Application"
                type: array
          description: getApplicationsLinkedToAddon
      tags:
        - all
        - addons
        - applications
        - self
    parameters:
      - in: path
        name: addonId
        required: true
        schema:
          type: string
  "/self/addons/{addonId}/env":
    get:
      operationId: getSelfAddonsAddonIdEnv
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ListEnv"
                type: array
          description: getAddonEnv
      tags:
        - all
        - addons
        - self
    parameters:
      - in: path
        name: addonId
        required: true
        schema:
          type: string
  "/self/addons/{addonId}/plan":
    parameters:
      - in: path
        name: addonId
        required: true
        schema:
          type: string
    put:
      operationId: putSelfAddonsAddonIdPlan
      requestBody:
        $ref: "#/components/requestBodies/WannabePlan"
      responses:
        "200":
          description: Update plan of an add-on.
      tags:
        - all
        - addons
        - self
  "/self/addons/{addonId}/sso":
    get:
      operationId: getSelfAddonsAddonIdSso
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sso"
          description: getSSOData
      tags:
        - all
        - addons
        - self
    parameters:
      - in: path
        name: addonId
        required: true
        schema:
          type: string
  "/self/addons/{addonId}/tags":
    get:
      operationId: getSelfAddonsAddonIdTags
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  type: string
                type: array
          description: getAddonTags
      tags:
        - all
        - addons
        - self
    parameters:
      - in: path
        name: addonId
        required: true
        schema:
          type: string
  "/self/addons/{addonId}/tags/{tag}":
    delete:
      operationId: deleteSelfAddonsAddonIdTagsTag
      responses:
        "200":
          description: deleteAddonTag
      tags:
        - all
        - addons
        - self
    parameters:
      - in: path
        name: tag
        required: true
        schema:
          type: string
      - in: path
        name: addonId
        required: true
        schema:
          type: string
    put:
      operationId: putSelfAddonsAddonIdTagsTag
      requestBody:
        $ref: "#/components/requestBodies/Body"
      responses:
        "200":
          description: addAddonTag
      tags:
        - all
        - addons
        - self
  /self/applications:
    get:
      operationId: getSelfApplications
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Application"
                type: array
          description: getApplications
      tags:
        - all
        - applications
        - self
    post:
      description: "Creates an application. If you want to create a Github app, you need to replace the oauthApp field with what you will find here: https://github.com/CleverCloud/doc.clever-cloud.com/issues/179"
      operationId: postSelfApplications
      requestBody:
        $ref: "#/components/requestBodies/WannabeApplication"
      responses:
        "200":
          description: addApplication
      tags:
        - all
        - applications
        - self
  "/self/applications/{appId}":
    delete:
      operationId: deleteSelfApplicationsAppId
      responses:
        "200":
          description: deleteApplication
      tags:
        - all
        - applications
        - self
    get:
      operationId: getSelfApplicationsAppId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Application"
          description: getApplication
      tags:
        - all
        - applications
        - self
    parameters:
      - in: path
        name: appId
        required: true
        schema:
          type: string
    put:
      operationId: putSelfApplicationsAppId
      requestBody:
        $ref: "#/components/requestBodies/WannabeApplication"
      responses:
        "200":
          description: editApplication
      tags:
        - all
        - applications
        - self
  "/self/applications/{appId}/addons":
    get:
      operationId: getSelfApplicationsAppIdAddons
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Addon"
                type: array
          description: getAddonsLinkedToApplication
      tags:
        - all
        - addons
        - applications
        - self
    parameters:
      - in: path
        name: appId
        required: true
        schema:
          type: string
    post:
      operationId: postSelfApplicationsAppIdAddons
      requestBody:
        $ref: "#/components/requestBodies/Body"
      responses:
        "200":
          description: linkAddonToApplication
      tags:
        - all
        - addons
        - applications
        - self
  "/self/applications/{appId}/addons/env":
    get:
      operationId: getSelfApplicationsAppIdAddonsEnv
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Env"
                type: array
          description: getEnvOfAddonsLinkedToApplication
      tags:
        - all
        - addons
        - applications
        - self
    parameters:
      - in: path
        name: appId
        required: true
        schema:
          type: string
  "/self/applications/{appId}/addons/{addonId}":
    delete:
      operationId: deleteSelfApplicationsAppIdAddonsAddonId
      responses:
        "200":
          description: unlinkAddonFromApplication
      tags:
        - all
        - addons
        - applications
        - self
    parameters:
      - in: path
        name: appId
        required: true
        schema:
          type: string
      - in: path
        name: addonId
        required: true
        schema:
          type: string
  "/self/applications/{appId}/branch":
    parameters:
      - in: path
        name: appId
        required: true
        schema:
          type: string
    put:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - applications
        - self
  "/self/applications/{appId}/branches":
    get:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - applications
        - self
    parameters:
      - in: path
        name: appId
        required: true
        schema:
          type: string
  "/self/applications/{appId}/buildflavor":
    parameters:
      - in: path
        name: appId
        required: true
        schema:
          type: string
    put:
      responses:
        "200":
          description: Status 200
      tags:
        - all
        - applications
        - self
  "/self/applications/{appId}/dependencies":
    get:
      operationId: getSelfApplicationsAppIdDependencies
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Application"
                type: array
          description: getApplicationDependencies
      tags:
        - all
        - applications
        - self
    parameters:
      - in: path
        name: appId
        required: true
        schema:
[...]
