swagger: '2.0'
schemes:
  - https
host: api.stripe.com
info:
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: 'https://stripe.com'
    x-twitter: stripe
  description: 'The Stripe REST API. Please see https://stripe.com/docs/api for more details.'
  termsOfService: 'https://stripe.com/us/terms/'
  title: Stripe
  version: '2018-11-08'
  x-apisguru-categories:
    - financial
  x-logo:
    url: 'https://twitter.com/stripe/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/stripe/openapi/master/openapi/spec2.yaml'
      version: '2.0'
  x-providerName: stripe.com
  x-stripeSpecFilename: spec2
consumes:
  - application/x-www-form-urlencoded
produces:
  - application/json
paths:
  /v1/3d_secure:
    post:
      description: <p>Initiate 3D Secure authentication.</p>
      operationId: Post3dSecure
      parameters:
        - description: Body parameters for the request.
          in: body
          name: payload
          required: true
          schema:
            properties:
              amount:
                description: Amount of the charge that you will create when authentication completes.
                type: integer
              card:
                description: 'The ID of a card token, or the ID of a card belonging to the given customer.'
                type: string
              currency:
                description: 'Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).'
                type: string
              customer:
                type: string
              expand:
                description: Specifies which fields in the response should be expanded.
                items:
                  type: string
                type: array
              return_url:
                description: The URL that the cardholder's browser will be returned to when authentication completes.
                type: string
            required:
              - amount
              - currency
              - return_url
            type: object
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/three_d_secure'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
  '/v1/3d_secure/{three_d_secure}':
    get:
      description: <p>Retrieves a 3D Secure object.</p>
      operationId: Get3dSecureThreeDSecure
      parameters:
        - description: Specifies which fields in the response should be expanded.
          in: query
          items: {}
          name: expand
          required: false
          type: array
        - description: The identifier of the 3D Secure object to be retrieved.
          in: path
          name: three_d_secure
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/three_d_secure'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
  /v1/account:
    delete:
      description: |-
        <p>With <a href="/docs/connect">Connect</a>, you may delete Custom accounts you manage.</p>

        <p>Custom accounts created using test-mode keys can be deleted at any time. Custom accounts created using live-mode keys may only be deleted once all balances are zero.</p>

        <p>If you are looking to close your own account, use the <a href="https://dashboard.stripe.com/account/data">data tab in your account settings</a> instead.</p>
      operationId: DeleteAccount
      parameters:
        - description: Body parameters for the request.
          in: body
          name: payload
          required: false
          schema:
            properties:
              account:
                description: 'The identifier of the account to be deleted. If none is provided, will default to the account of the API key.'
                type: string
            type: object
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/deleted_account'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
    get:
      description: <p>Retrieves the details of the account.</p>
      operationId: GetAccount
      parameters:
        - description: Specifies which fields in the response should be expanded.
          in: query
          items: {}
          name: expand
          required: false
          type: array
        - description: 'The identifier of the account to retrieve. If none is provided, the account associated with the API key is returned.'
          in: query
          name: account
          required: false
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/account'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
    post:
      description: |-
        <p>Updates a connected <a href="/docs/connect/accounts">Express or Custom account</a> by setting the values of the parameters passed. Any parameters not provided are left unchanged. Most parameters can be changed only for Custom accounts. (These are marked <strong>Custom Only</strong> below.) Parameters marked <strong>Custom and Express</strong> are supported by both account types.</p>

        <p>To update your own account, use the <a href="https://dashboard.stripe.com/account">Dashboard</a>. Refer to our <a href="/docs/connect/updating-accounts">Connect</a> documentation to learn more about updating accounts.</p>
      operationId: PostAccount
      parameters:
        - description: Body parameters for the request.
          in: body
          name: payload
          required: false
          schema:
            properties:
              account:
                type: string
              account_token:
                description: 'An [account token](https://stripe.com/docs/api#create_account_token), used to securely provide details to the account.'
                type: string
              bank_account:
                description: 'Either a token, like the ones returned by [Stripe.js](https://stripe.com/docs/stripe.js), or a dictionary containing a user''s bank account details.'
              business_logo:
                description: '(ID of a [file upload](https://stripe.com/docs/guides/file-upload)) A logo for this account (at least 128px x 128px)'
                type: string
              business_name:
                description: The publicly sharable name for this account.
                type: string
              business_primary_color:
                description: A CSS hex color value representing the primary branding color for this account.
                type: string
              business_url:
                description: The URL that best shows the service or product provided by this account.
                type: string
              debit_negative_balances:
                description: 'A Boolean indicating whether Stripe should try to reclaim negative balances from an attached bank account. For details, see [Understanding Connect Account Balances](/docs/connect/account-balances).'
                type: boolean
              decline_charge_on:
                description: 'Account-level settings to automatically decline certain types of charges, regardless of the card issuer''s decision.'
                properties:
                  avs_failure:
                    type: boolean
                  cvc_failure:
                    type: boolean
                title: decline_charge_on_specs
                type: object
              default_currency:
                description: 'Three-letter ISO currency code representing the default currency for the account. This must be a currency that [Stripe supports in the account''s country](https://stripe.com/docs/payouts).'
                type: string
              email:
                description: 'Email address of the account representative. For Standard accounts, this is used to ask them to claim their Stripe account. For Custom accounts, this only makes the account easier to identify to platforms; Stripe does not email the account representative.'
                type: string
              expand:
                description: Specifies which fields in the response should be expanded.
                items:
                  type: string
                type: array
              external_account:
                description: 'A card or bank account to attach to the account. You can provide either a token, like the ones returned by [Stripe.js](/docs/stripe.js), or a dictionary, as documented in the `external_account` parameter for [bank account](/docs/api#account_create_bank_account) creation. <br><br>By default, providing an external account sets it as the new default external account for its currency, and deletes the old default if one exists. To add additional external accounts without replacing the existing default for the currency, use the bank account or card creation API.'
              legal_entity:
                description: 'Information about the legal entity itself, including information about the associated account representative.'
                properties:
                  additional_owners:
                    items:
                      properties:
                        address:
                          properties:
                            city:
                              type: string
                            country:
                              type: string
                            line1:
                              type: string
                            line2:
                              type: string
                            postal_code:
                              type: string
                            state:
                              type: string
                          title: address_specs
                          type: object
                        dob:
                          properties:
                            day:
                              type: integer
                            month:
                              type: integer
                            year:
                              type: integer
                          required:
                            - day
                            - month
                            - year
                          title: date_of_birth_specs
                          type: object
                        email:
                          type: string
                        first_name:
                          type: string
                        last_name:
                          type: string
                        maiden_name:
                          type: string
                        personal_id_number:
                          type: string
                        phone:
                          type: string
                        ssn_last_4:
                          type: string
                        verification:
                          properties:
                            document:
                              type: string
                            status:
                              enum:
                                - ''
                                - pending
                                - unverified
                                - verified
                              type: string
                          title: account_person_verification_specs
                          type: object
                      title: account_owner_specs
                      type: object
                  address:
                    properties:
                      city:
                        type: string
                      country:
                        type: string
                      line1:
                        type: string
                      line2:
                        type: string
                      postal_code:
                        type: string
                      state:
                        type: string
                    title: address_specs
                    type: object
                  address_kana:
                    properties:
                      city:
                        type: string
                      country:
                        type: string
                      line1:
                        type: string
                      line2:
                        type: string
                      postal_code:
                        type: string
                      state:
                        type: string
                      town:
                        type: string
                    title: japan_address_kana_specs
                    type: object
                  address_kanji:
                    properties:
                      city:
                        type: string
                      country:
                        type: string
                      line1:
                        type: string
                      line2:
                        type: string
                      postal_code:
                        type: string
                      state:
                        type: string
                      town:
                        type: string
                    title: japan_address_kanji_specs
                    type: object
                  business_name:
                    type: string
                  business_name_kana:
                    type: string
                  business_name_kanji:
                    type: string
                  business_tax_id:
                    type: string
                  business_vat_id:
                    type: string
                  dob:
                    properties:
                      day:
                        type: integer
                      month:
                        type: integer
                      year:
                        type: integer
                    required:
                      - day
                      - month
                      - year
                    title: date_of_birth_specs
                    type: object
                  first_name:
                    type: string
                  first_name_kana:
                    type: string
                  first_name_kanji:
                    type: string
                  gender:
                    type: string
                  last_name:
                    type: string
                  last_name_kana:
                    type: string
                  last_name_kanji:
                    type: string
                  maiden_name:
                    type: string
                  personal_address:
                    properties:
                      city:
                        type: string
                      country:
                        type: string
                      line1:
                        type: string
                      line2:
                        type: string
                      postal_code:
                        type: string
                      state:
                        type: string
                    title: address_specs
                    type: object
                  personal_address_kana:
                    properties:
                      city:
                        type: string
                      country:
                        type: string
                      line1:
                        type: string
                      line2:
                        type: string
                      postal_code:
                        type: string
                      state:
                        type: string
                      town:
                        type: string
                    title: japan_address_kana_specs
                    type: object
                  personal_address_kanji:
                    properties:
                      city:
                        type: string
                      country:
                        type: string
                      line1:
                        type: string
                      line2:
                        type: string
                      postal_code:
                        type: string
                      state:
                        type: string
                      town:
                        type: string
                    title: japan_address_kanji_specs
                    type: object
                  personal_id_number:
                    type: string
                  phone_number:
                    type: string
                  ssn_last_4:
                    type: string
                  tax_id_registrar:
                    type: string
                  type:
                    type: string
                  verification:
                    properties:
                      document:
                        type: string
                      status:
                        enum:
                          - ''
                          - pending
                          - unverified
                          - verified
                        type: string
                    title: account_person_verification_specs
                    type: object
                title: account_legal_entity_specs
                type: object
              metadata:
                description: A set of key-value pairs that you can attach to an `Account` object. This can be useful for storing additional information about the account in a structured format.
                type: object
              payout_schedule:
                description: 'Details on when funds from charges are available, and when they are paid out to an external account. For details, see our [Setting Bank and Debit Card Payouts](/docs/connect/bank-transfers#payout-information) documentation.'
                properties:
                  delay_days: {}
                  interval:
                    enum:
                      - daily
                      - four_times_monthly
                      - manual
                      - monthly
                      - weekly
                    type: string
                  monthly_anchor:
                    type: integer
                  weekly_anchor:
                    enum:
                      - friday
                      - monday
                      - saturday
                      - sunday
                      - thursday
                      - tuesday
                      - wednesday
                    type: string
                title: transfer_schedule_specs
                type: object
              payout_statement_descriptor:
                description: 'The text that appears on the bank account statement for payouts. If not set, this defaults to the platform''s bank descriptor as set in the Dashboard.'
                type: string
              product_description:
                description: Internal-only description of the product sold or service provided by the business. It's used by Stripe for risk and underwriting purposes.
                type: string
              requested_capabilities:
                description: The set of capabilities you want to unlock for this account. Each capability will be inactive until you have provided its specific requirements and Stripe has verified them. An account may have some of its requested capabilities be active and some be inactive.
                items:
                  enum:
                    - card_payments
                    - platform_payments
                  type: string
                type: array
              statement_descriptor:
                description: 'The default text that appears on credit card statements when a charge is made [directly on the account](/docs/connect/direct-charges).'
                type: string
              support_email:
                description: A publicly shareable support email address for the business.
                type: string
              support_phone:
                description: A publicly shareable support phone number for the business.
                type: string
              support_url:
                description: A publicly shareable URL that provides support for this account.
                type: string
              tos_acceptance:
                description: 'Details on the account''s acceptance of the [Stripe Services Agreement](/docs/connect/updating-accounts#tos-acceptance).'
                properties:
                  date:
                    type: integer
                  ip:
                    type: string
                  user_agent:
                    type: string
                required:
                  - date
                  - ip
                title: tos_acceptance_specs
                type: object
            type: object
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/account'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
  /v1/account/bank_accounts:
    post:
      description: <p>Create an external account for a given account.</p>
      operationId: PostAccountBankAccounts
      parameters:
        - description: Body parameters for the request.
          in: body
          name: payload
          required: false
          schema:
            properties:
              bank_account:
                description: 'Either a token, like the ones returned by [Stripe.js](https://stripe.com/docs/stripe.js), or a dictionary containing a user''s bank account details.'
              default_for_currency:
                description: 'When set to true, or if this is the first external account added in this currency, this account becomes the default external account for its currency.'
                type: boolean
              expand:
                description: Specifies which fields in the response should be expanded.
                items:
                  type: string
                type: array
              external_account:
                description: This string to be replaced by DocSpecGenerator.
              metadata:
                description: A set of key-value pairs that you can attach to an external account object. It can be useful for storing additional information about the external account in a structured format.
                type: object
            type: object
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/external_account'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
  '/v1/account/bank_accounts/{id}':
    delete:
      description: <p>Delete a specified external account for a given account.</p>
      operationId: DeleteAccountBankAccountsId
      parameters:
        - description: The ID of the external account to be deleted.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/deleted_external_account'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
    get:
      description: <p>Retrieve a specified external account for a given account.</p>
      operationId: GetAccountBankAccountsId
      parameters:
        - description: Specifies which fields in the response should be expanded.
          in: query
          items: {}
          name: expand
          required: false
          type: array
        - in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/external_account'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
    post:
      description: |-
        <p>Updates the metadata, account holder name, and account holder type of a bank account belonging to a <a href="/docs/connect/custom-accounts">Custom account</a>, and optionally sets it as the default for its currency. Other bank account details are not editable by design.</p>
        <p>You can re-enable a disabled bank account by performing an update call without providing any arguments or changes.</p>
      operationId: PostAccountBankAccountsId
      parameters:
        - description: The ID of the external account to update
          in: path
          name: id
          required: true
          type: string
        - description: Body parameters for the request.
          in: body
          name: payload
          required: false
          schema:
            properties:
              account_holder_name:
                description: The name of the person or business that owns the bank account.
                type: string
              account_holder_type:
                description: The type of entity that holds the account. This can be either `individual` or `company`.
                enum:
                  - ''
                  - company
                  - individual
                type: string
              address_city:
                description: City/District/Suburb/Town/Village.
                type: string
              address_country:
                description: 'Billing address country, if provided when creating card.'
                type: string
              address_line1:
                description: Address line 1 (Street address/PO Box/Company name).
                type: string
              address_line2:
                description: Address line 2 (Apartment/Suite/Unit/Building).
                type: string
              address_state:
                description: State/County/Province/Region.
                type: string
              address_zip:
                description: ZIP or postal code.
                type: string
              default_for_currency:
                description: 'When set to true, this becomes the default external account for its currency.'
                type: boolean
              exp_month:
                description: Two digit number representing the card’s expiration month.
                type: string
              exp_year:
                description: Four digit number representing the card’s expiration year.
                type: string
              expand:
                description: Specifies which fields in the response should be expanded.
                items:
                  type: string
                type: array
              metadata:
                type: object
              name:
                description: Cardholder name.
                type: string
            type: object
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/external_account'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
  /v1/account/external_accounts:
    get:
      description: <p>List external accounts for an account.</p>
      operationId: GetAccountExternalAccounts
      parameters:
        - description: Specifies which fields in the response should be expanded.
          in: query
          items: {}
          name: expand
          required: false
          type: array
        - description: 'A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.'
          in: query
          name: ending_before
          required: false
          type: string
        - description: 'A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.'
          in: query
          name: limit
          required: false
          type: integer
        - description: 'A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.'
          in: query
          name: starting_after
          required: false
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            properties:
              data:
                description: The list contains all external accounts that have been attached to the Stripe account. These may be bank accounts or cards.
                items:
                  $ref: '#/definitions/bank_account'
                type: array
              has_more:
                description: True if this list has another page of items after this one that can be fetched.
                type: boolean
              object:
                description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
                enum:
                  - list
                type: string
              url:
                description: The URL where this list can be accessed.
                type: string
            required:
              - data
              - has_more
              - object
              - url
            title: ExternalAccountList
            type: object
            x-expandableFields:
              - data
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
    post:
      description: <p>Create an external account for a given account.</p>
      operationId: PostAccountExternalAccounts
      parameters:
        - description: Body parameters for the request.
          in: body
          name: payload
          required: false
          schema:
            properties:
              bank_account:
                description: 'Either a token, like the ones returned by [Stripe.js](https://stripe.com/docs/stripe.js), or a dictionary containing a user''s bank account details.'
              default_for_currency:
                description: 'When set to true, or if this is the first external account added in this currency, this account becomes the default external account for its currency.'
                type: boolean
              expand:
                description: Specifies which fields in the response should be expanded.
                items:
                  type: string
                type: array
              external_account:
                description: This string to be replaced by DocSpecGenerator.
              metadata:
                description: A set of key-value pairs that you can attach to an external account object. It can be useful for storing additional information about the external account in a structured format.
                type: object
            type: object
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/external_account'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
  '/v1/account/external_accounts/{id}':
    delete:
      description: <p>Delete a specified external account for a given account.</p>
      operationId: DeleteAccountExternalAccountsId
      parameters:
        - description: The ID of the external account to be deleted.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/deleted_external_account'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
    get:
      description: <p>Retrieve a specified external account for a given account.</p>
      operationId: GetAccountExternalAccountsId
      parameters:
        - description: Specifies which fields in the response should be expanded.
          in: query
          items: {}
          name: expand
          required: false
          type: array
        - in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/external_account'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
    post:
      description: |-
        <p>Updates the metadata, account holder name, and account holder type of a bank account belonging to a <a href="/docs/connect/custom-accounts">Custom account</a>, and optionally sets it as the default for its currency. Other bank account details are not editable by design.</p>
        <p>You can re-enable a disabled bank account by performing an update call without providing any arguments or changes.</p>
      operationId: PostAccountExternalAccountsId
      parameters:
        - description: The ID of the external account to update
          in: path
          name: id
          required: true
          type: string
        - description: Body parameters for the request.
          in: body
          name: payload
          required: false
          schema:
            properties:
              account_holder_name:
                description: The name of the person or business that owns the bank account.
                type: string
              account_holder_type:
                description: The type of entity that holds the account. This can be either `individual` or `company`.
                enum:
                  - ''
                  - company
                  - individual
                type: string
              address_city:
                description: City/District/Suburb/Town/Village.
                type: string
              address_country:
                description: 'Billing address country, if provided when creating card.'
                type: string
              address_line1:
                description: Address line 1 (Street address/PO Box/Company name).
                type: string
              address_line2:
                description: Address line 2 (Apartment/Suite/Unit/Building).
                type: string
              address_state:
                description: State/County/Province/Region.
                type: string
              address_zip:
                description: ZIP or postal code.
                type: string
              default_for_currency:
                description: 'When set to true, this becomes the default external account for its currency.'
                type: boolean
              exp_month:
                description: Two digit number representing the card’s expiration month.
                type: string
              exp_year:
                description: Four digit number representing the card’s expiration year.
                type: string
              expand:
                description: Specifies which fields in the response should be expanded.
                items:
                  type: string
                type: array
              metadata:
                type: object
              name:
                description: Cardholder name.
                type: string
            type: object
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/external_account'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
  /v1/account/login_links:
    post:
      description: |-
        <p>Creates a single-use login link for an Express account to access their Stripe dashboard.</p>

        <p><strong>You may only create login links for <a href="/docs/connect/express-accounts">Express accounts</a> connected to your platform</strong>.</p>
      operationId: PostAccountLoginLinks
      parameters:
        - description: Body parameters for the request.
          in: body
          name: payload
          required: true
          schema:
            properties:
              account:
                description: The identifier of the account to create a login link for.
                type: string
              expand:
                description: Specifies which fields in the response should be expanded.
                items:
                  type: string
                type: array
              redirect_url:
                description: Where to redirect the user after they log out of their dashboard.
                type: string
            required:
              - account
            type: object
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/login_link'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
  /v1/account/logout:
    put:
      description: |-
        <p>Invalidates all sessions for a light account, for a platform to use during platform logout.</p>

        <p><strong>You may only log out <a href="/docs/connect/express-accounts">Express accounts</a> connected to your platform</strong>.</p>
      operationId: PutAccountLogout
      parameters:
        - description: Body parameters for the request.
          in: body
          name: payload
          required: true
          schema:
            properties:
              account:
                description: The identifier of the account to log out.
                type: string
              expand:
                description: Specifies which fields in the response should be expanded.
                items:
                  type: string
                type: array
            required:
              - account
            type: object
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/logout'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
  /v1/account/people:
    get:
      description: '<p>Returns a list of people associated with the account’s legal entity. The people are returned sorted by creation date, with the most recent people appearing first.</p>'
      operationId: GetAccountPeople
      parameters:
        - description: Specifies which fields in the response should be expanded.
          in: query
          items: {}
          name: expand
          required: false
          type: array
        - description: 'A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.'
          in: query
          name: ending_before
          required: false
          type: string
        - description: 'A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.'
          in: query
          name: limit
          required: false
          type: integer
        - description: Filters on the list of people returned based on the person's relationship to the account's company.
          in: query
          name: relationship
          required: false
          type: string
        - description: 'A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.'
          in: query
          name: starting_after
          required: false
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            properties:
              data:
                items:
                  $ref: '#/definitions/person'
                type: array
              has_more:
                description: True if this list has another page of items after this one that can be fetched.
                type: boolean
              object:
                description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
                enum:
                  - list
                type: string
              url:
                description: The URL where this list can be accessed.
                type: string
            required:
              - data
              - has_more
              - object
              - url
            type: object
            x-expandableFields:
              - data
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
    post:
      description: <p>Creates a new person.</p>
      operationId: PostAccountPeople
      parameters:
        - description: Body parameters for the request.
          in: body
          name: payload
          required: false
          schema:
            properties:
              address:
                description: The person's address.
                properties:
                  city:
                    type: string
                  country:
                    type: string
                  line1:
                    type: string
                  line2:
                    type: string
                  postal_code:
                    type: string
                  state:
                    type: string
                title: address_specs
                type: object
              address_kana:
                description: The Kana variation of the person's address (Japan only).
                properties:
                  city:
                    type: string
                  country:
                    type: string
                  line1:
                    type: string
                  line2:
                    type: string
                  postal_code:
                    type: string
                  state:
                    type: string
                  town:
                    type: string
                title: japan_address_kana_specs
                type: object
              address_kanji:
                description: The Kanji variation of the person's address (Japan only).
                properties:
                  city:
                    type: string
                  country:
                    type: string
                  line1:
                    type: string
                  line2:
                    type: string
                  postal_code:
                    type: string
                  state:
                    type: string
                  town:
                    type: string
                title: japan_address_kanji_specs
                type: object
              dob:
                description: The person's date of birth.
                properties:
                  day:
                    type: integer
                  month:
                    type: integer
                  year:
                    type: integer
                required:
                  - day
                  - month
                  - year
                title: date_of_birth_specs
                type: object
              email:
                description: The person's email address.
                type: string
              expand:
                description: Specifies which fields in the response should be expanded.
                items:
                  type: string
                type: array
              first_name:
                description: The person's first name.
                type: string
              first_name_kana:
                description: The Kana variation of the person's first name (Japan only).
                type: string
              first_name_kanji:
                description: The Kanji variation of the person's first name (Japan only).
                type: string
              gender:
                description: The person's gender (International regulations require either "male" or "female").
                type: string
              id_number:
                description: 'The person''s ID number, as appropriate for their country. For example, a social security number in the U.S., social insurance number in Canada, etc. Instead of the number itself, you can also provide a [PII token provided by Stripe.js](https://stripe.com/docs/stripe.js#collecting-pii-data).'
                type: string
              last_name:
                description: The person's last name.
                type: string
              last_name_kana:
                description: The Kana variation of the person's last name (Japan only).
                type: string
              last_name_kanji:
                description: The Kanji variation of the person's last name (Japan only).
                type: string
              maiden_name:
                description: The person's maiden name.
                type: string
              metadata:
                description: Set of key-value pairs that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.
                type: object
              phone:
                description: The person's phone number.
                type: string
              relationship:
                description: The relationship that this person has with the account's legal entity.
                properties:
                  account_opener:
                    type: boolean
                  director:
                    type: boolean
                  executive:
                    type: boolean
                  owner:
                    type: boolean
                  percent_ownership: {}
                  title:
                    type: string
                title: relationship_specs
                type: object
              ssn_last_4:
                description: The last 4 digits of the person's social security number.
                type: string
            type: object
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/person'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
  '/v1/account/people/{person}':
    delete:
      description: <p>Deletes an existing person’s relationship to the account’s legal entity.</p>
      operationId: DeleteAccountPeoplePerson
      parameters:
        - description: The ID of the person to be deleted.
          in: path
          name: person
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/deleted_person'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
    get:
      description: <p>Retrieves an existing person.</p>
      operationId: GetAccountPeoplePerson
      parameters:
        - description: Specifies which fields in the response should be expanded.
          in: query
          items: {}
          name: expand
          required: false
          type: array
        - description: The ID of a person to retrieve.
          in: path
          name: person
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/person'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
    post:
      description: <p>Updates an existing person.</p>
      operationId: PostAccountPeoplePerson
      parameters:
        - description: The ID of a person to update.
          in: path
          name: person
          required: true
          type: string
        - description: Body parameters for the request.
          in: body
          name: payload
          required: false
          schema:
            properties:
              address:
                description: The person's address.
                properties:
                  city:
                    type: string
                  country:
                    type: string
                  line1:
                    type: string
                  line2:
                    type: string
                  postal_code:
                    type: string
                  state:
                    type: string
                title: address_specs
                type: object
              address_kana:
                description: The Kana variation of the person's address (Japan only).
                properties:
                  city:
                    type: string
                  country:
                    type: string
                  line1:
                    type: string
                  line2:
                    type: string
                  postal_code:
                    type: string
                  state:
                    type: string
                  town:
                    type: string
                title: japan_address_kana_specs
                type: object
              address_kanji:
                description: The Kanji variation of the person's address (Japan only).
                properties:
                  city:
                    type: string
                  country:
                    type: string
                  line1:
                    type: string
                  line2:
                    type: string
                  postal_code:
                    type: string
                  state:
                    type: string
                  town:
                    type: string
                title: japan_address_kanji_specs
                type: object
              dob:
                description: The person's date of birth.
                properties:
                  day:
                    type: integer
                  month:
                    type: integer
                  year:
                    type: integer
                required:
                  - day
                  - month
                  - year
                title: date_of_birth_specs
                type: object
              email:
                description: The person's email address.
                type: string
              expand:
                description: Specifies which fields in the response should be expanded.
                items:
                  type: string
                type: array
              first_name:
                description: The person's first name.
                type: string
              first_name_kana:
                description: The Kana variation of the person's first name (Japan only).
                type: string
              first_name_kanji:
                description: The Kanji variation of the person's first name (Japan only).
                type: string
              gender:
                description: The person's gender (International regulations require either "male" or "female").
                type: string
              id_number:
                description: 'The person''s ID number, as appropriate for their country. For example, a social security number in the U.S., social insurance number in Canada, etc. Instead of the number itself, you can also provide a [PII token provided by Stripe.js](https://stripe.com/docs/stripe.js#collecting-pii-data).'
                type: string
              last_name:
                description: The person's last name.
                type: string
              last_name_kana:
                description: The Kana variation of the person's last name (Japan only).
                type: string
              last_name_kanji:
                description: The Kanji variation of the person's last name (Japan only).
                type: string
              maiden_name:
                description: The person's maiden name.
                type: string
              metadata:
                description: Set of key-value pairs that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.
                type: object
              phone:
                description: The person's phone number.
                type: string
              relationship:
                description: The relationship that this person has with the account's legal entity.
                properties:
                  account_opener:
                    type: boolean
                  director:
                    type: boolean
                  executive:
                    type: boolean
                  owner:
                    type: boolean
                  percent_ownership: {}
                  title:
                    type: string
                title: relationship_specs
                type: object
              ssn_last_4:
                description: The last 4 digits of the person's social security number.
                type: string
            type: object
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/person'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
  /v1/account/persons:
    get:
      description: '<p>Returns a list of people associated with the account’s legal entity. The people are returned sorted by creation date, with the most recent people appearing first.</p>'
      operationId: GetAccountPersons
      parameters:
        - description: Specifies which fields in the response should be expanded.
          in: query
          items: {}
          name: expand
          required: false
          type: array
        - description: 'A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.'
          in: query
          name: ending_before
          required: false
          type: string
        - description: 'A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.'
          in: query
          name: limit
          required: false
          type: integer
        - description: Filters on the list of people returned based on the person's relationship to the account's company.
          in: query
          name: relationship
          required: false
          type: string
        - description: 'A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.'
          in: query
          name: starting_after
          required: false
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            properties:
              data:
                items:
                  $ref: '#/definitions/person'
                type: array
              has_more:
                description: True if this list has another page of items after this one that can be fetched.
                type: boolean
              object:
                description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
                enum:
                  - list
                type: string
              url:
                description: The URL where this list can be accessed.
                type: string
            required:
              - data
              - has_more
              - object
              - url
            type: object
            x-expandableFields:
              - data
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
    post:
      description: <p>Creates a new person.</p>
      operationId: PostAccountPersons
      parameters:
        - description: Body parameters for the request.
          in: body
          name: payload
          required: false
          schema:
            properties:
              address:
                description: The person's address.
                properties:
                  city:
                    type: string
                  country:
                    type: string
                  line1:
                    type: string
                  line2:
                    type: string
                  postal_code:
                    type: string
                  state:
                    type: string
                title: address_specs
                type: object
              address_kana:
                description: The Kana variation of the person's address (Japan only).
                properties:
                  city:
                    type: string
                  country:
                    type: string
                  line1:
                    type: string
                  line2:
                    type: string
                  postal_code:
                    type: string
                  state:
                    type: string
                  town:
                    type: string
                title: japan_address_kana_specs
                type: object
              address_kanji:
                description: The Kanji variation of the person's address (Japan only).
                properties:
                  city:
                    type: string
                  country:
                    type: string
                  line1:
                    type: string
                  line2:
                    type: string
                  postal_code:
                    type: string
                  state:
                    type: string
                  town:
                    type: string
                title: japan_address_kanji_specs
                type: object
              dob:
                description: The person's date of birth.
                properties:
                  day:
                    type: integer
                  month:
                    type: integer
                  year:
                    type: integer
                required:
                  - day
                  - month
                  - year
                title: date_of_birth_specs
                type: object
              email:
                description: The person's email address.
                type: string
              expand:
                description: Specifies which fields in the response should be expanded.
                items:
                  type: string
                type: array
              first_name:
                description: The person's first name.
                type: string
              first_name_kana:
                description: The Kana variation of the person's first name (Japan only).
                type: string
              first_name_kanji:
                description: The Kanji variation of the person's first name (Japan only).
                type: string
              gender:
                description: The person's gender (International regulations require either "male" or "female").
                type: string
              id_number:
                description: 'The person''s ID number, as appropriate for their country. For example, a social security number in the U.S., social insurance number in Canada, etc. Instead of the number itself, you can also provide a [PII token provided by Stripe.js](https://stripe.com/docs/stripe.js#collecting-pii-data).'
                type: string
              last_name:
                description: The person's last name.
                type: string
              last_name_kana:
                description: The Kana variation of the person's last name (Japan only).
                type: string
              last_name_kanji:
                description: The Kanji variation of the person's last name (Japan only).
                type: string
              maiden_name:
                description: The person's maiden name.
                type: string
              metadata:
                description: Set of key-value pairs that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.
                type: object
              phone:
                description: The person's phone number.
                type: string
              relationship:
                description: The relationship that this person has with the account's legal entity.
                properties:
                  account_opener:
                    type: boolean
                  director:
                    type: boolean
                  executive:
                    type: boolean
                  owner:
                    type: boolean
                  percent_ownership: {}
                  title:
                    type: string
                title: relationship_specs
                type: object
              ssn_last_4:
                description: The last 4 digits of the person's social security number.
                type: string
            type: object
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/person'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
  '/v1/account/persons/{person}':
    delete:
      description: <p>Deletes an existing person’s relationship to the account’s legal entity.</p>
      operationId: DeleteAccountPersonsPerson
      parameters:
        - description: The ID of the person to be deleted.
          in: path
          name: person
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/deleted_person'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
    get:
      description: <p>Retrieves an existing person.</p>
      operationId: GetAccountPersonsPerson
      parameters:
        - description: Specifies which fields in the response should be expanded.
          in: query
          items: {}
          name: expand
          required: false
          type: array
        - description: The ID of a person to retrieve.
          in: path
          name: person
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/person'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
    post:
      description: <p>Updates an existing person.</p>
      operationId: PostAccountPersonsPerson
      parameters:
        - description: The ID of a person to update.
          in: path
          name: person
          required: true
          type: string
        - description: Body parameters for the request.
          in: body
          name: payload
          required: false
          schema:
            properties:
              address:
                description: The person's address.
                properties:
                  city:
                    type: string
                  country:
                    type: string
                  line1:
                    type: string
                  line2:
                    type: string
                  postal_code:
                    type: string
                  state:
                    type: string
                title: address_specs
                type: object
              address_kana:
                description: The Kana variation of the person's address (Japan only).
                properties:
                  city:
                    type: string
                  country:
                    type: string
                  line1:
                    type: string
                  line2:
                    type: string
                  postal_code:
                    type: string
                  state:
                    type: string
                  town:
                    type: string
                title: japan_address_kana_specs
                type: object
              address_kanji:
                description: The Kanji variation of the person's address (Japan only).
                properties:
                  city:
                    type: string
                  country:
                    type: string
                  line1:
                    type: string
                  line2:
                    type: string
                  postal_code:
                    type: string
                  state:
                    type: string
                  town:
                    type: string
                title: japan_address_kanji_specs
                type: object
              dob:
                description: The person's date of birth.
                properties:
                  day:
                    type: integer
                  month:
                    type: integer
                  year:
                    type: integer
                required:
                  - day
                  - month
                  - year
                title: date_of_birth_specs
                type: object
              email:
                description: The person's email address.
                type: string
              expand:
                description: Specifies which fields in the response should be expanded.
                items:
                  type: string
                type: array
              first_name:
                description: The person's first name.
                type: string
              first_name_kana:
                description: The Kana variation of the person's first name (Japan only).
                type: string
              first_name_kanji:
                description: The Kanji variation of the person's first name (Japan only).
                type: string
              gender:
                description: The person's gender (International regulations require either "male" or "female").
                type: string
              id_number:
                description: 'The person''s ID number, as appropriate for their country. For example, a social security number in the U.S., social insurance number in Canada, etc. Instead of the number itself, you can also provide a [PII token provided by Stripe.js](https://stripe.com/docs/stripe.js#collecting-pii-data).'
                type: string
              last_name:
                description: The person's last name.
                type: string
              last_name_kana:
                description: The Kana variation of the person's last name (Japan only).
                type: string
              last_name_kanji:
                description: The Kanji variation of the person's last name (Japan only).
                type: string
              maiden_name:
                description: The person's maiden name.
                type: string
              metadata:
                description: Set of key-value pairs that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.
                type: object
              phone:
                description: The person's phone number.
                type: string
              relationship:
                description: The relationship that this person has with the account's legal entity.
                properties:
                  account_opener:
                    type: boolean
                  director:
                    type: boolean
                  executive:
                    type: boolean
                  owner:
                    type: boolean
                  percent_ownership: {}
                  title:
                    type: string
                title: relationship_specs
                type: object
              ssn_last_4:
                description: The last 4 digits of the person's social security number.
                type: string
            type: object
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/person'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
  /v1/account_links:
    post:
      description: <p>Creates an AccountLink object that returns a Stripe URL that the user can redirect their user to in order to take them through the Hosted Verification flow.</p>
      operationId: PostAccountLinks
      parameters:
        - description: Body parameters for the request.
          in: body
          name: payload
          required: true
          schema:
            properties:
              account:
                description: The identifier of the account to create an account link for.
                type: string
              collect:
                description: The information the platform wants to collect from users up-front. Possible values are `currently_due` and `eventually_due`. Only valid if the selected type is `custom_account_verification`.
                type: string
              expand:
                description: Specifies which fields in the response should be expanded.
                items:
                  type: string
                type: array
              failure_url:
                description: The URL that the user will be redirected to if the account link is no longer valid.
                type: string
              success_url:
                description: The URL that the user will be redirected to upon completing the linked flow successfully.
                type: string
              type:
                description: The type of account link the user is requesting. Possible values are `custom_account_verification` or `custom_account_update`.
                type: string
            required:
              - account
              - failure_url
              - success_url
              - type
            type: object
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/account_link'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
  /v1/accounts:
    get:
      description: '<p>Returns a list of accounts connected to your platform via <a href="/docs/connect">Connect</a>. If you’re not a platform, the list is empty.</p>'
      operationId: GetAccounts
      parameters:
        - description: Specifies which fields in the response should be expanded.
          in: query
          items: {}
          name: expand
          required: false
          type: array
        - in: query
          name: created
          required: false
          type: integer
        - description: 'A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.'
          in: query
          name: ending_before
          required: false
          type: string
        - description: 'A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.'
          in: query
          name: limit
          required: false
          type: integer
        - description: 'A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.'
          in: query
          name: starting_after
          required: false
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            properties:
              data:
                items:
                  $ref: '#/definitions/account'
                type: array
              has_more:
                description: True if this list has another page of items after this one that can be fetched.
                type: boolean
              object:
                description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
                enum:
                  - list
                type: string
              url:
                description: The URL where this list can be accessed.
                type: string
            required:
              - data
              - has_more
              - object
              - url
            type: object
            x-expandableFields:
              - data
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
    post:
      description: |-
        <p>With <a href="/docs/connect">Connect</a>, you can create Stripe accounts for your users.
        To do this, you’ll first need to <a href="https://dashboard.stripe.com/account/applications/settings">register your platform</a>.</p>

        <p>For Standard accounts, parameters other than <code>country</code>, <code>email</code>, and <code>type</code>
        are used to prefill the account application that we ask the account holder to complete.</p>
      operationId: PostAccounts
      parameters:
        - description: Body parameters for the request.
          in: body
          name: payload
          required: false
          schema:
            properties:
              account_token:
                description: 'An [account token](https://stripe.com/docs/api#create_account_token), used to securely provide details to the account.'
                type: string
              bank_account:
                description: 'Either a token, like the ones returned by [Stripe.js](https://stripe.com/docs/stripe.js), or a dictionary containing a user''s bank account details.'
              business_logo:
                description: '(ID of a [file upload](https://stripe.com/docs/guides/file-upload)) A logo for this account (at least 128px x 128px)'
                type: string
              business_name:
                description: The publicly sharable name for this account.
                type: string
              business_primary_color:
                description: A CSS hex color value representing the primary branding color for this account.
                type: string
              business_url:
                description: The URL that best shows the service or product provided by this account.
                type: string
              country:
                description: 'The country in which the account holder resides, or in which the business is legally established. This should be an ISO 3166-1 alpha-2 country code. For example, if you are in the United States and the business for which you''re creating an account is legally represented in Canada, you would use `CA` as the country for the account being created.'
                type: string
              debit_negative_balances:
                description: 'A Boolean indicating whether Stripe should try to reclaim negative balances from an attached bank account. For details, see [Understanding Connect Account Balances](/docs/connect/account-balances).'
                type: boolean
              decline_charge_on:
                description: 'Account-level settings to automatically decline certain types of charges, regardless of the card issuer''s decision.'
                properties:
                  avs_failure:
                    type: boolean
                  cvc_failure:
                    type: boolean
                title: decline_charge_on_specs
                type: object
              default_currency:
                description: 'Three-letter ISO currency code representing the default currency for the account. This must be a currency that [Stripe supports in the account''s country](https://stripe.com/docs/payouts).'
                type: string
              email:
                description: 'The email address of the account holder. For Standard accounts, Stripe will email your user with instructions on how to set up their account. For Custom accounts, this is only to make the account easier to identify to you: Stripe will never directly email your users.'
                type: string
              expand:
                description: Specifies which fields in the response should be expanded.
                items:
                  type: string
                type: array
              external_account:
                description: 'A card or bank account to attach to the account. You can provide either a token, like the ones returned by [Stripe.js](/docs/stripe.js), or a dictionary, as documented in the `external_account` parameter for [bank account](/docs/api#account_create_bank_account) creation. <br><br>By default, providing an external account sets it as the new default external account for its currency, and deletes the old default if one exists. To add additional external accounts without replacing the existing default for the currency, use the bank account or card creation API.'
              from_recipient:
                type: string
              legal_entity:
                description: 'Information about the legal entity itself, including information about the associated account representative.'
                properties:
                  additional_owners:
                    items:
                      properties:
                        address:
                          properties:
                            city:
                              type: string
                            country:
                              type: string
                            line1:
                              type: string
                            line2:
                              type: string
                            postal_code:
                              type: string
                            state:
                              type: string
                          title: address_specs
                          type: object
                        dob:
                          properties:
                            day:
                              type: integer
                            month:
                              type: integer
                            year:
                              type: integer
                          required:
                            - day
                            - month
                            - year
                          title: date_of_birth_specs
                          type: object
                        email:
                          type: string
                        first_name:
                          type: string
                        last_name:
                          type: string
                        maiden_name:
                          type: string
                        personal_id_number:
                          type: string
                        phone:
                          type: string
                        ssn_last_4:
                          type: string
                        verification:
                          properties:
                            document:
                              type: string
                            status:
                              enum:
                                - ''
                                - pending
                                - unverified
                                - verified
                              type: string
                          title: account_person_verification_specs
                          type: object
                      title: account_owner_specs
                      type: object
                  address:
                    properties:
                      city:
                        type: string
                      country:
                        type: string
                      line1:
                        type: string
                      line2:
                        type: string
                      postal_code:
                        type: string
                      state:
                        type: string
                    title: address_specs
                    type: object
                  address_kana:
                    properties:
                      city:
                        type: string
                      country:
                        type: string
                      line1:
                        type: string
                      line2:
                        type: string
                      postal_code:
                        type: string
                      state:
                        type: string
                      town:
                        type: string
                    title: japan_address_kana_specs
                    type: object
                  address_kanji:
                    properties:
                      city:
                        type: string
                      country:
                        type: string
                      line1:
                        type: string
                      line2:
                        type: string
                      postal_code:
                        type: string
                      state:
                        type: string
                      town:
                        type: string
                    title: japan_address_kanji_specs
                    type: object
                  business_name:
                    type: string
                  business_name_kana:
                    type: string
                  business_name_kanji:
                    type: string
                  business_tax_id:
                    type: string
                  business_vat_id:
                    type: string
                  dob:
                    properties:
                      day:
                        type: integer
                      month:
                        type: integer
                      year:
                        type: integer
                    required:
                      - day
                      - month
                      - year
                    title: date_of_birth_specs
                    type: object
                  first_name:
                    type: string
                  first_name_kana:
                    type: string
                  first_name_kanji:
                    type: string
                  gender:
                    type: string
                  last_name:
                    type: string
                  last_name_kana:
                    type: string
                  last_name_kanji:
                    type: string
                  maiden_name:
                    type: string
                  personal_address:
                    properties:
                      city:
                        type: string
                      country:
                        type: string
                      line1:
                        type: string
                      line2:
                        type: string
                      postal_code:
                        type: string
                      state:
                        type: string
                    title: address_specs
                    type: object
                  personal_address_kana:
                    properties:
                      city:
                        type: string
                      country:
                        type: string
                      line1:
                        type: string
                      line2:
                        type: string
                      postal_code:
                        type: string
                      state:
                        type: string
                      town:
                        type: string
                    title: japan_address_kana_specs
                    type: object
                  personal_address_kanji:
                    properties:
                      city:
                        type: string
                      country:
                        type: string
                      line1:
                        type: string
                      line2:
                        type: string
                      postal_code:
                        type: string
                      state:
                        type: string
                      town:
                        type: string
                    title: japan_address_kanji_specs
                    type: object
                  personal_id_number:
                    type: string
                  phone_number:
                    type: string
                  ssn_last_4:
                    type: string
                  tax_id_registrar:
                    type: string
                  type:
                    type: string
                  verification:
                    properties:
                      document:
                        type: string
                      status:
                        enum:
                          - ''
                          - pending
                          - unverified
                          - verified
                        type: string
                    title: account_person_verification_specs
                    type: object
                title: account_legal_entity_specs
                type: object
              metadata:
                description: A set of key-value pairs that you can attach to an `Account` object. This can be useful for storing additional information about the account in a structured format.
                type: object
              payout_schedule:
                description: 'Details on when funds from charges are available, and when they are paid out to an external account. For details, see our [Setting Bank and Debit Card Payouts](/docs/connect/bank-transfers#payout-information) documentation.'
                properties:
                  delay_days: {}
                  interval:
                    enum:
                      - daily
                      - four_times_monthly
                      - manual
                      - monthly
                      - weekly
                    type: string
                  monthly_anchor:
                    type: integer
                  weekly_anchor:
                    enum:
                      - friday
                      - monday
                      - saturday
                      - sunday
                      - thursday
                      - tuesday
                      - wednesday
                    type: string
                title: transfer_schedule_specs
                type: object
              payout_statement_descriptor:
                description: 'The text that appears on the bank account statement for payouts. If not set, this defaults to the platform''s bank descriptor as set in the Dashboard.'
                type: string
              product_description:
                description: Internal-only description of the product sold or service provided by the business. It's used by Stripe for risk and underwriting purposes.
                type: string
              statement_descriptor:
                description: 'The default text that appears on credit card statements when a charge is made [directly on the account](/docs/connect/direct-charges).'
                type: string
              support_email:
                description: A publicly shareable support email address for the business.
                type: string
              support_phone:
                description: A publicly shareable support phone number for the business.
                type: string
              support_url:
                description: A publicly shareable URL that provides support for this account.
                type: string
              tos_acceptance:
                description: 'Details on the account''s acceptance of the [Stripe Services Agreement](/docs/connect/updating-accounts#tos-acceptance).'
                properties:
                  date:
                    type: integer
                  ip:
                    type: string
                  user_agent:
                    type: string
                required:
                  - date
                  - ip
                title: tos_acceptance_specs
                type: object
              type:
                description: 'Whether you''d like to create a [Standard or Custom](/docs/connect/accounts) account. Standard accounts are normal Stripe accounts: Stripe will email the account holder to set up a username and password, and will handle all account management directly with them. Custom accounts have extra parameters available to them, and require that you, the platform, handle all communication with the account holder. Possible values are `standard` and `custom`.'
                enum:
                  - custom
                  - express
                  - standard
                type: string
            type: object
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/account'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
  '/v1/accounts/{account}':
    delete:
      description: |-
        <p>With <a href="/docs/connect">Connect</a>, you may delete Custom accounts you manage.</p>

        <p>Custom accounts created using test-mode keys can be deleted at any time. Custom accounts created using live-mode keys may only be deleted once all balances are zero.</p>

        <p>If you are looking to close your own account, use the <a href="https://dashboard.stripe.com/account/data">data tab in your account settings</a> instead.</p>
      operationId: DeleteAccountsAccount
      parameters:
        - description: 'The identifier of the account to be deleted. If none is provided, will default to the account of the API key.'
          in: path
          name: account
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/deleted_account'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
    get:
      description: <p>Retrieves the details of the account.</p>
      operationId: GetAccountsAccount
      parameters:
        - description: Specifies which fields in the response should be expanded.
          in: query
          items: {}
          name: expand
          required: false
          type: array
        - description: 'The identifier of the account to retrieve. If none is provided, the account associated with the API key is returned.'
          in: path
          name: account
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/account'
        default:
          description: Error response.
          schema:
            $ref: '#/definitions/error'
    post:
      description: |-
        <p>Updates a connected <a href="/docs/connect/accounts">Express or Custom account</a> by setting the values of the parameters passed. Any parameters not provided are left unchanged. Most parameters can be changed only for Custom accounts. (These are marked <strong>Custom Only</strong> below.) Parameters marked <strong>Custom and Express</strong> are supported by both account types.</p>

        <p>To update your own account, use the <a href="https://dashboard.stripe.com/account">Dashboard</a>. Refer to our <a href="/docs/connect/updating-accounts">Connect</a> documentation to learn more about updating accounts.</p>
      operationId: PostAccountsAccount
      parameters:
        - in: path
          name: account
          required: true
          type: string
        - description: Body parameters for the request.
          in: body
          name: payload
          required: false
          schema:
            properties:
              account_token:
                description: 'An [account token](https://stripe.com/docs/api#create_account_token), used to securely provide details to the account.'
                type: string
              bank_account:
                description: 'Either a token, like the ones returned by [Stripe.js](https://stripe.com/docs/stripe.js), or a dictionary containing a user''s bank account details.'
              business_logo:
                description: '(ID of a [file upload](https://stripe.com/docs/guides/file-upload)) A logo for this account (at least 128px x 128px)'
                type: string
              business_name:
                description: The publicly sharable name for this account.
                type: string
              business_primary_color:
                description: A CSS hex color value representing the primary branding color for this account.
                type: string
              business_url:
                description: The URL that best shows the service or product provided by this account.
                type: string
              debit_negative_balances:
                description: 'A Boolean indicating whether Stripe should try to reclaim negative balances from an attached bank account. For details, see [Understanding Connect Account Balances](/docs/connect/account-balances).'
                type: boolean
              decline_charge_on:
                description: 'Account-level settings to automatically decline certain types of charges, regardless of the card issuer''s decision.'
                properties:
                  avs_failure:
                    type: boolean
                  cvc_failure:
                    type: boolean
                title: decline_charge_on_specs
                type: object
              default_currency:
                description: 'Three-letter ISO currency code representing the default currency for the account. This must be a currency that [Stripe supports in the account''s country](https://stripe.com/docs/payouts).'
                type: string
              email:
                description: 'Email address of the account representative. For Standard accounts, this is used to ask them to claim their Stripe account. For Custom accounts, this only makes the account easier to identify to platforms; Stripe does not email the account representative.'
                type: string
              expand:
                description: Specifies which fields in the response should be expanded.
                items:
                  type: string
                type: array
              external_account:
                description: 'A card or bank account to attach to the account. You can provide either a token, like the ones returned by [Stripe.js](/docs/stripe.js), or a dictionary, as documented in the `external_account` parameter for [bank account](/docs/api#account_create_bank_account) creation. <br><br>By default, providing an external account sets it as the new default external account for its currency, and deletes the old default if one exists. To add additional external accounts without replacing the existing default for the currency, use the bank account or card creation API.'
              legal_entity:
                description: 'Information about the legal entity itself, including information about the associated account representative.'
                properties:
                  additional_owners:
                    items:
                      properties:
                        address:
                          properties:
                            city:
                              type: string
                            country:
                              type: string
                            line1:
                              type: string
                            line2:
                              type: string
                            postal_code:
                              type: string
                            state:
                              type: string
                          title: address_specs
                          type: object
                        dob:
                          properties:
                            day:
                              type: integer
                            month:
                              type: integer
                            year:
                              type: integer
                          required:
                            - day
                            - month
                            - year
                          title: date_of_birth_specs
                          type: object
                        email:
                          type: string
                        first_name:
                          type: string
                        last_name:
                          type: string
                        maiden_name:
                          type: string
                        personal_id_number:
                          type: string
                        phone:
                          type: string
                        ssn_last_4:
                          type: string
                        verification:
                          properties:
[...]
