openapi: 3.0.1
servers:
  - url: 'https://api.linode.com/v4'
  - url: 'https://api.linode.com/v4beta'
info:
  contact:
    name: Linode
    url: /
  description: |
    # Introduction
    The Linode API provides the ability to programmatically manage the full
    range of Linode products and services.

    This reference is designed to assist application developers and system
    administrators.  Each endpoint includes descriptions, request syntax, and
    examples using standard HTTP requests. Response data is returned in JSON
    format.


    This document was generated from our OpenAPI Specification.  See the
    <a target="_top" href="https://www.openapis.org">OpenAPI website</a> for more information.

    <a target="_top" href="https://developers.linode.com/api/docs/v4/openapi.yaml">Download the Linode OpenAPI Specification</a>.


    # Changelog

    <a target="_top" href="https://developers.linode.com/changelog">View our Changelog</a> to see release
    notes on all changes made to our API.

    # Access and Authentication

    Some endpoints are publicly accessible without requiring authentication.
    All endpoints affecting your Account, however, require either a Personal
    Access Token or OAuth authentication (when using third-party
    applications).

    ## Personal Access Token

    The easiest way to access the API is with a Personal Access Token (PAT)
    generated from the
    <a target="_top" href="https://cloud.linode.com/profile/tokens">Linode Cloud Manager</a>.

    All scopes for the OAuth security model (defined below) apply to this
    security model as well.

    ### Authentication

    | Security Scheme Type: | HTTP |
    |-----------------------|------|
    | **HTTP Authorization Scheme** | bearer |

    ## OAuth

    The OAuth workflow is a three-step process to authenticate a User before an
    application can start making API calls on the User's behalf. If all you need
    is a Personal Access Token, feel free to skip ahead to the next section.

    First, the User visits the application's website and is directed to log with
    Linode. The User is then redirected to Linode's authentication server and
    presented the scope levels the application is requesting. Once the User
    accepts the request for access, we redirect them back to the application's
    specified redirect URI with an access code.

    Once the User has logged in to Linode and you have received an exchange code,
    you will need to exchange that access code for an Authorization token. You
    do this by making an HTTP POST request to the following address:

    ```
    https://login.linode.com/oauth/token
    ```

    Make this request as `application/x-www-form-urlencoded` or as
    `multipart/form-data` and include the following parameters in the POST body:

    | PARAMETER | DESCRIPTION |
    |-----------|-------------|
    | client_id | Your app's client ID |
    | client_secret | Your app's client secret |
    | code | The code you just received from the redirect |

    You'll get a reponse like this:

    ```json
    {
      "scope": "linodes:read_write",
      "access_token": "03d084436a6c91fbafd5c4b20c82e5056a2e9ce1635920c30dc8d81dc7a6665c"
      "token_type": "bearer",
      "expires_in": 7200,
    }
    ```

    Included in the reponse is `access_token`. With this token, you can proceed to make
    authenticated HTTP requests to the API by adding this header to each request:

    ```
    Authorization: Bearer 03d084436a6c91fbafd5c4b20c82e5056a2e9ce1635920c30dc8d81dc7a6665c
    ```

    ### Authentication

    | Security Scheme Type: | Oauth2 |
    |-----------------------|--------|
    | **AuthorizationCode Oauth Flow** |  **Authorization URL:** https://login.linode.com/oauth/authorize<br />**Token URL:** https://login.linode.com/oauth/token<br />**Scopes:**<br /><ul><li>`account:read_only` - Allows access to GET information about your Account.</li><li>`account:read_write` - Allows access to all endpoints related to your Account.</li><li>`domains:read_only` - Allows access to GET Domains on your Account.</li><li>`domains:read_write` - Allows access to all Domain endpoints.</li><li>`events:read_only` - Allows access to GET your Events.</li><li>`events:read_write` - Allows access to all endpoints related to your Events.</li><li>`images:read_only` - Allows access to GET your Images.</li><li>`images:read_write` - Allows access to all endpoints related to your Images.</li><li>`ips:read_only` - Allows access to GET your ips.</li><li>`ips:read_write` - Allows access to all endpoints related to your ips.</li><li>`linodes:read_only` - Allows access to GET Linodes on your Account.</li><li>`linodes:read_write` - Allow access to all endpoints related to your Linodes.</li><li>`longview:read_only` - Allows access to GET your Longview Clients.</li><li>`longview:read_write` - Allows access to all endpoints related to your Longview Clients.</li><li>`nodebalancers:read_only` - Allows access to GET NodeBalancers on your Account.</li><li>`nodebalancers:read_write` - Allows access to all NodeBalancer endpoints.</li><li>`stackscripts:read_only` - Allows access to GET your StackScripts.</li><li>`stackscripts:read_write` - Allows access to all endpoints related to your StackScripts.</li><li>`volumes:read_only` - Allows access to GET your Volumes.</li><li>`volumes:read_write` - Allows access to all endpoints related to your Volumes.</li></ul><br />|

    # Requests

    Requests must be made over HTTPS to ensure transactions are encrypted. The
    following Request methods are supported:

    | METHOD | USAGE |
    |--------|-------|
    | GET    | Retrieves data about collections and individual resources. |
    | POST   | For collections, creates a new resource of that type. Also used to perform actions on action endpoints. |
    | PUT    | Updates an existing resource. |
    | DELETE | Deletes a resource. This is a destructive action. |


    # Responses

    Actions will return one following HTTP response status codes:

    | STATUS  | DESCRIPTION |
    |---------|-------------|
    | 200 OK  | The request was successful. |
    | 204 No Content | The server successfully fulfilled the request and there is no additional content to send. |
    | 400 Bad Request | You submitted an invalid request (missing parameters, etc.). |
    | 401 Unauthorized | You failed to authenticate for this resource. |
    | 403 Forbidden | You are authenticated, but don't have permission to do this. |
    | 404 Not Found | The resource you're requesting does not exist. |
    | 429 Too Many Requests | You've hit a rate limit. |
    | 500 Internal Server Error | Please [open a Support Ticket](/api/v4/support-tickets/#post). |

    # Errors

    Success is indicated via <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes" target="_top">Standard HTTP status codes</a>.
    `2xx` codes indicate success, `4xx` codes indicate a request error, and
    `5xx` errors indicate a server error. A
    request error might be an invalid input, a required parameter being omitted,
    or a malformed request. A server error means something went wrong processing
    your request. If this occurs, please
    [open a Support Ticket](/api/v4/support-tickets/#post)
    and let us know. Though errors are logged and we work quickly to resolve issues,
    opening a ticket and providing us with reproducable steps and data is always helpful.

    The `errors` field is an array of the things that went wrong with your request.
    We will try to include as many of the problems in the response as possible,
    but it's conceivable that fixing these errors and resubmitting may result in
    new errors coming back once we are able to get further along in the process
    of handling your request.


    Within each error object, the `field` parameter will be included if the error
    pertains to a specific field in the JSON you've submitted. This will be
    omitted if there is no relevant field. The `reason` is a human-readable
    explanation of the error, and will always be included.

    # Pagination

    Resource lists are always paginated. The response will look similar to this:

    ```json
    {
        "data": [ ... ],
        "page": 1,
        "pages": 3,
        "results": 300
    }
    ```

    * Pages start at 1. You may retrieve a specific page of results by adding
    `?page=x` to your URL (for example, `?page=4`). If the value of `page`
    exceeds `2^64/page_size`, the last possible page will be returned.


    * Page sizes default to 100,
    and can be set to return between 25 and 100. Page size can be set using
    `?page_size=x`.

    # Filtering and Sorting

    Collections are searchable by fields they include, marked in the spec as
    `x-linode-filterable: true`. Filters are passed
    in the `X-Filter` header and are formatted as JSON objects. Here is a request
    call for Linode Types in our "standard" class:

    ```Shell
    curl "https://api.linode.com/v4/linode/types" \
      -H 'X-Filter: { \
        "class": "standard"
      }'
    ```

    The filter object's keys are the keys of the object you're filtering,
    and the values are accepted values. You can add multiple filters by
    including more than one key. For example, filtering for "standard" Linode
    Types that offer one vcpu:

    ```Shell
     curl "https://api.linode.com/v4/linode/types" \
      -H 'X-Filter: { \
        "class": "standard",
        "vcpus": 1
      }'
    ```

    In the above example, both filters are combined with an "and" operation.
    However, if you wanted either Types with one vcpu or Types in our "standard"
    class, you can add an operator:

    ```Shell
    curl "https://api.linode.com/v4/linode/types" \
      -H 'X-Filter: {
        "+or": [
          { "vcpus": 1 },
          { "class": "standard" }
        ]
      }'
    ```

    Each filter in the `+or` array is its own filter object, and all conditions
    in it are combined with an "and" operation as they were in the previous example.

    Other operators are also available. Operators are keys of a Filter JSON
    object. Their value must be of the appropriate type, and they are evaluated
    as described below:

    | OPERATOR | TYPE   | DESCRIPTION                       |
    |----------|--------|-----------------------------------|
    | +and     | array  | All conditions must be true.       |
    | +or      | array  | One condition must be true.        |
    | +gt      | number | Value must be greater than number. |
    | +gte     | number | Value must be greater than or equal to number. |
    | +lt      | number | Value must be less than number. |
    | +lte     | number | Value must be less than or equal to number. |
    | +contains | string | Given string must be in the value. |
    | +neq      | string | Does not equal the value.          |
    | +order_by | string | Attribute to order the results by - must be filterable. |
    | +order    | string | Either "asc" or "desc". Defaults to "asc". Requires `+order_by`. |

    For example, filtering for [Linode Types](/api/v4/linode-types)
    that offer memory equal to or higher than 61440:

    ```Shell
    curl "https://api.linode.com/v4/linode/types" \
      -H 'X-Filter: {
        "memory": {
          "+gte": 61440
        }
      }'
    ```

    You can combine and nest operators to construct arbitrarily-complex queries.
    For example, give me all [Linode Types](/api/v4/linode-types)
    which are either `standard` or `highmem` class, or
    have between 12 and 20 vcpus:

    ```Shell
    curl "https://api.linode.com/v4/linode/types" \
      -H 'X-Filter: {
        "+or": [
          {
            "+or": [
              {
                "class": "standard"
              },
              {
                "class": "highmem"
              }
            ]
          },
          {
            "+and": [
              {
                "vcpus": {
                  "+gte": 12
                }
              },
              {
                "vcpus": {
                  "+lte": 20
                }
              }
            ]
          }
        ]
      }'
    ```

    # CLI (Command Line Interface)

    The <a href="https://github.com/linode/linode-cli" target="_top">Linode CLI</a> allows you to easily
    work with the API using intuitive and simple syntax. It requires a
    [Personal Access Token](#section/Personal-Access-Token)
    for authentication, and gives you access to all of the features and functionality
    of the Linode API that are documented here with CLI examples.

    Endpoints that do not have CLI examples are currently unavailable through the CLI, but
    can be accessed via other methods such as Shell commands and other third-party applications.

    # APIv3

    View the [Linode APIv3 Documentation](https://linode.com/apiv3).
  title: Linode
  version: 4.4.0
  x-apisguru-categories:
    - cloud
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: openapi
      url: 'https://developers.linode.com/api/docs/v4/openapi.yaml'
      version: '3.0'
  x-providerName: linode.com
paths:
  /account:
    get:
      description: |
        Returns the contact and billing information related to your Account.
      operationId: getAccount
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Returns a single Account object.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_only'
      summary: View Account
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account
        - lang: CLI
          source: |
            linode-cli account view
      x-linode-cli-action: view
      x-linode-grant: read_only
    put:
      description: |
        Updates contact and billing information related to your Account.
      operationId: updateAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
        description: Update contact and billing information.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: The updated Account.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_write'
      summary: Update Account
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X PUT -d '{
                  "address_1": "123 Main St.",
                  "address_2": "Suite 101",
                  "city": "Philadelphia",
                  "company": "My Company, LLC",
                  "country": "US",
                  "email": "jsmith@mycompany.com",
                  "first_name": "John",
                  "last_name": "Smith",
                  "phone": "555-555-1212",
                  "state": "PA",
                  "zip": 19102,
                  }
                }' \
                https://api.linode.com/v4/account
        - lang: CLI
          source: |
            linode-cli account update \
              --first_name John \
              --last_name Smith
      x-linode-cli-action: update
      x-linode-grant: read_write
    x-linode-cli-command: account
  /account/cancel:
    post:
      description: |
        Cancels an active Linode account. This action will cause Linode to attempt to charge the credit card on file for the remaining balance. An error will occur if Linode fails to charge the credit card on file. Restricted users will not be able to cancel an account.
      operationId: cancelAccount
      requestBody:
        content:
          application/json:
            schema:
              properties:
                comments:
                  description: |
                    Any reason for cancelling the account, and any other comments you might have about your Linode service.
                  example: I'm consolidating multiple accounts into one.
                  type: string
        description: |
          Supply a comment stating the reason that you are cancelling your account.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                example:
                  survey_link: 'https://alinktothesurvey.com'
                properties:
                  survey_link:
                    description: A link to Linode's exit survey.
                    type: string
                type: object
          description: Account cancelled
        '409':
          content:
            application/json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        reason:
                          description: |
                            A string explaining that the account could not be cancelled because there is an outstanding balance on the account that must be paid first.
                          example: |
                            We were unable to charge your credit card for services rendered. We cannot cancel this account until the balance has been paid.
                          type: string
                      type: object
                    type: array
                type: object
          description: Could not charge the credit card on file
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_write'
      summary: Cancel Account
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X PUT -d '{
                  "comments": "I'm consolidating my accounts."
                  }
                }' \
                https://api.linode.com/v4/account/cancel
        - lang: CLI
          source: |
            linode-cli account cancel \
              --comments "I'm consolidating my accounts"
      x-linode-cli-action: cancel
      x-linode-grant: read_write
    x-linode-cli-command: account
  /account/credit-card:
    post:
      description: |
        Adds/edit credit card information to your Account.
        Only one credit card can be associated with your Account, so using this endpoint will overwrite your currently active card information with the new credit card.
      operationId: createCreditCard
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreditCard'
                - properties:
                    cvv:
                      description: |
                        The Card Verification Value on the back of the card.
                      example: '123'
                      type: string
        description: Update the credit card information associated with your Account.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: Credit Card updated.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_write'
      summary: Add/Edit Credit Card
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                  "card_number": "4111111111111111",
                  "expiry_month": 11,
                  "expiry_year": 2020
                }' \
                https://api.linode.com/v4/account/credit-card
        - lang: CLI
          source: |
            linode-cli account update-card \
              --card_number 4111111111111111 \
              --expiry_month 11 \
              --expiry_year 2025
      x-linode-cli-action: update-card
      x-linode-grant: read_write
    x-linode-cli-command: account
  /account/events:
    get:
      description: |
        Returns a collection of Event objects representing actions taken on your Account. The Events returned depends on your grants.
      operationId: getEvents
      parameters:
        - $ref: '#/components/parameters/pageOffset'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Event'
                    type: array
                  page:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/page'
                  pages:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/pages'
                  results:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/results'
                type: object
          description: Returns a paginated lists of Event objects.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'events:read_only'
      summary: List Events
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/events
        - lang: CLI
          source: |
            linode-cli events list
      x-linode-cli-action: list
      x-linode-grant: read_only
    x-linode-cli-command: events
  '/account/events/{eventId}':
    get:
      description: Returns a single Event object.
      operationId: getEvent
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: An Event object
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'events:read_only'
      summary: View Event
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/events/123
        - lang: CLI
          source: |
            linode-cli events view 123
      x-linode-cli-action: view
      x-linode-grant: read_only
    parameters:
      - description: The ID of the Event.
        in: path
        name: eventId
        required: true
        schema:
          type: integer
    x-linode-cli-command: events
  '/account/events/{eventId}/read':
    parameters:
      - description: The ID of the Event to designate as read.
        in: path
        name: eventId
        required: true
        schema:
          type: integer
    post:
      description: Marks a single Event as read.
      operationId: eventRead
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: Event read.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'events:read_write'
      summary: Mark Event as Read
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST \
                https://api.linode.com/v4/account/events/123/read
        - lang: CLI
          source: |
            linode-cli events mark-read 123
      x-linode-cli-action: mark-read
      x-linode-grant: read_write
    x-linode-cli-command: events
  '/account/events/{eventId}/seen':
    parameters:
      - description: The ID of the Event to designate as seen.
        in: path
        name: eventId
        required: true
        schema:
          type: integer
    post:
      description: |
        Marks all Events up to and including this Event by ID as seen.
      operationId: eventSeen
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: Events seen.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'events:read_only'
      summary: Mark Event as Seen
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST \
                https://api.linode.com/v4/account/events/123/seen
        - lang: CLI
          source: |
            linode-cli events mark-seen 123
      x-linode-cli-action: mark-seen
      x-linode-grant: read_write
    x-linode-cli-command: events
  /account/invoices:
    get:
      description: |
        Returns a paginated list of Invoices against your Account.
      operationId: getInvoices
      parameters:
        - $ref: '#/components/parameters/pageOffset'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Invoice'
                    type: array
                  page:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/page'
                  pages:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/pages'
                  results:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/results'
                type: object
          description: Returns a paginated list of Invoice objects.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_only'
      summary: List Invoices
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/invoices
        - lang: CLI
          source: |
            linode-cli account invoices-list
      x-linode-cli-action: invoices-list
      x-linode-grant: read_only
    x-linode-cli-command: account
  '/account/invoices/{invoiceId}':
    get:
      description: Returns a single Invoice object.
      operationId: getInvoice
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: An Invoice object
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_only'
      summary: View Invoice
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/invoices/123
        - lang: CLI
          source: |
            linode-cli account invoice-view 123
      x-linode-cli-action: invoice-view
      x-linode-grant: read_only
    parameters:
      - description: The ID of the Invoice.
        in: path
        name: invoiceId
        required: true
        schema:
          type: integer
    x-linode-cli-command: account
  '/account/invoices/{invoiceId}/items':
    get:
      description: Returns a paginated list of Invoice items.
      operationId: getInvoiceItems
      parameters:
        - $ref: '#/components/parameters/pageOffset'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/InvoiceItem'
                    type: array
                  page:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/page'
                  pages:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/pages'
                  results:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/results'
                type: object
          description: A paginated list of InvoiceItem objects
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_only'
      summary: List Invoice Items
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/invoices/123/items
        - lang: CLI
          source: |
            linode-cli account invoice-items 123
      x-linode-cli-action: invoice-items
      x-linode-grant: read_only
    parameters:
      - description: The ID of the Invoice.
        in: path
        name: invoiceId
        required: true
        schema:
          type: integer
    x-linode-cli-command: account
  /account/notifications:
    get:
      description: |
        Returns a collection of Notification objects representing important, often time-sensitive items related to your Account.
        You cannot interact directly with Notifications, and a Notification will disappear when the circumstances causing it have been resolved. For example, if you have an important Ticket open, you must respond to the Ticket to dismiss the Notification.
      operationId: getNotifications
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Notification'
                    type: array
                  page:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/page'
                  pages:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/pages'
                  results:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/results'
                type: object
          description: Returns a paginated list of Notification objects.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_only'
      summary: List Notifications
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/notifications
        - lang: CLI
          source: |
            linode-cli account notifications-list
      x-linode-cli-action: notifications-list
      x-linode-grant: read_only
    x-linode-cli-command: account
  /account/oauth-clients:
    get:
      description: |
        Returns a paginated list of OAuth Clients registered to your Account.  OAuth Clients allow users to log into applications you write or host using their Linode Account, and may allow them to grant some level of access to their Linodes or other entities to your application.
      operationId: getClients
      parameters:
        - $ref: '#/components/parameters/pageOffset'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/OAuthClient'
                    type: array
                  page:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/page'
                  pages:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/pages'
                  results:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/results'
                type: object
          description: A paginated list of OAuth Clients.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_only'
      summary: List OAuth Clients
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/oauth-clients
        - lang: CLI
          source: |
            linode-cli account clients-list
      x-linode-cli-action: clients-list
      x-linode-grant: read_only
    post:
      description: |
        Creates an OAuth Client, which can be used to allow users (using their Linode account) to log in to your own application, and optionally grant your application some amount of access to their Linodes or other entities.
      operationId: createClient
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - properties:
                    public:
                      description: Whether to create a public or private client.
                      example: false
                      readOnly: false
                      type: boolean
                  type: object
                - $ref: '#/components/schemas/OAuthClient'
                - properties:
                    public:
                      description: Whether to create a public or private client.
                      example: false
                      readOnly: false
                      type: boolean
                  type: object
              required:
                - label
                - redirect_uri
        description: Information about the OAuth Client to create.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
          description: Client created successfully.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_write'
      summary: Create OAuth Client
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                    "redirect_uri": "https://example.org/oauth/callback",
                    "label": "Test_Client_1",
                    "public": false
                }' \
                https://api.linode.com/v4/account/oauth-clients
        - lang: CLI
          source: |
            linode-cli account client-create \
              --label Test_Client_1 \
              --redirect_uri https://example.org/callback
      x-linode-cli-action: client-create
    x-linode-cli-command: account
  '/account/oauth-clients/{clientId}':
    delete:
      description: |
        Deletes an OAuth Client registered with Linode. The Client ID and Client secret will no longer be accepted by <a target="_top" href="https://login.linode.com">https://login.linode.com</a>, and all tokens issued to this client will be invalidated (meaning that if your application was using a token, it will no longer work).
      operationId: deleteClient
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: Client deleted successfully.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_write'
      summary: Delete OAuth Client
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                -X DELETE \
                https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c
        - lang: CLI
          source: |
            linode-cli account client-delete \
              edc6790ea9db4d224c5c
      x-linode-cli-action: client-delete
    get:
      description: |
        Returns information about a single OAuth client.
      operationId: getClient
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
          description: Information about the requested client.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_only'
      summary: View OAuth Client
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c
        - lang: CLI
          source: |
            linode-cli account client-view \
              edc6790ea9db4d224c5c
      x-linode-cli-action: client-view
    parameters:
      - description: The OAuth Client ID to look up.
        in: path
        name: clientId
        required: true
        schema:
          type: string
    put:
      description: |
        Update information about an OAuth Client on your Account. This can be especially useful to update the `redirect_uri` of your client in the event that the callback url changed in your application.
      operationId: updateClient
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClient'
        description: The fields to update.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
          description: Client updated successfully.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_write'
      summary: Update OAuth Client
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X PUT -d '{
                  "redirect_uri": "https://example.org/oauth/callback",
                  "label": "Test_Client_1"
                  }
                }' \
                https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c
        - lang: CLI
          source: |
            linode-cli account client-update \
              edc6790ea9db4d224c5c \
              --label Test_Client_1
      x-linode-cli-action: client-update
    x-linode-cli-command: account
  '/account/oauth-clients/{clientId}/reset-secret':
    parameters:
      - description: The OAuth Client ID to look up.
        in: path
        name: clientId
        required: true
        schema:
          type: string
    post:
      description: |
        Resets the OAuth Client secret for a client you own, and returns the OAuth Client with the plaintext secret. This secret is not supposed to be publicly known or disclosed anywhere. This can be used to generate a new secret in case the one you have has been leaked, or to get a new secret if you lost the original. The old secret is expired immediately, and logins to your client with the old secret will fail.
      operationId: resetClientSecret
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
          description: Client secret reset successfully.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_write'
      summary: Reset OAuth Client Secret
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST \
                https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c/reset-secret
        - lang: CLI
          source: |
            linode-cli account client-reset-secret \
              edc6790ea9db4d224c5c
      x-linode-cli-action: client-reset-secret
    x-linode-cli-command: account
  '/account/oauth-clients/{clientId}/thumbnail':
    get:
      description: |
        Returns the thumbnail for this OAuth Client.  This is a publicly-viewable endpoint, and can be accessed without authentication.
      operationId: getClientThumbnail
      responses:
        '200':
          content:
            image/png:
              schema:
                format: binary
                type: string
          description: The client's thumbnail.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: View OAuth Client Thumbnail
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c/thumbnail > thumbnail.png
      x-linode-cli-action: client-thumbnail
      x-linode-cli-skip: true
    parameters:
      - description: The OAuth Client ID to look up.
        in: path
        name: clientId
        required: true
        schema:
          type: string
    put:
      description: |
        Upload a thumbnail for a client you own.  You must upload an image file that will be returned when the thumbnail is retrieved.  This image will be publicly-viewable.
      operationId: setClientThumbnail
      requestBody:
        content:
          image/png:
            schema:
              format: binary
              type: string
        description: The image to set as the thumbnail.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: Thumbnail updated successfully.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_write'
      summary: Update OAuth Client Thumbnail
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: image/png" \
                -H "Authorization: Bearer $TOKEN" \
                -X PUT \
                --data-binary "/path/to/image"
                https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c/thumbnail
      x-linode-cli-action: update-client-thumbnail
      x-linode-cli-skip: true
    x-linode-cli-command: account
  /account/payments:
    get:
      description: |
        Returns a paginated list of Payments made on this Account.
      operationId: getPayments
      parameters:
        - $ref: '#/components/parameters/pageOffset'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Payment'
                    type: array
                  page:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/page'
                  pages:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/pages'
                  results:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/results'
                type: object
          description: Returns a paginated list of Payment objects.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_only'
      summary: List Payments
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/payments
        - lang: CLI
          source: |
            linode-cli account payments-list
      x-linode-cli-action: payments-list
      x-linode-grant: read_only
    post:
      description: |
        Makes a Payment to your Account via credit card. This will charge your credit card the requested amount.
      operationId: createPayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
        description: Information about the Payment you are making.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
          description: Payment made.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_write'
      summary: Make Payment
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                    "cvv": "123",
                    "usd": "120.50"
                }' \
                https://api.linode.com/v4/account/payments
        - lang: CLI
          source: |
            linode-cli account payment-create \
              --cvv 123 \
              --usd 120.50
      x-linode-cli-action: payment-create
      x-linode-grant: read_write
    x-linode-cli-command: account
  /account/payments/paypal:
    post:
      description: |
        This begins the process of submitting a Payment via PayPal. After calling this endpoint, you must take the resulting `payment_id` along with the `payer_id` from your PayPal account and [POST /account/payments/paypal-execute](/api/v4/account-payments-paypal-execute/#post) to complete the Payment.
      operationId: createPayPalPayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayPal'
        description: |
          The amount of the Payment to submit via PayPal.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  checkout_token:
                    description: |
                      The checkout token generated for this Payment.
                    example: EC-1A2B3C4D5E6F7G8H9
                    readOnly: true
                    type: string
                  payment_id:
                    description: |
                      The paypal-generated ID for this Payment. Used when authorizing the Payment in PayPal's interface.
                    example: PAY-1234567890ABCDEFGHIJKLMN
                    type: string
                type: object
          description: PayPal Payment staged.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_write'
      summary: Stage PayPal Payment
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                    "usd": "120.50",
                    "redirect_url": "https://example.org",
                    "cancel_url": "https://example.org"
                }' \
                https://api.linode.com/v4/account/payments/paypal
        - lang: CLI
          source: |
            linode-cli account paypal-start \
              --cancel_url https://example.org \
              --redirect_url https://example.org \
              --usd 120.50
      x-linode-cli-action: paypal-start
      x-linode-grant: read_only
    x-linode-cli-command: account
  /account/payments/paypal/execute:
    post:
      description: |
        Given a PaymentID and PayerID - as generated by PayPal during the transaction authorization process - this endpoint executes the Payment to capture the funds and credit your Linode Account.
      operationId: executePayPalPayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayPalExecute'
        description: |
          The details of the Payment to execute.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: PayPal Payment executed.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_write'
      summary: Execute Staged/Approved PayPal Payment
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                    "payment_id": "PAY-1234567890ABCDEFGHIJKLMN",
                    "payer_id": "ABCDEFGHIJKLM"
                }' \
                https://api.linode.com/v4/account/payments/paypal
        - lang: CLI
          source: |
            linode-cli account paypal-execute
      x-linode-cli-action: paypal-execute
      x-linode-grant: read_write
    x-linode-cli-command: account
  '/account/payments/{paymentId}':
    get:
      description: |
        Returns information about a specific Payment.
      operationId: getPayment
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
          description: A Payment object.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_only'
      summary: View Payment
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/payments/123
        - lang: CLI
          source: |
            linode-cli account payment-view 123
      x-linode-cli-action: payment-view
      x-linode-grant: read_only
    parameters:
      - description: The ID of the Payment to look up.
        in: path
        name: paymentId
        required: true
        schema:
          type: integer
    x-linode-cli-command: account
  /account/settings:
    get:
      description: |
        Returns information related to your Account settings: Managed service subscription, Longview subscription, and network helper.
      operationId: getAccountSettings
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSettings'
          description: Returns a single Account settings object.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_only'
      summary: View Account Settings
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/settings
        - lang: CLI
          source: |
            linode-cli account settings
      x-linode-cli-action: settings
      x-linode-grant: read_only
    put:
      description: |
        Updates your Account settings.
      operationId: updateAccountSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountSettings'
        description: Update Account settings information.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSettings'
          description: The updated Account settings.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_write'
      summary: Update Account Settings
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X PUT -d '{
                    "network_helper": true,
                    "longview_subscription": "longview-10"
                }' \
                https://api.linode.com/v4/account/settings
        - lang: CLI
          source: |
            linode-cli account settings-update \
              --longview_subscription longview-30 \
              --network_helper false
      x-linode-cli-action: settings-update
      x-linode-grant: read_write
    x-linode-cli-command: account
  /account/transfer:
    get:
      description: |
        Returns a Transfer object showing your network utilization, in GB, for the current month.
      operationId: getTransfer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
          description: Returns a single Transfer object.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_only'
      summary: View Network Utilization
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/transfer
        - lang: CLI
          source: |
            linode-cli account transfer
      x-linode-cli-action: transfer
      x-linode-grant: read_only
    x-linode-cli-command: account
  /account/users:
    get:
      description: |
        Returns a paginated list of Users on your Account. Users may access all or part of your Account based on their restricted status and grants.  An unrestricted User may access everything on the account, whereas restricted User may only access entities or perform actions they've been given specific grants to.
      operationId: getUsers
      parameters:
        - $ref: '#/components/parameters/pageOffset'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/User'
                    type: array
                  page:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/page'
                  pages:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/pages'
                  results:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/results'
                type: object
          description: A paginated list of Users.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_only'
      summary: List Users
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/users
        - lang: CLI
          source: |
            linode-cli users list
      x-linode-cli-action: list
      x-linode-grant: unrestricted only
    post:
      description: |
        Creates a User on your Account. Once created, the User will be able to log in and access portions of your Account. Access is determined by whether or not they are restricted, and what grants they have been given.
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  description: |
                    The new User's email address.
                  example: example_user@linode.com
                  format: email
                  type: string
                restricted:
                  description: |
                    If true, the new User must be granted access to perform actions or access entities on this Account. See [/account/users/{username}/grants](/api/v4/account-users-username-grants) for details on how to configure grants for a restricted User.
                  example: true
                  type: boolean
                username:
                  description: |
                    The new User's username. This is used for logging in, and may also be displayed alongside actions the User performs (for example, in Events or public StackScripts).
                  example: example_user
                  maxLength: 32
                  minLength: 3
                  pattern: '^[a-zA-Z0-9]((?![_-]{2,})[a-zA-Z0-9-_])+[a-zA-Z0-9]$'
                  type: string
              required:
                - username
                - email
        description: Information about the User to create.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: New User created successfully.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_write'
      summary: Create User
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                    "username": "example_user",
                    "email": "person@place.com",
                    "restricted": true
                }' \
                https://api.linode.com/v4/account/users
        - lang: CLI
          source: |
            linode-cli users create \
              --username example_user \
              --email example_user@linode.com
      x-linode-cli-action: create
      x-linode-grant: unrestricted only
    x-linode-cli-command: users
  '/account/users/{username}':
    delete:
      description: |
        Deletes a User. The deleted User will be immediately logged out and may no longer log in or perform any actions. All of the User's Grants will be removed.
      operationId: deleteUser
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: User deleted successfully.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_write'
      summary: Delete User
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                -X DELETE \
                https://api.linode.com/v4/account/users/example_user
        - lang: CLI
          source: |
            linode-cli users delete example_user
      x-linode-cli-action: delete
      x-linode-grant: unrestricted only
    get:
      description: |
        Returns information about a single User on your Account.
      operationId: getUser
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: The requested User object
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_only'
      summary: View User
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/users/example_user
        - lang: CLI
          source: |
            linode-cli users view example_user
      x-linode-cli-action: view
      x-linode-grant: unrestricted only
    parameters:
      - description: The username to look up.
        in: path
        name: username
        required: true
        schema:
          type: string
    put:
      description: |
        Update information about a User on your Account. This can be used to change the restricted status of a User. When making a User restricted, no grants will be configured by default and you must then set up grants in order for the User to access anything on the Account.
      operationId: updateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        description: The information to update.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: User updated successfully.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_write'
      summary: Update User
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X PUT -d '{
                    "username": example_user
                    "restricted": true
                }' \
                https://api.linode.com/v4/account/users/example_user
        - lang: CLI
          source: |
            linode-cli users update example_user \
              --username example_user \
              --restricted true
      x-linode-cli-action: update
      x-linode-grant: unrestricted only
    x-linode-cli-command: users
  '/account/users/{username}/grants':
    get:
      description: |
        Returns the full grants structure for this User. This includes all entities on the Account alongside what level of access this User has to each of them. Individual users may view their own grants at the [/profile/grants](/api/v4/profile-grants) endpoint, but will not see entities that they have no access to.
      operationId: getUserGrants
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrantsResponse'
          description: The User's grants.
        '204':
          description: |
            This is an unrestricted User, and therefore has no grants to return. This User may access everything on the Account and perform all actions.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_only'
      summary: View User's grants
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/users/example_user/grants
      x-linode-cli-action: grants
      x-linode-cli-skip: true
      x-linode-grant: unrestricted only
    parameters:
      - description: The username to look up.
        in: path
        name: username
        required: true
        schema:
          type: string
    put:
      description: |
        Update the grants a User has. This can be used to give a User access to new entities or actions, or take access away.  You do not need to include the grant for every entity on the Account in this request; any that are not included will remain unchanged.
      operationId: updateUserGrants
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantsResponse'
        description: The grants to update. Omitted grants will be left unchanged.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrantsResponse'
          description: Grants updated successfully.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'account:read_write'
      summary: Update User's grants
      tags:
        - Account
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X PUT -d '{
                    "global": {
                      "add_linodes": true,
                      "add_nodebalancers": false,
                      "add_domains": true,
                      "add_longview": false,
                      "add_stackscripts": true,
                      "longview_subscription": true,
                      "add_images": true,
                      "add_volumes": true,
                      "account_access": "read_only",
                      "cancel_account": false
                    },
                    "domain": [
                      {
                        "id": 123,
                        "permissions": "read_only"
                      }
                    ],
                    "image": [
                      {
                        "id": 123,
                        "permissions": "read_only"
                      }
                    ],
                    "linode": [
                      {
                        "id": 123,
                        "permissions": "read_only"
                      },
                      {
                        "id": 234,
                        "permissions": "read_write"
                      },
                      {
                        "id": 345,
                        "permissions": "read_only"
                      },
                    ],
                    "longview": [
                      {
                        "id": 123,
                        "permissions": "read_only"
                      },
                      {
                        "id": 234,
                        "permissions": "read_write"
                      }
                    ],
                    "nodebalancer": [
                      {
                        "id": 123,
                        "permissions": "read_write"
                      }
                    ],
                    "stackscript": [
                      {
                        "id": 123,
                        "permissions": "read_only"
                      },
                      {
                        "id": 124,
                        "permissions": "read_write"
                      }
                    ],
                    "volume": [
                      {
                        "id": 123,
                        "permissions": "read_only"
                      }
                    ]
                }' \
                https://api.linode.com/v4/account/users/example_user/grants
      x-linode-cli-action: update-grants
      x-linode-cli-skip: true
      x-linode-grant: unrestricted only
    x-linode-cli-command: users
  /domains:
    get:
      description: |
        This is a collection of Domains that you have registered in Linode's DNS Manager.  Linode is not a registrar, and in order for these to work you must own the domains and point your registrar at Linode's nameservers.
      operationId: getDomains
      parameters:
        - $ref: '#/components/parameters/pageOffset'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Domain'
                    type: array
                  page:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/page'
                  pages:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/pages'
                  results:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/results'
                type: object
          description: A paginated list of Domains you have registered.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'domains:read_only'
      summary: List Domains
      tags:
        - Domains
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/domains
        - lang: CLI
          source: |
            linode-cli domains list
      x-linode-cli-action: list
      x-linode-grant: read_only
    post:
      description: |
        Adds a new Domain to Linode's DNS Manager. Linode is not a registrar, and you must own the domain before adding it here. Be sure to point your registrar to Linode's nameservers so that the records hosted here are used.
      operationId: createDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domain'
        description: Information about the domain you are registering.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: |
            Domain added successfully.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'domains:read_write'
      summary: Create Domain
      tags:
        - Domains
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                    "domain": "example.com",
                    "type": "master",
                    "soa_email": "admin@example.com",
                    "description": "Example Description",
                    "refresh_sec": 14400,
                    "retry_sec": 3600,
                    "expire_sec": 604800,
                    "ttl_sec": 3600,
                    "status": "active",
                    "master_ips": ["127.0.0.1","255.255.255.1","123.123.123.7"],
                    "axfr_ips": ["44.55.66.77"],
                    "display_group": "Example Display Group"
                }' \
                https://api.linode.com/v4/domains
        - lang: CLI
          source: |
            linode-cli domains create \
              --type master \
              --domain example.org \
              --soa_email admin@example.org
      x-linode-cli-action: create
      x-linode-grant: add_domains
    x-linode-cli-command: domains
  /domains/import:
    post:
      description: |
        Imports a domain zone from a remote nameserver.
        Your nameserver must allow zone transfers (AXFR) from the following IPs:
          - 96.126.114.97
          - 96.126.114.98
          - 2600:3c00::5e
          - 2600:3c00::5f
      operationId: importDomain
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - properties:
                    domain:
                      description: |
                        The domain to import.
                      example: example.com
                      type: string
                    remote_nameserver:
                      description: |
                        The remote nameserver that allows zone transfers (AXFR).
                      example: examplenameserver.com
                      type: string
                  type: object
              required:
                - domain
                - remote_nameserver
        description: Information about the Domain to import.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: |
            A single Domain in Linode's DNS Manager.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'domains:read_write'
      summary: Import Domain
      tags:
        - Domains
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                  "domain": "example.com",
                  "remote_nameserver": "examplenameserver.com"
                }' \
                https://api.linode.com/v4/domains/import
        - lang: CLI
          source: |
            linode-cli domains import --domain example.com --remote_nameserver examplenameserver.com
      x-linode-cli-action: import
      x-linode-cli-command: domains
      x-linode-grant: read_write
  '/domains/{domainId}':
    delete:
      description: |
        Deletes a Domain from Linode's DNS Manager. The Domain will be removed from Linode's nameservers shortly after this operation completes. This also deletes all associated Domain Records.
      operationId: deleteDomain
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: Domain deleted successfully.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'domains:read_write'
      summary: Delete Domain
      tags:
        - Domains
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                -X DELETE \
                https://api.linode.com/v4/domains/1234
        - lang: CLI
          source: |
            linode-cli domains delete 1234
      x-linode-cli-action: delete
      x-linode-grant: read_write
    get:
      description: |
        This is a single Domain that you have registered in Linode's DNS Manager. Linode is not a registrar, and in order for this Domain record to work you must own the domain and point your registrar at Linode's nameservers.
      operationId: getDomain
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: |
            A single Domain in Linode's DNS Manager.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'domains:read_only'
      summary: View Domain
      tags:
        - Domains
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/domains/123
        - lang: CLI
          source: |
            linode-cli domains view 123
      x-linode-cli-action: view
      x-linode-grant: read_only
    parameters:
      - description: The ID of the Domain to access.
        in: path
        name: domainId
        required: true
        schema:
          type: integer
    put:
      description: |
        Update information about a Domain in Linode's DNS Manager.
      operationId: updateDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domain'
        description: The Domain information to update.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Domain update successful.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'domains:read_write'
      summary: Update Domain
      tags:
        - Domains
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X PUT -d '{
                    "domain": "example.com",
                    "type": "master",
                    "soa_email": "admin@example.com",
                    "description": "Example Description",
                    "refresh_sec": 14400,
                    "retry_sec": 3600,
                    "expire_sec": 604800,
                    "ttl_sec": 3600,
                    "status": "active",
                    "master_ips": ["127.0.0.1","255.255.255.1","123.123.123.7"],
                    "axfr_ips": ["44.55.66.77"],
                    "display_group": "Example Display Group"
                }' \
                https://api.linode.com/v4/domains/123
        - lang: CLI
          source: |
            linode-cli domains update 1234 \
              --retry_sec 7200 \
              --ttl_sec 300
      x-linode-cli-action: update
      x-linode-grant: read_write
    x-linode-cli-command: domains
  '/domains/{domainId}/clone':
    parameters:
      - description: ID of the Domain to clone.
        in: path
        name: domainId
        required: true
        schema:
          type: string
    post:
      description: |
        Clones a Domain and all associated DNS records from a Domain that is registered in Linode's DNS manager.
      operationId: cloneDomain
      requestBody:
        content:
          application/json:
            schema:
              properties:
                domain:
                  description: The new domain being created.
                  example: example.com
                  type: string
              required:
                - domain
              type: object
        description: Information about the Domain to clone.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: |
            A new Domain in Linode's DNS Manager, based on a cloned Domain.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'domains:read_write'
      summary: Clone Domain
      tags:
        - Domains
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X POST -d '{
              "domain": "example.com"
            }' \ https://api.linode.com/v4/domains/123/clone
        - lang: CLI
          source: |
            linode-cli domains clone 123 --domain example.com
      x-linode-cli-action: clone
      x-linode-grant: read_write
    x-linode-cli-command: domains
  '/domains/{domainId}/records':
    get:
      description: |
        Returns a paginated list of Records configured on a Domain in Linode's
        DNS Manager.
      operationId: getDomainRecords
      parameters:
        - $ref: '#/components/parameters/pageOffset'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/DomainRecord'
                    type: array
                  page:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/page'
                  pages:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/pages'
                  results:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/results'
                type: object
          description: A list of Domain Records.
      security:
        - personalAccessToken: []
        - oauth:
            - 'domains:read_only'
      summary: List Domain Records
      tags:
        - Domains
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/domains/1234/records
        - lang: CLI
          source: |
            linode-cli domains records-list 1234
      x-linode-cli-action: records-list
      x-linode-grant: read_only
    parameters:
      - description: The ID of the Domain we are accessing Records for.
        in: path
        name: domainId
        required: true
        schema:
          type: integer
    post:
      description: |
        Adds a new Domain Record to the zonefile this Domain represents.
      operationId: createDomainRecord
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DomainRecord'
              required:
                - type
        description: |
          Information about the new Record to add.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainRecord'
          description: Domain Record created successfully.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'domains:read_write'
      summary: Create Domain Record
      tags:
        - Domains
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                  "type": "A",
                  "name": "test",
                  "target": "12.34.56.78",
                  "priority": 50,
                  "weight": 50,
                  "port": 80,
                  "service": null,
                  "protocol": null,
                  "ttl_sec": 604800
                }' \
                https://api.linode.com/v4/domains/123/records
        - lang: CLI
          source: |
            linode-cli domains records-create 123 \
              --type A \
              --name test \
              --target 12.34.56.78 \
              --priority 50 \
              --weight 50 \
              --port 80 \
              --ttl_sec 604800
      x-linode-cli-action: records-create
      x-linode-grant: read_write
    x-linode-cli-command: domains
  '/domains/{domainId}/records/{recordId}':
    delete:
      description: |
        Deletes a Record on this Domain.
      operationId: deleteDomainRecord
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: Record deleted successfully.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'domains:read_write'
      summary: Delete Domain Record
      tags:
        - Domains
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                -X DELETE \
                https://api.linode.com/v4/domains/123/records/234
        - lang: CLI
          source: |
            linode-cli domains records-delete 123 234
      x-linode-cli-action: records-delete
      x-linode-grant: read_write
    get:
      description: |
        View a single Record on this Domain.
      operationId: getDomainRecord
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainRecord'
          description: A Domain Record object.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'domains:read_only'
      summary: View Domain Record
      tags:
        - Domains
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/domains/123/records/234
        - lang: CLI
          source: |
            linode-cli domains records-view 123 234
      x-linode-cli-action: records-view
      x-linode-grant: read_only
    parameters:
      - description: The ID of the Domain whose Record you are accessing.
        in: path
        name: domainId
        required: true
        schema:
          type: integer
      - description: The ID of the Record you are accessing.
        in: path
        name: recordId
        required: true
        schema:
          type: integer
    put:
      description: |
        Updates a single Record on this Domain.
      operationId: updateDomainRecord
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRecord'
        description: The values to change.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainRecord'
          description: Domain Record updated.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'domains:read_write'
      summary: Update Domain Record
      tags:
        - Domains
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X PUT -d '{
                  "type": "A",
                  "name": "test",
                  "target": "12.34.56.78",
                  "priority": 50,
                  "weight": 50,
                  "port": 80,
                  "service": null,
                  "protocol": null,
                  "ttl_sec": 604800,
                  "tag": null
                }' \
                https://api.linode.com/v4/domains/123/records/234
        - lang: CLI
          source: |
            linode-cli domains records-update 123 234 \
              --type A \
              --name test \
              --target 12.34.56.78 \
              --priority 50 \
              --weight 50 \
              --port 80 \
              --ttl_sec 604800
      x-linode-cli-action: records-update
      x-linode-grant: read_write
    x-linode-cli-command: domains
  /images:
    get:
      description: |
        Returns a paginated list of Images.

        * Calling this endpoint without authentication returns all public Images.
        * Authentication is required to return a combined paginated list of all public and
          your private Images.
      operationId: getImages
      parameters:
        - $ref: '#/components/parameters/pageOffset'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ImagePublic'
                    type: array
                  page:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/page'
                  pages:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/pages'
                  results:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/results'
                type: object
          description: A paginated list of Images.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'images:read_only'
      summary: List Images
      tags:
        - Images
      x-code-samples:
        - lang: Shell
          source: |
            curl https://api.linode.com/v4/images
        - lang: CLI
          source: |
            linode-cli images list
      x-linode-cli-action: list
      x-linode-grant: read_only
      x-linode-redoc-load-ids: true
    post:
      description: |
        Creates a private gold-master Image from a Linode Disk. There is no additional charge to store Images for Linode users.
        Images are limited to three per Account.
      operationId: createImage
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ImagePrivate'
                - properties:
                    description:
                      description: |
                        A detailed description of this Image.
                      type: string
                    disk_id:
                      description: |
                        The ID of the Linode Disk that this Image will be created from.
                      example: 42
                      type: integer
                    label:
                      description: |
                        A short title of this Image. Defaults to the label of the Disk it is being created from if not provided.
                      type: string
                  type: object
              required:
                - disk_id
        description: Information about the Image to create.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePrivate'
          description: New private Image created successfully.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'images:read_write'
      summary: Create Image
      tags:
        - Images
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                  "disk_id": 123,
                  "label": "this_is_a_label",
                  "description": "A longer description of the image"
                }' \
                https://api.linode.com/v4/images
        - lang: CLI
          source: |
            linode-cli images create \
              --label this_is_a_label \
              --description "A longer description \
                of the image" \
              --disk_id 123
      x-linode-cli-action: create
      x-linode-grant: read_write
    x-linode-cli-command: images
  '/images/{imageId}':
    delete:
      description: |
        Deletes a private Image you have permission to `read_write`.


        **Deleting an Image is a destructive action and cannot be undone.**
      operationId: deleteImage
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: Delete successful
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'images:read_write'
      summary: Delete Image
      tags:
        - Images
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                -X DELETE \
                https://api.linode.com/v4/images/private/67848373
        - lang: CLI
          source: |
            linode-cli images delete 67848373
      x-linode-cli-action: delete
      x-linode-grant: read_write
    get:
      description: |
        Get information about a single Image.
      operationId: getImage
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePrivate'
          description: A single Image object.
        default:
          $ref: '#/components/responses/ErrorResponse'
      summary: View Image
      tags:
        - Images
      x-code-samples:
        - lang: Shell
          source: |
            curl https://api.linode.com/v4/images/linode/debian9
        - lang: CLI
          source: |
            linode-cli images view linode/debian9
      x-linode-cli-action: view
    parameters:
      - description: ID of the Image to look up.
        in: path
        name: imageId
        required: true
        schema:
          type: string
    put:
      description: |
        Updates a private Image that you have permission to `read_write`.
      operationId: updateImage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagePrivate'
        description: |
          The fields to update.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePrivate'
          description: The updated image.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'images:read_write'
      summary: Update Image
      tags:
        - Images
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X PUT -d '{
                  "label": "My gold-master image",
                  "description": "The detailed description of my Image."
                }' \
                https://api.linode.com/v4/images/private/67848373
        - lang: CLI
          source: |
            linode-cli images update private/67848373 \
              --label "My gold-master image" \
              --description "The detailed description \
                of my Image."
      x-linode-cli-action: update
      x-linode-grant: read_write
    x-linode-cli-command: images
  /linode/instances:
    get:
      description: |
        Returns a paginated list of Linodes you have permission to view.
      operationId: getLinodeInstances
      parameters:
        - $ref: '#/components/parameters/pageOffset'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Linode'
                    type: array
                  page:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/page'
                  pages:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/pages'
                  results:
                    $ref: '#/components/schemas/PaginationEnvelope/properties/results'
                type: object
          description: Returns an array of all Linodes on your Account.
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
        - oauth:
            - 'linodes:read_only'
      summary: List Linodes
      tags:
        - Linode Instances
      x-code-samples:
        - lang: Shell
          source: |
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/linode/instances
        - lang: CLI
          source: |
            linode-cli linodes list
      x-linode-cli-action: list
      x-linode-grant: read_only
    post:
      description: |
        Creates a Linode Instance on your Account. In order for this
        request to complete successfully, your User must have the `add_linodes` grant. Creating a
        new Linode will incur a charge on your Account.

        Linodes can be created using one of the available Types. See
        [GET /linode/types](/api/v4/linode-types) to get more
        information about each Type's specs and cost.

        Linodes can be created in any one of our available
        [Regions](/api/v4/regions) for a list
        of available Regions you can deploy your Linode in.

        Linodes can be created in a number of ways:

        * Using a Linode Linux Distribution image or an Image you created based on another Linode.
          * The Linode will be `running` after it completes `provisioning`.
          * A default config with two Disks, one being a 512 swap disk, is created.
            * `swap_size` can be used to customize the swap disk size.
          * Requires a `root_pass` be supplied to use for the root User's Account.
          * It is recommended to supply SSH keys for the root User using the `authorized_keys` field.
          * You may also supply a list of usernames via the `authorized_users` field.
            * These users must have an SSH Key associated with your Profile first. See [/profile/sshkeys](/api/v4/profile-sshkeys/#post) for more information.

        * Using a StackScript.
          * See [/linode/stackscripts](/api/v4/linode-stackscripts) for
            a list of available StackScripts.
          * The Linode will be `running` after it completes `provisioning`.
          * Requires a compatible Image to be supplied.
            * See [/linode/stackscript/{stackscriptId}](/api/v4/linode-stackscripts-stackscript-id) for compatible Images.
          * Requires a `root_pass` be supplied to use for the root User's Account.
          * It is recommended to supply SSH keys for the root User using the `authorized_keys` field.
          * You may also supply a list of usernames via the `authorized_users` field.
[...]
