openapi: 3.0.0
servers:
  - url: https://graphhopper.com/api/1
info:
  contact:
    email: support@graphhopper.com
    name: API Support
    url: https://www.graphhopper.com/
  description: |
    
    With the [GraphHopper Directions API](https://www.graphhopper.com/products/) you can integrate A-to-B route planning, turn-by-turn navigation,
    route optimization, isochrone calculations and other tools in your application.

    The GraphHopper Directions API consists of the following RESTful web services:

     * [Routing API](#tag/Routing-API),
     * [Route Optimization API](#tag/Route-Optimization-API),
     * [Isochrone API](#tag/Isochrone-API),
     * [Map Matching API](#tag/Map-Matching-API),
     * [Matrix API](#tag/Matrix-API),
     * [Geocoding API](#tag/Geocoding-API) and
     * [Cluster API](#tag/Cluster-API).

    # Explore our APIs

    ## Get started

    1. [Sign up for GraphHopper](https://support.graphhopper.com/a/solutions/articles/44001976025)
    2. [Create an API key](https://support.graphhopper.com/a/solutions/articles/44001976027)

    Each API part has its own documentation. Jump to the desired API part and learn about the API through the given examples and tutorials.

    In addition, for each API there are specific sample requests that you can send via Insomnia or Postman to see what the requests and responses look like.

    ## Insomnia

    To explore our APIs with [Insomnia](https://insomnia.rest/), follow these steps:

    1. Open Insomnia and Import [our workspace](https://raw.githubusercontent.com/graphhopper/directions-api-doc/master/web/restclients/GraphHopper-Direction-API-Insomnia.json).
    2. Specify [your API key](https://graphhopper.com/dashboard/#/register) in your workspace: Manage Environments -> Base Environment -> `"api_key": your API key`
    3. Start exploring

    ![Insomnia](./img/insomnia.png)

    ## Postman

    To explore our APIs with [Postman](https://www.getpostman.com/), follow these steps:

    1. Import our [request collections](https://raw.githubusercontent.com/graphhopper/directions-api-doc/master/web/restclients/graphhopper_directions_api.postman_collection.json) as well as our [environment file](https://raw.githubusercontent.com/graphhopper/directions-api-doc/master/web/restclients/graphhopper_directions_api.postman_environment.json).
    2. Specify [your API key](https://graphhopper.com/dashboard/#/register) in your environment: `"api_key": your API key`
    3. Start exploring

    ![Postman](./img/postman.png)

    ## API Client Libraries

    To speed up development and make coding easier, we offer the following client libraries:

     * [JavaScript client](https://github.com/graphhopper/directions-api-js-client) - try the [live examples](https://graphhopper.com/api/1/examples/)
     * [Others](https://github.com/graphhopper/directions-api-clients) like C#, Ruby, PHP, Python, ... automatically created for the Route Optimization API

    ### Bandwidth reduction

    If you create your own client, make sure it supports http/2 and gzipped responses for best speed.

    If you use the Matrix, the Route Optimization API or the Cluster API and want to solve large problems, we recommend you to reduce bandwidth
    by [compressing your POST request](https://gist.github.com/karussell/82851e303ea7b3459b2dea01f18949f4)
    and specifying the header as follows: `Content-Encoding: gzip`. This will also avoid the HTTP 413 error "Request Entity Too Large".

    ## Contact Us

    If you have problems or questions, please read the following information:

    - [FAQ](https://graphhopper.com/api/1/docs/FAQ/)
    - [Public forum](https://discuss.graphhopper.com/c/directions-api)
    - [Contact us](https://www.graphhopper.com/contact-form/)
    - [GraphHopper Status Page](https://status.graphhopper.com/)

    To stay informed about the latest developments, you can

    - follow us on [twitter](https://twitter.com/graphhopper/),
    - read [our blog](https://graphhopper.com/blog/),
    - watch [our documentation repository](https://github.com/graphhopper/directions-api-doc),
    - sign up for our newsletter or
    - [our forum](https://discuss.graphhopper.com/c/directions-api).

    Select the channel you like the most.


    # Map Data and Routing Profiles

    Currently, our main data source is [OpenStreetMap](https://www.openstreetmap.org). We also integrated other network data providers.
    This chapter gives an overview about the options you have.

    ## OpenStreetMap

    #### Geographical Coverage

    [OpenStreetMap](https://www.openstreetmap.org) covers the whole world. If you want to see for yourself if we can provide data suitable for your region,
    please visit [GraphHopper Maps](https://graphhopper.com/maps/).
    You can edit and modify OpenStreetMap data if you find that important information is missing, e.g. a weight limit for a bridge.
    [Here](https://wiki.openstreetmap.org/wiki/Beginners%27_guide) is a beginner's guide that shows how to add data. If you have edited data, we usually consider your data after 1 week at the latest.

    #### Supported Vehicle Profiles

    The Routing, Matrix and Route Optimization APIs support the following vehicle profiles:

    Name       | Description           | Restrictions              | Icon
    -----------|:----------------------|:--------------------------|:---------------------------------------------------------
    car        | Car mode              | car access                | ![car image](https://graphhopper.com/maps/img/car.png)
    small_truck| Small truck like a Mercedes Sprinter, Ford Transit or Iveco Daily | height=2.7m, width=2+0.4m, length=5.5m, weight=2080+1400 kg | ![small truck image](https://graphhopper.com/maps/img/small_truck.png)
    truck      | Truck like a MAN or Mercedes-Benz Actros | height=3.7m, width=2.6+0.5m, length=12m, weight=13000 + 13000 kg, hgv=yes, 3 Axes | ![truck image](https://graphhopper.com/maps/img/truck.png)
    scooter    | Moped mode | Fast inner city, often used for food delivery, is able to ignore certain bollards, maximum speed of roughly 50km/h | ![scooter image](https://graphhopper.com/maps/img/scooter.png)
    foot       | Pedestrian or walking without dangerous [SAC-scales](https://wiki.openstreetmap.org/wiki/Key:sac_scale) | foot access         | ![foot image](https://graphhopper.com/maps/img/foot.png)
    hike       | Pedestrian or walking with priority for more beautiful hiking tours and potentially a bit longer than `foot`. Walking duration is influenced by elevation differences.  | foot access         | ![hike image](https://graphhopper.com/maps/img/hike.png)
    bike       | Trekking bike avoiding hills | bike access  | ![bike image](https://graphhopper.com/maps/img/bike.png)
    mtb        | Mountainbike          | bike access         | ![Mountainbike image](https://graphhopper.com/maps/img/mtb.png)
    racingbike| Bike preferring roads | bike access         | ![racingbike image](https://graphhopper.com/maps/img/racingbike.png)

    Please note:

     * all motor vehicles (`car`, `small_truck`, `truck` and `scooter`) support turn restrictions via `turn_costs=true`
     * the free package supports only the vehicle profiles `car`, `bike` or `foot`
     * up to 2 different vehicle profiles can be used in a single optimization request. The number of vehicles is unaffected and depends on your subscription.
     * we offer custom vehicle profiles with different properties, different speed profiles or different access options. To find out more about custom profiles, please [contact us](https://www.graphhopper.com/contact-form/).
     * a sophisticated `motorcycle` profile is available up on request. It is powered by the [Kurviger](https://kurviger.de/en) Routing API and favors curves and slopes while avoiding cities and highways.
     
    ## TomTom

    If you want to include traffic, you can purchase the TomTom Add-on.
    This Add-on only uses TomTom's road network and historical traffic information.
    Live traffic is not yet considered. If you are interested to learn how we consider traffic information, we recommend that you read [this article](https://www.graphhopper.com/blog/2017/11/06/time-dependent-optimization/).

    Please note the following:

     * Currently we only offer this for our [Route Optimization API](#tag/Route-Optimization-API).
     * In addition to our terms, you need to accept TomTom's [End User License Aggreement](https://www.graphhopper.com/tomtom-end-user-license-agreement/).
     * We do *not* use TomTom's web services. We only use their data with our software.
     
    [Contact us](https://www.graphhopper.com/contact-form/) for more details.

    #### Geographical Coverage

    We offer

    - Europe including Russia
    - North, Central and South America
    - Saudi Arabia
    - United Arab Emirates
    - South Africa
    - Australia

    #### Supported Vehicle Profiles

    Name       | Description           | Restrictions              | Icon
    -----------|:----------------------|:--------------------------|:---------------------------------------------------------
    car        | Car mode              | car access                | ![car image](https://graphhopper.com/maps/img/car.png)
    small_truck| Small truck like a Mercedes Sprinter, Ford Transit or Iveco Daily | height=2.7m, width=2+0.4m, length=5.5m, weight=2080+1400 kg | ![small truck image](https://graphhopper.com/maps/img/small_truck.png)
  termsOfService: https://www.graphhopper.com/terms/
  title: GraphHopper Directions API
  version: 1.0.0
  x-apisguru-categories:
    - location
  x-logo:
    altText: GraphHopper
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_graphhopper_profile_image.png
  x-origin:
    - format: openapi
      url: https://docs.graphhopper.com/openapi.json
      version: "3.0"
  x-providerName: graphhopper.com
security:
  - api_key: []
tags:
  - description: |
      
      ## Quickstart

      The Route Optimization API can be used to solve [traveling salesman](https://en.wikipedia.org/wiki/Travelling_salesman_problem) or [vehicle routing problems](https://en.wikipedia.org/wiki/Vehicle_routing_problem).
      Solve your first problem by following these steps. If you already have a GraphHopper account, start with step 2.

      1. [Sign up for GraphHopper](https://support.graphhopper.com/a/solutions/articles/44001976025)
      2. [Create an API key](https://support.graphhopper.com/a/solutions/articles/44001976027)
      3. Download [simple traveling salesman problem](https://gist.github.com/oblonski/fb2f2be534c3ebe7bebaa72151194182) and save it in a local folder
      4. Open your command line, go to that local folder and use cURL ([What is cURL?](https://de.wikipedia.org/wiki/CURL)) as follows:

         ```
         curl -X POST -H "Content-Type: application/json"   "https://graphhopper.com/api/1/vrp?key=YOUR_CREATED_API_KEY" --data "@tsp.json"
         ```

      Alternatively, you can use our Editor to explore that API:

      1. Login to your GraphHopper account
      2. Go to **Editor**
      3. Click the **Optimize** button to solve your first problem
      4. Analyze the solution on the **Map** or as raw **JSON Output**

      If you have successfully solved the first problem, we recommend this tutorial - [Getting Started with the Optimization API](https://www.graphhopper.com/blog/2019/05/17/getting-started-with-the-optimization-api-traveling-salesman-problem/).
      It shows and describes the essential elements to model your vehicle routing problem.

      To explore the full specification, we recommend that you either use our [route editor](https://www.graphhopper.com/blog/2015/07/21/graphhoppers-new-route-optimization-editor/),
      which you can find in our [dashboard](https://graphhopper.com/dashboard/),
      or use a REST client such as Insomnia or Postman, as described [here](https://docs.graphhopper.com/#section/Explore-our-APIs/Insomnia).

      ## Tutorials

      We provide [a number of tutorials](https://www.graphhopper.com/tutorial/) illustrating how to use the Route Optimization API and
      how to model your vehicle routing problems:

      - [Getting Start with the Optimization API - Traveling Salesman Problem](https://www.graphhopper.com/blog/2019/05/17/getting-started-with-the-optimization-api-traveling-salesman-problem/)
      - [How to solve a traveling salesman problem with a week-planning horizon?](https://www.graphhopper.com/blog/2020/07/15/how-to-solve-a-traveling-salesman-problem-with-a-week-planning-horizon-and-driver-shifts/)
      - [How to schedule technicians with skills and multiple dependencies between tasks?](https://www.graphhopper.com/blog/2016/06/03/how-to-route-technicians-with-skills-and-multiple-dependencies-between-tasks/)
      - [What is the difference between the min. of completion time and min. transport time?](https://www.graphhopper.com/blog/2016/06/20/what-is-the-difference-between-the-minimization-of-completion-time-and-minimizing-transport-time/)
      - [How to model multiple delivery routes with a single vehicle?](https://www.graphhopper.com/blog/2016/07/21/how-to-model-multiple-delivery-routes-with-a-single-vehicle/)
    name: Route Optimization API
  - description: |
      
      ### Introduction

      ![Routing screenshot](./img/routing-example.png)

      The Routing API is part of the GraphHopper Directions API. Routing is the process of finding the best path connecting
      two or more points, where the meaning of ''best'' depends on the vehicle and use case.

      ### Navigation
      If you plan to use the Routing API for navigation, have a look at our [open source demo navigation application](https://github.com/graphhopper/graphhopper-navigation-example) and adapt it to your needs.

      ### Fast
      To get started using this API, just provide two or more points and retrieve the fastest route through the road
      network that connects them. This type of request is heavily optimized for query performance, so it does not
      allow for some advanced features.
      ### Flexible
      Unlock further flexible features via `ch.disable=true`.
    name: Routing API
  - description: |
      
      ### Introduction

      ![Matrix Example](./img/matrix-example.png)

      The Matrix API is part of the [GraphHopper Directions API](https://graphhopper.com/#directions-api) and with
      it you can calculate many-to-many distances and times a lot more efficient than calling the
      Routing API multiple times.

      In the [Routing API](#tag/Routing-API) we support multiple points, so called 'via points', which results in one
      route being calculated. The Matrix API results in NxM routes, or more precise NxM distances or times being calculated
      but [is a lot faster](https://www.graphhopper.com/blog/2019/06/04/incredibly-fast-distance-matrix-calculations-with-graphhopper/)
      compared to NxM single requests.

      The most simple example is a tourist trying to decide
      which pizza is close to her instead of using beeline distance she can calculate a 1x4 matrix. Or a delivery service
      often in the need of big NxN matrices to solve vehicle routing problems. For example the [GraphHopper Route Optimization API](#tag/Route-Optimization-API)
      uses the Matrix API under the hood to achieve this.

      Some other use cases for the Matrix API:

      * Logistic problems often pick up many items from and deliver them to many locations.
      * Calculating detours with many possible points in-between and selecting the best e.g. interesting for ridesharing or taxi applications. For this 1-to-many requests are necessary.
      * Finding the best tour for a tourist in the need to visit as many points of interests as possible.
      * ...

      ### API Clients and Examples

      See the [clients](#section/API-Clients) section in the main document and [live examples](https://graphhopper.com/api/1/examples/#matrix).

      ### Description

      The Matrix API calculates the well known distance-matrix for a set of points, i.e. it calculates all the distances
      between every point combination. But we do not stop there, we also offer a time-, weight- and route-matrix.
      The weight-matrix can be used as raw input for e.g. a vehicle routing problem ([VRP](http://en.wikipedia.org/wiki/Vehicle_routing_problem))
      and is more precise than a time- or distance-matrix. E.g. for bike routes the actual weight of a route (e.g. the "beauty")
      is what you want to decide if a route is 'better' and not always the taken time or distance.

      A simple illustration for a 3x3 matrix with identical from and to points:

      -          |to_point1|to_point2|to_point3
      :-----------|:--------|:--------|:--------
      from_point1 |0        |1->2     | 1->3
      from_point2 |2->1     |0        | 2->3
      from_point3 |3->1     |3->2     | 0

      A simple illustration for a 1x3 matrix with different start- and end-points:

      -          | to_point1  | to_point2 | t_point3
      :-----------|:-----------|:----------|:--------
      from_pointA |A->1        |A->2       |A->3


      For every route 1->2, 1-3, ... or A->1,A->2,A->3 you can return only the weight, the time and the distance.
      To calculate full routes you can use the [Routing API](#tag/Routing-API).

      ### Limits and Counts

      The cost for one request depends on the number of locations and is documented [here](https://support.graphhopper.com/support/solutions/44000303787#what-is-one-credit).

      One request should not exceed the Matrix API location limit, which depends on the subscription, see the
      pricing tab in our dashboard.
    name: Matrix API
  - description: Everything about geocoding
    name: Geocoding API
  - description: Everything about isochrones
    name: Isochrone API
  - description: Everything about map matching aka "snap to road"
    name: Map Matching API
  - description: |
      
      ### Introduction

      ![Cluster Example](./img/cluster-solution.jpg)

      It solves the “capacity clustering problem” by assigning a set of customers to a given number of distinct groups (called clusters).
      The API “clusters” by minimizing the total distance from each individual customer to its designated group median.
      It can also consider minimum and maximum capacity restrictions for each group.

      Clustering can be used in many practical applications.
      For example, it can help to plan territories, i.e. territory optimization for field teams with large territories for field workers,
      or to solve large vehicle routing problems (VRP).
    name: Cluster API
paths:
  /cluster:
    post:
      description: |
        
        The Cluster endpoint is used with a POST request towards
        `https://graphhopper.com/api/1/cluster?key=<your_key>`. The solution will be provided in the JSON response.
        Please note that for problems that take longer than 10 seconds a bad request error is returned.
        In this case please use the asynchronous [Batch Cluster Endpoint](#operation/asyncClusteringProblem) instead.
      operationId: solveClusteringProblem
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClusterRequest"
        description: Request object that contains the problem to be solved
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClusterResponse"
          description: A response containing the solution
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"
          description: Error occurred when reading the request. Request is invalid.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorMessage"
          description: Error occurred on server side.
      summary: POST Cluster Endpoint
      tags:
        - Cluster API
  /cluster/calculate:
    post:
      description: |
        
        Prefer the [synchronous endpoint](#operation/solveClusteringProblem) and use this Batch Cluster endpoint for
        long running problems only. The work flow is asynchronous:

        - send a POST request towards `https://graphhopper.com/api/1/cluster/calculate?key=<your_key>` and fetch the job_id.
        - poll the solution every 500ms until it gives `status=finished`. Do this with a GET request
          towards `https://graphhopper.com/api/1/cluster/solution/<job_id>?key=<your_key>`.
      operationId: asyncClusteringProblem
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClusterRequest"
        description: Request object that contains the problem to be solved
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobId"
          description: A jobId you can use to retrieve your solution from the server - see solution endpoint.
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
          links:
            GetSolutionByJobId:
              description: |
                The `job_id` value returned in the response can be used as the `jobId` parameter in `GET /vrp/{jobId}`.
              operationId: getSolution
              parameters:
                jobId: $response.body#/job_id
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"
          description: Error occurred when reading client request. Request is invalid.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorMessage"
          description: Error occurred on server side.
      summary: Batch Cluster Endpoint
      tags:
        - Cluster API
  "/cluster/solution/{jobId}":
    get:
      description: |
        This endpoint returns the solution of the clustering problems submitted to the [Batch Cluster endpoint](#operation/asyncClusteringProblem).
        You can fetch it with the job_id, you have been sent.
      operationId: getClusterSolution
      parameters:
        - description: Request solution with jobId
          in: path
          name: jobId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClusterResponse"
          description: A response containing the solution
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"
          description: Error occurred on client side such as invalid input.
        "404":
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: Error message
                    example: Invalid job_id 73314c89-ee4b-459c-aca4-0ad6d6e558da
                    type: string
                  status:
                    default: finished
                    description: status
                    example: finished
                    type: string
                type: object
          description: Requested solution could not be found.
        "500":
          description: Error occurred on server side.
      summary: GET Batch Solution Endpoint
      tags:
        - Cluster API
  /geocode:
    get:
      description: |
        
        ### Introduction

        ![Geocoding Example](./img/geocoding-example.png)

        _Geocoding_ describes the process of transforming an textual address representation to a coordinate (`latitude,longitude`).
        For example the conversion from `Berlin` to `52.5170365,13.3888599`.

        _Reverse geocoding_ converts a coordinate to a textual address representation or place name. Find out more about Geocoding itself on [Wikipedia](http://en.wikipedia.org/wiki/Geocoding).
      operationId: getGeocode
      parameters:
        - description: If you do forward geocoding, this is `required` and is a textual description of the address you are looking for.
          in: query
          name: q
          schema:
            type: string
        - description: Display the search results for the specified locale. Currently French (fr), English (en), German (de) and Italian (it) are supported. If the locale wasn't found the default (en) is used.
          in: query
          name: locale
          schema:
            default: en
            type: string
        - description: Specify the maximum number of results to return
          in: query
          name: limit
          schema:
            default: 10
            format: int32
            type: integer
        - description: It is `required` to be `true` if you want to do a reverse geocoding request. If it is `true`, `point` must be defined as well, and `q` must not be used.
          in: query
          name: reverse
          schema:
            default: false
            type: boolean
        - description: If `true`, the output will be formatted.
          in: query
          name: debug
          schema:
            default: false
            type: boolean
        - description: "_Forward geocoding_: The location bias in the format 'latitude,longitude' e.g. point=45.93272,11.58803. _Reverse geocoding_: The location to find amenities, cities."
          in: query
          name: point
          schema:
            type: string
        - description: |
            The provider parameter is currently under development and can fall back to `default` at any time.
            The intend is to provide alternatives to our default geocoder. Each provider has its own strenghts and might fit better for certain scenarios, so it's worth to compare the different providers.
            To try it append the `provider`parameter to the URL like `&provider=nominatim`,
            the result structure should be identical in all cases - if not, please report this back to us.
            Keep in mind that some providers do not support certain parameters or don't return some fields, for example `osm_id` and `osm_type` are not supported by every geocoding provider.
            If you would like to use additional parameters of one of the providers, but it's not available for the GraphHopper Geocoding API, yet? Please contact us.

            The credit costs can be different for all providers - see [here](https://support.graphhopper.com/support/solutions/articles/44000718211-what-is-one-credit-) for more information about it.

            Currently, only the default provider and gisgraphy supports autocompletion of partial search strings.

            All providers support normal "forward" geocoding and reverse geocoding via `reverse=true`.

            #### Default (`provider=default`)

            This provider returns results of our internal geocoding engine, as described above.
            In addition to the above documented parameters the following parameters are possible:
            * `bbox` - the expected format is `minLon,minLat,maxLon,maxLat`
            * `osm_tag` - you can filter `key:value` or exclude places with certain OpenStreetMap tags `!key:value`. E.g. `osm_tag=tourism:museum` or just the key `osm_tag=tourism`. To exclude multiple tags you add multiple `osm_tag` parameters.

            #### Nominatim (`provider=nominatim`)

            The GraphHopper Directions API uses a commercially hosted Nominatim geocoder. You can try this provider [here](https://nominatim.openstreetmap.org/). The provider does **not** fall under the [restrictions](https://operations.osmfoundation.org/policies/nominatim/) of the Nominatim instance hosted by OpenStreetMap.

            In addition to the above documented parameters Nominatim allows to use the following parameters, which can be used as documented [here](https://github.com/openstreetmap/Nominatim/blob/master/docs/api/Search.md#parameters):

            * `viewbox` - the expected format is `minLon,minLat,maxLon,maxLat`
            * `bounded` - If 1 and a viewbox is given, restrict the result to items contained within that viewbox. Default is 0.

            #### Gisgraphy (`provider=gisgraphy`)

            This provider returns results from the Gisgraphy geocoder which you can try [here](https://services.gisgraphy.com/static/leaflet/index.html).

            **Limitations:** The `locale` parameter is not supported. Gisgraphy does not return OSM tags or an extent.

            Gisgraphy has a special autocomplete API, which you can use by adding `autocomplete=true` (does not work with `reverse=true`). The autocomplete API is optimized on predicting text input, but returns less information.

            In addition to the above documented parameters Gisgraphy allows to use the following parameters, which can be used as documented [here](https://www.gisgraphy.com/documentation/user-guide.php#geocodingservice):

            * `radius` - radius in meters
            * `country` - restrict search for the specified country. The value must be the ISO 3166 Alpha 2 code of the country.

            #### NetToolKit (`provider=nettoolkit`)

            This provider returns results from the NetToolKit provider which is specialized for US addresses and provides a wrapper around Nominatim for other addresses. You can try it [here](https://www.nettoolkit.com/geo/demo).

            The following additional NetToolKit parameters are supported (read [here](https://www.nettoolkit.com/docs/geo/geocoding) for more details):
            - `source`: User can choose which source provider to geocode the address, this value is "NetToolKit" by default
            - `country_code`: an iso-3166-2 country code (e.g : US) filter the results to the specify country code

            **Limitations:** NetToolKit does not support the `locale` parameter. NetToolKit does not return OSM tags (e.g. osm_id, osm_type, osm_value).

            #### OpenCage Data (`provider=opencagedata`)

            This provider returns results from the OpenCageData geocoder which you can try [here](https://geocoder.opencagedata.com/demo).

            In addition to the above documented parameters OpenCage Data allows to use the following parameters, which can be used as documented [here](https://geocoder.opencagedata.com/api#forward-opt):

            * countrycode - The country code is a two letter code as defined by the ISO 3166-1 Alpha 2 standard. E.g. gb for the United Kingdom, fr for France, us for United States. 
            * bounds - the expected format is `minLon,minLat,maxLon,maxLat`
          in: query
          name: provider
          schema:
            default: default
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeocodingResponse"
          description: An array found locations
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GHError"
          description: Unexpected error
      summary: Geocoding Endpoint
      tags:
        - Geocoding API
      x-code-samples:
        - lang: Curl
          source: curl "https://graphhopper.com/api/1/geocode?q=berlin&locale=de&debug=true&key=api_key"
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();
            Request request = new Request.Builder()
                    .url("https://graphhopper.com/api/1/geocode?q=berlin&locale=de&debug=true&key=api_key")
                    .get()
                    .build();

            Response response = client.newCall(request).execute();
  /isochrone:
    get:
      description: |
        ### Example
        You can get an example response via:

        ```
        curl "https://graphhopper.com/api/1/isochrone?point=51.131108,12.414551&key=[YOUR_KEY]"
        ```

        Don't forget to replace the placeholder with your own key.

        ### Introduction
        ![Isochrone screenshot](./img/isochrone-example.png)

        An isochrone of a location is ''a line connecting points at which a vehicle arrives at the same time'', see Wikipedia.
        With the same API you can also calculate isodistances, just use the parameter distance_limit instead of time_limit`.

        ### Use Cases
        Some possible areas in which this API may be useful to you:

        - real estate analysis
        - realtors
        - vehicle scheduling
        - geomarketing
        - reach of electric vehicles
        - transport planning
        - logistics (distribution and retail network planning)

        ### API Clients and Examples
        See the [clients](#section/API-Clients) section in the main documentation, and [live examples](https://graphhopper.com/api/1/examples/#isochrone).
      operationId: getIsochrone
      parameters:
        - description: Specify the start coordinate
          in: query
          name: point
          required: true
          schema:
            type: string
        - description: Specify which time the vehicle should travel. In seconds.
          in: query
          name: time_limit
          schema:
            default: 600
            format: int32
            type: integer
        - description: Specify which distance the vehicle should travel. In meters.
          in: query
          name: distance_limit
          schema:
            format: int32
            type: integer
        - description: |
            The vehicle profile for which the route should be calculated.
          in: query
          name: vehicle
          schema:
            $ref: "#/components/schemas/VehicleProfileId"
        - description: Number by which to divide the given `time_limit` to create `buckets` nested isochrones of time intervals `time_limit-n*time_limit/buckets`. Applies analogously to `distance_limit`.
          in: query
          name: buckets
          schema:
            default: 1
            format: int32
            type: integer
        - description: |
            If `false` the flow goes from point to the polygon, if `true` the flow goes from the polygon "inside" to the point.
            Example use case for `false`&#58; *How many potential customer can be reached within 30min travel time from your store* vs. `true`&#58; *How many customers can reach your store within 30min travel time.*
          in: query
          name: reverse_flow
          schema:
            default: false
            type: boolean
        - description: Use `"shortest"` to get an isodistance line instead of an isochrone.
          in: query
          name: weighting
          schema:
            default: fastest
            enum:
              - fastest
              - shortest
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IsochroneResponse"
          description: Isochrone Result
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GHError"
          description: Unexpected Error
      summary: Isochrone Endpoint
      tags:
        - Isochrone API
  /match:
    post:
      description: |
        ### Example
        You get an example response for a GPX via:

        ```
        curl -XPOST -H "Content-Type: application/gpx+xml" "https://graphhopper.com/api/1/match?vehicle=car&key=[YOUR_KEY]" --data @/path/to/some.gpx
        ```

        A minimal working GPX file looks like
        ```gpx
        <gpx>
         <trk>
          <trkseg>
           <trkpt lat="51.343657" lon="12.360708"></trkpt>
           <trkpt lat="51.343796" lon="12.361337"></trkpt>
           <trkpt lat="51.342784" lon="12.361882"></trkpt>
          </trkseg>
         </trk>
        </gpx>
        ```

        ### Introduction
        ![Map Matching screenshot](./img/map-matching-example.gif)

        The Map Matching API is part of the GraphHopper Directions API and with this API you can snap measured GPS points typically as GPX files to a digital
        road network to e.g. clean data or attach certain data like elevation or turn instructions to it. Read more at Wikipedia.

        In the example screenshot above and demo you see the Map Matching API in action where the black line is the GPS track and the green one is matched result.

        Most of the times, you can simply POST a GPX file, but some of the request parameters of the [Routing API](#tag/Routing-API) apply here, too.

        ### API Clients and Examples
        See the [clients](#section/API-Clients) section in the main documentation, and [live examples](https://graphhopper.com/api/1/examples/#map-matching).

        ### Limits and Counts
        The cost for one request depends on the number of GPS location and is documented [here](https://graphhopper.com/api/1/docs/FAQ/).

        One request should not exceed the Map Matching API location limit depending on the package, see the pricing in our dashboard.
      operationId: postGPX
      parameters:
        - description: Specify the precision of a point, in meter
          in: query
          name: gps_accuracy
          required: false
          schema:
            type: integer
        - description: Specify the vehicle profile like car
          in: query
          name: vehicle
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteResponse"
          description: Routing Result
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GHError"
          description: Unexpected Error
      summary: Map-match a GPX file
      tags:
        - Map Matching API
  /matrix:
    get:
      description: |
        With this Matrix Endpoint you submit the points and parameters via URL parameters and is the most convenient
        as it works out-of-the-box in the browser. If possible you should
        prefer using the [POST Matrix Endpoint](#operation/postMatrix) that avoids problems with many locations
        and can also gzip the **request**. (Note, that all endpoints return gzipped responses).
      operationId: getMatrix
      parameters:
        - description: Specify multiple points in `latitude,longitude` for which the weight-, route-, time- or distance-matrix should be calculated. In this case the starts are identical to the destinations. If there are N points, then NxN entries will be calculated. The order of the point parameter is important. Specify at least three points. Cannot be used together with from_point or to_point.
          explode: true
          in: query
          name: point
          required: false
          schema:
            items:
              type: string
            type: array
        - description: The starting points for the routes in `latitude,longitude`. E.g. if you want to calculate the three routes A-&gt;1, A-&gt;2, A-&gt;3 then you have one from_point parameter and three to_point parameters.
          explode: true
          in: query
          name: from_point
          required: false
          schema:
            items:
              type: string
            type: array
        - description: The destination points for the routes in `latitude,longitude`.
          explode: true
          in: query
          name: to_point
          required: false
          schema:
            items:
              type: string
            type: array
        - description: Optional parameter. Specifies a hint for each `point` parameter to prefer a certain street for the closest location lookup. E.g. if there is an address or house with two or more neighboring streets you can control for which street the closest location is looked up.
          explode: true
          in: query
          name: point_hint
          required: false
          schema:
            items:
              type: string
            type: array
        - description: For the from_point parameter. See point_hint
          explode: true
          in: query
          name: from_point_hint
          required: false
          schema:
            items:
              type: string
            type: array
        - description: For the to_point parameter. See point_hint
          explode: true
          in: query
          name: to_point_hint
          required: false
          schema:
            items:
              type: string
            type: array
        - description: |
            Optional parameter to avoid snapping to a certain road class or road environment. Current supported values `motorway`, `trunk`, `ferry`, `tunnel`, `bridge` and `ford`. Multiple values are specified like `snap_prevention=ferry&snap_prevention=motorway`
          explode: true
          in: query
          name: snap_prevention
          schema:
            items:
              type: string
            type: array
        - description: Optional parameter. It specifies on which side a point should be relative to the driver when she leaves/arrives at a start/target/via point. You need to specify this parameter for either none or all points. Only supported for motor vehicles and OpenStreetMap.
          explode: true
          in: query
          name: curbside
          required: false
          schema:
            items:
              enum:
                - any
                - right
                - left
              type: string
            type: array
        - description: Curbside setting for the from_point parameter. See curbside.
          explode: true
          in: query
          name: from_curbside
          required: false
          schema:
            items:
              enum:
                - any
                - right
                - left
              type: string
            type: array
        - description: Curbside setting for the to_point parameter. See curbside.
          explode: true
          in: query
          name: to_curbside
          required: false
          schema:
            items:
              enum:
                - any
                - right
                - left
              type: string
            type: array
        - description: Specifies which arrays should be included in the response. Specify one or more of the following options 'weights', 'times', 'distances'. To specify more than one array use e.g. out_array=times&out_array=distances. The units of the entries of distances are meters, of times are seconds and of weights is arbitrary and it can differ for different vehicles or versions of this API.
          explode: true
          in: query
          name: out_array
          required: false
          schema:
            items:
              type: string
            type: array
        - description: The vehicle profile for which the matrix should be calculated.
          in: query
          name: vehicle
          schema:
            $ref: "#/components/schemas/VehicleProfileId"
        - description: Specifies whether or not the matrix calculation should return with an error as soon as possible in case some points cannot be found or some points are not connected. If set to `false` the time/weight/distance matrix will be calculated for all valid points and contain the `null` value for all entries that could not be calculated. The `hint` field of the response will also contain additional information about what went wrong (see its documentation).
          in: query
          name: fail_fast
          required: false
          schema:
            default: true
            type: boolean
        - description: Specifies if turn restrictions should be considered. Enabling this option increases the matrix computation time. Only supported for motor vehicles and OpenStreetMap.
          in: query
          name: turn_costs
          required: false
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatrixResponse"
          description: Matrix API response
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GHError"
          description: Unexpected Error
      summary: GET Matrix Endpoint
      tags:
        - Matrix API
      x-code-samples:
        - lang: Curl
          source: curl "https://graphhopper.com/api/1/matrix?point=49.932707,11.588051&point=50.241935,10.747375&point=50.118817,11.983337&type=json&vehicle=car&debug=true&out_array=weights&out_array=times&out_array=distances&key=api_key"
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();
            Request request = new Request.Builder()
                    .url("https://graphhopper.com/api/1/matrix?point=49.932707,11.588051&point=50.241935,10.747375&point=50.118817,11.983337&type=json&vehicle=car&debug=true&out_array=weights&out_array=times&out_array=distances&key=api_key")
                    .get()
                    .build();

            Response response = client.newCall(request).execute();
    post:
      description: |
        
        The [GET endpoint](#operation/getMatrix) has an URL length limitation, which hurts for many locations per request.
        In those cases use this POST endpoint with a JSON as input. The only parameter in the URL will be the key.
        Both request scenarios are identical except that all singular parameter names are named as their plural for a POST request.
        The effected parameters are: `points`, `from_points`, `to_points`, and `out_arrays`. For the remaining parameters
        please refer to the [guide of the GET endpoint](#operation/getMatrix).

        **Please note that in contrast to GET endpoint the points have to be specified as `[longitude, latitude]` array (in that order, similar to [GeoJson](http://geojson.org/geojson-spec.html#examples))**.

        For example the query `point=10,11&point=20,22&vehicle=car` will be converted to the following JSON:
        ```json
        { "points": [[11,10], [22,20]], "vehicle": "car" }
        ```

        A complete curl Example:
        ```bash
        curl -X POST -H "Content-Type: application/json" "https://graphhopper.com/api/1/matrix?key=[YOUR_KEY]" -d '{"elevation":false,"out_arrays":["weights", "times"],"from_points":[[-0.087891,51.534377],[-0.090637,51.467697],[-0.171833,51.521241],[-0.211487,51.473685]],"to_points":[[-0.087891,51.534377],[-0.090637,51.467697],[-0.171833,51.521241],[-0.211487,51.473685]],"vehicle":"car"}'
        ```
      operationId: postMatrix
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/MatrixRequest"
                - $ref: "#/components/schemas/SymmetricalMatrixRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatrixResponse"
          description: Matrix API response
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GHError"
          description: Unexpected Error
      summary: POST Matrix Endpoint
      tags:
        - Matrix API
  /matrix/calculate:
    post:
      description: |
        Prefer the [synchronous endpoint](#operation/postMatrix) and use this Batch endpoint for long running problems only.

        The Batch Matrix endpoint allows using matrices with more locations and works asynchronously - similar to the [Batch Route Optimization endpoint](#operation/asyncVRP):
         * Create a HTTP POST request against `/matrix/calculate` and add the key in the URL: `/matrix/calculate?key=[YOUR_KEY]`. This will give you the `job_id` from the response json like `{ "job_id": "7ac65787-fb99-4e02-a832-2c3010c70097" }`
         * Poll via HTTP GET requests every 500ms against `/matrix/solution/[job_id]`

        Here are some full examples via curl:
        ```bash
        $ curl -X POST -H "Content-Type: application/json" "https://graphhopper.com/api/1/matrix/calculate?key=[YOUR_KEY]" -d '{"points":[[13.29895,52.48696],[13.370876,52.489575],[13.439026,52.511206]]}'
        {"job_id":"7ac65787-fb99-4e02-a832-2c3010c70097"}
        ```

        Pick the returned `job_id` and use it in the next GET requests:
        ```bash
        $ curl -X GET "https://graphhopper.com/api/1/matrix/solution/7ac65787-fb99-4e02-a832-2c3010c70097?key=[YOUR_KEY]"
        {"status":"waiting"}
        ```

        When the calculation is finished (`status:finished`) the JSON response will contain the full matrix JSON under `solution`:
        ```bash
        $ curl -X GET "https://graphhopper.com/api/1/matrix/solution/7ac65787-fb99-4e02-a832-2c3010c70097?key=[YOUR_KEY]"
        {"solution":{"weights":[[0.0,470.453,945.414],[503.793,0.0,580.871],[970.49,569.511,0.0]],"info":{"copyrights":["GraphHopper","OpenStreetMap contributors"]}},"status":"finished"}
        ```

        Please note that if an error occured while calculation the JSON will not have a status but contain directly the error message e.g.:
        ```json
        {"message":"Cannot find from_points: 1"}
        ```
        And the optional `hints` array.
      operationId: calculateMatrix
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/MatrixRequest"
                - $ref: "#/components/schemas/SymmetricalMatrixRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobId"
          description: A jobId you can use to retrieve your solution from the server.
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GHError"
          description: Unexpected Error
      summary: Batch Matrix Endpoint
      tags:
        - Matrix API
  "/matrix/solution/{jobId}":
    get:
      description: |
        This endpoint returns the solution of a JSON submitted to the Batch Matrix endpoint. You can fetch it with the job_id, you have been sent.
      operationId: getMatrixSolution
      parameters:
        - description: Request solution with jobId
          in: path
          name: jobId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatrixResponse"
          description: A response containing the matrix
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GHError"
          description: Unexpected Error
      summary: GET Batch Matrix Endpoint
      tags:
        - Matrix API
  /route:
    get:
      description: |
        The GET request is the most simple one: just specify the parameter in the URL and you are done.
        Can be tried directly in every browser.
      operationId: getRoute
      parameters:
        - description: |
            The points for which the route should be calculated. Format: `[latitude,longitude]`. Specify at least an origin and a destination. Via points are possible.
            The maximum number depends on your plan.
          explode: true
          in: query
          name: point
          required: true
          schema:
            items:
              type: string
            type: array
        - description: |
            The `point_hint` is typically a road name to which the associated `point` parameter should be snapped to. Specify no `point_hint` parameter or the same number as you have `point` parameters.
          explode: true
          in: query
          name: point_hint
          schema:
            items:
              type: string
            type: array
        - description: |
            Optional parameter to avoid snapping to a certain road class or road environment. Currently supported values are `motorway`, `trunk`, `ferry`, `tunnel`, `bridge` and `ford`. Multiple values are specified like `snap_prevention=ferry&snap_prevention=motorway`.
          explode: true
          in: query
          name: snap_prevention
          schema:
            items:
              type: string
            type: array
        - description: |
            The vehicle profile for which the route should be calculated.
          in: query
          name: vehicle
          schema:
            $ref: "#/components/schemas/VehicleProfileId"
        - description: |
            Optional parameter. It specifies on which side a point should be relative to the driver when she leaves/arrives at a start/target/via point. You need to specify this parameter for either none or all points. Only supported for motor vehicles and OpenStreetMap.
          in: query
          name: curbside
          schema:
            items:
              enum:
                - any
                - right
                - left
              type: string
            type: array
        - description: |
            Specifies if turn restrictions should be considered. Enabling this option increases the route computation time. Only supported for motor vehicles and OpenStreetMap.
          in: query
          name: turn_costs
          schema:
            default: false
            type: boolean
        - description: |
            The locale of the resulting turn instructions. E.g. `pt_PT` for Portuguese or `de` for German.
          in: query
          name: locale
          schema:
            default: en
            type: string
        - description: |
            If `true`, a third coordinate, the altitude, is included with all positions in the response.
            This changes the format of the `points` and `snapped_waypoints` fields of the response, in both their
            encodings. Unless you switch off the `points_encoded` parameter, you need special code on the
            client side that can handle three-dimensional coordinates.
            A request can fail if the vehicle profile does not support elevation. See the features object for every vehicle profile.
          in: query
          name: elevation
          schema:
            default: false
            type: boolean
        - description: |
            Optional parameter to retrieve path details. You can request additional details for the route: `street_name`, 
            `time`, `distance`, `max_speed`, `toll`, `road_class`, `road_class_link`, `road_access`, `road_environment`, `lanes`, and `surface`. Read more about the usage of path details [here](https://discuss.graphhopper.com/t/2539).
          explode: true
          in: query
          name: details
          schema:
            items:
              type: string
            type: array
        - description: |
            Normally, the calculated route will visit the points in the order you specified them.
            If you have more than two points, you can set this parameter to `"true"` and the points may be re-ordered to minimize the total travel time.
            Keep in mind that the limits on the number of locations of the Route Optimization API applies, and the request costs more credits.
          in: query
          name: optimize
          schema:
            default: "false"
            type: string
        - description: |
            If instructions should be calculated and returned
          in: query
          name: instructions
          schema:
            default: true
            type: boolean
        - description: |
            If the points for the route should be calculated at all.
          in: query
          name: calc_points
          schema:
            default: true
            type: boolean
        - description: |
            If `true`, the output will be formatted.
          in: query
          name: debug
          schema:
            default: false
            type: boolean
        - description: |
            Allows changing the encoding of location data in the response. The default is polyline encoding, which is compact
            but requires special client code to unpack. (We provide it in our JavaScript client library!)
            Set this parameter to `false` to switch the encoding to simple coordinate pairs like `[lon,lat]`, or `[lon,lat,elevation]`.
            See the description of the response format for more information.
          in: query
          name: points_encoded
          schema:
            default: true
            type: boolean
        - description: |
            Use this parameter in combination with one or more parameters from below.
          in: query
          name: ch.disable
          schema:
            default: false
            type: boolean
        - description: |
            Determines the way the "best" route is calculated. Besides `fastest` you can use `short_fastest` which finds a reasonable balance between the distance influence (`shortest`) and the time (`fastest`). You could also use `shortest` but is deprecated and not recommended for motor vehicles. All except `fastest` require `ch.disable=true`.
          in: query
          name: weighting
          schema:
            default: fastest
            type: string
        - description: |
            Favour a heading direction for a certain point. Specify either one heading for the start point or as many as there are points.
            In this case headings are associated by their order to the specific points. Headings are given as north based clockwise angle between 0 and 360 degree.
            This parameter also influences the tour generated with `algorithm=round_trip` and forces the initial direction.  Requires `ch.disable=true`.
          explode: true
          in: query
          name: heading
          schema:
            items:
              format: int32
              type: integer
            type: array
        - description: |
            Time penalty in seconds for not obeying a specified heading. Requires `ch.disable=true`.
          in: query
          name: heading_penalty
          schema:
            default: 120
            format: int32
            type: integer
        - description: |
            If `true`, u-turns are avoided at via-points with regard to the `heading_penalty`. Requires `ch.disable=true`.
          in: query
          name: pass_through
          schema:
            default: false
            type: boolean
        - description: |
            Block road access by specifying a point close to the road segment to be blocked, with the format `lat,lon`.
            You can also block all road segments crossing a geometric shape. Specify a circle using the format `lat,lon,radius`, or a polygon using the format `lat1,lon1,lat2,lon2,...,latN,lonN`.
            You can specify several shapes, separating them with `;`. Requires `ch.disable=true`.
          in: query
          name: block_area
          schema:
            type: string
        - description: |
            Specify which road classes and environments you would like to avoid. 
            Possible values are `motorway`, `steps`, `track`, `toll`, `ferry`, `tunnel` and `bridge`.
            Separate several values with `;`. Obviously not all the values make sense for all vehicle profiles e.g. `bike` is already forbidden on a `motorway`. Requires `ch.disable=true`.
          in: query
          name: avoid
          schema:
            type: string
        - description: |
            Rather than looking for the shortest or fastest path, this parameter lets you solve two different problems related to routing:
            With `alternative_route`, we give you not one but several routes that are close to optimal, but
            not too similar to each other. 
            With `round_trip`, the route will get you back to where you started. This is meant for fun (think of
            a bike trip), so we will add some randomness. The `round_trip` option requires `ch.disable=true`.
            You can control both of these features with additional parameters, see below. 
          in: query
          name: algorithm
          schema:
            enum:
              - round_trip
              - alternative_route
            type: string
        - description: |
            If `algorithm=round_trip`, this parameter configures approximative length of the resulting round trip. Requires `ch.disable=true`.
          in: query
          name: round_trip.distance
          schema:
            default: 10000
            format: int32
            type: integer
        - description: |
            If `algorithm=round_trip`, this sets the random seed. Change this to get a different tour for each value.
          in: query
          name: round_trip.seed
          schema:
            format: int64
            type: integer
        - description: |
            If `algorithm=alternative_route`, this parameter sets the number of maximum paths which should be calculated. Increasing can lead to worse alternatives.
          in: query
          name: alternative_route.max_paths
          schema:
            default: 2
            format: int32
            type: integer
        - description: |
            If `algorithm=alternative_route`, this parameter sets the factor by which the alternatives routes can be longer than the optimal route. Increasing can lead to worse alternatives.
          in: query
          name: alternative_route.max_weight_factor
          schema:
            default: 1.4
            type: number
        - description: |
            If `algorithm=alternative_route`, this parameter specifies how similar an alternative route can be to the optimal route. Increasing can lead to worse alternatives.
          in: query
          name: alternative_route.max_share_factor
          schema:
            default: 0.6
            type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteResponse"
          description: Routing Result
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GHError"
          description: Your request is not valid. For example, you specified too few or too many points.
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GHError"
          description: Authentication necessary
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GHError"
          description: API limit reached.
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GHError"
          description: Internal server error. We get notified automatically and fix this asap.
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GHError"
          description: Only a special list of vehicles is supported.
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
      summary: GET Route Endpoint
      tags:
        - Routing API
      x-code-samples:
        - lang: Curl
          source: curl "https://graphhopper.com/api/1/route?point=51.131,12.414&point=48.224,3.867&vehicle=car&locale=de&calc_points=false&key=api_key"
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();
            Request request = new Request.Builder()
                    .url("https://graphhopper.com/api/1/route?point=51.131,12.414&point=48.224,3.867&vehicle=car&locale=de&calc_points=false&key=api_key")
                    .get()
                    .build();

            Response response = client.newCall(request).execute();
    post:
      description: |
        Please see the [GET endpoint](#operation/getRoute) for a simpler method on how to get started.
        If you are familiar with POST requests and JSON then do not hesitate to continue here.

        Especially when you use many locations you should get familiar with this POST endpoint as the GET endpoint
        has an URL length limitation. Additionally the request of this POST endpoint can be compressed and can slightly
        speed up the request.

        To do a request you send JSON data. Both request scenarios GET and POST are identical except that all singular parameter names are named as their plural for a POST request.
        The effected parameters are: `points`, `point_hints` and `snap_preventions`.

        **Please note that in opposite to the GET endpoint, points are specified in the order of `longitude, latitude`**.

        For example `point=10,11&point=20,22` will be converted to the `points` array (plural):
        ```json
        { "points": [[11,10], [22,20]] }
        ```
        Note again that also the order changes from `[latitude,longitude]` to `[longitude,latitude]`
        similar to [GeoJson](http://geojson.org/geojson-spec.html#examples).

        Example:
        ```bash
        curl -X POST -H "Content-Type: application/json" "https://graphhopper.com/api/1/route?key=[YOUR_KEY]" -d '{"elevation":false,"points":[[-0.087891,51.534377],[-0.090637,51.467697]],"vehicle":"car"}'
        ```
      operationId: postRoute
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RouteRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteResponse"
          description: Routing Result
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GHError"
          description: Your request is not valid. For example, you specified too few or too many points.
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GHError"
          description: Authentication necessary
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GHError"
          description: API limit reached.
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GHError"
          description: Internal server error. We get notified automatically and fix this asap.
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GHError"
          description: Only a special list of vehicles is supported.
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
      summary: POST Route Endpoint
      tags:
        - Routing API
  /route/info:
    get:
      description: |
        Use this to find out details about the supported vehicle profiles and features, or if you just need to ping the server.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoResponse"
          description: Coverage Information
      summary: Coverage information
      tags:
        - Routing API
  /vrp:
    post:
      description: |
        
        To get started with the Route Optimization API, please read the [introduction](#tag/Route-Optimization-API).

        To solve a new vehicle routing problem, make a HTTP POST to this URL

        ```
        https://graphhopper.com/api/1/vrp?key=<your_key>
        ```

        It returns the solution to this problem in the JSON response.

        Please note that this URL is very well suited to solve minor problems.
        Larger vehicle routing problems, which take longer than 10 seconds to solve, cannot be solved.
        To solve them, please use the [batch mode URL](#operation/asyncVRP) instead.
      operationId: solveVRP
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Request"
        description: The request that contains the vehicle routing problem to be solved.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
          description: A response containing the solution
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"
          description: Error occurred when reading the request. Request is invalid.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorMessage"
          description: Error occurred on server side.
      summary: POST route optimization problem
      tags:
        - Route Optimization API
      x-code-samples:
        - lang: Curl
          source: |-
            curl -X POST -H "Content-Type: application/json"   "https://graphhopper.com/api/1/vrp?key=api_key"   -d '{
              "vehicles": [
                {
                  "vehicle_id": "my_vehicle",
                  "start_address": {
                    "location_id": "berlin",
                    "lon": 13.406,
                    "lat": 52.537
                  }
                }
              ],
              "services": [
                {
                  "id": "hamburg",
                  "name": "visit_hamburg",
                  "address": {
                    "location_id": "hamburg",
                    "lon": 9.999,
                    "lat": 53.552
                  }
                },
                { 
                 "id": "munich",
                  "name": "visit_munich",
                  "address": {
                    "location_id": "munich",
                    "lon": 11.57,
                    "lat": 48.145
                  }
                }
              ]}'
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();
            MediaType mediaType = MediaType.parse("application/json");
            RequestBody body = RequestBody.create(mediaType, "{\n  \"vehicles\": [\n    {\n      \"vehicle_id\": \"my_vehicle\",\n      \"start_address\": {\n        \"location_id\": \"berlin\",\n        \"lon\": 13.406,\n        \"lat\": 52.537\n      }\n    }\n  ],\n  \"services\": [\n    {\n      \"id\": \"hamburg\",\n      \"name\": \"visit_hamburg\",\n      \"address\": {\n        \"location_id\": \"hamburg\",\n        \"lon\": 9.999,\n        \"lat\": 53.552\n      }\n    },\n    { \n     \"id\": \"munich\",\n      \"name\": \"visit_munich\",\n      \"address\": {\n        \"location_id\": \"munich\",\n        \"lon\": 11.57,\n        \"lat\": 48.145\n      }\n    }\n  ]}");
            Request request = new Request.Builder()
                    .url("https://graphhopper.com/api/1/vrp?key=api_key")
                    .post(body)
                    .addHeader("content-type", "application/json")
                    .build();

            Response response = client.newCall(request).execute();
  /vrp/optimize:
    post:
      description: |
        
        To solve a vehicle routing problem, perform the following steps:

        1.) Make a HTTP POST to this URL

        ```
        https://graphhopper.com/api/1/vrp/optimize?key=<your_key>
        ```

        It returns a job id (job_id).

        2.) Take the job id and fetch the solution for the vehicle routing problem from this URL:

        ```
        https://graphhopper.com/api/1/vrp/solution/<job_id>?key=<your_key>
        ```

        We recommend to query the solution every 500ms until it returns 'status=finished'.

        **Note**: Since the workflow is a bit more cumbersome and since you lose some time in fetching the solution, you should always prefer
        the [synchronous endpoint](#operation/solveVRP). You should use the batch mode only for long running problems.
      operationId: asyncVRP
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Request"
        description: The request that contains the problem to be solved.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobId"
          description: A jobId you can use to retrieve your solution from the server - see solution endpoint.
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
          links:
            GetSolutionByJobId:
              description: |
                The `job_id` value returned in the response can be used as the `jobId` parameter in `GET /vrp/{jobId}`.
              operationId: getSolution
              parameters:
                jobId: $response.body#/job_id
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"
          description: Error occurred when reading client request. Request is invalid.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalErrorMessage"
          description: Error occurred on server side.
      summary: POST route optimization problem (batch mode)
      tags:
        - Route Optimization API
      x-code-samples:
        - lang: Curl
          source: |-
            curl -X POST -H "Content-Type: application/json"   "https://graphhopper.com/api/1/vrp/optimize?key=api_key"   -d '{
              "vehicles": [
                {
                  "vehicle_id": "my_vehicle",
                  "start_address": {
                    "location_id": "berlin",
                    "lon": 13.406,
                    "lat": 52.537
                  }
                }
              ],
              "services": [
                {
                  "id": "hamburg",
                  "name": "visit_hamburg",
                  "address": {
                    "location_id": "hamburg",
                    "lon": 9.999,
                    "lat": 53.552
                  }
                },
                { 
                 "id": "munich",
                  "name": "visit_munich",
                  "address": {
                    "location_id": "munich",
                    "lon": 11.57,
                    "lat": 48.145
                  }
                }
              ]}'
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();
            MediaType mediaType = MediaType.parse("application/json");
            RequestBody body = RequestBody.create(mediaType, "{\n  \"vehicles\": [\n    {\n      \"vehicle_id\": \"my_vehicle\",\n      \"start_address\": {\n        \"location_id\": \"berlin\",\n        \"lon\": 13.406,\n        \"lat\": 52.537\n      }\n    }\n  ],\n  \"services\": [\n    {\n      \"id\": \"hamburg\",\n      \"name\": \"visit_hamburg\",\n      \"address\": {\n        \"location_id\": \"hamburg\",\n        \"lon\": 9.999,\n        \"lat\": 53.552\n      }\n    },\n    { \n     \"id\": \"munich\",\n      \"name\": \"visit_munich\",\n      \"address\": {\n        \"location_id\": \"munich\",\n        \"lon\": 11.57,\n        \"lat\": 48.145\n      }\n    }\n  ]}");
            Request request = new Request.Builder()
                    .url("https://graphhopper.com/api/1/vrp/optimize?key=api_key")
                    .post(body)
                    .addHeader("content-type", "application/json")
                    .build();

            Response response = client.newCall(request).execute();
  "/vrp/solution/{jobId}":
    get:
      description: |
        
        Take the job id and fetch the solution for the vehicle routing problem from this URL:

        ```
        https://graphhopper.com/api/1/vrp/solution/<job_id>?key=<your_key>
        ```

        You get the job id by sending a vehicle routing problem to the [batch mode URL](#operation/asyncVRP).
      operationId: getSolution
      parameters:
        - description: Request solution with jobId
          in: path
          name: jobId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
          description: A response containing the solution
          headers:
            X-RateLimit-Credits:
              description: The credit costs for this request. Note it could be a decimal and even negative number, e.g. when an async request failed.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset of the credit count is done.
              schema:
                type: integer
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequest"
          description: Error occurred on client side such as invalid input.
        "404":
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: Error message
                    example: Invalid job_id 73314c89-ee4b-459c-aca4-0ad6d6e558da
                    type: string
                  status:
                    default: finished
                    description: status
                    example: finished
                    type: string
                type: object
          description: Requested solution could not be found.
        "500":
          description: Error occurred on server side.
      summary: GET the solution (batch mode)
      tags:
        - Route Optimization API
      x-code-samples:
        - lang: Curl
          source: curl -X GET "https://graphhopper.com/api/1/vrp/solution/job_id?key=api_key"
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();
            Request request = new Request.Builder()
                    .url("https://graphhopper.com/api/1/vrp/solution/job_id?key=api_key")
                    .get()
                    .build();

            Response response = client.newCall(request).execute();
components:
  schemas:
    Activity:
      properties:
        address:
          $ref: "#/components/schemas/ResponseAddress"
        arr_date_time:
          description: Arrival date time with offset like this 1970-01-01T01:00+01:00. If you do not use time-dependent optimization, this is `null`.
          format: date-time
          type: string
        arr_time:
          description: Arrival time at this activity in seconds. If type is `start`, this is not available (since it makes no sense to have `arr_time` at start). However, `end_time` is available and actually means \"departure time\" at start location. It is important to note that `arr_time` does not necessarily mean \"start of underlying activity\", it solely means arrival time at activity location. If this activity has no time windows and if there are no further preparation times, `arr_time` is equal to activity start time.
          format: int64
          type: integer
        distance:
          description: cumulated distance from start to this activity in m
          format: int64
          type: integer
        driving_time:
          description: cumulated driving time from start to this driver activity in seconds
          format: int64
          type: integer
        end_date_time:
          description: End date time with offset like this 1970-01-01T01:00+01:00. If you do not use time-dependent optimization, this is `null`.
          format: date-time
          type: string
        end_time:
          description: End time of and thus departure time at this activity. If type is `end`, this is not available (since it makes no sense to have an `end_time` at end) `end_time` at each activity is equal to the departure time at the activity location.
          format: int64
          type: integer
        id:
          description: Id referring to the underlying service or shipment, i.e. the shipment or service this activity belongs to
          type: string
        load_after:
          description: Array with size/capacity dimensions after this activity
          items:
            description: dimension value
            format: int32
            type: integer
          type: array
        load_before:
          description: Array with size/capacity dimensions before this activity
          items:
            description: dimension value
            format: int32
            type: integer
          type: array
        location_id:
          description: Id that refers to address
          type: string
        preparation_time:
          description: preparation time at this activity in seconds
          format: int64
          type: integer
        type:
          description: type of activity
          enum:
            - start
            - end
            - service
            - pickupShipment
            - deliverShipment
            - pickup
            - delivery
            - break
          type: string
        waiting_time:
[...]
