swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /resourceviews/v1beta2/projects
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: The Resource View API allows users to create and manage logical sets of Google Compute Engine instances.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Compute Engine Instance Groups
  version: v1beta2
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/resourceviews/v1beta2/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: resourceviews
externalDocs:
  url: 'https://developers.google.com/compute/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/compute': View and manage your Google Compute Engine resources
      'https://www.googleapis.com/auth/compute.readonly': View your Google Compute Engine resources
      'https://www.googleapis.com/auth/ndev.cloudman': View and manage your Google Cloud Platform management resources and deployment status information
      'https://www.googleapis.com/auth/ndev.cloudman.readonly': View your Google Cloud Platform management resources and deployment status information
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/compute': View and manage your Google Compute Engine resources
      'https://www.googleapis.com/auth/compute.readonly': View your Google Compute Engine resources
      'https://www.googleapis.com/auth/ndev.cloudman': View and manage your Google Cloud Platform management resources and deployment status information
      'https://www.googleapis.com/auth/ndev.cloudman.readonly': View your Google Cloud Platform management resources and deployment status information
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: zoneOperations
  - name: zoneViews
paths:
  '/{project}/zones/{zone}/operations':
    get:
      description: Retrieves the list of operation resources contained within the specified zone.
      operationId: resourceviews.zoneOperations.list
      parameters:
        - description: Name of the project scoping this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the zone scoping this request.
          in: path
          name: zone
          required: true
          type: string
        - description: Optional. Filter expression for filtering listed resources.
          in: query
          name: filter
          type: string
        - default: 500
          description: Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OperationList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - zoneOperations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/zones/{zone}/operations/{operation}':
    get:
      description: Retrieves the specified zone-specific operation resource.
      operationId: resourceviews.zoneOperations.get
      parameters:
        - description: Name of the project scoping this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the zone scoping this request.
          in: path
          name: zone
          required: true
          type: string
        - description: Name of the operation resource to return.
          in: path
          name: operation
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - zoneOperations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/zones/{zone}/resourceViews':
    get:
      description: List resource views.
      operationId: resourceviews.zoneViews.list
      parameters:
        - description: The project name of the resource view.
          in: path
          name: project
          required: true
          type: string
        - description: The zone name of the resource view.
          in: path
          name: zone
          required: true
          type: string
        - default: 5000
          description: 'Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)'
          in: query
          maximum: 5000
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ZoneViewsList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - zoneViews
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Create a resource view.
      operationId: resourceviews.zoneViews.insert
      parameters:
        - description: The project name of the resource view.
          in: path
          name: project
          required: true
          type: string
        - description: The zone name of the resource view.
          in: path
          name: zone
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ResourceView'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - zoneViews
  '/{project}/zones/{zone}/resourceViews/{resourceView}':
    delete:
      description: Delete a resource view.
      operationId: resourceviews.zoneViews.delete
      parameters:
        - description: The project name of the resource view.
          in: path
          name: project
          required: true
          type: string
        - description: The zone name of the resource view.
          in: path
          name: zone
          required: true
          type: string
        - description: The name of the resource view.
          in: path
          name: resourceView
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - zoneViews
    get:
      description: Get the information of a zonal resource view.
      operationId: resourceviews.zoneViews.get
      parameters:
        - description: The project name of the resource view.
          in: path
          name: project
          required: true
          type: string
        - description: The zone name of the resource view.
          in: path
          name: zone
          required: true
          type: string
        - description: The name of the resource view.
          in: path
          name: resourceView
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ResourceView'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - zoneViews
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/zones/{zone}/resourceViews/{resourceView}/addResources':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Add resources to the view.
      operationId: resourceviews.zoneViews.addResources
      parameters:
        - description: The project name of the resource view.
          in: path
          name: project
          required: true
          type: string
        - description: The zone name of the resource view.
          in: path
          name: zone
          required: true
          type: string
        - description: The name of the resource view.
          in: path
          name: resourceView
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ZoneViewsAddResourcesRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - zoneViews
  '/{project}/zones/{zone}/resourceViews/{resourceView}/getService':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Get the service information of a resource view or a resource.
      operationId: resourceviews.zoneViews.getService
      parameters:
        - description: The project name of the resource view.
          in: path
          name: project
          required: true
          type: string
        - description: The zone name of the resource view.
          in: path
          name: zone
          required: true
          type: string
        - description: The name of the resource view.
          in: path
          name: resourceView
          required: true
          type: string
        - description: The name of the resource if user wants to get the service information of the resource.
          in: query
          name: resourceName
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ZoneViewsGetServiceResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - zoneViews
  '/{project}/zones/{zone}/resourceViews/{resourceView}/removeResources':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Remove resources from the view.
      operationId: resourceviews.zoneViews.removeResources
      parameters:
        - description: The project name of the resource view.
          in: path
          name: project
          required: true
          type: string
        - description: The zone name of the resource view.
          in: path
          name: zone
          required: true
          type: string
        - description: The name of the resource view.
          in: path
          name: resourceView
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ZoneViewsRemoveResourcesRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - zoneViews
  '/{project}/zones/{zone}/resourceViews/{resourceView}/resources':
    get:
      description: List the resources of the resource view.
      operationId: resourceviews.zoneViews.listResources
      parameters:
        - description: The project name of the resource view.
          in: path
          name: project
          required: true
          type: string
        - description: The zone name of the resource view.
          in: path
          name: zone
          required: true
          type: string
        - description: The name of the resource view.
          in: path
          name: resourceView
          required: true
          type: string
        - description: 'The requested format of the return value. It can be URL or URL_PORT. A JSON object will be included in the response based on the format. The default format is NONE, which results in no JSON in the response.'
          enum:
            - NONE
            - URL
            - URL_PORT
          in: query
          name: format
          type: string
        - default: ALL
          description: 'The state of the instance to list. By default, it lists all instances.'
          enum:
            - ALL
            - RUNNING
          in: query
          name: listState
          type: string
        - default: 5000
          description: 'Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)'
          in: query
          maximum: 5000
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.
          in: query
          name: pageToken
          type: string
        - description: 'The service name to return in the response. It is optional and if it is not set, all the service end points will be returned.'
          in: query
          name: serviceName
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ZoneViewsListResourcesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - zoneViews
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/zones/{zone}/resourceViews/{resourceView}/setService':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Update the service information of a resource view or a resource.
      operationId: resourceviews.zoneViews.setService
      parameters:
        - description: The project name of the resource view.
          in: path
          name: project
          required: true
          type: string
        - description: The zone name of the resource view.
          in: path
          name: zone
          required: true
          type: string
        - description: The name of the resource view.
          in: path
          name: resourceView
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ZoneViewsSetServiceRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - zoneViews
definitions:
  Label:
    description: The Label to be applied to the resource views.
    properties:
      key:
        description: Key of the label.
        type: string
      value:
        description: Value of the label.
        type: string
    type: object
  ListResourceResponseItem:
    description: The list response item that contains the resource and end points information.
    properties:
      endpoints:
        additionalProperties:
          description: The name of the service end point.
          items:
            format: int32
            type: integer
          type: array
        description: The list of service end points on the resource.
        type: object
      resource:
        description: The full URL of the resource.
        type: string
    type: object
  Operation:
    description: 'An operation resource, used to manage asynchronous API requests.'
    properties:
      clientOperationId:
        description: '[Output only] An optional identifier specified by the client when the mutation was initiated. Must be unique for all operation resources in the project.'
        type: string
      creationTimestamp:
        description: '[Output Only] The time that this operation was requested, in RFC3339 text format.'
        type: string
      endTime:
        description: '[Output Only] The time that this operation was completed, in RFC3339 text format.'
        type: string
      error:
        description: '[Output Only] If errors occurred during processing of this operation, this field will be populated.'
        properties:
          errors:
            description: '[Output Only] The array of errors encountered while processing this operation.'
            items:
              properties:
                code:
                  description: '[Output Only] The error type identifier for this error.'
                  type: string
                location:
                  description: '[Output Only] Indicates the field in the request which caused the error. This property is optional.'
                  type: string
                message:
                  description: '[Output Only] An optional, human-readable error message.'
                  type: string
              type: object
            type: array
        type: object
      httpErrorMessage:
        description: '[Output only] If operation fails, the HTTP error message returned.'
        type: string
      httpErrorStatusCode:
        description: '[Output only] If operation fails, the HTTP error status code returned.'
        format: int32
        type: integer
      id:
        description: '[Output Only] Unique identifier for the resource, generated by the server.'
        format: uint64
        type: string
      insertTime:
        description: '[Output Only] The time that this operation was requested, in RFC3339 text format.'
        type: string
      kind:
        default: 'resourceviews#operation'
        description: '[Output only] Type of the resource.'
        type: string
      name:
        description: '[Output Only] Name of the resource.'
        type: string
      operationType:
        description: '[Output only] Type of the operation. Operations include insert, update, and delete.'
        type: string
      progress:
        description: '[Output only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess at when the operation will be complete. This number should be monotonically increasing as the operation progresses.'
        format: int32
        type: integer
      region:
        description: '[Output Only] URL of the region where the operation resides. Only available when performing regional operations.'
        type: string
      selfLink:
        description: '[Output Only] Server-defined fully-qualified URL for this resource.'
        type: string
      startTime:
        description: '[Output Only] The time that this operation was started by the server, in RFC3339 text format.'
        type: string
      status:
        description: '[Output Only] Status of the operation.'
        type: string
      statusMessage:
        description: '[Output Only] An optional textual description of the current status of the operation.'
        type: string
      targetId:
        description: '[Output Only] Unique target ID which identifies a particular incarnation of the target.'
        format: uint64
        type: string
      targetLink:
        description: '[Output only] URL of the resource the operation is mutating.'
        type: string
      user:
        description: '[Output Only] User who requested the operation, for example: user@example.com.'
        type: string
      warnings:
        description: '[Output Only] If there are issues with this operation, a warning is returned.'
        items:
          properties:
            code:
              description: '[Output only] The warning type identifier for this warning.'
              type: string
            data:
              description: '[Output only] Metadata for this warning in key:value format.'
              items:
                properties:
                  key:
                    description: '[Output Only] Metadata key for this warning.'
                    type: string
                  value:
                    description: '[Output Only] Metadata value for this warning.'
                    type: string
                type: object
              type: array
            message:
              description: '[Output only] Optional human-readable details for this warning.'
              type: string
          type: object
        type: array
      zone:
        description: '[Output Only] URL of the zone where the operation resides. Only available when performing per-zone operations.'
        type: string
    type: object
  OperationList:
    properties:
      id:
        description: Unique identifier for the resource; defined by the server (output only).
        type: string
      items:
        description: The operation resources.
        items:
          $ref: '#/definitions/Operation'
        type: array
      kind:
        default: 'resourceviews#operationList'
        description: Type of resource.
        type: string
      nextPageToken:
        description: A token used to continue a truncated list request (output only).
        type: string
      selfLink:
        description: Server defined URL for this resource (output only).
        type: string
    type: object
  ResourceView:
    description: The resource view object.
    properties:
      creationTimestamp:
        description: The creation time of the resource view.
        type: string
      description:
        description: The detailed description of the resource view.
        type: string
      endpoints:
        description: Services endpoint information.
        items:
          $ref: '#/definitions/ServiceEndpoint'
        type: array
      fingerprint:
        description: The fingerprint of the service endpoint information.
        type: string
      id:
        description: '[Output Only] The ID of the resource view.'
        type: string
      kind:
        default: 'resourceviews#resourceView'
        description: Type of the resource.
        type: string
      labels:
        description: The labels for events.
        items:
          $ref: '#/definitions/Label'
        type: array
      name:
        description: The name of the resource view.
        type: string
      network:
        description: The URL of a Compute Engine network to which the resources in the view belong.
        type: string
      resources:
        description: A list of all resources in the resource view.
        items:
          type: string
        type: array
      selfLink:
        description: '[Output Only] A self-link to the resource view.'
        type: string
      size:
        description: The total number of resources in the resource view.
        format: uint32
        type: integer
    type: object
  ServiceEndpoint:
    description: The service endpoint that may be started in a VM.
    properties:
      name:
        description: The name of the service endpoint.
        type: string
      port:
        description: The port of the service endpoint.
        format: int32
        type: integer
    type: object
  ZoneViewsAddResourcesRequest:
    description: The request to add resources to the resource view.
    properties:
      resources:
        description: The list of resources to be added.
        items:
          type: string
        type: array
    type: object
  ZoneViewsGetServiceResponse:
    properties:
      endpoints:
        description: The service information.
        items:
          $ref: '#/definitions/ServiceEndpoint'
        type: array
      fingerprint:
        description: The fingerprint of the service information.
        type: string
    type: object
  ZoneViewsList:
    description: The response to a list request.
    properties:
      items:
        description: The result that contains all resource views that meet the criteria.
        items:
          $ref: '#/definitions/ResourceView'
        type: array
      kind:
        default: 'resourceviews#zoneViewsList'
        description: Type of resource.
        type: string
      nextPageToken:
        description: A token used for pagination.
        type: string
      selfLink:
        description: Server defined URL for this resource (output only).
        type: string
    type: object
  ZoneViewsListResourcesResponse:
    description: The response to a list resource request.
    properties:
      items:
        description: The formatted JSON that is requested by the user.
        items:
          $ref: '#/definitions/ListResourceResponseItem'
        type: array
      network:
        description: The URL of a Compute Engine network to which the resources in the view belong.
        type: string
      nextPageToken:
        description: A token used for pagination.
        type: string
    type: object
  ZoneViewsRemoveResourcesRequest:
    description: The request to remove resources from the resource view.
    properties:
      resources:
        description: The list of resources to be removed.
        items:
          type: string
        type: array
    type: object
  ZoneViewsSetServiceRequest:
    properties:
      endpoints:
        description: The service information to be updated.
        items:
          $ref: '#/definitions/ServiceEndpoint'
        type: array
      fingerprint:
        description: Fingerprint of the service information; a hash of the contents. This field is used for optimistic locking when updating the service entries.
        type: string
      resourceName:
        description: The name of the resource if user wants to update the service information of the resource.
        type: string
    type: object
