swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: RecoveryServicesBackupClient
  version: '2017-07-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2017-07-01/bms.json'
      version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: recoveryservicesbackup-bms
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account.
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersion:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  AzureRegion:
    description: Azure region to hit Api
    in: path
    name: azureRegion
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupName:
    description: The name of the resource group where the recovery services vault is present.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionId:
    description: The subscription Id.
    in: path
    name: subscriptionId
    required: true
    type: string
  VaultName:
    description: The name of the recovery services vault.
    in: path
    name: vaultName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  '/Subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupPreValidateProtection':
    post:
      operationId: ProtectionIntent_Validate
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/AzureRegion'
        - $ref: '#/parameters/SubscriptionId'
        - description: Enable backup validation request on Virtual Machine
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/PreValidateEnableBackupRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PreValidateEnableBackupResponse'
      summary: "It will validate followings\r\n1. Vault capacity\r\n2. VM is already protected\r\n3. Any VM related configuration passed in properties."
      tags:
        - ProtectionIntent
      x-ms-examples:
        Validate Enable Protection on Azure Vm:
          parameters:
            api-version: '2017-07-01'
            azureRegion: southeastasia
            parameters:
              properties: ''
              resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arunaupgrade/providers/Microsoft.Compute/VirtualMachines/upgrade1
              resourceType: VM
              vaultId: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myRG/providers/Microsoft.RecoveryServices/Vaults/myVault
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            '200':
              body:
                containerName: iaasvmcontainer;iaasvmcontainerv2;arunaupgrade;upgrade1
                errorCode: VirtualMachineAlreadyProtected
                errorMessage: Virtual machine with same name and same resource group is already protected. Please select `Disable' choice above for backup and go to backup item corresponding to this VM in the vault
                protectedItemName: vm;iaasvmcontainerv2;arunaupgrade;upgrade1
                recommendation: Please do not enable protection again.
                status: Failed
  '/Subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupStatus':
    post:
      operationId: BackupStatus_Get
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/AzureRegion'
        - $ref: '#/parameters/SubscriptionId'
        - description: Container Backup Status Request
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/BackupStatusRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BackupStatusResponse'
      summary: Get the container backup status
      tags:
        - BackupStatus
      x-ms-examples:
        Get Azure Virtual Machine Backup Status:
          parameters:
            api-version: '2017-07-01'
            azureRegion: southeastasia
            parameters:
              resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.Compute/VirtualMachines/testVm
              resourceType: VM
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            '200':
              body:
                containerName: iaasvmcontainer;iaasvmcontainerv2;testRg;testVm
                errorCode: Success
                errorMessage: ErrorMessage
                fabricName: Azure
                policyName: myPolicy
                protectedItemName: vm;iaasvmcontainerv2;testRg;testVm
                protectionStatus: Protected
                vaultId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.RecoveryServices/Vaults/testVault
  '/Subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupValidateFeatures':
    post:
      operationId: FeatureSupport_Validate
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/AzureRegion'
        - $ref: '#/parameters/SubscriptionId'
        - description: Feature support request object
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/FeatureSupportRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AzureVMResourceFeatureSupportResponse'
      summary: It will validate if given feature with resource properties is supported in service
      tags:
        - FeatureSupport
      x-ms-examples:
        Check Azure Vm Backup Feature Support:
          parameters:
            api-version: '2017-07-01'
            azureRegion: southeastasia
            parameters:
              featureType: AzureVMResourceBackup
              vmSize: Basic_A0
              vmSku: Premium
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            '200':
              body:
                supportStatus: DefaultOFF
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/backupProtectionIntent/{intentObjectName}':
    delete:
      description: Used to remove intent from an item
      operationId: ProtectionIntent_Delete
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric name associated with the intent.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Intent to be deleted.
          in: path
          name: intentObjectName
          required: true
          type: string
      responses:
        '204':
          description: NoContent
      tags:
        - ProtectionIntent
      x-ms-examples:
        Delete Protection intent from item:
          parameters:
            api-version: '2017-07-01'
            fabricName: Azure
            intentObjectName: 249D9B07-D2EF-4202-AA64-65F35418564E
            parameters: {}
            resourceGroupName: myRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: myVault
          responses:
            '204':
              body: {}
    get:
      description: "Provides the details of the protection intent up item. This is an asynchronous operation. To know the status of the operation,\r\ncall the GetItemOperationResult API."
      operationId: ProtectionIntent_Get
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric name associated with the backed up item.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Backed up item name whose details are to be fetched.
          in: path
          name: intentObjectName
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProtectionIntentResource'
      tags:
        - ProtectionIntent
      x-ms-examples:
        Get ProtectionIntent for an item:
          parameters:
            api-version: '2017-07-01'
            fabricName: Azure
            intentObjectName: 249D9B07-D2EF-4202-AA64-65F35418564E
            parameters: {}
            resourceGroupName: myRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: myVault
          responses:
            '200':
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupFabrics/Azure/backupProtectionIntent/249D9B07-D2EF-4202-AA64-65F35418564E
                name: 249D9B07-D2EF-4202-AA64-65F35418564E
                properties:
                  backupManagementType: AzureWorkload
                  friendlyName: 249D9B07-D2EF-4202-AA64-65F35418564E
                  itemId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupProtectionContainer/VMAppContainer;Compute;testVmName/backupProtectableItems/SQLInstance;MSSQLSERVER
                  policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupPolicies/myPolicy
                type: Microsoft.RecoveryServices/vaults/backupProtectionIntent
    put:
      description: Create Intent for Enabling backup of an item. This is a synchronous operation.
      operationId: ProtectionIntent_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Fabric name associated with the backup item.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Intent object name.
          in: path
          name: intentObjectName
          required: true
          type: string
        - description: resource backed up item
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ProtectionIntentResource'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProtectionIntentResource'
      tags:
        - ProtectionIntent
      x-ms-examples:
        Create or Update Azure Vm Protection Intent:
          parameters:
            api-version: '2017-07-01'
            fabricName: Azure
            intentObjectName: vm;iaasvmcontainerv2;chamsrgtest;chamscandel
            parameters:
              properties:
                friendlyName: oneboxTestVmIntent
                policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupPolicies/myPolicy
                protectionIntentItemType: AzureResourceItem
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/chamsrgtest/providers/Microsoft.Compute/virtualMachines/chamscandel
            resourceGroupName: myRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: myVault
          responses:
            '200':
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupFabrics/Azure/backupProtectionIntent/vm;iaasvmcontainerv2;chamsrgtest;chamscandel
                name: vm;iaasvmcontainerv2;chamsrgtest;chamscandel
                properties:
                  backupManagementType: AzureIaasVM
                  friendlyName: ''
                  policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupPolicies/myPolicy
                  protectionState: Protected
                type: Microsoft.RecoveryServices/vaults/backupProtectionIntent
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs':
    get:
      description: Provides a pageable list of jobs.
      operationId: BackupJobs_List
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
        - description: skipToken Filter.
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/JobResourceList'
      tags:
        - BackupJobs
      x-ms-examples:
        List All Jobs:
          parameters:
            api-version: '2017-07-01'
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '200':
              body:
                value:
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                    name: 00000000-0000-0000-0000-000000000000
                    properties:
                      activityId: 00000000-0000-0000-0000-000000000000
                      backupManagementType: AzureIaasVM
                      duration: PT12.4272909S
                      entityFriendlyName: testvm
                      jobType: AzureIaaSVMJob
                      operation: Backup
                      startTime: '2017-08-03T05:31:07.014604Z'
                      status: InProgress
                      virtualMachineVersion: Compute
                    type: Microsoft.RecoveryServices/vaults/backupJobs
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                    name: 00000000-0000-0000-0000-000000000000
                    properties:
                      activityId: 00000000-0000-0000-0000-000000000000
                      backupManagementType: AzureIaasVM
                      duration: PT31.3066291S
                      endTime: '2017-08-03T05:31:03.7553376Z'
                      entityFriendlyName: testvm
                      jobType: AzureIaaSVMJob
                      operation: ConfigureBackup
                      startTime: '2017-08-03T05:30:32.4487085Z'
                      status: Completed
                      virtualMachineVersion: Compute
                    type: Microsoft.RecoveryServices/vaults/backupJobs
        List Jobs With Filters:
          parameters:
            $filter: 'startTime eq ''2016-01-01 00:00:00 AM'' and endTime eq ''2017-11-29 00:00:00 AM'' and operation eq ''Backup'' and backupManagementType eq ''AzureIaasVM'' and status eq ''InProgress'''
            api-version: '2017-07-01'
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '200':
              body:
                value:
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                    name: 00000000-0000-0000-0000-000000000000
                    properties:
                      activityId: 00000000-0000-0000-0000-000000000000
                      backupManagementType: AzureIaasVM
                      duration: PT12.4272909S
                      entityFriendlyName: testvm
                      jobType: AzureIaaSVMJob
                      operation: Backup
                      startTime: '2017-08-03T05:31:07.014604Z'
                      status: InProgress
                      virtualMachineVersion: Compute
                    type: Microsoft.RecoveryServices/vaults/backupJobs
        List Jobs With Time Filter:
          parameters:
            $filter: 'startTime eq ''2016-01-01 00:00:00 AM'' and endTime eq ''2017-11-29 00:00:00 AM'''
            api-version: '2017-07-01'
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '200':
              body:
                nextLink: 'https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs?api-version=2017-07-01&%24filter=startTime+eq+%272016-01-01+00%3a00%3a00+AM%27+and+endTime+eq+%272017-11-29+00%3a00%3a00+AM%27&%24skiptoken=%3c%3fxml+version%3d%221.0%22+encoding%3d%22utf-16%22%3f%3e%0d%0a%3cContinuationToken%3e%0d%0a++%3cContinuationToken%3e%0d%0a++++%3cVersion%3e2.0%3c%2fVersion%3e%0d%0a++++%3cType%3eTable%3c%2fType%3e%0d%0a++++%3cNextPartitionKey%3e1!28!NzI5MTk0OTM1MDkwNjEwODQzMA--%3c%2fNextPartitionKey%3e%0d%0a++++%3cNextRowKey%3e1!108!am9ic3N0YXJ0dGltZWluZGV4XzBfMjUxODkxNDYzNTI2NjE5Nzg5OF8wXzYwOWZkM2JmLTU4MzctNDFkYi1iMjExLTY1MzliNDNlZjM1OA--%3c%2fNextRowKey%3e%0d%0a++++%3cTargetLocation%3ePrimary%3c%2fTargetLocation%3e%0d%0a++%3c%2fContinuationToken%3e%0d%0a%3c%2fContinuationToken%3e'
                value:
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                    name: 00000000-0000-0000-0000-000000000000
                    properties:
                      activityId: 00000000-0000-0000-0000-000000000000
                      backupManagementType: AzureIaasVM
                      duration: PT12.4272909S
                      entityFriendlyName: testvm
                      jobType: AzureIaaSVMJob
                      operation: Backup
                      startTime: '2017-08-03T05:31:07.014604Z'
                      status: InProgress
                      virtualMachineVersion: Compute
                    type: Microsoft.RecoveryServices/vaults/backupJobs
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                    name: 00000000-0000-0000-0000-000000000000
                    properties:
                      activityId: 00000000-0000-0000-0000-000000000000
                      backupManagementType: AzureIaasVM
                      duration: PT31.3066291S
                      endTime: '2017-08-03T05:31:03.7553376Z'
                      entityFriendlyName: testvm
                      jobType: AzureIaaSVMJob
                      operation: ConfigureBackup
                      startTime: '2017-08-03T05:30:32.4487085Z'
                      status: Completed
                      virtualMachineVersion: Compute
                    type: Microsoft.RecoveryServices/vaults/backupJobs
      x-ms-odata: '#/definitions/JobQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/operationResults/{operationId}':
    get:
      description: "Gets the operation result of operation triggered by Export Jobs API. If the operation is successful, then it also\r\ncontains URL of a Blob and a SAS key to access the same. The blob contains exported jobs in JSON serialized format."
      operationId: ExportJobsOperationResults_Get
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: OperationID which represents the export job.
          in: path
          name: operationId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OperationResultInfoBaseResource'
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/OperationResultInfoBaseResource'
      tags:
        - ExportJobsOperationResults
      x-ms-examples:
        Export Jobs Operation Results:
          parameters:
            api-version: '2017-07-01'
            operationId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '200':
              body:
                headers: {}
                operation:
                  blobSasKey: '?sv=2014-02-14&sr=b&sig=<sas_signature>&st=2017-11-29T07%3A53%3A34Z&se=2017-11-29T08%3A03%3A34Z&sp=r'
                  blobUrl: 'https://azureblob.blob.core.windows.net/reportcontainer/exportjobsreportc00000000-0000-0000-0000-000000000000'
                  objectType: ExportJobsOperationResultInfo
              headers: {}
            '202':
              body:
                headers:
                  Location:
                    - 'https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01'
                  Retry-After:
                    - '60'
                operation:
                  objectType: ExportJobsOperationResultInfo
              headers:
                Location: 'https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01'
                Retry-After: 60
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}':
    get:
      description: Gets extended information associated with the job.
      operationId: JobDetails_Get
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: Name of the job whose details are to be fetched.
          in: path
          name: jobName
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/JobResource'
      tags:
        - JobDetails
      x-ms-examples:
        Get Job Details:
          parameters:
            api-version: '2017-07-01'
            jobName: 00000000-0000-0000-0000-000000000000
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '200':
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                name: 00000000-0000-0000-0000-000000000000
                properties:
                  activityId: 00000000-0000-0000-0000-000000000000
                  backupManagementType: AzureIaasVM
                  duration: PT9.8782791S
                  entityFriendlyName: testvm
                  extendedInfo:
                    propertyBag:
                      VM Name: testvm
                    tasksList:
                      - duration: PT0S
                        status: InProgress
                        taskId: Take Snapshot
                      - duration: PT0S
                        status: NotStarted
                        taskId: Transfer data to vault
                  jobType: AzureIaaSVMJob
                  operation: Backup
                  startTime: '2017-08-03T05:31:07.014604Z'
                  status: InProgress
                  virtualMachineVersion: Compute
                type: Microsoft.RecoveryServices/vaults/backupJobs
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobsExport':
    post:
      description: Triggers export of jobs specified by filters and returns an OperationID to track.
      operationId: Jobs_Export
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '202':
          description: Accepted
      tags:
        - Jobs
      x-ms-examples:
        Export Jobs:
          parameters:
            api-version: '2017-07-01'
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '202':
              body: null
              headers:
                Location: 'https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01'
                Retry-After: 60
      x-ms-odata: '#/definitions/JobQueryObject'
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies':
    get:
      description: "Lists of backup policies associated with Recovery Services Vault. API provides pagination parameters to fetch\r\nscoped results."
      operationId: BackupPolicies_List
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProtectionPolicyResourceList'
      tags:
        - BackupPolicies
      x-ms-examples:
        List protection policies with backupManagementType filter as AzureIaasVm:
          parameters:
            $filter: backupManagementType eq 'AzureIaasVM'
            api-version: '2017-07-01'
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '200':
              body:
                value:
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/DefaultPolicy
                    name: DefaultPolicy
                    properties:
                      backupManagementType: AzureIaasVM
                      protectedItemsCount: 0
                      retentionPolicy:
                        dailySchedule:
                          retentionDuration:
                            count: 30
                            durationType: Days
                          retentionTimes:
                            - '2017-12-05T19:00:00Z'
                        retentionPolicyType: LongTermRetentionPolicy
                      schedulePolicy:
                        schedulePolicyType: SimpleSchedulePolicy
                        scheduleRunFrequency: Daily
                        scheduleRunTimes:
                          - '2017-12-05T19:00:00Z'
                        scheduleWeeklyFrequency: 0
                    type: Microsoft.RecoveryServices/vaults/backupPolicies
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                    name: testPolicy1
                    properties:
                      backupManagementType: AzureIaasVM
                      protectedItemsCount: 0
                      retentionPolicy:
                        dailySchedule:
                          retentionDuration:
                            count: 1
                            durationType: Days
                          retentionTimes:
                            - '2018-01-24T02:00:00Z'
                        retentionPolicyType: LongTermRetentionPolicy
                      schedulePolicy:
                        schedulePolicyType: SimpleSchedulePolicy
                        scheduleRunFrequency: Daily
                        scheduleRunTimes:
                          - '2018-01-24T02:00:00Z'
                        scheduleWeeklyFrequency: 0
                      timeZone: Pacific Standard Time
                    type: Microsoft.RecoveryServices/vaults/backupPolicies
        List protection policies with backupManagementType filter as AzureWorkload:
          parameters:
            $filter: backupManagementType eq 'AzureWorkload'
            api-version: '2017-07-01'
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '200':
              body:
                value:
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/HourlyLogBackup
                    name: HourlyLogBackup
                    properties:
                      backupManagementType: AzureWorkload
                      protectedItemsCount: 0
                      settings:
                        issqlcompression: false
                        timeZone: UTC
                      subProtectionPolicy:
                        - policyType: Full
                          retentionPolicy:
                            dailySchedule:
                              retentionDuration:
                                count: 30
                                durationType: Days
                              retentionTimes:
                                - '2017-12-05T19:00:00Z'
                            retentionPolicyType: LongTermRetentionPolicy
                          schedulePolicy:
                            schedulePolicyType: SimpleSchedulePolicy
                            scheduleRunFrequency: Daily
                            scheduleRunTimes:
                              - '2017-12-05T19:00:00Z'
                            scheduleWeeklyFrequency: 0
                        - policyType: Log
                          retentionPolicy:
                            retentionDuration:
                              count: 30
                              durationType: Days
                            retentionPolicyType: SimpleRetentionPolicy
                          schedulePolicy:
                            scheduleFrequencyInMins: 60
                            schedulePolicyType: LogSchedulePolicy
                      workLoadType: SQLDataBase
                    type: Microsoft.RecoveryServices/vaults/backupPolicies
      x-ms-odata: '#/definitions/ProtectionPolicyQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectedItems':
    get:
      description: Provides a pageable list of all items that are backed up within a vault.
      operationId: BackupProtectedItems_List
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
        - description: skipToken Filter.
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProtectedItemResourceList'
      tags:
        - BackupProtectedItems
      x-ms-examples:
        List protected items with backupManagementType filter as AzureIaasVm:
          parameters:
            $filter: backupManagementType eq 'AzureIaasVM' and itemType eq 'VM'
            api-version: '2017-07-01'
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            '200':
              body:
                value:
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/protectionContainers/IaasVMContainer;iaasvmcontainer;iaasvm-rg;iaasvm-1/protectedItems/VM;iaasvmcontainer;iaasvm-rg;iaasvm-1
                    name: VM;iaasvmcontainer;iaasvm-rg;iaasvm-1
                    properties:
                      backupManagementType: AzureIaasVM
                      containerName: iaasvmcontainer;iaasvm-rg;iaasvm-1
                      friendlyName: iaasvm-1
                      healthStatus: Passed
                      lastBackupStatus: Completed
                      lastBackupTime: '2018-01-22T12:25:32.048723Z'
                      lastRecoveryPoint: '2017-11-22T12:25:32.048723Z'
                      policyId: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                      protectedItemDataId: '636482643132986882'
                      protectedItemType: Microsoft.ClassicCompute/virtualMachines
                      protectionState: Protected
                      protectionStatus: Healthy
                      sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/providers/Microsoft.ClassicCompute/virtualMachines/iaasvm-1
                      virtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/providers/Microsoft.ClassicCompute/virtualMachines/iaasvm-1
                      workloadType: VM
                    type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems
      x-ms-odata: '#/definitions/ProtectedItemQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectionIntents':
    get:
      description: Provides a pageable list of all intents that are present within a vault.
      operationId: BackupProtectionIntent_List
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
        - description: skipToken Filter.
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProtectionIntentResourceList'
      tags:
        - BackupProtectionIntent
      x-ms-examples:
        List protection intent with backupManagementType filter:
          parameters:
            api-version: '2017-07-01'
            parameters: {}
            resourceGroupName: myRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: myVault
          responses:
            '200':
              body:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupFabrics/Azure/backupProtectionIntent/249D9B07-D2EF-4202-AA64-65F35418564E
                  name: 249D9B07-D2EF-4202-AA64-65F35418564E
                  properties:
                    backupManagementType: AzureWorkload
                    friendlyName: 249D9B07-D2EF-4202-AA64-65F35418564E
                    itemId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupProtectionContainer/VMAppContainer;Compute;testVmName/backupProtectableItems/SQLInstance;MSSQLSERVER
                    policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupPolicies/myPolicy
                  type: Microsoft.RecoveryServices/vaults/backupProtectionIntent
      x-ms-odata: '#/definitions/ProtectionIntentQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupUsageSummaries':
    get:
      description: Fetches the backup management usage summaries of the vault.
      operationId: BackupUsageSummaries_List
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
        - description: skipToken Filter.
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BackupManagementUsageList'
      tags:
        - BackupUsageSummaries
      x-ms-examples:
        Get Protected Containers Usages Summary:
          parameters:
            $filter: type eq 'BackupProtectionContainerCountSummary'
            api-version: '2017-07-01'
            resourceGroupName: testRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            '200':
              body:
                value:
                  - currentValue: 2
                    limit: -1
                    name:
                      localizedValue: Azure Backup Server
                      value: AzureBackupServer
                    unit: Count
                  - currentValue: 3
                    limit: -1
                    name:
                      localizedValue: Azure Backup Agent
                      value: MAB
                    unit: Count
                  - currentValue: 1
                    limit: -1
                    name:
                      localizedValue: SQL in Azure VM
                      value: AzureWorkload
                    unit: Count
        Get Protected Items Usages Summary:
          parameters:
            $filter: type eq 'BackupProtectedItemCountSummary'
            api-version: '2017-07-01'
            resourceGroupName: testRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            '200':
              body:
                value:
                  - currentValue: 7
                    limit: -1
                    name:
                      localizedValue: Azure Virtual Machine
                      value: AzureIaasVM
                    unit: Count
                  - currentValue: 3
                    limit: -1
                    name:
                      localizedValue: Azure Backup Agent
                      value: MAB
                    unit: Count
                  - currentValue: 1
                    limit: -1
                    name:
                      localizedValue: Azure Backup Server
                      value: AzureBackupServer
                    unit: Count
                  - currentValue: 2
                    limit: -1
                    name:
                      localizedValue: Azure Storage (Azure Files)
                      value: AzureStorage
                    unit: Count
                  - currentValue: 2
                    limit: -1
                    name:
                      localizedValue: SQL in Azure VM
                      value: AzureWorkload
                    unit: Count
      x-ms-odata: '#/definitions/BMSBackupSummariesQueryObject'
      x-ms-pageable: {}
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupValidateOperation':
    post:
      description: Validate operation for specified backed up item. This is a synchronous operation.
      operationId: Operation_Validate
      parameters:
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/SubscriptionId'
        - description: resource validate operation request
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ValidateOperationRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ValidateOperationsResponse'
      tags:
        - Operation
      x-ms-examples:
        Validate Operation:
          parameters:
            api-version: '2017-07-01'
            containerName: IaasVMContainer;iaasvmcontainerv2;testRG;testvmName
            fabricName: Azure
            parameters:
              objectType: ValidateIaasVMRestoreOperationRequest
              restoreRequest:
                createNewCloudService: true
                encryptionDetails:
                  encryptionEnabled: false
                objectType: IaasVMRestoreRequest
                originalStorageAccountOption: false
                recoveryPointId: '348916168024334'
                recoveryType: RestoreDisks
                region: southeastasia
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                storageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testingRg/providers/Microsoft.Storage/storageAccounts/testAccount
            protectedItemName: VM;iaasvmcontainerv2;testRG;testvmName
            recoveryPointId: '348916168024334'
            resourceGroupName: testRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            '200':
              body:
                validateOperationResponse:
                  validationResults:
                    - code: UserErrorCoreCountSubscriptionQuotaReached
                      message: Core Count subscription quota has been reached.
                      recommendations:
                        - Contact Azure support to increase the limits.
              headers: {}
definitions:
  AzureBackupGoalFeatureSupportRequest:
    allOf:
      - $ref: '#/definitions/FeatureSupportRequest'
    description: Azure backup goal feature specific request.
    type: object
    x-ms-discriminator-value: AzureBackupGoals
  AzureFileShareProtectionPolicy:
    allOf:
      - $ref: '#/definitions/ProtectionPolicy'
    description: AzureStorage backup policy.
    properties:
      retentionPolicy:
        $ref: '#/definitions/RetentionPolicy'
        description: Retention policy with the details on backup copy retention ranges.
      schedulePolicy:
        $ref: '#/definitions/SchedulePolicy'
        description: Backup schedule specified as part of backup policy.
      timeZone:
        description: 'TimeZone optional input as string. For example: TimeZone = "Pacific Standard Time".'
        type: string
      workLoadType:
        description: Type of workload for the backup management
        enum:
          - Invalid
          - VM
          - FileFolder
          - AzureSqlDb
          - SQLDB
          - Exchange
          - Sharepoint
          - VMwareVM
          - SystemState
          - Client
          - GenericDataSource
          - SQLDataBase
          - AzureFileShare
          - SAPHanaDatabase
          - SAPAseDatabase
        type: string
        x-ms-enum:
          modelAsString: true
          name: WorkloadType
    type: object
    x-ms-discriminator-value: AzureStorage
  AzureFileShareRestoreRequest:
    allOf:
      - $ref: '#/definitions/RestoreRequest'
    description: AzureFileShare Restore Request
    properties:
      copyOptions:
        description: Options to resolve copy conflicts.
        enum:
          - Invalid
          - CreateCopy
          - Skip
          - Overwrite
          - FailOnConflict
        type: string
        x-ms-enum:
          modelAsString: true
          name: CopyOptions
      recoveryType:
        description: Type of this recovery.
        enum:
          - Invalid
          - OriginalLocation
          - AlternateLocation
          - RestoreDisks
        type: string
        x-ms-enum:
          modelAsString: true
          name: RecoveryType
      restoreFileSpecs:
        description: List of Source Files/Folders(which need to recover) and TargetFolderPath details
        items:
          $ref: '#/definitions/RestoreFileSpecs'
        type: array
      restoreRequestType:
        description: Restore Type (FullShareRestore or ItemLevelRestore)
        enum:
          - Invalid
          - FullShareRestore
          - ItemLevelRestore
        type: string
        x-ms-enum:
          modelAsString: true
          name: RestoreRequestType
      sourceResourceId:
        description: Source storage account ARM Id
        type: string
      targetDetails:
        $ref: '#/definitions/TargetAFSRestoreInfo'
        description: Target File Share Details
    type: object
    x-ms-discriminator-value: AzureFileShareRestoreRequest
  AzureFileshareProtectedItem:
    allOf:
      - $ref: '#/definitions/ProtectedItem'
    description: Azure File Share workload-specific backup item.
    properties:
      extendedInfo:
        $ref: '#/definitions/AzureFileshareProtectedItemExtendedInfo'
        description: Additional information with this backup item.
      friendlyName:
        description: Friendly name of the fileshare represented by this backup item.
        type: string
      healthStatus:
        description: backups running status for this backup item.
        enum:
          - Passed
          - ActionRequired
          - ActionSuggested
          - Invalid
        type: string
        x-ms-enum:
          modelAsString: true
          name: HealthStatus
      lastBackupStatus:
        description: 'Last backup operation status. Possible values: Healthy, Unhealthy.'
        type: string
      lastBackupTime:
        description: Timestamp of the last backup operation on this backup item.
        format: date-time
        type: string
      protectionState:
        description: Backup state of this backup item.
        enum:
          - Invalid
          - IRPending
          - Protected
          - ProtectionError
          - ProtectionStopped
          - ProtectionPaused
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProtectionState
      protectionStatus:
        description: Backup status of this backup item.
        type: string
    type: object
    x-ms-discriminator-value: AzureFileShareProtectedItem
  AzureFileshareProtectedItemExtendedInfo:
    description: Additional information about Azure File Share backup item.
    properties:
      oldestRecoveryPoint:
        description: The oldest backup copy available for this item in the service.
        format: date-time
        type: string
      policyState:
        description: Indicates consistency of policy object and policy applied to this backup item.
        type: string
      recoveryPointCount:
        description: Number of available backup copies associated with this backup item.
        format: int32
        type: integer
    type: object
  AzureIaaSClassicComputeVMProtectedItem:
    allOf:
      - $ref: '#/definitions/AzureIaaSVMProtectedItem'
    description: IaaS VM workload-specific backup item representing the Classic Compute VM.
    type: object
    x-ms-discriminator-value: Microsoft.ClassicCompute/virtualMachines
  AzureIaaSComputeVMProtectedItem:
    allOf:
      - $ref: '#/definitions/AzureIaaSVMProtectedItem'
    description: IaaS VM workload-specific backup item representing the Azure Resource Manager VM.
    type: object
    x-ms-discriminator-value: Microsoft.Compute/virtualMachines
  AzureIaaSVMErrorInfo:
    description: Azure IaaS VM workload-specific error information.
    properties:
      errorCode:
        description: Error code.
        format: int32
        type: integer
      errorString:
        description: Localized error string.
        type: string
      errorTitle:
        description: 'Title: Typically, the entity that the error pertains to.'
        type: string
      recommendations:
        description: List of localized recommendations for above error code.
        items:
          type: string
        type: array
    type: object
  AzureIaaSVMHealthDetails:
    description: Azure IaaS VM workload-specific Health Details.
    properties:
      code:
        description: Health Code
        format: int32
        type: integer
      message:
        description: Health Message
        type: string
      recommendations:
        description: Health Recommended Actions
        items:
          type: string
        type: array
      title:
        description: Health Title
        type: string
    type: object
  AzureIaaSVMJob:
    allOf:
      - $ref: '#/definitions/Job'
    description: Azure IaaS VM workload-specific job object.
    properties:
      actionsInfo:
        description: Gets or sets the state/actions applicable on this job like cancel/retry.
        items:
          enum:
            - Invalid
            - Cancellable
            - Retriable
          type: string
          x-ms-enum:
            modelAsString: false
            name: JobSupportedAction
        type: array
      duration:
        description: Time elapsed during the execution of this job.
        format: duration
        type: string
      errorDetails:
        description: Error details on execution of this job.
        items:
          $ref: '#/definitions/AzureIaaSVMErrorInfo'
        type: array
      extendedInfo:
        $ref: '#/definitions/AzureIaaSVMJobExtendedInfo'
        description: Additional information for this job.
      virtualMachineVersion:
        description: Specifies whether the backup item is a Classic or an Azure Resource Manager VM.
        type: string
    type: object
    x-ms-discriminator-value: AzureIaaSVMJob
  AzureIaaSVMJobExtendedInfo:
    description: Azure IaaS VM workload-specific additional information for job.
    properties:
      dynamicErrorMessage:
        description: Non localized error message on job execution.
        type: string
      estimatedRemainingDuration:
        description: Time remaining for execution of this job.
        type: string
      internalPropertyBag:
        additionalProperties:
          type: string
        description: Job internal properties.
        type: object
      progressPercentage:
        description: Indicates progress of the job. Null if it has not started or completed.
        format: double
        type: number
      propertyBag:
        additionalProperties:
          type: string
        description: Job properties.
        type: object
      tasksList:
        description: List of tasks associated with this job.
        items:
          $ref: '#/definitions/AzureIaaSVMJobTaskDetails'
        type: array
    type: object
  AzureIaaSVMJobTaskDetails:
    description: Azure IaaS VM workload-specific job task details.
    properties:
      duration:
        description: Time elapsed for task.
        format: duration
        type: string
      endTime:
        description: The end time.
        format: date-time
        type: string
      instanceId:
        description: The instanceId.
        type: string
      progressPercentage:
        description: Progress of the task.
        format: double
        type: number
      startTime:
        description: The start time.
        format: date-time
        type: string
      status:
        description: The status.
        type: string
      taskExecutionDetails:
        description: "Details about execution of the task.\r\neg: number of bytes transferred etc"
        type: string
      taskId:
        description: The task display name.
        type: string
    type: object
  AzureIaaSVMProtectedItem:
    allOf:
      - $ref: '#/definitions/ProtectedItem'
    description: IaaS VM workload-specific backup item.
    properties:
      extendedInfo:
        $ref: '#/definitions/AzureIaaSVMProtectedItemExtendedInfo'
        description: Additional information for this backup item.
      friendlyName:
        description: Friendly name of the VM represented by this backup item.
        type: string
      healthDetails:
        description: Health details on this backup item.
        items:
          $ref: '#/definitions/AzureIaaSVMHealthDetails'
        type: array
      healthStatus:
        description: Health status of protected item
        enum:
          - Passed
          - ActionRequired
          - ActionSuggested
          - Invalid
        type: string
        x-ms-enum:
          modelAsString: true
          name: HealthStatus
      lastBackupStatus:
        description: Last backup operation status.
        type: string
      lastBackupTime:
        description: Timestamp of the last backup operation on this backup item.
        format: date-time
        type: string
      protectedItemDataId:
        description: Data ID of the protected item.
        type: string
      protectionState:
        description: Backup state of this backup item.
        enum:
          - Invalid
          - IRPending
          - Protected
          - ProtectionError
          - ProtectionStopped
          - ProtectionPaused
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProtectionState
      protectionStatus:
        description: Backup status of this backup item.
        type: string
      virtualMachineId:
        description: Fully qualified ARM ID of the virtual machine represented by this item.
        type: string
    type: object
    x-ms-discriminator-value: AzureIaaSVMProtectedItem
  AzureIaaSVMProtectedItemExtendedInfo:
    description: Additional information on Azure IaaS VM specific backup item.
    properties:
      oldestRecoveryPoint:
        description: The oldest backup copy available for this backup item.
        format: date-time
        type: string
      policyInconsistent:
        description: Specifies if backup policy associated with the backup item is inconsistent.
        type: boolean
      recoveryPointCount:
        description: Number of backup copies available for this backup item.
        format: int32
        type: integer
    type: object
  AzureIaaSVMProtectionPolicy:
    allOf:
      - $ref: '#/definitions/ProtectionPolicy'
    description: IaaS VM workload-specific backup policy.
    properties:
      instantRpRetentionRangeInDays:
        description: Instant RP retention policy range in days
        format: int32
        type: integer
      retentionPolicy:
        $ref: '#/definitions/RetentionPolicy'
        description: Retention policy with the details on backup copy retention ranges.
      schedulePolicy:
        $ref: '#/definitions/SchedulePolicy'
        description: Backup schedule specified as part of backup policy.
      timeZone:
        description: 'TimeZone optional input as string. For example: TimeZone = "Pacific Standard Time".'
        type: string
    type: object
    x-ms-discriminator-value: AzureIaasVM
  AzureRecoveryServiceVaultProtectionIntent:
    allOf:
      - $ref: '#/definitions/ProtectionIntent'
    description: Azure Recovery Services Vault specific protection intent item.
    type: object
    x-ms-discriminator-value: RecoveryServiceVaultItem
  AzureResourceProtectionIntent:
    allOf:
      - $ref: '#/definitions/ProtectionIntent'
    description: IaaS VM specific backup protection intent item.
    properties:
      friendlyName:
        description: Friendly name of the VM represented by this backup item.
        type: string
    type: object
    x-ms-discriminator-value: AzureResourceItem
  AzureSqlProtectedItem:
    allOf:
      - $ref: '#/definitions/ProtectedItem'
    description: Azure SQL workload-specific backup item.
    properties:
      extendedInfo:
        $ref: '#/definitions/AzureSqlProtectedItemExtendedInfo'
        description: Additional information for this backup item.
      protectedItemDataId:
        description: Internal ID of a backup item. Used by Azure SQL Backup engine to contact Recovery Services.
        type: string
      protectionState:
        description: Backup state of the backed up item.
        enum:
          - Invalid
          - IRPending
          - Protected
          - ProtectionError
          - ProtectionStopped
          - ProtectionPaused
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProtectedItemState
    type: object
    x-ms-discriminator-value: Microsoft.Sql/servers/databases
  AzureSqlProtectedItemExtendedInfo:
    description: Additional information on Azure Sql specific protected item.
    properties:
      oldestRecoveryPoint:
        description: The oldest backup copy available for this item in the service.
        format: date-time
        type: string
      policyState:
        description: State of the backup policy associated with this backup item.
        type: string
      recoveryPointCount:
        description: Number of available backup copies associated with this backup item.
        format: int32
        type: integer
    type: object
  AzureSqlProtectionPolicy:
    allOf:
      - $ref: '#/definitions/ProtectionPolicy'
    description: Azure SQL workload-specific backup policy.
    properties:
      retentionPolicy:
        $ref: '#/definitions/RetentionPolicy'
        description: Retention policy details.
    type: object
    x-ms-discriminator-value: AzureSql
  AzureStorageErrorInfo:
    description: Azure storage specific error information
    properties:
      errorCode:
        description: Error code.
        format: int32
        type: integer
      errorString:
        description: Localized error string.
        type: string
      recommendations:
        description: List of localized recommendations for above error code.
        items:
          type: string
        type: array
    type: object
  AzureStorageJob:
    allOf:
      - $ref: '#/definitions/Job'
    description: Azure storage specific job.
    properties:
      actionsInfo:
        description: Gets or sets the state/actions applicable on this job like cancel/retry.
        items:
          enum:
            - Invalid
            - Cancellable
            - Retriable
          type: string
          x-ms-enum:
            modelAsString: false
            name: JobSupportedAction
        type: array
      duration:
        description: Time elapsed during the execution of this job.
        format: duration
        type: string
      errorDetails:
        description: Error details on execution of this job.
        items:
          $ref: '#/definitions/AzureStorageErrorInfo'
        type: array
      extendedInfo:
        $ref: '#/definitions/AzureStorageJobExtendedInfo'
        description: Additional information about the job.
      storageAccountName:
        description: Specifies friendly name of the storage account.
        type: string
      storageAccountVersion:
        description: Specifies whether the Storage account is a Classic or an Azure Resource Manager Storage account.
        type: string
    type: object
    x-ms-discriminator-value: AzureStorageJob
  AzureStorageJobExtendedInfo:
    description: Azure Storage workload-specific additional information for job.
    properties:
      dynamicErrorMessage:
        description: Non localized error message on job execution.
        type: string
      propertyBag:
        additionalProperties:
          type: string
        description: Job properties.
        type: object
      tasksList:
        description: List of tasks for this job
        items:
          $ref: '#/definitions/AzureStorageJobTaskDetails'
        type: array
    type: object
  AzureStorageJobTaskDetails:
    description: Azure storage workload specific job task details.
    properties:
      status:
        description: The status.
        type: string
      taskId:
        description: The task display name.
        type: string
    type: object
  AzureVMResourceFeatureSupportRequest:
    allOf:
      - $ref: '#/definitions/FeatureSupportRequest'
    description: AzureResource(IaaS VM) Specific feature support request
    properties:
      vmSize:
        description: 'Size of the resource: VM size(A/D series etc) in case of IaasVM'
        type: string
      vmSku:
        description: SKUs (Premium/Managed etc) in case of IaasVM
        type: string
    type: object
    x-ms-discriminator-value: AzureVMResourceBackup
  AzureVMResourceFeatureSupportResponse:
    description: Response for feature support requests for Azure IaasVm
    properties:
      supportStatus:
        description: Support status of feature
        enum:
          - Invalid
          - Supported
          - DefaultOFF
          - DefaultON
          - NotSupported
        type: string
        x-ms-enum:
          modelAsString: true
          name: SupportStatus
    type: object
  AzureVmWorkloadProtectedItem:
    allOf:
      - $ref: '#/definitions/ProtectedItem'
    description: Azure VM workload-specific protected item.
    properties:
      extendedInfo:
        $ref: '#/definitions/AzureVmWorkloadProtectedItemExtendedInfo'
        description: Additional information for this backup item.
      friendlyName:
        description: Friendly name of the DB represented by this backup item.
        type: string
      lastBackupErrorDetail:
        $ref: '#/definitions/ErrorDetail'
        description: Error details in last backup
      lastBackupStatus:
        description: 'Last backup operation status. Possible values: Healthy, Unhealthy.'
        enum:
          - Invalid
          - Healthy
          - Unhealthy
          - IRPending
        type: string
        x-ms-enum:
          modelAsString: true
          name: LastBackupStatus
      lastBackupTime:
        description: Timestamp of the last backup operation on this backup item.
        format: date-time
        type: string
      parentName:
        description: Parent name of the DB such as Instance or Availability Group.
        type: string
      parentType:
        description: 'Parent type of protected item, example: for a DB, standalone server or distributed'
        type: string
      protectedItemDataSourceId:
        description: Data ID of the protected item.
        type: string
      protectedItemHealthStatus:
        description: 'Health status of the backup item, evaluated based on last heartbeat received'
        enum:
          - Invalid
          - Healthy
          - Unhealthy
          - NotReachable
          - IRPending
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProtectedItemHealthStatus
      protectionState:
        description: Backup state of this backup item.
        enum:
          - Invalid
          - IRPending
          - Protected
          - ProtectionError
          - ProtectionStopped
          - ProtectionPaused
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProtectionState
      protectionStatus:
        description: Backup status of this backup item.
        type: string
      serverName:
        description: Host/Cluster Name for instance or AG
        type: string
    type: object
    x-ms-discriminator-value: AzureVmWorkloadProtectedItem
  AzureVmWorkloadProtectedItemExtendedInfo:
    description: Additional information on Azure Workload for SQL specific backup item.
    properties:
      oldestRecoveryPoint:
        description: The oldest backup copy available for this backup item.
        format: date-time
        type: string
      policyState:
        description: Indicates consistency of policy object and policy applied to this backup item.
        type: string
      recoveryPointCount:
        description: Number of backup copies available for this backup item.
        format: int32
        type: integer
    type: object
  AzureVmWorkloadProtectionPolicy:
    allOf:
      - $ref: '#/definitions/ProtectionPolicy'
    description: Azure VM (Mercury) workload-specific backup policy.
    properties:
      settings:
        $ref: '#/definitions/Settings'
        description: Common settings for the backup management
      subProtectionPolicy:
        description: List of sub-protection policies which includes schedule and retention
        items:
          $ref: '#/definitions/SubProtectionPolicy'
        type: array
      workLoadType:
        description: Type of workload for the backup management
        enum:
          - Invalid
          - VM
          - FileFolder
          - AzureSqlDb
          - SQLDB
          - Exchange
          - Sharepoint
          - VMwareVM
          - SystemState
          - Client
          - GenericDataSource
          - SQLDataBase
          - AzureFileShare
          - SAPHanaDatabase
          - SAPAseDatabase
        type: string
        x-ms-enum:
          modelAsString: true
          name: WorkloadType
    type: object
    x-ms-discriminator-value: AzureWorkload
  AzureVmWorkloadSAPAseDatabaseProtectedItem:
    allOf:
      - $ref: '#/definitions/AzureVmWorkloadProtectedItem'
    description: Azure VM workload-specific protected item representing SAP ASE Database.
    type: object
    x-ms-discriminator-value: AzureVmWorkloadSAPAseDatabase
  AzureVmWorkloadSAPHanaDatabaseProtectedItem:
    allOf:
      - $ref: '#/definitions/AzureVmWorkloadProtectedItem'
    description: Azure VM workload-specific protected item representing SAP HANA Database.
    type: object
    x-ms-discriminator-value: AzureVmWorkloadSAPHanaDatabase
  AzureVmWorkloadSQLDatabaseProtectedItem:
    allOf:
      - $ref: '#/definitions/AzureVmWorkloadProtectedItem'
    description: Azure VM workload-specific protected item representing SQL Database.
    type: object
    x-ms-discriminator-value: AzureVmWorkloadSQLDatabase
  AzureWorkloadAutoProtectionIntent:
    allOf:
      - $ref: '#/definitions/AzureRecoveryServiceVaultProtectionIntent'
    description: Azure Recovery Services Vault specific protection intent item.
    type: object
    x-ms-discriminator-value: AzureWorkloadAutoProtectionIntent
  AzureWorkloadErrorInfo:
    description: Azure storage specific error information
    properties:
      additionalDetails:
        description: Additional details for above error code.
        type: string
      errorCode:
        description: Error code.
        format: int32
        type: integer
      errorString:
        description: Localized error string.
        type: string
      errorTitle:
        description: 'Title: Typically, the entity that the error pertains to.'
        type: string
      recommendations:
        description: List of localized recommendations for above error code.
        items:
          type: string
        type: array
    type: object
  AzureWorkloadJob:
    allOf:
      - $ref: '#/definitions/Job'
    description: Azure storage specific job.
    properties:
      actionsInfo:
        description: Gets or sets the state/actions applicable on this job like cancel/retry.
        items:
          enum:
            - Invalid
            - Cancellable
            - Retriable
          type: string
          x-ms-enum:
            modelAsString: false
            name: JobSupportedAction
        type: array
      duration:
        description: Time elapsed during the execution of this job.
        format: duration
        type: string
      errorDetails:
        description: Error details on execution of this job.
        items:
          $ref: '#/definitions/AzureWorkloadErrorInfo'
        type: array
      extendedInfo:
        $ref: '#/definitions/AzureWorkloadJobExtendedInfo'
        description: Additional information about the job.
      workloadType:
        description: Workload type of the job
        type: string
    type: object
    x-ms-discriminator-value: AzureWorkloadJob
  AzureWorkloadJobExtendedInfo:
    description: Azure VM workload-specific additional information for job.
    properties:
      dynamicErrorMessage:
        description: Non localized error message on job execution.
        type: string
      propertyBag:
        additionalProperties:
          type: string
        description: Job properties.
        type: object
      tasksList:
        description: List of tasks for this job
        items:
          $ref: '#/definitions/AzureWorkloadJobTaskDetails'
        type: array
    type: object
  AzureWorkloadJobTaskDetails:
    description: Azure VM workload specific job task details.
    properties:
      status:
        description: The status.
        type: string
      taskId:
        description: The task display name.
        type: string
    type: object
  AzureWorkloadPointInTimeRestoreRequest:
    allOf:
      - $ref: '#/definitions/AzureWorkloadRestoreRequest'
    description: AzureWorkload SAP Hana -specific restore. Specifically for PointInTime/Log restore
    properties:
      pointInTime:
        description: PointInTime value
        format: date-time
        type: string
    type: object
    x-ms-discriminator-value: AzureWorkloadPointInTimeRestoreRequest
  AzureWorkloadRestoreRequest:
    allOf:
      - $ref: '#/definitions/RestoreRequest'
    description: AzureWorkload-specific restore.
    properties:
      propertyBag:
        additionalProperties:
          type: string
        description: Workload specific property bag.
        type: object
      recoveryType:
        description: 'OLR/ALR, RestoreDisks is invalid option'
        enum:
          - Invalid
          - OriginalLocation
          - AlternateLocation
          - RestoreDisks
        type: string
        x-ms-enum:
          modelAsString: true
          name: RecoveryType
      sourceResourceId:
        description: Fully qualified ARM ID of the VM on which workload that was running is being recovered.
        type: string
      targetInfo:
        $ref: '#/definitions/TargetRestoreInfo'
        description: Details of target database
    type: object
    x-ms-discriminator-value: AzureWorkloadRestoreRequest
  AzureWorkloadSAPHanaPointInTimeRestoreRequest:
    allOf:
      - $ref: '#/definitions/AzureWorkloadSAPHanaRestoreRequest'
    description: AzureWorkload SAP Hana -specific restore. Specifically for PointInTime/Log restore
    properties:
      pointInTime:
        description: PointInTime value
        format: date-time
        type: string
    type: object
    x-ms-discriminator-value: AzureWorkloadSAPHanaPointInTimeRestoreRequest
  AzureWorkloadSAPHanaRestoreRequest:
    allOf:
      - $ref: '#/definitions/AzureWorkloadRestoreRequest'
    description: AzureWorkload SAP Hana-specific restore.
    type: object
    x-ms-discriminator-value: AzureWorkloadSAPHanaRestoreRequest
  AzureWorkloadSQLAutoProtectionIntent:
    allOf:
      - $ref: '#/definitions/AzureWorkloadAutoProtectionIntent'
    description: Azure Workload SQL Auto Protection intent item.
    properties:
      workloadItemType:
        description: Workload item type of the item for which intent is to be set
        enum:
          - Invalid
          - SQLInstance
          - SQLDataBase
          - SAPHanaSystem
          - SAPHanaDatabase
          - SAPAseSystem
          - SAPAseDatabase
        type: string
        x-ms-enum:
          modelAsString: true
          name: WorkloadItemType
    type: object
    x-ms-discriminator-value: AzureWorkloadSQLAutoProtectionIntent
  AzureWorkloadSQLPointInTimeRestoreRequest:
    allOf:
      - $ref: '#/definitions/AzureWorkloadSQLRestoreRequest'
    description: AzureWorkload SQL -specific restore. Specifically for PointInTime/Log restore
    properties:
      pointInTime:
        description: PointInTime value
        format: date-time
        type: string
    type: object
    x-ms-discriminator-value: AzureWorkloadSQLPointInTimeRestoreRequest
  AzureWorkloadSQLRestoreRequest:
    allOf:
      - $ref: '#/definitions/AzureWorkloadRestoreRequest'
    description: AzureWorkload SQL -specific restore. Specifically for full/diff restore
    properties:
      alternateDirectoryPaths:
        description: Data directory details
        items:
          $ref: '#/definitions/SQLDataDirectoryMapping'
        type: array
      isNonRecoverable:
        description: SQL specific property where user can chose to set no-recovery when restore operation is tried
        type: boolean
      shouldUseAlternateTargetLocation:
        description: 'Default option set to true. If this is set to false, alternate data directory must be provided'
        type: boolean
    type: object
    x-ms-discriminator-value: AzureWorkloadSQLRestoreRequest
  BMSBackupSummariesQueryObject:
    description: Query parameters to fetch backup summaries.
    properties:
      type:
        description: Backup management type for this container.
        enum:
          - Invalid
          - BackupProtectedItemCountSummary
          - BackupProtectionContainerCountSummary
        type: string
        x-ms-enum:
          modelAsString: true
          name: Type
    type: object
  BackupManagementUsage:
    description: Backup management usages of a vault.
    properties:
      currentValue:
        description: Current value of usage.
        format: int64
        type: integer
      limit:
        description: Limit of usage.
        format: int64
        type: integer
      name:
        $ref: '#/definitions/NameInfo'
        description: Name of usage.
      nextResetTime:
        description: Next reset time of usage.
        format: date-time
        type: string
      quotaPeriod:
        description: Quota period of usage.
        type: string
      unit:
        description: Unit of the usage.
        enum:
          - Count
          - Bytes
          - Seconds
          - Percent
          - CountPerSecond
          - BytesPerSecond
        type: string
        x-ms-enum:
          modelAsString: true
          name: UsagesUnit
    type: object
  BackupManagementUsageList:
    description: Backup management usage for vault.
    properties:
      value:
        description: The list of backup management usages for the given vault.
        items:
          $ref: '#/definitions/BackupManagementUsage'
        type: array
    type: object
  BackupStatusRequest:
    description: BackupStatus request.
    properties:
      poLogicalName:
        description: Protectable Item Logical Name
        type: string
      resourceId:
        description: Entire ARM resource id of the resource
        type: string
      resourceType:
        description: 'Container Type - VM, SQLPaaS, DPM, AzureFileShare...'
        enum:
          - Invalid
          - VM
          - FileFolder
          - AzureSqlDb
          - SQLDB
          - Exchange
          - Sharepoint
          - VMwareVM
          - SystemState
          - Client
          - GenericDataSource
          - SQLDataBase
          - AzureFileShare
          - SAPHanaDatabase
          - SAPAseDatabase
        type: string
        x-ms-enum:
          modelAsString: true
          name: DataSourceType
    type: object
  BackupStatusResponse:
    description: BackupStatus response.
    properties:
      containerName:
        description: Specifies the product specific container name. E.g. iaasvmcontainer;iaasvmcontainer;csname;vmname.
        type: string
      errorCode:
        description: ErrorCode in case of intent failed
        type: string
      errorMessage:
        description: ErrorMessage in case of intent failed.
        type: string
      fabricName:
        description: Specifies the fabric name - Azure or AD
        enum:
          - Invalid
          - Azure
        type: string
        x-ms-enum:
          modelAsString: true
          name: FabricName
      policyName:
        description: Specifies the policy name which is used for protection
        type: string
      protectedItemName:
        description: Specifies the product specific ds name. E.g. vm;iaasvmcontainer;csname;vmname.
        type: string
      protectionStatus:
        description: Specifies whether the container is registered or not
        enum:
          - Invalid
          - NotProtected
          - Protecting
          - Protected
          - ProtectionFailed
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProtectionStatus
      registrationStatus:
        description: Container registration status
        type: string
      vaultId:
        description: Specifies the arm resource id of the vault
        type: string
    type: object
  DPMProtectedItem:
    allOf:
      - $ref: '#/definitions/ProtectedItem'
    description: Additional information on Backup engine specific backup item.
    properties:
      backupEngineName:
        description: Backup Management server protecting this backup item
        type: string
      extendedInfo:
        $ref: '#/definitions/DPMProtectedItemExtendedInfo'
        description: Extended info of the backup item.
      friendlyName:
        description: Friendly name of the managed item
        type: string
      isScheduledForDeferredDelete:
        description: To check if backup item is scheduled for deferred delete
        type: boolean
      protectionState:
        description: Protection state of the backup engine
        enum:
          - Invalid
          - IRPending
          - Protected
          - ProtectionError
          - ProtectionStopped
          - ProtectionPaused
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProtectedItemState
    type: object
    x-ms-discriminator-value: DPMProtectedItem
  DPMProtectedItemExtendedInfo:
    description: Additional information of DPM Protected item.
    properties:
      diskStorageUsedInBytes:
        description: Used Disk storage in bytes.
        type: string
      isCollocated:
        description: To check if backup item is collocated.
        type: boolean
      isPresentOnCloud:
        description: To check if backup item is cloud protected.
        type: boolean
      lastBackupStatus:
        description: Last backup status information on backup item.
        type: string
      lastRefreshedAt:
        description: Last refresh time on backup item.
        format: date-time
        type: string
      oldestRecoveryPoint:
        description: Oldest cloud recovery point time.
        format: date-time
        type: string
      onPremiseLatestRecoveryPoint:
        description: latest disk recovery point time.
        format: date-time
        type: string
      onPremiseOldestRecoveryPoint:
        description: Oldest disk recovery point time.
        format: date-time
        type: string
      onPremiseRecoveryPointCount:
        description: disk recovery point count.
        format: int32
        type: integer
      protectableObjectLoadPath:
        additionalProperties:
          type: string
        description: Attribute to provide information on various DBs.
        type: object
      protected:
        description: To check if backup item is disk protected.
        type: boolean
      protectionGroupName:
        description: Protection group name of the backup item.
        type: string
      recoveryPointCount:
        description: cloud recovery point count.
        format: int32
        type: integer
      totalDiskStorageSizeInBytes:
        description: total Disk storage in bytes.
        type: string
    type: object
  DailyRetentionFormat:
    description: Daily retention format.
    properties:
      daysOfTheMonth:
        description: List of days of the month.
        items:
          $ref: '#/definitions/Day'
        type: array
    type: object
  DailyRetentionSchedule:
    description: Daily retention schedule.
    properties:
      retentionDuration:
        $ref: '#/definitions/RetentionDuration'
        description: Retention duration of retention Policy.
      retentionTimes:
        description: Retention times of retention policy.
        items:
          format: date-time
          type: string
        type: array
    type: object
  Day:
    description: Day of the week.
    properties:
      date:
        description: Date of the month
        format: int32
        type: integer
      isLast:
        description: Whether Date is last date of month
        type: boolean
    type: object
  DpmErrorInfo:
    description: DPM workload-specific error information.
    properties:
      errorString:
        description: Localized error string.
        type: string
      recommendations:
        description: List of localized recommendations for above error code.
        items:
          type: string
        type: array
    type: object
  DpmJob:
    allOf:
      - $ref: '#/definitions/Job'
    description: DPM workload-specific job object.
    properties:
      actionsInfo:
        description: The state/actions applicable on this job like cancel/retry.
        items:
          enum:
            - Invalid
            - Cancellable
            - Retriable
          type: string
          x-ms-enum:
            modelAsString: false
            name: JobSupportedAction
        type: array
      containerName:
        description: 'Name of cluster/server protecting current backup item, if any.'
        type: string
      containerType:
        description: Type of container.
        type: string
      dpmServerName:
        description: DPM server name managing the backup item or backup job.
        type: string
      duration:
        description: Time elapsed for job.
        format: duration
        type: string
      errorDetails:
        description: The errors.
        items:
          $ref: '#/definitions/DpmErrorInfo'
        type: array
      extendedInfo:
        $ref: '#/definitions/DpmJobExtendedInfo'
        description: Additional information for this job.
      workloadType:
        description: Type of backup item.
        type: string
    type: object
    x-ms-discriminator-value: DpmJob
  DpmJobExtendedInfo:
    description: Additional information on the DPM workload-specific job.
    properties:
      dynamicErrorMessage:
        description: Non localized error message on job execution.
        type: string
      propertyBag:
        additionalProperties:
          type: string
        description: The job properties.
        type: object
      tasksList:
        description: List of tasks associated with this job.
        items:
          $ref: '#/definitions/DpmJobTaskDetails'
        type: array
    type: object
  DpmJobTaskDetails:
    description: DPM workload-specific job task details.
    properties:
      duration:
        description: Time elapsed for task.
        format: duration
        type: string
      endTime:
        description: The end time.
        format: date-time
        type: string
      startTime:
        description: The start time.
        format: date-time
        type: string
      status:
        description: The status.
        type: string
      taskId:
        description: The task display name.
        type: string
    type: object
  EncryptionDetails:
    description: Details needed if the VM was encrypted at the time of backup.
    properties:
      encryptionEnabled:
        description: Identifies whether this backup copy represents an encrypted VM at the time of backup.
        type: boolean
      kekUrl:
        description: Key Url.
        type: string
      kekVaultId:
        description: ID of Key Vault where KEK is stored.
        type: string
      secretKeyUrl:
        description: Secret Url.
        type: string
      secretKeyVaultId:
        description: ID of Key Vault where Secret is stored.
        type: string
    type: object
  ErrorDetail:
    description: 'Error Detail class which encapsulates Code, Message and Recommendations.'
    properties:
      code:
        description: Error code.
        type: string
      message:
        description: Error Message related to the Code.
        type: string
      recommendations:
        description: List of recommendation strings.
        items:
          type: string
        type: array
    type: object
  ExportJobsOperationResultInfo:
    allOf:
      - $ref: '#/definitions/OperationResultInfoBase'
    description: This class is used to send blob details after exporting jobs.
    properties:
      blobSasKey:
        description: SAS key to access the blob. It expires in 15 mins.
        type: string
      blobUrl:
        description: URL of the blob into which the serialized string of list of jobs is exported.
        type: string
    type: object
    x-ms-discriminator-value: ExportJobsOperationResultInfo
  FeatureSupportRequest:
    description: Base class for feature request
    discriminator: featureType
    properties:
      featureType:
        description: backup support feature type.
        type: string
    type: object
  GenericProtectedItem:
    allOf:
      - $ref: '#/definitions/ProtectedItem'
    description: Base class for backup items.
    properties:
      fabricName:
        description: Name of this backup item's fabric.
        type: string
      friendlyName:
        description: Friendly name of the container.
        type: string
      policyState:
        description: Indicates consistency of policy object and policy applied to this backup item.
        type: string
      protectedItemId:
        description: Data Plane Service ID of the protected item.
        format: int64
        type: integer
      protectionState:
        description: Backup state of this backup item.
        enum:
          - Invalid
          - IRPending
          - Protected
          - ProtectionError
          - ProtectionStopped
          - ProtectionPaused
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProtectionState
      sourceAssociations:
        additionalProperties:
          type: string
        description: 'Loosely coupled (type, value) associations (example - parent of a protected item)'
        type: object
    type: object
    x-ms-discriminator-value: GenericProtectedItem
  GenericProtectionPolicy:
    allOf:
      - $ref: '#/definitions/ProtectionPolicy'
    description: Azure VM (Mercury) workload-specific backup policy.
    properties:
      fabricName:
        description: Name of this policy's fabric.
        type: string
      subProtectionPolicy:
        description: List of sub-protection policies which includes schedule and retention
        items:
          $ref: '#/definitions/SubProtectionPolicy'
        type: array
      timeZone:
        description: 'TimeZone optional input as string. For example: TimeZone = "Pacific Standard Time".'
        type: string
    type: object
    x-ms-discriminator-value: GenericProtectionPolicy
  IaasVMRestoreRequest:
    allOf:
      - $ref: '#/definitions/RestoreRequest'
    description: IaaS VM workload-specific restore.
    properties:
      affinityGroup:
        description: Affinity group associated to VM to be restored. Used only for Classic Compute Virtual Machines.
        type: string
      createNewCloudService:
        description: "Should a new cloud service be created while restoring the VM. If this is false, VM will be restored to the same\r\ncloud service as it was at the time of backup."
        type: boolean
      encryptionDetails:
        $ref: '#/definitions/EncryptionDetails'
        description: Details needed if the VM was encrypted at the time of backup.
      originalStorageAccountOption:
        description: Original Storage Account Option
        type: boolean
      recoveryPointId:
        description: ID of the backup copy to be recovered.
        type: string
      recoveryType:
        description: Type of this recovery.
        enum:
          - Invalid
          - OriginalLocation
          - AlternateLocation
          - RestoreDisks
        type: string
        x-ms-enum:
          modelAsString: true
          name: RecoveryType
      region:
        description: Region in which the virtual machine is restored.
        type: string
      sourceResourceId:
        description: Fully qualified ARM ID of the VM which is being recovered.
        type: string
      storageAccountId:
        description: Fully qualified ARM ID of the storage account to which the VM has to be restored.
        type: string
      subnetId:
        description: "Subnet ID, is the subnet ID associated with the to be restored VM. For Classic VMs it would be\r\n{VnetID}/Subnet/{SubnetName} and, for the Azure Resource Manager VMs it would be ARM resource ID used to represent\r\nthe subnet."
        type: string
      targetDomainNameId:
        description: "Fully qualified ARM ID of the domain name to be associated to the VM being restored. This applies only to Classic\r\nVirtual Machines."
        type: string
      targetResourceGroupId:
        description: "This is the ARM Id of the resource group that you want to create for this Virtual machine and other artifacts.\r\nFor e.g. /subscriptions/{subId}/resourcegroups/{rg}"
        type: string
      targetVirtualMachineId:
        description: "This is the complete ARM Id of the VM that will be created.\r\nFor e.g. /subscriptions/{subId}/resourcegroups/{rg}/provider/Microsoft.Compute/virtualmachines/{vm}"
        type: string
      virtualNetworkId:
        description: "This is the virtual network Id of the vnet that will be attached to the virtual machine.\r\nUser will be validated for join action permissions in the linked access."
        type: string
    type: object
    x-ms-discriminator-value: IaasVMRestoreRequest
  Job:
    description: Defines workload agnostic properties for a job.
    discriminator: jobType
    properties:
      activityId:
        description: ActivityId of job.
        type: string
      backupManagementType:
        description: Backup management type to execute the current job.
        enum:
          - Invalid
          - AzureIaasVM
          - MAB
          - DPM
          - AzureBackupServer
          - AzureSql
          - AzureStorage
          - AzureWorkload
          - DefaultBackup
        type: string
        x-ms-enum:
          modelAsString: true
          name: BackupManagementType
      endTime:
        description: The end time.
        format: date-time
        type: string
      entityFriendlyName:
        description: Friendly name of the entity on which the current job is executing.
        type: string
      jobType:
        description: This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types.
        type: string
      operation:
        description: The operation name.
        type: string
      startTime:
        description: The start time.
        format: date-time
        type: string
      status:
        description: Job status.
        type: string
    required:
      - jobType
    type: object
  JobQueryObject:
    description: Filters to list the jobs.
    properties:
      backupManagementType:
        description: Type of backup management for the job.
        enum:
          - Invalid
          - AzureIaasVM
          - MAB
          - DPM
          - AzureBackupServer
          - AzureSql
          - AzureStorage
          - AzureWorkload
          - DefaultBackup
        type: string
        x-ms-enum:
          modelAsString: true
          name: BackupManagementType
      endTime:
        description: Job has ended at this time. Value is in UTC.
        format: date-time
        type: string
      jobId:
        description: JobID represents the job uniquely.
        type: string
      operation:
        description: Type of operation.
        enum:
          - Invalid
          - Register
          - UnRegister
          - ConfigureBackup
          - Backup
          - Restore
          - DisableBackup
          - DeleteBackupData
        type: string
        x-ms-enum:
          modelAsString: true
          name: JobOperationType
      startTime:
        description: Job has started at this time. Value is in UTC.
        format: date-time
        type: string
      status:
        description: Status of the job.
        enum:
          - Invalid
          - InProgress
          - Completed
          - Failed
          - CompletedWithWarnings
          - Cancelled
          - Cancelling
        type: string
        x-ms-enum:
          modelAsString: true
          name: JobStatus
    type: object
  JobResource:
    allOf:
      - $ref: '#/definitions/Resource'
    description: Defines workload agnostic properties for a job.
    properties:
      properties:
        $ref: '#/definitions/Job'
        description: JobResource properties
  JobResourceList:
    allOf:
      - $ref: '#/definitions/ResourceList'
    description: List of Job resources
    properties:
      value:
        description: List of resources.
        items:
          $ref: '#/definitions/JobResource'
        type: array
    type: object
  LogSchedulePolicy:
    allOf:
      - $ref: '#/definitions/SchedulePolicy'
    description: Log policy schedule.
    properties:
      scheduleFrequencyInMins:
        description: Frequency of the log schedule operation of this policy in minutes.
        format: int32
        type: integer
    type: object
    x-ms-discriminator-value: LogSchedulePolicy
  LongTermRetentionPolicy:
    allOf:
      - $ref: '#/definitions/RetentionPolicy'
    description: Long term retention policy.
    properties:
      dailySchedule:
        $ref: '#/definitions/DailyRetentionSchedule'
        description: Daily retention schedule of the protection policy.
      monthlySchedule:
        $ref: '#/definitions/MonthlyRetentionSchedule'
        description: Monthly retention schedule of the protection policy.
      weeklySchedule:
        $ref: '#/definitions/WeeklyRetentionSchedule'
        description: Weekly retention schedule of the protection policy.
      yearlySchedule:
        $ref: '#/definitions/YearlyRetentionSchedule'
        description: Yearly retention schedule of the protection policy.
    type: object
    x-ms-discriminator-value: LongTermRetentionPolicy
  LongTermSchedulePolicy:
    allOf:
      - $ref: '#/definitions/SchedulePolicy'
    description: Long term policy schedule.
    type: object
    x-ms-discriminator-value: LongTermSchedulePolicy
  MabErrorInfo:
    description: MAB workload-specific error information.
    properties:
      errorString:
        description: Localized error string.
        type: string
      recommendations:
        description: List of localized recommendations.
        items:
          type: string
        type: array
    type: object
  MabFileFolderProtectedItem:
    allOf:
      - $ref: '#/definitions/ProtectedItem'
    description: MAB workload-specific backup item.
    properties:
      computerName:
        description: Name of the computer associated with this backup item.
        type: string
      deferredDeleteSyncTimeInUTC:
        description: Sync time for deferred deletion.
        format: int64
        type: integer
      extendedInfo:
        $ref: '#/definitions/MabFileFolderProtectedItemExtendedInfo'
        description: Additional information with this backup item.
      friendlyName:
        description: Friendly name of this backup item.
        type: string
      isScheduledForDeferredDelete:
        description: Specifies if the item is scheduled for deferred deletion.
        type: boolean
      lastBackupStatus:
        description: Status of last backup operation.
        type: string
      protectionState:
        description: 'Protected, ProtectionStopped, IRPending or ProtectionError'
        type: string
    type: object
    x-ms-discriminator-value: MabFileFolderProtectedItem
  MabFileFolderProtectedItemExtendedInfo:
    description: Additional information on the backed up item.
    properties:
      lastRefreshedAt:
        description: Last time when the agent data synced to service.
        format: date-time
        type: string
      oldestRecoveryPoint:
        description: The oldest backup copy available.
        format: date-time
        type: string
      recoveryPointCount:
        description: Number of backup copies associated with the backup item.
        format: int32
        type: integer
    type: object
  MabJob:
    allOf:
      - $ref: '#/definitions/Job'
    description: MAB workload-specific job.
    properties:
      actionsInfo:
[...]
