swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: 'Provides create, read, update and delete functionality for Azure SQL Database resources including servers, databases, elastic pools, recommendations, and operations.'
  title: Azure SQL Database
  version: '2014-04-01'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/sql/resource-manager/Microsoft.Sql/2014-04-01/sql.core.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: sql-sql.core
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ApiVersionParameter:
    description: The API version to use for the request.
    in: query
    name: api-version
    required: true
    type: string
  DatabaseExpandParameter:
    description: 'A comma separated list of child objects to expand in the response. Possible properties: serviceTierAdvisors, transparentDataEncryption.'
    in: query
    name: $expand
    required: false
    type: string
    x-ms-parameter-location: method
  ResourceGroupParameter:
    description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The subscription ID that identifies an Azure subscription.
    in: path
    name: subscriptionId
    required: true
    type: string
  TransparentDataEncryptionNameParameter:
    description: The name of the transparent data encryption configuration.
    enum:
      - current
    in: path
    name: transparentDataEncryptionName
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: TransparentDataEncryptionName
    x-ms-parameter-location: method
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Sql/checkNameAvailability':
    post:
      description: Determines whether a resource can be created with the specified name.
      operationId: Servers_CheckNameAvailability
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - description: The parameters to request for name availability.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/CheckNameAvailabilityRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CheckNameAvailabilityResponse'
      tags:
        - Servers
      x-ms-examples:
        Check for a server name that already exists:
          parameters:
            api-version: '2014-04-01'
            parameters:
              name: server1
              type: Microsoft.Sql/servers
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                available: false
                message: Specified server name is already used
                name: server1
                reason: AlreadyExists
        Check for a server name that is available:
          parameters:
            api-version: '2014-04-01'
            parameters:
              name: server1
              type: Microsoft.Sql/servers
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                available: true
                message: null
                name: server1
                reason: null
        Check for a server name that is invalid:
          parameters:
            api-version: '2014-04-01'
            parameters:
              name: SERVER1
              type: Microsoft.Sql/servers
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                available: false
                message: 'Specified server name contains unsupported characters or is too long. Server name must be no longer than 63 characters long, contain only lower-case characters or digits, cannot contain ''.'' or ''_'' characters and can''t start or end with ''-'' character.'
                name: SERVER1
                reason: Invalid
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases':
    get:
      description: Returns a list of databases in a server.
      operationId: Databases_ListByServer
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - $ref: '#/parameters/DatabaseExpandParameter'
        - description: An OData filter expression that describes a subset of databases to return.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DatabaseListResult'
      tags:
        - Databases
      x-ms-examples:
        List databases by server:
          parameters:
            api-version: '2014-04-01'
            resourceGroupName: sqlcrudtest-6845
            serverName: sqlcrudtest-7177
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/master
                    kind: 'v12.0,system'
                    location: Japan East
                    name: master
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: '2017-02-10T00:59:33.483Z'
                      currentServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                      databaseId: e760a51c-3dce-4d8c-976b-a2b929a73e08
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: null
                      edition: System
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: '32212254720'
                      readScale: Disabled
                      requestedServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                      requestedServiceObjectiveName: System2
                      sampleName: null
                      serviceLevelObjective: System2
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-1142
                    kind: 'v12.0,user'
                    location: Japan East
                    name: sqlcrudtest-1142
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: '2017-02-10T01:03:34.04Z'
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: 11c1813c-52db-4d17-95d7-119eda1850b1
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: '2017-02-10T01:14:10.233Z'
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: '268435456000'
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-2788
                    kind: 'v12.0,user'
                    location: Japan East
                    name: sqlcrudtest-2788
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: '2017-02-10T01:00:21.067Z'
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: d63e118b-41cf-49b9-8dac-aa6ef6f91731
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: '2017-02-10T01:10:52.25Z'
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: '268435456000'
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-6877
                    kind: 'v12.0,user'
                    location: Japan East
                    name: sqlcrudtest-6877
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: '2017-02-10T01:02:28.853Z'
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: 40ac16e8-855c-439c-b495-c97e918a771c
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: '2017-02-10T01:13:21.66Z'
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: '268435456000'
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-9888
                    kind: 'v12.0,user'
                    location: Japan East
                    name: sqlcrudtest-9888
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: '2017-02-10T01:01:25.347Z'
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: 59daf4ad-082f-4ac5-b38a-ed656b937980
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: '2017-02-10T01:12:05.303Z'
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: '268435456000'
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
        List databases by server with filter:
          parameters:
            $filter: properties/edition eq 'System'
            api-version: '2014-04-01'
            resourceGroupName: sqlcrudtest-6845
            serverName: sqlcrudtest-7177
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/master
                    kind: 'v12.0,system'
                    location: Japan East
                    name: master
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: '2017-02-10T00:59:33.483Z'
                      currentServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                      databaseId: e760a51c-3dce-4d8c-976b-a2b929a73e08
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: null
                      edition: System
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: '32212254720'
                      readScale: Disabled
                      requestedServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                      requestedServiceObjectiveName: System2
                      sampleName: null
                      serviceLevelObjective: System2
                      status: Online
                    type: Microsoft.Sql/servers/databases
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}':
    delete:
      description: Deletes a database.
      operationId: Databases_Delete
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the database to be deleted.
          in: path
          name: databaseName
          required: true
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
      tags:
        - Databases
      x-ms-examples:
        Delete a database:
          parameters:
            api-version: '2014-04-01'
            databaseName: sqlcrudtest-331
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body: ''
            '204':
              body: ''
    get:
      description: Gets a database.
      operationId: Databases_Get
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the database to be retrieved.
          in: path
          name: databaseName
          required: true
          type: string
        - $ref: '#/parameters/DatabaseExpandParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Database'
      tags:
        - Databases
      x-ms-examples:
        Get a database:
          parameters:
            api-version: '2014-04-01'
            databaseName: sqlcrudtest-9187
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187
                kind: 'v12.0,user'
                location: Japan East
                name: sqlcrudtest-9187
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-02-10T00:56:19.2Z'
                  currentServiceObjectiveId: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                  databaseId: 200216b2-dc19-4866-85aa-f73fe4a1ebac
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-02-10T01:06:29.78Z'
                  edition: Basic
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '2147483648'
                  readScale: Disabled
                  requestedServiceObjectiveId: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                  requestedServiceObjectiveName: Basic
                  sampleName: null
                  serviceLevelObjective: Basic
                  status: Online
                tags:
                  tagKey1: TagValue1
                type: Microsoft.Sql/servers/databases
    patch:
      description: Updates an existing database.
      operationId: Databases_Update
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the database to be updated.
          in: path
          name: databaseName
          required: true
          type: string
        - description: The required parameters for updating a database.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/DatabaseUpdate'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Database'
        '202':
          description: Accepted
      tags:
        - Databases
      x-ms-examples:
        Update a database max:
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            parameters:
              properties:
                collation: SQL_Latin1_General_CP1_CI_AS
                containmentState: 2
                createMode: Default
                currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                defaultSecondaryLocation: Japan West
                earliestRestoreDate: '2017-02-10T01:52:52.923Z'
                edition: Standard
                maxSizeBytes: '268435456000'
                readScale: Disabled
                requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                requestedServiceObjectiveName: S0
                serviceLevelObjective: S0
                status: Online
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-02-24T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-02-10T01:52:52.923Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '202': {}
        Update a database min:
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            parameters: {}
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-02-24T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-02-10T01:52:52.923Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '202': {}
      x-ms-long-running-operation: true
    put:
      description: Creates a new database or updates an existing database.
      operationId: Databases_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the database to be operated on (updated or created).
          in: path
          name: databaseName
          required: true
          type: string
        - description: The required parameters for creating or updating a database.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/Database'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Database'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Database'
        '202':
          description: Accepted
      tags:
        - Databases
      x-ms-examples:
        Create a database as a copy:
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: Copy
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-02-24T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-02-10T01:52:52.923Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '201':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-02-24T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-02-10T01:52:52.923Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '202': {}
        Create a database as a dropped database restore to a specific point in time:
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: Restore
                restorePointInTime: '2017-05-20T21:24:37.467Z'
                sourceDatabaseId: '/subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/restorableDroppedDatabases/sourcedb,131403269876900000'
            resourceGroupName: sqlcrudtest-8412
            serverName: sqlcrudtest-3584
            subscriptionId: '00000000-1111-2222-3333-444444444444 '
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-05-30T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-05-30T22:50:46.547Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '201':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-05-30T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-05-30T22:50:46.547Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '202': {}
        Create a database as a dropped database restore to deletion time:
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: Restore
                sourceDatabaseDeletionDate: '2017-05-27T02:49:47.69Z'
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/sourcedb
            resourceGroupName: sqlcrudtest-8412
            serverName: sqlcrudtest-3584
            subscriptionId: '00000000-1111-2222-3333-444444444444 '
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-05-30T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-05-30T22:50:46.547Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '201':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-05-30T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-05-30T22:50:46.547Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '202': {}
        Create a database as a geo restore:
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: Recovery
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/recoverableDatabases/sourcedb
            resourceGroupName: sqlcrudtest-8412
            serverName: sqlcrudtest-3584
            subscriptionId: '00000000-1111-2222-3333-444444444444 '
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-05-30T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-05-30T22:50:46.547Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '201':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-05-30T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-05-30T22:50:46.547Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '202': {}
        Create a database as a non-readable secondary:
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: NonReadableSecondary
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-02-24T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-02-10T01:52:52.923Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '201':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-02-24T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-02-10T01:52:52.923Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '202': {}
        Create a database as a point in time restore:
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: PointInTimeRestore
                restorePointInTime: '2017-02-16T21:24:37.467Z'
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
            resourceGroupName: sqlcrudtest-8412
            serverName: sqlcrudtest-3584
            subscriptionId: '00000000-1111-2222-3333-444444444444 '
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-02-24T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-02-10T01:52:52.923Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '201':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-02-24T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-02-10T01:52:52.923Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '202': {}
        Create a database as an online secondary:
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: OnlineSecondary
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-02-24T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-02-10T01:52:52.923Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '201':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-02-24T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-02-10T01:52:52.923Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '202': {}
        Create a database from a long term retention backup:
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: RestoreLongTermRetentionBackup
                recoveryServicesRecoveryPointResourceId: /subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/AzureSqlContainer;Sql;sqlcrudtest-8412;testsvr/protectedItems/AzureSqlDb;dsName;testdb;9dafcc99-7c84-4727-88ee-1a4fdb89afd7/RecoveryPoints/16043455089734
            resourceGroupName: sqlcrudtest-8412
            serverName: sqlcrudtest-3584
            subscriptionId: '00000000-1111-2222-3333-444444444444 '
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-05-30T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-05-30T22:50:46.547Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '201':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-05-30T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-05-30T22:50:46.547Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '202': {}
        Create a database max:
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                collation: SQL_Latin1_General_CP1_CI_AS
                containmentState: 2
                createMode: Default
                creationDate: '2017-02-10T01:37:18.847Z'
                currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                databaseId: 816c5f7e-0e36-4eec-9c51-eee7a276c14c
                defaultSecondaryLocation: Japan West
                earliestRestoreDate: '2017-02-10T01:48:08.237Z'
                edition: Standard
                maxSizeBytes: '268435456000'
                readScale: Disabled
                requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                requestedServiceObjectiveName: S0
                sampleName: AdventureWorksLT
                serviceLevelObjective: S0
                status: Online
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-8931/providers/Microsoft.Sql/servers/sqlcrudtest-1932/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  createMode: Default
                  creationDate: '2017-02-10T01:37:18.847Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  databaseId: 816c5f7e-0e36-4eec-9c51-eee7a276c14c
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-02-10T01:48:08.237Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  sourceDatabaseId: null
                  status: Online
                type: Microsoft.Sql/servers/databases
            '201':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-8931/providers/Microsoft.Sql/servers/sqlcrudtest-1932/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  createMode: Default
                  creationDate: '2017-02-10T01:37:18.847Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  databaseId: 816c5f7e-0e36-4eec-9c51-eee7a276c14c
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-02-10T01:48:08.237Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  sourceDatabaseId: null
                  status: Online
                type: Microsoft.Sql/servers/databases
            '202': {}
        Create a database min:
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            parameters:
              location: Japan East
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-02-24T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-02-10T01:52:52.923Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '201':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-02-24T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-02-10T01:52:52.923Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '202': {}
        Update a database max:
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                collation: SQL_Latin1_General_CP1_CI_AS
                containmentState: 2
                createMode: Default
                currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                defaultSecondaryLocation: Japan West
                earliestRestoreDate: '2017-02-10T01:52:52.923Z'
                edition: Standard
                maxSizeBytes: '268435456000'
                readScale: Disabled
                requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                requestedServiceObjectiveName: S0
                serviceLevelObjective: S0
                status: Online
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-02-24T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-02-10T01:52:52.923Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '201':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: '2017-02-24T22:39:46.547Z'
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-02-10T01:52:52.923Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '202': {}
        Update a database's elastic pool':
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                elasticPoolName: '7537'
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-6440
            subscriptionId: 9d4e2ad0-e20b-4464-9219-353bded52513
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-02-10T01:52:52.923Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '201':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb
                kind: 'v12.0,user'
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: '2017-02-10T01:52:52.923Z'
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: '268435456000'
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            '202': {}
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/pause':
    post:
      description: Pauses a data warehouse.
      operationId: Databases_Pause
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the data warehouse to pause.
          in: path
          name: databaseName
          required: true
          type: string
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
      tags:
        - DatabaseActivation
      x-ms-examples:
        Pause a data warehouse:
          parameters:
            api-version: '2014-04-01'
            databaseName: sqlcrudtest-9187
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body: {}
            '202':
              body: {}
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/resume':
    post:
      description: Resumes a data warehouse.
      operationId: Databases_Resume
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the data warehouse to resume.
          in: path
          name: databaseName
          required: true
          type: string
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
      tags:
        - DatabaseActivation
      x-ms-examples:
        Resume a data warehouse:
          parameters:
            api-version: '2014-04-01'
            databaseName: sqlcrudtest-9187
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body: {}
            '202':
              body: {}
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/serviceTierAdvisors':
    get:
      description: Returns service tier advisors for specified database.
      operationId: ServiceTierAdvisors_ListByDatabase
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of database.
          in: path
          name: databaseName
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ServiceTierAdvisorListResult'
      tags:
        - ServiceTierAdvisors
      x-ms-examples:
        Get a list of a service tier advisors:
          parameters:
            api-version: '2014-04-01'
            databaseName: sqlcrudtest-9187
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187/serviceTierAdvisors/Current
                  name: Current
                  properties:
                    activeTimeRatio: 0
                    avgDtu: 0
                    confidence: 1
                    currentServiceLevelObjective: S0
                    currentServiceLevelObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                    databaseSizeBasedRecommendationServiceLevelObjective: null
                    databaseSizeBasedRecommendationServiceLevelObjectiveId: null
                    disasterPlanBasedRecommendationServiceLevelObjective: null
                    disasterPlanBasedRecommendationServiceLevelObjectiveId: null
                    maxDtu: 0
                    maxSizeInGB: 0.0234375
                    minDtu: 0
                    observationPeriodEnd: '2017-07-26T13:00:00Z'
                    observationPeriodStart: '2017-07-12T12:00:00Z'
                    overallRecommendationServiceLevelObjective: null
                    overallRecommendationServiceLevelObjectiveId: null
                    serviceLevelObjectiveUsageMetrics:
                      - inRangeTimeRatio: 1
                        serviceLevelObjective: Basic
                        serviceLevelObjectiveId: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                    usageBasedRecommendationServiceLevelObjective: null
                    usageBasedRecommendationServiceLevelObjectiveId: null
                  type: Microsoft.Sql/servers/databases/serviceTierAdvisors
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/serviceTierAdvisors/{serviceTierAdvisorName}':
    get:
      description: Gets a service tier advisor.
      operationId: ServiceTierAdvisors_Get
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of database.
          in: path
          name: databaseName
          required: true
          type: string
        - description: The name of service tier advisor.
          in: path
          name: serviceTierAdvisorName
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ServiceTierAdvisor'
      tags:
        - ServiceTierAdvisors
      x-ms-examples:
        Get a service tier advisor:
          parameters:
            api-version: '2014-04-01'
            databaseName: sqlcrudtest-9187
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            serviceTierAdvisorName: Current
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187/serviceTierAdvisors/Current
                name: Current
                properties:
                  activeTimeRatio: 0
                  avgDtu: 0
                  confidence: 1
                  currentServiceLevelObjective: S0
                  currentServiceLevelObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  databaseSizeBasedRecommendationServiceLevelObjective: null
                  databaseSizeBasedRecommendationServiceLevelObjectiveId: null
                  disasterPlanBasedRecommendationServiceLevelObjective: null
                  disasterPlanBasedRecommendationServiceLevelObjectiveId: null
                  maxDtu: 0
                  maxSizeInGB: 0.0234375
                  minDtu: 0
                  observationPeriodEnd: '2017-07-26T13:00:00Z'
                  observationPeriodStart: '2017-07-12T12:00:00Z'
                  overallRecommendationServiceLevelObjective: null
                  overallRecommendationServiceLevelObjectiveId: null
                  serviceLevelObjectiveUsageMetrics:
                    - inRangeTimeRatio: 1
                      serviceLevelObjective: Basic
                      serviceLevelObjectiveId: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                  usageBasedRecommendationServiceLevelObjective: null
                  usageBasedRecommendationServiceLevelObjectiveId: null
                type: Microsoft.Sql/servers/databases/serviceTierAdvisors
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption/{transparentDataEncryptionName}':
    get:
      description: Gets a database's transparent data encryption configuration.
      operationId: TransparentDataEncryptions_Get
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the database for which the transparent data encryption applies.
          in: path
          name: databaseName
          required: true
          type: string
        - $ref: '#/parameters/TransparentDataEncryptionNameParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TransparentDataEncryption'
      tags:
        - TransparentDataEncryption
      x-ms-examples:
        Get a database's transparent data encryption configuration:
          parameters:
            api-version: '2014-04-01'
            databaseName: sqlcrudtest-9187
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
            transparentDataEncryptionName: current
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187/transparentDataEncryption/current
                location: North Europe
                name: current
                properties:
                  status: Enabled
                type: Microsoft.Sql/servers/databases/transparentDataEncryption
    put:
      description: Creates or updates a database's transparent data encryption configuration.
      operationId: TransparentDataEncryptions_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the database for which setting the transparent data encryption applies.
          in: path
          name: databaseName
          required: true
          type: string
        - $ref: '#/parameters/TransparentDataEncryptionNameParameter'
        - description: The required parameters for creating or updating transparent data encryption.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/TransparentDataEncryption'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TransparentDataEncryption'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/TransparentDataEncryption'
      tags:
        - TransparentDataEncryption
      x-ms-examples:
        Create or update a database's transparent data encryption configuration:
          parameters:
            api-version: '2014-04-01'
            databaseName: sqlcrudtest-9187
            parameters:
              properties:
                status: Enabled
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
            transparentDataEncryptionName: current
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187/transparentDataEncryption/current
                location: North Europe
                name: current
                properties:
                  status: Enabled
                type: Microsoft.Sql/servers/databases/transparentDataEncryption
            '201':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187/transparentDataEncryption/current
                location: North Europe
                name: current
                properties:
                  status: Enabled
                type: Microsoft.Sql/servers/databases/transparentDataEncryption
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption/{transparentDataEncryptionName}/operationResults':
    get:
      description: Returns a database's transparent data encryption operation result.
      operationId: TransparentDataEncryptionActivities_ListByConfiguration
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the database for which the transparent data encryption applies.
          in: path
          name: databaseName
          required: true
          type: string
        - $ref: '#/parameters/TransparentDataEncryptionNameParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TransparentDataEncryptionActivityListResult'
      tags:
        - TransparentDataEncryption
      x-ms-examples:
        List a database's transparent data encryption activities:
          parameters:
            api-version: '2014-04-01'
            databaseName: sqlcrudtest-9187
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
            transparentDataEncryptionName: current
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187/transparentDataEncryption/current/operationResults/current
                    location: West US
                    name: current
                    properties:
                      percentComplete: 100
                      status: Encrypting
                    type: Microsoft.Sql/servers/databases/transparentDataEncryption/operationResults
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools':
    get:
      description: Returns a list of elastic pools in a server.
      operationId: ElasticPools_ListByServer
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ElasticPoolListResult'
      tags:
        - ElasticPools
      x-ms-examples:
        List elastic pools:
          parameters:
            api-version: '2014-04-01'
            resourceGroupName: sqlcrudtest-2369
            serverName: sqlcrudtest-8069
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-2729
                    kind: null
                    location: Japan East
                    name: sqlcrudtest-2729
                    properties:
                      creationDate: '2017-02-10T01:27:21.32Z'
                      databaseDtuMax: 5
                      databaseDtuMin: 0
                      dtu: 50
                      edition: Basic
                      state: Ready
                      storageMB: 5000
                    type: Microsoft.Sql/servers/elasticPools
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-3191
                    kind: null
                    location: Japan East
                    name: sqlcrudtest-3191
                    properties:
                      creationDate: '2017-02-10T01:26:26.45Z'
                      databaseDtuMax: 5
                      databaseDtuMin: 0
                      dtu: 50
                      edition: Basic
                      state: Ready
                      storageMB: 5000
                    type: Microsoft.Sql/servers/elasticPools
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                    kind: null
                    location: Japan East
                    name: sqlcrudtest-8102
                    properties:
                      creationDate: '2017-02-10T01:25:25.033Z'
                      databaseDtuMax: 5
                      databaseDtuMin: 0
                      dtu: 50
                      edition: Basic
                      state: Ready
                      storageMB: 5000
                    type: Microsoft.Sql/servers/elasticPools
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}':
    delete:
      description: Deletes the elastic pool.
      operationId: ElasticPools_Delete
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the elastic pool to be deleted.
          in: path
          name: elasticPoolName
          required: true
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: Accepted
      tags:
        - ElasticPools
      x-ms-examples:
        Delete elastic pool:
          parameters:
            api-version: '2014-04-01'
            elasticPoolName: sqlcrudtest-3851
            resourceGroupName: sqlcrudtest-3129
            serverName: sqlcrudtest-228
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body: ''
            '204':
              body: ''
    get:
      description: Gets an elastic pool.
      operationId: ElasticPools_Get
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the elastic pool to be retrieved.
          in: path
          name: elasticPoolName
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ElasticPool'
      tags:
        - ElasticPools
      x-ms-examples:
        Get elastic pool:
          parameters:
            api-version: '2014-04-01'
            elasticPoolName: sqlcrudtest-8102
            resourceGroupName: sqlcrudtest-2369
            serverName: sqlcrudtest-8069
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                kind: null
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: '2017-02-10T01:25:25.033Z'
                  databaseDtuMax: 5
                  databaseDtuMin: 0
                  dtu: 50
                  edition: Basic
                  state: Ready
                  storageMB: 5000
                type: Microsoft.Sql/servers/elasticPools
    patch:
      description: Updates an existing elastic pool.
      operationId: ElasticPools_Update
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the elastic pool to be updated.
          in: path
          name: elasticPoolName
          required: true
          type: string
        - description: The required parameters for updating an elastic pool.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ElasticPoolUpdate'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ElasticPool'
        '202':
          description: Accepted
      tags:
        - ElasticPools
      x-ms-examples:
        Update elastic pool max:
          parameters:
            api-version: '2014-04-01'
            elasticPoolName: sqlcrudtest-8102
            parameters:
              properties:
                creationDate: '2017-02-10T01:25:25.033Z'
                databaseDtuMax: 5
                databaseDtuMin: 0
                dtu: 50
                edition: Basic
                state: Ready
                storageMB: 5000
            resourceGroupName: sqlcrudtest-2369
            serverName: sqlcrudtest-8069
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                kind: null
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: '2017-02-10T01:25:25.033Z'
                  databaseDtuMax: 5
                  databaseDtuMin: 0
                  dtu: 50
                  edition: Basic
                  state: Ready
                  storageMB: 5000
                type: Microsoft.Sql/servers/elasticPools
            '202': {}
        Update elastic pool min:
          parameters:
            api-version: '2014-04-01'
            elasticPoolName: sqlcrudtest-8102
            parameters: {}
            resourceGroupName: sqlcrudtest-2369
            serverName: sqlcrudtest-8069
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                kind: null
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: '2017-02-10T01:25:25.033Z'
                  databaseDtuMax: 5
                  databaseDtuMin: 0
                  dtu: 50
                  edition: Basic
                  state: Ready
                  storageMB: 5000
                type: Microsoft.Sql/servers/elasticPools
            '202': {}
      x-ms-long-running-operation: true
    put:
      description: Creates a new elastic pool or updates an existing elastic pool.
      operationId: ElasticPools_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the elastic pool to be operated on (updated or created).
          in: path
          name: elasticPoolName
          required: true
          type: string
        - description: The required parameters for creating or updating an elastic pool.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ElasticPool'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ElasticPool'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/ElasticPool'
        '202':
          description: Accepted
      tags:
        - ElasticPools
      x-ms-examples:
        Create elastic pool max:
          parameters:
            api-version: '2014-04-01'
            elasticPoolName: sqlcrudtest-8102
            parameters:
              location: Japan East
              properties:
                creationDate: '2017-02-10T01:25:25.033Z'
                databaseDtuMax: 5
                databaseDtuMin: 0
                dtu: 50
                edition: Basic
                state: Ready
                storageMB: 5000
            resourceGroupName: sqlcrudtest-2369
            serverName: sqlcrudtest-8069
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                kind: null
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: '2017-02-10T01:25:25.033Z'
                  databaseDtuMax: 5
                  databaseDtuMin: 0
                  dtu: 50
                  edition: Basic
                  state: Ready
                  storageMB: 5000
                type: Microsoft.Sql/servers/elasticPools
            '201':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                kind: null
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: '2017-02-10T01:25:25.033Z'
                  databaseDtuMax: 5
                  databaseDtuMin: 0
                  dtu: 50
                  edition: Basic
                  state: Ready
                  storageMB: 5000
                type: Microsoft.Sql/servers/elasticPools
            '202': {}
        Create elastic pool min:
          parameters:
            api-version: '2014-04-01'
            elasticPoolName: sqlcrudtest-8102
            parameters:
              location: Japan East
            resourceGroupName: sqlcrudtest-2369
            serverName: sqlcrudtest-8069
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                kind: null
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: '2017-02-10T01:25:25.033Z'
                  databaseDtuMax: 100
                  databaseDtuMin: 0
                  dtu: 100
                  edition: Standard
                  state: Ready
                  storageMB: 102400
                type: Microsoft.Sql/servers/elasticPools
            '201':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                kind: null
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: '2017-02-10T01:25:25.033Z'
                  databaseDtuMax: 100
                  databaseDtuMin: 0
                  dtu: 100
                  edition: Standard
                  state: Ready
                  storageMB: 102400
                type: Microsoft.Sql/servers/elasticPools
            '202': {}
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/databases':
    get:
      description: Returns a list of databases in an elastic pool.
      operationId: Databases_ListByElasticPool
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the elastic pool to be retrieved.
          in: path
          name: elasticPoolName
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DatabaseListResult'
      tags:
        - Databases
      x-ms-examples:
        Gets databases in an elastic pool:
          parameters:
            api-version: '2014-04-01'
            elasticPoolName: sqlcrudtest-7745
            resourceGroupName: sqlcrudtest-6845
            serverName: sqlcrudtest-7177
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/master
                    kind: 'v12.0,system'
                    location: Japan East
                    name: master
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: '2017-02-10T00:59:33.483Z'
                      currentServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                      databaseId: e760a51c-3dce-4d8c-976b-a2b929a73e08
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: null
                      edition: System
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: '32212254720'
                      readScale: Disabled
                      requestedServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                      requestedServiceObjectiveName: System2
                      sampleName: null
                      serviceLevelObjective: System2
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-1142
                    kind: 'v12.0,user'
                    location: Japan East
                    name: sqlcrudtest-1142
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: '2017-02-10T01:03:34.04Z'
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: 11c1813c-52db-4d17-95d7-119eda1850b1
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: '2017-02-10T01:14:10.233Z'
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: '268435456000'
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-2788
                    kind: 'v12.0,user'
                    location: Japan East
                    name: sqlcrudtest-2788
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: '2017-02-10T01:00:21.067Z'
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: d63e118b-41cf-49b9-8dac-aa6ef6f91731
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: '2017-02-10T01:10:52.25Z'
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: '268435456000'
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-6877
                    kind: 'v12.0,user'
                    location: Japan East
                    name: sqlcrudtest-6877
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: '2017-02-10T01:02:28.853Z'
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: 40ac16e8-855c-439c-b495-c97e918a771c
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: '2017-02-10T01:13:21.66Z'
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: '268435456000'
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-9888
                    kind: 'v12.0,user'
                    location: Japan East
                    name: sqlcrudtest-9888
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: '2017-02-10T01:01:25.347Z'
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: 59daf4ad-082f-4ac5-b38a-ed656b937980
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: '2017-02-10T01:12:05.303Z'
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: '268435456000'
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/databases/{databaseName}':
    get:
      description: Gets a database inside of an elastic pool.
      operationId: Databases_GetByElasticPool
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the elastic pool to be retrieved.
          in: path
          name: elasticPoolName
          required: true
          type: string
        - description: The name of the database to be retrieved.
          in: path
          name: databaseName
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Database'
      tags:
        - ElasticPools
      x-ms-examples:
        Get a database in an elastic pool:
          parameters:
            api-version: '2014-04-01'
            databaseName: sqlcrudtest-9187
            elasticPoolName: sqlcrudtest-7745
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
[...]
