swagger: '2.0'
schemes:
  - https
host: secure.agco-ats.com
x-hasEquivalentPaths: true
info:
  contact:
    x-twitter: AGCOcorp
  title: AGCO API
  version: v1
  x-apisguru-categories:
    - ecommerce
  x-logo:
    url: 'https://twitter.com/AGCOcorp/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://secure.agco-ats.com:443/swagger/docs/v1'
      version: '2.0'
  x-providerName: agco-ats.com
paths:
  /api/v2/AftermarketServices/Certificates:
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: AftermarketServices_GetCerts
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: No Documentation Found.
      tags:
        - AftermarketServices
  '/api/v2/AftermarketServices/ECUs/{serialNumber}':
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: AftermarketServices_PutECU
      parameters:
        - description: The serial number of the ECU.
          in: path
          name: serialNumber
          required: true
          type: string
        - description: The ecu to modify.
          in: body
          name: ECU
          required: true
          schema:
            $ref: '#/definitions/AGCOPowerServices.Models.ECU'
        - description: The EDT Instance Id of the kit calling this method.
          in: query
          name: EDTInstanceId
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AGCOPowerServices.Models.ECU'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: 'Activate or Deactivate an ECU, or Report an ECU as Damaged.'
      tags:
        - AftermarketServices
  '/api/v2/AftermarketServices/Engines/{serialNumber}/IQACodes':
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: AftermarketServices_GetEngineIQACodes
      parameters:
        - description: The serial number of the engine.
          in: path
          name: serialNumber
          required: true
          type: string
        - description: The EDT Instance Id of the kit calling this method.
          in: query
          name: EDTInstanceId
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              type: string
            type: array
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get injector codes given engine.
      tags:
        - AftermarketServices
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: AftermarketServices_PutIQACodes
      parameters:
        - description: The serial number of the Engine
          in: path
          name: serialNumber
          required: true
          type: string
        - description: A string array of IQA codes in physical order
          in: body
          name: IQACodes
          required: true
          schema:
            items:
              type: string
            type: array
        - description: The EDT Instance Id of the kit calling this method.
          in: query
          name: EDTInstanceId
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: boolean
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Report the IQA codes used by an engine
      tags:
        - AftermarketServices
  '/api/v2/AftermarketServices/Engines/{serialNumber}/ProductionData':
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: AftermarketServices_GetProductionData
      parameters:
        - description: The serial number of the engine.
          in: path
          name: serialNumber
          required: true
          type: string
        - description: The EDT Instance Id of the kit calling this method.
          in: query
          name: EDTInstanceId
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/AGCOPowerServices.Models.ProductionData'
            type: array
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get production calibration data for given engine.
      tags:
        - AftermarketServices
  /api/v2/AftermarketServices/Hello:
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: AftermarketServices_GetConnectionStatus
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: boolean
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Check whether there is connectivity to AGCO Power Web Services
      tags:
        - AftermarketServices
  /api/v2/AftermarketServices/UserStatuses:
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: AftermarketServices_GetUserStatus
      parameters:
        - in: query
          name: voucherCode
          required: true
          type: string
        - in: query
          name: dealerCode
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AGCOPowerServices.Models.UserStatus'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Retrieve the status of an EDT Kit Registration with AGCO Power Web Services
      tags:
        - AftermarketServices
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: AftermarketServices_UpdateUserStatus
      parameters:
        - in: body
          name: userStatus
          required: true
          schema:
            $ref: '#/definitions/AGCOPowerServices.Models.UserStatus'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: boolean
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Update the status of an EDT Kit Registration with AGCO Power Web Services
      tags:
        - AftermarketServices
  '/api/v2/AuthenticatedUsers/{UserID}/Tokens':
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: Authentication_PutManageTokens
      parameters:
        - format: int32
          in: path
          name: UserID
          required: true
          type: integer
        - description: The options for token management.
          in: body
          name: tokenOptions
          required: true
          schema:
            $ref: '#/definitions/API.Models.TokenOptions'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Manage API tokens.
      tags:
        - Authentication
  /api/v2/Authentication:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: Authentication_Default
      parameters:
        - description: Create a user account.
          in: body
          name: credentials
          required: true
          schema:
            $ref: '#/definitions/API.Models.Credentials'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.Models.AuthenticatedUser'
      summary: Authenticate a user.
      tags:
        - Authentication
  /api/v2/Authentication/IsAlive:
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Authentication_IsAlive
      produces: []
      responses:
        '204':
          description: No Content
      summary: Acknowledges the connection to the API
      tags:
        - Authentication
  /api/v2/Authentication/RequestPasswordReset:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: Authentication_RequestPasswordReset
      parameters:
        - description: The password reset request.
          in: body
          name: passwordResetRequest
          required: true
          schema:
            $ref: '#/definitions/API.Models.PasswordResetRequest'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Request a password reset.
      tags:
        - Authentication
  /api/v2/Authentication/ResetPasword:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: Authentication_ResetPasword
      parameters:
        - description: The password reset detail.
          in: body
          name: passwordReset
          required: true
          schema:
            $ref: '#/definitions/API.Models.PasswordReset'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Reset a password
      tags:
        - Authentication
  /api/v2/AuthorizationCodeDefinitions:
    get:
      consumes: []
      deprecated: false
      description: 'Additional searches: validationFields[Name]=true and dataFields[Name]=true. These can be used to search for authorization code definitions that have the specified data or validation fields.'
      parameters:
        - description: 'Optional. The page limit.  If not specified, the default page limit is 10.'
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: 'Optional. The page offset.  If not specified, the default page offset is 0.'
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: 'Optional. If specified, filters definitions by name. Starting and ending wildcards (*) supported.'
          in: query
          name: name
          required: false
          type: string
        - description: 'Optional. If specified, filters definitions to those created by the given User ID.'
          format: int32
          in: query
          name: createdByUserID
          required: false
          type: integer
        - description: 'Optional. If specified, filters definitions to those deleted by the given User ID.'
          format: int32
          in: query
          name: deletedByUserID
          required: false
          type: integer
        - description: Optional. Whether to include deleted definitions. 'False' by default.
          in: query
          name: includeDeleted
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.IPagedResponse[AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get authorization code definitions.
      tags:
        - AuthorizationCodeDefinitions
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: AuthorizationCodeDefinitions_PostAuthorizationCodeDefinition
      parameters:
        - description: An authorization code definition.
          in: body
          name: authorizationCodeDefinition
          required: true
          schema:
            $ref: '#/definitions/AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: string
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Add an authorization code definition.
      tags:
        - AuthorizationCodeDefinitions
  '/api/v2/AuthorizationCodeDefinitions/{id}':
    delete:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: AuthorizationCodeDefinitions_DeleteAuthorizationCodeDefinition
      parameters:
        - description: The ID of the authorization code definition.
          in: path
          name: id
          required: true
          type: string
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Disable an authorization code definition
      tags:
        - AuthorizationCodeDefinitions
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      parameters:
        - description: The ID of the authorization code definition.
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get an authorization code definition by its ID
      tags:
        - AuthorizationCodeDefinitions
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: AuthorizationCodeDefinitions_PutAuthorizationCodeDefinition
      parameters:
        - description: The ID of the authorization code definition.
          in: path
          name: id
          required: true
          type: string
        - description: An authorization code definition.
          in: body
          name: authorizationCodeDefinition
          required: true
          schema:
            $ref: '#/definitions/AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition'
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Update an authorization code definition
      tags:
        - AuthorizationCodeDefinitions
  /api/v2/AuthorizationCodes:
    get:
      consumes: []
      deprecated: false
      description: 'Additional searches: validationParameters[Name]=Value and dataParameters[Name]=Value. These can be used to search for authorization codes that have been generated using specified values for data or validation parameters.'
      operationId: AuthorizationCodes_GetAuthorizationCodes
      parameters:
        - description: 'Optional. If provided, searches for entities with the provided authorization code.'
          in: query
          name: code
          required: false
          type: string
        - description: 'Optional. The page limit.  If not specified, the default page limit is 10.'
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: 'Optional. The page offset.  If not specified, the default page offset is 0.'
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: 'Optional. If specified, filters codes by definition id.'
          in: query
          name: definitionID
          required: false
          type: string
        - description: 'Optional. If specified, filters codes to those created by the given User ID.'
          format: int32
          in: query
          name: createdByUserID
          required: false
          type: integer
        - description: 'Optional. If specified, filters codes to those deleted by the given User ID.'
          format: int32
          in: query
          name: deletedByUserID
          required: false
          type: integer
        - description: Optional. Whether to include deleted codes. 'False' by default.
          in: query
          name: includeDeleted
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.IPagedResponse[AuthorizationCodes.Shared.Models.AuthorizationCode]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get authorization codes.
      tags:
        - AuthorizationCodes
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: AuthorizationCodes_PostAuthorizationCode
      parameters:
        - description: The model from which to generate an authorization code.
          in: body
          name: authorizationCode
          required: true
          schema:
            $ref: '#/definitions/AuthorizationCodes.Shared.Models.AuthorizationCode'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Generates an authorization code using the provided definition and parameters.
      tags:
        - AuthorizationCodes
  '/api/v2/AuthorizationCodes/{id}':
    delete:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: AuthorizationCodes_DeleteAuthorizationCode
      parameters:
        - description: The id of the authorization code.
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Hide an authorization code.
      tags:
        - AuthorizationCodes
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: AuthorizationCodes_GetAuthorizationCode
      parameters:
        - description: The id of the authorization code.
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AuthorizationCodes.Shared.Models.AuthorizationCode'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get an authorization code by its ID.
      tags:
        - AuthorizationCodes
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: AuthorizationCodes_PutAuthorizationCode
      parameters:
        - description: The id of the authorization code.
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: The model from which to update an authorization code.
          in: body
          name: authorizationCode
          required: true
          schema:
            $ref: '#/definitions/AuthorizationCodes.Shared.Models.AuthorizationCode'
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Update an authorization code.
      tags:
        - AuthorizationCodes
  /api/v2/Brands:
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Brands_Brands
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              type: string
            type: array
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Gets a list of Brands.
      tags:
        - Brands
  /api/v2/Bundles:
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Bundles_GetBundles
      parameters:
        - description: Optional. Filter by UpdateGroup ID.
          in: query
          name: UpdateGroupID
          required: false
          type: string
        - description: Optional. Filter by active status.
          in: query
          name: Active
          required: false
          type: boolean
        - description: Optional. The page limit. The default page limit is 10.
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: Optional. The page offset. The default page offset is 0.
          format: int32
          in: query
          name: offset
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.PagedResponse[UpdateSystem.Models.Bundle]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get the list of bundles.
      tags:
        - Bundles
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: Bundles_PostBundle
      parameters:
        - description: The bundle to add
          in: body
          name: bundle
          required: true
          schema:
            $ref: '#/definitions/UpdateSystem.Models.Bundle'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: string
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Add a Bundle to the Update System.
      tags:
        - Bundles
  '/api/v2/Bundles/{ID}':
    delete:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Bundles_DeleteBundle
      parameters:
        - description: The Bundle ID to Delete
          in: path
          name: ID
          required: true
          type: string
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Delete a Bundle.
      tags:
        - Bundles
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Bundles_GetBundle
      parameters:
        - description: The Bundle ID
          in: path
          name: ID
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UpdateSystem.Models.Bundle'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get a specific Bundle by ID.
      tags:
        - Bundles
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: Bundles_PutBundle
      parameters:
        - description: The unique ID of the Bundle
          in: path
          name: ID
          required: true
          type: string
        - description: The bundle to modify
          in: body
          name: bundle
          required: true
          schema:
            $ref: '#/definitions/UpdateSystem.Models.Bundle'
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Modify a Bundle in the Update System.
      tags:
        - Bundles
  /api/v2/Clients:
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      parameters:
        - description: Optional. Filter clients by Tag. Wildcards are supported (*).
          in: query
          name: Tag
          required: false
          type: string
        - description: Optional. The page limit. The default page limit is 10.
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: Optional. The page offset. The default page offset is 0.
          format: int32
          in: query
          name: offset
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.PagedResponse[UpdateSystem.Models.Client]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get a List of Clients in the Update System.
      tags:
        - Clients
  '/api/v2/Clients/{ClientID}/CachedFiles':
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: UpdateSystem_GetCachedFiles
      parameters:
        - description: The ClientID of the Client
          in: path
          name: ClientID
          required: true
          type: string
        - description: Only Expired Files (true|false)
          in: query
          name: Expired
          required: true
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              type: string
            type: array
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get a list of Cached Files installed on the client Machine.
      tags:
        - UpdateSystem
  '/api/v2/Clients/{ClientID}/PackageReports':
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      parameters:
        - description: The Client ID
          in: path
          name: ClientID
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/UpdateSystem.Models.PackageReport'
            type: array
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get the package reports for a client.
      tags:
        - PackageReports
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      parameters:
        - description: The Client ID
          in: path
          name: ClientID
          required: true
          type: string
        - description: The Package Report
          in: body
          name: packageReport
          required: true
          schema:
            $ref: '#/definitions/UpdateSystem.Models.PackageReport'
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Submit a package report
      tags:
        - PackageReports
  '/api/v2/Clients/{ClientID}/PackageReports/Batch':
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: PackageReports_Batch
      parameters:
        - description: The Client ID
          in: path
          name: ClientID
          required: true
          type: string
        - description: The Package Reports
          in: body
          name: packageReports
          required: true
          schema:
            items:
              $ref: '#/definitions/UpdateSystem.Models.PackageReport'
            type: array
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Submit a batch of package reports
      tags:
        - PackageReports
  '/api/v2/Clients/{ID}':
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      parameters:
        - description: The Client ID
          in: path
          name: ID
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UpdateSystem.Models.Client'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get a Client in the Update System.
      tags:
        - Clients
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: Clients_Put
      parameters:
        - description: The Client ID
          in: path
          name: ID
          required: true
          type: string
        - description: Updated Client Object.
          in: body
          name: client
          required: true
          schema:
            $ref: '#/definitions/UpdateSystem.Models.Client'
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Update a Client.
      tags:
        - Clients
  '/api/v2/Clients/{ID}/AvailableUpdateGroupSubscriptions':
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Clients_GetAvailableSubscriptions
      parameters:
        - description: The Client ID
          in: path
          name: ID
          required: true
          type: string
        - description: Optional. Filter by Update Group.
          in: query
          name: UpdateGroupID
          required: false
          type: string
        - description: Optional. The page limit. The default page limit is 10.
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: Optional. The page offset. The default page offset is 0.
          format: int32
          in: query
          name: offset
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.PagedResponse[UpdateSystem.Models.AvailableUpdateGroupSubscription]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get a Client's Available Update Group Subscriptions
      tags:
        - Clients
  '/api/v2/Clients/{ID}/UpdateGroupSubscriptions':
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Clients_GetSubscriptions
      parameters:
        - description: The Client ID
          in: path
          name: ID
          required: true
          type: string
        - description: Optional. Filter by Update Group.
          in: query
          name: UpdateGroupID
          required: false
          type: string
        - description: Optional. The page limit. The default page limit is 10.
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: Optional. The page offset. The default page offset is 0.
          format: int32
          in: query
          name: offset
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.PagedResponse[UpdateSystem.Models.UpdateGroupSubscription]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get a Client's Current Update Group Subscriptions
      tags:
        - Clients
  /api/v2/ContentDefinitions:
    get:
      consumes: []
      deprecated: false
      description: "Gets a collection of ContentDefinitions. When successful, the response is a PagedResponse of ContentDefinitions.\r\n            If unsuccessful, an appropriate ApiError is returned."
      operationId: ContentDefinitions_GetContentDefinitions
      parameters:
        - description: 'Optional. The page limit.  If not specified, the default page limit is 10.'
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: 'Optional. The page offset.  If not specified, the default page offset is 0.'
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Optional. Filter by UserID.
          format: int32
          in: query
          name: userID
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.PagedResponse[ContentSubmission.Shared.BusinessEntities.ContentDefinition]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get ContentDefinitions
      tags:
        - ContentDefinitions
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "Creates a ContentDefinition.  The body of the POST is the ContentDefinition to create.\r\n            The ContentDefinitionID will be assigned on creation of the Job.  When successful, the response\r\n            is the JobID.  If unsuccessful, an appropriate ApiError is returned."
      operationId: ContentDefinitions_PostContentDefinition
      parameters:
        - description: The ContentDefinition to create.
          in: body
          name: contentDefinition
          required: true
          schema:
            $ref: '#/definitions/ContentSubmission.Shared.BusinessEntities.ContentDefinition'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Create a ContentDefinition
      tags:
        - ContentDefinitions
  '/api/v2/ContentDefinitions/{contentDefinitionID}':
    delete:
      consumes: []
      deprecated: false
      description: "Deletes an ContentDefinition. When successful, the response is empty.  If unsuccessful, an appropriate\r\n            ApiError is returned."
      operationId: ContentDefinitions_DeleteContentDefinition
      parameters:
        - description: The ID of the ContentDefinition to delete
          format: int32
          in: path
          name: contentDefinitionID
          required: true
          type: integer
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Delete a ContentDefinition
      tags:
        - ContentDefinitions
    get:
      consumes: []
      deprecated: false
      description: "Gets a ContentDefinition by ID. When successful, the response is the requested ContentDefinition.\r\n            If unsuccessful, an appropriate ApiError is returned."
      operationId: ContentDefinitions_GetContentDefinition
      parameters:
        - description: The ID of the ContentDefinition to get.
          format: int32
          in: path
          name: contentDefinitionID
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ContentSubmission.Shared.BusinessEntities.ContentDefinition'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get a ContentDefinition by ID
      tags:
        - ContentDefinitions
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "Updates a ContentDefinition.  The body of the PUT is the updated ContentDefinition.  \r\n            When successful, the response is empty.  If unsuccessful, an appropriate ApiError is returned."
      operationId: ContentDefinitions_PutContentDefinition
      parameters:
        - description: The ID of the ContentDefinition to update
          format: int32
          in: path
          name: contentDefinitionID
          required: true
          type: integer
        - description: The updated ContentDefinition
          in: body
          name: contentDefinition
          required: true
          schema:
            $ref: '#/definitions/ContentSubmission.Shared.BusinessEntities.ContentDefinition'
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Update a ContentDefinition
      tags:
        - ContentDefinitions
  /api/v2/ContentReleases:
    get:
      consumes: []
      deprecated: false
      description: "Gets a collection of ContentReleaseVersion. When successful, the response is a PagedResponse of ContentReleaseVersion.\r\n            If unsuccessful, an appropriate ApiError is returned."
      parameters:
        - description: 'Optional. The page limit.  If not specified, the default page limit is 10.'
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: 'Optional. The page offset.  If not specified, the default page offset is 0.'
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Optional. Filter by deleted.
          in: query
          name: deleted
          required: false
          type: boolean
        - description: Optional. Filter by releaseID.
          format: int32
          in: query
          name: releaseID
          required: false
          type: integer
        - description: Optional. Filter by UserID.
          format: int32
          in: query
          name: userId
          required: false
          type: integer
        - description: Optional. Filter by ContentDefinitionID.
          format: int32
          in: query
          name: contentDefinitionID
          required: false
          type: integer
        - description: Optional. Filter by Version.
          format: int32
          in: query
          name: version
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.PagedResponse[ContentSubmission.Shared.BusinessEntities.ContentReleaseVersion]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get ContentReleaseVersion
      tags:
        - ContentRelease
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "Creates a ContentReleaseVersion.  The body of the POST is the ContentReleaseVersion to create.\r\n            The ContentReleaseId will be assigned on creation of the Job.  When successful, the response\r\n            is the contentReleaseId.  If unsuccessful, an appropriate ApiError is returned."
      operationId: ContentRelease_PostContentRelease
      parameters:
        - description: The ContentReleaseVersion to create.
          in: body
          name: contentReleaseVersion
          required: true
          schema:
            $ref: '#/definitions/ContentSubmission.Shared.BusinessEntities.ContentReleaseVersion'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Create a ContentReleaseVersion
      tags:
        - ContentRelease
  '/api/v2/ContentReleases/{ContentReleaseId}':
    delete:
      consumes: []
      deprecated: false
      description: "Deletes an ContentReleaseVersion. When successful, the response is empty.  If unsuccessful, an appropriate\r\n            ApiError is returned."
      operationId: ContentRelease_DeleteContentReleaseVersionn
      parameters:
        - description: The ID of the ContentReleaseVersion to delete
          format: int32
          in: path
          name: ContentReleaseId
          required: true
          type: integer
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Delete a ContentReleaseVersion
      tags:
        - ContentRelease
    get:
      consumes: []
      deprecated: false
      description: "Gets a ContentReleaseVersion by ID. When successful, the response is the requested ContentReleaseVersion.\r\n            If unsuccessful, an appropriate ApiError is returned."
      parameters:
        - description: The ID of the ContentReleaseVersion to get.
          format: int32
          in: path
          name: ContentReleaseId
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ContentSubmission.Shared.BusinessEntities.ContentReleaseVersion'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get a Content Release Version by ID
      tags:
        - ContentRelease
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "Updates a ContentReleaseVersion.  The body of the PUT is the updated ContentReleaseVersion.  \r\n            When successful, the response is empty.  If unsuccessful, an appropriate ApiError is returned."
      operationId: ContentRelease_PutContentDefinition
      parameters:
        - description: The ID of the ContentReleaseVersion to update
          format: int32
          in: path
          name: ContentReleaseId
          required: true
          type: integer
        - description: The updated ContentReleaseVersion
          in: body
          name: contentReleaseVersion
          required: true
          schema:
            $ref: '#/definitions/ContentSubmission.Shared.BusinessEntities.ContentReleaseVersion'
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Update a ContentReleaseVersion
      tags:
        - ContentRelease
  /api/v2/ContentSubmissionTypes:
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: ContentSubmissionTypes_GetContentSubmissionTypes
      parameters:
        - in: query
          name: enabled
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/ContentSubmission.Shared.BusinessEntities.ContentSubmissionType'
            type: array
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Returns available Content Submission Types.
      tags:
        - ContentSubmissionTypes
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: ContentSubmissionTypes_PostContentSubmissionType
      parameters:
        - description: The Content Submission Type
          in: body
          name: contentSubmissionType
          required: true
          schema:
            $ref: '#/definitions/ContentSubmission.Shared.BusinessEntities.ContentSubmissionType'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Add a Content Submission Type
      tags:
        - ContentSubmissionTypes
  '/api/v2/ContentSubmissionTypes/{id}':
    delete:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: ContentSubmissionTypes_DeleteContentSubmissionType
      parameters:
        - description: The ID of the Content Submission Type
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Remove a Content Submission Type
      tags:
        - ContentSubmissionTypes
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: ContentSubmissionTypes_GetContentSubmissionType
      parameters:
        - description: The ID of the Content Submission Type
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ContentSubmission.Shared.BusinessEntities.ContentSubmissionType'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Retrieves a Content Submission Type by its ID.
      tags:
        - ContentSubmissionTypes
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: ContentSubmissionTypes_PutContentSubmissionType
      parameters:
        - description: The ID of the Content Submission Type
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: The Content Submission Type
          in: body
          name: contentSubmissionType
          required: true
          schema:
            $ref: '#/definitions/ContentSubmission.Shared.BusinessEntities.ContentSubmissionType'
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Update a Content Submission Type
      tags:
        - ContentSubmissionTypes
  /api/v2/ContentSubmissions:
    get:
      consumes: []
      deprecated: false
      description: "Gets a collection of ContentSubmissions. When successful, the response is a PagedResponse of ContentSubmissions.\r\n            If unsuccessful, an appropriate ApiError is returned."
      operationId: ContentSubmissions_GetContentSubmissions
      parameters:
        - description: 'Optional. The page limit.  If not specified, the default page limit is 10.'
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: 'Optional. The page offset.  If not specified, the default page offset is 0.'
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Optional. Filter by UserID.
          format: int32
          in: query
          name: userID
          required: false
          type: integer
        - description: Optional. Filter by ContentDefinitionID
          format: int32
          in: query
          name: contentDefinitionID
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.PagedResponse[ContentSubmission.Shared.BusinessEntities.ContentSubmission]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get ContentSubmissions
      tags:
        - ContentSubmissions
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "Creates a ContentSubmission.  The body of the POST is the ContentSubmission to create.\r\n            The ContentSubmissionID will be assigned on creation of the Job.  When successful, the response\r\n            is the ContentSubmissionID.  If unsuccessful, an appropriate ApiError is returned."
      operationId: ContentSubmissions_PostContentSubmission
      parameters:
        - description: The ContentSubmission to create.
          in: body
          name: contentSubmission
          required: true
          schema:
            $ref: '#/definitions/ContentSubmission.Shared.BusinessEntities.ContentSubmission'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Create a ContentSubmission
      tags:
        - ContentSubmissions
  '/api/v2/ContentSubmissions/{contentSubmissionID}':
    delete:
      consumes: []
      deprecated: false
      description: "Deletes an ContentSubmission. When successful, the response is empty.  If unsuccessful, an appropriate\r\n            ApiError is returned."
      operationId: ContentSubmissions_DeleteContentSubmission
      parameters:
        - description: The ID of the ContentSubmission to delete
          format: int32
          in: path
          name: contentSubmissionID
          required: true
          type: integer
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Delete a ContentSubmission
      tags:
        - ContentSubmissions
    get:
      consumes: []
      deprecated: false
      description: "Gets a ContentSubmission by ID. When successful, the response is the requested ContentSubmission.\r\n            If unsuccessful, an appropriate ApiError is returned."
      operationId: ContentSubmissions_GetContentSubmission
      parameters:
        - description: The ID of the ContentSubmission to get.
          format: int32
          in: path
          name: contentSubmissionID
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ContentSubmission.Shared.BusinessEntities.ContentSubmission'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get a ContentSubmission by ID
      tags:
        - ContentSubmissions
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "Updates a ContentSubmission.  The body of the PUT is the updated ContentSubmission.  \r\n            When successful, the response is empty.  If unsuccessful, an appropriate ApiError is returned."
      operationId: ContentSubmissions_PutContentSubmission
      parameters:
        - description: The ID of the ContentSubmission to update
          format: int32
          in: path
          name: contentSubmissionID
          required: true
          type: integer
        - description: The updated ContentSubmission
          in: body
          name: contentSubmission
          required: true
          schema:
            $ref: '#/definitions/ContentSubmission.Shared.BusinessEntities.ContentSubmission'
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Update a ContentSubmission
      tags:
        - ContentSubmissions
  /api/v2/DealerByCountry:
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: DealerByCountry_GetCountries
      parameters:
        - description: Optional. The page limit. The default page limit is 10.
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: Optional. The page offset. The default page offset is 0.
          format: int32
          in: query
          name: offset
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.PagedResponse[DealerDB.Models.DealersPerCountry]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get a total count of dealers per country
      tags:
        - DealerByCountry
  /api/v2/Dealers:
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Dealers_GetDealers
      parameters:
        - description: The brand to filter by.
          in: query
          name: Brand
          required: false
          type: string
        - description: The country to filter by.
          in: query
          name: ShippingCountry
          required: false
          type: string
        - description: The partial Dealer Name to filter by. Wildcard supported (*).
          in: query
          name: DealerName
          required: false
          type: string
        - description: Optional. The page limit. The default page limit is 10.
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: Optional. The page offset. The default page offset is 0.
          format: int32
          in: query
          name: offset
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.PagedResponse[DealerDB.Models.Dealer]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get a list of dealers.
      tags:
        - Dealers
  '/api/v2/Dealers/{DealerCode}':
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Dealers_GetDealerbyDealerCode
      parameters:
        - description: The Dealer Code to Search for
          in: path
          name: DealerCode
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DealerDB.Models.Dealer'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Lookup a dealer using a dealer code.
      tags:
        - Dealers
  /api/v2/LicenseActivations:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: LicenseActivations_Post
      parameters:
        - description: The data required for creating the license.
          in: body
          name: licenseActivationCreate
          required: true
          schema:
            $ref: '#/definitions/DealerDB.Models.LicenseActivationCreate'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DealerDB.Models.LicenseActivation'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Create a license activation.
      tags:
        - LicenseActivations
  /api/v2/LicenseActivations/RegisterEDTLite:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: LicenseActivations_PostRegisterEDTLite
      parameters:
        - description: The information required for registration.
          in: body
          name: edtLiteRegistration
          required: true
          schema:
            $ref: '#/definitions/DealerDB.Models.EDTLiteRegistration'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: boolean
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Register an EDT Lite with the Server
      tags:
        - LicenseActivations
  '/api/v2/LicenseActivations/{ID}':
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: LicenseActivations_Put
      parameters:
        - description: The ID of the license.
          in: path
          name: ID
          required: true
          type: string
        - description: The data required for updating the license.
          in: body
          name: licenseActivationUpdate
          required: true
          schema:
            $ref: '#/definitions/DealerDB.Models.LicenseActivationUpdate'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DealerDB.Models.LicenseActivation'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Update a license activiation.
      tags:
        - LicenseActivations
  '/api/v2/LicenseActivations/{ID}/Confirm':
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: LicenseActivations_PutConfirm
      parameters:
        - description: The ID of the license
          in: path
          name: ID
          required: true
          type: string
        - description: The license data.
          in: body
          name: licenseActivationConfirm
          required: true
          schema:
            $ref: '#/definitions/DealerDB.Models.LicenseActivationConfirm'
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Confirm that the client has applied the updated license.
      tags:
        - LicenseActivations
  /api/v2/Licenses:
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      parameters:
        - description: Optional. Filter by VoucherCode
          in: query
          name: VoucherCode
          required: false
          type: string
        - description: Optional. Filter by DealerCode
          in: query
          name: DealerCode
          required: false
          type: string
        - description: Optional. Filter by Status.  By default only active licenses will be returned.
          enum:
            - Active
            - Inactive
            - All
          in: query
          name: Status
          required: false
          type: string
        - description: Optional. The page limit. The default page limit is 10.
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: Optional. The page offset. The default page offset is 0.
          format: int32
          in: query
          name: offset
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.PagedResponse[DealerDB.Models.License]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Gets a list of licenses with the specified criteria.
      tags:
        - Licenses
  '/api/v2/Licenses/{ID}':
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      parameters:
        - description: The ID of the license to get.
          in: path
          name: ID
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DealerDB.Models.License'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get a license.
      tags:
        - Licenses
  /api/v2/Logs:
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Logs_GetLogs
      parameters:
        - description: Optional. The page limit. The default page limit is 10.
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: Optional. The page offset. The default page offset is 0.
          format: int32
          in: query
          name: offset
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.PagedResponse[API.Models.Log]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: 'Get the API System logs, most recent first.'
      tags:
        - Logs
    post:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Logs_PostLog
      parameters:
        - description: Message to enter into the log
          in: query
          name: Message
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: string
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Add a Log entry
      tags:
        - Logs
  '/api/v2/Logs/{ID}':
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Logs_GetLog
      parameters:
        - description: The Log ID
          in: path
          name: ID
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.Models.Log'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get a log by ID
      tags:
        - Logs
  /api/v2/Notifications:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: Notifications_PostMail
      parameters:
        - description: The Notification Object.
          in: body
          name: Notification
          required: true
          schema:
            $ref: '#/definitions/API.Models.Notification'
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Sends an email message.
      tags:
        - Notifications
  /api/v2/PackageTypes:
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      parameters:
        - description: Optional. The page limit. The default page limit is 10.
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: Optional. The page offset. The default page offset is 0.
          format: int32
          in: query
          name: offset
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.PagedResponse[UpdateSystem.Models.PackageType]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get all of the Package Types.
      tags:
        - PackageTypes
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: PackageTypes_Post
      parameters:
        - description: The Package Type to add
          in: body
          name: PackageType
          required: true
          schema:
            $ref: '#/definitions/UpdateSystem.Models.PackageType'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: string
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Add a Package Type.
      tags:
        - PackageTypes
  '/api/v2/PackageTypes/{ID}':
    delete:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: PackageTypes_Delete
      parameters:
        - description: The Package Type ID
          in: path
          name: ID
          required: true
          type: string
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Delete a Package Type.
      tags:
        - PackageTypes
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      parameters:
        - description: The Package Type ID
          in: path
          name: ID
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UpdateSystem.Models.PackageType'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get a specific Package Type.
      tags:
        - PackageTypes
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: PackageTypes_Put
      parameters:
        - description: The ID of the Package Type
          in: path
          name: ID
          required: true
          type: string
        - description: The Package Type to update
          in: body
          name: PackageType
          required: true
          schema:
            $ref: '#/definitions/UpdateSystem.Models.PackageType'
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Modify a Package Type.
      tags:
        - PackageTypes
  /api/v2/PackageTypetoBundles:
    delete:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: PackageTypetoBundles_Delete
      parameters:
        - description: The BundleID
          in: query
          name: BundleID
          required: true
          type: string
        - description: The PackageTypeID
          in: query
          name: PackageTypeID
          required: true
          type: string
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Delete a Package Type to Bundle Relationship.
      tags:
        - PackageTypetoBundles
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: PackageTypetoBundles_Get
      parameters:
        - description: Optional. Filter by BundleID.
          in: query
          name: BundleID
          required: false
          type: string
        - description: Optional. The page limit. The default page limit is 10.
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: Optional. The page offset. The default page offset is 0.
          format: int32
          in: query
          name: offset
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.PagedResponse[UpdateSystem.Models.PackageTypeIDtoBundle]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get all of the Package Type to Bundle Relationships.
      tags:
        - PackageTypetoBundles
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: PackageTypetoBundles_Post
      parameters:
        - description: The PackageTypeToBundle to add.
          in: body
          name: PackageTypeToBundle
          required: true
          schema:
            $ref: '#/definitions/UpdateSystem.Models.PackageTypeIDtoBundle'
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Add a new Package Type ID to Bundle Relationship.
      tags:
        - PackageTypetoBundles
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: PackageTypetoBundles_Put
      parameters:
        - description: The PackageTypeToBundle to update.
          in: body
          name: PackageTypeToBundle
          required: true
          schema:
            $ref: '#/definitions/UpdateSystem.Models.PackageTypeIDtoBundle'
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Update a Package Type ID to Bundle Relationship.
      tags:
        - PackageTypetoBundles
  /api/v2/Packages:
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Packages_GetPackages
      parameters:
        - description: Optional. The page limit. The default page limit is 10.
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: Optional. The page offset. The default page offset is 0.
          format: int32
          in: query
          name: offset
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.PagedResponse[UpdateSystem.Models.Package]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: List Packages.
      tags:
        - Packages
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: Packages_PostPackage
      parameters:
        - description: The package to add.
          in: body
          name: package
          required: true
          schema:
            $ref: '#/definitions/UpdateSystem.Models.Package'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: string
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Add a Packge to the Update System.
      tags:
        - Packages
  '/api/v2/Packages/{ID}':
    delete:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Packages_DeletePackage
      parameters:
        - description: The Package ID to Delete
          in: path
          name: ID
          required: true
          type: string
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Delete a Package.
      tags:
        - Packages
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Packages_GetPackage
      parameters:
        - description: The Package ID to Search for
          in: path
          name: ID
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UpdateSystem.Models.Package'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Find a Package.
      tags:
        - Packages
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: Packages_PutPackage
      parameters:
        - description: The unique ID of the Package
          in: path
          name: ID
          required: true
          type: string
        - description: The package to update.
          in: body
          name: package
          required: true
          schema:
            $ref: '#/definitions/UpdateSystem.Models.Package'
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Modify a Packge to the Update System.
      tags:
        - Packages
  /api/v2/Permissions:
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Permissions_GetPermissions
      parameters:
        - description: Optional. The page limit. The default page limit is 10.
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: Optional. The page offset. The default page offset is 0.
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Filter by permission name. Supports ending wildcard (*). Optional.
          in: query
          name: name
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.PagedResponse[API.Models.Permission]'
      summary: List Permissions
      tags:
        - Permissions
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: Permissions_PostPermission
      parameters:
        - description: Permission to add
          in: body
          name: permission
          required: true
          schema:
            $ref: '#/definitions/API.Models.Permission'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
      summary: Adds a Permission
      tags:
        - Permissions
  '/api/v2/Permissions/{id}':
    delete:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Permissions_DeletePermission
      parameters:
        - description: Id of Permission
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces: []
      responses:
        '204':
          description: No Content
      summary: Deletes a Permission
      tags:
        - Permissions
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Permissions_GetPermission
      parameters:
        - description: Id of Permission
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.Models.Permission'
      summary: Gets a Permission
      tags:
        - Permissions
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: Permissions_PutPermission
      parameters:
        - description: Id of Permission
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: The Updated Permission
          in: body
          name: permission
          required: true
          schema:
            $ref: '#/definitions/API.Models.Permission'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Updates a Permission
      tags:
        - Permissions
  /api/v2/PriorityPackages:
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: PriorityPackages_GetPriorityPackages
      parameters:
        - description: Optional. Filter priority packages by ClientID.
          in: query
          name: ClientID
          required: false
          type: string
        - description: Optional. Filter returned packages by status. By default only active packages will be returned.
          enum:
            - Active
            - Completed
            - All
          in: query
          name: Status
          required: false
          type: string
        - description: Optional. The page limit. The default page limit is 10.
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: Optional. The page offset. The default page offset is 0.
          format: int32
          in: query
          name: offset
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.PagedResponse[UpdateSystem.Models.PriorityPackage]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get a list of Priority Packages by Client.
      tags:
        - PriorityPackages
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: No Documentation Found.
      operationId: PriorityPackages_PostPriorityPackages
      parameters:
        - description: The PriorityPackage to add
          in: body
          name: Package
          required: true
          schema:
            $ref: '#/definitions/UpdateSystem.Models.PriorityPackage'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: string
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Add a Priority Package for a Client.
      tags:
        - PriorityPackages
  '/api/v2/PriorityPackages/{ID}':
    delete:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: PriorityPackages_DeletePriorityPackages
      parameters:
        - description: The Priority Package ID
          in: path
          name: ID
          required: true
          type: string
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Delete a Priority Package for a Client.
      tags:
        - PriorityPackages
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: PriorityPackages_GetPriorityPackage
      parameters:
        - description: The Priority Package ID
          in: path
          name: ID
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UpdateSystem.Models.PriorityPackage'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get a Priority Packages for a Client.
      tags:
        - PriorityPackages
  /api/v2/Releases:
    get:
      consumes: []
      deprecated: false
      description: "Gets a collection of Release. When successful, the response is a PagedResponse of Release.\r\n            If unsuccessful, an appropriate ApiError is returned."
      operationId: Release_GetReleases
      parameters:
        - description: 'Optional. The page limit.  If not specified, the default page limit is 10.'
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: 'Optional. The page offset.  If not specified, the default page offset is 0.'
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Optional. Filter by visible.
          in: query
          name: visible
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.PagedResponse[ContentSubmission.Shared.BusinessEntities.Release]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get Release
      tags:
        - Release
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "Creates a Release.  The body of the POST is the Release to create.\r\n            The ReleaseId will be assigned on creation of the Job.  When successful, the response\r\n            is the Release Id.  If unsuccessful, an appropriate ApiError is returned."
      operationId: Release_PostRelease
      parameters:
        - description: The Release to create.
          in: body
          name: release
          required: true
          schema:
            $ref: '#/definitions/ContentSubmission.Shared.BusinessEntities.Release'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Create a Release
      tags:
        - Release
  '/api/v2/Releases/{ReleaseId}':
    get:
      consumes: []
      deprecated: false
      description: "Gets a Release by ID. When successful, the response is the requested Release.\r\n            If unsuccessful, an appropriate ApiError is returned."
      operationId: Release_GetRelease
      parameters:
        - description: The ID of the Release to get.
          format: int32
          in: path
          name: ReleaseId
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ContentSubmission.Shared.BusinessEntities.Release'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get a  Release by ID
      tags:
        - Release
  '/api/v2/Releases/{releaseId}':
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "Updates a Release.  The body of the PUT is the updated Release.  \r\n            When successful, the response is empty.  If unsuccessful, an appropriate ApiError is returned."
      operationId: Release_PutContentDefinition
      parameters:
        - description: The ID of the Release to update
          format: int32
          in: path
          name: releaseId
          required: true
          type: integer
        - description: The updated Release
          in: body
          name: release
          required: true
          schema:
            $ref: '#/definitions/ContentSubmission.Shared.BusinessEntities.Release'
      produces: []
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Update a Release
      tags:
        - Release
  /api/v2/Reporting/BundleStatusSummary:
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Reporting_BundleStatusSummary
      parameters:
        - description: The BundleID
          in: query
          name: BundleID
          required: true
          type: string
        - description: Optional. The page limit. The default page limit is 10.
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: Optional. The page offset. The default page offset is 0.
          format: int32
          in: query
          name: offset
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.PagedResponse[UpdateSystem.Models.PackageStatusSummary]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get a summary of all Packages in a Bundle
      tags:
        - Reporting
  /api/v2/Reporting/BundlesInUpdateGroup:
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Reporting_BundlesInUpdateGroup
      parameters:
        - description: The UpdateGroupID
          in: query
          name: ID
          required: true
          type: string
        - description: Include Inactive Bundles (true|false)
          in: query
          name: IncludeInactive
          required: true
          type: boolean
        - description: Optional. The page limit. The default page limit is 10.
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: Optional. The page offset. The default page offset is 0.
          format: int32
          in: query
          name: offset
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/API.PagedResponse[UpdateSystem.Models.Bundle]'
        default:
          description: API Error Response
          schema:
            $ref: '#/definitions/API.Models.ApiError'
      summary: Get a list of bundles for UpdateGroup.
      tags:
        - Reporting
  /api/v2/Reporting/ClientInfo:
    get:
      consumes: []
      deprecated: false
      description: No Documentation Found.
      operationId: Reporting_ClientInfo
      parameters:
        - description: The Client ID
          in: query
          name: ClientID
          required: true
          type: string
[...]
