swagger: '2.0'
schemes:
  - https
host: verifiedaccess.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Verified Access
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://verifiedaccess.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: verifiedaccess
externalDocs:
  url: 'https://www.google.com/work/chrome/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/verifiedaccess': Verify your enterprise credentials
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/verifiedaccess': Verify your enterprise credentials
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: challenge
paths:
  /v1/challenge:
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: CreateChallenge API
      operationId: verifiedaccess.challenge.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Empty'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Challenge'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/verifiedaccess'
          Oauth2c:
            - 'https://www.googleapis.com/auth/verifiedaccess'
      tags:
        - challenge
  '/v1/challenge:verify':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: VerifyChallengeResponse API
      operationId: verifiedaccess.challenge.verify
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/VerifyChallengeResponseRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/VerifyChallengeResponseResult'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/verifiedaccess'
          Oauth2c:
            - 'https://www.googleapis.com/auth/verifiedaccess'
      tags:
        - challenge
definitions:
  Challenge:
    description: Result message for VerifiedAccess.CreateChallenge.
    properties:
      alternativeChallenge:
        $ref: '#/definitions/SignedData'
        description: |-
          Challenge generated with the old signing key
          (this will only be present during key rotation)
      challenge:
        $ref: '#/definitions/SignedData'
        description: Generated challenge
    type: object
  Empty:
    description: |-
      A generic empty message that you can re-use to avoid defining duplicated
      empty messages in your APIs. A typical example is to use it as the request
      or the response type of an API method. For instance:

          service Foo {
            rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);
          }

      The JSON representation for `Empty` is empty JSON object `{}`.
    properties: {}
    type: object
  SignedData:
    description: The wrapper message of any data and its signature.
    properties:
      data:
        description: The data to be signed.
        format: byte
        type: string
      signature:
        description: The signature of the data field.
        format: byte
        type: string
    type: object
  VerifyChallengeResponseRequest:
    description: signed ChallengeResponse
    properties:
      challengeResponse:
        $ref: '#/definitions/SignedData'
        description: The generated response to the challenge
      expectedIdentity:
        description: |-
          Service can optionally provide identity information about the device
          or user associated with the key.
          For an EMK, this value is the enrolled domain.
          For an EUK, this value is the user's email address.
          If present, this value will be checked against contents
          of the response, and verification will fail if there is no match.
        type: string
    type: object
  VerifyChallengeResponseResult:
    description: Result message for VerifiedAccess.VerifyChallengeResponse.
    properties:
      deviceEnrollmentId:
        description: |-
          Device enrollment id is returned in this field (for the machine response
          only).
        type: string
      devicePermanentId:
        description: |-
          Device permanent id is returned in this field (for the machine response
          only).
        type: string
      signedPublicKeyAndChallenge:
        description: |-
          Certificate Signing Request (in the SPKAC format, base64 encoded) is
          returned in this field. This field will be set only if device has included
          CSR in its challenge response.
          (the option to include CSR is now available for both user and machine
          responses)
        type: string
      verificationOutput:
        description: |-
          For EMCert check, device permanent id is returned here.
          For EUCert check, signed_public_key_and_challenge [base64 encoded]
          is returned if present, otherwise empty string is returned.
          This field is deprecated, please use device_permanent_id or
          signed_public_key_and_challenge fields.
        type: string
    type: object
