openapi: 3.0.0
servers:
  - description: Sandbox server for integrators
    url: https://sandbox.gerermesaffaires.com/api/v1/
info:
  contact:
    email: api@gerermesaffaires.com
  description: Sécurisez vos données en interfaçant votre logiciel métier avec le service en ligne GererMesAffaires
  title: GererMesAffaires {REST:API}
  version: 1.0.6
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.gerermesaffaires.com_wp-content_uploads_2019_09_cropped-logo-2019-180x180.png
  x-origin:
    - format: openapi
      url: https://api.gerermesaffaires.com/wp-content/uploads/2022/09/GmaAPI-GererMesAffairesAPI-1.0.6-swagger.json
      version: "3.0"
  x-providerName: gerermesaffaires.com
externalDocs:
  description: Documentation fonctionnelle des API GererMesAffaires
  url: https://api.gerermesaffaires.com/
security:
  - gma_auth:
      - collaborator
      - owner
      - robot
paths:
  /box/menus:
    get:
      description: Returns predefined folders and workbooks of the Box for all the spaces
      responses:
        "200":
          $ref: "#/components/responses/SpaceMenus"
      security:
        - gma_auth:
            - owner
  /business-groups:
    get:
      description: Returns a list of groups custom ordered by name
      parameters:
        - description: Name of the group
          in: query
          name: Name
          required: false
          schema:
            example: Dupond
            type: string
      responses:
        "200":
          $ref: "#/components/responses/BusinessGroup"
      security:
        - gma_auth:
            - collaborator
    patch:
      description: Modifies an object
      requestBody:
        $ref: "#/components/requestBodies/ModifyBusinessGroup"
      responses:
        "204":
          description: OK
      security:
        - gma_auth:
            - collaborator
    post:
      description: Adds a group (only for managers and ADN collaborators)
      requestBody:
        $ref: "#/components/requestBodies/BusinessGroup"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: P1234
                    type: string
                type: object
          description: Id of group created
          headers:
            Location:
              schema:
                description: path of the group created
                example: /business-groups/P64684
                type: string
      security:
        - gma_auth:
            - collaborator
  /business-groups/all:
    get:
      description: Returns list of groups custom for managers
      parameters:
        - description: Name of the group
          in: query
          name: Name
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/BusinessGroup"
      security:
        - gma_auth:
            - collaborator
  "/business-groups/{id}":
    get:
      description: Returns a group
      parameters:
        - description: Id of the group
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
      responses:
        "200":
          $ref: "#/components/responses/OneBusinessGroup"
      security:
        - gma_auth:
            - collaborator
  "/business-groups/{id}/spaces":
    get:
      description: Returns spaces of the business group with id
      parameters:
        - description: Id of the group
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
        - description: Name of the space
          in: query
          name: Name
          required: false
          schema:
            example: Mon Entreprise
            type: string
        - description: Type of the space
          in: query
          name: Type
          required: false
          schema:
            enum:
              - private
              - enterprise
              - company
              - association
            example: private
            type: string
        - description: registration number of the space
          in: query
          name: RegistrationNumber
          required: false
          schema:
            example: "12345"
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Space"
      security:
        - gma_auth:
            - collaborator
  "/business-groups/{id}/spaces/{spaceId}":
    delete:
      description: Remove a customer space from partner
      parameters:
        - description: Id of the group of the customer space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P18784
            type: string
      responses:
        "204":
          description: OK
      security:
        - gma_auth:
            - collaborator
  "/business-groups/{id}/spaces/{spaceId}/legal-entities/{personId}/customers/{folderId}/guest-in-space":
    post:
      description: send an invitation to manager the private space of personId
      parameters:
        - description: Id of the group
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
        - description: Id of the company space which contains the customer folder
          in: path
          name: spaceId
          required: true
          schema:
            example: P18784
            type: string
        - description: Id of the person customer
          in: path
          name: personId
          required: true
          schema:
            example: P18784
            type: string
        - description: Id of the folder customer
          in: path
          name: folderId
          required: true
          schema:
            example: P18784
            type: string
      requestBody:
        $ref: "#/components/requestBodies/PSpace"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: P1234
                    type: string
                type: object
          description: Id of space created
          headers:
            Location:
              schema:
                description: path of the space created
                example: /business-groups/P468486/spaces/P64684
                type: string
      security:
        - gma_auth:
            - collaborator
  "/business-groups/{id}/spaces/{spaceId}/legal-entities/{personId}/customers/{folderId}/spaces":
    post:
      description: Add a Space in a group
      parameters:
        - description: Id of the group
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
        - description: Id of the company space which contains the customer folder
          in: path
          name: spaceId
          required: true
          schema:
            example: P18784
            type: string
        - description: Id of the person customer
          in: path
          name: personId
          required: true
          schema:
            example: P18784
            type: string
        - description: Id of the folder customer
          in: path
          name: folderId
          required: true
          schema:
            example: P18784
            type: string
      requestBody:
        $ref: "#/components/requestBodies/BSpace"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: P1234
                    type: string
                type: object
          description: Id of space created
          headers:
            Location:
              schema:
                description: path of the space created
                example: /business-groups/P468486/spaces/P64684
                type: string
      security:
        - gma_auth:
            - collaborator
  "/hub/business-groups/{Id}/menus":
    get:
      description: Returns predefined folders and workbooks of the Hub for all the spaces of the business group
      parameters:
        - description: Id of the business group
          in: path
          name: Id
          required: true
          schema:
            example: P156HUFHA476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/SpaceMenus"
      security:
        - gma_auth:
            - collaborator
  /hub/documents:
    post:
      description: Add a document (this document is analyzed to be saved in the correct folder and correct space)
      requestBody:
        $ref: "#/components/requestBodies/HubDocuments"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: T1234
                    type: string
                type: object
          description: Id of documents created
          headers:
            Location:
              schema:
                description: path of the documents created
                example: /hub/spaces/PFJOJAF14546/documents/P48548FDAF
                type: string
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  /hub/menus:
    get:
      description: Returns predefined folders and workbooks of the Hub for all the spaces
      responses:
        "200":
          $ref: "#/components/responses/SpaceMenus"
      security:
        - gma_auth:
            - collaborator
  /hub/menus/all:
    get:
      description: Returns predefined folders and workbooks of the Hub for all the spaces and customer spaces
      responses:
        "200":
          $ref: "#/components/responses/SpaceMenusAll"
      security:
        - gma_auth:
            - collaborator
  /hub/payslips:
    post:
      description: Add a payslip (this document is analyzed to be saved in the correct folder and correct space)
      requestBody:
        $ref: "#/components/requestBodies/HubDocuments"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: T1234
                    type: string
                type: object
          description: Id of documents created
          headers:
            Location:
              schema:
                description: path of the documents created
                example: /hub/spaces/PFJOJAF14546/documents/P48548FDAF
                type: string
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/hub/spaces/{spaceId}/documents":
    post:
      description: Add a document in a space (this document is analyzed to be saved in the correct folder)
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      requestBody:
        $ref: "#/components/requestBodies/Documents"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: T1234
                    type: string
                type: object
          description: Id of documents created
          headers:
            Location:
              schema:
                description: path of the documents created
                example: /hub/spaces/PFJOJAF14546/documents/P48548FDAF
                type: string
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/hub/spaces/{spaceId}/menus":
    get:
      description: Returns predefined folders and workbooks of the Hub for the space
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Menus"
  "/hub/spaces/{spaceId}/payslips":
    post:
      description: Add a payslip in a space (this document is analyzed to be saved in the correct folder)
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      requestBody:
        $ref: "#/components/requestBodies/Documents"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: T1234
                    type: string
                type: object
          description: Id of documents created
          headers:
            Location:
              schema:
                description: path of the documents created
                example: /hub/spaces/PFJOJAF14546/documents/P48548FDAF
                type: string
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  /menus:
    get:
      description: Returns predefined entries
      responses:
        "200":
          $ref: "#/components/responses/SpaceOneMenus"
  "/menus/{menuId}/documents":
    post:
      description: add a document to the target menuId
      parameters:
        - description: Id of the space
          in: path
          name: menuId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      requestBody:
        $ref: "#/components/requestBodies/MenuDocuments"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Report:
                    example: T1234
                    type: object
                type: object
          description: Report of upload
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
            - box
            - hub
  /profile:
    get:
      description: Returns status of member
      parameters:
        - description: to get a contract (if not signed error 404 + html contract)
          in: query
          name: Contract
          required: false
          schema:
            example: member
            type: string
      responses:
        "200":
          $ref: "#/components/responses/PartialProfile"
      security:
        - gma_auth:
            - owner
    patch:
      description: modify infos of profile
      requestBody:
        $ref: "#/components/requestBodies/ModifyProfile"
      responses:
        "204":
          description: OK
      security:
        - gma_auth:
            - owner
    post:
      description: create infos of profile
      requestBody:
        $ref: "#/components/requestBodies/Profile"
      responses:
        "204":
          description: OK
      security:
        - gma_auth:
            - owner
  /profile/email:
    patch:
      description: modify email of profile
      requestBody:
        $ref: "#/components/requestBodies/ModifyEmailProfile"
      responses:
        "204":
          description: OK
      security:
        - gma_auth:
            - owner
  /profile/id-file:
    get:
      description: Returns status of member
      parameters:
        - description: to get a contract (if not signed error 404 + html contract)
          in: query
          name: Contract
          required: false
          schema:
            example: member
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Profile"
  /profile/mobile:
    patch:
      description: modify mobile of profile
      requestBody:
        $ref: "#/components/requestBodies/ModifyMobileProfile"
      responses:
        "204":
          description: OK
      security:
        - gma_auth:
            - owner
  /registration:
    get:
      description: Returns the method to get the validation code or the link to register after invitation
      parameters:
        - description: Code of the invitation
          in: query
          name: Code
          required: true
          schema:
            example: HFIHA
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Registration"
      security:
        - gma_auth:
            - owner
    post:
      description: complete the invitation
      requestBody:
        $ref: "#/components/requestBodies/Registration"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Private:
                    properties:
                      FolderId:
                        example: POJFA987EA
                        type: string
                      SpaceId:
                        example: P1234
                        type: string
                    type: object
                type: object
          description: Id of the private space and the contract folder
      security:
        - gma_auth:
            - owner
  /session:
    get:
      description: Returns member id of user logged
      responses:
        "200":
          $ref: "#/components/responses/Session"
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  /spaces:
    get:
      description: Returns spaces of my group
      parameters:
        - description: Name of the space
          in: query
          name: Name
          required: false
          schema:
            example: Mon Entreprise
            type: string
        - description: Type of the space
          in: query
          name: Type
          required: false
          schema:
            enum:
              - private
              - enterprise
              - company
              - association
            example: private
            type: string
        - description: registration number of the space
          in: query
          name: RegistrationNumber
          required: false
          schema:
            example: "12345"
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Space"
    post:
      description: Add a Space in my group
      requestBody:
        $ref: "#/components/requestBodies/Space"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: P1234
                    type: string
                type: object
          description: Id of space created
          headers:
            Location:
              schema:
                description: path of the space created
                example: /spaces/P64684
                type: string
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  /spaces/all:
    get:
      description: Returns all spaces
      parameters:
        - description: Name of the space
          in: query
          name: Name
          required: false
          schema:
            example: Mon Entreprise
            type: string
        - description: Type of the space
          in: query
          name: Type
          required: false
          schema:
            enum:
              - private
              - enterprise
              - company
              - association
            example: private
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Space"
  "/spaces/{id}":
    delete:
      description: Delete a Space (only space not delivered to customer)
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
      responses:
        "204":
          description: OK
    get:
      description: Returns a space
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
      responses:
        "200":
          $ref: "#/components/responses/OneSpace"
    patch:
      description: Modify a Space (except private)
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifySpace"
      responses:
        "204":
          description: OK
  "/spaces/{id}/accounting-year":
    get:
      description: Returns list of accounting years for the space {id}
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
        - description: End date of the accounting year (YYYYMM or YYYYMMDD) (range not available)
          in: query
          name: End
          required: false
          schema:
            example: "201603"
            type: string
        - description: Effective date inside  the accounting year  (range not available)
          in: query
          name: EffectiveDate
          required: false
          schema:
            example: "20160301"
            type: string
      responses:
        "200":
          $ref: "#/components/responses/AccountingYear"
    post:
      description: Create a accounting year for the space id
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P198746
            type: string
      requestBody:
        $ref: "#/components/requestBodies/AccountingYear"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: T1234
                    type: string
                type: object
          description: Id of the accounting year created
          headers:
            Location:
              schema:
                description: path of the accounting year created
                example: /spaces/P468486/accounting-year/T6JFH4FGFGGz84/
                type: string
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/spaces/{id}/collective-decision":
    get:
      description: Returns list of collective decisions for the space {id}
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
        - description: Date of the collective decision YYYMMDD
          in: query
          name: Date
          required: false
          schema:
            example: 20160302,null
            type: string
        - description: Event of the collective decision (see post for the list of events)
          in: query
          name: Event
          required: false
          schema:
            example: OGM
            type: string
        - description: index range of the results
          in: query
          name: Range
          required: false
          schema:
            example: 10-19
            type: string
        - description: If true returns only invoices with a CompanyRegistrationCertificate
          in: query
          name: HasCompanyRegistrationCertificate
          required: false
          schema:
            enum:
              - "true"
              - "false"
            example: "true"
            type: string
        - description: If true returns only invoices with a Status
          in: query
          name: HasStatus
          required: false
          schema:
            enum:
              - "true"
              - "false"
            example: "true"
            type: string
        - description: If true returns only invoices with a SireneRegister
          in: query
          name: HasSireneRegister
          required: false
          schema:
            enum:
              - "true"
              - "false"
            example: "true"
            type: string
        - description: If true returns only invoices with Minutes
          in: query
          name: HasMinutes
          required: false
          schema:
            enum:
              - "true"
              - "false"
            example: "true"
            type: string
      responses:
        "200":
          $ref: "#/components/responses/CollectiveDecision"
    post:
      description: Create a colletive decision for the space id
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P198746
            type: string
      requestBody:
        $ref: "#/components/requestBodies/CollectiveDecision"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: T1234
                    type: string
                type: object
          description: Id of the collective decision created
          headers:
            Location:
              schema:
                description: path of the collective decision created
                example: /spaces/P468486/collective-decision/T6JFH4FGFGGz84/
                type: string
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/spaces/{id}/company-entities":
    get:
      description: Returns list of company entities
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
        - description: Name of the company entity
          in: query
          name: Name
          required: false
          schema:
            example: Source de France
            type: string
        - description: Legal name of the company entity
          in: query
          name: LegalName
          required: false
          schema:
            example: Source de France SAS
            type: string
        - description: registration number of the company entity
          in: query
          name: RegistrationNumber
          required: false
          schema:
            example: "12356213854"
            type: string
      responses:
        "200":
          $ref: "#/components/responses/CompanyEntity"
    post:
      description: Add a Company Entity in a Space
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: T198746
            type: string
      requestBody:
        $ref: "#/components/requestBodies/CompanyEntity"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: T1234
                    type: string
                type: object
          description: Id of company entity created
          headers:
            Location:
              schema:
                description: path of the company entity created
                example: /spaces/P468486/company-entities/P6JFH4FGFGGz84
                type: string
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/spaces/{id}/company-entities/all":
    get:
      description: Returns list of company entities even company entities archived
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
        - description: Name of the company entity
          in: query
          name: Name
          required: false
          schema:
            example: Source de France
            type: string
        - description: registration number of the company entity
          in: query
          name: RegistrationNumber
          required: false
          schema:
            example: "12356213854"
            type: string
      responses:
        "200":
          $ref: "#/components/responses/CompanyEntity"
  "/spaces/{id}/company-entities/{companyId}":
    get:
      description: Returns a compay entity
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
        - description: Id of the company entity
          in: path
          name: companyId
          required: true
          schema:
            example: P15646476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/OneCompanyEntity"
    patch:
      description: Modify a company entity
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P187867864
            type: string
        - description: Id of the company entity to modify
          in: path
          name: companyId
          required: true
          schema:
            example: P1863763784
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifyCompanyEntity"
      responses:
        "204":
          description: OK
  "/spaces/{id}/company-entities/{personId}/details":
    get:
      description: Returns all details of a company entity
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
        - description: Id of the company entity to get
          in: path
          name: personId
          required: true
          schema:
            example: T18784
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Details"
    post:
      description: Replace or Add a contact detail for a person
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
        - description: Id of the person or memberId
          in: path
          name: personId
          required: true
          schema:
            example: P18784
            type: string
      requestBody:
        $ref: "#/components/requestBodies/Details"
      responses:
        "204":
          description: OK
  "/spaces/{id}/company-entities/{personId}/details/{designation}":
    delete:
      description: delete a contact detail for a company entity
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
        - description: Id of the person or memberId
          in: path
          name: personId
          required: true
          schema:
            example: P18784
            type: string
        - description: designation
          in: path
          name: designation
          required: true
          schema:
            example: P18784
            type: string
      responses:
        "204":
          description: OK
  "/spaces/{id}/documents/download":
    post:
      description: create an archive with documents
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P198746
            type: string
      requestBody:
        $ref: "#/components/requestBodies/Zip"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  ZipFile:
                    example: KPFKPKAAFKFJ
                    type: string
                type: object
            multipart/form-data:
              schema:
                properties:
                  ZipFile:
                    format: binary
                    type: string
                type: object
          description: Zip file base64 encoded
          headers:
            Location:
              schema:
                description: path of the person created
                example: /spaces/P468486/zip/P6JFH4684
                type: string
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/spaces/{id}/folders/{folderId}/persons/{memberId}":
    get:
      description: return the access of a person in a customer contract
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
        - description: memberId of the person
          in: path
          name: memberId
          required: true
          schema:
            example: P18784
            type: string
        - description: id of the customer folder
          in: path
          name: folderId
          required: true
          schema:
            example: T18784
            type: string
      responses:
        "200":
          $ref: "#/components/responses/PersonAccess"
    patch:
      description: Add/Modify/Delete a person in a customer contract (except manager)
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
        - description: memberId of the person
          in: path
          name: memberId
          required: true
          schema:
            example: P18784
            type: string
        - description: id of the customer folder
          in: path
          name: folderId
          required: true
          schema:
            example: T18784
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifyCustomerCont"
      responses:
        "204":
          description: OK
  "/spaces/{id}/folders/{folderId}/persons/{memberId}/activeaccess":
    patch:
      description: open an access
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
        - description: memberId of the person
          in: path
          name: memberId
          required: true
          schema:
            example: P18784
            type: string
        - description: id of the customer folder
          in: path
          name: folderId
          required: true
          schema:
            example: T18784
            type: string
      responses:
        "204":
          description: OK
  "/spaces/{id}/folders/{folderId}/persons/{memberId}/unactiveaccess":
    patch:
      description: close an access
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
        - description: memberId of the person
          in: path
          name: memberId
          required: true
          schema:
            example: P18784
            type: string
        - description: id of the customer folder
          in: path
          name: folderId
          required: true
          schema:
            example: T18784
            type: string
      responses:
        "204":
          description: OK
  "/spaces/{id}/folders/{folderId}/persons/{personId}/guest-in-space":
    post:
      description: invite a owner in a space
      parameters:
        - description: Id of the folder customer
          in: path
          name: folderId
          required: true
          schema:
            example: T198NFNIAJFAA46
            type: string
        - description: Id of the person to invite to his space
          in: path
          name: personId
          required: true
          schema:
            example: P198NFNIAJFAA46
            type: string
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P156HUFHA476
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvitationPerson"
        description: PersonId (if exist)of the person in the customer space
        required: true
      responses:
        "204":
          description: OK
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/spaces/{id}/groups":
    get:
      description: Returns list of groups
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
        - description: Name of the groups
          in: query
          name: Name
          required: false
          schema:
            example: RH
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Group"
    post:
      description: Add a group in a Space
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: T198746
            type: string
      requestBody:
        $ref: "#/components/requestBodies/Group"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: T1234
                    type: string
                type: object
          description: Id of company entity created
          headers:
            Location:
              schema:
                description: path of the group created
                example: /spaces/P468486/groups/P6JFH4FGFGGz84
                type: string
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/spaces/{id}/groups/all":
    get:
      description: Returns list of groups even archived of the space
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
        - description: Name of the group
          in: query
          name: Name
          required: false
          schema:
            example: RH
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Group"
  "/spaces/{id}/groups/{groupId}":
    get:
      description: Returns a group
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
        - description: Id of the group
          in: path
          name: groupId
          required: true
          schema:
            example: P15646476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/OneGroup"
    patch:
      description: Modify a group
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P187867864
            type: string
        - description: Id of the group to modify
          in: path
          name: groupId
          required: true
          schema:
            example: P1863763784
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifyGroup"
      responses:
        "204":
          description: OK
  "/spaces/{id}/groups/{groupId}/folders/{folderId}":
    delete:
      description: delete access to a folder for a group
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P187867864
            type: string
        - description: Id of the group to modify
          in: path
          name: groupId
          required: true
          schema:
            example: P1863763784
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: P1863763784
            type: string
      responses:
        "204":
          description: OK
    patch:
      description: Add access to a folder for a group
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P187867864
            type: string
        - description: Id of the group to modify
          in: path
          name: groupId
          required: true
          schema:
            example: P1863763784
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: P1863763784
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifyFolderGroup"
      responses:
        "204":
          description: OK
  "/spaces/{id}/groups/{groupId}/persons/{memberId}":
    delete:
      description: Delete a person of a group
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P187867864
            type: string
        - description: Id of the group to modify
          in: path
          name: groupId
          required: true
          schema:
            example: P1863763784
            type: string
        - description: MemberId of the person
          in: path
          name: memberId
          required: true
          schema:
            example: P1863763784
            type: string
      responses:
        "204":
          description: OK
    patch:
      description: Add a person to a group
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P187867864
            type: string
        - description: Id of the group to modify
          in: path
          name: groupId
          required: true
          schema:
            example: P1863763784
            type: string
        - description: MemberId of the person
          in: path
          name: memberId
          required: true
          schema:
            example: P1863763784
            type: string
      responses:
        "204":
          description: OK
  "/spaces/{id}/legal":
    get:
      description: Returns legal information of a space (except private)
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
      responses:
        "200":
          $ref: "#/components/responses/OneLegal"
    patch:
      description: Modify legal information of a Space (except private)
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifyLegal"
      responses:
        "204":
          description: OK
  "/spaces/{id}/logo":
    get:
      description: Returns a space with the logo
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
      responses:
        "200":
          $ref: "#/components/responses/OneSpaceWithLogo"
  "/spaces/{id}/persons":
    get:
      description: Returns list of persons
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
        - description: Function of the person
          in: query
          name: Function
          required: false
          schema:
            example: employee
            type: string
        - description: index range of the results
          in: query
          name: Range
          required: false
          schema:
            example: 10-19
            type: string
        - description: Name of the person
          in: query
          name: Name
          required: false
          schema:
            example: Germain
            type: string
        - description: Status of the person
          in: query
          name: Validated
          required: false
          schema:
            enum:
              - "true"
              - "false"
            example: "true"
            type: string
        - description: Email of the person
          in: query
          name: Email
          required: false
          schema:
            example: maxgermain@maxgermain.com
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Person"
    post:
      description: Add a Person in a Space
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P198746
            type: string
      requestBody:
        $ref: "#/components/requestBodies/Person"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: T1234
                    type: string
                type: object
          description: Id of person created
          headers:
            Location:
              schema:
                description: path of the person created
                example: /spaces/P468486/persons/P6JFH4684
                type: string
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/spaces/{id}/persons/all":
    get:
      description: Returns list of persons even persons archived
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
        - description: Name of the person
          in: query
          name: Name
          required: false
          schema:
            example: Germain
            type: string
        - description: Function of the person
          in: query
          name: Function
          required: false
          schema:
            example: employee
            type: string
        - description: index range of the results
          in: query
          name: Range
          required: false
          schema:
            example: 10-19
            type: string
        - description: Status of the person
          in: query
          name: Validated
          required: false
          schema:
            enum:
              - "true"
              - "false"
            example: "true"
            type: string
        - description: Email of the person
          in: query
          name: Email
          required: false
          schema:
            example: maxgermain@maxgermain.com
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Person"
  "/spaces/{id}/persons/{memberId}/player":
    patch:
      description: Modify the role of a person
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
        - description: memberId of the person
          in: path
          name: memberId
          required: true
          schema:
            example: P18784
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifyPlayer"
      responses:
        "204":
          description: OK
  "/spaces/{id}/persons/{personId}":
    delete:
      description: delete a person
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
        - description: Id of the person to modify or memberId
          in: path
          name: personId
          required: true
          schema:
            example: P18784
            type: string
      responses:
        "204":
          description: OK
    get:
      description: Returns a person
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
        - description: Id of the person to get or memberId
          in: path
          name: personId
          required: true
          schema:
            example: T18784
            type: string
      responses:
        "200":
          $ref: "#/components/responses/OnePerson"
    patch:
      description: Modify a person
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
        - description: Id of the person to modify or memberId
          in: path
          name: personId
          required: true
          schema:
            example: P18784
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifyPerson"
      responses:
        "204":
          description: OK
  "/spaces/{id}/persons/{personId}/details":
    get:
      description: Returns all details of a person
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
        - description: Id of the person to get or memberId
          in: path
          name: personId
          required: true
          schema:
            example: T18784
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Details"
    post:
      description: Replace or Add a contact detail for a person
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
        - description: Id of the person or memberId
          in: path
          name: personId
          required: true
          schema:
            example: P18784
            type: string
      requestBody:
        $ref: "#/components/requestBodies/Details"
      responses:
        "204":
          description: OK
  "/spaces/{id}/persons/{personId}/details/{designation}":
    delete:
      description: delete a contact detail for a person
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
        - description: Id of the person or memberId
          in: path
          name: personId
          required: true
          schema:
            example: P18784
            type: string
        - description: designation
          in: path
          name: designation
          required: true
          schema:
            example: P18784
            type: string
      responses:
        "204":
          description: OK
  "/spaces/{id}/persons/{personId}/folders":
    get:
      description: Returns list of folders with exceptionnal access of the person personId
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
        - description: Id of the person to get folders
          in: path
          name: personId
          required: true
          schema:
            example: T18784
            type: string
        - description: index range of the results
          in: query
          name: Range
          required: false
          schema:
            example: 10-19
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Folder"
  "/spaces/{id}/persons/{personId}/groups":
    get:
      description: Returns list of groups of the person personId
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
        - description: Id of the person to get groups
          in: path
          name: personId
          required: true
          schema:
            example: T18784
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Group"
  "/spaces/{id}/persons/{personId}/portfolios":
    get:
      description: Returns list of portfolios of the person personId
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
        - description: Id of the person to get portfolios
          in: path
          name: personId
          required: true
          schema:
            example: T18784
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Portfolios"
    post:
      description: Create a portfolio for the person personId
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P198746
            type: string
        - description: Id of the person who will be the owner of the portfolio
          in: path
          name: personId
          required: true
          schema:
            example: T18784
            type: string
      requestBody:
        $ref: "#/components/requestBodies/Portfolio"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: P1234
                    type: string
                type: object
          description: Id of the portfolio created
          headers:
            Location:
              schema:
                description: path of the portfolio created
                example: /spaces/P468486/persons/P6JFH4FGFGGz84/portfolios/PM6965TUGA
                type: string
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/spaces/{id}/portfolios/{portfolioId}/persons/{memberId}":
    patch:
      description: Add/Modify/Delete a person in a portfolio (except manager)
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
        - description: memberId of the person
          in: path
          name: memberId
          required: true
          schema:
            example: P18784
            type: string
        - description: id of the portfolio
          in: path
          name: portfolioId
          required: true
          schema:
            example: T18784
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifyPortfolio"
      responses:
        "204":
          description: OK
  "/spaces/{id}/professional-vehicles":
    get:
      description: Returns list of professionalvehicles for the space {id}
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
        - description: designation of the vehicle
          in: query
          name: Designation
          required: false
          schema:
            example: peugeot
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ProfessionalVehicle"
    post:
      description: Create a professional vehicle for the space
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P198746
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ProfessionalVehicle"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: T1234
                    type: string
                type: object
          description: Id of the professional vehicle created
          headers:
            Location:
              schema:
                description: path of the professional vehicle created
                example: /spaces/P468486/professionalvehicles/T6JFH4FGFGGz84/
                type: string
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/spaces/{id}/settings/nf203/logs":
    get:
      description: Returns state of activation of logs
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Logs"
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
    post:
      description: Enable/Disable logs
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P198746
            type: string
      requestBody:
        $ref: "#/components/requestBodies/Logs"
      responses:
        "204":
          description: Nothing
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/spaces/{id}/status":
    get:
      description: Returns all status of the space
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Status"
    post:
      description: Replace or Add a status
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
      requestBody:
        $ref: "#/components/requestBodies/Status"
      responses:
        "204":
          description: OK
  "/spaces/{id}/status/{code}":
    delete:
      description: delete a status of the space
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P18784
            type: string
        - description: code of the status
          in: path
          name: code
          required: true
          schema:
            example: P18784
            type: string
      responses:
        "204":
          description: OK
  "/spaces/{id}/tax-contracts":
    get:
      description: Returns list of tax contracts for the space {id}
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/TaxContract"
    post:
      description: Create a tax contract for the space
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P198746
            type: string
      requestBody:
        $ref: "#/components/requestBodies/TaxContract"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: T1234
                    type: string
                type: object
          description: Id of the tax contract created
          headers:
            Location:
              schema:
                description: path of the tax contract created
                example: /spaces/P468486/taxcontract/T6JFH4FGFGGz84/
                type: string
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/spaces/{id}/triggers":
    get:
      description: Returns list of triggers for the space {id}
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P15646476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Triggers"
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/spaces/{id}/triggers/{name}":
    delete:
      description: Deletes a trigger for the space id
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P198746
            type: string
        - description: trigger name
          in: path
          name: name
          required: true
          schema:
            example: collect
            type: string
      responses:
        "204":
          description: nothing
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
    post:
      description: Creates a trigger for the space id
      parameters:
        - description: Id of the space
          in: path
          name: id
          required: true
          schema:
            example: P198746
            type: string
        - description: trigger name
          in: path
          name: name
          required: true
          schema:
            example: collect
            type: string
      responses:
        "201":
          description: nothing
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/spaces/{spaceId}/common-folders/{id}":
    delete:
      description: Delete a common folder
      parameters:
        - description: Id of the folder
          in: path
          name: id
          required: true
          schema:
            example: T18784
            type: string
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      responses:
        "204":
          description: OK
    patch:
      description: Modify a common folder
      parameters:
        - description: Id of the folder
          in: path
          name: id
          required: true
          schema:
            example: T18784
            type: string
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifyCFolder"
      responses:
        "204":
          description: OK
  "/spaces/{spaceId}/company-entities/{id}/follow-ups":
    get:
      description: Returns folder of the company entity
      parameters:
        - description: Id of the company entity
          in: path
          name: id
          required: true
          schema:
            example: T15646IFHA476
            type: string
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Folder"
  "/spaces/{spaceId}/customers":
    get:
      description: Returns folder with Id and customer data
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: CustomerNumber of the customer
          in: query
          name: CustomerNumber
          required: false
          schema:
            type: string
        - description: if present returns infos of the ContractingPartner too
          in: query
          name: WithContractingPartner
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Customer"
  "/spaces/{spaceId}/customers/all":
    get:
      description: Returns folder with Id and customer data (even archived)
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: CustomerNumber of the employee
          in: query
          name: CustomerNumber
          required: false
          schema:
            type: string
        - description: if present returns infos of the ContractingPartner too
          in: query
          name: WithContractingPartner
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Customer"
  "/spaces/{spaceId}/documents":
    get:
      description: Returns documents of the folder
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Text to find
          in: query
          name: FullText
          required: false
          schema:
            example: durand
            type: string
        - description: index range of the results
          in: query
          name: Range
          required: false
          schema:
            example: 10-19
            type: string
        - description: class of the document to find
          in: query
          name: Class
          required: false
          schema:
            example: payslip
            type: string
      responses:
        "200":
          $ref: "#/components/responses/DocumentSearch"
  "/spaces/{spaceId}/documents/{documentId}":
    patch:
      description: modify a doc
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifyDocument"
      responses:
        "204":
          description: OK
  "/spaces/{spaceId}/documents/{documentId}/extend":
    get:
      description: read the data of a document
      parameters:
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: P15646IFHA476
            type: string
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/DocumentData"
    post:
      description: Add a data to a document
      parameters:
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: P1987HGFKJFAA46
            type: string
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: P1234
                    type: string
                type: object
          description: Id of document created
          headers:
            Location:
              schema:
                description: path of the document created
                example: /folders/PFJOJAF14546/documents/P48548FDAF
                type: string
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/spaces/{spaceId}/documents/{documentId}/folders":
    get:
      description: Returns versions of the document
      parameters:
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: P15646IFHA476
            type: string
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/OneDocumentFolders"
  "/spaces/{spaceId}/documents/{documentId}/mailing":
    post:
      description: send by mail a document
      parameters:
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: P1987HGFKJFAA46
            type: string
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      requestBody:
        $ref: "#/components/requestBodies/MailingDocument"
      responses:
        "200":
          $ref: "#/components/responses/Mailing"
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/spaces/{spaceId}/documents/{documentId}/mailingprice":
    get:
      description: returns the number of pages and the price of the pdf to send by mail
      parameters:
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: P1987HGFKJFAA46
            type: string
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Mailing"
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/spaces/{spaceId}/documents/{documentId}/versions":
    get:
      description: Returns versions of the document
      parameters:
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: P15646IFHA476
            type: string
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Document"
    post:
      description: Add a version to a document and set it as current
      parameters:
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: P1987HGFKJFAA46
            type: string
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      requestBody:
        $ref: "#/components/requestBodies/Version"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: P1234
                    type: string
                type: object
          description: Id of document created
          headers:
            Location:
              schema:
                description: path of the document created
                example: /folders/PFJOJAF14546/documents/P48548FDAF
                type: string
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/spaces/{spaceId}/documents/{documentId}/versions/current":
    get:
      description: Returns current version of the document
      parameters:
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: P15646IFHA476
            type: string
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/CurrentDocument"
  "/spaces/{spaceId}/documents/{id}/access":
    get:
      description: Returns accesses of one document
      parameters:
        - description: Id of the document
          in: path
          name: id
          required: true
          schema:
            example: P15646IFHA476
            type: string
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/OneAccessDocument"
  "/spaces/{spaceId}/documents/{id}/accounting":
    get:
      description: Returns the document with the accounting property
      parameters:
        - description: Id of the document
          in: path
          name: id
          required: true
          schema:
            example: P15646IFHA476
            type: string
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/OneAccounting"
  "/spaces/{spaceId}/documents/{id}/download":
    get:
      description: Returns content of one document
      parameters:
        - description: Id of the document
          in: path
          name: id
          required: true
          schema:
            example: P15646IFHA476
            type: string
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/OneDocument"
          headers:
            Content-Disposition:
              schema:
                description: file namle
                example: attachment; filename="filename.extension"
                type: string
  "/spaces/{spaceId}/employees":
    get:
      description: Returns folders with Id and employee data
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: SSNumber of the employee
          in: query
          name: SSNumber
          required: false
          schema:
            type: string
        - description: EmployeeNumber of the employee
          in: query
          name: EmployeeNumber
          required: false
          schema:
            type: string
        - description: if present returns infos of the ContractingPartner too
          in: query
          name: WithContractingPartner
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Employee"
  "/spaces/{spaceId}/employees/all":
    get:
      description: Returns folders with Id and employee data (even archived)
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: SSNumber of the employee
          in: query
          name: SSNumber
          required: false
          schema:
            type: string
        - description: EmployeeNumber of the employee
          in: query
          name: EmployeeNumber
          required: false
          schema:
            type: string
        - description: if present returns infos of the ContractingPartner too
          in: query
          name: WithContractingPartner
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Employee"
  "/spaces/{spaceId}/employers":
    get:
      description: Returns folders with Id and employer data
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: EmployeeNumber of the employer contract
          in: query
          name: EmployeeNumber
          required: false
          schema:
            type: string
        - description: if present returns infos of the ContractingPartner too
          in: query
          name: WithContractingPartner
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Employee"
  "/spaces/{spaceId}/employers/all":
    get:
      description: Returns folders with Id and employer data (even archived)
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: EmployeeNumber of the employer contract
          in: query
          name: EmployeeNumber
          required: false
          schema:
            type: string
        - description: if present returns infos of the ContractingPartner too
          in: query
          name: WithContractingPartner
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Employee"
  "/spaces/{spaceId}/extend":
    get:
      description: read the data of a space
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/OneSpaceWithExtend"
    post:
      description: Add a data to a space
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: P1234
                    type: string
                type: object
          description: Id of document created
          headers:
            Location:
              schema:
                description: path of the document created
                example: /folders/PFJOJAF14546/documents/P48548FDAF
                type: string
      security:
        - gma_auth:
            - collaborator
            - owner
            - robot
  "/spaces/{spaceId}/folders":
    get:
      description: Returns folders of the space
      parameters:
        - description: Name of the folder
          in: query
          name: Name
          required: false
          schema:
            example: Secrétariat juridique
            type: string
        - description: keywords attached to the folder
          in: query
          name: Keywords
          required: false
          schema:
            example: juridique
            type: string
        - description: only root folders
          in: query
          name: RootFolders
          required: false
          schema:
            enum:
              - all
            example: all
            type: string
        - description: index range of the results
          in: query
          name: Range
          required: false
          schema:
            example: 10-19
            type: string
        - description: class of the folder
          in: query
          name: Class
          required: false
          schema:
            example: social
            type: string
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Folder"
  "/spaces/{spaceId}/folders/all":
    get:
      description: Returns folders of the space (even archived)
      parameters:
        - description: Name of the folder
          in: query
          name: Name
          required: false
          schema:
            example: Secrétariat juridique
            type: string
        - description: index range of the results
          in: query
          name: Range
          required: false
          schema:
            example: 10-19
            type: string
        - description: keywords attached to the folder
          in: query
          name: Keywords
          required: false
          schema:
            example: juridique
            type: string
        - description: class of the folder
          in: query
          name: Class
          required: false
          schema:
            example: social
            type: string
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Folder"
  "/spaces/{spaceId}/folders/{folderId}/bank-statements/{documentId}":
    delete:
      description: delete a bank statement
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      responses:
        "204":
          description: OK
    patch:
      description: modify a bank statement
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifyBankStatement"
      responses:
        "204":
          description: OK
  "/spaces/{spaceId}/folders/{folderId}/contractual-documents/{documentId}":
    delete:
      description: delete a contractual document
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      responses:
        "204":
          description: OK
    patch:
      description: modify a contractual document
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifyContractualDocument"
      responses:
        "204":
          description: OK
  "/spaces/{spaceId}/folders/{folderId}/corporate-tax-declarations/{documentId}":
    delete:
      description: delete a corporate tax declaration
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      responses:
        "204":
          description: OK
    patch:
      description: modify a coporate tax declaration
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifyCorporateTaxDeclaration"
      responses:
        "204":
          description: OK
  "/spaces/{spaceId}/folders/{folderId}/expense-proofs/{documentId}":
    delete:
      description: delete an expense proof
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      responses:
        "204":
          description: OK
    patch:
      description: modify an expense report
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifyExpenseProof"
      responses:
        "204":
          description: OK
  "/spaces/{spaceId}/folders/{folderId}/expense-reports/{documentId}":
    delete:
      description: delete an expense report
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      responses:
        "204":
          description: OK
    patch:
      description: modify an expense report
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifyExpenseReport"
      responses:
        "204":
          description: OK
  "/spaces/{spaceId}/folders/{folderId}/invoices/{documentId}":
    delete:
      description: delete an invoice document
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      responses:
        "204":
          description: OK
    patch:
      description: modify a invoice
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifyInvoice"
      responses:
        "204":
          description: OK
  "/spaces/{spaceId}/folders/{folderId}/nominative-social-declarations/{documentId}":
    get:
      description: get a nominative social declaration
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      responses:
        "200":
          $ref: "#/components/responses/OneNSD"
  "/spaces/{spaceId}/folders/{folderId}/other-taxes/{documentId}":
    delete:
      description: delete a tax declaration
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      responses:
        "204":
          description: OK
    patch:
      description: modify an other tax declaration
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifyOtherTax"
      responses:
        "204":
          description: OK
  "/spaces/{spaceId}/folders/{folderId}/payrolls/{documentId}":
    delete:
      description: delete a payroll
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      responses:
        "204":
          description: OK
    patch:
      description: modify a payroll
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifyPayroll"
      responses:
        "204":
          description: OK
  "/spaces/{spaceId}/folders/{folderId}/payrolls/{documentId}/refresh":
    post:
      description: recalculate a payroll
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  Id:
                    example: T1234
                    type: string
                type: object
          description: Id of the payroll generated
        "204":
          description: OK
  "/spaces/{spaceId}/folders/{folderId}/payslips/{documentId}":
    delete:
      description: delete a payslip
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      responses:
        "204":
          description: OK
    patch:
      description: modify a payslip
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
      requestBody:
        $ref: "#/components/requestBodies/ModifyPayslip"
      responses:
        "204":
          description: OK
  "/spaces/{spaceId}/folders/{folderId}/social-contracts/{documentId}":
    delete:
      description: delete a social contract
      parameters:
        - description: Id of the space
          in: path
          name: spaceId
          required: true
          schema:
            example: P156HUFHA476
            type: string
        - description: Id of the folder
          in: path
          name: folderId
          required: true
          schema:
            example: PJOFJAFA8Y
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
[...]
