openapi: 3.0.0
servers:
  - url: https://api.ip2whois.com/v2
info:
  description: IP2WHOIS is a free tool to allow you to check WHOIS information for a particular domain, such as domain assigned owner contact information, registrar information, registrant information, location and much more.
  title: IP2WHOIS Domain Lookup
  version: "1.0"
  x-apisguru-categories:
    - developer_tools
  x-origin:
    - format: openapi
      url: https://api.swaggerhub.com/apis/ip2whois/ip2whois-domain-lookup/1.0
      version: "3.0"
  x-providerName: ip2whois.com
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
paths:
  /:
    get:
      description: Lookup WHOIS information
      parameters:
        - description: Domain name for lookup purpose.
          in: query
          name: domain
          required: true
          schema:
            type: string
        - description: API key.
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: Returns the API response in json (default) or xml format.
          in: query
          name: format
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            text/html; charset=UTF-8:
              examples:
                "0":
                  value: '{"response": "","domain": "","domain_id": "","status": "","create_date": "","update_date": "","expire_date": "","domain_age": "","whois_server": "","registrar_iana_id": "","registrar_name": "","registrar_url": "","registrant_name": "","registrant_organization": "","registrant_street_address": "","registrant_city": "","registrant_region": "","registrant_zip_code": "","registrant_country": "","registrant_phone": "","registrant_fax": "","registrant_email": "","admin_name": "","admin_organization": "","admin_street_address":  "","admin_city": "","admin_region": "","admin_zip_code": "","admin_country": "","admin_phone": "","admin_fax": "","admin_email": "","tech_name": "","tech_organization": "","tech_street_address": "","tech_city": "","tech_region": "","tech_zip_code": "","tech_country": "","tech_phone": "","tech_fax": "","tech_email": "","billing_name": "","billing_organization": "","billing_street_address": "","billing_city": "","billing_region": "","billing_zip_code": "","billing_country": "","billing_phone": "","billing_fax": "","billing_email": "","name_servers": "","error_code": "","error_message":""}'
              schema:
                type: string
          description: Get response from IP2WHOIS
