swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /deploymentmanager/v2beta1/projects
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'The Deployment Manager API allows users to declaratively configure, deploy and run complex solutions on the Google Cloud Platform.'
  title: Google Cloud Deployment Manager
  version: v2beta1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://cloud.google.com/_static/images/new-gcp-logo.png'
  x-origin:
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/deploymentmanager/v2beta1/rest'
    version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: deploymentmanager
externalDocs:
  url: 'https://developers.google.com/deployment-manager/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/ndev.cloudman': View and manage your Google Cloud Platform management resources and deployment status information
      'https://www.googleapis.com/auth/ndev.cloudman.readonly': View your Google Cloud Platform management resources and deployment status information
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
paths:
  '/{project}/global/deployments':
    get:
      description: '! Lists all deployments for a given project.'
      operationId: deploymentmanager.deployments.list
      parameters:
        - description: '! The project ID for this request.'
          in: path
          name: project
          required: true
          type: string
        - default: 50
          description: '! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)'
          in: query
          maximum: 100
          minimum: 0
          name: maxResults
          type: integer
        - description: '! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.'
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DeploymentsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - deployments
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: '! Creates a deployment and all of the resources described by the ! deployment manifest.'
      operationId: deploymentmanager.deployments.insert
      parameters:
        - description: '! The project ID for this request.'
          in: path
          name: project
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Deployment'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - deployments
  '/{project}/global/deployments/{deployment}':
    delete:
      description: '! Deletes a deployment and all of the resources in the deployment.'
      operationId: deploymentmanager.deployments.delete
      parameters:
        - description: '! The project ID for this request.'
          in: path
          name: project
          required: true
          type: string
        - description: '! The name of the deployment for this request.'
          in: path
          name: deployment
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
      tags:
        - deployments
    get:
      description: '! Gets information about a specific deployment.'
      operationId: deploymentmanager.deployments.get
      parameters:
        - description: '! The project ID for this request.'
          in: path
          name: project
          required: true
          type: string
        - description: '! The name of the deployment for this request.'
          in: path
          name: deployment
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Deployment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - deployments
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/deployments/{deployment}/manifests':
    get:
      description: '! Lists all manifests for a given deployment.'
      operationId: deploymentmanager.manifests.list
      parameters:
        - description: '! The project ID for this request.'
          in: path
          name: project
          required: true
          type: string
        - description: '! The name of the deployment for this request.'
          in: path
          name: deployment
          required: true
          type: string
        - default: 50
          description: '! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)'
          in: query
          maximum: 100
          minimum: 0
          name: maxResults
          type: integer
        - description: '! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.'
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ManifestsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - manifests
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/deployments/{deployment}/manifests/{manifest}':
    get:
      description: '! Gets information about a specific manifest.'
      operationId: deploymentmanager.manifests.get
      parameters:
        - description: '! The project ID for this request.'
          in: path
          name: project
          required: true
          type: string
        - description: '! The name of the deployment for this request.'
          in: path
          name: deployment
          required: true
          type: string
        - description: '! The name of the manifest for this request.'
          in: path
          name: manifest
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Manifest'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - manifests
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/deployments/{deployment}/resources':
    get:
      description: '! Lists all resources in a given deployment.'
      operationId: deploymentmanager.resources.list
      parameters:
        - description: '! The project ID for this request.'
          in: path
          name: project
          required: true
          type: string
        - description: '! The name of the deployment for this request.'
          in: path
          name: deployment
          required: true
          type: string
        - default: 50
          description: '! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)'
          in: query
          maximum: 100
          minimum: 0
          name: maxResults
          type: integer
        - description: '! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.'
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ResourcesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - resources
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/deployments/{deployment}/resources/{resource}':
    get:
      description: '! Gets information about a single resource.'
      operationId: deploymentmanager.resources.get
      parameters:
        - description: '! The project ID for this request.'
          in: path
          name: project
          required: true
          type: string
        - description: '! The name of the deployment for this request.'
          in: path
          name: deployment
          required: true
          type: string
        - description: '! The name of the resource for this request.'
          in: path
          name: resource
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Resource'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - resources
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/operations':
    get:
      description: '! Lists all Operations for a project.'
      operationId: deploymentmanager.operations.list
      parameters:
        - description: '! The project ID for this request.'
          in: path
          name: project
          required: true
          type: string
        - default: 50
          description: '! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)'
          in: query
          maximum: 100
          minimum: 0
          name: maxResults
          type: integer
        - description: '! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.'
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OperationsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - operations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/operations/{operation}':
    get:
      description: '! Gets information about a specific Operation.'
      operationId: deploymentmanager.operations.get
      parameters:
        - description: '! The project ID for this request.'
          in: path
          name: project
          required: true
          type: string
        - description: '! The name of the operation for this request.'
          in: path
          name: operation
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - operations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/types':
    get:
      description: '! Lists all Types for Deployment Manager.'
      operationId: deploymentmanager.types.list
      parameters:
        - description: '! The project ID for this request.'
          in: path
          name: project
          required: true
          type: string
        - default: 50
          description: '! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)'
          in: query
          maximum: 100
          minimum: 0
          name: maxResults
          type: integer
        - description: '! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.'
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TypesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.cloudman.readonly'
      tags:
        - types
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
definitions:
  Deployment:
    description: 'Next available tag: 8'
    properties:
      description:
        description: '! An optional user-provided description of the deployment.'
        type: string
      id:
        description: '[Output Only] Unique identifier for the resource; defined by the server.'
        format: uint64
        type: string
      manifest:
        description: '! [Output Only] URL of the manifest representing the full configuration ! of this deployment.'
        type: string
      name:
        description: '! The name of the deployment, which must be unique within the project.'
        type: string
      targetConfig:
        description: '! [Input Only] The YAML configuration to use in processing this deployment. ! ! When you create a deployment, the server creates a new manifest with the ! given YAML configuration and sets the `manifest` property to the URL of ! the manifest resource.'
        type: string
    type: object
  DeploymentsListResponse:
    description: '! A response containing a partial list of deployments and a page token used ! to build the next request if the request has been truncated. Next available tag: 4'
    properties:
      deployments:
        description: '! The deployments contained in this response.'
        items:
          $ref: '#/definitions/Deployment'
        type: array
      nextPageToken:
        description: '! A token used to continue a truncated list request.'
        type: string
    type: object
  Manifest:
    description: 'Next available tag: 10'
    properties:
      config:
        description: 'v2beta1: YAML with config - described above v2beta2: YAML + templates. ! The YAML configuration for this manifest.'
        type: string
      evaluatedConfig:
        description: '! [Output Only] The fully-expanded configuration file, including any ! templates and references.'
        type: string
      id:
        description: '[Output Only] Unique identifier for the resource; defined by the server.'
        format: uint64
        type: string
      name:
        description: '! [Output Only] The name of the manifest.'
        type: string
      selfLink:
        description: '[Output Only] Self link for the manifest.'
        type: string
    type: object
  ManifestsListResponse:
    description: '! A response containing a partial list of manifests and a page token used ! to build the next request if the request has been truncated. Next available tag: 4'
    properties:
      manifests:
        description: '! Manifests contained in this list response.'
        items:
          $ref: '#/definitions/Manifest'
        type: array
      nextPageToken:
        description: '! A token used to continue a truncated list request.'
        type: string
    type: object
  Operation:
    description: '! An operation resource, used to manage asynchronous API requests. Next available tag: 24'
    properties:
      creationTimestamp:
        description: '! [Output Only] Creation timestamp in RFC3339 text format.'
        type: string
      endTime:
        description: '! [Output Only] The time that this operation was completed. This is in ! RFC3339 format.'
        type: string
      error:
        description: '! [Output Only] If errors occurred during processing of this operation, ! this field will be populated.'
        properties:
          errors:
            description: '! The array of errors encountered while processing this operation.'
            items:
              properties:
                code:
                  description: '! The error type identifier for this error.'
                  type: string
                location:
                  description: '! Indicates the field in the request which caused the error. ! This property is optional.'
                  type: string
                message:
                  description: '! An optional, human-readable error message.'
                  type: string
              type: object
            type: array
        type: object
      httpErrorMessage:
        description: '! [Output Only] If operation fails, the HTTP error message returned, ! e.g. NOT FOUND.'
        type: string
      httpErrorStatusCode:
        description: '! [Output Only] If operation fails, the HTTP error status code returned, ! e.g. 404.'
        format: int32
        type: integer
      id:
        description: '! [Output Only] Unique identifier for the resource; defined by the server.'
        format: uint64
        type: string
      insertTime:
        description: '! [Output Only] The time that this operation was requested. ! This is in RFC 3339 format.'
        type: string
      name:
        description: '! [Output Only] Name of the operation.'
        type: string
      operationType:
        description: '! [Output Only] Type of the operation. Examples include "insert", or ! "delete"'
        type: string
      progress:
        description: '! [Output Only] An optional progress indicator that ranges from 0 to 100. ! There is no requirement that this be linear or support any granularity ! of operations. This should not be used to guess at when the operation will ! be complete. This number should be monotonically increasing as the ! operation progresses.'
        format: int32
        type: integer
      selfLink:
        description: '[Output Only] Self link for the manifest.'
        type: string
      startTime:
        description: '! [Output Only] The time that this operation was started by the server. ! This is in RFC 3339 format.'
        type: string
      status:
        description: '! [Output Only] Status of the operation. Can be one of the following: ! "PENDING", "RUNNING", or "DONE".'
        type: string
      statusMessage:
        description: '! [Output Only] An optional textual description of the current status of ! the operation.'
        type: string
      targetId:
        description: '! [Output Only] Unique target id which identifies a particular ! incarnation of the target.'
        format: uint64
        type: string
      targetLink:
        description: '! [Output Only] URL of the resource the operation is mutating.'
        type: string
      user:
        description: '! [Output Only] User who requested the operation, for example ! "user@example.com"'
        type: string
      warnings:
        description: '! [Output Only] If warning messages generated during processing of this ! operation, this field will be populated.'
        items:
          properties:
            code:
              description: '! The warning type identifier for this warning.'
            data:
              description: "! Metadata for this warning in 'key: value' format."
              items:
                properties:
                  key:
                    description: '! A key for the warning data.'
                    type: string
                  value:
                    description: '! A warning data value corresponding to the key.'
                    type: string
                type: object
              type: array
            message:
              description: '! Optional human-readable details for this warning.'
              type: string
          type: object
        type: array
    type: object
  OperationsListResponse:
    description: '! A response containing a partial list of operations and a page token used ! to build the next request if the request has been truncated. Next available tag: 4'
    properties:
      nextPageToken:
        description: '! A token used to continue a truncated list request.'
        type: string
      operations:
        description: '! Operations contained in this list response.'
        items:
          $ref: '#/definitions/Operation'
        type: array
    type: object
  Resource:
    description: 'Next available tag: 12'
    properties:
      errors:
        description: '! [Output Only] A list of any errors that occurred during deployment.'
        items:
          type: string
        type: array
      id:
        description: '[Output Only] Unique identifier for the resource; defined by the server.'
        format: uint64
        type: string
      intent:
        description: '! [Output Only] The intended state of the resource.'
        type: string
      manifest:
        description: '! [Output Only] URL of the manifest representing the current configuration ! of this resource.'
        type: string
      name:
        description: '! [Output Only] The name of the resource as it appears in the YAML config.'
        type: string
      state:
        description: '! [Output Only] The state of the resource.'
        type: string
      type:
        description: '! [Output Only] The type of the resource, for example ! ?compute.v1.instance?, or ?replicaPools.v1beta2.instanceGroupManager?'
        type: string
      url:
        description: '! [Output Only] The URL of the actual resource.'
        type: string
    type: object
  ResourcesListResponse:
    description: '! A response containing a partial list of resources and a page token used ! to build the next request if the request has been truncated. Next available tag: 4'
    properties:
      nextPageToken:
        description: '! A token used to continue a truncated list request.'
        type: string
      resources:
        description: '! Resources contained in this list response.'
        items:
          $ref: '#/definitions/Resource'
        type: array
    type: object
  Type:
    description: '! A type supported by Deployment Manager. Next available tag: 4'
    properties:
      name:
        description: '! Name of the type.'
        type: string
    type: object
  TypesListResponse:
    description: '! A response that returns all Types supported by Deployment Manager Next available tag: 3'
    properties:
      types:
        description: '! Types supported by Deployment Manager'
        items:
          $ref: '#/definitions/Type'
        type: array
    type: object
