swagger: '2.0'
info:
  version: '2016-11-28'
  x-release: v4
  title: Amazon Lightsail
  description: '<p>Amazon Lightsail is the easiest way to get started with AWS for developers who just need virtual private servers. Lightsail includes everything you need to launch your project quickly - a virtual machine, SSD-based storage, data transfer, DNS management, and a static IP - for a low, predictable price. You manage those Lightsail servers through the Lightsail console or by using the API or command-line interface (CLI).</p> <p>For more information about Lightsail concepts and tasks, see the <a href="http://lightsail.aws.amazon.com/ls/docs">Lightsail Dev Guide</a>.</p> <p>To use the Lightsail API or the CLI, you will need to use AWS Identity and Access Management (IAM) to generate access keys. For details about how to set this up, see the <a href="http://lightsail.aws.amazon.com/ls/docs/how-to/articles/lightsail-how-to-set-up-access-keys-to-use-sdk-api-cli">Lightsail Dev Guide</a>.</p>'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: lightsail
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/lightsail-2016-11-28.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
    - format: swagger
      version: '2.0'
      url: 'https://raw.githubusercontent.com/mermade/openapi-definitions/master/aws/lightsail/2016-11-28/swagger.yaml'
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
x-logo:
  url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
  backgroundColor: '#FFFFFF'
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/lightsail/'
host: lightsail.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AllocateStaticIp
      description: Allocates a static IP address.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AllocateStaticIpResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AllocateStaticIpRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AttachStaticIp':
    post:
      operationId: AttachStaticIp
      description: Attaches a static IP address to a specific Amazon Lightsail instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachStaticIpResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AttachStaticIpRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CloseInstancePublicPorts':
    post:
      operationId: CloseInstancePublicPorts
      description: Closes the public ports on a specific Amazon Lightsail instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CloseInstancePublicPortsResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CloseInstancePublicPortsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateDomain':
    post:
      operationId: CreateDomain
      description: 'Creates a domain resource for the specified domain (e.g., example.com).'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDomainResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDomainRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateDomainEntry':
    post:
      operationId: CreateDomainEntry
      description: 'Creates one of the following entry records associated with the domain: A record, CNAME record, TXT record, or MX record.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDomainEntryResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDomainEntryRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateInstanceSnapshot':
    post:
      operationId: CreateInstanceSnapshot
      description: 'Creates a snapshot of a specific virtual private server, or <i>instance</i>. You can use a snapshot to create a new instance that is based on that snapshot.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateInstanceSnapshotResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateInstanceSnapshotRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateInstances':
    post:
      operationId: CreateInstances
      description: 'Creates one or more Amazon Lightsail virtual private servers, or <i>instances</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateInstancesResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateInstancesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateInstancesFromSnapshot':
    post:
      operationId: CreateInstancesFromSnapshot
      description: Uses a specific snapshot as a blueprint for creating one or more new instances that are based on that identical configuration.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateInstancesFromSnapshotResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateInstancesFromSnapshotRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateKeyPair':
    post:
      operationId: CreateKeyPair
      description: Creates sn SSH key pair.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateKeyPairResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateKeyPairRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteDomain':
    post:
      operationId: DeleteDomain
      description: Deletes the specified domain recordset and all of its domain records.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDomainResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDomainRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteDomainEntry':
    post:
      operationId: DeleteDomainEntry
      description: Deletes a specific domain entry.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDomainEntryResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDomainEntryRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteInstance':
    post:
      operationId: DeleteInstance
      description: 'Deletes a specific Amazon Lightsail virtual private server, or <i>instance</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInstanceResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteInstanceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteInstanceSnapshot':
    post:
      operationId: DeleteInstanceSnapshot
      description: Deletes a specific snapshot of a virtual private server (or <i>instance</i>).
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInstanceSnapshotResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteInstanceSnapshotRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteKeyPair':
    post:
      operationId: DeleteKeyPair
      description: Deletes a specific SSH key pair.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteKeyPairResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteKeyPairRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetachStaticIp':
    post:
      operationId: DetachStaticIp
      description: Detaches a static IP from the Amazon Lightsail instance to which it is attached.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetachStaticIpResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetachStaticIpRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DownloadDefaultKeyPair':
    post:
      operationId: DownloadDefaultKeyPair
      description: Downloads the default SSH key pair from the user's account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DownloadDefaultKeyPairResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DownloadDefaultKeyPairRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetActiveNames':
    post:
      operationId: GetActiveNames
      description: Returns the names of all active (not deleted) resources.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetActiveNamesResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetActiveNamesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetBlueprints':
    post:
      operationId: GetBlueprints
      description: 'Returns the list of available instance images, or <i>blueprints</i>. You can use a blueprint to create a new virtual private server already running a specific operating system, as well as a preinstalled app or development stack. The software each instance is running depends on the blueprint image you choose.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBlueprintsResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBlueprintsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetBundles':
    post:
      operationId: GetBundles
      description: Returns the list of bundles that are available for purchase. A bundle describes the specs for your virtual private server (or <i>instance</i>).
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBundlesResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBundlesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDomain':
    post:
      operationId: GetDomain
      description: Returns information about a specific domain recordset.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDomainResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDomainRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDomains':
    post:
      operationId: GetDomains
      description: Returns a list of all domains in the user's account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDomainsResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDomainsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetInstance':
    post:
      operationId: GetInstance
      description: 'Returns information about a specific Amazon Lightsail instance, which is a virtual private server.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInstanceResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetInstanceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetInstanceAccessDetails':
    post:
      operationId: GetInstanceAccessDetails
      description: 'Returns temporary SSH keys you can use to connect to a specific virtual private server, or <i>instance</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInstanceAccessDetailsResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetInstanceAccessDetailsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetInstanceMetricData':
    post:
      operationId: GetInstanceMetricData
      description: 'Returns the data points for the specified Amazon Lightsail instance metric, given an instance name.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInstanceMetricDataResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetInstanceMetricDataRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetInstancePortStates':
    post:
      operationId: GetInstancePortStates
      description: 'Returns the port states for a specific virtual private server, or <i>instance</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInstancePortStatesResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetInstancePortStatesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetInstanceSnapshot':
    post:
      operationId: GetInstanceSnapshot
      description: Returns information about a specific instance snapshot.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInstanceSnapshotResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetInstanceSnapshotRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetInstanceSnapshots':
    post:
      operationId: GetInstanceSnapshots
      description: Returns all instance snapshots for the user's account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInstanceSnapshotsResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetInstanceSnapshotsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetInstanceState':
    post:
      operationId: GetInstanceState
      description: Returns the state of a specific instance. Works on one instance at a time.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInstanceStateResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetInstanceStateRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetInstances':
    post:
      operationId: GetInstances
      description: 'Returns information about all Amazon Lightsail virtual private servers, or <i>instances</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInstancesResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetInstancesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetKeyPair':
    post:
      operationId: GetKeyPair
      description: Returns information about a specific key pair.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetKeyPairResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetKeyPairRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetKeyPairs':
    post:
      operationId: GetKeyPairs
      description: Returns information about all key pairs in the user's account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetKeyPairsResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetKeyPairsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetOperation':
    post:
      operationId: GetOperation
      description: 'Returns information about a specific operation. Operations include events such as when you create an instance, allocate a static IP, attach a static IP, and so on.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetOperationResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetOperationRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetOperations':
    post:
      operationId: GetOperations
      description: '<p>Returns information about all operations.</p> <p>Results are returned from oldest to newest, up to a maximum of 200. Results can be paged by making each subsequent call to <code>GetOperations</code> use the maximum (last) <code>statusChangedAt</code> value from the previous request.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetOperationsResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetOperationsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetOperationsForResource':
    post:
      operationId: GetOperationsForResource
      description: 'Gets operations for a specific resource (e.g., an instance or a static IP).'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetOperationsForResourceResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetOperationsForResourceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetRegions':
    post:
      operationId: GetRegions
      description: Returns a list of all valid regions for Amazon Lightsail.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRegionsResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetRegionsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetStaticIp':
    post:
      operationId: GetStaticIp
      description: Returns information about a specific static IP.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetStaticIpResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetStaticIpRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetStaticIps':
    post:
      operationId: GetStaticIps
      description: Returns information about all static IPs in the user's account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetStaticIpsResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetStaticIpsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ImportKeyPair':
    post:
      operationId: ImportKeyPair
      description: Imports a public SSH key from a specific key pair.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ImportKeyPairResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ImportKeyPairRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#IsVpcPeered':
    post:
      operationId: IsVpcPeered
      description: Returns a Boolean value indicating whether your Lightsail VPC is peered.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/IsVpcPeeredResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/IsVpcPeeredRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#OpenInstancePublicPorts':
    post:
      operationId: OpenInstancePublicPorts
      description: Adds public ports to an Amazon Lightsail instance.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OpenInstancePublicPortsResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/OpenInstancePublicPortsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PeerVpc':
    post:
      operationId: PeerVpc
      description: Tries to peer the Lightsail VPC with the user's default VPC.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PeerVpcResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PeerVpcRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RebootInstance':
    post:
      operationId: RebootInstance
      description: 'Restarts a specific instance. When your Amazon Lightsail instance is finished rebooting, Lightsail assigns a new public IP address. To use the same IP address after restarting, create a static IP address and attach it to the instance.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RebootInstanceResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RebootInstanceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ReleaseStaticIp':
    post:
      operationId: ReleaseStaticIp
      description: Deletes a specific static IP from your account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ReleaseStaticIpResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ReleaseStaticIpRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartInstance':
    post:
      operationId: StartInstance
      description: 'Starts a specific Amazon Lightsail instance from a stopped state. To restart an instance, use the reboot instance operation.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartInstanceResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartInstanceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopInstance':
    post:
      operationId: StopInstance
      description: Stops a specific Amazon Lightsail instance that is currently running.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopInstanceResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopInstanceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UnpeerVpc':
    post:
      operationId: UnpeerVpc
      description: Attempts to unpeer the Lightsail VPC from the user's default VPC.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UnpeerVpcResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UnpeerVpcRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateDomainEntry':
    post:
      operationId: UpdateDomainEntry
      description: Updates a domain recordset after it is created.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDomainEntryResult'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: OperationFailureException
          schema:
            $ref: '#/definitions/OperationFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '485':
          description: AccountSetupInProgressException
          schema:
            $ref: '#/definitions/AccountSetupInProgressException'
        '486':
          description: UnauthenticatedException
          schema:
            $ref: '#/definitions/UnauthenticatedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDomainEntryRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AccessDeniedException:
    type: object
    properties:
      code:
        $ref: '#/definitions/string'
      docs:
        $ref: '#/definitions/string'
      message:
        $ref: '#/definitions/string'
      tip:
        $ref: '#/definitions/string'
    description: Lightsail throws this exception when the user cannot be authenticated or uses invalid credentials to access a resource.
  AccessDirection:
    type: string
    enum:
      - inbound
      - outbound
  AccountSetupInProgressException:
    type: object
    properties:
      code:
        $ref: '#/definitions/string'
      docs:
        $ref: '#/definitions/string'
      message:
        $ref: '#/definitions/string'
      tip:
        $ref: '#/definitions/string'
    description: Lightsail throws this exception when an account is still in the setup in progress state.
  AllocateStaticIpRequest:
    type: object
    required:
      - staticIpName
    properties:
      staticIpName:
        $ref: '#/definitions/ResourceName'
        description: The name of the static IP address.
  AllocateStaticIpResult:
    type: object
    properties:
      operations:
        $ref: '#/definitions/OperationList'
        description: An array of key-value pairs containing information about the static IP address you allocated.
  AttachStaticIpRequest:
    type: object
    required:
      - staticIpName
      - instanceName
    properties:
      staticIpName:
        $ref: '#/definitions/ResourceName'
        description: The name of the static IP.
      instanceName:
        $ref: '#/definitions/ResourceName'
        description: The instance name to which you want to attach the static IP address.
  AttachStaticIpResult:
    type: object
    properties:
      operations:
        $ref: '#/definitions/OperationList'
        description: An array of key-value pairs containing information about your API operations.
  AvailabilityZone:
    type: object
    properties:
      zoneName:
        $ref: '#/definitions/NonEmptyString'
        description: The name of the Availability Zone.
      state:
        $ref: '#/definitions/NonEmptyString'
        description: The state of the Availability Zone.
    description: Describes an Availability Zone.
  AvailabilityZoneList:
    type: array
    items:
      $ref: '#/definitions/AvailabilityZone'
  Base64:
    type: string
  Blueprint:
    type: object
    properties:
      blueprintId:
        $ref: '#/definitions/NonEmptyString'
        description: 'The ID for the virtual private server image (e.g., <code>app_wordpress_4_4</code> or <code>app_lamp_7_0</code>).'
      name:
        $ref: '#/definitions/ResourceName'
        description: 'The friendly name of the blueprint (e.g., <code>Amazon Linux</code>).'
      group:
        $ref: '#/definitions/NonEmptyString'
        description: 'The group name of the blueprint (e.g., <code>amazon-linux</code>).'
      type:
        $ref: '#/definitions/BlueprintType'
        description: 'The type of the blueprint (e.g., <code>os</code> or <code>app</code>).'
      description:
        $ref: '#/definitions/string'
        description: The description of the blueprint.
      isActive:
        $ref: '#/definitions/boolean'
        description: 'A Boolean value indicating whether the blueprint is active. When you update your blueprints, you will inactivate old blueprints and keep the most recent versions active.'
      minPower:
        $ref: '#/definitions/integer'
        description: The minimum machine size required to run this blueprint. <code>0</code> indicates that the blueprint runs on all instances.
      version:
        $ref: '#/definitions/string'
        description: 'The version number of the operating system, application, or stack (e.g., <code>2016.03.0</code>).'
      versionCode:
        $ref: '#/definitions/string'
        description: The version code.
      productUrl:
        $ref: '#/definitions/string'
        description: The product URL to learn more about the image or blueprint.
      licenseUrl:
        $ref: '#/definitions/string'
        description: The end-user license agreement URL for the image or blueprint.
    description: Describes a blueprint (a virtual private server image).
  BlueprintList:
    type: array
    items:
      $ref: '#/definitions/Blueprint'
  BlueprintType:
    type: string
    enum:
      - os
      - app
  Bundle:
    type: object
    properties:
      price:
        $ref: '#/definitions/float'
        description: 'The price in US dollars (e.g., <code>5.0</code>).'
      cpuCount:
        $ref: '#/definitions/integer'
        description: 'The number of vCPUs included in the bundle (e.g., <code>2</code>).'
      diskSizeInGb:
        $ref: '#/definitions/integer'
        description: 'The size of the SSD (e.g., <code>30</code>).'
      bundleId:
        $ref: '#/definitions/NonEmptyString'
        description: 'The bundle ID (e.g., <code>micro_1_0</code>).'
      instanceType:
        $ref: '#/definitions/string'
        description: 'The Amazon EC2 instance type (e.g., <code>t2.micro</code>).'
      isActive:
        $ref: '#/definitions/boolean'
        description: A Boolean value indicating whether the bundle is active.
      name:
        $ref: '#/definitions/string'
        description: 'A friendly name for the bundle (e.g., <code>Micro</code>).'
      power:
        $ref: '#/definitions/integer'
        description: 'The power of the bundle (e.g., <code>500</code>).'
      ramSizeInGb:
        $ref: '#/definitions/float'
        description: 'The amount of RAM in GB (e.g., <code>2.0</code>).'
      transferPerMonthInGb:
        $ref: '#/definitions/integer'
        description: 'The data transfer rate per month in GB (e.g., <code>2000</code>).'
    description: 'Describes a bundle, which is a set of specs describing your virtual private server (or <i>instance</i>).'
  BundleList:
    type: array
    items:
      $ref: '#/definitions/Bundle'
  CloseInstancePublicPortsRequest:
    type: object
    required:
      - portInfo
      - instanceName
    properties:
      portInfo:
        $ref: '#/definitions/PortInfo'
        description: Information about the public port you are trying to close.
      instanceName:
        $ref: '#/definitions/ResourceName'
        description: The name of the instance on which you're attempting to close the public ports.
  CloseInstancePublicPortsResult:
    type: object
    properties:
      operation:
        $ref: '#/definitions/Operation'
        description: An array of key-value pairs that contains information about the operation.
  CreateDomainEntryRequest:
    type: object
    required:
      - domainName
      - domainEntry
    properties:
      domainName:
        $ref: '#/definitions/DomainName'
        description: 'The domain name (e.g., <code>example.com</code>) for which you want to create the domain entry.'
      domainEntry:
        $ref: '#/definitions/DomainEntry'
        description: An array of key-value pairs containing information about the domain entry request.
  CreateDomainEntryResult:
    type: object
    properties:
      operation:
        $ref: '#/definitions/Operation'
        description: An array of key-value pairs containing information about the operation.
  CreateDomainRequest:
    type: object
    required:
      - domainName
    properties:
      domainName:
        $ref: '#/definitions/DomainName'
        description: '<p>The domain name to manage (e.g., <code>example.com</code>).</p> <note> <p>You cannot register a new domain name using Lightsail. You must register a domain name using Amazon Route 53 or another domain name registrar. If you have already registered your domain, you can enter its name in this parameter to manage the DNS records for that domain.</p> </note>'
  CreateDomainResult:
    type: object
    properties:
      operation:
        $ref: '#/definitions/Operation'
        description: An array of key-value pairs containing information about the domain resource you created.
  CreateInstanceSnapshotRequest:
    type: object
    required:
      - instanceSnapshotName
      - instanceName
    properties:
      instanceSnapshotName:
        $ref: '#/definitions/ResourceName'
        description: The name for your new snapshot.
      instanceName:
        $ref: '#/definitions/ResourceName'
        description: The Lightsail instance on which to base your snapshot.
  CreateInstanceSnapshotResult:
    type: object
    properties:
      operations:
        $ref: '#/definitions/OperationList'
        description: An array of key-value pairs containing information about the results of your create instances snapshot request.
  CreateInstancesFromSnapshotRequest:
    type: object
    required:
      - instanceNames
      - availabilityZone
      - instanceSnapshotName
      - bundleId
    properties:
      instanceNames:
        $ref: '#/definitions/StringList'
        description: The names for your new instances.
      availabilityZone:
        $ref: '#/definitions/string'
        description: 'The Availability Zone where you want to create your instances. Use the following formatting: <code>us-east-1a</code> (case sensitive).'
      instanceSnapshotName:
        $ref: '#/definitions/ResourceName'
        description: The name of the instance snapshot on which you are basing your new instances. Use the get instance snapshots operation to return information about your existing snapshots.
      bundleId:
        $ref: '#/definitions/NonEmptyString'
        description: 'The bundle of specification information for your virtual private server (or <i>instance</i>), including the pricing plan (e.g., <code>micro_1_0</code>).'
      userData:
        $ref: '#/definitions/string'
[...]
