swagger: '2.0'
schemes:
  - https
host: api.citrixonline.com
basePath: /seeit/v1
info:
  description: '<p>Allows you to integrate GoToAssist Seeit into your own solutions.</p><p>General notes:<ul><li>GoToAssist Seeit sessions are identified by their uuid. The more readable 9 digit support key (e.g. 123-456-789) may be reused later for another session and thus cannot be used to unambiguously identify a session.</li><li>If not explicitly stated otherwise all timestamps represent the number of milliseconds since 1970-01-01 in UTC (similar to a Unix Timestamp but with millisecond resolution)</li></ul></p>'
  title: GoToAssist Seeit
  version: 0.9.0
  x-apisguru-categories:
    - support
  x-logo:
    backgroundColor: '#5F6166'
    url: 'https://developer.citrixonline.com/sites/all/themes/citrix_responsive/logo.png'
  x-origin:
    - format: swagger
      url: 'https://developer.citrixonline.com/sites/default/files/citrix/citrix-apis/gotoassistseeit.json'
      version: '2.0'
  x-providerName: citrixonline.com
  x-serviceName: gotoassistseeit
externalDocs:
  url: 'https://developer.citrixonline.com/'
produces:
  - application/json
parameters:
  Authorization:
    description: Access Token
    in: header
    name: Authorization
    required: true
    type: string
responses:
  Response_401_Unauthorized:
    description: Missing or invalid authorization header
  Response_403_Forbidden:
    description: You do not have the required permissions for this operation
paths:
  /sessions:
    get:
      description: '<p>This endpoint allows you to get all relevant details for mulitple GoToAssist Seeit sessions. Session details are available for 90 days.</p></p>The fields and their values in the response depend on session status and the time elapsed since session end; e.g. session data like snapshots or the session recording are only available for 72 hours.</p><p>The results will be paged, with paging customizable to match your requirements.</p>'
      parameters:
        - $ref: '#/parameters/Authorization'
        - description: Optional start of date range as timestamp (will be compared against session creation time)
          format: int64
          in: query
          name: startTime
          required: false
          type: integer
        - description: Optional end of date range as timestamp (will be compared against session creation time)
          format: int64
          in: query
          name: endTime
          required: false
          type: integer
        - description: 'Optional page number. If not specified, page 0 is delivered'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: 'Optional page size. If not specified, 5 sessions are delivered'
          format: int32
          in: query
          name: size
          required: false
          type: integer
        - description: 'Optional sort criteria, i.e. field name to sort by, optionally followed by a comma and the sort order (asc or desc). Every field available in the session details can be used as sort criteria. If not specified, result is sorted ascending by sessionCreateTime'
          in: query
          name: sort
          required: false
          type: string
      responses:
        '200':
          description: Returns the requested session details
          schema:
            $ref: '#/definitions/PagedSessionDetails'
        '401':
          $ref: '#/responses/Response_401_Unauthorized'
        '403':
          $ref: '#/responses/Response_403_Forbidden'
      summary: Get details for multiple GoToAssist Seeit sessions
      tags:
        - Sessions
    post:
      description: This endpoint allows you to create a GoToAssist Seeit session. The session logically exists but is not started until you open the returned startUrl in a suitable browser.
      parameters:
        - $ref: '#/parameters/Authorization'
      responses:
        '201':
          description: The session has been created.
          schema:
            $ref: '#/definitions/Session'
        '401':
          $ref: '#/responses/Response_401_Unauthorized'
        '403':
          $ref: '#/responses/Response_403_Forbidden'
      summary: Create a GoToAssist Seeit session
      tags:
        - Sessions
  '/sessions/{uuid}':
    get:
      description: <p>This endpoint allows you to get all relevant details for a single GoToAssist Seeit session. Session details are available for 90 days.</p><p>The fields and their values in the response depend on session status and the time elapsed since session end; e.g. session data like snapshots or the session recording are only available for 72 hours.</p>
      parameters:
        - $ref: '#/parameters/Authorization'
        - description: the uuid returned when creating the session.
          format: uuid
          in: path
          name: uuid
          required: true
          type: string
      responses:
        '200':
          description: Returns the information required to start a GoToAssist Seeit session.
          schema:
            $ref: '#/definitions/SessionDetails'
        '401':
          $ref: '#/responses/Response_401_Unauthorized'
        '403':
          $ref: '#/responses/Response_403_Forbidden'
        '404':
          description: 'There is no data for a session with the given uuid. Either the uuid is invalid, or the session data is no longer available.'
        '409':
          description: Session details are not available yet. You might get this when immediately requesting session details after session creation while data is not consistent yet. Please retry later.
      summary: Get details for a single GoToAssist Seeit session
      tags:
        - Sessions
definitions:
  Link:
    properties:
      href:
        description: The corresponding link
        format: url
        type: string
      rel:
        description: The kind of link that is provided
        enum:
          - self
          - next
          - prev
        type: string
    required:
      - rel
      - href
  PagedSessionDetails:
    properties:
      content:
        description: Details for the sessions within this result page. May be an empty array if there are no sessions that match the specified query parameters
        items:
          $ref: '#/definitions/SessionDetails'
        type: array
      links:
        description: 'Links to the current, next and previous page (if applicable)'
        items:
          $ref: '#/definitions/Link'
        type: array
      page:
        $ref: '#/definitions/PagingInfo'
        description: 'Details related to paging (e.g. page size, number of available pages)'
    required:
      - content
      - links
      - page
  PagingInfo:
    properties:
      number:
        description: Current page number
        format: int32
        type: integer
      size:
        description: Page size (i.e. number of elements within a page)
        format: int32
        type: integer
      totalElements:
        description: Number of total elements available
        format: int32
        type: integer
      totalPages:
        description: Number of total pages available
        format: int32
        type: integer
    required:
      - size
      - number
      - totalElements
      - totalPages
  Session:
    properties:
      startUrl:
        description: The URL that can be used to start the session in a suitable browser. Valid only until the session has been finished
        format: url
        type: string
      supportKey:
        description: Human readable support key
        type: string
      uuid:
        description: 'Canonical form of the [UUID](http://en.wikipedia.org/wiki/Universally_unique_identifier) uniquely identifying this session'
        format: uuid
        type: string
    required:
      - uuid
      - supportKey
      - startUrl
  SessionDetails:
    properties:
      sessionCreateTime:
        description: Timestamp of when the session was created via API
        format: int64
        type: integer
      sessionDataDownloadUrl:
        description: 'Url of zip file containing session data like photos, notes or recording (if applicable)'
        format: url
        type: string
      sessionDataDownloadUrlExpiration:
        description: Timestamp of when sessionDataDownloadUrl expires. After the specified expiry date session data cannot be downloaded any longer
        format: int64
        type: integer
      sessionDataPhotoCount:
        description: Number of photos stored for this session
        format: int32
        type: integer
      sessionDataPhotoNotesCount:
        description: Number of photo notes stored for this session
        format: int32
        type: integer
      sessionDataSize:
        description: 'Size of the session data zip file, 0 if not present'
        format: int64
        type: integer
      sessionDataStatus:
        description: A string describing the availability of session data
        enum:
          - NO_DATA
          - PROCESSING
          - AVAILABLE
        type: string
      sessionEndTime:
        description: Timestamp of when the session was ended (if applicable)
        format: int64
        type: integer
      sessionJoinTime:
        description: Timestamp of when the session was joined by the mobile app (if applicable)
        format: int64
        type: integer
      sessionNotes:
        description: Session notes stored for this session (cut to 1000 characters)
        type: string
      sessionRecorded:
        description: 'true if session is being recorded, otherwise false'
        type: boolean
      sessionStartTime:
        description: Timestamp of when the session was started in the browser (if applicable)
        format: int64
        type: integer
      sessionStatus:
        description: A string describing the session status
        enum:
          - CREATED
          - STARTED
          - JOINED
          - FINISHED
        type: string
      startUrl:
        description: The URL that can be used to start the session in a suitable browser. Valid only until the session has been finished
        format: url
        type: string
      supportKey:
        description: Human readable support key
        type: string
      technicianEmail:
        description: Email address of technician
        format: email
        type: string
      uuid:
        description: 'Canonical form of the [UUID](http://en.wikipedia.org/wiki/Universally_unique_identifier) uniquely identifying this session'
        format: uuid
        type: string
    required:
      - uuid
      - supportKey
      - sessionStatus
      - sessionCreateTime
