swagger: '2.0'
info:
  version: '2010-03-31'
  x-release: v4
  title: Amazon Simple Notification Service
  description: '<fullname>Amazon Simple Notification Service</fullname> <p>Amazon Simple Notification Service (Amazon SNS) is a web service that enables you to build distributed web-enabled applications. Applications can use Amazon SNS to easily push real-time notification messages to interested subscribers over multiple delivery protocols. For more information about this product see <a href="http://aws.amazon.com/sns/">https://aws.amazon.com/sns</a>. For detailed information about Amazon SNS features and their associated API calls, see the <a href="https://docs.aws.amazon.com/sns/latest/dg/">Amazon SNS Developer Guide</a>. </p> <p>We also provide SDKs that enable you to access Amazon SNS from your preferred programming language. The SDKs contain functionality that automatically takes care of tasks such as: cryptographically signing your service requests, retrying requests, and handling error responses. For a list of available SDKs, go to <a href="http://aws.amazon.com/tools/">Tools for Amazon Web Services</a>. </p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: sns
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/sns-2010-03-31.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/sns/'
host: sns.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://sns.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
    description: The Amazon SNS multi-region endpoint
  - url: 'https://sns.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
    description: The Amazon SNS multi-region endpoint
  - url: 'http://sns.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
    description: The Amazon SNS endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://sns.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
    description: The Amazon SNS endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - text/xml
produces:
  - text/xml
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#Action=AddPermission':
    get:
      x-aws-operation-name: AddPermission
      operationId: GET AddPermission
      description: 'Adds a statement to a topic''s access control policy, granting access for the specified AWS accounts to the specified actions.'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: TopicArn
          in: query
          required: true
          description: The ARN of the topic whose access control policy you wish to modify.
          type: string
        - name: Label
          in: query
          required: true
          description: A unique identifier for the new policy statement.
          type: string
        - name: AWSAccountId
          in: query
          required: true
          description: 'The AWS account IDs of the users (principals) who will be given access to the specified actions. The users must have AWS accounts, but do not need to be signed up for this service.'
          type: array
          items:
            type: string
        - name: ActionName
          in: query
          required: true
          description: '<p>The action you want to allow for the specified principal(s).</p> <p>Valid values: any Amazon SNS action name.</p>'
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AddPermission
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: AddPermission
      operationId: POST AddPermission
      description: 'Adds a statement to a topic''s access control policy, granting access for the specified AWS accounts to the specified actions.'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: TopicArn
          in: formData
          required: true
          description: The ARN of the topic whose access control policy you wish to modify.
          type: string
        - name: Label
          in: formData
          required: true
          description: A unique identifier for the new policy statement.
          type: string
        - name: AWSAccountId
          in: formData
          required: true
          description: 'The AWS account IDs of the users (principals) who will be given access to the specified actions. The users must have AWS accounts, but do not need to be signed up for this service.'
          type: array
          items:
            type: string
        - name: ActionName
          in: formData
          required: true
          description: '<p>The action you want to allow for the specified principal(s).</p> <p>Valid values: any Amazon SNS action name.</p>'
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AddPermission
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=CheckIfPhoneNumberIsOptedOut':
    get:
      x-aws-operation-name: CheckIfPhoneNumberIsOptedOut
      operationId: GET CheckIfPhoneNumberIsOptedOut
      description: '<p>Accepts a phone number and indicates whether the phone holder has opted out of receiving SMS messages from your account. You cannot send SMS messages to a number that is opted out.</p> <p>To resume sending messages, you can opt in the number by using the <code>OptInPhoneNumber</code> action.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CheckIfPhoneNumberIsOptedOutResponse'
        '480':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
      parameters:
        - name: phoneNumber
          in: query
          required: true
          description: The phone number for which you want to check the opt out status.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CheckIfPhoneNumberIsOptedOut
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CheckIfPhoneNumberIsOptedOut
      operationId: POST CheckIfPhoneNumberIsOptedOut
      description: '<p>Accepts a phone number and indicates whether the phone holder has opted out of receiving SMS messages from your account. You cannot send SMS messages to a number that is opted out.</p> <p>To resume sending messages, you can opt in the number by using the <code>OptInPhoneNumber</code> action.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CheckIfPhoneNumberIsOptedOutResponse'
        '480':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
      parameters:
        - name: phoneNumber
          in: formData
          required: true
          description: The phone number for which you want to check the opt out status.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CheckIfPhoneNumberIsOptedOut
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=ConfirmSubscription':
    get:
      x-aws-operation-name: ConfirmSubscription
      operationId: GET ConfirmSubscription
      description: 'Verifies an endpoint owner''s intent to receive messages by validating the token sent to the endpoint by an earlier <code>Subscribe</code> action. If the token is valid, the action creates a new subscription and returns its Amazon Resource Name (ARN). This call requires an AWS signature only when the <code>AuthenticateOnUnsubscribe</code> flag is set to "true".'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfirmSubscriptionResponse'
        '480':
          description: SubscriptionLimitExceededException
          schema:
            $ref: '#/definitions/SubscriptionLimitExceededException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '484':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '485':
          description: FilterPolicyLimitExceededException
          schema:
            $ref: '#/definitions/FilterPolicyLimitExceededException'
      parameters:
        - name: TopicArn
          in: query
          required: true
          description: The ARN of the topic for which you wish to confirm a subscription.
          type: string
        - name: Token
          in: query
          required: true
          description: Short-lived token sent to an endpoint during the <code>Subscribe</code> action.
          type: string
        - name: AuthenticateOnUnsubscribe
          in: query
          required: false
          description: 'Disallows unauthenticated unsubscribes of the subscription. If the value of this parameter is <code>true</code> and the request has an AWS signature, then only the topic owner and the subscription owner can unsubscribe the endpoint. The unsubscribe action requires AWS authentication. '
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ConfirmSubscription
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: ConfirmSubscription
      operationId: POST ConfirmSubscription
      description: 'Verifies an endpoint owner''s intent to receive messages by validating the token sent to the endpoint by an earlier <code>Subscribe</code> action. If the token is valid, the action creates a new subscription and returns its Amazon Resource Name (ARN). This call requires an AWS signature only when the <code>AuthenticateOnUnsubscribe</code> flag is set to "true".'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfirmSubscriptionResponse'
        '480':
          description: SubscriptionLimitExceededException
          schema:
            $ref: '#/definitions/SubscriptionLimitExceededException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '484':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '485':
          description: FilterPolicyLimitExceededException
          schema:
            $ref: '#/definitions/FilterPolicyLimitExceededException'
      parameters:
        - name: TopicArn
          in: formData
          required: true
          description: The ARN of the topic for which you wish to confirm a subscription.
          type: string
        - name: Token
          in: formData
          required: true
          description: Short-lived token sent to an endpoint during the <code>Subscribe</code> action.
          type: string
        - name: AuthenticateOnUnsubscribe
          in: formData
          required: false
          description: 'Disallows unauthenticated unsubscribes of the subscription. If the value of this parameter is <code>true</code> and the request has an AWS signature, then only the topic owner and the subscription owner can unsubscribe the endpoint. The unsubscribe action requires AWS authentication. '
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ConfirmSubscription
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=CreatePlatformApplication':
    get:
      x-aws-operation-name: CreatePlatformApplication
      operationId: GET CreatePlatformApplication
      description: '<p>Creates a platform application object for one of the supported push notification services, such as APNS and FCM, to which devices and mobile apps may register. You must specify PlatformPrincipal and PlatformCredential attributes when using the <code>CreatePlatformApplication</code> action. The PlatformPrincipal is received from the notification service. For APNS/APNS_SANDBOX, PlatformPrincipal is "SSL certificate". For GCM, PlatformPrincipal is not applicable. For ADM, PlatformPrincipal is "client id". The PlatformCredential is also received from the notification service. For WNS, PlatformPrincipal is "Package Security Identifier". For MPNS, PlatformPrincipal is "TLS certificate". For Baidu, PlatformPrincipal is "API key".</p> <p>For APNS/APNS_SANDBOX, PlatformCredential is "private key". For GCM, PlatformCredential is "API key". For ADM, PlatformCredential is "client secret". For WNS, PlatformCredential is "secret key". For MPNS, PlatformCredential is "private key". For Baidu, PlatformCredential is "secret key". The PlatformApplicationArn that is returned when using <code>CreatePlatformApplication</code> is then used as an attribute for the <code>CreatePlatformEndpoint</code> action. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. For more information about obtaining the PlatformPrincipal and PlatformCredential for each of the supported push notification services, see <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-apns.html">Getting Started with Apple Push Notification Service</a>, <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-adm.html">Getting Started with Amazon Device Messaging</a>, <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-baidu.html">Getting Started with Baidu Cloud Push</a>, <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-gcm.html">Getting Started with Google Cloud Messaging for Android</a>, <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-mpns.html">Getting Started with MPNS</a>, or <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-wns.html">Getting Started with WNS</a>. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreatePlatformApplicationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      parameters:
        - name: Name
          in: query
          required: true
          description: 'Application names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, hyphens, and periods, and must be between 1 and 256 characters long.'
          type: string
        - name: Platform
          in: query
          required: true
          description: 'The following platforms are supported: ADM (Amazon Device Messaging), APNS (Apple Push Notification Service), APNS_SANDBOX, and GCM (Google Cloud Messaging).'
          type: string
        - name: Attributes.0.key
          in: query
          type: string
        - name: Attributes.0.value
          in: query
          type: string
        - name: Attributes.1.key
          in: query
          type: string
        - name: Attributes.1.value
          in: query
          type: string
        - name: Attributes.2.key
          in: query
          type: string
        - name: Attributes.2.value
          in: query
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreatePlatformApplication
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreatePlatformApplication
      operationId: POST CreatePlatformApplication
      description: '<p>Creates a platform application object for one of the supported push notification services, such as APNS and FCM, to which devices and mobile apps may register. You must specify PlatformPrincipal and PlatformCredential attributes when using the <code>CreatePlatformApplication</code> action. The PlatformPrincipal is received from the notification service. For APNS/APNS_SANDBOX, PlatformPrincipal is "SSL certificate". For GCM, PlatformPrincipal is not applicable. For ADM, PlatformPrincipal is "client id". The PlatformCredential is also received from the notification service. For WNS, PlatformPrincipal is "Package Security Identifier". For MPNS, PlatformPrincipal is "TLS certificate". For Baidu, PlatformPrincipal is "API key".</p> <p>For APNS/APNS_SANDBOX, PlatformCredential is "private key". For GCM, PlatformCredential is "API key". For ADM, PlatformCredential is "client secret". For WNS, PlatformCredential is "secret key". For MPNS, PlatformCredential is "private key". For Baidu, PlatformCredential is "secret key". The PlatformApplicationArn that is returned when using <code>CreatePlatformApplication</code> is then used as an attribute for the <code>CreatePlatformEndpoint</code> action. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. For more information about obtaining the PlatformPrincipal and PlatformCredential for each of the supported push notification services, see <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-apns.html">Getting Started with Apple Push Notification Service</a>, <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-adm.html">Getting Started with Amazon Device Messaging</a>, <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-baidu.html">Getting Started with Baidu Cloud Push</a>, <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-gcm.html">Getting Started with Google Cloud Messaging for Android</a>, <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-mpns.html">Getting Started with MPNS</a>, or <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-wns.html">Getting Started with WNS</a>. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreatePlatformApplicationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      parameters:
        - name: Name
          in: formData
          required: true
          description: 'Application names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, hyphens, and periods, and must be between 1 and 256 characters long.'
          type: string
        - name: Platform
          in: formData
          required: true
          description: 'The following platforms are supported: ADM (Amazon Device Messaging), APNS (Apple Push Notification Service), APNS_SANDBOX, and GCM (Google Cloud Messaging).'
          type: string
        - name: Attributes.0.key
          in: formData
          type: string
        - name: Attributes.0.value
          in: formData
          type: string
        - name: Attributes.1.key
          in: formData
          type: string
        - name: Attributes.1.value
          in: formData
          type: string
        - name: Attributes.2.key
          in: formData
          type: string
        - name: Attributes.2.value
          in: formData
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreatePlatformApplication
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=CreatePlatformEndpoint':
    get:
      x-aws-operation-name: CreatePlatformEndpoint
      operationId: GET CreatePlatformEndpoint
      description: '<p>Creates an endpoint for a device and mobile app on one of the supported push notification services, such as GCM and APNS. <code>CreatePlatformEndpoint</code> requires the PlatformApplicationArn that is returned from <code>CreatePlatformApplication</code>. The EndpointArn that is returned when using <code>CreatePlatformEndpoint</code> can then be used by the <code>Publish</code> action to send a message to a mobile app or by the <code>Subscribe</code> action for subscription to a topic. The <code>CreatePlatformEndpoint</code> action is idempotent, so if the requester already owns an endpoint with the same device token and attributes, that endpoint''s ARN is returned without creating a new endpoint. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When using <code>CreatePlatformEndpoint</code> with Baidu, two attributes must be provided: ChannelId and UserId. The token field must also contain the ChannelId. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePushBaiduEndpoint.html">Creating an Amazon SNS Endpoint for Baidu</a>. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEndpointResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: PlatformApplicationArn
          in: query
          required: true
          description: PlatformApplicationArn returned from CreatePlatformApplication is used to create a an endpoint.
          type: string
        - name: Token
          in: query
          required: true
          description: 'Unique identifier created by the notification service for an app on a device. The specific name for Token will vary, depending on which notification service is being used. For example, when using APNS as the notification service, you need the device token. Alternatively, when using GCM or ADM, the device token equivalent is called the registration ID.'
          type: string
        - name: CustomUserData
          in: query
          required: false
          description: Arbitrary user data to associate with the endpoint. Amazon SNS does not use this data. The data must be in UTF-8 format and less than 2KB.
          type: string
        - name: Attributes.0.key
          in: query
          type: string
        - name: Attributes.0.value
          in: query
          type: string
        - name: Attributes.1.key
          in: query
          type: string
        - name: Attributes.1.value
          in: query
          type: string
        - name: Attributes.2.key
          in: query
          type: string
        - name: Attributes.2.value
          in: query
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreatePlatformEndpoint
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreatePlatformEndpoint
      operationId: POST CreatePlatformEndpoint
      description: '<p>Creates an endpoint for a device and mobile app on one of the supported push notification services, such as GCM and APNS. <code>CreatePlatformEndpoint</code> requires the PlatformApplicationArn that is returned from <code>CreatePlatformApplication</code>. The EndpointArn that is returned when using <code>CreatePlatformEndpoint</code> can then be used by the <code>Publish</code> action to send a message to a mobile app or by the <code>Subscribe</code> action for subscription to a topic. The <code>CreatePlatformEndpoint</code> action is idempotent, so if the requester already owns an endpoint with the same device token and attributes, that endpoint''s ARN is returned without creating a new endpoint. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When using <code>CreatePlatformEndpoint</code> with Baidu, two attributes must be provided: ChannelId and UserId. The token field must also contain the ChannelId. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePushBaiduEndpoint.html">Creating an Amazon SNS Endpoint for Baidu</a>. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEndpointResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: PlatformApplicationArn
          in: formData
          required: true
          description: PlatformApplicationArn returned from CreatePlatformApplication is used to create a an endpoint.
          type: string
        - name: Token
          in: formData
          required: true
          description: 'Unique identifier created by the notification service for an app on a device. The specific name for Token will vary, depending on which notification service is being used. For example, when using APNS as the notification service, you need the device token. Alternatively, when using GCM or ADM, the device token equivalent is called the registration ID.'
          type: string
        - name: CustomUserData
          in: formData
          required: false
          description: Arbitrary user data to associate with the endpoint. Amazon SNS does not use this data. The data must be in UTF-8 format and less than 2KB.
          type: string
        - name: Attributes.0.key
          in: formData
          type: string
        - name: Attributes.0.value
          in: formData
          type: string
        - name: Attributes.1.key
          in: formData
          type: string
        - name: Attributes.1.value
          in: formData
          type: string
        - name: Attributes.2.key
          in: formData
          type: string
        - name: Attributes.2.value
          in: formData
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreatePlatformEndpoint
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=CreateTopic':
    get:
      x-aws-operation-name: CreateTopic
      operationId: GET CreateTopic
      description: 'Creates a topic to which notifications can be published. Users can create at most 100,000 topics. For more information, see <a href="http://aws.amazon.com/sns/">https://aws.amazon.com/sns</a>. This action is idempotent, so if the requester already owns a topic with the specified name, that topic''s ARN is returned without creating a new topic.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTopicResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: TopicLimitExceededException
          schema:
            $ref: '#/definitions/TopicLimitExceededException'
        '482':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '484':
          description: InvalidSecurityException
          schema:
            $ref: '#/definitions/InvalidSecurityException'
        '485':
          description: TagLimitExceededException
          schema:
            $ref: '#/definitions/TagLimitExceededException'
        '486':
          description: StaleTagException
          schema:
            $ref: '#/definitions/StaleTagException'
        '487':
          description: TagPolicyException
          schema:
            $ref: '#/definitions/TagPolicyException'
        '488':
          description: ConcurrentAccessException
          schema:
            $ref: '#/definitions/ConcurrentAccessException'
      parameters:
        - name: Name
          in: query
          required: true
          description: '<p>The name of the topic you want to create.</p> <p>Constraints: Topic names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, and hyphens, and must be between 1 and 256 characters long.</p>'
          type: string
        - name: Attributes.0.key
          in: query
          type: string
        - name: Attributes.0.value
          in: query
          type: string
        - name: Attributes.1.key
          in: query
          type: string
        - name: Attributes.1.value
          in: query
          type: string
        - name: Attributes.2.key
          in: query
          type: string
        - name: Attributes.2.value
          in: query
          type: string
        - name: Tags
          in: query
          required: false
          description: The list of tags to add to a new topic.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateTopic
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateTopic
      operationId: POST CreateTopic
      description: 'Creates a topic to which notifications can be published. Users can create at most 100,000 topics. For more information, see <a href="http://aws.amazon.com/sns/">https://aws.amazon.com/sns</a>. This action is idempotent, so if the requester already owns a topic with the specified name, that topic''s ARN is returned without creating a new topic.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTopicResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: TopicLimitExceededException
          schema:
            $ref: '#/definitions/TopicLimitExceededException'
        '482':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '484':
          description: InvalidSecurityException
          schema:
            $ref: '#/definitions/InvalidSecurityException'
        '485':
          description: TagLimitExceededException
          schema:
            $ref: '#/definitions/TagLimitExceededException'
        '486':
          description: StaleTagException
          schema:
            $ref: '#/definitions/StaleTagException'
        '487':
          description: TagPolicyException
          schema:
            $ref: '#/definitions/TagPolicyException'
        '488':
          description: ConcurrentAccessException
          schema:
            $ref: '#/definitions/ConcurrentAccessException'
      parameters:
        - name: Name
          in: formData
          required: true
          description: '<p>The name of the topic you want to create.</p> <p>Constraints: Topic names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, and hyphens, and must be between 1 and 256 characters long.</p>'
          type: string
        - name: Attributes.0.key
          in: formData
          type: string
        - name: Attributes.0.value
          in: formData
          type: string
        - name: Attributes.1.key
          in: formData
          type: string
        - name: Attributes.1.value
          in: formData
          type: string
        - name: Attributes.2.key
          in: formData
          type: string
        - name: Attributes.2.value
          in: formData
          type: string
        - name: Tags
          in: formData
          required: false
          description: The list of tags to add to a new topic.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateTopic
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=DeleteEndpoint':
    get:
      x-aws-operation-name: DeleteEndpoint
      operationId: GET DeleteEndpoint
      description: '<p>Deletes the endpoint for a device and mobile app from Amazon SNS. This action is idempotent. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When you delete an endpoint that is also subscribed to a topic, then you must also unsubscribe the endpoint from the topic.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      parameters:
        - name: EndpointArn
          in: query
          required: true
          description: EndpointArn of endpoint to delete.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteEndpoint
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteEndpoint
      operationId: POST DeleteEndpoint
      description: '<p>Deletes the endpoint for a device and mobile app from Amazon SNS. This action is idempotent. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When you delete an endpoint that is also subscribed to a topic, then you must also unsubscribe the endpoint from the topic.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      parameters:
        - name: EndpointArn
          in: formData
          required: true
          description: EndpointArn of endpoint to delete.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteEndpoint
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=DeletePlatformApplication':
    get:
      x-aws-operation-name: DeletePlatformApplication
      operationId: GET DeletePlatformApplication
      description: 'Deletes a platform application object for one of the supported push notification services, such as APNS and GCM. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. '
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      parameters:
        - name: PlatformApplicationArn
          in: query
          required: true
          description: PlatformApplicationArn of platform application object to delete.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeletePlatformApplication
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeletePlatformApplication
      operationId: POST DeletePlatformApplication
      description: 'Deletes a platform application object for one of the supported push notification services, such as APNS and GCM. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. '
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      parameters:
        - name: PlatformApplicationArn
          in: formData
          required: true
          description: PlatformApplicationArn of platform application object to delete.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeletePlatformApplication
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=DeleteTopic':
    get:
      x-aws-operation-name: DeleteTopic
      operationId: GET DeleteTopic
      description: 'Deletes a topic and all its subscriptions. Deleting a topic might prevent some messages previously sent to the topic from being delivered to subscribers. This action is idempotent, so deleting a topic that does not exist does not result in an error.'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: StaleTagException
          schema:
            $ref: '#/definitions/StaleTagException'
        '485':
          description: TagPolicyException
          schema:
            $ref: '#/definitions/TagPolicyException'
        '486':
          description: ConcurrentAccessException
          schema:
            $ref: '#/definitions/ConcurrentAccessException'
      parameters:
        - name: TopicArn
          in: query
          required: true
          description: The ARN of the topic you want to delete.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteTopic
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteTopic
      operationId: POST DeleteTopic
      description: 'Deletes a topic and all its subscriptions. Deleting a topic might prevent some messages previously sent to the topic from being delivered to subscribers. This action is idempotent, so deleting a topic that does not exist does not result in an error.'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: StaleTagException
          schema:
            $ref: '#/definitions/StaleTagException'
        '485':
          description: TagPolicyException
          schema:
            $ref: '#/definitions/TagPolicyException'
        '486':
          description: ConcurrentAccessException
          schema:
            $ref: '#/definitions/ConcurrentAccessException'
      parameters:
        - name: TopicArn
          in: formData
          required: true
          description: The ARN of the topic you want to delete.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteTopic
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=GetEndpointAttributes':
    get:
      x-aws-operation-name: GetEndpointAttributes
      operationId: GET GetEndpointAttributes
      description: 'Retrieves the endpoint attributes for a device on one of the supported push notification services, such as GCM and APNS. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetEndpointAttributesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: EndpointArn
          in: query
          required: true
          description: EndpointArn for GetEndpointAttributes input.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - GetEndpointAttributes
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: GetEndpointAttributes
      operationId: POST GetEndpointAttributes
      description: 'Retrieves the endpoint attributes for a device on one of the supported push notification services, such as GCM and APNS. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetEndpointAttributesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: EndpointArn
          in: formData
          required: true
          description: EndpointArn for GetEndpointAttributes input.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - GetEndpointAttributes
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=GetPlatformApplicationAttributes':
    get:
      x-aws-operation-name: GetPlatformApplicationAttributes
      operationId: GET GetPlatformApplicationAttributes
      description: 'Retrieves the attributes of the platform application object for the supported push notification services, such as APNS and GCM. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPlatformApplicationAttributesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: PlatformApplicationArn
          in: query
          required: true
          description: PlatformApplicationArn for GetPlatformApplicationAttributesInput.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - GetPlatformApplicationAttributes
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: GetPlatformApplicationAttributes
      operationId: POST GetPlatformApplicationAttributes
      description: 'Retrieves the attributes of the platform application object for the supported push notification services, such as APNS and GCM. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPlatformApplicationAttributesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: PlatformApplicationArn
          in: formData
          required: true
          description: PlatformApplicationArn for GetPlatformApplicationAttributesInput.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - GetPlatformApplicationAttributes
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=GetSMSAttributes':
    get:
      x-aws-operation-name: GetSMSAttributes
      operationId: GET GetSMSAttributes
      description: <p>Returns the settings for sending SMS messages from your account.</p> <p>These settings are set with the <code>SetSMSAttributes</code> action.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSMSAttributesResponse'
        '480':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
      parameters:
        - name: attributes
          in: query
          required: false
          description: '<p>A list of the individual attribute names, such as <code>MonthlySpendLimit</code>, for which you want values.</p> <p>For all attribute names, see <a href="https://docs.aws.amazon.com/sns/latest/api/API_SetSMSAttributes.html">SetSMSAttributes</a>.</p> <p>If you don''t use this parameter, Amazon SNS returns all SMS attributes.</p>'
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - GetSMSAttributes
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: GetSMSAttributes
      operationId: POST GetSMSAttributes
      description: <p>Returns the settings for sending SMS messages from your account.</p> <p>These settings are set with the <code>SetSMSAttributes</code> action.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSMSAttributesResponse'
        '480':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
      parameters:
        - name: attributes
          in: formData
          required: false
          description: '<p>A list of the individual attribute names, such as <code>MonthlySpendLimit</code>, for which you want values.</p> <p>For all attribute names, see <a href="https://docs.aws.amazon.com/sns/latest/api/API_SetSMSAttributes.html">SetSMSAttributes</a>.</p> <p>If you don''t use this parameter, Amazon SNS returns all SMS attributes.</p>'
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - GetSMSAttributes
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=GetSubscriptionAttributes':
    get:
      x-aws-operation-name: GetSubscriptionAttributes
      operationId: GET GetSubscriptionAttributes
      description: Returns all of the properties of a subscription.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSubscriptionAttributesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      parameters:
        - name: SubscriptionArn
          in: query
          required: true
          description: The ARN of the subscription whose properties you want to get.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - GetSubscriptionAttributes
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: GetSubscriptionAttributes
      operationId: POST GetSubscriptionAttributes
      description: Returns all of the properties of a subscription.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSubscriptionAttributesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      parameters:
        - name: SubscriptionArn
          in: formData
          required: true
          description: The ARN of the subscription whose properties you want to get.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - GetSubscriptionAttributes
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=GetTopicAttributes':
    get:
      x-aws-operation-name: GetTopicAttributes
      operationId: GET GetTopicAttributes
      description: Returns all of the properties of a topic. Topic properties returned might differ based on the authorization of the user.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetTopicAttributesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '484':
          description: InvalidSecurityException
          schema:
            $ref: '#/definitions/InvalidSecurityException'
      parameters:
        - name: TopicArn
          in: query
          required: true
          description: The ARN of the topic whose properties you want to get.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - GetTopicAttributes
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: GetTopicAttributes
      operationId: POST GetTopicAttributes
      description: Returns all of the properties of a topic. Topic properties returned might differ based on the authorization of the user.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetTopicAttributesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '484':
          description: InvalidSecurityException
          schema:
            $ref: '#/definitions/InvalidSecurityException'
      parameters:
        - name: TopicArn
          in: formData
          required: true
          description: The ARN of the topic whose properties you want to get.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - GetTopicAttributes
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=ListEndpointsByPlatformApplication':
    get:
      x-aws-operation-name: ListEndpointsByPlatformApplication
      operationId: GET ListEndpointsByPlatformApplication
      description: '<p>Lists the endpoints and endpoint attributes for devices in a supported push notification service, such as GCM and APNS. The results for <code>ListEndpointsByPlatformApplication</code> are paginated and return a limited list of endpoints, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListEndpointsByPlatformApplication</code> again using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>This action is throttled at 30 transactions per second (TPS).</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListEndpointsByPlatformApplicationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: PlatformApplicationArn
          in: query
          required: true
          description: PlatformApplicationArn for ListEndpointsByPlatformApplicationInput action.
          type: string
        - name: NextToken
          in: query
          required: false
          description: NextToken string is used when calling ListEndpointsByPlatformApplication action to retrieve additional records that are available after the first page results.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ListEndpointsByPlatformApplication
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: ListEndpointsByPlatformApplication
      operationId: POST ListEndpointsByPlatformApplication
      description: '<p>Lists the endpoints and endpoint attributes for devices in a supported push notification service, such as GCM and APNS. The results for <code>ListEndpointsByPlatformApplication</code> are paginated and return a limited list of endpoints, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListEndpointsByPlatformApplication</code> again using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>This action is throttled at 30 transactions per second (TPS).</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListEndpointsByPlatformApplicationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      parameters:
        - name: PlatformApplicationArn
          in: formData
          required: true
          description: PlatformApplicationArn for ListEndpointsByPlatformApplicationInput action.
          type: string
        - name: NextToken
          in: formData
          required: false
          description: NextToken string is used when calling ListEndpointsByPlatformApplication action to retrieve additional records that are available after the first page results.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ListEndpointsByPlatformApplication
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=ListPhoneNumbersOptedOut':
    get:
      x-aws-operation-name: ListPhoneNumbersOptedOut
      operationId: GET ListPhoneNumbersOptedOut
      description: '<p>Returns a list of phone numbers that are opted out, meaning you cannot send SMS messages to them.</p> <p>The results for <code>ListPhoneNumbersOptedOut</code> are paginated, and each page returns up to 100 phone numbers. If additional phone numbers are available after the first page of results, then a <code>NextToken</code> string will be returned. To receive the next page, you call <code>ListPhoneNumbersOptedOut</code> again using the <code>NextToken</code> string received from the previous call. When there are no more records to return, <code>NextToken</code> will be null.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPhoneNumbersOptedOutResponse'
        '480':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
      parameters:
        - name: nextToken
          in: query
          required: false
          description: A <code>NextToken</code> string is used when you call the <code>ListPhoneNumbersOptedOut</code> action to retrieve additional records that are available after the first page of results.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ListPhoneNumbersOptedOut
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: ListPhoneNumbersOptedOut
      operationId: POST ListPhoneNumbersOptedOut
      description: '<p>Returns a list of phone numbers that are opted out, meaning you cannot send SMS messages to them.</p> <p>The results for <code>ListPhoneNumbersOptedOut</code> are paginated, and each page returns up to 100 phone numbers. If additional phone numbers are available after the first page of results, then a <code>NextToken</code> string will be returned. To receive the next page, you call <code>ListPhoneNumbersOptedOut</code> again using the <code>NextToken</code> string received from the previous call. When there are no more records to return, <code>NextToken</code> will be null.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPhoneNumbersOptedOutResponse'
        '480':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
      parameters:
        - name: nextToken
          in: formData
          required: false
          description: A <code>NextToken</code> string is used when you call the <code>ListPhoneNumbersOptedOut</code> action to retrieve additional records that are available after the first page of results.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ListPhoneNumbersOptedOut
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=ListPlatformApplications':
    get:
      x-aws-operation-name: ListPlatformApplications
      operationId: GET ListPlatformApplications
      description: '<p>Lists the platform application objects for the supported push notification services, such as APNS and GCM. The results for <code>ListPlatformApplications</code> are paginated and return a limited list of applications, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListPlatformApplications</code> using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>This action is throttled at 15 transactions per second (TPS).</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPlatformApplicationsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      parameters:
        - name: NextToken
          in: query
          required: false
          description: NextToken string is used when calling ListPlatformApplications action to retrieve additional records that are available after the first page results.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ListPlatformApplications
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: ListPlatformApplications
      operationId: POST ListPlatformApplications
      description: '<p>Lists the platform application objects for the supported push notification services, such as APNS and GCM. The results for <code>ListPlatformApplications</code> are paginated and return a limited list of applications, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListPlatformApplications</code> using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>This action is throttled at 15 transactions per second (TPS).</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPlatformApplicationsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      parameters:
        - name: NextToken
          in: formData
          required: false
          description: NextToken string is used when calling ListPlatformApplications action to retrieve additional records that are available after the first page results.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ListPlatformApplications
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=ListSubscriptions':
    get:
      x-aws-operation-name: ListSubscriptions
      operationId: GET ListSubscriptions
      description: '<p>Returns a list of the requester''s subscriptions. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptions</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSubscriptionsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      parameters:
        - name: NextToken
          in: query
          required: false
          description: Token returned by the previous <code>ListSubscriptions</code> request.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ListSubscriptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: ListSubscriptions
      operationId: POST ListSubscriptions
      description: '<p>Returns a list of the requester''s subscriptions. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptions</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSubscriptionsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      parameters:
        - name: NextToken
          in: formData
          required: false
          description: Token returned by the previous <code>ListSubscriptions</code> request.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ListSubscriptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=ListSubscriptionsByTopic':
    get:
      x-aws-operation-name: ListSubscriptionsByTopic
      operationId: GET ListSubscriptionsByTopic
      description: '<p>Returns a list of the subscriptions to a specific topic. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptionsByTopic</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSubscriptionsByTopicResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      parameters:
        - name: TopicArn
          in: query
          required: true
          description: The ARN of the topic for which you wish to find subscriptions.
          type: string
        - name: NextToken
          in: query
          required: false
          description: Token returned by the previous <code>ListSubscriptionsByTopic</code> request.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ListSubscriptionsByTopic
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: ListSubscriptionsByTopic
      operationId: POST ListSubscriptionsByTopic
      description: '<p>Returns a list of the subscriptions to a specific topic. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptionsByTopic</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSubscriptionsByTopicResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      parameters:
        - name: TopicArn
          in: formData
          required: true
          description: The ARN of the topic for which you wish to find subscriptions.
          type: string
        - name: NextToken
          in: formData
          required: false
          description: Token returned by the previous <code>ListSubscriptionsByTopic</code> request.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ListSubscriptionsByTopic
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=ListTagsForResource':
    get:
      x-aws-operation-name: ListTagsForResource
      operationId: GET ListTagsForResource
      description: 'List all tags added to the specified Amazon SNS topic. For an overview, see <a href="https://docs.aws.amazon.com/sns/latest/dg/sns-tags.html">Amazon SNS Tags</a> in the <i>Amazon Simple Notification Service Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: TagPolicyException
          schema:
            $ref: '#/definitions/TagPolicyException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '484':
          description: ConcurrentAccessException
          schema:
            $ref: '#/definitions/ConcurrentAccessException'
      parameters:
        - name: ResourceArn
          in: query
          required: true
          description: The ARN of the topic for which to list tags.
          type: string
          minLength: 1
          maxLength: 1011
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ListTagsForResource
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: ListTagsForResource
      operationId: POST ListTagsForResource
      description: 'List all tags added to the specified Amazon SNS topic. For an overview, see <a href="https://docs.aws.amazon.com/sns/latest/dg/sns-tags.html">Amazon SNS Tags</a> in the <i>Amazon Simple Notification Service Developer Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: TagPolicyException
          schema:
            $ref: '#/definitions/TagPolicyException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '484':
          description: ConcurrentAccessException
          schema:
            $ref: '#/definitions/ConcurrentAccessException'
      parameters:
        - name: ResourceArn
          in: formData
          required: true
          description: The ARN of the topic for which to list tags.
          type: string
          minLength: 1
          maxLength: 1011
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ListTagsForResource
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=ListTopics':
    get:
      x-aws-operation-name: ListTopics
      operationId: GET ListTopics
      description: '<p>Returns a list of the requester''s topics. Each call returns a limited list of topics, up to 100. If there are more topics, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListTopics</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTopicsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      parameters:
        - name: NextToken
          in: query
          required: false
          description: Token returned by the previous <code>ListTopics</code> request.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ListTopics
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: ListTopics
      operationId: POST ListTopics
      description: '<p>Returns a list of the requester''s topics. Each call returns a limited list of topics, up to 100. If there are more topics, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListTopics</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTopicsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      parameters:
        - name: NextToken
          in: formData
          required: false
          description: Token returned by the previous <code>ListTopics</code> request.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ListTopics
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-03-31'
  '/#Action=OptInPhoneNumber':
    get:
      x-aws-operation-name: OptInPhoneNumber
      operationId: GET OptInPhoneNumber
      description: '<p>Use this request to opt in a phone number that is opted out, which enables you to resume sending SMS messages to the number.</p> <p>You can opt in a phone number only once every 30 days.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OptInPhoneNumberResponse'
        '480':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
      parameters:
[...]
