swagger: '2.0'
schemes:
  - https
  - http
host: sns.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>Amazon Simple Notification Service</fullname> <p>Amazon Simple Notification Service (Amazon SNS) is a web service that enables you to build distributed web-enabled applications. Applications can use Amazon SNS to easily push real-time notification messages to interested subscribers over multiple delivery protocols. For more information about this product see <a href="http://aws.amazon.com/sns/">https://aws.amazon.com/sns</a>. For detailed information about Amazon SNS features and their associated API calls, see the <a href="https://docs.aws.amazon.com/sns/latest/dg/">Amazon SNS Developer Guide</a>. </p> <p>We also provide SDKs that enable you to access Amazon SNS from your preferred programming language. The SDKs contain functionality that automatically takes care of tasks such as: cryptographically signing your service requests, retrying requests, and handling error responses. For a list of available SDKs, go to <a href="http://aws.amazon.com/tools/">Tools for Amazon Web Services</a>. </p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Simple Notification Service
  version: '2010-03-31'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/sns-2010-03-31.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: sns
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/sns/'
consumes:
  - text/xml
produces:
  - text/xml
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#Action=AddPermission':
    get:
      description: 'Adds a statement to a topic''s access control policy, granting access for the specified AWS accounts to the specified actions.'
      operationId: GET AddPermission
      parameters:
        - description: The ARN of the topic whose access control policy you wish to modify.
          in: query
          name: TopicArn
          required: true
          type: string
        - description: A unique identifier for the new policy statement.
          in: query
          name: Label
          required: true
          type: string
        - description: 'The AWS account IDs of the users (principals) who will be given access to the specified actions. The users must have AWS accounts, but do not need to be signed up for this service.'
          in: query
          items:
            type: string
          name: AWSAccountId
          required: true
          type: array
        - description: '<p>The action you want to allow for the specified principal(s).</p> <p>Valid values: any Amazon SNS action name.</p>'
          in: query
          items:
            type: string
          name: ActionName
          required: true
          type: array
        - enum:
            - AddPermission
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      x-aws-operation-name: AddPermission
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Adds a statement to a topic''s access control policy, granting access for the specified AWS accounts to the specified actions.'
      operationId: POST AddPermission
      parameters:
        - description: The ARN of the topic whose access control policy you wish to modify.
          in: formData
          name: TopicArn
          required: true
          type: string
        - description: A unique identifier for the new policy statement.
          in: formData
          name: Label
          required: true
          type: string
        - description: 'The AWS account IDs of the users (principals) who will be given access to the specified actions. The users must have AWS accounts, but do not need to be signed up for this service.'
          in: formData
          items:
            type: string
          name: AWSAccountId
          required: true
          type: array
        - description: '<p>The action you want to allow for the specified principal(s).</p> <p>Valid values: any Amazon SNS action name.</p>'
          in: formData
          items:
            type: string
          name: ActionName
          required: true
          type: array
        - enum:
            - AddPermission
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      x-aws-operation-name: AddPermission
  '/#Action=CheckIfPhoneNumberIsOptedOut':
    get:
      description: '<p>Accepts a phone number and indicates whether the phone holder has opted out of receiving SMS messages from your account. You cannot send SMS messages to a number that is opted out.</p> <p>To resume sending messages, you can opt in the number by using the <code>OptInPhoneNumber</code> action.</p>'
      operationId: GET CheckIfPhoneNumberIsOptedOut
      parameters:
        - description: The phone number for which you want to check the opt out status.
          in: query
          name: phoneNumber
          required: true
          type: string
        - enum:
            - CheckIfPhoneNumberIsOptedOut
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CheckIfPhoneNumberIsOptedOutResponse'
        '480':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
      x-aws-operation-name: CheckIfPhoneNumberIsOptedOut
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Accepts a phone number and indicates whether the phone holder has opted out of receiving SMS messages from your account. You cannot send SMS messages to a number that is opted out.</p> <p>To resume sending messages, you can opt in the number by using the <code>OptInPhoneNumber</code> action.</p>'
      operationId: POST CheckIfPhoneNumberIsOptedOut
      parameters:
        - description: The phone number for which you want to check the opt out status.
          in: formData
          name: phoneNumber
          required: true
          type: string
        - enum:
            - CheckIfPhoneNumberIsOptedOut
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CheckIfPhoneNumberIsOptedOutResponse'
        '480':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
      x-aws-operation-name: CheckIfPhoneNumberIsOptedOut
  '/#Action=ConfirmSubscription':
    get:
      description: 'Verifies an endpoint owner''s intent to receive messages by validating the token sent to the endpoint by an earlier <code>Subscribe</code> action. If the token is valid, the action creates a new subscription and returns its Amazon Resource Name (ARN). This call requires an AWS signature only when the <code>AuthenticateOnUnsubscribe</code> flag is set to "true".'
      operationId: GET ConfirmSubscription
      parameters:
        - description: The ARN of the topic for which you wish to confirm a subscription.
          in: query
          name: TopicArn
          required: true
          type: string
        - description: Short-lived token sent to an endpoint during the <code>Subscribe</code> action.
          in: query
          name: Token
          required: true
          type: string
        - description: 'Disallows unauthenticated unsubscribes of the subscription. If the value of this parameter is <code>true</code> and the request has an AWS signature, then only the topic owner and the subscription owner can unsubscribe the endpoint. The unsubscribe action requires AWS authentication. '
          in: query
          name: AuthenticateOnUnsubscribe
          required: false
          type: string
        - enum:
            - ConfirmSubscription
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfirmSubscriptionResponse'
        '480':
          description: SubscriptionLimitExceededException
          schema:
            $ref: '#/definitions/SubscriptionLimitExceededException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '484':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '485':
          description: FilterPolicyLimitExceededException
          schema:
            $ref: '#/definitions/FilterPolicyLimitExceededException'
      x-aws-operation-name: ConfirmSubscription
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Verifies an endpoint owner''s intent to receive messages by validating the token sent to the endpoint by an earlier <code>Subscribe</code> action. If the token is valid, the action creates a new subscription and returns its Amazon Resource Name (ARN). This call requires an AWS signature only when the <code>AuthenticateOnUnsubscribe</code> flag is set to "true".'
      operationId: POST ConfirmSubscription
      parameters:
        - description: The ARN of the topic for which you wish to confirm a subscription.
          in: formData
          name: TopicArn
          required: true
          type: string
        - description: Short-lived token sent to an endpoint during the <code>Subscribe</code> action.
          in: formData
          name: Token
          required: true
          type: string
        - description: 'Disallows unauthenticated unsubscribes of the subscription. If the value of this parameter is <code>true</code> and the request has an AWS signature, then only the topic owner and the subscription owner can unsubscribe the endpoint. The unsubscribe action requires AWS authentication. '
          in: formData
          name: AuthenticateOnUnsubscribe
          required: false
          type: string
        - enum:
            - ConfirmSubscription
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfirmSubscriptionResponse'
        '480':
          description: SubscriptionLimitExceededException
          schema:
            $ref: '#/definitions/SubscriptionLimitExceededException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '484':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '485':
          description: FilterPolicyLimitExceededException
          schema:
            $ref: '#/definitions/FilterPolicyLimitExceededException'
      x-aws-operation-name: ConfirmSubscription
  '/#Action=CreatePlatformApplication':
    get:
      description: '<p>Creates a platform application object for one of the supported push notification services, such as APNS and FCM, to which devices and mobile apps may register. You must specify PlatformPrincipal and PlatformCredential attributes when using the <code>CreatePlatformApplication</code> action. The PlatformPrincipal is received from the notification service. For APNS/APNS_SANDBOX, PlatformPrincipal is "SSL certificate". For GCM, PlatformPrincipal is not applicable. For ADM, PlatformPrincipal is "client id". The PlatformCredential is also received from the notification service. For WNS, PlatformPrincipal is "Package Security Identifier". For MPNS, PlatformPrincipal is "TLS certificate". For Baidu, PlatformPrincipal is "API key".</p> <p>For APNS/APNS_SANDBOX, PlatformCredential is "private key". For GCM, PlatformCredential is "API key". For ADM, PlatformCredential is "client secret". For WNS, PlatformCredential is "secret key". For MPNS, PlatformCredential is "private key". For Baidu, PlatformCredential is "secret key". The PlatformApplicationArn that is returned when using <code>CreatePlatformApplication</code> is then used as an attribute for the <code>CreatePlatformEndpoint</code> action. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. For more information about obtaining the PlatformPrincipal and PlatformCredential for each of the supported push notification services, see <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-apns.html">Getting Started with Apple Push Notification Service</a>, <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-adm.html">Getting Started with Amazon Device Messaging</a>, <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-baidu.html">Getting Started with Baidu Cloud Push</a>, <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-gcm.html">Getting Started with Google Cloud Messaging for Android</a>, <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-mpns.html">Getting Started with MPNS</a>, or <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-wns.html">Getting Started with WNS</a>. </p>'
      operationId: GET CreatePlatformApplication
      parameters:
        - description: 'Application names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, hyphens, and periods, and must be between 1 and 256 characters long.'
          in: query
          name: Name
          required: true
          type: string
        - description: 'The following platforms are supported: ADM (Amazon Device Messaging), APNS (Apple Push Notification Service), APNS_SANDBOX, and GCM (Google Cloud Messaging).'
          in: query
          name: Platform
          required: true
          type: string
        - in: query
          name: Attributes.0.key
          type: string
        - in: query
          name: Attributes.0.value
          type: string
        - in: query
          name: Attributes.1.key
          type: string
        - in: query
          name: Attributes.1.value
          type: string
        - in: query
          name: Attributes.2.key
          type: string
        - in: query
          name: Attributes.2.value
          type: string
        - enum:
            - CreatePlatformApplication
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreatePlatformApplicationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      x-aws-operation-name: CreatePlatformApplication
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a platform application object for one of the supported push notification services, such as APNS and FCM, to which devices and mobile apps may register. You must specify PlatformPrincipal and PlatformCredential attributes when using the <code>CreatePlatformApplication</code> action. The PlatformPrincipal is received from the notification service. For APNS/APNS_SANDBOX, PlatformPrincipal is "SSL certificate". For GCM, PlatformPrincipal is not applicable. For ADM, PlatformPrincipal is "client id". The PlatformCredential is also received from the notification service. For WNS, PlatformPrincipal is "Package Security Identifier". For MPNS, PlatformPrincipal is "TLS certificate". For Baidu, PlatformPrincipal is "API key".</p> <p>For APNS/APNS_SANDBOX, PlatformCredential is "private key". For GCM, PlatformCredential is "API key". For ADM, PlatformCredential is "client secret". For WNS, PlatformCredential is "secret key". For MPNS, PlatformCredential is "private key". For Baidu, PlatformCredential is "secret key". The PlatformApplicationArn that is returned when using <code>CreatePlatformApplication</code> is then used as an attribute for the <code>CreatePlatformEndpoint</code> action. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. For more information about obtaining the PlatformPrincipal and PlatformCredential for each of the supported push notification services, see <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-apns.html">Getting Started with Apple Push Notification Service</a>, <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-adm.html">Getting Started with Amazon Device Messaging</a>, <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-baidu.html">Getting Started with Baidu Cloud Push</a>, <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-gcm.html">Getting Started with Google Cloud Messaging for Android</a>, <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-mpns.html">Getting Started with MPNS</a>, or <a href="https://docs.aws.amazon.com/sns/latest/dg/mobile-push-wns.html">Getting Started with WNS</a>. </p>'
      operationId: POST CreatePlatformApplication
      parameters:
        - description: 'Application names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, hyphens, and periods, and must be between 1 and 256 characters long.'
          in: formData
          name: Name
          required: true
          type: string
        - description: 'The following platforms are supported: ADM (Amazon Device Messaging), APNS (Apple Push Notification Service), APNS_SANDBOX, and GCM (Google Cloud Messaging).'
          in: formData
          name: Platform
          required: true
          type: string
        - in: formData
          name: Attributes.0.key
          type: string
        - in: formData
          name: Attributes.0.value
          type: string
        - in: formData
          name: Attributes.1.key
          type: string
        - in: formData
          name: Attributes.1.value
          type: string
        - in: formData
          name: Attributes.2.key
          type: string
        - in: formData
          name: Attributes.2.value
          type: string
        - enum:
            - CreatePlatformApplication
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreatePlatformApplicationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      x-aws-operation-name: CreatePlatformApplication
  '/#Action=CreatePlatformEndpoint':
    get:
      description: '<p>Creates an endpoint for a device and mobile app on one of the supported push notification services, such as GCM and APNS. <code>CreatePlatformEndpoint</code> requires the PlatformApplicationArn that is returned from <code>CreatePlatformApplication</code>. The EndpointArn that is returned when using <code>CreatePlatformEndpoint</code> can then be used by the <code>Publish</code> action to send a message to a mobile app or by the <code>Subscribe</code> action for subscription to a topic. The <code>CreatePlatformEndpoint</code> action is idempotent, so if the requester already owns an endpoint with the same device token and attributes, that endpoint''s ARN is returned without creating a new endpoint. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When using <code>CreatePlatformEndpoint</code> with Baidu, two attributes must be provided: ChannelId and UserId. The token field must also contain the ChannelId. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePushBaiduEndpoint.html">Creating an Amazon SNS Endpoint for Baidu</a>. </p>'
      operationId: GET CreatePlatformEndpoint
      parameters:
        - description: PlatformApplicationArn returned from CreatePlatformApplication is used to create a an endpoint.
          in: query
          name: PlatformApplicationArn
          required: true
          type: string
        - description: 'Unique identifier created by the notification service for an app on a device. The specific name for Token will vary, depending on which notification service is being used. For example, when using APNS as the notification service, you need the device token. Alternatively, when using GCM or ADM, the device token equivalent is called the registration ID.'
          in: query
          name: Token
          required: true
          type: string
        - description: Arbitrary user data to associate with the endpoint. Amazon SNS does not use this data. The data must be in UTF-8 format and less than 2KB.
          in: query
          name: CustomUserData
          required: false
          type: string
        - in: query
          name: Attributes.0.key
          type: string
        - in: query
          name: Attributes.0.value
          type: string
        - in: query
          name: Attributes.1.key
          type: string
        - in: query
          name: Attributes.1.value
          type: string
        - in: query
          name: Attributes.2.key
          type: string
        - in: query
          name: Attributes.2.value
          type: string
        - enum:
            - CreatePlatformEndpoint
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEndpointResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      x-aws-operation-name: CreatePlatformEndpoint
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an endpoint for a device and mobile app on one of the supported push notification services, such as GCM and APNS. <code>CreatePlatformEndpoint</code> requires the PlatformApplicationArn that is returned from <code>CreatePlatformApplication</code>. The EndpointArn that is returned when using <code>CreatePlatformEndpoint</code> can then be used by the <code>Publish</code> action to send a message to a mobile app or by the <code>Subscribe</code> action for subscription to a topic. The <code>CreatePlatformEndpoint</code> action is idempotent, so if the requester already owns an endpoint with the same device token and attributes, that endpoint''s ARN is returned without creating a new endpoint. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When using <code>CreatePlatformEndpoint</code> with Baidu, two attributes must be provided: ChannelId and UserId. The token field must also contain the ChannelId. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePushBaiduEndpoint.html">Creating an Amazon SNS Endpoint for Baidu</a>. </p>'
      operationId: POST CreatePlatformEndpoint
      parameters:
        - description: PlatformApplicationArn returned from CreatePlatformApplication is used to create a an endpoint.
          in: formData
          name: PlatformApplicationArn
          required: true
          type: string
        - description: 'Unique identifier created by the notification service for an app on a device. The specific name for Token will vary, depending on which notification service is being used. For example, when using APNS as the notification service, you need the device token. Alternatively, when using GCM or ADM, the device token equivalent is called the registration ID.'
          in: formData
          name: Token
          required: true
          type: string
        - description: Arbitrary user data to associate with the endpoint. Amazon SNS does not use this data. The data must be in UTF-8 format and less than 2KB.
          in: formData
          name: CustomUserData
          required: false
          type: string
        - in: formData
          name: Attributes.0.key
          type: string
        - in: formData
          name: Attributes.0.value
          type: string
        - in: formData
          name: Attributes.1.key
          type: string
        - in: formData
          name: Attributes.1.value
          type: string
        - in: formData
          name: Attributes.2.key
          type: string
        - in: formData
          name: Attributes.2.value
          type: string
        - enum:
            - CreatePlatformEndpoint
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEndpointResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      x-aws-operation-name: CreatePlatformEndpoint
  '/#Action=CreateTopic':
    get:
      description: 'Creates a topic to which notifications can be published. Users can create at most 100,000 topics. For more information, see <a href="http://aws.amazon.com/sns/">https://aws.amazon.com/sns</a>. This action is idempotent, so if the requester already owns a topic with the specified name, that topic''s ARN is returned without creating a new topic.'
      operationId: GET CreateTopic
      parameters:
        - description: '<p>The name of the topic you want to create.</p> <p>Constraints: Topic names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, and hyphens, and must be between 1 and 256 characters long.</p>'
          in: query
          name: Name
          required: true
          type: string
        - in: query
          name: Attributes.0.key
          type: string
        - in: query
          name: Attributes.0.value
          type: string
        - in: query
          name: Attributes.1.key
          type: string
        - in: query
          name: Attributes.1.value
          type: string
        - in: query
          name: Attributes.2.key
          type: string
        - in: query
          name: Attributes.2.value
          type: string
        - description: The list of tags to add to a new topic.
          in: query
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CreateTopic
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTopicResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: TopicLimitExceededException
          schema:
            $ref: '#/definitions/TopicLimitExceededException'
        '482':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '484':
          description: InvalidSecurityException
          schema:
            $ref: '#/definitions/InvalidSecurityException'
        '485':
          description: TagLimitExceededException
          schema:
            $ref: '#/definitions/TagLimitExceededException'
        '486':
          description: StaleTagException
          schema:
            $ref: '#/definitions/StaleTagException'
        '487':
          description: TagPolicyException
          schema:
            $ref: '#/definitions/TagPolicyException'
        '488':
          description: ConcurrentAccessException
          schema:
            $ref: '#/definitions/ConcurrentAccessException'
      x-aws-operation-name: CreateTopic
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a topic to which notifications can be published. Users can create at most 100,000 topics. For more information, see <a href="http://aws.amazon.com/sns/">https://aws.amazon.com/sns</a>. This action is idempotent, so if the requester already owns a topic with the specified name, that topic''s ARN is returned without creating a new topic.'
      operationId: POST CreateTopic
      parameters:
        - description: '<p>The name of the topic you want to create.</p> <p>Constraints: Topic names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, and hyphens, and must be between 1 and 256 characters long.</p>'
          in: formData
          name: Name
          required: true
          type: string
        - in: formData
          name: Attributes.0.key
          type: string
        - in: formData
          name: Attributes.0.value
          type: string
        - in: formData
          name: Attributes.1.key
          type: string
        - in: formData
          name: Attributes.1.value
          type: string
        - in: formData
          name: Attributes.2.key
          type: string
        - in: formData
          name: Attributes.2.value
          type: string
        - description: The list of tags to add to a new topic.
          in: formData
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CreateTopic
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTopicResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: TopicLimitExceededException
          schema:
            $ref: '#/definitions/TopicLimitExceededException'
        '482':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '484':
          description: InvalidSecurityException
          schema:
            $ref: '#/definitions/InvalidSecurityException'
        '485':
          description: TagLimitExceededException
          schema:
            $ref: '#/definitions/TagLimitExceededException'
        '486':
          description: StaleTagException
          schema:
            $ref: '#/definitions/StaleTagException'
        '487':
          description: TagPolicyException
          schema:
            $ref: '#/definitions/TagPolicyException'
        '488':
          description: ConcurrentAccessException
          schema:
            $ref: '#/definitions/ConcurrentAccessException'
      x-aws-operation-name: CreateTopic
  '/#Action=DeleteEndpoint':
    get:
      description: '<p>Deletes the endpoint for a device and mobile app from Amazon SNS. This action is idempotent. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When you delete an endpoint that is also subscribed to a topic, then you must also unsubscribe the endpoint from the topic.</p>'
      operationId: GET DeleteEndpoint
      parameters:
        - description: EndpointArn of endpoint to delete.
          in: query
          name: EndpointArn
          required: true
          type: string
        - enum:
            - DeleteEndpoint
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      x-aws-operation-name: DeleteEndpoint
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes the endpoint for a device and mobile app from Amazon SNS. This action is idempotent. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When you delete an endpoint that is also subscribed to a topic, then you must also unsubscribe the endpoint from the topic.</p>'
      operationId: POST DeleteEndpoint
      parameters:
        - description: EndpointArn of endpoint to delete.
          in: formData
          name: EndpointArn
          required: true
          type: string
        - enum:
            - DeleteEndpoint
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      x-aws-operation-name: DeleteEndpoint
  '/#Action=DeletePlatformApplication':
    get:
      description: 'Deletes a platform application object for one of the supported push notification services, such as APNS and GCM. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. '
      operationId: GET DeletePlatformApplication
      parameters:
        - description: PlatformApplicationArn of platform application object to delete.
          in: query
          name: PlatformApplicationArn
          required: true
          type: string
        - enum:
            - DeletePlatformApplication
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      x-aws-operation-name: DeletePlatformApplication
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes a platform application object for one of the supported push notification services, such as APNS and GCM. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. '
      operationId: POST DeletePlatformApplication
      parameters:
        - description: PlatformApplicationArn of platform application object to delete.
          in: formData
          name: PlatformApplicationArn
          required: true
          type: string
        - enum:
            - DeletePlatformApplication
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      x-aws-operation-name: DeletePlatformApplication
  '/#Action=DeleteTopic':
    get:
      description: 'Deletes a topic and all its subscriptions. Deleting a topic might prevent some messages previously sent to the topic from being delivered to subscribers. This action is idempotent, so deleting a topic that does not exist does not result in an error.'
      operationId: GET DeleteTopic
      parameters:
        - description: The ARN of the topic you want to delete.
          in: query
          name: TopicArn
          required: true
          type: string
        - enum:
            - DeleteTopic
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: StaleTagException
          schema:
            $ref: '#/definitions/StaleTagException'
        '485':
          description: TagPolicyException
          schema:
            $ref: '#/definitions/TagPolicyException'
        '486':
          description: ConcurrentAccessException
          schema:
            $ref: '#/definitions/ConcurrentAccessException'
      x-aws-operation-name: DeleteTopic
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes a topic and all its subscriptions. Deleting a topic might prevent some messages previously sent to the topic from being delivered to subscribers. This action is idempotent, so deleting a topic that does not exist does not result in an error.'
      operationId: POST DeleteTopic
      parameters:
        - description: The ARN of the topic you want to delete.
          in: formData
          name: TopicArn
          required: true
          type: string
        - enum:
            - DeleteTopic
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: StaleTagException
          schema:
            $ref: '#/definitions/StaleTagException'
        '485':
          description: TagPolicyException
          schema:
            $ref: '#/definitions/TagPolicyException'
        '486':
          description: ConcurrentAccessException
          schema:
            $ref: '#/definitions/ConcurrentAccessException'
      x-aws-operation-name: DeleteTopic
  '/#Action=GetEndpointAttributes':
    get:
      description: 'Retrieves the endpoint attributes for a device on one of the supported push notification services, such as GCM and APNS. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. '
      operationId: GET GetEndpointAttributes
      parameters:
        - description: EndpointArn for GetEndpointAttributes input.
          in: query
          name: EndpointArn
          required: true
          type: string
        - enum:
            - GetEndpointAttributes
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetEndpointAttributesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      x-aws-operation-name: GetEndpointAttributes
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Retrieves the endpoint attributes for a device on one of the supported push notification services, such as GCM and APNS. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. '
      operationId: POST GetEndpointAttributes
      parameters:
        - description: EndpointArn for GetEndpointAttributes input.
          in: formData
          name: EndpointArn
          required: true
          type: string
        - enum:
            - GetEndpointAttributes
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetEndpointAttributesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      x-aws-operation-name: GetEndpointAttributes
  '/#Action=GetPlatformApplicationAttributes':
    get:
      description: 'Retrieves the attributes of the platform application object for the supported push notification services, such as APNS and GCM. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. '
      operationId: GET GetPlatformApplicationAttributes
      parameters:
        - description: PlatformApplicationArn for GetPlatformApplicationAttributesInput.
          in: query
          name: PlatformApplicationArn
          required: true
          type: string
        - enum:
            - GetPlatformApplicationAttributes
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPlatformApplicationAttributesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      x-aws-operation-name: GetPlatformApplicationAttributes
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Retrieves the attributes of the platform application object for the supported push notification services, such as APNS and GCM. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. '
      operationId: POST GetPlatformApplicationAttributes
      parameters:
        - description: PlatformApplicationArn for GetPlatformApplicationAttributesInput.
          in: formData
          name: PlatformApplicationArn
          required: true
          type: string
        - enum:
            - GetPlatformApplicationAttributes
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPlatformApplicationAttributesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      x-aws-operation-name: GetPlatformApplicationAttributes
  '/#Action=GetSMSAttributes':
    get:
      description: <p>Returns the settings for sending SMS messages from your account.</p> <p>These settings are set with the <code>SetSMSAttributes</code> action.</p>
      operationId: GET GetSMSAttributes
      parameters:
        - description: '<p>A list of the individual attribute names, such as <code>MonthlySpendLimit</code>, for which you want values.</p> <p>For all attribute names, see <a href="https://docs.aws.amazon.com/sns/latest/api/API_SetSMSAttributes.html">SetSMSAttributes</a>.</p> <p>If you don''t use this parameter, Amazon SNS returns all SMS attributes.</p>'
          in: query
          items:
            type: string
          name: attributes
          required: false
          type: array
        - enum:
            - GetSMSAttributes
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSMSAttributesResponse'
        '480':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
      x-aws-operation-name: GetSMSAttributes
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Returns the settings for sending SMS messages from your account.</p> <p>These settings are set with the <code>SetSMSAttributes</code> action.</p>
      operationId: POST GetSMSAttributes
      parameters:
        - description: '<p>A list of the individual attribute names, such as <code>MonthlySpendLimit</code>, for which you want values.</p> <p>For all attribute names, see <a href="https://docs.aws.amazon.com/sns/latest/api/API_SetSMSAttributes.html">SetSMSAttributes</a>.</p> <p>If you don''t use this parameter, Amazon SNS returns all SMS attributes.</p>'
          in: formData
          items:
            type: string
          name: attributes
          required: false
          type: array
        - enum:
            - GetSMSAttributes
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSMSAttributesResponse'
        '480':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
      x-aws-operation-name: GetSMSAttributes
  '/#Action=GetSubscriptionAttributes':
    get:
      description: Returns all of the properties of a subscription.
      operationId: GET GetSubscriptionAttributes
      parameters:
        - description: The ARN of the subscription whose properties you want to get.
          in: query
          name: SubscriptionArn
          required: true
          type: string
        - enum:
            - GetSubscriptionAttributes
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSubscriptionAttributesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      x-aws-operation-name: GetSubscriptionAttributes
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns all of the properties of a subscription.
      operationId: POST GetSubscriptionAttributes
      parameters:
        - description: The ARN of the subscription whose properties you want to get.
          in: formData
          name: SubscriptionArn
          required: true
          type: string
        - enum:
            - GetSubscriptionAttributes
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSubscriptionAttributesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      x-aws-operation-name: GetSubscriptionAttributes
  '/#Action=GetTopicAttributes':
    get:
      description: Returns all of the properties of a topic. Topic properties returned might differ based on the authorization of the user.
      operationId: GET GetTopicAttributes
      parameters:
        - description: The ARN of the topic whose properties you want to get.
          in: query
          name: TopicArn
          required: true
          type: string
        - enum:
            - GetTopicAttributes
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetTopicAttributesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '484':
          description: InvalidSecurityException
          schema:
            $ref: '#/definitions/InvalidSecurityException'
      x-aws-operation-name: GetTopicAttributes
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns all of the properties of a topic. Topic properties returned might differ based on the authorization of the user.
      operationId: POST GetTopicAttributes
      parameters:
        - description: The ARN of the topic whose properties you want to get.
          in: formData
          name: TopicArn
          required: true
          type: string
        - enum:
            - GetTopicAttributes
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetTopicAttributesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '484':
          description: InvalidSecurityException
          schema:
            $ref: '#/definitions/InvalidSecurityException'
      x-aws-operation-name: GetTopicAttributes
  '/#Action=ListEndpointsByPlatformApplication':
    get:
      description: '<p>Lists the endpoints and endpoint attributes for devices in a supported push notification service, such as GCM and APNS. The results for <code>ListEndpointsByPlatformApplication</code> are paginated and return a limited list of endpoints, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListEndpointsByPlatformApplication</code> again using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>This action is throttled at 30 transactions per second (TPS).</p>'
      operationId: GET ListEndpointsByPlatformApplication
      parameters:
        - description: PlatformApplicationArn for ListEndpointsByPlatformApplicationInput action.
          in: query
          name: PlatformApplicationArn
          required: true
          type: string
        - description: NextToken string is used when calling ListEndpointsByPlatformApplication action to retrieve additional records that are available after the first page results.
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - ListEndpointsByPlatformApplication
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListEndpointsByPlatformApplicationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      x-aws-operation-name: ListEndpointsByPlatformApplication
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Lists the endpoints and endpoint attributes for devices in a supported push notification service, such as GCM and APNS. The results for <code>ListEndpointsByPlatformApplication</code> are paginated and return a limited list of endpoints, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListEndpointsByPlatformApplication</code> again using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>This action is throttled at 30 transactions per second (TPS).</p>'
      operationId: POST ListEndpointsByPlatformApplication
      parameters:
        - description: PlatformApplicationArn for ListEndpointsByPlatformApplicationInput action.
          in: formData
          name: PlatformApplicationArn
          required: true
          type: string
        - description: NextToken string is used when calling ListEndpointsByPlatformApplication action to retrieve additional records that are available after the first page results.
          in: formData
          name: NextToken
          required: false
          type: string
        - enum:
            - ListEndpointsByPlatformApplication
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListEndpointsByPlatformApplicationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
      x-aws-operation-name: ListEndpointsByPlatformApplication
  '/#Action=ListPhoneNumbersOptedOut':
    get:
      description: '<p>Returns a list of phone numbers that are opted out, meaning you cannot send SMS messages to them.</p> <p>The results for <code>ListPhoneNumbersOptedOut</code> are paginated, and each page returns up to 100 phone numbers. If additional phone numbers are available after the first page of results, then a <code>NextToken</code> string will be returned. To receive the next page, you call <code>ListPhoneNumbersOptedOut</code> again using the <code>NextToken</code> string received from the previous call. When there are no more records to return, <code>NextToken</code> will be null.</p>'
      operationId: GET ListPhoneNumbersOptedOut
      parameters:
        - description: A <code>NextToken</code> string is used when you call the <code>ListPhoneNumbersOptedOut</code> action to retrieve additional records that are available after the first page of results.
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - ListPhoneNumbersOptedOut
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPhoneNumbersOptedOutResponse'
        '480':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
      x-aws-operation-name: ListPhoneNumbersOptedOut
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns a list of phone numbers that are opted out, meaning you cannot send SMS messages to them.</p> <p>The results for <code>ListPhoneNumbersOptedOut</code> are paginated, and each page returns up to 100 phone numbers. If additional phone numbers are available after the first page of results, then a <code>NextToken</code> string will be returned. To receive the next page, you call <code>ListPhoneNumbersOptedOut</code> again using the <code>NextToken</code> string received from the previous call. When there are no more records to return, <code>NextToken</code> will be null.</p>'
      operationId: POST ListPhoneNumbersOptedOut
      parameters:
        - description: A <code>NextToken</code> string is used when you call the <code>ListPhoneNumbersOptedOut</code> action to retrieve additional records that are available after the first page of results.
          in: formData
          name: nextToken
          required: false
          type: string
        - enum:
            - ListPhoneNumbersOptedOut
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPhoneNumbersOptedOutResponse'
        '480':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
      x-aws-operation-name: ListPhoneNumbersOptedOut
  '/#Action=ListPlatformApplications':
    get:
      description: '<p>Lists the platform application objects for the supported push notification services, such as APNS and GCM. The results for <code>ListPlatformApplications</code> are paginated and return a limited list of applications, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListPlatformApplications</code> using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>This action is throttled at 15 transactions per second (TPS).</p>'
      operationId: GET ListPlatformApplications
      parameters:
        - description: NextToken string is used when calling ListPlatformApplications action to retrieve additional records that are available after the first page results.
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - ListPlatformApplications
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPlatformApplicationsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      x-aws-operation-name: ListPlatformApplications
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Lists the platform application objects for the supported push notification services, such as APNS and GCM. The results for <code>ListPlatformApplications</code> are paginated and return a limited list of applications, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListPlatformApplications</code> using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href="https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>This action is throttled at 15 transactions per second (TPS).</p>'
      operationId: POST ListPlatformApplications
      parameters:
        - description: NextToken string is used when calling ListPlatformApplications action to retrieve additional records that are available after the first page results.
          in: formData
          name: NextToken
          required: false
          type: string
        - enum:
            - ListPlatformApplications
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPlatformApplicationsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      x-aws-operation-name: ListPlatformApplications
  '/#Action=ListSubscriptions':
    get:
      description: '<p>Returns a list of the requester''s subscriptions. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptions</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>'
      operationId: GET ListSubscriptions
      parameters:
        - description: Token returned by the previous <code>ListSubscriptions</code> request.
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - ListSubscriptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSubscriptionsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      x-aws-operation-name: ListSubscriptions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns a list of the requester''s subscriptions. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptions</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>'
      operationId: POST ListSubscriptions
      parameters:
        - description: Token returned by the previous <code>ListSubscriptions</code> request.
          in: formData
          name: NextToken
          required: false
          type: string
        - enum:
            - ListSubscriptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSubscriptionsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      x-aws-operation-name: ListSubscriptions
  '/#Action=ListSubscriptionsByTopic':
    get:
      description: '<p>Returns a list of the subscriptions to a specific topic. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptionsByTopic</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>'
      operationId: GET ListSubscriptionsByTopic
      parameters:
        - description: The ARN of the topic for which you wish to find subscriptions.
          in: query
          name: TopicArn
          required: true
          type: string
        - description: Token returned by the previous <code>ListSubscriptionsByTopic</code> request.
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - ListSubscriptionsByTopic
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSubscriptionsByTopicResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      x-aws-operation-name: ListSubscriptionsByTopic
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns a list of the subscriptions to a specific topic. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptionsByTopic</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>'
      operationId: POST ListSubscriptionsByTopic
      parameters:
        - description: The ARN of the topic for which you wish to find subscriptions.
          in: formData
          name: TopicArn
          required: true
          type: string
        - description: Token returned by the previous <code>ListSubscriptionsByTopic</code> request.
          in: formData
          name: NextToken
          required: false
          type: string
        - enum:
            - ListSubscriptionsByTopic
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSubscriptionsByTopicResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      x-aws-operation-name: ListSubscriptionsByTopic
  '/#Action=ListTagsForResource':
    get:
      description: 'List all tags added to the specified Amazon SNS topic. For an overview, see <a href="https://docs.aws.amazon.com/sns/latest/dg/sns-tags.html">Amazon SNS Tags</a> in the <i>Amazon Simple Notification Service Developer Guide</i>.'
      operationId: GET ListTagsForResource
      parameters:
        - description: The ARN of the topic for which to list tags.
          in: query
          maxLength: 1011
          minLength: 1
          name: ResourceArn
          required: true
          type: string
        - enum:
            - ListTagsForResource
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: TagPolicyException
          schema:
            $ref: '#/definitions/TagPolicyException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '484':
          description: ConcurrentAccessException
          schema:
            $ref: '#/definitions/ConcurrentAccessException'
      x-aws-operation-name: ListTagsForResource
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'List all tags added to the specified Amazon SNS topic. For an overview, see <a href="https://docs.aws.amazon.com/sns/latest/dg/sns-tags.html">Amazon SNS Tags</a> in the <i>Amazon Simple Notification Service Developer Guide</i>.'
      operationId: POST ListTagsForResource
      parameters:
        - description: The ARN of the topic for which to list tags.
          in: formData
          maxLength: 1011
          minLength: 1
          name: ResourceArn
          required: true
          type: string
        - enum:
            - ListTagsForResource
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: TagPolicyException
          schema:
            $ref: '#/definitions/TagPolicyException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '484':
          description: ConcurrentAccessException
          schema:
            $ref: '#/definitions/ConcurrentAccessException'
      x-aws-operation-name: ListTagsForResource
  '/#Action=ListTopics':
    get:
      description: '<p>Returns a list of the requester''s topics. Each call returns a limited list of topics, up to 100. If there are more topics, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListTopics</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>'
      operationId: GET ListTopics
      parameters:
        - description: Token returned by the previous <code>ListTopics</code> request.
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - ListTopics
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTopicsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      x-aws-operation-name: ListTopics
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns a list of the requester''s topics. Each call returns a limited list of topics, up to 100. If there are more topics, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListTopics</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>'
      operationId: POST ListTopics
      parameters:
        - description: Token returned by the previous <code>ListTopics</code> request.
          in: formData
          name: NextToken
          required: false
          type: string
        - enum:
            - ListTopics
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTopicsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
      x-aws-operation-name: ListTopics
  '/#Action=OptInPhoneNumber':
    get:
      description: '<p>Use this request to opt in a phone number that is opted out, which enables you to resume sending SMS messages to the number.</p> <p>You can opt in a phone number only once every 30 days.</p>'
      operationId: GET OptInPhoneNumber
      parameters:
        - description: The phone number to opt in.
          in: query
          name: phoneNumber
          required: true
          type: string
        - enum:
            - OptInPhoneNumber
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OptInPhoneNumberResponse'
        '480':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '482':
          description: AuthorizationErrorException
          schema:
            $ref: '#/definitions/AuthorizationErrorException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
      x-aws-operation-name: OptInPhoneNumber
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Use this request to opt in a phone number that is opted out, which enables you to resume sending SMS messages to the number.</p> <p>You can opt in a phone number only once every 30 days.</p>'
      operationId: POST OptInPhoneNumber
      parameters:
        - description: The phone number to opt in.
          in: formData
          name: phoneNumber
          required: true
          type: string
        - enum:
            - OptInPhoneNumber
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-03-31'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OptInPhoneNumberResponse'
        '480':
          description: ThrottledException
          schema:
            $ref: '#/definitions/ThrottledException'
        '481':
          description: InternalErrorException
          schema:
[...]
