swagger: '2.0'
schemes:
  - https
host: ofmpub.epa.gov
basePath: /echo
info:
  contact:
    name: 'US EPA, OECA Integration, Targeting and Access Branch'
  description: |
    Enforcement and Compliance History Online (ECHO) is a tool developed and maintained by EPA's Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated compliance and enforcement information for about 800,000 regulated facilities nationwide.
    <BR><BR>CASE Rest Services provide multiple service endpoints, each with specific capabilities, to search and retrieve data on civil cases entered into the 
    Integrated Compliance Information System (ICIS) and criminal cases entered into the Summary of Criminal Prosecutions database.  
    See Enforcement Case Search Help (https://echo.epa.gov/help/enforcement-case-search-help) for additional information on searching civil and criminal cases. 
    <BR><BR>
    The get_cases, get_map, get_qid, and get_download end points are meant to be used together.<br>  
    The recommended use scenario for get_cases, get_qid, get_map, and get_downoad is:
    <br>
    <br><b>1)</b>  Use get_cases to validate passed query parameters, obtain summary statistics and to obtain a query_id (QID).  QIDs are time sensitive and will be valid for approximately 30 minutes.
    <br><b>2)</b>  Use get_qid, with the returned QID, to paginate through arrays of case results.
    <br><b>3)</b>  Use get_map, with the returned QID, to zoom in/out and pan on the clustered and individual facility coordinates, related to the returned cases, that meet the QID query criteria.
    <br><b>4)</b>  Use get_download, with the returned QID, to generate a Comma Separated Value (CSV) file of facility information that meets the QID query criteria.
    <br><br>
    In addition to the service endpoints listed above there are two detailed case report services, one for civil cases (get_case_report) and one for criminal cases (get_crcase_report). 
    See the Civil Enforcement Case Report Help (https://echo.epa.gov/help/reports/enforcement-case-report-help) and the Criminal Case Report Help (https://echo.epa.gov/help/reports/criminal-case-report-help) for additional information 
    on then data returned from these two services.   
    <br>
    Additional ECHO Resources:   <a href="https://echo.epa.gov/tools/web-services">Web Services</a>, <a href="https://echo.epa.gov/resources/echo-data/about-the-data">About ECHO's Data</a>, <a href="https://echo.epa.gov/tools/data-downloads">Data Downloads</a>
    <br>
  license:
    name: This page was built with the Swagger API.
    url: 'https://swagger.io'
  title: U.S. EPA Enforcement and Compliance History Online (ECHO) - Enforcement Case Search
  version: 1.0.0
  x-apisguru-categories:
    - open_data
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://pbs.twimg.com/profile_images/632233890594299904/DgRDU6dx_400x400.png'
  x-origin:
    - format: swagger
      url: 'https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=CASE'
      version: '2.0'
  x-providerName: epa.gov
  x-serviceName: case
consumes:
  - application/json
  - application/xml
produces:
  - application/json
  - application/xml
parameters:
  c1_lat:
    description: Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: c1_lat
    required: false
    type: number
  c1_long:
    description: Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: c1_long
    required: false
    type: number
  c2_lat:
    description: Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: c2_lat
    required: false
    type: number
  c2_long:
    description: Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: c2_long
    required: false
    type: number
  callback:
    description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.
    in: query
    name: callback
    required: false
    type: string
  descending:
    description: Output Sort Column Descending Flag.  Enter Y to column identified in the newsort parameter descending.  Enter N to use ascending sort order. Used only when newsort parameter is populated.
    enum:
      - 'Y'
      - 'N'
    in: query
    name: descending
    required: false
    type: string
  maplist:
    description: Map List Flag.  Provide a Y to return mappable coordinates representing the full geographic extent of the queryset (all facilities that met the selection criteria).
    enum:
      - 'Y'
      - 'N'
    in: query
    name: maplist
    required: false
    type: string
  newsort:
    description: Output Sort Column.  Enter the number of the column on which the data will be sorted. If unpopulated results will sort on the first column.
    in: query
    name: newsort
    required: false
    type: number
  p_activity_contact:
    description: Activity Contact Last Name Filter.  Enter a single last name or partial last name to filter results.  Use "%" as a wild-card for advanced searching.
    in: query
    name: p_activity_contact
    required: false
    type: string
  p_activity_number:
    description: Case Activity Number Filter.  Enter a single case activity number to filter results.
    in: query
    name: p_activity_number
    required: false
    type: string
  p_c1lat:
    description: In decimal degrees.  Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: p_c1lat
    required: false
    type: number
  p_c1lon:
    description: In decimal degrees.  Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: p_c1lon
    required: false
    type: number
  p_c2lat:
    description: In decimal degrees.  Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: p_c2lat
    required: false
    type: number
  p_c2lon:
    description: In decimal degrees.  Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: p_c2lon
    required: false
    type: number
  p_case_category:
    description: |-
      Case Category Filter.  Enter one or more case category codes to filter results.   Provide multiple values as a comma-delimited list.
      - AFR = Administrative - Formal
      - AIF = Administrative - Informal
      - JDC = Judicial
    in: query
    name: p_case_category
    required: false
    type: string
  p_case_lead:
    description: |-
      Case Lead Limiter.  Enter E or S to limit results.
      - E = EPA is the case lead.
      - S = The state is the case lead.
    enum:
      - E
      - S
    in: query
    name: p_case_lead
    required: false
    type: string
  p_case_number:
    description: Case Number Filter.  Enter one or more case numbers to restrict results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_case_number
    required: false
    type: string
  p_case_sens_flg:
    description: Case Sensitive Data Flag.  Enter a Y or N to include or exclude cases with sensitive data.
    in: query
    name: p_case_sens_flg
    required: false
    type: string
  p_case_status:
    description: Case Status Code Filter.  Enter one or more case status codes to limit results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_case_status
    required: false
    type: string
  p_case_summary:
    description: Case Summary Search Limiter.  Enter a single case summary to limit results.  This parameter accepts partial codes and allows for advanced search modifiers.
    in: query
    name: p_case_summary
    required: false
    type: string
  p_civil_criminal_indicator:
    description: |-
      Civil/Criminal Case Limiter.  Provide a keyword to limit results.
      - ANY = return both civil and criminal cases.
      - CI = return only civil cases.
      - CR = return only criminal cases.
    enum:
      - CI
      - CR
      - ALL
    in: query
    name: p_civil_criminal_indicator
    required: false
    type: string
  p_comp_act_val:
    description: |-
      Compliance Action Cost Limiter. Enter a keyword value to limit results to cases with given compliance cost amounts.
      - ANY = Cases with any compliance cost amount greater than zero.
      - LEXX = Replacing XX with a dollar value, return cases with compliance cost amount less than or equal to the given amount.
      - GTXX = Replacing XX with a dollar value, return cases with compliance cost amount greater than the given amount.
    enum:
      - ANY
      - LE5000
      - GT5000
      - GT100000
      - GT1000000
      - GT50000000
    in: query
    name: p_comp_act_val
    required: false
    type: string
  p_complying_actions:
    description: Complying Actions Type Code Limiter.  Enter one or more complying action codes to restrict results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_complying_actions
    required: false
    type: string
  p_cost_recovery:
    description: |-
      Cost Recovery Awarded Amount Limiter.  Enter a keyword value to limit results to cases with given cost recovery amounts.
      - ANY = Cases with any cost recovery amount greater than zero.
      - LEXX = Replacing XX with a dollar value, return cases with cost recovery amount less than or equal to the given amount.
      - GTXX = Replacing XX with a dollar value, return cases with cost recovery amount greater than the given amount.
    in: query
    name: p_cost_recovery
    required: false
    type: string
  p_cp_citation:
    description: Law Section Code Filter Alternative. Enter a single law section code to limit results.  This parameter accepts partial codes and allows for advanced search modifiers.
    in: query
    name: p_cp_citation
    required: false
    type: string
  p_district:
    description: Case Location Court District Limiter.  Enter a single state court district code to limit results.
    in: query
    name: p_district
    required: false
    type: string
  p_docket_number:
    description: DOJ Docket Number Filter.  Enter a single docket number or partial docket number to restrict results.  Use "%" as a wildcard for more complex filtering.
    in: query
    name: p_docket_number
    required: false
    type: string
  p_enf_program:
    description: 'Enforcement Program Code Limiter.  Enter one or more enforcement program codes to limit results.  Provide multiple values as a comma-delimited list.  '
    in: query
    name: p_enf_program
    required: false
    type: string
  p_enf_type:
    description: Case Enforcement Type Filter. Enter one or more case enforcement type codes to limit results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_enf_type
    required: false
    type: string
  p_entered_date:
    description: Settlement Entered Date Limiter.  Enter a single settlement entered date in MM/DD/YYYY format to limit results.
    in: query
    name: p_entered_date
    required: false
    type: string
  p_fac_city:
    description: Case Facility City Limiter.  Enter a single complete city name to filter cases by facility location city.
    in: query
    name: p_fac_city
    required: false
    type: string
  p_fac_county:
    description: Case Facility County Limiter.  Enter a single complete county name to filter cases by facility location county name.
    in: query
    name: p_fac_county
    required: false
    type: string
  p_fac_zip:
    description: Case Facility ZIP Code Limiter.  Enter a single 5-digit zip code to filter cases by facility location zip code.
    in: query
    name: p_fac_zip
    required: false
    type: string
  p_facility_id:
    description: Case Facility Registration Identifier Limiter.  Enter a single complete facility identifier to limit results.
    in: query
    name: p_facility_id
    required: false
    type: string
  p_fed_case:
    description: Federal Facility Involvement Flag.  Enter a Y or N to include or exclude cases involving federal facilities.
    enum:
      - 'Y'
      - 'N'
    in: query
    name: p_fed_case
    required: false
    type: string
  p_fed_indicator:
    description: Federal Facility/Cross Media Flag.  Enter Y or N to limit results to cases with federal facility cross media.
    in: query
    name: p_fed_indicator
    required: false
    type: string
  p_fed_penalty:
    description: |-
      Federal Penalty Assessed Amount Filter.  Provide one of the following keywords to restrict results.
      - ANY = cases with any penalty amount.
      - LE5000 = cases with penalty amount less than or equal to $5,000.
      - GT5000 = cases with penalty amount more than $5,000.
      - GT50000 = cases with penalty amount more than $50,000.
      - GT100000 = cases with penalty amount more than $100,000.
      - GT500000 = cases with penalty amount more than $500,000.
      - GT1000000 = cases with penalty amount more than $1,000,000.
      - GT2500000 = cases with penalty amount more than $2,500,000.
    enum:
      - ANY
      - LE5000
      - GT5000
      - GT50000
      - GT100000
      - GT500000
      - GT1000000
      - GT2500000
    in: query
    name: p_fed_penalty
    required: false
    type: string
  p_fntype:
    description: |
      Controls type of text search performed on facility name with parameter p_fn.
      - EXACT = Find facilities having the exact provided name(s).
      - BEGINS = Find facilities with names starting with the provided term(s).
      - ALL = Find facilities using Oracle text search terms.
      - CONTAINS = 
    enum:
      - ALL
      - CONTAINS
      - EXACT
      - BEGINS
    in: query
    name: p_fntype
    required: false
    type: string
  p_from_date:
    description: Administrative or Judicial Milestone Date Range Start Limiter.  Enter a date value in MM/DD/YYYY format to limit milestone results.  Parameter p_to_date must also be populated when using this parameter option.
    in: query
    name: p_from_date
    required: false
    type: string
  p_law:
    description: Law Statute Code Filter.  Enter a single statute code to limit results.
    in: query
    name: p_law
    required: false
    type: string
  p_lodged_date:
    description: Settlement Lodged Date Limiter.  Enter a single settlement lodged date in MM/DD/YYYY format to limit results.
    in: query
    name: p_lodged_date
    required: false
    type: string
  p_milestone:
    description: Administrative or Judicial Milestone Filter.  Enter one or milestone values to restrict results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_milestone
    required: false
    type: string
  p_milestone_fy:
    description: Administrative or Judicial Milestone Fiscal Year Limiter.  Enter a single fiscal year value to limit milestone searches to a given fiscal year.
    in: query
    name: p_milestone_fy
    required: false
    type: string
  p_multimedia:
    description: Enforcement Multimedia Case Flag.  Enter Y or N to include or exclude multimedia cases.
    enum:
      - 'Y'
      - 'N'
    in: query
    name: p_multimedia
    required: false
    type: string
  p_naics:
    description: North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values.
    in: query
    name: p_naics
    required: false
    type: string
  p_naics_frs_flg:
    description: Case Location Extended FRS NAICS Search Flag.  Enter Y to expand NAICS search to include Federal Registry Service datasets.
    enum:
      - 'Y'
      - 'N'
    in: query
    name: p_naics_frs_flg
    required: false
    type: string
  p_naics_primary_flg:
    description: Case Location Primary NAICS Flag.  Enter Y to limit NAICS search results to primary NAICS codes only.
    enum:
      - 'Y'
      - 'N'
    in: query
    name: p_naics_primary_flg
    required: false
    type: string
  p_name:
    description: Case Name Filter.  Enter one or more case names to restrict results.  Provide multiple values as a comma-delimited list.  When using this parameter the p_name_type parameter is required.
    in: query
    name: p_name
    required: false
    type: string
  p_name_type:
    description: Case Name Filter Modifier.
    in: query
    name: p_name_type
    required: false
    type: string
  p_oeca_core:
    description: OECA Core Program Flag.  Enter Y or N to include or exclude core program cases.
    enum:
      - 'Y'
      - 'N'
    in: query
    name: p_oeca_core
    required: false
    type: string
  p_priority_area:
    description: Case Priority Area Filter.  Enter one or more case priority areas to limit results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_priority_area
    required: false
    type: string
  p_priority_area_desc:
    description: Case Priority Area Description Filter.  Enter a single case priority area description or partial case priority area description to limit results.  Use "%" as a wild-card match for more complex searches.
    in: query
    name: p_priority_area_desc
    required: false
    type: string
  p_rank_order:
    description: Law Status Rank Order Limiter.  Enter a single integer rank order to limit results.
    enum:
      - '1'
      - '0'
    in: query
    name: p_rank_order
    required: false
    type: string
  p_region:
    description: EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.
    enum:
      - '01'
      - '02'
      - '03'
      - '04'
      - '05'
      - '06'
      - '07'
      - 08
      - 09
      - '10'
    in: query
    name: p_region
    required: false
    type: string
  p_role:
    description: Activity Contact Role Code Filter.  Enter a single role code to restrict results.
    in: query
    name: p_role
    required: false
    type: string
  p_section:
    description: Law Section Code Filter. Enter one or more law section codes to limit results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_section
    required: false
    type: string
  p_sep_cats:
    description: Supplemental Environmental Projects Activity Category Code Limiter.  Provide one or more SEP activity category codes to limit results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_sep_cats
    required: false
    type: string
  p_sep_val:
    description: |-
      Supplemental Environmental Projects Activity Value Limiter.  Provide a keyword to limit results.
      - ANY = return cases with any SEP activity amount.
      - LE10000 = return cases with SEP activity amount less than or equal to $10,000.
      - GT10000 = return cases with SEP activity amount greater than $10,000.
      - GT50000 = return cases with SEP activity amount greater than $50,000.
      - GT100000 = return cases with SEP activity amount greater than $100,000.
      - GT500000 = return cases with SEP activity amount greater than $500,000.
      - GT1000000 = return cases with SEP activity amount greater than $1,000,000.
    enum:
      - ANY
      - LE10000
      - GT10000
      - GT50000
      - GT100000
      - GT500000
      - GT1000000
    in: query
    name: p_sep_val
    required: false
    type: string
  p_sic:
    description: Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results.
    in: query
    name: p_sic
    required: false
    type: string
  p_sic_ao_naics:
    description: |-
      Case Location SIC/NAICS And/Or Modifier.  Enter either AND or OR to govern the search logic of SIC and NAICS codes.
      - AND = Search will return results having both the provided SIC code(s) and provided NAICS code(s).
      - OR = Search will return results having either the provided SIC code(s) or the provided NAICS code(s).
    enum:
      - AND
      - OR
    in: query
    name: p_sic_ao_naics
    required: false
    type: string
  p_sic_frs_flg:
    description: Case Location Extended FRS SIC Search Flag.  Enter Y to expand SIC search to include Federal Registry Service datasets.
    enum:
      - 'Y'
      - 'N'
    in: query
    name: p_sic_frs_flg
    required: false
    type: string
  p_sic_primary_flg:
    description: Case Location Primary SIC Flag.  Enter Y to limit SIC search results to primary SIC codes only.
    enum:
      - 'Y'
      - 'N'
    in: query
    name: p_sic_primary_flg
    required: false
    type: string
  p_state:
    description: Case Location State Filter.  Enter one or more state USPS postal codes to filter results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_state
    required: false
    type: string
  p_to_date:
    description: Administrative or Judicial Milestone Date Range End Limiter.  Enter a date value in MM/DD/YYYY format to limit milestone results.  Parameter p_from_date must also be populated when using this parameter option.
    in: query
    name: p_to_date
    required: false
    type: string
  p_total_comp_act_val:
    description: |-
      Total Compliance Action Amount Limiter.  Enter a keyword value to limit results to cases with given total compliance action amounts.
      - ANY = Cases with any total compliance action amount greater than zero.
      - LEXX = Replacing XX with a dollar value, return cases with total compliance action amount less than or equal to the given amount.
      - GTXX = Replacing XX with a dollar value, return cases with total compliance action amount greater than the given amount.
    in: query
    name: p_total_comp_act_val
    required: false
    type: string
  p_total_cost_recovery:
    description: |-
      Total Cost Recovery Amount Limiter.  Enter a keyword value to limit results to cases with given cost recovery amounts.
      - ANY = Cases with any cost recovery amount greater than zero.
      - LEXX = Replacing XX with a dollar value, return cases with cost recovery amount less than or equal to the given amount.
      - GTXX = Replacing XX with a dollar value, return cases with cost recovery amount greater than the given amount.
    in: query
    name: p_total_cost_recovery
    required: false
    type: string
  p_total_fed_penalty:
    description: |-
      Total Federal Penalty Limiter.  Enter a keyword value to limit results to cases with given total federal penalties.
      - ANY = Cases with any federal penalty greater than zero.
      - LEXX = Replacing XX with a dollar value, return cases with federal penalty less than or equal to the given amount.
      - GTXX = Replacing XX with a dollar value, return cases with federal penalty greater than the given amount.
    in: query
    name: p_total_fed_penalty
    required: false
    type: string
  p_total_sep_val:
    description: |-
      Supplemental Environmental Projects Total Value Limiter.  Provide a keyword to limit results.
      - ANY = return cases with any SEP total amount.
      - LE10000 = return cases with SEP total amount less than or equal to $10,000.
      - GT10000 = return cases with SEP total amount greater than $10,000.
      - GT50000 = return cases with SEP total amount greater than $50,000.
      - GT100000 = return cases with SEP total amount greater than $100,000.
      - GT500000 = return cases with SEP total amount greater than $500,000.
      - GT1000000 = return cases with SEP total amount greater than $1,000,000.
    in: query
    name: p_total_sep_val
    required: false
    type: string
  p_tribal:
    description: Case Location Tribal Land Flag.  Enter Y or N to include or disallow cases on tribal land.
    enum:
      - 'Y'
      - 'N'
    in: query
    name: p_tribal
    required: false
    type: string
  p_usmex:
    description: US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities located within 100KM of the border.
    enum:
      - 'Y'
      - 'N'
    in: query
    name: p_usmex
    required: false
    type: string
  p_violation:
    description: Violation Type Code Filter.  Enter one or more violation type codes to limit results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_violation
    required: false
    type: string
  p_voluntary:
    description: Voluntary Self Disclosure Flag.  Enter Y or N to include or exclude cases results having voluntary disclosure.
    in: query
    name: p_voluntary
    required: false
    type: string
  pageno:
    default: 1
    description: Indicates the number of the page to display. It is used only when the results are paginated.
    in: query
    name: pageno
    required: false
    type: number
  qcolumns:
    description: Used to cutomize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.
    in: query
    name: qcolumns
    required: false
    type: string
  qid:
    description: Query ID Selector.  Enter the QueryID number from a previously run query.
    in: query
    name: qid
    required: true
    type: string
  queryset:
    description: 'Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000.'
    in: query
    name: queryset
    required: false
    type: number
  responseset:
    description: 'Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000.'
    in: query
    name: responseset
    required: false
    type: number
  search_code:
    description: Enter a partial or complete code value.
    in: query
    name: search_code
    required: false
    type: string
  search_term:
    description: Enter a partial or complete search phrase or word.
    in: query
    name: search_term
    required: false
    type: string
  sort_order:
    in: query
    name: sort_order
    required: false
    type: number
  status_flag:
    in: query
    name: status_flag
    required: false
    type: string
  statute_code:
    in: query
    name: statute_code
    required: false
    type: string
  tablelist:
    description: Table List Flag. Enter a Y to display the first page of facility results.
    enum:
      - 'Y'
      - 'N'
    in: query
    name: tablelist
    required: false
    type: string
paths:
  /case_rest_services.get_case_report:
    get:
      description: The get_case_report service endpoint returns a complex object of civil enforcement case details based on the provided case id.
      parameters:
        - description: Case Number. Enter the case number identifier to retrieve the case report.
          in: query
          name: p_id
          required: false
          type: string
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/callback'
      responses:
        '200':
          description: Returns a complex object containing detailed case information for the provided Case Identifier.
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: '#/definitions/crs1_Results'
            required:
              - Results
            type: object
      summary: Enforcement Case Summary Report Search
      tags:
        - Case Enforcement
    post:
      description: The get_case_report service endpoint returns a complex object of civil enforcement case details based on the provided case id.
      parameters:
        - description: Case Number. Enter the case number identifier to retrieve the case report.
          in: query
          name: p_id
          required: false
          type: string
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/callback'
      responses:
        '200':
          description: Returns a complex object containing detailed case information for the provided Case Identifier.
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: '#/definitions/crs1_Results'
            required:
              - Results
            type: object
      summary: Enforcement Case Summary Report Search
      tags:
        - Case Enforcement
  /case_rest_services.get_cases:
    get:
      description: The get_cases service end point searches for civil enforcement and criminal cases based on the provided selection criteria.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/p_case_category'
        - $ref: '#/parameters/p_case_status'
        - $ref: '#/parameters/p_milestone'
        - $ref: '#/parameters/p_from_date'
        - $ref: '#/parameters/p_to_date'
        - $ref: '#/parameters/p_milestone_fy'
        - $ref: '#/parameters/p_name'
        - $ref: '#/parameters/p_name_type'
        - $ref: '#/parameters/p_case_number'
        - $ref: '#/parameters/p_docket_number'
        - $ref: '#/parameters/p_activity_number'
        - $ref: '#/parameters/p_case_lead'
        - $ref: '#/parameters/p_case_sens_flg'
        - $ref: '#/parameters/p_region'
        - $ref: '#/parameters/p_state'
        - $ref: '#/parameters/p_district'
        - $ref: '#/parameters/p_sic'
        - $ref: '#/parameters/p_sic_ao_naics'
        - $ref: '#/parameters/p_sic_primary_flg'
        - $ref: '#/parameters/p_sic_frs_flg'
        - $ref: '#/parameters/p_naics'
        - $ref: '#/parameters/p_naics_primary_flg'
        - $ref: '#/parameters/p_naics_frs_flg'
        - $ref: '#/parameters/p_enf_type'
        - $ref: '#/parameters/p_law'
        - $ref: '#/parameters/p_section'
        - $ref: '#/parameters/p_cp_citation'
        - $ref: '#/parameters/p_rank_order'
        - $ref: '#/parameters/p_enf_program'
        - $ref: '#/parameters/p_violation'
        - $ref: '#/parameters/p_priority_area'
        - $ref: '#/parameters/p_priority_area_desc'
        - $ref: '#/parameters/p_tribal'
        - $ref: '#/parameters/p_oeca_core'
        - $ref: '#/parameters/p_multimedia'
        - $ref: '#/parameters/p_fed_case'
        - $ref: '#/parameters/p_activity_contact'
        - $ref: '#/parameters/p_role'
        - $ref: '#/parameters/p_fed_penalty'
        - $ref: '#/parameters/p_total_fed_penalty'
        - $ref: '#/parameters/p_cost_recovery'
        - $ref: '#/parameters/p_total_cost_recovery'
        - $ref: '#/parameters/p_complying_actions'
        - $ref: '#/parameters/p_comp_act_val'
        - $ref: '#/parameters/p_total_comp_act_val'
        - $ref: '#/parameters/p_sep_cats'
        - $ref: '#/parameters/p_sep_val'
        - $ref: '#/parameters/p_total_sep_val'
        - $ref: '#/parameters/p_lodged_date'
        - $ref: '#/parameters/p_entered_date'
        - $ref: '#/parameters/p_facility_id'
        - $ref: '#/parameters/p_fac_city'
        - $ref: '#/parameters/p_fac_zip'
        - $ref: '#/parameters/p_fac_county'
        - $ref: '#/parameters/p_case_summary'
        - $ref: '#/parameters/p_usmex'
        - $ref: '#/parameters/p_c1lat'
        - $ref: '#/parameters/p_c1lon'
        - $ref: '#/parameters/p_c2lat'
        - $ref: '#/parameters/p_c2lon'
        - $ref: '#/parameters/p_voluntary'
        - $ref: '#/parameters/p_fed_indicator'
        - $ref: '#/parameters/p_fntype'
        - $ref: '#/parameters/p_civil_criminal_indicator'
        - $ref: '#/parameters/queryset'
        - $ref: '#/parameters/responseset'
        - $ref: '#/parameters/maplist'
        - $ref: '#/parameters/tablelist'
        - $ref: '#/parameters/callback'
        - $ref: '#/parameters/qcolumns'
      responses:
        '200':
          description: Returns an array of cases that meet the selection criteria.
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: '#/definitions/crs2_Results'
            required:
              - Results
            type: object
      summary: Enforcement Case Search
      tags:
        - Case Enforcement
    post:
      description: The get_cases service end point searches for civil enforcement and criminal cases based on the provided selection criteria.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/p_case_category'
        - $ref: '#/parameters/p_case_status'
        - $ref: '#/parameters/p_milestone'
        - $ref: '#/parameters/p_from_date'
        - $ref: '#/parameters/p_to_date'
        - $ref: '#/parameters/p_milestone_fy'
        - $ref: '#/parameters/p_name'
        - $ref: '#/parameters/p_name_type'
        - $ref: '#/parameters/p_case_number'
        - $ref: '#/parameters/p_docket_number'
        - $ref: '#/parameters/p_activity_number'
        - $ref: '#/parameters/p_case_lead'
        - $ref: '#/parameters/p_case_sens_flg'
        - $ref: '#/parameters/p_region'
        - $ref: '#/parameters/p_state'
        - $ref: '#/parameters/p_district'
        - $ref: '#/parameters/p_sic'
        - $ref: '#/parameters/p_sic_ao_naics'
        - $ref: '#/parameters/p_sic_primary_flg'
        - $ref: '#/parameters/p_sic_frs_flg'
        - $ref: '#/parameters/p_naics'
        - $ref: '#/parameters/p_naics_primary_flg'
        - $ref: '#/parameters/p_naics_frs_flg'
        - $ref: '#/parameters/p_enf_type'
        - $ref: '#/parameters/p_law'
        - $ref: '#/parameters/p_section'
        - $ref: '#/parameters/p_cp_citation'
        - $ref: '#/parameters/p_rank_order'
        - $ref: '#/parameters/p_enf_program'
        - $ref: '#/parameters/p_violation'
        - $ref: '#/parameters/p_priority_area'
        - $ref: '#/parameters/p_priority_area_desc'
        - $ref: '#/parameters/p_tribal'
        - $ref: '#/parameters/p_oeca_core'
        - $ref: '#/parameters/p_multimedia'
        - $ref: '#/parameters/p_fed_case'
        - $ref: '#/parameters/p_activity_contact'
        - $ref: '#/parameters/p_role'
        - $ref: '#/parameters/p_fed_penalty'
        - $ref: '#/parameters/p_total_fed_penalty'
        - $ref: '#/parameters/p_cost_recovery'
        - $ref: '#/parameters/p_total_cost_recovery'
        - $ref: '#/parameters/p_complying_actions'
        - $ref: '#/parameters/p_comp_act_val'
        - $ref: '#/parameters/p_total_comp_act_val'
        - $ref: '#/parameters/p_sep_cats'
        - $ref: '#/parameters/p_sep_val'
        - $ref: '#/parameters/p_total_sep_val'
        - $ref: '#/parameters/p_lodged_date'
        - $ref: '#/parameters/p_entered_date'
        - $ref: '#/parameters/p_facility_id'
        - $ref: '#/parameters/p_fac_city'
        - $ref: '#/parameters/p_fac_zip'
        - $ref: '#/parameters/p_fac_county'
        - $ref: '#/parameters/p_case_summary'
        - $ref: '#/parameters/p_usmex'
        - $ref: '#/parameters/p_c1lat'
        - $ref: '#/parameters/p_c1lon'
        - $ref: '#/parameters/p_c2lat'
        - $ref: '#/parameters/p_c2lon'
        - $ref: '#/parameters/p_voluntary'
        - $ref: '#/parameters/p_fed_indicator'
        - $ref: '#/parameters/p_fntype'
        - $ref: '#/parameters/p_civil_criminal_indicator'
        - $ref: '#/parameters/queryset'
        - $ref: '#/parameters/responseset'
        - $ref: '#/parameters/maplist'
        - $ref: '#/parameters/tablelist'
        - $ref: '#/parameters/callback'
        - $ref: '#/parameters/qcolumns'
      responses:
        '200':
          description: Returns an array of cases that meet the selection criteria.
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: '#/definitions/crs2_Results'
            required:
              - Results
            type: object
      summary: Enforcement Case Search
      tags:
        - Case Enforcement
  /case_rest_services.get_crcase_report:
    get:
      description: The get_crcase_report service end point returns a complex object of criminal case detials based on the provided criminal case id.
      parameters:
        - description: Prosecution Summary Identifier. Enter the numeric prosecution summary identifier to retrieve the criminal case report.
          in: query
          name: p_id
          required: false
          type: string
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/callback'
      responses:
        '200':
          description: Returns a complex object containing detailed criminal case information for the provided Case Identifier.
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: '#/definitions/crs3_Results'
            required:
              - Results
            type: object
      summary: Enforcement Criminal Case Summary Report Search
      tags:
        - Case Enforcement
    post:
      description: The get_crcase_report service end point returns a complex object of criminal case detials based on the provided criminal case id.
      parameters:
        - description: Prosecution Summary Identifier. Enter the numeric prosecution summary identifier to retrieve the criminal case report.
          in: query
          name: p_id
          required: false
          type: string
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/callback'
      responses:
        '200':
          description: Returns a complex object containing detailed criminal case information for the provided Case Identifier.
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: '#/definitions/crs3_Results'
            required:
              - Results
            type: object
      summary: Enforcement Criminal Case Summary Report Search
      tags:
        - Case Enforcement
  /case_rest_services.get_download:
    get:
      description: 'Based on the QID obtained from a get_cases query, return a comma separated value (CSV) file of the cases found.'
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - CSV = Facility results formatted as comma delimited file download (default).
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/qid'
        - $ref: '#/parameters/qcolumns'
      responses:
        '200':
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Enforcement Case Download Data Service
      tags:
        - Case Enforcement
    post:
      description: 'Based on the QID obtained from a get_cases query, return a comma separated value (CSV) file of the cases found.'
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - CSV = Facility results formatted as comma delimited file download (default).
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/qid'
        - $ref: '#/parameters/qcolumns'
      responses:
        '200':
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Enforcement Case Download Data Service
      tags:
        - Case Enforcement
  /case_rest_services.get_map:
    get:
      description: 'The purpose of the GET_MAP service is to display facility coordinates and facility clusters related to a get_cases query. Currently, the maximum number of coordinates returned is 500. GET_MAP performs automatic clustering at the state, county, and zip code levels to maximize the number of coordinates returned.'
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/qid'
        - $ref: '#/parameters/callback'
        - $ref: '#/parameters/tablelist'
        - $ref: '#/parameters/c1_lat'
        - $ref: '#/parameters/c1_long'
        - $ref: '#/parameters/c2_lat'
        - $ref: '#/parameters/c2_long'
      responses:
        '200':
          description: 'Results are either an array of State, County, Zip Code facility cluster map coordinates or individual facility coordinates.  Coordinates provided are in WGS84.'
          schema:
            description: Service call container.
            properties:
              MapOutput:
                $ref: '#/definitions/crs0_MapOutput'
            required:
              - MapOutput
            type: object
      summary: Enforcement Case Map Service
      tags:
        - Case Enforcement
    post:
      description: 'The purpose of the GET_MAP service is to display facility coordinates and facility clusters related to a get_cases query. Currently, the maximum number of coordinates returned is 500. GET_MAP performs automatic clustering at the state, county, and zip code levels to maximize the number of coordinates returned.'
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/qid'
        - $ref: '#/parameters/callback'
        - $ref: '#/parameters/tablelist'
        - $ref: '#/parameters/c1_lat'
        - $ref: '#/parameters/c1_long'
        - $ref: '#/parameters/c2_lat'
        - $ref: '#/parameters/c2_long'
      responses:
        '200':
          description: 'Results are either an array of State, County, Zip Code facility cluster map coordinates or individual facility coordinates.  Coordinates provided are in WGS84.'
          schema:
            description: Service call container.
            properties:
              MapOutput:
                $ref: '#/definitions/crs0_MapOutput'
            required:
              - MapOutput
            type: object
      summary: Enforcement Case Map Service
      tags:
        - Case Enforcement
  /case_rest_services.get_qid:
    get:
      description: 'GET_QID is passed with a query ID corresponding to a previously run get_cases query. It then returns a CASES object containing all matching cases. The main purpose of GET_QID is for large querysets that contain multiple pages (responsesets) of output. GET_QID allows for pagination and for the selection and sorting of columns. '
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/qid'
        - $ref: '#/parameters/pageno'
        - $ref: '#/parameters/callback'
        - $ref: '#/parameters/newsort'
        - $ref: '#/parameters/descending'
        - $ref: '#/parameters/qcolumns'
      responses:
        '200':
          description: Results are an array (page)  of Cases from ICIS with the number of cases equal to the responseset (page size).
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: '#/definitions/crs5_Results'
            required:
              - Results
            type: object
      summary: Enforcement Case Paginated Results Service
      tags:
        - Case Enforcement
    post:
      description: 'GET_QID is passed with a query ID corresponding to a previously run get_cases query. It then returns a CASES object containing all matching cases. The main purpose of GET_QID is for large querysets that contain multiple pages (responsesets) of output. GET_QID allows for pagination and for the selection and sorting of columns. '
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/qid'
        - $ref: '#/parameters/pageno'
        - $ref: '#/parameters/callback'
        - $ref: '#/parameters/newsort'
        - $ref: '#/parameters/descending'
        - $ref: '#/parameters/qcolumns'
      responses:
        '200':
          description: Results are an array (page)  of Cases from ICIS with the number of cases equal to the responseset (page size).
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: '#/definitions/crs5_Results'
            required:
              - Results
            type: object
      summary: Enforcement Case Paginated Results Service
      tags:
        - Case Enforcement
  /case_rest_services.metadata:
    get:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_cases endpoint.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/callback'
      responses:
        '200':
          description: Results are an array of columns/objects.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/met_Results'
            required:
              - Results
            type: object
      summary: Enforcement Case Metadata Service
      tags:
        - Metadata
    post:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_cases endpoint.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/callback'
      responses:
        '200':
          description: Results are an array of columns/objects.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/met_Results'
            required:
              - Results
            type: object
      summary: Enforcement Case Metadata Service
      tags:
        - Metadata
  /rest_lookups.icis_law_sections:
    get:
      description: Returns the ICIS Law Section Descriptions.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/callback'
        - $ref: '#/parameters/statute_code'
        - $ref: '#/parameters/status_flag'
        - $ref: '#/parameters/search_term'
        - $ref: '#/parameters/search_code'
        - $ref: '#/parameters/sort_order'
      responses:
        '200':
          description: 'Returns an array of icis_inspection_types codes and their description. If search term or search code is  not provided, all values are returned.'
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk51_Results'
            required:
              - Results
            type: object
      summary: ECHO ICIS Law Sections Lookup Service
      tags:
        - Lookups
    post:
      description: Returns the ICIS Law Section Descriptions.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: '#/parameters/callback'
        - $ref: '#/parameters/statute_code'
        - $ref: '#/parameters/status_flag'
        - $ref: '#/parameters/search_term'
        - $ref: '#/parameters/search_code'
        - $ref: '#/parameters/sort_order'
      responses:
        '200':
          description: 'Returns an array of icis_inspection_types codes and their description. If search term or search code is  not provided, all values are returned.'
          schema:
            description: Root Object
            properties:
              Results:
                $ref: '#/definitions/rlk51_Results'
            required:
              - Results
            type: object
      summary: ECHO ICIS Law Sections Lookup Service
      tags:
        - Lookups
definitions:
  crs0_Cases:
    description: 'A summary of the violation(s), environmental problem(s), and a description of the cause of action.'
    properties:
      ActivityId:
        description: 'The unique, system-generated identifier for an activity performed at or related to a particular site or Facility.'
        example: '???'
        title: Activity ID
        type: string
      CaseCategoryCode:
        description: 'A three-character code that identifies the type of ICIS activity, which includes general categories such as information requests, inspections, compliance determinations, and enforcement.  Activities selected for the ECHO data download are restricted to two subcategories of enforcement:  administrative – formal (AFR), and judicial activities (JDC).'
        example: AIF
        title: Case Category Code
        type: string
      CaseCategoryDesc:
        description: |-
          Identifies the type of action based on the enforcement authority used.  

          Administrative Formal Cases are non-judicial enforcement actions taken by EPA or a state under its own authority, without involving a judicial court process. An administrative action by EPA or a state agency may be in the form of:
          - A notice of violation or a Superfund notice letter.
          -> An administrative order or order (either with or without penalties) directing an individual, a business, or other entity to take action to come into compliance, or to clean up a site.

          Judicial Cases are formal lawsuits, filed in court, against persons or entities that have failed to comply with statutory or regulatory requirements, with an administrative order, or who owe EPA response costs for cleaning up a Superfund site. These cases are filed by the U.S. Department of Justice on behalf of EPA and, in regulatory cases, by the State's Attorneys General for the states as well.

          Criminal Cases occur when EPA or a state enforce against a company or person through a criminal action. Criminal actions are usually reserved for the most serious violations, those that are willful, or knowingly committed. A court conviction can result in fines or imprisonment.
        example: Administrative - Informal
        title: Case Category Description
        type: string
      CaseName:
        description: |-
          A unique number identifying the enforcement action. For EPA civil cases, these numbers begin with either the two digit EPA Region Code, "HQ" (headquarters initiated cases), and "EF" or "WF" (Eastern or Western Field Office CAA Mobile Source Program cases); followed by the fiscal year in which the action was initiated. After the fiscal year there is a sequence number. State NPDES civil cases start with the two character post abbreviation, followed by a sequence number.
          For criminal cases, the ID was generated in ECHO based on the following format: CR [prosecution_summary_id]. The source of the Prosecution Summary ID is the Summary of Criminal Prosecutions database.
        example: Baltes Real Estate Company
        title: Case Name
        type: string
      CaseNumber:
        description: 'A unique number identifying the enforcement action. For EPA civil cases, these numbers begin with either the two digit EPA Region Code, "HQ" (headquarters initiated cases), and "EF" or "WF" (Eastern or Western Field Office CAA Mobile Source Program cases); followed by the fiscal year in which the action was initiated. After the fiscal year there is a sequence number. State NPDES civil cases start with the two character post abbreviation, followed by a sequence number.'
        example: 05-200021274
        title: Case Number
        type: string
      CaseStatusCode:
        description: Code identifying the current status of an activity.
        example: ACH
        title: Case Status Code
        type: string
      CaseStatusDesc:
        description: The description that identifies the current status of an activity.
        example: Achieved
        title: Case Status Description
        type: string
      CivilCriminalIndicator:
        description: Civil vs. Criminal Indicator.
        example: CI
        title: Civil/Criminal Indicator
        type: string
      CostRecovery:
        description: 'For civil enforcement actions, cost recovery awarded is the amount of cost recovery ordered or agreed to be repaid by the responsible party of parties.'
        example: '0'
        title: Cost Recovery Amount
        type: string
      DOJDocketNmbr:
        description: The docket number assigned by the Department of Justice to EPA's Enforcement Action.  This number will identify cases in the Federal Register and in DOJ press releases when a settlement is lodged and entered.
        example: Achieved
        title: DOJ Docket Number
        type: string
      DateClosed:
        description: 'The date the actions requested in the final order have been completed by the recipient; or the termination date of the final order (if such a date is specified) has passed; or the enforcement action has been withdrawn or dismissed; or the enforcement action has been superseded by, or combined into, another related enforcement action addressing the same violations.'
        example: 07/21/2011
        title: Date Closed
        type: string
      DateFiled:
        description: The filed/issued date can have different meanings depending on the Case Category. The date the judicial complaint is filed in U.S. District Court by the U.S. Attorney. The date that an administrative order is issued or the administrative complaint is filed.
        example: 01/19/2005
        title: Date Filed
        type: string
      DateLodged:
        description: 'The date a proposed consent decree is given to the Clerk of the Court for lodging in the District Court.  Upon lodging a consent decree, a notice is published in the Federal Register indicating nature of the proposed settlement and the acceptance period for public comments.'
        example: 04/28/2009
        title: Date Lodged
        type: string
      EnfOutcome:
        description: The result of the enforcement action.
        example: Final Order With Penalty
        title: Enforcement Outcome
        type: string
      FedPenalty:
        description: 'For civil judicial Enforcement Actions, this amount is the Federal penalty assessed against the defendant(s) as specified in the final entered Consent Decree or Court Order.  For administrative Enforcement Actions, it is the penalty assessed in the Consent/Final Order.  It does not include the amount of the penalty mitigated due to a SEP or the amount shared with the state or local entities.  Interest payments associated with a penalty paid over time are not to be included in this amount.  It is the total Federal amount for each Final Order.'
        example: '$3,000.00'
        title: Federal Penalty
        type: string
      Lead:
        description: 'The lead agency (e.g., EPA, State) conducting the inspection'
        example: EPA
        title: Lead Agency
        type: string
      MaxScore:
        description: '[Col. 121]'
        example: '1'
        title: Max Score
        type: string
      PrimaryLaw:
        description: 'Identifies the primary statute/law violated and cited in the enforcement action. Many of EPA''s judicial actions are based on incidents that are violations of more than one statute. One law entered into the ICIS record is designated the primary law, which is considered the law that is most seriously violated and/or for which the most significant relief is sought.'
        example: TSCA
        title: Primary Law Cited
        type: string
      PrimaryNAICSCode:
        description: 'A 6-digit code to classify industrial establishments, as identified in FRS. North American Industry Classification System (NAICS) has replaced the U.S. Standard Industrial Classification (SIC) system. For detailed information about NAICS, please refer to the U.S. Census Bureau NAICS webpage.'
        example: '237310'
        title: Primary NAICS Code
        type: string
      PrimarySICCode:
        description: 'The Standard Industrial Classification (SIC) system code of the facility, as identified in FRS. SIC codes were established by the Census Bureau to identify processes, products and services. The SIC code describes the primary activity of the facility. The first two digits in the code define a major business sector; the last two digits denote a facility''s specialty within the major sector.'
        example: '1220'
        title: Primary SIC Code
        type: string
      PrimarySection:
        description: Identifies the primary section violated and cited in the enforcement action.
        example: '409'
        title: Primary Section Cited
        type: string
      ProsecutionSummaryId:
        description: Prosecution Summary Identifier.
        title: Prosecution Summary ID
        type: string
      SEPCategories:
        description: |-
          For civil enforcement actions, as part of a settlement, a defendant may voluntarily agree to undertake an environmentally beneficial project (Supplement Environmental Project) related to the violation in exchange for mitigation of the penalty to be paid.  It may not include activities a defendant must take to return to compliance with the law. The EPA has set out eight categories that can be acceptable SEPs:
          - Public Health
          - Pollution Prevention
          - Pollution Reduction
          - Environmental Restoration and Protection
          - Emergency Planning and Preparedness
          - Assessments and Audits
          - Environmental Compliance Promotion
          - Other Types of Projects
          Descriptions of each SEP category can be found on the EPA Supplemental Environmental Projects page.
        example: '0'
        title: Supplemental Environmental Projects Categories
        type: string
      SEPCost:
        description: The total value of all SEPs for all settlements at the enforcement case.
        example: '$4,100.00'
        title: Supplemental Environmental Projects Cost
        type: string
      SEPTexts:
        description: A description of the SEP. These actions do not include activities a violator must take to return to compliance with the law.
        example: '0'
        title: Supplemental Environmental Projects Texts
        type: string
      SettlementCnt:
        description: 'For civil enforcement actions, the number of settlements associated with the case. Most enforcement actions tend to follow a one-case, one-settlement scenario. However, and in particular with judicial actions involving multiple defendants, more than one settlement may result.'
        example: '1'
        title: Settlement Count
        type: string
      SettlementDate:
        description: 'For federal judicial actions, this is the date the settlement document is signed by the presiding judge and entered by the Clerk of the Court. At that point, the settlement becomes a binding court order. For administrative actions, this is the date that the final order is signed and issued by the enforcement authority.'
        example: 05/5/2005
        title: Settlement Date
        type: string
      StateLocPenaltyAmt:
        title: State Local Penalty Amount
        type: string
      TotalCompActionAmt:
        description: 'For civil enforcement actions, the value of the costs incurred by the defendant/respondent to attain compliance with the law and restore the environment. This value does not include penalties, cost recovery, or costs associated with SEPs.'
        example: '279450'
        title: Total Compliance Action Amount
        type: string
      TribalLandFlag:
        description: Flag indicating if the case is located on tribal land.
        title: Tribal Land Flag
        type: string
    required:
      - CaseNumber
      - CaseName
      - CaseCategoryCode
      - CaseCategoryDesc
      - CaseStatusCode
      - CaseStatusDesc
      - DOJDocketNmbr
      - PrimaryLaw
      - PrimarySection
      - DateFiled
      - SettlementDate
      - FedPenalty
      - SEPCost
      - PrimaryNAICSCode
      - PrimarySICCode
      - ActivityId
      - TotalCompActionAmt
      - SettlementCnt
      - TribalLandFlag
      - ProsecutionSummaryId
      - CivilCriminalIndicator
      - DateLodged
      - DateClosed
      - EnfOutcome
      - CostRecovery
      - Lead
      - StateLocPenaltyAmt
      - SEPCategories
      - SEPTexts
      - MaxScore
    type: object
    xml:
      name: Case
  crs0_MapData:
    description: Data container providing locational information for each case.
    properties:
      ICON:
        description: Name of each individual icon file within the URL base
        example: CAA-IC-MN-N.png
        title: Icon
        type: string
      LAT:
        description: 'The latitude of the facility in degrees, to four decimal places'
        example: '38.798026'
        title: Latitude
        type: string
      LON:
        description: 'The longitude of the facility in degrees, to four decimal places'
        example: '-77.062981'
        title: Longitude
        type: string
      NAME:
        description: 'For DFR, this is the Facility name. The name corresponds to the TYPE value'
        example: VIRGINIA CONCRETE ALEXANDRIA PLANT
        title: Name
        type: string
      PUV:
        description: Pop up value. Combine with PopUpBaseURL to give the popup for the facility
        example: '110001891506'
        title: Popup Value
        type: string
      TYPE:
        description: 'For DFR, this is always facility'
        example: Facility
        title: Type
        type: string
    required:
      - LAT
      - LON
      - ICON
      - TYPE
      - NAME
      - PUV
    type: object
  crs0_MapOutput:
    description: Data container for visualizing case information.
    properties:
      IconBaseURL:
        description: URL where all the icons are located
        example: 'https://echo.epa.gov/app/map/icons/'
        title: Icon Base URL
        type: string
      MapData:
        items:
          $ref: '#/definitions/crs0_MapData'
        title: Map Data
        type: array
      PopUpBaseURL:
        description: Combine this URL with the PUC to get popup info
        example: 'https://ofmpub.epa.gov/echo/cwa_rest_services.pop_up?p_id='
        title: Popup Base URL
        type: string
      QueryID:
        description: Sequential number assigned to entire search result
        example: '245'
        title: Query Identifier
        type: string
    required:
      - QueryID
      - IconBaseURL
      - PopUpBaseURL
      - MapData
    type: object
  crs1_CAEDDocuments:
    properties:
      Dummy:
        type: string
    type: object
  crs1_CaseInformation:
    description: 'The basic information section contains information that identifies the action and some key descriptive variables, such as case status and case type.'
    properties:
      Branch:
        description: The Branch or Unit of the Office of Regional Counsel assigned for the case.
        title: Branch
        type: string
      CaseName:
        description: |-
          A unique number identifying the enforcement action. For EPA civil cases, these numbers begin with either the two digit EPA Region Code, "HQ" (headquarters initiated cases), and "EF" or "WF" (Eastern or Western Field Office CAA Mobile Source Program cases); followed by the fiscal year in which the action was initiated. After the fiscal year there is a sequence number. State NPDES civil cases start with the two character post abbreviation, followed by a sequence number.
          For criminal cases, the ID was generated in ECHO based on the following format: CR [prosecution_summary_id]. The source of the Prosecution Summary ID is the Summary of Criminal Prosecutions database.
        example: Baltes Real Estate Company
        title: Case Name
        type: string
      CaseNumber:
        description: 'A unique number identifying the enforcement action. For EPA civil cases, these numbers begin with either the two digit EPA Region Code, "HQ" (headquarters initiated cases), and "EF" or "WF" (Eastern or Western Field Office CAA Mobile Source Program cases); followed by the fiscal year in which the action was initiated. After the fiscal year there is a sequence number. State NPDES civil cases start with the two character post abbreviation, followed by a sequence number.'
        example: 05-200021274
        title: Case Number
        type: string
      CaseStatus:
        description: The status of the compliance event or enforcement action.
        example: Closed
        title: Case Status
        type: string
      CaseStatusDate:
        description: The date of the most recent milestone activity.
        example: 08/12/1988
        title: Case Status Date
        type: string
      CaseSummary:
        description: The summary of the violation environmental problem and a description of the cause of action (basis of legal action).  The summary could be extracted from the referral transmission memo or letter or it could be required as the first section of a revised standardized referral document.
        title: Case Summary
        type: string
      CaseType:
        description: The unique code that identifies a type of compliance event or enforcement action.
        example: AFR
        title: Case Type
        type: string
      DOJDocketNumber:
        description: The docket number assigned by the Department of Justice to EPA's Enforcement Action.
        title: DOJ Docket Number
        type: string
      EnforcementOutcome:
        description: A description of the mechanism by which the Enforcement Action is resolved.
        example: Source Agrees
        title: Enforcement Outcome
        type: string
      EnforcementType:
        description: A text description of the Enforcement Action type.
        example: Formal
        title: Enforcement Type
        type: string
      HeadquartersDivision:
        description: The EPA Headquarters division that is tracking the case.
        example: CER
        title: Headquarters Division
        type: string
      Lead:
        description: 'The lead agency (e.g., EPA, State) conducting the inspection'
        example: EPA
        title: Lead Agency
        type: string
      MultiMediaCase:
        description: The flag indicating whether the activity was a multimedia action.
        example: 'No'
        title: Multimedia Action Flag
        type: string
      RegionalDocketNumber:
        description: 'The number the Clerk of the Court assigns to a case that is filed or to a consent decree when it is lodged.  For administrative cases, it is the number assigned to the case by the Regional Hearing Clerk.'
        example: III-88-40-DC
        title: Regional Docket Number
        type: string
      ReliefSought:
        description: The description for the type of relief requested in the complaint.
        title: Relief Sought
        type: string
      ResultVolDisclosure:
        description: A flag that indicates the Enforcement Action was the result of a self disclosure.
        example: 'No'
        title: Result of Voluntary Disclosure Flag
        type: string
      TotalComplianceActionCost:
        description: 'The estimated dollar value of injunctive relief and other physical/nonphysical costs of returning to compliance, from all settlements at a case. Injunctive relief represents the actions a defendant is ordered to undertake to achieve and maintain compliance, such as installing a new pollution control device to reduce air pollution, or preventing emissions of a pollutant in the first place.'
        example: $288
        title: Total Compliance Action Cost
        type: string
      TotalCostRecovery:
        description: 'The amount of the cost recovery ordered or agreed to be repaid by the responsible parties, cost recovery whole dollar amount awarded by the Court and due the the Superfund. For administrative cases, it is the cost recovery whole dollar amount of the Final Order.'
        example: '$6,598'
        title: Total Cost Recovery
        type: string
      TotalFederalPenalty:
        description: 'For civil judicial enforcement actions, this amount is the federal penalty assessed against the defendant(s)� as specified in the final entered Consent Decree or Court Order. For administrative enforcement actions, it is the penalty assessed in the Consent/Final Order. It does not include the amount of the penalty mitigated due to a SEP or the amount shared with the state or local entities. Interest payments associated with a penalty paid over time are not included in this amount.'
        example: '$13,210'
        title: Total Federal Penalty
        type: string
      TotalSEPCost:
        description: The total value of all SEPs for all settlements at the enforcement case.
        title: Total Supplemental Environmental Projects Cost
        type: string
      TotalStatePenalty:
        description: The total dollar penalty amount from all settlements to be paid to a state or local enforcement authority that is party to a concluded enforcement action.
        title: Total State Penalty
        type: string
      Violations:
        description: '???'
        example: General Facility Requirements
        title: Violations
        type: string
    required:
      - CaseNumber
      - CaseName
      - CaseType
      - CaseStatus
      - CaseStatusDate
      - RegionalDocketNumber
      - DOJDocketNumber
      - Lead
      - ReliefSought
      - EnforcementOutcome
      - HeadquartersDivision
      - Branch
      - ResultVolDisclosure
      - MultiMediaCase
      - EnforcementType
      - TotalFederalPenalty
      - TotalStatePenalty
      - TotalSEPCost
      - TotalComplianceActionCost
      - TotalCostRecovery
      - CaseSummary
      - Violations
    type: object
    xml:
      name: CaseInformation
  crs1_CaseMilestones:
    description: The major milestone events tracked for the enforcement action.
    properties:
      ActualDate:
        description: The actual date on which the event was completed/achieved.
        example: 08/12/1988
        type: string
      Event:
        description: Identifies a major judicial or administrative enforcement action milestone.
        example: Enforcement Action Data Entered
        title: Event
        type: string
    required:
      - Event
      - ActualDate
    type: object
    xml:
      name: CaseMilestone
  crs1_Citations:
    description: The corresponding regulation in the Code of Federal Regulations (CFR) or U.S. Code (U.S.C.) associated with the enforcement action.
    properties:
      Programs:
        description: 'A description of the EPA program(s) under which an enforcement action has been taken, and which correspond to the cited statutes and sections.'
        example: Imminent & Substantial Endangerment Order
        title: Programs
        type: string
      Sections:
        description: '???'
        example: '106'
        title: Sections
        type: string
      Title:
        description: The title held by a person in an organization.
        example: 40CFR
        title: Title
        type: string
    required:
      - Title
      - Sections
      - Programs
    type: object
    xml:
      name: Citation
  crs1_ComplianceSchedules:
    description: This section provides compliance schedule milestone activity information for a subset of EPA judicial consent decrees with compliance schedules.
    properties:
      ActualDate:
        description: The actual date on which the Compliance Schedule event was completed/achieved.
        example: 08/12/1988
        type: string
      EventAmount.ComplianceSchedules:
        description: The dollar amount of a scheduled payment initiated through a penalty action or a cost recovery pursuant to a Final Order.
        type: string
      FacilityFRSID:
        description: The number assigned by the Facility Linkage Application that is used to associate facility records from multiple environmental database systems that are known or believed to represent the same facility.
        title: Facility FRS ID
        type: string
      ScheduleCommentText:
        description: The free-text field used to store descriptive Compliance Schedule information.
        title: Schedule Comment Text
        type: string
      ScheduleDate:
        description: The date the event is scheduled to be completed (i.e. the due date).
        title: Schedule Date
        type: string
      ScheduleEventDescription:
        description: The description of the particular event with which the permittee is scheduled to comply.
        title: Schedule Event Description
        type: string
      ScheduleNumber:
        description: A two-digit number which in combination with the Schedule Type and NPDES ID uniquely identifies a Compliance Schedule.
        title: Schedule Number
        type: string
    required:
      - FacilityFRSID
      - ScheduleNumber
      - ScheduleCommentText
      - ScheduleEventDescription
      - ScheduleDate
      - ActualDate
      - EventAmount.ComplianceSchedules
    type: object
    xml:
      name: ComplianceSchedule
  crs1_ComplyingActions:
    description: 'For civil enforcement actions, the value of the costs incurred by the defendant/respondent to attain compliance with the law and restore the environment. This value does not include penalties, cost recovery, or costs associated with SEPs.'
    properties:
      ComplyingActionCategory:
        description: 'The category (i.e., Direct Environmental Reduction, Preventative, or Facility Management or Information Practice) to which a Complying Action belongs.'
        example: Direct Environmental Reduction
        title: Complying Action Category
        type: string
      ComplyingActionDescription:
        description: A text description of the type of the requirements obliging the defendant/respondent to take or refrain from certain actions.
        example: Migrated Industrial/Municipal Process Change (Includes Flow Reduction)
        title: Complying Action Description
        type: string
      ComplyingActionId:
        description: The unique identifier for an enforceable requirement obliging the defendant/respondent to take or refrain from certain specified actions.
        example: '2600823911'
        title: Complying Action ID
        type: string
      ComplyingActionType:
        description: A code that uniquely identifies the requirements obliging the defendant/respondent to take or refrain from certain actions.
        example: IPC
        title: Complying Action Type
        type: string
    required:
      - ComplyingActionId
      - ComplyingActionType
      - ComplyingActionDescription
      - ComplyingActionCategory
    type: object
    xml:
      name: ComplyingAction
  crs1_Defendants:
    description: This section lists each defendant's name and whether the defendant was named in the complaint and/or in the settlement.
    properties:
      DefendantName:
        description: 'The name of the defendant, or respondent associated with the Enforcement Action.'
        example: AMERICAN CYANAMID COMPANY
        title: Defendant Name
        type: string
      NamedInComplaint:
        description: A flag that indicates whether the Defendant or Respondent was named in the filed complaint.
        example: 'Y'
        title: Named In Complaint Flag
        type: string
      NamedInSettlement:
        description: A flag that indicates whether the Defendant or Respondent was named in the Final Order.
        example: 'N'
        title: Named in Settlement Flag
        type: string
    required:
      - DefendantName
      - NamedInComplaint
      - NamedInSettlement
    type: object
    xml:
      name: Defendant
  crs1_EnforcementConclusions:
    description: 'This section contains information about the conclusion(s) of the civil enforcement case, where it resulted in an order, consent decree, or other enforceable settlement.'
    properties:
      ActualTerminationDate:
        description: The date on which the Final Order was terminated.
        type: string
      ComplianceActionCost:
        description: The total value of all SEPs for all settlements at the enforcement case.
        example: '$279,450'
        title: Compliance Action Cost
        type: string
      ComplianceSchedules:
        items:
          $ref: '#/definitions/crs1_ComplianceSchedules'
        title: Compliance Schedules
        type: array
      ComplyingActions:
        items:
          $ref: '#/definitions/crs1_ComplyingActions'
        title: Complying Actions
        type: array
      CostRecovery:
        description: 'For civil enforcement actions, cost recovery awarded is the amount of cost recovery ordered or agreed to be repaid by the responsible party of parties.'
        example: '0'
        title: Cost Recovery Amount
        type: string
      EnforcementActionClosedDate:
        description: 'The date the actions requested in the final order have been completed by the recipient; or the termination date of the final order (if such a date is specified) has passed; or the enforcement action has been withdrawn or dismissed; or the enforcement action has been superseded by, or combined into, another related enforcement action addressing the same violations.'
        example: 07/21/2011
        title: Enforcement Action Closed Date
        type: string
      EnforcementConclusionId:
        description: The system-generated unique identifier of the Final Order to which the Compliance Action belongs.
        example: '2600006100'
        title: Enforcement Conclusion ID
        type: string
      EnforcementConclusionName:
        description: The name of a Final Order associated with an Enforcement Action as assigned by the Lead EPA Attorney for federal actions.
        example: 4 J International
        title: Enforcement Conclusion Name
        type: string
      EnforcementConclusionType:
        description: A description of the enforcement instrument used by EPA to settle the case.
        example: Administrative Penalty Order With or Without Injunctive Relief
        title: Enforcement Conclusion Type
        type: string
      FacilitiesInSettlement:
        description: 'The unique identification number assigned to a facility in the Facility Registry Service (FRS), for each facility included in the settlement.'
        example: '110001928317'
        title: Facilities in Settlement
        type: string
      FederalPenalty:
        description: 'For civil judicial Enforcement Actions, this amount is the Federal penalty assessed against the defendant(s) as specified in the final entered Consent Decree or Court Order.  For administrative Enforcement Actions, it is the penalty assessed in the Consent/Final Order.  It does not include the amount of the penalty mitigated due to a SEP or the amount shared with the state or local entities.  Interest payments associated with a penalty paid over time are not to be included in this amount.  It is the total Federal amount for each Final Order.'
        example: '$65,000.00'
        title: Federal Penalty
        type: string
      FinalOrderStatuses:
        items:
          $ref: '#/definitions/crs1_FinalOrderStatuses'
        title: |
          Final Order Statuses
        type: array
      PollutantReductions:
        items:
          $ref: '#/definitions/crs1_PollutantReductions'
        title: Pollutant Reductions
        type: array
      SEPCost:
        description: The total value of all SEPs for all settlements at the enforcement case.
        example: '$4,100.00'
        title: Supplemental Environmental Projects Cost
        type: string
      SettlementEnteredDate:
        description: 'The civil case date the Final Order is signed by the presiding Judge and entered by the Clerk of the Court; it is the date the Clerk stamps on the document.  For an Administrative Formal EA, this is the Final Order Issued Date; for a Judicial EA, this is the Final Order Entered Date.'
        example: 07/09/2011
        title: Settlement Entered Date
        type: string
      SettlementLodgedDate:
        description: The date the settlement document is given to the Clerk of the Court for lodging in the District Court; it is the date the Clerk stamps on the document. (Federal Judicial EAs only).
        title: Settlement Lodged Date
        type: string
      StatePenalty:
        description: The dollar penalty amount to be paid to a state or local enforcement authority that is party to a concluded enforcement action.
        example: '$43,000.00'
        title: State Penalty
        type: string
      SupplementalEnvironmentalProjects:
        items:
          $ref: '#/definitions/crs1_SupplementalEnvironmentalProjects'
        title: Supplemental Environmental Projects
        type: array
    required:
      - EnforcementConclusionId
      - EnforcementConclusionType
      - EnforcementConclusionName
      - FacilitiesInSettlement
      - SettlementEnteredDate
      - SettlementLodgedDate
      - FederalPenalty
      - StatePenalty
      - SEPCost
      - ComplianceActionCost
      - EnforcementActionClosedDate
      - ActualTerminationDate
      - CostRecovery
      - PollutantReductions
      - FinalOrderStatuses
      - ComplianceSchedules
      - ComplyingActions
      - SupplementalEnvironmentalProjects
    type: object
    xml:
      name: EnforcementConclusion
  crs1_Facilities:
    description: This section provides detailed facility and address information on all of the facilities associated with the civil enforcement case.
    properties:
      FRSNumber:
        description: The identification number assigned to a facility in the�Facility Registry Service (FRS)�to uniquely identify a facility site.
        example: '110007875353'
        title: FRS Number
        type: string
      FacilityAddress:
        description: 'The address that describes the physical (geographic) location of the front door or main entrance of a Facility site, including urban-style street address or rural address.'
        example: WEST 19TH STREET
        title: Facility Address
        type: string
      FacilityCity:
        description: The city in which the facility is located
        example: DECATUR
        title: Facility City
        type: string
      FacilityName:
        description: The name of the facility.
        example: 3M COMPANY
        title: Facility Name
        type: string
      FacilityState:
        description: The state in which the facility is located
        example: AL
        title: Facility State
        type: string
      FacilityZip:
        description: The zip code of the area in which the facility is located
        example: '35609'
        title: Facility Zipcode
        type: string
      NAICSCodes:
        description: 'A 6-digit code to classify industrial establishments. For detailed information about NAICS, please refer to the U.S. Census Bureau�NAICS�webpage.'
        title: NAICS Codes
        type: string
      SICCodes:
        description: The Standard Industrial Classification codes applicable to the facility
        example: 2821 2869 2873
        title: SIC Codes
        type: string
    required:
      - FRSNumber
      - FacilityName
      - FacilityAddress
      - FacilityCity
      - FacilityState
      - FacilityZip
      - SICCodes
      - NAICSCodes
    type: object
    xml:
      name: Facility
  crs1_FinalOrderStatuses:
    description: This section provides the compliance status for a subset of EPA judicial consent decrees with compliance schedules requiring more than three years to complete.
    properties:
      FiscalYear:
        description: The fiscal year in which the activity occurred.
        example: '2004'
        title: Fiscal Year
        type: string
      Q1StatusDescription:
        description: The relevant status for the quarter.
        title: Quarter 1 Status Description
        type: string
      Q2StatusDescription:
        description: The relevant status for the quarter.
        title: Quarter 2 Status Description
        type: string
      Q3StatusDescription:
        description: The relevant status for the quarter.
        title: Quarter 3 Status Description
        type: string
      Q4StatusDescription:
        description: The relevant status for the quarter.
        title: Quarter 4 Status Description
        type: string
    required:
      - FiscalYear
      - Q4StatusDescription
      - Q3StatusDescription
      - Q2StatusDescription
      - Q1StatusDescription
    type: object
    xml:
      name: FinalOrderStatus
  crs1_LawsAndSections:
    description: Identifies the statute/law and sections cited in the enforcement action.
    properties:
      Law:
        description: Code for the primary and non-primary laws that were violated.
        example: CERCLA
        title: Law
        type: string
      Programs:
        description: 'A description of the EPA program(s) under which an enforcement action has been taken, and which correspond to the cited statutes and sections.'
        example: Imminent & Substantial Endangerment Order
        title: Programs
        type: string
      Sections:
        description: '???'
        example: '106'
        title: Sections
        type: string
    required:
      - Law
      - Sections
      - Programs
    type: object
    xml:
      name: LawAndSections
  crs1_PollutantReductions:
    description: This section provides information relating complying actions and SEPs to their estimated or actual environmental impact on pollutant reduction.
    properties:
      AnnualAmount:
        description: 'The amount of reduction or elimination of each pollutant or waste in pounds, kilograms, or liquid measure that resulted from the SEP or Complying Actions.'
        example: '61,802'
        type: string
      ComplyingActionId:
        description: The unique identifier for an enforceable requirement obliging the defendant/respondent to take or refrain from certain specified actions.
        example: '2600823911'
        title: Complying Action ID
        type: string
      EnvironmentalImpactId:
        description: The system-generated unique identifier of the Environmental Impact record.
        example: '2600004336'
        title: Environmental Impact ID
        type: string
      Media:
        description: The name/description of the media where the pollutants or waste were emitted/discharged.
        example: Air
        title: Pollutant Media
        type: string
      Pollutant:
        description: 'The name that EPA has selected as its preferred name for a substance (also known as registry name). If the registry name is not available, use the systematic name instead.'
        example: Carbon monoxide
        title: Pollutant
        type: string
      SEPId:
        description: The system-generated unique identifier of the SEP record affiliated with the Environmental Impact.
        title: Supplemental Environmental Projects ID
        type: string
      SEPorComp:
        description: A flag that indicates whether the quantitative environmental impact pertains to a SEP or Complying Action.
        example: C
        type: string
      Units:
        description: A code that uniquely identifies the pollutant unit of measurement.
        example: PNDSYR
        title: Units
        type: string
    required:
      - ComplyingActionId
      - EnvironmentalImpactId
      - SEPId
      - Pollutant
      - AnnualAmount
      - Units
      - Media
      - SEPorComp
    type: object
    xml:
      name: PollutantReduction
  crs1_Pollutants:
    description: 'The common name identifying the pollutant, waste material, substance, or chemical reduced.'
    properties:
      ChemicalAbstractNumber:
        description: This is the unique number assigned to a chemical substance by the Chemical Abstracts Service.
        title: Chemical Abstract Number
        type: string
      PollutantName:
        description: The name designating the waste material substance or chemical involved at the facility that has a Quantitative Environmental Impact addressed in the SEP or Complying Actions.
        example: NONE
        title: Pollutant Name
        type: string
    required:
      - PollutantName
      - ChemicalAbstractNumber
    type: object
    xml:
      name: Pollutant
  crs1_ProgramLinks:
    description: Crosswalk between programs and facilities (identified by FRS ID).
    properties:
      FRSNumber:
        description: The identification number assigned to a facility in the�Facility Registry Service (FRS)�to uniquely identify a facility site.
        example: '110007875353'
        title: FRS Number
        type: string
      Program:
        description: The source database for the EPA programs information.
        example: CWA
        title: Program
        type: string
      ProgramID:
        description: Unique identifier for the EPA program.
        example: '38957'
        title: Program ID
        type: string
    required:
      - FRSNumber
      - Program
      - ProgramID
    type: object
    xml:
      name: ProgramLink
  crs1_RelatedActivities:
    description: 'This section provides an Activity Type description and date for other ICIS activities (e.g., inspections, or compliance assistance) that are linked to the enforcement action.'
    properties:
      ActualDate:
        description: The actual date on which the event was completed/achieved.
        example: 08/12/1988
        type: string
      Description:
        description: A description of the category of Supplemental Environment Project (SEP) for a settlement.
        title: Description
        type: string
    required:
      - Description
      - ActualDate
    type: object
    xml:
      name: RelatedActivity
  crs1_Results:
    description: The data returned by the service call.
    properties:
      CAEDDocuments:
        items:
          $ref: '#/definitions/crs1_CAEDDocuments'
        type: array
      CaseInformation:
        $ref: '#/definitions/crs1_CaseInformation'
      CaseMilestones:
        items:
          $ref: '#/definitions/crs1_CaseMilestones'
        title: Case Milestones
        type: array
      Citations:
        items:
          $ref: '#/definitions/crs1_Citations'
        title: Citations
        type: array
      Defendants:
        items:
          $ref: '#/definitions/crs1_Defendants'
        title: Defendants
        type: array
      EnforcementConclusions:
        items:
          $ref: '#/definitions/crs1_EnforcementConclusions'
        title: Enforcement Conclusions
        type: array
      Facilities:
        items:
          $ref: '#/definitions/crs1_Facilities'
        title: Facilities
        type: array
      LawsAndSections:
        items:
          $ref: '#/definitions/crs1_LawsAndSections'
        title: Laws And Sections
        type: array
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
      Pollutants:
        items:
          $ref: '#/definitions/crs1_Pollutants'
        title: Pollutants
        type: array
      ProgramLinks:
        items:
          $ref: '#/definitions/crs1_ProgramLinks'
        title: Program Links
        type: array
      RelatedActivities:
        description: 'This section provides an Activity Type description and date for other ICIS activities (e.g., inspections, or compliance assistance) that are linked to the enforcement action.'
        items:
          $ref: '#/definitions/crs1_RelatedActivities'
        title: Related Activities
        type: array
    required:
      - Message
      - CaseInformation
      - LawsAndSections
      - Citations
      - ProgramLinks
      - Facilities
      - Defendants
      - CaseMilestones
      - Pollutants
      - RelatedActivities
      - EnforcementConclusions
      - CAEDDocuments
    type: object
  crs1_SupplementalEnvironmentalProjects:
    description: 'As part of a settlement, a defendant may voluntarily agree to undertake an environmentally beneficial project (Supplement Environmental Project) related to the violation in exchange for mitigation of the penalty to be paid. It does not include activities a defendant must take to return to compliance with the law. A single settlement may have multiple SEPs.'
    properties:
      Category:
        description: 'A code that uniquely identifies a category of Supplemental Environment Project (SEP) for a settlement (e.g., Assessments and Audits, Environmental Compliance Promotion, Emergency Planning and Preparedness, Environmental Restoration).'
        title: Category
        type: string
      Description:
        description: A description of the category of Supplemental Environment Project (SEP) for a settlement.
        title: Description
        type: string
      SEPAmount:
        description: 'The cost applied to the type(s) of environmentally beneficial projects which a defendant/respondent agree to undertake in settlement of an enforcement action, but which the defendant/respondent is not otherwise legally required to perform.'
        title: Supplemental Environmental Projects Amount
        type: string
      SEPId:
[...]
