swagger: '2.0'
info:
  version: '2019-12-02'
  x-release: v4
  title: EC2 Image Builder
  description: ' Amazon Elastic Compute Cloud Image Builder provides a one-stop-shop to automate the image management processes. You configure an automated pipeline that creates images for use on AWS. As software updates become available, Image Builder automatically produces a new image based on a customizable schedule and distributes it to stipulated AWS Regions after running tests on it. With the Image Builder, organizations can capture their internal or industry-specific compliance policies as a vetted template that can be consistently applied to every new image. Built-in integration with AWS Organizations provides customers with a centralized way to enforce image distribution and access policies across their AWS accounts and Regions. Image Builder supports multiple image format AMIs on AWS.'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: imagebuilder
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/imagebuilder-2019-12-02.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/imagebuilder/'
host: imagebuilder.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://imagebuilder.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The imagebuilder multi-region endpoint
  - url: 'https://imagebuilder.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The imagebuilder multi-region endpoint
  - url: 'http://imagebuilder.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The imagebuilder endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://imagebuilder.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The imagebuilder endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /CancelImageCreation:
    put:
      operationId: CancelImageCreation
      description: CancelImageCreation cancels the creation of Image. This operation may only be used on images in a non-terminal state.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelImageCreationResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '485':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '486':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
        '487':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - imageBuildVersionArn
              - clientToken
            properties:
              imageBuildVersionArn:
                description: The Amazon Resource Name (ARN) of the image whose creation you wish to cancel.
                type: string
                pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):image/[a-z0-9-_]+/\d+\.\d+\.\d+/\d+$'
              clientToken:
                description: The idempotency token used to make this request idempotent.
                type: string
                minLength: 1
                maxLength: 36
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /CreateComponent:
    put:
      operationId: CreateComponent
      description: 'Creates a new component that can be used to build, validate, test and assess your image.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateComponentResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '485':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '486':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
        '487':
          description: InvalidVersionNumberException
          schema:
            $ref: '#/definitions/InvalidVersionNumberException'
        '488':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '489':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - name
              - semanticVersion
              - platform
              - clientToken
            properties:
              name:
                description: The name of the component.
                type: string
                pattern: '^[-_A-Za-z-0-9][-_A-Za-z0-9 ]{1,126}[-_A-Za-z-0-9]$'
              semanticVersion:
                description: The semantic version of the component. This version to follow the semantic version syntax. i.e. major.minor.patch. This could be versioned like software 2.0.1 or date like 2019.12.01.
                type: string
                pattern: '^[0-9]+\.[0-9]+\.[0-9]+$'
              description:
                description: CThe description of the component. Describes the contents of the component.
                type: string
                minLength: 1
                maxLength: 1024
              changeDescription:
                description: CThe change description of the component. Describes what change has been made in this version. In other words what makes this version different from other versions of this component.
                type: string
                minLength: 1
                maxLength: 1024
              platform:
                description: CThe platform of the component.
                type: string
                enum:
                  - Windows
                  - Linux
              data:
                description: CThe data of the component.
                type: string
                minLength: 1
                maxLength: 16000
              uri:
                description: CThe uri of the component.
                type: string
              kmsKeyId:
                description: The ID of the KMS key that should be used to encrypt this component.
                type: string
                minLength: 1
                maxLength: 1024
              tags:
                description: CThe tags of the component.
                type: object
                minProperties: 1
                maxProperties: 50
                additionalProperties:
                  $ref: '#/definitions/TagValue'
              clientToken:
                description: CThe idempotency token of the component.
                type: string
                minLength: 1
                maxLength: 36
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /CreateDistributionConfiguration:
    put:
      operationId: CreateDistributionConfiguration
      description: ' Creates a new distribution configuration. Distribution configurations define and configure the outputs of your pipeline. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDistributionConfigurationResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '485':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '486':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
        '487':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '488':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '489':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - name
              - distributions
              - clientToken
            properties:
              name:
                description: ' The name of the distribution configuration. '
                type: string
                pattern: '^[-_A-Za-z-0-9][-_A-Za-z0-9 ]{1,126}[-_A-Za-z-0-9]$'
              description:
                description: ' The description of the distribution configuration. '
                type: string
                minLength: 1
                maxLength: 1024
              distributions:
                description: ' The distributions of the distribution configuration. '
                type: array
                items:
                  $ref: '#/definitions/Distribution'
              tags:
                description: ' The tags of the distribution configuration. '
                type: object
                minProperties: 1
                maxProperties: 50
                additionalProperties:
                  $ref: '#/definitions/TagValue'
              clientToken:
                description: ' The idempotency token of the distribution configuration. '
                type: string
                minLength: 1
                maxLength: 36
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /CreateImage:
    put:
      operationId: CreateImage
      description: ' Creates a new image. This request will create a new image along with all of the configured output resources defined in the distribution configuration. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateImageResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '485':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '486':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
        '487':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - imageRecipeArn
              - infrastructureConfigurationArn
              - clientToken
            properties:
              imageRecipeArn:
                description: ' The Amazon Resource Name (ARN) of the image recipe that defines how images are configured, tested and assessed. '
                type: string
                pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):image-recipe/[a-z0-9-_]+/\d+\.\d+\.\d+$'
              distributionConfigurationArn:
                description: ' The Amazon Resource Name (ARN) of the distribution configuration that defines and configures the outputs of your pipeline. '
                type: string
                pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):distribution-configuration/[a-z0-9-_]+$'
              infrastructureConfigurationArn:
                description: ' The Amazon Resource Name (ARN) of the infrastructure configuration that defines the environment in which your image will be built and tested. '
                type: string
                pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):infrastructure-configuration/[a-z0-9-_]+$'
              imageTestsConfiguration:
                description: Image tests configuration.
                type: object
                properties:
                  imageTestsEnabled:
                    $ref: '#/definitions/NullableBoolean'
                    description: Defines if tests should be executed when building this image.
                  timeoutMinutes:
                    $ref: '#/definitions/ImageTestsTimeoutMinutes'
                    description: The maximum time in minutes that tests are permitted to run for.
              tags:
                description: ' The tags of the image. '
                type: object
                minProperties: 1
                maxProperties: 50
                additionalProperties:
                  $ref: '#/definitions/TagValue'
              clientToken:
                description: ' The idempotency token used to make this request idempotent. '
                type: string
                minLength: 1
                maxLength: 36
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /CreateImagePipeline:
    put:
      operationId: CreateImagePipeline
      description: ' Creates a new image pipeline. Image pipelines enable you to automate the creation and distribution of images. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateImagePipelineResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '485':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '486':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
        '487':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '488':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - name
              - imageRecipeArn
              - infrastructureConfigurationArn
              - clientToken
            properties:
              name:
                description: ' The name of the image pipeline. '
                type: string
                pattern: '^[-_A-Za-z-0-9][-_A-Za-z0-9 ]{1,126}[-_A-Za-z-0-9]$'
              description:
                description: ' The description of the image pipeline. '
                type: string
                minLength: 1
                maxLength: 1024
              imageRecipeArn:
                description: ' The Amazon Resource Name (ARN) of the image recipe that will be used to configure images created by this image pipeline. '
                type: string
                pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):image-recipe/[a-z0-9-_]+/\d+\.\d+\.\d+$'
              infrastructureConfigurationArn:
                description: ' The Amazon Resource Name (ARN) of the infrastructure configuration that will be used to build images created by this image pipeline. '
                type: string
                pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):infrastructure-configuration/[a-z0-9-_]+$'
              distributionConfigurationArn:
                description: ' The Amazon Resource Name (ARN) of the distribution configuration that will be used to configure and distribute images created by this image pipeline. '
                type: string
                pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):distribution-configuration/[a-z0-9-_]+$'
              imageTestsConfiguration:
                description: Image tests configuration.
                type: object
                properties:
                  imageTestsEnabled:
                    $ref: '#/definitions/NullableBoolean'
                    description: Defines if tests should be executed when building this image.
                  timeoutMinutes:
                    $ref: '#/definitions/ImageTestsTimeoutMinutes'
                    description: The maximum time in minutes that tests are permitted to run for.
              schedule:
                description: ' A schedule configures how often and when a pipeline will automatically create a new image. '
                type: object
                properties:
                  scheduleExpression:
                    $ref: '#/definitions/NonEmptyString'
                    description: ' The expression determines how often a pipeline starts the creation of new images. '
                  pipelineExecutionStartCondition:
                    $ref: '#/definitions/PipelineExecutionStartCondition'
                    description: ' The condition configures when the pipeline should trigger a new image build. '
              status:
                description: ' The status of the image pipeline. '
                type: string
                enum:
                  - DISABLED
                  - ENABLED
              tags:
                description: ' The tags of the image pipeline. '
                type: object
                minProperties: 1
                maxProperties: 50
                additionalProperties:
                  $ref: '#/definitions/TagValue'
              clientToken:
                description: ' The idempotency token used to make this request idempotent. '
                type: string
                minLength: 1
                maxLength: 36
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /CreateImageRecipe:
    put:
      operationId: CreateImageRecipe
      description: ' Creates a new image recipe. Image Recipes defines how images are configured, tested and assessed. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateImageRecipeResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '485':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '486':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
        '487':
          description: InvalidVersionNumberException
          schema:
            $ref: '#/definitions/InvalidVersionNumberException'
        '488':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '489':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - name
              - semanticVersion
              - components
              - parentImage
              - clientToken
            properties:
              name:
                description: ' The name of the image recipe. '
                type: string
                pattern: '^[-_A-Za-z-0-9][-_A-Za-z0-9 ]{1,126}[-_A-Za-z-0-9]$'
              description:
                description: ' The description of the image recipe. '
                type: string
                minLength: 1
                maxLength: 1024
              semanticVersion:
                description: ' The semantic version of the image recipe. '
                type: string
                pattern: '^[0-9]+\.[0-9]+\.[0-9]+$'
              components:
                description: ' The components of the image recipe. '
                type: array
                items:
                  $ref: '#/definitions/ComponentConfiguration'
                minItems: 1
              parentImage:
                description: ' The parent image of the image recipe. '
                type: string
                minLength: 1
                maxLength: 1024
              blockDeviceMappings:
                description: ' The block device mappings of the image recipe. '
                type: array
                items:
                  $ref: '#/definitions/InstanceBlockDeviceMapping'
              tags:
                description: ' The tags of the image recipe. '
                type: object
                minProperties: 1
                maxProperties: 50
                additionalProperties:
                  $ref: '#/definitions/TagValue'
              clientToken:
                description: ' The idempotency token used to make this request idempotent. '
                type: string
                minLength: 1
                maxLength: 36
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /CreateInfrastructureConfiguration:
    put:
      operationId: CreateInfrastructureConfiguration
      description: ' Creates a new infrastructure configuration. An infrastructure configuration defines the environment in which your image will be built and tested. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateInfrastructureConfigurationResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '485':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '486':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
        '487':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '488':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - name
              - instanceProfileName
              - clientToken
            properties:
              name:
                description: ' The name of the infrastructure configuration. '
                type: string
                pattern: '^[-_A-Za-z-0-9][-_A-Za-z0-9 ]{1,126}[-_A-Za-z-0-9]$'
              description:
                description: ' The description of the infrastructure configuration. '
                type: string
                minLength: 1
                maxLength: 1024
              instanceTypes:
                description: ' The instance types of the infrastructure configuration. You may specify one or more instance types to use for this build, the service will pick one of these instance types based on availability. '
                type: array
                items:
                  $ref: '#/definitions/InstanceType'
              instanceProfileName:
                description: ' The instance profile to associate with the instance used to customize your EC2 AMI. '
                type: string
                minLength: 1
                maxLength: 1024
              securityGroupIds:
                description: ' The security group IDs to associate with the instance used to customize your EC2 AMI. '
                type: array
                items:
                  $ref: '#/definitions/NonEmptyString'
              subnetId:
                description: ' The subnet ID to place the instance used to customize your EC2 AMI in. '
                type: string
                minLength: 1
                maxLength: 1024
              logging:
                description: ' Logging configuration defines where Image Builder uploads your logs to.'
                type: object
                properties:
                  s3Logs:
                    $ref: '#/definitions/S3Logs'
                    description: The S3 logging configuration.
              keyPair:
                description: ' The key pair of the infrastructure configuration. This can be used to log onto and debug the instance used to create your image. '
                type: string
                minLength: 1
                maxLength: 1024
              terminateInstanceOnFailure:
                description: ' The terminate instance on failure setting of the infrastructure configuration. Set to false if you wish for Image Builder to retain the instance used to configure your AMI in the event that the build or test phase of your workflow failed. '
                type: boolean
              snsTopicArn:
                description: ' The SNS topic on which to send image build events. '
                type: string
                minLength: 1
                maxLength: 1024
              tags:
                description: ' The tags of the infrastructure configuration. '
                type: object
                minProperties: 1
                maxProperties: 50
                additionalProperties:
                  $ref: '#/definitions/TagValue'
              clientToken:
                description: ' The idempotency token used to make this request idempotent. '
                type: string
                minLength: 1
                maxLength: 36
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/DeleteComponent#componentBuildVersionArn':
    delete:
      operationId: DeleteComponent
      description: ' Deletes a component build version. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteComponentResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '485':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
        '486':
          description: ResourceDependencyException
          schema:
            $ref: '#/definitions/ResourceDependencyException'
      parameters:
        - name: componentBuildVersionArn
          in: query
          required: true
          description: ' The Amazon Resource Name (ARN) of the component build version to delete. '
          type: string
          pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):component/[a-z0-9-_]+/\d+\.\d+\.\d+/\d+$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/DeleteDistributionConfiguration#distributionConfigurationArn':
    delete:
      operationId: DeleteDistributionConfiguration
      description: ' Deletes a distribution configuration. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDistributionConfigurationResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '485':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
        '486':
          description: ResourceDependencyException
          schema:
            $ref: '#/definitions/ResourceDependencyException'
      parameters:
        - name: distributionConfigurationArn
          in: query
          required: true
          description: ' The Amazon Resource Name (ARN) of the distribution configuration to delete. '
          type: string
          pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):distribution-configuration/[a-z0-9-_]+$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/DeleteImage#imageBuildVersionArn':
    delete:
      operationId: DeleteImage
      description: ' Deletes an image. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteImageResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '485':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
        '486':
          description: ResourceDependencyException
          schema:
            $ref: '#/definitions/ResourceDependencyException'
      parameters:
        - name: imageBuildVersionArn
          in: query
          required: true
          description: ' The Amazon Resource Name (ARN) of the image to delete. '
          type: string
          pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):image/[a-z0-9-_]+/\d+\.\d+\.\d+/\d+$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/DeleteImagePipeline#imagePipelineArn':
    delete:
      operationId: DeleteImagePipeline
      description: ' Deletes an image pipeline. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteImagePipelineResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '485':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
        '486':
          description: ResourceDependencyException
          schema:
            $ref: '#/definitions/ResourceDependencyException'
      parameters:
        - name: imagePipelineArn
          in: query
          required: true
          description: ' The Amazon Resource Name (ARN) of the image pipeline to delete. '
          type: string
          pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):image-pipeline/[a-z0-9-_]+$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/DeleteImageRecipe#imageRecipeArn':
    delete:
      operationId: DeleteImageRecipe
      description: ' Deletes an image recipe. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteImageRecipeResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '485':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
        '486':
          description: ResourceDependencyException
          schema:
            $ref: '#/definitions/ResourceDependencyException'
      parameters:
        - name: imageRecipeArn
          in: query
          required: true
          description: ' The Amazon Resource Name (ARN) of the image recipe to delete. '
          type: string
          pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):image-recipe/[a-z0-9-_]+/\d+\.\d+\.\d+$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/DeleteInfrastructureConfiguration#infrastructureConfigurationArn':
    delete:
      operationId: DeleteInfrastructureConfiguration
      description: ' Deletes an infrastructure configuration. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInfrastructureConfigurationResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '485':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
        '486':
          description: ResourceDependencyException
          schema:
            $ref: '#/definitions/ResourceDependencyException'
      parameters:
        - name: infrastructureConfigurationArn
          in: query
          required: true
          description: ' The Amazon Resource Name (ARN) of the infrastructure configuration to delete. '
          type: string
          pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):infrastructure-configuration/[a-z0-9-_]+$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/GetComponent#componentBuildVersionArn':
    get:
      operationId: GetComponent
      description: ' Gets a component object. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetComponentResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '485':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
      parameters:
        - name: componentBuildVersionArn
          in: query
          required: true
          description: ' The Amazon Resource Name (ARN) of the component that you wish to retrieve. '
          type: string
          pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):component/[a-z0-9-_]+/\d+\.\d+\.\d+/\d+$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/GetComponentPolicy#componentArn':
    get:
      operationId: GetComponentPolicy
      description: ' Gets a component policy. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetComponentPolicyResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '485':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
      parameters:
        - name: componentArn
          in: query
          required: true
          description: ' The Amazon Resource Name (ARN) of the component whose policy you wish to retrieve. '
          type: string
          pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):component/[a-z0-9-_]+/\d+\.\d+\.\d+/\d+$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/GetDistributionConfiguration#distributionConfigurationArn':
    get:
      operationId: GetDistributionConfiguration
      description: ' Gets a distribution configuration. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDistributionConfigurationResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '485':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
      parameters:
        - name: distributionConfigurationArn
          in: query
          required: true
          description: ' The Amazon Resource Name (ARN) of the distribution configuration that you wish to retrieve. '
          type: string
          pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):distribution-configuration/[a-z0-9-_]+$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/GetImage#imageBuildVersionArn':
    get:
      operationId: GetImage
      description: ' Gets an image. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetImageResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '485':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
      parameters:
        - name: imageBuildVersionArn
          in: query
          required: true
          description: ' The Amazon Resource Name (ARN) of the image that you wish to retrieve. '
          type: string
          pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):image/[a-z0-9-_]+/\d+\.\d+\.\d+/\d+$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/GetImagePipeline#imagePipelineArn':
    get:
      operationId: GetImagePipeline
      description: ' Gets an image pipeline. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetImagePipelineResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '485':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
      parameters:
        - name: imagePipelineArn
          in: query
          required: true
          description: ' The Amazon Resource Name (ARN) of the image pipeline that you wish to retrieve. '
          type: string
          pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):image-pipeline/[a-z0-9-_]+$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/GetImagePolicy#imageArn':
    get:
      operationId: GetImagePolicy
      description: ' Gets an image policy. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetImagePolicyResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '485':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
      parameters:
        - name: imageArn
          in: query
          required: true
          description: ' The Amazon Resource Name (ARN) of the image whose policy you wish to retrieve. '
          type: string
          pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):image/[a-z0-9-_]+/\d+\.\d+\.\d+/\d+$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/GetImageRecipe#imageRecipeArn':
    get:
      operationId: GetImageRecipe
      description: ' Gets an image recipe. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetImageRecipeResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '485':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
      parameters:
        - name: imageRecipeArn
          in: query
          required: true
          description: ' The Amazon Resource Name (ARN) of the image recipe that you wish to retrieve. '
          type: string
          pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):image-recipe/[a-z0-9-_]+/\d+\.\d+\.\d+$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/GetImageRecipePolicy#imageRecipeArn':
    get:
      operationId: GetImageRecipePolicy
      description: ' Gets an image recipe policy. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetImageRecipePolicyResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '485':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
      parameters:
        - name: imageRecipeArn
          in: query
          required: true
          description: ' The Amazon Resource Name (ARN) of the image recipe whose policy you wish to retrieve. '
          type: string
          pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):image-recipe/[a-z0-9-_]+/\d+\.\d+\.\d+$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/GetInfrastructureConfiguration#infrastructureConfigurationArn':
    get:
      operationId: GetInfrastructureConfiguration
      description: ' Gets a infrastructure configuration. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInfrastructureConfigurationResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '485':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
      parameters:
        - name: infrastructureConfigurationArn
          in: query
          required: true
          description: ' The Amazon Resource Name (ARN) of the infrastructure configuration that you wish to retrieve. '
          type: string
          pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):infrastructure-configuration/[a-z0-9-_]+$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /ImportComponent:
    put:
      operationId: ImportComponent
      description: ' Imports a component and transforms its data into a component document. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ImportComponentResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '485':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '486':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
        '487':
          description: InvalidVersionNumberException
          schema:
            $ref: '#/definitions/InvalidVersionNumberException'
        '488':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '489':
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - name
              - semanticVersion
              - type
              - format
              - platform
              - clientToken
            properties:
              name:
                description: ' The name of the component. '
                type: string
                pattern: '^[-_A-Za-z-0-9][-_A-Za-z0-9 ]{1,126}[-_A-Za-z-0-9]$'
              semanticVersion:
                description: ' The semantic version of the component. This version to follow the semantic version syntax. i.e. major.minor.patch. This could be versioned like software 2.0.1 or date like 2019.12.01. '
                type: string
                pattern: '^[0-9]+\.[0-9]+\.[0-9]+$'
              description:
                description: ' The description of the component. Describes the contents of the component. '
                type: string
                minLength: 1
                maxLength: 1024
              changeDescription:
                description: ' The change description of the component. Describes what change has been made in this version. In other words what makes this version different from other versions of this component. '
                type: string
                minLength: 1
                maxLength: 1024
              type:
                description: ' The type of the component denotes whether the component is used to build the image or only to test it. '
                type: string
                enum:
                  - BUILD
                  - TEST
              format:
                description: ' The format of the resource that you wish to import as a component. '
                type: string
                enum:
                  - SHELL
              platform:
                description: ' The platform of the component. '
                type: string
                enum:
                  - Windows
                  - Linux
              data:
                description: ' The data of the component. '
                type: string
                minLength: 1
                maxLength: 1024
              uri:
                description: ' The uri of the component. '
                type: string
              kmsKeyId:
                description: ' The ID of the KMS key that should be used to encrypt this component. '
                type: string
                minLength: 1
                maxLength: 1024
              tags:
                description: ' The tags of the component. '
                type: object
                minProperties: 1
                maxProperties: 50
                additionalProperties:
                  $ref: '#/definitions/TagValue'
              clientToken:
                description: ' The idempotency token of the component. '
                type: string
                minLength: 1
                maxLength: 36
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /ListComponentBuildVersions:
    post:
      operationId: ListComponentBuildVersions
      description: ' Returns the list of component build versions for the specified semantic version. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListComponentBuildVersionsResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: InvalidPaginationTokenException
          schema:
            $ref: '#/definitions/InvalidPaginationTokenException'
        '485':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '486':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - componentVersionArn
            properties:
              componentVersionArn:
                description: ' The component version arn whose versions you wish to list. '
                type: string
                pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):component/[a-z0-9-_]+/\d+\.\d+\.\d+$'
              maxResults:
                description: ' The maximum items to return in a request. '
                type: integer
                minimum: 1
                maximum: 25
              nextToken:
                description: ' A token to specify where to start paginating. This is the NextToken from a previously truncated response. '
                type: string
                minLength: 1
                maxLength: 1024
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /ListComponents:
    post:
      operationId: ListComponents
      description: ' Returns the list of component build versions for the specified semantic version. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListComponentsResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: InvalidPaginationTokenException
          schema:
            $ref: '#/definitions/InvalidPaginationTokenException'
        '485':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '486':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              owner:
                description: ' The owner defines whose components you wish to list. By default this request will only show components owned by your account. You may use this field to specify if you wish to view components owned by yourself, Amazon, or those components that have been shared with you by other customers. '
                type: string
                enum:
                  - Self
                  - Shared
                  - Amazon
              filters:
                description: ' '
                type: array
                items:
                  $ref: '#/definitions/Filter'
                minItems: 1
                maxItems: 10
              maxResults:
                description: ' The maximum items to return in a request. '
                type: integer
                minimum: 1
                maximum: 25
              nextToken:
                description: ' A token to specify where to start paginating. This is the NextToken from a previously truncated response. '
                type: string
                minLength: 1
                maxLength: 1024
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /ListDistributionConfigurations:
    post:
      operationId: ListDistributionConfigurations
      description: ' Returns a list of distribution configurations. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDistributionConfigurationsResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: InvalidPaginationTokenException
          schema:
            $ref: '#/definitions/InvalidPaginationTokenException'
        '485':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '486':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              filters:
                description: ' '
                type: array
                items:
                  $ref: '#/definitions/Filter'
                minItems: 1
                maxItems: 10
              maxResults:
                description: ' The maximum items to return in a request. '
                type: integer
                minimum: 1
                maximum: 25
              nextToken:
                description: ' A token to specify where to start paginating. This is the NextToken from a previously truncated response. '
                type: string
                minLength: 1
                maxLength: 1024
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /ListImageBuildVersions:
    post:
      operationId: ListImageBuildVersions
      description: ' Returns a list of distribution configurations. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListImageBuildVersionsResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: InvalidPaginationTokenException
          schema:
            $ref: '#/definitions/InvalidPaginationTokenException'
        '485':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '486':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - imageVersionArn
            properties:
              imageVersionArn:
                description: ' The Amazon Resource Name (ARN) of the image whose build versions you wish to retrieve. '
                type: string
                pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):image/[a-z0-9-_]+/\d+\.\d+\.\d+$'
              filters:
                description: ' '
                type: array
                items:
                  $ref: '#/definitions/Filter'
                minItems: 1
                maxItems: 10
              maxResults:
                description: ' The maximum items to return in a request. '
                type: integer
                minimum: 1
                maximum: 25
              nextToken:
                description: ' A token to specify where to start paginating. This is the NextToken from a previously truncated response. '
                type: string
                minLength: 1
                maxLength: 1024
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /ListImagePipelineImages:
    post:
      operationId: ListImagePipelineImages
      description: ' Returns a list of images created by the specified pipeline. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListImagePipelineImagesResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: InvalidPaginationTokenException
          schema:
            $ref: '#/definitions/InvalidPaginationTokenException'
        '485':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '486':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '487':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              imagePipelineArn:
                description: ' The Amazon Resource Name (ARN) of the image pipeline whose images you wish to view. '
                type: string
                pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):image-pipeline/[a-z0-9-_]+$'
              filters:
                description: ' '
                type: array
                items:
                  $ref: '#/definitions/Filter'
                minItems: 1
                maxItems: 10
              maxResults:
                description: ' The maximum items to return in a request. '
                type: integer
                minimum: 1
                maximum: 25
              nextToken:
                description: ' A token to specify where to start paginating. This is the NextToken from a previously truncated response. '
                type: string
                minLength: 1
                maxLength: 1024
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /ListImagePipelines:
    post:
      operationId: ListImagePipelines
      description: 'Returns a list of image pipelines. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListImagePipelinesResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: InvalidPaginationTokenException
          schema:
            $ref: '#/definitions/InvalidPaginationTokenException'
        '485':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '486':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              filters:
                description: ' '
                type: array
                items:
                  $ref: '#/definitions/Filter'
                minItems: 1
                maxItems: 10
              maxResults:
                description: ' The maximum items to return in a request. '
                type: integer
                minimum: 1
                maximum: 25
              nextToken:
                description: ' A token to specify where to start paginating. This is the NextToken from a previously truncated response. '
                type: string
                minLength: 1
                maxLength: 1024
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /ListImageRecipes:
    post:
      operationId: ListImageRecipes
      description: ' Returns a list of image recipes. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListImageRecipesResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: InvalidPaginationTokenException
          schema:
            $ref: '#/definitions/InvalidPaginationTokenException'
        '485':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '486':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              owner:
                description: ' The owner defines whose image recipes you wish to list. By default this request will only show image recipes owned by your account. You may use this field to specify if you wish to view image recipes owned by yourself, Amazon, or those image recipes that have been shared with you by other customers. '
                type: string
                enum:
                  - Self
                  - Shared
                  - Amazon
              filters:
                description: ' '
                type: array
                items:
                  $ref: '#/definitions/Filter'
                minItems: 1
                maxItems: 10
              maxResults:
                description: ' The maximum items to return in a request. '
                type: integer
                minimum: 1
                maximum: 25
              nextToken:
                description: ' A token to specify where to start paginating. This is the NextToken from a previously truncated response. '
                type: string
                minLength: 1
                maxLength: 1024
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /ListImages:
    post:
      operationId: ListImages
      description: ' Returns the list of image build versions for the specified semantic version. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListImagesResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: InvalidPaginationTokenException
          schema:
            $ref: '#/definitions/InvalidPaginationTokenException'
        '485':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '486':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              owner:
                description: ' The owner defines whose images you wish to list. By default this request will only show images owned by your account. You may use this field to specify if you wish to view images owned by yourself, Amazon, or those images that have been shared with you by other customers. '
                type: string
                enum:
                  - Self
                  - Shared
                  - Amazon
              filters:
                description: ' '
                type: array
                items:
                  $ref: '#/definitions/Filter'
                minItems: 1
                maxItems: 10
              maxResults:
                description: ' The maximum items to return in a request. '
                type: integer
                minimum: 1
                maximum: 25
              nextToken:
                description: ' A token to specify where to start paginating. This is the NextToken from a previously truncated response. '
                type: string
                minLength: 1
                maxLength: 1024
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /ListInfrastructureConfigurations:
    post:
      operationId: ListInfrastructureConfigurations
      description: ' Returns a list of infrastructure configurations. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInfrastructureConfigurationsResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: InvalidPaginationTokenException
          schema:
            $ref: '#/definitions/InvalidPaginationTokenException'
        '485':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '486':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              filters:
                description: ' '
                type: array
                items:
                  $ref: '#/definitions/Filter'
                minItems: 1
                maxItems: 10
              maxResults:
                description: ' The maximum items to return in a request. '
                type: integer
                minimum: 1
                maximum: 25
              nextToken:
                description: ' A token to specify where to start paginating. This is the NextToken from a previously truncated response. '
                type: string
                minLength: 1
                maxLength: 1024
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/tags/{resourceArn}':
    get:
      operationId: ListTagsForResource
      description: ' Returns the list of tags for the specified resource. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: resourceArn
          in: path
          required: true
          description: ' The Amazon Resource Name (ARN) of the resource whose tags you wish to retrieve. '
          type: string
          pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):(?:image-recipe|infrastructure-configuration|distribution-configuration|component|image|image-pipeline)/[a-z0-9-_]+(?:/(?:(?:x|\d+)\.(?:x|\d+)\.(?:x|\d+))(?:/\d+)?)?$'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      operationId: TagResource
      description: ' Adds a tag to a resource. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: resourceArn
          in: path
          required: true
          description: ' The Amazon Resource Name (ARN) of the resource that you wish to tag. '
          type: string
          pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):(?:image-recipe|infrastructure-configuration|distribution-configuration|component|image|image-pipeline)/[a-z0-9-_]+(?:/(?:(?:x|\d+)\.(?:x|\d+)\.(?:x|\d+))(?:/\d+)?)?$'
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - tags
            properties:
              tags:
                description: ' The tags to apply to the resource. '
                type: object
                minProperties: 1
                maxProperties: 50
                additionalProperties:
                  $ref: '#/definitions/TagValue'
  /PutComponentPolicy:
    put:
      operationId: PutComponentPolicy
      description: ' Applies a policy to a component. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutComponentPolicyResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '485':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '486':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '487':
          description: CallRateLimitExceededException
          schema:
            $ref: '#/definitions/CallRateLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - componentArn
              - policy
            properties:
              componentArn:
                description: ' The Amazon Resource Name (ARN) of the component that this policy should be applied to. '
                type: string
                pattern: '^arn:aws[^:]*:imagebuilder:[^:]+:(?:\d{12}|aws):component/[a-z0-9-_]+/\d+\.\d+\.\d+/\d+$'
              policy:
                description: ' The policy to apply. '
                type: string
                minLength: 1
                maxLength: 1024
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /PutImagePolicy:
    put:
      operationId: PutImagePolicy
      description: ' Applies a policy to an image. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutImagePolicyResponse'
        '480':
          description: ServiceException
          schema:
            $ref: '#/definitions/ServiceException'
        '481':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
[...]
