swagger: '2.0'
schemes:
  - https
host: alertcenter.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Manages alerts on issues affecting your domain.
  title: G Suite Alert Center
  version: v1beta1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.18
      format: google
      url: 'https://alertcenter.googleapis.com/$discovery/rest?version=v1beta1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: alertcenter
externalDocs:
  url: 'https://developers.google.com/admin-sdk/alertcenter/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/apps.alerts': 'See and delete your domain''s G Suite alerts, and send alert feedback'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: alerts
  - name: v1beta1
paths:
  /v1beta1/alerts:
    get:
      description: Lists the alerts.
      operationId: alertcenter.alerts.list
      parameters:
        - description: |-
            Optional. The unique identifier of the G Suite organization account of the
            customer the alerts are associated with.
            Inferred from the caller identity if not provided.
          in: query
          name: customerId
          type: string
        - description: |-
            Optional. A query string for filtering alert results.
            For more details, see [Query
            filters](/admin-sdk/alertcenter/guides/query-filters) and [Supported
            query filter fields](/admin-sdk/alertcenter/reference/filter-fields#alerts.list).
          in: query
          name: filter
          type: string
        - description: |-
            Optional. The sort order of the list results.
            If not specified results may be returned in arbitrary order.
            You can sort the results in descending order based on the creation
            timestamp using `order_by="create_time desc"`.
            Currently, only sorting by `create_time desc` is supported.
          in: query
          name: orderBy
          type: string
        - description: |-
            Optional. The requested page size. Server may return fewer items than
            requested. If unspecified, server picks an appropriate default.
          in: query
          name: pageSize
          type: integer
        - description: |-
            Optional. A token identifying a page of results the server should return.
            If empty, a new iteration is started. To continue an iteration, pass in
            the value from the previous ListAlertsResponse's
            next_page_token field.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListAlertsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.alerts'
      tags:
        - alerts
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1beta1/alerts/{alertId}':
    delete:
      description: |-
        Marks the specified alert for deletion. An alert that has been marked for
        deletion is removed from Alert Center after 30 days.
        Marking an alert for deletion has no effect on an alert which has
        already been marked for deletion. Attempting to mark a nonexistent alert
        for deletion results in a `NOT_FOUND` error.
      operationId: alertcenter.alerts.delete
      parameters:
        - description: Required. The identifier of the alert to delete.
          in: path
          name: alertId
          required: true
          type: string
        - description: |-
            Optional. The unique identifier of the G Suite organization account of the
            customer the alert is associated with.
            Inferred from the caller identity if not provided.
          in: query
          name: customerId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.alerts'
      tags:
        - alerts
    get:
      description: Gets the specified alert.
      operationId: alertcenter.alerts.get
      parameters:
        - description: |-
            Required. The identifier of the alert to retrieve.
            Returns a NOT_FOUND error if no such alert.
          in: path
          name: alertId
          required: true
          type: string
        - description: |-
            Optional. The unique identifier of the G Suite organization account of the
            customer the alert is associated with.
            Inferred from the caller identity if not provided.
          in: query
          name: customerId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Alert'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.alerts'
      tags:
        - alerts
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1beta1/alerts/{alertId}/feedback':
    get:
      description: Lists all the feedback for an alert.
      operationId: alertcenter.alerts.feedback.list
      parameters:
        - description: |-
            Required. The alert identifier.
            The "-" wildcard could be used to represent all alerts.
            If alert does not exist returns a `NOT_FOUND` error.
          in: path
          name: alertId
          required: true
          type: string
        - description: |-
            Optional. The unique identifier of the G Suite organization account of the
            customer the alert feedback are associated with.
            Inferred from the caller identity if not provided.
          in: query
          name: customerId
          type: string
        - description: |-
            Optional. A query string for filtering alert feedback results.
            For more details, see [Query
            filters](/admin-sdk/alertcenter/guides/query-filters) and [Supported
            query filter fields](/admin-sdk/alertcenter/reference/filter-fields#alerts.feedback.list).
          in: query
          name: filter
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListAlertFeedbackResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.alerts'
      tags:
        - alerts
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates new feedback for an alert.
      operationId: alertcenter.alerts.feedback.create
      parameters:
        - description: |-
            Required. The identifier of the alert this feedback belongs to.
            Returns a `NOT_FOUND` error if no such alert.
          in: path
          name: alertId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AlertFeedback'
        - description: |-
            Optional. The unique identifier of the G Suite organization account of the
            customer the alert is associated with.
            Inferred from the caller identity if not provided.
          in: query
          name: customerId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AlertFeedback'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.alerts'
      tags:
        - alerts
  '/v1beta1/alerts/{alertId}:undelete':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Restores, or "undeletes", an alert that was marked for deletion within the
        past 30 days. Attempting to undelete an alert which was marked for deletion
        over 30 days ago (which has been removed from the Alert Center database) or
        a nonexistent alert returns a `NOT_FOUND` error. Attempting to
        undelete an alert which has not been marked for deletion has no effect.
      operationId: alertcenter.alerts.undelete
      parameters:
        - description: Required. The identifier of the alert to undelete.
          in: path
          name: alertId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UndeleteAlertRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Alert'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.alerts'
      tags:
        - alerts
  /v1beta1/settings:
    get:
      description: Returns customer-level settings.
      operationId: alertcenter.getSettings
      parameters:
        - description: |-
            Optional. The unique identifier of the G Suite organization account of the
            customer the alert settings are associated with.
            Inferred from the caller identity if not provided.
          in: query
          name: customerId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Settings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.alerts'
      tags:
        - v1beta1
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    patch:
      description: Update the customer-level settings.
      operationId: alertcenter.updateSettings
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Settings'
        - description: |-
            Optional. The unique identifier of the G Suite organization account of the
            customer the alert settings are associated with.
            Inferred from the caller identity if not provided.
          in: query
          name: customerId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Settings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.alerts'
      tags:
        - v1beta1
definitions:
  AccountWarning:
    description: Alerts for user account warning events.
    properties:
      email:
        description: Required. The email of the user that this event belongs to.
        type: string
      loginDetails:
        $ref: '#/definitions/LoginDetails'
        description: |-
          Optional. Details of the login action associated with the warning event.
          This is only available for:

          * Suspicious login
          * Suspicious login (less secure app)
          * User suspended (suspicious activity)
    type: object
  Alert:
    description: |-
      An alert affecting a customer.
      All fields are read-only once created.
    properties:
      alertId:
        description: Output only. The unique identifier for the alert.
        type: string
      createTime:
        description: Output only. The time this alert was created.
        format: google-datetime
        type: string
      customerId:
        description: Output only. The unique identifier of the Google account of the customer.
        type: string
      data:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: |-
          Optional. The data associated with this alert, for example
          google.apps.alertcenter.type.DeviceCompromised.
        type: object
      deleted:
        description: Output only. `True` if this alert is marked for deletion.
        type: boolean
      endTime:
        description: |-
          Optional. The time the event that caused this alert ceased being active.
          If provided, the end time must not be earlier than the start time.
          If not provided, the end time defaults to the start time.
        format: google-datetime
        type: string
      securityInvestigationToolLink:
        description: |-
          Output only. An optional
          [Security Investigation Tool](https://support.google.com/a/answer/7575955)
          query for this alert.
        type: string
      source:
        description: |-
          Required. A unique identifier for the system that reported the alert.

          Supported sources are any of the following:

          * Google Operations
          * Mobile device management
          * Gmail phishing
          * Domain wide takeout
          * Government attack warning
          * Google identity
        type: string
      startTime:
        description: |-
          Required. The time the event that caused this alert was started or
          detected.
        format: google-datetime
        type: string
      type:
        description: |-
          Required. The type of the alert.
          For a list of available alert types see
          [G Suite Alert types](/admin-sdk/alertcenter/reference/alert-types).
        type: string
    type: object
  AlertFeedback:
    description: A customer feedback about an alert.
    properties:
      alertId:
        description: Output only. The alert identifier.
        type: string
      createTime:
        description: Output only. The time this feedback was created.
        format: google-datetime
        type: string
      customerId:
        description: Output only. The unique identifier of the Google account of the customer.
        type: string
      email:
        description: Output only. The email of the user that provided the feedback.
        type: string
      feedbackId:
        description: Output only. The unique identifier for the feedback.
        type: string
      type:
        description: Required. The type of the feedback.
        enum:
          - ALERT_FEEDBACK_TYPE_UNSPECIFIED
          - NOT_USEFUL
          - SOMEWHAT_USEFUL
          - VERY_USEFUL
        type: string
    type: object
  Attachment:
    description: Attachment with application-specific information about an alert.
    properties:
      csv:
        $ref: '#/definitions/Csv'
        description: A CSV file attachment.
    type: object
  BadWhitelist:
    description: |-
      Alert for setting the domain or IP that malicious email comes from as
      whitelisted domain or IP in Gmail advanced settings.
    properties:
      domainId:
        $ref: '#/definitions/DomainId'
        description: The domain ID.
      maliciousEntity:
        $ref: '#/definitions/MaliciousEntity'
        description: The entity whose actions triggered a Gmail phishing alert.
      messages:
        description: The list of messages contained by this alert.
        items:
          $ref: '#/definitions/GmailMessageInfo'
        type: array
      sourceIp:
        description: |-
          The source IP address of the malicious email, for example,
          `127.0.0.1`.
        type: string
    type: object
  CloudPubsubTopic:
    description: |-
      A reference to a Cloud Pubsub topic.

      To register for notifications, the owner of the topic must grant
      `alerts-api-push-notifications@system.gserviceaccount.com` the
       `projects.topics.publish` permission.
    properties:
      payloadFormat:
        description: |-
          Optional. The format of the payload that would be sent.
          If not specified the format will be JSON.
        enum:
          - PAYLOAD_FORMAT_UNSPECIFIED
          - JSON
        type: string
      topicName:
        description: |-
          The `name` field of a Cloud Pubsub [Topic]
          (https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic).
        type: string
    type: object
  Csv:
    description: |-
      A representation of a CSV file attachment, as a list of column headers and
      a list of data rows.
    properties:
      dataRows:
        description: |-
          The list of data rows in a CSV file, as string arrays rather than as a
          single comma-separated string.
        items:
          $ref: '#/definitions/CsvRow'
        type: array
      headers:
        description: The list of headers for data columns in a CSV file.
        items:
          type: string
        type: array
    type: object
  CsvRow:
    description: A representation of a single data row in a CSV file.
    properties:
      entries:
        description: |-
          The data entries in a CSV file row, as a string array rather than a
          single comma-separated string.
        items:
          type: string
        type: array
    type: object
  DeviceCompromised:
    description: A mobile device compromised alert. Derived from audit logs.
    properties:
      email:
        description: The email of the user this alert was created for.
        type: string
      events:
        description: Required. The list of security events.
        items:
          $ref: '#/definitions/DeviceCompromisedSecurityDetail'
        type: array
    type: object
  DeviceCompromisedSecurityDetail:
    description: Detailed information of a single MDM device compromised event.
    properties:
      deviceCompromisedState:
        description: |-
          The device compromised state. Possible values are "`Compromised`" or
          "`Not Compromised`".
        type: string
      deviceId:
        description: Required. The device ID.
        type: string
      deviceModel:
        description: The model of the device.
        type: string
      deviceType:
        description: The type of the device.
        type: string
      iosVendorId:
        description: 'Required for iOS, empty for others.'
        type: string
      resourceId:
        description: The device resource ID.
        type: string
      serialNumber:
        description: The serial number of the device.
        type: string
    type: object
  DomainId:
    description: Domain ID of Gmail phishing alerts.
    properties:
      customerPrimaryDomain:
        description: The primary domain for the customer.
        type: string
    type: object
  DomainWideTakeoutInitiated:
    description: |-
      A takeout operation for the entire domain was initiated by an admin. Derived
      from audit logs.
    properties:
      email:
        description: The email of the admin who initiated the takeout.
        type: string
      takeoutRequestId:
        description: The takeout request ID.
        type: string
    type: object
  Empty:
    description: |-
      A generic empty message that you can re-use to avoid defining duplicated
      empty messages in your APIs. A typical example is to use it as the request
      or the response type of an API method. For instance:

          service Foo {
            rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);
          }

      The JSON representation for `Empty` is empty JSON object `{}`.
    properties: {}
    type: object
  GmailMessageInfo:
    description: Details of a message in phishing spike alert.
    properties:
      attachmentsSha256Hash:
        description: The `SHA256` hash of email's attachment and all MIME parts.
        items:
          type: string
        type: array
      date:
        description: The date the malicious email was sent.
        format: google-datetime
        type: string
      md5HashMessageBody:
        description: The hash of the message body text.
        type: string
      md5HashSubject:
        description: The MD5 Hash of email's subject (only available for reported emails).
        type: string
      messageBodySnippet:
        description: The snippet of the message body text (only available for reported emails).
        type: string
      messageId:
        description: The message ID.
        type: string
      recipient:
        description: The recipient of this email.
        type: string
      subjectText:
        description: The email subject text (only available for reported emails).
        type: string
    type: object
  GoogleOperations:
    description: An incident reported by Google Operations for a G Suite application.
    properties:
      affectedUserEmails:
        description: |-
          The list of emails which correspond to the users directly affected by the
          incident.
        items:
          type: string
        type: array
      attachmentData:
        $ref: '#/definitions/Attachment'
        description: |-
          Optional. Application-specific data for an incident, provided when the
          G Suite application which reported the incident cannot be completely
          restored to a valid state.
      description:
        description: 'A detailed, freeform incident description.'
        type: string
      title:
        description: A one-line incident description.
        type: string
    type: object
  ListAlertFeedbackResponse:
    description: Response message for an alert feedback listing request.
    properties:
      feedback:
        description: |-
          The list of alert feedback.
          Feedback entries for each alert are ordered by creation time descending.
        items:
          $ref: '#/definitions/AlertFeedback'
        type: array
    type: object
  ListAlertsResponse:
    description: Response message for an alert listing request.
    properties:
      alerts:
        description: The list of alerts.
        items:
          $ref: '#/definitions/Alert'
        type: array
      nextPageToken:
        description: |-
          The token for the next page. If not empty, indicates that there may be more
          alerts that match the listing request; this value can be used in a
          subsequent ListAlertsRequest to get alerts continuing from last result
          of the current list call.
        type: string
    type: object
  LoginDetails:
    description: The details of the login action.
    properties:
      ipAddress:
        description: |-
          Optional. The human-readable IP address (for example,
          `11.22.33.44`) that is associated with the warning event.
        type: string
      loginTime:
        description: |-
          Optional. The successful login time that is associated with the warning
          event. This will not be present for blocked login attempts.
        format: google-datetime
        type: string
    type: object
  MailPhishing:
    description: |-
      Proto for all phishing alerts with common payload.
      Supported types are any of the following:

      * User reported phishing
      * User reported spam spike
      * Suspicious message reported
      * Phishing reclassification
      * Malware reclassification
    properties:
      domainId:
        $ref: '#/definitions/DomainId'
        description: The domain ID.
      isInternal:
        description: 'If `true`, the email originated from within the organization.'
        type: boolean
      maliciousEntity:
        $ref: '#/definitions/MaliciousEntity'
        description: The entity whose actions triggered a Gmail phishing alert.
      messages:
        description: The list of messages contained by this alert.
        items:
          $ref: '#/definitions/GmailMessageInfo'
        type: array
    type: object
  MaliciousEntity:
    description: Entity whose actions triggered a Gmail phishing alert.
    properties:
      fromHeader:
        description: The sender email address.
        type: string
    type: object
  Notification:
    description: |-
      Settings for callback notifications.
      For more details see [G Suite Alert
      Notification](/admin-sdk/alertcenter/guides/notifications).
    properties:
      cloudPubsubTopic:
        $ref: '#/definitions/CloudPubsubTopic'
        description: A Google Cloud Pub/sub topic destination.
    type: object
  PhishingSpike:
    description: |-
      Alert for a spike in user reported phishing.
      <aside class="warning"><b>Warning</b>: This type has been deprecated. Use
      [MailPhishing](/admin-sdk/alertcenter/reference/rest/v1beta1/MailPhishing)
      instead.</aside>
    properties:
      domainId:
        $ref: '#/definitions/DomainId'
        description: The domain ID.
      isInternal:
        description: 'If `true`, the email originated from within the organization.'
        type: boolean
      maliciousEntity:
        $ref: '#/definitions/MaliciousEntity'
        description: The entity whose actions triggered a Gmail phishing alert.
      messages:
        description: The list of messages contained by this alert.
        items:
          $ref: '#/definitions/GmailMessageInfo'
        type: array
    type: object
  Settings:
    description: Customer-level settings.
    properties:
      notifications:
        description: The list of notifications.
        items:
          $ref: '#/definitions/Notification'
        type: array
    type: object
  StateSponsoredAttack:
    description: A state-sponsored attack alert. Derived from audit logs.
    properties:
      email:
        description: The email of the user this incident was created for.
        type: string
    type: object
  SuspiciousActivity:
    description: A mobile suspicious activity alert. Derived from audit logs.
    properties:
      email:
        description: The email of the user this alert was created for.
        type: string
      events:
        description: Required. The list of security events.
        items:
          $ref: '#/definitions/SuspiciousActivitySecurityDetail'
        type: array
    type: object
  SuspiciousActivitySecurityDetail:
    description: Detailed information of a single MDM suspicious activity event.
    properties:
      deviceId:
        description: Required. The device ID.
        type: string
      deviceModel:
        description: The model of the device.
        type: string
      deviceProperty:
        description: The device property which was changed.
        type: string
      deviceType:
        description: The type of the device.
        type: string
      iosVendorId:
        description: 'Required for iOS, empty for others.'
        type: string
      newValue:
        description: The new value of the device property after the change.
        type: string
      oldValue:
        description: The old value of the device property before the change.
        type: string
      resourceId:
        description: The device resource ID.
        type: string
      serialNumber:
        description: The serial number of the device.
        type: string
    type: object
  UndeleteAlertRequest:
    description: A request to undelete a specific alert that was marked for deletion.
    properties:
      customerId:
        description: |-
          Optional. The unique identifier of the G Suite organization account of the
          customer the alert is associated with.
          Inferred from the caller identity if not provided.
        type: string
    type: object
