swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: The Resource Health Client.
  title: Microsoft.ResourceHealth
  version: '2017-07-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2017-07-01/resourcehealth.json'
      version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: resourcehealth
  x-tags:
    - Azure
    - Microsoft
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  ExpandParameter:
    description: Setting $expand=recommendedactions in url query expands the recommendedactions in the response.
    in: query
    name: $expand
    required: false
    type: string
    x-ms-parameter-location: method
  FilterParameter:
    description: 'The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN'
    in: query
    name: $filter
    required: false
    type: string
    x-ms-parameter-location: method
  ResourceGroupNameParameter:
    description: The name of the resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.ResourceHealth/operations:
    get:
      description: Lists available operations for the resourcehealth resource provider
      operationId: Operations_List
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The body contains the list of available operations for the resourcehealth resource provider
          schema:
            $ref: '#/definitions/operationListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - Operations
  '/subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/availabilityStatuses':
    get:
      description: Lists the current availability status for all the resources in the subscription. Use the nextLink property in the response to get the next page of availability statuses.
      operationId: AvailabilityStatuses_ListBySubscriptionId
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/FilterParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ExpandParameter'
      responses:
        '200':
          description: The body contains the list of the current availability status for all the resources in the subscription
          schema:
            $ref: '#/definitions/availabilityStatusListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - AvailabilityStatuses
      x-ms-examples:
        ListHealthBySubscriptionId:
          parameters:
            $expand: recommendedactions
            api-version: '2015-01-01'
            subscriptionId: subscriptionId
          responses:
            '200':
              body:
                nextLink: '{originalRequestUrl}?$skipToken={OpaquePageNumber}'
                value:
                  - id: <resourceId>/providers/Microsoft.ResourceHealth/AvailabilityStatueses/current
                    location: eastus
                    name: current
                    properties:
                      RecentlyResolved:
                        ResolvedTime: '2017-02-28T00:49:00Z'
                        UnavailableOccuredTime: '2017-02-28T00:48:00Z'
                        UnavailableSummary: We are sorry your SQL database is unavailable
                      RecommendedActions:
                        - Action: 'To start this virtualmachine, open the resource blade and click Start'
                          ActionUrl: '<#ResourceBlade>'
                          ActionUrlText: resourceblade
                      availabilityState: Available
                      detailedStatus: We have not seen any issues with your virtual machine
                      occuredTime: '2016-03-29T09:12:00Z'
                      reasonChronicity: Persistent
                      reasonType: Unplanned
                      reportedTime: '2016-05-04T14:11:29.7598931Z'
                      summary: Vm is available
                    type: Microsoft.ResourceHealth/AvailabilityStatuses
                  - id: <resourceId>/providers/Microsoft.ResourceHealth/AvailabilityStatueses/current
                    location: eastus
                    name: current
                    properties:
                      RecommendedActions:
                        - Action: 'To start this virtualmachine, open the resource blade'
                          ActionUrl: '<#ResourceBlade>'
                          ActionUrlText: resourceblade
                        - Action: 'If you are experiencing problems you believe are caused by Azure, contact support'
                          ActionUrl: '<#SupportCase>'
                          ActionUrlText: contactsupport
                      availabilityState: Unavailable
                      detailedStatus: Diskproblemsarepreventingusfromautomaticallyrecoveringyourvirtualmachine
                      occuredTime: '2016-03-29T09:12:00Z'
                      reasonChronicity: Persistent
                      reasonType: Unplanned
                      reportedTime: '2016-05-04T14:11:29.7598931Z'
                      resolutionETA: '2016-03-29T09:37:00Z'
                      rootCauseAttributionTime: '2016-03-29T09:13:00Z'
                      summary: 'We are sorry, we couldn''t automatically recovery our virtualmachine'
                    type: Microsoft.ResourceHealth/AvailabilityStatuses
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceHealth/availabilityStatuses':
    get:
      description: Lists the current availability status for all the resources in the resource group. Use the nextLink property in the response to get the next page of availability statuses.
      operationId: AvailabilityStatuses_ListByResourceGroup
      parameters:
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/FilterParameter'
        - $ref: '#/parameters/ExpandParameter'
      responses:
        '200':
          description: The body contains the list of the current availability status for all the resources in the resource group
          schema:
            $ref: '#/definitions/availabilityStatusListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - AvailabilityStatuses
      x-ms-examples:
        ListByResourceGroup:
          parameters:
            $expand: recommendedactions
            api-version: '2015-01-01'
            resourceGroupName: resourceGroupName
            subscriptionId: subscriptionId
          responses:
            '200':
              body:
                nextLink: '{originalRequestUrl}?$skipToken={OpaquePageNumber}'
                value:
                  - id: <resourceId>/providers/Microsoft.ResourceHealth/AvailabilityStatueses/current
                    location: eastus
                    name: current
                    properties:
                      RecentlyResolved:
                        ResolvedTime: '2017-02-28T00:49:00Z'
                        UnavailableOccuredTime: '2017-02-28T00:48:00Z'
                        UnavailableSummary: We are sorry your SQL database is unavailable
                      RecommendedActions:
                        - Action: 'To start this virtualmachine, open the resource blade and click Start'
                          ActionUrl: '<#ResourceBlade>'
                          ActionUrlText: resourceblade
                      availabilityState: Available
                      detailedStatus: We have not seen any issues with your virtual machine
                      occuredTime: '2016-03-29T09:12:00Z'
                      reasonChronicity: Persistent
                      reasonType: Unplanned
                      reportedTime: '2016-05-04T14:11:29.7598931Z'
                      summary: Vm is available
                    type: Microsoft.ResourceHealth/AvailabilityStatuses
                  - id: <resourceId>/providers/Microsoft.ResourceHealth/AvailabilityStatueses/current
                    location: eastus
                    name: current
                    properties:
                      RecommendedActions:
                        - Action: 'To start this virtualmachine, open the resource blade'
                          ActionUrl: '<#ResourceBlade>'
                          ActionUrlText: resourceblade
                        - Action: 'If you are experiencing problems you believe are caused by Azure, contact support'
                          ActionUrl: '<#SupportCase>'
                          ActionUrlText: contactsupport
                      availabilityState: Unavailable
                      detailedStatus: Diskproblemsarepreventingusfromautomaticallyrecoveringyourvirtualmachine
                      occuredTime: '2016-03-29T09:12:00Z'
                      reasonChronicity: Persistent
                      reasonType: Unplanned
                      reportedTime: '2016-05-04T14:11:29.7598931Z'
                      resolutionETA: '2016-03-29T09:37:00Z'
                      rootCauseAttributionTime: '2016-03-29T09:13:00Z'
                      summary: 'We are sorry, we couldn''t automatically recovery our virtualmachine'
                    type: Microsoft.ResourceHealth/AvailabilityStatuses
      x-ms-pageable:
        nextLinkName: nextLink
  '/{resourceUri}/providers/Microsoft.ResourceHealth/availabilityStatuses':
    get:
      description: Lists all historical availability transitions and impacting events for a single resource. Use the nextLink property in the response to get the next page of availability status
      operationId: AvailabilityStatuses_List
      parameters:
        - description: 'The fully qualified ID of the resource, including the resource name and resource type. Currently the API support not nested and one nesting level resource types : /subscriptions/{subscriptionId}/resourceGroups/{resource-group-name}/providers/{resource-provider-name}/{resource-type}/{resource-name} and /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resource-provider-name}/{parentResourceType}/{parentResourceName}/{resourceType}/{resourceName}'
          in: path
          name: resourceUri
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/FilterParameter'
        - $ref: '#/parameters/ExpandParameter'
      responses:
        '200':
          description: The body contains the list of the historical availability statuses for a single resource
          schema:
            $ref: '#/definitions/availabilityStatusListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - AvailabilityStatuses
      x-ms-examples:
        GetHealthHistoryByResource:
          parameters:
            api-version: '2015-01-01'
            resourceUri: resourceUri
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/4abcdefgh-ijkl-mnop-qrstuvwxyz/resourceGroups/rhctestenv/providers/Microsoft.ClassicCompute/virtualMachines/rhctes tenvV1PI/providers/Microsoft.ResourceHealth/availabilityStatuses/current
                    location: eastus
                    name: current
                    properties:
                      availabilityState: Unavailable
                      detailedStatus: Disk problems are preventing us from automatically recovering your virtual machine
                      occuredTime: '2016-03-29T09:12:00Z'
                      reasonChronicity: Persistent
                      reasonType: Unplanned
                      reportedTime: '2016-05-04T14:11:29.7598931Z'
                      resolutionETA: '2016-03-29T09:37:00Z'
                      rootCauseAttributionTime: '2016-03-29T09:13:00Z'
                      serviceImpactingEvents:
                        - correlationId: b56d0180-2d6c-4f7b-b750-c1eca681874c
                          eventStartTime: '2016-05-02T19:23:13.7115125Z'
                          eventStatusLastModifiedTime: '2016-05-02T19:27:04.9543491Z'
                          incidentProperties:
                            incidentType: outage
                            region: East US
                            service: Virtual Machines
                            title: 'Virtual Machines - West Europe [West Europe]'
                          status:
                            value: Resolved
                      summary: 'We''re sorry, we couldn''t automatically recover your virtual machine'
                    type: Microsoft.ResourceHealth/AvailabilityStatuses
                  - id: /subscriptions/4abcdefgh-ijkl-mnop-qrstuvwxyz/resourceGroups/rhctestenv/providers/Microsoft.ClassicCompute/virtualMachines/rhctes tenvV1PI/providers/Microsoft.ResourceHealth/availabilityStatuses/2016-03-28+16%3a23%3a00Z
                    location: eastus
                    name: 2016-03-28+16%3a23%3a00Z
                    properties:
                      availabilityState: Available
                      detailedStatus: There aren’t any known Azure platform problems affecting this virtual machine
                      occuredTime: '2016-03-28T16:23:00Z'
                      reasonChronicity: Persistent
                      summary: This virtual machine is running normally
                    type: Microsoft.ResourceHealth/AvailabilityStatuses
      x-ms-pageable:
        nextLinkName: nextLink
  '/{resourceUri}/providers/Microsoft.ResourceHealth/availabilityStatuses/current':
    get:
      description: Gets current availability status for a single resource
      operationId: AvailabilityStatuses_GetByResource
      parameters:
        - description: 'The fully qualified ID of the resource, including the resource name and resource type. Currently the API support not nested and one nesting level resource types : /subscriptions/{subscriptionId}/resourceGroups/{resource-group-name}/providers/{resource-provider-name}/{resource-type}/{resource-name} and /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resource-provider-name}/{parentResourceType}/{parentResourceName}/{resourceType}/{resourceName}'
          in: path
          name: resourceUri
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/FilterParameter'
        - $ref: '#/parameters/ExpandParameter'
      responses:
        '200':
          description: The body contains the current availability status for a single resource
          schema:
            $ref: '#/definitions/availabilityStatus'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - AvailabilityStatuses
      x-ms-examples:
        GetCurrentHealthByResource:
          parameters:
            $expand: recommendedactions
            api-version: '2015-01-01'
            resourceUri: resourceUri
          responses:
            '200':
              body:
                id: /subscriptions/4abcdefgh-ijkl-mnop-qrstuvwxyz/resourceGroups/rhctestenv/providers/Microsoft.ClassicCompute/virtualMachines /rhctestenvV1PI/providers/Microsoft.ResourceHealth/availabilityStatuses/current
                location: eastus
                name: current
                properties:
                  RecommendedActions:
                    - Action: 'To start this virtual machine, open the resource blade and click Start'
                      ActionUrl: '<#ResourceBlade>'
                      ActionUrlText: resource blade
                    - Action: 'If you are experiencing problems you believe are caused by Azure, contact support'
                      ActionUrl: '<#SupportCase>'
                      ActionUrlText: contact support
                  availabilityState: Unavailable
                  detailedStatus: Disk problems are preventing us from automatically recovering your virtual machine
                  occuredTime: '2016-03-29T09:12:00Z'
                  reasonChronicity: Persistent
                  reasonType: Unplanned
                  reportedTime: '2016-05-04T14:11:29.7598931Z'
                  resolutionETA: '2016-03-29T09:37:00Z'
                  rootCauseAttributionTime: '2016-03-29T09:13:00Z'
                  summary: 'We''re sorry, we couldn''t automatically recover your virtual machine'
                type: Microsoft.ResourceHealth/AvailabilityStatuses
definitions:
  ErrorResponse:
    description: Error details.
    properties:
      code:
        description: The error code.
        readOnly: true
        type: string
      details:
        description: The error details.
        readOnly: true
        type: string
      message:
        description: The error message.
        readOnly: true
        type: string
    type: object
  availabilityStatus:
    description: availabilityStatus of a resource.
    properties:
      id:
        description: Azure Resource Manager Identity for the availabilityStatuses resource.
        type: string
      location:
        description: Azure Resource Manager geo location of the resource.
        type: string
      name:
        description: current.
        type: string
      properties:
        description: Properties of availability state.
        properties:
          availabilityState:
            description: 'Availability status of the resource. When it is null, this availabilityStatus object represents an availability impacting event'
            enum:
              - Available
              - Unavailable
              - Unknown
            type: string
            x-ms-enum:
              modelAsString: false
              name: AvailabilityStateValues
          detailedStatus:
            description: Details of the availability status.
            type: string
          healthEventCategory:
            description: 'In case of an availability impacting event, it describes the category of a PlatformInitiated health impacting event. Examples are Planned, Unplanned etc.'
            type: string
          healthEventCause:
            description: 'In case of an availability impacting event, it describes where the health impacting event was originated. Examples are PlatformInitiated, UserInitiated etc.'
            type: string
          healthEventId:
            description: It is a unique Id that identifies the event
            type: string
          healthEventType:
            description: 'In case of an availability impacting event, it describes when the health impacting event was originated. Examples are Lifecycle, Downtime, Fault Analysis etc.'
            type: string
          occuredTime:
            description: Timestamp for when last change in health status occurred.
            format: date-time
            type: string
          reasonChronicity:
            description: Chronicity of the availability transition.
            enum:
              - Transient
              - Persistent
            type: string
            x-ms-enum:
              modelAsString: false
              name: reasonChronicityTypes
          reasonType:
            description: 'When the resource''s availabilityState is Unavailable, it describes where the health impacting event was originated. Examples are planned, unplanned, user initiated or an outage etc.'
            type: string
          recentlyResolvedState:
            description: An annotation describing a change in the availabilityState to Available from Unavailable with a reasonType of type Unplanned
            properties:
              resolvedTime:
                description: Timestamp when the availabilityState changes to Available.
                format: date-time
                type: string
              unavailabilitySummary:
                description: Brief description of cause of the resource becoming unavailable.
                type: string
              unavailableOccurredTime:
                description: Timestamp for when the availabilityState changed to Unavailable
                format: date-time
                type: string
            type: object
          recommendedActions:
            description: Lists actions the user can take based on the current availabilityState of the resource.
            items:
              $ref: '#/definitions/recommendedAction'
            type: array
          reportedTime:
            description: 'Timestamp for when the health was last checked. '
            format: date-time
            type: string
          resolutionETA:
            description: 'When the resource''s availabilityState is Unavailable and the reasonType is not User Initiated, it provides the date and time for when the issue is expected to be resolved.'
            format: date-time
            type: string
          rootCauseAttributionTime:
            description: 'When the resource''s availabilityState is Unavailable, it provides the Timestamp for when the health impacting event was received.'
            format: date-time
            type: string
          serviceImpactingEvents:
            description: Lists the service impacting events that may be affecting the health of the resource.
            items:
              $ref: '#/definitions/serviceImpactingEvent'
            type: array
          summary:
            description: Summary description of the availability status.
            type: string
        type: object
      type:
        description: Microsoft.ResourceHealth/AvailabilityStatuses.
        type: string
    type: object
  availabilityStatusListResult:
    description: The List availabilityStatus operation response.
    properties:
      nextLink:
        description: The URI to fetch the next page of availabilityStatuses. Call ListNext() with this URI to fetch the next page of availabilityStatuses.
        type: string
      value:
        description: The list of availabilityStatuses.
        items:
          $ref: '#/definitions/availabilityStatus'
        type: array
    required:
      - value
  operation:
    description: Operation available in the resourcehealth resource provider.
    properties:
      display:
        description: Properties of the operation.
        properties:
          description:
            description: Description of the operation.
            type: string
          operation:
            description: Operation.
            type: string
          provider:
            description: Provider name.
            type: string
          resource:
            description: Resource name.
            type: string
        type: object
      name:
        description: Name of the operation.
        type: string
  operationListResult:
    description: Lists the operations response.
    properties:
      value:
        description: List of operations available in the resourcehealth resource provider.
        items:
          $ref: '#/definitions/operation'
        type: array
    required:
      - value
  recommendedAction:
    description: Lists actions the user can take based on the current availabilityState of the resource.
    properties:
      action:
        description: Recommended action.
        type: string
      actionUrl:
        description: Link to the action
        type: string
      actionUrlText:
        description: 'Substring of action, it describes which text should host the action url.'
        type: string
  serviceImpactingEvent:
    description: Lists the service impacting events that may be affecting the health of the resource.
    properties:
      correlationId:
        description: Correlation id for the event
        type: string
      eventStartTime:
        description: Timestamp for when the event started.
        format: date-time
        type: string
      eventStatusLastModifiedTime:
        description: Timestamp for when event was submitted/detected.
        format: date-time
        type: string
      incidentProperties:
        description: Properties of the service impacting event.
        properties:
          incidentType:
            description: Type of Event.
            type: string
          region:
            description: Region impacted by the event.
            type: string
          service:
            description: Service impacted by the event.
            type: string
          title:
            description: Title of the incident.
            type: string
        type: object
      status:
        description: Status of the service impacting event.
        properties:
          value:
            description: Current status of the event
            type: string
        type: object
