{
  "swagger": "2.0",
  "info": {
    "title": "Compute Engine API",
    "description": "API for the Google Compute Engine service.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1"
  },
  "host": "www.googleapis.com",
  "basePath": "/compute/v1/projects",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{project}/aggregated/addresses": {
      "get": {
        "description": "Retrieves the list of addresses grouped by scope.",
        "operationId": "compute.addresses.aggregatedList",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AddressAggregatedList"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. Filter expression for filtering listed resources.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
            "default": "500",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "addresses"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/regions/{region}/addresses/{address}": {
      "delete": {
        "description": "Deletes the specified address resource.",
        "operationId": "compute.addresses.delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Name of the address resource to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "region",
            "in": "path",
            "description": "The name of the region for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "addresses"
        ]
      },
      "get": {
        "description": "Returns the specified address resource.",
        "operationId": "compute.addresses.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        },
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Name of the address resource to return.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "region",
            "in": "path",
            "description": "The name of the region for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "addresses"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/regions/{region}/addresses": {
      "post": {
        "description": "Creates an address resource in the specified project using the data included in the request.",
        "operationId": "compute.addresses.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "region",
            "in": "path",
            "description": "The name of the region for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "addresses"
        ]
      },
      "get": {
        "description": "Retrieves the list of address resources contained within the specified region.",
        "operationId": "compute.addresses.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AddressList"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. Filter expression for filtering listed resources.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
            "default": "500",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "region",
            "in": "path",
            "description": "The name of the region for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "addresses"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/backendServices/{backendService}": {
      "delete": {
        "description": "Deletes the specified BackendService resource.",
        "operationId": "compute.backendServices.delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "backendService",
            "in": "path",
            "description": "Name of the BackendService resource to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "backendServices"
        ]
      },
      "get": {
        "description": "Returns the specified BackendService resource.",
        "operationId": "compute.backendServices.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/BackendService"
            }
          }
        },
        "parameters": [
          {
            "name": "backendService",
            "in": "path",
            "description": "Name of the BackendService resource to return.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "backendServices"
        ]
      },
      "patch": {
        "description": "Update the entire content of the BackendService resource. This method supports patch semantics.",
        "operationId": "compute.backendServices.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "backendService",
            "in": "path",
            "description": "Name of the BackendService resource to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "backendServices"
        ]
      },
      "put": {
        "description": "Update the entire content of the BackendService resource.",
        "operationId": "compute.backendServices.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "backendService",
            "in": "path",
            "description": "Name of the BackendService resource to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "backendServices"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/backendServices/{backendService}/getHealth": {
      "post": {
        "description": "Gets the most recent health check results for this BackendService.",
        "operationId": "compute.backendServices.getHealth",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/BackendServiceGroupHealth"
            }
          }
        },
        "parameters": [
          {
            "name": "backendService",
            "in": "path",
            "description": "Name of the BackendService resource to which the queried instance belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "backendServices"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/backendServices": {
      "post": {
        "description": "Creates a BackendService resource in the specified project using the data included in the request.",
        "operationId": "compute.backendServices.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "backendServices"
        ]
      },
      "get": {
        "description": "Retrieves the list of BackendService resources available to the specified project.",
        "operationId": "compute.backendServices.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/BackendServiceList"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. Filter expression for filtering listed resources.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
            "default": "500",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "backendServices"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/aggregated/diskTypes": {
      "get": {
        "description": "Retrieves the list of disk type resources grouped by scope.",
        "operationId": "compute.diskTypes.aggregatedList",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/DiskTypeAggregatedList"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. Filter expression for filtering listed resources.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
            "default": "500",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "diskTypes"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/zones/{zone}/diskTypes/{diskType}": {
      "get": {
        "description": "Returns the specified disk type resource.",
        "operationId": "compute.diskTypes.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/DiskType"
            }
          }
        },
        "parameters": [
          {
            "name": "diskType",
            "in": "path",
            "description": "Name of the disk type resource to return.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the zone for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "diskTypes"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/zones/{zone}/diskTypes": {
      "get": {
        "description": "Retrieves the list of disk type resources available to the specified project.",
        "operationId": "compute.diskTypes.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/DiskTypeList"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. Filter expression for filtering listed resources.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
            "default": "500",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the zone for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "diskTypes"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/aggregated/disks": {
      "get": {
        "description": "Retrieves the list of disks grouped by scope.",
        "operationId": "compute.disks.aggregatedList",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/DiskAggregatedList"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. Filter expression for filtering listed resources.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
            "default": "500",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "disks"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/zones/{zone}/disks/{disk}/createSnapshot": {
      "post": {
        "description": "Creates a snapshot of this disk.",
        "operationId": "compute.disks.createSnapshot",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "disk",
            "in": "path",
            "description": "Name of the persistent disk to snapshot.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the zone for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "disks"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/zones/{zone}/disks/{disk}": {
      "delete": {
        "description": "Deletes the specified persistent disk.",
        "operationId": "compute.disks.delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "disk",
            "in": "path",
            "description": "Name of the persistent disk to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the zone for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "disks"
        ]
      },
      "get": {
        "description": "Returns a specified persistent disk.",
        "operationId": "compute.disks.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Disk"
            }
          }
        },
        "parameters": [
          {
            "name": "disk",
            "in": "path",
            "description": "Name of the persistent disk to return.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the zone for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "disks"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/zones/{zone}/disks": {
      "post": {
        "description": "Creates a persistent disk in the specified project using the data included in the request.",
        "operationId": "compute.disks.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sourceImage",
            "in": "query",
            "description": "Optional. Source image to restore onto a disk.",
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the zone for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "disks"
        ]
      },
      "get": {
        "description": "Retrieves the list of persistent disks contained within the specified zone.",
        "operationId": "compute.disks.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/DiskList"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. Filter expression for filtering listed resources.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
            "default": "500",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the zone for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "disks"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/firewalls/{firewall}": {
      "delete": {
        "description": "Deletes the specified firewall resource.",
        "operationId": "compute.firewalls.delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "firewall",
            "in": "path",
            "description": "Name of the firewall resource to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "firewalls"
        ]
      },
      "get": {
        "description": "Returns the specified firewall resource.",
        "operationId": "compute.firewalls.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Firewall"
            }
          }
        },
        "parameters": [
          {
            "name": "firewall",
            "in": "path",
            "description": "Name of the firewall resource to return.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "firewalls"
        ]
      },
      "patch": {
        "description": "Updates the specified firewall resource with the data included in the request. This method supports patch semantics.",
        "operationId": "compute.firewalls.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "firewall",
            "in": "path",
            "description": "Name of the firewall resource to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "firewalls"
        ]
      },
      "put": {
        "description": "Updates the specified firewall resource with the data included in the request.",
        "operationId": "compute.firewalls.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "firewall",
            "in": "path",
            "description": "Name of the firewall resource to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "firewalls"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/firewalls": {
      "post": {
        "description": "Creates a firewall resource in the specified project using the data included in the request.",
        "operationId": "compute.firewalls.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "firewalls"
        ]
      },
      "get": {
        "description": "Retrieves the list of firewall resources available to the specified project.",
        "operationId": "compute.firewalls.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/FirewallList"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. Filter expression for filtering listed resources.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
            "default": "500",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "firewalls"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/aggregated/forwardingRules": {
      "get": {
        "description": "Retrieves the list of forwarding rules grouped by scope.",
        "operationId": "compute.forwardingRules.aggregatedList",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ForwardingRuleAggregatedList"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. Filter expression for filtering listed resources.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
            "default": "500",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "forwardingRules"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/regions/{region}/forwardingRules/{forwardingRule}": {
      "delete": {
        "description": "Deletes the specified ForwardingRule resource.",
        "operationId": "compute.forwardingRules.delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "forwardingRule",
            "in": "path",
            "description": "Name of the ForwardingRule resource to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "region",
            "in": "path",
            "description": "Name of the region scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "forwardingRules"
        ]
      },
      "get": {
        "description": "Returns the specified ForwardingRule resource.",
        "operationId": "compute.forwardingRules.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ForwardingRule"
            }
          }
        },
        "parameters": [
          {
            "name": "forwardingRule",
            "in": "path",
            "description": "Name of the ForwardingRule resource to return.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "region",
            "in": "path",
            "description": "Name of the region scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "forwardingRules"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/regions/{region}/forwardingRules": {
      "post": {
        "description": "Creates a ForwardingRule resource in the specified project and region using the data included in the request.",
        "operationId": "compute.forwardingRules.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "region",
            "in": "path",
            "description": "Name of the region scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "forwardingRules"
        ]
      },
      "get": {
        "description": "Retrieves the list of ForwardingRule resources available to the specified project and region.",
        "operationId": "compute.forwardingRules.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ForwardingRuleList"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. Filter expression for filtering listed resources.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
            "default": "500",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "region",
            "in": "path",
            "description": "Name of the region scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "forwardingRules"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/regions/{region}/forwardingRules/{forwardingRule}/setTarget": {
      "post": {
        "description": "Changes target url for forwarding rule.",
        "operationId": "compute.forwardingRules.setTarget",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "forwardingRule",
            "in": "path",
            "description": "Name of the ForwardingRule resource in which target is to be set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "region",
            "in": "path",
            "description": "Name of the region scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "forwardingRules"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/addresses/{address}": {
      "delete": {
        "description": "Deletes the specified address resource.",
        "operationId": "compute.globalAddresses.delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Name of the address resource to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "globalAddresses"
        ]
      },
      "get": {
        "description": "Returns the specified address resource.",
        "operationId": "compute.globalAddresses.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        },
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Name of the address resource to return.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "globalAddresses"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/addresses": {
      "post": {
        "description": "Creates an address resource in the specified project using the data included in the request.",
        "operationId": "compute.globalAddresses.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "globalAddresses"
        ]
      },
      "get": {
        "description": "Retrieves the list of global address resources.",
        "operationId": "compute.globalAddresses.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AddressList"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. Filter expression for filtering listed resources.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
            "default": "500",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "globalAddresses"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/forwardingRules/{forwardingRule}": {
      "delete": {
        "description": "Deletes the specified ForwardingRule resource.",
        "operationId": "compute.globalForwardingRules.delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "forwardingRule",
            "in": "path",
            "description": "Name of the ForwardingRule resource to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "globalForwardingRules"
        ]
      },
      "get": {
        "description": "Returns the specified ForwardingRule resource.",
        "operationId": "compute.globalForwardingRules.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ForwardingRule"
            }
          }
        },
        "parameters": [
          {
            "name": "forwardingRule",
            "in": "path",
            "description": "Name of the ForwardingRule resource to return.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "globalForwardingRules"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/forwardingRules": {
      "post": {
        "description": "Creates a ForwardingRule resource in the specified project and region using the data included in the request.",
        "operationId": "compute.globalForwardingRules.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "globalForwardingRules"
        ]
      },
      "get": {
        "description": "Retrieves the list of ForwardingRule resources available to the specified project.",
        "operationId": "compute.globalForwardingRules.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ForwardingRuleList"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. Filter expression for filtering listed resources.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
            "default": "500",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "globalForwardingRules"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/forwardingRules/{forwardingRule}/setTarget": {
      "post": {
        "description": "Changes target url for forwarding rule.",
        "operationId": "compute.globalForwardingRules.setTarget",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "forwardingRule",
            "in": "path",
            "description": "Name of the ForwardingRule resource in which target is to be set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "globalForwardingRules"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/aggregated/operations": {
      "get": {
        "description": "Retrieves the list of all operations grouped by scope.",
        "operationId": "compute.globalOperations.aggregatedList",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/OperationAggregatedList"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. Filter expression for filtering listed resources.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
            "default": "500",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "globalOperations"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/operations/{operation}": {
      "delete": {
        "description": "Deletes the specified operation resource.",
        "operationId": "compute.globalOperations.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "description": "Name of the operation resource to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "globalOperations"
        ]
      },
      "get": {
        "description": "Retrieves the specified operation resource.",
        "operationId": "compute.globalOperations.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "description": "Name of the operation resource to return.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "globalOperations"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/operations": {
      "get": {
        "description": "Retrieves the list of operation resources contained within the specified project.",
        "operationId": "compute.globalOperations.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. Filter expression for filtering listed resources.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
            "default": "500",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "globalOperations"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/httpHealthChecks/{httpHealthCheck}": {
      "delete": {
        "description": "Deletes the specified HttpHealthCheck resource.",
        "operationId": "compute.httpHealthChecks.delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "httpHealthCheck",
            "in": "path",
            "description": "Name of the HttpHealthCheck resource to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "httpHealthChecks"
        ]
      },
      "get": {
        "description": "Returns the specified HttpHealthCheck resource.",
        "operationId": "compute.httpHealthChecks.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/HttpHealthCheck"
            }
          }
        },
        "parameters": [
          {
            "name": "httpHealthCheck",
            "in": "path",
            "description": "Name of the HttpHealthCheck resource to return.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "httpHealthChecks"
        ]
      },
      "patch": {
        "description": "Updates a HttpHealthCheck resource in the specified project using the data included in the request. This method supports patch semantics.",
        "operationId": "compute.httpHealthChecks.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "httpHealthCheck",
            "in": "path",
            "description": "Name of the HttpHealthCheck resource to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "httpHealthChecks"
        ]
      },
      "put": {
        "description": "Updates a HttpHealthCheck resource in the specified project using the data included in the request.",
        "operationId": "compute.httpHealthChecks.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "httpHealthCheck",
            "in": "path",
            "description": "Name of the HttpHealthCheck resource to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "httpHealthChecks"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/httpHealthChecks": {
      "post": {
        "description": "Creates a HttpHealthCheck resource in the specified project using the data included in the request.",
        "operationId": "compute.httpHealthChecks.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "httpHealthChecks"
        ]
      },
      "get": {
        "description": "Retrieves the list of HttpHealthCheck resources available to the specified project.",
        "operationId": "compute.httpHealthChecks.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/HttpHealthCheckList"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. Filter expression for filtering listed resources.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
            "default": "500",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "httpHealthChecks"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/images/{image}": {
      "delete": {
        "description": "Deletes the specified image resource.",
        "operationId": "compute.images.delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "image",
            "in": "path",
            "description": "Name of the image resource to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "images"
        ]
      },
      "get": {
        "description": "Returns the specified image resource.",
        "operationId": "compute.images.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Image"
            }
          }
        },
        "parameters": [
          {
            "name": "image",
            "in": "path",
            "description": "Name of the image resource to return.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "images"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/images/{image}/deprecate": {
      "post": {
        "description": "Sets the deprecation status of an image.\n\nIf an empty request body is given, clears the deprecation status instead.",
        "operationId": "compute.images.deprecate",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "image",
            "in": "path",
            "description": "Image name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "images"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/images": {
      "post": {
        "description": "Creates an image resource in the specified project using the data included in the request.",
        "operationId": "compute.images.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/devstorage.full_control",
              "https://www.googleapis.com/auth/devstorage.read_only",
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "images"
        ]
      },
      "get": {
        "description": "Retrieves the list of image resources available to the specified project.",
        "operationId": "compute.images.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ImageList"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. Filter expression for filtering listed resources.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
            "default": "500",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "images"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/instanceTemplates/{instanceTemplate}": {
      "delete": {
        "description": "Deletes the specified instance template resource.",
        "operationId": "compute.instanceTemplates.delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceTemplate",
            "in": "path",
            "description": "Name of the instance template resource to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "instanceTemplates"
        ]
      },
      "get": {
        "description": "Returns the specified instance template resource.",
        "operationId": "compute.instanceTemplates.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/InstanceTemplate"
            }
          }
        },
        "parameters": [
          {
            "name": "instanceTemplate",
            "in": "path",
            "description": "Name of the instance template resource to return.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "instanceTemplates"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/global/instanceTemplates": {
      "post": {
        "description": "Creates an instance template resource in the specified project using the data included in the request.",
        "operationId": "compute.instanceTemplates.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
          }
        ],
        "tags": [
          "instanceTemplates"
        ]
      },
      "get": {
        "description": "Retrieves the list of instance template resources contained within the specified project.",
        "operationId": "compute.instanceTemplates.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/InstanceTemplateList"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. Filter expression for filtering listed resources.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
            "default": "500",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute",
              "https://www.googleapis.com/auth/compute.readonly"
            ]
          }
        ],
        "tags": [
          "instanceTemplates"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/zones/{zone}/instances/{instance}/addAccessConfig": {
      "post": {
        "description": "Adds an access config to an instance's network interface.",
        "operationId": "compute.instances.addAccessConfig",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "description": "The instance name for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkInterface",
            "in": "query",
            "description": "The name of the network interface to add to this instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Project ID for this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the zone for this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/compute"
            ]
[...]
