openapi: 3.0.0
servers:
  - url: 'https://management.azure.com/'
info:
  description: 'These APIs allow end users to operate on Azure Machine Learning Commitment Plans resources and their child Commitment Association resources. They support CRUD operations for commitment plans, get and list operations for commitment associations, moving commitment associations between commitment plans, and retrieving commitment plan usage history.'
  title: Azure ML Commitment Plans Management Client
  version: 2016-05-01-preview
  x-apisguru-categories:
    - machine_learning
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-machinelearning/2016-05-01-preview/swagger/commitmentPlans.json'
      version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: arm-machinelearning-commitmentPlans
  x-tags:
    - Azure
    - Microsoft
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearning/commitmentPlans':
    get:
      description: Retrieve all Azure ML commitment plans in a subscription.
      operationId: CommitmentPlans_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - description: Continuation token for pagination.
          in: query
          name: $skipToken
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/APIVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentPlanListResult'
      tags:
        - CommitmentPlans
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans':
    get:
      description: Retrieve all Azure ML commitment plans in a resource group.
      operationId: CommitmentPlans_ListInResourceGroup
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/SkipTokenParameter'
        - $ref: '#/components/parameters/APIVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentPlanListResult'
      tags:
        - CommitmentPlans
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}':
    delete:
      description: Remove an existing Azure ML commitment plan.
      operationId: CommitmentPlans_Remove
      responses:
        '200':
          description: OK
      tags:
        - CommitmentPlans
    get:
      description: 'Retrieve an Azure ML commitment plan by its subscription, resource group and name.'
      operationId: CommitmentPlans_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentPlan'
      tags:
        - CommitmentPlans
    parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/CommitmentPlanNameParameter'
      - $ref: '#/components/parameters/APIVersionParameter'
    patch:
      description: Patch an existing Azure ML commitment plan resource.
      operationId: CommitmentPlans_Patch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentPlan'
      tags:
        - CommitmentPlans
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommitmentPlanPatchPayload'
        description: The payload to use to patch the Azure ML commitment plan. Only tags and SKU may be modified on an existing commitment plan.
        required: true
    put:
      description: Create a new Azure ML commitment plan resource or updates an existing one.
      operationId: CommitmentPlans_CreateOrUpdate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentPlan'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentPlan'
      tags:
        - CommitmentPlans
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommitmentPlan'
        description: The payload to create or update the Azure ML commitment plan.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/commitmentAssociations':
    get:
      description: Get all commitment associations for a parent commitment plan.
      operationId: CommitmentAssociations_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/CommitmentPlanNameParameter'
        - $ref: '#/components/parameters/SkipTokenParameter'
        - $ref: '#/components/parameters/APIVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentAssociationListResult'
      tags:
        - CommitmentAssociations
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/commitmentAssociations/{commitmentAssociationName}':
    get:
      description: Get a commitment association.
      operationId: CommitmentAssociations_Get
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/CommitmentPlanNameParameter'
        - $ref: '#/components/parameters/CommitmentAssociationNameParameter'
        - $ref: '#/components/parameters/APIVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentAssociation'
      tags:
        - CommitmentAssociations
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/commitmentAssociations/{commitmentAssociationName}/move':
    post:
      description: Re-parent a commitment association from one commitment plan to another.
      operationId: CommitmentAssociations_Move
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/CommitmentPlanNameParameter'
        - $ref: '#/components/parameters/CommitmentAssociationNameParameter'
        - $ref: '#/components/parameters/APIVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentAssociation'
      tags:
        - CommitmentAssociations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveCommitmentAssociationRequest'
        description: The move request payload.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/usageHistory':
    get:
      description: Retrieve the usage history for an Azure ML commitment plan.
      operationId: UsageHistory_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/CommitmentPlanNameParameter'
        - $ref: '#/components/parameters/SkipTokenParameter'
        - $ref: '#/components/parameters/APIVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanUsageHistoryListResult'
      tags:
        - CommitmentPlans
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    CommitmentAssociation:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: 'Represents the association between a commitment plan and some other resource, such as a Machine Learning web service.'
      properties:
        etag:
          description: An entity tag used to enforce optimistic concurrency.
          type: string
        properties:
          $ref: '#/components/schemas/CommitmentAssociationProperties'
      type: object
    CommitmentAssociationListResult:
      description: A page of commitment association resources.
      properties:
        nextLink:
          description: A URI to retrieve the next page of results.
          type: string
        value:
          description: The set of results for this page.
          items:
            $ref: '#/components/schemas/CommitmentAssociation'
          type: array
      type: object
    CommitmentAssociationProperties:
      description: Properties of an Azure ML commitment association.
      properties:
        associatedResourceId:
          description: 'The ID of the resource this association points to, such as the ARM ID of an Azure ML web service.'
          readOnly: true
          type: string
        commitmentPlanId:
          description: The ARM ID of the parent Azure ML commitment plan.
          readOnly: true
          type: string
        creationDate:
          description: 'The date at which this commitment association was created, in ISO 8601 format.'
          format: date-time
          readOnly: true
          type: string
      type: object
    CommitmentPlan:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: An Azure ML commitment plan resource.
      properties:
        etag:
          description: An entity tag used to enforce optimistic concurrency.
          type: string
        properties:
          $ref: '#/components/schemas/CommitmentPlanProperties'
        sku:
          $ref: '#/components/schemas/ResourceSku'
      type: object
    CommitmentPlanListResult:
      description: A page of commitment plan resources.
      properties:
        nextLink:
          description: A URI to retrieve the next page of results.
          type: string
        value:
          description: The set of results for this page.
          items:
            $ref: '#/components/schemas/CommitmentPlan'
          type: array
      type: object
    CommitmentPlanPatchPayload:
      description: The properties of a commitment plan which may be updated via PATCH.
      properties:
        sku:
          $ref: '#/components/schemas/ResourceSku'
        tags:
          $ref: '#/components/schemas/Tags'
      type: object
    CommitmentPlanProperties:
      description: Properties of an Azure ML commitment plan.
      properties:
        chargeForOverage:
          description: Indicates whether usage beyond the commitment plan's included quantities will be charged.
          readOnly: true
          type: boolean
        chargeForPlan:
          description: Indicates whether the commitment plan will incur a charge.
          readOnly: true
          type: boolean
        creationDate:
          description: 'The date at which this commitment plan was created, in ISO 8601 format.'
          format: date-time
          readOnly: true
          type: string
        includedQuantities:
          additionalProperties:
            $ref: '#/components/schemas/PlanQuantity'
          description: The included resource quantities this plan gives you.
          readOnly: true
          type: object
        maxAssociationLimit:
          description: The maximum number of commitment associations that can be children of this commitment plan.
          format: int32
          readOnly: true
          type: integer
        maxCapacityLimit:
          description: The maximum scale-out capacity for this commitment plan.
          format: int32
          readOnly: true
          type: integer
        minCapacityLimit:
          description: The minimum scale-out capacity for this commitment plan.
          format: int32
          readOnly: true
          type: integer
        planMeter:
          description: The Azure meter which will be used to charge for this commitment plan.
          readOnly: true
          type: string
        refillFrequencyInDays:
          description: The frequency at which this commitment plan's included quantities are refilled.
          format: int32
          readOnly: true
          type: integer
        suspendPlanOnOverage:
          description: Indicates whether this commitment plan will be moved into a suspended state if usage goes beyond the commitment plan's included quantities.
          readOnly: true
          type: boolean
      type: object
    MoveCommitmentAssociationRequest:
      description: Specifies the destination Azure ML commitment plan for a move operation.
      properties:
        destinationPlanId:
          description: The ARM ID of the commitment plan to re-parent the commitment association to.
          type: string
      type: object
    PlanQuantity:
      description: Represents the quantity a commitment plan provides of a metered resource.
      properties:
        allowance:
          description: The quantity added to the commitment plan at an interval specified by its allowance frequency.
          format: double
          readOnly: true
          type: number
        amount:
          description: The quantity available to the plan the last time usage was calculated.
          format: double
          readOnly: true
          type: number
        includedQuantityMeter:
          description: The Azure meter for usage against included quantities.
          readOnly: true
          type: string
        overageMeter:
          description: The Azure meter for usage which exceeds included quantities.
          readOnly: true
          type: string
      type: object
    PlanUsageHistory:
      description: Represents historical information about usage of the Azure resources associated with a commitment plan.
      properties:
        planDeletionOverage:
          additionalProperties:
            format: double
            type: number
          description: Overage incurred as a result of deleting a commitment plan.
          type: object
        planMigrationOverage:
          additionalProperties:
            format: double
            type: number
          description: Overage incurred as a result of migrating a commitment plan from one SKU to another.
          type: object
        planQuantitiesAfterUsage:
          additionalProperties:
            format: double
            type: number
          description: Included quantities remaining after usage against the commitment plan's associated resources was calculated.
          type: object
        planQuantitiesBeforeUsage:
          additionalProperties:
            format: double
            type: number
          description: Included quantities remaining before usage against the commitment plan's associated resources was calculated.
          type: object
        planUsageOverage:
          additionalProperties:
            format: double
            type: number
          description: Usage against the commitment plan's associated resources which was not covered by included quantities and is therefore overage.
          type: object
        usage:
          additionalProperties:
            format: double
            type: number
          description: Usage against the commitment plan's associated resources.
          type: object
        usageDate:
          description: 'The date of usage, in ISO 8601 format.'
          format: date-time
          type: string
      type: object
    PlanUsageHistoryListResult:
      description: A page of usage history.
      properties:
        nextLink:
          description: A URI to retrieve the next page of results.
          type: string
        value:
          description: The set of results for this page.
          items:
            $ref: '#/components/schemas/PlanUsageHistory'
          type: array
      type: object
    Resource:
      description: Common properties of an ARM resource.
      properties:
        id:
          description: Resource Id.
          readOnly: true
          type: string
        location:
          description: Resource location.
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        tags:
          $ref: '#/components/schemas/Tags'
        type:
          description: Resource type.
          readOnly: true
          type: string
      required:
        - location
      x-ms-azure-resource: true
    ResourceSku:
      description: The SKU of a resource.
      properties:
        capacity:
          description: 'The scale-out capacity of the resource. 1 is 1x, 2 is 2x, etc. This impacts the quantities and cost of any commitment plan resource.'
          format: int32
          type: integer
        name:
          description: 'The SKU name. Along with tier, uniquely identifies the SKU.'
          type: string
        tier:
          description: 'The SKU tier. Along with name, uniquely identifies the SKU.'
          type: string
      type: object
    Tags:
      additionalProperties:
        type: string
      description: Resource tags
      type: object
  parameters:
    APIVersionParameter:
      description: The version of the Microsoft.MachineLearning resource provider API to use.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    CommitmentAssociationNameParameter:
      description: The commitment association name.
      in: path
      name: commitmentAssociationName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    CommitmentPlanNameParameter:
      description: The Azure ML commitment plan name.
      in: path
      name: commitmentPlanName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      description: The resource group name.
      in: path
      name: resourceGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SkipTokenParameter:
      description: Continuation token for pagination.
      in: query
      name: $skipToken
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      description: Azure Subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
