openapi: 3.0.0
servers:
  - url: 'http://api.data2crm.com:80/v1'
info:
  description: '<p>Make use of our in-depth documentation to get more information about the various functions of the service. Those willing to explore the mechanics of Data2CRM.API can test it in live regime using the short code samples.</p><p>Select CRM: <span id="docs-select-crm" style="font-weight: bold">Loading... please wait</span></p><p>Here are the API access keys:<br><b>X-API2CRM-USERKEY</b>: <span id="docs-user-key">e2a6379ab878ae7e58119d4ec842bf9c926e05b5</span><br><b>X-API2CRM-CRMKEY</b>: <span id="docs-crm-key">7ae5b17008fb414d84981191cf3b66a476ef8bef</span></p><p id="docs-crm-access">The CRM access details are:<br><b>URL</b>: <a id="docs-crm-url" href="https://login.salesforce.com/" target="_blank">https://login.salesforce.com/</a><br><b>E-mail / Username</b>: <span id="docs-crm-username">developers.data2crm.api+1@magneticone.com</span><br><b>Password</b>: <span id="docs-crm-password">data2crmapi123</span></p>'
  title: Data2CRM.API
  version: '1'
  x-logo:
    backgroundColor: '#3089CF'
    url: 'https://s3.amazonaws.com/enterprise-multitenant.3scale.net.3scale.net/data2crm-api/2445581398133/profiles/logos/medium/data2crm_api.png'
  x-origin:
    - format: swagger
      url: 'http://api.data2crm.com/docs/ref/get-swagger-v2'
      version: '2.0'
  x-providerName: data2crm.com
externalDocs:
  url: 'http://www.data2crm.com/api/'
tags:
  - description: Account Operations
    name: Account
  - description: Contact Operations
    name: Contact
  - description: Lead Operations
    name: Lead
  - description: Opportunity Operations
    name: Opportunity
  - description: Task Operations
    name: Task
  - description: User Operations
    name: User
  - description: Note Operations
    name: Note
  - description: Attachment Operations
    name: Attachment
  - description: Event Operations
    name: Event
  - description: Email Operations
    name: Email
  - description: Call Operations
    name: Call
  - description: Meeting Operations
    name: Meeting
  - description: CRM Operations
    name: Crm
  - description: Custom Field Operations
    name: CustomField
paths:
  /account:
    get:
      description: Returns all accounts from the system
      operationId: getAccountCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Data Enable
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          schema:
            type: string
            enum:
              - 'false'
              - 'true'
        - description: 'Amount of results (default: 25)'
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Start from record (default: 0)'
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
        - description: Filter
          in: query
          name: filter
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
            application/hal+json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
        '404':
          description: Not Found
      summary: GET for Account
      tags:
        - Account
    post:
      description: Add account into the system
      operationId: createAccountEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCreated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AccountCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Account
      tags:
        - Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreate'
        description: Add account into the system
        required: true
  /account/count:
    get:
      description: Count all accounts from the system
      operationId: getAccountCountCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Count'
        '404':
          description: Not Found
      summary: COUNT for Account
      tags:
        - Account
  /account/describe:
    get:
      description: Returns describe for accounts
      operationId: getAccountDescribe
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Describe'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Account
      tags:
        - Account
  '/account/{account_id}':
    delete:
      description: Delete account information
      operationId: deleteAccountEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Account Identifier
          in: path
          name: account_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Account
      tags:
        - Account
    get:
      description: Return account information
      operationId: getAccountEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Account Identifier
          in: path
          name: account_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Account'
        '404':
          description: Not Found
      summary: GET for Account
      tags:
        - Account
    put:
      description: Update account information
      operationId: updateAccountEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Account Identifier
          in: path
          name: account_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUpdated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AccountUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Account
      tags:
        - Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdate'
        description: Update account information
        required: true
  /attachment:
    get:
      description: Returns all attachments from the system
      operationId: getAttachmentCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Data Enable
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          schema:
            type: string
            enum:
              - 'false'
              - 'true'
        - description: 'Amount of results (default: 25)'
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Start from record (default: 0)'
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
        - description: Filter
          in: query
          name: filter
          required: false
          schema:
            type: string
        - description: Parent Type
          in: query
          name: parent_type
          required: false
          schema:
            type: string
            enum:
              - account
              - contact
              - lead
              - task
              - user
              - opportunity
              - note
        - description: Parent Identifier
          in: query
          name: parent_id
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Attachment'
                type: array
            application/hal+json:
              schema:
                items:
                  $ref: '#/components/schemas/Attachment'
                type: array
        '404':
          description: Not Found
      summary: GET for Attachment
      tags:
        - Attachment
    post:
      description: Add attachment into the system
      operationId: createAttachmentEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentCreated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AttachmentCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Attachment
      tags:
        - Attachment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentCreate'
        description: Add attachment into the system
        required: true
  /attachment/count:
    get:
      description: Count all attachments from the system
      operationId: getAttachmentCountCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Count'
        '404':
          description: Not Found
      summary: COUNT for Attachment
      tags:
        - Attachment
  /attachment/describe:
    get:
      description: Returns describe for attachments
      operationId: getAttachmentDescribe
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Describe'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Attachment
      tags:
        - Attachment
  '/attachment/{attachment_id}':
    delete:
      description: Delete attachment information
      operationId: deleteAttachmentEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Attachment Identifier
          in: path
          name: attachment_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Attachment
      tags:
        - Attachment
    get:
      description: Return attachment information
      operationId: getAttachmentEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Attachment Identifier
          in: path
          name: attachment_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '404':
          description: Not Found
      summary: GET for Attachment
      tags:
        - Attachment
    put:
      description: Update attachment information
      operationId: updateAttachmentEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Attachment Identifier
          in: path
          name: attachment_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentUpdated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AttachmentUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Attachment
      tags:
        - Attachment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentUpdate'
        description: Update attachment information
        required: true
  /call:
    get:
      description: Returns all calls from the system
      operationId: getCallCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Data Enable
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          schema:
            type: string
            enum:
              - 'false'
              - 'true'
        - description: 'Amount of results (default: 25)'
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Start from record (default: 0)'
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
        - description: Filter
          in: query
          name: filter
          required: false
          schema:
            type: string
        - description: Parent Type
          in: query
          name: parent_type
          required: false
          schema:
            type: string
            enum:
              - account
              - contact
              - lead
              - opportunity
              - task
              - user
        - description: Parent Identifier
          in: query
          name: parent_id
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Call'
                type: array
            application/hal+json:
              schema:
                items:
                  $ref: '#/components/schemas/Call'
                type: array
        '404':
          description: Not Found
      summary: GET for Call
      tags:
        - Call
    post:
      description: Add call into the system
      operationId: createCallEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallCreated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CallCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Call
      tags:
        - Call
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallCreate'
        description: Add call into the system
        required: true
  /call/count:
    get:
      description: Count all calls from the system
      operationId: getCallCountCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Count'
        '404':
          description: Not Found
      summary: COUNT for Call
      tags:
        - Call
  /call/describe:
    get:
      description: Returns describe for calls
      operationId: getCallDescribe
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Describe'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Call
      tags:
        - Call
  '/call/{call_id}':
    delete:
      description: Delete call information
      operationId: deleteCallEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Call Identifier
          in: path
          name: call_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Call
      tags:
        - Call
    get:
      description: Return call information
      operationId: getCallEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Call Identifier
          in: path
          name: call_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Call'
        '404':
          description: Not Found
      summary: GET for Call
      tags:
        - Call
    put:
      description: Update call information
      operationId: updateCallEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Call Identifier
          in: path
          name: call_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallUpdated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CallUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Call
      tags:
        - Call
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallUpdate'
        description: Update call information
        required: true
  /contact:
    get:
      description: Returns all contacts from the system
      operationId: getContactCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Data Enable
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          schema:
            type: string
            enum:
              - 'false'
              - 'true'
        - description: 'Amount of results (default: 25)'
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Start from record (default: 0)'
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
        - description: Filter
          in: query
          name: filter
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Contact'
                type: array
            application/hal+json:
              schema:
                items:
                  $ref: '#/components/schemas/Contact'
                type: array
        '404':
          description: Not Found
      summary: GET for Contact
      tags:
        - Contact
    post:
      description: Add contact into the system
      operationId: createContactEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCreated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ContactCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Contact
      tags:
        - Contact
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCreate'
        description: Add contact into the system
        required: true
  /contact/count:
    get:
      description: Count all contacts from the system
      operationId: getContactCountCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Count'
        '404':
          description: Not Found
      summary: COUNT for Contact
      tags:
        - Contact
  /contact/describe:
    get:
      description: Returns describe for contacts
      operationId: getContactDescribe
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Describe'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Contact
      tags:
        - Contact
  '/contact/{contact_id}':
    delete:
      description: Delete contact information
      operationId: deleteContactEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Contact Identifier
          in: path
          name: contact_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Contact
      tags:
        - Contact
    get:
      description: Return contact information
      operationId: getContactEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Contact Identifier
          in: path
          name: contact_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Contact'
        '404':
          description: Not Found
      summary: GET for Contact
      tags:
        - Contact
    put:
      description: Update contact information
      operationId: updateContactEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Contact Identifier
          in: path
          name: contact_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ContactUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Contact
      tags:
        - Contact
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdate'
        description: Update contact information
        required: true
  /crm:
    get:
      description: Returns all CRMs from the system
      operationId: getCrmCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: 'Amount of results (default: 25)'
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Start from record (default: 0)'
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
        - description: Filter
          in: query
          name: filter
          required: false
          schema:
            type: string
        - description: Type
          in: query
          name: type
          required: false
          schema:
            type: string
            enum:
              - Bitrix24
              - SugarCRM
              - SuiteCRM
              - BPMOnline
              - HubSpot
              - vtiger
              - OroCRM
              - ZohoCRM
              - Insightly
              - Salesforce
              - Solve360CRM
              - HighriseHQ
              - PipelineDeals
              - Pipedrive
              - CapsuleCRM
              - Zurmo
              - MicrosoftDynamics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Crm'
                type: array
            application/hal+json:
              schema:
                items:
                  $ref: '#/components/schemas/Crm'
                type: array
        '404':
          description: Not Found
      summary: GET for Crm
      tags:
        - Crm
    post:
      description: 'Add CRM into the system<br><a href="http://www.data2crm.com/api/faqs/need-connect-crm-data2crm-api/" target="_blank">What do I need to connect a CRM to Data2CRM.API?</a>'
      operationId: createCrmEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmCreated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CrmCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Crm
      tags:
        - Crm
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrmCreate'
        description: 'Add CRM into the system<br><a href="http://www.data2crm.com/api/faqs/need-connect-crm-data2crm-api/" target="_blank">What do I need to connect a CRM to Data2CRM.API?</a>'
        required: true
  /crm/count:
    get:
      description: Count all CRMs from the system
      operationId: getCrmCountCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Count'
        '404':
          description: Not Found
      summary: COUNT for Crm
      tags:
        - Crm
  '/crm/{crm_id}':
    delete:
      description: Delete CRM information
      operationId: deleteCrmEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Identifier
          in: path
          name: crm_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Crm
      tags:
        - Crm
    get:
      description: Return CRM information
      operationId: getCrmEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Identifier
          in: path
          name: crm_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Crm'
        '404':
          description: Not Found
      summary: GET for Crm
      tags:
        - Crm
    put:
      description: 'Update CRM information<br><a href="http://www.data2crm.com/api/faqs/need-connect-crm-data2crm-api/" target="_blank">What do I need to connect a CRM to Data2CRM.API?</a>'
      operationId: updateCrmEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Identifier
          in: path
          name: crm_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmUpdated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CrmUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Crm
      tags:
        - Crm
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrmUpdate'
        description: 'Update CRM information<br><a href="http://www.data2crm.com/api/faqs/need-connect-crm-data2crm-api/" target="_blank">What do I need to connect a CRM to Data2CRM.API?</a>'
        required: true
  /customField:
    get:
      description: Returns all custom field from the system
      operationId: getCustomFieldCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Data Enable
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          schema:
            type: string
            enum:
              - 'false'
              - 'true'
        - description: 'Amount of results (default: 25)'
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Start from record (default: 0)'
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
        - description: Filter
          in: query
          name: filter
          required: false
          schema:
            type: string
        - description: Entity
          in: query
          name: entity
          required: false
          schema:
            type: string
            enum:
              - account
              - contact
              - user
              - opportunity
              - task
              - lead
              - note
              - attachment
              - event
              - email
              - call
              - meeting
        - description: Label
          in: query
          name: label
          required: false
          schema:
            type: string
        - description: Name
          in: query
          name: name
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CustomField'
                type: array
            application/hal+json:
              schema:
                items:
                  $ref: '#/components/schemas/CustomField'
                type: array
        '404':
          description: Not Found
      summary: GET for CustomField
      tags:
        - CustomField
    post:
      description: Add custom field into the system
      operationId: createCustomFieldEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldCreated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CustomFieldCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for CustomField
      tags:
        - CustomField
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldCreate'
        description: Add custom field into the system
        required: true
  '/customField/{custom_field_id}':
    delete:
      description: Delete custom field information
      operationId: deleteCustomFieldEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Custom Field Identifier
          in: path
          name: custom_field_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for CustomField
      tags:
        - CustomField
    get:
      description: Return custom field information
      operationId: getCustomFieldEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Custom Field Identifier
          in: path
          name: custom_field_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CustomField'
        '404':
          description: Not Found
      summary: GET for CustomField
      tags:
        - CustomField
    put:
      description: Update custom field information
      operationId: updateCustomFieldEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Custom Field Identifier
          in: path
          name: custom_field_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldUpdated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CustomFieldUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for CustomField
      tags:
        - CustomField
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldUpdate'
        description: Update custom field information
        required: true
  /email:
    get:
      description: Returns all emails from the system
      operationId: getEmailCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Data Enable
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          schema:
            type: string
            enum:
              - 'false'
              - 'true'
        - description: 'Amount of results (default: 25)'
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Start from record (default: 0)'
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
        - description: Filter
          in: query
          name: filter
          required: false
          schema:
            type: string
        - description: Parent Type
          in: query
          name: parent_type
          required: false
          schema:
            type: string
            enum:
              - account
              - opportunity
              - contact
              - lead
              - user
              - task
        - description: Parent Identifier
          in: query
          name: parent_id
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Email'
                type: array
            application/hal+json:
              schema:
                items:
                  $ref: '#/components/schemas/Email'
                type: array
        '404':
          description: Not Found
      summary: GET for Email
      tags:
        - Email
    post:
      description: Add email into the system
      operationId: createEmailEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailCreated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EmailCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Email
      tags:
        - Email
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailCreate'
        description: Add email into the system
        required: true
  /email/count:
    get:
      description: Count all emails from the system
      operationId: getEmailCountCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Count'
        '404':
          description: Not Found
      summary: COUNT for Email
      tags:
        - Email
  /email/describe:
    get:
      description: Returns describe for emails
      operationId: getEmailDescribe
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Describe'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Email
      tags:
        - Email
  '/email/{email_id}':
    delete:
      description: Delete email information
      operationId: deleteEmailEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Email Identifier
          in: path
          name: email_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Email
      tags:
        - Email
    get:
      description: Return email information
      operationId: getEmailEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Email Identifier
          in: path
          name: email_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Email'
        '404':
          description: Not Found
      summary: GET for Email
      tags:
        - Email
    put:
      description: Update email information
      operationId: updateEmailEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Email Identifier
          in: path
          name: email_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailUpdated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EmailUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Email
      tags:
        - Email
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailUpdate'
        description: Update email information
        required: true
  /event:
    get:
      description: Returns all events from the system
      operationId: getEventCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Data Enable
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          schema:
            type: string
            enum:
              - 'false'
              - 'true'
        - description: 'Amount of results (default: 25)'
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Start from record (default: 0)'
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
        - description: Filter
          in: query
          name: filter
          required: false
          schema:
            type: string
        - description: Parent Type
          in: query
          name: parent_type
          required: false
          schema:
            type: string
            enum:
              - account
              - contact
              - lead
              - opportunity
              - task
              - user
        - description: Parent Identifier
          in: query
          name: parent_id
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Event'
                type: array
            application/hal+json:
              schema:
                items:
                  $ref: '#/components/schemas/Event'
                type: array
        '404':
          description: Not Found
      summary: GET for Event
      tags:
        - Event
    post:
      description: Add event into the system
      operationId: createEventEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCreated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EventCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Event
      tags:
        - Event
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCreate'
        description: Add event into the system
        required: true
  /event/count:
    get:
      description: Count all events from the system
      operationId: getEventCountCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Count'
        '404':
          description: Not Found
      summary: COUNT for Event
      tags:
        - Event
  /event/describe:
    get:
      description: Returns describe for events
      operationId: getEventDescribe
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Describe'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Event
      tags:
        - Event
  '/event/{event_id}':
    delete:
      description: Delete event information
      operationId: deleteEventEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Event Identifier
          in: path
          name: event_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Event
      tags:
        - Event
    get:
      description: Return event information
      operationId: getEventEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Event Identifier
          in: path
          name: event_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          description: Not Found
      summary: GET for Event
      tags:
        - Event
    put:
      description: Update event information
      operationId: updateEventEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Event Identifier
          in: path
          name: event_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventUpdated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EventUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Event
      tags:
        - Event
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventUpdate'
        description: Update event information
        required: true
  /lead:
    get:
      description: Returns all leads from the system
      operationId: getLeadCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Data Enable
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          schema:
            type: string
            enum:
              - 'false'
              - 'true'
        - description: 'Amount of results (default: 25)'
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Start from record (default: 0)'
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
        - description: Filter
          in: query
          name: filter
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Lead'
                type: array
            application/hal+json:
              schema:
                items:
                  $ref: '#/components/schemas/Lead'
                type: array
        '404':
          description: Not Found
      summary: GET for Lead
      tags:
        - Lead
    post:
      description: Add lead into the system
      operationId: createLeadEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadCreated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/LeadCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Lead
      tags:
        - Lead
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadCreate'
        description: Add lead into the system
        required: true
  /lead/count:
    get:
      description: Count all leads from the system
      operationId: getLeadCountCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Count'
        '404':
          description: Not Found
      summary: COUNT for Lead
      tags:
        - Lead
  /lead/describe:
    get:
      description: Returns describe for leads
      operationId: getLeadDescribe
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Describe'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Lead
      tags:
        - Lead
  '/lead/{lead_id}':
    delete:
      description: Delete lead information
      operationId: deleteLeadEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Lead Identifier
          in: path
          name: lead_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Lead
      tags:
        - Lead
    get:
      description: Return lead information
      operationId: getLeadEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Lead Identifier
          in: path
          name: lead_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lead'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Lead'
        '404':
          description: Not Found
      summary: GET for Lead
      tags:
        - Lead
    put:
      description: Update lead information
      operationId: updateLeadEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Lead Identifier
          in: path
          name: lead_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadUpdated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/LeadUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Lead
      tags:
        - Lead
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadUpdate'
        description: Update lead information
        required: true
  /meeting:
    get:
      description: Returns all meetings from the system
      operationId: getMeetingCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Data Enable
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          schema:
            type: string
            enum:
              - 'false'
              - 'true'
        - description: 'Amount of results (default: 25)'
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Start from record (default: 0)'
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
        - description: Filter
          in: query
          name: filter
          required: false
          schema:
            type: string
        - description: Parent Type
          in: query
          name: parent_type
          required: false
          schema:
            type: string
            enum:
              - account
              - contact
              - lead
              - opportunity
              - user
        - description: Parent Identifier
          in: query
          name: parent_id
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Meeting'
                type: array
            application/hal+json:
              schema:
                items:
                  $ref: '#/components/schemas/Meeting'
                type: array
        '404':
          description: Not Found
      summary: GET for Meeting
      tags:
        - Meeting
    post:
      description: Add meeting into the system
      operationId: createMeetingEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingCreated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/MeetingCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Meeting
      tags:
        - Meeting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingCreate'
        description: Add meeting into the system
        required: true
  /meeting/count:
    get:
      description: Count all meetings from the system
      operationId: getMeetingCountCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Count'
        '404':
          description: Not Found
      summary: COUNT for Meeting
      tags:
        - Meeting
  /meeting/describe:
    get:
      description: Returns describe for meetings
      operationId: getMeetingDescribe
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Describe'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Meeting
      tags:
        - Meeting
  '/meeting/{meeting_id}':
    delete:
      description: Delete meeting information
      operationId: deleteMeetingEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Meeting Identifier
          in: path
          name: meeting_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Meeting
      tags:
        - Meeting
    get:
      description: Return meeting information
      operationId: getMeetingEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Meeting Identifier
          in: path
          name: meeting_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meeting'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Meeting'
        '404':
          description: Not Found
      summary: GET for Meeting
      tags:
        - Meeting
    put:
      description: Update meeting information
      operationId: updateMeetingEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Meeting Identifier
          in: path
          name: meeting_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingUpdated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/MeetingUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Meeting
      tags:
        - Meeting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingUpdate'
        description: Update meeting information
        required: true
  /note:
    get:
      description: Returns all notes from the system
      operationId: getNoteCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Data Enable
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          schema:
            type: string
            enum:
              - 'false'
              - 'true'
        - description: 'Amount of results (default: 25)'
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Start from record (default: 0)'
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
        - description: Filter
          in: query
          name: filter
          required: false
          schema:
            type: string
        - description: Parent Type
          in: query
          name: parent_type
          required: false
          schema:
            type: string
            enum:
              - account
              - contact
              - lead
              - task
              - user
              - opportunity
              - event
        - description: Parent Identifier
          in: query
          name: parent_id
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Note'
                type: array
            application/hal+json:
              schema:
                items:
                  $ref: '#/components/schemas/Note'
                type: array
        '404':
          description: Not Found
      summary: GET for Note
      tags:
        - Note
    post:
      description: Add note into the system
      operationId: createNoteEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteCreated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NoteCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Note
      tags:
        - Note
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteCreate'
        description: Add note into the system
        required: true
  /note/count:
    get:
      description: Count all notes from the system
      operationId: getNoteCountCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Count'
        '404':
          description: Not Found
      summary: COUNT for Note
      tags:
        - Note
  /note/describe:
    get:
      description: Returns describe for notes
      operationId: getNoteDescribe
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Describe'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Note
      tags:
        - Note
  '/note/{note_id}':
    delete:
      description: Delete note information
      operationId: deleteNoteEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Note Identifier
          in: path
          name: note_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Note
      tags:
        - Note
    get:
      description: Return note information
      operationId: getNoteEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Note Identifier
          in: path
          name: note_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Note'
        '404':
          description: Not Found
      summary: GET for Note
      tags:
        - Note
    put:
      description: Update note information
      operationId: updateNoteEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Note Identifier
          in: path
          name: note_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteUpdated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NoteUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Note
      tags:
        - Note
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteUpdate'
        description: Update note information
        required: true
  /opportunity:
    get:
      description: Returns all opportunities from the system
      operationId: getOpportunityCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
        - description: Data Enable
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          schema:
            type: string
            enum:
              - 'false'
              - 'true'
        - description: 'Amount of results (default: 25)'
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Start from record (default: 0)'
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int32
        - description: Filter
          in: query
          name: filter
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Opportunity'
                type: array
            application/hal+json:
              schema:
                items:
                  $ref: '#/components/schemas/Opportunity'
                type: array
        '404':
          description: Not Found
      summary: GET for Opportunity
      tags:
        - Opportunity
    post:
      description: Add opportunity into the system
      operationId: createOpportunityEntity
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityCreated'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OpportunityCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Opportunity
      tags:
        - Opportunity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpportunityCreate'
        description: Add opportunity into the system
        required: true
  /opportunity/count:
    get:
      description: Count all opportunities from the system
      operationId: getOpportunityCountCollection
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          schema:
            type: string
            default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
        - description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          schema:
            type: string
            default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Count'
        '404':
          description: Not Found
      summary: COUNT for Opportunity
      tags:
        - Opportunity
  /opportunity/describe:
    get:
      description: Returns describe for opportunities
      operationId: getOpportunityDescribe
      parameters:
        - description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
[...]
