swagger: '2.0'
schemes:
  - http
host: 'api.data2crm.com:80'
basePath: /v1
info:
  description: '<p>Make use of our in-depth documentation to get more information about the various functions of the service. Those willing to explore the mechanics of Data2CRM.API can test it in live regime using the short code samples.</p><p>Select CRM: <span id="docs-select-crm" style="font-weight: bold">Loading... please wait</span></p><p>Here are the API access keys:<br><b>X-API2CRM-USERKEY</b>: <span id="docs-user-key">e2a6379ab878ae7e58119d4ec842bf9c926e05b5</span><br><b>X-API2CRM-CRMKEY</b>: <span id="docs-crm-key">7ae5b17008fb414d84981191cf3b66a476ef8bef</span></p><p id="docs-crm-access">The CRM access details are:<br><b>URL</b>: <a id="docs-crm-url" href="https://login.salesforce.com/" target="_blank">https://login.salesforce.com/</a><br><b>E-mail / Username</b>: <span id="docs-crm-username">developers.data2crm.api+1@magneticone.com</span><br><b>Password</b>: <span id="docs-crm-password">data2crmapi123</span></p>'
  title: Data2CRM.API
  version: '1'
  x-logo:
    backgroundColor: '#3089CF'
    url: 'https://s3.amazonaws.com/enterprise-multitenant.3scale.net.3scale.net/data2crm-api/2445581398133/profiles/logos/medium/data2crm_api.png'
  x-origin:
    format: swagger
    url: 'http://api.data2crm.com/docs/ref/get-swagger-v2'
    version: '2.0'
  x-providerName: data2crm.com
externalDocs:
  url: 'http://www.data2crm.com/api/'
responses:
  '401':
    description: Unauthorized
  '403':
    description: Forbidden
  '406':
    description: Not Acceptable
  '415':
    description: Unsupported Media Type
tags:
  - description: Account Operations
    name: Account
  - description: Contact Operations
    name: Contact
  - description: Lead Operations
    name: Lead
  - description: Opportunity Operations
    name: Opportunity
  - description: Task Operations
    name: Task
  - description: User Operations
    name: User
  - description: Note Operations
    name: Note
  - description: Attachment Operations
    name: Attachment
  - description: Event Operations
    name: Event
  - description: Email Operations
    name: Email
  - description: Call Operations
    name: Call
  - description: Meeting Operations
    name: Meeting
  - description: CRM Operations
    name: Crm
  - description: Custom Field Operations
    name: CustomField
paths:
  /account:
    get:
      consumes:
        - application/json
      description: Returns all accounts from the system
      operationId: getAccountCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data Enable
          enum:
            - 'false'
            - 'true'
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          type: string
        - description: 'Amount of results (default: 25)'
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: 'Start from record (default: 0)'
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Filter
          in: query
          name: filter
          required: false
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Account'
            type: array
        '404':
          description: Not Found
      summary: GET for Account
      tags:
        - Account
    post:
      consumes:
        - application/json
      description: Add account into the system
      operationId: createAccountEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Add account into the system
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AccountCreate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/AccountCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Account
      tags:
        - Account
  /account/count:
    get:
      consumes:
        - application/json
      description: Count all accounts from the system
      operationId: getAccountCountCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Count'
        '404':
          description: Not Found
      summary: COUNT for Account
      tags:
        - Account
  /account/describe:
    get:
      consumes:
        - application/json
      description: Returns describe for accounts
      operationId: getAccountDescribe
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Account
      tags:
        - Account
  '/account/{account_id}':
    delete:
      consumes:
        - application/json
      description: Delete account information
      operationId: deleteAccountEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Account Identifier
          in: path
          name: account_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Account
      tags:
        - Account
    get:
      consumes:
        - application/json
      description: Return account information
      operationId: getAccountEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Account Identifier
          in: path
          name: account_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Account'
        '404':
          description: Not Found
      summary: GET for Account
      tags:
        - Account
    put:
      consumes:
        - application/json
      description: Update account information
      operationId: updateAccountEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Account Identifier
          in: path
          name: account_id
          required: true
          type: string
        - description: Update account information
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AccountUpdate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AccountUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Account
      tags:
        - Account
  /attachment:
    get:
      consumes:
        - application/json
      description: Returns all attachments from the system
      operationId: getAttachmentCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data Enable
          enum:
            - 'false'
            - 'true'
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          type: string
        - description: 'Amount of results (default: 25)'
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: 'Start from record (default: 0)'
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Filter
          in: query
          name: filter
          required: false
          type: string
        - description: Parent Type
          enum:
            - account
            - contact
            - lead
            - task
            - user
            - opportunity
            - note
          in: query
          name: parent_type
          required: false
          type: string
        - description: Parent Identifier
          in: query
          name: parent_id
          required: false
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Attachment'
            type: array
        '404':
          description: Not Found
      summary: GET for Attachment
      tags:
        - Attachment
    post:
      consumes:
        - application/json
      description: Add attachment into the system
      operationId: createAttachmentEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Add attachment into the system
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AttachmentCreate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/AttachmentCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Attachment
      tags:
        - Attachment
  /attachment/count:
    get:
      consumes:
        - application/json
      description: Count all attachments from the system
      operationId: getAttachmentCountCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Count'
        '404':
          description: Not Found
      summary: COUNT for Attachment
      tags:
        - Attachment
  /attachment/describe:
    get:
      consumes:
        - application/json
      description: Returns describe for attachments
      operationId: getAttachmentDescribe
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Attachment
      tags:
        - Attachment
  '/attachment/{attachment_id}':
    delete:
      consumes:
        - application/json
      description: Delete attachment information
      operationId: deleteAttachmentEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Attachment Identifier
          in: path
          name: attachment_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Attachment
      tags:
        - Attachment
    get:
      consumes:
        - application/json
      description: Return attachment information
      operationId: getAttachmentEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Attachment Identifier
          in: path
          name: attachment_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Attachment'
        '404':
          description: Not Found
      summary: GET for Attachment
      tags:
        - Attachment
    put:
      consumes:
        - application/json
      description: Update attachment information
      operationId: updateAttachmentEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Attachment Identifier
          in: path
          name: attachment_id
          required: true
          type: string
        - description: Update attachment information
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AttachmentUpdate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AttachmentUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Attachment
      tags:
        - Attachment
  /call:
    get:
      consumes:
        - application/json
      description: Returns all calls from the system
      operationId: getCallCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data Enable
          enum:
            - 'false'
            - 'true'
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          type: string
        - description: 'Amount of results (default: 25)'
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: 'Start from record (default: 0)'
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Filter
          in: query
          name: filter
          required: false
          type: string
        - description: Parent Type
          enum:
            - account
            - contact
            - lead
            - opportunity
            - task
            - user
          in: query
          name: parent_type
          required: false
          type: string
        - description: Parent Identifier
          in: query
          name: parent_id
          required: false
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Call'
            type: array
        '404':
          description: Not Found
      summary: GET for Call
      tags:
        - Call
    post:
      consumes:
        - application/json
      description: Add call into the system
      operationId: createCallEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Add call into the system
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CallCreate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/CallCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Call
      tags:
        - Call
  /call/count:
    get:
      consumes:
        - application/json
      description: Count all calls from the system
      operationId: getCallCountCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Count'
        '404':
          description: Not Found
      summary: COUNT for Call
      tags:
        - Call
  /call/describe:
    get:
      consumes:
        - application/json
      description: Returns describe for calls
      operationId: getCallDescribe
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Call
      tags:
        - Call
  '/call/{call_id}':
    delete:
      consumes:
        - application/json
      description: Delete call information
      operationId: deleteCallEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Call Identifier
          in: path
          name: call_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Call
      tags:
        - Call
    get:
      consumes:
        - application/json
      description: Return call information
      operationId: getCallEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Call Identifier
          in: path
          name: call_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Call'
        '404':
          description: Not Found
      summary: GET for Call
      tags:
        - Call
    put:
      consumes:
        - application/json
      description: Update call information
      operationId: updateCallEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Call Identifier
          in: path
          name: call_id
          required: true
          type: string
        - description: Update call information
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CallUpdate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CallUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Call
      tags:
        - Call
  /contact:
    get:
      consumes:
        - application/json
      description: Returns all contacts from the system
      operationId: getContactCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data Enable
          enum:
            - 'false'
            - 'true'
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          type: string
        - description: 'Amount of results (default: 25)'
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: 'Start from record (default: 0)'
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Filter
          in: query
          name: filter
          required: false
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Contact'
            type: array
        '404':
          description: Not Found
      summary: GET for Contact
      tags:
        - Contact
    post:
      consumes:
        - application/json
      description: Add contact into the system
      operationId: createContactEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Add contact into the system
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ContactCreate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/ContactCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Contact
      tags:
        - Contact
  /contact/count:
    get:
      consumes:
        - application/json
      description: Count all contacts from the system
      operationId: getContactCountCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Count'
        '404':
          description: Not Found
      summary: COUNT for Contact
      tags:
        - Contact
  /contact/describe:
    get:
      consumes:
        - application/json
      description: Returns describe for contacts
      operationId: getContactDescribe
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Contact
      tags:
        - Contact
  '/contact/{contact_id}':
    delete:
      consumes:
        - application/json
      description: Delete contact information
      operationId: deleteContactEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Contact Identifier
          in: path
          name: contact_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Contact
      tags:
        - Contact
    get:
      consumes:
        - application/json
      description: Return contact information
      operationId: getContactEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Contact Identifier
          in: path
          name: contact_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Contact'
        '404':
          description: Not Found
      summary: GET for Contact
      tags:
        - Contact
    put:
      consumes:
        - application/json
      description: Update contact information
      operationId: updateContactEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Contact Identifier
          in: path
          name: contact_id
          required: true
          type: string
        - description: Update contact information
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ContactUpdate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ContactUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Contact
      tags:
        - Contact
  /crm:
    get:
      consumes:
        - application/json
      description: Returns all CRMs from the system
      operationId: getCrmCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - description: 'Amount of results (default: 25)'
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: 'Start from record (default: 0)'
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Filter
          in: query
          name: filter
          required: false
          type: string
        - description: Type
          enum:
            - Bitrix24
            - SugarCRM
            - SuiteCRM
            - BPMOnline
            - HubSpot
            - vtiger
            - OroCRM
            - ZohoCRM
            - Insightly
            - Salesforce
            - Solve360CRM
            - HighriseHQ
            - PipelineDeals
            - Pipedrive
            - CapsuleCRM
            - Zurmo
            - MicrosoftDynamics
          in: query
          name: type
          required: false
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Crm'
            type: array
        '404':
          description: Not Found
      summary: GET for Crm
      tags:
        - Crm
    post:
      consumes:
        - application/json
      description: 'Add CRM into the system<br><a href="http://www.data2crm.com/api/faqs/need-connect-crm-data2crm-api/" target="_blank">What do I need to connect a CRM to Data2CRM.API?</a>'
      operationId: createCrmEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - description: 'Add CRM into the system<br><a href="http://www.data2crm.com/api/faqs/need-connect-crm-data2crm-api/" target="_blank">What do I need to connect a CRM to Data2CRM.API?</a>'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CrmCreate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/CrmCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Crm
      tags:
        - Crm
  /crm/count:
    get:
      consumes:
        - application/json
      description: Count all CRMs from the system
      operationId: getCrmCountCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Count'
        '404':
          description: Not Found
      summary: COUNT for Crm
      tags:
        - Crm
  '/crm/{crm_id}':
    delete:
      consumes:
        - application/json
      description: Delete CRM information
      operationId: deleteCrmEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - description: CRM Identifier
          in: path
          name: crm_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Crm
      tags:
        - Crm
    get:
      consumes:
        - application/json
      description: Return CRM information
      operationId: getCrmEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - description: CRM Identifier
          in: path
          name: crm_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Crm'
        '404':
          description: Not Found
      summary: GET for Crm
      tags:
        - Crm
    put:
      consumes:
        - application/json
      description: 'Update CRM information<br><a href="http://www.data2crm.com/api/faqs/need-connect-crm-data2crm-api/" target="_blank">What do I need to connect a CRM to Data2CRM.API?</a>'
      operationId: updateCrmEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - description: CRM Identifier
          in: path
          name: crm_id
          required: true
          type: string
        - description: 'Update CRM information<br><a href="http://www.data2crm.com/api/faqs/need-connect-crm-data2crm-api/" target="_blank">What do I need to connect a CRM to Data2CRM.API?</a>'
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CrmUpdate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CrmUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Crm
      tags:
        - Crm
  /customField:
    get:
      consumes:
        - application/json
      description: Returns all custom field from the system
      operationId: getCustomFieldCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data Enable
          enum:
            - 'false'
            - 'true'
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          type: string
        - description: 'Amount of results (default: 25)'
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: 'Start from record (default: 0)'
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Filter
          in: query
          name: filter
          required: false
          type: string
        - description: Entity
          enum:
            - account
            - contact
            - user
            - opportunity
            - task
            - lead
            - note
            - attachment
            - event
            - email
            - call
            - meeting
          in: query
          name: entity
          required: false
          type: string
        - description: Label
          in: query
          name: label
          required: false
          type: string
        - description: Name
          in: query
          name: name
          required: false
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/CustomField'
            type: array
        '404':
          description: Not Found
      summary: GET for CustomField
      tags:
        - CustomField
    post:
      consumes:
        - application/json
      description: Add custom field into the system
      operationId: createCustomFieldEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Add custom field into the system
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CustomFieldCreate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/CustomFieldCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for CustomField
      tags:
        - CustomField
  '/customField/{custom_field_id}':
    delete:
      consumes:
        - application/json
      description: Delete custom field information
      operationId: deleteCustomFieldEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Custom Field Identifier
          in: path
          name: custom_field_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for CustomField
      tags:
        - CustomField
    get:
      consumes:
        - application/json
      description: Return custom field information
      operationId: getCustomFieldEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Custom Field Identifier
          in: path
          name: custom_field_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CustomField'
        '404':
          description: Not Found
      summary: GET for CustomField
      tags:
        - CustomField
    put:
      consumes:
        - application/json
      description: Update custom field information
      operationId: updateCustomFieldEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Custom Field Identifier
          in: path
          name: custom_field_id
          required: true
          type: string
        - description: Update custom field information
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CustomFieldUpdate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CustomFieldUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for CustomField
      tags:
        - CustomField
  /email:
    get:
      consumes:
        - application/json
      description: Returns all emails from the system
      operationId: getEmailCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data Enable
          enum:
            - 'false'
            - 'true'
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          type: string
        - description: 'Amount of results (default: 25)'
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: 'Start from record (default: 0)'
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Filter
          in: query
          name: filter
          required: false
          type: string
        - description: Parent Type
          enum:
            - account
            - opportunity
            - contact
            - lead
            - user
            - task
          in: query
          name: parent_type
          required: false
          type: string
        - description: Parent Identifier
          in: query
          name: parent_id
          required: false
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Email'
            type: array
        '404':
          description: Not Found
      summary: GET for Email
      tags:
        - Email
    post:
      consumes:
        - application/json
      description: Add email into the system
      operationId: createEmailEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Add email into the system
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/EmailCreate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/EmailCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Email
      tags:
        - Email
  /email/count:
    get:
      consumes:
        - application/json
      description: Count all emails from the system
      operationId: getEmailCountCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Count'
        '404':
          description: Not Found
      summary: COUNT for Email
      tags:
        - Email
  /email/describe:
    get:
      consumes:
        - application/json
      description: Returns describe for emails
      operationId: getEmailDescribe
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Email
      tags:
        - Email
  '/email/{email_id}':
    delete:
      consumes:
        - application/json
      description: Delete email information
      operationId: deleteEmailEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Email Identifier
          in: path
          name: email_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Email
      tags:
        - Email
    get:
      consumes:
        - application/json
      description: Return email information
      operationId: getEmailEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Email Identifier
          in: path
          name: email_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Email'
        '404':
          description: Not Found
      summary: GET for Email
      tags:
        - Email
    put:
      consumes:
        - application/json
      description: Update email information
      operationId: updateEmailEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Email Identifier
          in: path
          name: email_id
          required: true
          type: string
        - description: Update email information
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/EmailUpdate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/EmailUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Email
      tags:
        - Email
  /event:
    get:
      consumes:
        - application/json
      description: Returns all events from the system
      operationId: getEventCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data Enable
          enum:
            - 'false'
            - 'true'
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          type: string
        - description: 'Amount of results (default: 25)'
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: 'Start from record (default: 0)'
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Filter
          in: query
          name: filter
          required: false
          type: string
        - description: Parent Type
          enum:
            - account
            - contact
            - lead
            - opportunity
            - task
            - user
          in: query
          name: parent_type
          required: false
          type: string
        - description: Parent Identifier
          in: query
          name: parent_id
          required: false
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Event'
            type: array
        '404':
          description: Not Found
      summary: GET for Event
      tags:
        - Event
    post:
      consumes:
        - application/json
      description: Add event into the system
      operationId: createEventEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Add event into the system
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/EventCreate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/EventCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Event
      tags:
        - Event
  /event/count:
    get:
      consumes:
        - application/json
      description: Count all events from the system
      operationId: getEventCountCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Count'
        '404':
          description: Not Found
      summary: COUNT for Event
      tags:
        - Event
  /event/describe:
    get:
      consumes:
        - application/json
      description: Returns describe for events
      operationId: getEventDescribe
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Event
      tags:
        - Event
  '/event/{event_id}':
    delete:
      consumes:
        - application/json
      description: Delete event information
      operationId: deleteEventEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Event Identifier
          in: path
          name: event_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Event
      tags:
        - Event
    get:
      consumes:
        - application/json
      description: Return event information
      operationId: getEventEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Event Identifier
          in: path
          name: event_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Event'
        '404':
          description: Not Found
      summary: GET for Event
      tags:
        - Event
    put:
      consumes:
        - application/json
      description: Update event information
      operationId: updateEventEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Event Identifier
          in: path
          name: event_id
          required: true
          type: string
        - description: Update event information
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/EventUpdate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/EventUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Event
      tags:
        - Event
  /lead:
    get:
      consumes:
        - application/json
      description: Returns all leads from the system
      operationId: getLeadCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data Enable
          enum:
            - 'false'
            - 'true'
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          type: string
        - description: 'Amount of results (default: 25)'
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: 'Start from record (default: 0)'
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Filter
          in: query
          name: filter
          required: false
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Lead'
            type: array
        '404':
          description: Not Found
      summary: GET for Lead
      tags:
        - Lead
    post:
      consumes:
        - application/json
      description: Add lead into the system
      operationId: createLeadEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Add lead into the system
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/LeadCreate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/LeadCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Lead
      tags:
        - Lead
  /lead/count:
    get:
      consumes:
        - application/json
      description: Count all leads from the system
      operationId: getLeadCountCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Count'
        '404':
          description: Not Found
      summary: COUNT for Lead
      tags:
        - Lead
  /lead/describe:
    get:
      consumes:
        - application/json
      description: Returns describe for leads
      operationId: getLeadDescribe
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Lead
      tags:
        - Lead
  '/lead/{lead_id}':
    delete:
      consumes:
        - application/json
      description: Delete lead information
      operationId: deleteLeadEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Lead Identifier
          in: path
          name: lead_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Lead
      tags:
        - Lead
    get:
      consumes:
        - application/json
      description: Return lead information
      operationId: getLeadEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Lead Identifier
          in: path
          name: lead_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Lead'
        '404':
          description: Not Found
      summary: GET for Lead
      tags:
        - Lead
    put:
      consumes:
        - application/json
      description: Update lead information
      operationId: updateLeadEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Lead Identifier
          in: path
          name: lead_id
          required: true
          type: string
        - description: Update lead information
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/LeadUpdate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LeadUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Lead
      tags:
        - Lead
  /meeting:
    get:
      consumes:
        - application/json
      description: Returns all meetings from the system
      operationId: getMeetingCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data Enable
          enum:
            - 'false'
            - 'true'
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          type: string
        - description: 'Amount of results (default: 25)'
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: 'Start from record (default: 0)'
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Filter
          in: query
          name: filter
          required: false
          type: string
        - description: Parent Type
          enum:
            - account
            - contact
            - lead
            - opportunity
            - user
          in: query
          name: parent_type
          required: false
          type: string
        - description: Parent Identifier
          in: query
          name: parent_id
          required: false
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Meeting'
            type: array
        '404':
          description: Not Found
      summary: GET for Meeting
      tags:
        - Meeting
    post:
      consumes:
        - application/json
      description: Add meeting into the system
      operationId: createMeetingEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Add meeting into the system
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/MeetingCreate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/MeetingCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Meeting
      tags:
        - Meeting
  /meeting/count:
    get:
      consumes:
        - application/json
      description: Count all meetings from the system
      operationId: getMeetingCountCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Count'
        '404':
          description: Not Found
      summary: COUNT for Meeting
      tags:
        - Meeting
  /meeting/describe:
    get:
      consumes:
        - application/json
      description: Returns describe for meetings
      operationId: getMeetingDescribe
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Meeting
      tags:
        - Meeting
  '/meeting/{meeting_id}':
    delete:
      consumes:
        - application/json
      description: Delete meeting information
      operationId: deleteMeetingEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Meeting Identifier
          in: path
          name: meeting_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Meeting
      tags:
        - Meeting
    get:
      consumes:
        - application/json
      description: Return meeting information
      operationId: getMeetingEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Meeting Identifier
          in: path
          name: meeting_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Meeting'
        '404':
          description: Not Found
      summary: GET for Meeting
      tags:
        - Meeting
    put:
      consumes:
        - application/json
      description: Update meeting information
      operationId: updateMeetingEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Meeting Identifier
          in: path
          name: meeting_id
          required: true
          type: string
        - description: Update meeting information
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/MeetingUpdate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MeetingUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Meeting
      tags:
        - Meeting
  /note:
    get:
      consumes:
        - application/json
      description: Returns all notes from the system
      operationId: getNoteCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data Enable
          enum:
            - 'false'
            - 'true'
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          type: string
        - description: 'Amount of results (default: 25)'
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: 'Start from record (default: 0)'
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Filter
          in: query
          name: filter
          required: false
          type: string
        - description: Parent Type
          enum:
            - account
            - contact
            - lead
            - task
            - user
            - opportunity
            - event
          in: query
          name: parent_type
          required: false
          type: string
        - description: Parent Identifier
          in: query
          name: parent_id
          required: false
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Note'
            type: array
        '404':
          description: Not Found
      summary: GET for Note
      tags:
        - Note
    post:
      consumes:
        - application/json
      description: Add note into the system
      operationId: createNoteEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Add note into the system
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/NoteCreate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/NoteCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Note
      tags:
        - Note
  /note/count:
    get:
      consumes:
        - application/json
      description: Count all notes from the system
      operationId: getNoteCountCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Count'
        '404':
          description: Not Found
      summary: COUNT for Note
      tags:
        - Note
  /note/describe:
    get:
      consumes:
        - application/json
      description: Returns describe for notes
      operationId: getNoteDescribe
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Note
      tags:
        - Note
  '/note/{note_id}':
    delete:
      consumes:
        - application/json
      description: Delete note information
      operationId: deleteNoteEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Note Identifier
          in: path
          name: note_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Note
      tags:
        - Note
    get:
      consumes:
        - application/json
      description: Return note information
      operationId: getNoteEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Note Identifier
          in: path
          name: note_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Note'
        '404':
          description: Not Found
      summary: GET for Note
      tags:
        - Note
    put:
      consumes:
        - application/json
      description: Update note information
      operationId: updateNoteEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Note Identifier
          in: path
          name: note_id
          required: true
          type: string
        - description: Update note information
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/NoteUpdate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/NoteUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Note
      tags:
        - Note
  /opportunity:
    get:
      consumes:
        - application/json
      description: Returns all opportunities from the system
      operationId: getOpportunityCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data Enable
          enum:
            - 'false'
            - 'true'
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          type: string
        - description: 'Amount of results (default: 25)'
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: 'Start from record (default: 0)'
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Filter
          in: query
          name: filter
          required: false
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Opportunity'
            type: array
        '404':
          description: Not Found
      summary: GET for Opportunity
      tags:
        - Opportunity
    post:
      consumes:
        - application/json
      description: Add opportunity into the system
      operationId: createOpportunityEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Add opportunity into the system
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/OpportunityCreate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/OpportunityCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Opportunity
      tags:
        - Opportunity
  /opportunity/count:
    get:
      consumes:
        - application/json
      description: Count all opportunities from the system
      operationId: getOpportunityCountCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Count'
        '404':
          description: Not Found
      summary: COUNT for Opportunity
      tags:
        - Opportunity
  /opportunity/describe:
    get:
      consumes:
        - application/json
      description: Returns describe for opportunities
      operationId: getOpportunityDescribe
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Opportunity
      tags:
        - Opportunity
  '/opportunity/{opportunity_id}':
    delete:
      consumes:
        - application/json
      description: Delete opportunity information
      operationId: deleteOpportunityEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Opportunity Identifier
          in: path
          name: opportunity_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      summary: DELETE for Opportunity
      tags:
        - Opportunity
    get:
      consumes:
        - application/json
      description: Return opportunity information
      operationId: getOpportunityEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Opportunity Identifier
          in: path
          name: opportunity_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Opportunity'
        '404':
          description: Not Found
      summary: GET for Opportunity
      tags:
        - Opportunity
    put:
      consumes:
        - application/json
      description: Update opportunity information
      operationId: updateOpportunityEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Opportunity Identifier
          in: path
          name: opportunity_id
          required: true
          type: string
        - description: Update opportunity information
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/OpportunityUpdate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OpportunityUpdated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: PUT for Opportunity
      tags:
        - Opportunity
  /task:
    get:
      consumes:
        - application/json
      description: Returns all tasks from the system
      operationId: getTaskCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data Enable
          enum:
            - 'false'
            - 'true'
          in: header
          name: X-API2CRM-DATA-ENABLE
          required: false
          type: string
        - description: 'Amount of results (default: 25)'
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - description: 'Start from record (default: 0)'
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - description: Filter
          in: query
          name: filter
          required: false
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Task'
            type: array
        '404':
          description: Not Found
      summary: GET for Task
      tags:
        - Task
    post:
      consumes:
        - application/json
      description: Add task into the system
      operationId: createTaskEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Add task into the system
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TaskCreate'
      produces:
        - application/json
        - application/hal+json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/TaskCreated'
        '400':
          description: Client Error
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      summary: POST for Task
      tags:
        - Task
  /task/count:
    get:
      consumes:
        - application/json
      description: Count all tasks from the system
      operationId: getTaskCountCollection
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Count'
        '404':
          description: Not Found
      summary: COUNT for Task
      tags:
        - Task
  /task/describe:
    get:
      consumes:
        - application/json
      description: Returns describe for tasks
      operationId: getTaskDescribe
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Describe'
        '404':
          description: Not Found
      summary: DESCRIBE for Task
      tags:
        - Task
  '/task/{task_id}':
    delete:
      consumes:
        - application/json
      description: Delete task information
      operationId: deleteTaskEntity
      parameters:
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User Key
          in: header
          name: X-API2CRM-USERKEY
          required: true
          type: string
        - default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Task Identifier
          in: path
          name: task_id
          required: true
          type: string
      produces:
        - application/json
        - application/hal+json
      responses:
        '204':
          description: No Content
        '404':
[...]
