{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://walletobjects.googleapis.com/"
    }
  ],
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "description": "API for issuers to save and manage Google Wallet Objects.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Google Pay Passes API",
    "version": "v1",
    "x-origin": [
      {
        "format": "google",
        "url": "https://walletobjects.googleapis.com/$discovery/rest?version=v1",
        "version": "v1"
      }
    ],
    "x-providerName": "walletobjects.googleapis.com",
    "x-serviceName": "pay-passes",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg"
    }
  },
  "externalDocs": {
    "url": "https://developers.google.com/pay/passes"
  },
  "tags": [
    {
      "name": "eventticketclass"
    },
    {
      "name": "eventticketobject"
    },
    {
      "name": "flightclass"
    },
    {
      "name": "flightobject"
    },
    {
      "name": "genericclass"
    },
    {
      "name": "genericobject"
    },
    {
      "name": "giftcardclass"
    },
    {
      "name": "giftcardobject"
    },
    {
      "name": "issuer"
    },
    {
      "name": "jwt"
    },
    {
      "name": "loyaltyclass"
    },
    {
      "name": "loyaltyobject"
    },
    {
      "name": "media"
    },
    {
      "name": "offerclass"
    },
    {
      "name": "offerobject"
    },
    {
      "name": "permissions"
    },
    {
      "name": "smarttap"
    },
    {
      "name": "transitclass"
    },
    {
      "name": "transitobject"
    },
    {
      "name": "walletobjects"
    }
  ],
  "paths": {
    "/walletobjects/v1/eventTicketClass": {
      "get": {
        "description": "Returns a list of all event ticket classes for a given issuer ID.",
        "operationId": "walletobjects.eventticketclass.list",
        "parameters": [
          {
            "description": "The ID of the issuer authorized to list classes.",
            "in": "query",
            "name": "issuerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventTicketClassListResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "eventticketclass"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Inserts an event ticket class with the given ID and properties.",
        "operationId": "walletobjects.eventticketclass.insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventTicketClass"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventTicketClass"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "eventticketclass"
        ]
      }
    },
    "/walletobjects/v1/eventTicketClass/{resourceId}": {
      "get": {
        "description": "Returns the event ticket class with the given class ID.",
        "operationId": "walletobjects.eventticketclass.get",
        "parameters": [
          {
            "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventTicketClass"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "eventticketclass"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "patch": {
        "description": "Updates the event ticket class referenced by the given class ID. This method supports patch semantics.",
        "operationId": "walletobjects.eventticketclass.patch",
        "parameters": [
          {
            "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventTicketClass"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventTicketClass"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "eventticketclass"
        ]
      },
      "put": {
        "description": "Updates the event ticket class referenced by the given class ID.",
        "operationId": "walletobjects.eventticketclass.update",
        "parameters": [
          {
            "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventTicketClass"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventTicketClass"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "eventticketclass"
        ]
      }
    },
    "/walletobjects/v1/eventTicketClass/{resourceId}/addMessage": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Adds a message to the event ticket class referenced by the given class ID.",
        "operationId": "walletobjects.eventticketclass.addmessage",
        "parameters": [
          {
            "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventTicketClassAddMessageResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "eventticketclass"
        ]
      }
    },
    "/walletobjects/v1/eventTicketObject": {
      "get": {
        "description": "Returns a list of all event ticket objects for a given issuer ID.",
        "operationId": "walletobjects.eventticketobject.list",
        "parameters": [
          {
            "description": "The ID of the class whose objects will be listed.",
            "in": "query",
            "name": "classId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventTicketObjectListResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "eventticketobject"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Inserts an event ticket object with the given ID and properties.",
        "operationId": "walletobjects.eventticketobject.insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventTicketObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventTicketObject"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "eventticketobject"
        ]
      }
    },
    "/walletobjects/v1/eventTicketObject/{resourceId}": {
      "get": {
        "description": "Returns the event ticket object with the given object ID.",
        "operationId": "walletobjects.eventticketobject.get",
        "parameters": [
          {
            "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventTicketObject"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "eventticketobject"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "patch": {
        "description": "Updates the event ticket object referenced by the given object ID. This method supports patch semantics.",
        "operationId": "walletobjects.eventticketobject.patch",
        "parameters": [
          {
            "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventTicketObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventTicketObject"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "eventticketobject"
        ]
      },
      "put": {
        "description": "Updates the event ticket object referenced by the given object ID.",
        "operationId": "walletobjects.eventticketobject.update",
        "parameters": [
          {
            "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventTicketObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventTicketObject"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "eventticketobject"
        ]
      }
    },
    "/walletobjects/v1/eventTicketObject/{resourceId}/addMessage": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Adds a message to the event ticket object referenced by the given object ID.",
        "operationId": "walletobjects.eventticketobject.addmessage",
        "parameters": [
          {
            "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventTicketObjectAddMessageResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "eventticketobject"
        ]
      }
    },
    "/walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Modifies linked offer objects for the event ticket object with the given ID.",
        "operationId": "walletobjects.eventticketobject.modifylinkedofferobjects",
        "parameters": [
          {
            "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyLinkedOfferObjectsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventTicketObject"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "eventticketobject"
        ]
      }
    },
    "/walletobjects/v1/flightClass": {
      "get": {
        "description": "Returns a list of all flight classes for a given issuer ID.",
        "operationId": "walletobjects.flightclass.list",
        "parameters": [
          {
            "description": "The ID of the issuer authorized to list classes.",
            "in": "query",
            "name": "issuerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightClassListResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "flightclass"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Inserts an flight class with the given ID and properties.",
        "operationId": "walletobjects.flightclass.insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlightClass"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightClass"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "flightclass"
        ]
      }
    },
    "/walletobjects/v1/flightClass/{resourceId}": {
      "get": {
        "description": "Returns the flight class with the given class ID.",
        "operationId": "walletobjects.flightclass.get",
        "parameters": [
          {
            "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightClass"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "flightclass"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "patch": {
        "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics.",
        "operationId": "walletobjects.flightclass.patch",
        "parameters": [
          {
            "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlightClass"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightClass"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "flightclass"
        ]
      },
      "put": {
        "description": "Updates the flight class referenced by the given class ID.",
        "operationId": "walletobjects.flightclass.update",
        "parameters": [
          {
            "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlightClass"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightClass"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "flightclass"
        ]
      }
    },
    "/walletobjects/v1/flightClass/{resourceId}/addMessage": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Adds a message to the flight class referenced by the given class ID.",
        "operationId": "walletobjects.flightclass.addmessage",
        "parameters": [
          {
            "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightClassAddMessageResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "flightclass"
        ]
      }
    },
    "/walletobjects/v1/flightObject": {
      "get": {
        "description": "Returns a list of all flight objects for a given issuer ID.",
        "operationId": "walletobjects.flightobject.list",
        "parameters": [
          {
            "description": "The ID of the class whose objects will be listed.",
            "in": "query",
            "name": "classId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightObjectListResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "flightobject"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Inserts an flight object with the given ID and properties.",
        "operationId": "walletobjects.flightobject.insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlightObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightObject"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "flightobject"
        ]
      }
    },
    "/walletobjects/v1/flightObject/{resourceId}": {
      "get": {
        "description": "Returns the flight object with the given object ID.",
        "operationId": "walletobjects.flightobject.get",
        "parameters": [
          {
            "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightObject"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "flightobject"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "patch": {
        "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics.",
        "operationId": "walletobjects.flightobject.patch",
        "parameters": [
          {
            "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlightObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightObject"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "flightobject"
        ]
      },
      "put": {
        "description": "Updates the flight object referenced by the given object ID.",
        "operationId": "walletobjects.flightobject.update",
        "parameters": [
          {
            "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlightObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightObject"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "flightobject"
        ]
      }
    },
    "/walletobjects/v1/flightObject/{resourceId}/addMessage": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Adds a message to the flight object referenced by the given object ID.",
        "operationId": "walletobjects.flightobject.addmessage",
        "parameters": [
          {
            "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightObjectAddMessageResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "flightobject"
        ]
      }
    },
    "/walletobjects/v1/genericClass": {
      "get": {
        "description": "Returns a list of all generic classes for a given issuer ID.",
        "operationId": "walletobjects.genericclass.list",
        "parameters": [
          {
            "description": "The ID of the issuer authorized to list classes.",
            "in": "query",
            "name": "issuerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericClassListResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "genericclass"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Inserts a generic class with the given ID and properties.",
        "operationId": "walletobjects.genericclass.insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericClass"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericClass"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "genericclass"
        ]
      }
    },
    "/walletobjects/v1/genericClass/{resourceId}": {
      "get": {
        "description": "Returns the generic class with the given class ID.",
        "operationId": "walletobjects.genericclass.get",
        "parameters": [
          {
            "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericClass"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "genericclass"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "patch": {
        "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics.",
        "operationId": "walletobjects.genericclass.patch",
        "parameters": [
          {
            "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericClass"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericClass"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "genericclass"
        ]
      },
      "put": {
        "description": "Updates the Generic class referenced by the given class ID.",
        "operationId": "walletobjects.genericclass.update",
        "parameters": [
          {
            "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericClass"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericClass"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "genericclass"
        ]
      }
    },
    "/walletobjects/v1/genericObject": {
      "get": {
        "description": "Returns a list of all generic objects for a given issuer ID.",
        "operationId": "walletobjects.genericobject.list",
        "parameters": [
          {
            "description": "The ID of the class whose objects will be listed.",
            "in": "query",
            "name": "classId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectListResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "genericobject"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Inserts a generic object with the given ID and properties.",
        "operationId": "walletobjects.genericobject.insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObject"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "genericobject"
        ]
      }
    },
    "/walletobjects/v1/genericObject/{resourceId}": {
      "get": {
        "description": "Returns the generic object with the given object ID.",
        "operationId": "walletobjects.genericobject.get",
        "parameters": [
          {
            "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObject"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "genericobject"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "patch": {
        "description": "Updates the generic object referenced by the given object ID. This method supports patch semantics.",
        "operationId": "walletobjects.genericobject.patch",
        "parameters": [
          {
            "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObject"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "genericobject"
        ]
      },
      "put": {
        "description": "Updates the generic object referenced by the given object ID.",
        "operationId": "walletobjects.genericobject.update",
        "parameters": [
          {
            "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObject"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "genericobject"
        ]
      }
    },
    "/walletobjects/v1/giftCardClass": {
      "get": {
        "description": "Returns a list of all gift card classes for a given issuer ID.",
        "operationId": "walletobjects.giftcardclass.list",
        "parameters": [
          {
            "description": "The ID of the issuer authorized to list classes.",
            "in": "query",
            "name": "issuerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiftCardClassListResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "giftcardclass"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Inserts an gift card class with the given ID and properties.",
        "operationId": "walletobjects.giftcardclass.insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GiftCardClass"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiftCardClass"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "giftcardclass"
        ]
      }
    },
    "/walletobjects/v1/giftCardClass/{resourceId}": {
      "get": {
        "description": "Returns the gift card class with the given class ID.",
        "operationId": "walletobjects.giftcardclass.get",
        "parameters": [
          {
            "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiftCardClass"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "giftcardclass"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "patch": {
        "description": "Updates the gift card class referenced by the given class ID. This method supports patch semantics.",
        "operationId": "walletobjects.giftcardclass.patch",
        "parameters": [
          {
            "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GiftCardClass"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiftCardClass"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "giftcardclass"
        ]
      },
      "put": {
        "description": "Updates the gift card class referenced by the given class ID.",
        "operationId": "walletobjects.giftcardclass.update",
        "parameters": [
          {
            "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GiftCardClass"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiftCardClass"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "giftcardclass"
        ]
      }
    },
    "/walletobjects/v1/giftCardClass/{resourceId}/addMessage": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Adds a message to the gift card class referenced by the given class ID.",
        "operationId": "walletobjects.giftcardclass.addmessage",
        "parameters": [
          {
            "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiftCardClassAddMessageResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "giftcardclass"
        ]
      }
    },
    "/walletobjects/v1/giftCardObject": {
      "get": {
        "description": "Returns a list of all gift card objects for a given issuer ID.",
        "operationId": "walletobjects.giftcardobject.list",
        "parameters": [
          {
            "description": "The ID of the class whose objects will be listed.",
            "in": "query",
            "name": "classId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiftCardObjectListResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "giftcardobject"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Inserts an gift card object with the given ID and properties.",
        "operationId": "walletobjects.giftcardobject.insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GiftCardObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiftCardObject"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "giftcardobject"
        ]
      }
    },
    "/walletobjects/v1/giftCardObject/{resourceId}": {
      "get": {
        "description": "Returns the gift card object with the given object ID.",
        "operationId": "walletobjects.giftcardobject.get",
        "parameters": [
          {
            "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiftCardObject"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "giftcardobject"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "patch": {
        "description": "Updates the gift card object referenced by the given object ID. This method supports patch semantics.",
        "operationId": "walletobjects.giftcardobject.patch",
        "parameters": [
          {
            "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GiftCardObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiftCardObject"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "giftcardobject"
        ]
      },
      "put": {
        "description": "Updates the gift card object referenced by the given object ID.",
        "operationId": "walletobjects.giftcardobject.update",
        "parameters": [
          {
            "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GiftCardObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiftCardObject"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "giftcardobject"
        ]
      }
    },
    "/walletobjects/v1/giftCardObject/{resourceId}/addMessage": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Adds a message to the gift card object referenced by the given object ID.",
        "operationId": "walletobjects.giftcardobject.addmessage",
        "parameters": [
          {
            "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiftCardObjectAddMessageResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "giftcardobject"
        ]
      }
    },
    "/walletobjects/v1/issuer": {
      "get": {
        "description": "Returns a list of all issuers shared to the caller.",
        "operationId": "walletobjects.issuer.list",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuerListResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "issuer"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Inserts an issuer with the given ID and properties.",
        "operationId": "walletobjects.issuer.insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Issuer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Issuer"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "issuer"
        ]
      }
    },
    "/walletobjects/v1/issuer/{resourceId}": {
      "get": {
        "description": "Returns the issuer with the given issuer ID.",
        "operationId": "walletobjects.issuer.get",
        "parameters": [
          {
            "description": "The unique identifier for an issuer.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Issuer"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/wallet_object.issuer"
            ]
          }
        ],
        "tags": [
          "issuer"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "patch": {
        "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics.",
        "operationId": "walletobjects.issuer.patch",
        "parameters": [
          {
            "description": "The unique identifier for an issuer.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Issuer"
              }
            }
          }
        },
        "responses": {
[...]
